[2021-06-08 04:27] lajiyuan commented on #5636
Thanks for the reply, but I still don't understand why the speed is so slow.
In the past 12 hours, the row count in mysql has only increased by 2kw, and there is still 5kw of data that cannot be queried. Do you need other information to determine the problem?

[2021-06-08 04:31] yhmo commented on #5636
Did you make code change? I saw the mysql meta schema is changed.

[2021-06-08 04:32] lajiyuan commented on #5636
When I imported 200 million data for the first time, the process of indexing the merged files was very fast, and I did not encounter the above problems, but when I continued to import 200 million features, the above problems appeared.
By the way, if I restart the service now, can the data be guaranteed to be complete?

[2021-06-08 04:33] lajiyuan commented on #5636
Yes, I changed the code. Because our MySQL does not support delete operations, we added the is_del field, and replaced all delete operations with update, and all query operations added is_del conditions.

[2021-06-08 04:35] lajiyuan commented on #5636
All my changes are in this file "MySQLMetaImpl.cpp".

[2021-06-08 04:38] yhmo commented on #5636
If you start milvus with the /milvus/core/start_server.sh, then you need to run stop_server.sh to stop it. Milvus will wait the background threads(merge task, build index task) to finished, it may hangs for a period of time. Once milvus successfully stop, the data will be safe.
Could you share your code change to me?

[2021-06-08 04:40] lajiyuan commented on #5636
total vector count is 400M,But now only 320 million can be found in mysql.

[2021-06-08 04:52] lajiyuan commented on #5636
This may take some time. Is it possible to judge the problem only through the debug log?

[2021-06-08 05:08] del-zhenwu opened #5660 "Remove field name returned by collection.index.params"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

**Expected behavior**
A clear and con

[2021-06-08 06:01] yhmo commented on #5636
From the log, I saw the merge task merge big segment with small small segment:
[code]
This is not good behavior, will cause "write amplify", these merge actions were according to the rule "if a segment is not merged for long time(30 seconds), milvus will force merge it with the upper level".

In your scenario, how many vectors inserted in one insert() action? How many vectors inserted in one minut

[2021-06-08 06:14] yhmo commented on #5636
Could you use the command to filter out "Merge task files size info:" in the debug.log?
`cat milvus-xxxxx-debug.log|grep "Merge task files size info:" > merge.txt`
And send me the merge.txt

[2021-06-08 06:17] lajiyuan commented on #5636
A total of 5000 records are inserted for each business insert operation, divided into 10 milvus.insert operations, 10 parititions are inserted respectively, and a business insert operation is performed approximately once per second.
So it is equivalent to 500 records per insert operation, and 10 insert operations per second.

[2021-06-08 06:18] lajiyuan commented on #5636
OK，wait a minute.

[2021-06-08 06:43] cydrain opened #5662 "ETCD support address array"
**Please state your issue using the following template and, most importantly, in English.**

**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
change etcd->address type to array in configs/milvus.yaml

[2021-06-08 06:46] lajiyuan commented on #5636
[merge.txt](https://github.com/milvus-io/milvus/files/6614076/merge.txt)

[2021-06-08 06:46] lajiyuan commented on #5636
@yhmo  The above is the information you need, please take a look at it，thanks.

[2021-06-08 07:18] binbinlv opened #5663 "Collection initial failed after creating invalid index"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Collection initial failed after creating invalid index

**Steps/Code to reproduce behavior**
1 create collection （insert binary data)
2 create invalid index -- report code=1, message=create index failed (successfully)
   default_index = {"index_type": "IVF_FLAT", "params": {"nlist": 12

[2021-06-08 07:24] wangting0128 opened #5664 "Multi-threaded creation of singleton mode may cause problems"
**Please state your issue using the following template and, most importantly, in English.**

**Is your feature request related to a problem? Please describe.**
Multi-threaded creation of singleton mode may cause problems, as follows:
class SingleInstanceMetaClass(type):
    def __init__(cls, name, bases, dic):
        cls.__single_instance = None
        super().__init__(name, bases, dic)

    def

[2021-06-08 07:49] DragonDriver commented on #5664
Yeah, thanks for pointing out this. I will use a `check-lock-check` pattern to keep the instance initialized only once.

[2021-06-08 08:22] yhmo commented on #5636
The log shows lot of merge action between huge segment and small segment.
I have some questions:
1. In the server_config.yaml, the `auto_flush_interval` value is 1?
2. Is the following pseudo code similar to your scenario?
[code]

3. How do you check the row count growth from mysql? Since there are new segments generated and old segments deleted, the row count calculate by mysql may not be accurac

[2021-06-08 08:24] yhmo commented on #5636
To get total row count of a table, you can use milvus api:
[code]

[2021-06-08 08:28] lajiyuan commented on #5636
1. YES
2.
create_collection("AAA")
{
"colName": "test",
"dimension": 128,
"indexFileSize": 4096,
"metricType": 1
}
create_index() { "colName": "test", "nlist": 4096, "indexType": 3 }
for i in range(10):
         partition_tag = "partition_"+str(i)
         create_partition(partition_tag)
......
3. SELECT  SUM(`row_count`) AS `sum` FROM `TableFiles` WHERE `file_type` IN (1,2,3)  ,This method should

[2021-06-08 08:28] ThreadDao opened #5667 "List collections raise a ResourceExhausted exception"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
1. create connection and connect
2. utility list collections
[code]

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and resolve t

[2021-06-08 08:54] lajiyuan commented on #5636
Yes, that's it.

[2021-06-08 09:15] ThreadDao opened #5671 "No exception is thrown when list collection without connection"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
[code]

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

**Expected behavior**
A clear

[2021-06-08 09:23] del-zhenwu opened #5673 "get_index_build_progress failed if collection is empty"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**

[code]
**Steps/Code to reproduce behavior**
test `test_index_process_collection_empty`

**Expected behavior**
A clear and concise description of what you expected to happen.

**Method of installation**
- [ ] Docker/cpu
- [ ] Docker/gpu
- [ ] Build from source

**Environment details**

[2021-06-08 09:26] del-zhenwu opened #5674 "get_index_build_progress failed if not index created"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
**Steps/Code to reproduce behavior**
[code]
**Expected behavior**
A clear and concise description of what you expected to happen.

**Method of installation**
- [ ] Docker/cpu
- [ ] Docker/gpu
- [ ] Build from source

**Environment details**
- Hardware/Software conditions (OS, CP

[2021-06-08 09:56] yhmo commented on #5636
The WAL is enable or disable?

[2021-06-08 10:07] lajiyuan commented on #5636
enable ，In the first comment, I gave the configuration file.

[2021-06-08 10:14] ThreadDao opened #5675 "The binary vector dim of creating collection and inserting data are inconsistent"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
1. create connection and connect
2. create a collection from binary DataFrame without schema.  Before calling the `np.packbits`, the dim of the binary vector is 128, after that is 128/18
[code]
[code]
Raise exception:
[code]

**Steps/Code to reproduce behavior**
Follow this [guide](htt

[2021-06-08 11:11] yhmo commented on #5600
In the mishards project, in the example deploy yaml `/milvus/shards/all_in_one_with_mysql/all_in_one.yml`, we only mapping db folder to same path for the write node and read node.  RO node doesn't access wal folder. You can disable wal for the ro node in its config file:
[code]

The wal folder store the insert/delete actions data, ensure the data can be recovered even the write node crashed. After

[2021-06-08 11:18] sloth2012 commented on #5600
ok, 3ku.

[2021-06-08 11:18] #5600 closed

[2021-06-08 11:19] yhmo commented on #5636
I am running the script on my machine(HDD disk), insert 300M vectors into 10 partitions. I generate 500 random vectors for each insert(), about 30% ~ 40% time is cost by generating random vectors.
So far, the script run 1.5 hour and inserted 40M vectors, equal to 6000+ vectors per second. I will let it run whole night to see whether it become slowly.

[2021-06-08 11:46] lajiyuan commented on #5636
Ok, thank you, wait for your news.

[2021-06-08 11:58] AshinWang opened #5679 "Error with 'NoneType' object has no attribute 'count_entities' images in this set"
Error with 'NoneType' object has no attribute 'count_entities' images in this set

![image](https://user-images.githubusercontent.com/27849389/121180424-6da1cc80-c893-11eb-8aa0-e65db0ea3644.png)

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having

[2021-06-08 13:29] lajiyuan commented on #5636
By the way, since wal is opened, the insertion speed here is normal, but the growth of row count is very slow.

[2021-06-08 18:03] antonich opened #5680 "Get vectors by id command affects search"
**Describe the bug**
Calling get_vector_by_ids affects search performance.

**Steps/Code to reproduce behavior**
Simple code to reproduce behavior.
Try running this code with/without line `_, ids_res = get_vector_by_ids(milvus_cl, MILVUS_TABLE, dump_ids)`
[code]

**Expected behavior**
Performance of search command should not be affected by get_vector_by_ids.

**Method of installation**
- [x] Docke

[2021-06-09 02:25] JackLCL commented on #5679
@AshinWang
You first use the docker exec command to go inside the webserver docker and see what errors are reported in app.log?
By the way, which documentation did you refer to build it? Can you send me the link?
If you can, can you send me your three docker startup commands to look at?

[2021-06-09 03:02] xiaocai2333 commented on #5384
https://github.com/milvus-io/pymilvus/pull/559

[2021-06-09 03:09] yhmo commented on #5636
At the beginning, the insert speed is 6000+ per second
After 10 hours, 150M vectors inserted, average insert speed is 4500+ per second
Now 170M vectors inserted, average insert speed decrease to 3600+ per second

[2021-06-09 03:17] lajiyuan commented on #5636
Okay, what you are talking about should be the insertion speed. Have you paid attention to this result?

[code]

[2021-06-09 03:23] yhmo commented on #5636
Yes, I also use the sql to check the row_count:
sqlite> SELECT sum(row_count) FROM TableFiles WHERE table_id IN (SELECT table_id FROM Tables WHERE owner_table="AAA" OR table_id="AAA") AND file_type in (1, 2, 3);
sum(row_count)
--------------
170890500

[2021-06-09 03:27] lajiyuan commented on #5636
Okay, that seems to have not reproduced the problem.
Let's continue to observe. The total level of our data is 370 million. If there is no reproducing problem, please insert another 100 million. Thanks.

[2021-06-09 03:27] yhmo commented on #5636
The insert speed decrease by 40%, this is not a good result. I need to check the logs to compare the beginning log and newest log, to find what the reason is.

[2021-06-09 03:30] yhmo commented on #5636
What kind of storage you are using? SSD, HDD, or network storage?

[2021-06-09 03:34] lajiyuan commented on #5636
network storage, one write node and 20 read nodes share nfs.

[2021-06-09 03:53] wangting0128 opened #5684 "The connection interface of add_connection adds the wrong format connection and no error is reported"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
The connection interface of add_connection adds the wrong format connection and no error is reported.

**Steps/Code to reproduce behavior**
    def test_connection_add_wrong_format(self):
        """
        target: test add_connection, regardless of whether the connection exists

[2021-06-09 04:32] yhmo commented on #5680
To milvus, get_entity_by_id() and search() is two kinds of request, milvus put them into different queue to execute. Theoretically they should not affect each other. Need to validate.

[2021-06-09 07:45] xiaocai2333 commented on #5646
https://github.com/milvus-io/pymilvus-orm/pull/155

[2021-06-09 07:46] xiaocai2333 commented on #5646
It will throw an exception if does not create  a connection.

[2021-06-09 08:03] xiaocai2333 commented on #5539
https://github.com/milvus-io/pymilvus-orm/pull/155

[2021-06-09 08:15] xiaocai2333 commented on #5652
https://github.com/milvus-io/pymilvus/pull/560

[2021-06-09 08:43] yhmo commented on #5636
Network storage I/O is depend on network bandwidth. Could you check your share storage write speed?

In milvus, if wal is enable, insert() request returned after data is stored into wal buffer, then milvus db consume data from wal asynchronously.
Db consume data may delay because it need more I/O than wal. That is why 100M vectors have been inserted but the mysql only calculate 90M row count.
As I

[2021-06-09 08:49] xiaocai2333 commented on #5660
https://github.com/milvus-io/pymilvus-orm/pull/156

[2021-06-09 08:50] yhmo commented on #5636
I just submitted a code change #5669 to change the time gap of the rule from 30 seconds to 5 minutes. I suppose this change can relieve this problem.

[2021-06-09 08:50] lajiyuan commented on #5636
OK, let me test the speed of reading and writing, please ask, how is your experiment now?

[2021-06-09 08:52] xiaocai2333 commented on #5660
Index params no longer contains field name. Because Index has _field_name attribute.

[2021-06-09 08:52] yhmo commented on #5636
Disable wal can reduce the I/O usage, if you want to do some test.
Without wal, milvus will directly store insert data into segments to storage and merge.

[2021-06-09 08:55] yhmo commented on #5636
My script has insert more than 220M vectors at 15:00PM, the average insert speed steadily keep between 3600 ~ 3900. I have to stop the test for another issue.

[2021-06-09 08:57] lajiyuan commented on #5636
Okay, thank you, I will use the above changes to test, if there is no problem, I will close this issue.

[2021-06-09 09:03] yhmo commented on #5636
Did you compile the milvus source code?

[2021-06-09 09:05] lajiyuan commented on #5636
Yes, I compiled the milvus source code.

[2021-06-09 09:10] yhmo commented on #5680
@antonich
From your script, we don't know how many vectors in the "milvus_recommend".

[2021-06-09 09:28] yan-rui opened #5693 "Is there cosine similarity api ?"
**Please state your issue using the following template and, most importantly, in English.**
Some task need cosine similarity. I Know cosine similarity is equel to IP and L2 when vectors normalized. However we need cosine score also.
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. E.g. I wish I could use Milvus to do [...]

[2021-06-09 09:40] yhmo commented on #5680
I modify the script, insert 100000 vectors to the collection, and run the script by several times, with/without the line, except the first time and second time is different. The performance of search doesn't affect by get_entity_by_id()

[code]

[2021-06-09 09:46] ThreadDao opened #5696 "Milvus server can not be connected after milvus pod restart"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
1. the milvus server crashed
2. the k8s restart milvus pod automatically
[code]
3. Milvus server can not be connected
[code]
The server log:
[code]

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a m

[2021-06-09 09:52] wangting0128 opened #5697 "Unsuccessful connec creation is also added to the connection list"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Unsuccessful connec creation is also added to the connection list.

**Steps/Code to reproduce behavior**
@pytest.mark.parametrize("connect_name", ["test_alias_nme"])
    def test_connection_connect_wrong_params(self, host, port, connect_name):
        """
        target:
        method

[2021-06-09 10:23] nameczz opened #5698 "Create collection throw error, but actually create successfully."
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
When create collection, set autoID false and without primary key.
Will throw { error_code: 'UnexpectedError', reason: 'primay key is undefined' }, it's correct.
But then you call hasCollection will return true. showCollections also contain this collection.

**Steps/Code to reproduce be

[2021-06-09 10:29] xiaocai2333 commented on #5663
https://github.com/milvus-io/pymilvus-orm/pull/156

[2021-06-09 10:30] shengjun1985 commented on #5693
Excuse me, but are your vectors normalized?
If they are, IP distance is equal to cosine score.
It they aren't, Milvus does not provide such API and you need normalize them before inserting.

[2021-06-09 11:24] binbinlv commented on #5663
Verified in the following version, and it has been fixed, so close this issue.
Name: pymilvus
Version: 2.0a1.dev34
Name: pymilvus-orm
Version: 2.0a1.dev22

[2021-06-09 11:24] #5663 closed

[2021-06-09 12:13] #5671 closed

[2021-06-09 13:12] binbinlv commented on #5539
Verified in the following version, closed this issue.
Name: pymilvus
Version: 2.0a1.dev34
Name: pymilvus-orm
Version: 2.0a1.dev22

[2021-06-09 13:12] #5539 closed

[2021-06-09 14:51] scipe opened #5701 "Server has been stopped building index and trying upload collections to cache over and over"
I have one Milvus-write server 1.1.0

Few collections and few partitions inside each collections.
Total amount of data: ~250M vectors

My server is building index for last couple of hours (probably day+) and it ate the all available cpu's. But now it stoped trying to build index and start trying upload data to cache over and over. (cpu usage is 0+ and memory usage is weird (attached)).
In the serv

[2021-06-09 15:47] scipe commented on #5701
I give more memory to that node and now see next picture:

cpu:
<img width="772" alt="cpu" src="https://user-images.githubusercontent.com/3996622/121387164-2549e380-c953-11eb-8df7-5745fe375b85.png">

memory:
<img width="774" alt="memory" src="https://user-images.githubusercontent.com/3996622/121387185-28dd6a80-c953-11eb-8953-21d59067f86a.png">

[2021-06-09 18:55] scipe commented on #5701
After I set cache_size to 12GB for some reason it's start using CPUs again and I see some progress in my monitoring metadata tool..

[2021-06-09 21:30] scipe commented on #5701
It was created index for ~one hour and stopped again (not using cpu anymore)

[2021-06-10 01:49] #5499 closed

[2021-06-10 02:17] del-zhenwu opened #5703 "Server unavailable after call `create index`"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
**Steps/Code to reproduce behavior**
1. create collection
2. insert 1183514 entities, 50000 entities per request
3. create index:  index_type: IVF_FLAT, metric_type: IP with params: {'nlist': 1024}
**Expected behavior**
A clear and concise description of what you expected to hap

[2021-06-10 02:34] yhmo commented on #5701
For your questions:
- Correct, type 1 is raw data file, type 2 is raw data file waiting to build index, type 3 is index file
- Client call create_index() can ask milvus to build index. CPU build index doesn't require so much cache, it build index for segments one by one, each time only load one segment into cache.

I need more information:
- Dimension and index_file_size of each collection?
- Inde

[2021-06-10 02:42] yan-rui commented on #5693
Yes, I know that.
Just needs cosine score in some projects.
And some projects will not normalize vectors.

[2021-06-10 02:45] yan-rui commented on #5693
So my suggestion is adding Cosine distance metric.

[2021-06-10 03:19] shengjun1985 commented on #5693
May I ask why you not to normalize the data before inserting?
As far as I known, it is slower to calculate the cosine distance of the non normalized data than the inner product of the normalized data. So, normalization before insertion can improve query performance.

[2021-06-10 03:47] scipe commented on #5701
[code]

Yes. But we even try to disable our search and behavior was kind the same

No. We stopped our import.

No errors. Only warnings. Something related to nlist (will send it little bit later)

Yeah, I did that. And there was a lot of insertion and erases. Will send a log little bit later.

[2021-06-10 06:25] yhmo commented on #5701
Your index nlist = 40000, this value is too big.
In this [page](https://milvus.io/docs/v1.1.0/performance_faq.md#how-to-set-nlist-and-nprobe-for-ivf-indexes) we recommend the value of nlist is 4 × sqrt(n), where n is the total number of entities in a segment.
For "collection_1", index_file_size = 1024MB, dimension=768, then n = 1024*1024*1024/768/4 = 350000, recommended nlist = 4 * sqrt(350000) =

[2021-06-10 06:37] binbinlv opened #5712 "load hangs when loading data for collection with more than one partitions (both partitions are inserted data)"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
load hangs when loading data for collection with more than one partitions (new created partitions have data)
[load once]
(1) collection with _default partition only:
      insert data  ---- load successfully
(2) collection with two partitions (_default and new created one):
      inser

[2021-06-10 06:59] ss892714028 opened #5714 "Mishards tutorial: milvus' git clone command needs updating"
**Please state your issue using the following template and, most importantly, in English.**
on this page: https://milvus.io/docs/v1.0.0/mishards.md
git clone https://github.com/milvus-io/milvus downloads the latest version of milvus, however, the latest version does not have milvus/shards directory

**Location of incorrect documentation**
Provide links and line numbers if applicable.
https://milvu

[2021-06-10 07:11] scipe commented on #5701
Our ML research team recommended that value.. we have very complicated search.

But in general question why it's stopped build index and start using cache...

I will be online soon and will send you my logs.

Thanks for help

[2021-06-10 07:21] yhmo commented on #5701
Note: milvus index engine could change the nlist value if the value is too large.
There is a threshold value n/39 for nlist. If nlist value is larger than n/39, the index engine will change nlist to equal n/39.
For example, a segment has 520000 vectors, you set nlist=40000, but 520000/39=13333, the nlist > 13333, then the nlist will be changed to 13333 for building index.
n/39 threshold to avoid t

[2021-06-10 07:31] #5607 closed

[2021-06-10 07:51] yhmo commented on #5554
fixed

[2021-06-10 07:51] #5554 closed

[2021-06-10 08:26] del-zhenwu opened #5720 "Search time cost more than 1.1.0 on dataset sift-1b when search nq equals to 1"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
![1-1_gpu_sift_1b_search_sq8h](https://user-images.githubusercontent.com/56623710/121491473-913a5380-ca08-11eb-889d-ae5fb147ae9e.png)

**Steps/Code to reproduce behavior**
ivf_sq8h
nq: 1
nprobe: 8
topk: [1,10,100,1000]

**Expected behavior**
A clear and concise description of what you

[2021-06-10 08:37] yhmo commented on #5530
To fix this:
1. Add a method JobMgr::Cancel(const JobPtr& job), cancel a job from the manager
2. In DBImpl::BackgroundBuildIndex(), call the JobMgr::Cancel() method when get notify from DropIndex()/DropCollection()

[2021-06-10 08:39] cocodee commented on #4811
Is there any progress on this issue?

[2021-06-10 08:39] yhmo commented on #5398
@sunnyday-sky
Is it ok after change the config?

[2021-06-10 08:47] wangting0128 opened #5723 "Connecting with wrong parameters does not report an error that params are wrong"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Connecting with wrong parameters does not report an error that params are wrong.

**Steps/Code to reproduce behavior**
code:
    @pytest.mark.tags(CaseLabel.L3)
    def test_connection_connect_kwargs_param_check(self):
        """
        target: test **kwargs of connect
        method

[2021-06-10 09:00] wangting0128 opened #5725 "recommended to add alias parameter legalization check"
**Please state your issue using the following template and, most importantly, in English.**

**Is your feature request related to a problem? Please describe.**
Aliases have not been checked for parameter legalization,   recommended to uniformly add string legalization checks for alias。
Contains the following connection interface：
1. def disconnect(self, alias):
2. def remove_connection(self, alias

[2021-06-10 09:05] del-zhenwu commented on #5720
log path: `/test/milvus/db_data_8/sift_1b_2048_128_l2_sq8h/logs`

[2021-06-10 09:08] antonich commented on #5680
Yeah, I forgot to mention. I have 1.2M vectors in my database.
I modified your code to insert 1.2M vectors and got same problem:
[code]

Here is code:
[code]

[2021-06-10 09:17] scipe commented on #5701
@yhmo here is a link to debug.log with grep by "cache cpu". https://pastebin.com/raw/8ZVc8Aep

Right now CPU usage is 0~ and memory usage is ~82GiB

[2021-06-10 09:21] #4928 closed

[2021-06-10 09:26] LocoRichard commented on #5714
Thank you for your contribution. We have fixed the issue.

[2021-06-10 09:26] #5714 closed

[2021-06-10 11:27] scipe commented on #5701
I restart the pod on different node-pool with smaller resources (8 cpu and 16 GB memory) and now it’s start build index again.

[2021-06-10 11:42] jeet129 commented on #5443
Is this feature expected to be released in 2.0?

[2021-06-10 11:45] scipe commented on #5701
Okay I have approve for change nlist.
But still not clear about build index.. 😔

[2021-06-10 18:21] cceyda commented on #4667
I really would like this feature as well. My use case is similar to the ones described; I use elasticsearch.

If there was something on milvus side that can consume  [sliced scroll](https://www.elastic.co/guide/en/elasticsearch/reference/current/paginate-search-results.html#slice-scroll) results would be 🔥

[2021-06-10 19:06] scipe commented on #5701
I just recreate collections with new nlist and we importing 900M vectors again. And so far no issues. Index is great.

Maybe we can close this issue, but it’s still not clear for me.. :-(

[2021-06-11 02:39] AshinWang commented on #5679
bootcamp: https://github.com/milvus-io/bootcamp/tree/master/solutions/image_similarity_search/object_detection
command:
[code]
Thanks!

[2021-06-11 02:46] yhmo commented on #5701
From the log, it seems every 5 ~ 10 seconds the milvus load data from a partition, since some segments not yet finish index, it load some raw data files into cache, and exceed 12GB(cache_size), so milvus have to release 30% of cache. I guess there are search request(search on partition) every few seconds come in. The build index will be paused when milvus receive search request, and resume in 5 se

[2021-06-11 02:55] yhmo commented on #5443
We plan to release a Release Candidate version of v2.0 at the end of this month. This feature is not in the first release. But it could be planned in the following iteration.

[2021-06-11 03:00] yhmo commented on #4811
Milvus v1.x won't support this feature. We will implement it in v2.0. search_by_id() is base on get_vector_by_id(), now the get_vector_by_id() is in developing.

[2021-06-11 03:30] sunnyday-sky commented on #5398
No, It still crashed yesterday.

[2021-06-11 03:54] binbinlv opened #5739 "Search with expressions returns wrong results"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Search with expressions returns wrong results
1 connect, collect, and insert 500 entities
2 search with different expressions
   (1) expression:  int64 in [1, 2, 3]   -- returns 3  (correct)
   **(2) expression:  int64 not in [1, 2, 3] --return 3  which is same with (1) (not correct)**

[2021-06-11 06:06] sunnyday-sky commented on #5398
I got a core file when server is crashed. The stack of the thread received 11 signal as follows. It is helpful?
[code]

[2021-06-11 06:45] yhmo commented on #5398
It crashed at Status.cpp line 74, this is strange. It is a memcpy(). Could you know the value of "buff_len"?

[code]

[2021-06-11 06:53] FluorineDog commented on #5739
confirmed, fixed by #5741

[2021-06-11 06:58] JackLCL commented on #5679
From your link:https://github.com/milvus-io/bootcamp/tree/master/solutions/image_similarity_search/object_detection, I can't find the start commad of webserver docker.

[2021-06-11 07:06] hawkphantomnet opened #5743 "read-only milvus instance try to cleanup segments on startup"
**Please state your issue using the following template and, most importantly, in English.**
read-only milvus instance try to cleanup segments on startup

**Describe the bug**
we deploy read-only milvus instances by k8s deployment(replicas=5). Some instances (2 of 5) try to clean up some segments when milvus is started and initializing.

**Steps/Code to reproduce behavior**
Not eady to reproduce, t

[2021-06-11 07:07] sunnyday-sky commented on #5398
The value of "buff_len" is 8.
![image](https://user-images.githubusercontent.com/40851919/121645293-9bbb2280-cac6-11eb-81f8-c22d39f4612d.png)

[2021-06-11 07:09] yhmo commented on #5398
Then, the s.state_ is a null value?

[2021-06-11 07:12] FluorineDog opened #5744 "CI failed: connnection refused"
Regression Failed
https://internal.zilliz.com:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-5741/1/pipeline
[code]

[2021-06-11 07:22] scipe commented on #5701
I stoped any search request in some point of time. But behavior was the same.

Is it same thing for cluster mode?

[2021-06-11 07:37] sunnyday-sky commented on #5398
![image](https://user-images.githubusercontent.com/40851919/121649214-efc80600-caca-11eb-9886-1f5385a02781.png)

[2021-06-11 07:44] shengjun1985 commented on #5743
It is duplicate with #4862 which is fixed in v1.1.0.
Please update your Milvus server and try again.

[2021-06-11 07:57] yhmo opened #5747 "Search with big nq and topk crash milvus"
**Please state your issue using the following template and, most importantly, in English.**
Search with big nq and topk crash milvus

**Describe the bug**
gRPC will throw exception when application try send a huge message size larger than 2GB. If user input big nq and topk to search, the result size may exceed 2GB, and crash milvus.

**Steps/Code to reproduce behavior**
1. create a collection, dim

[2021-06-11 08:19] yhmo commented on #5701
load_collection() can load data into cache.
Build index task also can load data into cache, but build index task can not finish so quickly(in 5 ~ 10 seconds).

[2021-06-11 09:03] yhmo commented on #5398
The pointer s.state_ is deleted between line 71 and line 74, this indicate it is deleted by another thread.

After review the source code, I think the crash reason is: BaseRequest::PostExecute() and BaseRequest::Execute() are invoked in different thread, they can change the status_ at the same time.

[code]
To validate this, you can modify the PostExecute() method like this:

[code]

[2021-06-11 09:09] FluorineDog commented on #5739
@binbinlv fix PR #5741  has been merged, please verify

[2021-06-11 09:19] sunnyday-sky commented on #5398
OK, I will try it.

[2021-06-11 09:30] yhmo commented on #5398
The Status class copy function is:
[code]

Assume the BaseRequest::Execute() invoked by thread_1.
Assume the BaseRequest::PostExecute() invoked by thread_2.

1. thread_1 run to `return status_;`, call the `Status::CopyFrom()`, gonna copy the status_ to outside
2. thread_1 run into `Status::CopyFrom()`, run to end of this line `state_ = new char[buff_len];`, the `s.state_` is not null now, the "s"

[2021-06-11 10:24] binbinlv commented on #5739
Verified in the latest milvus version, so close this issue.
(commit 4165b761c957eac2328aeda989766deacf6c223d)

3

497

497

[2021-06-11 10:24] #5739 closed

[2021-06-11 10:37] binbinlv opened #5756 "Create collection with exception "should create connect first", but actually connection is created"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Create collection with error "should connect first", but actually connection is created
(on latest pymilvus-orm version, Version: 2.0a1.dev24)
[pymilvus is good, bug should be in pymilvus-orm)

It is **good** on 2.0 a1.dev22:
Name: pymilvus
Version: 2.0a1.dev35
Name: pymilvus-orm
**Ver

[2021-06-11 12:21] shengjun1985 commented on #5537
It is fixed in branch 1.1.

[2021-06-11 12:21] #5537 closed

[2021-06-11 13:35] scipe commented on #5701
Okay. Thanks for answers. Still not clear why my milvus standalone stop build any index, but the second instance works great.

[2021-06-11 13:35] #5701 closed

[2021-06-12 07:55] lajiyuan commented on #5703
Can you share your milvus client code and milvus server version?

[2021-06-13 16:20] #5679 closed

[2021-06-14 06:40] m5jun opened #5758 "error occurs when pip3 install pymilvus==1.1.0"
Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-build-e052d2ni/grpcio/setup.py", line 255, in <module>
        if check_linker_need_libatomic():
      File "/tmp/pip-build-e052d2ni/grpcio/setup.py", line 205, in check_linker_need_libatomic
        stderr=PIPE)
      File "/usr/lib64/python3.6/subprocess.py", line 729, in __init__
        restore_s

[2021-06-14 09:17] yhmo commented on #5758
Please refer this issue: https://github.com/grpc/grpc/issues/24556

[2021-06-14 20:43] scipe opened #5761 "Support using mmap to load index data"
Hi guys. Is any way to disable/enable IO_FLAG_MMAP for faiss under the hood?

[2021-06-15 01:46] DragonDriver commented on #5664
Already fixed by [pr 160 of pymilvus-orm](https://github.com/milvus-io/pymilvus-orm/pull/160).

[2021-06-15 02:12] del-zhenwu opened #5763 "Client never get response when the building process has been finished"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
The client still wait to get response however the server has finished indexing after two days.
client log
[code]
server log:
[code]
log path:
[code]
**Steps/Code to reproduce behavior**
1. create collection
2. create index `ivf_sq8h`
3. insert 100,000 entities per request, insert `sift

[2021-06-15 02:45] binbinlv commented on #5756
The issue still exists on the following version:
Name: pymilvus
Version: 2.0a1.dev35
Name: pymilvus-orm
Version: 2.0a1.dev26

[2021-06-15 02:51] del-zhenwu opened #5764 "Insert failed with err msg: the length of hashValue, timestamps , rowIDs, RowData are not equal"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
**Steps/Code to reproduce behavior**
1. create collection
2. insert entities

using sdk: pymilvus

**Expected behavior**
A clear and concise description of what you expected to happen.

**Method of installation**
- [ ] Docker/cpu
- [ ] Docker/gpu
- [ ] Build from source

**Envir

[2021-06-15 02:59] shengjun1985 commented on #5761
The flag `IO_FLAG_MMAP` is always disabled.
May I ask your actual use cases?

[2021-06-15 03:00] shengjun1985 commented on #5743
If you have more questions, please continue to contact our community.

[2021-06-15 03:00] #5743 closed

[2021-06-15 03:12] xiaocai2333 commented on #5756
https://github.com/milvus-io/pymilvus-orm/pull/163

[2021-06-15 03:21] del-zhenwu commented on #5703
client:
`zilliztech/milvus_benchmark`: argo branch
server:
the latest image

[2021-06-15 03:29] #5652 closed

[2021-06-15 03:30] #5646 closed

[2021-06-15 03:33] yhmo commented on #5763
This line:
[2021-06-13 22:40:21,133][INFO][SERVER][CreateIndex][grpcpp_sync_ser] Request [30015] CreateIndex end.

indicated the create_index request has been finished at server side, and returned.

[2021-06-15 03:35] soberhjj opened #5766 "About client connection retry"
How to achieve a Milvus client connection failure retry

[2021-06-15 04:05] yhmo commented on #5766
1. start a milvus server
    docker run -p 19530:19530 milvusdb/milvus:1.1.0-cpu-d050721-5e559c
2. run this script
[code]

3. stop the milvus server
   docker stop [container id]

4. the client will get error:
[code]

5. restart the milvus server
   docker start [container id]

6. after a few seconds, the client will continue insert

[2021-06-15 04:21] scipe commented on #5761
Hm. I saw in your sources ([here](https://github.com/milvus-io/milvus/blob/a3e4339027bccd3f7c9c6a05ffe211619b4e5f0e/internal/core/src/index/thirdparty/faiss/impl/index_read.cpp)) that it's enabled by default..

Okay so we have a 300m dataset and when we test raw FAISS we can reduce memory cost with the at flag.

Now our server with milvus need 170~GB RAM for IFV_SQ8.

[2021-06-15 06:01] soberhjj commented on #5766
The code given indicates that the client will retry to connect to the Milvus Server.

[2021-06-15 06:05] soberhjj commented on #5766
The code given indicates that the client will retry to connect to the Milvus Server.
I wonder if there are any configurable parameters related to the client retry mechanism, such as retry time, retry number, etc.
For example, if the Milvus server is down for two days and you try again, will the client still be able to connect?

[2021-06-15 06:30] yhmo opened #5769 "A link in a blog article is broken"
**Please state your issue using the following template and, most importantly, in English.**
The link https://github.com/milvus-io/bootcamp/blob/master/demo/recommender_system in this milvus post https://zilliz.com/blog/building-personalized-recommender-systems-milvus-paddlepaddle is broken

**Location of incorrect documentation**
At the bottom of the article, give some links:

[code]
The link "04"

[2021-06-15 06:56] cydrain opened #5771 "Remove timeTickStream from master"
**Please state your issue using the following template and, most importantly, in English.**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. E.g. I wish I could use Milvus to do [...]

**Describe the solution you'd like**
In master, timeTickStream is created as Producer from Params.TimeTickChannel.
But nobody consume messag

[2021-06-15 07:34] binbinlv commented on #5756
Verified in the following version, and close it.
Name: pymilvus-orm
Version: 2.0a1.dev27

[2021-06-15 07:34] #5756 closed

[2021-06-15 07:34] yanliang567 opened #5772 "please compile a version to identify every build"
**Describe the bug**
we need a version to identify every daily build.
Please make one for us during compiling.
the version could be: "${env.BRANCH_NAME}-${date}-${gitShortCommit}"

**Method of installation**
- [ ] Docker/cpu
- [ ] Docker/gpu
- [ ] Build from source

**Environment details**
- Hardware/Software conditions (OS, CPU, GPU, Memory)

- Milvus version (master or released version)

**Confi

[2021-06-15 07:40] binbinlv opened #5774 "TypeError: load() takes from 1 to 2 positional arguments but 4 were given"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
TypeError: load() takes from 1 to 2 positional arguments but 4 were given when using collection.load() on pymilvus-orm

**Steps/Code to reproduce behavior**
1 create connect and collection
2 insert data
3 load (pymilvus-orm interface)  --failed with type error
   collection.load() [did

[2021-06-15 09:13] binbinlv opened #5778 "Search with 0 results returned which is not correct"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Search with 0 results returned which should not

**Steps/Code to reproduce behavior**
Code:
from pymilvus_orm import CollectionSchema, FieldSchema
from pymilvus_orm import Collection
from pymilvus_orm import connections
from pymilvus_orm.types import DataType
from pymilvus_orm import P

[2021-06-15 10:55] binbinlv commented on #5774
Confirmed with dev(cai zhang), pymilvus-orm interface has some changes, so the test case needs to be updated correspondingly, no code error, so close this issue, thanks.

https://github.com/milvus-io/pymilvus-orm/pull/163

[2021-06-15 10:55] #5774 closed

[2021-06-15 15:02] scipe commented on #5761
Any reason why you not allowed enable this flag? Any chances to allow edit it?

[2021-06-16 02:35] seo-jinBro opened #5789 "Documentation typo Issue"
In [milvus_distributions-gpu](https://milvus.io/docs/v1.1.0/milvus_distributions-gpu.md), current doc is

[code]

It should be

[code]

[2021-06-16 02:51] yhmo commented on #5761
The milvus is designed as a in-memory search engine. When search, milvus load data into memory(the limit is determined by cache_size in config file), and manage data by LRU strategy. By caching all required data in memory, milvus can obtain best search performance. mmap can improve the I/O performance, but cannot obtain best search performance like in-memory cache. So we disable the mmap of faiss.

[2021-06-16 03:01] cxie commented on #5789
Hi @seo-jinBro, thanks for pointing out the typo. Could you help us to submit a PR to correct this typo? There is an Edit button on the up-right corner and you can start to edit the doc from there. Your contributions would be greatly appreciated by the Milvus Community. Please feel free to let me know if you encounter any difficulties.

[2021-06-16 03:06] cydrain opened #5793 "Proxynode crash"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
proxynode crash with following backtrace:
[code]

[2021-06-16 03:10] seo-jinBro commented on #5789
@cxie Thanks for your suggestion. I made a [PR](https://github.com/milvus-io/docs/pull/578) for it. Thank you.

[2021-06-16 03:13] yhmo commented on #5766
In this file: /[path to python3]/site-packages/milvus/client/grpc_handler.py:
[code]

We can see the parameters: 'grpc.enable_retries'= 1 and 'grpc.keepalive_time_ms' = 55000. This parameters are hard-code, cannot be passed from outside(this is not good). So, currently, the client need to do retry by itself.
Each api has a "timeout" parameter, client can use this parameter to control the waiting t

[2021-06-16 03:25] PahudPlus commented on #5590
@claireyuw When you publish 1.1.1, please double check.

[2021-06-16 06:17] nameczz commented on #5569
I think this is already fixed.

[2021-06-16 06:17] #5569 closed

[2021-06-16 06:27] nameczz opened #5800 "Describe index still has data after drop index on same vector field"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Describe index has data after drop index

**Steps/Code to reproduce behavior**
1. create collection
2. create index on vector_field
3. describe index return data.
4. drop index return success
5. describe index still return index data

**Expected behavior**
Describe index return empty a

[2021-06-16 07:01] nameczz commented on #5619
I think this is fixed

[2021-06-16 07:01] #5619 closed

[2021-06-16 07:13] #5789 closed

[2021-06-16 07:22] yhmo commented on #5747
Has been fixed in v1.1.1, released today.

[2021-06-16 07:22] #5747 closed

[2021-06-16 07:24] yhmo commented on #5398
@sunnyday-sky
Is the fix ok? We gonna publish a new version v1.1.1, will contain this fix.

[2021-06-16 07:25] yhmo commented on #5115
Fixed in v1.1.1

[2021-06-16 07:25] #5115 closed

[2021-06-16 07:32] yhmo commented on #5480
If milvus server is hung, may be similar to #5398. We made a fix in new version v1.1.1 for #5398, this version is released today.

[2021-06-16 07:32] sunnyday-sky commented on #5398
It's ok, the bug did not appear again until now.

[2021-06-16 08:44] xiaocai2333 commented on #5764
Please paste test code here.

[2021-06-16 09:00] #5398 closed

[2021-06-16 11:08] yucongshub opened #5813 "Run Milvus docker image report Process killed"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Jun 16 18:57:31 localhost kernel: traps: milvus_server[64972] trap invalid opcode ip:924db0 sp:7ffc291698c8 error:0 in milvus_server[400000+bfa000]
Jun 16 18:57:31 localhost abrt-hook-ccpp: Process 7 (milvus_server) of user 0 killed by SIGILL - ignoring (repeated crash)
Jun 16 18:57:31

[2021-06-17 02:10] del-zhenwu commented on #5764
zilliztech/milvus_benchmark:argo
could not reproduce, close

[2021-06-17 02:13] cydrain opened #5816 "Rename Master/IndexService/QueryService"
**Please state your issue using the following template and, most importantly, in English.**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. E.g. I wish I could use Milvus to do [...]

**Describe the solution you'd like**
Rename
Master -> RootCoordinator
IndexService -> IndexCoordinator
QueryService -> QueryCoordinator

[2021-06-17 02:13] del-zhenwu commented on #5703
the most of the benchmark cases still failed blocked by the issue

[2021-06-17 02:13] #5660 closed

[2021-06-17 02:42] xiaocai2333 commented on #5712
This bug has been fixed in branch master. Please retest it.

[2021-06-17 03:22] yhmo commented on #5813
Ok, it is first time I see this kind of error. So far I have no idea why this happens.
Your docker version is?
Does the error occur even with this simple command?
`docker run -p 19530:19530 milvusdb/milvus:1.1.0-cpu-d050721-5e559c`

[2021-06-17 03:37] yucongshub commented on #5813
This simple command still causes the error.
Jun 17 11:32:11 localhost kernel: docker0: port 2(veth432cec1) entered blocking state
Jun 17 11:32:11 localhost kernel: docker0: port 2(veth432cec1) entered disabled state
Jun 17 11:32:11 localhost kernel: device veth432cec1 entered promiscuous mode
Jun 17 11:32:11 localhost kernel: IPv6: ADDRCONF(NETDEV_UP): veth432cec1: link is not ready
Jun 17 11:32:1

[2021-06-17 04:42] yhmo commented on #5813
Similar to this https://cloud.tencent.com/developer/article/1356935, related with cpu instruction.
And a similar issue #4095, also caused by cpu instruction, but we didn't get the root cause .

[2021-06-17 04:44] yhmo commented on #5813
@yucongshub
Can you try run milvus on another machine? I guess the milvus cannot compatible with some kinds of cpu.

[2021-06-17 04:53] congqixia opened #5823 "Flush state check might fail at a low chance"
pymilvus sdk will check and wait all the segments from the target collection are all in `flushed` state in a `flush` operation.
[detailed implemetation](https://github.com/milvus-io/pymilvus/blob/0043f85b42d7a5840e49ab4ff7387b682d3d27ec/pymilvus/client/grpc_handler.py#L1026)

In some cases, the [segments](https://github.com/milvus-io/pymilvus/blob/0043f85b42d7a5840e49ab4ff7387b682d3d27ec/pymilvus/

[2021-06-17 05:04] yucongshub commented on #5813
Thanks.I'll try another machine.

[2021-06-17 06:09] neza2017 opened #5826 "Add Default Timestamp on UpdateChannelTimeTick Request"
proxy node would only send timetick of the channels that it handled, for other channels refer to `Default TimeTick`

[2021-06-17 06:30] zxbing commented on #5747
very good, test now

[2021-06-17 06:49] yanliang567 commented on #5375
one more left with 'partition tag'
pymilvus.client.exceptions.BaseException: <BaseException: (code=1, message=Invalid partition tag: . Partition tag should not be empty.)>

[2021-06-17 07:22] yanliang567 commented on #5384
verify in build today. close

[2021-06-17 07:22] #5384 closed

[2021-06-17 07:25] binbinlv commented on #5712
no hangs on the following version, so close it.
Name: pymilvus
Version: 2.0a1.dev35
Name: pymilvus-orm
Version: 2.0a1.dev31

[2021-06-17 07:25] #5712 closed

[2021-06-17 07:32] DragonDriver opened #5832 "Proxy watch etcd to get all collection meta which was already loaded into query node"
When `ReleaseCollection` was called, all proxy node should delete the query message stream related to the collection. Now for simplicity, proxy provide a `ReleaseDQLMessageStream` method, when query coordinator receive `ReleaseCollection` request, they will inform root coordinator call `ReleaseDQLMessageStream` of all proxy.

But this way will introduce higher couple between proxy, query coordinat

[2021-06-17 07:48] scsven commented on #5375
@yanliang567
fixed in #5834

[2021-06-17 07:53] cydrain opened #5836 "Combine standalone image with milvus"
**Please state your issue using the following template and, most importantly, in English.**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. E.g. I wish I could use Milvus to do [...]

**Describe the solution you'd like**
Combine standalone image with milvus,
use cmd "milvus run standalone" to deploy standalone

[2021-06-17 08:41] binbinlv opened #5837 "Auto flush did not be triggered when nb >=32000"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Auto flush did not be triggered when nb <70000

**Steps/Code to reproduce behavior**
Code:
from pymilvus_orm import CollectionSchema, FieldSchema
from pymilvus_orm import Collection
from pymilvus_orm import connections
from pymilvus_orm.types import DataType
from pymilvus_orm import Pa

[2021-06-17 08:47] #5816 closed

[2021-06-17 08:56] scsven commented on #5375
/unassign @scsven
/assign @yanliang567

[2021-06-17 08:59] binbinlv opened #5838 "Search hungs without load interface"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Search hungs without load interface: use search directly without load()

**Steps/Code to reproduce behavior**
Code：
from pymilvus_orm import CollectionSchema, FieldSchema
from pymilvus_orm import Collection
from pymilvus_orm import connections
from pymilvus_orm.types import DataType
fr

[2021-06-17 09:13] binbinlv commented on #5581
Verified, close it.

[2021-06-17 09:13] #5581 closed

[2021-06-17 09:50] del-zhenwu opened #5842 "Describe collection failed"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
**Steps/Code to reproduce behavior**
1. create collection
2. describe collection

**Expected behavior**
A clear and concise description of what you expected to happen.

**Method of installation**
- [ ] Docker/cpu
- [ ] Docker/gpu
- [ ] Build from source

**Environment details**

[2021-06-17 09:57] cydrain opened #5844 "Rename directory masterservier to rootcoord"
**Please state your issue using the following template and, most importantly, in English.**

**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
Rename directory masterservier to rootcoord

[2021-06-17 11:07] binbinlv opened #5845 "Search returns 0 result if manual flush is not be called (num_entities shown is not zero)"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Search returns 0 result if manual flush is not be called (auto flush seems not work)
And search returns 0 when partition number is not zero which is correct as inserted

**Steps/Code to reproduce behavior**
Steps:
1 create connection, collection, and insert data
2 load and search [part

[2021-06-18 02:31] xiangyu2021 commented on #5064
/assign @xiangyu2021

[2021-06-18 02:52] binbinlv opened #5852 "Search new added empty partition after load returns "partitions have been released""
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Search new added empty partition returns "partitions have been released"

And in the former test, search is successful and returned 0

**Steps/Code to reproduce behavior**
Code:
from pymilvus_orm import CollectionSchema, FieldSchema
from pymilvus_orm import Collection
from pymilvus_orm

[2021-06-18 03:52] del-zhenwu opened #5857 "The value of retry times is too big"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
**Steps/Code to reproduce behavior**
The client will never return if the server can not be connected, user should know this issue asap.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Method of installation**
- [ ] Docker/cpu
- [ ] Docke

[2021-06-18 03:55] binbinlv opened #5858 "New inserted data could not be searched except for loading again"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
New inserted data could not be searched except for loading again
[ load() has been run when inserting the origin data]

**Steps/Code to reproduce behavior**
Steps:
1 create connection and collection
2 insert data and flush
3 load
4 search -- success with correct data number
5 insert da

[2021-06-18 06:07] ss892714028 opened #5861 "Milvus installation guide 1.1.1, GPU and CPU have wrong docker image."
**Please state your issue using the following template and, most importantly, in English.**
Milvus installation guide GPU and CPU wrong image.

**Location of incorrect documentation**
Provide links and line numbers if applicable.
https://milvus.io/docs/v1.1.1/milvus_docker-cpu.md
https://milvus.io/docs/v1.1.1/milvus_docker-gpu.md

**Describe the problems or issues found in the documentation**
A cl

[2021-06-18 06:10] ss892714028 opened #5862 "Chinese version of Milvus installation guide, wrong milvus version."
**Please state your issue using the following template and, most importantly, in English.**
Chinese version of Milvus installation guide, wrong milvus version.

**Location of incorrect documentation**
Provide links and line numbers if applicable.
https://milvus.io/cn/docs/v1.1.1/milvus_docker-cpu.md
https://milvus.io/cn/docs/v1.1.1/milvus_docker-gpu.md
**Describe the problems or issues found in th

[2021-06-18 06:15] scipe commented on #5761
So, @yhmo in general you want to support that feature or you it should not be here by design

[2021-06-18 06:34] del-zhenwu opened #5863 "UT DeleteTest.DELETE_ON_DISK failed"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
**Steps/Code to reproduce behavior**
https://internal.zilliz.com:18080/jenkins/blue/organizations/jenkins/milvus-ci/detail/1.1/92/pipeline
**Expected behavior**
A clear and concise description of what you expected to happen.

**Method of installation**
- [ ] Docker/cpu
- [ ] Doc

[2021-06-18 06:37] yhmo opened #5865 "Search() sometimes return empty result"
**Please state your issue using the following template and, most importantly, in English.**

**Steps/Code to reproduce behavior**
Steps 1:
1. create a collection
2. insert 70000 vectors
3. search, result is correct

Steps 2:
1. create a collection
2. insert 80000 vectors
3. search, result is empty

Run the script:
[code]
Result on my machine:
[code]
We can see:
For "insert 70000 and search", resul

[2021-06-18 07:20] #5836 closed

[2021-06-18 07:28] yanliang567 commented on #5375
found 2 error msg was updated incompletely:
pymilvus.client.exceptions.BaseException: <BaseException: (code=1, message=Invalid partition name: 12 s. Partition tag can only contain numbers, letters, dollars and underscores.)>
pymilvus.client.exceptions.BaseException: <BaseException: (code=1, message=Invalid partition name: %$#. The first character of a partition tag must be an underscore or letter.

[2021-06-18 07:33] #5570 closed

[2021-06-18 07:34] #5662 closed

[2021-06-18 08:07] yhmo commented on #5443
Proto definition:
[code]

[2021-06-18 08:28] yhmo commented on #5443
Python sdk definition:
[code]

[2021-06-18 08:34] yanliang567 commented on #5857
I prefer a smart retry with times and timeout, say 30s or 5 retries, return once either one reached

[2021-06-18 08:35] keotic commented on #5443
@yhmo Great, Thanks
Are you planning to add a definition with ids as well?
Something like:
def calc_distance(self, vectors_ids_left, vectors_ids_right, params=None, timeout=None, **kwargs):

[2021-06-18 08:40] ThreadDao opened #5873 "Collection primary field changed"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**

1. create collection A with fields [int_field_one, int_field_two, vec_field], and primary field is `int_field_one`
2. create collection B with duplicate name of A and new primary_field `int_field_two`
3. collection A's primary_field become `int_field_two`??
[code]
[code]
The reason is

[2021-06-18 08:48] yhmo commented on #5443
In v2.0 there is an api query() to retrieve entity data:
[code]

So we think this can be done by two steps:
1. use query() to get vector data by ids
2. use calc_distance() to calculate distances

Combine the two steps into one api is a nice-to-have feature, we can plan it in next stage.

[2021-06-18 08:54] keotic commented on #5443
Thanks, but the idea of calculating distance / or searching by ids to to prevent retrieving the embedding payload on the first call and sending it back again in the second one.
For performance reasons it is better to do it server side.

For example, if we have a list of 10K vectors ids of dim 2048, and we want to get the distance between them, we first need to fetch 10K vectors (payload size =  10

[2021-06-18 09:01] yhmo commented on #5443
So, your common usage is to calculate distance between large amount of ids?

[2021-06-18 09:17] yhmo commented on #5443
I have redefined the api to support calculate distance by ids.

[2021-06-18 09:19] keotic commented on #5443
We have 2 usages involving large amount of vectors:
1. Ann search ( we have the ids, don’t want to retrieve and send the vectors payload)
2. Calculate distances between groups of known ids

[2021-06-18 10:02] del-zhenwu opened #5876 "Get/query entity failed"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
**Steps/Code to reproduce behavior**
expr:
[code]
**Expected behavior**
A clear and concise description of what you expected to happen.

**Method of installation**
- [ ] Docker/cpu
- [ ] Docker/gpu
- [ ] Build from source

**Environment details**
[code]
- Milvus version (master

[2021-06-18 10:09] shengjun1985 commented on #5863
The ID to be deleted may be duplicate.
It's just a UT bug.

[2021-06-18 10:10] LocoRichard commented on #5861
Thank you, we have fix issue.

[2021-06-18 10:10] #5861 closed

[2021-06-18 10:12] LocoRichard commented on #5862
Thank you, we have fix the issue

[2021-06-18 10:12] #5862 closed

[2021-06-18 10:25] yhmo commented on #5761
No, I am not meaning "it should not be here". It may be a valuable feature for some users.
I just worry about the code change bring large impact to main functions.

[2021-06-18 10:32] yhmo commented on #5761
Currently the milvus team is focusing on the upcoming v2.0, we have limit resource to maintain v1.x. I intend to keep it in investigation level until we get more dev resource to implement it.

[2021-06-18 11:11] sunby commented on #5873
The `fields` variable is modified in the first `gen_collection_schema`. The `int_field_one` field's `is_primary` is changed to True. After the second `gen_collection_schema`, the `int_field_two.is_primary` is set to True. According to [primary_field in orm](https://github.com/milvus-io/pymilvus-orm/blob/c3ade8588b0bd708f239c0a0f6959881b1773812/pymilvus_orm/schema.py#L61) , the first collections's

[2021-06-18 11:16] #5826 closed

[2021-06-18 11:42] ThreadDao commented on #5675
Regress this issue according to this case:
[code]

[2021-06-18 11:52] xiaocai2333 commented on #5873
https://github.com/milvus-io/pymilvus-orm/pull/170

[2021-06-18 12:15] #5667 closed

[2021-06-18 12:15] ThreadDao commented on #5667
fixed

[2021-06-18 12:23] jeet129 commented on #5443
Also, I am assuming its implicit that these APIs will be available for all the clients for ex. java sdk.

[2021-06-18 13:30] #5844 closed

[2021-06-19 01:00] neza2017 opened #5882 "data node crashed on full-ci test"
**Describe the bug**
data node crashed on full-ci test

**Steps/Code to reproduce behavior**
[code]

- Milvus version  master

[code]

[2021-06-19 01:35] shicript opened #5883 "docker pull failed from registry.zilliz.com"
Install with Docker-Compose distribute milvus failed.
Screen shot:
![截屏2021-06-19 上午9 35 05](https://user-images.githubusercontent.com/24455669/122627392-a33f8480-d0e1-11eb-9ed9-0b73a9556fa6.png)

[2021-06-19 02:23] scsven commented on #5883
/assign @jeffoverflow

[2021-06-19 02:36] yhmo commented on #5443
The first release of v2.0 only support python sdk. Other sdk(java/go) could not catch the release date,  and planned in next stage.

[2021-06-19 02:48] jeffoverflow commented on #5883
Milvus 2.0 docker image has not been released yet, it will be uploaded to Dockerhub soon.

[2021-06-19 02:59] cydrain commented on #5857
In Minio, if connection lost, it will re-connect with increasing interval time:
100ms, 200ms, 500ms, 1s, 2s, 5s, 10s
if still fail to connect, system error out.

We can use this kind of retry mechanism.

[2021-06-19 03:14] #5883 closed

[2021-06-19 03:41] shengjun1985 commented on #5863
It is fixed. Thanks all.

[2021-06-19 03:41] #5863 closed

[2021-06-19 07:26] cydrain commented on #5675
there are 2 issues related with this case:
1. pymilvus-orm calculate binary vector dim in-correctly, fixed with folloging PR
https://github.com/milvus-io/pymilvus-orm/pull/172

2. in test20/python_client/check/func_check.py
[code]
above code is in-correct, because this collection has not been flushed, num_entities is 0

[2021-06-19 07:38] xiaofan-luan commented on #5443
one question
1) for python orm api, where we put this CalcDistance API?
collection.calc_distance(self, ids_left, ids_right, params=None, timeout=None, **kwargs) make sense to me.

calc_distance(self, vectors_left, vectors_right, params=None, timeout=None, **kwargs) should not be put into collection api list, maybe util?

[2021-06-19 22:34] #5761 closed

[2021-06-20 08:32] jeet129 commented on #5443
@yhmo, any estimated timelines of api support in java sdk?

[2021-06-21 02:02] yanliang567 opened #5901 "[Chaos] Fail to connect to Milvus after milvus-ha pod deleted and restarted"
**Describe the bug**
Fail to connect to Milvus after milvus-ha pod deleted and restarted

**Steps/Code to reproduce behavior**
helm install milvus standalone
connect to Milvus by python SDK(run a python testcase)
delete the milvus-ha-standalone pod
wait until the milvus-ha-standalone pod restarted to running state
try reconnect to Milvus( try to rerun the python testcase)

**Expected behavior**
re

[2021-06-21 02:04] del-zhenwu opened #5902 "Ci test failed: test_load_collection_release_all_partitions"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
**Steps/Code to reproduce behavior**
[code]
**Expected behavior**
A clear and concise description of what you expected to happen.

**Method of installation**
- [ ] Docker/cpu
- [ ] Docker/gpu
- [ ] Build from source

**Environment details**
- Hardware/Software conditions (OS, CP

[2021-06-21 02:08] xiaocai2333 commented on #5838
It may be has been fixed, Please retest it.
pymilvus-orm==2.0a1.dev37

[2021-06-21 02:15] xiaocai2333 commented on #5845
It has been fixed on newest master branch.

[2021-06-21 02:25] xiaocai2333 commented on #5684
https://github.com/milvus-io/pymilvus-orm/pull/171

[2021-06-21 02:40] cydrain opened #5905 "Rename indexservice to indexcoord"
**Please state your issue using the following template and, most importantly, in English.**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. E.g. I wish I could use Milvus to do [...]

**Describe the solution you'd like**
Rename indexservice to indexcoord

[2021-06-21 02:41] cydrain opened #5906 "Rename proxynode to proxy"
**Please state your issue using the following template and, most importantly, in English.**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. E.g. I wish I could use Milvus to do [...]

**Describe the solution you'd like**
Rename proxynode to proxy

[2021-06-21 02:42] yhmo commented on #5443
I think the java sdk will begin after the v2.0 RC version released, personally I estimated it require about one month to develop/test the java sdk.

[2021-06-21 03:42] xiaocai2333 commented on #5837
Previously, there was an insertChannelNum parameter in the data_service.yaml file, which indicated how many batches were allocated when inserting. Insert a segment in each batch, and auto flush will be triggered when the data in the segment reaches 32,000 rows. Now we have deleted this parameter.
And for pymilvus-orm users, every time they get num_entities, flush is actually called actively. So no

[2021-06-21 03:46] xiaocai2333 commented on #5697
https://github.com/milvus-io/pymilvus-orm/pull/171

[2021-06-21 03:50] xiaocai2333 commented on #5698
https://github.com/milvus-io/pymilvus-orm/pull/171

[2021-06-21 03:53] xiaocai2333 commented on #5764
The logic of auto_id is changed, please retest by pymilvus-orm==2.0a1.dev37.

[2021-06-21 03:57] xiaocai2333 commented on #5842
Please update the version of pymilvus.

[2021-06-21 06:11] xiaocai2333 commented on #5852
Maybe it has been fixed, lease retest it.

[2021-06-21 06:19] cydrain opened #5916 "Add Milvus banner when start service"
**Please state your issue using the following template and, most importantly, in English.**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. E.g. I wish I could use Milvus to do [...]

**Describe the solution you'd like**
Add Milvus banner when start service:
[code]

[2021-06-21 06:27] xiaocai2333 commented on #5845
https://github.com/milvus-io/milvus/issues/5865

[2021-06-21 06:43] ThreadDao opened #5918 "Create a collection using not existed field as primary field should thrown an exception"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
[code]

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

**Expected behavior**
A clear

[2021-06-21 06:45] xiaocai2333 commented on #5723
https://github.com/milvus-io/pymilvus-orm/pull/171

[2021-06-21 07:12] del-zhenwu commented on #5764
the tests used `pymilvus`

[2021-06-21 07:31] del-zhenwu opened #5923 "mishard: `not found in metadata` during search an empty collection"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

**Expected behavior**
A clear and conc

[2021-06-21 08:12] DragonDriver commented on #5823
I think the main reason of this issue is that we can't get the accurate segments when `flush` is called (`get_first_segment_ids` is called after `insert`). So how about returning the all the accurate segments in the server when the `flush` request is called? In this way, we can only check if these returned segments are flushed.

[2021-06-21 08:13] binbinlv commented on #5852
Verified in the following version, it has been fixed.

Name: pymilvus
Version: 2.0a1.dev40
Name: pymilvus-orm
Version: 2.0a1.dev38

Results:

{"name": "search_partition_1", "description": "search partition", "num_entities": 0}

[{"name": "_default", "description": "", "num_entities": 3000}, {"name": "search_partition_1", "description": "", "num_entities": 0}]

0

[2021-06-21 08:13] #5852 closed

[2021-06-21 08:25] binbinlv commented on #5845
Verified in the following vesion, it has been fixed, and now the data could be searched without manual flush. And "num_entities" could be get immediately after insert without manual flush.

Name: pymilvus
Version: 2.0a1.dev40
Name: pymilvus-orm
Version: 2.0a1.dev38

Results:

[{"name": "_default", "description": "", "num_entities": 3000}]

1000

[{"name": "_default", "description": "", "num_entiti

[2021-06-21 08:25] #5845 closed

[2021-06-21 08:30] binbinlv commented on #5838
Verified in the following version, it has been fixed.
Name: pymilvus
Version: 2.0a1.dev40
Name: pymilvus-orm
Version: 2.0a1.dev38

Results:
search before first time load,

...
pymilvus.client.exceptions.BaseException: <BaseException: (code=1, message=collection test_search_collection was not loaded into memory)>

[2021-06-21 08:30] #5838 closed

[2021-06-21 08:35] binbinlv commented on #5837
Verified in the following version, it has been fixed. And now the threshold of 32000 for auto flush has been cancelled, each time user get num_entities, flush is actually called actively.

Name: pymilvus
Version: 2.0a1.dev40
Name: pymilvus-orm
Version: 2.0a1.dev38

[2021-06-21 08:35] #5837 closed

[2021-06-21 08:46] xiaocai2333 commented on #5918
https://github.com/milvus-io/pymilvus-orm/pull/178

[2021-06-21 08:46] binbinlv commented on #5778
Verified in the following version, it has been fixed.
Name: pymilvus
Version: 2.0a1.dev40
Name: pymilvus-orm
Version: 2.0a1.dev38

Results:

[{"name": "_default", "description": "", "num_entities": 500}]

500

[2021-06-21 08:46] #5778 closed

[2021-06-21 08:54] ThreadDao opened #5933 "Failed to create a field when the is_primary and auto_id params are both false"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
maybe not only auto_id in kwargs but also auot_id=True
[code]
**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and resolve t

[2021-06-21 08:59] yanliang567 opened #5934 "Different parameter names are input for collection.search and parition.search"
**Describe the bug**
Different parameter names are input for collection.search and parition.search

**Steps/Code to reproduce behavior**
Collection.search(self, data, anns_field, **param**, limit, expr=None, partition_names=None, output_fields=None, timeout=None, **kwargs):
Partition.search(self, data, anns_field, **params**, limit, expr=None, output_fields=None, timeout=None,
               **kwa

[2021-06-21 09:03] XuanYang-cn commented on #5242
The corresponding code has been changed, I don't think this is a problem anymore.

Please close this issue if not reproducing. @del-zhenwu

[2021-06-21 09:05] #5242 closed

[2021-06-21 09:11] yanliang567 commented on #5901
[standalone.crash2.log](https://github.com/milvus-io/milvus/files/6685470/standalone.crash2.log)
the standalone pod crashed this time after running a search test, then fail to reconnect even after the pod is running

[2021-06-21 09:28] #5905 closed

[2021-06-21 09:34] congqixia commented on #5673
Currently the python sdk has not way to indicate index name when building index so proxy will compulsorily check whether there is an index named "_default_index". If the specified index can not be found, the exception will be raised. This is the designed behavior.
In next stage, after index naming is supported this behavior will be changed.
@del-zhenwu

[2021-06-21 09:34] congqixia commented on #5674
Same as #5673
Currently the python sdk has not way to indicate index name when building index so proxy will compulsorily check whether there is an index named "_default_index". If the specified index can not be found, the exception will be raised. This is the designed behavior.
In next stage, after index naming is supported this behavior will be changed.
@del-zhenwu

[2021-06-21 09:35] ThreadDao opened #5935 "When init a collection schema with fields whose is_primary and auto_id are both True, its auto_id is False"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
1. define int_field with is_primary=True and auto_id=True
2. define vec_field with is_primary=False
3. init a schema with int_field and vec_field
4. verify schema auto_id is True
[code]
[code]

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work

[2021-06-21 09:52] Chenhongcai800 opened #5936 "data insertion IDS does not support special characters"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
In business, IDS has special characters, such as "700084-3062-916866", IDS becomes "700084" after inserting data, causing error

**Steps/Code to reproduce behavior**
 Execute the order ：
curl -X POST "http://10.27.240.7/collections/rcm_collection/vectors" -H "accept: application/json"

[2021-06-21 10:01] cydrain commented on #5916
Milvus 1.0 banner
[code]

[2021-06-21 10:14] xiaocai2333 commented on #5935
https://github.com/milvus-io/pymilvus-orm/pull/178

[2021-06-21 10:18] yanliang567 commented on #5901
The standalone pod crashed when trying to do a query(but not every query, will do more testing to specify the repro query)
call stacks are:
[2021-06-21 18:12:21,779 - ERROR - ci_test]: Traceback (most recent call last):
  File "/Users/yanliang/pymilvus/pymilvus/client/stub.py", line 51, in handler
    return func(self, *args, **kwargs)
  File "/Users/yanliang/pymilvus/pymilvus/client/stub.py", lin

[2021-06-21 10:35] bigsheeper opened #5940 "search in collection with empty partition should not throw exception"
**search in collection with empty partition should not throw exception**

**Describe the bug**
search in collection (no partitions specifed) with empty partition should not throw exception

**Steps/Code to reproduce behavior**
tests:
collection/test_load_collection.py::TestLoadCollection::test_load_collection_release_all_partitions
collection/test_load_collection.py::TestReleaseAdvanced::test_rele

[2021-06-21 10:39] del-zhenwu commented on #5673
maybe the error msg returned can be updated, such as "the collection is empty"

[2021-06-21 11:12] ThreadDao opened #5943 "An exception should be thrown when creating a schema with inconsistent auto_id"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
inconsistent auto_id means: auto_id=True in FieldSchema, auto_id=False in CollectionSchema
[code]
No exception is thrown.
[code]

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report.

[2021-06-21 11:29] fishpenguin opened #5944 "Query raises exception when the auto_id of primary_key field is true"
**Steps/Code to reproduce behavior**
[code]

[2021-06-21 11:36] ThreadDao opened #5945 "Should an exception be thrown or auto_id is False when auto_id is None?"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**

1. `auto_id=None` in FieldSchema, an exception was thrown
[code]
[code]
2. `auto_id=None` in Collection Schema, `schema.auto_id=False`
[code]
[code]

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a

[2021-06-21 12:05] shengjun1985 commented on #5936
We will support string id in v2.0.
https://github.com/milvus-io/milvus/issues/5603#issuecomment-855180248

[2021-06-21 12:32] ThreadDao opened #5947 "Extra auto_id when creating a collection with duplicate names"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
[code]

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

**Expected behavior**
A clear

[2021-06-21 12:32] czs007 commented on #5585
@del-zhenwu

[2021-06-21 12:34] #5585 closed

[2021-06-21 12:43] binbinlv commented on #5940
#5948

[2021-06-21 12:55] binbinlv opened #5949 "Milvus is crashed when searching after releasing partitions"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Milvus is crashed when searching after releasing partitions

**Steps/Code to reproduce behavior**

Run test case under tests:
collection/test_load_collection.py::TestReleaseAdvanced::test_release_partition_during_searching

Modify the code as the following for fixing issue #5940,

[2021-06-21 12:59] binbinlv commented on #5901
#5949 maybe the same root cause

[2021-06-21 13:03] ThreadDao opened #5950 "The exception message about non-int type dimensions is confusing"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
[code]

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

**Expected behavior**
A clear

[2021-06-21 13:17] #5873 closed

[2021-06-21 13:22] binbinlv opened #5951 "Milvus is crashed when inserting data with multiple datatype fields"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Milvus is crashed when inserting data with multiple datatype fields( int64, int 32, int 16, int 8, float, float_vector)

**Steps/Code to reproduce behavior**
Code:
from pymilvus_orm import CollectionSchema, FieldSchema
from pymilvus_orm import Collection
from pymilvus_orm import connec

[2021-06-22 01:15] yanliang567 commented on #5901
#5949 shall focus on why milvus crashes, and this issue focuses on why it is not able to connect after pod deleted and restarted

[2021-06-22 01:38] yanliang567 commented on #5901
it does not repro if MILVUS_CLUSTER_ENABLED=true

[2021-06-22 01:44] LocoRichard commented on #5769
Thank you, we have fixed the link. closing the issue

[2021-06-22 01:47] #5769 closed

[2021-06-22 01:50] DragonDriver commented on #5950
OK, I will fix this as soon as possible.

[2021-06-22 02:03] shengjun1985 commented on #5936
Please allow me to close the issue.
And let‘s trace it in 5603.
If you have more questions, please continue to contact our community.

[2021-06-22 02:03] #5936 closed

[2021-06-22 02:05] DragonDriver commented on #5950
OK, i will fix this as soon as possible.

[2021-06-22 02:21] xiaocai2333 commented on #5947
https://github.com/milvus-io/pymilvus-orm/pull/178

[2021-06-22 02:21] DragonDriver opened #5955 "Add metrics for proxy"
**Please state your issue using the following template and, most importantly, in English.**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. E.g. I wish I could use Milvus to do [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered*

[2021-06-22 02:24] DragonDriver commented on #5461
This issue should have been solved by the newest version. Please re-check this.

[2021-06-22 02:25] xiaocai2333 commented on #5945
https://github.com/milvus-io/pymilvus-orm/pull/178
Throw an exception when auto_id=None.

[2021-06-22 02:25] shengjun1985 commented on #4472
https://2021.sigmod.org/sigmod_industrial_list.shtml
<Milvus: A Purpose-Built Vector Data Management System>

[2021-06-22 02:27] xiaocai2333 commented on #5943
https://github.com/milvus-io/pymilvus-orm/pull/178

[2021-06-22 02:43] cydrain commented on #5916
Print banner in this way
[code]

[2021-06-22 03:04] binbinlv commented on #5461
Re-tested in the following version, if add "collection.release()", it is good now. But if "drop should call release by default in the server side" just as zhenshan said, it still could not call release by default.

So whether is it a point should be improved?

Results:

[{"name": "_default", "description": "", "num_entities": 500}, {"name": "search_partition_1", "description": "", "num_entities":

[2021-06-22 03:34] #5916 closed

[2021-06-22 03:51] yanliang567 opened #5962 "Query hang if MILVUS_CLUSTER_ENABLED=true"
**Describe the bug**
Query hang without response if Milvus deployed with  MILVUS_CLUSTER_ENABLED=true
(not repro if standalone)

**Steps/Code to reproduce behavior**
collection schema: int64, float, vector
collection with 1200 entities
term_expr = 'int64 in [1,2,3,4,5]'
collection_w.query(term_expr)

can easily run testcase test_query in tests20/testcases/

**Expected behavior**
query response wit

[2021-06-22 03:55] xiaocai2333 commented on #5934
https://github.com/milvus-io/pymilvus-orm/pull/178

[2021-06-22 03:58] ThreadDao opened #5963 "Constructing from dataframe with auto_id throws an exception"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
[code]

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

**Expected behavior**
A clear

[2021-06-22 06:32] #5963 closed

[2021-06-22 06:40] #5906 closed

[2021-06-22 06:53] czs007 commented on #5461
@neza2017  QueryCoord should be notified to execute ReleasePartition when rootCoord DropPartition

[2021-06-22 06:55] ThreadDao opened #5967 "Insert data failed with True auto_id in construct_from_dataframe"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
1. original df and  2. primary field values dropped df
[code]
error trace:
[code]
[code]

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue

[2021-06-22 07:02] binbinlv commented on #5337
The design has changed, and no load action is needed. So no need to modify the text here, close it.

Name: pymilvus
Version: 2.0a1.dev42
Name: pymilvus-orm
Version: 2.0a1.dev40

Results:

False

500

[2021-06-22 07:02] #5337 closed

[2021-06-22 07:05] czs007 commented on #5673
In fact, whether the progress of index building can be queried has nothing to do with whether the collection is empty. It seems that the index is not created in this test case, so the exception information returned here may be more user-friendly, such as "no index created"? @del-zhenwu

[2021-06-22 07:24] xiaocai2333 commented on #5933
pymilvus-orm==2.0a1.dev42

[2021-06-22 07:24] xiaocai2333 commented on #5934
pymilvus-orm==2.0a1.dev42

[2021-06-22 07:24] xiaocai2333 commented on #5935
pymilvus-orm==2.0a1.dev42

[2021-06-22 07:25] xiaocai2333 commented on #5943
pymilvus-orm==2.0a1.dev42

[2021-06-22 07:25] xiaocai2333 commented on #5945
pymilvus-orm==2.0a1.dev42

[2021-06-22 07:26] xiaocai2333 commented on #5947
pymilvus-orm==2.0a1.dev42

[2021-06-22 07:28] #5653 closed

[2021-06-22 07:32] ThreadDao opened #5970 "Construct from dataframe failed when primary field values are all none and auto_id is true"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
[code]

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

**Expected behavior**
A clear

[2021-06-22 07:32] czs007 commented on #5902
@del-zhenwu

[2021-06-22 07:42] cydrain opened #5972 "Rename proto for masterpb/indexpb/proxypb"
**Please state your issue using the following template and, most importantly, in English.**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. E.g. I wish I could use Milvus to do [...]

**Describe the solution you'd like**
Rename proto for masterpb/indexpb/proxypb

[2021-06-22 07:57] yanliang567 opened #5976 "[Chaos] Insert hang after datanode deleted and restarted"
**Describe the bug**
Insert hang after datanode deleted and restarted

**Steps/Code to reproduce behavior**
1. Deploy Miluvs with cluster mode
2. delete datanode pod and wait until it restart to running state
3. try to insert data into a collection or parition
   3.1 or run pytest: test_partition.py::TestPartitionParams::test_partition_release in tests20/python_client/testcases

**Expected behavio

[2021-06-22 08:05] ThreadDao opened #5977 "No exception is thrown when inserting duplicate data in the primary field"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
auto_id=False
[code]
No exception is thrown and all entities are inserted `num_entities = nb =100`

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the is

[2021-06-22 08:08] #5461 closed

[2021-06-22 08:09] yanliang567 commented on #5976
adding datanode pod log for reference
[datanode2.log](https://github.com/milvus-io/milvus/files/6692450/datanode2.log)

[2021-06-22 08:14] #5972 closed

[2021-06-22 08:25] del-zhenwu commented on #5227
`zilliztech/milvus_benchmark`
branch: argo
yaml:
[code]

[2021-06-22 08:52] #5949 closed

[2021-06-22 08:54] bigsheeper commented on #5949
@binbinlv

[2021-06-22 09:09] binbinlv commented on #5949
Test on milvus master latest, it is fixed.

[2021-06-22 09:30] cydrain opened #5983 "Rename master/indexService/proxyNode in config file"
**Please state your issue using the following template and, most importantly, in English.**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. E.g. I wish I could use Milvus to do [...]

**Describe the solution you'd like**
Rename master/indexService/proxyNode in config file

[2021-06-22 09:44] yanliang567 opened #5985 "[Chaos] Flush hang without timeout if datacoord deleted"
Flush hang until timeout if datacoord deleted and restarted

**Describe the bug**
Flush hang until timeout if datacoord deleted

**Steps/Code to reproduce behavior**
1. deploy Milvus with cluster mode
2.  insert and flush in a loop
3. delete datacoord pod
4. flush hang without timeout

**Expected behavior**
1.  flush need a timeout if fail

**Actual**
1. flush hangs without timeout

**Method of in

[2021-06-22 09:50] yanliang567 commented on #5985
Actually, one more side effect is that the other operations such as create, insert, search are also blocked or performance degraded by flush hang

[2021-06-22 10:09] FluorineDog opened #5988 "ci failed: wrong count"
[2021-06-22T10:01:55.023Z] [gw3] [ 62%] FAILED collection/test_collection_stats.py::TestGetCollectionStats::test_get_collection_stats_single

[2021-06-22T10:01:55.025Z]

[2021-06-22T10:01:55.025Z] =================================== FAILURES ===================================

[2021-06-22T10:01:55.025Z] ___________ TestGetCollectionStats.test_get_collection_stats_single ____________

[2021-06-22T

[2021-06-22 10:09] FluorineDog commented on #5988
unstable reproduce

[2021-06-22 10:17] czs007 commented on #5988
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-5975/4/pipeline

[2021-06-22 10:17] congqixia commented on #5988
FYI, same as #5823

[2021-06-22 10:26] scsven commented on #5962
/cc @fishpenguin

[2021-06-22 10:32] scsven commented on #5962
/assign @fishpenguin

[2021-06-22 10:40] del-zhenwu opened #5990 "Milvus hang when call get_entity_by_id"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
**Steps/Code to reproduce behavior**
1. create collection
2. 1m entities inserted (sift-1m-128d)
3. flush and load
4. get entity by id, id length: 1
cost 14s
**Expected behavior**
A clear and concise description of what you expected to happen.

**Method of installation**
- [ ] D

[2021-06-22 10:56] #5291 closed

[2021-06-22 11:08] #5983 closed

[2021-06-22 11:12] neza2017 commented on #5311
This issue has fixed, please check it @del-zhenwu , this is my test code, and it runs well
[code]

[2021-06-22 11:22] #5940 closed

[2021-06-22 11:25] binbinlv opened #5992 "Milvus is crashed when search specify vector as output_field"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Milvus is crashed when specify vector as output_field

**Steps/Code to reproduce behavior**
Code:
from pymilvus_orm import CollectionSchema, FieldSchema
from pymilvus_orm import Collection
from pymilvus_orm import connections
from pymilvus_orm.types import DataType

int64_field = Field

[2021-06-22 11:25] binbinlv commented on #5992
/cc @fishpenguin

[2021-06-22 11:41] xiaocai2333 commented on #5970
https://github.com/milvus-io/pymilvus-orm/pull/181

[2021-06-22 11:42] xiaocai2333 commented on #5967
https://github.com/milvus-io/pymilvus-orm/pull/181

[2021-06-22 11:52] czs007 commented on #5992
currently ,we do not support specify vector field as output_field. @binbinlv  @FluorineDog  @fishpenguin

[2021-06-22 12:00] binbinlv commented on #5992
Yes, but I think tell user something like "do not support currently" is better than crash of milvus. May be need improvement here. @czs007

[2021-06-22 12:32] yanliang567 opened #5993 "[Chaos] Build Index hang without timeout after indexnode deleted and restart"
**Describe the bug**
Build Index hang without timeout after indexnode deleted and restart

**Steps/Code to reproduce behavior**
1. deploy Milvus with cluster mode
2. insert 5000 entities into a collection
3. build index {"index_type": "IVF_SQ8", "metric_type": "L2", "params": {"nlist": 64}}
4. delete indexnode pod

**Expected behavior**
build index fails with an error immediately, at least there s

[2021-06-22 12:46] ThreadDao opened #5994 "Create collection with auto_id failed"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
auto=True, and `"auto_id": null` in field schema
[code]

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the is

[2021-06-22 13:22] ThreadDao opened #5995 "When inserting a None the return result type isn't MutationResult"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
[code]

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

**Expected behavior**
A clear

[2021-06-23 01:40] cydrain opened #5997 "Remove GetChanNameByVirtualChan from RootCoord"
**Please state your issue using the following template and, most importantly, in English.**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. E.g. I wish I could use Milvus to do [...]

**Describe the solution you'd like**
Remove GetChanNameByVirtualChan from RootCoord

[2021-06-23 02:07] xiaocai2333 commented on #5994
https://github.com/milvus-io/pymilvus-orm/pull/182

[2021-06-23 02:32] del-zhenwu opened #6001 "CI failed: TestInsertBase.test_insert_ids_length_not_match_single"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
**Steps/Code to reproduce behavior**
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/31/pipeline
**Expected behavior**
A clear and concise description of what you expected to happen.

**Method of installation**
- [ ] Docker/cpu
- [ ]

[2021-06-23 02:33] del-zhenwu commented on #5902
still existed

[2021-06-23 02:33] del-zhenwu commented on #5902
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/31/pipeline/42

[2021-06-23 02:48] sevenold opened #6002 "Search return partition_tag"
The search result return to the partition_tag where the searched vector is located.

[2021-06-23 02:52] #6001 closed

[2021-06-23 03:16] XuanYang-cn commented on #5976
The log is caused by a bug of datanode, I'll fix it soon.

[2021-06-23 03:18] #5997 closed

[2021-06-23 03:29] JackLCL opened #6006 "Doc error"
link: https://milvus.io/cn/docs/v1.1.1/milvus_docker-cpu.md

![image](https://user-images.githubusercontent.com/53512883/123031014-36e0c000-d416-11eb-8d1f-eb099e726051.png)

[2021-06-23 03:34] ThreadDao opened #6007 "Insert twice with true auo_id to return duplicate primary keys"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
1. create a collection with auto_id=True
2. insert nb=10 entities twice. The primary keys returned by two inserts have duplicate values
[code]
[code]

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a

[2021-06-23 03:35] yan-rui commented on #5693
Just a suggestion.  Some porject like mine wants cosine score to directily evaluate my algorithm.

[2021-06-23 03:51] DragonDriver commented on #5951
Already fixed. PTAL @binbinlv

[2021-06-23 03:54] congqixia commented on #5902
@czs007 `ReleasePartitionTask` in `querycoord` will generate child tasks with each node while task while `task.WaitToFinish()` will not wait propagated children task to finish.
In some cases, the task will return before some query node release the specified partitions.
Suggested solution:

- WaitToFinish add wait children task as well or
- ReleasePartitionTask do the whole job instead of adding ch

[2021-06-23 03:55] PahudPlus commented on #6006
@claireyuw

[2021-06-23 04:25] luoweiyi opened #6012 "Start Milvus need Mysql's create permission"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Before starting Milvus, we have created tables and tablefiles in mysql same with what milvus create automatically.Then we use a mysql user which don't have create permission to start milvus, and milvus failed with errror. The error log is milvus need create table permission.

**Steps/C

[2021-06-23 04:52] DragonDriver commented on #5823
Related PR: #6011

[2021-06-23 06:03] czs007 commented on #5902
@xige-16

[2021-06-23 06:10] xige-16 commented on #5902
WaitToFinish end with all children task done when releasePartition on master branch

[2021-06-23 06:12] xige-16 commented on #5902
the search result should be empty when collection's all data has been released, please motify test case @czs007 @del-zhenwu

[2021-06-23 06:17] czs007 commented on #5845
Actually, in the implementation of num_entities in the pymilvus-orm package, flush is  called.

[2021-06-23 06:23] czs007 commented on #5992
u r right. @FluorineDog  @fishpenguin  can we return an error code ?

[2021-06-23 06:27] DragonDriver commented on #5950
Already fixed. PTAL @ThreadDao

[2021-06-23 06:29] congqixia commented on #5902
My bad. Missed code in scheduleLoop

[2021-06-23 06:30] congqixia commented on #5902
Test case assert search result after releasing partitions to be 0

[2021-06-23 06:31] binbinlv commented on #5845
OK, thanks.

[2021-06-23 06:34] fishpenguin commented on #5992
I know this issue, but I'm strruggling if the vector field value should be returned or just return an error code?
I really think the vector field should be returned, but I cannot judge how much the work is, and this may need @FluorineDog's help.?

[2021-06-23 06:47] xiaocai2333 commented on #5995
https://github.com/milvus-io/pymilvus-orm/pull/185

[2021-06-23 06:49] XuanYang-cn commented on #5976
/cc @yanliang567
/uncc @XuanYang-cn

[2021-06-23 06:55] Ooooooooooooooooooooqp opened #6016 "bug"
**Please state your issue using the following template and, most importantly, in English.**
nihao
**Describe the bug**
A clear and concise description of what the bug is.
docker: Error response from daemon: OCI runtime create failed: invalid mount {Destination::/tmp/pic1 Type:bind Source:/var/lib/docker/volumes/7b97e7e6349e9086219d33cd36aa83811b343d3310748d6b9742c6c871599583/_data Options:[rbind]}

[2021-06-23 06:56] XuanYang-cn commented on #5976
/assign @yanliang567

[2021-06-23 07:28] XuanYang-cn commented on #5882
This logic has been changed, datanode won't crash by this.

[2021-06-23 07:28] #5882 closed

[2021-06-23 07:29] XuanYang-cn commented on #5725
Good advice, I'm on it.

/unassign @czs007

[2021-06-23 07:37] zhaoning1987 commented on #6002
Yes, the support of this feature will be really helpful. Let's consider following scenario: every vectors have an attribute named color, we insert red vectors in a partition named 'red' while blue vectors in partition 'blue'. Searching topK among red vectors will be simply searching topK in partition 'red', but if we need search topK in whole collection (no matter what color), there is no way to g

[2021-06-23 07:48] XuanYang-cn commented on #5725
/assign @wangting0128
/unassign me

[2021-06-23 07:48] #6016 closed

[2021-06-23 07:49] XuanYang-cn commented on #5725
/unassign

[2021-06-23 07:56] XuanYang-cn commented on #5610
I'm on it now

[2021-06-23 07:57] yhmo commented on #6002
Neither v2.0 not v1.0 can do this now.
To support this feature, the search result structure need to be refined.
Currently search result structure is:
[code]
To return more info, the result structure should be:
[code]

[2021-06-23 08:05] sevenold commented on #6002
possibly get the partition_tag by id?
@yhmo

[2021-06-23 08:15] JackLCL opened #6021 "Doc error"
link: https://milvus.io/cn/docs/v1.1.1/example_code.md

![image](https://user-images.githubusercontent.com/53512883/123061233-09a80800-d43e-11eb-841e-63c9bc6abacf.png)

Pymilvus for milvus1.1.1 should be 1.1.2

![image](https://user-images.githubusercontent.com/53512883/123061415-365c1f80-d43e-11eb-84a8-289b7979fffb.png)

[2021-06-23 08:18] xiaocai2333 commented on #5993
Can you paste the indexcoord's log here?

[2021-06-23 08:21] binbinlv commented on #5951
Verified in the following version, and it has been fixed.
milvus:master
Name: pymilvus
Version: 2.0a1.dev43
Name: pymilvus-orm
Version: 2.0a1.dev45

Results:

<pymilvus.client.stub.Milvus object at 0x7fe0b9838ba8>

[{"name": "_default", "description": "", "num_entities": 0}]

[{"name": "_default", "description": "", "num_entities": 3000}]

[2021-06-23 08:21] #5951 closed

[2021-06-23 08:24] yanliang567 commented on #5993
indexnode log after restarted:
[indexnode1.log](https://github.com/milvus-io/milvus/files/6700209/indexnode1.log)

[2021-06-23 08:56] ThreadDao commented on #5901
1. standalone pod crashed and restated 2. `raise Exception("server is not healthy, please try again later")`
[1.log](https://github.com/milvus-io/milvus/files/6700434/1.log)

[2021-06-23 08:59] #5902 closed

[2021-06-23 09:04] xige-16 commented on #5865
Has this issue been resolved? @xiaocai2333 @yhmo

[2021-06-23 09:09] #5988 closed

[2021-06-23 09:16] ThreadDao opened #6028 "Server crashed when query on a empty collection"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
[0.log](https://github.com/milvus-io/milvus/files/6700553/0.log)
[code]

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having an

[2021-06-23 09:30] neza2017 commented on #5901
[code]

this git commit not found in the master branch, please check it

[2021-06-23 09:32] neza2017 commented on #5901
[code]

[2021-06-23 09:34] czs007 commented on #6007
@ThreadDao  please recheck this.

[2021-06-23 09:42] del-zhenwu opened #6031 "pymilvus syntax error"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Pls rename `response.error_code` to `response.status.error_code`

[code]
**Steps/Code to reproduce behavior**

**Expected behavior**
A clear and concise description of what you expected to happen.

**Method of installation**
- [ ] Docker/cpu
- [ ] Docker/gpu
- [ ] Build from source

**

[2021-06-23 09:46] yanliang567 opened #6032 "[Chaos] Search hang after querynode deleted and restarted"
**Describe the bug**
Search hang after querynode deleted and restarted

**Steps/Code to reproduce behavior**
1. deploy Milvus with cluster mode
2. delete querynode pod and wait until it restarted to running state
3. do a search  (you can run test_partition_release_after_collection_released in tests20/python_client/testcases/test_partition.py)

**Expected behavior**
Search return with results

- Mi

[2021-06-23 10:03] neza2017 commented on #5901
msgstream.Seek block RootCoord, so root_coord in `Initializing` state
1.  we could find this msg in the log file `[root_coord.go:494] ["msgstream seek to position"]`
2. bu we could not find `[root_coord.go:498] ["msg stream seek`

[2021-06-23 10:09] czs007 commented on #5865
no

[2021-06-23 10:09] ThreadDao opened #6033 "Server crashed when query with none expr"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
[0.log](https://github.com/milvus-io/milvus/files/6700929/0.log)

[code]

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having a

[2021-06-23 10:11] czs007 commented on #5673
refer to #5978 @del-zhenwu

[2021-06-23 10:12] czs007 commented on #5674
refer to #5978 @del-zhenwu

[2021-06-23 10:16] czs007 commented on #5944
@fishpenguin  @FluorineDog  any update about this?

[2021-06-23 10:17] del-zhenwu opened #6034 "Add error handler in self._connection in pymilvus"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

**Expected behavior**
A clear and conc

[2021-06-23 10:17] czs007 commented on #5934
@yanliang567
@xiaocai2333 remember to notify the author

[2021-06-23 10:34] del-zhenwu opened #6035 "Server crashed during queries by id on indexed collection"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

**Expected behavior**
A clear and conc

[2021-06-23 11:00] XuanYang-cn commented on #5610
After 19 days, there's a lot of changes. The offering code doesn't work anymore.

I'm testing with the following code:
[code]
 And they work fine.

BTW I think this bug has been fixed long time ago.

[2021-06-23 11:01] XuanYang-cn commented on #5610
/unassign
/assign @ThreadDao

[2021-06-23 11:03] XuanYang-cn commented on #5985
I'm looking into this right now.

[2021-06-23 11:05] xige-16 commented on #5865
I repeated the test 20 times and the results are all correct. Please check manually @yhmo @czs007

[2021-06-23 11:07] XuanYang-cn commented on #6021
same error in `pymilvus:master` `README.md`

[2021-06-23 11:20] EitanZ-GSI opened #6038 "upgrade cuda version to cuda-11"
**Is your feature request related to a problem? Please describe.**
i wish Milvus will support cuda-11 in order to support latest Gpu's devices.
Gsi compeny perform neural-Hash train in order to convert float32 data set to a binary data set with lower bit demention .
train is been done using Gpu .

**Describe the solution you'd like**
upgrade milvus cuda dependency from 10.X to 11.

**Describe alte

[2021-06-23 11:25] fishpenguin commented on #5962
Fixed in [pr6037](https://github.com/milvus-io/milvus/pull/6037)

[2021-06-23 11:27] neza2017 commented on #5800
This issue has fixed, this is my test code, please check it
[code]
output
[code]

[2021-06-23 11:30] shengjun1985 commented on #6006
Fixed. Thank you.

[2021-06-23 11:30] #6006 closed

[2021-06-23 11:34] yanliang567 opened #6040 "[Chaos] Search fails with exception if querycoord deleted and restarted"
**Describe the bug**
Search fails with exception if querycoord deleted and restarted

**Steps/Code to reproduce behavior**
1. deploy Milvus 2.0 with cluster mode
2. delete querycoord pod and wait until it restarted to running state
3. do a search

**Expected behavior**
return successfully with results

**Actually**
Exception:
pymilvus.client.exceptions.BaseException: <BaseException: (code=1, messa

[2021-06-23 11:47] neza2017 commented on #5311
#6042

[2021-06-23 11:49] ThreadDao opened #6044 "Unhandled exception in pymilvus orm"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
test case:
[code]
[code]

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

**Expected behavior

[2021-06-23 11:49] yanliang567 commented on #6040
seems like it reproduces occasionally

[2021-06-23 12:02] binbinlv opened #6045 "load hangs after partition released"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
load hangs after partition released

**Steps/Code to reproduce behavior**
Code:
from pymilvus_orm import CollectionSchema, FieldSchema
from pymilvus_orm import Collection
from pymilvus_orm import connections
from pymilvus_orm.types import DataType
from pymilvus_orm import Partition

in

[2021-06-23 12:03] binbinlv commented on #6045
/assign @xiaocai2333

[2021-06-23 12:03] ThreadDao opened #6046 "The exception message for query with invalid string expr is strange"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
[code]
**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

**Expected behavior**
A clear a

[2021-06-23 12:07] yanliang567 commented on #5976
repro against Built:     Wed Jun 23 07:31:13 UTC 2021    GitCommit: 9ebca59
[datacoordII.log](https://github.com/milvus-io/milvus/files/6701655/datacoordII.log)
[datanodeII.log](https://github.com/milvus-io/milvus/files/6701656/datanodeII.log)

[2021-06-23 12:59] yanliang567 commented on #5993
on Built:     Wed Jun 23 07:31:13 UTC 2021      GitCommit: 9ebca59
raise BaseException(Status.UNEXPECTED_ERROR, "create index failed")
pymilvus.client.exceptions.BaseException: <BaseException: (code=1, message=create index failed)>
 (api_request.py:22)
[2021-06-23 20:51:17,392 - ERROR - ci_test]: (api_response) [Milvus API Exception]<function api_request at 0x7f88905a8430>: <BaseException: (code=1

[2021-06-23 13:14] binbinlv opened #6048 "Index is created failed with exception"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Index created failed with assert
success: IVF_FLAT,  IVF_SQ8

fail:  "IVF_PQ", "HNSW", "RHNSW_FLAT", "RHNSW_PQ", "RHNSW_SQ", "ANNOY"

**Steps/Code to reproduce behavior**
Code:

from pymilvus_orm import CollectionSchema, FieldSchema
from pymilvus_orm import Collection
from pymilvus_orm

[2021-06-23 13:32] ThreadDao opened #6049 "Server crashed when query with not existed output fields"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
actual fields include int64, float, and float_vec. And query with output fields=["int]
[code]
[0.log](https://github.com/milvus-io/milvus/files/6702127/0.log)
[code]
**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-repo

[2021-06-23 15:09] klimentij opened #6050 "Can't build PQ index with m=64, nbits=8 due to SharedMemPerBlock limitation"
**Please state your issue using the following template and, most importantly, in English.**
With the data I have, I need at least 64 sub-quantizers to reach the desired recall@100 (0.9) according to my experiments on Milvus-CPU

**Describe the bug**
When I try to create a PQ index with m=64, nbits=8 or 16 and any nlist for a 500000x768 collection I get the following error:
[code]

**Steps/Code to

[2021-06-24 00:49] yanliang567 commented on #5703
it looks not repro on Built:     Wed Jun 23 07:31:13 UTC 2021   GitCommit: 9ebca59 with cluster mode. i am not sure for standalone mode, please check.

[2021-06-24 01:40] neza2017 commented on #5449
this issue fix by #6042, please check it

my test code
[code]
output
[code]

[2021-06-24 01:40] neza2017 commented on #5449
@del-zhenwu

[2021-06-24 01:52] xiaocai2333 commented on #6048
The index about IVF_PQ must contain 'm' and 'nbits' params.

[2021-06-24 01:57] neza2017 commented on #5800
@nameczz

[2021-06-24 01:57] ThreadDao opened #6051 "No response to query"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
1. create a collection and insert 1200 entities
2. query and no response
**_query with the image of commit dca24f3 is ok, and query with image of commit b72e4c6 no response_**
[0.log](https://github.com/milvus-io/milvus/files/6702412/0.log)

**Steps/Code to reproduce behavior**
Follow

[2021-06-24 01:58] czs007 commented on #5876
@fishpenguin

[2021-06-24 02:02] fishpenguin commented on #6028
@czs007

[2021-06-24 02:04] XuanYang-cn commented on #5976
/assign
/unassign @yanliang567

[2021-06-24 02:04] fishpenguin commented on #6028
@czs007

[2021-06-24 02:06] #5675 closed

[2021-06-24 02:09] cydrain commented on #5990
Milvus will hang in proxy/task.go L2145
[code]

[2021-06-24 02:24] del-zhenwu opened #6053 "Error raised when query on an empty collection"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

**Expected behavior**
A clear and conc

[2021-06-24 02:42] binbinlv commented on #6048
OK, retested specifying m, and bits as default, then it success.

Status(code=0, message='')

And may I ask why "m" could not be given a default value just as "nbits"?

[2021-06-24 02:43] shengjun1985 commented on #6050
The suggestion is very useful.
Thank you very much.

[2021-06-24 02:46] del-zhenwu opened #6055 "Client hang after call create index"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
The reproduce script is the same with #5703

the client get no response after 30 min.
[code]
**Steps/Code to reproduce behavior**

**Expected behavior**
A clear and concise description of what you expected to happen.

**Method of installation**
- [ ] Docker/cpu
- [ ] Docker/gpu
- [ ] B

[2021-06-24 02:50] neza2017 commented on #6055
dup with #5449
this issue fix #6042, please check if after #6042 merged
@del-zhenwu

[2021-06-24 02:58] ThreadDao opened #6056 "Server crashed when query with invalid output fields"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Server crashed when query with `output_fields="12-s"`
[code]

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issu

[2021-06-24 03:04] cydrain commented on #5990
Repo: git@github.com:zilliztech/milvus_benchmark.git
Branch: argo

Run this command to re-produce
python main.py --local --suite=suites/2_insert_get.yaml

[2021-06-24 03:06] ThreadDao commented on #6051
@fishpenguin

[2021-06-24 03:13] shengjun1985 commented on #6038
Is it OK that we only release on cuda-10, but providing a compilation option to allow users to compile on cuda-11 by themselves?

[2021-06-24 03:14] wangting0128 commented on #5155
Verified

[2021-06-24 03:14] #5155 closed

[2021-06-24 03:14] yanliang567 opened #6058 "[Chaos] Milvus operations hang if operations requested during proxy deleted period"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps/Code to reproduce behavior**
1. deploy Milvus with cluster mode
2. add a connection and connect to Milvus
3.  write a loop to create collection, insert data and search
4. delete proxy pod every 2 seconds for 20 seconds
5. wait proxy pod restarted until running state

**Expected behavior**
1. the operation return erro

[2021-06-24 03:15] wangting0128 commented on #5156
Verified

[2021-06-24 03:15] #5156 closed

[2021-06-24 03:15] #5664 closed

[2021-06-24 03:16] wangting0128 commented on #5684
Verified

[2021-06-24 03:16] #5684 closed

[2021-06-24 03:16] wangting0128 commented on #5697
Verified

[2021-06-24 03:16] #5697 closed

[2021-06-24 03:17] wangting0128 commented on #5723
Verified

[2021-06-24 03:17] #5723 closed

[2021-06-24 03:17] ThreadDao opened #6059 "Server crashed when query without loading"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
[code]

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

**Expected behavior**
A clear

[2021-06-24 03:17] XuanYang-cn commented on #5976
## Updates
1. Even if I start the cluster and then run this
   `pytest: test_partition.py::TestPartitionParams::test_partition_release`,

It'll be stuck at L:266 search. https://github.com/milvus-io/milvus/blob/b72e4c63726e28cd54f90c642faf5394d4a24c12/tests20/python_client/testcases/test_partition.py#L276

For this bug, I've notice @xige-16 to look into it.

2. I did this:

- start cluster
- call

[2021-06-24 03:18] XuanYang-cn commented on #5976
/assign @yanliang567 @xige-16

[2021-06-24 03:26] binbinlv commented on #6048
close it first.

[2021-06-24 03:26] #6048 closed

[2021-06-24 03:28] ThreadDao commented on #6028
This problem also existed in empty partition
[code]
[code]

[2021-06-24 03:31] Alsace-lee opened #6060 "Expectation for vector upsert function"
Since made-in-china.com released "image search" in November 2020, as the vector retrieval engine, Milvus has shown very powerful performance.
Because of the powerful performance of Milvus, we decided to promote more business scenarios.
However,in some scenarios, the feature vector may change frequently, for example : user behaviors，Therefore, we need to frequently update the vector corresponding t

[2021-06-24 03:35] ThreadDao opened #6061 "Server crashed when query on a not existed partition"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
[code]

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

**Expected behavior**
A clear

[2021-06-24 03:36] yhmo commented on #6012
Mysql user with create/delete/insert permission is required by Milvus. Milvus may change meta at startup.

[2021-06-24 03:44] XuanYang-cn commented on #5976
[code]

[2021-06-24 04:08] binbinlv opened #6065 "Search is 0 if run load before "collection.partitions" and no results any more even run "collection.partitions" and "load" several times later"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Search is 0 if run load before "collection.partitions" and no results any more even run "collection.partitions" and "load" more times

Good case: insert, run "collection.partitions" and "load", and "search"
Bad case: insert, load, run "collection.partitions", load, and search even +  "

[2021-06-24 04:13] wangting0128 commented on #5725
Alias input these four parameters： None， (1,)，1.0， 1， the following interfaces do not report errors：
  1. def disconnect(self, alias):
  2. def remove_connection(self, alias):
  3. def get_connection_addr(self, alias):

logs:
DEBUG    ci_test:api_request.py:40 (api_request) Request: [<bound method Connections.disconnect of <pymilvus_orm.connections.Connections object at 0x7ff37c374668>>] args: [No

[2021-06-24 06:05] fishpenguin commented on #6031
Already fixed

[2021-06-24 06:10] sunby commented on #5985
Client retried too many times to connect with datacoord so the flush request blocked. Proxy handle request sequentially and other requests will wait util the previous request returns. IMHO, requests should be handled concurrently unless they actually have internal relations. This will be fixed after 2.0-RC1. @yanliang567 @czs007

[2021-06-24 06:27] xige-16 commented on #6040
It seems that queryCoord received a load request before it was fully started. then the queryCoord crash

[2021-06-24 06:28] xige-16 commented on #6040
#6067  fixed the issue of queryCoord crash

[2021-06-24 06:33] #5944 closed

[2021-06-24 06:41] congqixia commented on #5408
/assign @ThreadDao
/unassign @czs007
/unassign

[2021-06-24 06:44] fishpenguin commented on #6051
Already fixed in https://github.com/milvus-io/milvus/pull/6054

[2021-06-24 06:50] yanliang567 commented on #5992
for 2.0.0RC1, return an error msg

[2021-06-24 06:52] #6051 closed

[2021-06-24 06:57] fishpenguin commented on #6049
Already fixed

[2021-06-24 06:58] yanliang567 commented on #5977
by design in bug triage meeting

[2021-06-24 06:58] fishpenguin commented on #6028
Same bug with [issue 6049](https://github.com/milvus-io/milvus/issues/6049). Already fixed.

[2021-06-24 07:11] yanliang567 commented on #5053
try to repro against new build

[2021-06-24 07:15] #5408 closed

[2021-06-24 07:17] DragonDriver commented on #5696
Same as: #5901

[2021-06-24 07:18] #5421 closed

[2021-06-24 07:18] #5610 closed

[2021-06-24 07:28] cydrain commented on #5990
fixed by #6054

[2021-06-24 07:33] #5918 closed

[2021-06-24 07:39] #5933 closed

[2021-06-24 07:40] #5935 closed

[2021-06-24 07:59] xige-16 commented on #5521
This issue seems to have been resolved, Please check and close it @del-zhenwu

[2021-06-24 08:06] del-zhenwu opened #6070 "Wrong result returned by query"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
**Steps/Code to reproduce behavior**
ids: [0:3000]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Method of installation**
- [ ] Docker/cpu
- [ ] Docker/gpu
- [ ] Build from source

**Environment details**
- Hardware/Software conditions

[2021-06-24 08:10] del-zhenwu opened #6072 "Support query binary vector by id"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

**Expected behavior**
A clear and conc

[2021-06-24 08:20] #5943 closed

[2021-06-24 08:20] xige-16 commented on #5283
This issue seems to have been resolved, Please check and close it @del-zhenwu

[2021-06-24 08:24] del-zhenwu commented on #6055
still hang on dataset sift50m

[2021-06-24 08:30] del-zhenwu opened #6074 "Update the error msg returned by query on an not existed field"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
**Steps/Code to reproduce behavior**
[code]
**Expected behavior**
A clear and concise description of what you expected to happen.

**Method of installation**
- [ ] Docker/cpu
- [ ] Docker/gpu
- [ ] Build from source

**Environment details**
- Hardware/Software conditions (OS, CP

[2021-06-24 08:44] #6033 closed

[2021-06-24 08:48] del-zhenwu opened #6075 "Server crashed during queries on with the given partition"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
**Steps/Code to reproduce behavior**
[code]
**Expected behavior**
A clear and concise description of what you expected to happen.

**Method of installation**
- [ ] Docker/cpu
- [ ] Docker/gpu
- [ ] Build from source

**Environment details**
- Hardware/Software conditions (OS, CP

[2021-06-24 08:49] ThreadDao opened #6077 "Construct_from_dataframe with auto_id None didn't raise exception"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

**Expected behavior**
A clear and con

[2021-06-24 08:49] ThreadDao commented on #6077
/cc @xiaocai2333

[2021-06-24 08:49] XuanYang-cn commented on #5725
/unassign
/assign @wangting0128

[2021-06-24 08:51] #5945 closed

[2021-06-24 08:51] fishpenguin commented on #6035
I'm working on it.

[2021-06-24 08:52] congqixia commented on #6070
@del-zhenwu
This test case failed because the query result is not in the same order in query expr
[code]

The order irrelevant match passes while the relevant ones failed.

Is this the expected behavior?
 @xige-16 @bigsheeper

[2021-06-24 08:55] czs007 commented on #5976
/assign @bigsheeper

[2021-06-24 08:59] yanliang567 opened #6079 "Querynode crashed if running search test in multiple processes"
**Describe the bug**
Querynode crashed if running search test in multiple threads

**Steps/Code to reproduce behavior**
1. deploy Milvus 2.0 with cluster mode
2. in tests20/python_client/testcases/ run
    pytest test_search.py::TestCollectionSearch --host <ip>  -s --workers 4

**Expected behavior**
Milvus shall not crash no matter tests pass or not

- Milvus version (master or released version)
B

[2021-06-24 09:12] cydrain commented on #5977
/unassign cydrain

[2021-06-24 09:12] wangting0128 opened #6081 "Return the object of the collection according to the collection name"
**Please state your issue using the following template and, most importantly, in English.**

**Is your feature request related to a problem? Please describe.**
Clear all the collections, now there is no interface that passes the collection name to drop the collection.
There is only an interface of list_collections that list all collection names in the utility class.

**Describe the solution you'd

[2021-06-24 09:16] cydrain commented on #6056
this case is in test20/python_client/testcases/test_query.py Line:338
but when run this line
[code]
Milvus will throw exception "do not contain any data" (reported from proxy/task.go Line:446)

Please help to check

/assign DragonDriver

[2021-06-24 09:16] czs007 commented on #6070
@del-zhenwu The order is not guaranteed, since proxy collect and combine the results  from multiple querynodes without any processing and in each query node, the result is also unordered.

[2021-06-24 09:17] congqixia commented on #6070
/assign @del-zhenwu
/unassign

[2021-06-24 09:17] yhmo opened #6082 "Unstable issue for standalone mode in CI"
**Describe the bug**
There is a test case search an empty collection without insertion, it could hang in the MemMsgStream class.

[2021-06-24 09:23] #5947 closed

[2021-06-24 09:28] ThreadDao commented on #5950
??
[code]

[2021-06-24 09:28] ThreadDao commented on #5950
/unassign
/assign @DragonDriver

[2021-06-24 09:36] zhaoning1987 opened #6085 "restful api search result return id -1"
step:
1. start milvus with image milvusdb/milvus:1.1.1-cpu-d061621-330cc6
2. create a collection
3. insert a record (id:1, vector:[1,1]) in the collection
4. do a search with topk=10, it is supposed to get only one result which is the one we insert in step3, however we got another result with id -1.
![image](https://user-images.githubusercontent.com/39478004/123240012-82789400-d512-11eb-931b-13c38

[2021-06-24 09:41] ThreadDao commented on #5967
Fresh exception:
[code]
Dataframe just have `[float, float_vec]` fields because auto_id=True, so that `pk_index == -1 is True`. This exception was thrown from collection.py:
[code]

[2021-06-24 09:41] ThreadDao commented on #5967
/unassign
/assign @xiaocai2333

[2021-06-24 09:43] sunby commented on #6079
I ran this case and got:
`fatal error: unexpected signal during runtime execution
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x7f3917bd7795]

runtime stack:
runtime.throw(0x23849ae, 0x2a)
    /usr/local/go/src/runtime/panic.go:1117 +0x72
runtime.sigpanic()
    /usr/local/go/src/runtime/signal_unix.go:718 +0x2e5

goroutine 27803 [syscall]:
runtime.cgocall(0x150f095, 0xc001296e00,

[2021-06-24 09:47] del-zhenwu opened #6086 "Remove debug log in pymilvus"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

**Expected behavior**
A clear and conc

[2021-06-24 09:50] #5970 closed

[2021-06-24 09:51] #5994 closed

[2021-06-24 09:52] #5995 closed

[2021-06-24 09:54] xiaocai2333 commented on #6077
https://github.com/milvus-io/pymilvus-orm/pull/190

[2021-06-24 09:54] xiaocai2333 commented on #6077
/cc @ThreadDao

[2021-06-24 09:54] sunby commented on #6079
here is the log of querynode
[query_node.log](https://github.com/milvus-io/milvus/files/6708201/query_node.log)

[2021-06-24 09:54] #6007 closed

[2021-06-24 09:56] yanliang567 commented on #5977
/assign @ThreadDao

[2021-06-24 09:57] yanliang567 commented on #5934
verified.

[2021-06-24 09:57] #5934 closed

[2021-06-24 10:02] jingkl opened #6088 "Milvus reports an error on two consecutive loads of data"
1.Milvus version
pymilvus-orm ==2.0a1.dev43
Milvus docker
![微信图片_20210624175953](https://user-images.githubusercontent.com/34296482/123243937-0aac6880-d516-11eb-9243-8d135b967e60.png)
2. Milvus loads data into the same collection twice in a row
<img width="1843" alt="2021624-18143" src="https://user-images.githubusercontent.com/34296482/123244211-447d6f00-d516-11eb-9552-058e10b3c263.png">

[2021-06-24 10:23] czs007 commented on #5990
@del-zhenwu

[2021-06-24 10:25] czs007 commented on #5976
@yanliang567

[2021-06-24 10:27] czs007 commented on #6065
working on it

[2021-06-24 10:28] xige-16 commented on #6079
I can't reproduce it locally @yanliang567 @sunby

[2021-06-24 10:29] xige-16 commented on #6079
the querynode.log doesn't seem to have crashed

[2021-06-24 10:50] czs007 commented on #5993
One guess is that the retry time is too long. The previous implementation was to retry 300 times, each time waiting for 6 seconds, about half an hour. Looks like it's stuck. please refer to this #6083 and retry. @yanliang567

[2021-06-24 11:04] #6075 closed

[2021-06-24 11:13] yhmo commented on #6038
The cuda 11 renamed an api, which is invoked by milvus search engine. So we can't build a milvus to compatible with both cuda 11 and 10.x. Except we build two images, one for cuda 11, another for cuda 10.x.

[2021-06-24 11:13] czs007 commented on #6088
@jingkl  please update Pymilvus-ORM to the latest version and retry.

[2021-06-24 11:22] xige-16 commented on #6032
I can't reproduce it locally. I restart querynode and rerun test test_partition_release_after_collection_released successfully. Trouble you to check again. @yanliang567

[2021-06-24 11:24] yhmo commented on #6002
Get entity attributes by id is available in v2.0. We provide this api:
`def query(self, collection_name, expr, output_fields)`

User can define a field to store partition tag in collection schema, then insert entities with their partition tag as an attribute. Call the query() to specify the field to return entity's partition tag.

[2021-06-24 11:28] #6082 closed

[2021-06-24 11:34] yanliang567 commented on #5976
/assign @godchen0212
the root cause might be the datanode has no cluster-ip after restarted.

[2021-06-24 11:34] yanliang567 commented on #5976
/unassign

[2021-06-24 11:36] ThreadDao opened #6093 "No exception is thrown when create schema with two primary fields"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
[code]
If create a collection with this schema, the exception is:
[code]

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having a

[2021-06-24 11:36] ThreadDao commented on #6093
/assign @xiaocai2333

[2021-06-24 11:40] ThreadDao commented on #6093
/label kind/bug

[2021-06-24 11:41] ThreadDao commented on #6093
/kind bug

[2021-06-24 11:41] ThreadDao commented on #6093
/sdk python

[2021-06-24 11:44] ThreadDao commented on #6093
/label sdk/python

[2021-06-24 11:57] xige-16 commented on #6079
I update pymilvus-orm's version to 2.0a1.dev51 and this problem has been reproduced. I'm working on it

[2021-06-24 12:02] #5977 closed

[2021-06-24 12:06] yanliang567 commented on #5772
verified in logs.

[2021-06-24 12:06] #5772 closed

[2021-06-24 12:23] yanliang567 commented on #5993
will retry after #6083 merged.

[2021-06-24 12:35] yanliang567 commented on #6040
verified on Built:
Thu Jun 24 08:46:20 UTC 2021
GitCommit: 0f409da

[2021-06-24 12:35] #6040 closed

[2021-06-24 12:54] yanliang567 opened #6098 "[Chaos] Load hang if doing search during querynode deleted"
**Describe the bug**
 Load hang if doing search during quernode deleted

**Steps/Code to reproduce behavior**
1. deploy Milvus 2.0 with cluster mode
2. doing search in a loop
3. keep deleting querynode for 20 seconds
4. stop deleting querynode and wait until it restarted to running state
5. do search again

**Expected behavior**
search in step#5 succeeds

- Milvus version (master or released versi

[2021-06-24 12:55] yanliang567 commented on #6098
/assign @xige-16
/kind bug
/milestone 2.0.0-RC1

[2021-06-24 12:58] yanliang567 commented on #6032
not repro on
Built:     Thu Jun 24 08:46:20 UTC 2021
GitCommit: 0f409da

[2021-06-24 12:58] #6032 closed

[2021-06-24 12:59] yanliang567 commented on #6098
[querycoord6098.log](https://github.com/milvus-io/milvus/files/6709357/querycoord6098.log)
[querycoord6098.log](https://github.com/milvus-io/milvus/files/6709359/querycoord6098.log)
[rootcoord6098.log](https://github.com/milvus-io/milvus/files/6709363/rootcoord6098.log)

[2021-06-24 13:03] fishpenguin commented on #6035
This has been discussed that the case should be changed or removed

[2021-06-24 13:07] fishpenguin commented on #6046
Working on it...

[2021-06-25 00:53] yanliang567 commented on #5962
verify on Built:
Thu Jun 24 08:46:20 UTC 2021
GitCommit: 0f409da

[2021-06-25 00:53] #5962 closed

[2021-06-25 01:11] yanliang567 commented on #6049
It does not crash on built:
Thu Jun 24 08:46:20 UTC 2021
GitCommit: 0f409da
But the error msg looks meaningless #6074
@ThreadDao

[2021-06-25 01:52] yanliang567 commented on #5993
not repro on build master-20210624-cea83dd

[2021-06-25 02:00] yhmo commented on #6002
@sevenold
I just confirmed, in v2.0, the search() api can return specified attributes.
For example, user define a collection with two fields: vector field "vec_data" and an int64 field "partition_id", then insert entities with vector data and its partition_id. Because the first version of 2.0 not support string field, user need to maintain a map between string partition_tag to integer partition_id

[2021-06-25 02:00] del-zhenwu commented on #6035
it should not crashed

[2021-06-25 02:01] #5990 closed

[2021-06-25 02:04] DragonDriver commented on #5950
test code:

[code]

Exception:

Addr [127.0.0.1:19530] create_collection
Excepted error: invalid dim: [1, 2, 3, 4]
	{'API start': '2021-06-25 10:02:42.907756', 'RPC start': '2021-06-25 10:02:42.907872', 'Exception': '2021-06-25 10:02:42.907927'}
Traceback (most recent call last):
  File "/home/ljq/work/pymilvus/pymilvus/client/prepare.py", line 104, in create_collection_request
    int(tv)
TypeErr

[2021-06-25 02:04] congqixia commented on #6044
/unassign @czs007
/assign @congqixia

[2021-06-25 02:07] fishpenguin commented on #6035
I'm working on it

[2021-06-25 02:07] fishpenguin commented on #6053
I'm working on it

[2021-06-25 02:08] fishpenguin commented on #6061
I'm working on it...

[2021-06-25 02:09] congqixia commented on #6059
/unassign @fishpenguin
/assign @congqixia

[2021-06-25 02:12] xige-16 commented on #6045
This issue seems to have been resolved by #6097 , Please check and close it @del-zhenwu

[2021-06-25 02:13] xige-16 commented on #6045
@binbinlv

[2021-06-25 02:13] nameczz commented on #5698
I think this is fixed

[2021-06-25 02:13] #5698 closed

[2021-06-25 02:19] cydrain commented on #5865
/assign cydrain

[2021-06-25 02:22] #6070 closed

[2021-06-25 02:23] #6031 closed

[2021-06-25 02:25] DragonDriver commented on #5950
Already fixed in pymilvus. I will update pymilvus-orm later.

[2021-06-25 02:27] del-zhenwu opened #6103 "Search time cost more than 200s on dataset: sift-50m-128d"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
**Steps/Code to reproduce behavior**
server:

dataset:  sift-50m-128d
index: ivf_flat, nlist: 2048
query: nrpobe: 32, 'nq': 1200, 'topk': 1000,
time cost: 200s

**Expected behavior**
A clear and concise description of what you expected to happen.

**Method of installation**
- [

[2021-06-25 02:38] yanliang567 opened #6105 "Error msg is meaningless for indexcoord unavailable"
**Describe the bug**
Error msg is meaningless for indexcoord unavailable

**Steps/Code to reproduce behavior**
1. keep deleting indexcoord pod
2. Try to build index when indexcoord unavailable

**Expected behavior**
build index fails with an meaningful error msg

**Actually**
pymilvus.client.exceptions.BaseException: <BaseException: (code=1, message=CreateIndex failed, error = All attempts results

[2021-06-25 02:39] del-zhenwu opened #6106 "Create index failed with msg: core context done, context canceled"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
**Steps/Code to reproduce behavior**
argo branch on zilliztech/milvus_benchmark
metric_type : IP

**Expected behavior**
A clear and concise description of what you expected to happen.

**Method of installation**
- [ ] Docker/cpu
- [ ] Docker/gpu
- [ ] Build from source

**Enviro

[2021-06-25 02:40] yanliang567 commented on #6105
/kind bug
/milestone 2.0.0

[2021-06-25 02:45] binbinlv commented on #6045
Verified, and fixed.

Name: pymilvus
Version: 2.0a1.dev49
Name: pymilvus-orm
Version: 2.0a1.dev57
milvus: master

Results:

[2021-06-25 02:45] #6045 closed

[2021-06-25 02:46] sunby commented on #5865
What is the pymilvus version?

[2021-06-25 02:53] nameczz commented on #5800
Docker: milvusdb/milvus-dev:master-latest
I am not use pymilvus. I use proto client to operate milvus directly.
And index still exist after drop index.
![image](https://user-images.githubusercontent.com/20559208/123362621-8d2f3980-d5a3-11eb-8ad7-f6423168062b.png)

[2021-06-25 02:58] nameczz opened #6109 "Get load collection still return all collections"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Get load collection still return all collections

**Steps/Code to reproduce behavior**
1. Create two collections
2. Load one collection
3. Get collection with type: 1
4. Return all collections

**Expected behavior**
Return loaded collections when type:1

**Method of installation**
- [

[2021-06-25 03:01] yanliang567 opened #6110 "[Chaos] Create/Insert/Flush/Search Ops are blocked when the indexcoord pod was deleted and an attempt of building index is keeping retry"
**Describe the bug**
Create/Insert/Flush/Search Ops are blocked when the indexcoord pod was deleted and an attempt of building index is keeping retry

**Steps/Code to reproduce behavior**
1. deploy Milvus 2.0 with cluster mode
2. start a thread to create collection in a loop
3. start a thread to insert data in a loop
4. start a thread to flush data in a loop
5. start a thread to search vectors in

[2021-06-25 03:07] yanliang567 commented on #6110
/kind bug
/assign @czs007
/milestone 2.0.0-RC1

[2021-06-25 03:08] yanliang567 commented on #6110
[indexcoord-6110.log](https://github.com/milvus-io/milvus/files/6713266/indexcoord-6110.log)
[indexnode-6110.log](https://github.com/milvus-io/milvus/files/6713267/indexnode-6110.log)
[querycoord-6110.log](https://github.com/milvus-io/milvus/files/6713270/querycoord-6110.log)
[rootcoord-6110.log](https://github.com/milvus-io/milvus/files/6713273/rootcoord-6110.log)

[2021-06-25 03:11] binbinlv opened #6111 "Search released partition still report "partition has been released" after load"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Search partition still report "partition has been released" after load

**Steps/Code to reproduce behavior**
Steps:
1 create connect, collection, and insert(1000 entities, 500 in each partition separately), load
2 partition release and search
3 search collection (return 500), search re

[2021-06-25 03:11] binbinlv commented on #6111
/kind bug

[2021-06-25 03:18] fishpenguin commented on #6053
Cannot reproduce, please check again.

[2021-06-25 03:20] binbinlv commented on #6111
/label sdk/python

[2021-06-25 03:28] binbinlv commented on #6111
/assign @xige-16

[2021-06-25 03:29] fishpenguin commented on #6061
Cannot reproduce, pls check again...

[2021-06-25 03:36] yhmo commented on #5865
This issue is not reproducible with the latest milvus and pymilvus. Close it.

[2021-06-25 03:36] #5865 closed

[2021-06-25 03:45] congqixia commented on #6059
Re-tested with latest version
test/python_test/entity/test_query.py::TestQueryPartition::test_query_partition_without_loading  passed
tests20/python_client/testcases/test_query.py::TestQueryBase::test_query_partition_without_loading  xpassed

Note that the tests20/python_client requirment.txt has been updated in the last commit(to update pymilvus-orm version)

Please verify @ThreadDao

[2021-06-25 03:46] congqixia commented on #6059
/assign @ThreadDao
/unassign

[2021-06-25 03:48] del-zhenwu commented on #6103
/bug

[2021-06-25 03:56] ThreadDao commented on #6093
/sdk python

[2021-06-25 03:56] binbinlv commented on #6111
/milestone 2.0.0-RC1

[2021-06-25 03:57] binbinlv commented on #6111
/milestone v2.0.0-RC1

[2021-06-25 03:58] ThreadDao commented on #6093
/milestones 2.0.0-RC1

[2021-06-25 04:06] czs007 commented on #6110
pulsar_conf_path=/pulsar/conf/standalone.conf
pulsar_conf_path=abc.txt
echo "" >> $pulsar_conf_path
echo "maxMessageSize=1073741824"  >> $pulsar_conf_path
echo "" >> $pulsar_conf_path
echo "nettyMaxFrameSizeBytes=1073741824" >> $pulsar_conf_path

will delete lateer

[2021-06-25 05:43] neza2017 commented on #6055
two question:
1. did #6042 merged when do to this test?
2. In my test, It tasks 1 hour 16 mins to create index, so 30 min may not enough?

[2021-06-25 06:05] jingkl commented on #6088
What is the latest version of pymilvus orm?

[2021-06-25 06:14] shengjun1985 commented on #5391
The document is added.
Thanks all.

[2021-06-25 06:14] #5391 closed

[2021-06-25 06:26] del-zhenwu commented on #6053
still existed.

[2021-06-25 06:29] cydrain opened #6114 "Update docker-compose.yml"
**Please state your issue using the following template and, most importantly, in English.**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. E.g. I wish I could use Milvus to do [...]

**Describe the solution you'd like**
Update docker-compose.yml

[2021-06-25 06:31] #6077 closed

[2021-06-25 06:58] xige-16 commented on #6079
#6115 has fix the problem of querynode crash, but pytest test_search.py::TestCollectionSearch --host -s --workers 4 also can't pass @binbinlv

[2021-06-25 06:59] xige-16 commented on #6079
Trouble you check it after pr #6115 merged @yanliang567

[2021-06-25 07:02] DragonDriver commented on #6109
/assign @xige-16
/kind bug

[2021-06-25 07:18] DragonDriver commented on #6065
#6068 will fix this

[2021-06-25 07:21] binbinlv commented on #6065
OK, will retest it after the merge of #6068.

[2021-06-25 07:52] #6114 closed

[2021-06-25 08:04] yanliang567 commented on #6079
will try after the pr merged

[2021-06-25 08:09] shengjun1985 commented on #5590
The description in [v1.1.1](https://milvus.io/docs/v1.1.1/storage_concept.md) is: index_file_size (1024 MB by default and 128 GB at most).
The description in [v1.1.0](https://milvus.io/docs/v1.1.0/storage_concept.md) and [v1.0.0](https://milvus.io/docs/v1.0.0/storage_concept.md) is: index_file_size (1024 MB by default and 4096MB at most).

Thanks all.

[2021-06-25 08:09] #5590 closed

[2021-06-25 08:20] ThreadDao opened #6118 "The server crashes when creating an index before inserting data"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
[1.log](https://github.com/milvus-io/milvus/files/6714698/1.log)

[code]

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having a

[2021-06-25 08:21] ThreadDao commented on #6118
/kind bug

[2021-06-25 08:21] ThreadDao commented on #6118
/sdk python

[2021-06-25 08:25] godchen0212 commented on #6110
Maybe same as #5976, the PR #6107 has fixed this issue.
Please test it again. @yanliang567

[2021-06-25 08:31] fishpenguin opened #6119 "Rocksdb unittest may cause data race"

[2021-06-25 08:32] yzeng25 opened #6120 "Broken links found on documentation pages."
**Please state your issue using the following template and, most importantly, in English.**
Broken links found on documentation pages.
--

**Describe the problems or issues found in the documentation**
Hi folks,

I found several broken links on the documentation pages. It would be awesome if you could fix them soon.

**Locations of incorrect documentation**
Problem 1
1. Location: `https://milvus.i

[2021-06-25 08:32] fishpenguin commented on #6119
Fixed in [pr6112](https://github.com/milvus-io/milvus/pull/6112)

[2021-06-25 08:38] del-zhenwu commented on #5227
update:
[code]

[2021-06-25 08:45] fishpenguin commented on #6053
Fixed in [pr6112](https://github.com/milvus-io/milvus/pull/6112)

[2021-06-25 08:46] fishpenguin commented on #6035
Fixed.

[2021-06-25 08:48] yzeng25 opened #6122 "In-page jumping failed on 'https://milvus.io/cn/docs/v1.1.1/product_faq.md' page"
**Please state your issue using the following template and, most importantly, in English.**
Hi folks,
I found some in-page jumping failed on `https://milvus.io/cn/docs/v1.1.1/product_faq.md` page.

**Location of incorrect documentation**
https://milvus.io/cn/docs/v1.1.1/product_faq.md

**Describe the problems or issues found in the documentation**

As shown in the screenshot below, when I click on

[2021-06-25 08:54] #6119 closed

[2021-06-25 09:06] yhmo commented on #6122
Yes, it is really a problem.

[2021-06-25 09:21] #5260 closed

[2021-06-25 09:37] yhmo commented on #4667
Similar requirement to #5443.
The #5443 define some API, allow user to calculate distance for specified vectors. We are developing this feature in v2.0 now.
User can specify some ids, the milvus will retrieve vectors from db according to these ids, and calculate distance be tween the input vectors and the specified vectors. Result a list of distance, user can sort the distance at client side to ge

[2021-06-25 09:40] FluorineDog commented on #5227
[code]
A simplified code to reproduce this bug.

When inserting all data in ONE SINGLE BATCH, data is OK (`_SLICE_NUM = 1`)
[code]

But,
when inserting data in multiple batch, data is not OK (`_SLICE_NUM=200`)
[code]

[2021-06-25 09:40] #5950 closed

[2021-06-25 09:40] FluorineDog commented on #5227
@czs007

[2021-06-25 09:43] ThreadDao commented on #5967
[code]

[2021-06-25 09:56] #6044 closed

[2021-06-25 09:58] #6053 closed

[2021-06-25 09:58] del-zhenwu commented on #6106
/kind bug

[2021-06-25 09:59] del-zhenwu commented on #6086
/kind enhancement

[2021-06-25 10:01] #6035 closed

[2021-06-25 10:01] #5842 closed

[2021-06-25 10:03] del-zhenwu commented on #5674
need to update the error msg to tell user index should be indexed before

[2021-06-25 10:37] congqixia commented on #6118
/assign @ThreadDao
/unassign

[2021-06-25 11:11] #6118 closed

[2021-06-25 12:11] yanliang567 commented on #5976
on build master-20210625-eb818d0, it does not hang any more if deleting datanode for just one time.
But if deleting datanode for times, it still hangs for mins until the datacoord connects to the datanode by the correct port ip.

[2021-06-25 12:11] yanliang567 commented on #5976
/unassign
/assign @godchen0212

[2021-06-25 12:16] yanliang567 commented on #6065
/assign @binbinlv

[2021-06-25 12:18] yanliang567 commented on #6058
@czs007 any updates for this issue

[2021-06-25 12:22] yanliang567 commented on #6058
i think we should have a timeout at sdk client side.

[2021-06-25 12:26] yanliang567 commented on #6055
/milestone 2.0.0

[2021-06-25 12:26] yanliang567 commented on #5449
/milestone 2.0.0

[2021-06-25 12:48] yanliang567 commented on #5901
/milestone 2.0.0-RC1

[2021-06-25 15:19] shanghaikid commented on #6122
https://milvus.io/cn/docs/v1.1.1/product_faq.md please try it again : )

[2021-06-26 02:33] shengjun1985 commented on #6122
@shanghaikid
There are duplicate entries in the directory.
Please check again.

[2021-06-26 03:56] yzeng25 commented on #6122
Yeah, both entries are valid now, but one entry is enough.

[2021-06-26 04:43] xige-16 commented on #6079
pr #6115 merged

[2021-06-26 05:27] cydrain commented on #6056
Cannot reproduce this issue, please check again.

/unassign DragonDriver
/assign ThreadDao

[2021-06-26 05:35] cydrain commented on #6028
query response looks not correct:
[code]

[2021-06-26 05:48] cydrain commented on #6061
Raise exception as expected:
PartitionName: xxx not found

[2021-06-26 06:17] yanliang567 opened #6140 "Fail to find the collection if running in multiple processes"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
A clear and concise description of what the bug is.

**Steps/Code to reproduce behavior**
run a test in multiple processes in tests20/python_client/testcases:
  pytest test_partition.py::TestPartitionParams::test_partition_insert  --host 10.98.0.7 --tags L0 L1 -s  **--workers 4**

**Ex

[2021-06-26 06:17] yanliang567 commented on #6140
/assign @czs007
/kind bug
/milestone 2.0.0-RC1

[2021-06-26 06:29] shengjun1985 commented on #6038
The struct `cudaPointerAttributes` is different between cuda-10 and cuda-11.
So the program compiled in one environment may not run in another.

refer to:
[struct cudaPointerAttributes v10.0](https://docs.nvidia.com/cuda/archive/10.0/cuda-runtime-api/structcudaPointerAttributes.html)
[struct cudaPointerAttributes v11.0 ](https://docs.nvidia.com/cuda/archive/11.0/cuda-runtime-api/structcudaPointerA

[2021-06-26 06:43] axin3892 opened #6141 "Write node down result in read-only node also unavailable"
**Describe the bug**

The cluster is built based on the mishard, when the write node is down, first the write node is inaccessible and mishard reports a timeout error, after a few minutes the read node is also unavailable and any command sent to it would  return a timeout error by mishard. Why does the downtime of the write node cause the read node to fail?

mishard returns the following error

![

[2021-06-26 07:31] yanliang567 commented on #6079
The query node does not crash this time.  But the testing processes were still stuck, and after interrupting the test process, any new requests to insert data would hang for mins.
master-20210626-2e37fca
pymilvus                           2.0a1.dev51
pymilvus-orm                       2.0a1.dev58

[2021-06-26 07:31] yanliang567 commented on #6079
/unassign
/assign @xige-16

[2021-06-26 07:43] #6061 closed

[2021-06-26 07:45] #6059 closed

[2021-06-26 07:54] #6056 closed

[2021-06-26 07:56] #6049 closed

[2021-06-26 07:58] #6028 closed

[2021-06-26 07:59] xige-16 commented on #6079
/assign @czs007

[2021-06-26 08:15] xige-16 commented on #6111
the issue has been solved by pr #6135. Trouble you check it

[2021-06-26 08:28] xige-16 commented on #6109
enum ShowCollectionsType {
  All = 0;
  InMemory = 1;
}

Get collection with type = 0 will return all collection in system, the result is right
@nameczz

[2021-06-26 08:30] xige-16 commented on #6109
if you want to get collection list loaded in memory, please set type = 1

[2021-06-26 08:32] yanliang567 commented on #5521
verify pass on build master-20210626-2e37fca
pymilvus                           2.0a1.dev51
pymilvus-orm                       2.0a1.dev58

[2021-06-26 08:32] yanliang567 commented on #5521
/assign

[2021-06-26 08:33] yanliang567 commented on #5521
/unassign @del-zhenwu

[2021-06-26 08:38] yanliang567 commented on #5283
verify pass on build master-20210626-2e37fca
pymilvus 2.0a1.dev51
pymilvus-orm 2.0a1.dev58

[2021-06-26 08:47] yanliang567 commented on #6140
/milestone v2.0.0-RC1

[2021-06-26 08:55] #5283 closed

[2021-06-26 08:55] #5521 closed

[2021-06-26 08:58] ThreadDao opened #6143 "The query returns vector field when specify vector field in output_fields"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
[code]

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

**Expected behavior**
A clear

[2021-06-26 08:59] ThreadDao commented on #6143
/kind bug

[2021-06-26 08:59] ThreadDao commented on #6143
/assign @fishpenguin

[2021-06-26 09:12] binbinlv commented on #6065
Verified, and fixed.

Name: pymilvus
Version: 2.0a1.dev52
Name: pymilvus-orm
Version: 2.0a1.dev58
milvus-master

Results:

[{"name": "_default", "description": "", "num_entities": 3000}]

1000

[{"name": "_default", "description": "", "num_entities": 3000}]

1000

[2021-06-26 09:12] #6065 closed

[2021-06-26 09:23] binbinlv commented on #5858
Verified, and fixed.

Name: pymilvus
Version: 2.0a1.dev52
Name: pymilvus-orm
Version: 2.0a1.dev58
milvus-master

Results:

[{"name": "_default", "description": "", "num_entities": 500}]

500

[{"name": "_default", "description": "", "num_entities": 800}]

800

[2021-06-26 09:32] binbinlv commented on #6111
Verified, and fixed.

Name: pymilvus
Version: 2.0a1.dev52
Name: pymilvus-orm
Version: 2.0a1.dev58
milvus-master

Results:

500

1000

500

[2021-06-26 09:32] #6111 closed

[2021-06-26 09:44] fishpenguin commented on #6046
Fixed

[2021-06-26 09:54] #5725 closed

[2021-06-26 09:55] fishpenguin commented on #5992
Already fixed.

[2021-06-26 10:05] godchen0212 commented on #5976
We will change the node client init action for future solution of this problem. The retry logic will be placed in coordinator in next pr.

[2021-06-26 10:11] yanliang567 commented on #5901
on build master-20210626-2e37fca with PVC configured, it still repros

[2021-06-26 10:14] nameczz commented on #6109
I described issue has some problem. What i passed is type = 1.
I changed issue description.
@xige-16

[2021-06-26 10:18] yanliang567 commented on #5901
[standalone.crash2.log](https://github.com/milvus-io/milvus/files/6719935/standalone.crash2.log)

[2021-06-26 10:18] binbinlv commented on #5992
It is still not good with this error. But the connection and server is good this time. Other operations could be done like "collection.partitions".

If I run search with vector as output field again, it is stuck (hunging).

@fishpenguin  could you please have a look? Thanks.

milvus-master
Name: pymilvus
Version: 2.0a1.dev52
Name: pymilvus-orm
Version: 2.0a1.dev58

Addr [172.18.255.155:19530] _exe

[2021-06-26 10:35] binbinlv commented on #5858
Now using pymilvus, it is good.  And the action is that new data could be searched after insert instantly without a flush again between insert and search.

But if uses pymilvus-orm, it still needs a flush after insert new data (between new insert and search)

The action of pymilvus-orm and pymilvus is not consistent here, need reopen to have a look.

@xige-16 could you or anyone please help to hav

[2021-06-26 10:38] binbinlv commented on #5858
/reopen

[2021-06-26 10:42] DragonDriver commented on #6079
debug this, stuck on assigning segment id when inserting, @czs007
/unassign
/assign @czs007

[2021-06-26 10:43] binbinlv commented on #5858
/reopen

[2021-06-26 11:45] yanliang567 commented on #5901
keep deleting the standalone pod for a few seconds, it still repros:
[standalone.crash3.log](https://github.com/milvus-io/milvus/files/6720032/standalone.crash3.log)

[2021-06-27 03:05] yanliang567 commented on #5901
verified on build master-20210626-6036ef2

[2021-06-27 03:05] #5901 closed

[2021-06-27 04:11] czs007 commented on #6143
@fishpenguin What is the behavior after repair? Throw an exception? What is the exception information?

[2021-06-27 10:03] EitanZ-GSI commented on #6038
Thanks a lot fot the quick response !

Does it means that after the PR will be approved ,  we will be able to compile and start the GPU server using cuda 11 ?

[2021-06-28 01:57] JackLCL opened #6151 "What features do you want❓"
Sincerely thank you for using and continuing to pay attention to Milvus. In order to understand what features the user want for Milvus and Milvus tools. And we want to learn that how hot each feature is. So an issue is opened to keep track of it. Everyone who has a need for Milvus can comment on this issue. You can refer to the following format to provide information:

Feature: xxx (such as: suppo

[2021-06-28 02:12] #6143 closed

[2021-06-28 02:13] fishpenguin commented on #5992
Fixed in [pr6145](https://github.com/milvus-io/milvus/pull/6145)

[2021-06-28 02:18] Alsace-lee commented on #6151
I hope  an entity upsert API added to SDK, which allows us to update a entity
Scenario:
In some scenarios, because of business data changes, the vector or scalar field in an entity corresponding to a certain ID needs to be updated.
In milvus1.0, we delete and then insert to achieve this function, but when this operation is too frequent, it will cause update blocking.
Therefore, we are very eager t

[2021-06-28 02:33] fishpenguin commented on #5876
Fixed

[2021-06-28 02:48] #5876 closed

[2021-06-28 02:52] shengjun1985 commented on #6038
Yes. I installed CUDA 11 locally, and the compilation and the running all passed.
The PR is merged. Please test it in branch 1.1.
If you meet any problems, please continue to contact our community.

[2021-06-28 02:57] binbinlv commented on #5992
Not fixed yet: (the result is the same with last comment)

milvus master: effcbc7
Name: pymilvus
Version: 2.0a1.dev53
Name: pymilvus-orm
Version: 2.0a1.dev59

<pymilvus.client.stub.Milvus object at 0x7fd1f5cca9b0>

[{"name": "_default", "description": "", "num_entities": 3000}]

Addr [172.18.255.155:19530] _execute_search_requests
RPC error: <_MultiThreadedRendezvous of RPC that terminated with:

[2021-06-28 03:24] del-zhenwu commented on #6055
dataset : glove-200d-2m
expected to finish indexing in 10 mins

[2021-06-28 03:25] del-zhenwu commented on #6106
still existed
/milestone 2.0.0-RC1

[2021-06-28 03:28] del-zhenwu commented on #6106
/assign @neza2017

[2021-06-28 03:28] yzeng25 opened #6155 "Algolia search bar partially failed."
**Please state your issue using the following template and, most importantly, in English.**
Hi folks,

Sorry to bother you again... The Algolia search bar on the upper left corner on document pages is not working as expected.
**Location of incorrect documentation**
https://milvus.io/cn/docs/v2.0.0/overview.md
and other pages begin with `https://milvus.io/cn/docs/~`

**Describe the problems or issu

[2021-06-28 03:38] yanliang567 opened #6157 "[Chaos] deletion of etcd pod crashes milvus standalone pod"
**Describe the bug**
deletion of etcd pod crashes milvus standalone pod

**Steps/Code to reproduce behavior**
1. deploy Milvus 2.0 with standalone mode
2. delete etcd pod

**Expected behavior**
etcd pod restarts successfully

**Actually**
it crashes Milvus standalone pod

- Milvus version (master or released version)
master-20210626-6036ef2

**Additional context**
Add any other context about the p

[2021-06-28 03:38] yanliang567 commented on #6157
/kind bug

[2021-06-28 03:39] yanliang567 commented on #6157
/assign @neza2017

[2021-06-28 03:39] liushu-smartnews commented on #6151
We have STRONG need for collection hot reload, which can be implemented by collection rename or alias.
Feature: support collection rename (or alias)
issue number: #4812

[2021-06-28 03:45] xige-16 commented on #6109
The issue has been solved by pr #6149. Trouble you check it. @nameczz

[2021-06-28 03:47] nameczz commented on #6109
I think this is fixed

[2021-06-28 03:47] #6109 closed

[2021-06-28 03:49] ThreadDao opened #6160 "The callback of insert dose not take effect in pymilvus orm"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
[code]

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

**Expected behavior**
A clear

[2021-06-28 03:57] shengjun1985 commented on #6085
If the returned results are less than `topk`, the engine will fill with `-1`.
However, the restful API did not filter those values.

Now, it is fixed in branch 1.1.
Thanks all.

[2021-06-28 03:57] #6085 closed

[2021-06-28 03:59] liushu-smartnews opened #6162 "Automatic item expiration"
Problem:
We continuously update a collection containing items of last 2~3 days, and need to remove outdated items from the collection continuously.

Preferred Solution:
We want Milvus to automatically remove old items with some per-item time-to-live behavior.
E.g. attach expiration timestamps to items, ignore expired items in get/search, and release resources in periodical compactions.

[2021-06-28 04:02] liushu-smartnews commented on #6151
We want some automatic expiration mechanisms in our applications, so that we don't need additional scheduled jobs to remove outdated items, and can make the time range more precise.
Feature: automatic item expiration
Issue: #6162

[2021-06-28 04:06] liushu-smartnews commented on #6151
Feature: support collection rename
Issue: #4812

Collection rename / alias is CRITICAL for some of our use cases, because the searching side and new collection generating side are completely separate.
I also left a message under #3821 before, which was merged to #4812.

[2021-06-28 04:16] #5992 closed

[2021-06-28 05:01] yanliang567 opened #6164 "CI and Nightly cost too much time"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
CI and Nightly cost too much time

**Expected behavior**
deployed standalone or cluster mode:
CI completes in 20 mins
Nightly completes in 60 mins

**Suggestion**
1. improve performance, specially in query and search
2. improve testcases design and development

- Milvus version (master

[2021-06-28 05:07] yanliang567 commented on #6164
/kind bug

[2021-06-28 05:37] binbinlv commented on #5992
Verified, it is fixed.

milvus: master b27e6b5

Results:

Error: <BaseException: (code=1, message=Search doesn't support vector field as output_fields)>

[2021-06-28 06:17] yanliang567 commented on #6079
@czs007 any updates for this issue?

[2021-06-28 06:20] FMsunyh opened #6166 "Failed when run "sudo docker-compose up -d""
Hi ~;

When I  run "sudo docker-compose up", I  get the following issue, please help me.

[code]

[2021-06-28 06:27] ThreadDao opened #6167 "The timeout of insert dose not take effect in pymilvus orm"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
[code]

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

**Expected behavior**
A clear

[2021-06-28 06:49] ThreadDao commented on #6046
Image GitCommit: d3c503f
The exception message:
[code]
/cc @fishpenguin

[2021-06-28 06:50] ThreadDao commented on #6046
/asign @fishpenguin

[2021-06-28 06:53] shengjun1985 commented on #1596
inactive

[2021-06-28 06:53] #1596 closed

[2021-06-28 07:06] binbinlv opened #6170 "Error message returns back to previous unmeaningful one when search with limit = 0"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Error message returns back to previous unmeaningful one when search with limit = 0

**Steps/Code to reproduce behavior**
Run test case:
tests20/python_client/testcases/test_search.py::TestCollectionSearch::test_search_param_invalid_limit

returns: division by zero

Addr [172.18.255.155

[2021-06-28 07:08] binbinlv commented on #6170
/cc @xige-16

[2021-06-28 07:14] shengjun1985 commented on #6122
It is fixed. Thanks all.

[2021-06-28 07:14] #6122 closed

[2021-06-28 07:20] #5198 closed

[2021-06-28 07:35] yanliang567 commented on #6140
/unassgin @bigsheeper
/assign @wangting0128

[2021-06-28 07:35] yanliang567 commented on #6140
it seems to be a test framework issue

[2021-06-28 07:41] DragonDriver commented on #6170
/unassign @czs007

[2021-06-28 07:42] ThreadDao commented on #5967
Currently, construct_from_dataframe with auto_id=True, all values in the df primary field must be None, otherwise, an exception will be thrown.

[2021-06-28 07:44] #5122 closed

[2021-06-28 07:48] xige-16 commented on #6170
pymilvus should check the value of limit.

[2021-06-28 07:51] JackLCL opened #6174 "Doc error"
link: https://milvus.io/cn/docs/v1.1.1/search_vector_python.md

![image](https://user-images.githubusercontent.com/53512883/123599697-79483980-d828-11eb-8d67-393e796448e8.png)

In milvus1.1.1, topk should be [1,1048576]

[2021-06-28 08:02] wangting0128 commented on #6140
solved

[2021-06-28 08:02] #6140 closed

[2021-06-28 08:06] yanliang567 commented on #5976
still repros on build master-20210628-b27e6b5
[datanode2.5976.log](https://github.com/milvus-io/milvus/files/6724544/datanode2.5976.log)
[datacoord2.5976.log](https://github.com/milvus-io/milvus/files/6724545/datacoord2.5976.log)

[2021-06-28 08:39] shengjun1985 commented on #5070
Done.
Thanks all.

[2021-06-28 08:39] #5070 closed

[2021-06-28 08:57] JiweiZh opened #6176 "'Connections' object has no attribute 'connect'"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
2.0.0 follow milvus documentation guide, when connect to milvus server, AttributeError: 'Connections' object has no attribute 'connect'.

**Environment details**
- centos7.7, docker version 19.03.8

- Milvus version (master or released version)
2.0.0, pymilvus-orm: 0.0.1

**Screenshots

[2021-06-28 09:26] #6046 closed

[2021-06-28 12:37] congqixia commented on #5976
Current grpc client will do the retry logic in the connect operation. So the accumulated wait time will be huge. #6181 reduces the connection timeout but not the best solution. Need to discuss about this @neza2017 @sunby

[2021-06-29 02:25] binbinlv commented on #6170
/kind bug

[2021-06-29 02:27] czs007 commented on #6176
@JiweiZh

Please install the  pre-release version through the following command:
pip install pymilvus-orm==2.0.0rc1

[2021-06-29 02:50] shiyu22 opened #6183 "Link error about hello_milvus.py"
**Please state your issue using the following template and, most importantly, in English.**

**Location of incorrect documentation**
https://milvus-io-dev.azurewebsites.net/cn/docs/v2.0.0/hellomilvus.md

**Describe the problems or issues found in the documentation**
When I run hello_milvus.py with the current link,it shows the ERROR:
[code]
So it's a wrong download address, it should be
`wget http

[2021-06-29 02:53] cydrain commented on #5227
segment load process:
data_codec.go: Deserialize()
segment_loader.go: loadSegmentFieldsData()

[2021-06-29 03:31] czs007 commented on #6079
working on it

[2021-06-29 03:44] JackLCL opened #6185 "Broken link"
link: https://milvus.io/cn/docs/v2.0.0/install_standalone-docker.md
![image](https://user-images.githubusercontent.com/53512883/123734116-515fe100-d8cf-11eb-845f-1fa060465cf7.png)

[2021-06-29 05:59] shengjun1985 commented on #6021
Fixed. Thanks all.

[2021-06-29 05:59] #6021 closed

[2021-06-29 06:46] xiaofan-luan commented on #6151
Milvus 2.0 plan to support upsert by delete the old id and insert a new one, functionality will be ready by the end of August. Frequently delete/update may still causing query performance degrade, compaction will be introduced to solve the problem.

Also, insert/delete in milvus 2.0 can be distributed so hopefully it could be much faster and no blocking will happen

[2021-06-29 06:55] vipulsharechat opened #6187 "Deleted vectors still present in search results (ivfsq8)"
Using CPU version, 1.1.1, docker installation.
However, entities are not there when I try to fetch them using getEntityById

[2021-06-29 07:20] cydrain commented on #6086
Don't know where the debug log coming from.
Please provide the re-produce steps.

[2021-06-29 07:20] xiaofan-luan commented on #6151
Data Time to Live mechanism is on the way. Once we implemented compaction in Milvus 2.0, time to live is gonna to be a  accessory products.

Also, you can simply partition the data by day and delete data by partition

[2021-06-29 07:21] neza2017 commented on #6157
`milvus 2.0` assumes that `etcd` never goes offline, so when any component has disconnect from `etcd`,  It means that component has offline, so `milvus 2.0` would kill it.

[2021-06-29 07:21] neza2017 commented on #6157
/assign @yanliang567

[2021-06-29 07:23] cydrain commented on #6088
pymilvus              2.0a1.dev55
pymilvus-orm          2.0a1.dev62

[2021-06-29 07:24] del-zhenwu commented on #5227
fixed

[2021-06-29 07:24] xiaofan-luan commented on #6151
collection rename is a practical function. So far we are working on more general mechanisms, so rename is not our first priority.
Anyone interested in implementing this function?

[2021-06-29 07:34] neza2017 commented on #6106
@del-zhenwu  please provide log file, and describe how to reproduce it?

[2021-06-29 07:38] shengjun1985 commented on #6174
Fixed. Thanks all.

[2021-06-29 07:38] #6174 closed

[2021-06-29 07:39] neza2017 commented on #6055
@del-zhenwu sift50m works?

[2021-06-29 08:01] shengjun1985 commented on #6187
Can you provide more information for us?
(1) Multi nodes with Mishards or only one node?
(2) What's the operation sequence and did you call Flush() ?
(3) Is it easy to reproduce?
(4) Once it is reproduced, will the bug be still in the following query or getEntityById?

[2021-06-29 08:03] xiaofan-luan opened #6189 "Document on how to build Milvus on mac/windows laptop"
**Please state your issue using the following template and, most importantly, in English.**
Milvus compilation is only valid on ubuntu, based on the development doc:
https://github.com/milvus-io/milvus/blob/master/DEVELOPMENT.md

Any suggestion for developers on other systems?

**Location of incorrect documentation**
Provide links and line numbers if applicable.

**Describe the problems or issues

[2021-06-29 08:09] vipulsharechat commented on #6187
1) one node
2) used java sdk, called deleteEntityById(), called flush after deletion
3) yes
4) yes

[2021-06-29 08:11] shengjun1985 commented on #5003
Develop Doc for 2.0:
https://github.com/milvus-io/milvus#to-start-developing-milvus

[2021-06-29 08:11] #5003 closed

[2021-06-29 08:16] shengjun1985 commented on #6187
Could you provide us a sample code to reproduce it?

[2021-06-29 08:19] shengjun1985 commented on #6185
Develop Doc for 2.0:
https://github.com/milvus-io/milvus#to-start-developing-milvus

[2021-06-29 08:28] sunby commented on #6167
The cost of inserting 100000 is about 0.7s. So this case would not timeout. I set the timout to 0.3 and get DeadlineExceed exception. But this err_msg in this case is wrong. @ThreadDao

[2021-06-29 08:30] sunby commented on #6167
/assign @ThreadDao

[2021-06-29 08:36] shengjun1985 commented on #6120
It is fixed. Thanks all.

[2021-06-29 08:36] #6120 closed

[2021-06-29 08:40] nameczz commented on #6155
Yes, we may have some wrong config about Algolia search.
Algolia search is working in chinese version now.
Thank you for your contribution!

[2021-06-29 08:41] cydrain opened #6191 "Optimize index_coord debug log"
**Please state your issue using the following template and, most importantly, in English.**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. E.g. I wish I could use Milvus to do [...]

**Describe the solution you'd like**
When building index, index_coord print too much debug log like this:
[code]

Two suggestions:
1. only p

[2021-06-29 08:41] yzeng25 commented on #6155
Cool! Thank you.

[2021-06-29 08:41] #6155 closed

[2021-06-29 08:44] del-zhenwu commented on #5227
descreased still occured in FLAT
[code]

[2021-06-29 08:51] vipulsharechat commented on #6187
[code]

clips is the name of our collection. sdk version we are using is 1.1.0
Our setup is multiple milvus machines using a shared storage with help of gcsfuse.

[2021-06-29 08:54] #6176 closed

[2021-06-29 08:57] liushu-smartnews commented on #6151
Thank you for the answer!
This "practical function" is our only blocking issue in current use cases, though.
Either TTL or upsert are "nice to have" for us, but the lack of "hot reload" already blocked 2 use cases, because of some internal limitations...

[2021-06-29 08:58] sunby commented on #6166
Could you offer more information about this?
What is your docker&docker-compose version?

[2021-06-29 09:07] binbinlv opened #6193 "The behavior of collection init and partition init is not consistent in method "__repr__""
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
The behavior of collection init and partition init is not consistent in method "__repr__"

in partition init, "__repr__" is rewritten as the following, while it is not in collection.
partition.py::Partition::__init__:
def __repr__(self):
        return json.dumps({
            'name':

[2021-06-29 09:09] yanliang567 commented on #6193
/label sdk/python
/assign @czs007
/milestone 2.0.0

[2021-06-29 09:09] yanliang567 commented on #6193
/kind bug

[2021-06-29 09:16] binbinlv opened #6195 "Log is written slowly when partition init return "self.num_entities" in "__repr__" method which leads lots of flush operations"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Log is written slowly when partition init return "self.num_entities" in "__repr__" method which leads lots of flush operations

**Steps/Code to reproduce behavior**

Representative case:

tests20/python_client/testcases/test_partition.py::TestPartitionParams::test_partition_maximum_par

[2021-06-29 09:16] binbinlv commented on #6195
/label sdk/python
/assign @czs007
/milestone 2.0.0

[2021-06-29 09:46] yanliang567 commented on #5976
keep deleting datanode for 40s, it keeps hanging for 12 mins in insert operation

[2021-06-29 09:47] yanliang567 commented on #5976
/assign @congqixia

[2021-06-29 10:10] shengjun1985 commented on #6185
It is fixed. Thanks all.

[2021-06-29 10:11] #6185 closed

[2021-06-29 10:11] cydrain commented on #6103
[code]

[2021-06-29 10:33] cydrain commented on #5227
I run this case in my machine, the accuracy is fine
[code]

[2021-06-29 10:51] yanliang567 commented on #6105
verified on build master-20210629-dd3ba9b

[2021-06-29 10:51] #6105 closed

[2021-06-29 10:59] yhmo commented on #6187
@vipulsharechat
Could you use `docker logs [container id]` to print the  log?

[2021-06-29 11:03] #5227 closed

[2021-06-29 11:23] vipulsharechat commented on #6187
nothing came up in logs, but if I do getEntityById it says can not fetch deleted docs

[2021-06-29 11:25] shengjun1985 commented on #6183
It is fixed. Thanks all.

[2021-06-29 11:25] #6183 closed

[2021-06-29 11:47] anhuaxiang opened #6199 "Documentation Error"
**Please state your issue using the following template and, most importantly, in English.**

**Location of incorrect documentation**
Provide links and line numbers if applicable.

**Describe the problems or issues found in the documentation**
A clear and concise description of what you found to be incorrect.

**Steps taken to verify documentation is incorrect**
List any steps you have taken:

**Su

[2021-06-29 18:51] batara666 commented on #1924
please

[2021-06-30 01:43] DragonDriver commented on #5823
Already fixed.

[2021-06-30 01:43] #5823 closed

[2021-06-30 01:48] DragonDriver commented on #5764
Already fixed. Cannot reproduce in my pc, please retry this.
/unassign
/assign @del-zhenwu

[2021-06-30 01:54] cydrain commented on #6103
10m_128d
[code]

[2021-06-30 02:12] del-zhenwu opened #6205 "Search timeout with concurrent client requests"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**

[code]
**Steps/Code to reproduce behavior**
[code]
**Expected behavior**
A clear and concise description of what you expected to happen.

**Method of installation**
- [ ] Docker/cpu
- [ ] Docker/gpu
- [ ] Build from source

**Environment details**
- Hardware/Software conditions (OS, C

[2021-06-30 02:13] del-zhenwu commented on #6205
/kind bug

[2021-06-30 02:14] xige-16 commented on #6205
how to reproduce the issue?

[2021-06-30 02:15] del-zhenwu commented on #6205
just using benchmark framework with the above suite

[2021-06-30 02:16] del-zhenwu commented on #6205
also return msg "collection not existed"

[2021-06-30 02:23] congqixia commented on #5976
@yanliang567 Please check whether this issue persists after #6196 merged

[2021-06-30 02:23] congqixia commented on #5976
/assign @yanliang567
/unassign

[2021-06-30 02:35] DragonDriver commented on #6160
/assign

[2021-06-30 02:52] xiaocai2333 commented on #6093
It has been fixed. Please retest it. @ThreadDao

[2021-06-30 02:54] XuanYang-cn commented on #6199
@anhuaxiang Thanks for pointing out the bug
/assign

[2021-06-30 03:14] wineternity commented on #4566
I found the QPS is low below 10 is beacuse the query contains the field, each search need to ` Get entity by id in segment 20107`,  without the field the qps can reach 100req/s

[2021-06-30 03:21] yhmo commented on #6187
“getEntityById it says can not fetch deleted docs”, "it" means logs or status returned by api?

[2021-06-30 03:21] XuanYang-cn opened #6210 "Proxy won't exit after `./milvus stop proxy` occasionally"
As title

[2021-06-30 03:22] XuanYang-cn opened #6211 "The Bug report template is outdate"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
A clear and concise description of what the bug is.

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more qu

[2021-06-30 03:25] yhmo commented on #4566
The 0.11.0 filtering search is not optimized before we abandon it. Now the v2.0 also can support filtering search, you can try 2.0.

[2021-06-30 03:27] cydrain commented on #6191
after change
[code]

[2021-06-30 03:32] XuanYang-cn commented on #6199
@anhuaxiang The `example.py` in https://github.com/milvus-io/pymilvus-orm/examples/ is the latest runnable example.

The bug in the documentation will be fixed soon.

[2021-06-30 03:35] XuanYang-cn commented on #6199
/unassign
/kind bug documentation

[2021-06-30 03:37] DragonDriver commented on #6160
According to the implementation of pymilvus, callback function only takes effect when `future.result()` is called.

Why? In fact many callback functions operate on the result of future(for example, the test case here).

Anyway, I will fix this by calling callback functions both when `future.done()` and `future.result()` are called.

[2021-06-30 03:38] XuanYang-cn commented on #6199
/assign @LocoRichard  Please have a look at [Chinese doc](https://milvus.io/cn/docs/v2.0.0/hellomilvus.md), it's not the latest `example.py`, the English version is also outdated.

[2021-06-30 03:39] XuanYang-cn commented on #6199
/assign @LocoRichard

[2021-06-30 03:40] XuanYang-cn commented on #6195
/sdk python

[2021-06-30 03:45] XuanYang-cn commented on #6211
/kind bug

[2021-06-30 03:57] DragonDriver commented on #6081
According to the design of pymilvus-orm, you can directly use `Collection(name=collection_name)` to get a collection object if the collection already exists in server.

Please check this.
/assign @czs007
/assign @xiaocai2333

[2021-06-30 04:01] DragonDriver commented on #6074
Should use `AssertInfo` here?

/assigin @FluorineDog

[2021-06-30 04:03] XuanYang-cn commented on #6195
/sdk python

[2021-06-30 04:04] XuanYang-cn commented on #6195
/label sdk/python

[2021-06-30 05:59] XuanYang-cn commented on #6195
/label sdk/python

[2021-06-30 06:01] XuanYang-cn commented on #6211
/assign @scsven

[2021-06-30 06:14] vipulsharechat commented on #6187
error_code: UNEXPECTED_ERROR
reason: "Failed to load deleted docs: Failed to open file: /var/lib/milvus/db/tables/1611048691489190000/1611405363489124000/deleted_docs, error: No such file or directory"

[2021-06-30 06:22] XuanYang-cn commented on #6199
Fixed and closing this issue.

[2021-06-30 06:22] #6199 closed

[2021-06-30 06:29] nameczz commented on #5800
i think this is fixed

[2021-06-30 06:29] #5800 closed

[2021-06-30 06:32] #6191 closed

[2021-06-30 06:32] cydrain commented on #6103
10m_128d, build index
[code]

[2021-06-30 06:34] xiaofan-luan opened #6216 "Typo in Milvus roadmap"
**Please state your issue using the following template and, most importantly, in English.**
Integrates stream and batch processing through Kafta/Pulsar connector. Should it be Kafka instead?
**Location of incorrect documentation**
Provide links and line numbers if applicable.

**Describe the problems or issues found in the documentation**
A clear and concise description of what you found to be inc

[2021-06-30 06:34] XuanYang-cn commented on #6166
I think it crashed due to this log:

[code]

[2021-06-30 06:38] yanliang567 commented on #5976
still repros on build master-20210630-357af89

[2021-06-30 06:39] yanliang567 commented on #5976
/unassign
/assign @congqixia

[2021-06-30 07:10] XuanYang-cn commented on #6166
@FMsunyh The docker-compose.yml file has been changed, I can't reproduce this. Does this happen again?

[2021-06-30 07:18] XuanYang-cn commented on #6141
@axin3892 Mishards is healthy unless a write node is healthy.
Because all the requests are operating by write-node **EXCEPT** search, which is operating by read-node.
If a write-node down, mishard's actually not functional for all the API.

[2021-06-30 07:22] XuanYang-cn commented on #6074
/assign @FluorineDog

[2021-06-30 07:24] del-zhenwu opened #6220 "Remove duplicate error msg"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Search with invalid dsl: `field name not in fields created`, we need to catch the exception, and not such `"offset_iter != name_offsets_.end()" at /go/src/github.com/milvus-io/milvus/internal/core/src/common/Schema.h:141` in error msg returned
[code]
**Steps/Code to reproduce behavior*

[2021-06-30 07:24] del-zhenwu commented on #6220
/kind bug

[2021-06-30 07:25] DragonDriver opened #6221 "Failed to wait for collection flushed"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
When `flush` is called, client hang on `wait_for_flushed`.

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue

[2021-06-30 07:26] DragonDriver commented on #6221
/assign

[2021-06-30 07:27] DragonDriver commented on #6221
[code]

[2021-06-30 07:29] axin3892 commented on #6141
i think because the write node is a single node, the write node crash should not affect the normal use of the search function, otherwise it will cause frequently service crashes

[2021-06-30 08:05] yanliang567 commented on #6079
[datacoord.6079.log](https://github.com/milvus-io/milvus/files/6739113/datacoord.6079.log)
[datanode.6079.log](https://github.com/milvus-io/milvus/files/6739116/datanode.6079.log)
[indexcoord.6079.log](https://github.com/milvus-io/milvus/files/67391
[quercoord.6079.log](https://github.com/milvus-io/milvus/files/6739122/quercoord.6079.log)
[rootcoord.6079.log](https://github.com/milvus-io/milvus/fi

[2021-06-30 08:11] xiaofan-luan opened #6223 "Failed to run hello milvus guide"
**Please state your issue using the following template and, most importantly, in English.**

**Location of incorrect documentation**
Provide links and line numbers if applicable.

1. python3 hello_pymilvus_orm.py is the wrong command. Downloaded file are named as hello_milvus.py
2.python3 hello_milvus.py failed as

Traceback (most recent call last):
  File "hello_milvus.py", line 88, in <module>

[2021-06-30 08:16] #6189 closed

[2021-06-30 08:28] xiaofan-luan commented on #6151
Get it, once 2.0 stable release done after august, we will definitely take this feature into consideration. So far maybe what you can do is to use A/B collection and switch collection per day by configuration?
 Let's see how many users plus 1 under your request,  if more users are interested we will definitely prioritize the rename funciton.

[2021-06-30 08:30] xiaocai2333 commented on #6081
/unassign @xiaocai2333
/unassign @czs007
/assogn @wangting0128

[2021-06-30 08:34] PahudPlus commented on #6216
/assign @LocoRichard

[2021-06-30 08:48] PahudPlus opened #6226 "Found a couple of 404 broken links."
**Please state your issue using the following template and, most importantly, in English.**

A couple of the links on the tutorial page are broken.

**Location of incorrect documentation**
https://milvus.io/api-reference/pymilvus-orm/v2.0.0rc1/tutorial.html

- The link of "hello milvus"

[2021-06-30 08:48] PahudPlus commented on #6226
/assign @xiaocai2333

[2021-06-30 08:59] DragonDriver commented on #6221
/kind bug

[2021-06-30 09:00] congqixia commented on #5976
@yanliang567  Please check whether insertion duration chaos blocks the system after #6222 merged.
/assign @yanliang567
/unassign

[2021-06-30 09:05] binbinlv commented on #6170
Verified in the following version, and it is fixed reporting "`limit` value 0 is illegal"

milvus-master (latest)
Name: pymilvus-orm
Version: 2.0.0rc2.dev10
Name: pymilvus
Version: 2.0.0rc2.dev4

Results:
[2021-06-30 08:53:13,947 - INFO - ci_test]: test_search_param_invalid_limit: searching with invalid limit (topK) = 0 (test_search.py:243)
...
[Milvus API Exception]<function api_request at 0x7f99

[2021-06-30 09:05] #6170 closed

[2021-06-30 09:45] congqixia commented on #5976
/assign

[2021-06-30 10:08] jeet129 opened #6228 "The getEntityById throws an exception "UNEXPECTED ERROR : Collection or Partition is empty" when "_default" is passed as partition name parameter"
For Milvus java sdk 1.1.0, the getEntityById expects the partition name as one of the parameters. Since we are not creating any explicit partitions for our use case, we are expecting our data to be present in "_default" partition which is the case indeed.

While making a call to getEntityById if we pass empty string for partition name it works fine, but if we pass "_default" for partition name the

[2021-06-30 10:10] PahudPlus opened #6229 ""Install on Kubernetes" is more commonly used."
**Please state your issue using the following template and, most importantly, in English.**

Install on Kubernetes more commonly used. Substitute "Install with Helm" with "Install on Kubernetes" on both standalone and cluster installation.

**Location of incorrect documentation**
https://milvus.io/docs/v2.0.0/install_standalone-docker.md

**Describe the problems or issues found in the documentatio

[2021-06-30 10:11] PahudPlus commented on #6229
/assign @YiyunNi

[2021-06-30 10:14] PahudPlus commented on #6223
/assign @chriswarnock

[2021-06-30 10:14] PahudPlus commented on #6223
Could you please create PR for this?

[2021-06-30 10:21] YiyunNi commented on #6229
https://github.com/zilliztech/milvus-docs/releases/tag/v1.2.3-2.0dev

[2021-06-30 10:27] shanghaikid opened #6232 "Need more details about how to do vector search"
In this [milvus docs](https://milvus.io/api-reference/pymilvus-orm/v2.0.alpha/tutorial.html),
- no search params in detail documented
- no good search expression documented
I found this one, but, it's really difficult to understand.  https://github.com/milvus-io/milvus/blob/master/docs/design_docs/query_boolean_expr.md

I think there will be better if we have
- very detailed information about ever

[2021-06-30 12:40] xige-16 commented on #6098
PR #6212 has fixed the issue. Trouble you check it. @yanliang567

[2021-06-30 12:44] anhuaxiang opened #6236 "pymilvus.client.exceptions.BaseException: <BaseException: (code=1, message=syncTimeStamp Failed:state code = Initializing)>"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
A clear and concise description of what the bug is.

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more qu

[2021-06-30 18:40] batara666 commented on #4819
yes +1

[2021-07-01 01:38] yanliang567 commented on #6098
It still repros on build master-20210630-ff4c6c7.

What I can see in querycoord log is : ["QueryNodeClient try connect "] [address=10.97.5.137:21123], while the actual querynode pod ip is 10.97.5.152.

What I do to repro:
I delete the querynode pod every 2s for 40s, and I keep request(create, insert, search, query, etc) to milvus during the 40s

Here are the logs:
[6098.datacoord.log](https://gith

[2021-07-01 01:39] yanliang567 commented on #6098
/unassign
/assign @xige-16

[2021-07-01 01:45] DragonDriver commented on #6210
/assign

[2021-07-01 01:45] DragonDriver commented on #6210
I will fix this soon.

[2021-07-01 01:58] del-zhenwu opened #6237 "Server crashed when loading dataset: sift-50m"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
**Steps/Code to reproduce behavior**

test suite yaml:
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Method of installation**
- [ ] Docker/cpu
- [ ] Docker/gpu
- [ ] Build from source

**Environment details**
- Hardware/Software

[2021-07-01 01:58] del-zhenwu commented on #6237
/king bug

[2021-07-01 02:01] xiaocai2333 commented on #6193
/working on it

[2021-07-01 02:07] cydrain opened #6238 "Milvus standalone crash with default config"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Milvus standalone crash with default config

**Steps/Code to reproduce behavior**
[code]

**Expected behavior**
report error and exit

[2021-07-01 02:11] cydrain opened #6239 "querynode process cannot be stopped in some cases"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
querynode.pid file cannot be deleted in some cases

**Steps/Code to reproduce behavior**
1. launch Milvus
2. use golang attach to querynode process
3. stop Milvus
4. querycoord and querynode process not terminate
5. stop Milvus again, querycoord and querynode still not terminate

**Exp

[2021-07-01 02:20] XuanYang-cn commented on #6236
/kind bug

[2021-07-01 02:22] godchen0212 commented on #6236
@anhuaxiang We need querynode log.

[2021-07-01 02:35] del-zhenwu commented on #6237
pod logs :
https://kibana-dev.zilliz.cc/app/discover#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'2021-06-30T20:41:13.573Z',to:'2021-06-30T20:42:27.320Z'))&_a=(columns:!(log),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:ad1e1c50-c9d9-11eb-9e1a-b3dcad9693fd,key:kubernetes.pod_name,negate:!f,params:(query:benchmark-cron-1625076000-10-milvus-standalone-66c

[2021-07-01 03:16] cydrain commented on #6103
[code]

[2021-07-01 03:32] liushu-smartnews commented on #6151
Thank you for understanding! I also discussed with our managers yesterday. We will learn more about Milvus v2.0 and evaluate the effort to implement this feature, and possibly we would like to contribute to it. Likely to decide next week or so.

[2021-07-01 03:32] nameczz opened #6243 "Milvus docker will crash after mac sleeping for hours"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Milvus docker will crash after mac close the screen for hours

**Steps/Code to reproduce behavior**
1. docker-compose up -d in standalone
2. close mac screen
3. Next day milvus docker will crash and need docker-compose up again.
**Expected behavior**
Milvus docker is still alive after

[2021-07-01 03:42] anhuaxiang commented on #6236
querynode的日志上面有的 @godchen0212

[2021-07-01 03:43] xiaocai2333 commented on #6193
https://github.com/milvus-io/pymilvus-orm/pull/221

[2021-07-01 03:43] xiaocai2333 commented on #6195
https://github.com/milvus-io/pymilvus-orm/pull/221

[2021-07-01 03:45] godchen0212 commented on #6236
根据日志
[2021/06/30 12:39:24.950 +00:00] 这时候querynode因为找不到querycoord已经挂掉了
[2021/06/30 12:39:43.461 +00:00] querycoord去连接querynode连接不上
中间差了19秒
querynode没有重启过吧

[2021-07-01 03:48] DragonDriver commented on #6243
Maybe docker or MacOS caused this issue. See some same issues on [docker-for-mac](https://github.com/docker/for-mac/issues).

How about other container? For example, running a mysql container and check if this container is still alive after mac sleeping.

[2021-07-01 03:50] DragonDriver commented on #6243
/assign

[2021-07-01 03:57] nameczz commented on #6243
Other containers is still alive, and i think it's hard to reproduced.
Next time i will try to get more logs.

[2021-07-01 04:05] del-zhenwu opened #6245 "Check params in sdk before searching"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
**Steps/Code to reproduce behavior**
search field vector set None, sdk should return Error/Exception

**Expected behavior**
A clear and concise description of what you expected to happen.

**Method of installation**
- [ ] Docker/cpu
- [ ] Docker/gpu
- [ ] Build from source

**En

[2021-07-01 04:05] del-zhenwu commented on #6245
/kind bug

[2021-07-01 04:07] yanliang567 opened #6246 "[Chaos] Fail to connecto Milvus after pulsar pod deleted and restart"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Fail to connecto Milvus after pulsar pod deleted and restart

**Steps/Code to reproduce behavior**
1. deploy Milvus 2.0 with cluster mode
2. delete pulsar pod and wait it until running
3. try to connect to Milvus

**Expected behavior**
connect to Milvus

**Method of installation**
- [

[2021-07-01 04:08] yanliang567 commented on #6246
/kind bug

[2021-07-01 05:11] neza2017 commented on #6246
just like #6157 ,`milvus 2.0` assumes `etcd` and `pulsar` are reliable, so there is no `reconnect` with pulsar when it failed.

[2021-07-01 05:43] anhuaxiang commented on #6236
![image](https://user-images.githubusercontent.com/26645743/124071657-46918180-da72-11eb-904f-3d1d1fc1ae66.png)
重启了

[2021-07-01 06:16] xiaocai2333 commented on #6195
/uncc
/cc @binbinlv
@binbinlv

[2021-07-01 06:18] xiaocai2333 commented on #6195
"num_entities" is no longer included in __repr__ of Collection or Partition. Please check it. @binbinlv

[2021-07-01 06:20] xiaocai2333 commented on #6193
The function __repr__ has been added for Collection. Please check it. @binbinlv

[2021-07-01 06:21] anhuaxiang commented on #6236
@godchen0212 这是发生错误时，querynode完整的日志

[code]

[2021-07-01 06:25] yanliang567 commented on #6246
It fails to connect to Milvus if uninstall and install Milvus again:
1. install Milvus with cluster mode
2. uninstall Milvus by 'helm uninstall -n <namespace> <release_name>'
3. install Milvus with cluster mode again

Is it caused by  pulsar is not persist data in PVC yet?

[2021-07-01 06:32] yanliang567 commented on #6246
It fails to connect to Milvus if uninstall and install Milvus again:
1. install Milvus with cluster mode
2. uninstall Milvus by 'helm uninstall -n <namespace> <release_name>'
3. install Milvus with cluster mode again

Is it caused by  pulsar is not persist data in PVC yet?

[2021-07-01 06:33] congqixia commented on #5976
@yanliang567 Please check whether #6241 solves this issue
/assign @yanliang567
/unassign

[2021-07-01 06:40] FluorineDog commented on #6074
confirmed, fix in bound

[2021-07-01 06:55] neza2017 commented on #6246
Is there any operation between step 1 and step 2?
If there is no operation between step 1 and step 2, then step 3 expect to work correctly.

[2021-07-01 07:18] DragonDriver opened #6249 "Proxy should provide clients a interface which returns some important metrics, such as deploy version, deploy mode."
**Please state your issue using the following template and, most importantly, in English.**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. E.g. I wish I could use Milvus to do [...]

**Describe the solution you'd like**
I want proxy to provide clients a interface which returns some important metrics, such as deploy versio

[2021-07-01 07:20] DragonDriver commented on #6249
/assign

[2021-07-01 07:20] DragonDriver commented on #6249
/component proxy
/milestone 2.0.0

[2021-07-01 07:21] DragonDriver commented on #6249
/kind feature

[2021-07-01 07:29] del-zhenwu opened #6250 "Flush tasks a lot of time with no other operations after the db created"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
**Steps/Code to reproduce behavior**
1. create
2. insert
3. flush
4. Do loop flush, The flush operation spend too much time.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Method of installation**
- [ ] Docker/cpu
- [ ] Docker/gpu
- [ ]

[2021-07-01 07:30] yanliang567 commented on #6079
/unassign @czs007
/assign

[2021-07-01 07:30] del-zhenwu commented on #6250
/kind enhancement

[2021-07-01 07:35] binbinlv commented on #6193
OK, thanks. Fixed.

[2021-07-01 07:35] #6193 closed

[2021-07-01 07:35] cydrain commented on #6103
The root cause of pool search performance is because pymilvus sdk divide NQ to small pieces.
When NQ=1000, TOPK=1000, NQ is divided into 1000 pieces, search is called 1000 times.

in pymilvus/client/prepare.py:Line 426
when max_nq_per_batch = 1, search time is 15.8s
when max_nq_per_batch = 10, search time is 4.22s
when max_nq_per_batch = 100, search time is 3.75s

[2021-07-01 07:41] gogo422 opened #6251 "PrimaryKeyException on https://milvus.io/cn/docs/v2.0.0/hellomilvus.md"
There is a PrimaryKeyException on https://milvus.io/cn/docs/v2.0.0/hellomilvus.md.
while create a collection the PAGE is
default_fields = [
    schema.FieldSchema(name="count", dtype=DataType.INT64, is_primary=False),
    schema.FieldSchema(name="score", dtype=DataType.FLOAT),
    schema.FieldSchema(name="float_vector", dtype=DataType.FLOAT_VECTOR, dim=dim)
]
the parameter is_primary should be Tru