[2022-04-11 07:30] zhuwenxing commented on #15624
not reproduced yet, remove the urgent label

[2022-04-11 08:02] zhuwenxing opened #16452 "[Bug]:[chaos]Search raise when running test_e2e.py after pulsar recovered from pod kill chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Anything else?

log: https://github.com/zhuwenxing/milvus/suites/5976835229/artifacts/205745031

[2022-04-11 08:03] zhuwenxing commented on #16452
Failed jobs:
- https://github.com/zhuwenxing/milvus/runs/5874136633?check_suite_focus=true
- https://github.com/milvus-io/milvus/runs/5863529761?check_suite_focus=true

[2022-04-11 09:11] binbinlv opened #16453 "[Bug]: "tag" is wrong in some test cases"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

"tag" is wrong in some test cases

### Expected Behavior

@pytest.mark.tag --> @pytest.mark.tags

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-04-11 09:37] zhuwenxing commented on #16134
https://github.com/milvus-io/milvus/runs/5863529511?check_suite_focus=true
This issue still exists. From the observation,  flush performance degrades mainly happened in collections that were with the prefix `CreateChecker`.  Collections with the prefix `CreateChecker` were created during the chaos and they were empty collections and had never been flushed before.

[2022-04-11 11:47] xiaofan-luan commented on #16450
/assign @xiaocai2333 please take a look, thanks

[2022-04-11 11:48] xiaofan-luan commented on #16288
Hi @andy263 ,are you hiting the same issue?

[2022-04-11 11:51] xiaofan-luan commented on #16288
2.1 should fix the issue

So we need to sync the exact row number from datanode maybe? @XuanYang-cn

[2022-04-11 13:09] aakejiang opened #16459 "[Feature]: Support SSL encrypting the traffic between proxy and client"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Apply TLS/SSL encrypting the traffic between proxy and client to enhance the security.

### Describe the solution you'd like.

For traffic between proxy and client, we need adding TLS/SSL to encrypt the communication data. While for the requests b

[2022-04-11 13:32] jaime0815 commented on #16459
related to #15656

[2022-04-11 14:15] #16453 closed

[2022-04-11 17:23] jennyli-z commented on #16005
It still exists and still annoying， keep it open

[2022-04-12 02:31] DragonDriver commented on #16323
/unassign
/assign @binbinlv

[2022-04-12 02:31] #16323 closed

[2022-04-12 02:43] jaime0815 commented on #16459
/assign @xiyichan

[2022-04-12 02:44] jennyli-z commented on #16459
@xiyichan

[2022-04-12 02:47] xiyichan commented on #16459
ok

[2022-04-12 03:17] xiaocai2333 commented on #16450
This problem should have nothing to do with killing pod.
The reason is:
- Insert and Flush result in a lot of small segments.
- Flush will be called before CreateIndex.
- After Flush done, datacoord found that there are many small segments, and then triggers compaction.
- When building an index, RootCoord will first obtain flushed segments from DataCoord, then filter which segments are not indexed

[2022-04-12 03:53] binbinlv opened #16462 "[Bug]: QueryNode returns no compacted segments after compact and load after pymilvus 2.1.0.dev17 version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

QueryNode returns no compacted segments after compact and load after pymilvus 2.1.0.dev17 version

And the test case is good when pymilvus <= 2.1.0.dev16, and bad when pymilvus >=2.1.0.dev17 (include the latest 2.1.0.dev19)

https://ci.milvus.io:18080/jenkins/blue/org

[2022-04-12 04:12] john-h-luo opened #16463 "[Bug]: Hello, when I creating a datanode and a querynode container on docker host network, it gives an error which indicates port 9091 is in use."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[2022/04/12 04:06:43.736 +00:00] [DEBUG] [base_table.go:65] ["config directory"] [configDir=/milvus/configs/]
[2022/04/12 04:06:43.737 +00:00] [ERROR] [metrics.go:653] ["handle metrics failed"] [error="listen tcp :9091: bind: address already in use"] [stack="github.co

[2022-04-12 04:28] soothing-rain commented on #16349
/unassign
/assign @saiswagath

[2022-04-12 05:27] yanliang567 commented on #16463
@LoveEachDay could you please take a look at this issue?

/assign @LoveEachDay
/unassign

[2022-04-12 06:32] LoveEachDay commented on #16463
Allow user to dynamically set metrics port for milvus components.
/assign @zwd1208
/unassign

[2022-04-12 09:48] dkubatin commented on #15744
@ThreadDao. Thanks for the solution. For now, I'll wait for a fix in the release.

[2022-04-12 11:49] xiaofan-luan commented on #15744
Should be fixed in 2.0.2, did we verify on it @ThreadDao

[2022-04-12 12:11] #16463 closed

[2022-04-12 13:56] ThreadDao commented on #16364
Validated on image `master-20220412-442c73a5`, fixed.

[2022-04-12 13:56] #16364 closed

[2022-04-12 14:25] binbinlv opened #16468 "[Bug]: Interface "loading_progress" shows "0%" after releasing collection and load one partition"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Interface "loading_progress" shows "0%" after releasing collection and load one partition

### Expected Behavior

Interface "loading_progress" shows "50%" after releasing collection and load one partition

### Steps To Reproduce

[code]

### Anything else?

_No respon

[2022-04-13 01:46] zhuwenxing commented on #15990
This has been implemented in PR https://github.com/milvus-io/milvus/pull/16120

[2022-04-13 01:46] #15990 closed

[2022-04-13 02:39] yanliang567 commented on #16452
@sunby could you please help to take a look at this issue?

/assign @sunby
/unassing

[2022-04-13 02:58] jingkl commented on #16427
argo
benchmark-backup-r789h
server-configmap
server-single-32c128m
client-configmap
client-random-locust-100m-ddl-r8-w2

client pod: benchmark-backup-r789h-3942934456
client log:
[code]
server:
[code]

Milvus version: master-20220412-442c73a5
- Deployment mode(standalone or cluster): standalone
- SDK version(e.g. pymilvus v2.0.0rc2): 2.1.0.dev18

client log
[client1.log.zip](https://github.com/mil

[2022-04-13 03:48] jingkl commented on #16426
benchmark-backup-ftb4m
server-configmap
server-cluster-8c64m
client-configmap
client-random-locust-100m-ddl-r8-w2

client pod：benchmark-backup-ftb4m-4022360165

client log：
[code]
server：
[code]

[2022-04-13 04:00] soothing-rain opened #16473 "[Bug]: AuthenticationInterceptor before proxy init completion will crash Milvus."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

AuthenticationInterceptor checks every incoming RPC for auth stuff.

When Milvus starts from scratch, it needs some time for initialization before fully available.

However if a RPC is called while Milvus is starting up, AuthenticationInterceptor will crash Milvus imm

[2022-04-13 06:39] #16443 closed

[2022-04-13 07:19] czs007 opened #16475 "[Enhancement]: Use boost dynamic_bitset in segcore"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Currently ConcurrentBitset is used in deleting records and BitsetType(boost::dynamic_bitset) in scalar filtering. After testing, it is found that boost::dynamic_bitset has the same performance and richer interfaces. Therefore, segcore uniformly uses BitsetType.

### Why is thi

[2022-04-13 08:30] binbinlv commented on #16462
It is fixed in pymilvus==2.1.0.dev21, so close it.

[2022-04-13 08:30] #16462 closed

[2022-04-13 12:05] susoooon opened #16481 "[Bug]: RES too large."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

`    def milvus_updata(self,entities,tenant_id,project_id):

        collection_name = MilvusConstant.MILVUS_COLLECTION_PRE+str(tenant_id)
        partition_name = MilvusConstant.MILVUS_PARTITION_PRE+str(project_id)

        try:

            self.logger.info("milvus

[2022-04-13 14:12] #15872 closed

[2022-04-14 02:12] 12304212 opened #16485 "[Bug]: update failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

delete and  insert

[2022/04/13 11:34:53.781 +00:00] [ERROR] [root_coord.go:1934] ["BuildIndex failed"] [role=rootcoord] [collection_name=EHSY_Product] ["field id"=101] ["index id"=432496028685434881] ["build id"=0] [msgID=0] [] [stack="github.com/milvus-io/milvus/int

[2022-04-14 02:23] jingkl opened #16486 "[Enhancement]: Modify the test search file name"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

modify the test file name

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-04-14 03:41] longjiquan opened #16488 "[Bug]: CreateIndex for segments in compaction will fail since statistics(num_rows) cannot be got"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

In this task, rootcoord will get all segments to be indexed, then for every segments, in `BuildIndex` method, rootcoord first check whether the num_rows of segment able to create index. This task will work well if everything is OK with the related segments.
Co

[2022-04-14 03:41] DragonDriver commented on #16488
see also https://github.com/milvus-io/milvus/issues/16412

[2022-04-14 03:41] DragonDriver commented on #16488
/assign

[2022-04-14 03:56] binbinlv opened #16489 "[Bug]: [nightly] query returns non-empty results from deleted partition"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

query return not empty results after entities deleted

### Expected Behavior

query return empty after entities deleted

### Steps To Reproduce

[code]

### Anything else?

l. log:
[artifacts-milvus-standalone-master-459-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:

[2022-04-14 06:09] DragonDriver commented on #16488
@xiaocai2333 will resolve this.
/assign @xiaocai2333
/unassign

[2022-04-14 06:10] DragonDriver commented on #16412
@xiaocai2333 will resolve this.
/assign @xiaocai2333
/unassign

[2022-04-14 06:24] #15899 closed

[2022-04-14 07:08] sunby commented on #16452
Proxy can not receive any search result after pulsar restart. We need to check the pulsar client to locate this problem.

[2022-04-14 09:39] hiwwx opened #16493 "[Bug]: Query and search are hang on."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When i doing query or search operation, the request hangs without any error response.

The following logs are record after i perform the query operation.

My config:
[config.txt](https://github.com/milvus-io/milvus/files/8488070/config.txt)

proxy log:
[proxy_log.LOG]

[2022-04-14 09:58] sunby commented on #16304
This case remove all querynode at the end of the test case and querycoord will try to loadbalance but can not find any querynode to balance. So querycoord will wait for an querynode and it blocks. I will fix it.

[2022-04-14 11:17] yanliang567 commented on #16493
@soothing-rain could you please help on this issue?

/assign @soothing-rain
/unassign

[2022-04-14 11:50] #15938 closed

[2022-04-14 12:32] binbinlv opened #16495 "[Bug]: Add kafka support in nightly CI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

NA

### Expected Behavior

NA

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-04-14 14:29] #16495 closed

[2022-04-14 14:37] #16475 closed

[2022-04-15 02:16] binbinlv opened #16499 "[Bug]: [kafka][nightly] Test case hangs when using kafka as mq"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Test case hangs when using kafka as mq

### Expected Behavior

Test cases are completed when using kafka as mq

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-04-15 03:19] susoooon commented on #16481
`"""milvus memory error code ,u can run it directly ,memory will larger and larger and  out finally"""
#! -*- coding: utf-8 -*-

from pymilvus import (
    connections, list_collections,
    FieldSchema, CollectionSchema, DataType,
    Collection, utility,Partition
)

import os
import logging
import re
from logging.handlers import TimedRotatingFileHandler
import random

class MilvusConstant:
    "

[2022-04-15 03:23] susoooon commented on #16481
[milvus_memory_issue.txt](https://github.com/milvus-io/milvus/files/8493650/milvus_memory_issue.txt)
change txt to py, milvus memory error code ,u can run it directly ,memory will larger and larger and out finally

[2022-04-15 03:48] soothing-rain opened #16500 "[Bug]: Kafka PR breaks Milvus build w/ Mac M1."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I do `make`, I got:

[code]

[2022-04-15 03:49] soothing-rain commented on #16500
@jaime0815

[2022-04-15 03:49] soothing-rain commented on #16500
/assign @jaime0815

[2022-04-15 03:51] binbinlv opened #16501 "[Bug]: connect with credential should disconnect first if you want to switch different users or from non-user account to user account"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

connect with credential should disconnect first if you want to switch between different users or from non-user account to user account, now automatically disconnect is not supported.

### Expected Behavior

NA

### Steps To Reproduce

[code]

### Anything else?

_No r

[2022-04-15 05:20] hiwwx commented on #16493
I think something mistake in service discovery may be one reason caused this problem.
For example, the proxy can not connect to the datacoord with the error message `grpc: addrConn.createTransport failed to connect to {172.20.174.111:13333 172.20.174.111:13333 <nil> 0 <nil>}` after IP of datacoord changed because it has been restarted, and other components got similar error if the upstream has bee

[2022-04-15 07:00] XuanYang-cn commented on #16468
There're 2 types of loading_progress:
1. load_collection async, showing the loading progress in percentage
    - pros: useful for larger collection's loading.
    - cons: need to refactor QueryCoord, couldn't get implemented until memory_replica is done.

2. The collection loading_progress should be influenced both by load_collection and load_partitions.

[code]
- pros:
  -  `load_partition` repre

[2022-04-15 07:08] yearlz opened #16502 "[Bug]: kubectl deploy distributed milvus (offline)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

use the offline mode to deploy the distrubuted milvus,  error occurs

the  instructions are from [https://milvus.io/cn/docs/v2.0.x/install_offline-helm.md](url)

1 .  pull docker images :
2.  load images
    the images are as follows:
![image](https://user-images.gith

[2022-04-15 07:14] yearlz commented on #16502
![lQLPDhtVbOIUghnM0M0GtLB5BkZrshgQxgJcolFmgMgA_1716_208](https://user-images.githubusercontent.com/32187348/163537913-10722732-1461-4526-ab59-9d93417276a2.png)

[2022-04-15 07:41] binbinlv opened #16503 "[Bug]: [credential] No description about user and password in connect API doc"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

No description about user and password in connect API doc

### Expected Behavior

Add description about user and password in connect API doc

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-04-15 07:58] #15915 closed

[2022-04-15 07:58] #12958 closed

[2022-04-15 09:46] binbinlv opened #16504 "[Bug]: [credential] Resetting/updating the password for a non-existing user does not report error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Resetting/updating the password for a non-existing user does not report error

### Expected Behavior

Report error if resetting/updating the password for a non-existing user

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-04-15 10:00] DragonDriver commented on #16504
/assign @aakejiang

[2022-04-15 10:02] #15615 closed

[2022-04-15 13:00] LoveEachDay commented on #16502
You'd better not enable istio sidecar for milvus installation namespace.

[2022-04-15 13:16] jingsu2000 opened #16505 "[Bug]: 在milvus-insight页面上load数据失败"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

docker-compose部署的集群版，在milvus-insight页面上load数据无响应，之后proxy会假死
proxy容器有如下报错和警告
[ERROR] [task_scheduler.go:491] [\"Failed to execute task: no index is created\"]
[WARN] [impl.go:2115] [\"GetIndexState failed to WaitToFinish\"] [error=\"no index is created\"]

### Expected

[2022-04-16 14:34] rocke-dong opened #16509 "[Bug]: search speed, now it is very slow in CPU, 33 ms per entity"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Actually, this is not a bug, may be a usage issue, I apologize to put into issue to hope to get attentions.
Sorry and Thanks !!

Problem: search speed is very slow, 33 ms per entity.

milvus configs:
nlist: 600
nprobe: 5
metric_type: "L2"
index_type: "IVF_FLAT"
index_

[2022-04-16 14:45] yanliang567 commented on #16509
thank you for the details of the issue. the community is trying to improve the performance in 2.1.But let's take a look at this one first.

/assign @czs007

[2022-04-16 14:47] rocke-dong opened #16510 "[Bug]: milvus2.0.2 doesn't support GPU?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

wget https://raw.githubusercontent.com/milvus-io/milvus/v2.0.2/configs/milvus.yaml
I check the v2.0.2 configs/milvus.yaml, there is no GPU.
I check the doc, the GPU is only mentioned milvus 1.*.

### Expected Behavior

Does milvus2.0.2 support GPU?
If no support GPU n

[2022-04-16 18:32] #13795 closed

[2022-04-16 18:32] #15815 closed

[2022-04-16 18:32] #15775 closed

[2022-04-16 18:32] #15995 closed

[2022-04-16 18:32] #15965 closed

[2022-04-16 18:32] #15969 closed

[2022-04-16 19:11] schuberttobias opened #16511 "[Bug]: etcd auto compaction not enabled in milvus's Ubuntu package"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I insert approximately 10 million vectors over the course of 3 days, Milvus crashes with the following log statement:
[code]

### Expected Behavior

When I insert approximately 10 million vectors over the course of 3 days, Milvus shouldn't crash.

### Steps To Re

[2022-04-16 20:03] schuberttobias commented on #16511
I looked at the auto compaction configuration in https://github.com/milvus-io/milvus/releases/download/v2.0.2/milvus-standalone-docker-compose.yml and updated my post above to use auto-compaction-mode=revision accordingly.

[2022-04-17 15:32] xiaofan-luan commented on #15656
keep it on track

[2022-04-17 15:33] xiaofan-luan commented on #16511
@schuberttobias hi tobias, feel free to create a pr and @LoveEachDay will help on review it

[2022-04-17 15:33] xiaofan-luan commented on #16511
/assign @schuberttobias

[2022-04-17 15:34] xiaofan-luan commented on #16511
/assign @LoveEachDay

[2022-04-17 15:35] xiaofan-luan commented on #16101
keep it on track, this should be done on 2.2

[2022-04-17 15:36] xiaofan-luan commented on #16510
@rocke-dong in our roadmap, GPU will support on milvus 2.2(End of July)

[2022-04-17 15:47] #16448 closed

[2022-04-17 19:50] nohack commented on #15558
So will the users use the sdk to persist the config in etcd.
Do they persist all the config in one go by providing the milvus.yaml path.

[2022-04-18 00:20] avsolatorio opened #16513 "[Enhancement]: Support for handling arithmetic operations on numeric scalar fields in predicate expressions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I want to be able to filter a numeric field based on the result of an arithmetic operation applied to it.

An example of supported expressions looks like these:
[code]

### Why is this needed?

The application that I'm building requires a categorical filter on fields that cont

[2022-04-18 01:47] xiaofan-luan commented on #15558
Thought we should sdk config should overwrite milvus.yaml~
The priority should be:
1.Etcd persistent
2.Environment
3.milvus.yaml
4.default value in code

[2022-04-18 02:20] yanliang567 commented on #16510
/assign @rocke-dong
please feel free to contribute in GPU support if you are interested.

[2022-04-18 02:20] #16510 closed

[2022-04-18 02:23] yanliang567 commented on #16502
@yearlz  please retry as suggested above.

/assign @yearlz
/unassign

[2022-04-18 02:39] binbinlv opened #16515 "[Bug]: [kafka][nightly] Drop collection failed for timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Drop collection failed for timeout

### Expected Behavior

Drop collection successfully

### Steps To Reproduce

[code]

### Anything else?

1. milvus logs:
[artifacts-milvus-distributed-kafka-master-475-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job

[2022-04-18 02:40] DragonDriver commented on #16503
https://github.com/milvus-io/pymilvus/pull/953 will solve this issue.

[2022-04-18 02:58] binbinlv opened #16516 "[Bug]: [kafka][nightly] Search collection failed for timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search collection failed for timeout

### Expected Behavior

Search collection successfully

### Steps To Reproduce

[code]
[code]

[2022-04-18 03:00] binbinlv commented on #15282
Same error:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/472/pipeline/133

[2022-04-18 03:22] binbinlv opened #16517 "[Bug]: [kafka][nightly] Query returns empty when inserting same entities deleted before"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Query returns empty when inserting same entities deleted before

### Expected Behavior

Query returns entities successfully when inserting same entities deleted before

### Steps To Reproduce

[code]

### Anything else?

1 milvus logs:
[artifacts-milvus-distributed-ka

[2022-04-18 03:31] binbinlv opened #16518 "[Bug]: [nightly] it did not raise exception when loading balance with one of not existed sealed segment ids"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

it did not raise exception when loading balance with one of not existed sealed segment ids

### Expected Behavior

raise exception when loading balance with one of not existed sealed segment ids

### Steps To Reproduce
https://ci.milvus.io:18080/jenkins/blue/rest/orga

[2022-04-18 03:33] binbinlv commented on #15282
Same error:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/469/pipeline

[2022-04-18 03:35] DragonDriver commented on #16503
/assign @binbinlv

[2022-04-18 03:36] binbinlv commented on #16516
Similar issue in the following nightly:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/469/pipeline

1. logs:
[artifacts-milvus-distributed-kafka-master-469-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/469/artifact/artifacts-milvus-distributed-kafka-master-469-pymilvus-e2e-logs.tar.gz)

2. test case:
te

[2022-04-18 03:38] binbinlv commented on #15785
Same issue appears again:
https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-nightly-ci/branches/master/runs/468/nodes/63/steps/211/log/?start=0

[2022-04-18 03:41] soothing-rain commented on #15785
/assign @wayblink

[2022-04-18 03:42] binbinlv commented on #16517
same error appears in the following nightly:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/467/pipeline

FAILED testcases/test_delete.py::TestDeleteOperation::test_delete_merge_same_id_channel_and_sealed[True-True]

1. milvus logs:
[artifacts-milvus-distributed-kafka-master-467-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-n

[2022-04-18 03:46] binbinlv commented on #16516
Similar issue in the following nighlty:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/466/pipeline

1.milvus logs:
[artifacts-milvus-distributed-kafka-master-466-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/466/artifact/artifacts-milvus-distributed-kafka-master-466-pymilvus-e2e-logs.tar.gz)
2. test cas

[2022-04-18 03:48] binbinlv commented on #15282
Same error:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/463/pipeline

[2022-04-18 03:48] watin-z opened #16519 "[Feature]: automatic backup data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

When I start the docker container

1. Set automatic backup condition parameters：

    1).backup condition by date（year，month，week，day）
    2).number of backup files retained

2. Recovery the data

    1).Identification by backup file，restore the d

[2022-04-18 03:53] binbinlv commented on #16503
Fixed and closed.

     :param kwargs:
            * *host* (``str``) --
                Required. The host of Milvus instance.
            * *port* (``str/int``) --
                Required. The port of Milvus instance.
            * *user* (``str``) --
                Optional. Use which user to connect to Milvus instance. If user and password
                are provided, we will add related he

[2022-04-18 03:53] #16503 closed

[2022-04-18 05:31] yanliang567 commented on #15785
/assign @wayblink

[2022-04-18 06:01] binbinlv commented on #16516
The test case failed is the same with #15628, not sure whether the root cause is the same, need investigation furthur.

[2022-04-18 06:07] binbinlv commented on #15866
Close it first for not reproducable.

[2022-04-18 06:07] #15866 closed

[2022-04-18 07:01] JackLCL commented on #16505
@jingsu2000
Please describe your issue in English and upload a full log of Milvus.

[2022-04-18 07:18] yearlz commented on #16502
yes, i will try the solution and reply as soon as possible

[2022-04-18 07:20] binbinlv commented on #15887
Closed for not reproduced, will reopen it if it occurs again in the future.

[2022-04-18 07:20] #15887 closed

[2022-04-18 07:28] aakejiang commented on #16500
add build param "-tags dynamic" in Makefile, see [kafka issue](https://github.com/edenhill/librdkafka/issues/3546)

[2022-04-18 07:29] jingkl commented on #15682
Modified, issue closed

[2022-04-18 07:29] #15682 closed

[2022-04-18 07:30] jingkl commented on #15683
Modified, issue closed

[2022-04-18 07:30] #15683 closed

[2022-04-18 07:32] #15520 closed

[2022-04-18 07:32] #15674 closed

[2022-04-18 07:32] #15509 closed

[2022-04-18 08:05] soothing-rain commented on #16500
This works for me!

[2022-04-18 08:18] progzgq commented on #16208
The problem may occur during the insert phase,For example, there is another vector:
[0.03678413853049278, 0.05158485472202301, 0.004594097379595041, 0.03241955488920212, 0.016534708440303802, 0.011794610880315304, 0.08681493997573853, 0.010575310327112675, 0.15646131336688995, 0.02283088117837906, 0.048353396356105804, 0.04668496176600456, 0.0038945386186242104, 0.021273145452141762, 0.03298534452

[2022-04-18 08:21] yanliang567 commented on #16505
/assign @jingsu2000
/unassign

[2022-04-18 08:22] nohack commented on #15558
Yeah, I get this.
How will the users persist the config into etcd.Should we expose an api which takes the config path as a parameter.

# saves the config file at the provided path to etcd.
saveConfig(configPath)

[2022-04-18 09:02] claireyuw commented on #15604
@yhmo @soothing-rain Is the related user doc ready for development yet?

[2022-04-18 09:16] yanliang567 commented on #16208
@progzgq are you using auto id or not in collection schema? I am asking because I think there might be some duplicated IDs in the collection.

[2022-04-18 11:41] ufuk23 commented on #16115
Is there any activity about this issue?

[2022-04-18 11:54] progzgq commented on #16208
yes i use auto id:
FieldSchema(name="id", dtype=DataType.INT64, descrition="int64", is_primary=True, auto_id=True)

[2022-04-18 11:55] progzgq commented on #16208
@yanliang567 yes i use auto id:
FieldSchema(name="id", dtype=DataType.INT64, descrition="int64", is_primary=True, auto_id=True)

[2022-04-18 12:54] xiaofan-luan commented on #16208
could you share the code you use for testing? Shouldn't be a milvus issue, we will try to reproduce with your scripts

[2022-04-18 13:23] kkpssr commented on #9689
I have met same problem just after restart docker with version 2.0.2

[2022-04-18 13:32] #15437 closed

[2022-04-18 13:32] #13516 closed

[2022-04-18 13:35] xiaofan-luan commented on #15558
sure, we should support save(key, value)/remove(key)

[2022-04-18 13:47] yanliang567 commented on #16115
@czs007 I think it is in progress in milvus 2.1, any news ?

[2022-04-18 14:06] xiaofan-luan commented on #16115
@ufuk23 you can try Milvus 2.0.2, it optimized query by PK performance, see if it will help you~

[2022-04-18 14:12] xiaofan-luan commented on #16519
We have backup on milestone but so far have no manpower to finish the design and implementation.
Anyone interested please let me know.
Backup not only related to files on S3 but also incremental backups on pulsar/rocksmq

[2022-04-18 14:19] XuanYang-cn opened #16528 "[Bug]: DataCoord ut failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-04-18 18:37] nohack commented on #15558
save(key, value)
remove(key)

Ok so I can start with the above api implementation then.

[2022-04-18 22:32] #15857 closed

[2022-04-18 22:32] #15750 closed

[2022-04-19 02:18] xiaofan-luan commented on #9689
/assign @congqixia

[2022-04-19 02:18] xiaofan-luan commented on #9689
please help on investigation, thanks @congqixia

[2022-04-19 02:26] shiyu22 opened #16530 "[Bug]: Search with output_fields but res[0][0].entity failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Got error when I run `res[0][0].entity` in jupyter notebook:
[code]

### Expected Behavior

It can get results with `res[0][0].entity` in python command, but fails in jupyter notebook, I think they should behave consistently.

### Steps To Reproduce

When I run this c

[2022-04-19 02:27] dixingxing0 opened #16532 "[Enhancement]: Add upsert support"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I would like to request a feature to support upsert.
Now milvus already support 'delete by primary key' semantic by [mep-9](https://wiki.lfaidata.foundation/display/MIL/MEP+9+--+Support+delete+entities+by+primary+keys) , so i think milvus can easily support upsert semantic by

[2022-04-19 02:30] yanliang567 commented on #16530
@XuanYang-cn could you please help to take a look at this issue?

/assign @XuanYang-cn
/unassign

[2022-04-19 02:39] xiaofan-luan commented on #16532
Hi @dixingxing0

Upsert is an interesting feature we'd like to bring into Milvus.

For milvus, my suggestion is to implement delete/insert the same pk atomic to support upsert.

Before we start the design, we highly recommend to generate a enhancement plan at https://wiki.lfaidata.foundation/display/MIL/Milvus+Home

If any help necessary, we now have a mentorship program so someone familiar with t

[2022-04-19 02:40] binbinlv commented on #16517
Same error appears again in the following nightly:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/476/pipeline

[2022-04-18T15:08:42.258Z] [gw1] [ 18%] FAILED testcases/test_delete.py::TestDeleteOperation::test_delete_merge_same_id_channel_and_sealed[False-True]

1. milvus logs: [artifacts-milvus-distributed-kafka-master-476-pymilvus-e2e-logs.tar.gz](

[2022-04-19 02:42] binbinlv commented on #16516
Same error appears in the following nightly:

[2022-04-18T15:29:01.656Z] [gw4] [ 64%] FAILED testcases/test_search_20.py::TestCollectionSearch::test_search_load_flush_load[3000-500-128-False-False]

1 milvus logs: [artifacts-milvus-distributed-kafka-master-476-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/476/artifact/artifacts-milvus-distributed-kaf

[2022-04-19 02:44] shiyu22 opened #16534 "[Enhancement]: Get all entities for the search results"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

When I search with `output_fields` I can only get entity results with `res[0][0].entity`. I want it can run `res[0].entities`(not support) like `res[0].ids`(supported) to get all the data instead of running a loop.

### Why is this needed?

When milvus2.1 supports string data

[2022-04-19 03:15] progzgq commented on #16208
ok , i have 2.5 million vectors in a file: vector_data.csv
this is my core script
[code]

[2022-04-19 03:23] congqixia commented on #9689
Hi @kkpssr , I just tested with docker-compose.yml of 2.0.2(assuming standalone from the log). Restarted with both docker-compose and docker restart and I cannot reproduce this problem. Could you please provide the steps you took to reproduce this problem?

[2022-04-19 03:41] kkpssr commented on #9689
hi,i did not close container and stop docker by sudo systemctl stop docker and restart then search is hang

---Original---
From: ***@***.***&gt;
Date: Tue, Apr 19, 2022 11:23 AM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [milvus-io/milvus] Milvus search not working after restartingdocker  (#9689)

Hi @kkpssr , I just tested with docker-compose.yml of 2.0.2(assuming standalon

[2022-04-19 03:45] PowerBuild2333 opened #16535 "[Bug]: The occupancy value of inserting disk data while continuous extracting features far exceeds the calculated value of size tool"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When initializing the database, we used ten processes to extract features while inserting them. It was found that there was a large gap between the storage growth under Milvus / db / tables and the calculated value of tools / sizing, with a total of 476000 512 dimensi

[2022-04-19 04:48] jmugan opened #16536 "[Feature]: More informative error messages on inserting to collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Inserting vectors into a collection requires a lot of fumbling in the dark.

### Describe the solution you'd like.

My vectors are in numpy and I have to convert them to a list, but I keep getting errors like `pymilvus.orm.exceptions.DataTypeNotSu

[2022-04-19 06:33] JackLCL commented on #16535
@PowerBuild2333
Please upload the Milvus log to help analyze your problem.

[2022-04-19 06:49] xiaofan-luan opened #16538 "[Feature]: Search support vector field as output_fields"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

We should be able to support search with getting vector result.
So far there is a check here:
if field.DataType == schemapb.DataType_BinaryVector || field.DataType == schemapb.DataType_FloatVector {
	return errors.New("search doesn't support vecto

[2022-04-19 06:56] PowerBuild2333 commented on #16535
[milvus-22-04-13-17_29-error.log](https://github.com/milvus-io/milvus/files/8510605/milvus-22-04-13-17_29-error.log)

[2022-04-19 07:00] XuanYang-cn commented on #16528
Already marked a TODO:

[code]

Shouldn't be a problem shortly

[2022-04-19 07:05] sunby commented on #16518
Querycoord does return error if it receives an unloaded segment. @XuanYang-cn Would you please check whether the pymilvus handle the error?

[2022-04-19 07:15] JackLCL commented on #16535
@yhmo please help analyze this problem.

[2022-04-19 07:18] sunby commented on #16518
@binbinlv The `ct.err_msg` is wrong. Server returned error message "unloaded segment xxxxx"

[2022-04-19 07:41] #16310 closed

[2022-04-19 07:46] yanliang567 commented on #16535
/assign @yhmo
/unassign

[2022-04-19 08:12] binbinlv commented on #16518
@sunby

currently, our test framework did not care specific messages actually, so it will be set as pass if either the error code or message is rignt.

Here "pymilvus.client.exceptions.BaseException: <BaseException: (code=1, message=, loadBalanceTask: unloaded segment 432630861804863491)>", code is 1, so the test case could pass through "check_items={ct.err_code: 1, ct.err_msg: "is not exist"})",

[2022-04-19 08:35] #16504 closed

[2022-04-19 09:49] PowerBuild2333 commented on #16535
[server_config.txt](https://github.com/milvus-io/milvus/files/8511877/server_config.txt)
configuration file

[2022-04-19 09:53] PowerBuild2333 commented on #16535
[milvus-22-04-13-17_29-debug.log](https://github.com/milvus-io/milvus/files/8511912/milvus-22-04-13-17_29-debug.log)

[2022-04-19 09:55] XuanYang-cn commented on #16528
Closing this issue

[2022-04-19 09:55] #16528 closed

[2022-04-19 10:23] XuanYang-cn commented on #16304
https://github.com/milvus-io/milvus/runs/6074633253?check_suite_focus=true

[2022-04-19 11:47] aakejiang opened #16545 "[Enhancement]: Create default root use for authentication"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

For user authentication, add a default user named root that can create other users.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-04-19 12:51] jaime0815 commented on #16516
there is a known issue #15628, due to the latency of Kafka consumers, it is easy to reproduce relatively.

[2022-04-19 13:23] schuberttobias commented on #16511
@xiaofan-luan Thanks for your response, I'll set up a PR.

[2022-04-19 14:08] yearlz opened #16550 "[Bug]: milvus1.1.1 distributed deployment with 3 servers error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

follow the instruction :
[https://github.com/milvus-io/bootcamp/blob/1.0/solutions/Mishards/README.md](url)
2 servers works fine (one "wr" mode with mysql , the other "ro"with mishards).

when i added another server with "ro" mode ,  and redeploy mishards,
it shows:
!

[2022-04-19 16:32] #15704 closed

[2022-04-20 00:50] yearlz commented on #16502
it works

[2022-04-20 02:37] binbinlv commented on #16499
Similar issue occurs in the following nighlty:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/478/pipeline/136

[2022-04-20 03:02] 12304212 opened #16551 "[Bug]: update failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

batch update failed:
+00:00] [INFO] [impl.go:2285] ["Start processing delete request in Proxy"] [traceID=48f5fbdb713406f0]
[2022/04/20 01:20:44.649 +00:00] [DEBUG] [impl.go:2326] ["Enqueue delete request in Proxy"] [role=proxy] [db=] [collection=EHSY_Product] [partiti

[2022-04-20 03:22] binbinlv commented on #16517
Same error appears again in the following nightly:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/479/pipeline

[2022-04-19T19:11:33.428Z] [gw1] [ 18%] FAILED testcases/test_delete.py::TestDeleteOperation::test_delete_merge_same_id_channel_and_sealed[False-True]

1. milvus logs: [artifacts-milvus-distributed-kafka-master-479-pymilvus-e2e-logs.tar.gz](

[2022-04-20 03:51] #16502 closed

[2022-04-20 03:53] xiaofan-luan commented on #16551
but you are actually calling delete rather than insert, could you check on it?

[2022-04-20 04:08] 12304212 commented on #16551
write wrong，actually batch update，first  batch delete,then batch update.  in the delete step，process fail

[2022-04-20 06:50] sunby commented on #16518
OK, thanks for the explaination. Where's the nighly test log? I need to check the details.

[2022-04-20 06:56] binbinlv commented on #16518
1. milvus logs:
[artifacts-milvus-distributed-pulsar-master-471-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/471/artifact/artifacts-milvus-distributed-pulsar-master-471-pymilvus-e2e-logs.tar.gz)

2. Test logs on website:
https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-nightly-ci/branches/master/runs/471/nodes/190/

[2022-04-20 06:56] binbinlv commented on #16518
1. milvus logs:
[artifacts-milvus-distributed-pulsar-master-471-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/471/artifact/artifacts-milvus-distributed-pulsar-master-471-pymilvus-e2e-logs.tar.gz)

2. Test logs on website:
https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-nightly-ci/branches/master/runs/471/nodes/190/

[2022-04-20 08:00] hiwwx commented on #16493
@soothing-rain can u help me to solve this problem?

[2022-04-20 09:55] JackLCL opened #16556 "[Enhancement]: After the collection is dropped, the data in the collection can be deleted immediately."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

When the user executes drop collection, he wishes to add a parameter that controls whether to delete the data in the collection immediately from persistent storage.

### Why is this needed?

Most of the time, after the user performs the drop collection operation, they want to

[2022-04-20 11:22] xiaofan-luan commented on #16556
Data can not be delete immediately for the following reasons:
1) this feature is like a trash box in case user drop the wrong collection
2) user may want to travel back to old state and query for certain collection
3) for the implementation reasons, we may build index on a dropped collection and if collection data is purged then build index may stuck

[2022-04-21 01:55] DragonDriver opened #16560 "[Bug]: ut data race"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://github.com/milvus-io/milvus/runs/6097531497?check_suite_focus=true

data race in TestWatchChannel.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-04-21 02:01] DragonDriver commented on #16560
/assign @XuanYang-cn

[2022-04-21 02:03] zhuwenxing opened #16562 "[Bug]:[chaos][querynode] Search failed with error message `no shard leaders available for channel`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After Milvus recovery from querynode pod kill chaos, search raise error when running `hello_milvus.py`

[code]

### Expected Behavior

all test cases pass

### Steps To Reproduce

[code]

### Anything else?

failed job：https://github.com/milvus-io/milvus/runs/61005304

[2022-04-21 02:04] zbhuang666 opened #16563 "[Bug]: milvus2.0 cluster: collection load or release Causing cluster nodes to hang up and search timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[ERROR] [client.go:254] ["datacoord ClientBase ReCall grpc second call get error "] [error="err: context deadline exceeded\n, /go/src/[github.com/milvus-io/milvus/internal/util/trace/stack_trace.go:51](http://github.com/milvus-io/milvus/internal/util/trace/stack_trace

[2022-04-21 02:40] binbinlv commented on #15282
Same error:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/480/pipeline/124

1. logs:
[artifacts-milvus-standalone-master-480-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/480/artifact/artifacts-milvus-standalone-master-480-pymilvus-e2e-logs.tar.gz)

2. Failed timeline:
[2022-04-20T15:44:39.685Z] [gw3] [

[2022-04-21 02:46] yanliang567 commented on #16563
@zbhuang666 thank you for your issue. Could you please specify which milvus version are you running? We have release v2.0.2 about one week ago. please try it if you were running a previous version.

/assign @zbhuang666
/unassign

[2022-04-21 02:47] binbinlv opened #16564 "[Bug]: [nightly] Search failed returning 0 results with empty output fields"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search return 0 results when searching with empty output fields

### Expected Behavior

Search return topK results when searching with empty output fields

### Steps To Reproduce

Running nightly:
https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipe

[2022-04-21 02:48] yanliang567 commented on #16562
@congqixia could you please help to take a look at this issue?
/assign @congqixia
/unassign

[2022-04-21 02:50] yanliang567 commented on #16564
@sunby could you please help on this issue?

/assign @sunby
/unassign

[2022-04-21 02:52] yanliang567 commented on #16550
@yhmo could you please help on this issue?

/assign @yhmo
/unassign

[2022-04-21 02:55] binbinlv opened #16565 "[Bug]: [nightly] Calculate distance failed reporting "failed to fetch vectors""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Calculate distance failed reporting "failed to fetch vectors"

### Expected Behavior

Calculate distance successfully without any errors

### Steps To Reproduce

Running nightly:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/ma

[2022-04-21 03:21] yhmo opened #16566 "[Bug]: when collection loadding or release Causing cluster nodes to hang up"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When call collection load/release, the server always hang up.

This bug is reported from here: https://github.com/milvus-io/milvus/discussions/16561. by @[zbhuang666](https://github.com/zbhuang666)

### Expected Behavior

_No response_

### Steps To Reproduce

_No res

[2022-04-21 03:30] binbinlv opened #16567 "[Bug]: [nightly] Search failed after "HNSW" index"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search failed after "HNSW" index

### Expected Behavior

Search successfully after "HNSW" index

### Steps To Reproduce

Running nightly:
https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-nightly-ci/branches/master/runs/480/nodes/190/

[2022-04-21 03:54] binbinlv opened #16568 "[Bug]: [nightly] Search failed with expression both for auto id or not"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search failed with expression both for auto id or not

[code]

and

[code]

### Expected Behavior

Search successfully

### Steps To Reproduce

Running nightly:
https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-nightly-ci/branches/mas

[2022-04-21 04:06] binbinlv opened #16569 "[Bug]: [nightly] Search failed with 0 results among multiple collections"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

 Search failed among multiple collections

### Expected Behavior

 Search successfully

### Steps To Reproduce

Running nightly:
https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-nightly-ci/branches/master/runs/480/nodes/190/steps/211

[2022-04-21 04:06] binbinlv opened #16570 "[Bug]: [nightly] Search failed among multiple collections"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

 Search failed among multiple collections

### Expected Behavior

 Search successfully

### Steps To Reproduce

[code]
[code]

[2022-04-21 04:07] #16570 closed

[2022-04-21 04:11] binbinlv commented on #16564
Actually, search return 0 results rather than topK in issues #16568, #16569, #16567, so maybe the root cause for them is the same. But the scenario is different, so opening several issues in case the different root cause.

[2022-04-21 06:12] yanliang567 commented on #16566
@yhmo did it repro on v2.0.2?

[2022-04-21 06:57] xiaofan-luan commented on #16569
/assign @czs007

[2022-04-21 06:58] xiaofan-luan commented on #16568
/assign @bigsheeper

[2022-04-21 06:59] xiaofan-luan commented on #16567
/assign @cydrain

[2022-04-21 07:00] xiaofan-luan commented on #16569
@sunby please help on investigation

[2022-04-21 07:33] congqixia opened #16573 "[Bug]: Index files of compacted segments are not deleted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After segment compacted is completed, the old segments will be cleaned up by gc in `Datacoord`. However the related index files still remain since the `IndexCoord` does not sense the compaction behavior.

### Expected Behavior

After compaction completes, the index fi

[2022-04-21 07:49] #15555 closed

[2022-04-21 07:49] #15805 closed

[2022-04-21 07:54] rocke-dong commented on #16509
Dear all,
Mivlus 2.0.2, In sdk, the "index_file_size" parameter doesn't work, when I modify the segment maxSize in milvus.yml from 512 to 2048, the search time reduces from 130 seconds to 41 seconds for 4209 entities, 9.7ms for each entity, number of query is 500, IVF_FLAT. A big improvement in query speed.

segment:
maxSize: 512 # Maximum size of a segment in MB

I will test in milvus 2.1 and 2.2

[2022-04-21 07:54] #16509 closed

[2022-04-21 08:01] binbinlv commented on #15782
Similar search timeout issue in the following nightly:
1. milvus logs:
 [artifacts-milvus-distributed-pulsar-master-480-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/480/artifact/artifacts-milvus-distributed-pulsar-master-480-pymilvus-e2e-logs.tar.gz)

2. collection name: e2e__C6lx8BaQ
3. Failed timeline:
[2022-04-20T15:05:04.308Z] [gw2] [ 18%] FAILE

[2022-04-21 08:09] binbinlv commented on #16562
Same error in the following nightly:
https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-nightly-ci/branches/master/runs/480/nodes/64/steps/178/log/?start=0

1. milvus log:
[artifacts-milvus-distributed-kafka-master-480-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/480/artifact/artifacts-milvus-distributed-kafka-master

[2022-04-21 08:43] ThreadDao opened #16574 "[Bug]: Querycoord panic when get collection replicas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]
[code]
2. Case run
[code]
3. querycoord logs
[querycoord.log](https://github.com/milvus-io/milvus/files/8529280/querycoord.log)
[querycoord3.log](https://github.com/milvus-io/milvus/files/8529282/querycoord3.log)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

[2022-04-21 09:04] pengyuan opened #16575 "[Bug]: cannot connect to milvus from attu"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

helm install my-release milvus/milvus --set attu.enabled=true

kubectl port-forward svc/milvus-attu 3000:3000 -n milvus --address=0.0.0.0 &

chrome visit http://ip:3000

![image](https://user-images.githubusercontent.com/2572263/164420143-9cc6608b-effa-4078-bb9b-47806

[2022-04-21 09:06] xiaofan-luan commented on #16509
cool!

[2022-04-21 09:12] ThreadDao opened #16576 "[Bug]: Rpc timeout when load collection with invalid replica number"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]
[code]
2. Case running result:
[code]
3. Proxy log
[proxy.log](https://github.com/milvus-io/milvus/files/8529522/proxy.log)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-04-21 09:50] yanliang567 commented on #16576
/assign @sunby
/unassign

[2022-04-21 09:53] yanliang567 commented on #16575
@pengyuan could you please double check whether the milvus service is running? Try to connect milvus with pymilvus sdk?

/assign @pengyuan
/unassign

[2022-04-21 09:53] yanliang567 commented on #16574
/assign @sunby
/unassign

[2022-04-21 10:08] XuanYang-cn commented on #16530
@shiyu22 it seems this problem, https://github.com/jupyter/notebook/issues/2014

one way to walk around now `use print()`:

![image](https://user-images.githubusercontent.com/51370125/164428735-7a1541aa-5c2d-44c3-8723-e51c98f3b135.png)

![image](https://user-images.githubusercontent.com/51370125/164428836-49027111-cbd2-4e82-89e4-f62f855acd97.png)

IPython  don't trust __getattr__, but in pymilvus

[2022-04-21 10:10] XuanYang-cn commented on #16530
/unassign
/assign @shiyu22

[2022-04-21 10:16] XuanYang-cn commented on #16530
If its very annoying and you want to be able to use `res[0][0].entity` directly in Jupyter, please file an issue in pymilvus and let me know.

[2022-04-21 10:30] yah01 commented on #16574
/assign

[2022-04-21 14:53] ThreadDao opened #16580 "[Bug]: Expected to throw exception when loading with invalid replica number"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]
[code]
2. Case running result
[code]
3. Server logs
`["replicaNumber is
 less than 1 for load partitions request, will set it to 1"] [replicaNumber=-1]`

[proxy.log](https://github.com/milvus-io/milvus/files/8532060/proxy.log)

[querycoord.log](https://github.com/milvus-io/milvus/files/8532

[2022-04-21 15:14] yanliang567 commented on #16580
/assign @sunby
/unassign

[2022-04-22 02:57] binbinlv commented on #16569
Same issue appears in the following nightly again:
1. milvus logs:
[artifacts-milvus-standalone-master-483-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/483/artifact/artifacts-milvus-standalone-master-483-pymilvus-e2e-logs.tar.gz)

2. collection name: search_collection_A49O9BOh

3. Failed timeline:
[2022-04-21T19:52:46.528Z] [gw3] [ 99%] FAILED testc

[2022-04-22 02:58] binbinlv commented on #16569
Reproduce in the same case, so set this issue as urgent.

[2022-04-22 03:10] binbinlv commented on #16499
Similar issue occurs in the following nightly:
(1) https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/483/pipeline

(2) https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/482/pipeline

[2022-04-22 03:30] jingkl opened #16584 "[Bug]: [test-string] string field can exceed the maximum max_length_per_row"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The default maximum value of the string field is 65535.
<img width="1047" alt="截屏2022-04-20 22 53 24" src="https://user-images.githubusercontent.com/34296482/164590492-1587d981-9953-4fac-8fc6-79fb12eb69f2.png">

### Expected Behavior

string field exceeding the defaul

[2022-04-22 03:37] binbinlv commented on #15785
Same issue occurs in the following nightly:
https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-nightly-ci/branches/master/runs/483/nodes/63/steps/211/log/?start=0

1. milvus logs:
[artifacts-milvus-distributed-pulsar-master-483-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/483/artifact/artifacts-milvus-distributed-pul

[2022-04-22 03:39] jingkl opened #16585 "[Bug]: [test-string] Call to construct_from_dataframe failed to insert data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

test case：
[code]
error log：

<img width="1440" alt="20220422-113650" src="https://user-images.githubusercontent.com/34296482/164591399-0c29d963-82e4-4e79-9d32-81926440e5af.png">

### Expected Behavior

Should be inserted successfully

### Steps To Reproduce

_No resp

[2022-04-22 03:44] jingkl opened #16586 "[Bug]: [test-string] The error message for load failure needs to be more standardised"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Load failure error, this can be changed to collection.name has not been loaded to memory or load failed, which is more in line with the specification

[code]

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-04-22 03:49] jingkl opened #16587 "[Bug]: [test-string]Insert failed with error "The types of schema and data do not match""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

should insert successfully

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-04-22 03:55] binbinlv opened #16588 "[Bug]: [nightly] query returns empty when querying with all array value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

query returns empty when querying with all array value

### Expected Behavior

query returns values successfully when querying with all array value

### Steps To Reproduce

[code]
5 Failed test case:

 @pytest.mark.tags(CaseLabel.L2)
    def test_query_expr_all_term_a

[2022-04-22 04:00] jingkl opened #16589 "[Bug]: [test-string]collection.load() error causes the search to not work properly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

testcase：
[code]

[code]

log；
[code]

### Expected Behavior

Search normally

### Steps To Reproduce

_No response_

### Anything else?

cluster：
[code]

[2022-04-22 04:04] binbinlv commented on #16565
Same issue occurs in the following nightly:
https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-nightly-ci/branches/master/runs/482/nodes/129/steps/178/log/?start=0

1. milvus logs:
[artifacts-milvus-distributed-pulsar-master-482-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/482/artifact/artifacts-milvus-distributed-pu

[2022-04-22 04:05] binbinlv commented on #16565
Set this issue as critical for reproduction.

[2022-04-22 06:53] DragonDriver commented on #16587
try:
[code]
PyMilvus will infer the data type from insert data, since there is only float type in Python, so PyMilvus will consider the type of floating data as DataType.DOUBLE. Similar to integer type, int will be inferred as DataType.INT64. So you should explicitly use `numpy` or `pandas`.

/assign @jingkl

[2022-04-22 07:00] DragonDriver commented on #16585
Can you provide the schema and the dataframe to be inserted in details? @jingkl

[2022-04-22 07:21] XuanYang-cn commented on #16560
[code]

[2022-04-22 07:23] jingkl commented on #16587
I still get an error after changing it!
<img width="1418" alt="截屏2022-04-22 15 20 53" src="https://user-images.githubusercontent.com/34296482/164626431-2d93dbfb-f018-472e-9fd2-e73a96310e22.png">
/assign @DragonDriver

[2022-04-22 07:26] XuanYang-cn commented on #16560
![image](https://user-images.githubusercontent.com/51370125/164626430-98136fd0-de39-4486-9c97-837780948dab.png)

Didn't see the relation between `log.Info` and `Params.DataNodeCfg.NodeID = node.session.ServerID`.

Still don't know what caused the race. Waiting for reproduce.

![image](https://user-images.githubusercontent.com/51370125/164626835-9be27553-9c42-4d9b-9e5d-4cad18bf2602.png)

[2022-04-22 07:27] DragonDriver commented on #16587
try `np.float32` instead of `np.float`.

[2022-04-22 07:33] stephenleo opened #16592 "[Feature]: Integrate Milvus as Document store for Jina DocArray"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Jina docarray is a data structure that can store any kind of data (image, text, embeddings, etc) and allows for efficient processing of this data in the Jina ecosystem: [](https://docarray.jina.ai/)

The docarray data can be stored in several docu

[2022-04-22 07:41] jingkl commented on #16587
Verified, inserted successfully，I also need to discuss the old and new interfaces

[2022-04-22 07:59] #12259 closed

[2022-04-22 07:59] #13063 closed

[2022-04-22 07:59] #15562 closed

[2022-04-22 07:59] #15532 closed

[2022-04-22 07:59] #15415 closed

[2022-04-22 08:12] xiaofan-luan commented on #16592
Hey @stephenleo! Sure we thought Milvus should be integrated to Milvus.
Anyone interested please assign yourself, and we are glad to help on reviewing this~

[2022-04-22 08:16] soothing-rain opened #16595 "[Enhancement]: Disable gRPC INFO level logs by default."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

gRPC info logs are not informative and should be discarded by default.

Bonus: Make grpc log level verbose configurable.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-04-22 08:21] DragonDriver commented on #16585
I will fix this soon.

[2022-04-22 08:28] firedent commented on #16437
Hi,
I notice you likely mentioned the `search_by_distance` method. Is it a method implemented in the 2.0.2 release?

[2022-04-22 08:54] progzgq commented on #16208
I found that this may be related to the amount of data. For example, when I insert thousands of data, the vector in the milvus is accurate. After I insert more than 600,000 data (I saw that the index has just been built), some previous accurate data also becomes inaccurate.

[2022-04-22 09:01] sunby commented on #16518
@binbinlv I check the log and these 3 segments `[432589708498042883, 432589708498042881, 432589708498042884]` does exist in the collection. Would you like to check the code which generates the non-existed segment id?

[2022-04-22 09:27] ThreadDao opened #16596 "[Bug]: [replica] Incorrect memory multi-replicas information"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Deploy cluster with 5 querynodes
2. Create a collection with 2 shards
3. Insert 3000 entities and flush
4. Load collection with 2 replica number
5. get replicas
![jJe8zi4Qqc](https://user-images.githubusercontent.com/27288593/164677768-d529253a-4565-43e4-ad36-5e666

[2022-04-22 09:34] ThreadDao opened #16598 "[Bug]: Empty growing segment information"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]
[code]
<name>: utility_B15bQZ4a
<partitions>: [{"name": "_default", "collection_name": "utility_B15bQZ4a", "description": ""}]
<description>:
<schema>: {
  auto_id: False
  description:
  fields: [{
    name: int64
    description:
    type: 5
    is_primary: True
    auto_id......  (api_re

[2022-04-22 09:35] binbinlv opened #16599 "[Bug]: [credential] No account and password config description of API doc for interface "Connections.add_connection""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

def add_connection(self, **kwargs):
        """
        Configures a milvus connection.
        Example::
            connections.add_connection(
                default={"host": "localhost", "port": "19530"},
                dev={"host": "localhost", "port": "19531"}

[2022-04-22 09:37] yanliang567 opened #16600 "[Bug]: bulk load failed due to task queue is full"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

bulk load fails with exception, while when checking the task ids from 0 to 32, all tasks are failed or persisted.
[code]

### Expected Behavior

1. the error msg does not make sense.
2. fail or success tasks shall not in task queue again
3.

### Steps To Reproduce

[c

[2022-04-22 09:37] yanliang567 commented on #16600
/assign @soothing-rain
/unassign

[2022-04-22 09:55] yah01 commented on #16596
/assign

[2022-04-22 10:15] jennyli-z commented on #16007
https://github.com/milvus-io/milvus/blob/master/build/ci/jenkins/PR.groovy#L7 already changed to 3.0.19 , greater than 3.0.12.
close it for now
If there's still issue, will reopen it.

[2022-04-22 10:15] #16007 closed

[2022-04-22 10:15] binbinlv commented on #16518
@zhuwenxing  Could you help on this question?

[2022-04-22 10:36] zhuwenxing commented on #16518
[code]

Maybe one of them is a growing segment.  if doing loading balance for a growing segment, the expectation is failure
In this test case, non-existed sealed segment id could be a growing segment or faked by `max(segment_distribution[src_node_id]["sealed"]) + 1`.

[2022-04-22 10:42] yah01 opened #16602 "[Bug]: Failed to get segments after loading collection from meta of QueryCoord"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Now milvus use in-memory percentage to judge whether a collection is fully loaded, this percentage is updated after all LoadSegmentsTask and WatchDmChannelTask done. But updating segments in meta is after this, which causes a request that reads segments in meta after

[2022-04-22 10:45] yah01 commented on #16602
/assign

[2022-04-22 10:50] xiaofan-luan commented on #16560
I guess it's the node ID reason

[2022-04-22 11:04] shiyu22 commented on #16530
Got it, thanks.

[2022-04-22 11:04] #16530 closed

[2022-04-22 14:34] #16069 closed

[2022-04-23 02:22] StevenSama opened #16606 "[Bug]: rocksmq causes disk to fill up"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Single-machine deployment, vector data 3 million, 2048 dimensions, called by java client, 24 vectors are called in a batch, uninterrupted calls, the disk is full, the reason for checking is that rdb_data takes up a lot of space, about 400G, and the viewing directory i

[2022-04-23 10:12] yanliang567 opened #16607 "[Bug]: [bulk load] Search with exception when bulk load just completed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

Search successfully as bulk load completed.

Notes:
if importing entities =100, it does not reproduce. So I guess the query node is still in loading process on the backend, while the error msg is quite confusing.

### Steps To Reproduce

[2022-04-23 10:13] yanliang567 commented on #16607
/assign @yhmo
/unassign

[2022-04-23 10:19] yanliang567 commented on #16607
check the get_query_segment_info immediately after bulk load completed, it returns []. While it returns the correct loading state if add 10s sleep.

[2022-04-23 10:32] yanliang567 commented on #16606
@LoveEachDay could you please help to take a look at this issue?

/assign @LoveEachDay
/unassign

[2022-04-23 18:36] #16095 closed

[2022-04-23 18:36] #16081 closed

[2022-04-23 18:36] #16085 closed

[2022-04-24 02:30] xiaofan-luan commented on #16606
@StevenSama could you share your java code also, so we can reproduce on our local environment. I don't think 3 million would take more than 100GB.
How large is the minio directory?

[2022-04-24 02:30] xiaofan-luan commented on #16606
/assign @xiaofan-luan

[2022-04-24 02:30] xiaofan-luan commented on #16606
/assign @StevenSama

[2022-04-24 02:38] DragonDriver opened #16610 "[Enhancement]: Index param check in Proxy should be better"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I want to make index param check in Proxy better. For now, Proxy don't check the dim of an creating index request, which will let a lot of invalid request skip the check.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-04-24 02:38] DragonDriver commented on #16610
/assign

[2022-04-24 02:43] cydrain commented on #16382
/close

[2022-04-24 02:43] #16382 closed

[2022-04-24 02:45] cydrain commented on #16284
/close

[2022-04-24 02:45] #16284 closed

[2022-04-24 02:46] cydrain commented on #16177
/close

[2022-04-24 02:46] #16177 closed

[2022-04-24 02:48] cydrain commented on #16222
@jennyli-z please check

[2022-04-24 02:48] yanliang567 commented on #16258
/assign @fffyyy415
@fffyyy415 could you please retry and provide info above?

/unassign @LoveEachDay

[2022-04-24 02:51] cydrain commented on #16205
/close

[2022-04-24 02:51] #16205 closed

[2022-04-24 02:59] binbinlv commented on #16499
This issue reproduced in high probability recently:
1. https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/488/
(1) milvus logs:
[artifacts-milvus-distributed-kafka-master-488-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/488/artifact/artifacts-milvus-distributed-kafka-master-488-pymilvus-e2e-logs.tar.gz)

(2) test logs:
https://ci.mi

[2022-04-24 02:59] yanliang567 commented on #16313
Hi @blue216 , could you please retry with latest 2.0.2 release? Besides proxy node log, we also need queryCoord and queryNode logs, as it seems that searching is not working for you. Thanks.

[2022-04-24 03:03] cydrain commented on #12598
working on it

[2022-04-24 03:06] haorenfsa opened #16611 "[Enhancement]: Kafka support password configurations"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Kafka configurations add support password related fields

### Why is this needed?

Milvus need to be able to access kafka that has password

### Anything else?

_No response_

[2022-04-24 03:07] haorenfsa commented on #16611
/assign @jaime0815

[2022-04-24 03:28] jennyli-z commented on #16222
verified and /close

[2022-04-24 03:30] jennyli-z commented on #16222
/close

[2022-04-24 03:30] #16222 closed

[2022-04-24 03:41] StevenSama commented on #16606
about 34G

[2022-04-24 03:44] StevenSama commented on #16606
package milvus;

import java.util.ArrayList;
import java.util.Arrays;
import java.util.List;
import java.util.Random;
import java.util.concurrent.ExecutorService;
import java.util.concurrent.Executors;
import java.util.concurrent.TimeUnit;
import java.util.concurrent.atomic.AtomicLong;

import io.milvus.client.MilvusServiceClient;
import io.milvus.grpc.QueryResults;
import io.milvus.grpc.SearchRes

[2022-04-24 03:46] ThreadDao opened #16612 "[Enhancement]: Hope to replace colection id with collection name in exception message"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Collection name is better for user than collection id
`[2022-04-24 11:26:03,880 - ERROR - ci_test]: (api_response) : <MilvusException: (code=1, message=collection 432739645867950081 has not been loaded to memory or load failed)> (api_request.py:36)
`

### Why is this needed?

[2022-04-24 03:47] StevenSama commented on #16606
package milvus;

import java.util.ArrayList;
import java.util.Arrays;
import java.util.List;
import java.util.Random;
import java.util.concurrent.ExecutorService;
import java.util.concurrent.Executors;
import java.util.concurrent.TimeUnit;
import java.util.concurrent.atomic.AtomicLong;

import io.milvus.client.MilvusServiceClient;
import io.milvus.grpc.QueryResults;
import io.milvus.grpc.SearchRes

[2022-04-24 03:49] StevenSama commented on #16606
It looks like a log file, which keeps growing and has nothing to do with the search library vector data.

[2022-04-24 04:17] xiaofan-luan commented on #16606
Understand, my guess is that search is sent through the rocksmq and will be stored in rocksdb for 7 days by default.
Change retentionTimeInMinutes to 1 day and see if the purge start and solve the problem?

Actually the problem should be fixed in 2.1 because we remove the dependency of mq on search path so the easier way is to wait for the release of 2.1(Start to May).

[2022-04-24 06:02] yanliang567 opened #16613 "[Bug]: [Bulk load] Failed to import binary vectors"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[2022-04-23 19:36:56 - DEBUG - ci_test]: (api_response) :  Bulk load state:
- taskID    : 23,
- state     : BulkLoadFailed,
- row_count : 0,
- infos     : {'files': 'row_auto_binary_vectors_only_16d_10.json', 'failed_reason': "JSON row validator: bit size 128 doesn't

[2022-04-24 06:09] StevenSama commented on #16606
In fact, the expiration time I set is 1 minute, but this configuration does not take effect. Looking at this configuration is not a configuration option of rocketsmq

[2022-04-24 06:50] xiaofan-luan commented on #16606
all the retention logic happens in rocksmq_retention.go expiredCleanUp, from the log you may analysis the reason why retention is not happened.

RocksmqRetentionTimeInSecs is also a important metrics, and we only do purge after 0.7days. Another possibilities is we accumulate too much in less than one day and retention process is not even start. If that's case we may want to change the purge logic

[2022-04-24 07:55] zhuwenxing opened #16615 "[Bug]: Shard_leader is a node which not in group_nodes and shard_nodes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

system setting:
5 querynode; 3 replicas; 2 shard for collection

replicas info
[code]

There are something strange :
* `<group_nodes:(8, 8),<shard_leader:6>, <shard_nodes:[8]>`
* `group_nodes:(9, 9), <shard_leader:3>, <shard_nodes:[9]`
The value of shard_leade

[2022-04-24 07:58] zhuwenxing commented on #16615
/assign @yah01
Please take a look

[2022-04-24 08:05] zhuwenxing commented on #16615
collection name:  `utility_cEBrI4uq`
log:
[pod_log.zip](https://github.com/milvus-io/milvus/files/8549237/pod_log.zip)

[2022-04-24 08:13] ThreadDao commented on #16574
Fixed

[2022-04-24 08:13] #16574 closed

[2022-04-24 08:17] xiaofan-luan opened #16617 "[Enhancement]: Change grpc log level seperately"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

We've seen many unnecessary grpc logs, change the grpc log level to Warning as default.
Also expose a few grpc related configs

### Why is this needed?

Make the log more readable

### Anything else?

_No response_

[2022-04-24 08:24] congqixia opened #16619 "[Enhancement]: Shard Leader controls the segment change event"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

After query shard/shard leader is implemented  in query node, shard leader shall handles the segment change events(handff, load balance).

### Why is this needed?

Since shard leaders are aware of all the usage and allocation of segments, they shall control the segment online/

[2022-04-24 08:55] binbinlv opened #16621 "[Bug]: [embd] Start milvus failed with panic "invalid memory address or nil pointer dereference" when there is no right to create directory for etcd"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

start milvus successfully

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-04-24 08:58] zhuwenxing opened #16622 "[Bug]: Group nodes allocation strategy not work as expected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

system setting:
5 querynode; 3 replicas; 2 shard for collection

replicas info

[code]
each group only has one querynode to load all shards, then all used querynode are three nodes, two nodes are not getting well used.

### Expected Behavior

suppose
* querynodes are

[2022-04-24 09:15] StevenSama commented on #16606
can't found tocksmq_retention.go file in the master branche, but found global_rmq.go file,but the params not use in the code Rmq, finalErr = NewRocksMQ(path, nil)?

[2022-04-24 09:19] ThreadDao commented on #16562
1. Test case:
[code]
2. Case runing result:
[code]
3. Server log
[milvus_logs.tar.gz](https://github.com/milvus-io/milvus/files/8549339/milvus_logs.tar.gz)

[2022-04-24 09:22] xiaofan-luan commented on #16606
the config is used in global_rmq.go yes, it will set variable in cksmq_retention

[2022-04-24 10:05] xiaocai2333 opened #16623 "[Enhancement]: Add distributed locks for segment references"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

In some case, indexing or loading failed due to the segment was compressed. See also: #16450 , #16488 .
So, when a segment is referenced by other components, the segment needs to be locked.
The specific plan is as follows:
For load:
1. When loading, QueryCoord will get recover

[2022-04-24 10:05] xiaocai2333 commented on #16623
/assign

[2022-04-24 10:05] StevenSama commented on #16606
thanks,Can it be fixed in the master branch?

[2022-04-24 11:18] yanliang567 opened #16625 "[Bug]: [bulk load] "fieldID 104" in error msg is not meaningful if less field data in row based files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[2022-04-24 19:10:48,355 - DEBUG - ci_test]: (api_response) :  Bulk load state:
- taskID    : 1,
- state     : BulkLoadFailed,
- row_count : 0,
- infos     : {'files': 'row_auto_float_vectors_multi_scalars_4d_10.json', 'failed_reason': 'JSON row validator: fieldID 104

[2022-04-24 11:25] yanliang567 opened #16626 "[Bug]: [bulk load] Milvus crashes if import column based file with less field data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus crashes with exception:
[code]

### Expected Behavior

import data successfully

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-04-24 11:27] yanliang567 commented on #16626
logs here:
[standalone.bulkload.crash.log](https://github.com/milvus-io/milvus/files/8549550/standalone.bulkload.crash.log)

[2022-04-24 12:41] zhuwenxing opened #16627 "[Bug]: Load balance failed when replica_number is larger than 1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The error message is ` unloaded segment 432747788991201281`, but `sealed_segment_ids` is from the return results of `get_query_segment_info(c_name)`,  so it should be loaded.

[code]

### Expected Behavior

load-balance success.

### Steps To Reproduce

[code]
[code]

[2022-04-24 14:03] #16560 closed

[2022-04-24 14:09] ThreadDao opened #16628 "[Bug]: Failed to query with shard leader and query timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]
[code]
3. Query rpc timeout

query segment info
[code]
The replicas info:
[code]

**Server logs:**
[mic_logs.tar.gz](https://github.com/milvus-io/milvus/files/8549849/mic_logs.tar.gz)

### Expected Behavior

Query successfully

### Steps To Reproduce

_No response_

### Anything else?

_No

[2022-04-24 14:48] yanliang567 commented on #16627
/assign @sunby
/unassign

[2022-04-24 14:49] yanliang567 commented on #16628
/assign @sunby
/unassign

[2022-04-24 14:50] yanliang567 commented on #16622
/assign @congqixia
/unassign

[2022-04-24 14:51] yanliang567 commented on #16602
/unassign

[2022-04-24 14:55] yanliang567 commented on #16598
/assign @sunby
/unassign

[2022-04-24 16:00] xiaofan-luan opened #16630 "[Bug]: Failed to connecting 19530 on ci cases"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I've seen many CI runs hit this issue
For example:

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-16604/5/pipeline

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-16624/2/pipeline/

Need to i

[2022-04-24 16:03] xiaofan-luan opened #16631 "[Bug]: Search result does not match topK required"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I've hit this issue on ci

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-16618/2/pipeline

Guess that might be related to recently check in of QueryNode

### Expected Behavior

result size should match topk user expected

### Ste

[2022-04-24 16:04] xiaofan-luan commented on #16631
/assign @congqixia

[2022-04-24 16:07] jennyli-z opened #16632 "[Enhancement]: Use offline build Cache dependency to improve build on mac"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

The source archive for each dependency will be downloaded via the internet, which can cause issues in environments with limited access to the internet.
Download dependency will fail when network is not that stable, try to change use offline builds way to build milvus
https://g

[2022-04-24 16:07] xiaofan-luan opened #16633 "[Bug]: Hit no shard leaders available for channel on ci"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

While search, we hit no shard leaders error, which is unexpected.

Detailed logs please check
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-16624/4/pipeline

### Expected Behavior

search successfully

### Steps To Reproduce

_No

[2022-04-24 16:07] xiaofan-luan commented on #16633
/assign @congqixia

[2022-04-24 19:06] whj0401 commented on #15810
It seems I met the same error.
The interesting thing is that when there are few entities (134) in the collection, my code runs smoothly.
However, when I increase the size of the database to over 15,000, I met the error.

I wonder whether it is really because of the wrong parameters since the code successfully runs while testing on a small dataset.
I am trapped here and really need some help.
Thank

[2022-04-25 02:13] binbinlv commented on #16631
this is the same with issue #16564 and the issues comments on 16564.

[2022-04-25 02:14] binbinlv commented on #16630
this is the same with #15282

[2022-04-25 02:16] xiaofan-luan commented on #16630
dupliacate with #15282

[2022-04-25 02:16] #16630 closed

[2022-04-25 02:17] binbinlv commented on #16633
Actually, this is reproduced frequently, and we comment on issue #16562.

[2022-04-25 02:22] xiaofan-luan commented on #16595
duplicate with #16617

[2022-04-25 02:22] #16595 closed

[2022-04-25 02:51] DragonDriver commented on #16584
already fixed, please update the pymilvus, thx.

[2022-04-25 02:51] DragonDriver commented on #16584
/assign @jingkl

[2022-04-25 02:53] DragonDriver commented on #16585
already fixed, please update the pymilvus, thx.
/assign @jingkl

[2022-04-25 02:57] jingkl commented on #16584
Yes, it's fixed, the error reporting statement is not very standard @DragonDriver
<img width="1267" alt="截屏2022-04-25 10 54 49" src="https://user-images.githubusercontent.com/34296482/165013291-62f1f285-d4fa-4bcc-a612-6c9403a33f7a.png">

[2022-04-25 03:18] congqixia commented on #16562
I think #16620 shall fix this problem

[2022-04-25 03:22] congqixia commented on #16622
@sunby could you please take a look?
/unassign
/assign @sunby

[2022-04-25 03:25] congqixia commented on #16562
@zhuwenxing @binbinlv @ThreadDao there 3 error has different error message and are not the same problem. #16620 shall fix segment not found problem, which was @binbinlv 's issue.

[2022-04-25 03:30] yearlz opened #16634 "[Feature]: detailed scripts to deploy milvus2.0 offline"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

as a  beginner to  milvus , it confused me when i wanted to apply ingress 、persistance Volume to milvus2.0  in offline deployment mode, according tohttps://milvus.io/cn/docs/v2.0.x/install_offline-helm.md, i can get the "milvus_manifest.yaml" , ho

[2022-04-25 03:51] #16619 closed

[2022-04-25 04:39] xiaofan-luan commented on #16634
/assgin @zwd1208 could you please help @yearlz for the documents?

[2022-04-25 04:40] xiaofan-luan commented on #16633
duplicate with #16562, close for now

[2022-04-25 04:40] #16633 closed

[2022-04-25 04:41] xiaofan-luan commented on #16631
sorry for the duplication, close it for now ,see #16564

[2022-04-25 04:41] #16631 closed

[2022-04-25 06:04] zwd1208 commented on #16634
/assgin @Bennu-Li

[2022-04-25 06:05] xiaofan-luan opened #16636 "[Feature]: DML channel should be able to reuse"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

So far, DML channel is unique at query and data for each virtual channel, My proposal is to support DML channel sharing for each physical channel on a QueryNode/DataNode.
The reason is:
1) support partition load one by one, but not only at a time(

[2022-04-25 06:06] xiaofan-luan commented on #16636
/assign @sunby

[2022-04-25 06:09] xiaofan-luan commented on #16636
things to consider:
1) how to hold tt to avoid read happen when chan reader is still working?
2) how large should the virtual channel queue size?
3) what happen if certain if certain virtual queue full?
4) what monitoring metrics do we need?

[2022-04-25 06:29] zhuwenxing commented on #16622
It works well after this PR https://github.com/milvus-io/pymilvus/pull/960 in pymilvus.

/unassign @sunby
/assign

[2022-04-25 06:29] #16622 closed

[2022-04-25 06:35] xige-16 commented on #16636
It is recommended to share the consumer between different partitions of the collection first, and then consider refactoring the flowGraph so that the consumer is shared between different collections. Now each collection has a set of fgs to update the query service time separately, so the latter needs to redesign how fg correctly updates the query service time of each collection

[2022-04-25 06:37] xiaofan-luan opened #16637 "[Bug]: Collection Replica is not removed when node offline"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Currently collection replica balance is handled automatically when node is on.
But when node is off,  it is still there and with no one maintianed, causing balancer always loop through offlined nodes.

https://pipelines.actions.githubusercontent.com/serviceHosts/c158e

[2022-04-25 06:40] xiaofan-luan commented on #16637
[](url
[bug.log](https://github.com/milvus-io/milvus/files/8552189/bug.log)
)

[2022-04-25 06:42] Bennu-Li commented on #16634
To update the `milvus_manifest.yaml` for Milvus new features, you need to update the milvus helm repo. Just use `helm repo update`.

[2022-04-25 06:53] jingkl commented on #16585
pymilvus 2.1.0.dev33 fix it，Already verified

[2022-04-25 06:53] #16585 closed

[2022-04-25 07:22] RateSpirit opened #16638 "[Bug]: milvus 2.0.2 standalone crash"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

docker restart logs:
[docker.logs.txt](https://github.com/milvus-io/milvus/files/8552406/docker.logs.txt)
milvus restart logs:
[standalone-9.log](https://github.com/milvus-io/milvus/files/8552424/standalone-9.log)

### Expected Behavior

_No response_

### Steps To Re

[2022-04-25 07:31] yah01 commented on #16637
/assign

[2022-04-25 07:57] yanliang567 commented on #16638
@RateSpirit thank you for the issue.  could you please specify what did you do before milvus crash?
Looking into the logs, it seems that the rootcoord is not working. could you please double check the etcd server is running well?

/assign @RateSpirit
/unassign

[2022-04-25 08:13] RateSpirit commented on #16638
[standalone-1.log](https://github.com/milvus-io/milvus/files/8552731/standalone-1.log)

[2022-04-25 08:14] letian-jiang opened #16640 "[Bug]: historical search does not check segmentIDs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When QueryShard(shard follower) does the historical search, it directly uses the segmentIDs in search Request from shard leader.

### Expected Behavior

QueryShard(shard follower) should check the meta-information: if the partition/segment(s) are available currently.

[2022-04-25 08:19] ThreadDao opened #16641 "[Bug]: Query fails after updating replicas with load release because collection hasn't been loaded or has been released"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]
[code]
**Case running result:**
[code]
**Server logs:**
[milvus_logs.tar.gz](https://github.com/milvus-io/milvus/files/8552750/milvus_logs.tar.gz)

### Expected Behavior

1. It should give an exception when loading with 2 replicas without release for the first time
2. After replica number u

[2022-04-25 08:20] ThreadDao commented on #16562
@congqixia Please ignore my comment. I have logged my problem on a new issue #16641

[2022-04-25 08:22] ThreadDao commented on #16596
Fixed `master-20220424-b82f6a1a`

[2022-04-25 08:22] #16596 closed

[2022-04-25 08:33] RateSpirit commented on #16638
<img width="1141" alt="image" src="https://user-images.githubusercontent.com/11364643/165051421-83ab1b34-c68d-4abd-8cc7-67b543255ffc.png">

[2022-04-25 08:46] fulelan opened #16642 "[Bug]: Creating partition inserts leads to docker container crash!"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I finished inserting data into the partition, the container crashed, and i see the error message attached below:
[```
2022/04/25 08:13:02.735 +00:00] [DEBUG] [segment.go:231] ["Proxy segIDAssinger pickCanDoFunc"] [records="{\"432766811779367013\":{\"4327668140605

[2022-04-25 09:19] AI-Mart opened #16643 "Mishards is used for distributed cluster deployment and data query. In most cases, it returns, and sometimes it returns an empty list[]"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Mishards is used for distributed cluster deployment and data query. In most cases, it returns, and sometimes it returns an empty list[]

### Expected Behavior

Mishards is used for distributed cluster deployment and data query. In most cases, it returns, and sometimes

[2022-04-25 09:25] zhuwenxing opened #16644 "[Bug]: [chaos]Search failed with two replicas when one group is available, but another one is not"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior
Search works well in the first assert but raises errors in the second assert.
[code]
after this chaos test, the load operation will timeout for any other collections, even if they are created after chaos.
[code]

### Expected Behavior

When we have multi replicas, sear

[2022-04-25 09:34] JackLCL commented on #16643
@AI-Mart
Please upload milvus log to help analyze this problem.

[2022-04-25 09:38] AI-Mart commented on #16643
无返回
`[[[-0.10037688668711754, 0.015197261066547809, -0.07836079244940561, 0.04032146760144152, 0.003124489605476766, -0.029799604418501484, -0.03967552830836387, -0.05514469273948117, 0.02804241097372762, -0.074425708505379, 0.06932036180837266, 0.11507123540082621, 0.09609857682953954, -0.0125929561232442, 0.06169842120121105, -0.059517785162870804, 0.05293207135703611, 0.005886257455309844, 0.05

[2022-04-25 09:44] binbinlv opened #16645 "[Bug]: [embd] Package directory is wrong on readme of embd-milvus"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Package directory is wrong:
milvus.py is deleted, and preload.py is not on readme.

### Expected Behavior

delete milvus.py and add preload.py on readme

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-04-25 09:50] JackLCL commented on #16643
We need the log of milvus server not the log from the client.

[2022-04-25 09:54] zhuwenxing commented on #16644
So this issue has two effects:
* can't promise HA when loading multi replicas
* Milvus can not recover after the chaos is deleted  when loading multi replicas

[2022-04-25 10:25] JackLCL commented on #16642
@fulelan Which milvus version do you use?

[2022-04-25 10:28] congqixia commented on #16641
One occurrence was https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-16624/4/pipeline/, in which querynode panicked.
And proxy send search request to newly created querynode.

[2022-04-25 10:37] binbinlv opened #16647 "[Bug]: [embd] Panic occurs when call start interface twice reporting "duplicate metrics collector registration attempted""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Panic occurs when call start interface twice reporting "duplicate metrics collector registration attempted"

[code]

### Expected Behavior

Report errors

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-04-25 10:40] fulelan commented on #16642
v2.0.2

[2022-04-25 10:41] fulelan commented on #16642
@JackLCL v2.0.2

[2022-04-25 10:43] JackLCL commented on #16642
@fulelan
You should use pymilvus v2.0.2 not v2.0.0rc8.

[2022-04-25 10:44] yanliang567 commented on #16625
A similar error msg if the pk field is not found in row based data file.
`'failed_reason': 'JSON row validator: fieldID 100 missed at the row 0'},`
meanswhile the error msg for column based is more meaningful by the same scenarios:
`'failed_reason': 'import error: primary key dismatch_uid not provided'},`

[2022-04-25 10:45] ThreadDao opened #16648 "[Feature]: Need to test new feature multiple memory replicas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Need to test new feature multiple memory replicas

1. Test pymilvus API `load()`, `loading_progress`
2. Stress test
3. Scale test

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anythi

[2022-04-25 11:26] yanliang567 commented on #16640
/assign @letian-jiang
/unassign

[2022-04-25 12:49] xiaofan-luan commented on #16644
probably mark it as a new feature?

[2022-04-25 12:49] xiaofan-luan commented on #16644
so far it's by design, by we can have blacklist and hedged read as a new feature

[2022-04-25 12:55] XuanYang-cn opened #16652 "[Bug]: Proxy connects to crashed QN because QN recovered at the same IP and Port"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-16624/4/pipeline/

1. GRPC keeps reconnecting if the targeted server crashed
2. QueryNode recovered at the same IP:Port

This causes proxy unaware of the changes of QueryNode, caching

[2022-04-25 12:59] XuanYang-cn commented on #16652
There're two ways:
1. the QueryNode client in proxy shall be aware of the *Unavailable* of the QueryNode immediately. And update the shard leader cache right away.
2. QueryNode shouldn't be recovered at the same IP, Port.

Since we cannot control the QueryNode's recovery, No.2 is impractical.

[2022-04-25 14:23] zhangdiandian0127 commented on #16425
/assign @zhangdiandian0127

[2022-04-25 14:29] zhangdiandian0127 commented on #16132
Hello, I am looking for some good first issues. And I'm interested in this issue, i want try it.

[2022-04-25 14:30] zhangdiandian0127 commented on #16132
/reopen

[2022-04-25 14:31] zhangdiandian0127 commented on #16132
/assign @zhangdiandian0127

[2022-04-25 15:09] yanliang567 opened #16656 "[Bug]: [bulk load] Milvus crashes when importing column based data if the vector field name is dismatched with the vector key in data file"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus crashes with exception:
[code]

### Expected Behavior

failed to import with a meanful error msg, but not crash any time.
[standalone.bulkload.crash.log](https://github.com/milvus-io/milvus/files/8555742/standalone.bulkload.crash.log)

### Steps To Reproduce

[

[2022-04-25 15:47] yanliang567 commented on #16656
/assign @yhmo
/unassign

[2022-04-25 18:53] #16074 closed

[2022-04-25 18:53] #16043 closed

[2022-04-25 18:53] #16087 closed

[2022-04-25 18:53] #16103 closed

[2022-04-25 18:53] #16102 closed

[2022-04-25 18:53] #15207 closed

[2022-04-25 18:53] #16108 closed

[2022-04-26 02:08] yanliang567 commented on #16626
it also reproduces if one of scalar field does not matched with the keys in data file
[bulk.load.crash.log](https://github.com/milvus-io/milvus/files/8559177/bulk.load.crash.log)

[2022-04-26 03:00] Renekton opened #16657 "[Bug]: Failed to search data after reloadding collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I release collection and load collection, I can not search data in the colleciton.

### Expected Behavior

When I release collection and load collection, I can search data in the colleciton successfully.

### Steps To Reproduce

[code]

### Anything else?

[milvu

[2022-04-26 03:04] DragonDriver opened #16658 "[Enhancement]: Replace plan parser library with ANTLR"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I want to replace plan parser library with ANTLR.

### Why is this needed?

Now, we use https://github.com/antonmedv/expr to parse our expr and then generate the logical plan. But this library is not able to extend the grammar rules, which is not easy for common use. Replacing

[2022-04-26 03:04] DragonDriver commented on #16658
/assign

[2022-04-26 03:10] xiaofan-luan commented on #16626
we probably need better ut on it.

[2022-04-26 03:15] fulelan commented on #16642
I have upgraded to v2.0.2, but I still received the same error. @JackLCL

[2022-04-26 03:27] jaime0815 commented on #16499
487 pipeline hang caused by datanode core dump

[code]

[2022-04-26 03:29] yanliang567 commented on #16644
don't we assign the request to the other replica group if on is offline?

/assign @xiaofan-luan
/unassign

[2022-04-26 03:30] yanliang567 commented on #16643
@AI-Mart could you please to upload the milvus server logs?
/assign @AI-Mart
/unassign

[2022-04-26 03:33] xiaofan-luan commented on #16657
/assign @aakejiang could you help on investigating this issue?

[2022-04-26 03:34] yanliang567 commented on #16642
@fulelan could you please share a simple code snippet to reproduce this issue? Also it is perfect if you upload the whole milvus pod log, so that we can see all the requests

/assign @fulelan
/unassign

[2022-04-26 03:38] xiaofan-luan commented on #16644
It's harder to do so because it usually takes a long time to know a replica is not working.
One thing could help is to init shard replica latency tracker, if certain replica response is higher than others, or if it didn't response for the last n request, then we blacklist the replica.
Other way to help on the avalaibility is called Hedged read, see mongodb documentation about the details of hedged

[2022-04-26 03:53] #16535 closed

[2022-04-26 03:55] xiaofan-luan commented on #16642
/assign @xige-16 please help on this one when you are free ~ thanks!

[2022-04-26 05:16] xiaofan-luan commented on #16658
agree,  we probably want to investigate goyacc and antler but we definitely need a more flexible plan parser

[2022-04-26 05:31] xiaofan-luan opened #16660 "[Enhancement]: Rethink the data/index garbage collection mechanism"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

1. refactor the etcd/minio data garbage collection mechanism
2. use 1 unified config instead of multiple configs for query time travel parameter check, drop collection/index data maintain.
3. A garbage collector code and unified refernece mechanism shared between different com

[2022-04-26 05:44] xiaofan-luan commented on #16660
just one comment,  data expiration is actually controlled by cmmon.retentionDuration

[2022-04-26 05:52] bestRiven opened #16661 "[Bug]: Service downtime after a period of use v2.0.2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-04-26 06:19] #16640 closed

[2022-04-26 06:21] zhuwenxing commented on #16644
@XuanYang-cn please take a look.

server log:
[test-multi-replicas-04-26-14-05.zip](https://github.com/milvus-io/milvus/files/8560317/test-multi-replicas-04-26-14-05.zip)

client log:
[client_log.log](https://github.com/milvus-io/milvus/files/8560319/client_log.log)

before chaos
[code]

during chaos
[code]
after chaos

[code]

[2022-04-26 06:31] zhuwenxing commented on #16644
Here is a new question: why a new querynode id `13` is in gruop_nodes?
[code]

[code]
As we can see, the total number of querynode is  5. The chaos is pod failure, so there will be no querynode getting online or offline. The effect of chaos is just making `milvus-multi-querynode-querynode-7fd9f6666-mwrsp` not be ready, and restarting.

[2022-04-26 06:35] liangyihan opened #16662 "[Bug]: Insert userface and userage fields to get the wrong result"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

**1.insert data correctly**
_set structure:_
![image](https://user-images.githubusercontent.com/45417436/165212473-6cb08353-da2b-4511-807a-01a659f0cf0b.png)

_input parameter：_
{"userFace":[[0.80020356, 0.3490076, 0.499359, 0.94444656], [0.23521596, 0.73284143, 0.7519

[2022-04-26 06:36] zhuwenxing commented on #16644
/assign @XuanYang-cn

[2022-04-26 06:43] #16615 closed

[2022-04-26 06:44] yanliang567 commented on #16661
@bestRiven thank you for the issue. according to the logs you pasted, there are only warning and no errors. Could you please upload the whole milvus pod log for us? Also could you share more info about "service downtime", does the service crash and restart automatically, or what happened?

/assign @bestRiven
/unassign

[2022-04-26 06:56] XuanYang-cn commented on #16652
https://github.com/milvus-io/milvus/issues/16644#issuecomment-1109282578

It's true, It's very complicated to define "Unavailable"

[2022-04-26 07:04] fulelan commented on #16642
insert data code

[code]

所有日志如下：

[code]

@yanliang567

[2022-04-26 07:05] xiaofan-luan opened #16664 "[Bug]: Compaction entity expire didn't follow time travel retetention time"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

data expire time should >=  time travel retention, otherwise timetravel function will be broken.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

change the config of entity expiration to common.entityExpiration

[2022-04-26 07:21] bestRiven commented on #16661
单机版的没有error日志就是一直连不上，没有反应。下面有集群版本的日志。
`
 rootcoord:
[ERROR] [client.go:131] ["failed to get client address"] [error="find no available datacoord, check datacoord state"] [stack="github.com/milvus-io/milvus/internal/util/grpcclient.(*ClientBase).connect\n\t/go/src/github.com/milvus-io/milvus/internal/util/grpcclient/client.go:131\ngithub.com/milvus-io/milvus/internal/util/grpcclient.(*ClientBase).G

[2022-04-26 07:44] binbinlv opened #16666 "[Bug]: [nightly] Search failed reporting "no shard leaders available for channel..., Search 1 failed, reason cannot find segment 4""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search failed reporting "no shard leaders available for channel...":

(code=1, message=no shard leaders available for channel: by-dev-rootcoord-dml_195_432777434055573505v1, leaders: [6], err: fail to Search, QueryNode ID=6, reason=Search 1 failed, reason cannot find

[2022-04-26 07:45] binbinlv commented on #16666
@congqixia
it seems the pr #16620  did not fix this issue, please investigate it again, thanks.

[2022-04-26 08:19] xiaofan-luan opened #16667 "[Bug]: Datacoord UT failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

TestChannelManager_StateTransfer/toRelease-ReleaseFail-CleanUpAndDelete-Reassign-ToWatch

CI run:
https://github.com/milvus-io/milvus/runs/6171486413?check_suite_focus=true

### Expected Behavior

all ut passed stability

### Steps To Reproduce

_No response_

### Any

[2022-04-26 09:10] binbinlv commented on #16565
not reproduced very frequently, so cancel critial label.

[2022-04-26 09:29] bestRiven commented on #16661
补充一下 长时间连不上或者宕机之后重启，一般客户成功，但是只要是再操作集合比如load或者delete，特别是用attu页面操作的话会再次没响应卡死，只能把磁盘数据清空重启才能好用，但是又是几个小时就没响应了

[2022-04-26 10:36] yanliang567 commented on #16661
/assign @congqixia
@congqixia coulld you please help on this issue?
/unassign

[2022-04-26 13:26] congqixia opened #16671 "[Enhancement]: Add an API to sync segment loaded state in QueryNode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

dd an API to sync segment loaded state in QueryNode

### Why is this needed?

Currently segment state is notified via Etcd events. In some corner cases, search request arrives before the etcd event, which will cause the segment not searched.

### Anything else?

_No response_

[2022-04-26 14:53] yanliang567 opened #16673 "[Bug]: [bulk_load] Milvus does not load data automatically if calling load before importing data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

failed to search after data imported as data was not loaded into querynode,  even if collection.load() was called before importing.
[code]

### Anything else?

_No response_

[2022-04-26 15:44] ThreadDao commented on #16628
Running the case on image `master-20220426-60f7fef` and load collection `rpc timeout` exeption
**Case:**
[code]
**Case running result:**
[code]

**Server logs:**
[mic_logs.tar.gz](https://github.com/milvus-io/milvus/files/8564743/mic_logs.tar.gz)

[2022-04-26 16:31] yanliang567 opened #16674 "[Bug]: [bulk load] Only support 32 row based files import at one time is not good enough"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

For now it is designed that milvus does not support import more than 32 row based files at one time. It means it only supports 32GB import at a time.  I don't think this is good enough for those who has 1TB data(128d-2billion).

### Expected Behavior

_No response_

#

[2022-04-27 01:42] yanliang567 commented on #16662
@yhmo could you please take a look at this issue? it looks like that java sdk reformat the float vector data.
/assign @yhmo
/unassign

[2022-04-27 02:28] jingkl opened #16678 "[Bug]: [test-string] Delete failed to report error "invalid plan node type""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

<img width="1439" alt="截屏2022-04-26 21 23 51" src="https://user-images.githubusercontent.com/34296482/165426543-5a606dc9-66a9-4fdf-bf23-64daa2e2b2b0.png">

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-04-27 02:35] jingkl commented on #16587
To be discussed in the next version, not relevant to this side of string so turn off

[2022-04-27 02:35] #16587 closed

[2022-04-27 03:20] #16396 closed

[2022-04-27 03:21] 12304212 commented on #16396
repetitive submission

[2022-04-27 03:23] #16258 closed

[2022-04-27 03:25] yearlz commented on #16634
thanks，it helps a lot

[2022-04-27 03:25] #16634 closed

[2022-04-27 03:26] fffyyy415 commented on #16258
milvus cannot contact etcd. make a mistake on the milvus config file.

[2022-04-27 03:39] xiaofan-luan commented on #16623
when querycoord/indexcoord crash and restart, does it relist segment info?

For instance, if we list segment A,B in the querycoord, and query coordinator hold the lock.
then compaction happend, A,B is compacted to Segment c but not deleted since querycoord hold the lock.
Then query coord crashed, the lock is released by data coord.
Then segment is deleted by data coord.
On querycoord restart, if t

[2022-04-27 03:51] #16313 closed

[2022-04-27 05:46] yanliang567 commented on #15278
/unstale

[2022-04-27 05:47] #15608 closed

[2022-04-27 06:03] yanliang567 opened #16682 "[Bug]: [bulk load] Import without errors, but no data in collection if import .npy files with row basd mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

import returns successfuly:
[code]
but no data in collection:
[code]

### Expected Behavior

.npy file is not supported by row based import mode. so it should return errors with meaningful error msg.

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-04-27 06:03] yanliang567 commented on #16682
/assign @yhmo
/unassign

[2022-04-27 06:21] xiaocai2333 commented on #16623
When QueryCoord crash and restarted, it will re-obtain the segment info form DataCoord. So querycoord will get the segment C and load it.  And segment A,B will no longer be loaded.

[2022-04-27 06:49] #16563 closed

[2022-04-27 07:09] wayblink opened #16683 "[Enhancement]: Merge duplicated code in session_util"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I found two functions in session_util almost do the same thing, processKeepAliveResponse and LivenessCheck. They are called in Register() one after another closely. The only difference is LivenessCheck is public and supports a callback func. I think we can merge them into one

[2022-04-27 07:42] congqixia commented on #15637
we shall keep this issue open

[2022-04-27 07:44] congqixia commented on #10609
@ThreadDao @XuanYang-cn Does this issue still remain?

[2022-04-27 07:47] congqixia commented on #16666
Segment 432777434304610320 is released before search. This is not an expected behavior in query node. The root cause was that segment control cannot block segment removing operation. Fixing PR is on the way.

[2022-04-27 08:29] zhuwenxing opened #16686 "[Bug]: Search failed with error message `fail to search on all shard leaders` after replica_number changed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

search success

### Steps To Reproduce

[code]

### Anything else?

[demo.pdf](https://github.com/milvus-io/milvus/files/8570293/demo.pdf)

logs:
[pod_log.zip](https://github.com/milvus-io/milvus/files/8570320/pod_log.zip)

[2022-04-27 08:30] zhuwenxing commented on #16686
/assign @congqixia

[2022-04-27 08:35] aakejiang commented on #16657
1.proxy_release.log:
`
[2022/04/26 02:32:52.902 +00:00] [WARN] [impl.go:1889] ["GetIndexState failed to WaitToFinish"] [error="no index is created"] [traceID=245b887f2bb3b6f0] [role=proxy] [MsgID=432377340216831027] [BeginTs=432784113111924739] [EndTs=432784113111924739] [db=] [collection=ti_sr_normal] [field=] ["index name"=_default_idx]
`

@Renekton Did you create the index?

[2022-04-27 08:54] ThreadDao commented on #16641
image 'master-20220426-60f7fef3'
[code]

[2022-04-27 08:58] ThreadDao commented on #16686
Looks the same as #16641 . You can reproduce this problem with the case mentioned.

[2022-04-27 09:38] Renekton commented on #16657
I have create IVF_FLAT index and delete it . And I have done this operation several times.

[2022-04-27 09:40] Renekton commented on #16657
![image](https://user-images.githubusercontent.com/7531084/165489743-70da09e4-d700-44ec-a110-926564a59417.png)

There is no index in the collection when I do the reloading operation and the searching operation.

[2022-04-27 09:52] xiaofan-luan commented on #16667
/assign

[2022-04-27 09:59] xiaofan-luan commented on #16667
https://github.com/milvus-io/milvus/actions/runs/2231911358/attempts/1

[2022-04-27 10:21] XuanYang-cn commented on #16288
Just a rough thought:

[code]

rpc `ReportSegmentStates` should be idempotent，`num_rows` of segmentStates should be the total number of rows.

DataCoord will only updates the segment number of rows if the current ts  > timestamp.

- DataNode will retry this RPC if failed for timestamp ahead
- DataNode should combine several inserts updates for a single segments and make one rpc if
  - 10 inserts u

[2022-04-27 11:58] aakejiang commented on #16657
You can post the logs when creating index for field VECTOR_FLOAT_DATA. So i can investigate why it's failed.

[2022-04-27 12:57] jaime0815 opened #16691 "[Enhancement]: Remove DataKV interface"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

It does not seem very useful.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-04-27 13:11] XuanYang-cn commented on #16468
behavior after https://github.com/milvus-io/pymilvus/pull/966
[code]

[2022-04-27 13:33] soothing-rain commented on #16673
Hey I am not able to reproduce this issue. Can you show me the script you are testing with?

Here's mine:

import random
import time

from pymilvus import (
    connections,
    utility,
    FieldSchema, CollectionSchema, DataType,
    Collection,
)

fmt = "\n=== {:30} ===\n"
search_latency_fmt = "search latency = {:.4f}s"
print(fmt.format("start connecting to Milvus"))
connections.connect("defaul

[2022-04-27 13:36] soothing-rain commented on #16621
@binbinlv this is done.

[2022-04-27 13:36] soothing-rain commented on #16645
done.

[2022-04-27 13:37] soothing-rain commented on #16647
done.

[2022-04-27 13:39] soothing-rain commented on #16674
We haven't decided the file size limit yet. Can you help us test a bit and figure out what's the best number together?

Perhaps we can test with 4Gigs, 8Gigs and even larger file and see how they work.

[2022-04-27 13:49] #16667 closed

[2022-04-27 14:32] yhmo commented on #16674
Row-based file is stream reading, the memory usage can be controlled under low level. But column-based file is not stream reading, it could lead to OOM. I suggest we don't allow user input a huge file more than 4GB.

[2022-04-27 14:35] yanliang567 opened #16698 "[Bug]: [bulk load]Milvus should retrun errors if import from two numpy files with same name"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

one of numpy files would be successfully imported into Milvus. But I think this is confusing as:
1. it is said that multiple numpy files are not support
2. User might believed that all the data in multi files were successfully imported

### Expected Behavior

return e

[2022-04-28 01:17] yanliang567 commented on #16607
but the question comes to be: how can an user know the data is searchable? (and "index_built_completed" as well)

[2022-04-28 01:41] yanliang567 commented on #16673
try my collection schema:
[code]
and json file ['row_auto_float_vectors_multi_scalars_16d_3000_0.json']:
[row_auto_float_vectors_multi_scalars_16d_3000_0.json.log](https://github.com/milvus-io/milvus/files/8578866/row_auto_float_vectors_multi_scalars_16d_3000_0.json.log)
there is string data in my json, although milvus does not support yet and I commented it in my collection schema.

[2022-04-28 02:29] jingkl opened #16699 "[Bug]: [test-string] Error re-creating an index after deletion of the index"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

testcase：

[code]
error log：

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-04-28 02:36] xiaofan-luan opened #16700 "[Bug]: TestGetShardLeaders is flacky"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Failed to pass ut TestGetShardLeaders with error

2022-04-27T13:02:37.9497599Z [2022/04/27 13:02:37.949 +00:00] [WARN] [query_coord.go:617] ["loadBalanceSegmentLoop: get segment info from QueryNode failed"] [nodeID=3] [error="updateSegmentInfo: can't find segment 2022

[2022-04-28 02:38] yah01 commented on #16700
The test case has been removed temporarily, see #16688

[2022-04-28 02:38] xiaofan-luan commented on #16700
Ok, I will rebase master and rerun~ close for now

[2022-04-28 02:38] #16700 closed

[2022-04-28 02:43] jingkl opened #16701 "[Bug]: [test-string] Error on search in index creation"no shard leaders available for channel""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

testcase：

[code]
error log:

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-04-28 02:56] JackLCL opened #16702 "[Feature]: Add healthy check API"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Milvus is a distributed system with many components. After the user has started the cluster, an API is needed to determine whether the cluster is successfully started and can be serviced. In the online production environment, we also need to make

[2022-04-28 03:00] congqixia commented on #16666
@binbinlv after #16695 this problem did not reproduce in last 2 nightly.(Run 495 & 496). Could you please verify in next runs?
/unassign
/assign @binbinlv

[2022-04-28 03:03] binbinlv commented on #16666
OK，I will verify it in the following nightly tests, thanks.

[2022-04-28 03:51] #16664 closed

[2022-04-28 04:15] kingmbc commented on #16678
I had the same issue. So I just changed it as below and succeeded.

[code]

[2022-04-28 06:31] xiaofan-luan commented on #16623
OK， if segment list is refreshed then it should works~

[2022-04-28 06:36] cydrain commented on #12598
Try @DragonDriver 's script, test with "rows = 25097 / 30000 / 40000 / 50000", all tests pass.

[2022-04-28 06:43] zhuwenxing commented on #16562
This issue is not reproduced with version `master-20220427-0a953948` temporary.

[2022-04-28 06:44] xiaofan-luan commented on #16623
looks good to me, please helps on reviewing the design @congqixia @sunby

[2022-04-28 06:45] DragonDriver commented on #12598
Are there any code changes in our annoy library? @cydrain

[2022-04-28 06:55] Renekton commented on #16657
There are some logs which produced by the "proxy node" , and nothing found in the "index node".
[proxy_create_index.zip](https://github.com/milvus-io/milvus/files/8580222/proxy_create_index.zip)

[2022-04-28 07:04] letian-jiang commented on #16300
Closed by #16470

[2022-04-28 07:04] #16300 closed

[2022-04-28 07:05] #16142 closed

[2022-04-28 07:17] XuanYang-cn commented on #16468
pymilvus==2.1.0.dev35

[2022-04-28 07:31] #16126 closed

[2022-04-28 07:41] yah01 commented on #16644
This was fixed with #16653 (60f7fef），which is newer than the tested commit.

[2022-04-28 07:43] ThreadDao opened #16705 "[Bug]: [scale] The replica information is not updated after scale in milvus cluster"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Deploy milvus cluster with **5** querynodes
2. Create a collection with 2 shards
3. Insert 30000 entities 10 times and flush
4. Load collection with **2** replicas
5. Scale in querynode from 5 to **1** during search
6. Server logs:
[mic_logs.tar.gz](https://github.

[2022-04-28 07:57] zhuwenxing commented on #16644
OK, I will check this again with master-latest image.

[2022-04-28 07:59] ThreadDao commented on #16576
The issue cannot be reproduced in this case. close first

[2022-04-28 07:59] #16576 closed

[2022-04-28 08:18] yanliang567 opened #16707 "[Bug]: [bulk load] None of column based files were successfully imported if only one of them has errors"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

None of column based files were successfully imported if one of files has errors.

### Expected Behavior

Those column based files that have no errors should be imported successfully, which is the same as row based file behave

### Steps To Reproduce

[code]

### Anyt

[2022-04-28 08:18] yanliang567 commented on #16707
/assign @soothing-rain
/unassign

[2022-04-28 08:26] XuanYang-cn commented on #16644
### Query is normal, search is abnormal:
[code]

### replica infos
[code]

- Proxy search Leader 8, which should be normal -> return error below, **this's wrong for search**, Leader8 shouldn't have to connect to QueryNode of other groups. `10.97.4.157` is the injected failing QueryNode 7

![image](https://user-images.githubusercontent.com/51370125/165708468-eb7812ba-702e-454c-8ea8-86c1a469ef22.png

[2022-04-28 08:31] soothing-rain commented on #16707
I guess this is intended. Either all columns or no column at all. @yhmo

[2022-04-28 08:31] jingkl opened #16708 "[Enhancement]: Modify the search testcase"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Modify test_search_with_expression_large
Modify test_search_with_expression_large_two

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-04-28 08:40] XuanYang-cn commented on #16644
This's correct for shardLeader not available and it needs to be considered carefully later.

However for @zhuwenxing 's test cases, shard leaders work well, its one group unavailable because one QueryNode is unavailable. In this case, the search should work fine.

[2022-04-28 08:49] xiaocai2333 commented on #16265
Can it be closed? @yanliang567

[2022-04-28 08:51] yanliang567 commented on #16705
@xiaofan-luan I think we should design how Milvus behaves when querynodes shrink to less than replica number

/assign @xiaofan-luan

[2022-04-28 08:52] yanliang567 commented on #15736
@yah01 was this completed fixed or need more fixes

[2022-04-28 08:54] yah01 commented on #15736
It's completed

[2022-04-28 08:56] zhaokefei commented on #15439
@xiaofan-luan
I also found a similar situation in the process of using `milvus2.0.2`: when I called `collection.num_entities` after loading the data, it got stuck.

Note: The data of the collection is inserted under `milvus2.0.0-pre-ga`, and it will be stuck when `load` is encountered under the `2.0.0-pre-ga` version. Because I upgraded the service, but encountered the above problem again

[code]

[2022-04-28 08:57] ThreadDao commented on #16705
Image `master-20220428-206b554d`
1. The search is always successful whether it is scaling or after scaling.
2. **After scaling, collection replica info is not updated (Before scale, load with 2 replica number, then scale in querynode from 3 to 1):**
[code]
3. After scaling, the query segment info is correct
[code]

[2022-04-28 09:10] XuanYang-cn commented on #16468
/unassign
/assign @binbinlv

[2022-04-28 09:22] binbinlv commented on #16468
Verified in pymilvus==2.1.0.dev35, it has been fixed.

[2022-04-28 09:22] #16468 closed

[2022-04-28 09:27] yhmo opened #16711 "[Bug]: memory consumption is high after creating lot of partitions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Start milvus as cluster mode, one query node, one data node.
Create a collection, then create 600+ partitions in this collection, insert 30+ entities(dimension=768) into each partition.
Totally there 600 * 30 = 18000 entities, total raw data size = 18000 * 768 * 4 = 5

[2022-04-28 09:30] cydrain commented on #12598
Can re-produce with following testcase
[code]

Python script to generate test data
[code]

[2022-04-28 09:31] yhmo commented on #16711
After running this script, my Mac resource monitor says the milvus query node occupied **120GB** memory.

[2022-04-28 09:31] yhmo commented on #16711
This issue is reported from the discussion: https://github.com/milvus-io/milvus/discussions/16680

[2022-04-28 09:50] StanleyLsx commented on #16606
I also met for this problem:
env: Single-machine deployment, vector data ten thousand, 128 dimensions, called by python client
recent alarm:
rdb_data:
/dev/vdb1      ext4      296G  278G  3.1G  99% /home

And I altered the configure of rocksmq:
retentionTimeInMinutes & retentionSizeInMB
but didn't work...
Only when I delete the files under rdb_data and rebooting can the server return normal.

[2022-04-28 10:30] yah01 opened #16713 "[Bug]: LoadCollection/Partitions may retry infinitely"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The LoadCollection/Partitions request returns before the sub-tasks (LoadSegments and WatchDmChannel) completes, the LoadCollection/Partition task updates progress by RPC to QueryNode, which uses the context of the original request. If user sets timeout for LoadCollect

[2022-04-28 10:30] yah01 commented on #16713
/assign

[2022-04-28 11:16] xiaofan-luan commented on #15439
Hi @zhaokefei,  could you offer full logs of proxy and datanode so we can investigate on that.

[2022-04-28 11:54] xiaofan-luan commented on #16265
The error message is weird, what does it mean?

[2022-04-28 12:00] cydrain commented on #12598
@yanliang567 this issue has been fixed, you can try when knowhere upgraded

[2022-04-28 12:25] yanliang567 commented on #16613
not reproduced on master-20220428-21b59732

[2022-04-28 12:25] #16613 closed

[2022-04-28 12:34] xiaofan-luan commented on #16713
good catch, each retry should have a separate context

[2022-04-28 12:39] yanliang567 commented on #16625
verified fix on master-20220428-21b59732

[2022-04-28 12:39] #16625 closed

[2022-04-28 12:39] yanliang567 commented on #16626
verified fix on master-20220428-21b59732

[2022-04-28 12:39] #16626 closed

[2022-04-28 12:40] zhuwenxing opened #16715 "[Bug]: [kafka]Milvus is unavailable after it recovered from kafka pod kill chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

all operations failed after chaos and running test_e2e will time out

[code]
[code]

### Expected Behavior

all test cases pass

### Steps To Reproduce

[code]

### Anything else?

failed job: https://github.com/milvus-io/milvus/runs/6198423584?check_suite_focus=true

[2022-04-28 12:40] xiaofan-luan commented on #16705
This is annoying case. Overall the group is currently a hard request so if querynode is < replica number the behavior is as expected since the balance policy doen't allow two replica share the same querynode.

It fall back to the issue that if one replica querynode crashes then all the search will be hang due to round robin the bad replica.

I highly suggest to change the replica group policy to b

[2022-04-28 12:43] xiaofan-luan commented on #16702
we have health check command but it is not omnipotent.
It's still hard to define the boundary of health and ready to service unless if we support search without loading data into memory

[2022-04-28 12:47] xiaofan-luan commented on #16674
Don't even think read 4GB a time is a good idea because datanode has very limited memory resources

[2022-04-28 12:51] xiaofan-luan commented on #16657
I didn't see any error message from the log you created,  what is the error log and what's the time you hit this issue? From the log you upload at 04/26 02:41:33 everything seems to be ok

[2022-04-28 12:53] xiaofan-luan commented on #16715
/assign @jaime0815 please help on the Kafka issue

[2022-04-28 12:55] jaime0815 opened #16716 "[Enhancement]: Remove AddTenant API from meta_table"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

The AddTenant API is useless and the defined tenant is meaningless

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-04-28 12:55] zhuwenxing commented on #16715
/assign @jaime0815

[2022-04-28 13:44] xige-16 commented on #16699
I'm working on this issue.

[2022-04-28 14:12] Renekton commented on #16657
I'm not sure the specific time,  I did a lot of operations during that time. Do I need to upload more logs or restart the system?

[2022-04-28 14:50] yanliang567 opened #16722 "[Bug]: [bulk load] fields 100 in error msg does not make any sense"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Bulk load state:
- taskID    : 432840915271548929,
- state     : BulkLoadFailed,
- row_count : 0,
- infos     : {'files': 'col_cust_float_vectors_only_8d_100.json', 'failed_reason': 'import error: field dismatch_pk row count 0 is not equal to other fields 100'},

###

[2022-04-28 14:50] yanliang567 commented on #16722
/assign @yhmo
/unassign

[2022-04-28 15:26] ThreadDao commented on #16705
Image `master-20220428-206b554d`
After cluster scale in, the querynode is < replica number:
1. query entity get empty result
2. release collection hangs
3. load a new collection hangs
If I scale out the cluster and increase the querynodes from 1 back to 3, loading a new collection hangs
[mic_logs.tar.gz](https://github.com/milvus-io/milvus/files/8584090/mic_logs.tar.gz)

[2022-04-28 20:31] #16121 closed

[2022-04-28 20:31] #16033 closed

[2022-04-29 01:02] hussainfolio3 commented on #15882
/reopen

[2022-04-29 01:09] yanliang567 commented on #15882
@hussainfolio3 could you please upload the logs and provide more info when reopening an issue, so that we could investigate the issue?

/assign @hussainfolio3

[2022-04-29 01:18] yanliang567 commented on #16711
@xiaofan-luan sounds like we need a smart way to allocate memory
/assig @xiaofan-luan
/unassign

[2022-04-29 02:02] aakejiang commented on #16657
That's the reason why you cannot search anything. You must have created the index before searching.

[2022-04-29 02:03] aakejiang commented on #16657
That's the reason why you cannot search anything. You must have created the index before searching.

[2022-04-29 02:03] aakejiang commented on #16657
![image](https://user-images.githubusercontent.com/68629395/165874740-ad18016e-6fbf-4aa8-9a3f-fcfe5e89a2ba.png)

So can you search now after creating the index, if there are any problems let me know with the logs.

[2022-04-29 02:13] binbinlv commented on #16499
Reproduced again:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/498/pipeline/145

milvus logs:
[artifacts-milvus-distributed-kafka-master-498-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/498/artifact/artifacts-milvus-distributed-kafka-master-498-pymilvus-e2e-logs.tar.gz)

[2022-04-29 02:15] binbinlv commented on #16666
After fix #16695 merged, this issue has not been reproduced for several days, so close it.

[2022-04-29 02:15] #16666 closed

[2022-04-29 02:22] Renekton commented on #16657
![image](https://user-images.githubusercontent.com/7531084/165875430-a25e0291-3b4c-40fd-b8d4-7182d4f3a139.png)

[2022-04-29 02:23] binbinlv commented on #15782
Search timeout in the following nighlty:
https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-nightly-ci/branches/master/runs/497/nodes/64/steps/178/log/?start=0

1. milvus log:
2. collection name: search_collection_BSlw69gP
3. FAILED timeline: [2022-04-28T15:51:01.130Z] [gw5] [ 90%] FAILED testcases/test_search_20.py::TestCollectionSearch::test_search_multi_collecti

[2022-04-29 02:26] #16708 closed

[2022-04-29 02:28] binbinlv commented on #16516
Search timeout in the following nighlty:
https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-nightly-ci/branches/master/runs/497/nodes/64/steps/178/log/?start=0

1. milvus log:
2. collection name: search_collection_BSlw69gP
3. FAILED timeline: [2022-04-28T15:51:01.130Z] [gw5] [ 90%] FAILED testcases/test_search_20.py::TestCollectionSearch::test_search_multi_collecti

[2022-04-29 02:32] ThreadDao commented on #16641
Looks fixed `master-20220428-68b1b82f`

[2022-04-29 02:37] binbinlv commented on #16489
Similar issue is reproduced in the following nightly, @congqixia could you help to confirm whether the root cause is the same? Thanks

https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-nightly-ci/branches/master/runs/497/nodes/124/steps/166/log/?start=0

1 milvus logs:

2. collection name: delete_qF2teAdT
3. FAILED timeline: [2022-04-28T15:04:09.102Z] [gw4] [ 22%]

[2022-04-29 02:38] #16641 closed

[2022-04-29 02:40] binbinlv commented on #15283
Has been reproduced for a long time, so close it and will reopen it if it occurs again in the future.

[2022-04-29 02:40] #15283 closed

[2022-04-29 02:48] binbinlv commented on #16599
Closed for not needed.

[2022-04-29 02:48] #16599 closed

[2022-04-29 02:50] binbinlv commented on #16564
It did not occurs in the last nightly tests, and close it.

[2022-04-29 02:50] #16564 closed

[2022-04-29 03:05] xige-16 commented on #16678
Milvus only supports deleting entities  with the term expression in.
https://milvus.io/docs/v2.0.x/delete_data.md?shell#Delete-Entities

[2022-04-29 03:05] xige-16 commented on #16678
/unassign
/assign @jingkl

[2022-04-29 03:06] ThreadDao opened #16726 "[Bug]: [replica] Check if collection is loaded when get replica"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]
[code]

### Expected Behavior

No collection id in exception msg

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-04-29 03:40] xige-16 commented on #16699
This issue has not been reproduced in the corresponding version. @jingkl

[2022-04-29 03:42] soothing-rain opened #16728 "[Feature]: Make Pulsar log level consistent with Milvus log level"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Pulsar client currently has its own individual log level setting. We want its log level consistent with Milvus log level.

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything else?

[2022-04-29 04:02] DragonDriver commented on #16701
working on this

[2022-04-29 04:03] xige-16 commented on #16589
utry to update the pymilvus version to  2.1.0.dev29.

[2022-04-29 04:10] xige-16 commented on #16584
The issue should has been fixed, Trouble you check it. @jingkl

[2022-04-29 04:11] xige-16 commented on #16699
The issue should has been fixed, Trouble you check it with lastet milvus version. @jingkl

[2022-04-29 04:11] xige-16 commented on #16589
The issue should has been fixed, Trouble you check it. @jingkl

[2022-04-29 04:40] xiaofan-luan opened #16730 "[Bug]: Support segcore small index config"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

small index is created in chunk, for the acceleration of growing segment search.
However, we didn't carefully design small index for all parameters, and the nlist, nprobe is hard coded.
In this pr we are supporting config nlist and nprobe, later we will support more c

[2022-04-29 04:46] xiaofan-luan opened #16732 "[Feature]: Config Segcore and Knowhere"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

We need a way to config cpp code with milvus.yaml, or maybe a sepeprate yaml named segcore.yaml or knowhere.yaml.

### Describe the solution you'd like.

There are two way to do this:
1) go parsed the file and convert a in memory json or arrow fil

[2022-04-29 04:53] xiaofan-luan opened #16733 "[Feature]: Change all cgo interface with arrow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

currently, milvus use protobuf heavily in the cgo interface for data exchange between go and c code.

However, if we take a deep look into it, many of the code path is copied and converted heavily, for instance in the load path:
1. read parquet bu

[2022-04-29 04:53] xiaofan-luan commented on #16733
anyone interest pleas assign yourself

[2022-04-29 05:54] yhmo commented on #16707
Not like row-based files,  if one of column-files contains error, the import task will be failed.
Because the 10 column-based files belong to one import task.
If there are 10 row-based files, there will be 10 import task. If one of the row-based files contains error, there only one task failed, other 9 tasks will succeed.

[2022-04-29 05:58] yhmo commented on #16722
Change the message to "import error: field dismatch_pk row count 0 is not equal to other fields row count 100'"

[2022-04-29 06:38] sunby commented on #16518
I check these 3 segments and they are all sealed. So maybe 432589708498042884 is created by 432589708498042883+1?

[2022-04-29 06:55] longjiquan opened #16737 "[Bug]: Term operation on floating-point fields is not accurate"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Now, Milvus supports expression to do filtering on scalar fields. One of supported operations is `term`, `term` will filter those rows in or not in the terms set. For example, `a in [1, 2, 3, 4]`, which `a` is one of fields. However, since it's not accurate to do equa

[2022-04-29 07:07] jingkl commented on #16589
pymilvus 2.1.0.dev36
milvus tag： xige-16-segcore-load-string-ea423ac9d-20220429
Fixed, testcase passed

[2022-04-29 07:07] #16589 closed

[2022-04-29 07:38] congqixia commented on #16623
lgtm.
BTW could you please add the steps when DataCoord crashes and restarts?

[2022-04-29 07:41] jaime0815 opened #16738 "[Enhancement]: Use a singleton Kafka producer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

there is a [memory leak issue](https://github.com/confluentinc/confluent-kafka-go/issues/758) if frequently creating producer object, we can use a singleton repace with it, the below are some advantages:
1.  reduce producer creating overhead
2. avoid the memory leak issue.

##

[2022-04-29 07:43] jingkl commented on #16584
pymilvus 2.1.0.dev36
milvus tag： xige-16-segcore-load-string-ea423ac9d-20220429
Fixed, testcase passed

[2022-04-29 07:43] #16584 closed

[2022-04-29 07:46] ThreadDao commented on #16628
Maybe fixed `master-20220428-68b1b82f`

[2022-04-29 07:46] #16628 closed

[2022-04-29 07:49] zhuwenxing opened #16740 "[Bug]: Connection raise error when using alias to create connection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

create connection success

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-04-29 07:54] xige-16 opened #16741 "[Feature]: Return error if create index with repeated index name in collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

milvus now supports indexing on scalar fields, so there will be different indexes under the same collection, and each index has a unique index name. If you build different index with same index name repeatedly, an error message will be returned (i

[2022-04-29 08:20] RimsC opened #16742 "After uninstall milvus2.0 by using the method of yum , it is unable to start it after installing milvus2.0 with yum."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

yum卸载milvus2.0.x后，重新yum，无法启动

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

[code]

### Anything else?

_No response_

[2022-04-29 08:22] #16671 closed

[2022-04-29 08:22] #16359 closed

[2022-04-29 08:24] #16163 closed

[2022-04-29 08:25] congqixia commented on #15846
Let's keep this issue open for tracking

[2022-04-29 08:25] aakejiang commented on #16657
How many records do you have in total? Could you just narrow down the search to a small range like VECTOR_ID < 10 and try again?

[2022-04-29 08:25] jaime0815 opened #16743 "[Enhancement]: Remove Unused MultiLoad API from BaseKV"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

MultiLoad is never used

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-04-29 08:26] congqixia commented on #15724
This issue is resolve by memory replica feature #16291, closing.

[2022-04-29 08:31] #16111 closed

[2022-04-29 08:31] #15585 closed

[2022-04-29 08:34] congqixia commented on #16686
Since issue #16641 is fixed, could you please verify whether this issue still persists? @zhuwenxing
/unassign
/assign @zhuwenxing

[2022-04-29 08:39] XuanYang-cn commented on #16055
/reopen
lets keep tracking this

[2022-04-29 09:03] congqixia opened #16746 "[Bug]: MilvusException: code=2, message=Fail connecting to server occur rapidly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

CI tests fails due to "Fail connecting to server" error multiple times.

### Expected Behavior

CI passes.

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-04-29 09:24] zhuwenxing commented on #16644
Things become much more complicated.
With version `master-20220429-7dfab0aa`, all works well no matter whether it was during chaos or after chaos when running `pytest -s -v chaos/test_chaos_multi_replicas.py`.  But there is still one thing weird: I just inject pod failure to one pod, however, there will be two pods getting failure.

When running `pytest -s -v chaos/test_chaos_multi_replicas.py` ag

[2022-04-29 09:27] xige-16 commented on #16741
/unassign @xiaofan-luan
/assign

[2022-04-29 09:31] Renekton commented on #16657
![image](https://user-images.githubusercontent.com/7531084/165919428-c1f695e0-8ef0-4ba3-88dc-84cd1159b692.png)

just 13 entities. the result of searching is also timeout when I narrow down the range.

[2022-04-29 09:36] XuanYang-cn commented on #16644
/assign @yah01
/unassign

[2022-04-29 10:14] RimsC commented on #16742
it doesn't work, and I will try to execute this method on another computer。

[2022-04-29 10:22] codersky commented on #16538
@xiaofan-luan per your comments, can by understand as if we just enable the vector field as result will impact the performance if the vector itself is not in memory, we need to identify it on disk by index? is my understanding right? if yes, any suggestion?

[2022-04-29 10:23] xiaofan-luan opened #16749 "[Bug]: Recall flush should be idempotent with no error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Test FlushSegments is flaky

The ci result is not stable.
https://github.com/milvus-io/milvus/runs/6224834639?check_suite_focus=true

If the first flush issued is working, then everything works as expected, second flush get ""segment is flushing, nothing is done" erro

[2022-04-29 10:23] xiaofan-luan commented on #16749
/assign @soothing-rain

[2022-04-29 10:42] yanliang567 commented on #16698
if moving the vectors.npy to different folders, and call them in one bulk_load(files=["/seg_1/a.numpy",  "/seg_2/a.numpy"], only one of files was imported, and the other one was ignored.
So I think we need to warn users that this is not a valid operation.

a strict rule might be: if there are numpy files in the file list, then the file list must be one of the following two knids:
1. files = ['one_

[2022-04-29 11:17] ThreadDao opened #16750 "[Bug]: Drop collection hangs and rootcoord send tt to all channels too slowly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]
[code]
c.list_collections()
['collection_e3muioow', 'collection_fZTyH1jc', 'collection_vcGEpBKA', 'collection_sNKIUR89', 'collection_ooJyW7HS', 'collection_3YprB5Bd', 'collection_KaJNIz2R', 'collection_3Wed1LrK', 'collection_HThV2uC2', 'collection_QdfiedGI', 'collection_yyMFfhZW', 'collecti

[2022-04-29 11:24] zhuwenxing commented on #16644
The test script is https://github.com/milvus-io/milvus/blob/master/tests/python_client/chaos/test_chaos_multi_replicas.py

The result is not that stable.
In the new round, the result is :
first run: all passed
second run: only failed during chaos with succ rate 0.8, all passed before chaos and after chaos
third run: succ rate is 0.9 before chaos , but all failed during chaos and after chaos

Two p

[2022-04-29 11:29] yah01 commented on #16644
LoadBalance will fail if the offline node is the shard leader, there may be more problems with LoadBalance...
@sunby could u help on this?
/assign @sunby

[2022-04-29 12:31] #16156 closed

[2022-04-29 12:31] #16157 closed

[2022-04-29 12:31] #16158 closed

[2022-04-29 12:31] #16159 closed

[2022-04-29 12:31] #16160 closed

[2022-04-29 12:31] #16154 closed

[2022-04-29 13:29] xiaocai2333 opened #16752 "[Enhancement]: Timely reporting error while creating minio/S3 client"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Reduce the number of retries to create minio/S3 client.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-04-29 13:39] xiaocai2333 commented on #16752
/assign

[2022-04-29 13:45] binbinlv opened #16753 "[Bug]: Calling loading progress interface for not existed partitions does not report error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Calling loading progress interface for not existed partitions does not report error

### Expected Behavior

the former error message is:
"partitionID of partitionName: *** can not be found"

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything e

[2022-04-29 15:10] binbinlv opened #16756 "[Bug]: Some test cases could not adapt to milvus with different replicas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

 Some test cases could not adapt to milvus with different replicas

### Expected Behavior

All the test cases could adapt to milvus with different replicas

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-04-30 17:19] Juneezee opened #16759 "[Enhancement]: Simplify tests using `T.TempDir`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Currently we are using `ioutil.TempDir` and `os.RemoveAll` to create and cleanup temporary directory in tests. We can use the `T.TempDir` function from the `testing` package to create temporary directory. The directory created by `T.TempDir` is automatically removed when the t

[2022-04-30 23:31] #16175 closed

[2022-04-30 23:31] #15379 closed

[2022-04-30 23:31] #16173 closed

[2022-05-01 01:35] xiaofan-luan commented on #16330
could we close this issue?

[2022-05-01 01:36] xiaofan-luan commented on #16759
@Juneezee good suggestion! would you like to work on it?

[2022-05-01 01:36] xiaofan-luan commented on #16759
/assign @Juneezee

[2022-05-01 06:56] Writtic commented on #15372
/reopen

[2022-05-01 06:56] Writtic commented on #6162
/reopen

[2022-05-01 11:19] progzgq commented on #12132
@wuweicheng39 老哥 这个问题最后解决了吗？我好像碰到一样的问题

[2022-05-01 14:31] #15402 closed

[2022-05-01 14:31] #16193 closed

[2022-05-02 13:50] pwichmann commented on #1768
Just to refer to this topic again as another user of Milvus -- two years later than the original post:
Does Milvus offer the feature to cluster returned vectors?

For example, if I run this code:
[code]

It would be amazing if there was an option to have Milvus cluster similar vectors into different groups. In this case, the returned 5000 most similar vectors may be clustered into - let's say - 10

[2022-05-04 01:56] #9672 closed

[2022-05-04 01:56] #10735 closed

[2022-05-04 02:14] RimsC commented on #16742
I have successfully restarted the milvus on the ubuntu20 at the first time.
I have also successfully restarted the milvus ont the centos7.9 with the command "systemctl restart milvus" but not "systemctl start milvus"  after having tried many times  when I uninstalled the milvus, and restarted the centos server.

[2022-05-04 02:14] #16742 closed

[2022-05-04 03:35] #16759 closed

[2022-05-04 04:13] #12682 closed

[2022-05-04 04:13] #15333 closed

[2022-05-04 04:13] #15764 closed

[2022-05-04 11:19] yanliang567 commented on #16281
@WeiDong-Shi I believe the community has made some improvement on this. could you please retry on latest v2.0.2 release?

[2022-05-04 11:20] yanliang567 commented on #16297
@congqixia was this fixed or not?

[2022-05-04 11:23] yanliang567 commented on #15651
lets keep it open for now

[2022-05-04 11:31] yanliang567 commented on #16740
@binbinlv is this because of the updates for username and passwords?

[2022-05-04 12:53] #15953 closed

[2022-05-04 12:53] #15662 closed

[2022-05-04 12:53] #15432 closed

[2022-05-04 12:53] #15524 closed

[2022-05-04 12:53] #15667 closed

[2022-05-04 12:53] #15765 closed

[2022-05-04 12:53] #15771 closed

[2022-05-04 12:53] #15816 closed

[2022-05-04 12:53] #15818 closed

[2022-05-04 12:53] #15819 closed

[2022-05-04 12:53] #15820 closed

[2022-05-04 12:53] #15822 closed

[2022-05-04 12:53] #15906 closed

[2022-05-05 01:49] #16730 closed

[2022-05-05 02:10] #15656 closed

[2022-05-05 02:11] #15278 closed

[2022-05-05 02:11] #16716 closed

[2022-05-05 02:12] #16738 closed

[2022-05-05 02:12] binbinlv commented on #13045
Keep open for verification. (this did not merge any fix, and will verify whether it has been reproduced recently.

[2022-05-05 02:14] binbinlv commented on #15627
Keep open for verification if it has been reproduced recently.

[2022-05-05 02:19] binbinlv commented on #16740
@zhuwenxing @yanliang567
Yes, this error is reported by the updates for username and passwords.

And should disconnect first after reconnect.

[2022-05-05 02:35] yanliang567 commented on #16682
verified fixed on master-20220428-21b59732

[2022-05-05 02:35] #16682 closed

[2022-05-05 02:35] #16617 closed

[2022-05-05 02:45] zhuwenxing opened #16769 "[Bug]: Deploy test and chaos test all failed at search step"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

It looks like after chaos, reinstall or upgrade, search will raise error with different error messages and querynode will exit.

[code]

### Expected Behavior

all work well

### Steps To Reproduce

[code]

### Milvus Log

[code]

### Anything else?

_No response_

[2022-05-05 02:47] xiaofan-luan commented on #16769
/assign @bigsheeper

[2022-05-05 02:47] xiaofan-luan commented on #16769
please help on investigation~ thanks!

[2022-05-05 02:53] congqixia commented on #15642
/reopen

[2022-05-05 02:55] zhuwenxing commented on #16769
The error log is in `k8s_logs/chaos-test/pod_log_previous` dir

[2022-05-05 03:04] binbinlv commented on #16740
[code]

[2022-05-05 06:10] XuanYang-cn commented on #15653
/reopen

let's keep tracking this issue

[2022-05-05 06:12] XuanYang-cn commented on #16740
Working on it now

[2022-05-05 06:13] JackLCL opened #16771 "[Bug]: The error log reported by indexcoord is inaccurate."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The disconnection between the indexnode and etcd causes the index to fail to be created normally, but the indexcoord reports that the memory of the indexnode is insufficient.

### Expected Behavior

Indexcoord can report the error that the indexnode is disconnected fr

[2022-05-05 06:19] xiaocai2333 commented on #16752
/close

[2022-05-05 06:19] #16752 closed

[2022-05-05 06:31] czs007 opened #16772 "[Enhancement]: Make segmentMaxLifetime configurable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

A growing segment will switch to sealed state when it reaches a predefined size (set to 512MB by default) or if a period of time has passed without an insertion (e.g., 24 hours).

Currently, the period is hard coded as following:
[code]

I'd like to make this time period confi

[2022-05-05 06:42] jingkl opened #16773 "[Enhancement]: Modify the common func with string field"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add string field to all public methods

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-05-05 06:58] zhuwenxing opened #16775 "[Bug]: Search failed when running `test_e2e.py`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Each time the code executes to the search step, querynode restarts, causing the search to fail. querynode's log is below.
The strange thing is that there is no release operation performed in the code, but the error is reported in the log.
[code]

### Expected Behavior

[2022-05-05 07:29] XuanYang-cn commented on #16740
/reopen
/assign @zhuwenxing
/unassign

[2022-05-05 07:34] zhuwenxing commented on #16769
For the GitHub action of chaos test, basically, all the jobs fail on the step `Run e2e test after chaos`, but from another issue,https://github.com/milvus-io/milvus/issues/16775,  this test case fails even without injecting faults, and from the failure phenomenon, it seems to be the same.

[2022-05-05 07:35] XuanYang-cn commented on #16740
pymilvus == 2.1.0.dev40

[2022-05-05 07:56] zhuwenxing commented on #16775
more log info
[test-e2e-05-05-14-51.zip](https://github.com/milvus-io/milvus/files/8629499/test-e2e-05-05-14-51.zip)

in the log file `pod_log_previous/milvus-chaos-querynode-96fbf4fdf-g2ncd.log`
[code]

[2022-05-05 08:06] yanliang567 opened #16779 "[Enhancement]: Add tests for new feature bulk load"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add some tests for new feature bulk load.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-05-05 08:08] wangting0128 opened #16781 "[Bug]: [benchmark][standalone] Milvus restart and raise error: Milvus Proxy is not ready yet. please wait"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task: benchmark-backup-fndkx

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-single-32c128m

client pod: benchmark-backup-fndkx-1459905251

client log file: locust_report_2022-04-29_703.log

client logs:
[code]

server:
[c

[2022-05-05 08:11] yanliang567 commented on #16775
@sunby could you please take a look at this issue?
/assign @sunby
/unassign

[2022-05-05 08:12] yanliang567 commented on #16781
@congqixia  could you please help on this issue?

/assign @congqixia
/unassign

[2022-05-05 08:23] XuanYang-cn commented on #15653
https://github.com/milvus-io/pymilvus/pull/975

[2022-05-05 08:38] XuanYang-cn commented on #15653
cpp， java are done

[2022-05-05 08:38] soothing-rain commented on #16481
Hey you probably wanna take a look at this: https://github.com/milvus-io/milvus/discussions/16680, which might be the root cause.

[2022-05-05 08:39] XuanYang-cn commented on #15653
https://github.com/milvus-io/milvus-sdk-node/pull/89

[2022-05-05 08:42] soothing-rain commented on #16451
/assign

[2022-05-05 08:44] XuanYang-cn commented on #15653
All done, closing this issue

[2022-05-05 08:44] #15653 closed

[2022-05-05 08:46] soothing-rain commented on #16437
Hey as mentioned above, we are targeting to release this feature in Milvus 2.2.

[2022-05-05 08:48] wangting0128 opened #16784 "[Bug]: [benchmark][cluster] queryNode restart and search raise error: fail to search on all shard leaders, err=fail to Search, QueryNode ID=4, reason=collection hasn't been loaded or has been released"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task: benchmark-backup-c4mkb

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-cluster-8c64m

client pod: benchmark-backup-c4mkb-1873108617

client log file: locust_report_2022-04-29_518.log

client logs:
[code]

server:
[co

[2022-05-05 08:50] soothing-rain commented on #16411
Hey @jiaminger sometimes Milvus needs some time to fully start up, especially when there are a lot of data & services states to process.

The proxy service should usually become healthy after a while, if not, feel free to send us logs so that we can further investigate!

[2022-05-05 08:51] ThreadDao opened #16786 "[Bug]: Failed to search reason cannot find segment in QueryNode err %!w(<nil>) after scaling in querynode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search failed with `<MilvusException: (code=1, message=fail to search on all shard leaders, err=fail to Search, QueryNode ID=23, reason=Search 29 failed, reason cannot find segment 432993395697778690 in QueryNode err %!w(<nil>))> ` during and after scaing in querynode

[2022-05-05 08:57] wangting0128 commented on #16784
argo task: benchmark-backup-7x9l9

test yaml:
client-configmap:client-random-locust-search-filter-100m-ddl-r8-w2-replica2
server-configmap:server-cluster-8c64m-querynode2

client pod: benchmark-backup-7x9l9-2693179851

client log file: locust_report_2022-05-04_19.log

client logs:
[code]

server:
[code]

[2022-05-05 08:57] congqixia opened #16787 "[Bug]: QueryShard Replica ID is always zero from watchChannel tasks"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Check the log and code logic, the replica id is always zero in query shard.

### Expected Behavior

Replica id shall be the correct value assigned in querycoord.

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-05-05 08:58] yanliang567 commented on #16784
I think we shall know why querynode restart first?
/assgin @congqixia  could you please help on this issue?

/assign @congqixia
/unassign

[2022-05-05 09:02] bigsheeper commented on #16775
/assign

[2022-05-05 09:03] bigsheeper commented on #16775
may same as #16769

[2022-05-05 09:03] ThreadDao commented on #16786
If I do nothing while scaling, I can successfully search after scaling

[2022-05-05 09:07] wangting0128 commented on #16784
argo task:  benchmark-backup-m626x

test yaml:
client-configmap:client-random-locust-search-84h-1b
server-configmap:server-cluster-8c64m-datanode2-indexnode4-querynode6-kafka

client pod: benchmark-backup-m626x-3300477010

client log file: locust_report_2022-05-04_974.log

client logs:
[code]

server:
[code]

[2022-05-05 09:10] yah01 commented on #16786
The reason should be the same as #16644, working on it
#16770 and #16785 will fix this

[2022-05-05 09:25] ThreadDao opened #16789 "[Bug]: [benchmark][cluster] grpc RpcError: [load_collection], <_MultiThreadedRendezvou s: StatusCode.DEADLINE_EXCEEDED, Deadline Exceeded>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task: benchmark-backup-jn2b5 (https://argo-test.milvus.io/workflows/qa/benchmark-backup-jn2b5?tab=workflow)

test yaml:
server-configmap: server-cluster-8c16m-querynode-2
client-configmap: testing-load-release

client pod: benchmark-backup-jn2b5-4256292640
client

[2022-05-05 10:11] #16787 closed

[2022-05-05 10:13] jingkl opened #16791 "[Bug]: Schema returns inconsistency resulting in error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

pr : #16776
jenkins: https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-16776/4/pipeline/

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No res

[2022-05-05 10:15] #16756 closed

[2022-05-05 10:16] jingkl commented on #16791
The reason is that when sdk did not specify max_length_per_row, the schema returned by the server added the default value of 65535 to max_length_per_row, so the schema of this case does not match

[2022-05-05 10:21] xiaofan-luan commented on #16411
looks like proxy is crashed, we may need more information about why proxy is crashed

[2022-05-05 10:24] xiaofan-luan commented on #16437
We call this functionality as range search, @cydrain is working on the issue and would be ready on 2.2

[2022-05-05 10:26] xiaofan-luan commented on #16481
Hi @susoooon , how many partitions do you have?

[2022-05-05 11:49] firedent commented on #16437
That's great.
Actually, I just wonder how the issue creator gets the term 'search_by_distance'?

[2022-05-05 12:01] xiaofan-luan commented on #16106
@haorenfsa any progress on this one?

[2022-05-05 12:05] xiaofan-luan commented on #16536
Emmm, feel free to send pull request, the current error message is confusing~

[2022-05-05 12:08] xiaofan-luan commented on #16771
where did you see memory efficient log?
From the error log:
Index Node disconnected from etcd, process will exit
It definitely point to an etcd issue~

[2022-05-05 12:12] xiaofan-luan opened #16792 "[Bug]: DATA race on querynode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

==================
WARNING: DATA RACE
Write at 0x00c00205a5e8 by goroutine 136:
  github.com/milvus-io/milvus/internal/querynode.(*Collection).setLoadType()
      /go/src/github.com/milvus-io/milvus/internal/querynode/collection.go:286 +0x58d7
  github.com/milvus-io/m

[2022-05-05 12:37] binbinlv opened #16793 "[Bug]: [nightly] load failed reporting "collection *** has not been loaded to memory or load failed""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

load failed reporting "collection  ***  has not been loaded to memory or load failed"

### Expected Behavior

load successfully

### Steps To Reproduce

nightly:
https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-nightly-ci/branches/ma

[2022-05-05 12:43] xiaocai2333 commented on #16265
![image](https://user-images.githubusercontent.com/46207236/166924475-4e6b9327-7dda-4e9a-a78b-c86fedf233ee.png)

At first I thought that the segment was compacted, which caused QueryCoord not to get the actual index file path,
After careful analysis, there may be reasons for:
1. etcd is not serviceable, load failed.
2. marshal failed (exclude, the content written to etcd is marshalled).
3. task ha

[2022-05-05 12:49] xiaocai2333 commented on #16265
Maybe it should return the error here.

[2022-05-05 12:53] JackLCL commented on #16771
[2022/05/01 21:29:13.243 +08:00] [ERROR] [node_manager.go:121] ["No IndexNode available"] ["data size"=2397014016] ["IndexNode must have memory size"=14382084096] [stack="github.com/milvus-io/milvus/internal/indexcoord.(*NodeManager).PeekClient\n\t/go/src/github.com/milvus-io/milvus/internal/indexcoord/node_manager.go:121\ngithub.com/milvus-io/milvus/internal/indexcoord.(*IndexCoord).assignTaskLoo

[2022-05-05 13:08] jingkl commented on #16701
milvus : master-20220505-20936f78
pymilvus:2.1.0.dev39
It will still report the above error

[2022-05-05 13:51] yanliang567 commented on #16793
@binbinlv any special node replicas or memory replicas configured here ?

[2022-05-05 14:24] yanliang567 commented on #16793
/assign @sunby
/unassign

[2022-05-05 15:39] soothing-rain commented on #16493
Hey @hiwwx sorry I missed this.

@LoveEachDay could take a look at this?

[2022-05-05 17:43] raynor08 commented on #2771
Hi, any update or progress on this?

[2022-05-05 19:58] #16176 closed

[2022-05-05 19:58] #4430 closed

[2022-05-05 19:58] #16272 closed

[2022-05-06 01:58] xiaofan-luan commented on #2771
l;

[2022-05-06 02:10] haorenfsa commented on #16106
It's solved by config bucket endpoint to `s3.amazonaws.com`

[2022-05-06 02:10] #16106 closed

[2022-05-06 02:38] jingkl commented on #16678
milvus : master-20220505-20936f78
pymilvus:2.1.0.dev39
Verified that the delete expression is fine with “in”

[2022-05-06 02:38] #16678 closed

[2022-05-06 02:53] ThreadDao commented on #16784
I also encountered this problem.
Image: `master-20220505-7cc995d0`

Code:
[code]

Two querynodes restart and search failed
[code]

Querynode previous log:
[querynode-r.log](https://github.com/milvus-io/milvus/files/8637261/querynode-r.log)
[querynode-z.log](https://github.com/milvus-io/milvus/files/8637262/querynode-z.log)

[2022-05-06 03:07] wangting0128 commented on #16784
argo task: benchmark-backup-ng8d5

test yaml:
client-configmap:client-random-locust-search-filter-100m-ddl-r8-w2-replica2
server-configmap:server-cluster-8c64m-querynode2

client pod: benchmark-backup-ng8d5-3049697986

client log file: locust_report_2022-05-05_444.log

client logs:
[code]

server:
[code]

[2022-05-06 03:24] xiaofan-luan opened #16796 "[Feature]: Flow Graph Has to handle error in a graceful way"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

So far flow graph didn't handle error, which doesn't make sense and has the risk to lost data.

I've seen many stage where they ignore error by only logging it and bypassing it, but I'm really uncomfortable about it and it might causing data loss.

[2022-05-06 03:25] xiaofan-luan commented on #16796
anyone interested in flow graph handling please assign yourself

[2022-05-06 03:32] ThreadDao commented on #16784
May same as #16775

[2022-05-06 03:33] bigsheeper commented on #16796
/assign

[2022-05-06 03:44] fernandojvdasilva commented on #15882
I think I'm having the same issue. but with the cluster version. In my case, it seems that the issue appeared when I had to restart the containers because I needed to resize my partition (running on AWS btw), because I inserted too many vectors. I could insert about 25 million vectors.

These are the steps and logs that I got:

1 - I restarted all the containers using docker-compose restart
2 - tr

[2022-05-06 04:15] XuanYang-cn commented on #16740
/assign
/unassign @zhuwenxing

dev40 is reverted, the test case and pymilvus are too connected with each other.

[2022-05-06 05:35] xiaofan-luan commented on #15882
I have a few guess:
1) for log 14, ignore it, simply because you don't have only nodes, I will modify the log level.
2) Expect log 14, any other error logs?
3) For log 8, it means all querynodes are dead, might be because for pulsar failed to close consumer and cause querynode crash.

So how many querynodes alive right now? If it is possible please upload full querynode logs, thanks @fernandojvdas

[2022-05-06 05:36] xiaofan-luan commented on #15882
hi @yanliang567, meanwhile can we try to reproduce on our own environment? A lot of user hit the same issue so there should be way to reproduce it

[2022-05-06 06:16] susoooon commented on #16481
more than 5000.Now I solve the problem by param "expr"  . It is ok,though not beautiful enough.

[2022-05-06 06:41] congqixia commented on #16789
@ThreadDao according to the log, there was a release request before the first load operation is done. May I ask what is the expect behavior of this situation?

[2022-05-06 07:25] #16741 closed

[2022-05-06 07:40] #16079 closed

[2022-05-06 08:22] xiaofan-luan opened #16802 "[Bug]: insert_record_ in growing segment preallocate too much memory"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

In Growing segment, we preallocate segment chunk segcore_config.get_chunk_rows memory for each segment, by default the each segment is allocating by a large memory size(dim * 32768 * sizeof(int/float)).

We preallocate because the small index mechanism, for each segme

[2022-05-06 08:23] xiaofan-luan commented on #16802
/assign @czs007

[2022-05-06 08:30] Jacobh2 opened #16804 "[Bug]: Milvus stops responding after a couple of hours of light load"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I've loaded approx 1.4M embeddings of size 512 into a new collection and created a `RHNSW_PQ` index. This is then loaded on to 4 query-nodes and I start to loop: For each embedding, search for 100 candidates of most similar.

This seems to work OK up until after a few

[2022-05-06 08:34] yhmo commented on #16802
relative discussion：https://github.com/milvus-io/milvus/discussions/16680

[2022-05-06 08:38] xiaofan-luan commented on #16804
@Jacobh2 not sure the reason but seems that one of  the search channel consumer is failed to unregister.
To solve this issue you can use pulsarctl to clear-backlog and unsubscribe the unknown consumer.
It would be great if you can offer logs about querycoord and querynode so we can investigate why the search channel is not unregistered as expected.

[2022-05-06 08:39] xiaofan-luan commented on #16804
as the log, the topic you want to clean is persistent://public/default/milvus-search-0.
We have remove the persistent://public/default/milvus-search-0 in Milvus 2.1 so it won't happen on next big release

[2022-05-06 09:01] Jfxhuangdao opened #16805 "[Bug]: search data ,Memory error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

6000W图片，512特征度，查询没问题。
1024特征图的查询异常。

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

[code]

### Anything else?

_No response_

[2022-05-06 09:01] Jacobh2 commented on #16804
Thank you @xiaofan-luan for the fast replies! Much apprechiated!

Of course, let me know if there is anything more I can provide to help investigate this!

[querycoord.log](https://github.com/milvus-io/milvus/files/8638835/querycoord.log)
[querynode.log](https://github.com/milvus-io/milvus/files/8638843/querynode.log)

I have for simplicity now scaled down the query-nodes to only 1 replica in hope

[2022-05-06 09:13] yanliang567 commented on #16805
@sunby could you please help on this issue?

/assign @sunby
/unassign

[2022-05-06 09:20] binbinlv opened #16806 "[Bug]: [nightly] Test cases failed for querynode core dumping"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Test case failed  for querynode core dumping [At last, all the tests are killed for the nightly CI time limit]

### Expected Behavior

_No response_

### Steps To Reproduce

Nightly:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detai

[2022-05-06 09:22] xiaocai2333 commented on #16623
The design is update. @xiaofan-luan @congqixia

CreateIndex
1. RootCoord gets list of flushed segments, filters out the segments that need to be indexed, and then obtains segmentInfo and sends it to IndexCoord . After successfully receiving the resp of IndexCoord, remove the lock.
  1.1 When RootCoord gets flushed segments, DataCoord adds locks on the segments, the lock path is `/root/segmentRefer

[2022-05-06 09:22] binbinlv commented on #16806
Similar issue in the following nightly: [in cluster mode, both in pulsar cluster and kafka cluster mode]

1. https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/511/pipeline/157

2. https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/510/pipeline/145

3. https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins

[2022-05-06 09:23] yongpengli opened #16807 "[Bug]:Home page example- In the sample code, there is a class name incorrectly used"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]
address: https://milvus.io/cn/docs/v2.0.x/check_partition.md

### Current Behavior

// Class name error in if statement
R<Boolean> respHasPartition = milvusClient.hasPartition(
        HasPartitionParam.newBuilder()
                .withCollectionName("book")
                .withPartitionN

[2022-05-06 09:25] LoveEachDay commented on #16804
Please login the pulsar broker node and run the following command:
[code]
And upload the results here.

[2022-05-06 09:28] Jacobh2 commented on #16804
@LoveEachDay This is the output:
[topic_stats.log](https://github.com/milvus-io/milvus/files/8638995/topic_stats.log)

[2022-05-06 09:31] jaime0815 commented on #16806
This issue can be reproduced within recently nightly test

[2022-05-06 09:35] LoveEachDay commented on #16804
Seems like when the scale down the query node, it doesn't unscribe this topic. You can use `bin/pulsar-admin topics clear-backlog` to clear the subscription backlog for topic: `public/default/milvus-search-0`.

[2022-05-06 09:42] Jacobh2 commented on #16804
I'm having trouble understanding the `pulsar-admin` cli tool, would you be able to provide a complete command to run?

[2022-05-06 09:45] xiaofan-luan commented on #16804
I will investigate on why this is happening~

[2022-05-06 09:45] jingkl opened #16808 "[Bug]: construct_from_dataframe insert data failed"type param(max_length_per_row) should be specified for varChar""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

testcase：

[code]

jenkins：https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-16803/4/pipeline/108/

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No r

[2022-05-06 09:46] binbinlv opened #16809 "[Bug]: [nightly] Test pipeline hangs for cluster mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Test pipeline hangs for cluster mode

### Expected Behavior

Tests executed successfully

### Steps To Reproduce

[code]

### Milvus Log

[code]
[code]

[2022-05-06 09:46] binbinlv commented on #16809
Similar issue in the following nightly: [in cluster mode, both in pulsar cluster and kafka cluster mode]

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/511/pipeline/157

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/510/pipeline/145

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-n

[2022-05-06 09:46] binbinlv commented on #16809
Block nightly CI tests for cluster mode, so set it as critical urgent.

[2022-05-06 09:49] Jacobh2 commented on #16804
I've now been able to run `clear-backlog` on all 4 subscriptions found under the topic `persistent://public/default/milvus-search-0`:

[code]

Then I deleted the `querycoord` pod so that it restarts and now it starts up with the following logs
[code]

But it seems to start up "ok" anyways, k8s reports it as ready!

[2022-05-06 09:49] LoveEachDay commented on #16804
You can try to use this command:
[code]
You can find the subscription name in the `topics stats` output, such as `milvus-queryNode-432927636982333441-11`

[2022-05-06 09:55] jingkl commented on #16808
pr: #16803

[2022-05-06 09:57] xige-16 commented on #16808
The reason is that the default parameter max_length_per_row is not added to the VARCHAR field when auto id == true.

[2022-05-06 10:06] xiaofan-luan commented on #16481
usually expr helps on the meta filtering case, I've opened a issue to solve memory allocation problem when there is many parititions

[2022-05-06 10:10] binbinlv opened #16811 "[Bug]: [nightly] Milvus is panic showing fatal segment error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus is panic showing fatal segment error

### Expected Behavior

No panic

### Steps To Reproduce

[code]

### Milvus Log

[code]

single panic info in one log file
[code]
[code]

[2022-05-06 11:12] bigsheeper commented on #16775
This issue is caused by appending wrong topk result when reduce search result. And this only happens when topK and nq are very small.

[2022-05-06 11:12] bigsheeper commented on #16775
would fixed by #16815

[2022-05-06 12:09] binbinlv opened #16816 "[Bug]: [nightly] Search failed with 0 query number returned"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search failed with 0 queries returned:
[2022-05-05T20:17:27.095Z] [2022-05-05 19:16:40 - ERROR - ci_test]: search_results_check: Numbers of query searched (0) is not equal with expected (2) (func_check.py:209)

### Expected Behavior

Search successfully returned with

[2022-05-06 12:18] binbinlv commented on #16793
Reproduced frequently, so set it as urgent.

[2022-05-06 12:38] xiaofan-luan commented on #16811
/assign @xige-16 , please help on this one~ thanks

[2022-05-06 14:50] xiaofan-luan opened #16819 "[Bug]: Flush stuck"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

{"level":"INFO","time":"2022/05/06 13:56:42.170 +00:00","caller":"flow_graph_dd_node.go:136","message":"Filtering Insert Messages","Message endts":433019725736312834,"FilterThreshold":433021341487333377}
{"level":"INFO","time":"2022/05/06 13:56:42.171 +00:00","caller"

[2022-05-06 14:50] xiaofan-luan commented on #16819
/assign @sunby

[2022-05-06 14:50] xiaofan-luan commented on #16819
@sunby please help on investigation

[2022-05-06 15:00] xiaofan-luan commented on #16796
mark this issue as urgent since we may lose data.
for example:

if forward delete msg failed,  it won't retry but the failed message is simply ignored

err := ddn.forwardDeleteMsg(forwardMsgs, msMsg.TimestampMin(), msMsg.TimestampMax())
if err != nil {
// TODO: proper deal with error
log.Warn("DDNode forward delete msg failed",
	zap.String("vChannelName", ddn.vchannelName),
	zap.Error(err))
}

[2022-05-06 15:35] xiaofan-luan opened #16821 "[Bug]: Segment with deleted data can not be loaded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

From the log, we are trying to do segmentLoadDeletedRecord on a growing segment but it should only happen on a sealed one, need to investigate why this is happening.

### Expected Behavior

load should successful with deleted data.

### Steps To Reproduce

_No respons

[2022-05-06 15:35] xiaofan-luan commented on #16821
/assign @soothing-rain

[2022-05-06 15:40] #16749 closed

[2022-05-06 15:41] xiaofan-luan commented on #16606
should be fixed on 2.1 because we removed the dependency of rocksmq on read path

[2022-05-06 15:42] xiaofan-luan commented on #16660
/asssign @wayblink

[2022-05-06 15:42] xiaofan-luan commented on #16683
@wayblink hi there, any progress on this one?

[2022-05-07 01:43] zhuwenxing commented on #16775
verified and passed in version `master-20220506-67ce206c`

[2022-05-07 01:43] #16775 closed

[2022-05-07 01:52] zhuwenxing commented on #16769
verified and passed in version master-20220506-67ce206c

[2022-05-07 01:52] #16769 closed

[2022-05-07 01:53] yanliang567 commented on #16807
@yhmo could you please help to fix this code demo, or we need to ask doc team for help?

/assign @yhmo
/unassign

[2022-05-07 01:56] yanliang567 commented on #16816
utility.get_segment_info(collection_name) returns [[[]], when this issue reproduces.

@congqixia  could you please help to take a look?
/assign @congqixia
/unassign

[2022-05-07 01:56] yanliang567 commented on #16809
/assign @congqixia
/unassign

[2022-05-07 02:01] yanliang567 commented on #16806
this issue could be the root cause of many issue, such as #16816.
@xiaofan-luan could you find someone help on this issue with top priority?

/assign @xiaofan-luan
/unassign

[2022-05-07 02:06] yanliang567 commented on #16804
/assign @xiaofan-luan is investigating the root cause.
/unassign

[2022-05-07 02:13] progzgq commented on #10079
same issue:
<img width="1196" alt="" src="https://user-images.githubusercontent.com/1321053/167233838-6ee5fb25-fee3-4e49-bea5-9bc9df39a512.png">

[2022-05-07 02:16] yanliang567 opened #16822 "[Bug]: [bulk load] collection.num_entities hang after imported 2m data files for 3 times"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

collection.num_entities hang after imported 2m data files for 3 times

### Expected Behavior

it return the num_entities successfully

### Steps To Reproduce

[code]

### Milvus Log

[code]

### Anything else?

As bulk load state was already BulkLoadPersisted, so it i

[2022-05-07 02:17] yanliang567 commented on #16822
/assign @soothing-rain
/unassign

[2022-05-07 02:27] xiaofan-luan commented on #16804
I Got it~

[2022-05-07 02:54] czs007 opened #16823 "[Enhancement]: Combine multiple shard query requests to the same QueryNode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

QueryNode may be the leader of multiple Shards of Collection.
Therefore, when the proxy forwards the Search request, only one grpc request is required for the QueryNode that holds multiple shards of the collection.

### Why is this needed?

Reduce extra grpc transfers.

### An

[2022-05-07 02:59] ThreadDao commented on #16786
Fixed `master-20220506-67ce206c`

[2022-05-07 02:59] #16786 closed

[2022-05-07 03:20] soothing-rain commented on #16822
Hey there's an old bug with flush and I fixed it yesterday. Can you try again with the latest master branch?

[2022-05-07 03:23] ThreadDao opened #16824 "[Bug]: Load collection rpc timeout `failed to execute task: call query coordinator LoadCollection: context canceled`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Deploy milvus cluster with 2 queryNodes
2. Run the scale replica case 3 times: first scale out qn from 2 to 3; second scale in qn from 3 back to 2; the third time, load collection rpc timeout before scaling
[code]

**scale replica case:**
[code]
Server logs:
[mic_l

[2022-05-07 03:56] xige-16 commented on #16811
This issue has not been reproduced locally, I will continue to investigate it.

[2022-05-07 04:07] xige-16 commented on #16811
pr#16815 may has fixed the issue.

[2022-05-07 04:10] xige-16 commented on #16811
If the real topk statistics are not accurate when reducing, it will cause panic at https://github.com/milvus-io/milvus/blob/92b6293be4c0091cd2a3fbaf900f1212c9425ebe/internal/core/src/segcore/reduce_c.cpp#L180

[2022-05-07 04:12] xige-16 commented on #16791
/unassign
/assign @jingkl  please check it

[2022-05-07 04:13] xige-16 commented on #16791
/assign @jingkl

[2022-05-07 06:08] congqixia commented on #16821
Growing Segment with valid checkpoint may have delta log. Maybe the restriction shall be removed. @xiaofan-luan @soothing-rain

[2022-05-07 06:50] yanliang567 commented on #16824
/assign @sunby
/unassign

[2022-05-07 07:18] ThreadDao commented on #16789
Why not just keep the status quo? A `release` request came before the `load` was done. The `release` request timeout and the collection is finally loaded. But can we modify the `release` exception message in this scenario to distinguish it from timeouts caused by internal server errors?

[2022-05-07 07:48] jingkl commented on #16699
pymilvus:2.1.0.dev47
milvus:[master-20220507-92b6293b](https://hub.docker.com/layers/milvus-dev/milvusdb/milvus-dev/master-20220507-92b6293b/images/sha256-7551a4bf642725f2653cf7c6841c24909f6a0036da04e8487f7bb0f1e51a9b21?context=explore)
test log:
[code]

[2022-05-07 08:01] jingkl commented on #16699
assign @xige-16 @DragonDriver

[2022-05-07 08:02] congqixia opened #16830 "[Bug]: QueryNode ShardCluster losts reference count track with load balance segment change"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When `SegmentsChangeInfo` belongs to a load balance task. `ShardCluster` will mix new online segment and existing segment(since the segment ids will be the same in load balance case). So the concurrent control will break in this case.

### Expected Behavior

Shard clu

[2022-05-07 08:04] DragonDriver commented on #15705
I'm so sorry for the late reply. It seems that the log of indexcoord is not complete, I can't see any index-related logs in indexcoord. Apologize again that I didn't focus on this issue. @JackLCL

[2022-05-07 08:07] DragonDriver commented on #15705
[code]

[2022-05-07 08:09] #16610 closed

[2022-05-07 08:09] #16658 closed

[2022-05-07 08:38] ThreadDao opened #16832 "[Bug]: Create index failed with exception `DescribeSegments failed: cannot find index, id =xx` after shrinking indexnode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Deploy milvus cluster with 2 indexnodes
2. Create collection and insert data
3. Create index successfully and drop index
4. Scale in indexnode from 2 to 1
5. Create index again and failed
[code]

**Server logs:**
[mic_logs.tar.gz](https://github.com/milvus-io/milvu

[2022-05-07 08:49] yanliang567 commented on #16832
@bigsheeper could you please help on this issue?

/assign @bigsheeper
/unassign

[2022-05-07 08:57] xige-16 commented on #16832
I'm looking into this issue /assign
/unassign @bigsheeper

[2022-05-07 08:57] xige-16 commented on #16832
/assign

[2022-05-07 08:59] xige-16 commented on #16832
same with #16699

[2022-05-07 09:06] yah01 commented on #16793
/assign @yah01

[2022-05-07 09:11] yhmo commented on #16722
Fixed by #16760

[2022-05-07 09:38] soothing-rain commented on #16493
/unassign
/assign @LoveEachDay

[2022-05-07 09:39] yhmo commented on #16698
Fixed by #16760

[2022-05-07 09:40] yhmo commented on #16656
Fixed by #16690

[2022-05-07 09:40] zhuwenxing commented on #16644
It works well in version `master-20220506-67ce206c`. searching all success during all stages.

But there will still be some offline node id in the group nodes.

[2022-05-07 09:54] binbinlv commented on #16569
Fixed and closed.

[2022-05-07 09:54] #16569 closed

[2022-05-07 10:21] #16773 closed

[2022-05-07 10:22] jingkl opened #16833 "[Enhancement]: Add all testcase with string"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

add string testcase with all test file

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-05-07 10:25] #16830 closed

[2022-05-07 10:55] DoliteMatheo opened #16835 "[Bug]: collection.search() timeout parameter not working"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I set timeout parameter in collection.search() function, it was not working as expected.
I wanted to catch the timeout error whenever the Milvus service becomes unavailable, but when I stopped the Milvus service (docker stop XXX) and executed the collection.searc

[2022-05-07 11:22] zhuwenxing commented on #16627
It still have issue in version `master-20220505-333b439a`
[code]

client log:
[2022-05-07-19-10-04.zip](https://github.com/milvus-io/milvus/files/8645005/2022-05-07-19-10-04.zip)

server log:
[test-multi-replicas-05-07-19-19.zip](https://github.com/milvus-io/milvus/files/8645008/test-multi-replicas-05-07-19-19.zip)

[2022-05-07 13:00] LoveEachDay commented on #16493
@hiwwx Just as you said above, proxy will keep trying to connect the old coord ip. When you trigger a new request, it will reset the connection, try to fetch coord session from etcd, and connect to new coord ip.

I've make an experiment like this:
1> create a milvus cluster with v2.0.2 image
2> wait for all components ready, and run `hello_miluvs.py`
3> manually delete the querycoord pod, and wait

[2022-05-07 13:00] LoveEachDay commented on #16493
/unassign
/assign @xiaofan-luan @czs007

[2022-05-07 13:20] yanliang567 commented on #16784
it still reproduces even after #16775 fixed.
on master-20220507-6b2d3c3e, it seems that querynode loaded nothing although collection.load() returns success:
[search.fail.log](https://github.com/milvus-io/milvus/files/8645231/search.fail.log)

[code]

[2022-05-07 13:53] xige-16 commented on #16832
The reason is that the old index of some segments was not deleted when the index was dropped. When the index was created for the second time, the old index id was used to query the progress of segment build index, so the error "index id not found" was reported.

[2022-05-07 13:54] xige-16 commented on #16699
The reason is that the old index of some segments was not deleted when the index was dropped. When the index was created for the second time, the old index id was used to query the progress of segment build index, so the error "index id not found" was reported.

[2022-05-07 14:04] xige-16 commented on #16701
I used the following case to test on the master branch, it can pass.
[code]

[2022-05-07 14:08] xige-16 commented on #16701
I changed the index parameter, it can't pass.
[code]

[2022-05-07 14:08] xige-16 commented on #16701
I'll looking into the issue.

[2022-05-08 08:45] xiaofan-luan commented on #16662
I thinks it's simply the js floating point issuel.
If you want to check if java SDK returned the correct floating point you can use java to verify it

[2022-05-08 08:45] xiaofan-luan commented on #16662
/assign @liangyihan

[2022-05-08 08:47] xiaofan-luan commented on #16661
@congqixia any progress on it ? this is a user blocking issue in production~

[2022-05-08 08:49] xiaofan-luan commented on #16835
/assign @XuanYang-cn any suggestion on the timeout issue?

[2022-05-08 08:49] xiaofan-luan commented on #16642
any progress? @xige-16

[2022-05-08 08:53] xiaofan-luan commented on #16638
reloadFromKV: taskStateInfo and triggerTaskInfo are inconsistent

[2022-05-08 08:57] xiaofan-luan commented on #16638
standalone-1.log seems to have cleared infomatiton,

The root cause is SaveBinlogPaths can not work on etcd  with request too large

request is too large","stack":"github.com/milvus-io/milvus/internal/datacoord.(*Server).SaveBinlogPaths\n\t/go/src/github.com/milvus-io/milvus/internal/datacoord/services.go:355\ngithub.com/milvus-io/milvus/internal/distributed/datacoord.(*Server).SaveBinlogPaths\

[2022-05-08 08:57] xiaofan-luan commented on #16638
/assign @sunby

[2022-05-08 08:58] xiaofan-luan commented on #16638
@sunby please help on it, thanks~

[2022-05-08 10:30] xiaofan-luan commented on #16566
/assign

[2022-05-08 10:31] xiaofan-luan commented on #16566
It is due to pulsar failure recovery is slower than milvus.

Let's see if we can import pulsarctl and do something

[2022-05-08 12:35] yanliang567 opened #16838 "[Bug]: Failed to create collections after running a few tests"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When debugging a tests, I can connect to Milvus at the first. After a few times, it suddenly hang at connecting to milvus.

### Expected Behavior

always connect to milvus successfully

### Steps To Reproduce

[code]

### Milvus Log

[code]

### Anything else?

[fail.

[2022-05-08 12:36] yanliang567 commented on #16838
set it top priority as it blocks us testing.

@congqixia  could you please help to take a look?
/assign @congqixia
/unassign

[2022-05-08 15:32] #15407 closed

[2022-05-08 15:32] #16203 closed

[2022-05-08 15:32] #16308 closed

[2022-05-08 15:32] #15607 closed

[2022-05-08 15:32] #16335 closed

[2022-05-09 01:17] ZTurboX opened #16841 "[Bug]: search very slowly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

search bery slowly

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

[code]

### Anything else?

_No response_

[2022-05-09 01:27] yanliang567 commented on #16841
@zhentaoCoding thank you for your issue. We need the following info to help us address the issue:
1. the data size of your collection
2. the search params and search vectors
3. the index type and index params if there exists an index
4. how many seconds did the search response? what is your expectation?
5. the completed milvus logs

/assign @zhentaoCoding
/unassign

[2022-05-09 01:51] zhuwenxing opened #16842 "[Bug]: Load failed after Milvus upgrading"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

collection `task_2_IVF_PQ` load failed, but the previous one `task_2_ANNOY` successed

[code]

### Expected Behavior

works well

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

job: https://github.com/milvus-io/milvus/runs/633670971

[2022-05-09 01:55] yanliang567 commented on #16842
/assign @sunby
/unassign

[2022-05-09 01:58] zhentaoCoding commented on #16841
1. num_entities:47990
2. sear params:{"metric_type": "IP", "params": {"nprobe": 16}},
3. index params:{"index_type": "IVF_SQ8", "metric_type":  "IP", "params": {"nlist": 16384}}
4. search response about 50s
5. logs

[2022/05/09 00:26:11.891 +00:00] [DEBUG] [segment.go:313] ["do search on segment"] [segmentID=433017072412786689] [segmentType=3]
[2022/05/09 00:26:11.891 +00:00] [DEBUG] [segment.go:3

[2022-05-09 02:06] yanliang567 commented on #16841
what is the dim of the vectors? did you customize any configurations when deploying milvus?

[2022-05-09 02:12] zhentaoCoding commented on #16841
vector dim 768
no any configurations when deploying milvus。

few days ago,I deployed miluvs v2.0.0,when docker-compose restart ,search not response.So,I upgrade milvus to v2.0.2

[2022-05-09 02:25] xiaofan-luan commented on #16804
The main reason is we didn't unregister search channel and search channel backlog is full.

In 2.1 we remove the search channel so there should not exist similar issues. I want to fix this issue in 2.0.3 also and this should be released this week

[2022-05-09 02:29] axzs7777 opened #16843 "[Bug]: Import Image into Milvus takes too much storage"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Attu:
![image](https://user-images.githubusercontent.com/18043668/167329684-5bbc009e-30d7-4374-b687-742481550d9c.png)
![image](https://user-images.githubusercontent.com/18043668/167329615-8cb4db32-7476-4445-bade-c37fbdf07273.png)
![image](https://user-images.githubuse

[2022-05-09 02:30] xiaofan-luan commented on #16843
Hi @axzs7777 please translate your issue into English, thanks! because there might be other people who want to help but couldn't understand chinese

[2022-05-09 02:37] xiaofan-luan commented on #16806
should be already fixed by https://github.com/milvus-io/milvus/pull/16815