[2022-02-17 03:40] wangting0128 opened #15609 "[Enhancement]: Add the function of querying the disk space occupied by the current collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add a python interface to query the disk space occupied by the collection, or add results to the existing interface get_collection_stats

### Why is this needed?

Estimated required disk size for data export

### Anything else?

_No response_

[2022-02-17 04:01] #12781 closed

[2022-02-17 05:03] yanliang567 commented on #15608
@jingkl could yuo please help to check this issue?
/assign @jingkl

[2022-02-17 05:03] xiaofan-luan commented on #15609
Actually it should be a more complicated API for further extendibility, such as memory consumption, disk consumption and entity

[2022-02-17 05:04] xiaofan-luan commented on #15604
what kind of format are we plan to support? Json, parquet, xml or ...

[2022-02-17 05:28] jingkl commented on #15608
I tried with the following script and collection.release() did not hang
[code]
- Milvus version: 2.0.0
- Deployment mode(standalone or cluster): standalone
- SDK version(e.g. pymilvus v2.0.0rc2): 2.0.0
- OS(Ubuntu or CentOS): macOS

Are there other operations available?

[2022-02-17 05:37] sugia commented on #15133
Hi, the milvus instance that got this error was deleted. i'll try to reproduce and get the server log for you.
One more observation:
The number i get from collection.num_entities is different from the number i get from collection.query(expr='id >= 0 || id < 0'). Typically the number from collection.num_entities in my collection is about 700k, while the number from collection.query(expr='id >= 0 ||

[2022-02-17 05:39] xiaofan-luan opened #15610 "[Feature]: Deploy milvus cluster offline"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

we've already support to install standalone milvus with yum/apt see https://milvus.io/docs/v2.0.0/install_standalone-aptyum.md

however, for distributed cluster it become even more complicated because user need to config node number and cpu, memor

[2022-02-17 05:41] xiaofan-luan commented on #15608
maybe wait for a few minutes and retry?

[2022-02-17 05:52] soothing-rain commented on #15609
Can we make them all metrics (i.e. are collected by monitoring)?

[2022-02-17 05:53] soothing-rain commented on #15609
Can we make them all metrics (i.e. are collected by monitoring)?

[2022-02-17 06:04] jingkl commented on #15608
I'll try waiting longer before releasing, I've tried 5-10 minute intervals and multiple releases with no problems

[2022-02-17 06:09] yhmo commented on #15604
Basically json/numpy.

[2022-02-17 06:17] LocoRichard commented on #15608
[code]

[2022-02-17 06:24] jingkl commented on #15608
The Milvus service restarted several times and reported the following error，Using `kubectl logs pod name `gives the following result
<img width="1435" alt="截屏2022-02-17 14 20 24" src="https://user-images.githubusercontent.com/34296482/154417433-665b5ae8-02ce-4783-a348-ca90a4813693.png">
[standalone(1).log.zip](https://github.com/milvus-io/milvus/files/8086086/standalone.1.log.zip)

[2022-02-17 06:42] yanliang567 commented on #15608
@xige-16 could you please help on this issue?
/assign @xige-16
/unassign @jingkl

[2022-02-17 07:40] ufuk23 commented on #15536
@xiaofan-luan It seems that the error is about Attu GUI because I try it with python code (pymilvus) on the same collection and don't have any error even 200K ids.

[2022-02-17 07:47] #15594 closed

[2022-02-17 08:57] yah01 opened #15612 "[Enhancement]: Need a method to take out the C pointer from BytesConverter without releasing it"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

A new method to take out the C pointer from BytesConverter without releasing it

### Why is this needed?

According to the discussion in #15544 , we need this method to enable deleting complex C structure.

### Anything else?

_No response_

[2022-02-17 08:58] yah01 commented on #15612
/assign

[2022-02-17 09:05] wolfju opened #15613 "[Bug]: 10 times as long as a single search with 10 concurrent searches for per search cost time"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

10 times as long as a single search with 10 concurrent searches  for per search cost time

### Expected Behavior

Less time consuming when making concurrent requests

### Steps To Reproduce

[code]

### Anything else?

This is the log of my search node under concurren

[2022-02-17 09:42] huaihkiss opened #15615 "collection load fail"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I tried to load data, but there was an error
`Failed to execute task: collection 431247688568406017 has not been loaded to memory or load failed`
I tried to call 'num_entities' function before load the data, but it is repeat call ’flush‘ function
This is a log file
[w

[2022-02-17 10:46] qi49125 opened #15619 "[Bug]: http2Server.HandleStreams failed to receive the preface from client: EOF"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Other services are normal，only the proxy keeps reporting errors.
proxy------log---------------》：
[2022/02/17 10:43:32.550 +00:00] [WARN] [grpclog.go:46] ["[core]grpc: Server.Serve failed to create ServerTransport: connection error: desc = \"transport: http2Server.Hand

[2022-02-17 10:57] cydrain commented on #15574
get coredump traceback:

[code]

[2022-02-17 11:12] yanliang567 commented on #15536
it seems that it only repo once, and it would succeed if try for more times.

[2022-02-17 11:19] xiaofan-luan commented on #15613
how large is the dataset?

[2022-02-17 11:20] xiaofan-luan commented on #15536
/assign @DragonDriver could you please help on this issue?

[2022-02-17 11:22] xiaofan-luan commented on #15613
you can check you cpu see if it is already at very high usage

[2022-02-17 15:55] DrBamba opened #15622 "[Bug]: delete entity does not work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I delete an entity using the python SDK, it doesn't show an error but it does not delete the entity. Even if I wait for a couple of minutes or using strong consistency.
However if I am using Attu and deleting the entity, it is deleted immediately

### Expected Be

[2022-02-18 01:08] yanliang567 commented on #15536
/assign @DragonDriver

[2022-02-18 01:23] yanliang567 commented on #15622
@jingkl could you please help to reproduce this issue? I believe there are some tests for this scenarios.
/assign @jingkl
/unassign

[2022-02-18 01:31] yanliang567 commented on #15613
@wolfju besides, one more question here: do you mean 10 multi-threads searching for 2000 times searching for each thread? did you use multi-threads or multi-processes?
/assign @wolfju
/unassign

[2022-02-18 02:01] qi49125 opened #15623 "[Bug]: The cluster cannot release the loaded collection or query"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

200 million data records and two sets are imported to the 2.0 cluster. After the first set is loaded, the cluster is normal. After the second set is loaded due to insufficient memory, the querynode is also restarted. As a result, the cluster is abnormal. During the re

[2022-02-18 02:01] qi49125 commented on #15623
querycoord------------->
[2022/02/18 01:57:14.208 +00:00] [WARN] [query_coord.go:518] ["loadBalanceSegmentLoop: there are too few available query nodes to balance"] [onlineNodeIDs="[270]"] [availableNodeIDs="[270]"]
[2022/02/18 01:57:15.053 +00:00] [DEBUG] [segment_allocator.go:173] ["shuffleSegmentsToQueryNodeV2: shuffle segment to available QueryNode"] ["available nodeIDs"="[270]"]
[2022/02/18 0

[2022-02-18 02:02] qi49125 commented on #15623
querynode------------>"
[2022/02/17 16:46:29.876 +00:00] [INFO] [flow_graph_filter_dm_node.go:81] ["Filter invalid message in QueryNode"] [traceID=40226dd6f8850cf8]
[2022/02/17 16:46:29.876 +00:00] [DEBUG] [flow_graph_insert_node.go:153] ["insertNode operator"] ["insert size"=9] ["insert offset"=4837] ["segment id"=431176742648676353]
[2022/02/17 16:46:29.876 +00:00] [DEBUG] [flow_graph_insert_nod

[2022-02-18 02:08] qi49125 commented on #15623
proxy---------->
[2022/02/18 02:07:32.244 +00:00] [WARN] [grpclog.go:46] ["[core]grpc: Server.Serve failed to create ServerTransport: connection error: desc = \"transport: http2Server.HandleStreams failed to receive the preface from client: EOF\""]
[2022/02/18 02:07:32.244 +00:00] [WARN] [grpclog.go:46] ["[core]grpc: Server.Serve failed to create ServerTransport: connection error: desc = \"transpo

[2022-02-18 02:17] qi49125 commented on #15623
After the memory release or query operations that cause cluster exceptions are performed, the proxy is abnormal.

[2022-02-18 02:24] zhuwenxing opened #15624 "[Bug]:[chaos][pulsar]timeout when running hello_milvus.py after pulsar pod recovered from pod kill"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

after test_e2e.py is finished, hello_milvus.py hangs at a certain step（not shown in console, so can't tell the exact step）

### Expected Behavior

all steps pass

### Steps To Reproduce

[code]

### Anything else?

job link：
https://github.com/milvus-io/milvus/runs/51

[2022-02-18 02:27] zhuwenxing commented on #15624
Another same failed job
https://github.com/milvus-io/milvus/runs/5237096747?check_suite_focus=true
log:
https://github.com/milvus-io/milvus/suites/5349688477/artifacts/167385727

[2022-02-18 02:34] yanliang567 commented on #15624
@sunby please help on this issue.
/assign @sunby
/unassign

[2022-02-18 03:07] czs007 opened #15625 "[Bug]: Failed to create Index when segment size is set to large than 2G"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After the segment size was changed to 5GB during the test, an error was reported in the build index.
The reason for the error is that the hard size limit of Protobuf is 2GB, that is, if the index file exceeds 2GB, it cannot be transmitted in Protobuf format.

### Expe

[2022-02-18 03:26] wolfju commented on #15613
I tested multi-threading  use ThreadpoolExecutor（executor = ThreadPoolExecutor(10））and multi-process :10 pyhton tests started simultaneously( cmd: nohup python -u mytest.py) respectively, and it took about the same time.

[2022-02-18 03:31] yanliang567 commented on #15613
@wolfju could you please also share the index params and search params?

[2022-02-18 03:49] binbinlv opened #15627 "[Bug]: "test_delete_from_partitions_with_same_ids " failed for delete failure from a partition"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Partition is not empty after deletion

[code]

### Expected Behavior

Partition is empty after deletion

### Steps To Reproduce

[code]
[code]

[2022-02-18 03:57] yanliang567 commented on #15619
@qi49125 is this the same issue to #15623?

[2022-02-18 04:00] binbinlv opened #15628 "[Bug]: Search timeout after load, flush and load in test case "test_search_load_flush_load""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search timeout reporting "Deadline Exceeded"

[code]

### Expected Behavior

Search successfully

### Steps To Reproduce

[code]
[code]

[2022-02-18 04:05] DrBamba commented on #15622
Dimensions of vectors is 512
Flat index
Delete only one vector
Tried to delete using `id in [<vector_id>]` for example: `id in [12345]`
Query to check if exists with `id == <vector_id>`
Strong consistency didn't seem to have an effect

[2022-02-18 04:06] xige-16 commented on #15623
Does the raw data size or index size exceed the memory limit? @qi49125

[2022-02-18 05:07] yanliang567 commented on #15615
@huaihkiss seems that there is no enough memory to load the collection. Could you please check the data size and the configured memory, and make sure data_size < limited_memory * 90%

/assign @huaihkiss
/unassign

[2022-02-18 06:14] ss892714028 opened #15629 "[Bug]: load_progress has ambiguous output"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![YjcC29OqhV](https://user-images.githubusercontent.com/34635663/154627919-de1a0dfa-b4fd-4a89-aed1-119c47a9e044.png)
num_loaded_entity can be larger than num_total_entity.

The reason is num_total_entity only include the segments that are persisted in S3 (sealed segme

[2022-02-18 06:18] xige-16 commented on #15608
The datanode downtime restarts when the collection has been dropped, and then the creation of datasyncservice for vchannel has failed, and then it has been trying again
[code]

[2022-02-18 06:21] qi49125 commented on #15619
not

[2022-02-18 06:25] qi49125 commented on #15623
Less than 50 million aggregated data are loaded to the memory. I can load data to the memory independently on a single 64 GB machine.
@xige-16

[2022-02-18 06:28] qi49125 commented on #15623
The metadata cache of the cluster is faulty. As a result, no data is actually loaded to the querynode in a timely manner. As a result, the original index cannot be found during the release, and the health status of the cluster is directly affected when the query or release is executed, especially when the proxy functions as the service entry. The client does not respond to the proxy when it connec

[2022-02-18 06:31] qi49125 commented on #15623
The memory usage of the pulsar is always high. It is suspected that the pulsar has been processing the previous operations.
Is there a way to clear the pulsar task queue?
Or if I just stop pulsar, delete the original files, and create a new pulsar, will it work?
@xige-16

[2022-02-18 06:32] sunby opened #15630 "[Bug]: Empty segment generated by compaction is still saved"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

A compaction may generate an empty segment because of all entities in segments are deleted. Now datacoord will just add a new segment and may compact this segment later. It's not resonable.

### Expected Behavior

We can just ignore the empty segment generated by comp

[2022-02-18 06:38] qi49125 commented on #15623
According to the attu command output, the number of querynodes is 57, but the number of querynodes is only 17. Is there a problem here? Registered Nodes Are Not Cleared After the Node Is Unhealthy?
@xige-16

[2022-02-18 06:39] qi49125 commented on #15623
I restarted it, and soon after the restart, the content percentage will return to the previous state.

[2022-02-18 06:42] xige-16 commented on #15623
The log of the proxy build index looks problematic, please check it. @xiaocai2333

[2022-02-18 06:44] XuanYang-cn commented on #15608
There're 2 things that need to fix:

1. event manager retry interval should be 20s as the log suggests. @XuanYang-cn
2. DN/DC will have to make fixes about this failover cases: drop-collection, RootCoord updated meta; DataNode/DataCoord crashed before finishing drop process; when DataNode finally restarted, DataNode should stop retry endlessly. @sunby thought it would be a `good-first-issue`
  - D

[2022-02-18 06:49] xiaocai2333 commented on #15523
It is because the memory usage exceeds the limit, cause the pod to be killed.
I will see why it uses so much memory.

[2022-02-18 07:02] xige-16 commented on #15608
/assign @bigsheeper

[2022-02-18 07:08] qi49125 commented on #15619
[2022/02/18 07:05:53.437 +00:00] [WARN] [grpclog.go:46] ["[core]grpc: Server.Serve failed to create ServerTransport: connection error: desc = \"transport: http2Server.HandleStreams failed to receive the preface from client: EOF\""]
[2022/02/18 07:05:53.437 +00:00] [WARN] [grpclog.go:46] ["[core]grpc: Server.Serve failed to create ServerTransport: connection error: desc = \"transport: http2Server.H

[2022-02-18 07:22] wolfju commented on #15613
index_params : {'index_type': 'IVF_SQ8', 'metric_type': 'L2', 'params': {'nlist': 4096}
search_params: {"metric_type": "L2", "params": {'nprobe': 32}}

[2022-02-18 07:35] fightingyuman opened #15637 "[Bug]: GRPC Operation hangs after host lost power."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I load a lot of image into milvus, don't stop docker service, I lost power of the host, when it start again, it stucks when search or insert vector, it can't recover by restart docker or anything else.
I have test several times, with `standalone` version, it can

[2022-02-18 07:41] qi49125 commented on #15623
After my analysis, I find that all your operations depend on the pulsar. If I send certain operations continuously, these operations do not have a cancellation mechanism. As a result, the pulsar execution may be slow. As a result, the cluster responds slowly and is suspended.
@xige-16 @xiaocai2333

[2022-02-18 07:54] xiaocai2333 commented on #15623
[code]

Have you executed CreateIndex after query operation? Can you paste IndexCoord and IndexNode log here? @qi49125

[2022-02-18 08:08] bigsheeper commented on #15608
[code]
No `message stream closed` printed when close flowgraph, it's looks like it blocked by msgstream's close()

[2022-02-18 08:33] fightingyuman commented on #15637
Sure, how to get logs for standalone / clusters? just use `docker log` ?

OK, I will replace this step to and post result here.

[2022-02-18 08:37] jingkl commented on #15622
I tested this with the following script and found that the consistency setting of "strong" returned a successful deletion
[code]
<img width="1436" alt="截屏2022-02-18 16 35 13" src="https://user-images.githubusercontent.com/34296482/154647201-4b8a93ab-2ae4-4d16-834a-2fd1793a8cee.png">
As shown in the picture, IDs that have been deleted cannot be looked up
@DrBamba

[2022-02-18 08:58] xiaofan-luan commented on #15637
docker compose down may not be as equal as power off, if we can add pod crash test that might be a good way to simulate power off

[2022-02-18 09:19] yanliang567 commented on #15630
anyone likes to help on this 'good first issue', please feel free to assign to himself. Enjoy!

[2022-02-18 09:20] zhuwenxing commented on #15637
`docker-compose logs > standalone.log 2>&1`

[2022-02-18 09:30] zhuwenxing commented on #15637
Yes, I just want to exclude this possibility.

[2022-02-18 09:31] DrBamba commented on #15622
@jingkl thank you for the response, the only differences I see are those:
1. In consistency level I used the type, instead of hardcoded "Strong" (should not matter cause the value is the same)
2. I used a flat index, cause data accuracy is important to me (didn't create an index, which is the same to my understanding)

Other then that it seems to be similar, the only extra information I have is th

[2022-02-18 09:35] #13095 closed

[2022-02-18 10:19] jingkl commented on #15622
What does the use of "type" in the consistency level mean? Can you upload the full datanode log? As a zip archive
@DrBamba

[2022-02-18 10:36] ss892714028 opened #15642 "[Feature]: Support configurable growing segment size"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

In a production system, high volatility is often more severe than being slow.
Growing segment contains streaming data. Because growing segment is not indexed, continuous insert can cause volatility to search performance.
Because Milvus supports me

[2022-02-18 10:39] #15625 closed

[2022-02-18 14:41] fightingyuman commented on #15637
I can't reproduce it by `docker down` with cluster, I reproduced it by VM ware `Power Off`. Here is the log:

[cluster.log](https://github.com/milvus-io/milvus/files/8098008/cluster.log)

My docker-compose.yml config like this:

[code]

[2022-02-19 08:21] qi49125 opened #15648 "[Bug]: proxy ClientBase ReCall grpc second call get error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[2022/02/19 08:19:25.479 +00:00] [ERROR] [client.go:254] ["proxy ClientBase ReCall grpc second call get error "] [error="err: rpc error: code = Unimplemented desc = unknown method SendSearchResult for service milvus.proto.proxy.Proxy\n, /go/src/github.com/milvus-io/mi

[2022-02-19 15:52] #15576 closed

[2022-02-19 15:56] Mercurialll commented on #15574
@cydrain You mean "parallel search" == 2+ searches in milvus in one time?

[2022-02-19 16:12] cydrain commented on #15574
@Mercurialll In your case, 10000 entities are inserted into 2 segments, Milvus will invoke 2 go routines for these 2 segments to do search, this is what I mean "parallel search from GO side".
I have found the root cause for this issue, I'll fix it soon.

[2022-02-19 19:37] scipe commented on #15619
I got the same issue.

[code]

So I create a index for my 200M vectors collection and right after I tried to use ATTU even just open dashboard nothing can be loaded

[2022-02-19 21:40] scipe commented on #15619
I tried to restart pulsar services and milvus proxy but behavior the same.
1. Open attu
2. Connect to milvus - successful
3. But collections and amount entities can not be loaded and I see that error in proxy service.

My configuration:
- Latest helm, k8s on AWS (EKS)
- querynodes has been scaled to 0 (don't care about search right now)
- indexnodes scaled to 4 pods
- enough cpu and memory
- 3 col

[2022-02-20 03:22] rky0930 commented on #15038
I have a similar issue. I am using this milvus-1.1 and sometimes hang occurs every few days, and it works normally after restarting whore system. I hope this issue is resolved quickly and a patch is released.

[2022-02-20 14:45] DrBamba commented on #15622
@jingkl I edited the issue to include the full data node log as you requested :)

[2022-02-21 01:08] yanliang567 commented on #15637
/assign @zhuwenxing
@zhuwenxing please help on this issue

/unassign

[2022-02-21 01:11] yanliang567 commented on #12598
keep it for tracking

[2022-02-21 01:15] yanliang567 commented on #15619
if you configured 0 querynodes, it is expected that nothing can be loaded.  Because 'load' means loading vectors into querynodes.

[2022-02-21 01:19] yanliang567 commented on #15619
@xige-16 could you please help on this issue for the EOF error
/assign @xige-16

[2022-02-21 01:26] yanliang567 commented on #15648
Hi,@qi49125 thank you for your issues. it seems that you are running into several issues recently. for better understanding the scenarios, could you please share more details about
1. version of milvus and sdk
2. deploy configurations
3. reproduce steps or code
4. completed logs of proxy pod, rootcoord pod, querycoord pod and querynode pod
thanks a lot.

/assign @qi49125
/unassign

[2022-02-21 02:06] jingkl commented on #15622
I will try again, thanks

[2022-02-21 02:15] xiaocai2333 commented on #15623
Can you give me the indexnode and indexcoord log before `2022/02/18 02:07:32.278 +00:00` ? Because proxy throw the error at `2022/02/18 02:07:32.278 +00:00` .  @qi49125
you can zip the log and paste here.

[2022-02-21 02:25] yanliang567 opened #15651 "[Enhancement]: Need to update test framework to support https secure connection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

test framework support https secure connection.
code snippet:
connections.connect(host="milvus-instance1.milvus.com", port="19530", **secure=True**)

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-02-21 02:25] yanliang567 commented on #15651
pymilvus already supported since pymilvus==2.0.1dev4

[2022-02-21 02:59] congqixia commented on #15440
@sroshkul we tried to reproduce the problem with provided configuration. However It did not occur. Does this problem persists in your environment?

[2022-02-21 03:07] sunby commented on #15624
Insert channel on DataNode can not receive messages after pulsar pod restarted and Flush request timeout.

[2022-02-21 03:23] yhmo opened #15653 "[Enhancement]: Use git submodule to manage milvus.proto, schema.proto and common.proto"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Every time something changes in milvus-io/milvus/tree/master/internal/proto we need to go to all the SDKs and copy the proto files. Ideally, all SDKs should have only one proto source. And this will also help to have a better documentation for people that want to use grpc dire

[2022-02-21 03:51] binbinlv commented on #15651
OK，working

[2022-02-21 03:55] congqixia commented on #15642
Agree. I think this is a good improvement for tuning performance.
There are some things I want to point out:
1. Smaller segments compaction will cost more CPU usage since index will be performed multiple times.
2. There is some lag before a hand-off is dispatched: QueryNode shall wait until the new segment's index is built. Until then, the brute force is the only way to search the new segment.
3.

[2022-02-21 03:58] dengn commented on #15558
/assign

[2022-02-21 03:59] dengn commented on #15558
/unassign

[2022-02-21 06:09] jaime0815 opened #15656 "[Feature]: Support login with username and password"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

There is a basic security requirement as authorized access.

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

_No response_

[2022-02-21 06:25] qi49125 opened #15657 "[Bug]: Error: Bookie operation timeout while reading L6114 E99 from bookie: 127.0.0.1:3181"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

A collection of 190 million data records has 38 partitions. When the data is loaded to the memory on the zttu page, an exception occurs and the querynode nodes are released. Pulsar reports broker-related errors. The logs of the two services are copied as follows:
[202

[2022-02-21 06:26] qi49125 commented on #15657
querynode------>
/21 05:56:14.822 +00:00] [DEBUG] [flow_graph_query_node.go:235] ["stop query node flow graph"] [collectionID=431296054890332161] [channel=by-dev-rootcoord-delta_130_431296054890332161v0][2022/02/21 05:56:14.822 +00:00] [WARN] [task_scheduler.go:63] ["context deadline exceeded"][2022/02/21 05:56:14.822 +00:00] [ERROR] [impl.go:288] ["context deadline exceeded"] [stack="github.com/m

[2022-02-21 06:27] wangting0128 commented on #15367
argo task:  benchmark-no-clean-gd72b

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-cluster-8c64m

server:
[code]

monitor:

<img width="1842" alt="截屏2022-02-21 14 26 54" src="https://user-images.githubusercontent.com/26307815/154900632-46529c70-7109-4228-8f5c-8f9b084f7e55.png">
<img width="1840" alt="截屏2022-02-21 14 27 14" src="https://user-images.githubu

[2022-02-21 06:32] wangting0128 opened #15658 "[Bug]: [benchmark][cluster][Memory Leak] Memory of datacoord and rootcoord keep going up and not going down when doing stability test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod: benchmark-no-clean-gd72b-1436584063

argo task: benchmark-no-clean-gd72b

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-cluster-8c64m

server:
[code]

datacoord and rootcoord:
<img width="1857" alt="截屏2022-02-21 14

[2022-02-21 06:33] qi49125 commented on #15657
pulsar-------------log
05:56:04.830 [pulsar-io-36-23] INFO  org.apache.bookkeeper.mledger.impl.ManagedCursorImpl - [public/default/persistent/by-dev-rootcoord-dml_130-querynode-67-431296054890332161-atmdc] Rewind from 6114:0 to 6114:0
05:56:04.830 [pulsar-io-36-23] INFO  org.apache.pulsar.broker.service.persistent.PersistentTopic - [persistent://public/default/by-dev-rootcoord-dml_130] There are n

[2022-02-21 06:36] XuanYang-cn commented on #15367
/unassign @sunby
/assign

[2022-02-21 06:37] qi49125 commented on #15657
According to the Pulsar logs, the problem is caused by the memory,
`failed to allocate 3091889 byte(s) of direct memory (used: 4293363976, max: 4294967296)`
Currently, the memory of Pulsar is 16 GB. Therefore, the memory here refers to?

[2022-02-21 06:56] binbinlv opened #15659 "[Bug]: milvus is panic showing "failed to unsubscribe" in the nightly testing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

milvus is panic showing "failed to unsubscribe" in the nightly testing
[code]

### Expected Behavior

No panic

### Steps To Reproduce

[code]

### Anything else?

1 Log: cluster mode:

Download "artifacts-milvus-distributed-master-350-pymilvus-e2e-logs.tar.gz" throug

[2022-02-21 06:58] binbinlv commented on #15659
Same error in nightly 351 and 352:

1 351: cluster mode
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/351/pipeline
[code]

2 352: cluster mode:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/352/pipeline/

[code]

[2022-02-21 07:15] binbinlv opened #15660 "[Bug]: Sometimes search distance is not accurate for "RHNSW_FLAT" index"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Distance is a little small "0.8387866616249084"
[code]

### Expected Behavior

Distance should be closer to 1

### Steps To Reproduce

[code]
[code]

[2022-02-21 07:21] LoveEachDay commented on #15657
Pulsar broker uses `direct memory` for topic caches.
By default, milvus-helm chart sets 8G for broker direct memory.

You change the default value `-XX:MaxDirectMemorySize=8192m` in `pulsar.broker.configData.PULSAR_MEM` .

[2022-02-21 07:28] binbinlv commented on #15659
Same error in the following nightly: [cluster mode]
https://ci.milvus.io:18080/jenkins/job/weekly-milvus-nightly-ci/job/weekly-milvus-ci-test/44/

1 log: milvus-distributed-44-pymilvus-e2e-logs.tar.gz
https://ci.milvus.io:18080/jenkins/job/weekly-milvus-nightly-ci/job/weekly-milvus-ci-test/44/artifact/milvus-distributed-44-pymilvus-e2e-logs.tar.gz

2 panic:
[code]

[2022-02-21 07:33] yanliang567 opened #15661 "[Enhancement]: Need a test to cover bug fix #15536 and #15574"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

need a test to cover bug fix #15536 and #15574:
when searching with expr, and expr=("id in [a_large_bunch_of_ids]")

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-02-21 07:36] yanliang567 commented on #15660
@yhmo could you please help on this issue?
/assign @yhmo
/unassign

[2022-02-21 07:38] qi49125 commented on #15657
I do not use Helm. I manually set up the Kubernetes cluster, which is equivalent to starting the container using docker-compose.

[2022-02-21 07:38] yanliang567 commented on #15657
/assign @LoveEachDay @qi49125
/unassign

[2022-02-21 07:59] LoveEachDay commented on #15657
How do you install pulsar in your kubernetes cluster?

[2022-02-21 08:02] suibianmzl opened #15662 "[Bug]: The specified key does not exist."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[2022/02/21 06:42:40.940 +00:00] [ERROR] [impl.go:342] ["The specified key does not exist."] [stack="github.com/milvus-io/milvus/internal/querynode.(*QueryNode).LoadSegments.func1\n\t/go/src/github.com/milvus-io/milvus/internal/querynode/impl.go:342\ngithub.com/milvus

[2022-02-21 08:22] yanliang567 commented on #15662
@xige-16 is it  a known issue?
/assign @xige-16
/unassign

[2022-02-21 08:23] xiaocai2333 commented on #15662
seems like #12465 ,  can you paste your configuration about DataCoord here ?

[2022-02-21 08:29] qi49125 commented on #15657
The pulsar-2.7.3 version is used and deployed in the K8S cluster. The parameters are the same as those of docker-compose.
@LoveEachDay

[2022-02-21 08:35] suibianmzl commented on #15662
This is the log of the datacoord node. Thank you for your help
[Uploading datacoord.log…]()

[2022-02-21 08:39] xiaocai2333 commented on #15662
thanks， and i want your config file.

[2022-02-21 08:40] cydrain commented on #15574
The root cause for this issue is because of this line:
[code]

[2022-02-21 08:41] suibianmzl commented on #15662
This is the log of the datacoord node. Thank you for your help

[datacoord2.log](https://github.com/milvus-io/milvus/files/8107645/datacoord2.log)

[2022-02-21 08:49] suibianmzl commented on #15662
OK, here is our configuration file

[values.yaml.log](https://github.com/milvus-io/milvus/files/8107701/values.yaml.log)

[2022-02-21 09:01] yanliang567 commented on #15659
frequently reproduced in CI nightly, set to high priority.

[2022-02-21 09:01] LoveEachDay commented on #15657
This is pulsar standalone. This is not recommended for production environments.

[2022-02-21 09:18] cydrain commented on #15536
duplicated with #15574

[2022-02-21 09:29] ThreadDao opened #15665 "[Bug]: [compact] Trigger two types of compaction but get only one compaction plan"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Trigger delete type and merge type compaction, however, only merge type compaction plans returned
[code]

### Expected Behavior

Get two compaction plans

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-02-21 09:35] scipe opened #15666 "[Bug]: Empty nodes in ATTU"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Attached screenshot, there is a lot of empty nodes in querynodes but actually it's scaled to 0
![new_issue](https://user-images.githubusercontent.com/3996622/154927827-3b5a5ac1-e489-42f9-a7d9-21d5d372762e.png)

### Expected Behavior

The list of nodes should be empty

[2022-02-21 09:52] yanliang567 commented on #15666
@shanghaikid could you please help on this issue/

/assign @shanghaikid
/unassign

[2022-02-21 09:59] scipe commented on #15619
it's started only after I gotr the same errors on proxy:
[code]

@yanliang567 yes, sure, I will do it. But where? Here or in attu repo?

[2022-02-21 10:24] ufuk23 opened #15667 "[Bug]: Disk usage with IVF_SQ8 seems odd"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

We have 160K entities that contain 2048 float vectors which are indexed using IVF_SQ8. When I tested 160K entities with random vectors the disk usage was about 15GB, it was normal. Then I try it on a pre-prod environment for 160K entities with real vectors I realized

[2022-02-21 10:44] yanliang567 commented on #15619
attu repo is a better choice. thanks.

[2022-02-21 10:50] yanliang567 commented on #15667
@ufuk23  I assumed that the index params are also the same, right?

/assign @LoveEachDay
/unassign

[2022-02-21 11:01] LoveEachDay commented on #15667
Milvus standalone deployment will use 3 pvcs: etcd, minio and milvus (for rocksmq).
Can you check the actual disk usage of milvus and minio?

[2022-02-21 11:05] ufuk23 commented on #15667
Yes that's right

[2022-02-21 11:42] ufuk23 commented on #15667
![preProd](https://user-images.githubusercontent.com/8513827/154944892-da212059-ca1e-4086-90f3-c409aa6cf25f.png)

I think the test code to generate random entities with random vectors, generates 160K random vectors for some of the same primary keys. I mean, I haven't got a 160K unique pk but a 160K unique vector. For example, I have 160K vectors belonging to 50K primary keys. Does this point the r

[2022-02-21 12:38] jaime0815 opened #15674 "[Enhancement]: Support configurable mqstream under cluster mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Milvus runs with cluster mode will use Pulsar,  it will use RocksMQ when runs with standalone mode now.
Actually,  there is more than one kind of mqstream that needs to support,  so actions below we can do:
1.  Support optional mqstram config within milvus.yaml,  decouple mqst

[2022-02-21 12:39] jaime0815 commented on #15674
relate to #5218

[2022-02-21 12:46] LoveEachDay commented on #15667
Seems you use `ncdu` to show the disk usages, go down to the minio directory, check the disk usage for `insert_log` and `index_files` .

[2022-02-21 14:33] #15657 closed

[2022-02-21 14:42] ufuk23 commented on #15667
![preProd2](https://user-images.githubusercontent.com/8513827/154976948-811ca5d8-23ba-46dc-b9ba-28cefcf995d3.png)
![preProd3](https://user-images.githubusercontent.com/8513827/154976960-b3c8bde5-4545-4fa2-bbea-a76ca5f10bc1.png)
![preProd4](https://user-images.githubusercontent.com/8513827/154976972-9bf4017a-e61d-43b9-9ff8-adce9c7e9a4b.png)

[2022-02-22 01:33] LoveEachDay commented on #15667
You can use `pymilvus` api : `collection.num_entities` to check the number of records in your collection.
I suspect that the minio volume is reused. May be the minio volume contain some old data?

[2022-02-22 01:34] LoveEachDay commented on #15667
The ratio of size-of-index/size-of-data is in the range of 25~30%, which meets the expectation.

[2022-02-22 01:41] huazaizai0322 opened #15677 "[Enhancement]: Implement multi-cluster failover in milvus-sdk-java"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I will add some features in milvus-sdk-java as:
1. Multi-culster register.
2. Server monitor.
3. Server listener.

### Why is this needed?

I hava two issues as:
1. When cluster is unhealthy, I can not search util cluster recovery.
2. When a querynode is restarted, I will sear

[2022-02-22 01:44] yanliang567 commented on #15677
@huazaizai0322 that's great. Thank you for your contributions to the community. If you need any help please feel free to ask here.

/assign @huazaizai0322

[2022-02-22 02:22] yhmo commented on #15660
dimension: ?
row count: 6001

index_type: RHNSW_FLAT
metric_type: IP
index_params: {'M': 48, 'efConstruction': 500}

topk: 1
search_param: ?

@binbinlv What is the value of dimension and search_param?

[2022-02-22 02:24] zhuyaguang opened #15679 "[Bug]: Use Attu to Vector Search gosdk_index_example crash"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

step 1:
Run the milvus-sdk-go example https://github.com/milvus-io/milvus-sdk-go/blob/master/examples/index/index.go

create a collection [gosdk_index_example](http://10.101.32.24:8008/#/collections/gosdk_index_example)

![image](https://user-images.githubusercontent.

[2022-02-22 02:32] binbinlv commented on #15660
@yhmo
dimension: 128
search_param: {"metric_type": "IP", "ef": 64}

[2022-02-22 02:33] yanliang567 commented on #15679
/assgin @shanghaikid
 @shanghaikid please help to check if it is an Attu issue or not

/unassign

[2022-02-22 02:38] zhuwenxing opened #15681 "[Bug]: [chaos][datanode]search raise error when running test_e2e.py after datanode pod two replicas recovered from pod kill"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus cluster was deployed with two datanode replicas. Those two datanode pods all will be killed during the chaos.

[code]

### Expected Behavior

all work well

### Steps To Reproduce

[code]

### Anything else?

failed job link
https://github.com/milvus-io/milvus/

[2022-02-22 02:41] binbinlv opened #15682 "[Bug]: Usage of function "gen_float_field" is wrong in test case "test_insert_ids_binary_invalid""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

Please modify the test case

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-02-22 02:44] zhuwenxing commented on #15681
/unassign @yanliang567
/assign @xige-16
Please take a look

[2022-02-22 02:47] binbinlv opened #15683 "[Bug]: Error code and message is wrong in test case "test_insert_with_invalid_field_value""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

error={ct.err_code: 1, 'err_msg': "is illegal"}

### Expected Behavior

error = {ct.err_code: 0, ct.err_msg: "The field of schema type must be FieldSchema."}

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-02-22 02:47] binbinlv commented on #15683
@jingkl please modify the test case, and make sure it could pass in your local milvus, thanks.

[2022-02-22 03:02] congqixia commented on #15679
@zhuyaguang @shanghaikid
As far as I know, the go sdk example will drop the sample collection after the case. If @zhuyaguang did not modify the go example code, may I assume that maybe attu did not sense the drop collection information?

[2022-02-22 03:04] shanghaikid commented on #15679
We will do a test for it.   @nameczz

[2022-02-22 03:06] xige-16 commented on #15681
/assign @bigsheeper
/unassign

[2022-02-22 03:18] zhuyaguang commented on #15679
yes ,i delete the drop code

[2022-02-22 05:20] ufuk23 commented on #15667
Thanks for your help. As I said before, the number of entities in the collection is 160.000, and I can check it via Attu GUI. I am sure that I remove the volume of the container with the 'rm -rf volumes' command before the indexing. So there must be no old data in that volume.

You said the ratio of 'size-of-index/size-of-data' seems normal, right?

[2022-02-22 06:15] congqixia commented on #15659
@yanliang567 @binbinlv this line of code shall be executed only when DataCoord is notified to close. If the pulsar closes before DataCoord does, this panic will happen.

[2022-02-22 06:17] LoveEachDay commented on #15667
Could you provide your collection schema and short code snippet? So we may reproduce in our environments.

[2022-02-22 06:28] nameczz commented on #15666
@scipe
We try to set replicas 0 for querynodes. Everything is working fine.
<img width="1646" alt="image" src="https://user-images.githubusercontent.com/20559208/155074409-bddc2f25-dba7-4ca9-8ed5-b88f5a4c769b.png">

Could you please give us more details about Milvus helm setting and how to reproduce this issue?
Thanks.

[2022-02-22 06:43] binbinlv commented on #15659
OK, so there are two issues, and pasted the info to the existing issue #15282.

[2022-02-22 06:48] cydrain commented on #15574
/assign @yanliang567

[2022-02-22 06:55] binbinlv commented on #15282
1. https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/350/ [cluster mode]

[2022-02-18T19:08:05.960Z] [gw1] [ 30%] FAILED testcases/test_search_20.py::TestCollectionSearchInvalid::test_search_param_invalid_limit_type[-1]

[code]
2. https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/351/pipeline [cluster mode]

[2022-02-19T15:39:16.658Z] [

[2022-02-22 06:56] binbinlv commented on #15282
frequently reproduced in CI nightly, set to high priority.

[2022-02-22 06:57] XuanYang-cn commented on #15629
@ss892714028  how about changing this into
[code]

[2022-02-22 07:13] nameczz commented on #15679
@zhuyaguang
I just remove https://github.com/milvus-io/milvus-sdk-go/blob/master/examples/index/index.go#L174 this line in index.go file.
Then go run index.go in cmd. Everything working fine and looks good in Attu.
<img width="1090" alt="image" src="https://user-images.githubusercontent.com/20559208/155080670-2a9bf120-1cc5-4e62-a7c7-68b4eb15f50a.png">
Could give us one copy about your index.go cod

[2022-02-22 07:34] ss892714028 commented on #15629
Showing percentage is definitely more user friendly IMO. How is the percentage number calculated?

[2022-02-22 07:36] XuanYang-cn commented on #15629
num_loaded_entity / num_total_entity if num_loaded_entity <= num_total_entity

100% if num_loaded_entity > num_total_entity

[2022-02-22 07:39] suibianmzl opened #15692 "[Bug]: The search is not available after the querynode node server is restarted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When the node server where querynode is located is restarted, the search service is unavailable

![milvus-node](https://user-images.githubusercontent.com/6262877/155077595-3bce0d1b-ce8c-4563-b628-4f123ba9d6ee.png)

### Expected Behavior

_No response_

### Steps To Re

[2022-02-22 08:13] ss892714028 commented on #15629
Anyone interested in taking this issue?

[2022-02-22 08:14] cydrain opened #15695 "[Enhancement]: Optimize ExecTermVisitorImpl"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Remove Assemble()

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-02-22 08:14] cydrain commented on #15695
/assign

[2022-02-22 08:17] ufuk23 commented on #15667
`
fields = [
    FieldSchema(name="pk", dtype=DataType.INT64, is_primary=True, auto_id=False),
    FieldSchema(name="artifact_type", dtype=DataType.INT64),
    FieldSchema(name="embeddings", dtype=DataType.FLOAT_VECTOR, dim=2048)
]
schema = CollectionSchema(fields, "artifact")
print(fmt.format("Create collection `artifact`"))
artifact = Collection("artifact", schema, consistency_level="Strong")
`

[2022-02-22 08:21] zhuyaguang commented on #15679
`package main

import (
	"context"
	"encoding/csv"
	"fmt"
	"log"
	"os"
	"strconv"
	"strings"
	"time"

	"github.com/milvus-io/milvus-sdk-go/v2/client"
	"github.com/milvus-io/milvus-sdk-go/v2/entity"
)

func main() {
	// Milvus instance proxy address, may verify in your env/settings
	milvusAddr := `10.101.32.24:19530`

	// setup context for client creation, use 2 seconds here
	ctx := context.Backgro

[2022-02-22 08:23] JackLCL commented on #15439
Any updates on this issue?
I met the same problem. I started Milvus for some days. Today I insert some vectors into Milvus and then create an index for them. Creating index task hangs.

[2022-02-22 08:25] zhuyaguang commented on #15679
this is my code
[code]

[2022-02-22 08:30] ufuk23 commented on #15667
I tested the above code again after I removed the volume. This time it produces unique primary keys for each vector. Now  I have 40K entities that use 10GB disk usage. And I think it is not normal for my test environment as well.

[2022-02-22 08:43] yah01 commented on #15630
/assign

[2022-02-22 08:49] bigsheeper commented on #15681
QueryNode searched done and returned searchResult to searchResultChannel in Proxy immediately at **19:46:55**.
[code]

however, Proxy didn't get the the result from searchResultChannel and then search task timed out at **19:47:15**.
[code]

[2022-02-22 08:54] letian-jiang commented on #15367
/unassign @XuanYang-cn
/assign

[2022-02-22 08:56] letian-jiang commented on #15608
/assign @letian-jiang

[2022-02-22 09:29] divyanshugit commented on #13264
Can you assign this issue to me?

[2022-02-22 09:30] ss892714028 commented on #13264
/assign @divyanshugit

[2022-02-22 09:39] nameczz commented on #15679
I am using [examples/films.csv](https://github.com/milvus-io/milvus-sdk-go/blob/master/examples/films.csv) and change one place in your code.

<img width="526" alt="image" src="https://user-images.githubusercontent.com/20559208/155104446-2af18793-1df4-4462-9895-1a41ca5ce570.png">

Did you try to use go-sdk do vector search? I'm not sure it's Attu bug or other problems.
And it looks like data probl

[2022-02-22 09:49] #15483 closed

[2022-02-22 10:23] xiaofan-luan commented on #15608
@bigsheeper should we send a issue to the pulsar go client and ask the help form the comunity?

[2022-02-22 10:26] xiaofan-luan commented on #15692
hi @suibianmzl , saw that some of your querynode is evicted, did you check your memory resources and make sure all the the memory resources is enough? Also you may want to collect logs from all the querynode and proxy and we can investigate on that

[2022-02-22 10:30] LoveEachDay commented on #15667
Using the same schema and insert 5000 records, the minio disk usage is as follows:
![image](https://user-images.githubusercontent.com/1573213/155107438-2fd26833-9351-401e-956c-963613b5b54b.png)

[2022-02-22 10:34] xiaofan-luan commented on #15558
hi @dengn, are you looking for some good first issues?

[2022-02-22 10:38] xiaofan-luan commented on #15440
might be the issue similar to #15429?

[2022-02-22 10:39] xiaofan-luan commented on #15538
sure it has to be same, otherwise there is no reason to build idnex

[2022-02-22 10:40] xiaofan-luan commented on #15538
how do you defined meta data? like some scalar datas show up together with vector data?

[2022-02-22 11:38] jingkl commented on #15574
The test result is that Expr has no problem with id lists of size 5000, further verification is needed for sizes over 5000.

[2022-02-22 11:39] XuanYang-cn commented on #15573
/unassign
/assign @zhuwenxing

[2022-02-22 11:57] yanliang567 commented on #15692
@suibianmzl please keep us posted if any news. thanks

[2022-02-22 12:18] ufuk23 commented on #15667
I suspected the milvus.yaml config file and tried again with the default milvus.yaml config, but get similar results for 5000 records.
![test1](https://user-images.githubusercontent.com/8513827/155130878-184d2662-7b69-4249-826d-cf0b537347a6.png)

[2022-02-22 12:49] #15103 closed

[2022-02-22 12:49] #15072 closed

[2022-02-22 12:49] #13660 closed

[2022-02-22 14:06] AlviseSembenico opened #15703 "[Bug]: Instability; Deadline exceeded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Running the following function a couple of times causes milvus cluster to exceed any type of deadline for any kind of search.
[code]

In general i've notice severe unstabilities causing any vector search not to respond.

### Expected Behavior

Search time should be co

[2022-02-23 01:22] yanliang567 commented on #15703
@AlviseSembenico thank you for the issue with detailed info. Could you please also help to upload the logs for pods: querynode, querycoord, rootcoord and proxy, especially for the logs around the period that it reproduces.

/assign @AlviseSembenico
/unassign

[2022-02-23 01:36] blue216 opened #15704 "[Bug]: /volumes/pulsar/standalone/bookkeeper0/current have lots of big.log file"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

create 300 collections ,and every collection have tens of  partition,  every partioin have about 100 data,

lots of big .log file  generated  in   /volumes/pulsar/standalone/bookkeeper0/current , and   Waste disk space all the time
![1](https://user-images.githubuserc

[2022-02-23 01:40] yanliang567 commented on #14834
not reproduce recently, close for now

[2022-02-23 01:40] #14834 closed

[2022-02-23 01:43] yanliang567 commented on #15704
/assign @LoveEachDay
/unassign

[2022-02-23 01:49] yanliang567 commented on #15704
@blue216 Besides, it seems that you are still running on Milvus rc8, we strongly suggest you reinstall Milvus with latest 2.0 release. Milvus 2.0 uses pulsar cluster as default for milvus cluster mode, which was recommended by the pulsar community.

[2022-02-23 01:52] LoveEachDay commented on #15704
@blue216 By default we set the `defaultRetentionTimeMinutes` to `7 days` and `defaultRetentionSizeInMB` to `8G`. Those are parameters are applied to pulsar topics.

You've created 300 collections, which would create many pulsar topics. if you want to decrease the pulsar storage  usage, you can decrease those two parameters in the `docker-compose.yaml` under `environment` section.

[2022-02-23 02:15] JackLCL opened #15705 "[Bug]: When I create index for Milvus, Milvus hang."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I follow this [link](https://milvus.io/docs/v2.0.0/install_cluster-helm.md) to start Milvus cluster.
After starting Milvus cluster, I run hello_milvus.py successfully.
I didn't do any operations for 4 days on this cluster.
Today I run hello_milvus.py again, but it han

[2022-02-23 02:35] yanliang567 commented on #15705
@JackLCL please upload the logs for milvus pods

[2022-02-23 02:37] jingkl commented on #15683
new error

[```
2022-02-22T20:17:27.069Z]

[2022-02-22T20:17:27.069Z] self = <test_insert.TestInsertInvalid object at 0x7fac6b114a20>

[2022-02-22T20:17:27.069Z]

[2022-02-22T20:17:27.069Z]     @pytest.mark.tags(CaseLabel.L2)

[2022-02-22T20:17:27.069Z]     def test_insert_with_invalid_field_value(self):

[2022-02-22T20:17:27.069Z]         """

[2022-02-22T20:17:27.069Z]         target: test inser

[2022-02-23 02:40] suibianmzl commented on #15662
Hello, do you have any ideas to solve this problem

[2022-02-23 02:47] wangting0128 commented on #15658
argo task: benchmark-tag-fxpsl

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-cluster-8c64m

client pod: benchmark-tag-fxpsl-1709194091

server:
[code]

monitor:

<img width="1846" alt="截屏2022-02-23 10 46 57" src="https://user-images.githubusercontent.com/26307815/155253757-44fc1d2c-aae9-4b3d-a1a2-d8c2008b5003.png">

[2022-02-23 02:52] XuanYang-cn commented on #15367
/assign

[2022-02-23 02:54] xiaocai2333 commented on #15662
maybe the segment has been compacted, and QueryNode uses the old segment to load after restart. But the old segment in minio(S3) has been deleted.

[2022-02-23 02:56] xiaocai2333 commented on #15662
We will confirm it and fix it. @suibianmzl

[2022-02-23 03:00] bigsheeper commented on #15608
I think it may also be something wrong with the close() interface we wrapped in message stream.
I would try to reproduce it and add some logs in close()

[2022-02-23 03:07] JackLCL commented on #15705
@yanliang567
[milvus_log.zip](https://github.com/milvus-io/milvus/files/8121611/milvus_log.zip)

[2022-02-23 03:12] LoveEachDay commented on #15667
Every time you call `artifact.num_entities`,  it will flush the data into a new segments.
You can change your code without `artifact.num_entities`, and count the number of rows after insertion completed.
You can check the disk usage after insertion.

[2022-02-23 03:22] congqixia commented on #15659
@binbinlv PR fixes the datacoord panics in cleanup period has been merged. Could you please check in next runs?
/unassign
/assign @binbinlv

[2022-02-23 03:37] blue216 commented on #15704
I have modify **defaultRetentionTimeMinutes**  to 3days, after  about  1hours later, some of collection will not be loaded any more  , and the program was blocked,

[2022-02-23 03:37] bigsheeper commented on #15608
Try to reproduce by these steps:
1. start Milvus 2.0.0 standalone by `docker-compose up -d`
2. run `hello_milvus.py` without release or drop collection
3. wait for 10 minutes
4. run script relasing empty partition provided by @jingkl

And all going well.
Did I miss any step? @jingkl @LocoRichard

[2022-02-23 03:42] blue216 commented on #15704
**"some of collection will not be loaded any more , and the program was blocked,"**
i have met the same thing when i delete manually  some .log files  a few days ago, then i have to drop all data, start all over again.

[2022-02-23 03:47] LocoRichard commented on #15608
It should be
1. Start Milvus 2.0.0 standalone by `helm install`;
2. Create a collection;
3. create a partition;
4. insert 2000 rows of random vector;
5. load and search, did not release;
6. Minikube restart the milvus for 19 times;
7. load partition succeed;
8. release hanged.

[2022-02-23 06:05] DragonDriver commented on #15536
already fixed by #15663
/assign @yanliang567

[2022-02-23 06:12] matrixji commented on #15574
Seems you may hope mention to @Mercurialll

[2022-02-23 06:29] soothing-rain opened #15708 "[Bug]: Some DEBUG/INFO logs are printed before logging level is set."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus still prints some DEBUG/INFO logs when it is just brought up, even if logging level (that are set in milvus.yaml) was set WARNING or higher. However, these logs won't print after Milvus was successfully brought up.

Looks like some logs are set before logging l

[2022-02-23 06:29] soothing-rain commented on #15708
/assign @sunby

[2022-02-23 06:34] yhmo commented on #15653
An empty repo was created for this issue:  https://github.com/milvus-io/milvus-proto

[2022-02-23 06:49] LoveEachDay commented on #15704
Please upload the pulsar log. I suspect the `max direct memory` is too small for your scenario.
And please note, docker-compose is not recommended for production use. Please use `milvus-helm` or `milvus-operator` to deploy milvus cluster in kubernetes.

[2022-02-23 06:56] LoveEachDay commented on #15704
You should not manually delete the files for pulsar. Change the config or use `pulsar-admin` to clean up.

[2022-02-23 07:03] xiaofan-luan commented on #15708
seems that it might be unavoidable because the server start before we init log?

[2022-02-23 07:04] xiaofan-luan commented on #15704
We have a upper limit of 256 topics. All collection will share the 256 topics which we call it as physical channel

[2022-02-23 07:08] xiaofan-luan commented on #15704
Also, in rc8 some of the subscription is leaked thus may cause pulsar failed to to cleanup. Please retry with 2.0.1 and change defaultRetentionTimeMinutes which should solve your problem

If not, please offer the steps which can reproduce so we can test under our  own environment

[2022-02-23 07:10] xiaofan-luan commented on #15681
how many query nodes do we have?

[2022-02-23 07:12] xiaofan-luan commented on #15662
How do we know the segment is compacted? I mean even the segment is compacted the file should be kept for a while?

[2022-02-23 07:13] xiaofan-luan commented on #15662
@xiaocai2333 let's go through the logs carefully and give more evidence on the guess~

[2022-02-23 07:17] xiaofan-luan commented on #15648
I thought your proxy is under a old version while your querynode is under 2.0.0, which cause the incompatible issue

[2022-02-23 07:19] suibianmzl commented on #15662
OK, help locate the reason

[2022-02-23 07:24] xiaofan-luan commented on #15703
delete should be only used in small amount of the data, and it may cause your search slow until compaction is happened.

If you want to cleanup your collection then drop collection is what your are looking for. We don't recommend to do delete unless you want to cleanup a few entities

[2022-02-23 07:34] cydrain opened #15710 "[Enhancement]: Support install libknowhere.so to speed up Milvus build"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Support install libknowhere.so to speed up Milvus build

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-02-23 07:34] cydrain commented on #15710
/assign

[2022-02-23 07:39] GuillaumeWRLD opened #15711 "[Feature]: Embedded Milvus in Python Wanted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

As a data scientist, I don't care for Docker. Not a fan of Ubuntu or CentOS either BTW.

Pymilvus is pretty awesome, but I believe there are more things we can do.

An ideal journey for Milvus beginner IMO is:

0. A clean machine with python.
1. p

[2022-02-23 07:54] suibianmzl commented on #15662
We redeployed the cluster and did not keep the logs  ... ￣□￣｜｜

[2022-02-23 08:00] xiaocai2333 commented on #15662
Emmm, all right, I will find the bug based on the existing logs. If you reproduce it, keep all logs.
By the way, how much the data did you insert?

[2022-02-23 08:03] suibianmzl commented on #15662
The collection in question is about 170 million data

[2022-02-23 08:10] blue216 commented on #15704
![222](https://user-images.githubusercontent.com/6317368/155281769-4fd3dc4e-ac5f-4072-bf6c-3d009cce8537.png)

[2022-02-23 08:12] zhuwenxing opened #15713 "[Bug]: [chaos]querynode panic during multiprocess of insert, flush, compact and query after restart docker"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

querynode panic during multiprocess of insert, flush, compact and query after restart docker
[code]

[code]

### Expected Behavior

Milvus works well during multiprocess of insert, flush, compact and query

### Steps To Reproduce

[code]

### Anything else?

script
ch

[2022-02-23 08:21] xiaofan-luan commented on #15711
a embedded library is not only easy to maintain but also easier to use!
Let's make milvus running at everywhere

[2022-02-23 08:24] xiaofan-luan commented on #15710
Let's target is at 2.0.2~

[2022-02-23 08:26] binbinlv commented on #15659
OK, thanks.

[2022-02-23 08:28] xiaofan-luan commented on #15421
We decided to leave the limitation as 512M for now

[2022-02-23 08:28] #15421 closed

[2022-02-23 08:48] zhuwenxing commented on #15713
In step 2, flush is not contained, just inserting data like a stream.

If tasks is [insert_data, flush_data, compact_data, query_data] in step 2, this issue is not reproduced, but query will hang for several minutes.

[2022-02-23 08:49] zhuwenxing commented on #15713
/assign @xige-16
Please take a look.

[2022-02-23 08:53] yah01 opened #15714 "[Bug]: Should unload segment if compaction removes the entire data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Unload segment if compaction removed all data in the segment, like handoff but without loading a new segment to replace the old one

### Why is this needed?

This would save memory usage like compaction saves disk usage

### Anything else?

_No response_

[2022-02-23 08:57] xiaofan-luan commented on #15714
@yah01 good catch, I thought we can still reuse current mechanism. It's just a special case that load no segment while release some of the empty segment

[2022-02-23 09:05] bigsheeper commented on #15681
[code]

One QueryNode and one Proxy

[2022-02-23 09:07] yah01 commented on #15714
/label good-first-issue

[2022-02-23 09:12] bigsheeper commented on #15681
QueryNode sent searchResult to Proxy sourceID: 11, and
Proxy server id is 11. Proxy doesn't get the result even though the grpc interface SendSearchResult() has returned, quite strange.

proxy log:
[code]

[2022-02-23 09:13] XuanYang-cn commented on #15367
argo task: benchmark-no-clean-gd72b
----

scene tests were stopped at 01:52:03

If `create_index` of a scene_test was finished after 01:51:03, the scene_test wouldn't trigger drop-collection, this left 15 un-dropped collections.

In pprof, there're 30 flowgraphs running, so flowgraphs and drop-procedure are not leaking.

[code]

[2022-02-23 09:31] blue216 commented on #15704
[pulsar1.log](https://github.com/milvus-io/milvus/files/8123178/pulsar1.log)

[Uploading pulsar.log…]()

[2022-02-23 09:32] blue216 commented on #15704
[pulsar1.log](https://github.com/milvus-io/milvus/files/8123180/pulsar1.log)

[2022-02-23 09:32] zhuwenxing commented on #15637
I try to reproduce this issue, but the VMs management tool I use do not have `power off` option. So I use shutdown option to simulate `power off`.

In this way, milvus-querynode will panic and exit. The behavior is same as issue  https://github.com/milvus-io/milvus/issues/15713 caused by `restart docker`
[code]

@fightingyuman You can use command `docker-compose ps -a` to display the status of all

[2022-02-23 09:38] zhuwenxing commented on #15637
/assign @congqixia @xige-16
There are some issue about insert and search, please take a look.

[cluster.log](https://github.com/milvus-io/milvus/files/8098008/cluster.log)

[2022-02-23 09:50] ss892714028 opened #15716 "[Feature]: Support standby coordinator for fast recovery and HA"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Milvus 2.0.0 does not support multi coordinator pod replicas. Although restarting Milvus coordinator pods are fast because they are stateless, it still takes several tens of seconds, and within that time, the Milvus service is not available.

###

[2022-02-23 09:52] ss892714028 commented on #15716
/good-first-issue

[2022-02-23 10:12] dengtangxiaochou opened #15717 "[Bug]: grafana panel shows no data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/43942493/155297786-10a1c14a-10bc-44dc-a814-2550b285ee04.png)
![image](https://user-images.githubusercontent.com/43942493/155298767-e82d82db-5da5-4d72-bd21-9d192cc6a5b5.png)

grafana version v8.3.3
Use the data source

[2022-02-23 10:41] haorenfsa commented on #7700
The design can be found in [MEP 20 -- Support RESTful API for Milvus](https://wiki.lfaidata.foundation/display/MIL/MEP+20+--+Support+RESTful+API+for+Milvus)

[2022-02-23 10:45] #15476 closed

[2022-02-23 10:47] Bennu-Li opened #15718 "[Bug]: Build milvus 2.0.1 from source fails on centos7"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When building Milvus 2.0.1 from source on Centos7 (Use image: milvusdb/milvus-env:amd64-centos7-latest), I got  an error:
<img width="1033" alt="截屏2022-02-23 下午5 47 09" src="https://user-images.githubusercontent.com/53458891/155303729-3f59e649-c80d-479e-97f3-3249a322a

[2022-02-23 10:54] yanliang567 commented on #15718
/assign @cydrain
/unassign

[2022-02-23 11:04] zwd1208 commented on #15717
How do you install Milvus instances on K8S?  The instance variable of Grafana is matched by app.kubernetes.io/instance label on pods. You may not have this tag on the Pod you deploy.

[2022-02-23 11:13] dengtangxiaochou commented on #15717
Deployed through the helm you provided, instance variable tags are available
![image](https://user-images.githubusercontent.com/43942493/155308535-b730517d-2e7f-4097-a08a-001c344d530e.png)

[2022-02-23 11:41] #15094 closed

[2022-02-23 11:41] #15239 closed

[2022-02-23 11:45] soothing-rain opened #15720 "[Bug]: log.level setting in milvus.yaml is not working."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The log.level setting in milvus.yaml file is not working. Changing it to "error“ or higher won't stop milvus from printing INFO and DEBUG logs.

A workaround to change log level is to update `const defaultLogLevel` in `internal/util/logutil/logutil.go`

### Expected B

[2022-02-23 11:45] soothing-rain commented on #15720
/assign @sunby

[2022-02-23 11:48] soothing-rain commented on #15708
/unassign @sunby
/unassign @yanliang567
/assign @soothing-rain

[2022-02-23 12:55] ufuk23 commented on #15667
Yes, it works as you said and the disk usage is reduced. I don't know why using num_entities method flushes the data into a new segment and causes the disk usage problem. Unless I don't use the num_entities, Attu GUI cannot show the correct entity count of the collection.

[2022-02-24 01:35] LoveEachDay commented on #15667
The disk usage problem is because by default we enabled the `segment compaction` , which will convert small segments into a bigger one, and the clean up for old segments is relatively long. So you will find it will takes up more disk space.

The config parameter for compaction is `dataCoord.enableCompaction`, you can find under `configs/milvus.yaml`.

The config parameter for old segment cleanup

[2022-02-24 02:08] congqixia commented on #15371
Working on extending `channel_manager` state. Let's keep this issue open.

[2022-02-24 02:17] LoveEachDay commented on #15717
Seems like you install the milvus cluster with `milvus-helm` chart. By default, the service monitor is not enabled. You can run the following command to enable servicemonitor for milvus:
`helm upgrade <release-name> milvus/milvus --reuse-values --set metrics.serviceMonitor.enabled=true`

[2022-02-24 02:23] JamCrash opened #15723 "[Bug]: load failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

querynode log:

Assert "row_count_opt_.value() == row_count" at /go/src/github.com/milvus-io/milvus/internal/core/src/segcore/SegmentSealedImpl.h:125
=> load data has different row count from other columns
[2022/02/24 02:22:50.960 +00:00] [WARN] [cgo_helper.go:54] ["L

[2022-02-24 02:26] yanliang567 commented on #15723
@xiaofan-luan sounds like an issue that fixed in 2.0.1? could you please help to double confirm?

/assign @xiaofan-luan
/unassign

[2022-02-24 02:35] LoveEachDay commented on #15717
You'd better use the servicemonitor to add scrape targets for prometheus, instead of adding endpoints manually. The reason why the dashboard has no data, is because your scrape endpoint does not have labels required for the dashboard, like `app_kubernetes_io_instance`, etc.

[2022-02-24 02:54] insist93 commented on #15610
Looking forward to the scripts😀

[2022-02-24 03:17] bigsheeper commented on #15713
/assign

[2022-02-24 03:24] congqixia opened #15724 "[Enhancement]: QueryNode separate Search/QueryTasks logic and provide gRPC APIs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

QueryNode separate Search/QueryTasks logic and provide gRPC APIs

### Why is this needed?

To support memory replica

### Anything else?

_No response_

[2022-02-24 03:24] congqixia commented on #15724
![Design_SearchQuery_gRPC_current](https://user-images.githubusercontent.com/84113973/155452146-1e6c8c32-86b4-4807-a561-94ec8a315213.png)

[2022-02-24 03:29] #15578 closed

[2022-02-24 03:30] XuanYang-cn commented on #15367
argo task: benchmark-tag-fxpsl
---
![screenshot-20220224-111544](https://user-images.githubusercontent.com/51370125/155452251-ffa02ff9-046d-4938-a822-d73b72c89e93.png)
![screenshot-20220224-111553](https://user-images.githubusercontent.com/51370125/155452329-56027866-e0ff-4f98-8a81-a36fe0d5c179.png)
![screenshot-20220224-111603](https://user-images.githubusercontent.com/51370125/155452365-80307533

[2022-02-24 03:33] bigsheeper commented on #15713
QueryNode print msgID crashed, msgID belongs to commonpb.BaseMsg, which is nill. Would fix by #15725

[2022-02-24 05:28] xige-16 opened #15728 "[Bug]: Querycoord set wrong watchDmchannelInfo when one partition is empty"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

If a collection has multi partitions, and some some partitions don't have been inserted. There may be two problems when loading：

1. If some paritiotns have not been inserted, the checkpoint of the partitions has not been updated, resulting in the seekposition in the

[2022-02-24 05:28] xige-16 commented on #15728
/unassign @yanliang567
/unassign

[2022-02-24 05:29] matrixji commented on #15718
Meet the same problem while I'm compiling from fedora, seems issue from knowhere.

- https://github.com/milvus-io/knowhere/blob/98fa420755d95489f5bd8f3306d5cb74924fbf3b/thirdparty/CMakeLists.txt#L71
- https://github.com/milvus-io/knowhere/blob/98fa420755d95489f5bd8f3306d5cb74924fbf3b/thirdparty/CMakeLists.txt#L197

Here lib need to be ${LIBDIR} macro

[2022-02-24 05:31] xige-16 commented on #15728
/assign

[2022-02-24 05:47] yah01 commented on #15561
/assign

[2022-02-24 06:04] congqixia commented on #10468
@yah01 Yes, my previous attempt will cause lots of change of code. That why we did not proceed.
Also, changing current interface's signature is not recommended as well (also lots of changes in on PR).
May be we can simplify the problem by doing this in order:
1. Add []byte methods for each KV implementation
2. Add []byte signature method for KV interface
3. Change the usage and choice method by ca

[2022-02-24 06:36] soothing-rain opened #15731 "[Bug]: DEPLOY_MODE is get/used before set."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The environment variable metricsinfo.DeployModeEnvKey is used(get) before set in file cmd/roles/roles.go:358.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-02-24 06:36] soothing-rain commented on #15731
/unassign @yanliang567
/assign

[2022-02-24 06:43] bigsheeper commented on #15608
Start test yesterday at PM 2:30，
Milvus hasn't restart yet.
[code]

[2022-02-24 07:44] #15731 closed

[2022-02-24 07:46] soothing-rain opened #15734 "[Feature]: Make etcd log level configurable."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

etcd log level defaults to INFO and is not configurable in milvus.

### Describe the solution you'd like.

Make etcd log level configurable in, for example, milvus.yaml file.

### Describe an alternate solution.

_No response_

### Anything else?

[2022-02-24 07:46] soothing-rain commented on #15734
/unassign @xiaofan-luan
/assign

[2022-02-24 07:59] yhmo opened #15736 "[Bug]: For high dimensional vectors, the performance of load/release is poor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

50000 vectors with 8192 dimensions. Each load action cost 20+ seconds. Each release action cost 10+ seconds.
The test script:

[code]

The output of this script on my machine:

[code]

### Expected Behavior

50000 vectors 8192 dimensions, the data size is about 1.6GB.

[2022-02-24 08:44] xiaofan-luan commented on #15736
@yhmo we probably need a detailed time analysis about where the time is consumed. 58M/sec seems to be a small number compared to SSD throughput

[2022-02-24 08:48] yanliang567 commented on #15736
/unassign

[2022-02-24 08:51] xiaofan-luan commented on #15736
duplicate with #15445

[2022-02-24 08:51] ss892714028 commented on #13264
Load is even slower with high dimensional vectors: https://github.com/milvus-io/milvus/issues/15736

[2022-02-24 08:55] xiaofan-luan commented on #15736
we first need to figure out the bottleneck of load, does this related to growing segment(Performance issue of pulsar/rocksmq) or just the sealed segment is too large(Might be the binlog overhead is too large if we saw minio disk consumption is far more than 1.6GB or a performance issue of Minio. )

[2022-02-24 08:56] xiaofan-luan commented on #15724
Questions, how do we know all the segments should be involved in a search/query?

[2022-02-24 09:21] lonyhandsome opened #15739 "[Bug]: interface conversion: storage.FieldData is nil, not *storage.StringFieldData"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The problem occurs at regular intervals.How can I solve it

panic: interface conversion: storage.FieldData is nil, not *storage.StringFieldData

goroutine 3821 [running]:
github.com/milvus-io/milvus/internal/storage.(*InsertCodec).Serialize(0xc002d04b60, 0x5fc98a59f74

[2022-02-24 09:30] LoveEachDay commented on #15704
Nothing unexpected happened in your pulsar1.log. Could you provide a detailed steps which can reproduce your issue?

[2022-02-24 11:33] congqixia commented on #15739
Hi @lonyhandsome , looks like you're using `StringField`, which are not supported in 2.0.

[2022-02-24 11:58] congqixia commented on #15724
Proxy shall maintain a cache of the segment allocation.
In case of the cache is out-of-date, there are several ways to handle this problem:
1. Proxy refresh the case in a short period of time.
2. Each search/task request contains invalid segment id(which current query node does not handle) will have a quick response msg in stream. So proxy can update the cache and resend the missing segments.
3. G

[2022-02-24 13:20] soothing-rain opened #15742 "[Feature]: Make CPP log level configurable for Embedded Milvus."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Our CPP log level is not configurable. For embedded milvus I would like to customize my log level.

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

[2022-02-24 13:20] soothing-rain commented on #15742
/unassign @xiaofan-luan
/assign

[2022-02-24 14:34] dkubatin opened #15744 "[Bug]: Searching and deleting vectors is not stable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Hello! Faced a problem that was not in version 1.1.1.

**Number of vectors:** 10000
**dimension:** 512
**Index:** FLAT
**nlist:** 2048
**nprobe:** 16

When it becomes necessary to update the vector, I delete the vector by its id and add a new id for this. A subsequent

[2022-02-24 14:54] dkubatin commented on #15744
I attach milvus logs.
[standalone-1.log](https://github.com/milvus-io/milvus/files/8133389/standalone-1.log)

[2022-02-24 16:18] xiaofan-luan commented on #15724
<img width="750" alt="image" src="https://user-images.githubusercontent.com/83447078/155563981-8e2340a0-4eeb-4ab9-8952-ea4d4868573a.png">

[2022-02-24 16:23] xiaofan-luan commented on #15724
I have a proposal to split the search into 3 stage:
1) proxy send request to all shards on querynodes
2)each querynodes send request to all sealed segments belongs to this shard, and on each querynode we do local reduce and merge result if Q1 contains multiple segment of a shard.
3) Each shard do reduce from all the result from all sealed segment and growing segment
4) proxy reduce all results fro

[2022-02-24 16:26] xiaofan-luan commented on #15724
Based on this implementation, we can also change the delta channel to a rpc implementation. Shard is responsible to send delta log to sealed segment.

Another good point of current implementation is the consistency would be still followed, as long as delete nofication and insert is executed in order, then sealed segment do not need to receive TT but the consistency rule is not breaked.

@sunby @co

[2022-02-24 17:20] DrBamba commented on #15622
I redeployed pulsar with a clean image 2.7.3, also I noticed the milvus configuration file was not updated so I replaced it with the new one, bit still the exact same error
Any progress on your side? @jingkl

It seems that unless I try to delete something everything works as it should, by the logs it seems that the error occurs when flushing

[2022-02-24 23:58] xiaofan-luan commented on #15333
mark it , didn't have time to go through yet

[2022-02-24 23:59] xiaofan-luan commented on #15278
keep tracking

[2022-02-25 01:11] yanliang567 commented on #12682
keep it for tacking, at least we need some meaningful info to the user instead of nothing just waiting

[2022-02-25 01:39] yanliang567 commented on #15744
@dkubatin As Xiaofan said above, as since Milvus 2.0 the default consistency level is set to Bounded, while it was Strong before 2.0. So if you want the insert and delete effective immediately, you need to set the consistency level to Strong instead. Here is a blog with some tests might help you: https://milvus.io/blog/2022-1-27-milvus-2-0-a-glimpse-at-new-features.md

[2022-02-25 01:40] yanliang567 commented on #15744
/assign @dkubatin
/unassign

[2022-02-25 01:42] yanliang567 commented on #15739
@lonyhandsome BTW, StringField is going to be supported soon in 2.1.

/assign @lonyhandsome
/unassign

[2022-02-25 01:47] LoveEachDay commented on #15667
Milvus is complicated distributed system even if you use milvus standalone mode. We should provide better documentation to explain those config parameters.

The best practice is that you should insert your data in a bigger batch at 10k level based on the dimensions of your data. We've tested 50k with 128 dimension in about 2 seconds for 1b data volume.

[2022-02-25 01:47] LoveEachDay commented on #15667
/unassign
/assign @ufuk23

[2022-02-25 01:55] JackLCL opened #15745 "[Enhancement]: How to get all vector ids from Milvus2.0?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I used to use Milvus1.0. And I can get all IDs from Milvus1.0 by using get_collection_stats and list_id_in_segment APIs.

These days I am trying Milvus2.0. And I also want to get all IDs from Milvus2.0. But I don't find any ways to do it.

### Why is this needed?

_No response

[2022-02-25 02:02] LoveEachDay commented on #15443
We'll trigger a stability test for 100m data for milvus cluster with etcd 3.5.1.

[2022-02-25 02:14] #15739 closed

[2022-02-25 02:17] jingkl commented on #15622
I am still missing relevant logs such as datacoord and pulsar to help me analyse further?

[2022-02-25 03:26] parthplc commented on #3573
Hey @shengjun1985 having similar issue
[code]
Using pymilvus version:1.1.0

[2022-02-25 03:26] xiaofan-luan commented on #15745
maybe you can direct query with no expression and only specify id field

[2022-02-25 03:30] xiaofan-luan commented on #15607
hi there @zoujialong9012, are you gonna to merge the arm64 branch into master?

[2022-02-25 06:18] XuanYang-cn commented on #15629
/unassign
/assign @ss892714028 This should be fixed by `pymilvus == 2.0.2.dev3`

[2022-02-25 06:24] zhoudayu123 opened #15750 "[Bug]: InsertRequest failed! Collection name:test_collection null"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

create collection succesfull. but insert data failed.

### Expected Behavior

 insert data successfull

### Steps To Reproduce

[code]

### Anything else?

![image](https://user-images.githubusercontent.com/51695477/155665285-acec9e3d-36e3-4e78-b16b-4f2e139f528c.png)

[2022-02-25 06:43] XuanYang-cn commented on #15368
/reopen

[2022-02-25 07:04] LoveEachDay opened #15751 "[Bug]: milvus pods reports etcd metrics"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

milvus node reports many etcd metrics at :9091/metrics like the following:
[code]

### Expected Behavior

milvus pods only report related metrics, without etcd server metrics.

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-02-25 07:16] JackLCL commented on #15745
Sounds good. I will try it.

[2022-02-25 07:16] yanliang567 commented on #15751
/assign @xiaocai2333
/unassign

[2022-02-25 07:43] dkubatin commented on #15744
@xiaofan-luan

1. Inserted vector.
2. Performed a search.
3. The result is (correct).
4. Deleted the vector by id.
5. Waited about 30s.
6. Performed a search.
7. No result (correct).
8. Inserted a new vector for the same id.
9. Waited about 30s.
10. Performed a search.
11. The result is incorrect (wrong).
12. Waited 1m.
13. Did a search.
14. The result is incorrect (wrong).

[2022-02-25 07:44] dkubatin commented on #15744
@yanliang567, I use the Strong consistency level. This is indicated in the code.
I did a new test, I'm attaching the logs.

[standalone-1.log](https://github.com/milvus-io/milvus/files/8139421/standalone-1.log)

[2022-02-25 07:51] yanliang567 commented on #15750
@yhmo could you please help on this issue?

/assign @yhmo
/unassign

[2022-02-25 08:31] yah01 commented on #15716
Should we achieve this with Raft? @ss892714028 @xiaofan-luan

[2022-02-25 10:33] Writtic commented on #15372
Hi, @xiaofan-luan. I have a question about this issue.

### To support mutable attribute of collection level
`CollectionSchema` and `CollectionMeta` doesn't seem to be mutable candidates.
Shall I make another `struct` matched to `CollectionID`?
Otherwise, just define and implement new task like `UpdateCollectionTask` on DDL request process?

[2022-02-25 10:34] Writtic commented on #15372
/reopen

[2022-02-25 10:37] Writtic commented on #6162
I leave a question about [Support dynamic schema for collection](https://github.com/milvus-io/milvus/issues/15372) on https://github.com/milvus-io/milvus/issues/15372#issuecomment-1050734942

[2022-02-25 13:13] xiaofan-luan commented on #7219
close because of no detailed followups

[2022-02-25 13:13] #7219 closed

[2022-02-25 13:14] #11074 closed

[2022-02-25 13:16] #12297 closed

[2022-02-25 13:18] xiaofan-luan commented on #15522
@xiaocai2333 by why? 5s seems to be fairly a long time

[2022-02-25 13:18] xiaofan-luan commented on #14833
duplicated with #15522

[2022-02-25 13:18] #14833 closed

[2022-02-25 18:11] Mercurialll commented on #15574
@matrixji hello!
First few tests I've conducted were successful : 1000 ANN searches with expr. were done without any troubles.
If I investigate something strange - I will get you known

[2022-02-26 04:49] arshikasoni opened #15764 "[Enhancement]: I am trying to connect milvus to google drive. is it possible? if yes then please let me know how can we perform text search on that google drive files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Trying to connect milvus to google drive.
is it possible? if yes then please let me know how can we perform text search on that google drive files

### Why is this needed?

To make neural text search faster and easier for users to search from a  lot of documents

### Anything

[2022-02-26 05:47] ss892714028 commented on #15764
Google Drive is more consumer focused and expensive, it's functionality focuses more on file management rather than data blob transfer. Google Drive might also be very slow since it is external. Using other storage options such as google cloud storage is more preferable.

If you have to use google drive, you can check out their APIs: https://developers.google.com/drive/

[2022-02-26 05:47] ss892714028 commented on #15764
/assign

[2022-02-26 08:20] ss892714028 commented on #15764
/assign @arshikasoni

[2022-02-26 15:13] parsa-ra opened #15765 "[Bug]: Can't insert any data to the milvus cluster"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After deploying the milvus2.0.1 in cluster mode and inserting about 300M vectors in different partitions cannot insert data into the cluster anymore without any error.
![image](https://user-images.githubusercontent.com/11356471/155847535-7298af57-9822-483d-b4f7-24b20b

[2022-02-26 15:27] parsa-ra commented on #15765
Yeah but as I mentioned in the reproduce steps the cluster went AOL even before clearing out the pulsar PVCs

[2022-02-27 00:22] xiaofan-luan commented on #15765
@parsa-ra is this log before you clean the PVC or after that? seems that flush is stucked but it might be caused by removal the data out of pulsar PVC.
Milvus has persistant state on both etcd and pulsar and remove data only on pulsar may not be valid.

If on the step 5 the requests are still stucked, for search we will need proxy/querynodes log and for insert we need proxy, datacoord and datanode

[2022-02-27 00:25] xiaofan-luan commented on #15764
you can implement your own middleware for transform your data in google drive into milvus but sorry this not in the plan of Milvus itself

[2022-02-27 00:50] #15728 closed

[2022-02-27 00:53] xiaofan-luan commented on #15716
Milvus build on top of etcd and etcd is based on Raft. Most of the node liveness is maintained by etcd lease and so should the coordinator.

check Session_util.go if anyone interested in taking this feature

[2022-02-27 01:03] xiaofan-luan commented on #15745
@JackLCL  let me know if it works and you can paste your example code if it works

[2022-02-27 01:05] xiaofan-luan commented on #15723
@JamCrash we've hit the same issue some time before 2.0GA and fixed some of the issues. Since then we never runs into the similar issues but if your issue happens on Milvus 2.0.0 we probably need logs to take a deep look into it

[2022-02-27 01:06] xiaofan-luan commented on #15718
@cydrain has this issue been fixed?

[2022-02-27 01:08] xiaofan-luan commented on #15711
/assign @soothing-rain

[2022-02-27 01:10] xiaofan-luan commented on #15705
/assign @DragonDriver

[2022-02-27 01:11] xiaofan-luan commented on #15681
keep watching on the progress~

[2022-02-27 01:14] xiaofan-luan commented on #5218
any updates?
I would like to import this feature part by part rather than a big bang to the codebase team~

[2022-02-27 01:15] xiaofan-luan commented on #15662
We need more logs to take a deep look into it since it happens multiple times.
Maybe the mechanism itself need to be changed

[2022-02-27 01:17] xiaofan-luan commented on #15656
good to know~
We have ACL and more security features on our plan.
Anyone interested on it please join

[2022-02-27 01:17] xiaofan-luan commented on #15637
Leave @congqixia as the main assignee

[2022-02-27 01:49] cydrain commented on #15718
yes

[2022-02-27 02:06] #15718 closed

[2022-02-27 03:53] parsa-ra commented on #15765
The log is for after cleaning up the pulsar state.
Here is the log for after cleaning up the pulsar's PVCs for proxy, datanodes and datacoord after clearing PVCs while running and INSERTION job for about 1 minutes.
stern Query
[code]
[logs_stern_data2022-02-27T03:49:32Z.zip](https://github.com/milvus-io/milvus/files/8147992/logs_stern_data2022-02-27T03.49.32Z.zip)

Please let me know if you guys r

[2022-02-27 06:22] #6857 closed

[2022-02-27 09:02] #15238 closed

[2022-02-27 09:32] xiaofan-luan opened #15766 "[Feature]: Refine Get Entity Count"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

GetEntityCount is a big headache for now due to the following reasons:
1) Get Entity count need to call flush so the meta data of each segment is accurate
2) Collection with delete entities can not can't accurately

### Describe the solution you'd

[2022-02-27 10:14] xiaofan-luan commented on #15372
Hi @Writtic
I would like to introduce another call named AlterCollectionMeta/AlterCollectionSchema and the collection meta itself should not be immutable.

Also to implement this call we has to notify all place maintain collection metacache? I'm not sure where it locates, might be proxy, datanode and querynode

[2022-02-27 14:13] fightingyuman opened #15769 "[Bug]: GRPC Operation hangs for search vector"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I do import frequently, and some time search for vectors, one collection for about 7 million records, import about 1.5 million data a day.

With Attu vector search, it exceeds 60 seconds.

It's different between last time I produce the hangs bug, the host or dock

[2022-02-28 00:57] zhaocc1106 commented on #15038
You can try my solution.
https://github.com/milvus-io/milvus/issues/15038#issuecomment-1035801176

[2022-02-28 01:24] yanliang567 commented on #15769
@xige-16  could you please help to take a look?
/assign @xige-16
/unassign

[2022-02-28 01:31] yanliang567 commented on #15407
@binbinlv is this still a valid issue for now?

[2022-02-28 02:02] rky0930 commented on #15038
@zhaocc1106 Thanks for the suggestion. Let me consider it !

@yhmo Are there any plans to release a patched version of milvus? It would be nice if it could be made into a container image.

[2022-02-28 02:17] #15630 closed

[2022-02-28 02:32] congqixia commented on #15724
@xiaofan-luan I'm kind of confuse of this description:
1. What's the definition of a `Shard`?
2. Assuming a `Shard` is a group of segments
   a. By "proxy send request to all shards on querynodes", does it mean broadcasting the Search/Query request?
   b. If not, does it mean send request to the leader one?

[2022-02-28 02:40] JackLCL commented on #15745
![image](https://user-images.githubusercontent.com/53512883/155914979-ab73c51d-1c6f-4947-a7a8-3f4eba1a32f5.png)

@xiaofan-luan It doesn't work.

[2022-02-28 03:02] zhuwenxing commented on #15713
/assign

[2022-02-28 03:20] binbinlv commented on #15659
@congqixia Could you help to see whether it is your fix expected? Thanks.

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/367/pipeline

milvus version: 6a48071
pymilvus version:pymilvus==2.0.1.dev3

1. log: [cluster]
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/367/artifacts

2. Error file:
md-367-n-mil

[2022-02-28 03:24] Shengxiaolin commented on #6315
hi @HuixiangLin, i also met this question when i use milvus 1.0, did you solved this problem ？

[2022-02-28 03:26] binbinlv commented on #15282
It happens again in nightly 367:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/367/pipeline

milvus version: https://github.com/milvus-io/milvus/commit/6a48071a5c1e9a94404e95481a9cf469383bed20
pymilvus version:pymilvus==2.0.1.dev3

1. log: [cluster]
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/367/arti

[2022-02-28 03:30] zhuwenxing opened #15771 "[Bug]: [chaos]Etcd Pod's status will be error when inject io latency to etcd"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Etcd Pod's status will be error, then all pod related to milvus all will restart, but finally, all pod will recovery
[code]

### Expected Behavior

When injecting io latency to the etcd pod, the pod will keep running.

### Steps To Reproduce

[code]

### Anything else

[2022-02-28 03:31] zhuwenxing commented on #15771
/assign @LoveEachDay

[2022-02-28 03:39] congqixia commented on #15659
@binbinlv lgtm, the expectation was to have some error and DataCoord does not panics in the closing procedure

[2022-02-28 03:45] ss892714028 commented on #15745
You can do something like this:

[code]
This gets all vector ids except id `892714028`. However, Milvus currently does not support pagination, in one batch the result will probably exceed rpc transfer limit.

[2022-02-28 03:46] binbinlv commented on #15659
OK, thanks. And close this issue as it fixed the panic.

[2022-02-28 03:46] #15659 closed

[2022-02-28 03:59] binbinlv commented on #13045
It occurs again in the following nightly:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/weekly-milvus-nightly-ci%2Fweekly-milvus-ci-test/detail/weekly-milvus-ci-test/48/pipeline

1. Test log: [standalone: [milvus-standalone-48-pymilvus-e2e-logs.tar.gz]
 https://ci.milvus.io:18080/jenkins/job/weekly-milvus-nightly-ci/job/weekly-milvus-ci-test/48/artifact/milvus-standalone-48-pymilvu

[2022-02-28 04:00] binbinlv commented on #13045
@xige-16 Could you help to have a look at this issue, thanks.

[2022-02-28 05:53] JackLCL commented on #15745
![image](https://user-images.githubusercontent.com/53512883/155931286-87ccd207-bfbd-42c3-89e7-c8ca973d49c4.png)

@ss892714028 I try your way, but it still doesn't work.

[2022-02-28 06:41] jaime0815 opened #15773 "[Enhancement]: Reconstruct mqstream module"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

1. Reorganize the directory like below, make it clear
[code]
3.  Remove MQ Reader interface, we just need to support two kinds of Consumer Interface:
  - Consume from a  start position still Milvus shutdown.
  - Consume from a start position and end with a stop position that i

[2022-02-28 07:22] zhuwenxing opened #15775 "[Bug]: [chaos][minio]Flush hang when running test_e2e.py after milvus recovered from minio io latency chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Flush hang when running test_e2e.py after milvus recovered from minio io latency chaos.
[code]

### Expected Behavior

after Milvus recovered from io latency chaos, all test cases should pass.

### Steps To Reproduce

[code]

### Anything else?

job link：https://githu

[2022-02-28 07:23] zhuwenxing commented on #15775
/assign @sunby
Please take a look

/unassign @yanliang567

[2022-02-28 07:24] ss892714028 commented on #15745
Can you try with a smaller collection?

[2022-02-28 07:36] ss892714028 commented on #15766
This sounds like a promising solution. However, if query node takes care of count_entities, does it require to load all segments into memory? If it does, it is quite heavy.

[2022-02-28 08:25] JackLCL commented on #15745
I have 1M vectors in this collection. And I want to export all IDs from it.
As you mentioned above, Milvus currently does not support pagination to return results. I think it's the reason that the query API can't return all the results at one time.

[2022-02-28 08:44] binbinlv opened #15782 "[Bug]: [nightly] search timeout reporting ""Deadline Exceeded" in cluster mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

search timeout reporting ""Deadline Exceeded"
[code]

### Expected Behavior

Search successfully

### Steps To Reproduce

[code]

### Anything else?

1 failed timeline:
[2022-02-26T07:09:24.778Z] [gw1] [ 81%] FAILED testcases/test_search_20.py::TestCollectionSearch::t

[2022-02-28 08:49] binbinlv commented on #15282
It happens in weekly nightly tests again:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/weekly-milvus-nightly-ci%2Fweekly-milvus-ci-test/detail/weekly-milvus-ci-test/55/pipeline

1. log:
[milvus-distributed-55-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/weekly-milvus-nightly-ci/job/weekly-milvus-ci-test/55/artifact/milvus-distributed-55-pymilvus-e2e-logs.tar.gz

[2022-02-28 09:04] binbinlv commented on #15782
Same error in the following weekly tests in cluster mode:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/weekly-milvus-nightly-ci%2Fweekly-milvus-ci-test/detail/weekly-milvus-ci-test/58/pipeline/129

(1) log:
[milvus-distributed-58-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/weekly-milvus-nightly-ci/job/weekly-milvus-ci-test/58/artifact/milvus-distributed-58-pym

[2022-02-28 09:16] binbinlv opened #15783 "[Bug]: Search results are different after and before compaction for binary data in standalone mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search results are different after and before compaction for binary data in standalone mode

### Expected Behavior

Search results are same  after and before compaction

### Steps To Reproduce

[code]

### Anything else?

1 Log:
[milvus-standalone-58-pymilvus-e2e-logs

[2022-02-28 09:34] binbinlv opened #15785 "[Bug]: Create collection failed reporting "dmlChanName by-dev-rootcoord-dml_2 and deltaChanName by-dev-rootcoord-delta_1 mis-match""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Create collection failed reporting "dmlChanName by-dev-rootcoord-dml_2 and deltaChanName by-dev-rootcoord-delta_1 mis-match"

### Expected Behavior

Create collection successfully

### Steps To Reproduce

[code]

### Anything else?

1 log:
[milvus-distributed-57-pymil

[2022-02-28 09:35] binbinlv commented on #15785
@LoveEachDay
could you help to check whether the error time is when the milvus has not been started yet?

Thanks.

[2022-02-28 10:37] LoveEachDay commented on #15785
milvus started normally since 2022-02-27T02:23:56.

[2022-02-28 10:42] binbinlv commented on #15785
@czs007

could you help to find someone to check this issue?

Thanks.

[2022-02-28 10:42] LoveEachDay commented on #15785
/unassign

[2022-02-28 10:57] binbinlv commented on #15407
@yanliang567
yes, this issue still exists.

[2022-02-28 11:04] binbinlv commented on #15409
Retest and this issue still exists in latest build.

[2022-02-28 11:11] yanliang567 commented on #15785
@soothing-rain could you please help on this issue? It reproduces recently in ci nightly
/assign @soothing-rain
/unassign @czs007

[2022-02-28 12:43] xiaofan-luan commented on #15766
It has to, that's a issue but seems that we don't have a perferct solution on that

[2022-02-28 12:48] jaime0815 commented on #15674
@[xiyichan](https://github.com/xiyichan) Can you take a look at this issue?

[2022-02-28 12:49] xiaofan-luan commented on #15773
/assign @godchen0212 please also join the discussion

[2022-02-28 12:52] xiaofan-luan commented on #15409
change the milestone to 2.0.2

[2022-02-28 12:53] JackLCL commented on #15745
I just found that I didn't forward 19530 port.
After forwarding it, I can get all IDs from Milvus.
Thanks @ss892714028

[2022-02-28 12:54] #15745 closed

[2022-02-28 13:36] xiaofan-luan commented on #15724
What's the definition of a Shard? -> shard in milvus is the dml channel in pulsar, but here I'm indicating the querynode consume to this dml channel.

2. when create collection, user specify the shard numbers, by default is 2 or 4 I guess. Proxy only send request to querynode hold the dml channel, and those querynode redirect request to sealed segment holders(other query nodes)

[2022-03-01 02:08] xiaofan-luan commented on #15432
leave it open

[2022-03-01 02:12] congqixia commented on #15724
So this QueryNode, which holds the dml channel, will behave like a leader.

[2022-03-01 02:28] ss892714028 commented on #15745
@xiaofan-luan Do we have plans for MilvusDM 2.0?

[2022-03-01 02:31] binbinlv commented on #13045
It occurs again in the following nightly:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/372/pipeline/106

1.log
[artifacts-milvus-standalone-master-372-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/372/artifact/artifacts-milvus-standalone-master-372-pymilvus-e2e-logs.tar.gz)

2. Test case fail time:
[20

[2022-03-01 02:38] yanliang567 commented on #13045
@jaime0815 could you please take a look at this issue? It reproduces frequently these days.
/assign @jaime0815
/unassign

[2022-03-01 02:41] wangting0128 commented on #15523
argo task: benchmark-cluster-cron-1645909200

test yaml:
client-configmap:client-search-filter-sift50m-ivf-flat-2048,instanceId:5,server-configmap:server-single-16c64m

server:
[code]

client pod: benchmark-cluster-cron-1645909200-2625968462

client log:
[code]

[2022-03-01 02:45] xige-16 commented on #13045
/assign
/unassign @jaime0815

[2022-03-01 02:48] zhuyaguang opened #15791 "[Bug]: The array hashKeys without empty check"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

run the golang-sdk example , examples/index/inedx.go

![image](https://user-images.githubusercontent.com/8857976/156094543-cb86acc4-82b0-46c9-abe6-5fde45eee823.png)

### Expected Behavior

success run the example code

### Steps To Reproduce

[code]

### Anything else

[2022-03-01 02:49] xige-16 commented on #13045
querycoord add collection info to meta cache when load collection done, before that the compaction has been completed and querycoord is notified, but when querycoord checks meta, it is found that the collection meta does not exist in the querycoord memory, and the segment after compaction is not loaded into the querynode.

I'll fix it soon.

[2022-03-01 03:05] ss892714028 opened #15793 "[Feature]: Extract data directly from Milvus 2.0's storage"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

There is currently no way to extract all data from Milvus. With query, since query does not support empty expression field, it cannot be done even by batch without having access to all IDs.  To get all IDs, expr like "ID not in [an_id]" can be use

[2022-03-01 03:06] XuanYang-cn commented on #15413
No reproducing since 2.9, closing this issue

Re-open if reproduced.

[2022-03-01 03:06] #15413 closed

[2022-03-01 03:24] DragonDriver opened #15794 "[Feature]: Support column-based insert message in message stream"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Now, we encode every row of insert request into bytes in message stream. When the consumers get insert message from message stream, they will decode the bytes using the schema.

For example, the schema is like below:
[code]
then the bytes of a row

[2022-03-01 03:33] DragonDriver commented on #15794
see also: #13271

[2022-03-01 05:02] yanliang567 commented on #15791
@congqixia is it about the go sdk issue?
/assign @congqixia
/unassign

[2022-03-01 05:06] yanliang567 commented on #15744
@dkubatin could you please try collection.compact() between step #8 and #9?

[2022-03-01 05:56] xiaofan-luan commented on #15745
Once we support bulkload in Milvus 2.1 we will start the Milvus DM 2.0 project~

[2022-03-01 06:23] cydrain commented on #15409
@binbinlv need all logs of proxy and query_node

[2022-03-01 06:26] binbinlv commented on #15409
@cydrain
[test-binbin-milvus-proxy-5c48dcf499-r67tv.txt](https://github.com/milvus-io/milvus/files/8159232/test-binbin-milvus-proxy-5c48dcf499-r67tv.txt)
[test-binbin-milvus-proxy-5c48dcf499-wfvkp.txt](https://github.com/milvus-io/milvus/files/8159233/test-binbin-milvus-proxy-5c48dcf499-wfvkp.txt)
[test-binbin-milvus-querynode-55dfdf9646-hv2gm.txt](https://github.com/milvus-io/milvus/files/8159234

[2022-03-01 06:45] cydrain commented on #15409
proxy1:
[code]

proxy2:
[code]

query_node1:
[code]

query_node2:
[code]

[2022-03-01 07:43] #15734 closed

[2022-03-01 07:43] #15742 closed

[2022-03-01 07:58] soothing-rain commented on #14888
/unassign @godchen0212

[2022-03-01 07:59] soothing-rain commented on #15765
/assign @godchen0212
/unassign

[2022-03-01 08:08] binbinlv commented on #15409
@cydrain Reproduce again using the following script:
[code]
Logs:
[test-binbin-milvus-proxy-5c48dcf499-jfbjq.txt](https://github.com/milvus-io/milvus/files/8159855/test-binbin-milvus-proxy-5c48dcf499-jfbjq.txt)
[test-binbin-milvus-proxy-5c48dcf499-x7gf8.txt](https://github.com/milvus-io/milvus/files/8159857/test-binbin-milvus-proxy-5c48dcf499-x7gf8.txt)
[test-binbin-milvus-querynode-55dfdf9646-4cf

[2022-03-01 08:37] godchen0212 commented on #15765
It seems the datanode cannot receive any data from channel by-dev-rootcoord-dml_1_431390997700935681v1.
It is temporarily impossible to know whether it is the problem of pulsar or the mechanism of physical channel distribution to vChannel. You need to look at the log of pulsar.
It is temporarily suspected that the excessive data (about 450G) may cause pulsar to fail to serve.

[2022-03-01 08:43] XuanYang-cn commented on #12701
/unstale

[2022-03-01 08:47] parsa-ra commented on #15765
@godchen0212 Please let me know the experiment of the pulsar log that you need me to provide you, e.g. putting the milvus in insertion load at the specific collection meanwhile capturing the pulsar logs ...

[2022-03-01 08:56] yhmo commented on #15038
Is it ok if I build a non-official image?

[2022-03-01 09:25] xige-16 commented on #15782
working it.

[2022-03-01 09:25] xige-16 commented on #15769
working it.

[2022-03-01 10:18] XuanYang-cn opened #15805 "[Bug]: Embedded etcd ut panicked"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

https://github.com/milvus-io/milvus/runs/5372337667?check_suite_focus=true

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-03-01 10:31] dkubatin commented on #15744
@yanliang567, fulfilled the test with this method in the same sequence.

This step-by-step test was successful, however, after I deleted the vector again and after some time started searching for it, the search results return data, although the vector was deleted.

After some time, I introduced a new vector for the same identifier, but the search for the old one still gives a false result.

Attach

[2022-03-01 10:40] cydrain commented on #15409
In this case "nb = 20", index is not really created, bruteforce search is used instead.
So search param is not checked.

[2022-03-01 10:55] jingkl opened #15806 "[Bug]:[benchmark][cluster] Gradual increase in response time for continuous data insertion"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

<img width="1382" alt="截屏2022-03-01 18 46 40" src="https://user-images.githubusercontent.com/34296482/156155426-05e27cfb-97d2-469d-abff-5ee223ff05a7.png">
Milvus server

[code]

server-configmap
server-cluster-dn8c32g-in2c2g-qn2c2g
client-configmap
pre2.0-client-inser

[2022-03-01 11:09] jingkl opened #15807 "[Bug][benchmark][cluster]: Slow transfers in proxy to pulsar when inserting"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

In the same scenario, inserting the same data, with a 2x difference in rps, and finding a 2x difference in proxy client producer latency

![20220301-190039](https://user-images.githubusercontent.com/34296482/156157393-5f17156a-f320-49f4-ac19-0c37e48382e4.png)
![202203

[2022-03-01 11:24] xiaofan-luan commented on #15744
So you are saying insert a vector with same id  will incur data error.
@yanliang567 can we add a test on this issue? I thought this might be an issue only happen if you insert with a deleted data with same id

[2022-03-01 11:28] xiaofan-luan commented on #15793
agree this is an important feature but we don't have enough man power.
Anyone interest can do self assign

[2022-03-01 12:28] vtkingdom opened #15808 "[Bug]: [mishards] routing to old pod which has been updated with a new name on k8s resulting in failling for searching requests"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Uisng mishards for milvus1.1.1.
when the readonly milvus pod on k8s has changed to a new one which has different pod name, searching through mishards will report error like:  "Conn Group milvus-readonly-85cb44586b-wbpb2 is Empty. Please Check your configurations". As

[2022-03-01 12:47] xiaofan-luan commented on #15806
seems like expected but we need to improve on that, we need to change to growing segment to a smaller value

[2022-03-01 12:50] xiaofan-luan commented on #15724
Yep, we name it shard holder or shard coordinator. No matter which querynode take the dml channel will be named

[2022-03-01 12:52] xiaofan-luan commented on #15610
/assign @zwd1208 could you please update once we have a plan?

[2022-03-01 12:54] xiaofan-luan commented on #15513
fixed

[2022-03-01 12:54] #15513 closed

[2022-03-01 12:56] yanliang567 commented on #15808
/assign @yhmo
could you please help on this issue?
/unassign

[2022-03-01 13:17] yanliang567 commented on #15805
@XuanYang-cn are you going to fix this issue?
/assign @XuanYang-cn

[2022-03-01 13:18] dkubatin commented on #15744
Yes, the error occurs when I work with one record (single id).

Actions are performed for one record, in my case for a vector with id = 1.

There are 939 vectors in total. There is a need to update the vector for a specific id. But as far as I understand, updating is not yet provided in pymilvus, so I first delete the vector, and then add a new one and load the collection into memory.

But there i

[2022-03-01 13:47] xiaofan-luan commented on #15744
Need to investigate on that, but it might be that growing segment does not handle duplicated id correctly.

[2022-03-01 13:48] xiaofan-luan commented on #15744
/assign @cydrain could you please help to investigate on that

[2022-03-01 13:50] xiaofan-luan commented on #15807
didn't get the issue, rps refers to read per second?

[2022-03-01 18:10] parsa-ra commented on #15765
@LoveEachDay , got it, all of the brokers, or do you have any specific in mind?

[2022-03-01 21:40] sasan-ai opened #15810 "[Bug]: <BaseException: (code=1, message=no Available QueryNode result, filter reason [UnexpectedError] Assert "adapter->CheckSearch(conf, index_type, field_indexing->indexing_->index_mode())"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

`RPC error: [_execute_search_requests], <BaseException: (code=1, message=no Available QueryNode result, filter reason [UnexpectedError] Assert "adapter->CheckSearch(conf, index_type, field_indexing->indexing_->index_mode())" at /go/src/github.com/milvus-io/milvus/inte

[2022-03-02 00:44] yanliang567 commented on #15810
@sasan-ai Thank you for the issue. We did not see this error before. Do you happen to have a simple reproduce steps so that we can try to reproduce it?
Also it would be great if you could upload the full logs for querynode and querycoord

/assign @sasan-ai
/unassign

[2022-03-02 00:48] yanliang567 commented on #15744
@ThreadDao could you please to check if we have covered this scenario?
/assign @ThreadDao

[2022-03-02 02:11] XuanYang-cn commented on #15807
@jingkl What service does the hightest blue line refer to?

[2022-03-02 02:16] jingkl commented on #15807
The blue line indicates the specific pulsar producer latency of the corresponding topic

[2022-03-02 02:20] jingkl commented on #15807
Equivalent to the number of response requests per second (QPS)

[2022-03-02 02:30] congqixia commented on #15783
/unassign
/assign @ThreadDao

[2022-03-02 02:59] binbinlv commented on #15409
And I do lots of tests, and found another phenomenon:

it seems except for index "RHNSW_PQ" which could be reproduced steadily, and other index like IVF_PQ, RHNSW_SQ just sometimes could fail, sometimes not.

[code]

[2022-03-02 04:51] ck-w-0 opened #15815 "[Bug]: Image data processed with Towhee cannot be inserted into Milvus ymilvus.orm.exceptions.DataTypeNotSupportException: <DataTypeNotSupportException: (code=0, message=Field dtype must be of DataType)>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I run the reverse image search  demo in the Toehee documentation，insert the data getting this err
Traceback (most recent call last):
  File "ex_image.py", line 57, in <module>
    collection.insert(data1)
  File "/mnt/e/wsl2/ubuntu/my_project_env/lib/python3.7/si

[2022-03-02 05:16] xiaofan-luan commented on #15807
if rps refers to request to per second, that might be valid because each pulsar topic should has limited throughput, once you reached throughput limit increate concurrency won't help on more throughputs.

You can try to tune the pulsar broker config and see if the throughput increase. If not then there might be some performance bottleneck(Maybe a lock or what) but  so far as long as we can reach 1

[2022-03-02 06:20] xiaofan-luan opened #15816 "[Enhancement]: Refine log level and change default log level to info in production"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Some of the log level are not clearly defined.
We need to refine the log level and move the overall default log level from debug to info.

### Why is this needed?

1. reduce the log print data size
2. follow the code of practice

### Anything else?

_No response_

[2022-03-02 06:22] xiaofan-luan opened #15818 "[Enhancement]: Refine log level in query path"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

subtask of #15816

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-03-02 06:22] xiaofan-luan opened #15819 "[Enhancement]: Refine log level of index path"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

subtask of #15816

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-03-02 06:23] xiaofan-luan opened #15820 "[Enhancement]: Refine logs of other submodules"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

subtask of #15816

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-03-02 06:47] ck-w-0 commented on #15815
this one too

[2022-03-02 06:58] xiaofan-luan opened #15822 "[Enhancement]: Refine log level in proxy and distributed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

subtask of https://github.com/milvus-io/milvus/issues/15816

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-03-02 07:41] letian-jiang opened #15823 "[Bug]: DescribeCollection RPC fails in DataNode failover"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

DataNode and DataCoord crashed before collection dropped. In failover, DescribeCollection RPCs from DataNode to RootCoord fail and retry endlessly.

RootCoord Log
[code]

DataNode Log
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

[2022-03-02 07:42] avsolatorio opened #15824 "[Bug]: load segment hit nil pointer dereference"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The `milvus-standalone` service dies when I load the collection after inserting 1M data. It also dies with just 500K of inserted data.

[code]

The docker logs show the following:
[code]

The `DocumentsMilvusInterface` is an interface that I implemented for my applica

[2022-03-02 07:44] xiaofan-luan commented on #15824
I will investigate into it

[2022-03-02 07:50] JackLCL opened #15825 "[Enhancement]: Support scrolling load from disk to memory while searching."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

When Milvus is currently searching, if the amount of data is larger than the memory of the querynode, it will not be able to search.
However, in many scenarios, the user's machine memory resources are relatively limited, and a search with slower performance is acceptable. So i

[2022-03-02 08:23] rky0930 commented on #15038
@yhmo It would be better even if it is non-official first. However, it would be nice if an official patch came out !

[2022-03-02 09:10] cydrain commented on #15409
"SearchOnSealed]Search params check failed" is reported steadily in all modes (standalone/cluster/cluster_multi_node).
It should be testcase issue.

[2022-03-02 09:30] binbinlv commented on #15409
Tested again, the collection should be newly created, and first insert, and create index.

[2022-03-02 09:42] binbinlv commented on #15409
New reproduced log:

[test-binbin-milvus-querynode-55dfdf9646-c2rg2_yudong.txt](https://github.com/milvus-io/milvus/files/8168449/test-binbin-milvus-querynode-55dfdf9646-c2rg2_yudong.txt)
[test-binbin-milvus-querynode-55dfdf9646-mlxg6_yudong.txt](https://github.com/milvus-io/milvus/files/8168450/test-binbin-milvus-querynode-55dfdf9646-mlxg6_yudong.txt)
[test-binbin-milvus-proxy-5c48dcf499-65vg9_yu

[2022-03-02 10:25] zhoudayu123 opened #15831 "[Bug]: load collection into memory failed, caused by load segment failed, set segment to meta failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

install milvus cluster,
create collection,
insert data,
search data,
load collection success when first servel times , but ten minutes later, it failed always.

### Expected Behavior

load collection success, and search next.

### Steps To Reproduce

[code]

### Anyth

[2022-03-02 10:52] shiyu22 commented on #15815
Are you using towhee==0.4.0? I have tried it with towhee0.4.0 and it works.

[2022-03-02 10:56] #15339 closed

[2022-03-02 11:14] yanliang567 opened #15833 "[Bug]: Search latency becomes slow once in every 6 search requests"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

search latency becomes slow once in about every 6 search requests.
![image](https://user-images.githubusercontent.com/82361606/156350866-4a28d920-52a5-487a-9026-82c9919ee070.png)

### Expected Behavior

search latency is stable.

### Steps To Reproduce

[code]

### An

[2022-03-02 11:30] yanliang567 commented on #15815
/assign @shiyu22
/unassign

[2022-03-02 11:34] yanliang567 commented on #15831
@soothing-rain could you please help on this issue?
/assign @soothing-rain
/unassign

[2022-03-02 11:35] yanliang567 commented on #15824
/unassign

[2022-03-02 11:35] yanliang567 commented on #15823
/assign @letian-jiang
i think you are working on this issue.

/unassign

[2022-03-02 11:49] czs007 commented on #7690
Still keep it for tracking？ @yanliang567

[2022-03-02 11:59] czs007 commented on #10079
@wangting0128
Does this phenomenon still exist?
Keep an eye out for the stability tests.

[2022-03-02 12:14] soothing-rain commented on #14888
/unassign
/assign @aharonh

[2022-03-02 12:16] soothing-rain commented on #15831
/assign @yhmo
/unassign

[2022-03-02 12:17] soothing-rain commented on #15658
/unassign
/assign @godchen0212

[2022-03-02 12:19] czs007 commented on #10754
@xiaocai2333 When you have time, think about how to modify it and provide a more informative log.

[2022-03-02 12:21] czs007 commented on #11995
@jaime0815  can we close this issue ?

[2022-03-02 12:24] czs007 commented on #12176
In my list of scheduled tasks, opentracing will gradually be used to monitor the system critical path.

[2022-03-02 12:27] czs007 commented on #12279
can we close this issue ? @wangting0128

[2022-03-02 12:41] czs007 commented on #12598
@cydrain Do we have plans to upgrade ANNOY?

[2022-03-02 12:46] czs007 commented on #12632
In the case of a segment of a certain size, the memory consumption of different index types may also be different. It's hard to say what the optimal reduction will be until the index memory footprint is modeled.

@yanliang567

[2022-03-02 13:29] sasan-ai commented on #15810
index_param = {"index_type": "IVF_SQ8",
                         "params":
                             {"nlist": 1200},
                         "metric_type": "L2"}

[2022-03-02 16:22] xiaofan-luan commented on #15723
hi @JamCrash, any updates?

[2022-03-03 01:46] #15720 closed

[2022-03-03 01:58] xiaofan-luan commented on #12632
if we build each index segment by segment, the index node memory should be just a little bit more than build a index on segment needed right? should be no more than 100m data by  default

[2022-03-03 02:06] yhmo opened #15835 "[Bug]: milvusdb/milvus goes on exited status frequently after loading collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

milvusdb/milvus container goes on exited status after that proxy healthy error.
it was working fine till morning but at day time this error began to show up.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response

[2022-03-03 02:06] yhmo commented on #15835
The log of milvus server:
[milvus_logs.txt](https://github.com/milvus-io/milvus/files/8174260/milvus_logs.txt)

[2022-03-03 02:10] yanliang567 commented on #15835
@yhmo what is the proxy healthy error? how do we reproduce this error? what did we do between working fine and exited statue?

[2022-03-03 02:12] yhmo commented on #15835
Wait for the user provides more information.

[2022-03-03 02:17] congqixia commented on #15835
Here is the panic output in the log
[code]
looks like the collection has a field which is not supported.

[2022-03-03 02:19] zhuwenxing commented on #15775
Not reproduced so far

[2022-03-03 02:19] shiyu22 commented on #15815
I think that you need to check the data type of the vector before inserting it into Milvus. The data shape of the entity should be like this:
[code]

[2022-03-03 02:41] congqixia opened #15836 "[Enhancement]: Ban DataType_String before it's supported"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Return error when create collection with string field in the schema.

### Why is this needed?

Since the DataType_String will be supported in 2.1, insert / load operation will return error with string field.
However, field type is not checked when create collection. The error

[2022-03-03 03:18] zhuwenxing opened #15837 "[Bug]: Flush and index time will increase a lot (3.4->35,4->12) if minio IO latency(write/read/flush) is 200ms"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/156488891-25d23c5d-863d-4c52-b9af-c55485e69713.png)

### Expected Behavior

Do not have an exact expectation, but don't think the current result is reasonable

### Steps To Reproduce

[code]

### Anything els

[2022-03-03 03:50] letian-jiang commented on #15609
/assign

[2022-03-03 03:51] yanliang567 commented on #15837
@czs007 would we have a more details for this test if milvus metrics are ready ?
/assign @czs007
/unassign

[2022-03-03 03:52] yanliang567 commented on #15835
/assign @yhmo
please help to update the details as the user responses.

/unassign

[2022-03-03 04:10] xiaofan-luan commented on #15837
We are expecting minio to deliver 10ms level latency under most cases...

[2022-03-03 06:02] wangting0128 commented on #12279
This problem has not reproduced, close it first.

[2022-03-03 06:02] #12279 closed

[2022-03-03 06:16] jingkl commented on #15622
Thanks for the advice, can you tell me how you configured the S3 before? Can you tell me the relevant configuration?
@DrBamba

[2022-03-03 06:53] binbinlv opened #15841 "[Bug]: Update pymilvus version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Update pymilvus version

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-03-03 07:53] congqixia opened #15846 "[Enhancement]: Extend DataCluster Watch via Etcd"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add a mechanism to allow `DataNodes` to notify `DataCoord` the failure of watchting/releasing the channel.

### Why is this needed?

The current implementation has only two states:
[code]
So in normal cases, `DataNodes` either succeed in watching the channel or retry until the

[2022-03-03 08:06] soothing-rain commented on #15711
@GuillaumeWRLD Hey we have drafted a proposal here: https://wiki.lfaidata.foundation/display/MIL/MEP+26+--+Embedded+Milvus

Let me know what you think of it.

[2022-03-03 08:13] XuanYang-cn opened #15848 "[Enhancement]: Refactor task assign process of IndexCoord/IndexNode to achieve easier scalability"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

If a new node is up, the tasks already assigned into other nodes wouldn't be re-scheduled, will be queued inside the old nodes.

The new IndexNode will have to wait for **New** tasks from IndexCoord.

This task assignment makes it very hard to scale Nodes.

### Why is this nee

[2022-03-03 08:16] XuanYang-cn opened #15849 "[B]: Variable names in RootCoord are misleading"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. `GetNotIndexedSegments` actually writes Etcd inside.
2. `indexMeta` and `idxInfo` both are variables of `IndexInfo struct`, which influences codes readability.

/assign @xiaocai

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anyth

[2022-03-03 08:17] XuanYang-cn opened #15850 "[Enhancement]: IndexNode only supports task concurrency of 1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Should it be more than 1? Why?

/assign @czs007

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-03-03 08:21] zhuwenxing commented on #15837
In this job https://github.com/zhuwenxing/milvus/runs/5403688905?check_suite_focus=true，minio IO latency is 10ms， flush latency is still large (3.8->39.4).
But this may be caused by the Github action runner, because, in the local k8s cluster, the latency increase is acceptable(2.8->4.4)

[2022-03-03 08:57] #15836 closed

[2022-03-03 09:06] xiaocai2333 commented on #15848
/assign

[2022-03-03 09:23] drow931 opened #15852 "[Bug]: load failed, OOM if loaded due to memory size too large"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I execute load() ，logs：
`[impl.go:342] ["load segment failed, OOM if load, collectionID = 431544206256242689, maxSegmentSize = 411145909, usedMemAfterLoad = 1291290570, totalMem = 18446744073709551615, thresholdFactor = 0.900000"]`

due to segment_loader.go.check

[2022-03-03 09:26] yanliang567 commented on #15852
@jaime0815 could you please help on this issue?
/assign @jaime0815
/unassign

[2022-03-03 09:27] yanliang567 commented on #15849
/assign @xiaocai2333
/unassign

[2022-03-03 09:33] #15823 closed

[2022-03-03 09:54] zhoudayu123 commented on #15831
Hi, xiaofan. I found you have fixed this bug, and when will it be realease?

[2022-03-03 12:39] xiaofan-luan opened #15857 "[Enhancement]: Refactor index build process with etcd"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Currently, the index building process follow the progress:

Datacoord notify IndexCoord when binlog is ready.
Index coord write into etcd, and also its memory meta table.
index coord loop and poll the request, send not assigned or failed request to indexnode
index node finish

[2022-03-03 12:46] #15324 closed

[2022-03-03 12:46] #15256 closed

[2022-03-03 12:46] #15183 closed

[2022-03-03 12:46] #15160 closed

[2022-03-03 13:58] drow931 commented on #15852
Further findings from this bug，I find totalMemory numeric types is uint64，maximum 18446744073709551615

[2022-03-03 14:45] xiaofan-luan commented on #15849
@XuanYang-cn Agree, I also open another issue about index part and we need some refactor on this

[2022-03-03 14:52] xiaofan-luan commented on #15824
duplicate with #15713

[2022-03-03 14:52] xiaofan-luan commented on #15824
should be fixed next version

[2022-03-03 16:29] #13763 closed

[2022-03-03 16:29] #14273 closed

[2022-03-03 16:29] #14402 closed

[2022-03-03 16:29] #13599 closed

[2022-03-03 16:29] #14577 closed

[2022-03-03 16:29] #12516 closed

[2022-03-03 16:29] #12634 closed

[2022-03-03 16:29] #12633 closed

[2022-03-03 16:29] #12761 closed

[2022-03-03 16:29] #15249 closed

[2022-03-03 16:30] #15314 closed

[2022-03-03 16:30] #15048 closed

[2022-03-03 16:30] #13271 closed

[2022-03-03 16:30] #13784 closed

[2022-03-03 16:30] #14217 closed

[2022-03-03 17:29] #14690 closed

[2022-03-03 17:29] #15209 closed

[2022-03-03 17:29] #14689 closed

[2022-03-03 17:29] #13109 closed

[2022-03-04 00:40] fightingyuman commented on #15769
Another log with command `docker-compose logs --tail=10000 > cluster.log 2>&1` on 2022.03.04, more than 4 million record insert into database, and it hangs when search again:
[cluster.log](https://github.com/milvus-io/milvus/files/8182088/cluster.log)

[2022-03-04 01:57] xiaofan-luan commented on #15713
@zhuwenxing should be fixed on https://github.com/milvus-io/milvus/pull/15725, could you please check on that?

[2022-03-04 01:57] xiaofan-luan commented on #15713
/assign @zhuwenxing

[2022-03-04 02:41] XuanYang-cn commented on #15850
/assign @czs007

[2022-03-04 02:55] binbinlv commented on #15409
Verified, and it is fixed.

[2022-03-04 02:55] #15409 closed

[2022-03-04 03:00] cydrain commented on #15409
This issue is because search request is send to 2 query_node:
qn1: do empty search, return valid empty result
qn2: do real search, return error because of illegal parameter
proxy return successful search result since one of search results is valid.

[2022-03-04 03:01] #15841 closed

[2022-03-04 03:03] zhuwenxing commented on #15713
Verified and passed in version `master-20220304-57b97ccb`

But there still will be some errors about load if run script immediately when all containers are ready after docker restart.
[code]
if waiting for several minutes, there will be no error about load.

@bigsheeper is this as expected?

[2022-03-04 03:16] XuanYang-cn commented on #15367
Reproduced locally, the script takes 15mins a time.

Run multiple times and DataNode CPU% increased

[code]

[2022-03-04 03:23] XuanYang-cn commented on #15367
Statistics:
|stat|before secene_test| after 6 secene_tests|
|---|---|---|
|Goroutine|48|48|
|Memory|1623MB|?|
|CPU%|10%|45%|

CPU compare pprof of `after_scene_test3 - before_scene_test`
![image](https://user-images.githubusercontent.com/51370125/156693140-8e64cbd8-ca74-41f4-913b-76d842665cf6.png)

CPU compare pprof of `after_scene_test6 - before_scene_test`
![image](https://user-images.githubuser

[2022-03-04 03:24] XuanYang-cn commented on #15367
It's all about `runtime.findrunable` and `runtime.futex`, looking into this now.

[2022-03-04 03:29] zhuwenxing commented on #15624
Recent failed job
* https://github.com/milvus-io/milvus/runs/5396537377?check_suite_focus=true
* https://github.com/milvus-io/milvus/runs/5411928983?check_suite_focus=true

[2022-03-04 03:58] binbinlv opened #15866 "[Bug]: [Nightly]Create partition failed for timeout error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

create partition failed

### Expected Behavior

Create partition successfully

### Steps To Reproduce

Running nightly:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/378/pipeline

[code]

### Anything else?

1 Log:
[arti

[2022-03-04 03:59] yanliang567 commented on #15866
/assign @jaime0815
/unassign

[2022-03-04 05:37] #14300 closed

[2022-03-04 05:37] #15385 closed

[2022-03-04 06:14] xiaofan-luan commented on #13264
/assign @yah01

[2022-03-04 06:16] xige-16 commented on #15619
It seems that this error report is related to the client attu, any update info? @scipe
If you have raised an issue to the attu repo, you can paste the issue link here.

[2022-03-04 06:23] DragonDriver commented on #15794
/assign

[2022-03-04 06:27] longjiquan opened #15867 "[Enhancement]: Support multiple indexes on different fields"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I want to support multiple indexes on different fields. For now, Milvus only supports index on vector field, and beside this, only one field in a collection can have index now. It's not convinient if we need better performance when we do attribute filtering. Like other databas

[2022-03-04 06:27] DragonDriver commented on #15867
/assign

[2022-03-04 06:29] xiaofan-luan commented on #15561
@yah01 zstd level 3 should be well enough for the recommended settings.

[2022-03-04 06:37] xige-16 commented on #15662
datacoord.dropTolerance is set too small, only one hour. , according to our 1 billion data benchmark test, it will take about an hour to load 170 million data. If compaction occurs during load, and the segment before compaction is dropped before loading into querynode memory, load will fail

[2022-03-04 06:42] xige-16 commented on #15662
After querynode fails to load segment , querycoord can check whether the related segment has been comapcted before retrying the load segment request. @xiaofan-luan

[2022-03-04 06:44] xige-16 commented on #15662
It is recommended to increase the datacoord.dropTolerance value, and the current default value is 86400 (24h).

[2022-03-04 06:46] suibianmzl commented on #15662
OK, thanks. Let's try to put datacoord Droptolerance is set to 24h

[2022-03-04 06:47] xige-16 commented on #15662
The recommended gc config:
[code]

[2022-03-04 06:48] xige-16 commented on #15662
/unassign @xiaocai2333

[2022-03-04 06:55] Murphy-AI commented on #15662
@xige-16 Hi xige, can I directly modify this configuration in our current milvus cluster? If yes, how should I do that? Thanks!

[2022-03-04 06:56] xiaofan-luan commented on #15867
agree, and we can also support build index on different vector index

[2022-03-04 07:01] xiaofan-luan commented on #15662
@xige-16 what about modify the cleanup period to 24h by default?

[2022-03-04 07:02] xiaofan-luan commented on #15662
also we do need to improve the load speed since user can not wait an hour to load data, it should be in lazy mode and @yah01 is helping on load performance

[2022-03-04 07:06] #15824 closed

[2022-03-04 07:07] xiaofan-luan commented on #15824
hi @avsolatorio, it should be fixed soon in the next release. You can use the day build or wait for the next release for now

[2022-03-04 07:10] yanliang567 commented on #15810
@soothing-rain could you please help on this issue?
/assign @soothing-rain
/unassing @sasan-ai

[2022-03-04 07:31] cydrain commented on #15574
Hi @yanliang567 , this issue has been fixed, please verify and mark it to closed.

[2022-03-04 07:33] yanliang567 commented on #4430
String Type would be supported in 2.1

[2022-03-04 07:37] cydrain commented on #14354
Index "SPTAG", "NGT" and "NSG" are controlled by Macro in repo "knowhere":
- KNOWHERE_SUPPORT_SPTAG
- KNOWHERE_SUPPORT_NGT
- KNOWHERE_SUPPORT_NSG
User can enable them if needed.

[2022-03-04 07:37] #14354 closed

[2022-03-04 07:42] #15394 closed

[2022-03-04 07:42] #15231 closed

[2022-03-04 07:42] #15186 closed

[2022-03-04 07:42] #14559 closed

[2022-03-04 07:42] #14225 closed

[2022-03-04 07:42] #13933 closed

[2022-03-04 07:42] #14163 closed

[2022-03-04 07:43] yanliang567 commented on #15574
verified on latest master. close for now

[2022-03-04 07:43] #15574 closed

[2022-03-04 07:44] xige-16 commented on #15782
The reason for the search timeout is that one  querynode did not receive the search request, and the following error occurred when the querynode watched the query channel.
[code]

[2022-03-04 07:48] xige-16 commented on #15782
pulsar broker throw an exception
[code]

[2022-03-04 07:48] jaime0815 commented on #15866
it seems like a connection timeout issue when Rootcoord access Pulsar

`[2022/03/03 19:47:30.474 +00:00] [ERROR] [root_coord.go:1480] ["CreatePartition failed"] [role=rootcoord] ["collection name"=search_collection_eKlghgmV] ["partition name"=search_partition_0] [msgID=431577260832231332] [error="message send timeout: TimeoutError"] [stack="github.com/milvus-io/milvus/internal/rootcoord.(*Core).Cr

[2022-03-04 07:49] fffyyy415 opened #15871 "[Bug]: [ERROR] [root_coord.go:273] ["rootcoord disconnect with etcd, process will exit in 1 second"]"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

milvus-Container -logs
[2022/03/03 07:20:26.801 +00:00] [DEBUG] [client.go:57] ["RootCoordClient GetSessions success"]
[2022/03/03 07:20:26.809 +00:00] [DEBUG] [client.go:57] ["RootCoordClient GetSessions success"]
[2022/03/03 07:20:26.952 +00:00] [DEBUG] [client.go:1

[2022-03-04 07:55] zhuwenxing opened #15872 "[Bug]: [chaos][indexnode]search raise error when running test_e2e.py after indexnode recovered from memory stress chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

search raise error when running test_e2e.py after indexnode recovered from memory stress chaos

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Anything else?

failed job:https://github.com/zhuwenxing/milvus/runs/5418698372?ch

[2022-03-04 08:11] zhuwenxing opened #15873 "[Bug]:[chaos][minio]create collection raise error when running test_e2e.py after minio pod recovered from memory stress chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Anything else?

failed job: https://github.com/zhuwenxing/milvus/runs/5418698574?check_suite_focus=true

logs: https://github.com/zhuwenxing/milvus/suites/5532234335/artifacts/17

[2022-03-04 08:31] xige-16 commented on #15769
pulsar topic with backlog quota exceeded

[code]

[2022-03-04 08:32] xige-16 commented on #15769
Have you loaded the collection before searching? @fightingyuman

[2022-03-04 08:35] jaime0815 commented on #15866
NPE occurs at the same time in Plsuar log

erId=2044, consumerName=yuhen, address=/10.202.31.252:36654}

19:47:00.476 [pulsar-io-4-1] INFO  org.apache.pulsar.broker.service.persistent.PersistentSubscription - [persistent://public/default/by-dev-rootcoord-dml_7][by-dev-dataNode-13-431577319447461889] Successfully disconnected consumers from subscription, proceeding with cursor reset

19:47:00.477 [

[2022-03-04 08:35] yanliang567 commented on #15872
/assign @jaime0815
/unassign

[2022-03-04 08:40] jingkl opened #15874 "[Bug][benchmark][cluster]: Milvus Insert 50k of data concurrently with 5 clients, with a large latency gap"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior
The same scenario with different insert delays

Argo1：
benchmark-concurrent-2rfhh-100
server-configmap
server-cluster-dn8c32g-in2c2g-qn2c2g
client-configmap
pre2.0-client-insert-locust-client1-nb1k
pre2.0-client-insert-locust-concurrent-client1-nb5k

[code]
<img width=

[2022-03-04 09:21] xige-16 commented on #15769
It may be that pulsar restarted, causing querynode to not receive search requests, and finally resulting in too many query topic backlogs. You can release the collection first, and then repeat the load collection to see if you can query again. @fightingyuman

[2022-03-04 10:21] yanliang567 commented on #15873
/assign @congqixia
@congqixia could you please help on this issue?

/unassign

[2022-03-04 10:25] yanliang567 commented on #15871
@fffyyy415 could you please share the reproduce steps for this issue? Also which milvus are you running?
According to the error msg, it indicates that the etcd service(or the network to etcd) is not healthy, could you please help to double check?

/assign @fffyyy415
/unassign

[2022-03-04 10:44] chenwr727 commented on #15386
@xiaofan-luan Will this feature be developed in the future?

[2022-03-04 11:29] xige-16 commented on #15628
on time1, querynode 1 has sealed segment 1, and querynode 2 has growing segment 2, all node's global sealed segments = [s1]
on time 2, querynode 1 and 2 receive the search request,  querynode2 execute search and return result which has searched sealed segments= [s1], global sealed segments=[s1], but querynode 1 push search request to unsolved buffer when service time is smaller than search request

[2022-03-04 11:29] Neverous commented on #12498
With https://github.com/milvus-io/milvus/issues/12598 removed from urgent and put on the backlog will this be released officially anytime soon?

[2022-03-04 11:30] xige-16 commented on #15628
I will fix this bug, you can set the consistency of the query, choose eventual consistency to avoid this problem. @binbinlv

[2022-03-04 11:52] xige-16 commented on #15662
@LoveEachDay can you help?

[2022-03-04 11:54] xige-16 commented on #15662
The default value on the master branch has been changed to 24h. @xiaofan-luan

[2022-03-04 12:14] LoveEachDay commented on #15662
Seems you deploy your cluster with milvus-helm chart, you can upgrade your cluster like the following:
[code]

[2022-03-04 20:53] sugia commented on #15133
One more observation:
If two items with the same primary key are inserted, then milvus will keep them both.
The collection.delete() function acts weird:
1. the value in collection.num_entities doesn't get changed after a delete operation;
2. the deleted item sometimes will be retrieved back from a search result, which means a deleted item is not actually deleted, and it's still being searchable;

[2022-03-04 22:46] xiaofan-luan commented on #15850
so far 1  works for me because the index build task itself can be done in parallel. Concurrent build might need control in memory consumption.

We can do more experiment later on

[2022-03-05 00:38] Peddle commented on #15439
Hi, so far no update from my side.

We've been unable to reproduce it from a clean install though admittedly haven't tested thoroughly as we've downgraded production to 1.1 for the time being and this has moved to the back burner for the time being.

@JackLCL do you have logs you can share from your experience with the bug. It would likely be helpful for the Milvus team.

[2022-03-05 01:01] xiaofan-luan commented on #15133
The collection.num_entities is not accurate and won't be changed under some of the situations.

For two similar primary key , what should be the expected behaviour? the later overwrite the previous one and delete mark both entities?

So far the mechanism is a little bit complicated for duplicated primary key because if the vector is updated we don't guarantee the search result always return the ne

[2022-03-05 01:01] xiaofan-luan commented on #15133
@sugia by the way, the core dump should be fixed in 2.0.1， let me know if you verified it and we can close the issue .

[2022-03-05 01:10] xiaofan-luan commented on #15386
Not in my mind~
Currently once you load partition A, you can load another partition B and the only way to do so if you release partition A and load partition A,B
We will add the feature to load partition in sequence and then we can implement a rule to load partition I guess

[2022-03-05 01:13] xiaofan-luan opened #15877 "[Feature]: Load multiple partition one by one"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Currently once you load partition A, you can not load another partition B and the only way to do so if you release partition A and reload partition A,B

We will add the feature to load partition on by one.

### Describe the solution you'd like.

W

[2022-03-05 01:35] xiaofan-luan commented on #15825
won't support this feature in the near future due to lack to man power.
We'll first to improve load performance and simplify all procedure before to avoid get into huge complexity

[2022-03-05 03:08] jaime0815 opened #15879 "[Enhancement]: Remove Chan API from MsgStream interface"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

There already have Consume() API within the MsgStream interface, it has the same function with Chan() API.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-03-05 04:41] binbinlv opened #15880 "[Bug]: Test case "test_insert_numpy_data" and "test_wait_loading_collection_empty" for the interface change"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Test case "test_insert_numpy_data" and "test_wait_loading_collection_empty" for the interface change
1. insert numpy date is supported now
2. loading_progress interface return {loading_progress: **} instead of {'num_loaded_entities': 0, 'num_total_entities': 0}

### E

[2022-03-05 06:23] #15880 closed

[2022-03-05 08:20] #15405 closed

[2022-03-05 12:08] #15412 closed

[2022-03-05 12:44] radpet opened #15882 "[Bug]: Collection.load() hangs on large collection 500k+"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

<img width="1520" alt="image" src="https://user-images.githubusercontent.com/13572835/156882846-b9dbc9a8-2815-4467-ba7b-322ebbf7c310.png">

When I try to load a collection with 500k + entities it stuck.
If I delete the collection and try to load it it is fine.

Memory

[2022-03-05 12:56] radpet commented on #15882
Also when I try to drop the collection it may take more than 5 minutes

[code]

[2022-03-05 13:15] xiaofan-luan commented on #15882
hi @radpet， could you please offer querycoord, roodcoord and querynode log so we could take a deeper look into it?

[2022-03-05 13:59] radpet commented on #15882
Hi @xiaofan-luan Would you please guide me what should I use to filter the logs in order to get useful snippets for querycoord, roodcoord and querynode. I am using the standalone deployment mode so there aren't different pods/instances

[2022-03-05 16:21] radpet commented on #15882
@xiaofan-luan On a different instance  I can't reproduce it so far.  (same setup, only s3 buckets differ (dev/prod env) , Issue unfortunately affecting the prod env)

[code]

Is it possible some data to be corrupted leading to failures?

[2022-03-05 16:26] xiaofan-luan commented on #15882
not really sure about it, usually it's not due to corrupted file but some sync mechanism not working. If we can still collect log then we need to take a deep look into it

[2022-03-05 16:44] radpet commented on #15882
We store logs in Loki so I can get them quite easy.
The file below is a snippet generated by `|~"querycoord|rootcoord|querynode"` filter. In the timeframe I tried deleting the collection and also searching in it.

[milvus_prod_debug.txt](https://github.com/milvus-io/milvus/files/8191059/milvus_prod_debug.txt)

[2022-03-06 05:25] #15272 closed

[2022-03-07 01:07] yanliang567 commented on #15882
@radpet which version of pymilvus are you running? Please make sure the version of pymilvus is matched with milvus server.

[2022-03-07 01:12] yanliang567 commented on #12598
@xiaofan-luan any plans to upgrade fix this issue, as some users are waiting for it.

[2022-03-07 01:13] yanliang567 commented on #12498
@Neverous will  keep you updated in #12598

[2022-03-07 02:28] binbinlv opened #15887 "[Bug]: [nightly] Search from partitions failed for timeout error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search failed

### Expected Behavior

Search successfully

### Steps To Reproduce

[code]

### Anything else?

1 Milvus Logs:
[artifacts-milvus-distributed-master-384-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/384/art

[2022-03-07 02:34] xige-16 opened #15888 "[Feature]: Supports insertion, deletion, and query string data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

The data types currently supported by Milvus do not include the String type. According to the feedback in the previous issue list, the support of the String data type is expected by many users. And string field can be used as primary key.

### Des

[2022-03-07 02:34] hadim commented on #4430
Will it also support string field as primary key?

[2022-03-07 02:34] xige-16 commented on #15888
/unassign @xiaofan-luan
/assign
/assign @DragonDriver

[2022-03-07 02:38] landyliu commented on #12896
/assign @cydrain

[2022-03-07 02:41] binbinlv commented on #15282
It happens in weekly nightly tests again: [standalone]
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/381/pipeline

1 Logs:
[artifacts-milvus-standalone-master-381-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/381/artifact/artifacts-milvus-standalone-master-381-pymilvus-e2e-logs.tar.gz)

2 Failed timelin

[2022-03-07 02:51] binbinlv commented on #13045
It occurs again in the following nightly:
1. Logs:
[milvus-distributed-75-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/weekly-milvus-nightly-ci/job/weekly-milvus-ci-test/75/artifact/milvus-distributed-75-pymilvus-e2e-logs.tar.gz)
2. Test failed time:
[2022-03-06T06:31:44.414Z] [gw3] [ 23%] FAILED testcases/test_compaction.py::TestCompactionOperation::test_compact_threshold_auto

[2022-03-07 02:52] jingkl opened #15889 "[Bug]: [benchmark][cluster] Failed to insert 1b vector, message=getSegmentID failed: SegmentIDAllocator failRemainRequest unexpected error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod:benchmark-wql8c-3437145852
client log

[code]

### Expected Behavior

Argo : benchmark-wql8c
server-configmap
server-cluster-8c64m-datanode2-indexnode4-querynode6
client-configmap
client-random-locust-search-84h-1b

server:
[code]

### Steps To Reproduce

[

[2022-03-07 03:04] xiaofan-luan commented on #4430
String as PK is in the plan

[2022-03-07 03:10] xiaofan-luan commented on #13045
We can not apply patch by patch to fix the issues one by one.
For example, if load operation start, the collection should be in meta already with a loading state.
Once the load finish, the collection state can be changed to "loaded".
I'm really worried we patched too many to the logic and make it hard to maintain(Shouldn't rely on ordering because in a distributed system one can not consider all t

[2022-03-07 03:22] binbinlv commented on #15282
It happens in weekly nightly tests again: [cluster]
1 Logs:
[milvus-distributed-71-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/weekly-milvus-nightly-ci/job/weekly-milvus-ci-test/71/artifact/milvus-distributed-71-pymilvus-e2e-logs.tar.gz)

2 Failed timeline:
[2022-03-05T15:31:35.331Z] [gw3] [ 99%] FAILED testcases/test_search_20.py::TestCollectionSearch::test_search_multi_colle

[2022-03-07 04:01] congqixia opened #15892 "[Enhancement]: Add a method to check metakv CAS series operation failure reason"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

 Add a method to check `MetaKV` CAS series operation failure reason

### Why is this needed?

For MetaKV CAS operation, we need to determine whether retry or not base on the error type it returns. As Compare failure will lead an unretryable case while connection error may have

[2022-03-07 04:11] yhmo commented on #15835
https://app.slack.com/client/TM98LD8DQ/D03599XB5U2

[2022-03-07 04:16] yhmo commented on #15831
The code change is still pending not merged, it will be available in the next minor version 2.0.2, which will be released in the middle of this month.

[2022-03-07 06:21] jingkl opened #15896 "[Bug]: [benchmark][standalone] Milvus Standalone restart frequently in stability testing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]
same as issue :#15523,#15392

### Current Behavior

Milvus standalone pod restarts for times during stability testing.  (it is recoverable, but we shall know why is restarts)

client pod: benchmark-ws6vf-3397330533
client log: [client.log.zip](https://github.com/milvus-io/milvus/files/81952

[2022-03-07 06:22] Jfxhuangdao opened #15897 "[Bug]: [ERROR] [global_meta_broker.go:229] ["empty index paths, segmentID = 431654780491268097"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Adding data has the following error:

[2022/03/07 06:13:40.339 +00:00] [ERROR] [global_meta_broker.go:229] ["empty index paths, segmentID = 431654780491268097, fieldID = 101, buildID = 431655120870572034"] [stack="github.com/milvus-io/milvus/internal/querycoord.(*glob

[2022-03-07 06:22] czs007 commented on #15628
@xige-16 @binbinlv
Is this bug being fixed? Time to catch up with the 2.0.2 release?

[2022-03-07 06:38] shenjianzch opened #15899 "[Bug]: How to write back to the mysql database via milvus/db"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The current wal file is lost, the mysql database is destroyed, and now only milvus/db is the existence of data want to recover from here, what to do, how to restore to the database

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anyth

[2022-03-07 06:39] Jfxhuangdao commented on #15897
cpu：Intel(R) Xeon(R) Gold 5218 CPU @ 2.30GHz
Memory:512

[2022-03-07 06:45] fightingyuman commented on #15769
OK, If I get this again, I will do the test.

[2022-03-07 06:45] yanliang567 commented on #15897
@jaime0815 could you please help to take a look at this issue?
/assign @jaime0815
/unassign

[2022-03-07 06:46] yanliang567 commented on #15899
/assign @yhmo
@yhmo could you please help on this issue?

/unassign

[2022-03-07 06:48] fightingyuman commented on #15769
Yes, I do.

Do I need to load the collection before every search after new data insert into the collection?

[2022-03-07 06:49] xiaofan-luan commented on #15769
Restart  container will cause reassign of all the segments to other querynodes

[2022-03-07 06:49] xiaofan-luan commented on #15769
Nope load is a one time operation happens whenever you want to do search

[2022-03-07 07:05] yanliang567 commented on #15896
/assign @soothing-rain
@soothing-rain could you please help on this issue?
/unassign

[2022-03-07 07:09] jingkl commented on #15889
The milvus client should not type out a bunch of useless messages that can confuse the user, for example
[code]

The milvus server should not throw an error message directly, there should be a protection mechanism

[2022-03-07 07:22] LoveEachDay commented on #15889
`benchmark-wql8c` cluster deploys with a etcd cluster which does not use fast disk. The `rootcoord` failed to renew the lease because the etcd cluster leadership change.

[2022-03-07 07:35] binbinlv commented on #15782
@xige-16
so what is the conclusion here?

[2022-03-07 07:36] #15889 closed

[2022-03-07 07:44] jingkl opened #15902 "[enhancement] Milvus error message needs improvement"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

issue :  #15889

client log

[code]

### Expected Behavior

1. The milvus client should not type out a bunch of useless messages that can confuse the user, for example
[code]
2. The milvus server should not throw an error message directly, should be returned within th

[2022-03-07 07:45] #15902 closed

[2022-03-07 07:47] binbinlv commented on #15783
Fixed and closed.

[2022-03-07 07:47] #15783 closed

[2022-03-07 07:48] jingkl opened #15903 "[Enhancement]: Milvus error message needs improvement"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

issue : https://github.com/milvus-io/milvus/issues/15889
1. The milvus server should not type out a bunch of useless messages that can confuse the user, for example
[code]
2.  The milvus server should not throw an error message directly, should be returned within the milvus se

[2022-03-07 07:48] XuanYang-cn commented on #12259
/reopen

[2022-03-07 07:50] XuanYang-cn commented on #12276
/reopen

@xige-16  Any updates on this issue? Are you planning to look into this recently?

[2022-03-07 07:53] XuanYang-cn commented on #15201
It's fixed at https://github.com/milvus-io/pymilvus/commit/ac8c221c11d77cceb7b5af611457149e933dba85

[2022-03-07 07:53] #15201 closed

[2022-03-07 07:54] XuanYang-cn commented on #15573
@zhuwenxing Please help to check if this has been fixed.

[2022-03-07 08:33] xiaofan-luan opened #15906 "[Enhancement]: Change unit test etcd to embedded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

![origin_img_v2_faa9e6c5-fea3-49df-b4f8-1338b10c732g](https://user-images.githubusercontent.com/83447078/156993256-b39c0a8e-2d6c-4eb8-941b-28093e6f4d36.png)

The test always fail due to etcd not response，and we see the dial exception dial tcp: lookup etcd: Temporary failure in

[2022-03-07 08:41] jaime0815 commented on #15872
Puslar proxy

[code]
Puslar Broker
[code]

According to the above log information,  the failed reason is Pulsar connects to broker timeout, So we can retry it with time limitation.

[2022-03-07 08:51] AlviseSembenico opened #15909 "[Bug]: runtime error: integer divide by zero"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The datanode fails and the following errors pops up at every restart of the pods.
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-03-07 09:00] xiaofan-luan commented on #15909
/assign @letian-jiang

[2022-03-07 09:00] xiaofan-luan commented on #15909
@letian-jiang please take a deep look into it~ thanks

[2022-03-07 09:11] letian-jiang commented on #15909
/assign

[2022-03-07 09:35] shenjianzch commented on #15899
Can no one help me？

[2022-03-07 09:43] yanliang567 commented on #15899
I don't think thats an easy job.:(

[2022-03-07 09:54] yhmo commented on #15899
Not all the metadata can be restored from milvus/db folder, that is the problem.
The db folder doesn't persist collection information, so, If the original db has multiple collections or partitions, it cannot be restored.
The db folder doesn't persist index parameters, so the index information is lost and cannot be restored.

[2022-03-07 09:56] shenjianzch commented on #15899
Can I just give up

[2022-03-07 10:01] #15892 closed

[2022-03-07 10:05] XuanYang-cn commented on #15367
Not because of timerecord.Groupchecker

[2022-03-07 10:29] yhmo commented on #15899
If your original data is multiple collections/partitions, it is impossible to restore.
If you only has one collection/partition, and you don't need the index data, then it is possible to restore the original vectors.

[2022-03-07 11:12] shenjianzch commented on #15899
just one collection/partition, how to do it

[2022-03-07 12:28] czs007 opened #15915 "[Bug]: Paramtable adds interfaces for reading/writing NodeID and ensures thread safety"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

In the current code logic, it is directly read and written through Params.XXXConfig.NodeID.
In this way, a data race is likely to occur.

The following call stack is a situation when a race occurs：

[2022/03/07 10:37:48.800 +00:00] [INFO] [flow_graph_delete_node.go:10

[2022-03-07 13:20] xiaofan-luan commented on #15903
the error message do looks strange, I will fix it

[2022-03-08 02:46] binbinlv commented on #13045
The test case "test_compact_after_binary_index" failed for "BaseException: (1, 'Handoff after compact and index cost more than 1s')" in the following nightly:

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/386/pipeline/

I think the root cause is the same with this issue, @xige-16  could you help to confirm? Thanks.

1 Log:
[artifacts-milvus-distribu

[2022-03-08 02:52] soothing-rain opened #15919 "[Enhancement]: Make all logs configurable for standalone/embedded Milvus."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Milvus produces various types of log while starting up, including etcd logs, gin logs, sys logs, max proc logs, etc.

We would like these logs to be controllable. For example, to make their log level controllable. Or to suppress all logging to stdout (in embedded Milvus situat

[2022-03-08 02:53] soothing-rain commented on #15919
/assign

[2022-03-08 03:11] #15443 closed

[2022-03-08 03:29] jingkl commented on #15896
argo:
benchmark-p2k92-1
server-configmap
server-single-32c128m
client-configmap
client-random-locust-100m-ddl-r8-w2

client log：
[code]
<img width="1365" alt="截屏2022-03-08 11 21 24" src="https://user-images.githubusercontent.com/34296482/157159935-d1023759-7eaf-455a-8293-558484f8b2fd.png">

server:
[code]

[2022-03-08 03:30] yhmo commented on #15899
1. start an empty MySQL server
2. start a new milvus server 0.10.6
3. use MySQL client to login
`USE milvus;`
`SHOW TABLES;`
You will see there are four tables under the database "milvus": Environment, Fields, TableFiles, Tables.
"Environment" and "Fields" can be ignored.
We need to fill the "Tables" and "TableFiles".
"Tables" is for collections information. It has the following fields:
- id

[2022-03-08 03:59] jingkl opened #15924 "[Bug]: [benchmark][cluster] The search failed raise "StatusCode.DEADLINE_EXCEEDED" , resumed after some time"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

benchmark-vdg9z-1
server-configmap
server-cluster-8c64m-datanode2-indexnode4-querynode6
client-configmap
client-random-locust-search-84h-1b
[client.log.zip](https://github.com/milvus-io/milvus/files/8211195/client.log.zip)

[code]

server：
[code]

### Expected Behavio

[2022-03-08 05:08] soothing-rain commented on #15593
We are able to reproduce this issue.

I took a deep look at it and it turns out the memory was taken by `idCache` from `searchResult` and `queryResult`. Looking at `milvus.yaml`, the default expire time is 3600 seconds and cleanup interval is 600 seconds. Meaning that the cache could stay for at most 4200 seconds (1 hour and 10 minutes) in the worst case.
<img width="407" alt="Screen Shot 2022-03-

[2022-03-08 07:41] yanliang567 commented on #15924
@jaime0815  could you please take a look at this issue? We'd like to know why it failed at that time, although it recovered.

/unassign
/assign @jaime0815

[2022-03-08 08:34] #15909 closed

[2022-03-08 08:42] congqixia commented on #13045
Now the test case waits handoff complete for only 1 second. It's reasonable when there is only when test case running. While in CI env, there will be 6 workers running different cases. Since hand-off operation may be blocked by query/search task put into QueryChannel before, it has to wait until the Search/Query operation is done.
Maybe we shall adjust this timeout value to a more reasonable value

[2022-03-08 09:02] bigsheeper opened #15933 "[Bug]: Wrong total memory when docker memory limit is not set"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

get an enormous total memory value (9223372036854771712) from GetMemoryCount when docker limit is not set

### Expected Behavior

get the right memory value

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-03-08 11:11] kingy123 opened #15937 "[Bug]:datanode crash on data insertion"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

我使用[bootcamp master]测试脚本按如下步骤操作：
1，python main.py --collection v_test_128 -c
2，python main.py --collection v_test_128 --has
3，python main.py --collection v_test_128 --rows
4，python main.py --collection v_test_128 --index_type IVF_SQ8 --create_index
5，python main.py --

[2022-03-08 11:15] congqixia commented on #15937
Hi @kingy123 , thanks for the report! From the log your provided, it looks like pulsar has some problem. Could you please check the pulsar status and provide the log if the pulsar cluster if possible?

[2022-03-08 11:17] congqixia opened #15938 "[Enhancement]: Batch calling SegmentsSearch instead of one by one"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add an interface for `segcore segment` to batch submit search request to the segments instead of calling segment search one by one.

### Why is this needed?

Each CGO invocation will cost a lot so it's a better practice to reduce the number of CGO call and using batching metho

[2022-03-08 11:22] yanliang567 commented on #15937
@kingy123 one more question, how many entities did you insert at a time? I am asking because I doubt that if the pulsar service was broken with heavy insert workload.

[2022-03-08 11:23] letian-jiang opened #15939 "[Bug]: DescribeCollection RPC fails in DataCoord failover"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Almost the same as issue #15823 except the collection has no flushed segments yet.

Flow of events: create collection -> DN/DC crash -> drop **empty** collection -> DN/DC recovery

Cause:
* DataCoord resorts to RootCoord if there are no available segments for recoveri

[2022-03-08 11:29] fightingyuman commented on #15769
Yes, I have load before search.

[2022-03-08 11:40] fightingyuman commented on #15769
It can't release the collection, timeout within 60 seconds. It nearly every 4 million record insert.

[2022-03-08 11:53] fightingyuman commented on #15769
Does this means we do a lot query on this cluster? Can we stop this error by limit operations or scale some node?

[2022-03-08 12:12] panxuefeng235 opened #15940 "[Bug]:并发最多只有30，wrk -t12 -c400 -d30s 'http://0.0.0.0:8510/predict' 测试脚本，"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

并发最多只有30

### Expected Behavior

根据开发人员预期并发可以达到400

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-03-09 01:04] yanliang567 commented on #15939
@letian-jiang I guess you are working on it.

/assign @letian-jiang
/unassign

[2022-03-09 01:08] yanliang567 commented on #15940
@panxuefeng235 could you please share more info about how you get that result and what is your server configuration? it would be helpful, if you could offer some code script about the test

/assign @panxuefeng235
/unassign

[2022-03-09 01:09] yanliang567 commented on #15937
/assign @kingy123
/unassign

[2022-03-09 01:11] yanliang567 commented on #15933
/assign @bigsheeper
/unassign

[2022-03-09 02:10] yanliang567 commented on #12958
/unstale

[2022-03-09 02:18] panxuefeng235 commented on #15940
I use the wrk tool
wrk -t1 -c40 -d30s --scripts post.lua 'http://0.0.0.0:8510/predict'

post.lua
wrk.method = "POST"
wrk.headers["Content-Type"] = "application/json"
wrk.body = '{"label":["百里弘毅", "潮鞋"],"topk":5}'

server configuration
https://raw.githubusercontent.com/milvus-io/milvus/master/deployments/docker/standalone/docker-compose.yml -O docker-compose.yml

[2022-03-09 02:38] yanliang567 commented on #15940
@panxuefeng235 let me specify the questions:
1. what is the vector dim?
2.  how many entities are you searching in a collection?
3. did you use any index? what is the index params?
4. what is your hardware configuration, e.g. cpu, memory, ssd disk?
All the items above would impact the search qps and latency. Moreover, I guess you have some RESTful-like wapper before pymilvus(or any other SDK), thi

[2022-03-09 02:39] jennyli-z commented on #15282
https://jenkins.milvus.io:18080/blue/organizations/jenkins/milvus-ha-ci/detail/PR-15926/3/pipeline/123/  @binbinlv  Could you help check if the failed case in PR CI is the same issue or not?
test_search_with_expression

[2022-03-09 02:50] wangting0128 commented on #15523
argo task: benchmark-cluster-cron-1646773200

test yaml:
client-search-filter-sift50m-ivf-flat-2048,instanceId:5,server-configmap:server-single-16c64m

server:
[code]

client pod: benchmark-cluster-cron-1646773200-1216414682

client log:
[code]

[2022-03-09 02:53] #15536 closed

[2022-03-09 02:53] #15794 closed

[2022-03-09 03:53] #15723 closed

[2022-03-09 03:53] JackLCL opened #15949 "[Feature]: Support export data from Milvus2.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

The location of Milvus is a vector database. As a database, the data export function is a must.
I hope Milvus can provide a data export tool or a data export interface in the SDK to help users export data.

### Describe the solution you'd like.

_

[2022-03-09 03:56] #15949 closed

[2022-03-09 03:56] JackLCL commented on #15949
The same as https://github.com/milvus-io/milvus/issues/15793

[2022-03-09 04:06] #15458 closed

[2022-03-09 04:06] #15386 closed

[2022-03-09 05:32] xiaofan-luan commented on #15940
Close for now, if more help is necessary, please open an issue in English with the inforamtion yanliang request, thanks @panxuefeng235

[2022-03-09 05:32] #15940 closed

[2022-03-09 06:12] panxuefeng235 commented on #15940
1. 128dim
2. 60000
3. index_param = {
        "metric_type":"L2",
        "index_type":"IVF_SQ8",
        "params":{"nlist":1024}
    }
4.cpu
5.yeah,i use the fastapi to do the server

[2022-03-09 06:17] lucky-zhao opened #15952 "load memory fail"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I started the service with docker compose. When I call it through the Java SDK, it often appears:
io milvus. client. AbstractMilvusGrpcClient SearchRequest failed:
collection videt_ collection was not loaded into memory。

Even if I click and load through the page, it

[2022-03-09 06:42] yanliang567 commented on #15952
@lucky-zhao could you please help to upload the milvus logs for investigation? If you are running in cluster mode, please upload the querycoord and querynode logs

/assign @lucky-zhao
/unassign

[2022-03-09 06:45] XuanYang-cn commented on #15903
@xiaofan-luan #15950 only fix part of this issue.

This is printed at the SDK side, and the stack info of this error shouldn't be returned to SDK.

[2022-03-09 06:48] XuanYang-cn commented on #15915
A better-looking stack
[code]

[2022-03-09 06:50] yhmo commented on #15940
@panxuefeng235
We require all issues must be written in English.
So please change this issue title to be English and reopen it again.

[2022-03-09 07:04] lucky-zhao commented on #15952
standalone

[2022-03-09 07:10] binbinlv commented on #15283
assign @xiaofan-luan

[2022-03-09 07:13] lucky-zhao commented on #15952
<img width="1751" alt="image" src="https://user-images.githubusercontent.com/45654758/157391023-e7f45dfb-4a4c-4ab4-b840-c75bdc36046e.png">

[2022-03-09 07:18] binbinlv commented on #15283
Similar issue occurs again:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/milvus-ha-ci/detail/PR-15926/3/pipeline/123

1 Log:
[artifacts-milvus-distributed-PR-15926-3-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/milvus-ha-ci/job/PR-15926/3/artifact/artifacts-milvus-distributed-PR-15926-3-pymilvus-e2e-logs.tar.gz)

2. panic info:
[code]

[code]

[2022-03-09 07:18] XuanYang-cn commented on #15312
/reopen

[2022-03-09 07:18] XuanYang-cn commented on #15312
fixed by #15317

[2022-03-09 07:18] #15312 closed

[2022-03-09 07:20] binbinlv commented on #15283
/assign @xiaofan-luan

[2022-03-09 07:35] lonyhandsome opened #15953 "[Bug]: stopQueryCollection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

It always reports the following errors

[2022/03/09 07:30:31.133 +00:00] [ERROR] [task_scheduler.go:715] ["waitActivateTaskDone: reschedule task error"] [taskID=431701347810148430] [triggerTaskID=431701347810148429] [error="no available queryNode to allocate"] [stack=

[2022-03-09 07:37] lucky-zhao commented on #15952
<img width="1750" alt="image" src="https://user-images.githubusercontent.com/45654758/157394483-b47d598f-cbc0-4104-99d0-fd1c96879bd2.png">

[2022-03-09 07:37] XuanYang-cn commented on #15903
![image](https://user-images.githubusercontent.com/51370125/157394498-276a0c98-51be-4f5f-8851-35be7f7542d2.png)

[2022-03-09 07:43] lucky-zhao commented on #15952
[milvus-load-fail.log](https://github.com/milvus-io/milvus/files/8212648/milvus-load-fail.log)

[2022-03-09 07:57] xiaofan-luan commented on #15831
Should be able to release on 2.0.2~

[2022-03-09 07:57] #15903 closed

[2022-03-09 08:00] XuanYang-cn commented on #15367
Disabling Prometheus, CPU% still going up slightly.

[2022-03-09 08:07] heyitao commented on #15615
I have meet this problem too;
After docker-compose finished installing milvus(standelone)
I run the demo hello_milvus.py, and I got:
![image](https://user-images.githubusercontent.com/22836696/157398498-d9584b3f-097b-4536-9eb2-a7c90c0dfc18.png)
it seems not the reason "no enough memory to load the collection" beacuse only 3000 entities insert in collection. And My machine has 64GB memory.

[2022-03-09 08:12] letian-jiang opened #15957 "[Bug]: linking error in make test-cpp"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-03-09 08:24] xiaofan-luan commented on #15952
Hi @lucky-zhao ,did you check if you have enough memory to load the collection?

[2022-03-09 08:32] lucky-zhao commented on #15952
yes,I thought of this for the first time, but we have enough memory.

[2022-03-09 09:11] kingzcheung commented on #15952
I also encountered the same problem when I try to release the collection and then load the collection again.

![image](https://user-images.githubusercontent.com/12839855/157409759-fa7f2d10-4688-475f-a20a-013fbd74ba40.png)

[2022-03-09 09:12] yanliang567 commented on #15615
@heyitao please check the docker configuration for memory limitation as milvus is running by docker-compose

[2022-03-09 09:21] kingzcheung commented on #15952
Error in v2.0.1:

[code]
![image](https://user-images.githubusercontent.com/12839855/157411606-c44f0385-1316-4c5d-b1dd-869b5c953961.png)

[2022-03-09 10:06] qianchen94 commented on #13795
I just met the same problem, did anyone know how to solve it?

[2022-03-09 10:12] houlang commented on #15711
如果能做成像sqlite一样到处能跑，跨平台免安装且可以支持c++，java，python，那就非常棒了，例如：可以提供在windows下构建安装程序的接口(Milvus可跟着安装包一起被安装)。
It would be great to be able to run anywhere like sqlite, cross-platform installation-free and support c++, Java, python, for example, providing an interface to build installers in Windows (Milvus can be installed with the installation package). [machine translation]

[2022-03-09 10:21] STAROFWIND commented on #13795
I have no idea to solve this. Restart, reinstall and even try on another
physical system, all of these fail !

Vào 17:06, T.4, 9 Th3, 2022 qianchen94 ***@***.***> đã viết:

[2022-03-09 10:25] xiaofan-luan commented on #15953
/assign @sunby
could you please take a look?

[2022-03-09 11:07] piggy2303 commented on #15952
same here :)

[2022-03-09 11:14] yanliang567 commented on #15882
/assign @sunby
/unassign

[2022-03-09 12:43] jaime0815 commented on #15924
I saw QueryNode try to connect to an absent ETCD endpoint 10.96.6.99:2379,  but I had not found pod information that IP address is 10.96.6.99,  and also log of pod benchmark-vdg9z-1-milvus-querynode-7b68496fc4-2gc6l  lost some information.

[code]

[2022-03-09 12:59] soothing-rain commented on #15896
Looking at the client logs, server logs and grafana graph. It turns out that:

Server failed around 19:37:08 (GMT+8):
<img width="1165" alt="image" src="https://user-images.githubusercontent.com/69466447/157445926-7145fae2-22fd-49a0-b856-5ed52f5f6c3a.png">

Client search request also started failed at the exact time:
<img width="1054" alt="image" src="https://user-images.githubusercontent.com/6946

[2022-03-09 13:04] letian-jiang commented on #15957
It turns out that I installed gtest locally, which conflicts with the one cloned from github.

Removing the local gtest resolves this issue.

[2022-03-09 13:04] #15957 closed

[2022-03-09 14:55] fightingyuman commented on #15769
I have config `backlogQuotaDefaultLimitGB=300` for pulsar standalone, use `docker exec -it milvus-pulsar /bin/bash` to inspect in pulsar container, I find a single topic use backlog heavily others use backlog size with 0:
- **"persistent://public/default/by-dev-search-0"**: 2050844672
- "persistent://public/default/by-dev-rootcoord-dml_0": 0
- "persistent://public/default/by-dev-rootcoord-dml_1":

[2022-03-10 02:06] fightingyuman commented on #15769
It seems topic subscriptions did not ACK message, I use command `./pulsar-admin topics stats-internal "persistent://public/default/by-dev-search-0"` in pulsar container shell get internal status, it output like this:

[code]

[2022-03-10 02:30] soothing-rain commented on #15896
/assign @congqixia

[2022-03-10 02:36] #15919 closed

[2022-03-10 02:37] #15708 closed

[2022-03-10 02:46] qianchen94 commented on #13795
I solve this problem by restarting the docker, and I changed the volume path in the docker-compose.yml， It goes normal.

[2022-03-10 02:50] zhuwenxing opened #15965 "[Bug]: Search raise error after upgrading from master-20220125-6336e232 to master-20220309-5fdef607"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

search raise error
[code]

### Expected Behavior

search works well

### Steps To Reproduce

[code]

### Anything else?

job link:  https://github.com/milvus-io/milvus/runs/5486590451?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/5599298828/ar

[2022-03-10 02:51] jingkl commented on #15896
server-instance
benchmark-pbfbk-1
server-configmap
server-single-32c128m
client-configmap
client-random-locust-100m-ddl-r8-w2

milvus: master-20220309-d013134b

<img width="1362" alt="截屏2022-03-10 10 44 11" src="https://user-images.githubusercontent.com/34296482/157578414-b5855c9b-f2fe-4238-8f52-6c3deb2e3d57.png">
server:
[code]
client log:

[code]

[2022-03-10 03:04] zhuwenxing opened #15966 "[Bug]: [chaos][rootcoord]Flush hang when running hello_milvus.py after rootcoord pod recovered from pod kill"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

hangs at flush
[code]

### Expected Behavior

hello_milvus.py running well

### Steps To Reproduce

[code]

### Anything else?

job link: https://github.com/milvus-io/milvus/runs/5485150266?check_suite_focus=true
logs: https://github.com/milvus-io/milvus/suites/559782

[2022-03-10 03:27] jaime0815 commented on #15924
There are some hints of this issue.

benchmark-vdg9z-1-milvus-proxy-7d79b9946f-l24dp
[code]

benchmark-vdg9z-1-milvus-querynode-7b68496fc4-bqmcb
[code]
When QueryNode receives a search request, the following steps will happen:
1. Get segments list of the collection on this QueryNode.
2. Then search historical and streaming segments.

Meanwhile, balance operations also are triggered during searchin

[2022-03-10 03:44] sunby commented on #15953
@lonyhandsome This error message occurs when there is no QueryNode instance. How many QueryNode pods did you start? Did QueryNode pods crash or restart?

[2022-03-10 03:56] DragonDriver opened #15969 "[Enhancement]: Move internal messages from milvus.proto to internal.proto"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I want to move following messages from milvus.proto to internal.proto:

[code]

### Why is this needed?

These four messages are not imported to the grpc service of Milvus and won't be used by the client.

### Anything else?

_No response_

[2022-03-10 03:56] DragonDriver commented on #15969
/assign

[2022-03-10 03:56] yanliang567 commented on #15966
@soothing-rain could you please help on this issue?
/assign @soothing-rain
/unassign

[2022-03-10 04:08] jaime0815 commented on #15924
There are two suggestions to fix this issue:
1.  To ensure segments can not remove by balancer during searching until the searching reference count to 0
2.  Don't remove original segments and try to load the same segment on the target querynode firstly when happens balance,  until the segment became an online status on target querynode.

[2022-03-10 04:12] jaime0815 opened #15970 "[Enhancement]: Remove reader API from Mqstream interface and replace it with consumer API"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Remove reader API replace it with consumer implementation.

### Why is this needed?

Consumer API can replace reader API

### Anything else?

_No response_

[2022-03-10 05:12] zhuwenxing commented on #15965
This issue happens occasionally. On the latest try,https://github.com/milvus-io/milvus/runs/5490541863?check_suite_focus=true, it passed.

[2022-03-10 07:56] letian-jiang opened #15985 "[Enhancement]: Add segcore unit tests for inserting column-based data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add segcore unit tests for inserting column-based data.

### Why is this needed?

Prepare for invocations from querynode/datanode.

### Anything else?

_No response_

[2022-03-10 07:56] letian-jiang commented on #15985
/assign

[2022-03-10 07:56] XuanYang-cn opened #15986 "[Bug]: DataNode unittest timeout and paniked"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

https://github.com/milvus-io/milvus/runs/5478956225?check_suite_focus=true

Its `handle_watchinfo_out_of_date` in data_node_test.go:L541

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-03-10 08:03] zhuwenxing commented on #15966
another failed job: https://github.com/zhuwenxing/milvus/runs/5485266751?check_suite_focus=true

[2022-03-10 08:39] chunyuforka opened #15987 "[Bug]: Use aliyun-OSS instead of MinIO"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

## I am installing the Milvus cluster using Helm
[code]
## The following log is displayed on the Datacoord service

[code]

### Expected Behavior

### May I ask whether milvus2.0 supports ali aliyun OSS as storage?  Is there any problem with my configuration？

### Ste

[2022-03-10 08:42] LoveEachDay commented on #15987
Try  set `externalS3.enabled` to `true`

[2022-03-10 08:45] yanliang567 commented on #15987
@chunyuforka please try as suggested above
/assign @chunyuforka
/unassign

[2022-03-10 08:53] chunyuforka commented on #15987
Sorry, it was set to "true" when I installed it.
Here is a copy of the wrong template when I submitted this issus

[2022-03-10 08:57] chunyuforka commented on #15987
My install config：
[code]

[2022-03-10 09:04] chunyuforka commented on #15987
Now please review the question

[2022-03-10 09:11] LoveEachDay commented on #15987
Could you paste the `configmap` for milvus using the following command:
`kubectl get cm <release-name>-milvus -o yaml

And milvus server use `minio` sdk to access the object storage, can you check the aliyun oss access via the `mc` command, following instructions from [here](https://docs.min.io/docs/minio-client-complete-guide.html)

[2022-03-10 09:14] drow931 commented on #15952
like this, load memory fail with no index.  next is error log

`
[2022/03/10 03:45:59.098 +00:00] [ERROR] [segment_loader.go:155] ["load segment failed, set segment to meta failed"] [collectionID=431719860908064769] [partitionID=431719860908064770] [segmentID=431719860934279171] ["loadSegmentRequest msgID"=431720186412138448] [error="partition 431719860908064770 hasn't been loaded or has been rele

[2022-03-10 09:14] XuanYang-cn commented on #15986
Stuck at pulsar-client-go Seek
[code]

[2022-03-10 09:15] drow931 commented on #15952
@yanliang567 @yhmo

[2022-03-10 09:43] zhuwenxing opened #15990 "[Enhancement]: Check the availability of all collections after the chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add function to check the availability of all collections after the chaos

### Why is this needed?

For now, after chaos, only the availability of collection created before chaos has been checked. It is not sufficient.

### Anything else?

_No response_

[2022-03-10 09:43] zhuwenxing commented on #15990
/assign

[2022-03-10 09:57] zhuwenxing opened #15991 "[Enhancement]: Support input parameters into Github action workflow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Support input parameters into  Github action workflow such as image tag, components affected by the chaos

### Why is this needed?

For now, the image tag and components affected by the chaos are constant in chaos test Github action. It is not convenient if parameters need to

[2022-03-10 09:57] zhuwenxing commented on #15991
/assign

[2022-03-10 10:00] drow931 commented on #15952
Reproduce the problem， when create indexes immediately after inserting data will cause a load failure

[2022-03-10 10:32] XuanYang-cn commented on #15986
[code]

[2022-03-10 10:32] XuanYang-cn commented on #15986
Stuck at L379

[2022-03-10 10:44] chunyuforka commented on #15987
### Thank you, I used mc to test, but found some problems
[code]
### The engineer of aliyunOSS told me:
[code]

[2022-03-10 10:45] chunyuforka commented on #15987
Did I hit a dead end

[2022-03-10 11:06] LoveEachDay commented on #15987
You can try to install a minio cluster instead of using aliyun oss.

[2022-03-10 11:08] xiaofan-luan commented on #15987
We will leave the issue here see if anyone interested in integrating milvus with aliyun OSS

[2022-03-10 11:24] xiaofan-luan opened #15995 "[Enhancement]: MinioKV break the law of abstract"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

We should not expost etcdKV or MinioKV to user in case we want to import more storage.
Rename it to chunkKV or BlobKV would make more sense to me.

### Why is this needed?

In case we want to to change minio to other implementations

### Anything else?

_No response_

[2022-03-10 11:41] congqixia opened #15996 "[Bug]: Load empty collection and search with partition specified will have "partition not loaded" error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When loading an empty collection or a collection with no seal segment, the historical replica will has no partition information. So search request will return "partition %d is not loaded or released" error.

### Expected Behavior

Load empty collection and search work

[2022-03-10 12:19] chunyuforka commented on #15987
Aliyun engineers advised me to switch to HTTPS.
The 'mc cp' command is successfully executed.
But the installation still failed, the error is still reported.

[2022-03-10 12:54] jaime0815 commented on #15924
/assign @congqixia

[2022-03-10 13:00] ck-w-0 commented on #15815
can you print collection.schema you created? thx!
if i change vec_dim = len(vectors[0]) to vec_dim = len(vectors[0][0]) i can insert data

[2022-03-10 13:01] jaime0815 commented on #11995
/close

[2022-03-10 13:01] #11995 closed

[2022-03-10 13:01] jaime0815 commented on #12777
/close

[2022-03-10 13:01] #12777 closed

[2022-03-10 13:12] dariocurr opened #15998 "[Bug]: Error in the decoumentation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

A working documentation

### Why is this needed?

There is an error in the documentation.
When trying to install `milvus Offline`. I executed the following lines

[code]

then, following the guide i typed
[code]

but I was in the wrong directory, i.e `images`.

### Anything el

[2022-03-10 13:26] DragonDriver opened #15999 "[Enhancement]: Chunk manager support scalar data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I want to let chunk manager to support scalar data type.

### Why is this needed?

For now, chunk manager only support vector data type. If a field with index, raw data won't be loaded into the memory of segcore, so chunk manager is used to retrieve raw vector data in querynod

[2022-03-10 13:26] DragonDriver commented on #15999
/assign
/assign @godchen0212

[2022-03-10 14:17] xiaofan-luan commented on #15952
We will fix it ASAP~

[2022-03-10 14:54] LoveEachDay commented on #13795
You can get the log of the milvus container using the following command:
`docker logs -f milvus-standalone`

By default, we use the current working directory which contains the `docker-compose.yml` to save volumes. And the data in the volumes persisted, if you running `docker-compose up -d` several times, the metadata may be messed up.

[2022-03-10 15:14] matrixji opened #16001 "[Enhancement]: Support aliyun's oss as milvus 1.1.1's storage backend"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Latest we're finished integration with milvus-1.1.1 + aliyun's OSS.

### Why is this needed?

Maybe OSS for milvus 2.0 is more valuable, but I think there are still some guys using milvus 1.1, and the implementation could be a reference to show the diff part between S3 and OSS

[2022-03-10 15:16] matrixji commented on #16001
/assign

[2022-03-11 01:46] kingzcheung opened #16003 "[Bug]: panic after container [milvus-standalone] start"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I got error after `docker restart milvus-standalone`

[code]

### Expected Behavior

Service started

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-03-11 01:50] yanliang567 commented on #16003
@zhuwenxing could you please help to reproduce it locally?
/assign @zhuwenxing
/unassign

[2022-03-11 02:07] jennyli-z opened #16005 "[Bug]: warnings summary is annoying in test report to make misunderstand for get the right test cases failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-release-nightly/detail/milvus-release-nightly/23/pipeline/124
![image](https://user-images.githubusercontent.com/93511422/157788285-901bd0d0-eb87-45ff-b7f2-3c35926ce44f.png)

### Expected Behavior

S

[2022-03-11 02:07] jennyli-z commented on #16005
/cc @binbinlv

[2022-03-11 02:17] jennyli-z opened #16007 "[Bug]: [CI] Install failed sometimes by waiting for zookeeper ready"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-release-nightly/detail/milvus-release-nightly/23/pipeline
<img width="1396" alt="image" src="https://user-images.githubusercontent.com/93511422/157789254-642328ac-1b9f-415c-8f10-f3f5541659ac.png">

h

[2022-03-11 02:38] zhuwenxing commented on #16003
it looks like the issue https://github.com/milvus-io/milvus/issues/15713
I will check this again!

[2022-03-11 03:00] kingzcheung commented on #16003
its ok on milvus-dev:v2.0.2

[2022-03-11 03:07] soothing-rain commented on #15966
/unassign
/assign @godchen0212

[2022-03-11 03:45] yanliang567 commented on #16005
/assign @binbinlv
@binbinlv could you please help to fix this issue?

/unassign

[2022-03-11 03:46] yanliang567 commented on #15966
not reproduced last night, remove urgent label

[2022-03-11 03:50] yanliang567 commented on #15133
remove urgent label, as comments above

[2022-03-11 03:52] yanliang567 commented on #15403
remove urgent label, as it #15133 was fixed in 2.0.1

[2022-03-11 03:53] yanliang567 commented on #14077
remove urgent label, as it https://github.com/milvus-io/milvus/issues/15133 was fixed in 2.0.1

[2022-03-11 03:54] jingkl commented on #15896
server-instance
benchmark-tag-no-clean-s44mh-1
server-configmap
server-single-32c128m
client-configmap
client-random-locust-100m-ddl-r8-w2

milvus tag：2.0.2-20220309-7734b9e6

grafana

<img width="1360" alt="截屏2022-03-11 11 48 29" src="https://user-images.githubusercontent.com/34296482/157798469-e6027039-d3eb-4640-bce4-ae1f54974b62.png">

server:
[code]

client log：
[code]

[2022-03-11 06:24] xiaofan-luan commented on #16003
could you offer the nodes of querynodes and querycoord?

[2022-03-11 07:27] jennyli-z commented on #15986
[Make all logs configurable for standalone/embedded Milvus. (#15926) · milvus-io/milvus@d5bae67](https://github.com/milvus-io/milvus/runs/5489978289?check_suite_focus=true)
https://github.com/milvus-io/milvus/actions/runs/1956708899
https://github.com/milvus-io/milvus/runs/5478633495?check_suite_focus=true

[2022-03-11 08:37] houlang commented on #15711
我是蒋孝乐。已经收到您的来信，我会尽快回复。

[2022-03-11 10:04] xiyichan commented on #15674
ok

[2022-03-11 10:29] chunyuforka commented on #15987
### I successfully integrated OSS using MinIO's Gateway mode .
[code]
### Data is successfully entered into OSS during the test

[2022-03-11 10:29] #15987 closed

[2022-03-11 10:31] jingkl opened #16025 "[Bug]: [benchmark][cluster] Milvus insert and search ，raise error "message=err: context deadline exceeded""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
benchmark-tag-no-clean-9xk8n-1
server-configmap
server-cluster-8c64m
client-configmap
client-random-locust-100m-ddl-r8-w2

server:
[code]

client log:
[client_afternoon.log.zip](https://github.com/milvus-io/milvus/files/8231119/client_afternoon.log.zip