[2022-09-01 02:55] Sivannnnnn commented on #18764
@xiaofan-luan
hello，Problem 1 does not seem to have been solved

I use milvus-dev: 2.00-20220830-standlone. I have modified the rockSMQ configuration as shown below. I don't have a large amount of data, about 10 real-time data per second, but I have enabled MILvUS with 10 concurrent queries per second. The query log will also be appended to the SST file in the Milvus folder, but the SST file is no

[2022-09-01 02:55] yanliang567 commented on #18963
/assign @jiaoew1991
/unassign

[2022-09-01 03:03] psc0606 commented on #18623
Finally, we decreased the snapshot-count of etcd from 100000(default) to 20000. The problem disappeared.

[2022-09-01 03:52] weiliu1031 commented on #18846
regard this problem as a normal behavior on current query coord, due to query node restart during loadCollectionTask, there is no gurantee that this task will be successful.

[2022-09-01 03:53] yanliang567 commented on #18961
/assign @jiaoew1991
/unassign

[2022-09-01 06:32] weiliu1031 commented on #18900
root cause:
1. proxy submit createCollection/listCollection to it's ddTaskQueue
2. proxy's task_scheduler process dd task in serial
3. createCollection request came, then listCollection request came
4. createCollection hang for about 3min, so listCollection timeout before start to schedule.

[2022-09-01 06:41] binbinlv commented on #18287
This issue is the same with #18846, so close this one.

[2022-09-01 06:41] #18287 closed

[2022-09-01 06:45] binbinlv commented on #18754
It is not reproduced, so close it first, and will reopen it later if it occurs again.

[2022-09-01 06:45] #18754 closed

[2022-09-01 06:52] binbinlv commented on #18659
It has not been reproduced for several days, fixed. So close it.

[2022-09-01 06:52] #18659 closed

[2022-09-01 06:53] binbinlv commented on #15785
It has not been reproduced for a period of time, so fixed.
Close it.

[2022-09-01 06:53] #15785 closed

[2022-09-01 06:54] NicoYuan1986 commented on #18664
The error hasn't appeared these days.So close it first and will reopen it if it occurs in the future.

[2022-09-01 06:56] #18664 closed

[2022-09-01 07:05] NicoYuan1986 commented on #18794
The error hasn't appeared these days.So close it first and will reopen it if it occurs in the future.

[2022-09-01 07:05] #18794 closed

[2022-09-01 07:08] dzqoo opened #18968 "[Bug]:Failed to load collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I load collection, I got the following error:
![59103e92bb16645f6fef37dae788ffb](https://user-images.githubusercontent.com/8862305/187851476-f50b7437-28ff-4a4c-ada9-6d997439068c.jpg)
Here is all the logs:
[milvus-log.tar.gz](https://github.com/milvus-io/milvus/fi

[2022-09-01 07:08] jiaoew1991 commented on #18916
dup with https://github.com/milvus-io/milvus/issues/18931

[2022-09-01 07:09] binbinlv commented on #17528
I think this is the same with #18900, so close this one.

[2022-09-01 07:09] #17528 closed

[2022-09-01 07:20] binbinlv commented on #18621
It has not been reproduced for a period of time, fixed. So close it.

[2022-09-01 07:20] #18621 closed

[2022-09-01 07:23] binbinlv commented on #18620
Same issue with #18846, so close this issue.

[2022-09-01 07:23] #18620 closed

[2022-09-01 07:26] NicoYuan1986 commented on #18721
The error hasn't appeared these days.So close it first and will reopen it if it occurs in the future.

[2022-09-01 07:26] #18721 closed

[2022-09-01 07:33] yanliang567 commented on #18968
/assign @soothing-rain
/unassign

[2022-09-01 08:46] weiliu1031 commented on #18757
/assign @zhuwenxing

[2022-09-01 08:47] weiliu1031 commented on #18757
please verify on this

[2022-09-01 09:06] #18908 closed

[2022-09-01 11:47] #18952 closed

[2022-09-01 11:54] erezweissgloat opened #18972 "[Bug]: log.level seems to do nothing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Deployed with Helm 3.1.5, appVersion: "2.1.1".
When I change log.level to "info", the pods still print all the debug logs.
I've verified that the configmap was updated and that the pods contains this configmap.

### Expected Behavior

When I change log.level to "info"

[2022-09-02 01:28] 2mickey opened #18976 "[Bug]: fail to install milvus with kubesphere"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

按照b站教程安装最新milvus提示失败

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-02 01:58] #18910 closed

[2022-09-02 01:58] complexly commented on #17165
Hi @skye95git, I am wondering if you have succeeded in running milvus on singularity? I came across difficulties for the root/sudo issues, could you share some of your singularity-compose file? Thanks!

[2022-09-02 02:06] yanliang567 commented on #18976
could you please refer to milvus.io and try again? https://milvus.io/docs/v2.1.x/install_standalone-helm.md
If it failed again, please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation

/assign @2mickey
/unassign

[2022-09-02 02:10] zhuwenxing commented on #18756
querynode pod failure

Not exactly the same, the new error message is `pymilvus.exceptions.MilvusException: <MilvusException: (code=1, message=fail to search on all shard leaders, err=fail to Search, QueryNode ID=2, reason=stream operation failed: taskScheduler AddReadTask context is done)>`

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/913/pipel

[2022-09-02 02:20] NicoYuan1986 opened #18977 "[Bug]: [Nightly] Search failed reporting "fail to Search, QueryNode ID=6, reason query node 0 is not ready err %!w(<nil>""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search failed reporting "fail to Search, QueryNode ID=6, reason query node 0 is not ready err %!w(<nil>"
[code]

### Expected Behavior

PASSED

### Steps To Reproduce

[code]

### Milvus Log

1. milvus log:[artifacts-milvus-distributed-kafka-nightly-73-pymilvus-e2e-lo

[2022-09-02 02:28] jingkl opened #18978 "[Bug]: [Diskann Index]Milvus searches after creating a diskann index and reports an unclear error when entering out-of-range search parameters"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

**There are two problems with this log.
1. the error reporting statements in the log are too long and unclear
2. The parameter range of search_list is incorrect and does not match the maximum search list of 65535*3**

server：

[code]

log：
[code]

### Expected Behavio

[2022-09-02 02:31] binbinlv commented on #18944
Close this issue for fixed.

[2022-09-02 02:31] #18944 closed

[2022-09-02 02:33] binbinlv commented on #18951
OK, checking.

[2022-09-02 02:35] NicoYuan1986 commented on #17750
Same issue appears again in the following latest 2.1.* nightly:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/qa%2Fmilvus-release-nightly/detail/milvus-release-nightly/74/pipeline/177
1. milvus log: [milvus-distributed-kafka-74-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/qa/job/milvus-release-nightly/74/artifact/milvus-distributed-kafka-74-pymilvus-e2e-logs.tar.gz)
2

[2022-09-02 02:35] binbinlv commented on #18810
working on it.

[2022-09-02 02:39] soothing-rain opened #18979 "[Bug]: HelloMilvus hang during indexing phase if StorageType is set to local"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

hello milvus will hang while creating index if `storageType` is set to from `minio` to `local` in `milvus.yaml`:

[code]

This won't happen with `minio` storageType.

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

[standalone.log

[2022-09-02 02:40] soothing-rain commented on #18979
/unassign @yanliang567
/assign @xiaocai2333

[2022-09-02 02:41] NicoYuan1986 commented on #18846
This issue is coming up more and more frequently. Take one of them for example:
1. milvus: master(10d1140) pymilvus: 2.2.0.dev23
2. FAILED time: [2022-09-01T15:15:16.784Z] [gw3] [ 46%] FAILED testcases/test_query.py::TestQueryParams::test_query_expr_not_in_empty_and_all[3000]
3. collection name: query_qfYX7h7K
4. nightly: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%

[2022-09-02 02:47] binbinlv commented on #18810
Can not reproduce this issue on master version:

[code]

[2022-09-02 03:29] yanliang567 commented on #18977
/assgin @jiaoew1991
/unassign

[2022-09-02 03:31] yanliang567 commented on #18972
/assign @LoveEachDay
/unassign

[2022-09-02 03:48] binbinlv commented on #18810
Can not reproduce this issue on 2.1.1  either (milvus: 2.1.1 pymilvus: 2.0.2) as the scenario of this issue:
Collection()
collection.load()
collection.create_partition()
collection.drop()
Collection()
collection.load()
collection.create_partition()
collection.search()

[2022-09-02 03:53] yanliang567 commented on #18810
@binbinlv what about if we insert some data in the new created partition as well.

[2022-09-02 04:07] binbinlv commented on #18810
@yanliang567  I tried the following scenarios, all of them are OK.
1. collection inserted without data
2. collection inserted with data, but partition without data
3. both collection and partition inserted data

[2022-09-02 04:07] zhuwenxing commented on #18759
image version: 2.1.0-20220901-494445b
failed job:https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release/detail/chaos-test-for-release/118/pipeline/70
log:
[artifacts-querynode-pod-kill-118-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9474790/artifacts-querynode-pod-kill-118-server-logs.tar.gz)

[artifacts-querynode-pod-kill-118-pytest-logs.tar.gz](https://g

[2022-09-02 04:08] binbinlv commented on #18810
@stringk245
Could you provide your script? And what is the inserted data from your side?

Thanks.

[2022-09-02 04:18] yhmo opened #18985 "[Bug]: Poor performance when inserting binary vectors"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Use the following script to insert binary vectors, 50000 entities per insert action:
[code]
The time cost statistics:
[code]

Then use the following script to insert float vectors, 5000 entities per insert action:
[code]

The time cost statistics:
[code]

The performa

[2022-09-02 04:36] yanliang567 commented on #18985
/assign @soothing-rain
/unassign

[2022-09-02 06:14] binbinlv commented on #18407
So here it works as design? If so, I think this issue could be closed?

[2022-09-02 06:18] hukang6677 opened #18988 "[Bug]: milvus集群异常fail to search on all shard leaders"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![fc9b4b324ee2855c733c98af2031d30](https://user-images.githubusercontent.com/102129512/188071057-953ba587-baab-43fa-8c9e-d07fb8f85d7e.png)
![667abbca69634991885f79408bf0752](https://user-images.githubusercontent.com/102129512/188071082-94f272bd-a10c-4252-a61c-29f69e0a

[2022-09-02 06:19] #18407 closed

[2022-09-02 06:21] bjjoy commented on #18407
pk is unsigned int64 in milvus 2.0.*，python mmh3 generate the signed int64.

[2022-09-02 06:21] nameczz commented on #18922
It's cli bug, will fix it in next release

[2022-09-02 06:36] zhuwenxing commented on #18757
Not reproduced yet, so close it for now.

[2022-09-02 06:36] #18757 closed

[2022-09-02 06:40] 2mickey commented on #18976
Error: error while running post render on files: error while running command /tmp/helm-operator/milvus_milvus-91cslp_728p137yzzlml4/helm-post-render.sh. error output: Error: map[string]interface {}(nil): yaml: unmarshal errors: line 49: mapping key "httpNumThreads" already defined at line 37 : exit status 1

[2022-09-02 06:45] yanliang567 commented on #18988
/assign @jiaoew1991
/unassign

[2022-09-02 06:50] yanliang567 commented on #18976
@LoveEachDay could u please help on this?

/assign @LoveEachDay
/unassign @2mickey

[2022-09-02 07:15] soothing-rain commented on #18985
/unassign
/assign @yhmo

[2022-09-02 07:18] zhuwenxing opened #18992 "[Bug]: Wrong error message when vector filed name is not same with numpy file name for bulk load"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

The error should be `field name not match with file name`

### Steps To Reproduce

_No response_

### Milvus Log

[test-milvus-bulk-load-09-02.zip](https://github.com/milvus-io/milvus/files/9475784/test-milvus-bulk-load-09-02.zip)

### A

[2022-09-02 07:18] zhuwenxing commented on #18992
/assign @yhmo
Please help to have a look.

[2022-09-02 07:24] zhuwenxing commented on #18992
another error message
[code]

[2022-09-02 07:35] BorisPolonsky commented on #17981
I've installed milvus v2.1.1 via helm chart(v3.1.9) with external kafka configured and I'm facing the same Issue. Here's what I got upon creating collection. Here's what I got in logs of `datacoord`
[code]
Any solutions?

[2022-09-02 07:38] #18776 closed

[2022-09-02 07:43] ThreadDao opened #18994 "[Bug]: After upgrade milvus version, the index created before does not exist and the search result is empty"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Deploy milvus cluster with image `v2.1.1`
2. Insert entities 20000, dim 128
3. Create index successfully `default_index_params = {"index_type": "IVF_SQ8", "metric_type": "L2", "params": {"nlist": 64}}`
4. Upgrade milvus image to `master-20220902-4c1e7bc`
- collecti

[2022-09-02 07:57] huangjincheng2022 opened #18995 "[Bug]: [Pymilvus] RBAC permission deny expect formatted exception response entity"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1、switch on RBAC
2、create a role and a new user
3、bind user to role
4、use new user connect to database
5、create collection、collection compact、load collection、release collection etc.
expect:Milvus Exception response  like {code:1, message:"permission deny"}
now: unform

[2022-09-02 08:18] BorisPolonsky commented on #17981
Could you elaborate and tell us how we should know each of the topic needed so that we could create them manually in external kafka deployment?
https://github.com/milvus-io/milvus/discussions/17110

[2022-09-02 09:20] jiaoew1991 commented on #18988
/assign @weiliu1031
/unassign

[2022-09-02 09:21] #18822 closed

[2022-09-02 09:21] #18916 closed

[2022-09-02 09:23] jiaoew1991 commented on #18845
this case can pass at 2.1.0 but failed after 2.1.2, need invest what different between this 2 versions

[2022-09-02 09:23] jiaoew1991 commented on #18845
/assign @aoiasd

[2022-09-02 10:25] LoveEachDay commented on #18764
@Sivannnnnn How do you change the `milvus.yaml` in the docker container?  For now there is a issue when you restart the milvus container, which will makes rocksmq retention failed.

So you can just run docker-compose without change the `milvus.yaml` in the container. And wait a day to check out the disk usages of rocksmq.

And for the `logs` directory in side `/var/lib/milvus` directory, do you se

[2022-09-02 10:35] LoveEachDay commented on #18976
`httpNumThreads` is a config for pulsar proxy. Seems this key was duplicated in the config.
@2mickey Could you provide the detailed procedures for installing milvus with kubersphere?

[2022-09-02 10:39] #18938 closed

[2022-09-02 10:41] #18929 closed

[2022-09-02 10:42] bigsheeper opened #18999 "[Bug]: DescribeCollection cache was never hit in Proxy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

DescribeCollection cache was never hit in Proxy due to describeCollection didn't return collectionName, and Proxy use collectionName to check if cache is hit.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

[2022-09-02 10:42] bigsheeper commented on #18999
/assign

[2022-09-02 10:46] LoveEachDay commented on #18972
@erezweissgloat There are some history that the config of `log.level` doesn't take effect at the milvus component initialization.  So even if you change the `log.level` to `info`, there will still part of `debug` log in the beginning. But after the initialization, it will only output `info` log and above.

[2022-09-02 10:57] cndpzc opened #19003 "[Bug]: Search latency becomes high when migrating data from 1.1 to 2.1 by Milvus Data Migration Tool"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When we migrate data from V1.1 to V2.1, we find that search latency becomes very high, from 10ms in V1.1 to 300ms+.

Data properties:

- Row count: 5.5M
- Dim 100
- Index: IVF_FLAT with nlist = 4096

Search pattern
- nq=1, topk=5, nprobe=128
- concurrency=1

### Expec

[2022-09-02 11:04] 2mickey commented on #18976
直接按照b站教程做的，你们可以试试看？或者可以远程帮看看吗？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "milvus-io/milvus"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年9月2日(星期五) 晚上6:35
***@***.***&gt;;
***@***.******@***.***

[2022-09-02 11:54] congqixia opened #19004 "[Bug]: Timestamp range is not set in insert& stats binlog meta"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

`TimestampFrom` and  `TimestampTo` is always zero for insert & stats binlog.

### Expected Behavior

`TimestampFrom` and  `TimestampTo` set properly.

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-02 12:19] nleroy917 commented on #18489
@LoveEachDay @xiaofan-luan @yhmo Allocating more resources to docker solved my problems! Running very stable now. I sort of hijacked this issue thread, so not sure if the original author is still having issues or if you can close this.

Thanks for all the help.

[2022-09-04 01:05] #19004 closed

[2022-09-04 01:06] xiaofan-luan commented on #19003
/assign @czs007
please follow up why the search latency is high?

[2022-09-04 01:18] xiaofan-luan commented on #18999
pls check DescribeCollection usage in proxy and other component, we want to make sure every call in proxy has to go to meta cache but not directly call "DescribeCollection"

[2022-09-04 01:28] xiaofan-luan opened #19006 "[Enhancement]: Proxy should cache all meta information"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

1. Including collection meta
2.Load/Release info -> checkIfLoaded must go through cache
3. other calls in read/write path need to be checked.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-09-04 01:29] xiaofan-luan commented on #19006
/assign @czs007

[2022-09-04 01:30] xiaofan-luan commented on #18972
Yep, before log module is init, there will be some output but it should be soon be removed

[2022-09-04 03:10] xiaofan-luan commented on #18999
see also #19006

[2022-09-04 03:11] xiaofan-luan commented on #18580
is this still a issue?

[2022-09-04 07:16] erezweissgloat commented on #18972
Thank you guys

[2022-09-04 19:38] mazitovs opened #19007 "[Feature]: Raise searching output limits (topk)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

I need to do approx search by 200m docs dataset, and 16k topk is very small limit for me

### Describe the solution you'd like.

Raise topk 16k -> 65k as it was previously

### Describe an alternate solution.

_No response_

### Anything else? (Ad

[2022-09-05 01:32] bestRiven opened #19008 "[Bug]: v2.1.1 Service often goes down"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[2022/09/04 22:29:18.505 +00:00] [ERROR] [datanode/flow_graph_delete_node.go:248] ["failed to flush delete data, err = All attempts results:\nattempt #1:invalid start/end timestamp\nattempt #2:invalid start/end timestamp\nattempt #3:invalid start/end timestamp\nattemp

[2022-09-05 01:40] yanliang567 commented on #19008
@bestRiven thank you for the issue, could you please share more details about the reproduce steps? Also please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation.

/assign @bestRiven
/unassign

[2022-09-05 02:27] xige-16 commented on #18978
The value range of the search list is (topk, topk * 10). If the search list is not in this range, an error will be reported. In addition, the error message is not good. I will fix it sson.

[2022-09-05 02:36] xige-16 commented on #18958
The type of search list is int, but when segcore checks the type of search list, it is checked as string, I will fix it.

[2022-09-05 02:40] xige-16 commented on #18928
When indexnode retries to build the diskann task, because the corresponding local index directory has been created for the first time, the creation will fail because the directory already exists when it is created for the second time, resulting in the build index task being unable to succeed all the time.

[2022-09-05 02:50] bigsheeper commented on #18999
There's only one direct `DescribeCollection` call without going to meta cache——implementation of `GetRecoveryInfo` in DataCoord. I think it's just fine to call `DescribeCollection` because `GetRecoveryInfo` is not very frequent. How do you think? @xiaofan-luan

[2022-09-05 02:52] xige-16 commented on #18928
TODO：
1. When the build index fails, the local directory needs to be cleaned up.
2. When creating a local directory, first check whether the directory exists. If it exists, it will not be created again.

[2022-09-05 02:55] xige-16 commented on #18862
In this case, the index node will fail to execute the buildindex task, but the index task will be retried infinitely, and the indexcoord cannot throw the error information of the build index, so the indexcoord needs to be able to throw an error when creating an index

[2022-09-05 02:56] xige-16 commented on #18862
/assign @czs007
/assign @xiaocai2333

[2022-09-05 02:57] xige-16 commented on #18837
it will be fixed soon.

[2022-09-05 03:14] zhuwenxing opened #19011 "[Bug]: Create index timeout for 2.1 branch image sometimes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/188353483-1bd0f812-86b2-48db-8dc0-2e2b004c646d.png)
[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/o

[2022-09-05 03:42] zhuwenxing commented on #18940
version: 2.1.0-20220902-853793a
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_for_release/detail/deploy_test_for_release/22/pipeline

log:
[artifacts-standalone-reinstall-22-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/9486529/artifacts-standalone-reinstall-22-pytest-logs.tar.gz)

[artifacts-standalone-reinstall-22-server-logs.tar.gz](https://gith

[2022-09-05 04:04] NicoYuan1986 commented on #18846
Take the latest one for example:
1. milvus:master(68a6587)  pymilvus: 2.2.0.dev26
2. FAILED time: [2022-09-04T19:15:08.299Z] [gw2] [ 47%] FAILED testcases/test_search.py::TestCollectionSearch::test_search_with_dup_primary_key[128-False-True-2]
3. collection name: search_collection_PkDZZsHH
4. nightly: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/79

[2022-09-05 04:13] huangjincheng2022 opened #19012 "[Bug]: RBAC fail to grant collection compaction privilege by collection name"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

execute collection_w.compact() failed,  recieve message permission deny

[code]

### Expected Behavior

when I use `role_grant("Collection", collection_name, "Compaction") `  grant collection compaction privilege, it not works

### Steps To Reproduce

[code]

### Milv

[2022-09-05 05:08] NicoYuan1986 commented on #18899
The same issue occurs:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/78/pipeline/143
1. milvus:master(68a6587) pymilvus:2.2.0.dev26
2. FAILED time: [2022-09-04T15:48:59.968Z] [gw1] [ 83%] FAILED testcases/test_search.py::TestCollectionSearch::test_search_multi_collections[5000-2-8-True-True]
3. collection name: search_collection_lFYRfA0P
4. milvus l

[2022-09-05 05:22] NicoYuan1986 opened #19014 "[Bug]: [Nightly]Search failed reporting "code=1, message=, context deadline exceeded""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search failed reporting "code=1, message=, context deadline exceeded".
[code]

### Expected Behavior

PASSED

### Steps To Reproduce

[code]

### Milvus Log

1. FAILED time: [2022-09-04T15:20:12.496Z] [gw2] [ 45%] FAILED testcases/test_search.py::TestCollectionSearch:

[2022-09-05 05:27] NicoYuan1986 commented on #18724
It occurs again in master branch nightly:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/78/pipeline/187/

milvus version:68a6587 (master)
pymilvus version:2.2.0.dev26

1. milvus log:[artifacts-milvus-distributed-pulsar-nightly-78-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/78/artifact/artifacts-milv

[2022-09-05 05:36] Sivannnnnn commented on #18764
@LoveEachDay  Log-related configuration I use the default configuration
![image](https://user-images.githubusercontent.com/46392469/188367709-0cc12f00-5fee-4983-94bc-5ed27a47735e.png)

[2022-09-05 05:37] Sivannnnnn commented on #18764
@LoveEachDay  I modify the contents of the configuration file by file mapping
![image](https://user-images.githubusercontent.com/46392469/188367865-b87bf995-cd33-4e1c-afce-d8acbfbba1db.png)

[2022-09-05 06:10] JackLCL commented on #18067
@p363796822  Can you find the milvus log? Do you need other help?

[2022-09-05 06:14] NicoYuan1986 commented on #18961
Latest:
The error occurs in the nightly for the master(68a6587) branch:https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/78/pipeline/187/
1. milvus log: [artifacts-milvus-distributed-pulsar-nightly-78-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/78/artifact/artifacts-milvus-distributed-pulsar-nightly-78-

[2022-09-05 06:17] yuliu-eric opened #19015 "[Bug]: Logs copy issue in 2.1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Script `export-milvus-log.sh` only copy very few logs. Please see config details below:

Milvus git repo version

- commit b427450593245f1ce49e9df2d1d2700be581e75c (HEAD -> dev, tag: v2.1.0-testing-20220804, origin/master, origin/HEAD, master)

Cmd to copy logs

-  ./

[2022-09-05 06:19] NicoYuan1986 commented on #17725
The issue steadily appears every day.
Taking one failed case (test_compact_manual_and_auto) as an example:
1. milvus: 2.1.*  pymilvus:2.1.2.dev2
2. collection name: compact_QlHsE95l
3. log: [milvus-standalone-81-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/qa/job/milvus-release-nightly/81/artifact/milvus-standalone-81-pymilvus-e2e-logs.tar.gz)
[code]

[2022-09-05 07:01] congqixia commented on #18940
@zhuwenxing the log is not complete for second deploy.
Also, milvus standalone crashed at very start point of second deploy:
[code]
And the next several run succeed (run 27,28, 30,32). Run 33 is still running with two pipepline passed.

[2022-09-05 07:05] yanliang567 commented on #19015
/assign @LoveEachDay
/unassign

[2022-09-05 07:11] yanliang567 commented on #19011
/assign @czs007
/unassign

[2022-09-05 07:29] NicoYuan1986 commented on #18855
Latest test results：
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/75/pipeline/123
1. milvus:master(9cd19f5)  pymilvus: 2.2.0.dev26
2. failed time: [2022-09-02T19:35:41.924Z] [gw0] [ 97%] FAILED testcases/test_utility.py::TestUtilityAdvanced::test_handoff_query_search
3. collection name: utility_Xjg0sZV2
4. milvus log: [artifacts-milvus-standalone-n

[2022-09-05 07:35] zhuwenxing commented on #18828
v2.1.0 --> 2.1.0-20220902-853793a

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_for_release/detail/deploy_test_for_release/34/pipeline

log:
[artifacts-cluster-upgrade-34-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/9487650/artifacts-cluster-upgrade-34-pytest-logs.tar.gz)

[artifacts-cluster-upgrade-34-server-logs.tar.gz](https://github.com/milvu

[2022-09-05 07:51] ICLzhang commented on #19015
After eliminating the problem of milvus pod restart, the exported log is still very short, about 1min

[2022-09-05 07:56] ICLzhang commented on #19015
[logs-20220903.tar.gz](https://github.com/milvus-io/milvus/files/9487825/logs-20220903.tar.gz)

[2022-09-05 07:58] zhuwenxing opened #19017 "[Bug]: Flush hang after datanode and many other components pod kill or pod failure chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/188397178-07acb156-9aa0-43b4-9b22-2001029ec6d7.png)

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/

[2022-09-05 08:13] zhuwenxing commented on #19017
etcd pod kill
master-20220902-9cd19f5

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/955/pipeline
log:
[artifacts-etcd-pod-kill-955-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9487939/artifacts-etcd-pod-kill-955-server-logs.tar.gz)
[artifacts-etcd-pod-kill-955-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/9487944/

[2022-09-05 08:18] SimFG opened #19018 "[Bug]: the `Flush` privilege can't be granted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The `Flush` privilege can't be granted

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-05 08:18] psc0606 opened #19019 "[Bug]: query performance become worser when a querynode was down"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When one querynode of milvus was down, then a new querynode was added into the cluster. But an abnormal phenomenon occurred:
The query performance become worser though a new querynode recovered.
![image](https://user-images.githubusercontent.com/7888889/188401924-dcf1

[2022-09-05 08:19] SimFG commented on #19018
/assign @SimFG

[2022-09-05 08:37] LoveEachDay commented on #19015
@yuliu-eric `export-pod-log.sh` only export the logs using `kubectl` which relies the container runtime to fetch the log.  This script does not fetch log from the persistence log path.

Please check whether you set any log rotation for docker like this:
[code]
Or do you config the following options for kubelet:
[code]

[2022-09-05 08:40] xiaocai2333 commented on #18979
I will working on this~

[2022-09-05 08:50] weiliu1031 commented on #18988
about the `NPE` in your code, you can debug your 'MilvusTest2' code. you can also show your code here

[2022-09-05 08:57] weiliu1031 commented on #18988
about why your Attu show two empty query node info:
1. from the log,  the query node has restarted twice with `ServerId=1` and `ServerId=11`, and the latest is `ServerId=19`
2. maybe query node crush suddenly, and some session info hasn't been cleared. and Attu is affected,  i will check this with Attu's engineer.

[2022-09-05 09:40] weiliu1031 commented on #19014
/assign @weiliu1031

[2022-09-05 09:40] weiliu1031 commented on #19014
same problem with https://github.com/milvus-io/milvus/issues/18846#issuecomment-1236520468

query node restart cause load collection failed.

[2022-09-05 10:00] ICLzhang commented on #19018
Can you provide a more detailed description of the process where the problem occurs or export the logs with the log tool。https://github.com/milvus-io/milvus/tree/master/deployments/export-log

[2022-09-05 10:14] cjh6666688888 opened #19027 "[Bug]: fail to search on all shard leaders"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Query exception：
fail to search on all shard leaders, err=fail to Search, QueryNode ID=341, reason=ShardCluster for nlp_one-rootcoord-dml_2_435509622751625217v0 replicaID 435236143614925732 is no available
fail to search on all shard leaders, err=fail to Search, Query

[2022-09-05 10:35] jiaoew1991 commented on #18961
one of the querynode which id is 10 has restarted, the restart reason should be figured out in another issue, after restarted there were 2 shard leaders in one shard, which caused brain split, some segments which should be online been released

we will try to find the reason.

[2022-09-05 10:52] yanliang567 commented on #19012
/assign @SimFG
/unassign

[2022-09-05 10:54] yanliang567 commented on #19012
/assign @jiaoew1991

We shall use collection name instead of id in all user APIs

[2022-09-05 10:55] yanliang567 commented on #19017
/assign @soothing-rain
/unassign

[2022-09-05 10:56] yanliang567 commented on #19027
Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

/assign @cjh6666688888
/unassign

[2022-09-05 10:57] yanliang567 commented on #19019
/assign @xige-16
sound like a load inbalance issue

/unassign

[2022-09-05 11:02] #18931 closed

[2022-09-05 11:25] zhuwenxing commented on #19011
It blocked many tests, so set it as critical

[2022-09-05 11:32] bigsheeper commented on #19003
Hi~ @cndpzc , I'd like to know what kind of consistency level you use when create collection and search, for more infomation: https://milvus.io/docs/v2.1.x/consistency.md

[2022-09-05 13:06] #19018 closed

[2022-09-06 02:21] soothing-rain commented on #19017
/unassign
/assign @wayblink
Can you help looking at this?

[2022-09-06 02:23] jennyli-z opened #19035 "[Bug]: UT should be failed when upload codecov report failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/93511422/188533391-98a4748d-8f1d-47a9-9362-39b329888fd2.png)
https://github.com/milvus-io/milvus/runs/8189325242?check_suite_focus=true
the result is still passed, when it actually failed with error message in above s

[2022-09-06 02:23] zhuwenxing commented on #19017
This also happened in branch 2.1 in many test cases:

datanode pod kill: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release/detail/chaos-test-for-release/194/pipeline

etcd pod kill: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release/detail/chaos-test-for-release/202/pipeline

[2022-09-06 02:24] soothing-rain commented on #15711
Done:
https://github.com/milvus-io/embd-milvus

/unassign

[2022-09-06 02:24] jennyli-z commented on #19035
/assigne

[2022-09-06 02:24] jennyli-z commented on #19035
/assign

[2022-09-06 02:34] XuanYang-cn commented on #18893
@xiaofan-luan Each query is mapped to retrieve one segment. So my plan was to sort each retrieved result for one segment and merge them with limit if provided. Sort for one segment is controllable, and also a great benchmark baseline.

[code]

[2022-09-06 02:38] soothing-rain commented on #18885
Sorry I missed this, it seems that there's a bad segment that is not loaded by DataNode correctly.

Can you try our latest `birdwatcher` tool to figure out what is going on with this segment?

You can do (in birdwatcher):
[code]

[2022-09-06 02:38] yanliang567 opened #19037 "[Bug]: Memory Leak on QueryCoord, goroutine increased to 1 million"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

querycoord memory increased to 5+GB in 24 hours, and Goroutines querycoord increased to 1+ million
![image](https://user-images.githubusercontent.com/82361606/188534985-424a0470-449a-4f57-b742-39e83ea68ba9.png)
![image](https://user-images.githubusercontent.com/823616

[2022-09-06 02:39] yanliang567 commented on #19037
/assign @jiaoew1991
/unassign

[2022-09-06 02:54] NicoYuan1986 opened #19038 "[Bug]: [Nightly]Milvus crashed reporting "can't find collection""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus crashed:
[code]

### Expected Behavior

ALL PASSED

### Steps To Reproduce

[code]

### Milvus Log

1. log: [artifacts-milvus-distributed-kafka-nightly-81-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/81/artifact

[2022-09-06 02:59] XuanYang-cn commented on #18893
@xiaofan-luan Using rowID could save the sorting part, good optimisation for offset+limit way. If we would change the underneath storage, I suggest implementing both sorts and making it an option. And we need to benchmark both solutions to measure performance.

To use rowID for sorting results,
- [ ] firstly, we need to fill the rowID field to retrieve results in segcore.
- [ ] Secondly,  we need

[2022-09-06 03:01] binbinlv commented on #19038
The following info may be a help:
1. all the panic log file:
[code]

2. And another panic except for the mentioned above;
[code]

[2022-09-06 03:03] jingkl commented on #18791
server-instance
fouram-cron-1662393600-6
server-configmap
server-single-16c64m
client-configmap
client-search-sift50m-ivf-flat-2048

master-20220905-2bafdf8
pymilvus 2.2.0.dev23

**The latest tag from master runs without a timeout, so the issue is turned off first**

[code]
[code]

[2022-09-06 03:03] #18791 closed

[2022-09-06 03:24] cndpzc commented on #19003
I see the consistency level of collection is strong, and I don't set consistency level in search.

[2022-09-06 03:27] bigsheeper commented on #19003
you can try with consistency level EVENTUALLY,  if everything goes well, latency would be going down.

[2022-09-06 03:28] zhuwenxing commented on #18706
not reproduced yet, so close it

[2022-09-06 03:28] #18706 closed

[2022-09-06 03:36] cndpzc commented on #19003
In creating collection or search query?

[2022-09-06 03:41] bigsheeper commented on #19003
Search's priority of consistency level is higher than createCollection. If the cluster is still running, would try set consistency level when search. If not, could set when create collection. Anyway, for your convenient.

[2022-09-06 03:52] WeiDong-Shi commented on #18516
Regarding this question, I have not conducted a test recently. If it is repeated in the subsequent test, I will provide more detailed information again.

[2022-09-06 03:54] jennyli-z opened #19039 "[Bug]: Unstable ut failed for msgstream"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://github.com/milvus-io/milvus/runs/8185786388?check_suite_focus=true
it failed sometime github.com/milvus-io/milvus/internal/mq/msgstream
![image](https://user-images.githubusercontent.com/93511422/188543686-acbd336d-38d5-402a-84ae-a491217fd156.png)

### Expecte

[2022-09-06 04:39] #19035 closed

[2022-09-06 05:43] cndpzc commented on #19003
@bigsheeper I set consistency level to `Eventually` in search, but latency remains 200-300ms.

[2022-09-06 05:54] zhuwenxing commented on #18380
not reproduced yet, so close it.

[2022-09-06 05:54] #18380 closed

[2022-09-06 06:01] jingkl opened #19041 "[Bug]: [Diskann Index]Milvus creates a diskann index that exceeds the MaxDiskUsagePercentage setting of the disk, no error is reported"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-jj-no-clean-96pwr-1
server-configmap
server-single-8c32m-diskann
client-configmap
client-search-sift20m-diskann-searchlist30

<img width="1440" alt="截屏2022-09-06 10 24 03" src="https://user-images.githubusercontent.com/34296482/188557131-1d0fc62

[2022-09-06 06:02] yuliu-eric commented on #19015
@LoveEachDay Nope, neither was set.

k8s pod yaml config
[code]

logs collected from kubectl logs:
[code]

[2022-09-06 06:02] zhuwenxing commented on #18870
Not reproduced yet, so close it.

[2022-09-06 06:02] #18870 closed

[2022-09-06 06:03] NicoYuan1986 commented on #15282
Recently:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/qa%2Fmilvus-release-nightly/detail/milvus-release-nightly/82/pipeline/177

1. milvus: 2.1.*   pymilvus: 2.1.2.dev2
2. Failed timeline: [2022-09-05T21:04:26.987Z] [gw0] [ 99%] FAILED testcases/test_search.py::TestCollectionSearch::test_search_multi_collections[5000-2-8-True-False]
3. log: [milvus-distributed-kafka-82-pymilvus-e2e-

[2022-09-06 06:10] bigsheeper commented on #19003
Hello @cndpzc ,can you offer me the script you run? If there's any confidential information, you could remove that confidential part.

[2022-09-06 06:13] zhuwenxing commented on #18940
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_for_release/detail/deploy_test_for_release/50/pipeline

![image](https://user-images.githubusercontent.com/12268675/188559459-2e1f10ba-091e-46de-a24c-3fdaf4243187.png)
![image](https://user-images.githubusercontent.com/12268675/188559526-e9fd1496-bce6-46f4-ab23-216a0b51da29.png)

log:
[artifacts-cluster-upgrade-50-pyte

[2022-09-06 06:14] bigsheeper commented on #19011
/assign

[2022-09-06 06:17] dzqoo opened #19042 "[Bug]: "search Request latency" and "search segment latency" are quite low,but the search latency of end to end is still high."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I expand querynode's num to 30,I got a real low "search Request latency" and "search segment latency",where is dozens ms .BUT, the end2end search latency is still high，where is exceed 300ms.
I wonder to know where is the bottleneck.

- Here is the metrics dashboa

[2022-09-06 06:19] zhuwenxing commented on #18826
It duplicates with https://github.com/milvus-io/milvus/issues/18940
so close it and keep watching https://github.com/milvus-io/milvus/issues/18940

[2022-09-06 06:19] #18826 closed

[2022-09-06 06:24] XuanYang-cn opened #19043 "[Enhancement]: Enable pagination"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

- [x] Enable search pagination
- [x] Enable query pagination

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-09-06 06:31] dzqoo commented on #19042
[milvus-log.tar.gz](https://github.com/milvus-io/milvus/files/9493853/milvus-log.tar.gz)
reupload milvus log

[2022-09-06 06:38] ThreadDao opened #19046 "[Bug]: After upgrade milvus version, create index 2w entities timeout 3600s"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Deploy milvus cluster with v2.1.1
2. Create collection -> load collection -> insert 2w, dim=128 -> search
3. Upgrade cluster to master `master-20220906-495b214`
4. Create index
[code]
client log:
[code]

client pod:
- cluster: devops
- namespace: qa
- pod: `cluster

[2022-09-06 06:40] zhuwenxing commented on #19011
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_for_release/detail/deploy_test_for_release/50/pipeline

The different thing is creating index timeout after the second Milvus deployment.

log:
[Uploading artifacts-cluster-upgrade-50-pytest-logs (1).tar.gz…]()
[artifacts-cluster-upgrade-50-server-logs (2).tar.gz](https://github.com/milvus-io/milvus/files/9493814/artif

[2022-09-06 06:48] dzqoo commented on #19042
please refer the ”ai-diagnose-test“ part.Thanks.

[2022-09-06 06:58] LoveEachDay commented on #19015
@yuliu-eric Could you check the `log.level` config for your installation? And Could you using these `export-logs.sh` and `kubectl logs` two commands to export the logs, and compare them two.

[2022-09-06 07:02] yanliang567 commented on #19042
@dzqoo  thank you for the issue.  how many entities did you inserted for this collection? could you please also share the cpu and memory metrics for query nodes, we'd like to check if the segments are balanced ?

[2022-09-06 07:04] yanliang567 commented on #19042
/assign @czs007
/unassign

[2022-09-06 07:05] yanliang567 commented on #19039
/assign @jiaoew1991
/unassign

[2022-09-06 07:09] yanliang567 commented on #19038
/assign @soothing-rain
/unassign

[2022-09-06 07:17] dzqoo commented on #19042
I have 600M entities and 128 dimension.
Here are the queryNode metrics:
![cpu usage](https://user-images.githubusercontent.com/8862305/188570881-acb47e44-f1d2-4595-9295-7f0c11a94bac.png)
![memory](https://user-images.githubusercontent.com/8862305/188571108-27c456d5-72e1-4d13-82e0-6115dc852a6c.png)

[2022-09-06 07:18] dzqoo commented on #19042
It's wrong：600M => 6M...

[2022-09-06 07:21] hukang6677 opened #19049 "[Bug]:milvus集群数据存储占用大量磁盘空间"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

milvus集群数据存储占用大量磁盘空间，120万256维数据，索引是IVF_SQ8，milvus使用默认配置。主要是四个minio占用了
![lQLPJxapCgcOzIXM7M0EZbBZU0LST5pg0QMWBSRtQNIA_1125_236](https://user-images.githubusercontent.com/102129512/188568253-59eafa7c-af8d-42c7-8c66-498044cf71f3.png)

### Expected Behavior

_No response_

[2022-09-06 07:35] yuliu-eric commented on #19015
The log level was set to "debug" as mentioned on the top.

`kubectl logs` (see previous comment) and logs from `export-logs.sh` (see below) are almost the same (which is expected as you mentioned previously `export-pod-log.sh only export the logs using kubectl which relies the container runtime to fetch the log.`); The problem is very few information was logged from k8s.
[code]

[2022-09-06 07:38] ThreadDao commented on #18891
I encounter the same problem on image `master-20220906-8dce723`
client logs:
[code]

Server pod:
- cluster: devops
- namespace: chaos-testing
- pods
[code]
Server logs:
[standalone-index-oom.log](https://github.com/milvus-io/milvus/files/9494377/standalone-index-oom.log)
[code]

[2022-09-06 07:38] zhuwenxing commented on #19011
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_for_release/detail/deploy_test_for_release/51/pipeline/242/

In this job reinstallation or upgrade is skipped, but the second test is still failed with many test cases due to creating index out.
[artifacts-cluster-reinstall-51-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9494367/artifacts-cluster-reins

[2022-09-06 07:42] zhuwenxing commented on #19017
Milvus verion: wayblink-i-19017-0c3e8d5-20220906

This issue still happened

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release/detail/chaos-test-for-release/230/pipeline

log:
[artifacts-datanode-pod-kill-230-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9494405/artifacts-datanode-pod-kill-230-server-logs.tar.gz)
[artifacts-datanode-pod-kill

[2022-09-06 07:43] NicoYuan1986 opened #19050 "[Bug]: Lack some tests for naming rules"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Lack some tests for naming rules.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-06 07:44] soothing-rain commented on #19038
/unassign
/assign @wayblink

[2022-09-06 07:54] czs007 commented on #18891
![image](https://user-images.githubusercontent.com/59249785/188577880-ba7bcc73-3dcf-4696-8c28-d4a7b424a1e2.png)
@sunby  continue cause the obtained segment quota is not enough, so an error is reported  in proxy " failed: SegmentIDAllocator failRemainRequest unexpected error".

[2022-09-06 08:27] NicoYuan1986 opened #19053 "[Bug]: Field name can only contain numbers, letters, and underscore"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When creating  a field name containing numbers, letters, dollar signs ($), and underscores (_),for example '_1nt$', error occurs.
[code]

### Expected Behavior

There shouldn't be an error because of the rules mentioned on this web page: https://milvus.io/docs/v2.1.x/

[2022-09-06 08:37] bigsheeper commented on #19011
indexCoord keeps trying to get free worker node, but failed because indexNode is busy excuting index bulding task and excuting  serially. While tests are run concurrentlly, timeout of 40 seconds may not be enough.@zhuwenxing

![image](https://user-images.githubusercontent.com/42060877/188586876-00cdf7f6-6829-45ed-9b88-04c37ad31855.png)

[2022-09-06 08:43] yuliu-eric commented on #19015
I logged in to the querynode pod and found there're lots of more logs are saved

[code]

[2022-09-06 08:44] bigsheeper commented on #19003
@cndpzc Hi cndpzc, could you please offer me the milvus log? you can export milvus log with this script: https://github.com/milvus-io/milvus/tree/master/deployments/export-log

[2022-09-06 08:48] bigsheeper commented on #19011
/assign @zhuwenxing
/unassign

[2022-09-06 08:55] jaime0815 commented on #17528
It is possible to broadcast too slow at any time if mq service has GC、network issues etc, we should cover this situation.

The reason why this issue occurs frequently is all request tasks will be executed in one task queue,  one request task costs a long time and it will cause a timeout for the next tasks easily.

The solution is following:
1.  add concurrency
2. add a fast fail mechanism to avoid

[2022-09-06 08:59] ICLzhang opened #19055 "[Bug]: Collection loading not responding"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I execute the collection.load() operation, the program does not respond.

### Expected Behavior

Returns the success or failure of the load operation.

### Steps To Reproduce

[code]

### Milvus Log

[logs.tar.gz](https://github.com/milvus-io/milvus/files/9495001

[2022-09-06 09:05] weiliu1031 commented on #19055
/assign @weiliu1031

[2022-09-06 09:07] cndpzc commented on #19003
@bigsheeper Sure, but maybe need to wait for some time. We found logs in our environment are not completed, solving this in #19015

[2022-09-06 09:07] weiliu1031 commented on #19055
need more info about the load collection hang event:
 1. which collection do you load ?
 2. when do you start the load operation ?

[2022-09-06 09:07] weiliu1031 commented on #19055
/assign @ICLzhang

[2022-09-06 09:11] bigsheeper commented on #19003
Ok :)

[2022-09-06 09:36] ThreadDao opened #19057 "[Bug]: The unit of collectionSize is missing in the exception message no enough memory"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The `collectionSize` without units can confuse users, and they don't know how much memory to increase to load data
![image](https://user-images.githubusercontent.com/27288593/188595767-235c139a-d9c5-4b1d-aae8-dbfbc5ea8fb8.png)

### Expected Behavior

Clearly state the

[2022-09-06 09:41] xiaocai2333 opened #19058 "[Enhancement]: IndexCoord compatibility logic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

1. IndexCoord compatibility logic processing before IndexCoord start
2. read old index meta and new index meta, then integrate and write to the new path.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-09-06 09:41] xiaocai2333 commented on #19058
/assign

[2022-09-06 10:14] czs007 opened #19059 "[Bug]: Querycoord should execute task sequentially according to taskID"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

querycoord executes tasks sequentially, but the order of execution of tasks is random.
for example:
1. load collection
2. release collection
After querycoord restarted,  if the order is out of order, the final state is wrong.

### Expected Behavior

Querycoord should

[2022-09-06 10:23] SuperLiChen opened #19061 "[Bug]: release or load not respond"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I execute the milvus_cli  load -c xxx or  release -c xxx operation,  not respond.

data size: 20W
![image](https://user-images.githubusercontent.com/17897964/188611518-648dcfa2-9b4f-46e2-834c-bea6dacce20b.png)

### Expected Behavior

_No response_

### Steps To R

[2022-09-06 10:54] zhuwenxing commented on #19011
I have update the timeout to 100s , but there are still many cases failed
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_for_release/detail/deploy_test_for_release/52/pipeline

log:
[artifacts-cluster-reinstall-52-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9495926/artifacts-cluster-reinstall-52-server-logs.tar.gz)
[artifacts-cluster-reinstall-52-

[2022-09-06 11:03] yhmo commented on #18985
The bottleneck is in Pymilvus SDK side.
In the pymilvus/client/prepare.py,
`def bulk_insert_param(cls, collection_name, entities, partition_name, fields_info=None, **kwargs)`

[2022-09-06 11:07] yanliang567 commented on #19061
/assign @soothing-rain
/unassign

[2022-09-06 11:09] yanliang567 commented on #19049
/assign @LoveEachDay
/unassign

[2022-09-06 11:19] mausch commented on #18469
I'm seeing this creating an IVF_SQ8 index with the `milvusdb/milvus:master-20220906-d6b0fdc` image.
Milvus uses no CPU, pretty sure it's not making any actual progress.

[2022-09-06 11:38] yanliang567 commented on #18469
@congqixia is this the same issue(reinstall and upgrade) that you are looking into ?

[2022-09-06 11:42] wayblink commented on #19038
I see a DropCollection before the panic. Is this an expected behavior? @NicoYuan1986

collection_name:
search_collection_jvthJkM6

proxy:
2022-09-06T03:58:14.871486588+08:00 stdout F [2022/09/05 19:58:14.871 +00:00] [DEBUG] [proxy/impl.go:262] ["DropCollection received"] [traceID=221e70f9895044e4] [role=proxy] [db=] [collection=search_collection_jvthJkM6]
2022-09-06T03:58:14.871899622+08:00 stdout

[2022-09-06 11:55] yanliang567 commented on #19042
@dzqoo thank you for quick reply.
1. the Search Request Latency on querynode view, it contains time cost in search and map reduce in this querynode.
2. the Search Latency on proxy view, it contains a) the time cost from proxy to querynode and response, and b) map reduce in proxy for results from all querynodes.
In this case, I think it cost more time in map reduce as you have many querynodes.
So,

[2022-09-06 11:56] yuliu-eric commented on #19015
@LoveEachDay after changing `log.persistence.enabled` from true to false, logs from k8s becomes normal

[2022-09-06 13:06] jingkl opened #19065 "[Enhancement]: Milvus creates diskann index error or load error, cannot determine if it is due to disk"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

`The error message should specify whether the error is caused by insufficient memory or disk`

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-09-06 17:12] askintution opened #19066 "[Bug]: Milvus randomly not work. GRPC Report StatusCode.INTERNAL。 details = "Received RST_STREAM with error code 1""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I used gunicorn + flask as front service, the index is 512 nlist. the collection dataset size is around 60000. when send request, sometimes error occured,but sometimes not.

code:

`
search_params = {"metric_type": "IP", "params": {"nprobe": 256}}

topK = 5

results =

[2022-09-07 01:24] #17633 closed

[2022-09-07 01:24] #18155 closed

[2022-09-07 01:24] #18362 closed

[2022-09-07 01:25] #17793 closed

[2022-09-07 01:25] #13520 closed

[2022-09-07 01:25] #13519 closed

[2022-09-07 01:25] #13518 closed

[2022-09-07 01:25] #18382 closed

[2022-09-07 01:25] #18422 closed

[2022-09-07 01:25] #18391 closed

[2022-09-07 01:25] #18431 closed

[2022-09-07 01:25] #18457 closed

[2022-09-07 01:25] #9689 closed

[2022-09-07 01:25] #18456 closed

[2022-09-07 01:25] #18458 closed

[2022-09-07 01:25] #18459 closed

[2022-09-07 01:25] #18460 closed

[2022-09-07 01:25] #18465 closed

[2022-09-07 01:25] #18466 closed

[2022-09-07 01:30] yanliang567 commented on #18260
keep it on tracking

[2022-09-07 02:02] dzqoo commented on #19042
I have test with 14 queryNode(my entities is nearly 7M).And I got the following result:
![end2end search latency](https://user-images.githubusercontent.com/8862305/188770750-44240db4-925e-43bb-b7b3-0609252dd7e4.png)
![Search in queue latency](https://user-images.githubusercontent.com/8862305/188771484-ab481110-ab3b-4da4-9b1b-5c25c90fed87.png)
![Search Segment latency](https://user-images.githubuse

[2022-09-07 02:06] Sivannnnnn commented on #18764
@LoveEachDay @xiaofan-luan @JackLCL

Hello, after several days of testing, I write thousands of pieces of data every day, RockSMQ has filled up the disk again, and now it takes 10s for me to query each time, which only took 200ms before. Is the problem solved now

![image](https://user-images.githubusercontent.com/46392469/188772532-41851b50-7ac0-4046-bbe8-2b8935df20cc.png)

[2022-09-07 02:07] Sivannnnnn commented on #18764
![image](https://user-images.githubusercontent.com/46392469/188772693-5bd581ce-2e0e-4b1b-92d0-fd9ea3b20d8c.png)

[2022-09-07 02:17] yanliang567 commented on #19042
@dzqoo could you please also share tehe Search Vector Count Rate on Proxy? and Search Request Rage on QueryNode?

[2022-09-07 02:22] NicoYuan1986 commented on #18900
Yestarday:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/qa%2Fmilvus-release-nightly/detail/milvus-release-nightly/85/pipeline/154
1. milvus: 2.1.* pymilvus:2.1.2.dev2
2. collection name: collection_ubZJPP1o
3. failed time: [2022-09-06T23:22:58.346Z] [gw5] [  5%] FAILED testcases/test_collection.py::TestCollectionParams::test_collection_binary
4. milvus log: [milvus-distributed-kafka-

[2022-09-07 02:37] NicoYuan1986 opened #19068 "[Bug]: [Nightly]Search timeout reporting "new session error, maybe can not connect to etcd""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When test collection after drop, error occurs.
[code]

### Expected Behavior

PASSED

### Steps To Reproduce

[code]

### Milvus Log

1. log: [milvus-distributed-kafka-84-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/qa/job/milvus-release-nightly/84/ar

[2022-09-07 02:39] cndpzc commented on #19003
After we change the param `log.persistence.enabled` (see [here](https://github.com/milvus-io/milvus/issues/19015#issuecomment-1238046105)) and restart the service, search latency decreases to `120ms`. However it's still much higher than `10ms` in V1.1.

Here're the metrics and logs FYI
<img width="1817" alt="image" src="https://user-images.githubusercontent.com/3941929/188775786-b8149bd4-c2c7-4995

[2022-09-07 02:41] soothing-rain commented on #19061
/unassign
/assign @jiaoew1991

Is this issue resolved in the upcoming 2.1.2 release?

[2022-09-07 02:43] yhmo commented on #18985
The root cause:
concatenate bytes in Python is very slow

https://www.guyrutenberg.com/2020/04/04/fast-bytes-concatenation-in-python/

[2022-09-07 02:44] NicoYuan1986 commented on #19038
Yes. The collection will be dropped after the end of every case in our testing framework.

[2022-09-07 02:50] NicoYuan1986 commented on #17750
Same issue appears again in the following  2.1.* branch:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/qa%2Fmilvus-release-nightly/detail/milvus-release-nightly/84/pipeline/193

1. milvus log: [milvus-distributed-kafka-84-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/qa/job/milvus-release-nightly/84/artifact/milvus-distributed-kafka-84-pymilvus-e2e-logs.tar.gz)
2. coll

[2022-09-07 02:50] NicoYuan1986 commented on #19068
Same with #17750

[2022-09-07 02:50] #19068 closed

[2022-09-07 02:57] bigsheeper commented on #19003
@cndpzc log shows that purging memory operation is too frequent and cost dozens of milliseconds. And purging has been deprecated now, you can try with the latest version https://hub.docker.com/layers/milvusdb/milvus/2.1.0-latest/images/sha256-155657d14db5b93b1d5784e5e6c2d4bba281bd26ba703bee8b172f1c2bed3b13?context=explore

[2022-09-07 03:02] soothing-rain commented on #18968
/unassign
/assign @jiaoew1991

[2022-09-07 03:09] dzqoo commented on #19042
![Search Vector Count Rate](https://user-images.githubusercontent.com/8862305/188779685-9d118104-da4e-4f41-b3ae-cb7d069312e0.png)
![Search Request Rate on queryNode](https://user-images.githubusercontent.com/8862305/188780093-cbb3ab3c-7092-479a-ad75-63d003f9e2ae.png)

[2022-09-07 03:10] dzqoo commented on #19042
![Search Request Rate on QueryNode](https://user-images.githubusercontent.com/8862305/188780217-b5d5e9ce-8b62-4813-ac39-b0bd46c7b5b0.png)

[2022-09-07 03:12] LoveEachDay commented on #19049
@hukang6677  From the attached log:
[code]

The reason for storage increasing is that compaction will compact small segments into bigger segments, and if gc is failed, the old segments cannot be removed.  And we can see gc is failed because minio `listWithPrefix` timeout.

Could you provide some information about your insertion?  Or may be you can provide your insert script ? From your description

[2022-09-07 03:19] congqixia commented on #19049
/assign

[2022-09-07 03:35] yhmo commented on #18985
This bug has been fixed in pymilvus: https://github.com/milvus-io/pymilvus/pull/1134
The fix will be available in the next minio version of pymilvus.

[2022-09-07 03:50] NicoYuan1986 opened #19070 "[Bug]: [Nightly]Load collection failed reporting "DescribeCollection failed: can't find collection:xxx""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

These cases failed:
[code]

### Expected Behavior

PASSED

### Steps To Reproduce

[code]

### Milvus Log

1. collection name: test_4uTnR4da
2. log: [artifacts-milvus-standalone-nightly-80-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%

[2022-09-07 03:51] wayblink commented on #19038
This case is happens because:
1, A queryNode down, trigger querycoord `loadBalanceTask`
2, during loadBalanceTask executing, a collection is dropped, but this collection is added to `recoveredCollectionIDs`
3, loadBalanceTask call showPartitionIDs of the dropped collection and get "can't find collection" error, than panic
![image](https://user-images.githubusercontent.com/18096561/188784110-fe1d26

[2022-09-07 03:56] wangnimaa opened #19071 "[Bug]: milvus queryNode cacheSize"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

how to use config Memory obsolescence?
we use milvus 2.1.1 ,queryNode cacheSize is 1G,memoryLimit is 1G, but milvus use more than 1G ,it use 12G,how can limit Memory?

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No res

[2022-09-07 03:57] ICLzhang commented on #19055
1. load hello_milvus by attu. 550w entity 100 dim , IVF_FlAT inde and querynode limit 4G
2. I don't remember the exact time of the operation, but I exported the log after I found the problem
@weiliu1031

[2022-09-07 03:58] wayblink commented on #19038
@xige-16 Could you take a look at this issue? The root cause is above. I find several panic() in loadBalanceTask. Is that necessary to panic? I think we need to handle it in a graceful way or do some more checks. THX~

[2022-09-07 04:03] jingkl opened #19072 "[Bug]: [benchmark][stanalone]Milvus' compaction failed, resulting in incorrectly segments size"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-tag-no-clean-szxjd-1
server-configmap
server-single-32c128m-redur0
client-configmap
client-random-locust-100m-ddl-r8-w2-12h
sever：
[code]

<img width="944" alt="截屏2022-09-07 12 00 41" src="https://user-images.githubusercontent.com/34296482/18878

[2022-09-07 04:06] yanliang567 commented on #19072
/assign @jiaoew1991
/unassign

[2022-09-07 04:07] yanliang567 commented on #19072
@jingkl any requests failed, such as search?

[2022-09-07 04:10] hukang6677 commented on #19049
1. minio的 listWithPrefix timeout的原因要如何设置合理值。
2. Milvus关于num_entities 参数的资料在哪可以看到，该参数是否也是针对数据插入场景做调整。

[2022-09-07 04:15] hukang6677 commented on #19049
插入脚本如下：只是简单的做了个定时任务执行insert操作，应该没有使用num_entities

 @Scheduled(cron = "0/5 * * * * ?")
    public void insertMilvusTask() {
        System.out.println("定时任务开始-----------");
        insertMilvus();

    }

    public void insertMilvus() {
        Random ran = new Random();
        List<String> vehicle_id_array = new ArrayList<>();
        List<List<Float>> vehicle_feature_array = new ArrayList<>();

[2022-09-07 04:48] hukang6677 commented on #19049
官方文档上helm安装milvus集群上StorageClass 的回收策略是 Delete。我的StorageClass回收策略是 "回收后保留"，请问下跟这个有关系吗？

![597588BD-D90D-4958-BD29-4771C63AE610](https://user-images.githubusercontent.com/102129512/188790409-b07c9e82-0a16-41a9-9f84-35ffd396b030.png)

[2022-09-07 06:08] wayblink commented on #19038
@yah01 @jiaoew1991  Please take a look at this issue~

[2022-09-07 06:09] wayblink commented on #19038
/assign @jiaoew1991

[2022-09-07 06:11] #18205 closed

[2022-09-07 06:15] zhuwenxing commented on #18828
v2.1.0  --> 2.1.0-20220906-7affd93
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_for_release/detail/deploy_test_for_release/58/pipeline

log:
[artifacts-cluster-upgrade-58-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/9503205/artifacts-cluster-upgrade-58-pytest-logs.tar.gz)
[artifacts-cluster-upgrade-58-server-logs.tar.gz](https://github.com/milvus

[2022-09-07 06:27] zhuwenxing commented on #18759
This also happened when running pulsar pod kill chaos test

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release/detail/chaos-test-for-release/241/pipeline

log:
[artifacts-pulsar-pod-kill-241-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/9503303/artifacts-pulsar-pod-kill-241-pytest-logs.tar.gz)
[artifacts-pulsar-pod-kill-241-server-logs.tar.gz

[2022-09-07 06:29] yanliang567 commented on #19071
/assign @LoveEachDay
/unassign

[2022-09-07 06:31] NicoYuan1986 commented on #19014
Same with #18846

[2022-09-07 06:31] #19014 closed

[2022-09-07 06:33] yanliang567 commented on #19070
/assign @jiaoew1991
/unassign

[2022-09-07 06:44] GuillaumeWRLD commented on #15711
Looks great!

[2022-09-07 06:44] #15711 closed

[2022-09-07 06:46] yanliang567 commented on #19042
@czs007 could you please take a look as well?

[2022-09-07 06:48] yanliang567 commented on #19066
@askintution  thank you for the issue. Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

/assign @askintution
/unassign

[2022-09-07 06:49] soothing-rain commented on #18885
/assign @xTerry

[2022-09-07 06:49] yanliang567 commented on #19057
/assign @xige-16
/unassign

[2022-09-07 06:50] soothing-rain commented on #18874
/assign @wayblink
/unassign

[2022-09-07 06:52] soothing-rain commented on #18622
/assign @hukang6677

[2022-09-07 07:04] soothing-rain commented on #18806
The error as instructed in the title is not the root cause.

The root cause could be errors like:
[code]

/assign @congqixia
Do you think this would be resolved in 2.2?

[2022-09-07 07:05] soothing-rain commented on #16451
/assign @bgleadle

[2022-09-07 07:06] yanliang567 commented on #19055
@ICLzhang Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

[2022-09-07 07:06] zhagnlu opened #19073 "[Enhancement]: compact data serially instead of loading all files to memory"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

when do compaction, load all binlogs files to memory at same time, causing memory increase, for diskann, it is highly possible to cause OOM, so need to change this policy.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-09-07 07:13] zhuwenxing commented on #18874
Not reproduced in 2.1.0-20220906-7affd93， no idea which PR has fixed this issue.

[2022-09-07 07:20] ThreadDao opened #19074 "[Bug]: [standalone][chaos] Query gets the deleted vector after restart due to oomkilled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Deploy milvus standalone and limit memory
[code]
2. Create collection with `Strong` consistent_level; Insert 50w 512d vector
3. load collection while apply memory stress 6Gi, and it restarted after oomkilled
4. flush -> load -> new insert 5w -> create inex -> relea

[2022-09-07 07:41] bigsheeper commented on #19011
There are 98 tests in test_action_first_deployment.py:
[code]

However, currently indexCoord schedules index building tasks randomly, which means the former task would be excueted after many tasks. We should pick the former tasks to execute as soon as possible. see #19076

There're 8 tasks for each test, each building index task costs about 10 seconds:
![image](https://user-images.githubuserconten

[2022-09-07 07:42] cndpzc commented on #19003
@bigsheeper Thank you for investigating! I'll give a try later. May I ask two questions?
- When was purging memory deprecated?
- Is this issue related to DM tool migration?

[2022-09-07 07:48] ICLzhang commented on #19055
The log file logs.tar.gz has been uploaded when opening an issue

[2022-09-07 07:56] zhuwenxing commented on #18874
@xiaocai2333
From the log, it looks like related to creating index, so can you help to take a look?

[2022-09-07 07:56] yanliang567 commented on #18985
/assign @binbinlv
could you please help to verify the fix?

/unassign

[2022-09-07 07:58] soothing-rain commented on #19007
We set this limit to protect our system.

There's no plan to increase this limit very soon, but we are going to release range search feature in version 2.2, where you are able to search with an upper-bound and a lower-bound.

With range search, you could retrieve >16k data with multiple range search calls and combine the results together.

[2022-09-07 07:59] soothing-rain commented on #19007
/assign @mazitovs

[2022-09-07 08:05] dzqoo commented on #19042
I have another question..
Why my 7m collection has 26 segments as is showed following:
![image](https://user-images.githubusercontent.com/8862305/188824720-6ec78111-9573-4d20-8dba-cd3d66228472.png)

[2022-09-07 08:13] bigsheeper commented on #19003
@cndpzc You're wellcome :), for your questions:
1. After #18612 , milvus uses Jemalloc as memory allocator, so purging memory is unnecessary;
2. This issue is not related to milvusDM.

[2022-09-07 08:15] jiaoew1991 commented on #18961
fixed by https://github.com/milvus-io/milvus/pull/19064

[2022-09-07 08:17] yhmo commented on #18951
We discuss this issue in a meeting, put the conclusion here:
Milvus uses a regular pattern to match the partition name. As we know, "^" and "$" is the special character of regular pattern. So, we shouldn't allow "$" in partition name.

[2022-09-07 08:19] ssjiyi1 opened #19078 "[Feature]: How to set the memory retirement strategy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

For example, redis cache obsolescence

### Describe the solution you'd like.

volatile-lru   or  ttl

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

_No response_

[2022-09-07 08:25] ThreadDao opened #19079 "[Bug]: No version and GitCommit in milvus pod logs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Before
![FcWsJWGIwa](https://user-images.githubusercontent.com/27288593/188828671-8fe0c8ed-4c13-44c9-8f81-961a6d1f36ac.jpg)

Now:
![T3gXASBBeE](https://user-images.githubusercontent.com/27288593/188829524-7f55945a-10a4-406b-a3fa-6dcd0e287f56.jpg)

### Expected Behavio

[2022-09-07 08:28] jennyli-z commented on #19079
/assign

[2022-09-07 08:28] jennyli-z commented on #19079
![image](https://user-images.githubusercontent.com/93511422/188829844-544875d8-d000-4e10-8e0a-3e55f7a81af2.png)

[2022-09-07 08:29] jennyli-z commented on #19079
https://exerror.com/fatal-detected-dubious-ownership-in-repository/ new builder image has the issue to get git info

[2022-09-07 08:50] Mask-Z commented on #18890
log file too big, please get it by the url

url: https://pan.baidu.com/s/1ICxEkSrvgcgPzhrverYgHw
password: 31nv

[2022-09-07 08:58] yah01 opened #19081 "[Enhancement]: Load indexed segments after the index build done"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

If a sealed segment is loaded, it can't be replaced with the indexed one (but growing segment could), to reach this:
- GC A, B if C is indexed
- Compact C if A, B are GCed
- GetRecoveryInfo returns only indexed segments as flushed segments, include the compacted but not GCed s

[2022-09-07 08:58] bigsheeper commented on #19011
For No.52 failed job, index builds slowly (about **10seconds**)：
![image](https://user-images.githubusercontent.com/42060877/188835290-259b9f7c-f999-4bc2-95bc-823f43ad8fd2.png)

For No.62 successful job, index builds very fast (about **100ms**):
![image](https://user-images.githubusercontent.com/42060877/188835290-259b9f7c-f999-4bc2-95bc-823f43ad8fd2.png)

However, there is nearly no change about

[2022-09-07 09:01] weiliu1031 commented on #19055
from the log, every loadCollection Operation finished in seconds. can you reproduce this issue and provide more detail?
![image](https://user-images.githubusercontent.com/108661493/188837424-25e1c559-a5a7-438d-858d-7371e0440680.png)

[2022-09-07 09:01] weiliu1031 commented on #19055
/assign @ICLzhang

[2022-09-07 09:02] binbinlv commented on #18985
OK, verifying

[2022-09-07 09:24] binbinlv commented on #18985
Verified.

In pymilvus: 2.2.0.dev26:

[code]

Using the fixed pymilvus version: 2.2.0.dev27
[code]

[2022-09-07 09:26] #18985 closed

[2022-09-07 10:10] cndpzc commented on #19003
New test result is interesting... We didn't touch the script nor Milvus nodes. From metrics or client-side logs, we can see latency decrease a lot at 14:40. Can't explain why this happen...

<img width="1691" alt="image" src="https://user-images.githubusercontent.com/3941929/188852050-0f0e1d55-b640-4ff2-a261-af09c3137f8f.png">

[clinet-side-logs.zip](https://github.com/milvus-io/milvus/files/95050

[2022-09-07 11:01] NicoYuan1986 opened #19085 "[Bug]: Milvus crashed with error "connection error: desc = transport: Error while dialing dial tcp: xxx""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When i pull requests, an error occurs:
[code]

### Expected Behavior

PASSED

### Steps To Reproduce

[code]

### Milvus Log

1. milvus log: [artifacts-milvus-standalone-PR-19051-4-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20HA%20CI/job/PR-1

[2022-09-07 11:12] jingkl commented on #19042
`kubectl exec -it fouram-tag-no-clean-szxjd-1-minio-866b878fb9-4f7nt -n qa-milvus -- bash`

[2022-09-07 11:18] zhuwenxing opened #19087 "[Bug]: Search failed with `Deadline Exceeded` after reinstallation when using Kakfa as MQ"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

search failed with error
[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_for_release/detail/deploy_test_for_release/78/pipeline

[2022-09-07 11:35] weiliu1031 commented on #19061
system restart, and it try to loadBalance the collection which has been loaded before service restart. and one of loadCollectionTask(cluster_5a9931a7ad951999e787f9f4cee7bac6) Cost 5min, and your load operation is submitted during this period, so it blocks until timeout due to load collection processed in serial.

load collection on cluster_5a9931a7ad951999e787f9f4cee7bac6 cost 5min in from dml loa

[2022-09-07 11:43] xiaocai2333 commented on #18874
ok, working on it~

[2022-09-07 11:43] xiaocai2333 commented on #18874
/assign

[2022-09-07 12:22] dzqoo commented on #19042
![image](https://user-images.githubusercontent.com/8862305/188877136-3532d4a1-388d-41a7-860e-7b8d556b6d79.png)
Here is my result. It's normal?

[2022-09-07 13:48] SuperLiChen commented on #19061
@weiliu1031
no deletc collection document before restart milvus

maybe the crux of the problem is dynamically creating a partition
because i need search vector in collections, so I will load collection to 100% percentage when start java services

when I dynamically creating a new partition.
	1. get search error like:  xxx  not loaded or released.
	2. use milvus_cli call release collection or load

[2022-09-07 14:09] mausch commented on #17981
Having the same issue here. Please reopen this.

[2022-09-07 14:42] mausch commented on #17981
I guess this is roughly where one would create the topic? https://github.com/milvus-io/milvus/blob/7406cd3393377c786776e6d39ba2155c51c51605/internal/mq/msgstream/mq_msgstream.go#L106

[2022-09-07 18:05] mazitovs opened #19090 "[Bug]: Primary key VARCHAR Exception"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I am trying to create collection with VARCHAR pk, but get an exception MilvusException: <MilvusException: (code=1, message=the data type of primary key should be int64)>

### Expected Behavior

I would like to load string ids and float embeddings. I need string id to

[2022-09-07 22:17] #18471 closed

[2022-09-08 01:05] yanliang567 commented on #17981
@xiaofan-luan any plan for this

[2022-09-08 01:17] yanliang567 commented on #19042
@dzqoo looks like you have many small segments that should had been compacted.  Please try:
1. run `collection.compact() ` to manually trigger a compaction task
2. wait a few seconds and run `utility.index_building_progress("collection_name") `   ,  then you will see indexing restarted for new compacted segments
3. after building progress completed to 100%, release and reload the collection to mak

[2022-09-08 01:21] yanliang567 commented on #19090
/assign @mazitovs
/unassign

[2022-09-08 01:23] yanliang567 commented on #19087
/assign @jiaoew1991
/unassign

[2022-09-08 01:24] yanliang567 commented on #19085
/assign @jiaoew1991
/unassign

[2022-09-08 01:26] yanliang567 commented on #19074
@ThreadDao does this reproduce without OOM

[2022-09-08 01:30] yanliang567 commented on #19053
@NicoYuan1986 I think this is a design change, $ is not supported in collection name, as well as partition name. Please update the testcase accordingly.

@YiyunNi could you please help to update the related documents?

[2022-09-08 01:37] jiaoew1991 commented on #19072
lots of compaction tasks failed because of some segments cannot be found in datanode's metadata, need more time to find out the root cause of metadata inconsistent

[2022-09-08 01:44] #18766 closed

[2022-09-08 01:59] dzqoo commented on #19042
After I trigger the manual compaction, I got a much worse result as you see in the following:
![image](https://user-images.githubusercontent.com/8862305/189016557-bd627f6e-467c-4cdd-aa2d-ce4ee122a00e.png)
And the num of segment is also not changed.

Here is the resutl of utility.get_query_segment_info("collection_name"):
`[segmentID: 435840936925462529
collectionID: 435780125802889217
partitionID:

[2022-09-08 02:24] YiyunNi commented on #19053
The doc has already been updated with this [PR](https://github.com/milvus-io/milvus-docs/pull/1799). Please check the latest version here https://milvus.io/docs/v2.1.x/limitations.md.

[2022-09-08 02:33] NicoYuan1986 commented on #19070
This error occurs frequently.
https://jenkins.milvus.io:18080/job/Nightly-Debug/job/test-binbin-nightly-debug/4/
1. milvus: cbae252   pymilvus: 2.2.0.dev26
2. error cases:
[code]
3. log: [artifacts-milvus-standalone-nightly-4-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Nightly-Debug/job/test-binbin-nightly-debug/4/artifact/artifacts-milvus-standalone-nightly-4-pymilvus-e2e-logs.t

[2022-09-08 02:42] xige-16 opened #19092 "[Feature]: Support create diskann index on vector field"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

In case of insufficient memory, milvus support create diskann index, and load diskann index, then search on diskann index

### Describe the solution you'd like.

1. support data codec in internal/core, so that diskann index file can be upload to m

[2022-09-08 02:48] zhuwenxing commented on #19087
version 2.1.0-20220907-7b4dde4

cluster reinstall
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_for_release/detail/deploy_test_for_release/91/pipeline
log:
[artifacts-cluster-reinstall-91-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9523168/artifacts-cluster-reinstall-91-server-logs.tar.gz)
[artifacts-cluster-reinstall-91-pytest-logs.tar.gz](https

[2022-09-08 02:57] zhuwenxing commented on #19017
pulsar: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release/detail/chaos-test-for-release/283/pipeline
datacoord: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release/detail/chaos-test-for-release/278/pipeline
standalone: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release/detail/chaos-test-for-release/277/pipeline
etc

[2022-09-08 02:59] zhuwenxing commented on #19017
It works well for image `2.1.0-20220902-853793a`, after this image, the issue happened.

[2022-09-08 03:07] ThreadDao opened #19094 "[Bug]: Flush collection gets exception message : DataCoord 3 is not ready"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Deploy milvus cluster
2. Insert 5m entities and flush once, flush gets the exception message
[code]

Client pods: devops cluster, chaos-testing namespace
[code]
Server pods: devops cluster, chaos-testing namespace
Note: Datanode pod restart many times because of oo

[2022-09-08 03:10] cndpzc commented on #19003
@bigsheeper Sure, looking forward to V2.1.2 :)

[2022-09-08 03:17] congqixia opened #19095 "[Bug]: MinioChunkManager.ListWithPrefix may timeout if object number is too large"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

`MinioChunkManager.ListWithPrefix` calls `minioclient.ListWithObject` with provided recursive and prefix parameter.
MinioClient has a default setup with default `responseHeaderTimeout` = 1 minute.
When list minio instance (recursive= true) with lots of object in it, t

[2022-09-08 03:23] yuliu-eric commented on #19003
[values.txt](https://github.com/milvus-io/milvus/files/9523334/values.txt)
上面`Environment`的资源配置相关信息不准确，我把启动集群的配置文件贴在这里了。

[2022-09-08 03:52] NicoYuan1986 opened #19097 "[Bug]: [Nightly] Nightly runs much slowly than ever and will be killed over the overall timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Nightly runs much slowly than ever and will be killed over the overall timeout

### Expected Behavior

Complete

### Steps To Reproduce

[code]

### Milvus Log

1. log: [artifacts-milvus-distributed-kafka-nightly-4-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:1

[2022-09-08 03:52] cndpzc opened #19098 "[Bug]: Milvus V2.1.0 benchmark search latency 400ms+"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

We did benchmark with following params.

[code]
We got a result of `460 QPS` with `470ms latency`
<img width="1794" alt="image" src="https://user-images.githubusercontent.com/3941929/189028873-adb743f9-8e10-45f8-bcf0-7d2bf71193c2.png">

### Expected Behavior

What we

[2022-09-08 03:56] zhuwenxing commented on #18828
Not reproduced recently, but the issue changed to search timeout https://github.com/milvus-io/milvus/issues/19087

[2022-09-08 03:58] nasen23 commented on #16566
Hello devs. I've already upgraded my milvus cluster to the lastest helm chart, which is 3.1.9. But this issue still persists.

The datanode keeps crashing with this consumer busy error. I don't know if this issue is already fixed or is related to the error posted here.

BTW, if there is any workaround for this issue, please let me know. We are using this milvus cluster in production. Would be deep

[2022-09-08 03:59] bigsheeper commented on #19098
@cndpzc Hi，is that the same issue as https://github.com/milvus-io/milvus/issues/19003 ?

[2022-09-08 04:02] ICLzhang commented on #19098
No, it is a question raised by the same user. Our customer department split the question into two issues to follow up

[2022-09-08 04:04] bigsheeper commented on #19098
@cndpzc :) It would be better to offer me all the querynode's grafana metrics. By the way, you use the Eventually consistency level, right?

[2022-09-08 04:06] bigsheeper commented on #19098
@ICLzhang, Ok, thanks,I'v noticed that the concurrency of these 2 issue is different.

[2022-09-08 04:06] weiliu1031 commented on #19061
Unfortunately， the load operation hang, is related to dynamically creating partition.

for now, there are some flaws in the handling of dynamically created partitions. here is the case:
1. when you do load collection operation, it will consume stream data from mq with a `position`
2. but if you create a partition without any write operation（empty partition）, and then do load operation, the `positi

[2022-09-08 04:06] weiliu1031 commented on #19061
/assign @SuperLiChen

[2022-09-08 04:09] ICLzhang commented on #19098
@cndpzc Please provide the physical machine resource cpu & memory situation

[2022-09-08 04:09] cndpzc commented on #19098
<img width="1812" alt="image" src="https://user-images.githubusercontent.com/3941929/189032284-05984450-ff17-4b8c-b3a9-a2d951cbd472.png">
<img width="1818" alt="image" src="https://user-images.githubusercontent.com/3941929/189032330-f170f02f-fc18-45e0-9c37-d698ecfca2c4.png">

[2022-09-08 04:12] cndpzc commented on #19098
Ah sorry I forgot to mention. The test was done in the last weekend, the consistency level was not set. So it was default level `Bounded` I think.

[2022-09-08 04:13] cndpzc commented on #19098
It should be in `value.txt`.

[2022-09-08 05:05] SimFG opened #19099 "[Enhancement]: Improve the `close` method in the graph"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Improve the `close` method in the graph

When the graph process starts, the start method of all nodeCtx in the graph will be called. The start method process of nodeCtx is as the follower:
![flowgraph](https://user-images.githubusercontent.com/21985684/189085740-54d9902d-a5ef-

[2022-09-08 06:12] binbinlv commented on #19070
@NicoYuan1986
I think this is error code has changed from 0 to 1, so please write the test case and retry.

[2022-09-08 06:13] NicoYuan1986 commented on #19094
Similar situation for 2.1 branch:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/qa%2Fmilvus-release-nightly/detail/milvus-release-nightly/86/pipeline/212
1. [milvus-distributed-pulsar-86-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/qa/job/milvus-release-nightly/86/artifact/milvus-distributed-pulsar-86-pymilvus-e2e-logs.tar.gz)
2. collection name:  index_8CIugXgb
3. er

[2022-09-08 06:33] jingkl opened #19102 "[Bug]: [benchmark][standalone] Milvus load failure causes search and query errors，error message"collection not loaded into memory when search""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-test-no-clean-hv4sr-1
server-configmap
server-single-32c128m-redur0
client-configmap
client-random-locust-100m-ddl-r8-w2-12h

sever:
[code]
log:

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

_No r

[2022-09-08 06:41] NicoYuan1986 commented on #19070
Done.✅

[2022-09-08 07:15] binbinlv commented on #19097
Good running: (needs about 1 hour to complete all the nightly tests)
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/79/pipeline

Bad running: (nightly is not completed in 2 hours' overall timeout)
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/80/pipeline

From 2022年9月5日 下午2:50, it starts to become slow

[2022-09-08 07:44] weiliu1031 commented on #19061
yes, birdwatcher add this feature to check query coord task recently. another way is log, but it's a bit complicated.

[2022-09-08 08:33] S-Dragon0302 opened #19106 "[Bug]: taskStateInfo and triggerTaskInfo are inconsistent"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[2022/09/08 08:17:24.992 +00:00] [ERROR] [querycoord/task_scheduler.go:265] ["reloadFromKV: taskStateInfo and triggerTaskInfo are inconsistent"] [stack="github.com/milvus-io/milvus/internal/querycoord.(*TaskScheduler).reloadFromKV\n\t/go/src/github.com/milvus-io/milvu

[2022-09-08 08:35] zhuwenxing commented on #18940
Kafka version , reinstall
image version `2.1.0-20220908-ea0f57e`
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_kafka_for_release/detail/deploy_test_kafka_for_release/54/pipeline
log:
[artifacts-cluster-reinstall-54-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9525141/artifacts-cluster-reinstall-54-server-logs.tar.gz)
[artifacts-cluster-reinstall-5

[2022-09-08 08:39] zhuwenxing commented on #18828
@congqixia
Please help to take a look for latest failed job

[2022-09-08 08:40] zhuwenxing commented on #18940
@congqixia @jiaoew1991
Please help to take a look for the latest failed job

[2022-09-08 08:48] XuanYang-cn commented on #17115
pymilvus-2.2.0.dev30
/unassign
/assign @binbinlv

[2022-09-08 08:53] S-Dragon0302 commented on #19106
log file: https://pan.baidu.com/s/15m2izayzyXouU3Tt1h8Dxg 提取码: 1ytw

[2022-09-08 09:00] zhuwenxing commented on #18828
Kafka cluster upgrade
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_kafka_for_release/detail/deploy_test_kafka_for_release/56/pipeline

log:
[artifacts-cluster-upgrade-56-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9525368/artifacts-cluster-upgrade-56-server-logs.tar.gz)

[artifacts-cluster-upgrade-56-pytest-logs (2).tar.gz](https://github.com/mi

[2022-09-08 09:05] binbinlv commented on #17115
Fixed and close this issue.
Name: pymilvus
Version: 2.2.0.dev30
[code]

[2022-09-08 09:05] #17115 closed

[2022-09-08 09:14] #19079 closed

[2022-09-08 09:23] zhuwenxing opened #19113 "[Bug]: Release collection timeout after proxy pod kill chaos test for 2.1 branch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/189085597-b396ba05-d100-4b7b-aa11-6397be58f7b7.png)

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/

[2022-09-08 09:46] pingren opened #19115 "[Bug]: certain VarChar can't be inserted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Inserting "ann-ounce" will work. However, if I insert anything string including "announce", the request will hang for a while and fail.

![CleanShot 2022-09-08 at 17 16 15](https://user-images.githubusercontent.com/5123601/189088121-147976c3-312a-482e-87d5-71c7cd07fc7

[2022-09-08 10:30] BorisPolonsky commented on #17981
I second this. External kafka is currently not usable yet it's an already implemented feature in Milvus v2.1.1.

[2022-09-08 10:35] LoveEachDay commented on #19015
@yuliu-eric Yes, we have verified this in our local deployment.

[2022-09-08 10:40] jennyli-z opened #19117 "[Bug]: Makefile change need to be considered as code change"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://github.com/milvus-io/milvus/pull/19108 the pr only have makefile change have been labeled ci-passed even ut is failed
The changes for Makefile can affect to ut and code checker
need to check both e2e && ut

### Expected Behavior

_No response_

### Steps To Re

[2022-09-08 10:40] jennyli-z commented on #19117
/assign

[2022-09-08 11:08] lxl0928 opened #19119 "[Bug]: milvus1.1 milvus-writeable node not able to be health after reboot"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

milvus-writeable节点重启后，无法正常重启。

debug日志显示在`insert float data into segment`。

不断循环的显示同一条日志。

![image](https://user-images.githubusercontent.com/12816246/189107492-86b34afa-d896-4221-963a-461c75f20706.png)

![image](https://user-images.githubusercontent.com/12816246/1891

[2022-09-08 11:15] yanliang567 commented on #19119
/assign @yhmo
/unassign

[2022-09-08 11:22] #19070 closed

[2022-09-08 11:45] yanliang567 commented on #19115
/assign @jingkl
/unassign

[2022-09-08 11:48] #19095 closed

[2022-09-08 11:49] yanliang567 commented on #19115
@jingkl  please help to reproduce it locally

[2022-09-08 11:55] yanliang567 commented on #19113
/assign @soothing-rain
/unassign

[2022-09-08 11:56] yanliang567 commented on #19106
/assign @jiaoew1991
/unassign

[2022-09-08 12:00] ThreadDao opened #19121 "[Bug]: [metrics] The number of segments in the Flushing state in the Meta of DataCoord is negative"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![BvPua0zF5S](https://user-images.githubusercontent.com/27288593/189116468-880965b7-29db-4840-8500-c6f86739e940.jpg)

### Expected Behavior

Flushing segments num >=0

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No respon

[2022-09-08 12:10] yanliang567 commented on #19042
"Search Latency" on proxy is e2e latency, and it was determined by the slowest "Search Request Latency" of querynode , so if comparing with the slowest "search request latency" of querynodes, it is about 30ms gap, which i think is reasonable.

The other issue in this case is that many small segments were not compacted, even after manually call collection.compact().

[2022-09-08 12:12] yanliang567 commented on #19042
@jiaoew1991 could u please help to take a look at the not compact issue? here attached the datanode logs
[data0.log](https://github.com/milvus-io/milvus/files/9526636/data0.log)
[data1.log](https://github.com/milvus-io/milvus/files/9526637/data1.log)

[2022-09-08 12:12] yanliang567 commented on #19042
/assign @jiaoew1991
/unassign @czs007

[2022-09-08 13:57] jingkl commented on #19115
I used the Milvus 2.1.1 tag and the pymilvus==2.1.1 standalone service and executed the tests without errors.
The test results are as follows
<img width="1237" alt="截屏2022-09-08 21 54 40" src="https://user-images.githubusercontent.com/34296482/189140584-73ab1f4d-be21-4282-94e1-c23e50075735.png">

[2022-09-08 14:11] mazitovs commented on #19090
Hi! Thank you for reply
Does it works fine for you?
I still have an exception

[code]

[2022-09-08 15:12] xiaofan-luan commented on #18887
/approve

[2022-09-08 18:45] y0h06o6 opened #19125 "[Bug]: load collection hang"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

load collection hang after pod get restart cause by OOMKilled
Client side get a syncTimestamp Failed error after a long waiting time
but keep showing 0% on Attu

![Screen Shot 2022-09-08 at 11 40 24 AM](https://user-images.githubusercontent.com/113131149/189200567-2bc

[2022-09-09 00:41] yanliang567 commented on #19125
/assign @soothing-rain
/unassign

[2022-09-09 00:44] yanliang567 commented on #19090
yes, it works for me.
could you please double check the pymilvus version? @mazitovs

[2022-09-09 00:47] yanliang567 commented on #19115
any chance to retry on AWS and Google

[2022-09-09 02:05] zhuwenxing commented on #18705
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release/detail/chaos-test-for-release/323/pipeline

log:
[artifacts-pulsar-pod-failure-323-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9531752/artifacts-pulsar-pod-failure-323-server-logs.tar.gz)
[artifacts-pulsar-pod-failure-323-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/9531753

[2022-09-09 02:09] jiaoew1991 commented on #19097
because of delta channel have not received message for a long time, so the query task cannot be executed, after 20s query timeout

[2022-09-09 02:26] weiliu1031 commented on #19102
Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

[2022-09-09 02:38] NicoYuan1986 commented on #19097
Things don't seem to be getting better. Both runnings failed yesterday with the same reason. For example,
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Nightly-Debug/detail/test-binbin-nightly-debug/6/pipeline/187
1. milvus: e387c72 pymilvus: 2.2.0.dev26
2. exit code:
[code]
3. milvus log: [artifacts-milvus-distributed-pulsar-nightly-6-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.

[2022-09-09 02:44] yanliang567 commented on #19042
here attached logs from @dzqoo [milvus-log.tar.gz](https://github.com/milvus-io/milvus/files/9531909/milvus-log.tar.gz)

[2022-09-09 02:46] NicoYuan1986 commented on #18846
Take the latest one in 2.1 branch for example:

1. pymilvus: 2.1.2.dev2
2. failed timeline: 2. [2022-09-08T23:35:09.097Z] [gw0] [ 42%] FAILED testcases/test_search.py::TestCollectionSearch::test_search_normal_default_params[8-False-False-search_params1]
3. collection name: search_collection_Y7VU77fa
4. nightly: https://jenkins.milvus.io:18080/blue/organizations/jenkins/qa%2Fmilvus-release-nightly/

[2022-09-09 02:47] LoveEachDay commented on #19015
@yuliu-eric Here is how the logger works in milvus:
1. When milvus starts, it will firstly log the output to stdout by default
2. In the log component initialization, it will check whether the log persistence are enabled, if so it will log to the file, otherwise it will log to stdout.

So if you enabled log persistence, you can see only a slice of milvus logs at the beginning written to stdout whi

[2022-09-09 02:50] NicoYuan1986 commented on #18961
Latest:
The error occurs in the nightly for the 2.1.* branch: https://jenkins.milvus.io:18080/blue/organizations/jenkins/qa%2Fmilvus-release-nightly/detail/milvus-release-nightly/89/pipeline/177
1. milvus log: [milvus-distributed-kafka-89-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/qa/job/milvus-release-nightly/89/artifact/milvus-distributed-kafka-89-pymilvus-e2e-logs.tar.gz)
2.

[2022-09-09 02:56] LoveEachDay commented on #19049
@hukang6677 We're trying to fix this timeout in PR #19096. You can try to upgrade your cluster with new image `milvusdb/milvus:2.1.0-20220908-a99a966`.

[2022-09-09 02:58] ThreadDao commented on #19074
@yanliang567 Standalone pod restarted because of oomkilled
![image](https://user-images.githubusercontent.com/27288593/189263000-5d43448e-240c-4950-bdb2-42319b096442.png)

Reproduce !
[code]
client pods: `standalone-memory-querynode-cron-1662649200-3126670663`

standalone pod: `standalone-memory-querynode-milvus-standalone-567c7445b6-qvfqr`

workflow: `standalone-memory-querynode-cron-1662649200`

[2022-09-09 03:00] wayblink commented on #15716
/reopen

[2022-09-09 03:01] wayblink commented on #15716
/assign

[2022-09-09 03:04] XuanYang-cn commented on #7522
@ThreadDao  Try this pymilvus-2.1.2.dev9 on milvus2.1

[2022-09-09 03:04] NicoYuan1986 opened #19127 "[Bug]: [Nightly] Query failed with message "code=1, message=err: failed to connect 10.105.7.184:21123, reason: context deadline exceeded""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Query failed:
[code]

### Expected Behavior

PASS

### Steps To Reproduce

nightly: https://jenkins.milvus.io:18080/blue/organizations/jenkins/qa%2Fmilvus-release-nightly/detail/milvus-release-nightly/89/pipeline/177/

### Milvus Log

1. collection name: query_J3QACFe

[2022-09-09 03:12] jiaoew1991 commented on #19087
because of delta channel have not received message for a long time, so the query task cannot be executed, after 20s query timeout

[2022-09-09 03:20] congqixia commented on #19042
hi @dzqoo could you please export the etct meta backup using this tool?
https://github.com/milvus-io/birdwatcher

[2022-09-09 03:26] weiliu1031 commented on #19106
/assign @weiliu1031

[2022-09-09 03:27] weiliu1031 commented on #19125
/assign @weiliu1031

[2022-09-09 03:31] XuanYang-cn commented on #19072
/assign

[2022-09-09 03:39] yuliu-eric commented on #19015
@LoveEachDay Thank you for the detailed explanation! Would be great to add this important information in the Readme.

[2022-09-09 03:39] jiaoew1991 commented on #19087
the statslog have some errors caused datanode load segment failed and start `flowgraph` failed.

the `querynode` wait for datanode's `timetick` message to make `shard` available, but datanode's `flowgraph` start failed caused the `timetick` message will not be produced.

[2022-09-09 03:42] soothing-rain commented on #19113
/unassign
/assign @jiaoew1991

[2022-09-09 03:44] soothing-rain commented on #19094
It appears that neither of these two links works.

[2022-09-09 03:44] soothing-rain commented on #19094
Neither of the links works.

[2022-09-09 03:46] weiliu1031 commented on #19106
cause active task state info has been persist to etcd, and after restart, when reload all task stat info, it just check trigger task, so if some active task not finished before restart, it will produce this ERROR logs.

[2022-09-09 04:10] weiliu1031 commented on #19125
query node does not estimate load memory usage, and it causes query node OOM, and then there are about 50 task in loadCollection, all the retry and reschedule in query coord lasted a long time until the log ends, the tasks are keeping rescheduling.

one more thing: if there are fewer tasks int load Collection, the loadCollection will failed at the last.

conclusion: query node should estimate memo

[2022-09-09 04:28] dzqoo commented on #19042
[bw_etcd_ALL.220909-122717.bak.gz](https://github.com/milvus-io/milvus/files/9532325/bw_etcd_ALL.220909-122717.bak.gz)
Here is the backup.How Can I read it?

[2022-09-09 04:59] yanliang567 commented on #19127
/assign @jiaoew1991
/unassign

[2022-09-09 05:04] Anytious commented on #476
how did it slove?

[2022-09-09 06:25] NicoYuan1986 opened #19129 "[Bug]: Search with a value over max nq raised no exception"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When searching with a value over max nq(16384), no exception was thrown.
The official standard： https://milvus.io/docs/v2.1.x/limitations.md

### Expected Behavior

Update the true value in the official document or raise exception.

### Steps To Reproduce

Run the cas

[2022-09-09 06:33] congqixia commented on #19042
@dzqoo looks like the backup file is empty. Did you connect to your instance successfully? To verify connection, you could try some `show` commands to list some meta information of you instance. Such as `show collections` or `show segments`

[2022-09-09 06:40] NicoYuan1986 opened #19130 "[Bug]: Search failed with shards_num over 128"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search failed with shards_num over 128.
However, the range of shards_num is [1,256] according to https://milvus.io/docs/v2.1.x/create_collection.md

### Expected Behavior

Modify the document or fix the error.

### Steps To Reproduce

[code]

### Milvus Log

[code]

#

[2022-09-09 06:44] weiliu1031 commented on #19127
/assign @weiliu1031

[2022-09-09 06:47] weiliu1031 commented on #19127
cause query node crash when this query happen.
recently, we notice that query node will crash at search process, and this will cause different problems， such as:
1. load Collection failed
2. Search Failed

the reason of why query node crash during seach process is still in investigating.

[2022-09-09 07:38] xiaofan-luan commented on #19130
/assign @longjiquan

we want to ensure shard number always < 64.
It doesn't make sense to create too many shard numbers. Also etcd txn limit is another consideration

[2022-09-09 07:38] xiaofan-luan commented on #19130
@NicoYuan1986
Good catch, we won't support shard number >64, but the error message definitely need to improve

[2022-09-09 07:47] letian-jiang commented on #18968
Hi @dzqoo, Could you please upload any parquet file (e.g. a non-sensitive column) for debugging?

We suspect there is something wrong with the parquet header.

[2022-09-09 07:52] yanliang567 commented on #19129
/assign @czs007
/unassign

[2022-09-09 08:29] letian-jiang commented on #18968
Hi @dzqoo, have you ever modified the `insertBufSize` in `milvus.yaml`, which is 16MB by default?

Parquet has a default maximum row-group length of 67108864. Under the default setting, each parquet file may contain exactly one row-group. If the default size changes, this assumption may no longer hold.

[2022-09-09 09:04] xiaofan-luan opened #19138 "[Bug]: ChunkManager path is not set correctly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Some of the code using Params.LocalStorageCfg.Path, while others using params.MinioCfg.Address.

This could cause garbage collector try to gc the wrong minio path, and garbage collector won't work as expect

### Expected Behavior

if params.CommonCfg.StorageType == "l

[2022-09-09 09:11] KajiMaCN opened #19139 "[Bug]: Failed to connect milvus, after deleting a collection once"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Environment

[code]

### Current Behavior

执行一次实体删除之后，出现报错：pymilvus.exceptions.MilvusException: <MilvusException: (code=2, message=Fail connecting to server on localhost:19530. Timeout)>
更换端口等其他操作均未解决此ERROR。Attu客户端同样也无法连接。卸载重装、重启电脑均无法连接。

### Expected Behavior

_No response_

### Steps To Reproduce

_No respon

[2022-09-09 09:50] NicoYuan1986 opened #19143 "[Bug]: Create index failed reporting "IndexCoord 0 is not ready""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When i pull request, Case "test_load_partition_after_index_binary" failed reporting "IndexCoord 0 is not ready".
[code]

### Expected Behavior

PASS

### Steps To Reproduce

[code]

### Milvus Log

1. collection name: collection_iX1yw4dK
2. failed timeline: [2022-09-0

[2022-09-09 09:53] yanliang567 commented on #19143
/assign @bigsheeper
/unassign

[2022-09-09 09:57] yanliang567 commented on #19139
@KajiMaCN thank you for the issue. Which version did you run, also could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

/assign @KajiMaCN
/unassign

[2022-09-09 10:41] yhmo commented on #18872
The pr#19111 allows user to input empty strings into milvus. I have tested related cases, seems no problem.

[2022-09-09 22:24] #18474 closed

[2022-09-09 22:24] #18511 closed

[2022-09-10 02:23] xiaofan-luan opened #19147 "[Bug]: Create too many Os thread because of Cgo blocked"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

We create a pool with a bunch a go routine locked with OS thread, so root thread of openmp is always limited.

But for some concurrency reason,  not all go routine is locked as expected.

### Expected Behavior

Fix all concurrency issues, make sure every go routine in

[2022-09-10 08:50] #18517 closed

[2022-09-10 09:00] cjh6666688888 opened #19149 "The deletion will cause query exceptions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Data deduplication operation:
1.Delete data before inserting it
Deleting a large number of files may cause query exceptions

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

[2022/09/10 16:14:36.969 +08:00] [DEBUG] [querynod

[2022-09-10 09:18] cjh6666688888 opened #19151 "[Bug]: rpc error: code = Canceled desc = grpc: the client connection is closing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

This exception occurs when a large number of concurrent accesses are made to the cluster, "The Client connection is closing".
Cluster logs are normal, but no exception logs exist.It can be accessed normally using the Python SDK.

### Expected Behavior

_No response_

[2022-09-10 10:29] #19099 closed

[2022-09-10 12:54] yanliang567 commented on #19151
@czs007 sounds like an sdk issue, could you please help to confirm that?
/assign @czs007
/unassign

[2022-09-10 12:55] yanliang567 commented on #19149
/assign @xiaofan-luan
/unassign

[2022-09-10 19:20] yovelcohen opened #19152 "[Feature]: Support Common Aggregations In Milvus"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

My problem was when I was trying to make other common operations on vectors other than similarity search.
for example (python)
[code]
This means that I have to pull all these vectors into my memory (in my case, tens of thousands of 768 dim vectors

[2022-09-11 01:24] yanliang567 commented on #18496
@wayblink any updates

[2022-09-11 01:25] yanliang567 commented on #18537
@czs007 any updates

[2022-09-11 03:18] #18490 closed

[2022-09-11 13:24] #18485 closed

[2022-09-11 13:24] #14840 closed

[2022-09-12 00:43] dzqoo commented on #19042
How can I connect etcd when I deploy a cluster milvus?

[2022-09-12 01:32] xiaofan-luan commented on #19017
@wayblink any progress on it?

[2022-09-12 03:54] myxzlpltk commented on #18763
This is also happened to me. Yesterday, it was totally normal during and then I upgrade my docker desktop from `4.11.0` to `4.12.0` . And then bam, I can't run milvus/minio container. At first I thought this is might be glitch. So, I reinstall milvus based on [installation guide](https://milvus.io/docs/v2.1.x/install_standalone-docker.md). Even though all three containers run, but when I try conne

[2022-09-12 09:41] xiaofan-luan opened #19158 "[Bug]: Refine Proxy log lvel"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Refine proxy logs, make sure we can enable INFO as the default log level

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-12 21:23] #18470 closed

[2022-09-12 22:09] perrital commented on #12680
Any  news about multiple vector fields (relevant for production environments having multiple versions of embedding models)?

[2022-09-13 00:54] yanliang567 commented on #12680
not yet, for now I suggest you have multiple collections for different versions of embedding models.

[2022-09-13 00:57] yanliang567 commented on #18763
Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

[2022-09-13 01:11] yanliang567 commented on #19098
I tried to reproduce this issue with the similar configurations: The search latency is around 200ms and QPS is around 750
![image](https://user-images.githubusercontent.com/82361606/189785373-efd42375-d0c5-4274-affc-98da35c3a9b9.png)
![image](https://user-images.githubusercontent.com/82361606/189785529-aedd09eb-1aa6-4088-a439-45715fc80a71.png)

[2022-09-13 01:21] dzqoo commented on #18968
Thanks for applying.I have not changed the config.

[2022-09-13 01:22] yanliang567 commented on #19042
@congqixia could you please give a hand here?

[2022-09-13 02:05] wayblink commented on #19017
working on it

[2022-09-13 02:12] wayblink commented on #18496
@qi49125 Hi! This issue stays for a long time. We have solved the former part problem.  I will close this issue. You can create a new issue if you get new problems. Thank you for feedback.

[2022-09-13 02:16] #19147 closed

[2022-09-13 02:21] wayblink commented on #18496
/close

[2022-09-13 02:21] #18496 closed

[2022-09-13 02:22] xiaofan-luan opened #19162 "[Bug]: Payload Writer can not be run on Mac"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When i run unit test on MAC, I've seen following error
<img width="1036" alt="image" src="https://user-images.githubusercontent.com/83447078/189793053-47701faa-7fd6-417a-9287-b07c670d00c7.png">

### Expected Behavior

We will need to replace cgo payload writer to pure

[2022-09-13 02:58] NicoYuan1986 commented on #15282
Recently:https://jenkins.milvus.io:18080/job/qa/job/milvus-release-nightly/97/

1. milvus: 2.1.*(9f8dd3c4)  pymilvus: 2.1.2.dev9
2. FAILED timeline:
3. log: [milvus-distributed-pulsar-97-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/qa/job/milvus-release-nightly/97/artifact/milvus-distributed-pulsar-97-pymilvus-e2e-logs.tar.gz)
4. error message:
[code]

[2022-09-13 03:03] NicoYuan1986 commented on #19097
Runnings failed every day with the same reason. For example,
https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/93/

1. milvus: master(4de1bfe) pymilvus: 2.2.0.dev26
2. exit code: script returned exit code 124
3. milvus log: [artifacts-milvus-distributed-kafka-nightly-93-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/93/artifact/art

[2022-09-13 03:04] bigsheeper commented on #19143
@NicoYuan1986 is this issue deployed in cluster?  I noticed that the `Deployment mode` is `cluster` while the log is standalone.

[2022-09-13 03:13] bigsheeper commented on #19143
querynode failed to connect to ETCD when detect shard node:
[code]

[2022-09-13 03:15] yanliang567 commented on #19098
CPU of querynode is 100%
![image](https://user-images.githubusercontent.com/82361606/189799584-87666086-e183-4822-92c1-c079fb50e933.png)

[2022-09-13 03:25] zhuwenxing opened #19164 "[Bug]: indexcoord painc with error `panic: runtime error: invalid memory address or nil pointer dereference` after indexcoord pod failure chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/189800124-aa0cd9eb-21e4-42e2-bfa6-7a0f43adb733.png)

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job:  https://qa-jenkins.milvus.io/blue

[2022-09-13 03:31] NicoYuan1986 commented on #19143
Sorry, I posted the wrong link.The issue is deployed in cluster.The correct link has been added.

[2022-09-13 03:31] yanliang567 commented on #19164
/assign @xiaocai2333
/unassign

[2022-09-13 03:42] bigsheeper commented on #19143
IndexCoord SIGSEGV
[code]

[2022-09-13 03:43] bigsheeper commented on #19143
same as https://github.com/milvus-io/milvus/issues/19164
/unassign
/assign @xiaocai2333

[2022-09-13 03:44] yanliang567 commented on #19098
/assign @soothing-rain
/unassign

[2022-09-13 04:21] jingkl commented on #19102
server-instance
fouram-test-no-clean-km8wb-1
server-configmap
server-single-32c128m-redur-seal
client-configmap
client-random-locust-100m-ddl-r8-w2-1h-insert10w

[code]

server-single-32c128m-redur-seal：
[code]

client log：

[code]
Steps：

[code]

[2022-09-13 04:34] zhuwenxing opened #19165 "[Bug]: Querycoord can not be ready after querycoord pod kill chaos test in 2.1 branch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/189808873-4ebe54c3-cc68-4a51-96f6-6eaaba27f58f.png)

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/

[2022-09-13 05:16] haorenfsa commented on #17285
/reopen

[2022-09-13 05:20] congqixia opened #19167 "[Bug]: Indexcoord panics when starts with existing `FlushedSegments`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

`Indexcoord` panics when starts with existing `FlushedSegments` kv values

### Expected Behavior

`Indexcoord` shall not panic when starts with existing `FlushedSegments` kv

### Steps To Reproduce

_No response_

### Milvus Log

[code]

### Anything else?

_No respon

[2022-09-13 06:20] jiaoew1991 commented on #19097
the nightly job based on this commit https://github.com/milvus-io/milvus/commit/68a65873743558ba5edf286e59a1051c767b027e is still ok, only 1 hour and 20 mins

based on https://github.com/milvus-io/milvus/commit/2bafdf8c5331835a595bc67597367694be0eead1 is more than 2 hours

[2022-09-13 06:21] yanliang567 opened #19172 "[Enhancement]: verification of testcase test_handoff_query_search is not adequate enough"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?
In test_utility.py::test_handoff_query_search
in some cases, the search and query results would be same between before_handoff and after_handoff.
As it is going to return only sealed and indexed get_querynode_segment_info, I think we can use this interface to verify whether han

[2022-09-13 06:21] yanliang567 commented on #19172
/assign @binbinlv
/unassign

[2022-09-13 06:44] bestRiven commented on #19008
链接: https://pan.baidu.com/s/1TKyDEk0FNLc8VhP3Nd66ag 提取码: 9h6q

[2022-09-13 06:49] jingkl opened #19174 "[Bug]: [Benchmark][cluster]After Milvus upgrade, kafka's node hangs, causes search and query failures"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-tag-no-clean-dp5qg-1
server-configmap
server-cluster-8c64m-kafka-redur0
client-configmap
client-random-locust-100m-ddl-r8-w2-48h
milvus：2.1.0
update
server-instance
fouram-tag-no-clean-dp5qg-1
server-configmap
server-cluster-8c64m-kafka-redur0
c

[2022-09-13 06:53] longjiquan opened #19175 "[Bug]: ddl didn't follow the rule of tt mechanism"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When rootcoord was about to broadcast timetick, it didn't check if any ddl before the timetick was finished. So the tt mq may receive a ddl message (for example, create collection msg, drop collection msg) whose ts is less than the past timetick, which didn't follow t

[2022-09-13 06:53] longjiquan commented on #19175
/unassign @yanliang567
/assign @longjiquan

[2022-09-13 06:59] jingkl commented on #18845
@aoiasd Is there any progress?

[2022-09-13 07:03] jingkl commented on #18845
server-instance
fouram-cluster-cron-1663016400-5
server-configmap
server-single-16c64m
client-configmap
client-search-filter-sift50m-ivf-flat-2048

milvus: 2.1.0-20220909-36e333d
pymilvus :2.1.2dev9

[code]

[code]

[2022-09-13 07:05] LoveEachDay commented on #19174
One of the kafka pod has been restarted, and the default replication factor is 1 which cannot survive broker restart. We'd change the default replication factor to be greater than 1.

[2022-09-13 07:09] SimFG opened #19177 "[Enhancement]: Make sure that closing the graph is more secure"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Make sure that all nodes in the graph are closed and then other actions are performed
![image](https://user-images.githubusercontent.com/21985684/189833423-47ea9f98-27fa-45fe-8827-507e70a6f2de.png)

![origin_img_v2_a3088c64-c328-470b-89c3-937e607fe9eg](https://user-images.gith

[2022-09-13 07:10] SimFG commented on #19177
/assign @SimFG

[2022-09-13 07:13] congqixia commented on #19167
Related to #19164

[2022-09-13 07:16] congqixia opened #19179 "[Bug]: IndexCoord panics when enqueueTask run with internal timer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

IndexCoord panics when enqueueTask run with internal timer

### Expected Behavior

`enqueueInternalTask` shall work with internal timer lopp without panics

### Steps To Reproduce

_No response_

### Milvus Log

[code]

### Anything else?

_No response_

[2022-09-13 07:19] #18711 closed

[2022-09-13 08:06] KajiMaCN commented on #19139
After I deleted all the files from Milvus, I tried the same operation again with the same result, with the following message.

My code is as follows：
[code]

ERROR in pyCharm:
pymilvus.exceptions.MilvusException: <MilvusException: (code=2, message=Fail connecting to server on localhost:19530. Timeout)>

ERROR in attu:
![WZ 2G9IK)HZC8OD4D462LJ8](https://user-images.githubusercontent.com/28567261/18

[2022-09-13 08:10] KajiMaCN commented on #19139
After I deleted all the files from Milvus, I tried the same operation again with the same result, with the following message.

My code is as follows：

[code]

ERROR in pyCharm:
pymilvus.exceptions.MilvusException: <MilvusException: (code=2, message=Fail connecting to server on localhost:19530. Timeout)>

ERROR in attu:
![WZ 2G9IK)HZC8OD4D462LJ8](https://user-images.githubusercontent.com/28567261/1

[2022-09-13 08:12] NicoYuan1986 opened #19181 "[Bug]: Lack naming rules of index"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When creating index, any index name will succeed.

### Expected Behavior

Add index naming rules.

### Steps To Reproduce

run:
[code]

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-13 08:20] #19174 closed

[2022-09-13 09:06] KajiMaCN commented on #19139
In fact, this is the version log for 2.1.1, I just looked at it via docker, except that it is marked as 2.0.0 and 2.0.1 on the web page.

[2022-09-13 09:42] cjh6666688888 opened #19185 "[Bug]: fail to get shard leaders from QueryCoord"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. After the Milvus image upgrade, the original data query is abnormal.
2.This is a known problem. It's happened before.
fail to search on all shard leaders, err=All attempts results:\nattempt #1:fail to get shard leaders from QueryCoord: no replica available\nattempt

[2022-09-13 09:46] yanliang567 commented on #19102
[milvus-log.tar.gz](https://github.com/milvus-io/milvus/files/9555762/milvus-log.tar.gz)

[2022-09-13 09:48] yanliang567 commented on #19102
/assign @weiliu1031
/unassign

[2022-09-13 09:53] KajiMaCN commented on #19139
I tried the following code again, with only minor changes to the previous one, and the error message was updated.
Same version as above.
logs: https://drive.google.com/file/d/1Wb-mGYJ4FmORABiuv1P62Q3vNEiQlGbN/view?usp=sharing
[code]

**ERROR in pyCharm:**
[delete] retry:4, cost: 0.27s, reason: <_MultiThreadedRendezvous: StatusCode.UNAVAILABLE, failed to connect to all addresses; last error: UNAVAI

[2022-09-13 10:38] perrital opened #19187 "[Feature]: limit results per partition"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

A need to retrieve top k results by cohort

### Describe the solution you'd like.

when searching a collection, there is an option to specify partitions in which the search is performed.
It will be helpful to limit the results retrieved from each

[2022-09-13 10:54] yanliang567 commented on #19185
sounds like a known issue that happens occasionally, let me check.

[2022-09-13 10:56] yanliang567 commented on #19181
/assign @xiaofan-luan
we'd better limit some special chars for potential problems.

/unassign

[2022-09-13 11:14] yanliang567 commented on #19042
summarize the problems：
Many segments with 27MB did not compact into bigger segments, but compact to new 27MB segments(with new segment ids), even after collection.compact() called manually

[2022-09-13 11:17] yanliang567 commented on #19165
/assign @jiaoew1991
/unassign

[2022-09-14 01:35] Sivannnnnn commented on #17410
@JackLCL @xiaofan-luan @yanliang567
hello, i used milvus v2.1.1 cluster，I am importing a large amount of data to Milvus. When importing data to 250 million, I also encountered this problem, and the restart cannot be solved. May I ask which version is expected to solve this problem?

[2022-09-14 02:15] jingkl commented on #18274
/reopen

[2022-09-14 02:22] NicoYuan1986 commented on #18900
Yestarday:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/qa%2Fmilvus-release-nightly/detail/milvus-release-nightly/99/pipeline/177

1. milvus: 2.1.*(3c3ba55c) pymilvus:2.1.2.dev9
2. collection name: collection_vvKpazkz
3. failed time: [2022-09-13T20:23:30.419Z] [gw0] [  4%] FAILED testcases/test_collection.py::TestCollectionParams::test_collection
4. milvus log: [milvus-distributed-ka

[2022-09-14 02:23] dzqoo opened #19190 "[Bug]: DataNode can't recovery from oom."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I insert data into milvus by 13w  per batch, dataNode crashed by oomkill and can't recovery.
Here is my dataNode logs:
[datanode.log](https://github.com/milvus-io/milvus/files/9562091/datanode.log)
[datanode1.log](https://github.com/milvus-io/milvus/files/9562092

[2022-09-14 02:26] NicoYuan1986 commented on #18846
Recently:https://jenkins.milvus.io:18080/blue/organizations/jenkins/qa%2Fmilvus-release-nightly/detail/milvus-release-nightly/99/pipeline/177
1. milvus: 2.1.*(3c3ba55c)  pymilvus: 2.1.2.dev9
2. failed timeline: [2022-09-13T20:32:56.568Z] [gw5] [ 35%] FAILED testcases/test_query.py::TestQueryParams::test_query_output_field_none_or_empty
3. collection name: query_YcvI0ae1
4. milvus log: [milvus-dist

[2022-09-14 03:10] zhenzi0322 opened #19191 "[Bug]: Getting the number of vectors in a set is stuck"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Getting the number of vectors in a set is stuck

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-14 03:12] #19191 closed

[2022-09-14 03:15] XuanYang-cn commented on #19072
The completed compaction tasks are stored at DataNode. DC retrieves these completed tasks to finish compaction and alter meta.

DataNode changes its segment meta right after the task is completed(which is wrong), once the DC retrieves the tasks and **failed** to finish this compaction task, DC and DN's segments meta are inconsistent.

The following compaction about the old segment will all fail at

[2022-09-14 03:34] yah01 opened #19192 "[Bug]: package mq/msgstream test case TestStream_KafkaTtMsgStream_2 fails sometimes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[log](https://github.com/milvus-io/milvus/actions/runs/3042685336/jobs/4901116567): line 67957

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-14 03:42] yah01 commented on #19192
/assign @jaime0815

[2022-09-14 03:46] congqixia commented on #19042
Hi @dzqoo , just added a `dry-mode` command to select possible milvus instance after connect to etcd with `birdwatcher`
Here are some example:
[code]

[2022-09-14 03:52] #18076 closed

[2022-09-14 03:52] #18186 closed

[2022-09-14 03:56] yanliang567 commented on #18644
keep it

[2022-09-14 05:44] yanliang567 commented on #19190
the shard_num was set to 1, and it oom with insert workload described above.
[milvus-log.tar.gz](https://github.com/milvus-io/milvus/files/9563051/milvus-log.tar.gz)

/assign @soothing-rain
/unassign

[2022-09-14 05:56] dzqoo commented on #19042
cool ~ It is worked ! I have a wrong understand about the rootPath before...
Here is my backend meta of all component.
[bw_etcd_ALL.220914-135248.bak.gz](https://github.com/milvus-io/milvus/files/9563114/bw_etcd_ALL.220914-135248.bak.gz)

[2022-09-14 06:08] #19177 closed

[2022-09-14 06:21] NicoYuan1986 commented on #19053
The testcases have been changed accordingly.

[2022-09-14 06:21] #19053 closed

[2022-09-14 06:48] #7522 closed

[2022-09-14 07:04] jennyli-z commented on #6836
/reopen

[2022-09-14 07:06] wayblink opened #19195 "[Enhancement]: Re-implement GetPersistentSegmentInfo through datacoord"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

GetPersistentSegmentInfo was implemented through RPC to rootcoord. This part was removed in rootcoord's refactoring .
GetPersistentSegmentInfo is still needed in backup service. Hence, I'd like implement it through datacoord.

### Why is this needed?

_No response_

### Anythi

[2022-09-14 07:08] NicoYuan1986 commented on #6836
I met the same error while creating index. Here is the detailed information.
[code]
collection name: search_collection_PtAkKjQl
log: [artifacts-milvus-distributed-PR-19184-2-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20HA%20CI/job/PR-19184/2/artifact/artifacts-milvus-distributed-PR-19184-2-pymilvus-e2e-logs.tar.gz)

[2022-09-14 07:12] binbinlv commented on #6836
Same error in the following CI:

https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-19193/2/pipeline/

1. log:
[artifacts-milvus-distributed-PR-19193-2-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20HA%20CI/job/PR-19193/2/artifact/artifacts-milvus-distributed-PR-19193-2-pymilvus-e2e-logs.tar.gz)

2. collection name: search_collection_LUJQY

[2022-09-14 07:15] ICLzhang commented on #19149
[RootCoord.log](https://github.com/milvus-io/milvus/files/9563651/RootCoord.log)
[Uploading DataCoord.log…]()

[2022-09-14 07:36] ICLzhang commented on #19185
etcd data
[bw_etcd_ALL.220913-232441.bak.gz](https://github.com/milvus-io/milvus/files/9563848/bw_etcd_ALL.220913-232441.bak.gz)

[2022-09-14 07:50] zhuwenxing commented on #19011
When indexnode is in the machine that has better performance, this issue would not happen.

[2022-09-14 08:03] wg1026688210 commented on #19149
![delete insert](https://user-images.githubusercontent.com/14267759/190096594-1eca686f-b2f4-419b-9dd5-355aae8bffea.jpeg)
the metric of latency and rate  for insert&delete

[2022-09-14 08:04] #18723 closed

[2022-09-14 08:10] binbinlv opened #19199 "[Bug]: Create index failed reporting "get collection statistics resp is nil""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Create index failed reporting "get collection statistics resp is nil"
[code]

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Milvus Log

1. milvus log:
[artifacts-milvus-distributed-PR-19193-2-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:1

[2022-09-14 08:11] binbinlv commented on #19199
From the error, this issue is the same with #6836. Open this new issue to track in case that the original issue is too old.

[2022-09-14 08:28] congqixia commented on #19042
@dzqoo @yanliang567 Here are some analysis result from the meta:
[code]
looks like some collection has no index built. While some index task is blocked

[2022-09-14 09:09] mausch commented on #19008
I think this is a duplicate of https://github.com/milvus-io/milvus/issues/18565

[2022-09-14 09:18] yanliang567 commented on #19008
/assign @XuanYang-cn
/unassign @bestRiven

[2022-09-14 09:25] mausch commented on #18565
I could repro this quite reliably on v2.1.1.
I just upgraded to `milvusdb/milvus:master-20220914-16bfa63` and I can't repro any more.

[2022-09-14 09:25] ThreadDao commented on #16789
I will test with the new version of the querycoord

[2022-09-14 09:42] ThreadDao commented on #18005
The new version of index will also have this problem. Of course this is closely related to the pymilvus

[2022-09-14 09:42] #18005 closed

[2022-09-14 09:56] yanliang567 commented on #19199
/assign @xiaocai2333
/unassign

[2022-09-14 10:00] yanliang567 commented on #19185
@ICLzhang @cjh6666688888 this issue should be fixed on milvusdb/milvus:2.1.0-20220913-3c3ba55, any chance to retry?

/assign @cjh6666688888 @ICLzhang

[2022-09-14 10:24] wayblink commented on #19017
This issue is caused by stats update mistake brought in #18775 . Datanode can't consume message normally and can't send out timetick to datacoord to trigger flushing again. Has been fixed by #19140

Will close it after verification.

[2022-09-14 10:30] congqixia commented on #19042
@dzqoo the reason why collection xxj_paisou_0203_topic, id 435980634380042241 search is slow is that the index build task is stuck. There is a working PR to fix this problem. I shall let you know after the PR is merged.

[2022-09-14 13:03] yah01 opened #19208 "[Bug]: CreateIndex hangs forever while compacting segments"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

If segments are compacted while creating index for collection, IndexCoord marks the compacted segments as deleted, but not to update the index states, leaves these segments' index states InProgress or Unissued forever.

### Expected Behavior

_No response_

### Steps

[2022-09-14 14:15] xiaofan-luan commented on #19208
/assign @xiaocai2333

[2022-09-14 15:52] julitschkaa commented on #6733
I'm facing the same issue while trying to load a dataset into the dna_sequence_classifiaction_solution from the milvus bootcamp https://github.com/shiyu22/bootcamp/blob/master/solutions/dna_sequence_classification/quick_deploy/README.md
env: Ubuntu 20.04
I set up the system following the quick deploy
Yet API endpoint /text/load_data results in "unknown method GetFlushState" Error

[2022-09-15 02:29] ThreadDao commented on #17040
Maybe I need to retest on the new version

[2022-09-15 02:35] ThreadDao commented on #12598
@cydrain Can you help to upgrade knowhere so I can verify this issue ?

[2022-09-15 02:37] ThreadDao commented on #16750
keep open

[2022-09-15 02:46] NicoYuan1986 commented on #15282
Recently: https://jenkins.milvus.io:18080/blue/organizations/jenkins/qa%2Fmilvus-release-nightly/detail/milvus-release-nightly/101/pipeline/193
1. milvus: 2.1.*(3c3ba55c) pymilvus: 2.1.2.dev9
2. FAILED timeline: [2022-09-14T21:10:41.256Z] [gw0] [ 99%] FAILED testcases/test_search.py::TestCollectionSearch::test_search_multi_collections[5000-2-128-True-True]
3. log: [milvus-distributed-pulsar-101-py

[2022-09-15 02:53] binbinlv commented on #12598
@NicoYuan1986

Could you help to verify this issue and remove the "xfail" for  test case test_index.py::test_annoy_index if it is fixed. Thanks.

[2022-09-15 03:02] yanliang567 opened #19212 "[Bug]: Search latency is lower if running go sdk than it is if running in python sdk"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

same milvus cluster, same collection, same search params, same search concurrent number=50, the search vector count rate is almost same, while the go sdk gets half search latency, comparing with using pymilvus

![image](https://user-images.githubusercontent.com/823616

[2022-09-15 03:03] zhuwenxing commented on #19087
This issue has not happened in the pulsar version, but when Kafka is as MQ, this issue still occurs.

cluster upgrade
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_kafka_for_release/detail/deploy_test_kafka_for_release/98/pipeline

cluster reinstall
https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_kafka_for_release/detail/deploy_test_kafka_for_r

[2022-09-15 03:09] yanliang567 commented on #19212
shard_num: 1
total_num : 1000000
dim: 128
index_type: IVF_FLAT
metric_type: IP
nlist: 2048
nq: 1
topk: 1
nprobe: 16
concurrency: 50

[2022-09-15 03:10] yanliang567 commented on #19212
/assign @czs007
/unassign

[2022-09-15 03:21] zhuwenxing commented on #18759
@jiaoew1991
any progress? it is still stable happened in 2.1.0-latest.

[2022-09-15 03:41] zhuwenxing commented on #19017
Have tried 5+ times for the pulsar version, for datanode pod kill chaos test, but this issue has not happened yet after PR https://github.com/milvus-io/milvus/pull/19140.

I would check it for the Kafka version, if it is ok then this issue could be closed.

[2022-09-15 03:45] XuanYang-cn commented on #17107
/unstale

[2022-09-15 03:48] zhuwenxing commented on #18940
Kafka version
cluster reinstall `2.1.0-20220913-3c3ba55`
failed job:
https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_kafka_for_release/detail/deploy_test_kafka_for_release/96/pipeline/301
log:
[artifacts-cluster-reinstall-96-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9571592/artifacts-cluster-reinstall-96-server-logs.tar.gz)
[artifacts-cluster-reinstall-96-py

[2022-09-15 03:55] zhuwenxing commented on #18828
kafka version
cluster reinstall `2.1.0-20220913-3c3ba55`
failed job:
https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_kafka_for_release/detail/deploy_test_kafka_for_release/96/pipeline/300
log:
[artifacts-cluster-reinstall-96-pytest-logs (1).tar.gz](https://github.com/milvus-io/milvus/files/9571624/artifacts-cluster-reinstall-96-pytest-logs.1.tar.gz)
[artifacts-cluster-reinstall

[2022-09-15 06:09] zhuwenxing commented on #16134
/reopen

[2022-09-15 06:14] wayblink commented on #16134
@zhuwenxing any new test cases？

[2022-09-15 06:21] zhuwenxing commented on #16134
for datacoord pod kill, this issue still exists
chaos type: pod-kill image tag: 2.1.0-20220913-3c3ba55 target pod: datacoord
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-kafka-for-release/detail/chaos-test-kafka-for-release/426/pipeline

![image](https://user-images.githubusercontent.com/12268675/190328430-363916cc-8a8a-4939-9bd6-ebeff137ae7b.png)

![image](https:

[2022-09-15 06:33] zhuwenxing commented on #16134
I think this issue has not been fixed as far as I know, so it is not about the new test cases.
I reopen it just because it is closed by the stable bot, however, the issue is not fixed yet.

[2022-09-15 06:36] zhuwenxing commented on #19017
This issue did not happen when Milvus is using Kafka as MQ,  so this it could be closed.

[2022-09-15 06:36] #19017 closed

[2022-09-15 06:49] yanliang567 commented on #19187
@perrital what about using
[code]

[2022-09-15 07:15] zhuwenxing commented on #18759
@jiaoew1991
sorry for the wrong information, it is still stable in the master branch but has not happened in the 2.1 branch.

Do you know which PR fixed this in 2.1?

[2022-09-15 07:23] zhuwenxing commented on #18799
chaos type: pod-kill image tag: 2.1.0-20220913-3c3ba55 target pod: etcd

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release/detail/chaos-test-for-release/549/pipeline

log:
[artifacts-etcd-pod-kill-549-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9572818/artifacts-etcd-pod-kill-549-server-logs.tar.gz)
[artifacts-etcd-pod-kill-549-pytest-logs

[2022-09-15 07:28] jiaoew1991 commented on #19097
in this refactor commit https://github.com/milvus-io/milvus/commit/a5e2d6b6fb924afcff335d836879cce6c55ca91f, rootCoord became serialized, it maybe affected to the performance.

@longjiquan please take a look

[2022-09-15 07:56] SimFG opened #19216 "[Enhancement]: Support the rpc request hook"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Support the rpc request hook

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-09-15 08:29] soothing-rain commented on #19190
Hey @dzqoo , with a DataNode of size 1c4g and with # of shards = 1, it is high possible that inserting with 130k per batch could congest DataNode.

I'd suggest try one of the things below to resolve this issue:
1. Add more resource to your DataNode
2. Decrease the # of records per insert batch. (Or wait until v2.2 for our new bulk load feature).
3. Change # of shards back to 2.

/unassign
/assign

[2022-09-15 09:41] perrital commented on #19187
that's what I'm currently doing, but it has high latency (multiple calls) I was aiming it to be supported in the DB level

[2022-09-15 09:50] yanliang567 commented on #19187
@perrital could you please share more info of the scenario that it shall be supported in the DB level?

[2022-09-15 11:04] NicoYuan1986 commented on #12598
The issue has been solved.

[2022-09-15 11:04] #12598 closed

[2022-09-15 11:14] dzqoo commented on #19190
get.Thank for applyin.

[2022-09-15 11:19] bingbb47 opened #19219 "[Bug]: Insert data to multi partition cause datanode ERROR and crash"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. create a collection ; shard_num=2
2. create 400 partitions and instert [10000 ,64dim] vec per partition
3. print the  property "num_entities"

datanode flush a few partition and then output ERROR log  "no flush channel found for the segment, unable to flush"
datano

[2022-09-15 11:49] perrital commented on #19187
@yanliang567  lets say you have a field (beside the embedding field) representing a cohort, say, gender and you want to retrieve top k entries for each of the cohorts, You can think of it as "stratified retrieval". I would expect this to happen concurrently over partitions. In a more industrial scenario, this is a way to ensure diversity of recommendation over cohorts.
does this answer your questi

[2022-09-15 11:56] longjiquan opened #19221 "[Feature]: Add policy to seal long time idle segment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

If users insert entities into segment continuously within a certain period of time, but they forgot to flush/(seal) it and the size of segment didn't reach the seal proportion. Under this situation, Milvus will wait these segments to be expired an

[2022-09-15 12:05] #17228 closed

[2022-09-15 12:05] #18558 closed

[2022-09-15 12:05] #18561 closed

[2022-09-15 12:24] yanliang567 commented on #19187
yes, thank you for quick reply.

[2022-09-15 12:26] yanliang567 commented on #19219
@bingbb47 thank you for the issue. may i ask how may datanode do you have, and what is the cpu and memory configuration for each? it looks like there are too many partitions that the datanodes cannot hold.

[2022-09-15 12:27] perrital commented on #19187
thank you @perrital !

[2022-09-15 13:09] bingbb47 commented on #19219
i have run into this problem both in these two scenarios
datanode *1 *8c32g；
datanode *2 *8c32g
CPU: Intel(R) Xeon(R) Gold 6242 CPU @ 2.80GHz

[2022-09-15 13:41] ndtreviv opened #19224 "[Bug]: Standalone Milvus sometimes won't restart"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]
[code]

### Milvus Log

[20220914_milvus.log](https://github.com/milvus-io/milvus/files/9575722/20220914_milvus.log)

### Anything else?

We did find that Windows Defender was deleting some application files. I have no evidence that it has deleted any milvus specific files, but it might be

[2022-09-15 16:45] y0h06o6 commented on #19125
Hi,
We have done another test and it still crash
The data size is 52M entities.
We were trying to build a IVF-PQ indexing (nlist=8192, m=128)
The max segment size was changed to 1024 MB
(This is another problem that minio shows the storage size is 57GB but Grafana shows there are 175 segments, which does not match.)
According to the sizing tool we need around 70GB of memory for querynodes, and we

[2022-09-16 01:07] yanliang567 commented on #19125
@y0h06o6 according to the info above:
1. the original row data size is about 50GB, and the index file size is about 7GB, so it is reasonable that the minio says the storage size is 57GB.
2. Although the max segment size was set to 1024MB, the actual segment size could be around 512MB+, which causes no more compaction of segments. So it is acceptable if there are more segments than expected.
3. The

[2022-09-16 01:28] yanliang567 commented on #19224
/assign @LoveEachDay
/unassign

[2022-09-16 01:32] LoveEachDay commented on #19071
@wangnimaa The config option of `cacheSize` has been removed. You can just set the pod memory limit instead.

[2022-09-16 01:36] yanliang567 commented on #19219
/assign @soothing-rain
/unassign

[2022-09-16 01:49] Mask-Z opened #19226 "[Bug]: task queue is full"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When i use `milvusClient` do insert, response return the message:

`task queue is full`

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

`When I saw this error, I closed the write process, and th

[2022-09-16 01:50] congqixia commented on #19208
#19163 shall fix this problem for master branch.
Do we have any fix for 2.1 branc

[2022-09-16 01:51] congqixia commented on #19042
Issue #19208 is tracking index block problem

[2022-09-16 02:18] yanliang567 commented on #18890
/assign @jiaoew1991
/unassign @Mask-Z

[2022-09-16 02:23] NicoYuan1986 commented on #18846
Recently: https://jenkins.milvus.io:18080/blue/organizations/jenkins/qa%2Fmilvus-release-nightly/detail/milvus-release-nightly/103/pipeline/142
1. milvus: 2.1.*(3c3ba55c) pymilvus: 2.1.2.dev9
2. failed timeline: [2022-09-15T20:30:24.170Z] [gw1] [ 39%] FAILED testcases/test_search.py::TestCollectionSearchInvalid::test_search_param_invalid_travel_timestamp[1.0]
3. collection name: search_collection_

[2022-09-16 02:26] NicoYuan1986 commented on #17750
Same issue appears again in the following 2.1.* branch:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/qa%2Fmilvus-release-nightly/detail/milvus-release-nightly/103/pipeline/158
1. milvus log: [milvus-distributed-kafka-103-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/qa/job/milvus-release-nightly/103/artifact/milvus-distributed-kafka-103-pymilvus-e2e-logs.tar.gz)
2. co

[2022-09-16 02:32] yhmo commented on #19224
[2022/09/14 12:03:26.793 +00:00] [ERROR] [querycoord/task_scheduler.go:265] ["reloadFromKV: taskStateInfo and triggerTaskInfo are inconsistent"] [stack="github.com/milvus-io/milvus/internal/querycoord.(*TaskScheduler).reloadFromKV\n\t/go/src/github.com/milvus-io/milvus/internal/querycoord/task_scheduler.go:265\ngithub.com/milvus-io/milvus/internal/querycoord.newTaskScheduler\n\t/go/src/github.com/

[2022-09-16 02:34] yhmo commented on #19224
Link to this issue: https://github.com/milvus-io/milvus/issues/19106

[2022-09-16 02:44] jiaoew1991 commented on #19038
we can retry it with querycoordV2

/assign @NicoYuan1986

[2022-09-16 02:44] jiaoew1991 commented on #19097
/assign @longjiquan

[2022-09-16 02:48] jiaoew1991 commented on #18824
we can retry it with querycoordV2

/assign @zhuwenxing
/unassign

[2022-09-16 02:49] jiaoew1991 commented on #18977
we can retry it with querycoordV2

/assign @NicoYuan1986
/unassign

[2022-09-16 02:50] jiaoew1991 commented on #18799
we can retry it with querycoordV2

/assign @zhuwenxing
/unassign

[2022-09-16 02:55] LoveEachDay commented on #19224
@ndtreviv From the attached log, we can see the querycoord does not initialized successfully. So that the milvus proxy cannot startup normally. Could you provide the complete milvus log which the first startup log is missing?

[2022-09-16 03:16] #18031 closed

[2022-09-16 03:21] weiliu1031 commented on #19224
from the code logic, i guess there are more than 1024 task in etcd, so the  reload from etcd hand due to reach task queue size bound.

we can verify this by birdwatcher.

[2022-09-16 03:24] sunby commented on #19226
@Mask-Z Thanks for the feedback.
How many threads did you open to do insertion concurrently?
And It will be very helpful if you can provide the proxy log.

[2022-09-16 03:28] yhmo commented on #19224
birdwatcher: https://github.com/milvus-io/birdwatcher

[2022-09-16 04:49] zhuwenxing commented on #18799
Bad news, after querycoordV2 merged in master, the pod kill chaos test almost failed due to load collection timeout. but etcd is OK.

I would open a new issue to trace the load timeout problem.

[2022-09-16 05:01] zhuwenxing opened #19232 "[Bug]: Loading collection timeout after many pod kill chaos test in master branch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/190559445-a07be4c9-c591-4568-8b90-5cb09a4cde9c.png)

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

chaos type: pod-kill image tag: master-2022091

[2022-09-16 05:10] zhuwenxing opened #19233 "[Bug]: Release collection timeout after many pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/190560521-5d46f603-f0ff-4cb4-b7f8-7f8eb1181fef.png)

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/

[2022-09-16 05:52] xiaofan-luan commented on #19233
/assign @longjiquan

pls help on investigate

[2022-09-16 05:53] xiaofan-luan commented on #19232
/assign @sunby

[2022-09-16 05:55] xiaofan-luan commented on #19192
we will ban all kafka related test cases for now.

We will also see some cases kafka can not recover but pulsar is ok, still investigate on it.

[2022-09-16 06:03] #18574 closed

[2022-09-16 06:08] yah01 commented on #19232
/assign

[2022-09-16 06:15] Uzay-G opened #19235 "[Bug]: data inserted into milvus is no longer there after restart"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I insert ~70k vectors into Milvus. A day later, I restart the docker service and the data I just inserted is gone..

### Expected Behavior

The data would simply remain.

### Steps To Reproduce

_No response_

### Milvus Log

Logs are way too big (~1GB). Not sure what

[2022-09-16 06:21] yanliang567 commented on #19235
@Uzay-G thank you for the issue. could you please share the logs via google driver or baidu driver? One quick question, did you run Milvus with default configurations? If not, please specify which items did you changed, and the new values.

[2022-09-16 06:23] binbinlv opened #19236 "[Bug]: querycoordv2 crashed with painc "invalid memory address or nil pointer dereference""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

querycoordv2 crashed with painc "invalid memory address or nil pointer dereference"
[code]

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Milvus Log

[artifacts-milvus-standalone-nightly-101-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18

[2022-09-16 06:31] yah01 commented on #19236
/assign

[2022-09-16 06:35] congqixia opened #19238 "[Bug]: Data race in querycoordv2 TestServer/TestNodeUp"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Data race happens when running unit tests

### Expected Behavior

Ut passes without data race

### Steps To Reproduce

_No response_

### Milvus Log

[code]

### Anything else?

_No response_

[2022-09-16 06:36] congqixia commented on #19238
Run link:
https://github.com/milvus-io/milvus/actions/runs/3065242657/jobs/4949148307

[2022-09-16 07:18] binbinlv commented on #18756
Same error appears in CI (query interface):
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-19207/14/pipeline/142/

1. milvus log: [artifacts-milvus-distributed-PR-19207-14-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20HA%20CI/job/PR-19207/14/artifact/artifacts-milvus-distributed-PR-19207-14-pymilvus-e2e-logs.tar.gz)
2. collection name

[2022-09-16 07:55] zhagnlu opened #19243 "[Bug]: fix compatibility of chunk manager in macOs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

open chunk manager module in MacOs

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-16 08:27] xiaocai2333 commented on #19164
fixed, please verify @zhuwenxing
/assign @zhuwenxing

[2022-09-16 08:31] XuanYang-cn opened #19246 "[Enhancement]: Make Query results order by rowID"
@xiaofan-luan Using rowID could save the sorting part, good optimisation for offset+limit way. If we would change the underneath storage, I suggest implementing both sorts and making it an option. And we need to benchmark both solutions to measure performance.

To use rowID for sorting results,
- [ ] firstly, we need to fill the rowID field to retrieve results in segcore.
- [ ] Secondly,  we need

[2022-09-16 08:38] XuanYang-cn commented on #16055
unstale

[2022-09-16 08:40] ndtreviv commented on #19224
Sorry, I don't have any more logs. 😔
It sounds like @yhmo has a lead on what it is, though. I'll be waiting for the next version with anticipation!

[2022-09-16 08:41] yanliang567 commented on #18963
/assign @longjiquan
/unassign @jiaoew1991

[2022-09-16 08:56] xTerry commented on #18606
Close this issue.

[2022-09-16 08:56] #18606 closed

[2022-09-16 09:06] yanliang567 commented on #19243
/assign @zhagnlu
/unassign

[2022-09-16 09:08] congqixia commented on #18968
/assign

[2022-09-16 09:22] congqixia opened #19248 "[Bug]: [QCV2] querynode distribution may return not fully watched dml channel"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

querynode distribution may return not fully watched dml channel

### Expected Behavior

querynode distribution shall only return dml channel after its fully watched

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

May lead to

[2022-09-16 09:24] NicoYuan1986 opened #19250 "[Bug]: [Pagination] Search pagination with invalid offset value raised no exception"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search pagination with invalid offset value raised no exception.

### Expected Behavior

Return an error code. Such as ,MilvusException: (code=1, message=Invalid offset value, should be in range [...])

### Steps To Reproduce

Run:
[code]

### Milvus Log

_No response

[2022-09-16 09:25] yanliang567 commented on #19250
/assign @XuanYang-cn
/unassign

[2022-09-16 09:45] dzqoo opened #19253 "[Bug]: Segments Search in one queryNode is serial and time cost of "reduce search result" is high."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I search 128 dimension of 1kw vectors by 5 concurrent_num and 150 topk, I got 200ms rt.
I got the following querynode logs and find that segment search is in one querynode is serial  and time cost of "reduce search result" is really high,which is 134ms in my case

[2022-09-16 09:47] yanliang567 commented on #19253
/assign @bigsheeper
/unassign

[2022-09-16 09:53] dzqoo commented on #19253
Here is the metrics:
![4e0b6b08f16eb133e196cd266bd07ff](https://user-images.githubusercontent.com/8862305/190612207-31742dbc-f02e-4860-a621-45b06d4b1dd0.jpg)
![1e938965777ad79dc504d3effe84639](https://user-images.githubusercontent.com/8862305/190612278-5229cd2e-d679-4624-addf-a5bdac2c6ebf.jpg)

[2022-09-16 09:58] dzqoo commented on #19253
Here is all the metric log:
[milvus-log.tar.gz](https://github.com/milvus-io/milvus/files/9582914/milvus-log.tar.gz)

[2022-09-16 10:14] jiaoew1991 commented on #18756
/assign @sunby
/unassign

it still happened with QueryCoordV2

[2022-09-16 10:14] zhuwenxing opened #19254 "[Bug]: When field name is not match with npy file name for bulk load, the error message is field has 0 rows rather than field name and file name dismatch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![CcbVVRbBHd](https://user-images.githubusercontent.com/12268675/190615610-9cd4cbba-4374-4747-b0d2-ab2c45cf3bf6.jpg)

The filename is intFieBig.npy, but i set field name as intFeBig by mistake.

### Expected Behavior

_No response_

### Steps To Reproduce

_No respons

[2022-09-16 10:24] #18579 closed

[2022-09-16 10:53] jiaoew1991 commented on #18890
It can be found from the log that the number of shard leaders is less than the number of shard numbers, so the Querycoord return error when proxy try to list shard leaders.

how many alive Querynode do you have, and how many shards does the collection have ?

[2022-09-16 10:59] yanliang567 commented on #19254
/assign @yhmo
/unassign

[2022-09-16 11:10] jingkl opened #19256 "[Bug]: [vdc-diskann]Milvus reads and writes data after creating a diskann index, not based on minio.rootPath in milvus.yaml"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

In the uat environment, after Milvus has created the diskANN instance and run the test cases, go to the s3 bucket and look at the data, which is not under the user instance directory

Milvus.yaml
[code]

![20220916-190625](https://user-images.githubusercontent.com/342

[2022-09-17 03:26] JackLCL commented on #18288
@Sivannnnnn @zhengsonglinge
Milvus v2.1.2 is released. Please try this new version to check if this problem is solved.

[2022-09-17 03:59] #17368 closed

[2022-09-17 03:59] #17597 closed

[2022-09-17 03:59] #17792 closed

[2022-09-17 03:59] #17788 closed

[2022-09-17 03:59] #17885 closed

[2022-09-17 03:59] #17648 closed

[2022-09-17 03:59] #18045 closed

[2022-09-17 04:58] #18190 closed

[2022-09-17 12:27] #18536 closed

[2022-09-17 12:27] #18515 closed

[2022-09-17 12:27] #18299 closed

[2022-09-17 12:27] #18372 closed

[2022-09-17 12:27] #18377 closed

[2022-09-17 12:27] #18107 closed

[2022-09-17 12:27] #18164 closed

[2022-09-17 12:27] #17645 closed

[2022-09-17 12:27] #17756 closed

[2022-09-17 12:27] #17350 closed

[2022-09-17 12:27] #17462 closed

[2022-09-17 12:27] #16607 closed

[2022-09-17 12:27] #16426 closed

[2022-09-17 14:06] xiaofan-luan commented on #19256
local data should be stored at localStorage.path
remote data should be stored under minio.rootpath

[2022-09-17 14:08] xiaofan-luan commented on #19181
/assign @xiaocai2333
pls help on it

[2022-09-17 14:10] xiaofan-luan commented on #19152
a intersting topic.
When we want to do nodeA.vector1 * nodeB.vector2.
vector1 is from the collection and vector2 is from another collection? or vector2 is simply a fixed vector

[2022-09-17 14:27] #17651 closed

[2022-09-17 14:27] #18539 closed

[2022-09-18 03:44] #18521 closed

[2022-09-18 11:01] #18262 closed

[2022-09-18 11:21] Hadryan commented on #16519
Highly needed

[2022-09-19 01:43] NicoYuan1986 commented on #17750
Same issue appears again in the following 2.1.* branch:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/qa%2Fmilvus-release-nightly/detail/milvus-release-nightly/110/pipeline/177
1. milvus log: [milvus-distributed-kafka-110-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/qa/job/milvus-release-nightly/110/artifact/milvus-distributed-kafka-110-pymilvus-e2e-logs.tar.gz)
2. co

[2022-09-19 01:54] NicoYuan1986 commented on #18900
Recently: https://jenkins.milvus.io:18080/blue/organizations/jenkins/qa%2Fmilvus-release-nightly/detail/milvus-release-nightly/106/pipeline/177
1. milvus: 2.1.*(3c3ba55c)  pymilvus: 2.1.2.dev9
2. collection name: coll__jMWdNsuQ
3. failed time: [2022-09-16T23:32:30.384Z] [gw2] [ 37%] FAILED testcases/test_partition.py::TestPartitionOperations::test_partition_release_after_collection_released
4. mil

[2022-09-19 02:07] zhuwenxing commented on #19165
It reproduced stable, so set it as critical

[2022-09-19 02:22] zhuwenxing opened #19262 "[Bug]: Querycoord can not be ready after querycoord pod failure chaos test in master branch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/190940252-27293d93-77a3-412c-8a1e-aaa8725dcaf1.png)

![image](https://user-images.githubusercontent.com/12268675/190940110-fefcc408-e8f6-49d3-81cb-f6be201d3d45.png)

### Expected Behavior

Milvus can be recov

[2022-09-19 02:29] jiaoew1991 commented on #19039
dup with https://github.com/milvus-io/milvus/issues/19192, track it together.

[2022-09-19 02:29] zhuwenxing commented on #19165
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release/detail/chaos-test-for-release/638/pipeline
log:
[artifacts-querycoord-pod-kill-638-server-logs (1).tar.gz](https://github.com/milvus-io/milvus/files/9595835/artifacts-querycoord-pod-kill-638-server-logs.1.tar.gz)

[artifacts-querycoord-pod-kill-638-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/file

[2022-09-19 02:30] jiaoew1991 commented on #19039
<img width="1039" alt="image" src="https://user-images.githubusercontent.com/2297455/190940969-00863fcc-2131-4d5a-96ff-b0157b5f9a80.png">

[2022-09-19 02:30] #19039 closed

[2022-09-19 02:36] #18893 closed

[2022-09-19 03:09] zhuwenxing opened #19263 "[Bug]: Indexcoord can not be recovered after datacoord pod kill chaos test in master branch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/190943701-64a1b5eb-8e7d-4153-9a84-414983607fd4.png)

[code]

### Expected Behavior

all components works well after chaos

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins

[2022-09-19 03:11] XuanYang-cn commented on #16055
Found no usage of these 4 functions, and the bool part is already done.
[code]

One question, I found these ut
[code]

Dose idempotent means if the first write is a success, then if the value to write is equal to the actual value read, do nothing and return success? @xiaofan-luan
[code]

[2022-09-19 03:18] yanliang567 commented on #19208
Xiaocai said that it could  be a different issue for 2.1 branch.
@xiaocai2333 could u please take a look at this issue?

[2022-09-19 03:38] NicoYuan1986 opened #19265 "[Enhancement]: Lack test cases of search and query pagination"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Test cases of search pagination.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-09-19 03:39] xiaocai2333 commented on #19042
Can you provide me with a log of the search time?  @dzqoo

[2022-09-19 04:02] zhuwenxing commented on #19165
It reproduced stable,so set is as critical

[2022-09-19 04:50] zhuwenxing opened #19269 "[Bug]: Search failed with error `ShardCluster for by-dev-rootcoord-dml_xxx replicaID xxx is no available` after pulsar pod failure chaos test in 2.1 branch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release/detail/chaos-test-for-release/649/pipeline

log:
[artifacts-pulsar-p

[2022-09-19 05:54] dzqoo commented on #19042
@xiaocai2333 There is the search log.
https://github.com/milvus-io/milvus/issues/19253

[2022-09-19 06:26] zhuwenxing commented on #18756
failed in CI
failed job: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-19267/1/pipeline/

failed case: FAILED testcases/test_delete.py::TestDeleteOperation::test_delete_sealed_data_channel_delete
[code]

[2022-09-19 06:37] jiaoew1991 opened #19270 "[Enhancement]: remove outdated code in Querynode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

After https://github.com/milvus-io/milvus/issues/18031 have finished. The communication mechanism  `QueryNode` and `QueryCoord` is significantly changed, we need remove the outdated code in `QueryNode`

### Why is this needed?

Make code clean again

### Anything else?

_No re

[2022-09-19 06:43] NicoYuan1986 opened #19271 "[Bug]: Search failed reporting fail to search on all shard leaders, err=fail to Search, QueryNode ID=1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-19 06:44] zhuwenxing opened #19272 "[Bug]: Get bulk load state raise error `Import task id doesn't exist` when task was not finished in 15min if standalone is 2c8g"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![GX6EhOE4jN](https://user-images.githubusercontent.com/12268675/190962223-59f6c007-3d69-4b7b-9dd7-b0c75e99be1a.jpg)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-19 07:36] #18415 closed

[2022-09-19 07:42] #19271 closed

[2022-09-19 07:45] xiaocai2333 commented on #19042
I checked `loadIndex` in all QueryNode's logs, all results are true.

![image](https://user-images.githubusercontent.com/46207236/190971454-f6a998c9-e2f7-470b-94c5-889bdb9b21f7.png)

![image](https://user-images.githubusercontent.com/46207236/190971549-798e07db-b50f-4c8c-9135-61dd4e2408d1.png)

[2022-09-19 07:48] xiaocai2333 commented on #19042
And from the log @yanliang567 gave me, there are many growing segment...
![image](https://user-images.githubusercontent.com/46207236/190971890-3d86cbf1-0030-4ad6-b09b-ef98aa2a7004.png)

And all sealed segments are loaded index.
![image](https://user-images.githubusercontent.com/46207236/190971977-0c8824c2-adab-4ef6-abf2-dd52e2c17e3a.png)

[2022-09-19 07:55] congqixia commented on #19208
@xiaocai2333 @yanliang567 re-confirmed the log for #19042, this problem shall happen in the build manually on master. 2.1 branch shall be fine.

[2022-09-19 08:27] yanliang567 commented on #19272
/assign @yhmo
/unassign

[2022-09-19 08:27] yanliang567 commented on #19272
/assign @soothing-rain

[2022-09-19 08:37] zhuwenxing opened #19274 "[Bug]: Performance of flush, search and query degrade after etcd, querycoord pod failure chaos test in 2.1 branch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/190976798-fd4618ab-5177-4e9b-abf9-12d568c08181.png)

### Expected Behavior

![image](https://user-images.githubusercontent.com/12268675/190978677-51dd5acd-4248-48ba-8a8a-f240feb893b4.png)

### Steps To Reprod

[2022-09-19 08:51] stringk245 commented on #18318
Is this problem not solved yet?

[2022-09-19 09:09] inkinworld commented on #18951
hi ~ why  "^" and "$" is the special character of regular pattern so we shouldn't allow "$" in partition name ?
when user users a regular pattern to match the partition name, just use escape character .i.e:` \$` is fine.

[2022-09-19 09:40] ben1009 opened #19276 "[Enhancement]: replace github.com/tecbot/gorocksdb with cockroachdb/pebble"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

seems duplicated with https://github.com/milvus-io/milvus/issues/16957, saw actions been taken but somehow paused, may i ask what the thought behind, thanks

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-09-20 00:48] yanliang567 commented on #19274
/assign @czs007
/unassign

[2022-09-20 00:50] yanliang567 commented on #19269
/assign @jiaoew1991
/unassign

[2022-09-20 00:55] yanliang567 commented on #18509
@zhoushewei  could you please retry on v2.1.2, which was release a few days ago?
/assign @zhoushewei

[2022-09-20 01:49] NicoYuan1986 commented on #18846
Recently: https://jenkins.milvus.io:18080/blue/organizations/jenkins/qa%2Fmilvus-release-nightly/detail/milvus-release-nightly/111/pipeline/177
1. milvus: 2.1.*(3c3ba55c)  pymilvus: 2.1.2.dev9
2. failed timeline: [2022-09-19T20:31:48.234Z] [gw3] [ 39%] FAILED testcases/test_search.py::TestCollectionSearch::test_search_after_different_index_with_params[8-False-False-IVF_FLAT-params1]
3. collection

[2022-09-20 02:23] wangnimaa commented on #19071
we set the memoryLimit is 1G，but milvus use more than 1G memory。how to use config Memory obsolescence?

[2022-09-20 02:44] yanliang567 commented on #19071
how did you run deploy Milvus, could you please share the configuration yaml?

[2022-09-20 04:04] #19248 closed

[2022-09-20 06:17] jiaoew1991 commented on #19276
Hi @ben1009, I have tried to work on #16957 on May and June, the pull request is nearly complete. Later, due to priority reasons, there is no advance for the time being, if you are interested you can try to complete it 😊

[2022-09-20 06:48] jingkl opened #19285 "[Enhancement]: Add the string testcase with insert empty string"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

1. support insert/query/search/index empty with string

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-09-20 06:49] jingkl opened #19286 "[Enhancement]: Add the string testcase with insert empty string"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

1. support insert/query/search/index empty with string

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-09-20 06:53] #19285 closed

[2022-09-20 07:02] jingkl commented on #18845
server-instance
fouram-cluster-cron-1663621200-1
server-configmap
server-single-32c128m
client-configmap
client-get-local50m-512

2.1.0-20220916-3c3ba55c
2.1.2dev9
server
[code]
client log
[code]

[2022-09-20 07:05] jingkl commented on #18804
This is an occasional issue that has only occurred once and is not currently occurring, so close issue first

[2022-09-20 07:05] #18804 closed

[2022-09-20 07:13] XuanYang-cn opened #19289 "[Enhancement]: Unify MockTxnKV with mockery"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

remove `mock_*_test.go` in `internal/kv`, generating them with mockery

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-09-20 07:13] jingkl opened #19290 "[Bug]: [benchmark][standalone] Milvus search failed,raise an error"fail to search on all shard leaders, err=fail to Search, QueryNode ID=1, reason=stream operation failed: deadline exceed""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-w5ccc-1
server-configmap
server-single-8c16m
client-configmap
client-acc-sift-flat

sever:
[code]
client log:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

client

[2022-09-20 07:36] #19192 closed

[2022-09-20 07:36] #19081 closed

[2022-09-20 07:48] zhuwenxing commented on #19165
chaos type: pod-kill image tag: 2.1.0-20220916-3c3ba55c target pod: querycoord
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release/detail/chaos-test-for-release/693/pipeline
log:
[artifacts-querycoord-pod-kill-693-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9605264/artifacts-querycoord-pod-kill-693-server-logs.tar.gz)
[artifacts-querycoord-p

[2022-09-20 07:51] longjiquan commented on #19097
working on this ...

[2022-09-20 07:55] zhuwenxing commented on #18828
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_kafka_for_release/detail/deploy_test_kafka_for_release/131/pipeline

log:
[artifacts-cluster-reinstall-131-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9605320/artifacts-cluster-reinstall-131-server-logs.tar.gz)
[artifacts-cluster-reinstall-131-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/fi

[2022-09-20 08:02] zhuwenxing commented on #18940
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_kafka_for_release/detail/deploy_test_kafka_for_release/131/pipeline/303

log:
[artifacts-cluster-reinstall-131-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9605340/artifacts-cluster-reinstall-131-server-logs.tar.gz)
[artifacts-cluster-reinstall-131-pytest-logs.tar.gz](https://github.com/milvus-io/milvu

[2022-09-20 08:11] #19238 closed

[2022-09-20 09:02] zhuwenxing commented on #19164
verified and passed in `master-20220919-8ac30397`

[2022-09-20 09:02] #19164 closed

[2022-09-20 09:07] zhuwenxing commented on #19262
not reproduced in `master-20220919-8ac30397`

[2022-09-20 09:07] #19262 closed

[2022-09-20 09:53] #19263 closed

[2022-09-20 09:56] congqixia commented on #18968
This problem is caused by marisa string index. By default, all binlog/index files are smaller than the max row group size(16MB by default). So the payload reader shall only read first element in parquet files.
If the file is large enough (64MB shall be the config now), payload writer will split data into multiple row groups.
#19283 adapts the reading multiple raw group logic for fix this problem.

[2022-09-20 10:17] SuperLiChen opened #19297 "[Bug]: search and install one docment use 400ms"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

collection base have 80W  512 dim data

Consistency Level  is use  default.

search and  insert  approximately use 400ms.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

[milvus.tar.gz](https://github.com/milvus-io/milvus/

[2022-09-20 11:00] zhuwenxing commented on #19269
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release/detail/chaos-test-for-release/702/pipeline
log:
[artifacts-pulsar-pod-failure-702-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/9606820/artifacts-pulsar-pod-failure-702-pytest-logs.tar.gz)
[artifacts-pulsar-pod-failure-702-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9606822/

[2022-09-20 11:03] zhuwenxing commented on #19165
Now it is not a stable issue, so remove critical label

[2022-09-20 11:09] yanliang567 commented on #19297
@SuperLiChen thank you for the issue, quick questions:
1. how do you measure the time cost?
2. do you have any metrics for reference?
In the attached log ,it seems that search done in less ms
[code]

[2022-09-20 11:13] zhuwenxing commented on #19087
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_kafka_for_release/detail/deploy_test_kafka_for_release/135/pipeline
log:
[artifacts-cluster-reinstall-135-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9606882/artifacts-cluster-reinstall-135-server-logs.tar.gz)
[artifacts-cluster-reinstall-135-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/fil

[2022-09-20 11:42] zhuwenxing commented on #19011
not reproduced yet, so close it

[2022-09-20 11:42] #19011 closed

[2022-09-20 11:49] yanliang567 commented on #19290
/assign @jiaoew1991
/unassign

[2022-09-20 12:51] longjiquan opened #19299 "[Bug]: slice size is not set for scalar index"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Now, Milvus supports to build index for scalar field, for example, you can create marisa trie index for string field to save memory. But now Milvus didn't set slice size for these scalar index, so if the marisa trie is very large then the index file may be very also l

[2022-09-20 12:51] longjiquan commented on #19299
/unassign @yanliang567
/assign

[2022-09-20 13:49] longjiquan opened #19301 "[Enhancement]: Need a document to introduce segment seal policy."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I want to add a document to introduce segment seal policy. Also, this document should introduce the related workflow after the segment was been sealed, for example, the potential compaction of this segment if it's too small, the possible handoff if this segment was been loaded

[2022-09-20 13:49] longjiquan commented on #19301
/assign

[2022-09-20 15:26] kkpssr opened #19303 "[Bug]: HNSW created bug"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After I drop IVF_FLAT index and create HNSW index, HNSW index is not work.  index_params is {'metric_type': 'IP', 'index_type': 'HNSW', 'params': {'M': 32, 'efConstruction': 256}} and search_params is {"metric_type":"IP","params":{"ef":1000}}, it show search_param err

[2022-09-21 00:47] Sivannnnnn commented on #18288
@JackLCL
When I tested it, RockSMQ's log was still not cleaned or dropped after a day

![image](https://user-images.githubusercontent.com/46392469/191389736-0d2b9395-2c46-4913-8d28-df0960d40f46.png)

[2022-09-21 01:14] yanliang567 commented on #19303
/assign @binbinlv
coud you please try to reproduce this issue?

/unassign

[2022-09-21 01:56] NicoYuan1986 commented on #18961
Latest:
The error occurs in the nightly for the 2.1.* branch: https://jenkins.milvus.io:18080/blue/organizations/jenkins/qa%2Fmilvus-release-nightly/detail/milvus-release-nightly/113/pipeline/177
1. milvus log: [milvus-distributed-kafka-113-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/qa/job/milvus-release-nightly/113/artifact/milvus-distributed-kafka-113-pymilvus-e2e-logs.tar.gz)

[2022-09-21 02:11] zhuwenxing commented on #18368
Not reproduced anymore, so close it

[2022-09-21 02:11] #18368 closed

[2022-09-21 02:15] zhuwenxing commented on #18409
Not reproduced anymore, so close it!

[2022-09-21 02:15] #18409 closed

[2022-09-21 02:17] zhuwenxing commented on #18302
Not reproduced anymore, so close it!

[2022-09-21 02:17] #18302 closed

[2022-09-21 02:21] congqixia commented on #19290
Fix PR #19249 is merged. Could you please verify? @jingkl
/unassign @jiaoew1991
/assign @jingkl

[2022-09-21 02:23] zhuwenxing commented on #18556
Not reproduced anymore, so close it!

[2022-09-21 02:23] #18556 closed

[2022-09-21 02:42] NicoYuan1986 opened #19310 "[Bug]: New error message "load collection timeout "is not user friendly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Error message now:
[code]
Error message before:
[code]

### Expected Behavior

The error message become more user friendly.

### Steps To Reproduce

The error message before is more helpful to understand the failed reason.
The case may help.
[code]

### Milvus Log

_N

[2022-09-21 02:43] binbinlv commented on #19310
@NicoYuan1986 This is because error code and error message changed.

[2022-09-21 02:47] binbinlv commented on #19310
@NicoYuan1986 but you need to check whether the error message is user friendly. If not, the title should be changed first.

[2022-09-21 02:55] jingkl opened #19314 "[Bug]:[benchmark][standalone]Milvus recall was calculated incorrectly and the error was reported as" Length of returned topk is 0""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-cron-1663689600-4
server-configmap
server-single-8c16m
client-configmap
client-acc-sift-hnsw

[code]

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

client-

[2022-09-21 03:04] suforme opened #19315 "[Bug]: Hard disk hibernation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Hard disk hibernation will cause docker to crash

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-21 03:10] yah01 opened #19316 "[Bug]: Load returns incorrect error code"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Load collection/partition after load partition/collection should return error code 1(UnexpectedError)

### Expected Behavior

The returned error code should be 5 (IllegalArgument)

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else

[2022-09-21 03:12] yah01 opened #19317 "[Bug]: Load will timeout if no enough QueryNodes to load"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Load will timeout if no enough QueryNodes to load

### Expected Behavior

Should check whether enough, and returns error if not

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-21 03:13] jingkl opened #19319 "[Bug]: [benchmark][standalone]Milvus hangs during the insertion of 50m of data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-cron-1663689600-6
server-configmap
server-single-16c64m
client-configmap
client-search-sift50m-ivf-flat-2048

server
[code]
client：
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response

[2022-09-21 03:20] binbinlv commented on #19310
This is maybe duplicate of #19317
@yah01
could you please help to confirm? Thanks.

[2022-09-21 03:22] jingkl commented on #19314
**Ivfsq8's recall is down, before recall was at 97%, I think it's the same problem as above**

server-instance
fouram-cron-1663689600-3
server-configmap
server-single-8c16m
client-configmap
client-acc-sift-ivf-sq8

[code]

[code]

[2022-09-21 03:27] yah01 commented on #19310
Same as #19317 , but load may timeout with many different reasons, we will keep the "load timeout" error, for case of more replicas than QueryNodes, we will check this and return "no enough nodes to create replicas"

[2022-09-21 03:27] yah01 commented on #19310
Same as #19317 , but load may timeout with many different reasons, we will keep the "load timeout" error, for case of more replicas than QueryNodes, we will check this and return "no enough nodes to create replicas"

[2022-09-21 03:28] yah01 commented on #19310
Same as #19317 , but load may timeout with many different reasons, we will keep the "load timeout" error, for case of more replicas than QueryNodes, we will check this and return "no enough nodes to create replicas"

[2022-09-21 03:30] XuanYang-cn commented on #18555
@xiaofan-luan No, we trust Pulsar/Kafka to be reliable, it's kafka who's losing data, there is nothing we can do about it.

Maybe one thing, make sure kafka **truly started** before using milvus.

Empty segments are not the problem here, losing data is.

[2022-09-21 03:30] xiaofan-luan commented on #19221
/assign @yanliang567
pls help on verifying the new policy

[2022-09-21 03:31] XuanYang-cn commented on #18555
@zhuwenxing recommend closing this issue, and reopening if anything similar happens.

/unassign
/assign @zhuwenxing

[2022-09-21 04:00] yanliang567 commented on #19319
/assign @soothing-rain
/unassign

[2022-09-21 04:02] yanliang567 commented on #19315
@suforme thank you for the issue.  Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

/assign @suforme

[2022-09-21 04:03] yanliang567 commented on #19317
/assign @yah01
/unassign

[2022-09-21 04:03] yanliang567 commented on #19316
/assign @yah01
/unassign

[2022-09-21 05:35] ICLzhang commented on #19185
ok，Service has been restored in milvus2.1.2。

[2022-09-21 05:42] soothing-rain commented on #19115
@pingren can you provide logs for Milvus server?

[2022-09-21 05:56] ICLzhang commented on #19027
Service has been restored in milvus2.1.2。

[2022-09-21 05:58] soothing-rain commented on #19139
/assign @jiaoew1991

[2022-09-21 06:11] wangting0128 opened #19321 "[Bug]: Cannot create binary_vector collections whose dimensions are not multiples of 8"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]
### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-21 06:18] pingren commented on #19115
Yes. But my Milvus server is on production. I am too busy right now to set up a new environment.

Hopefully I could reproduce the issue in a dev server and provide logs in holidays next weeks.

[2022-09-21 06:28] zhuwenxing commented on #18555
Not reproduced anymore, so close it!

[2022-09-21 06:28] #18555 closed

[2022-09-21 06:31] XuanYang-cn opened #19323 "[Bug]: IndexNode unittests failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-21 06:47] NicoYuan1986 opened #19324 "[Bug]: [Nightly] Some cases related to compaction failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[2022-09-20T21:08:05.850Z] [gw2] [ 11%] FAILED testcases/test_compaction.py::TestCompactionOperation::test_compact_less_threshold_no_merge
[2022-09-20T21:08:30.494Z] [gw1] [ 12%] FAILED testcases/test_compaction.py::TestCompactionOperation::test_compact_no_merge
[2022

[2022-09-21 06:49] zhuwenxing commented on #18799
chaos type: pod-kill image tag: 2.1.0-20220916-3c3ba55c target pod: etcd
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release/detail/chaos-test-for-release/714/pipeline/

log:
[artifacts-etcd-pod-kill-714-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/9613758/artifacts-etcd-pod-kill-714-pytest-logs.tar.gz)
[artifacts-etcd-pod-kill-714-server-log

[2022-09-21 06:51] zhuwenxing commented on #18799
for 2.1 branch, this issue is reproduced stable.

/assign @jiaoew1991

please help to take a look!

[2022-09-21 06:51] zhuwenxing commented on #18799
/unassign

[2022-09-21 06:55] LoveEachDay commented on #19319
From the milvus log, it seems that milvus hangs in `AssignSegmentID`.
[code]

[2022-09-21 06:56] Leslie-Wong-H opened #19327 "[Bug]: Milvus Standalone not robust at batch insert operation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Try to adopt milvus-standalone-docker-compose.yml to my current trace.moe compose file to test at a DigitalOcean 2c2g VM. This is the polished compose file, [link.](https://github.com/Leslie-Wong-H/trace.moe/blob/master/docker-compose.yml)

The number of vector data i

[2022-09-21 06:59] SuperLiChen commented on #19297
1.  I cost time by  java sdk search function start and return time interval

2.  do you have any metrics for reference?  80W data in cluster_5a9931a7ad951999e787f9f4cee7bac6_2022_09,  total 15 thread to search  milvua, Five of them to search  cluster_5a9931a7ad951999e787f9f4cee7bac6_2022_09

3.  I have  the same time search on six  collections ,  collection  `cluster_5a9931a7ad951999e787f9f4cee7ba

[2022-09-21 06:59] zhuwenxing opened #19328 "[Bug]: Search failed with error `fail to get shard leaders from QueryCoord: no replica available` after querynode pod kill for 2.1 branch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/191435509-45d418b4-8608-4398-a640-262a7354cd12.png)

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

chaos type: pod-kill image tag: 2.1.0-20220916

[2022-09-21 07:00] zhuwenxing commented on #19165
Not reproduced yet!

[2022-09-21 07:07] binbinlv commented on #19303
OK，working.

[2022-09-21 07:33] wayblink commented on #16519
An external backup tool is under develop and will publish soon. Hope it will meet your need.

[2022-09-21 07:42] XuanYang-cn commented on #19321
pymilvus-2.2.0.dev33 Please use this PyMilvus, which will raise a proper exception

[2022-09-21 07:49] NicoYuan1986 opened #19331 "[Bug]: [Nightly] Load balance failed reporting "segment 436130972956669944 not found in source node 6""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Load balance failed reporting "segment 436130972956669944 not found in source node 6":
[code]

### Expected Behavior

PASSED

### Steps To Reproduce

[code]

### Milvus Log

1. FAILED timeline: [2022-09-21T00:41:04.304Z] [gw0] [ 99%] FAILED testcases/test_utility.py::

[2022-09-21 07:50] icodersky opened #19332 "How to reinstall milvus2.1.1 using the original database file after the k8s reinstall？"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

we reinstall with k8s helm like this:
helm upgrade --install --set attu.enabled=true  hx-release milvus/milvus.

A new database was created during reinstallation, and the original data was not loaded

### Expected Behavior

How to rebuild the pvc with the original loc

[2022-09-21 08:11] wayblink commented on #18067
/close

[2022-09-21 08:12] #18067 closed

[2022-09-21 08:12] wayblink commented on #18172
/close

[2022-09-21 08:12] #18172 closed

[2022-09-21 08:18] NicoYuan1986 opened #19334 "[Bug]: [Nightly]Test collection with float type raised an unexpected error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Test collection with float type raised an unexpected error.
[code]

### Expected Behavior

An error code and corresponding message should be returned.

### Steps To Reproduce

The case may help.
[code]

### Milvus Log

1. collection name: collection_3X2LzpFB
2. nightl

[2022-09-21 08:24] ut-zero opened #19335 "[Enhancement]: find useless code by LGTM"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

find useless code by LGTM, may remove it?

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-09-21 08:29] kkpssr commented on #19303
hi, i update milvus to 2.1.2 and search_params {"metric_type":"IP","params":{"ef":1000}} is work but results are not change. the distance is very large from 10 to 200+,but my search metric is IP

[2022-09-21 08:42] icodersky commented on #19332
<img width="387" alt="微信图片_20220921164022" src="https://user-images.githubusercontent.com/86787724/191457798-e06ce6f1-9f06-4b8f-b85a-edd31047c9bc.png">
And k8s had no pvc after reinstall.

[2022-09-21 08:52] LoveEachDay commented on #19332
@icodersky The command of:
[code]
will first check whether `hx-release` release exists, if exists, it will upgrade the release with provided new values, otherwise, it will create a new release with specified values.

So what kind of operation in your case? Fresh install or upgrade?

If it's fresh install, it won't have any data.

if it's upgrade, it will enable attu and milvus pods will be left un

[2022-09-21 08:57] JackLCL commented on #18288
Can you paste your milvus.yaml file here?

[2022-09-21 08:58] yanliang567 commented on #19212
/assign @XuanYang-cn
/unassign @czs007

[2022-09-21 09:06] zhuwenxing opened #19337 "[Bug]: Search get empty result after upgrading from v2.1.2 to master-20220921-42d371fd"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

collection name: `sift_128_euclidean`

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

deploy task: upgrade old image tag: v2.1.2 new image tag: master-latest
failed job:  https://qa-jenkins.milvus.io/blue/o

[2022-09-21 09:06] zhuwenxing commented on #19337
It reproduced stable, so set is as critical!

[2022-09-21 09:08] icodersky commented on #19332
when I reinstall k8s, it happen. I had reinstall the K8S, does it matter?

first check whether hx-release release exists, means it check the pvc had the name 'hx-release' or check the local files?
But there is no pvc info after we reinstall k8s.
Because after I reinstall k8s , there is no any information about the hx-release release milvus2.1 in k8s.

[2022-09-21 09:10] binbinlv commented on #19303
Hello, I have reproduced the 2 problems you mentioned in this issue:
(1) for problem 1: search error after drop index and create another different index:
I reproduced your issue, it reports error "Param 'nprobe' not exist err" in the following script: (drop one index, and create another index, and search, if will fail):
[code]

But we suggest release collection first if you want to load another in

[2022-09-21 09:12] yanliang567 commented on #19337
/assign @jiaoew1991
/unassign

[2022-09-21 09:13] NicoYuan1986 opened #19338 "[Bug]: [Pagination] Search pagination binary sometimes got incorrect result"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search pagination binary sometimes got incorrect result.
[code]

### Expected Behavior

Succeed.

### Steps To Reproduce

The case:
[code]

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-21 09:15] icodersky commented on #19332
![4b0effda22fdb33fadbc5c75df9bada](https://user-images.githubusercontent.com/86787724/191464547-e72e2c04-5f23-4c6a-b179-aa49e6c6f46a.jpg)
You see, after I reinstall, PVC is regenerated.
The database was generated after reinstallation on September 16, and the original database was created on September 5.

[2022-09-21 09:19] JackLCL commented on #18469
@p363796822
Milvus 2.1.2 is released. You can this new version to check whether your problem is solved.

[2022-09-21 09:21] JackLCL commented on #19008
@bestRiven
Milvus 2.1.2 is released. You can this new version to check whether your problem is solved.

[2022-09-21 09:33] zhuwenxing commented on #19274
![image](https://user-images.githubusercontent.com/12268675/191469963-02de1f3b-b40f-436a-8163-2eef6d9593d1.png)