[2022-10-31 08:01] bigsheeper commented on #20114
force to deny due to long time tick delay, channel of querynode delta flowgraph:`by-dev-rootcoord-delta_71_437034098452622932v0`:
[code]

[2022-10-31 08:06] zhuozecheng commented on #19947
so how to fixed ti?

[2022-10-31 08:08] zhuozecheng commented on #19947
so how to fix it now?

[2022-10-31 08:11] soothing-rain opened #20203 "[Bug]: There's memory leak in query results."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Related to #19526

There's memory leak where Milvus standalone memory goes up to 40GigBytes with 2 segments and 100,000 rows.

<img width="1445" alt="image" src="https://user-images.githubusercontent.com/69466447/198960999-09b1bcf9-fcdb-46e2-8b03-40baacc4ca49.png">

!

[2022-10-31 08:17] xiaocai2333 commented on #20096
fixed, please verify
/assign @jingkl

[2022-10-31 08:18] xiaocai2333 commented on #19792
completed, close it
/close

[2022-10-31 08:18] #19792 closed

[2022-10-31 08:57] #19409 closed

[2022-10-31 08:57] #19303 closed

[2022-10-31 08:57] #19356 closed

[2022-10-31 08:57] #18288 closed

[2022-10-31 08:57] #19212 closed

[2022-10-31 08:57] #19274 closed

[2022-10-31 08:57] #19345 closed

[2022-10-31 08:57] #19027 closed

[2022-10-31 08:57] #19139 closed

[2022-10-31 08:57] #19276 closed

[2022-10-31 08:57] #19286 closed

[2022-10-31 08:57] #19301 closed

[2022-10-31 08:58] cydrain opened #20208 "[Bug]: SIMD logs are missing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

In Milvus v2.0.2, when system boot up, we can see which type of SIMD is used:
[code]

But since Milvus v2.1.0, above logs are missing, need have a check.

### Expected Behavior

We should see SIMD setting logs as above

### Steps To Reproduce

[code]

### Milvus Log

[2022-10-31 08:59] cydrain commented on #20208
/assign

[2022-10-31 09:09] zhuwenxing commented on #20198
It reproduced stable, so set it as critical

[2022-10-31 09:16] jiaoew1991 commented on #19012
/assign @huangjincheng2022
/unassign

[2022-10-31 09:21] jaime0815 commented on #20079
/hold waiting for reproducing again.

[2022-10-31 09:22] huangjincheng2022 commented on #19012
verify success

[2022-10-31 09:22] #19012 closed

[2022-10-31 09:27] waveywaves opened #20209 "[Enhancement]: Pull Request Preview Environments to increase developer productivity"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I would like to make life easier for Milvus maintainers by implementing [Uffizzi](https://github.com/UffizziCloud/uffizzi) previews.
Disclaimer: I work on [Uffizzi](https://github.com/UffizziCloud/uffizzi)
Uffizzi is a Open Source full stack previews engine and is completely f

[2022-10-31 09:34] bigsheeper commented on #20198
working on it

[2022-10-31 09:43] yhmo commented on #19696
#20176 has been merged into main branch

[2022-10-31 09:44] yhmo commented on #19734
#19671 has been merged, all "bulk load" has been changed to "bulk insert"

[2022-10-31 09:44] #19734 closed

[2022-10-31 09:56] bigsheeper commented on #20002
/assign @jingkl
/unassign
please help to verify, thanks

[2022-10-31 10:02] jingkl commented on #20131
server-instance
fouram-qkzht-1
server-configmap
server-single-32c32m256d-diskann
client-configmap
client-random-locust-diskann-search-filter-100m-ddl-12h

 master-20221028-19baecdc

fouram-qkzht-1-etcd-0                                            1/1     Running     0               2d19h   10.104.9.150   4am-node14   <none>           <none>
fouram-qkzht-1-milvus-standalone-68b9c9699d-tlz66

[2022-10-31 11:06] yanliang567 commented on #20131
cpu core increased 4 times, while index time did not improve a minute :)
set it to urgent

[2022-10-31 11:06] yanliang567 commented on #20203
/assign @soothing-rain
/unassign

[2022-10-31 11:13] #20201 closed

[2022-10-31 11:14] zhuwenxing opened #20212 "[Bug]: Search latency becomes much larger than before after reinstallation or upgrading when Milvus mq is Kafka"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]
![image](https://user-images.githubusercontent.com/12268675/198995199-00d92dbd-fe6f-4d47-9f64-c3c9b06b6154.png)

### Expected Behavior

The performance should be the same as before or better

### Steps To Reproduce

_No response_

### Milvus Log

failed job: ht

[2022-10-31 11:20] zhuwenxing commented on #20212
This issue only reproduced in cluster mode.
It works well in standalone mode.
![image](https://user-images.githubusercontent.com/12268675/198996540-c9b7674f-7657-42f7-8edf-170a6a91e188.png)

[2022-10-31 11:23] #20191 closed

[2022-10-31 11:26] yanliang567 commented on #20212
/assign @jaime0815
/unassign

[2022-10-31 11:33] yanliang567 commented on #20087
the related testcase was updated for the new index-load behavior. please help to verify it. @NicoYuan1986
/assign @NicoYuan1986
/unassign

[2022-10-31 11:36] SimFG opened #20214 "[Bug]: target node id not match"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/21985684/198998758-bbde9d4b-2e67-4efd-b201-f1e486ffe101.png)

Because the same node address is related with two different `nodeID`

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milv

[2022-10-31 11:37] yanliang567 commented on #19818
/assign @jiaoew1991
/unassign

[2022-10-31 11:50] yanliang567 commented on #20214
/assign @SimFG
/unassign

[2022-10-31 12:43] jaime0815 commented on #20212
update tSafe is too slow

![image](https://user-images.githubusercontent.com/4024711/199010560-abb36015-93b9-4aa8-91a6-a3791ceb2ecc.png)

[2022-10-31 13:06] bigsheeper commented on #20198
/assign @zhuwenxing
/unassign

please help to verify

[2022-10-31 19:30] mchenyu1218 commented on #19743
https://drive.google.com/drive/folders/1MVZIKKrmjkynEnO7CxYkcRcUOycIYRgM?usp=share_link
This is a part of our dataset, could you try to use the data and reproduce it again?

[2022-11-01 00:16] #19321 closed

[2022-11-01 01:14] yanliang567 commented on #19635
close as not reproduced

[2022-11-01 01:53] LoveEachDay commented on #20159
@gzg25895381 By default the docker-compose will start `etcd` , `minio` and `milvus` containers. How about the `minio` and `milvus` containers?

[2022-11-01 02:08] #20214 closed

[2022-11-01 02:10] czs007 commented on #20075
![image](https://user-images.githubusercontent.com/59249785/199143289-0e4d7c9a-2c17-4449-ac3e-653c7d8fa0d8.png)
As nprobe grows, segcore does take more time.

[2022-11-01 02:22] jingkl commented on #20131
Increasing the number of cpu's does not increase the speed of building indexes, but takes longer than before @xige-16

[2022-11-01 02:23] zhuwenxing opened #20221 "[Bug]: Meta migrate may fail when upgrading"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

[code]

### Expected Behavior

Success to upgrade

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-11-01 02:24] zhuwenxing commented on #20221
/assign @LoveEachDay
PLAT

[2022-11-01 02:28] yanliang567 commented on #20221
/unassign

[2022-11-01 02:36] NicoYuan1986 opened #20222 "[Bug]: [Nightly]Drop index repeatedly raised AssertionError"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Drop index repeatedly raised AssertionError.

### Expected Behavior

PASSED

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-11-01 03:02] zhuwenxing opened #20225 "[Bug]: Search failed with error `Search 6 failed, reason nil searchResult detected when reduceSearchResultsAndFillData err` after querynode pod failure chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/2648/pipeline
log:
[artifacts-querynode-pod-failure-2648-serve

[2022-11-01 03:05] jingkl opened #20226 "[Bug]: [Upgrade][cluster]milvus 2.1 update master, then shut down and restart milvus, finally release collection, drop index and then create a new index failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1.
server-instance
fouram-tag-no-clean-vhk4f-1
server-configmap
server-cluster-8c64m-kafka
client-configmap
client-random-locust-1m-hnsw-ddl-r8-w2-10m
milvus image: 2.1.0

milvus server：

[code]

2. update image. with Migration Tools
update image to
master-20221031-d0

[2022-11-01 03:07] zhuwenxing opened #20227 "[Bug]: Search failed with error `Channel: by-dev-rootcoord-dml_3_437061996750507423v1 returns err: err: failed to connect 10.102.8.29:21123, reason: context deadline exceeded` after querynode pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/2636/pipeline

log:
[artifacts-querynode-pod-kill-2636-server-logs.tar

[2022-11-01 03:07] #20043 closed

[2022-11-01 03:13] zhuwenxing opened #20228 "[Bug]: Search failed with error `Search 1 failed, reason nil searchResult detected when reduceSearchResultsAndFillData err %!w(<nil>))>` after rootcoord pod failure chaos test for Kafka version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-kafka/detail/chaos-test-kafka/2403/pipeline
log:
[artifacts-rootcoord-pod-failur

[2022-11-01 03:22] zhuwenxing opened #20229 "[Bug]: Search failed with error `Search 6 failed, reason [UnexpectedError] Assert "Segment 437057689446982774 System Field RowID or Timestamp is not loaded" at /go/src/github.com/milvus-io/milvus/internal/core/src/segcore/SegmentSealedImpl.cpp:395` after datanode pod kill chaos test for Kafka version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-kafka/detail/chaos-test-kafka/2384/pipeline/
log:
[artifacts-datanode-pod-kill-2

[2022-11-01 03:53] zhuwenxing commented on #19954
It is still reproduced in the Kafka version
see https://github.com/milvus-io/milvus/issues/19954

[2022-11-01 03:55] zhuwenxing commented on #19954
/unassign
/assign @soothing-rain

[2022-11-01 03:58] yanliang567 commented on #20229
/assign @jaime0815
/unassign

[2022-11-01 03:58] yanliang567 commented on #20228
/assign @jaime0815
/unassign

[2022-11-01 03:59] yanliang567 commented on #20227
/assign @jiaoew1991

[2022-11-01 04:00] yanliang567 commented on #20227
/unassign

[2022-11-01 04:00] zhuwenxing commented on #19954
duplicated with https://github.com/milvus-io/milvus/issues/19954, so close this one

[2022-11-01 04:00] #19954 closed

[2022-11-01 04:01] yanliang567 commented on #20226
/assign @xiaocai2333
/unassign

[2022-11-01 04:01] yanliang567 commented on #20225
/assign @jiaoew1991
/unassign

[2022-11-01 04:02] zhuwenxing commented on #20229
/assign @soothing-rain
PTAL
It is same with  https://github.com/milvus-io/milvus/issues/19954

[2022-11-01 06:16] zhuwenxing opened #20231 "[Bug]: Search failed with error `Search 20 failed, reason failed to get service timestamp, taskID = 437048936637136897, collectionID = 437048427027890177, err=cannot found tSafer, vChannel = by-dev-rootcoord-delta_18_437048427027890177v0` after upgrading or datanode pod failure chaos test for pulsar version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test/detail/deploy_test/582/pipeline
log:
[artifacts-cluster-upgrade-582-server-logs

[2022-11-01 06:21] XuanYang-cn commented on #19693
A really clever & complicated mathod to merge 2 sorted arrays in O(1) extra space: Method-6 [Using Euclidean Division Lemma] https://www.geeksforgeeks.org/merge-two-sorted-arrays-o1-extra-space/

[2022-11-01 06:24] zhuwenxing opened #20232 "[Bug]: Query failed with error `Query 20 failed, reason err err: rpc error: code = Canceled desc = context canceled` after upgrading for plusar version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test/detail/deploy_test/582/pipeline

log:
[artifacts-cluster-upgrade-582-pytest-logs (1).ta

[2022-11-01 06:25] yanliang567 commented on #20231
/assign @jiaoew1991
/unassign

[2022-11-01 06:27] #20188 closed

[2022-11-01 06:28] XuanYang-cn commented on #19693
Suppose we have `k` srcs, each has a length of N, then our implementation has a time complexity of `O(kN)`

We can make it better to `O(Nlogk)` with a min-heap. ref: https://www.geeksforgeeks.org/merge-k-sorted-arrays-set-2-different-sized-arrays/

Space costs seem to be a must, otherwise, the code would be too complicated to understand and maintain.

[2022-11-01 06:37] jingkl commented on #20096
This problem has been fixed, close issue

[2022-11-01 06:37] #20096 closed

[2022-11-01 06:42] jingkl commented on #20067
This issue has been modified with the relevant test cases, so close the issue

[2022-11-01 06:42] #20067 closed

[2022-11-01 06:42] NicoYuan1986 commented on #20114
Resolved. milvus: a2d5947

[2022-11-01 06:53] xige-16 commented on #20131
/assign @liliu-z  please help.

[2022-11-01 07:14] zhuwenxing opened #20236 "[Bug]: Create index failed with error `CreateIndex failed: failed to get segment 437068764059009025` for Milvus 2.1.4"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

failed job:https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_kafka/detail/deploy_test_kafka/412/pipeline
log:

[artifacts-cluster-upgrade-412-pytest-

[2022-11-01 07:42] bigsheeper commented on #20114
delta flow graph would never be released if `FromDmlCPLoadDelete` failed.
#20238 would fix it.

[2022-11-01 08:14] xiaofan-luan commented on #20231
/assign @xiaofan-luan

[2022-11-01 08:22] longjiquan commented on #20199
/assign @ThreadDao

[2022-11-01 08:32] jaime0815 opened #20241 "[Bug]: querynode panic during exit"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

etcd watch still running after querynode stops, which causes panic.
![image](https://user-images.githubusercontent.com/4024711/199189067-8c211434-e7f8-4bcf-a679-52fb11fb381a.png)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus

[2022-11-01 08:57] xiaofan-luan commented on #20203
not sure that's really the case?
might only be a jemalloc issue?

[2022-11-01 09:08] wayblink commented on #19837
Memory consume in load become larger in 2.2. Shown in the following graph, the red block only exists in 2.2's.
![image](https://user-images.githubusercontent.com/18096561/199194107-c8b38ddf-22aa-4dd4-b737-a01b28dd734b.png)
Discussed with @xige-16 . It is related to the following logic, the raw_data from multi files is loaded into memory and assemble to a large one. We changed some logic and order

[2022-11-01 09:42] yanliang567 commented on #20232
/assign @jiaoew1991
/unassign

[2022-11-01 10:30] binbinlv commented on #20158
@NicoYuan1986
please verify this issue.

[2022-11-01 10:30] binbinlv commented on #20158
/assign @NicoYuan1986

[2022-11-01 10:52] binbinlv commented on #19939
Fixed and closed in recently CI and nightly.

[2022-11-01 10:52] #19939 closed

[2022-11-01 11:01] binbinlv commented on #19408
It is fixed in master(2.2), so close it.

[2022-11-01 11:01] #19408 closed

[2022-11-01 11:07] yhmo commented on #19660
After the #20234, the error message will be:
'failed_reason': "import wrapper: failed to get file size of 'rows_0.json', make sure the input path is related path, error:stat not_existing.json: no such file or directory"

[2022-11-01 11:31] yanliang567 commented on #19660
what about this:
`failed_reason': "import wrapper: failed to get file size of 'rows_0.json', error: not_existing.json: no such file or directory"`

[2022-11-01 13:28] xiaofan-luan opened #20245 "[Enhancement]: Add Resource Manager in SegmentLoader"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

add a global resource manager to limit the resource usage of concurrent load.

### Why is this needed?

1. we want to make segment load as concurrent as possible
2. limit the memory resource while loading because we see 3X extra memory overhead while loading.
3. improve the me

[2022-11-01 19:29] yovelcohen commented on #19818
now noticing this log a lot as well

{"level":"ERROR","time":"2022/11/01 19:23:03.172 +00:00","caller":"querynode/shard_cluster.go:886","message":"stream query failed on nodeID 335, err = taskScheduler AddReadTask context is done","stack":"github.com/milvus-io/milvus/internal/querynode.(*ShardCluster).Query.func1\n\t/go/src/github.com/milvus-io/milvus/internal/querynode/shard_cluster.go:886"}

[2022-11-02 01:55] xiaofan-luan commented on #16134
keep

[2022-11-02 01:58] #20196 closed

[2022-11-02 02:05] jiaoew1991 commented on #20232
/assign @yah01
/unassign

[2022-11-02 02:17] #20222 closed

[2022-11-02 02:17] jingkl commented on #20002
server-instance
fouram-stable-1667322000-1
server-configmap
server-single-4c16m-diskann
client-configmap
client-locust-search-sift10m-diskann

master-20221101-29f2ed67
2.2.0.dev70
This issue does not currently occur

[2022-11-02 02:17] #20002 closed

[2022-11-02 02:26] NicoYuan1986 opened #20247 "[Bug]: [Nightly]Load collection failed with error message 'wait for loading collection timeout'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Load collection failed with error message 'wait for loading collection timeout'.
[code]

### Expected Behavior

PASS

### Steps To Reproduce

nightly: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/180/pipeline/155

###

[2022-11-02 02:37] NicoYuan1986 opened #20248 "[Bug]: [Nightly]Load balance failed reporting 'failed to balance segments, err=ConflictTaskExisted'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Load balance failed reporting 'failed to balance segments, err=ConflictTaskExisted'.
[code]

### Expected Behavior

PASS

### Steps To Reproduce

nightly: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/180/pipeline/155

[2022-11-02 02:37] bigsheeper commented on #20114
/unassign
/assign @NicoYuan1986

please help to verify

[2022-11-02 02:48] NicoYuan1986 opened #20251 "[Bug]: [Nightly]Fail to search on all shard leaders, err=Channel: by-dev-rootcoord-dml_29_437079421052139892v1 returns err: fail to Search, QueryNode ID=2, reason=Search 2 failed, reason failed to get service timestamp"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Fail to search on all shard leaders, err=Channel: by-dev-rootcoord-dml_29_437079421052139892v1 returns err: fail to Search, QueryNode ID=2, reason=Search 2 failed, reason failed to get service timestamp.
[code]

### Expected Behavior

PASS

### Steps To Reproduce

[co

[2022-11-02 02:49] binbinlv commented on #20068
Reproduced both in :
1. milvus 2.1.4, and pymilvus 2.1.0
2. milvus master latest, and pymilvus master latest (2.2.0.dev71)

insert ids [0:2999] into partition 1, and insert ids [3000:5999] into partition 2, and search results is the same between before and after dropping partition operation (both including the ids from dropped partition).

Results:
[code]

Script:
1. for 2.1.4
[code]

2. for maste

[2022-11-02 02:50] binbinlv commented on #20068
/unassign
/assign @yanliang567

[2022-11-02 02:56] zhuwenxing commented on #19951
chaos type: pod-failure image tag: master-20221101-29f2ed67 target pod: querynode
failed job：https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-kafka/detail/chaos-test-kafka/2428/pipeline/245
[code]

[2022-11-02 02:59] wangting0128 commented on #20130
argo task: fouramf-cron-1667318400
test case: test_search_filter_cluster

server:
[code]

client log:
[test_search_filter_cluster_1.zip](https://github.com/milvus-io/milvus/files/9915527/test_search_filter_cluster_1.zip)

[code]

[2022-11-02 02:59] jingkl commented on #19526
server-instance
fouram-stable-1667322000-4
server-configmap
server-single-8c32m
client-configmap
client-random-locust-hnsw-compaction-search-5h

[code]

client log：

<img width="1292" alt="截屏2022-11-02 10 57 23" src="https://user-images.githubusercontent.com/34296482/199384976-a0f20dad-531c-4583-a9d8-f027110940fd.png">

[2022-11-02 03:00] binbinlv commented on #20247
From results of last nightly, this issue only appears in kafka pipeline, so @jaime0815  could you help to have a look first? Thanks.

[2022-11-02 03:03] yanliang567 opened #20252 "[Bug]: search on non_indexed segment while the segment was already indexed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

the search latency keeps high after upsert 20% entities, and found it is still searching on the non_indexed segments, even the segments completed building index already.
![image](https://user-images.githubusercontent.com/82361606/199384798-d40614de-98ee-4086-a113-7d57

[2022-11-02 03:07] yanliang567 commented on #20252
[bw_etcd_ALL.221102-110345.bak.gz](https://github.com/milvus-io/milvus/files/9915575/bw_etcd_ALL.221102-110345.bak.gz)

[2022-11-02 03:07] yanliang567 commented on #20252
/assign @congqixia
/unassign

[2022-11-02 03:09] MrPresent-Han commented on #19675
Is that a periodic problem, or the final fact is that some segments will remain as normal status forever?
Is there a time window for this phenomenon?

[2022-11-02 03:33] binbinlv commented on #20068
/assign @soothing-rain

[2022-11-02 03:34] yah01 commented on #20232
/assign @zhuwenxing
please retry with the `master`, all problems before commit `d17f9de` should be retried

[2022-11-02 03:34] binbinlv commented on #20068
@soothing-rain Could you help to have look first? Thanks.

[2022-11-02 03:42] czs007 opened #20256 "[Enhancement]: Refine usage of collection lock and add healthy check logic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

The collection in the QueryNode lacks health checks, and the use of locks is messy.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-11-02 03:51] jingkl commented on #20131
fouram-ljf72-1
server-configmap
server-cluster-8c32m256d-diskann
client-configmap
client-random-locust-50m-ddl-r8-w2-diskann

server：

[code]

client log：

[code]

server-instance
fouram-tag-no-clean-58p7h-1
server-configmap
server-cluster-8c32m256d-diskann-indexnode4
client-configmap
client-random-locust-50m-ddl-r8-w2-diskann

server:
[code]

client

[code]

[2022-11-02 03:52] jingkl commented on #20131
In a distributed milvus , 4 indexnodes are faster than 1 index, but in a single machine, increasing the number of cpus does not make it faster, but slower. @xige-16 @liliu-z

[2022-11-02 03:55] soothing-rain commented on #20068
This is a known issue and should be fixed in Milvus v2.3.

/unassign

[2022-11-02 03:56] jaime0815 commented on #20212
tsafe updating is abnormal after upgrading,  fsafe min value is less than before.

![image](https://user-images.githubusercontent.com/4024711/199391747-9aaa14c0-1cbc-4c31-b0b2-f2735253187c.png)

[2022-11-02 04:01] wangting0128 opened #20258 "[Bug]: [benchmark][standalone][50m] Milvus restart and serial search time 190+"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task：fouramf-cron-1667318400
test case：test_search_standalone

server：
[code]
<img width="1863" alt="截屏2022-11-02 11 59 04" src="https://user-images.githubusercontent.com/26307815/199392409-e3ac5c50-2ee6-4668-8acd-4282bff66bf2.png">

client log:
[test_search_stan

[2022-11-02 04:01] yanliang567 opened #20259 "[Bug]: Index time takes 4 hours after upsert 20% entities, which is too long"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

it takes about 4 hours to build indexes after upsert 20% entities(delete 1million and insert 1 million)
![image](https://user-images.githubusercontent.com/82361606/199392636-15368dd5-3c58-4f4a-8b96-1adc3723caad.png)

### Expected Behavior

complete indexing in less th

[2022-11-02 04:02] yanliang567 commented on #20259
/assign @longjiquan
/unassign

[2022-11-02 04:10] wangting0128 opened #20260 "[Bug]: [benchmark][standalone] serial search raise error: Unavailable desc = keepalive ping failed to receive ACK within timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task: fouramf-cron-1667318400
test case: test_recall_glove_hnsw_standalone

server:
[code]
<img width="1868" alt="截屏2022-11-02 12 08 16" src="https://user-images.githubusercontent.com/26307815/199393614-7c41cbb3-8abe-41c4-9b6a-b9b9955ece26.png">
<img width="1869"

[2022-11-02 06:23] zhuwenxing commented on #20212
reinstall with `master-20221102-51acba7d`
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_kafka/detail/deploy_test_kafka/420/pipeline
log:
[artifacts-kafka-cluster-reinstall-420-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/9916842/artifacts-kafka-cluster-reinstall-420-pytest-logs.tar.gz)
[artifacts-kafka-cluster-reinstall-420-server-first-deployment

[2022-11-02 06:25] #20199 closed

[2022-11-02 06:25] ThreadDao commented on #19046
Fixed
milvus image: master-20221102-51acba7d
meta-migration image: 20221101-f2f10cb11

[2022-11-02 06:25] #19046 closed

[2022-11-02 06:26] ThreadDao commented on #18994
Fixed
milvus image: master-20221102-51acba7d
meta-migration image: 20221101-f2f10cb11

[2022-11-02 06:26] #18994 closed

[2022-11-02 07:31] hanqiushi opened #20262 "Query result is incomplete"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The collection params:
![image](https://user-images.githubusercontent.com/1206528/199425949-cd33d636-8362-4555-89ad-e98c14fa89fe.png)
Use flat index.

Preparation:
I inserted 2 items, all other params are equal except param group

Query params & results:
Using param f

[2022-11-02 07:43] bigsheeper commented on #20163
Collection create about 18h ago:
![image](https://user-images.githubusercontent.com/42060877/199427685-c3358d12-1f57-4057-8c6e-97f663fe9df0.png)

and no any insert operation:
![image](https://user-images.githubusercontent.com/42060877/199428686-ec5f2395-4b89-4896-9f55-4bdf35af18c2.png)

So after upgrade and datanode restarted, flowgraphs consumes from cp of 18h ago. So time tick long delay.

[2022-11-02 07:45] bigsheeper commented on #20163
Which is same as https://github.com/milvus-io/milvus/issues/17445

[2022-11-02 08:04] binbinlv commented on #19743
@mchenyu1218

FieldSchema(name="year", dtype=DataType.DOUBLE),

here the type for year field is double, but I found that there is "None" in your year data file, so how do you insert the data in double schema.

I want to convert the imported string "year" to double, but it reports error:

[code]
the "None" data in years_milvus.txt.
[code]

[2022-11-02 08:17] hanqiushi commented on #20262
[querynode/result.go:280] ["skip duplicated query result"] [count=1]
I see this log when query, seems it is intended to skip duplicated result.
The question is, what is duplicated result ? And how can I query multiple results ?

[2022-11-02 08:26] binbinlv commented on #19743
@mchenyu1218

And there are 50000 entities in your provided file, and there are some "None" after 30000, so I used the first 30000 data, and reproduce use the above script, the result is right too.

res = collection.insert([id_int[0:30000], [i for i in range(30000)], vectors[0:30000], years_milvus_double, university_milvus[0:30000]])
collection.load()
expr = "year >= 2019.0 and year <= 2020 and un

[2022-11-02 08:29] hanqiushi commented on #20262
![image](https://user-images.githubusercontent.com/1206528/199437345-be839f23-adde-4f8c-a20b-e29cac225c6f.png)
Should I add an unique ID as primary key ?

[2022-11-02 08:30] XuanYang-cn commented on #19289
- [ ] Remove `internal/kv/mock_kv.go`
- [ ] Remove `mockTestKv` and `MockTestTxnKv` in `rootcoord/meta_table_test.go`

[2022-11-02 08:31] xige-16 commented on #20131
8c indexnode VS 4 * 8c indexnode ?

[2022-11-02 08:37] yanliang567 commented on #19553
@yhmo the error msg is meaningless with id info

[code]

[2022-11-02 08:41] wondermen commented on #13978
/debug/pprof is not open with metrics port。 but open it in product enviroment has security problem。could add some env to controll if shoud open pprof,and if opened, it only could be access in local

[2022-11-02 08:41] wondermen commented on #13978
/debug/pprof is now open with metrics port。 but open it in product enviroment has security problem。could add some env to controll if shoud open pprof,and if opened, it only could be access in local

[2022-11-02 08:42] congqixia opened #20268 "[Bug]: rmq consumer may block segment_loader forever"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

rmq consumer may block segment_loader forever
when mq context is cancel and the result buffer channel is full below
https://github.com/milvus-io/milvus/blob/fc7e7256f8efd036c74d80081e880085185a8fa1/internal/mq/msgstream/mqwrapper/rmq/rmq_consumer.go#L59-L61
Consumer m

[2022-11-02 08:43] czs007 commented on #20057
load failed.
Load is not guaranteed to succeed now. When it is found that the memory is not enough during the loading process, the load operation is rolled back, and the collection is not considered to be loaded.
Therefore, when the sdk asks whether the loading is complete, it will encounter the exception that the collection is not loaded.

2022-10-25 01:19:12 | [2022/10/24 17:19:12.503 +00:00] [I

[2022-11-02 08:52] S-Dragon0302 opened #20272 "[Bug]: cluster Failed to start"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

链接: https://pan.baidu.com/s/1qGxA5TdvJreRqSfvFSVNeQ 提取码: ac4i 复制这段内容后打开百度网盘手机App，操作更方便哦

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-11-02 09:07] jiaoew1991 opened #20273 "[Enhancement]: Refactor SegCore's log"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

There are almost no logs in Segcore at the moment, the bug in Segcore is hard to debug.
We already have `easylogging` as a log module in C++ but do not use it.

We're going to put easylogging back and complete the following two features
1. Unified management of Go and C++ log

[2022-11-02 09:12] jiaoew1991 commented on #20258
<img width="1354" alt="image" src="https://user-images.githubusercontent.com/2297455/199450092-23556362-2b6b-426d-be90-84dc82beb05f.png">
It seems the memory reached the limit and has been killed

[2022-11-02 09:25] zhuwenxing commented on #20232
@yah01 So which PR is planed to fix this issue?

[2022-11-02 10:10] zhuwenxing opened #20275 "[Bug]: Datanode panic with error `:data service save bin log path failed, reason = etcdserver: too many operations in txn request` and can not be recovery after datanode pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/2681/pipeline

log:
[artifacts-datanode-pod-kill-2681-server-logs (2).

[2022-11-02 10:38] liliu-z opened #20276 "[Enhancement]: Upgrade Knowhere to 1.3.4"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

[Knowhere1.3.4](https://github.com/milvus-io/knowhere/releases/tag/v1.3.4) Offer higher performance on both search/build side. We need to pick it up

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-11-02 11:01] #20268 closed

[2022-11-02 11:18] yanliang567 commented on #20262
I think 'face' is the primary key, and you shall insert data with unique primary key. @hanqiushi

[2022-11-02 11:20] yanliang567 commented on #20275
/assign @soothing-rain
/unassign

[2022-11-02 11:33] yanliang567 commented on #20272
it seems that the rootcoord is unhealthy.
[code]
/assign @jiaoew1991
/unassign

[2022-11-02 11:34] yanliang567 commented on #20260
/assign @jiaoew1991
/unassign

[2022-11-02 11:34] yanliang567 commented on #20251
/assign @jiaoew1991
/unassign

[2022-11-02 11:35] yanliang567 commented on #20248
/assign @xige-16
/unassign

[2022-11-03 02:12] NicoYuan1986 commented on #20114
Solved! milvus:3ac87fe

[2022-11-03 02:15] yah01 commented on #20232
#20244, #20269

[2022-11-03 02:26] zhuwenxing commented on #20232
For the upgrading test, the issue is not reproduced in the latest test.

[2022-11-03 02:27] zhuwenxing commented on #20232
For the chaos test, the search problem still exist

[2022-11-03 02:34] zhuwenxing commented on #20227
chaos type: pod-kill image tag: master-20221102-3ac87fe0 target pod: querynode
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/2711/pipeline

[artifacts-querynode-pod-kill-2711-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9925297/artifacts-querynode-pod-kill-2711-server-logs.tar.gz)
[artifacts-querynode-pod-kill-2711-pytest-logs.tar

[2022-11-03 02:35] yanliang567 commented on #20227
it reproduced on master-20221102-51acba7d, search on existing collections keeps failure since querynode pod kill
[code]
milvus pod info:
[code]

[2022-11-03 02:35] hanqiushi commented on #20262
You are right, thanks for pointing it out

[2022-11-03 02:35] #20262 closed

[2022-11-03 02:37] NicoYuan1986 commented on #20248
Latest: https://jenkins.milvus.io:18080/blue/rest/organizations/jenkins/pipelines/Milvus%20Nightly%20CI/branches/master/runs/181/nodes/187/steps/207/log/?start=0

milvus: 3ac87fe
pymilvus: 2.2.0.dev69

1. log: [artifacts-milvus-distributed-pulsar-nightly-181-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/181/artifact/artifacts-milvus-distributed-puls

[2022-11-03 02:39] zhuwenxing commented on #20228
It also happens for ectd pod kill chaos test when MQ is pulsar.
chaos type: pod-kill image tag: master-20221102-3ac87fe0 target pod: etcd
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/2713/pipeline
log:

[artifacts-etcd-pod-kill-2713-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9925308/artifacts-etcd-pod-kill-2713-server-logs.tar.

[2022-11-03 02:41] zhuwenxing commented on #20225
chaos type: pod-failure image tag: master-20221102-3ac87fe0 target pod: querynode

failed job:https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/2723/pipeline
log:
[artifacts-querynode-pod-failure-2723-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9925316/artifacts-querynode-pod-failure-2723-server-logs.tar.gz)
[artifacts-querynode-pod-failure-2723

[2022-11-03 02:45] binbinlv commented on #19743
/assign @mchenyu1218

[2022-11-03 02:47] xiaocai2333 commented on #20226
please use pymilvus==2.2.0.dev70
/assign @jingkl

[2022-11-03 02:50] NicoYuan1986 opened #20281 "[Bug]: [Nightly] The number of query segment doesn't match after the compaction during insert"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

AssertionError appears continually when testing compact during insert.
[code]

### Expected Behavior

PASS

### Steps To Reproduce

[code]

### Milvus Log

1. log: [artifacts-milvus-distributed-pulsar-nightly-181-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:180

[2022-11-03 02:52] zhuwenxing commented on #20231
This also happened for datanode pod failure chaos test
chaos type: pod-failure image tag: master-20221102-3ac87fe0 target pod: datanode
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/2717/pipeline
log:
[artifacts-datanode-pod-failure-2717-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9925376/artifacts-datanode-pod-failure-2717-serve

[2022-11-03 02:56] binbinlv commented on #20281
@NicoYuan1986
This title does not reflect the error of this test case, please modify it.

[2022-11-03 03:03] zhuwenxing commented on #19951
For now, this issue is not reproduced in the Pulsar version, but it is still reproduced in the Kafka version

[2022-11-03 03:03] yah01 commented on #20227
/assign

[2022-11-03 03:05] zhuwenxing commented on #19951
chaos type: pod-failure image tag: master-20221102-3ac87fe0 target pod: minio

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-kafka/detail/chaos-test-kafka/2455/pipeline
log:
[artifacts-minio-pod-failure-2455-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/9925414/artifacts-minio-pod-failure-2455-pytest-logs.tar.gz)
[artifacts-minio-pod-failure-2455-se

[2022-11-03 03:10] xiaofan-luan opened #20283 "[Enhancement]: Reduce Minio ChunkManager memory consumption"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

pre allocate minio chunk manager buffer size but not randomly allocate and growth by time

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-11-03 03:39] soothing-rain commented on #19553
/assign @yhmo
/unassign @zhuwenxing

[2022-11-03 05:13] yanliang567 commented on #20281
/assign @soothing-rain
/unassign

[2022-11-03 05:19] yah01 commented on #20227
/assign @zhuwenxing
fixed with #20286

[2022-11-03 05:57] soothing-rain commented on #19219
/reopen

[2022-11-03 06:08] soothing-rain commented on #19713
/assign @MrPresent-Han

[2022-11-03 06:19] jiaoew1991 opened #20290 "[Feature]: Semi Query mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

In scenarios where the message queue is unavailable or the checkpoint is too far ahead, the availability of the query will be reduced. Some users are accepting only query `indexed segments`, we can provide a Semi-Query mode to support this require

[2022-11-03 06:21] linggong2011 opened #20291 "[Bug]: build a iamge with build/build_image.sh after make milvus in docker , it will raise an exception："
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

when I build a iamge with  build/build_image.sh  after make milvus in docker , it will raise an exception：

------
failed to compute cache key: "/lib" not found: not found

### Expected Behavior

so how to generate /milvus/lib/ ?

### Steps To Reproduce

_No response_

[2022-11-03 06:35] yah01 commented on #20225
/assign
/assign @zhuwenxing
same as #20227

[2022-11-03 06:48] bigsheeper commented on #20053
/assgin @jennyli-z
/unassign

this issue should be resolved.

[2022-11-03 06:49] #20053 closed

[2022-11-03 06:56] SimFG opened #20293 "[Enhancement]: Delete unused messages for the mq"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Delete the message entity in the `msg.go`, including: `SearchMsg`/`SearchResultMsg`/`RetrieveMsg`/`RetrieveResultMsg`/`SealedSegmentsChangeInfoMsg`

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-11-03 07:01] yanliang567 commented on #20291
/assign @jiaoew1991
/unassign

[2022-11-03 07:35] yah01 commented on #19386
/assign @NicoYuan1986
#20263 fixed it

[2022-11-03 07:43] jiaoew1991 commented on #20272
Hi @S-Dragon0302 could you provide a goroutine dump for the `RootCoord`?
you can fetch it by ```curl http://<ip>:9091/debug/pprof/goroutine?debug=1```

[2022-11-03 07:46] jennyli-z opened #20298 "[Bug]: Failed to update pytest image tag for ci"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![Uploading image.png…]()
It only updated the test docker env as it failed to find the right ci pod yaml file.

### Expected Behavior

should create pr to update the right pod yaml

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything els

[2022-11-03 07:46] jennyli-z commented on #20298
/assign

[2022-11-03 07:55] longjiquan commented on #20259
The machine of indexnode is not good at performance. It even cost 20 min to build hnsw index for a segment with 70w rows.

[2022-11-03 07:57] longjiquan commented on #20259
![image](https://user-images.githubusercontent.com/31589260/199670954-34ef0fc6-2409-49a8-a3bc-6c90ceef28a4.png)
![image](https://user-images.githubusercontent.com/31589260/199671033-e2e5b091-67ef-4a34-b142-dde405410abb.png)

[2022-11-03 08:01] longjiquan commented on #20259
btw, the log when building index is a little wrong, i'll fix this.

[2022-11-03 08:02] linggong2011 commented on #20291
Ubuntu

[2022-11-03 08:02] jiaoew1991 commented on #20291
Actually you need to build the milvus image using the `builder image` to setup a compile environment otherwise on your local machine, you can try `docker-compose build builder` at the root path of the milvus folder, the default OS value of `builder image` is ubuntu20.04, you can change it at `.env` file

[2022-11-03 08:03] zhuwenxing commented on #20227
Not reproduced in `master-20221103-c08f1142`
So remove the critical label.

[2022-11-03 08:03] #20227 closed

[2022-11-03 08:06] zhuwenxing commented on #20225
The error message has become `MilvusException: (code=1, message=fail to search on all shard leaders, err=fail to Search, QueryNode ID=12, reason=Search 6 failed, reason nil searchResult detected when reduceSearchResultsAndFillData err `.

related issue https://github.com/milvus-io/milvus/issues/20228

[2022-11-03 08:13] zhuwenxing commented on #20225
chaos type: pod-failure image tag: master-latest target pod: querynode
image: master-20221103-c08f1142
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/2731/pipeline/70
log:

[artifacts-querynode-pod-failure-2731-server-logs (1).tar.gz](https://github.com/milvus-io/milvus/files/9926559/artifacts-querynode-pod-failure-2731-server-logs.1.tar.gz)

[arti

[2022-11-03 08:16] soothing-rain commented on #20229
DataCoord sealed the segment and start flushing it (# of rows != 0)

At the same time DataNode restarted, started recover the segment (# of rows == 0), and started to flush the segment with 0 rows (which should be forbidden)

[2022-11-03 08:31] longjiquan commented on #20259
the log fixed in #20302

[2022-11-03 08:37] zhuwenxing opened #20303 "[Bug][E2E]: Test case `testcases/test_compaction.py::TestCompactionOperation::test_compact_cross_shards` failed when assert compaction_plans"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

Test case passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-20297/1/pipeline

log:
[artifacts-milvus-standalone-PR-20297-1-pym

[2022-11-03 08:38] yah01 commented on #20228
/assign

[2022-11-03 08:39] weiliu1031 opened #20305 "[Bug]: handoff shouldn't be execute if partition is not loaded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

handoff shouldn't be execute if partition is not loaded

### Expected Behavior

handoff shouldn't be execute if partition is not loaded

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-11-03 08:57] weiliu1031 commented on #20305
/assign @weiliu1031

[2022-11-03 08:57] kkpssr commented on #20157
This log from docker log when search
[2022/11/03 08:53:51.453 +00:00] [DEBUG] [proxy/impl.go:2433] ["Search received"] [traceID=1f8128b1a9e11788] [role=proxy] [db=] [collection=slim_swin_IP] [partitions="[]"] [dsl=] [len(PlaceholderGroup)=4108] [OutputFields="[address]"] [search_params="[{\"key\":\"anns_field\",\"value\":\"embedding\"},{\"key\":\"topk\",\"value\":\"20\"},{\"key\":\"metric_type\",\

[2022-11-03 09:05] kkpssr commented on #20157
the bug is also occured after upragde to 2.1.4

[2022-11-03 09:05] soothing-rain commented on #20229
/assign @congqixia

[2022-11-03 09:31] yanliang567 commented on #20157
did you try with less 'ef' values, such as 50, 100? It seems like a search timeout

[2022-11-03 09:32] yanliang567 commented on #20305
/unassign

[2022-11-03 09:33] yanliang567 commented on #20303
/assign @XuanYang-cn
/unassign

[2022-11-03 09:47] #20298 closed

[2022-11-03 10:09] linggong2011 commented on #20291
I just want to build a image like milvusdb/milvus:v2.1.4 from source code，so it can run in my own k8s cluster in distribute mod.
So just to tell me the build commands， Thanks

[2022-11-03 10:10] linggong2011 commented on #20291
BYW，I am using a mac computer to build the image .

[2022-11-03 11:39] SimFG opened #20312 "[Enhancement]: Add time log for methods of starting the node"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add time log for methods of starting the node.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-11-03 11:44] jiaoew1991 commented on #20291
You can find the built milvus image here https://hub.docker.com/r/milvusdb/milvus/tags?page=1 @linggong2011

[2022-11-03 12:29] linggong2011 commented on #20291
Thanks

[2022-11-03 12:29] #20291 closed

[2022-11-03 13:23] xiaofan-luan opened #20317 "[Bug]: Duplicated segment load in one loadSegmentRequests"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

We've seen same segment is loaded in one loadSegment requests twice

Root cause:
1. Merger merge the load segment request, and we accidentally  add two load segment1 request to the executor.

### Expected Behavior

To solve the issue:
1. merger will merge segment with

[2022-11-03 14:03] #20293 closed

[2022-11-03 14:27] jennyli-z opened #20319 "[Enhancement]: Wait for deps ready before run ut"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

1. Add health check for pulsar
2. Add wait for health check. ready before run ut

### Why is this needed?

Make sure pulsar /etcd/ minio ready will decrease failure because of the connection for pulsar.

### Anything else?

_No response_

[2022-11-03 14:28] jennyli-z commented on #20319
/assign

[2022-11-03 14:29] jennyli-z commented on #20319
![image](https://user-images.githubusercontent.com/93511422/199748343-6cc8f527-b0da-41e3-be81-7c6980bcdb54.png)

[2022-11-03 15:21] xiaofan-luan opened #20320 "[Feature]: Support GC Tuner"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Idea came from this article https://www.uber.com/blog/how-we-saved-70k-cores-across-30-mission-critical-services/
And thanks for the awesome implementation at https://github.com/pingcap/tidb/blob/8afb7c8eda82e667da8a8bac8b945f1461e6c024/util/gctun

[2022-11-03 23:00] #19456 closed

[2022-11-03 23:00] #19337 closed

[2022-11-03 23:00] #19477 closed

[2022-11-03 23:00] #19071 closed

[2022-11-03 23:00] #19226 closed

[2022-11-04 01:55] kkpssr commented on #20157
i have tried ef values with 10 and results are same, also shard leader is unavailable

[2022-11-04 02:13] yah01 commented on #20225
/assign @zhuwenxing
plz retry with #20304

[2022-11-04 02:14] yah01 commented on #20228
/assign @zhuwenxing
plz retry with #20304

[2022-11-04 02:24] linggong2011 opened #20324 "[Bug]: Upgrade to master from 2.1.4, When I reload my collection, there would raise an exception."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I reload my collection after upgrade milvus from 2.1.4 to master or v2.2-testing-20221031，there would be a exception:
exception=Exception: index not exist, collectionID 436980134xxx

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

###

[2022-11-04 02:27] kkpssr commented on #20157
there are some Warn report from logs when i just start milvus service with this
WARN] [datacoord/channel_manager.go:806] ["failed to reassign channel to other nodes, add channel to the original node"] ["node ID"=219] ["channel name"=by-dev-rootcoord-dml_25_435995113985409025v1]
loadBalanceSegmentLoop: get node info from QueryNode failed"] [nodeID=208] [collection=435995113985409025] [replica=43586

[2022-11-04 02:28] kkpssr commented on #20157
there are some Warn report from logs when i just start milvus service with this
WARN] [datacoord/channel_manager.go:806] ["failed to reassign channel to other nodes, add channel to the original node"] ["node ID"=219] ["channel name"=by-dev-rootcoord-dml_25_435995113985409025v1]
loadBalanceSegmentLoop: get node info from QueryNode failed"] [nodeID=208] [collection=435995113985409025] [replica=43586

[2022-11-04 02:30] zhuwenxing commented on #19951
For pulsar version, this issue is reproduced when doing datacoord pod failure chaos test

chaos type: pod-failure image tag: master-20221103-f557af11 target pod: datacoord
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/2745/pipeline
log:

[artifacts-datacoord-pod-failure-2745-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9934520/art

[2022-11-04 02:31] #20317 closed

[2022-11-04 02:31] #20283 closed

[2022-11-04 02:33] zhuwenxing commented on #19951
chaos type: pod-failure image tag: master-20221103-f557af11 target pod: indexnode
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/2748/pipeline
log:

[artifacts-indexnode-pod-failure-2748-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9934537/artifacts-indexnode-pod-failure-2748-server-logs.tar.gz)
[artifacts-indexnode-pod-failure-274

[2022-11-04 02:36] zhuwenxing commented on #19951
chaos type: pod-kill image tag: master-20221103-f557af11 target pod: indexcoord
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/2735/pipeline
log:

[artifacts-indexcoord-pod-kill-2735-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9934549/artifacts-indexcoord-pod-kill-2735-server-logs.tar.gz)

[artifacts-indexcoord-pod-kill-2735-pytes

[2022-11-04 02:40] yah01 commented on #19951
This load succeeded in 43s, but the timeout is 40s...

[2022-11-04 02:42] NicoYuan1986 commented on #20247
The error also occurs in pulsar from the latest nightly report.
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/182/pipeline/187

milvus: f557af1
pymilvus: 2.2.0.dev71

1. log: [artifacts-milvus-distributed-pulsar-nightly-182-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/182/artifact/artifacts-milvus-di

[2022-11-04 02:44] zhuwenxing commented on #20324
If you directly upgrade to master, some mate data will lose. You can refer to this doc https://github.com/milvus-io/milvus/blob/master/deployments/migrate-meta/README.md for the  upgrading

[2022-11-04 02:45] NicoYuan1986 commented on #20248
Latest: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/182/pipeline/155

milvus: f557af1
pymilvus: 2.2.0.dev71

1. log: [artifacts-milvus-distributed-kafka-nightly-182-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/182/artifact/artifacts-milvus-distributed-kafka-nightly-182-pymilvus-e2e-logs.tar.gz)
2.

[2022-11-04 02:50] zhuwenxing commented on #20324
Also, see https://github.com/milvus-io/milvus/issues/19429

[2022-11-04 02:50] kkpssr commented on #20157
and also ,refer to log, only online and available node is 222,and 199,208,215 is offline but still occur in online list
[2022/11/04 02:43:22.330 +00:00] [INFO] [querycoord/query_coord.go:649] ["loadBalanceSegmentLoop: there are too few available query nodes to balance"] [collection=435874776611815425] [replica=436265433287884822] [onlineNodeIDs="[222,199,208,215]"] [availableNodeIDs="[222]"]
[2022

[2022-11-04 02:59] zhuwenxing commented on #20275
Not reproduced yet!

[2022-11-04 02:59] #20275 closed

[2022-11-04 03:00] soothing-rain commented on #19526
<img width="1067" alt="image" src="https://user-images.githubusercontent.com/69466447/199873716-1655908c-2f9e-406a-87dc-b37fa798638d.png">

latest run: was running for ~17hours, memory usage was ~10GigBytes.

There were still some remaining issues, but probably not super critical IMO.
1) There were search errors.
[code]

2) # of lines does not equal to `10000`:
[code]

3) go heap suggests there's

[2022-11-04 03:00] zhuwenxing commented on #20232
Not reproduced!

[2022-11-04 03:00] #20232 closed

[2022-11-04 03:01] zhuwenxing commented on #20221
Not reproduced

[2022-11-04 03:01] #20221 closed

[2022-11-04 03:05] zhuwenxing commented on #20231
Not reproduced

[2022-11-04 03:05] #20231 closed

[2022-11-04 03:17] kkpssr commented on #20157
and it seems try to get new nodes but failed
["node ID"=219] ["channel name"=by-dev-rootcoord-dml_25_435995113985409025v1]
loadBalanceSegmentLoop: get node info from QueryNode failed"] [nodeID=208] [collection=435995113985409025] [replica=435867912406565892] [error="getNodeInfo: queryNode is offline"]

["some node(s) haven't received input"] [list="[nodeCtxTtChecker-dmInputNode-query-4359951139854

[2022-11-04 05:04] congqixia commented on #20252
From the log I found:
[code]
So the handoff did not actually happened, since there is no enough memory to load indexed sealed segment.

[2022-11-04 06:18] jingkl opened #20329 "[Bug]: [benchmark][standalone]Milvus search failed and raise an error"Retry timeout: 60s after diskann indexed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-stable-1667494800-1
server-configmap
server-single-4c16m-diskann
client-configmap
client-locust-search-sift10m-diskann

[code]

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anyt

[2022-11-04 06:20] XuanYang-cn commented on #19890
Search metric_type is inconsistent with Index metric_type

PyMilvus cannot do this dynamic check, proxy cannot either.

[2022-11-04 06:23] longjiquan commented on #20130
![image](https://user-images.githubusercontent.com/31589260/199905395-f886836a-25cc-4d85-87c2-c1853a3382bd.png)
![image](https://user-images.githubusercontent.com/31589260/199905422-a3d1541f-542f-4578-a183-61c813f23cfa.png)
![image](https://user-images.githubusercontent.com/31589260/199905495-28fcb05f-8c37-49a2-b00f-19a5de476637.png)
![image](https://user-images.githubusercontent.com/31589260/1999

[2022-11-04 06:27] XuanYang-cn commented on #19890
QueryNode doesn't have the index_params for loaded indexes, so currently, this check has to be done at cpp.

It's recommended to fix this at 2.2.1

/unassign
/assign @yah01

[2022-11-04 06:27] XuanYang-cn commented on #19890
/unassign @soothing-rain

[2022-11-04 06:28] longjiquan commented on #20130
During search, the querynode was killed and restarted with same address. Since Proxy cached the shard leader, the first time Proxy tried to search on the cached querynode leader, it got error since the newly restarted querynode was not assigned to leader by the querycoord. It's why Milvus raised this error.

[2022-11-04 06:54] zhuwenxing commented on #20324
/unassign @yanliang567
/assign @linggong2011

[2022-11-04 07:17] #19953 closed

[2022-11-04 07:18] jennyli-z opened #20332 "[Bug]: [UT] TestPulsarCtl failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

CI
[https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20UT%20CI-Debug/detail/PR-59/2/pipeline/](https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20UT%20CI-Debug/detail/PR-59/2/pipeline/)

### Current Behavior

failed with following errors
[code]

### Expected Behav

[2022-11-04 07:18] zhuwenxing commented on #20225
Not reproduced

[2022-11-04 07:18] #20225 closed

[2022-11-04 07:19] jennyli-z commented on #20332
/assign @xiaofan-luan

[2022-11-04 07:25] zhuwenxing commented on #19633
It all failed at the loading step for the cluster Kafka version
![image](https://user-images.githubusercontent.com/12268675/199916251-b1484180-6560-4b3b-a926-a46945097884.png)

And this blocked other issue verification such as search issues.

[2022-11-04 07:30] NicoYuan1986 commented on #19386
Fixed!

[2022-11-04 07:32] NicoYuan1986 commented on #19736
The issue is same with #20247. So close this one.

[2022-11-04 07:32] #19736 closed

[2022-11-04 07:33] NicoYuan1986 commented on #20158
Fixed.

[2022-11-04 07:33] #20158 closed

[2022-11-04 07:34] #20003 closed

[2022-11-04 07:36] NicoYuan1986 commented on #20040
The issue has disappeared for some time. Close it first. milvus:f557af1

[2022-11-04 07:36] #20040 closed

[2022-11-04 07:45] NicoYuan1986 commented on #20039
The issue hasn't appeared for 10 days. So close it.

[2022-11-04 07:45] #20039 closed

[2022-11-04 07:46] NicoYuan1986 commented on #19689
The issue hasn't appeared for a log time.

[2022-11-04 07:46] #19689 closed

[2022-11-04 08:19] yhmo commented on #19658
After fix, the failed reason will be:
[code]

[2022-11-04 08:29] wayblink opened #20335 "[Bug]: Backup tool call BulkInsert fail because file exist check failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

MinioChunkManager.Exist can't check whether a directory is exist. It will always return 'NoSuchKey'

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-11-04 08:30] wayblink commented on #20335
/assign

[2022-11-04 08:31] wayblink commented on #20335
/unassign @yanliang567

[2022-11-04 08:45] jingkl opened #20337 "[Bug]: [benchmark][diskann]Milvus create diskann index with 768d 5m data, report an error"SyncTimestamp Failed:context canceled""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-qh47g-1
server-configmap
server-single-2c9m-diskann
client-configmap
client-diskann-locust-search-local5m
Milvus server:
[code]
Milvus client log:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

_No

[2022-11-04 08:46] jingkl commented on #20337
/anssign @xige-16 @liliu-z

[2022-11-04 08:54] jingkl commented on #20337
server-instance
fouram-67nnt-1
server-configmap
server-single-2c9m-diskann
client-configmap
client-autoindex-locust-search-sift25m
sever
[code]
log：
[code]

[2022-11-04 08:56] yhmo commented on #19660
Ok, will change it in the pr #20301

[2022-11-04 08:59] linggong2011 opened #20338 "[Enhancement]: A way to increase the qps greatly by turning up the scheduler.cpuRation from 20 to 120"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

We have done several pressure tests using 100,000+ vector quantity in milvus with FLAT index.
We do pressure with wrk by the command: wrk -t15 -c30 -d30s --latency xxx.com, the request  is to search top 1 vector quantity. We use two query nodes with 16*cpu and 16 Gi memory.
We

[2022-11-04 09:00] jingkl commented on #20337
The same index creation failure error occurs for sift 128d 2500w data

[2022-11-04 09:12] haochun opened #20340 "[Bug]: querycoord crashed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

querycoord crashed,the log:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

[2022/11/04 09:06:09.489 +00:00] [WARN] [grpcclient/client.go:251] ["datacoord ClientBase ReCall grpc first call get error "] [error="err:

[2022-11-04 09:34] xige-16 commented on #20337
syncTimestamp failed may be related to high cpu utilization

![fkVsOwX1om](https://user-images.githubusercontent.com/20124155/199940336-53cac24d-8a51-4a53-aca4-ee0add4b356d.png)

[2022-11-04 09:58] zhuwenxing opened #20343 "[Bug]: The query result is not empty when all data are deleted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

Testcase passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-20341/1/pipeline/107
log:

[milvus-standalone-pymilvus-pytest-logs

[2022-11-04 11:01] yovelcohen commented on #19818
also,
[code]

[2022-11-04 11:48] bigsheeper commented on #19947
should be fixed @zhuwenxing
please help to verity

[2022-11-04 11:48] bigsheeper commented on #19947
/assign @zhuwenxing
/unassign

[2022-11-04 12:09] congqixia commented on #19731
[code]
QueryNode 5 went offline about the time search returned error.
However, there was no panic log from querynode 5. Still looking into it.

[2022-11-05 09:29] #19434 closed

[2022-11-05 09:29] #19499 closed

[2022-11-05 09:29] #18979 closed

[2022-11-05 09:29] #19511 closed

[2022-11-05 09:29] #19525 closed

[2022-11-05 09:29] #19529 closed

[2022-11-05 11:29] #19534 closed

[2022-11-05 11:29] #19441 closed

[2022-11-05 11:29] #19057 closed

[2022-11-05 11:29] #19019 closed

[2022-11-05 11:29] #19548 closed

[2022-11-05 12:36] Roger-Z opened #20356 "[Bug]: fail to load index, error "no enough memory""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

release and load a index with 68m entities, error occur, even there are 320GB memory available in my cluster
![企业微信截图_16676129579891](https://user-images.githubusercontent.com/3478019/200120088-b8ddbce3-16b1-4bf5-8bb3-a5442b6135a0.png)

### Expected Behavior

_No resp

[2022-11-06 18:39] #18978 closed

[2022-11-06 18:39] #19572 closed

[2022-11-06 18:39] #19372 closed

[2022-11-07 02:34] jingkl opened #20357 "[Bug]: [benchmark][diskann] Milvus inserts 100m of data, but the actual number of rows inserted is inconsistent"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-tag-no-clean-xngt6-1
server-configmap
server-cluster-8c32m500d-diskann
client-configmap
client-random-locust-diskann-search-filter-100m-ddl

[code]

[code]
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus

[2022-11-07 02:37] NicoYuan1986 commented on #20247
From the latest nightly report: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/185/pipeline/155/

milvus: 4a66965
pymilvus: 2.2.0.dev71

1. log: [artifacts-milvus-standalone-nightly-185-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/185/artifact/artifacts-milvus-standalone-nightly-185-pymilvus-e2e-logs.

[2022-11-07 02:38] jingkl opened #20358 "[Bug]: [benchmark][cluster][diskann]Milvus insert 100m data , load raise an error"collection has not been loaded to memory or load failed""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-tag-no-clean-xngt6-1
server-configmap
server-cluster-8c32m500d-diskann
client-configmap
client-random-locust-diskann-search-filter-100m-ddl

[code]

[code]
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus

[2022-11-07 02:40] NicoYuan1986 commented on #20248
Latest: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/185/pipeline/123

milvus: 4a66965
pymilvus: 2.2.0.dev71

1. log: [artifacts-milvus-distributed-kafka-nightly-185-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/185/artifact/artifacts-milvus-distributed-kafka-nightly-185-pymilvus-e2e-logs.tar.gz)
2.

[2022-11-07 02:40] zhuwenxing commented on #20357
May related to https://github.com/milvus-io/milvus/issues/19955

[2022-11-07 02:47] jingkl opened #20359 "[Bug]: [benchmark][diskann]Milvus create diskann index ,load raise an error"Retry run out of 10 retry times, message=collection 437191740442542084 has not been loaded to memory or load failed""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-stable-1667754000-1
server-configmap
server-single-4c16m-diskann
client-configmap
client-locust-search-sift10m-diskann

[code]

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anyt

[2022-11-07 02:51] NicoYuan1986 commented on #20251
Latest: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/185/pipeline/123/

milvus: 4a66965
pymilvus: 2.2.0.dev71

1. log: [artifacts-milvus-distributed-kafka-nightly-185-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/185/artifact/artifacts-milvus-distributed-kafka-nightly-185-pymilvus-e2e-logs.tar.gz)
2.

[2022-11-07 02:51] wangting0128 commented on #19837
verify: 2.2.0-20221105-16c8642b
close issue

[2022-11-07 02:51] #19837 closed

[2022-11-07 02:51] wangting0128 commented on #20057
verify: 2.2.0-20221105-16c8642b
close issue

[2022-11-07 02:51] #20057 closed

[2022-11-07 02:54] wangting0128 commented on #20127
verify ：2.2.0-20221105-16c8642b
close issue

[2022-11-07 02:54] #20127 closed

[2022-11-07 03:00] wangting0128 commented on #20074
argo task：fouramf-cron-1667664000
test case：test_query_by_ids_local_standalone

server：
[code]

client log:
[code]

[2022-11-07 03:04] congqixia opened #20360 "[Bug]: shardClusterVersion remains in version map if it's expired by load segment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

If a version is expired by load segment operation, it will remains in the `versions` map forever, which will cause some memory leakage.

### Expected Behavior

If an `ShardClusterVersion` is expired, it shall be deleted from the `versions` map and get "GC"ed

### Step

[2022-11-07 03:14] jingkl opened #20362 "[Bug]: [Milvus][standalone]After the Milvus upgrade, search and create small collection insert raise an error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-tag-no-clean-ssm74-1
server-configmap
server-single-32c128m
client-configmap
client-random-locust-search-filter-100m-ddl

image：master-20221102-3ac87fe0

upgrade image:master-20221104-15b2d1ca
server-instance
fouram-tag-no-clean-ssm74-1
server-c

[2022-11-07 03:16] xige-16 commented on #20248
/assign @jiaoew1991

[2022-11-07 03:16] xige-16 commented on #20248
@jiaoew1991  please help/

[2022-11-07 03:26] zhuwenxing opened #20363 "[Bug]: A testcase stuck for a long time for cluster Milvus with Kafka as MQ"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/200219414-e2a43335-d4eb-4fbc-b3bf-d4b3076d30e2.png)

A test case costs about 1 hour, from 10:40:51 to 11:46:29

It makes `test_action_first_deployment.py` run for 1h30min and still timeout at 96%

The normal

[2022-11-07 03:38] #19558 closed

[2022-11-07 03:38] #19602 closed

[2022-11-07 03:38] #19454 closed

[2022-11-07 03:38] #19423 closed

[2022-11-07 03:38] #18951 closed

[2022-11-07 03:38] #18956 closed

[2022-11-07 03:38] #19059 closed

[2022-11-07 03:38] #19008 closed

[2022-11-07 03:38] #19061 closed

[2022-11-07 03:38] #19113 closed

[2022-11-07 03:38] #19106 closed

[2022-11-07 03:38] #19125 closed

[2022-11-07 03:38] #18469 closed

[2022-11-07 03:38] #18530 closed

[2022-11-07 03:38] #18565 closed

[2022-11-07 03:38] #18845 closed

[2022-11-07 03:38] #18885 closed

[2022-11-07 03:38] #18860 closed

[2022-11-07 03:38] #18890 closed

[2022-11-07 03:38] #18294 closed

[2022-11-07 03:38] #17040 closed

[2022-11-07 03:38] #16789 closed

[2022-11-07 03:38] #19328 closed

[2022-11-07 03:38] #19404 closed

[2022-11-07 03:38] #19603 closed

[2022-11-07 03:40] jingkl opened #20365 "[Bug]: [benchmark][standalone]Milvus insert-delete search causes pod restart, search reports error "Server unavailable. Retry timeout. 60s""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-4gdzv-1
server-configmap
server-single-8c64m
client-configmap
client-random-locust-insert-delete-search-filter

Before restart：

[code]

After restart：
[code]

<img width="1375" alt="截屏2022-11-07 11 31 20" src="https://user-images.githubusercont

[2022-11-07 03:41] zhuwenxing commented on #20229
Not reproduced

[2022-11-07 03:41] #20229 closed

[2022-11-07 03:47] zhuwenxing commented on #20228
Not reproduced in Pulsar MQ.
It was blocked by https://github.com/milvus-io/milvus/issues/19633 when verify Kafka MQ

[2022-11-07 03:48] zhuwenxing commented on #20363
It is not a stable issue

[2022-11-07 04:09] jingkl opened #20366 "[Bug]: [benchmark][diskann]Milvus insert delete, search causes pod restart, search reports error“sift_10w_128_l2 or partition:[] not loaded into memory when query”"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-bpmgr-1
server-configmap
server-single-8c32m256d-diskann
client-configmap
client-random-locust-insert-delete-search-filter-diskann

[code]

after restart：
[code]

<img width="1341" alt="截屏2022-11-07 12 05 59" src="https://user-images.githubuserc

[2022-11-07 04:35] congqixia opened #20367 "[Bug]: calling `InvalidateCollection` when proxy is not ready will lead to panic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

calling `InvalidateCollection` when proxy is not ready will lead to panic

### Expected Behavior

When proxy is not ready, all grpc call shall return unhealthy message and shall not panic

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anyth

[2022-11-07 06:34] czs007 commented on #20362
[2022/11/06 07:57:30.483 +00:00] [WARN] [rootcoord/quota_center.go:459] ["QuotaCenter force deny writing due to long timeTick delay"] [node=datanode-78] [vchannel=by-dev-rootcoord-dml_247_436938341034923175v1] [curTs=2022/11/06 07:57:30.479 +00:00] [minTs=2022/11/05 16:10:55.609 +00:00] [delay=15h46m34.87s] [MaxDelay=5m0s]
--

[2022-11-07 06:38] xige-16 commented on #20359
querynode restart

![fZKD94kqmj](https://user-images.githubusercontent.com/20124155/200241607-9797e8f1-fc2e-4392-8739-143e6a1b2bb1.png)

[2022-11-07 06:42] yah01 commented on #19951
#20330 waits for #20306

[2022-11-07 06:44] xige-16 commented on #20359
first panic at 19:02, there is still a lot of free memory, so it is not a restart caused by insufficient memory

![WmrV2IIeAY](https://user-images.githubusercontent.com/20124155/200242271-a960722a-ca42-4f14-a0a6-9a524ffcb6db.png)

[2022-11-07 06:57] xige-16 commented on #20358
[code]

[2022-11-07 06:57] xige-16 commented on #20358
@jingkl  please check aio limit

[2022-11-07 07:01] congqixia opened #20369 "[Bug]: singlton param table may cause data race in proxy unit test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Proxy unit test may run into data race

### Expected Behavior

No data raqce

### Steps To Reproduce

_No response_

### Milvus Log

[code]

### Anything else?

_No response_

[2022-11-07 07:06] soothing-rain commented on #20281
/assign @MrPresent-Han

[2022-11-07 07:07] soothing-rain commented on #19219
fixed in https://github.com/milvus-io/milvus/pull/20278.

/unassign

[2022-11-07 07:13] yah01 commented on #20248
/assign

[2022-11-07 07:34] zhuwenxing commented on #19951
chaos type: pod-kill image tag: master-20221105-4a66965d target pod: etcd
failed job:
https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/2815/pipeline
log:
[artifacts-etcd-pod-kill-2815-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9949116/artifacts-etcd-pod-kill-2815-server-logs.tar.gz)
[artifacts-etcd-pod-kill-2815-pytest-logs.tar.gz](https://git

[2022-11-07 07:46] zhuwenxing commented on #19955
chaos type: pod-kill image tag: master-20221105-4a66965d target pod: datacoord
failed job:
https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/2806/pipeline
log:
[artifacts-datacoord-pod-kill-2806-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9949175/artifacts-datacoord-pod-kill-2806-server-logs.tar.gz)
[artifacts-datacoord-pod-kill-2806-pytest-logs

[2022-11-07 08:00] xige-16 commented on #20337
This pr should alleviate the problem
 https://github.com/milvus-io/milvus/pull/20328/files

[2022-11-07 08:01] xige-16 commented on #20131
knowhere issue

[2022-11-07 08:16] weiliu1031 opened #20371 "[Enhancement]: QueryCoordV2: periodically update target, instead of handoff"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

handoff is too complicated, so we choose a new way to response segment change in data coord.

1. query coord pull a target(`current`), and load it
2. periodically pull a new target(`next`), load all segment and channel in `next`, when `next` is ready, update `current`
3. repea

[2022-11-07 08:16] aoiasd commented on #19749
Access log work like this now:
    If we use access log
    Before proxy return response of external interface to client, we will print access log info like this:
    [<time>]["<status>:<network>-<IP>-<method>"][timeCost=<timeCost>][traceId=<traceId>][responseSize=<responseSize>][errorCode=<errorCode>]
    Such as
    [2022/11/07 11:37:23.360 +08:00] ["TaskFailed: tcp-[::1]:56057-DescribeCollectio

[2022-11-07 08:16] weiliu1031 commented on #20371
/assign @weiliu1031

[2022-11-07 08:26] jingkl opened #20373 "[Bug]: [benchmark][cluster] The CPU is not fully utilized during milvus search"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

fouramf-cron-1667750400
 --milvus_tag_prefix=2.2.0 -s -v
case_name
test_ivf_flat_search_filter
[code]

<img width="1388" alt="截屏2022-11-07 16 12 30" src="https://user-images.githubusercontent.com/34296482/200259520-5a34cbd9-67e4-44b9-88fc-e30a78ef3d53.png">

### Expec

[2022-11-07 08:44] aoiasd opened #20375 "[Enhancement]: GetProxyMetric should be a internal interface but now was external"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

GetProxyMetric used internal but in external method

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-11-07 08:55] #20367 closed

[2022-11-07 09:07] #20360 closed

[2022-11-07 09:23] yah01 commented on #20248
/assign @NicoYuan1986
plz retry with #20364, #20370 at 2.2.0 as well

[2022-11-07 09:32] MrPresent-Han commented on #20281
I can cover this issue

[2022-11-07 09:34] #20033 closed

[2022-11-07 09:38] jingkl commented on #19526
server-instance
fouram-stable-1667754000-4
server-configmap
server-single-8c32m
client-configmap
client-random-locust-hnsw-compaction-search-5h

2.2.0-20221105-16c8642b
2.2.0.dev70

[code]

<img width="1372" alt="截屏2022-11-07 17 37 09" src="https://user-images.githubusercontent.com/34296482/200277132-67393a97-a06f-4daf-b486-372d5a8d9d91.png">

[2022-11-07 09:39] JackLCL commented on #20338
@linggong2011
The parameter scheduler.cpuRation may have different optimal values in different cases. In your current scenario, 100,000 data is used for violent retrieval, and the optimal parameter value for other indexes may not be 120. So it is now recommended to test each scenario individually to select the best value.

[2022-11-07 09:49] czs007 commented on #20362
2022-11-06 15:47:19 | [2022/11/06 07:47:19.188 +00:00] [INFO] [indexnode/indexnode_service.go:92] ["IndexNode successfully scheduled"] [traceID=3c9eb962374ea9c1] [IndexBuildID=437136787698536960] [ClusterID=by-dev] [indexName=]
-- | --
  |   | 2022-11-06 15:47:19 | [2022/11/06 07:47:19.188 +00:00] [DEBUG] [indexnode/task_scheduler.go:215] ["process task"] [task=by-dev/437136787698536960]
  |   | 2

[2022-11-07 09:50] czs007 commented on #20362
2022-11-06 15:47:19 | [2022/11/06 07:47:19.191 +00:00] [DEBUG] [timerecord/time_recorder.go:91] ["IndexBuildID: 437136787698536960, ClusterID: by-dev: load field data done (3ms)"]
-- | --
  |   | 2022-11-06 15:47:19 | [2022/11/06 07:47:19.196 +00:00] [DEBUG] [indexnode/task.go:524] ["indexnode deserialize data success"] ["index id"=0] ["index name"=] [collectionID=437136787698536886] [partitionID=

[2022-11-07 09:51] czs007 commented on #20362
2022-11-06 15:47:19 | [2022/11/06 07:47:19.191 +00:00] [DEBUG] [timerecord/time_recorder.go:91] ["IndexBuildID: 437136787698536960, ClusterID: by-dev: load field data done (3ms)"]

  |   | 2022-11-06 15:47:19 | [2022/11/06 07:47:19.196 +00:00] [DEBUG] [indexnode/task.go:524] ["indexnode deserialize data success"] ["index id"=0] ["index name"=] [collectionID=437136787698536886] [partitionID=4371367

[2022-11-07 10:16] czs007 commented on #20362
![image](https://user-images.githubusercontent.com/59249785/200285468-3e547d0a-332b-451e-83dd-9cf7145e7842.png)

[2022-11-07 11:00] soothing-rain commented on #19074
/open @ThreadDao can you verify if this still exists in latest master?

[2022-11-07 11:00] soothing-rain commented on #19074
/reopen

[2022-11-07 11:02] soothing-rain commented on #17351
Done.

[2022-11-07 11:03] soothing-rain commented on #17351
/reopen

[2022-11-07 11:04] soothing-rain commented on #17767
/reopen

[2022-11-07 11:04] #17767 closed

[2022-11-07 12:50] JericLee opened #20383 "[Bug]: milvus-windows-20220818-21594b2 版本load会卡住，崩溃"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

 [ERROR] [grpcclient/client.go:140] ["failed to get client address"] [error="find no available rootcoord, check rootcoord state"] [stack="github.com/milvus-io/milvus/internal/util/grpcclient.(*ClientBase).connect\n\tD:/a/milvus/milvus/internal/util/grpcclient/client.g

[2022-11-07 13:04] SimFG opened #20384 "[Enhancement]: Close the no-use chan in the querycoord node"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Close the no-use chan in the querycoord node

https://github.com/milvus-io/milvus/blob/c5cd92d36eb9ea35dd7cfd25fa364eaddfd4b1c1/internal/querycoordv2/job/scheduler.go#L49-L56

https://github.com/milvus-io/milvus/blob/c5cd92d36eb9ea35dd7cfd25fa364eaddfd4b1c1/internal/querycoord

[2022-11-07 13:06] jaime0815 commented on #20365
pod xv9n6 offline due to node  4am-node10 is restarted and the status is not ready, then new pod wgwx4 is scheduled, but it becomes online state a little late because the available resource is not enough, this is a significant reason why the requests failed.
![image](https://user-images.githubusercontent.com/4024711/200315650-db1d35f1-ccc5-4746-9ab2-23d028e6890a.png)

[2022-11-07 13:07] jaime0815 commented on #20365
/assign @jingkl

[2022-11-07 14:51] xiaofan-luan commented on #20365
@jaime0815 what's the reason of restart?

[2022-11-07 15:01] xiaofan-luan commented on #20338
100 might be a reasonable guess?

[2022-11-07 15:23] #20129 closed

[2022-11-07 15:24] #20320 closed

[2022-11-08 00:00] devennavani commented on #19949
@LoveEachDay that fixed it, thanks! It would be helpful to have that in the docs somewhere.

[2022-11-08 00:00] #19949 closed

[2022-11-08 01:45] jiaoew1991 commented on #20366
From 16:23:39, milvus could not connect to etcd
![image](https://user-images.githubusercontent.com/2297455/200453235-d822f96f-c4ca-4526-875b-b0fe5f12ce1c.png)
Until 16:24:03, milvus enters the auto-shutdown logic
![image](https://user-images.githubusercontent.com/2297455/200453463-20cc5559-eb1f-4f2f-9c55-e1573b02aefc.png)

[2022-11-08 01:47] jiaoew1991 commented on #20366
It is speculated that the network was unavailable at the time, or that the CPU load was too high for the TCP connection to be interrupted and could not be restored.
Monitoring of restart time is lost and further diagnostics are not possible 😅

[2022-11-08 02:17] NicoYuan1986 commented on #20248
Fixed. milvus: c5cd92d

[2022-11-08 02:32] NicoYuan1986 commented on #19386
The issue appeared again in the latest nightly report. Could you help have a look? @yah01

nightly: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/186/pipeline/187

milvus: c5cd92d
pymilvus: 2.2.0.dev71

1. log: [artifacts-milvus-distributed-pulsar-nightly-186-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/mas

[2022-11-08 02:47] NicoYuan1986 commented on #20247
The latest: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/186/pipeline/155/

milvus: c5cd92d
pymilvus: 2.2.0.dev71

1. log: [artifacts-milvus-distributed-kafka-nightly-186-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/186/artifact/artifacts-milvus-distributed-kafka-nightly-186-pymilvus-e2e-logs.tar.gz

[2022-11-08 02:49] congqixia opened #20387 "[Bug]: LoadSegmentTask may fail when some segment is released"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

LoadSegmentTask may fail when some segment is released
While doing `FromDmlLoadDelete` when delete related segment is released, the function will may return error, even when the segment is not related to the load segment task

### Expected Behavior

Releasing segment

[2022-11-08 02:50] pengyuan opened #20389 "[Enhancement]: python sdk/api really sucks"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

python sdk/api is really hard to use

### Why is this needed?

### Anything else?

[2022-11-08 02:58] jingkl opened #20390 "[Bug]: [benchmark][cluster]After Milvus updated the image and rebuilt the new index, search reported an error“fail to search on all shard leaders, err=fail to Search, QueryNode ID=33, reason=Search 33 failed”"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

rebuild hnsw index
server-instance
fouram-tag-no-clean-p4l24-1
server-configmap
server-cluster-8c64m-querynode2
client-configmap
client-random-locust-100m-ddl-rebuild-hnsw-con

[code]
client log：
<img width="1335" alt="截屏2022-11-08 10 54 22" src="https://user-images.g

[2022-11-08 03:08] congqixia commented on #20390
[code]
From the log, it looks like client is still using IVF_PQ search param.
Could you please verify?
/unassign @yanliang567
/assign @jingkl

[2022-11-08 03:08] #20390 closed

[2022-11-08 03:15] wayblink commented on #19955
/assign

[2022-11-08 03:24] jingkl commented on #20365
Error due to reboot of 4am-node10 machine, turn off issue first

[2022-11-08 03:24] #20365 closed

[2022-11-08 03:26] jingkl commented on #20366
Error due to reboot of 4am-node10 machine, turn off issue first

[2022-11-08 03:26] #20366 closed

[2022-11-08 03:28] soothing-rain commented on #20138
/unassign
/assign @yhmo

[2022-11-08 03:32] jingkl commented on #20359
server-instance
fouram-stable-1667840400-1
server-configmap
server-single-4c16m-diskann
client-configmap
client-locust-search-sift10m-diskann

[code]
[code]

[2022-11-08 03:37] #20335 closed

[2022-11-08 03:47] #20387 closed

[2022-11-08 05:56] jingkl commented on #20226
Keep upgrading without problems, turn off issue first

[2022-11-08 05:56] #20226 closed

[2022-11-08 05:57] jingkl commented on #19962
Keep upgrading without problems, turn off issue first

[2022-11-08 05:57] #19962 closed

[2022-11-08 06:04] wangting0128 commented on #20130
verify：2.2.0-20221107-65a2b1c5

[2022-11-08 06:04] #20130 closed

[2022-11-08 06:09] jiaoew1991 commented on #20329
Diagnosed from the log, the reason is that `etcd` cannot be connected, and cannot find `etcd` log at that time

[2022-11-08 06:14] xiaofan-luan commented on #20389
Hi @pengyuan , could you give us some details about why the SDK bothers you?
We need more information and advice to improve

[2022-11-08 06:18] yhmo commented on #19658
The #20301 and #20372 have been merged, the failed reason become: "unsupported file type: '_row_cust_float_vectors_uid_8d_100_0'", please verify.

[2022-11-08 06:18] xiaofan-luan commented on #20373
echo it, for pods more than 8 CPU, seems that current milvus didn't fully utilize the cpu

[2022-11-08 06:20] yhmo commented on #19660
The #20301 and #20372 have been merged, the failed reason become: "failed to get file size of 'rows_0.json', error: not_existing.json: no such file or directory", please verify.

[2022-11-08 06:33] #20369 closed

[2022-11-08 06:36] wangting0128 opened #20397 "[Bug]: [benchmark][IVF_FLAT] 50 million vectors, 10G memory is occupied when searching"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task：fouramf-cron-1667836800
test case：test_ivf_flat_search_filter_cluster

server:
[code]

![image](https://user-images.githubusercontent.com/26307815/200491803-6ab8983c-ec73-4294-ae58-0588c9f8f2e1.png)
<img width="1876" alt="截屏2022-11-08 14 33 58" src="https://

[2022-11-08 06:36] zhuwenxing commented on #19579
Not reproduced

[2022-11-08 06:36] #19579 closed

[2022-11-08 07:18] yah01 commented on #19526
/assign @jingkl
#20349 fixed a deadlock, plz retry with it

[2022-11-08 07:46] NicoYuan1986 commented on #19482
Fixed.

[2022-11-08 07:46] #19482 closed

[2022-11-08 07:57] yah01 commented on #19386
/assign @weiliu1031

[2022-11-08 07:59] #20384 closed

[2022-11-08 08:13] yhmo commented on #19818
Another user also encountered this problem:
[milvus-querycoord-76bdffcc98-mkjnp.log](https://github.com/milvus-io/milvus/files/9958996/milvus-querycoord-76bdffcc98-mkjnp.log)

2000 entities put into a collection. Load the collection, unload the collection, try to load the entire collection and it hangs

[2022-11-08 08:31] yanliang567 commented on #20329
@jingkl could you please check that what status the etcd service was at that time? did milvus recover after etcd was reconnected?

[2022-11-08 08:39] yanliang567 commented on #20363
/assign @jaime0815
/unassign

[2022-11-08 08:44] yanliang567 commented on #20343
/assign @soothing-rain
/unassign

[2022-11-08 08:46] yanliang567 commented on #20340
@haochun Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?
/assign @haochun

[2022-11-08 08:46] yanliang567 commented on #20356
/assign @jiaoew1991
/unassign

[2022-11-08 08:47] yanliang567 commented on #20356
@Roger-Z how much free memory for query nodes left in cluster?

[2022-11-08 08:48] yanliang567 commented on #20397
/unassign

[2022-11-08 08:49] yanliang567 commented on #20157
/assign @jiaoew1991
/unassign

[2022-11-08 08:50] yanliang567 commented on #20332
/unassign

[2022-11-08 09:31] wangting0128 commented on #20074
argo task:fouramf-cron-1667836800
test case：test_query_by_ids_local_standalone

server:
[code]

client log:
[code]

[2022-11-08 09:46] jeet129 opened #20405 "[Feature]: Modify the collection schema once collection is created and is not empty"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Many a times, when we start with an ANN collection definition we don't know the exhaustive list of fields which should be available for the use case and we create the collection with few known fields in the collection schema and as the application

[2022-11-08 09:48] NicoYuan1986 opened #20406 "[Bug]: [Nightly] The result is wrong when query pagination with expression"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The result is wrong when query pagination with expression.
[code]

### Expected Behavior

PASS

### Steps To Reproduce

[code]

### Milvus Log

1. log: [artifacts-milvus-distributed-kafka-nightly-186-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus

[2022-11-08 10:23] yanliang567 commented on #20383
@JericLee Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?
/assign @JericLee

[2022-11-08 11:34] mausch commented on #16451
Not stale. I'm running Milvus v2.1.2 and this is still an issue.

[2022-11-08 12:24] #20312 closed

[2022-11-08 13:33] larry88 opened #20415 "[Bug]: The inserted primary key is different from the returned result"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

when I insert data,  the key number is less than 64 bits, but it will overflow
<img width="1343" alt="4B77A642-729E-477B-9677-2727F4154E43" src="https://user-images.githubusercontent.com/11516545/200576236-b3fd4f53-779c-4521-b202-0a519d26a3f9.png">

<img width="1343"

[2022-11-08 13:49] jingkl opened #20416 "[Bug]: [benchmark][standalone]Milvus insert delete scene reported error"force to deny/milvus.proto.milvus.MilvusService/Delete.""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-mrc8s-1
server-configmap
server-single-8c32m256d-diskann
client-configmap
client-random-locust-compaction-high-search-diskann
image：2.2.0-20221108-2e78872b
pymilvus 2.2.0dev70

server:
[code]

client pod：fouram-mrc8s-369167784
client log:

[code

[2022-11-08 13:57] mausch commented on #16451
Here's the output for this command in my cluster when it's unresponsible because of this issue: [birdwatcher-segments.txt](https://github.com/milvus-io/milvus/files/9961757/birdwatcher-segments.txt)
This doesn't tell me anything but maybe you can read something relevant out of this?
I'm going to rebuild my cluster (again) now...
It would be great if there were a workaround for this issue at least.

[2022-11-09 02:03] zhuwenxing opened #20418 "[Bug]: Create index timeout (200s) after minio pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

chaos type: pod-kill image tag: master-20221108-a2bf5022 target pod: minio
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detai

[2022-11-09 02:05] yanliang567 commented on #20415
/assign @binbinlv
please help to try with pymilvus to check whether it is a sdk issue or not?

/unassign

[2022-11-09 02:07] yanliang567 commented on #16451
@soothing-rain
please take a look at this issue, thx.

[2022-11-09 02:07] zhuwenxing commented on #19955
[code]

[code]

chaos type: pod-failure image tag: 2.2.0-20221108-2e78872b target pod: indexnode
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release/detail/chaos-test-for-release/1692/pipeline
log:
[artifacts-indexnode-pod-failure-1692-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9966687/artifacts-indexnode-pod-failure-1692-server-logs.tar.gz

[2022-11-09 02:16] yanliang567 commented on #20362
@czs007 any conclusions?

[2022-11-09 02:20] NicoYuan1986 commented on #20247
Latest: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/187/pipeline/155

milvus: a2bf502
pymilvus: 2.2.0.dev72

1. log: [artifacts-milvus-distributed-kafka-nightly-187-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/187/artifact/artifacts-milvus-distributed-kafka-nightly-187-pymilvus-e2e-logs.tar.gz)
2.

[2022-11-09 02:24] yanliang567 commented on #20324
some meta migration work shall be done before upgrading to master(2.2) from 2.1.4, which would be introduced in milvus 2.2.0 release

[2022-11-09 02:32] czs007 opened #20420 "[Bug]: The monitoring metrics of partition_num disappear in rootcoord"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

        // RootCoordNumOfPartitions counts the number of partitions per collection.
        RootCoordNumOfPartitions = prometheus.NewGaugeVec(
                prometheus.GaugeOpts{
                        Namespace: milvusNamespace,
                        Subsystem:

[2022-11-09 02:36] xige-16 commented on #20359
The reason is that the data pointed by the index_payload->raw_data may have been destructed, and the raw_data is still used outside the function after the data is destructed.

https://github.com/milvus-io/milvus/blob/a2bf5022cb283ed599f38a0e0941dbc991a4dc1a/internal/core/src/storage/DiskFileManagerImpl.cpp#L191-L202

[2022-11-09 02:36] NicoYuan1986 commented on #19386
It doesn't seem to be getting better. https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/187/pipeline/155/

milvus: a2bf502
pymilvus: 2.2.0.dev72

1. log: [artifacts-milvus-distributed-kafka-nightly-187-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/187/artifact/artifacts-milvus-distributed-kafka-nightly-18

[2022-11-09 02:37] xige-16 commented on #20359
@jingkl  please verifty 2.2.0

[2022-11-09 02:37] xige-16 commented on #20359
/unassign
/assign @jingkl

[2022-11-09 02:43] yanliang567 commented on #20418
/assign @xiaocai2333
/unassign

[2022-11-09 02:44] binbinlv commented on #20415
Ok, working.

[2022-11-09 02:52] jennyli-z opened #20421 "[Bug]: [UT] proxy failed with error bind: address already in use"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Failed with following error message

[code]

### Expected Behavior

should pass

### Steps To Reproduce

_No response_

### Milvus Log

[https://github.com/milvus-io/milvus/actions/runs/3420487743/jobs/5695371172](https://github.com/milvus-io/milvus/actions/runs/34204

[2022-11-09 02:57] binbinlv commented on #20415
Using pymilvus 2.1.3, milvus 2.1.4, the result is right:

[code]

[2022-11-09 03:06] xige-16 commented on #19041
![nldqXThZ9p](https://user-images.githubusercontent.com/20124155/200728298-dd3dfe3e-9def-4a95-8328-fb5e48adf622.png)

parrael append disk index err， has been fix by https://github.com/milvus-io/milvus/pull/20200

[2022-11-09 03:06] xige-16 commented on #19041
@jingkl  please verify again, Thx

[2022-11-09 04:02] yanliang567 commented on #20252
so sounds like we need to figure out a better solution, or maybe update the value of thresholdFactor?

[2022-11-09 05:51] #20035 closed

[2022-11-09 06:13] yanliang567 commented on #20421
/assign @jiaoew1991
/unassign

[2022-11-09 06:35] binbinlv commented on #20415
Using milvus 2.1.4, restAPI, this issue is reproduced:
id from 9999999999999999 to 10000000000000000

1. connect
[code]

3. create collection:
[code]

3. insert:

[code]

[2022-11-09 06:38] binbinlv commented on #20415
Reproduced only in restAPI, so maybe the sdk issue,
@haorenfsa  could you help to have a look please? Thanks.

[2022-11-09 06:38] binbinlv commented on #20415
/assign @haorenfsa
/unassign

[2022-11-09 06:59] haorenfsa commented on #20415
It's a bug due to careless golang interface conversion in parsing request. It's not an overflow but a precision lost when converting from float64 to int64.

https://github.com/milvus-io/milvus/blob/master/internal/distributed/proxy/httpserver/wrap_request.go#L133

here is a simple proof test of it:
[code]

which outputs
[code]

[2022-11-09 07:00] longjiquan commented on #19492
already verified by branch `test-no-block-cache`, commit: `e39befc`.
/assign @jingkl

[2022-11-09 07:01] longjiquan commented on #19492
![image](https://user-images.githubusercontent.com/31589260/200761278-e6e60fc5-5981-4cdc-b230-95683d12e651.png)

[2022-11-09 07:10] yhmo commented on #19553
The #20403 and #20404 have been merged. The error message becomes: "partition ID not found for partition name 'non_existing' in collection 'xxxxxxxxx'"

[2022-11-09 07:20] SamrudhiRRao opened #20433 "[Bug]: "StatusCode.UNAVAILABLE, internal: Milvus Proxy is not ready yet""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus was working fine for a while and I wanted to insert data. When I released the collection, milvus crashed with the error "**StatusCode.UNAVAILABLE, internal: Milvus Proxy is not ready yet**". I recreated the docker image several times and even tried to reinstall

[2022-11-09 07:26] yanliang567 commented on #20433
seems like the etcd service was down. could you please double check the etcd status? @SamrudhiRRao

[2022-11-09 07:29] yanliang567 commented on #20433
/assign @SamrudhiRRao

[2022-11-09 08:19] zhuwenxing opened #20437 "[Bug]: Collection is not loaded as expected after upgrading"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

[code]

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test/detail/deploy_test/614/pipeline
log:
[artifacts-pulsar-cluster-

[2022-11-09 08:20] yhmo commented on #20138
From the log I only saw one kind error:

[2022/10/27 08:58:18.071 +00:00] [ERROR] [rootcoord/root_coord.go:1932] ["RootCoord GetIndexState failed"] [collName=repo_cus_tenant] [fieldName=] [indexName=_default_idx] [error="index not found with name = _default_idx in collection repo_cus_tenant"] [stack="github.com/milvus-io/milvus/internal/rootcoord.(*Core).GetIndexState\n\t/go/src/github.com/milvus-

[2022-11-09 08:24] yhmo commented on #20138
The log file records log from [2022/10/27 08:58:14.007 +00:00] to [2022/10/27 08:58:18.100 +00:00], it is too short.

[2022-11-09 08:25] citePerson opened #20438 "[Bug]: can't load and release"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

我开始给vec设了一个索引  index = {"index_type": "IVF_FLAT", "params": {"nlist": 128}, "metric_type": "L2"}
后面为了需要100%召回率，所以删除了索引改为FLAT，但是技术支持说这个索引模式是爆搜不需要建立索引，就变成现在这个样子了。现在数据量310W

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

etcd

[2022-11-09 08:27] SamrudhiRRao commented on #20433
ETCD is up and running.

CONTAINER ID   IMAGE                                      COMMAND                  CREATED       STATUS                 PORTS                                           NAMES
29b44e1663d4   quay.io/coreos/etcd:v3.5.0                 "etcd -advertise-cli…"   2 hours ago   Up 2 hours             2379-2380/tcp                                   milvus-etcd

[2022-11-09 08:28] wg1026688210 opened #20439 "[Enhancement]: add a label for metric QueryNodeSQReqLatency"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

add a label for metric QueryNodeSQReqLatency to distinguish whether the request is Fromleader or OnLeader

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-11-09 08:29] yanliang567 commented on #20437
/assgin @xiaocai2333
/unassign

[2022-11-09 08:30] neiblegy opened #20440 "[Bug]: search benchmark can only use 10 cores with total 80cores(HT)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

we build 100M vectors with HNSW ({ 'index_type': 'HNSW','metric_type': 'IP','params': {'M': 8, 'efConstruction':128}
}), each vector is 256 float, milvus log level is info
the segment file max size is 2GB
then we deploy 5 query nodes(also col.load(replica_number=5)) w

[2022-11-09 08:39] yanliang567 commented on #20438
@citePerson  which milvus version are you running? I suggest you create FLAT index anyway if you do want 100% recall.

[2022-11-09 08:39] yanliang567 commented on #20438
/assign @citePerson

[2022-11-09 08:40] xiaocai2333 commented on #20437
/assign @xiaocai2333

[2022-11-09 08:40] neiblegy commented on #20440
![image](https://user-images.githubusercontent.com/16574677/200781446-7c59eab1-dee1-4096-9535-2faace1955f3.png)

benchmark result image

[2022-11-09 08:45] yanliang567 commented on #20440
@czs007 sounds like a known issue about search scheduler, please take a look.
/assign @czs007
/unassign

[2022-11-09 08:51] yanliang567 commented on #20433
/assign @SamrudhiRRao

[2022-11-09 09:35] SamrudhiRRao commented on #20433
@yanliang567 I have attached milvus-standalone and milvus-etcd log files.

[milvus-etcd.log](https://github.com/milvus-io/milvus/files/9969546/milvus-etcd.log)
[milvus-standalone.log](https://github.com/milvus-io/milvus/files/9969549/milvus-standalone.log)

[2022-11-09 09:36] zhuwenxing commented on #20437
@yah01
Can you take a look at this issue?
The collection name is `deploy_test_index_type_HNSW_is_compacted_not_compacted_segment_status_all_is_string_indexed_is_string_indexed_replica_number_2_is_deleted_is_deleted_data_size_3000`, and it contains `replica_number_2`, and this means it has been loaded and the replicas is 2 at first deployment.
But at second deployment, the return value is 0 when ca

[2022-11-09 09:49] #20420 closed

[2022-11-09 10:02] zhuwenxing commented on #20212
v2.1.4--> master-20221109-cc9dc0f0
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_kafka/detail/deploy_test_kafka/459/pipeline
![image](https://user-images.githubusercontent.com/12268675/200799807-08ffae39-43c5-4f9c-b63a-7132b73e1cdd.png)

But for a collection, the latency is normal
![image](https://user-images.githubusercontent.com/12268675/200800774-5bf21af2-99a6-

[2022-11-09 10:44] yah01 commented on #20437
/assign @weiliu1031
No task generated to load the segments in next target, only a balance task is always generated and then be stale, and removed

[2022-11-09 10:45] yah01 commented on #20437
The collection hasn't recovered for a long time, the GetReplicas() returns error if the collection is not fully loaded

[2022-11-09 10:56] liliu-z opened #20442 "[Enhancement]: Upgrade to Knowhere 1.3.3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Knowhere 1.3.3 is released with some bug fixes, we need to upgrade the version in Milvus side.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-11-09 11:03] zhuwenxing opened #20443 "[Bug]: Collection is not loaded after reinstallation when collection has been loaded for 2.2.0 branch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

milvus mode: cluster deploy task: reinstall old image tag: v2.1.4 new image tag: 2.2.0-latest
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenki

[2022-11-09 11:04] zhuwenxing commented on #20443
/assign @jiaoew1991
PTAL

[2022-11-09 11:05] mmhealey1 commented on #18493
@jaime0815 has this fix been released? I'm still getting the bug using the following helm chart
[code]

[2022-11-09 11:11] zhuwenxing opened #20444 "[Bug]: Search failed with error `Invalid shard leader` after upgrading from 2.1.4 to 2.2.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_kafka_for_release/detail/deploy_test_kafka_for_release/344/pipeline

![image](https://u

[2022-11-09 11:15] yanliang567 commented on #20444
/assign @jiaoew1991
/unassign

[2022-11-09 11:23] zhuwenxing opened #20445 "[Bug]: Search failed with error `message=<_MultiThreadedRendezvous of RPC that terminated with:status = StatusCode.DEADLINE_EXCEEDED` after upgrading from 2.1.4 to 2.2.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

milvus mode: cluster deploy task: upgrade old image tag: v2.1.4 new image tag: 2.2.0-latest
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_

[2022-11-09 11:23] zhuwenxing commented on #20445
/assign @jiaoew1991

[2022-11-09 11:38] yanliang567 commented on #20433
/assign @jiaoew1991
/unassign

[2022-11-10 00:11] #20442 closed

[2022-11-10 00:18] xiaofan-luan commented on #20252
It seems that the memory usage is already high(above 7 Gigabytes)

and load 512M  segment need extra 2G memory which might be a little too much.

have one implementation here to improve resource calculation. but still the memory budget seems to be really tight.
https://github.com/milvus-io/milvus/pull/20246

[2022-11-10 00:18] xiaofan-luan commented on #20252
related to #20245

[2022-11-10 00:19] xiaofan-luan commented on #20167
should be fixed by 20168, close it for now

[2022-11-10 00:19] #20167 closed

[2022-11-10 01:58] citePerson commented on #20438
但是我现在动不了了，数据库，不知道应该怎么做。重建索引也不行了

[2022-11-10 02:06] yanliang567 commented on #20438
@citePerson any chance to retry on milvus 2.1.4?, and if it persists, please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

[2022-11-10 02:12] jiaoew1991 commented on #20444
/assign @yah01
/unassign

[2022-11-10 02:21] zhuwenxing commented on #20418
Not only vchar index but also vector index would be failed

[2022-11-10 02:32] jiaoew1991 commented on #20445
/assign @weiliu1031
/unassign

[2022-11-10 02:32] xiaofan-luan opened #20453 "[Enhancement]: Investigate Milvus disk consumption"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

We've seen great amplification on disk usage in Milvus, and many user failed to insert data into milvus because of lack of enough disk space.

A few things to suspect:
1) Streaming data will be 3X because we gc streaming data with a relatively long time (Usually 3-5 days). Any

[2022-11-10 02:43] yanliang567 opened #20455 "[Bug]: Indexnode does not release memory after index tasks completed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

index node does not release memory after index tasks completed

### Expected Behavior

index node shall release memory after tasks completed

### Steps To Reproduce

[code]

### Milvus Log

master-20221103-deb9963d
[code]
master-20221109-0dc659a0
[code]

### Anything

[2022-11-10 02:44] yanliang567 commented on #20455
/assign @xiaocai2333
/unassign

[2022-11-10 02:52] jiaoew1991 commented on #20433
Milvus cannot connect to Etcd, could you confirm that Etcd and Milvus images are linked correctly?

<img width="1870" alt="image" src="https://user-images.githubusercontent.com/2297455/200988762-2c5c3919-c571-4673-b7a8-6e89d5a336d0.png">

[2022-11-10 02:55] jiaoew1991 commented on #20453
The logs may be huge

[2022-11-10 02:56] XuanYang-cn commented on #20453
Query for vectors may cache a large amount of data on disk, at most 2G by default.

[2022-11-10 03:06] XuanYang-cn commented on #20453
Standalone may need to consider rocksdb

[2022-11-10 03:06] citePerson commented on #20438
您好，我安装2.1.4测试下，如果我当前版本想清理调数据应该如何操作呢？就是etcd的数据

[2022-11-10 03:11] zhuwenxing commented on #20198
Not reproduced

[2022-11-10 03:11] #20198 closed

[2022-11-10 03:14] zhuwenxing opened #20459 "[Bug]: Insert failed with error `force to deny /milvus.proto.milvus.MilvusService/Insert` after indexcoord and standalone pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

chaos type: pod-kill image tag: 2.2.0-20221109-13dbc090 target pod: indexcoord
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-relea

[2022-11-10 03:15] zhuwenxing commented on #20459
/assign @bigsheeper
PTAL

[2022-11-10 03:16] zhuwenxing commented on #20459
chaos type: pod-kill image tag: 2.2.0-20221109-13dbc090 target pod: standalone
failed job https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release/detail/chaos-test-for-release/1700/pipeline
log:
[artifacts-standalone-pod-kill-1700-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9977013/artifacts-standalone-pod-kill-1700-server-logs.tar.gz)

[artifacts-standalon

[2022-11-10 03:31] jingkl commented on #19526
#20416 Perhaps relevant

[2022-11-10 03:37] xiaofan-luan commented on #20455
might need a debug.FreeOSMemory after each index build task?

[2022-11-10 03:51] #20439 closed

[2022-11-10 05:10] yanliang567 commented on #20438
1. if you want to a clear milvus, you could uninstall milvus and delete all the pvc/volumes
2. if auto_id, milvus uses in64 as id, which is by designed and not configured.

[2022-11-10 05:35] liliu-z opened #20463 "[Enhancement]: Optimize Bitset usage"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

From the perf of nq=1 serial execution:
<img width="1195" alt="截屏2022-11-10 下午1 17 28" src="https://user-images.githubusercontent.com/105927039/201007029-f211e9d7-2fd1-4663-ac62-9223e4f7de7b.png">

We can see the Bitset resize used ~1.39% CPU and Bitset count used ~4.39% CPU.

[2022-11-10 06:02] yah01 opened #20464 "[Bug]: Task context leaks if the task queue is full"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The task scheduler returns nil (not error) if the task queue is full, which leads to leak the task context

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-11-10 06:05] jiaoew1991 commented on #20356
/assign @weiliu1031
/unassign

[2022-11-10 06:14] yhmo opened #20466 "[Enhancement]: Bulkinsert should read data file by streaming, to reduce memory cost."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Currently, the data file size is limited to 1GB per file for bulk_insert() interface. We need to make an enhancement to read data files by streaming, to reduce memory costs.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-11-10 06:17] yanliang567 commented on #20464
/assign @yah01
/unassign

[2022-11-10 06:18] yhmo opened #20467 "[Enhancement]: Return task progress percent value to client by get_bulk_insert_state() interface"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

User calls get_bulk_insert_state() to know the state of a bulk insert task, but the state only returns enum value such as Failed/Persisted/Completed. We need to make an enhancement to return task progress percent value to client.

### Why is this needed?

_No response_

### An

[2022-11-10 06:20] jiaoew1991 commented on #20443
The collection loaded finished at 04:29:28, but the search request start at 04:29:27, the error seems reasonable @zhuwenxing

<img width="1421" alt="image" src="https://user-images.githubusercontent.com/2297455/201015308-9f0bfb8d-c96f-4ee8-af32-df8eb4fbf8ed.png">

[2022-11-10 06:29] haorenfsa commented on #20415
Same problem may also apply to other sdks, whose language uses float64 for number types.  eg: node sdk with typescript.
Can you help to test & prove it?

[2022-11-10 06:34] zhuwenxing commented on #20443
This issue has not happened before, so it means the performance of loading degraded form this aspect
I will add some wait time before searching, and then recheck this issue!

[2022-11-10 06:40] jingkl commented on #20358
server-instance
fouram-6kbj6-1
server-configmap
server-cluster-8c32m500d-diskann
client-configmap
client-random-locust-diskann-search-filter-100m-ddl
2.2.0-20221109-b007daa2
pymilvus 2.2.0.dev70

sever：
[code]
client log:
[code]

[2022-11-10 06:41] jingkl commented on #20358
/unssign @jingkl
/assign @xige-16

[2022-11-10 06:41] haorenfsa commented on #16951
/reopen

[2022-11-10 06:41] haorenfsa commented on #16951
/assign

[2022-11-10 06:42] haorenfsa commented on #20415
#16951

[2022-11-10 06:49] xiaofan-luan commented on #20415
So json unmarshal treat all data types as float?

[2022-11-10 06:49] jingkl commented on #20337
server-instance
fouram-r8jbl-1
server-configmap
server-single-2c9m
client-configmap
client-diskann-locust-search-local5m
2.2.0-20221109-13dbc090
pymilvus 2.2.0.dev70
The issue of creating an index did not arise

[2022-11-10 06:49] #20337 closed

[2022-11-10 06:52] haorenfsa commented on #20415
all `number` data, yes, as well as many other major json libs

[2022-11-10 06:54] haorenfsa commented on #20415
FYI  It's stated in the RFC standard of JSON: https://datatracker.ietf.org/doc/html/rfc8259
[code]

[2022-11-10 06:55] haorenfsa commented on #20415
@larry88 thanks again for this feedback. It really saved us from many troubles to come.

[2022-11-10 07:26] SamrudhiRRao commented on #20433
I have replaced the docker compose file with the below attached docker compose file and it is working. Not sure whether docker compose file makes a difference. In future if the problem occurs I will consider the solution provided by @jiaoew1991
[dockercompose.txt](https://github.com/milvus-io/milvus/files/9978366/dockercompose.txt)

[2022-11-10 07:37] longjiquan commented on #19492
After verification, it is proved that the block cache of rocksdb holds the memory. Of course, this behavior matches the expectations and should not be treated as an issue even not a memory leak problem.

[2022-11-10 07:51] yhmo opened #20477 "[Bug]: bulkinsert get incorrect int64 value converted from json file"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

If a json file contains int64 value which has more than 15 digits, bulkinsert will get an incorrect value.
for example, a json file:
[code]
After bulkinsert, the '9999999999999999' was parsed to '10000000000000000', it is incorrect.

Same root cause with https://githu

[2022-11-10 07:54] czs007 commented on #20362
@yanliang567 A pr has merged, try to use a goroutine pool to reduce thread usage.  @jingkl is testing

[2022-11-10 07:54] zhuwenxing commented on #19951
chaos type: pod-kill image tag: 2.2.0-20221109-13dbc090 target pod: datanode
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release/detail/chaos-test-for-release/1702/pipeline/244

log:
[artifacts-datanode-pod-kill-1702-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9978596/artifacts-datanode-pod-kill-1702-server-logs.tar.gz)

[artifacts-datanode-

[2022-11-10 07:55] czs007 commented on #20362
![image](https://user-images.githubusercontent.com/59249785/201032909-a67a5dd4-53dc-40fe-90fb-9e0e31cd2054.png)

The test seems to be stable at present. After the upgrade, the number of os threads is stable at around 200. There is no abnormal feedback from the test at present.
@yanliang567 @jingkl

[2022-11-10 07:59] weiliu1031 commented on #20437
when shard leader crash, and new node sub channels, leader observer should sync distribution to new shard leader. fix logic which skip sync process

[2022-11-10 08:05] Sivannnnnn opened #20479 "[Feature]: Is there any progress of milvus on ARM architecture"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Is there any progress of milvus on ARM architecture

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

_No response_

[2022-11-10 08:09] zhuwenxing opened #20480 "[Bug]: Search failed with error `Search 2 failed, reason query shard(channel) by-dev-rootcoord-dml_27_437271793527100077v1 does not exist` after querycoord pod kill"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/2959/pipeline
log:
[artifacts-querycoord-pod-kill-2959-server-logs.tar

[2022-11-10 08:56] zhuwenxing commented on #20480
/assign @jiaoew1991

[2022-11-10 08:57] czs007 opened #20485 "[Bug]: Proxy metric ProxyApplyPrimaryKeyLatency lantency unit is wrong"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

the monitoring metric metrics.ProxyApplyPrimaryKeyLatency  incorrectly uses nanosecond as the unit, needs to be changed to milliseconds

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No

[2022-11-10 09:16] binbinlv commented on #20415
Yes， same problem using Node SDK.
insert: 9999999999999999
return 10000000000000000
node.js:
[code]

[2022-11-10 09:54] #20099 closed

[2022-11-10 09:55] zhuwenxing commented on #20445
milvus mode: cluster deploy task: upgrade old image tag: v2.1.4 new image tag: 2.2.0-latest
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_kafka_for_release/detail/deploy_test_kafka_for_release/354/pipeline
log:

[artifacts-kafka-cluster-upgrade-354-server-second-deployment-logs.tar.gz](https://github.com/milvus-io/milvus/files/9979513/artifacts-kafka-cluster-upgra

[2022-11-10 10:13] zhuwenxing opened #20489 "[Bug]: The time of releasing collection after reinstallation is much larger than normal when mq is Kafka"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/201063218-07a4caa5-9d50-4b59-852a-2ac0d06ed504.png)

### Expected Behavior

This is the performance when mq is pulsar
![image](https://user-images.githubusercontent.com/12268675/201063586-ffa46a58-8451-46c5-b

[2022-11-10 11:16] congqixia opened #20492 "[Bug]: fake segments maybe added into recovery segment list"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

fake segments maybe added into recovery segment list

### Expected Behavior

fake segment shall be ignored except when it's generated for handoff

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

Maybe we need to gc fake segmen

[2022-11-10 11:25] yanliang567 commented on #20489
/assign @jaime0815
/unassign

[2022-11-10 11:44] #20463 closed

[2022-11-10 11:44] bigsheeper commented on #20459
Force to deny due to long tt delay, and it recovered quite fast.

![image](https://user-images.githubusercontent.com/42060877/201081928-28f88c88-04a5-4540-aead-94114d7b7efc.png)

https://github.com/milvus-io/milvus/pull/20350 may solve this problem.

[2022-11-10 12:19] xiaocai2333 commented on #20418
fixed on master, please verify @zhuwenxing
/assign @zhuwenxing

[2022-11-10 12:51] czs007 commented on #20362
upate:
![image](https://user-images.githubusercontent.com/59249785/201096201-c9b25f74-4e21-4811-b013-c3a44e2a959f.png)

thread num is still 200

[2022-11-10 12:52] haorenfsa commented on #20340
looks like `releaseSegmentReferLock` paniced. I'll try to dig it out.

[2022-11-10 12:52] haorenfsa commented on #20340
/assign

[2022-11-10 13:23] haorenfsa commented on #20340
@haochun If you plz, providing the log of datacoord will be good help

[2022-11-11 02:27] yah01 commented on #20444
/assign @zhuwenxing
plz check with #20456, and #20487 for v2.2.0

[2022-11-11 02:34] NicoYuan1986 opened #20500 "[Bug]: [Nightly]Compact merge two segments cost much and raised timeout error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Compact merge two segments cost much and raised timeout error.
[code]

### Expected Behavior

PASS

### Steps To Reproduce

[code]

### Milvus Log

1. log: [artifacts-milvus-distributed-kafka-nightly-189-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Mi

[2022-11-11 02:36] zhuwenxing opened #20501 "[Bug]: Datanode panic after datacoord pod failure chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/201250133-23d2fe8f-5bc6-4e81-99a5-7e91fdf9274e.png)

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

chaos type: pod-failure image tag: master-20221110-cd1

[2022-11-11 02:36] NicoYuan1986 commented on #20281
Latest: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/189/pipeline/136/

milvus: cd19d99
pymilvus: 2.2.0.dev72

1. log: [artifacts-milvus-distributed-kafka-nightly-189-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/189/artifact/artifacts-milvus-distributed-kafka-nightly-189-pymilvus-e2e-logs.tar.gz)
2.

[2022-11-11 02:38] yanliang567 opened #20502 "[Bug]: search latency increased 100% after upsert done"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

search latency increased 100%+ after upsert done
![image](https://user-images.githubusercontent.com/82361606/201250258-da310359-e6c8-4c1d-8139-63f4cfc5b26b.png)

### Expected Behavior

search latency shall keep stable, and not increase

### Steps To Reproduce

[code]

[2022-11-11 02:45] yanliang567 commented on #20502
/assign @jiaoew1991
/unassign

[2022-11-11 03:20] weiliu1031 commented on #20356
/assign @Roger-Z

[2022-11-11 03:37] elstic commented on #18508
[code]
tag: 2.2.0-20221110-b565145a
pymilvus-2.2.0.dev70

[code]

[code]

[2022-11-11 03:38] elstic commented on #18508
It's back again @xige-16

[2022-11-11 03:44] soothing-rain commented on #20281
/assign @MrPresent-Han

[2022-11-11 03:49] soothing-rain commented on #19713
/unassign
/assign @yongpengli-z

Fixed, please verify

[2022-11-11 05:12] zhuwenxing opened #20508 "[Bug]: Search failed with error `failed to get service timestamp, taskID = 437287633248321550, collectionID = 437287343851769383, err=cannot found tSafer, vChannel = by-dev-rootcoord-delta_9_437287343851769383v1` after rootcoord pod failure chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

chaos type: pod-failure image tag: master-20221110-cd19d99a target pod: rootcoord
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail

[2022-11-11 05:20] yah01 opened #20509 "[Bug]: DiskANN unit test asserts the params which is not consistent with milvus.yaml config"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://github.com/milvus-io/milvus/actions/runs/3442244071/jobs/5742928663

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-11-11 05:21] yah01 commented on #20509
/assign @xige-16
/unassign

[2022-11-11 05:21] zhuwenxing opened #20510 "[Bug]: Query results length is not as expected after upgrading"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The code of query
[code]
The query results length should be 4, but the length of the actual result is only 2

[code]

### Expected Behavior

[code]

### Steps To Reproduce

_No response_

### Milvus Log

![image](https://user-images.githubusercontent.com/12268675/2012

[2022-11-11 05:21] yah01 commented on #20509
![image](https://user-images.githubusercontent.com/12216890/201269160-cc193fe6-f46e-407b-aa89-8dbe082ff62e.png)

[2022-11-11 06:04] yanliang567 commented on #20508
/assign @jiaoew1991
/unassign

[2022-11-11 06:05] yanliang567 commented on #20501
/assign @jiaoew1991
/unassign

[2022-11-11 06:20] zhuwenxing commented on #20510
![image](https://user-images.githubusercontent.com/12268675/201276221-f057aa51-d34c-4a43-96e8-7732e23c018e.png)

It failed at the step in the red block

[2022-11-11 06:23] yah01 opened #20511 "[Bug]: Porxy unit test always fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://github.com/milvus-io/milvus/actions/runs/3441971798/jobs/5742799344
![image](https://user-images.githubusercontent.com/12216890/201276925-a1be30f6-6f28-444a-947b-8988fcd06dfe.png)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

##

[2022-11-11 06:24] yah01 commented on #20511
/assign @bigsheeper
/unassign @yanliang567

[2022-11-11 06:25] yanliang567 commented on #20510
/assign @soothing-rain
/unassign

[2022-11-11 06:26] yanliang567 commented on #20500
/assign @jiaoew1991
/unassign

[2022-11-11 06:27] yanliang567 commented on #20509
/unassign

[2022-11-11 06:37] #20509 closed

[2022-11-11 07:13] yah01 opened #20513 "[Bug]: Milvus returns incorrect row number after load partitions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Load partitions
2. Get row number
the row number will count the loaded partitions' rows twice

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-11-11 07:13] yah01 commented on #20513
/assign
/unassign @yanliang567

[2022-11-11 07:16] jiaoew1991 commented on #20500
/assign @weiliu1031
/unassign

[2022-11-11 07:19] jiaoew1991 commented on #20502
/assign @XuanYang-cn
/unassign

[2022-11-11 07:19] jiaoew1991 commented on #20508
/assign @yah01
/unassign

[2022-11-11 07:21] S-Dragon0302 commented on #20272
![Uploading image.png…]()

[2022-11-11 07:21] S-Dragon0302 commented on #20272
![image](https://user-images.githubusercontent.com/30819544/201287791-bdd2ff7e-2100-4866-b0e6-9686f5726be3.png)

[2022-11-11 07:24] S-Dragon0302 commented on #20272
链接: https://pan.baidu.com/s/1vngD4E3bXWhjVuui4I08tA 提取码: 2gm3 复制这段内容后打开百度网盘手机App，操作更方便哦

[2022-11-11 07:27] yah01 commented on #20511
/assign
/unassign @bigsheeper

[2022-11-11 07:27] weiliu1031 commented on #20500
/assign @ThreadDao please refine this test case

[2022-11-11 07:29] XuanYang-cn commented on #20406
I can't reproduce it locally, and the logs seem fine.

I'll add some detailed logs.

[2022-11-11 07:32] binbinlv opened #20515 "[Bug]: Async indexing is not completed before load"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Async indexing is not completed before load

### Expected Behavior

Async indexing is completed before load

### Steps To Reproduce

[code]

### Milvus Log

NA

### Anything else?

_No response_

[2022-11-11 07:32] #20190 closed

[2022-11-11 07:35] #20371 closed

[2022-11-11 07:35] #20305 closed

[2022-11-11 07:54] XuanYang-cn commented on #20502
There're still 3 growing segments in querynode

[2022-11-11 08:00] NicoYuan1986 opened #20517 "[Bug]: [Nightly]Milvus crashed with panic 'failed to update next target for collection'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus crashed with message 'failed to update next target for collection'.
[code]

### Expected Behavior

Pass

### Steps To Reproduce

[code]

### Milvus Log

[artifacts-milvus-standalone-nightly-189-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvu

[2022-11-11 08:02] yanliang567 commented on #20517
@NicoYuan1986 is this one master branch or 2.2 branch?

[2022-11-11 08:17] #20511 closed

[2022-11-11 08:17] #20513 closed

[2022-11-11 08:41] weiliu1031 commented on #20272
root coord start failed, when it try to create channel on pulsar during init process, meet `request timeout`,  please check:
1. do you use a new pulsar service which create with milvus, or you reuse your old pulsar service ?
2. please check your pulsar config

[2022-11-11 08:43] #20515 closed

[2022-11-11 08:43] NicoYuan1986 commented on #20517
master

[2022-11-11 08:45] yanliang567 commented on #20517
/assign @jiaoew1991
/unassign

[2022-11-11 08:48] bigsheeper opened #20520 "[Enhancement]: Ensure compatibility of channel seek position <= 2.1.x"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

If upgrade from 2.1x, channel seek position would get collection start position as seek position, because no channelCP meta in 2.1.x version.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-11-11 08:48] bigsheeper commented on #20520
/assign

[2022-11-11 08:51] weiliu1031 commented on #20272
/assign @S-Dragon0302

[2022-11-11 09:07] xige-16 opened #20522 "[Bug]: Disk data is not cleaned up and restart fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

["AppendIndex failed, C Runtime Exception: [UnexpectedError] Assert \"!local_chunk_manager.Exist(local_index_path_prefix)\" at /go/src/github.com/milvus-io/milvus/internal/core/src/index/VectorDiskIndex.cpp:42\n =\u003e local index path //milvus/data//index_files/4372

[2022-11-11 09:36] #18220 closed

[2022-11-11 10:03] #20492 closed

[2022-11-11 10:27] zhuwenxing commented on #20418
Not reproduced in master and 2.2.0 branch

[2022-11-11 10:27] #20418 closed

[2022-11-11 10:36] JericLee commented on #20383
I'm using the windows version,
At this website:
http://github.com/matrixji/milvus/releases
The latest version number:
[windows-test-v29](https://github.com/matrixji/milvus/releases/tag/windows-test-v29) [Latest](https://github.com/matrixji/milvus/releases/latest)
workflow for release windows
Signed-off-by: Ji Bin <matrixji@live.com>

[notice](javascript:;)execute "milvus.laodcollection" is bound t

[2022-11-11 10:46] binbinlv opened #20528 "[Bug]: Branch is not right for 2.2.0 nightly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Branch is not right for 2.2.0 nightly

### Expected Behavior

NA

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-11-11 14:25] yanliang567 commented on #20383
@JericLee could you please use an official release, as we don't offer windows version for not.

[2022-11-12 04:52] S-Dragon0302 commented on #20272
链接: https://pan.baidu.com/s/1W2hOCbnk2ZNx7pWqo0jDrQ 提取码: wiv2 复制这段内容后打开百度网盘手机App，操作更方便哦

[2022-11-12 05:31] dzqoo opened #20532 "[Bug]: Milvus's performance is too bad Although I restarted the cluster"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I have 1900w data which is 128 dim inserted into milvus.The replicas num is 2.

I test the performance use office scipt and the RT is too bad as you see in the following:
![image](https://user-images.githubusercontent.com/8862305/201458767-0a8abced-d1ef-430d-906c-3e15

[2022-11-12 06:31] dzqoo commented on #20532
[milvus-log.tar.gz](https://github.com/milvus-io/milvus/files/9994335/milvus-log.tar.gz)
The logs above are incomplete. Please see this log package

[2022-11-12 08:44] xiaofan-luan opened #20533 "[Bug]: Milvus can not run on MACOS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The payload writer failed to run on my laptop, causing Milvus crash

[2022/11/12 16:42:39.374 +08:00] [ERROR] [datanode/flow_graph_insert_buffer_node.go:422] ["insertBufferNode flushBufferData failed, err = All attempts results:\nattempt #1:[UnexpectedError] Assert \"

[2022-11-12 09:18] alexandervyatsu opened #20534 "[Bug]: Hybrid search failed with error: Can't get bitset element at 102 err %!w(<nil>))>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

2.5M 1024-dim vectors
index: IVF_PQ, nlist=1024, m=256
8 scalar fields int16 (b0,b1,..,b7)

Hybrid search with expr="b0 in [1,2,3,4,5]" fails
with RPC error: [search], <MilvusException: (code=1, message=fail to search on all shard leaders, err =fail to Search, QueryNo

[2022-11-12 10:24] xiaofan-luan opened #20535 "[Bug]: File Logger is not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

if file logger is enabled,
for standalone mode, a file -0.log is  generated.
for distributed mode, multiple process will write to same log file.

This due to we made paramtable into singleton in #20376

### Expected Behavior

for standalone, the file name should be
st

[2022-11-12 10:24] xiaofan-luan commented on #20535
/assign @jiaoew1991

[2022-11-12 12:39] xiaofan-luan opened #20536 "[Bug]: Standalone mode, TimeTick is not working as expect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

We see a special core case where index data size is smaller than bin log size in standalone
After investigation, we find that time tick ingested faster than actual finished insertion, which cause flush happened before all data is consumed to insertBuffer.

Key reason

[2022-11-12 13:09] xiaofan-luan commented on #20534
/assign @cydrain
pls help on investigating

[2022-11-12 13:10] xiaofan-luan commented on #20534
/assign @longjiquan
pls help on investigating it

[2022-11-13 09:35] xiaofan-luan commented on #20510
might be related with #20534

[2022-11-13 10:37] #19066 closed

[2022-11-13 12:04] yanliang567 commented on #20532
/assign @congqixia

[2022-11-13 12:04] yanliang567 commented on #20533
/assign @jiaoew1991
/unassign

[2022-11-13 12:05] yanliang567 commented on #19679
keep it active

[2022-11-14 02:15] xiaofan-luan commented on #20501
/assign @MrPresent-Han
pls help on it

[2022-11-14 02:23] yhmo commented on #20415
Bulkinsert also has the same problem. I have submitted a commit for bulkinsert: https://github.com/milvus-io/milvus/pull/20506/files

The encoding/json lib uses float64 for all numeric values by default. We can ask the json lib to return string value instead of float64 value in this way:
[code]
The json decoder will return a string type (json.Number) for us, then we can convert the string type val

[2022-11-14 02:28] #20375 closed

[2022-11-14 02:34] yhmo commented on #20477
The pr has been merged. This bug has been fixed in the latest build.

[2022-11-14 02:34] #20477 closed

[2022-11-14 02:44] zhuwenxing commented on #20480
This also happens when no chaos or other interrupts.
![image](https://user-images.githubusercontent.com/12268675/201564342-8ef380d7-b087-479b-a216-f1a8e4ff9128.png)

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_kafka_for_release/detail/deploy_test_kafka_for_release/370/pipeline
[code]

[2022-11-14 02:50] binbinlv opened #20543 "[Bug]: Doc is wrong about primary key field support data type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Doc is wrong about primary key field support data type
![image](https://user-images.githubusercontent.com/83755740/201564303-94e84466-2fcf-41b2-a5a8-ea4e22bba30d.png)

https://milvus.io/docs/v2.1.x/schema.md#Supported-data-type

### Expected Behavior

primary key fiel

[2022-11-14 02:53] jingkl opened #20544 "[Bug]: [benchmark][standalone] Milvus insert delete with search, raise OOM killed error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-tag-no-clean-2vtnb-1
server-configmap
server-single-8c64m
client-configmap
client-random-locust-insert-delete-search-filter

server:
[code]
client log:
<img width="1331" alt="截屏2022-11-14 10 46 29" src="https://user-images.githubusercontent.com/

[2022-11-14 02:53] yanliang567 commented on #20543
@binbinlv could you please attach the link of the doc

[2022-11-14 02:55] longjiquan opened #20546 "[Bug]: test_compact_cross_partition will occasionally fail since compaction only applied to indexed segments"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

test_compact_cross_partition will occasionally fail since compaction only applied to indexed segments.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-11-14 02:57] wayblink commented on #19955
@zhuwenxing Looked into this issue, there is no serious bug. Num entities is not accurate when there are deletes. Entities in delta logs can't be calculated correctly before compaction. It is hard to make it right based on current data write logic. We can pass the test case if we add compact() before num_entities().

[2022-11-14 02:57] hukang6677 commented on #19586
I use the Dockerfile to generate a new image,and then I use the new image deploy the milvus cluster.but the milvus.yaml  still nothing to be changed

[Dockerfile.txt](https://github.com/milvus-io/milvus/files/9999155/Dockerfile.txt)

[2022-11-14 02:57] binbinlv commented on #20543
Done

[2022-11-14 02:59] yanliang567 commented on #20544
/assign @soothing-rain
/unassign

[2022-11-14 03:00] XuanYang-cn commented on #20502
seems ok last weekend:
![image](https://user-images.githubusercontent.com/51370125/201565969-55a8bbbd-9bfb-4fb7-bf10-034dd9a6dd4f.png)

[2022-11-14 03:01] jiaoew1991 commented on #20480
/assign @yah01

[2022-11-14 03:04] jingkl opened #20548 "[Bug]: [benchmark][cluster] After milvus creates the diskann index, it search while insert and delete, reports an OOM killed error."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-zkgxg-1
server-configmap
server-cluster-4c16m256d-diskann-querynode2
client-configmap
client-random-locust-insert-delete-search-filter-diskann

server:

[code]

client log：
<img width="1384" alt="截屏2022-11-14 11 00 33" src="https://user-images.g

[2022-11-14 03:12] yanliang567 commented on #20548
maybe related to #20544
/assign @soothing-rain
/unassign

[2022-11-14 03:13] hukang6677 commented on #19586
I also modified K8s deployments ,set "readOnly: false", and then exec container edit milvus.yaml ,again to use docker commit , but  doesn't work.
 kubectl edit deployments my-release-milvus-querycoord
![image](https://user-images.githubusercontent.com/102129512/201566281-f05eace2-5c0e-4e16-9377-7b71b3402011.png)

[2022-11-14 03:15] jingkl commented on #19526
server-instance
fouram-w69z6-1
server-configmap
server-single-8c32m256d-diskann
client-configmap
client-random-locust-compaction-search-diskann

2.2.0-20221111-7c502601

server pod：

[code]
client log：

<img width="1360" alt="截屏2022-11-14 11 15 42" src="https://user-images.githubusercontent.com/34296482/201567698-1ffe62f7-f59a-435d-b9f3-999ef7c3e4ad.png">

client yaml：

{
	"config.yaml": "locust_r

[2022-11-14 03:45] SimFG opened #20550 "[Enhancement]: Support the graceful stop for the query node"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Support the graceful stop for the query node

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-11-14 03:50] longjiquan commented on #20534
hello, @alexandervyatsu , can you provide the log of Milvus server?

[2022-11-14 03:52] elstic commented on #20359
[code]
tag: 2.2.0-20221110-b565145a
pymilvus-2.2.0.dev70

[code]

[code]
@xige-16

[2022-11-14 03:58] longjiquan commented on #20534
Have you retried "b0 in [1,2,3,4,5]" after the error is raised? @alexandervyatsu

[2022-11-14 03:59] soothing-rain commented on #19526
<img width="1775" alt="image" src="https://user-images.githubusercontent.com/69466447/201571994-8285a8e0-84ca-48a5-b24d-edb1681ab6d3.png">

With 20 clients, memory stays around 6-7Gigs for ~36 hours. Memory started to grow up to 30Gigs afterwards, which caused all insert/delete to fail, but query/search operations can still proceed.

[2022-11-14 04:00] elstic commented on #20359
server-instance
fouram-stable-1668358800-1
server-configmap
server-single-4c16m-diskann
client-configmap
client-locust-search-sift10m-diskann

pymilvus-2.2.0.dev70
tag: 2.2.0-20221113-056aebf9

[code]

[code]

@xige-16

[2022-11-14 04:00] weiliu1031 commented on #20517
/assign @weiliu1031

[2022-11-14 06:08] longjiquan commented on #20534
I guess the collection is not fully loaded when you got this error, so after the collection is fully loaded, other scalar filtering succeeded.

[2022-11-14 06:09] aoiasd opened #20554 "[Bug]: Internal interface in proxy use external port and grpc server"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Internal interface in proxy use  external port and grpc server

### Why is this needed?

Internal interface should use internal port and internal grpc server, but use same port with external interface.

### Anything else?

_No response_

[2022-11-14 06:12] #20554 closed

[2022-11-14 06:16] weiliu1031 commented on #20437
@zhuwenxing please verify on this

[2022-11-14 06:16] weiliu1031 commented on #20437
/assign @zhuwenxing

[2022-11-14 06:17] aoiasd opened #20555 "[Bug]: Internal interface in proxy use external port and grpc server"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Internal interface in proxy use external port and grpc server

### Expected Behavior

Internal interface should use internal port and internal grpc server, but use same port with external interface.

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

[2022-11-14 06:37] weiliu1031 commented on #19586
![image](https://user-images.githubusercontent.com/108661493/201590798-f915a02b-37a3-45a0-aa93-ce73192ca951.png)
please check your step, maybe this will help

[2022-11-14 06:37] soothing-rain commented on #20544
seems like a normal stop?

<img width="1484" alt="image" src="https://user-images.githubusercontent.com/69466447/201591799-ba427a4c-f02d-42a6-84d4-e8614df86d1c.png">

[2022-11-14 06:41] #20536 closed

[2022-11-14 07:24] soothing-rain commented on #20544
client output log oversized

/unassign
/assign @jingkl

[2022-11-14 07:24] soothing-rain commented on #20548
client output log oversized

/unassign
/assign @jingkl

[2022-11-14 07:30] newfacade commented on #18288
I've got the same problem: drop collection do not release disk.
milvus version: 2.1.2
Every day, I create a collection, and drop another collection. Both around 150k rows with 896 dim vector. I continue this process for about 15 days, the disk usage increase linearly, it seems that drop collection does not trigger gc.

[2022-11-14 07:33] newfacade commented on #18288
some of my milvus.yaml configs:
enableGarbageCollection: true
retentionTimeInMinutes: 10080
gc:
    interval: 60
    missingTolerence: 3600
    dropTolerence: 3600

[2022-11-14 08:55] YiyunNi commented on #20543
/assign

[2022-11-14 08:57] YiyunNi commented on #20543
/unassign

[2022-11-14 08:58] zhuwenxing commented on #19951
![image](https://user-images.githubusercontent.com/12268675/201617882-88019283-36fd-4152-84fc-e355e03136d4.png)

chaos type: pod-kill image tag: 2.2.0-20221113-056aebf9 target pod: querycoord
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-kafka-for-release/detail/chaos-test-kafka-for-release/1639/pipeline

log:
[artifacts-querycoord-pod-kill-1639-server-logs.tar.gz]

[2022-11-14 08:59] zhuwenxing commented on #19951
@yah01
PTAL

[2022-11-14 09:05] yanliang567 commented on #20555
/assign @aoiasd
/unassign

[2022-11-14 09:23] #19253 closed

[2022-11-14 09:23] #18622 closed

[2022-11-14 09:23] #18988 closed

[2022-11-14 09:23] #19612 closed

[2022-11-14 09:23] #19235 closed

[2022-11-14 10:07] jennyli-z commented on #20303
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-20473/10/pipeline/107
the same for my pr. it passed once ,but failed occasionally

[2022-11-14 10:59] zhuwenxing opened #20571 "[Bug]: Datanode panic during first deploy test without upgrading and reinstallation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/201642191-f6f3c959-500a-4aed-95ef-f3cd2315d3ce.png)

[code]

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]
[code]

[2022-11-14 11:25] zhuwenxing commented on #20571
same for standalone
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/3104/pipeline
log:
[artifacts-standalone-pod-kill-3104-server-logs (1).tar.gz](https://github.com/milvus-io/milvus/files/10002461/artifacts-standalone-pod-kill-3104-server-logs.1.tar.gz)
[artifacts-standalone-pod-kill-3104-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/file

[2022-11-14 11:54] zhuwenxing commented on #20437
In the 2.2 branch, this issue also happened.
[code]

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_for_release/detail/deploy_test_for_release/403/pipeline

log:
[artifacts-pulsar-standalone-upgrade-403-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/10002656/artifacts-pulsar-standalone-upgrade-403-server-logs.tar.gz)

[artifacts-pulsar-standalone-upg

[2022-11-14 11:58] bigsheeper opened #20573 "[Bug]: Disk quota exceeded if with compaction"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Disk quota exceeded if with compaction.

### Expected Behavior

Ignore compected from segments's binlogs.

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-11-14 11:58] bigsheeper commented on #20573
/assign

[2022-11-14 11:58] bigsheeper commented on #20573
/unassign @yanliang567

[2022-11-14 12:07] binbinlv opened #20575 "[Bug]: Deleted entities could still be searched"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Deleted entities could still be searched
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-20568/1/pipeline/

### Expected Behavior

Deleted entities could not be searched

### Steps To Reproduce

[code]

### Milvus Log

[artifacts-

[2022-11-14 12:51] xiaofan-luan commented on #20575
if it's bounded, delete will disappeared after certain seconds and we don't guarantee data to be deleted immediately.

could we try to refetch after bounded window? by default is 3 seconds.

[2022-11-14 13:41] czs007 opened #20577 "[Bug]: Failed to start when set dataCoord.enableCompaction to False"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/59249785/201674860-f1cd01e7-e6a0-4494-88bb-6f1ea4124e7f.png)

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x38 pc=0x26515ab]

goroutine

[2022-11-14 14:21] mattangus commented on #20157
I seem to be having this same issue Also v2.1.4.

[2022-11-14 18:10] filip-halt opened #20579 "[Feature]: Track total storage usage in grafana"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

v1.x had the ability to track total file storage usage and total file sizes, but was lost in 2.0 Would be good to be able to track how much storage we are using across the system, not just the claimed space.

### Describe the solution you'd like.

[2022-11-15 00:58] #19502 closed

[2022-11-15 00:58] #19631 closed

[2022-11-15 01:38] xiaocai2333 commented on #20455
I have not reproduced this situation locally. After completing the indexing task, the memory occupied by IndexNode is about 200M.

[2022-11-15 01:43] xiaocai2333 commented on #20455
we can try this.

[2022-11-15 01:45] yanliang567 commented on #20455
on 2.2.0-20221111-7c502601, the memory decreased to 1.15GB from 2.0GB, better than before.
![image](https://user-images.githubusercontent.com/82361606/201806087-ef33d726-4cc5-47ae-89f7-da24cd1975f7.png)

[2022-11-15 01:45] yanliang567 commented on #20571
/assign @soothing-rain
/unassign

[2022-11-15 01:54] #20573 closed

[2022-11-15 02:04] xiaocai2333 commented on #20455
Sorry, I tested with the master-latest. I will test it on master-20221103-deb9963d.

[2022-11-15 02:07] xiaocai2333 commented on #20455
I checked the recent prs related IndexNode, maybe because this pr (#20391 )makes it better.

[2022-11-15 02:10] hukang6677 commented on #19586
![image](https://user-images.githubusercontent.com/102129512/201808097-572043b1-902c-4f7e-925b-776f9100e8fc.png)

Use your steps，and then use the new image Install Milvus Cluster with Helm (k8s). There is no "maxTask: 100"  in milvus cluster.

![image](https://user-images.githubusercontent.com/102129512/201808801-45b3fc44-bf58-4b65-a2c0-e9b0c8a6f6dd.png)
![image](https://user-images.githubusercont

[2022-11-15 02:15] NicoYuan1986 opened #20580 "[Bug]: [Nightly]Query failed with message `fail to search on all shard leaders, err=fail to Query, QueryNode ID = 5, reason=Query 5 failed, reason context canceled err %!w(<nil>)`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Query failed with message `fail to search on all shard leaders, err=fail to Query, QueryNode ID = 5, reason=Query 5 failed, reason context canceled err %!w(<nil>)`.
[code]

### Expected Behavior

PASS

### Steps To Reproduce

https://jenkins.milvus.io:18080/blue/organ

[2022-11-15 02:19] yanliang567 commented on #20580
/assign @jiaoew1991
/unassign

[2022-11-15 02:24] #20546 closed

[2022-11-15 02:28] weiliu1031 commented on #20517
/assign @NicoYuan1986
please verify on this

[2022-11-15 02:30] AnthonyTsu1984 commented on #20543
Please assign to me, thanks.

[2022-11-15 02:31] yanliang567 commented on #20543
/assign @AnthonyTsu1984
/unassign

[2022-11-15 02:44] xiaocai2333 commented on #20455
Is there any more detailed information on this? I would like to be known how the memory of IndexNode got to 3.73GiB.  @yanliang567

[2022-11-15 03:13] XuanYang-cn commented on #20502
From 11.14 16:00 - 11.15 16:00, search latency doubled due to 2 growing/not-indexed segments:
![image](https://user-images.githubusercontent.com/51370125/201817679-de33294f-025c-43f2-b82f-ebf4844c3228.png)

![image](https://user-images.githubusercontent.com/51370125/201814287-24bcd5a8-b971-4a02-913a-a0d9971c5c16.png)

[2022-11-15 03:25] zhuwenxing opened #20584 "[Bug]: Search failed with many reason after querynode pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

[code]

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-kafka-for-release/detail/chaos-test-kafka-for-release/1664/pipeline

log

[2022-11-15 03:28] soothing-rain commented on #20571
Should be fixed in #20563

[2022-11-15 03:31] soothing-rain commented on #20510
/assign @MrPresent-Han

[2022-11-15 03:33] soothing-rain commented on #20343
/unassign
/assign @wayblink

[2022-11-15 03:48] newfacade commented on #18288
/reopen

[2022-11-15 03:49] wayblink commented on #20343
It happened in a PR e2e test. Is it still necessary to explore now? @zhuwenxing @yanliang567

[2022-11-15 03:59] weiliu1031 commented on #20437
seems like all loadCollectionRequest succeed, but some get replica request failed due to collection released before that

[2022-11-15 04:09] congqixia opened #20586 "[Bug]: indexCodec.Deserialize may cause lot of memory"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Since `PayloadReader.GetByteFromPayload` convert raw file to `Int32Column` which amplify the memory usage

### Expected Behavior

Load index shall not consume memory beyond expectation

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything

[2022-11-15 04:21] wangting0128 opened #20588 "[Bug]: [benchmark][standalone] Glove dataset and build HNSW index, search with ef=10 that search timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task: fouramf-cron-1668441600
test case: test_recall_glove_hnsw_standalone

server:
[code]

client log:
[test_recall_glove_hnsw_standalone_1.zip](https://github.com/milvus-io/milvus/files/10009145/test_recall_glove_hnsw_standalone_1.zip)
[code]

### Expected Beha

[2022-11-15 04:55] zhuwenxing commented on #20303
failed job
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-20582/2/pipeline

[2022-11-15 05:14] yanliang567 commented on #20588
/assign @jiaoew1991
/unassign

[2022-11-15 05:17] yanliang567 commented on #20584
/assign @jiaoew1991
/unassign

[2022-11-15 05:44] weiliu1031 commented on #20437
/assign @zhuwenxing please adjust test code logic

[2022-11-15 05:45] weiliu1031 commented on #20437
/assign @zhuwenxing

[2022-11-15 06:16] binbinlv commented on #20575
will try.

[2022-11-15 06:17] bigsheeper commented on #20163
/assign @yanliang567

[2022-11-15 06:18] bigsheeper commented on #20459
done, https://github.com/milvus-io/milvus/pull/20542

[2022-11-15 06:18] bigsheeper commented on #20459
/assign @zhuwenxing

[2022-11-15 06:20] jiaoew1991 commented on #20575
/assign @sunby
/unassign @yanliang567

[2022-11-15 06:22] NicoYuan1986 opened #20595 "[Bug]: [Nightly]Compact timeout reporting waitting new segment index and compact more than 240s"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Compact timeout reporting waitting new segment index and compact more than 240s.
[code]

### Expected Behavior

PASS

### Steps To Reproduce

https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/2.2.0/2/pipeline/135/

### Milvus Log

[2022-11-15 06:22] #20443 closed

[2022-11-15 06:27] zhuwenxing commented on #20437
OK, I will use `utility.wait_for_loading_complete(name)` to make sure the loading progress is completed

[2022-11-15 06:56] yah01 commented on #20480
/assign @zhuwenxing
plz retry with #20592 for v2.2

[2022-11-15 06:58] bigsheeper commented on #19455
Hi @oyange can you help to retest it with the latest 2.2.0 version?

[2022-11-15 07:19] zhuwenxing commented on #20571
It is also reproduced in the 2.2 branch. Seems like the same reason.
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release/detail/chaos-test-for-release/1854/pipeline

log:

[artifacts-standalone-pod-kill-1854-server-logs (2).tar.gz](https://github.com/milvus-io/milvus/files/10010180/artifacts-standalone-pod-kill-1854-server-logs.2.tar.gz)

[artifacts-standalon

[2022-11-15 07:20] yah01 commented on #19951
Many LoadSegment tasks were enqueued, and the release task stucked in the queue for 2min+, which is over the timeout

[2022-11-15 07:24] jaime0815 commented on #20445
the reason still is time tick received slowly

[2022-11-15 07:26] jaime0815 commented on #20445
verify this case after #20542 #20597 check in 2.2.0 branch

[2022-11-15 07:36] yah01 commented on #19951
I'm trying to make release unblocking, or we have to wait for QueryNodeV2 solution

[2022-11-15 07:42] zhuwenxing commented on #20437
After the code was changed, this issue still reproduced.
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_for_release/detail/deploy_test_for_release/408/pipeline/314
log:
[artifacts-pulsar-standalone-reinstall-408-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/10010323/artifacts-pulsar-standalone-reinstall-408-server-logs.tar.gz)

[artifacts-pulsar-sta

[2022-11-15 07:48] xiaocai2333 commented on #20501
there is another problem here.  @MrPresent-Han

![image](https://user-images.githubusercontent.com/46207236/201855914-195ec157-4643-4543-b815-f987f028931f.png)
![image](https://user-images.githubusercontent.com/46207236/201856044-7e495569-7d35-4a26-a3b9-b5eadc5ece57.png)
![image](https://user-images.githubusercontent.com/46207236/201857211-b932f47d-34c5-4d6b-a012-981cd183a615.png)

in step 6, pani

[2022-11-15 07:51] congqixia opened #20605 "[Bug]: QueryNode may panic when load/release run concurrently"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

QueryNode may panic when load/release run concurrently, since watch dml channel task will re-fetch shard cluster after task done

### Expected Behavior

QueryNode shall not panic when load/release run concurrently.

### Steps To Reproduce

_No response_

### Milvus Lo

[2022-11-15 07:56] jingkl opened #20607 "[Bug]: Milvus run "test_compact_partition" testcase, report partition segments not merged"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

client log：

[code]

jenkins：https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/activity

MIlvus log：
[artifacts-milvus-distributed-PR-20540-5-pymilvus-e2e-logs.tar.gz](https://github.com/milvus-io/milvus/files/10010407/artifacts-milvu

[2022-11-15 07:59] jennyli-z opened #20608 "[Bug]: Change the image base does not automatically create pr"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

the pr does not create automatically
https://github.com/milvus-io/milvus/actions/runs/3468269367

It is because the replace line is not right to replace the
```MILVUS_BASE_IMAGE_TAG```
The line in Dockerfile does not start from the beginning ,so need to remove ^ start

[2022-11-15 08:31] zhuwenxing commented on #20501
Yes， I have come up with the same problem

[code]

[code]

failed job:
https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release/detail/chaos-test-for-release/1854/pipeline
log:
[artifacts-standalone-pod-kill-1854-server-logs (3).tar.gz](https://github.com/milvus-io/milvus/files/10010660/artifacts-standalone-pod-kill-1854-server-logs.3.tar.gz)
[artifacts-standalone-pod-kill-18

[2022-11-15 08:34] zhuwenxing commented on #20501
image: master-20221115-c848896b
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/3129/pipeline
log:
[artifacts-standalone-pod-kill-3129-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/10010688/artifacts-standalone-pod-kill-3129-pytest-logs.tar.gz)

[artifacts-standalone-pod-kill-3129-server-logs (1).tar.gz](https://github.com/milvus-io/

[2022-11-15 08:47] zhuwenxing commented on #20571
image: master-20221115-c848896b
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/3129/pipeline
log:
[artifacts-standalone-pod-kill-3129-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/10010688/artifacts-standalone-pod-kill-3129-pytest-logs.tar.gz)

[artifacts-standalone-pod-kill-3129-server-logs (1).tar.gz](https://github.com/milvus-io/

[2022-11-15 08:59] jingkl commented on #20548
The problem has been found to be the cause, turn off the issue

[2022-11-15 08:59] #20548 closed

[2022-11-15 08:59] jingkl commented on #20544
The problem has been found to be the cause, turn off the issue

[2022-11-15 08:59] #20544 closed

[2022-11-15 09:10] MrPresent-Han commented on #20501
This is not a bug introduced by PR #20563 but another original defect due to commit cd19d99a which is merged on 2022-11-10, as well as the bug fixed in PR#20563

[2022-11-15 09:12] MrPresent-Han commented on #20501
/assign @bigsheeper
please have a look at this bug related to start-end position init inside delDataBuf

[2022-11-15 09:23] weiliu1031 commented on #19586
helm will use chart to init a default config file, that's why your changes not work

[2022-11-15 10:26] #19382 closed

[2022-11-15 11:06] hukang6677 commented on #19586
"helm will use chart to init a default config file, that's why your changes not work"

You mean to install milvus cluster use other way?

![image](https://user-images.githubusercontent.com/102129512/201904732-f3dbace2-9161-465a-bff9-924ed50349f6.png)

[2022-11-15 11:16] weiliu1031 commented on #19586
I prefer docker-compose, it's much more simple. otherwise you may need to edit charts(which is used by helm)

[2022-11-15 11:27] MrPresent-Han commented on #20571
An existing question which is the same as  https://github.com/milvus-io/milvus/pull/20615, which will be fixed by @bigsheeper

[2022-11-15 11:34] weiliu1031 commented on #20595
when small segment is smaller than 4, automatically compact will not be triggered. so the final segment num will be 2.
we need to refine the test case!

[2022-11-15 11:42] #20520 closed

[2022-11-15 11:45] bigsheeper commented on #20501
should be fixed, please help to verify @zhuwenxing

[2022-11-15 11:45] bigsheeper commented on #20501
/assign @zhuwenxing

[2022-11-15 11:49] hukang6677 commented on #19586
![image](https://user-images.githubusercontent.com/102129512/201912548-fc6972fb-3e56-4049-a8c4-0f4ca5133125.png)

[2022-11-15 11:58] MrPresent-Han commented on #20595
assign MrPresent-Han

[2022-11-15 12:52] czs007 commented on #20588
2022-11-15 01:29:07 | [2022/11/15 01:29:07.416 +00:00] [DEBUG] [querynode/segment.go:358] ["start do search on segment"] [msgID=437380906250141697] [segmentID=437380342014107123] [segmentType=3] [loadIndex=true]
-- | --

[2022-11-15 12:56] czs007 commented on #20588
[2022-11-15 01:24:31,055 -  INFO - fouram]: [Base] Params of search: nq:10000, anns_field:float_vector, param:{'metric_type': 'IP', 'params': {'ef': 16}}, limit:10, expr:"None" (base.py:268)
[2022-11-15 01:26:32,256 -  INFO - fouram]: [Time] Collection.search run in 121.2002s (api_request.py:29)
[2022-11-15 01:26:32,257 -  INFO - fouram]: [Base] Params of search: nq:10000, anns_field:float_vector,

[2022-11-15 16:13] matrixji opened #20625 "[Bug]: windows sometimes using 169.254.x.x as local ip, which is not available for connect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Recently, guys report some problems under windows to me, so I try to find the root cause from the provided logs.
It seems in windows, the IP address 169.254.x.x may be selected as the first local IP, in such case, the connection to this IP is not available.

I'm not v

[2022-11-16 01:06] yanliang567 commented on #20625
/assign @matrixji
please help to work on this issue.
/unassign

[2022-11-16 01:27] yanliang567 commented on #20455
it deleted 1 million and insert 1 million entities at 4:00 AM and 4:00 PM twice a day.

[2022-11-16 01:46] yanliang567 commented on #20607
I guess this is because that the new inserted segments were still building index before they are able to be compacted, which is a new design for 2.2.
One option is to creating index after insert and flush

/assign @NicoYuan1986
could could you please help to confirm and update the testcases accordingly?
/unassign

[2022-11-16 01:47] yanliang567 commented on #20608
/assign @jennyli-z
/unassign

[2022-11-16 02:29] NicoYuan1986 commented on #20517
Fixed！

[2022-11-16 02:29] #20517 closed

[2022-11-16 02:35] NicoYuan1986 commented on #19386
Latest: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/191/pipeline/155

milvus: b0a0798
pymilvus: 2.2.0.dev72

1. log: [artifacts-milvus-distributed-kafka-nightly-191-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/191/artifact/artifacts-milvus-distributed-kafka-nightly-191-pymilvus-e2e-logs.tar.gz)
2.

[2022-11-16 02:41] jiaoew1991 commented on #20580
/assign @weiliu1031
/unassign

[2022-11-16 02:47] jingkl opened #20627 "[Bug]: [benchmark][cluster] Milvus is reinstalled with the same PVC，rasie an error"force to deny /milvus.proto.milvus.MilvusService/Insert""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After restart
server-instance
fouram-tag-no-clean-z2mmt-1
server-configmap
server-cluster-8c64m-querynode2-kafka
client-configmap
client-random-locust-100m-ddl-rebuild-hnsw-con
image:2.2.0-20221114-c5c68753
pymilvus:2.2.0dev70

restart milvus:

server-instance
fouram-

[2022-11-16 02:52] NicoYuan1986 commented on #19740
The issue reappear in master and 2.2.0 branch!
1. nightly: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/191/pipeline/187
2. log: [artifacts-milvus-distributed-pulsar-nightly-191-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/191/artifact/artifacts-milvus-distributed-pulsar-nightly-191-pymilvus-e2e-log

[2022-11-16 02:54] Cheung7788 commented on #20272
/close

[2022-11-16 03:27] zyy20191 commented on #20405
The ability to add field to an already created collection is really convenient, and I hope you can consider this requirement

[2022-11-16 03:34] zhuwenxing commented on #20437
For now, this issue was not reproduced in reinstallation, but still reproduced in upgrading
2.1.4--> 2.2.0-20221115-31ee7098

failed job:https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_for_release/detail/deploy_test_for_release/423/pipeline
log:
[artifacts-pulsar-standalone-upgrade-423-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/10017922/artifacts-pulsar-stand

[2022-11-16 03:44] jingkl opened #20630 "[Bug]: [benchmark][standalone] Milvus build ivf flat index after load failed, raise an error"collection 437394638847606788 has not been loaded to memory or load failed""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

case_name:
test_ivf_flat_search_standalone

[code]
grafana:
<img width="1391" alt="截屏2022-11-16 11 35 30" src="https://user-images.githubusercontent.com/34296482/202077444-a8d2eaeb-bf02-4b9e-a57d-7f1aa2edab1e.png">

client log:

[code]

### Expected Behavior

_No resp

[2022-11-16 03:51] zhuwenxing commented on #20445
milvus mode: cluster deploy task: upgrade old image tag: v2.1.4 new image tag: 2.2.0-20221115-31ee7098
This issue is still reproduced.
![image](https://user-images.githubusercontent.com/12268675/202079164-a53002f7-0c6d-4073-bb1d-b4add1657528.png)

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_kafka_for_release/detail/deploy_test_kafka_for_release/394/pipeline
log:

[2022-11-16 03:53] congqixia commented on #20630
[code]
From the log, looks like the there was not enough memory to load collection

[2022-11-16 03:53] zhuwenxing commented on #20501
Not reproduced

[2022-11-16 03:53] #20501 closed

[2022-11-16 03:55] zhuwenxing commented on #20571
Not reproduced

[2022-11-16 03:55] #20571 closed

[2022-11-16 03:55] zhuwenxing commented on #20444
Not reproduced

[2022-11-16 03:55] #20444 closed

[2022-11-16 03:57] zhuwenxing commented on #20459
Not reproduced

[2022-11-16 04:14] yhmo opened #20632 "[Bug]: Local storage data path is wrong"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The pr https://github.com/milvus-io/milvus/pull/18808 made a change to input absolute path as key for each binlog file, but the LocalChunkManager class still use old logic to append the input path to a rootpath.
Assume we specify a path in the milvus.yml:
[code]
Then

[2022-11-16 05:02] elstic opened #20634 "[Bug]: [benchmark][standalone] Concurrent insert data raise error :" getSegmentID failed: SegmentIDAllocator failRemainRequest unexpected error""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-stable-1668531600-3
server-configmap
server-single-8c32m
client-configmap
client-random-locust-insert-delete-search-filter-5h

server:
[code]

client log:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus L

[2022-11-16 05:10] yah01 commented on #19951
As [discussion](https://github.com/milvus-io/milvus/pull/20602#issuecomment-1315019338) here, we can't make release unblocking, this issue will be solved at v2.3, with QueryNodeV2

[2022-11-16 05:49] jaime0815 commented on #20445
2.2 reinstall all passed for cluster and standalone mode.

due to the checkpoint at the farther point, the upgrading test still fails

the two tests have passed after upgrading with standalone deployment
![image](https://user-images.githubusercontent.com/4024711/202093434-9848e4b4-d1eb-4f53-b150-e97a598dc7f2.png)

standalone model produces time tick latency:
![image](https://user-images.githubuser

[2022-11-16 06:02] elstic commented on #20634
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-stable-1668531600-3
server-configmap
server-single-8c32m
client-configmap
client-random-locust-insert-delete-search-filter-5h

server:
[code]

client log:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus L

[2022-11-16 06:13] wangting0128 commented on #20588
### search RT increases with the increase of search parameter ef

argo task: fouramf-cron-1668528000
test case: test_recall_glove_hnsw_standalone

client log:
[2022_11_15_test_recall_glove_hnsw_standalone_1.log](https://github.com/milvus-io/milvus/files/10018611/2022_11_15_test_recall_glove_hnsw_standalone_1.log)
<img width="1919" alt="截屏2022-11-16 14 12 00" src="https://user-images.githubusercont

[2022-11-16 06:21] #20608 closed

[2022-11-16 06:34] elstic commented on #20634
### Environment

[code]

### Current Behavior

server-instance
fouram-stable-1668531600-5
server-configmap
server-single-8c32m256d-diskann
client-configmap
client-random-locust-insert-delete-search-filter-diskann-5h

server:
[code]

client log:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

Complete client log：
[main

[2022-11-16 06:34] yah01 commented on #19386
/assign @NicoYuan1986
plz retry with #20636 for v2.2.0

[2022-11-16 06:35] zhuwenxing commented on #19951
@yanliang567
What's your opinion?  If it is ok for you, I would like to move to the milestone 2.3

[2022-11-16 06:41] soothing-rain commented on #20634
/unassign
/assign @wayblink

[2022-11-16 06:57] yanliang567 commented on #19951
ok

[2022-11-16 07:00] jiaoew1991 opened #20640 "[Bug]: Unstable testcase"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

unstable case https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-20621/9/pipeline/

### Expected Behavior

make it stable

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-11-16 07:00] jiaoew1991 commented on #20640
/assign @yah01

[2022-11-16 07:44] xiaofan-luan commented on #20575
similar to #20640

[2022-11-16 07:49] seungwoo-h opened #20644 "[Bug]: [standalone] Search params check failed error Issue"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

ERROR:pymilvus.decorators:RPC error: [search], <MilvusException: (code=1, message=fail to search on all shard leaders, err=fail to Search, QueryNode ID=26, reason=Search 26 failed, reason [UnexpectedError] Assert "adapter->CheckSearch(conf, index_type, field_indexing-

[2022-11-16 07:52] jennyli-z commented on #20039
test_release_collection_after_drop I meet the same case failed.
 https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-20639/1/pipeline/107
Please help confirm if it is the same issue or not. Thanks.@NicoYuan1986

[2022-11-16 08:03] jiaoew1991 opened #20647 "[Bug]: standalone mode use wrong nodeID"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After this PR #20088, I made all components use the same NodeID, but some of the components miss to change the logic

### Expected Behavior

fix this bug

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-11-16 08:57] yanliang567 commented on #20644
@seungwoo-h Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

/assign @seungwoo-h

[2022-11-16 09:02] bigsheeper commented on #20627
Before upgrade,  milvus saved **segment dml postition** into meta. In this issue, segment dml postition is very **early**.

After upgrade, milvus uses **earliest segment dml postition** as seek position when start flowgraph. After that, datanode would saved the **channel checkpoint** into meta. Typically, channel checkpoint is pretty **latest**.

If milvus restarts, it would use these **channel ch

[2022-11-16 09:08] akmalmasud96 opened #20650 "[Bug]: cluster pods remain in pending state for pulsar and etcd"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I was deploying on the aws eksctl using aws fargate. The pods remain in pending state for pulsar and etcd.

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

### Anything else?

_No response_

[2022-11-16 09:24] yanliang567 commented on #20650
@LoveEachDay please help to take a look

/assign @LoveEachDay
/unassign

[2022-11-16 09:43] jiaoew1991 commented on #20584
the collection `437380305050078738` is not start to load
<img width="1211" alt="image" src="https://user-images.githubusercontent.com/2297455/202145605-1d38a8b4-c1b1-43f8-9896-da3c133b8be3.png">

[2022-11-16 10:07] #20555 closed

[2022-11-16 10:21] wayblink commented on #20634
2022-11-16 01:29:51 | [2022/11/15 17:29:51.644 +00:00] [WARN] [proxy/impl.go:2558] ["Failed to execute insert task in task scheduler: getSegmentID failed: SegmentIDAllocator failRemainRequest unexpected error"] [traceID=17728c265e08bec1]
-- | --
  |   | 2022-11-16 01:29:51 | [2022/11/15 17:29:51.644 +00:00] [DEBUG] [proxy/task_scheduler.go:252] ["Proxy dmTaskQueue popPChanStats"] [taskID=437396011

[2022-11-16 10:21] wayblink commented on #20634
2022-11-16 01:29:51
[2022/11/15 17:29:51.644 +00:00] [WARN] [proxy/impl.go:2558] ["Failed to execute insert task in task scheduler: getSegmentID failed: SegmentIDAllocator failRemainRequest unexpected error"] [traceID=17728c265e08bec1]
2022-11-16 01:29:51
[2022/11/15 17:29:51.644 +00:00] [DEBUG] [proxy/task_scheduler.go:252] ["Proxy dmTaskQueue popPChanStats"] [taskID=437396011742406660]
2022-11-1

[2022-11-16 10:22] wayblink commented on #20634
Fail because of "etcdserver: mvcc: database space exceeded". The root error message is not passed to proxy. Will fix it.

[2022-11-16 10:29] soothing-rain commented on #20634
related: https://github.com/milvus-io/milvus/issues/18763

[2022-11-16 11:06] alexandervyatsu commented on #20534
The collection has been fully loaded.
b0 in [1, 2, 3, 4, 5 ] didn't work after b0 < 6 worked successfully.

[2022-11-16 11:08] LoveEachDay commented on #20650
Duplicate for milvus-io/milvus-helm#389.

[2022-11-16 11:31] devNullgh opened #20654 "[Bug]: The memory usage is high after the update"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Update 2.1.1 to 2.1.4, the memory usage is too high.

### Expected Behavior

Entity Count is only 7W，the memory usage should not be so high.

### Steps To Reproduce

[code]

### Milvus Log

![image](https://user-images.githubusercontent.com/43362620/202170301-e59d7baf

[2022-11-16 11:44] xiaocai2333 commented on #20510
![MqilcfQzPd](https://user-images.githubusercontent.com/46207236/202172049-ba123428-1577-49b2-b3a8-239df40a55a7.png)

[2022-11-16 11:47] jaime0815 commented on #20445
/assign @zhuwenxing

[2022-11-16 12:34] jaime0815 commented on #20588
related to #20445

[2022-11-16 12:35] jaime0815 commented on #20489
related to #20445

[2022-11-16 12:48] bigsheeper commented on #20627
update,  after restart:
1. milvus started to uninstall at 08:42:27
![image](https://user-images.githubusercontent.com/42060877/202183562-6c8e6ffc-b892-4dec-9a74-b494920e1322.png)

2. after restarted, all channels sought from 08:43, which is latest.
![image](https://user-images.githubusercontent.com/42060877/202184427-e3f469fa-9644-450f-81c3-3a7b276e9fc0.png)

3. after restarted, no "force deny" er

[2022-11-16 13:08] bigsheeper opened #20656 "[Bug]: Recovery would be slow if upgrade from 2.1 to 2.2 with empty collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Recovery would be slow if upgrade from 2.1 to 2.2 with empty collection.
If with empty collection, restarted milvus would seek from collection started position, which would be very early. Pulling back data(recovery) would cost a lot of time.
And during recovery, milvu

[2022-11-16 13:30] jaime0815 commented on #20363
[code]
it also is a time tick lag issue, related to #20424 #20445.

[2022-11-17 01:08] xiaocai2333 commented on #20510
clue， debugging...

[2022-11-17 01:26] #19646 closed

[2022-11-17 02:04] wayblink commented on #20634
Based on tests. It seems caused by this commit: https://github.com/milvus-io/milvus/pull/20597
test with commit:
https://argo-workflows.zilliz.cc/workflows/qa/fouram-7qm8p?tab=workflow&nodeId=fouram-7qm8p-1472759540
without commit:
https://argo-workflows.zilliz.cc/workflows/qa/fouram-stdn4?tab=workflow&nodeId=fouram-stdn4-1089162824

@bigsheeper can you take a look into this issue together?

[2022-11-17 02:29] zhuwenxing commented on #20459
chaos type: pod-kill image tag: 2.2.0-20221116-279cf6f5 target pod: minio
failed job： https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-kafka-for-release/detail/chaos-test-kafka-for-release/1720/pipeline

log：

[artifacts-minio-pod-kill-1720-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/10027218/artifacts-minio-pod-kill-1720-pytest-logs.tar.gz)

[artifacts-minio-po

[2022-11-17 02:42] zhuwenxing opened #20660 "[Bug]: Compact failed with timeout(120s) after kafka pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

chaos type: pod-kill image tag: 2.2.0-20221116-279cf6f5 target pod: kafka
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-kafka-for-rele

[2022-11-17 02:47] NicoYuan1986 commented on #19386
The issue appeared again in the latest nightly report for v2.2.0
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/2.2.0/4/pipeline/187

milvus: 279cf6f
pymilvus: 2.2.0.dev71

1. log: [artifacts-milvus-distributed-pulsar-nightly-4-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/2.2.0/4/artifact/artifacts-milvus-distribut

[2022-11-17 02:48] jingkl commented on #20627
uninstall and reinstall with image：2.2.0-20221116-279cf6f5
pymilvus 2.2.0.dev70

server-instance
fouram-tag-no-clean-z2mmt-1
server-configmap
server-cluster-8c64m-querynode2-kafka
client-configmap
client-random-locust-100m-hnsw-ddl-r8-w2-12h-con
[code]

client log：
<img width="1378" alt="截屏2022-11-17 10 39 25" src="https://user-images.githubusercontent.com/34296482/202341386-9fcc719b-abfd-422e-ac2

[2022-11-17 02:50] #19633 closed

[2022-11-17 02:51] zhuwenxing commented on #20437
After test code fixed, this issue not reproduced

[2022-11-17 02:51] #20437 closed

[2022-11-17 02:52] elstic commented on #20634
### Environment

[code]
### Current Behavior

server-instance
fouram-stable-1668618000-5
server-configmap
server-single-8c32m256d-diskann
client-configmap
client-random-locust-insert-delete-search-filter-diskann-5h

server status:
[code]

After reboot server:
[code]

client log:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anythin

[2022-11-17 03:02] zhuwenxing opened #20661 "[Bug]: Load timeout （120s）after etcd pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

chaos type: pod-kill image tag: 2.2.0-20221116-279cf6f5 target pod: etcd
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release/det

[2022-11-17 03:09] zhuwenxing commented on #20656
In the upgrading test, we covered this scenario.
https://github.com/milvus-io/milvus/blob/master/tests/python_client/deploy/testcases/test_action_first_deployment.py
![image](https://user-images.githubusercontent.com/12268675/202345331-7ab72338-f27b-419d-a8c4-0b28748d6a56.png)

[2022-11-17 03:24] bigsheeper commented on #20627
seek position ts lag is fine:
![image](https://user-images.githubusercontent.com/42060877/202347238-49aac8bf-09f2-4174-a4d7-2c0eb463b7e7.png)

[2022-11-17 03:30] zhuwenxing opened #20663 "[Bug]: Testcases can not be finished(15min) which should be finished in 5min after some pod kill or failure chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/202347110-0acdcefe-4abf-460d-90af-e74794df4a96.png)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

chaos type: pod-failure image tag: 2.2.0-20221116-279cf6f5 tar

[2022-11-17 03:38] bigsheeper commented on #20627
During datanode running flowgraph, flowgraph sent tt too slowly:
![image](https://user-images.githubusercontent.com/42060877/202349018-365d87b5-c99f-41a8-80b0-6ede888a6c07.png)

[2022-11-17 03:41] bigsheeper commented on #20627
![image](https://user-images.githubusercontent.com/42060877/202349484-dc574e19-1839-4b19-b8f8-f988867594f9.png)
![image](https://user-images.githubusercontent.com/42060877/202349508-a5bda072-2c70-455e-8a7f-3a4f8f5e34e9.png)

[2022-11-17 03:43] bigsheeper commented on #20627
during timetick long lag, no data was flushed:
![image](https://user-images.githubusercontent.com/42060877/202349702-3168484f-978e-4c2b-8b85-d7702c84ecb3.png)

[2022-11-17 03:51] congqixia opened #20664 "[Bug]: QueryNode unit test has leakage"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

QueryNode unit test has leakage from `genSimpleQueryNode` if test does not stop it

### Expected Behavior

Unit test shall not has leakage

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-11-17 04:02] bigsheeper commented on #20459
Force to deny:
[code]

Datanode get channel seek position, lag about 6min:
[code]

[2022-11-17 04:02] jiaoew1991 commented on #20584
should fixed by this pr https://github.com/milvus-io/milvus/pull/20620

[2022-11-17 04:03] jiaoew1991 commented on #20584
After chaos, IndexCoord cannot provide the right index path
<img width="1991" alt="image" src="https://user-images.githubusercontent.com/2297455/202352281-3fff3351-8e2e-467a-8f6e-64c11c1caa84.png">

[2022-11-17 04:04] jiaoew1991 commented on #20584
/assign @zhuwenxing
/unassign

[2022-11-17 05:49] yah01 opened #20668 "[Bug]: The task's context may be canceled before the RPC returns"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The segments are visible before RPC returns, this may cause the QueryCoord finishing the task and canceling the task context.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-11-17 06:23] #20664 closed

[2022-11-17 06:24] yanliang567 commented on #20661
/assign @soothing-rain
/unassign

[2022-11-17 06:28] yanliang567 commented on #20660
/assign @XuanYang-cn
/unassign

[2022-11-17 06:30] yanliang567 commented on #20656
/assign @bigsheeper
/unassign

[2022-11-17 06:32] yanliang567 commented on #20654
@devNullgh did you run any delete operations before?
Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

/assign @devNullgh
/unassign

[2022-11-17 07:01] devNullgh commented on #20654
No deletion operation has been did.
We only update milvus from 2.1.1 to 2.1.4, because response time is too long at 7W vectors on the milvus2.1.1.

milvus logs:
 https://pan.baidu.com/s/1dY3_duFSGcBCQrWdpH8Z9g?pwd=7f5s

[2022-11-17 07:34] weiliu1031 commented on #20580
/assign @NicoYuan1986
please verify on this.

[2022-11-17 07:35] weiliu1031 commented on #20595
/assign @NicoYuan1986
please verify on this

[2022-11-17 07:36] weiliu1031 commented on #20500
/assign @NicoYuan1986

please verify on this

[2022-11-17 08:19] bigsheeper commented on #20627
datacoord restart due to panic with kafka error:
![image](https://user-images.githubusercontent.com/42060877/202393121-8cac197d-521b-4b6c-ab95-b3e9d7eb66d0.png)

[2022-11-17 08:39] matrixji commented on #20625
I may try to fix this with two parts, first ignore the address like 169.254.x.x, and then try to introduce a new parameter for config listen local IP/network in later PR.

[2022-11-17 08:50] jiaoew1991 opened #20675 "[Feature]: Provide Update API"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Many user scenarios have the need for data update, which is implemented by calling delete + insert through the SDK, but this combination of usage cannot guarantee atomicity.

### Describe the solution you'd like.

Add the Update API, the internal

[2022-11-17 08:51] yanliang567 commented on #20668
/assign @yah01
/unassign

[2022-11-17 09:33] NicoYuan1986 commented on #20580
Thanks for your help!🌻 I will verify on it tonight.

[2022-11-17 09:40] SimFG opened #20676 "[Enhancement]: Make sure that the segment path matches the segment id"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Before saving the binlog info to etcd server, check whether the segment path matches the segment id.
![image](https://user-images.githubusercontent.com/21985684/202411290-a0f6b0d7-8559-4b73-8e58-af5b091cf6ff.png)

### Why is this needed?

_No response_

### Anything else?

_No

[2022-11-17 09:55] #20668 closed

[2022-11-17 10:00] #19617 closed

[2022-11-17 10:01] SimFG opened #20682 "[Enhancement]: Make memory and etcd data as consistent as possible"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

![94425914-bba3-46b6-8dc4-ca44b81a246c](https://user-images.githubusercontent.com/21985684/202416318-fda311fb-5dc9-4d37-a8fe-2a42a37d4a1d.jpeg)

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-11-17 10:29] jaime0815 opened #20685 "[Bug]: Alter collection hang"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]
due to all DDL execution will be serialized, so set_properties will hang

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-11-17 10:30] mazitovs opened #20687 "[Bug]: Very slow searching and query embeddings from collection."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

### Collection
I have collection in Milvus with 60mln rows, partitioned by year
[code]
embeddings are from `SentenceTransformer('sentence-transformers/all-MiniLM-L6-v2', cache_folder='models', device='cuda')`

### Index
[code]
### Search
[code]
My app get text query,

[2022-11-17 12:00] #19335 closed

[2022-11-17 12:00] #19697 closed

[2022-11-17 12:00] #19690 closed

[2022-11-17 12:00] #19695 closed

[2022-11-17 12:00] #19673 closed

[2022-11-17 12:00] #19623 closed

[2022-11-17 12:15] bigsheeper commented on #20627
/assign @jaime0815

[2022-11-17 12:31] jaime0815 opened #20692 "[Bug]: querynode panic: close of closed channel"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-11-17 17:54] yah01 commented on #20575
related #20655

[2022-11-18 01:01] yanliang567 commented on #20692
/assign @jaime0815
/unassign

[2022-11-18 01:10] yanliang567 commented on #20687
@mazitovs thank you for the issue. Quick questions:
1. what is the dim of the vectors, and how many vectors did you have in the collection?
2. how do you deploy milvus, via docker compose? did you change any configurations or just use the default configuration?
3. Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus

[2022-11-18 01:11] yanliang567 commented on #20687
/assign @mazitovs

[2022-11-18 01:13] yanliang567 commented on #20685
/assign @jaime0815
/unassign

[2022-11-18 01:15] yanliang567 commented on #19823
@soothing-rain does this issue fixed in 2.2 or master?

[2022-11-18 01:29] devNullgh commented on #20654
@yanliang567  We have tried reinstalling milvus-2.1.4 with docker-compose，but the memory usage is still very high.
![image](https://user-images.githubusercontent.com/43362620/202594888-3226ac32-d8d8-4d14-8483-5d7d53ac12dc.png)
![image](https://user-images.githubusercontent.com/43362620/202594939-ab26757e-5e3c-407e-80b7-08dd9fb46210.png)

schema:
id,  primary key,  varchar,  length（300）
user_id,  v

[2022-11-18 01:50] devNullgh commented on #20654
@yanliang567 We increased the memory to 128GB, but milvus still ran out of memory.
![0d9137444930d8e00eead27bdf74c33](https://user-images.githubusercontent.com/43362620/202597776-9aa0ab82-92b6-4352-9c4e-38608a2e6ebd.png)
![image](https://user-images.githubusercontent.com/43362620/202597862-9581e3d1-3011-4a2b-976d-dfbc19fc9179.png)

[2022-11-18 01:56] yanliang567 commented on #20654
/assign @congqixia
/unassign

[2022-11-18 02:03] jaime0815 commented on #20247
related to  #19633

[2022-11-18 02:08] jaime0815 commented on #20212
/assign @zhuwenxing

[2022-11-18 02:17] jaime0815 commented on #20228
/assign @zhuwenxing

[2022-11-18 02:22] jaime0815 commented on #18670
it is not a bug

[2022-11-18 02:49] NicoYuan1986 commented on #19850
Latest: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/193/pipeline/155

milvus: 2390095
pymilvus: 2.2.0.dev72

1. log: [artifacts-milvus-distributed-pulsar-nightly-193-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/193/artifact/artifacts-milvus-distributed-pulsar-nightly-193-pymilvus-e2e-logs.tar.gz)
2

[2022-11-18 03:07] NicoYuan1986 commented on #20247
The issue has disappeared in master branch for 1 week, but not for 2.2 branch.
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/2.2.0/5/pipeline/155/

milvus: 2.2.0(b4af870)
pymilvus: 2.2.0.dev71

log: [artifacts-milvus-distributed-kafka-nightly-5-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/2.2.0/5/artifact/artifact

[2022-11-18 03:08] XuanYang-cn commented on #20502
Please call `flush` after insert/delete is done. The growing segments numRows in memory are less than 16MB, so it'll be sealed after 12hrs.

[2022-11-18 03:08] wangting0128 commented on #20627
argo task: fouram-restart-server-hgvqb

restart image：2.2.0-20221117-c65306bc

server：
[code]

client pod:fouram-restart-server-hgvqb-2893889471
client log:
<img width="1307" alt="截屏2022-11-18 11 08 43" src="https://user-images.githubusercontent.com/26307815/202607958-9d23738d-985e-443e-a6a6-c8d7c5650c8d.png">

[2022-11-18 03:15] NicoYuan1986 opened #20701 "[Bug]: [Nightly]Create index 'DISKANN' failed with message `invalid index params: map[beamwidth_ratio:4.000000 dim:8 index_type:DISKANN max_degree:56 metric_type:L2 num_build_thread_ratio:1.000000 num_load_thread_ratio:8.000000 pq_code_budget_gb_ratio:0.125000 search_cache_budget_gb_ratio:0.100000 search_list_size:100]`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Create index 'DISKANN' failed.
[code]

### Expected Behavior

PASS

### Steps To Reproduce

[code]

### Milvus Log

1. log: [artifacts-milvus-standalone-nightly-5-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/2.2.0/5/artifact/

[2022-11-18 03:36] binbinlv commented on #20701
@xige-16
could you please improve the log to show what is the error is?
As far as I know, here is dim should >=32 for diskANN, but we could not know this through the error message.

Thanks.