[2022-08-11 03:31] #18406 closed

[2022-08-11 05:25] datenhahn opened #18604 "[Feature]: Expose REST-API Port 9091 on the docker-compose standalone yaml"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

I wanted to request collections via the REST-API, but the REST-API Port is not exposed on the standalone docker-compose file by default.

[code]

### Describe the solution you'd like.

The port 9091 should be added to the exposed ports list.

###

[2022-08-11 05:34] yuliu-eric opened #18605 "[Feature]: Support labelling/filtering based on collections 2.1 metrics monitoring"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Currently milvus 2.1 supports labeling/filtering based on pod/node when view the metrics on Grafana, and it will be super helpful/required to support such labels at collection level when multiple collections exist in the same milvus cluster.

###

[2022-08-11 05:40] xiaofan-luan commented on #18605
/assign @LoveEachDay could you pls help on this issue?

[2022-08-11 06:15] yanliang567 commented on #18548
@cydrain is this the same issue that you are looking at? #18509
/assing @cydrain
/unassign @czs007

[2022-08-11 06:19] xTerry opened #18606 "[Bug]: When reboot the server and start milvus, query node is not available"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When reboot the server and start milvus, query node is not available
![image](https://user-images.githubusercontent.com/2304854/184074705-9017c9f1-a0a1-45b0-bddb-b29123bcf735.png)
![image](https://user-images.githubusercontent.com/2304854/184074745-bb34084d-6874-4226-

[2022-08-11 06:26] yanliang567 commented on #18469
@p363796822 any chance that you could retry on a completed new delpoyment?

[2022-08-11 06:27] yanliang567 commented on #18480
close this issue for now

[2022-08-11 06:27] #18480 closed

[2022-08-11 06:30] yanliang567 commented on #18496
@wayblink

[2022-08-11 06:31] yanliang567 commented on #18514
@WeiDong-Shi we have improved this in v2.1.1, which will be available soon

[2022-08-11 06:31] p363796822 commented on #18469
I have tried it, using the latest milvusdb/milvus-dev: 2.1.0-20220808-9899a5be, but it still does not solve my problem，I have deleted the previous data and redeployed milvusdb/milvus:v2.1.0, and found a problem. When importing data in batches, the memory will explode.

[2022-08-11 06:41] yanliang567 commented on #18178
@BUPTAnderson any chance to verify fix on v2.1..1

[2022-08-11 06:44] yanliang567 commented on #17122
@StevenSama any chance to reproduce on v2.1.1

[2022-08-11 06:49] yanliang567 commented on #18521
@PEN170 any result updates on v2.1?

[2022-08-11 06:54] yanliang567 commented on #18348
@linhgao any chance to verify fix in v2.1.1, which is available soon

[2022-08-11 06:56] yanliang567 commented on #18287
@binbinlv does it reproduce recently

[2022-08-11 06:57] binbinlv commented on #18287
No, it has not been reproduced recently.

[2022-08-11 06:58] binbinlv commented on #17889
It is fixed, and no this error recently, so close it.

[2022-08-11 06:58] #17889 closed

[2022-08-11 06:59] yanliang567 commented on #18012
close. please file a new one if it reproduced to you in 2.1

[2022-08-11 06:59] #18012 closed

[2022-08-11 07:08] yanliang567 commented on #16426
@jingkl  did we rerun on 2.1.1 recently?

[2022-08-11 07:35] yanliang567 commented on #18606
sounds like a known issue, which was fixed in v2.1.1. @jiaoew1991 could you please help to double confirm?

/assign @jiaoew1991
/unassign

[2022-08-11 07:39] zhuwenxing commented on #18510
Not reproduced when adding waiting time after deployment

[2022-08-11 07:39] #18510 closed

[2022-08-11 07:41] yuliu-eric opened #18607 "[Bug]: Failed to enable auth in Milvus 2.1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Tried to enable auth by adding the following config in value.yaml through helm (followed by this [instruction](https://milvus.io/docs/v2.1.x/authenticate.md#Authenticate-User-Access)), but doesn't seem to work (can still connect to milvus w/o username & password).

[c

[2022-08-11 07:46] yanliang567 commented on #18607
/assign @LoveEachDay
/unassign

[2022-08-11 07:51] zhuwenxing opened #18608 "[Bug]: Querycoord panic after restarting docker with error `set empty delta channel info to meta of collection 435211660870549505`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The search failed after restarting docker
[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: https://github.com/zhuwenxing/milvus/runs/7781667318?check_suite_focus=true
log: https://github.com/zhuwenxing/m

[2022-08-11 07:52] zhuwenxing commented on #18608
![image](https://user-images.githubusercontent.com/12268675/184088199-e426fda8-94ae-46de-85e9-d320a813cb52.png)

[2022-08-11 07:53] zhuwenxing commented on #18608
same for standalone
failed job: https://github.com/zhuwenxing/milvus/runs/7781667170?check_suite_focus=true
log：https://github.com/zhuwenxing/milvus/suites/7765344016/artifacts/326509309
![image](https://user-images.githubusercontent.com/12268675/184088456-b5e2c7a3-98c8-434f-b881-0eb695194477.png)

[2022-08-11 07:54] binbinlv commented on #18607
@yuliu-eric

May I know how could you judge whether it is connected or not connected?

Just a reminder: interface "connect" returns successfully could not say milvus is connected. The "connect" interface could always return successfully even the user info is right or not. (the check is not at this interface)

Need call another api like utility.list_collections() to confirm whether the milvus is co

[2022-08-11 07:56] LoveEachDay commented on #18607
@yuliu-eric Enable authorization with helm chart, you need explicitly set:
[code]
in your values.

[2022-08-11 07:58] #18604 closed

[2022-08-11 08:25] jiaoew1991 commented on #18573
There are 2 bugs related to this issue
1. Due to the deletion action in the collection, the number of rows in some segments after compaction is 0, which causes the `datanode` to re-consume data from an early checkpoint, which makes the `datanode` and `querynode` take a long time to recover and cannot provide query services.
2. querynode crashed by FaissException, the same as https://github.com/mil

[2022-08-11 08:29] yuliu-eric commented on #18607
Yes, that works, thank you!

Would be great to document the instructions for different env, e.g, through helm or docker, etc. The current one `Set common.security.authorizationEnabled in milvus.yaml as true when [configuring Milvus](https://milvus.io/docs/v2.1.x/configure-docker.md) to enable authentication.` from this [instruction](https://milvus.io/docs/v2.1.x/authenticate.md#Authenticate-User-A

[2022-08-11 08:35] xige-16 commented on #18294
please run again @jingkl

[2022-08-11 08:38] xige-16 commented on #17513
Please verify again @jingkl
/assign @jingkl
/unassign @czs007
/unassign @sunby

[2022-08-11 08:38] xige-16 commented on #18294
/assign @jingkl

[2022-08-11 08:44] dzqoo opened #18610 "[Bug]: There is a wrong name metrics in milvus-dashboard.json"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![be2cd1c2c80daf28973c02b3f190216](https://user-images.githubusercontent.com/8862305/184096346-5b7e668e-b0fa-40cc-abc2-b09015e4e06b.jpg)

### Expected Behavior

change "milvus_proxy_sq_lantency_bucket" to  "milvus_proxy_sq_latency_bucket"

### Steps To Reproduce

[cod

[2022-08-11 08:52] YiyunNi commented on #18607
Thanks for the suggestion @yuliu-eric ! I have added the instruction in the doc in this [PR](https://github.com/milvus-io/milvus-docs/pull/1731).

[2022-08-11 09:02] jiaoew1991 commented on #17674
debug image is ready now, troubleshooting can continue

[2022-08-11 09:12] weiliu1031 commented on #18608
all log page is 404!

[2022-08-11 09:19] LoveEachDay commented on #18610
@dzqoo This typo has been fixed. You can check the `milvus_dashboard.json` in the master branch from [here](https://github.com/milvus-io/milvus/blob/f22fc4f2369c7299f9f7df6d0b32764cd8d2a3a6/deployments/monitor/grafana/milvus-dashboard.json#L303).

[2022-08-11 09:19] zhuwenxing commented on #18608
@weiliu1031 Since I have rerun the failed job, the log link has changed. you can check the log below.

failed job: https://github.com/zhuwenxing/milvus/actions/runs/2838417006
log：
https://github.com/zhuwenxing/milvus/suites/7766597708/artifacts/326598084
https://github.com/zhuwenxing/milvus/suites/7766597708/artifacts/326598083

[2022-08-11 09:33] jiaoew1991 commented on #7522
/assign @ThreadDao  pls verify it with the latest PyMilvus

[2022-08-11 09:34] jiaoew1991 commented on #7522
/assign @ThreadDao
/unassign
/unassign @cydrain

[2022-08-11 09:43] weiliu1031 commented on #18608
/assign @weiliu1031

[2022-08-11 09:48] datenhahn opened #18613 "[Enhancement]: Expose REST-API port in docker-compose file for cluster"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

In #18603 the milvus Rest API Port 9091 was added to the list of exposed ports for milvus standalone. This was missed for the cluster compose files.

### Why is this needed?

To easily locally use the REST-API as described in the documentation, exposing the port is required.

[2022-08-11 09:48] bigsheeper commented on #18262
@BUPTAnderson I am so sorry for the late reply. As you can see, Milvus is now using Jemalloc as the memory allocator. QueryNode should not crash by `_Cfunc_PurgeMemory` anymore. You can try to deploy with the newest version.

[2022-08-11 09:50] aakejiang opened #18614 "[Bug]: wrong operation model for user"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

For meta on mysql, the operation model for user is typo to index which is wrong.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-08-11 10:09] wayblink commented on #13045
Key Error:
2022-08-05T03:05:52.735735091+08:00 stdout F [2022/08/04 19:05:52.735 +00:00] [ERROR] [datacoord/services.go:817] ["failed to complete compaction"] [planID=435064655754297345] [error="can not be compacted, segment with ID 435064652949094401 has reference lock"]

Test process:
1,create & insert
2,load
3,auto compaction by milvus
4,getQuerySegmentInfo, expect to get only one segment after

[2022-08-11 10:15] BUPTAnderson commented on #18262
@bigsheeper Will this feature be merged to branch-2.1.0 later?
It seems to be better to deploy the release-2.1.0 in a production environment.

[2022-08-11 10:17] wayblink commented on #17651
Still working on it. Current status is:
This case only occurs in Kafka cluster and the Go memory usage is actually not that large. So it probably related to kafka CGO things instead of compaction. We are reproducing the test with heaptrack and will analyze it later.

[2022-08-11 11:07] #17709 closed

[2022-08-11 11:07] #18025 closed

[2022-08-11 11:16] SimFG commented on #16789
Confirmed the problem with @congqixia, get the following conclusions.
The querycoord processing task is a serial queue. The reason for the problem is that the load has not been executed, and then the release has entered the queue. Because the load execution time is long, the release operation has timed out.What needs to be defined here is the behavior of concurrent operations of load and release.

[2022-08-11 11:40] weiliu1031 commented on #18608
some information to sync:
query coord panic due to showPartitions from root coord return 0 partition.

two more issues need track down:

1. why root coord return 0 partition?
2. query coord's behavior when getting some wrong infos.

[2022-08-11 12:07] weiliu1031 commented on #18608
/assign @longjiquan
/unassign

[2022-08-11 12:09] longjiquan commented on #18608
caused by #18546 . Discussed with @jaime0815 , I removed the deprecated `partitions` in collection info stored in etcd and ignored the compatibility since it's not released yet.

[2022-08-11 12:12] longjiquan commented on #18608
/assign @zhuwenxing

[2022-08-11 12:13] xiaofan-luan commented on #18548
/assign @Presburger could you please help on this one

[2022-08-11 12:22] #18614 closed

[2022-08-11 12:42] wayblink commented on #18496
The former part of this issue is a compatibility issue between 2.0 and 2.1.   SegmentReferences'  key format in etcd  is changed. The problem is solved after user deleting the SegmentReferences in etcd. It is not a bug. We may need to provide Q&A guiding users upgrade Milvus from 2.0.

The following part is another issue, still uncertain. I have asked user to upload more log.  I will create a new

[2022-08-11 12:54] datenhahn commented on #18565
@XuanYang-cn I have uploaded the logs here now, maybe that works: https://drive.google.com/file/d/1TJYGAx_H2emOcF0XQruhlozDzGI9008I/view?usp=sharing

1. We loaded the collection (I was not aware it is possible or required to load partitions separately) and collection was shown in attu as "loaded"
2. Yes, I just saw we used it as debugging information
[code]
3. The delete uses a "id in ..." express

[2022-08-11 13:09] WeiDong-Shi commented on #18514
OK, I will pay attention to and try again after the update ~ hard.

[2022-08-11 13:43] soothing-rain commented on #18557
fixed.

/unassign
/assign @binbinlv

[2022-08-11 13:57] soothing-rain commented on #18539
Partly fixed. But not 100% guaranteed, depending on Python version and explicit python module version.

Added a FAQ part in embedded Milvus's README doc, in case user run into this issue.

/unassign
/assign @binbinlv

[2022-08-11 14:04] zigapk opened #18619 "[Bug]: Crash at startup"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When starting the milvus with docker-compose, `milvusdb/milvus` crashes. It worked before and only crashes after I inserted about 15 mio entities.

### Expected Behavior

Successful startup.

### Steps To Reproduce

[code]

### Milvus Log

[code]

### Anything else?

[2022-08-11 14:46] yanliang567 commented on #18619
@zigapk Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

/assign @zigapk
/unassign

[2022-08-11 15:24] zigapk commented on #18619
Log file from docker-compose available [here](https://transfer.sh/TFHbGn/milvus.log).

[2022-08-12 01:12] PEN170 commented on #18521
之前迁移到V1.0可以使用，稍后我们试试V2.1

[2022-08-12 01:16] binbinlv commented on #18557
Verified, and fixed.

[2022-08-12 01:16] #18557 closed

[2022-08-12 01:42] binbinlv opened #18620 "[Bug]: [Nightly] Load failed reporting "collection search_collection_vZyAEoz5 has not been loaded to memory or load failed""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Load failed reporting "collection search_collection_vZyAEoz5 has not been loaded to memory or load failed"

### Expected Behavior

Load successfully without errors

### Steps To Reproduce

[code]

### Milvus Log

1. Milvus log: [artifacts-milvus-distributed-kafka-nigh

[2022-08-12 01:43] weiliu1031 commented on #18595
can you explain： 10 + 10 * 12 + 10 * 12 * 52 + 10 * 365 = 10020 partitions ？

[2022-08-12 01:47] binbinlv commented on #18620
@jaime0815
hello, jamie,
Could you please help to have a look at this issue? Because it appears in kafka pipeline, assign to you first.

If the root cause is not kafka related, please assign to another, thanks.

[2022-08-12 02:02] binbinlv opened #18621 "[Bug]: [Nightly] Query failed reporting "fail to search on all shard leaders, err=fail to Query, QueryNode ID = 3, reason=Query 3 failed, reason failed to get service timestamp""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Query failed reporting "<MilvusException: (code=1, message=fail to search on all shard leaders, err=fail to Query, QueryNode ID = 3, reason=Query 3 failed, reason failed to get service timestamp, taskID = 435223142315102254, collectionID = 435223144464646145, err=cann

[2022-08-12 02:20] binbinlv commented on #18621
@congqixia
hello, congqi,
Could you help to have a look first? thanks.

[2022-08-12 03:03] yhmo commented on #18415
@freefoxcm
In your example code: /milvus-batchwriting/src/main/java/org/vectors/milvus/actors/IndexActor.java line67, you ought to check the response of insert api:
[code]

I don't have akka on my local, so I create a thread class to do insert parallelly:

[code]

Then I test insert by this class:

[code]

I got exception thrown from insert() api:

[code]
This is an exception thrown from RocksDB(i

[2022-08-12 03:29] hukang6677 opened #18622 "[Bug]: datanode occuplied memory too much，and not release after 12 hours"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

我是这样操作的：
建了5个Collection，每次insert插入5万条数据，每个Collection插入200次，最后每个Collection里面都是1000万条数据，总共5000万条。只做了插入数据操作，没有创建索引，没有加载Collection。12小时后datanode消耗的内存也没释放。共有四个datanode节点，总共消耗20G内存。
![微信图片_20220812110811](https://user-images.githubusercontent.com/102129512/184279701-a1715ff

[2022-08-12 04:29] weiliu1031 commented on #18621
/assign @weiliu1031

[2022-08-12 04:51] psc0606 opened #18623 "[Bug]: milvus2.1 crash etcd cluster"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus 2.1 crashed when etcd cluster leader oom, and etcd can not recovery any more.

Why etcd cluster oom? Maybe some resouce leak.

![image](https://user-images.githubusercontent.com/7888889/184287113-e82e8197-b085-4529-9401-968b9fe0352d.png)

![image](https://user-

[2022-08-12 05:01] LoveEachDay commented on #18623
@psc0606 How do you install the milvus cluster? And could you provide the etcd config or the env?

[2022-08-12 06:52] yanliang567 commented on #18619
/assign @soothing-rain
/unassign @zigapk

[2022-08-12 06:56] #18610 closed

[2022-08-12 07:03] datenhahn commented on #18595
Ah sorry, I just copy and pasted my notes :) . We originally planned for partitions with different sizings and therefore (hopefully) different search times, smaller partitions resulting in faster searches, larger partitions in slower searches, but other results (more data) depending on the usecase. In our customers case these are documents with a date (e.g. 2022-08-10) and there are document appro

[2022-08-12 07:21] soothing-rain commented on #18619
/unassign
/assign @wayblink

Can be quickly fixed with:
[code]

However we need to figure out why this un-flushed segmentID was not found in `req.SegmentInfo`. And what to do if this happens.

[2022-08-12 07:32] binbinlv opened #18624 "[Bug]: Query results for bool type data is not equal with inserted values"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Query get wrong results for bool type data

from the following, the bool value in the results from query of the first entity is "True", while the first bool value fo inserted data is "False"

[code]

### Expected Behavior

Query get rights results for bool type data

[2022-08-12 08:03] bigsheeper commented on #18262
Hi @BUPTAnderson , maybe there are some risks with Jemalloc. We need to take a long time to make sure it's stable. So this feature may would be merged in 2.1.2 or later.

[2022-08-12 10:34] cydrain commented on #18509
need follow customer steps to reproduce this issue:
1. create collection (dim = 4096)
2. load collection
3. create index ("IVF_SQ8")
4. insert one entity
5. search all collection using this inserted vector
6. if data in this collection exceed 10000, create a new collection
7. repeat step 2~6

[2022-08-12 10:39] dilip814 opened #18630 "[Bug]: Milvus search hangs after system restart"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Most of the time if we restart system when Milvus docker container was running, after system restart collection search hangs up

### Expected Behavior

Milvus collection search should not hang

### Steps To Reproduce

[code]

### Milvus Log

[milvus.log](https://githu

[2022-08-12 11:18] #18613 closed

[2022-08-12 11:20] weiliu1031 commented on #18621
some information to sync:
1. we found two delta channel's seek position point to same channel.
![4nHt3EXXzV](https://user-images.githubusercontent.com/108661493/184342844-8fa2bc58-6f51-41e4-a9cd-79fc99a28d41.jpg)
2. when load segment, it build delta channel from seek position.  so we get one delta channel, and another delta channel can be loaded.
<img width="1432" alt="image" src="https://user-ima

[2022-08-12 13:09] bigsheeper opened #18635 "[Feature]: Quota and limits"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Support quota and limits in Milvus

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

_No response_

[2022-08-12 22:11] #17863 closed

[2022-08-12 22:11] #18057 closed

[2022-08-13 05:55] LoveEachDay commented on #18605
@yuliu-eric Originally we had labeled some metrics with `collection name` or `collection id` as a label, but this will largely increase the metrics cardinality which will bring high memory pressure for prometheus.

So we remove the `collection name` and `collection id` label.

[2022-08-13 07:11] #18133 closed

[2022-08-13 07:11] #18119 closed

[2022-08-13 07:11] #17956 closed

[2022-08-13 07:20] cydrain commented on #18509
all logs
[querynode.log](https://github.com/milvus-io/milvus/files/9330995/querynode.log)
[querynode-20220803-2.log](https://github.com/milvus-io/milvus/files/9330996/querynode-20220803-2.log)
[querynode-20220804-3.log](https://github.com/milvus-io/milvus/files/9330997/querynode-20220804-3.log)
[querynode-20220804-6.log](https://github.com/milvus-io/milvus/files/9331001/querynode-20220804-6.log)

[2022-08-14 00:10] iChauster opened #18637 "[Bug]: NodeJS API fail to search on all shard leaders after releasing collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

An example JS Snippet:

[code]
Output:
[code]
This error occurs when the script is run more than once.

When the collection release portion is removed and the script is run more than once, we do not seem to have this problem.

### Expected Behavior

We do not expect t

[2022-08-14 07:10] #17410 closed

[2022-08-14 07:10] #17412 closed

[2022-08-14 07:10] #17998 closed

[2022-08-14 07:11] #18141 closed

[2022-08-14 09:10] #17985 closed

[2022-08-14 14:31] zigapk opened #18638 "[Bug]: Huge S3 storage usage"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I inserted 12 150 630 entities into a collection with 1 partition. Each entity has the following fields:
- primary key,
- 4096 bits long binary vector with FLAT index,
- 2 more Int64 fields with an ascending index.

By my calculations, this is around 6 Gb of data and

[2022-08-14 14:44] xiaofan-luan commented on #18638
hi @zigapk , thanks for the feedback.
Usually the S3 data size should be a few times larger than the calculation, but in your case that is far more larger than expected.
Did your try any tool to do the analysis about the S3 storage consumption?

[2022-08-14 14:45] xiaofan-luan commented on #18638
/assign @zhagnlu
could you help on investigating?

[2022-08-14 14:53] zigapk commented on #18638
@xiaofan-luan do you have any particular tool in mind? I only used `df` linux command to measure storage usage on my local machine and read the S3 storage usage from my cloud provider's web console (Digital Ocean).

When using local storage, most of the storage seems to be used up by files inside `volumes/minio/a-bucket/files` and `volumes/minio/.minio.sys`.

[2022-08-15 01:58] jiaoew1991 commented on #18606
@yanliang567  Maybe not, we need more logs to confirm it.

@xTerry Could you provide more logs for us?

[2022-08-15 02:19] xiaocai2333 opened #18642 "[Enhancement]: Refactor IndexCoord component"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

1. IndexCoord and IndexNode no longer interact through etcd.
2. Cleaned up IndexCoord's code to make its logic clearer and easier to understand.

### Why is this needed?

1. IndexCoord and IndexNode no longer interact through etcd.
2. Cleaned up IndexCoord's code to make its l

[2022-08-15 02:19] xiaocai2333 commented on #18642
/assign

[2022-08-15 02:27] xiaofan-luan opened #18644 "[Bug]: Load Balance is not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. DML Channel and Shardleader is not balanced as expected when we add more querynode to the cluster.
2. Segment is not balanced either, need to check the reason.

Currently we rely on memory reported by querynode to do load balance, which is not reliable.
1) the memo

[2022-08-15 02:27] xiaofan-luan commented on #18644
/assign @xige-16

[2022-08-15 02:32] xige-16 commented on #18644
/unassign @yanliang567

[2022-08-15 02:35] xiaofan-luan commented on #18514
should be fixed by #18542

[2022-08-15 02:35] xiaofan-luan commented on #18348
should be fixed by #18542

[2022-08-15 02:35] #18348 closed

[2022-08-15 02:36] #18178 closed

[2022-08-15 02:37] bigsheeper commented on #18635
/unassign @xiaofan-luan
/assign

[2022-08-15 02:40] zhuwenxing commented on #17627
Not reproduced anymore, so close it

[2022-08-15 02:40] #17627 closed

[2022-08-15 02:42] xiaofan-luan commented on #18638
AWS S3 command tool might help
aws s3 ls s3://${path}/ --recursive --human-readable --summarize

All milvus related files is stored ad volumes/minio/a-bucket/files

[2022-08-15 02:50] dzqoo opened #18645 "[Bug]: When I changed milvus from v2.0.1 to v2.1.0，I got a worse performance(rt) in my scene."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

(1)When I test the performance of milvus search in my scene,I got the following result of rt :
- Client performance
nq topk  rt
10 10 0.5071010589599609
10 10 0.5250134468078613
10 10 0.5025763511657715
10 10 0.5275528430938721
10 10 0.5605242252349854
10 10 0.3852427

[2022-08-15 02:53] yhmo commented on #18577
In milvus 1.x, user defines a cache size in the server_config.yml. From your log file, we can know the cache size is 230GB.

Milvus 1.x use cache in this way:
- When search request come in, milvus load all the segments of the collection into the cache
- It is LRU strategy, load data until the cache is full, if the cache is full, remove the oldest data from cache.
- When user insert new data, milvu

[2022-08-15 02:57] yhmo commented on #18576
Duplicated with #18577

In milvus 1.x, user defines a cache size in the server_config.yml. From your log file, we can know the cache size is 230GB.

Milvus 1.x use cache in this way:

When search request come in, milvus load all the segments of the collection into the cache
It is LRU strategy, load data until the cache is full, if the cache is full, remove the oldest data from cache.
When user ins

[2022-08-15 02:57] #18576 closed

[2022-08-15 02:59] yuliu-eric commented on #18605
Got it. Then is there other options to handle this scenario?

[2022-08-15 03:05] SimFG opened #18646 "[Enhancement]: Handle some apis about the default role"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

1. The default roles can't be deleted.
2. The privilege param can be set the `*` for granting all privileges.
3. Unbind the relationship between the `admin` role and  the `root` user.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-08-15 03:43] zhuwenxing commented on #18608
The upgrade is from v2.0.1 to master-latest and is not between daily builds, so it needs more investigation

/unassign

[2022-08-15 04:04] yanliang567 commented on #18645
@dzqoo thank you for the issue. 2 quick quetsions:
1. how is the performance when running v2.0.1?
2. how did you deploy milvus cluster v2.1.0?
Also Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

/assign @dzqoo
/unassign

[2022-08-15 05:16] SKV1983 commented on #18205
/assign @czs007
@czs007, any patch ?

[2022-08-15 05:48] binbinlv opened #18648 "[Bug]: Support Bool type fields as output fields in query and search"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Bool type fields are not supported as output fields in query and search

### Expected Behavior

Support Bool type fields as output fields in query and search

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-08-15 05:58] dzqoo commented on #18645
@yanliang567 thank for applying.
1. v2.0.1 is better than v2.1.0，but not that better;
2. Yes，it's a clutser deploying by helm.
Here is whole logs in milvus.
[logs.tar.gz](https://github.com/milvus-io/milvus/files/9335331/logs.tar.gz)

[2022-08-15 06:00] yanliang567 commented on #18637
@binbinlv  could you please help to reproduce it locally with pymilvus?/
/assign @binbinlv
/unassign

[2022-08-15 06:08] xiaofan-luan commented on #18565
Hi @datenhahn , thanks for the very detailed feedback.
The problems you point out is exactly what we are trying to deliver on Milvus 2.2:
1) Some limitation of data ingestion rate and data size to avoid system crash
2) instead of panic, processing some of the requests asyncly and retry until the service recovery
3) Protection and better scheduling on search requests.
4) Refactor meta to avoid inco

[2022-08-15 06:31] dzqoo opened #18651 "[Bug]: manual load balance failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I use python code to load balance ，I get  following error.
`pymilvus.exceptions.MilvusException: <MilvusException: (code=1, message=, source nodes and destination nodes must be in the same replica group, source nodes and destination nodes must be in the same repl

[2022-08-15 06:32] binbinlv commented on #18637
OK，working on it.

[2022-08-15 06:44] ThreadDao opened #18652 "[Bug]: [scale] Standalone load fails and flush hangs after oomkilled and scaling-up restart"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo-workflow name: `scale-up-oom-sk85w`
1. Deploy standalone and limit resources
[code]
standalone pod:
[code]
2. Run the case
[code]
3. Standalone pod oomkilled and restart sometimes
[code]
4. Scale-up cpu and memory
[code]
5. Wait pods ready and run the check case

[2022-08-15 06:57] lvmnn opened #18653 "[Enhancement]: The QueryNode memory load balancing conditions need to be specified in the document"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

In the K8S cluster deployment, the QueryNode memory load is unbalanced. The Query Node reads the configuration of /proc/meminfo. In some K8S clusters, LXCFS may not be installed, so the Query node reads the memory of the physical machine，the load balancing fails

### Why is th

[2022-08-15 07:03] xiaofan-luan commented on #18565
@datenhahn feel free to reach me out at xiaofan.luan@zilliz.com~ I'd like to offer more help

[2022-08-15 07:11] wangnimaa opened #18654 "[Bug]: oom"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

we use milvus 2.0,but After a period of use，buffer/cache is so big, then docker is oom。

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

-

### Anything else?

-

[2022-08-15 07:42] XuanYang-cn opened #18655 "[Bug]: Delete buffer status in DN is lack of information"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

1. Segment not existing in the buffer is not a problem, we shouldn't log it.

2. Log changed segments only and group logs by timestamp
[code]

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No

[2022-08-15 07:48] yanliang567 commented on #18654
@wangnimaa thank you for the issue. could you please share more details about the issue?
1. how many vectors did you insert? what is the dim?
2. how many cpu and memory did you configure for milvus? how much does milvus consume?

if you have metrics and logs for OOM, that would be perfect.   please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to expor

[2022-08-15 07:49] binbinlv opened #18656 "[Bug]: [Nightly] Search failed reporting "fail to search on all shard leaders, err=fail to Search, QueryNode ID=4, reason=Search 2 failed, reason query shard(channel)...does not exist""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search failed reporting "fail to search on all shard leaders, err=fail to Search, QueryNode ID=4, reason=Search 2 failed, reason query shard(channel)...does not exist"

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Milvus Log

1. milvus log: [ar

[2022-08-15 07:53] binbinlv commented on #18620
Similar issue:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/36/pipeline/155

1. milvus log: [artifacts-milvus-distributed-kafka-nightly-36-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/36/artifact/artifacts-milvus-distributed-kafka-nightly-36-pymilvus-e2e-logs.tar.gz)
2. collection name: search_colle

[2022-08-15 07:57] binbinlv commented on #18656
Same issue:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/35/pipeline/155

1. milvus log:
[artifacts-milvus-distributed-kafka-nightly-35-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/35/artifact/artifacts-milvus-distributed-kafka-nightly-35-pymilvus-e2e-logs.tar.gz)
2. collection name: search_collecti

[2022-08-15 08:05] yanliang567 commented on #18652
/assign @soothing-rain
/unassign

[2022-08-15 08:08] binbinlv commented on #18621
Same issue appears again:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/35/pipeline/123
1. milvus log: [artifacts-milvus-standalone-nightly-35-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/35/artifact/artifacts-milvus-standalone-nightly-35-pymilvus-e2e-logs.tar.gz)
2. collection name: search_collectio

[2022-08-15 08:16] binbinlv opened #18659 "[Bug]: [Nightly] Query failed reporting "fail to search on all shard leaders, err=fail to Query, QueryNode ID = 8, reason=ShardCluster for ...is no available""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Milvus Log

1. milvus log: [artifacts-milvus-distributed-pulsar-nightly-34-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/34/artifact/artifacts

[2022-08-15 08:17] yanliang567 commented on #18651
/assign @zhuwenxing
/unassign

[2022-08-15 08:21] soothing-rain commented on #18652
Any server side logs?

[2022-08-15 08:24] yanliang567 commented on #18645
/assign @czs007
could you please help to take a look?

/unassign @dzqoo

[2022-08-15 08:26] yanliang567 commented on #18659
/assign @congqixia
/unassign

[2022-08-15 08:28] #18655 closed

[2022-08-15 08:34] zhuwenxing commented on #18651
we have a test case about load balance.
1. call `collection.get_replicas()` to get groups and find a group that has multi nodes
2. call `utility.get_query_segment_info()` to get segments distribution
3.  call `utility.load_balance()` to load balance

I have no idea how you make sure 6,3,14 is in one group, and `sealed_segment_ids = []` this statement is also not correct.

[code]

[2022-08-15 08:42] zhuwenxing commented on #18608
It reproduced stably

[2022-08-15 09:14] XuanYang-cn commented on #18565
**Why DataNode panics at delete_buffer_node and how we're going to fix it.**

1. insert_buffer_node process flush message 200ms(tt) per segment, when there's a large number of flushed segments arrived, it takes a very very long time to pass the flush message.
2. There're lots of small segments, tens of thousands of segment with num_rows==1, generating many compactions
3. When compaction happens af

[2022-08-15 09:18] zigapk commented on #18638
@xiaofan-luan data from the `aws ls` command is available [here](https://transfer.sh/tdJlnp/spaces.txt).

[2022-08-15 09:18] huuson235 opened #18663 "[Bug]: Some inserted vectors are incorrect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I insert 2M vector-512D into Milvus, some vectors are not correct.

For example:

On disk:  [ 0.05308599  0.0808935  -0.02041397  0.02257334  0.00362627  0.09881948 ...]

On milvus: [-0.013106  0.108721 -0.049404  0.007004  0.038336  0.05662  -0.005104 ...]

The

[2022-08-15 09:25] binbinlv opened #18664 "[Bug]: [Nightly] Querynode crashed with search failed in large numbers of test cases"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Querynode crashed with search failed in large numbers of test cases

the tests start to fail about "2022-08-14T15:16:27.596Z"

[code]

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Milvus Log

1. milvus log: https://jenkins.milvus.io:18080/blue/

[2022-08-15 09:34] binbinlv commented on #18664
Similar issue:
https://jenkins.milvus.io:18080/blue/rest/organizations/jenkins/pipelines/Milvus%20Nightly%20CI/branches/master/runs/35/nodes/187/steps/207/log/?start=0

1. milvus log: [artifacts-milvus-distributed-pulsar-nightly-35-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/35/artifact/artifacts-milvus-distributed-pulsar-nightly-35-pymilvus-e2e-l

[2022-08-15 09:46] yanliang567 commented on #18663
@huuson235 thank you for the issue. quick questions
1. how did you get the values of ip_disk and ip_milvus?
2. what is the index params
If possible, could you please share a code snippet to reproduce the issue?

/assign @huuson235
/unassign

[2022-08-15 09:47] yanliang567 commented on #18623
/assign @psc0606
could you please provide more info as requested above?

/unassign

[2022-08-15 09:49] huuson235 commented on #18663
1. I get some incorrect vectors then using numpy to calculate IP_disk, and use method search() of Milvus to calculate IP_milvus
2. Index params here:

[2022-08-15 09:50] yanliang567 commented on #18630
@dilip814 thank you for the issue, could you please retry with milvus 2.1.1?
if it reproduced, please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation

/assign @dilip814
/unassign

[2022-08-15 10:04] huuson235 commented on #18663
1. I get some incorrect vectors then using numpy to calculate IP_disk, and use method search() of Milvus to calculate IP_milvus
[code]
Index params here:
[code]

[2022-08-15 10:09] Roger-Z opened #18665 "[Bug]: querynode memory is not balance in k8s"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

There are 5 querynode in my milvus k8s cluster, however, two pods consume 58GB memory each, other 3 pods only use 3G each. They are not balanced, and I am wondering what will happen when those two pods consume all 96GB memory in the physical machine.
<img width="430"

[2022-08-15 11:00] moneishkumar opened #18666 "[Bug]: Milvus 1.1.1 search with gpu hang"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I try to run the milvus GPU it hangs while searching [ .search() ] and the following error is seen.

Searching ...
Addr [127.0.0.1:19530] search
Rpc error: <_MultiThreadedRendezvous of RPC that terminated with:
        status = StatusCode.UNAVAILABLE
        deta

[2022-08-15 11:03] XuanYang-cn commented on #18479
/unassign
/assign @NicoYuan1986

[2022-08-15 11:07] zhuwenxing commented on #18608
version `milvusdb/milvus-dev:longjiquan-debug-meta-partitions-229f0164a-20220815`
failed job:https://github.com/zhuwenxing/milvus/runs/7835788538?check_suite_focus=true
log: https://github.com/zhuwenxing/milvus/suites/7814773050/artifacts/330043167

[2022-08-15 11:10] ThreadDao commented on #18652
Go to Loki ?

[2022-08-15 11:27] binbinlv commented on #18637
Reproduced in node sdk:
Steps:
1. Install Node SDK: `npm install @zilliz/milvus2-sdk-node`
2. Create and compile typescript
tsc snippet.ts
node snippet.js
[code]
3. Run several times, report errors:
[code]

And no error in pymilvus side:
python script:
[code]

And the result (and it is good for multiple running)
[code]

[2022-08-15 11:58] #18588 closed

[2022-08-15 16:45] miguelsmuller commented on #6722
following this thread

[2022-08-15 16:45] miguelsmuller commented on #12335
following this thread

[2022-08-16 00:47] yanliang567 commented on #18666
/assign @yhmo
/unassign

[2022-08-16 00:48] yanliang567 commented on #18665
/assign @xige-16
/unassign

[2022-08-16 00:50] #18648 closed

[2022-08-16 02:03] nameczz commented on #18637
@iChauster we have two functions in node SDK.
LoadCollectionSync is ensure this collection is loaded.
LoadCollection is not, you need use showCollection to ensure collection load status by yourself.
We will think about remove LoadCollection in future.
Any more questions are welcome, thanks :)

[2022-08-16 02:17] binbinlv commented on #17528
Same issue in the master nightly:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/38/pipeline/155

1. milvus log: [artifacts-milvus-distributed-kafka-nightly-38-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/38/artifact/artifacts-milvus-distributed-kafka-nightly-38-pymilvus-e2e-logs.tar.gz)
2. collection

[2022-08-16 02:21] binbinlv commented on #18621
Same issue appears again:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/38/pipeline/123
1. milvus log:
[artifacts-milvus-standalone-nightly-38-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/38/artifact/artifacts-milvus-standalone-nightly-38-pymilvus-e2e-logs.tar.gz)
2. collection name: query_Pl5vAVUI
3

[2022-08-16 02:23] binbinlv commented on #18621
@weiliu1031 @congqixia
any progress here?
Thanks.

[2022-08-16 02:23] powerdy opened #18669 "[Bug]: CreateIndex failed: creating multiple indexes on same field is not supported"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

when I drop the exists index and create a new index ,the error happend and I see the message:

2022-08-15 20:35:41 io.milvus.client.AbstractMilvusGrpcClient logInfo
INFO: DropIndexParam{collectionName='item2vec_online_v1', fieldName='item2vec'}
2022-08-15 20:35:41 io.

[2022-08-16 02:50] yelusion2 opened #18670 "milvus update account password must inport old password, the question is how to update account password when i forget old account password."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

milvus update account password must inport old password, the question is how to update account password when i forget old account password.

### Expected Behavior

i can use root super account to reset other normal account password.

root super account password i can

[2022-08-16 02:50] NicoYuan1986 commented on #18479
The issue has been fixed.
<MilvusException: (code=1, message=invalid index params: map[dim:1 index_type:IVF_PQ m:0 metric_type:L2 nbits:8 nlist:128])> (api_request.py:40)

[2022-08-16 02:50] #18479 closed

[2022-08-16 02:56] yanliang567 commented on #18670
/assign @SimFG
/unassign

[2022-08-16 03:01] NicoYuan1986 opened #18671 "[Bug]: server Unavailable when creating index "RHNSW_PQ" with PQM=0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

No crushed.

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-08-16 03:04] NicoYuan1986 commented on #18671
[test0816.txt](https://github.com/milvus-io/milvus/files/9347645/test0816.txt)

[2022-08-16 03:09] yelusion2 commented on #18670
pg参考：
http://postgres.cn/docs/13/sql-alterrole.html
mysql参考：
https://dev.mysql.com/doc/refman/8.0/en/set-password.html

[2022-08-16 03:11] congqixia opened #18672 "[Bug]: Query Output fields may contain duplicated pk column"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Returned Output fields for `QueryByPk(ctx, ... []{"embeding", "ID"}` may contains two returned column for primary key "ID"

### Expected Behavior

Returned column shall be exactly the same with the output field (or with added pk column if not provided)

### Steps To R

[2022-08-16 03:15] jiaoew1991 opened #18674 "[Enhancement]: redesign the timeout logic for compaction"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

The compaction timeout logic is controlled in `datacoord`, the `compactionTask` is generated by `datacoord` and executed by `dataanode`, the execution time of `compactiontask` starts from `datacoord` generation task, and may have been **queued** for 150s when dataanode was exe

[2022-08-16 03:20] letian-jiang commented on #18624
/assign

[2022-08-16 03:21] #18646 closed

[2022-08-16 03:30] huuson235 commented on #18663
I am so sorry, it's my bad. My code had bugs. So sorry.

[2022-08-16 03:30] #18663 closed

[2022-08-16 06:02] jiaoew1991 commented on #18674
The timeout mechanism is still necessary, in order to prevent the occurrence of `datanode` suspended animation and network instability caused by the problem of too long execution time

Now the core problem is the `datacoord` cannot confirm the exact state of the task, and how to recover if the `datanode` execution fails

A better approach is for `datacoord` to periodically access `datanode` throug

[2022-08-16 06:50] weiliu1031 commented on #18656
/assign @weiliu1031

[2022-08-16 06:59] jiaoew1991 commented on #18674
/assign

[2022-08-16 07:00] weiliu1031 commented on #18656
Some info to sync:
![kmWAZ7yffH](https://user-images.githubusercontent.com/108661493/184816420-88ce1bce-8c57-4e5d-a49d-22ca39d8029d.jpg)
1. milvus start with querynode 2 and 4
2. querynode 2 stop suddenly, without cleaning resource, such as it's session
3. querynode 13 start, on same host with querynode 2
4. querycoord with the view 2, 4, 13, when it try to do search on query node 2, failed cause

[2022-08-16 07:35] weiliu1031 commented on #18664
/assign @weiliu1031

[2022-08-16 07:39] weiliu1031 commented on #18664
according to the log: query node 7 is crashed at 15:16:17, so search after that will meet "no replica available"

[2022-08-16 08:28] #18607 closed

[2022-08-16 08:33] xTerry commented on #18577
https://user-images.githubusercontent.com/2304854/183797258-529be08c-d6e5-4323-9ac2-8df131a49dcc.png

See png picture, ReleaseCollection all partitions ，But the memory is still not released。
If memory is still not released ,I will not load other collections?

[2022-08-16 08:41] dilip814 commented on #18630
Thanks @yanliang567 for response. I will try with Milvus 2.1.1

[2022-08-16 08:42] xTerry commented on #18577
I have a Milvus memory management program. When the amount of data reaches a certain amount, I will manually call releasecollection to release the memory, or in the new month, release the earliest month, and then manually load the data of the new month to meet the needs of rapid retrieval.

The problem now is that a collection is loaded manually, but the memory of the collection cannot be released

[2022-08-16 09:41] cydrain commented on #18509
This issue is because, except IDMAP and ANNOY, all other knowhere index types are not thread-safe when searching:
- BIN_IVF
- IVF_FLAT
- IVF_PQ
- IVF_SQ8
- IVF_HNSW
- RHNSW_FLAT
- RHNSW_PQ
- RHNSW_SQ

But in segcore, all searching requests share the same knowhere::VecIndexPtr for one segment.
When different searching requests use different searching parameters, for example 'nprobe', memory overlap

[2022-08-16 09:54] dzqoo commented on #18651
@zhuwenxing Thank you for applying!
I got my collection's replicas groups and find that every group only have one group_nodes.And I wonder if it is normal.
Here are the output:
`[Group: <group_id:435306513441751155>, <group_nodes:(45,)>, <shards:[Shard: <channel_name:by-dev-rootcoord-dml_4_435306970076413953v4>, <shard_leader:45>, <shard_nodes:[45]>, Shard: <channel_name:by-dev-rootcoord-dml_5_435

[2022-08-16 10:16] #18672 closed

[2022-08-16 11:14] zhuwenxing commented on #18651
From the info, I guess the query node num is 5,shard nums is 6, and replicas number is 5, so each group can only have one node.

[2022-08-16 12:25] stringk245 opened #18684 "[Bug]: cannot parse expression: age_gte <= 90 <= age_lte, error: only comparison between two fields is supported"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus==2.0.2
.search({"expr":"uid==1 &&  age_gte <= 90 <= age_lte"})   is successfule

but  Milvus==2.1.1
.search({"expr":"uid==1 &&  age_gte <= 90 <= age_lte"})    raise  code=1, message=failed to create query plan: cannot parse expression: age_gte <= 90 <= age_lte,

[2022-08-16 12:31] longjiquan commented on #18684
/unassign @yanliang567
/assign

[2022-08-16 12:34] longjiquan commented on #18684
Sorry, we changed our parser implementation in `2.1.1` and limited some range operations. In your case, we'd recommend you to use logical and to connect these two filter expressions: `age_gte <= 90 && age_lte >= 90`.

[2022-08-16 15:17] xiaofan-luan commented on #18674
overall looks good to me, also we need to try cancel the task if compaction timeout to avoid execute  multiple times

[2022-08-17 02:12] dzqoo commented on #18651
@zhuwenxing Yes, you are right.
Here are other two questions:
- How big the replicas number is suitable？
- If the shard num has an affect in this scene？
Look forward to your reply!

[2022-08-17 02:30] binbinlv opened #18685 "[Bug]: [mysql] Create index failed reporting "CreateIndex failed: Error 1062: Duplicate entry '435340353625128961-default_index_name' for key 'indexes.tenant_id'" after index dropped"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Create index failed reporting "CreateIndex failed: Error 1062: Duplicate entry '435340353625128961-default_index_name' for key 'indexes.tenant_id'" after index dropped

[code]

### Expected Behavior

No error for multiple "create index + drop index"

### Steps To Repr

[2022-08-17 02:46] zhuwenxing commented on #18651
`replicas number` is used to increase the throughput, but it needs to be less than the num of the query node. If you want a large replicas number, you need more query node numbers.

`shard num` is more related to the data node. It is responsible for consuming the inserted data and flushing data to the disk

[2022-08-17 02:58] yhmo commented on #18577
The cache contains lot of segments, some segments belong to a collection, some segments are orphan status(not belong to any collection). So, when you call release_collection(), you only release the segments that belong to this collection. There are some segments are intermediate during merging/compaction. They will be erased by LRU strategy when the cache is full and trigger the LRU strategy.

[2022-08-17 02:58] binbinlv commented on #18664
@weiliu1031, similar issue appears in the following nightly, could you please check whether the root cause is the same? Thanks.
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/40/pipeline/187

1. milvus log: [artifacts-milvus-distributed-pulsar-nightly-40-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/40

[2022-08-17 03:42] NicoYuan1986 opened #18686 "[Bug]: Search result is wrong when using arithmetic operators '/'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[2022-08-17 10:46:36 - INFO - ci_test]: test_search_with_expression: searching with expression: int64 / 2 == 100 (test_search.py:1983)
[2022-08-17 10:46:36 - DEBUG - ci_test]: (api_request)  : [Collection.search] args: [[[0.3518639586222455, 0.010711362163249527, 0.47

[2022-08-17 03:43] weiliu1031 commented on #18664
same problem here. after something happened, such as query node crash. all load collection request send to querycoord hangs, without nothing to do, and then receive release request

[2022-08-17 05:34] yhmo commented on #18577
Need more details:
1. how many vectors in each collection?
2. vector dimension?
3. what index?
4. the operation steps of your client (continually insert? continually call get_entity_by_id()? any search request?)
5. the debug.log

[2022-08-17 05:36] jiaoew1991 commented on #17674
from the debug report file, we can see most of the memory is consumed by deleted records.

![image](https://user-images.githubusercontent.com/2297455/185041425-e570b064-2fc3-4423-a55f-8108312fda72.png)

This test scenario is to insert 100k pieces of data per loop, delete 99k data, flush segment, and `querynode` OOM after 80 cycles.

In addition, the ids of each insertion and deletion are the same,

[2022-08-17 05:36] yhmo commented on #18577
Need more details:
1. how many vectors in each collection?
2. vector dimension?
3. what index?
4. the operation steps of your client (continually insert? continually call get_entity_by_id()? any search request?)
5. the debug.log

[2022-08-17 06:05] Uzay-G commented on #17436
I am also having this issue? Is there anything I can do about it? I've attached etcd logs.

milvus can't connect to etcd and it seems etcd dies for some reason, with message `Err: connection error: desc = "transport: Error while dialing dial tcp 0.0.0.0:2379: connect: connection refused". Reconnecting...`

I can no longer use/connect to my milvus setup

[etcdlogs.txt](https://github.com/milvus-io/

[2022-08-17 06:16] aakejiang commented on #18685
Fixed

[2022-08-17 06:17] binbinlv commented on #18685
OK, will verify through mysql nightly tonight.

[2022-08-17 07:11] dzqoo commented on #18651
@zhuwenxing
I want to reduce the latency and how can I achieve this? Does adding more query nodes and replicas  works?

[2022-08-17 07:16] XuanYang-cn commented on #13045
For this case only,  you could do the following to test auto compaction @binbinlv :
1. Don't load or index while auto compaction
2. Get query segment info after 30s.

[2022-08-17 07:20] NicoYuan1986 opened #18689 "[Bug]: Transfer some cases from test_connection to test_utility"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Transfer some cases from test_connection to test_utility

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-08-17 07:23] #18592 closed

[2022-08-17 08:02] soothing-rain commented on #18567
/unassign
/assign @congqixia

[2022-08-17 08:14] soothing-rain commented on #18622
@hukang6677 Hey this certainly looks abnormal. Can you dump your DataNode's heap and send the file to us?

For example:
```curl -s http://${data_node_ip}:9091/debug/pprof/heap > heap_snapshot.heap```
(Let me know if you don't know how to do this)

[2022-08-17 08:33] LoveEachDay commented on #17436
@Uzay-G  From the attached log:
[code]
The `connection refused` error is raised, because the etcd container has received terminated signal which closed the listening port.

[2022-08-17 08:35] Uzay-G commented on #17436
@LoveEachDay I didn't send any termination signal to etcd, I actually stopped and started the container to test it again several times. Do you have any idea what could be causing this to happen/this signal to send?

[2022-08-17 08:35] weiliu1031 commented on #18621
Final result:
cause there are too much collection, so two shard in on collection has the same pchannel.
each insert message has been send to all two vahnnels.
![3p9Oedo0Yg](https://user-images.githubusercontent.com/108661493/185073643-f47ae9be-44ab-4ffe-88dc-903fef975e42.jpg)

[2022-08-17 08:39] LoveEachDay commented on #17436
@Uzay-G Did you maually stop etcd container?
Seems you are deploying milvus using `docker-compose`. After your test is done, you'd run `docker-compose down` then remove the `volumes` directory under the current directory.

[2022-08-17 08:42] Uzay-G commented on #17436
I did not stop it manually. That's why I'm flagging this issue - I don't know why etcd is getting shut down because I am not making it stop.

[2022-08-17 09:28] soothing-rain commented on #18530
Per offline discussion, it is mainly caused by Etcd operations being slow.

We usually suggest that users build/use their own dedicated Etcd cluster (with SSD) to reach the best performance.

[2022-08-17 09:31] soothing-rain commented on #18530
/unassign
/assign @yanliang567

[2022-08-17 10:35] LoveEachDay commented on #17436
@Uzay-G Could you run `docker-compose ps` to show the container status?

[2022-08-17 11:04] zhuwenxing commented on #18651
You can have a try. But as far as I know, replicas will not reduce the latency for a single request, it is designed to trade more machine resources for greater throughput

[2022-08-17 11:06] yanliang567 commented on #18530
@owlwang could you please retry with etcd cluster on ssd as suggested above?
/assign @owlwang
/unassign

[2022-08-17 17:03] #17776 closed

[2022-08-17 17:03] #18214 closed

[2022-08-17 20:03] Uzay-G commented on #17436
[code]

[2022-08-17 21:25] Rosesqy commented on #17130
Hi, I still got error "message=string is not supported now" with datatype:VARCHAR, and I've checked my pymilvus version is 2.1.1, the data I tried to insert is like ['1','2',...]

[2022-08-18 00:59] yanliang567 commented on #17130
@Derekhe01 could you please file a new issue and attach the code snippet to reproduce the issue?

[2022-08-18 01:33] dzqoo commented on #18651
@zhuwenxing Thank you~

[2022-08-18 01:33] #18651 closed

[2022-08-18 02:43] jingkl commented on #18294
server-instance
fouram-tag-no-clean-d4qgk-1
server-configmap
server-cluster-8c64m-kafka
client-configmap
client-random-locust-100m-ddl-r8-w2-36h
pymilvus 2.1.1dev3
2.1.0-20220809-0e4dc112
<img width="1374" alt="截屏2022-08-18 10 40 17" src="https://user-images.githubusercontent.com/34296482/185281273-9e0920ea-1023-4c4b-8b70-2bf5b76f430a.png">

[2022-08-18 03:05] jiaoew1991 commented on #17674
@xiaofan-luan According to the findings above, should we change the test case or wait for the refactoring "delete" and "delta channel" finished

[2022-08-18 03:35] congqixia commented on #18624
@binbinlv fix pr has been merged. Could you please verify?
/assign @binbinlv

[2022-08-18 03:49] SimFG opened #18703 "[Feature]: Implement the mysql metastore of the rbac"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Implement the mysql metastore of the rbac

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

_No response_

[2022-08-18 04:58] yanliang567 commented on #18686
/assign @jiaoew1991
/unassign

[2022-08-18 04:59] yanliang567 commented on #18669
@powerdy thank you for the issue, but this is by design for now.

[2022-08-18 05:00] #18669 closed

[2022-08-18 05:00] yanliang567 commented on #18689
/assign @NicoYuan1986
/unassign

[2022-08-18 05:58] Uzay-G commented on #17436
The memory usage of the `milvus-etcd` is spiking and causing the container to go OOM and shut down. I wonder why :thinking:

[2022-08-18 06:00] Uzay-G commented on #17436
`milvus-etcd` is somehow hitting the memory limit of 7.5GB of ram/container on my machine. Is there a reason this might be happening? How could it be fixed on my end? Is it just because I have too much data? I have like 80k vectors saved.

[2022-08-18 06:06] zhuwenxing opened #18705 "[Bug]: Search failed with error `Search 15 failed, reason cannot find sealed segment 435367813025103874 in QueryNode err ` after pulsar pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

search raise error when running `verify_all_collections.py` after pulsar pod kill chaos test

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job:  chaos-test/495/pipeline
log:
[artifacts-pulsar-pod-kill-495

[2022-08-18 06:09] XuanYang-cn commented on #17115
/unassign @aakejiang
/assign

[2022-08-18 06:18] zhuwenxing opened #18706 "[Bug]: Querycoord can not recover after querycoord pod kill chaos has been deleted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Querycoord can not recover after querycoord pod kill chaos has been deleted

![image](https://user-images.githubusercontent.com/12268675/185307232-4c6586cc-0aa0-4677-bb35-23b7e5f1c7e1.png)

### Expected Behavior

all pods works well after chaos deleted

### Steps To R

[2022-08-18 06:23] zhuwenxing commented on #18706
[code]

[2022-08-18 06:28] yanliang567 commented on #17436
i suggest you file a new issue for this.

[2022-08-18 06:32] congqixia commented on #15785
@binbinlv after #18702 has been merged, the channel allocation logic is simplified: delta channel is allocated with dml channel, so the conversion rule will always be satisfied. Could you please verify?
/assign @binbinlv

[2022-08-18 06:36] Uzay-G opened #18707 "[Bug]: milvus-etcd usage spikes and makes the container go OOM"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Since the past few days, when I launch milvus through docker-compose, the memory usage of the `milvus-etcd` container slowly spikes until it goes above the memory usage limit / container in docker, which for my system is ~7.6 GB. I have about ~80k vectors in milvus.

[2022-08-18 06:37] Uzay-G commented on #17436
#18707

[2022-08-18 06:39] yanliang567 commented on #18705
/assign @soothing-rain
/unassign

[2022-08-18 06:40] yanliang567 commented on #18707
/assign @LoveEachDay
/unassign

[2022-08-18 06:43] yanliang567 commented on #18706
/assign @jiaoew1991
/unassign

[2022-08-18 07:11] dzqoo opened #18709 "[Bug]: I do not get the rt result displayed in "Milvus 2.1 Benchmark Test Report""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I have tested the milvus2.1.0 in sift1m dataset flowing the steps in here "https://milvus.io/docs/v2.1.x/benchmark.md" and I got a different rt and Relatively low recall.
Here are my result:
(1)oncall
oncall@10~94%
![2fd6f1775581806643577bdc2e74ac1](https://user-image

[2022-08-18 07:13] xiaofan-luan commented on #17674
If we change the compaction policy should this be fixed? we should rely on compaction to cleanup delete record as soon as possible

[2022-08-18 08:14] aoiasd opened #18711 "[Enhancement]:Add Health Check for related components in queryNode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

when we check if the QueryNode is available, we maybe need to check some components related, such as mqMsgStream, to make sure that the QueryNode could work.

### Why is this needed?

related: https://github.com/milvus-io/milvus/issues/18556
When we getShardList or checkAnyRep

[2022-08-18 08:30] congqixia commented on #18659
After inspecting the log, the `Query` request was dispatched to querynode before the loading procedure is completed.
Here are some proof log:
[code]
Note that collection `inMemoryPercentage` was still 0 before `query` request arrived.

There are two problem here:
- Why pymilvus stop check load percentage before collection is actually loaded
- `checkIfLoaded` function does not work and the request

[2022-08-18 08:30] yanliang567 commented on #18709
@dzqoo thank you for verifying the benchmark.
1. i guess the recall is expected, as we used {M: 16, efConstruction: 500} in recall benchmark, while {M: 8, efConstruction: 200} in search benchmark.
2. about the latency, it could be impacted by network latency, or different hardware. Also how did you test the latency？ there is a blog that may help you test our benchmark quickly, please take a look:

[2022-08-18 08:32] yanliang567 commented on #18709
@dzqoo please feel free to share us the network latency, delpoyment configuration, hardware info to help you get the latency in benchmark report.

/assign @dzqoo
/unassign

[2022-08-18 08:40] erezweissgloat commented on #18523
@zhoudayu123 Any news? stuck at the same point

[2022-08-18 08:44] xiaofan-luan commented on #18709
so we split the 32 cores machine into multiple querynode right?

I guess it might make more sense to use only one querynode is working~ because for SIFT 1 M there maybe only one shard working.

[2022-08-18 10:09] NicoYuan1986 commented on #18689
done

[2022-08-18 10:09] #18689 closed

[2022-08-18 10:10] NicoYuan1986 opened #18716 "[Bug]: Add some cases of expression when search and query"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Add some cases of expression when search and query

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-08-18 11:14] dzqoo commented on #18709
@yanliang567 Thank you for answering.

- the network latency is ok. Both the client and server are in the same two machine.  And the latency is also got from milvus metrics and I guess the network latency  can not affect this;
- Milvus is deployed under default configuration that the cpu and memory is not limit;
- hardware info is showed in the following:
![image](https://user-images.githubusercon

[2022-08-18 11:19] LoveEachDay commented on #18707
@Uzay-G Did you keep the default etcd config in the `docker-compose.yaml`?
Here a revised docker-compose yaml which enabled pprof, so that you can check etcd memory usage:
[code]

Now you can access `localhost:2379/metrics` to check the etcd memory usage `process_resident_memory_bytes`, and etcd db size `etcd_mvcc_db_total_size_in_bytes`.

And you can check etcd profile at `localhost:2379/debug/pp

[2022-08-18 11:31] yanliang567 commented on #18709
@dzqoo here are something that our benchmark is different from you test code, please update and retry:
1. use hnsw index with index param {M: 8, efConstruction: 200}, search param {ef:64}
2. use go sdk to do concurrent search instead of python sdk
As I mentioned above, there offers some scripts in the blog that would help you test the benchmark. BTW, you can update concurrent number in go_benchmar

[2022-08-18 11:51] dzqoo commented on #18709
@yanliang567
I just run the office code and get the flowing result and all config is office default.
[2022-08-18 19:44:48.818][    INFO] - Name      #   reqs      # fails  |       Avg       Min       Max    Median  |     req/s  failures/s (benchmark_run.go:212:sample)
[2022-08-18 19:44:48.818][    INFO] - go search     3477     0(0.00%)  |    57.469    30.851   512.164    56.580  |    173.85

[2022-08-18 12:04] dzqoo commented on #18709
@yanliang567
![image](https://user-images.githubusercontent.com/8862305/185389865-e10a1a93-7e2f-4e51-9eec-0266e45d878f.png)
I reduce querynode num from 8 to 2 and I got this result.
Here is my querynode cpu and memory config:
![image](https://user-images.githubusercontent.com/8862305/185390045-b3803abe-9332-42b5-bd26-c81690b9fa02.png)
I guess it is still far behind the office result.

[2022-08-18 12:42] owlwang commented on #18530
Sorry, there are no more tests planned.

As your colleague said etcd is blocking and causing the whole system to crash.
[\"Slow etcd operation save\"] [\"time spent\"=47.075233364s]"

For us it would be very wasteful to have a separate machine dedicated to etcd. For us, we don't need to invest so much resources and maintenance resources for a **standalone system**.

We don't know why a single thre

[2022-08-18 13:49] phgn0 commented on #18443
An alternative fix that worked for me:
[code]

See https://github.com/milvus-io/milvus/issues/7465

[2022-08-18 19:48] iChauster commented on #18637
I see.

I have gotten my example to work with the following code change:
[code]

[2022-08-18 19:48] #18637 closed

[2022-08-18 20:28] Uzay-G commented on #18707
I modified the `docker-compose.yml` like you said but now whenever I do `curl localhost:2379/metrics` or `localhost:2379/debug/pprof` the command just hangs and I never get an output, until the etcd container crashes.

Not sure what to do here. I appreciate your help though, and really hope we can get to the bottom fo this.

[2022-08-19 00:59] yanliang567 commented on #18709
@dzqoo cool, you got the benchmark scripts. As I mentioned above, now you can increase the concurrent_num in go_benchmark.py foot by foot, and find the best qps and latency in certain concurrent_num.
BTW, according to the report, the best concurrent is about 400. Enjoy~:)

[2022-08-19 01:04] yanliang567 commented on #18709
Please keep us posted when you got the best pqs and latency. Also please share the grafana metrics of milvus if convenient. thanks again.  @dzqoo

[2022-08-19 01:34] dzqoo commented on #18709
@yanliang567
I wonder how many querynode is configed under the office benchmark test and how the replicas is configed.

[2022-08-19 01:46] LoveEachDay commented on #18707
@Uzay-G Could you provide the output of `docker-compose ps` ?

[2022-08-19 01:53] yanliang567 commented on #18709
one querynode, one replica

[2022-08-19 02:05] dzqoo commented on #18709
This is amazing! Mine test has two query node in 20 cores host machine and has one replica, but mine test result really can not reach so good performance. I don't know why.

[2022-08-19 02:08] LoveEachDay commented on #18523
@erezweissgloat Have you setup the service account for a iam role following the above instructions?

[2022-08-19 02:16] binbinlv commented on #18705
This error occurs in the nightly for the 2.1.1 branch:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/qa%2Fmilvus-release-nightly/detail/milvus-release-nightly/46/pipeline

1. log: [milvus-distributed-kafka-46-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/qa/job/milvus-release-nightly/46/artifact/milvus-distributed-kafka-46-pymilvus-e2e-logs.tar.gz)
2. collection name:

[2022-08-19 02:24] binbinlv commented on #18705
Reproduced in function nightly, so set it as urgent.

[2022-08-19 02:26] binbinlv commented on #18685
Fixed, so close this issue.

[2022-08-19 02:26] #18685 closed

[2022-08-19 02:28] soothing-rain commented on #18705
/unassign
/assign @congqixia

[2022-08-19 02:35] binbinlv opened #18721 "[Bug]: [Nightly] Search failed reporting "fail to Search, QueryNode ID=5, reason=query node 0 is not ready""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search failed reporting "fail to Search, QueryNode ID=5, reason=query node 0 is not ready":
[code]

### Expected Behavior

Search successfully

### Steps To Reproduce

[code]

### Milvus Log

1. milvus log:[milvus-distributed-kafka-46-pymilvus-e2e-logs.tar.gz](https:/

[2022-08-19 02:35] longjiquan opened #18722 "[Bug]: querycoord return invalid cluster metrics"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Querycoord returned the invalid cluster metrics which contains the offline querynode.

### Expected Behavior

When a querynode goes to be offline, querycoord should invalidate the cluster metrics.

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

[2022-08-19 02:36] longjiquan commented on #18722
/unassign @yanliang567
/assign

[2022-08-19 02:38] dzqoo commented on #18709
I have another question. When I increase the nq and the qps is significant decreases.Here are the result:

- when nq = 1, I got this -> qps =124
![image](https://user-images.githubusercontent.com/8862305/185530536-58ff12ef-351c-4b8d-bb93-ab30787db9fc.png)

- when nq = 10, I got this -> qps = 27.69
![image](https://user-images.githubusercontent.com/8862305/185530685-9f85665f-ec5f-4366-83e2-e2b14392

[2022-08-19 02:39] yanliang567 commented on #18709
As there is only 1 million vectors, only 1 or 2 segments would be generated. so 2 querynodes may not have better performance.  try this
1. use one shard when create the collection
2. wait until build index completed, and the load collection, to ensure all searches are running on index (try release and load collection to ensure this)

[2022-08-19 02:41] aoiasd commented on #18556
/assign

[2022-08-19 02:42] jiaoew1991 commented on #18556
/assign @aoiasd

[2022-08-19 02:43] jennyli-z opened #18723 "[Enhancement]: Add time range filter for export logs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

https://github.com/milvus-io/milvus/tree/master/deployments/export-log
export log can be filter by time range, like latest 24h

### Why is this needed?

logs are large, filter by time range would be nicer

### Anything else?

_No response_

[2022-08-19 02:44] binbinlv opened #18724 "[Bug]: [Nightly] Search failed reporting "fail to search on all shard leaders, err=fail to Search, QueryNode ID=2, reason=Search 7 failed, reason err err: rpc error: code = Unavailable desc = connection error: desc = "transport: Error while dialing dial tcp 10.105.1.25:21123: connect: connection refused"""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search failed reporting "fail to search on all shard leaders, err=fail to Search, QueryNode ID=2, reason=Search 7 failed, reason  err err: rpc error: code = Unavailable desc = connection error: desc = "transport: Error while dialing dial tcp 10.105.1.25:21123: connect

[2022-08-19 02:44] freefoxcm commented on #18415
ok I'll try

[2022-08-19 02:46] congqixia commented on #18721
Hi @binbinlv, the link of the log returns an error. And the run 46 cannot be find in nightly run list.

[2022-08-19 02:49] jingkl commented on #17513
server-instance
fouram-tag-no-clean-st2sf-1
server-configmap
server-single-32c128m-compaction
client-configmap
client-random-locust-insert-delete-35h
pymilvus 2.1.1dev3
milvus 2.1.0-20220809-0e4dc112

[code]

[2022-08-19 02:49] yanliang567 commented on #18709
@dzqoo increasing nq would cause latency decrease, and qps would be decrease as well, this is expected. In production, you can now try multiple replicas to increase qps while keeping latency roughly stable.
BTW, I notice that the last result you pasted has the different search params, and all these params would impact the performance.
1. dim: 128->400
2. dataset: 1m->10m
3. metric_type: L2->IP
4.

[2022-08-19 02:50] binbinlv commented on #18721
@congqixia  I could download it successfully, maybe it is because is in the qa namespace, maybe you did not have access.
I will give to you offline. Thanks.

[2022-08-19 02:54] aakejiang commented on #18724
/assign @congqixia
/unassign

[2022-08-19 02:59] congqixia commented on #18721
@binbinlv from the log, querynode disconnected from the etcd:
[code]
And from etcd log, the etcd server was killed according to the log:
[code]

[2022-08-19 03:07] binbinlv commented on #18664
Maybe the similar issue:
Large numbers of tests failed started from:
[2022-08-18T19:13:15.135Z] [gw4] [ 48%] FAILED testcases/test_search.py::TestCollectionSearchInvalid::test_search_param_invalid_travel_timestamp[-1]

[code]

1. milvus log:
[artifacts-milvus-distributed-kafka-nightly-45-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/45/artifact/arti

[2022-08-19 03:12] congqixia commented on #18721
Please ignore this comment. These logs are from the end of the nightly

[2022-08-19 03:13] congqixia commented on #18721
The actual panic reason was:
[code]

[2022-08-19 03:46] martinenkoEduard commented on #18707
BTW I have suspect I have a similar issue in .deb standalone installation.
What logs do I need to post a bug report?  (what are their locations)

[2022-08-19 03:50] Uzay-G commented on #18707
Before the memory has spiked causing OOM:

[code]

After:

[code]

[2022-08-19 03:50] dzqoo commented on #18709
@yanliang567 Yes ，I have tested  the difference in my datatset.
I have notice that My replicas group  num  keeps  2  when I increase replicas. And I wonder it's normal?
Here is the ouput:
![image](https://user-images.githubusercontent.com/8862305/185538864-ca83a485-b3fb-4b00-a572-ac341f8bb651.png)
`def load_balance_in_one_group(self,collection_name):
        try:
            milvus_sys = MilvusSys

[2022-08-19 03:58] binbinlv commented on #18664
It appears frequently in nightly, so set it as urgent.

[2022-08-19 04:49] yanliang567 commented on #18709
@dzqoo this is expected as you only have 2 querynodes. In short, replica_number  <= querynode_number

[2022-08-19 05:31] congqixia commented on #18724
@binbinlv same here. Cannot download log file.

[2022-08-19 05:57] binbinlv commented on #18724
OK， sent to you.

[2022-08-19 05:59] binbinlv commented on #18624
OK， verifying.

[2022-08-19 06:12] congqixia commented on #18724
QueryNode was terminated by unknown signal
[code]

[2022-08-19 06:22] LoveEachDay commented on #18707
You'd provide the heap profile for the etcd container, use the above instructions.

[2022-08-19 06:25] Uzay-G commented on #18707
Hmm okay I am trying to figure this out. It seems that it's a problem with etcd. It's saved lots of .wal files (above the limit) and when it decodes them it automatically OOMs. Like https://github.com/etcd-io/etcd/issues/10872. I'll keep inspecting.

[2022-08-19 06:26] dzqoo commented on #18709
@yanliang567
I increase querynode num from 2 to 9, the replicas group is still 2. Here is the result
![image](https://user-images.githubusercontent.com/8862305/185556598-57d93f9a-3e25-4dd9-892b-4fa0f097b474.png)

[2022-08-19 06:26] martinenkoEduard opened #18728 "[Bug]: 2.1.1 has problems with loading/releasing a collection."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I created a test collection

fields = [
    FieldSchema(name="pk", dtype=DataType.INT64, is_primary=True, auto_id=False),
    FieldSchema(name="embeddings", dtype=DataType.FLOAT_VECTOR, dim=128)
]

with 1 million of entries.

But I tried to release/load a collection,

[2022-08-19 06:43] yanliang567 commented on #18728
@martinenkoEduard Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

/assign @martinenkoEduard
/unassign

[2022-08-19 06:56] yanliang567 commented on #18709
how did you increase the replica? did yo do like this?
1. collection.release()
2. collection.load(replicas=4)

[2022-08-19 07:09] dzqoo commented on #18709
@yanliang567 Yes ,I did this. Here is the code：
`REPLICA_NUMBER = 5
 def load_data(self, collection_name):
        # load data from disk to
        try:
            self.set_collection(collection_name)
            self.collection.load(replica_number=REPLICA_NUMBER)
        except Exception as e:
            LOGGER.error(f"Failed load data: {e}")
            sys.exit(1)
`

[2022-08-19 07:40] yanliang567 commented on #18709
@dzqoo I mean you have to release and reload collection to change the replica number. did you release collection

[2022-08-19 07:45] dzqoo commented on #18709
@yanliang567  surely

[2022-08-19 07:51] yanliang567 commented on #18709
Mmm... then we have to look into the logs.
@dzqoo Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

[2022-08-19 08:04] dzqoo commented on #18709
@yanliang567 Here are the all logs exported by office script.Please have a look.Thank you~
[logs.tar.gz](https://github.com/milvus-io/milvus/files/9380276/logs.tar.gz)

[2022-08-19 08:06] jiaoew1991 commented on #18674
add new rpc endpoint  GetCompactionState for `datanode`
remove CompleteCompaction for `datacoord`

add new config `dataCoord.compaction.check.interval` which default value is 10, the cycle of `datacoord` to checks the status of the compaction task

[2022-08-19 08:07] jaime0815 opened #18729 "[Bug]: password verification can not use cache"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The password verification costs a long time that will lead to the throughput slowing down.

![origin_img_v2_d6ff0dd6-78b2-4634-82c6-11c449dd1a8g](https://user-images.githubusercontent.com/4024711/185573204-26c4d037-a75f-454f-b323-a4b03ce91c14.jpg)

![kLTNSZQLly](https

[2022-08-19 08:30] xTerry commented on #18577
how many vectors in each collection? 900M(1 server) vectors (17 servers , all vectors :900M * 17)
vector dimension? 256
what index? IVF_SQ8
the operation steps of your client  (continually insert? continually call get_entity_by_id()? any search request?) ：rw：continually insert；ro：search request（ 3 months data to memory ）; dataMemory manager program: load new month data and release old month data (

[2022-08-19 08:43] jiaoew1991 commented on #18659
/assign @aoiasd

[2022-08-19 08:53] bestRiven opened #18731 "[Bug]: Official website Chinese document"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Please help me recover the Chinese documents on the official website. Thank you

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-08-19 08:56] shanghaikid commented on #18731
Thank you, we are not supporting Chinese doc, you can refer here for the chinese doc. Thanks.
https://github.com/milvus-io/web-content/tree/master/v2.0.x/site/zh-CN

[2022-08-19 09:01] XuanYang-cn commented on #18671
/unassign
/assign @NicoYuan1986

[2022-08-19 09:13] binbinlv commented on #18624
Verified in master ([master-20220819-0929c38](https://hub.docker.com/layers/milvus/milvusdb/milvus/master-20220819-0929c38/images/sha256-1c34ce271bf7387dfc1e29551ffb3e81e712216b6edb0081c36f7408e1403d85?context=explore)), it is fixed, so close it.
[code]

[2022-08-19 09:13] #18624 closed

[2022-08-19 10:15] yanliang567 commented on #18709
/assign @jiaoew1991
/unassign

[2022-08-19 10:20] yanliang567 commented on #18709
@dzqoo just curious, did you get the benchmark report result  if using the same dataset and configurations as benchmark report?

[2022-08-20 07:49] xiaofan-luan commented on #18686
/assign @longjiquan

[2022-08-20 07:50] #18731 closed

[2022-08-20 07:50] xiaofan-luan commented on #18665
/assign @sunby
We need to change the balance algorithm soon as possible, can we back port the algorithm of balance by entity numbers to 2.1?

[2022-08-20 07:55] xiaofan-luan commented on #18555
Any plan we will fix it soon?
Empty segment is critical since it will cause flush issues

[2022-08-20 08:16] xiaofan-luan commented on #18645
1. There seems to be a issue a loadbalancer,  only 3 of the 5 node is working. @sunby
2.  each node takes only 6 cpu cores, from attu each machine seems to have more than 20 cores, does that make sense?

[2022-08-20 08:22] xiaofan-luan commented on #18645
@dzqoo
pls do not use multiple replicas. Use 1 replica instead and try

[2022-08-20 08:26] xiaofan-luan commented on #18645
@dzqoo
I saw you have 5 querynodes, does they share same machines?
From the attu, 2 of the nodes has 20 cores, the other three has 36 cores, do you know the reason?

[2022-08-20 15:32] zigapk commented on #18638
@xiaofan-luan I'd like to inform you that the disk space started to drop now. Still wondering why it had to go into the terabytes.

[2022-08-21 02:07] yovelcohen opened #18747 "[Feature]: Publish allowed characters"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

I tried to run a query against a list of strings:
[code]
and kept getting errors like:
[code]

### Describe the solution you'd like.

now that filtering by strings is possible, it'll be great if a list curating examples of valid/invalid queries an

[2022-08-21 02:21] xiaofan-luan commented on #18747
/assign @xige-16 pls help on investigating the character issue

[2022-08-21 02:29] xiaofan-luan commented on #18638
The garbage collection policy will be working only after "common.retentionDuration", by default is 5 days.
So even data is deleted, or compaction happened, the data will be recycled  5 days later.
This is for time travel usage, we are considering to change the default retention time to 1 day so data can be recycled faster.

[2022-08-21 02:38] xiaofan-luan opened #18748 "[Enhancement]: Change Time Travel Retention Time to 1 Day by default"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

We've seen many case data is deleted and can not be cleaned, this might due to time travel retention is set to too long so compaction can not clean old delete mark/deleted data.
We decide to change retention time to 1 day so user still has the choice to do timetravel is they h

[2022-08-21 02:50] xiaofan-luan commented on #17508
I have one question about this issue.
By flushing(we should definitely name it as sync, flush is more like seal the segment), user want to ensure all the inserted data is synced to Minio.
After the change the semantic has been breaked, we have no guarantee that  inserted data is on minio, which may cause data loss when you do backup or migration.
My suggestion is:
1) Flush should still return all

[2022-08-21 08:39] erezweissgloat commented on #18523
Works now, service account defected. Thanks!!!

[2022-08-21 10:04] qggcs commented on #17023
Hi! I would like to contribute this feature via [WeOpen-Star](https://github.com/weopenprojects/WeOpen-Star). I would like to know where the query function is and how to implement it, I would appreciate if you guys could give me some guidance!

I've made some contributions for [MariaDB](https://github.com/mariadb-corporation/mariadb-columnstore-engine/pull/2425) for json functions and I think I ca

[2022-08-22 01:42] dzqoo commented on #18645
@xiaofan-luan
Yes, my 5 querynodes share the three machines which two have 32 cores and another has 20 cores.

[2022-08-22 01:46] dzqoo commented on #18709
@yanliang567  I did this also, BUT the result is still not that good.
AS for the unchanged replicas group , do you have any suggestions?

[2022-08-22 02:01] #18729 closed

[2022-08-22 02:21] aakejiang commented on #18724
minio log:

[code]

Seems the resource problem, it's ok now for the latest runs.

[2022-08-22 02:24] jiaoew1991 commented on #18709
hi @dzqoo , from querycoord's logs we can find the replica number is 5, you can check it by this file [replica.log](https://github.com/milvus-io/milvus/files/9390708/replica.log),

Also to answer the [65, 56] that appears in the log is a node group, not a replica group, which means these two node combined together to become a replica

Also, from the log, the shard number is still 2, not 1

[2022-08-22 02:29] zhuwenxing commented on #18705
It reproduced stably

[2022-08-22 02:31] zhuwenxing commented on #18706
It reproduced stably

[2022-08-22 02:32] zhuwenxing commented on #18706
Not sure whether it is related to https://github.com/milvus-io/milvus/issues/18608

[2022-08-22 02:32] yhmo commented on #18666
"Socket closed" indicated the server has crashed.
Possible reason to crash the server: GPU OOM during the search

[2022-08-22 02:47] binbinlv opened #18754 "[Bug]: [mysql] Milvus is crashed with panic "ShowPartitions failed: can't find collection id""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus is crashed with panic "ShowPartitions failed: can't find collection id"

[code]

### Expected Behavior

No errors

### Steps To Reproduce

[code]

### Milvus Log

1. milvus log: [milvus-standalone-40-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job

[2022-08-22 02:48] binbinlv commented on #18754
@aakejiang
Could you please have a look first since it happens in mysql pipeline?

Thanks.

[2022-08-22 02:51] XuanYang-cn commented on #18529
available at pymilvus 2.1.1

[2022-08-22 02:51] #18529 closed

[2022-08-22 02:52] jiaoew1991 commented on #17674
we can try it, `time travel` will be weakened

[2022-08-22 03:04] zhuwenxing opened #18755 "[Bug]: Proxy pod can not recover with error `Failed to enqueue delete task: syncTimestamp Failed:context canceled` after etcd pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

running test_e2e.py failed with error `Fail connecting to server on 10.101.48.180:19530`

![image](https://user-images.githubusercontent.com/12268675/185829698-de4e5799-7341-444b-94f2-912479b25679.png)

[code]

### Expected Behavior

all test cases passed

### Steps T

[2022-08-22 03:13] ThreadDao commented on #18652
@congqixia There also has a problem with load failure. Are you free to help take a look?
1. Deploy standalone with CPU 2 and memory 9Gi limit
2. Concurrent insert data into 20 collections which has 16 shards, and pod OOMKilled
3. Scale up standalone CPU to 4, memory to 16Gi, and pod re-running
4. Run the e2e-test, and collection always load failed
[code]

client pod: scale-up-oom-tcgts-3661422963,

[2022-08-22 03:20] zhuwenxing opened #18756 "[Bug]: Search failed when running `verify_all_collections.py` with error `stream operation failed: deadline exceed` after querynode pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/598/pipeline
log:
[artifacts-querynode-pod-kill-598-server-log

[2022-08-22 03:32] zhuwenxing opened #18757 "[Bug]: Load timeout after pulsar and querycoord pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/185832619-7916bf55-db59-4e8e-af12-71223baf4f34.png)
client:
[code]
server
[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job:
https://qa-je

[2022-08-22 03:47] zhuwenxing opened #18758 "[Bug]: Create index timeout after indexnode pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/185833535-fb12b4b6-3985-4f7b-8b21-0ef74f480aaa.png)

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/

[2022-08-22 03:49] LoveEachDay commented on #18707
@Uzay-G Could you try to use `pprof` tools to analysis the etcd memory usage? Try the following command:
[code]
To show the top heap memory usage for etcd container.

[2022-08-22 03:53] dzqoo commented on #18709
@jiaoew1991 Emmm，I got that.Thank you for answering.
I will chang the shard number and retest.

[2022-08-22 03:55] dzqoo commented on #18645
1 replica will cause qps decreased. I got that increasing replica will increase the thoughtouput.

[2022-08-22 03:55] yanliang567 commented on #18709
@dzqoo actually i don't think you have to update shard number to 1, because you have more than 1 million vectors. We set shard=1 only when running perf on 1 million dataset.

[2022-08-22 04:06] zhuwenxing opened #18759 "[Bug]: Search failed with error `ShardCluster for by-dev-rootcoord-dml_8_435422380333989889v0 replicaID 435422368070369315 is no available` after querynode pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/185836677-dbc6ebea-e697-4b2c-bf49-c3b82eb1a300.png)

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/

[2022-08-22 05:52] wg1026688210 opened #18760 "[Feature]: add user special kafka config"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Users can specify the configuration of the kafka client through kafka.consumer.xxx=yyy, kafka.producer.aaa=bbb, kafka.producer.ccc=ddd.
In our usage scenario, we use client.id to authorize the kafka client. With this configuration, we can easily c

[2022-08-22 06:01] wg1026688210 opened #18761 "[Bug]: remove redundant slashes at config"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Found an extra slash at [this](https://github.com/milvus-io/milvus/blob/9589bd38137a84e480ce0a26941c2c1220f264ad/internal/util/paramtable/base_table.go#L110)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

#

[2022-08-22 06:01] binbinlv commented on #17750
Same issue appears again in the following latest 2.1.* nightly:

https://jenkins.milvus.io:18080/blue/organizations/jenkins/qa%2Fmilvus-release-nightly/detail/milvus-release-nightly/53/pipeline/177

1. milvus log:
[milvus-distributed-kafka-53-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/qa/job/milvus-release-nightly/53/artifact/milvus-distributed-kafka-53-pymilvus-e2e-logs.tar.gz)

[2022-08-22 06:08] martinenkoEduard opened #18762 "[Bug]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The whole weekends the server was loading vectors one by one. Each time recreating connection.
something like 200k-300k vectors
All seemingly went fine, without shutdowns and reboots. And then on the monday i get the following error:

When accessing milvus it shows th

[2022-08-22 06:11] martinenkoEduard opened #18763 "[Bug]: Milvus won't start. Milvus Proxy is not ready yet. please wait"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The whole weekends the server was loading vectors one by one. Each time recreating connection.
something like 200k-300k vectors
All seemingly went fine, without shutdowns and reboots. And then on the monday i get the following error:

When accessing milvus it shows th

[2022-08-22 06:12] #18762 closed

[2022-08-22 06:16] Sivannnnnn opened #18764 "[Bug]: Abnormal memory usage"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

My table structure, primary key: INT64, vector: 128-dimensional float32 vector. Other service fields are int8, INT8, int16, and int32. There are six fields in total. When using IVF_SQ8 index and 150 million data, only the primary key and vector, the memory usage is 30

[2022-08-22 06:18] binbinlv commented on #18721
Same issue occurs again:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/qa%2Fmilvus-release-nightly/detail/milvus-release-nightly/50/pipeline/177

1. milvus log:
[milvus-distributed-kafka-50-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/qa/job/milvus-release-nightly/50/artifact/milvus-distributed-kafka-50-pymilvus-e2e-logs.tar.gz)

2. collection name: query_FE5RVxgr

3.

[2022-08-22 06:20] NicoYuan1986 commented on #18716
done

[2022-08-22 06:20] #18716 closed

[2022-08-22 06:29] wg1026688210 opened #18765 "[Enhancement]: request querynode directly on proxy for low lantency search request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

For the collection of small data volume requests, we need to query low latency.

Now we think of a simplest solution: by some low-consumption load balancing strategies on the proxy node, request the querynode directly on the proxy, so that there is no need to forward the reque

[2022-08-22 06:34] huangjincheng2022 opened #18766 "[Bug]: Add test cases for RBAC"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

NA

### Expected Behavior

NA

### Steps To Reproduce

[code]

### Milvus Log

No response

### Anything else?

No response

[2022-08-22 07:02] martinenkoEduard commented on #18728
I accidentally deleted the vm, so I lost all logs. The issue haven't showed again.

[2022-08-22 07:26] yanliang567 commented on #18728
@martinenkoEduard we do not reproduce this issue locally. Do you mind closing this issue for now? You could reopen it if it reproduced to you.

[2022-08-22 07:32] weiliu1031 commented on #18664
root cause:
1. query coord task scheduler hangs, and waiting load segment task on query node to finish
2. load segment task hangs on query node, due to reading delta msg from Kafka.

one more thing to track down:
Why does consuming delta msg from Kafka get stuck?

[2022-08-22 07:33] yanliang567 commented on #18764
@Sivannnnnn thank you for the issue. Could you please share more info:
1. how did you delploy milvus, cluster or standalone, deployment cofnigurations?
2. how did you insert and build data, reproduce code snippet? did you have delete operations?
3. refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation

/assign

[2022-08-22 07:41] martinenkoEduard commented on #18763
Btw - how do I change ETCD config? It seems to use special version of ETCD - milvus-etcd.

[2022-08-22 07:41] Sivannnnnn commented on #18764
1. - Milvus version: v2.1.0
- Deployment mode(standalone or cluster): standalone
- SDK version(e.g. pymilvus v2.0.0rc2): java
- OS(Ubuntu or CentOS): centos
- CPU/Memory: 36 core 128G RAM
- GPU:
- Others:

2.I use batch insert, vector and scalar fields are inserted together, the vector field memory is normal, there is no other operation, just insert, then load

[2022-08-22 07:49] yanliang567 commented on #18763
/assign @LoveEachDay
/unassign

[2022-08-22 07:55] #18728 closed

[2022-08-22 08:01] martinenkoEduard commented on #18763
Could it be because I create a new connection on every request?

connections.connect("default", host=MILVUS_HOST, port=MILVUS_PORT)
collection = Collection("faces")
collection.load()
connections.disconnect("default")

[2022-08-22 08:01] jingkl commented on #18318
fouram-cron-1661097600-5
server-configmap
server-cluster-8c16m
client-configmap
client-acc-glove-ivf-flat

master-20220820-e712b23

[code]

[code]

[2022-08-22 08:30] congqixia opened #18767 "[Enhancement]: Add semver in etcd Session"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add semver attribute in etcd session struct

### Why is this needed?

It's needed to distinguish node version when upgrading Milvus cluster.
We could provide a valid range of version coordinator could handle so that no logic error will occur.

### Anything else?

_No response_

[2022-08-22 08:51] qggcs commented on #17023
@xiaofan-luan @soothing-rain cc

[2022-08-22 08:58] LoveEachDay commented on #18763
@martinenkoEduard By default, etcd installed with milvus deb package doesn't enable compaction. You'd enable compaction for etcd by change the following configurations to `/usr/lib/systemd/system/milvus-etcd.service` file.
[code]

[2022-08-22 09:26] czs007 commented on #17023
@qggcs Thanks for your enthusiasm, can you provide more information about you? so that we can better communicate and work on this proposal. my email: zhenshan.cao@zilliz.com

[2022-08-22 09:48] martinenkoEduard commented on #18763
Does it have any disadvantages? Why isn't it default?

What about docker compose and cluster version?

Maybe i need to tweek something else?

[2022-08-22 09:49] zigapk commented on #18619
I don't think this is the issue. I've configured all of parameters related to that and the behaviour stays the same. My `milvus.yaml`:

[code]

[2022-08-22 09:50] martinenkoEduard commented on #18763
--auto-compaction-retention='1000'

What value should i set?
1000 in hours?
Isn't a lot?

My system.worked for 78 hours tops, before encountering a bug.
Maybe even less

[2022-08-22 11:21] jingkl commented on #18211
server-instance
fouram-tag-no-clean-g4m6q-1
server-configmap
server-single-32c128m-redur0
client-configmap
client-random-locust-100m-ddl-r8-w2-60h

2.1.0-20220819-671d629f
pymilvus:2.1.1.dev3

Verified, the problem has not yet appeared, first close issue

[2022-08-22 11:21] #18211 closed

[2022-08-22 11:28] jingkl commented on #18508
server-instance
fouram-cluster-cron-1661115600-1
server-configmap
server-single-32c128m
client-configmap
client-get-local50m-512
master-20220820-e712b23

2.2.0dev3

[code]
[code]

[2022-08-22 11:34] martinenkoEduard commented on #18763
Do I need to defrag?

[2022-08-22 12:04] soothing-rain commented on #18652
Flush hang issues is resolved in https://github.com/milvus-io/milvus/pull/18733

@congqixia Can you help with the load failure issue? Thanks!

/unassign
/assign @congqixia

[2022-08-22 12:14] soothing-rain commented on #18652
/assign @weiliu1031

[2022-08-22 15:22] martinenkoEduard commented on #18763
is it wise to set
etcdctl compact
etcdctl defrag

In a script (cron)?

defrag seems to free a lot of space..

[2022-08-22 18:38] congqixia opened #18774 "[Enhancement]: Use segment statslog instead of separated statslog for each binlog"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Use segment statslog instead of separated statslog for each binlog

### Why is this needed?

Separated statslog (Bloom filter) for each binlog file cost a lot of time to generate and load.

### Anything else?

#18767 is needed to maintain compatibility.

[2022-08-23 01:11] nicolasf commented on #18220
Seems like I have the same problem using Milvus 2.1.1.

Out of 3 query nodes, 2 seemed to finish loading a 117M collection correctly, and the last node spent quite some time trying to load some specific data and failed, until it gave up and the whole index was discarded from memory on the cluster.

Here's part of the log:

`[2022/08/23 00:52:08.476 +00:00] [INFO] [querynode/segment_loader.go:375]

[2022-08-23 01:14] yanliang567 commented on #18220
@nicolasf thank you for updates. did you(sdk) get any error when you try to load the collection? if yes, please open a new issue and refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation

[2022-08-23 01:18] yanliang567 commented on #18761
great, i think you were working on this issue.
/assign @wg1026688210
/unassign

[2022-08-23 01:18] yanliang567 commented on #18758
/assign @longjiquan
/unassign

[2022-08-23 01:19] yanliang567 commented on #18756
/assign @jiaoew1991
/unassign

[2022-08-23 01:19] yanliang567 commented on #18755
/assign @soothing-rain
/unassign

[2022-08-23 01:20] yanliang567 commented on #18759
/assign @jiaoew1991
/unassign

[2022-08-23 01:21] yanliang567 commented on #18757
/assign @soothing-rain
/unassign

[2022-08-23 01:23] yanliang567 commented on #18596
@DazzlingGalaxy https://milvus.io/ is the only official home page for milvus. If there are any issues in it, please feel free to file new tickets. thanks.

[2022-08-23 01:23] #18596 closed

[2022-08-23 01:31] yanliang567 commented on #18595
yes, if you had less partitions and only had one partition online(loaded) at the same time. Just in case that the max number of partition for a collection is 4096.

[2022-08-23 01:31] yanliang567 commented on #18551
/assign @jiaoew1991
/unassign

[2022-08-23 01:36] yanliang567 commented on #18454
@congqixia was this fixed?

[2022-08-23 01:37] yanliang567 commented on #18444
seems not reproduce, close for now

[2022-08-23 01:37] #18444 closed

[2022-08-23 01:37] yanliang567 commented on #18172
any updates ? @wayblink

[2022-08-23 01:44] matt1209 opened #18776 "[Bug]: failed to search on all shard leaders, err=fail to Search, QueryNode ID=89"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I run `collection.search` , the error raised: `fail to search on all shard leaders, fail to Search, QueryNode ID=89`.

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

![ed020480-7e99-48e1-a568-1a16d1a4f361](https://user-image

[2022-08-23 01:48] jiaoew1991 commented on #18652
Does load failure bug like this one https://github.com/milvus-io/milvus/issues/18664 ?

[2022-08-23 02:06] wayblink commented on #18172
Bulkload related issue is handling in a separate branch. This issue has been resolved. will merge into master after all bulkload refactor is done.

[2022-08-23 02:12] yanliang567 opened #18777 "[Enhancement]: print knowhere version in milvus log"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

 print knowhere version in milvus log

### Why is this needed?

so that we can easily confirm which knowhere is running in logs

### Anything else?

_No response_

[2022-08-23 02:17] zhuwenxing commented on #18757
querycoord pod kill
* failed job
    *  https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/643/pipeline
* log:
    * [artifacts-querycoord-pod-kill-643-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9398774/artifacts-querycoord-pod-kill-643-server-logs.tar.gz)
    * [artifacts-querycoord-pod-kill-643-pytest-logs.tar.gz](https://github.com/milvus-io/

[2022-08-23 02:21] congqixia opened #18778 "[Bug]: metastore implementation cannot handle concurrent insert"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When create rbac object concurrently, we may end up with multiple lines with same name.

### Expected Behavior

All RBAC object shall be unique in names.

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-08-23 02:26] zhuwenxing commented on #18409
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/640/pipeline
log：
[artifacts-indexnode-pod-kill-640-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/9398804/artifacts-indexnode-pod-kill-640-pytest-logs.tar.gz)
[artifacts-indexnode-pod-kill-640-server-logs (2).tar.gz](https://github.com/milvus-io/milvus/files/9398806/artifacts-indexnode-

[2022-08-23 02:27] zhuwenxing commented on #18409
@wayblink  please help to take a look, it happened again

[2022-08-23 02:27] #18703 closed

[2022-08-23 02:29] congqixia commented on #18454
@yanliang567 just checked the last standalone run of CI(ms-18745-3). The os threads number(go runtime) is 71 at most. It's expected to have more thread in OpenMP thread pool but still under control.

[2022-08-23 02:29] wayblink commented on #18409
get it

[2022-08-23 02:33] zhuwenxing commented on #18409
failed job： https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/640/pipeline
log:
[artifacts-indexnode-pod-kill-640-server-logs (3).tar.gz](https://github.com/milvus-io/milvus/files/9398845/artifacts-indexnode-pod-kill-640-server-logs.3.tar.gz)
[artifacts-indexnode-pod-kill-640-pytest-logs (1).tar.gz](https://github.com/milvus-io/milvus/files/9398846/artifacts-inde

[2022-08-23 02:39] zhuwenxing commented on #18759
same for etcd pod kill
failed job：https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/646/pipeline
log：
[artifacts-etcd-pod-kill-646-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9398864/artifacts-etcd-pod-kill-646-server-logs.tar.gz)
[artifacts-etcd-pod-kill-646-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/9398866/artifacts-etcd-po

[2022-08-23 02:54] ThreadDao commented on #13045
@XuanYang-cn
1. Don't load or index while auto compaction

I guess users will definitely have such a scenario. We have no way to restrict users from not doing load and index during auto compact. It is also difficult for users to judge whether there is automatic compression

2. Get query segment info after 30s.
We allow the get_query_segment_info to be called many times within 60 seconds

[2022-08-23 02:55] soothing-rain commented on #18652
Could chat with @ThreadDao if there's an image with a fix that we'd like to try.

[2022-08-23 02:55] soothing-rain commented on #18652
Could chat with @ThreadDao if there's an image with a fix that we'd like to try.

[2022-08-23 02:58] binbinlv commented on #18724
It occurs again in master branch nightly:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/53/pipeline/155

1. milvus log:
2. collection name: search_collection_ujhKnCzS
3. error message:
[2022-08-22 19:10:48 - ERROR - ci_test]: (api_response) : <MilvusException: (code=1, message=fail to search on all shard leaders, err=fail to Search, QueryNode ID=5,

[2022-08-23 02:59] binbinlv commented on #18724
So cancel mysql label, it is not mysql only issue.

[2022-08-23 03:44] zhuwenxing opened #18780 "[Bug]: Pulsar bookie crashloopbackoff after pulsar pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/628/pipeline
log:
[artifacts-pulsar-pod-kill-628-server-logs (

[2022-08-23 03:59] jiaoew1991 commented on #18573
redesign compaction timeout is related to this issue https://github.com/milvus-io/milvus/issues/18674

[2022-08-23 05:27] martinenkoEduard commented on #18763
I tried to restore milvus:
It shows Error: context deadline exceeded.

[2022-08-23 05:33] martinenkoEduard commented on #18763
Btw - on this database ETCD db size shos 2.1 GB
After defrag it is 1.9.

Something isn't righ i suppose)

[2022-08-23 06:00] yanliang567 commented on #18776
@matt1209 thank you for the issue. Did you also change the index type in collection_prepare.py? It seems that you are using ivf_ index in search params, while it build hnsw index in collection_prepare.py?
Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

/assign @matt1209
/unassign

[2022-08-23 06:02] aakejiang opened #18785 "[Bug]: Separate create & update user in mysql"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

In Etcd, create & update are the same semantics in api, they both use save api to do the same thing. While in mysql, it's different from Etcd.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything els

[2022-08-23 06:22] LoveEachDay commented on #18763
Enable auto compaction will decrease the memory usage, but it add some cpu overhead. And you can inspect the overhead via the log like this:
[code]

We've enabled auto compaction for etcd in docker-compose, milvus helm chart, and milvus operator.  For deb and rpm package installment, we'll enable compaction in the next version.

You may also need to change the db quota to 4G like this:
[code]

[2022-08-23 06:26] LoveEachDay commented on #18763
Etcd compaction has two mode: `periodic`, which means how often to trigger a compaction, `revision`, which means after how many writes to trigger a compaction.

We'll set the compaction mode to `revision`, and set `--auto-compaction-retention='1000'` means after 1000 writes, it will trigger a compaction.

[2022-08-23 06:43] jiaoew1991 commented on #17674
after change `common.retentionDuration` to 0, behavior change to OOM by sealed segment

<img width="991" alt="image" src="https://user-images.githubusercontent.com/2297455/186088832-da5eb5cd-6a60-4fd2-9884-d09d05f17814.png">

[2022-08-23 06:51] XuanYang-cn commented on #18659
pymilvus-2.2.0.dev23 @binbinlv  Please use this version to test

[2022-08-23 07:16] martinenkoEduard commented on #18763
Is it ok?
sudo crontab -e
*/5 * * * * /home/administrator/etcd_clear.sh

etcd_clear.sh
export ETCDCTL_API=3
rev=$(ETCDCTL_API=3 etcdctl endpoint status --write-out="json" | egrep -o '"revision":[0-9]*' | egrep -o '[0-9]*')
ETCDCTL_API=3 etcdctl --endpoints=localhost:2380,localhost:2379 compact $rev
ETCDCTL_API=3 etcdctl --endpoints=localhost:2380,localhost:2379 defrag
echo "last revision $rev" > /

[2022-08-23 07:16] jaime0815 opened #18788 "[Bug]: Rocksmq message ID compare fail with LessOrEqualThan method"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

current only checking for less than the condition
[code]
the comparison condition should be rid.messageID <= rMsgID

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-08-23 07:17] martinenkoEduard commented on #18763
Should I set? --quota-backend-bytes='8589934592'

[2022-08-23 07:19] XuanYang-cn commented on #18565
/assign @aoiasd

[2022-08-23 07:20] jiaoew1991 commented on #18706
It's different

[2022-08-23 07:22] jingkl opened #18791 "[Bug]: [benchmark][standalone] Milvus search time is getting longer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior
**Milvus master's image search time is much slower than that of Milvus 2.1 image.
The same environment, the same search parameters, master image search time in more than 100s, 2.1 image search time in about 5s**

server-instance
fouram-cron-1661184000-6
server-configma

[2022-08-23 07:27] JackLCL commented on #18776
![image](https://user-images.githubusercontent.com/53512883/186097366-d2935102-b052-43b5-985b-a2041906218d.png)

What's your topk?  The ef parameter must in [top_k, 32768].

[2022-08-23 07:28] LoveEachDay commented on #18763
It's not recommended to write a cronjob to trigger a compaction. Just enable auto compaction for etcd config.
And defrag may be needed but not at every 5 minutes, maybe every 24 hours.

And for `quota-backend-bytes`, we've tested 1 billion collection, 4GB is enough.

[2022-08-23 07:30] yanliang567 commented on #18776
I see, topk does not matter here. Milvus will use topk as ef if ef<topk.
please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation. we shall have all completed logs to analzye the issue.

[2022-08-23 07:39] matt1209 commented on #18776
I'm sorry I can't provide here because we don't have internet for all computers.

[2022-08-23 07:42] matt1209 commented on #18776
Is this caused by I run the benchmark script 5 times?

[2022-08-23 07:50] yanliang567 commented on #18776
it's hard to tell if no completed logs.  does it only reproduce when you run the scripts for 5 times? what about for 1 time?
 How did you deploy milvus,with helm, operator or docker compose? did you limit the cpu or memory for milvus?

[2022-08-23 07:59] NicoYuan1986 opened #18794 "[Bug]: [Nightly]Milvus crashed with large numbers of failed cases"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus crashed with large numbers of failed cases ,which started at about 2022-08-22T23:44:59.308Z

[code]

### Expected Behavior

PASSED

### Steps To Reproduce

[code]

### Milvus Log

1. milvus log : https://jenkins.milvus.io:18080/blue/organizations/jenkins/qa%2Fm

[2022-08-23 08:24] NicoYuan1986 commented on #18794
If the log can't be reached , contact me.

[2022-08-23 08:24] NicoYuan1986 commented on #18794
Milvus Log:
[milvus-distributed-pulsar-55-pymilvus-e2e-logs.tar.gz](https://github.com/milvus-io/milvus/files/9400749/milvus-distributed-pulsar-55-pymilvus-e2e-logs.tar.gz)

[2022-08-23 08:27] martinenkoEduard commented on #18763
Does it have any disadvantages to set quota-backend-bytes to 8?

[2022-08-23 08:30] matt1209 commented on #18776
Hi, I just tried for run 1 time but when I did search, there was an error msg : `check if Loaded failded when search, partitions:[], err=showPartitions failed, reason=collection xxxx has not been loaded into QueryNode`. Do it must be loaded before search? I tried to run load() but it takes long time and large memery to load.

[2022-08-23 08:39] LoveEachDay commented on #18763
No. You can take a reference from here for etcd maintenance: https://etcd.io/docs/v3.5/op-guide/maintenance/

[2022-08-23 08:48] yanliang567 commented on #18776
this error indicates that collection load failed. I guess you don't have enough free memory for load the collection.

[2022-08-23 08:59] matt1209 commented on #18776
Is there anyway that I can do search on hard disk instead loading to memory? I deploy milvus with docker compose but cpu mem is not enough.

[2022-08-23 09:50] zxcvjl opened #18798 "[Bug]: Milvus docker hangs up"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After the query is started, the docker of Milvus is directly hung up within 10 minutes

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

[Uploading milvus2022-08-23.log…]()

### Anything else?

_No response_

[2022-08-23 09:52] zxcvjl commented on #18798
[milvus.log](https://github.com/milvus-io/milvus/files/9401466/milvus.log)

[2022-08-23 09:52] zhuwenxing opened #18799 "[Bug]: Search failed with error fail to search on all shard leaders, err=fail to Search, QueryNode ID=17, reason=ShardCluster for by-dev-rootcoord-dml_9_xxxv1 replicaID xxx is no available after etcd pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The search failed when running `verify_all_collections.py` after etcd pod kill chaos test
![image](https://user-images.githubusercontent.com/12268675/186128001-158078a2-f662-4803-8f37-e36312ae8e1c.png)

[code]

### Expected Behavior

all test cases passed

### Steps T

[2022-08-23 09:54] zhuwenxing commented on #18780
Not a stable issue. In my second try, it did not happened

[2022-08-23 09:56] jiaoew1991 commented on #18794
It seems like this one https://github.com/milvus-io/milvus/issues/18664

[2022-08-23 09:59] zxcvjl commented on #18798
![image](https://user-images.githubusercontent.com/10806552/186130222-09aee740-36c5-46b2-a16b-2955b677543d.png)

[2022-08-23 10:22] Roger-Z commented on #18665
Can you plz provide an ETA of fix? our data growing fast, I am really concerned about the consequence when memory usage is larger than the max memory of my server.

[2022-08-23 11:22] #18674 closed

[2022-08-23 11:50] paragor commented on #16959
or querynode can handle *TERM(sigterm for example), mark itself as offline and wait some time

[2022-08-23 11:57] xiaofan-luan commented on #18791
/assign @cydrain

[2022-08-23 12:35] #18788 closed

[2022-08-23 12:45] xiaofan-luan commented on #18764
ThreadSafeVector might be the main reason.
We use std::deque to store data, which may extra data explosion.
What do you think @xige-16 ?

[2022-08-23 14:29] yanliang567 commented on #18776
i am afraid not. But a good news is that the community is going to offer a new disk-based index type, which would save about 5-6 times of memory. If everything goes well, it will be available soon this year.

[2022-08-23 20:12] martinenkoEduard commented on #18763
What about docker compose version of standalone milvus?
Do i need to change auto-compaction-retention= and set defrag?

What is the best way to do it? Without rebuilding the whole image

[2022-08-24 00:56] yanliang567 commented on #18799
/assign @jiaoew1991
/unassign

[2022-08-24 01:24] yanliang567 commented on #18798
@zxcvjl could you please share the timestamp of search and hand, as according to the log i can see the last search completed successfully at 2022/08/23 09:51:11.280
`[2022/08/23 09:51:11.280 +00:00] [DEBUG] [timerecord/time_recorder.go:78] ["proxy execute search 435486251862458611: done (95ms)"]`
and then the collection was released immediately:
`[2022/08/23 09:51:11.318 +00:00] [DEBUG] [proxy/imp

[2022-08-24 01:26] yanliang567 commented on #18794
/assign @jiaoew1991
/unassign

[2022-08-24 01:31] yanliang567 commented on #18791
Emm...2.1.0-20220822-ab30ebb1 is just the build that upgraded to knowhere 1.2, while master-20220822-641afae is not.

[2022-08-24 01:32] yanliang567 commented on #18780
sounds like a pulsar issue >(

[2022-08-24 02:04] wayblink commented on #18619
The log you uploaded shows an obvious null pointer bug. It has been fixed in the latest code. Could you upgrade your milvus and retry? Please let me know if you have any problem in retry.

[2022-08-24 02:22] jiaoew1991 commented on #18799
maybe we should waiting for QueryCoordV2's code checkin. the behavior of Chaos Test will be better

[2022-08-24 02:29] zhuwenxing commented on #18799
But this happened in 2.1 branch, so it should be fixed before next release

[2022-08-24 02:32] binbinlv commented on #17725
This issue appears again:
https://jenkins.milvus.io:18080/blue/rest/organizations/jenkins/pipelines/qa/pipelines/milvus-release-nightly/runs/57/nodes/142/steps/165/log/?start=0

Taking one failed case (test_compact_manual_and_auto) as an example:

1. milvus log: [milvus-standalone-57-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/qa/job/milvus-release-nightly/57/artifact/milvus-stan

[2022-08-24 02:32] binbinlv commented on #17725
Not only kafka issue, so cancel kafka only label

[2022-08-24 02:35] binbinlv commented on #17725
@jiaoew1991

hello, enwei, I see you changed this case yesterday. Could you help to investigate this issue?  Thanks.

[2022-08-24 02:42] yanliang567 opened #18803 "[Bug]: print hasCollection result in milvus log"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Read the log below, you can only know the operation of hasCollection is done, but you cannot know the result(value) of hasCollection
`[2022/08/23 09:51:11.337 +00:00] [DEBUG] [proxy/impl.go:422] ["HasCollection done"] [traceID=3f14d0ac92891611] [role=proxy] [MsgID=435

[2022-08-24 02:43] yanliang567 commented on #18803
this is a good first issue, please feel free to assign to yourself.

/unassign

[2022-08-24 03:05] wayblink commented on #18409
Key message:
[2022/08/22 13:34:10.548 +00:00] [WARN] [storage/minio_chunk_manager.go:152] ["failed to put object"] [path=file/insert_log/435467123048516929/435467123048516930/435467123166019586/103/435467123834486790] [error="Resource requested is unreadable, please reduce your request rate"]

milvus keep trying to flush data to minio but return error "Resource requested is unreadable, please redu

[2022-08-24 03:42] zhuwenxing commented on #18409
@LoveEachDay

please help to take a look, it seems that is an issue about minio

[2022-08-24 03:44] jingkl opened #18804 "[Bug]: [benchmark][cluster]Milvus search timeout reports an error"status = StatusCode.DEADLINE_EXCEEDED""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-tag-no-clean-8b2ln-1
server-configmap
server-cluster-in8c64g-qn8c32g-dn2c8g-test1b-kafka
client-configmap
client-random-locust-search-30h-1b

[code]
**_In this test scenario, search has only had one timeout error so far_**

log:

<img width="130

[2022-08-24 03:50] jiaoew1991 commented on #18799
/assign @aoiasd

[2022-08-24 04:06] ThreadDao commented on #18652
@weiliu1031 No fix
image: `2.1.0-20220824-85bbba95`
client pod: scale-up-oom-ldmv2-4185682159, clusetr: devops,  namespace: qa
[code]
server pod before oom: standalone-oom-milvus-standalone-f68d6c77f-vhfng, cluster: devops, namespace: chaos-testing
server pod after oom: cluster: standalone-oom-milvus-standalone-bcdb4fbc9-x42jl, devops, namespace: chaos-testing

[2022-08-24 05:43] jiaoew1991 commented on #17725
the testcase which I changed yesterday is not right, after discussed with @ThreadDao should change the `waiting for compaction completed` to `sleep 1minute`

[2022-08-24 05:57] jiaoew1991 commented on #18551
@kakkoiiAllen you can try `make clean` and make the image again

[2022-08-24 07:17] jiaoew1991 commented on #18794
after discuss with @NicoYuan1986 this issue did not reproduce yesterday

[2022-08-24 07:19] jiaoew1991 commented on #18794
/assign @weiliu1031

[2022-08-24 07:26] jiaoew1991 commented on #18706
https://github.com/milvus-io/milvus/blob/90de312d4be68dd68e3cdf868cf4a19c9647eacf/internal/querycoord/task_scheduler.go#L106-L119

at Line116, if the taskChan is full the goroutine will be blocked

in this case there are lots of task generated before `QueryCoord` restart, after `QueryCoord` restart it read the tasks from Etcd which are more than 1024, the initial process blocked.

[2022-08-24 07:28] jiaoew1991 commented on #18706
we should make addTask in an independent goroutine

[2022-08-24 07:37] #18722 closed

[2022-08-24 07:37] yhmo opened #18805 "[Feature]: Support "&" and "|" operator in boolean expression"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Users may have a lot of bool attributes to do filtering.
He can create a bool field for each attribute:
bool_1, bool_2, bool_3, ....
He want to filter out the entities which bool_1=true, bool_2=ture, bool_3=true.
He can do search filtering by this

[2022-08-24 07:40] yhmo commented on #18805
One point to be concerned:
If the two values are not the same length, for example, one is int64, the other is int16, can use this operator?

[2022-08-24 07:52] weiliu1031 commented on #18652
it's another problem, not relate to #18664

cause:
1. query coord panic
2. query coord is scheduling lots of handoff task after recover
![image](https://user-images.githubusercontent.com/108661493/186361455-f5a30777-2f3a-441a-8fb9-24af280055b1.png)

3. query coord receive a load collection task, and add to task queue
![image](https://user-images.githubusercontent.com/108661493/186361709-c283768e-d

[2022-08-24 08:31] NicoYuan1986 opened #18806 "[Bug]: [Nightly]Large numbers of failed cases occurs with error message: find no available datacoord"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Large numbers of failed cases occurs with error message: find no available datacoord .
Start at about 2022-08-23T15:29:40.530Z

[code]

### Expected Behavior

PASSED

### Steps To Reproduce

[code]

### Milvus Log

1. milvus log:https://jenkins.milvus.io:18080/blue/or

[2022-08-24 08:34] NicoYuan1986 commented on #18806
The file is too large to upload. Contact me for milvus log if the website is unreachable.

[2022-08-24 08:49] congqixia opened #18807 "[Bug]: rootPath is not handled properly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

- Minio rootPath with leading "/" may cause meta error
- rootPath is use in different placed and not handle unified
- minioChunkManager does not interact with rootPath config

### Expected Behavior

- Adapt leading / root path
- Unify root Path handling logic

### Ste

[2022-08-24 08:56] binbinlv commented on #18659
OK, verifying in next several nightlys.

[2022-08-24 09:40] stringk245 opened #18810 "partition hasn't been loaded or has been released[Bug]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

error="stream operation failed: partition 435508327539277825 hasn't been loaded or has been released"

![企业微信截图_16613338575331](https://user-images.githubusercontent.com/11296126/186385818-50db3cd5-2461-4e24-978b-bec991ebdb05.png)

### Expected Behavior

_No response_

[2022-08-24 10:17] xiaofan-luan commented on #18765
Hi @wg1026688210
@congqixia , @jiaoew1991 and I have a quick discussion on how we can handle small data.
We are thinking of having 2 collection mode
1) lightening mode -> each shard < 100m data, no extra request forward.
2) heavy mode -> each shard can be scaled to 10B data, worked for big data scenario.

for lightening mode, all segments and shards will be deployed on single machine
for heavy mod

[2022-08-24 10:19] aakejiang opened #18811 "[Bug]: rootCoord rpc result and metrics problem"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. user&role-related operations should not report to DDL metrics
2. We should return nil error for case which is not node unhealthy since RPC will retry (recall) if return err is not context.DeadlineExceeded or context.Canceled

### Expected Behavior

_No response_

#

[2022-08-24 14:39] SimFG opened #18816 "[Enhancement]: Improve the storage method of the grant info in the metastore"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

**origin storage style of the grant info.**
etcd:
- key: `/prefix/credential/privilege-grants/{tenant}/{principalType}/{principalName}/{resourceType}/{resourceName}`
- value: `[{"resource":"SELECT", "grantor":"Alice"}, {"resource":"UPDATE", "grantor":"Bob"}]`

mysql:
- `id - t

[2022-08-25 02:02] #18767 closed

[2022-08-25 02:17] yanliang567 opened #18819 "[Enhancement]: Upgrade to Ubantu 20.04"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Ubantu 20.04 is not stable enough for upgrade.

### Why is this needed?

some dependency upgrades requires ubantu 20.04

### Anything else?

_No response_

[2022-08-25 02:23] jingkl opened #18820 "[Bug]: [benchmark][standalone]After Milvus load data, search reports an error "collection not loaded into memory when search""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-cron-1661356800-6
server-configmap
server-single-16c64m
client-configmap
client-search-sift50m-ivf-flat-2048

[code]

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

[2022-08-25 02:42] #18748 closed

[2022-08-25 03:01] cydrain commented on #18509
@yanliang567 this issue has been fixed, please verify.⁣@Martin Li⁣
/assign @yanliang567

[2022-08-25 03:01] cydrain commented on #18509
/unassign

[2022-08-25 03:02] jiaoew1991 commented on #18819
why not Ubuntu 22.04 😏

[2022-08-25 03:02] #18760 closed

[2022-08-25 03:03] NicoYuan1986 commented on #17725
The issue continuously appears in both master and 2.1.*

Taking one failed case (test_compact_only_growing_segment) as an example:
1. Collection name: compact_92BffaT3
2. milvus log: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/57/artifacts
3. Failed timeline: [2022-08-24T19:03:19.003Z] [gw2] [ 13%] FAILED testcases/test_compaction.py::TestCompacti

[2022-08-25 03:07] cydrain commented on #18548
from the log, this issue may be duplicated with #18509
[code]

[2022-08-25 03:08] jiaoew1991 commented on #18516
@WeiDong-Shi Could you provide flamegraph for us to diagnostic? follow this article to generate flamegraph https://www.benburwell.com/posts/flame-graphs-for-go-with-pprof/

[2022-08-25 03:11] cydrain commented on #17978
@yanliang567 knowhere-v1.2.0 has been merged into Milvus, please verify the fix
/assign @yanliang567

[2022-08-25 03:11] cydrain commented on #17978
/unassign

[2022-08-25 03:13] cydrain commented on #18188
@yanliang567 knowhere-v1.2.0 has been merged into milvus, please verity this issue
/assign @yanliang567
/unassign

[2022-08-25 03:14] cydrain commented on #18361
@yanliang567 knowhere-v1.2.0 has been merged into milvus, please verify this issue
/assign @yanliang567
/unassign

[2022-08-25 03:15] cydrain commented on #18548
/assign @yanliang567
/unassign

[2022-08-25 03:20] soothing-rain commented on #18757
/unassign
/assign @weiliu1031

[2022-08-25 03:25] cydrain commented on #18791
@jingkl Milvus master has merged knowhere-1.2.0 also, please use Milvus master latest code test again.
/assign @jingkl

[2022-08-25 03:29] sunby opened #18822 "[Bug]: GetCompactionStateWithPlans hang"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

If we trigger a manual compaction  when there's no segments, the generated compaction task will hang.
This case can be reproduced when running testcases/test_compaction.py::TestCompactionParams::test_compact_only_growing_segment.

### Expected Behavior

_No response_

[2022-08-25 03:30] soothing-rain commented on #16451
Sorry I missed this.
1. The `parse segment id error` issue is resolved in the current version (upcoming 2.1.2), but it is about garbage collection so shouldn't matter a lot.
2. From the log it seems there's some kind of segment meta inconsistency issue. We have this birdwatcher tool which can quickly help you examine your segment stats. For example, you can simply run birdwatcher, then `connect`,

[2022-08-25 03:35] soothing-rain commented on #18302
/unassign
/assign @jiaoew1991

[2022-08-25 03:37] #18778 closed

[2022-08-25 06:19] zhuwenxing opened #18824 "[Bug]: Search failed after upgrade from 2.1.0 to master-20220820-9589bd3 and later images"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search failed after upgrade
[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: https://github.com/milvus-io/milvus/runs/7934118743?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/790

[2022-08-25 06:26] zhuwenxing commented on #18824
I check the PRs between two images, https://github.com/milvus-io/milvus/pull/18290 is the only PR that changed the code

[2022-08-25 06:48] ThreadDao commented on #18652
Sadly I used a timeout of 15h to load the 3000 entities and it still timed out

[2022-08-25 06:50] zhuwenxing opened #18826 "[Bug]: Search failed after reinstallation when data size is 1M"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

collection name is "sift_128_euclidean"
test case is in https://github.com/milvus-io/milvus/blob/master/tests/python_client/deploy/scripts/second_recall_test.py
![image](https://user-images.githubusercontent.com/12268675/186593807-b0333818-b911-459b-ba7b-892f32c64dde.

[2022-08-25 07:13] zhuwenxing opened #18828 "[Bug]: Search failed with error `ShardCluster for by-dev-rootcoord-dml_xxxv1 replicaID xxx is no available` after upgrade or reinstallation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

error
[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test/detail/deploy_test/131/pipeline
log:
[artifacts-cluster-upgrade-131-serv

[2022-08-25 08:07] weiliu1031 commented on #18652
more info about load collection task doesn't trigger.

1. in standalone, query coord trigger two NodeDown load balanceTask
2. the first one generate tasks, and finished peacefully
3. the second one also generate same tasks, such as WatchDmChannelTask, and send it to query node
4. this watchDmChannelTask failed due to dml channel has already loaded.
5. query coord retry this watchDmChannelTask on s

[2022-08-25 08:29] jingkl commented on #18791
server-instance
fouram-xdz7j-1
server-configmap
server-single-16c64m
client-configmap
client-search-sift50m-ivf-flat-2048
[code]

master-20220825-f3c7556
pymilvus 2.2.0dev19

log:
[code]

[2022-08-25 08:32] jingkl commented on #18791
/unassign
/assign @cydrain
I don't think it has anything to do with knowhere whether the code goes into the master branch or the 2.1 branch

[2022-08-25 09:24] yanliang567 commented on #18828
/assign @jiaoew1991
/unassign

[2022-08-25 09:25] yanliang567 commented on #18826
/assign @jiaoew1991
/unassign

[2022-08-25 09:25] yanliang567 commented on #18824
/assign @jiaoew1991
/unassign

[2022-08-25 09:26] yanliang567 commented on #18820
/assign @xige-16
/unassign

[2022-08-25 09:29] yanliang567 commented on #18810
@binbinlv could you please help to reproduce it locally
/assign @binbinlv
/unassign

[2022-08-25 10:13] cydrain commented on #17945
split SearchOnSealed() into 2 APIs:
- SearchOnSealedIndex() - search on sealed segment index
- SearchOnSealed() -search on sealed segment without index

[2022-08-25 10:19] cydrain commented on #17945
after #18830, search flowchart is like this
![Flowchart](https://user-images.githubusercontent.com/3992404/186639800-5536b375-a8e3-49bc-87f9-30cbb8993a9c.jpg)

[2022-08-25 10:43] #18684 closed

[2022-08-25 10:44] jiaoew1991 commented on #18706
@zhuwenxing  you can try again with pr #18801

[2022-08-25 10:44] jiaoew1991 commented on #18706
/unassign
/assgin @zhuwenxing

[2022-08-25 13:15] jingkl opened #18837 "[Bug]: [Diskann Index]Milvus binary vectors not support diskann index, so an error should be reported instead of a timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

**Milvus binary vectors do not support diskann index, should change the timeout to run out of exception**

testcase：
[code]

log：
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

_No respo

[2022-08-25 15:34] martinenkoEduard opened #18842 "Can't set "eventual" consistency level."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Can't set "eventual"

hello_milvus = Collection("faces", schema,  consistency_level="eventual")

Traceback (most recent call last):
  File "/app/milvusScriptsReady/milvus_create_512_dim_low_consistency.py", line 30, in <module>
    hello_milvus = Collection("faces", s

[2022-08-25 15:36] soothing-rain commented on #18842
The word is `Eventually` :)

[2022-08-26 01:04] yanliang567 commented on #18842
@martinenkoEduard thank you for the issue. BTW, where did you get the word "eventual", I think we need to update the doc if there were a typo there.

/assign @martinenkoEduard
/unassign

[2022-08-26 01:05] yanliang567 commented on #18806
/assign @soothing-rain
/unassign

[2022-08-26 02:25] yanliang567 commented on #18654
Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

[2022-08-26 02:55] jingkl opened #18845 "[Bug]: [benchmark][standalone]Milvus load collection failed,raise an error"collection has not been loaded to memory or load failed""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-znxhg-5
server-configmap
server-single-16c64m
client-configmap
client-search-filter-sift50m-ivf-flat-2048
sever:
[code]
log:

[code]
standalone:
<img width="1384" alt="截屏2022-08-26 10 47 18" src="https://user-images.githubusercontent.com/3429648

[2022-08-26 02:58] zhuwenxing commented on #18706
Not reproduced yet, remove the critical label, but keep watching

[2022-08-26 03:24] binbinlv opened #18846 "[Bug]: [Nightly] Load failed reporting "collection search_collection_uB63nIgL has not been loaded to memory or load failed""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

 Load failed reporting "collection search_collection_uB63nIgL has not been loaded to memory or load failed"

### Expected Behavior

NO error

### Steps To Reproduce

[code]

### Milvus Log

1. milvus log: [artifacts-milvus-distributed-pulsar-nightly-58-pymilvus-e2e-lo

[2022-08-26 03:27] zhuwenxing commented on #18828
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test/detail/deploy_test/129/pipeline
log:
[artifacts-cluster-reinstall-129-server-logs (2).tar.gz](https://github.com/milvus-io/milvus/files/9429548/artifacts-cluster-reinstall-129-server-logs.2.tar.gz)

[artifacts-cluster-reinstall-129-pytest-logs (2).tar.gz](https://github.com/milvus-io/milvus/files/9429549/artifacts-clus

[2022-08-26 03:30] binbinlv commented on #18724
It occurs again in master branch nightly:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/58/pipeline/171

milvus version:master-20220825-0bb6526 (master)
pymilvus version:2.2.0.dev19

1. milvus log:[artifacts-milvus-distributed-pulsar-nightly-58-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/58/artifact

[2022-08-26 05:42] wg1026688210 commented on #18765
Hi
@xiaofan-luan @congqixia @jiaoew1991
I  agree with the idea of lightening mode and heavy mode very much.

If all segments are deployed to the same machine, will the load balancing  and high availability capabilities be lost,For example, a very large number of requests will be sent to a lightening-mode collection whose segment is all allocated on one machine.

In addition, the service also needs

[2022-08-26 06:26] yanliang567 commented on #18845
it looks like OOM, but we need to figure out
1. does loading collection cost more memory?
2. or what tasks cost more memory at that time?
/assign @xige-16
/unassign

[2022-08-26 07:42] #18807 closed

[2022-08-26 08:09] letian-jiang commented on #18826
/assign

[2022-08-26 08:33] jennyli-z opened #18855 "[Bug]: Get query segment info after handoff sometimes costs long in CI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-18851/1/pipeline/107/
 testcases/test_utility.py::TestUtilityAdvanced::test_handoff_query_search failed for standalone

but it can pass after rerun

Please help check if there's any

[2022-08-26 08:38] zhagnlu commented on #18638
after analyzing file list by aws ls, storage layout:
![image](https://user-images.githubusercontent.com/11935707/186859326-222ac397-8498-4c9d-b081-7a30b70419ce.png)
it shows insert binlog has about 140G and stats binlog has about 26G, it is exceptionly huge.
but no delta log,  so  not the deleted reason, then  find lots of segment has same size like figure show:
![image](https://user-images.github

[2022-08-26 08:47] zhagnlu commented on #18638
the server log shows compaction timeout happens for losts of times:
![image](https://user-images.githubusercontent.com/11935707/186861406-eaa9fb16-b8cf-4e2d-812d-ae34697fdcf0.png)
and lots of remote s3  error
![image](https://user-images.githubusercontent.com/11935707/186862206-8463715f-31ee-4b1c-8b4d-92962091f0ea.png)
so it may be s3 storage server not stable, it causes compaction timeout lots of

[2022-08-26 08:48] zhagnlu commented on #18638
this problem has been fixed as https://github.com/milvus-io/milvus/issues/18674

[2022-08-26 08:58] binbinlv commented on #18855
@congqixia,
hello congqi, it is an occasional issue, could you help to have a look at here?

1. collection name: utility_09bnkGbz

2. Failed case:
[code]

[2022-08-26 11:04] LoveEachDay commented on #18409
@zhuwenxing From the above log:
[code]
minio does not  have a quorum to accept any writes. And by default, we does not enable health probe for minio pod.  So we've added health probe for minio in milvus-helm chart of version 3.18.

[2022-08-26 12:08] #18816 closed

[2022-08-26 12:36] qi49125 opened #18860 "[Bug]: load collection failed，then auto release from memory"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

querynode log----->

[2022/08/26 09:37:23.677 +00:00] [DEBUG] [querynode/segment_loader.go:455] ["load index file"] [path=files/index_files/435380411273838594/1/435380206337261569/435380406707290113/IVF_7]
[2022/08/26 09:37:23.868 +00:00] [DEBUG] [querynode/segment_lo

[2022-08-26 13:02] xiaofan-luan commented on #18764
The way we stored data in Milvus:
SegmentSealedImpl -> InsertRecord -> ConcurrentVector
The concurrent Vector implementation is tricky:

We use deque to store vector data:
    std::atomic<int64_t> size_ = 0;
    std::deque<Type> vec_;

The deque overhead itself may takes much more memory than the int/float data itself.
We may need to change the deque to flat array

[2022-08-26 13:23] qi49125 commented on #18860
[2022/08/26 13:21:49.452 +00:00] [DEBUG] [querynode/segment_loader.go:455] ["load index file"] [path=files/index_files/435389955700686850/1/435389461934112769/435389952772800515/IVF_9]
[2022/08/26 13:21:49.455 +00:00] [DEBUG] [querynode/segment_loader.go:269] ["loading delta..."] [segmentID=435376047776595971]
[2022/08/26 13:21:49.456 +00:00] [INFO] [querynode/segment_loader.go:617] ["there are no

[2022-08-26 13:25] #18761 closed

[2022-08-26 13:28] qi49125 commented on #18860
rootcoord----log
[2022/08/26 13:20:59.090 +00:00] [DEBUG] [rootcoord/root_coord.go:1618] [DescribeCollection] [role=rootcoord] ["collection name"=corpusProCollection] [id=0] [msgID=435532885386423612]
[2022/08/26 13:20:59.090 +00:00] [DEBUG] [rootcoord/root_coord.go:1637] ["DescribeCollection success"] [role=rootcoord] ["collection name"=corpusProCollection] [id=0] [msgID=435532885386423612]
[2022

[2022-08-26 13:37] qi49125 commented on #18860
pulsar------------log：
13:22:25.759 [pulsar-io-18-18] INFO  org.apache.pulsar.broker.service.ServerCnx - [/12.11.0.81:36962] Subscribing on topic persistent://public/default/by-dev-rootcoord-dml_2 / by-dev-queryNode-435374669436813313-155
13:22:25.760 [pulsar-io-18-18] INFO  org.apache.bookkeeper.mledger.impl.ManagedCursorImpl - [public/default/persistent/by-dev-rootcoord-dml_2] Cursor by-dev-quer

[2022-08-26 14:52] qi49125 commented on #18860
querynode    -----log
[2022/08/26 14:50:24.878 +00:00] [WARN] [querynode/flow_graph_filter_dm_node.go:209] ["filter unFlushed segment without checkPoint"] [channel=by-dev-rootcoord-dml_2_435374669436813313v0] [collectionID=435374669436813313] [partitionID=435397771427053569]
[2022/08/26 14:50:24.878 +00:00] [WARN] [querynode/flow_graph_filter_dm_node.go:209] ["filter unFlushed segment without chec

[2022-08-26 15:02] qi49125 commented on #18860
datanode

[2022/08/26 14:59:22.927 +00:00] [DEBUG] [datanode/flow_graph_dd_node.go:287] ["DDNode sent delta timeTick"] [collectionID=435150776073453569] [ts=435559061985165313] [ts_p=2022/08/26 14:59:22.773 +00:00] [channel=by-dev-rootcoord-dml_0_435150776073453569v0]
[2022/08/26 14:59:32.927 +00:00] [DEBUG] [datanode/flow_graph_dd_node.go:287] ["DDNode sent delta timeTick"] [collectionID=43515077

[2022-08-26 15:03] jingkl opened #18862 "[Bug]: [diskann Index]Milvus yaml set Indexnode.disk.enable=False,create diskann index report create index timeout instead of error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

**_The configuration in milvus.yaml should report an error instead of a timeout when creating a diskann index if the creation of a diskann index is not supported_**

When Milvus is deployed， set in Milvus.yaml  **--set indexNode.disk.enabled=false --set queryNode.disk

[2022-08-27 03:33] qi49125 commented on #18860
CompactionState
 - compaction id: 435570878138810369
 - State: 1
 - executing plan number: 1447
 - timeout plan number: 0
 - complete plan number: 0

[2022-08-27 03:35] qi49125 commented on #18860
then
CompactionState
 - compaction id: 435570878138810369
 - State: 2
 - executing plan number: 0
 - timeout plan number: 1447
 - complete plan number: 0

[2022-08-27 10:25] martinenkoEduard commented on #18842
In the guide page.
https://milvus.io/docs/consistency.md

[2022-08-27 11:48] nleroy917 commented on #18489
I'm running into something similar. I'm trying to insert ~1 million embeddings, but milvus will always crash with status code 137. Some clues:

[code]

[2022-08-27 14:49] xiaofan-luan commented on #18489
Hi @nleroy917 , it seems your disk is really slow, both etcd and rocksdb print slow message.
We require milvus to run on ssd disk, did you ensure you are using SSD as your storage?

[2022-08-27 14:59] nleroy917 commented on #18489
Thanks for the swift response @xiaofan-luan, are there configuration settings/env vars I can set for Docker to ensure that I'm using SSD as my storage? I read through the [hardware reqs](https://milvus.io/docs/v2.1.x/prerequisite-docker.md#Additional-disk-requirements) for disk performance, and I ran a test with `fio`. Here are the results:

[code]

If I'm interpreting the results correctly, I see

[2022-08-28 02:20] Hirdey-1999 commented on #18805
I can work on this but i need to where i have to make changes

[2022-08-28 07:51] yanliang567 commented on #18842
@YiyunNi could you please help to update the doc accordingly

[2022-08-28 08:29] yanliang567 commented on #18842
/assign @YiyunNi
/unassign @martinenkoEduard

[2022-08-28 13:20] xiejiang0133 commented on #18560
I had the same problem, 6 million data of 512dim,  uses 25GB+ memory.

[2022-08-28 13:22] xiejiang0133 commented on #18560
Did you solve your problem?

[2022-08-28 14:20] xiaofan-luan commented on #18560
might be the similar issue of https://github.com/etcd-io/etcd/issues/12548
if you KV stored is relatively large, then etcd will take many extra memory.

[2022-08-28 14:20] xiaofan-luan commented on #18560
@LoveEachDay @SimFG  Is there a way to analysis the most memory consuming KVs in etcd?

[2022-08-28 16:00] SimFG commented on #18560
@xiaofan-luan I don't know this kind of way. Maybe we can check the amount of the big size KVs in this scene.

[2022-08-29 00:53] Sivannnnnn commented on #18764
@xiaofan-luan
Hello, I came to report back on the issues that I currently encountered in the Milvus V2.1.0 standalone process

1. Frequent read and write operations cause the SST files in the Milvus data directory to become larger and larger, and the disk is full and cannot be cleared. Is there any solution at present?

2. Milvus's scalar fields take up a lot of memory

May I ask when these proble

[2022-08-29 01:34] yanliang567 commented on #18860
sound like all the compaction plans failed.
@congqixia could you please check whether if it is a known issue to us?

/assign @congqixia
/unassign

[2022-08-29 02:13] zhuwenxing commented on #18758
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/780/pipeline
[artifacts-indexnode-pod-kill-780-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9441088/artifacts-indexnode-pod-kill-780-server-logs.tar.gz)
[artifacts-indexnode-pod-kill-780-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/9441090/artifacts-indexnode-pod-kill-

[2022-08-29 02:22] zhuwenxing commented on #18758
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/796/pipeline
log:
[artifacts-indexnode-pod-kill-796-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9441116/artifacts-indexnode-pod-kill-796-server-logs.tar.gz)
[artifacts-indexnode-pod-kill-796-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/9441118/artifacts-indexnode-pod-

[2022-08-29 02:22] zhuwenxing commented on #18758
It reproduced stably, so set it as critical

[2022-08-29 02:37] zhuwenxing opened #18870 "[Bug]: When create index using same paramters, it still raise error `CreateIndex failed: index already exist, but parameters are inconsistent` after indexcoord pod chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/187111053-6f99454d-a87b-43e7-8621-e3f2c335bff6.png)
When killing other pods, this test case works well

collection name: `hello_milvus`
[code]

### Expected Behavior

all test cases passed

### Steps To Repro

[2022-08-29 02:40] Sivannnnnn commented on #18514
@xiaofan-luan

Urgent!!!

I used standalone in V2.1.1. I used the IVF_SQ8 index. Unlike above, I used a single Thread to insert the data, which started without problems, but when the amount of data reached 900 million, this error also occurred. Resource temporarily unavailable'

I did not make a query during the period, and I suspect that 2.1.1 only fixed the query module, not the insert module

[2022-08-29 02:46] yhmo opened #18872 "[Bug]: Milvus crashed when inserting empty string for varchar field"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus crashed when inserting empty string for varchar field.

The crash log:
[code]

### Expected Behavior
Milvus can accept empty string.

_No response_

### Steps To Reproduce

1. download v2.1.1
wget https://github.com/milvus-io/milvus/releases/download/v2.1.1/mil

[2022-08-29 02:46] Sivannnnnn commented on #18514
![image](https://user-images.githubusercontent.com/46392469/187112968-4cd53271-27b9-4de6-8c6a-4b3b3fd04914.png)

[2022-08-29 02:49] Zach41 opened #18873 "[Enhancement]: add opentelemetry in milvus"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

add opentelemetry to trace and monitor RPC requests

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-08-29 02:50] Sivannnnnn commented on #18514
![image](https://user-images.githubusercontent.com/46392469/187113370-fed8873b-de76-402d-a68f-b4def6d38684.png)

[2022-08-29 02:51] xiaofan-luan commented on #18872
/assign @yhmo

[2022-08-29 02:51] xiaofan-luan commented on #18872
quick fix, just check string field length at proxy~

[2022-08-29 02:52] zhuwenxing opened #18874 "[Bug]: Running test cases `verify_all_collections.py` timeout and repeat log in proxy pod after minio pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/187113228-624a6879-7065-49f8-ace6-24de0e211c8c.png)

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/

[2022-08-29 02:55] xiaofan-luan commented on #18862
what does Indexnode.disk.enable mean?

[2022-08-29 02:56] #18304 closed

[2022-08-29 03:00] jiaoew1991 commented on #18452
@aoiasd  pls follow up this issue

[2022-08-29 03:01] congqixia opened #18875 "[Bug]: DefaultFactory uses local storage root path for minio client"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://github.com/milvus-io/milvus/blob/d28114c28ccf2d6380bc92ead7b0a0b129d29848/internal/util/dependency/factory.go#L46
`DefaultFactory` uses localStorage Path for minio config.

### Expected Behavior

MInio client shall use minio.rootPath config value

### Steps To

[2022-08-29 03:03] zhuwenxing opened #18877 "[Bug]: When Milvus's MQ is Kafka, running test cases `verify_all_collections.py` timeout and repeat log in proxy pod after indexnode pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/187114485-3d1b5876-7915-4182-a982-22a8029fa92a.png)

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/

[2022-08-29 03:04] jingkl commented on #18862
enable means that creating diskann indexes is not supported

[2022-08-29 03:12] zhuwenxing commented on #18874
It reproduced stably

[2022-08-29 03:13] zhuwenxing commented on #18877
It reproduced stably

[2022-08-29 03:24] xiaofan-luan commented on #18870
/assign @xiaocai2333

[2022-08-29 03:26] xiaofan-luan commented on #18855
probably because there is a lock on getting segmentInfo.
Not sure but I think we could remove the lock when user query segmentInfo

[2022-08-29 03:27] YiyunNi commented on #18842
Fixed docs with PR: https://github.com/milvus-io/milvus-docs/pull/1773

[2022-08-29 03:28] xiaofan-luan commented on #18791
@cydrain any progress?

[2022-08-29 04:36] #18875 closed

[2022-08-29 07:38] jiaoew1991 commented on #18824
from the log we can find that outdated node did not cleanup from metadata
(`nodeId=4` is the old node, `nodeId=9` is current node)
<img width="1469" alt="image" src="https://user-images.githubusercontent.com/2297455/187147943-446c8269-5bb5-498e-bcde-94d1ed2ae672.png">

further more there is only one node online, so the balance task cannot be trigger
<img width="1443" alt="image" src="https://user-

[2022-08-29 07:55] yhmo commented on #18872
A temp fix for this bug: #18881
This fix only can avoid the crash, but is not a good solution. Will do a final fix in the next minio version 2.1.3.

[2022-08-29 08:22] NicoYuan1986 commented on #18855
Latest test results：
1. case :TestUtilityAdvanced.test_handoff_query_search

2. collection name: 'utility_gnvQGHEI'

3. log:

[code]

[2022-08-29 08:23] xTerry opened #18885 "[Bug]: Datanode restart failed to start"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When milvus2.1.1 is restarted, cluster's datanote cannot be started. The final error is:
[2022/08/26 08:13:22.349 +00:00] [DEBUG] [datanode/flow_graph_insert_buffer_node.go:97] ["IBN timetick log"] [from=2022/08/23 05:14:52.278 +00:00] [to=2022/08/23 05:18:12.079 +00:

[2022-08-29 08:27] NicoYuan1986 commented on #18846
Latest test results：
1. case: TestCollectionSearch.test_search_with_dup_primary_key[8-True-True-3]

2. collection name : search_collection_WjmvJkK7

3. log:https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/64/artifacts

[code]

[2022-08-29 08:34] soothing-rain commented on #18759
Also reported in other user's chaos tests.

[2022-08-29 08:58] NicoYuan1986 commented on #17725
The issue continuously appears in both master and 2.1.*

Taking one failed case (test_compact_manual_and_auto) as an example:

1. milvus:2.1.*(a9eb72e5)
   pymilvus: 2.1.2.dev2

2. collection name : 'compact_pGNmV856'

3. log:[milvus-standalone-67-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/qa/job/milvus-release-nightly/67/artifact/milvus-standalone-67-pymilvus-e2e-logs.tar.gz)

[2022-08-29 09:05] NicoYuan1986 commented on #18724
It occurs again in 2.1.* branch nightly:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/qa%2Fmilvus-release-nightly/detail/milvus-release-nightly/66/pipeline/177

milvus version:2.1.*(a9eb72e5)
pymilvus version:2.1.2.dev2

1. milvus log:[milvus-distributed-kafka-66-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/qa/job/milvus-release-nightly/66/artifact/milvus-distributed

[2022-08-29 09:18] wayblink opened #18887 "[Enhancement]: Add all flushed segments and time-of-seal in FlushResponse"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add all flushed segments and time-of-seal in FlushResponse

### Why is this needed?

Backup tool needs flushed segments info

### Anything else?

_No response_

[2022-08-29 10:10] NicoYuan1986 commented on #15282
It occurs recently. Maybe it's time to reopen the issue.Take one as example:
https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/63/
1.milvus: master(c4a9e13)
  pymilvus: 2.2.0.dev23

2. Failed timeline: [2022-08-27T19:40:23.023Z] [gw4] [ 97%] FAILED testcases/test_utility.py::TestUtilityBase::test_calc_distance_left_vectors_and_partition_ids[metric-L2-True]

3. log: [artifacts-mi

[2022-08-29 10:48] Mask-Z opened #18890 "[Bug]: java.lang.RuntimeException: All attempts results"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When i use  `milvusClient ` do search, response return the message:

`2022-08-29 18:23:08 io.milvus.client.AbstractMilvusGrpcClient logError
ERROR: SearchRequest failed:
All attempts results:
attempt #1:fail to get shard leaders from QueryCoord: no replica available
a

[2022-08-29 11:05] NicoYuan1986 opened #18891 "[Bug]: [Nightly]CreateCollection failed with the reason: DataCoord 16 is not ready"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

A few cases went wrong with the message 'CreateCollection failed: data coord watch channels failed, reason = DataCoord 16 is not ready'
Start at about 2022-08-27T19:07:04.117Z

[code]

### Expected Behavior

PASSED

### Steps To Reproduce

[code]

### Milvus Log

1. m

[2022-08-29 11:15] XuanYang-cn opened #18893 "[Enhancement]: Make Query results order by PK"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Make Query results order by PK

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-08-29 11:21] xiaofan-luan commented on #18764
Hi @Sivannnnnn,

For problem 1 , https://github.com/milvus-io/milvus/pull/18752, I tried to add compaction on rocksmq everyday to clean expired data. We've tested and so far it worked well, you can try to deploy daily build and see it your problem has been fixed.

For problem2, we are already working on a fix, and it should be in 2.1.3

[2022-08-29 11:27] xiaofan-luan commented on #18893
@XuanYang-cn
Recently I found that data in segment is not ordered by PK but rowID.
How can we ensure query result is ordered by PK, might be a little bit too heavy if we sort?

[2022-08-29 11:28] xiaofan-luan commented on #18893
what about using rowID instead? might be a little confusing for users, but should still work

[2022-08-29 12:50] xiaofan-luan commented on #18891
/assign  @longjiquan pls help on it

[2022-08-29 14:37] zhuwenxing commented on #18828
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_for_release/detail/deploy_test_for_release/8/pipeline

log:
[artifacts-cluster-reinstall-8-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/9445407/artifacts-cluster-reinstall-8-pytest-logs.tar.gz)
[artifacts-cluster-reinstall-8-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9445408/artifact

[2022-08-30 01:04] yanliang567 commented on #18891
/assign @longjiquan
/unassign

[2022-08-30 01:06] yanliang567 commented on #18890
@Mask-Z thank you for the issue. Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

/assign @Mask-Z
/unassign

[2022-08-30 02:00] weiliu1031 commented on #18652
/assign @ThreadDao

[2022-08-30 02:11] NicoYuan1986 commented on #17888
Recently, the issue appears again.
1.milvus:master(1527aee)    pymilvus:2.2.0.dev23

2. nightly:https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/67/pipeline/155

3. milvus log:
case: TestCollectionSearch.test_search_after_different_index_with_params[8-False-True-RHNSW_PQ-params7]
collection name: search_collection_Ttcvb4MG
failed time: [2022-08-29T19:1

[2022-08-30 02:37] NicoYuan1986 commented on #18705
This error occurs in the nightly for the master(1527aee) branch:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/66/pipeline/143

milvus log: [artifacts-milvus-distributed-kafka-nightly-66-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/66/artifact/artifacts-milvus-distributed-kafka-nightly-66-pymilvus-e2

[2022-08-30 02:38] yanliang567 commented on #18885
/assign @soothing-rain
/unassign

[2022-08-30 02:39] congqixia commented on #17888
Hi @NicoYuan1986 , this issue was originally caused by concurrent map read/write, which was fixed long time ago.
`Invalid shard leader` shall have some different root cause. Please open a new issue so that we could separate this problem

[2022-08-30 02:39] #17888 closed

[2022-08-30 02:40] NicoYuan1986 commented on #17888
OK!

[2022-08-30 02:40] yanliang567 commented on #18877
/assign @czs007
/unassign

[2022-08-30 02:41] yanliang567 commented on #18874
/assign @soothing-rain
/unassign

[2022-08-30 02:42] yanliang567 commented on #18872
@jingkl please help to add a test accordingly.

/assign @jingkl
/unassign

[2022-08-30 02:45] zhuwenxing commented on #18828
The collection name is also the failed test case name.
* deploy_test_index_type_BIN_IVF_FLAT_is_compacted_not_compacted_segment_status_all_is_vector_indexed_not_vector_indexed_is_string_indexed_is_string_indexed_replica_number_1_is_deleted_is_deleted_data_size_3000
* deploy_test_index_type_BIN_IVF_FLAT_is_compacted_is_compacted_segment_status_all_is_vector_indexed_not_vector_indexed_is_string_inde

[2022-08-30 02:49] yanliang567 commented on #18870
/assign @xiaocai2333
/unassign

[2022-08-30 03:14] jingkl commented on #18318
server-instance
fouram-cron-1661788800-5
server-configmap
server-cluster-8c16m
client-configmap
client-acc-glove-ivf-flat

master-20220829-d28114c
pymilvus 2.1.2 dev2

f```
ouram-cron-1661788800-5-etcd-0                                   1/1     Running     0               5m52s   10.104.6.218   4am-node13   <none>           <none>
fouram-cron-1661788800-5-etcd-1

[2022-08-30 04:01] jingkl commented on #18872
But inserting in a single machine will not report an error, and the single machine and cluster should be consistent
jenkins:https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-18896/1/pipeline/

[2022-08-30 04:02] yhmo commented on #18489
Here is test result of my SSD :
![Screenshot from 2022-08-30 11-58-24](https://user-images.githubusercontent.com/2282099/187346120-5222b05a-1287-4cc8-a898-73eeb8e9b2a1.png)

@nleroy917 I am not sure, but looks like the lat/clat of your test result is too high, these values are latency for submitting an I/O request.

[2022-08-30 05:27] martinenkoEduard commented on #18842
How do I do it? I will gladly help)

[2022-08-30 06:15] xige-16 commented on #18845
/assign @jiaoew1991
please help

[2022-08-30 06:36] NicoYuan1986 opened #18899 "[Bug]: [Nightly]Search failed with message "Invalid shard leader""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

A  case went wrong with the message 'Invalid shard leader'
Start at about 2022-08-29T19:13:06.419Z

### Expected Behavior

PASSED

### Steps To Reproduce

[code]

### Milvus Log

1. milvus log:[artifacts-milvus-distributed-kafka-nightly-67-pymilvus-e2e-logs.tar.gz](ht

[2022-08-30 06:37] LoveEachDay commented on #18489
@nleroy917 Seems you run milvus on mac, could you provide the docker resources settings like this:
![image](https://user-images.githubusercontent.com/1573213/187366141-3952b681-4105-46b2-9a64-806d4d5b787f.png)

By the way, from the exit code of milvus container 137, which means your container was killed by signal 9. Could you provide the complete log of milvus container.

[2022-08-30 06:51] weiliu1031 commented on #18757
this one is same question with https://github.com/milvus-io/milvus/issues/18664

[2022-08-30 06:52] NicoYuan1986 opened #18900 "[Bug]: [Nightly]Test collection failed with the message "rpc deadline exceeded: Retry timeout: 20s""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The case test_collection.py::TestCollectionParams::test_collection failed at about
[2022-08-29T20:23:46.964Z] [gw0] [  3%] FAILED testcases/test_collection.py::TestCollectionParams::test_collection

### Expected Behavior

PASSED

### Steps To Reproduce

[code]

### Mi

[2022-08-30 07:00] zhuwenxing commented on #18828
upgrade : v2.1.0 --> 2.1.0-20220830-a926a7d2
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_for_release/detail/deploy_test_for_release/10/pipeline/274

log:
[artifacts-cluster-upgrade-10-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9450437/artifacts-cluster-upgrade-10-server-logs.tar.gz)
[artifacts-cluster-upgrade-10-pytest-logs.tar.gz](https://git

[2022-08-30 07:16] NicoYuan1986 commented on #18671
The case runs perfectly now.

[2022-08-30 07:16] #18671 closed

[2022-08-30 07:19] NicoYuan1986 commented on #18794
The errors have not been reported in the last four days.I'll keep track.

[2022-08-30 07:45] YiyunNi commented on #18842
That'll be great! Please refer to our doc contributing guide [here](https://github.com/milvus-io/milvus-docs/blob/v2.1.x/CONTRIBUTING.md). Thanks! @martinenkoEduard

[2022-08-30 07:45] zhuwenxing commented on #18828
standalone reinstall: 2.1.0-20220830-a926a7d2
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_for_release/detail/deploy_test_for_release/16/pipeline

log:
[artifacts-standalone-reinstall-16-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9450789/artifacts-standalone-reinstall-16-server-logs.tar.gz)
[artifacts-standalone-reinstall-16-pytest-logs.tar.gz]

[2022-08-30 07:57] xiaofan-luan commented on #18489
From  the log, etcd seems to be not working from 2022/08/02 02:27:49:
All etcd operation is slow/failed, did you check if etcd is serving as expect?
[2022/08/02 02:28:05.578 +00:00] [WARN] [etcd_kv.go:648] ["Slow etcd operation save"] ["time spent"=15.5819301s]

[2022-08-30 08:07] binbinlv opened #18903 "[Bug]: [tracing] Search with invalid "client_request_id" leads normal search (without this param) broken"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search with invalid "client_request_id" leads normal search (without this param) broken

[code]

### Expected Behavior

Invalid parameters of one search request should not influence other search requests

### Steps To Reproduce

_No response_

### Milvus Log

[code]

[2022-08-30 08:10] binbinlv commented on #18903
And if search with valid client_request_id again, then normal search (without client_request_id) successfully again.

So it seems some state of grpc is not reset to original value when abort a search request.

[2022-08-30 08:18] binbinlv opened #18904 "[Bug]: [tracing] Unexpected error for invalid client_request_id"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Unexpected error for invalid client_request_id  and Error message for invalid client_request_id could not show which parameter is invalid

[code]

### Expected Behavior

This error should be handled by milvus with error code and friendly error message, like param "cli

[2022-08-30 08:26] zhuwenxing commented on #18758
It also happened in 2.1.0 branch

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release/detail/chaos-test-for-release/9/pipeline/

log:
[artifacts-indexnode-pod-kill-9-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9451135/artifacts-indexnode-pod-kill-9-server-logs.tar.gz)
[artifacts-indexnode-pod-kill-9-pytest-logs.tar.gz](https://github.com/mil

[2022-08-30 08:40] yanliang567 commented on #18900
/assign @jiaoew1991
/unassign

[2022-08-30 08:59] weiliu1031 commented on #18900
log not found!

[2022-08-30 09:03] NicoYuan1986 opened #18908 "[Bug]: The label of cases that have been solved were not removed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Remove label of cases that have been solved.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-08-30 09:04] bigsheeper opened #18910 "[Enhancement]: maxReadConcurrency no upper limit would lead to low performance"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

If maxReadConcurrency is 0, which means concurrency is no upper limit and it would lead to low performance compare with the situation of maxReadConcurrency=CpuNum * 2. We should set default maxReadConcurrency to CpuNum * 2.

Made a test with 1m128dim data, IVF_FLAT index, shar

[2022-08-30 09:06] bigsheeper commented on #18910
/assign

[2022-08-30 09:21] weiliu1031 commented on #18846
query node restart during loadCollection. code design logic problem
![image](https://user-images.githubusercontent.com/108661493/187400171-d80e63e4-e555-47e0-b413-3e0a09a6931e.png)

[2022-08-30 09:34] zhuwenxing commented on #18908
The title is more like an action, not a description. I think it would be better when it is `The label of cases that have been solved were not removed`
/cc @binbinlv
What do you think about it?

[2022-08-30 09:37] binbinlv commented on #18908
Yes, the title of an issue should describe what the problem is.

@NicoYuan1986  Could modify it, thanks.

[2022-08-30 09:41] NicoYuan1986 commented on #18908
OK！Thank you both.

[2022-08-30 11:13] aoiasd commented on #18799
https://zilliverse.feishu.cn/docx/doxcn4n7HiEZlTFstTQT5Dem28e
The main reason is that before restart the queryNode, some segment dropped because of compaction, but when we restart node, we will just reload the segments in bin logs(no dropped segment) and the segment info in etcd will still be the old node, so when querycoord get query task, it will find some segment in dropped node and get failed.

[2022-08-30 11:13] yah01 opened #18915 "[Bug]: Miss DmChannel in SegmentInfo of Handoff event"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The DmChannel of SegmentInfo of Handoff event is empty

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-08-30 11:15] jiaoew1991 commented on #18828
same as https://github.com/milvus-io/milvus/issues/18799#issuecomment-1231519114

[2022-08-30 11:16] NicoYuan1986 commented on #18900
I have sent it to you.

[2022-08-30 11:27] sunby opened #18916 "[Bug]: datacoord data race"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://github.com/milvus-io/milvus/runs/8090622376?check_suite_focus=true

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-08-30 11:59] skybluezx opened #18922 "[Bug]: "describe collection -c" command in milvus-cli cann't display properly when there is "varchar" field in scheme."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I input "describe collection -f [collection_name]", it only returns "21". I found that this situation only occurs when there is a "varchar" field in the table.  And I found the id number of varchar is exactly "21". So I don't know whether this is a bug or my impr

[2022-08-30 13:19] matchyc opened #18924 "[Bug]: Community users are unable to build milvus with DiskANN"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Community users are unable to build milvus after we supported DiskANN without libaio by using instructions written in `README.md`. So we need to add it to this script, then allow community users to build milvus in a naive way.

### Expected Behavior

_No response_

##

[2022-08-31 00:22] houlang commented on #17633
我是蒋孝乐。已经收到您的来信，我会尽快回复。

[2022-08-31 00:23] #18221 closed

[2022-08-31 00:36] vishjain commented on #18174
/reopen

[2022-08-31 00:37] vishjain commented on #18424
/reopen

[2022-08-31 00:47] yanliang567 commented on #18368
@wayblink any updates

[2022-08-31 00:52] yanliang567 commented on #18407
@binbinlv can we retry this and add some tests accordinlgy
/assign @binbinlv

[2022-08-31 00:55] yanliang567 commented on #18924
/assign @liliu-z
/unassign

[2022-08-31 00:56] yanliang567 commented on #18922
@shanghaikid is it a cli issue?
/assign @shanghaikid
/unassign

[2022-08-31 01:51] bjjoy commented on #18407
I am so sorry reply this issue too late. I have got solution.

dtype=DataType.INT64，it is signed int. Its range is -9223372036854775808 ~ 9223372036854775807

But my pk generator mmh3 generate the unsigned int64 18011707182610584615，so Value out of range.

I test in milvus 2.1.1, the exception is pymilvus.exceptions.DataNotMatchException: <DataNotMatchException: (code=0, message=The data in the sa

[2022-08-31 02:07] zhuwenxing commented on #18870
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/853/pipeline
log:
[artifacts-etcd-pod-kill-853-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9457772/artifacts-etcd-pod-kill-853-server-logs.tar.gz)
[artifacts-etcd-pod-kill-853-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/9457775/artifacts-etcd-pod-kill-853-pytest-logs

[2022-08-31 02:12] zhuwenxing commented on #18870
standalone pod kill
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/855/pipeline
log:
[artifacts-standalone-pod-failure-855-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9457789/artifacts-standalone-pod-failure-855-server-logs.tar.gz)
[artifacts-standalone-pod-failure-855-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/

[2022-08-31 02:19] jingkl opened #18928 "[Bug]: [diskann index]Milvus failed to load after creating the diskann index, reporting a load timeout error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

 **load failed querynode restart 3 times and report error**
testcase
[code]
server:
[code]
client log :
[code]

server log：
<img width="1296" alt="截屏2022-08-31 10 19 21" src="https://user-images.githubusercontent.com/34296482/187578340-987d33a3-28eb-4548-8ba0-e9c3d2fc

[2022-08-31 02:21] #18279 closed

[2022-08-31 02:21] #18289 closed

[2022-08-31 02:21] #18280 closed

[2022-08-31 02:21] #18282 closed

[2022-08-31 02:21] #17940 closed

[2022-08-31 02:21] #18223 closed

[2022-08-31 02:21] #18243 closed

[2022-08-31 02:21] zhuwenxing commented on #18706
It reproduced again in version `2.1.0-20220830-a926a7d2`. it seems that the error is same as before.
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release/detail/chaos-test-for-release/24/pipeline
log:
[artifacts-querycoord-pod-kill-24-server-logs (1).tar.gz](https://github.com/milvus-io/milvus/files/9457813/artifacts-querycoord-pod-kill-24-server-logs.1.tar.gz

[2022-08-31 02:21] #17723 closed

[2022-08-31 02:21] #17907 closed

[2022-08-31 02:21] #18233 closed

[2022-08-31 02:28] NicoYuan1986 commented on #17750
Same issue appears again in the following latest master nightly:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/69/pipeline/155

1. milvus log: [artifacts-milvus-distributed-kafka-nightly-69-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/69/artifact/artifacts-milvus-distributed-kafka-nightly-69-pymilvus

[2022-08-31 02:42] NicoYuan1986 commented on #15282
The error occurs frequently these days:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/69/pipeline/155
1. milvus: master(5eb6127)   pymilvus: 2.2.0.dev23
2. Failed timeline: [2022-08-30T19:40:16.734Z] [gw2] [ 96%] FAILED testcases/test_search.py::TestCollectionSearch::test_search_multi_collections[3000-500-8-True-True]
3. log: [artifacts-milvus-distr

[2022-08-31 02:53] NicoYuan1986 opened #18929 "[Bug]: [Nightly] Search failed among binary collections"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Error message:
[code]

### Expected Behavior

PASSED

### Steps To Reproduce

[code]

### Milvus Log

1. milvus log: [artifacts-milvus-standalone-nightly-68-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/68/artifact/arti

[2022-08-31 02:54] binbinlv commented on #18929
@NicoYuan1986 This is expected for substructure index, should modify the test case here.

[2022-08-31 02:55] NicoYuan1986 commented on #18929
OK!

[2022-08-31 02:58] binbinlv commented on #18929
This is similar with #18283

[2022-08-31 03:02] jingkl commented on #18845
server-instance
fouram-cluster-cron-1661893200-1
server-configmap
server-single-32c128m
client-configmap
client-get-local50m-512
2.1.0-20220830-a926a7d2
2.1.2dev2

[code]

[code]

[2022-08-31 03:11] yhmo commented on #18489
I suggest increasing the memory limit from 8GB to 16GB and try again. Your container was killed by signal 9, it might be OOM kill.

[2022-08-31 03:21] congqixia opened #18931 "[Bug]: Test_compactionPlanHandler_execWithParallels may fail with data race"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

`Test_compactionPlanHandler_execWithParallels` has data race

### Expected Behavior

Unit test passes without error or data race

### Steps To Reproduce

_No response_

### Milvus Log

[code]

### Anything else?

_No response_

[2022-08-31 03:21] NicoYuan1986 commented on #18794
Milvus crashed again!
1. milvus: master(5eb6127) pymilvus:2.2.0.dev23
2. nightly:https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/68/pipeline/187/
3. milvus log:
[artifacts-milvus-distributed-pulsar-nightly-68-pymilvus-e2e-logs.tar.gz](https://github.com/milvus-io/milvus/files/9458061/artifacts-milvus-distributed-pulsar-nightly-68-pymilvus-e2e-logs.tar

[2022-08-31 03:30] jingkl commented on #18872
**Milvus master branch string field supports inserting empty, but will report an error**

<img width="1437" alt="截屏2022-08-31 11 26 25" src="https://user-images.githubusercontent.com/34296482/187586090-369408db-8282-4827-99a6-f00f5c795eb4.png">
jenkins: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-18921/3/pipeline/107/
jenkins log:https://jenkins.milvus.io:

[2022-08-31 03:41] jennyli-z opened #18933 "[Bug]: Install failed for v2.1.1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/93511422/187587574-09302ea0-cde8-4a6d-a212-57c42becc530.png)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

[milvus-log.zip](https://github.com/milvus-io/milvus/files/945

[2022-08-31 03:43] #18933 closed

[2022-08-31 06:02] NicoYuan1986 opened #18938 "[Bug]: [Nightly]Milvus manually debug failed at installation time"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus manually debug failed at installation time.
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-08-31 06:08] zhuwenxing commented on #18706
Now, it is not that stable. Sometimes fail, but sometimes success

success: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release/detail/chaos-test-for-release/41/pipeline

failed: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release/detail/chaos-test-for-release/24/pipeline

[2022-08-31 06:33] zhuwenxing opened #18940 "[Bug]: Search raise error `attempt #1:fail to get shard leaders from QueryCoord: no replica available` after upgrade or reinstall when using Kafka as MQ"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/187608913-2b9267ea-d5cb-4d39-9a49-76add0b0333a.png)

[code]

### Expected Behavior

all test case passedcases

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/b

[2022-08-31 06:58] binbinlv opened #18941 "[Bug]: Test cases have not been added for rate limit function"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Now rate limit function has been covered by test cases

### Expected Behavior

Add test cases for rate limit function

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-08-31 07:12] jiaoew1991 commented on #18828
After the upgrade/reinstallation, there are still old nodes in etcd, and the sync segment is before the offline node is removed. Causes QueryNode's segment replica information to include the offline node. then the search request will try to get result from the offline node.

[2022-08-31 07:14] ThreadDao opened #18944 "[Enhancement]: Need to add more cases to test shard_num valid range"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

[code]

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-08-31 07:18] binbinlv commented on #18944
@NicoYuan1986
Could you help to add some test cases to cover more shard number values. (for example, min, maximum)

[2022-08-31 07:20] NicoYuan1986 commented on #18944
OK!👌

[2022-08-31 07:38] zhuwenxing commented on #18706
This fix PR https://github.com/milvus-io/milvus/pull/18801 only merged in master branch, but not merged in 2.1.0 branch

[2022-08-31 07:48] letian-jiang opened #18946 "[Enhancement]: Fix containedctx lint error in QueryNode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

[code]

### Why is this needed?

Do not store Contexts inside a struct type; instead, pass a Context explicitly to each function that needs it. The Context should be the first parameter

### Anything else?

containedctx: containedctx is a linter that detects struct contained c

[2022-08-31 08:04] #18924 closed

[2022-08-31 09:33] yhmo opened #18951 "[Bug]: Cannot search partition whose name contains character "$""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Create a partition name contains the character "$", then search the partition, the search return error.

Use this script to reproduce:

[code]

When searching the partition "a$b", the search API throws an exception:
`pymilvus.exceptions.MilvusException: <MilvusExcepti

[2022-08-31 09:34] yhmo commented on #18951
Current name rule:
The name of a resource can contain numbers, letters, dollar signs ($), and underscores (_). A resource name must start with a letter or an underscore (_).

[2022-08-31 10:10] NicoYuan1986 commented on #18794
The error also appears in CI.
1. https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-18918/1/pipeline/142
2. log:
[artifacts-milvus-distributed-PR-18918-1-pymilvus-e2e-logs.tar.gz](https://github.com/milvus-io/milvus/files/9460569/artifacts-milvus-distributed-PR-18918-1-pymilvus-e2e-logs.tar.gz)
3. error:ci.var.log.containers.md-18918-1-pr-milvus-indexcoord-d9cf4d

[2022-08-31 10:37] nleroy917 commented on #18489
Okay. I'll try that and report back thank you so much.

[2022-08-31 11:00] StevenSama commented on #17122
In version 2.1.1, this problem did not reproduce, it was solved, thank you

[2022-08-31 11:34] yanliang567 commented on #18951
@binbinlv please double check whether there are cases cover the name rule above?
/assign @binbinlv
/assign @czs007
/unassign

[2022-08-31 11:35] yanliang567 commented on #18940
/assign @jiaoew1991
/unassign

[2022-08-31 11:35] yanliang567 commented on #18940
@zhuwenxing is it the same root cause with reinstall/upgrade

[2022-08-31 11:36] yanliang567 commented on #18915
/assign @yah01
/unassign

[2022-08-31 11:37] yanliang567 commented on #18908
/assign @NicoYuan1986
/unassign

[2022-08-31 11:38] yanliang567 commented on #17978
RHNSW is going to off support.

[2022-08-31 11:39] #17978 closed

[2022-08-31 11:40] yanliang567 commented on #18188
@nameczz could u please help to verify it on v2.1.2 or master?
/assign @nameczz
/unassign

[2022-08-31 11:41] yanliang567 commented on #18361
RHNSW_PQ is going to off support in later release

[2022-08-31 11:42] yanliang567 commented on #18509
waiting for v2.1.2 for verification

[2022-08-31 13:03] erezweissgloat commented on #15720
Reproduced here.
milvus 2.1.1
log.level doesn't appear to change something. stays always DEBUG.

[2022-08-31 13:10] xiaofan-luan opened #18952 "[Bug]: Fix Flaky test of rocksmq"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

some of the rocksmq retention test is not running stable, because the retention time tick is not set properly

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-08-31 13:13] ThreadDao commented on #18652
Fixed `2.1.0-20220830-0733aec`

[2022-08-31 13:13] #18652 closed

[2022-08-31 13:40] weiliu1031 commented on #18664
when a canceled context pass in, due to `case ctx.Done`, the `break` can't exit the for loop. and due to the context already canceled, `stream.Chan()` can't consume any msg. so it stuck here.

[2022-08-31 13:45] weiliu1031 commented on #18664
/assign @binbinlv please verify on this

[2022-08-31 13:46] weiliu1031 commented on #18664
/assign @binbinlv

[2022-08-31 13:54] weiliu1031 commented on #18794
seems not same question with origin issue, test case fails due to 'DataCoord is not serving' while do bulk insert

[2022-08-31 13:56] weiliu1031 commented on #18794
seems not same question with origin issue, test case fails due to 'MilvusException: (code=2, message=Fail connecting to server on md-18918-1-pr-milvus.milvus-ci:19530. Timeout)'

[2022-08-31 14:40] zhuwenxing commented on #18940
Not sure, the error message is not the same, needs a further investigation by the dev.

[2022-08-31 17:41] karanbhatia-jm commented on #18544
@yanliang567 This got solved in v2.1.0. Cannot reproduce the same bug

[2022-08-31 17:41] #18544 closed

[2022-08-31 19:09] vishjain commented on #18455
/reopen

[2022-08-31 22:34] utopictown opened #18956 "[Bug]: fail to search on all shard leaders, err=fail to Search, QueryNode ID=41, reason=ShardCluster for by-dev-rootcoord-dml_1_... replicaID 435... is no available"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

i got this error while doing image reverse search

### Expected Behavior

succesfully return search result

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-01 01:28] yanliang567 commented on #18956
@utopictown thank you for the issue. This is a common error msg that might be caused by different reasons. Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

/assign @utopictown
/unassign

[2022-09-01 01:29] yanliang567 commented on #18544
great to hear that, thank you for updates

[2022-09-01 01:33] yanliang567 commented on #15720
@erezweissgloat how did you change the log.level, could you please file a new issue ?

[2022-09-01 02:19] jingkl opened #18958 "[Bug]: [Diskann Index]Milvus create diskann index and then search, in which the search parameter passes a number and an error is reported"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

default_diskann_search_params ={"metric_type": "L2", "params": {"search_list": 30}}
testcase:
[code]

log:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-01 02:30] NicoYuan1986 commented on #18846
@weiliu1031 This issue still exists，what is the progress now? Thanks for your help.
Here is the latest test result in 2.1.* branch:
1. pymilvus: 2.1.2.dev2
2. FAILED time:[2022-08-31T20:28:11.068Z] [gw5] [ 36%] FAILED testcases/test_query.py::TestQueryParams::test_query_output_all_fields
3. collection name: query_PVUemG03
4. nightly: https://jenkins.milvus.io:18080/blue/organizations/jenkins/qa%2F

[2022-09-01 02:38] NicoYuan1986 commented on #18705
The latest error for 2.1.1 branch:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/qa%2Fmilvus-release-nightly/detail/milvus-release-nightly/72/pipeline/177
1. pymilvus: 2.1.2.dev2
2. FAILED time: [2022-08-31T20:29:04.876Z] [gw0] [ 40%] FAILED testcases/test_search.py::TestCollectionSearch::test_search_with_ndarray[128-True-False]
3. collection name: search_collection_umifIDDF
4. milvus

[2022-09-01 02:44] NicoYuan1986 opened #18961 "[Bug]: [Nightly]Search failed with reason "Search 13 failed, cannot find sealed segment 435627307350822209 in QueryNode err %!w(<nil>)""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

PASSED

### Steps To Reproduce

[code]

### Milvus Log

1. FAILED time: [2022-08-31T20:29:04.876Z] [gw0] [ 40%] FAILED testcases/test_search.py::TestCollectionSearch::test_search_with_ndarray[128-True-False]
2. collection name: search_co

[2022-09-01 02:46] NicoYuan1986 commented on #18961
Similar error:
The error occurs in the nightly for the master(https://github.com/milvus-io/milvus/commit/1527aee019bb20fa564f98e1f27712535cd20bd3) branch:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/66/pipeline/143
1. milvus log: [artifacts-milvus-distributed-kafka-nightly-66-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20N

[2022-09-01 02:54] NicoYuan1986 opened #18963 "[Bug]: [Nightly] Milvus crashed reporting "find no available rootcoord""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

All PASSED

### Steps To Reproduce

[code]

### Milvus Log

1. FAILED time: [2022-08-30T15:10:40.275Z]
2. milvus log:[artifacts-milvus-distributed-pulsar-nightly-68-pymilvus-e2e-logs.tar.gz](https://github.com/milvus-io/milvus/files/9458

[2022-09-01 02:55] NicoYuan1986 commented on #18963
The error also appears in CI.
1. https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-18918/1/pipeline/142
2. log:[artifacts-milvus-distributed-PR-18918-1-pymilvus-e2e-logs.tar.gz](https://github.com/milvus-io/milvus/files/9460569/artifacts-milvus-distributed-PR-18918-1-pymilvus-e2e-logs.tar.gz)
3. error:ci.var.log.containers.md-18918-1-pr-milvus-indexcoord-d9cf4d8