[2022-01-17 02:20] yanliang567 commented on #15232
@shanghaikid could you please help to take a look at this issue?

/assign @shanghaikid
/unassign

[2022-01-17 02:26] yanliang567 commented on #15233
sounds like 2 issues here:
1. segments distributed not balanced
2. memory release insufficent

@JamCrash could you please share more details about how to reproduce the #1 issue, how many entities you inserted, how many query nodes you deployed, and how you find the segments distributed inbalanced?  for the #2 issue, this is a know issue for now, and we are trying to improve it

/assign @JamCrash
/

[2022-01-17 02:40] JamCrash commented on #15233
20nodes, 2 inbalance

[2022-01-17 02:40] binbinlv opened #15235 "[Bug]: Test cases fail reporting "'GrpcHandler' object has no attribute 'wait_for_loading_partitions_complete'""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Failed cases:
[code]

[code]

### Expected Behavior

No exception

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-01-17 02:41] ThreadDao opened #15236 "[Bug]: [CI] Connect get TypeError: __init__() missing 1 required positional argument: 'message'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-15226/2/pipeline
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-01-17 02:44] yanliang567 commented on #15235
@XuanYang-cn sounds like a pymilvus issue, please help.

[2022-01-17 02:45] yanliang567 commented on #15236
@XuanYang-cn looks like a pymilvus issue, please help
/unassign

[2022-01-17 02:47] liuhaiweicheer commented on #15201
@ @yanliang567 @xiaofan-luan
I'm using the robot question answering system,  https://github.com/milvus-io/bootcamp/blob/master/solutions/question_answering_system/question_answering.ipynb. this is my methods.

When searching for a question, we first put the question through the same model to generate an embedding.   Then with that embedding vector we can search for similar embeddings in Milvus.

T

[2022-01-17 02:50] xiaocai2333 commented on #15192
/assign

[2022-01-17 02:51] yanliang567 commented on #15201
@liuhaiweicheer could you please upload the Milvus logs to help us address the issue?

[2022-01-17 02:53] xiaocai2333 commented on #15192
A small suggestion: please don't paste the image for the server pod name, otherwise it cannot be copied. @jingkl

[2022-01-17 02:56] yanliang567 commented on #15233
@JamCrash If do concurrency, some query nodes are loaded with index files and some are loaded with original vectors, and that could be the reason. We suggest you release and reload the collection after build index done, this would ensure all querynodes are loaded with index files, and it also benefits in search

[2022-01-17 03:05] JamCrash commented on #15233
I have do that, it does not solve the problem(not balance)
besides, I think milvus should release the original vectors automatically, because there always have new vectors inserted in production environment

[2022-01-17 03:10] ThyeeZz commented on #15232
already fixed

[2022-01-17 03:24] shanghaikid commented on #15232
please test and close this issue. @yanliang567

[2022-01-17 03:45] xiaocai2333 commented on #14733
@xiaofan-luan  The latest bug pasted by @wangting0128  is because of the search timeout, not the GetIndexState timeout.

[2022-01-17 03:49] wangting0128 commented on #15184
argo task:  benchmark-no-clean-fztnm

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-cluster-8c64m-nfs

server:
[code]

client pod: benchmark-no-clean-fztnm-552278028

client logs:
[code]

[2022-01-17 03:52] wangting0128 commented on #14077
argo task: benchmark-tag-s7642

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-single-32c128m

server:
[code]

client pod: benchmark-tag-s7642-4095128662

client log:
[code]

[2022-01-17 03:57] wangting0128 commented on #11074
argo task: benchmark-tag-z4nwl

test yaml:
client-configmap:client-random-locust-search-84h-1b
server-configmap:server-cluster-8c64m-datanode2-indexnode4-querynode6

server:
[code]

client pod: benchmark-tag-z4nwl-958768975

client log:
[code]

[2022-01-17 04:06] jaime0815 opened #15238 "[Bug]: Find a data race in querycoord/impl_test.go"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

WARNING: DATA RACE
Write at 0x00c0018d0e58 by goroutine 277:
  github.com/milvus-io/milvus/internal/querycoord.Test_RepeatedLoadDifferentPartitions()
      /Users/zilliz/workspace/dev/milvus/internal/querycoord/impl_test.go:918 +0x4ed
  testing.tRunner()
      /usr/lo

[2022-01-17 04:07] ThreadDao opened #15239 "[Bug]: [deploy] Failed to start milvus cluster after pulsar broker restarts"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Deploy milvus cluster about 3 days ago successfully
2. Pulsar broker restart many times due to NAS reboot
3. Delete mic instance but retain all dependencies (etcd, pulsar, minio) and retain pvc
4. Upgrade milvus image to `fd8d452` and deploy again
5. Failed to star

[2022-01-17 04:55] yanliang567 commented on #15239
@LoveEachDay as pulsar broker was back online, we expect milvus shall be running and healthy as well. Could you please take a look first ?
/assign @LoveEachDay
/unassign

[2022-01-17 04:57] yanliang567 commented on #15232
@JackLCL could you please help to retry

/unassign
/assign @JackLCL

[2022-01-17 04:59] yanliang567 commented on #15233
Yes, this is one of enhancements that we are planning.
@xige-16 could you please take a look at the inbalance issue?
/assign @xige-16
/unassign @JamCrash

[2022-01-17 05:00] yanliang567 commented on #15238
@jaime0815 I guess you are working on this issue.
/assign @jaime0815
/unassign

[2022-01-17 05:06] herryzhang opened #15240 "[Feature]: How to get the subsequent results of the same vector"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

search_param = {"nprobe": 1024, 'metric_type': MetricType.L2}
param = {'collection_name': collection_name,
         'query_records': [feat],
         'top_k': 10,
         'params': search_param, }
status, results = milvus.search(**param)

My Milv

[2022-01-17 05:08] xiaofan-luan commented on #15240
Hi herry, we don't support pagination for now, you will have to specify top 20 to query again.

[2022-01-17 05:09] xiaofan-luan commented on #15240
and that is a very tough question to solve, anyone else hit the same issue?

[2022-01-17 05:10] herryzhang commented on #15240
thanks

[2022-01-17 05:52] yanliang567 commented on #15240
@herryzhang close if you have no more questions

[2022-01-17 05:52] #15240 closed

[2022-01-17 06:07] xiaofan-luan commented on #15239
I though that might be bug of pulsar go client . @sunby @congqixia ,can we run some test on this behaviour?
If that's the case, we have two solutions
1) fix pulsar client bug
2) close the pulsar client and reconnect a new one.

[2022-01-17 06:08] #11477 closed

[2022-01-17 06:15] czs007 opened #15241 "[Bug]: DataNode unittest datarace"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

refer to this pr , https://github.com/milvus-io/milvus/pull/15237.
Its unittest failed.

[2022/01/17 04:01:32.329 +00:00] [INFO] [compaction_executor.go:80] ["start to execute compaction"] [planID=1]
[2022/01/17 04:01:32.329 +00:00] [WARN] [compaction_executor.go:97]

[2022-01-17 06:16] XuanYang-cn commented on #15236
/unassign
/assign @ThreadDao

[2022-01-17 06:28] czs007 commented on #15165
There is a bug in pymilvus. The session ConsisitencyLevel  does not take effect in `search`.
please use the version after 2.0.0rc10.dev7

@wangting0128 @xiaofan-luan

[2022-01-17 06:28] czs007 commented on #15165
/unassign

[2022-01-17 06:29] czs007 commented on #15165
/assign @wangting0128

[2022-01-17 06:32] dkubatin commented on #15094
Thank you for this solution, but it's not what I expected. I would not want to go into the source code. Maybe there is another way?

[2022-01-17 06:39] JackLCL commented on #15232
It works well now.

[2022-01-17 06:39] #15232 closed

[2022-01-17 07:00] cydrain opened #15245 "[Enhancement]: Optimize timetickSync module"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

need check timetickSync.go

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-01-17 07:00] cydrain commented on #15245
/assign

[2022-01-17 07:02] yanliang567 commented on #15165
@wangting0128 please retry with pymilvus 2.0.0rc10.dev7 or later

[2022-01-17 07:37] #15217 closed

[2022-01-17 07:45] yanliang567 commented on #15239
/assign @sunby  @congqixia

[2022-01-17 07:54] haorenfsa commented on #14165
solved

[2022-01-17 07:54] #14165 closed

[2022-01-17 08:18] cydrain commented on #14077
https://argo-test.milvus.io/workflow-templates/qa/benchmark
server-single-32c128m	client-random-locust-100m-ddl-r8-w2

#run1

https://argo-test.milvus.io/workflows/qa/benchmark-6nsq2?tab=workflow
[code]

[2022-01-17 08:35] XuanYang-cn commented on #15235
/unassign
/assign @binbinlv

[2022-01-17 08:54] binbinlv commented on #15195
Trying to reproduce this issue, however, it was not be reproduced in both milvus version this issue used "master-20220111-ebed1a6" and the current version "master-20220116-fd8d452", [pymilvus: rc9 and the current 2.0.0rc10.dev6].

My steps are:
1  deploy milvus (cluster)
2  enable autoscalar
3  create a collection
4  insert 16 million vectors (dim=128)
5  create IVF_FLAT index [parms: default_inde

[2022-01-17 08:57] binbinlv commented on #15195
@ss892714028

Could you please use the latest milvus version to check if it still exist in the newest code? Thanks.

[2022-01-17 08:57] yanliang567 commented on #15195
/assign @ss892714028

[2022-01-17 09:06] hf185 opened #15249 "[Bug]: rootcoord send tt to all channels too slowly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

数据量大概在两千万+，load了查不多两个小时，load完成后search超时

### Anything else?

_No response_

[2022-01-17 09:13] xiaocai2333 commented on #14733
The real reason of timeout is same as #14077 , `quertnode offline` is the previous querynode that went offline after restarting.

[2022-01-17 09:19] xiaocai2333 commented on #14733
And there is another problem here. The address of the pod does not change after restart, QueryCoord can get the session of previous RootCoord to access the new RootCoord, even if the new RootCoord is not registerd successfully.

[2022-01-17 09:21] xiaofan-luan commented on #15249
hi @hf185 , any search success, or you keep receiving exception after fail?
what kind of disk you are using? seems it's slow so the timetick sync is also really slow.
any detailed logs for all the components.

[2022-01-17 09:23] yanliang567 commented on #15249
/assign @hf185
/unassign

[2022-01-17 09:28] hf185 commented on #15249
1. 第一次load后search超时，然后再次load后搜索倒是有响应了，但是每次load时间都在2H+
2. SATA 6Gb/s-7.2K
3. 日志文件太大了，需要哪个时间段的日志呢？

[2022-01-17 09:35] xige-16 commented on #15209
After searchMsg timeout, there are no more consumers for SearchTask‘s resultBuf,  whose type is chan []*internalpb.SearchResults. and there is no initialized memory space when creating the reserveBuf. So the following step will hang
[code]

[2022-01-17 09:44] binbinlv commented on #15235
Verified and fixed. [pymilvus: 2.0.0rc10.dev10]

[2022-01-17 09:53] #15190 closed

[2022-01-17 09:53] #14850 closed

[2022-01-17 09:56] binbinlv commented on #12210
This issue should be left as "open" until it is fixed.

[2022-01-17 10:05] yhmo commented on #15094
Use UPS to protect your server from power shutdown.

[2022-01-17 10:08] yhmo commented on #6857
A workaround to get center vectors from each cluster:

Use this python script, set the `milvus_db_path` to be your milvus db path, set the `collection_name` to target collection, then run the script.
[code]

[2022-01-17 10:38] xiaofan-luan commented on #15249
Better to use english for other non-chinese spearker's concenience~ thanks.
Did you build index on top of the collection? how many nodes do you have and what is the hardware config?
If no index is built I'm not sure how long does a 20m vector search will cost, but with index should be done in a few seconds or so.

[2022-01-17 10:45] hf185 commented on #15249
The index is created.

Hardware Configuration
- CPU: 16core * 2 (32 cores 64 threads)
- Memory: 256G
- Hard Disk: 2000GB-SATA 6Gb/s-7.2K *2 (4T)

[2022-01-17 10:47] xiaofan-luan commented on #15249
if index creation is done then that looks weird. could you please offer proxy logs and querynode logs?

[2022-01-17 10:48] xiaofan-luan commented on #15249
also, what is the topK?

[2022-01-17 11:04] xige-16 commented on #15209
/unassign
/assign @zhuwenxing

[2022-01-17 11:08] xige-16 commented on #15233
@JamCrash  If do concurrency,

For newly inserted vector data, milvus already supports automatic replacement of the original vector with index.

[2022-01-17 12:36] xige-16 commented on #15233
@JamCrash The two unbalanced nodes should be watching dmchannel and have been receiving streaming data. I will check why they consume so much memory.

[2022-01-17 13:58] SuoSiFire commented on #6684
I recompiled the fixed version, but the performance still doesn't look good. It takes 10 minutes for me to get 10w  vector data with a batch size of 1k.
@yhmo

[2022-01-17 14:55] xiaofan-luan opened #15256 "[Feature]: Support to config rocksmq cache size and block size"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

user may want to config rocksmq blocksize and cache size to tune the performance of rocksmq

### Describe the solution you'd like.

user will be able to config the following configs in milvus.yaml
rocksmq.blockSize
rocksmq.cacheCapacity

### Descr

[2022-01-17 15:33] TheBritishSabrina opened #15258 "[Bug]: Search in collection very slow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When searching in one small collection, collection.search() takes 0.3-0.4 seconds, where quoted time is 35ms.

Setup:
- Index: IVF_SQ8
- Number of vectors: 24,000
- Dimension of vectors: 150
- nlist: around 620 (4 * sqrt(number of vectors))
- nprobe: 20

We have tried

[2022-01-17 15:51] xiaofan-luan commented on #15258
hi there~ from the log we see guarantee timestamp is specified and seems that it always lag behind and the server take around 200ms to wait for the timetick.

Did you tried to set guarantee timestamp to 1~ may I check your client side code?

@czs007 could you also please follow up this issue?

[2022-01-17 16:02] xiaofan-luan commented on #15258
@TheBritishSabrina also, can you give use some data about your scenario, like how many qps, latency, entity count you would  expect?

[2022-01-17 16:27] TheBritishSabrina commented on #15258
Hi @xiaofan-luan! Yes, we set guarantee timestamp to various values, including 1. Here are the latest logs, after changing back to 1 and re-running search.
[query-node-log-17012201.txt](https://github.com/milvus-io/milvus/files/7883360/query-node-log-17012201.txt)

The call to collection.search() is currently:

res = self.collection.search(
                vectors,
                partition_names=

[2022-01-18 01:38] yanliang567 commented on #15139
@ThreadDao could you also help to verify this issue?

/assign @ThreadDao
/unassign

[2022-01-18 01:39] #15212 closed

[2022-01-18 01:48] xiaocai2333 opened #15259 "[Enhancement]: RootCoord set healthy after registered."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

RootCoord set healthy state code  after registered service successfully.

### Why is this needed?

The address of the pod does not change after restart, QueryCoord can get the session of previous RootCoord to access the new RootCoord, even if the new RootCoord is not registerd

[2022-01-18 01:48] xiaocai2333 commented on #15259
/assign

[2022-01-18 01:49] hf185 commented on #15249
Last night until now, the server's 3.5 T disks have been used up, and now the container has been shut down, and the logs can no longer be exported. I am very curious about what can occupy so many disks. The rc8 used before the ga version has never appeared over this phenomenon

[2022-01-18 01:51] #15235 closed

[2022-01-18 02:02] hf185 commented on #15249
How much disk space does 10 million pieces of data occupy?

[2022-01-18 02:04] #13318 closed

[2022-01-18 02:10] xiaofan-luan commented on #15258
that's weird, we've expect 15ms latency under your data size(And will be improved to under 10ms for next big release)
according your server side log all ganruatee timestamp is still current time, which lead to the long waiting time in the queue for data sync.

@czs007 @DragonDriver any suggestions? maybe we should just upgrade pymilvus versions and let user set their consistency level?

[2022-01-18 02:10] xiaofan-luan commented on #15258
/assign @DragonDriver

[2022-01-18 02:12] zhuwenxing commented on #14300
The action all passed is caused by chaos injection failure, not because of the fix.
After fixing the chaos injection failure, the issue still exists.
See: https://github.com/milvus-io/milvus/runs/4844812108?check_suite_focus=true

[2022-01-18 02:15] zhaocc1106 commented on #15038
[milvus-22-01-17-18_05-debug.zip](https://github.com/milvus-io/milvus/files/7885593/milvus-22-01-17-18_05-debug.zip)
[milvus-22-01-17-18_05-info.zip](https://github.com/milvus-io/milvus/files/7885596/milvus-22-01-17-18_05-info.zip)
[milvus-22-01-17-18_05-trace.zip](https://github.com/milvus-io/milvus/files/7885611/milvus-22-01-17-18_05-trace.zip)
[threads_trace.txt](https://github.com/milvus-io/mi

[2022-01-18 02:18] xiaofan-luan commented on #15249
based on dimension, for 128 dim float it should take 10-30G I guess~

[2022-01-18 02:23] hf185 commented on #15249
Now 2000W data occupies 3.3 T disks, is it a bug in the ga version?

![ca3f04987a0dfa87833dca1815f2009](https://user-images.githubusercontent.com/43991218/149859776-ccb9c0e8-a413-43b7-8dbd-02a381e7f5d1.png)

[2022-01-18 02:42] ss892714028 commented on #15195
I cannot reproduce this on master-20220116-fd8d452, closing this issue.

[2022-01-18 02:42] #15195 closed

[2022-01-18 02:46] xiaofan-luan commented on #15249
that looks weird, did you do any drop collection operation frequently?
also which directory occupies most of the data? even if 3 replicas it should around hundred gigabytes.

[2022-01-18 02:46] DragonDriver commented on #15258
hello, @TheBritishSabrina , we have supported to specify the consistency level when you do a search. See details in [Support consistency level when search](https://github.com/milvus-io/pymilvus/commit/a8e8951e1ee0b66b47682e477fa025dfddfcfae8), and we'll release this commit soon.
If you are interested in trying this feature now, you can reinstall pymilvus via:
[code]

[2022-01-18 02:47] xiaofan-luan commented on #15249
and did you count entities and make sure there are only 20m vectors?

[2022-01-18 02:49] XuanYang-cn commented on #14300
[code]

[2022-01-18 02:50] xiaofan-luan commented on #15165
Any one hit similar issue please try newer pymilvus version, or specify your pymilvus version directly

[2022-01-18 02:53] xiaofan-luan commented on #14875
@xincrazy this issue should be solved and it's duplicated with #15139, please check in the GA version

[2022-01-18 02:53] #14875 closed

[2022-01-18 02:58] xiaofan-luan commented on #14690
The large the milvus cluster the recovery time should be faster.
For standalone it's gonna to be slow if we have many data in memory.
For etcd lease notification and retrive data from log, I thought It should take less than 1 minutes~~

[2022-01-18 03:00] xiaofan-luan commented on #14300
What does the log mean? retrieve data from pulsar takes 10 mins?

[2022-01-18 03:02] hf185 commented on #15249
Yes, only about 20 million

[2022-01-18 03:03] xiaofan-luan commented on #14300
Seems that under step 3, if datanode failed to handle, we should just mark the task as failed and wait for datacoord retry

[2022-01-18 03:04] xiaofan-luan commented on #14121
it should be fixed after refactoring of rocksmq, close for now

[2022-01-18 03:04] #14121 closed

[2022-01-18 03:05] Yanx0202 opened #15265 "[Security]: log4j security issues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

pulsar v2.7.3 is using log4j-core-2.10.0.jar ,that can cause security issues.
Ref: https://logging.apache.org/log4j/2.x/security.html
       https://pulsar.apache.org/blog/2021/12/11/Log4j-CVE/

### Expected Behavior

upgrade pulsar version to 2.7.4 to fix this issues

[2022-01-18 03:05] xiaofan-luan commented on #14163
do we instruction about how to use it?

[2022-01-18 03:06] xiaofan-luan commented on #13925
/assign @binbinlv

[2022-01-18 03:07] xiaofan-luan commented on #15265
/assign @LoveEachDay

[2022-01-18 03:07] xiaofan-luan commented on #15265
are we gonna to do the upgrade?

[2022-01-18 03:07] xiaofan-luan commented on #15265
@Yanx0202 thanks for the feedback, I thought we need to do the upgrade before GA

[2022-01-18 03:08] Yanx0202 commented on #15265
yes, I just commit the PR
https://github.com/milvus-io/milvus/pull/15263

[2022-01-18 03:10] Yanx0202 commented on #15265
But I am the first time to commt PR to milvus-io/milvus , So I trying to fellow the commit step

[2022-01-18 03:18] xiaofan-luan commented on #15265
cool，the DCO seems to be not working, please check https://github.com/milvus-io/milvus/blob/master/CONTRIBUTING.md#developer-certificate-of-origin-dco to fix the DCO issues.

[2022-01-18 03:59] bigsheeper commented on #14077
code change of "core" between 2021/12/15 ~ 2021/12/22:
https://github.com/bigsheeper/milvus/compare/2202-tag-20211215...bigsheeper:2202-tag-20211215-with-22-core

[2022-01-18 04:24] xige-16 commented on #14689
https://github.com/apache/pulsar-client-go/pull/703 seems has fixed the issue

[2022-01-18 05:34] zhuwenxing opened #15272 "[Bug]: Time cost of creating collection is large when running test_e2e.py after pulsar pod recovered from pod kill"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

Normal case
[code]

### Expected Behavior

same as normal case
[code]
-------------------------------- live log call ---------------------------------
[2022-01-17 18:49:53 - INFO - ci_test]: assert create collection: 0.10840010643005371, init_entities: 0 (test

[2022-01-18 06:05] hf185 commented on #15249
@xiaofan-luan
![image](https://user-images.githubusercontent.com/43991218/149880026-28ac4c5a-785e-45bc-b586-47aa60ae5491.png)

[2022-01-18 06:14] xiaofan-luan commented on #15249
pulsar and etcd looks find? any details about minio? maybe there are some tools to check minio per bucket

[2022-01-18 06:17] hf185 commented on #15249
The container has been downed by my colleague, and now I can't get the log, but I'm sure rc8 has never had this problem, the same amount of data

[2022-01-18 06:26] sunby commented on #14300
Yes, for now the DataNode will retry to wantch the channel if the step3 failed and it can handle this situation. DataCoord have also implemented the retry logic and I want to enable it after GA release.

[2022-01-18 06:28] sunby commented on #14300
@xiaofan-luan It seems that DataNode spent too much time  to seek after  pulsar restarted.

[2022-01-18 06:29] xiaofan-luan commented on #15249
yep, if we know which directory occupies data then we can do some investigation on that

[2022-01-18 06:29] xiaofan-luan commented on #15249
better to have datanode and datacoord log, big thanks !

[2022-01-18 06:30] xiaofan-luan commented on #15265
any trouble on DCO? you probably need to check your github eamil

[2022-01-18 06:49] sunby commented on #14689
@xige-16 Can we use the fixed commit as our pulsar client dependency version?

[2022-01-18 06:55] xige-16 commented on #14689
Need to assess the risk, after all, it is not a release version

[2022-01-18 07:03] yanliang567 commented on #15272
@sunby  could you please help to take a look at this issue?
/assign @sunby
/unassign

[2022-01-18 07:09] binbinlv commented on #13925
Have not been reproduced for long time, so close it first, will reopen it if it occurs later.

[2022-01-18 07:09] #13925 closed

[2022-01-18 07:11] binbinlv commented on #9623
It has not been reproduced for a period of days, so close it first, will reopen it if it occurs latter.

[2022-01-18 07:11] #9623 closed

[2022-01-18 07:30] binbinlv commented on #15236
Fixed, and closed.

[2022-01-18 07:30] #15236 closed

[2022-01-18 07:43] jingkl opened #15275 "[Bug]: The error "SegmentIDAllocator failRemainRequest unexpected error" is reported during inserting data."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client log:
<img width="1438" alt="截屏2022-01-18 下午3 32 46" src="https://user-images.githubusercontent.com/34296482/149891817-0ad1f96a-2812-4139-a4b0-8b14fb470dbd.png">
[code]
server:
[code]

### Expected Behavior

insert no error

### Steps To Reproduce

[code]

### A

[2022-01-18 07:49] xiaocai2333 commented on #15259
/closed

[2022-01-18 07:55] xiaocai2333 commented on #15259
Closed

[2022-01-18 08:28] XuanYang-cn commented on #14300
Seek cost 9mins

[2022-01-18 08:37] jaime0815 opened #15278 "[Bug]: QueryNodeStatsMsg doesn't have consumer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

statsService will always produce QueryNodeStatsMsg to the producer,  but none to consume which may cause fill pulsar storage completely.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

Remove code about QueryNodeStatsM

[2022-01-18 08:41] congqixia opened #15280 "[Bug]: internal/msgstream unittest panics randomly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

`msgstream` package unit test panics randomly

### Expected Behavior

Unit tests passes

### Steps To Reproduce

[code]

### Anything else?
[code]

[2022-01-18 08:43] xiaofan-luan commented on #15280
hit the same issue here~

[2022-01-18 08:47] sunby commented on #14300
@XuanYang-cn Would you help to figure out the reason why it cost so long? 👍

[2022-01-18 08:48] haorenfsa commented on #14163
Yes, it's in  https://milvus.io/docs/v2.0.0/install_standalone-aptyum.md#Install-Milvus-with-YUM-on-CentOS

If you want to build rpm on your own, you can use `make rpm` under centos development environment

[2022-01-18 08:58] xige-16 commented on #15278
@jaime0815 Because stateChannel has no consumers for the time being, first cancel the logic of querynode sending state message.

[2022-01-18 08:59] binbinlv opened #15282 "[Bug]: Nightly test case fails because could not connect to milvus reporting "Fail connecting to server...""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

Connect milvus successfully

### Steps To Reproduce

[code]

### Anything else?

Some clues:

1. Failed case: testcases/test_search_20.py::TestCollectionSearch::test_search_with_expression_bool[128-False-True-False]

2.  Failed timeline:

[2022-01-18 08:59] bigsheeper commented on #15278
/assign

[2022-01-18 09:01] bigsheeper commented on #15278
keep this issue open, I'll remove the entire statsService after GA

[2022-01-18 09:05] binbinlv opened #15283 "[Bug]: [cluster] Nightly test case hangs for panic in querynode and datacoord"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

test case hangs for cluster mode

### Expected Behavior

All the test cases executed successfully

### Steps To Reproduce

[code]

### Anything else?

Tests hangs and there is no logs generated at this point, but the environment is still existed, so could login the ma

[2022-01-18 09:41] xiaofan-luan commented on #15280
what is the main reason?  not sure if retry would help

[2022-01-18 09:45] ThreadDao commented on #15139
Sometimes after inserting (include flush) 10 times (10000 at a time), if I insert it again, the following exception will be got:
It is worth noting that segments num 10 is the threshold of auto-compact.
[code]

[2022-01-18 09:47] congqixia commented on #15280
@xiaofan-luan hate the retry patch as well.
Since the error is returned from pulsar (error type was server error), a wild guess was that pulsar meta data was not synced in a very short period of time.

I tested with a shell script to run UT until it fails, with retry patch it keeps working for about half an hour until I manually stop the script.

[2022-01-18 09:49] #15241 closed

[2022-01-18 09:52] xiaofan-luan commented on #15280
ok, we will mark it as a temp solution.

[2022-01-18 10:02] ThreadDao commented on #15139
If I create an index before insert and search process start, search get the following error
[code]

[2022-01-18 10:48] yanliang567 commented on #15139
@xige-16 could you please help to check this issue

[2022-01-18 10:52] yanliang567 commented on #15283
@sunby could you please take a look at this issue?
/assign @sunby
/unassign

[2022-01-18 10:54] yanliang567 commented on #15282
@sunby not sure if it was due to the pulsar broker issue
/assign @sunby
/unassign

[2022-01-18 10:59] xige-16 commented on #15139
ok

[2022-01-18 11:00] binbinlv opened #15285 "[Bug]: Update pymilvus version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

NA

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-01-18 11:55] donesky commented on #15165
the latest version in git is rc9

[2022-01-18 16:02] TheBritishSabrina commented on #15258
Hi both, we found that we were using pymilvus SDK version 2.0.0rc7, not rc9. Confusingly, using the 'helm list' command showed v2.0.0rc9, so it was hard to diagnose the issue. After updating, the guarantee_timestamp parameter is now recognised and our search time is much quicker! Thanks for your help.

[2022-01-19 01:10] yanliang567 commented on #15283
querynode was restarted and not back to service

[2022-01-19 01:31] yanliang567 commented on #15139
/assign @xige-16
/unassign @ThreadDao @xxcheng0708

[2022-01-19 02:39] zhaocc1106 commented on #15038
Any new developments？@yhmo

[2022-01-19 02:55] binbinlv commented on #15283
For 305:

there are panic in datacoord and querynode:

(1) md-305-n-milvus-datacoord-f455cddc-56x5m_milvus-ci_datacoord-5a3376049d42d661cb64cc4484b97d98aaa684b96997104babf32713a1e527c4.log:

[code]
(2) md-305-n-milvus-querynode-75c88f95cc-58qrm_milvus-ci_querynode-56feae97f0a74b6188854829f418a01551c57f8157014e43d4bcc690ce6ad0e9.log

[code]

[2022-01-19 02:57] binbinlv commented on #15283
Panic occurs again in nightly 306: (cluster mode)
https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/306/:
(1) md-306-n-milvus-datacoord-66f99754f4-hmpqp_milvus-ci_datacoord-2773cbd4e7cc154f865398f4dd4f383940d9a2fd216e07ec0c367dae35766973.log

[code]

(2) md-306-n-milvus-querynode-7886c46b96-t6nf8_milvus-ci_querynode-56caf7d1f2e6c2b8e85235916c15e9ebceff9cf1095b7548f8258e73e570aea0

[2022-01-19 03:00] wangting0128 opened #15293 "[Bug]: [benchmark][cluster] The client did not return when querying, and search raise error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod: benchmark-tag-jm6sx-4086825410

[locust_report_2022-01-18_601.log](https://github.com/milvus-io/milvus/files/7893722/locust_report_2022-01-18_601.log)

client log:
[code]

### Expected Behavior

argo task: benchmark-tag-jm6sx

test yaml:
client-configmap:c

[2022-01-19 03:23] xige-16 commented on #15139
The format of search params is not correct. Missing nprobe in Param.  link: https://milvus.io/docs/v2.0.0/search.md?cli#Prepare-search-parameters
[code]

[2022-01-19 03:29] xige-16 commented on #15139
@ThreadDao
/unassign
/assign @ThreadDao

[2022-01-19 03:35] ThreadDao commented on #15139
It's hard for me to realize that my parameters are wrong with this terrible exception message!

[2022-01-19 03:36] #14747 closed

[2022-01-19 03:37] #13334 closed

[2022-01-19 03:38] #15259 closed

[2022-01-19 03:39] #13934 closed

[2022-01-19 03:40] #13935 closed

[2022-01-19 03:41] #14707 closed

[2022-01-19 03:43] #14918 closed

[2022-01-19 03:43] #15165 closed

[2022-01-19 03:43] xige-16 opened #15294 "[Enhancement]: Supports format checking for search parameters"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

when search params is not correct, sdk or proxy should return error immediately.

### Why is this needed?

when search with params:
[code]

the error returned is confused:
[code]

### Anything else?

_No response_

[2022-01-19 03:44] xige-16 commented on #15294
/assign @xige-16

[2022-01-19 03:45] xige-16 commented on #15139
After GA, we will optimize the return value.

[2022-01-19 03:45] xige-16 commented on #15294
link : https://github.com/milvus-io/milvus/issues/15139#issuecomment-1016042991

[2022-01-19 03:46] xiaocai2333 commented on #11074
Pulsar's broker restarted.

[2022-01-19 03:54] yanliang567 commented on #15293
@xige-16 thanks
/assign @xige-16
/unassign

[2022-01-19 06:01] jingkl commented on #15192
Using  new  milvus image, verified 1000w  hnsw index data, indexnode  set 5G no OOM, actual use 4.23GB

[2022-01-19 06:01] #15192 closed

[2022-01-19 06:20] xiaocai2333 commented on #15186
Log is not exist.

[2022-01-19 06:31] xige-16 opened #15295 "[Bug]: There are not need for QueryNode creating timetick channel's producer for every flowgraph"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

querynode create a msgstream for every flowgraphTimeTickNode, and create an useless producer.

### Expected Behavior

timetick channel is no longer needed

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-01-19 06:32] xige-16 commented on #15295
/unassign @yanliang567
/assign

[2022-01-19 07:09] czs007 commented on #15275
@jingkl @yanliang567

Datacoord will ignore the failed allocation operation and only return the successful result for the allocation segment request from the proxy.

[code]

This will cause the proxy to fail to assign segmentID to the insert request, and throw an error:
"SegmentIDAllocator failRemainRequest unexpected error"

The reason for the failure of Datacoord allocation can be inferred from

[2022-01-19 07:20] xige-16 commented on #15293
querynode failed to watch DeltaChannel for the first time
[code]

[2022-01-19 07:22] xige-16 commented on #15293
Since the querynode did not clean up tsafe after the watch failed, when the querynode retried the watch deltachannel for the second time, it returned directly, and there was no real watch deltaChannel, so the serviTime corresponding to the deltaChannel could not be updated

[2022-01-19 07:44] wangting0128 commented on #12465
argo task: benchmark-tag-454wb

test yaml:
client-configmap:client-random-locust-search-84h-1b
server-configmap:server-cluster-8c64m-datanode2-indexnode4-querynode6

server:
[code]

client pod: benchmark-tag-454wb-3423824660

client log:
[code]

[2022-01-19 07:52] #13220 closed

[2022-01-19 09:05] #13263 closed

[2022-01-19 09:07] rocke-dong opened #15299 "[Bug]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I insert pandas data with vectors. The vector dimension size is 7621 and whoe length is 28482, there is error:
Addr [localhost:19530] bulk_insert
RPC error: <_MultiThreadedRendezvous of RPC that terminated with:
	status = StatusCode.RESOURCE_EXHAUSTED
	details =

[2022-01-19 09:34] yanliang567 commented on #15299
@rocke-dong according to the error msg " details = "grpc: received message larger than max (868385309 vs. 536870912)", you inserted too much data in one insert request. Please try to insert less entities in one insert request.
BTW, Milvus limits the max size as 512M for one grpc request and receive.

/assign @rocke-dong
/unassign

[2022-01-19 09:58] rocke-dong commented on #15299
solved! thanks for your timely help, with your reminding, I split the date half and insert two timesly.

[2022-01-19 09:58] #15299 closed

[2022-01-19 09:59] yhmo commented on #15038
The "XSearchTask::Load() start" didn't printed, that means the search task not yet start. Not sure why it stop working, I need to review the source code.
In my opinion, the scheduler is over designed, consider too much.

[2022-01-19 10:00] XuanYang-cn commented on #14300
[code]

According to the broker logs, pulsar will try to recover every consumer's healthcheck channel **in order** from consumerID=1 to
consumerID=48.

And all 48 consumers takes 9 minutes finishing recover to this channel `persistent://pulsar/test-pulsar-pod-kill/10.244.0.62:8080/healthcheck`

[2022-01-19 10:05] #13267 closed

[2022-01-19 10:07] XuanYang-cn commented on #14300
Now investigating the logs of broker of passing tests.

[2022-01-19 11:14] XuanYang-cn commented on #14300
A complete log for consumer recovering to healthcheck channel:
[code]

[2022-01-19 11:22] sunby commented on #12465
Server log is incomplete. @wangting0128

[2022-01-19 11:39] XuanYang-cn commented on #14300
[code]

[2022-01-19 12:31] XuanYang-cn commented on #14300
With zk loadbanlancing
[code]

Without zk load balancing
[code]

[2022-01-19 12:35] XuanYang-cn commented on #14300
Seems like the `ModularLoadManagerImpl` is expensive

[code]

[2022-01-19 13:47] czs007 opened #15304 "[Bug]: QueryNode search exceptions will cause memory leaks"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

QueryNode search exceptions will cause memory leaks.

in query_collection.go:

1.  searchReq may leak

[code]
when error occurs, searchReq is not released.

2. plan may leak
[code]
when error occur,   	plan.delete() is not called.

3.  searchResults may leak
[code]
wh

[2022-01-19 17:23] #15280 closed

[2022-01-20 01:09] #15285 closed

[2022-01-20 02:08] xiaofan-luan commented on #15265
2.7.4 seems to hit some stability issue, we are looking into it

[2022-01-20 02:16] xiaofan-luan commented on #15249
hi @hf185, any progress?

[2022-01-20 02:20] hf185 commented on #15249
I can't get the docker log now, sorry

[2022-01-20 02:21] godchen0212 opened #15308 "[Enhancement]: Support make storage engine configurable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

- [x] #15540

- [ ] Add chunkManagerFactory
- [ ] Add a more generic factory instead of the existing msgFactory to build nodes.
- [ ] Add milvus.yaml support

### Why is this needed?

https://wiki.lfaidata.foundation/display/MIL/MEP+22+--+Support+make++storage+engine+configura

[2022-01-20 02:21] zhuwenxing commented on #15209
It is not reproduced in the latest job https://github.com/milvus-io/milvus/runs/4872299369?check_suite_focus=true.
So remove the critical label.

[2022-01-20 02:36] xige-16 commented on #15293
@wangting0128 pr has been merged, please verify it several times.
/unassign
/assign @wangting0128

[2022-01-20 02:47] yhmo commented on #15038
I believe the bug is caused by this line: https://github.com/milvus-io/milvus/blob/1.1/core/src/scheduler/CircleQueue.h#L94

You can do this test:
In the header file: src/scheduler/CircleQueue.h
1. Include log header
`#include "utils/Log.h"`

2. Add a log in the two put() methods:
[code]
If the server crash again, go to check the error.log for the log "CircleQueue throw exception".

[2022-01-20 02:58] binbinlv commented on #15282
Have not been reproduced for two days, so close it first, and will reopen it if it occurs again later.

[2022-01-20 03:10] #15275 closed

[2022-01-20 03:22] jingkl commented on #15275
Considering that etcd is too slow, it is possible that the cluster environment is the problem, close issue

[2022-01-20 03:25] #13262 closed

[2022-01-20 03:29] ThreadDao commented on #15139
After updating search params, I re-run the scripts mentioned above with image `master-20220120-c132302` and passed. I think it is fixed. @xxcheng0708 Maybe you can update the milvus version. I will close it first and you can reopen the issue with more details.

[2022-01-20 03:29] #15139 closed

[2022-01-20 03:32] xige-16 opened #15312 "[Bug]: querynode ignore error when create msgstream"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

when failed to create msgstream, the error should be handled. Because msgstream.client== nil at this time, so will panic when creating the consumer
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-01-20 03:32] xige-16 commented on #15312
/unassign @yanliang567
/assign @bigsheeper

[2022-01-20 04:14] binbinlv opened #15314 "[Bug]: Modify the CI running way"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

NA

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-01-20 06:37] xige-16 commented on #15278
/unassign

[2022-01-20 06:46] xige-16 commented on #15133
@bigsheeper @cydrain Are there any new ideas?

[2022-01-20 07:18] binbinlv commented on #15282
Reopen it for reproduction in CI:

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-15315/3/pipeline

[2022-01-20 08:00] zhaocc1106 commented on #15038
We will try

[2022-01-20 09:22] binbinlv commented on #15282
And occurs again in the following nightly tests:

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/308/pipeline/106

[2022-01-20 09:27] yhmo commented on #15038
@zhaocc1106
Use this log to print more information:
[code]

[2022-01-20 09:53] JamCrash commented on #15233
does this issue reproduce?

[2022-01-20 09:59] ThreadDao opened #15324 "[Bug]: [scale] Index creation takes a long time after indexNode is scaled down"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

It took 33 seconds to create an index on 3w entities after reducing the number of indexNode from 2 to 1.

client log:
[gw2.log](https://github.com/milvus-io/milvus/files/7904017/gw2.log)

server log:
[artifacts-milvus-scale-test-shrink-index-logs.tar.gz](https://githu

[2022-01-20 12:59] xiaocai2333 commented on #15324
The default expiration time  of session is 60s. After IndexNode goes offline, IndexCoord is only aware of it after 60 seconds.

[2022-01-21 01:01] yanliang567 commented on #12598
lets keep it

[2022-01-21 01:11] yanliang567 commented on #15324
@ThreadDao shall we drop the index and rebuild the index at step #7 to check whether it is caused by the awareness of indexnode offline.

[2022-01-21 01:56] cydrain commented on #14077
Compared the code diff between 2021/11/30 ~ 2021/12/31, find no suspicious PR which could cause Search panic.
Plan:
1. re-test 2021/11/30 docker image and 2021/12/15 image
2. find a way to let Cgo print out backtrace info or coredump

[2022-01-21 02:29] czs007 commented on #15133
@sugia Can you provide the commit of the Milvus？

[2022-01-21 02:51] binbinlv commented on #15283
Test hang again for cluster mode in latest nightly:
https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/310/

milvus: 21f999f
mode: cluster
pymilvus: 2.0.0rc10.dev12
replica number:
--set proxy.replicas=2 \
--set queryNode.replicas=2 \
--set indexNode.replicas=2 \
--set dataNode.replicas=2 \

1. logs: the following name
artifacts-milvus-distributed-master-310-pymilvus-e2e-logs.tar.

[2022-01-21 04:58] godlockin commented on #6857
cheers, does this python script works on 2.0 as well or just used for 1.x?

[2022-01-21 04:59] suibianmzl opened #15333 "[Bug]: Milvus query node failed to start"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

### [ERROR] [roles.go:473] ["Get signal to exit\n"] [signal=terminated] [stack="github.com/milvus-io/milvus/cmd/roles.(*MilvusRoles).Run\n\t/go/src/github.com/milvus-io/milvus/cmd/roles/roles.go:473\nmain.main\n\t/go/src/github.com/milvus-io/milvus/cmd/main.go:286\nru

[2022-01-21 06:01] xiaofan-luan commented on #15333
Thanks for the feedback @suibianmzl , we are looking into it~

[2022-01-21 06:12] yanliang567 commented on #15333
/assign @LoveEachDay
/unassign

[2022-01-21 06:23] xige-16 commented on #12662
Yes, this issue no longer exists

[2022-01-21 06:23] #12662 closed

[2022-01-21 06:38] LoveEachDay commented on #15333
`[ERROR] [roles.go:473] ["Get signal to exit\n"] [signal=terminated] [stack="github.com/milvus-io/milvus/cmd/roles.(*MilvusRoles).Run\n\t/go/src/github.com/milvus-io/milvus/cmd/roles/roles.go:473\nmain.main\n\t/go/src/github.com/milvus-io/milvus/cmd/main.go:286\nruntime.main\n\t/usr/local/go/src/runtime/proc.go:204"]`

According to the log of query node, query node is killed because health probe i

[2022-01-21 06:45] xiaofan-luan commented on #15333
Seems that there is a deadlock of component startup, still need to investigate on it

[2022-01-21 07:20] jaime0815 commented on #15238
this issue can not be reproduced after trying it again  -_-

[2022-01-21 07:30] xiaofan-luan commented on #15333
hi @suibianmzl , still need full log, especially rootcoord to know the reason why the cluster can not be up, please offer the detailed logs if possible

[2022-01-21 08:07] suibianmzl commented on #15333
The following is the coord log related to Milvus  Please take a look thank you
[rootcoord.log](https://github.com/milvus-io/milvus/files/7911366/rootcoord.log)
[datacoord.log](https://github.com/milvus-io/milvus/files/7911370/datacoord.log)
[indexcoord.log](https://github.com/milvus-io/milvus/files/7911395/indexcoord.log)

[2022-01-21 08:37] XuanYang-cn commented on #14300
The above is wrong, health check channel won't block new channels from creating and seeking. The healthcheck channel just keep going.

[2022-01-21 08:49] yanliang567 commented on #7222
verified not increased by stairs any more

[2022-01-21 08:49] #7222 closed

[2022-01-21 08:59] artisan867 opened #15339 "[Bug]: unable to start project"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I followed the steps of the official documentation and wanted to deploy it in my virtual machine for learning, but a brand new centos7.8 2002 could not be started, prompting that my configuration file was wrong.

The official document tells that it is the configuratio

[2022-01-21 09:25] artisan867 commented on #15339
my docker version is：Docker version 20.10.12, build e91ed57

thanks

[2022-01-21 10:48] XuanYang-cn commented on #14300
https://github.com/XuanYang-cn/milvus/actions/runs/1726757451

[2022-01-21 11:18] #12750 closed

[2022-01-21 11:18] #13065 closed

[2022-01-21 11:18] #13426 closed

[2022-01-21 16:41] cydrain commented on #14077
Have build docker image supporting coredump
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/build-dev-image/detail/build-dev-image/26/pipeline

[2022-01-22 02:25] yanliang567 commented on #15283
@DragonDriver rootcoord crashes for many times. please help to check
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/311/pipeline
[code]

[2022-01-22 09:04] yanliang567 opened #15344 "[Bug]: There are always 2 growing segments even there are no more data inserted for hours"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

There are always 2 growing segments in querynode, even there are no more data inserted for hours.
After insert completed for 12+ hours, there are 2 segments still in growing
![image](https://user-images.githubusercontent.com/82361606/150632159-122bded5-2194-471c-bd2d-

[2022-01-22 09:06] xiaofan-luan commented on #15344
this is by design~~ each channel has at least 1 growing segments waiting for new insertions.

[2022-01-22 09:27] jennyli-z opened #15346 "[Bug]: indexnode bug -test_load_partition_after_index_binary[get_binary_index0] failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

test_load_partition_after_index_binary[get_binary_index0]  failed

[code]

### Expected Behavior

case `test_load_partition_after_index_binary[get_binary_index0] ` should pass

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-01-22 10:38] yanliang567 commented on #15344
even after a few hours without any data inserted?

[2022-01-23 03:23] #13560 closed

[2022-01-23 08:58] #13294 closed

[2022-01-24 01:23] yanliang567 commented on #15339
@yhmo could you please help on this issue?
/assign @yhmo
/unassign

[2022-01-24 02:01] xiaofan-luan commented on #15344
yep, growing segments per shards is always there waiting for new insertions

[2022-01-24 02:03] xiaofan-luan commented on #15295
close this issue since it's fixed by #15296

[2022-01-24 02:03] #15295 closed

[2022-01-24 02:05] zhuwenxing commented on #14300
https://github.com/milvus-io/milvus/runs/4914182804?check_suite_focus=true

[2022-01-24 02:25] sunby commented on #15344
The two growing segments will be flushed automatically after 24 hours by default. @yanliang567

[2022-01-24 02:30] yanliang567 commented on #15344
Verified the 2 growing segments turn to sealed after 24+ hours.

[2022-01-24 02:30] #15344 closed

[2022-01-24 02:55] sunby commented on #14300
@zhuwenxing @XuanYang-cn This issue will be fixed after #15343

[2022-01-24 06:42] congqixia opened #15357 "[Bug]: DataNode unit test fails randomly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

DataNode unit test fails randomly

### Expected Behavior

Unit Test passes

### Steps To Reproduce

[code]

### Anything else?

https://github.com/milvus-io/milvus/runs/4896929072?check_suite_focus=true

[2022-01-24 08:32] jingkl opened #15363 "[Enhancement]: Modify duplicate test cases"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Delete the test cases in test_insert.py and test_insert_20, test_partition.py and test_partition_20.py that are duplicated

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-01-24 08:40] xiaofan-luan commented on #2745
we will keep this issue and wait for people to take it

[2022-01-24 08:47] xiaofan-luan opened #15364 "[Feature]: Add metrics for search,insert,delete qps, latency"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

We need more metrics about DML latency, which including search,insert,delete.
For details, we should see latency histogram for each stage, for example e2e, proxy side, message queue,  per segment and during reduce.
This will help users to investig

[2022-01-24 08:49] xiaofan-luan commented on #2745
See chunk_managers about milvus stored data into minio.
There is a minio_chunkmanager and we should adapt it into HDFS_chunkmanager to solve this issue

[2022-01-24 09:01] yhmo commented on #15339
The "version: 0.5" is the config file version, not Milvus version. 0.5 is correct, no need to change it.

This page https://milvus.io/docs/v1.1.1/milvus_docker-cpu.md use this command to start milvus:

[code]
You can remove the "-d" to see what error printed in the terminal:
[code]
From the error we may know what problem it is.

[2022-01-24 09:18] #15346 closed

[2022-01-24 09:35] wangting0128 opened #15367 "[Bug]: [benchmark][cluster][Memory Leak] Datanode's cpu and mem keep going up and not going down"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

monitor：
<img width="1860" alt="截屏2022-01-24 17 32 49" src="https://user-images.githubusercontent.com/26307815/150757248-86d462f9-88b3-4a7d-8f79-0df6c222f7a4.png">
<img width="1823" alt="截屏2022-01-24 17 33 06" src="https://user-images.githubusercontent.com/26307815/15

[2022-01-24 09:36] xiaofan-luan commented on #15133
dupliate with#14077

[2022-01-24 09:38] xiaofan-luan commented on #15160
any progress?

[2022-01-24 09:39] yanliang567 commented on #15367
unlabel critical urgent as it does not repro with no DDL runs.

[2022-01-24 09:41] xiaofan-luan commented on #15283
@DragonDriver any progress?

[2022-01-24 10:06] DragonDriver commented on #15283
I fired an issue in pulsar, https://github.com/apache/pulsar/issues/13920.

[2022-01-24 10:09] czs007 commented on #15160
Temporarily unable to reproduce.

@jingkl @yanliang567 @xiaofan-luan

[2022-01-24 10:17] jingkl commented on #15160
I think it is not possible to reproduce the problem at the moment, so I suggest downgrading or close the issue, and then opening the issue if this problem occurs subsequently

[2022-01-24 10:35] ThreadDao opened #15368 "[Bug]: [chaos] Datanode failed to restart after delete chaos memory stress"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The datanode OOMKilled because of the memory stress. After remove memory chaos, the datanode always CrashLoopBackOff.
[code]

Datanode log:
[datanode.log](https://github.com/milvus-io/milvus/files/7924822/datanode.log)

### Expected Behavior

After remove memory stres

[2022-01-24 11:19] xiaofan-luan commented on #15249
sure, no worries. If the issue can be reproduced please let us know

[2022-01-24 11:25] xiaofan-luan commented on #15367
guess this is another issue with channels.
We will need to check channel cleanup on drop collection

[2022-01-24 12:12] xige-16 commented on #15283
querycoord panicd when rootcoord drop collection, and rootcoord release collection failed when drop collection. So after querycoord resarted, it called rootcoord.showpartition() and get error message, then querycoord will panic after every reboot
[code]

[2022-01-24 13:19] #15304 closed

[2022-01-24 13:29] xiaofan-luan opened #15371 "[Bug]: Subscription may not be cleaned by datacoord under corner cases, causing quota exceeded in milvus"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

after #15353 is in, subscription will be cleaned up by datacoord.

However, if a node crash after a balance task, previous balance task subscription source may be deleted and there is nowhere to find the previous nodeId, causing subscription created from the crashed n

[2022-01-24 13:37] Writtic opened #15372 "[Feature]: Support dynamic schema for collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Based on https://github.com/milvus-io/milvus/pull/14418 comments, `entityExpiration` can't limit each collection separately unless the variable is on the collection schema. For now, the variable is on the global config, so all collection should fo

[2022-01-24 13:46] yanliang567 commented on #15371
@sunby would you take this improvement?
/assign @sunby
/unassign

[2022-01-25 02:08] congqixia commented on #15372
It make sense that `entityExpiration` should be an attribute of a collection. Shall we make it mutable, which could be alter by DDL? Or make it immutable, which is determined when collection is created.

[2022-01-25 02:34] Writtic commented on #15372
Maybe when alter the schema on the production, it might occur unexpected behavior especially on compaction. And altering feature will support to mutate not only `entityExpiration` but also the other variables, right? If it is, Milvus should guarantee some level of integrity after schema changes too, I guess.

[2022-01-25 02:57] zhuwenxing opened #15374 "[Bug]: [chaos][standalone]search raise error when running hello_milvus.py after standalone pod recovered from pod kill"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Run hello_milvus after chaos
[code]

### Expected Behavior

All work well

### Steps To Reproduce

[code]

### Anything else?

[artifacts-test-standalone-pod-kill-302-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/7930261/artifacts-test-standalone-pod-k

[2022-01-25 03:03] yanliang567 commented on #15374
@xige-16 please take a look at this issue.
/assign @xige-16
/unassign

[2022-01-25 03:05] zhuwenxing commented on #15374
[code]

[2022-01-25 03:25] xige-16 commented on #15374
It's log of datanode, not querynode

[2022-01-25 03:43] zhuwenxing commented on #15374
All log was in one pod. I just  put the error log there.
You can access all log in https://github.com/milvus-io/milvus/files/7930263/artifacts-test-standalone-pod-kill-302-server-logs.1.tar.gz

[2022-01-25 04:32] filipecaixeta opened #15378 "[Enhancement]: Make SearchResults and QueryResults return collectionID"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Make SearchResults and QueryResults return collectionID

### Why is this needed?

Milvus allows alias creation and search using alias, but when making a search it is not possible to know what collection was used.
Why do we need to return the collection id or collection name?

[2022-01-25 05:29] xiaofan-luan commented on #15378
/assign @filipecaixeta

[2022-01-25 05:42] xiaofan-luan commented on #15372
I would prefer to be mutable. For first step we may only support collection to be altered under released states, thus the integrity should be much easier to maintain.
The second step is to do online attributes change, we can do the alter by segment/channel so that won't affect search/inserts

[2022-01-25 05:43] xiaofan-luan commented on #15372
Yep, entityExpirationTime, or TTL(time to live) should be a very beginning to start.

[2022-01-25 06:15] XuanYang-cn commented on #15368
/assign

[2022-01-25 06:54] xige-16 commented on #15374
What I mean is that there is also a problem with the datanode log. The datanode has been retrying to create a flowgraph with collection=430722919429508417, but rootcoord no longer has this collectionID, resulting in a failure to create a flowgraph.

[2022-01-25 06:56] xige-16 commented on #15374
@XuanYang-cn Could you help check it out?

[2022-01-25 06:57] xige-16 commented on #15374
There's also the issue of search timing out, which I'm still investigating.

[2022-01-25 07:26] ThreadDao opened #15379 "[Bug]: [chaos] The querynode will be OOMKilled when load collection with insufficient memory"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Deploy milvus cluster with querynode memory limit 1Gi
2. Load collection num_entities 300000, dim 512
3. Client get the following exception, and I suggest replacing the collection id with collection name.
[code]
4. The server querynode is OOMKilled due to OOMKilled

[2022-01-25 08:25] congqixia commented on #15374
`430722919429508417` is not the collection id of `hello_milvus` so it shall not block the operations of `hello_milvus`

[2022-01-25 08:29] zhuwenxing commented on #15209
This issue reproduced in https://github.com/zhuwenxing/milvus/runs/4933461446?check_suite_focus=true
@xige-16  Please take a look!

[2022-01-25 08:34] xige-16 commented on #15374
when querycoord restart and reload loadbalancetask (triggered by querynode down), it  did not correctly set the task's trigger condition. And when the loadbalancetask was executed, there was no querynode online. So  the task failed to execute and did not retry, then some data was not successfully recovered after node down.

[2022-01-25 09:06] bigsheeper commented on #15209
QueryNode search done and send searchResult successfully:
[code]

While Proxy didn't get searchResult in collectionResultLoop:
[code]

[2022-01-25 11:06] zhuwenxing opened #15385 "[Bug]: [chaos][querycoord]search raise error when running test_e2e.py after querycoord pod recovered from pod kill"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all work well

### Steps To Reproduce

[code]

### Anything else?

job link https://github.com/zhuwenxing/milvus/runs/4935095717?check_suite_focus=true
log: https://github.com/zhuwenxing/milvus/suites/5052638000/artifacts/149741781

[2022-01-25 11:15] xiaofan-luan commented on #15379
so far the estimation is not accurate. This is a big trouble but we don't have good support at knowhere side.
We'll leave this issue here until we have better solution

[2022-01-25 11:33] zhuwenxing commented on #15385
/assign @xige-16

[2022-01-25 11:37] zhuwenxing commented on #15209
same issue: https://github.com/zhuwenxing/milvus/runs/4935862666?check_suite_focus=true

[2022-01-25 11:43] JamCrash opened #15386 "[Bug]: drop partition doesn't release memory from querynode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

when call partition.drop, the memory doesn't release from querynode automatically

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-01-25 11:43] xiaofan-luan commented on #15386
please try 2.0-GA and it should not longer a problem for now

[2022-01-25 11:58] JamCrash commented on #15386
My image is: milvusdb/milvus-dev:master-latest
It show it is build from master today.
Besides, after call partition.drop, collection.num_entities is not equal to the sum of each partition.num_entities

[2022-01-25 11:59] xiaofan-luan commented on #13157
is this still a issue? @yanliang567

[2022-01-25 12:05] xiaofan-luan commented on #15386
umm, we need further investigation. Maybe you can take a deep look and try to understand? We probably need logs from QueryCoord and QueryNode to see why

collection.num_entities I guess would always be equal to entities in the table, no matter it load or released

[2022-01-25 12:06] yanliang567 commented on #15385
tried a few more times and it reproduces occasionally.

[2022-01-25 12:06] yanliang567 commented on #15385
/unassign

[2022-01-25 12:06] JamCrash commented on #15386
![企业微信截图_16431123258082](https://user-images.githubusercontent.com/39126346/150974075-567dd0d9-ff72-4eab-b972-573f32412288.png)

[2022-01-25 12:09] #15213 closed

[2022-01-25 12:10] xiaofan-luan commented on #15372
/assign @Writtic

[2022-01-25 12:13] #15193 closed

[2022-01-25 12:15] #15101 closed

[2022-01-25 12:21] xige-16 commented on #15385
Because the queryable service time advances slowly (serviceTime_p < reqTime_p), it causes search to time out
[code]

[2022-01-25 12:23] #13780 closed

[2022-01-25 12:23] #13616 closed

[2022-01-25 12:24] xiaofan-luan commented on #15233
@xige-16 any followup?

[2022-01-25 12:24] xiaofan-luan commented on #15133
/assign @cydrain @bigsheeper

[2022-01-25 12:30] xiaofan-luan commented on #14888
could you please take a look about this isssue?
/assign @soothing-rain

[2022-01-25 12:32] xiaofan-luan commented on #14733
@xiaocai2333 is there any fix need to be done for this issue?

[2022-01-25 12:33] xiaofan-luan commented on #12001
@congqixia @jilieryuyi can we close this issue?

[2022-01-25 12:34] xiaofan-luan commented on #9784
@czs007 @xiaocai2333 @yanliang567  should we close this issue?

[2022-01-25 12:36] xiaofan-luan commented on #7219
@czs007 is this still a issue?

[2022-01-25 12:37] xiaocai2333 commented on #14733
The reason of timeout is same as #14077, and another problem has been fixed by #15261.

[2022-01-25 12:37] xiaofan-luan commented on #10079
We shouldn't see too memory increase for the latest release, unless we keep inserting great amount of data and the bloomfilter and index size keep increasing. Can we close this issue?

@wangting0128

[2022-01-25 12:37] xiaocai2333 commented on #14733
Maybe this issue can be closed. @wangting0128

[2022-01-25 12:40] xiaofan-luan commented on #14122
@thecooltechguy hey my man, do you want to keep track the issue?

[2022-01-25 12:44] xige-16 commented on #15233
I didn't detect this problem on the unbutu bare metal, and I'll start the milvus test with helm again.

[2022-01-25 12:45] xiaofan-luan commented on #12632
@yanliang567 can we close the issue?

[2022-01-25 12:46] xiaofan-luan commented on #12701
@XuanYang-cn how is the current behaviour?

[2022-01-25 12:57] xiaofan-luan commented on #15374
/assign @zhuwenxing

[2022-01-25 13:02] haorenfsa commented on #7700
/reopen

[2022-01-25 13:46] xiaofan-luan commented on #12497
close because of fix

[2022-01-25 13:46] #12497 closed

[2022-01-25 13:50] xiaofan-luan commented on #13250
close for now

[2022-01-25 13:55] xiaofan-luan commented on #14300
any progress on this issue? fixed?

[2022-01-25 13:56] #13256 closed

[2022-01-25 14:01] #14048 closed

[2022-01-25 14:06] xiaofan-luan commented on #14834
@LoveEachDay Do we want to keep track of this issue? @LoveEachDay

[2022-01-25 14:07] #12001 closed

[2022-01-25 14:15] xiaofan-luan commented on #12516
@shangfu-peng Are you interested in take this feature?

[2022-01-25 14:16] xiaofan-luan commented on #12585
we will just leave it open for tracking

[2022-01-25 14:17] xiaofan-luan commented on #12761
leave it open for more testing

[2022-01-25 14:18] xiaofan-luan commented on #12777
/assign @cydrain

[2022-01-25 14:18] xiaofan-luan commented on #12777
/assign @jaime0815

[2022-01-25 14:18] xiaofan-luan commented on #12777
/assign @soothing-rain

[2022-01-25 14:19] xiaofan-luan commented on #13045
@xige-16 is this a duplicated issue?

[2022-01-25 14:27] #13124 closed

[2022-01-25 14:28] #15187 closed

[2022-01-25 16:27] filipecaixeta commented on #15378
@xiaofan-luan I will change everything to collectionName and also add it to DescribeCollectionResponse
We are also missing an atomic swap of aliases but this is another issue

[2022-01-26 01:07] yanliang567 commented on #15386
It is expected for now that collection.num_entities is not precise if it is called after  partition.drop or entities deletion. We are planing to refactor collection.num_entities to improve this.

[2022-01-26 01:09] yanliang567 commented on #15386
@xiaofan-luan can you help to find someone to investigate the memory release issue?
/assign @xiaofan-luan
/unassign

[2022-01-26 01:09] yanliang567 commented on #15379
/assign @xige-16
/unassign

[2022-01-26 01:26] yanliang567 commented on #9784
according to latest master, index node release memory from 4.6GiB to 1.8GiB after index completed, which improve a lot now.
Close it for now and further improvement for the left 1.8GiB was already tracked in the other issues

[2022-01-26 01:26] #9784 closed

[2022-01-26 02:01] xiaofan-luan commented on #15386
/assign @godchen0212
could you please take a look on this issue?

[2022-01-26 02:10] LocoRichard opened #15390 "[DOC] Replace readme header image"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Replace readme header image for Milvus 2.0

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-01-26 02:23] zhuwenxing commented on #14300
Not reproduced yet, so remove the urgent label.

[2022-01-26 02:36] zhuwenxing commented on #15385
The load time also seems weird, costing 53s
[code]

[2022-01-26 02:44] zhuwenxing commented on #15385
https://github.com/milvus-io/milvus/runs/4941605982?check_suite_focus=true

Search failed when running test_e2e.py after  rootcoord pod recovered from pod kill

[2022-01-26 02:49] godchen0212 commented on #15386
I'm working on this.

[2022-01-26 03:06] wangting0128 opened #15392 "[Bug]: [benchmark][standalone] search raise error proxy not healthy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod: benchmark-cluster-cron-1643144400-2659037415

client log:
[code]

### Expected Behavior

argo task: benchmark-cluster-cron-1643144400

test yaml:
client-configmap:client-search-filter-sift50m-ivf-flat-2048,instanceId:5,server-configmap:server-single-16c64m

[2022-01-26 03:09] wangting0128 commented on #12465
#15379

[2022-01-26 03:26] xiaofan-luan commented on #15378
sure, for atomic swap I thought @lsgrep should be also involved because he designed the alias feature~

[2022-01-26 04:05] ThreadDao opened #15394 "[Bug]: Confusing exception message when searching with invalid parameters"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Create hnsw index with `hnsw_index = {"index_type": "HNSW", "metric_type": "L2", "params": {"M": 48, "efConstruction": 64}}`
Search with invalid topk than less than ef:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Anything else?

_

[2022-01-26 05:02] yanliang567 commented on #15392
@xige-16 could you please help to take a look?
/assign @xige-16
/unassign

[2022-01-26 05:04] yanliang567 commented on #15394
@czs007 I think you are working on error msg refining work
/assign @czs007
/unassign

[2022-01-26 05:09] #15153 closed

[2022-01-26 05:11] xiaofan-luan commented on #14225
keep it for tracking~

[2022-01-26 05:13] xiaofan-luan commented on #14062
leave it for tracking

[2022-01-26 05:13] xiaofan-luan commented on #14005
should be solved, close it for now

[2022-01-26 05:13] #14005 closed

[2022-01-26 05:15] xiaofan-luan commented on #13933
keep it for tracking.
We will also need to carefully design init state and health state

[2022-01-26 05:16] xiaofan-luan commented on #14163
Great! I will try on my docker environment

[2022-01-26 05:17] xiaofan-luan commented on #12896
Anyone want to take it?

[2022-01-26 05:29] xiaofan-luan commented on #15378
@lsgrep any advice about the collection alias atomic swap?

[2022-01-26 05:56] #14240 closed

[2022-01-26 05:57] zhuwenxing commented on #11275
Not reproduced for a long time, so close it

[2022-01-26 05:57] #11275 closed

[2022-01-26 06:16] wangting0128 commented on #13157
not reproduced

[2022-01-26 06:16] #13157 closed

[2022-01-26 06:16] wangting0128 commented on #14733
not reproduced

[2022-01-26 06:16] #14733 closed

[2022-01-26 06:19] wangting0128 commented on #15293
not reproduced

[2022-01-26 06:19] #15293 closed

[2022-01-26 06:25] XuanYang-cn commented on #15272
@zhuwenxing Is this happening again?

[2022-01-26 06:31] XuanYang-cn commented on #15201
@liuhaiweicheer Please try Milvus2.0.0 and PyMilvus2.0.0. https://github.com/milvus-io/pymilvus/blob/2.0/examples/hello_milvus.ipynb

[2022-01-26 06:56] Yanx0202 commented on #15265
@xiaofan-luan ok,  is so glad to see  2.0 GA is released.

[2022-01-26 07:23] #15390 closed

[2022-01-26 08:25] xiaofan-luan commented on #15265
Hooray!  if you can update your pr by 2.8.2 that would be great~
Feel free to give us comments

[2022-01-26 08:44] #4989 closed

[2022-01-26 09:59] susoooon opened #15398 "[Bug]: IP Calculation result is not correct"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

`

  import numpy as np
  from milvus_connect import create_collection,search_id,del_collection

  def normal(embedding):
      embedding = embedding/np.linalg.norm(embedding)
      embedding = embedding.tolist()[0]
      return embedding

  import random
  name = "re

[2022-01-26 10:00] yanliang567 commented on #15398
@yhmo could you please help on this issue?

/assign @yhmo
/unassign

[2022-01-26 10:05] xiaofan-luan commented on #15398
please use English for the convenience of others, thanks

[2022-01-26 10:06] JamCrash commented on #15386
does this issue reproduce？ @godchen0212

[2022-01-26 10:09] susoooon commented on #15398
=

[2022-01-26 10:09] #15398 closed

[2022-01-26 10:45] xiaofan-luan commented on #15392
/assign @xiaocai2333

[2022-01-27 02:23] #15357 closed

[2022-01-27 03:14] czs007 opened #15402 "[Enhancement]: Remove the impact of c++ compilation products on golang mod tidy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I want to rename the current c++ intermediate compilation product folder to start with an underscore so that the golang mod tidy tool skips these folders.

### Why is this needed?

![image](https://user-images.githubusercontent.com/59249785/151285495-8b8e8512-75b9-453d-818f-c6

[2022-01-27 03:38] JamCrash commented on #13214
No update or reproduction since then, close this issue for now

[2022-01-27 03:38] #13214 closed

[2022-01-27 03:40] JamCrash commented on #15233
If any question I found, I'll ask in this issue, close it for now

[2022-01-27 03:40] #15233 closed

[2022-01-27 03:43] wangting0128 opened #15403 "[Bug]: [benchmark][cluster] querynode restart, query and search raise error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod: benchmark-no-clean-jhngj-3153285300

[Uploading locust_report_2022-01-26_667.log…]()

client log:
[code]

### Expected Behavior

argo task: benchmark-no-clean-jhngj

test yaml:
client-configmap:client-random-locust-search-1b-240h
server-configmap:server-cl

[2022-01-27 04:11] wangting0128 commented on #15392
argo task: benchmark-cluster-cron-1643230800

test yaml:
client-configmap:client-search-filter-sift50m-ivf-flat-2048,instanceId:5,server-configmap:server-single-16c64m

server:
[code]

client pod: benchmark-cluster-cron-1643230800-2342631029

client log:
[code]

[2022-01-27 04:15] xiaofan-luan commented on #15392
/assign @xiaofan-luan

[2022-01-27 06:49] jingkl opened #15404 "[Bug]:The querynode does not automatically load data balance in the node after expansion"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server:
[code]

server-configmap:
server-cluster-indexnode2-querynode2-dn2c10g-in8c32g-qn8c32g
client-configmap:
pre2.0-client-locust-search-sift50m-ivf-flat-4096
pre2.0-client-locust-concurrent-search-sift50m-ivf-flat-4096-24h

grafana:
<img width="1372" alt="截屏2022-

[2022-01-27 06:50] jingkl commented on #15404
/assign @xige-16

[2022-01-27 07:02] czs007 opened #15405 "[Enhancement]: Simplify the path of the milvus third-party dependency libraries."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Simplify the path of the milvus third-party dependency library.

### Why is this needed?

![image](https://user-images.githubusercontent.com/59249785/151307694-e79e2ebd-e33a-412e-94f3-fda4ca6fbe38.png)

As can be seen from the above figure, the path of the milvsu dependency li

[2022-01-27 07:03] XuanYang-cn opened #15406 "[Bug]: DataNode goroutine leaks"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

DataNode goroutine 在跑完 CI 之后有泄露

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-01-27 07:14] binbinlv opened #15407 "[Bug]: Binary search with metric type "METRIC_L2" is not failed when nodes are sets as multiple replica"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

search is successful

### Expected Behavior

Search failed with error: "binary search not support metric type: METRIC_L2"

### Steps To Reproduce

[code]

### Anything else?

It is good in standalone mode and cluster mode [not multiple replica]

[2022-01-27 07:19] ThreadDao commented on #13879
CI has not reproduced this problem recently. iI close it first.

[2022-01-27 07:19] #13879 closed

[2022-01-27 07:36] XuanYang-cn commented on #15406
Verifying if 15408 fully fixes the leaks.

[2022-01-27 07:39] xiaofan-luan commented on #15406
very impressive commit message, I'll take the review job

[2022-01-27 07:56] binbinlv opened #15409 "[Bug]: Search with invalid parameters is not failed for index IVF_SQ8, IVF_PQ, RHNSW_FLAT, RHNSW_PQ and RHNSW_SQ when nodes are sets as multiple replica"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

search is successful

### Expected Behavior

Search failed with error message: " not supported params"

### Steps To Reproduce

[code]

### Anything else?

1 search using invalid parameters for index "IVF_FLAT, HNSW, ANNOY" is failed with error message

2 It is good i

[2022-01-27 08:11] XuanYang-cn opened #15412 "[Bug]: query with expression timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-15408/1/pipeline
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-01-27 08:13] xiaofan-luan commented on #15409
/assign @cydrain

[2022-01-27 08:15] xiaofan-luan commented on #15407
we definitely to add more test for multi nodes.
Current behaiour looks very crappy

[2022-01-27 08:19] zhuwenxing commented on #15374
It not reproduced yet, so remove the urgent label

[2022-01-27 08:31] zhuwenxing commented on #14062
This has been implemented in #14704

[2022-01-27 08:31] #14062 closed

[2022-01-27 09:11] XuanYang-cn opened #15413 "[Bug]: Compaction timeout in CI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-15408/2/pipeline
20s timeout
[code]

[code]
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-01-27 09:12] XuanYang-cn commented on #15413
[code]

6s and 17s gap

[2022-01-27 09:15] yanliang567 commented on #15413
@sunby could you please check why there are 6s and 17s gap here?
/assign @sunby
/unassign

[2022-01-27 09:39] #7229 closed

[2022-01-27 09:59] yanliang567 commented on #12176
keep it open for tracking

[2022-01-27 10:24] XuanYang-cn commented on #15406
[code]

[code]

Completely fixed.

[2022-01-27 10:31] kingy123 opened #15415 "[Feature]: Add a pulsar authentication options to milvus."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

My company has pulsar clusters with JWT authentication,but, At present, Milvus does not support pulsar connection with authentication .

### Describe the solution you'd like.

add pulsar connection authentication options.

### Describe an alternat

[2022-01-27 10:34] xiaofan-luan commented on #6162
keep the issue alive~

[2022-01-27 10:36] xiaofan-luan commented on #15415
Anyone interestet in take this feature?

[2022-01-27 10:38] xiaofan-luan commented on #12152
/assign @cydrain Hi cydrain, do we have any plan about the upgrade?

[2022-01-27 10:38] yanliang567 commented on #15412
@sunby please help to check is it a known issue to us?

/unassign
/assign @sunby

[2022-01-27 11:02] yhmo commented on #14086
@healthexamination
Recently we have released a stable version 2.0GA, which fixes a lot of critical issues. Use this version to avoid the weird bug.

[2022-01-27 11:28] XuanYang-cn opened #15416 "[Bug]: Insert multi threading number of entities not correct"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-15408/6/pipeline
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-01-27 11:53] sroshkul opened #15418 "[Bug]: error="The specified key does not exist." when creating index"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

_collection.create_index(field_name, index_params)_ call fails with:
[code]

In **indexnode** pods logs we see following **ERROR**:
[code]

### Expected Behavior

Create index w/o errors

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-01-27 12:05] xiaofan-luan commented on #15418
@sroshkul could you please offer full log of all services? Thanks

[2022-01-27 12:53] yanliang567 commented on #15418
/assign @sroshkul

/unassign

[2022-01-27 12:54] yanliang567 commented on #15416
@czs007 could you please help on this issue?
/assign @czs007
/unassign

[2022-01-27 12:57] jennyli-z commented on #15416
seems the same for https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-15163/19/pipeline/

[2022-01-27 14:49] xiaofan-luan commented on #15418
Great, thanks. we are taking a look into it

[2022-01-27 14:51] xiaofan-luan opened #15421 "[Enhancement]: Restrict each rpc request to 64M rather than 512M"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

We would like to change grpc request to 64M, and Msgs written into message queue to 1 M.

### Why is this needed?

That would helps the stability of message storage, as well as control the memory usage of proxy itself

### Anything else?

_No response_

[2022-01-27 14:52] xiaofan-luan commented on #15421
anyone could give me some thoughts about it?

[2022-01-27 14:55] #15378 closed

[2022-01-27 14:56] xiaofan-luan commented on #15378
merged! welcome to the community filip

[2022-01-27 16:24] #13118 closed

[2022-01-28 01:23] binbinlv commented on #15283
Panic occurs again:
https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/318/ [cluster mode]
log:
artifacts-milvus-distributed-master-318-pymilvus-e2e-logs.tar.gz

[code]

[2022-01-28 02:43] zhuwenxing commented on #15272
Not yet. But for this issue, have any idea?

[2022-01-28 03:11] binbinlv opened #15423 "[Bug]: Update pymilvus version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

NA

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-01-28 03:51] #15423 closed

[2022-01-28 04:28] JamCrash commented on #15386
another problem I found:
1. call collection.load() 2:call partition.release()
then the pymilvus2.0 shows: "pymilvus.client.exceptions.BaseException: <BaseException: (code=1, message=releasing some partitions after load collection is not supported)>"

the querycoord log:
[2022/01/28 04:27:50.803 +00:00] [DEBUG] [impl.go:541] ["releasePartitionRequest received"] [role=querycoord] [collectionID=43079

[2022-01-28 05:05] yanliang567 commented on #15386
yes, this is by design in 2.0. Now if you load the vectors by collection level, then you have to release them by collection level. If you load them by partition level, then you can release them by partition level or collection level.

[2022-01-28 06:14] JamCrash commented on #15386
I think this design is not obvious and the document doesn't mention that...

[2022-01-28 06:38] #13084 closed

[2022-01-28 08:01] xiaofan-luan commented on #15386
We just change the default behavior because the implementation of original design is too complicated.
Is there any specific case we want to use this feature? We will change the documentation ASAP'

@LocoRichard  could you please take a look

[2022-01-28 08:28] JamCrash commented on #15386
And I just found that if I call load by partition level in pymilvus:
par = Partition(collection, 'partition_0‘)
par.load()
then only one partition can be loaded, the other call such as:
par = Partition(collection, 'partition_1'),
par.load()
will show:
pymilvus.client.exceptions.BaseException: <BaseException: (code=1, message=some partitions [430795893903196161] of collection 430791114533109761 has

[2022-01-28 08:34] JamCrash commented on #15386
I think user need be able to load any part of collection(partition level),  include release and drop...

[2022-01-28 09:27] xiaofan-luan commented on #15386
If collection is not loaded, then you can load any of the partitions. But you can not load a collection and release
some of the partitions

[2022-01-28 09:28] xiaofan-luan commented on #15386
Sorry for the convenience but it is due to some design complexity

[2022-01-28 09:49] LocoRichard commented on #15386
@xiaofan-luan Constraints have been added to documentation via https://github.com/milvus-io/milvus-docs/pull/1337

[2022-01-28 11:38] #13521 closed

[2022-01-28 12:49] #15406 closed

[2022-01-28 16:01] robfig opened #15429 "[Bug]: LoadCollection fails on newly installed Milvus 2.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I followed these instructions to set up Milvus Cluster using the Milvus Operator on GKE.
https://milvus.io/docs/v2.0.0/install_cluster-milvusoperator.md

It started up successfully. I loaded about 64k vectors, and wanted to search them. To do that, I need to LoadColle

[2022-01-29 03:00] yanliang567 commented on #15429
I saw an error from querycoord:
[code]
could you please check the milvus pods status, and also the pulsar, etcd pods staus?

/assign @robfig
/unassign

[2022-01-29 03:15] xiaofan-luan commented on #15429
@robfig hi Rob, there seems to be some wrong state there, maybe you can try to reboot querynode see if it recovers

[2022-01-29 03:16] xiaofan-luan commented on #15429
/assign @xiaofan-luan

[2022-01-29 16:42] xiaofan-luan opened #15432 "[Enhancement]: Remove the old session fast if current session has the same address of previous session holder"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Under failure recovery cases, session need be revoked on etcd before new coordinator can become a leader.

I would propose to revoke the old session if current and old session share the same address, because this should be assumed as failure recovery case and it is very common

[2022-01-31 03:39] xiaofan-luan commented on #15429
@rob hi rob, did it recover after reboot quernode?
seems that querynode don't have the meta infomation, so watchDML channel request keeps to fail, need to followup more about the details.

[2022-01-31 06:12] xiaofan-luan opened #15437 "[Feature]: Support return partial error on insert failure"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Currently, if a user insert failed, client has to retry the whole batch, which incur duplicated entities in the system.
If user define primary key then later on we will support primary key deduplication to solve the problem.
For auto increment pK,

[2022-01-31 18:34] Kencho5 opened #15438 "[Bug]: Search Freezes On 10 Million Vectors"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

inserting and searching works as expected. i insert 512 dimensional vectors inside Milvus and create **IVF_SQ8** index on vectors (index is created before inserting). searching works fast and returns correct results until total vectors inside database reach around 10

[2022-02-01 02:49] xiaofan-luan commented on #15438
@Kencho5 hi kencho~ could you please check the memory utilization, see if you have enough memory(especially for querynode)

If memory is enough, please offer logs of querynode, querycoord and proxy and we will investigate on that

[2022-02-01 03:53] Peddle opened #15439 "[Bug]: collection.create_index stalls indefinitely"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I have multiple celery workers inserting data and performing searches to a milvus collection using pymilvus. Eventually Milvus will hang on `collection.create_index` which gets called every time a new worker establishes a connection to the database.

Stack trace durin

[2022-02-01 05:02] xiaofan-luan commented on #15439
Thanks @Peddle, and logs so we could take a investigation on that?

[2022-02-01 05:04] xiaofan-luan commented on #15418
seems to be similar with #15439
/assign @xiaocai2333

[2022-02-01 05:05] xiaofan-luan commented on #15438
/assign @congqixia

[2022-02-01 06:49] Peddle commented on #15439
Sure, wasn't sure best way to supply logs as they can get quite long but here they are:

[code]

[2022-02-01 07:08] sroshkul opened #15440 "[Bug]: collection <COLL_ID> has not been loaded to memory or load failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Load fails with **ERROR**:
`pymilvus.client.exceptions.BaseException: <BaseException: (code=1, message=collection <coll_ID> has not been loaded to memory or load failed)>
`
In **querynode** logs we see:
`["[UnexpectedError] Assert \"row_count_opt_.value() == row_count

[2022-02-01 07:13] Kencho5 commented on #15438
i checked memory when searching and i doesn't go past 13gb (i have 16gb). i'm having trouble finding those logs of querynode, querycoord and proxy

[2022-02-01 08:05] yanliang567 commented on #15438
@Kencho5 could you please help to upload the logs of standalone pod?
BTW, 10 million 512d vectors would be about 20GB, so memory utilization could be the first thing we need to check.

[2022-02-01 08:05] yanliang567 commented on #15438
/assign @Kencho5

[2022-02-01 08:10] yanliang567 commented on #15440
@sroshkul  could you please share the collection schema and one vector as an example? also according to the error msg, please check whether the index params are correct. you can check https://milvus.io/docs/v2.0.0/index_selection.md for more details about index and index params

/unassign
/assign @sroshkul

[2022-02-01 08:14] Kencho5 commented on #15438
yes i understand it's big, but how come it works perfectly on 9 million and fails on 10? even after checking it doesn't go past 13 gb. after checking logs with `docker container logs -f {container-id}` i get huge logs that are not stopping. this is one of them:
`[2022/01/29 06:07:20.801 +00:00] [ERROR] [root_coord.go:1389] ["DescribeCollection failed"] [role=rootcoord] ["collection name"=] [msgID=

[2022-02-01 08:21] yanliang567 commented on #15439
@Peddle could you please send the log file to yanliang.qiao@zilliz.com
/assign @Peddle
/unassign

[2022-02-01 11:25] alturkovic commented on #4430
We are also facing the same issue. String tags in metadata are also a requirement for us besides the id field.

[2022-02-01 12:40] sroshkul commented on #15440
@yanliang567
SCHEMA:
`{
  auto_id: True
  description: clip_50M
  fields: [{
    name: id
    description:
    type: 5
    is_primary: True
    auto_id: True
  }, {
    name: countryId
    description:
    type: 3
  }, {
    name: gi
    description:
    type: 5
  }, {
    name: clipId
    description:
    type: 5
  }, {
    name: left
    description:
    type: 10
  }, {
    name: right
    descr

[2022-02-01 15:13] xiaofan-luan commented on #15440
seems to be a similar issue as before. Thought we fix one of the related issue but it shows again

[2022-02-01 15:13] xiaofan-luan commented on #15440
/assign @sunby

[2022-02-01 15:22] xiaofan-luan commented on #4430
/assign  @xige-16 @DragonDriver

[2022-02-01 15:28] xiaofan-luan commented on #4430
We decided to deliver string functions in the next release. (Possbily delivered at April) xige-16 and DD is volunteered to take the responsibility~~

If anyone want to join please let me know, since there are too many people wait for this functionality

[2022-02-01 15:40] xiaofan-luan opened #15443 "[Bug]: Need to upgrade etcd version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

etcd may crash due to the issue (https://github.com/etcd-io/etcd/issues/13119)

### Expected Behavior

need to upgrade etcd reliability to a version slightly higher than 3.5.0

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-02-01 18:43] Peddle commented on #15439
Done . Please let me know how else I can assist.

[2022-02-02 02:11] cydrain commented on #12478
Schedules (updated on 2022/02/02)
1. extract msgChannelConfig (PR #15163)
2. extract EtcdConfig from BaseParamTable, and move pulsarConfig / rocksdbConfig / minioConfig into BaseParamTable (PR #15434)
    remove dataCoordInsertChannel
3. merge msgChannelConfig / knowhereConfig into commonConfig
4. structure rename
    base_table ==> no change
    base_param ==> no change
    global_param ==> milvu

[2022-02-02 03:37] #14195 closed

[2022-02-02 08:57] xiaofan-luan commented on #9689
Hi Beni, Milvus 2.0.0 should be much better on stability so we recommend to use the later release.
If you still hit hang please open an issue with detailed log and the team will work on the issues.

[2022-02-02 09:17] #12298 closed

[2022-02-03 05:07] yanliang567 commented on #15443
@xiaofan-luan do we have a recommended version here?

[2022-02-03 09:34] p-gebhard commented on #14354
What is the reason to remove NGT, as it is among of the best performing algorithms in the ANN-benchmarks? I mean besides the argument, that nobody uses it.

[2022-02-03 11:20] #13988 closed

[2022-02-03 11:20] #11237 closed

[2022-02-03 14:09] Kencho5 commented on #15438
i deleted the database, re inserted vectors and now on 9,403,595 million vectors the search gets frozen forever and `drop_collection()` gets frozen forever too. any ideas how to fix this? i plan on using Milvus for production, but i can't get it to finish

[2022-02-03 14:11] Kencho5 commented on #15438
also, `index_building_progress()` prints: `{'total_rows': 9403595, 'indexed_rows': 9403595}` so i really don't understand the issue here

[2022-02-03 15:41] xiaofan-luan commented on #15443
not sure, 3.5.2 is released two days ago and that might be a good choice.

[2022-02-03 15:42] xiaofan-luan commented on #12635
keep this issue open for tracking

[2022-02-03 15:43] xiaofan-luan commented on #14354
Hi @p-gebhard ,Since we found HNSW is well enough for most use cases, and there is rarely anyone who is using NGT as far as we know.
Did you try NGT and find it outperform HNSW?

[2022-02-03 15:51] xiaofan-luan commented on #15438
Did you check the memory consumpltion and there is enough memory?
It seems that index_building_progress is done but the collection can not be loaded.
For detailed infomation please upload you logs of proxy, rootcoord, querycoord, querynode, thanks

[2022-02-03 15:55] Kencho5 commented on #15438
i did check the memory consumption both on my machine and in docker too. nothing was limiting me there. how or where can i find logs of proxy, rootcoord, querycoord, querynode? since `drop_collection()` is being frozen forever i was guessing maybe the cause is corrupt files?

[2022-02-03 15:55] Kencho5 commented on #15438
i did check the memory consumption both on my machine and in docker too. nothing was limiting me there. how or where can i find logs of proxy, rootcoord, querycoord, querynode? since `drop_collection()` is being frozen forever i was guessing maybe the cause is corrupt files?

[2022-02-03 18:44] sugia commented on #15133
Hi team, some followup observations:
1. The load() is slow for collections. It gets stuck when loading 400k entities.
2. After several interrupt & retry, the load() command could be successful. But the followup search() command would get stuck.
3. After a continuous insert() and delete() commands running for about one week, the datanode will run out of memory, and the milvus cluster would die, and

[2022-02-04 02:07] xiaofan-luan commented on #15133
So far there is no sample functionalities, but we are glad if someone could add one.
load is slow seems to be reasonable if you are using SATA disk, if it's SSD then should be much faster. But we will need to investigate why this is happening and see what optimization we can do.

If we can get full log of the cluster that would be great.

[2022-02-04 02:08] xiaofan-luan commented on #15133
@cydrain by the way, any progress on the core dump?

[2022-02-04 02:20] xiaofan-luan opened #15445 "[Enhancement]: Improve the collection load performance"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

We've seen many user report for the load performance. Need to figure out:
1) what is the bottleneck of load, CPU, disk or just the software?
2)Anyway to improve it, add more concurrency? better disk? or less copy?
3)Figure out if there is a way to do lazy load.

### Why is thi

[2022-02-04 02:25] xiaofan-luan opened #15446 "[Enhancement]: Move Logutil to Util dir"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

just cleanup the directory layout .

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-02-04 03:41] sugia commented on #15133
@xiaofan-luan Hi, the comprehensive log is a huge file (~100M). It's attached in the link: https://drive.google.com/file/d/1egUgx-cUcD-7s27daB9isr9ELRSwfH--/view?usp=sharing

[2022-02-04 06:06] sugia commented on #15133
One more observation related to getting stuck in the load() command :
In a whole new milvus cluster X, the load() command would work well for entities with schema A. But when I create a new collection with new schema B, and run the load() command, then it would get stuck.
So I create another new milvus cluster Y, and create the collection with schema B, and run the load() command, then it would lo

[2022-02-04 13:03] Kencho5 commented on #15438
i have trouble finding the logs and checking if collection is loaded. i tried `loading_progress()` and it outputted this:
[code]
i hope this is what you were asking me for

[2022-02-04 15:50] xiaofan-luan commented on #15438
seems that querynode is crashing. Any reason why collecting logs failed?

[2022-02-04 15:55] Kencho5 commented on #15438
i just don’t know where to get other logs. that was the only thing i could find and weird that the querynode crashes on 10 million and worked on 9.6 million

[2022-02-04 15:57] xiaofan-luan commented on #15133
Hi sugia, the logs you offered is the python client log. Seems to be timeout but the main reason still need to be check through server side logs, proxy and querynode logs should be well enough

[2022-02-04 15:58] xiaofan-luan commented on #15133
To check log print, see
[](https://milvus.io/docs/v2.0.0/operational_faq.md#Where-can-I-find-the-logs-generated-by-Milvus)Where can I find the logs generated by Milvus?
The Milvus log is printed to stout (standard output) and stderr (standard error) by default, however we highly recommend redirecting your log to a persistent volume in production. To do so, update log.file.rootPath in milvus.yaml.

[2022-02-05 09:59] scipe commented on #15443
Can you put that on hold for now? My search not works properly with latest version of etcd. I am not sure yet why. But this is one biggest changes in last time that I did.

[2022-02-05 10:29] scipe opened #15449 "[Bug]: search has been timeouted"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I do search I got no results and timeout error

### Expected Behavior

When I do search I should got results instead timeout

### Steps To Reproduce

[code]

### Anything else?

I got the timeout in attu UI and in nodejs lib.

Here is my copy of messages from sla

[2022-02-05 11:38] yanliang567 commented on #15449
@scipe thank you for your issue. Could you please also upload the milvus logs, especially for query nodes, quer coordinator and proxy? Moreover, it would be helpful if you can also upload etcd and pulsar logs for investigation.

/assign @scipe
/unassign

[2022-02-05 14:55] #7112 closed

[2022-02-06 10:07] excited-tiger commented on #15201
I have save issue
examples/hello_milvus.py  cannot work too.
<img width="812" alt="image" src="https://user-images.githubusercontent.com/44421536/152676018-193dd58b-34e0-4945-a091-e5d81f4c1f69.png">

**environment:**
Milvus version: v2.0.0

[2022-02-06 20:51] Kencho5 commented on #15438
8.3 million vectors in and takes 7GB of ram. i also put another ram stick in temporarily to check if that was actually the problem, but it still crashes. querynode was still offline

[2022-02-06 21:46] #15438 closed

[2022-02-06 21:56] Kencho5 opened #15450 "[Bug]: RPC Describe Collection Error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

hello,

i'm inserting 2,500 vectors every 1.5-2 seconds and after running for some time sometimes i get this error: `RPC error: describe_collection{'RPC start': '2022-02-07 01:45:44.357736', 'RPC error': '2022-02-07 01:45:54.361283'}` and i need to restart the whole d

[2022-02-07 01:20] yanliang567 commented on #15450
it looks like a rpc timeout error. please try
1. add more timeout, e.g. 30
2. add more resource limit for milvus
@Kencho5 Also it would be much helpful if you could share more info, such vector dim, cpu and memory limit for your milvus, logs for the milvus standalone pod, etc.

/assign @Kencho5
/unassign

[2022-02-07 01:42] yanliang567 commented on #12958
keep it for tracking

[2022-02-07 01:44] xiaofan-luan commented on #15450
/assign @DragonDriver

[2022-02-07 01:45] xiaofan-luan commented on #15443
sure, @LoveEachDay please also help investigate on that.

[2022-02-07 01:47] xiaofan-luan commented on #15439
/assign @czs007

[2022-02-07 01:58] yanliang567 commented on #15201
@excited-tiger collection.num_entities() is not precise especially after delete ops.  But I believe that the deleted vectors are not available for search/query if you are in strong consistency level.  More info about consistency level: https://github.com/milvus-io/milvus/blob/master/docs/developer_guides/how-guarantee-ts-works.md

[2022-02-07 02:03] excited-tiger commented on #15201
thanks

[2022-02-07 02:04] yanliang567 commented on #15439
@Peddle I got the logs from your mail. thank you so much. We will keep you updated if any news.

[2022-02-07 02:06] yanliang567 commented on #15201
@liuhaiweicheer could you please retry with milvus 2.0 release, we believe it was fixed in 2.0 release.

[2022-02-07 02:15] congqixia opened #15451 "[Bug]: test_compact_partition failed in nightly run"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

test_compact_partition failed randomly

### Expected Behavior

test_compact_partition passes

### Steps To Reproduce

[code]

### Anything else?

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/327/pipeline

[2022-02-07 02:19] binbinlv commented on #15451
Same issue in nightly 324, this issue does not occur every time, but has some chances:
 https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/324/pipeline

[code]

[2022-02-07 02:22] congqixia commented on #15451
Checked the log in the nightly run.
Here is the test cases does:
1. Create collection and partition
2. Insert data into partition and flush twice to create 2 small segments
3. Call `Compaction` and wait until finish
4. Call `GetQuerySegmentInfo` and check segment info

What went wrong was that, the `GetQuerySegmentInfo` returned **all 3 segments** (2 small ones originally created and 1 target comp

[2022-02-07 02:24] excited-tiger commented on #15201
yes,
**Environment**
milvusdb/milvus:v2.0.0
pymilvus==2.0.0
collection.num_entities()  is still not precise after delete ops

I didn't find the **update** interface, so I replaced it with a delete and insert interface, but delete cannot worked, do you know some efficient ways?

[2022-02-07 02:27] sunby commented on #15440
@sroshkul Hi, did you change the default config?

[2022-02-07 02:39] binbinlv commented on #15283
Same issue occur again:
https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/323/ [cluster mode]

milvus: b4bfe58
mode: cluster
pymilvus: pymilvus==2.0.1.dev1
replica number:
--set proxy.replicas=2
--set queryNode.replicas=2
--set indexNode.replicas=2
--set dataNode.replicas=2

1. log name:
[artifacts-milvus-distributed-master-323-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080

[2022-02-07 02:39] yanliang567 commented on #15201
@excited-tiger I think you need to set the collection consistency level to strong. Here is a blog that might help you: https://milvus.io/blog/2022-1-27-milvus-2-0-a-glimpse-at-new-features.md

[2022-02-07 02:52] xiaofan-luan commented on #15201
collection.num_entities won‘t be exact matching until compaction I guess.
If you delete entity and wait for a couple of seconds the entity should be invisible

[2022-02-07 02:53] xiaofan-luan commented on #15439
@czs007 please take a look when you have time, thanks

[2022-02-07 03:35] yanliang567 commented on #15451
/assign @xige-16

[2022-02-07 03:39] sunby commented on #15451
@congqixia  is fixing it.
/assign @congqixia
/unassign @xige-16

[2022-02-07 03:43] DragonDriver commented on #15450
Hello, @Kencho5 thx for your attention to Milvus first. Can you provide the logs of Milvus?

[2022-02-07 03:58] congqixia opened #15454 "[Bug]: SegmentIDs is not respected in querynode.GetSegmentInfo"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When calling `querynode.GetSegmentInfo`, the SegmentIDs is not respected

### Expected Behavior

`querynode.GetSegmentInfo` returns only the requested segments

### Steps To Reproduce

_No response_

### Anything else?

Root cause for #15451

[2022-02-07 06:02] xiaofan-luan commented on #13876
keep this issue open for tracking

[2022-02-07 06:02] excited-tiger commented on #15201
thanks!

1. it's my fault. i found that :**the deletion within Milvus is asynchronous and logical, which means that entities won't be physically deleted.**
<img width="928" alt="image" src="https://user-images.githubusercontent.com/44421536/152732315-dc065b57-e7c4-46c0-9be6-86445108da5d.png">
and insert the same id as the primary key can be treated as updating the id data.

2. I found a bug:
when

[2022-02-07 06:10] yanliang567 commented on #15201
@excited-tiger great~ about the #2 issue, could you please file a new ticket, we would fix it ASAP

[2022-02-07 06:35] excited-tiger opened #15456 "[Bug]: AttributeError: 'Partition' object has no attribute '_partition_name'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

when i use `Partition.delete(expr)`,

### Expected Behavior

deleted

### Steps To Reproduce

_No response_

### Anything else?

# 1 setp

1. connect to Milvus
2. create collection
3. create index
4. create partition

[code]

5. insert data
6. query entities

[code]

[2022-02-07 06:36] xiaofan-luan commented on #15456
if you has only one partition, why not directly use collection.delete?

[2022-02-07 06:37] xiaofan-luan commented on #15456
however, that seems to be a bug, we should complete with default partition if user didn't fill?

[2022-02-07 06:45] excited-tiger commented on #15456
ok

[2022-02-07 06:55] excited-tiger opened #15457 "[Bug]: Collection.delete() expression cannot use '=='"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

<img width="901" alt="image" src="https://user-images.githubusercontent.com/44421536/152739152-002372b4-9326-4335-ba73-e353564d3a73.png">

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-02-07 06:58] yanliang567 commented on #15457
@excited-tiger this is by design, we think using 'in' has a wider usage than '==', and it is easy to use 'in' as a replacement of '=='

[2022-02-07 06:58] yanliang567 commented on #15457
/assign @excited-tiger
/unassign

[2022-02-07 07:10] wangting0128 commented on #15367
argo task:  benchmark-no-clean-7l7ph

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2-240h
server-configmap:server-cluster-8c64m-pulsar2.8.2

server:
[code]

monitor:
<img width="1860" alt="截屏2022-02-07 15 10 25" src="https://user-images.githubusercontent.com/26307815/152741236-7fa776b5-4bfe-49d4-bdd3-006c5adffa17.png">

[2022-02-07 07:35] #15454 closed

[2022-02-07 07:38] congqixia commented on #15451
Fixing PR has been merged. Need to verify in next nightly runs.
/unassign
/assign @binbinlv

[2022-02-07 07:41] XuanYang-cn commented on #15456
/assign

[2022-02-07 07:54] JamCrash opened #15458 "[Feature Request]: delete entities using "<" and more express"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

pymilvus.client.exceptions.BaseException: <BaseException: (code=1, message=invalid plan node type)>

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-02-07 07:55] sroshkul commented on #15440
@sunby Hi,
No, all is default. What config are you talking about?
Only  change I may think of is k8s HPA(Horizontal Pod Autoscaler) set to _min = 1_ and _max = 10_ pods for **milvus-querynode**
[code]

[2022-02-07 08:06] JackLCL commented on #15458
- Milvus version:
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

@JamCrash Please provide this info to help us investigate your problem.

[2022-02-07 08:18] yanliang567 commented on #15458
@JamCrash for now, this is by design. please use 'in' instead.

/assign @JamCrash
/unassign

[2022-02-07 08:31] congqixia commented on #15416
From DataNode log, it appears to be like insert pack is consumed twice(One segment consumed twice before flushing while the other one after)
[code]

[2022-02-07 08:43] Kencho5 commented on #15450
i set timeout to 30, Milvus already allocated maximum reources, vector dim is 512, i have **12279298** vectors in the database, search and inserting works both as expected, almost instantly. i kept it running for about 20 minutes and got these errors:
[code]

this were the logs of milvus-standalone container after it crashed:
[code]

[2022-02-07 08:56] DragonDriver commented on #15450
@Kencho5 You can use `docker logs container_name` to get the whole logs.

[2022-02-07 08:57] sunby commented on #15440
I mean the parameters in milvus.yaml. If it's not changed, may you provide the datacoord log to help locate this problem?

[2022-02-07 08:59] czs007 commented on #15439
@Peddle
There is no problem with calling create_index multiple times.
If the index parameters are the same, then the rest of create_index  are no-op.

From the log posted above, it can be seen that 2 segments (430857037509558273 and 430857041599004673) have not been able to enter the `flushed` state.  As only `flushed` segments can be indexed, so create_index stalled.

The main reason is that thes

[2022-02-07 09:05] sroshkul commented on #15440
There is no _milvus.yaml_ - we deployed with Helm.
Unfortunately, there are no **datacoord**  logs from the date issue occurred.

[2022-02-07 09:15] Kencho5 commented on #15450
using that i get continuous logs. here it is:
[code]

[2022-02-07 09:17] xige-16 commented on #15374
/unassign

[2022-02-07 09:26] JamCrash commented on #15458
so how to delete data using travel timestamp?

[2022-02-07 09:26] xige-16 commented on #15403
/unassign
@XuanYang-cn is  looking into the issue.

[2022-02-07 09:42] XuanYang-cn commented on #15421
Should we consider about search results? What If a user asks for limit 100k. That's one RPC response from SDK to the server.

[2022-02-07 09:44] DragonDriver commented on #15450
@Kencho5 Have you limited the log size of container? Could you please try `docker logs container_name > standalone.log`?

[2022-02-07 10:00] sunby commented on #15440
From the log, I find that the index log's `row_count` is not the same as field binlog's `row_count`. The current log is not enough to locate the issue. Did you delete any entities in this collection? I guess compaction may happen before loading collection and the `row_count` of binlogs updated **if there're delete operations in this collection**. Could you export the DataCoord log using `kubectl l

[2022-02-07 10:00] binbinlv opened #15460 "[Bug]: No interface instructions for partition.delete on milvus website"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

No interface instructions for partition.delete on milvus website

### Expected Behavior

Within interface instructions for partition.delete on milvus website

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-02-07 10:08] Kencho5 commented on #15450
here is the log after using that:
[code]

[2022-02-07 10:24] binbinlv commented on #15451
OK, thanks.

[2022-02-07 10:55] sroshkul commented on #15440
[milvus-datacoord-log.tar.gz](https://github.com/milvus-io/milvus/files/8014595/milvus-datacoord-log.tar.gz)

[2022-02-07 11:02] yanliang567 commented on #15460
/assign @XuanYang-cn
@XuanYang-cn please help to fix this issue.
/unassign

[2022-02-07 11:08] yanliang567 commented on #15458
not quite sure what you want to do here? could you please share  the code snippet or more details about the scenarios you meet?

[2022-02-07 11:48] JamCrash commented on #15458
there always have new data insert in the milvus in production environment, and some latest vectors which are useless should be deleted, so I should get the ids(auto id) or something else(timestamp) about the useless vectors, what should I do for this task?
(it's better if the milvus has vector expire function)

[2022-02-07 12:01] scipe commented on #15449
Hi folks. I will provide the whole footprint soon.

[2022-02-07 12:03] pmoreirac commented on #15438
I've been having a similar issue. Indexing 7 different collections with 50.000 vectors each and after ~120 batches of 50.000 vector searches, Milvus becomes unresponsive solely for search instructions.

## Environment
[code]
## Current Behavior
Inserting and searching works successfully, for the uploaded collections, containing 768 dimensional vectors indexed with HNSW

Index creation:
[code]
Sear

[2022-02-07 12:07] Kencho5 commented on #15438
check if collection is loaded. when you run the docker container monitor the resources it’s taking, it takes quite some time. when it stabilizes and doesn’t use cpu in high percentage then try to search again

[2022-02-07 12:50] scipe commented on #15449
Here is logs: https://pastebin.com/ue8sXy54
Attached a screenshot with search request
As a results a got timeout.
![Screenshot 2022-02-07 at 15 50 15](https://user-images.githubusercontent.com/3996622/152791353-0bf36b03-a148-49a0-932f-4a6baf72f138.png)

[2022-02-07 13:21] scipe commented on #15449
feel free to contact with me in slack @yanliang567

[2022-02-07 14:15] xiaofan-luan commented on #15421
we remove the response channel and the dependency should be grpc limit, so far I feel it is ok but it would be better if we have pagination and we can reduce it to a smaller value

[2022-02-07 16:51] scipe commented on #15449
I did also next things for testing:
- Scale down querynode 2 => 1
- Trying to search for empty collection
But got the same timeout on endpoint

[2022-02-07 18:09] scipe commented on #15449
The same timeout I see if going to collection => data (without search by vectors) in ATTU.

[2022-02-08 01:05] yanliang567 commented on #15458
@JamCrash sounds reasonable
@xiaofan-luan do we have any plan to enhance this feature, to support more express in delete and query operations?

[2022-02-08 01:05] yanliang567 commented on #15458
/assign @xiaofan-luan
/unassign @JamCrash

[2022-02-08 01:09] yanliang567 commented on #15449
@xige-16 could you please help on this issue?
/assign @xige-16
/unassign @scipe

[2022-02-08 01:12] yanliang567 commented on #15438
@pmoreirac if you are running on Milvus 1.x, you need to file a new ticket. This one is about Milvus 2.0.

[2022-02-08 02:00] DragonDriver commented on #15450
@Kencho5 thx for the information. According to the logs, I guess you run etcd on a slow disk. However, as the meta engine of Milvus, etcd relies on disk which has high performance. So how about tring to run etcd on a better disk?

[2022-02-08 02:29] binbinlv commented on #15451
This issue did not occur in last nightly, so close this issue first. And thinking about this issue is not steadily reproduced, so will reopen it if it occurs again in the future.

[2022-02-08 02:29] #15451 closed

[2022-02-08 02:39] XuanYang-cn commented on #15421
Search requests are still using channels, and channels also have a req limit of 100MB for now(5MB in default by Pulsar), are we planning to passing search requests through RPC too?

[2022-02-08 02:42] xige-16 commented on #15404
After loading, querycoord has not detected a new querynode coming online, and there have been only two querynodes. @jingkl
[code]

[2022-02-08 02:56] XuanYang-cn commented on #15421
For high dimension vectors and large TopK cases, 64MB could end up with very low throughput.

For vectors of dimension 512, 64MB can only contain 64 * 1024 *1024/(512 * 4) = 32 * 1024 , approximately 32,000 number of rows.

Which means  at most nq * Topk = 32000, if the user asks for Topk 1000, the total throughput would be 32 vectors per RPC.

To ensure high throughput as well as a good performan

[2022-02-08 06:27] czs007 commented on #15416
A known issue. In the auto-incrementing primary key mode, an extra copy of data is inserted due to timeout retry.

[2022-02-08 08:00] binbinlv opened #15469 "[Enhancement]: Upgrade 1.x collection test cases: （test_collection.py)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Modify the 1.x test cases in the following classes in test_collection.py using 2.0 interface:

class class TestCollectionCount
class TestCollectionCountIP
class TestCollectionCountBinary
class TestCollectionMultiCollections
class TestGetCollectionStats
class TestCreateCollecti

[2022-02-08 08:00] binbinlv commented on #15469
please keep track of each modification on this issue, for example:
TestLoadPartitionInvalid::test_load_partition_with_invalid_partition_name -> class::test_case_name
TestLoadPartitionInvalid::test_load_partition_with_invalid_partition_name Deleted

[2022-02-08 08:01] binbinlv opened #15470 "[Enhancement]: Upgrade 1.x config test cases (test_config.py)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Delete it

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-02-08 08:03] binbinlv opened #15471 "[Bug]: Upgrade 1.x connection test cases: (test_connection.py)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Modify the 1.x test cases in the following classes in test_connection.py using 2.0 interface:

class TestConnect
class TestConnectIPInvalid(object)
class TestConnectPortInvalid(object)
class TestConnectURIInvalid(object)

### Why is this needed?

_No response_

### Anything el

[2022-02-08 08:03] binbinlv commented on #15471
please keep track of each modification on this issue, for example:
TestLoadPartitionInvalid::test_load_partition_with_invalid_partition_name -> class::test_case_name
TestLoadPartitionInvalid::test_load_partition_with_invalid_partition_name Deleted

[2022-02-08 08:05] binbinlv opened #15472 "[Enhancement]: Upgrade 1.x flush test cases: （test_flush.py)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Modify the 1.x test cases in the following classes in test_flush.py using 2.0 interface:
class TestFlushBase
class TestFlushAsync
class TestCollectionNameInvalid(object)

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-02-08 08:05] binbinlv commented on #15472
please keep track of each modification on this issue, for example:
TestLoadPartitionInvalid::test_load_partition_with_invalid_partition_name -> class::test_case_name
TestLoadPartitionInvalid::test_load_partition_with_invalid_partition_name Deleted

[2022-02-08 08:06] binbinlv opened #15473 "[Enhancement]: Upgrade 1.x index test cases: （test_index.py)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Modify the 1.x test cases in the following classes in test_index.py using 2.0 interface:
class TestIndexBase
class TestIndexBinary
class TestIndexAsync

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-02-08 08:07] binbinlv opened #15474 "[Enhancement]: Upgrade 1.x insert test cases: （test_insert.py)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Modify the 1.x test cases in the following classes in test_insert.py using 2.0 interface:
class TestInsertBase
class TestInsertBinary
class TestInsertAsync
class TestInsertInvalid(object)
class TestInsertInvalidBinary(object)

### Why is this needed?

_No response_

### Anythi

[2022-02-08 08:07] XuanYang-cn commented on #15456
@excited-tiger  Thanks for pointing it out, `partition.delete` is fixed on pymilvus==2.0.1.dev3 on testpypi, will be released along with pymilvus2.0.1.

`delete` works exactly the same on the Collection level and Partition level, so don't worry about the correctness.

[2022-02-08 08:08] binbinlv opened #15475 "[Enhancement]: upgrade 1.x partition test cases: （test_partition.py)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Modify the 1.x test cases in the following classes in test_partition.py using 2.0 interface:
class TestCreateBase
class TestShowBase
class TestHasBase
class TestDropBase
class TestNameInvalid(object)
class TestNewCase(object)

### Why is this needed?

_No response_

### Anythi

[2022-02-08 08:08] binbinlv commented on #15475
please keep track of each modification on this issue, for example:
TestLoadPartitionInvalid::test_load_partition_with_invalid_partition_name -> class::test_case_name
TestLoadPartitionInvalid::test_load_partition_with_invalid_partition_name Deleted

[2022-02-08 08:09] XuanYang-cn commented on #15456
It's a SDK bug, already fixed

[2022-02-08 08:09] XuanYang-cn commented on #15456
/unassign
/assign @excited-tiger

[2022-02-08 08:09] binbinlv opened #15476 "[Enhancement]: Upgrade 1.x search test cases: （test_search_20.py)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

1. Modify the 1.x test cases in the following classes in test_search_20.py using 2.0 interface:

class TestSearchBase:
class TestSearchDSL(object) [could be deleted for the deprecation of DSL)

2. Rename test_search_20.py to test_search.py

### Why is this needed?

_No respons

[2022-02-08 08:10] binbinlv commented on #15476
please keep track of each modification on this issue, for example:
TestLoadPartitionInvalid::test_load_partition_with_invalid_partition_name -> class::test_case_name
TestLoadPartitionInvalid::test_load_partition_with_invalid_partition_name Deleted

[2022-02-08 08:10] binbinlv opened #15477 "[Enhancement]: Upgrade 1.x query test cases: （test_query.py)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Modify the 1.x test cases in the following classes in test_query.py using 2.0 interface:

class TestQueryBase

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-02-08 08:11] binbinlv commented on #15477
please keep track of each modification on this issue, for example:
TestLoadPartitionInvalid::test_load_partition_with_invalid_partition_name -> class::test_case_name
TestLoadPartitionInvalid::test_load_partition_with_invalid_partition_name Deleted

[2022-02-08 08:14] XuanYang-cn commented on #15460
PR merged, need to cherry-pick to 2.0 branch.

[2022-02-08 08:16] huangjincheng2022 opened #15478 "[Bug]:Missing version information of PyMilvus sdk on milvus website Hello Milvus page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

 Missing version information of PyMilvus sdk on the Hello Milvus Page. there might be an optimization for it.

### Expected Behavior

Complete version information of PyMilvus SDK.

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-02-08 08:25] yanliang567 commented on #15478
I agree that we need a reminder for users of installing/updating pymilvus to latest version, or the hello_milvus code might return errors.

@LocoRichard
/assign @LocoRichard
/unassign

[2022-02-08 08:29] yanliang567 commented on #15456
/assign @huangjincheng2022
@huangjincheng2022 could you please help to add some tests for this fix?

[2022-02-08 08:33] XuanYang-cn commented on #15460
Cherry-picked, should be updated on the official website shortly

/unassign
/assign @binbinlv

[2022-02-08 08:39] congqixia opened #15479 "[Bug]: EntriesNum of delta logs is not recorded correctly in segment meta"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Entries number is always zero for all delta log.

### Expected Behavior

In segment meta, entries num shall be recorded correctly.

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-02-08 08:42] LocoRichard commented on #15478
@huangjincheng2022  @yanliang567
Fixed via https://github.com/milvus-io/milvus-docs/pull/1344
Good to be closed

[2022-02-08 08:45] yanliang567 commented on #15478
/assign @huangjincheng2022
/unassign @LocoRichard

[2022-02-08 08:59] xige-16 commented on #15404
querycoord log
[code]

etcd log
[code]

[2022-02-08 09:04] xige-16 commented on #15404
etcd's automatic composition will cause coord's watchNodeLoop to exit, and querycoord will not know the newly launched querynode.
![FbTi5M9UX3](https://user-images.githubusercontent.com/20124155/152953626-f98fe356-e098-489c-951d-db912e5048a4.png)

[2022-02-08 09:05] xige-16 commented on #15404
@congqixia will fix this issue
/assign @congqixia

[2022-02-08 09:19] ThreadDao opened #15483 "[Enhancement]: Need to test compact after deleting entities and creating index"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

There are only case to test compact after deleting entities. Need to test compact after deleting entities and creating the index

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-02-08 11:36] soothing-rain opened #15489 "[Enhancement]: Upgrade RocksDB and GoRocksDB."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Milvus is currently using Rocksdb 6.15.2, which hasn't been upgrade for a while and lacks most recent bug fixes and features. Rocksdb 6.15.2 does not support Apple Silicon, for example.

In the meanwhile, the original gorocksdb repo [tecbot/gorocksdb](https://github.com/tecbot

[2022-02-08 12:00] jaime0815 opened #15490 "[Bug]: Make clean can't remove build dir"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The blew directories still exists after executing _make clean_ :
cmake_build
cwrapper_rocksdb_build
cwrapper_build

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-02-08 13:04] scipe commented on #15449
Hey folks! Any news? How can I help you?

I am thinking to try to do search in collection without any metadata..

[2022-02-08 13:36] Kencho5 commented on #15450
i'm running it on Samsung SSD 950 PRO. is it that slow? i don't think that could be the cause of it, though i may be mistaken

[2022-02-08 13:37] Kencho5 commented on #15450
maybe it allocated small amount of usage?
![image](https://user-images.githubusercontent.com/53686164/152998047-0fdbf952-5f2a-491b-85dc-ab351f081316.png)
this is how much resources it takes while inserting

[2022-02-08 13:43] xiaofan-luan commented on #15458
We won't support delete with expression because it may cause scan whole collection and takes very long.
For optional solution:
1) query with expression and delete with ids.
2) support a compaction expire plugin which can implement user logic to expire entities

[2022-02-08 13:44] xiaofan-luan commented on #15458
We now support expire data by timestamp, we should probably extend this feature in the future

[2022-02-08 13:45] xiaofan-luan commented on #15457
should we also support ==?

[2022-02-08 13:48] xiaofan-luan commented on #15450
though ssd should be well enough, seems that the real error is
Temporary failure in name resolution
Which means the dns lookup service is not working correctly.
@LoveEachDay @zwd1208 any suggestion?

[2022-02-08 14:06] xiaofan-luan commented on #15421
Agree, QueryNode need to handle search requests concurrently.
Based on your calculation I thought 64M is a little bit smaller, 512M might be a reasonable limit.
Any other suggestions? change the message size into DML to 1M might be still a work to do

[2022-02-08 19:56] Kencho5 commented on #15450
it takes around 4 minutes to load a collection when starting the database on around 9 million vectors. is it supposed to take this long? when starting i get bunch of logs:
![image](https://user-images.githubusercontent.com/53686164/153065325-0efdf584-a777-40a4-adc9-92ae40e51b9b.png)

the database does eventually start and work, but soon crashes when inserting

[2022-02-08 20:22] stefan-it commented on #15440
Hi,

I've seen the same errors using final 2.0.0 version. This error did not happen with 2.0.0-PreGA.

Indexing was working, but here's the error log:

[code]

[2022-02-09 01:49] #15456 closed

[2022-02-09 01:54] xiaofan-luan commented on #15440
Hi Stefan， seems that this is standalone cluster and for some reason the querynode is excluded. Did you check the memory utilization? My guess is that your cluster is running out of memory

[2022-02-09 02:23] xiaofan-luan commented on #15450
There seems to be an error here,  describe collection fail. Can we collect all the logs so we can analyze? Current info seems to be not enough

[2022-02-09 02:27] xiaofan-luan opened #15494 "[Enhancement]: Improve load speed on large dataset"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

A lot of users say that load operation is really slow.
Need to figure out why and how to improve.

One of the suggestion is to implement compression on binlogs. Another easy way to improve the performance is to try our best to improve the concurrency.

Also we need to profilin

[2022-02-09 02:30] xige-16 commented on #15449
It seems querynode's service time is much smaller than the guranee time, which may be the service time has been pushed too slowly or has stoped advancing, and more querynode logs are needed to analyze the issue. @scipe
[code]

[2022-02-09 02:34] xige-16 commented on #15449
This proxy log only indicates that proxy successfully sent a search request to querynode, but that proxy did not receive search result

[2022-02-09 02:35] XuanYang-cn commented on #15413
/unassign @sunby
/assign

[2022-02-09 02:57] cydrain commented on #12152
Just for update, I have upgraded faiss from 1.6.3 to 1.7.0 in my local branch on repo "knowhere".

My schedule is like following, [x] means finished
- [x] Familiar with FAISS 1.7.0 compile process and unittest
- [x] Verify Weizhi's branch which has upgraded FAISS to 1.7.0, let all FAISS unittest pass
- [x] Port all code change under faiss between milvus 1.1 and milvus 2.0 to Weizhi's branch, let a

[2022-02-09 02:59] xige-16 commented on #15449
Within the search req timeout range, search req times will time out if the querynode's service time cannot be updated to be greater than the gurante time

[2022-02-09 03:18] congqixia opened #15496 "[Bug]: SessionWatcher quits if not rewatch logic is provided when meets ErrCompacted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

SessionWatcher will close eventCh if not rewatch logic is provided when meets ErrCompacted, which leads to watch goroutines to quit leaving service untouched

### Expected Behavior

Rewatch the sessions even when no `rewatch` function is provided

### Steps To Reprodu

[2022-02-09 03:42] congqixia opened #15499 "[Enhancement]: Simplify compaction policy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

## Simplify Compaction policy and merge type I and type II compaction

- The insert binlog shall be immutable after it's flushed.
- Compaction always produces new segment(s), so the result segment ID shall always be a new one.
- Compaction triggering mechanism remains the same

[2022-02-09 06:27] XuanYang-cn commented on #10609
Possibly associated with #15368

[2022-02-09 06:28] XuanYang-cn commented on #10609
/unassign @sunby @congqixia
/assign

[2022-02-09 07:00] Kencho5 commented on #15450
what other logs do i need to provide? and how can i see those logs?

[2022-02-09 07:06] cydrain opened #15503 "[Bug]: See many error message "#error CUDA >= 8.0 is required" when build"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

See many error message when build milvus

[code]

### Expected Behavior

no error printed

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-02-09 07:09] cydrain commented on #15503
/assign

[2022-02-09 07:10] cydrain opened #15504 "[Enhancement]: See warning message "throw will always call terminate()" when build"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Clean warning messages when build milvus:

[code]

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-02-09 07:10] cydrain commented on #15504
/assign

[2022-02-09 07:12] divyanshugit commented on #15445
Hi, Can you please assign me this issue?

[2022-02-09 07:56] jaime0815 opened #15505 "[Bug]: Sometime test data dir can't be cleaned after running TestEtcdRestartLoad"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior
run: make unittest, the generated data directory didn't clean
![image](https://user-images.githubusercontent.com/4024711/153146061-4146e83e-8277-4f8e-890f-217f3e054b02.png)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

[2022-02-09 08:07] congqixia commented on #15440
Hi @sroshkul, I was wondering that could you please provided the Index Building parameters when you create it? Including the index type and related paramters.

[2022-02-09 08:32] sroshkul commented on #15440
Code we use:
[code]

Values in logs:
[code]

[2022-02-09 08:47] congqixia commented on #15440
@sroshkul got it, thanks a lot

[2022-02-09 09:11] xiaofan-luan commented on #15445
@divyanshugit hi div~ welcome to the community!

[2022-02-09 09:23] xiaofan-luan commented on #15445
feel free to contact me at github or slack for more information

[2022-02-09 09:27] XuanYang-cn commented on #15403
[code]

[2022-02-09 09:31] zwd1208 opened #15509 "[Feature]: support grpc health check method for proxy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

When use AWS ALB for milvus loadbalancer, it must provide a custom health check method with the format /package.service/method.
However, Milvus proxy currently does not expose a similar gRPC interface, so ALB health check does not work for milvus

[2022-02-09 09:39] cydrain opened #15510 "[Enhancement]: Move IVFSQScannerIP/IVFSQScannerL2 to faiss/invlists"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

IVFSQScannerIP and IVFSQScannerL2 in faiss/impl/ScalarQuantizer.h is added by PR #2499,
we'd better move them to faiss/ivflists/IVFSQInvertedLists.h

### Why is this needed?

for better code structure

### Anything else?

_No response_

[2022-02-09 09:39] cydrain commented on #15510
/assign

[2022-02-09 10:03] scipe commented on #15449
Here is logs (I did one search request in the end)
[milvus-querynode-8db48f769-9xbmd.log](https://github.com/milvus-io/milvus/files/8031560/milvus-querynode-8db48f769-9xbmd.log)

[2022-02-09 10:35] ufuk23 opened #15513 "RPC error when using expression"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I search using expression like that "pk in [1, 2, 3, 4, 5, .............]", assume that 300.000 ids passed,  I get the RPC error below.

RPC error: _execute_search_requests{'RPC start': '2022-02-09 13:05:19.965058', 'RPC error': '2022-02-09 13:05:22.613132'}
RPC

[2022-02-09 10:37] xiaofan-luan commented on #15513
is it three hundred or 300000? can we check the proxy log and see what's the detailed error?

[2022-02-09 10:43] ChenCongZhu2017 opened #15514 "[Bug]: 10000 vector, single query 200ms..."
### Is there an existing issue for this?

- [ ] I have searched the existing issues

### Environment

[code]

### Current Behavior
I wrapped a request in a Java SDK:
curl --location --request POST 'localhost:22017/api/realtime/v2/vector/search' \
--header 'Content-Type: application/json' \
--data-raw '{
    "collectionName" : "zhouyx_Collection_15",
    "topk":5,
    "partitionName" : "2022020916"

[2022-02-09 10:46] ufuk23 commented on #15513
it is 300.000, or 50.000, it makes no difference. How could I see my proxy log? The docker container is down when I get this error.

[2022-02-09 10:54] xiaofan-luan commented on #15514
from the log it looks normal, what is the error message you get?

[2022-02-09 10:57] xiaofan-luan commented on #15513
docker logs [OPTIONS] CONTAINER is the way you can get the log, or you can redirect log of milvus to a file by change log.file.rootPath

[2022-02-09 10:59] xiaofan-luan commented on #15513
we will need to see at least the error message before we can judge

[2022-02-09 11:00] xiaofan-luan commented on #15514
if it is just too slow, you should change your consistency level for better latency~

[2022-02-09 11:01] xiaofan-luan commented on #15403
do we have core dump right now for this issue?

[2022-02-09 11:22] xiaofan-luan commented on #15514
2.0.1 change the default consistency level to eventual, if you are using older SDK versions please try the latest

[2022-02-09 11:27] ChenCongZhu2017 commented on #15514
My java SDK version is 2.0.0. I'll try 2.0.3 tomorrow. 3Q

[2022-02-09 11:39] xiaofan-luan commented on #15449
the log is partial, but we've seen at least two issues:
1) Time tick stucked for at least two days, to get more logs there is a faq about how to enable logs at https://milvus.io/docs/v2.0.0/operational_faq.md
2) field bin logs load seems to keep loading path=insert_log/430960041038184449/430960041038184450/430960612918427649/101/430960787204866050

[2022-02-09 11:53] scipe commented on #15449
1. Yeah, so as I understand logs right now just a stdout. Server already running for 4 days. So you want to see logs right from server start? Maybe I can restart the pod and give you fresh logs?
2. Not sure what I am understand what is that. I am not insertings anything right now.

[2022-02-09 11:55] ChenCongZhu2017 commented on #15514
My java SDK version is really old. 3Q.
Is SSD also recommended in milvus2.0?

[2022-02-09 12:16] xiaofan-luan commented on #15449
Sure, it would be great if you redirect the log and restart the cluster so we can collect the full log

[2022-02-09 12:18] scipe commented on #15449
here is fresh logs
[milvus-querynode-8db48f769-9xbmd.log](https://github.com/milvus-io/milvus/files/8032579/milvus-querynode-8db48f769-9xbmd.log)

[2022-02-09 12:20] xiaofan-luan commented on #15449
seems that current querynode has weird error logs, does search still stuck?

[2022-02-09 12:26] scipe commented on #15449
yeah same timeout

[2022-02-09 12:52] xiaofan-luan commented on #15449
I thought I got the reason, there seems to be a bad performance bottleneck when search and get original vector .
I will fix it soon.

There are a few temporary solutoons:
1) don't include vector field when search.
2) If you have ssd, you can use local ssd as a cache .

add config:
localStorage.Path = ssd location
localStorage.enabled = true

[2022-02-09 12:56] xiaofan-luan commented on #15449
localStorage.Path need to set to a fast storage , default path is /var/lib/milvus/data/

[2022-02-09 13:07] xiaofan-luan opened #15516 "[Feature]: Vector chunk manager local cache need to implement LRU"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Vector chunk manager support enable localcache and the default local cache location is  /var/lib/milvus/data/.
1. /var/lib/milvus has to be mount to an ssd storage
2. if the device is small, we need to implement LRU policy to only cache hot chunks

[2022-02-09 13:34] ufuk23 commented on #15513
Here it is:

`bufio.(*Reader).Peek(0xc00485c360, 0x1, 0x2, 0x0, 0x0, 0x0, 0xc006a03740)

	/usr/local/go/src/bufio/bufio.go:139 +0x4f

net/http.(*persistConn).readLoop(0xc006c20a20)

	/usr/local/go/src/net/http/transport.go:2040 +0x1a8

created by net/http.(*Transport).dialConn

	/usr/local/go/src/net/http/transport.go:1708 +0xcb7

goroutine 2135050 [IO wait]:

internal/poll.runtime_pollWait(0x7f2b

[2022-02-09 14:09] ufuk23 commented on #15513
In Steps To Reproduce section I showed that how you can reproduce the error. You can have it while passing pk in query like below. If it doesn't happen, you can keep trying more than once.

"pk in [1, 2, 3, 4, 5, 12, 14, 15, 16, 54811, 198192, 133684, 163665, 107519, 175324, 101391, 3555, 72293, 190973, 53004, 83573, 154074, 197310, 166723, 72565, 75445, 27198, 75575, 21448, 42343, 165290, 101724,

[2022-02-09 14:13] scipe commented on #15449
Okay I know what you mean. You mean not "do not search by vectors", you mean do not have that original vector in search results?

[2022-02-09 14:49] alturkovic opened #15519 "[Feature]: Support multiple values for a field"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

It would be great if multiple values could be added to a field, something like Pinecones list of values for metadata filtering.

### Describe the solution you'd like.

Add multiple values for a field and search/filter by those values.

### Describ

[2022-02-09 15:36] xiaofan-luan commented on #15513
This is the log from client side, do we have the log at server side, especially for the proxy? see if you don't know how to collect logs~
https://milvus.io/docs/v2.0.0/operational_faq.md
I'm not sure if we can work on so many in expressions but is there a reason for using so much in?

[2022-02-09 15:38] xiaofan-luan commented on #15519
hi @alturkovic ,so by saying multiple values, do you mean structures like list or set?

[2022-02-09 15:41] alturkovic commented on #15519
Exactly, [Pinecone](https://www.pinecone.io/docs/metadata-filtering/#adding-metadata-in-pinecone-indexes) supports adding multiple values in the metadata which combined with upsert (I saw that upserts are coming to Milvus also) simplifies our use case a lot and enables us to simply "append" values in the list if they already exist, or create a new entity otherwise. This allows us to have only one

[2022-02-09 15:43] xiaofan-luan opened #15520 "[Feature]: Support update by PK operation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

update simply equals to delete + insert.
This should be a easy transaction since delete and insert are in the same shard.

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything else?

[2022-02-09 15:46] xiaofan-luan commented on #15519
Gotcha, we will first support string as our priority since you can always serialize your list into a JSON string if you'd like to.
In the next few release we will add list/set and other data structure support.

Keep this issue open for now

[2022-02-09 15:52] scipe commented on #15449
like the same before

[2022-02-09 16:03] scipe commented on #15449
Okay so when I trying to do search from "ATTU => Collection => DataQuery" I see in the output_fields my embedding vector field. So `[DEBUG] [segment.go:383] [FillVectorFieldData]` this row means that system trying to get original vector from file?

Regarding to logs for query without embedding field let me try to do that one more time

[2022-02-09 16:15] scipe commented on #15449
[milvus-querynode-8db48f769-9xbmd.log](https://github.com/milvus-io/milvus/files/8034237/milvus-querynode-8db48f769-9xbmd.log)
[milvus-proxy-7dd4dd6d86-qvrv9.log](https://github.com/milvus-io/milvus/files/8034238/milvus-proxy-7dd4dd6d86-qvrv9.log)

[2022-02-09 16:16] xiaofan-luan commented on #15449
The original file is in Minio, and for fast retrieval we put original vector into local disk, and FillVectorFieldData means retrieve vector field from local disk

[2022-02-09 16:20] scipe commented on #15449
Okay in my case it's S3.

[2022-02-09 16:21] xiaofan-luan commented on #15449
it should be cached at  /var/lib/milvus/data/ directory on the quernode

[2022-02-09 16:22] scipe commented on #15449
@xiaofan-luan after I restart querynode one more time and did search (without searching with vector field) I got results..

[2022-02-09 16:26] xiaofan-luan commented on #15449
from your logs offered I didn't see any weird logs, everything seems to be working but querynode didn't receive request from proxy. @xige-16 any other comments?

[2022-02-09 16:28] scipe commented on #15449
Do you wanna access to my cluster? It's created only for testing, no production data and etc.

[2022-02-09 16:36] xiaofan-luan opened #15521 "[Enhancement]: fillVectorFieldsData need to improve efficiency"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

1. fillVectorFieldsData need to be faster especially for larger nq. I'm suggest to increase concurrency when retrieve vector fields.
2. keep mmap for each file rather than open it each time and check if it is exist each time.

### Why is this needed?

we want to improve the se

[2022-02-09 16:38] #15494 closed

[2022-02-09 17:02] scipe commented on #15449
Okay. So always when I try to do search from Data Query (attu UI with includes original vector) - I will never get answer from api. But after I restart the whole pod and waiting init - search is works

[2022-02-09 19:56] ufuk23 commented on #15513
I realised that milvus-standalone has many error logs, even has no collection. I used the docker-compose as default but don't know why I have those errors. I have the attu GUI by the way. Even if I remove the milvus containers and volumes and run docker compose up, it still has the same errors.

`
[2022/02/09 17:50:15.555 +00:00] [DEBUG] [minio_kv.go:92] ["MinioKV new MinioKV success."]

[2022/02/

[2022-02-10 01:34] xiaofan-luan commented on #15513
From the logs seems that while you redeploy some of the states are not cleaned. please check the following:
if your etcd is cleaned: by default is etcd.rootPath
minio is cleaned properly: by default the bucket name is bucketName

[2022-02-10 02:00] #15510 closed

[2022-02-10 02:05] annisun2020 commented on #7219
v2.0.0 still can't be used

`File "/usr/local/lib/python3.7/site-packages/pymilvus/orm/utility.py", line 217, in has_collection
    return _get_connection(using).has_collection(collection_name)
  File "/usr/local/lib/python3.7/site-packages/pymilvus/client/stub.py", line 61, in handler
    raise e
  File "/usr/local/lib/python3.7/site-packages/pymilvus/client/stub.py", line 45, in handler
    retu

[2022-02-10 02:38] wangting0128 opened #15522 "[Bug]: [benchmark][cluster] search raise error: syncTimestamp Failed:context deadline exceeded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod: benchmark-cron-1644422400-737302963

[client.log](https://github.com/milvus-io/milvus/files/8037587/client.log)

client logs:
[code]

### Expected Behavior

argo task: benchmark-cron-1644422400

test yaml:
client-configmap:client-search-sift50m-ivf-flat-20

[2022-02-10 02:47] wangting0128 opened #15523 "[Bug]: [benchmark][standalone] Milvus Standalone restart, search raise error of 'proxy not healthy' and did not recover"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod: benchmark-cluster-cron-1644440400-1852693543

[client.log](https://github.com/milvus-io/milvus/files/8037630/client.log)

client log:
[code]

### Expected Behavior

argo task: benchmark-cluster-cron-1644440400

test yaml:
client-configmap:client-search-fil

[2022-02-10 02:56] sunby opened #15524 "[Bug]: Search may miss some segments if a compaction complete during the search"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Imagine a case, there are 2 querynode(querynode1 and querynode2). The segment1 is on querynode1 and a search request sent at timestamp t10. At this moment, a compaction (segment1 and segment2 merge to segment3) happen and segment3 is on querynode2. When the search req

[2022-02-10 03:30] XuanYang-cn commented on #15403
No core dump in benchmark

- [ ] feature: Benchmark needs to generate core dump and store it once service panicked

[2022-02-10 03:37] yanliang567 commented on #7219
@annisun2020 could you please upload the standalone pod logs for investigation?

[2022-02-10 03:38] xige-16 commented on #15449
The log was printed when querynode handled query request, and  the number of logs is equal to the number of rows of the query result.

[2022-02-10 03:47] yanliang567 commented on #15514
Yes， especially for etcd service

[2022-02-10 05:19] #15429 closed

[2022-02-10 05:29] #9786 closed

[2022-02-10 06:27] xige-16 commented on #15449
Now search does not support returning the original vector, the SDK will throw the wrong
[code]

[2022-02-10 06:28] congqixia opened #15527 "[Bug]: Fail to compile d499ffc"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When compiling Milvus, got following error:
[code]

### Expected Behavior

Compilation succeeds

### Steps To Reproduce
run
[code]

### Anything else?

_No response_

[2022-02-10 06:36] czs007 commented on #15416
@XuanYang-cn

In order to improve this situation, we will do three things in the future:
1) In the self-incrementing primary key mode, the server ensures that a single insert operation is atomic
2) In the return value of the insert operation, set the  line numbers of  the partial data  with errors, and the sdk retry is only for those lines
3) In the custom primary key mode, duplicate primary keys

[2022-02-10 06:49] ufuk23 commented on #15513
I use docker-compose which is the default, and there is no customization and no error log for etcd and minio. So I don't know why I get those errors on the milvus-standalone container. It doesn't work even I remove all of the docker volumes and containers. I can use the milvus from scratch. What's your suggestion for a clean installation, is there something I missed?

etcd log:

{"level":"info","t

[2022-02-10 07:13] xiaocai2333 commented on #15522
Proxy apply timestamp request from RootCoord time out. The request has a timeout of 5s, but it looks like that the request has time out before RootCoord receives the request.

[2022-02-10 07:18] xiaocai2333 commented on #14833
The same as #15522 .

[2022-02-10 07:58] congqixia opened #15529 "[Bug]: Flushing Segment is not treated as Flushed segment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

If postFlush failed to notify `RootCoord`, the segment state will be `Flushing`.
When calling GetFlushState, the segment will be treated as unflushed ones.

### Expected Behavior

Even segment is in `Flushing` state, `GetFlushState` shall return true.

### Steps To Re

[2022-02-10 08:12] ufuk23 commented on #15513
Errors are no more. Removed all volumes after stopping Milvus.

**sudo rm -rf  volumes**

[2022-02-10 08:55] #15529 closed

[2022-02-10 09:02] XuanYang-cn commented on #8668
/reopen

[2022-02-10 09:12] XuanYang-cn commented on #15403
/assign @bigsheeper

[2022-02-10 09:12] XuanYang-cn commented on #15403
/unassign
/assgin @cydrain

[2022-02-10 09:19] XuanYang-cn commented on #15403
Possibly the same as #15133 , #14077 , but this time `search segmentation violation` happened on cluster querynode.

[2022-02-10 09:28] XuanYang-cn commented on #15413
No reproducing since 2.9

[2022-02-10 10:06] angleGhost opened #15532 "[Enhancement]: Security verification"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?
We'd like to see username/password or token verification in the connection params.

[code]

### Why is this needed?

In practical applications, Milvus may be deployed in the public network, that is, the Milvus server and the actual business logic are separated in different serv

[2022-02-10 10:40] xiaofan-luan commented on #15532
anyone want to take account and password feature please let me know~

[2022-02-10 10:46] xiaofan-luan commented on #7700
hi @haorenfsa ,do you want to setup some discussion about the restful API implementation?

[2022-02-10 10:46] xiaofan-luan commented on #7700
/assign @haorenfsa

[2022-02-10 10:46] xiaofan-luan commented on #7700
@DragonDriver please help on the MEP review

[2022-02-10 10:47] #15527 closed

[2022-02-10 10:51] xiaofan-luan commented on #15445
close and let's take discussion there

[2022-02-10 10:51] #15445 closed

[2022-02-10 10:52] xiaofan-luan commented on #13264
@[divyanshugit](https://github.com/divyanshugit)

[2022-02-10 10:53] xiaofan-luan commented on #13264
assign @divyanshugit

[2022-02-10 10:53] xiaofan-luan commented on #13264
/assign @divyanshugit

[2022-02-10 11:55] Theodoric008 commented on #13795
no, just keep restarting...

[2022-02-10 11:57] xiaofan-luan commented on #13795
Hi @Theodoric008 ,any logs for the server so we can take a investigation on that?

[2022-02-10 12:04] scipe commented on #15449
@xige-16 dont forget about attu. They still using that field in Data Query from collection admin ui.

[2022-02-10 12:04] ufuk23 opened #15534 "[Bug]: Attu GUI shows too many decimal values"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I insert vectors as float values with rounded as two decimal Attu GUI shows them many decimals as the picture added. If I print the vector on the python console from Milvus, it will seem normal. Has anyone faced this issue and know why it happens?

### Expected B

[2022-02-10 12:05] xiaofan-luan commented on #15534
/assign @shanghaikid please help on this issue~

[2022-02-10 12:08] yanliang567 commented on #15534
/assign @shanghaikid
/unassign

[2022-02-10 12:09] yanliang567 commented on #15505
/assign @jaime0815
/unassign

[2022-02-10 12:11] yanliang567 commented on #15513
@ufuk23 is it okay to close this issue now?
/assign @ufuk23

[2022-02-10 12:17] ufuk23 commented on #15534
I am curious if this bug belongs to Milvus or just Attu GUI. I mean, does the bug point to the data problem or just GUI problem?

[2022-02-10 15:08] yah01 commented on #10468
Hi, I have some ideas that may help:
Changing the type of value to current Value interface needs to modify many codes. Just change the type of value to []byte may be better (even so with key), and most of kv storage systems in Go use []byte as the type of key/value. The reason is, large object (like file content) is usually stored as []byte, on the other hand, the length of a string is often short

[2022-02-10 17:27] ufuk23 opened #15536 "[Bug]: Milvus crashes if search with expr in a large id list"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I used Milvus 1.0.0 before and want to use 2.0.0. Honestly, while considering resource usage, I am disappointed with 2.0.0. I have a 160.000 vector that is 2048 float values. It must be 160.000 * 2048 * 8 bytes = 2.6 GB, but when I check the docker volume size, it see

[2022-02-10 21:55] bely66 commented on #9689
I upgraded to Milvus 2.0.0, and the issue still persists.
is there any workaround for this, It's making it impossible to use the engine because the machine/docker can restart at any moment and the only solution is wiping the Collection from all the data and starting again.

[2022-02-10 21:58] bely66 commented on #9689
Here're my logs when searching stops:

[2022/02/10 21:57:18.692 +00:00] [DEBUG] [time_recorder.go:78] ["proxy execute search 431103556928667687: send search msg to message stream (0ms)"]
[2022/02/10 21:57:18.692 +00:00] [DEBUG] [time_recorder.go:78] ["proxy execute search 431103556928667687: done (0ms)"]
[2022/02/10 21:57:34.423 +00:00] [DEBUG] [flow_graph_insert_buffer_node.go:95] ["IBN timetick

[2022-02-11 00:09] shanghaikid commented on #15534
GUI bug.

deepBlue ***@***.***> 于 2022年2月10日周四 20:17写道：

[2022-02-11 00:57] yanliang567 commented on #9689
which version were you running before milvus 2.0, if it were rc8, I am afraid that milvus 2.0 and rc8 are not compatible in upgrade.

[2022-02-11 02:12] haorenfsa commented on #7700
for now I can think of 2 things we need to decide:
- Which HTTP framework will we be using?
- Shall we add `db_name` in the URI path?

[2022-02-11 02:30] bely66 commented on #9689
I upgraded to Milvus 2.0.0 with an empty database and added a new collection with a new index.
At first things fine 'As expected'.
And after restarting the docker container the loading issue persisted.

[2022-02-11 02:35] zhaocc1106 commented on #15038
I try add lock to protect task_table circle queue, and the bug do not occured for 20 days. Patch as following:
[have_lock.zip](https://github.com/milvus-io/milvus/files/8045592/have_lock.zip)

[2022-02-11 03:25] xiaofan-luan commented on #15038
@zhaocc1106 hi zhao, would you mind open a pr a request and we will review it~~ Thanks for the contribution !

[2022-02-11 03:26] skye95git opened #15538 "[Bug]: collection 431107821927399425 has not been loaded to memory or load failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I deal with 43,827 pieces of data and load connection before search, I see the error message attached below:
[code]

But when I deal with 2,048 pieces of data, It can be loaded Successfully.

Does Milvus have a place for memory caps? Do I need to change the memor

[2022-02-11 03:37] xiaofan-luan commented on #15538
might be the same issue as #15429, we've already fixed issues and will be released on next week.
To solve this issue temporarily, you can call num_entities before load and it will trigger a internal flush which would solve the issue

[2022-02-11 04:17] yhmo commented on #15038
@zhaocc1106
The patch add a lock into the TaskTable::pickToLoad()/pickToExecute()/put() methods, the TaskTable will become non-parallel.
Ideally, task load() and execute() can be processed in different thread, task_b can load data from disk when task_a is doing ANN search. I think the lock is not a finally fix.

As you mentioned the CircleQueue didn't run into the log, so it is must be a thread co

[2022-02-11 04:18] xiaofan-luan commented on #7700
thought there is a duplicated issue of this one https://github.com/milvus-io/milvus/issues/15200, ask anosh to join the team and we can build it together.

for the two questions：
1. I would recommend to use FastAPI as the framework, since the milvus bootcamp repo is already using FastAPI
2. we may want to support namespace in the nearest future, so better to think of how to make this extendable

[2022-02-11 04:25] xiaofan-luan commented on #7700
We should take a discussion on next techmeeting, @haorenfsa wanna to give a 10 minutes quick talk about the plan? [next meeting will be on Feb. 16th, 2022](https://wiki.lfaidata.foundation/pages/viewpage.action?pageId=43287098)

[2022-02-11 04:31] xiaofan-luan commented on #9689
might be the same issue of #15436. You can upgrade to today's day build to see if it is fixed~~ we will release 2.0.1 soon to fix the issue

[2022-02-11 06:09] skye95git commented on #15538
Thanks. How to call num_entities?

[2022-02-11 06:14] haorenfsa commented on #7700
sure, glad to.

[2022-02-11 06:41] nameczz commented on #15534
Javascript has float precision problem for long time.
When query data, Milvus grpc server will return vector as FloatArray. Then node SDK receive float data and cause precision problem.
https://github.com/grpc/grpc/issues/2227

[2022-02-11 06:44] godchen0212 opened #15540 "[Enhancement]: Add and implement chunkManager interface"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

 Add and implement chunkManager interface

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-02-11 08:25] yah01 opened #15544 "[Enhancement]: Avoid to copy many bytes from C code"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

According to [this](https://www.cockroachlabs.com/blog/the-cost-and-complexity-of-cgo/), we can avoid to copy when converting C bytes to Go bytes by casting the type with unsafe.

### Why is this needed?

In internal/querynode/segment.go(HandleCProto), it converts the C proto

[2022-02-11 09:35] yanliang567 opened #15546 "[Enhancement]: Add more timeout for wait for compaction completed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

it is 20s timeout for wait for compaction completed, which is not enough sometimes if there are high workload in milvus.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-02-11 10:26] xige-16 commented on #15449
Okay, thx~

[2022-02-11 10:29] binbinlv commented on #15470
Close this issue for pr #15539 merged.

[2022-02-11 10:29] #15470 closed

[2022-02-11 11:02] binbinlv commented on #15477
1. TestQueryBase::test_query_invalid -> Updated to "TestQueryParams::test_query_invalid"
2. TestQueryBase::test_query_valid -> Deleted for repeated scenario with test case "TestQueryParams::test_query_output_fields_simple_wildcard" and "test_query_output_multi_float_vec_field"
3. TestQueryBase::test_query_collection_not_existed -> Updated to "TestQueryParams::test_query_no_collection"
4. TestQuery

[2022-02-11 11:26] yah01 opened #15552 "[Bug]: Incorrect hyperlink to C++ SDK in README"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The hyperlink to C++ SDK links to Go SDK in README

### Expected Behavior

It should link to C++ SDK

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-02-11 13:48] bely66 commented on #9689
Any idea why this issue is happening?

[2022-02-11 17:58] bely66 commented on #9689
I don't think 2.0.1 is out yet.
I'll try v2.0.0-pre-ga, but the issue happened with both v2.0.0 and v2.0.0-rc8-20211104-d1f4106, so I'm not hopeful because v2.0.0-pre-ga is an intermediate version.

[2022-02-11 20:19] #13553 closed

[2022-02-11 22:22] bely66 commented on #9689
I tried v2.0.0-pre-ga, Same issue.
I'm suspecting there's something wrong with the way I'm setting the collection.

Here's the steps using python client.

  if has_collection(collection_name):
      self.collection = Collection(name=collection_name)
      self.collection.load()

search_params = {"metric_type": METRIC_TYPE, "params": {"nprobe": 16}}
res = self.collection.search(vectors, anns_field=

[2022-02-12 09:35] xiaofan-luan commented on #15536
Hi @ufuk23, yes milvus 1.0.0 is better on resource usage, especially on disk size.
the reason is:
1) milvus insertion message is stored in rocksmq, and will be purged after a few days.
2) milvus store data on minio, which has 3 replicas
3) the storage format of milvus 2.0  is more complicated and possibility to do further extend.
4) we stored index as well as original, which should incur 2x of the

[2022-02-12 09:37] xiaofan-luan commented on #15536
We are working on memory usage and performance optimization, if anyone has any ideas or clues please let me know

[2022-02-12 10:09] xiaofan-luan commented on #15544
good catch, we have many avoidable copies and we should take care of it
@czs007 @bigsheeper

[2022-02-12 10:09] xiaofan-luan commented on #15544
/assign @yah01

[2022-02-12 10:17] xiaofan-luan commented on #15552
merged, close the issue.
if you set fix #15553 in your pr comment the issue would be closed automatically

[2022-02-12 10:33] xiaofan-luan opened #15555 "[Feature]: Support vector preprocessing and postprocessing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

For some feature such as PCA and normalization，we will need one extra stage to process the data before insertion.

For PCA it would be even more complicated because we want to load one pretrained data model .
The feature should work as follow:

1)

[2022-02-12 10:39] xiaofan-luan commented on #9689
any logs at client side?

[2022-02-12 10:39] xiaofan-luan commented on #9689
what is the error message you get?

[2022-02-12 10:55] zhuwenxing commented on #15538
collection.num_entities

[2022-02-12 11:01] xiaofan-luan commented on #15555
see the discussion here https://github.com/milvus-io/milvus/discussions/15554

[2022-02-12 12:22] bely66 commented on #9689
I don't get an error message, the search issue happens.
It gets stuck in search, and eventually the http request times out.

[2022-02-12 15:45] xiaofan-luan commented on #5218
Hi martyanov, we may want to support both kafka and Pulsar in the near future. We love pulsar because it's careful design and storage/compuation disaggregation. But for sure kafka has more users and better stability !

[2022-02-12 16:06] xiaofan-luan opened #15558 "[Feature]: Dynamic config load system"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Currently all milvus config is loaded from milvus.yaml, and config change need to restart the process.

The config file will be a big trouble for production environment because if user change some of the configs by their own they need to take care

[2022-02-13 04:14] TannedCung opened #15559 "[Bug]: Segmentation fault using C++ SDK"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Using SDK from branch 1.1.
- Create Collection name
- Create Index
- Search
- > Segmentation fault
Here are backtrace return by gdb:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]
[code]

### Anything else?

_No response_

[2022-02-13 04:20] TannedCung commented on #15559
Btw, things works well with the collection created by pymilvus.

[2022-02-13 07:25] yah01 commented on #15544
@xiaofan-luan  What about this:
[code]
The `UnsafeGoBytes(p, len)` method set the origin pointer to nil, to avoid the caller accessing the C pointer after converting. The returned lease is something like resource ID, the caller may need release it later, then it can remember the lease to achieve this.

This is BytesConverter:
[code]

[2022-02-13 10:26] #15559 closed

[2022-02-13 12:13] nibrag opened #15560 "[Bug]: Unstable search result when top_k greater than partition size"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I use a gRPC server with threading which uses milvus client to search vectors.
My collection has a lot of partitions and one of them has 40 entities.
I started to get unstable result when I use top_k greater than partitions size.

### Expected Behavior

_No response_

[2022-02-13 13:35] xiaofan-luan opened #15561 "[Feature]: Implement binlog compression on minio"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

We've see many people complain about Milvus 2.0 spent too many disk spaces.

One thing we can do is do compress the binlogs and check if we can get some compression ratio, If so compression should also help the load speed due to saved IOs

### Des

[2022-02-13 13:45] xiaofan-luan commented on #15544
That make sense to me. We can even have a reference counter so the converter can be shared as shared_ptr

[2022-02-13 13:47] xiaofan-luan opened #15562 "[Feature]: Implement atomic swap for collection alias"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Currently milvus has collection alias but the switch is not atomic and may cause  some trouble.
We need carefully design the alias switch logic.

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No respon

[2022-02-13 13:47] xiaofan-luan commented on #15562
@lsgrep Hi yusup are you still interested in working on it?

[2022-02-14 01:13] yanliang567 commented on #15560
@nibrag any reasons that you are still running on milvus 1.x, Milus 2.0 was just released
@yhmo could you please help on this issue?
/assign @yhmo
/unassign

[2022-02-14 01:18] yanliang567 commented on #9689
@bely66 could you please help to upload logs of proxy, querycoord and querynode for investigation?
/assign @bely66

[2022-02-14 01:20] yanliang567 commented on #15536
@ufuk23 please check the answers above, feel free to let us know if any more questions

[2022-02-14 02:04] congqixia commented on #15561
One good document for binlog format is [this doc](https://github.com/milvus-io/milvus/blob/master/docs/developer_guides/chap08_binlog.md)
Since there is some meta information in the binlog header, I would suggest to keep the binlog headers untouched and compress the data sections. Also the compression method shall be an  extra field in the future binlog header as well.

[2022-02-14 02:12] xiaofan-luan commented on #15561
Agree.  I would suggest to enable compression on collection level. And each binlog header is not compressed. When read bin log, one need to parse binlog header and check if it's compressed or not.

[2022-02-14 02:19] xige-16 commented on #15523
/unassign

[2022-02-14 02:20] xige-16 commented on #15404
/assign @jingkl
/unassign
/unassign @congqixia

[2022-02-14 02:21] DragonDriver commented on #15450
@Kencho5 sorry for the late response. Can you enter the etcd container and then use `etcdctl get by-dev/meta/root-coord/collection/431051265843396609` to check if the collection exists?

[2022-02-14 02:21] xige-16 commented on #15404
/assign @congqixia
/unassign @jingkl

[2022-02-14 03:02] yhmo commented on #15560
Point 1: Before searching, you need to call flush() to make sure the inserted vectors have been persisted.
Point 2: Search results not always equal to topk, don't hardcode a value to print results like this: `for x in executor.map(partial(search, [0.5, 0.3, 0.2, 0.1]), range(40)):`
You can print results by this method:
[code]

An example script:
This script creates a collection and a partition. Th

[2022-02-14 05:59] #15477 closed

[2022-02-14 06:07] yanliang567 commented on #15538
@skye95git please feel free to LMK if it does not work for you.

[2022-02-14 06:13] huangjincheng2022 opened #15565 "[Bug]: Miss default configerations of milvus limits when I install Milvus with Docker Compose"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://github.com/milvus-io/milvus/releases/download/v2.0.0/milvus-standalone-docker-compose.yml
Miss default configerations of milvus limits when I install Milvus with Docker Compose
In my test case, the number of field in a collection should be limited to 256.

###

[2022-02-14 06:18] nibrag commented on #15560
@yhmo the problem happens when I use theading. And it returns this kind of result `id=140422143807088, distance=3.0828566215145976e-44`
But, I don't have vector with ID=140422143807088

[2022-02-14 06:19] skye95git commented on #15538
When you release, give me a reply, thank you!

[2022-02-14 06:33] skye95git commented on #15538
It works normally after adding `collection.num_entities` before load, thank you!

[2022-02-14 06:47] yanliang567 commented on #15565
@LoveEachDay could you please help on this issue.

/assign @LoveEachDay
/unassign

[2022-02-14 07:10] BorisPolonsky opened #15570 "[Bug]: Milvus-2.0.0 installation with helm fails due to invalid service name"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I tried to install milvus-2.0.0 following the official document and save the chart as archive for later use. The installation fails upon `helm install` command.

### Expected Behavior

`helm install` should work.

### Steps To Reproduce

[code]
2. Install milvus
`helm

[2022-02-14 07:15] LoveEachDay commented on #15570
You should not use `.` in release name. Try `helm install milvus-2-0-0 milvus/milvus` instead.

[2022-02-14 07:15] jennyli-z commented on #15570
Try to change the release name without `.` like `helm install milvus-2 milvus/milvus`?

[2022-02-14 07:20] xiaofan-luan commented on #15570
/assign @LoveEachDay

[2022-02-14 07:25] #15565 closed

[2022-02-14 07:32] LoveEachDay commented on #15570
/unassign
/assign @BorisPolonsky

[2022-02-14 07:50] BorisPolonsky commented on #15570
Thanks for the clarification. You may also wish to alternate terminology `release` in [official document](https://milvus.io/docs/v2.0.0/install_cluster-helm.md).
[code]
For users not familiar with helm (e.g. me), `replace my-release` means copy and paste the title in release page.

[2022-02-14 07:50] #15570 closed

[2022-02-14 07:58] zhaocc1106 commented on #15038
Have new fix solution?

[2022-02-14 08:26] LoveEachDay commented on #15570
Thanks for your advice. We'll add a note for release name like below:
[code]

[2022-02-14 08:50] DragonDriver commented on #15439
@Peddle Hello, what's version of the Milvus you used?

[2022-02-14 09:58] zhuwenxing opened #15573 "[Bug]: Datanode panic after compact when entityExpiration is set to 120s"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

`my-release-milvus-datanode-5d49fcf5c7-bqwdm         0/1     CrashLoopBackOff   8          64m`

log：
[code]

### Expected Behavior

all work well

### Steps To Reproduce

[code]

### Anything else?

[test-auto-expiration.zip](https://github.com/milvus-io/milvus/files

[2022-02-14 09:58] zhuwenxing commented on #15573
/assign @XuanYang-cn

[2022-02-14 10:00] skye95git commented on #15538
Among the results returned by vector search, is the smaller the distance, the more similar？

If yes, why is the larger the distance in the text search demo example, the more similar it is?
<img width="814" alt="微信图片_20220214175918" src="https://user-images.githubusercontent.com/41561936/153842137-e77436f3-e627-4ea1-b5c3-eceeaa68cb8d.png">

[2022-02-14 10:01] zhuwenxing commented on #15573
output in step 4:
[code]
output in step 5:
[code]

[2022-02-14 11:16] zhuwenxing commented on #15573
The segment is [] because the collection is not loaded

[2022-02-14 11:37] zhuwenxing commented on #15573
6. insert data and flush
in step 6, datanode will crash.

[2022-02-14 12:34] astar10239 commented on #7219
Hi,

I am also facing the same, even after restart its not working.

Also i am not able to load the old index on memery

[2022-02-14 12:56] DragonDriver commented on #15439
@Peddle Hello, the Milvus version you used was too old. We released GA version before 2022.01.31 and you can try this version to check if above problems exist again.

[2022-02-14 16:29] ufuk23 commented on #15536
@yanliang567, @xiaofan-luan, thanks for the answers. I wonder about how to decrease disk usage. I deleted some insert_log files thinking they were unnecessary logs, but the data was affected and could never be searched again. Then I learned that I shouldn't do it again :) I think I can manipulate the milvus.yaml config file to remove log files for a short period. Which parameter is used to do it?

[2022-02-14 17:05] Mercurialll opened #15574 "[Bug]: fatal error: unexpected signal during runtime execution"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus unpredictable exits docker container while ANN searching. I tried around 10 times, always different quantity of searches is needed to milvus be exited. On average after ~200 consequtive searches milvus will be exited.
Each search spends around 0.2sec.

### Expe

[2022-02-14 17:06] Mercurialll commented on #15574
[milvus.log](https://github.com/milvus-io/milvus/files/8062610/milvus.log)

[2022-02-14 17:36] xiaofan-luan commented on #15574
very nice issue with detailed infomation, thanks @Mercurialll

[2022-02-14 17:38] xiaofan-luan commented on #15574
/assign @cydrain could you verify is this is the same dore dump issue?

[2022-02-14 19:00] Mercurialll commented on #15574
Also while I was testing, I got this errors with the same reproduce steps:
1. `[signal SIGSEGV: segmentation violation code=0x1 addr=0xffffffffffffffff pc=0x7f6d7b56b2d7]`
2. `free(): invalid next size (fast) ; SIGABRT: abort ; PC=0x7ff0f144bfb7 m=4 sigcode=18446744073709551610`
3. smth about `unsigned long < ...` . Didnt copy this unfortunately and now I cant find this.

[2022-02-15 01:21] Peddle commented on #15439
Hi DragonDriver. You're correct looks like when we went to reproduce the issue to supply full logs we accidentally used an older build. We're working on reproducing again with latest: `milvusdb/milvus:v2.0.0`. Shall I send this log to zhenshan.cao@zilliz.com again when available or to a different email?

Thanks

[2022-02-15 01:25] yanliang567 commented on #15574
/assign @cydrain
/unassign

[2022-02-15 01:33] yanliang567 commented on #15536
@ufuk23 thank you for your feedback. We really understand that the memory usage is crucial for everyone. Did you try any indexes for your vectors? For examples, if using ivf_sq8, the memory usage shall theoretically decrease to ~30%.

[2022-02-15 01:50] DragonDriver commented on #15439
@Peddle You can send log to my email jiquan.long@zilliz.com too next time you meet the same problem. Of course, in fact you can directly attach the log file in this issue so that everyone in the community can help you to solve the problem.

[2022-02-15 02:10] xiaofan-luan commented on #15536
Hi uf, one thing you could do is to list all the directory and check which on consumes most of the data, then I will give more advice about how to decrease datasize.

For the memory consumption, use SQ8 or PQ will significantly decrease the memory usage, please give a try.

Finally, we will try our best to keep Milvus 2.0 compatible and sorry for the trouble between 1.0 and 2.0. We changed the cod

[2022-02-15 02:11] xiaofan-luan commented on #15443
Any etcd version recommended? @scipe

[2022-02-15 02:50] hadisi opened #15575 "[Bug]: Error: failed to open database: Can't construct MySQL connection. Possible reason: out of storage, meta schema is damaged"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Welcome to use Milvus!
Milvus Release version: v1.0.0, built at 2021-03-04 06:43.00, with OpenBLAS library.
You are using Milvus CPU edition
Last commit id: 21ea92ec7e57ab00cca671d74195c4eaa81869a2

Loading configuration from: /var/lib/milvus/conf/server_config.yaml
S

[2022-02-15 02:51] #15478 closed

[2022-02-15 03:17] LoveEachDay commented on #15536
These are settings for message queue of milvus standalone :
[code]
You can modify those `retentionTimeInMinutes` and `retentionSizeInMB` two options to decrease disk usage.

[2022-02-15 03:22] yhmo commented on #15560
Ok, I got it. This is a bug of search combine machinery.
When a client use multi-threads to search, or multi-clients search at the same time, Milvus will combine these search requests into one to be executed. This behavior is to improve search performance for heavy load.
If there were 10 search requests were combined, and topk=100, the DB core will return 10*100 results, then the combine machinery

[2022-02-15 03:42] hadisi commented on #15575
一个机器有多个IP，管理网IP，应用层IP，等等

[2022-02-15 03:45] hadisi commented on #15575
A、B都是集群内部机器，有多个IP，管理王IP，应用层IP等等。集群内部只能通过应用层IP访问，就是A172.20.90.142和B172.22.93.91这两个是应用层IP 。

[2022-02-15 04:27] yhmo commented on #15575
先确认一下有没有创建一个叫 "milvus"的database，mysql客户端进入后 use milvus 看看。
如果有这么一个database，地址端口用户名密码都是对的，但是就是连不上，说实话我也比较费解。在milvus代码里使用的是一个叫msqlpp的第三方插件来连接mysql，连接代码就这几行：
[code]
在这个帖子里也是类似的问题，最后也是不了了之：https://github.com/milvus-io/milvus/issues/3768
我们自己测试的机器环境相对比较简单固定，用户环境中可能有一些我们也无法预知的问题，很难解答出来。可以通过实验的方式，比如换一台机器看看是否能连，如果能连的话，比较一下这两台环境有何不同。

[2022-02-15 04:39] hadisi commented on #15575
mysql> show databases;
+--------------------+
| Database           |
+--------------------+
| information_schema |
| milvus             |
| mysql              |
| performance_schema |
| sys                |
+--------------------+
5 rows in set (0.01 sec)

[2022-02-15 04:44] hadisi commented on #15575
172.21.244.178  和  172.21.244.178，这两台虚拟机可以。虚拟机之间， 不同点，他们们只有一个ip。

[2022-02-15 04:49] hadisi commented on #15575
mysql> show databases;
+--------------------+
| Database |
+--------------------+
| information_schema |
| milvus |
| mysql |
| performance_schema |
| sys |
+--------------------+
5 rows in set (0.01 sec)

172.21.244.178 和 172.21.244.178，这两台虚拟机可以。每台虚拟机只有一个IP，和上面物理机不同点，就是每台物理机有多个ip。而且我查了mysql日志，发现用mysql客户端连接，日志有连接信息。而milvus连接mysql，mysql日志里面，没有记录。

[2022-02-15 06:08] yhmo commented on #15575
看milvus的error.log里有没有“Failed to connect to database server”这样的句子

[2022-02-15 06:09] hadisi commented on #15575
你吧mysqlpp第三方插件的详细信息给一下，版本号等等，我安装一下，本地测试一下。

[2022-02-15 06:18] #15544 closed

[2022-02-15 06:19] hadisi commented on #15575
[2022-02-15 14:18:21,190][ERROR][ENGINE][create][milvus_server] Failed to connect to database server: Can't connect to MySQL server on '172.20.90.142' (110)

[2022-02-15 06:20] xiaofan-luan commented on #15544
I love the solution, looks very clean.
My suggestion of next step would be adding some leakage check make sure all the lease is freed in a fixed time period.
The lease id might be number related to physical timestamp, that make more sense to me

[2022-02-15 06:25] haorenfsa commented on #7700
Anyone willing to contributing to this issue is welcomed to join our [slack channel](https://app.slack.com/client/TM98LD8DQ/C032WUEDNSF/thread/C032WUEDNSF-1644824306.745679)
we'll talk about details there @parshnt

[2022-02-15 06:45] yhmo commented on #15575
mysqlpp是这个版本：
MYSQLPP_VERSION=3.2.4

[2022-02-15 06:46] JamCrash opened #15576 "[Bug]: proxy Failed to post-execute task"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[2022/02/15 06:43:24.470 +00:00] [WARN] [impl.go:2204] ["Search failed to WaitToFinish"] [error="proxy TaskCondition context Done"] [traceID=5aa5095b730b6a5e] [role=proxy] [msgID=431201121061984015] [db=] [collection=tiki] [partitions="[_default]"] [dsl=] [len(Placeho

[2022-02-15 07:02] hadisi commented on #15575
谢谢哈。微信群里有个小龙的大神，已经指点了，给出了答案。因为我的防火墙没有开启，导致docker内部和外面的网络不通。已经可以了。

[2022-02-15 07:07] #15496 closed

[2022-02-15 07:13] wh201906 opened #15578 "[Bug]: Unused demo link in README"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The [demo link](https://zilliz.com/milvus-demos) in the README returns 404 now.

### Expected Behavior

The link should refer to a proper demo website.

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-02-15 07:24] #15575 closed

[2022-02-15 07:25] hadisi commented on #15575
因为我的防火墙没有开启，导致milvus容器内部和外面的网络不通。已经可以了。

[2022-02-15 07:47] ufuk23 commented on #15536
@LoveEachDay Thanks. I don't know why the retentionTime is set for 7 days as default, isn't it just an insert_log message? I changed the defaults for log configs in my 'milvus.yaml' file which is pointed to as a docker volume file.

@yanliang567, @xiaofan-luan I used the IVF_SQ8 and it seems better than IVF_FLAT. The disk usage is reduced by half. Any disadvantage with ivf_sq8? We assume that the

[2022-02-15 08:03] nameczz commented on #15207
@JackLCL In Attu, after insert data,  we will use async flush to flush data.  So it may take some time to update the entity count in Attu.

[2022-02-15 09:04] wangting0128 opened #15583 "[Bug]: [benchmark][cluster] When inserting and querying, the response time of the interface is getting longer and longer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod: benchmark-tag-xwtx2-71121370

client data: [1644808606]
<img width="1827" alt="截屏2022-02-15 17 03 24" src="https://user-images.githubusercontent.com/26307815/154028357-35691dd2-7793-4ac6-935e-39e731c98167.png">

<img width="1859" alt="截屏2022-02-15 17 03 37

[2022-02-15 09:13] wangting0128 opened #15584 "[Bug]: [benchmark][standalone] Concurrent query of Milvus Standalone for a period of time, the memory of Milvus Standalone gradually increases"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus monitor:
**Memory of Milvus Standalone increased by nearly 1G**

<img width="1841" alt="截屏2022-02-15 17 10 53" src="https://user-images.githubusercontent.com/26307815/154029714-5931a72c-64b1-4ec1-be50-b2b1fba9525a.png">
<img width="1841" alt="截屏2022-02-15 17 11

[2022-02-15 09:19] ufuk23 commented on #15536
I tried 110.000 entities that contain 2048 float vectors with IVF_SQ8. When I use the advanced search with a vector and pk list (containing 100.000 ids) Milvus standalone crashes with the following log.

![milvus2](https://user-images.githubusercontent.com/8513827/154030308-925775c1-a0c4-46d5-828f-390bf76ccbf6.png)

github.com/milvus-io/milvus/internal/util/flowgraph.(*nodeCtx).collectInputMessage

[2022-02-15 09:42] huangjincheng2022 commented on #15469
<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40">
<head>

<meta name=Generator content="Microsoft Excel">

<style>

</style>
</head>
<body>

trace case | Delete note
-- | --
TestCollectionCount:test_count_without_connection Deleted | not supported in 2.0 interface

[2022-02-15 09:56] jaime0815 opened #15585 "[Bug]: Brute force search core dump on Mac OS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Run Milvus with standalone mode, then run hello_milvus.py, the core dump will happen.

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-02-15 10:12] soothing-rain commented on #15585
Temporarily disabling OMP in brute search (Mac Only) as a quick fix:
https://github.com/milvus-io/knowhere/pull/62

This might be worth investigating: https://www.higithub.com/scikit-learn/issue/scikit-learn/22105

[2022-02-15 11:04] yanliang567 commented on #15578
/assign @wh201906
/unassign

[2022-02-15 11:05] yanliang567 commented on #15576
@xige-16 could you please help on this issue?
/assign @xige-16
/unassign

[2022-02-15 11:41] scipe commented on #15443
@xiaofan-luan we planned to upload 200M (with metadata) vectors on next week. So I can not say smth about my version of etcd. So far its works.

[2022-02-15 11:44] zhuwenxing opened #15589 "[Enhancement]: Fix assertions in testcases test_search_index_partitions and test_search_ip_index_partitions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Fix assertions in testcases test_search_index_partitions and test_search_ip_index_partitions

### Why is this needed?

[code]
When Milvus is running properly, this assertion may still fail

### Anything else?

_No response_

[2022-02-15 11:46] xiaocai2333 commented on #15418
maybe similar with # 14918， please check your DataCoord GC config. @sroshkul

[2022-02-15 11:50] sroshkul commented on #15418
We did not change it - default 2.0.0 Helms files were used.
However,
What should we look there? What should be there or should not?

[2022-02-15 12:20] xiaocai2333 commented on #15418
<img width="920" alt="image" src="https://user-images.githubusercontent.com/46207236/154060643-fe8574cb-89f7-410f-99ba-41ff0c31f97f.png">

internal should less than dropTolerance.

[2022-02-16 01:17] yanliang567 commented on #15538
it depends on the definition of distance, it is the closer to 1.0, the more similar, if using "IP" distance.

[2022-02-16 01:25] yanliang567 commented on #15546
Added to 60s timeout for this request

[2022-02-16 01:25] #15546 closed

[2022-02-16 02:02] LoveEachDay commented on #15265
Fix in PR #15588

[2022-02-16 02:02] #15265 closed

[2022-02-16 02:05] yhmo commented on #15038
Nope, you can temporarily use your lock patch to avoid the crash.

[2022-02-16 02:07] czs007 opened #15592 "[Enhancement]: milvus adds more prometheus monitoring information"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Monitoring some key indicators of the system through Prometheus can provide good observation data information for troubleshooting system problems and system performance tuning.

- [ ] Add Prometheus for RootCoord
- [ ] Add Prometheus for QueryCoord
- [ ] Add Prometheus for Dat

[2022-02-16 02:08] cydrain commented on #15574
@Mercurialll

[2022-02-16 02:22] skye95git commented on #15538
[code]

[2022-02-16 02:28] skye95git commented on #15538
But in your example [bootcamp](https://github.com/milvus-io/bootcamp)/[solutions](https://github.com/milvus-io/bootcamp/tree/master/solutions)/[text_search_engine](https://github.com/milvus-io/bootcamp/tree/master/solutions/text_search_engine)/text_search_engine.ipynb, "L2" distance is used.
<img width="613" alt="微信图片_20220216102412" src="https://user-images.githubusercontent.com/41561936/15418459

[2022-02-16 02:42] skye95git commented on #15538
Whether the `metric_type` in `search parameters` and `metric_type` in `index parameter` need to be consistent?

[2022-02-16 03:03] wangting0128 commented on #15523
argo task: benchmark-cluster-cron-1644958800

test yaml:
client-configmap:client-search-filter-sift50m-ivf-flat-2048,instanceId:5,server-configmap:server-single-16c64m

server:
[code]

client pod: benchmark-cluster-cron-1644958800-1431389577

client logs:
[code]

[2022-02-16 03:58] skye95git commented on #15538
In the example [bootcamp](https://github.com/milvus-io/bootcamp)/[solutions](https://github.com/milvus-io/bootcamp/tree/master/solutions)/[text_search_engine](https://github.com/milvus-io/bootcamp/tree/master/solutions/text_search_engine)/text_search_engine.ipynb, the raw data is stored using PostgreSQL. But my original data was closer to 100 million. It is not feasible to store them in a table. C

[2022-02-16 04:08] wangting0128 opened #15593 "[Bug]: [benchmark][cluster] For concurrent queries of Milvus Cluster, the memory of the proxy component gradually increases"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

proxy memory:
<img width="1373" alt="截屏2022-02-16 12 08 24" src="https://user-images.githubusercontent.com/26307815/154194455-919956dd-ed19-4a00-ac9f-a35e0da306a9.png">

### Expected Behavior

argo task: benchmark-concurrent-6nf96

test yam:
server-configmap: server-c

[2022-02-16 04:57] zhuwenxing opened #15594 "[Enhancement]: Update cluster-values.yaml for deploy test and chaos test duo to pulsar upgrade"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Update cluster-values.yaml for deploy test and chaos test because of pulsar upgrade

### Why is this needed?

can't deploy cluster Milvus with current cluster-values.yaml

### Anything else?

_No response_

[2022-02-16 07:40] Mercurialll commented on #15574
Hi @cydrain ! Yes, I have negative IDs in collections, because my IDs are UINT64, but milvus supports only INT64, so we decided to "convert" UINT64 -> INT64 by subtracting 2 ** 63. Is it a problem that I have negativies IDs in collections?

[2022-02-16 07:54] zhaocc1106 commented on #15038
Is there a plan to fix it?
In addition, will 1.x.x version support "on disk index"?

[2022-02-16 08:10] cydrain commented on #15574
Hi @Mercurialll , it's ok.
Can you give me your script to reproduce this issue?

[2022-02-16 09:25] Mercurialll commented on #15574
[requirements.txt](https://github.com/milvus-io/milvus/files/8078497/requirements.txt)

[2022-02-16 11:35] #15589 closed

[2022-02-16 14:32] czs007 commented on #15544
I suggest add Reset to replace Release and change Release to  delete lease from sync.Map but do not free the underling c Pointer.
Just like release and reset of unique_ptr.

[2022-02-17 01:55] xiaofan-luan commented on #15536
We need to investigate on that, my feeling is you specified a very large id list and cause the issue. If you can range the ids, for example 5< pk <10 that make more sense to me.

[2022-02-17 01:59] xiaofan-luan commented on #15536
@yanliang567 could you help on verifying on that?
I doubt search with large PK id won't work

[2022-02-17 02:38] yhmo opened #15604 "[Feature]: Bulk load data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Typically, it cost several (5~6) hours to insert one billion entities with 128-dimensional vectors. We need a new interface to do bulk load for the following purposes:

1. import data from JSON format files. (first stage)
2. import data from Numpy

[2022-02-17 02:54] soothing-rain commented on #14888
/assign @godchen0212

[2022-02-17 03:09] wangting0128 commented on #15523
argo task: benchmark-cluster-cron-1645045200

test yaml:
client-configmap:client-search-filter-sift50m-ivf-flat-2048,instanceId:5,server-configmap:server-single-16c64m

server:
[code]

client pod: benchmark-cluster-cron-1645045200-1435916411

client logs:
[code]

[2022-02-17 03:19] zoujialong9012 opened #15607 "[Feature]: arm64 鲲鹏服务器需求"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

鲲鹏arm服务器需求移植milvus

### Describe the solution you'd like.

参考
https://github.com/zoujialong9012/milvus/tree/v2.0_aarch64

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

_No response_

[2022-02-17 03:24] LocoRichard opened #15608 "[Bug]: Releasing an empty partition hanged"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Create a new empty partition (success)
2. Load the empty partition (success)
3. Release (hanged)

### Expected Behavior

Release successfully

### Steps To Reproduce

1. `collection.create_partition("novel")`
2. `collection.load(["novel"])`
2. `collection.release()