[2021-09-27 11:08] DragonDriver opened #8708 "Remove not used TaskDoneTest of proxy scheduler"
#### What would you like to be added:

I want to remove not used TaskDoneTest of proxy scheduler.

#### Why is this needed:

Old logic of time tick. Remove it to clear the logic of new time tick.

[2021-09-27 11:08] DragonDriver commented on #8708
/assign

[2021-09-27 11:30] #8691 closed

[2021-09-27 12:30] ThreadDao opened #8717 "Repeated class name in same module"
#### Steps/Code to reproduce:
There are two classes with the same name `TestQueryBase` in the test_query.py

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional co

[2021-09-27 12:51] matrixji commented on #7706
Currently working on compiling/running with Windows(MSYS), maybe later try with macOS (Apple Silicon)
/assign @matrixji

[2021-09-27 13:22] #6818 closed

[2021-09-28 01:28] xiaofan-luan commented on #6530
duplicate, similar to #7288

[2021-09-28 01:28] #6530 closed

[2021-09-28 01:32] xiaofan-luan opened #8725 "Refine Flow Graph Insert Buffer node"
#### What would you like to be added:
Flow Graph insert buffer node is where we handle all write logic.
Currently ,we maintain two structure, insertBuffer and flushBuffer
if insertBuffer is full,  we move it to flushBuf and flush in the background.

Code in flush path
![image](https://user-images.githubusercontent.com/83447078/135006244-f987f56d-49bd-45f4-8199-e086197c5fe9.png)

more background co

[2021-09-28 01:36] XuanYang-cn commented on #8725
see also #8058

[2021-09-28 01:37] xiaofan-luan commented on #8725
first part would be similar to this one  Minio resourece cleaning goroutinue while flush failed but not update on etcd yet. DataNode flush failed but data discarded #7397

[2021-09-28 02:25] #8676 closed

[2021-09-28 03:29] shanghaikid opened #8734 "Milvus standalone docker exit after running for days"
% tail -10000 standalone.log | grep ErrorCode                                                                                                                                                 [0]
[2021/09/24 11:15:34.760 +00:00] [WARN] [proxy.go:334] [sendChannelsTimeTickLoop.UpdateChannelTimeTick] [ErrorCode=UnexpectedError] [Reason="Skip ChannelTimeTickMsg from un-recognized proxy node 20"]
[2021/

[2021-09-28 03:47] XuanYang-cn commented on #8725
I'm working on #7397 now.

4 is true, will be handled along with #7397

This amend will make flush truly async, retriable, and minio resources properly handled.

----

3 will be the next one to handle with.

---

#7313 needs to settle down a more mature design.

[2021-09-28 03:49] 24king commented on #7260
can anyone do some help for this problem，get the same error.

[2021-09-28 04:10] yhmo commented on #8637
@zhuwenxing
Create alias "a" on collection_1 twice, throw "duplicate alias" also make sense. How do you think?

[2021-09-28 06:07] congqixia opened #8742 "Flowgraph may have goroutine leak when closing"
When closing `flowgraph`, some node may running into a corner case that its downstream is closed but it's still trying to send a msg into channel. Then this goroutine can never quit.

See code below:
https://github.com/milvus-io/milvus/blob/0e767f0e1b6d2f644d493c929fbef94f788d6ebd/internal/util/flowgraph/node.go#L114-L124

[2021-09-28 06:16] zhuwenxing commented on #8614
/assign @lsgrep

[2021-09-28 06:17] zhuwenxing commented on #8614
@lsgrep Please take a look

[2021-09-28 06:28] ThreadDao commented on #7905
It works. I verified on Milvus `master-20210928-ed4421d`. So close this issue fitst.

[2021-09-28 06:28] #7905 closed

[2021-09-28 06:33] 24king commented on #7260
After review some code, I am sure we need to wait some time before the milvus 2.0 to become reliable.

[2021-09-28 06:48] lsgrep commented on #8614
Ok

[2021-09-28 06:58] congqixia opened #8750 "Datarace in RmqConsumer"
#### Steps/Code to reproduce:
Run unit test in Proxy

#### Expected result:
Unit test passed

#### Actual results:
Unit test failed with DATA RACE

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): d3d630e
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional

[2021-09-28 07:36] yanliang567 commented on #8614
/assgin @lsgrep

[2021-09-28 07:47] DragonDriver opened #8757 "Trace log catch the wrong file name and line number"
#### Steps/Code to reproduce:

1, compile milvus;
2, start 3rd service;
3, start milvus cluster in local pc with opentracing enable;
4, create collection->insert->create index ->search;

open localhost:16686 to browse jaeger ui,
pick an span, you will find the log of span record the wrong file name and line number;

#### Expected result:

The log of opentracing span record the correct file name an

[2021-09-28 07:47] DragonDriver commented on #8757
/assign

[2021-09-28 07:48] JamCrash commented on #8109
Has this problem been solved？

[2021-09-28 08:07] godchen0212 commented on #8702
I try to reproduce this problem locally, but it seems work well.
![20210928-160621](https://user-images.githubusercontent.com/67679556/135048440-c2a06925-074d-4dc4-806c-67f6d07ab670.png)

[2021-09-28 08:18] XuanYang-cn opened #8761 "Add a flush signal channel for delete node"
/assign

[2021-09-28 08:35] godchen0212 commented on #8360
It may be the heavy load caused by channel multiplexing.
![20210928-160621](https://user-images.githubusercontent.com/67679556/135052877-86d5de74-b554-4f1b-8a23-d4e36254ed04.png)
reference to issue #8568

[2021-09-28 08:47] zhuwenxing opened #8764 "Set logs output in api_wrapper as optional"
#### What would you like to be added:
Add a param to control whether output the logs in api_wrapper
#### Why is this needed:
Sometimes, the logs in api_wrapper are tedious，somehow becoming a noise when analyzing the problem.

[2021-09-28 08:47] zhuwenxing commented on #8764
/assign @zhuwenxing

[2021-09-28 09:24] yhmo commented on #8679
/assign @lsgrep

[2021-09-28 09:26] XuanYang-cn commented on #8679
He needs to comment on this issue so that the robot can assign him

[2021-09-28 09:28] zhuwenxing commented on #8679
@lsgrep  Please take a look

[2021-09-28 09:28] lsgrep commented on #8679
OK

[2021-09-28 09:47] congqixia opened #8775 "GetPersistentSegmentInfo log is too large"
https://github.com/milvus-io/milvus/blob/6d1374209ac06fbf3f2fbea68b88c485ae37b327/internal/proxy/impl.go#L2100-L2106

See code above, the log will print all segment info but not all fields is meaningful in this API.
When segment number is huge, the log will be messy and unreadable.

[2021-09-28 10:14] godchen0212 opened #8778 "Fix chunk manager ci lint"
#### What would you like to be added:
Fix chunk manager ci lint.
#### Why is this needed:
Improve code quality.

[2021-09-28 10:22] wq1315 commented on #7260
@24king When will milvus 2.0 be released?

[2021-09-28 10:48] congqixia opened #8788 "Create Alias Ut fails occasionally"
#### Steps/Code to reproduce:
Run unit test in

#### Expected result:
Unit tests pass

#### Actual results:
UT occasionally fails at TestProxy/create_alias

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional

[2021-09-28 11:59] chenchuangc opened #8797 "is milvus support filter first then calculate the Inner product"
###  my use situation
i want use milvus as the calculate engine.
follow the steps :
1. filter the vector doc by ids , about 10k ids
2. calculate the Inner product  of  the 10k vector  and the request vector
3. return to top1000

can i use milvus to implement it ?

英语不太好，用汉语注释一下
### 使用场景
milvus是否支持先过滤后计算相识度
我想使用milvus来做双塔粗排
1. 需要先过滤10000个id,
2. 然后在1w个过滤后的结果使用向量的相识度计算（请求中会携带向量）
3. 召回率需要是100%

麻烦问一下m

[2021-09-28 14:22] wangting0128 opened #8803 "[benchmark][cluster] rootcoord crash : panic: runtime error: invalid memory address or nil pointer dereference"
#### Steps/Code to reproduce:
argo task: benchmark-bw8pk

test yaml:
[code]

[benchmark-bw8pk-1-milvus-rootcoord-b497998d-84k5d.log](https://github.com/milvus-io/milvus/files/7244858/benchmark-bw8pk-1-milvus-rootcoord-b497998d-84k5d.log)

server deployment:
[code]

[code]

client pod: **benchmark-bw8pk-1169485829**

client log:
[code]
#### Expected result:

#### Actual results:
Deploy milvus with

[2021-09-28 21:48] parshnt commented on #7700
hi @xiaofan-luan, I would like to work on the feature. can you assign it to me.

[2021-09-29 01:34] yanliang567 commented on #8702
@wangting0128  please keep an eye on recent run results, we'd like to close it if not reproduced any more.

[2021-09-29 01:57] yhmo commented on #8614
@zhuwenxing Already fixed by #8780, please verify it in latest build.

[2021-09-29 01:58] yhmo commented on #8679
@zhuwenxing Already fixed by #8780, please verify it in latest build.

[2021-09-29 01:59] DragonDriver opened #8818 "Use WaitGroup to make sure all uts of proxy completed"
#### What would you like to be added:

I want to use WaitGroup to make sure all uts of proxy completed.

#### Why is this needed:

Improve the stability of ut.

/assign

[2021-09-29 02:20] congqixia commented on #8803
This bug is caused by a known issue of pulsar sdk. Try to have a workaround before next pulsar sdk having a new release.

https://github.com/apache/pulsar-client-go/pull/576

[2021-09-29 02:35] sicklife opened #8822 "syncTimeStamp Failed when list_collections"
#### Steps/Code to reproduce:
from pymilvus import (
    connections, list_collections,
    FieldSchema, CollectionSchema, DataType,
    Collection
)

def hello_milvus():
    # create connection
    connections.connect(host='172.21.32.15', port='31626', )

    print(f"\nList collections...")
    print(list_collections())

hello_mivlus()

#### Expected result:

list all collections

#### Actual res

[2021-09-29 02:35] zhuwenxing commented on #8614
Verified and passed

[2021-09-29 02:35] #8614 closed

[2021-09-29 02:48] XuanYang-cn opened #8824 "code = Canceled desc = grpc: the client connection is closing""
#### Steps/Code to reproduce:
[code]

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-8767/1/pipeline

/assign

[2021-09-29 02:51] xiaofan-luan commented on #8822
Hi sicklife ,  can you offer use detailed logs? that will be really helpful

[2021-09-29 02:52] xiaofan-luan commented on #7700
/assign @parshnt

[2021-09-29 02:53] binbinlv commented on #8360
It repros on last night's nightly:
https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/161/

Standalone:
[code]

Cluster:
timeline:
[code]

@godchen0212  could you please investigate it again? Thanks.

[2021-09-29 02:54] xiaofan-luan commented on #7700
Welcome  to the community parshnt! you may want to write some MEP before start coding and we can have a deep discussion on techmeeting, see previous enhancement plan at https://wiki.lfaidata.foundation/pages/viewpage.action?pageId=43287103

[2021-09-29 02:58] xiaofan-luan commented on #7700
Anyone wanna to join parshnt is also welcomed~

[2021-09-29 02:59] godchen0212 commented on #8360
The hang this time is different from the previous problem, the previous problem has been solved by another issue. This issue will continue to be followed up.

[2021-09-29 03:01] binbinlv commented on #8360
OK, great, thanks.

[2021-09-29 03:07] #8818 closed

[2021-09-29 03:13] xiaofan-luan commented on #7706
@matrixji how is it going? any help wanted?

[2021-09-29 03:16] xiaofan-luan commented on #8797
So it's like query by id , and search specified vector among queried result?

[2021-09-29 03:28] xiaofan-luan commented on #8797
I believe calc distance api is what you need.
It can calculate distance from specified vectors to vectors specified a id list, please check pymilvus API

[2021-09-29 03:35] claireyuw opened #8829 "Differentiate tech docs and design docs labels"
#### What would you like to be added:
Use labels such as `kind/design-docs` and `kind/tech-docs` to differentiate doc related issues.
Maybe also add `doc-no-change`, `doc-error`, `doc-update`, `doc-new` and such to indicate specific doc requests.

#### Why is this needed:
This makes it easier to identify doc requests and also helps remind engineers of involving documentation in the design process.

[2021-09-29 03:35] claireyuw commented on #8829
/assign @xiaofan-luan

[2021-09-29 03:39] xiaofan-luan commented on #8829
done, I just separate it by kind/developer-doc and kind/user-doc

[2021-09-29 03:41] #8829 closed

[2021-09-29 03:42] matrixji commented on #7706
Compiling on windows is done locally, but this whole change is pretty LARGE, so I'd like to split it with several PRs for review. like first part #7853
Meanwhile, I still have not finished hello_milvus with milvus.exe under Windows, so I'm using my branch [windows-dev](https://github.com/matrixji/milvus/tree/windows-dev) to keep rebase from `milvus:master` for local investigation.

[2021-09-29 03:43] xiaofan-luan opened #8830 "Integrate diskANN with milvus"
#### Is your feature request related to a problem? Please describe:
DiskANN is  a Graph based indices for approximate nearest neighbor search open sourced  by microsoft.

see details at https://github.com/microsoft/DiskANN

#### Describe the solution you'd like:
I want to integrate diskANN to milvus thus we can have some type of hybrid index for billion vector case. any one intereted?

[2021-09-29 05:10] yanliang567 opened #8836 "get SIMD type should return the simd type that Milvus is running agaisnt in GetMetrics"
#### Steps/Code to reproduce:
sys_info = handler._stub.GetMetrics(req, wait_for_ready=True, timeout=None)
nodes = json.loads(sys_info.response).get('nodes_info')
querynode.get('infos').get('system_configurations').get('simd_type')

#### Expected result:
get('simd_type') should return the simd type that Milvus is running against

#### Actual results:
it returns 'auto', which is the configuration of

[2021-09-29 05:14] yanliang567 opened #8837 "Occasionally failed to deploy Milvus with global.cluster.enabled=true"
#### Steps/Code to reproduce:
1, deploy Milvus 2.0 cluster with global.cluster.enabled=true
1.1 which means pulsar, minio and etcd are cluster mode as well

#### Expected result:
deploy successfully

#### Actual results:
sometimes it fails due to the pulsar cluster is not ready.
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): master-20210929-9e19488
- Deployment mode(standa

[2021-09-29 05:15] yanliang567 commented on #8837
One of the workarounds is helm uninstall and helm install again

[2021-09-29 05:24] yanliang567 opened #8838 "Flush hang with global.cluster.enabled=true"
#### Steps/Code to reproduce:
1. deploy Milvus cluster with global.cluster.enabled=true (pulsar, etcd, minio are cluster as well)
2. run pytest test_e2e.py::TestE2e::test_milvus_default

#### Expected result:
pass

#### Actual results:
it hang in flush
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): master-20210929-9e19488
- Deployment mode(standalone or cluster): cluster
-

[2021-09-29 06:25] lsgrep commented on #8679
I think #8780 only solves the half of the problem, I will create another PR to disable dropping collection via `alias`.

[2021-09-29 06:26] bigsheeper commented on #6726
/assign @yanliang567
#8765 have been merged, need to verify after fixed

[2021-09-29 06:27] bigsheeper commented on #6726
/unassign

[2021-09-29 06:31] DragonDriver commented on #8836
working on this
check if we can get the simd type when the value is set to `auto`

[2021-09-29 06:32] DragonDriver commented on #8836
[code]

[2021-09-29 06:33] bigsheeper commented on #7022
/assign @wangting0128
/unassign
#8765 have been merged, it gets a cacheSize param from ENV or config, which would prevent loading collection if collection beyonds the memory limit. If the loading operation timeout instead of server unavailable, it means #8765 worked.

[2021-09-29 06:36] DragonDriver commented on #8836
So when we set simd type to auto, in fact we set `avx12`, `avx2`, `sse` both. Then we called `faiss::hook_init`.
I will take a look at `faiss::hook_init`.

[2021-09-29 06:49] godchen0212 commented on #8360
It is caused by the crash of proxy. The status is assigned before the result is constructed.
I will track the cause of this error. The hang problem may be sovled.

[code]

[2021-09-29 06:58] binbinlv commented on #8360
@godchen0212
Ok, I will keep tracking.

[2021-09-29 07:05] congqixia commented on #8803
/reopen
/assign @wangting0128
Could you please verify whether bug fix works?

[2021-09-29 07:22] yanliang567 commented on #8837
it was fixed with the private helm repo, which would be merged into mater today.

[2021-09-29 07:22] #8837 closed

[2021-09-29 07:23] yanliang567 commented on #8838
it was fixed in the private helm repo, which would be merged tonight.

[2021-09-29 07:23] #8838 closed

[2021-09-29 08:32] godchen0212 commented on #8360
After the above question is over, Proxy restart. Python sdk call *num_entities* method send *getPersistenceInfo* requests continuously till the end.
![WechatIMG41](https://user-images.githubusercontent.com/67679556/135232295-a81d8599-6523-4475-a58f-162d20750180.jpeg)
The DataNode may have encountered a pulsar problem leading to the failure of flush.
![1632904293698](https://user-images.githubuserc

[2021-09-29 08:40] XuanYang-cn commented on #8824
The grpc connection failed between proxy and root, even though proxy reconnected to root soon, proxy still returns the error it received back to SDK, caused this error.

[code]

[2021-09-29 08:48] XuanYang-cn commented on #8824
/assign @czs007
/unassign

[2021-09-29 09:30] nameczz opened #8867 "collectionID param in DescribeCollection / ShowPartitions is not working"
#### Steps/Code to reproduce:
1. Create collection and get this collection id
2. Only pass collectionID: xxx in DescribeCollection / ShowPartitions
3. Call function

#### Expected result:
DescribeCollection success.
ShowPartitions success

#### Actual results:
Throw 'Collection name should not be empty' error

#### Environment:
- Milvus version( v2.0.0-RC6)
- standalone

#### Configuration file:

[2021-09-29 09:30] nameczz commented on #8867
/assign @cydrain

[2021-09-29 09:55] ArkaprabhaChakraborty commented on #7700
Yes I want to join him too.

[2021-09-29 10:00] wolfju opened #8876 "1000K of data is inserted in batches of 10 K , the program is executed normally, and there is a return id, but after the insertion is completed, the data volume of collection.entities is only 400K"
#### Steps/Code to reproduce:
1. I insert the vector data (dim  1024)  in  10k per batch  and i get 'id'  from function 'collection.insert()'
2. When the program is executed for 100 batches, and exit normally
3. But i run script (from milvus/bootcamp')    python3 main.py --collection shope_vec_test --rows' , the result is '  400000  ' , it still 400000 when i run script a few minutes

#### Expecte

[2021-09-29 10:17] XuanYang-cn commented on #8521
**https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-8833/2/pipeline**

[2021-09-29 10:17] XuanYang-cn commented on #8521
see also #8824

[2021-09-29 10:18] XuanYang-cn commented on #8521
#8400 is the same reason as #8824

[2021-09-29 10:26] zhuwenxing commented on #8521
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-8820/2/pipeline

same error message

[2021-09-29 10:31] xiaofan-luan commented on #7700
Welcome Arkaprabha!^_^

[2021-09-29 10:46] wolfju commented on #8876
and i search the columns  id == 999999 ,the result
![image](https://user-images.githubusercontent.com/22097367/135254117-aaccf127-405d-4446-983d-473f8a01d6f8.png)

[2021-09-29 11:02] XuanYang-cn commented on #8521
reasons

The grpc connection failed between proxy and root, even though proxy reconnected to root soon, proxy still returns the error it received back to SDK, caused this error.

[code]

/unassign @sunby
/assign @czs007

[2021-09-29 11:29] yanliang567 commented on #8734
/assign @czs007

[2021-09-29 11:30] congqixia opened #8887 "MsgStream consumer always subscribe to Earliest"
#### What would you like to be added:
Subscribe to the latest position when create consumer then seek to the correct position

#### Why is this needed:
A topic may become very large due to data size or a long running time period. Subscribe to the earliest position might cause unwanted cost.

[2021-09-29 11:37] DragonDriver opened #8890 "Injected msgstream trace don't record the correct file name and line number"
#### Steps/Code to reproduce:

same as #8757

#### Expected result:

Injected msgstream trace record the correct file name and line number.

#### Actual results:

Injected msgstream trace don't record the correct file name and line number.

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu o

[2021-09-29 11:37] DragonDriver commented on #8890
/assign

[2021-09-29 11:45] DragonDriver commented on #8890
Occaisionlly, not always.
I guess `runtime.FuncForPC` caused this issue.
Will fix this soon.

[2021-09-29 11:51] yanliang567 commented on #8379
sounds like similar to #7306.
Answer to Q1, it is by design for now, a pod will restart itself if it failed to connect to etcd service

[2021-09-29 12:20] #8742 closed

[2021-09-29 12:26] #8314 closed

[2021-09-29 14:27] XiaoConstantine commented on #6547
I m seeing the similar issue on production. Do we know what's the root cause of this issue?
[code]

[code]

[2021-09-29 17:53] wangting0128 opened #8900 "[benchmark][standalone] Milvus reports an error log when loading the collection: "LoadSegmentTask: loadSegment occur error""
#### Steps/Code to reproduce:
argo task: benchmark-zdb2k

test yaml:
[code]

server deploy:
[code]

client pod name: benchmark-zdb2k-2755873454

#### Expected result:

#### Actual results:

server error log:
[code]

grafana monitor:
<img width="1619" alt="截屏2021-09-30 上午1 51 33" src="https://user-images.githubusercontent.com/26307815/135322412-35717351-e625-4aeb-84b3-275614431d26.png">

#### Envir

[2021-09-29 22:58] #7146 closed

[2021-09-30 02:03] DragonDriver commented on #8836
fixed.
On my local pc, set to `auto` in `knowhere.yaml`, get `avx2` in metrics.
/assign @yanliang567

[2021-09-30 02:24] binbinlv commented on #8360
Update: the nightly CI last night did not hang.

[2021-09-30 02:38] DragonDriver opened #8910 "Split payload when the index file is too large"
#### What would you like to be added:

I want to split payload when the index file is too large. Split the index blob to serveral string when the blob is too large. Meanwhile, append serveral string to a whole blob when deserialize the binlog.

Does this broke the compatibility?
No, the index file is still in binlog format and the way to serialize and deserialize keeps compatible with the way that

[2021-09-30 02:57] binbinlv commented on #8360
So cancel the urgent label first, will close it after several days' verification.

[2021-09-30 03:25] #6563 closed

[2021-09-30 03:34] elfisworking opened #8917 "Developer Document having missing information which can make unit test fail"
#### What would you like to be added:
i want to add more information to guide new developer. Document url is https://github.com/milvus-io/milvus/blob/master/DEVELOPMENT.md
#### Why is this needed:
if i follow instructions completely, i will fail to do go test for losing container environment. But document does't tell us to open container before doing test. And in E2E test,  docker-compose.yml file

[2021-09-30 03:45] binbinlv opened #8920 "Search and insert timeout in nightly"
#### Steps/Code to reproduce:
Running nightly cases: [cluster]
https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-nightly-ci/branches/master/runs/164/nodes/12/steps/76/log/?start=0

Logs: [cluster]
https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/164/

Timeline:
[code]

#### Expected result:
No timeout

#### Actual results:
Running slow util time

[2021-09-30 03:49] mayunjie opened #8922 "V1.1.1 too many disk space occupied"
#### Steps/Code to reproduce:
1、create collection
2、insert 5 million datas， dim 16384， index_file_size 2048

#### Expected result:
occupy 5m*2046bytes = 10GB disk space

#### Actual results:
occupy more than 100G disk spce

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):1.1.1
- Deployment mode(standalone or cluster): both
- SDK version(e.g. pymilvus v2.0.0rc2):Java v1.1.1
- OS(Ubun

[2021-09-30 03:55] zwd1208 commented on #7925
@lordofdou  could you please attach the milvus configmap data

[2021-09-30 04:52] congqixia opened #8929 "Flush occasionally stuck when SaveBinlogPath fails"
#### Steps/Code to reproduce:
Insert and Flush repeatably

#### Expected result:
Flush done without error

#### Actual results:
Occasionally flush will hang when SaveBinlogPath fails

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): a7a6ff1
- Deployment mode(standalone or cluster): cluster
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

[2021-09-30 05:18] ArkaprabhaChakraborty commented on #7700
So any idea how do we start @parshnt ? Is there any IRC or slack channel that we can join to discuss our workflow?

[2021-09-30 06:23] lordofdou commented on #7925
Here is the configmap.
[code]

[2021-09-30 06:39] yanliang567 commented on #8836
verified fix on master-20210930-615f72b

[2021-09-30 06:39] #8836 closed

[2021-09-30 06:43] bigsheeper commented on #8900
Get `cacheSize` from ENV failed, so use the default `cacheSize` 32GB.
/assign @LoveEachDay
/unassign

[2021-09-30 06:45] parshnt commented on #7700
+1 to what @ArkaprabhaChakraborty asked

[2021-09-30 06:47] zwd1208 commented on #7925
@lordofdou  config for milvus looks like correct, can you be sure that milvus components can connect to all dependencies(etcd、s3、pulsar) ?

[2021-09-30 06:55] godchen0212 opened #8937 "Add AddBytesToPayload interface"
#### What would you like to be added:
AddBytesToPayload interface.

#### Why is this needed:
For golang, bytes to string will produce a copy.
For example, if a variable data := []byte{...}. The size of data is 1GB. And we transfer data to string using string(data). There will produce a copy of data. The memory usage is 2GB. If we use []byte directly, the overhead will be eliminated.

[Problem code

[2021-09-30 06:55] godchen0212 commented on #8937
/cc @czs007

[2021-09-30 07:43] yhmo commented on #7700
@ArkaprabhaChakraborty  @parshnt
Create a raw design document in [MEP](https://wiki.lfaidata.foundation/pages/viewpage.action?pageId=43287103) is a good start.
The title can be: **MEP 15 -- Support RESTful API for Milvus**

[2021-09-30 07:52] yhmo commented on #7374
Please try the RC6, the rc6 fix some hang issues for load process.

[2021-09-30 08:52] yhmo commented on #8922
I did some testing, but the milvus 1.1.1 didn't occupy so lot of disk space.
My test steps:
1. start a new milvus container
   `docker run -p 19530:19530 -p 19121:19121 milvusdb/milvus:1.1.1-cpu-d061621-330cc6`
2. go into the container:
   `docker exec -it [container id] bash`
3. in the container, run this command to continually print disk consume(unit:MB) of milvus db folder:
  `while true; do du

[2021-09-30 09:42] #8929 closed

[2021-09-30 09:50] #7258 closed

[2021-09-30 09:57] #8910 closed

[2021-09-30 10:02] yanliang567 opened #8970 "add tests to cover shards_num params in collection init"
we need to add some tests to cover shards_num when initializing a collection object.
so does to param using

[2021-09-30 10:10] LoveEachDay commented on #8900
fixed helm chart: https://github.com/milvus-io/milvus-helm/pull/235
/assign @wangting0128

[2021-09-30 10:10] LoveEachDay commented on #8900
/unassign

[2021-09-30 10:33] #8717 closed

[2021-09-30 10:33] #8519 closed

[2021-09-30 21:09] radpet commented on #5463
It's also affects rc6
![image](https://user-images.githubusercontent.com/13572835/135530435-afa63ff9-3c6f-420a-9f91-1e18ad233d70.png)

[2021-09-30 22:44] yanliang567 commented on #5463
/assign @czs007

[2021-10-01 00:58] wangting0128 opened #9001 "[benchmark][cluster] Milvus hang when loading collection"
#### Steps/Code to reproduce:
argo task： benchmark-j89qz

test yaml:
[code]

server:
[code]

#### Expected result:
milvus hang when client load collection for more than 7hs

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster): cluster
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Oth

[2021-10-01 01:05] yanliang567 commented on #9001
querynode with 32g memory limit, and trying to load 128d-100M entities with SQ8 indexed. I think memory shall be enough.
@czs007 could you please help to take a look?
/assign @czs007

[2021-10-01 02:42] #5007 closed

[2021-10-01 03:13] bigsheeper commented on #9001
128d-100M entities would cost `128 * 4 * 100000000 / 1024.0 / 1024.0 / 1024.0 = 47.48 (GB)`, while each query node only have `32 * 0.7 = 22.4 (GB)` memory limit. `47.48 > 22.4 * 2`, so I think memory is not enough.

[2021-10-01 03:35] yanliang567 commented on #9001
but sq8 index  costs 25%-30% data size

[2021-10-01 04:08] sunby commented on #8920
![image](https://user-images.githubusercontent.com/9817127/135563614-1ff2fb16-5972-4ae4-9d8c-193fdc2d1bb3.png)
RootCoord failed to send timetick to pulsar. So the search can not be hanlded.
But I still find some problems. QueryNode will handle the same timetick many times which waste resources.
![image](https://user-images.githubusercontent.com/9817127/135563869-4998de0e-df55-41e8-a7d7-35d0ff85d0a

[2021-10-01 04:22] bigsheeper commented on #9001
Where can I get the log？@yangliang567

[2021-10-01 06:51] Hard-Coder05 opened #9017 "Upgrade our issue templates to use GitHub issue forms"
## Title
GitHub has recently rolled out a [public beta for their issue forms](https://github.blog/changelog/2021-06-23-issues-forms-beta-for-public-repositories/) feature. This would allow you to create interactive issue templates and validate them 🤯.

## Description
This repository currently uses the older issue template format. Your task is to create GitHub issue forms for this repository. We ca

[2021-10-01 06:51] Hard-Coder05 commented on #9017
I would like to work on this!

[2021-10-01 07:49] #6804 closed

[2021-10-01 07:49] #6249 closed

[2021-10-01 07:49] #6414 closed

[2021-10-01 07:49] #5955 closed

[2021-10-01 07:49] #6456 closed

[2021-10-01 07:49] #6683 closed

[2021-10-01 07:49] #5771 closed

[2021-10-01 07:49] #6361 closed

[2021-10-01 07:49] #6331 closed

[2021-10-01 07:49] #6223 closed

[2021-10-01 07:49] #6050 closed

[2021-10-01 07:49] #6297 closed

[2021-10-01 07:49] #6429 closed

[2021-10-01 07:49] #6205 closed

[2021-10-01 07:49] #6415 closed

[2021-10-01 07:49] #5079 closed

[2021-10-01 07:49] #4819 closed

[2021-10-01 15:48] xiaofan-luan opened #9047 "TestBinlogWriterReader failed"
#### Steps/Code to reproduce:

fatal error: unexpected signal during runtime execution
[signal SIGSEGV: segmentation violation code=0x80 addr=0x0 pc=0x7fb2f7b70410]

runtime stack:
runtime.throw(0x28c1c8d, 0x2a)
	/usr/local/go/src/runtime/panic.go:1116 +0x72
runtime.sigpanic()
	/usr/local/go/src/runtime/signal_unix.go:704 +0x4ac

goroutine 123 [syscall]:
runtime.cgocall(0x1afbb18, 0xc000069c10, 0x

[2021-10-01 16:59] xiaofan-luan commented on #9017
welcome @Hard-Coder05 ~ let me know if you need any other help~

[2021-10-02 03:26] #7249 closed

[2021-10-02 03:27] #7238 closed

[2021-10-02 03:27] #7216 closed

[2021-10-02 03:27] #7208 closed

[2021-10-02 03:27] #7209 closed

[2021-10-02 03:27] #7178 closed

[2021-10-02 03:27] #7176 closed

[2021-10-02 03:27] #7170 closed

[2021-10-02 06:23] Dsantra92 commented on #6162
Can I work on this issue?

[2021-10-02 06:34] Dsantra92 commented on #8830
This looks like a very cool thing to work on. Would you mind telling me more about what exactly you mean by hybrid index here?

[2021-10-02 07:37] Hard-Coder05 commented on #9017
@xiaofan-luan I have made the PR for this issue. Kindly review and notify me if any change is required!

[2021-10-02 07:55] congqixia opened #9076 "Proxy Unit test has race"
#### Steps/Code to reproduce:
Run Proxy unit test

#### Expected result:
Passes

#### Actual results:
Failed with DATA RACE

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): a5cd484
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:
https://github

[2021-10-02 08:07] #5230 closed

[2021-10-02 09:51] #7309 closed

[2021-10-02 11:37] #7315 closed

[2021-10-02 14:23] abhijeet007rocks8 commented on #8668
@XuanYang-cn Can I try to work on this issue?

[2021-10-02 15:13] scsven commented on #8917
Welcome! If you encounter some problem, you can mention me for help. :)

/assign @elfisworking

[2021-10-02 20:44] #6686 closed

[2021-10-03 10:10] #7251 closed

[2021-10-03 10:24] geekypandey commented on #8830
I am interested to work on this issue.

[2021-10-03 11:09] #7180 closed

[2021-10-03 14:01] godchen0212 opened #9168 "Handling the returned error"
#### What would you like to be added:
Handling the returned error value.
#### Why is this needed:
If the returned error is not handled, there is no way to know what error has occurred in the system.
For example:
[code]

In fact, the saveNode operation has an error return value, which represents whether the operation is successful or not. If it is successful, err is nil, otherwise err represents th

[2021-10-04 05:54] #7232 closed

[2021-10-04 11:43] xiaofan-luan commented on #8830
Hey Dsantra92, it means memory and ssd storage hybrid. Tradition vector index is stored in memory which cost too high. It's also very hard to cache data by chunk for a ANNs index since data access locality is bad. Thus hybrid index put a compressed index in memory,  and put the real data on disk, which is a very good tradeoff.

[2021-10-04 11:44] xiaofan-luan commented on #8830
Welcome @geekypandey, assign this issue to you. let me know if you need extra information

[2021-10-04 11:45] xiaofan-luan commented on #6162
Welcome Dsantra92, assign this issue to you~, let me know you need extra help

[2021-10-04 11:46] xiaofan-luan commented on #8668
@DiptoChakrabarty Hi Dipto, are you still interested? assign this to you

[2021-10-04 11:47] xiaofan-luan commented on #8668
Hi welcome @abhijeet007rocks8 , Dipto comes a bit earlier~  already assigned to him.  Feel free to work on any of the other issues.

[2021-10-04 11:48] xiaofan-luan commented on #7713
@ArkaprabhaChakraborty hi @ArkaprabhaChakraborty , you are interested on this issue? let me assign to you

[2021-10-04 11:48] xiaofan-luan commented on #7713
/assign @ArkaprabhaChakraborty

[2021-10-04 11:50] ArkaprabhaChakraborty commented on #7713
Yes I am. Where do I begin? Also I need to to learn about how to bring out milvus functionality into C++ so that I can make a header only library for it.

[2021-10-04 21:06] billschell commented on #7219
I am encountering the same issue after adding two million 200 element vectors and then restarting the server.
In particular, I can do searches on those vectors until the server is restarted, at which point I get the message:
**Exception: server is not healthy, please try again later**

This happens when using the standalone docker image.

When looking at the container logs, I see the message below

[2021-10-05 05:56] Aminadad27 opened #9264 "{Aminadad1993}"
#### What would you like to be added:

#### Why is this needed:

[2021-10-05 05:58] Aminadad27 commented on #9264
#- bEu[tr@vlàngüæ ]()

[2021-10-05 09:01] ScholliYT commented on #7465
Hi @linchpinlin I think I am facing the same issue. I try to use milvus together with a flask api. Whenever I use

[code]

I can't establish a connection to the database. What code did you end up with?

[2021-10-05 09:21] #9264 closed

[2021-10-05 14:21] xiaofan-luan commented on #7713
Nice, I think there are two major reference, the first you want to check is python sdk user reference https://milvus.io/api-reference/pymilvus/v2.0.0rc6/install.html, c++ client should has similar functionalitites(But you may want to implement step by step).
Another good reference is milvus protobuf, all the server exposed interface is in the protobuf file, and you can generated c++ impl of the in

[2021-10-05 14:33] xiaofan-luan commented on #7713
Create a raw design document in MEP is a good start.
The title can be: MEP 15 -- Support C++ SDK for Milvus

And you can join milvus slack to discuss: https://slack.milvus.io/

[2021-10-06 04:33] #7149 closed

[2021-10-06 04:33] #7353 closed

[2021-10-06 12:11] #6904 closed

[2021-10-06 12:12] #7356 closed

[2021-10-07 03:34] ajmalbt opened #9381 "L2 norm returning incorrect distance for 2D-vectors (5,1) and (6,3)"
#### Steps/Code to reproduce:

from pymilvus import connections, FieldSchema, CollectionSchema, DataType, Collection
import pymilvus

connections.connect("default", host='localhost', port='19530')

default_fields = [
        FieldSchema(name="primkey", dtype=DataType.INT64, is_primary=True),
        FieldSchema(name="float_vector", dtype=DataType.FLOAT_VECTOR, dim=2)
    ]
default_schema = Collect

[2021-10-07 03:48] #7202 closed

[2021-10-07 21:13] devkapilbansal commented on #6162
Hi @Dsantra92 are you working on this? If not, I would like to look into this

[2021-10-08 00:07] #7977 closed

[2021-10-08 01:56] #8708 closed

[2021-10-08 01:57] #8513 closed

[2021-10-08 02:39] wangting0128 opened #9444 "[benchmark][cluster] Create index of IVF_FLAT or HNSW for 100 million data, report error “unexpected EOF”"
#### Steps/Code to reproduce:
argo task:
**IVF_FLAT: index-1006-1633482000**
**HNSW: index-1002-1633136400**

test yaml:
[code]
[code]

server deploy:
**IVF_FLAT:**
[code]

**HNSW:**
[code]

client log:
[code]

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster): cluster
- SDK version(e.g. pymilvus v2

[2021-10-08 02:51] DragonDriver commented on #9076
I take a look at the code of `queryService.close`. It seems that `stopQueryCollection` is not necessary.
@congqixia

[2021-10-08 02:56] binbinlv opened #9445 "Nightly tests hangs with cluster third services (pulsar, minio, etcd)"
#### Steps/Code to reproduce:
Running nightly test cases:

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/168/pipeline/71

Logs: [cluster mode]
https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/168/

#### Expected result:
Test cases running completely

#### Actual results:
Test cases hangs

#### Environment:
- Milvus version(e.g. v2.

[2021-10-08 03:02] binbinlv opened #9446 "Nightly test case running slowly within cluster third services (pulsar, minio, etcd)"
#### Steps/Code to reproduce:
Running nightly test case:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/171/pipeline

And it running very slowly and the whole tests were killed after 10 hours limit.

Logs: [cluster mode]
https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/171/

#### Expected result:
Test cases running completely

####

[2021-10-08 03:15] yanliang567 commented on #9445
@sunby  please take a look

[2021-10-08 03:16] yanliang567 commented on #9446
could be related to  #9445

@sunby , please take a look.

/assign @sunby

[2021-10-08 03:19] DragonDriver opened #9449 "Store index parameters to descriptor event"
#### What would you like to be added:

I want to store index parameters to descriptor event.

#### Why is this needed:

Improve the self-analysibility of index file.

/assign

[2021-10-08 03:22] cydrain commented on #8640
/unassign

[2021-10-08 03:31] xige-16 commented on #7543
After milvus supports handoff, we'll retest this case

[2021-10-08 03:39] #6952 closed

[2021-10-08 03:39] #7391 closed

[2021-10-08 03:42] bigsheeper commented on #9076
/assign

[2021-10-08 03:51] yanliang567 commented on #5144
I think we need a definition of all errors with error code and error msg, so that users would search and understand the error quickly in the docs

[2021-10-08 03:52] #7192 closed

[2021-10-08 03:53] DragonDriver commented on #9381
/assign
Under current implementation, we didn't prescribe the distance.
For example, in the case here, `2` is the square of `1.414214`.

[2021-10-08 03:54] binbinlv opened #9456 "Test cases fail for interface change"
#### Steps/Code to reproduce:

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-10-08 04:02] musedivision opened #9458 "String DataType"
#### What would you like to be added:
Add Support for `String` DataType field.

[code]

e.g.
[code]

Allowing easy retrieval of information about the identity of the vector when searching:
[code]

#### Why is this needed:
I am building out a image retrieval system using visual embeddings.

To integrate the similarity search with other data sources. This is usually by joining the data with some kin

[2021-10-08 08:40] bigsheeper opened #9481 "Query coordinator and query ndoe support hand-off, load balance and compaction"
#### Is your feature request related to a problem? Please describe:

#### Describe the solution you'd like:
Query coordinator and query ndoe support hand-off, load balance and compaction

#### Describe alternatives you've considered:

#### Additional context:

[2021-10-08 10:40] XuanYang-cn opened #9496 "rocksdb panic in ut action"
#### Steps/Code to reproduce:
[code]

https://github.com/milvus-io/milvus/actions/runs/1319798076

/assign @fishpenguin

[2021-10-08 10:57] yanliang567 commented on #9444
remove urgent as it reproduces occasionally.

[2021-10-08 10:59] yanliang567 commented on #9496
/unassign

[2021-10-08 12:27] xige-16 opened #9514 "DataNode's ut failed on case TestDataSyncService_Start"
#### Steps/Code to reproduce:

[code]
#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-10-08 18:34] #6647 closed

[2021-10-09 01:23] yanliang567 commented on #9446
remove urgent as it passed last night

[2021-10-09 01:42] #9514 closed

[2021-10-09 02:02] xige-16 opened #9527 "MsgStream's produce function can't return messageID"
#### What would you like to be added:
After producing and broadcasting messages to channel, return the mesaageID
#### Why is this needed:
struct pulsarProducer and rmqProducer provide send function to send message to channel, and return (messageID, error), but msgStream has ignored the messageID
pulsarProducer
[code]
rmqProducer
[code]
mqMsgstream
[code]

[2021-10-09 02:49] sunby opened #9530 "milvus needs to support compaction"
DataCoord will auto flush a segment when it is opened for a long time(eg. 24hours). And users may call flush manually. These cases will cause generation of small segment and it will influence the efficiency of query. We need a compaction mechanism to merge small segments and remove deleted rows to save disk space.

task list:

- [ ] defination of interfaces and data format between datacoord and da

[2021-10-09 02:59] czs007 opened #9535 "Add DataKV interface"
Currently querynode and datanode use the BaseKV interface when interacting with ObjectStore.

Need to add an interface to obtain part of the continuous content in the stored value. For example, sometimes we only need to get the header information from the Binlog file.

In order not to affect other interfaces derived from BaseKV, such as MetaKV. We need to introduce DataKV.  DataKV includes all met

[2021-10-09 03:46] #2123 closed

[2021-10-09 04:12] congqixia opened #9545 "msgstream unit test fails with segmentation violation"
#### Steps/Code to reproduce:
run unit tests

#### Expected result:
Unit test passes

#### Actual results:
Unit test failed with segmentation violation

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): 1ec5d84
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additi

[2021-10-09 05:31] xiaofan-luan commented on #9530
We need a enhancement plan on this since this is a big feature!
I would suggest to divided compaction into stage, single file compaction and multi file compaction

[2021-10-09 05:46] #7416 closed

[2021-10-09 06:04] congqixia commented on #9545
Duplicate with #9496

[2021-10-09 06:04] #9545 closed

[2021-10-09 06:23] sunby commented on #9530
I write a MEP and divide it to 2 stages

[2021-10-09 07:18] sunby opened #9559 "DataCoord save binlog timeout"
When call SaveBinlogPath, DataCoord changes the segment info before save it into etcd successfully. If the etcd request fails, the segment will not be flushed again because its status is changed to Flushed.

All methods in meta.go should save data in etcd first and change its memory status.

[2021-10-09 08:11] #9449 closed

[2021-10-09 08:28] #9076 closed

[2021-10-09 09:21] godchen0212 commented on #9514
This testcase is not available now.

[2021-10-09 10:08] xiaofan-luan opened #9577 "[Enhancement]: Add more buffer between Msgstream and mq consumers"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Change the capacity of channel between msgstream and mqconsumer from 1 to 256.

### Why is this needed?

Increase channel size would help improve concurrency and thus increase system recovery speed.

### Anything else?

_No response_

[2021-10-09 12:50] #7443 closed

[2021-10-09 12:51] #7424 closed

[2021-10-10 03:12] #7408 closed

[2021-10-10 04:12] #7454 closed

[2021-10-10 08:29] yanliang567 opened #9600 "Failed to load collection after trying to search an indexed collection with invalid search params"
#### Steps/Code to reproduce:
1. deploy a Milvus cluster
2. create a collection and build index. e.g. ifv_flat: nlist 64
3. trying to search with invalid search params. e.g. 'param': {'metric_type': 'L2', 'nprobe': 64}, 'limit': 10
4. trying to create a new collection and load the new collection

#### Expected result:
loading any collections shall be successful

#### Actual results:
it failed to l

[2021-10-10 08:31] yanliang567 commented on #9600
/unassign

/assign @scsven

[2021-10-10 09:53] #7441 closed

[2021-10-10 10:53] #7195 closed

[2021-10-10 10:53] #7474 closed

[2021-10-10 11:53] #7236 closed

[2021-10-10 13:47] xiaofan-luan commented on #8406
This is a very exciting feature, do we have a details about what we are gonna to do and why?
Better to has a MEP for details
https://wiki.lfaidata.foundation/pages/viewpage.action?pageId=43287103&src=contextnavpagetreemode

[2021-10-10 20:31] Dsantra92 commented on #6162
@devkapilbansal sure

[2021-10-11 01:15] symphony233 commented on #8668
/assign @symphony233

[2021-10-11 01:38] xige-16 commented on #9600
Maybe the querynode crashed, did there be a log?

[2021-10-11 02:24] yanliang567 opened #9604 "[Enhancement]: Add tests for precision control in search"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

tests to cover  precision control in search which was implemented in #8573

### Why is this needed?

as a “round_decimal” parameter was added into search API, we need to verify the feature

### Anything else?

_No response_

[2021-10-11 02:31] yanliang567 commented on #8573
close as testing work would be tracked in #9604

[2021-10-11 02:31] #8573 closed

[2021-10-11 02:35] yanliang567 commented on #7158
@xiaocai2333 One more question, so the unindexed 1200 entities would be searched in FLAT if i search at this moment?

[2021-10-11 02:43] xiaocai2333 commented on #7158
These 1200 entities would be searched by violent way.

[2021-10-11 03:19] yanliang567 commented on #6986
close, as we successfully inserted 100million entities on rc7

[2021-10-11 03:19] #6986 closed

[2021-10-11 03:41] wangting0128 opened #9613 "[Bug]: [benchmark][cluster] etcd crashed due to no space issue, which indicates related data shall be clear in etcd after collection dropped"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

**1. cluster deployment of etcd crash
2. rootcoord restart twice
3. client report error “get collection statistics resp is nil”**

client log:
[code]

[client.log](https://github.com/milvus-io/milvus/files/7319376/client.log)

server ：
[code]

### Expected Behavior

The server can continue to

[2021-10-11 03:44] #8803 closed

[2021-10-11 03:45] #8900 closed

[2021-10-11 04:38] cydrain commented on #8867
/unassign

[2021-10-11 05:12] xiaofan-luan opened #9618 "[Enhancement]: Change default consistency to bounded staleness"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Milvus designed to support multiple consistency types, including strong, bounded staleness or session consistency.

So far the default consistency level is strong, which cause very slow performance(each search takes 200ms or so)

I Suggest to change default time to wait data s

[2021-10-11 06:28] DragonDriver opened #9620 "[Enhancement]: Store original memory size of binlog file to extra information"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I want to store original memory size of binlog file to extra information.

### Why is this needed?

In milvus, `storage` is responsible for the codec way of binlog file, including `Insert` file, `Index` file, and etc. When `storage` do encode operation to binlog file, it will

[2021-10-11 06:33] DragonDriver commented on #9618
https://github.com/milvus-io/pymilvus/pull/739
This pr can also help users to choose the consistency level in pymilvus api. This pr was almost complete.

[2021-10-11 06:47] yanliang567 opened #9621 "[Enhancement]: update tests to match removal of dsl"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

update tests to match removal of dsl search

### Why is this needed?

dsl is removed, so tests shall be updated accordingly

### Anything else?

_No response_

[2021-10-11 07:32] #9621 closed

[2021-10-11 07:35] binbinlv opened #9623 "[Bug]: BaseException: (code=1, message=CreateIndex Timeout)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I running test cases L0 and L1 under multiple nodes (replica = 2) env (cluster etcd, minio, pulsar), it reports error:

pymilvus.client.exceptions.BaseException: <BaseException: (code=1, message=CreateIndex Timeout)>

Error timeline:
2021-10-11 07:04:57: sent create index request
2021-10

[2021-10-11 07:36] binbinlv commented on #9623
please ping me to get the logs, thanks.

[2021-10-11 07:51] yanliang567 commented on #9623
/unassign

[2021-10-11 09:09] DragonDriver opened #9641 "[Enhancement]: Update doc of binlog event data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I want to update doc of binlog event data.

### Why is this needed?

The current documentation of binlog event data was out-of-date. This will cause misunderstanding to develpers. I want to update the doc to increase the readibility.

### Anything else?

_No response_

[2021-10-11 09:13] DragonDriver commented on #9641
doc of insert event data:

+================================================+==========================================================+
| event  | fixed  |  StartTimestamp      x : 8   | min timestamp in this event                              |
| data   | part   +------------------------------+----------------------------------------------------------+
|        |        |  EndTimestamp      x+8

[2021-10-11 10:47] wangting0128 opened #9658 "[Bug]: [benchmark][cluster][performance] recall value is different when the same data size 、index and search params"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

`diff recall with same data size and same index and search params`

test yaml:
server: server-cluster-3rd-8c16m
client: client-acc-sift-hnsw-perf

redash: 2.0_rc7_acc_hnsw_group_by_ef

![image](https://user-images.githubusercontent.com/26307815/136777446-4b5c5f96-964c-4fa1-8a0c-12abf8e50790.p

[2021-10-11 10:53] wangting0128 opened #9662 "[Bug]: [benchmark][cluster][performance] nq has diff recall value even if with same search and index params"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

`nq has diff recall value even if with same search and index params`

test yaml：
server： server-cluster-3rd-8c16m
client： client-acc-sift-hnsw-perf

redash ： 2.0_rc7_acc_hnsw

![image](https://user-images.githubusercontent.com/26307815/136778566-b1cf4b71-83e9-439f-a2bf-ba50ce24ae62.png)

###

[2021-10-11 11:14] wangting0128 opened #9672 "[Bug]: [benchmark][cluster][performance] The query performance of two querynodes is similar to that of one querynode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

**conclusion**：
`Under the condition of Nlist: 2048, index_type: ivf_sq8, nprobe: 8 / 32, cluster, querynode query performance optimization of one node and two nodes is not obvious.`

**perf data**：
![image](https://user-images.githubusercontent.com/26307815/136780678-6b33f678-a332-4ef6-838a-

[2021-10-11 11:51] yanliang567 commented on #9658
/assgin @yhmo
a similar issue to #9662

[2021-10-11 11:58] xiaofan-luan opened #9682 "[Bug]: DataNode Time tick should not consume from earliest message when failover"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I shutdown and restart milvus cluster,  Get entities get start for every long time (Based on how long we start the cluster, the long the cluster started, the longer it takes to recover)

After investigation, I found the reason is flush triggered by num_entities call stucked.  Flush need

[2021-10-11 12:03] Jacse opened #9685 "[Feature]: Backup and restore"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Milvus brands itself as a clound-native, highly scalable vector database. Howver, any production-level usage of Milvus will require some sort of backup/restore ability en case of catastrophic failure. It seems this isn't supported (at least in a s

[2021-10-11 14:24] tmbenhura opened #9689 "Milvus search not working after restarting docker"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Running the reverse image search demo, the images are added to the collection and can be searched.

When docker is restarted, the collection exists, I manually check through milvus_cli. But, the collection cannot be searched.

It hangs at the milvus_client.search_vectors method call:

https:/

[2021-10-11 15:54] vamossagar12 opened #9690 "[Feature]: Add support for Auto-tuning"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

FAISS provides a way to Auto-tune the runtime parameters:

https://github.com/facebookresearch/faiss/wiki/Index-IO,-cloning-and-hyper-parameter-tuning#auto-tuning-the-runtime-parameters

This is something which is useful when the user already know

[2021-10-12 00:13] yanliang567 commented on #9689
I doubt this is a milvus-cli issue, @zhuwenxing could you please help to check it?

/assign @zhuwenxing
/unassign

[2021-10-12 00:15] yanliang567 commented on #9604
@ThreadDao could you please help to work on this enhancement?

/assign @ThreadDao
unassign

[2021-10-12 02:15] sunby commented on #7343
/assign @yanliang567

[2021-10-12 04:04] cydrain opened #9702 "[Enhancement]: Correct alias implementation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Fix CreateAlias/DropAlias/AlterAlias implementation in RootCoord

### Why is this needed?

CreateAlias/DropAlias/AlterAlias are implemented by outside developer, all implementation is copied and modified from CreateCollection/DropCollection.
But CreateCollection/DropCollection

[2021-10-12 04:43] xiaofan-luan commented on #9690
@vamossagar12 is this feature supoorted Faiss 1.6.3? We dind't support 1.7.1 yet

[2021-10-12 04:54] xiaofan-luan commented on #9685
Hi @Jacse, yes we do have plan to implement backup and restore for Milvus 2.0~ all the closed issues are from Milvus 1.1 branch, sorry for the confusion.

The community is busy with stability and more prioritized functions, such as delete entities and compaction, if many users are looking forward to the backup/restore functionality,  we would probably deliver this by the end of this year.

Also, a

[2021-10-12 04:57] xiaofan-luan commented on #8887
see also #9682

[2021-10-12 05:07] vamossagar12 commented on #9690
@xiaofan-luan , AutoTune.h and AutoTune.cpp are already part of the FAISS library that you have added in the thirdparty libraries of Milvus:

https://github.com/milvus-io/milvus/blob/master/internal/core/src/index/thirdparty/faiss/AutoTune.cpp
https://github.com/milvus-io/milvus/blob/master/internal/core/src/index/thirdparty/faiss/AutoTune.h

So, this support can be added I believe

[2021-10-12 05:10] yanliang567 commented on #7343
@binbinlv please retry on the master build.

/assign @binbinlv
/unassign

[2021-10-12 06:21] zwd1208 opened #9706 "[Bug]: IndexNode do not support MINIO_ACCESS_KEY Environment variable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I use MINIO_ACCESS_KEY and MINIO_SECRET_KEY environment variables to configure minio for indexnode，but the indexnode logs  shows it still use the config file, so indexnode finally can't access the minio

The following shows the log:
[2021/10/11 11:50:38.215 +00:00] [DEBUG] [indexnode.go:107]

[2021-10-12 06:25] #7545 closed

[2021-10-12 06:28] yanliang567 commented on #9706
/assign @bigsheeper

/unassign

[2021-10-12 08:05] cydrain opened #9713 "[Enhancement]: Simplify SnapShotKV interface"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

For some historical reason (#5298, #6763), SnapShotKV interface is defined too complicated which reduce code readability.
Prefer to change it back.

Now
[code]

After change
[code]

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-10-12 08:05] cydrain commented on #9713
/assign

[2021-10-12 10:46] RORO-ML commented on #9689
@zhuwenxing seems like the same behavior.

But why does a newly created collection hang right after the restart? Like in you test steps

[2021-10-13 01:38] #9527 closed

[2021-10-13 01:51] xige-16 commented on #9672
It may be that the query node processing query message overhead is relatively small in the total query delay. After the performance analysis results come out, we will optimize the query.

[2021-10-13 02:12] yanliang567 commented on #8970
/assign @zhuwenxing
/unassign

[2021-10-13 02:20] binbinlv commented on #8824
Similar issue occurs in nightly:
pymilvus: pymilvus==2.0.0rc7.dev25

test logs:
https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-nightly-ci/branches/master/runs/181/nodes/12/steps/88/log/?start=0

failed case:
test_search_index_partitions_fuzzy

milvus logs: cluster mode
https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/181/

Exception time: abo

[2021-10-13 02:46] XuanYang-cn opened #9772 "[Enhancement]: Milvus built bins and libs should be installed directly in the final dirs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

We install the libs and bins into one place and then copy them into another.

[code]

Furthermore, we should use the system's default install lib-dir. For example, ubuntu will install libraries into `/lib` by default, while CetOS will install libraries into `/lib64` by default

[2021-10-13 03:08] congqixia opened #9773 "[Enhancement]: Make datanode flush execution async"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Make flush execution execution asynchronous

### Why is this needed?

Currently the flush operation is executed in "Insert Buffer Node" inside each flowgraph of `DataNode`. The flush operation will serialized the data and save them into minio/S3 storage, which will consume con

[2021-10-13 05:09] #7476 closed

[2021-10-13 05:54] yanliang567 commented on #9446
close as it passed recently

[2021-10-13 05:54] yanliang567 commented on #9445
close as it passes recently

[2021-10-13 05:56] yanliang567 commented on #9444
moving to backlog, since
1. it does not repro recently
2. going to upgrade a newer minio to start more metrics in monitoring

[2021-10-13 05:56] #9444 closed

[2021-10-13 06:00] yanliang567 commented on #8656
/assign @xiaofan-luan

[2021-10-13 06:05] yanliang567 commented on #8624
/assign @xiaofan-luan
it this done?

[2021-10-13 06:10] congqixia opened #9781 "[Enhancement]: Make allocator interface able to allocate id in batch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Make allocator interface able to allocate id in batch

### Why is this needed?

See also #9773

### Anything else?

_No response_

[2021-10-13 06:13] yanliang567 commented on #8143
@XuanYang-cn any plan to fix it in rc8?

[2021-10-13 06:17] wangting0128 opened #9784 "[Bug]: [benchmark][cluster] Indexnode did not release memory space after creating the index"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

monitor：
`The memory has risen from 4G to 15-17G, knowing that the index is created and the memory space is not released
`

<img width="1913" alt="截屏2021-10-13 14 15 37" src="https://user-images.githubusercontent.com/26307815/137077367-fbe08dd9-56a7-4bb5-b5d9-e090f0598d6d.png">
<img width="18

[2021-10-13 06:26] #7775 closed

[2021-10-13 06:28] wangting0128 opened #9786 "[Bug]: [benchmark][cluster] querycoord's memory suddenly rises when process exits"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

monitor：
`At the end of the test, when the process exits, querycoord's memory suddenly rises from a stable 39M to 969M
`
<img width="1434" alt="截屏2021-10-13 14 25 21" src="https://user-images.githubusercontent.com/26307815/137078593-afffe145-43c8-419a-a02b-283056762005.png">

<img width="1429

[2021-10-13 06:30] yanliang567 commented on #7619
@wangting0128 could you please help to close this issue

[2021-10-13 06:31] #7504 closed

[2021-10-13 06:43] yanliang567 commented on #8445
@xiaocai2333
in latest commit id: 1f224c4
4 indexnodes, but only 3 nodes are working, is it expected?
![image](https://user-images.githubusercontent.com/82361606/137079797-e8e69127-4ad4-4833-a854-fd4ecd868469.png)

[2021-10-13 06:47] yanliang567 commented on #7397
@XuanYang-cn was this fixed

[2021-10-13 06:52] yanliang567 commented on #7219
@binbinlv any chance to reproduce this issue

[2021-10-13 06:53] binbinlv commented on #7219
OK, will try to reproduce it.

[2021-10-13 06:53] #7122 closed

[2021-10-13 07:00] yanliang567 commented on #6687
close

[2021-10-13 07:00] #6687 closed

[2021-10-13 07:59] #9713 closed

[2021-10-13 08:05] yanliang567 commented on #9786
/assign @xige-16

[2021-10-13 08:15] #6813 closed

[2021-10-13 08:15] #6817 closed

[2021-10-13 08:16] yanliang567 commented on #7022
rc7 loaded 100M entities successfully. close

[2021-10-13 08:16] #7022 closed

[2021-10-13 08:18] #7252 closed

[2021-10-13 08:25] yanliang567 commented on #7179
rc7 standalone successfully loades 100m entities

[2021-10-13 08:25] yanliang567 commented on #6843
@DragonDriver is this ready for testing? if yes, please assign to me. thanks

[2021-10-13 08:46] #8970 closed

[2021-10-13 08:50] yanliang567 commented on #8824
@czs007 please take a look at this issue

[2021-10-13 10:56] congqixia opened #9810 "[Bug]: Etcd ErrCompacted not handle properly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When milvus and etcd experiences network problem, the etcd client will try to reconnect with latest successful revision. With auto compaction enabled, the revision may be compacted already. The watch call may block forever or just quit without retry.

### Expected Behavior

Respect watch even

[2021-10-13 11:07] congqixia opened #9811 "[Enhancement]: Respect watch err in sessionutil"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Close eventChan when watch call found error or canceled

### Why is this needed?

Notify caller to quit or retry when watch service is in abnormal state

### Anything else?

Part job for #9810

[2021-10-13 11:34] zhuwenxing commented on #8679
Verified and passed in pymilvus-2.0.0rc7.dev25 and master-20211013-4b77e6e

New error message is `pymilvus.client.exceptions.BaseException: <BaseException: (code=1, message=Drop collection failed: cannot drop the collection via alias = a)>`

[2021-10-13 11:34] #8679 closed

[2021-10-13 11:42] ThreadDao opened #9821 "[Feature]: Need to test delete interface"
### Is there an existing issue for this?

- [ ] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

There is no test case to guarantee the quality of the delete interface

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

_No response_

[2021-10-13 11:48] yanliang567 opened #9824 "[Enhancement]: Add tests for search with travel time specified"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

tests to validate search with travel time

### Why is this needed?

once search with travel time is on

### Anything else?

_No response_

[2021-10-13 12:12] yanliang567 opened #9830 "[Enhancement]: Enable customize milvus configurations in milvus.yml"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

move configurations to milvus.yml so that users can customize it with helm/operator, specially for the items below:

- [ ] datacoord.segment.maxSize
- [ ] dataNode.flush.insertBufSize
- [ ] knowhere.simdType
- [ ] proxy.maxFieldNum
- [ ] proxy.maxShardNum
- [ ] proxy.maxTaskNu

[2021-10-13 13:42] vamossagar12 commented on #9690
hi @xiaofan-luan , can this feature be supported?

[2021-10-13 13:52] xlxie opened #9838 "[Bug]: Compiler error in link stage"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Error log:

Building Milvus ...
# github.com/milvus-io/milvus/internal/indexnode
internal/indexnode/../core/output/lib/libmilvus_indexbuilder.so: undefined reference to `dgesvd_'
internal/indexnode/../core/output/lib/libmilvus_indexbuilder.so: undefined reference to `dsyev_'
internal/indexnod

[2021-10-13 15:35] hasukmistry opened #9842 "[Feature]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

There are many make targets defined in Makefile. Currently, We need to see Makefile everytime to find about defined target.

### Describe the solution you'd like.

Introducing `make help` will list available targets.

### Describe an alternate sol

[2021-10-13 16:19] xiaofan-luan commented on #9838
See contributing.md, that would help you a lot about DCO and git flow

[2021-10-13 16:21] xiaofan-luan commented on #9690
Cool, Anyone interested? I will first mark this issue as hacktoberfest issue see if anyone want to make this

[2021-10-14 01:08] yanliang567 commented on #9772
/assign @XuanYang-cn
I think you would work on this enhancement, right?

[2021-10-14 01:13] yanliang567 commented on #9168
@godchen0212 is this done now?
/assign @godchen0212

[2021-10-14 03:02] XuanYang-cn commented on #8668
It's been 15 days since your last comment on this issue, I'm afraid this issue is open for others now.  Thanks a lot, please check out other issues.

[2021-10-14 03:05] XuanYang-cn opened #9858 "[Enhancement]: DataNode should save binlog paths of stats-log and delta-log"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

/assign

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-10-14 03:06] XuanYang-cn commented on #8058
- [ ] save binlog paths for `stats-log` and `delta-log` #9858

[2021-10-14 03:10] XuanYang-cn commented on #7397
This is fixed

[2021-10-14 03:10] #7397 closed

[2021-10-14 03:12] XuanYang-cn commented on #7624
/unstale

[2021-10-14 03:21] congqixia opened #9859 "[Enhancement]: Hide liveness channel inside session"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Store liveness channel in session instead of each component

### Why is this needed?

Remove duplicated code. Force correct init & watch liveness order

### Anything else?

_No response_

[2021-10-14 03:23] XuanYang-cn commented on #9858
**stats binlog**:

Generated with insert-binlog, I recommended storing the binlog paths along with insert binlogs'.

When `GetInsertBinlogPaths`, the stats-binlog-path can be filtered out by path prefix:

[code]

[2021-10-14 07:11] wangting0128 opened #9872 "[Bug]: [benchmark][standalone] collection has not been loaded to memory or load failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

`Inserting 50 million data, only 27.9 million data was inserted successfully, and an error of "code=1, message=rpc error: code = Unknown desc = collection has not been loaded to memory or load failed" was reported during load collection`

client log:
[client.log](https://github.com/milvus-io/

[2021-10-14 07:31] sunby opened #9873 "[Enhancement]: Add compaction proto"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

no

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

_No response_

[2021-10-14 11:12] sunby opened #9904 "[Enhancement]: Add compaction handler and trigger structure"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

no

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-10-15 01:10] billschell opened #9921 "[Bug]: Server will not restart after adding a large number of entities in HNSW mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

This may be related to bug 7219, but the failure mode is different.

When running this python program:
[milvus_test_hnsw.py.txt](https://github.com/milvus-io/milvus/files/7349287/milvus_test_hnsw.py.txt)
which adds 2M entities in HNSW mode to a fresh milvus docker image, the entities are adde

[2021-10-15 01:29] yanliang567 commented on #9921
@zhuwenxing could you please help to check with a large number of entities as described above?

/assign @zhuwenxing

[2021-10-15 02:10] XuanYang-cn opened #9922 "[Enhancement]: Update proto of SegmentInfo to add delta logs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

for  compaction

/assign

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-10-15 02:38] congqixia opened #9927 "[Enhancement]: Refactor Flush procedure with "delete by id" logic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Refactor `Flush` procedure so system can persistent `InsertBinlog` and `DeltaBinlog` as well.

- Add flush manager handles flush logic so `Flush` procedure can be partial asynchronous
- Make Insert & Delta share the same checkpoint
- Add timer/scheduler to trigger `Flush`

###

[2021-10-15 02:53] XuanYang-cn opened #9929 "[Bug]: Data race in DataCoord ut"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Anything else?

_No response_

[2021-10-15 03:46] sunby opened #9935 "[Bug]: Datacoord test has data race"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When running unit tests
https://github.com/milvus-io/milvus/runs/3901856608?check_suite_focus=true

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Anything else?

_No response_

[2021-10-15 05:39] #7359 closed

[2021-10-15 06:29] #9929 closed

[2021-10-15 08:06] jingkl commented on #7619
I'm getting the same error in the Milvus rc7 cluster version
1.When I inserted the 20.5 million data, I got the error as shown in
![21](https://user-images.githubusercontent.com/34296482/137453465-0330d54b-9b1c-4ac0-9066-815fea28bd1b.png)
I insert 100,000 pieces of data at a time

[2021-10-15 08:08] zhuwenxing opened #9955 "[Enhancement]: Classify yaml files into different folders according to the type of chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Classify YAML files into different folders according to the type of chaos

### Why is this needed?

Because we have more and more types of chaos that need to inject.  If we still place them in one folder, it will be hard to manage.

### Anything else?

Previous
[code]

Expecta

[2021-10-15 08:13] yanliang567 commented on #9955
/assign @zhuwenxing
I think you are working on it

[2021-10-15 08:16] yanliang567 commented on #7619
@godchen0212 could you please help to check this issue again as updated above

[2021-10-15 09:25] binbinlv opened #9966 "[Bug]:Milvus start failed with continuously restarts"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Milvus start failed:

[code]

Milvus log:
[code]

### Expected Behavior

NO panic

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2021-10-15 09:42] #9955 closed

[2021-10-15 09:51] binbinlv commented on #7343
Now this issue is not reproduced now, close it first.

[2021-10-15 09:51] #7343 closed

[2021-10-15 11:42] congqixia opened #9997 "[Bug]: Unittest failed with "corrupted double-linked list SIGABRT: abort""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Unit Test failed with
[code]

### Expected Behavior

Unit test passes

### Steps To Reproduce

_No response_

### Environment

[code]

### Anything else?

https://github.com/milvus-io/milvus/runs/3905368147?check_suite_focus=true

[2021-10-16 02:09] xiaocai2333 commented on #7810
/close

[2021-10-16 02:09] #7810 closed

[2021-10-16 04:43] parsa-ra opened #10009 "[Bug]: RootCoord Unmarshal pb.CollectionInfo err:proto: cannot parse invalid wire-format data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After upgrading the milvus cluster from rc6 to rc7 the RootCoordinator will be stuck in the initialization loop with an RootCoord Unmarshal pb.CollectionInfo err:proto reason.

[code]
Deleting and re-creating the RootCoord did not solve the problem

### Expected Behavior

_No response_

### S

[2021-10-16 04:55] zhuwenxing opened #10010 "[Enhancement]: Refactor deploy test Github action workflow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Refactor deploy test Github action workflow

### Why is this needed?

The current workflow uses a bash script to organize the steps, but it will be better to use `step`  in the GitHub action

### Anything else?

_No response_

[2021-10-16 04:55] zhuwenxing commented on #10010
/assign @zhuwenxing

[2021-10-16 05:57] symphony233 commented on #8668
hi, If I use the **latest** protoc tool to generate `milvus.pb.go` which generated by modified `milvus.proto` file, and it will eliminate fields like
[code]
in the original file.

Is that ok to milvus?
If not please tell me how to generate *.pb.go as above with redundant code? (may I think it's redundant, that's the [ref](https://stackoverflow.com/questions/50704319/xxx-type-in-generated-pb-go-fil

[2021-10-16 06:15] yanliang567 commented on #9966
data compatibility testing blocked, set high priority

[2021-10-16 06:17] yanliang567 commented on #9997
/assign @congqixia

[2021-10-16 06:21] yanliang567 commented on #10009
@parsa-ra upgrade from rc6 and previous to rc7 is not supported, as there are some data format changes in rc7, but rc7 shall be compatible with the release later, such as rc8...GA.

/assign @parsa-ra

[2021-10-16 08:54] #6604 closed

[2021-10-16 08:54] #7015 closed

[2021-10-16 09:53] #7642 closed

[2021-10-16 11:08] LoveEachDay commented on #7670
/reopen

[2021-10-17 04:21] #7694 closed

[2021-10-17 07:21] #4801 closed

[2021-10-17 15:30] Biki-das opened #10047 "Replacing 0 with Empty strings"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

We can improve the code as a whole replacing 0 with empty stings ""

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-10-17 15:51] Biki-das opened #10048 "Returning nil explicitly if value evaluates to Nill"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Found a chunk of code which have return statement that evaluates to nil, now it is better to return nil as it improves the readability

### Expected Behavior

if err == nil {
    return err
}

The above is what it currently looks like

if err == nil {
    return nil
}

this is what it should

[2021-10-18 01:05] yanliang567 commented on #10048
/assign @xiaofan-luan
/unassign

[2021-10-18 01:55] yanliang567 opened #10050 "[Bug]: RooCoord CPU consumption stay high even there are no more workload"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I run a test_e2e.py test for one time, and RootCoord CPU stay high for 3 days without any release even there are no more requests to Milvus

### Expected Behavior

RootCoord CPU shall release if no more workload

### Steps To Reproduce

[code]

### Environment

[code]
kubectl get pod -n chaos

[2021-10-18 02:00] #9859 closed

[2021-10-18 02:13] congqixia opened #10057 "[Enhancement]: Use single signal to notify flush in datanode flowgraph"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Unify the signal and the corresponding flush `POSITION`
Add a mechanism to notify delete node when insert buffer is auto flushed

### Why is this needed?

As Delete MEP design, the delta log shall be flushed with insert bin log. It could be could separately but will increase t

[2021-10-18 02:44] binbinlv opened #10062 "[Bug]: Nightly test hangs for several hours"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Running nightly tests, it hangs at 95% percent for several hours.

[code]

### Expected Behavior

All nightly tests run completely.

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2021-10-18 02:58] T3arD0wn commented on #7299
Hey @xiaofan-luan any update on this so far?

[2021-10-18 02:59] XuanYang-cn commented on #9858
/unassign
/assign @congqixia

[2021-10-18 02:59] T3arD0wn commented on #7299
/reopen

[2021-10-18 03:08] zhuwenxing opened #10069 "[Bug]: After re-start milvus, milvus will hang on step"get collection entities""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After restart milvus, milvus will hang on  step"get collection entities"
![image](https://user-images.githubusercontent.com/12268675/137663179-90aba60b-ce5a-49ed-894b-a984caab477f.png)

### Expected Behavior

all functions of milvus can work well!

### Steps To Reproduce

[code]

### Environm

[2021-10-18 03:30] #8551 closed

[2021-10-18 03:50] congqixia opened #10078 "[Enhancement]: Support stats-log and delta-log in SaveBinlogPaths"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Support stats-log and delta-log in SaveBinlogPaths

### Why is this needed?

As Delete MEP designed, datacoord shall save currently so-called stats-log and delta-log via SaveBinlogPaths API.
According to Compaction MEP, extra delta log info is needed to determine whether a seg

[2021-10-18 03:55] wangting0128 opened #10079 "[Bug]: [Memory] [benchmark][standalone] memory raises 3.1G after running 3.5 days"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

`memory raises 3.1G after running 3.5 days `

memory of standalone：
<img width="1367" alt="截屏2021-10-18 11 54 10" src="https://user-images.githubusercontent.com/26307815/137666909-9b61b2c6-b750-498a-a371-378569f76f46.png">

<img width="1346" alt="截屏2021-10-18 11 54 35" src="https://user-image

[2021-10-18 04:34] #10057 closed

[2021-10-18 08:24] yhmo opened #10093 "[Enhancement]: All components should use same rule to do service discovery"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

In milvus, there are 3 ways to do service discovery:
1. read service address/port from environment variables
2. read service address/port from yaml configurations
3. register service address/port into etcd

The priority of the 3 ways is different. Ideally, all components shoul

[2021-10-18 09:13] binbinlv opened #10101 "[Bug]: parameter "guarentee_timestamp" can not work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Search with parameter "guarentee_timestamp", it reports  the following error whenever set it as insert_res.timestamp + 1001 or 1 or whatever.

collection search_collection_MAoTTBPi was not loaded into memory

### Expected Behavior

Search successfully with gurantee_timestamp

### Steps To Rep

[2021-10-18 11:44] Biki-das commented on #10048
@LoveEachDay could you please review this PR

[2021-10-18 15:45] congqixia opened #10141 "[Enhancement]: Apply flush manager logic in datanode flowgraph"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Apply new flush logic in data node flowgraph

### Why is this needed?

Apply new designed flush manager and make flush more efficient and suitable for delete implementation

### Anything else?

See also #9927

[2021-10-19 02:12] congqixia commented on #7130
- [x] Update SegmentInfo proto #9922
- [ ] Modify SaveBinlogPaths to support stats-log and delta-log #10078
- [ ] Add flush manager #9985
- [x] Use single signal to trigger Flush #10057
- [ ] Apply new flush logic in data node flowgraph #10141
- [ ] Add a timed flush  trigger

[2021-10-19 02:38] ruoniler opened #10153 "[Bug]: requests.exceptions.HTTPError: 400 Client Error: Bad Request for url: http+docker://localhost/v1.39/images/%24%7BIMAGE_REPO%7D/milvus-env:%24%7BIMAGE_ARCH%7D-%24%7BOS_NAME%7D-%24%7BDATE_VERSION%7D/json"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

/usr/local/lib/python3.5/dist-packages/requests/__init__.py:104: RequestsDependencyWarning: urllib3 (1.26.7) or chardet (2.3.0)/charset_normalizer (2.0.7) doesn't match a supported version!
  RequestsDependencyWarning)
docker pull jaegertracing/all-in-one:latest ...
docker pull minio/minio:RE

[2021-10-19 02:40] yanliang567 commented on #10153
looks like a 1.x issue, could you please help to take a look first? @yhmo

/assign @yhmo

[2021-10-19 03:04] #10141 closed

[2021-10-19 03:13] ruoniler commented on #10153
The milvus version is 2.0.0, not 1. X

[2021-10-19 03:41] congqixia commented on #9997
Another case: https://github.com/milvus-io/milvus/runs/3934427912?check_suite_focus=true

[2021-10-19 03:53] yhmo commented on #10153
@ruoniler
Is the save_image.py come from milvus bootcamp?

[2021-10-19 05:37] ajmalbt commented on #9381
Ah, I don't need the sqrt then. It seems FAISS already doesn't do this
https://github.com/facebookresearch/faiss/issues/681

[2021-10-19 05:49] ruoniler commented on #10153
@yhmo
No！This come from milvus-master/deployments/offline

[2021-10-19 05:51] yhmo commented on #10093
Conclusion of discussion:
- remove xxxxCoord.address from milvus.yaml
- read xxxxCoord.address from environment variables when coord node start

[2021-10-19 06:35] #10078 closed

[2021-10-19 06:36] wangting0128 opened #10166 "[Bug]: [benchmark][cluster] Data insert hang"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

client pod: benchmark-tlk52-564563090

client log:
![image](https://user-images.githubusercontent.com/26307815/137856030-a49fb350-7194-4be0-b1da-dbb31619670a.png)

server deploy:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Environment

[code]

### Anythin

[2021-10-19 06:36] congqixia commented on #9858
All part is done for this issue's features

[2021-10-19 06:36] #9858 closed

[2021-10-19 06:45] wangting0128 opened #10167 "[Bug]: [benchmark][standalone] flush failed: Connection reset by peer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

client pod: benchmark-nnv4v-900456160

client log:
[code]

server :
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2021-10-19 07:07] #8201 closed

[2021-10-19 07:21] zhuwenxing opened #10171 "[Bug]: [chaos][cluster] Insert data fails when etcd pod recovered running status after been killed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

 Insert data still fail when etcd pod recovered running status after been killed.
error message
[code]

### Expected Behavior

All operations can work well

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

[k8s_log.zip](https://github.com/milvus-io/milvus/files/737

[2021-10-19 07:31] cydrain opened #10174 "[Bug]: Keep primary keys unique for all testcases"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Milvus has started to support hand-off and compaction, in some scenarios, one entity may exist in more than one segment. So we introduce search result duplication removal based on primary key in query node and proxy.
But now in some testcases, primary keys are not unique. After search result

[2021-10-19 07:42] cydrain commented on #10174
all failed cases:
[failcase.txt](https://github.com/milvus-io/milvus/files/7371234/failcase.txt)

[2021-10-19 09:57] wangting0128 opened #10198 "[Bug]: [benchmark][cluster] Two datanodes did not do load balance"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

client pod: **benchmark-tlk52-564563090**

<img width="1433" alt="截屏2021-10-19 17 57 17" src="https://user-images.githubusercontent.com/26307815/137887653-6be8b4f2-aef0-4806-8ec3-3e55efe6520e.png">

<img width="1428" alt="截屏2021-10-19 17 56 07" src="https://user-images.githubusercontent.com/2

[2021-10-19 10:03] cydrain opened #10199 "[Enhancement]: Support remove search result duplicates based on primary key"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Support search result duplicates removal based on primary key in query node and proxy

### Why is this needed?

After Milvus support compaction and load balance handoff, it's possible that query node search on multiple segments which contain duplicated entities.
So we need do

[2021-10-19 11:18] congqixia commented on #10171
in datacoord log file
[code]
Datacoord is reconnectng etcd so it's not fully functional at the moment. Will check why does this happen.

[2021-10-20 01:18] yanliang567 commented on #10199
/assign @cydrain

[2021-10-20 01:19] yanliang567 commented on #10174
/assign @binbinlv
/unassign

[2021-10-20 01:54] sunby commented on #10069
/cc @godchen0212

[2021-10-20 02:15] #7338 closed

[2021-10-20 03:40] JackLCL opened #10248 "[Bug]: Milvus search hangs when I restart milvus standalone docker"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

1. start milvus standalone docker by docker-compose
2. insert 1M 128d data
3. create index: sq8 nlist=4096
4. load collection
5. search is ok
6. docker compose down
7. docker compose up -d
8. search hang

### Expected Behavior

search works fine after restarting milvus

### Steps To Reproduce

[2021-10-20 04:10] #6798 closed

[2021-10-20 04:17] congqixia opened #10257 "[Bug]: Current Proto not lastest"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

static check fails

### Expected Behavior

static check passes

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2021-10-20 05:52] cydrain opened #10259 "[Bug]: Find search result duplicated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

In core/unittest/test_c_api.cpp::CApiTest::Reduce,
after search, 2 search results are with same primary key but different distance:
[52] 100354 -9.85499954
[97] 100354 -14.9619999

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Anythi

[2021-10-20 05:52] cydrain commented on #10259
/assign

[2021-10-20 06:14] timshen commented on #9001
Any progress on this bug?

[2021-10-20 06:17] binbinlv opened #10265 "[Bug]: No param check for "travel_timestamp""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Searching with non-valid value for parameter "travel_timestamp": No pymilvus error

ValueError: Value out of range: -1000

1. value < 0
2. value >  maximum range
3.  Not valid type

### Expected Behavior

Report error replacing python error

### Steps To Reproduce

[code]

### Environment

[c

[2021-10-20 06:24] binbinlv opened #10268 "[Bug]: Not proper error for searching new data failure"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When searching new inserted data fail after loading before, it reports error:
[code]

while it has been loaded before.

### Expected Behavior

Report valid error for user to know what happened

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2021-10-20 06:50] ThreadDao opened #10273 "[Bug]: The entity is deleted successfully but the num_entities of collection remains unchanged"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

1. Delete case: delete one entity
[code]
2. Case log
[code]

### Expected Behavior

The `num_entities` of collection minus one

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2021-10-20 07:06] congqixia commented on #9530
Flush refactor compaction related:
- [x] Update SegmentInfo proto #9922
- [x] Modify SaveBinlogPaths to support stats-log and delta-log #10078
- [x] Add flush manager #9985
- [x] Use single signal to trigger Flush #10057
- [x] Apply new flush logic in data node flowgraph #10141

[2021-10-20 07:42] #7056 closed

[2021-10-20 07:42] #7215 closed

[2021-10-20 07:42] #7778 closed

[2021-10-20 08:42] #7049 closed

[2021-10-20 09:36] #10166 closed

[2021-10-20 09:41] #10167 closed

[2021-10-20 09:56] yhmo opened #10290 "[Enhancement]: Write a doc to list all environment variables used by Milvus 2.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Write a doc to list all environment variables used by Milvus 2.0

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-10-20 10:42] #7513 closed

[2021-10-20 10:46] jingkl opened #10295 "[Bug]: Milvus collection load error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

1. I inserted 100 million vectors, each time I inserted 100,000, and successfully inserted
2. I created the index of ivf sq8 and it was successfully established
3. Then I call the interface of collection load and report the error as shown in the figure
<img width="1440" alt="截屏2021-10-20 下午6

[2021-10-20 12:46] yanliang567 commented on #10295
/assign @xige-16
/unassign

[2021-10-20 13:01] yanliang567 commented on #10171
@xiaofan-luan As @sunby commented above, if this is the design, users have to reinstall Milvus if every time etcd is down for 1 minute.  I don;t think this is a high reliable design.  Any ideas?
/assign @xiaofan-luan

[2021-10-20 13:11] binbinlv opened #10322 "[Bug]: No test cases covering timestamp parameter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

NA

### Expected Behavior

NA

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2021-10-21 02:02] zhuwenxing commented on #10248
I tried the same test in rc7 with the same data size and param , but it behaves well.
How long has been between step 1 and step 6? If before shooting down milvus, it has been running a long time, searching will hang after restart, and it is a known issue .

[2021-10-21 02:03] yhmo commented on #10048
@Biki-das
It is a good suggestion. We encourage more people to participate in Milvus. It would be better if you can submit a pull request to improve it.

[2021-10-21 02:06] JackLCL commented on #10248
@zhuwenxing
Yes, I start milvus and run for a long time. Then I shut down milvus. When I restart milvus again, searching hangs.

[2021-10-21 02:06] binbinlv commented on #10322
PR merged，close it.

[2021-10-21 02:06] #10322 closed

[2021-10-21 02:07] JackLCL commented on #10248
Is it a known issue in rc7? Can you give me the issue number?
@zhuwenxing

[2021-10-21 02:49] binbinlv opened #10337 "[Bug]: Refine parameter call back way"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

NA

### Expected Behavior

NA

### Steps To Reproduce

_No response_

### Environment

[code]

### Anything else?

_No response_

[2021-10-21 03:27] Biki-das commented on #10048
Ok working on it!

[2021-10-21 03:27] zhuwenxing commented on #7774
In version `c5bba3e`,  error message is still implicit
[code]

[code]

[2021-10-21 03:27] suxuchen opened #10341 "[Bug]: return "index is null" when search a vector in milvus(V1.1.1)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

when I changed cache.cache_size from 4GB to 32GB, and run docker restart, then I run my application, It got "Segmentation fault (core dumped)" when milvus init, which call Milvus(host=milvus_host, port=milvus_port) function.
So, I change cache.cache_size from 32GB to 16GB, and restart again,

[2021-10-21 03:47] yanliang567 commented on #10341
/assign @yhmo
/unassign

[2021-10-21 07:00] zhuwenxing opened #10357 "[Bug]: [Chaos] Milvus hangs at `load collection` after querynode pod has been killed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Milvus hangs at `load collection`  when running `helllo_milvus.py` after querynode pod has been killed several times.

### Expected Behavior

Running `helllo_milvus.py` can work well

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

[k8s_logs.zip](https://github.co

[2021-10-21 07:42] bitxinyu opened #10359 "[Bug]: milvus service read-only nodes have a lower search speed than read-write nodes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

使用k8s部署两个pod，分别是读写节点和只读节点，两节点共享/var/lib/milvus/db 路径数据并且连接到同一数据库，但是检索时只读节点速度要比读写节点慢很多倍。

### Expected Behavior

应该具有大致相同的检索速度

### Steps To Reproduce

[code]
2.发布数据,我的项目中使用了大概300w, 512维的数据，创建ivf_sq8索引，nlist=2896, index_file_size=1024
3.使用docker再部署一个只读节点，映射var/lib/milvus/db到读写节点的共享路径，配置文件中
[co

[2021-10-21 07:57] merqurio commented on #10171
We are facing this problem in cluster and standalone modes using rc-7. I can reproduce it tinkering with etcd.

We have etcd running in 3 nodes with a pod anti-affinity rule says that the pod should not be scheduled onto a node if that node has another etcd pod. I can definitely add more etcd pods but sometimes problems can happen and will happen in production (network partitions, a node/zone rebo

[2021-10-21 08:45] zhuwenxing commented on #10069
Verified and passed in version `master-20211021-a287bcf`

[2021-10-21 08:45] #10069 closed

[2021-10-21 09:34] congqixia opened #10366 "[Enhancement]: Gracefully stop retention"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Make rentention stop gracefully

### Why is this needed?

Make sure retention worker stops before close Rocksdb instance

### Anything else?

_No response_

[2021-10-21 09:37] congqixia commented on #7789
/reopen

[2021-10-21 09:58] zhuwenxing commented on #10171
If we reinstall milvus (keep pvc), milvus will not report error message. However, milvus will hang at search or get collections entities just like the issue of reinstalling milvus

[2021-10-21 10:40] ThreadDao opened #10374 "[Enhancement]: Comment and code do not match"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Update comment according to the code

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-10-21 11:50] #10366 closed

[2021-10-21 13:01] ThreadDao commented on #10273
Surprisingly, this is exactly the design of Milvus. The `num_entities` of the collection is counted when the entities is inserted, and it is temporarily not updated when the data is deleted. Milvus only guarantees that deleted entities will not be queried or searched again!

[2021-10-21 13:23] Biki-das opened #10397 "Unused Parameter being used in function"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

`func NewMsgStreamCoord(ctx context.Context) (*MsgStream, error) {
	return nil, nil
}`

Here we are using ctx which seem to be unused further

### Expected Behavior

`func NewMsgStreamCoord(_ context.Context) (*MsgStream, error) {
	return nil, nil
}`

this is what its

[2021-10-21 14:25] binbinlv opened #10404 "[Bug]: Needs cases covering searching before insert timestamp"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

NA

### Expected Behavior

NA

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-10-21 14:46] Biki-das opened #10406 "[Bug]: `nil` `context.Context` passed to function"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

`id, sampled, found = InfoFromContext(nil)`
`sp, ctx := StartSpanFromContext(nil)`
`sp, ctx = StartSpanFromContextWithOperationName(nil, "test")`

we should not pass a nil Context, even if a function permits it; pass context.TODO if you are unsure about which Context

[2021-10-22 01:01] yanliang567 commented on #10406
@Biki-das  i think you are working on this issue
/assign @Biki-das
/unassgin

[2021-10-22 01:02] yanliang567 commented on #10397
/assign @Biki-das
/unassign

[2021-10-22 01:02] yanliang567 commented on #10374
/assign @ThreadDao

[2021-10-22 01:03] yanliang567 commented on #10359
/assign @yhmo
Please help to take a loo at this v1.x issue
/unassign

[2021-10-22 02:25] #10404 closed

[2021-10-22 02:26] yanliang567 opened #10414 "[Bug]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

when running ci pipeline
/usr/local/lib/python3.6/importlib/__init__.py:126: in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
customize/test_simd_compat.py:9: in <module>
    from milvus_operator import MilvusOperator
customize/milvus_o

[2021-10-22 02:41] binbinlv commented on #10174
Close it for PR merge.

[2021-10-22 02:41] #10174 closed

[2021-10-22 02:43] binbinlv commented on #9824
PR  #10323

[2021-10-22 03:38] #10374 closed

[2021-10-22 04:57] binbinlv commented on #10259
This is unittest, transfer to @cydrain, thanks.

[2021-10-22 06:15] wangting0128 opened #10430 "[Bug]: [benchmark][cluster] call query coordinator LoadCollection: rpc error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod：benchmark-cron-1634839200-1897724334

client log：
[code]

server：
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2021-10-22 07:27] zhuwenxing opened #10441 "[Bug]: [Chaos]Milvus hangs at `get collection entities` after pulsar pod recovers from being killed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus hangs at `get collections entities` when running helllo_milvus.py after pulsar pod has been killed several times.

note: since pulsar is cluster mode(multi pods),  chaos mesh will kill one of them each time.

### Expected Behavior

The script `helllo_milvus.py`

[2021-10-22 09:31] ThreadDao opened #10451 "[Feature]: Need to test query with boolean expression"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Currently, we just test query with the term expression. So more cases for boolean expression need to be added.

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything else? (Additiona

[2021-10-22 09:58] binbinlv opened #10458 "[Enhancement]: Test and add new tests for "dedup" from search"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Test and add new test case covering dedup function from search

Test after the PR of handoff merge.

### Why is this needed?

New feature is added:

related issue: #10199
related PR: #10355

### Anything else?

_No response_

[2021-10-22 10:12] ThreadDao opened #10459 "[Bug]: Sometimes deleting data in growing segment fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Create collection
2. load collection
3. insert data with ids [0,1,2...99] and no flush
4. delete id 0
5. query with id 0

Result: Sometimes id 0 can be queried after delete. It's weied.

Case:
[code]
Log:
[code]

### Expected Behavior

The id 0 always cannot be que

[2021-10-22 10:25] Dhruvacube opened #10460 "[Bug]: Python 2.0 print method used"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

print "message"
# thsi is used in python2.0 but not in 3.x

### Expected Behavior

#in python3.x it should be
print("message")

### Steps To Reproduce

[code]

### Anything else?

tis needs to addressed

[2021-10-22 10:29] Dhruvacube opened #10461 "[Enhancement]: remove unnecessary super method call"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

there are many areas(classes) where unnecessary super method is called

### Why is this needed?

this is need for performance and less lines of code

### Anything else?

nope

[2021-10-22 10:39] Dhruvacube opened #10467 "[Enhancement]: simplify if and else statement"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

there many cases where if and else statement could be simplified :)
this
[code]
This could be easily simplified to
[code]

### Why is this needed?

This is needed for performance

### Anything else?

_No response_

[2021-10-22 10:39] congqixia opened #10468 "[Enhancement]: Support use byte slice to pass value in kv"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add interface to support pass value with []byte

### Why is this needed?

Currently kv interface save/load value in type of `string`, while marshaling result and some final implementations of kv use byte slice. Which make variable copy twice, which is a waste of performance.

[2021-10-22 11:08] Dhruvacube opened #10473 "[Enhancement]: unnecessary usage of lambda function and generators"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

There many python files where unnecessary usage of lambda function and generators is seen. This needs to removed and replace with the python builtin functions

### Why is this needed?

This is performance efficiency and its avoids memory leakage :)

### Anything else?

_No res

[2021-10-24 14:32] yanliang567 opened #10527 "[Bug]: two proxy nodes do not load balance"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

when inserting data into several collections with multiple threads, only one of two proxy nodes is working
![image](https://user-images.githubusercontent.com/82361606/138599387-1d8d15d1-0157-4209-bdc8-89b896746afc.png)

### Expected Behavior

2 proxy node load balance

[2021-10-24 14:48] ThreadDao opened #10528 "[Enhancement]: Update the deployment method of milvus scale test to operator"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Update Milvus deploy by the operator

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-10-24 15:07] wangting0128 opened #10530 "[Bug]: [benchmark][cluster] load collection error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server:
[code]

client logs:

[client.log](https://github.com/milvus-io/milvus/files/7405765/client.log)
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2021-10-25 13:23] ThreadDao opened #10609 "[Bug]: Flush is super slow after dataNode OOMKilled crashes and restarts"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. The dataNode get OOMKilled error
[code]
2. After dataNode pod re-running, milvus flush data hangs
[code]

### Expected Behavior

1. There is a way to stop the OOM Killer from killing the Milvus process. When creating a Pod, it is assigned a Quality of Service (QoS)

[2021-10-25 13:30] xiaofan-luan opened #10611 "[Enhancement]: Add topic retention check period config in rmq"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add rocksmq.retentionTopicCheckPeriod config in rmq.

### Why is this needed?

User can make decision whether they want to save space or save computation resources. It's also more flexible.

### Anything else?

_No response_

[2021-10-25 15:17] XiaoLiuAI opened #10683 "v2.0.0 根据应用场景选择索引 (index_selection.md) Doc Update"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Issue

建立一个空的collection, query("update_time >= {ts.timestamp()}", ['update_time]) 其中 update_time是float类型. query长时间无法返回.

### Suggestion

更加丰富的错误信息

### Anything else?

[code]

[2021-10-25 15:19] XiaoLiuAI opened #10684 "Support distinct，sort and count functionality"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Topic

query api offers basic sort, distinct, count functionality,
### Type

_No response_

### Outline

_No response_

[2021-10-26 02:39] binbinlv opened #10633 "[Bug]: Insert failed with exception "GetSegmentID failed: SegmentIDAllocator failRemainRequest err:syncSegmentID Failed:DataCoord is not serving""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Running nightly CI, large numbers of cases failed for insert failure: [standalone]

https://jenkins.zilliz.cc/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/204/artifacts

Test logs:
[code]
Milvus logs: 0.log

[code]

### Expected Behavior

No exce

[2021-10-26 05:53] JackYide opened #10643 "[Bug]: Mishards writeable node k8s pod CPU jump too high after restart on another pod"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Hello guys,

We have Mishards cluster on k8s deployment, writable node runs fine originally which is about 2% cpu utilization rate with one date collection on searching.
But, with the same search service QPS searching on the same data collection, if the  writable node

[2021-10-26 09:43] ThreadDao opened #10673 "[Bug]: Query deleted id get an non-empty result after twice flush"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. create and insert, flush
2. delete id 0
3. insert id 100 and flush
4. load
5. query id 0
6. return id 0
[code]

### Expected Behavior

Expected query result is empty.

### Steps To Reproduce

[code]
[code]

[2021-10-27 02:30] zhuwenxing opened #10712 "[Bug]: Query results are duplicated when inserting same data twice"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Query results are duplicated

### Expected Behavior

Query results are  de-duplicated

### Steps To Reproduce

[code]

### Anything else?

Output of script:
[code]

[2021-10-27 03:12] cydrain opened #10714 "[Enhancement]: Support remove query result duplicates based on primary key"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Support search result duplicates removal based on primary key in query node and proxy

### Why is this needed?

After Milvus support compaction and load balance handoff, it's possible that query node search on multiple segments which contain duplicated entities.
So we need do

[2021-10-27 03:28] cydrain opened #10721 "[Enhancement]: Update ListCollectionPhysicalChannels"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

After support to apply msgstream from pool, API ListCollectionPhysicalChannels need be updated.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-10-27 03:33] xiaofan-luan opened #10725 "[Bug]: Proxy process didn't stop while etcd keepalive fail"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

saw the log "session keepalive channel closed" in proxy but the proxy it self didn't stop.
When the rootcoord start, no proxy could be loaded from etcd, and etcd report time ticked failed with the message

[2021/10/27 02:00:14.373 +00:00] [WARN] [proxy.go:276] [sendCh

[2021-10-27 04:13] wangting0128 opened #10726 "[Bug]: [benchmark][cluster] insert timeout: message send timeout: TimeoutError"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[client.log](https://github.com/milvus-io/milvus/files/7423081/client.log)

client log:
[code]

server:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2021-10-27 04:27] Chisdo opened #10727 "[Bug]: 1.1.0 GPU Milvus DB crush"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Searching a vector in 12 collections. The total data number (sum of 12 collections) is at least over 65M. And the memory cost of milvus increased for a while and suddenly crushed.

Milvus crushed:
'sudo docker ps -a | grep milvus'  -> shows the status of milvus is 'ex

[2021-10-27 06:31] wangting0128 opened #10735 "[Bug]: [benchmark][performance] The number of concurrent increases, the search performance decreases"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

grafana monitor:

1. The number of requests for the search interface in the same duration.
2. High concurrency on the client side does not speed up the search speed.
<img width="1835" alt="截屏2021-10-27 14 24 45" src="https://user-images.githubusercontent.com/2

[2021-10-27 07:11] wangting0128 opened #10743 "[Bug]: [benchmark][cluster]call query coordinator LoadCollection: rpc error: code = Unknown desc = , etcdserver: request is too large"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[client.log](https://github.com/milvus-io/milvus/files/7423924/client.log)

client log:
[code]

server:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2021-10-27 07:27] wangting0128 opened #10744 "[Bug]: [benchmark][performance]The number of concurrency affects the performance of the load interface"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

grafana monitor：

1. The number of requests for the load interface in the same duration.
2. The greater the number of concurrency, the less the total number of requests for the load interface in the same time.
<img width="1851" alt="截屏2021-10-27 15 22 07" src=

[2021-10-27 08:51] ThreadDao opened #10754 "[Bug]: Failed to restart indexnode after create index timeout with memory limit"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Deploy cluster milvus and limit indexnode memory resource 512Mi
2. Create collection with dim=512
3. Insert 256000 512dim entities (vectors size is 512Mi)
4. Create index with `index_params = {"index_type": "IVF_SQ8", "metric_type": "L2", "params": {"nlist": 128}}`

[2021-10-27 09:54] xiaofan-luan opened #10763 "[Bug]: RootCoord will hang forever when start process fail"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

In root_coord.go, when start hit some error, it directly return without handling the exception.

It will cause root coord hang forever without processing request even if the original error recovered.

### Expected Behavior

Root coord could retry or abort and wait for

[2021-10-28 05:41] binbinlv opened #10798 "[Bug]: Flush failed until timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

[code]

In milvus log:  0.log

it is consistently reporting
[code]

### Expected Behavior

Flush successfully

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2021-10-28 06:06] binbinlv opened #10799 "[Bug][distributed mode]: milvus is crashed and reporting "proxy not healthy""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. drop_collection failed :
[code]
2. Milvus crashed during async insert case: "test_insert_async_long"
[code]

3. Reporting "proxy not healthy" for milvus crash
[code]

Failed cases:
[code]

### Expected Behavior

No crash

### Steps To Reproduce

Run nightly test ca

[2021-10-28 09:41] ThreadDao opened #10820 "[Feature]: The construct_from_dataframe pymilvus API also needs to support the shard_num parameter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

1. Create collection API support `shard_num` param
`def __init__(self, name, schema=None, using="default", shards_num=2, **kwargs):`

2. construct_from_dataframe don't support
`def construct_from_dataframe(cls, name, dataframe, **kwargs):`

### De

[2021-10-28 11:21] TannedCung opened #10840 "[Bug]: Milvus not connect to MySQL with SSL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I tried to run milvus docker with ssl with below config
MySQL is running on an other machine and connected successfully if i exec to the milvus docker and use `mysql` client commands with the same file as the one config file contains.
[code]

The return error shows
[c

[2021-10-29 03:39] XuanYang-cn opened #10881 "[Bug]: DataNode ut action fatal error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

/assign

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-10-29 08:55] congqixia opened #10906 "[Bug]: AsConsumeWithOption-Latest does not work with earliest patch logic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Pulsar MsgStream seek with Position-latest does not work

### Expected Behavior

Correctly seek to latest acked message position

### Steps To Reproduce

_No response_

### Anything else?

It's caused by conflict with Earliest logic patch, which is pulsar msg stream w

[2021-10-29 10:13] ThreadDao opened #10919 "[Bug]: Incorrect merging of deleted ids from persistence and channel"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-10-29 19:54] githublaohu opened #10934 "[Bug]: centos与ubuntu源码编译都失败"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

想较好的掌握 milvue优秀的存储，使用源码编译了解架构并且使用好

ubuntu失败信息
`
./faiss/gpu/utils/Float16.cuh:17:2: error: #error "CUDA >= 8.0 is required"
 #error "CUDA >= 8.0 is required"
  ^~~~~
In file included from impl/io.cpp:14:0:
impl/io.cpp: In destructor ‘virtual faiss::BufferedIOWriter::

[2021-10-30 08:01] #10934 closed

[2021-10-30 08:03] githublaohu opened #10946 "[Feature]: DEVELOPMENT.md is not friendly to users"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

想本地调试源码，与源码编译。把build目录看完，还是没怎么看懂。

### Describe the solution you'd like.

提供本地调试文档与源码调试文档，谢谢，非常感谢。

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

_No response_

[2021-10-30 08:05] shanghaikid commented on #10946
The developer guide documentation  is not that developer friendly.

[2021-10-30 10:02] #8402 closed

[2021-10-30 13:24] #10763 closed

[2021-11-01 01:52] binbinlv commented on #10633
Verified through latest several nightly tests, it is fixed.

[2021-11-01 01:52] #10633 closed

[2021-11-01 02:12] bigsheeper commented on #10101
/assign

[2021-11-01 02:13] #5124 closed

[2021-11-01 02:25] DragonDriver commented on #10527
IndexCoord was responsible for the load balance of IndexNodes. Instead, the load balance of proxy was provided by the k8s service. So these two issues are actually not related. @xiaocai2333 was working on fixing the former.

What's the proxy mode in our nodes of k8s cluster? @zwd1208
IPVS mode with "Source Hashing" may cause this issue.
/assign @zwd1208

[2021-11-01 02:32] XiaokangLei commented on #10248
Me, too. The operation of inserting data is normal, but the search operation does not respond.

[2021-11-01 02:34] #7260 closed

[2021-11-01 02:42] cydrain commented on #10259
[code]

[2021-11-01 02:42] DragonDriver commented on #10527
By the way, have you tried setting up multiple pymilvus connection instances? @yanliang567
In your case, I'm not sure if an instance under multiple threads shares the same gRPC connection.
Let me check the code of pymilvus.

[2021-11-01 02:44] yanliang567 commented on #10527
@DragonDriver No, I didn't. But I remember that @czs007 mentioned once that multiple threads creates different gRPC connections.

[2021-11-01 02:48] zwd1208 commented on #10527
@DragonDriver  default mode of kube-proxy is iptables, it use rr for every connection

[2021-11-01 02:52] #10451 closed

[2021-11-01 02:56] cydrain commented on #10050
![Screenshot from 2021-11-01 10-54-32](https://user-images.githubusercontent.com/3992404/139615381-87d073a1-97b8-4a0b-81d4-7399c7f500d5.png)
Run Milvus locally with no workload, the CPU of rootcoord seems abnormal.

[2021-11-01 03:01] #10881 closed

[2021-11-01 03:05] yhmo commented on #10946
@githublaohu
Could you change the title to "DEVELOPMENT.md is not friendly for developer"?

[2021-11-01 03:21] yhmo commented on #10946
To build/run milvus:
1. Firstly make sure your OS is Ubuntu or CentOS. We don't recommend build milvus on Mac, but user can start a Ubuntu/CentOS docker container on Mac and build milvus in container.
2. Follow the steps in /milvus/DEVELOPMENT.md. Install dependencies and config Go environment.
3. I think the DEVELOPMENT.md lack a section for "Run Milvus on local". User need to launch third-party

[2021-11-01 03:24] githublaohu commented on #10946
说的很对呀，是的呀。如果无法把部署与配置吃透，大规模使用会遇到很多问题。
内部其他组件的集成问题。比如etcd，对象存储的共用

[2021-11-01 03:37] yhmo commented on #10840
Milvus use mysql++ library to interact with MySQL. The error "Option not supported by database driver v5.5.68-MariaDB" is thrown from mysql++, seems is a compatible issue between mysql++ and MariaDB.

[2021-11-01 03:42] cydrain commented on #10050
When Milvus start up, there are 845 go routines running in rootcoord, but most of them are pulsar go routines.

[code]

[2021-11-01 03:44] cydrain commented on #10050
By profiling, we can see most of CPU time in rootcoord is used by pulsar runtime.

[code]

[2021-11-01 03:52] cydrain commented on #10050
Update config "configs/advanced/root_coord.yaml", change "dmlChannelNum" from 256 to 4, the CPU time of rootcoord decreases obviously.

![Screenshot from 2021-11-01 11-50-35](https://user-images.githubusercontent.com/3992404/139619323-c990c980-100c-423a-8f09-f87da3872fbd.png)

[2021-11-01 03:52] cydrain commented on #10050
/assign @yanliang567

[2021-11-01 04:00] yanliang567 commented on #10050
@cydrain  so this is expected?

[2021-11-01 04:02] DragonDriver commented on #10527
Sorry, due to the limit of Python grpc wrapper, multiple grpc channel under same process will reuse the TCP connection. See also [issue in gRPC](https://github.com/grpc/grpc/issues/20985#issuecomment-552604012).
In addition, the gRPC connection based on HTTP2 is a long TCP connection. It will remain when the connection is established. So you can see any requests can be only forward to one proxy po

[2021-11-01 04:31] TannedCung commented on #10840
I found a workaround to make it works, kind of stupid, but somehow it works.
- I cloned source code from github, checkout to 1.1.1, hard fix ssl option to connection at   `core/src/db/meta/MySQLConnectionPool.cpp` some where around `line 67`:
[code]
- Rebuild docker and it runs successfully.

[2021-11-01 04:32] #10840 closed

[2021-11-01 05:15] xiaofan-luan commented on #10946
what environment you are on? and what detailed problem you hit?

[2021-11-01 05:16] xiaofan-luan commented on #10946
Also i would be great if issues can be written English, otherwise it would be very confusing to english speakers, thanks

[2021-11-01 05:17] #10725 closed

[2021-11-01 05:18] #9682 closed

[2021-11-01 05:18] #9047 closed

[2021-11-01 05:41] xiaofan-luan opened #10984 "[Enhancement]: Avoid consume from start for query channels for fast failure recovery"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

We have a both query channels and query result channels for deliver search requests and search results.

For search results proxy doesn't really need to consume from the very beginning because once proxy restart, all the SDK connection are broken and proxy can not reach back t

[2021-11-01 06:12] XuanYang-cn commented on #8668
@symphony233 Sorry for the late response.

You can use `make generated-proto-go` to generate milvus.pb.go from milvus.proto

[2021-11-01 06:13] cydrain commented on #10050
@yanliang567 From my analysis, the CPU time is used for pulsar, so it's expected.

[2021-11-01 06:19] linchpinlin commented on #7465
Hi, @ScholliYT
[code]
It resolves the problem.

[2021-11-01 06:30] cydrain commented on #10714
/close

[2021-11-01 06:30] #10714 closed

[2021-11-01 06:32] cydrain commented on #10199
all feature code already in master, PV can start to test.

[2021-11-01 06:33] cydrain commented on #10199
/close

[2021-11-01 06:33] #10199 closed

[2021-11-01 06:35] yanliang567 commented on #10726
/assign @wangting0128
Please help to check it did not reproduce.

/unassign @sunby

[2021-11-01 06:42] sunby commented on #10726
The timeout is caused by sending insert messages to pulsar.

[2021-11-01 06:43] #9935 closed

[2021-11-01 06:43] #9873 closed

[2021-11-01 06:43] #9559 closed

[2021-11-01 07:19] yhmo commented on #10643
Typically, high cpu utilization rate happens in two conditions:
1. build index
2. search

Only write node can build index, build index cause high cpu utilization rate. But once a search request come in, milvus can pause/pending build index work and execute search request first.
You said the cpu utilization rate immediately jump high to ~60% after the writable node drifted to another k8s pod. It se

[2021-11-01 07:37] cydrain commented on #10050
find a way to resolve this issue.

[2021-11-01 07:46] DragonDriver commented on #10265
already fixed.
/assign @binbinlv

[2021-11-01 08:02] binbinlv commented on #10265
Verified, and fixed.

milvus:  a6160bc
pymilvus: 2.0.0rc8.dev26

[code]

[2021-11-01 08:02] #10265 closed

[2021-11-01 08:33] yhmo commented on #10359
暂时想不出什么别的原因，我先做点试验看看

[2021-11-01 08:40] binbinlv commented on #10798
It still exists in latest version:
milvus: latest
pymilvus: 2.0.0rc8.dev26

Milvus log:
transfer offline

Failed cases:
[code]

Test Log:
[code]

[2021-11-01 08:42] binbinlv commented on #10798
And after these tests, the interface collection.num_entities will hangs.

[2021-11-01 08:49] #10727 closed

[2021-11-01 08:50] ThreadDao opened #11004 "[Bug]: Querynode encountered an OOMKilled error when load with enough memory"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Deploy milvus cluster and limit querynode memory 2Gi
2. Load collection into querynode: `dim=512, num_entities=307200`, about 608Mi, one of the segment size is 303Mi
3. Load hangs and query node down because of OOMKilled
4. After querynode pod re-running, load stil

[2021-11-01 09:07] godchen0212 opened #11009 "[Enhancement]: Support delete in sealed segment by adding a delta channel"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

A channel in datanode forwards delete msg for sealed segment to querynode.

- [x] Generating delta channel names in rootcoord when createcollection
- [x] #11013
- [x] #11217
- [x] #11014
- [x] #11036
- [x] #11390
- [x] #11971

### Why is this needed?

_No response_

### Anythi

[2021-11-01 09:09] scsven opened #11010 "Add deltalog channels info in proto"

[2021-11-01 09:11] scsven opened #11013 "Forward delete msg to deltalog channel in datanode flowgraph"

[2021-11-01 09:11] scsven opened #11014 "Receive delete in queyrnode"

[2021-11-01 09:31] xiaocai2333 commented on #10820
`construct_from_dataframe` also supports shard_num, use it like this:
[code]

[2021-11-01 09:49] yhmo commented on #10359
@bitxinyu
这个collection有做过delete操作么？

[2021-11-01 10:02] cydrain commented on #10259
Not a real issue, the duplicated primary keys are for different queries.
[52] belongs to query 5, [97] belongs to query 9.

[2021-11-01 10:08] LiangXD commented on #765
how to solve this problem？

[2021-11-01 10:21] JackLCL opened #11023 "[Enhancement]: Milvus needs to actively check if the sdk version and the server version match."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Milvus needs to actively check if the SDK version and the server version match.
If the versions do not match, Milvus needs to proactively prompt the user.

### Why is this needed?

I did a test as follows:
1. Run milvus 2.0rc7 by docker compose
2. install pymilvus 2.0rc6
3. ru

[2021-11-01 10:29] congqixia opened #11027 "[Bug]: Rocksmq `SeekToLatest` ignore prefix and fails with large Lexicographic order keys"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

`SeekToLatest` ignore prefix and fails with large Lexicographic order keys

### Expected Behavior

Seek to latest with same prefix

### Steps To Reproduce

_No response_

### Anything else?

Related to #7313 #10798

[2021-11-01 10:57] yanliang567 opened #11034 "[Bug]: Failed to drop collection when running cases in multiple threads"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Fail to drop collection, when running tests in multiple threads
[code]

### Expected Behavior

tests run successfully

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2021-11-01 10:58] yanliang567 commented on #11034
/unassign
/assign @czs007

[2021-11-01 11:11] zhuwenxing opened #11035 "[Bug]: [chaos][proxy]create collection failed when one of proxy pods injected pod failure chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When one of proxy pods injected pod failure chaos, chaos test failed.
Create collection failed.

### Expected Behavior

Since proxy has multi pods, when one of them fails, all operations should still work well.

### Steps To Reproduce

[code]

### Anything else?

Erro

[2021-11-01 11:12] scsven opened #11036 "Filter useless delete msg in querynode"

[2021-11-01 11:31] #10820 closed

[2021-11-01 11:35] #11027 closed

[2021-11-01 12:30] ThreadDao commented on #10673
Fixed. Verified on `master-20211101-881e547`

[2021-11-01 12:30] #10673 closed

[2021-11-01 16:50] filip-halt commented on #11023
Simple solution is exposing a version endpoint in the API. Pymilvus can then ping that endpoint only when a new connection is created.

[2021-11-01 19:46] parsa-ra opened #11053 "[Bug]: Querynode keeps high cpu utilization, hours after our last query"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Incremental insertion of about 2 million vectors and creation of index (IVF-SQ8, nlist=16384), successfully can make queries but the CPU usage of querynode is extremely high even though its current stage (which no query currently passes to the server) is extremely hig

[2021-11-02 01:20] yanliang567 commented on #11035
/assign @czs007
/unassign

[2021-11-02 01:24] yanliang567 commented on #11053
@parsa-ra  did you load the collection before CPU  utilization goes high?

/assign @xige-16
Could you please help to take a look at this issue?

/unassign

[2021-11-02 01:42] cydrain commented on #10259
/close

[2021-11-02 01:42] #10259 closed

[2021-11-02 02:01] czs007 commented on #8445
@wangting0128 pleast retry.

[2021-11-02 02:01] czs007 commented on #9784
@wangting0128 please remove the performance tunning label.

[2021-11-02 02:05] xige-16 commented on #10743
/unassign @wangting0128

[2021-11-02 02:06] xige-16 commented on #10743
/unassign
/assign @xige-16

[2021-11-02 02:06] xige-16 commented on #10743
/unassign
/assign @wangting0128

[2021-11-02 02:07] xige-16 commented on #10530
/unassign
/assign @wangting0128

[2021-11-02 02:14] XuanYang-cn commented on #6940
[code]
This is the problem, next time try unseting OS environment variable for CGO_CFLAGS

Feel free to reopen this issue if anything related.

[2021-11-02 02:14] #6940 closed

[2021-11-02 02:20] binbinlv commented on #11034
Similar issue in nightly tests:
Drop collection failed until timeout first, then load timeout, then all the tests is hanging.

https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/204/

See cluster pytest logs, the described tests logs will be found.

[2021-11-02 02:21] binbinlv commented on #11034
blocking nightly tests, so set this as urgent.

[2021-11-02 02:51] yanliang567 commented on #11034
/unassign @czs007
/assign @congqixia

[2021-11-02 03:10] XuanYang-cn commented on #7723
Hi @cxwen, sorry for the late response.

It's already separated at commit 816bac82ec, you can use `minio.rootPath` for minIO, and `etcd.rootPath` for etcd now.

[2021-11-02 03:10] wangting0128 commented on #10530
argo task: benchmark-cron-1635782400

test yaml:
client-configmap:client-acc-glove-ivf-flat
server-configmap:server-cluster-8c16m

client log:
[code]

server:
[code]

[2021-11-02 03:13] wangting0128 commented on #10530
argo task: benchmark-tag-dlzxq

test yaml:
client-configmap:client-search-sift50m-ivf-flat-nlist2048-insert-perf
server-configmap:server-cluster-4c32m-datanode1-indexnode1-querynode2-proxy2

client log:
[code]

server:
[code]

[2021-11-02 03:15] wangting0128 commented on #10530
argo task: benchmark-tag-qcsxn

test yaml:
client-configmap:client-search-sift50m-ivf-flat-nlist2048-insert-50
server-configmap:server-cluster-4c32m-datanode1-indexnode1-querynode2-proxy2

client log:
[code]

server:
[code]

[2021-11-02 03:32] githublaohu commented on #10946
1. make all 之后，可以执行文件在哪里呀。
2. 从github获得jar，会经常的出现网络问题
3. make all，如何进入开发状态
4. boost的执行命令，在ubuntu上有一些问题

[2021-11-02 03:49] xige-16 commented on #10530
[2021/11/01 18:44:17.343 +00:00] [WARN] [grpclog.go:46] ["[core]grpc: addrConn.createTransport failed to connect to {benchmark-cron-1635782400-5-etcd:2379 benchmark-cron-1635782400-5-etcd <nil> 0 <nil>}. Err: connection error: desc = \"transport: Error while dialing dial tcp: lookup benchmark-cron-1635782400-5-etcd on 10.96.0.10:53: server misbehaving\". Reconnecting..."]
[2021/11/01 18:44:18.233

[2021-11-02 03:51] xige-16 commented on #10530
This phenomenon is caused by querynode panic during reduce.
fatal error: unexpected signal during runtime execution

runtime stack:
goroutine 36342 [syscall]:
[signal SIGSEGV: segmentation violation code=0x2 addr=0x7fc4afc4e000 pc=0x7fc4e5784e43]
runtime.throw(0x265ad6e, 0x2a)

	/usr/local/go/src/runtime/panic.go:1116 +0x72
runtime.sigpanic()
	/usr/local/go/src/runtime/signal_unix.go:704 +0x4ac
ru

[2021-11-02 03:55] parsa-ra commented on #11053
Yeah, I believe it is not possible to perform a search without loading the collections first, am I wrong?
![image](https://user-images.githubusercontent.com/11356471/139784356-40bd0b89-0904-4437-87b4-ccc0ad636063.png)

[2021-11-02 03:59] xige-16 commented on #10530
This phenomenon is caused by querynode panic during reduce.

[2021-11-02 04:01] DragonDriver opened #11073 "[Enhancement]: A doc to explain guarantee timestamp"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I want to add a doc to explain how guarantee timestamp works.

### Why is this needed?

Help users understand how to use milvus better.

### Anything else?

_No response_

[2021-11-02 04:02] DragonDriver commented on #11073
/assign

[2021-11-02 04:16] wangting0128 opened #11074 "[Bug]: [benchmark][cluster] serach error:status = StatusCode.DEADLINE_EXCEEDED"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[client.log](https://github.com/milvus-io/milvus/files/7457797/client.log)
client log:
[code]

server:
[code]

[benchmark-cron-1635782400-5-milvus-indexcoord-6f6b5dfcb5-6m7cs.log](https://github.com/milvus-io/milvus/files/7457799/benchmark-cron-1635782400-5-milvus-ind

[2021-11-02 06:41] xiaofan-luan commented on #6162
Hi devkapilbansal, welcome! just assigned the issue to you,  let us know what kind of help you want.

[2021-11-02 06:42] xiaofan-luan commented on #7713
@ArkaprabhaChakraborty  hi ark, any updates?

[2021-11-02 06:43] xiaofan-luan commented on #7700
@parshnt @ArkaprabhaChakraborty any updates dude?

[2021-11-02 07:31] DragonDriver opened #11079 "[Enhancement]: Need a doc to introduce the flow graph in query nodes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I want to add a doc to introduce the flow graph in query nodes.

Including but not limited to:
- 1, some simple and easy-understanding figures that indicate the different kinds of flow graph nodes in query nodes;
- 2, explain the relationship between the flow graph nodes;
- 3,

[2021-11-02 07:33] DragonDriver commented on #11079
/assign @DragonDriver @bigsheeper @xige-16

It's a little complicated to make this doc done and even perfect.
Can you guys provide any suggestions?
@xige-16 @bigsheeper

[2021-11-02 07:40] xiaofan-luan opened #11080 "[Bug]: RocksDB Retention time check is not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I read the code of rocksdb retention, I found that retention time check is not working because we never update the retentionTs after retention done.

Actually topics and retentionTs can be merged into one map, that made the code cleaner.

### Expected Behavior

1

[2021-11-02 07:54] Murphy-AI commented on #7925
Hi all, I came cross nearly the same problem, anyone solve it ?

[2021-11-02 08:23] yanliang567 commented on #7925
@Murphy-AI which version are you using, could you please help to upload the logs for investigation?

[2021-11-02 08:30] bigsheeper commented on #10530
querynode1.txt

[2021-11-02 08:50] #11080 closed

[2021-11-02 09:05] #8583 closed

[2021-11-02 09:06] wangting0128 commented on #10530
client-search-sift50m-ivf-flat-nlist2048-insert-50：
[code]

[2021-11-02 09:30] godchen0212 opened #11090 "[Enhancement]: Add common.Endian for global use"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add a variable common.Endian for global use

### Why is this needed?

Both BigEndian and LittleEndian are used in the code, causing confusion. The use of a unified global encoding method does not need to consider which encoding method to use, just use common.Endian directly

#

[2021-11-02 09:34] XuanYang-cn commented on #7723
Feel free to reopen this issue if anything buggie  @cxwen

[2021-11-02 09:34] #7723 closed

[2021-11-02 10:21] Murphy-AI commented on #7925
@yanliang567 Hi Yanlinag, both the version i used for Milvus and pymilvus is 2.0.0rc7. I will list my personal operation and conditions about this deployment, which is a little different from your guideline of distributed installation,
1. There are two node in out k8s test cluster, because of some reason , all the milvus pods are deployed in one of them.
2. I disabled the MinIO service and enable

[2021-11-02 10:30] congqixia opened #11098 "[Bug]: MqttMsgStream `AsConsumer` blocks if seek position is the last msg in it"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

MqttMsgStream `AsConsumer` blocks if seek position is the last msg in it.
Which causes the datanode stucks and holds the lock and unable to provide service

### Expected Behavior

Data Node continue to provide services even seek position is the last msg.

### Steps To

[2021-11-02 10:31] XuanYang-cn commented on #11098
1. DataCoord know nothing about whether a collection is dropped.
 Thus DataCoord makes DataNode to Watch channel of dropped-collection(which will fail for sure)

2. mqMessageStream Seek will wait for the next message and drop it. That's why Seek stucked.
 But the underline reason is unclear

3. DataNode should fail faster before the Seek.

[2021-11-02 10:36] devkapilbansal commented on #6162
Hi @xiaofan-luan,
Can you please provide some more details to work on this issue?

Which part of code handles this responsibility?

[2021-11-02 10:41] XuanYang-cn commented on #11098
PR #11102 fixes No.3

[2021-11-02 10:47] #10048 closed

[2021-11-02 11:14] bitxinyu commented on #10359
1.有做过delete操作，删除完使用了compact 操作。
2.两种方式得到的检索结果是一致的，通过日志也可以看到检索到的index file id都是相同的，对应数据库的数据id也是一致的

[2021-11-02 12:03] fishpenguin opened #11112 "[Enhancement]: Add rocksmqPageSize to config"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

rocksmqPageSize in milvus.yaml

### Why is this needed?

User can config the page size of rocksmq so that can control the retention condition

### Anything else?

N/A

[2021-11-02 12:27] binbinlv opened #11116 "[Bug]: Search wrong when using travel time without filtering condition and call num_entities"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When call num_entities (flush), searching with travel time (no filtering) is wrong.

When flush, travel time  could search the entities inserted after that timestamp.

### Expected Behavior

Timestamp could work no matter call num_entities or not.

### Steps To Reprod

[2021-11-02 13:35] #8612 closed

[2021-11-02 14:55] xiaofan-luan opened #11129 "[Enhancement]: Minio secret key and access key should not be printed in log"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

remove the log of printing minio option, it contains access key and secret access key.

### Why is this needed?

Secret keys  might be exposed to unauthorized users.

### Anything else?

_No response_

[2021-11-02 15:46] xiaofan-luan commented on #10527
Hi Writtic, querynode load balance is probably due to other issues. You can try to release and load collection see if the problem can be solved.
We'll introduce handoff(RC8) and dynamic load balanace(GA) so once GA released the problem should be solved~ Thanks

[2021-11-02 15:55] xiaofan-luan commented on #6162
We introduce a mechanissm named compaction in RC8, see https://wiki.lfaidata.foundation/display/MIL/MEP+16+--+Compaction.

Compaction runs in the background, read out the data, and rewrite data back, with all deleted data removed.

If we want to support expire, the first thing is to add a collection schema, such as TTL. Each entity in milvus has a timestamp field,  it is a Hybrid ts and can be con

[2021-11-02 21:42] ArkaprabhaChakraborty commented on #7700
Well, I didn't know how to start as I didn't get any headstart from the other contributor.

[2021-11-02 21:46] ArkaprabhaChakraborty commented on #7713
Not yet but I'm on it. Sorry for the delay I got busy with my exams :)

[2021-11-03 01:10] yanliang567 commented on #7925
@Murphy-AI it looks like proxy fails to connect to etcd service:
`"rpc error: code = DeadlineExceeded desc = latest balancer error: last connection error: connection error: desc = "transport: Error while dialing dial tcp 192.168.56.227:2379: connect: connection refused""}`
could you please share more details about how you configure milvus?

[2021-11-03 03:26] binbinlv commented on #11034
Continuously appear in nightly:

Cluster mode: [logs]
https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/

First drop collection timeout:
timeline:  2021-11-02 15:49:01

[code]

[2021-11-03 03:26] XuanYang-cn opened #11146 "[Bug]: msgStream ut timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

https://github.com/milvus-io/milvus/runs/4078803430?check_suite_focus=true

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-11-03 03:26] binbinlv commented on #11034
@congqixia  Any updates, thanks.

[2021-11-03 03:28] XuanYang-cn commented on #8109
/unstale

Not reproducing this either.

[2021-11-03 03:33] Murphy-AI commented on #7925
@yanliang567 Hi Yanliang, thanks for your reply ....
I directly use the helm to install Milvus. Based on your reply, I noticed that a log "Session connect to etcd success" following the last error log of "connection refused". I am confused that does it connect successfully or not? Following is my milvus-release ConfigMap:

`
apiVersion: v1
items:
- apiVersion: v1
  data:
    milvus.yaml: |
      #

[2021-11-03 03:37] binbinlv opened #11148 "[Bug]: Nightly tests hang [standalone]"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

On standalone mode, nightly test cases (L0, L1, L2) are hanging.

Previously maximum dim and partition numbers test cases are skipped.

And in cluster mode, tests hangs for issue [11304](https://github.com/milvus-io/milvus/issues/11034).

While in standalone mode, it

[2021-11-03 03:39] binbinlv commented on #11148
Block nightly standalone tests, so set it as urgent.

[2021-11-03 03:48] binbinlv commented on #11148
@congqixia  hello congqi,

could you help to check whether it is the same root cause of [11304](https://github.com/milvus-io/milvus/issues/11034)? thanks.

while I could not find any errors from test client which is different from [11304](https://github.com/milvus-io/milvus/issues/11034)

[2021-11-03 05:04] #11129 closed

[2021-11-03 05:24] binbinlv opened #11155 "[Bug]: Update pymilvus version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

NA

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-11-03 05:28] #8393 closed

[2021-11-03 05:28] #6900 closed

[2021-11-03 05:29] #8599 closed

[2021-11-03 05:29] #8636 closed

[2021-11-03 05:42] parsa-ra opened #11156 "[Bug]: Querycoordinator crashed after decresing number of replicas of its worker nodes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When decreasing the number of querynode replicas (i.e. from 10 to 6 ) after applying the new values the queryCoordinator will crash and its state will change to CrashLoopBackOff

Check out the logs of the QueryCoordinator:
[code]

### Expected Behavior

Well, this sho

[2021-11-03 05:44] xiaofan-luan commented on #11156
Hi parsa, is this rc7 or master? Seems we didn't release rc8 yet? are you also doing any upgrade or it is the same version?

[2021-11-03 05:55] binbinlv commented on #11116
Verified, and fixed.

Milvus: 2b0f1a1
Pymilvus: 2.0.0rc8.dev26

Test results:
[code]

[2021-11-03 05:55] #11116 closed

[2021-11-03 05:55] parsa-ra commented on #11156
I believe there is something wrong with the [helm-charts](https://github.com/milvus-io/milvus-helm/blob/master/charts/milvus/values.yaml)

[2021-11-03 05:58] yanliang567 commented on #11156
@LoveEachDay could you please help to look at this issue?

/assign @LoveEachDay
/unassign

[2021-11-03 06:15] congqixia commented on #11148
from log there are some network related log. Look like same as #11034
[code]

[2021-11-03 06:53] ThreadDao commented on #10919
Passed verification on image `master-20211103-2b0f1a1`

[2021-11-03 06:53] #10919 closed

[2021-11-03 06:55] XuanYang-cn commented on #11146
There are 14 `produce error` in `mq_msgstream_test.go`, and no-more infos are given.

- [ ] Make the test log more specific in mq_msgstream_test.go

[2021-11-03 07:00] #11155 closed

[2021-11-03 08:57] #8034 closed

[2021-11-03 09:25] binbinlv opened #11177 "[Enhancement]: Add test cases for searching using time travel with no expressions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

NA

### Why is this needed?

NA

### Anything else?

NA

[2021-11-03 09:41] Murphy-AI commented on #7925
@yanliang567 Hi Yanliang, I have already solved that problem caused by that the proxy failed to connect MinIO service wich I replaced it with Aliyun OSS. So do you have any guide about configuring extenal storage with Aliyun OSS instead of AWS s3...

[2021-11-03 10:07] yanliang567 commented on #7925
@Murphy-AI I am afraid we don't have that kind of guide yet. It would be great appreciated if you could share your experience with community :)

[2021-11-03 10:12] xiaofan-luan opened #11182 "[Feature]: Support KV index for PK deduplication and enhance delete efficienty"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

https://github.com/milvus-io/milvus/issues/10712
https://github.com/milvus-io/milvus/issues/7130

In many situations, milvus need an efficient way to find the  primary key location. For example,  we may want to dedup by primary key, in each write

[2021-11-03 10:15] cydrain commented on #10530
[code]

[2021-11-03 10:57] #8675 closed

[2021-11-03 11:43] #11177 closed

[2021-11-03 12:31] Murphy-AI commented on #7925
@yanliang567 Hi yanlinag, thanks for your reply and help.. Will share my experience with community later when all things figured out. Thanks again, do appreciate it !

[2021-11-03 23:00] mdcroce commented on #9458
Hey @musedivision! Thanks for collaborating to the project. Is this feature in progress? Can I test it? Thanks!

[2021-11-03 23:23] musedivision commented on #9458
Hey @xiaofan-luan,

Thanks so much for responding and providing that info on the enhancement plan.
@czs007 Could you advise on the current progress and the best ways to start contributing?

Unfortunately @mdcroce I have not made any progress on this feature. Using an external store (SQL DB) is still the current method for using strings: https://github.com/milvus-io/milvus/discussions/4942#discussi

[2021-11-04 02:20] XuanYang-cn commented on #8109
Feel free to reopen this if the same issue occurs

[2021-11-04 02:20] #8109 closed

[2021-11-04 02:26] sunby commented on #11034
/unassign @congqixia
/assign @sunby

[2021-11-04 02:33] sunby commented on #11034
@binbinlv What's the latest nightly job?

[2021-11-04 02:39] godchen0212 commented on #11009
The pull request #11097 finishs task 1.

[2021-11-04 02:41] binbinlv commented on #11034
@sunby
The latest nightly relating to this issue is:

https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/206/

Cluster mode:
Log please download through the upper link,

milvus log:
artifacts-milvus-distributed-master-206-e2e-nightly-logs.tar.gz

Test log:
artifacts-milvus-distributed-pymilvus-pytest-logs.tar.gz

And in test log:
drop collection timeout first appears at timeline:

[2021-11-04 03:28] fishpenguin opened #11213 "[Enhancement]: Add regular updateTSO in rocksmq"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Call UpdateTSO in a goroutine when standalone starts.

### Why is this needed?

Currently rocksmq doesn't call updateTSO, cause that the physical time not update.

### Anything else?

_No response_

[2021-11-04 03:52] binbinlv commented on #11034
And through test log, the whole pipeline is:

1 first drop_collection failed for timeout:
[2021-11-02 15:49:17]

2 Then  the latter cases will occur drop_collection and load_collection timeout:
（1) [2021-11-02 15:49:37] drop_collection timeout
  (2) [2021-11-02 15:49:59] drop_collection timeout
  (3) [2021-11-02 15:52:35] load_collection timeout， collection name: search_collection_mypidgIs
  (4) [

[2021-11-04 03:55] wangting0128 opened #11215 "[Bug]: [benchmark][cluster] query: mismatch FieldData in RetrieveResults"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[logs-from-main-in-benchmark-jpbqm-1922291863.txt](https://github.com/milvus-io/milvus/files/7472187/logs-from-main-in-benchmark-jpbqm-1922291863.txt)

client log:
[code]

server:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Anythi

[2021-11-04 03:55] yanliang567 commented on #11215
@cydrain  this issue should be fixed in rc8, thanks

[2021-11-04 04:02] #7543 closed

[2021-11-04 04:08] #10743 closed

[2021-11-04 04:16] #8702 closed

[2021-11-04 04:17] #9658 closed

[2021-11-04 04:17] #9662 closed

[2021-11-04 04:24] #10726 closed

[2021-11-04 04:33] sawyer7246 commented on #11034
drop a collection in standalone mode while the container exit with code 2.
[code]

[2021-11-04 04:34] godchen0212 opened #11217 "[Enhancement]: Add a watchDeltaChannel grpc request from querycoord to querynode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add a watchDeltaChannel grpc request from querycoord to querynode

### Why is this needed?

Let query node to know which delta channel to watch.

### Anything else?

_No response_

[2021-11-04 05:23] spirit832 opened #11223 "[Bug]: Timeout when execute vector search"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

创建了一个集合，插入13000多条记录，向量维度为768，执行向量检索一直超时
Create a index with 13000 entities, the vector dim is 768 and search requests always timeout.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-11-04 05:25] spirit832 commented on #11223
补充说明一下 索引类型为  IVF_FLAT nlist:1024

[2021-11-04 05:27] xiaofan-luan commented on #11223
@spirit832  can you offer milvus logs for further investigation?

[2021-11-04 05:40] spirit832 commented on #11223
{"level":"INFO","time":"2021/11/04 04:56:57.590 +00:00","caller":"grpclog.go:37","message":"[core]Channel Connectivity change to READY"}
{"level":"ERROR","time":"2021/11/04 04:56:57.707 +00:00","caller":"task_scheduler.go:455","message":"Failed to execute task: index not exist","traceID":"217346bb9df061a8","stack":"github.com/milvus-io/milvus/internal/proxy.(*taskScheduler).processTask\n\t/go/src/

[2021-11-04 06:10] zhuwenxing commented on #10712
Verified and passed

[2021-11-04 06:10] #10712 closed

[2021-11-04 06:15] cydrain commented on #10712
this issue is related with #10714

[2021-11-04 06:23] congqixia opened #11224 "[Bug]: Unittest fail since zap_log license change"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Unit test fails in internal/log package

### Expected Behavior

Unit test passes

### Steps To Reproduce

[code]

### Anything else?

log test based on exact line number of test file. License change caused ut fails

[2021-11-04 06:40] #7619 closed

[2021-11-04 06:40] #10430 closed

[2021-11-04 06:58] #11224 closed

[2021-11-04 07:05] w5688414 opened #11228 "[Bug]: milvus端口映射以后Milvus Enterprise Manager访问不了"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

我把milvus映射成了8530，把Milvus Enterprise Manager映射到了8910，然后这两个容器都在同一台服务器上，然后用milvus Enterprise manager连接的时候就显示错误Network Error

但是python客户端能够链接：

[code]

### Expected Behavior

希望能够连接

### Steps To Reproduce

_No response_

### Anything else?

None

[2021-11-04 07:08] shanghaikid commented on #11228
Hi, what's your milvus version ?

[2021-11-04 07:14] w5688414 commented on #11228
1.1.1

[2021-11-04 07:16] #8637 closed

[2021-11-04 07:16] #8725 closed

[2021-11-04 07:22] sunby commented on #11034
This issue is caused by deadlock in querynode. @bigsheeper will fix it in rc8
@yanliang567 @binbinlv

[2021-11-04 07:27] nameczz commented on #11228
How did you fill the milvus address input in milvus em? @w5688414

[2021-11-04 07:29] sunby commented on #11034
Which version  you using?
This issue is fixed in #10288 and you can try it after rc8 release

[2021-11-04 07:31] w5688414 commented on #11228
http://ip:8530

[2021-11-04 07:32] sunby commented on #11034
Which version are you using?
This issue is fixed in #10288 and you can try it after rc8 release

[2021-11-04 07:39] nameczz commented on #11228
Because of we use docker to run em, so ip can't be localhost and 127.0.0.1.
Also milvus 1.1.1 will export 2 ports, 19530 is milvus grpc server, 19121 is http restful server and 19121 is em required.

[2021-11-04 07:41] XuanYang-cn opened #11237 "[Enhancement]: Ut with thirdparty services should be restricted inside the config rootPath scope"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The ut remove data with prefix "/" while using MinIO, this will remove all the data.

Other services also need to be checked.

- [ ] MinIO
- [ ] Etcd
- [ ] RocksDB

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No re

[2021-11-04 07:43] sawyer7246 commented on #11034
my image version is `milvusdb/milvus:v2.0.0-rc7-20211011-d567b21` .
maybe I should try out rc8 release.
anyway, thks for quick reply.

[2021-11-04 07:44] w5688414 commented on #11228
thanks for your reply, it works

[2021-11-04 07:47] nameczz opened #11238 "[Feature]: Get collection alias when describe / list collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

We want to add alias operations in Milvus Insight.
So if we don't know the collection alias, it's hard to delete/alter alias.

### Describe the solution you'd like.

Milvus: 2.0.0-rc7, standalone

When describe / list collections, we can get their

[2021-11-04 08:30] JackYide opened #11243 "[Bug]: Milvus standalone build index failure"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Build index report below error:

[2021-11-04 15:59:57,784][ERROR][ENGINE][operator()][milvus_server] Failed to build index 1636012797781330000, reason: Error in void faiss::Clustering::train_encoded(faiss::Clustering::idx_t, const uint8_t*, const faiss::Index*, faiss:

[2021-11-04 09:05] wangting0128 commented on #9872
update server config：server-single-32c128m
client config：client-get-local50m-512

Verified.

[2021-11-04 09:05] #9872 closed

[2021-11-04 09:06] #8443 closed

[2021-11-04 09:11] bigsheeper commented on #11034
/assign #11249

[2021-11-04 09:59] XuanYang-cn commented on #11237
- [ ] #11255

[2021-11-04 10:00] SuperSupeng commented on #8824
Is there any new progress?

[2021-11-04 10:01] XuanYang-cn commented on #11146
Wating for this timeout error reproducing

[2021-11-04 10:43] sawyer7246 commented on #11034
could you provide me with the rc8 docker-compose file

[2021-11-04 11:22] mingyuz00 opened #11274 "[Bug]: 重启Milvus服务后，检索延迟变高"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus 中存有240万左右的数据，重启前延迟约120ms左右。
重启Milvus服务。
等加载完数据后，调用服务，显示检索延迟约为800ms以上。

### Expected Behavior

重启后，检索延迟与之前保持一致

### Steps To Reproduce

_No response_

### Anything else?

[日志和配置文件.zip](https://github.com/milvus-io/milvus/files/7474360/default.zip)

[2021-11-04 11:28] zhuwenxing opened #11275 "[Bug]: [chaos][standalone]Milvus hangs at creating index after standalone pod kill chaos deleted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus hangs at search after standalone pod kill chaos deleted

### Expected Behavior

All operations work well

### Steps To Reproduce

[code]

### Anything else?

[standalone.log](https://github.com/milvus-io/milvus/files/7474385/standalone.log)

[2021-11-04 11:47] #8775 closed

[2021-11-04 11:47] #8778 closed

[2021-11-04 12:57] leadorzf opened #11281 "[Bug]:DataLoader worker (pid 30295) is killed by signal: Segmentation fault."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

my job mainly embedding 10000 images intomuilvus, the core executing code is below
[code]
by the way, I'm running the code in docker; exactly, this problem is less happened with I am run in host computer;
In other say, "num_workers" and "batch_size" are the key factor

[2021-11-05 01:26] yanliang567 commented on #11281
@yhmo could you please help to look at this issue first?
/assign @yhmo
/unassign

[2021-11-05 01:26] yanliang567 commented on #11275
/assign @xige-16
/unassign

[2021-11-05 01:27] yanliang567 commented on #11274
this is dup to #7313

[2021-11-05 01:27] #11274 closed

[2021-11-05 01:28] yanliang567 commented on #11243
@yhmo Please help to check, this is a 1.x issue
/assign @yhmo
/unassign

[2021-11-05 01:29] yanliang567 commented on #11228
close as it is working now

[2021-11-05 01:29] #11228 closed

[2021-11-05 02:46] xiaofan-luan commented on #11281
seems to hit the same issue here https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-11128/17/pipeline

[2021-11-05 02:56] wangting0128 commented on #11215
fix image： 2.0.0-rc8-20211104-cd29648

[2021-11-05 02:56] #11215 closed

[2021-11-05 03:11] #11090 closed

[2021-11-05 03:38] zhuwenxing commented on #11275
update logs
[standalone.zip](https://github.com/milvus-io/milvus/files/7480389/standalone.zip)

[2021-11-05 04:09] cydrain commented on #10530
Root cause found, in segment 7, all data are duplicated with primary key "7737081"

[code]

[2021-11-05 06:00] #8797 closed

[2021-11-05 06:00] #8822 closed

[2021-11-05 06:18] bigsheeper commented on #10101
/unassign
/assign @binbinlv

[2021-11-05 06:20] bigsheeper commented on #11034
/unassign
/assign @yanliang567

[2021-11-05 06:23] nameczz opened #11307 "[Enhancement]: Add design doc to explain the hybrid time in milvus."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Like to know how to transform UTC timestamp to hybrid time and how to get UTC timestamp from hybrid time.

Also how to use it in Milvus.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-11-05 06:24] nameczz commented on #11307
/assign @DragonDriver

[2021-11-05 06:42] nameczz opened #11308 "[Enhancement]: Support more guaranteeTs setting consistencies"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Related pr: https://github.com/milvus-io/milvus/pull/11276.

We need to support two more consistencies:

- Bounded Staleness: Set GuaranteeTs to an older timestamp, such as 1 minutes ago, the query can be executed immediately within a tolerable range.
- Read your own write (Se

[2021-11-05 06:42] nameczz commented on #11308
/assign @DragonDriver

[2021-11-05 06:43] mingyuz00 commented on #11274
你好，我的Milvus版本是1.1.1。您合并的版本是2.0的。确实有这个问题吗？我需要等新版本发布才能解决嘛？

[2021-11-05 06:44] yanliang567 opened #11309 "[Bug]: standalone response more and more slowly if running for hours with DDL operations"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus standalone responses more and more slowly if running for hours with DDL operations.\
In the following test logs, we can see the scene_test  increased from 63 seconds to 19633 seconds after running 14 hours.
[code]

### Expected Behavior

Milvus response time sh

[2021-11-05 06:46] yanliang567 commented on #11309
@congqixia it this an extended issue for #11148?

/assign @congqixia
/unassign

[2021-11-05 06:46] XuanYang-cn opened #11313 "[Enhancement]: Clear and Unify BaseKV interface behaviour"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

DataKV, MetaKV, and TxnKV all implement BaseKV, but the behaviour of implemented structs are not unified.

We need to check and unify the behaviour of these methods in the interface scope.

- [ ] Load
- [ ] MultiLoad
- [ ] LoadWithPrefix
- [ ] Save
- [ ] MultiSave
- [ ] Remove

[2021-11-05 06:57] #10984 closed

[2021-11-05 07:35] binbinlv commented on #10458
@zhuwenxing  hi, wenxing, Could this issue be closed since your tests have finished?

[2021-11-05 07:38] yanliang567 commented on #11274
yes, please try to use Milvus 2.0 rcX release for latest updates

[2021-11-05 07:40] #10458 closed

[2021-11-05 07:41] zhuwenxing commented on #10458
done

[2021-11-05 07:50] yanliang567 commented on #11309
BTW, in rc7 one scene_test time cost increases as well: from 63s to 3300s after 12 hours running

[2021-11-05 07:51] pallashadow opened #11319 "[Bug]: milvus_gpu_1.1.1 crash on GPU operation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Any GPU operation will cause crash (single CPU 100% for 1 minute, and then docker container stopped and Socket closed) without any error log.
For example, search nq>=gpu_search_threshold, or build index IVF_PQ or IVF_SQ8H.
but nq<gpu_search_threshold on IndexType.FLAT

[2021-11-05 08:08] yanliang567 commented on #11319
@yhmo please take a look at this issue.

/assign @yhmo
/unassign

[2021-11-05 08:43] xige-16 opened #11322 "[Bug]: query node ut panic on get getSegmentInfo when node's session hasn't been initialized"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-11-05 08:44] xige-16 commented on #11322
/unassign @yanliang567
/assign @xige-16

[2021-11-05 09:52] yanliang567 commented on #11034
verified on 2.0.0-rc8-20211104-d1f4106

[2021-11-05 09:52] #11034 closed

[2021-11-05 10:11] czs007 opened #11337 "[Enhancement]: Add extra methods to convert between uint64 and big-endian bytes slice"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add extra methods to convert between uint64 and big-endian bytes slice. They are BigEndianBytesToUint64 and Uint64ToBytesBigEndian.

BigEndianBytesToUint64 converts a byte slice (big endian) to uint64.
Uint64ToBytesBigEndian converts uint64 to a byte slice(big endian).

### Wh

[2021-11-05 11:10] #11337 closed

[2021-11-05 11:48] #8876 closed

[2021-11-05 12:32] zhuwenxing opened #11348 "[Bug]: Querynode and indexnode crashloopbackoff when simdType is set to avx or sse4"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Querynode and indexnode crashloopbackoff when simdType is set to avx

### Expected Behavior

All pods are running

### Steps To Reproduce

[code]

### Anything else?

[milvus_avx.log](https://github.com/milvus-io/milvus/files/7485970/milvus_avx.log)

[2021-11-05 12:33] zhuwenxing commented on #11348
/unassign @yanliang567
/assign @cydrain

[2021-11-05 12:40] zhuwenxing commented on #11348
The node16 supports the CPU Instruction set that milvus required.
![image](https://user-images.githubusercontent.com/12268675/140511136-fcebf749-91cf-4bfd-af90-17d86a8a9f9e.png)

pod list
[code]

[2021-11-05 12:48] #8734 closed

[2021-11-05 12:48] #8890 closed

[2021-11-05 12:48] #8379 closed

[2021-11-06 01:34] cydrain commented on #10530
/assign @wangting0128
/unassign

[2021-11-06 06:33] binbinlv commented on #10101
Verified in the following build:

Milvus: 9885838
pymilvus: 2.0.0rc9.dev2

Results:
1 when guarantee_timestamp is smaller than system service time (for example, insert_res.timestamp + 1000), it will instantly search until this guarantee timestamp, but inserted before this time stamp could not be searched.

2 when guarantee_timestamp is bigger than system service time (for example, insert_res.times

[2021-11-06 09:54] congqixia opened #11372 "[Enhancement]: Batch consume for rmq internal loop"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Allow rocksmq internal consume loop perform batch Consumer on rocksdb.

### Why is this needed?

When doing fast forwarding on a topic, each consume call with size of 1 will lead to lots of random read in rockdb, which will damage the efficiency of the system

### Anything els

[2021-11-06 09:58] #7374 closed

[2021-11-06 10:58] #8922 closed

[2021-11-06 11:15] #11036 closed

[2021-11-06 11:28] pallashadow commented on #11319
`2021-11-06 19:21:46,000][DEBUG][ENGINE][UpdateCollectionFilesToIndex][reqsched_thread] Update files to to_index, collection id = test01
[2021-11-06 19:21:50,252][DEBUG][SERVER][erase_internal][milvus_server] [CACHE CPU] Erase /var/lib/milvus/db/tables/test01/1636197683299099000/1636197683299099000 size: 49MB from cache
[2021-11-06 19:21:50,252][DEBUG][SERVER][erase_internal][milvus_server] [CACHE

[2021-11-06 23:57] #5463 closed

[2021-11-07 03:52] #7389 closed

[2021-11-07 09:09] #11013 closed

[2021-11-07 09:09] #11217 closed

[2021-11-07 09:10] godchen0212 opened #11390 "[Enhancement]: Reschedule watch delta channel when loadSegment reschedule"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Reschedule watch delta channel when loadSegment reschedule

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-11-07 12:44] devkapilbansal commented on #6162
Hi,
Although I am trying to look into this. I am currently busy and may not get sufficient time to work. Anyone feel free to work on this if it's urgent.

[2021-11-08 02:31] #11322 closed

[2021-11-08 02:32] xige-16 commented on #11079
/unassign

[2021-11-08 02:33] binbinlv commented on #7910
@fishpenguin hello, kun, any updates?

[2021-11-08 02:36] wangting0128 commented on #8445
argo task: benchmark-tag-cghh2

test yaml:
client-configmap:client-random-locust-search-84h-1b
server-configmap:server-cluster-3rd-8c64m-datanode2-indexnode4-querynode6

server:
[code]

<img width="1916" alt="截屏2021-11-08 10 35 42" src="https://user-images.githubusercontent.com/26307815/140675532-98aa2008-fd61-4b95-a917-10c3f6ad293c.png">

Four indexnodes, only three nodes are working.

[2021-11-08 02:37] xige-16 commented on #10295
[DEBUG] [cluster.go:248] ["LoadSegments: queryNode load segments error"] [nodeID=8] ["error info"="rpc error: code = Unknown desc = load segment failed, OOM if load
rc
The rc7 version judges whether the memory can be loaded according to the size of the original vector when loading, it should be that the available memory is less than the total size of the original vector

[2021-11-08 02:39] xige-16 commented on #10295
If an index is created, rc8 will judge whether it can be loaded according to the index size, which will alleviate the problem of insufficient memory during load, you can try rc8

[2021-11-08 02:41] binbinlv commented on #10268
No error any more, closed.

[2021-11-08 02:44] wangting0128 commented on #10198
Verified
<img width="1851" alt="截屏2021-11-08 10 43 35" src="https://user-images.githubusercontent.com/26307815/140676164-c3d0ad4e-098a-44e6-8526-bb3172c8df16.png">

[2021-11-08 02:44] #10198 closed

[2021-11-08 02:45] wangting0128 commented on #10530
verified

[2021-11-08 02:45] #10530 closed

[2021-11-08 02:47] ThreadDao opened #11403 "[Bug]: Failed to delete selaed data with flushed delete request occasionally"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. create and insert ids [0, 100)
2. delete id=0 and flush
3. load and query id=0
4. sometimes return entity id=0
[code]

### Expected Behavior

Always return empty

### Steps To Reproduce

[code]
[code]

[2021-11-08 03:01] wangting0128 opened #11406 "[Bug]: [benchmark][cluster] search error: No Available Query node result"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client log:
[code]

server:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Anything else?

client-acc-glove-ivf-flat：
[code]

[2021-11-08 03:10] binbinlv commented on #10101
@bigsheeper

Could you help to verify the upper results?

As my understanding, if I use insert_res.timestamp as guarantee timestamp, it could wait and return the inserted entities, but now it returns empty as scenario 1 in "Results" of last comments.

[2021-11-08 03:14] binbinlv commented on #11148
Lower down the parallel number from 6 to 4. And tests still hangs from test client side:
[code]

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/210/pipeline/71/

Logs:
https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/210/

[2021-11-08 03:16] cydrain commented on #11406
/assign

[2021-11-08 03:38] cydrain commented on #11348
The valid values for configuration "knowhere::simdType" are: auto, avx512, avx2 and sse

[2021-11-08 03:39] cydrain commented on #11348
@yanliang567 please roll back #11361

[2021-11-08 03:42] cydrain commented on #11348
/assign @yanliang567

[2021-11-08 03:50] binbinlv commented on #11148
And in cluster mode, tests hangs at the very beginning.
[code]

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/210/pipeline

Logs:
https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/210/

[2021-11-08 03:54] xiaofan-luan commented on #7706
Hey matrixji, sorry for the late reply~ how is the current progress?
We are thinking of building a windows ci pipiline for building milvus and runing the test cases through, do you think we are ready for this?

[2021-11-08 03:57] xiaofan-luan commented on #7706
/assign @LoveEachDay do you think it is reasonable for adding a pipeline for windows compilation? That would be great to the users running on windows platform~

[2021-11-08 03:57] xiaocai2333 commented on #8445
/assign

[2021-11-08 04:02] danielfree opened #11409 "[Enhancement]: better Java SDK binary vector support"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Detailed documentation and  maybe new helper functions in Java SDK to use binary vectors.

### Why is this needed?

Milvus treats each byte(8 bit) as 8 dimensions, in Python&Go we can use 'unit8' to represent binary vector like '10101100', then directly convert to bytes.

Howe

[2021-11-08 04:26] yhmo commented on #11409
Milvus 1.x or 2.0?
Now the java sdk for 2.0 is in testing. It also use ByteBuffer for binary vectors.
Could you provide some example code for "Byte.valueOf(binaryString, radix=2) method will throw exception"?

[2021-11-08 04:30] danielfree commented on #11409
@yhmo
I guess the caveat is:  we can't directly use `Byte.valueOf(binaryString, 2)` method, the possible solution goes like this

[code]

[2021-11-08 04:55] matrixji commented on #7706
3 related PRs for full compiling under windows are under review. #9105 #9106 #11388.
Currently, my personal [windows-dev branch](https://github.com/matrixji/milvus/tree/windows-dev) contains a GitHub action for compiling/package under windows/MSYS(Only compile and package, no Testing). IMO, for contributing this whole part, we have 2 options:
- Raise PR after the above-related changes Merged, as t

[2021-11-08 06:21] congqixia opened #11418 "[Bug]: MqttMsgStream with rmq may consume part of msgstream input before seek"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

There is a probability that consumer with MqttMsgStream(with RMQ underhood) may consume messages before seek.

### Expected Behavior

After seek, old messages should not appear in the output

### Steps To Reproduce

[code]

### Anything else?

Amplified by PR #11373

[2021-11-08 06:36] cydrain commented on #11406
[query_node.log](https://github.com/milvus-io/milvus/files/7494748/query_node.log)
[code]

[2021-11-08 07:09] cydrain commented on #11406
cannot find where this error msg is printed out in segcore

[2021-11-08 07:16] binbinlv commented on #10101
Update:
could reproduce in both standalone and cluster mode.

milvus: db6ecd5
pymilvus: 2.0.0rc9.dev3

[2021-11-08 07:22] xiaofan-luan commented on #7706
Sure, Let us review through all the related PRs one by one, once those are all in we can setup a CI pipeline to see if unit test/ integration test can be run under windows environemnt

[2021-11-08 07:24] xiaofan-luan commented on #7706
I would also prefer the first choice, let's move in all the prs step by step, probably after 2.0-GA release thus it won't block current stability

[2021-11-08 07:25] XuanYang-cn commented on #11313
[code]

[2021-11-08 07:30] yanliang567 opened #11424 "[Enhancement]: Remove pytest-dependency in requirements.txt"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

pytest-dependency is not used anymore.
please try to remove it in requirements.txt

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-11-08 07:31] XuanYang-cn opened #11426 "[Bug]: DropCollection handles resources"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

- [x] DropCollection handles resources design docs @XuanYang-cn #11450
- [x] DataNode impl #11552
- [x] DataCoord impl

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-11-08 09:11] zhuwenxing opened #11434 "[Bug]: Loadbalance still works when param dst_node_ids is wrong"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Loadbalance still works when param dst_node_ids is wrongLoad balance

Suppose there are two querynodes with nodeID 5 and 6 respectively. When calling the loadbalance function, two situations are set:
Same as src and dst
src_node_id = 5
dst_node_ids = [5]
=============

[2021-11-08 09:20] xige-16 commented on #11434
/assign
/unassign @yanliang567

[2021-11-08 09:57] Bennu-Li opened #11438 "[Bug]: Part of the data is lost when inserting concurrently"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I use 8 processes to insert data into Milvus concurrently, each process inserts 10000 vectors each time, a total of 10000000 are inserted. After inserting, then I use collection.count_entities() to get the number of vectors in the collection, it returns 9932409.

Duri

[2021-11-08 12:56] #11372 closed

[2021-11-08 12:57] #11418 closed

[2021-11-08 14:08] xiaofan-luan commented on #10683
@XiaoLiuAI could you try RC8 and see if the same issue can be reproduced? Also please use English to issue a request, thanks

[2021-11-08 14:09] xiaofan-luan commented on #7349
should be solved by current master , could you please verify it @BUPTAnderson

[2021-11-08 14:10] xiaofan-luan commented on #9842
@hasukmistry hi there~any progress on this?

[2021-11-08 14:16] xiaofan-luan commented on #10946
@githublaohu please use english to communicate~ sorry for the inconvenience but it could help more people

[2021-11-08 14:18] xiaofan-luan commented on #10946
For how to develop milvus, see DEVELOPING.md
For how run milvus, easiest way is to use docker compose, or run ./start_standalone.sh under scripts dir

[2021-11-08 14:20] xiaofan-luan commented on #9613
/assign sunby

[2021-11-08 17:15] #8917 closed

[2021-11-09 01:09] yanliang567 commented on #11438
@sunby please help to check whether pulsar service is the bottleneck in this case? Also how to deliver this message to the users so that they could fix issue by themselves

/assign @sunby
/unassign

[2021-11-09 01:10] #11424 closed

[2021-11-09 01:11] yanliang567 commented on #11348
@zhuwenxing please help to verify the fix

[2021-11-09 01:54] yanliang567 commented on #11223
Not reproduced locally with the same configs as describe above.
@spirit832 did you reinstall the Milvus after inserting and before searching? Also after inserting, how long did you wait before searching? I am asking because I doubt that it is dup to #7313

/assign @spirit832
/unassign

[2021-11-09 02:21] NotSky opened #11477 "[Bug]: milvus server unable to respond client request，but server is running"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

**现象：**所有的search delete count等操作都无法响应，最终超时。
docker ps查看镜像正常在跑。
error.log无错误日志。
info.log正常。
debug.log有疑似日志如下：
[2021-11-08 15:54:41,840][DEBUG][ENGINE][CleanUpFilesWithTTL][milvus_server] File:1636347947276779000 currently is in use, not able to delete now
[2021-11-08 1

[2021-11-09 02:47] binbinlv commented on #11148
The latest nightly hangs again:

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/212/pipeline

Logs:
https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/212/

[2021-11-09 02:47] binbinlv commented on #11148
@congqixia any updates?

And could you please update what you have found in this issue?  Thanks.

[2021-11-09 02:50] congqixia commented on #11148
Nightly 210 and 212 both hang when datanode tried to Seek using MqttMsgstream. In distributed cases, the under-hood component should be pulsar. Still trying to find the root cause.

[2021-11-09 06:34] yhmo commented on #11409
The author of this [article](https://blog.csdn.net/asd4687/article/details/51966212) also face similar problem. Java doesn't support unsigned byte, so programmers need to firstly cast it to short/int, then use 0xff to mask to byte.

[2021-11-09 06:59] parthplc commented on #766
In my case it was caused due full diskspace

[2021-11-09 07:32] binbinlv opened #11494 "[Bug]: Test logs are mixed up when using multiple processes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Test logs are mixed up when using multiple processes

### Expected Behavior

Test logs are separated based on process

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-11-09 09:29] cydrain commented on #10721
/close

[2021-11-09 09:29] #10721 closed

[2021-11-09 09:36] cydrain opened #11506 "[Bug]: Param table is initialized twice"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

SIMD is initialized twice

[code]

### Expected Behavior

Param table should be initialized just once.

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-11-09 09:37] cydrain commented on #11506
/assign

[2021-11-09 09:43] fishpenguin opened #11507 "[Enhancement]: Check rocksmq retention only by page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Check rocksmq retention timestamp and size only by page

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-11-09 09:43] cydrain commented on #11506
First call:
[code]

Second call:
[code]

[2021-11-09 10:58] yanliang567 commented on #10050
@zhuwenxing could you please help to verify this issue, thx.
/assign @zhuwenxing

[2021-11-09 11:58] haorenfsa commented on #7769
Maybe I can do this.
Will a proper expire time be enough, Like github.com/patrickmn/go-cache?
@xiaofan-luan

[2021-11-09 12:18] zhuwenxing commented on #10050
It looks good in version `master-20211108-96cd935`
![image](https://user-images.githubusercontent.com/12268675/140922867-8cdfde3d-7a2f-41bb-b372-cdacaf4350ba.png)

[2021-11-09 12:25] yanliang567 opened #11529 "[Enhancement]: Add tests to verify only one index can be built for a collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

we want to limit that only one index can be created for a collection. when this is done, tests shall be added to verify it.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-11-09 12:57] cydrain commented on #11406
https://argo-test.zilliz.cc/workflows/qa/yanliang-test-cleanup-s4svb?tab=workflow&nodeId=yanliang-test-cleanup-s4svb-2477813711

[2021-11-09 13:03] cydrain commented on #11406
/assign @wangting0128

[2021-11-10 02:06] #9904 closed

[2021-11-10 02:32] zhuwenxing commented on #10050
After running 12+ hours, CPU usage is still normal.
![image](https://user-images.githubusercontent.com/12268675/141038879-4501abb0-90cf-4db9-86aa-d7fa338cea44.png)

[2021-11-10 06:30] cydrain opened #11549 "[Enhancement]: Use API HandleCStatus to handle CStatus return by CGo"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

See many code pieces like following:
[code]
The better way is to use API HandleCStatus to deal with CStatus returned by CGo.

### Why is this needed?

Make code clean

### Anything else?

_No response_

[2021-11-10 06:30] cydrain commented on #11549
/kind improvement

[2021-11-10 06:30] cydrain commented on #11549
/assign

[2021-11-10 07:07] congqixia opened #11553 "[Feature]: Background gc to recycle orphan OSS files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Dropped collection segment files or datanode failure remnant remains in SSO(minio/S3)
Also compaction feature shall use same mechanism to clean up segment before compaction.

### Describe the solution you'd like.

Add component run background gc i

[2021-11-10 07:07] #11529 closed

[2021-11-10 07:34] binbinlv commented on #11148
Nightly 213 still exists;

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/213/pipeline

Logs:
https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/213/

Timeline:
[code]

[2021-11-10 08:49] sunby opened #11558 "[Enhancement]: Add segment drop logic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

DataNode will add a drop flag in SaveBinlogPathRequest after it recieved a DropCollection message. We add the logic to handle it.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-11-10 08:49] sunby commented on #11558
/assign @sunby

[2021-11-10 09:28] cydrain commented on #11506
/close

[2021-11-10 09:28] #11506 closed

[2021-11-10 09:54] DragonDriver opened #11560 "[Enhancement]: A util transfer column-based insert data to rows"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I want to add a util which transfer the column-based insert data to rows.

### Why is this needed?

With doing this, it's convinient for the develpers those who only want the final binary rows. Then they can concentrate on the main workflow instead of caring the mess encoding/

[2021-11-10 09:54] DragonDriver commented on #11560
/assign

[2021-11-10 15:03] yamasite opened #11613 "[Bug]: Broken example links in Python Tutorial"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Broken example links in https://milvus.io/api-reference/pymilvus/v2.0.0rc8/tutorial.html

- https://github.com/milvus-io/pymilvus/blob/main/examples/example.py
- https://github.com/milvus-io/pymilvus/blob/main/examples/collection.py
- https://github.com/milvus-io/pymi

[2021-11-10 16:57] godchen0212 commented on #11390
/close

[2021-11-10 16:57] #11390 closed

[2021-11-10 16:58] godchen0212 commented on #11014
/close

[2021-11-10 16:58] #11014 closed

[2021-11-11 01:03] yanliang567 commented on #11613
@shanghaikid  could you please help to fix it

/assign @shanghaikid
/unassign

[2021-11-11 01:06] #9604 closed

[2021-11-11 01:11] #11223 closed

[2021-11-11 01:18] spirit832 commented on #11223
感觉单机版确实不稳定，通过pymilvus持续插入数据时会经常死掉，测试过程中docker-compsed多次崩溃、停止、手动重启，组后导致已无法运行，重新装了一个，继续测试，暂时关闭这个 issues ，感谢支持。

[2021-11-11 01:39] yanliang567 commented on #11477
@yhmo please help to take a look
/assign @yhmo
/unassign

[2021-11-11 01:40] yanliang567 commented on #11494
@ThreadDao is it done now?

[2021-11-11 01:40] yanliang567 commented on #11507
/assign @fishpenguin

[2021-11-11 02:06] yanliang567 commented on #11309
on master-20211109-5ec895f, one scene_test time cost increases from 65s to 6800s after 36 hours running

[2021-11-11 02:53] Bennu-Li commented on #11438
I deploy a new Milvus cluster, and test again. This time, all services are running normally. But it still lost part of data.

And then i call collection.load(). After the load ends, the total number of entities in the collection is not equal to the number of load entities.

<img width="720" alt="截屏2021-11-11 上午10 52 39" src="https://user-images.githubusercontent.com/53458891/141228901-57140def-e74

[2021-11-11 02:55] zhuwenxing opened #11629 "[Enhancement]: Add more testcases for de-dup search and query"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add more testcases for de-dup search and query

### Why is this needed?

Cover more situation

### Anything else?

_No response_

[2021-11-11 02:58] godlockin commented on #6857
@yhmo it will be quite helpful for us to have the api, so maybe team can take this into dev plan then?

[2021-11-11 03:25] amitabhama opened #11636 "[Bug]: dim 4864 data java code has no searching result"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

when use 4096 dim data, java & python code searching result is ok, when use 4864 dim data, python code searching result is right, java code has no search result , and there is no error.   when I. check debug.log , there is no error, there is the debuglog.

[2021-11-11

[2021-11-11 03:26] ThreadDao commented on #11403
Fixed

[2021-11-11 03:26] #11403 closed

[2021-11-11 06:58] ThreadDao opened #11641 "[Bug]: Search return the deleted ids when create index"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. insert 3000 entities with ids range [0, 3000)
2. delete half ids [0, 1500)
3. flush
4. create index
5. search with first entity (id=0)
6. get deleted ids {856, 1393, 1283}
[code]

### Expected Behavior

No deleted ids returned

### Steps To Reproduce

[code]
[code]

[2021-11-11 07:31] SuoSiFire opened #11644 "[Bug]: MilvusV1.1.1, search failed."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When i I have built an index, and I can get the results of the query ，and no longer insert data, but when it runs for a long time, there will be an error in the log, only restart to solve the problem.

collection config
{
    "colName": "test",
    "dimension": 128,

[2021-11-11 07:54] zhuwenxing opened #11645 "[Bug]: Config of simdType doesn't take effect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When config of simdType is set to avx, the true simdType getting from milvus is sse4_2
When config of simdType is set to avx512, the true simdType getting from milvus is avx2

### Expected Behavior

smidType in config and milvus system are same

### Steps To Reproduce

[2021-11-11 08:34] sunby opened #11649 "[Bug]: Watch channel with nil seek position"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

flush slowly

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-11-11 08:44] jingkl opened #11651 "[Bug]: Milvus 2.0 rc8 collection load error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Insert 10w data, create IVF sq8 index.
2. Then load data error, as shown in the figure appears
![1](https://user-images.githubusercontent.com/34296482/141266167-1d033ecd-9bd1-4228-a3c9-6d0e847dd085.jpg)
[log.txt](https://github.com/milvus-io/milvus/files/7518994/lo

[2021-11-11 08:44] XuanYang-cn commented on #11613
fix broken link in doc milvus-io/pymilvus#812

[2021-11-11 08:45] ThreadDao commented on #10459
Ci failed on this case: https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-11642/1/pipeline
[code]

[2021-11-11 08:58] yanliang567 commented on #11645
@cydrain could you please help to check this issue, I am not sure whether it is configured wrong in milvus init or returns wrong in getMilvusMetrics

/assign @cydrain
/unassign

[2021-11-11 09:07] yanliang567 commented on #11651
/assign @xige-16
/unassign

[2021-11-11 09:07] yanliang567 commented on #11649
/unassign
/assign @sunby

[2021-11-11 09:08] yanliang567 commented on #11636
/assign @yhmo
/unassign

[2021-11-11 09:29] cydrain commented on #11645
When Milvus bootup, it will check if configured SIMD is supportable, if not, lower level SIMD will be set.
| configuration | returned SIMD |
-------------------------------------------
| auto | avx512/avx2/sse4_2|

[2021-11-11 09:31] cydrain commented on #11645
/assign @zhuwenxing

[2021-11-11 09:35] yanliang567 commented on #11645
@zhuwenxing so does the node support all the types in test env?

[2021-11-11 09:37] zhuwenxing commented on #11645
No!  Some nodes don't support AVX512.

[2021-11-11 09:40] SuoSiFire commented on #11644
Add some information that may be useful.

I first create a collection, build an index, and execute pre load when data is written to the collection. When all the data is inserted, the index will be built again. Then start the search again  and encountered the above problem

[2021-11-11 09:41] zhuwenxing commented on #11645
This makes sense!
The result follows this rule

[2021-11-11 09:41] #11645 closed

[2021-11-11 09:44] zhuwenxing commented on #11645
So we need to modify  the assertion to follow this rule

[2021-11-11 09:47] spirit832 commented on #11651
关注一下，刚刚发生了同样的问题
standalone
2.0.0rc7
Ubuntu
16GMemory

Data: 25000+
![QQ图片20211111174647](https://user-images.githubusercontent.com/19635040/141276258-96dcbf8d-e5f5-4b25-bec1-a512a3cd9ea6.png)
[log.txt](https://github.com/milvus-io/milvus/files/7519419/log.txt)

[2021-11-11 10:20] why20000101 commented on #5529
my bug：
 'NoneType' object has no attribute 'count_entities' images in this set
![image](https://user-images.githubusercontent.com/83963866/141277595-cb88aed6-5379-4bd0-9bac-aaaa91a7cead.png)
Check my logs：
Request timeout:
2021-11-11 09:27:33,212 - root - ERROR - Cannot check server version: Request timeout
2021-11-11 09:27:33,212 - root - ERROR - 'NoneType' object has no attribute 'drop_collecti

[2021-11-11 10:23] xiaofan-luan commented on #6843
@DragonDriver  we should add distance in the returned result, how about reverse score for IP so we always follow smaller score wins

[2021-11-11 10:28] xiaofan-luan commented on #7158
This may not be a issue, if you write less than 1024 entities then no index will be build this entities is less than nlist. the data is still visible and once compaction happens we will build index on top of them @yanliang567

[2021-11-11 10:32] xiaofan-luan commented on #7690
can we still reproduce after go version increase?

[2021-11-11 10:51] xiaofan-luan commented on #8563
close because of duplication with #7543

[2021-11-11 10:51] #8563 closed

[2021-11-11 10:52] xiaofan-luan commented on #8568
@congqixia anything left on close this issue?

[2021-11-11 10:53] xiaofan-luan commented on #8824
Still trying to work on that, any more observation?