[2022-06-22 07:17] longjiquan commented on #17702
/unassign @yanliang567
/assign @cydrain

[2022-06-22 07:18] longjiquan commented on #17702
Add `-fsanitizer=address` to compiler flags and link flags, and then compile unittests and then run case `TEST(BinIVFFlat, Build_and_Query)`.

[2022-06-22 07:28] longjiquan commented on #17639
![image](https://user-images.githubusercontent.com/31589260/174969734-b99deaf2-1ac7-4347-8f9e-7f7f61cb3346.png)

[2022-06-22 07:34] zhuwenxing opened #17704 "[Bug]: Flush hangs after Milvus with kafka mq recovered from all cluster pod kill chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/174970058-95d14329-a0d3-4057-bb64-d87a1d8e3ed5.png)
log in proxy pod
[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: https://github.com/milvus

[2022-06-22 07:38] zhuwenxing commented on #17704
/assign @XuanYang-cn

please help to take a look

[2022-06-22 07:39] bigsheeper commented on #17537
**DataCoord unsubscribe the same channel over and over again:**

![nhhjo6VYd4](https://user-images.githubusercontent.com/42060877/174970849-fe57a00d-35a5-4656-88da-2d3835b62cd3.jpg)

**There should be many duplicated channels in `NodeChannelInfo's Channels`, which is logically not correct.**

![c8yRYSakaP](https://user-images.githubusercontent.com/42060877/174971195-950cd037-9baa-407e-bb43-ff07b89

[2022-06-22 07:40] longjiquan commented on #17639
This error reported after all tests have been passed, which is similar to the issue of Proxy ut. So I strongly suspect the easylogging caused this issue.

[2022-06-22 07:45] xige-16 commented on #17513
[code]

[code]

[2022-06-22 07:45] bigsheeper commented on #17537
Guess DataCoord cost much time to unsubscribe these plenty of duplicatehed channels, which caused DataCoord to failed to start or evict old DataNode.

[2022-06-22 07:51] jingkl opened #17705 "[Bug]: [benchmark][cluster]High number of goroutines in Milvus rootcoord"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo
benchmark-tag-no-clean-szhfb
server-configmap
server-cluster-8c64m
client-configmap
client-random-locust-100m-ddl-r8-w2-10m
<img width="1917" alt="20220622-154813" src="https://user-images.githubusercontent.com/34296482/174974141-0b19ceab-ec40-4317-b6c7-24e7296aa

[2022-06-22 07:53] sunby commented on #17508
There is a bug in datacoord. Consider this situation, a segment is allocated by datacoord and the proxy try to insert some records to it. But pulsar is killed at this moment and this segment is still empty. After calling Flush on proxy, datacoord will retrun a segment list containing segments that are waiting to be flushed. But datacoord won't flush empty segment, so this segment's state is always

[2022-06-22 08:12] xiaofan-luan commented on #17637
I thought we did do create index after insertition again?

[2022-06-22 09:04] wziyang opened #17709 "[Bug]: Milvus's K8S cluster is unavailable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I deployed a Milvus cluster with Helm.
*****************
helm install ${MILVUS_CLUSTER_NAME} milvus/milvus --set etcd.replicaCount=3 --set proxy.replicas=3 --set service.type=NodePort --set service.nodePort=${MILVUS_CLUSTER_PORT} --set queryNode.replicas=3 --set index

[2022-06-22 09:09] wziyang commented on #17709
There is an abnormal format in a place, and I rewritten it here
helm install MILVUS_CLUSTER_NAME milvus/milvus --set etcd.replicaCount=3 --set proxy.replicas=3 --set service.type=NodePort --set service.nodePort=MILVUS_CLUSTER_PORT --set queryNode.replicas=3 --set indexNode.replicas=3 --set dataNode.replicas=3 --set log.persistence.enabled=true --set log.level=debug

[2022-06-22 09:12] yhmo opened #17711 "[Bug]: Error after upgrade milvus to latest version: collection 'XYZ' as not been loaded to memory or load failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Upgrade milvus from milvusdb/milvus-dev:master-20220412-4781db8a to milvusdb/milvus-dev:master-20220621-e43f487f

We created a cluster of 9 shards 3 Query nodes, and ingested 17M vectors of 1024 Dim. We were checking in parallel, if its in accessible state or not, by

[2022-06-22 09:13] yhmo commented on #17711
Reported by Slack thread: https://app.slack.com/client/TM98LD8DQ/CMNHUC371/thread/CMNHUC371-1655823407.763429?cdn_fallback=2

[2022-06-22 09:57] Yuxiang1995 opened #17712 "[Bug]: query stuck when the number of vectors over 10M"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I insert 1M vectors with 2048 dim into the collection, the query operation is fine. But when the number of vectors increases to 10M, the query will be stuck without any logs.

### Expected Behavior

Search success

### Steps To Reproduce

_No response_

### Milvu

[2022-06-22 10:23] XuanYang-cn commented on #17107
![image](https://user-images.githubusercontent.com/51370125/175006633-3742627a-8d8f-4cb5-b432-63dd12496b72.png)

DataCoord flushed this segment, yet DataNode is still receiving insert data of it.

[2022-06-22 11:00] #17689 closed

[2022-06-22 11:18] yanliang567 commented on #17712
@Yuxiang1995 thank you for the issue, could you please use this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

/assign @Yuxiang1995
/unassign

[2022-06-22 13:01] longjiquan commented on #17702
/assign @Presburger

[2022-06-22 13:05] SimFG opened #17718 "[Enhancement]: Node server can't retry when it's unhealthy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

If failed to check the node health, the function return nil error, which causes the grpc retry policy can't take effect.

For example: CreateCollection
![image](https://user-images.githubusercontent.com/21985684/175035788-28330ae2-bd5f-497d-a5ac-5988e57a78f8.png)

### Why is t

[2022-06-22 13:46] #17685 closed

[2022-06-22 13:49] xiaofan-luan commented on #17651
pls help on verification. All index/data OOM should be fixed by 17689

[2022-06-22 13:57] xiaofan-luan commented on #13045
should be fixed by #17689

[2022-06-22 17:56] #17024 closed

[2022-06-22 17:56] #16971 closed

[2022-06-22 17:56] #16452 closed

[2022-06-23 01:01] weiwang19 opened #17723 "[Bug]: Vector indexing stuck after increase segment size"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I increase segment size to 1024 MB,  indexing stuck at around 16M vectors.  Restart the indexing client and connection to Milvus timeout, need to restart the cluster to connect again.

segment:
    maxSize: 1024  # Maximum size of a segment in MB

index type: IVF

[2022-06-23 01:30] yanliang567 commented on #17711
/assign @xige-16
/unassign

[2022-06-23 01:37] yanliang567 commented on #17723
@weiwang19 Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

[2022-06-23 01:50] yanliang567 commented on #17709
@wziyang thank you for the issue.
it seems that the timeticks is very slow which caused milvus components unhealthy and restart. It usually caused by etcd running against a slow persistent volume. Do you run etcd on SSD volume? if not I recommend you run etcd on SSD volumes.
[code]

/assign @wziyang
/unassign

[2022-06-23 01:52] yanliang567 commented on #17697
postpone to 2.1 GA

[2022-06-23 02:02] zhuwenxing commented on #17537
failed job: https://github.com/milvus-io/milvus/runs/7010469294?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/7047621582/artifacts/277627549

[2022-06-23 02:07] Yuxiang1995 commented on #17712
@yanliang567 the whole logs is large

[2022-06-23 02:09] zhuwenxing commented on #17647
It works well when upgrading from bitnami/etcd:3.5.0-debian-10-r24 to milvusdb/etcd:3.5.0-r3.

So remove the critical label!

[2022-06-23 02:10] binbinlv commented on #13045
Did not occur last nightly, cancel urgent first, and will close it if it it is not reproduced for several days.

[2022-06-23 02:10] wziyang commented on #17709
@yanliang567 Thank you for your reply, It is indeed not SSD, may I ask how to recover data in this case？

[2022-06-23 02:14] binbinlv opened #17725 "[Bug]: [Nightly] "wait_for_compaction_completed" is failed for "Get compaction state timeout""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

wait_for_compaction_completed is failed for "Get compaction state timeout"

[code]

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Milvus Log

1. milvus log:
[artifacts-milvus-distributed-kafka-master-609-pymilvus-e2e-logs.tar.gz](https://ci.milv

[2022-06-23 02:15] zhuwenxing commented on #17286
a failed job with `milvusdb/etcd:3.5.0-r3`

failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/7031/pipeline
log: [artifacts-datanode-network-partition-7031-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8963063/artifacts-datanode-network-partition-7031-server-logs.tar.gz)

[2022-06-23 02:19] wayblink opened #17726 "[Bug]: WatchDmChannelsRequest can be too large to save in etcd"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

{"log":"[2022/06/20 12:51:26.001 +00:00] [WARN] [task_scheduler.go:554] [\"failed to execute task\"] [error=\"rpc error: code = ResourceExhausted desc = trying to send message larger than max (3134501 vs. 2097152)\"]\n","stream":"stdout","time":"2022-06-20T12:51:26.00

[2022-06-23 02:20] zhuwenxing commented on #17556
failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/7025/pipeline/224
log:[artifacts-querynode-pod-failure-7025-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8963075/artifacts-querynode-pod-failure-7025-server-logs.tar.gz)

failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/7013/pipeline/
log: [art

[2022-06-23 02:22] zhuwenxing commented on #17556
@yah01
Please help to take a look

[2022-06-23 02:22] jingkl commented on #17434
argo
benchmark-cron-1655913600-5
server-configmap
server-cluster-8c16m
client-configmap
client-acc-glove-ivf-flat

master-20220622-f4c6a673
pymilvus 2.1.0dev78
[code]
client log:
[code]

[2022-06-23 02:24] jingkl commented on #17434
This problem still exists @xige-16 @czs007

[2022-06-23 02:26] yanliang567 commented on #17709
As you only have 100k data inserted, I suggest you reinstall a new cluster.

[2022-06-23 02:32] yanliang567 commented on #17712
google drive or baidu drive might help, if it is still too large after zip

[2022-06-23 02:37] zhuwenxing commented on #17286
GitHub Action failed job
failed job: https://github.com/zhuwenxing/milvus/runs/7010643370?check_suite_focus=true
log: https://github.com/zhuwenxing/milvus/suites/7047794323/artifacts/277627472

[2022-06-23 02:43] XuanYang-cn commented on #16753
/reopen
/unstale

[2022-06-23 02:44] longjiquan commented on #17639
Anyone interested in why this happend please refer to https://gcc-help.gcc.gnu.narkive.com/KZGaXRNr/global-variable-in-static-library-double-free-or-corruption-error.

[2022-06-23 02:58] wayblink commented on #17726
/assign

[2022-06-23 02:58] #17696 closed

[2022-06-23 02:58] wayblink commented on #17726
/unassign @yanliang567

[2022-06-23 03:16] zhuwenxing commented on #17627
failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/7068/pipeline
log:[artifacts-querynode-pod-kill-7068-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8963358/artifacts-querynode-pod-kill-7068-server-logs.tar.gz)

[2022-06-23 03:39] zhuwenxing commented on #17627
same as https://github.com/milvus-io/milvus/issues/17203

[2022-06-23 04:03] #17681 closed

[2022-06-23 04:57] zhuwenxing opened #17733 "[Bug]: Create index timeout after all kinds of pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Create index timeout when running `test_e2e.py`
[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/7073/pipeline
log: [arti

[2022-06-23 05:01] yah01 commented on #17203
It looks like QueryNode processes handoff request with the segments' NodeID, which is deprecated

[2022-06-23 05:14] zhuwenxing commented on #17733
This issue happened in all pod kill chaos tests, and it works well in `master-20220622-f4c6a673`.

So it would be the PR merged in today that caused this problem, maybe https://github.com/milvus-io/milvus/pull/17717 ?

[2022-06-23 05:17] zhuwenxing commented on #17733
/assign @xiaocai2333

Please help to take a look!

[2022-06-23 05:55] zhuwenxing commented on #17203
It would be better to discuss the new issue at https://github.com/milvus-io/milvus/issues/17627.

And I would like to remove the critical label for this origin isssue

[2022-06-23 05:56] zhuwenxing commented on #17203
Not reproduced  yet with the error message `fail to Search, QueryNode ID=11, reason=channel xxx leader is not here`

[2022-06-23 05:58] zhuwenxing commented on #17627
/assign @yah01
/assign @letian-jiang

plz help to take a look

[2022-06-23 06:13] jingkl commented on #17651
argo
test-etcd-no-clean-qrlvn-1
server-configmap
server-cluster-8c64m
client-configmap
client-random-locust-100m-ddl-r8-w2-12h

[code]
<img width="1287" alt="截屏2022-06-23 14 10 54" src="https://user-images.githubusercontent.com/34296482/175227661-a7a4b30d-3db1-4cad-b5da-e7218696be1f.png">

As the graph shows Datanode memory usage is no longer oom, this is 12 hours of datanode memory usage for 100

[2022-06-23 06:23] jingkl commented on #17651
argo
test-etcd-no-clean-n5wpb-1
server-configmap
server-cluster-8c64m-kafka
client-configmap
client-random-locust-100m-ddl-r8-w2

master-20220622-b4f21259
pymilvus 2.1.0dev78

[code]
However, the memory of the datanode in the following scenario grows gradually, up to about 2.08GB
<img width="1354" alt="截屏2022-06-23 14 17 19" src="https://user-images.githubusercontent.com/34296482/175229093-3653464

[2022-06-23 07:29] xige-16 commented on #17711
/unassign
/assign @jaime0815  may be update problem

[2022-06-23 07:30] xige-16 commented on #17711
/assign @jaime0815

[2022-06-23 08:04] xiaocai2333 commented on #17639
The peobability of this problem happening is very high now.

[2022-06-23 08:46] soothing-rain commented on #17411
Still reproducible here.

Ways to reproduce:
(1) Run standalone, shut it down.
(2) Repeat (1) several times.
(3) Check out standalone logs, you can see logs like:
[code]
(4) Insert a lot of data, you can get error messages like:
[code]

[2022-06-23 08:53] yah01 commented on #17411
is it recoverable?

[2022-06-23 09:01] soothing-rain commented on #17411
Oh I can see that the meta data is cleared correctly. Let me see if it is recoverable.

[2022-06-23 09:43] xige-16 commented on #17711
Which version did you upgrade from?  @lhotari

[2022-06-23 09:49] p1913721 commented on #17711
Issue

[2022-06-23 09:49] p1913721 commented on #17711
Done

[2022-06-23 09:50] p1913721 commented on #17711
Done

[2022-06-23 10:08] #17676 closed

[2022-06-23 10:30] yhmo commented on #17711
from milvusdb/milvus-dev:master-20220412-4781db8a to milvusdb/milvus-dev:master-20220621-e43f487f

[2022-06-23 10:33] congqixia commented on #17199
shall be fixed by #17682

[2022-06-23 11:46] jingkl commented on #17416
server-instance
benchmark-tag-no-clean-6g4vk-1
server-configmap
server-cluster-8c64m
client-configmap
client-random-locust-100m-ddl-r8-w2-10m
master-20220623-8ff1a2c4

update image:master-20220623-294f7e44
server-instance
benchmark-tag-no-clean-6g4vk-1
server-configmap
server-cluster-8c64m
client-configmap
client-random-locust-100m-ddl-r8-w2-con-1h

[code]

[2022-06-23 11:58] jingkl commented on #17416
2.0 upgrade to master still fails to search, please keep checking @letian-jiang @congqixia

[2022-06-23 12:23] xige-16 commented on #17711
I can't reproduce it locally, can you provide the reproduced test code or log?　

[2022-06-23 12:23] #17672 closed

[2022-06-23 12:54] #16859 closed

[2022-06-23 13:13] SimFG opened #17745 "[Enhancement]: Remove the `WithOptions` for avoiding the logger being cloned continuously"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Using the `L().WithOptions()` will make the logger object clone once every time the log is printed
[logger source](https://github.com/uber-go/zap/blob/78c80fbae8e745f49704cca337f9ad0eca1ca93f/logger.go#L167)
[code]

### Why is this needed?

_No response_

### Anything else?

_

[2022-06-23 14:37] #16611 closed

[2022-06-23 21:41] weiwang19 commented on #17723
[milvus-log.tar.gz](https://github.com/milvus-io/milvus/files/8971175/milvus-log.tar.gz)
@yanliang567 , please see attched log files.

[2022-06-24 00:22] ruixiu opened #17749 "[Bug]: search timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

8400 2048 dimensional vectors are inserted into one set and 75645 256 dimensional vectors are inserted into another set. ID based queries on 2048 dimensional vectors using Attu have not responded.
![image](https://user-images.githubusercontent.com/9940354/175435962-9f

[2022-06-24 01:46] #17702 closed

[2022-06-24 02:03] zhuwenxing commented on #17733
Not reproduced in `master-20220623-e8f53af7`

[2022-06-24 02:04] #17733 closed

[2022-06-24 02:08] zhuwenxing commented on #17627
version `master-20220623-e8f53af7`
failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/7092/pipeline
log: [artifacts-querynode-pod-kill-7092-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8972660/artifacts-querynode-pod-kill-7092-server-logs.tar.gz)

[2022-06-24 02:16] zhuwenxing commented on #17556
not reproduced in `master-20220623-e8f53af7`
remove critical label

[2022-06-24 02:16] yanliang567 commented on #17749
@congqixia could you please take a look at this issue, i don't find 'search done' info in logs:
[code]

/assign @congqixia
/unassign

[2022-06-24 02:22] zhuwenxing commented on #17645
pulsar pod kill
failed job: https://github.com/milvus-io/milvus/runs/7029767749?check_suite_focus=true
log:https://github.com/milvus-io/milvus/suites/7066674819/artifacts/278802690 (log is in dir `data-consist-test`)

querycoord pod kill
failed job: https://github.com/milvus-io/milvus/runs/7029767856?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/7066674819/artifacts/278802

[2022-06-24 02:24] yanliang567 commented on #17723
@xiaocai2333 could you please take a look at this issue?

/assign @xiaocai2333
/unassign

[2022-06-24 02:24] binbinlv commented on #13045
It occurs again in the latest nightly:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/612/pipeline/190

1. Milvus logs:
[artifacts-milvus-distributed-pulsar-master-612-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/612/artifact/artifacts-milvus-distributed-pulsar-master-612-pymilvus-e2e-logs.tar.gz)

2. c

[2022-06-24 02:27] zhuwenxing commented on #17627
It seems that the frequency of this issue has become higher

failed job: https://github.com/milvus-io/milvus/runs/7030532804?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/7067419316/artifacts/278853448

[2022-06-24 02:30] jaime0815 commented on #17745
/lgtm

[2022-06-24 02:32] binbinlv opened #17750 "[Bug]: [kafka] Drop collection failed for timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Drop collection failed for timeout

[code]

### Expected Behavior

No deadline error

### Steps To Reproduce

[code]

### Milvus Log

1. Milvus logs:
[artifacts-milvus-distributed-kafka-master-612-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus

[2022-06-24 02:36] #17745 closed

[2022-06-24 02:49] cydrain opened #17754 "[Feature]: Let growing segment call knowhere Query interface"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Currently only sealed segment can create index and call knowhere Query interface.
For growing segment, it uses brute force search, but it cannot call knowhere Query interface.
So it copies the implementation from knowhere IDMAP/BinaryIDMAP to real

[2022-06-24 02:49] cydrain commented on #17754
/assign

[2022-06-24 02:55] xiaocai2333 commented on #17723
working on it ~

[2022-06-24 03:01] zhuwenxing commented on #17704
/assign @XuanYang-cn

flush hangs after kafka pod kill
failed job: https://github.com/milvus-io/milvus/runs/7028906829?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/7065828670/artifacts/278764304

[2022-06-24 03:05] jingkl commented on #17705
client-random-locust-100m-ddl-r8-w2-10m:

[code]
1、create collection
2、build index of ivf_sq8
3、insert 100million vectors
4、flush
5、build index with the same params
6、load
7、locust concurrent: search, load, query, scene_test
[code]

​​

[2022-06-24 03:07] soothing-rain opened #17756 "[Bug]: non-growing segments are not searchable if handed-off after collection.load()"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

#BAD CASE
If we collection.load() before bulk_load(), search() always returns nothing.
The new segments will be added and loaded by QueryNodes. But these newly added segments will not be accepted by the shard leader, no matter how long we wait.

#GOOD CASE
However if

[2022-06-24 03:08] soothing-rain commented on #17756
/assign @congqixia

[2022-06-24 03:18] xiaocai2333 opened #17757 "[Bug]: Drop index while index is building will cause data leakage"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. When IndexNode is building index, then call DropIndex or RemoveIndex, IndexNode will give up the task.
2. IndexCoord will not delete the task in etcd.

### Expected Behavior

 IndexCoord will correctly remove this task from etcd.

### Steps To Reproduce

[code]

##

[2022-06-24 03:18] xiaocai2333 commented on #17757
/unassign @yanliang567
/assign

[2022-06-24 03:21] czs007 opened #17758 "[Enhancement]: Refine logs in everywhere"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Refine logs

1）Reduce redundant and very long logs
2）Add necessary IDs in critical logs to help troubleshoot issues

### Why is this needed?

make easier for problem investigation

### Anything else?

_No response_

[2022-06-24 03:25] xiaocai2333 opened #17760 "[Bug]: Unable to notify IndexCoord to delete index in time when drop collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. when sdk call DropCollection, it will first call DropIndex, the DropCollection.
2. DropIndex just mark deleted for the index. The background goroutine will clear the index regularly.
3. DropCollection will clear the meta of all collection, so background goroutine w

[2022-06-24 03:25] xiaocai2333 commented on #17760
/unassign @yanliang567
/assign

[2022-06-24 03:29] SimFG opened #17762 "[Enhancement]: Update the pymilvus version to 2.1.0.dev88"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Update the pymilvus version to 2.1.0.dev88

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-06-24 03:29] SimFG commented on #17762
/assign @SimFG

[2022-06-24 03:38] #17762 closed

[2022-06-24 03:39] yah01 commented on #17416
/assign

[2022-06-24 03:42] Juntaran opened #17766 "[Bug]: ["invalid metrics of query node was found"] [error="getMetrics: queryNode 45 is offline"]"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

querycoord log

[code]

### Anything else?

_No response_

[2022-06-24 03:52] soothing-rain opened #17767 "[Bug]: The old growing segment was used in search, after they are flushed."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I did some little tweaks to hello_milvus so it now works as follows:
1. create collection
2. collection.load() (moved ahead)
3. insert
4. get num_entities
5. wait for a while, since we just flushed
6. call get_query_segment_info (new)
7. search, delete, query, drop (a

[2022-06-24 03:52] zhuwenxing opened #17768 "[Bug]: Load timeout after Milvus recovered from standalone pod kill chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

load timeout when running `test_e2e.py` after chaos

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test-kafka/detail/chaos-test-kafka/118/pip

[2022-06-24 03:52] soothing-rain commented on #17767
/assign @congqixia

[2022-06-24 03:58] xiaofan-luan commented on #17726
We will need to figure out why there are so many segments in your environement

[2022-06-24 04:03] congqixia commented on #17767
PR #17738 shall fix hand off issue.
And we need an API to check segment query-able state

[2022-06-24 04:33] yanliang567 commented on #17768
/assign @jaime0815
/unassign

[2022-06-24 04:35] soothing-rain commented on #17411
Turns out it is not recoverable.

Try this script to reproduce (after stop & start Milvus standalone a couple of times). Happens when calling `get_query_segment_info`:
[code]

[2022-06-24 04:35] yanliang567 commented on #17766
@Juntaran this is a known issue in 2.0.2, which was fixed now. Also it shall not block you from using Milvus. if not, please LMK.

/assign @Juntaran
/unassign

[2022-06-24 04:38] yanliang567 commented on #17411
/assign @jiaoew1991
/unassign

[2022-06-24 05:25] horuswoo opened #17770 "[Bug]: cannot run ansible script: host key verification failed, while host doesn't exist in local known_hosts file"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I was following [this](https://milvus.io/docs/v2.0.0/aws.md#provision-a-milvus-cluster) to provision and start the milvus cluster.

Behavior:
when I run the ansible command, I get this:
[code]

However the host doesn't exist in the known_hosts file at all.

### Expect

[2022-06-24 05:29] xiaofan-luan commented on #17770
/assign @zwd1208  pls help on this one

[2022-06-24 05:43] zhuwenxing commented on #17627
@yah01
It still happened in version `master-20220624-94a51220`

failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/7140/pipeline
log: [artifacts-querynode-pod-kill-7140-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8973452/artifacts-querynode-pod-kill-7140-server-logs.tar.gz)

[2022-06-24 05:44] ruixiu commented on #17749
![image](https://user-images.githubusercontent.com/9940354/175470187-d63d4fa5-771c-4797-a7cb-173e1a562640.png)
The memory usage is as follows. Is it normal？
![image](https://user-images.githubusercontent.com/9940354/175470271-df62e935-5e9b-4d6a-87be-f122383ef82a.png)

[2022-06-24 05:48] ruixiu commented on #17749
This is the way to create collections and indexes.
[init_milvus.txt](https://github.com/milvus-io/milvus/files/8973479/init_milvus.txt)

[2022-06-24 06:04] jingkl commented on #17434
server-instance
benchmark-cron-1656000000-5
server-configmap
server-cluster-8c16m
client-configmap
client-acc-glove-ivf-flat
master-20220623-9cd454e5
pymilvus 2.1.0dev78

[code]
[code]

[2022-06-24 06:04] zwd1208 commented on #17770
/assign @john-h-luo

[2022-06-24 06:05] Juntaran commented on #17766
after restart querynode, the milvus can't query data.

[2022-06-24 06:24] bigsheeper commented on #17725
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-17742/4/pipeline

[2022-06-24 06:27] yhmo commented on #17711
query coord log while load() is called:
![query_coord](https://user-images.githubusercontent.com/2282099/175475798-873dab23-1506-4e62-a6c2-d26fe938a43d.png)

query node log while load() is called:
![query_node](https://user-images.githubusercontent.com/2282099/175475803-32914592-bc4f-4cf7-8946-8aa05d304675.png)

root coord log while load() is called:
![root_coord](https://user-images.githubusercon

[2022-06-24 06:44] john-h-luo commented on #17770
Could you please check that your ssh key pair is valid?

[2022-06-24 08:35] xiaofan-luan commented on #17537
@bigsheeper why there is duplicated channels?

[2022-06-24 08:38] yanliang567 commented on #17770
/assign @horuswoo

[2022-06-24 08:46] BUPTAnderson commented on #17535
branch: master
commit id: 96b97f7f58be75b65cc74cfd242fb79b626f5688

Step 1:
insert partition='20220524', total entities: 101442
[code]

Step 2:
insert partition='20220525', total entities: 73676
[code]

Step 3:
create index, load, search:
[code]
console print:
[code]

Step 4:
collection release, drop partition, collectioon load
[code]

Step 5:
run search script again:
[code]

console print:
[code]

[2022-06-24 08:47] WeiDong-Shi opened #17776 "[Bug]: Questions about flush"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I call the flush method every time I delete data, but I find that miluvs does not execute every request, resulting in incomplete deletion of the data to be deleted. I would like to consult our flush execution rules and how I can configure it to ensure that my processi

[2022-06-24 08:50] yanliang567 commented on #17776
@yhmo could you please help on this question?

/assign @yhmo
/unassign

[2022-06-24 09:09] wayblink opened #17777 "[Enhancement]: Enhance errors handle in bulk load"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Handle the ignored errors in bulk load

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-06-24 09:29] longjiquan commented on #17705
http://10.97.11.12:9091/debug/pprof/goroutine?debug=1

[2022-06-24 09:30] longjiquan commented on #17705
goroutine profile: total 1608
512 @ 0x88a5e5 0x85578f 0x85540b 0x1a58b38 0x8c2101
#	0x1a58b37	github.com/apache/pulsar-client-go/pulsar.(*partitionProducer).failTimeoutMessages+0xf7	/go/pkg/mod/github.com/milvus-io/pulsar-client-go@v0.6.8/pulsar/producer_partition.go:488

512 @ 0x88a5e5 0x89b7f7 0x1a57810 0x8c2101
#	0x1a5780f	github.com/apache/pulsar-client-go/pulsar.(*partitionProducer).runEvents

[2022-06-24 10:09] jingkl commented on #17674
server-instance
test-etcd-no-clean-lgpbv-1
server-configmap
server-cluster-8c64m-compaction
client-configmap
client-random-locust-compaction

master-20220623-e8f53af7
pymilvus 2.1.0dev78

[code]
client log:
[code]

[2022-06-24 10:12] yanliang567 commented on #17674
/assign @congqixia
/unassign

[2022-06-24 10:22] wangting0128 commented on #17637
verify image：2.1.0-20220624-1fb2b9fe

[2022-06-24 10:22] #17637 closed

[2022-06-24 11:04] xige-16 commented on #17513
No conclusion yet

[2022-06-24 11:06] sunby commented on #17508
/unassign

[2022-06-24 11:07] sunby commented on #17508
/assign @zhuwenxing please verify

[2022-06-24 11:19] jingkl commented on #17674
server-instance
test-etcd-no-clean-c7t8k-1
server-configmap
server-cluster-8c64m-compaction
client-configmap
client-random-locust-compaction

sever:2.1.0-20220624-6c47ea2f

[code]
client:

[code]

[2022-06-24 11:36] #17614 closed

[2022-06-24 12:53] #17073 closed

[2022-06-24 13:17] zhagnlu opened #17787 "[Bug]: Missing channel info for loading segment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/11935707/175544681-ba49de52-9c0e-450a-b880-7b0397f89d31.png)
load segment miss channel info, it causes query node can not get segment ids by partitionid and channel name.
![image](https://user-images.githubusercontent

[2022-06-24 13:58] xiaofan-luan opened #17788 "[Bug]: Binlog size is not calculated as expect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

we've seen very small binlog log size(but the entity number is huge), there is somewhere calulating  log size wrong. And this lead to wrong compaction calculation logic

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No r

[2022-06-24 13:59] xiaofan-luan commented on #17788
{"log":"[2022/06/23 19:12:14.458 +00:00] [INFO] [compaction_trigger.go:394] [\"generate a plan for small candidates\"] [plan=\"segmentBinlogs:\u003csegmentID:434113456204939265 fieldBinlogs:\u003cfieldID:1 binlogs:\u003centries_num:49839 log_path:\\\"usr-7Pc5npSqRa6B-ed7ceXtMg/in01-67950504e20a5c5/insert_log/434113447226245121/434113447226245122/434113456204939265/1/434113463971479556\\\" log_size

[2022-06-24 23:52] jmugan commented on #17358
Just getting back to this. So, 2.1 hasn't been released yet? I don't suppose I can do `image: milvusdb/milvus:v2.1` in the standalone part of the docker compose file. Is there an estimate for when it will be released?

[2022-06-25 01:46] yanliang567 commented on #17358
not yet, the new ETA is next week.

[2022-06-25 01:49] yanliang567 commented on #17787
/assign @zhagnlu
/unassign

[2022-06-25 02:16] zhuwenxing opened #17792 "[Bug]: Create index timeout after indexcoord pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: https://github.com/milvus-io/milvus/runs/7046878180?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/7082807023/artifacts/279862831

[2022-06-25 02:19] zhuwenxing commented on #17792
It seems a stable issue
another failed job: https://github.com/zhuwenxing/milvus/runs/7047015719?check_suite_focus=true
log: https://github.com/zhuwenxing/milvus/suites/7082936798/artifacts/279864029

[2022-06-25 02:40] GitHua2017 opened #17793 "[Bug]: Memory keeps rising，milvus cluster 2.0.2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Memory keeps rising  even though I'm not doing anything。

### Expected Behavior

Memory keeps stable.

### Steps To Reproduce

[code]

### Milvus Log

**1. only deploy K8s cluster with kind.**
top - 17:33:32 up 14 days,  6:25,  1 user,  load average: 0.48, 2.07, 2.04

[2022-06-25 03:35] xiaofan-luan commented on #17792
/assign @xiaocai2333

[2022-06-25 03:36] yah01 commented on #17627
/unassign

[2022-06-25 03:37] yah01 commented on #17627
/assign @zhuwenxing
plz check with #17774

[2022-06-25 04:58] #17495 closed

[2022-06-25 07:33] congqixia opened #17798 "[Enhancement]: Improve query cluster segment change logic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

- [ ] Clean up hand-off trigger&dispatch logic in `QueryCoord` @xiaofan-luan
- [ ] Fix all segment/replica state change before/after segment change or node down event
- [ ] Change segmentChange notification (between QueryCoord and QueryNodes) method from etcd watch to gRPC @co

[2022-06-25 07:40] zhuwenxing commented on #17792
After more tests, it seems not a stable issue.
the following tests all passed
* http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/7204/pipeline
* https://github.com/zhuwenxing/milvus/runs/7050946366?check_suite_focus=true

[2022-06-25 08:54] wangting0128 commented on #17513
argo task：**test-etcd-no-clean-pmx9g**

test yaml：
client-configmap: client-random-locust-insert-delete-60h
server-configmap: server-single-16c64m-compaction

image：2.1.0-20220624-6c47ea2f
server：
[code]

client pod：test-etcd-no-clean-pmx9g-165860547
client log file: locust_report_2022-06-24_998.log
client log：
[code]

[2022-06-25 13:18] zhuwenxing commented on #17627
/unassign
/assign @yah01

In version `master-20220625-5471e35c`
failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/7208/pipeline
log: [artifacts-querynode-pod-kill-7208-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8984807/artifacts-querynode-pod-kill-7208-server-logs.tar.gz)

[2022-06-25 17:14] vishjain commented on #16957
/assign

[2022-06-25 18:10] #17116 closed

[2022-06-26 05:07] xiaofan-luan commented on #17726
Actually I don't really comfortable with the issue.
It brings high coupling between query meta and datacoord

[2022-06-26 05:07] xiaofan-luan commented on #17726
My suggestion is to remove 17755 and rethink

[2022-06-26 08:44] xiaofan-luan opened #17804 "[Enhancement]: Refactor Handoff handler"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Current hand off handler is too fragile in the case of:
1) very easy to panic
2) has no atomicity, and task retry usually can not succeed
3) There is a possibility to miss notify some of the compacted segments, which lead to resource leakage.
4) easy to block other collections

[2022-06-26 13:27] yah01 commented on #17416
/assign @jingkl
plz check with #17800

[2022-06-26 17:39] WoodieDudy commented on #17592
Fix it by setting connection alias to "default".
Before I had alias="main"

[2022-06-27 01:54] bigsheeper commented on #17679
fix should be fixed @jaime0815

[2022-06-27 01:54] bigsheeper commented on #17679
/assign @jaime0815

[2022-06-27 01:55] bigsheeper commented on #17537
pr has merged, could you please make a verify? @zhuwenxing

[2022-06-27 01:56] bigsheeper commented on #17537
/assign @zhuwenxing

[2022-06-27 02:21] congqixia commented on #17767
/unassign
/assign @soothing-rain

[2022-06-27 02:24] zhuwenxing commented on #17792
failed job: https://github.com/zhuwenxing/milvus/runs/7062698145?check_suite_focus=true
log: https://github.com/zhuwenxing/milvus/suites/7097950042/artifacts/280939021

[2022-06-27 02:34] zhuwenxing commented on #17627
In some other cases, this issue also happened!
datanode pod kill(Milvus with kafka mq): https://github.com/zhuwenxing/milvus/runs/7062361984?check_suite_focus=true (no querynode has been killed or restarted)

cluster restart (Milvus with kafka mq): https://github.com/zhuwenxing/milvus/runs/7063288498?check_suite_focus=true
(This issue seems reproduced in this case stably)

[2022-06-27 02:34] congqixia commented on #17645
letian's PR #17715 has some problem. And @xiaofan-luan is doing some refactoring about handoff handler, PR #17805
/assign @xiaofan-luan

[2022-06-27 02:36] zhuwenxing commented on #17383
Not reproduced yet. remove the critical label.

[2022-06-27 02:36] jaime0815 commented on #17768
There is the standalone mode with rocksmq

[2022-06-27 02:38] jingkl commented on #17513
argo
test-etcd-no-clean-vkrrs
server-configmap
server-single-16c64m-compaction
client-configmap
client-random-locust-insert-delete-18h

2.1.0-20220625-4e2b2bfa

pymilvus 2.1.0dev87
[code]

[code]

[2022-06-27 02:41] xiaocai2333 commented on #17792
working on it~

[2022-06-27 02:47] jingkl commented on #17513
argo
test-etcd-no-clean-wggls
server-configmap
server-cluster-dn2c10m-in8c32m-qn8c64m-compaction
client-configmap
client-random-locust-insert-delete-60h

[code]

[code]

[2022-06-27 02:58] xige-16 commented on #17513
milvus restart several times due to insufficient memory.

It seems that the query is not recovered after the restart, which is not the same problem as the occasional serach timeout in this issue. @wangting0128

![1dFliXJoVh](https://user-images.githubusercontent.com/20124155/175851313-744aab06-4da0-4c47-a06b-c33bbc8aa718.png)

[2022-06-27 03:00] xiaofan-luan opened #17809 "[Feature]: Create index on a loaded collection should support automatically load index when index build done."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Currently if user do:
1) insert data
2) load collection
3) create index

The loaded collection will never know a collection has index and reload the index.

### Describe the solution you'd like.

Temporary fix: release collection and reload.
User

[2022-06-27 03:16] lvmnn opened #17811 "[Enhancement]: Support for using pre-created Kafka topics"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

In most companies, Kafka is maintained by professional teams and cannot be configured to automatically create topics.

Hopefully, 2.1 will support the use of pre-created topics

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-06-27 03:33] joshuayyy opened #17813 "[Bug]: ", etcdserver: request is too large" when loading collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I load a collection with about 900,000, an error is reported that ", etcdserver: request is too large".
I tried pymilvus, attu, and milvus_cli, but failed.

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

segments of the log:

[2022-06-27 03:38] EricStarer opened #17814 "[Enhancement]: Garbage collection for import failed segments"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

When import data in the method of bulkload, there will be some unused segments when the bulkload is partially failed. These segments needs to be cleared periodcally.

### Why is this needed?

Because the unused segments will occupy the space of object storage.

### Anything el

[2022-06-27 03:55] czs007 opened #17819 "[Enhancement]: Count growing segment number to estimate cpu usage"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Currently, when estimating the CPU load of the search task, the number of growing segments is hardcode 5.
When there are many growing segments, this will cause many concurrent tasks to compete for CPU.
The number of real growing segments should be counted.

### Why is this nee

[2022-06-27 03:56] yanliang567 commented on #17813
sounds like a known issue in 2.0.2
@xiaofan-luan could you please help to double check?

/assign @xiaofan-luan
/unassign

[2022-06-27 03:57] xiaocai2333 commented on #17792
When IndexCoord starts, it first load the meta information from ETCD,  and then watch ETCD. As a result, If meta was changed during the period, IndexCoord can not perceive it.

[2022-06-27 03:58] xiaocai2333 commented on #17792
pr #17818 will fix it.

[2022-06-27 03:58] binbinlv commented on #13045
It occurs again in the latest nightly:

[artifacts-milvus-distributed-pulsar-master-618-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/618/artifact/artifacts-milvus-distributed-pulsar-master-618-pymilvus-e2e-logs.tar.gz)

Collection: compact_QuVI9OWy

[2022-06-27 04:01] binbinlv commented on #13045
It occurs in the following nightly:
[artifacts-milvus-standalone-master-617-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/617/artifact/artifacts-milvus-standalone-master-617-pymilvus-e2e-logs.tar.gz)

Collection: compact_2IipCD75

[2022-06-27 04:02] #17787 closed

[2022-06-27 04:03] binbinlv commented on #17725
It occurs in the following nightly again:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/616/pipeline/141

logs:
[artifacts-milvus-distributed-kafka-master-616-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/616/artifact/artifacts-milvus-distributed-kafka-master-616-pymilvus-e2e-logs.tar.gz)

collection: c

[2022-06-27 04:58] binbinlv commented on #17528
Same issue:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/615/pipeline/190/

milvus logs:
[artifacts-milvus-distributed-kafka-master-615-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/615/artifact/artifacts-milvus-distributed-kafka-master-615-pymilvus-e2e-logs.tar.gz)

collection name: compact_n6v8Gg6j

[2022-06-27 05:03] ThreadDao opened #17823 "[Bug]: datacoord crash with panic: runtime error: invalid memory address or nil pointer dereference"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]
[code]
pytest testcases/test_compaction.py -n 4 --host=10.98.0.x
[code]
[2022-06-27 12:52:27 - ERROR - pymilvus.client.grpc_handler]: error_code: UnexpectedError
reason: "CreateCollection failed: err: find no available datacoord, check datacoord state\n, /go/src/github.com/milvus-io/milvus/

[2022-06-27 05:24] congqixia opened #17824 "[Bug]: LoadCollection progress is 100 before syncReplica completed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

In `QueryCoord` task scheduler triggers `LoadCollectionTask.updateTaskProgres()` after each child task done, which may set load progress to 100 before syncReplica done.

### Expected Behavior

Collection load progress shall be set to 100 after `syncReplica` Done

###

[2022-06-27 05:38] binbinlv commented on #17610
Not reproduced for a period of time, close it first and will reopen it if it occurs in the future.

[2022-06-27 05:38] #17610 closed

[2022-06-27 05:40] binbinlv commented on #17526
Has not been reproduced for a period of time, so close it first. And will reopen if it occurs in the future.

[2022-06-27 05:40] #17526 closed

[2022-06-27 06:13] zhuwenxing commented on #17537
Not reproduced recently yet. Remove critical label.

[2022-06-27 06:20] zhuwenxing commented on #17508
Not reproduced yet, remove the critical label.

[2022-06-27 06:57] xiaofan-luan commented on #17823
/assign @XuanYang-cn
Could you help on verify this

[2022-06-27 06:59] xiaocai2333 commented on #17723
@weiwang19 Can you tell me the machine configuration where IndexNode is located in your cluster?  Memory and CPU.

[2022-06-27 07:36] jingkl commented on #17416
argo
test-etcd-no-clean-vz9l6-1
server-configmap
server-cluster-8c64m
client-configmap
client-random-locust-100m-ddl-r8-w2-60h

[2022-06-27 07:51] jingkl opened #17829 "[Bug]:[benchmark][cluster] Milvus is reinstalled with the same PVC，search rasie an error"fail to search on all shard leaders, err=All attempts results:""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
benchmark-tag-no-clean-hm8p9-1
server-configmap
server-cluster-8c16m
client-configmap
client-random-locust-1m-ddl-r8-w2

milvus :2.0.2-20220402-898533c5
pymilvus 2.0.2

uninstall and reinstall milvus:
milvus  2.1.0-20220625-4e2b2bfa
pymilvus 2.1.0dev87

[2022-06-27 07:51] jingkl commented on #17829
/assign  @yah01

[2022-06-27 08:14] bigsheeper commented on #17535
hi @BUPTAnderson , thanks a lot for your detailed reply, there're 3 problems we should focus on:
1. **Should call partition.insert**. It seems that you call `collection.insert` directly instead of `partition.insert`, by default, `collection.insert` would insert entities to default partition which name is "_default". I guess what you want to do is to insert all the 101442 entities to partition "202

[2022-06-27 08:18] BUPTAnderson commented on #17535
@bigsheeper  thx, i will try again.

[2022-06-27 08:53] bigsheeper opened #17832 "[Bug]: [Standalone] OOM killed while loading collection in 2c8g standalone"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo: vdc-cron-1656097200

test yaml：

client-configmap:vdc-client-random-locust,instanceId:2,server-configmap:vdc-standalone-small

Milvus OOM killed while loading collection, and search failed:
<img width="972" alt="image" src="https://user-images.githubusercontent.

[2022-06-27 08:53] bigsheeper commented on #17832
/assign
/unassign @yanliang567

[2022-06-27 08:54] bigsheeper commented on #17832
<img width="1358" alt="image" src="https://user-images.githubusercontent.com/42060877/175900228-bad5e5a5-6241-4353-9acf-859e10cb5a31.png">

[2022-06-27 08:58] ThreadDao opened #17833 "[Bug]: Indexcoord panic: failed to handle etcd request, exit.."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Deploy milvus cluster with 2 datanodes
2. Scale out datanode from 2 to 3 while inserting entities
3. Indexcoord panic and restart
[code]
4. describe etcd pod:
[code]

**Indexcoord log:**
[indexcoord.log](https://github.com/milvus-io/milvus/files/8990274/indexcoord.

[2022-06-27 10:25] czs007 opened #17839 "[Bug]: Code check failed in MinGW"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/59249785/175920718-ddc00c43-7a82-4617-9dfb-a910ed41fd3b.png)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-06-27 10:44] taohongxiu commented on #17811
My company is the same

[2022-06-27 10:51] XuanYang-cn commented on #16753
/unassign
/assign @binbinlv
Please help verify in pymilvus 2.1.0.dev90

[2022-06-27 11:00] yah01 commented on #17829
/assign @sunby
Same as #17416, should be fixed with cherry-picking this commit to 2.1.0

[2022-06-27 11:06] jingkl commented on #17434
server-instance
test-etcd-no-clean-86prx-1
server-configmap
server-cluster-8c16m
client-configmap
client-acc-glove-ivf-flat

2.1.0-20220625-4e2b2bfa
pymilvus 2.1.0dev87
[code]

[code]

[2022-06-27 11:35] binbinlv opened #17843 "[Bug]: Add test cases for searching without flush"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

NA

### Expected Behavior

NA

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-06-27 12:52] #17824 closed

[2022-06-27 17:21] horuswoo commented on #17770
/assign @john-h-luo

[2022-06-27 21:04] horuswoo opened #17849 "[Enhancement]: add a step in the tutorial to do `helm repo add`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

There is a step
[code]
missing from this tutorial:
https://milvus.io/docs/v2.0.0/eks.md

### Why is this needed?

If you just run step 4 without adding the repo it will show this error:
[code]

### Anything else?

_No response_

[2022-06-28 00:10] kgmiller commented on #17813
I'm seeing this in production too - just upgraded from 0.10.0 to 2.0.2 last week, this has our entire production system down now. Logs are attached.
[milvus.log](https://github.com/milvus-io/milvus/files/8996480/milvus.log)

[2022-06-28 01:15] xiaocai2333 commented on #17833
we hold this error, please check it~ @ThreadDao
/unassign
/assign @ThreadDao

[2022-06-28 01:48] congqixia commented on #17674
Should be fixed by #17828 and #17738
Could you please verify?
/assign @jingkl
/unassign

[2022-06-28 01:49] longjiquan commented on #17639
Fixed by #17730 . Anyone meet this problem again please reopen this.

[2022-06-28 01:49] #17639 closed

[2022-06-28 02:12] yah01 commented on #17627
/assign @zhuwenxing
plz check with the lastest master, many related fixes have been merged

[2022-06-28 02:15] yah01 commented on #17829
/assign @jingkl
Plz check with #17842

[2022-06-28 02:16] binbinlv commented on #13045
It occurs in the following latest nightly:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/620/pipeline

(1) milvus logs:
[artifacts-milvus-standalone-master-620-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/620/artifact/artifacts-milvus-standalone-master-620-pymilvus-e2e-logs.tar.gz)
(2) collection name:

[2022-06-28 02:29] binbinlv opened #17850 "[Bug]: [Nightly] Search failed showing "fail to search on all shard leaders, err=fail to Search, QueryNode ID=3, reason=Search 3 failed, reason cannot find sealed segment 434204011045847042 in QueryNode""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search failed showing "fail to search on all shard leaders, err=fail to Search, QueryNode ID=3, reason=Search 3 failed, reason cannot find sealed segment 434204011045847042 in QueryNode"

### Expected Behavior

NO error

### Steps To Reproduce

Running nightly:
https:

[2022-06-28 02:32] binbinlv commented on #17850
And I found there is a panic from log, do not confirm whether there is any connections with this issue, paste here for some info.

ms-620-n-milvus-standalone-557d7d6d57-s9jpv_milvus-ci_standalone-b044b606b32b5e56538c15589218b29e053f3bb9a5632effef934555027c3236.log:

[code]

[2022-06-28 02:33] binbinlv commented on #17850
I found there is an issue reporting the similar error, I am wondering whether the root cause is the same or not?

https://github.com/milvus-io/milvus/issues/17347

[2022-06-28 02:34] yhmo commented on #17813
Similar to #16638

[2022-06-28 02:34] BUPTAnderson opened #17851 "[Bug]: arrow builder is nullptr"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

datnode exits abnormally while user is inserting data

### Expected Behavior

datanode running healthily

### Steps To Reproduce

_No response_

### Milvus Log

[code]

### Anything else?

_No response_

[2022-06-28 02:36] binbinlv commented on #17850
@xiaofan-luan Could you help to assign anyone to check this issue? Because this is the latest search issue, so set it as urgent first.

[2022-06-28 02:37] xiaofan-luan commented on #17851
/assign @letian-jiang could you help on this issue?

[2022-06-28 02:40] xiaofan-luan commented on #17850
/assign @congqixia

[2022-06-28 02:48] #17541 closed

[2022-06-28 02:48] #17679 closed

[2022-06-28 02:51] xige-16 commented on #17513
growing segment is not cleaned up during handoff, which leads to oom, and some searches will time out after restarting. The bug has been fixed.

![K3x32jU8qT](https://user-images.githubusercontent.com/20124155/176081311-f1379cf3-34d6-42da-b1d4-5075ee923c8c.png)

[2022-06-28 03:02] EricStarer opened #17852 "[Enhancement]: Remove genReqID function bacause the request ID is useless"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Remove genReqID function bacause the request ID is useless

### Why is this needed?

the request ID is useless when call Import Service

### Anything else?

_No response_

[2022-06-28 03:17] jaime0815 commented on #17725
[code]

[2022-06-28 03:24] jingkl commented on #17674
argo
test-etcd-no-clean-vf5jt-1
server-configmap
server-cluster-8c64m-compaction
client-configmap
client-random-locust-compaction
2.1.0-20220628-03027dfe
pymilvus 2.1.0dev87

[code]

[code]

[2022-06-28 03:25] zhuwenxing commented on #17645
failed job: https://github.com/zhuwenxing/milvus/runs/7079306151?check_suite_focus=true
log: https://github.com/zhuwenxing/milvus/suites/7113331109/artifacts/281973261 (log is in dir `data-consist-test`)

This issue only happened in the e2e test stage after `data consist test`, and I am confused about this phenomenon.

[2022-06-28 03:26] jingkl commented on #17674
/unassign

[2022-06-28 03:27] jingkl commented on #17674
/assign @congqixia

[2022-06-28 03:29] xiaocai2333 commented on #17760
fixed. close it
/close

[2022-06-28 03:29] #17760 closed

[2022-06-28 03:46] BUPTAnderson opened #17855 "[Bug]: shard leader is unavailable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

`search/query` can not return
querycoord log print a lots of `shard leader is unavailable` msgs

### Expected Behavior

`search/query` can return rightly

### Steps To Reproduce

_No response_

### Milvus Log

[querycoord-21.log](https://github.com/milvus-io/milvus/fi

[2022-06-28 03:49] BUPTAnderson commented on #17855
rootcoord still not working after restart, [querycoord-21.log](https://github.com/milvus-io/milvus/files/8997511/querycoord-21.log) is the restart log

[2022-06-28 03:50] RateSpirit opened #17856 "[Bug]: Data keeps persistent in disk even after retension timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

修改 milvus.yaml 的
rocksmq:
  path: /var/lib/milvus/rdb_data # The path where the message is stored in rocksmq
  rocksmqPageSize: 1073741824 # 1 GB, 1 * 1024 * 1024 * 1024 bytes, The size of each page of messages in rocksmq
  retentionTimeInMinutes: 1440 # 1 days, 7 * 2

[2022-06-28 03:51] xiaofan-luan commented on #17513
/assign @wangting0128

[2022-06-28 04:00] xige-16 commented on #17513
querynode's tsafe stopped advancing around 6-22 04:07

[2022-06-28 04:00] xige-16 commented on #17513
querynode's tsafe stopped advancing around 6-22 04:07

[2022-06-28 04:01] xiaofan-luan commented on #17856
hi @RateSpirit :
1) pls have a readable issue name
2) please use English in your issue
3) with your configuration, data should be purged in 7 days, pls offer your log so we can investigate on why

[2022-06-28 04:01] xiaofan-luan commented on #17856
the actually cleanup logic happens on rocksdb retention

[2022-06-28 04:03] ThreadDao commented on #17833
No reproduction on image `2.1.0-20220628-5b26b310`.  Let this issue sit for a while

[2022-06-28 05:18] zhuwenxing commented on #17792
version `master-20220628-6b79d4f7`
failed job: https://github.com/zhuwenxing/milvus/runs/7085026662?check_suite_focus=true
log: https://github.com/zhuwenxing/milvus/suites/7118659596/artifacts/282285078

[2022-06-28 05:21] xige-16 commented on #17513
rootcoord stopped sending timetick due to backlog quota exceeded
[code]

[2022-06-28 05:22] letian-jiang commented on #17851
Unfortunately, I cannot reproduce locally.
@BUPTAnderson It would be very nice of you to provide the script or logs to us.

[2022-06-28 05:29] xiaofan-luan opened #17857 "[Enhancement]: Session manager and Proxymanager need to handle etcd compacted err"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Currently we panic when etcd hit err.
This may not be the right behaviour when revision is compacted and Err.Compacted thrown out.

To fix that, we need to figure out:
1) if we just do watch, do we receive compacted err?

if no, my suggest would be we don't use watch/load with

[2022-06-28 05:29] xiaofan-luan commented on #17857
/assign @xiaocai2333

[2022-06-28 05:35] xiaofan-luan commented on #17851
I don't think we need to reproduce this issue, just check the code where this error could thrown out.

[2022-06-28 05:36] xiaofan-luan commented on #17851
There must be somewhere we misuse eventwriter without init it?

[2022-06-28 05:37] xiaofan-luan commented on #17788
I thought binlog entries also didn't calculated correctly in every path, please help on check it.
/assign @XuanYang-cn

[2022-06-28 05:37] xiaofan-luan commented on #17788
This affect the further compaction calculation logic

[2022-06-28 05:43] ThreadDao opened #17858 "[Bug]: Connect uses the default host directly instead of the passed alias's host"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Connect with alias get exception `pymilvus.exceptions.MilvusException: <MilvusException: (code=2, message=Fail connecting to server on localhost:19530. Timeout)>`
[code]
The problem is that when the user calls `connect` and only passes the `alias` parameter, the `Defa

[2022-06-28 05:50] BUPTAnderson commented on #17851
the datanode log:
[code]

the `collectionID=434192070176669697` schema:
[code]

[2022-06-28 05:50] letian-jiang commented on #17851
For FloatVector/BinaryVector datatype, we lazily init the arrow builder when we add values into the payload.
But in FinishPayloadWriter, we check whether the arrow builder is nullptr. This is a suspicious cause.

[2022-06-28 06:05] xiaocai2333 commented on #17792
/assign

[2022-06-28 06:06] weiwang19 commented on #17723
@xiaocai2333

The configuration for index node is:

cpu:  model name	: Intel(R) Xeon(R) CPU E5-2673 v4 @ 2.30GHz 8 cores
memory: 32G

Now that I have restore the segment size to default 512M, the error still happens. So the root cause seems to  be something else. attached is latest log when the indexing process is in stuck state.

[milvus-log.tar.gz](https://github.com/milvus-io/milvus/files/89981

[2022-06-28 06:12] jingkl commented on #17829
milvus :2.0.2-20220402-898533c5
pymilvus 2.0.2
server-instance
benchmark-tag-no-clean-zfbzb
server-configmap
server-cluster-8c16m
client-configmap
client-random-locust-1m-ddl-r8-w2

uninstall and reinstall milvus:
server-instance
benchmark-tag-no-clean-zfbzb-1
server-configmap
server-cluster-8c16m
client-configmap
client-random-locust-1m-ddl-r8-w2-con-1h
2.1.0-20220628-a36e1639
pymilvus 2.1.0dev87

[2022-06-28 06:38] yah01 commented on #17850
/assign

[2022-06-28 06:54] congqixia commented on #17674
`test-etcd-no-clean-vf5jt-1-milvus-querynode-5bf8696f45-nr75s` was OOMKilled. Checked the growing releasing ran normally in  according to the log.

[2022-06-28 06:58] XuanYang-cn opened #17863 "[Bug]: DataCoord's ut shouldn't rely on milvus_storage"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

[code]

Because they all imported "github.com/milvus-io/milvus/internal/util/dependency", and `dependency` import "github.com/milvus-io/milvus/internal/storage", and storage contains CGO code.

### Expected Behavior

_No response_

### Steps To Reproduce

_No

[2022-06-28 07:06] binbinlv commented on #17858
And the same issue,

if connect with non-existed alias, it will connect with "localhost:19530" too.

[2022-06-28 07:07] ThreadDao opened #17864 "[Bug]: Indexcoord panic: All attempts results: attempt #1:function CompareAndSwap error for compare is false for key: indexcoord"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Run case `test_expand_index_node` of `/tests/python_client/scale/test_index_node_scale.py`
[code]

**Server logs:**
[mic_logs.tar.gz](https://github.com/milvus-io/milvus/files/8998481/mic_logs.tar.gz)

### Expected Behavior

_No response_

### Steps To Reproduce

_

[2022-06-28 07:12] xiaocai2333 commented on #17857
working on it~, verify it
Even if we just do watch, we still receive `ErrCompacted`.

[2022-06-28 07:22] ThreadDao commented on #15416
/

[2022-06-28 07:27] sunby opened #17865 "[Bug]: DataNode go routine leak"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

<img width="575" alt="image" src="https://user-images.githubusercontent.com/9817127/176119263-2160c40d-3dc7-4408-904c-84e5d44ec2d7.png">
https://grafana-dev.milvus.io/d/uLf5cJ3Gz/milvus2-0?orgId=1&from=now-4d&to=now&var-datasource=prometheus&var-app_name=milvus&var-na

[2022-06-28 07:28] sunby opened #17866 "[Bug]: RootCoord go routine leak"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

<img width="589" alt="image" src="https://user-images.githubusercontent.com/9817127/176119421-657ab799-0eea-4731-a4d7-d43dc4d7f427.png">
https://grafana-dev.milvus.io/d/uLf5cJ3Gz/milvus2-0?orgId=1&from=now-4d&to=now&var-datasource=prometheus&var-app_name=milvus&var-na

[2022-06-28 07:45] zhuwenxing commented on #17792
some other pod kill chaos tests also have this issue.

* etcd pod kill
    * failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/7414/pipeline
    * log: [artifacts-etcd-pod-kill-7414-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8998730/artifacts-etcd-pod-kill-7414-server-logs.tar.gz)
* querycoord pod kill
    * failed job：http://10.100.32

[2022-06-28 08:14] longjiquan opened #17868 "[Enhancement]: Get row count from query cluster"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I want to enhance the workflow of how Milvus return the row count of a collection or partition.
If a collection/partition was loaded, the row count can be returned from query cluster, same to `retrieve/search`:
- 1, Proxy send request to the shard leader；
- 2, For growing segm

[2022-06-28 08:15] longjiquan commented on #17868
/assign @xaxys

[2022-06-28 08:46] XuanYang-cn opened #17871 "[Bug]: QN TestShardCluster_HandoffSegments/load_balance_wait_online_and_usage ut failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-06-28 08:48] XuanYang-cn commented on #17863
maybe mv `chunkmanager` out of storage

[2022-06-28 09:40] aakejiang opened #17874 "[Bug]: password encryption too slow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Go bcrypt is an asymmetric cryptography and very safe in security, while on the other hand is very slow. In the min cost, it spends couples of seconds.

bcrypt.GenerateFromPassword benchmark in min cost
[code]

bcrypt.CompareHashAndPassword benchmark in min cost
[code

[2022-06-28 09:40] aakejiang commented on #17874
/assign
/unassign @yanliang567

[2022-06-28 10:09] wayblink opened #17876 "[Enhancement]: Replace tasks and locks of importManager with channel and sync map"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Replace tasks and locks of importManager with channel and sync map

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-06-28 10:34] chenlinwei12321 commented on #17793
We also encountered this problem. Have you solved it？

[2022-06-28 10:54] yongpengli-z commented on #17429
Milvus version:master-dev（milvusdb/milvus-dev:master-20220602-48cf63a2）
milvus-sdk-java:2.0.4

[2022-06-28 10:54] hussainfolio3 commented on #15619
@qi49125 did you solve this issue?

[2022-06-28 11:15] jingkl commented on #17416
2.1.0-20220624-6c47ea2f
pymilvus 2.1.0dev87
argo:
test-etcd-no-clean-vz9l6
server-configmap
server-cluster-8c64m
client-configmap
client-random-locust-100m-ddl-r8-w2-60h

update image:2.1.0-20220628-69cad38a
pymilvus 2.1.0dev87
[code]
client log:
[code]

[2022-06-28 11:18] jingkl commented on #17416
This issue has been reproduced @yah01 @congqixia

[2022-06-28 11:47] yanliang567 commented on #17866
/assign @sunby
/unassign

[2022-06-28 11:47] yanliang567 commented on #17865
/assign @sunby
/unassign

[2022-06-28 11:53] yanliang567 commented on #17856
@RateSpirit Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

/assign @RateSpirit
/unassign

[2022-06-28 12:00] #17843 closed

[2022-06-28 12:12] longjiquan commented on #17866
/assign
duplicate with #17705

[2022-06-28 13:11] longjiquan commented on #17866
I think we can lazy create msgstream instead of creating all dml channels and delta channels when rootcoord starts.

[2022-06-28 13:14] zhuwenxing commented on #17627
Not reproduced in version `master-20220628-b657e583`
see https://github.com/zhuwenxing/milvus/actions/runs/2575286937

[2022-06-28 15:49] rakesh1401 opened #17883 "[Bug]: drop_collection not working? any other method to delete collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[Bug]: drop_collection not working? any other method to delete collection

### Expected Behavior

[Bug]: drop_collection not working? any other method to delete collection

### Steps To Reproduce

[code]

### Milvus Log

[Bug]: drop_collection not working? any other m

[2022-06-28 23:26] #16208 closed

[2022-06-28 23:26] #16575 closed

[2022-06-28 23:26] #17139 closed

[2022-06-29 00:57] yanliang567 commented on #17883
@rakesh1401 thank you for the issue, could you please specify "not working"? is there an error msg when calling drop_collection, or the collection is able to be listed even after drop_collection called? Also could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

/assign @rakesh1401
/unassign

[2022-06-29 01:16] yanliang567 commented on #17855
@jiaoew1991  sounds like a known issue on master, could you please take a look?

/assign @jiaoew1991
/unassign

[2022-06-29 01:32] zhuwenxing opened #17885 "[Bug]: Load failed after standalone pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Load failed when running `test_e2e.py` after standalone pod kill chaos test

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-

[2022-06-29 02:07] xiaocai2333 commented on #17757
/close

[2022-06-29 02:07] #17757 closed

[2022-06-29 02:32] songzhi108 opened #17887 "[Feature]: Need more information about `consistency_level` in milvus-docs."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

I need more info about option `consistency_level` when I make a search.

### Describe the solution you'd like.

1. There are two ways to set the `consistency_level`, "create collection" and "make a search". I think set `consistency_level` when "ma

[2022-06-29 02:35] binbinlv opened #17888 "[Bug]: [Nightly] Search failed showing "Invalid shard leader" with panic "concurrent map iteration and map write""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search failed showing "Invalid shard leader" with panic "concurrent map iteration and map write"

### Expected Behavior

No errors

### Steps To Reproduce

[code]

### Milvus Log

1.milvus log:
[artifacts-milvus-distributed-pulsar-master-622-pymilvus-e2e-logs.tar.gz](

[2022-06-29 02:52] binbinlv opened #17889 "[Bug]: [Nightly] Get segment info failed showing "getSegmentInfo: queryNode 2 is offline""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Get segment info failed showing "getSegmentInfo: queryNode 2 is offline"

### Expected Behavior

_No response_

### Steps To Reproduce

[code]
[code]
[2022-06-28T20:07:22.236Z] [2022-06-28 19:42:40 - DEBUG - ci_test]: (api_request)  : [Collection.load] args: [None, 1,

[2022-06-29 02:55] jingkl commented on #17513
server-instance
test-etcd-no-clean-6w7xr-1
server-configmap
server-cluster-dn2c10m-in8c32m-qn8c64m-compaction
client-configmap
client-random-locust-insert-delete-60h

sunby-debug_query_hang-7339f3f94-20220628
pymilvus 2.1.0dev87

client log
[code]

server:
[code]

[2022-06-29 02:56] xiaofan-luan commented on #17887
/assign @longjiquan

[2022-06-29 03:02] xiaofan-luan commented on #17856
It should be deleted by milvus, but rocksdb compaction time to clean data is not a guarantee.
Let me invesigate if there are something I can config to trigger it faster

[2022-06-29 03:06] cydrain opened #17890 "[Enhancement]: Replace faiss::MetricType with knowhere::MetricType"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

From the code structure respect, Milvus should only call Knowhere's interface and should not see Faiss's interface.
But for some historical reason, Milvus directly calls Faiss interface, and use faiss::MetricType everywhere in segcore.

We should replace faiss::MetricType with

[2022-06-29 03:06] cydrain commented on #17890
/assign

[2022-06-29 03:12] XuanYang-cn commented on #17863
No, chunkmanager has a vectorchunkmanager which depends on milvus_storage

Maybe refactor `util.factory`, separate msgstream factory with chunckmanager factory

[2022-06-29 03:32] jiaoew1991 commented on #17674
/assign
/unassign @congqixia

[2022-06-29 03:34] songzhi108 opened #17892 "[Bug]: querynode balance bug?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![b4d9667022ea8d04a5ca61c65aabf77](https://user-images.githubusercontent.com/91243118/176345200-c9ceb4d3-cef3-4aad-92d8-79506de332a8.png)

In this snapshot, we saw three querynode memory usage is not in balance.

![32eba717e6f69b422e334ed7fb624de](https://user-images.

[2022-06-29 03:43] soothing-rain commented on #17557
Hey you can use `journalctl -u` to get the logs.

Might be something like `journalctl -u milvus-server` IIRC.

[2022-06-29 03:44] ThreadDao commented on #17823
Fixed `2.1.0-20220628-2e637388`

[2022-06-29 03:44] #17823 closed

[2022-06-29 04:01] XuanYang-cn commented on #17858
/unassign
/assign @ThreadDao @binbinlv

Fixed at pymilvus==2.1.0.dev92, please help to verify

[2022-06-29 04:06] czs007 opened #17893 "[Bug]: Fix bugs in monitoring metrics"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The labels of some monitoring indicators are incorrectly set.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-06-29 04:14] soothing-rain commented on #17563
Hey 2.1.0 is not officially released. Please expect the first candidate version within a week or so :)

[2022-06-29 04:25] soothing-rain commented on #17557
You issue might be duplicated as #15275 and #12673. Happened because Etcd is too slow.

We have done some major improvements when it comes to Etcd in v2.1.0. Thing should get much better then.

[2022-06-29 04:35] yanliang567 commented on #17892
@songzhi108 how many vectors did you inserted? BTW, querynode balance is not about the data size preciously, it is about the segment counts. According to the Memory Usage snapshot above, I guess you totally have 2 segments, and they were balanced actually.

/assign @songzhi108
/unassign

[2022-06-29 04:36] soothing-rain commented on #17712
/unassign @Yuxiang1995
/assign @yanliang567

[2022-06-29 04:43] yanliang567 commented on #17712
@congqixia is it a known issue for us?

/assign @congqixia
/unassign

[2022-06-29 04:44] yhmo opened #17895 "[Bug]: Insert performance get worse than 2.0.2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Inset 20000 vectors with 1024 dim. The latest 2.1 totally cost 7.x seconds, the 2.0.2 cost 4.x seconds.

### Expected Behavior

_No response_

### Steps To Reproduce

[code]
[code]

[2022-06-29 04:44] yah01 opened #17896 "[Bug]: Data race in QueryNode unit tests"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

2022-06-29T04:32:28.4738057Z ==================
2022-06-29T04:32:28.4738511Z WARNING: DATA RACE
2022-06-29T04:32:28.4738927Z Write at 0x00c0064efaa0 by goroutine 641:
2022-06-29T04:32:28.4739360Z   runtime.mapassign_fast64()
2022-06-29T04:32:28.4740226Z       /usr/loc

[2022-06-29 04:44] yhmo commented on #17895
The performance of v2.0.2:

[code]

[2022-06-29 04:45] yhmo commented on #17895
The performance of latest 2.1:

[code]

[2022-06-29 04:46] soothing-rain commented on #17793
We have solved some memory related issues. Expect things to get much better in v2.1.0.

In the meantime, @GitHua2017 can you let us know which pod (or pods) have the most significant memory growth?

[2022-06-29 04:46] yanliang567 commented on #17895
/assign @czs007
/unassign

[2022-06-29 04:46] soothing-rain commented on #17793
/unassign @yanliang567
/assign @GitHua2017

[2022-06-29 05:41] czs007 opened #17898 "[Bug]: DataRace detected in querynode unittest"
WARNING: DATA RACE
Write at 0x00c0065f0b70 by goroutine 759:
  runtime.mapassign_fast64()
      /usr/local/go/src/runtime/map_fast64.go:92 +0x0
  [github.com/milvus-io/milvus/internal/querynode.(*ShardCluster).transferSegment()](http://github.com/milvus-io/milvus/internal/querynode.(*ShardCluster).transferSegment())
      /go/src/[github.com/milvus-io/milvus/internal/querynode/shard_cluster.go:346

[2022-06-29 05:42] yah01 commented on #17896
dup to #17898

[2022-06-29 05:42] #17896 closed

[2022-06-29 06:03] congqixia opened #17900 "[Bug]: deltaChannel info cannot be updated after restart"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After milvus instance restarts, the meta reloads deltaChannelInfo from kv store. Currently, deltaChannelInfo cannot be over write if there is some existing info for the collection.

### Expected Behavior

DeltaChannelInfo shall be updated to the lastest version in rec

[2022-06-29 06:09] #17876 closed

[2022-06-29 06:24] cydrain commented on #17890
/close

[2022-06-29 06:24] #17890 closed

[2022-06-29 06:38] binbinlv commented on #17858
Verified and fixed in "2.1.0.dev92", close it.

[2022-06-29 06:38] #17858 closed

[2022-06-29 07:38] #17900 closed

[2022-06-29 08:06] chuongnvk54 opened #17907 "[Bug]: No space left on device"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Hi team, I have got issue on my production ENV.
When I do searching param 512D. I have got this issue

Log details belows:
2022-06-28 03:26:48,006 ｜ ERROR ｜ decorators.py ｜ handler ｜ 73 ｜ RPC error: [bulk_insert], <BaseException: (code=1, message=IO error: No space le

[2022-06-29 08:20] #17898 closed

[2022-06-29 08:26] congqixia commented on #17674
@jiaoew1991 FYI, querynode cannot provide sevice after restart due to an imcompleted SyncReplicaSegments call.

[2022-06-29 09:22] zhuwenxing commented on #17885
failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/7495/pipeline
log: [artifacts-standalone-pod-kill-7495-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9009186/artifacts-standalone-pod-kill-7495-server-logs.tar.gz)

[2022-06-29 09:26] aakejiang opened #17911 "[Bug]: data race in flow graph"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Data race happens in flow graph.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

[code]

### Anything else?

_No response_

[2022-06-29 09:27] aakejiang commented on #17911
/unassign @yanliang567
/assign @bigsheeper

[2022-06-29 09:38] #17013 closed

[2022-06-29 09:41] jiaoew1991 commented on #17674
There are 2 bugs related to this issue.
1. The index build is slow, before index build finished the growing segments in QueryNode cannot be handoff. The growing segments in QueryNode will not be released, after a period of accumulation the QueryNode crashed by OOM.
2. As congqixia said, QueryNode cannot restart successfully, because of the SyncReplicaSegments message is wrong

[2022-06-29 09:44] jiaoew1991 commented on #17674
<img width="845" alt="image" src="https://user-images.githubusercontent.com/2297455/176405585-f810ac7b-659a-45f7-84ca-c6db0f1a2d56.png">
The QueryNode contains about 200 growing segments

[2022-06-29 09:44] xiaocai2333 commented on #17857
How to trigger ErrCompacted:

1. Trigger compaction manually

[code]

2. Trigger compaction automatically

First you need to configure environment variables for etcd.
[code]
the code

[code]

`WatchWithRevision` triggers ErrCompacted in the above two ways, but `WatchWithPrefix` does not trigger in the above two ways.
I'm sure compaction happened either happened.

But a few days ago, the test team

[2022-06-29 09:52] elstic opened #17913 "[Bug]: Add test cases to the connect interface of pymilvus for the uri and address parameters"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Test cases without the uri and address parameters in the connect interface

### Expected Behavior

Add test cases to the connect interface of pymilvus for the uri and address parameters

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anythin

[2022-06-29 09:57] yah01 opened #17914 "[Bug]: Growing segment may be leaked to offload if the corresponding sealed segment is compacted before handoff done"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Flushing a segment `s` triggers a handoff task, the growing segment will never be offload if segment `s` is compacted before the handoff task is processed by QueryNode.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No r

[2022-06-29 09:58] bigsheeper commented on #17911
Write at msgstream's `Chan()`:
![image](https://user-images.githubusercontent.com/42060877/176409230-4e08e962-f18e-4471-90aa-354e72639d54.png)

And read at msgstream's `Close()`:
![image](https://user-images.githubusercontent.com/42060877/176409076-7e0de903-2914-4ad9-a96a-7ba2a6a4ffb5.png)

[2022-06-29 11:09] elstic opened #17917 "[Bug]: Code optimisation of api_request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

_No response_

### Current Behavior

Code can be optimised

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-06-29 11:24] yanliang567 commented on #17907
@chuongnvk54 how many vectors did you inserted? Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

/assign @chuongnvk54
/unassign

[2022-06-29 11:37] yanliang567 commented on #17889
/assign @yah01
/unassign

[2022-06-29 11:37] yanliang567 commented on #17888
/assign @congqixia
/unassign

[2022-06-29 11:38] yanliang567 commented on #17885
/assign @XuanYang-cn
/unassign

[2022-06-29 12:00] ThreadDao opened #17924 "[Bug]: Query with the deleted string field id gets a wrong entity"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Test case:
[code]

Client log:
[code]
[mic_logs.tar.gz](https://github.com/milvus-io/milvus/files/9010250/mic_logs.tar.gz)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-06-29 12:03] yanliang567 commented on #17924
/assign @xige-16
/unassign

[2022-06-29 12:39] elstic opened #17928 "[Bug]: Milvus crashed with panic "SnapShotKV MultiSaveAndRemoveWithPrefix fail""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

 When I raised this pr : https://github.com/milvus-io/milvus/pull/17918
ci-test  appears  could not connect milvus with panic "SnapShotKV MultiSaveAndRemoveWithPrefix fail"

### Expected Behavior

 Milvus shouldn't crash

### Steps To Reproduce
Running CI
https://gith

[2022-06-29 13:10] bigsheeper commented on #17911
/assign @xiaofan-luan
/unassign

[2022-06-29 16:12] congqixia commented on #17888
@binbinlv shall be fixed with #17903 , could you please verify?

[2022-06-30 01:06] yanliang567 commented on #17928
/assign @jiaoew1991
/unassign

[2022-06-30 02:12] binbinlv opened #17935 "[Bug]: Search is successful with invalid metric type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search is successfully with invalid metric type

### Expected Behavior

Report errors

### Steps To Reproduce

Nightly:
https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-nightly-ci/branches/master/runs/624/nodes/64/steps/178/log/?star

[2022-06-30 02:12] binbinlv commented on #17935
It blocks master nightly, so set it as urgent.

[2022-06-30 02:17] xiaofan-luan commented on #17914
we can simply check release list in shardleader growing list?

[2022-06-30 02:17] yanliang567 commented on #17935
/assign @longjiquan
/unassign

[2022-06-30 02:23] longjiquan commented on #17887
Hi, @songzhi108 . Thanks for the nice advice. We have already updated the documentation of this internally, but it's not released yet.
As for your questions:
- 1, Yeah, you're right that it's better to set consistency level when we make a search, maybe we should mention this in our docs;
- 2, The default `consistency_level` is `Bounded` instead of `Strong`, if you found any docs mentioned this, pl

[2022-06-30 02:25] yhmo commented on #17776
In v1.x, firstly we know insert data is put into a buffer, waiting to be flushed. Flush action will flush the buffer into storage, to new segment files.
So, when you continually do insert, some data has been serialized into storage, and some data is in the buffer.

Delete action contains some ids that need to be deleted. When you call delete(), the delete action firstly checks the insert buffer, t

[2022-06-30 02:38] #17911 closed

[2022-06-30 02:45] yanyantech opened #17940 "[Bug]: milvus-standalone Exited"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

running 30 days and milvus-standalone node  exited

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

[2022/06/28 06:47:22.823 +00:00] [ERROR] [root_coord.go:923] ["Root Coord disconnected from etcd, process will exit"] ["Ser

[2022-06-30 02:50] binbinlv commented on #17928
Some info may be a help:
1. Test case fail time: about. [2022-06-29T11:24:10.594Z
2. panic time: about 2022/06/29 11:23:32.511
3. panic file:
ms-17918-1-pr-milvus-standalone-69d89fb757-ff6xr_milvus-ci_standalone-433af1a163f02ddafd54a181e3a28dac45c7032911c0e46d243ff978e75bc222.log:panic: SnapShotKV MultiSaveAndRemoveWithPrefix fail
ms-17918-1-pr-milvus-standalone-69d89fb757-ff6xr_milvus-ci_standalo

[2022-06-30 02:51] ThreadDao commented on #17040
Any progress? Maybe not..

[2022-06-30 02:52] binbinlv commented on #17928
Milvus logs:
[ms-17918-1-pr.zip](https://github.com/milvus-io/milvus/files/9016038/ms-17918-1-pr.zip)

[2022-06-30 02:53] zyy20191 opened #17942 "[Bug]: When the service is idle, the CPU usage is too high, and the same log is always printed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I started the service and did not create or insert any data, the CPU usage was 6%. Then the log file keeps printing the following log

### Expected Behavior

What does this log mean, and what can I do to reduce CPU usage

### Steps To Reproduce

_No response_

##

[2022-06-30 02:55] zhuwenxing commented on #17885
failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/7507/pipeline
log: [artifacts-standalone-pod-kill-7507-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9016048/artifacts-standalone-pod-kill-7507-server-logs.tar.gz)

[2022-06-30 03:24] BUPTAnderson opened #17943 "[Bug]: querynode crash"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

one querynode crash

### Expected Behavior

querynode running healthily

### Steps To Reproduce

_No response_

### Milvus Log

[querynode.log](https://github.com/milvus-io/milvus/files/9016179/querynode.log)

### Anything else?

_No response_

[2022-06-30 03:28] BUPTAnderson commented on #17943
`Assert "row_count_opt_.value() == size" at /opt/milvus/internal/core/src/segcore/SegmentSealedImpl.cpp:177
 => field (0) data has different row count (72639) than other column's row count (64285)`
 It looks like there is a problem with the data validation for segment。

[2022-06-30 03:44] yanliang567 commented on #17943
looks like a known issue that we are just trying to fix.
@congqixia could you please take a look?
/assign @congqixia
/unassign

[2022-06-30 03:45] chang48 commented on #16209
@LoveEachDay Suppose the persisted `volumes` folder contains my indexed data and I'd like to deploy the container in a different place. If it is necessary to delete the `volumes` folder in order to start the service properly, it seems quite inconvenient to me. Because this seems to imply that one needs to reindex every time the milvus cluster is restarted. Did I miss something?

I'm asking because

[2022-06-30 03:47] chang48 commented on #17563
I'm having a similar issue even with the latest dev container image.

[2022-06-30 03:51] congqixia commented on #17943
@BUPTAnderson yes, this log show the row count does not match among segment fields. Could you please provide how did you generates there segments? Say, schema of the collection and the batch number or clients number used to insert?

[2022-06-30 03:54] cydrain opened #17945 "[Enhancement]: Reduce code duplication on segcore"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

some suggestions to reduce code duplication on segcore:
1. hafl part of API SegmentSealedImpl::vector_search should be replaced by SearchOnGrowing()
2. FloatSearch and BinarySearch can be merged into one API

### Why is this needed?

_No response_

### Anything else?

_No resp

[2022-06-30 03:54] cydrain commented on #17945
/assign

[2022-06-30 04:09] BUPTAnderson commented on #17943
the collection schema is in #17851

[2022-06-30 04:30] BUPTAnderson commented on #17943
crashed querynode log is bigger than 25MB, i split it to two parts.
[querynode-19-part1.log](https://github.com/milvus-io/milvus/files/9016377/querynode-19-part1.log)

[2022-06-30 04:31] xige-16 commented on #17924
There is a problem with the lookup of the string index. If a string does not exist in the index, the lookup for this string will still return id = 0, which causes the query to fetch one more data.

[2022-06-30 04:31] BUPTAnderson commented on #17943
part-2 log:
[querynode-19-part2.log](https://github.com/milvus-io/milvus/files/9016387/querynode-19-part2.log)

[2022-06-30 05:30] yah01 commented on #17889
Same as #17411, which will be fixed with making the GetQuerySegmentInfo return only sealed segments

[2022-06-30 05:33] yah01 commented on #17411
/assign

[2022-06-30 06:01] xiaofan-luan commented on #17874
did we put this into 2.1 branch?

[2022-06-30 06:16] zhuwenxing commented on #17885
/assign @congqixia

[2022-06-30 06:30] yanliang567 commented on #17563
@chang48 what about trying to release and reload the collection ?

[2022-06-30 06:37] binbinlv opened #17951 "[Bug]: Create index failed for timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Create index failed for timeout

### Expected Behavior

Interface "connect.create_index" return successfully

### Steps To Reproduce

[code]

### Milvus Log

[artifacts-milvus-standalone-PR-17904-6-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvu

[2022-06-30 06:39] sunby commented on #17513
There are 2 problems that lead to search timeout:
1. Msgstream close could block because of the full buffer. I have fixed it in #17909
2. The runtime.NumCPU will get the cpu number of the host and there may be too much search task executed concurrently. @czs007 is fixing it.

[2022-06-30 06:39] zhuwenxing commented on #17951
maybe related to https://github.com/milvus-io/milvus/issues/17792

[2022-06-30 06:41] jiaoew1991 commented on #17855
@BUPTAnderson Could you please use this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

[2022-06-30 06:47] xiaofan-luan commented on #17943
@BUPTAnderson Thanks ! I will handle it.
I probably also need the log from QueryCoord and IndexCoord/Node, could you help me on this

[2022-06-30 06:59] binbinlv commented on #17888
OK， verifying.

[2022-06-30 07:10] YiyunNi commented on #17887
Hi @songzhi108 , thanks for the suggestion.

1. Added extra information about the best practice of tuning consistency level in this PR: https://github.com/milvus-io/milvus-docs/pull/1571

2. I have searched through our documentation and did not find any mention of default consistency as `Strong`. Please let me know if any doc is containing this wrong information.

Thank you!

[2022-06-30 07:22] yah01 opened #17952 "[Bug]: Some segments lost as QueryNode OOM killed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

With only 1 QueryNode, we noticed that some segments lost as QueryNode OOM killed, the LoadBalance seems not working as expected.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No respo

[2022-06-30 07:25] songzhi108 commented on #17892
Yes, you are right. There are 2 segments in my test env by `get_query_segment_info()` api.
Thank you~

[2022-06-30 07:25] #17892 closed

[2022-06-30 07:29] songzhi108 commented on #17887
Sorry for Q2, I think it was the code-snap(https://milvus.io/cn/docs/v2.0.x/search.md) mislead me.

[2022-06-30 07:31] yanliang567 commented on #17952
/assign @yah01
/unassign

[2022-06-30 07:40] xige-16 commented on #17924
Please verify the issue @ThreadDao
/unassign
/assign @ThreadDao

[2022-06-30 07:59] BUPTAnderson commented on #17855
sorry， cluster has redeployed and logs have been cleared.

[2022-06-30 08:34] JulyMood opened #17956 "[Bug]: Search error: Search params check failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When using the BIN_IVF_FLAT index, an error starts to be reported after a day of normal searching.
The same code, the rebuilt table can be searched successfully

pymilvus console:
pymilvus.client.exceptions.BaseException: <BaseException: (code=1, message=QueryNode sea

[2022-06-30 08:55] soothing-rain commented on #17943
@BUPTAnderson Hey we also need the log DataCoord. Might be a known issue. Thanks! :)

[2022-06-30 08:55] yanliang567 commented on #17956
@JulyMood  thank you for the issue. It seems that the search params is not correct.
please try:
`        search_params = {"metric_type": "JACCARD", "params": {"nprobe": 16}}`

[2022-06-30 08:55] yanliang567 commented on #17956
/assign @JulyMood
/unassign

[2022-06-30 09:00] BUPTAnderson commented on #17943
@soothing-rain I have send logs to @yhmo

[2022-06-30 09:10] JackyKwok01 commented on #15987
Hi all is there any way to configure accessKey & secretKey in externalS3? i dont want to show it in the value.yaml

[2022-06-30 09:26] #17893 closed

[2022-06-30 09:38] zhuwenxing opened #17958 "[Bug]: Datanode CrashLoopBackOff after cluster reinstall"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all pods ready

### Steps To Reproduce

[code]

### Milvus Log

failed job: https://github.com/zhuwenxing/milvus/runs/7126714863?check_suite_focus=true
log: https://github.com/zhuwenxing/milvus/suites/7157204657/artifacts/284925242

###

[2022-06-30 09:41] zhuwenxing commented on #17958
error log in datanode
[code]

[2022-06-30 09:50] jingkl commented on #17416
2.1.0-20220624-6c47ea2f
pymilvus 2.1.0dev87
argo:
test-etcd-no-clean-vz9l6
server-configmap
server-cluster-8c64m
client-configmap
client-random-locust-100m-ddl-r8-w2-60h

update image :2.1.0-20220629-20af4dbe
pymilvus 2.1.0dev87
argo
test-etcd-no-clean-vz9l6
server-configmap
server-cluster-8c64m
client-configmap
client-random-locust-100m-ddl-r8-w2-con-12h

Already verified that no more errors are

[2022-06-30 09:55] jingkl commented on #17829
server-instance
test-etcd-no-clean-trj4s-1
server-configmap
server-cluster-8c64m-datanode2-indexnode4-querynode6-kafka
client-configmap
client-random-locust-search-60h-1b
tag: 2.1.0-20220629-20af4dbe
pymilvus 2.1.0deve87

uninstall and reinstall milvus:
server-instance
test-etcd-no-clean-trj4s-1
server-configmap
server-cluster-8c64m-datanode2-indexnode4-querynode6-kafka
client-configmap
client-ran

[2022-06-30 10:03] aakejiang opened #17963 "[Bug]: cannot update root credential"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

UpdateCredential failed:
old password is not correct:root

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

[code]

### Anything else?

_No response_

[2022-06-30 11:14] yanliang567 commented on #17942
@zyy20191 thank you for the issue. could you please retry on milvus 2.0.2?

/assign @zyy20191
/unassign

[2022-06-30 11:17] yanliang567 commented on #17940
@yanyantech thank you for the issue. It seems that the etcd service is offline. could you double check the etcd service statue? BTW, i cannot open the log link you pasted above.

/assign @yanyantech
/unassign

[2022-06-30 11:32] longjiquan commented on #17935
thx for reporting this. I'll fix this soon.

[2022-06-30 11:45] Roger-Z opened #17969 "[Bug]: similarity change when searching same vector twice"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

As shown below, score changes for same target vector and source vector, and sequence also change (the fifth record).
first time:
[{"score":0.2914793,"strID":"","longID":434213119081134550},{"score":0.28723007,"strID":"","longID":434213119081134564},{"score":0.28342956

[2022-06-30 11:49] yanliang567 commented on #17969
/assign @xiaocai2333
/unassign

[2022-06-30 12:38] czs007 opened #17972 "[Bug]: Got wrong cpu nubmer inside container"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The NumCPU provided by golang's package runtime gets the wrong number of CPUs in the container.
Use  runtime.GOMAXPROCS(0) instead.
With automaxprocs, runtime.GOMAXPROCS(0) returns the correct number.

### Expected Behavior

_No response_

### Steps To Reproduce

_No

[2022-06-30 14:00] #15677 closed

[2022-06-30 14:00] #16835 closed

[2022-06-30 14:00] #17098 closed

[2022-06-30 15:58] andrwtokar opened #17978 "[Bug]: Incorrect calculation of distance in RHNSW_PQ and HNSW indexes."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I generated 10,000 vectors with dimension equal to 512 and they were all normalized to 1. Later I put it into the milvus cluster. I choose the first vector as the target to search and tried to find the 10 most similar vectors.

Vectors was inserted by the next code:
[

[2022-07-01 01:00] yanliang567 commented on #17978
/assign @cydrain
/unassign

[2022-07-01 01:04] yanliang567 commented on #17942
great, i will close this issue then. please feel free to open new issues if any problems

[2022-07-01 02:02] xiaofan-luan commented on #17969
might be related to #17661

[2022-07-01 02:03] xiaofan-luan commented on #17969
Hi Roger, does it always happen on your cluster? Any  easy way to reproduce?

[2022-07-01 02:06] xiaofan-luan commented on #17874
@aakejiang ready for the QA to test? pls assign this issue back to yanglinag

[2022-07-01 02:07] xiaofan-luan commented on #17792
we are working on a complete solution to fix

[2022-07-01 02:07] xiaofan-luan commented on #17674
@jiaoew1991 should this be fixed by the handoff pr?

[2022-07-01 02:11] jiaoew1991 commented on #17674
QA team retest this case yesterday night，I will ask them the result.

[2022-07-01 02:21] jingkl commented on #17674
server-instance
test-etcd-no-clean-6d9tk-1
server-configmap
server-cluster-8c64m-compaction
client-configmap
client-random-locust-compaction
tag: 2.1.0-20220630-a875e755
pymilvus 2.1.0dev87

server:
[code]

[code]

[2022-07-01 02:27] ThreadDao commented on #12598
keep on open

[2022-07-01 02:28] ThreadDao commented on #17924
ci pass, fixed

[2022-07-01 02:28] #17924 closed

[2022-07-01 02:30] xige-16 commented on #17535
/unassign

[2022-07-01 02:31] mohitreddy1996 opened #17981 "[Bug]: Kafka topics should be explicitly created with externally configured kafka"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

With external kafka configured, Topics required for inter-server communication are not created, but are delegated to the kafka consumers which are configured with `allow.auto.create.topics` - https://github.com/milvus-io/milvus/blob/master/internal/mq/msgstream/mqwrap

[2022-07-01 02:35] xige-16 commented on #17513
/assign @czs007
/unassign @longjiquan
/unassign @wangting0128

[2022-07-01 02:39] xige-16 commented on #17434
/unassign

[2022-07-01 02:40] xige-16 commented on #17576
/unassign

[2022-07-01 02:42] xige-16 commented on #17711
Not enough logs

[2022-07-01 02:42] xige-16 commented on #17711
@yhmo

[2022-07-01 02:43] zhuwenxing commented on #17627
It is reproduced in the version `master-20220630-6ab850be`
failed job: https://github.com/milvus-io/milvus/runs/7138344034?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/7168240171/artifacts/285614836

[2022-07-01 02:45] binbinlv opened #17982 "[Bug]: [kafka] Fail to search on all shard leaders for "Search 11 failed, reason cannot find sealed segment 434276498683723777 in QueryNode""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Fail to search on all shard leaders for "Search 11 failed, reason cannot find sealed segment 434276498683723777 in QueryNode"

FAILED cases:
[code]

### Expected Behavior

Search successfully

### Steps To Reproduce

[code]

### Milvus Log

1. milvus log:
[milvus-dist

[2022-07-01 02:45] binbinlv commented on #17982
It occurs in the 2.1.0 latest build, so set it as urgent.

[2022-07-01 02:51] binbinlv commented on #17889
It occurs frequently in master branch, so set it as urgent.

[2022-07-01 02:53] binbinlv commented on #17725
@jaime0815
By adding timeout to 90s, the pulsar nightly is good now.

But the kafka nightly is still reporting this error.

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-release-nightly/detail/milvus-release-nightly/125/pipeline

[2022-07-01 02:59] zhuwenxing commented on #17627
@yah01

please help to take a look!

[2022-07-01 03:01] binbinlv commented on #17982
Maybe this is the same with issue #17850, could you help to confirm whether the root cause is the same? Thanks.

 @jaime0815

[2022-07-01 03:09] zhuwenxing commented on #17627
It also happened in querynode pod kill with kafka as mq

failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test-kafka/detail/chaos-test-kafka/234/pipeline
log: [artifacts-querynode-pod-kill-234-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9024774/artifacts-querynode-pod-kill-234-server-logs.tar.gz)

[2022-07-01 03:11] jaime0815 commented on #17725
the same issue, try to add the timeout to 180s
[code]

[2022-07-01 03:16] congqixia commented on #17982
@binbinlv found a bug about segment info is no cleaned up after collection released, this PR #17932 shall fix this.

[2022-07-01 03:16] congqixia commented on #17982
@jaime0815 FYI

[2022-07-01 03:26] elstic opened #17985 "[Bug]: Status code error, there is an exception that returns a status code of 0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I delete an index with an invalid collection name, the status code is 0

`[2022-07-01 10:57:04,212 - ERROR - ci_test]: (api_response) : <IndexNotExistException: (code=0, message=Index doesn't exist.)> (api_request.py:36)
`

### Expected Behavior

When an exceptio

[2022-07-01 03:31] aakejiang opened #17986 "[Enhancement]: Store binlogs info separately to reduce Etcd value size"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

For now, segment info is saved in etcd, including all the binlog file info like file path, file size, number of records etc, and there are three types of binlogs including insert binlog, delete binlog and stats binlog.
Since a segment may have many binlogs, the value in etcd w

[2022-07-01 03:31] aakejiang commented on #17986
/assign

[2022-07-01 03:35] yanliang567 commented on #17981
/assign @jaime0815
/unassign

[2022-07-01 03:38] YiyunNi commented on #17887
Added further clarification in this PR: https://github.com/milvus-io/milvus-docs/pull/1587

[2022-07-01 03:51] czs007 opened #17989 "[Bug]: Fix datarace in proxy unittest"
[2022/06/30 21:19:18.440 +08:00] [INFO] [global.go:30] ["Pulsar config"] ["pulsar url"=pulsar://localhost:6650] ["pulsar web url"=http://localhost:18080]

WARNING: DATA RACE
Write at 0x00c0001fe960 by goroutine 73:
  github.com/milvus-io/milvus/internal/util/paramtable.(*PulsarConfig).initWebAddress()
      /home/czs/milvus/internal/util/paramtable/service_param.go:230 +0xe5
  github.com/milvus-io

[2022-07-01 05:09] soothing-rain commented on #17943
Here's what happened:
1. DataNode-1 starts processing insert messages for segment-A.
2. DataNode-1 flushes segment-A. Making it a flushed segment.
3. DataNode-1 crashes (#17851) and restarted as DataNode-2.
4. DataNode-2 recovers segment-A as a flushed segment.
5. DataNode-2 continues to process insert messages (which are set to be written to segment-A previously).
6. DataNode-2 fails to update se

[2022-07-01 05:10] soothing-rain commented on #17943
Might be the same issue as: [#17576](https://github.com/milvus-io/milvus/issues/17576)

[2022-07-01 05:40] haorenfsa commented on #17285
One can carete a gateway to ensure the privacy of the connection. This still can be a potential feature to adopt, not urgent for now.

[2022-07-01 05:49] zhuwenxing commented on #17958
failed job: https://github.com/milvus-io/milvus/runs/7139274412?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/7169134194/artifacts/285675468

[2022-07-01 05:51] zhuwenxing commented on #17958
It seems that this only happened when MQ is Kafka

[2022-07-01 06:10] jingkl commented on #17513
server-instance
test-etcd-no-clean-k646h-1
server-configmap
server-cluster-dn2c10m-in8c32m-qn8c64m-compaction
client-configmap
client-random-locust-insert-delete-18h
pymilvus 2.1.0dev87
2.1.0-20220630-a875e755

[code]

[code]

[2022-07-01 06:12] wayblink opened #17991 "[Bug]: Query result is empty after upgrade milvus from 2.0.2 to 2.1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

A user get empty query result after upgrading milvus from 2.0.2 to 2.1.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-07-01 06:12] wayblink commented on #17991
/assign

[2022-07-01 06:15] wayblink commented on #17991
log: [milvus.log.tar.gz](https://github.com/milvus-io/milvus/files/9026553/milvus.log.tar.gz)

[2022-07-01 06:29] xiaofan-luan commented on #17991
@wayblink might be related to query path.
we maintained wrong segment list

[2022-07-01 06:30] xiaofan-luan commented on #17991
try release/load the collection and it might help

[2022-07-01 06:31] wayblink commented on #17991
So far, the reason I found is a compatibility issue between 2.0.2 and 2.1.

In #17441, we replace SegmentInfo with segmentID in VchannelInfo to make the message smaller.
![image](https://user-images.githubusercontent.com/18096561/176836115-de303072-4a8e-4ec5-86ec-d24ef181e3ee.png)

When milvus restart, query nodes will reload WatchDmChannelsRequest from etcd and recover the segment infos.

After u

[2022-07-01 06:34] wayblink commented on #17991
I will try to fix it by make reloading WatchDmChannelsRequest compatible to 2.0.2 meta.

[2022-07-01 06:47] weiwang19 commented on #17723
@xiaocai2333 , do you see which component causes the above error?

[2022-07-01 07:10] Roger-Z commented on #17969
It's our own problem, sorry for the misinformation.

[2022-07-01 07:10] #17969 closed

[2022-07-01 07:23] wayblink commented on #17991
still need further thinking

[2022-07-01 07:39] zhuwenxing commented on #17286
It works well with `milvusdb/etcd:3.5.0-r6`.

[2022-07-01 07:56] xiaofan-luan commented on #17972
@czs007 should also put this into master

[2022-07-01 08:02] xiaofan-luan commented on #17958
Form the Exclusive consumer is already connected log, it seems to be pulsar issue, can you make sure on this?

[2022-07-01 08:05] XuanYang-cn commented on #17951
/assign @binbinlv
/unassign

Please help to verify

[2022-07-01 08:05] XuanYang-cn commented on #17951
dev93

[2022-07-01 08:06] binbinlv commented on #17951
OK, verifying.

[2022-07-01 08:10] xiaofan-luan commented on #17958
seems that watch dml channel failed forever

[2022-07-01 08:15] yanliang567 commented on #17645
not reproduce these day, degrade priority

[2022-07-01 08:20] zhuwenxing commented on #17885
all logs included killed pods
[standalone-pod-kill-7507.zip](https://github.com/milvus-io/milvus/files/9027312/standalone-pod-kill-7507.zip)

[2022-07-01 08:24] xiaofan-luan commented on #17958
similar issue as 17598

[2022-07-01 08:24] xiaofan-luan commented on #17958
[2022/06/30 21:09:04.081 +00:00] [WARN] [task.go:361] ["watchDMChannel, add flowGraph for dmChannels failed"] [collectionID=434273442099101697] [vChannels="[by-dev-rootcoord-dml_14_434273442099101697v0]"] [error="failed to seek, error All attempts results:\nattempt #1:proto: MessageIdData: wiretype end group for non-group\nattempt #2:proto: MessageIdData: wiretype end group for non-group\nattempt

[2022-07-01 08:35] jiaoew1991 commented on #17674
[code]
from the QueryCoord's log, we can find there are 100+ handoff task blocked,  it cause the growing segments in querynode cannot be handoff as we expect

we should add some backpressue mechanism，or make handoff task does not blocked by index.

[2022-07-01 08:43] WordlessToContinue opened #17998 "[Bug]: milvus hang cannot process search request after running a while"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

milvus hang cannot process search request after running a while

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

milvus begin log
30.2_milvus-22-06-28-19_20-info.log.1

milvus hang logs
30.2_milvus-22-06-28-19_20-info.log
30.2_mil

[2022-07-01 08:43] wayblink commented on #17958
/assign

[2022-07-01 08:52] yanliang567 commented on #17998
/assign @yhmo
/unassign

[2022-07-01 08:55] binbinlv commented on #17951
Fixed and close.
https://github.com/milvus-io/milvus/pull/17904

[2022-07-01 08:55] #17951 closed

[2022-07-01 09:12] ThreadDao opened #18005 "[Bug]: [memory] Index creation timeout while indexnode OOMKilled, index has already created after indexnode restart"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Deploy milvus cluster and limit indexnode memory 2Gi
2. Create index for 58w 512dim entities and gets timeout exception
3. Indexnode OOMkilled
4. Increase indexnode memory limit and it re-running
5. Describe collection index and it is indexed

[indexnode_pre.log](h

[2022-07-01 09:39] congqixia opened #18008 "[Bug]: QueryNode cannot handle segmentChangeInfo with multple vchannel"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Querynode will report error if segmentChangeInfo has multple vchannel. While QueryCoord could produce segmentChangeInfo with segments in different vchannel

### Expected Behavior

Let QueryNode handles segment change info with multple vchannel

### Steps To Reproduce

[2022-07-01 09:54] xiaofan-luan commented on #17958
1. The issue is triggered because seek can not succeed due to vchannelInfo miss some infomation.
2. We try to reassign channel every 20 seconds to the same datanode(There is only one datanode), and cause some issue of channel register/unregester.
@wayblink is fixing the first issue, I'm fixing the second one/

[2022-07-01 09:56] #17989 closed

[2022-07-01 10:08] yuliu-eric opened #18012 "[Bug]: Wired Search Behavior in Milvus 2.0.2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Background: We have migrated a few collections from Milvus 1.1.0 to Milvus 2.0.2 using the MilvusDM tool, and run a few performance tests.

1. After creating an index, the search latencies are around **30ms** for all the aforementioned migrated collections on Milvus 2

[2022-07-01 10:14] #17856 closed

[2022-07-01 10:19] yanliang567 commented on #18012
@yuliu-eric thank you for the issue. Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation? BTW, We'd better have logs for both step#1(30ms) and step #2(200ms).

/assign @yuliu-eric
/unassign

[2022-07-01 10:23] yanliang567 commented on #18005
i think we shall check memory to avoid OOM.

[2022-07-01 10:26] zhuwenxing commented on #17958
@xiaofan-luan
It is my mistake. There are some problems with the testing process.
The test case is to test Kafka reinstallation, but the second deployment is using pulsar as MQ due to my mistake.

[2022-07-01 10:27] yuliu-eric commented on #18012
We lost the logs for 30ms in #1, but we do have the logs for steps #2 and #4. Do you have a location where I can upload the logs?

[2022-07-01 10:32] yanliang567 commented on #18012
That's good, could you use google drive or baidu drive for the logs ?

[2022-07-01 10:32] xiaocai2333 commented on #18005
@ThreadDao What is the memory size of IndexNode？ What is the dimensions of the data?

[2022-07-01 10:34] jaime0815 opened #18013 "[Enhancement]: Remove queryCoord-deltaChannel meta from querycoord"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

queryCoord-deltaChannel meta is redundant,  we can remove it from etcd.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-07-01 10:34] andrwtokar commented on #17978
Yes, I can use the HNSW index, but it takes too much memory and I want to try RHNSW_PQ as soon as possible.

When I looked at the knowhere repository, I found that the IP metric is not released for RHNSW_PQ. But it's not listed on the product page.
A little more about the problem: if I put 10 thousand vectors in the index - it works correctly and returns good distances. But if I put more data, the

[2022-07-01 10:47] yuliu-eric commented on #18012
Sure, please try this [link](https://drive.google.com/drive/folders/11wlRLAFq0ly54WwO7F1QLxolP74-t80E) and request access so that I can grant for.

[2022-07-01 10:56] zhuwenxing commented on #17958
It works well after the fix, see https://github.com/zhuwenxing/milvus/runs/7148354587?check_suite_focus=true
Sincere apology again!

[2022-07-01 10:59] YiyunNi opened #18015 "[Bug]: Unable to install and start Milvus in one-line code."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I run the command `docker run --name=milvus -p19530:19530  milvusdb/milvus:v2.0.2 milvus run embedded`, I was unable to start Milvus.
![截屏2022-07-01 18 55 56](https://user-images.githubusercontent.com/74396087/176881779-da1c5dc3-bc98-438e-b947-af10d0a8c15e.png)

[2022-07-01 11:20] #18008 closed

[2022-07-01 11:24] haorenfsa commented on #18015
Sry, I made a mistake, it's added in v2.1.

[2022-07-01 12:59] DrBamba commented on #16804
/reopen

[2022-07-01 20:47] #17174 closed

[2022-07-01 20:47] #17212 closed

[2022-07-02 02:03] xiaofan-luan commented on #17935
/assign @binbinlv

[2022-07-02 02:04] xiaofan-luan commented on #17935
pls cherry pick to 2.1 @longjiquan

[2022-07-02 02:08] xiaofan-luan commented on #17928
seems like a etcd timeout issue, the panic seems to be not a bug.
We will refine the code logic in later release, so far keep it as is

[2022-07-02 02:09] xiaofan-luan commented on #17888
/assign @binbinlv

[2022-07-02 02:09] xiaofan-luan commented on #17868
do we have any MEP or design plans about it?

[2022-07-02 02:11] #17804 closed

[2022-07-02 02:11] xiaofan-luan commented on #17804
fix ed in #17806 and #17933

[2022-07-02 02:51] xiaofan-luan opened #18023 "[Bug]: Datanode garbage collection should use chunkmanager rather than use minio.Client directly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

If we want to use local disk on some scenarios, the garbage colleciton won't work.
Use minio client or etcd client destroy the encapsulation

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

[2022-07-02 02:52] xiaofan-luan commented on #18023
/assign @EricStarer

[2022-07-02 03:01] yah01 commented on #17982
/assign @binbinlv
Many fixes have been merged, plz check with the latest commit

[2022-07-02 03:02] yah01 commented on #17850
/assign @binbinlv
fixed with #17950 #18020

[2022-07-02 03:02] yah01 commented on #17627
/assign @zhuwenxing
should fixed with #18002 #18018

[2022-07-02 03:47] soothing-rain commented on #17943
More details:

Here's where insertMsg are supposed to get filtered to avoid double consuming:
https://github.com/milvus-io/milvus/blob/6954a5ba3e91bd39d42da4ff5e0483c091eb283f/internal/datanode/flow_graph_dd_node.go#L145-L153

where FilterThreshold is the start time of DataNode and is set during DataNode Start():
https://github.com/milvus-io/milvus/blob/f0b036a35ae17ada3101eebc6a200b5f621b7e7e/int

[2022-07-02 12:02] zhuwenxing commented on #17956
In the deploy test, there are also some errors about search params for binary index, like `BIN_FLAT` when the param is `{'metric_type': 'HAMMING', 'params': {'nprobe': 10}}`

see https://github.com/milvus-io/milvus/runs/7156493125?check_suite_focus=true

It works well several days ago.

[2022-07-02 19:17] #17177 closed

[2022-07-02 19:17] #17220 closed

[2022-07-02 19:17] #16989 closed

[2022-07-02 19:17] #17187 closed

[2022-07-02 19:17] #17235 closed

[2022-07-02 19:17] #17236 closed

[2022-07-03 01:13] yanliang567 commented on #17956
@cydrain could you please take a look at this issue?

/assign @cydrain

[2022-07-03 06:51] siwenyang opened #18025 "[Bug]: Collection load, queryNodes offline, Restart queryNodes, Collection load and get_query_segment_info not worked"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Already had 50 collections(all less than 24 million), Insert 24 million data into a new collection, had 3 queryNodes, each on 32GB c5.4 xlarge
2. build collection index
3. use collection.load(), not worked:

RPC error: [load_collection], <BaseException: (code=1, me

[2022-07-03 06:56] siwenyang commented on #18025
Also I try drop collection by utility.drop_collection(), also not worked.
It just hanging there forever no response

[2022-07-03 07:41] #17243 closed

[2022-07-03 07:41] #17191 closed

[2022-07-03 08:13] yanyantech commented on #17940
please copy the link then download in browser(note:do not click the link  )

[2022-07-03 12:01] xiaofan-luan commented on #17991
@wayblink any progress on it?

[2022-07-03 12:10] xiaofan-luan commented on #17943
The filterThreshold is a really weird logic.
The acually filter start position should be related to check point offset.
Could you explain why there is a FilterThreashold logic here? @soothing-rain @XuanYang-cn

[2022-07-03 12:12] xiaofan-luan commented on #17674
So far these seems ok to me if no indexing the handoff will not happen.
Can we double check why growing segments takes so much memory?

[2022-07-04 00:55] yanliang567 commented on #18025
@siwenyang thank you for the issue, Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

/assign @siwenyang
/unassign

[2022-07-04 02:07] xiaofan-luan commented on #18025
/assign @yah01

[2022-07-04 02:07] xiaofan-luan commented on #18025
pls take a look on it

[2022-07-04 02:11] xiaofan-luan commented on #17978
If you use PQ you will only get 0.3-0.4 recall, which is usually not acceptable.
Try RNHSW-SQ and it will save your memory to only 1/4.

[2022-07-04 02:12] xiaofan-luan commented on #17952
@yah01 is this a solved issue?

[2022-07-04 02:15] xiaofan-luan commented on #17895
/assign @longjiquan
pls help on it

[2022-07-04 02:16] xiaofan-luan commented on #17885
won't fix on it for now, but we will offer a command to force release a collection to solve the problem

[2022-07-04 02:17] xiaofan-luan commented on #17864
@xiaocai2333 is fixing it

[2022-07-04 02:18] xiaofan-luan commented on #17857
My guess is WatchWithPrefix shouldn't hit ErrCompacted. any comments? @congqixia @sunby

[2022-07-04 02:19] aakejiang commented on #17874
/unassign
/assign @yanliang567

[2022-07-04 02:19] #17832 closed

[2022-07-04 02:20] aakejiang commented on #17963
/unassign
/assign @yanliang567

[2022-07-04 02:23] #17314 closed

[2022-07-04 02:23] longjiquan commented on #17956
/assign

[2022-07-04 02:25] #17866 closed

[2022-07-04 02:34] yah01 commented on #17952
Not reproduced for many times trying

[2022-07-04 02:34] congqixia commented on #17857
@xiaocai2333 try update revision for key A and `WatchWithPrefix` fro key B.

[2022-07-04 02:36] zhuwenxing opened #18029 "[Bug]: When the param is {'metric_type': 'HAMMING', 'params': {'nprobe': 10}} for binary index, search will raise error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

In the deploy test, there are also some errors about search params for binary index, like `BIN_FLAT` when the param is `{'metric_type': 'HAMMING', 'params': {'nprobe': 10}}`
[code]

see https://github.com/milvus-io/milvus/runs/7156493125?check_suite_focus=true

It wor

[2022-07-04 02:37] zhuwenxing commented on #18029
/unassign @yanliang567

/assign @longjiquan
please help to take a look

[2022-07-04 02:41] XuanYang-cn commented on #17943
![image](https://user-images.githubusercontent.com/51370125/177071979-54aaf9b0-65c8-45ba-859c-0b0137cf31d9.png)

@xiaofan-luan After recovering from cp, filtering EVERY new `msgpack` is a waste of resources, using `FilterThreashold` can avoid this.

It's designed to be recovery_time, but we're using DataNode start_time, which is wrong. This recovery_time should be the Channel Watch time.

[2022-07-04 02:42] jiaoew1991 commented on #17031
Go struct is not thread safe, could we make Config's field private, the other packages do not access Config's field directly, otherwise through method to get config, this way could forbid somebody's abuse

[2022-07-04 02:44] sunby opened #18031 "[Enhancement]: Refactor QueryCoord"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Refactor the QueryCoord module

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-07-04 02:51] longjiquan commented on #17956
Supported metric type:
![image](https://user-images.githubusercontent.com/31589260/177072980-e4894efe-1037-42b4-9050-7645ee5f937a.png)

Similarity correlation:
![image](https://user-images.githubusercontent.com/31589260/177073057-5eb6c719-f586-40ff-8aad-a4ab1cd4f16b.png)

[2022-07-04 02:54] yah01 commented on #18025
Hey @siwenyang, are these the full logs? The QueryCoord log seems been truncated, and no problem in it, or could you tell me how you reproduce this?

[2022-07-04 02:59] XuanYang-cn commented on #17943
@soothing-rain Yes, double consumed and stored in buffer, but won't change any meta in memory or upload sealed segments' statistics. Nor will it be auto flushed. But may cause memory leak.

![image](https://user-images.githubusercontent.com/51370125/177073628-0f468f08-941c-48b5-8be6-8fcc6c366515.png)
![image](https://user-images.githubusercontent.com/51370125/177073675-06b189a8-6fdd-4a90-983d-a3b8

[2022-07-04 03:01] binbinlv commented on #17935
It is fixed through nightly results, so close it.

[2022-07-04 03:01] #17935 closed

[2022-07-04 03:03] cydrain commented on #16873
fix with PR
https://github.com/milvus-io/knowhere/pull/174
https://github.com/milvus-io/milvus/pull/17692

[2022-07-04 03:04] cydrain commented on #17956
duplicate with #16873

[2022-07-04 03:10] #17758 closed

[2022-07-04 03:12] longjiquan commented on #17868
Not yet, maybe the information in this issue is detailed enough?

[2022-07-04 03:20] longjiquan commented on #18029
![image](https://user-images.githubusercontent.com/31589260/177075710-ceb9be5e-aba8-45a5-9b37-145b71bf4235.png)

We doesn't support `HAMMING` as metric type when we do float vector search, see also https://milvus.io/docs/v2.0.x/metric.md#floating.

[2022-07-04 03:39] longjiquan commented on #17697
What's the expected behavior of Milvus under memory stress? @ThreadDao
Both the `flush` and the `search` rely on the timetick to be done. Our timetick based on mq, here for standalone implemented by `rocksmq`, we can't update the timetick due to the memory stress. So `flush` and `search` hang.
BTW:
1, It seems there's no need to call `flush` since we are inserting entities continousingly, we'll re

[2022-07-04 03:51] cydrain commented on #17978
Hi @andrwtokar ,
I see your main question is why the distances manually calculated and returned by the RHNSW_PQ not equal.
This is because in index RHNSW_PQ, the original vector is encoded by Product Quantizer.
You can google some articles about PQ, and you can see this behavior is expected.

RHNSW-PQ really gives smaller index size, but the recall rate is not so good.
I also suggest you to use RH

[2022-07-04 05:27] xiaofan-luan commented on #17958
reopen for some fix in datacoord rewatch policy

[2022-07-04 05:36] binbinlv opened #18033 "[Bug]: [Nightly] Loading progress shows error instead of 0% for not loaded partitions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

 Loading progress shows error "pymilvus.exceptions.MilvusException: <MilvusException: (code=1, message=partition 434340412384608259 of collection 434340411479949319 has not been loaded into QueryNode)>"

### Expected Behavior

res_part_partition == {'loading_progress'

[2022-07-04 06:05] zhuwenxing commented on #17958
OK, I would like to remove the critical label

[2022-07-04 06:18] jingkl commented on #17513
argo
test-etcd-no-clean-xv4dw-1
server-configmap
server-cluster-dn2c10m-in8c32m-qn8c64m-compaction
client-configmap
client-random-locust-insert-delete-18h
2.1.0-20220704-f6ce0559
pymilvus 2.1.0dev87

server:

[code]

client log：

[code]

[2022-07-04 06:30] soothing-rain commented on #17943
Discussed offline, @XuanYang-cn has proposed several places that need to be fixed/enhanced.

/assign @XuanYang-cn

[2022-07-04 06:33] #17253 closed

[2022-07-04 06:35] ThreadDao commented on #18005
58w 512dim

[2022-07-04 06:38] ThreadDao commented on #17697
Expected behavior: After removing memory chaos, standalone is available, including flush, and load search..

[2022-07-04 07:00] longjiquan commented on #17697
It seems that rocksdb didn't recover after memory chaos. Can we wait to do `flush` and `search` until we can insert into the collection? @ThreadDao

[2022-07-04 07:10] #17819 closed

[2022-07-04 07:21] #17768 closed

[2022-07-04 08:05] XuanYang-cn commented on #17943
I reproduced this locally. Here's the reproducing step:

1. Start cluster with DN-1 and DN-2, change cp flush frequency to 12s in code.
2. Create a new collection with `shard_num=1`
3. insert 3000 num of rows and flush, insert 3000 num of rows and flush, generate 2 segments.
4. kill the DN working with this shard, assuming its DN-1
5. Wait for this shard to recover at DN-2
6. Wait for auto-flush f

[2022-07-04 08:07] yanliang567 commented on #18012
Thank you, we got the logs.

[2022-07-04 08:10] #18015 closed

[2022-07-04 08:16] zhuwenxing commented on #17627
Not reproduced yet, remove the critical label.

[2022-07-04 08:19] yuliu-eric commented on #18012
We have tried both `Bounded` and `Eventual`, but got the same performances.

[2022-07-04 08:20] XuanYang-cn commented on #17943
The root cause is that DataNode handles insert messages of sealed segments, which should never happen. We thought this could be prevented by `Threshold`,  but the implementation is buggy.

Here're the solutions:

- Change `Threshold`  to channel watch time, do not share between channels.
- IBN should filter sealed segments insertMsgs
- SaveBinlogPath should be idempotent, before append binlog path

[2022-07-04 08:25] xiaofan-luan commented on #17943
Yep， SaveBinlog path should be idempotent.
And we shouldn't use FilterThreshold, but filter by each segment

[2022-07-04 08:40] yanliang567 commented on #18012
/assign @czs007 could you please help on this issue?
/unassign

[2022-07-04 08:44] jaime0815 commented on #17725
/assign @binbinlv

[2022-07-04 09:03] #17297 closed

[2022-07-04 09:04] longjiquan commented on #17895
Strange, I also tried but the latency almost didn't change. Btw, I deployed Milvus using cluster mode.

2.1.0:
[code]

2.0.2:
[code]

[2022-07-04 09:13] XuanYang-cn commented on #17943
I'm wrong, the code implementation is different, we should remove FilterThreshold.

[2022-07-04 09:19] soothing-rain commented on #17813
/assign @wayblink

[2022-07-04 09:41] yhmo commented on #17895
docker-compose.yml to start v2.0.2
[code]

docker-compose.yml to start the latest dev build:
[code]

[2022-07-04 10:21] ThreadDao commented on #17697
Image ``:
After standalone restarted because of OOM, the growing data inserted before restarted is gone.

Client log: [standalone-client.log](https://github.com/milvus-io/milvus/files/9038531/standalone-client.log)

Server log:
[standalone.log](https://github.com/milvus-io/milvus/files/9038533/standalone.log)

collectionId:
[code]
data:
[milvus-chaos-files_insert_log.zip](https://github.com/milvus

[2022-07-04 11:29] longjiquan commented on #17697
Do we have the log before pod restarts? @ThreadDao

[2022-07-04 11:55] longjiquan commented on #17697
When you insert entities into collection under memory stress, in fact it's not accepted by the Milvus. We didn't expose these API ago. Fortuanately, you can also check if insert is sucessful via:
[code]

[2022-07-04 11:58] xiaofan-luan opened #18040 "[Bug]: Pulsarctl throw 404 when subscritption not exist"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

We should handle the 404 error and treat it as unsubscribe success

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-07-04 11:59] longjiquan commented on #17697
`num_entities` only count the inserted entities after memory stress, which can be found in restarted `standalone.log`.

[2022-07-04 13:27] andrwtokar commented on #17978
Hi, @cydrain,
I could understand if it was only in the RHNSW_PQ index because of the PQ, but the L2 distance calculation doesn't work in HNSW either.

When I had a problem calculating the IP distance, I first checked the RHNSW_SQ index, and here the metric calculation does not work correctly either.

[2022-07-04 13:43] xiaofan-luan opened #18045 "[Enhancement]: Remove background checker since it is no longer used"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I want to remove background checker logic in datacoord since it is not used any more

### Why is this needed?

make the code cleaner

### Anything else?

_No response_

[2022-07-04 15:04] siwenyang commented on #18025
@yah01 QueryCoord log is truncated, some old parts are ignored.

To reproduce this:
1. collection.load(), load several collections to fill-up query node memory usage
2. without collection.release(), try load another big collection, cause all query nodes offline
3. restart all query nodes, will need some time for pymilvus collection or utility functions to see the new query nodes online

My main co

[2022-07-05 01:38] JackLCL commented on #17709
@wziyang
You can make these two envs bigger.
![origin_img_v2_b738cb1e-afc1-48e0-b0cf-a7dca19b203g](https://user-images.githubusercontent.com/53512883/177232859-eb5215e0-ec35-431d-9569-e142ceba0b9b.jpg)

[2022-07-05 02:17] czs007 opened #18048 "[Bug]: QueryNode unittest failed occasionally"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

2022-07-04T02:42:36.3431542Z     shard_cluster_test.go:1914:
2022-07-04T02:42:36.3432325Z         	Error Trace:	shard_cluster_test.go:1914
2022-07-04T02:42:36.3432990Z         	Error:      	Condition never satisfied
2022-07-04T02:42:36.3433396Z         	Test:       	T

[2022-07-05 02:23] zhuwenxing commented on #18029
/unassign @longjiquan
/assign @zhuwenxing

[2022-07-05 02:24] binbinlv commented on #17725
@jaime0815
when change timeout to 180s, it still exists.

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/633/pipeline/141

1. milvus log:
2. collection name: compact_SxLvr12w
3. Failed time: [2022-07-04T15:08:13.113Z] [gw0] [ 26%] FAILED testcases/test_compaction.py::TestCompactionOperation::test_compact_during_index

[2022-07-05 02:27] yah01 commented on #18025
@siwenyang
The QueryNode checks whether the free memory is enough to load collection, but the prediction may be not precise, that's why the case exists.
As I known, this is a known bug which will be fixed in version 2.1, more details: issue #16887 and its related PRs

[2022-07-05 02:31] yah01 commented on #17914
Now the shard leader offloads growing segments according to both of OnlineSegments and OfflineSegments, this is solved.

[2022-07-05 02:31] #17914 closed

[2022-07-05 02:32] binbinlv opened #18050 "[Bug]: [Nightly] Load failed showing "collection *** has not been loaded to memory or load failed""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Load failed showing "collection *** has not been loaded to memory or load failed"

[code]

### Expected Behavior

load successfully

### Steps To Reproduce

[code]

### Milvus Log

1. Log: [artifacts-milvus-distributed-pulsar-master-633-pymilvus-e2e-logs.tar.gz](https

[2022-07-05 02:36] binbinlv commented on #13045
Add compaction time to 120s, it still exists. It occurs in the following latest nightly:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/634/pipeline/157/

(1) milvus logs: [artifacts-milvus-distributed-kafka-master-634-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/634/artifact/artifacts-milvus-distribute

[2022-07-05 02:41] #18040 closed

[2022-07-05 02:42] binbinlv commented on #17528
It occurs again in the nightly for 2.1.0 branch:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-release-nightly/detail/milvus-release-nightly/134/pipeline

1. milvus log:
[milvus-distributed-kafka-134-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-release-nightly/134/artifact/milvus-distributed-kafka-134-pymilvus-e2e-logs.tar.gz)

2. collection name:

[2022-07-05 02:58] yah01 commented on #18050
@congqixia concurrent write during iterating the SegmentsStatus (which is a map)

[2022-07-05 03:15] zhuwenxing commented on #17627
Search failed when running `verify_all_collections.py` after querynode pod failure chaos
The error message has changed to
[code]

failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/7830/pipeline
log: [artifacts-querynode-pod-failure-7830-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9042946/artifacts-querynode-pod-failure-7830-server-logs.

[2022-07-05 03:19] zhuwenxing commented on #17627
/assign @yah01
please help to take a look

[2022-07-05 03:29] yah01 commented on #17627
@congqixia I checked the logs, QueryCoord has correctly updated the shard leader to the new node and synced segments distribution to the new leaders, should querynode return an error here to indicate proxy to update cache?

[2022-07-05 03:49] yhmo commented on #17998
Looks like a combined search request was hang. Might be a bug of search combine.
Try disable the search combine behavior. In the server_config.yaml, add the two lines:
[code]
Then restart the server.

[2022-07-05 03:55] longjiquan commented on #17895
![image](https://user-images.githubusercontent.com/31589260/177246449-df4b8fda-8088-4642-ac52-38d21858fc7f.png)

[2022-07-05 04:09] jingkl opened #18056 "[Bug]: [benchmark][standalone]Milvus load timed out，raise an error"MilvusException: (code=1, message=timeout)""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
test-etcd-no-clean-6fcv9-1
server-configmap
server-single-32c128m
client-configmap
client-random-locust-100m-ddl-r8-w2-12h

[code]

client log:

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No re

[2022-07-05 04:36] sasan-ai opened #18057 "[Bug]: ["The memory of all indexnodes does not meet the requirements"]"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

some segments are not indexed.

### Expected Behavior

Indexing to be done without an issue

### Steps To Reproduce

_No response_

### Milvus Log

IndexCoordinator log:

[2022/07/05 04:31:12.400 +00:00] [ERROR] [node_manager.go:120] ["No IndexNode available"] ["data

[2022-07-05 04:43] yanliang567 commented on #18056
/assign @jiaoew1991
/unassign

[2022-07-05 04:47] yanliang567 commented on #18057
@sasan-ai Thank you for the issue. Which Milvus version are you running, and how many enetities and dim are you using?

/assign @sasan-ai
/unassign

[2022-07-05 05:09] yah01 commented on #17627
/assign @zhuwenxing

[2022-07-05 05:33] yah01 commented on #18050
/assign @binbinlv
fixed with #18054

[2022-07-05 05:34] sasan-ai commented on #18057
This is the version I'm running:

  image:
    all:
      repository: "milvusdb/milvus"
      tag: "master-20220701-6954a5ba"

the dimension is 384 and the number of entities is well over 10M.

[2022-07-05 05:50] binbinlv opened #18060 "[Bug]: Optimize test common function "gen_search_param""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

NA

### Expected Behavior

NA

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-07-05 06:28] xiaofan-luan commented on #18057
it's probably because your indexnode memory is too small.
We recommend indexnode has 4GB memory or more

[2022-07-05 07:23] longjiquan commented on #17895
I added log for the entire insert path. I guess it's we upgrade the pulsar client that caused this issue.

[2022-07-05 07:25] longjiquan commented on #17895
![image](https://user-images.githubusercontent.com/31589260/177272974-914e8a31-5295-499f-ac52-d1cec323aa88.png)

[2022-07-05 07:28] #18060 closed

[2022-07-05 07:48] xiaofan-luan opened #18066 "[Bug]: Etcd compareAndSwap should not throw err if compare condition does not match"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Currently, in etcd kv CompareVersionAndSwap interface, if we compare condition does not match, we will hit NewCompareFailedError.

### Expected Behavior

we should return both boolean(whether compare and set success) and err (will be nil the command executed successfu

[2022-07-05 07:51] p363796822 opened #18067 "[Bug]: complete comapction wrong: etcdserver: request is too large"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Use docker-compose to deploy version 2.0.2 of milvus on one server
2. The number of querynode and datanode nodes is adjusted to 2
3. There was a problem last Monday morning, 1 datanode node hung up, and the error message appeared when viewing the error log informat

[2022-07-05 07:55] xiaofan-luan commented on #18067
Hi @p363796822 did you delete in your user cases? We just fix a issue about compaction, if delete too much there will be many delta log paths, cause the segment to be really large.
If you are still under testing, drop the collection would work. Otherwise we have to think of a hack way to recover

[2022-07-05 08:07] ThreadDao commented on #17697
1. Class `MutationResult` has no properties `succ_count` and `err_count`
2. `succ_count + err_count != insert_count`
[code]
3. Flush hangs after removing memory chaos and standalone back to running

[2022-07-05 08:13] p363796822 commented on #18067
1. The data is not deleted, but we are writing and checking at the same time. The error reported last Monday happened suddenly. After it happened, the 2.0.2 version could not be started. After trying various methods, I finally thought of using our latest version to start
2. The data is no longer test data, but data generated in production. There is no way to simply delete the collection to solve t

[2022-07-05 08:21] XuanYang-cn opened #18070 "[Bug]: TestShardCluster_HandoffSegments/load_balance_wait_online_and_usage failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

https://github.com/milvus-io/milvus/runs/7191985526?check_suite_focus=true

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-07-05 08:21] #18070 closed

[2022-07-05 08:27] binbinlv commented on #18033
Fixed in pymilvus 2.1.0.dev95.
[code]

[2022-07-05 08:34] #18048 closed

[2022-07-05 08:35] binbinlv commented on #17982
This has not been reproduced for long time, so close it.

[2022-07-05 08:38] binbinlv commented on #17850
It has not been reproduced these days and fixed, so close it.

[2022-07-05 08:38] #17850 closed

[2022-07-05 08:52] xiaofan-luan commented on #18067
1. do we have delete or frequently num_entity/flush calls?
2. if you can change the etcd config to relax the 2M limit to 5M, then later on after compaction the problem should be atomatically resolved, it this a way to fix?

[2022-07-05 09:13] binbinlv commented on #16753
Now the behavior is load progress successfully with "not_loaded_partitions"

[2022-07-05 09:26] p363796822 commented on #18067
1. There is no num_entity/flush related code in the code, and the data has not been deleted after writing
2. How to modify the etcd configuration? I tried adding the configuration to the docker-compose file and the service configuration file milvus.yaml before on version 2.0.2, but it didn't take effect. Can you give me a little more details? The process of modifying etcd configuration points, tha

[2022-07-05 09:36] bigsheeper opened #18073 "[Bug]: [Standalone] Load loaded collection timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[2022-07-05 04:12:48,312] [   ERROR] - RPC error: [search], <MilvusException: (code=1, message=fail to search on all shard leaders, err=fail to Search, QueryNode ID=9, reason=ShardCluster for in01-8db936863425d5f-rootcoord-dml_0_43435972788
5123585v0 replicaID 4343596

[2022-07-05 09:36] bigsheeper commented on #18073
/unassign @yanliang567
/assign

[2022-07-05 09:36] bigsheeper commented on #18073
related to VDC-581, 582 loadCollection timeout issue

[2022-07-05 09:42] bigsheeper opened #18076 "[Enhancement]: Sending timetick message is unnecessary in FlowGraphDDNode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

remove timetick sending

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-07-05 09:42] bigsheeper commented on #18076
/assign

[2022-07-05 10:07] xiaofan-luan commented on #18056
seems to be the issue load lock together with handoff

[2022-07-05 10:53] zhuwenxing commented on #18029
It works well with correct params.

[2022-07-05 10:53] #18029 closed

[2022-07-05 11:19] XuanYang-cn opened #18079 "About MacOS Github actions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Github has updated MacOS in 6.27.2022, https://github.com/actions/virtual-environments/commit/7ff67b1a39fecb4c7965a305dc715676ecded01, it updated link from `llvm` to `llvm@13`

Github is planning to upgrade llvm to version 14 in July 11 actions/virtual-environments/is

[2022-07-05 12:08] jaime0815 commented on #17725
to fix this issue,  catch the error and retry on the client side if the compact fails, or to compact after the lock release with timeout within datacoord

[2022-07-05 14:44] cesarandreslopez commented on #16451
This issue is not seen on milvusdb/weekly-build:master-20220704-1fd3ded8

hope to see the release soon.

[2022-07-05 16:17] sasan-ai commented on #18057
Yeah it is already starting with 4GB
`    replicas: 3
    enabled: true
    resources:
      limits:
        memory: 8192Mi
        cpu: 4000m
      requests:
        memory: 4096Mi
        cpu: 1000m````

[2022-07-05 23:29] #12896 closed

[2022-07-06 01:19] yanliang567 commented on #18067
@p363796822 Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

/assign @p363796822
/unassign

[2022-07-06 01:24] yanliang567 commented on #18057
@sasan-ai Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

[2022-07-06 01:55] p363796822 commented on #18067
All the logs are too big. I will export the log information of the day before and after the error report. I will upload it here and see if it can help the investigation. If not, I will export more logs here.

Link: https://pan.baidu.com/s/1zVz-aTtnBxqzlJatcoEnKw?pwd=xe5q Extraction code: xe5q After copying this content, open the Baidu SkyDrive mobile app, the operation is more convenient

[2022-07-06 01:58] xiaofan-luan commented on #18079
is there any plan to fix this?

[2022-07-06 01:59] xiaofan-luan commented on #18073
@bigsheeper could you quickly update the core reason?

[2022-07-06 01:59] cydrain commented on #17978
Hi @andrwtokar ,
L2 distance formula is like this: (||x||^2 - 2*||x||*||y|| + ||y||^2) ^ 1/2
But in knowhere, in considering of efficiency, we only calculate: ||x||^2 - 2*||x||*||y|| + ||y||^2
It saves a sqrt() operation and will not change the result order.
This can explain why L2 distance is not as your expected

For IP distance, can you tell me what's not correct ?

[2022-07-06 02:00] yanliang567 commented on #18067
@xiaofan-luan could you please have someone take a look at this issue? I think we are doing some improvement for etcd request size.

[2022-07-06 02:01] xiaofan-luan commented on #17958
there would be a channel leakage if datanode compare and swap fail, fix it in #18068

[2022-07-06 02:07] p363796822 commented on #18067
https://pan.baidu.com/s/1zVz-aTtnBxqzlJatcoEnKw?pwd=xe5q
This is the network disk link where the log is located, please help to see what the specific problem is

[2022-07-06 02:23] jiaoew1991 commented on #18056
I don't think so, there was not handoff happened around the error log.

[2022-07-06 02:26] XuanYang-cn commented on #18079
**Use a fixed llvm version in Github action to cope with the future upgrade**
[code]
**Update ccache to reduce compilation time**
1. Change timeout to 90mins
2. Wait until macos action passes and update ccache
3. Change timeout back to 60mins

[2022-07-06 02:29] XuanYang-cn commented on #17863
Or maybe finish #16733 and #17228, so that storage wouldn't be a CGO package.

[2022-07-06 02:35] binbinlv opened #18088 "[Bug]: [Nightly] Loading new replica without release does not report error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Loading  new replica without release does not report error: successfully

### Expected Behavior

Report error:
ct.err_code: 5, ct.err_msg: f"Should release first then reload with the new number of replicas"

### Steps To Reproduce

Nightly:
https://ci.milvus.io:18080/

[2022-07-06 02:37] binbinlv commented on #18088
It occurs in both 2.1 branch and master, so set it as urgent.

[2022-07-06 02:53] binbinlv opened #18091 "[Bug]: [Nightly] Insert with data "None" returns "None", not an object"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Insert with data "None" returns "None", not an object
[code]

### Expected Behavior

[code]

### Steps To Reproduce

Nightly:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/636/pipeline/124/

[code]

### Milvus Log

1. mi

[2022-07-06 02:55] binbinlv commented on #18050
This issue is fixed through the results of last nightly, but new issue #18088 occurs, I am wondering maybe there are some connections.

Close this  issue.

[2022-07-06 02:55] #18050 closed

[2022-07-06 03:08] longjiquan commented on #17895
Will be fixed by #18085 & #18090 .
/assign @yhmo
/unassign

[2022-07-06 03:09] yah01 commented on #18088
/assign @bigsheeper
#18074 introduced break changes to the loading interfaces

[2022-07-06 05:54] #18066 closed

[2022-07-06 06:10] soothing-rain opened #18096 "[Bug]: Stale segments with zero # of rows causes flush failure."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When a newly created segment with 0 # of rows gets flushed, it will be treated as a "stale segment" and will get flushed, because it is not a `flushable segment`.

requirement of `flushable segment`:
https://github.com/milvus-io/milvus/blob/master/internal/datacoord/s

[2022-07-06 06:14] yanliang567 commented on #18096
@soothing-rain shall we add some ut for this scenario?

[2022-07-06 06:16] jingkl commented on #17434
milvus ：2.1.0-20220630-49d9e5fa
pymilvus ：2.1.0dev87
The issue has been verified as not occurring

[2022-07-06 06:16] #17434 closed

[2022-07-06 06:41] jingkl opened #18100 "[Bug]: [benchmark][cluser]Milvus is reinstalled with the same PVC,search ,load ,query raise an error"_MultiThreadedRendezvous of RPC that terminated""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo
test-etcd-no-clean-582t5-1
server-configmap
server-cluster-8c64m-datanode2-indexnode4-querynode6
client-configmap
client-random-locust-search-60h-1b

reinstall :
argo
test-etcd-no-clean-582t5
server-configmap
server-cluster-8c64m-datanode2-indexnode4-querynode6
c

[2022-07-06 06:43] chang48 commented on #17563
@yanliang567 Turns out it was not a milvus issue. I was building a semantic search engine using haystack's milvus backend. The problem was when the service was restarted, I couldn't find any indexed data even though the folder `volume` inside the container was not empty. After talking to the haystack team, I realized the indexed data is stored in haystack's own DB backend. By setting the DB parame

[2022-07-06 06:54] yanliang567 commented on #17563
@chang48 great to hear that, do you mind closing this issue now?

[2022-07-06 07:19] aakejiang opened #18104 "[Enhancement]: separate field schema & segment info from index build meta to reduce Etcd size"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

[code]

The index build request will be saved as part of an index build progress. While attributes DataPaths & NumRows are fetched from segment info, TypeParams & FieldSchema are duplicated which can be find in a field entity.

For an enhancement, we will reduce duplications a

[2022-07-06 07:39] jingkl opened #18107 "[Bug]: [benchmark][cluster]kafka has a higher latency than pulsar in the search, query, load interface"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo
test-etcd-no-clean-trj4s-1
server-configmap
server-cluster-8c64m-datanode2-indexnode4-querynode6-kafka
client-configmap
client-random-locust-search-60h-1b

master-20220624-23040449
pymilvus 2.1.0dev87

argo
test-etcd-no-clean-582t5-1
server-configmap
server-clust

[2022-07-06 07:49] yanliang567 commented on #18107
looks like search with kafka is 50% slower than it with pulsar, @czs007 could you please take a look?

/assign @czs007
/unassign

[2022-07-06 08:28] zhuwenxing commented on #17627
I tried 5 times, but it has not yet been reproduced in `master-20220706-1c9647ff`.
Keep watching it.
/unassign @yah01

[2022-07-06 08:40] xiaofan-luan commented on #18107
doesn't really make sense to me, we didn't rely to much on stream storage in read path right now

[2022-07-06 08:40] jiaoew1991 opened #18111 "[Enhancement]: Upgrade Go 1.18"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Upgrade Go version from 1.16 to 1.18
Go1.18 have lots of new features https://go.dev/blog/go1.18
Using Generic can reduce lots of boilerplate code in our codebase.

As far as I know we did not upgrade to 1.18 because of the golangci-lint did not support 1.18.
They support 1.18

[2022-07-06 10:05] letian-jiang opened #18117 "[Bug]: Unable to list newly created credential users"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After creating a credential user, we cannot get the username via ListCredUsers.

[code]

### Expected Behavior

Get this username via the List interface.

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-07-06 10:06] letian-jiang commented on #18117
/assign @aakejiang

[2022-07-06 10:34] congqixia opened #18119 "[Bug]: initPKBloomFilter blocks datanode to watch dml channel"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When data node start a flowgraph for a dmlchannel, it has to add flushed/normal segment into meta(aka segmentReplica), which contains a call named initPKBloom filter which may need a network io(in cluster mode) IN SEQUENCE.  In case of large collection, which contains

[2022-07-06 14:10] xiaofan-luan commented on #18119
also need to check our bf implementation, I have a strong feeling that the BF implementation is not correct and consumes too much memory,

[2022-07-06 14:46] #17263 closed

[2022-07-06 14:49] xiaofan-luan opened #18120 "[Enhancement]: Should not use NumOfRows in segment info."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Current NumOfRows in segment info is very important meta, if it is calculated wrongly, then segment can not be loaded.

My suggestion is to add all rows in binlogs to calculate rows in a segment.

because each file is atomiclly maintained and very easy to maintain it correct.

[2022-07-06 14:50] xiaofan-luan commented on #18120
@congqixia @soothing-rain what do you guys think?

[2022-07-06 20:00] chang48 commented on #17563
Please go ahead, as I don't own the ticket.

[2022-07-06 20:01] #15846 closed

[2022-07-07 01:07] #17563 closed

[2022-07-07 02:27] longjiquan commented on #17956
/unassign

[2022-07-07 02:33] bigsheeper commented on #18088
after https://github.com/milvus-io/milvus/issues/18100 fixed，I‘ll remove the load check when LoadCollection in Proxy

[2022-07-07 02:36] soothing-rain commented on #18120
So IIUC, since the `NumOfRows` field is no longer used to estimate segment memory usage, it is safe to replace `NumOfRows` with the sum of binlog rows?

@xiaofan-luan I agree having a single source of truth is cleaner and less-error prone. We should do that :)

[2022-07-07 02:52] elstic opened #18123 "[Bug]: Test case execution failed with the check parameter error_code was set incorrectly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

 Test case execution failed with the check parameter error_code was set incorrectly

### Expected Behavior

An error_code consistent with MilvusException should be used to make the test case pass

### Steps To Reproduce

_No response_

### Milvus Log

https://ci.milvu

[2022-07-07 02:58] jiaoew1991 commented on #18056
/assign @jingkl please verify it with pr https://github.com/milvus-io/milvus/pull/18101 (master) and pr https://github.com/milvus-io/milvus/pull/18122 (2.1.0)

[2022-07-07 03:21] jiaoew1991 commented on #18056
/assign @jingkl
/unassign

[2022-07-07 03:23] binbinlv commented on #18091
OK, verifying.

[2022-07-07 03:26] binbinlv commented on #18091
Using pymilvus-2.1.0.dev96, it is fixed.
testcases/test_insert.py::TestInsertParams.test_insert_none ✓                                                                                        100% ██████████

[2022-07-07 03:26] #18091 closed

[2022-07-07 03:27] binbinlv commented on #18088
So now this issue is blocked by #18100

[2022-07-07 03:31] longjiquan commented on #17697
@ThreadDao Sorry for the late reply.
1. Fixed by https://github.com/milvus-io/pymilvus/pull/1062;
2. I'll fix this soon;
3. Working on it;

[2022-07-07 04:11] congqixia commented on #18119
@xiaofan-luan this pr #18125 is about to make load bf in parallel.
This also expose the problem that a meta component(segmentReplica, which only store some meta) hide some Network/Local IO in some add operation.
@XuanYang-cn and I both want to separate this part out of this `segmentReplica`.

Will do.

Did not quite get this idea of 'split BF by pk'

[2022-07-07 06:13] #18123 closed

[2022-07-07 06:15] czs007 opened #18133 "[Bug]: Fix bugs in metrics"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The current statistics of some monitoring indicators are incorrect and the unit is incorrect.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-07-07 06:37] xiaocai2333 commented on #18005
After the discussion about pr #17878 , we will not check whether the machine configuration of indexnode complies with the conditions for indexing. So users need to ensure that the machine of indexnode can build the index during the test.  @yanliang567 @ThreadDao

[2022-07-07 06:41] xiaocai2333 commented on #17864
Has it reappeared? This may be an issue caused by the wrong deployment of the cluster. @ThreadDao

[2022-07-07 06:54] XuanYang-cn commented on #16753
milvus-io/pymilvus#1064

[2022-07-07 07:09] XuanYang-cn commented on #16753
2.1.0.dev97

[2022-07-07 07:09] XuanYang-cn commented on #16753
/unassign
/assign @binbinlv

[2022-07-07 07:31] binbinlv commented on #16753
Verified in 2.1.0.dev97, it is fixed.
testcases/test_utility.py::TestUtilityParams.test_loading_progress_not_existed_partitions[partition_names0] ✓                                         50% █████
 testcases/test_utility.py::TestUtilityParams.test_loading_progress_not_existed_partitions[partition_names1] ✓                                        100% ██████████

[2022-07-07 07:33] #17432 closed

[2022-07-07 07:38] xiaocai2333 opened #18141 "[Bug]: QueryNode ut panic: context canceled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

occasional， https://github.com/milvus-io/milvus/runs/7228374551?check_suite_focus=true

### Expected Behavior

querynode ut success

### Steps To Reproduce

[code]

### Milvus Log

[code]

### Anything else?

_No response_

[2022-07-07 07:38] xiaocai2333 commented on #18141
/assign @congqixia
/unassign @yanliang567

[2022-07-07 09:19] xiaocai2333 commented on #17725
There is a simple discussion with @xiaofan-luan , if there is a reference lock during compaction, it is directly marked as completed. The task is for nothing.

[2022-07-07 10:37] xiaofan-luan commented on #18117
/assign @aakejiang

[2022-07-07 12:53] umitkarakas123 opened #18155 "[Bug]: Ram usage and manuelly docker starting every container down"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

my query nodes are down all the time. I have to open it manually every time. currently, all my services are working, but I can't write collection. i noticed that query nodes use a lot of ram, and my ram is full. what should I do if query nodes don't use this much ram?

[2022-07-07 18:12] #15736 closed

[2022-07-07 18:12] #17158 closed

[2022-07-08 02:00] jingkl opened #18158 "[Bug]: [benchmark][cluster]Milvus 100m data load failed ,raise ad error"collection has not been loaded to memory or load failed""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
benchmark-tag-no-clean-swfjs-1
server-configmap
server-cluster-8c64m-kafka
client-configmap
client-random-locust-100m-ddl-r8-w2

server:
[code]
client:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

_No re

[2022-07-08 02:08] czs007 opened #18159 "[Bug]: DataCoord unittest fails Occasionally"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

_No response_

### Current Behavior

2022-07-07T09:56:55.0628124Z [2022/07/07 09:56:55.061 +00:00] [WARN] [global.go:36] ["Consumer's goroutine cannot consume from (by-dev-datacoord-timetick-channel2846598098164077650,by-dev-dataCoord): topic name = by-dev-datacoord-timetick-channel284659809816407

[2022-07-08 02:10] aakejiang commented on #18117
Fix both in master & version 2.1

/unassign
/assign @letian-jiang @yanliang567

[2022-07-08 02:13] binbinlv commented on #17750
Similar issue appears again in the following latest nightly:
https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-nightly-ci/branches/master/runs/640/nodes/64/steps/178/log/?start=0

1. milvus log:
[artifacts-milvus-distributed-kafka-master-640-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/640/artifact/artifacts-milvus-

[2022-07-08 02:17] XuanYang-cn commented on #17228
/reopen

[2022-07-08 02:17] XuanYang-cn commented on #17228
/unstale

[2022-07-08 02:19] zhuwenxing commented on #17645
A new failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test-kafka/detail/chaos-test-kafka/377/pipeline
log:  [artifacts-minio-pod-kill-377-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9068394/artifacts-minio-pod-kill-377-server-logs.tar.gz)

[2022-07-08 02:20] jingkl commented on #18100
argo
test-etcd-no-clean-582t5-1
server-configmap
server-cluster-8c64m-datanode2-indexnode4-querynode6
client-configmap
client-random-locust-search-60h-1b

install  2.1.0-20220705-2dee6534
pymilvus 2.1.0dev87

reinstall :
argo
test-etcd-no-clean-582t5
server-configmap
server-cluster-8c64m-datanode2-indexnode4-querynode6
client-configmap
client-random-locust-search-1b-12h-concurrent
reinstall image:

[2022-07-08 02:24] binbinlv commented on #17725
Now it is reproduced nearly every nightly in both 2.1.0 and master, so set it as urgent.

[2022-07-08 02:25] #18117 closed

[2022-07-08 02:25] letian-jiang commented on #18117
Verified.

[2022-07-08 02:27] zhuwenxing commented on #17792
Milvus version: `master-20220707-43ae6791`
testcase: `indexnode pod kill`

failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test-kafka/detail/chaos-test-kafka/371/pipeline/61
log:  [artifacts-indexnode-pod-kill-371-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9068429/artifacts-indexnode-pod-kill-371-server-logs.tar.gz)

[2022-07-08 02:27] yanliang567 commented on #18158
/assign @congqixia
/unassign

[2022-07-08 02:33] binbinlv commented on #17792
"Create index timeout" issue in nightly for branch 2.1.0, @xiaocai2333 Could you help to have a look if it is the similar issue? If not, I will create a new issue to track this, thanks.

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-release-nightly/detail/milvus-release-nightly/140/pipeline/215

1. milvus log:
[milvus-distributed-pulsar-140-pymilvus-e2e-logs.tar.gz](https://

[2022-07-08 02:40] zhuwenxing opened #18162 "[Bug]: Search failed with error `failed to connect 10.97.14.83:21123, reason: context canceled` after querynode pod kill for kakfa version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search failed when running `verify_all_collections.py`

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test-kafka/detail/chaos-test-kafka/374/

[2022-07-08 02:44] yanliang567 commented on #18162
/assign @sunby
/unassign

[2022-07-08 02:52] WordlessToContinue commented on #17998
I will test it , but won't the performance degrade with this configuration ?

[2022-07-08 02:55] zhuwenxing opened #18164 "[Bug]: Create collection failed for Milvus with kafka mq"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

create collection when running `python3 action_before_reinstall.py` for deploy test

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: http://10.100.32.144:8080/blue/organizations/jenkins/deploy_test_kafk

[2022-07-08 03:10] yanliang567 commented on #18164
/assign @jaime0815
/unassign

[2022-07-08 03:19] zhuwenxing commented on #18164
It should be an occasional problem, but we can still investigate the reasons

[2022-07-08 03:36] WordlessToContinue commented on #17998
hang logs as follow
[errorLog.tar.gz](https://github.com/milvus-io/milvus/files/9068739/errorLog.tar.gz)

[2022-07-08 04:23] xiaofan-luan commented on #17417
keep it open

[2022-07-08 04:29] xiaofan-luan commented on #17410
keep it on track

[2022-07-08 04:29] xiaofan-luan commented on #17412
/assign @longjiquan

[2022-07-08 04:33] #18159 closed

[2022-07-08 04:35] czs007 opened #18169 "[Bug]: Inconsistency in DataCoord"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

We can only modify the memory state after updating etcd successfully

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-07-08 04:36] xiaofan-luan commented on #17864
@wayblink should fix this issue after backup coordinator is supported

[2022-07-08 05:16] xiaofan-luan opened #18172 "[Bug]: BulkLoad add new segment with MsgPosition of no offset and timestamp"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

the add segment is triggered by datacoord, with no offset and time in Msgposition.
1) How did we handle with segment failover? should we has a special Msgposition which means no need to recovery?
2) can we handle delete bulkloaded data as expected? what about failover

[2022-07-08 05:16] xiaofan-luan commented on #18172
/assign @yhmo

[2022-07-08 05:48] soothing-rain commented on #18172
Upon last discussion, the solution is to send a message to DML channel to get the position. Similar to what we do while creating collection:
https://github.com/milvus-io/milvus/blob/fcb5db0e2772b5d69b90d1aaeefacdb3b0e68545/internal/rootcoord/task.go#L237-L254

We haven't quite started working on it yet tho.

[2022-07-08 06:37] sloth2012 commented on #15619
meet same issue

[2022-07-08 07:12] xiaocai2333 commented on #18158
/assign

[2022-07-08 07:18] broken-blade opened #18174 "[Bug]: can't getEntityByID or deleteEntityByID in _default partition by java sdk"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Hi guys!
I have already insert one vector into milvus by java sdk **without specifying partition**,and I can get search result with this vector.
Now there has some problems that really confused me:
1. when I use getEntityByID to get this vector(withPartitionTag("_defa

[2022-07-08 07:19] jaime0815 commented on #17528
The same reason that CreateCollection is too slowly caused by broadcast message to Kafka.

23:45:08.253  start drop collection collection_tUV3lzup
23:45:08.265 start create collection collection_6fHdt4bH
23:45:08.281  start create collection collection_YvL6gOsQ
23:45:08.295 ListCollection enqueued
23:45:18.048 create collection collection_6fHdt4bH finish (cost 10s)
23:45:28.253 **drop collection c

[2022-07-08 07:26] yanliang567 commented on #18174
@broken-blade thank you for the issue. We recommend you try Milvus 2.0, which is more powerful.

/assign @yhmo
/unassign

[2022-07-08 07:38] broken-blade commented on #18174
Thanks for your reply! I will try it later!

[2022-07-08 08:07] elstic commented on #17985
@xiaofan-luan @XuanYang-cn   Here are the parameters I used and the corresponding logs：

[code]
I think since there is an exception, the error_code should not be 0

The corresponding code location might be here ： https://github.com/milvus-io/pymilvus/blob/master/pymilvus/orm/collection.py#L1152

With a conversation：
Wang: I think the error code should be categorized, -100 to -200 means A error, -2

[2022-07-08 08:10] #17313 closed

[2022-07-08 08:43] xiaocai2333 commented on #17792
I check the log, and the reason of this problem is accessing an object with a nil pointer.
BTW, what is the timeout of this case? @binbinlv

[2022-07-08 08:43] xiaocai2333 commented on #17792
fix it with #18618

[2022-07-08 09:25] BUPTAnderson opened #18178 "[Bug]: shard leader is unavailable after upgrade"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I deployed the cluster on 2022-06-24, and on 2022-07-06 I upgraded the cluster to the new version(commit: 543197c2bee8db02ae453e005fe6b37e85c242c3) on a rolling upgrade, and after the upgrade a collection could not be queried.
one querynode error log:
[code]

### Expe

[2022-07-08 10:27] broken-blade commented on #18174
After comparing python and java sdk, I found that python sdk doen't need partition param, so i use an empty string("") instead of _default in java sdk, and it can successfully get or delete by id.

[2022-07-08 10:29] longjiquan opened #18182 "[Bug]: SuccIndex & ErrIndex of mutation result was not set properly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

See also https://github.com/milvus-io/milvus/issues/17697

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-07-08 10:44] andrwtokar commented on #17978
Thank you for this information. I refined my calculations and got a better result.

I have 18 million normalized vectors and 1 searchable vector. The result contains distances greater than 1. I collect the ids and distances of these vectors:
[code]

I requested these embeddings and checked the norm again:
[code]

In the next step, I calculated the distance using the milvus features:
[code]

In res

[2022-07-08 10:45] BUPTAnderson commented on #18178
Node-26 is the old queynode id(This node no longer exists in the current cluster). I upgraded querynode first, when all querynode upgrades are complete, i upgrade querycoord. Does it have anything to do with the order in which I upgraded?

[2022-07-08 11:02] bigsheeper opened #18186 "[Enhancement]: Refactor test_c_api.cpp unit tests in segcore"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Refactor and reorganize unit tests in test_c_api.cpp in segcore.

### Why is this needed?

Currently, unitt tests in test_c_api.cpp is messy and long.

### Anything else?

_No response_

[2022-07-08 13:14] yanliang567 commented on #18178
/assign @jiaoew1991
/unassign

[2022-07-08 13:19] nameczz opened #18188 "[Bug]: Binary search is failed when metric type is hamming in milvus-dev docker"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search failed when binary search with metric type as Hamming.
 I also tried Jaccard, failed too

[code]

### Expected Behavior

Binary search success.

### Steps To Reproduce

[code]

### Milvus Log

[code]

### Anything else?

_No response_

[2022-07-08 14:09] #17256 closed

[2022-07-08 14:09] #17319 closed

[2022-07-08 14:28] xiaofan-luan opened #18190 "[Enhancement]: GetCompactionState and GetCompactionStateWithPlans has very weird behaviour"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

currently these two interface is relied by ci test.
But there are several problems make the interface not stable
1. all task state is not persistent, if datacoord crash then we have no idea about previous plans.
2. we don't know when to clean up the task map
3. the interface i

[2022-07-08 15:20] soulteary opened #18192 "[Bug]: Inconsistent version of openBLAS used in Milvus and knowhere"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I read the source code, I found that the openBLAS referenced in the milvus docker is inconsistent with the version of the dependency list listed in the core dependency knowhere.

- https://github.com/milvus-io/knowhere/blob/v1.1.13/thirdparty/versions.txt
- https

[2022-07-08 20:12] martinenkoEduard opened #18199 "[Bug]: Can't create flat index!"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I can't create Flat index!

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

Is there a way to check index?
How do I get information about collection (segment size and so on..)

I am not su

[2022-07-09 03:25] xiaofan-luan commented on #18199
hi @martinenkoEduard
You don't really need flat index.
If you want 100% accurate result, just insert data, load and search. By default the original data is flat

[2022-07-09 03:30] xiaofan-luan commented on #18188
/assign @cydrain

[2022-07-09 04:07] #18169 closed

[2022-07-09 05:17] martinenkoEduard commented on #18199
Am I right that
[code]
Does nothing?
What about cases when there are several fields in a collection?

[2022-07-09 05:56] mohitreddy1996 commented on #17981
Hi, any updates here?

This blocks us from productionizing Milvus on our Kubernetes cluster with existing Kafka setup. Anything we could help with here?

[2022-07-09 09:36] #17099 closed

[2022-07-09 09:36] #17238 closed

[2022-07-09 11:49] zhuwenxing commented on #18199
[code]

[2022-07-09 17:34] martinenkoEduard commented on #18199
Isn't nlist is for IVF_FLAT?
"Number of cluster units"

[2022-07-09 18:15] SKV1983 opened #18205 "[Bug]: fail to get shard leaders from QueryCoord: no replica available"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

**ISSUE 1**

The cluster was working fine, like

roughly 400 search requests per min.

**Search latency**
300 ms 75 percentile.
400 ms 95 percentile.
500 ms 99 percentile.

But after some time, we see the search latency has increased for each request, hence the lower

[2022-07-09 18:55] martinenkoEduard commented on #9689
Have the same problem.
That if I restart docker-compose with loaded in memory collection (big collection) it won't work after restart.
It even hang in Attu on getting collections list

[2022-07-09 19:07] martinenkoEduard commented on #12169
I even can't release the collection.
It just hangs.

[2022-07-10 00:49] jiaoew1991 commented on #18178
@BUPTAnderson You can try following solutions

1. use 2.1 branch which is more stable，the master branch is for 2.2 currently
2. try https://github.com/congqixia/birdwatcher this tool to check the metadata on Etcd
3. the final way, after upgrade, stop cluster, use https://github.com/congqixia/birdwatcher to kill all QueryNodes, then restart 😭

besides the solutions, could you provide more logs for

[2022-07-10 02:55] BUPTAnderson opened #18206 "[Bug]: datanode crash with error MetadataError Consumer not found"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

datanode crash after running about 2 days.
datanode error log:
[code]

[code]

### Expected Behavior

datanode running healthily

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-07-10 02:59] BUPTAnderson commented on #18178
@jiaoew1991 I have collected all logs of the cluster, download link below:
链接: https://pan.baidu.com/s/158zMtXaKEIdH9CwbPlD9oQ?pwd=52sp 提取码: 52sp

beside, i found the datanode crash today after running about 2 days, i have created a new issue #18206

[2022-07-10 03:00] BUPTAnderson commented on #18206
I have collected all logs of the cluster, download link is as follows:
链接: https://pan.baidu.com/s/158zMtXaKEIdH9CwbPlD9oQ?pwd=52sp 提取码: 52sp

[2022-07-10 04:29] xiaofan-luan commented on #18206
/assign @xiaofan-luan

[2022-07-10 05:27] xiaofan-luan commented on #18206
The reason is pulsar go client didn't throw pulsar.Result as expected.
They simple throw an error with string Consumer not found.
we check pulsar error but it doen't work, so after multiple retries datanode crashed.

We just check the error string for now.

[2022-07-10 08:36] yanliang567 commented on #18205
@SKV1983 thank you for the issue. which milvus version are you running?
Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

/assign @SKV1983
/unassign

[2022-07-10 08:38] yanliang567 commented on #17981
@jaime0815 any updates?

[2022-07-10 08:41] yanliang567 commented on #18182
/assign @longjiquan
/unassign

[2022-07-10 14:20] xiaofan-luan commented on #18088
/assign @binbinlv

[2022-07-10 14:24] xiaofan-luan commented on #17943
seems it's hard to verify, close for now.
If similar behavior happened we will reopen

[2022-07-10 14:24] #17943 closed

[2022-07-10 14:25] xiaofan-luan commented on #17674
@jiaoew1991 any progress?

[2022-07-10 15:15] xiaofan-luan commented on #17981
Anyone interested to implement on it?

[2022-07-11 01:45] yanliang567 commented on #17462
keep it open

[2022-07-11 02:03] #17871 closed

[2022-07-11 02:21] binbinlv opened #18208 "[Bug]: [Nightly] Number of entities is less than expected after insert"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Number of entities is less than expected after insert

### Expected Behavior

Number of entities equals with expected after insert

### Steps To Reproduce

Nightly:
https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-nightly-ci/branches

[2022-07-11 02:22] binbinlv commented on #18208
It reproduced steadily in both master and 2.1.0 latest build, so set it as urgent.

[2022-07-11 02:26] jingkl opened #18209 "[Bug]: [benchmark][cluster]Milvus 1b data insertion and print line inconsistencies"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
benchmark-tag-no-clean-szxr7-1
server-configmap
server-cluster-8c64m-datanode2-indexnode4-querynode6
client-configmap
client-random-locust-search-84h-1b

client

[code]

server
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No r

[2022-07-11 02:29] xiaofan-luan commented on #18208
/assign @czs007

[2022-07-11 02:31] binbinlv commented on #17888
It is not reproduced for long time, fixed.

[2022-07-11 02:35] xiaofan-luan commented on #18208
@czs007 could you pls help on investigating

[2022-07-11 02:35] binbinlv commented on #18208
Same phenomenon in the following test case:
[code]

[2022-07-11 02:41] jingkl opened #18211 "[Bug]: [benchmark][cluster]Milvus load , search timed out and reported an error"rpc deadline exceeded:Retry timeout""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
benchmark-tag-no-clean-xkxrt-1
server-configmap
server-cluster-8c64m-querynode2
client-configmap
client-random-locust-search-filter-100m-ddl-r8-w2-replica2

[code]

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvu

[2022-07-11 02:41] WeiDong-Shi commented on #17776
我每一次执行写入动作之后也都会调用一次 flush 的接口，可还是会遇见同样的问题，

[2022-07-11 02:42] WeiDong-Shi commented on #17776
I will not only call flush action when deleting, but also call flush after each write. Is there a problem with this repeated flush? Would you recommend me to use automatic flush operation?

[2022-07-11 02:43] WeiDong-Shi commented on #17776
I will not only call flush action when deleting, but also call flush after each write. Is there a problem with this repeated flush? Would you recommend me to use automatic flush operation?

[2022-07-11 02:49] binbinlv commented on #17725
Same issue in latest nightly:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/646/pipeline/124

1. milvus log:
[artifacts-milvus-standalone-master-646-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/646/artifact/artifacts-milvus-standalone-master-646-pymilvus-e2e-logs.tar.gz)

2. collection name: compact_xL

[2022-07-11 02:49] xiaocai2333 commented on #18190
My thoughts are the same as discussed before. When the planID is not found when getting the compacting state, the task is considered complete.
For DataCoord down, there are three cases:
1. After DataCoord restarts, it successfully receives the notification of the completion of the compaction task, then  completes the task.
2. Before DataCoord restarts, the SDK receives a timeout response, and user

[2022-07-11 02:53] binbinlv commented on #13045
Same issue in latest nightly:
1. Nightly: https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-nightly-ci/branches/master/runs/646/nodes/124/steps/162/log/?start=0
2. collection name: compact_06xXdasR
3. FAILED time: [2022-07-10T19:01:55.460Z] [gw0] [ 18%] FAILED testcases/test_compaction.py::TestCompactionOperation::test_compact_threshold_auto_merge

[2022-07-11 02:55] yanliang567 commented on #18209
@czs007 is it related to #18208?
/assign @czs007
/unassign

[2022-07-11 03:00] yanliang567 commented on #18211
/assign @jiaoew1991
/unassign

[2022-07-11 03:02] zhuwenxing commented on #18199
I have tried creating index for `FLAT` with `params={}` or `"params":{"nlist": 128}`, although the create_index call succeeds, the result of collection.indexes is an empty array, which means that no index is created

[2022-07-11 03:11] zhuwenxing commented on #18199
if the fields here mean vector fields, for now, multiple vector fields are not supported

For other index types you can refer to this document [Vector-Index](https://milvus.io/docs/v2.0.x/index.md#Vector-Index)

[2022-07-11 03:13] yanliang567 commented on #18192
/assign @soulteary
/unassign

[2022-07-11 03:14] #17874 closed

[2022-07-11 03:32] jingkl opened #18214 "[Enhancement]: Add indexCoordinator gc params of jenkins"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Parameters that must be changed to verify that the index file is not lost after loading

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-07-11 03:43] jingkl commented on #18211
server-instance
benchmark-tag-no-clean-9ndwc-1
server-configmap
server-single-32c128m
client-configmap
client-random-locust-100m-ddl-r8-w2

[code]

error:
[code]

[2022-07-11 04:12] congqixia opened #18216 "[Bug]: Insert Msg share same msgID from one rpc while dedup logic base on MsgID"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

`InsertMsg`s share msgID from same insert rpc, while consumer dedup msgs according to msgID field.

### Expected Behavior

Allocate different msg id for each insert msg.

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

Related

[2022-07-11 05:51] wayblink commented on #18067
I have seen the log. There are a lot of input binlogs in CompleteMergeCompaction which leads to a huge Binlogs field of the new compacted SegmentInfo(fail to store in etcd). We have a plan to save binlog separately, see: #17988. And we will explore if it is reasonable for so many binlogs to compact.

[2022-07-11 06:04] hellwhj commented on #18205
我这里单机版也遇到相同报错问题
[errorlog.log.gz](https://github.com/milvus-io/milvus/files/9081262/errorlog.log.gz)

[2022-07-11 06:08] SKV1983 commented on #18205
We didn't host on Kubernetes cluster, attached zip file of pulsar+etcd+minio logs.

[pulsar_minio_etcd_error_logs.zip](https://github.com/milvus-io/milvus/files/9081217/pulsar_minio_etcd_error_logs.zip)

[2022-07-11 06:16] aakejiang commented on #18104
/assign

[2022-07-11 06:24] lvmnn opened #18220 "[Bug]: Failed to load in a 100 million vector set"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Vector set: 100 million

Index: ivf_flat

dim: 512

replications: 1

When the query node size is 24 x 8c/32g, the query node displays oom or fails the health check

When the query node size is 24 x 8c/48g, the load fails。

According to the Query Node log, both the raw

[2022-07-11 06:28] czs007 commented on #18208
@binbinlv It is recommended to migrate this test case to L1 level.

[2022-07-11 06:29] czs007 commented on #18209
@yanliang567 yes.

[2022-07-11 06:37] binbinlv commented on #18208
@czs007 OK.

[2022-07-11 06:38] #18216 closed

[2022-07-11 06:41] p363796822 commented on #18067
So is this problem solved now, is there a new version to try?

[2022-07-11 06:51] lvmnn opened #18221 "[Bug]: After the index is built, the write node restarts repeatedly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

vector set: 100 million
ivf_flat
dim： 512

When the write node is indexed, the node continues to hang。
It doesn't show up on a set of 10 million vectors

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

Collect 174 to-index files

[2022-07-11 08:08] wayblink commented on #18067
Not yet. For your situation, you need to change the etcd configuration as mentioned above. You can change the configuration by editing the compose file if you use docker-compose to start the whole milvus cluster including etcd, refer to : https://github.com/milvus-io/milvus/pull/17357/files#diff-10e860e50bee7caf0095374d72b2afdbb81b82704ef8c062f93d7adaf0ac3b54

[2022-07-11 08:08] letian-jiang opened #18223 "[Enhancement]: Design consistency level and time travel jointly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

There are two timestamps related to search (and query), guarantee timestamp and time-travel timestamp. I illustrate the faulty situation with an example.

In the current Milvus implementation, if a user sends a search request (strong consistency and no time travel) to the prox

[2022-07-11 08:08] letian-jiang commented on #18223
/assign @xiaofan-luan

[2022-07-11 08:10] xiaofan-luan commented on #18206
18207,18209 should fix the issue, clean it for now

[2022-07-11 08:10] #18206 closed

[2022-07-11 09:01] #18182 closed

[2022-07-11 09:02] xiaofan-luan commented on #18220
/assign @yah01 could you please help on verifying it
thanks

[2022-07-11 09:04] xiaofan-luan commented on #18209
close duplicated issue

[2022-07-11 09:04] #18209 closed

[2022-07-11 09:11] xiaofan-luan commented on #18223
/assign @czs007 any comments?

[2022-07-11 09:19] xige-16 commented on #17339
/unassign

[2022-07-11 09:22] #17684 closed

[2022-07-11 09:54] cydrain commented on #17754
this solution has been declined, see following MEP for detailed explaination:
https://wiki.lfaidata.foundation/x/cICxAw

[2022-07-11 09:54] cydrain commented on #17754
/close

[2022-07-11 09:54] #17754 closed

[2022-07-11 10:27] cfreebuf opened #18228 "[Feature]: Support pulsar authentication using tokens"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

When deploy milvus with external pulsar cluster provided by other team,
we meet the problem that milvus does not support pulsar auth,
but for security it's recommend to enable auth for pulsar cluster.
so will milvus support pulsar auth later?

###

[2022-07-11 11:09] SKV1983 commented on #18205
/assign @yanliang567
/unassign

[2022-07-11 11:25] yanliang567 commented on #18205
/assign @czs007
@czs007 could you please help to take a look?

/unassign

[2022-07-11 11:27] xiaofan-luan commented on #18223
1. for strong consistency, we just guarantee all data can be seen if it is written before a certain timestamp, and we didn't check if follows certain Mvcc.  I think read future data is ok, unless user ask to read a specified snapshot?

2. if user want to a accurate snapshot, then guarantee timestamp = timetravel timestamp

the semantic we deliver:
data <= guarantee timestamp must be seen
data >=

[2022-07-11 11:57] xiaofan-luan commented on #18223
Just check the definition of Consistency,
read the write after read happened definitely doesn't match serial consistency.
We need to change it.
Also, I would recommend to change the name of guarantee ts and  timetravel ts, to make it easiar to understand by users

[2022-07-11 12:03] letian-jiang commented on #18223
Yes. I think search timestamp + delta for relaxation is clarifying enough.

[2022-07-11 13:39] xiaofan-luan commented on #18228
good suggestions, mark it as good first issue~

[2022-07-11 15:45] yah01 commented on #18220
According to the logs, the QueryNode reports NoSuchKey error when loading segment from MinioChunkManager, it seems the binlog paths are not correct.

[2022-07-11 23:04] #17361 closed

[2022-07-12 01:45] jiaoew1991 commented on #17674
Not yet, still working on it

[2022-07-12 02:14] binbinlv commented on #17725
Same issue in latest nightly:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/648/pipeline

1. milvus log: [artifacts-milvus-standalone-master-648-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/648/artifact/artifacts-milvus-standalone-master-648-pymilvus-e2e-logs.tar.gz)

2. collection name: compact_9YoL0i

[2022-07-12 02:17] binbinlv commented on #13045
Same issue in latest nightly:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/647/pipeline/190

1. milvus log:[artifacts-milvus-distributed-kafka-master-647-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/647/artifact/artifacts-milvus-distributed-kafka-master-647-pymilvus-e2e-logs.tar.gz)
2. collection name

[2022-07-12 02:27] binbinlv commented on #17725
Same issue in latest nightly for 2.1.0 branch
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-release-nightly/detail/milvus-release-nightly/148/pipeline

1. milvus log: [milvus-standalone-148-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-release-nightly/148/artifact/milvus-standalone-148-pymilvus-e2e-logs.tar.gz)
2. collection name: compact_Qyo75tD3
3

[2022-07-12 02:30] jingkl opened #18232 "[Bug]: [benchmark][cluster]Milvus 100m data load failed,raise an error"collection has not been loaded to memory or load failed""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-tag-no-clean-fnd8j-1
server-configmap
server-cluster-8c64m-querynode2
client-configmap
client-random-locust-search-filter-100m-ddl-r8-w2-replica2

[code]

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### M

[2022-07-12 02:33] jennyli-z commented on #18232
very urgent & important bug, many jobs is waiting the resource as the bug block the test.

[2022-07-12 02:34] yanliang567 commented on #18232
/assign @jiaoew1991

[2022-07-12 02:39] jingkl commented on #18232
server-instance
benchmark-tag-no-clean-5cssg-1
server-configmap
server-cluster-8c64m-kafka
client-configmap
client-random-locust-100m-ddl-r8-w2

[code]

[code]

[2022-07-12 03:05] jiaoew1991 commented on #18232
![image](https://user-images.githubusercontent.com/2297455/178399686-748356ba-ad2d-4ca2-8fb4-8fd6f637aae8.png)
through the logs we can see the memory of Querynode was reached the quota, it can not load more segments into memory.

[2022-07-12 03:21] p363796822 commented on #18067
There is a new problem, the log is as follows：
[querynode1]
milvus-querynode1  | [2022/07/12 03:17:28.832 +00:00] [WARN] [node.go:83] ["some node(s) haven't received input"] [list="[nodeCtxTtChecker-dmInputNode-query-432856225019330561-by-dev-rootcoord-delta_2_432856225019330561v0,nodeCtxTtChecker-stNode-by-dev-rootcoord-delta_4_432856225110818817v0,nodeCtxTtChecker-dNode-by-dev-rootcoord-delta_3_

[2022-07-12 04:03] psc0606 opened #18233 "[Bug]: Milvus eventual consistency violated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Easy to replay, when I do, simulate update operation:
1. delete by primary id;
2. then insert the same id imedilately;
3. query within another request

result:  both of the clients tell  me successfully by log.
Both of two clients can not query the data any more.
Both

[2022-07-12 04:55] yanliang567 commented on #18233
I believe this was fixed in master (milvus 2.1). @ThreadDao could you please help to double confirm that?

/assign @ThreadDao
/unassign

[2022-07-12 05:46] xiaofan-luan commented on #18233
Milvus can not get the correct entity number while delete, since the num entity is simply a meta estimation.

[2022-07-12 05:46] xiaofan-luan commented on #18233
This is a known a issue and we will fix it in later version.

[2022-07-12 06:01] xaxys opened #18235 "[Enhancement]: Fix redundant string copy of PlaceholderGroup"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Since `ParsePlaceholderGroup` cgo API parse placeholder group from string which cause redundant construct of std::string, we should remove it.

### Why is this needed?

_No response_

### Anything else?

_No response_