[2022-09-21 09:33] sunby opened #19339 "[Bug]: Datacoord dead lock"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Now, we call rw lock like:
[code]
Lock will block the twice acquirement and all goroutine block.

@yah01 Please fix it.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-21 09:38] yanliang567 commented on #19303
/assign @xiaofan-luan
I think we shall improve it smarter: e.g. release the index automatically after the index dropped.

[2022-09-21 09:41] LoveEachDay commented on #19332
@icodersky Why do you reinstall kubernetes? What kind of storageclass do you use?

[2022-09-21 09:59] icodersky commented on #19332
<img width="643" alt="2" src="https://user-images.githubusercontent.com/86787724/191475334-fb7d06cc-8ee5-4407-bfbe-8e47b821a176.png">
this is storageclass.

Because the server was changed, so reinstall kubernetes.

[2022-09-21 10:00] icodersky commented on #19332
`apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: standard
provisioner: hxy-nfs-storage
parameters:
  archiveOnDelete: "false"`

[2022-09-21 10:01] icodersky commented on #19332
kind: StorageClass
metadata:
  name: standard
provisioner: hxy-nfs-storage
parameters:
  archiveOnDelete: "false"

[2022-09-21 10:01] binbinlv opened #19343 "[Bug]: Drop index failed reporting "Index doesn't exist" if the index was created with index name"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Drop index failed reporting "Index doesn't exist" if create index with index name
[code]

### Expected Behavior

Drop index successfully

### Steps To Reproduce

[code]

### Milvus Log

please reproduce it for debug.

### Anything else?

_No response_

[2022-09-21 10:02] binbinlv commented on #19343
Milvus master branch is good.

[2022-09-21 10:02] zhuwenxing opened #19344 "[Bug]: Search raise error with message `[UnexpectedError] Assert "false" at /go/src/github.com/milvus-io/milvus/internal/core/src/query/SearchOnSealed.cpp:56` after standalone pod kill for 2.1 branch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

collection name: `Checker__IEtjaysh`
[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job:https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release/detail/chaos-test-for-release/73

[2022-09-21 10:21] binbinlv opened #19345 "[Bug]: Recreate another index failed after drop one index before if the index was created with index name, reporting "index already exist, but parameters are inconsistent""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Recreate another index failed after drop one index before if the index was created with index name and reporting "index already exist, but parameters are inconsistent"

### Expected Behavior

Recreate index successfully after index drop

### Steps To Reproduce

[code]

[2022-09-21 10:24] binbinlv commented on #19345
It is good if the index was created without specifying index name in the above script:
collection.create_index("float_vector", index_param)

[2022-09-21 11:04] yanliang567 commented on #19343
/assign @jiaoew1991
/unassign

[2022-09-21 11:04] NicoYuan1986 opened #19346 "[Bug]: [Pagination] Error message is not exact when offset < 0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When offset < 0 and offset + limit <= 0 ,the error message only mentioned limit even if the limit is correct.
For example, when offset = -10 and limit = 10, we'll get  <MilvusException: (code=1, message=limit should be in range [1, 16385], but got 0)>.

### Expected B

[2022-09-21 11:06] yanliang567 commented on #19345
/assign @xiaofan-luan
/unassign

[2022-09-21 11:07] yanliang567 commented on #19344
/assign @jiaoew1991
/unassign

[2022-09-21 11:55] yanliang567 commented on #19334
/assign @sunby
/unassign

[2022-09-21 11:56] yanliang567 commented on #19314
/assign @cydrain
/unassign

[2022-09-21 11:57] yanliang567 commented on #19321
/assign @XuanYang-cn
/unassign

[2022-09-21 11:57] yanliang567 commented on #19332
/assign @LoveEachDay
/unassign

[2022-09-21 11:58] yanliang567 commented on #19331
/assign @sunby
/unassign

[2022-09-21 11:58] yanliang567 commented on #19328
/assign @sunby
/unassign

[2022-09-21 14:27] #18653 closed

[2022-09-21 14:27] #18642 closed

[2022-09-22 01:05] LoveEachDay commented on #19332
@icodersky This is because you've reinstalled a kubernetes cluster, which does not have any information about the pvc used by mulvus previous release. So when you `helm upgrade --install`, it will generate a new pvc.

You'd better keep the kubernetes control-plane untouched, just put your worker node into spot instance.

[2022-09-22 01:13] yanliang567 commented on #19327
@Leslie-Wong-H thank you for the issue.
Looking into the log, I find the rootcoord lost connection to etcd, which causes milvus stop working. Could you please try
1. expand the VM to 4C8G or even bigger
2. make sure the etcd is using SSD volume
Check more prerequisite for installation here: https://milvus.io/docs/v2.1.x/prerequisite-docker.md

/assign @Leslie-Wong-H
/unassign

[2022-09-22 02:08] NicoYuan1986 opened #19354 "[Bug]: [Nightly] Search string field failed caused by 'ids searched not match'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When searching string field, error occurs.
[code]

### Expected Behavior

PASSED

### Steps To Reproduce

[code]

### Milvus Log

1. collection name: search_collection_BVQYqDC0
2. FAILED timeline: [2022-09-21T23:56:40.781Z] [gw1] [ 95%] FAILED testcases/test_search.py

[2022-09-22 02:12] zhuwenxing commented on #18758
chaos type: pod-kill image tag: 2.1.0-20220921-a0ab90ea target pod: indexnode
failed job:https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release/detail/chaos-test-for-release/746/pipeline
log:
[artifacts-indexnode-pod-kill-746-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9621623/artifacts-indexnode-pod-kill-746-server-logs.tar.gz)

[artifacts-indexnode-pod-k

[2022-09-22 02:17] zhuwenxing commented on #16134
chaos type: pod-failure image tag: 2.1.0-20220921-a0ab90ea target pod: datacoord
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-kafka-for-release/detail/chaos-test-kafka-for-release/596/pipeline
log:
[artifacts-datacoord-pod-failure-596-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/9621660/artifacts-datacoord-pod-failure-596-pytest-logs.tar.gz)
[arti

[2022-09-22 02:36] jingkl commented on #19319
server-instance
fouram-cron-1663776000-8
server-configmap
server-single-8c16m
client-configmap
client-insert-bp-batch
servre

[code]

[code]

[2022-09-22 02:51] jingkl opened #19355 "[Bug]: [benchmark][cluster]Milvus search failed,rasie an error"Invalid shard leader""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-cron-1663776000-5
server-configmap
server-cluster-8c16m
client-configmap
client-acc-glove-ivf-flat

[code]

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

client-a

[2022-09-22 03:00] zhuwenxing opened #19356 "[Bug]: List collection timeout after many pod kill or pod failure in master branch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/191647603-63ae6474-0194-4d08-b175-25b076747b2e.png)

[code]

### Expected Behavior

all operation works well

### Steps To Reproduce

_No response_

### Milvus Log

chaos type: pod-failure image tag: master-2

[2022-09-22 03:29] icodersky commented on #19332
Oh, I see. Now I start reinserting data to milvus2.1. Thank you very much!

[2022-09-22 03:54] zhenzi0322 opened #19359 "[Bug]: <_MultiThreadedRendezvous: StatusCode.UNAVAILABLE, Socket closed>"
2022-09-22 03:48:26,964 ｜ ERROR ｜ decorators.py ｜ handler ｜ 81 ｜ grpc RpcError: [has_collection], <_MultiThreadedRendezvous: StatusCode.UNAVAILABLE, Socket closed>, <Time:{'RPC start': '2022-09-22 03:48:26.963137', 'gRPC error': '2022-09-22 03:48:26.964476'}>

[2022-09-22 04:21] zhenzi0322 opened #19361 "[Bug]: Failed to create index: <BaseException: (code=1, message=CreateIndex failed: failed to get segment 436160450729607174)"
Failed to create index: <BaseException: (code=1, message=CreateIndex failed: failed to get segment 436160450729607174)

[2022-09-22 05:59] yanliang567 commented on #19359
@zhenzi0322 could you please follow the issue template and provide more info such as milvus version, logs, etc.

[2022-09-22 05:59] #19359 closed

[2022-09-22 06:00] yanliang567 commented on #19361
@zhenzi0322 could you please follow the issue template and provide more info such as milvus version, logs, etc.

[2022-09-22 06:00] #19361 closed

[2022-09-22 06:00] yanliang567 commented on #19356
/assign @sunby
/unassign

[2022-09-22 06:29] zhenzi0322 opened #19363 "[Bug]: <_MultiThreadedRendezvous: StatusCode.UNAVAILABLE, Socket closed>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Every time we generate a vector of images and add it to the milvus collection, milvus stops midway for no reason. It does not resume automatically.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

[code]

### Anything else?

[2022-09-22 06:58] yanliang567 commented on #19363
@zhenzi0322 Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

/assign @zhenzi0322

[2022-09-22 07:05] #19043 closed

[2022-09-22 07:22] zhenzi0322 commented on #19363
[milvus-2022-09-22.log](https://github.com/milvus-io/milvus/files/9623311/milvus-2022-09-22.log)

[2022-09-22 07:49] yanliang567 commented on #19363
could you please refer to the link above to get the milvus server log, instead of client log?

[2022-09-22 07:50] datenhahn commented on #18595
This seems to be fixed, stability / self healing of Milvus has increased much in the last weeks (last test was with v2.1.2, closing ticket.

[2022-09-22 07:50] #18595 closed

[2022-09-22 07:57] kkpssr commented on #19303
thanks very much
I have try the operation u mentioned and problems are solved and, if  milvus can offer normalize function like faiss  or auto normalize when use IP metric in the future, i think will be more convenient to use..

[2022-09-22 07:59] kkpssr commented on #19303
by the way, i use IVF_SQ8 index before and also search in IP and results returned is right, all similarity is below 1. So, the vectors I use in IVF_SQ8 index and HNSW index are same which are not normalized before. why results are different?

[2022-09-22 08:00] kkpssr commented on #19303
thanks very much
I have try the operation u mentioned and problems are solved and, if milvus can offer normalize function like faiss or auto normalize when use IP metric in the future, i think will be more convenient to use..

[2022-09-22 08:03] zhenzi0322 commented on #19363
[9525ae68b7a1db2faee35e834f95e97ade02354f4d25923b8ab71e5b1e4d39a5-json.zip](https://github.com/milvus-io/milvus/files/9623665/9525ae68b7a1db2faee35e834f95e97ade02354f4d25923b8ab71e5b1e4d39a5-json.zip)

[2022-09-22 08:30] NicoYuan1986 opened #19365 "[Bug]: [Pagination] Search pagination sometimes failed with a few specific expressions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search pagination sometimes failed with a few specific expressions.
[code]
Take one as example. [10-True-int64 == 0 || int64 == 1 || int64 == 2]
[code]

### Expected Behavior

I think an exception should be raised. Or find a solution when the offset > the number of re

[2022-09-22 08:45] NicoYuan1986 opened #19366 "[Bug]: [Pagination] Search pagination with index and partition failed sometimes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search pagination with index and partition failed sometimes.
[code]

### Expected Behavior

Succeed.

### Steps To Reproduce

1. Here limit = 1000. if limit = 10 or limit = 100, the case will pass.

2. Run:
[code]

### Milvus Log

_No response_

### Anything else?

_N

[2022-09-22 08:57] NicoYuan1986 opened #19367 "[Bug]: [Pagination] Search pagination with partition got inaccurate results sometimes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[Pagination] Search pagination with partition got inaccurate results sometimes.
[code]

### Expected Behavior

pass

### Steps To Reproduce

Run:
[code]

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-22 08:59] NicoYuan1986 commented on #19367
The issue is similar to #19366. And the case will fail when limit=100.

[2022-09-22 09:02] yanliang567 commented on #19363
@zhenzi0322 looking into the logs, it says some components disconnected from etcd, which caused miluvs stop. could you please make sure the etcd is running, and it is running against SSD volume?
More requirements and tips for instllation: https://milvus.io/docs/v2.1.x/prerequisite-docker.md

[2022-09-22 09:12] zhenzi0322 commented on #19363
https://github.com/milvus-io/milvus/releases/download/v2.1.1/milvus-standalone-docker-compose.yml -O docker-compose.yml

I am running it from docker-compose start. Normally etcd is started.

[2022-09-22 09:48] fl183 opened #19372 "[Bug]: querynode: "error":"isOnline: QueryNode xx not exist""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

- Milvus version:v2.1.2
- Deployment mode(standalone or cluster):cluster on k8s installed by helm
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS): CentOS
- CPU/Memory: 16C32G
- GPU: none
- Others:

kubectl get pods
[code]

**ETCD is external**

## Querynode error

Focus on **"error"

[2022-09-22 09:52] jiaoew1991 commented on #19344
It's a parameter checker in Knowhere, if search params is wrong the error is reasonable

[2022-09-22 09:56] zhuwenxing opened #19373 "[Bug]: Load timeout when replica num is 2 for master branch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

collection name: deploy_test_index_type_HNSW_is_compacted_is_compacted_segment_status_all_is_vector_indexed_is_vector_indexed_is_string_indexed_is_string_indexed_replica_number_2_is_deleted_is_deleted_data_size_3000

[code]

### Expected Behavior

all test cases passe

[2022-09-22 10:00] #19175 closed

[2022-09-22 10:02] jiaoew1991 commented on #19344
@cydrain please take a look

[2022-09-22 10:02] zhuwenxing commented on #19344
The parameter should be correct because it works well before for the same test code.

[2022-09-22 10:11] congqixia opened #19374 "[Bug]: test_search_index_partitions_fuzzy has logic error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

test_search_index_partitions_fuzzy case create index with nlist=128 and search with nprobe=16, may cause result cannot return (limit=1000) results

### Expected Behavior

case has determined result

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

[2022-09-22 10:13] binbinlv commented on #19374
Thanks for the issue, working.

[2022-09-22 10:23] congqixia commented on #19179
Fixed by #19374 19163

[2022-09-22 10:23] #19179 closed

[2022-09-22 11:20] jingkl commented on #19102
release_name_prefix
fouramf-rzbls
deploy_config
empty-file
case_params
empty-file
other_params
 --milvus_tag=2.1.0-20220913-3c3ba55 -k test_search_time -s

[code]

log：

[code]

[2022-09-22 11:22] yanliang567 commented on #19373
/assign @congqixia
/unassign

[2022-09-22 11:26] #16750 closed

[2022-09-22 11:46] jiaoew1991 opened #19378 "[Feature]: export more operation API through http"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

We need to expose more operational APIs to operatorss, but we don't want to add interfaces to the SDK, which will increase our maintenance costs, and exposing milvus internal information to users through the Restful API is a better way.

We can ma

[2022-09-22 11:47] yanliang567 commented on #19354
/assign @congqixia
/unassign

[2022-09-22 12:26] #18630 closed

[2022-09-22 12:49] erezweissgloat opened #19379 "[Bug]: External Kafka will not change its security.protocol configuration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I use MSK (managed kafka) of AWS, with SASL_SSL and SCRAM-SHA-512.
I deployed the helm:
[code]
All the pods return this error:
`FAIL|rdkafka#consumer-1| [thrd:xyz.kafka.eu-central-1.amazonaws.]: xyz.kafka.eu-central-1.amazonaws.com:9096/bootstrap: Disconnected while r

[2022-09-22 13:07] yanliang567 commented on #19379
/assign @LoveEachDay
any ideas ?

/assign

[2022-09-22 13:36] jaime0815 opened #19382 "[Enhancement]: Support TTL for collection level"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

The global entities TTL has already been supported, but it is valueless in most business scenarios, support TTL for collection level includes two parts of work:
1. filter expired data during compacting phase
2. support to config TTL parameter `collection.ttl.seconds` on the co

[2022-09-23 02:13] NicoYuan1986 commented on #19334
The problem comes up every day.

[2022-09-23 02:16] xiaocai2333 commented on #19208
verify it. @yah01 @yanliang567

[2022-09-23 02:20] #19216 closed

[2022-09-23 02:23] NicoYuan1986 opened #19384 "[Bug]: [Nightly]Some cases about compaction failed reporting AssertionError"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Take the case test_compact_during_index as an example,
[code]

### Expected Behavior

PASS

### Steps To Reproduce

[code]

### Milvus Log

1. milvus log: [artifacts-milvus-distributed-kafka-nightly-114-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Mil

[2022-09-23 02:34] NicoYuan1986 opened #19385 "[Bug]: [Nightly] Cases failed for 'Deadline Exceeded' get much more these days"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

There are two kinds of error messages:
1.
[code]
2.
[code]

### Expected Behavior

PASS

### Steps To Reproduce

[code]

### Milvus Log

1. milvus log: [artifacts-milvus-distributed-kafka-nightly-114-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus

[2022-09-23 02:35] yanliang567 commented on #19384
@NicoYuan1986 could you please try to fix them as the new behaviors of compaction ?

/assign @NicoYuan1986
/unassign

[2022-09-23 02:38] NicoYuan1986 commented on #19384
Get.I'll work on it.

[2022-09-23 02:54] NicoYuan1986 opened #19386 "[Bug]: [Nightly] Load balance failed reporting 'failed to balance segments, err=TaskStale'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Load balance failed reporting 'failed to balance segments, err=TaskStale'.
[code]

### Expected Behavior

PASSED

### Steps To Reproduce

[code]

### Milvus Log

1. milvus log: [artifacts-milvus-distributed-kafka-nightly-114-pymilvus-e2e-logs.tar.gz](https://jenkins.m

[2022-09-23 02:56] LoveEachDay commented on #19379
@erezweissgloat I've tested that milvus support aws msk with sasl_ssl. Given the above settings in helm chart, it will generate the configmap like this:
[code]
Could you double check this config inside milvus pod. And also check the settings for msk:
1. `Access control methods` -- enable SASL/SCRAM authentication
2. `Encryption` -- enable TLS encryption for traffic between clients and brokers
3.

[2022-09-23 02:56] nameczz commented on #19372
@fl183
Attu already released a new version v2.1.1 to fix this error.
Milvus helm config @Bennu-Li  will update it asap.

[2022-09-23 03:38] longjiquan opened #19389 "[Enhancement]: UnWatch channels if failed to create collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

If Milvus failed to create collection, I want to let Milvus UnWatch channels in data nodes. For below reasons:
- UnWatching channels will let data noes release flow graph, which is continuesly running in memory if no drop message are received;
- Reduce the presure of message q

[2022-09-23 03:38] longjiquan commented on #19389
/assign

[2022-09-23 03:41] congqixia commented on #19373
Load failure was caused by segment allocation messed among replicas. @yah01  is fixing it.

[2022-09-23 03:47] binbinlv commented on #19365
I think this works as design, it return empty when you searched id is not in the range of the offset.
For example, when you search with [int64 == 0 || int64 == 1 || int64 == 2], while your offset is 10, so it returns empty.

[2022-09-23 03:57] binbinlv commented on #19385
/assign @jaime0815
@jaime0815
This issue appears in the kafka pipeline only yesterday, so could you please have a look first?
Thanks.

[2022-09-23 04:39] xige-16 opened #19393 "[Bug]: Failed to start milvus on macos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

sudo ./bin/milvus run standalone
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-23 04:40] xige-16 commented on #19393
/assign @xige-16
/unassign @yanliang567

[2022-09-23 04:49] yanliang567 commented on #19379
/assign @erezweissgloat
/unassign

[2022-09-23 04:50] yanliang567 commented on #19386
/assign @jiaoew1991
/unassign

[2022-09-23 05:57] yah01 commented on #19208
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-19392/1/pipeline/
@xiaocai2333 reproduced in master e2e

[2022-09-23 06:12] jiaoew1991 commented on #19343
https://github.com/milvus-io/pymilvus/blob/c62e7bd887e178c471e03f28417715800392ce62/pymilvus/orm/collection.py#L1128-L1161

[2022-09-23 06:12] zhuwenxing commented on #19344
chaos type: pod-kill image tag: 2.1.0-20220923-0375e802 target pod: standalone

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release-debug/detail/chaos-test-for-release-debug/8/pipeline

log:
[artifacts-standalone-pod-kill-8-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9631072/artifacts-standalone-pod-kill-8-server-logs.tar.gz)
[artifacts-stan

[2022-09-23 06:17] binbinlv commented on #19343
OK, will try, thanks.

[2022-09-23 06:19] xige-16 commented on #19393
milvus links against two .dylibs which use protobuf

[2022-09-23 06:21] zhuwenxing commented on #19344
The test script is:
https://github.com/milvus-io/milvus/blob/master/tests/python_client/chaos/testcases/test_verify_all_collections.py

The code for search is
[code]

[2022-09-23 06:22] binbinlv commented on #19343
But why it is good in master branch? The same script did not report error.

[2022-09-23 06:24] jiaoew1991 commented on #19386
/assign @sunby
/unassign

[2022-09-23 06:35] xiaocai2333 opened #19396 "[Enhancement]: Support create flat index"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

1. Support create flat index,
2. and must create index after load.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-09-23 06:35] xiaocai2333 commented on #19396
/assign

[2022-09-23 06:40] jingkl opened #19397 "[Bug]: [benchmark][standalone]Milvus search time out, raise an error"server Unavailable: Retry timeout: 300s""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-cron-1663862400-6
server-configmap
server-single-16c64m
client-configmap
client-search-sift50m-ivf-flat-2048
sever:
[code]
client log:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

_No response_

#

[2022-09-23 06:47] xiaocai2333 commented on #19208
Not completely stuck, but doubled the time to build the index when a compaction occurs.

[2022-09-23 07:10] jingkl opened #19399 "[Bug]: [benchmark][cluster]Milvus search failed ,raise an error"fail to get shard leaders from QueryCoord""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-cron-1663862400-7
server-configmap
server-cluster-16c64m
client-configmap
client-search-sift50m-ivf-flat-2048

server:
[code]
client log:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

_No response_

[2022-09-23 07:13] XuanYang-cn commented on #19346
#19388

[2022-09-23 07:31] NicoYuan1986 commented on #19365
I have modified the case. It's work. When the length of search results is 100 and offset is equal to 99, it returns 1 result.

[2022-09-23 07:31] #19365 closed

[2022-09-23 07:34] zhuwenxing commented on #19344
It also reproduced after querynode pod kill

failed job:
https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release-debug/detail/chaos-test-for-release-debug/10/pipeline

log:
[artifacts-querynode-pod-kill-10-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9631559/artifacts-querynode-pod-kill-10-server-logs.tar.gz)

[artifacts-querynode-pod-kill-10-pytest-logs.tar

[2022-09-23 08:05] zhuwenxing commented on #19165
It happened in `2.1.0-20220922-4798fa78` so reopen this issue

chaos type: pod-kill image tag: 2.1.0-20220922-4798fa78 target pod: querycoord
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release/detail/chaos-test-for-release/788/pipeline

log:
[artifacts-querycoord-pod-kill-788-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9631378/artifacts-que

[2022-09-23 08:17] yah01 commented on #19373
/assign @zhuwenxing
fixed with #19392 , plz help check it

[2022-09-23 08:19] yah01 commented on #19386
/assign
/assign @NicoYuan1986
should be fixed with #19400, plz help check it

[2022-09-23 08:25] #19138 closed

[2022-09-23 08:26] fl183 commented on #19372
Okay, I have updated the attu just now.

[2022-09-23 08:27] zhuwenxing commented on #19269
It reproduced stable, so set it as critical
chaos type: pod-failure image tag: 2.1.0-20220922-4798fa78 target pod: pulsar
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release/detail/chaos-test-for-release/799/pipeline/244

collection name: `Checker__lJBSIpje`
log:
[artifacts-pulsar-pod-failure-799-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/9

[2022-09-23 08:29] NicoYuan1986 commented on #19386
Thank you for your work!🌸
I'll check it.

[2022-09-23 08:30] #19316 closed

[2022-09-23 08:31] #19317 closed

[2022-09-23 08:34] zhuwenxing opened #19404 "[Bug]: Search failed with error `Search 13 failed, reason cannot find sealed segment 436178562159476738 in QueryNode` for old collection after pulsar pod kill chaos test for 2.1 branch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/191921735-84ec696c-e644-40ca-8d1b-124ba43b7555.png)

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

chaos type: pod-failure image tag: 2.1.0-20220

[2022-09-23 08:38] #19339 closed

[2022-09-23 08:39] fl183 commented on #19372
The error: "isOnline: QueryNode xx not exist"

After we dropped a `collection`, query become not work.
However, our cluster recovery after a few hours , but we did nothing...

I guess `querycoord` or `rootcoord` caused the error. But I have no idea to do next

[2022-09-23 08:52] zhuwenxing commented on #19337
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test/detail/deploy_test/284/pipeline/293
log:
[artifacts-cluster-upgrade-284-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9632198/artifacts-cluster-upgrade-284-server-logs.tar.gz)
[artifacts-cluster-upgrade-284-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/9632199/artifacts-cluster-upgrade-2

[2022-09-23 09:02] congqixia commented on #19354
Fixed by #19391

[2022-09-23 09:02] congqixia commented on #19354
/unassign
/assign @NicoYuan1986

[2022-09-23 09:09] congqixia commented on #18899
Shall be fixed by v2 pr, does this issue still persist?

[2022-09-23 09:19] NicoYuan1986 commented on #18899
The issue came up only once 2 days ago.
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/112/pipeline/155
timeline:[2022-09-21T17:24:30.895Z] [gw3] [ 77%] FAILED testcases/test_search.py::TestCollectionSearch::test_search_multi_collections[5000-500-128-False-False]
[code]

[2022-09-23 09:26] yanliang567 commented on #19372
/assign @congqixia
@congqixia  this is the same issue as I mentioned to you offline. The checkpoint is much behind the current tt, which we need to improve.

/unassign @fl183

[2022-09-23 09:27] yanliang567 commented on #19404
/assign @jiaoew1991
/unassign

[2022-09-23 09:28] yanliang567 commented on #19399
/assign @sunby
/unassign

[2022-09-23 09:29] zhuwenxing commented on #19373
Verified and passed with version `master-20220923-6d6e14e6`

[2022-09-23 09:29] #19373 closed

[2022-09-23 10:08] #18915 closed

[2022-09-23 10:28] #18567 closed

[2022-09-23 10:32] DoliteMatheo opened #19407 "[Bug]: Ver. 2.1.2 Search resulted in wrong distance values and strange orders"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I searched with inner product metric, I got wrong (negative) distance results and listed in wrong order, as shown in the following codes.
Furthermore, I got different orders each time I executed the codes. It seemed that no regular rules could be found to explain

[2022-09-23 10:33] binbinlv opened #19408 "[Bug]: Unexpected error for creating invalid index"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Unexpected error for creating invalid index
[gw2] [ 15%] FAILED testcases/test_index.py::TestIndexParams::test_index_type_invalid[index_type3]

[code]

### Expected Behavior

Unexpected error  -> milvus exception

### Steps To Reproduce

[code]

### Milvus Log

_No re

[2022-09-23 10:36] yanliang567 opened #19409 "[Bug]: Segment Loaded Num in metrics is not correct"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus metrics: Query Node -> Segment Loaded Num:
sum(milvus_querynode_segment_num{app_kubernetes_io_instance=~"$instance", app_kubernetes_io_name="$app_name", namespace="$namespace"}) by (pod, node_id)

It displays the sum of load events, instead of the loaded segmen

[2022-09-23 10:37] yanliang567 commented on #19409
/assign @czs007
/unassign

[2022-09-23 10:42] yanliang567 commented on #19407
/assign @cydrain
/unassign

[2022-09-23 15:21] cydrain commented on #19407
The result from knowhere is correct
[code]

[2022-09-23 19:02] Leslie-Wong-H commented on #19327
It works at a 4C16G VM.

[2022-09-23 19:02] #19327 closed

[2022-09-24 02:33] jiaoew1991 commented on #19321
After discussed with @cydrain you can padding 0 at end to make dimension is multiples of 8, there will be affect to the correctness and recall

[2022-09-24 03:11] yanliang567 commented on #19321
can we offer a better solution without correctness affection?

[2022-09-24 03:18] XuanYang-cn opened #19411 "[Bug]: FAIL: TestIndexNodeComplex (319.36s)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://github.com/milvus-io/milvus/actions/runs/3116767962/jobs/5054888778

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-24 03:20] XuanYang-cn commented on #19411
/unassign @yanliang567
/assign @xiaocai2333

[2022-09-24 03:21] XuanYang-cn commented on #19323
/unassign
/assign @xiaocai2333

[2022-09-24 05:56] XuanYang-cn commented on #19366
@NicoYuan1986 search nprobe 10 in nlist 128 may not get 1000 results from 3000 back. Please use nprobe 128 instead.
/unassign
/assign @NicoYuan1986

[2022-09-24 06:51] XuanYang-cn commented on #19366
/assign
PR #19401 will fix this too.

[2022-09-24 06:52] XuanYang-cn commented on #19367
pr #19401 will fix this too

[2022-09-24 06:54] #19167 closed

[2022-09-24 07:24] yah01 opened #19413 "[Bug]: SegmentTask will never retry"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The executor forget to clear action if it failed to commit, which blocks the scheduler to retry this action

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-24 08:13] soothing-rain commented on #19272
We updated bulk load task visibility policy lately and all tasks created in the last `24 hours` should be visible now.

[2022-09-24 08:13] soothing-rain commented on #19272
/unassign
/assign @zhuwenxing

[2022-09-24 08:20] soothing-rain commented on #19219
@bingbb47 can you provide us with your Milvus server-side logs?

/assign @bingbb47

[2022-09-24 08:20] soothing-rain commented on #18806
/unassign

[2022-09-24 08:46] soothing-rain commented on #18755
/reopen

It appears that proxy failed to connect RootCoord and was killed later.

[code]

[code]

I am also confused that the logs above are found in `pod_log_previous` directory, but the proxy logs in `pod_log` directory seem alright:
[code]

[2022-09-24 08:46] soothing-rain commented on #18755
/assign @zhuwenxing
/unassign

[2022-09-24 09:01] yah01 opened #19417 "[Bug]: can't release growing segment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

the executor can release only sealed segment

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-25 02:11] yanliang567 commented on #19417
/assign @yah01
/unassign

[2022-09-25 02:21] yanliang567 commented on #19407
@cydrain do we order the results by distance

[2022-09-25 02:52] cydrain commented on #19407
of cause yes

[2022-09-25 02:53] cydrain commented on #19407
I'm debugging from where cause the result becomes wrong

[2022-09-25 03:24] soothing-rain commented on #18874
/unassign @wayblink

[2022-09-25 05:14] cydrain commented on #19344
hi @jiaoew1991 ,
I dump out the config before knowhere API is called, you can see "nprobe" setting is already missing.
You need check what causes "nprobe" setting missing from config.
[artifacts-standalone-pod-kill-14-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9640080/artifacts-standalone-pod-kill-14-server-logs.tar.gz)

[code]

[2022-09-25 06:55] icodersky opened #19423 "[Bug]: rootcoord Failed to create producer after I operated the collection load."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

rootcoord Failed to create producer after I operated the collection load. And Then, the milvus2.1.2 can't work.

dimension: 2048
index: IVFSQ8
collection Entity Count: 47742964

![image](https://user-images.githubusercontent.com/86787724/192131961-6895db22-b972-4ae5-8

[2022-09-25 07:56] xiaofan-luan commented on #19417
can you give some clear explain why growing segment can not be released?

[2022-09-25 08:52] xiaofan-luan commented on #19423
hi @icodersky
Seems the pulsar backlog exceed.
To fix the issue, there are two possible ways:
1) use pulsarctl, check which topic backlog exceed and cleanup
2) restart all datanode/querynode, then topic should automatically be cleanedup

[2022-09-25 12:55] yah01 commented on #19417
The executor gets the segment to release from SegmentDistributionManager, which not contains the growing segment. The executor treats this as the segment has been released.

[2022-09-25 21:34] siwenyang opened #19425 "[Bug]: create_collection OR drop_collection Retry run out of 10 retry times"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When i do create_collection OR drop_collection, it take very long waiting and show error:

[create_collection] retry:4, cost: 0.27s, reason: <_MultiThreadedRendezvous: StatusCode.UNAVAILABLE, Socket closed>
[create_collection] retry:5, cost: 0.81s, reason: <_MultiThre

[2022-09-25 23:26] siwenyang commented on #19425
Milvus version: 2.1.2

[2022-09-26 00:07] #18577 closed

[2022-09-26 00:47] yanliang567 commented on #19425
/assign @jiaoew1991
/unassign

[2022-09-26 00:51] yanliang567 commented on #19423
/assign @icodersky
please try as suggested above.

/unassign

[2022-09-26 00:51] yanliang567 commented on #19413
/assign @yah01
/unassign

[2022-09-26 00:53] yanliang567 commented on #19397
/assign @jiaoew1991
/unassign

[2022-09-26 01:16] yanliang567 commented on #19297
it seems that it costs more time in waiting:
[code]
how much CPU do you configure for Milvus? are they running in 100%?, if yes, please try to add more cpu

[2022-09-26 01:19] yanliang567 commented on #19221
/assign @binbinlv

[2022-09-26 01:25] icodersky commented on #19423
1. How to use pulsarctl? Is there a tutorial on the official website? We use python.
2. Can restarting solve the problem? I'll try restarting it.

[2022-09-26 01:44] #18999 closed

[2022-09-26 01:54] jaime0815 opened #19427 "[Bug]: too many operations in txn request during deleting collection from meta table"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

2022-09-23T22:49:27.491442772+08:00 stderr F {"level":"warn","ts":"2022-09-23T14:49:27.491Z","logger":"etcd-client","caller":"v3@v3.5.0/retry_interceptor.go
:62","msg":"retrying of unary invoker failed","target":"etcd-endpoints://0xc000371dc0/#initially=[mdk-3-n-etcd:

[2022-09-26 01:56] longjiquan commented on #19427
already fixed by #19362

[2022-09-26 02:08] zhuwenxing commented on #19232
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/1563/pipeline/244/
log:
[artifacts-etcd-pod-failure-1563-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9642396/artifacts-etcd-pod-failure-1563-server-logs.tar.gz)
[artifacts-etcd-pod-failure-1563-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/9642400/artifacts-etcd-pod-fa

[2022-09-26 02:13] #19427 closed

[2022-09-26 02:16] zhuwenxing commented on #19233
Almost all pod kill test cases have this issue, I just pick one for the display

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/1563/pipeline/244/
log:
[artifacts-etcd-pod-failure-1563-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9642396/artifacts-etcd-pod-failure-1563-server-logs.tar.gz)
[artifacts-etcd-pod-failure-1563-pytest-log

[2022-09-26 02:41] zhuwenxing commented on #19337
It works well when upgrading v2.1.2 to master-20220925-91df8f2d, no idea which PR has fixed this.
But there is one thing strange, in the second recall test, the recall becomes 1.0 which was 0.98 before

Corresponding test job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test/detail/deploy_test/298/pipeline/293

[2022-09-26 02:46] yanliang567 commented on #19046
/assign @longjiquan
does it the same as https://github.com/milvus-io/milvus/issues/18758?

[2022-09-26 02:55] ICLzhang commented on #19425
@XuanYang-cn

[2022-09-26 02:57] zhuwenxing opened #19429 "[Bug]: [Perf][Upgrade]Search performance degrade a lot and recall become 1.0 from 0.983 after upgrading 2.1.2 to master-20220925-91df8f2d"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

First recall test
[code]

Second recall test
[code]

### Expected Behavior

Take v2.1.2 --> 2.1.2-latest as example

https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_for_release/detail/deploy_test_for_release/194/pipeline

first recall test
[code]

[2022-09-26 02:57] LoveEachDay commented on #19423
@icodersky You can login to the pulsar broker pod run the following command:
[code]

[2022-09-26 03:02] fl183 commented on #19372
The problem arises again...

ETCD task:
[code]
[code]

Details of one(milvus-01/meta/queryCoord-activeTask/436248517909676372):
[code]
What is milvus doing?

**Now, we have only 400W+ vectors(2048dim), 200+ collections, this is just a part of all. But milvus doesn't work well...**

[2022-09-26 03:08] jaime0815 commented on #19385
Some issues have already been fixed,  can you update the latest test results here? I will track this issue continually.

[2022-09-26 03:09] soothing-rain commented on #19425
Resolved offline.

User kept inserting data for 4 days, which caused Pulsar bookie disk usage over 200GigBytes.

These temp data in bookie will not be cleaned up with in `defaultRetentionTimeInMinutes` period, which is by default 7 days.

As instructed by @LoveEachDay , the solution is to set `defaultRetentionTimeInMinutes` to a short period to a shorter period so they can be cleaned up by Pulsar.

[2022-09-26 03:09] icodersky commented on #19423
Thank you. Let me have a try.

[2022-09-26 03:09] soothing-rain commented on #19425
/unassign @jiaoew1991
/assign @siwenyang

[2022-09-26 03:19] yah01 opened #19430 "[Bug]: Balancing segment confuses LeaderObserver to sync incorrect distribution"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

balance segment A from Node 1 to Node 2, if QueryCoord now fetches the distribution of leader, but nodes not yet, the meta be:
LeaderView: segment A -> Node 2
SegmentDistribution: segment A -> Node 1
The LeaderObserver will then sync to leader to tell the segment is o

[2022-09-26 03:20] yanliang567 commented on #19429
no indexed was issued when searching
[code]

[2022-09-26 03:21] yanliang567 commented on #19429
/assign @longjiquan
/unassign

[2022-09-26 03:26] yanliang567 commented on #19430
/assign @yah01
/unassign

[2022-09-26 03:42] icodersky commented on #19423
Execute this command:
**bin/pulsar-admin topics stats public/default/by-dev-rootcoord-dml_10**

Get the info as follow:

{
  "msgRateIn" : 0.0,
  "msgThroughputIn" : 0.0,
  "msgRateOut" : 0.0,
  "msgThroughputOut" : 0.0,
  "bytesInCounter" : 144048879687,
  "msgInCounter" : 1116084,
  "bytesOutCounter" : 3552089792153,
  "msgOutCounter" : 119573593,
  "averageMsgSize" : 0.0,
  "msgChunkPublished"

[2022-09-26 03:49] jingkl commented on #19355
server-instance
fouram-cron-1664121600-5
server-configmap
server-cluster-8c16m
client-configmap
client-acc-glove-ivf-flat

[code]
[code]

[2022-09-26 03:50] icodersky commented on #19423
Execute the second command had no result.

![image](https://user-images.githubusercontent.com/86787724/192190014-14c083f7-bd33-4c22-993e-dd894472be9b.png)

[2022-09-26 03:58] jingkl commented on #19397
**Milvus search timed out and hung**

server-instance
fouram-cron-1664121600-6
server-configmap
server-single-16c64m
client-configmap
client-search-sift50m-ivf-flat-2048

master-20220925-91df8f2d

[code]

[code]

[2022-09-26 04:02] LoveEachDay commented on #19423
@icodersky According the output, you need remove the `subscription` which does not have any `consumers` .
And the command of `clear-backlog` does not have any output. You can verify the `topics stats` to check whether the backlog has been cleared.

[2022-09-26 04:03] yah01 opened #19432 "[Bug]: Data race detected in DataCoord unit tests"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://github.com/milvus-io/milvus/actions/runs/3124882173/jobs/5068683568

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-26 04:07] icodersky commented on #19423
Now, I execute this command again:
bin/pulsar-admin topics stats public/default/by-dev-rootcoord-dml_10

Get the info as follow:

{
  "msgRateIn" : 0.0,
  "msgThroughputIn" : 0.0,
  "msgRateOut" : 0.0,
  "msgThroughputOut" : 0.0,
  "bytesInCounter" : 144048879687,
  "msgInCounter" : 1116084,
  "bytesOutCounter" : 3552089792153,
  "msgOutCounter" : 119573593,
  "averageMsgSize" : 0.0,
  "msgChunkPu

[2022-09-26 04:11] icodersky commented on #19423
Then, how to restore the normal state of the rootcoord?

![image](https://user-images.githubusercontent.com/86787724/192192220-ef22a535-b1a3-42c9-be5f-cbfdb9cf9f05.png)

[2022-09-26 05:57] Andriy1989 opened #19434 "[Bug]: Milvus uses all the memory, and does not automatically delete files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Hello!
I have created 150+ collections. Each collection, as of now, contains from 1 to 50 vectors with a dimension of 4096. In the future, the number of vectors will increase many times, but for now it is just like this. I found that with this configuration milvus "de

[2022-09-26 06:07] LoveEachDay commented on #19423
@icodersky Could you provide the rootcoord log again?

[2022-09-26 06:23] jiaoew1991 commented on #19344
@zhuwenxing the param is wrong, you should pass search_params like this
<img width="713" alt="image" src="https://user-images.githubusercontent.com/2297455/192206886-2cbf30ce-65d6-4269-a67f-78cc41416c88.png">
https://milvus.io/api-reference/pymilvus/v2.1.2/Collection/search().md

[2022-09-26 06:23] jiaoew1991 commented on #19344
/unassign
/assign @zhuwenxing

[2022-09-26 06:24] cydrain commented on #19407
Hi @DoliteMatheo ,

If you change the metric type to upper case like following:
[code]
you can get correct result, you can use this as a workaround.
I'll fix this bug soon.

[2022-09-26 06:38] icodersky commented on #19423
I missed the step [remove the `subscription` which does not have any `consumers`].
How to remove the `subscription` ? The command is?

[2022-09-26 07:17] #19417 closed

[2022-09-26 07:18] #19413 closed

[2022-09-26 07:49] wangnimaa commented on #19071
# Licensed to the LF AI & Data foundation under one
# or more contributor license agreements. See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership. The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License. You may obtain a copy of the License

[2022-09-26 07:52] wangnimaa commented on #19071
# Licensed to the LF AI & Data foundation under one
# or more contributor license agreements. See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership. The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License. You may obtain a copy of the License

[2022-09-26 07:57] wangnimaa commented on #19071
we use this https://github.com/milvus-io/milvus/blob/master/configs/milvus.yaml,change cacheSize 2G,memoryLimit 1G

[2022-09-26 08:03] zhuwenxing commented on #19344
I think it is not the root cause, because, with the param in my code, It works well at the beginning time, but after some time, then it raises the error.
[code]

[2022-09-26 08:19] yanliang567 commented on #19432
/assign @yah01
/unassign

[2022-09-26 08:27] yanliang567 commented on #19434
/assign @LoveEachDay
could you please take a look at this issue?
/unassign

[2022-09-26 08:32] #19389 closed

[2022-09-26 08:36] longjiquan opened #19438 "[Bug]: When a collection was dropped, the dml stream on all proxies should be removed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Now, when a dropping collection was received by Proxy, it only remove its' dml stream.

### Expected Behavior

All proxies should remove the related dml stream when a dropping request was processed.

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

[2022-09-26 08:37] longjiquan commented on #19438
/unassign @yanliang567
/assign @longjiquan

[2022-09-26 08:45] SimFG opened #19439 "[Bug]: Miss the `indexName` param when the `describeIndexTask` execute `dit.indexCoord.DescribeIndex`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Miss the `indexName` param when the `describeIndexTask` execute `dit.indexCoord.DescribeIndex`.

https://github.com/milvus-io/milvus/blob/c15b880f0e1a1c014d540e2922a615aa717aaca7/internal/proxy/task.go#L1416-L1431

### Expected Behavior

_No response_

### Steps To Re

[2022-09-26 08:52] icodersky commented on #19423
2022/09/26 08:49:40 maxprocs: Leaving GOMAXPROCS=20: CPU quota undefined

    __  _________ _   ____  ______
   /  |/  /  _/ /| | / / / / / __/
  / /|_/ // // /_| |/ / /_/ /\ \
 /_/  /_/___/____/___/\____/___/

Welcome to use Milvus!
Version:   v2.1.2
Built:     Fri Sep 16 06:40:43 UTC 2022
GitCommit: 3c3ba55c
GoVersion: go version go1.16.9 linux/amd64

open pid file: /run/milvus/rootcoord.pid
loc

[2022-09-26 08:53] zhuwenxing opened #19441 "[Bug]: When there is a invalid segment id in segment list, load balance can still success"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

This test case can pass, but expect it will fail

### Expected Behavior

When there is a invalid segment id in segment list, load balance will be fail

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-26 09:11] icodersky commented on #19423
Had restart querynode、datanode and proxy, the rootcoord still can't work.

[hx-release-milvus-rootcoord-b4677f59b-md6l4.log](https://github.com/milvus-io/milvus/files/9644771/hx-release-milvus-rootcoord-b4677f59b-md6l4.log)

[hx-release-milvus-proxy-5b95cfbcf5-z2twg.log](https://github.com/milvus-io/milvus/files/9644778/hx-release-milvus-proxy-5b95cfbcf5-z2twg.log)

[hx-release-milvus-datanode-779

[2022-09-26 09:42] zhuwenxing commented on #19441
/assign @xige-16

please help to take a look

[2022-09-26 09:42] zhuwenxing commented on #19441
/unassign @yanliang567

[2022-09-26 09:50] zhuwenxing commented on #19344
When the search param is complete like `{"metric_type": "L2", "params": {"nprobe": 16}}`, this issue not reproduced.

[code]

[2022-09-26 09:51] #19344 closed

[2022-09-26 09:53] SimFG opened #19445 "[Enhancement]: Improve `Index` and `Load` interfaces"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

1. Deprecate `GetIndexState` and `GetIndexBuildProgress`, this kind information will be included in the `DescribeIndex`
2. Add the `get_load_progress` interface

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-09-26 10:09] zhuwenxing opened #19446 "[Bug]: Create index for varchar field timeout after Milvus reinstallation in master branch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test/detail/deploy_test/301/pipeline

log:
[artifacts-standalone-reinstall-301-serve

[2022-09-26 10:12] cydrain commented on #19407
/assign @yanliang567 fixed, please check

[2022-09-26 10:13] cydrain commented on #19407
/assign @yanliang567

[2022-09-26 10:25] yah01 commented on #19397
/assign @jingkl
plz retry with the latest commit, the PR #19414 should fix this

[2022-09-26 10:27] yah01 commented on #19429
/assign
/assign @zhuwenxing
plz retry with the latest commit, the PR #19414 should fix this

[2022-09-26 10:36] yah01 commented on #19441
/assign
/unassign @xige-16

[2022-09-26 10:56] zhuwenxing commented on #19429
/assign @longjiquan
/unassign

[2022-09-26 11:23] #19439 closed

[2022-09-26 11:42] congqixia commented on #19372
@fl183 thanks for the log. Could you please export the etcd meta using this tool:
https://github.com/milvus-io/birdwatcher

[2022-09-26 11:44] tgk60w opened #19453 "[Bug]: ETCD writing data memory abnormal growth"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![飞书20220926-173106](https://user-images.githubusercontent.com/49012823/192266484-67d5c2df-42c4-4a0f-abef-f8acf39e7ed2.jpg)
Write 200,000 data, memory has been increasing

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No

[2022-09-26 12:23] bigsheeper opened #19454 "[Bug]: Proxy crash due to fatal error "concurrent map iteration and map write""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Proxy crashed due to fatal error "concurrent map iteration and map write":
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

full proxy log:
[proxy_crash.log](https://github.com/milvus-io/milvus/files/9646117/proxy_cr

[2022-09-26 12:23] bigsheeper commented on #19454
/assign

[2022-09-26 12:23] bigsheeper commented on #19454
/unassign @yanliang567

[2022-09-26 12:49] dixingxing0 opened #19455 "[Enhancement]: Should improve search performance on querynode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

The deleteSearchResultDataBlobs method may cause performace issue.

### Why is this needed?

We have a Collection just have 2000 rows data，1 segment (1 shard, 1 replica)，sealed and indexed，but the search latency in querynode cost more than 20ms (`querynode_sq_req_latency`).

!

[2022-09-26 13:04] #18686 closed

[2022-09-26 13:15] dzqoo opened #19456 "[Bug]: promethus operator can't get instance metrics from namesapce except from default"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I deploy monitor metrics with Prometheus under office steps，I can not get metrics from helm instance except from default namespace.
Here is my grafana display, in which when select the milvus namespace where my cluster deploied, the instance selector only can sho

[2022-09-26 13:23] bigsheeper opened #19457 "[Bug]: ThreadPool's goroutines would be purged if no search for a long period"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

ants would `Purging overdue goroutines periodically`, default ExpiryDuration is 1 second. (https://github.com/panjf2000/ants/blob/master/pool.go#L69).
So if there 's no search request or any other `Submit` op in QueryNode for 1 second, QueryNode cgoPool's goroutines w

[2022-09-26 13:24] bigsheeper commented on #19457
Maybe we should set `ExpiryDuration` to an infinite duration.

[2022-09-26 16:10] fl183 commented on #19372
Ok, but now the blocked tasks has been completed...
[code]

Now the logs of the query coord(logs like this keep outputting for a long time):
[code]
By the way, the storage usage of **pulsar** has increased a lot

[2022-09-26 19:43] siwenyang commented on #19425
Thank you for help

[2022-09-26 19:43] #19425 closed

[2022-09-27 00:56] LoveEachDay commented on #19423
The command to remove the subscription which has no consumer is:
[code]

[2022-09-27 00:57] yanliang567 commented on #19456
/assign @LoveEachDay
/unassign

[2022-09-27 00:57] LoveEachDay commented on #19423
@icodersky You need do the same operation for topic `public/default/by-dev-rootcoord-dml_11`.

[2022-09-27 01:08] yanliang567 commented on #19453
If there were heavy inserting workload at that time, I think this is expected, as long as the memory is able to get down. @tgk60w

[2022-09-27 01:11] yanliang567 commented on #19446
/assign @longjiquan
/unassign

[2022-09-27 01:19] icodersky commented on #19423
OK, I try.

[2022-09-27 01:20] yanliang567 commented on #19434
/assign @Andriy1989

[2022-09-27 01:37] dzqoo opened #19460 "[Bug]: I got less data in milvus when I insert data into milvus by 8 threads."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I insert data into milvus by 8 theads, I got less data in milvus then the actual.
I have ruled out the impact of abnormal data because the same data is worked well in 1 insert theads.
I got the error in datanode:
`14560: [2022/09/26 11:54:41.107 +00:00] [ERROR] [

[2022-09-27 01:38] dzqoo commented on #19460
[ai-diagnose-milvus-datanode-84bcf6f55f-sk6ww.log](https://github.com/milvus-io/milvus/files/9650719/ai-diagnose-milvus-datanode-84bcf6f55f-sk6ww.log)
Here is the total of of one of the 4 datanode.

[2022-09-27 01:40] yanliang567 commented on #19460
/assign @soothing-rain

[2022-09-27 01:51] longjiquan opened #19461 "[Bug]: datanode flowgraph data race"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

See below logs.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

2022-09-26T14:03:06.9727116Z WARNING: DATA RACE
2022-09-26T14:03:06.9727612Z Write at 0x00c0018f34a0 by goroutine 564:
2022-09-26T14:03:06.9727911Z   runtime.

[2022-09-27 02:09] #19461 closed

[2022-09-27 02:12] yanliang567 commented on #19407
using the scripts on [2.1.0-20220926-e5f70676]
[code]

[2022-09-27 02:12] #19407 closed

[2022-09-27 02:13] xiaofan-luan commented on #19457
/assign @bigsheeper

[2022-09-27 02:15] xiaofan-luan commented on #19455
/assign @bigsheeper
please take a look on this issue

[2022-09-27 02:18] xiaofan-luan commented on #19454
Should not even clone shards.

And all cache should the immutable(Copy on write). so no need to lock it and copy

[2022-09-27 02:27] xiaofan-luan commented on #19453
2.2 should kind of solving this issue.
@yanliang567 could we test on master branch and watch the etcd memory usage?

[2022-09-27 02:28] yah01 opened #19463 "[Bug]: Data race in DataNode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://github.com/milvus-io/milvus/actions/runs/3127138205/jobs/5073428838

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-27 02:29] xiaofan-luan commented on #19441
why there will be a invalid segment id in list?

[2022-09-27 02:33] ICLzhang commented on #19423
does milvus work ？

[2022-09-27 02:35] xiaofan-luan commented on #19434
@Andriy1989
We don't expect the case where we have so many collections but each collection only contains a few vectors.
Any reasons we want to use like this?

[2022-09-27 02:37] bigsheeper opened #19466 "[Bug]: UT TestIndexNodeComplex failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://github.com/milvus-io/milvus/actions/runs/3132416469/jobs/5084738617
related pr https://github.com/milvus-io/milvus/pull/19458

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No r

[2022-09-27 02:37] bigsheeper commented on #19466
/unassign
/assign @xiaocai2333

[2022-09-27 02:42] xiaocai2333 commented on #19466
same as #19411

[2022-09-27 02:45] xiaofan-luan commented on #19382
/assign @jaime0815

[2022-09-27 02:46] #19393 closed

[2022-09-27 02:46] xiaofan-luan commented on #19367
/assign @NicoYuan1986
could you verify on it?

[2022-09-27 02:47] czs007 opened #19467 "[Feature]: Add autoIndex feature"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

The server is configured with default index build parameters.
Different recall precisions can be specified by `level` parameter when searching.
The default value of the level parameter is 1, which means the lowest level among multiple levels.
The

[2022-09-27 02:48] soothing-rain commented on #19460
Browsing through your log there are a lot of "Resource requested is unreadable, please reduce your request rate" warnings, which suggest that there's too much pressure on your MinIO.

I'd suggest that you insert with small # of threads and expect our Bulk Load feature in Milvus 2.2

Some references:
https://aws.amazon.com/premiumsupport/knowledge-center/s3-resolve-503-slowdown-throttling/
https://

[2022-09-27 02:48] soothing-rain commented on #19460
/unassign
/assign @dzqoo

[2022-09-27 02:51] tgk60w commented on #19453
Stop writing data, only the memory occupation decreases.

[2022-09-27 02:51] icodersky commented on #19423
The milvus2.1.2 had work. Thank you very much.

[2022-09-27 02:54] yanliang567 commented on #19453
anything else keeps increasing or not decrease?

[2022-09-27 02:57] NicoYuan1986 commented on #19367
Yes!

[2022-09-27 03:04] LoveEachDay commented on #19456
@dzqoo You need first check the following two things:
1.  `servicemonitor` custom resource has been created successfully in the specified namespace other than `default`
2. if `servicemonitor` is created, check whether prometheus operator has reloaded the prometheus config and  added the scrape target. If the prometheus config doesn't changed, you'd check whether the cluster role is successfully cr

[2022-09-27 03:16] tgk60w commented on #19453
What is the new version of the launch date

[2022-09-27 03:31] #19466 closed

[2022-09-27 03:46] ICLzhang commented on #19423
Here is a question, why consumers: [ ] are empty but querynode subscriptions still exists @xiaofan-luan

[2022-09-27 05:36] Andriy1989 commented on #19434
Hello! First of all, thank you for your reply. I am preparing a search system for similar products based on their image vectors. Right now I only have a little over 1000 images, but in the future I plan to have about 100,000 image vectors (Currently each vector has an extension of 4096). Now, in order to speed up the vector search (and improve its results), I divided them into separate categories

[2022-09-27 05:36] dzqoo commented on #19456
@LoveEachDay Thank you for applying! I will check it out.

[2022-09-27 05:58] zhuwenxing commented on #19441
It was added by manual.
It is a negative test case to check the behavior when there is some segment id is not exist for loading balance. The expectation is failed for loading balance, but it works well.

[2022-09-27 06:09] zhuwenxing commented on #19446
It reproduced stable, so set it as critical.

![image](https://user-images.githubusercontent.com/12268675/192445990-ee823c56-9a19-49c6-8a35-5c2ced7207f3.png)

[code]

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test/detail/deploy_test/301/pipeline
log:
[artifacts-standalone-reinstall-301-server-logs (1).tar.gz](https://github.com/milvus-io/milvus/files/9652120/artifa

[2022-09-27 06:28] #19055 closed

[2022-09-27 06:39] jingkl commented on #18508
server-instance
fouram-cron-1664208000-7
server-configmap
server-cluster-16c64m
client-configmap
client-search-sift50m-ivf-flat-2048

master-20220926-911ea6c2
2.2.0.dev30

NAME                                                              READY   STATUS      RESTARTS        AGE     IP             NODE         NOMINATED NODE   READINESS GATES
fouram-cron-1664208000-7-etcd-0

[2022-09-27 06:42] zhuwenxing opened #19472 "[Bug]: Querynode crash after pulsar pod failure chaos test for 2.1 branch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/192450619-4ed2f541-bb4d-4435-acd6-61749f2cbbb7.png)

log in querynode
[code]

### Expected Behavior

all pod ready after chaos and all test passed

### Steps To Reproduce

_No response_

### Milvus Log

chaos

[2022-09-27 06:49] NicoYuan1986 commented on #19386
The issue has been fixed.

[2022-09-27 06:50] NicoYuan1986 commented on #19354
The issue has been fixed.

[2022-09-27 06:50] #19354 closed

[2022-09-27 06:51] NicoYuan1986 commented on #19334
The issue has been solved.

[2022-09-27 06:51] #19334 closed

[2022-09-27 06:54] zhuwenxing opened #19473 "[Bug]: [Upgrade] Insert data raise error `getSegmentID failed: SegmentIDAllocator failRemainRequest unexpected error` after upgrading from 2.1.2 to master-20220926-804c18df"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/192454112-e75290cf-ea14-458e-99cf-bcaacdf4c2d2.png)

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

deploy task: upgrade old image tag: v2.1.2 new

[2022-09-27 07:00] NicoYuan1986 commented on #18900
Recently: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/123/pipeline/155/
1. milvus: master(911ea6c)  pymilvus: 2.2.0.dev33
2. collection name: query_nnyxgs6T
3. failed time: [2022-09-26T22:10:45.408Z] [gw2] [ 51%] FAILED testcases/test_query.py::TestqueryString::test_query_string_is_primary[varchar not in ["0", "1", "2"]]
4. milvus log: [artifacts-

[2022-09-27 07:06] NicoYuan1986 commented on #18961
Latest:
The error occurs in the nightly for the master branch:https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/123/pipeline/155/
1. pymilvus: 2.2.0.dev33
2. milvus log: [artifacts-milvus-distributed-kafka-nightly-123-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/123/artifact/artifacts-milvus-distributed-

[2022-09-27 07:17] NicoYuan1986 opened #19477 "[Bug]: [Nightly][kafka]Search failed reporting 'fail to search on all shard leaders, err=fail to Search, QueryNode ID=3, reason=Search 13 failed, reason err err: rpc error: code = Canceled desc = context canceled'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search failed reporting 'fail to search on all shard leaders, err=fail to Search, QueryNode ID=3, reason=Search 13 failed, reason  err err: rpc error: code = Canceled desc = context canceled'
[code]

### Expected Behavior

PASSED

### Steps To Reproduce

[code]

### M

[2022-09-27 07:33] zhuwenxing opened #19478 "[Bug]: Datanode keep restarting during sending requests after upgrading from v2.1.2 to master-20220927-f6e7b92d"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/192458887-e2ffad4b-0c33-485a-b585-4a94b6aa4e1b.png)

[code]

[code]

### Expected Behavior

all pods can be ready after upgrading

### Steps To Reproduce

_No response_

### Milvus Log

deploy task: upgrade o

[2022-09-27 07:40] zhuwenxing commented on #19478
same for standalone
![image](https://user-images.githubusercontent.com/12268675/192463386-62ad8a57-c090-429a-891f-6ee0b7c38305.png)

failed job:https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test/detail/deploy_test/307/pipeline
log:
[artifacts-standalone-upgrade-307-server-logs (2).tar.gz](https://github.com/milvus-io/milvus/files/9652936/artifacts-standalone-upgrade-307-server-log

[2022-09-27 07:43] binbinlv commented on #19477
@jaime0815
This is the latest nightly issue occurring in kafka pipeline, could you help to have a look first? Thanks.

[2022-09-27 07:57] yanliang567 commented on #19473
/assign @soothing-rain
/unassign

[2022-09-27 07:58] yanliang567 commented on #19478
/assign @jiaoew1991
/unassign

[2022-09-27 08:06] yah01 opened #19480 "[Bug]: QueryNode unit test runtime error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://github.com/milvus-io/milvus/actions/runs/3133673945/jobs/5087313429

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-27 08:06] soothing-rain commented on #19460
BTW speaking of "less data in milvus then the actual", did you experience any failed insert operations?

[2022-09-27 08:07] #19480 closed

[2022-09-27 08:20] yah01 commented on #19441
it is possible if the segments to balance were compacted

[2022-09-27 08:35] NicoYuan1986 opened #19482 "[Bug]: [Pagination] Query pagination with invalid limit raised no exception"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Query pagination with invalid limit raised no exception.

### Expected Behavior

Return an error code with corresponding message.

### Steps To Reproduce

Run:
[code]
[code]

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-27 08:49] NicoYuan1986 commented on #19482
Same situation: Query pagination with invalid offset raised no exception.

[2022-09-27 08:53] dzqoo commented on #19460
No, everythings is well.

[2022-09-27 09:38] tgk60w commented on #19453
![image](https://user-images.githubusercontent.com/49012823/192491458-ee20e515-fd2d-460a-abed-7ea6073bc84b.png)
Registration data occupies too much memory, and it is impossible to continue writing data

[2022-09-27 09:45] tgk60w commented on #19453
现在有解决办法吗?每注册一次数据内存就涨得很高,已经没办法再向milvus 继续注册数据了

[2022-09-27 09:46] tgk60w commented on #19453
现在有解决办法吗?每注册一次数据内存就涨得很高,已经没办法再向milvus 继续注册数据了 @yanliang567

[2022-09-27 09:49] fl183 commented on #19372
I resolved this problem by release and reload collection. But a new error has occurred:
[code]

[2022-09-27 11:29] #19438 closed

[2022-09-27 11:54] #19457 closed

[2022-09-27 13:05] bingbb47 commented on #19219
[datacoordLOG.txt](https://github.com/milvus-io/milvus/files/9655976/datacoordLOG.txt)
[datanodeLOG.txt](https://github.com/milvus-io/milvus/files/9655977/datanodeLOG.txt)

sry,i haven't configured log collection, can only copy a part of ERROR log, the ERROR log only happened in datanode and datacoord；
there are too many segments that datanode can not deal;

[2022-09-27 13:06] DoliteMatheo opened #19490 "[Feature]: Update item field values"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

We are using Milvus in the production environment to store and search vectors, pymilvus SDK provides insert and delete functions but no update function.Although we can use "delete and then insert" solution to work around, we still hope to use the

[2022-09-27 13:42] wangting0128 opened #19492 "[Bug]: [benchmark][standalone][memory]Concurrent create and drop collection, the memory of Milvus Standalone continues to rise"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task: fouram-2bn8t

client yaml:
client-configmap: client-random-locust-search-filter-100m-ddl-6d
server-configmap: server-single-32c128m

client pod: fouram-2bn8t-3147776694

server:
[code]

<img width="1580" alt="截屏2022-09-27 下午9 40 27" src="https://user-images

[2022-09-27 14:32] xiaofan-luan commented on #19492
/assign @longjiquan

[2022-09-27 18:50] Andriy1989 commented on #19434
Ok, I created one collection with 150 partitions. Now the ec2 instance is running low on memory, but only one .sst file has been created in 3 hours of work.
Now another question arose.
When I do Creating index I get a message

print(fmt.format("Start Creating index IVF_FLAT"))
index = {
    "index_type": "IVF_FLAT",
    "metric_type": "L2",
    "params": {"nlist": 128},
}

base_collection.create_i

[2022-09-28 01:09] yanliang567 commented on #19434
Status(code=0, message=''), it just means creating index successfully

[2022-09-28 01:16] yanliang567 commented on #19472
/assign @jiaoew1991
/unassign

[2022-09-28 01:16] yanliang567 commented on #19463
/assign @yah01
/unassign

[2022-09-28 02:05] #19463 closed

[2022-09-28 02:06] #19432 closed

[2022-09-28 02:22] jingkl opened #19493 "[Bug]: [diskann]Milvus create diskann index, then load failed"collection sift_100m_128_l2 has not been loaded to memory or load failed"""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-tag-no-clean-9hjnk-1
server-configmap
server-single-8c32m256d-diskann
client-configmap
client-random-locust-100m-ddl-r8-w2-diskann

[code]

[code]
memory:
<img width="1381" alt="截屏2022-09-28 10 19 43" src="https://user-images.githubusercontent.c

[2022-09-28 02:27] SimFG opened #19494 "[Enhancement]: Support to modify the `context` param in the hook interceptor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Before, the `Hook` interface:
[code]

Improved:
[code]

The `Before` method will return the `context` object, and we can add some values to the context.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-09-28 02:50] XuanYang-cn commented on #19250
/unassign
/assign @NicoYuan1986
Please help verify

[2022-09-28 02:50] XuanYang-cn commented on #19338
/unassign
/assign @NicoYuan1986
Please help verify

[2022-09-28 02:50] XuanYang-cn commented on #19366
/unassign
/assign @NicoYuan1986
Please help verify

[2022-09-28 02:51] XuanYang-cn commented on #19367
/unassign
/assign @NicoYuan1986

[2022-09-28 02:55] NicoYuan1986 commented on #19385
This issue also starts to appear in pulsar and standalone.
Here is the information about error message 1 mentioned above.
1. failed cases in https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/124/ :
[code]
There are more examples in 125.
2. Take one for example: [2022-09-27T16:06:11.775Z] [gw4] [ 49%] FAILED testcases/test_search.py::TestCollectionSearch::test_search_with_hit_vec

[2022-09-28 02:56] bigsheeper commented on #19455
@dixingxing0 `purgeMemory` would be remove from `deleteSearchResultDataBlobs` in 2.1.3. So let's take a look at the performance of 2.1.3.

[2022-09-28 03:00] NicoYuan1986 commented on #19385
Here is the information about error message 2 mentioned above.
1. failed cases in https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/124/ :
[code]
There are more examples in 125.
2. milvus log: [artifacts-milvus-distributed-kafka-nightly-124-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/124/artifact/artifacts-milvus-distributed-kaf

[2022-09-28 03:02] bigsheeper commented on #19253
Hello, @dzqoo reduce spent a lots of time to `purge memory`,  and `purgeMemory` would be removed in 2.1.3.  Please have a try after 2.1.3 releasing.

[2022-09-28 03:05] yah01 opened #19496 "[Bug]: The data of released partitions may be read"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

From QueryCoordV2, The QueryNode has no idea which partitions are released, this results in the QueryNode may load growing segments of released partitions, and Query/Search would see these data.

Note: after the segments are flushed, the segment will be released, beca

[2022-09-28 03:23] yanliang567 commented on #19496
/assign @yah01
/unassign

[2022-09-28 03:28] NicoYuan1986 commented on #13045
This issue no longer occurs in master(c58a8d8).

[2022-09-28 03:28] #13045 closed

[2022-09-28 03:29] NicoYuan1986 commented on #17725
This issue no longer occurs in master(c58a8d8).

[2022-09-28 03:29] #17725 closed

[2022-09-28 03:30] NicoYuan1986 commented on #17750
This issue no longer occurs in master(c58a8d8).

[2022-09-28 03:30] #17750 closed

[2022-09-28 03:31] NicoYuan1986 commented on #18656
This issue no longer occurs in master(c58a8d8).

[2022-09-28 03:31] #18656 closed

[2022-09-28 03:31] NicoYuan1986 commented on #18806
This issue no longer occurs in master(c58a8d8).

[2022-09-28 03:31] #18806 closed

[2022-09-28 03:32] NicoYuan1986 commented on #18891
This issue no longer occurs in master(c58a8d8).

[2022-09-28 03:32] #18891 closed

[2022-09-28 03:33] NicoYuan1986 commented on #19038
This issue no longer occurs in master(c58a8d8).

[2022-09-28 03:33] #19038 closed

[2022-09-28 03:35] xiaocai2333 commented on #19058
Ensuring this via the meta migration script， jiquan is doing it.

[2022-09-28 03:35] #19058 closed

[2022-09-28 03:36] NicoYuan1986 commented on #18724
This issue no longer occurs in master(c58a8d8).

[2022-09-28 03:37] NicoYuan1986 commented on #18963
This issue no longer occurs in master(c58a8d8).

[2022-09-28 03:37] #18963 closed

[2022-09-28 03:45] NicoYuan1986 commented on #19331
Recently, the issue occurs in https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/125/pipeline/187.
1. FAILED timeline: [2022-09-28T01:37:36.184Z] [gw3] [ 99%] FAILED testcases/test_utility.py::TestUtilityAdvanced::test_load_balance_normal
2. collection name: utility_DYLjHVdM
3. milvus log: [artifacts-milvus-distributed-pulsar-nightly-125-pymilvus-e2e-log

[2022-09-28 03:46] xiaocai2333 commented on #19323
Does the error occur locally or on ci？

[2022-09-28 03:46] xiaocai2333 commented on #19323
I need more detail logs.

[2022-09-28 03:50] NicoYuan1986 commented on #19127
Recently, The issue occurs in https://jenkins.milvus.io:18080/blue/organizations/jenkins/qa%2Fmilvus-release-nightly/detail/milvus-release-nightly/127/pipeline/177.
1. milvus log: [milvus-distributed-kafka-127-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/qa/job/milvus-release-nightly/127/artifact/milvus-distributed-kafka-127-pymilvus-e2e-logs.tar.gz)
2. collection name: coll__T8vd

[2022-09-28 03:54] xiaocai2333 commented on #18979
fixed, please verify~
/unassign
/assign @soothing-rain

[2022-09-28 03:54] xiaocai2333 commented on #18874
please verify it ~
/assign @zhuwenxing

[2022-09-28 03:55] xiaocai2333 commented on #18862
/assign @jingkl

[2022-09-28 03:59] NicoYuan1986 commented on #18899
This issue no longer occurs in master(c58a8d8).

[2022-09-28 03:59] #18899 closed

[2022-09-28 06:16] binbinlv opened #19498 "[Bug]: [rate limit] Create collection is not limited when enable quotaAndLimits and ddl collection rate"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Create collection is not limited when enable quotaAndLimits and ddl collection rate
[code]

### Expected Behavior

Report error when create collection numbers more than collectionRate

### Steps To Reproduce

[code]

### Milvus Log

1. milvus yaml value:
quotaAndLimit

[2022-09-28 06:18] binbinlv commented on #19498
milvus log:
[Uploading test_rate_limit.log…]()

[2022-09-28 06:21] binbinlv commented on #19498
milvus log：
[test_rate_limit.log](https://github.com/milvus-io/milvus/files/9662036/test_rate_limit.log)

[2022-09-28 06:32] #19050 closed

[2022-09-28 06:40] zhuwenxing opened #19499 "[Bug]: [bulk load]After bulk loading with completed state, the indexed row is still 0, but expect to be entities num"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

server log:

[test-milvus-bulk-load-09-28-14-36.zip](https://github.com/milvus-io/milvus/files/9662168/test-milvus-bulk-load-09-28-14-36.zip)

client log:
[pytest-log.

[2022-09-28 06:42] icodersky opened #19500 "[Bug]:[row cound dismatched] Load collection get stuck"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Operating in the attu, load collection, still loading after 5 hours. seem load collection get stuck.

Had 9 partitions.

dimension: 2048
index: IVFSQ8
collection Entity Count: 31,411,515

![image](https://user-images.githubusercontent.com/86787724/192706652-0c825484-b

[2022-09-28 06:51] zhuwenxing opened #19502 "[Bug]: [bulk load]The performance of bulk loading is poor which needs 60+ second to bulk load and still failed for 8d 1000 row json file"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

In the earlier version, It only costs 2~3 seconds

### Steps To Reproduce

_No response_

### Milvus Log

server log:

[test-milvus-bulk-load-09-28-14-36.zip](https://github.com/milvus-io/milvus/files/9662168/test-milvus-bulk-load-09-28-

[2022-09-28 07:07] NicoYuan1986 commented on #19250
Thank you for your help！ The issue has been well solved now.

[2022-09-28 07:07] #19250 closed

[2022-09-28 07:13] NicoYuan1986 commented on #19338
Thank you for your help! The issue has been well solved now.

[2022-09-28 07:13] #19338 closed

[2022-09-28 07:13] NicoYuan1986 commented on #19346
Fixed.

[2022-09-28 07:13] #19346 closed

[2022-09-28 07:24] NicoYuan1986 commented on #19366
Fixed.

[2022-09-28 07:24] #19366 closed

[2022-09-28 07:26] zhuwenxing opened #19503 "[Bug]: Search result is empty when searching after bulk loading finished and state is completed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

After bulk loading, the collection can be searched with the right result.

### Steps To Reproduce

_No response_

### Milvus Log

server log:
[test-milvus-bulk-load-09-28-15-23.zip](https://github.com/milvus-io/milvus/files/9662499/test-

[2022-09-28 07:29] NicoYuan1986 commented on #19367
Fixed.

[2022-09-28 07:29] #19367 closed

[2022-09-28 07:32] icodersky commented on #19500
[milvus-log.zip](https://github.com/milvus-io/milvus/files/9662333/milvus-log.zip)
[milvus-log.z01.zip](https://github.com/milvus-io/milvus/files/9662354/milvus-log.z01.zip)
[milvus-log.z02.zip](https://github.com/milvus-io/milvus/files/9662413/milvus-log.z02.zip)
[milvus-log.z03.zip](https://github.com/milvus-io/milvus/files/9662475/milvus-log.z03.zip)

These are zip separate volumes.
"milvus-log

[2022-09-28 07:39] icodersky commented on #19500
By the way, before load collection, I had Changed the milvus from the previous configuration：

`helm upgrade --install --set indexNode.replicas=20 --set dataNode.replicas=20 --set proxy.replicas=9 --set queryNode.replicas=30  --set attu.enabled=true  hx-release milvus/milvus`

 to the current configuration:

`helm upgrade --install --set indexNode.replicas=5 --set dataNode.replicas=5 --set proxy.r

[2022-09-28 07:51] yanliang567 commented on #19500
/assign @jiaoew1991

[2022-09-28 07:52] yanliang567 commented on #19503
/assign @soothing-rain
/unassign

[2022-09-28 07:52] yanliang567 commented on #19502
/assign @soothing-rain
/unassign

[2022-09-28 07:53] yanliang567 commented on #19499
/assign @soothing-rain
/unassign

[2022-09-28 07:57] longjiquan commented on #19492
standalone:
![image](https://user-images.githubusercontent.com/31589260/192722059-2a247c4e-c3bd-491f-93b8-255099cd69e4.png)

cluster:
![image](https://user-images.githubusercontent.com/31589260/192722287-412311aa-01a3-4dea-8c3b-6c4a8de1003a.png)

[2022-09-28 08:05] binbinlv opened #19508 "[Bug]: [rate limit] Insert operation is force denied when inserting entities smaller than the set threshold"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Insert operation is force denied when inserting entities smaller than the set threshold

[code]

### Expected Behavior

Insert is successfully

### Steps To Reproduce

[code]

### Milvus Log
1. milvus log
[test_rate_limit_insert.log](https://github.com/milvus-io/milvu

[2022-09-28 08:05] soothing-rain commented on #19503
We don't allow collection.load() when there's no index created on the collection.

/unassign
/assign @zhuwenxing

[2022-09-28 08:09] XuanYang-cn commented on #19500
[code]

[2022-09-28 08:13] soothing-rain commented on #19499
The `GetIndexBuildProgress` interface used in pymilvus's `index_building_progress ` method is deprecated:
https://github.com/milvus-io/milvus/blob/master/internal/distributed/indexcoord/service.go#L278-L281

@SimFG Are we updating our SDK to use `DescribeIndex` instead?

/unassign
/assign @SimFG

[2022-09-28 08:14] icodersky commented on #19500
What does this mean? Is there a problem with the inserted data?

[2022-09-28 08:18] soothing-rain commented on #19502
The design is different now.

We have a loop to check if indexing states of bulk load tasks every 30 seconds, and update task state to `Complete` when eligible.

So even if indexing is done, you might still need to wait for another 0 ~ 30 seconds until the task state is updated.

[2022-09-28 08:18] soothing-rain commented on #19502
/unassign
/assign @zhuwenxing

[2022-09-28 08:28] SimFG commented on #19499
The `GetIndexBuildProgress ` interface is only marked deprecated, and it should have no effect on the current use.
@soothing-rain

[2022-09-28 08:29] icodersky commented on #19500
Some querynode restart right now.

![image](https://user-images.githubusercontent.com/86787724/192728726-0e9ae4a8-0231-4895-8f76-c8cb6cf2554b.png)

[2022-09-28 08:43] SimFG commented on #19499
@xiaocai2333 help to confirm if this is as expected. I think it maybe do with handoff refactoring.

[2022-09-28 08:57] longjiquan opened #19511 "[Bug]: indexcoord ut data race"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

2022-09-28T08:21:06.1208244Z ==================
2022-09-28T08:21:06.1208460Z WARNING: DATA RACE
2022-09-28T08:21:06.1208943Z Write at 0x00c0010b42f8 by goroutine 23:
2022-09-28T08:21:06.1209960Z   github.com/milvus-io/milvus/internal/indexcoord.TestIndexCoord.func11()

[2022-09-28 08:57] longjiquan commented on #19511
/unassign @yanliang567
/assign @SimFG

[2022-09-28 09:22] dzqoo commented on #19253
@bigsheeper
Got it! When does 2.1.3 release?

[2022-09-28 09:46] XuanYang-cn commented on #19500
Seems like a problem with the index data. The numRow of segment 436168328301772801 is 20152, and field 0 has numRow 20152, but the str indexes only contain 20139 numRows.

[2022-09-28 09:47] XuanYang-cn commented on #19500
crash stack
[code]

[2022-09-28 09:50] XuanYang-cn commented on #19500
Binlog meta is correct, looking into string index now
[code]

[2022-09-28 11:09] yanliang567 opened #19519 "[Enhancement]: Disable time travel and short growing segment lifeime"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

disable time travel to save memory and disk
shorten growing segment lifetime

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-09-28 11:09] yanliang567 commented on #19519
/assign

[2022-09-28 11:26] wangting0128 opened #19521 "[Bug]: [benchmark][standalone] [DML&DQL] Search raise error:stream operation failed: [UnexpectedError] Assert "insert_row_offset < insert_barrier" at /go/src/github.com/milvus-io/milvus/internal/core/src/segcore /Utils.h:100"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task:fouram-66fzs

client yaml:
client-configmap:client-random-locust-insert-delete-search-filter
server-configmap:server-single-8c64m

server:
[code]

client pod: fouram-66fzs-3977678900

client logs:
[code]

### Expected Behavior

_No response_

### Steps To Re

[2022-09-28 11:31] aoiasd opened #19523 "[Enhancement]:offset should not equal to barrier when search offset by pk with barrier as limit."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Bug

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-09-28 11:44] #18666 closed

[2022-09-28 11:45] congqixia commented on #19521
The cause was `search_pk` returns record that `offset <= insert_barrier` while caller checks `offset < insert_barrier`
Should be fixed by #19522

[2022-09-28 11:48] bigsheeper commented on #19253
@dzqoo It should be this week.

[2022-09-28 11:51] xige-16 opened #19525 "[Enhancement]: Move disk index build params to config"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

move build disk index params to config yaml, instead of hard code.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-09-28 11:56] wangting0128 opened #19526 "[Bug]: [benchmark][standalone] [DML&DQL] Milvus restart and RPC error：server Unavailable: Retry run out of 10 retry times"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task:fouram-ggxl2

client yaml:
client-configmap:client-random-locust-compaction-search
server-configmap:server-single-8c64m

server:
[code]

client pod: fouram-ggxl2-3375455308

client logs:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[

[2022-09-28 12:11] #19494 closed

[2022-09-28 12:37] xige-16 opened #19529 "[Enhancement]: Add make option to make disk index"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

support make disk index in this way,
[code]

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-09-28 13:07] cjh6666688888 opened #19532 "[Bug]: segment conversion failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Create a collection
2.Import data
3.Create an index to load data
4.The loading data is abnormal, the data is not loaded successfully

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

 exception log：
field (100) data has d

[2022-09-28 13:12] liliu-z opened #19534 "[Enhancement]: Support large dim >1000 in DiskANN"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

`Knowhere` 1.3.2 has already supported it.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-09-28 13:23] yanliang567 commented on #19532
@cjh6666688888 Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

/assign @cjh6666688888

[2022-09-28 15:00] jennyli-z opened #19536 "[Bug]: PR checks for codecov are not created automatically recently"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/93511422/192813600-36c67f4c-491f-47c0-9471-d3e2fe0874e0.png)
the two above does not appear recently.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Any

[2022-09-28 18:41] #18707 closed

[2022-09-28 18:41] #18709 closed

[2022-09-28 18:41] #18645 closed

[2022-09-29 00:42] #19536 closed

[2022-09-29 01:47] #18774 closed

[2022-09-29 02:21] icodersky commented on #19500
Did you find the problem now? @XuanYang-cn

[2022-09-29 02:22] xiaofan-luan commented on #19534
@liliu-z
what kind of parameters can we tune on diskANN index?

[2022-09-29 02:39] NicoYuan1986 commented on #15282
This issue no longer occurs in master(a8cabbf).

[2022-09-29 02:40] NicoYuan1986 commented on #18846
This issue no longer occurs in master(a8cabbf).

[2022-09-29 02:40] NicoYuan1986 commented on #18961
This issue no longer occurs in master(a8cabbf).

[2022-09-29 02:40] #18961 closed

[2022-09-29 02:40] NicoYuan1986 commented on #18977
This issue no longer occurs in master(a8cabbf).

[2022-09-29 02:40] #18977 closed

[2022-09-29 02:41] NicoYuan1986 commented on #19236
This issue no longer occurs in master(a8cabbf).

[2022-09-29 02:41] #19236 closed

[2022-09-29 02:47] yah01 commented on #19441
/assign @zhuwenxing
#19448 fixed it

[2022-09-29 02:57] xige-16 commented on #19493
disk ann index releated
[code]

[2022-09-29 02:57] xige-16 commented on #19493
/unassign @sunby
/unassign @jiaoew1991

[2022-09-29 03:15] congqixia commented on #19521
/unassign
@wangting0128 could you please verify?

[2022-09-29 03:15] congqixia commented on #19521
/unassign @yanliang567
/assign @wangting0128

[2022-09-29 03:21] yah01 opened #19540 "[Bug]: QueryNode may panic while applying delete messages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The QueryNode panics while applying delete messages to a segment just been compacted, it causes the error "cannot find segment"

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No respons

[2022-09-29 03:44] binbinlv opened #19542 "[Bug]: [rate limit] Only one collection could be created while the rate limit is 10 for creating collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Only one collection could be created while the rate limit is 10 for creating collection
[code]

### Expected Behavior

Create 10 collections could be successful per minute

### Steps To Reproduce

[code]

### Milvus Log

milvus config:

quotaAndLimits:
  enabled: true

[2022-09-29 03:48] wangting0128 opened #19543 "[Bug]: [benchmark][cluster] QueryNode restart and search raise error: fail to search on all shard leaders, err=fail to Search, QueryNode ID=3, reason=query node 12 is not ready"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo link:fouramf-cron-1664380800
test case: test_search_time

client log:
[test_search_time_2.zip](https://github.com/milvus-io/milvus/files/9670734/test_search_time_2.zip)

[code]

server:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

[2022-09-29 03:51] binbinlv commented on #19498
This issue has been fixed and verified in [master-20220929-3a770f7d](https://hub.docker.com/layers/milvusdb/milvus/master-20220929-3a770f7d/images/sha256-e21b8d4b6d4e87638ec5aa87f652bee3d62283658fb10d6b43fcaed88cbb2792?context=explore)

[2022-09-29 03:51] #19498 closed

[2022-09-29 04:00] zhuwenxing opened #19544 "[Bug]: [bulk load]When there is no working task, the pending tasks in queue can still not turn to started state and directly turn to failed state after timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

[test-milvus-bulk-load-09-29-11-56.zip](https://github.com/milvus-io/milvus/files/9670792/test-milvus-bulk-load-09-29-11-56.zip)

### Anything else?

release name : bulk-load

[2022-09-29 04:01] congqixia opened #19545 "[Enhancement]: Add context.Context in ChunkManager methods"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add context.Context in ChunkManager methods

### Why is this needed?

Use request ctx instead of chunkmanager life time ctx to control request lifetime.

### Anything else?

_No response_

[2022-09-29 04:02] yah01 commented on #19540
/assign

[2022-09-29 04:20] wangting0128 commented on #19521
verify：master-20220928-a8cabbfa

[2022-09-29 04:20] #19521 closed

[2022-09-29 04:55] yanliang567 commented on #19544
/assign @soothing-rain
/unassign

[2022-09-29 04:56] yanliang567 commented on #19543
/assign @congqixia
/unassign

[2022-09-29 06:13] zhagnlu opened #19548 "[Bug]: minio bucket exists bug"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

bucketexists interface throw has no access exception on cloud  environment, because of bucket exists use listbucket interface, but listbucket needs upper directory privilege.

### Expected Behavior

bucketexists has no expection

### Steps To Reproduce

_No response_

[2022-09-29 06:18] yanliang567 commented on #19548
/assign @zhagnlu
/unassign

[2022-09-29 06:33] zhuwenxing commented on #19544
I run test cases in a new release(a new Milvus cluster).
The test log is as follows, and it is as expected
[code]

but in another Milvus(The Milvus has the current issue), the test log is
[code]

[2022-09-29 06:39] longjiquan opened #19550 "[Bug]: create collection failed to assign channels"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[2022/09/28 15:48:17.935 +00:00] [INFO] [rootcoord/root_coord.go:688] ["received request to create collection"] [traceID=5ff259332f0adbef] [role=rootcoord] [name=collection_a442vBK8] [msgID=436307238041681940]
panic: runtime error: index out of range [0] with length 0

[2022-09-29 06:46] zhuwenxing commented on #19544
Datanode and datacoord pod have restarted in the abnormal Milvus.
[code]
The error log for datanode previous pod is
[code]

The error log for datacoord previous pod is
[code]

[2022-09-29 07:00] bigsheeper commented on #19532
[bw_etcd_ALL.220928-211115.bak.gz](https://github.com/milvus-io/milvus/files/9671906/bw_etcd_ALL.220928-211115.bak.gz)

[2022-09-29 07:01] bigsheeper commented on #19532
[logs.zip](https://github.com/milvus-io/milvus/files/9671917/logs.zip)

[2022-09-29 07:02] cjh6666688888 commented on #19532
[](url)

[2022-09-29 07:11] zhuwenxing opened #19553 "[Bug]: [bulk load]The error message is mess when load bulk data into a non existing partition"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When load bulk data into a non existing partition, the error message is
[code]
It is hard to tell why it failed from the error message

### Expected Behavior

The error message can be like this `err_msg = f" partition {p_name} does not exist"`

### Steps To Reproduce

[2022-09-29 07:13] yah01 opened #19554 "[Bug]: Insert/Delete may be applied to a released segment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

No any lock to guard the segmentPtr

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-29 07:14] yah01 commented on #19554
/assign @congqixia

[2022-09-29 07:14] binbinlv opened #19555 "[Bug]: [rate limit] The second search with nq which is larger than limited vps is not failed in one second"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search with nq which is larger than limited vps could be successfully twice in one second

[code]

### Expected Behavior

Search with nq which is larger than limited vps  (except the first search ) should be failed in one second

### Steps To Reproduce

[code]

### Mi

[2022-09-29 07:15] zhuwenxing commented on #19553
/unassign @yanliang567
/assign @soothing-rain

[2022-09-29 07:15] xige-16 commented on #18978
if search_list < top, the error msg will be "search_list should be greater than topk"
if search_list > topk * 10 or search_list > 65535, the error msg will be "search_list should less than min(topk*10, 65535)"

[2022-09-29 07:16] xige-16 commented on #18978
please verify @jingkl
/assign @jingkl
/unassign @xige-16

[2022-09-29 07:17] xige-16 commented on #18958
has fixed, please verify @jingkl
/assign @jingkl
/unassign @jingkl

[2022-09-29 07:18] xige-16 commented on #18958
/assign @jingkl
/unassign @xige-16

[2022-09-29 07:20] xige-16 commented on #18928
should has been fixed , please verify @jingkl
/assign @jingkl
/unassign @xige-16

[2022-09-29 07:23] xige-16 commented on #18837
build disk index for binary vector, throw the error message:
[code]

should has been fixed, please verify @jingkl
/assign @jingkl
/unassign @xige-16

[2022-09-29 07:23] jingkl opened #19556 "[Bug]: [diskann] Milvus create diskann index, But the wrong type of index is printed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

**Indexes created for diskann but printed as "flat"**

server-instance
fouram-concurrent-nqrnj-2
server-configmap
server-cluster-4c16m-diskann
client-configmap
client-acc-sift1m-diskann

[code]
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No

[2022-09-29 07:33] #18777 closed

[2022-09-29 07:33] #18454 closed

[2022-09-29 07:34] yanliang567 opened #19557 "[Bug]: proxy crashed if alter collection alias and search in mutlipe threads"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Proxy pod crashed
[prox.pre.log](https://github.com/milvus-io/milvus/files/9671878/prox.pre.log)

### Expected Behavior

search keeps success

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-29 07:35] yanliang567 commented on #19557
/assign @soothing-rain
/unassign

[2022-09-29 07:36] #19092 closed

[2022-09-29 07:39] xige-16 commented on #19057
/assign @yah01
/unassign @xige-16

[2022-09-29 07:41] xige-16 commented on #19019
investing...

[2022-09-29 07:44] xige-16 commented on #18820
may be has been fixed by after refacting of querycoord, please verify. @jingkl
/assign @jingkl

[2022-09-29 07:45] xige-16 commented on #18747
working on it

[2022-09-29 07:48] xige-16 commented on #18508
may be fixed by https://github.com/milvus-io/milvus/pull/19513

[2022-09-29 07:49] yah01 commented on #19057
/assign @ThreadDao
For now, the new QueryCoord won't check whether memory is enough to load, it will continuously try to load the collection within 10min, and report "load timeout" if failed to load after that.

[2022-09-29 07:49] xige-16 commented on #18294
may be fixed by https://github.com/milvus-io/milvus/pull/19197
please verify @jingkl
/assign @jingkl

[2022-09-29 07:54] #19550 closed

[2022-09-29 08:11] XuanYang-cn commented on #19500
@icodersky Could you use birdwatcher to get this segment's detailed meta? example as below
[code]

[2022-09-29 08:18] #19545 closed

[2022-09-29 08:58] #19265 closed

[2022-09-29 09:08] jingkl commented on #19397
server-instance
fouram-r6z57-1
server-configmap
server-single-16c64m
client-configmap
client-search-sift50m-ivf-flat-2048

master-20220929-3a770f7d
2.2.0dev32
[code]
[code]

[2022-09-29 09:08] jingkl commented on #19397
server-instance
fouram-r6z57-1
server-configmap
server-single-16c64m
client-configmap
client-search-sift50m-ivf-flat-2048

master-20220929-3a770f7d
2.2.0dev32
[code]
[code]

[2022-09-29 09:14] jingkl commented on #18294
server-instance
fouram-tag-no-clean-qfbpr-1
server-configmap
server-cluster-8c64m-kafka-redur0
client-configmap
client-random-locust-100m-ddl-r8-w2-12h
Image: 2.1.0-20220926-2753e054
<img width="1391" alt="截屏2022-09-28 12 01 37" src="https://user-images.githubusercontent.com/34296482/192992093-ebfe2387-c3fc-42f7-83d3-49b99e82d7b0.png">

[2022-09-29 09:22] jingkl commented on #18294
This still looks like more memory use than the first @xige-16

[2022-09-29 09:24] 12304212 opened #19558 "[Bug]: drop collection and full insert，disk space cost double"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

drop collection  and full insert，disk space cost double，and Never delete

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-29 09:24] congqixia opened #19559 "[Bug]: insert/delete/search is not safe with handoff release"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

insert/delete/search is not safe with handoff release

### Expected Behavior

Segment shall be safe to search with handoff release

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

Related to #19543

[2022-09-29 09:27] jingkl commented on #18508
server-instance
fouram-r6z57-1
server-configmap
server-single-16c64m
client-configmap
client-search-sift50m-ivf-flat-2048、

master-20220929-3a770f7d
2.2.0dev32
[code]

[code]

[2022-09-29 09:27] jingkl commented on #18508
This hasn't been fixed yet @xige-16

[2022-09-29 09:31] jingkl commented on #18820
This issue is the same as issue #18508, close it first and continue to focus on it in #18508

[2022-09-29 09:31] #18820 closed

[2022-09-29 09:39] jaime0815 commented on #19526
Service unavailable state on the client side that is from Milvus restarting, the following is panic log:

[code]

[2022-09-29 10:02] #19540 closed

[2022-09-29 10:12] wayblink opened #19562 "[Enhancement]: Initiatively release session in etcd when service close"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Release etcd session Initiatively in stead of waiting for lease retired.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-09-29 10:12] wayblink commented on #19562
/assign

[2022-09-29 10:19] icodersky commented on #19500
Can't build the birdwatcher.

![image](https://user-images.githubusercontent.com/86787724/193006189-c82ddd03-6cb5-491a-9cd3-ca3acdce5aeb.png)

[2022-09-29 10:22] icodersky commented on #19500
`go install github.com/milvus-io/birdwatcher`

go install also the same timeout.

[2022-09-29 10:54] zhuwenxing opened #19563 "[Bug]: There will be more than one task that state is started when bulk load when there is only one datanode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![HjsHFhCb8D](https://user-images.githubusercontent.com/12268675/193011522-9b11c370-b5ad-41ba-b0ea-16bb3ee0571f.jpg)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

[test-milvus-bulk-load-09-29-17-45 .zip](https://github.c

[2022-09-29 10:57] zhuwenxing commented on #19563
/assign @soothing-rain
/unassign @yanliang567

[2022-09-29 12:00] jaime0815 opened #19565 "[Bug]: Parse segment id failed from delta log key during datacoord gc"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-29 12:02] jingkl opened #19567 "[Bug]: [benchmark]Milvus load failed, raise an error"collection fouram_IVTfYjQ3 has not been loaded to memory or load failed""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

milvus-image-repository
harbor.milvus.io/milvus/milvus
deploy_tool
helm
release_name_prefix
fouramf-cron-1664380800
deploy_config
empty-file
case_params
empty-file
other_params
 --milvus_tag_prefix=master -s --tag_repository="harbor.milvus.io/dockerhub/milvusdb/milvus

[2022-09-29 13:10] jingkl commented on #19355
master-20220929-64662919
2.2.0.dev32

server-instance
fouram-flvlb-1
server-configmap
server-cluster-8c16m
client-configmap
client-acc-glove-ivf-flat

[code]

[code]

[2022-09-29 13:10] jingkl commented on #19355
This problem has still not been fixed @sunby

[2022-09-29 13:54] #19556 closed

[2022-09-29 13:54] #19559 closed

[2022-09-29 14:14] vman-posh opened #19571 "[Bug]: IndexBuildTask retry forever if embedding contains Inf/Nan value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After inserting the embedding containing Inf or NaN value, the Index Node throws `leakage` error and fails to build index. The error is possibly from the underlying FAISS package.

[code]

### Error log from Faiss package (Index Node)
[code]

### Error log from Proxy

[2022-09-29 14:38] jingkl commented on #18862
master-20220929-64662919
pymilvus.2.2.0dev36

**This has been verified and the following is the output error statement**
[code]

[2022-09-29 14:38] #18862 closed

[2022-09-29 14:42] jingkl commented on #18837
**This has been verified and the following is the output error statement**
master-20220929-64662919
pymilvus.2.2.0dev36

[code]

[2022-09-29 14:42] #18837 closed

[2022-09-29 14:47] jingkl commented on #18928
This question has been verified
master-20220929-64662919
pymilvus.2.2.0dev36

[2022-09-29 14:47] #18928 closed

[2022-09-29 14:55] jingkl commented on #18958
This question has been verified
master-20220929-64662919
pymilvus.2.2.0dev36

[2022-09-29 14:55] #18958 closed

[2022-09-29 15:03] jingkl commented on #18978
search_list<topk will still have some cases that will pass

[code]
<img width="1103" alt="截屏2022-09-29 23 02 31" src="https://user-images.githubusercontent.com/34296482/193067758-1c9ecba8-c32d-4a69-9e24-ce78082ea462.png">

[2022-09-29 15:03] jingkl commented on #18978
Please verify @xige-16
/unassign @jingkl
master-20220929-64662919
pymilvus.2.2.0dev36

[2022-09-29 16:05] jingkl opened #19572 "[Enhancement]: Add the Diskann testcase"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add test case for indexing by diskann
Add test case for diskann search/query
Add test case for diskann delete/compaction

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-09-29 19:47] devennavani opened #19574 "[Bug]: Size of `rdb_data` folder keeps increasing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The size of the `rdb_data` folder keeps increasing, despite the following `rocksmq` configuration:

[code]

It ultimately hits 50GB, the size of the PVC for the standalone pod, and causes the standalone pod go into CrashLoopBackoff.

### Expected Behavior

Given the `

[2022-09-29 20:22] #18785 closed

[2022-09-30 00:01] icodersky commented on #19500
[bw_etcd_ALL.220930-004115.bak.gz](https://github.com/milvus-io/milvus/files/9679691/bw_etcd_ALL.220930-004115.bak.gz)

[2022-09-30 00:35] yanliang567 commented on #19574
/assign @LoveEachDay
/unassign

[2022-09-30 00:39] yanliang567 commented on #19565
/assign @jaime0815
/unassign

[2022-09-30 00:43] yanliang567 commented on #19571
/assign @XuanYang-cn
/unassign

[2022-09-30 01:00] 12304212 commented on #19558
but recent two months disk data  don't clear.  the disk space cost  60X

[2022-09-30 01:03] jingkl commented on #19399
server-instance
fouram-qh54c-1
server-configmap
server-single-16c64m
client-configmap
client-search-sift50m-ivf-flat-2048
master-20220929-64662919
2.2.0.dev32

`This scenario now has a search timeout and hung, so I don't think it's fixed`

[code]

[code]

[2022-09-30 01:05] 12304212 commented on #19558
![image](https://user-images.githubusercontent.com/103092492/193168111-1c7c4bd6-8a7f-4cf7-b23f-6b935bfb3c47.png)
![image](https://user-images.githubusercontent.com/103092492/193168156-24fb8f04-844e-4c53-b4e1-5c0e637915f9.png)

[2022-09-30 01:08] jingkl commented on #19319
server-instance
fouram-xwwjv-1
server-configmap
server-single-8c16m
client-configmap
client-insert-bp-batch

milvus：master-20220929-64662919
pymilvus ：2.2.0dev32

**This problem should be occasional and was verified yesterday that there was no problem with the change**

[2022-09-30 01:08] #19319 closed

[2022-09-30 01:09] yanliang567 commented on #19558
sounds like a known issue about rockdb, which are are trying to fix.
/assign @xiaofan-luan
/unassign @12304212

[2022-09-30 01:22] LoveEachDay commented on #19574
@devennavani This is known issue. We have problems for confirming the messages are consumed which won't trigger retention for rocksmq. So it's no use to decrease the `rocksmq. retentionTimeInMinutes`.

Our developer is investigating this issue and the fix will coming soon.

If all the vector data are searchable, you may delete the directory `rdb_data` and `rdb_data_meta_kv`, and restart milvus sta

[2022-09-30 02:21] NicoYuan1986 commented on #18846
The issue unexpectedly happened again yesterday.
https://jenkins.milvus.io:18080/blue/organizations/jenkins/qa%2Fmilvus-release-nightly/detail/milvus-release-nightly/131/pipeline/212/
1. milvus: 2.1.*(21c49773)  pymilvus: 2.1.3.dev1
2. failed timeline: [2022-09-29T20:29:12.107Z] [gw4] [ 38%] FAILED testcases/test_search.py::TestCollectionSearchInvalid::test_search_invalid_params_type[IVF_SQ8-param

[2022-09-30 02:23] #19332 closed

[2022-09-30 02:29] NicoYuan1986 commented on #18724
The issue unexpectedly happened again yesterday.
https://jenkins.milvus.io:18080/blue/organizations/jenkins/qa%2Fmilvus-release-nightly/detail/milvus-release-nightly/131/pipeline/177

milvus version: 2.1.*(21c4977)
pymilvus version: 2.1.3.dev1

1. milvus log: [milvus-distributed-kafka-131-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/qa/job/milvus-release-nightly/131/artifact/milvu

[2022-09-30 03:01] zhuwenxing opened #19579 "[Bug]: Search failed with error `Search 17 failed, reason [UnexpectedError] Assert "System Field RowID or Timestamp is not loaded" at /go/src/github.com/milvus-io/milvus/internal/core/src/segcore/SegmentSealedImpl.cpp:396` after etcd pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/193178445-e836a718-aaa0-4297-98ea-93ebfab585e8.png)

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

chaos type: pod-kill image tag: master-2022092

[2022-09-30 03:50] icodersky commented on #19423
When I upgrade the milvus's version to 2.1.4, rootcoord cannot be started. After I clear-backlog like above, it can be running. But, querycoord has been unable to start right now. @LoveEachDay

![image](https://user-images.githubusercontent.com/86787724/193185151-be0cd642-1ca3-4da4-b883-2f177b2184db.png)

[milvus-log.tar.gz](https://github.com/milvus-io/milvus/files/9680543/milvus-log.tar.gz)

[2022-09-30 03:54] haorenfsa opened #19581 "[Bug]: RESTful API not support insert varchar"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

refer to this thread for detail:
https://milvusio.slack.com/archives/CMNHUC371/p1664461062966579

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-30 05:40] #18803 closed

[2022-09-30 05:40] #18780 closed

[2022-09-30 05:40] #18798 closed

[2022-09-30 06:42] wayblink opened #19584 "[Enhancement]: Refactor GetComponentStates to support coordinators active-standby state"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Need an interface to detect a coordinator's state(active or standby, healthy or abnormal). I found GetComponentStates is proper to do it but needs refactoring.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-09-30 06:43] wayblink commented on #19584
/assign

[2022-09-30 07:06] 15820415264 opened #19586 "[Bug]: milvus-querycoord && milvus-proxy pod has crashed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. we have two collections，one have 100 million datas and other one have 31 million datas.
2. The vector dimension of data is 256.
3. we use java sdk to write and query data for test ,and it works well
4. But after sometimes，when we use the milvus client 'ATTU' to see

[2022-09-30 07:09] bigsheeper opened #19587 "[Bug]: Memory leak of flow graphs in DataNode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After collection dropped, flow graph in datanode would never be released.

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-09-30 07:10] bigsheeper commented on #19587
/unassign @yanliang567
/assign

[2022-09-30 07:17] congqixia commented on #19372
@fl183 from the message we could not determine what was the problem. Could you please provide the complete log and dump the etcd info with [birdwatcher](https://github.com/milvus-io/birdwatcher) ?

[2022-09-30 07:23] wangting0128 commented on #19543
argo link:fouramf-cron-1664467200

test case: test_search_time
log:
[test_search_time_2.zip](https://github.com/milvus-io/milvus/files/9681740/test_search_time_2.zip)

[2022-09-30 07:38] bigsheeper commented on #19587
RootCoord sent `CreateCollectionMsg` and `DropCollectionMsg` to DML msgstream very fast.  Message ids of `CreateCollectionMsg` and `DropCollectionMsg` are both 0.

![image](https://user-images.githubusercontent.com/42060877/193217326-13619a3b-550a-4eb5-93e2-5cb6023d1560.png)

When DataNode seeked from seekPosition, `DropCollectionMsg` was purged because it's message id is duplicated with `CreateCo

[2022-09-30 07:39] bigsheeper commented on #19587
Maybe related to #19492

[2022-09-30 07:40] soothing-rain commented on #19563
Should be fixed by https://github.com/milvus-io/milvus/pull/19561

[2022-09-30 07:47] bigsheeper commented on #19508
Flowgraph's timeTick in DataNode never update, caused a long timeTick delay issue in QuotaCenter. So QuotaCenter forced to deny writing:

![image](https://user-images.githubusercontent.com/42060877/193218397-ef857454-8c92-4e3d-8798-b03d1dfa72e3.png)

DataNode flowgraph didn't release after dropped, related: https://github.com/milvus-io/milvus/issues/19587

[2022-09-30 07:52] bigsheeper commented on #19587
solutions:
1. assign message id to all DDL msg when RootCoord produce;
2. add 0 msgID check: `if msg.ID() !=0 && idset.Contain(msg.ID())`;
3. remove duplicated check in msgstream;

@xiaofan-luan @congqixia any suggestions?

[2022-09-30 07:55] congqixia commented on #19587
@bigsheeper maybe msgID dedup shall only apply to dml messages?

[2022-09-30 08:11] #19523 closed

[2022-09-30 08:18] weiliu1031 commented on #19586
can you offer a etcd backup with birdwather? https://github.com/milvus-io/birdwatcher
/assign @15820415264

[2022-09-30 08:41] LoveEachDay commented on #19015
@yuliu-eric  We've refined the readme for `export-log`, check it out at: `https://github.com/milvus-io/milvus/tree/master/deployments/export-log`

[2022-09-30 08:41] #19015 closed

[2022-09-30 08:46] #18972 closed

[2022-09-30 08:49] longjiquan commented on #19446
[code]

[2022-09-30 08:51] bigsheeper commented on #19253
@dzqoo Hi, the v2.1.4 has been released. :)

[2022-09-30 09:19] bigsheeper commented on #19532
/assign
/unassign @cjh6666688888

[2022-09-30 09:24] bigsheeper commented on #19532
QueryNode loaded indexed vector field successfully while loaded scarlar field failed:
[code]

*has different row count (7551) than other column's row count (23596)*,  so the **23596** rows should belongs to the indexed vector field.

[2022-09-30 09:37] bigsheeper commented on #19532
I did the same operations in my local machine, and load success.
The indexCoord shows the index file size is **1045979**:
[code]

However, the user's log shows that the index file size is **3291475**:
[code]

*3291475 / 1045979 ≈ 3.1*
*23596 / 7551 ≈ 3.1*
So I guess maybe the index files were saved for multiple times or index built sevaral times or any other reason? @xiaocai2333

[2022-09-30 09:54] bigsheeper commented on #19508
should be fix，please verify @binbinlv

[2022-09-30 09:54] bigsheeper commented on #19508
/assign @binbinlv
/unassign

[2022-09-30 10:00] icodersky commented on #19423
@LoveEachDay Have you found any problems?

[2022-09-30 10:04] zhuwenxing commented on #19446
This issue can be reproduced in `master-20220926-804c18df` before reinstallation, but not in the current master-latest like `master-20220930-1919353f`.

Even though, after reinstallation, this issue can still be reproduced in master latest, like `master-20220930-1919353f`

[2022-09-30 10:10] zhuwenxing commented on #19446
master-20220930-1919353f
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test/detail/deploy_test/322/pipeline/299/

log:

[artifacts-standalone-reinstall-322-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9683158/artifacts-standalone-reinstall-322-server-logs.tar.gz)
[artifacts-standalone-reinstall-322-pytest-logs.tar.gz](https://github.com/milvus-io/milvu

[2022-09-30 10:22] longjiquan commented on #19233
![image](https://user-images.githubusercontent.com/31589260/193249754-ed94acc2-b7bc-4d47-941c-0c7141a5aa84.png)

![image](https://user-images.githubusercontent.com/31589260/193249856-28c12fb2-da9d-4881-ac24-50e10baf794a.png)

[2022-09-30 10:23] longjiquan commented on #19233
`ReleaseCollection` wait until all segments released, and the time of this process exceeds `30s`.

[2022-09-30 10:23] longjiquan commented on #19233
finding why...

[2022-09-30 10:32] AlexeyIvanov8 opened #19596 "[Bug]: Milvus crashes during multi-threaded write with long partition names"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When records are inserted in multiple threads into partitions with long names that created as needed, an error occurs:
<details>
<summary>error</summary>
`
milvus_1  | [2022/09/30 07:58:17.378 +00:00] [ERROR] [proxy/channels_mgr.go:103] ["failed to describe collection

[2022-09-30 10:48] #19581 closed

[2022-09-30 12:11] longjiquan opened #19598 "[Enhancement]: releasing collection should be asynchronous, removing collection from target is enough"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I want to make releasing collection asynchronous, for below reasons:
- Like gc of data/index, you cannot release resource partially and then tell the users that the operation (here is releasing collection) is failed, users will think the collection is still loaded but actually

[2022-09-30 12:12] longjiquan commented on #19598
this enhancement may fix #19233

[2022-09-30 12:55] #18811 closed

[2022-09-30 12:58] longjiquan commented on #19598
Also, it seems that atomicity issues exist in releasing collection.

https://github.com/milvus-io/milvus/blob/e6c7286bee2a4f5ee675890bc5094b1fccfe312d/internal/querycoordv2/job/job.go#L265-L280

We cannot make sure that replica of this collection will be removed.

[2022-09-30 17:07] devennavani commented on #19574
@LoveEachDay Thanks for the response!

Is this only an issue with using rocksmq, or is it also an issue with using Pulsar and Kafka (in Milvus standalone).

[2022-09-30 20:50] yah01 opened #19601 "[Bug]: Binlog parser test panic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://github.com/milvus-io/milvus/actions/runs/3158526001/jobs/5140653273

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-10-01 00:46] xiaofan-luan commented on #19601
/assign @yhmo

[2022-10-01 00:48] xiaofan-luan commented on #19587
we should actually remove all messageID logic.
What about use timestamp for dedeuplication? @bigsheeper @congqixia

[2022-10-01 00:54] xiaofan-luan commented on #19596
So far milvus only support at most 4096 partitions.
And you will generate number of shards * number of partition segments, which will have great memory pressure to the system.

Questions:
What is the scenario you want to create 20 shards? usually we would say 2-4 will be well enough.
when you use partitions, are you looking for searching less data or what? we are trying to improve current behaviou

[2022-10-01 00:56] xiaofan-luan commented on #19574
/assign @aoiasd
I thought aoiasd is working on the fix~

[2022-10-01 00:56] #19565 closed

[2022-10-01 00:58] xiaofan-luan commented on #19558
This is a known issue of rocksmq and we are working on a fix.
So far the easiest fix would be doing a flush and remove the sst directory

[2022-10-01 00:59] xiaofan-luan commented on #19555
@binbinlv
might not be what we are expecting.
The feedback loop is async, so until the feedback happens search could always succeed.
But during the next period it will fail

[2022-10-01 01:11] xiaofan-luan opened #19602 "[Enhancement]: All monitoring metrics need to be refined"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Currently,  we specified DML, DQL, DDL latency but it's not correctly followed.

Need to refine on it

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-10-01 01:17] #18548 closed

[2022-10-01 01:18] xiaofan-luan commented on #18548
duplicated and should be fixed by 2.1.2

[2022-10-01 01:19] yanliang567 commented on #19596
/assign @AlexeyIvanov8

[2022-10-01 01:25] xiaofan-luan commented on #18665
We have some refactor on 2.2, and it should be able to fix most of the balance issues

[2022-10-01 01:26] #18872 closed

[2022-10-01 01:29] xiaofan-luan commented on #18294
@jingkl is there a analysis about current memory usage?
Like what is the data size and memory expected

[2022-10-01 01:31] xiaofan-luan opened #19603 "[Enhancement]: Segment reference lock should be removed at index"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Since currently we only compact segment with index, and garbage collection is only happened on segment whose daughter segment is indexed. I think the old segment reference lock mechanism is no longer a mush.
What do you guys think? @xiaocai2333 @czs007

### Why is this needed?

[2022-10-01 01:36] xiaofan-luan opened #19604 "[Feature]: Refactor all allocator related staff"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

I want to change all messageID allocator related staff:
1) it is not necessary to allocate msgID and timestamp separately.
2) remove the usage of msgID. Everything should simply based on message ts.
3) refactor id allocator logic to make more read

[2022-10-01 03:44] xiaofan-luan commented on #19604
see also #19587

[2022-10-01 15:51] xiaofan-luan commented on #19571
/assign @cydrain
pls help on it~

[2022-10-01 21:53] #18819 closed

[2022-10-02 09:08] #18654 closed

[2022-10-02 13:17] cjh6666688888 opened #19606 "The collection query is not responding"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The collection query is not responding，For details, see logs.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

The collection query is not responding，For details, see logs.

### Anything else?

_No response_

[2022-10-02 13:18] cjh6666688888 commented on #19606
[bw_etcd_ALL.221002-211104.bak.gz](https://github.com/milvus-io/milvus/files/9692646/bw_etcd_ALL.221002-211104.bak.gz)

[2022-10-02 14:31] erezweissgloat commented on #19379
@yanliang567  @LoveEachDay Thanks, sloved

BTW, what's the way to pass:
kafka:
   saslPassword: ****

as a env var? what is the format of the env var?

[2022-10-02 18:05] bigsheeper commented on #19606
seems not built index? @cjh6666688888

![image](https://user-images.githubusercontent.com/42060877/193469054-b9d73905-7e46-438a-8b6d-c12af036dcb0.png)

[2022-10-03 06:31] yhmo commented on #18220
User still encounter this error: https://app.slack.com/client/TM98LD8DQ/search/search-eyJkIjoiTm9TdWNoS2V5IiwicSI6IlVOS0xQUFo0NiIsInIiOiJOb1N1Y2hLZXkifQ==/thread/CMNHUC371-1664392361.355889?cdn_fallback=2

[2022-10-03 06:51] Roger-Z opened #19610 "[Bug]: fail to load segment, error: NoSuchKey"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

querynode pod was crashed and recreated automatically, but fail to load some index segment, error as below:
[querynode/segment_loader.go:175] ["load segment failed when load data into memory"] [collectionID=436324908334317569] [partitionID=436324908334317570] [segment

[2022-10-03 09:50] AlexeyIvanov8 commented on #19596
@xiaofan-luan

Use case is splitting data into time intervals to limit the data set to be searched. For example splitting data by hours.

I also retested with one shard and got the same error even though `30*50=1500` is less than the limit of 4096. But if I reduce the length of the partition name (for example `'part_' + str(random.randint(0, 4096))`) and run insert 1500 records in the same stream,

[2022-10-03 12:29] erezweissgloat commented on #19379
/assign @LoveEachDay
Can you please assist me with this question?
Thank you so much!

[2022-10-03 23:22] jiaoew1991 commented on #19610
quite the same with https://github.com/milvus-io/milvus/issues/18220

[2022-10-04 02:27] #18765 closed

[2022-10-04 02:27] #18638 closed

[2022-10-04 16:01] Uzay-G commented on #19235
Here is the end of the huge log I got:

[endoflog.txt](https://github.com/milvus-io/milvus/files/9708652/endoflog.txt)

Here is my docker-compose file:

[code]

[2022-10-04 21:06] #18560 closed

[2022-10-05 07:02] Roger-Z commented on #18220
@lvmnn we encounter the same issue in v2.0.2, and after upgrade to 2.1.4, the issue still exists. Would you please let me know what you have done to fix this problem?

[2022-10-05 10:31] TaQuangTu opened #19612 "[Bug]: Milvus does not aware of query nodes death"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When a query node get down, search function does not route search requests to other query nodes, all later search requests fail.

### Expected Behavior

When a query node fail, later search requests should be routed to other query nodes.

### Steps To Reproduce

1. De

[2022-10-05 11:11] czs007 commented on #19612
@TaQuangTu  I'm working on it. Later, I'll provide a tool, and need your help to troubleshoot the problem together.

[2022-10-05 11:14] TaQuangTu commented on #19612
It's ok @czs007. Thank you and Milvus's contributors.

[2022-10-05 11:42] czs007 commented on #19612
@TaQuangTu Please familiarize yourself with the installation and use of this tool  https://github.com/milvus-io/birdwatcher first.
I am writing a document explaining the meaning of meta information.
After you know how to use this birdwatcher, if possible, use the backup command to backup the meta information into a gz file, so that I can analyze it together. You can send it to my email zhenshan.ca

[2022-10-05 14:58] AlexeyIvanov8 commented on #19596
/assign @xiaofan-luan

[2022-10-05 19:52] #18873 closed

[2022-10-05 19:52] #18514 closed

[2022-10-05 19:52] #18452 closed

[2022-10-06 00:42] siwenyang opened #19615 "[Bug]: search timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I do search, got error:

File "/home/siwen/.conda/envs/aencoder2/lib/python3.6/site-packages/pymilvus/decorators.py"
line 64, in handler
raise MilvusUnavaliableException(Status.UNEXPECTED ERROR, f"server unavaliable: pvmilvus.exceptions.MilvusUnavaliableException

[2022-10-06 02:32] jaime0815 commented on #19615
@siwenyang , could you please provide all the log files?

[2022-10-06 03:06] siwenyang commented on #19615
could you let me know which one you need? thank you

[2022-10-06 03:13] siwenyang commented on #19615
Please let me know what else logs you need. Thank you for help.

[my-release-milvus-querycoord-8494bbf496-q75qr.log](https://github.com/milvus-io/milvus/files/9720842/my-release-milvus-querycoord-8494bbf496-q75qr.log)
[my-release-milvus-datacoord-778c7fc4fd-bf9n8.log](https://github.com/milvus-io/milvus/files/9720843/my-release-milvus-datacoord-778c7fc4fd-bf9n8.log)
[my-release-milvus-rootcoord-7d

[2022-10-06 03:33] jaime0815 commented on #19615
all logs include querynode datanode and indexnode indexcoord log files @siwenyang

[2022-10-06 03:37] jaime0815 commented on #19615
you can refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export all logs?

[2022-10-06 04:09] siwenyang commented on #19615
Here are all scripts, Thank you for help:
[my-release-milvus-indexcoord-6bdff5dd4c-sq85v.log](https://github.com/milvus-io/milvus/files/9721088/my-release-milvus-indexcoord-6bdff5dd4c-sq85v.log)
[my-release-milvus-indexnode-7c89978c48-5rwxg.log](https://github.com/milvus-io/milvus/files/9721089/my-release-milvus-indexnode-7c89978c48-5rwxg.log)
[my-release-milvus-datanode-664fcb84cd-gpvf7.log](http

[2022-10-06 06:46] #17285 closed

[2022-10-06 06:56] #18877 closed

[2022-10-06 09:06] vman-posh opened #19616 "[Bug]: Pymilvus index_building_progress() Returns Indexed Row Count as 0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After building the index for 100 million vectors, `utility.index_building_progress(collection_name, index_name)` returns indexed row count as `0`. Checked the logs of Index Node to confirm that index building process was complete. Able to reproduce the behaviour with

[2022-10-06 19:51] #18842 closed

[2022-10-06 19:51] #18903 closed

[2022-10-06 19:51] #18904 closed

[2022-10-07 03:01] TaQuangTu commented on #19612
Sorry @czs007 for my late back. This log was captured in following test case:
I tried to reproduce this test ([official Milvus 2 load test guide](https://milvus.io/blog/2022-08-16-A-Quick-Guide-to-Benchmarking-Milvus-2-1.md))
When I conducted search request to the collection, after a while, one of my query node fail --> all incoming search requests fail.
--> Then I captured meta information with t

[2022-10-07 05:56] SimFG commented on #19616
You need check whether the `index_name` is correct. Using: `utility.index_building_progress("listing_collection_extra","embedding_index")`

[2022-10-07 06:16] vman-posh commented on #19616
Yes, the index name is correct.

Created index using -
`listing_collection.create_index('embedding', listing_index, index_name="embedding_index")`

I could list the index using
`listing_collection.indexes[0].index_name`
O/P: `embedding_index`

[2022-10-07 06:43] SimFG commented on #19616
Check whether the index has been build completely, using: `utility.wait_for_index_building_complete("listing_collection_extra", index_name="embedding_index")`. When the function has executed over, retry the `index_building_progress ` method.

[2022-10-07 10:03] vman-posh commented on #19616
When I ran `utility.wait_for_index_building_complete("listing_collection_extra", index_name="embedding_index")`, it returned `True`.
After that I tried `index_building_progress` method and it still returns `{'total_rows': 103295340, 'indexed_rows': 0}`

[2022-10-07 12:23] SimFG commented on #19616
Can you provide the milvus server log? I will check it.

[2022-10-07 12:52] JohannesMessner opened #19617 "[Bug]: Malformed expression causes seg fault on delete operation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Passing a non-valid `expr` to `collection.delete()` causes a seg fault in `milvusdb`, taking down the DB.

### Expected Behavior

I think the non-valid expression should either be refused outright, or fail more gracefully.

### Steps To Reproduce

[code]

### Milvus L

[2022-10-07 17:15] heph commented on #19574
Hate to be a pest, but @aoiasd could you confirm this issue has been correctly assigned, and if so what is its priority? The current workaround is fairly disruptive in production to the point we're considering Kafka, and I'd really hate to have to bring zookeeper into our stack 😆

[2022-10-07 21:04] #18455 closed

[2022-10-07 21:04] #18941 closed

[2022-10-07 21:04] #18188 closed

[2022-10-07 21:04] #18174 closed

[2022-10-07 21:04] #18424 closed

[2022-10-08 00:55] yanliang567 commented on #19617
/assign @soothing-rain
/unassign

[2022-10-08 00:56] yanliang567 commented on #19617
@binbinlv I think we should had this scenario in ci test, please confirm

[2022-10-08 01:00] yanliang567 commented on #19616
/assign @SimFG

@vman-posh could you please double check the pymilvus version? or please retry with latest milvus 2.1.4 and pymilvus 2.1.3 if convenient.

[2022-10-08 01:02] yanliang567 commented on #18764
keep it active

[2022-10-08 01:07] yanliang567 commented on #18622
@hukang6677 any updates for suggested above?

[2022-10-08 01:08] yanliang567 commented on #16451
@bgleadle @soothing-rain any updates?

[2022-10-08 01:14] yanliang567 commented on #19615
/assign @jaime0815
/unassign

[2022-10-08 01:17] yanliang567 commented on #18988
@hukang6677 about the attu display issue, I believe it was fixed in Attu. please retry with latest build.

[2022-10-08 01:21] yanliang567 commented on #19612
/assign @czs007
/unassign

[2022-10-08 01:23] yanliang567 commented on #19235
@LoveEachDay
could you please take a look?

/assign @LoveEachDay
/unassign

[2022-10-08 01:24] yanliang567 commented on #19610
/assign @yah01
/unassign

[2022-10-08 01:29] yanliang567 commented on #19606
/assign @bigsheeper
/unassign

[2022-10-08 01:30] #18489 closed

[2022-10-08 01:31] yanliang567 commented on #19571
/assign @binbinlv please check if we have tests for this scenarios

[2022-10-08 01:36] LoveEachDay commented on #19235
@Uzay-G By default `docker-compose` will persist the data into the current directory (under the subdirectory named `volumes`) where the `docker-compose.yaml` reside in. Could you verify whether this `volumes` directory exists?

[2022-10-08 02:07] aoiasd commented on #19574
sry, we had a week's holiday because of the festival, and now it is over. I will work for this immediately.

[2022-10-08 02:20] Sivannnnnn commented on #18764
@yanliang567

The release log of Milvus V2.1.4 mentions a reduction in the amount of memory used for scalar data. I haven't had a chance to verify this yet. Why keep it active?

[2022-10-08 02:25] yanliang567 commented on #18764
I'd like to keep it active until your verification, or it would be automatically stale and closed after 30 days

[2022-10-08 02:26] Sivannnnnn commented on #18764
All right, I'll check it out and make sure it's off

[2022-10-08 02:28] bigsheeper commented on #19587
That would be better.

[2022-10-08 02:41] zhuwenxing opened #19618 "[Bug]: Search raise error `ShardCluster for by-dev-rootcoord-dml_15_436516350788832695v1 replicaID 436516351573229577` after querynode pod failure chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/194683859-d35d3089-bdd2-4ed2-9358-8cea6f37bab1.png)

collection name: Checker__5CQehls5

search failed with error `ShardCluster for by-dev-rootcoord-dml_15_436516350788832695v1 replicaID 436516351573229577 is

[2022-10-08 02:46] zhuwenxing commented on #19579
This issue also happened for datanode pod kill chaos test

chaos type: pod-kill image tag: master-20221006-e1124765 target pod: datanode
[code]

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/1948/pipeline
log:
[artifacts-datanode-pod-kill-1948-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9738274/artifacts-datanode-pod-kill-1948-se

[2022-10-08 02:51] bigsheeper commented on #19555
Not very accurate. Only `backpressure` would be a feedback, and max rate would be limited any time. I think @binbinlv wants to test if the max rate is work.

[2022-10-08 02:53] NicoYuan1986 commented on #18846
Recently: https://jenkins.milvus.io:18080/blue/organizations/jenkins/qa%2Fmilvus-release-nightly/detail/milvus-release-nightly/146/pipeline/142

1. milvus: 2.1.*(706b8e98) pymilvus: 2.1.3.dev1
2. failed timeline: [2022-10-06T23:28:02.917Z] [gw0] [ 47%] FAILED testcases/test_search.py::TestCollectionSearch::test_search_after_different_index_with_params[128-False-True-RHNSW_SQ-params8]
3. collection

[2022-10-08 02:53] bigsheeper commented on #19555
@binbinlv You got the wrong nq. The `nb = 1`,  so even you set the search vector to `vectors[:nq]` and `nq=20`, the real nq is still 1.

[2022-10-08 02:54] bigsheeper commented on #19555
/unassign
/assign @binbinlv

[2022-10-08 02:57] zhuwenxing opened #19619 "[Bug]: Standalone panic during test after standalone pod kill or pod failure chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Almost test cases failed due to connection,  then find it was caused by standalone restarting

[code]

panic log:
[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job:
https://qa-jenkins.milvus.io/blue

[2022-10-08 03:08] soothing-rain commented on #19617
[code]

Was a nullptr deference.

/unassign
/assign @cydrain

[2022-10-08 03:09] bigsheeper commented on #19542
The DDL rate is 10 requests per minute, however in rate limiter the real rate is `10/60=0.167`. So the second DDL operation was rejected. I think we should consider 10 DDL rate as if 10 requests can pass during 1 minute, not a burst of 10 request and wait for 1 minute. like:
[code]

[2022-10-08 03:20] dzqoo commented on #19253
@bigsheeper get it!

[2022-10-08 03:21] zhuwenxing opened #19622 "[Bug]: Load collection timeout for 20s after querycoord pod failure chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

test case
[code]

error log:

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/1941/pipeline

log:
[art

[2022-10-08 03:31] soothing-rain commented on #19619
/assign @XuanYang-cn
/unassign @yanliang567

https://github.com/milvus-io/milvus/blob/master/internal/datanode/segment_replica.go#L779-L782

Guess we need a safer check?

[2022-10-08 03:33] soothing-rain commented on #19563
/unassign
/assign @zhuwenxing

[2022-10-08 03:37] yanliang567 commented on #19622
/assign @soothing-rain
/unassign

[2022-10-08 03:45] NicoYuan1986 commented on #18724
It occurs again in 2.1.* branch nightly:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/78/pipeline/187/

milvus version:68a6587 (master)
pymilvus version:2.2.0.dev26

1. milvus log:[artifacts-milvus-distributed-pulsar-nightly-78-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/78/artifact/artifacts-milvu

[2022-10-08 03:50] jaime0815 commented on #19615
It seems all search requests failing,  Can you provide a reproduce steps?

[2022-10-08 03:55] jennyli-z opened #19623 "[Bug]: The hard code llvm cmakefile make mac compile failed multiple times"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![yvrobW3p0b](https://user-images.githubusercontent.com/93511422/194686829-87df2412-5857-433e-aa91-f6780f81cb72.jpg)

The hard code llvm path make mac compile failed every time llvm upgraded.

### Expected Behavior

It should use something like `brew --prefix llvm` to

[2022-10-08 03:55] binbinlv commented on #19617
Yes, we had test cases covering the scenario deleting using invalid expression (invalid type like (1),  invalid value like ("12-s", '()'), but this issue only happens when expr = '[]', and we did not cover this corner case in invalid expressions.

Will add it.

[2022-10-08 03:56] jennyli-z commented on #19623
After offline discussion ,@jiaoew1991 will  help refactor the related code to fix this issue.

[2022-10-08 03:56] jennyli-z commented on #19623
/assign @jiaoew1991

[2022-10-08 04:08] siwenyang commented on #19615
Before stopped milvus, we tried 6 multi-threads calling search together. There were already several search calls couldn’t finish, i.e., search call over time. But still some search finished. However, after restarting milvus cluster, all search calls failed due to over time.

1. Stop milvus cluster by helm
2. Restart milvus cluster by helm
3. load collection
4. search

_____________________________

[2022-10-08 04:30] soothing-rain commented on #19473
@zhuwenxing The logs as appeared in `cluster-upgrade-304/second_deployment/pod_log/cluster-upgrade-304-milvus-proxy-665dfc8977-q8qnp.log` is not complete.

Can you provide the full logs? Also can you let me know if the proxy services restarted during the test, and if so, why? Thanks.

[2022-10-08 05:47] soulteary opened #19625 "[Enhancement]: Milvus 2.x vs 1.x docs should update"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Since February until now, milvus has updated some functions, such as: varchar.

But the comparison table is still the old data, I made some updates and beautification, hope it helps the project

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-10-08 06:03] zhuwenxing commented on #19473
Proxy has not restarted, but datanode has restarted several times.

[code]

[2022-10-08 06:05] zhuwenxing commented on #19473
for the full logs, you can go to Loki to get it

[2022-10-08 06:05] congqixia opened #19626 "[Enhancement]: Specify target node id in `MsgBase`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Specify target node id in `MsgBase`

### Why is this needed?

When node restart, in some case, worker nodes shall have same IP address while the server ID is different. Milvus need a method to explicitly specify the target node id in request to avoid confusion.

### Anything e

[2022-10-08 06:42] congqixia commented on #19615
Preliminary conclusions: there are lots of log indicating no timetick has been received in querynode
[code]
Still need to find the root cause

[2022-10-08 06:47] zhuwenxing commented on #19502
When the client is in the k8s pod, many bulk load tasks can not finish in 90 seconds. But in the local machine, those test cases can pass.

[code]

pymilvus==2.2.0.dev38
master-20221008-5b4038e9
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/bulk_load_test/detail/bulk_load_test/19/pipeline
log:

[artifacts-bulk-load-test-19-pytest-logs.tar.gz](https://github.com/milvus-io/milv

[2022-10-08 06:48] zhuwenxing commented on #19502
/assign @soothing-rain
/unassign

[2022-10-08 07:22] zhuwenxing commented on #19503
If the conclusion is that no index is created, the search result will be empty, then there will be some confusing phenomenon.

search results sometimes will be empty, and sometimes will not be empty if there is no index created before bulk load.
For example, the following test case can pass, but no index was created, and the search result is not empty.
[code]

the log is
[code]

[2022-10-08 07:23] zhuwenxing commented on #19503
/assign @soothing-rain

[2022-10-08 07:31] zhuwenxing commented on #19563
pymilvus==2.2.0.dev38
Milvus version: master-20221008-5b4038e9

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/bulk_load_test/detail/bulk_load_test/19/pipeline

![image](https://user-images.githubusercontent.com/12268675/194695688-79b0fbbd-d6f2-4221-b260-6116fdb04e8b.png)

log:

[artifacts-bulk-load-test-19-pytest-logs (1).tar.gz](https://github.com/milvus-io/milvus/files/9738

[2022-10-08 07:31] zhuwenxing commented on #19563
/assign @soothing-rain

[2022-10-08 07:32] jaime0815 commented on #19615
It is strange timetick has only been received in DML channel,  please ensure Pulsar works well, and can you provide Puslar logs?

[2022-10-08 07:39] #19467 closed

[2022-10-08 07:40] soothing-rain commented on #19563
But there are two DataNode services right?

[2022-10-08 07:47] soothing-rain commented on #19503
Well, searching on an un-indexed collection could be an undefined behavior in v2.2 IMO?

[2022-10-08 08:02] zhuwenxing commented on #19563
Yes, so it is as expected!

[2022-10-08 08:18] soothing-rain commented on #19502
Some task timed out because DataNode restarted on panic while getting latest message ID.

/assign @wayblink

[2022-10-08 08:25] zhuwenxing commented on #19503
Another weird behavior:  sometimes, even though index is created, search result can still be empty.

[code]

[2022-10-08 08:28] zhuwenxing commented on #19563
/unassign @soothing-rain

[2022-10-08 08:29] soothing-rain commented on #19503
Theoretically, yeah, this could happen.

Bulk load only assures that (1) the data is written and (2) indexes are created. It does not necessarily guarantee that data is "queryable". For example, bulk load can turn `Completed` state even when collection is not loaded.

On the other hand, if search result is still empty after quite a while, let me know.

[2022-10-08 08:31] binbinlv commented on #19555
It is rejected when nq >= vps threshold, as designed and close this issue.

[2022-10-08 08:31] #19555 closed

[2022-10-08 08:34] zhuwenxing commented on #19502
This issue will happen when there are two datanodes. It works well when datanode number is one.

[2022-10-08 08:38] binbinlv commented on #19542
Verified, it is good if sleep 6s after every creating collection operations. As designed.

[2022-10-08 08:38] #19542 closed

[2022-10-08 08:44] binbinlv commented on #19508
Verified and fixed:
milvus: master-20221008-76515126
pymilvus:2.2.0.dev40

[2022-10-08 08:44] #19508 closed

[2022-10-08 08:45] zhuwenxing opened #19631 "[Bug]: Failed to load collection with error `failed to register channels and segments[context deadline exceeded]` after datacoord pod kill chaos test when Kafka as MQ for Milvus"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/194698615-c5e0e801-d4fd-4971-8378-e01ebfbdc3a3.png)

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/

[2022-10-08 08:45] xiaofan-luan commented on #19626
If we all transfer message by rpc, if targetID still necessary?

[2022-10-08 08:45] xiaofan-luan commented on #19626
I'm thinking of remove all messageID part and targetID

[2022-10-08 08:53] xige-16 commented on #19493
Part of the index file data is lost
[code]

[2022-10-08 08:56] xige-16 commented on #19493
The reason for data loss is that when the data is sliced, the offset value overflows. As a result, part of the index data is not uploaded to s3.
https://github.com/milvus-io/milvus/blob/0ac4bc32a5b1af9f91896290d23c72ad0ff55714/internal/core/src/storage/DiskFileManagerImpl.cpp#L96-L111

[2022-10-08 09:07] zhuwenxing opened #19633 "[Bug]: Load collection timeout after many pod kill and pod failure chaos test when Kafka is as MQ for Milvus"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job:  https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-kafka/detail/chaos-test-kafka/1780/pipeline
log:
[artifacts-querynode-pod-failu

[2022-10-08 09:10] binbinlv opened #19634 "[Enhancement]: The rate limit for showCollection could be removed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

The rate limit for showCollection could be removed

### Why is this needed?

Show Collection will be called by other APIs, such as load:

load collection is still retried and reports error even after sleep 10s (collection limit is 10), so it will impact the limit for load.
[co

[2022-10-08 09:19] yanliang567 opened #19635 "[Bug]:[Stability][Memory]QueryCoord memroy increased to 200+GB in 3 hours when there are insertions and flush operations"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

QueryCoord memory increased to 230GB in 3 hours and crashed.
metrices: https://grafana-4am.zilliz.cc/d/uLf5cJ3Gz/milvus2-0?orgId=1&var-datasource=prometheus&var-app_name=milvus&var-namespace=qa-milvus&var-instance=fouram-jkt99-1&var-pod=fouram-jkt99-1-milvus-datacoord

[2022-10-08 09:31] yanliang567 commented on #19635
/assign @jiaoew1991
/unassign

[2022-10-08 09:35] yongpengli-z opened #19637 "[Bug]: [rate limit] DescribeCollection is not limited when enable quotaAndLimits and ddl collection rate"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

17:28:41.891 [main] [INFO ] io.milvus.client.AbstractMilvusGrpcClient:2523 --- DescribeCollectionParam{collectionName='book'}
DescribeCollection result status:0
17:28:47.277 [main] [INFO ] io.milvus.client.AbstractMilvusGrpcClient:2523 --- DescribeCollectionParam{coll

[2022-10-08 09:55] xiaofan-luan opened #19639 "[Enhancement]: MsgBase should ensure all field fill in"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

MsgBase now has 4 field:
	MsgType              MsgType
	MsgID                int64    `protobuf:"varint,2,opt,name=msgID,proto3" json:"msgID,omitempty"`
	Timestamp            uint64   `protobuf:"varint,3,opt,name=timestamp,proto3" json:"timestamp,omitempty"`
	SourceID

[2022-10-08 09:55] yanliang567 opened #19640 "[Bug]: [test] client OOM for client config client-random-locust-insert-delete-search-filter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client OOM, I guess there are something we should had release
https://argo-workflows.zilliz.cc/workflows/qa/fouram-g864x?tab=workflow&nodeId=fouram-g864x-876953450&nodePanelView=summary
![image](https://user-images.githubusercontent.com/82361606/194701640-931d1d95-fee

[2022-10-08 09:55] yanliang567 commented on #19640
/assign @wangting0128
/unassign

[2022-10-08 09:59] xiaofan-luan commented on #19601
same here, any progress?

[2022-10-08 10:03] zhuwenxing commented on #19619
It looks same as https://github.com/milvus-io/milvus/issues/19478

[2022-10-08 10:03] binbinlv commented on #19571
OK.

[2022-10-08 10:06] zhuwenxing commented on #19478
This also happened when reinstalling with master latest

failed job:https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test/detail/deploy_test/356/pipeline
log:
[artifacts-cluster-reinstall-356-server-logs (2).tar.gz](https://github.com/milvus-io/milvus/files/9738946/artifacts-cluster-reinstall-356-server-logs.2.tar.gz)

[artifacts-cluster-reinstall-356-pytest-logs.tar.gz](https://gith

[2022-10-08 10:24] zhuwenxing commented on #19633
The log is not completed, so for the full log, please go to Loki

[2022-10-08 10:59] yhmo commented on #19601
This is a random failure. The map of golang is not sorted, each time when we get the element from a map, the sequence could be different.
The pr https://github.com/milvus-io/milvus/pull/19643 can fix this problem.

[2022-10-08 11:15] yanliang567 opened #19644 "[Bug]: [Stability] Milvus crashes if running tests with query, insert and delete requests"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus crashes during stability test with search, query, insert and delete concurrently
client config: client-random-locust-insert-delete-search-filter
[code]

### Expected Behavior

no crash and all requests return successfully

### Steps To Reproduce

[code]

### Mi

[2022-10-08 11:16] yanliang567 commented on #19644
/assign @jiaoew1991
/unassign

[2022-10-08 11:19] yanliang567 commented on #19633
/assign @jaime0815
/unassign

[2022-10-08 11:26] zhuwenxing commented on #19563
Milvus version: master-20221008-7e620a7a

It still happened in the datanode pod killchaos test
log:
[artifacts-bulk-load-test-6-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9739068/artifacts-bulk-load-test-6-server-logs.tar.gz)
[artifacts-bulk-load-test-6-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/9739069/artifacts-bulk-load-test-6-pytest-logs.tar.gz)

before ch

[2022-10-08 11:26] zhuwenxing commented on #19563
/assign @soothing-rain

[2022-10-08 11:59] yanliang567 commented on #19631
/assign @jiaoew1991
/unassign

[2022-10-08 12:18] soothing-rain commented on #19473
/assign @wayblink
/unassign

[2022-10-08 12:20] dzqoo opened #19646 "[Bug]: Where I upgrade milvus from 2.1.2 to 2.1.4, I can't load data."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I upgrade milvus  from 2.1.2 to 2.1.4 and I do loading data into querynode, I got following error.
![image](https://user-images.githubusercontent.com/8862305/194706632-9f229e13-fb6c-4d20-9df0-0078bda73f1f.png)

When I do loading the same data in 2.1.2 with same c

[2022-10-08 14:21] yanliang567 commented on #19646
/assign @congqixia
/unassign

[2022-10-08 15:01] soothing-rain commented on #19563
OK this might make sense in chaos testing.

If a DataNode gets killed while working on a bulk load task, the state of that task will stay in `STARTED` and will eventually be removed when expired. In other words, these are "dead" bulk load tasks in `STARTED` states.

Also these "dead" tasks will not impact future bulk load tasks, as new tasks will be assigned to new DataNodes.

[2022-10-08 15:54] Juneezee opened #19650 "[Enhancement]: Simplify tests using `T.Setenv`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Currently we are using `os.Setenv` to set and manually restore environment variables in tests. We can use `T.Setenv` function from the `testing` package instead. `T.Setenv` calls `os.Setenv(key, value)` and uses `T.Cleanup` to restore the environment variable to its original v

[2022-10-08 16:07] #18623 closed

[2022-10-09 01:19] yanliang567 commented on #19567
seems that fixes above not working, it reproduced on  master-20220930-e6c7286b

[2022-10-09 01:55] congqixia commented on #19646
Hi @dzqoo ,could you please provide the backup file with birdwatcher of you etcd meta?

[2022-10-09 02:18] #19430 closed

[2022-10-09 02:18] #19208 closed

[2022-10-09 02:20] yah01 commented on #19567
/assign @jingkl
#19577 #19583 fixed it

[2022-10-09 02:23] NicoYuan1986 commented on #18846
Recently: https://jenkins.milvus.io:18080/blue/organizations/jenkins/qa%2Fmilvus-release-nightly/detail/milvus-release-nightly/149/pipeline/196/

milvus: 2.1.*(706b8e98)
pymilvus: 2.1.3.dev1

1. failed timeline: [2022-10-08T20:28:56.391Z] [gw4] [ 41%] FAILED testcases/test_search.py::TestCollectionSearchInvalid::test_search_invalid_params_type[RHNSW_FLAT-params6]
2. collection name: search_collect

[2022-10-09 02:23] dzqoo commented on #19646
@congqixia
[bw_etcd_ALL.221009-101702.bak.gz](https://github.com/milvus-io/milvus/files/9740627/bw_etcd_ALL.221009-101702.bak.gz)

[2022-10-09 02:24] XuanYang-cn opened #19653 "[Bug]: mergeFlushedSegments panic problem"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

#19644
#19478
#19619
#19526

Working on it now.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-10-09 02:28] NicoYuan1986 opened #19654 "[Bug]: [Nightly] Query failed with message 'fail to search on all shard leaders, err=fail to Query, QueryNode ID = 10, reason=historical query failed on nodeID 20, reason = query shard(channel) by-dev-rootcoord-dml_.. does not exist'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Query failed with message 'fail to search on all shard leaders, err=fail to Query, QueryNode ID = 10, reason=historical query failed on nodeID 20, reason = query shard(channel)  by-dev-rootcoord-dml_..  does not exist'
[code]

### Expected Behavior

PASSED

### Steps

[2022-10-09 02:40] XuanYang-cn commented on #19478
/assign

[2022-10-09 02:47] LoveEachDay commented on #19574
This is only an issue with rocksmq (in milvus standalone).

[2022-10-09 02:50] icodersky opened #19655 "[Bug]: Can't built the varchar index of the Milvus 2.1.4"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The string index of Milvus 2.1.4 has not been built. Neither ATTU nor Python code can‘t build the string index normally. I have been waiting. The database files are growing continuously, but we just put 2000 pieces of data yet. (Installed by the k8s helm, the helm has

[2022-10-09 02:58] LoveEachDay commented on #19379
@erezweissgloat For now we don't support pass `kafka.saslPassword` as an env.

[2022-10-09 03:02] XuanYang-cn commented on #19478
For upgrade cases, the codes in master branch is too old. Please try master after this commit a0ce533727de0ba67cbdc517bfd101cc6330bb51
[code]

I'm checking master reinstall cases now

[2022-10-09 03:22] yah01 commented on #19610
@Roger-Z Hey Roger, what's the version before upgrading?

[2022-10-09 03:50] yanliang567 commented on #19655
/assign @xige-16
/unassign

[2022-10-09 04:11] siwenyang commented on #19615
[my-release-pulsar-zookeeper-1.log](https://github.com/milvus-io/milvus/files/9740731/my-release-pulsar-zookeeper-1.log)
[my-release-pulsar-zookeeper-2.log](https://github.com/milvus-io/milvus/files/9740732/my-release-pulsar-zookeeper-2.log)
[my-release-pulsar-zookeeper-0.log](https://github.com/milvus-io/milvus/files/9740733/my-release-pulsar-zookeeper-0.log)
[my-release-pulsar-bookie-1.log](http

[2022-10-09 06:11] XuanYang-cn commented on #19653
Indexed segments are flushed, unindexed are unflushed, which makes datanode treat `unindexed` and `sealed` segments as `growing` segments

[code]

- [ ] GetVchanPositions for DataNode should not take indexed segments into account
- [ ] DataNode mergeFlushSegments info should prevent datacoord from syncing `not flushed` segments

[2022-10-09 06:33] bigsheeper commented on #19634
please verify @binbinlv

[2022-10-09 06:34] bigsheeper commented on #19634
/assign @binbinlv
/unassign

[2022-10-09 06:54] #19445 closed

[2022-10-09 07:00] #18887 closed

[2022-10-09 07:09] zhuwenxing opened #19658 "[Bug]: [bulk load] When the file has no file extension name, the failed reason is `strconv.ParseInt: parsing ".": invalid syntax` which is not easy to understand"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

file name is `_row_cust_float_vectors_uid_8d_100_0`
failed reason is `strconv.ParseInt: parsing ".": invalid syntax`

[code]

### Expected Behavior

prefer to `unsupported file type`

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything e

[2022-10-09 07:15] soothing-rain commented on #19658
/unassign
/assign @yhmo

[2022-10-09 07:15] soothing-rain commented on #19658
/unassign @yanliang567
/assign @yhmo

[2022-10-09 07:23] yanliang567 commented on #19654
/assign @congqixia
/unassign

[2022-10-09 07:26] zhuwenxing opened #19660 "[Bug]: [bulk load]When file name is a not existing file name, the failed reason is not complete which is just `failed to ` which has no meaning"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

`not_existing.json` this file is not in S3, so the bulk load task expects to fail, but failed reason is just `failed to` which has no meaning

[code]

### Expected Behavior

prefer to `the file not_existing.json does not exist`

### Steps To Reproduce

_No response_

[2022-10-09 07:28] yanliang567 commented on #19660
/assign @yhmo
/unassign

[2022-10-09 07:32] yah01 commented on #19397
/assign @jingkl
plz check this as many patches have been merged

[2022-10-09 07:47] yanliang567 commented on #19102
@weiliu1031 it reproduced on master-20221006-e1124765
https://argo-workflows.zilliz.cc/workflows/qa/fouramf-cron-1665158400?tab=workflow&nodeId=fouramf-cron-1665158400-1787986870&nodePanelView=summary
[code]

[2022-10-09 07:48] zhuwenxing commented on #19563
Though they are "dead" `STARTED` tasks, it would be better to clean them, otherwise, it will make the user confused.

So I think it is still a bug that needs to fix, but the priority is not that high.

[2022-10-09 07:52] yanliang567 commented on #19355
@sunby it reproduced on  master-20221006-e1124765
https://argo-workflows.zilliz.cc/workflows/qa/fouramf-cron-1665158400?tab=workflow&nodeId=fouramf-cron-1665158400-1787986870&nodePanelView=summary
[code]

[2022-10-09 08:12] icodersky commented on #19655
Can this problem be solved?

[2022-10-09 08:19] yhmo commented on #19601
pr #19643 has been merged into master branch.

[2022-10-09 08:20] #19601 closed

[2022-10-09 08:27] XuanYang-cn commented on #19482
/unassign
/assign @NicoYuan1986
Please help verify

[2022-10-09 08:47] xige-16 commented on #19493
please verify @jingkl
/unassign
/assign @jingkl

[2022-10-09 08:59] congqixia opened #19662 "[Bug]: DataNode WatchChannels may fail at the first time when create collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

DataNode WatchChannels may fail at the first time when create collection

### Expected Behavior

Watch dml channel operation shall succeed.

### Steps To Reproduce

_No response_

### Milvus Log

[code]

### Anything else?

May cause e2e run very slow

[2022-10-09 09:28] Roger-Z commented on #19610
2.0.2 upgrade to 2.1.4

[2022-10-09 10:24] czs007 opened #19665 "[Feature]: Upgrade Parquet-Format to version 2.4"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Parquet-Format 1.0 does not support uint32, arrow will promote it to int64 before writing to parquet.

For example, arrow has the following code:

    case ArrowType::UINT32:
      if (properties.version() == ::parquet::ParquetVersion::PARQUET_1_0

[2022-10-09 10:26] czs007 commented on #19665
see alse https://issues.apache.org/jira/browse/ARROW-12203

[2022-10-09 11:00] congqixia commented on #19646
From the log
[code]
We could calculate the total size of the load collection shall be `15611089554` or `14.538960116 GB`.
From the offline info from @yanliang567 , the querynode memory size shall be 16GB, and `14.538960116 GB` will be over 90% of the memory capacity(percentage configurable in milvus.yaml).

When load 8 replicas with 15 querynodes, there shall be one replica contains only one query

[2022-10-09 11:12] 15820415264 commented on #19586
[bw_etcd_ALL.221009-170946.bak.gz](https://github.com/milvus-io/milvus/files/9741388/bw_etcd_ALL.221009-170946.bak.gz)

[2022-10-09 11:12] 15820415264 commented on #19586
[milvus-log.tar.gz](https://github.com/milvus-io/milvus/files/9741389/milvus-log.tar.gz)

[2022-10-09 11:31] jaime0815 commented on #19615
these logs are unuseful for investigating this issue.  now is it work after updating milvus cluster?

[2022-10-09 13:01] dzqoo commented on #19646
@congqixia
I don't know why one querynode has load a whole collection.Will the segments in one replica be loadded in one querynode?

[2022-10-09 14:33] xiaofan-luan opened #19666 "[Enhancement]: Simplify flow graph to pipeline mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Currently flow graph support multi input multi output but the definition is a bit weird, and we never use flowgraph to merge/split two streams.

So simply keep flowgraph as a pipeline, each node has simply single input and output

### Why is this needed?

1) Current flow graph

[2022-10-09 15:31] #18976 closed

[2022-10-09 15:33] #18922 closed

[2022-10-09 15:33] #6151 closed

[2022-10-09 20:38] siwenyang commented on #19615
After milvus reinstall, it didn't work at start. But after around 2 days waiting, milvus work.

[2022-10-10 01:36] yanliang567 commented on #19493
verified on  master-20221009-49daee2e: loaded successfully for sift_100m
https://argo-workflows.zilliz.cc/workflows/qa/fouram-tag-no-clean-9hjnk-xlgsv?tab=workflow&nodeId=fouram-tag-no-clean-9hjnk-xlgsv-2610521050

[2022-10-10 01:36] #19493 closed

[2022-10-10 02:35] yah01 commented on #19610
Could you use [birdwatcher](https://github.com/milvus-io/birdwatcher) to backup the env?

[2022-10-10 03:02] BorisPolonsky commented on #17981
/reopen

[2022-10-10 04:02] yanliang567 commented on #19635
/assign @sunby

[2022-10-10 04:10] yanliang567 commented on #19644
resubmit a task fouram-hdtgq for verification

[2022-10-10 06:16] wangting0128 commented on #19640
Loading test logs causes OOM

[2022-10-10 06:16] #19640 closed

[2022-10-10 06:35] weiliu1031 commented on #19586
/assign @weiliu1031

[2022-10-10 06:36] BUPTAnderson opened #19673 "[Bug]: querynode crash"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

<img width="1610" alt="截屏2022-10-10 12 48 08" src="https://user-images.githubusercontent.com/13449703/194801201-5725519d-3cd9-486a-99b7-06fd98da0b7d.png">

I have three proxy. From 2022/10/10 05:31:00, proxy-591 can not get search result from querynode-624.
querynode-

[2022-10-10 06:44] Sivannnnnn commented on #18764
@yanliang567

![image](https://user-images.githubusercontent.com/46392469/194809862-f4de44e0-3b19-4186-84a5-564ffffdf3cd.png)

My field is shown in the figure. The memory usage is 58G when using version 2.1.1, and 48G when loading after release. It was verified using version 2.1.4, with an initial memory footprint of 50G and a post-release loading footprint of 40G. Overall, the memory is optimized

[2022-10-10 06:44] #18764 closed

[2022-10-10 06:48] jaime0815 commented on #19615
I suspect the search timeout is caused by the unstable Pulsar service,  some clues were found in the log that datanode reconnects pulsar and pulsar occurs GC frequently.

try to scale up puslar pod, maybe it can help you.

[2022-10-10 07:24] zhuwenxing commented on #19473
I rerun a test for v2.1.2 --> master-20220926-804c18df, this issue was not reproduced. So this issue would be a not stable issue.

[2022-10-10 07:41] longjiquan commented on #19299
/assign @xige-16

[2022-10-10 07:42] weiliu1031 commented on #19102
milvus restarts at 16:49:49, and after that query coord try to load the collection back, but the collection is still loading until the client submit query

[2022-10-10 07:55] yanliang567 opened #19675 "[Bug]: segments did not marked as dropped while the collection had been dropped"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

the collection was marked as dropped in etcd, while some segments of this collection was not marked as dropped.
[code]

### Expected Behavior

the drop collection operation should be "atomic" alike

### Steps To Reproduce

[code]

### Milvus Log

[bw_etcd_ALL.221009-1

[2022-10-10 07:55] yanliang567 commented on #19675
/assign @soothing-rain
/unassign

[2022-10-10 08:04] jaime0815 commented on #19673
/assign @jaime0815

[2022-10-10 08:08] XuanYang-cn commented on #19500
@icodersky  Did you create index before the insert done or after?

[2022-10-10 08:17] hukang6677 commented on #19586
Where is the queryCoord.maxTask？I had a similar problem

[2022-10-10 08:23] icodersky commented on #19500
Create index before the insert start.

[2022-10-10 08:26] #19584 closed

[2022-10-10 08:38] xige-16 opened #19677 "[Bug]: Files lacks license information in milvus/querycoordv2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The files lack license information in milvus/querycoordv2

### Expected Behavior

[code]

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-10-10 08:38] xige-16 commented on #19677
/assign @jiaoew1991

[2022-10-10 09:14] yah01 opened #19679 "[Bug]: CreateIndex becomes slower, e2e case test_search_invalid_params_type failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-19678/2/pipeline
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-19670/2/pipeline

### Expected Behavior

_No response_

### Steps To Reproduce

[2022-10-10 09:27] yah01 commented on #19232
/assign @zhuwenxing
I just run a chaos test, and this error no longer occurs, should have been fixed

[2022-10-10 09:34] hukang6677 commented on #19586
Where is the queryCoord. MaxTask？
I had a similar problem

[2022-10-10 09:35] XuanYang-cn commented on #19500
@icodersky Do you still have logs before this operation? BTW did datanode/datacoord restart during insert?

[2022-10-10 09:44] XuanYang-cn commented on #19500
Create Index Data Paths are less than real data paths

**Create index data Paths**
[code]

**Actual Data Paths:**
[code]

[2022-10-10 10:24] NicoYuan1986 opened #19682 "[Bug]: Milvus restarted when searching with nb=1000000 after creating index"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When searching with nb=1000000 after creating index, milvus will restart unexpectedly.
I don't know if it's related to the index, because I search successfully without index.
[code]

### Expected Behavior

Search successfully

### Steps To Reproduce

[code]

### Milvu

[2022-10-10 10:28] congqixia opened #19683 "[Bug]: ShardCluster still unavailable after bad segment released"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

ShardCluster still unavailable after bad segment released

### Expected Behavior

ShardCluster become healthy after all segment become healthy

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-10-10 11:28] yanliang567 commented on #19682
/assign @soothing-rain
/unassign

[2022-10-10 11:29] yanliang567 commented on #19679
/assign @yah01
/unassign

[2022-10-10 12:13] #17887 closed

[2022-10-10 14:15] #19666 closed

[2022-10-10 14:25] xiaofan-luan opened #19685 "[Feature]: Support collection level search/mutation metrics"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Add collection level search/query/insert/delete latency.

<img width="863" alt="image" src="https://user-images.githubusercontent.com/83447078/194887614-252d9940-c5ce-402c-bbc3-bd62987bf51a.png">
<img width="774" alt="image" src="https://user-imag

[2022-10-10 14:32] chunyuforka commented on #19646
I have the same problem as you!  I also experienced slow loading after upgrading to version 2.1.4
Only one queryNode memory is occupied

[2022-10-10 14:33] chunyuforka commented on #19646
I found something in the queryCoord log
![ChSnD3MSEd](https://user-images.githubusercontent.com/62608774/194890504-185d3ad7-a5ed-4060-b207-eab6b8a2fd65.jpg)

[2022-10-10 20:19] vman-posh commented on #19616
I couldn't find pymilvus version 2.1.4. I tested using pymilvus v2.1.3 and the issue still persists.
Attached logs from Milvus.
[logs.txt](https://github.com/milvus-io/milvus/files/9748712/logs.txt)

[2022-10-11 01:17] #19683 closed

[2022-10-11 01:39] icodersky commented on #19500
We don't have that time's logs now. It's been reinstalled several times.
The datanode/datacoord didn't restart during insert.

[2022-10-11 01:49] icodersky commented on #19500
What causes it? Is it because the data we inserted is abnormal?

[2022-10-11 02:23] weiliu1031 commented on #19586
please reference this about how to config milvus: https://milvus.io/docs/v2.1.x/configure-docker.md#Configure-Milvus-with-Docker-Compose-or-Helm

[2022-10-11 02:24] NicoYuan1986 opened #19689 "[Bug]: [Nightly]Assertion error of the case test_compact_max_time_interval comes up"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Assertion error of the case test_compact_max_time_interval comes up.
[code]

### Expected Behavior

PASSED

### Steps To Reproduce

[code]

### Milvus Log

1. milvus log: [artifacts-milvus-distributed-pulsar-nightly-151-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus

[2022-10-11 02:24] weiliu1031 commented on #19586
please reference this about how to config milvus: https://milvus.io/docs/v2.1.x/configure-docker.md#Configure-Milvus-with-Docker-Compose-or-Helm

[2022-10-11 02:54] wayblink opened #19690 "[Enhancement]: Bulkload support parse binlog with start_ts and end_ts"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

To support Milvus-backup, we have already supported parse binlog. With start_ts and end_ts we can filter the data to achieve  checkpoint and incremental load.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-10-11 02:56] soothing-rain commented on #19682
@NicoYuan1986  There's no error in the log. Can you double check if Milvus restarted from OOM?

[2022-10-11 03:00] yah01 opened #19691 "[Bug]: GC may break the condition of removing segment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

As we add the condition of removing segment: child segment is indexed, the garbage collector has 2 ways to collection segments (clearEtcd & scan), `scan()` methods may break the condition

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

##

[2022-10-11 03:00] XuanYang-cn commented on #19408
milvus-io/pymilvus#1180

[2022-10-11 03:00] yah01 commented on #19691
/assign
/unassign @yanliang567

[2022-10-11 03:07] XuanYang-cn opened #19693 "[Enhancement]: optimize typeutil.AppendFieldData"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

AppendFieldData is frequently used and data is frequently copied.

Maybe we can optimize it to in place swap or something.

### Why is this needed?

- [ ] record the benchmark of current AppendFieldData
- [ ] optimize it
- [ ] benchmark the refined AppendFieldData

Hopefully,

[2022-10-11 03:23] smellthemoon commented on #19639
/assign @smellthemoon

[2022-10-11 03:25] xiaofan-luan commented on #19690
we need to unify binlog reader for both bulkload and compaction for further enhancement.

the usage should be

binlogIterator := newBinlogIterator(binlogpath, deltapath, startTs, endTs)
for row: binlogIterator.next():
       processing row

All go side file reader should follow the binlog iterator.
And iterator it self has to control is's memory.
TODO: iterator will follow PK order

[2022-10-11 03:25] XuanYang-cn commented on #19693
Typical usage of `AppendFieldData` is multi-srcs into 1 dst
[code]

[2022-10-11 03:26] #19626 closed

[2022-10-11 03:27] xiaofan-luan commented on #19617
@JohannesMessner should be fixed on latest master branch, thanks for pointing it out

[2022-10-11 03:30] xiaofan-luan commented on #19682
@soothing-rain milvus should have a limitation that nq < 16,384, could you check why this does not take effect?

[2022-10-11 03:34] xiaofan-luan commented on #18764
good job @aoiasd ~~

[2022-10-11 03:38] xiaofan-luan commented on #18764
Hi @Sivannnnnn , thanks for the feedback. thought you are looking for this fix https://github.com/milvus-io/milvus/pull/19421

[2022-10-11 03:46] xiaofan-luan commented on #18764
Generally speaking, we found a few issues:
1)std::variant<std::monostate, int64_t, std::string> consumes memory of all types, but actually it should be only one of the int64 or string so we use template instead.
2) use binary search on pk rather than orderedmap, see OffsetOrderedArray as  implementation of OffsetMap.  In our scenario, binary search on a vector is not only memory efficient but also

[2022-10-11 03:46] yovelcohen commented on #19152
@xiaofan-luan
I think it can go either way, I can very much see myself comparing cross/in collections but also providing an external vectors.

I hope to start looking at it myself this week and see if this something I can start on my own

[2022-10-11 03:54] jaime0815 opened #19695 "[Enhancement]: Move API proto to milvus-proto repo"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

1. Move API proto file to milvus-proto repo
2. Generating protobuf files in milvus-proto repo.
3. Milvus use a remote API PB dependency.

### Why is this needed?

It will solve the following troubles:
1. Milvus proto files and SDK proto files are not synchronized in real time.

[2022-10-11 04:22] zhuwenxing opened #19696 "[Bug]: [bulk load]Bulk load raise error `Numpy parse: illegal data type <f8 for field float_scalar` when data type is match with filed schema"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

`'failed_reason': 'Numpy parse: illegal data type <f8 for field float_scalar'`

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]
[code]

[2022-10-11 05:27] xiaofan-luan opened #19697 "[Bug]: Proxy should not return err but resp code if proxy alive"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Some of the state check API in proxy return err rather than status code, such as
![Uploading image.png…]()

### Expected Behavior

All API in proxy should only return resp with resp code and a err reason.

### Steps To Reproduce

_No response_

### Milvus Log

_No res

[2022-10-11 05:52] yexinhua1998 opened #19699 "[Bug]: panic when inittracing"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Environment

[code]

### Current Behavior

I try to deploy milvus by helm but milvus cannot start.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

2022/10/11 05:47:58 maxprocs: Leaving GOMAXPROCS=4: CPU quota undefined

    __  _________ _   ____  ______
   /  |/

[2022-10-11 06:02] Sivannnnnn commented on #18764
ok，Thank you for your answer

[2022-10-11 08:05] zhuwenxing commented on #19696
/assign @yhmo
/unassign @yanliang567

[2022-10-11 08:10] zhuwenxing commented on #19696
The data type for float scalar is float, but from error message , it seems be checked as `<f8` data type.

[2022-10-11 08:41] yah01 commented on #19679
/assign @aoiasd
/unassign

[2022-10-11 08:42] yah01 opened #19704 "[Enhancement]: No need for checkpoints of dropped segments"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

QueryNode using the segments' checkpoints to filter out outdated data, which requires the WatchDmChannelRequest with segments payload. For dropped segments, we can just ignore any data related to it.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-10-11 08:42] yah01 commented on #19704
/assign
/assign @congqixia

[2022-10-11 09:18] XuanYang-cn commented on #19653
- [ ] Cherry pick these two PRs into 2.1.0

[2022-10-11 09:20] wangting0128 commented on #19526
argo task：fouram-d84d7
milvus tag：master-20221011-125f827c

test yaml:
client-configmap:client-random-locust-compaction-search
server-configmap:server-single-8c64m

serevr:
[code]

client pod: fouram-d84d7-3869104119

client log:
[code]

[2022-10-11 09:37] longjiquan opened #19708 "[Bug]: Index will be lost if upgrading Milvus from lower version to 2.2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

If we upgrade Milvus from lower version to 2.2 directly, all the index of collection will be lost. See also #19429

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-10-11 10:04] xiaofan-luan commented on #17445
keep this issue as critical, since multi partition still need to be handled in 2.2

[2022-10-11 10:06] xiaofan-luan commented on #17600
@soothing-rain is there still a issue?

[2022-10-11 10:08] xiaofan-luan commented on #17674
@jiaoew1991 seems we had too much delete in memory, any chance we can implement single segment compaction to solve the problem?

[2022-10-11 10:08] #17864 closed

[2022-10-11 10:14] xiaofan-luan commented on #18994
/assign @longjiquan

[2022-10-11 10:16] xiaofan-luan commented on #19037
should not be problem in querycoordV2

[2022-10-11 10:16] #19037 closed

[2022-10-11 10:19] xiaofan-luan commented on #19046
@xiaocai2333 any progress on this?

[2022-10-11 10:34] #19587 closed

[2022-10-11 10:35] xiaofan-luan commented on #19690
/assign @wayblink

[2022-10-11 10:37] xiaofan-luan commented on #19691
/assign @xiaofan-luan I will take a look into it

[2022-10-11 10:37] #19677 closed

[2022-10-11 10:41] xiaofan-luan commented on #19650
Good catch, merged into master

[2022-10-11 10:42] #19625 closed

[2022-10-11 10:42] xiaofan-luan commented on #19619
close duplicate issue

[2022-10-11 10:43] #19604 closed

[2022-10-11 10:43] xiaofan-luan commented on #19598
/assign @longjiquan

[2022-10-11 10:45] xiaofan-luan commented on #19553
/assign @zhuwenxing

[2022-10-11 10:46] xiaofan-luan commented on #19335
@ut-zero hi there, your pr failed because of DCO not passed, pls fix it~ thanks for the contribution

[2022-10-11 10:47] xiaofan-luan commented on #19519
Any suggestion on how we change the config while not change the test cases?

[2022-10-11 10:48] jiaoew1991 commented on #17674
we can try it in QueryNodeV2

[2022-10-11 10:51] jiaoew1991 commented on #17674
/assign @jingkl
retry it please

/unassign

[2022-10-11 10:52] jiaoew1991 commented on #18573
/assign @yanliang567 I think we can close it

[2022-10-11 10:53] jiaoew1991 commented on #18759
can you retry it with QueryCoordV2
/assign @zhuwenxing
/unassign

[2022-10-11 11:35] zhuwenxing commented on #18799
It was not reproduced in the master branch, but it still happened in 2.1 branch (2.1.0-20220930-706b8e98).

Any fix plan or just recommend users use the later release v2.2?

[2022-10-11 11:37] jiaoew1991 commented on #19472
/assign @zhuwenxing
/unassign

[2022-10-11 11:38] jiaoew1991 commented on #19269
/assign @zhuwenxing
/unassign

[2022-10-11 11:38] jiaoew1991 commented on #19165
/assign @zhuwenxing
/unassign

[2022-10-11 11:38] jiaoew1991 commented on #19087
/assign @zhuwenxing
/unassign

[2022-10-11 11:39] jiaoew1991 commented on #18940
/assign @zhuwenxing
/unassign

[2022-10-11 11:39] jiaoew1991 commented on #18799
/assign @zhuwenxing
/unassign

[2022-10-11 11:40] soothing-rain commented on #19675
Any server-side logs?

[2022-10-11 11:43] xiaofan-luan commented on #19691
don't get it.
If we can not delete in clearEtcd,  then all meta will not cleaned, filescan can not delete files with etcd meta?

[2022-10-11 11:44] #18799 closed

[2022-10-11 11:50] soothing-rain commented on #17600
No it should have been fixed for a while

/unassign
/assign @yanliang567

[2022-10-11 11:57] zhuwenxing commented on #19696
After all, It was still caused by the datatype mismatch.
In Milvus, DataType.FLOAT means float32, but I set it as float64 because it is the default data type for float in NumPy.

@yhmo
But I think the error message is not that readable:
1. the message just shows the data type is illegal but did not point out the expected data type.
2. `<f8` is not human readable, it would be better to change it to

[2022-10-11 12:03] zhuwenxing commented on #18759
It not reproduced in master now, so close it

[2022-10-11 12:03] #18759 closed

[2022-10-11 12:04] zhuwenxing commented on #19563
/unassign

[2022-10-11 12:16] soothing-rain commented on #19682
Turns out there's a limit on topK but not on nq.

For example we can do:
[code]

[2022-10-11 12:16] xige-16 opened #19712 "[Enhancement]: Move disk index param to config file"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

move disk ann index build and load params to milvus.yaml

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-10-11 12:17] zhuwenxing commented on #19472
Not reproduced in 2.1 and master branch, so close it

[2022-10-11 12:17] #19472 closed

[2022-10-11 12:20] yongpengli-z opened #19713 "[Bug]: After more than 1000 delete operations,standalone-milvus crashed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

the amount of data deleted at a time is about  100,000.
during the cycle,the milvus crashed

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-10-11 12:24] zhuwenxing commented on #19272
It is not reproduced again, so close it.

[2022-10-11 12:24] #19272 closed

[2022-10-11 12:27] zhuwenxing commented on #19165
It was not reproduced in `2.1.0-20220930-706b8e98`, so close it!

[2022-10-11 12:27] #19165 closed

[2022-10-11 12:35] zhuwenxing commented on #19087
/unassign
/assign @jiaoew1991
please help to take a look!

[2022-10-11 12:37] zhuwenxing commented on #19269
Though it still reproduced in 2.1, but it was fixed in master, so close it

[2022-10-11 12:37] #19269 closed

[2022-10-11 12:39] zhuwenxing commented on #18755
Not reproduced, so close it.

[2022-10-11 12:39] #18755 closed

[2022-10-11 12:44] zhuwenxing commented on #18824
It works well for 2.1.4 --> master-20221010-85e04d84, so close it.

[2022-10-11 12:44] #18824 closed

[2022-10-11 12:47] zhuwenxing commented on #18940
It was not reproduced in upgrading 2.1.4 to master or master reinstallation, so close it

[2022-10-11 12:47] #18940 closed

[2022-10-11 12:48] zhuwenxing commented on #18874
It was not reproduced, so close it.

[2022-10-11 12:48] #18874 closed

[2022-10-11 12:49] #19650 closed

[2022-10-11 12:50] zhuwenxing commented on #18874
@xiaocai2333  any related fix PR? if has one, please link to this issue.

[2022-10-11 15:12] xiaofan-luan commented on #19152
We are investigating integrate facebook velox  into milvus as scalar engine, things could be much easier to do once we have the new run time

[2022-10-11 15:18] xiaofan-luan commented on #19682
in https://milvus.io/docs/limitations.md there is a limit.
If not we should add one

[2022-10-11 15:20] yovelcohen commented on #19152
@xiaofan-luan sounds great, I'll follow up on that

[2022-10-11 19:02] #18580 closed

[2022-10-11 19:02] #19006 closed

[2022-10-12 01:33] yanliang567 commented on #19699
/assign @LoveEachDay
could you please help on this?
/unassign

[2022-10-12 01:33] LoveEachDay commented on #17981
We have some requirements for kafka broker settings:
[code]
@mohitreddy1996 We've used confluent kafka, you should manually change the broker config.

[2022-10-12 01:35] yanliang567 commented on #19618
/assign @sunby
/unassign

[2022-10-12 01:37] yanliang567 commented on #19586
@weiliu1031 any solutions to avoid crashes?

[2022-10-12 01:38] yanliang567 commented on #19554
/unassign

[2022-10-12 01:39] yanliang567 commented on #19532
/assign @xiaocai2333
/unassign

[2022-10-12 01:45] yanliang567 commented on #19453
@tgk60w how do you insert data into milvus, could you please share a script so that we could reproduce it?

[2022-10-12 01:47] yanliang567 commented on #19363
@zhenzi0322 I'd like to close this issue, as it started successfully to you now. please feel free to file a new ticket if any new issues.

[2022-10-12 01:47] #19363 closed

[2022-10-12 01:48] yanliang567 commented on #19297
@SuperLiChen any updates? do you have any screenshots of metrics in grafana

[2022-10-12 01:49] yanliang567 commented on #18573
close it, please free to file a new ticket if any new problems

[2022-10-12 01:49] #18573 closed

[2022-10-12 01:51] yanliang567 commented on #18509
close for now, not reproduced locally

[2022-10-12 01:51] #18509 closed

[2022-10-12 01:54] yanliang567 commented on #19460
/assign @soothing-rain
/unassign

[2022-10-12 02:12] weiliu1031 commented on #19586
reduce active task concurrency may helps! can be config by param `queryCoord. MaxTask`

[2022-10-12 02:31] congqixia commented on #19554
Fix by #19576

[2022-10-12 02:31] #19554 closed

[2022-10-12 02:32] congqixia commented on #18705
Hi @zhuwenxing does this problem still persist in querycoord v2?

[2022-10-12 02:33] congqixia commented on #18828
Hi @zhuwenxing , does this problem still persist in querycoord v2?

[2022-10-12 02:34] zhuwenxing opened #19715 "[Bug]: Datacoord keep crash when doing bulk load after datacoord pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

log in datacoord
[code]

### Expected Behavior

after chaos is deleted, all pods can be ready and bulk load task can success.

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/bulk_load_

[2022-10-12 02:35] XuanYang-cn commented on #19478
/assign @zhuwenxing
/unassign
Please help verifying the latest master

[2022-10-12 02:37] congqixia commented on #19543
Hi @wangting0128 ,does this problem still persist in recent runs ?

[2022-10-12 02:37] LoveEachDay commented on #19699
@yexinhua1998 Could you provide the generated configmap for milvus (`release-name-milvus`)?

[2022-10-12 02:42] weiliu1031 commented on #19102
/assign @jingkl

[2022-10-12 02:52] XuanYang-cn commented on #19526
https://github.com/milvus-io/milvus/pull/19706 This PR should fix this, Please retry with the latest master @wangting0128
[code]

[2022-10-12 02:53] wangting0128 commented on #19543
argo task: fouramf-cron-1665504000
test case: test_search_time

image tag:master-20221011-0a77561e
client pod:fouramf-cron-1665504000-2268600349

**standalone**
server:
[code]

client log:
[code]

**cluster**
server:
[code]

client  log:
[code]

[2022-10-12 02:58] XuanYang-cn commented on #19526
/unassign

[2022-10-12 02:58] #19653 closed

[2022-10-12 03:00] congqixia commented on #19715
#19706 shall fix datacoord panic after restart problem @zhuwenxing

[2022-10-12 03:03] xiaocai2333 commented on #19143
fixed, please verify it. @NicoYuan1986
/unassign
/assign @NicoYuan1986

[2022-10-12 03:06] xiaocai2333 commented on #19046
same as #18994 , need to execute upgrade script.
/assign @longjiquan

[2022-10-12 03:07] zxcvjl opened #19717 "[Bug]: collection load error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

every time collection is called, load is required. After use, collection release
then ,today when i call ,
Collection. load() failed

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

 ["show collection failed"] [role=querycoord] [c

[2022-10-12 03:09] zhuwenxing opened #19718 "[Bug]: Create index timeout when the concurrency is 4 for standalone Milvus"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test/detail/deploy_test/364/pipeline/128/

log:
[artifacts-standalone-reinst