[2022-05-23 07:53] xiaocai2333 commented on #15522
log:
[code]

from these logs, the grpc server of RootCoord is no longer avaliable.

[2022-05-23 08:13] xiaocai2333 commented on #15522
It seems that all grpc services are unavailable. (querynode is searching)
[code]

[2022-05-23 08:16] xiaocai2333 commented on #15522
querynode is searching.
[code]

cpu metrics
![origin_img_v2_047dffae-5a0b-405b-9442-1c91975462ag](https://user-images.githubusercontent.com/46207236/169775018-0b81dff0-ecf5-4dbf-a7a7-dfaf92388ce7.jpg)

memory metrics
![origin_img_v2_7242f13e-c7c9-43c0-b6e8-c5dfca5c72ag](https://user-images.githubusercontent.com/46207236/169775087-f49c3f2a-abe2-46b9-a0fc-38e10d7e17fa.jpg)

[2022-05-23 08:21] bigsheeper opened #17160 "[Enhancement]: Merge historical replica and streaming replica"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Currently there's a historical replica and a streaming replica in QueryNode, when create/delete/check collection from replica, we need work on both historical replica and streaming replica, which is very ugly. We need merge historical replica and
 streaming replica into one un

[2022-05-23 08:21] bigsheeper commented on #17160
/assign

[2022-05-23 08:21] bigsheeper commented on #17160
/kind critical_urgent

[2022-05-23 08:22] soothing-rain commented on #17152
/unassign
/assign @yhmo

@yanliang567 Also could you provide some test scripts or at least schema examples? Thanks :)

[2022-05-23 08:22] bigsheeper commented on #17160
/priority urgent

[2022-05-23 08:37] ThreadDao commented on #16598
yeah, If I do a strong search before calling `get_query_segment_info` I can get the correct growing segments infos

[2022-05-23 08:41] #17021 closed

[2022-05-23 09:28] skye95git opened #17165 "[Feature]: use milvus in Singularity"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

I face a problem, on our server, normal user doesn't have permission to use docker, but can use Singularity. Can Milvus run in Singularity? If so, how do I install Milvus?

### Describe the solution you'd like.

Wish I could start milvus directly

[2022-05-23 09:53] zhuwenxing opened #17167 "[Bug]: Search failed with error message `empty slice nqs is not allowed`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all operations work well

### Steps To Reproduce

[code]

### Milvus Log

[artifacts-cluster-reinstall-607-logs.tar.gz](https://github.com/milvus-io/milvus/files/8753527/artifacts-cluster-reinstall-607-logs.tar.gz)

### Anything else?

_

[2022-05-23 10:05] yanliang567 commented on #17167
@zhuwenxing please retry with latest pymilvus==2.1.0.dev62

[2022-05-23 10:07] ThreadDao commented on #15368
@XuanYang-cn Re-test your No.2 problem on image `master-20220523-246b22b5`
**Test steps:**
1. Limit datanode memory 1Gi
2. Create collection and insert some entities
3. Apply memory stress
[code]
4. Insert 10,000 entities and flush

**Test results:**
The datanode is OOMKilled and restarted successfully, and flush data properly.

[2022-05-23 10:21] XuanYang-cn commented on #17167
dev62 is a bug version, please try dev61 instead

[2022-05-23 11:45] #16598 closed

[2022-05-23 12:36] ThreadDao commented on #15368
@XuanYang-cn It crashed and failed to restart `master-20220523-246b22b5`
[code]
**Test steps:**
1. Limit datanode memory 1Gi
2. Create 2 collections with 4 shards
3. Insert entities into 2 collections through two clients at the same time
In summary, increasing the number of shards and collections makes the datanode run out of memory when inserting continuously. And then the datanode is OOMKilled a

[2022-05-23 12:51] ThreadDao commented on #15368
When I increased the memory limit of the querynode to 2Gi, the new datanode pod came up. The memory usage of new datanode is:
![image](https://user-images.githubusercontent.com/27288593/169823292-f7ca0329-e77c-4946-9a6f-99ba3e5c1368.png)

[2022-05-23 12:54] ThreadDao commented on #15368
When I increased the memory limit of the querynode to 2G, the new datanode pod gets running. the memory usage of new pod is:
![image](https://user-images.githubusercontent.com/27288593/169823774-6f951a29-383c-4e0b-906e-42641980a5c9.png)

[2022-05-23 13:10] Perfeee opened #17172 "[Bug]: can not connect milvus"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When i try to connect milvus, i get this error :

<img width="1052" alt="image" src="https://user-images.githubusercontent.com/13135597/169825634-822ffa15-e9dd-435a-903c-6b3e74478574.png">

### Expected Behavior

Connect success without error.

### Steps To Reproduce

[2022-05-23 13:14] Perfeee commented on #16290
how to solve this?

<img width="1023" alt="image" src="https://user-images.githubusercontent.com/13135597/169827478-a39419f7-c1c0-4330-bfde-08c871bce759.png">

[2022-05-23 13:17] jaime0815 opened #17174 "Register querynode of the same address(ip:port) into etcd"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

We can find querynode with the same address in this log [artifacts-milvus-distributed-PR-17042-17-pymilvus-e2e-logs.tar.gz](https://github.com/milvus-io/milvus/files/8754698/artifacts-milvus-distributed-PR-17042-17-pymilvus-e2e-logs.tar.gz)

![image](https://user-imag

[2022-05-23 14:24] yanliang567 commented on #17133
add one test for this situation.

[2022-05-23 14:24] #17133 closed

[2022-05-23 15:37] ThreadDao commented on #16114
/unassign /assign @XuanYang-cn @congqixia
Deploy a fresh cluster with image 'master-20220520-d525e955', after datanode and datacoord restart 3 times because of chaos disk attack `chaosd attack disk fill -c 87 -p /tmp`, some subscriptions of the offline datanodes were not successfully unsubscribed:
Obviously datanode 21 has gone offline
[code]

[2022-05-24 01:19] #16992 closed

[2022-05-24 01:23] yanliang567 commented on #17172
@Perfeee thank you for the issue. Did you change any configurations as i believe the default port for Milvus is 19530 instead of 9530. Also could you please retry with latest release v2.0.2 and the pymilvus 2.0.2?

/assign @Perfeee
/unassign

[2022-05-24 01:29] yanliang567 commented on #17174
/unassign

[2022-05-24 01:36] zhuwenxing commented on #17167
With the following config, it works well
Milvus version : master-20220523-cce533c2 (https://github.com/milvus-io/milvus/pull/17168 not in this version)
pymilvus version: pymilvus-2.1.0.dev61

[2022-05-24 01:43] yanliang567 commented on #17099
yes, deploy Milvus with debug level

[2022-05-24 01:48] #17167 closed

[2022-05-24 01:50] #17068 closed

[2022-05-24 01:53] yanliang567 commented on #16947
@congqixia @XuanYang-cn any updates for this issue?

/assign @congqixia

[2022-05-24 01:59] zhuwenxing commented on #16900
/unassign

It was still blocked by https://github.com/milvus-io/milvus/issues/17016

[2022-05-24 02:12] yanliang567 commented on #15677
lets keep it on tracking

[2022-05-24 02:13] yanliang567 commented on #16627
@yah01 any updates

[2022-05-24 02:15] XuanYang-cn commented on #17053
Tested on f93e5a7d42fdf0aa53f3336ec3782a8dfd546bed, QueryCoord is recovered

@yah01 is this normal?
[code]

[2022-05-24 02:16] binbinlv opened #17176 "[Bug]: [kafka] Query result is not empty after deletion operation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Query result is not empty after deletion operation

FAILED cases:
[code]

### Expected Behavior

Query result is empty after deletion operation

### Steps To Reproduce

Nightly:
https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-nightl

[2022-05-24 02:17] yuzujin opened #17177 "Failed to load index file: DISK2CPU in Mishards"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

read only machine error log:

[2022-05-23 17:38:15,103][ERROR][SERVER][TakeToExecute][reqsched_thread] Request failed with code: Error code(30001): Failed to load index file: DISK2CPU : Failed to load deleted docs from /var/lib/milvus/db/tables/1653219874586826000/165

[2022-05-24 02:18] XuanYang-cn commented on #17053
/unassign

[2022-05-24 02:19] yanliang567 commented on #17177
@yuzujin could you please add a title for the issue, and provide the reproduce steps?

/assign @yuzujin
unassign

[2022-05-24 02:20] yanliang567 commented on #17177
/unassign

/assign @yhmo

[2022-05-24 02:26] binbinlv opened #17178 "[Bug]: [kafka] Search id is wrong after compaction and deletion"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search id is wrong after compaction and deletion

[code]

### Expected Behavior

Search id is right after compaction and deletion

### Steps To Reproduce

[code]

### Milvus Log

1. milvus log:
[artifacts-milvus-distributed-kafka-master-548-pymilvus-e2e-logs.tar.gz](h

[2022-05-24 02:33] binbinlv commented on #17176
It appears in the latest 2 nightly, so set it as critical.

[2022-05-24 02:59] xiaofan-luan commented on #17174
@jaime0815 this not a issue.
I guess the original QueryNode ID 4 crash and we bring in a new one

[2022-05-24 03:00] xiaofan-luan commented on #17174
we only specify querynode by its ID but not ip address

[2022-05-24 03:11] yuzujin commented on #17177
reproduce steps:
My cluster contains two instances: A -  rw node （where mishards started，and shared storage），B- ro node
when i run seach() command, mishards log show routing B, then error happened:
<img width="838" alt="image" src="https://user-images.githubusercontent.com/4321588/169941124-c7b38240-0b80-4043-8f3e-13fd1c448ce4.png">

Search failed.  Status(code=1, message='Failed to load index fil

[2022-05-24 03:17] XuanYang-cn commented on #15769
/assign @soothing-rain

[2022-05-24 03:31] congqixia commented on #15782
nightly 540 proxy restarted due to antlr issue, which is fixed by #17129. Last several nightly did not reproduce, could you please verify?
/unassign
/assign @binbinlv

[2022-05-24 03:34] binbinlv commented on #15782
It has not been  reproduced for the last several nightly, fixed and closed.

[2022-05-24 03:34] #15782 closed

[2022-05-24 03:36] binbinlv commented on #13045
It has not been reproduced for a period of time, so close it first and will reopen it if it occurs in the future.

[2022-05-24 03:40] jaime0815 commented on #16961
the following failed cases seem related to this issue,  the root causes are 'Query result is not empty' apart from test_compact_search_after_delete_channel case

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/548/pipeline/

[code]

[2022-05-24 03:42] jaime0815 commented on #17176
#16961 same issue

[2022-05-24 03:46] jingkl opened #17180 "[Bug]: [benchmark][cluster]Milvus rootcood kills pod reboot when memory limit is exceeded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo
benchmark-tag-no-clean-6hdqk-1
server-configmap
server-cluster-8c64m-dc200mi-rc200mi
client-configmap
client-random-locust-100m-ddl-r8-w2

<img width="1347" alt="截屏2022-05-24 09 58 12" src="https://user-images.githubusercontent.com/34296482/169944270-2d3c7dbc-1af

[2022-05-24 03:50] jaime0815 commented on #17174
Querycoord communicates with QueryNode by IP address,  it may cause some issues if the different querynode use the same IP address

[2022-05-24 03:55] minleminzui opened #17181 "build error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

when I build the milvus, I encountered  the following errors
![image](https://user-images.githubusercontent.com/54172054/169945436-becc8893-2fef-405d-8a35-dc3019e5b61c.png)
actually，I don't know how to modify the cmake file to solve this problem
thanks

### Expected B

[2022-05-24 04:05] #17087 closed

[2022-05-24 04:18] letian-jiang commented on #17098
A quick fix to catch up with the release of 2.1 would be
* proxy keeps retry search/query service until context timeout
* if timeout, return timeout exception indicating "the service is unavailable temporally, please retry later"

[2022-05-24 04:43] haorenfsa commented on #16611
/reopen

[2022-05-24 05:00] xiaofan-luan commented on #16961
Does this happened only for kafka or for pulsar also? I guess xi-ge xi working on the delete fix

[2022-05-24 05:04] xiaofan-luan commented on #17174
It shouldn't happen, because querynode with same ip and port can not exist at the same time due to each port can be only registed by one process
The old querynode is possibly crashed, you should check if querynode 4 and 9 process still exists.

[2022-05-24 05:51] xiaofan-luan commented on #17181
@minleminzui hi there, how do you compile milvus? this seems to be only a warning, any fatal errors?

[2022-05-24 05:53] xiaofan-luan commented on #17178
so it's saying that after compaction search result distance is ok but id is incorrect?

[2022-05-24 05:55] xiaofan-luan commented on #17176
consistency might be the reason of the issue, but need further investigation, any idea why we not open those issues in nightly regression before? @binbinlv

[2022-05-24 05:57] minleminzui commented on #17181
there are all the content of the log [error.log](https://paste.ubuntu.com/p/5VjrrVdrf2/)
thanks

[2022-05-24 05:59] minleminzui commented on #17181
@xiaofan-luan

[2022-05-24 06:00] minleminzui commented on #17181
I compiled milvus in this way
![image](https://user-images.githubusercontent.com/54172054/169959595-667786f0-d30e-4bca-a2fb-abaf3890ec44.png)

[2022-05-24 06:16] yanliang567 commented on #17181
/assign @xiaofan-luan
/unassign

[2022-05-24 06:20] yanliang567 commented on #17180
The related issue #15658, which is about rootcoord memory usage is always increasing, and this issue is about OOM when the memory usage increased to limitation.

[2022-05-24 06:26] binbinlv commented on #17176
@xiaofan-luan
Actually, there is a similar issue  #16961.

And from the comments in #16961, we could know the delete issue occurs in the nightly (pulsar) was ever fixed by gexi and has not been reproduced for a period of time. But as the latest comment of #16961, it occurs again for one time in pulsar, but the latest yesterday nightly, it is OK, so in pulsar nightly, this issue is randomly reprodu

[2022-05-24 06:28] binbinlv commented on #16961
Please refer to the latest comments of issue #17176

[2022-05-24 06:47] soothing-rain commented on #17142
Oops. Step4 should be to stop and restart the cluster.

I have updated the steps.

[2022-05-24 06:56] binbinlv commented on #17178
The error here says some searched ids which has been deleted, but it still could be searched as return.

I think here the root cause may be "delete issue" too.

I open this issue just for confirmation because the phenomenon is a little different in case of different reason. But actually, this case also includes delete operation.

Thanks.

[2022-05-24 07:13] jaime0815 commented on #17178
the root cause is similar to xige description within #16961.

[2022-05-24 07:14] xiaofan-luan commented on #17165
what is singularity? any inputs?

[2022-05-24 07:15] xiaofan-luan commented on #17174
we should never support register two querynode with same IP, even if the port is different

[2022-05-24 07:23] longjiquan commented on #17181
@minleminzui It seems that we missed some softwares in our `scripts/install_deps.sh`. Could you please install the below softwares first? I'll fix the `install_deps.sh` soon.

[code]

[2022-05-24 07:25] minleminzui commented on #17181
@longjiquan  sure, thanks

[2022-05-24 07:35] qi49125 opened #17187 "[Bug]: QueryNode Restarts Due to Query Operations"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

QueryNode Restarts Due to Query Operations

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

Before querying---》
[2022/05/24 06:42:15.095 +00:00] [INFO] [query_collection.go:444] ["Successfully changed global sealed segment

[2022-05-24 07:36] xige-16 commented on #16961
It is not the same as the delete problem in segcore. From the log of jaimie0815, querynode has not received the delete message from delta channel.

[2022-05-24 07:39] czs007 opened #17188 "[Enhancement]: Simplify the merge logic of searchTask"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Delete the Origin Placeholder Groups variable in searchTask.
The `originTasks` in searchTask is renamed to `otherTasks` and does not store itself.

### Why is this needed?

Code readability matters

### Anything else?

_No response_

[2022-05-24 07:47] soothing-rain commented on #16600
No, 32 is the hard limit.

/unassign
/assign @yanliang567

[2022-05-24 07:52] skye95git commented on #17165
Singularity is a container used on supercomputing clusters, similar to Docker.
Or do you have a Docker image of Milvus? I can convert the Docker image into a Singularity image.

[2022-05-24 08:06] minleminzui commented on #17181
it works,  but when I wanted to run milvus in [this way](https://milvus.io/cn/docs/v2.0.x/example_code.md) , I encountered another problem
![image](https://user-images.githubusercontent.com/54172054/169981682-32659a56-328b-4be6-ae32-8b18b3e0daca.png)

[2022-05-24 08:12] soothing-rain commented on #16353
/unassign

[2022-05-24 08:16] longjiquan commented on #17181
@minleminzui You can disable the http proxy and https proxy and then retry this.

[2022-05-24 08:20] minleminzui commented on #17181
thanks, but it still can't work
![image](https://user-images.githubusercontent.com/54172054/169984526-ed8b70fa-9b8e-4825-894f-9a6b49f6a83d.png)

[2022-05-24 08:24] longjiquan commented on #17181
@minleminzui can you provide the log of the Milvus server?

[2022-05-24 08:36] longjiquan commented on #15583
@wangting0128 Multithreading is not well-supported by Python GRPC, maybe you can try using multi-process.

[2022-05-24 08:38] longjiquan commented on #15583
The insert latency in Proxy side was stable as below:
![insert-proxy](https://user-images.githubusercontent.com/31589260/169988323-8724d4ca-47d0-4a7b-bf3e-c49b833e2cf4.png)

[2022-05-24 08:39] longjiquan commented on #15583
I also tested this case using go-sdk, also stable.
![gosdk-insert](https://user-images.githubusercontent.com/31589260/169988465-67282f2a-adae-4adf-933a-273b89b3da9d.png)
![gosdk-search](https://user-images.githubusercontent.com/31589260/169988478-4d9fb9a3-f678-4d0a-8d73-74c65818c336.png)

[2022-05-24 08:45] yanliang567 commented on #16600
okay，I will test it again. As long as the task queue will be cleanup, it is okay.

[2022-05-24 09:08] minleminzui commented on #17181
sorry，I don't konw how to run milvus server after compiling source code, actually，after `apt get install lcov libtool m4 autoconf automake`, I got the [build.log](https://paste.ubuntu.com/p/yCxB2P98tw/), does it mean that I built milvus successfully?  And I find a blog which build milvus in another way and start milvus server. Is this blog correct?thanks.

[2022-05-24 09:17] longjiquan commented on #17181
Yeah, it's right to tell developers or users to build Milvus from source code. But after Milvus was built, you then need to run Milvus.

[2022-05-24 09:20] longjiquan commented on #17181
@minleminzui Maybe you can refer to https://github.com/milvus-io/milvus/blob/master/DEVELOPMENT.md#e2e-tests to deploy Milvus.

[2022-05-24 09:33] longjiquan commented on #16961
inversitigating this
/assign

[2022-05-24 09:43] zhuwenxing commented on #16932
Verified and passed in version `master-20220524-a0cef3a0`

[2022-05-24 09:43] #16932 closed

[2022-05-24 09:50] nexttonever opened #17191 "[Bug]: service node registers wrong ip in cluster"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After I deployed a cluster via docker stack, a connection timeout error occurs when i do a query request via attu.
I found an error log in querynode:
[code]

my understanding is that querynode try to connect to proxy (10.0.0.8:19530), but failed becacuse the ip is not

[2022-05-24 10:04] minleminzui commented on #17181
I change the source code locally,  could you tell me which commands or shell scripts should I execute to run miluvs after I built the mlivus? I am attending the [ospp](https://summer-ospp.ac.cn/#/org/prodetail/227410327), I need to contibute some code to milvus when I apply for this project successfully. Thanks.

[2022-05-24 10:31] StevenSama commented on #17122
https://drive.google.com/file/d/1em4glLpD29wF3tx7Rxz2ojOKNeeMBUWl/view?usp=sharing

[2022-05-24 10:31] zhuwenxing commented on #16933
Not reproduced in version `master-20220524-a0cef3a0`.
If there is any fix, please comment here @xiaocai2333

[2022-05-24 10:32] StevenSama commented on #17122
memery useage:
![image](https://user-images.githubusercontent.com/6235700/170011888-8dfdb736-3ed1-4e26-88c4-2ebc66123ae5.png)

[2022-05-24 10:32] qi49125 commented on #17187
！！！！！querynode  error log：-----》
fatal error: unexpected signal during runtime execution
[signal SIGSEGV: segmentation violation code=0x80 addr=0x0 pc=0x7fc3811f6250]

runtime stack:
runtime.throw(0x33d1e55, 0x2a)
	/usr/local/go/src/runtime/panic.go:1117 +0x72
runtime.sigpanic()
	/usr/local/go/src/runtime/signal_unix.go:718 +0x2e5

goroutine 255146 [syscall]:
runtime.cgocall(0x1c6d1b9, 0xc00183dce

[2022-05-24 11:19] longjiquan commented on #17181
[code]

[2022-05-24 11:36] nexttonever opened #17193 "[Bug]: num_entities is wrong after delete or upsert"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

as the title said.

this is the test script, copied from pymilvs doc:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-05-24 11:48] yanliang567 commented on #17193
this is a known issue in milvus 2.0.2, which is complicated and going to be fixed by some refactor work in 2.2 or later.
In short, the num_entities is not precise after deletion.

[2022-05-24 11:49] yanliang567 commented on #17193
/assign @nexttonever
/unassign

[2022-05-24 12:00] yanliang567 commented on #17122
@xige-16 could you please take a deep look into the logs?
/assign @xige-16

@StevenSama I did not see coredump or panic errors in the logs. I guess Milvus did not crash yet becuase the log ends at 2022/05/24 18:20:08.144 +08:00, and the memery usage diagram above shows it was still runing after 18:25:46. Could you please use this [script](https://github.com/milvus-io/milvus/tree/master/deployments

[2022-05-24 12:18] qi49125 commented on #17187
search param:
{"output_fields":["milvusId"],"expr":"","search_params":{"params":"{\"nprobe\":1,\"round_decimal\":-1}","anns_field":"vector","topk":100,"metric_type":"L2","round_decimal":-1},"vectors":[[0.65968496,0.030269468,-0.03639686,-0.3357165,0.6088136,0.22190914,-0.12005458,-0.21627632,-0.44613105,0.5602194,-0.029918933,-0.3854795,-0.05301647,0.14645949,0.70012385,0.4735078,-0.35696545,0.037

[2022-05-24 12:29] longjiquan commented on #17187
@qi49125 did you create any index?

[2022-05-24 12:32] longjiquan commented on #17187
Could you please grep "load field done", "load deleted record done" and "updateSegmentIndex done" in the log? @qi49125

[2022-05-24 12:33] yanliang567 commented on #17187
/assign @longjiquan
/unassign

[2022-05-24 12:39] aakejiang commented on #16657
[code]
From above logs, we know there are no segments for both historical and streaming query to search.

That's why the log shows there are no result for the search:
[code]

There are only 3,694 records total, and there is only growing segment for the collection, so let's find why there are no "searched segmentIDs" for "streaming search".

[code]

From the logs above, we know there are always a "

[2022-05-24 12:54] xiaofan-luan commented on #17122
during the query,adding or deleteing the entities
How many entities are we adding/deleting?
delete in milvus is logic delete, and will be purged after 7 days, and if you insert very often you should see the memory consumption increase

[2022-05-24 13:28] #17188 closed

[2022-05-24 13:36] aakejiang commented on #16657
The queryCollections map used in watchDmChannelsTask is filled in addQueryChannelTask. While watchDmChannelsTask executes before addQueryChannelTask. That causes method getQueryCollection always return error.

[code]

[2022-05-24 18:01] congqixia opened #17197 "[Bug]: QueryCoord Unittest found data race"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Data race in QueryCoord unit test

### Expected Behavior

Unittests passes without data race

### Steps To Reproduce

_No response_

### Milvus Log

[code]

### Anything else?

_No response_

[2022-05-24 18:07] Perfeee commented on #17172
@yanliang567 thank you for reply, i have solved this problem after the upgrade and resetting  the port number.

[2022-05-24 18:40] congqixia opened #17199 "[Bug]: Datacoord ChannelManager unittest fails randomly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Datacoord ChannelManager unittest fails randomly

### Expected Behavior

Unittest passes.

### Steps To Reproduce

_No response_

### Milvus Log

[code]

### Anything else?

https://github.com/milvus-io/milvus/runs/6579083074?check_suite_focus=true

[2022-05-24 19:03] #16101 closed

[2022-05-25 01:11] yanliang567 commented on #17199
/assign @congqixia
/unassign

[2022-05-25 01:12] yanliang567 commented on #17172
great, i will close this issue now.

[2022-05-25 01:12] #17172 closed

[2022-05-25 01:54] longjiquan commented on #17181
Can you provide the way how you deploy Milvus in details? @minleminzui

[2022-05-25 01:57] jingkl commented on #17180
datacoord also kills the pod directly after the memory is increased to the limit, and then restarts

<img width="1344" alt="截屏2022-05-25 09 55 35" src="https://user-images.githubusercontent.com/34296482/170162905-e1696770-6539-420a-b990-5c48a7d5585e.png">
[code]

[2022-05-25 02:01] longjiquan opened #17201 "[Bug]: ut Test_NewServer_TLS failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://github.com/milvus-io/milvus/runs/6569041998?check_suite_focus=true

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-05-25 02:09] zhuwenxing opened #17203 "[Bug]: Search failed with error message `fail to Search, QueryNode ID=11, reason=channel xxx leader is not here` after querynode pod failure chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

search raise error when running `hello_milvus.py` after querynode pod failure chaos
collection name: `hello_milvus`

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: https://github.com/milvus-io/milvus/r

[2022-05-25 02:12] zhuwenxing commented on #17203
It passed when running `test_e2e.py` after chaos but failed when running `hello_milvus.py`.
so it works well for the new collection, but not well for the old collections.

[2022-05-25 02:17] yanliang567 commented on #17203
@congqixia could you please help to take a look at this issue?

/assign @congqixia
/unassign

[2022-05-25 02:18] nexttonever commented on #17191
@LoveEachDay
说英文真累，我说中文吧。

实际上我没打算设置多个网卡，那是docker swarm自动设置的。
如果将网络改为host模式，那么宿主机又是有多张网卡的，又要出问题。

所以可以指定一个配置项么？比如给proxy指定一个发布ip，或者发布域名，覆盖“随机选择”的逻辑。

[2022-05-25 02:18] yanliang567 commented on #17201
@longjiquan i think you are working on fix

/assign @longjiquan
/unassign

[2022-05-25 02:24] nexttonever commented on #17193
Got it

[2022-05-25 02:26] minleminzui commented on #17181
The following script is the way how I deploy Milvus. Thanks.
[code]

[2022-05-25 02:43] #17197 closed

[2022-05-25 02:46] qi49125 commented on #17187
yes， IVF_SQ8

[2022-05-25 02:47] qi49125 commented on #17187
[2022/05/24 07:37:35.226 +00:00] [DEBUG] [load_index_info.go:111] ["index key"=IVF_0]
[2022/05/24 07:37:35.230 +00:00] [DEBUG] [load_index_info.go:111] ["index key"=IVF_1]
[2022/05/24 07:37:35.233 +00:00] [DEBUG] [load_index_info.go:111] ["index key"=IVF_10]
[2022/05/24 07:37:35.236 +00:00] [DEBUG] [load_index_info.go:111] ["index key"=IVF_11]
[2022/05/24 07:37:35.239 +00:00] [DEBUG] [load_index_i

[2022-05-25 03:04] soothing-rain commented on #16821
/unassign
/assign @xiaofan-luan

[2022-05-25 03:07] soothing-rain commented on #16426
Oops, the previous assign failed :)

/assign @wayblink

[2022-05-25 03:08] XuanYang-cn commented on #15769
This is the search-channel backlog problem, we removed the search-channel in 2.1 so this should not be a problem right now, closing this issue.

[2022-05-25 03:08] #15769 closed

[2022-05-25 03:09] yuzujin commented on #17177
Is it because the read node cannot access the shared storage? @yhmo

[2022-05-25 03:09] soothing-rain commented on #16674
We are changing file size limit to 1 Gigabytes.

The other topic about 32 tasks as a limit is resolved in a different issue.

/unassign
/assign @yanliang567

[2022-05-25 03:10] #16473 closed

[2022-05-25 03:15] wangting0128 commented on #17072
argo task: benchmark-backup-sh9wj

test yaml:
client-configmap:client-random-locust-search-filter-100m-ddl-r8-w2-replica2
server-configmap:server-cluster-8c64m-querynode2

server:
[code]

client pod: benchmark-backup-sh9wj-2308669017

client log file: locust_report_2022-05-24_648.log

client log:
[code]

[2022-05-25 03:26] xiaocai2333 commented on #16933
maybe similar as #16932
If reproduce it , comment here.

[2022-05-25 03:32] ThreadDao commented on #16612
/reopen

[2022-05-25 03:41] czs007 opened #17204 "[Enhancement]: Add metrics for proxy and querynode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

When refactoring querynode before, some metrics were lost, they are:

ProxyDecodeResultLatency  for query
ProxyReduceResultLatency  for query (always zero for now)

QueryNodeSQCount   // counter for search/query request arrived in querynode
QueryNodeSQReqLatency //  Time spent

[2022-05-25 03:55] czs007 opened #17207 "[Enhancement]: Add shard leader grpc client cache in proxy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Currently, when the proxy forwards query requests to the shard leader,  a new grpc link is created every time.
When there are many requests, this will become a bottleneck.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-05-25 04:06] ThreadDao commented on #15368
In my opinion, it is currently permissible if the node can restart successfully after increasing the memory limit.  Because now the datanode does not do the memory check work. I close

[2022-05-25 04:06] #15368 closed

[2022-05-25 04:11] czs007 opened #17209 "[Enhancement]: Improve search grouping decision logic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

When judging whether the search can be grouped, it is also necessary to check whether the `SearchParams` are the same, such as `nprobe`, `efSearch` and other parameters.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-05-25 04:24] #16513 closed

[2022-05-25 05:09] xiaofan-luan commented on #16821
close it for now. rest of the loading issue is assigned to @xige-16

[2022-05-25 05:09] #16821 closed

[2022-05-25 05:11] xiaofan-luan commented on #17181
you probably need to change milvus.yaml and set the disk directory to where you want to

[2022-05-25 05:12] xiaofan-luan commented on #17181
by default it is under /var directory and you might not has the access to this directory

[2022-05-25 05:17] congqixia opened #17210 "[Bug]: Unittest panicks due to grpc server stopped"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Unit test fails in `github.com/milvus-io/milvus/internal/distributed/proxy` package many times

### Expected Behavior

Unit tests passes

### Steps To Reproduce

_No response_

### Milvus Log

[code]

### Anything else?

Recent run:
https://github.com/milvus-io/milvus

[2022-05-25 05:22] xiaofan-luan commented on #17174
I guess we doesn't need to, and we should assume two pod would share the same ip.

[2022-05-25 05:24] xiaofan-luan commented on #17165
Sure we do~ most of scripts are under scripts dir, thought @LoveEachDay could help you on it~

[2022-05-25 05:26] xiaofan-luan commented on #17209
might we just pick the largest of all?

[2022-05-25 06:20] StevenSama commented on #17122
About 100 or so, very few

[2022-05-25 06:23] StevenSama commented on #17122
Although there is no coredump yet, it will definitely be coredump if I continue to run. It is difficult for me to obtain logs after coredump.

[2022-05-25 06:34] longjiquan opened #17212 "[Bug]: TestLoadBalanceIndexedSegmentsAfterNodeDown times out"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://pipelines.actions.githubusercontent.com/serviceHosts/c158e734-3f62-428e-85f8-58d396bf553e/_apis/pipelines/1/runs/61247/signedlogcontent/2?urlExpires=2022-05-25T06%3A21%3A28.3993207Z&urlSigningMethod=HMACV1&urlSignature=aQznq1qk5ocMHK7cKFvaQN%2FDYFwwAkgw7VruCdo

[2022-05-25 06:45] longjiquan commented on #17212
It will be nice if you could help to fix this issue. @congqixia
/assign @congqixia

[2022-05-25 07:06] longjiquan commented on #17181
Maybe it's not the wrong configuration caused this issue., by default local storage is disabled.
I googled some blogs, some of them said you should correct your time of computer.

[2022-05-25 07:07] StevenSama commented on #17122
![image](https://user-images.githubusercontent.com/6235700/170201329-2e1f7feb-82a0-40ad-924c-a9531d7f4b3d.png)
After stopping the insertion, after stopping the query, the memory remains balanced, and the query is started again, and the memory increases all the way！

[2022-05-25 07:21] congqixia commented on #17072
@wangting0128 previous pr did not completely solve the problem. The new one shall fix that. Could you please verify in the next run?
/unassign @congqixia @XuanYang-cn
/assign @wangting0128

[2022-05-25 07:37] congqixia opened #17215 "[Enhancement]: Reduce the unit test running time"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Reduce the unit test running time

### Why is this needed?

There are some unit test case need tens of seconds event minutes to completed. These case shall be optimized to reduce development difficulty and the chances of ut timeout

### Anything else?

Some possible targets(fr

[2022-05-25 07:44] yah01 commented on #16627
@zhuwenxing
this should be totally fixed by #17190 which just been merged

[2022-05-25 07:52] congqixia commented on #17212
@longjiquan the link in the issue description may be temporary, I guess the universal link of the action shall be the following one?
https://github.com/milvus-io/milvus/runs/6585649979?check_suite_focus=true

[2022-05-25 07:57] longjiquan commented on #17212
Yes, my mistake.

[2022-05-25 08:20] soothing-rain commented on #16288
/unassign
/assign @zhuwenxing can you help verify this fix?

[2022-05-25 08:21] soothing-rain commented on #16288
/unassign
/assign @zhuwenxing

can you help verify this fix?

[2022-05-25 08:42] XuanYang-cn commented on #16114
From my tests, it's not because disk-stress. The recovery of disk stress is simple and straightforward, both down and both up.

I guess the frequent restart is the cause, try to reproduce now

[2022-05-25 08:57] longjiquan commented on #16961
Did the minio pod still be kept? It will be easier if we can get the delta logs and the bloom filter flushed to minio. @binbinlv

According to the test case, insert -> delete (pk "0") -> flush -> load -> insert -> delete(no pk will be filtered) -> query.
So there will be two sealed segments and two growing segments.
In this case, we don't need to care growing segments from the log, since this case

[2022-05-25 08:59] xiaofan-luan commented on #16657
Good catch, we just to make sure 2.1 doesn't exist the same issue then I will close the issue for now

[2022-05-25 09:08] congqixia commented on #16291
Close as completed

[2022-05-25 09:08] #16291 closed

[2022-05-25 09:34] XuanYang-cn commented on #16114
[code]

When unable to set to release, DataCoord should directly clear the subscription

[2022-05-25 09:48] Igoslow opened #17220 "[Bug]: The amount of data inserted each time cannot exceed 256 MB"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

use MilvusDM 1.0

when Milvus data to Milvus data, we find a problem. Please help me, Thank you very much

![image](https://user-images.githubusercontent.com/23188838/170233256-41f76382-7d7c-4a0c-ac21-49c9ae13ab98.png)

### Expected Behavior

ad

### Steps To Reproduc

[2022-05-25 09:52] yanliang567 commented on #17220
@yhmo I think this is a limitation of insert. Could you please help to double confirm?

/assign @yhmo
/unassign

[2022-05-25 10:33] zhuwenxing commented on #16842
failed job: https://github.com/zhuwenxing/milvus/runs/6589976754?check_suite_focus=true
log: https://github.com/zhuwenxing/milvus/suites/6652378448/artifacts/251439696

[2022-05-25 10:40] zhuwenxing commented on #16933
Not reproduced, so close it

[2022-05-25 10:40] #16933 closed

[2022-05-25 11:25] xiaofan-luan commented on #16114
Does that means we simply missed deregister task if datanode and datacoord down at the same time?
I guess the easiest way to fix is scan all the channel and trigger deregister if some of the channel is on dead datanode

[2022-05-25 11:34] xiaofan-luan commented on #16636
/reopen

[2022-05-25 12:42] xiaocai2333 commented on #16842
The latest issue same as #16265 .

[2022-05-25 13:17] qi49125 commented on #17187
During the search, some search nodes are not suspended.
[2022/05/25 11:46:02.545 +00:00] [INFO] [query_collection.go:444] ["Successfully changed global sealed segment info "] ["collection "=432520058327793665] ["online segments "="[{\"segmentID\":433078163611582465,\"collectionID\":432520058327793665,\"partitionID\":432601776240984065,\"nodeID\":668,\"segment_state\":3}]"] ["offline segments "=nul

[2022-05-25 13:36] #16505 closed

[2022-05-25 13:36] #15628 closed

[2022-05-25 13:36] #15604 closed

[2022-05-25 13:55] qi49125 commented on #17187
attu --->
QueryNode search fail, reason [UnexpectedError] Assert "adapter->CheckSearch(conf, index_type, field_indexing->indexing_->index_mode())" at /go/src/github.com/milvus-io/milvus/internal/core/src/query/SearchOnSealed.cpp:91 => [SearchOnSealed]Search params check failed : id 433444925212736100

[2022-05-25 14:12] #16796 closed

[2022-05-25 14:45] qi49125 commented on #17187
querynode load data to mem---->
[2022/05/25 14:42:34.670 +00:00] [DEBUG] [impl.go:345] ["loadSegmentsTask WaitToFinish done"] [collectionID=432520058327793665] [segmentIDs="[432542019808395265,433086368010993665,432543364331864069,432542929998577665,432543007921143809,432543553049329665,432543303291633665,433203606702522374]"] [nodeID=747][2022/05/25 14:42:50.279 +00:00] [DEBUG] [impl.go:279] ["wa

[2022-05-25 17:19] eric-roland opened #17226 "[Bug]: grpc RpcError"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I inserted several thousand row into Milvus. It was working that day and when I tried it the next day and I received this error:

ERROR: grpc RpcError: [describe_collection], <_MultiThreadedRendezvous: StatusCode.UNAVAILABLE, Socket closed>, <Time:{'RPC start': '2022-

[2022-05-26 01:31] yanliang567 commented on #17226
@eric-roland  thank you for the issue. One quick question: did you stop/reboot Milvus service before the next day you retry it? Could you please help to upload the completed milvus logs for investigation? You can use this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export Milvus logs

/assign @eric-roland
/unassign

[2022-05-26 01:45] binbinlv commented on #16961
@longjiquan

It is reproduced in the following nightly, and the environment has been kept, and please let me know if you have finished using the environment, then I need to clean it, thanks.

https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-nightly-ci/branches/master/runs/551/nodes/64/steps/178/log/?start=0

logs:
[artifacts-milvus-distributed-kafka-master-551-py

[2022-05-26 02:14] bigsheeper commented on #16943
for `argo task: benchmark-cron-1652371200`:

**DataCoord**:
[code]

**QueryCoord**:
[code]

All the compononets are stopped because connot connect to pulsar broker.

[2022-05-26 02:15] zhuwenxing commented on #16842
If add sleep time between two deployments, this issue will not happen.
see https://github.com/zhuwenxing/milvus/runs/6602863639?check_suite_focus=true.

So the problem may be that while the index creation task was running in the background, the Milvus upgrade interrupted the task, and after the upgrade, the failed index creation task did not resume, causing the load to fail.

But add some waiting

[2022-05-26 02:16] bigsheeper commented on #16943
It seems that Pulsar isn't ready

[2022-05-26 02:19] qi49125 commented on #17187
querynode down---》
goroutine 1585 [IO wait]:
internal/poll.runtime_pollWait(0x7ff7774aef98, 0x72, 0xffffffffffffffff)
/usr/local/go/src/runtime/netpoll.go:222 +0x55
internal/poll.(*pollDesc).wait(0xc0008be298, 0x72, 0x3400, 0x34ae, 0xffffffffffffffff)
/usr/local/go/src/internal/poll/fd_poll_runtime.go:87 +0x45
internal/poll.(*pollDesc).waitRead(...)
/usr/local/go/src/internal/poll/fd_poll_runtime.

[2022-05-26 02:23] zhuwenxing commented on #16842
@yanliang567
@xiaofan-luan

Do you think this issue is still a bug? Can it be closed?
It should be reasonable to wait for background tasks to finish before upgrading.
The point that could be optimized is to provide an interface that tells the user whether there are background tasks currently executing and whether the upgrade operation can be performed.

[2022-05-26 02:24] yhmo commented on #17220
@Igoslow
The v1.x has a limitation that data size of each insert request must be less than 256MB.
You need to split the data to be multiple parts and call insert() by several times.

[2022-05-26 02:27] yanliang567 commented on #16842
@zhuwenxing what happens if a unscheduled reboot occurs instead of a planned upgrade? Also we are using k8s to upgrade milvus image, so I don't think it would be gracefully wait for the background tasks. In short, i think this is a bug and we shall fix it.

[2022-05-26 02:31] zhuwenxing commented on #16842
This should have been fixed in master branch

[2022-05-26 02:31] xiaocai2333 commented on #16842
This bug is on v2.0.2, fix it on v2.0.2? @yanliang567

[2022-05-26 02:35] yhmo commented on #17177
Maybe same problem with this issue: #13988

Seems the reason is:
Write node cannot know whether a segment is still used by other read-only nodes, it always delete a segment after it was marked as "to-delete" 10 seconds later. So ,with high frequency search actions, some search latency may exceed 10 seconds, the rad-only node cannot load required files since the segment has been deleted by write no

[2022-05-26 02:38] yanliang567 commented on #16842
I think we could cherry pick the fix to 2.0.3 branch, if it is not complicated.

[2022-05-26 02:40] zhuwenxing commented on #17203
This issue is stably reproduced.
https://github.com/milvus-io/milvus/runs/6598903599?check_suite_focus=true

[2022-05-26 02:43] yhmo commented on #17158
The error "GetObject: NoSuchKey: The specified key does not exist. with address : xxx.xxx.xxx.xxx" is returned by S3 GetObject() interface. Seems the milvus failed to access S3, or something is wrong with the S3 configurations. Milvus cannot read data from S3 storage, so the file size is "0".

[2022-05-26 02:52] longjiquan commented on #16961
[code]

[2022-05-26 02:53] longjiquan commented on #16961
For failed case `test_delete_sealed_data_channel_delete_with_string`, querynode didn't receive delete message.

[2022-05-26 03:01] StevenSama commented on #17122
public class MilvusUtilsConsole extends BaseConsole {

	static ExecutorService exec;
	static Boolean isDone;
	static String host;
	static String port;
	static String collectionName;
	static String cmd;
	static String param;

	public static void main(String[] args) {
		init(args);
		Tick tick = new Tick();
		tick.tick();
		host = ConsoleArgs.getArg("host");
		port = ConsoleArgs.getArg("port");
		co

[2022-05-26 03:02] StevenSama commented on #17122
public class MilvusUtilsConsole extends BaseConsole {

	static ExecutorService exec;
	static Boolean isDone;
	static String host;
	static String port;
	static String collectionName;
	static String cmd;
	static String param;

	public static void main(String[] args) {
		init(args);
		Tick tick = new Tick();
		tick.tick();
		host = ConsoleArgs.getArg("host");
		port = ConsoleArgs.getArg("port");
		co

[2022-05-26 03:03] StevenSama commented on #17122
everything works fine if i don't delete it at query time via javasdk

[2022-05-26 03:04] bigsheeper commented on #16943
Zookeeper：
[code]

Zookeeper cannot open channel at election address, and didn't recover because it keep sending health check command.

[2022-05-26 03:04] StevenSama commented on #17122
It is very easy to reproduce, as long as you use javasdk to make changes when querying, even if you only change dozens of vectors

[2022-05-26 03:08] bigsheeper commented on #16943
broker:
[code]

[2022-05-26 03:11] bigsheeper commented on #16943
I think add more pulsar broker may relieve this problem

[2022-05-26 03:29] ownbylichaobao commented on #16451
same case ,any update on this?

[2022-05-26 03:32] soothing-rain commented on #16451
Hey we just fixed this and are currently verifying it.

Expect this fix during the upcoming 2.1 release.

[2022-05-26 03:38] congqixia commented on #17099
@zhuwenxing After #17185 is merged, previous etcd event blocking issue shall be fixed. Could you please verify this problem still exists?
/unassign

[2022-05-26 03:40] XuanYang-cn commented on #16114
@xiaofan-luan This's not the problem. In my test, DataNode restarts several times but DataCoord stays healthy.

**Because the detection of Node offline may take a while, and the detection of a new Node online happens immediately**, when a new Node is online, DataCoord thinks there're 2 alive Nodes available, and starts to balance the channels. This balance is triggered by `register node`. And we'r

[2022-05-26 03:50] longjiquan commented on #17201
Fixed by #17208

[2022-05-26 03:50] #17201 closed

[2022-05-26 04:10] yanliang567 commented on #17122
@ThreadDao could you please help to reproduce it with pymilvus as suggested above?

/assign @ThreadDao

[2022-05-26 04:19] GitHua2017 commented on #17158
I just test on the standalone version before. And it do well on raw datas mergeing and other operations except creating index.
If I deploy the cluster by docker compose, how can I configture with S3? Do you have any guidance documents or references?

[2022-05-26 05:57] qi49125 commented on #17187
Invoke the Python API to load all partitions. The following error information is returned:
some partitions [432525061778571265 432536772681662465 432541907506167809 432542867805175809 432526620539224065 432536414802673665 432537255773732865 432520058354008065 432520296852619265 432523724490276865 432531566659108865 432531865332875265 432537330733809665 432520116838334465 432521274662846465 4325220

[2022-05-26 06:10] #15744 closed

[2022-05-26 06:10] #16949 closed

[2022-05-26 06:11] xige-16 commented on #16417
/unassign
/assign @ThreadDao

[2022-05-26 06:12] #17066 closed

[2022-05-26 06:15] xiaofan-luan opened #17228 "[Enhancement]: Replace payload writer from cgo arrow writer to pure go arrow writer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

We changed from cgo reader to go reader, and received notable performance improvement.

We should replace writer by using cgo writer and remove the dependency of cgo arrow

### Why is this needed?

1. Make it clean to read
2. Ready to run on all environment(Such as mac, M1)
3.

[2022-05-26 06:16] xige-16 commented on #16989
/unassign
/unassign @longjiquan
/assign @bigsheeper

[2022-05-26 06:26] minleminzui commented on #17181
thank you very much. It all works well.

[2022-05-26 06:26] #17181 closed

[2022-05-26 06:37] JackLCL commented on #17165
@skye95git
You can find the milvus docker image [here](https://hub.docker.com/r/milvusdb/milvus/tags).

[2022-05-26 06:52] qi49125 commented on #17187
[2022/05/24 07:36:48.430 +00:00] [DEBUG] [historical.go:124] ["no partition specified, search all partitions"] [collectionID=432520058327793665] ["all partitions"="[432520058327793666,432520058354008065,432520116838334465,432520296852619265,432520658008408065,432521274662846465,432522044907454465,432522045457956865,432522154680254465,432523724490276865,432525061778571265,432525394727665665,4325266

[2022-05-26 06:58] congqixia commented on #17215
/assign

[2022-05-26 07:00] congqixia commented on #17215
WIP list:

- [ ] TestLoadBalanceIndexedSegmentsAfterNodeDown(61.73s) #17229
- [ ] TestTask_watchDmChannelsTask/test_add_excluded_segment_for_flushed_segment (81.37s)
- [ ] TestTask_watchDmChannelsTask/test_add_excluded_segment_for_dropped_segment (81.36s)

[2022-05-26 07:08] congqixia commented on #16947
@soothing-rain the posted log happens after the collection released. Previous the segment with id 433333143667474433 loaded successfully:
[code]

[2022-05-26 07:28] XuanYang-cn commented on #16114
Here's a workable solution @xiaofan-luan . We can make un-subscription more powerful in DataCoord:

1. To deal with offline nodes problem,  whenever DC detects a DataNode offline, it'll use `pulsarctl` to find all subscriptions by the offline DataNode, and unsubscribe all the offline Nodes' subscriptions.
2. To deal with online Nodes  load balance `delete events release-failure`, DataCoord can che

[2022-05-26 07:29] binbinlv commented on #16961
And other two failed cases needs to be investigated:
[2022-05-25T16:10:58.134Z] FAILED testcases/test_delete.py::TestDeleteOperation::test_delete_flush_loop
[2022-05-25T16:10:58.134Z] FAILED testcases/test_delete.py::TestDeleteString::test_delete_flush_loop_with_string

1. testcases/test_delete.py::TestDeleteOperation::test_delete_flush_loop
collection name： delete_oBhL3NjS

2. testcases/test_dele

[2022-05-26 07:35] xige-16 commented on #17043
/unassign
/assign @zhuwenxing

[2022-05-26 07:36] zhuwenxing commented on #17043
verified and passed in version `master-20220526-56778787`

[2022-05-26 07:36] #17043 closed

[2022-05-26 08:08] xige-16 commented on #17067
verifyed

[2022-05-26 08:08] #17067 closed

[2022-05-26 08:08] xige-16 commented on #17176
/assign @longjiquan

[2022-05-26 08:13] ThreadDao opened #17231 "[Bug]: Only one replica is seen from query segment info after two replicas are loaded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Deploy cluster with 2 querynodes
2. Create collection with 2 shards
3. Insert 3000 entities
4. Load 1 replica
5. Load 2 replicas after release

There are two questions here：
1. Why is there no `nodeId` in segment info?
2. Why only one replica is loaded from the seg

[2022-05-26 08:16] yanliang567 commented on #17231
/assign @sunby
/unassign

[2022-05-26 08:50] angelapytao opened #17233 "[Bug]: data service DropVirtualChannel failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

```When etcd crash, then restart etcd. etcd recoveried. And restart Milvus cluster. datanode cannot get up.```

### Expected Behavior

When I restart datanode, datanode should get up.

### Steps To Reproduce

_No response_

### Milvus Log

[2022/05/26 07:50:12.215 +00

[2022-05-26 08:52] congqixia commented on #17203
Looks like the Shard leader inconsistent issue, maybe fixed by #17218

[2022-05-26 09:03] WangErXiao opened #17235 "[Bug]: grpc: addrConn.createTransport failed to connect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

i found error info from rootCoord.
as below:

`[2022/05/26 08:55:34.291 +00:00] [WARN] [grpclog.go:46] ["[core]grpc: addrConn.createTransport failed to connect to {xxx:31000 xxx:31000 <nil> 0 <nil>}. Err: connection error: desc = \"transport: Error while dialing dial

[2022-05-26 09:09] yah01 commented on #17231
/assign
Hi @ThreadDao
1. nodeId field is deprecated, the segment contains a new field nodeIds, which indicates all the nodes load the segment
2. the number of segment is not related to the number of replica, you can verify it by with the number of nodes in field nodeIds

[2022-05-26 09:10] yah01 commented on #17231
Please upgrade PyMilvus to pymilvus 2.1.0.dev66, which adds this new field

[2022-05-26 09:16] yanliang567 commented on #17235
seems that rootcoord was not able to connect to indexcoord at that time. if it always fails it would cause Milvus service down, but if it succeessfully connected at the end, it does not matter. @WangErXiao does your milvus running healthy now?

/assign @WangErXiao
unassign

[2022-05-26 09:19] yanliang567 commented on #17233
@zhuwenxing is this a known issue to us?
/assign @zhuwenxing

[2022-05-26 09:23] aakejiang opened #17236 "[Enhancement]: Support meta storing on database"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Metadata is now stored on Etcd. We will support options for storing metadata on database.

The parts of service discovery and data watch still on Etcd, we will support them in the near future.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-05-26 09:25] bigsheeper commented on #16941
for benchmark-cron-1652803200

1. **QueryNode2** is offline, and QueryCoord delete **QueryNode2** from cluster:
[code]

2. register a new **QueryNode9**:
[code]

3. QueryCoord start a `loadBalance` task, move Segments to **QueryNode9**, and this `loadBalance` task executed successfully:
[code]

However, when doing search and get shard leader, QueryCoord returns ShardReplicas, which `leaderID` are

[2022-05-26 09:28] congqixia opened #17237 "[Bug]: QueryCoord Stop block by on-going loadbalance task"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

`QueryCoord` stop maybe block by a loadbalance task if the related querynode also went offline.

### Expected Behavior

When `QueryCoord` stops, it shall notify all task to stop and not to block the whole shut down procedure.

### Steps To Reproduce

_No response_

##

[2022-05-26 09:28] congqixia commented on #17237
/assign @sunby @yah01
@sunby @yah01 could you guys help looking into this issue?

[2022-05-26 09:29] czs007 opened #17238 "[Enhancement]: Accelarate compilation of milvus in github action"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

About two-thirds of the time in the action on github is compiling milvus.
Among them, there is a long period of time to download third-party dependencies and compile third-party dependencies.

I want to cache the source code and compiled products of third-party dependent libra

[2022-05-26 09:31] czs007 commented on #17238
@jennyli-z @LoveEachDay @zwd1208

[2022-05-26 09:33] congqixia commented on #17238
Yep, just check recent unit test time cost. About 20+ minutes was cost in compliation, even there is no change in cpp code.

[2022-05-26 09:34] congqixia commented on #16941
Shard leader stale issue maybe fixed by #17218

[2022-05-26 09:37] yah01 commented on #17053
@XuanYang-cn This should be fixed with the two PRs above:
![image](https://user-images.githubusercontent.com/12216890/170461832-491bb219-7361-4010-8680-cbb398a48016.png)

[2022-05-26 09:45] xige-16 commented on #16150
The formula for querynode to estimate whether the memory is sufficient is
｀
usedMemAfterLoad　+　maxSegmentSize　*　concurrency  <= totalMem
 * OverloadedMemoryThresholdPercentage
｀
default OverloadedMemoryThresholdPercentage = 0.9

[2022-05-26 09:47] xige-16 commented on #16150
The formula for querynode to estimate whether the memory is sufficient is
usedMemAfterLoad　+　maxSegmentSize　*　concurrency <= totalMem * OverloadedMemoryThresholdPercentage
default OverloadedMemoryThresholdPercentage = 0.9

[2022-05-26 09:50] #16534 closed

[2022-05-26 09:50] xige-16 commented on #16150
so the total memory should >= (120764.39 + 354.07 * 1) / 0.9 ~= 134576 MB

[2022-05-26 09:54] xiaofan-luan commented on #16114
as you just mentioned, "DataCoord doesn't guarantee delete"
If just want a quick fix about this, should we just wait until channel unregister is handled before finish the assign?

[2022-05-26 10:02] xiaofan-luan commented on #17233
@aakejiang is this is the same issue as the previous bug?

[2022-05-26 10:07] xiaofan-luan commented on #17233
seems that there are some atomic/idempotent issue  causing retry failure

[2022-05-26 10:12] yah01 commented on #17053
it looks normal, the new nodes are added one by one, the first node been added would take all segments and dmchannels. The LoadBalance mechanism may rebalance some segments to the other nodes.

[2022-05-26 10:12] zhuwenxing commented on #17233
I have not yet encountered a case where after etcd pod kill, etcd restores, but Milvus components do not.

[2022-05-26 10:13] xiaofan-luan commented on #17233
/assign @soothing-rain please help on it~

[2022-05-26 10:18] XuanYang-cn commented on #17238
we already had ccache to cache the compiled object files, and `THIRDPARTY_DOWNLOAD_PATH` to cache the Thirdparty file.

[2022-05-26 10:44] XuanYang-cn commented on #16114
Yes we could make DataCoord guarantee the deletion of a channel.

DC put ToRelease -> DN release and delete this key

[2022-05-26 11:03] soothing-rain commented on #17233
/assign

[2022-05-26 11:27] congqixia commented on #17238
If that's so, there must be something wrong. Check recent `Build and test` action, the running time is extremely long.

[2022-05-26 13:44] soothing-rain commented on #16947
I tested a bit with `test_float_vector_multi_scalars`. It turns out that if you add some waiting period (sleep) just after bulk load call. There should be no problem.

/unassign
/assign @yanliang567

[2022-05-26 13:52] soothing-rain commented on #17233
IMO it is related to: https://github.com/milvus-io/milvus/issues/16047

We are probably gonna escalate this issue.

[2022-05-26 14:35] xiaofan-luan commented on #16592
keep it open~

[2022-05-26 15:26] soulteary opened #17243 "[Enhancement]: Upgrade Docker images to newer Ubuntu LTS, and improve ARM images"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Hello maintainers 👋

I see that the version of the docker environment used by the current project is relatively old and stays at 18.04.

Maybe we can try to upgrade to 20.04 or 22.04.

Alternatively, the actual cost of maintaining support for both versions is not very high.

A

[2022-05-26 15:28] xiaofan-luan commented on #17243
@LoveEachDay  do we ever tried to run mivlus on 20.0.4 or higher?

[2022-05-26 20:21] nohack commented on #15558
Sure.Was a bit tied up.Will work on it.

[2022-05-26 21:25] #16304 closed

[2022-05-27 01:35] #16600 closed

[2022-05-27 01:36] zhuwenxing commented on #17016
verified and passed in version `master-20220526-3a63d6c9`

[2022-05-27 01:39] zhuwenxing commented on #17016
Leave it on and keep watching for a while

[2022-05-27 01:40] zhuwenxing commented on #17119
Not reproduced, so close it

[2022-05-27 01:40] #17119 closed

[2022-05-27 01:41] yanliang567 commented on #17203
@zhuwenxing please help to retry with the pr above

[2022-05-27 01:41] yanliang567 commented on #17203
/assign @zhuwenxing

[2022-05-27 01:44] yanliang567 commented on #17072
@wangting0128 any chance to rerun the test

[2022-05-27 01:44] zhuwenxing commented on #16900
After https://github.com/milvus-io/milvus/issues/17016 is fixed, all test cases passed for querynode pod kill chaos.
see https://github.com/milvus-io/milvus/runs/6614655517?check_suite_focus=true

This issue also has not happened, so remove the critical label, but leave it open and keep watching for a while.

[2022-05-27 01:58] xiaofan-luan commented on #16657
this seems to be no longer an issue in 2.1, close for now? @aakejiang

[2022-05-27 02:09] xiaofan-luan commented on #16984
need to follow up

[2022-05-27 02:10] xiaofan-luan commented on #16941
/assign @wangting0128

[2022-05-27 02:26] zhuwenxing commented on #17203
It still happened in the latest version `master-20220526-3a63d6c9`
see https://github.com/milvus-io/milvus/runs/6615360839?check_suite_focus=true

[2022-05-27 02:29] xiaofan-luan commented on #15522
/assign @czs007

[2022-05-27 02:34] zhuwenxing commented on #16288
It still failed.

failed job: https://github.com/milvus-io/milvus/runs/6614655598?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/6675992625/artifacts/252967718

[2022-05-27 02:34] zhuwenxing commented on #16288
/assign @soothing-rain
/unassign

[2022-05-27 02:37] xiaofan-luan commented on #15583
so this might not be a issue for python SDK? close for now?
@longjiquan

[2022-05-27 02:44] #16657 closed

[2022-05-27 02:45] xiaofan-luan commented on #17178
/unassign @jaime0815

[2022-05-27 02:46] xiaofan-luan commented on #17178
/assign @longjiquan

[2022-05-27 02:47] zhuwenxing commented on #17099
verified and passed when upgrading `v2.0.2` to `master-20220526-3a63d6c9`  with 1 querynode and 3 querynode

[2022-05-27 02:48] ThreadDao commented on #17231
Ok, I got it. May I ask you to notify us of the next interface change in advance? This way we don't have to waste time on issues. I will update the related cases

[2022-05-27 02:59] XuanYang-cn commented on #16114
![origin_img_v2_9a4351ee-f3b3-4c3d-9795-2aad47fb8a8g](https://user-images.githubusercontent.com/51370125/170620243-043e01d3-5f00-43ea-8c8e-3c8ff63945d4.jpg)

[2022-05-27 03:00] longjiquan commented on #15583
Yes, not an issue for python SDK. Could help to check this? @wangting0128
/assign @wangting0128

[2022-05-27 03:01] xige-16 commented on #17122
Does this issue only occur when testing with javasdk? @StevenSama

[2022-05-27 03:07] bigsheeper commented on #16943
After restart, QueryCoord sent `LoadCollection` request to the old crashed QueryNode and execute successfully, the new QueryNode didn't receive `LoadCollection` request, so didn't create QueryShard. When doing search, `query shard does not exist` occurs.  And this issue would be fixed by https://github.com/milvus-io/milvus/pull/17241

[2022-05-27 03:19] #16516 closed

[2022-05-27 03:30] LoveEachDay commented on #17243
@xiaofan-luan We have tested milvus binary on Ubuntu 20.04 which runs smoothly. It would take small effort for us to upgrade the base image from 18.04 to 20.04.

[2022-05-27 03:31] yhmo commented on #17102
Already fixed by #17161

[2022-05-27 03:31] #17102 closed

[2022-05-27 03:42] LoveEachDay commented on #17191
@nexttonever For now you cannot specify the publish ip address. You'd better try to use milvus with Kubernetes instead of Docker swarm.

[2022-05-27 03:42] soulteary commented on #17243
Thanks for the reply @LoveEachDay @xiaofan-luan  , since the program can run smoothly on the new version, then I can test and prepare with confidence.

Hopefully this week or next week, I can complete this issue. And everyone can run milvus with a more secure and modern base image.

[2022-05-27 03:43] #15583 closed

[2022-05-27 03:44] wangting0128 commented on #17072
verify： master-20220524-ffaead6a

[2022-05-27 03:44] #17072 closed

[2022-05-27 04:39] yah01 commented on #17231
Sure

[2022-05-27 04:52] congqixia commented on #16947
It seems that the visibility of bulk loaded data is a little bit weird. I assume that after the bulk load, the data shall be visible at this very moment?

[2022-05-27 05:38] soothing-rain commented on #16947
This is expected.

Until segment ref lock is ready, there's no way to be 100% percent sure when segment are fully loaded (because some of them could get compacted and we would lose track of these compacted segments)

[2022-05-27 06:12] #17204 closed

[2022-05-27 06:16] StevenSama commented on #17122
2022-05-25 17:57:31,237 DEBUG [default] [user@skyeye-milvus-general-porns-1-542974-h2l8h.hy] [void ReduceResultData(std::vector&, int64_t, int64_t)] [/go/src/github.com/milvus-io/milvus/internal/core/src/segcore/reduce_c.cpp:131] [SEGCORE][ReduceResultData][milvus] skip duplicated search result, count = 0
2022-05-25 17:57:31,261 DEBUG [default] [user@skyeye-milvus-general-porns-1-542974-h2l8h.hy]

[2022-05-27 06:17] StevenSama commented on #17122
![image](https://user-images.githubusercontent.com/6235700/170641999-f85222de-cad5-473b-8ca5-bbfd488583b1.png)

[2022-05-27 06:22] StevenSama commented on #17122
2022-05-25 17:57:31,237 DEBUG [default]  [void ReduceResultData(std::vector&, int64_t, int64_t)] [/go/src/github.com/milvus-io/milvus/internal/core/src/segcore/reduce_c.cpp:131] [SEGCORE][ReduceResultData][milvus] skip duplicated search result, count = 0
2022-05-25 17:57:31,261 DEBUG [default]  [void ReduceResultData(std::vector&, int64_t, int64_t)] [/go/src/github.com/milvus-io/milvus/internal/co

[2022-05-27 06:44] StevenSama commented on #17122
The above memory usage graph and the corresponding log output are as above

[2022-05-27 06:45] StevenSama commented on #17122
Just reproduced, this situation can also be reproduced through milvus_cli

[2022-05-27 06:46] StevenSama commented on #17122
Just reproduced, this situation can also be reproduced through milvus_cli

[2022-05-27 06:57] soothing-rain commented on #16288
Just gave a look at it.

This is a different case. In this case, rootcoord was killed and then brought up. DataNode panicked in the meanwhile and restarted and mistakenly released the dml channel watch.

I will look into it. But it might take some time to fix.

[2022-05-27 07:49] wayblink commented on #15882
Hi, @Jacobh2 could you please upload the complete query node logs if you can still reproduce the issue? We will take a look into it.

[2022-05-27 07:54] ownbylichaobao commented on #17203
same problem,

[2022-05-27 08:43] XuanYang-cn commented on #17053
lgtm

[2022-05-27 08:43] #17053 closed

[2022-05-27 09:46] angelapytao opened #17251 "[Bug]: [task_scheduler.go:491] ["Failed to execute task: context canceled"] [traceID=1c5c221d67049493] [stack="github.com/milvus-io/milvus/internal/proxy.(*taskScheduler).processTask\n\t/go/src/github.com/milvus-io/milvus/internal/proxy/task_scheduler.go:491\ngithub.com/milvus-io/milvus/internal/proxy.(*taskScheduler).definitionLoop\n\t/go/src/github.com/milvus-io/milvus/internal/proxy/task_scheduler.go:517"]"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Ref https://github.com/milvus-io/milvus/issues/17233, I Clear All Keys in ETCD, And restart all milvus components. then I create a colloction failed. rootcoord restarted once again. Then I resend create colloction command again, then failed again.  Once again and agin

[2022-05-27 10:43] czs007 opened #17252 "[Enhancement]: Add arrow's third-party dependency cache in mac os action"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Recently, in the code checker on the mac-os environment, the following errors are often encountered.

![image](https://user-images.githubusercontent.com/59249785/170682909-aa6ba0a2-ec6b-4a84-bbe5-27f8dbb69a9b.png)

The main reason for this is that in the mac-os environment, in

[2022-05-27 11:11] ThreadDao commented on #17122
@yanliang567 @xige-16 @StevenSama I tried to reproduce in both pymilvus and milvus-sdk-java 2.0.4, but neither reproduced. Could you take a look at how this reproduction step differs from yours? Below are my steps to reproduce：
1. Deploy milvus standalone v2.0.2 and limit resources
[code]
2. Create a collection with a int64 filed and a float vector filed, which dim is 768. Then insert 100000 entit

[2022-05-27 11:40] Jacobh2 commented on #15882
@wayblink I do not have the logs anymore unfortunately. We have decided to move away from Milvus to another vector database to meet our deadlines.

[2022-05-27 11:48] yanliang567 commented on #17122
@StevenSama could you please check the reproduce code above?

/assign @StevenSama

[2022-05-27 11:50] #16417 closed

[2022-05-27 17:27] #16551 closed

[2022-05-27 17:27] #16556 closed

[2022-05-28 01:47] xiaofan-luan opened #17253 "[Enhancement]: Refine current channel and Segment assign policy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

1. Channel/Segment assign policy should always be configurable by milvus.yaml(Same as datacoord)
2. For channel allocation, we should align query and data, use ConsistentHashChannelPolicyFactory.
3. For segment allocation, we currently highly rely on memory usage, which might

[2022-05-28 01:47] xiaofan-luan commented on #17253
/assign @sunby

[2022-05-28 01:57] xiaofan-luan opened #17254 "[Enhancement]: Refine Segment allocation policy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

1. we can not estimate size in datacoord any more, since we added var char and other possible other variable length datafield.
    1) we just allocate for each write(In batch) and report the current write size to datacoord. (Thought that would be good enough for now, and much

[2022-05-28 02:29] xiaofan-luan commented on #17251
Is there any log on rootcoord about why ddl not done? there should be some log there?

[2022-05-28 02:32] xiaofan-luan commented on #17228
/assign @letian-jiang

[2022-05-28 02:33] #16792 closed

[2022-05-28 03:25] angelapytao commented on #17251
[rootcoord-30.log](https://github.com/milvus-io/milvus/files/8790417/rootcoord-30.log)
[proxy-27.log](https://github.com/milvus-io/milvus/files/8790418/proxy-27.log)
@[xiaofan-luan](https://github.com/xiaofan-luan) upload the whole logs.

[2022-05-28 03:47] angelapytao commented on #17251
I tried one more time get rootcoord log down:
[2022/05/28 03:44:57.652 +00:00] [DEBUG] [root_coord.go:1354] [HasCollection] [role=rootcoord] ["collection name"=ann_100m_sq8] [msgID=433492305802429052]
[2022/05/28 03:44:57.652 +00:00] [DEBUG] [root_coord.go:1373] ["HasCollection success"] [role=rootcoord] ["collection name"=ann_100m_sq8] [msgID=433492305802429052]
[2022/05/28 03:44:57.663 +00:00] [

[2022-05-28 03:54] lvmnn opened #17256 "[Bug]: Frequent writing to etcd causes etcd storage overflow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The database has about 500w data。
20qps read/write, write etcd 2g data within 3 hours, resulting in etcd storage overflow.
From the etcd monitoring  view, the write speed is about 100kb/s

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

##

[2022-05-28 04:02] lvmnn commented on #17256
[datacoord.log](https://github.com/milvus-io/milvus/files/8790452/datacoord.log)
[rootcoord.log](https://github.com/milvus-io/milvus/files/8790458/rootcoord.log)

[2022-05-28 04:10] xiaofan-luan commented on #17256
@lvmnn thanks for the issue, when saying overflow do you mean that etcd disk full?
We thought etcd should be fully relies on disk and won't OOM?
Could you please check which etcd path takes the most part of disk/mem? maybe we can work on it

[2022-05-28 04:11] xiaofan-luan commented on #17256
@wayblink @aakejiang pleas follow this issue since that might be related to data clean and meta storage

[2022-05-28 04:12] xiaofan-luan commented on #17251
/assign @congqixia please help on it~

[2022-05-28 04:15] xiaofan-luan commented on #17256
by the way, thought there could be some configs about how many versions will be maintained in etcd and that might be able to help on reduce etcd disk size

[2022-05-28 04:16] xiaofan-luan commented on #16114
Overall looks good to me, let's ship it!

[2022-05-28 05:01] lvmnn commented on #17256
the disk is full，trying to find the etcd path

[2022-05-28 05:20] lvmnn commented on #17256
@xiaofan-luan
Our etcd mvcc version has maintained 10000, what is the recommended value?

[2022-05-28 05:56] xiaofan-luan commented on #17256
10w might be too large, 1000 should works for me.

[2022-05-28 05:57] xiaofan-luan commented on #17256
But knowing which path takes most of the storage is also important

[2022-05-28 06:18] #16550 closed

[2022-05-28 06:22] snakecy opened #17257 "[Bug]: search results empyt, after restarting milvus standalone"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

when i do search operator

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

[2022/05/27 06:06:55.315 +00:00] [DEBUG] [proxy_session_manager.go:108] ["success to send search result"] [node=248] [base="msg_type:SearchResult ms

[2022-05-28 06:33] shenfalong opened #17258 "[Feature] Train IVF_PQ with custom data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

We could train model with custom datasize in FAISS to get the centroid and encoding table. For example, we have 1billion data totally and train IVFPQ with 10M data.
From https://github.com/milvus-io/milvus/issues/1992 I think currently milvus trai

[2022-05-28 06:53] StevenSama commented on #17122
Increase the number of concurrent queries and the total number of queries, let the queries run at full load, and then delete or add a batch of vectors

[2022-05-28 06:55] StevenSama commented on #17122
Increase the number of concurrent queries and the total number of queries, so that the queries are fully loaded at the same time, and then delete or add a batch of vectors. Do not stop the query, and the memory will explode directly.

[2022-05-28 06:57] StevenSama commented on #17122
The number of concurrent queries in the sample code is not enough, and the total number of queries is not enough. First, start high-concurrency queries and keep them all the time, and then change the set, and the memory increase is more obvious.

[2022-05-28 08:13] angelapytao commented on #17251
@congqixia Ref https://github.com/milvus-io/milvus/issues/16114
I found new log message in rootcoord:
[code]

[2022-05-28 08:17] angelapytao commented on #17251
[code]

[2022-05-28 08:57] lionaruc commented on #15439
I experienced this too, happens when you try to create index if it already exists, so I avoided it by checking if index exists first before attempting to recreate it.

[2022-05-28 09:13] yanliang567 commented on #17122
@StevenSama  so how much concurrent queries did you run to reproduce the issue?

[2022-05-28 09:18] yanliang567 commented on #17257
@snakecy thank you for the issue. could you please use this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export Milvus logs

[2022-05-28 09:18] yanliang567 commented on #17257
/assign @snakecy
/unassign

[2022-05-28 09:28] #17231 closed

[2022-05-28 09:40] yanliang567 commented on #16674
verified the 1GB limitation

[2022-05-28 09:40] #16674 closed

[2022-05-29 03:16] yanliang567 commented on #12598
@ThreadDao could you please help to verify on latest master?

/assign @ThreadDao

[2022-05-29 07:04] snakecy commented on #17257
the standalone log

[milvus.log](https://github.com/milvus-io/milvus/files/8792831/milvus.log)

[2022-05-29 07:49] xiaofan-luan commented on #16728
keep it open

[2022-05-29 07:50] xiaofan-luan commented on #12896
keep it open

[2022-05-29 07:51] xiaofan-luan commented on #15736
should has a improvement on it for 2.1~
@yah01 did we enable binlog compression by default?

[2022-05-29 07:53] xiaofan-luan commented on #15439
/assign @xiaocai2333

[2022-05-29 07:56] xiaofan-luan commented on #17251
seems that dml_0  is assigned to multiple node, and the consumer is somehow not unresigered.
We've already fixed some issues, for example #16114.
For quick fix, you can just use pulsar ctl to unregister all the consumers

[2022-05-29 07:56] xiaofan-luan commented on #17251
related to https://github.com/milvus-io/milvus/issues/16114

[2022-05-29 07:57] xiaofan-luan commented on #17257
see couple of similar issues, mark it as critical urgent for now

[2022-05-29 08:09] xiaofan-luan commented on #17258
We are thinking of doing some offline calculation but

Very impressive suggestion!

Actually I'm thinking of how we can training on a smaller dataset(Maybe a another collection) for finding the data distribution and then using the trained result for further calculation, for instance:
 1. PCA other way to reduce dimension
 2. Reduce the IVF index build time
 3. Split data into different data segmen

[2022-05-29 08:11] xiaofan-luan commented on #17258
@shenfalong thins remain to be discussed:
1) How many data can we use for preprocessing, did user trigger it automatically?
2) where should we located the preprocessing data? On another collection, or just like bulkload where we put files in a specified format on S3.
3) Should querynode, indexnode or other node working on the process?
4) How do collection load these features?
5) Does this help HNS

[2022-05-29 10:47] shenfalong commented on #17258
I think leaving an parameter for user to trigger it is a good choice. The system may also set some default value.
These preprocessing data could be put in a temporary collection and deleted after model training. These cluster centroid and  encoding table could be saved on the disk as  'model'.  The trained model could be loaded for processing full large scale data.

[2022-05-29 11:48] xiaofan-luan commented on #16538
keep it open~
This has to be done in 2.2

[2022-05-29 14:19] snakecy opened #17263 "[Bug]: QueryNode search fail"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

using Attu,

when i change the nprobe , the error comes:

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-05-29 14:23] xiaofan-luan commented on #17263
this usually means your search parameter fail

[2022-05-29 14:25] xiaofan-luan commented on #17263
But due to the bad log,  we can not see clearly why the parameter fail.
You can give your sample code if you don't why parameter is wrong

[2022-05-30 01:27] yanliang567 commented on #17263
@snakecy could you please share the index params and search params you were using?

/assign @snakecy
/unassign

[2022-05-30 01:31] yanliang567 commented on #16055
keep it open for tracking

[2022-05-30 01:47] skye95git commented on #17165
Thanks, I will try it.

[2022-05-30 01:53] StevenSama commented on #17122
What I tested is about 200 concurrency, and it is reasonable to say that this concurrency should also appear. It may be a little later. Can you provide your complete code and I will run it on my environment to see if it can be reproduced?

[2022-05-30 02:01] bigsheeper commented on #16943
/assign @wangting0128

[2022-05-30 02:06] yanliang567 commented on #16726
@ThreadDao is this still an issue

[2022-05-30 02:21] xiaofan-luan commented on #17037
@jinkl is this still a issue?

[2022-05-30 02:25] xiaofan-luan commented on #16947
Leave it here and wait for the segment lock implementation in

[2022-05-30 02:25] xige-16 commented on #16150
/unassign
/assign @jingkl

[2022-05-30 02:28] xiaofan-luan commented on #16984
@wayblink any updates on this?  @XuanYang-cn might be the right person who can give some help

[2022-05-30 02:28] xige-16 commented on #17254
releated with #16972

[2022-05-30 02:28] xiaofan-luan commented on #17048
@jaime0815 any progress?

[2022-05-30 02:45] letian-jiang commented on #17203
/assign

[2022-05-30 02:48] yah01 commented on #15736
Yes, the compression for binlog and mq is enabled by default

[2022-05-30 02:51] wayblink commented on #16984
Yeah, I have done some tests last week. The result shows that this issue no longer exist in our latest master branch. The flush time are now in a reasonable range (in 10s～) and no error occurs. I will double check it today

[2022-05-30 02:55] letian-jiang commented on #17228
/assign

[2022-05-30 03:03] EricStarer commented on #17131
/assign

[2022-05-30 03:05] letian-jiang commented on #17142
This issue should be fixed by #17183. Could you please verify it? @soothing-rain

[2022-05-30 03:05] ThreadDao commented on #16726
Yes. because no one has fixed it

[2022-05-30 03:06] binbinlv opened #17265 "[Bug]: [Nightly] Panic occurs during nightly tests reporting "set tSafe failed" when deleting collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Panic occurs:

[code]

### Expected Behavior

No panic

### Steps To Reproduce

[code]

### Milvus Log

Milvus logs:

[artifacts-milvus-standalone-master-559-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/559/artifact/art

[2022-05-30 03:07] ThreadDao commented on #16750
@LoveEachDay This problem is really annoying, but it hasn't come up lately

[2022-05-30 03:20] yanliang567 commented on #17265
@soothing-rain could you please help to take a look?

/assign @soothing-rain
/unassign

[2022-05-30 03:21] yanliang567 commented on #16726
@yah01 any updates?

[2022-05-30 03:22] yah01 commented on #16726
WIP

[2022-05-30 03:33] binbinlv opened #17267 "[Bug]: [kafka] [Nightly] Panic occurs during kafka nightly tests reporting "invalid memory address or nil pointer dereference""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Panic occurs:

mdk-559-n-milvus-datanode-74d7c6c4bd-sh5ff_milvus-ci_datanode-67f3386e94cd2e35749d7871cb5354ae2b16e14be8db5426674d9873d143fea8.log:panic: DDNode forward delete msg failed, vChannel = by-dev-rootcoord-dml_11_433544038401179649v0, err = All attempts resul

[2022-05-30 03:34] binbinlv commented on #17267
@jaime0815

Could you please have a look first?

Several panics occur, and my title just mentions one of them, so needs to investigate them all, thanks.

[2022-05-30 03:35] yanliang567 commented on #17267
set it to higher priority

[2022-05-30 03:57] bigsheeper commented on #17257
same as https://github.com/milvus-io/milvus/issues/16657

[2022-05-30 03:59] bigsheeper commented on #17257
QueryNode delete segments in defer func incorrectly
[code]
same as https://github.com/milvus-io/milvus/issues/16657

[2022-05-30 04:00] lvmnn commented on #17256
Adjust this parameter to 1000, etcd storage is relatively stable, the following is the comparison of monitoring

before
![image](https://user-images.githubusercontent.com/92595690/170914771-dcd05bc0-1280-48a6-ac69-73a5917911ed.png)

now
![image](https://user-images.githubusercontent.com/92595690/170914815-d189af98-0938-48c0-9b46-75cf67609643.png)

[2022-05-30 04:03] bigsheeper commented on #17257
This issue would be fixed in version 2.1 @snakecy

[2022-05-30 04:03] bigsheeper commented on #17257
/assign @snakecy

[2022-05-30 04:08] zhuwenxing commented on #17016
This issue still occurs, though not 100%

With version `master-20220527-73187021`, one success, one failure.
failed job: https://github.com/zhuwenxing/milvus/runs/6647623499?check_suite_focus=true
success job: https://github.com/milvus-io/milvus/runs/6648200477?check_suite_focus=true

It also failed in Jenkins pipeline: http://10.100.32.144:8080/job/chaos-test/5700/

[2022-05-30 04:52] xiaofan-luan commented on #17267
67f3386e94cd2e35749d7871cb5354ae2b16e14be8db5426674d9873d143fea8.log:panic: DDNode forward delete msg failed, vChannel = by-dev-rootcoord-dml_11_433544038401179649v0, err = All attempts results:
mdk-559-n-milvus-proxy-7d7bbf4dc8-2gsb5_milvus-ci_proxy-66cafb6b5941323a073752fc9f544fee9128020ff84f2e758890f7419adb0603.log:panic: runtime error: invalid memory address or nil pointer dereference

[2022-05-30 04:53] xiaofan-luan commented on #17267
that's the main cause, @longjiquan pls take a look

[2022-05-30 04:55] xiaofan-luan commented on #17267
this might be related to the delete issues also, previously we probably just lose the delete

[2022-05-30 04:55] xiaofan-luan commented on #17267
probably we will need to add retry here

[2022-05-30 05:08] zhuwenxing commented on #17203
I have tried twice, but none of them reproduces the problem.
The Milvus version is `master-20220527-73187021`.

https://github.com/milvus-io/milvus/runs/6648714345?check_suite_focus=true
https://github.com/zhuwenxing/milvus/runs/6648173556?check_suite_focus=true

[2022-05-30 05:15] xiaofan-luan commented on #16984
@wangting0128 could you help to verify this is still reproducible for master?

[2022-05-30 05:15] xiaofan-luan commented on #16984
/assign @wangting0128

[2022-05-30 05:17] xiaofan-luan commented on #17257
close for now, wait for 2.1 release

[2022-05-30 05:17] #17257 closed

[2022-05-30 05:18] xiaofan-luan commented on #17267
#17178

[2022-05-30 05:58] yanliang567 commented on #17122
/assign @yelusion2
could you please take a look at this issue, it seems to be a java sdk specific issue.

[2022-05-30 06:31] yelusion2 commented on #17122
this situation also be reproduced through milvus_cli, so it seems not a java sdk specific issue.

[2022-05-30 06:34] xiaofan-luan commented on #17122
might because pymilvus doesn't support true concurrency?

[2022-05-30 06:35] xiaofan-luan commented on #17122
@yelusion2 could you list a way to reproduce this case?

[2022-05-30 06:37] yelusion2 commented on #17122
I just saw this issue, I will reproduce the problem as soon as possible.

[2022-05-30 06:40] soothing-rain commented on #15966
/reopen

[2022-05-30 06:41] yah01 commented on #16726
@ThreadDao
Just fixed with #17269, it should be "collection not found, maybe not loaded" now

[2022-05-30 06:41] soothing-rain commented on #15966
This is not a duplicate of #16288 .

It is actually a whole different case.

/assign

[2022-05-30 06:54] #17252 closed

[2022-05-30 07:31] StevenSama commented on #17122
It seems to be a server-side problem, I did not further stress the pymilvus

[2022-05-30 07:32] StevenSama commented on #17122
It seems to be a server-side problem, I did not further stress the pymilvus

[2022-05-30 07:54] soothing-rain opened #17270 "[Bug]: Refine channel (re)assignment logic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

It is discovered in #15966 that when a RootCoord pod is killed in a Milvus cluster, flush will hang.

This is what happened:
1. RootCoord pod got killed and crashed DataNode-A (There is a bug in code).
2. DataNode was restarted by k8s immediately, with a different nod

[2022-05-30 07:58] XuanYang-cn commented on #17270
/assign
/unassign @yanliang567

related to #16114

[2022-05-30 08:00] jennyli-z commented on #16632
This is the same issue as #17252 ,already be fixed

[2022-05-30 08:00] jennyli-z commented on #16632
/close it

[2022-05-30 08:00] xige-16 commented on #17016
[code]
[code]

[2022-05-30 08:01] #16632 closed

[2022-05-30 08:04] xige-16 commented on #17016
[code]

[2022-05-30 08:06] xige-16 commented on #17016
When assigning query node for dmchannel of collection 433554053237833729, it shows no online QueryNode to allocate, but node with nodeID=38 is
[logs-querynode (1).zip](https://github.com/milvus-io/milvus/files/8796662/logs-querynode.1.zip)
 online

[2022-05-30 08:08] xige-16 commented on #17016
There is only one querynode, why are there two replicas? This issue may be related to the multi-replica mechanism

[2022-05-30 08:11] xige-16 commented on #17016
@congqixia could you help?

[2022-05-30 08:14] binbinlv opened #17272 "[Bug]: Interface “get_query_segment_info” gets empty after compaction"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Interface “get_query_segment_info” gets empty after compaction

[code]

### Expected Behavior

Interface “get_query_segment_info” gets right info

### Steps To Reproduce

[code]

### Milvus Log

1. Milvus logs:
[artifacts-milvus-distributed-pulsar-master-560-pymilvus-

[2022-05-30 08:14] XuanYang-cn commented on #17270
- [ ] RootCoord crashing should not panic DataNode, DataNode should just report `fail to start flowgraph`

[2022-05-30 08:14] XuanYang-cn commented on #17270
- [ ] Reassignments should reassign a channel back to the old DataNode if no other nodes available

[2022-05-30 08:15] yanliang567 commented on #17272
/assign @sunby
/unassign

[2022-05-30 08:23] zhuwenxing commented on #17016
In this test the number of replica is always 1, and no multiple replicas are set。

[2022-05-30 09:41] jingkl commented on #16150
master-20220527-55f1e03c
pymilvus：pymilvus==2.1.0.dev63
<img width="1376" alt="截屏2022-05-30 17 41 01" src="https://user-images.githubusercontent.com/34296482/170964814-193e0232-fcfc-471f-9af8-c82c53059ba6.png">
It has been verified that the same dataset uses 110G of memory and the client does not report errors

[2022-05-30 10:14] yah01 commented on #15736
Hi @yhmo @xiaofan-luan
I just tested the performance with #17273:
load costs about 5.6 seconds, and release costs about 1 second.
I'm making it better, but it seems not to work for simply increasing the concurrent level.

[2022-05-30 10:24] congqixia opened #17274 "[Bug]: QueryNode unit test has data race"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

unit test failed with data race

### Expected Behavior

unit test passes

### Steps To Reproduce

_No response_

### Milvus Log

[code]

### Anything else?

https://github.com/milvus-io/milvus/runs/6651946748?check_suite_focus=true

[2022-05-30 10:30] congqixia commented on #17238
Also found current github action ccache configuration caused used wrong cache data in debug [run](https://github.com/milvus-io/milvus/runs/6652886387?check_suite_focus=true):
[code]

[2022-05-30 11:00] WangErXiao opened #17277 "[Bug]: querynode terminated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[2022/05/30 05:59:56.663 +00:00] [DEBUG] [segment.go:313] ["do search on segment"] [segmentID=433464032149372929] [segmentType=3]
[2022/05/30 05:59:56.674 +00:00] [DEBUG] [segment.go:313] ["do search on segment"] [segmentID=433464032149372929] [segmentType=3]
terminat

[2022-05-30 11:02] xiaofan-luan commented on #17277
@WangErXiao hi there, what index are you using and what is the search/index parameter?

[2022-05-30 11:07] WangErXiao commented on #17277
index: ivf_pq,nlist = 1024
search: nq = 1 ,topk=300, nprobe= 60
data size: 60million
querynode: (8C 16G )* 14

[2022-05-30 11:08] WangErXiao commented on #17277
qps = 15

[2022-05-30 11:15] xiaofan-luan commented on #17277
Thanks, we are working on reproduction

[2022-05-30 11:16] #17274 closed

[2022-05-30 11:34] WangErXiao commented on #17277
dimension = 64

[2022-05-30 11:36] WangErXiao commented on #17277
we have a scalar field , a enum (1,2,3,4),every has 15million

[2022-05-30 11:50] #16855 closed

[2022-05-30 11:52] xiaofan-luan commented on #17277
So you first filter with a enum(with only 1/4 of the data valid for search), am I correcty?

[2022-05-30 12:05] WangErXiao commented on #17277
sometime we may use 'or'，such as 1 or 2

[2022-05-30 12:26] ThreadDao commented on #16726
Verified `master-20220530-11834a09`

[2022-05-30 12:31] aakejiang commented on #17256
As per comment in [etcd](https://github.com/etcd-io/etcd/issues/11352):
[code]
This would help us know which keys are frequently added and updated.

The following 2 metrics could be helpful:
etcd_mvcc_db_total_size_in_bytes, this should match your db file size
etcd_mvcc_db_total_size_in_use_in_bytes, this is what is actually needed. If you do defrag, the resulting db file size should be close to t

[2022-05-30 13:40] kevinzezel opened #17280 "[Bug]: Milvus Pods restarting on Google Cloud after a big insert"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I was inserting a base of 50 million embeddings with 512 dimensions by pymilvus v2.0.2. Everything went well and I managed to do the search. Then I realized I had forgotten to upload one of my indices. So i deleted the collection, create a new one and started to inser

[2022-05-30 13:44] xiaofan-luan commented on #17280
seems to be same as #16657

[2022-05-30 13:46] xiaofan-luan commented on #17280
@aakejiang could you quickly double check if this is the same issue?

[2022-05-30 15:16] congqixia commented on #15846
Let's keep this issue open for tracking

[2022-05-30 15:34] xiaofan-luan commented on #17258
That seems like a plan~ if anyone want to take the design and implementation pls let me know

[2022-05-30 15:35] xiaofan-luan commented on #17254
/assign @xige-16

[2022-05-30 16:02] wayblink commented on #17258
Seems like a quite useful feature, I'd like to take part in it.

[2022-05-31 01:03] yanliang567 commented on #17280
/assign @aakejiang
/unassign

[2022-05-31 01:19] yanliang567 commented on #17277
@sunby I think you were working on this issue
/assign @sunby
/unassign

[2022-05-31 01:57] jingkl commented on #16984
This bug has still not been fixed @xiaofan-luan
argo
benchmark-backup-rdn4t
server-configmap
server-cluster-8c64m-compaction
client-configmap
client-random-locust-compaction

milvus master-20220530-b09359b1
pymilvus 2.1.0.dev63

[code]

server：
NAME                                                          READY   STATUS      RESTARTS   AGE     IP             NODE                      NOMINATED NOD

[2022-05-31 01:58] xiaofan-luan commented on #15736
Thought we need some basic profiling about the disk usage and cpu usage.

If Disk is key bottle neck(which I believe is the truth), change to higher compression rate might help, increase concurrency might also help, but network throughput is another concern.
If Cpu is the key bottle neck(Or memcpy), we might want to optimize the payloader reader code.

[2022-05-31 02:03] jingkl commented on #16984
argo
benchmark-backup-xpnjf
server-configmap
server-single-32c128m-compaction
client-configmap
client-random-locust-compaction
milvus: master-20220530-b09359b1
pymilvus 2.1.0.dev63
server:
[code]
client:
[code]

[2022-05-31 02:16] wayblink commented on #16984
Oops!

[2022-05-31 02:17] yuliu-eric opened #17283 "[Bug]: log.file.rootPath failed to apply in milvus 2.0.2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Brought up the milvus cluster by running cmd `helm install -f ./charts/milvus/values.yaml milvus-dev milvus/milvus` with the following log settings:
[code]

After cluster was up, checked the queryNode but `/milvus/configs/milvus.yaml` showed `log.file.rootPath` as the

[2022-05-31 02:21] yanliang567 commented on #17283
@LoveEachDay Could you please take a look at this issue?

/assign @LoveEachDay
/unassign

[2022-05-31 02:30] soothing-rain commented on #17270
DataNode-B failed to watch the new channels because there's a piece of code that looks for the v-channel start position to recover from. Collection start position will be used if no segment position is found:
https://github.com/milvus-io/milvus/blob/9ce9c6ea68cb248748c5cfd527b27aa7a8dec97f/internal/datacoord/handler.go#L91-L97

full stack trace:
[code]

Regarding buffered channels, @XuanYang-cn wi

[2022-05-31 02:39] jingkl opened #17284 "[Bug]: [benchmark][standalone]Milvus call has collection rasie error"StatusCode.UNAVAILABLE, failed to connect to all addresses”"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
benchmark-cron-1653926400
server-configmap
server-single-16c64m
client-configmap
client-search-sift50m-ivf-flat-2048
The scenario is the same as issue: #16941, the error reporting is different
[code]

client
[code]

### Expected Behavior

_No response_

[2022-05-31 02:45] LoveEachDay commented on #17283
@yuliu-eric This is because we don't expose the `log.file.rootPath` configuration in the helm chart values.
You can find the configuration under `charts/milvus/templates/config.tpl` at [here](https://github.com/milvus-io/milvus-helm/blob/98e3f26d590cc1394ec0ebfdab1ce8170ce9dd7a/charts/milvus/templates/config.tpl#L258):
[code]

If you want to set up a log file output, you must enable `log.persisten

[2022-05-31 02:46] LoveEachDay commented on #17283
/unassign
/assign @yuliu-eric

[2022-05-31 02:57] haorenfsa opened #17285 "[Enhancement]: Support Private Link for AWS S3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Upgrade minio-go to v7.0.17 to support AWS S3 private link

Ref: https://github.com/minio/minio-go/releases/tag/v7.0.17

### Why is this needed?

So that users can use AWS S3 private link inside AWS VPC to avoid accessing public internet.

### Anything else?

Milvus is now usi

[2022-05-31 02:58] haorenfsa commented on #17285
/assign @xiaofan-luan

[2022-05-31 02:59] zhuwenxing commented on #17016
/assign @congqixia

Please take a look

[2022-05-31 02:59] binbinlv commented on #15785
It appears again in the following nightly:
https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-nightly-ci/branches/master/runs/561/nodes/64/steps/178/log/?start=0

1. milvus logs:
[artifacts-milvus-distributed-kafka-master-561-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/561/artifact/artifacts-milvus-distributed-kafka

[2022-05-31 03:00] binbinlv commented on #15785
@wayblink
Could you please have an investigation? Thanks.

[2022-05-31 03:03] zhuwenxing commented on #17016
It failed again
failed job: https://github.com/milvus-io/milvus/runs/6659783023?check_suite_focus=true

[2022-05-31 03:13] zhuwenxing opened #17286 "[Bug]: There is a probability that the installation will not be successful within 10 minutes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

installation success

### Steps To Reproduce

_No response_

### Milvus Log

[artifacts-cluster-reinstall-649-logs.tar.gz](https://github.com/milvus-io/milvus/files/8801726/artifacts-cluster-reinstall-649-logs.1.tar.gz)

### Anything els

[2022-05-31 03:15] zhuwenxing commented on #17286
some error log in datanode

[2022/05/31 01:56:58.563 +00:00] [ERROR] [client.go:257] ["rootcoord ClientBase ReCall grpc second call get error "] [error="err: find no available rootcoord, check rootcoord state\n, /go/src/github.com/milvus-io/milvus/internal/util/trace/stack_trace.go:51 github.com/milvus-io/milvus/internal/util/trace.StackTrace\n/go/src/github.com/milvus-io/milvus/internal/util/grpc

[2022-05-31 03:16] wangting0128 opened #17288 "[Bug]: [benchmark][standalone] Milvus restarts and doesn't recover, search raise error: failed to connect to all addresses"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task: benchmark-cron-1653926400

test yaml:
client-configmap:client-search-sift50m-ivf-flat-2048,instanceId:6,server-configmap:server-single-16c64m

server:
[code]

client pod: benchmark-cron-1653926400-3017012482

client log:
[code]

### Expected Behavior

_No r

[2022-05-31 03:17] wangting0128 commented on #17288
#16941

[2022-05-31 03:20] xiaofan-luan commented on #17286
how to we reproduce this issue?

[2022-05-31 03:22] jingkl commented on #17284
[code]

[2022-05-31 03:23] jingkl commented on #17284
expression = 'int64 == varchar'
[code]

[2022-05-31 03:24] zhuwenxing commented on #17286
Statistics from the chaos test and deploy test jobs run daily.
The reproduction method is the normal installation script

[2022-05-31 03:27] zhuwenxing commented on #17286
/assign @LoveEachDay

[2022-05-31 03:30] jingkl commented on #17127
expression = 'int64 == varchar'
[code]

[2022-05-31 03:31] yhmo commented on #17158
This [article](https://zhuanlan.zhihu.com/p/408528384) is written by the writer of milvus-S3 implementation, it also described how to set the configurations.

[2022-05-31 03:37] wangting0128 opened #17289 "[Bug]: [benchmark][cluster] Milvus sets up two replicas, and the concurrent test raise error: StatusCode.DEADLINE_EXCEEDED, Deadline Exceeded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task: benchmark-backup-ds5f4

test yaml:
client-configmap:client-random-locust-search-filter-100m-ddl-r8-w2-replica2
server-configmap:server-cluster-8c64m-querynode2

server:
[code]

client pod: benchmark-backup-ds5f4-3449886322

client log:
[code]

### Expected

[2022-05-31 03:47] xiaofan-luan commented on #17258
Let‘s probably take a glance at other system(For example Spark) and see what is the best plan~

[2022-05-31 03:55] xiaofan-luan commented on #17122
@StevenSama could you take a glance at the demo and give us some advice about how to reproduce?

[2022-05-31 04:03] wayblink commented on #15785
OK, I will look into it

[2022-05-31 05:11] yuliu-eric commented on #17283
Thank you @LoveEachDay for the suggestion!

I've tried to uninstall the existing cluster and install it again, but one of the etcd node is kept in `CrashLoopBackOff` state. How shall I fix it?

Also, I've tried to config `nodeSelector`, `tolerations`, and `affinity` (see below) but didn't seem to work. Can you share the examples for them?

Thank you so much for your support!

[code]

[2022-05-31 05:14] xiaofan-luan commented on #17256
@LoveEachDay pls also help to check if set set defualt mvcc version  to 100 for all deployments(HELM, Operator, Docker compose...)

[2022-05-31 06:12] yuliu-eric commented on #17283
/unassign
/assign @LoveEachDay

[2022-05-31 06:23] zhuwenxing commented on #17286
judging from the logs, most of these deployments fail because,  the state of a component is healthy, but another component has been unable to get the address of that component.

[2022-05-31 06:24] wangting0128 commented on #16943
argo task: benchmark-backup-qnlvv

test yaml:
client-configmap:client-search-sift50m-ivf-flat-2048
server-configmap:server-cluster-16c64m

image: master-20220530-c88514bc

server:
[code]

client pod:  benchmark-backup-qnlvv-2641509475

client log:
[code]

[2022-05-31 06:34] cydrain commented on #12598
Plan to upgrade knowhere after Milvus 2.1 release, then we can re-test this issue.

[2022-05-31 07:07] zhuwenxing opened #17291 "[Bug]: Insert hangs after Milvus cluster upgrading"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

hangs at the insert step for a long time, cur time is 2022-05-31T04:14:20.051Z. so it stuck for 2 hours.
[code]

the log in proxy is a repeated segment.
[code]
log in indexcoord:
[code]

### Expected Behavior

Successful finish of all tests

### Steps To Reproduce

[c

[2022-05-31 07:11] zhuwenxing commented on #17291
The hang can last forever if it is not forcibly terminated.
http://10.100.32.144:8080/blue/organizations/jenkins/deploy_test/detail/deploy_test/654/pipeline (already running for about 3 hours )
http://10.100.32.144:8080/blue/organizations/jenkins/deploy_test/detail/deploy_test/640/pipeline
this is running for about 2 days then killed by manual.

[2022-05-31 07:19] zhuwenxing commented on #17291
This issue is not 100% recurring, but still has a high probability, occurring in two of the last four runs

[2022-05-31 07:22] zhuwenxing commented on #17286
One more failed deployment http://10.100.32.144:8080/blue/organizations/jenkins/deploy_test/detail/deploy_test/655/pipeline/59

[2022-05-31 07:36] zhuwenxing commented on #17291
The logs are refreshing too fast in indexcoord, close to 100,000 lines of logs every second
[code]

[2022-05-31 07:41] xiaofan-luan commented on #17291
/assign @xiaocai2333

[2022-05-31 07:42] xiaofan-luan commented on #17291
pls help on this issue~

[2022-05-31 07:42] xiaocai2333 commented on #17291
ok, I will debug it.

[2022-05-31 07:53] LoveEachDay commented on #17283
[code]
This is a known bitnami/etcd issue. You'd manually remove the `member_id` file under the `/bitnami/etcd/data/` directory.

[code]
The `nodeSelector` , `tolerations`, and `affinity` only sets for milvus components, which does not affect the settings for dependencies such as etcd, pulsar, minio.

If you set the `nodeSelector` for `etcd`, you need put this setting under the `etcd` section.

[2022-05-31 07:54] XuanYang-cn commented on #16114
Tested locally with #17293, no reproducing

![image](https://user-images.githubusercontent.com/51370125/171121823-e7664247-5657-4da3-acb7-d85bd922a170.png)

[2022-05-31 08:27] yuliu-eric commented on #17283
I tried `kubectl exec -it -n sn-feature milvus2-ai-infra-dev-etcd-0 -- /bin/bash` but got the following error: `error: unable to upgrade connection: container not found ("etcd")`

[2022-05-31 08:31] LoveEachDay commented on #17283
This is because your etcd pod is crashing. Could you directly access the pvc that milvus2-ai-infra-dev-etcd-0 use ?

[2022-05-31 08:41] yanliang567 commented on #17288
@congqixia could you please take a look?

/assign @congqixia
/unassign

[2022-05-31 08:43] yuliu-eric commented on #17283
Haven't done that before, would you please share the instructions/cmd/examples?

[2022-05-31 08:44] yanliang567 commented on #17284
is it the same root cause of #17288 ? @congqixia
/assign @congqixia
/unassign

[2022-05-31 08:51] ThreadDao commented on #12598
What makes me wonder is that the indexnode crash can only be reproduced if and only if nb is 50000, dim is 512, and the vector is generated by numpy random. I have added the case and will verify it after knowhere is upgraded.

[2022-05-31 08:56] LoveEachDay commented on #17283
You'd better contact the kubernetes administrators which setup the storageclass. We have no idea of what kind of storage you use.

And due to this issue, we try to fix the etcd issue and we build a docker image: `milvusdb/etcd:3.5.0-debian-10-r117`, you can try to use this image by setting like this:
[code]

[2022-05-31 09:02] aakejiang commented on #17280
yes, same problem also happened in https://github.com/milvus-io/milvus/issues/16657 , @sunby will work on it

/assign @sunby
/unassign

[2022-05-31 09:03] xiaocai2333 commented on #16623
pr is merged.
/close

[2022-05-31 09:03] #16623 closed

[2022-05-31 09:33] yuliu-eric commented on #17283
Thanks, let me try out the new etcd docker image.

[2022-05-31 09:37] BUPTAnderson opened #17297 "[Bug]: client search timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

python sdk search timeout

### Expected Behavior

search service success

### Steps To Reproduce

[code]

### Milvus Log

rootcoord:
[code]

proxy:
[code]

### Anything else?

when i restart rootcoord, the rootcoord log:
[code]

when i restart proxy, the proxy log:
[c

[2022-05-31 09:44] BUPTAnderson commented on #17297
i deploy three proxy and a domain name mapping to the three proxy, the python client use domain name to access the proxys.
does the WARN msg: `[WARN] [grpclog.go:46] ["[core]grpc: Server.Serve failed to create ServerTransport: connection error: desc = \"transport: http2Server.HandleStreams failed to receive the preface from client: EOF\""]` due to domain name access ?

[2022-05-31 09:44] BUPTAnderson commented on #17297
@JackLCL

[2022-05-31 09:53] xiaofan-luan commented on #17277
/assign @cydrain

[2022-05-31 10:08] jaime0815 commented on #17267
panic: DDNode forward delete msg failed, vChannel = by-dev-rootcoord-dml_11_433544038401179649v0, err = All attempts results:

attempt #1:delivery chan of kafka producer is closed

attempt #2:delivery chan of kafka producer is closed

attempt #3:delivery chan of kafka producer is closed

attempt #4:delivery chan of kafka producer is closed

attempt #5:delivery chan of kafka producer is closed

gor

[2022-05-31 10:19] LoveEachDay commented on #17283
[code]
This is the config error for pulsar zookeeper. Please keep the same format like this:
[code]

[2022-05-31 10:39] yuliu-eric commented on #17283
what about other `configData` under `pulsar`?

also, update `BOOKIE_MEM` to `BOOKIE_MEM` and `BOOKIE_GC`?

saw similar error on pulsar proxy node: `Error: Could not find or load main class "-Xms2048m`

[2022-05-31 11:06] GitHua2017 commented on #17158
I have redeploy the mishard cluster by the article(https://zhuanlan.zhihu.com/p/408528384) guiding, but it still reports the same errors as before. This time, I deploy mishard cluster in K8S.

pods:
milvus-mishard                   NodePort    xx.xx.48.116    <none>        19530:30530/TCP       3h1m
milvus-mishard-mysql        NodePort    xx.xx.186.19    <none>        3306:30306/TCP        3h1m
mi

[2022-05-31 11:10] schuberttobias commented on #16804
@xiaofan-luan We are also experiencing this problem now with Milvus Cluster v2.0.2 in our production application. After 8 hours of few inserts and many queries, Pulsar's backlog is full and no further queries are possible. On initial startup of the Cluster, 6 consumers are created by our 3 query nodes. 4 consumers are closed again, 2 consumers remain. After 8 hours milvus-pulsar logs say:
`Backlog

[2022-05-31 11:37] yanliang567 opened #17300 "[Bug]: [bulkload] failed to bulk load data if multiple data nodes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

bulk load tasks completed with persisted state, but the data was not available.
it first hang at collection.num_entities(), and then all the following bulk load tasks failed with timeout.

### Expected Behavior

bulk load data successfully and data available for searc

[2022-05-31 11:37] yanliang567 commented on #17300
/assign @yhmo
/unassign

[2022-05-31 12:56] bigsheeper commented on #16943
cannot find logs of `benchmark-backup-qnlvv` in kabana or nas, wait for the next test result

[2022-05-31 15:08] xiaofan-luan commented on #17297
from the log, we see some proxy not registered successfully(At least from rootcoord side) but its alive and keep reporting.
We will need full proxy log to understand why.

if you can etcdctl to check what's inside the path session/proxy that would also be super helpful

[2022-05-31 15:10] xiaofan-luan commented on #17297
succeed to init sessions on etcd
Pls also check this log for rootcoord see what's showing up? thanks
Meanwhile I will take a look at proxy_manager log see if I can find anything

[2022-05-31 15:31] BUPTAnderson commented on #17297
[code]
it seems that the proxys register in etcd successfully

[2022-05-31 15:39] yuliu-eric commented on #17283
After applied above changes, got following errors on rootnode `running PreBind plugin "VolumeBinding": binding volumes: timed out waiting for the condition` with `log.persistence.enabled` setting to true;

Then set `log.persistence.enabled` back to false, got following errors on datacoord:
[code]

[2022-06-01 01:11] JackLCL commented on #17283
It will be good to create a separate issue to track the etcd and zookeeper-related problems.

[2022-06-01 01:12] JackLCL commented on #17283
It will be good to create a separate issue to track the etcd and zookeeper-related problems.

[2022-06-01 02:00] xiaofan-luan commented on #17297
weird, we never see nodeID with 42,43, 44..

[2022-06-01 02:00] xiaofan-luan commented on #17297
did we clean up the id in etcd or something?

[2022-06-01 02:01] jingkl commented on #17037
Milvus : master-20220531-72f454e0
pymilvus-2.1.0.dev67
Verified, no errors reported, close issue

[2022-06-01 02:10] jingkl commented on #17103
pymilvus-2.1.0.dev67
image:master-20220531-f55fe6be
update image master-20220531-d920e5c9
server-cluster-8c64m
client-random-locust-100m-ddl-r8-w2-1h
client-random-locust-100m-ddl-r8-w2-concurrent
Verified, no errors reported, close issue

[2022-06-01 02:10] #17103 closed

[2022-06-01 02:20] wangting0128 commented on #17288
argo task: benchmark-cron-1654012800

test yaml:
client-configmap:client-search-sift50m-ivf-flat-2048,instanceId:7,server-configmap:server-cluster-16c64m

server:
[code]

client pod:benchmark-cron-1654012800-2695170923

client log:
[code]

[2022-06-01 02:20] wangting0128 commented on #16943
argo task: benchmark-cron-1654012800

test yaml:
client-configmap:client-search-sift50m-ivf-flat-2048,instanceId:7,server-configmap:server-cluster-16c64m

server:
[code]

client pod:benchmark-cron-1654012800-2695170923

client log:
[code]

[2022-06-01 02:22] wangting0128 commented on #17288
argo task: benchmark-cron-1654012800

test yaml:
client-configmap:client-search-sift50m-ivf-flat-2048,instanceId:6,server-configmap:server-single-16c64m

server:
[code]

client pod: benchmark-cron-1654012800-1953940833

client log:
[code]

[2022-06-01 02:27] xiaofan-luan commented on #17297
as you may see, your proxy is 15,16 and 18, but some proxy has  node id 42,43 and 45 and trying to report, that's why we see this log

[2022-06-01 02:28] xiaofan-luan commented on #17286
/assign @czs007 pls help on this issue

[2022-06-01 02:29] wangting0128 opened #17305 "[Bug]: [benchmark][cluster] search raise error: StatusCode.DEADLINE_EXCEEDED, Deadline Exceeded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task: benchmark-cron-1654012800

test yaml:
client-configmap:client-acc-glove-ivf-flat,instanceId:5,server-configmap:server-cluster-8c16m

server:
[code]

client pod:  benchmark-cron-1654012800-1191786796

client log:
[code]

### Expected Behavior

_No response_

[2022-06-01 02:29] xiaofan-luan commented on #17286
actually we believe we should refresh from etcd about the address on every retry in case node address change

[2022-06-01 02:32] StevenSama commented on #17122
OK,I will give you the complete reproduce code and data package.

[2022-06-01 02:32] BUPTAnderson commented on #17297
Good reminder, I found the reason for `failed to updateTimeTick` , when the cluster couldn't recover, I emptied the etcd, but there were 4 test proxies I forgot to restart the proxy service.

[2022-06-01 02:33] StevenSama commented on #17122
OK,I will give you the complete reproduce code and data package.

[2022-06-01 02:34] StevenSama commented on #17122
package milvus;

import java.io.BufferedReader;
import java.io.FileInputStream;
import java.io.FileNotFoundException;
import java.io.IOException;
import java.io.InputStreamReader;
import java.io.UnsupportedEncodingException;
import java.math.BigDecimal;
import java.util.ArrayList;
import java.util.Arrays;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.ut

[2022-06-01 02:35] yah01 commented on #16602
/reopen

[2022-06-01 02:37] binbinlv commented on #16961
OK, verifying, thanks.

[2022-06-01 02:40] StevenSama commented on #17122
the features.txt link in the code,
https://drive.google.com/file/d/11Hlp6QI4AtoEt5u0cX36npjPm8DB0xZW/view?usp=sharing

[2022-06-01 02:44] bigsheeper opened #17307 "[Enhancement]: Wait for flow graph to exit before close it"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

We should add a  *WaitGroup* in flow graph to wait for all *stages/nodes* exit.

### Why is this needed?

I think DataNode and QueryNode should make sure no flow graph is working before release *Collection/Partition* meta.

### Anything else?

_No response_

[2022-06-01 02:45] bigsheeper commented on #17307
may be relative to https://github.com/milvus-io/milvus/issues/17267

[2022-06-01 02:50] binbinlv commented on #16961
From the latest nightly, some deleted cases still failed, so needs further investigation, thanks.

Nightly commit: 72f454e, which is the commit of the pr to be fixed.

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/564/pipeline

4 Failed cases：
[2022-05-31T20:27:06.592Z] FAILED testcases/test_delete.py::TestDeleteParams::test_delete_partition - As...

[2022-06-01 02:51] BUPTAnderson commented on #17297
Currently, it seems that when the query times out, there are no other exception messages on the `rootcoord` side except these `failed to updateTimeTick` logs.

[2022-06-01 03:11] xiaofan-luan commented on #17297
Once you restart the proxy, all timetick should be updated correctly. so we will proxy and query log about why search timeout, @JackLCL please also help on this issue, thanks

[2022-06-01 03:14] congqixia commented on #17288
@wangting0128 since there was nothing in the log, I asked @LoveEachDay for help to investigate why pod restarted. The reason was OOM kill
![image](https://user-images.githubusercontent.com/84113973/171320520-96508c91-7cc1-4c15-a6e1-3a36852e0e2a.png)

[2022-06-01 03:14] congqixia commented on #17288
@wangting0128 since there was nothing in the log, I asked @LoveEachDay for help to investigate why pod restarted. The reason was OOM kill
![image](https://user-images.githubusercontent.com/84113973/171320520-96508c91-7cc1-4c15-a6e1-3a36852e0e2a.png)

[2022-06-01 03:17] wangting0128 commented on #17288
Why does search cause memory to go up?

[2022-06-01 03:17] congqixia commented on #15372
I think this feature is still needed. Let's keep it open.

[2022-06-01 03:31] congqixia commented on #17288
@wangting0128 `search` and `query` both need extra memory to execute. Did the search & query test succeeded?

[2022-06-01 03:35] xiaofan-luan opened #17309 "[Feature]: Loadbalancer can not be fully rely on memory usage reported by querynode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

We've see many query coord behaviour rely on node info.
But in case the memory is only used for metrics report and maybe zero if failed to get memory limit as well as memory usage.

In that case the balance maybe fully disordered and incur some we

[2022-06-01 03:35] xiaofan-luan commented on #17309
/assign @sunby

[2022-06-01 03:37] wangting0128 commented on #17288
@congqixia search succeeds for a while before failing

[2022-06-01 03:38] wayblink commented on #17258
/assign

[2022-06-01 03:51] congqixia commented on #17284
Cannot find and log related to "benchmark-cron-1653926400-6-milvus-standalone-77cb4f87dd-8nwzb" in kibana. Anything wrong with the system?
@yanliang567

[2022-06-01 04:08] jingkl commented on #17284
The logs were not collected on this side one day @congqixia

[2022-06-01 04:09] jingkl commented on #17037
same as issue：#16943

[2022-06-01 04:09] #17037 closed

[2022-06-01 05:39] soothing-rain opened #17312 "[Feature]: Feature vector visualization solutions wanted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Would like to investigation possible solutions to visualize feature vectors

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

_No response_

[2022-06-01 05:39] soothing-rain commented on #17312
/assign @yhmo

[2022-06-01 05:51] yah01 opened #17313 "[Enhancement]: Make error handling better"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

1. Define basic errors with errors.New()
2. Check error with errors.Is()
3. Wrap error by fmt.Errorf() with %w verb

### Why is this needed?

It's hard to handle error in current Milvus, we don't know even what the error returned is. Since Go 1.13, fmt package provides the abi

[2022-06-01 05:53] yah01 commented on #17313
/assign

[2022-06-01 06:16] zhuwenxing opened #17314 "[Bug]: Indexcoord's unreasonable log output frequency when some issues happen"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The logs are refreshing too fast in indexcoord, close to 100,000 lines of repeated logs every second
[code]
repeated logs
[code]

### Expected Behavior

Output logs at a reasonable frequency

### Steps To Reproduce

_No response_

### Milvus Log

[cluster-upgrade-654.

[2022-06-01 06:20] xige-16 commented on #17150
The temporary solution is that if a querynode loads the corresponding sealed segment after watchDeltaChannel, it will pull the delete log back from the stream to avoid missing delete information.

[2022-06-01 06:21] xige-16 commented on #17150
Later, we will remove the watchDeleteChannel task of querynode, and the querynode shard leader will be responsible for forwarding the delete msg in dmChanel to the shard follwer

[2022-06-01 06:30] #16853 closed

[2022-06-01 06:32] #16833 closed

[2022-06-01 06:46] yanliang567 commented on #17314
@xiaofan-luan sounds like a log refinement issue.

/assign @xiaofan-luan
/unassign

[2022-06-01 07:59] jingkl opened #17319 "[Enhancement]: Add the testcase with expression"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

add the testcase with expr

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-06-01 08:16] xiaofan-luan commented on #17122
Hi steven, just want to make sure what is the limit you set to your docker?

[2022-06-01 08:17] xiaofan-luan commented on #17122
For milvus, we usually intend to spend more memory to reduce GC if possible.
You can runt he benchmark longer and see if memory stop increasing at certain point

[2022-06-01 08:29] XuanYang-cn commented on #17270
http://10.100.32.144:8080/blue/organizations/jenkins/chaos_test_repeat/detail/chaos_test_repeat/20/pipeline/
http://10.100.32.144:8080/blue/organizations/jenkins/chaos_test_repeat/detail/chaos_test_repeat/19/pipeline

I've started 10 rootcoord pod-kill chaos tests with #17294 and #17293, they all passed

So after these two PRs are both merged, @soothing-rain please help to verify if this issue is

[2022-06-01 08:30] XuanYang-cn commented on #15966
https://github.com/milvus-io/milvus/issues/17270#issuecomment-1143283145

[2022-06-01 09:27] LoveEachDay commented on #17256
@xiaofan-luan By default we've enabled compaction by revision (every 1000), and we set the backend db size to 4GB. This setting survives our 1b vector test.

[2022-06-01 10:17] xiaofan-luan commented on #17312
impressive! @shanghaikid we should let group in the github and slack know about it!

[2022-06-01 10:22] jingkl commented on #17284
same as issue #17288

[2022-06-01 10:33] zhuwenxing opened #17321 "[Bug]: Load timeout after Milvus recovered from standalone pod kill chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Load timeout when running test_e2e.py after standalone pod kill chaos

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

server log
[artifacts-standalone-pod-kill-24-server-logs.tar.gz](https://github.com/milv

[2022-06-01 10:55] yanliang567 commented on #17305
/assign @congqixia
/unassign

[2022-06-01 10:57] yanliang567 commented on #17297
/assign @BUPTAnderson
/unassign

[2022-06-01 13:15] czs007 opened #17327 "[Enhancement]: Add metrics about search group in QueryNode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

![image](https://user-images.githubusercontent.com/59249785/171413030-e4b79088-3a19-46c9-b1a6-3b28fbe47a05.png)

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-06-01 13:24] zhuwenxing commented on #17291
This happened again.
failed job: http://10.100.32.144:8080/blue/organizations/jenkins/deploy_test/detail/deploy_test/682/pipeline
log:
[artifacts-cluster-upgrade-682-logs.tar.gz](https://github.com/milvus-io/milvus/files/8814481/artifacts-cluster-upgrade-682-logs.tar.gz)

[2022-06-01 13:49] ThreadDao commented on #17122
memory usage of milvus standalone 2.0.2
![image](https://user-images.githubusercontent.com/27288593/171412292-87e4282c-ff3a-4bfc-bedc-9e7d5fc4593d.png)

[2022-06-01 13:56] ThreadDao opened #17329 "[Bug]: panic: invalid channel name: milvus-rootcoord-dml_0 when upgrade 2.0.2 standalone to master"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Deploy standalone `2.0.2`
2. Run test_e2e.py without dropping the collection
3. Upgrade release to master image `master-20220524-d05c24a0`
[code]
[standalone.log](https://github.com/milvus-io/milvus/files/8814785/standalone.log)

### Expected Behavior

_No response

[2022-06-01 14:39] xiaofan-luan commented on #17329
/assign @cydrain pls help on this issue~

[2022-06-01 15:03] #16132 closed

[2022-06-01 15:43] zhuwenxing opened #17330 "[Bug]: Hangs when running `action_after_reinstall.py` after reinstall Milvus with kafka mq"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Hangs when running `action_after_reinstall.py` and outputs repeated log in proxy pod

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

server log:
[artifacts-cluster-reinstall-53-logs.tar.gz](https://github.com/milv

[2022-06-01 17:26] haorenfsa opened #17331 "[Bug]: Milvus run as mixture of multiple kinds of coordinators not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

panic

### Expected Behavior

run successfully

### Steps To Reproduce

[code]

### Milvus Log

root@debug:/milvus# milvus run mixture -rootcoord -datacoord
2022/06/01 17:13:10 maxprocs: Updating GOMAXPROCS=4: determined from CPU quota
    __  _________ _   ____  ____

[2022-06-02 00:24] yanliang567 commented on #17331
@xiaofan-luan could you please have someone take look at this issue? I think it blocks us from further testing

/assign @xiaofan-luan
/unassign

[2022-06-02 00:31] yanliang567 commented on #17330
@jaime0815 could you please take a look at this issue?

/assign @jaime0815
/unassign

[2022-06-02 00:32] yanliang567 commented on #17329
/assign @cydrain
/unassign

[2022-06-02 01:27] zhuwenxing commented on #17286
A failed deploy
[code]

[artifacts-minio-network-latency-5900-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8819770/artifacts-minio-network-latency-5900-server-logs.1.tar.gz)

Some etcd info was included in the log

[2022-06-02 01:44] StevenSama commented on #17122
24C32G

[2022-06-02 01:47] StevenSama commented on #17122
Stop the query and the memory remains stable. After a very long period of time, the query is started again, and the memory continues to rise. If there are no intermediate changes, it will continue to rise slowly.

[2022-06-02 01:49] StevenSama commented on #17122
I'll test the 2.1 version later to see if the same problem exists, hope it doesn't appear again

[2022-06-02 02:14] bigsheeper commented on #16943
crashed QueryNode's log stopped at `18:14:21`
<img width="1249" alt="image" src="https://user-images.githubusercontent.com/42060877/171533331-793aee99-7110-4e5e-a70e-15bde4dc7c5e.png">

However, I found that QueryNode seems to crash at `18:14:26` from proxy.log, so QueryNode misses the key panic log
<img width="1245" alt="image" src="https://user-images.githubusercontent.com/42060877/171533840-554

[2022-06-02 02:15] longjiquan commented on #16961
I run a test that continously run `test_delete_flush_loop_with_string` for 10000 times base on #17334 . And the issue cannot be reproduced.
![image](https://user-images.githubusercontent.com/31589260/171533874-c86b170d-64b1-4337-aeee-178ae6d60b8f.png)

Before #17334 , the dml channels used by same collection may be changed in order. So delete request with same primary key will enter the other chan

[2022-06-02 02:29] yanliang567 commented on #17331
/assign @haorenfsa
/unassign @xiaofan-luan

[2022-06-02 02:31] jaime0815 commented on #17147
We will not fix this issue in the short term, [pr 17317]( https://github.com/milvus-io/milvus/pull/17317) can skip errors that report from MQ.

the final solution should guarantee to stop the operation of all nodes within the flowgraph.

[2022-06-02 02:34] zhuwenxing opened #17335 "[Bug]: Datacoord restart with error `Failed to create consumer by-dev-rootcoord-dml_111` when running `test_e2e.py` after datanode pod failure chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When running `test_e2e.py`, there was an error `CreateCollection failed: data coord watch channels failed, reason = DataCoord 16 is not ready`, then check the status of Milvus, you can find that datacoord was not ready.
[code]
But, before running `test_e2e.py`, it was

[2022-06-02 02:36] xiaocai2333 commented on #16450
pr is merged, please retest it. @zhuwenxing
/assign @zhuwenxing
/unassign

[2022-06-02 02:38] xiaocai2333 commented on #16488
pr is merged.
/close

[2022-06-02 02:38] #16488 closed

[2022-06-02 02:39] xiaocai2333 commented on #16265
fixed, please retest it.
/unassign
/assign @yanliang567

[2022-06-02 02:41] wangting0128 commented on #17288
#16941

[2022-06-02 02:44] zhuwenxing commented on #17335
This also happened when testing datanode pod kill.
[code]
see https://github.com/milvus-io/milvus/runs/6695667203?check_suite_focus=true

log:
[logs-datanode.zip](https://github.com/milvus-io/milvus/files/8820078/logs-datanode.16.zip)

But the error message in datacoord is not same. In this case, the error message is
[code]

[2022-06-02 02:49] yanliang567 commented on #16265
@jingkl could you please help to verify the fix?
/assign @jingkl
/unassign

[2022-06-02 02:49] zhuwenxing commented on #16288
in vesion `master-20220531-72f454e0`
datanode: https://github.com/milvus-io/milvus/runs/6676587813?check_suite_focus=true

[2022-06-02 03:00] longjiquan commented on #17127
/assign @jingkl
/unassign

[2022-06-02 03:06] zhuwenxing commented on #17335
This may be introduced in the recent two days because the test before yesterday did not have such a problem.

[2022-06-02 03:08] haorenfsa commented on #17331
Testing: milvus-io/milvus-operator#143

[2022-06-02 03:11] jennyli-z commented on #17238
Is this being fixed after pr #17276 is merged?

[2022-06-02 03:12] wangting0128 commented on #16943
argo task: benchmark-cron-1654099200

test yaml:
client-configmap:client-search-sift50m-ivf-flat-2048,instanceId:7,server-configmap:server-cluster-16c64m

server:
[code]

client pod: benchmark-cron-1654099200-542967446

client log:
[code]

[2022-06-02 03:13] zhuwenxing commented on #17321
This failed again
https://github.com/milvus-io/milvus/runs/6695666895?check_suite_focus=true

It's strange, I thought it was for the same reason as querynode pod kill #17016 , but recently querynode pod kill doesn't have this problem

[2022-06-02 03:19] wangting0128 commented on #17288
argo task: benchmark-cron-1654099200

test yaml:
client-configmap:client-search-sift50m-ivf-flat-2048,instanceId:6,server-configmap:server-single-16c64m

server:
[code]

client pod: benchmark-cron-1654099200-263939222

client log:
[code]

[2022-06-02 03:40] jingkl commented on #17127
Verified, close issue
master-20220601-63a31ccb
pymilvus 2.1.0dev67

[2022-06-02 03:40] #17127 closed

[2022-06-02 03:47] wangting0128 opened #17339 "[Bug]: [benchmark][cluster] Milvus is reinstalled with the same PVC, and the RT of query and search become larger"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task:
install: benchmark-tag-no-clean-7xxfw

reinstall: benchmark-restart-server-m5hsx

test yaml:
install：
client-configmap:client-random-locust-100m-ddl-r8-w2-1h
server-configmap:server-cluster-8c64m
reinstall:
client-configmap:client-random-locust-100m-ddl-r8-

[2022-06-02 03:47] zhuwenxing commented on #17330
The steps for reinstall:

1. install Milvus with kafak mq
2.  run first test using script `action_before_reinstall.py` in `tests/python_client/deploy/scripts`
3. restart milvus by using `kubectl delete pod`
4.  wait all pods ready
5.  run second test using script `action_after_reinstall.py` in `tests/python_client/deploy/scripts`

there are two tasks :
task_1:
    before reinstall: create collecti

[2022-06-02 03:54] yanliang567 commented on #16265
@OndrejIT could you please help to verify the fix on latest master build
/assign @OndrejIT
/unassign @jingkl

[2022-06-02 03:58] congqixia opened #17340 "[Bug]: Data race in querycoord loadSegment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Unittest may have data race in loadSegments in QueryCoord.

### Expected Behavior

Unittest passes with out data race

### Steps To Reproduce

_No response_

### Milvus Log

[code]

### Anything else?

https://github.com/milvus-io/milvus/runs/6690276066

[2022-06-02 04:05] haorenfsa opened #17343 "[Bug]: Builder publish workflow not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

see https://github.com/milvus-io/milvus/actions/runs/2425683636/workflow

### Expected Behavior

successfully run

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-06-02 04:12] BUPTAnderson commented on #17297
query timeout occurred again,
proxy log:
[code]

[2022-06-02 04:16] #17207 closed

[2022-06-02 04:18] yanliang567 commented on #17180
@sunby any updates ?

[2022-06-02 04:19] congqixia commented on #17288
Is this restart also caused by OOM?

[2022-06-02 04:27] lilida opened #17344 "[Bug]: List collections call hang after imported a new collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After import embedding to a newly created collection, cannot list or describe collections because the call just hang. It looks like waiting for the datacoord node.

milvus_cli > list collections
RPC error: [list_collections], <BaseException: (code=1, message=syncTimes

[2022-06-02 04:52] #17340 closed

[2022-06-02 04:59] yah01 commented on #16705
@ThreadDao
#17306 should fix this

[2022-06-02 05:00] haorenfsa commented on #17331
Fixed

[2022-06-02 05:00] #17331 closed

[2022-06-02 05:10] xiaofan-luan commented on #16943
seems to be related to #17329

[2022-06-02 05:20] xiaofan-luan commented on #17297
/assign @longjiquan

[2022-06-02 06:05] xiaofan-luan commented on #17150
should be fixed by 17308

[2022-06-02 06:06] xiaofan-luan commented on #16887
I'm working on a dynamic gc tuner which could help a little bit on this issue

[2022-06-02 06:20] zhuwenxing commented on #17099
This issue happened again, though it was not 100%
failed job:
https://github.com/milvus-io/milvus/runs/6697467175?check_suite_focus=true
log:
[docker-compose-logs-cluster-upgrade.zip](https://github.com/milvus-io/milvus/files/8821247/docker-compose-logs-cluster-upgrade.11.zip)

[2022-06-02 06:23] zhuwenxing commented on #17099
/assign @congqixia
Please take a look

[2022-06-02 06:49] cydrain commented on #17329
consult with @ThreadDao , this issue can reproduce manually, but cannot reproduce using git action automatic scripts.
Need double check whether it's a real issue.

[2022-06-02 06:54] cydrain commented on #17277
@WangErXiao can you paste the logs of query_node when this issue happen ?

[2022-06-02 06:55] yanliang567 commented on #17344
@lilida it seems that the tt between components are too slow, which make them disconnected from each other.
[2022/06/02 04:19:09.007 +00:00] [WARN] [timeticksync.go:339] ["rootcoord send tt to all channels too slowly"] [chanNum=4] [span=206]
did you run the etcd service on SSD volume?

/assign @lilida

[2022-06-02 06:56] yanliang567 commented on #17343
/assign @haorenfsa
/unassign

[2022-06-02 06:57] yanliang567 commented on #17339
@czs007 could you please take a look at this issue?

/assign @czs007
/unassign

[2022-06-02 07:02] yanliang567 commented on #17335
/assign @congqixia
/unassign

[2022-06-02 07:07] bigsheeper commented on #16943
It's an OOM issue

<img width="1358" alt="image" src="https://user-images.githubusercontent.com/42060877/171573161-9c78b169-5fd9-40e4-8e1f-657254b5d954.png">

[2022-06-02 07:09] bigsheeper commented on #17288
yep

<img width="1359" alt="image" src="https://user-images.githubusercontent.com/42060877/171573382-624b0af3-47c6-44b6-8b9a-f7315cbceba2.png">

[2022-06-02 07:09] bigsheeper commented on #17288
same as https://github.com/milvus-io/milvus/issues/16943

[2022-06-02 07:10] congqixia commented on #17335
@zhuwenxing flowgraph dd node shall belongs to datanode. Little confused about the description. Try to reproduce locally.

[2022-06-02 07:10] longjiquan commented on #17176
similar to #16961 , the order of dml channels used by delete later differs from the order used by insert.

rootcoord:
[code]

proxy:
[code]

[2022-06-02 07:15] longjiquan commented on #16897
Close this for now. Feel free to reopen this if you have any similar problems.

[2022-06-02 07:15] #16897 closed

[2022-06-02 07:41] czs007 opened #17346 "[Enhancement]: Reduce the number of lock operations in getStream"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

![image](https://user-images.githubusercontent.com/59249785/171578682-22e0095f-6047-492b-88b4-3c4cf1427331.png)

It is recommended to change the interface of createMsgStream to return (msgstream, error), which can reduce the last lock operation  `lockGetStream` in `getStream`.

[2022-06-02 07:41] zhuwenxing commented on #17203
Not reproduced yet, so close it.

[2022-06-02 07:54] yanliang567 commented on #17142
/assign @soothing-rain

[2022-06-02 07:55] bigsheeper commented on #16943
And QueryNode started doing search at *17:40*.

[2022-06-02 07:55] yanliang567 commented on #17122
@StevenSama please help to close this issue as you verified later. thanks.

[2022-06-02 07:57] yanliang567 commented on #17091
@yah01 @congqixia any updates for this issue?

[2022-06-02 07:57] yanliang567 commented on #17077
@congqixia  any updates?

[2022-06-02 07:59] czs007 commented on #16943
i am working on it

[2022-06-02 07:59] yanliang567 commented on #16993
I believe this was fixed in master build, could you please help to verify it on a master build or Milvus 2.1 release(will be available next week) @530513750

/assign @530513750
/unassign

[2022-06-02 08:05] ThreadDao commented on #16919
No reappearance, close it first

[2022-06-02 08:05] #16919 closed

[2022-06-02 08:06] #17327 closed

[2022-06-02 08:09] yanliang567 commented on #16900
close for now, please feel feel to reopen it still reproduced.

[2022-06-02 08:09] #16900 closed

[2022-06-02 08:14] longjiquan commented on #17178
In this case, insert -> flush -> load -> delete (after load) -> compact -> search. delete will be received by delta channel. However, it seems that no querynode received it. Inverstigating why...

collection id: 433411281367597057
[code]

segment id: 433411281433133058
[code]

[2022-06-02 08:16] #16842 closed

[2022-06-02 08:21] longjiquan commented on #17178
Data node received delete requests, and it should forwad this to delta channel.

[code]

[2022-06-02 08:23] XuanYang-cn commented on #17270
/unassign
/assign @soothing-rain

[2022-06-02 08:23] XuanYang-cn commented on #15966
/assign @zhuwenxing Please help to verify

[2022-06-02 08:24] soothing-rain commented on #16134
Nope. It is not a P0 issue, should it be escalated?

[2022-06-02 08:24] XuanYang-cn commented on #15966
/assign @zhuwenxing

[2022-06-02 08:25] XuanYang-cn commented on #16114
/unassign
/unassign @congqixia
/assign @ThreadDao Please help to verify

[2022-06-02 08:25] XuanYang-cn commented on #16114
/assign @ThreadDao

[2022-06-02 08:30] congqixia commented on #17091
@yanliang567 #17183 shall fix this issue

[2022-06-02 08:34] yanliang567 commented on #17091
@ThreadDao any chance to verify it?

/assign @ThreadDao

[2022-06-02 08:37] zhuwenxing opened #17347 "[Bug]: Search failed with error message `cannot find sealed segment 433627047283654657 in QueryNode` after Milvus recovered from standalone pod kill"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search failed when running `hello_milvus.py`

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

[artifacts-standalone-pod-kill-5908-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8822137/artifacts-stan

[2022-06-02 08:51] zhuwenxing commented on #17347
/assign @congqixia
Please take a look

[2022-06-02 08:53] xiaofan-luan commented on #17335
There seems nothing we can do so far unless we introduce pulsarctl for the unscubsribe case? @congqixia

However, it's weird since I've changed retry to 50 but seems it's not retry as expected

[2022-06-02 08:56] jingkl opened #17350 "[Bug]: [benchmark][cluster]High initial query latency in Milvus multi-replica"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

agro
benchmark-backup-psdpt-1
server-configmap
server-cluster-8c64m-querynode5
client-configmap
client-random-locust-search-filter-100m-ddl-r8-w2-replica5-2h

server：
[code]

argo2:
server-instance
benchmark-backup-lcjsc-1
server-configmap
server-cluster-8c64m-queryno

[2022-06-02 09:00] soothing-rain opened #17351 "[Enhancement]: Bulk load segments should have proper start positions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Currently starting with position = 0 which increase component startup time cost.

This is a reminder to address this issue.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-06-02 09:01] yah01 commented on #17321
/assign
/unassign @XuanYang-cn

[2022-06-02 09:03] xiaofan-luan commented on #17350
@jingkl you won't get performance boost if collection is large and data can be seperated evenly to 5 nodes?
Not sure this is a issue because originally data is already spread evenly to 5 nodes

[2022-06-02 09:04] xiaofan-luan commented on #17350
multi replica only help on small data set case, for example you ingest 1m data to a huge cluster and want to double your performance

[2022-06-02 09:05] xiaofan-luan commented on #17291
@xiaocai2333 any progress?

[2022-06-02 09:08] congqixia commented on #17016
#17306 may fix this issue, could you please check?

[2022-06-02 09:09] xiaofan-luan commented on #16984
@wayblink any updates?

[2022-06-02 09:10] xiaofan-luan commented on #16947
any updates?

[2022-06-02 09:10] xiaocai2333 commented on #17291
I'm investigating under what circumstances will that keep listening to null events from etcd.

[2022-06-02 09:14] soothing-rain commented on #16947
This is a known enhancement to bulk load which is not addressed yet. So if you data is imported with bulk load, you probably need to wait a bit in current version.

However I believe the original issue here is already solved. @yanliang567

[2022-06-02 09:20] #16643 closed

[2022-06-02 09:21] xiaofan-luan commented on #17339
did we check if all server is balanced?
We wild guess is that the cluster is not balanced yet~

[2022-06-02 09:26] jingkl commented on #17350
Why, shouldn't the query time be faster for 5 replicas of the same size dataset

[2022-06-02 09:29] yanliang567 commented on #16947
not reproduced recently. close for now

[2022-06-02 09:29] #16947 closed

[2022-06-02 09:42] soothing-rain commented on #17142
Looks like the issue is fixed!

/unassign
/assign @yanliang567

[2022-06-02 09:50] StevenSama commented on #17122
The latest version of master does not reproduce this problem

[2022-06-02 09:55] longjiquan commented on #17178
Can be reproduced on my local pc. Investigating why ...

[2022-06-02 10:04] yah01 commented on #17321
@zhuwenxing
#17306 may fix this, could u verify it?

[2022-06-02 10:05] jingkl commented on #17339
The server should be balanced @xiaofan-luan
<img width="1352" alt="截屏2022-06-02 17 47 29" src="https://user-images.githubusercontent.com/34296482/171603911-ddd0bb35-025c-45a1-bc07-2f10af547e02.png">

[2022-06-02 10:23] bigsheeper commented on #15785
seems reproduced in https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-17341/4/pipeline

[2022-06-02 10:31] StevenSama commented on #17122
tanks a lot!

[2022-06-02 10:39] #17142 closed

[2022-06-02 10:40] xige-16 commented on #16972
My fault, the proxy log did receive a flush request, so it has nothing to do with the system system semgent allocation mechanism

[2022-06-02 10:40] #16972 closed

[2022-06-02 10:57] yanliang567 commented on #17016
/assign @zhuwenxing
/unassign @congqixia @xige-16

[2022-06-02 11:41] xiaofan-luan commented on #17350
Because even if you have 1 replica, all 5 querynodes loaded data.
See if you have 10 segments, then each querynodes load 2 segments.
Once you changed to 5 replica, then each node will load 10 segments.
The case multi replica would help is you only have 1 segment but 5 querynodes, only one querynodes can load the data while rest of the querynodes didn't have any data to serve

[2022-06-02 11:41] jingkl opened #17354 "[Bug]: [benchmark][cluster]Milvus updates image and recovers after etcd crash, raise an error"fail to search on all shard leaders, err=fail to Search, QueryNode ID=23, reason=Search 4 failed, reason err err: context canceled""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo
benchmark-backup-vjtr6-1
server-configmap
server-cluster-8c64m-datanode2-indexnode4-querynode6-kafka
client-configmap
client-random-locust-search-84h-1b

client log
[code]

[code]

### Expected Behavior

1、create collection
2、build index of ivf_sq8
3、insert 1b ve

[2022-06-02 11:56] xiaofan-luan opened #17355 "[Enhancement]: Dynamically change rocksmq cache size"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

We seen that under large data case rocksmq print slow log very often.
Currently we only give rocksmq 1 GB cache size, which might be too small to hold bloomfilter and index, which cause rocksmq produce/consume read too much disk.

I want to implement a mechanism to set rocksdb

[2022-06-02 12:25] jingkl commented on #17350
I understand, the latency of the query is too high at first, what is the reason for this?

[2022-06-02 12:51] yanliang567 commented on #17354
1. why etcd crashed after milvus upgraded
2. why search failed after etcd and milvus back to running

/assign @xiaofan-luan
/unassign

[2022-06-02 13:11] wangting0128 opened #17356 "[Bug]: [benchmark][standalone] search and query raise error: fail to search on all shard leaders, err=fail to Search, QueryNode ID=2, reason=[UnexpectedError] Assert "insert_row_offset < insert_barrier""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task: benchmark-backup-zgh8m

test yaml:
client-configmap:client-random-locust-insert-delete
server-configmap:server-single-32c128m-compaction

server:
[code]

client pod: benchmark-backup-zgh8m-3511032475

client log:
[code]

[code]

### Expected Behavior

_No r

[2022-06-02 13:21] yanliang567 commented on #17356
@congqixia any chance to take a look at this issue?
/assign @congqixia
/unassign

[2022-06-02 14:34] zhuwenxing commented on #17016
It still reproduced in version `master-20220602-48cf63a2`

failed job:
https://github.com/zhuwenxing/milvus/runs/6707896171?check_suite_focus=true
log:
https://github.com/zhuwenxing/milvus/suites/6764136847/artifacts/258753337

[code]

[2022-06-02 16:22] xiaofan-luan commented on #17356
seems to be a segcore issue, assigned to @xige-16

[2022-06-02 16:31] xiaofan-luan commented on #17329
milvus-upg  and by-dev seems to be two different cluster prefix~

[2022-06-02 16:37] lilida commented on #17344
No. It is not running on SSD but regular GP3 EBS. However, this cluster has no load and only one small (3000 items) collection before I imported another 60K. Do we still need SSD here? @yanliang567

[2022-06-02 17:43] eric-roland commented on #17226
[milvus-logs.tar.gz](https://github.com/milvus-io/milvus/files/8826267/milvus-logs.tar.gz)

I have attached the logs per your request. Please let me know if you need any other information.

[2022-06-02 20:42] jmugan opened #17358 "[Bug]: hangs at collection.num_entities"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I call `collection.num_entities` it hangs. Maybe the database got shutdown in a bad state? Restarting doesn't help.

### Expected Behavior

It returns the number of entities.

### Steps To Reproduce

_No response_

### Milvus Log

I didn't see anything in the log

[2022-06-03 00:31] yanliang567 commented on #17358
@jmugan thank you for the issue. I sounds like a known issue for us. To confirm that, could you please use this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export Milvus logs?

/assign @jmugan
/unassign

[2022-06-03 00:33] yanliang567 commented on #17226
@eric-roland thanks a lot. We will keep you posted.

@sunby could you please take a look at this issue?
/assign @sunby
/unassign

[2022-06-03 00:38] yanliang567 commented on #17344
@lilida etcd is play a role as registering and service detecting in Milvus cluster, so it requires high performance in volume, and we suggest you use SSD here.

[2022-06-03 01:18] jmugan commented on #17358
Hi @yanliang567 I've exported the logs. They are 100 MB. Do you want the whole thing?

The last few records look like this
[code]

[2022-06-03 02:09] cydrain commented on #17329
@ThreadDao
From the log
[code]
we can see the cluster prefix is "milvus-upg", by default cluster prefix is set to "by-dev".
Is this the root cause that makes upgrade fail ?

[2022-06-03 02:34] cydrain commented on #17277
"terminate called recursively" will be reported in 2 scenarios:
1. unique_lock is used recursively
2. exception is thrown out in multi-thread but not caught correctly

Check all segcore code where unique_lock is used, there is no scenario 1,
so there should be some places where exception is thrown out in multi-thread.

[2022-06-03 03:33] cydrain commented on #17277
in the path from segcore to faiss search, see no multi-thread
[code]

[2022-06-03 03:44] zhuwenxing commented on #17291
http://10.100.32.144:8080/blue/organizations/jenkins/deploy_test/detail/deploy_test/702/pipeline
[chaos.var.log.containers.cluster-upgrade-702-milvus-indexcoord-5484ffd85-wmnxb_chaos-testing_indexcoord-e0fbe44d09f753e47a0604382e01c6e0ec95dccadbc0489379ebb2f86ae42b1d.zip](https://github.com/milvus-io/milvus/files/8829351/chaos.var.log.containers.cluster-upgrade-702-milvus-indexcoord-5484ffd85-wmnxb

[2022-06-03 08:40] zhuiqi525 opened #17360 "[Bug]: drop collection if pass with alias name then the alias couldn't be delete or alter to other collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When i try to drop collection and make some mistake pass with alias name. then the alias couldn't be drop or bind to other collections.

it's easy to reproduce this situation

### Expected Behavior

when drop collection with alias name, just do nothing or drop collect

[2022-06-03 10:02] passionzhan opened #17361 "milvus-standalone pod crashed and failed to restart after inserting 100k vectors"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

单机版在插入10w+数据后，名为milvus-standalone的docker容器服务突然就挂了，手动重启也起不来。
将原有milvus-standalone镜像删除，然后 用命令 docker-compose up -d 挂载原有数据重启，还是不行。

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

mivlus日志见网盘：

链接：https://pan.baidu.com/s/1jyUE

[2022-06-03 12:57] soothing-rain commented on #17360
/assign @EricStarer

[2022-06-03 13:12] #17307 closed

[2022-06-03 13:13] bigsheeper commented on #17267
this issue should be fixed, would you please make a verify, thanks @binbinlv

[2022-06-03 13:45] #16691 closed

[2022-06-03 13:45] #15637 closed

[2022-06-03 19:31] #16621 closed

[2022-06-03 19:31] #16647 closed

[2022-06-03 19:31] #16645 closed

[2022-06-03 21:09] lilida commented on #17344
Some update. the issue seems to be related to the storage of S3. Unlike default config uses minio, I am using S3 as backend.  The minio initialization seems never succeeded. After I switched back to minio, it seems that the issue is gone

[2022-06-04 01:30] jmugan commented on #17358
Are there any workarounds for this? Can I reset something?

[2022-06-04 04:24] cydrain commented on #17277
[code]
@xige-16 do you know why one segment is searched twice?

[2022-06-04 08:24] yanliang567 commented on #17358
yes, if possibel, please upload the whole logs with a zip file.

[2022-06-04 08:27] yanliang567 commented on #17360
@zhuiqi525 are you using a python sdk or java sdk? and sdk version?

/assign @zhuiqi525

[2022-06-04 08:39] yanliang567 commented on #17361
@passionzhan could you please retry with Milvus 2.0.2, I think this was fixed already.

/assign @passionzhan
/unassign

[2022-06-04 09:43] zhuiqi525 commented on #17360
python sdk , version 2.0.2

[2022-06-04 11:00] EricStarer commented on #17360
In the current version，drop collection operation will drop the alias with it simultaneously. In the future version, drop a collection with alias will return an error: "Collection with alias could not be droped. You should remove the alias from this collection first."

[2022-06-04 14:47] #16702 closed

[2022-06-04 20:04] jmugan commented on #17358
Here is the log.
[milvus_log.zip](https://github.com/milvus-io/milvus/files/8838612/milvus_log.zip)

[2022-06-05 06:31] EricStarer commented on #17360
So we recommend you drop or alter the alias first, then drop the collection. @zhuiqi525

[2022-06-05 14:19] xiaofan-luan commented on #17360
This is actually the expected behavior, you will has to drop all alias of the related collection before drop the collection

[2022-06-05 14:25] xiaofan-luan commented on #2771
keep it open.
Any progress on it?

[2022-06-05 14:31] xiaofan-luan commented on #17277
They have different timestamp and I guess concurrent search is highly possible for Java client

[2022-06-05 14:32] xiaofan-luan commented on #17277
This doesn't mean that one single request search the segment twice

[2022-06-05 15:00] xiaofan-luan commented on #17321
/assign @zhuwenxing

[2022-06-05 15:06] xiaofan-luan commented on #17291
From the code, we are watching etcd with a magic string, which is such a bad code since we have no ideas about who else is watching indexes.
watchChan := i.metaTable.client.WatchWithPrefix("indexes")

also the log "IndexCoord watchMetaLoop find meta updated " does't even make sense to me.

[2022-06-05 15:20] xiaofan-luan opened #17363 "[Bug]: Etcd error is not handled gracefully when we watch etcd path"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Most of the time we just watch and get channel from etcd.
How ever when etcd error happened, we didn't carefully handled it(At least we need to panic on it).

### Expected Behavior

We need to go through all the etcd watch code, make sure all exist code are working as

[2022-06-05 15:32] xiaofan-luan commented on #17291
I though #17363 is related with this issue.

[2022-06-05 16:00] xiaofan-luan commented on #16536
keep it open

[2022-06-05 16:55] xiaofan-luan opened #17365 "[Enhancement]: Compaction parameter has to be config"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

We find that current compaction parameter is all in constant.

It is hard to make sure the compaction policy work as expected.

For example, maxLittleSegmentNum  = 10 will make small segements won't merge to large ones.

So we should all the compaction parameter configurable.

[2022-06-05 21:56] #16743 closed

[2022-06-05 21:56] #16746 closed

[2022-06-05 21:56] #16518 closed

[2022-06-05 21:56] #16732 closed

[2022-06-06 00:39] yanliang567 commented on #17358
@xiaofan-luan looks like a known issue in milvus 2.0.2, could you please double check that?

/assign @xiaofan-luan

/unassign

[2022-06-06 01:45] zhuwenxing commented on #17335
in version `master-20220602-48cf63a2`
failed job: https://github.com/milvus-io/milvus/runs/6746618979?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/6800772748/artifacts/261201962

[2022-06-06 02:02] #17267 closed

[2022-06-06 02:10] zhuwenxing opened #17366 "[Bug]: Hangs at creating collection after Milvus recovered from datanode pod kill chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

run e2e test after chaos timeout
[code]
from the log in proxy, after the request to create a collection is accepted, there is no subsequent log. We can speculate that it hangs at the step of  creating the collection

### Expected Behavior

all test cases passed

### S

[2022-06-06 02:14] zhuwenxing commented on #17321
not reproduced in `master-20220602-48cf63a2`

[2022-06-06 02:17] zhuwenxing commented on #17335
This also happened after pulsar pod kill

failed job: https://github.com/milvus-io/milvus/runs/6730846991?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/6786357679/artifacts/260131721

[2022-06-06 02:21] ThreadDao commented on #17329
'milvus-upg' is my standalone release name

[2022-06-06 02:23] XuanYang-cn commented on #17289
[code]

[2022-06-06 02:34] zhuwenxing opened #17367 "[Bug]: Search failed with error message `code=1, message=fail to search on all shard leaders, err=err: context deadline exceeded` after Milvus recovered from querynode pod kill chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

run hello_milvus after chaos
[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: https://github.com/milvus-io/milvus/runs/6730847207?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/67

[2022-06-06 02:35] binbinlv commented on #17176
@longjiquan  could you please have a check? Thanks.

Latest nightly failure about delete:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/574/pipeline

1. Milvus logs:
[artifacts-milvus-distributed-kafka-master-574-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/574/artifact/artifacts-milvus-distributed-kaf

[2022-06-06 02:36] zhuwenxing commented on #17367
failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/6086/pipeline
log: [artifacts-querynode-pod-kill-6086-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8841481/artifacts-querynode-pod-kill-6086-server-logs.tar.gz)

[2022-06-06 02:38] soothing-rain commented on #17366
@yhmo can you take a look at this?

[2022-06-06 02:43] wangting0128 commented on #17048
argo task: benchmark-cron-1654444800

test yaml:
client-configmap:client-search-sift50m-ivf-flat-2048,instanceId:7,server-configmap:server-cluster-16c64m

server:
[code]

client pod: benchmark-cron-1654444800-3646200302

client log:
[code]

[2022-06-06 02:45] wangting0128 commented on #17288
argo task: benchmark-cron-1654444800

test yaml:
client-configmap:client-search-sift50m-ivf-flat-2048,instanceId:6,server-configmap:server-single-16c64m

server:
[code]

client pod: benchmark-cron-1654444800-1839438142

client log:
[code]

[2022-06-06 02:48] xige-16 commented on #17356
investigating

[2022-06-06 02:52] WangErXiao opened #17368 "[Bug]: When collection is loaded, i drop one partition of the collection from attu."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When collection is loaded, i drop one partition of the collection from attu.
But i found that the memory of querynode didn't reduce and the number of vector didn't change from attu.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milv

[2022-06-06 02:53] yanliang567 commented on #17297
@BUPTAnderson sorry, but can you try to enable debug log and then re-test this again?
The search request entered in proxy also entered querynode, but not sure whether it times out in proxy or querynode.

Taking msg id `433605860175276463` as an example:

[code]
But I guess it's that rootcoord didn't forward timetick message caused that querynode didn't update the service time, so the search reques

[2022-06-06 03:00] zhuwenxing opened #17369 "[Bug]: Hangs at step running `verify_all_collections.py` with repeated log `GetIndexState enqueued` after Milvus recovered from minio network-latency chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

 Hangs at step running `verify_all_collections.py`
[code]

repeated log in proxy

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/c

[2022-06-06 03:04] haorenfsa commented on #17329
milvus-operator always uses `${milvus-name}-` as its channelPrefix by default.
So the channelPrefix should be `${milvus-name}-` both before & after the upgrade.

[2022-06-06 03:08] yhmo commented on #17300
Fixed by #17324

[2022-06-06 03:08] yanliang567 commented on #17368
If collection.load() is called at the first, I don't think we are able to release one of collection now. There is a limitation in Milvus 2.x now as introduced [here](https://milvus.io/docs/v2.0.x/release_partition.md)
@shanghaikid could you please double check whether Attu need some updates here for this limiation?

[2022-06-06 03:08] yanliang567 commented on #17368
/assign @shanghaikid
/unassign

[2022-06-06 03:15] AI-Mart opened #17370 "Etcd node suddenly failed to run"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Etcd node suddenly failed to ru
<img width="786" alt="微信图片_20220606111243" src="https://user-images.githubusercontent.com/63343847/172088528-f5afe86e-aaf8-4279-9c5f-e17c2c8646bb.png">

### Expected Behavior

The etcd node should run successfully

### Steps To Reproduc

[2022-06-06 03:16] WangErXiao commented on #17368
i found i can still query the vector data of the deleted partition ...

[2022-06-06 03:17] congqixia commented on #17367
@jiaoew1991 could you please help investigate this?
/unassign @yanliang567
/assgin @jiaoew1991

[2022-06-06 03:17] XuanYang-cn commented on #17289
This seems to be an old issue of pulsar: https://github.com/apache/pulsar/issues/5284

[2022-06-06 03:18] shanghaikid commented on #17368
So what's your suggestion? If the collection is loaded, should we make the delete partition button disabled?  But in this document, there is no this rule.

[2022-06-06 03:20] WangErXiao commented on #17368
My business scene is that I only need latest 30d vector data, because milvus doesn't ttl at current stage.

[2022-06-06 03:22] wangting0128 opened #17371 "[Bug]: [benchmark][cluster] Load 1 million vectors failed: collection sift_1m_128_l2 has not been loaded to memory or load failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task: benchmark-cluster-cron-1654376400

test yaml:
client-configmap:client-search-locust,instanceId:3,server-configmap:server-cluster-8c16m

server:
[code]

client pod: benchmark-cluster-cron-1654376400-900859666

client log:
[code]

### Expected Behavior

_No r

[2022-06-06 03:22] longjiquan commented on #17176
case delete_GXO5uZeM

[code]

querynode didn't receive delete message:

[code]

[2022-06-06 03:29] wangting0128 opened #17372 "[Bug]: [benchmark][cluster] querycoord crash, and load failed: err: context deadline exceeded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task: benchmark-cluster-cron-1654290000

test yaml:
client-configmap:client-search-locust,instanceId:3,server-configmap:server-cluster-8c16m

server:
[code]

client pod: benchmark-cluster-cron-1654290000-4007998499

client log:
[code]

### Expected Behavior

_No

[2022-06-06 03:32] yhmo commented on #17312
@shanghaikid
Excellent work! The feder is a python lib, if we can integrate it into the Attu, it would be a grate feature for milvus users.

[2022-06-06 03:33] JackLCL commented on #17370
@AI-Mart
Can you upload the etcd log here?

[2022-06-06 03:33] XuanYang-cn commented on #17289
/unassign
/assign @letian-jiang

[2022-06-06 03:33] XuanYang-cn commented on #17335
/assign

[2022-06-06 03:34] WangErXiao commented on #17368
When i reload the collection, i found i can still query or search the vector data of deleted partition.

[2022-06-06 03:34] jingkl commented on #16150
argo
benchmark-cluster-cron-1654290000
server-configmap
server-single-32c128m
client-configmap
client-get-local50m-512
pymilvus==2.1.0.dev67
[code]
client log
[code]

[2022-06-06 03:39] cydrain commented on #17329
[code]
see above logs, when new version Milvus startup, cluster name "by-dev" is used, not "${milvus-name}"

[2022-06-06 03:43] wangting0128 opened #17375 "[Bug]: [benchmark][standalone] search raise error： fail to search on all shard leaders, err=err: rpc error: code = Unavailable desc = keepalive ping failed to receive ACK within timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task: benchmark-cluster-cron-1654290000

test yaml:
client-configmap:client-search-filter-sift50m-ivf-flat-2048,instanceId:5,server-configmap:server-single-16c64m

server:
[code]

client pod: benchmark-cluster-cron-1654290000-2134277759

client log:
[code]

### E

[2022-06-06 03:49] cydrain commented on #17031
/assign @yanliang567 please verify this issue

[2022-06-06 03:51] yanliang567 commented on #17031
@xiaofan-luan I think we'd better verify this in UT
/assign @xiaofan-luan
/unassign

[2022-06-06 03:54] shanghaikid commented on #17368
@yanliang567

[2022-06-06 03:58] yanliang567 commented on #17152
it reproduces once(1/8) on master-20220602-48cf63a2 with 2 data nodes deployed.
[issue.17152.log.tar.gz](https://github.com/milvus-io/milvus/files/8841807/issue.17152.log.tar.gz)

[2022-06-06 03:59] yanliang567 commented on #17152
/assign @yhmo
/unassign

[2022-06-06 04:12] ThreadDao commented on #16705
Fixed `master-20220602-48cf63a2`

[2022-06-06 04:12] #16705 closed

[2022-06-06 04:38] AI-Mart commented on #17370
上传了日志了的，是的压缩文件

发自我的iPhone

------------------ Original ------------------
From: Chenglong.li ***@***.***&gt;
Date: Mon,Jun 6,2022 11:33 AM
To: milvus-io/milvus ***@***.***&gt;
Cc: AI-Mart ***@***.***&gt;, Mention ***@***.***&gt;
Subject: Re: [milvus-io/milvus] Etcd node suddenly failed to run (Issue #17370)

@AI-Mart
 Can you upload the etcd log here?

—
Reply to this email directly, view it on G

[2022-06-06 05:33] jiaoew1991 commented on #17367
/assign

[2022-06-06 06:05] LoveEachDay commented on #17283
Another question to note is that:
[code]
When etcd member is starting, it will calculate the `cluster_id` based on the peer urls, we'd filter out the `pod-ip.<svc-name>.svc.cluster.local` dns name, using the `headless` svc name.

This is temporarily fixed using the following image:
[code]

After the performance test and stability test are all passed, we'll push this image to `milvusdb/etcd` reposi

[2022-06-06 06:05] #17283 closed

[2022-06-06 06:18] AI-Mart commented on #17370
[my-release-etcd-log.zip](https://github.com/milvus-io/milvus/files/8842264/my-release-etcd-log.zip)

[2022-06-06 06:55] cydrain commented on #17329
@haorenfsa
Root cause found.
In Milvus 2.0.2, cluster prefix is named "msgChannel.chanNamePrefix.cluster".
In Milvus latest, cluster prefix is re-named to "common.chanNamePrefix.cluster".
For backward compatibility, Milvus will get cluster prefix from "common.chanNamePrefix.cluster" firstly, then from "msgChannel.chanNamePrefix.cluster".
The latest k8s Operator only change the name in "msgChannel.

[2022-06-06 06:55] cydrain commented on #17329
/assign @haorenfsa

[2022-06-06 06:55] cydrain commented on #17329
/unassign

[2022-06-06 07:00] StevenSama opened #17378 "[Bug]: The query results of the two versions are abnormal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/6235700/172110960-6fb8aa03-a172-43df-9b1f-77b32dbd254c.png)
figure 1
![image](https://user-images.githubusercontent.com/6235700/172111081-51d5de56-0b23-4c7d-941c-aa59176dc893.png)
figure 2

Figure 1 is the query resul

[2022-06-06 07:05] StevenSama commented on #17122
useing docker image，docker pull milvusdb/milvus-dev:master-20220602-48cf63a2

[2022-06-06 07:06] StevenSama commented on #17378
useing docker image，docker pull milvusdb/milvus-dev:master-20220602-48cf63a2

[2022-06-06 07:13] qi49125 opened #17379 "[Bug]: ASan runtime does not come first in initial library list; you should either link runtime to your application or manually preload it with LD_PRELOAD"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

ERROR: ld.so: object '/usr/lib/x86_64-linux-gnu/9/libasan.so' from LD_PRELOAD cannot be preloaded (cannot open shared object file): ignored.
ERROR: ld.so: object '/usr/lib/x86_64-linux-gnu/9/libasan.so' from LD_PRELOAD cannot be preloaded (cannot open shared object fi

[2022-06-06 07:16] XuanYang-cn commented on #17335
/assign @zhuwenxing Please help verify

[2022-06-06 07:24] #17343 closed

[2022-06-06 07:48] congqixia opened #17381 "[Bug]: Misuse container/list with iteration and removal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

In `QueryNode` task scheduler, removal happens inside iteration of a list. Directly calling `list.Remove(e)` will cause `e.Next()`  to return nil even there are elements to iterate.

### Expected Behavior

Use remove and iteration correctly.

### Steps To Reproduce

_

[2022-06-06 08:14] zhuwenxing opened #17383 "[Bug]: Search failed with error message `Deadline Exceeded` after Milvus reinstall or upgrade"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: http://10.100.32.144:8080/blue/organizations/jenkins/deploy_test/detail/deploy_test/726/pipeline
log: [artifacts-cluster-reinstall-726-logs.tar.gz](https:

[2022-06-06 08:18] xiaocai2333 commented on #17291
If the etcd client is closed, the watch chan will be closed. Then watch loop will continuously listen empty event with `ok` is false. So we need handle the error when using channel.

[2022-06-06 08:28] xiaofan-luan commented on #17291
/assign @zhuwenxing

[2022-06-06 08:34] #17381 closed

[2022-06-06 08:43] zhuwenxing commented on #17291
working on it

[2022-06-06 08:44] ThreadDao commented on #17091
@yanliang567 @congqixia
image: upgrade 'master-20220517-127dd34b' to `master-20220606-45febac2`
**Before upgrade:**
1. replicas
[code]
2. segment info
[code]
3. Search successfully

 **After upgrade:**
1. replicas
[code]
2. segment info
[code]
3. Search get an empty result sometimes
[code]

**Server logs:**
[mic_logs.tar.gz](https://github.com/milvus-io/milvus/files/8843051/mic_logs.tar.gz)

[2022-06-06 08:44] ThreadDao commented on #17091
/unassign
/assign @congqixia

[2022-06-06 08:50] yanliang567 commented on #17371
/assign @xige-16
/unassign

[2022-06-06 08:52] BUPTAnderson commented on #17297
@yanliang567 thx, we will change the consistency level to eventually and try again.

[2022-06-06 08:52] yanliang567 commented on #17370
/assign @LoveEachDay
/unassign

[2022-06-06 08:53] ThreadDao commented on #16789
Are you going to fix it soon? @congqixia

[2022-06-06 08:53] yah01 commented on #17321
@zhuwenxing
The PR #17377 should fix this

[2022-06-06 08:54] yah01 commented on #17016
/assign
/unassign @congqixia
@zhuwenxing
#17377 should fix this

[2022-06-06 08:55] #17379 closed

[2022-06-06 09:42] soothing-rain commented on #16984
It just occurred to me by looking at this log that there are multiple threads running [scene_insert_delete_flush].

Here's my guess below. Theoretically, this issue might occur with 3 or more threads (please correct if I made a mistake)

ideal case (1 thread):
time1: start [insert_delete_flush] and generated segments s1, s2.
t2: flush done on s1, s2, start [insert_delete_flush] and generate segmen

[2022-06-06 09:44] yanliang567 commented on #17300
verified fix on master-20220602-48cf63a2

[2022-06-06 09:44] #17300 closed

[2022-06-06 09:54] congqixia commented on #16823
Let's keep this open for tracking

[2022-06-06 10:06] yanliang567 commented on #17378
@StevenSama did you try with the milvus sdk? I am asking because I want to check whether it is an Attu issue or Milvus issue?

/assign @StevenSama
/unassign

[2022-06-06 10:06] yanliang567 commented on #17383
/assign @congqixia
/unassign

[2022-06-06 10:07] LoveEachDay commented on #17370
@AI-Mart Seems like pod `my-release-etcd-1` restarted. Could you provide the the log using the following command:
[code]

And upload the above log file.

[2022-06-06 10:10] zhuwenxing commented on #17016
actually, before the pr https://github.com/milvus-io/milvus/pull/17377, this  issue did not happen in version `master-20220602-48cf63a2` in three tests already.

for now, the issue after querynode pod kill is search failure https://github.com/milvus-io/milvus/issues/17367

[2022-06-06 10:12] zhuwenxing commented on #17016
so remove the critical label, but keep watching it

[2022-06-06 10:13] zhuwenxing commented on #17016
/assign
/unassign @yah01

[2022-06-06 10:16] yah01 commented on #17321
@zhuwenxing
Is this issue the same as #17016 ?

[2022-06-06 10:18] yanliang567 commented on #17366
/assign @yhmo
/unassign

[2022-06-06 10:30] zhuwenxing commented on #17321
not sure about it. You can investigate it with the latest error log in https://github.com/milvus-io/milvus/issues/17321#issuecomment-1146977701.

Maybe they have some difference, because, from the current point of view, this issue still happened in version `master-20220602-48cf63a2`, but #17016 did not.

[2022-06-06 10:36] yah01 commented on #17321
OK, they both get stuck with LoadBalance, but for only querynode pod killed, #17306 fixes it. The entire system pod killed (this issue) should be fixed with #17377.

[2022-06-06 10:38] zhuwenxing commented on #17383
@congqixia some updates:
I have tried deploy test in GitHub Action and Jenkins with version `master-20220606-ac6394d0`.
The tests almost all passed, and the failed tests all failed in deployment(known issue)

[2022-06-06 10:43] jiaoew1991 commented on #17367
By analyzing the log, we can find that the proxy tries to use the old querynode ip: **10.244.0.18**, the real querynode ip is **10.244.0.70**

![image](https://user-images.githubusercontent.com/2297455/172130006-c0606a4e-4ef0-4fa3-9efa-b6e7aaf437da.png)

from the code in the proxy/task_search.go, we can find that error handler did not handle this case correctly (cached shard leader caused grpc tim

[2022-06-06 10:48] yanliang567 commented on #17360
/assign @zhuwenxing
@zhuwenxing could you please help to check the behavior here?

[2022-06-06 11:16] congqixia opened #17392 "[Bug]: Shard leader cache is not invalidated if search meet connection error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When grpcClient failed to dial to address, an error will be returned without cleaning the cache.

### Expected Behavior

Do the doSearch without cache when connection error happens.

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything el

[2022-06-06 11:45] AI-Mart commented on #17370
[root@k8s-master01 ~]# kubectl logs my-release-etcd-1 --previous > my-release-etcd-1.pre.log
Error from server (BadRequest): previous terminated container "etcd" in pod "my-release-etcd-1" not found

[2022-06-06 11:45] AI-Mart commented on #17370
[root@k8s-master01 ~]# kubectl logs my-release-etcd-1 --previous > my-release-etcd-1.pre.log
Error from server (BadRequest): previous terminated container "etcd" in pod "my-release-etcd-1" not found
[root@k8s-master01 ~]#

[2022-06-06 11:56] yanliang567 opened #17394 "[Bug]: [bulkload]one of data node crashes if bulk load a big file with 1 million entities"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

one of data nodes crashes

### Expected Behavior

bulk load data successfully

### Steps To Reproduce

[code]

### Milvus Log
[datanode.crash.log.tar.gz](https://github.com/milvus-io/milvus/files/8844219/datanode.crash.log.tar.gz)

_No response_

### Anything else?

_

[2022-06-06 11:57] yanliang567 commented on #17394
/assign @yhmo
/unassign

[2022-06-06 12:11] yanliang567 commented on #17394
debug log:
[datanode.crash.debug.log.tar.gz](https://github.com/milvus-io/milvus/files/8844357/datanode.crash.debug.log.tar.gz)

[2022-06-06 12:24] xiaofan-luan commented on #17335
/assign @zhuwenxing

[2022-06-06 12:24] #17363 closed

[2022-06-06 12:37] qi49125 opened #17396 "[Bug]: pulsar java.lang.IllegalArgumentException: Mark deleting an already mark-deleted position"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

12:31:07.161 [pulsar-io-18-28] INFO org.apache.bookkeeper.mledger.impl.ManagedCursorImpl - [public/default/persistent/by-dev-rootcoord-dml_4-querynode-1010-432520058327793665-ibubg] Rewind from 794:0 to 794:0
12:31:07.161 [pulsar-io-18-26] INFO org.apache.pulsar.broke

[2022-06-06 13:15] yanliang567 commented on #17396
/assign @jaime0815
/unassign

[2022-06-06 13:21] qi49125 opened #17397 "[Bug]: query node restart when search"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[2022/06/06 13:16:25.754 +00:00] [DEBUG] [query_collection.go:350] ["check if query timeout"] [collectionID=432520058327793665] [msgID=433722839121264674] [TimeoutTs=0] [curTime=433722854147096576] [timeoutTsPhysical=1970/01/01 00:00:00.000 +00:00] [curTimePhysical=20

[2022-06-06 14:23] ThreadDao commented on #16114
Verified fixed on image `master-20220606-9f786dd7`

[2022-06-06 14:23] #16114 closed

[2022-06-06 14:42] cjheppell opened #17400 "[Bug]: Version 1.1.1 illegal instruction - fails to start on Macbook M1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I try to run `milvus_server` in a `linux/amd64` emulated docker container on my M1 Macbook Pro, milvus server immediately returns an illegal instruction error.

[code]

### Expected Behavior

Milvus server starts successfully.

### Steps To Reproduce

1. M1 macbo

[2022-06-06 15:38] dariocurr opened #17401 "[Enhancement]: Add log_level env variable to milvus standalone"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I would like the option to edit the log level when running `milvus-standalone`.

### Why is this needed?

To don't mess up the shell

### Anything else?

_No response_

[2022-06-06 16:05] wayblink commented on #16984
This sounds reasonable and match what we got——the segments number keeps growing. And I found flush time for each segment grows as well(about 1min30s max). I will do some test to approve this.
It can explain all If the flush speed and flushing segment number has an inverse relationship. But what is the bottleneck is still unclear. The CPU, memory usage is not very large.

[2022-06-06 16:15] matrixji commented on #12335
The PR is ongoing on 1.1 branch.  https://github.com/milvus-io/milvus/pull/17143
If you just want to have a try 1.1.1 CPU images on MacBook M1,  you could try using image with `matrixji/milvus:1.1-enhanced-cpu-9408a4e`

[code]

Ref: https://jibin.net/2022/05/some-enhancement-of-milvus-1.1.html  Sorry for I've written this article in Chinese, and it should be easy to read through Google translate.

[2022-06-06 21:25] EricStarer commented on #17360
I will check the behavior in a new feature #17131

[2022-06-07 00:18] alphinside opened #17403 "[Bug]: Alter alias not working after restarting docker compose, collection failed to load"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After I shutdown the service using docker compose down, and reinitialize the service again using the docker compose up. Failed to alter alias and some collection ( not all ) failed to load.

As a context as milvus doesn't have list alias API yet, I try to embed the co

[2022-06-07 01:20] yanliang567 commented on #17403
@alphinside thank you for the issue. could you please use docker-compose logs > milvus.log to export the logs for investigation?

/assign @alphinside
/unassign

[2022-06-07 01:24] yanliang567 commented on #17397
/assign @jaime0815
/unassign

[2022-06-07 01:31] alphinside commented on #17403
Sure, I reproduce the load error and do the alter alias (but alias not changed) in this log @yanliang567
[milvus.log](https://github.com/milvus-io/milvus/files/8849306/milvus.log)

[2022-06-07 02:02] xiaofan-luan commented on #17401
I thought there is already already a switch at milvus.yaml, do we want to config log level from local env as well?

[2022-06-07 02:03] yanliang567 commented on #17403
@soothing-rain could you please take a look at this issue?
/assign @soothing-rain
/unassign

[2022-06-07 02:06] xiaofan-luan commented on #17394
/milvus/tools/run.sh: line 8:    17 Killed                  $@

according to the last log, seems to be killed, might a memory issue?

[2022-06-07 02:07] zhuwenxing commented on #17335
Not reproduced in version `master-20220606-98e95275`

success job:
* datanode: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/6142/pipeline/61
* pulsar:  http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/6146/pipeline

[2022-06-07 02:08] yanliang567 commented on #17400
@yhmo do we have any plan to fix this in milvus 1.x
/assign @yhmo
/unassign

[2022-06-07 02:12] xiaofan-luan commented on #17305
/assign @wangting0128 could you help on verifying this~

[2022-06-07 02:13] xiaofan-luan commented on #17286
@LoveEachDay any progress on it?

[2022-06-07 02:14] xiaofan-luan commented on #17270
close it since it should be fixed, wait to be verified in 15966

[2022-06-07 02:14] #17270 closed

[2022-06-07 02:16] xiaofan-luan commented on #17178
@longjiquan nice catch! let me know if 17398 is ready for review

[2022-06-07 02:20] xiaofan-luan commented on #17151
@bigsheeper does the segmentPtr lock also guard for delete and insert?

[2022-06-07 02:21] yanliang567 commented on #17394
I did set a 4GB memory limitation, but the monitor says it has not meet the limitation yet.
![image](https://user-images.githubusercontent.com/82361606/172281949-7a29e565-c8ae-4f17-9438-99ba809b48a6.png)

[2022-06-07 02:23] bigsheeper commented on #17151
Yes，now collection mutex would guard for both delete and insert

[2022-06-07 02:25] xiaofan-luan commented on #17151
remove the urgent label for now

[2022-06-07 02:29] xiaofan-luan commented on #16984
impressive analysis:

t3: flush done on s1, s2, thread1 started another [insert_delete_flush], but since flush is not done on s3, s4 the collection will end up with s3, s4, s5, s6 (that need to be flushed, where s5, s6 are newly inserted segments).

Since s3 and S4 is already handled by thread2, does it make more sense to only flush S5 and S6 for next selection? @wayblink @soothing-rain

[2022-06-07 02:35] xiaofan-luan commented on #17394
Memory usage seems to be ok,  is this reproducible or happened by chance? might be killed because of lack of physical  memory on the machine

[2022-06-07 02:37] wangting0128 commented on #17305
verify：master-20220606-f38637c2

[2022-06-07 02:37] #17305 closed

[2022-06-07 02:39] jingkl commented on #17288
benchmark-cron-1654531200
server-configmap
server-single-16c64m
client-configmap
client-search-sift50m-ivf-flat-2048
master-20220606-f38637c2

NAME                                                              READY   STATUS      RESTARTS   AGE     IP             NODE                      NOMINATED NODE   READINESS GATES
[code]
[code]

[2022-06-07 02:39] yanliang567 commented on #17394
reproduced 2 times with 2 attempts :(

[2022-06-07 02:42] jingkl commented on #16943
server-instance
benchmark-cron-1654531200
server-configmap
server-cluster-16c64m
client-configmap
client-search-sift50m-ivf-flat-2048

master-20220606-f38637c2

[code]
pymilvus==2.1.0.dev67
[code]

[2022-06-07 02:58] zhuwenxing commented on #17383
In today's deploy test in github action and jenkins, all tests are passed.
* https://github.com/milvus-io/milvus/actions/runs/2450298379

Have no idea which PR fixed this issue.

[2022-06-07 03:00] binbinlv opened #17405 "[Bug]: [kafka] Drop collection failed for timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Drop collection failed for timeout

[code]

### Expected Behavior

Drop collection successfully

### Steps To Reproduce

[code]

### Milvus Log

1.Milvus logs:
[artifacts-milvus-distributed-kafka-master-577-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/

[2022-06-07 03:02] zhuwenxing commented on #17291
In my recent three tests, this issue was not reproduced.
But its original probability of occurrence is not very high either, so more tests are needed to verify it.

[2022-06-07 03:05] bigsheeper commented on #16943
<img width="1359" alt="image" src="https://user-images.githubusercontent.com/42060877/172286718-04f7737f-1bca-4435-afda-ff0f34e595e4.png">

QueryNode in argo test `benchmark-cron-1654531200` seems didn't restart after #17373 merged

[2022-06-07 03:06] bigsheeper commented on #17288
benchmark-cron-1654531200:

<img width="1359" alt="image" src="https://user-images.githubusercontent.com/42060877/172287085-871f8104-0544-4f1a-8405-4fe309984297.png">

[2022-06-07 03:07] zhuwenxing commented on #16450
not reproduced yet

[2022-06-07 03:16] binbinlv commented on #16961
This issue on pulsar is fixed and could not reproduced for couple days, so close this issue.

[2022-06-07 03:16] #16961 closed

[2022-06-07 03:18] alphinside commented on #17403
adding more logs here. It appears that after multilple collection load and release, some collection will be failed to load
[milvus.log](https://github.com/milvus-io/milvus/files/8849858/milvus.log)

[2022-06-07 03:31] zhuwenxing commented on #15966
@XuanYang-cn

It is still reproduced.

https://github.com/milvus-io/milvus/runs/6766305933?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/6814256315/artifacts/262399001

[2022-06-07 03:32] soothing-rain commented on #17403
Hey @alphinside ,

1) Regarding collection load failure, this is a known issue to Milvus 2.0.2. You can try our hot-fixed version (docker pull milvusdb/milvus:v2.0.2-hotfix-16885), or wait a bit for our Milvus 2.1 release :)
2) About the alias thing, I am not sure what you mean by `I found that after I downed and restarted the docker compose, alter alias not working directly. The alias only change

[2022-06-07 03:41] xiaofan-luan commented on #17368
@shanghaikid  @WangErXiao  seems that we no longer support release partition when collection is loaded,

[2022-06-07 03:51] alphinside commented on #17403
Hi @soothing-rain thank you for your information, will try that version

2. for the alias thing, yes after the first docker compose down-up restart, in order the alias to have effect, I need to restart the docker compose again. Sure will update the detail focused on the alias now

[2022-06-07 03:57] zhuwenxing opened #17408 "[Bug]: Hangs at outputting repeated log after Milvus recovered from rootcoord pod kill chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

running `verify_all_collections.py` timeout

repeated log in proxy pod
[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/6

[2022-06-07 04:06] xiaofan-luan commented on #17408
/assign @xiaocai2333

[2022-06-07 04:06] xiaofan-luan commented on #17408
From the indexcoord log we find 4 index task in none mode and never assigned, need to figure out the reason

[2022-06-07 04:20] #17392 closed

[2022-06-07 05:54] soothing-rain commented on #16984
The good thing is that segments won't actually get flushed multiple times. It's just with multiple client threads running [insert+delete+flush] on the same collection might cause (1) the collection having a lot of segments and (2) multiple (>2) segments being flushed at the same time.

[2022-06-07 06:23] zhuwenxing commented on #17360
I have tried with `master-20220602-48cf63a2` and ` 2.1.0.dev66`

When running the script below
[code]

the output is
[code]

So in this config, it is OK to alter alias to another collection and drop alias after you drop collection failed by alias by mistake

[2022-06-07 06:25] WangErXiao opened #17410 "[Bug]: Failed to create producer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Cluster stop response  search request suddenly.
I find proxy log as below. After I used pulsar-admin namespaces clear-backlog public/default, it still can't work.

time="2022-06-07T06:19:45Z" level=error msg="[Failed to create producer]" error="server error: ProducerB

[2022-06-07 06:25] yanliang567 opened #17411 "[Bug]: getSegmentInfo: queryNode 3 is offline"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Fail to self.utility_wrap.get_query_segment_info(name)
[code]

### Expected Behavior

return successfully with segments info that loaded in querynodes

### Steps To Reproduce

[code]

### Milvus Log

[get.seg.info.log.tar.gz](https://github.com/milvus-io/milvus/files/

[2022-06-07 06:25] WangErXiao commented on #17410
proxy continue restarting!

[2022-06-07 06:28] yanliang567 commented on #17411
@soothing-rain this reproduces when trying to run tests after issue #17394 reproduced. Not sure whether they are connected or not.
/assign @soothing-rain
/unassign

[2022-06-07 06:30] zhuwenxing commented on #17360
@zhuiqi525
You can try the code to check the behavior.
or can you please provide your reproduced code?

[2022-06-07 06:32] xiaofan-luan commented on #17411
I guess 3 is the querynode nodeID and it's growing globally~

[2022-06-07 06:37] xige-16 commented on #17371
[code]

[2022-06-07 06:37] xige-16 commented on #17371
[code]

[2022-06-07 06:38] xige-16 commented on #17371
[code]

[2022-06-07 06:39] xige-16 commented on #17371
The versions of querycoord and querynode are inconsistent

[2022-06-07 06:39] xige-16 commented on #17371
@wangting0128

[2022-06-07 06:47] zhuwenxing commented on #17360
Same behavior in version `v2.0.2`

[2022-06-07 06:54] jaime0815 commented on #17048
related to #17367

[2022-06-07 06:55] jaime0815 commented on #17048
fixed on #17392

[2022-06-07 06:56] jingkl commented on #17371
Version inconsistency, close issue

[2022-06-07 06:56] #17371 closed

[2022-06-07 06:56] zhuwenxing commented on #17408
I tried twice again, but it was not reproduced, so this issue does not appear stably.

[2022-06-07 06:59] xiaofan-luan commented on #17329
/assign @ThreadDao should work now, pls test on it

[2022-06-07 07:03] xige-16 commented on #17372
[code]

[2022-06-07 07:04] xige-16 commented on #17372
[code]

[2022-06-07 07:05] xige-16 commented on #17372
[code]
The versions of querycoord and datacoord are inconsistent

[2022-06-07 07:06] xiaofan-luan commented on #17408
/

This might be the timing issue between flush and index creation, czs007 and I are working on it

[2022-06-07 07:06] xiaocai2333 commented on #17408
rootcoord code
[code]

If rootcoord was killed between `t.core.RemoveIndex()` and `t.core.MetaTable.DropIndex`, the DropIndex task will failed. IndexCoord will remove the index with the indexName, but rootcoord did not successfully clean up the meta in etcd. So when rootcoord restarted, the segment index info still exist in rootcoord.

![image](https://user-images.githubusercontent.com/46207236/17

[2022-06-07 07:06] jingkl commented on #17372
Querynode and querycoord versions do not match, close issue

[2022-06-07 07:06] #17372 closed

[2022-06-07 07:33] longjiquan commented on #17178
Sure, and I think #17398 is ready now.

[2022-06-07 07:59] xiaofan-luan opened #17412 "[Enhancement]: Rootcoord made robust"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

We find current rootcoord task implementation is unsafe especially when running chaos test.

For instance:
For drop collection task,  we did following things:

1) get collection by name
2) allocate ts
3) release collection
4) drop all index to indexnode
5) broad delete task to

[2022-06-07 08:24] dariocurr commented on #17401
Yeah we would like it. The console is messed up and unreadble

[2022-06-07 08:28] zhuwenxing commented on #17330
@jaime0815  @xiaofan-luan  @czs007
Please also check this issue if convenient.

It has the same behavior as https://github.com/milvus-io/milvus/issues/17408.
Not sure whether they have the same root cause, because, in this test, no chaos happened other than reinstall.

But reinstall operation waits a minute after the first test before executing, so there should be no tasks executing in the backgro

[2022-06-07 08:39] XuanYang-cn commented on #15966
![image](https://user-images.githubusercontent.com/51370125/172327402-91595531-a2e6-4c28-89d7-3ee2ccff7cbd.png)

DataNode receives PUT ToWatch then DELETE event, but in DataCoord DELETE is triggered before PUT ToWatch, investigating now

[2022-06-07 08:57] xige-16 commented on #17254
woking it

[2022-06-07 09:12] LoveEachDay commented on #17370
@AI-Mart According the above output, the `my-release-etcd-1` does not restart. Could you list the pod status for the etcd cluster?

[2022-06-07 09:27] yanliang567 commented on #17289
if it is not 100% reproduce and recoverable, degrade priority

[2022-06-07 09:50] yanliang567 commented on #16887
/assign @ThreadDao

[2022-06-07 09:52] yanliang567 commented on #16288
please verify for pod chaos of datacoord @zhuwenxing

[2022-06-07 09:53] yanliang567 commented on #15966
/assign @XuanYang-cn

[2022-06-07 09:56] yanliang567 commented on #16150
/assign @xige-16

[2022-06-07 10:13] yah01 commented on #16887
Also, loading the segments' fields concurrently should help on this, which allows the runtime to GC loaded fields. #17273

[2022-06-07 10:34] wayblink commented on #16984
@soothing-rain @xiaofan-luan
Make a summary so far:
1, The multi-thread insert-delete-flush lead to flushing segments number grows.
   Almost all the 20 threads ran [scene_insert_delete_flush] 10 mins after benchmark started, because other tests are much faster.
   More and more [scene_insert_delete_flush] make flush performance worse.
2, We highly suspect the log printing influence the datanode p

[2022-06-07 11:28] jingkl opened #17416 "[Bug]:[benchmartk][cluster]Milvus updates the image and then search reports an error"fail to search on all shard leaders, err=All attempts results""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
benchmark-tag-no-clean-rgng6-1
server-configmap
server-cluster-8c64m-datanode2-indexnode4-querynode6-kafka
client-configmap
client-random-locust-search-84h-1b

update image:
benchmark-tag-no-clean-rgng6
server-configmap
server-cluster-8c64m-datanode2-i