[2021-12-17 11:19] xige-16 opened #13660 "[Enhancement]: Stop all tasks quickly when closing the querycoord's task scheduler"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

After the task scheduler's contex  of query coord has been canceled, all tasks which are executing should stop quickly.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-12-17 13:30] #13559 closed

[2021-12-17 13:47] jingkl opened #13673 "[Bug]:Test case" test_search_after_different_index_with_params"fail"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

TestCollectionSearch.test_search_after_different_index_with_params
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2021-12-17 15:44] #12742 closed

[2021-12-18 04:15] cydrain opened #13680 "[Enhancement]: Analyze memory usage when release / drop / handoff"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Check if there is memory leak after release_collection, drop_collection and handoff

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-12-18 04:16] cydrain commented on #13680
[code]

[2021-12-18 04:30] cydrain commented on #13680
[code]

[2021-12-18 09:31] xige-16 opened #13681 "[Enhancement]: Query node watch query channel to the near latest position"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Query node watch query channel to near latest position, avoiding the situation where the first query is slow after the querynode has restarted or  a new query start online.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-12-18 09:31] xige-16 commented on #13681
/assign @xige-16

[2021-12-18 12:19] #8447 closed

[2021-12-19 02:47] xiaofan-luan commented on #13558
/assign @congqixia , hi congqi, please take a look when you have time~

[2021-12-19 02:49] xiaofan-luan commented on #13429
/assign @fishpenguin

[2021-12-19 03:59] xiaofan-luan commented on #13680
is this the latest master?
I've tested on latest master and didn't see the similar issue.
check your version if  arrow::default_memory_pool()->ReleaseUnused(); is added to ReleasePayloadReader on ParquetWrapper.cpp

[2021-12-19 08:09] liujie3948 opened #13684 "[Bug]: 由于生产上线需要，修改milvus 1.1.1中mysql元数据管理单元默认创建的"Tables"、"TableFiles"、"Fields"和"Environment" 表格式遇到问题"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

由于公司生产上线合规的需要，需要使用公司自己的mysql数据库提前创建好各个表，且每个表有一个标准的数据字段格式。因此需要修改milvus 1.1.1中使用mysql作为元数据管理单元默认创建的"Tables"、"TableFiles"、"Fields"和"Environment" 该4个表格式，我们提前在公司的数据库里面创建好该4个表的各个字段，我们只是在milvus原始表格式字段后面增加了4个新的字段，新增的字段我们直接赋默认值。现在启动milvus 是没有问题，但是使用pymilvus 1.1.2调用milvus的时候会出现

[2021-12-19 08:23] cydrain commented on #13680
[code]

[2021-12-19 09:30] yanliang567 commented on #13684
/assign @yhmo
@yhmo cloud you please help on it?
/unassign

[2021-12-19 09:43] liujie3948 commented on #13684
补充：python代码跟踪到是在create_collection函数里面就出错了。

[2021-12-19 09:56] liujie3948 commented on #13684
![IMG_20211219_171340](https://user-images.githubusercontent.com/17978325/146670818-c0db6c95-8fe2-44fb-a8f3-d928bcc1832f.jpg)
这是我们公司要求的table格式，只需要增加后面4个字段

[2021-12-19 10:46] congqixia commented on #13558
@xiaofan-luan @hf185
Just checked log and information provided. The standalone instance used RC6 version image, which has bug about etcd version compacted caused issue.
This known issue was fixed in later RC versions.
@xiaofan-luan do we have any migration guide from RC6 to latest image?

[2021-12-19 11:29] #11098 closed

[2021-12-19 11:29] #11744 closed

[2021-12-19 11:29] #11716 closed

[2021-12-19 13:03] xiaofan-luan commented on #13558
I don't think we can support upgrade or migrate from RC6 to GA.
But this might be a big issue though

[2021-12-19 13:03] xiaofan-luan commented on #13558
Please let me know if anyone already put RC version on your production environment, we will see what we can do! Sorry about that

[2021-12-20 01:37] hf185 commented on #13558
GA版本现在已经发布了吗?

[2021-12-20 02:16] LoveEachDay commented on #13553
We cannot download the broker log from your comment. And you can see the `pulsar broker` pods are restarting 2 times.

[2021-12-20 02:31] DragonDriver commented on #9618
/reopen

[2021-12-20 02:35] czs007 opened #13708 "[Enhancement]: When doing a query, cancel the step of querying querycoord which tables are currently loaded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

When doing a query, cancel the step of querying querycoord which tables are currently loaded.
This  step will  increas the latency of a query.

### Why is this needed?

lantency is important.

### Anything else?

_No response_

[2021-12-20 02:41] yanliang567 commented on #12147
@xige-16 is it done now

[2021-12-20 02:43] zhuwenxing commented on #11035
verified and passed in version `1dcd06c` and Github action job https://github.com/milvus-io/milvus/runs/4575901797?check_suite_focus=true

[2021-12-20 02:43] #11035 closed

[2021-12-20 02:46] yanliang567 commented on #13673
@jingkl is it an occasional issue? which index type or index params would fail this test?
/assign @jingkl
/unassign

[2021-12-20 02:49] yanliang567 commented on #13616
@czs007 could you please help to double check whether it was caused by the expected incompatibility changes on latest master?

/assign @czs007
/unassign

[2021-12-20 02:50] yanliang567 commented on #13611
@scsven could you please help on this issue?
/assign @scsven
/unassign

[2021-12-20 02:52] yanliang567 commented on #12001
lets keep it for further discussion

[2021-12-20 02:52] zhuwenxing commented on #12951
not reproduceed

[2021-12-20 02:52] #12951 closed

[2021-12-20 02:53] yanliang567 commented on #9784
lets keep it for tracking

[2021-12-20 02:55] czs007 opened #13714 "[Enhancement]: Add cache for loaded collections in Proxy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

The proxy adds a cache to record which collections are currently loaded into memory. This can speed up the process when querying a table that is not loaded.

### Why is this needed?

lantency is important.

### Anything else?

_No response_

[2021-12-20 03:07] czs007 commented on #13714
close for now.

[2021-12-20 03:07] #13714 closed

[2021-12-20 03:19] shenjianzch opened #13719 "[Bug]: milvus_server cpu useage stays high"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

为什么我重启了docker的milvus:0.10.6-cpu-d022221-64ddc2镜像 cpu 一直是跑满的，是因为再加载什么东西吗？暂时向量值数量是317061

- [ ]

### Expected Behavior

重启

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-12-20 03:22] xiaofan-luan commented on #13719
please use English for the convenience of non-chinese speakers, thanks

[2021-12-20 03:22] xiaofan-luan commented on #13684
please use English for the convenience of non-chinese speakers, thanks

[2021-12-20 03:55] scsven commented on #13611
@jingkl It seems that is a partition dropped, not a delete operation.

[2021-12-20 03:57] Lorisyy commented on #3603
Hi @scsven @xiaofan-luan
Can you answer my questions above? Thanks a lot!
ps: I love this project and I am happy to involve in contributing to this.
Your early reply is kindly appreciated.
Thanks,
L.

[2021-12-20 05:30] zhuwenxing commented on #11275
The same issue reproduced in `master-20211219-1dcd06c`
Milvus hangs at creating index after standalone pod kill chaos deleted.
But it will work well after waiting for about 20min
log:
[test-standalone-pod-kill-12-20-13-20-00.zip](https://github.com/milvus-io/milvus/files/7742793/test-standalone-pod-kill-12-20-13-20-00.zip)

[2021-12-20 05:51] xiaofan-luan commented on #3603
The multi vector utility is not ready for use yet, sorry about that.
We tested two implementations:
1) Build index on vector separately and merge the result on read
2) Build one combined index on top of the vector and implement a customized distance calculation.

The latter one seems to be working far better but unfortunately we don't have enough time to bring in this feature as a stable  feature,

[2021-12-20 05:53] xiaofan-luan commented on #13214
I'm still investigating on this~

[2021-12-20 05:54] xiaofan-luan commented on #12896
Anyone interested please assign yourself

[2021-12-20 05:55] #12667 closed

[2021-12-20 05:56] xiaofan-luan commented on #13214
related to #12585

[2021-12-20 05:57] yanliang567 commented on #11275
@czs007 could you please take a look at this issue again?
/assign @czs007
/unassign @zhuwenxing

[2021-12-20 05:57] #12316 closed

[2021-12-20 05:59] #8937 closed

[2021-12-20 06:02] yanliang567 commented on #13719
@shenjianzch if you have loaded some collections, if could be reloading after reboot. please wait more time.
/assign @shenjianzch
/unassign

[2021-12-20 06:07] shenjianzch commented on #13719
ok thanks,i see

[2021-12-20 06:08] #13719 closed

[2021-12-20 06:09] Lorisyy commented on #3603
Got it, your ideas are great ones. I'm also trying to implement a demo for this :)
Thanks for your kind reply, good luck!
L.

[2021-12-20 06:17] binbinlv commented on #13673
This cases failed for  Exception: "<BaseException: (code=1, message=CreateIndex Timeout)" which occurs in one of a CI tests:

Milvus Logs: [standalone, artifacts-milvus-standalone-PR-13665-1-pymilvus-e2e-logs.tar.gz && artifacts-milvus-standalone-PR-13665-2-pymilvus-e2e-logs.tar.gz]
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-13665/2/artifacts/

Test logs:

[2021-12-20 06:20] binbinlv commented on #13673
 And I think it is similar with issue #9623
 
 @xiaocai2333
 
 Could you help to check whether it is similar with #9623? Thanks very much.

[2021-12-20 06:25] wangting0128 commented on #11074
argo task: benchmark-cron-1639843200

test yaml:
client-configmap:client-acc-glove-ivf-flat
server-configmap:server-cluster-8c16m

server:
[code]

client pod: benchmark-cron-1639843200-1704316979

client log:
[code]

[2021-12-20 06:28] wangting0128 commented on #11074
argo task: benchmark-cron-1639929600

test yaml:
client-configmap:client-acc-glove-ivf-flat
server-configmap:server-cluster-8c16m

server:
[code]

client pod: benchmark-cron-1639929600-794679664

client log:
[code]

[2021-12-20 06:28] zhuwenxing opened #13758 "[Bug]: [chaos][querynode]Search hangs after deleting querynode pod kill chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

after deleting chaos, running `hello_milvus.py`, search hangs

[code]

### Expected Behavior

all work well

### Steps To Reproduce

[code]

### Anything else?

log:
[test-querynode-pod-kill-12-20-14-20-00.zip](https://github.com/milvus-io/milvus/files/7743014/test-qu

[2021-12-20 06:29] zhuwenxing commented on #13758
/assign @xige-16  Please take a look!

[2021-12-20 06:30] zhuwenxing commented on #13758
/assign @xige-16

[2021-12-20 06:30] zhuwenxing commented on #13758
@xige-16  Please take a look!

[2021-12-20 07:09] ThreadDao opened #13763 "[Bug]: Failed to deploy milvus cluster successfully if reusing the dependent etcd, minio or pulsar"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Deploy milvus cluster with milvus-operator, **reuse pulsar etcd and minio of the same instance name deployed ten days ago.**
[code]
2. Some pods keeps restarting
[code]
3. Datacoord pod events
[code]
4. milvus pod logs:
[milvus_logs.tar.gz](https://github.com/milvu

[2021-12-20 07:11] jingkl opened #13764 "[Bug]: Test case" test_insert_multi_times"fail"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

test error:
[code]
test case:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce
test pipeline:
https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-ha-ci/branches/PR-13665/runs/3/log/?start=0
Milvus Logs: [standalone,

[2021-12-20 07:34] yanliang567 commented on #13763
@czs007 is it an expected failure as the incompatible changes recently?
/assign @czs007
/unassign

[2021-12-20 07:52] ThreadDao commented on #12344
The merge segments compaction triggered by max_compaction_interval also needs to meet the compaction_segment_ num_threshold. So update the test case.

[2021-12-20 09:15] ownlu opened #13780 "[Bug]: pymilvus v2.0.0rc8 search slowly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

search slowly,cost longer than 60s.

### Expected Behavior

want to find out reason

### Steps To Reproduce

[code]

### Anything else?

Here's the log after start milvus:

milvus-standalone | {"level":"WARN","time":"2021/12/20 08:53:33.747 +00:00","caller":"timeticks

[2021-12-20 09:22] Money8888 opened #13784 "[Bug]: GPU is configured with multiple graphics cards, but only two graphics cards are used"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Environment

[code]

### Current Behavior

this is my server_config.yaml
[code]

After docker is started, the corresponding video memory occupancy is as follows:
![image](https://user-images.githubusercontent.com/43008386/146743293-af3a7fb6-f2a5-4f42-97b3-196c37613e20.png)

Search for a record (load the index

[2021-12-20 09:23] zhuwenxing commented on #11275
as you can see: *Create index cost 1463.3308727741241 seconds*
[code]

[2021-12-20 09:26] Money8888 commented on #13784
The start command is
[code]

[2021-12-20 10:15] STAROFWIND opened #13795 "[Bug]: Server crash automatically !!!"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I installed Milvus by using docker-compose like the guide: https://milvus.io/docs/v2.0.0/install_standalone-docker.md
I run the server and got successfully like this:
![image](https://user-images.githubusercontent.com/53179529/146750736-aa039604-3eab-4fca-98c3-9226f6f

[2021-12-20 10:56] JackLCL commented on #13784
@Money8888
What's you nq?

[2021-12-20 10:58] Money8888 commented on #13784
nq = 1250   Parallelism=80

[2021-12-20 11:44] yanliang567 commented on #13795
@STAROFWIND could you please upload the milvus logs for investigation?
/assign @STAROFWIND
/unassign

[2021-12-20 11:45] yanliang567 commented on #13784
@yhmo could you please help on this issue?
/assign @yhmo
/unassign

[2021-12-20 11:49] yanliang567 commented on #13780
it sounds like a known issue in rc8, which is going to fix in next release.
@ownlu what operations did you do during the 2-days waiting?
/assign @ownlu
/unassign

[2021-12-20 11:50] yanliang567 commented on #13764
@congqixia could you please help on this issue?
/assign @congqixia
/unassign

[2021-12-20 12:26] STAROFWIND commented on #13795
This is all about what issue I am encountering. I just run docker-compose up -d and after a minute or more, milvus standalone disconnect (exit 2).

[2021-12-20 12:58] JackLCL commented on #13684
This problem has been solved by modifying Milvus source code.

[2021-12-20 12:58] #13684 closed

[2021-12-20 13:12] JackLCL commented on #13553
@austinjung
This log was not successfully uploaded. Can you re-upload it?

[2021-12-20 13:27] Theodoric008 commented on #13795
same issue for me, i have to reinstall the whole container

[2021-12-20 13:37] STAROFWIND commented on #13795
I am still stuck here, I reinstalled the container but still get the error. Are you successful ?

[2021-12-20 15:21] xiaofan-luan opened #13818 "[Bug]: Fix RocksMQ UT"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

TestRmqRetention_PageSizeExpire failed ocasionally.

The issue is the calculateTopicAckedSize didn't work as expected, it counts page size unstably sometimes.

use iter.ValidForPrefix rather than SetIterateUpperBound solves the problem, but the root cause still remain

[2021-12-20 15:22] xiaofan-luan commented on #13818
just remove all SetIterateUpperBound for now

[2021-12-20 15:41] DingQK commented on #13795
@STAROFWIND  I installed milvus using the same guide and environment but did not encounter this problem. Perhaps you can check the log output (first set log configurations according to https://milvus.io/docs/v2.0.0/configuration_standalone-basic.md#Log-Configurations) and find out more about your problem. I am also a user and hopefully this can help.

[2021-12-20 17:39] austinjung commented on #13553
Here I uploaded again pulsar broker logs. If you still have an issue to download, please provide me an email account. I'll send the logs file through email. Thanks.
[error_logs_of_milvus-datanode.txt](https://github.com/milvus-io/milvus/files/7747035/error_logs_of_milvus-datanode.txt)

[2021-12-20 17:43] austinjung commented on #13553
And these are pods status as of now.
[code]

[2021-12-20 17:46] austinjung commented on #13553
And this is the last logs of pulsar broker.
dev logs milvus-pulsar-broker-76b6b99f8d-8qrrw -p > pulsar_logs_with_last_crash.log
[pulsar_logs_with_last_crash.log](https://github.com/milvus-io/milvus/files/7747068/pulsar_logs_with_last_crash.log)

[2021-12-21 01:20] #12344 closed

[2021-12-21 01:22] yanliang567 commented on #13553
@LoveEachDay

[2021-12-21 01:28] yanliang567 commented on #13795
@DingQK Thanks for you reply, this is helpful for us to address the issue.
@STAROFWIND @Theodoric008 Could you please help to retry and upload the logs if it still reproduces to you? We have to investigate the logs before giving any suggestions?

/assign @Theodoric008

[2021-12-21 01:40] LoveEachDay commented on #13553
How do you deploy the milvus cluster? By milvus-helm chart?
Originally, the milvus-helm chart only deploys two bookkeeper pods, if any of the bookkeeper pods is down, the broker will not work, yelling `Not enough non-faulty bookies available`.
We upgrade this bookkeeper pods from 2 to 3 in milvus-helm version 2.4.6. You can follow the below procedures to upgrade milvus cluster:
[code]

By the way,

[2021-12-21 01:46] STAROFWIND commented on #13795
Thank you for your reply ! But actually, there is no log here, I just run "docker-compose up -d" , i don't run anything on the client side.

[2021-12-21 02:09] Money8888 commented on #5142
Is there an official recommendation for nq?

[2021-12-21 02:28] ownlu commented on #13780
Created another collection（“collection2” 512dim) with the same way.Inserted 2 vectors in this collection, but search slowy after two days,then I delete it. Then the "Hello_milvus" collection search slowy as well.

[2021-12-21 02:30] ownlu commented on #13780
Created another collection（“collection2” 512dim) with the same way.Inserted 2 vectors in this collection, but search slowy after two days,then I delete it. Then the "Hello_milvus" collection search slowy as well.

[2021-12-21 02:34] godchen0212 commented on #7229
/reopen

[2021-12-21 02:41] STAROFWIND commented on #13795
Hi @DingQK, Thank you for you support.
This line in the milvus.yaml is what you mean. But also there is nothing. My problem simply: start server (docker-compose up -d ) and it turns off automatically without any trace.
I still wonder about exceeding disk space in volumes ( 20G for default) ?
Or how can I clear all and try to reinstall at the beginning ?
Or I must use lower version 1.1 ( I really d

[2021-12-21 02:46] ThreadDao commented on #10754
I rerun this on image `master-20211220-a7dfd53` and the indexnode pod didn't be OOMkilled.
What must be said is it is difficult to determine the failure of indexing based on client exception or server logs due to insufficient memory.
Please @xiaocai2333  improve the index log and post it after testing by yourself.
/assign @xiaocai2333
/unassign

[2021-12-21 03:09] wangting0128 commented on #12465
argo task: benchmark-cron-1640016000

test yaml:
client-configmap:client-search-sift50m-ivf-flat-2048
server-configmap:server-single-16c64m

server:
[code]

client log:
[code]

[2021-12-21 03:13] wangting0128 commented on #12465
argo task: benchmark-cluster-cron-1640034000

test yaml:
client-configmap:client-get-local50m-512
server-configmap:server-single-32c128m

server:
[code]

client log:
[code]

[2021-12-21 03:19] ss892714028 commented on #13558
Not yet, there will be a pre-GA release version in the coming week.

[2021-12-21 03:25] codersky opened #13852 "[Bug]: Failed to build milvus image with latest version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

 => [openblas 1/1] FROM docker.io/milvusdb/openblas:ubuntu18.04-20210428@sha256:3ba9394eaa453095fd7fa8ae6fbda414f977a55262b60f01941c1a0ff00245e6                                  0.0s
 => ERROR https://github.com/krallin/tini/releases/download/v0.19.0/tini

[2021-12-21 03:34] bigsheeper commented on #13334
![image](https://user-images.githubusercontent.com/42060877/146866333-eae08539-0603-41c0-9181-e3c5e8c23876.png)

Missing key logs, Milvus restarted at 12-13 13:13:07 utc

[2021-12-21 03:38] yanliang567 commented on #13852
/assign @LoveEachDay
@LoveEachDay could you please hlep on it

[2021-12-21 03:39] yanliang567 commented on #13852
/unassign

[2021-12-21 03:40] yanliang567 commented on #13795
@LoveEachDay

[2021-12-21 03:43] LoveEachDay commented on #13852
This is a network issue. You need set proxy for docker to download the `tini`.
To build milvus image, follow the below procedures:
[code]

/unassign

[2021-12-21 03:43] yanliang567 commented on #13780
@zhuwenxing is it the same issue you met before?
/assign @zhuwenxing

[2021-12-21 03:44] sflowing commented on #12298
**Report**
The bug frequency: 1 or 2 per day --> 1  per week. (occurred on 12.10 and 12.21)
The same error as usual.

[2021-12-21 03:47] LoveEachDay commented on #13795
@STAROFWIND You can run `docker logs milvus-standalone` to fetch the log from the container.

[2021-12-21 04:01] #13852 closed

[2021-12-21 04:02] codersky commented on #13852
my bad, fixed it after set the proxy env var

[2021-12-21 06:20] Money8888 commented on #13784
The total database data volume is 200 million.
Pressure test with one hundred thousand vector data

[2021-12-21 06:36] ownlu commented on #13780
Yes.
rm -rf volumes, restart the image, rebuild collection several times. Issues always come up.

I changed from v2.0.0-rc8 to v2.0.0-rc7 today.Until now the problem has not appeared.

[2021-12-21 06:48] xige-16 commented on #12465
load data has different row count from other columns. @sunby Please take a look

[2021-12-21 06:57] #12240 closed

[2021-12-21 06:58] xige-16 commented on #12465
It seems that querynode memory Insufficient.
[code]

[2021-12-21 07:34] LoveEachDay commented on #13238
We've scheduled a node restart for qa-node018 where pod `benchmark-tag-bgdfr-1-milvus-standalone-5fc557bb6b-clb9x ` resides on at 2021-12-10 11:20. So this may not be an issue.

[2021-12-21 07:36] yanliang567 commented on #13238
/assign @wangting0128
@wangting0128 does it reproduce recently? if not, please close it.
/unassign @xige-16

[2021-12-21 07:42] wangting0128 opened #13876 "[Bug]: [Memory][benchmark][cluster] Stability test during 84 hours , memory of datacoord and rootcoord continue to rise"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

monitor:
![Qu4PW18FQM](https://user-images.githubusercontent.com/26307815/146890044-3788abad-9e6d-4ab4-8d8a-41a7d6824249.png)
![KZJO6hK5fU](https://user-images.githubusercontent.com/26307815/146890053-660fb619-b45b-4c93-9453-a60f61c14c78.png)

### Expected Behavior

a

[2021-12-21 08:20] fishpenguin opened #13877 "[Bug]: Rocksmq client ut sometimes failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

_No response_

### Current Behavior

Rocksmq client ut sometimes failed in newRocksMQ

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-12-21 08:27] fishpenguin commented on #13877
/assign
/unassign @yanliang567

[2021-12-21 08:30] scsven commented on #13611
@jingkl cannot reproduce this issue, maybe fixed in recently pull requests, please check this issue again.

/unassign
/assign @jingkl

[2021-12-21 08:46] xige-16 commented on #13758
after querynode down, only a dmChannel was watched by querynode.
dup to #12190
[code]

[2021-12-21 08:47] scsven commented on #13784
Hi @Money8888, please provide logs to help analyze the problem.

[2021-12-21 08:48] ThreadDao opened #13879 "[Bug]: test_compact_and_delete failed in CI, get deleted id in query"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]
Case faild detail:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-12-21 08:49] yhmo commented on #13521
@suifengmangbu
From the log it seems no problem. Each search request cost 20 ~ 30ms.
Some questions:
1. is any content in the error.log?
2. how many search requests per minute?

[2021-12-21 08:49] #13758 closed

[2021-12-21 08:50] xige-16 commented on #12190
The issue should has been fixed by pr #13543, trouble you check it. @zhuwenxing

[2021-12-21 08:50] xige-16 commented on #12190
/assign @zhuwenxing
/unassign

[2021-12-21 09:04] #12323 closed

[2021-12-21 09:15] #13681 closed

[2021-12-21 09:16] bigsheeper commented on #13334
[code]
QueryNode occurs OOM error, this issue is samiler to #12340

[2021-12-21 09:17] xige-16 commented on #12340
The issue should has been fixed by pr #13543

[2021-12-21 09:17] #12952 closed

[2021-12-21 09:17] bigsheeper commented on #13334
Fix has been merged, could you help to retest it? @wangting0128

[2021-12-21 09:17] bigsheeper commented on #13334
/assign @wangting0128
/unassign

[2021-12-21 09:19] godchen0212 opened #13880 "[Bug]: Error when unittest"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Error occurs with log
[code]

### Expected Behavior

run successfully

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2021-12-21 09:20] xige-16 commented on #12465
It seems that querynode memory Insufficient.

[error="load segment failed, OOM if load, collectionID =  429925138755947841 ,  usedMem =  108621172736 ,  segmentTotalSize =  14971964708 ,  currentSegmentSize =  414087672 ,  totalMem =  137438953472 ,  thresholdFactor =  0.9\n"]

[2021-12-21 09:20] xige-16 commented on #12465
load segment error: load data has different row count from other columns. @sunby Please take a look

[2021-12-21 09:26] Money8888 commented on #13784
[milvus-21-12-21-16:50-debug.log](https://github.com/milvus-io/milvus/files/7751121/milvus-21-12-21-16.50-debug.log)
[milvus-21-12-21-16:50-error.log](https://github.com/milvus-io/milvus/files/7751122/milvus-21-12-21-16.50-error.log)
[milvus-21-12-21-16:50-info.log](https://github.com/milvus-io/milvus/files/7751124/milvus-21-12-21-16.50-info.log)

[2021-12-21 09:29] Money8888 commented on #13784
The configuration is four graphics cards, using ```--gpu all``` to deploy a milvus service, the gpu is used for polling, and the performance is to run 100,000 data in 30 minutes

While using one card, that is, the docker start command is ```--gpus='"device=0"'``` The same hundred thousand pieces of data only need 34min to run

[2021-12-21 09:30] sunby commented on #12465
DataNode consumes all insert messages after a segment is flushed. So the row count of index is less than the row count of the segment.

[2021-12-21 09:51] xige-16 commented on #12465
/assign @sunby

[2021-12-21 09:54] #13238 closed

[2021-12-21 10:01] #9613 closed

[2021-12-21 10:06] #12677 closed

[2021-12-21 10:07] #12589 closed

[2021-12-21 10:08] #12615 closed

[2021-12-21 10:10] xige-16 commented on #12147
the issue has been fixed by #12983

[2021-12-21 10:10] #12147 closed

[2021-12-21 10:10] #12507 closed

[2021-12-21 10:15] Money8888 commented on #13784
[milvus-21-12-21-11:48-trace.log](https://github.com/milvus-io/milvus/files/7751459/milvus-21-12-21-11.48-trace.log)
[milvus-21-12-21-11:48-info.log](https://github.com/milvus-io/milvus/files/7751461/milvus-21-12-21-11.48-info.log)
[milvus-21-12-21-11:48-error.log](https://github.com/milvus-io/milvus/files/7751463/milvus-21-12-21-11.48-error.log)

[2021-12-21 10:15] Money8888 commented on #13784
[milvus-21-12-21-11:48-error.log](https://github.com/milvus-io/milvus/files/7751481/milvus-21-12-21-11.48-error.log)
[milvus-21-12-21-11:48-info.log](https://github.com/milvus-io/milvus/files/7751482/milvus-21-12-21-11.48-info.log)
[milvus-21-12-21-11:48-trace.log](https://github.com/milvus-io/milvus/files/7751483/milvus-21-12-21-11.48-trace.log)

[2021-12-21 10:15] xige-16 commented on #13318
pr #13682 should has optimized this situation

[2021-12-21 10:16] xige-16 commented on #13318
Could you rerun and see the effect? @zhuwenxing

[2021-12-21 10:22] suifengmangbu commented on #13521
1、is any content in the error.log?error.log has no error information
2、

[2021-12-21 10:41] suifengmangbu commented on #13521
1、error.log has no error information
2、6-10 search requests per second
3、the problem is :   After 01:01:16 on December 16, 2021，new search request not processed

Previously uploaded “debug.log” was not uploaded completely. I'll upload it again
[debug.log](https://github.com/milvus-io/milvus/files/7752121/debug.log)

watch info.log，not printed " ****** Search end"
watch debug log，no actual processi

[2021-12-21 11:17] yhmo commented on #13521
Did you try other interface after it hang? such as ShowCollections(), Flush()

Any other action in client side? For example, some clients insert/delete vectors, some clients search.

[2021-12-21 11:22] yanliang567 commented on #12598
remove from urgent, as we plan to leave it as a known issue in 2.0 for now.

[2021-12-21 12:09] xige-16 commented on #12340
verified

[2021-12-21 12:09] #12340 closed

[2021-12-21 13:05] yanliang567 commented on #13880
/assign @godchen0212
/unassign

[2021-12-22 02:00] binbinlv opened #13925 "[Bug]: [standalone] Milvus is crashed with panic during nightly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus is crashed with panic:
[code]

### Expected Behavior

No crash for milvus

### Steps To Reproduce

Run nightly:

1. Milvus Logs: [artifacts-milvus-standalone-master-273-pymilvus-e2e-logs.tar.gz]
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milv

[2021-12-22 02:06] suifengmangbu commented on #13521
because it has been applied to the online system as a service，after it hang，no time to try other interface，Recover first by restarting the Milvus service

in addition，The problem occurred at 1:00 in zero，At that time, there were only search requests, no other requests

We use Java SDK，and set withtimeout to 10 seconds，after it hang，The request timed out and returned

[2021-12-22 02:15] binbinlv commented on #13925
@congqixia  Could you help to check it first? Thanks.

[2021-12-22 02:22] #13246 closed

[2021-12-22 02:23] JamCrash commented on #13246
Not reproduce, close this issue

[2021-12-22 02:35] DragonDriver opened #13933 "[Enhancement]: Distinguish stopping state and stopped state"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

For now, when we're going to stop a component, we will set the state code of component to be `Abnormal`. Under this situation, any gRPC requests entered the component will be refused. However, it will also result in that the `healthz` check returns `unhealthy`, which will caus

[2021-12-22 02:49] wangting0128 opened #13934 "[Bug]: [benchmark][cluster] load collection raise error: shuffleSegmentsToQueryNodeV2: insufficient memory of available node"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod: benchmark-tag-g74qx-165609755

client logs:
[code]

### Expected Behavior

argo task: benchmark-tag-g74qx

test yaml:
client-configmap:client-random-locust-search-84h-1b
server-configmap:server-cluster-8c64m-datanode2-indexnode4-querynode6

install server

[2021-12-22 02:51] XuanYang-cn commented on #13879
/assign

[2021-12-22 02:54] wangting0128 commented on #12465
argo task: benchmark-tag-5trkl

test yaml:
client-configmap:client-search-sift50m-ivf-flat-2048
server-configmap:server-single-16c64m

server:
[code]

client logs:
[code]

[2021-12-22 03:02] wangting0128 opened #13935 "[Bug]: [benchmark][standalone] 100 million vectors, milvus hang when flush collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod: benchmark-tag-qvw8c-759706441

client log:
[code]

### Expected Behavior

argo task: benchmark-tag-qvw8c

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-single-32c128m

server:
[code]

### Steps To Reproduce

[code]

[2021-12-22 03:05] zhuwenxing commented on #12190
Search hangs still exist!
[test-querynode-pod-failure-12-22-10-54-00.zip](https://github.com/milvus-io/milvus/files/7759674/test-querynode-pod-failure-12-22-10-54-00.zip)

[test-querynode-pod-kill-12-22-10-34-00.zip](https://github.com/milvus-io/milvus/files/7759676/test-querynode-pod-kill-12-22-10-34-00.zip)

[2021-12-22 03:08] wangting0128 commented on #12725
argo task: benchmark-tag-vsrk5

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-cluster-8c64m

server:
[code]

client pod: benchmark-tag-vsrk5-2978053129

client log:
[code]

[2021-12-22 03:28] yhmo commented on #13084
@lale314

Delete request only put the ids into a buffer, just like the insert request. The buffer is invisible for search(or get_entity_by_id) request, until after the buffer is flushed into storage.

Milvus background flush action is triggered each second, but it could not always be triggered before your call the search/get_entity_by_id.

If your client script is like this:
[code]
You will someti

[2021-12-22 03:34] hf185 commented on #13558
我想从rc6升级到rc8可以在不影响旧数据的情况下直接升吗?

[2021-12-22 03:39] #13818 closed

[2021-12-22 03:53] yanliang567 commented on #13935
@congqixia could you please help on this issue?
/assign @congqixia
/unassign

[2021-12-22 03:55] hf185 commented on #13558
获取有什么办法能把数据从RC6内导出，然后再导入到RC8呢？

[2021-12-22 03:56] hf185 commented on #13558
或者有什么办法能从RC6导出数据，然后在RC8再导入呢？

[2021-12-22 03:59] congqixia opened #13951 "[Bug]: LogSize is not set for compaction result segment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Compaction result segment file size is always 0.

### Expected Behavior

Compaction result segment shall have exacted LogSize

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2021-12-22 06:00] yanliang567 commented on #13558
Sorry, you have to deploy a rc8 milvus and re-insert the data:(

[2021-12-22 06:14] Writtic commented on #6162
@sunby @xiaofan-luan Hi, I try to contact on Slack but you are inactive. so I ask you a question about this issue here.
I'm wondering it's enough to check files you mentioned on [reply](https://github.com/milvus-io/milvus/issues/6162#issuecomment-987622798) or not.
I'm not sure the entity can be checked on those files.
For now, I looking into `compactor.go` for figuring out how to check the entity

[2021-12-22 06:18] ThreadDao opened #13956 "[Enhancement]: The test directory and files are repeatedly named utils"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Name the test file util_pymilvus

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-12-22 06:27] #13951 closed

[2021-12-22 06:41] LoveEachDay commented on #12725
Another slow disk sync happened at 8:09 <cst> around. Pending proposals rise due to slow disk sync.
![image](https://user-images.githubusercontent.com/1573213/147046283-be5ddd76-d6ac-448f-8996-57adb451b387.png)
![image](https://user-images.githubusercontent.com/1573213/147046670-33327159-61e2-4e9c-b2dc-63d1c0faa6cb.png)

[2021-12-22 06:52] sunby commented on #6162
Hi, `merge()` in `compactor.go` checks the entity and filters the deleted key.
`datacoord/compaction_trigger.go` is the entrance of compaction. It defines some triggering conditions of compaction.
`datacoord/compaction.go` saves the compaction status of a task.
`datanode/compactor.go` defines a compaction task and the execution logic.
`datanode/compaction_executor.go` defines a simple scheduler of

[2021-12-22 07:06] #11748 closed

[2021-12-22 07:06] #11636 closed

[2021-12-22 07:11] zhuwenxing opened #13970 "[Bug]: [chaos][etcd]Search hangs after deleting etcd pod kill chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search hangs after deleting etcd pod kill chaos

### Expected Behavior

all work well

### Steps To Reproduce

[code]

### Anything else?
[code]
[test-etcd-pod-kill-12-22-15-54-00.zip](https://github.com/milvus-io/milvus/files/7760689/test-etcd-pod-kill-12-22-15-54-00

[2021-12-22 07:12] haorenfsa opened #13971 "[Enhancement]: Support centos7 with gcc 7.3.1 compile in newest master"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

- [x] 1. macro `MAXFLOAT` is not defined during centos complication  #13954
- [x] 2. libarrow is complied to both `output/lib` & `output/lib64`, while cgo links with only lib #13974

1. compile error log
[code]

2. compile error log
[code]
payload.go:
[code]

file tree under a

[2021-12-22 07:30] xige-16 commented on #13970
querycoord use wrong dmchannelName to find recoveryInfo
[code]

[2021-12-22 07:31] xige-16 commented on #13970
dup to https://github.com/milvus-io/milvus/issues/12190#issuecomment-999248781

[2021-12-22 07:33] #13970 closed

[2021-12-22 07:49] DrBamba commented on #4430
Is there any approximation as for when will this feature be released? Is it going to be a part of 2.0.0?

[2021-12-22 08:00] WinterGYC commented on #12152
If it helps, as per out latest test, Faiss 1.7.1 can build and run successfully on the new MacBook Pro (with Apple's M1 chip).

![Lark20211222-155735](https://user-images.githubusercontent.com/10147667/147056705-339d5822-e5a5-48d6-9d77-e5d6e1588569.png)
![Lark20211222-155740](https://user-images.githubusercontent.com/10147667/147056711-d3d8693e-bce1-4f2f-8126-60a327cf5711.png)

[2021-12-22 08:07] czs007 opened #13978 "[Enhancement]: Enable PProf in milvus"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I would like to enable pprof server in milvus.

Package pprof serves via its HTTP server runtime profiling data in the format expected by the pprof visualization tool.

The package is typically only imported for the side effect of registering its HTTP handlers. The handled pat

[2021-12-22 08:15] yhmo commented on #13521
From the log I could not get a conclusion. Seems the job scheduler suddenly blocked. but I didn't found any clue why it stopped.
Let's keep an eye on it.

[2021-12-22 08:45] xige-16 commented on #13934
threee query node's keepalive stoped suddenlly
[code]

[2021-12-22 08:48] xige-16 commented on #13934
the reason is that etcd send heart too slow
[code]

[2021-12-22 09:06] #7964 closed

[2021-12-22 09:06] #1133 closed

[2021-12-22 09:06] #4321 closed

[2021-12-22 09:06] #4817 closed

[2021-12-22 09:06] #5720 closed

[2021-12-22 09:06] #6367 closed

[2021-12-22 09:06] #8110 closed

[2021-12-22 09:06] #11313 closed

[2021-12-22 09:07] sunby commented on #13157
rmq consume is too slow.
![image](https://user-images.githubusercontent.com/9817127/147066695-6863c527-6b46-42eb-bc4f-22c876b501fa.png)

[2021-12-22 09:07] #13956 closed

[2021-12-22 09:09] xiaofan-luan commented on #13157
I've seen similar issue on ci sometimes, the rocksmq produce is very log

[2021-12-22 09:10] xige-16 commented on #13934
probably being triggered by disk slow fsync. simalir to #12725

[2021-12-22 09:19] liujie3948 opened #13988 "[Bug]: When high frequency insert data and retrieval, the following errors are easy to occur，the milvus version is v1.1.1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Using MySQL as the data management unit，When high frequency insert data  and retrieval ，I get the following error

[2021-12-22 13:47:33,438][ERROR]  Failed to load index file: DISK2CPU : Failed to load deleted docs from /tmp/lib/milvus/db/tables/1625057705479894000/16

[2021-12-22 09:21] congqixia opened #13989 "[Bug]: Compaction trigger may panic when segment to compact is dropped and cleaned"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When a segment is dropped and cleaned up by `GC` and a compaction is triggered at the same time. compaction trigger might panic.

### Expected Behavior

`handleSignal` shall not panic even when segment is not found

### Steps To Reproduce

_No response_

### Anything

[2021-12-22 09:23] haorenfsa commented on #13434
The config path can also be `runPath + "/configs/"` if it exists
[code]

We may need a `--config` flag to set it.

PS: This can be a `good-first-issue`

[2021-12-22 09:25] xiaofan-luan commented on #13434
mark it @haorenfsa

[2021-12-22 09:25] xige-16 commented on #12465
same error :load data has different row count from other columns

[2021-12-22 09:27] liujie3948 commented on #13988
![milvus_error](https://user-images.githubusercontent.com/17978325/147069574-25c7aa45-412a-4575-bff9-1fef3c09ab56.jpeg)

[2021-12-22 09:45] congqixia commented on #13925
Panicking was cause by calling `AsConsumer` with empty channel name. Still looking for the root cause

[2021-12-22 09:46] zhuwenxing commented on #13318
/assign

[2021-12-22 09:46] sunby commented on #13157
The produce slow log's main cost is "get lock elapse". I guess the consume request hold the lock and spend too many time on consuming messages and so the produce request must wait for the lock.

[2021-12-22 09:56] zhuwenxing commented on #12190
Verified and passed in version `595692c`
check https://github.com/zhuwenxing/milvus/actions/runs/1610606525 and https://github.com/zhuwenxing/milvus/actions/runs/1610494488  for detail

[2021-12-22 09:57] #12190 closed

[2021-12-22 11:23] yanliang567 commented on #13988
/assign @yhmo
/unassign

[2021-12-22 11:48] wangting0128 opened #14005 "[Bug]: [benchmark][cluster] Milvus is not healthy, connection timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod: benchmark-tag-dg67m-1802803593

proxy log:
[code]

client logs:
[code]

### Expected Behavior

argo task: benchmark-tag-dg67m

test yaml:
client-configmap:client-random-locust-search-84h-1b
server-configmap:server-cluster-8c64m-datanode2-indexnode4-queryno

[2021-12-22 12:20] xiaofan-luan opened #14010 "[Bug]: Rocks MQ ignore error on updateAckedInfo"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

on consume, we ignore returned error by updateAckedInfo, which is dangerous

### Expected Behavior

updateAckedInfo should be handled before move consumer pos na it's error should not be ignores

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-12-22 13:23] #13989 closed

[2021-12-22 21:55] thecooltechguy commented on #13264
I'm currently using Milvus 2.0-rc8 with ~100M 256-dimensional vectors, and it would definitely be extremely helpful if the load operation's speed can be much faster, since it currently takes a long time.

[2021-12-23 01:18] yanliang567 commented on #14005
the datacoord is not registered into etcd, as etcd service is not ready(high latency) at that time.
remove from urgent as it does not repro if retry

[2021-12-23 01:57] binbinlv opened #14022 "[Bug]: Function is duplicated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Function "insert_entities_into_two_partitions" is duplicated

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-12-23 02:23] yhmo commented on #13988
Some questions:
1. is the milvus service standalone or cluster?
2. how many clients send insert requests and search requests?
3. could you send me the error.log and debug.log for diagnosing?

[2021-12-23 02:56] zhuwenxing opened #14048 "[Bug]: [chaos][querynode]search hangs when running `hello_milvus.py` after deleting querynode pod kill chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Running `hello_milvus.py`  timeout after deleting querynode pod kill chaos, but can't find out which step is hanged from the output log in console.

### Expected Behavior

all steps success

### Steps To Reproduce

[code]

### Anything else?

It reproduced in Github a

[2021-12-23 03:04] zhuwenxing commented on #13256
This issue happened in Github action stably, so set it as urgent
However, it never reproduced in k8s local env.
case: https://github.com/milvus-io/milvus/runs/4610414473?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/4739477430/artifacts/130892574

[2021-12-23 03:11] zhuwenxing commented on #14048
/assign @xige-16

[2021-12-23 03:25] xige-16 commented on #14048
pulsar proxy log
[code]

[2021-12-23 03:39] #13978 closed

[2021-12-23 03:55] scsven commented on #13784
Hi @Money8888, I checked the debug level logs, then I found that there are many times to read file from disk, each reading event costs about one second. The keyword is `DISK2CPU`. It seems the cache is invalid or the data size exceeds the cache size.

[2021-12-23 05:13] #11721 closed

[2021-12-23 06:19] #14022 closed

[2021-12-23 06:33] zhuwenxing opened #14062 "[Enhancement]: Support chaos test concurrent execution"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Support chaos test concurrent execution

### Why is this needed?

though each chaos test will have its own Milvus release name, the chaos object in constan.py is shared and can be changed by all chaos tests. So sometimes chaos object will mismatch with chaos test.

### Anythin

[2021-12-23 06:33] zhuwenxing commented on #14062
/assign

[2021-12-23 06:47] XuanYang-cn commented on #13879
[code]
same as #13599

[2021-12-23 06:53] xiaocai2333 commented on #11074
There is two problems:
about @jingkl pasted, it is because querynode paniced, it seem to be related to 'cgocall', but I can't reproduce it.

and about @wangting0128 pasted, it is because the search time is longer than normal.

[2021-12-23 07:02] DragonDriver commented on #9618
Already implemented. Feel free to reopen this if any discussion is required.

[2021-12-23 07:02] #9618 closed

[2021-12-23 07:15] liujie3948 commented on #13988
@yhmo
1、is milvus service cluster,one write  node  and three read node.
2、50000 clients ,300000 searches , 50000 inserts per day.
3、Because it is a production environment,the complete log cannot be obtained.

[2021-12-23 07:39] XuanYang-cn commented on #13879
After compaction, the generated segments are not in `delete_node`, cause
[code]

Thus the deletion is not valid.

[2021-12-23 07:45] wangting0128 commented on #14005
argo task: benchmark-tag-txfbr

test yaml:
client-configmap:client-search-sift50m-ivf-flat-2048
server-configmap:server-single-16c64m

server:
[code]

client pod: benchmark-tag-txfbr-3378080778

client log:
[code]

[2021-12-23 08:00] wangting0128 opened #14077 "[Bug]: [benchmark][standalone] search and query timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod: benchmark-tag-bc6ld-3487203131

client logs:
[code]

### Expected Behavior

argo task: benchmark-tag-bc6ld

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-single-32c128m

server:
[code]

### Steps To Reproduce

[cod

[2021-12-23 08:19] greensea opened #14078 "[Bug]: proxy not healthy after upgrade"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I am using docker-compose, and I just upgrade milvus to`milvusdb/milvus-dev:master-20211222-5a29db6`.
After the upgrade, I can't connect to milvus, it always gives me the error message `proxy not healthy`.
I left for more than 1 hour but it still tells me `proxy not h

[2021-12-23 09:11] #13971 closed

[2021-12-23 09:14] liujie3948 commented on #13988
@yhmo Because of the limit of 10 million data ，Mishards  is not used.

[2021-12-23 09:21] xige-16 commented on #14048
There is a problem with the pulsar broker's network
[code]

[2021-12-23 09:29] xige-16 commented on #14048
pulsar broker exception log
[code]

[2021-12-23 09:37] #10744 closed

[2021-12-23 09:37] #9921 closed

[2021-12-23 09:37] #10611 closed

[2021-12-23 09:46] XuanYang-cn commented on #13879
Seems like Queynode `FromDmlCPLoadDelete` failed.

[2021-12-23 09:51] XuanYang-cn opened #14085 "[Bug]: After merge compaction, DN delete_node's delBuf isn't updated with the generated segment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

as title

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-12-23 09:55] healthexamination opened #14086 "[Bug]: 我插入数据成功返回id了 数据库里没有数据"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

public BasicResponse<Boolean> insertEntity() {
        List<InsertParam.Field> fields = new ArrayList<>();
        List<Long> archiveIds = new ArrayList<>();
        archiveIds.add(1L);
        archiveIds.add(2L);
        List<Long> accountIds = new ArrayList<>();

[2021-12-23 09:56] yanliang567 commented on #14077
@xige-16 please help on this issue
/assign @xige-16
/unassign

[2021-12-23 09:57] zhuwenxing commented on #14048
It reproduced in local env.
log:
[test-querynode-pod-kill-12-23-17-52-00.zip](https://github.com/milvus-io/milvus/files/7768379/test-querynode-pod-kill-12-23-17-52-00.zip)

[2021-12-23 09:58] yanliang567 commented on #14005
@LoveEachDay  could you please check the latest error above? Was it caused by the same issue?

[2021-12-23 09:58] yanliang567 commented on #14005
/assign @LoveEachDay

[2021-12-23 09:59] #12791 closed

[2021-12-23 09:59] #12559 closed

[2021-12-23 10:01] yanliang567 commented on #9623
/assign @binbinlv
@binbinlv I have added the indexing timeout to 40s, does it still repro
/unassign

[2021-12-23 10:02] yanliang567 commented on #14078
@greensea from which version to master-20211222-5a29db6?

[2021-12-23 10:03] yanliang567 commented on #14078
/assign @greensea
/unassign

[2021-12-23 10:05] yanliang567 commented on #14086
/assign @yhmo
/unassign

[2021-12-23 10:30] LoveEachDay commented on #14005
From the pod log, etcd behaves normally. And DataCoord failed to start:
![image](https://user-images.githubusercontent.com/1573213/147227370-7d6b2cff-c4eb-47cb-a293-4b60249eada7.png)
So it won't register itself to etcd.
/unassign

[2021-12-23 10:36] #7130 closed

[2021-12-23 10:51] yanliang567 commented on #14005
@sunby could you please take a look at logs above

[2021-12-23 10:56] wangting0128 commented on #14005
argo task: benchmark-tag-skbvc

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-single-32c128m

server:
[code]

client log:
[code]

[2021-12-23 11:16] xiaofan-luan commented on #14005
From the log, it seems that the minio bucket is not cleaned thus datacoord could not start

[2021-12-23 11:24] greensea commented on #14078
@yanliang567 The previous version is `milvusdb/milvus-dev:master-20211120-bf391f2`
The attached log [milvus-docker-compose.log](https://github.com/milvus-io/milvus/files/7767782/milvus-docker-compose.log) contains log of milvus, etcd and minio.
I think the ERROR level log may related to the issue:
[code]

[2021-12-23 11:25] yanliang567 commented on #11074
remove from urgent as it an occasional issue, and not reproduce recently.

[2021-12-23 11:39] yanliang567 commented on #14078
Mmm... there is a few incompatible PRs merged into master these days. It makes upgrading from a previous image not working. I think you hit this issue :(
So in short, the next release of milvus is not going to compatible with previous rc releases. :(

[2021-12-23 11:47] greensea commented on #14078
ok, it's fine. Thank you.
I will re-import the data and see if it goes well.

[2021-12-23 11:52] greensea commented on #14078
Removed the database and it works well now. Closing issue, thanks.

[2021-12-23 11:52] #14078 closed

[2021-12-23 11:52] xige-16 commented on #14048
After querynode down, the balance task successfully assigned the querynode to the child task, but the assigned querynode was also down when the child task was executed, and there was no online querynode at this time, and the child task exited directly, resulting in data loss

[2021-12-23 13:43] czs007 commented on #11275
@zhuwenxing  please retry.

[2021-12-23 15:21] xiaofan-luan opened #14121 "[Bug]: RocksMQ Reader didn't handle any exception from rocksdb."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

currently rocksmq_reader didn't handle errors from rocksdb.
should check Iter.err() when calling seek, next and hasNext()
otherwise the behaviour is unknown

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-12-24 00:01] thecooltechguy opened #14122 "[Bug]: _MultiThreadedRendezvous of RPC that terminated with: Stream Removed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I try to index ~50-100M 256-dimensional vectors in batches of 10,000 at a time (at a rate of ~1-2 batches/second), I quickly get the following error within a few minutes:

[code]

I've attached the log for the docker container. [4217af77ad4c.2.log](https://github

[2021-12-24 00:59] yanliang567 commented on #14121
/assign @xiaofan-luan
@xiaofan-luan are you going to fix it yourself? :)
/unassign

[2021-12-24 01:19] yanliang567 commented on #14122
@thecooltechguy according to the error msg, it is an insert error instead of an index error. So did you create an index before  inserting any vectors?
Also it would be great helpful, if you could share the multi-processing code snippet to reproduce this issue.

/assign @thecooltechguy
/unassign

[2021-12-24 01:36] binbinlv commented on #13925
Same panic occurs again, set this as urgent.

Milvus log: standalone [artifacts-milvus-standalone-master-275-pymilvus-e2e-logs.tar.gz]

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/275/artifacts

Timeline started to be failed:
[code]

[2021-12-24 01:38] yanliang567 commented on #11275
/assign @zhuwenxing

[2021-12-24 01:41] yanliang567 commented on #13925
@congqixia please take a look, thx

[2021-12-24 02:42] wangting0128 commented on #11074
argo task: benchmark-cron-1640275200

test yaml:
client-configmap:client-acc-glove-ivf-flat
server-configmap:server-cluster-8c16m

server:
[code]

client pod: benchmark-cron-1640275200-3688309676

client log:
[code]

[2021-12-24 02:46] XuanYang-cn commented on #13250
Not reproducing lately

[2021-12-24 02:55] zhuwenxing commented on #11275
In GitHub action and local k8s env， this issue is not reproduced. So remove the urgent label, but keep it open until it has not been reproduced several times

[2021-12-24 03:05] ss892714028 commented on #14086
Hi, would you please elaborate on your question? Did you do a search operation? Would you please also attach any error msg if there's any?

[2021-12-24 03:07] ss892714028 commented on #14086
/assign

[2021-12-24 03:10] zhuwenxing commented on #13256
rootcoord pod kill chaos test failed with same issue!
[code]
https://github.com/milvus-io/milvus/runs/4620968352?check_suite_focus=true

[2021-12-24 03:12] healthexamination commented on #14086
![image](https://user-images.githubusercontent.com/48131803/147311357-fbbe7ba1-f904-4425-a89a-1cfc4f02853d.png)
I see this page after i insert data.  but i can't see anything

[2021-12-24 03:15] Money8888 commented on #13784
Hi! The dimension of the vector data set I used is 768, the total data volume is about 130 million, and the vector for batch search is 10,000 . The search index I use is IVF_SQ8

[2021-12-24 03:16] healthexamination commented on #14086
![image](https://user-images.githubusercontent.com/48131803/147311710-6dc6bfb8-e02f-4ea1-908b-40b534654b9e.png)

this is my serach operation result,  means no data?

[2021-12-24 03:29] #13425 closed

[2021-12-24 03:31] DragonDriver commented on #12447
Can this issue be reproduced in nightly CI again? @binbinlv

[2021-12-24 03:34] xige-16 commented on #14077
root coord send timetick too slow
[code]

querynode first receive a query msg
[code]

querynode wait to query msg timeout
[code]

[2021-12-24 03:42] xige-16 commented on #14077
It seems that rockdb is too slow to access the disk

[2021-12-24 03:44] xige-16 commented on #14077
etcd log is normal, it should not be etcd which caused the slow sending of timtick
[code]

[2021-12-24 04:03] #11958 closed

[2021-12-24 05:03] #11967 closed

[2021-12-24 05:42] haorenfsa opened #14163 "[Enhancement]: Provide PRM package"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

- [x] Add spec for Build RPM
- [ ] Auto build rpm & add to release assets when release.

### Why is this needed?

Easier installation on centos or other linux release that supports RPM installation.

### Anything else?

_No response_

[2021-12-24 06:14] #14010 closed

[2021-12-24 06:17] sunby commented on #13256
@czs007 After datacoord restarted, querycoord tried to connect to the dead datacoord with old client instance and timeout. So the load collection task will never success.

[2021-12-24 06:19] sunby commented on #12465
@yanliang567 I can not reproduce this issue, and maybe it's fixed by @xiaofan-luan . I think we can downgrade it for now.

[2021-12-24 06:24] haorenfsa opened #14165 "[Bug]: [standalone] Panic when graceful exit before init succeeded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

panic when graceful exit before init finished

log:
[code]

### Expected Behavior

not panic

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2021-12-24 06:30] yanliang567 commented on #12465
okay.

[2021-12-24 06:34] yanliang567 commented on #14165
/assign @xiaofan-luan
@xiaofan-luan is it something you are looking at ?

/unassign

[2021-12-24 06:38] xige-16 commented on #14077
Rocksmq produce and consume both took a lot of time to get lock

[2021-12-24 07:07] zhuwenxing commented on #12465
Met same issue in Github action: https://github.com/milvus-io/milvus/runs/4621347880?check_suite_focus=true
[code]
log:
https://github.com/milvus-io/milvus/suites/4749870797/artifacts/131505943
![image](https://user-images.githubusercontent.com/12268675/147327110-7156371a-2164-4621-b6e4-49cc8b96f7ed.png)
We can find that this error happened before chaos, so this error is not caused by chaos.
Becau

[2021-12-24 07:39] sunby commented on #12465
Not the same reason as @xige-16  said

[2021-12-24 07:48] yhmo commented on #13988
Seems the reason is:
Write node cannot know whether a segment is still used by other read-only nodes, it always delete a segment after it was marked as "to-delete" 10 seconds later. So ,with high frequency search actions, some search latency may exceed 10 seconds, the rad-only node cannot load required files since the segment has been deleted by write node.
To avoid this, you can set a config in t

[2021-12-24 07:50] congqixia commented on #13925
@binbinlv @yanliang567 #14169 add some check before panicking situation. And added some log to find the root cause. need to verify in the next run.

[2021-12-24 07:50] zhuwenxing opened #14172 "[Bug]:[chaos][proxy]Proxy pods keep crashbackoff after running `testcases/test_e2e.py` or deleting pod failure chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

before chaos: one of the proxy pods will restart many times when running test_e2e.py
after chaos: affected pod by chaos can't recovery to ready status

### Expected Behavior

before chaos: all pod running well
after chaos: affected pod by chaos can recovery after dele

[2021-12-24 07:51] zhuwenxing commented on #14172
/assign @czs007 Please help to have a look

[2021-12-24 07:52] zhuwenxing commented on #14172
/assign @czs007
Please help to have a look

[2021-12-24 07:56] binbinlv commented on #13925
OK，will try to reproduce it.

[2021-12-24 08:15] zhuwenxing commented on #14172
error message
[code]

[2021-12-24 09:08] #11991 closed

[2021-12-24 09:08] #11974 closed

[2021-12-24 09:17] xiaocai2333 commented on #11074
It should be the cpu configuration of the machine where the querynode is located. The querynode is allocated to qa-node12 every time an error occurs.
And I also did a test, and it is indeed slower to do queries on this machine than on other machines.
@LoveEachDay  Please check it.

When top=10, nq=1000, sdk will divide the big request into 8 small requests whose nq = 1310 (one of the requests nq =

[2021-12-24 09:32] hf185 opened #14195 "[Bug]: database space exceeded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/43991218/147340378-c50a6601-96fb-4e39-b899-c8ae79a39398.png)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-12-24 09:33] hf185 commented on #14195
启动不了了，我现在应该怎么做才能解决这个问题，很急！！！！

[2021-12-24 10:11] hf185 commented on #14195
@yanliang567 麻烦帮忙看看

[2021-12-24 10:26] wangting0128 commented on #14077
argo task: benchmark-tag-cnrlf

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-single-32c128m

server:
[code]

client pod: benchmark-tag-cnrlf-3228498151

client log:
[code]

[2021-12-24 12:53] #14086 closed

[2021-12-24 14:53] cydrain opened #14217 "[Enhancement]: Remove thirdparty index dependency on FAISS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

For some historical reason, thirdparty index such as annoy/hnsw/nsg has dependency on FAISS.
For example:
  Unify metric cal (#2008)
  Suspend the building tasks when any query command arrives (#2285)

Suggest put these dependent modules into knowhere/util, and let both FAISS

[2021-12-24 14:53] cydrain commented on #14217
/assign

[2021-12-24 15:37] cydrain opened #14218 "[Enhancement]: Remove index building suspend support"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Building index suspend is introduced by PR #2285,
this feature is not usable any more in Milvus 2.0, we should remove related code.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-12-24 15:55] anoymouscoder commented on #13434
I want to work on this issue, but I am facing problems with running existed test cases. When I tried to run `TestBateTable_ConfPath`, I got
[code]
Is there anything that I missed?

[2021-12-25 01:35] yanliang567 commented on #14195
it seems that the etcd is full,  @LoveEachDay is there any way to fix it except reinstall

[2021-12-25 01:43] andy263 opened #14220 "[Bug]: datanode crashs when specific data inserting."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Trying the reverse_image_search demo in porject milvus-io/bootcamp to test image search. Milvus datanode crashed as soon as loading about 200K images to collection. I think it could be some suspicious image data, but failed to determine which one it it since the large

[2021-12-25 01:50] LoveEachDay commented on #14195
@hf185 You can login to the container or pod to run the following command:
`etcdctl defrag`

If you have multiple members of etcd, you need pass the endpoints for `etcdctl defrag` command.
You can refer the documentation [here](https://etcd.io/docs/v3.2/op-guide/maintenance/#defragmentation).

By the way, could you provide more information about your cluster? By default, we set the database quota

[2021-12-25 01:53] yanliang567 commented on #14220
@czs007 is it known issue that just fixed in master?
/assign @czs007
/unassign

[2021-12-25 01:59] cydrain commented on #13680
/close

[2021-12-25 01:59] #13680 closed

[2021-12-25 02:00] congqixia commented on #14220
Hi @andy263. Thanks for the report. Could you please provide the script used to insert data into collection?

[2021-12-25 02:08] binbinlv commented on #13045
This issue appears again, so reopen it.
Nightly: [standalone: artifacts-milvus-standalone-master-276-pymilvus-e2e-logs.tar.gz]
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/276/artifacts

Test logs: [artifacts-milvus-standalone-pymilvus-pytest-logs.tar.gz]
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/2

[2021-12-25 02:18] czs007 commented on #14172
@zhuwenxing  please recheck this.

[2021-12-25 02:40] xige-16 opened #14225 "[Enhancement]: Get segment size from grpc request, not from binlog/index file header"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

querycoord get segment size from recovery info and indexPath info which are returned by gprc call from datacoord and rootcoord.

### Why is this needed?

geting segment size from binlog/index file header  is slow relatively.

### Anything else?

_No response_

[2021-12-25 03:02] wangting0128 commented on #12725
argo task: benchmark-no-clean-vczk8

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-cluster-8c64m-nfs

server:
[code]

client pod: benchmark-no-clean-vczk8-3120020475

client log:

<img width="1342" alt="截屏2021-12-25 上午11 02 04" src="https://user-images.githubusercontent.com/26307815/147376469-9dcf8271-4b18-459d-bd22-fed37c215bdc.png">

[2021-12-25 03:06] wangting0128 commented on #11074
argo task: benchmark-cron-1640361600

test yaml:
client-configmap:client-acc-glove-ivf-flat
server-configmap:server-cluster-8c16m

server:
[code]

client pod:  benchmark-cron-1640361600-3346309166

client logs:
[code]

[2021-12-25 03:16] zhuwenxing commented on #14172
Verified and pass in version `master-20211224-9a2c91d`
Keep it open but remove the urgent label.

[2021-12-25 03:23] XuanYang-cn commented on #13045
The reason is:

`Load` arrived before auto-compaction finished. So querynode loaded the segments before merging.
[code]

And `handoff` failed because handoff happened during load
[code]

[2021-12-25 03:24] zhuwenxing commented on #14048
It reproduced in local env and GitHub action in version `master-20211224-9a2c91d`.
So set it as an urgent issue.

`test_e2e.py` failed at search step:
[code]

`hello_milvus.py` search hangs
[code]

log:
[test-querynode-pod-kill-12-25-11-19-00.zip](https://github.com/milvus-io/milvus/files/7775421/test-querynode-pod-kill-12-25-11-19-00.zip)

[2021-12-25 03:32] XuanYang-cn commented on #13045
The case:
[code]

[2021-12-25 03:35] XuanYang-cn commented on #13045
/assign @xige-16
/unassign

[2021-12-25 04:08] #11983 closed

[2021-12-25 05:52] yanliang567 commented on #13321
@haorenfsa I think it requires an update for Operator as well?

[2021-12-25 06:29] yanliang567 commented on #13925
not reproduce last night.

[2021-12-25 06:30] yanliang567 commented on #13934
occasionally reproduce. remove from critical urgent

[2021-12-25 06:36] wangting0128 commented on #14077
**Using local-path**

argo task: benchmark-tag-dcmmg

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-single-32c128m-localpath

server:
[code]

[code]

client pod: benchmark-tag-dcmmg-2773654560

client log:
[code]

[2021-12-25 06:52] sunby commented on #13256
/assign @zhuwenxing
Fixed. Please verify it.

[2021-12-25 07:31] zhuwenxing commented on #13256
Verified and passed in version `master-20211225-8c5260c`

[2021-12-25 08:15] yanliang567 commented on #14195
/assign @hf185
/unassign

[2021-12-25 09:02] DragonDriver commented on #14165
/assign

[2021-12-25 10:08] zhuwenxing opened #14240 "[Enhancement]: Refine `wait_pods_ready` function"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Refine `wait_pods_ready` function

### Why is this needed?

In some cases, this function will raise errors!
[code]

### Anything else?

_No response_

[2021-12-25 10:09] zhuwenxing commented on #14240
/assign

[2021-12-25 10:57] #12079 closed

[2021-12-26 05:03] cydrain commented on #14218
/close

[2021-12-26 05:03] #14218 closed

[2021-12-26 13:42] xiaofan-luan opened #14254 "[Feature]: Import Embedded Etcd Kv Part2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

this issue is related to #7112.

We want to introduce embed etcd for standalone milvus.Thus, all the place use etcd client need to be unified.

### Describe the solution you'd like.

This second part refactor all the etcd client related code, it d

[2021-12-27 01:49] hf185 commented on #14195
The configuration I use is : [docker-compose.yml](https://github.com/milvus-io/milvus/releases/download/v2.0.0-rc8/milvus-cluster-docker-compose.yml)

The amount of data is still in the millions but the concurrency of inserts is higher

The QPS was around 30-50

@LoveEachDay

[2021-12-27 02:13] #14172 closed

[2021-12-27 02:27] czs007 commented on #14048
/unassign @xige-16
/assign @zhuwenxing
@zhuwenxing please recheck this.

[2021-12-27 02:32] binbinlv commented on #13925
Have not been reproduced for continuously third days.

[2021-12-27 02:53] binbinlv opened #14273 "[Bug]: [standalone] Milvus is crashed with panic "Failed to create consumer, attempt Service not ready" during nightly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus is crashed with panic "Failed to create consumer, attempt Service not ready":

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

3. TimeLine that lots of cases failed:
[code]
[code]

[2021-12-27 02:56] binbinlv commented on #14273
@congqixia
Hello, #13925 was not recreated on standalone mode,  but Cluster mode is crashed, and the retry info is a little different, so I  file a new issue, thanks.

[2021-12-27 02:59] congqixia commented on #14273
@binbinlv looks like pulsar broker crashed

[2021-12-27 03:02] #14085 closed

[2021-12-27 03:32] XuanYang-cn commented on #12701
Tried `go trace` last week, not helpful.

This week:
[code]

[2021-12-27 03:35] jingkl commented on #13611
ok

[2021-12-27 03:35] #13611 closed

[2021-12-27 03:45] congqixia commented on #14273
Same as nightly 279, pulsar broker restarted multiple times.
@LoveEachDay  is checking ci nodes issue since latest restart pulsar schduled to same nodes(ci-node10 for broker and ci-node18 for bookkeeper-0).
/assign @LoveEachDay

[2021-12-27 03:51] zhuwenxing opened #14300 "[Bug]: [chaos]Flush hangs at e2e test after deleting pulsar pod kill chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Flush hangs at e2e test after deleting datacoord or rootcoord pod kill chaos

### Expected Behavior

all operations work well after deleting chaos

### Steps To Reproduce

[code]

### Anything else?

datacoord log:
https://github.com/milvus-io/milvus/suites/4764821710

[2021-12-27 03:52] zhuwenxing commented on #14300
/assign @sunby

[2021-12-27 04:15] #12151 closed

[2021-12-27 04:52] xiaofan-luan commented on #12701
Might be a tcp slow start issue? do we knwo how large is pkt size?
However even if slow start happen, it should introduce 1 or 2 round trip latency

[2021-12-27 06:31] XuanYang-cn commented on #12701
1. The description thing cannot be reproduced stably.
2. http2 uses 1 TCP connection, and in our case, once it starts slow, it'll be slow forever in ONE script. So it's not a tcp-slow-start problem.

[2021-12-27 07:20] hf185 commented on #13558
ok, thank you.

[2021-12-27 07:20] #13558 closed

[2021-12-27 07:25] greensea opened #14313 "[Bug]: Search result score changed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I am doing image search, the vector dimesion is 512, using IVF_PQ index.
At the begining, I insert some vectors, then I search for an inserted image. The result seems good, I can get the image at top 1, and the score is 0.999999, this is good.
Then I continue insert v

[2021-12-27 07:27] XuanYang-cn commented on #12701
Good news: use milvus-io/pymilvus#846, the insert slow problem is gone.

Bad news: don't know why, 846 removes orm's dependency of `Milvus()`, and removes complicated connection pools, uses pure grpc-channel to manage connections.

[2021-12-27 07:29] XuanYang-cn commented on #12701
So this is a PyMilvus problem, and since it'll be fixed by 846, I think it's not worth the effort to investigate the reason why.

PyMilvus connection control before 846 is useless and meaningless since grpc already hides the complexity of connections control inside the channels.

[2021-12-27 07:31] XuanYang-cn commented on #12701
@zhuwenxing Do you want to try milvus-io/pymilvus#846 ?

[2021-12-27 07:59] haorenfsa commented on #13434
@anoymouscoder Thx for your contribution. milvus currently only supports compile & test on linux or windows. So you can't run test on a mac natively for now. You can try again inside our [docker image](https://hub.docker.com/r/milvusdb/milvus-env)

/assign @anoymouscoder

[2021-12-27 08:13] haorenfsa commented on #13434
You can try following steps if you're not familiar with docker:
1. download & install & start docker
2. `docker pull milvusdb/milvus-env`
3. `docker run --name=milvus-env -d -v ${Change me to: the path to your milvus code base}:/data/milvus milvusdb/milvus-env sh -c 'while sleep 3600; do :; done'`
4. `docker exec -it milvus-env 'bash'`
5. `cd /data/milvus`
6.  now you can change the code & run the

[2021-12-27 08:24] sunby commented on #14300
duplicate with #13256 ?

[2021-12-27 08:26] yanliang567 commented on #14313
@czs007  could you please help on this issue?
/assign @czs007

/unassign

[2021-12-27 08:28] sflowing commented on #12298
**Report**
Bad news: 1 per day in recent 3 days.

[2021-12-27 08:29] zhuwenxing commented on #14300
Not the same as it!
In #13256, it will raise errors and fail directly. but in this issue, it was hanging at the flush step.

[2021-12-27 08:32] ThreadDao commented on #10609
1. config
image: `master-20211227-3b5b819`
dataNode memory limit: 512Mi

2. After insert 100,000 entities in 4 times (per nb 25000), dataNode CrashLoopBackOff due to OOMKilled, the client process hangs
[code]
3. Flush hangs after Increasing the dataNode memory limit to 1024Mi

[2021-12-27 09:15] ThreadDao commented on #10609
1. config
image: 'master-20211227-3b5b819'
dataNode memory limit: 1Gi
collection existing num_entities: 275000

2. apply chaos memory stress
[code]
3. dataNode crashes due to OOMKilled and client flush hangs

4. After delete chaos memory stress, the dataNode can't recover to running, and milvus is unhealthy

[2021-12-27 09:28] bigsheeper commented on #13673
/assign I'm working on it

[2021-12-27 09:29] bigsheeper commented on #13673
/assign

[2021-12-27 09:29] bigsheeper commented on #13673
I'm working on it

[2021-12-27 09:32] bigsheeper commented on #13673
/unassign

[2021-12-27 09:40] zhuwenxing commented on #12701
Test with the client in k8s, this issue is not reproduced
* pymilvus-2.0.0rc9.dev27
   * first insert: begin insert, count: 50000 ,nb: 10000 end insert, time: 15.271641492843628
   * second insert: begin insert, count: 50000 ,nb: 10000 end insert, time: 16.773897171020508
* pymilvus-2.0.0rc9.dev28
    * first insert: begin insert, count: 50000 ,nb: 10000 end insert, time: 13.423330307006836
    *

[2021-12-27 11:03] sunby commented on #14300
/assign @zhuwenxing
please verify it.

[2021-12-27 11:04] zhuwenxing commented on #14048
/assign @xige-16
https://github.com/milvus-io/milvus/runs/4637343350?check_suite_focus=true
This job hangs at `hello_milvus.py`.
Please take a look!

[2021-12-27 11:16] cydrain opened #14354 "[Enhancement]: Remove not-used index types"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Suggest to remove index NSG/NGT/SPTAG, since no one use them.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-12-27 11:16] cydrain commented on #14354
/assign

[2021-12-27 12:24] scsven commented on #13784
Hi @Money8888, please try to enlarge the cache.cache_size, to make it larger than the data size, and re-run this test. I guess there may be a logic issue caused this search slowly.

[2021-12-28 01:57] DragonDriver commented on #14165
/unassign
/assign @haorenfsa pls verify this again. thx.

[2021-12-28 02:03] DragonDriver commented on #14313
/assign
Hi, @greensea , thanks for reporting this. Could you provide the scripts to help us to reproduce this issue?

[2021-12-28 02:29] yanliang567 commented on #13879
/assign @ThreadDao
@ThreadDao could you please help to verify the fix

[2021-12-28 02:29] yanliang567 commented on #13599
/assign @ThreadDao
@ThreadDao could you please help to verify the fix

[2021-12-28 02:35] xige-16 commented on #14077
/unassign

[2021-12-28 02:41] zhuwenxing commented on #14300
@sunby
In https://github.com/milvus-io/milvus/actions/runs/1627935493, datacoord, indexcoord,querycoord work well.
Rootcoord failed,but it was failed at search when running `hello_milvus.py`.
Please check out this job https://github.com/milvus-io/milvus/runs/4644257749?check_suite_focus=true
It has the same behavior (hangs at flush)as this issue,  but it was caused by killing pulsar pod.

[2021-12-28 02:41] zhuwenxing commented on #14300
/assign @sunby

[2021-12-28 02:48] xiaocai2333 commented on #13673
This is exactly the same problem as #9623 .

[2021-12-28 03:03] XuanYang-cn commented on #11237
/reopen

[2021-12-28 03:19] ThreadDao commented on #10609
/assign @congqixia

[2021-12-28 03:53] XuanYang-cn commented on #14300
/assign
/unassign @sunby

[2021-12-28 03:58] #12680 closed

[2021-12-28 03:59] #12211 closed

[2021-12-28 04:01] zhuwenxing opened #14402 "[Bug]:[chaos][rootcoord]search hangs when running hello_milvus.py after rootcoord pod recovered from pod kill"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

search hangs and timeout when running hello_milvus.py after deleting rootcoord pod kill chaos
[code]

### Expected Behavior

all operations work well

### Steps To Reproduce

[code]

### Anything else?

job link: https://github.com/milvus-io/milvus/runs/4644257831?che

[2021-12-28 04:02] congqixia opened #14404 "[Bug]: mqclient buf size is not set"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

mqclient use 0 as buf size

### Expected Behavior

mqclient shall use msgstream buf size option

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-12-28 04:30] liujie3948 commented on #13988
thanks  I 'll try.

[2021-12-28 05:16] #13617 closed

[2021-12-28 05:51] Writtic commented on #6162
@sunby

Hi, I complete to make expiration logic and now I'm writing test for it. It the meantime, I come up with several ideas for test case.

1. In `Test merge` on `compactor_test.go`, There is `genInsertData()` for generate data with very unrealistic timestamp like `[]int64{3, 4}`. So, I created the mock method `genInsertDataWithExpiredTS()` with appropriate timestamp like the birthday of Golang

[2021-12-28 06:01] yanliang567 commented on #14402
/assign @sunby
/unassign

[2021-12-28 06:06] zhuwenxing commented on #14402
We can also notice that some other pods restart several times
![image](https://user-images.githubusercontent.com/12268675/147533603-5ee9e948-3fdc-4058-877f-c58bcbf96d1a.png)

[2021-12-28 06:12] greensea commented on #14313
@DragonDriver I'd like to provide the script to reproduce this issue, but the problem is I can't reproduce this issue easily.
I have several millions vectors stored in MySQL, and I am import this vectors into milvus. At the beginning every search result seems good, but few days later this issue happens. Sometimes this issue happens  just 1~2 days later, but sometimes this issue happens after 4~5 d

[2021-12-28 06:23] #14404 closed

[2021-12-28 06:48] XuanYang-cn commented on #11237
`rootPath-test` branch

Current issues:

1. proxy ut puts objects in minIO but didn't clear them
2. queryCoord ut puts objects in minIO but didn't clear them

[2021-12-28 06:59] DragonDriver commented on #14313
@greensea I got what you mean. How about these index parameters and search parameters?

[2021-12-28 07:06] xiaofan-luan opened #14423 "[Bug]: Redirect log to directory is not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

after #12478 , we've seen the log redirect policy is not working, mainly because we remove role name in all components configs

### Expected Behavior

all coordinator should has a log named xxxcoord.log
all node/proxy should has a log named xxxnode-1.log

### Steps To

[2021-12-28 07:23] greensea commented on #14313
@DragonDriver
The index is created with milvus-insight, the index is IVF_PQ, nlist=32, m=32, metric type is IP.
Search is done by golang, nprobe = 10, ktop = 100, just fetch `id` field. The code is below:
[code]

[2021-12-28 07:30] DragonDriver commented on #14313
@greensea maybe you can try set `nprobe` larger. For example, to check if the inserted vector exist in the collection, you can try set `nprobe=nlist` and set `ktop=1`.

[2021-12-28 07:45] greensea commented on #14313
@DragonDriver I change the nprobe to 32 and search again, but the result is same. I can get the exact image at top 1 place, but the score is not 0.999999 like before.
Then I change nprobe to 64, but still got the same result.

[2021-12-28 07:46] yanliang567 commented on #12176
/assign @xiaofan-luan
@xiaofan-luan  i think this should be tracked

[2021-12-28 08:29] demozi opened #14435 "[Bug]: row count is not correct after delete entity from the collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

when I run the java sdk example, find this problem.

Step1：create collection；
Step2：insert entities, the count is 100000;
Step3:  delete one entity;
Step4: get collection statistics, the count is still 100000.
Step5: query entity with pk, the reponse is null.

### Exp

[2021-12-28 08:44] yanliang567 commented on #14435
@demozi Hi demozi, thank you for the issue. For now this is a by-design, because the entities number is not precise, especially after deletions.  The community is planning to re-implement get number of entities to make it precise, but it is still in discussion. Feel free to join the discussion in slack channel.

/unassign
/assign @demozi

[2021-12-28 09:43] #14435 closed

[2021-12-28 09:50] DragonDriver commented on #14313
/assign @cydrain
Maybe @cydrain can help to answer your questions.

[2021-12-28 09:53] cydrain commented on #14313
Hi @greensea , this is not a real issue.
IVF_PQ index is a kind of compression index which will lose accuracy.
You getting score 0.9999 at beginning is because IVF_PQ index is not ready, Milvus uses BruteForce search instead.
When IVF_PQ index is ready, Milvus uses IVF_PQ to search, so you can only get score 0.6~0.7

If you care about the result score, you can choose other index type:
IVF_FLAT: no

[2021-12-28 11:18] greensea commented on #14313
@cydrain I see. Thanks.
I am closing this issue.

[2021-12-28 11:18] #14313 closed

[2021-12-28 16:29] anoymouscoder commented on #13434
I follow the

I followed the instructions, during starting a container, there is a problem with `autouseradd: running as root is not permitted`. I solved it by running `docker run --name=milvus-envs -d -v  ${my path}:/data/milvus  -u "$(id -u):$(id -g)"  milvusdb/milvus-env:amd64-ubuntu18.04-latest` instead.
Posted it in case someone encountered a similar problem.

[2021-12-28 17:05] DacDinh147 commented on #12169
@DragonDriver  I am facing the same issue here. The search hang forever after restarting the docker or spin it up again. After deleting the collection,inserting it again, searching works. But loading the existed collection, perform search, it hanging forever. No any catching error when debugging.
The toy dataset is small, no constraint in memory, here is the information about collection
[code]
Wou

[2021-12-29 01:12] yanliang567 commented on #12169
@DacDinh147 would you like to try the latest build in master? please file a new issue with the milvus logs attached if it still reproduced to you

[2021-12-29 02:53] bigsheeper commented on #14402
/assign

[2021-12-29 02:58] XuanYang-cn commented on #14300
stuck at Seek

[2021-12-29 03:29] congqixia opened #14495 "[Enhancement]: CPU quota in container is not respected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add `uber-go/automaxprocs` to set GOMAXPROCS to container cpu quota

### Why is this needed?

If max procs to too large, performance will be impacted by wastes goroutine  scheduling.

### Anything else?

_No response_

[2021-12-29 04:07] czs007 opened #14497 "[Enhancement]: Add the limitation of the traceable interval to timeTravel"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I would like to add the limitation of the traceable interval to timeTravel.
Just use the configuration `retentionDuration` in milvus.yaml

[code]

we only support to travel back to 5 days so far.

Any timeTravel that exceeds this range will report an error.

### Why is this ne

[2021-12-29 04:38] DacDinh147 commented on #12169
@yanliang567 , thank for you rep, I found out to avoid the problem, I have to realease the collection from memory every time I start or restart Milvus server. What should I do in this case of server crash or restart? If I put the collection.release after collection.search, this would slow down everything, releasing from memory, loading into memory,  performing search then releasing, then loading,.

[2021-12-29 05:02] yanliang567 commented on #12169
Actually, this is an issue in rc8, and we believe it was fixed it in master. So I suggest retry on master latest. Please feel free to LMK if it does not work for you

[2021-12-29 06:35] #14254 closed

[2021-12-29 07:42] #9927 closed

[2021-12-29 08:18] xige-16 opened #14523 "[Enhancement]: Add more index info in load segment request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

refactor collectionInfo's proto to record more index information, such as vecFieldID and buildID, indexParrams, indexName...

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-12-29 08:29] xyzkk3 opened #14526 "[Bug]: Milvus 1.1.1版本用ivf flat索引查询时，查询一个向量似乎查了多次"
### Is there an existing issue for this?

- [ ] I have searched the existing issues

### Environment

[code]

### Current Behavior

我给30w数据量建立ivf_flat索引，nlist=32 ,然后查询一个向量，nprobe=8,花了1s，不用索引，默认flat却只花了0.3s，查看trace日志
[code]
似乎查询一个向量，内部查询了多次？

### Expected Behavior

期望ivf_flat速度比flat速度快

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2021-12-29 09:34] zhuwenxing commented on #14300
hangs at flush when running `test_e2e.py`
* https://github.com/xige-16/milvus/runs/4656318718?check_suite_focus=true
* https://github.com/xige-16/milvus/runs/4656775641?check_suite_focus=true

hangs at flush when running `hello_milvus.py`
* https://github.com/xige-16/milvus/runs/4656775765?check_suite_focus=true
* https://github.com/xige-16/milvus/runs/4656775692?check_suite_focus=true

[2021-12-29 09:40] #14495 closed

[2021-12-29 09:44] zhuwenxing commented on #14048
in https://github.com/zhuwenxing/milvus/actions/runs/1633291184 and https://github.com/xige-16/milvus/actions/runs/1633279843, querynode pod kill  job passed. The Milvus version is `master-20211229-42b7753`.

[2021-12-29 10:09] #8113 closed

[2021-12-29 10:09] #8830 closed

[2021-12-29 10:09] #12171 closed

[2021-12-29 10:58] yanliang567 commented on #14526
/assign @yhmo
/unassign

[2021-12-29 11:29] JackLCL commented on #8179
/reopen

[2021-12-29 13:29] #14497 closed

[2021-12-30 01:30] yanliang567 opened #14559 "[Enhancement]: Add debug log in tests for tracking"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

in 1.x tests, there should be more debug logs to help us track the requests when debugging

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-12-30 01:59] JackLCL commented on #14526
@xyzkk3
Can you provide milvus's debug log?

[2021-12-30 02:12] #13429 closed

[2021-12-30 02:17] zhuwenxing commented on #14300
hangs at flush when running test_e2e.py caused by minio pod kill
https://github.com/milvus-io/milvus/runs/4661088464?check_suite_focus=true

But we can also see that rootcoord pod restarted once.
![image](https://user-images.githubusercontent.com/12268675/147716341-73d77d2b-b88d-4315-a957-67ca1b9c2bea.png)

[2021-12-30 02:37] zhuwenxing opened #14577 "[Bug]: [chaos][pulsar]search timeout when running hello_milvus.py after pulsar pod recovered from pod kill"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

In client
[code]
In proxy log
[code]

### Expected Behavior

works well

### Steps To Reproduce

[code]

### Anything else?

job link:  https://github.com/milvus-io/milvus/runs/4661088322?check_suite_focus=true

log link:  https://github.com/milvus-io/milvus/suites/47

[2021-12-30 02:38] zhuwenxing commented on #14577
/assign @xige-16
Please take a look, thanks.

[2021-12-30 02:40] zhuwenxing commented on #14577
Another information: datanode restarted once for some reason.
![image](https://user-images.githubusercontent.com/12268675/147717289-6861a48a-7907-4ad4-bc36-50ea752270cc.png)

[2021-12-30 02:47] xyzkk3 commented on #14526
[2021-12-29 15:58:10,008][DEBUG][SERVER][PrintTimeRecord][taskloader_th] read_index: Start (0.000002 second [0.001756 ms])
[2021-12-29 15:58:10,008][DEBUG][ENGINE][read_internal][taskloader_th] Start to read_index(/var/lib/milvus/db/tables/test_lib/1640573644951705000/1640763870443525000) length: 33636322 bytes
[2021-12-29 15:58:10,032][DEBUG][SERVER][PrintTimeRecord][taskloader_th] read_index: En

[2021-12-30 02:57] JackLCL commented on #14526
@xyzkk3
From your log, I doubt that Milvus' parameters are not set correctly.
You can check your Milvus' parameters from this link: https://milvus.io/cn/docs/v1.1.1/performance_faq.md#%E5%A6%82%E4%BD%95%E8%BF%9B%E8%A1%8C%E6%80%A7%E8%83%BD%E8%B0%83%E4%BC%98

[2021-12-30 03:27] xyzkk3 commented on #14526
Thanks,The cache capacity setting misses "GB",Could you tell me what multiple queries mean in trace log?

[2021-12-30 03:36] yanliang567 commented on #14273
@congqixia could you please help to look at this issue again? It repros on cluster mode in PR https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-14568/1/pipeline/126/,and pulsar broker is not crashed

[2021-12-30 03:55] yanliang567 opened #14599 "[Bug]: [Cluster][CI] Fail to create consumer when trying to load a collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

CI failed: https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-14568/1/pipeline/126/
`[2021-12-30T02:55:34.400Z] [2021-12-30 02:55:23 - ERROR - pymilvus.client.grpc_handler]: Error: <BaseException: (code=1, message=collection 430134436

[2021-12-30 06:14] JackLCL commented on #14526
I didn't find "multiple queries"  in trace log. Can you provide the more details?

[2021-12-30 06:14] bigsheeper commented on #14402
[code]
QueryNode haven't received ttMsg/dmlMsg for a long time, about 13 minutes.

[2021-12-30 06:24] DragonDriver commented on #14402
I have added some logs to flowgraph and timesync of rootcoord. If flowgraph didn't receive any input or timesync didn't synchronize the timetick for a long time, it will print some warning logs. So maybe you can retry it with the latest image and then we will know which part is wrong in details. @bigsheeper @zhuwenxing

[2021-12-30 06:24] bigsheeper commented on #14402
[code]
RootCoord sent tt to all channels too slowly.

[2021-12-30 06:26] xyzkk3 commented on #14526
`[2021-12-30 11:17:03,622][TRACE][KNOWHERE][log_trace_][taskexecutor_th] Query #0, nprobe list: 21,24,0,4,18,27,26,17
[2021-12-30 11:17:03,623][TRACE][KNOWHERE][log_trace_][taskexecutor_th] Query #0, nprobe list: 2,9,29,16,15,26,3,21
[2021-12-30 11:17:03,624][TRACE][KNOWHERE][log_trace_][taskexecutor_th] Query #0, nprobe list: 20,15,0,8,3,16,30,4
[2021-12-30 11:17:03,625][TRACE][KNOWHERE][log_trac

[2021-12-30 06:27] bigsheeper commented on #14402
[code]
Pulsar broker down, and RootCoord try to reconnected to broker, which causes it sent tt too slowly, so search hangs.

[2021-12-30 06:29] bigsheeper commented on #14402
According to the logs above, I think we can just focus on the broker issues.

[2021-12-30 06:33] xyzkk3 commented on #14526
`[2021-12-30 11:17:03,624][DEBUG][KNOWHERE][QueryImpl][taskexecutor_th] IVF search cost: 710.181, quantization cost: 0.124023, data search cost: 0.554932
[2021-12-30 11:17:03,624][DEBUG][SERVER][PrintTimeRecord][taskexecutor_th] [search][0] ExecutionEngineImpl::Search float: query done (0.000782 second [0.781788 ms])
[2021-12-30 11:17:03,624][DEBUG][ENGINE][Search][taskexecutor_th] [search][0] get

[2021-12-30 06:33] zhuwenxing commented on #14402
How long is the broker unserviceable? If the unserviceable time is very short, still cause search to hang, this behavior is also unreasonable

[2021-12-30 06:35] zhuwenxing commented on #14402
How long is the broker unserviceable? If the unserviceable time is very short, still cause the search to hang, this behavior is also unreasonable

[2021-12-30 06:37] XuanYang-cn opened #14604 "[Bug]: DN will release a DataSyncSevice twice, cause watch channel event hanging"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

as title.

May have caused the flushing timeout problem.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-12-30 06:37] haorenfsa commented on #14165
@DragonDriver still panics, I add some logs might help, FYI:

code:
![image](https://user-images.githubusercontent.com/15938850/147727650-4e742c3c-d2a4-4aec-9eec-fb2d05e8a0ad.png)

log:
[code]

note this:
[code]

[2021-12-30 06:37] xyzkk3 commented on #14526
[code]
This is the debug log

[2021-12-30 06:42] haorenfsa commented on #14165
Looks like the taskscheduler is not inited before shutdown.

A pointer to a struct can call its method even if it's nil.

like this:
[code]

[2021-12-30 06:46] JackLCL commented on #14526
Milvus performs searches in terms of segments. If your collection contains multiple segment files below, then a single query request will go to multiple segments.

[2021-12-30 06:50] congqixia commented on #14599
[code]
From the log, the consumer tried to connect but request timeout.(Consumer register successful in server but failed in client side) So the following consumer creation all failed due to exclusive policy.

[2021-12-30 06:52] yanliang567 opened #14605 "[Bug]: [Cluster][CI] Search and Flush timeout when running CI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search timeout and pulsar brokers are running: https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-14593/1/pipeline
Flush timeout and 1/2 pulsar brokers restarted once: https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milv

[2021-12-30 06:53] yhmo commented on #14526
The "Query #0, nprobe list: 17,23,22,0,29,3,31,27" means your query nq=1, the IVF index choose 8(nprobe=8) buckets from an index file to search. Since your log level set to "Trace", each time you call search, you will get this log.

In your log, there is a line "[CACHE CPU] Current usage 32MB is too high for capacity 0MB, start free memory", this means you set "cache_size=0" in the server_config.y

[2021-12-30 07:08] xige-16 opened #14610 "[Bug]: Search return delete data after handoff segment done"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

load collection -> load collection -> insert data(count=10) -> delete data(count=2) -> flush -> after handoff -> search(topk=10)
search return count=10

### Expected Behavior

load collection -> load collection -> insert data(count=10) -> delete data(count=2) -> flush

[2021-12-30 07:08] DragonDriver commented on #14165
/assign

[2021-12-30 07:09] xige-16 commented on #14610
/assign
/unassig @yanliang567

[2021-12-30 07:15] xiaofan-luan opened #14612 "[Bug]: Fix RocksMQ Slow on consume"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Rocks MQ consume fairly slow on consume, see the log "rocksmq consume too slowly xxx"

### Expected Behavior

rocksmq should consume fairly fast because most of the time it consume only from the end of the queue, it should be always on memory table or l0 files.

howev

[2021-12-30 07:17] xiaofan-luan commented on #14612
see also #14077

[2021-12-30 07:18] DragonDriver commented on #14165
@haorenfsa thx for pointing out this. I guess golang is not an OO programming language, so any methods/functions related to a struct will finally be compiled to a single function. The signature of this function will contain the pointer of struct itself and it's valid that we can call a function though it's receiver is nil.

[2021-12-30 08:13] #7789 closed

[2021-12-30 08:17] xyzkk3 commented on #14526
thanks, problem was solved

[2021-12-30 08:17] #14526 closed

[2021-12-30 08:38] xiaocai2333 opened #14620 "[Bug]: RootCoord gets the binlog paths is incomplete when call BuildIndex"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Load failed!
The segment of automatic compaction will only build an index on the data of one of the binlog paths.

IndexNode building index log：
[code]

RootCoord call BuildIndex log:
[code]

querynode load log:
[code]

### Expected Behavior

Load successfully.

### S

[2021-12-30 08:39] xiaocai2333 commented on #14620
/assign

[2021-12-30 08:42] bigsheeper commented on #14402
RootCoord log:
[code]

Proxy log:
[code]

According to the log, the broker unserviceable from `2021-12-27T18:47:57Z` to `2021/12/27 18:57:40.515`.

[2021-12-30 09:00] xiaocai2333 commented on #14620
[datacoord.log](https://github.com/milvus-io/milvus/files/7792204/datacoord.log)
[datanode.log](https://github.com/milvus-io/milvus/files/7792206/datanode.log)

[2021-12-30 09:08] zhuwenxing commented on #14402
This run is based on latest image:https://github.com/zhuwenxing/milvus/actions/runs/1636566130

[2021-12-30 09:38] XuanYang-cn commented on #14605
Flush hang possible reason: #14604

The release became slow because pulsar responded slow, and then stuck the watch event

[2021-12-30 10:13] #9997 closed

[2021-12-30 10:13] #12214 closed

[2021-12-30 10:13] #12215 closed

[2021-12-30 10:56] XuanYang-cn commented on #14620
L129-L140

https://github.com/milvus-io/milvus/blob/f96cd84efb0ce2a65fff46b97f04619874b59ec2/internal/datanode/binlog_io.go#L129

[2021-12-30 11:09] #14423 closed

[2021-12-30 11:11] xiaofan-luan commented on #7112
Left part will be done after 2.0GA:
1) change all ut use only embedded etcd
2) change embed etcd into default config

[2021-12-30 11:56] xige-16 commented on #14605
I'm looking into the search timeout

[2021-12-30 12:01] xige-16 commented on #14605
proxy send search msg before querynode watch queryChannel done, so querynode can't receive query msg and timeout

[2021-12-30 12:03] xige-16 commented on #14605
The reason is that queryCoord return load success when it has finished load segments and watchDmchannels, but querynode may not has watched the query channel.

[2021-12-30 12:03] xige-16 commented on #14605
I‘ll finish the search timeout soon

[2021-12-30 12:08] #14612 closed

[2021-12-30 12:47] bigsheeper commented on #14402
it seems that no search hangs in this run

[2021-12-30 12:56] zhuwenxing commented on #14402
Yes, the issue that search hangs is not 100% guaranteed to happen.
But in this job https://github.com/zhuwenxing/milvus/runs/4664567806?check_suite_focus=true, flush hangs when running test_e2e.py. This may trigger the warning logs. If so, @DragonDriver please take a look.

[2021-12-30 17:21] #12072 closed

[2021-12-30 17:26] anoymouscoder commented on #10934
I encountered a similar problem on docker image `milvus-env:amd64-ubuntu18.04-latest`.
[code]
Is there any way to solve this problem?

[2021-12-31 01:58] DragonDriver commented on #14402
/assign

[2021-12-31 02:16] LoveEachDay opened #14658 "[Bug]: The count of Pulsar subscriptions and consumers not match"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

We've enabled pod monitor for milvus ci, and the summary of the pulsar cluster for [nightly 285](https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/285/pipeline) shown as below:
![image](https://user-images.githubusercontent.

[2021-12-31 02:25] bigsheeper commented on #14402
Do you know any other job with search hanged issue after @DragonDriver added debug logs?

[2021-12-31 02:26] DragonDriver commented on #14402
Are there any network problems between datacoord and datanodes?
[code]

[2021-12-31 02:58] bigsheeper commented on #12218
#14305 merged,  could you help to retest this issue? @ThreadDao

[2021-12-31 02:58] bigsheeper commented on #12218
/assign @ThreadDao
/unassign

[2021-12-31 03:10] zhuwenxing commented on #14300
hangs at flush when running test_e2e.py caused by pulsar pod kill
https://github.com/milvus-io/milvus/runs/4669003081?check_suite_focus=true

[2021-12-31 03:20] leadorzf commented on #3651
How to solve this

[2021-12-31 03:32] zhuwenxing commented on #14300
hangs at flush when running test_e2e.py caused by pulsar pod kill
https://github.com/zhuwenxing/milvus/runs/4671387919?check_suite_focus=true

hangs at flush when running test_e2e.py caused by querynode pod kill
https://github.com/zhuwenxing/milvus/runs/4671387853?check_suite_focus=true

[2021-12-31 03:48] leadorzf commented on #5766
How to solve this

[2021-12-31 06:23] #12208 closed

[2021-12-31 06:53] zhuwenxing opened #14689 "[Bug]: [chaos][pulsar]search and insert not work after pulsar pod recovered from pod kill"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. when running `pytest -s -v ../testcases/test_e2e.py`, flush hangs about 9 mins
[code]
2. when running `pytest -s -v ../testcases/test_e2e.py`, search raise error
[code]
3. when running `python scripts/hello_milvus.py --host 10.96.23.132`, insert raise error.
[code]

[2021-12-31 07:23] #12246 closed

[2021-12-31 07:23] #12252 closed

[2021-12-31 07:34] bigsheeper commented on #14689
/assign

[2021-12-31 07:36] bigsheeper commented on #14689
[code]
search timeout, proxy's log shows that timeout_timestamp is `2021-12-31 14:10:04.429 +0800 CST`

[2021-12-31 07:43] yanliang567 opened #14690 "[Bug]: The first 4 search requests respnsed very slow after reinstall Milvus in 2+ days"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The first 4 searches become very slow after reinstall in 48+ hours for both existing collection and new created collections
for an existing collection:
[code]
Beside search, for a new created collection(UTC+8):
1. insert became slower(from 1.5s to 14.6s), and keep slo

[2021-12-31 07:50] bigsheeper commented on #14689
QueryNode reconnect to Pulsar from `2021-12-31T06:06:05` to `2021-12-31T06:09:57Z`

[2021-12-31 07:54] yanliang567 commented on #14690
based on the tests above the recovery time of Milvus seems to be (need more tests to verify):
600s(tt to latest) + time to load the existing collection(s)

[2021-12-31 08:06] zhuwenxing commented on #14689
log:
[test-querynode-pod-kill-12-31-15-54-00.zip](https://github.com/milvus-io/milvus/files/7795629/test-querynode-pod-kill-12-31-15-54-00.zip)
[code]
@bigsheeper
This is the test that search timeout is set to 120s.

And another issue: **create collection: 56.27781677246094**
@czs007 Please take a look.

[2021-12-31 08:09] zhuwenxing commented on #14689
@sunby
The flush time cost is always about 600s when running `testcases/test_e2e.py`.

[2021-12-31 09:32] #12221 closed

[2021-12-31 09:32] #11781 closed

[2021-12-31 10:22] ThreadDao commented on #14610
Query get deleted data after segment handoff done:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-14628/3/pipeline

[2021-12-31 10:29] xige-16 commented on #14610
handoff op load segment to querynode and send segment change info, and querynode will delete growing segment lazy, so before growing segment has been removed, query the deleted data will return result.

[2021-12-31 11:31] #12261 closed

[2021-12-31 13:15] wangting0128 opened #14707 "[Bug]: [benchmark][cluster] milvus insert timeout and flush raise error: err: context deadline exceeded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod: benchmark-no-clean-98c2h-3511807547

[client.log](https://github.com/milvus-io/milvus/files/7796271/client.log)

client logs:
[code]

### Expected Behavior

argo task: benchmark-no-clean-98c2h

test yaml:
client-configmap: client-random-locust-100m-ddl-r8-

[2022-01-01 09:49] #7594 closed

[2022-01-01 14:42] #8406 closed

[2022-01-01 14:42] #12284 closed

[2022-01-02 06:50] #12291 closed

[2022-01-02 11:39] #12306 closed

[2022-01-03 17:03] rchangj commented on #12497
@JackLCL I haven't seen the hang issue in the image : master-20211214-dbaca0a. The image has run close to 3 weeks.

Meantime, [Memory] memory leak on 2.0.0-rc8 #12423 seems stay the same.

[2022-01-04 01:56] xiaocai2333 commented on #14620
It's fixed. Close it.

[2022-01-04 01:57] xiaocai2333 commented on #14620
/Close

[2022-01-04 01:57] #14620 closed

[2022-01-04 02:24] xige-16 commented on #13934
/unassign
/assign @wangting0128

[2022-01-04 02:25] xige-16 commented on #14048
/unassign
/assign @zhuwenxing

[2022-01-04 02:26] wangting0128 opened #14733 "[Bug]: [benchmark][standalone] build index raise error: Connection reset by peer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod: benchmark-no-clean-qn4c7-2274554322

client log:
[code]

### Expected Behavior

argo task: benchmark-no-clean-qn4c7

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-single-32c128m

server:
[code]

### Steps To Reprod

[2022-01-04 02:32] yanliang567 commented on #14733
it looks like the standalone pod is OOM, but don't know why, as it used to be working with 128GB memory.
/assign @czs007

/unassign

[2022-01-04 02:32] xiaofan-luan commented on #14077
are we still hitting the same issue after the fix @wangting0128

[2022-01-04 02:32] xiaofan-luan commented on #14077
/assign @wangting0128

[2022-01-04 02:39] yanliang567 commented on #14707
/assign @sunby

[2022-01-04 02:43] xige-16 commented on #12465
/unassign
/assign @wangting0128

[2022-01-04 02:43] xige-16 commented on #12465
/unassign @sunby

[2022-01-04 02:49] wangting0128 opened #14747 "[Bug]: [benchmark][cluster] Milvus hang when insert data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod: benchmark-tag-nc88q-4263525061

[locust_report_2021-12-31_193.log](https://github.com/milvus-io/milvus/files/7805092/locust_report_2021-12-31_193.log)

client log:
[code]

### Expected Behavior

argo task: benchmark-tag-nc88q

test yaml:
client-configmap:c

[2022-01-04 02:53] yanliang567 commented on #14747
/assign @sunby
/unassign

[2022-01-04 03:03] xige-16 commented on #12465
/assign @sunby

[2022-01-04 03:22] congqixia commented on #14747
Proxy failed to connect to pulsar due to backlog quota exceeded
[code]

[2022-01-04 03:29] jingkl opened #14757 "[Enhancement]: Collection and Partition Test Automation Refine"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Modify about collection  and partition testcase

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-01-04 03:29] jingkl commented on #14757
/assign @jingkl

[2022-01-04 03:31] #13673 closed

[2022-01-04 03:38] bigsheeper commented on #14689
Proxy sent query message before QueryNode start. @zhuwenxing

Proxy sent query message:
[code]

QueryNode start:
[code]

[2022-01-04 03:39] wangting0128 commented on #9672
Following up

[2022-01-04 03:41] wangting0128 commented on #9786
lets keep it for tracking

[2022-01-04 03:41] wangting0128 commented on #10079
lets keep it for tracking

[2022-01-04 03:41] wangting0128 commented on #10735
lets keep it for tracking

[2022-01-04 03:43] wangting0128 commented on #12279
lets keep it for tracking

[2022-01-04 03:43] #12285 closed

[2022-01-04 03:43] wangting0128 commented on #12297
lets keep it for tracking

[2022-01-04 03:44] #12622 closed

[2022-01-04 03:44] wangting0128 commented on #12633
lets keep it for tracking

[2022-01-04 03:44] wangting0128 commented on #12634
lets keep it for tracking

[2022-01-04 03:45] wangting0128 commented on #12725
lets keep it for tracking

[2022-01-04 03:46] yanliang567 commented on #13616
@zhuwenxing shall wen close this issue as preGa was release?
/unassign @czs007
/assign @zhuwenxing

[2022-01-04 03:51] #12373 closed

[2022-01-04 03:53] anoymouscoder commented on #13434
@haorenfsa PTAL https://github.com/milvus-io/milvus/pull/14705

[2022-01-04 03:59] yanliang567 commented on #8179
close for it reopened by mistake

[2022-01-04 03:59] #8179 closed

[2022-01-04 03:59] xiaocai2333 commented on #14733
/assign

[2022-01-04 04:07] congqixia commented on #14747
Data node failed to create datasyncservice with Minio error "Specified key does not exist."
And minio restarted hundreds of times:
[code]

Some error log of minio highlighted:
[code]

[2022-01-04 06:28] #14610 closed

[2022-01-04 06:32] zhuwenxing commented on #13318
In job https://github.com/milvus-io/milvus/runs/4695212124?check_suite_focus=true, the issue still exists.
![image](https://user-images.githubusercontent.com/12268675/148018282-59b8dbc5-2c67-4a44-bc96-d10047398547.png)

Log:
https://github.com/milvus-io/milvus/suites/4820545417/artifacts/135956330

[2022-01-04 06:47] bigsheeper commented on #14689
QueryNode do query timeout because RootCoord sent ttMsg too slowly:
[code]

[2022-01-04 06:53] greensea opened #14768 "[Bug]: High IO read usage and search became very slow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I found milvus starts keep doing IO reading, and the search became very slow.
Everything was fine  2 days ago, but suddenly I found search became very slow. The search should return in 1 second (usually 100+ms), but this time it didn't return the result even for few m

[2022-01-04 07:10] DragonDriver commented on #14165
/assign @haorenfsa
Already fixed in #14611 . pls retry this.

[2022-01-04 07:20] yanliang567 commented on #14768
@greensea one quick question: how much memory did you set for milvus?
/assign @greensea
/unassign

[2022-01-04 07:23] ThreadDao commented on #14747
I also encounter this problem. Flush hangs after inserting 139779 entities (dim=512). And `mic-memory-minio-2` restart once `mic-memory-etcd-2` restart twice
[code]
1. Image version `master-20220104-47e19fd`
2. Steps To Reproduce
[code]
3. Client log
[code]
4. Server log
[milvus_logs.tar.gz](https://github.com/milvus-io/milvus/files/7805942/milvus_logs.tar.gz)

[2022-01-04 07:29] greensea commented on #14768
@yanliang567 The server memory is 31.3G. milvus is now used 13.2% memory (~3.4G).
The server is used 10.1G memory, and there is 20+G free memory.

[2022-01-04 07:36] yanliang567 commented on #14768
@scsven could you please take a look at this issue?
/assign @scsven
/unassign @greensea

[2022-01-04 07:48] xiaofan-luan commented on #14768
might be a compaction issue?  how long does it run before the IO increaase?

[2022-01-04 07:49] xiaofan-luan commented on #14768
do you have logs of milvus?

[2022-01-04 08:08] greensea commented on #14768
@xiaofan-luan Running about 4~5 days before IO increase.
This is the log since last restart
[docker-compose.log](https://github.com/milvus-io/milvus/files/7806201/docker-compose.log)

[2022-01-04 08:19] yanliang567 opened #14775 "[Bug]: [CI] Milvus consume so slow that milvus requests timeout in 20s"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus CI failed in timeout in some requests. it is indicated in logs that milvus consumes too slow.

### Expected Behavior

most requests in CI completed in 20s as they are all about small data/data sets.

### Steps To Reproduce

[code]

### Anything else?

_No respo

[2022-01-04 08:37] LoveEachDay commented on #14775
Milvus proxy log:
[code]
And we can see the pulsar backlog increases all the time:
![image](https://user-images.githubusercontent.com/1573213/148031240-2a766846-1984-4179-ad67-5f8f84f5068b.png)
Backlog by topic:
![image](https://user-images.githubusercontent.com/1573213/148031568-31dff953-3c97-46b3-b273-001231aba40e.png)

[2022-01-04 08:39] yanliang567 commented on #14775
/assign @congqixia
/unassign @yanliang567

[2022-01-04 08:59] xige-16 commented on #13318
sdk retry search req after search timeout(20s)，didn't succeed until the fifth time，So the first successful search took 90s
[code]

[2022-01-04 09:12] xige-16 commented on #13318
Querynode did not recover well when the search was retried, and the search timeout was in line with expectations

[2022-01-04 09:14] xige-16 commented on #13318
And the interval between sdk client retry search is equal to timeout, which is wrong.

[2022-01-04 09:42] OptimusMsc opened #14780 "[Bug]: No return value in query function"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I created a collection with 4 schemas
`# 尝试完整创建新的collection

# 1 create Schema
# 1.1 create Field Schema
embedding_dim = 768
issue_id = FieldSchema(
    name="issue_id",
    dtype=DataType.INT64,
    is_primary=True,
    description="primary id"
)
summary_embedding =

[2022-01-04 10:48] yanliang567 commented on #14780
@OptimusMsc This is by design. The statement "issue_id in [10000, 20000]" means "issue_id==10000 and issue_id==20000". Please check https://milvus.io/docs/v2.0.0/boolean.md for details

[2022-01-04 10:48] yanliang567 commented on #14780
/assign @OptimusMsc
/unassign

[2022-01-04 11:09] OptimusMsc commented on #14780
Ok, I got it.
Thanks!

[2022-01-04 11:35] xige-16 commented on #13318
https://github.com/milvus-io/pymilvus/pull/853 has remove the logic of retry search

[2022-01-04 12:12] xige-16 commented on #14577
proxy send search msg to pulsar failed, so test failed.
[code]

[2022-01-04 12:38] xige-16 commented on #14577
[code]

[2022-01-04 12:39] xige-16 commented on #14577
query node reconnect search topic failed,

[2022-01-04 13:27] greensea commented on #14768
Update: now milvus used 49.8% memory (~15GB), there is still ~10GB free memory for the server. milvus is still doing mass IO read. CPU usage of milvus is low, only 5% CPU is used.

[2022-01-04 14:59] xiaofan-luan commented on #14689
@bigsheeper any reason why the send is slow?

[2022-01-04 15:02] #12313 closed

[2022-01-04 15:07] xiaofan-luan commented on #12423
if we keep writing data into milvus we should see memory going up a little bit, which should be fine.
The memory going up is from bloomfilters and index blocks, which are related to datasize. Block cache, on the other side, is stick to 1GB as expexted.
trying to reproduce on a standalone cluster but failed, probably need a way to reproduce

[2022-01-04 15:48] rchangj commented on #12423
In my setup, I have let the standalone nodes running idle for 3 weeks. I saw about 60G memory reduced from free memory. They seems go to buff/cache.

[2022-01-05 01:11] yanliang567 commented on #12423
@rchangj we had a fix for this memory leak on PreGA release, could you please help to retry on it?

[2022-01-05 01:54] xiaocai2333 commented on #14733
minio crashed.

[2022-01-05 01:54] xiaocai2333 commented on #14733
/unassign

[2022-01-05 02:03] bigsheeper commented on #14689
RootCoord keep throwing TimeoutError, it seems that RootCoord doesn't connect to Pulsar correctly after Pulsar restarting, I'm trying to figure out why.

[2022-01-05 02:15] xiaofan-luan commented on #12423
if it went to buff/cache I doubt this is a memory leakage. probably just because the system is using some memory as page cache and the memory will return to other process once system memory usage is too high

you can check rss of the milvus see if rss increase，by default settings without any data milvus should use no more than few giga bytes memory

[2022-01-05 02:38] xige-16 commented on #14605
/assign @yanliang567
/unassign @congqixia

[2022-01-05 02:39] xige-16 commented on #14605
/assign @congqixia
/unassign @yanliang567

[2022-01-05 02:43] wangting0128 commented on #14077
**Recoverable after query and search failure**

argo task: benchmark-px6ww

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-single-32c128m

server:
[code]

client pod: benchmark-px6ww-1300394705

client log:
[code]

[2022-01-05 02:55] wangting0128 opened #14833 "[Bug]: [benchmark][standalone]create index raise error: syncTimestamp Failed:context deadline exceeded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod: benchmark-cluster-cron-1641330000-527344790

client logs:
[code]

### Expected Behavior

argo task: benchmark-cluster-cron-1641330000

test yaml:
client-configmap:client-search-locust-1000,instanceId:4, server-configmap:server-single-8c16m

server:
[code]

[2022-01-05 03:09] wangting0128 opened #14834 "[Bug]: [benchmark][standalone]insert raise error: Connection timed out, keepalive watchdog timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod: benchmark-cron-1641312000-3614219473

client logs:
[code]

### Expected Behavior

argo task: benchmark-cron-1641312000

test yaml:
client-configmap:client-acc-sift-hnsw,instanceId:4, server-configmap:server-single-8c16m

server:
[code]

### Steps To Reprod

[2022-01-05 03:17] rchangj commented on #12423
@yanliang567 I currently use this image: master-20211214-dbaca0a which seems has the fix for https://github.com/milvus-io/milvus/issues/12497.   Does it have the fix for the memory issue?

[2022-01-05 03:42] codersky opened #14840 "[Enhancement]:Support Partial Results When Run Search Query"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Search query return as soon as possible when the query load restarted and under loading progress still.

### Why is this needed?

when query load crashes and is restarted, as usual, it takes some time to load the data into memory for querying, for now, the service will hang an

[2022-01-05 03:50] xiaofan-luan commented on #14840
That's a good suggestion, we need a extra field(such as speculative read) so the proxy won't wait for all quernode to return and it will return the result after speculative timeout

[2022-01-05 03:51] xiaofan-luan commented on #14840
@codersky would you want to take this feature? thought it might help on the system availability because reload will take couple minutes

[2022-01-05 03:51] xiaofan-luan commented on #14840
@codersky would you want to take this feature? thought it might help on the system availability because reload will take couple minutes

[2022-01-05 03:51] xige-16 commented on #14577
[code]

[2022-01-05 03:52] xige-16 commented on #14577
https://github.com/apache/pulsar-client-go/issues/698

[2022-01-05 05:08] yanliang567 commented on #14833
/assign @czs007
/unassign

[2022-01-05 05:09] yanliang567 commented on #14834
/assign @czs007
/unassign

[2022-01-05 06:16] zhuwenxing commented on #14300
hangs at flush when running test_e2e.py caused by indexcoord pod kill
https://github.com/milvus-io/milvus/runs/4685511374?check_suite_focus=true
hangs at flush when running test_e2e.py caused by pulsar pod kill
https://github.com/milvus-io/milvus/runs/4685511462?check_suite_focus=true

[2022-01-05 06:20] #8568 closed

[2022-01-05 06:21] jingkl commented on #14757
PR：#14849

[2022-01-05 06:28] czs007 commented on #14834
@wangting0128 @yanliang567

looking at the log in https://podlog-dev.milvus.io/pod-logs?pod-name=benchmark-cron-1641312000-4-milvus-standalone-db57986d5-4wntq

[code]

You can see that etcd has not been connected

[2022-01-05 06:35] yanliang567 commented on #14834
@LoveEachDay could you please help to check the etcd status at that time
/assign @LoveEachDay

[2022-01-05 06:52] #8521 closed

[2022-01-05 06:52] #7706 closed

[2022-01-05 06:53] codersky commented on #14840
Glad to take it, i've cloned and setup the dev environment of Milvus.

[2022-01-05 06:57] xiaofan-luan commented on #14840
/assign @codersky
welcome~

[2022-01-05 06:58] xiaofan-luan commented on #14077
seems to be a different issue.
see the following error logs: https://podlog-dev.milvus.io/pod-logs?pod-name=benchmark-px6ww-1-milvus-standalone-84bc54dd8d-skkjt&started-at=2022-01-04T12:58:00

[2022-01-05 06:59] binbinlv opened #14850 "[Bug]: Disable pytest timeout module"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

NA

### Expected Behavior

NA

### Steps To Reproduce

[code]

### Anything else?

NA

[2022-01-05 07:06] xiaofan-luan commented on #14077
the querynode crash while doing search， @bigsheeper  any idea on this?
![image](https://user-images.githubusercontent.com/83447078/148174772-2b2b9f2e-f639-4f6d-bbdb-ff701a03950b.png)

[2022-01-05 07:43] czs007 opened #14862 "[Bug]: Retrieve deleted id in compacted flushed segment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Still can query deleted id in compacted flushed segment.

### Expected Behavior

Should not retrieve the deleted id.

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-01-05 07:51] greensea commented on #14768
@xiaofan-luan I just upgraded to milvusdb/milvus-dev:master-20220104-9f04855. This commit is 4 days after #14614. Now milvus working good. I will see if this issue happens in the next few days.

[2022-01-05 09:38] JamCrash opened #14873 "[Bug]: querynode: number of RootCoord is incorrect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[2022/01/05 09:31:16.630 +00:00] [DEBUG] [client.go:66] ["RootCoordClient GetSessions success"]
[2022/01/05 09:31:16.630 +00:00] [DEBUG] [client.go:69] ["RootCoordClient mess key not exist"] [key=RootCoord]
[2022/01/05 09:31:16.630 +00:00] [DEBUG] [client.go:110] ["Ro

[2022-01-05 09:53] yanliang567 commented on #14873
@JamCrash According to #14005, could you please help to double check the status of etcd and minio services? if the symptom is same, could you please help to retry on PreGA release?
/assign @JamCrash
/unassign

[2022-01-05 09:58] binbinlv commented on #14605
Flush timeout again during CI:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-14851/3/pipeline

[2022-01-05 10:02] yanliang567 commented on #14768
/assign @greensea
@greensea please keep us posted if any updates. Thanks a lot.

/unassign @scsven

[2022-01-05 10:04] JamCrash commented on #14873
I am using the PreGA version @yanliang567
The etcd status is fine, and I am using the aws s3, not minio
the rootcoord shows logs like this sometimes: [2022/01/05 10:01:13.796 +00:00] [WARN] [timeticksync.go:339] ["rootcoord send tt to all channels too slowly"] [chanNum=4] [span=249]

And the rootcoord pulsar monitor like this:

[2022-01-05 10:08] JamCrash commented on #14873
some querynode restart many times and still show error logs like above, I think it can't recover forerver

[2022-01-05 10:50] yanliang567 commented on #14873
@JamCrash could you please try to upload the logs for querynode, rootcoord and proxy?

[2022-01-05 11:10] JamCrash commented on #14873
[rootcoord.log](https://github.com/milvus-io/milvus/files/7814429/rootcoord.log)
[querynode.log](https://github.com/milvus-io/milvus/files/7814430/querynode.log)
proxy runs well now @yanliang567

[2022-01-05 11:14] yanliang567 commented on #14873
@xige-16 could you please help to check this issue? a similar issue could be #14005
/assign @xige-16

[2022-01-05 11:18] xincrazy opened #14875 "[Bug]: insert data then load collection will get exception"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Failed to load data. Query logs as follows:

2022/01/05 09:48:34.239 +00:00] [ERROR] [root_coord.go:1709] ["DescribeSegment failed"] [role=rootcoord] ["collection id"=430276305373888513] ["segment id"=430276489398976513] [msgID=0] [error="segment id 430276489398976513

[2022-01-05 11:21] zhangsilence commented on #14875
agree

[2022-01-05 11:23] yanliang567 commented on #14875
@xincrazy are you running with cluster mode or standalone mode? could you please help to upload the whole log file for investigation?
/assign @xincrazy
/unassign

[2022-01-05 11:27] xincrazy commented on #14875
we are running with cluster mode。The log file is not saved, I have solved the problem by loading data first and then writing data, but I feel this is a bug。

[2022-01-05 11:34] yanliang567 commented on #14875
this is weird, it does not reproduce to us. could you please share your info/details about what you did before you met this issue?

[2022-01-05 11:44] TaylorHere opened #14878 "[Bug]: Collection load will cause querynode crash"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

collection like above will cause querynode crash with log:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-01-05 11:59] yanliang567 commented on #14878
@TaylorHere string type is not supported yet. could you please retry with supported data type? Please check https://milvus.io/docs/v2.0.0/field_schema.md for support list

/assign @TaylorHere
/unassign

[2022-01-05 12:15] xige-16 commented on #14873
It seems the rootCoord has stoped

[2022-01-05 12:18] xige-16 commented on #14873
After 11:09, rootcoord has no log output, and querynode is still trying to restart at 11:30, but because rootcoord is gone, the restart is unsuccessful.

[2022-01-05 12:22] xige-16 commented on #14873
You can check whether there is rootcoord meta under prefix=by-dev/meta/session/ in etcd. @JamCrash

[2022-01-05 12:27] #12153 closed

[2022-01-05 12:27] #12132 closed

[2022-01-05 12:27] #11994 closed

[2022-01-05 14:34] aharonh opened #14888 "[Bug]: Endless warning message loop, database not usable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After stopping the docker-compose (CTRL-C) of a bootcamp quick-start and then starting it again, Milvus is  in endless warning message loop (see below). The database is not usable in this state anymore - the bootcamp app is not working anymore when this corruption hap

[2022-01-05 18:58] austinjung commented on #13553
@LoveEachDay We've deployed again with milvus-helm version 2.4.6. And we'll monitor. Is there any API endpoint to check the healthy of the milvus cluster?
If not, please guide us how we can check the healthy of the milvus cluster efficiently.
Thanks.

[2022-01-06 01:02] yanliang567 commented on #14888
@sunby could you please take a look at this issue?
/assign @sunby
/unassign

[2022-01-06 02:09] xincrazy commented on #14875
First I create collection, then write data, then load failed, but if I create collection and load directly, it will succeed, but still can not query data, need to execute getCollectionStatistics method to query results.

[2022-01-06 02:23] binbinlv commented on #13064
Did not reproduce, so close it first, will reopen it if it occurs again.

[2022-01-06 02:23] #13064 closed

[2022-01-06 02:26] xige-16 commented on #14873
If the prefix path where the session is stored has not changed, the rootcoord must be down.

[2022-01-06 02:27] binbinlv commented on #12984
Close it for PR merge.

[2022-01-06 02:31] congqixia opened #14915 "[Enhancement]: Merge LongTermChecker for flowgraph node input check"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add a `GroupChecker` which uses single goroutine to check a group of event lag

### Why is this needed?

Now each live flowgraph node has a LongTermChecker working, which will cause a goroutine and a timer in granularity of Collection * ShardNum * NodeNumber_FlowGraph. This wi

[2022-01-06 02:34] binbinlv commented on #12447
Has not been reproduced for days, so close it first, will reopen it if it occurs again.

[2022-01-06 02:34] #12447 closed

[2022-01-06 02:36] binbinlv commented on #9623
Reproducing.

[2022-01-06 02:40] binbinlv commented on #11978
Has not been reproduced for days, so close it and will reopen if it occurs again.

[2022-01-06 02:40] #11978 closed

[2022-01-06 02:40] JamCrash commented on #14873
I can not find the prefix under root path, could you tell where is it ?

[2022-01-06 02:48] wangting0128 opened #14918 "[Bug]: [benchmark][standalone] Milvus hang when create index of IVF_FLAT"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod: benchmark-cron-1641398400-1139503792

client log:
[code]

### Expected Behavior

argo task: benchmark-cron-1641398400

test yaml:
client-configmap:client-search-sift50m-ivf-flat-2048 ,instanceId:6, server-configmap:server-single-16c64m

server:
[code]

###

[2022-01-06 02:51] JamCrash commented on #14873
proxy log:
[proxy.log](https://github.com/milvus-io/milvus/files/7819158/proxy.log)

[2022-01-06 03:02] xige-16 commented on #12465
[2022/01/05 17:04:17.821 +00:00] [DEBUG] [cluster.go:230] ["loadSegments: queryNode load segments error"] [nodeID=5] ["error info"="The specified key does not exist."]
[2022/01/05 17:04:17.821 +00:00] [DEBUG] [task_scheduler.go:809] ["waitActivateTaskDone: activate task return err"] [taskID=430282795941625865] [triggerTaskID=430282795941625857] [error="The specified key does not exist."]

[2022-01-06 03:29] JamCrash commented on #14873
The rootcoord always says “rootcoord send tt to all channels too slowly”，does it matter?

[2022-01-06 03:33] zhuwenxing commented on #14300
hangs at flush when running test_e2e.py caused by pulsar pod kill
https://github.com/milvus-io/milvus/runs/4718761096?check_suite_focus=true

[2022-01-06 03:36] xige-16 commented on #14873
![iXeaS3d32u](https://user-images.githubusercontent.com/20124155/148324344-a0abf607-0087-4330-a930-2f0b651cd51b.png)
![tMxkQ7ozqy](https://user-images.githubusercontent.com/20124155/148324354-aa934eac-38f3-4f08-8689-51986b2ee4b9.png)

[2022-01-06 03:37] xige-16 commented on #14873
The version of querynode is inconsistent with other components @JamCrash

[2022-01-06 03:53] JamCrash commented on #14873
It runs well now， imagePullPolicy set to "Always" can fix this, thanks

[2022-01-06 03:53] #14873 closed

[2022-01-06 04:02] #12399 closed

[2022-01-06 05:58] #14757 closed

[2022-01-06 10:37] XuanYang-cn commented on #14300
Why flush hang: Timetick proceeding very very slow. 30s a ts.

Why tt slow: rootcoord broadcast tt 30s a time

Why rootcoord broadcast tt slow: there are 2 dml_channel seemed never recover from pulsar, producing on those are always timeout, the default produce timeout is 30s.

https://github.com/milvus-io/milvus/blob/8df158a9c4e1736d0a7e1fe05020c5c2546f7136/internal/rootcoord/timeticksync.go#L335

[2022-01-06 10:38] XuanYang-cn commented on #14300
[code]

[2022-01-06 11:27] #14915 closed

[2022-01-06 12:23] czs007 commented on #14658
The high probability is that when we destroy the Consumer object, we did not actively call the Consumer's Unsubscrible method.

from Pulsar 's Frequently Q&A:
[code]

and refer to this article.

https://www.datastax.com/blog/2021/04/understanding-pulsar-message-ttl-backlog-and-retention

[2022-01-06 16:18] DrBamba opened #14967 "[Bug]: search gives timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I try to search or query from milvus insight or from the python SDK it works correctly but then suddenly from time to time it just suddenly starting to give timeouts, sometimes redeploying the entire cluster Fixes it and then it returns to work as usual and somet

[2022-01-06 18:32] aharonh commented on #14967
I am experiencing similar issue. After loading 25,000 vectors into milvus using bootcamp audio search, milvus (docker-compose, standalone) is constantly using CPU (50-80%) for hours, and any search issued using the app or using the pymilvus in an interactive python session never returns - the client is stuck awaiting for response from the server.

[code]

During this, the server doesn't output any

[2022-01-07 01:23] yanliang567 commented on #14967
@DrBamba it seems to be a known issue in rc7, could you please retry on PreGA release? Please help to upload the logs of Proxy, Rootcoord, queryNode and queryCoord if it still reproduced to you. Thanks.

/assgin @DrBamba
/unassign

[2022-01-07 01:24] yanliang567 commented on #14967
@aharonh could you please help to file a new issue for your problem, I don't think they are the same root cause. Also it would be greate if you could retry on PreGA first and upload the logs as described above. Thanks a lot

[2022-01-07 02:03] congqixia commented on #14599
This is a known issue of pulsar.
There are some way to handle this:
1. Close pulsar client and reconnect.
2. Fail fast and let consumer component crash.

Since `msgstream` is a complicated component and hard to reconnect all consumers, producers and readers after reconnecting to pulsar, it's better to do `fail fast` way.

@yanliang567  could you please verify

[2022-01-07 02:03] congqixia commented on #14599
/unassign
/assign @yanliang567

[2022-01-07 02:15] congqixia commented on #14605
It looks like rmq performance issue again:
[code]
@fishpenguin @xiaofan-luan

[2022-01-07 02:30] xige-16 commented on #14077
/assign @big

[2022-01-07 02:31] xige-16 commented on #14077
/assign @bigsheeper

[2022-01-07 02:32] bigsheeper commented on #14077
Can't find the cause from the stack trace log, try to reproduce on my computer, and execute from step 1 to step 6 mentioned above, then keep loading collection and doing search concurrently by 50 threads. QueryNode doesn't crash.

[2022-01-07 02:46] xige-16 commented on #14077
[standalone.log](https://github.com/milvus-io/milvus/files/7825970/standalone.log)

[2022-01-07 02:58] XuanYang-cn commented on #14300
2 roads:

1. why pulsar recover yet the topic is unavailable( produce timeout )
2.  Why indexnode-pod-kill causes flush hang

[2022-01-07 03:40] zhuwenxing opened #14992 "[Bug]: [doc]bad link in doc"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Bad link in https://github.com/milvus-io/milvus/blob/master/docs/design_docs/segcore/Search.md
link https://milvus.io/docs/v2.0.0/expression.md is 404

### Expected Behavior

The link exists and is correct

### Steps To Reproduce

_No response_

### Anything else?

_N

[2022-01-07 04:07] congqixia opened #14996 "[Bug]: GroupChecker unit test fail occasinally"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Fail like
[code]

### Expected Behavior

Unit test passes

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-01-07 05:00] yanliang567 commented on #12632
on master-20220105-a187443, the memory of index node is not keeping increase by steps. After about 24h running(build index and drop index in a loop), the memory is almost flat. But the memory consumption is more than 6GB, which is too much for 10 million entities(5G)
![image](https://user-images.githubusercontent.com/82361606/148494158-a0bb4c75-2a94-41d8-9fb6-bdceb33f5dd0.png)

[2022-01-07 05:05] jingkl commented on #12725
I reported the following problem during the insertion of 1000w data yesterday：
Once insert 50000  data>create IVF sq8  index, 200 times in total
<img width="1440" alt="截屏2022-01-06 下午9 32 04" src="https://user-images.githubusercontent.com/34296482/148494492-ccb22582-04b2-4eac-a00a-ce7663968294.png">

[2022-01-07 05:09] TaylorHere commented on #14878
@yanliang567 thx fro your response

[2022-01-07 05:09] #14878 closed

[2022-01-07 05:17] #12496 closed

[2022-01-07 05:21] jingkl opened #15000 "[Bug]: Index node memory not released"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server:
<img width="1185" alt="截屏2022-01-07 下午1 12 57" src="https://user-images.githubusercontent.com/34296482/148495390-cf00ffcf-bb26-49af-9c3d-b0a88231d143.png">
client:
<img width="1350" alt="截屏2022-01-07 上午10 09 52" src="https://user-images.githubusercontent.com/3

[2022-01-07 05:58] yanliang567 commented on #14992
/assign @zhuwenxing
/unassign

[2022-01-07 06:14] yanliang567 commented on #12958
lets keep it for tracking

[2022-01-07 06:51] XuanYang-cn commented on #14300
https://github.com/milvus-io/milvus/runs/4730662241?check_suite_focus=true

This is also caused by producing timeout: hello_milvus's time tick channel && delta channel producing timeout.

[2022-01-07 07:17] #14996 closed

[2022-01-07 07:55] XuanYang-cn commented on #14300
https://github.com/milvus-io/milvus/runs/4730662365?check_suite_focus=true @sunby

RoorCoord not available yet, when DN handles a flushed segment recovery, this etcd-put event failed.

[2022-01-07 09:19] bigsheeper commented on #14689
Cannot reproduce with version:master-20211230-95f0e9a, chaos test blocked by flush issue #14300

[2022-01-07 09:28] #12531 closed

[2022-01-07 09:29] bigsheeper commented on #14402
RootCoord sent ttMsg too slow with timeoutError when reconnecting to Pulsar.

[2022-01-07 09:36] bigsheeper commented on #14402
maybe same with #14689

[2022-01-07 10:28] zhuwenxing commented on #14689
Not reproduced in the test as following

* deploy Milvus
* `cd  tests/python_client/deploy/scripts` and `python action_before_reinstall.py`
* inject chaos for 2 mins and then delete it
* `cd  tests/python_client/deploy/scripts` and `python action_after_reinstall.py`

The difference is during the chaos, no requests are sent to Milvus.

[2022-01-07 10:52] #12310 closed

[2022-01-07 10:59] zhaocc1106 opened #15038 "[Bug]: Milvus hang occasionally when received search request after running some days."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I try analyze this bug by gdb and log. As following:

When some search request comed, `reqsched_thread` will hang forever. The reason is waiting for result for current job. This thread trace as following:
![image](https://user-images.githubusercontent.com/26559935/148

[2022-01-07 11:04] zhaocc1106 commented on #15038
[traces.txt](https://github.com/milvus-io/milvus/files/7828405/traces.txt)
[milvus-21-12-31-1551-debug.zip](https://github.com/milvus-io/milvus/files/7828407/milvus-21-12-31-15.51-debug.zip)
[Uploading milvus-21-12-31-1551-info.zip…]()

[2022-01-07 13:05] yanliang567 commented on #15038
@yhmo  could you please help on this issue?
/assign @yhmo
/unassign

[2022-01-07 13:11] #7925 closed

[2022-01-07 14:06] czs007 opened #15043 "[Enhancement]: Reduce peak memory usage in indexnode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I would like to refactor the logic of IndexBuildTask in indexnode.

The index building is divided into the following steps.
1) Load vector data into memory ( VectorDataMemory)
2) Construct Index object (IndexObj)
3) Call the serialization method of the Index object to get the

[2022-01-08 02:24] rchangj opened #15045 "[Bug]: Addition of data hangs after 16 vectors have been inserted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After upgrade to 2.0.0-pre-ga, I need to add data. The addition of data hangs when the 16th vector has been added. The dimension of vector is 128. This issue happened on two servers. Besides ""error="err: number of RootCoord is incorrec" in the log, there is no other

[2022-01-08 02:30] rchangj commented on #15045
Attach some logs:
[2022/01/08 02:27:50.832 +00:00] [DEBUG] [impl.go:3172] ["GetPersistentSegmentInfo "] [len(infos)=7] [status=]
[2022/01/08 02:27:51.403 +00:00] [DEBUG] [impl.go:3139] [GetPersistentSegmentInfo] [role=proxy] [db=] [collection=vep_agent_iter1]
[2022/01/08 02:27:51.404 +00:00] [DEBUG] [root_coord.go:1373] [DescribeCollection] [role=rootcoord] ["collection name"=vep_agent_iter1] [msg

[2022-01-08 02:42] xiaofan-luan commented on #15045
is this an upgrade or a new cluster?
2.0 preGA can not be upgraded from further version since we changed some of the data format, it should be listed on release note.
Sorry about that but that won't happen after GA

[2022-01-08 02:45] xiaofan-luan commented on #14658
how would we handle subscription if a node crash? @czs007
That's probably why we can't random a subscription name because subscription number will out of control

[2022-01-08 02:49] #13877 closed

[2022-01-08 02:49] xiaofan-luan commented on #13795
any progress on this one guys?

[2022-01-08 02:50] xiaofan-luan commented on #13780
hi @ownlu , we've already released 2.0-preGA and that should probably solved your problem

[2022-01-08 02:51] xiaofan-luan commented on #14918
/assign @xiaocai2333  could you please take a look my man

[2022-01-08 02:53] xiaofan-luan commented on #14768
Sure,  thanks greensea, your issue might be related to we are not limiting compaction numbers and that might be solved in the previous patch

[2022-01-08 03:53] EeyoreLee commented on #11228
Thanks very much. I can't find the info anywhere in offical docs(v 1.0.0).

[2022-01-08 06:26] arshikasoni commented on #12741
But after some days again this problem is started .May i know the reason now?

[2022-01-08 06:29] arshikasoni commented on #12741
![image](https://user-images.githubusercontent.com/91525850/148634260-cf4fd823-a311-41f2-9bff-c78afee5d0fd.png)

![image](https://user-images.githubusercontent.com/91525850/148634271-e809c193-4b29-4834-b710-b22c0b0fa3d6.png)
Now versions are matching but i am getting the same error again

![image](https://user-images.githubusercontent.com/91525850/148634287-a20a0115-73a1-4610-ada0-ca8126e7ea45.png

[2022-01-08 06:42] xiaofan-luan commented on #12741
should be already fixed by https://github.com/milvus-io/milvus/pull/9626
what kind of error do you get?

[2022-01-08 06:45] arshikasoni commented on #12741
It is not fixing
illegal error is always there , even if i try converting it to list then also the error is same

[2022-01-08 06:51] xiaofan-luan commented on #12741
what is the full error message? that seems to be the different issue, the vector seems not pass pymilvus parameter check

[2022-01-08 06:53] arshikasoni commented on #12741
![image](https://user-images.githubusercontent.com/91525850/148634905-b652ba24-f556-4d92-a735-b5671e155eff.png)
![image](https://user-images.githubusercontent.com/91525850/148634916-a1a03e30-371e-47b4-b309-ddecb5c4721b.png)
![image](https://user-images.githubusercontent.com/91525850/148634931-b0a604ca-fd84-43a6-9dd9-ad9ca328ed06.png)

[2022-01-08 06:55] arshikasoni commented on #12741
![image](https://user-images.githubusercontent.com/91525850/148634968-ff4669b4-ddce-4ac7-94b5-3236dd2677d8.png)

[2022-01-08 08:58] #12593 closed

[2022-01-08 09:58] #12623 closed

[2022-01-08 14:58] #11969 closed

[2022-01-08 17:42] rchangj commented on #15045
@xiaofan-luan I used two servers, one is an upgrade from master-20211214-dbaca0a, one is a new one. Both have shown same issue.

[2022-01-09 02:22] #12599 closed

[2022-01-09 03:14] JackLCL commented on #15045
@rchangj
For the new Milvus instance, are you using the new etcd and the new MinIO?

[2022-01-09 04:40] rchangj commented on #15045
@JackLCL I'm following instructions from :https://milvus.io/docs/install_standalone-docker.md, which is use prega configuration.

[2022-01-09 07:23] sroshkul commented on #12243
Hi,
We have similar issue.
What do you mean by "distributed pulsar mod"?
We had deployed with helm and I think it is already has pulsar cluster mode :thinking:

[2022-01-09 15:46] xiaofan-luan commented on #14689
Do we try to reproduce with request?

[2022-01-09 19:11] #12673 closed

[2022-01-10 01:30] yanliang567 commented on #12243
@sroshkul Try with the PreGA release, which is using pulsar cluster by default if deploy milvus with cluster mode

[2022-01-10 01:39] yanliang567 commented on #15045
@rchangj could you please check the version of querynode accroding to the issue #14873? Also please make sure that the RootCoord, QueryCoord and QueryNode are communicating with etcd well.

/assign @rchangj
/unassign

[2022-01-10 01:40] yanliang567 commented on #14918
/assign @xiaocai2333
/unassign

[2022-01-10 01:45] JackLCL opened #15048 "[Enhancement]: Milvus 2.0 time schedule should be updated."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

link:https://milvus.io/docs/v2.0.0/roadmap.md#:~:text=Upcoming%20major%20releases,2.2%3A%20February%202022

### Why is this needed?

It's out of date.

### Anything else?

N/A

[2022-01-10 02:10] xiaocai2333 commented on #14918
/working on it

[2022-01-10 02:11] zhuwenxing commented on #14689
@bigsheeper Hi, the issue reproduced in this job https://github.com/milvus-io/milvus/runs/4754495386?check_suite_focus=true.
error in client
[code]
error in server proxy
[code]

[2022-01-10 02:20] congqixia opened #15067 "[Bug]: File not closed when ReadAll returns error in LocalChunkManager.Read"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When `ioutil.ReadAll` returns error, the file is not closed

### Expected Behavior

File is closed in every branch.

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-01-10 02:24] shangfu-peng commented on #12516
Any update for this feature request?

[2022-01-10 02:35] bigsheeper commented on #14689
QueryNode raised `timeoutError` when producing search result after Pulsar restart. It looks like the same reason of `timeoutError` in RootCoord which leed to QueryNode search timeout and DataNode flush timeout（#14300）.
[code]

[2022-01-10 02:38] wangting0128 commented on #13934
argo task: benchmark-no-clean-qjgc4

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-single-32c128m

server:
[code]

client pod: benchmark-no-clean-qjgc4-261503642

client log:
[code]

[2022-01-10 02:40] xiaocai2333 commented on #14918
The binlog files are not exists. Maybe deleted by mistake.
[code]

[2022-01-10 02:40] cydrain opened #15072 "[Enhancement]: Optimize get bitmap logic for sealed segment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

following 2 APIs' logic are mixed:
SegmentSealedImpl::get_deleted_bitmap
SegmentSealedImpl::get_filtered_bitmap

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-01-10 02:40] cydrain commented on #15072
/assign

[2022-01-10 02:44] xige-16 commented on #13934
insufficient memory of available node
[code]

[2022-01-10 02:44] #13764 closed

[2022-01-10 03:12] wangting0128 commented on #14747
argo task: benchmark-tag-p5gkx

test yaml:
client-configmap:client-random-locust-search-84h-1b
server-configmap:server-cluster-8c64m-datanode2-indexnode4-querynode6

server:
[code]

client pod: benchmark-tag-p5gkx-2685632679

client log:
[code]

[2022-01-10 03:34] simon-atom commented on #2669
The README link in the comment from June 29, 2020 gives a 404

[2022-01-10 03:50] xiaocai2333 commented on #14918
<img width="458" alt="middle_img_v2_8ff3dbcf-0472-4e0f-8f8c-b586e62facbg" src="https://user-images.githubusercontent.com/46207236/148716455-14615c9f-c571-4dfc-8fbd-b6ea46c2ec2b.png">

[code]

[2022-01-10 03:53] #15067 closed

[2022-01-10 05:23] xige-16 commented on #13934
[code]

[2022-01-10 05:26] xige-16 commented on #13934
when 100000000 data flushed, standalone already consumes most of the memory

![Ipr3NGrNhw](https://user-images.githubusercontent.com/20124155/148721533-e9dc6f6b-10a2-495c-a901-45c1a93772ff.png)
![wTMOfdN2Gb](https://user-images.githubusercontent.com/20124155/148721548-2aff930b-27fc-431d-ab9e-37196b57811f.png)

[2022-01-10 06:55] yhmo commented on #15038
Same error with #12298

[2022-01-10 07:27] yhmo commented on #15038
@zhaocc1106
How many CPU cores were alocated to each docker container?

[2022-01-10 07:59] dkubatin opened #15094 "[Bug]: Data is not saved if the server crashes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After forcibly saving (flush) vectors in mysql, if the server power is abnormally turned off, the latest data is not written.

### Expected Behavior

If a power failure occurs, the data is retained

### Steps To Reproduce

[code]

### Anything else?

Configuration mil

[2022-01-10 08:30] congqixia opened #15098 "[Bug]: Memory Leak in storage codec for Finalizer circle reference"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

`storage.Writer` and `storage.Reader` will have some heap allocation that will never be gc

### Expected Behavior

No memory leak

### Steps To Reproduce

[code]

### Anything else?

The root cause may be `runtime.SetFinalizer` will cause memory leak when object has c

[2022-01-10 08:40] JackLCL opened #15101 "[Bug]: The delete operation did not take effect in hello_milvus.py"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![XC9z8y90QY](https://user-images.githubusercontent.com/53512883/148737566-7d7f3280-b898-4230-8a29-f6b1b20e69ca.png)

After the vector is deleted, it is still available through the query interface.

### Expected Behavior

After the vector is deleted, it is not availab

[2022-01-10 08:45] yanliang567 commented on #15101
sounds like a known issue, which occasionally happens in PreGA.
@congqixia @czs007 could you please take a look?

/assign @congqixia
/unassign

[2022-01-10 08:47] yanliang567 commented on #15094
@yhmo please take a look at this issue
/assign @yhmo
/unassign

[2022-01-10 08:48] xige-16 opened #15103 "[Enhancement]: Optimize querynode's meta management"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

You can abstract the historical and streaming replica of querynode, extract a meta as a member of querynode struct, and use querynode.meta to initialize historical, streaming, queryCollection. Historical and streaming are responsible for updating meta, meta can directly provid

[2022-01-10 08:48] xige-16 commented on #15103
/assign @bigsheeper

[2022-01-10 08:49] JackLCL commented on #15101
hello_milvus.py is the first test example after installing milvus on the official website, I hope it will be fixed soon.

[2022-01-10 09:05] JackLCL commented on #12516
@shangfu-peng
The Milvus team has been working on some stability and performance issues lately, and time is very tight. Can you work with us to develop and contribute to this feature? We can give you some technical support online.

[2022-01-10 09:13] #15098 closed

[2022-01-10 09:19] XuanYang-cn opened #15105 "[Bug]: Proxy ut panic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://github.com/milvus-io/milvus/runs/4758866227?check_suite_focus=true

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-01-10 09:21] xige-16 commented on #13934
/assign @wangting0128
/unassign

[2022-01-10 09:23] XuanYang-cn commented on #11995
/reopen

[2022-01-10 14:13] sroshkul commented on #14747
Also we have this issue.
After inserting ~**20M** vectors Milvus crashes with
`RPC error: <_MultiThreadedRendezvous of RPC that terminated with:
        status = StatusCode.UNAVAILABLE
        details = "Socket closed"
        debug_error_string = "{"created":"@1641815286.357480005","description":"Error received from peer ipv4:34.236.189.197:19530","file":"src/core/lib/surface/call.cc","file_line"

[2022-01-10 17:12] rchangj commented on #15045
@yanliang567 I used a brand new server and repeated the same issue.
Following is the list of commands I have ran:
sudo apt update
sudo apt install docker
sudo apt install docker.io
sudo curl -L "https://github.com/docker/compose/releases/download/1.27.4/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
sudo chmod +x /usr/local/bin/docker-compose
wget https://github.com/milvu

[2022-01-10 19:14] len-n-a-rt commented on #14873
Same here

@JamCrash   "imagePullPolicy set to "Always" can fix this, thanks"
how can this help ?

[2022-01-10 20:41] sugia opened #15133 "[Bug]: querynode crashed when doing a search"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

when doing a search (from collection and from partition), the querynode will crash. And the client will get stuck.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

Error log:

goroutine 24083 [select]:

github.com/milvu

[2022-01-11 01:15] yanliang567 commented on #15045
@xige-16 could you please help on this issue?
/assign @xige-16

[2022-01-11 01:22] LoveEachDay commented on #13109
/reopen

[2022-01-11 01:25] yanliang567 commented on #15133
@sugia which version are you running? could you please help to collect the querynode logs before crash by "kubectl logs --previous"
/assign @sugia
/unassign

[2022-01-11 02:07] xxcheng0708 opened #15139 "[Bug]: segment id XXX not belong to collection id XXX"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I was running Milvus with two processes at the same time, one doing search and query every 5 seconds and the other doing small batches of inserts (10000 at a time) at the same time, rootcoord fell into an infinite loop. and rootcoord's log output "Segment id XXX

[2022-01-11 02:14] xxcheng0708 commented on #15139
logfile about rootcoord, datanode, proxy 链接：https://pan.baidu.com/s/17POvqL2OtyTMXthaM6xJpA
提取码：txz1

[2022-01-11 02:19] xige-16 commented on #15139
Could you provide the log of querycoord? @xxcheng0708

[2022-01-11 02:19] xiaofan-luan commented on #15139
hi @xxcheng0708 , thanks for your issue, we are investigating into it

[2022-01-11 02:40] xxcheng0708 commented on #15139
querycoord log file has updated to baidu cloud.

[2022-01-11 02:41] czs007 commented on #14918
@wangting0128

[2022-01-11 02:42] congqixia commented on #15101
@godchen0212 is working on it.
/unassign
/assign @godchen0212

[2022-01-11 02:46] yhmo commented on #15038
This issue is weird, the server received search requests to collection "NLP_DOC_VECTOR_20220107011258", this collection only has one segment "1641489206688299000", the segment has finished index, the index(IVF_FLAT) file is "1641489207975274000", the index file's ID is 17769

The search job print out log "SearchJob 36972670 add index file: 17769", which means the job is started, it has one task, t

[2022-01-11 02:47] wangting0128 commented on #14077
argo task: benchmark-no-clean-kxmp4

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-single-32c128m

server:
[code]

client pod: benchmark-no-clean-kxmp4-1560983271

[locust_report_2022-01-10_119.log](https://github.com/milvus-io/milvus/files/7843306/locust_report_2022-01-10_119.log)

client logs:
[code]

[2022-01-11 02:50] XuanYang-cn commented on #15105
Fixed

[2022-01-11 02:50] #15105 closed

[2022-01-11 02:51] XuanYang-cn commented on #14604
fixed by #15102

[2022-01-11 02:51] yhmo commented on #15038
I couldn't reproduce it on my machine.
To address the problem, I will build a Milvus docker image with more logs. You run the new container in your environment. Once the bug occurs again, from the log we may know why the search task stop working.

[2022-01-11 02:52] zhuwenxing opened #15152 "[Bug]: Search failed after reinstalling or upgrading Milvus"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search failed after reinstalling or upgrading Milvus

### Expected Behavior

Search success after reinstalling or upgrading Milvus

### Steps To Reproduce

[code]

### Anything else?

failed run: https://github.com/milvus-io/milvus/actions/runs/1679359477

This issue

[2022-01-11 02:53] wangting0128 commented on #12725
argo task: benchmark-no-clean-xzt9f

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-cluster-8c64m-nfs

server:
[code]

client pod: benchmark-no-clean-xzt9f-1013335632

client log:
[code]

[2022-01-11 02:58] xige-16 commented on #15139
The problem may be that after compaction, datacoord failed to report a new segmentID to rootcoord. Could you please provide the log of datacoord？@xxcheng0708
[code]

[2022-01-11 03:05] sugia commented on #15133
Hi @yanliang567 , the milvus 2.0 is installed by using the commands in this guide: https://milvus.io/docs/v2.0.0/install_cluster-helm.md
just in last week.

Here are some more logs before crash:

`time="2022-01-11T03:01:33Z" level=error msg="[Failed to get last message id from broker]" error="server error: MetadataError: Consumer not found" topic=by-dev-rootcoord-dml_1

time="2022-01-11T03:01:33Z"

[2022-01-11 03:15] xiaofan-luan commented on #15139
@sunby any idea?

[2022-01-11 03:33] yanliang567 commented on #15133
/assign @xige-16
@xige-16 please take a look at this issue

/unassign

[2022-01-11 03:36] cydrain opened #15153 "[Enhancement]: Move configuration skipQueryChannelRecovery to queryNode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

It's in-reasonable to put configuration "skipQueryChannelRecovery" under msgChannel,
suggest to move this configuration to queryNode.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-01-11 03:37] cydrain commented on #15153
/assign @bigsheeper

[2022-01-11 03:46] JackLCL commented on #15045
@rchangj
Can you upload the log to help address this issue?

[2022-01-11 04:11] godchen0212 commented on #15101
Pymilvus has a new setting called consistency. The default is Consistency.Bounded, it means that data for a period of time is acceptable, default is 5 seconds. The search results have already been returned when the current deletion has not been actually applied in the system.
The new hello_milvus will configure the collection to be Consitency.Strong, which is strong consistency to solve this probl

[2022-01-11 04:11] godchen0212 commented on #15101
/unassign
/assign @JackLCL

[2022-01-11 04:15] #14768 closed

[2022-01-11 04:29] xxcheng0708 commented on #15139
datacoord log file has updated to baidu cloud. @xige-16

[2022-01-11 04:35] yhmo commented on #15038
I build a temporary image based on v1.1.1, adding more logs for the search task. You can download the image from:
`docker pull milvusdb/milvus-poc:1.1.1-cpu-15038`

@zhaocc1106 You can use this image to create container, if the problem occurs again, send me the log files.

[2022-01-11 05:04] xiaofan-luan commented on #15101
you should just wait for 2 couple of minutes and retry see if delete take effect, default mode is eventual consistency.

Otherwise you can try to set consistency level to strong and retry

[2022-01-11 05:57] yanliang567 commented on #14599
/assign @wangting0128
/unassign

[2022-01-11 05:59] yanliang567 commented on #14599
close

[2022-01-11 05:59] #14599 closed

[2022-01-11 06:17] XuanYang-cn commented on #12741
Seems like the `embeddings` didn't pass this check

[code]

We only support `list` and `np.ndarray`

[2022-01-11 06:36] DragonDriver commented on #15000
What's the memory limit of indexnode? @jingkl

[2022-01-11 06:39] DragonDriver commented on #15000
Should the memory curve of indexnode act like querynodes'? @jingkl @czs007 @xiaofan-luan

[2022-01-11 06:48] JackLCL commented on #15101
https://milvus.io/docs/v2.0.0/example_code.md#:~:text=wget%20https%3A//raw.githubusercontent.com/milvus%2Dio/pymilvus/v2.0.0rc9/examples/hello_milvus.py

The official website should also be updated at the same time.

[2022-01-11 06:49] JackLCL commented on #15101
It works well now.

[2022-01-11 06:53] zhaocc1106 commented on #15038
We will try

[2022-01-11 08:08] zhaocc1106 commented on #15038
Could you give me the diff patch which have debug log? We need compile bin in ourself online environment.

[2022-01-11 08:22] yhmo commented on #15038
[patch.zip](https://github.com/milvus-io/milvus/files/7844817/patch.zip)

Unzip the zip file to milvus project path, then run `git apply patch`.

[2022-01-11 08:29] DrBamba commented on #14967
@yanliang567 v2.0.0-pre-ga seems to work great!
Thank you very much
Btw at first pre-ga didn't work then I found an issue stating that data from rcX releases won't work with new releases
Should I expect the same behaviour when moving from pre-ga forward?

[2022-01-11 08:30] xige-16 commented on #14077
standalone restart, but querynode recovery failed. rootCoord set state to helthy before registe session to etcd, so when getRecoveryInfo call rootCoord's describeCollection, rootCoord return error after two retries.
[code]

[2022-01-11 08:37] yanliang567 commented on #14967
You are welcome. According to the roadmap, the releases after pre-ga shall be compatible with pre-ga.

[2022-01-11 08:52] #14967 closed

[2022-01-11 08:59] jingkl opened #15160 "[Bug]: [Performance][cluster] Using 10 client for search and query operations, reported"timeout error""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod: benchmark-concurrent-client-xb5g6-2166247838
                   benchmark-concurrent-client-xb5g6-2648256807
                   benchmark-concurrent-client-xb5g6-2824453492
                   benchmark-concurrent-client-xb5g6-2246596133

[2022-01-11 09:36] yhmo commented on #15094
As we know, for Linux system there are 3 steps to write data into a hard disk:
1. fwrite(), write data into user buffer
2. fflush(), flush data into system buffer
3. fsync, flush data into physical device

If we call fsync() every time after fflush(), the writing performance would be unacceptable. For this reason, the milvus wal didn't call fsync(), it call fflush() then tell the client "okay, dat

[2022-01-11 09:58] yanliang567 commented on #15160
@czs007 could you please take a look at this issue, it protects us from getting a higher qps
/assign @czs007
/unassign

[2022-01-11 11:28] wangting0128 opened #15165 "[Bug]: [Bug]: [benchmark][cluster][performance] 1 million dataset, search with params of {'nq': 1, 'topk': 1, 'search_param': {'nprobe': 16}, search time is 0.2891s"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

**1 million dataset, search with params of {'nq': 1, 'topk': 1, 'search_param': {'nprobe': 16}, search time is 0.2891s.**

client pod: benchmark-tag-cmxm5-221059076

client log:
[code]

### Expected Behavior

**1 million dataset, search with params of {'nq': 1, 'topk'

[2022-01-11 13:39] haojunyu commented on #10359
碰到类似的问题，写节点的搜索耗时很低，而读节点的搜索耗时很高，而且流量不均衡。

[2022-01-11 16:16] rchangj commented on #15045
@JackLCL and @yanliang567  Sent the log via email.

[2022-01-12 02:10] #11281 closed

[2022-01-12 02:45] xige-16 commented on #15045
I'm investigating into it

[2022-01-12 03:23] zhuwenxing commented on #14300
https://github.com/milvus-io/milvus/runs/4779791136?check_suite_focus=true
Flush hang caused by rootcoord pod kill.
Note that datanode restart once for some reason.

[2022-01-12 04:06] xige-16 commented on #15045
The data will be flushed after each insertion. At the 16th flush, Datacoord just started to automatically compact, and then the sdk has been calling the GetPersistentSegmentInfo interface to confirm whether all segments are flushed, and the flush is stuck.

[2022-01-12 04:06] xige-16 commented on #15045
Is this issue fixed on the master branch？ @sunby  @congqixia

[2022-01-12 04:55] xige-16 commented on #15045
It is recommended to update pymilvus and try again. @rchangj
[code]

[2022-01-12 05:03] yanliang567 commented on #13095
lets keep it for tracking

[2022-01-12 05:54] huazaizai0322 opened #15176 "[Enhancement]: Add global annotations and labels in values.yaml of milvus-helm"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add global annotations and labels in values.yaml of milvus-helm

### Why is this needed?

When deploy mivlus cluster, need add application and applicationinstance to annotations and lables.

### Anything else?

_No response_

[2022-01-12 06:09] xige-16 commented on #15139
/assign
/unassign @sunby

[2022-01-12 07:01] xige-16 commented on #15045
/assign @sunby
/unassign

[2022-01-12 07:38] #11156 closed

[2022-01-12 08:01] bigsheeper opened #15178 "[Bug]: Invalid globalSealedSegments in historical"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

globalSealedSegments in historical is invalid

### Expected Behavior

use globalSealedSegmentsManager

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-01-12 08:01] bigsheeper commented on #15178
/assign
/unassign @yanliang567

[2022-01-12 08:05] xige-16 commented on #15178
This bug will cause the globalSegmentID of the searchResult to be incorrectly set, and the proxy may return in advance before receiving the full query result.

[2022-01-12 08:25] congqixia opened #15179 "[Enhancement]: Reduce goroutine number used in flushManager for large collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Use working goroutine for each `flushManager` (granularity is `vchannel`) instead of one goroutine per `flushTaskQueue`(granularity is `segment`)

### Why is this needed?

For large collection, segment number will be large and the number of `flushTaskQueue` will not reduce sin

[2022-01-12 08:38] #12271 closed

[2022-01-12 08:52] XuanYang-cn commented on #14300
This will be fixed by #15102

[2022-01-12 09:01] #15178 closed

[2022-01-12 10:51] xiaofan-luan commented on #15133
seems to be the same issue here:

github.com/milvus-io/milvus/internal/querynode.(*historical).search.func1(0xc001429fb0, 0xc00058ccd0, 0x5f8f3ac21940001, 0xc000557ae0, 0xc00140d078, 0xc00140d098, 0x1, 0x1, 0x5f916c5bec80001, 0xc000568a60, ...)

/go/src/github.com/milvus-io/milvus/internal/querynode/historical.go:242 +0x16c fp=0xc000b8df80 sp=0xc000b8dee0 pc=0x1bac12c

created by github.com/milvus

[2022-01-12 10:58] xiaofan-luan commented on #15133
@sugia did you have any delete or just insert -> load and search

[2022-01-12 11:06] cydrain commented on #15133
@sugia
1. it's vector search or binary search ?
2. does the machine support AVX2 ?

[2022-01-12 12:00] bigsheeper commented on #15133
@sugia did you create index before search?

[2022-01-12 12:50] #12786 closed

[2022-01-12 12:56] JackLCL commented on #12761
@zwd1208
Do we have some updates in preGA about this issue?

[2022-01-12 17:15] sugia commented on #15133
@xiaofan-luan Hi, my case includes multiple inserts and multiple deletes, with about 1 million entities in the collection at the end of the day. I did a load command before searching. When I did a load command right after the inserts are completed, it would take a long time and throw error: "collection has not been loaded into QueryNode" if I inserted documents in partitions, or "collection has no

[2022-01-12 17:18] rchangj commented on #15045
I now can add vector after upgrade the pymilvus. However the search result is completely off. Before, it return the right match. Now it returns something not right.

[2022-01-12 17:36] rchangj commented on #15045
It works now! Thank you for sorting this out! We will monitor the memory usage for next several days.
One minor thing is miles-cli is still depend on rc8. Do we need to upgrade? Let me know what's the version we can use.

[2022-01-13 01:32] xiaofan-luan commented on #15165
that is too slow, we need to take a deep look into it

[2022-01-13 01:33] xiaofan-luan commented on #15133
Great, thanks my man. We are looking into it and problem should be solved before GA~ also let us know if you have any other issue or if you are working on some of the issues.

[2022-01-13 01:35] xiaofan-luan commented on #14918
@czs007 is this a duplicated issue? because the datacoord garbage collect some of the files.

[2022-01-13 01:36] xiaofan-luan commented on #14862
@czs007 is this still a valid issue?

[2022-01-13 01:37] xiaofan-luan commented on #14840
how is the design going on? you may want to implement a MEP(Milvus enhancement plan) before we move into code

[2022-01-13 01:39] xiaofan-luan commented on #14658
We need more information here, could you share the test result briefly? @xiaocai2333

[2022-01-13 01:45] xiaofan-luan commented on #15043
close

[2022-01-13 01:45] #15043 closed

[2022-01-13 01:46] xiaofan-luan commented on #15133
change it to critical urgent because many people hit this issue

[2022-01-13 01:47] xiaofan-luan commented on #15139
reasons might be compaction, @xige-16 we need better explain in the issue for bug tracing

[2022-01-13 01:56] cydrain opened #15183 "[Enhancement]: Binary vector search will panic when running in SSE4.2 machine"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

For float vector search, Milvus will select SIMD automatically.
But for binary vector search, it's hard code to use AVX2.
So if running binary vector search on a SSE4.2 machine, it will panic.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-01-13 01:56] cydrain commented on #15183
/assign

[2022-01-13 02:21] xiaocai2333 commented on #14833
RootCoord can't be connected.
[code]

[2022-01-13 02:42] wangting0128 commented on #14077
argo task: benchmark-tag-sk47h

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-single-32c128m

server:
[code]

client pod: benchmark-tag-sk47h-2692756289

[locust_report_2022-01-12_149.log](https://github.com/milvus-io/milvus/files/7859426/locust_report_2022-01-12_149.log)

client log:
[code]

[2022-01-13 02:42] xiaocai2333 commented on #14833
tso 5 seconds without allocation success, because RootCoord could not be connected.

![image](https://user-images.githubusercontent.com/46207236/149256018-c4276f31-7681-4878-ab3b-7be638428cd5.png)

[2022-01-13 02:49] wangting0128 commented on #12725
argo task:  benchmark-tag-57l44

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-cluster-8c64m-nfs

server:
[code]

client pod: benchmark-tag-57l44-4070368684

client log:
[code]

[2022-01-13 02:57] wangting0128 opened #15184 "[Bug]: [benchmark][cluster] DescribeCollectionException: (code=1, message=syncTimeStamp Failed:StateCode=Initializing)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod: benchmark-tag-57l44-4070368684

client log:
[code]

### Expected Behavior

argo task: benchmark-tag-57l44

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-cluster-8c64m-nfs

server:
[code]

### Steps To Reproduce

[c

[2022-01-13 03:11] wangting0128 commented on #14747
argo task: benchmark-tag-xcglg

test yaml:
client-configmap:client-random-locust-search-84h-1b
server-configmap:server-cluster-8c64m-datanode2-indexnode4-querynode6

server:
[code]

client pod: benchmark-tag-xcglg-1701033979

[locust_report_2022-01-12_835.log](https://github.com/milvus-io/milvus/files/7859533/locust_report_2022-01-12_835.log)

client log:
[code]

[2022-01-13 03:13] xige-16 commented on #15184
/unassign

[2022-01-13 03:18] xiaocai2333 commented on #14833
Maybe RootCoord cannot be connected due to network fluctuations.
@wangting0128 , please retest it, if it reproduces, let me know.

[2022-01-13 06:11] zhuwenxing commented on #15152
Verified and passed
After waiting for 120s for data recovery, the search can work and latency becomes normal.

[2022-01-13 06:11] #15152 closed

[2022-01-13 06:28] xige-16 commented on #14077
[search-panic.log](https://github.com/milvus-io/milvus/files/7860435/search-panic.log)
@bigsheeper

[2022-01-13 07:10] wangting0128 opened #15186 "[Bug]: [benchmark][cluster][performance] 50 million data sets create hnsw index, the index creation time does not decrease with the increase of indexnodes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

**50 million data sets create hnsw index, the index creation time does not decrease with the increase of indexnodes**

<img width="1344" alt="截屏2022-01-13 15 09 40" src="https://user-images.githubusercontent.com/26307815/149282464-e4eaac4e-850d-4a9a-9b23-7c8bd54d1778.

[2022-01-13 07:15] wangting0128 opened #15187 "[Bug]: [benchmark][cluster][performance] 50 million data sets, create ivf_flat index, increase the number of indexnodes, the time reduction of index creation does not meet expectations"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

**50 million data sets, create ivf_flat index, increase the number of indexnodes, the time reduction of index creation does not meet expectations**
<img width="1338" alt="截屏2022-01-13 15 14 07" src="https://user-images.githubusercontent.com/26307815/149283036-a6ebc3c9

[2022-01-13 07:45] yanliang567 commented on #15187
time cost of 1node and 2node looks fair, but 4, 6, 8 are not good enough.

[2022-01-13 07:48] yanliang567 commented on #15186
@wangting0128 could you please also attach the index params?

[2022-01-13 08:03] jingkl commented on #15186
1  indexnode
cpu:
<img width="1375" alt="截屏2022-01-13 下午3 48 17" src="https://user-images.githubusercontent.com/34296482/149287776-180747cd-209d-47e7-8906-d2b766010b66.png">
memory:
<img width="1385" alt="截屏2022-01-13 下午3 48 30" src="https://user-images.githubusercontent.com/34296482/149287800-844b1471-8788-4045-b847-fb096d6f6850.png">
2 indexnode
benchmark-tag-fwtl9-1-milvus-indexnode-679599bbcb-

[2022-01-13 08:12] jingkl commented on #15186
6 indexnode
benchmark-tag-vz4ps-1-milvus-indexnode-764d567578-7swsb
cpu:
<img width="1366" alt="截屏2022-01-13 下午4 05 41" src="https://user-images.githubusercontent.com/34296482/149290262-339fb848-51b0-4eb2-84eb-6040429e9250.png">

mem:
<img width="1377" alt="截屏2022-01-13 下午4 05 51" src="https://user-images.githubusercontent.com/34296482/149290282-974c29af-00c8-4806-8931-ce27e8487285.png">

benchmar

[2022-01-13 08:25] jingkl commented on #15186
8 indexnode
benchmark-tag-rk7dg-1-milvus-indexnode-59db785d68-4w4sj
cpu:
<img width="993" alt="截屏2022-01-13 下午4 15 27" src="https://user-images.githubusercontent.com/34296482/149291696-7f244865-5ce5-43c3-9fb2-425dece8985e.png">

mem:
<img width="1063" alt="截屏2022-01-13 下午4 15 41" src="https://user-images.githubusercontent.com/34296482/149291716-4cdd50d5-21dc-4267-a89d-9cbc9970ce8d.png">

benchmark

[2022-01-13 08:34] xige-16 commented on #14077
Search panic, after standalone restart, querycoord cannot obtain recovery information through DataCoord.GetRecoveryInfo when recovering node load, resulting in standalone panic again, but querycoord clears the querynode information that needs to be recovered before panic, which is wrong
[code]

[2022-01-13 08:37] yanliang567 commented on #15045
@rchangj then i'll close it

[2022-01-13 08:37] #15045 closed

[2022-01-13 08:38] jingkl commented on #15187
1 indexnode
benchmark-tag-xpk7g-1-milvus-indexnode-579fb6f66b-sxvps
cpu:
<img width="1359" alt="截屏2022-01-13 下午4 28 15" src="https://user-images.githubusercontent.com/34296482/149293679-70e6dad4-04d8-4756-a9f6-e1f675ac90ee.png">

mem:
<img width="1361" alt="截屏2022-01-13 下午4 28 25" src="https://user-images.githubusercontent.com/34296482/149293713-8cf1231a-57c4-43b8-aff3-7e8b6d16c93c.png">

2  index

[2022-01-13 08:45] jingkl commented on #15187
6 indexnode
benchmark-tag-dn2cl-1-milvus-indexnode-548f44df96-ff666
<img width="1202" alt="截屏2022-01-13 下午4 40 34" src="https://user-images.githubusercontent.com/34296482/149295584-f9760c59-6ad6-4e49-bfa5-542458a25850.png">
<img width="1125" alt="截屏2022-01-13 下午4 40 43" src="https://user-images.githubusercontent.com/34296482/149295606-5b71951b-89ed-4b7d-8049-adb321a7ddd6.png">

benchmark-tag-dn2cl

[2022-01-13 08:55] jingkl commented on #15187
8 indexnode

benchmark-tag-j2m7w-1-milvus-indexnode-5cfcc8656c-dghlf
<img width="1348" alt="截屏2022-01-13 下午4 47 40" src="https://user-images.githubusercontent.com/34296482/149296641-e4b1ccfd-5e90-4785-b7c6-2223a527bcef.png">
<img width="1348" alt="截屏2022-01-13 下午4 47 47" src="https://user-images.githubusercontent.com/34296482/149296707-5b6a94df-2e88-41bf-a44a-1638ef956e0a.png">

benchmark-tag-j2m7

[2022-01-13 09:06] bigsheeper commented on #14077
[code]
Search panic after `SearchOnSealed get index_type done`, PTAL @cydrain

[2022-01-13 09:17] binbinlv opened #15190 "[Bug]: Update pymilvus version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

NA

### Expected Behavior

NA

### Steps To Reproduce

[code]

### Anything else?

NA

[2022-01-13 09:23] jingkl opened #15192 "[Bug]: Insert 10 million data to build index OOM, indexnode memory set to 5G"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server：
<img width="1262" alt="截屏2022-01-13 下午5 15 25" src="https://user-images.githubusercontent.com/34296482/149300962-da6c1f6e-e3e1-4236-ad2a-352e0495c86c.png">
grafana:
<img width="1378" alt="20220113-172026" src="https://user-images.githubusercontent.com/34296482

[2022-01-13 09:24] jingkl commented on #15192
/assign @czs007

[2022-01-13 09:39] xige-16 opened #15193 "[Bug]: After the querynode goes down, the Pulsar backlog keeps growing and the produce fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After the querynode goes down, because the subscribed pulsar topic is not unsubscribed in time, and the subname of each querynode is different, the backlog of this topic continues to increase, and eventually the meesage to the topic cannot be sent.

### Expected Behav

[2022-01-13 09:39] xige-16 commented on #15193
/unassign @yanliang567
/assign

[2022-01-13 09:42] #12368 closed

[2022-01-13 09:42] #11238 closed

[2022-01-13 09:51] yanliang567 commented on #12585
@godchen0212 do you like it be active for tracking?

[2022-01-13 10:49] #15179 closed

[2022-01-13 11:16] ss892714028 opened #15195 "[Bug]: Search hangs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search hangs with autoscalar on

Log from query node shows search succeeded
[code]

Log from proxy shows error

[code]
[code]

### Expected Behavior

Search complete and return result to client

### Steps To Reproduce
[values.yaml.txt](https://github.com/milvus-io/mil

[2022-01-13 11:23] yanliang567 commented on #15195
@binbinlv please help to check this issue.

/assign @binbinlv
/unassign

[2022-01-13 14:28] hadim commented on #4430
Same question here. We are considering switching to milvus, but we need to be able to index our vectors using a string.

[2022-01-13 15:00] liuhaiweicheer opened #15201 "[Bug]: collection.delete can't delete entity"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

con = Collection(name='qa_cp')
expr = "id in [ 430408969516748387, 430408969516748434, 430408969516748379 ]"
res =  con.delete(expr)

(insert count: 0, delete count: 3, upsert count: 0, timestamp: 430458026279829505)
[430408969516748387, 430408969516748434, 4304089695

[2022-01-14 01:51] yanliang567 commented on #12218
verified that memory of query node does keep smooth if load and release in loop for 24+hours

[2022-01-14 01:51] #12218 closed

[2022-01-14 02:12] xiaocai2333 commented on #11074
Can this problem be reproduced? @wangting0128

[2022-01-14 02:26] xige-16 commented on #15193
/assign @bigsheeper

[2022-01-14 02:26] JackLCL opened #15207 "[Bug]: The number of vectors in attu is not right."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After inserting a new batch of vectors into milvus, the number of vectors in attu is not updated. After calling the num_entities interface of pymilvus, the number of vectors in attu is restored to normal.

### Expected Behavior

After inserting a new batch of vectors

[2022-01-14 02:26] #14523 closed

[2022-01-14 02:28] binbinlv commented on #15195
Checking.

[2022-01-14 02:33] #15000 closed

[2022-01-14 02:41] liuhaiweicheer commented on #15201
I  wait for a few seconds before searching  can not search them, But delete the entity before it can be searced again after an hour .

[2022-01-14 02:44] liuhaiweicheer commented on #15201
@yanliang567
 I wait for a few seconds before searching can not search them, But delete the entity before it can be searced again after an hour .

After I manually executed the connection.compact() method, the the delete entity can not search,  Do I not understand why.

[2022-01-14 02:48] wangting0128 commented on #14733
argo task: benchmark-tag-jd2gd

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-single-32c128m

server:
[code]

client pod: benchmark-tag-jd2gd-2832215959

clieng log:
[code]

[2022-01-14 02:51] liuyanfeng1981 commented on #15207
I also encountered this situation

[2022-01-14 02:55] wangting0128 commented on #12725
argo task: benchmark-tag-tcdt7

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-cluster-8c64m-nfs

server:
[code]

client pod: benchmark-tag-tcdt7-3580500726

clieng log:
[code]

[2022-01-14 02:55] wangting0128 commented on #15184
argo task: benchmark-tag-tcdt7

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-cluster-8c64m-nfs

server:
[code]

client pod: benchmark-tag-tcdt7-3580500726

clieng log:
[code]

[2022-01-14 03:04] xiaocai2333 commented on #14733
/assign

[2022-01-14 03:05] xige-16 commented on #15139
The bug should has been fixed.
/unassign
/assign @yanliang567

[2022-01-14 03:26] congqixia commented on #15184
same etcd issue:
[code]

[2022-01-14 03:40] xiaocai2333 commented on #14733
QueryNode offline.
[code]

[2022-01-14 04:49] yanliang567 commented on #15201
@liuhaiweicheer do you mean the deleted entities were able to be searched again after an hour?

[2022-01-14 04:50] yanliang567 commented on #15207
@shanghaikid is this a issue of attu?

/assign @shanghaikid
/unassign

[2022-01-14 05:35] #10527 closed

[2022-01-14 05:35] #12498 closed

[2022-01-14 05:35] #9810 closed

[2022-01-14 05:50] liuhaiweicheer commented on #15201
@yanliang567 yes

[2022-01-14 06:08] zhuwenxing opened #15209 "[Bug]: [chaos][pulsar]Search raise error when running test_e2e.py after pulsar pod recovered from pod kill"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

see https://github.com/milvus-io/milvus/runs/4807704509?check_suite_focus=true
[code]

### Expected Behavior

e2e test passed

### Steps To Reproduce

[code]

### Anything else?

job link： https://github.com/milvus-io/milvus/runs/4807704509?check_suite_focus=true
log:

[2022-01-14 06:14] oneseer opened #15211 "[Bug]: File "/usr/lib/python2.7/dist-packages/requests/_internal_utils.py", line 11, in <module> from .compat import is_py2, builtin_str, str File "/usr/lib/python2.7/dist-packages/requests/compat.py", line 47, in <module> from urllib3.packages.ordered_dict import OrderedDict ImportError: No module named ordered_dict"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

sudo docker-compose p
error

### Expected Behavior

sudo docker-compose p
no error

### Steps To Reproduce

[code]

### Anything else?

no

[2022-01-14 06:16] #15211 closed

[2022-01-14 06:28] yanliang567 commented on #12423
@rchangj I suggest you reinstall a milvus with PreGA, as there are a few fixes for standalone memory, such as #13865, #13878, #13683,etc.

[2022-01-14 06:38] DragonDriver opened #15212 "[Enhancement]: Better to send search/query results by rpc"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Now, Proxy communicates with QueryNodes by message stream. QueryNodes will send search/query results using message stream, and then Proxy will consume these message to construct a final result to return to the client.

However, under this mechanism, there are some problems as

[2022-01-14 06:42] czs007 commented on #15212
type Proxy interface {
    SendSearch(result interface{}) (*commonpb.Status, error)
    SendQuery(result interface{}) (*commonpb.Status, error)
}

better to be renamed as SendSearchResult and SendQueryResult

[2022-01-14 06:45] DragonDriver commented on #15212
/assign @DragonDriver @xiaocai2333

[2022-01-14 06:48] xige-16 commented on #15209
/unassign @yanliang567

[2022-01-14 07:29] liuyanfeng1981 opened #15213 "[Bug]: When inserting vectors, load them into memory. After multiple inserts, the memory occupation is too high"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

从kafka接收数据，每分钟写入向量库一次，每次大概100条512维的float32向量：
插入10000条向量，就要占用1G多的内存。

### Expected Behavior

1条512维向量占用大概2K内存，10000条大概才20M，实际上占用了1G多的内存。

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-01-14 07:37] XuanYang-cn commented on #14604
Fixed

[2022-01-14 07:37] #14604 closed

[2022-01-14 08:48] cydrain commented on #14077
Have checked all code diff under directory "internal/core" between rc8 and latest, no finding.
Since this issue is introduced after rc8, I build a debug image with latest Milvus code + core of rc8.
This can tell whether this issue is caused by code change in core.
  harbor.zilliz.cc/milvus-dev/milvus:cydrain-caiyd_use_core_rc8-20220114

[2022-01-14 09:07] xiaocai2333 commented on #15187
It's normal.
When IndexCoord receives the index building task, it will immediately(3s) send it to the IndexNode with the lowest load.
For the case of 4 indexNodes, each IndexNode is responsible for 16 index building tasks, but the speed of this pod `benchmark-tag-4j2wc-1-milvus-indexnode-5d448bfd69-ksmdl` executing tasks is relatively slow, causing other indexNodes to have completed all tasks, and

[2022-01-14 09:12] ThreadDao opened #15217 "[Enhancement]: Update collection consistency level to strong in test case"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Update collection default consistency level to strong in test case rather than sleep 5 seconds

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-01-14 09:17] xiaocai2333 commented on #15187
For the case of 4 indexNodes, the pod `benchmark-tag-4j2wc-1-milvus-indexnode-5d448bfd69-ksmdl` , the time of building the index of a segment:
[code]

but another pod `benchmark-tag-4j2wc-1-milvus-indexnode-5d448bfd69-xhf95`, the time of building the index of a segment:
[code]

[2022-01-14 09:21] yanliang567 commented on #15213
/assign @xiaofan-luan

[2022-01-14 12:03] xiaofan-luan commented on #7703
We will keep it and see if anyone interested~

[2022-01-14 12:06] xiaofan-luan commented on #15213
Hi @liuyanfeng1981 ~
Insert vectors to cause memory increase becasue all data are located in memory, did you have any estimation about how many memory you have and how many vectors you have? We can try to reproduce and see if it is reasonbale

[2022-01-14 15:49] xiaofan-luan commented on #11023
That's a good topic~ anyone want to take it?
It is really helpful for users.

[2022-01-14 15:53] xiaofan-luan commented on #15212
Agree, it should also improve the performance once we send it by rpc~

[2022-01-14 16:35] xiaofan-luan commented on #12423
Cool, that is probably because we are still writing timetick into the system and rocksdb need more memory for index and bloomfilter.

Once we reach 7 days and we begin to purge data in rocksmq then data will not keep increasing~~

[2022-01-14 18:34] yah01 opened #15228 "[Enhancement]: Remove unused codes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

It seems that fieldIDs and fieldTypes are not used in internal/datanode/flow_graph_insert_buffer_node.go:461
[code]
It may be legacy codes? I'm willing to create a PR to remove them, as my first contribution to milvus.

### Why is this needed?

_No response_

### Anything else

[2022-01-15 07:44] cydrain commented on #14077
#run1
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/build-dev-image/detail/build-dev-image/18/pipeline
harbor.zilliz.cc/milvus-dev/milvus:cydrain-caiyd_use_core_rc8-20220114
argo-test.milvus.io/workflows/qa/benchmark-59tqm?tab=workflow

#run2
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/build-dev-image/detail/build-dev-image/20
harbor.zilliz.cc/milvus-dev/milvus:cy

[2022-01-15 08:08] #12270 closed

[2022-01-15 10:34] xiaofan-luan commented on #13516
leave it since people may need it, mark it as good first issue

[2022-01-15 11:07] xiaofan-luan commented on #14077
any progress?

[2022-01-15 11:50] cydrain commented on #14077
still running

[2022-01-15 14:21] cydrain opened #15231 "[Enhancement]: Some suggestions for Milvus doc"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

1. README.md
for requirement, "go: 1.15" should be changed to "go: >=1.15"
2. milvus20vs1x.md
Data types supported:
	Vector (float vector / binary vector)
    Fixed-length scalars (int8/int16/int32/int64/float/double)
Index types and libraries:
    Hnswlib => HNSW
    RNSG =>

[2022-01-16 09:39] xiaofan-luan commented on #15201
Need to investigate on that, do we have any test cases to reproduce the issue?

[2022-01-16 09:40] xiaofan-luan commented on #15187
/assign @jingkl

[2022-01-16 09:41] xiaofan-luan commented on #15187
do we have more discussion on this issue? @wangting0128 @jingkl

[2022-01-16 09:44] xiaofan-luan commented on #13505
close this issue, we should rely on random for channel name creation

[2022-01-16 09:44] #13505 closed

[2022-01-16 09:45] xiaofan-luan commented on #13124
@rleungx hi rleungx, are we still work on this issue?

[2022-01-16 09:46] xiaofan-luan commented on #12781
are we still working on this issue? @jaime0815 @soothing-rain

[2022-01-16 09:46] xiaofan-luan commented on #12662
@xige-16 can we close this issue?

[2022-01-16 09:47] xiaofan-luan commented on #12001
any more discussion here? @yanliang567 @congqixia

[2022-01-16 09:48] xiaofan-luan commented on #15195
any progress?

[2022-01-16 09:50] #15228 closed

[2022-01-16 09:50] xiaofan-luan commented on #15184
@congqixia once the etcd recovers, can milvus still response or it hangs?

[2022-01-16 09:53] xiaofan-luan commented on #14775
backlog issue is fixing on:
#15230, #15221

[2022-01-16 09:54] xiaofan-luan commented on #14733
@xiaocai2333 why is querynode offline affect getIndexState?

[2022-01-16 09:56] xiaofan-luan commented on #14658
duplicate with #15193 close for now

[2022-01-16 09:56] #14658 closed

[2022-01-16 09:57] xiaofan-luan commented on #13935
@congqixia any progress on this one?

[2022-01-16 09:58] #12423 closed

[2022-01-16 09:59] xiaofan-luan commented on #12465
@sunby is this a duplicated issue due to garbage collection~

[2022-01-16 14:03] #13162 closed

[2022-01-16 14:10] cydrain commented on #14077
#run5
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/build-dev-image/detail/build-dev-image/22
harbor.zilliz.cc/milvus-dev/milvus:cydrain-caiyd_use_core_20211130-20220116
https://argo-test.milvus.io/workflows/qa/benchmark-s75kb?tab=workflow
[code]

[2022-01-17 00:57] yanliang567 commented on #7690
keep it for tracking

[2022-01-17 01:04] yanliang567 commented on #15139
@xxcheng0708 could you please retry with latest master build? Also I believe you should first update the helm repo
/assign @xxcheng0708

[2022-01-17 01:46] JackLCL opened #15232 "[Bug]: When Sizing tool calculates a vector, the result is not correct."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/53512883/149688339-8026ee45-1d65-4544-9785-cb33b7de79d8.png)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-01-17 02:00] sunby commented on #15184
Milvus works normally after etcd recovers.

[2022-01-17 02:03] sunby commented on #14747
Does it work after we change the `missingTolerance`? @wangting0128

[2022-01-17 02:06] sunby commented on #12465
@xiaofan-luan  Yes, it's duplicated with #14747

[2022-01-17 02:08] sunby commented on #14707
@yanliang567 This issue is duplicaged with #14747

[2022-01-17 02:08] sunby commented on #14707
/assign @wangting0128
Please verify it.

[2022-01-17 02:08] sunby commented on #12465
@wangting0128 Please verify it.

[2022-01-17 02:09] sunby commented on #14747
/assign @wangting0128

[2022-01-17 02:13] zhuwenxing commented on #14300
The last three pod kill chaos tests have all passed, so remove the critical label.

[2022-01-17 02:13] xiaocai2333 commented on #15186
Same as #15187 .

[2022-01-17 02:18] congqixia commented on #13935
@xiaofan-luan as far as I know after setting the miss tolerance to 3600, flush hang does not reproduce.
/unassign
/assign @wangting0128

[2022-01-17 02:20] JamCrash opened #15233 "[Bug]: The segments distributed to querynode are inbalance and the memory release insufficient"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior
do the insert/build index/load operations in concurrency, and the segments distributed to querynode are inbalance, the majority of the querynodes got 6GB segments while some got more than 30GB; search fine; after release, the memory does not release suficient:
(the clu