[2022-05-09 02:37] xiaofan-luan commented on #16806
/assign @yanliang567

[2022-05-09 02:39] xiaofan-luan commented on #16841
how do we define slow?
Do we have any metrics on it, what is the machine size, vector size and response time?

[2022-05-09 02:42] xiaofan-luan commented on #16711
duplicate with #16802

[2022-05-09 02:42] #16711 closed

[2022-05-09 02:43] xiaofan-luan commented on #16811
/assign @binbinlv

[2022-05-09 02:44] #16772 closed

[2022-05-09 02:44] xiaofan-luan commented on #16772
fix by #16783

[2022-05-09 02:46] xige-16 commented on #16642
Sorry for the late reply, I'm looking into this question, I'll get back to you as soon as possible. @fulelan

[2022-05-09 02:46] Juntaran opened #16844 "[Bug]: 2.0.2 rootcoord continue connect pulsar"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

I use milvus 2.0.2 with cluster mode, and set kafka

[code]

but rootcoord continue try to connect pulsar

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

[code]
[code]

[2022-05-09 02:56] wayblink commented on #16573
I ’ll look into it

[2022-05-09 02:57] xiaofan-luan commented on #16573
/assign @wayblink

[2022-05-09 02:58] xiaofan-luan commented on #16844
/assign @xige-16 please help on it~

[2022-05-09 03:05] zhentaoCoding commented on #16841
CPU/Memory: 32g
num_entities:47990
sear params:{"metric_type": "IP", "params": {"nprobe": 16}},
index params:{"index_type": "IVF_SQ8", "metric_type": "IP", "params": {"nlist": 16384}}
search response about 50s, correct reponse must <1s

[2022-05-09 03:09] yanliang567 commented on #16806
@binbinlv could you please help to verify the fix?
/assign @binbinlv
/unassign

[2022-05-09 03:23] jingkl commented on #16701
Verify that there are no errors

[2022-05-09 03:23] #16701 closed

[2022-05-09 03:25] xige-16 commented on #16808
/unassign
/assign @jingkl

[2022-05-09 03:36] xige-16 commented on #16832
The bug should has been fixed , please check it. @ThreadDao

[2022-05-09 03:36] xige-16 commented on #16832
/unassign
/assign @ThreadDao

[2022-05-09 03:37] xige-16 commented on #16699
The bug should has been fixed , please check it. @jingkl

[2022-05-09 03:37] xige-16 commented on #16699
/unassign
/assign @jingkl

[2022-05-09 03:43] xiaocai2333 commented on #16623
#16412 #16145

[2022-05-09 04:01] sunby commented on #16638
@RateSpirit Hi, would you please provide the log file where the first crash occured? And which log level did you enable? It will be very helpful if you can upload the whole log file before the first crash.

[2022-05-09 04:07] #16320 closed

[2022-05-09 06:35] hiwwx commented on #16493
Since that is so, let's go back to check why the search request hangs on?

[2022-05-09 06:35] jiaoew1991 commented on #16733
I will try this one

[2022-05-09 06:41] jingkl opened #16850 "[Bug]: Delete all duplicate data based on primary key"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Delete all duplicate data based on primary key

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-05-09 06:43] jingkl commented on #16699
pymilvus：2.1.0.dev51
milvus：
master-20220507-c7935d1a
It has been verified that no errors are reported

[2022-05-09 06:43] #16699 closed

[2022-05-09 06:50] jingkl commented on #16808
pymilvus：2.1.0.dev51
milvus ：master-20220507-c7935d1a
It has been verified that no errors are reported

[2022-05-09 06:50] #16808 closed

[2022-05-09 06:59] xige-16 commented on #16642
This is not an error message. This log is at the debug level. The reason for this log is that after a new partition is created, the local assigner cache does not hit the partition when the proxy assigns the segment id to the insert data, but it does not affect the normal insertion of data. , as can be seen from the below, the insertion of data is successful.
[code]

[2022-05-09 06:59] xige-16 commented on #16642
@fulelan @JackLCL

[2022-05-09 07:03] xige-16 commented on #16844
Okey, i'm looking into this issue.

[2022-05-09 07:20] zhuwenxing opened #16851 "[Bug]: Load collection will fail with rpc timeout after running the multi replicas chaos test multiple times"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-05-09 07:28] #16298 closed

[2022-05-09 07:42] zhuwenxing commented on #16851
maybe the file is too big, it can not upload to github.
you can get it by the google driver link https://drive.google.com/file/d/14cjbhrLfyxphR9GkjN1dULO0pSzAzMAj/view?usp=sharing

[2022-05-09 07:42] xige-16 commented on #16844
Version 2.0.2 does not support linking kafka when helm starts, you can use the latest image in milivsdb/milvus-dev for testing. @Juntaran

[2022-05-09 07:53] congqixia commented on #16838
From the log, the proxy was trying to verify the collection information with `RootCoord`. Looking into it.

[2022-05-09 07:55] jingkl opened #16853 "[Enhancement]: The form of error reporting needs to be improved"Data type is not support""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

The form of error reporting should be more explicit
Invalid field name, dtype, more than string field The error is exactly the same
pr：https://github.com/milvus-io/milvus/pull/16847/files

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-05-09 08:13] Juntaran commented on #16844
Thanks，does 2.0.3 will support kafka?  And when will 2.0.3 release?

[2022-05-09 08:25] zhuwenxing commented on #16715
I have tried the latest version `master-20220509-62658dcd`.
It has the same issue, after Kafka pod kill, running test_e2e.py will hang, though all pods are in running status.

[artifacts-kafka-pod-kill-15-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8649916/artifacts-kafka-pod-kill-15-server-logs.tar.gz)

[2022-05-09 08:55] kingmbc commented on #9689
Hi, all. I had a similar problem where the search is hanging.
And as some people mentioned, I could reproduce this when I stop the docker by using `docker-compose down`.
If there is some broken in the meantime, the search is hanging although I restarted the containers well.

So I tried to release the index and load it again. Then the search worked well.
I don't know why it happens, but this is my

[2022-05-09 09:09] ThreadDao commented on #16832
Fixed `master-20220509-76bfd419`

[2022-05-09 09:09] #16832 closed

[2022-05-09 09:09] congqixia opened #16855 "[Enhancement]: Remove QueryChannel after search/query using grpc"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Remove not used `QueryChannel` related logic since search/query request are delivered via Grpc now.

### Why is this needed?

Since query channel are fully replaced by Grpc and segments online/offline control mechanism, removing the querychannel can reduce the topics in mq and

[2022-05-09 09:30] XuanYang-cn commented on #16288
![IMG_5848](https://user-images.githubusercontent.com/51370125/167381991-98c70330-1312-477a-a5f3-f83626c0c5e5.jpg)

[2022-05-09 09:36] aakejiang opened #16857 "[Bug]: DD operations override each other on Etcd"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

For each DD operation, two main processes will be executed, one is sending message to MQ, and the other is saving both DD operation and flag indicating whether msg is sent to MQ.

The keys on Etcd for DD msg is below:

[code]

Since there are no task scheduler in Root

[2022-05-09 09:39] yanliang567 opened #16858 "[Bug]: [Bulk load] Milvus crashes when importing string primary key data files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus crashes when importing row based data file with string as primary key
[bulkload.strpk.crash.2.log](https://github.com/milvus-io/milvus/files/8650509/bulkload.strpk.crash.2.log)

### Expected Behavior

import data successfully

### Steps To Reproduce

[code]

##

[2022-05-09 09:40] yanliang567 commented on #16858
/assign @soothing-rain
/unassign

[2022-05-09 09:50] bigsheeper opened #16859 "[Enhancement]: Proxy need a cache for checking collection load state"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Currently Proxy sends a `ShowCollections` rpc request to QueryCoord before each search, so we need a cache for checking collection load state in Proxy, to prevent this `ShowCollections` rpc cost.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-05-09 09:59] bestRiven opened #16860 "[Bug]: Milvus v2.0.2 Cluster version Do not delete obsolete nodes after restart"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/7332958/167386713-b816b15d-54cf-4474-8f7b-7ad074f7a69c.png)
![image](https://user-images.githubusercontent.com/7332958/167386748-a49e11df-79a8-4882-8cf5-2172e356626c.png)

After restart, the old node is not deleted, t

[2022-05-09 10:01] jaime0815 commented on #16715
Milvus connect to Kafka by a headless service,  due to the client still trying to use the old pod IP when some Kafka pods are killed, finally leading Milvus to connect to Kafka failed.

[2022-05-09 10:39] xiaofan-luan commented on #16860
mig h

[2022-05-09 10:40] xiaofan-luan commented on #16860
/assign @soothing-rain please take care of it , thanks~

[2022-05-09 10:41] xiaofan-luan commented on #16859
when did the cache evict?

[2022-05-09 10:44] xiaofan-luan commented on #16857
/assign @aakejiang

[2022-05-09 10:46] xiaofan-luan commented on #16841
that is weird,  num_entities might be too small for index building, but still weird.
/assign @xiaocai2333 please help investigate

[2022-05-09 10:49] xiaofan-luan commented on #16715
Emm， can it recover automatically or we need to reset the connection?

[2022-05-09 10:57] yearlz opened #16862 "[Bug]: milvus deploy problem with k8s"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

use different namespace to deploymet milvus ，the new config files influences the old one

the older one use the scripts in [https://milvus.io/cn/docs/v2.0.x/install_offline-helm.md](url) “milvus_manifest.yaml” and deployed in "default" namespace
![image](https://user-

[2022-05-09 11:04] #16361 closed

[2022-05-09 11:04] xiaocai2333 commented on #16841
@zhentaoCoding thanks for using milvus and issue. What's your segment size (default is 512M)?

[2022-05-09 11:09] yanliang567 commented on #16862
@LoveEachDay  could you please help to take a look at this issue?
/assign @LoveEachDay
/unassign

[2022-05-09 11:12] yanliang567 commented on #16851
/assign @sunby
/unassign

[2022-05-09 11:14] yanliang567 commented on #16843
@axzs7777 is this the first time of deploying milvus? I mean did you remove the volumes before reinstall milvus?

[2022-05-09 11:17] axzs7777 commented on #16843
yes, is first time of deploying milvus。

uvicorn==0.13.4
urllib3==1.26.9
fastapi==0.75.2
python-multipart==0.0.5
starlette==0.17.1
numpy==1.21.6
towhee==0.6.0
Pillow==9.1.0
pydantic==1.9.0
pymilvus==2.0.2

[2022-05-09 11:23] xiaocai2333 commented on #16841
1. 50000 vectors are about 150M, and it stands to reason that only one segment is required. But from log, there is 10 segments.
2. There are about 5000 vectors in each segment, but the index is built with nilist = 16384.

[2022-05-09 11:26] LoveEachDay commented on #16862
You should use `helm template <release-name> -n <namespace> milvus/milvus > new-release.yaml` to generate a new manifest other than manually edit the old manifests because some resource may does not have the `namespace` metadata.

Then apply the manifests with `helm apply -f new-release.yaml`,

[2022-05-09 11:36] yearlz commented on #16862
in fact , to deploy milvus offline, i edit the mainfests in this way to get the new manifests.yaml
![image](https://user-images.githubusercontent.com/32187348/167401943-2bc4f168-1eae-4fcd-a8ae-db3975dd6799.png)

[2022-05-09 11:38] xiaocai2333 commented on #16841
[code]

It seems that the time cost by search is about 13ms.
Can you tell your detailed operations? @zhentaoCoding

[2022-05-09 12:27] LoveEachDay commented on #16862
When running `helm template`, you'd better specify a `namespace` .

[2022-05-09 12:28] aakejiang commented on #16857
Besides, DD operations need strictly execution order. We need having a mechanism to ensure the execution order.

[2022-05-09 12:42] wangting0128 commented on #16781
argo task: benchmark-backup-z7b47

test yaml:
client-configmap:client-random-locust-search-filter-100m-ddl-r8-w2-replica2
server-configmap:server-cluster-8c64m-querynode2

server:
[code]

client pod: benchmark-backup-z7b47-3506130790

client logs:
[code]

[2022-05-09 12:51] LoveEachDay commented on #16843
@axzs7777 Could you also check the `milvus` subdirectory size under the `volumes` directory?

[2022-05-09 12:55] yearlz commented on #16862
i will try that one,and
![image](https://user-images.githubusercontent.com/32187348/167413681-3e54ff40-b90e-4f82-85ab-4b86d851e4a1.png)
the <release name> of two scripts  is "my-release" ,  this may cause the problem?

[2022-05-09 13:05] axzs7777 commented on #16843
Because I inserted more than 14000 pictures and occupied my disk, the virtual machine crashed, but I can re solve this problem。
Do you need to upload modified img_search_server  to you！

[2022-05-09 13:52] #16638 closed

[2022-05-09 14:21] Juntaran opened #16865 "[Bug]: Datacoord start fail"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I change to external S3, it seems like https://github.com/milvus-io/milvus/issues/16191
but I try to solve like that issue failed.

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

[code]
[code]

[2022-05-09 14:33] jingkl opened #16866 "[Bug]: [nightly]Multiple indexes can be created for a field without error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

testcase ：
A field can only have one index, but a testcase can have multiple indexes on the same field.
[code]

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-05-10 00:31] zhentaoCoding commented on #16841
segment size set 1024

[2022-05-10 00:33] zhentaoCoding commented on #16841
`def search_in_milvus(query_sentence, idx, table_name, model, milvus_cli, pgsql_cli):
    if not table_name:
        table_name = DEFAULT_TABLE

      vectors = model.sentence_encode([query_sentence])
      LOGGER.info("Successfully insert query list")
      results = milvus_cli.search_vectors(table_name, vectors, TOP_K)
      vids = [str(x.id) for x in results[0] if 0.8 < x.distance < 1.0]`

`

[2022-05-10 00:35] zhentaoCoding commented on #16841
![image](https://user-images.githubusercontent.com/5669444/167519948-186fbc90-0788-40c2-9fd9-48368abdc43c.png)

![image](https://user-images.githubusercontent.com/5669444/167519929-79e4a6e9-86d0-4d33-8d78-f14c890b4c62.png)

[2022-05-10 00:40] zhentaoCoding commented on #16841
index set incorrect? and how to set correct index ?

[2022-05-10 01:56] DragonDriver commented on #16866
/assign
I'll fix this soon. thx for pointing out this. @jingkl

[2022-05-10 02:03] bigsheeper commented on #16859
When `ReleaseCollection` or `DropCollection`.  pr #16577 use the `ReleaseDQLMessageStream` interface to evict cache, but there would be no DQLMessageStream in the master branch, so I would wrap a new api to evict cache.

[2022-05-10 02:14] xiaocai2333 commented on #16841
Can you post all the logs as files? @zhentaoCoding

[2022-05-10 02:39] binbinlv commented on #16816
Has not been reproduced for several day, it may be fixed by one pr merged, and close if first, will reopen it if it appears again in the future.

[2022-05-10 02:39] #16816 closed

[2022-05-10 02:56] binbinlv commented on #16499
@jaime0815
Similar phenomenon in the latest nightly, could you please have a check?

1. logs:
[artifacts-milvus-distributed-kafka-master-520-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/520/artifact/artifacts-milvus-distributed-kafka-master-520-pymilvus-e2e-logs.tar.gz)

2. test pipeline logs:
https://ci.milvus.io:18080/jenkins/blue/organizations/je

[2022-05-10 03:07] Jfxhuangdao opened #16871 "[Bug]: Test cases failed for query dumping. consumeToTtMsg(0xc03d97ea20, 0x366d078, 0xc0539eb0c0)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[2022/05/10 09:49:13.493 +08:00] [INFO] [grpclog.go:37] ["[core]parsed scheme: \"\""]
[2022/05/10 09:49:13.493 +08:00] [INFO] [grpclog.go:37] ["[core]scheme \"\" not registered, fallback to default scheme"]
[2022/05/10 09:49:13.493 +08:00] [INFO] [grpclog.go:37] ["[co

[2022-05-10 03:18] binbinlv commented on #16809
Still exists in the latest nightly:
1. logs:
[artifacts-milvus-distributed-pulsar-master-520-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/520/artifact/artifacts-milvus-distributed-pulsar-master-520-pymilvus-e2e-logs.tar.gz)

2. test logs: (cluster pulsar)
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/5

[2022-05-10 03:18] binbinlv commented on #16809
@congqixia
could you help to have a check?

[2022-05-10 03:19] binbinlv commented on #16811
Has not been reproduced for several days, fixed and closed.

[2022-05-10 03:19] #16811 closed

[2022-05-10 03:20] binbinlv commented on #16806
Has not been reproduced for several days, fixed and closed.

[2022-05-10 03:20] #16806 closed

[2022-05-10 03:23] binbinlv commented on #16568
Has not been reproduced for several days, fixed and close it.

[2022-05-10 03:23] #16568 closed

[2022-05-10 03:25] binbinlv commented on #16588
Has not been reproduced for several days, it maybe fixed by lot of pr merged these days, so close it first, and will reopen if it occurs again in the future.

[2022-05-10 03:25] #16588 closed

[2022-05-10 03:27] binbinlv commented on #16489
Has not been reproduced for several days, it maybe fixed by lot of pr merged these days, so close it first, and will reopen if it occurs again in the future.

[2022-05-10 03:27] #16489 closed

[2022-05-10 03:36] Jfxhuangdao commented on #16871
补充：
6300万数据，向量维度512，查询正常。1024维，查询异常，docker整体退出。
和16805问题号操作相同。异常不同。

[2022-05-10 03:38] #16805 closed

[2022-05-10 03:40] congqixia opened #16873 "[Enhancement]: Make Search Param check failure reason availabe for user"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Currently search parameters check happens in `segcore` part and the failure message is vague about why this check failed.

### Why is this needed?

User shall be able to know why provided search request fails considering different index type may have different search parameter

[2022-05-10 03:51] LoveEachDay commented on #16843
You can try to reproduce this problem, and record the disk usage for minio and milvus.

[2022-05-10 03:54] jaime0815 commented on #16499
release collection hang

[2022-05-10 03:54] LoveEachDay commented on #16862
If you apply the manifests into the same namespace, it will update the old release.

If you apply the manifest into different  namespaces, the two same release does not interfere each other.

[2022-05-10 03:55] axzs7777 commented on #16843
OK, I'll test it later and send it to you

[2022-05-10 04:49] zhuwenxing opened #16874 "[Bug]: Search requests still succeed when all querynodes are unavailable, but the results are empty"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

before chaos, the query result is
[code]

during  chaos, the query result is empty
[code]
[code]

### Expected Behavior

2nd assert  should fail

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

client log:
[2022-05-10-

[2022-05-10 04:51] yanliang567 commented on #16865
@LoveEachDay could you please help on this issue?

/assign @LoveEachDay
/unassign

[2022-05-10 04:57] zhuwenxing commented on #16715
@jaime0815
with the config below, I tried a new test, but the result is same as old, running test_e2e.py hangs.
[code]
[artifacts-kafka-pod-kill-16-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/8657524/artifacts-kafka-pod-kill-16-pytest-logs.tar.gz)

[artifacts-kafka-pod-kill-16-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8657523/artifacts-kafka-pod-kill-16-server

[2022-05-10 05:22] zhentaoCoding commented on #16841
[logs.log](https://github.com/milvus-io/milvus/files/8657618/logs.log)

[2022-05-10 05:58] yanliang567 commented on #16874
/assign @congqixia
/unassign

[2022-05-10 06:00] yanliang567 commented on #16871
@Jfxhuangdao could you please upload the completed milvus log for investigation? Also if would be helpful if there are some simple reproduce steps.

/assign @Jfxhuangdao
/unassign

[2022-05-10 06:08] xige-16 commented on #16853
/unassugn
/assign @DragonDriver

[2022-05-10 06:08] xige-16 commented on #16853
/unassign

[2022-05-10 06:14] yearlz commented on #16862
it is weird that when the newer one deployment in a different namespace ,  the new service in the new namespace is created, at the same time , the older is updated too, really strange.

[2022-05-10 06:14] yanliang567 commented on #16150
@congqixia the original vectors of 50m-512d shall be around 100GB, while the usedMemAfterLoad = 120764.39 MB, is this expected?

[2022-05-10 06:14] #15888 closed

[2022-05-10 06:18] yanliang567 commented on #16722
verified report the field name instead of id, which makes more sense.

[2022-05-10 06:18] #16722 closed

[2022-05-10 06:26] yanliang567 commented on #16656
verified fix on master-20220507-c7935d1a

[2022-05-10 06:26] #16656 closed

[2022-05-10 06:42] binbinlv commented on #16567
It did not occurs in the last nightly tests, fixed and close it.

[2022-05-10 06:42] #16567 closed

[2022-05-10 06:56] binbinlv commented on #15627
It has not been reproduced for a period of time, so close it and will reopen it if it occurs again in the future.

[2022-05-10 06:56] #15627 closed

[2022-05-10 07:18] zhuwenxing commented on #16644
Hi, @yah01
I decide to close this issue and open a new issue to trace the problem about the offline node id in the group nodes

[2022-05-10 07:18] #16644 closed

[2022-05-10 07:26] congqixia opened #16879 "[Bug]: QueryNode release collection does not block search/query operation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When Querynode releases collection from replica, there is no control of on-going query/search operations.

### Expected Behavior

Release operation shall block new search/query operations and wait for on-going operation done.

### Steps To Reproduce

_No response_

##

[2022-05-10 07:35] yhmo commented on #16707
I think this is "as designed"

[2022-05-10 07:38] yhmo commented on #16674
256MB is too small, the data is split into multiple segments according to shard number. Default shard number is 2, then each segment size is only 128MB.

[2022-05-10 07:38] jaime0815 commented on #16499
fixed  on #16879

[2022-05-10 07:39] xiaocai2333 commented on #16841
Hi zhentao @zhentaoCoding , from log I found:
[code]

What's your consistency level? (Defaule is Bounded)
For the Bounded consistency level, sdk will tags the GuaranteeTimeStamp, so this will happen if your system time deviates the time in your docker. Please check it.

And recommend the `Strong` or `Eventually` consistency level.

[2022-05-10 07:52] yah01 commented on #16644
@zhuwenxing
This should be the same as #16705, and the PR #16854 has just been merged.

[2022-05-10 07:56] zhuwenxing opened #16881 "[Bug]: The id of offline querynode which has been offline for 180s is still in the group nodes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]
as you can see, in `15:23:19` the log info is all pods are ready, which means there is no offline node anymore.
but in `15:26:29`  the log for replicas_info shows that the groups are (14, 5, 1) and (4, 9, 15).
The actual nodes info is
[code]

### Expected Behav

[2022-05-10 07:58] yah01 commented on #16705
Hi @ThreadDao,
This should be fixed by #16854

[2022-05-10 08:09] zhentaoCoding commented on #16841
how to set consistency level?

[2022-05-10 08:14] zhuwenxing commented on #16881
/assign @yah01
Please help to take a look or link the related PR to this issue, thx!

[2022-05-10 08:15] xiaocai2333 commented on #16841
The consistency level is given as a parameter for search, you can do this:
[code]

[2022-05-10 08:15] yah01 commented on #16881
@zhuwenxing
linked, and the PR has been merged

[2022-05-10 08:18] congqixia commented on #16150
Was 100GB  the original data size? Is there any index involved here.

[2022-05-10 08:20] kingmbc commented on #16841
Hi. I also met this issue, and finally found the consistency level is important in search function.
- https://milvus.io/blog/2022-1-27-milvus-2-0-a-glimpse-at-new-features.md
- https://milvus.io/docs/v2.0.x/release_notes.md#v2.0.0

But, I just have a question. So, is 'Bounded' always faster than 'Strong' in terms of search and query?

[2022-05-10 08:23] zhentaoCoding commented on #16841
search successfully! thanks!

[2022-05-10 08:27] sunby commented on #15658
the memory will be released after gc.

[2022-05-10 08:28] axzs7777 commented on #16843
Now more than 3000 pictures have been uploaded.
![image](https://user-images.githubusercontent.com/18043668/167581632-7b092ad2-9694-4c55-9143-363c4f9028f6.png)

but disk usage for minio so much

[2022-05-10 08:33] xiaocai2333 commented on #16841
Usually yes, but in this issue it's clear that `Bounded` is slower. Because the system time of sdk is inconsistent with the system time of milvus.
Consistency level does not affect search performance, it only affects that total amount of data queried. If you query while inserting, `Bounded` will query less data than `Strong`.

[2022-05-10 08:39] xiaocai2333 commented on #15849
keep it open

[2022-05-10 08:40] xiaofan-luan commented on #16429
find thi issue in pulsar environment

[2022-05-10 08:40] xiaocai2333 commented on #16771
/assign @JackLCL
/unassign

[2022-05-10 08:45] kingmbc commented on #16841
Thanks. I understood the point.
Then, I want to resolve the system time issue as you mentioned.
So I applied https://stackoverflow.com/a/44440563 to sync the time between my host and milvus docker containers.
And then I changed the consistency level to 'Bounded' as default, but again it hangs.

Could you tell me more about how to make consistent the system time of sdk and milvus system time?

[2022-05-10 08:45] LoveEachDay commented on #16865
Could you manually verify the the authentication use `mc` command? Following instructions from [here](https://docs.min.io/docs/minio-client-complete-guide.html).

[2022-05-10 08:48] xiaofan-luan commented on #16860
This is due to failed to load growing segment with delta log, @soothing-rain is fixing the issue.

[2022-05-10 09:09] LoveEachDay commented on #16862
Because when run `helm template my-release milvus/milvus > milvus.yaml`, some resource generated above does not have the `namespace` field under the `metadata` section. You need to both pass the namespace when you generate and apply the manifests.

If you want to install a milvus cluster with name `my-release` into `ns1` namespace:
1.  `helm template my-release -n ns1 milvus/milvus > ns1-milvus.ya

[2022-05-10 09:10] zhuwenxing commented on #16881
Verified in version `master-20220510-2d0f908d` and passed

[2022-05-10 09:10] #16881 closed

[2022-05-10 09:23] Juntaran commented on #16865
I have try with mc tool, it works

![image](https://user-images.githubusercontent.com/13732099/167595835-fb8adcb4-47be-4f99-b232-856b4b7e4cc2.png)

how can i update my config

[2022-05-10 09:28] XuanYang-cn commented on #16835
I've test it on `pymilvus2.0.2` and `pymilvus-master-latest`.

In `pymilvus2.0.2`, search stuck, but in `pymilvus-master-latest`, search response with `MilvusException` after 10 retries failed. However, the retry is controlled by number of retries not timeout time when accounting `grpc.RpcError`.

So `pymilvus-latest` works normal and It's a bug in `pymilvus2.0.2`, it's not supposed to stuck, PyMi

[2022-05-10 09:30] Juntaran commented on #16865
I have try with mc tool, it works  @LoveEachDay

![image](https://user-images.githubusercontent.com/13732099/167596261-e8975bba-29e6-400b-a0e4-0f584c1f504b.png)

how can i update my config

[code]

[2022-05-10 09:36] LoveEachDay commented on #16865
Could you verify the configmap for milvus? You can fetch name when you describe the milvus pod.

[2022-05-10 09:36] soothing-rain opened #16885 "[Bug]: Growing segments should be able to load delta logs."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Growing segment with valid checkpoints could have delta logs.

When growing segment is being loaded, query node will try to load delta logs for growing segment.

If there's no delta log for the growing segment, we are good. Otherwise, an error will occur and cause the

[2022-05-10 09:37] LoveEachDay commented on #16865
From the log output above:
[code]
This tells us that the datacoord failed to connect to s3 because of authentication failed.

[2022-05-10 09:38] xiaofan-luan commented on #16781
/assign @aakejiang

[2022-05-10 09:39] xiaofan-luan commented on #16781
@aakejiang please help on it~

[2022-05-10 09:43] XuanYang-cn commented on #16835
milvus-io/pymilvus#992 is the test case I use

[2022-05-10 09:48] Juntaran commented on #16865
[code]

[2022-05-10 09:55] kingmbc commented on #16841
Oh. I found and resolved my local time difference issue.
(As you said, there was the system time difference between my local and milvus docker container)

And I tried it with 'Bounded' setting and it worked well as expected!

Thank you!

[2022-05-10 09:57] xiaocai2333 commented on #16841
@zhentaoCoding If your problem is solved, you can close this issue.

[2022-05-10 09:58] xiaofan-luan commented on #16885
/assign @soothing-rain

[2022-05-10 09:58] xiaofan-luan commented on #16885
please help on investigating it

[2022-05-10 10:05] ThreadDao opened #16887 "[Bug]: [memory] The querynode OOMKilled while loading collection with insufficient memory"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Deploy milvus cluster with 2 querynodes, and limit memory 2Gi
2. Create a collection and insert 250,000 entities and dim 512 (about 250MB size)
3.  Load the collection with 2 replica numbers and one of the querynode OOMKilled and CrashLoopBackOff
 `load` does not t

[2022-05-10 10:09] #16879 closed

[2022-05-10 10:36] jingkl opened #16888 "[Bug]: Error in creating index, "describe_index() got multiple values for argument 'index_name'""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

testcase：
[code]
error log：

[code]

Jenkins： https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-16884/2/pipeline

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anythin

[2022-05-10 10:37] jingkl commented on #16888
pr：#16884

[2022-05-10 11:22] yearlz commented on #16862
got it , i will try that ,thks

[2022-05-10 11:27] yanliang567 opened #16889 "[Bug]: [bulkload] BulkLoadState never turns to BlukLoadIndexed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

If createing index before bulk load data, bulk load task state comes to Persisted at the end and never turns to Indexed
<Bulk load state:
    - taskID    : 433109373854154753,
    - state     : BulkLoadPersisted,
    - row_count : 10,
    - infos     : {'files': 'row_

[2022-05-10 11:27] yanliang567 commented on #16889
/assign @soothing-rain
/unassign

[2022-05-10 12:00] yanliang567 opened #16890 "[Bug]: [bulkload] Not automatically build index if importing data less than 1000"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

imported data did not automatically build index if imported data less than 1000 entities

### Expected Behavior

Expected :{'indexed_rows': 100, 'total_rows': 100}
Actual   :{'indexed_rows': 0, 'total_rows': 100}

### Steps To Reproduce

[code]

### Milvus Log

_No re

[2022-05-10 12:12] xige-16 commented on #16888
Because the describe_index interface in grpc_handler.py needs to pass in the parameter index_name, if there is also an index_name parameter in kwargs, it will prompt dup index_name in params.

[2022-05-10 12:51] yanliang567 opened #16892 "[Bug]: [bulkload] Failed to bulk load binary vectors if more than 100 entities in json file"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

if importing row_auto_binary_vectors_only_16d_10_0.json, it succeeds.
if importing row_auto_binary_vectors_only_16d_100_0.json, it fails
[row_auto_binary_vectors_only_16d_10_0.json.log](https://github.com/milvus-io/milvus/files/8661620/row_auto_binary_vectors_only_16d

[2022-05-10 12:51] yanliang567 commented on #16892
/assign @yhmo
/unassign

[2022-05-10 13:34] soothing-rain commented on #16890
I thought I read somewhere that Milvus won't created index on segments with less than 1000 rows?

[2022-05-10 13:44] WangErXiao opened #16894 "[Bug]: Kill one etcd node, can't recovery"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When i do chaos test killing a etcd node, the etcd can't recovery by self!
etcd Version: bitnami/etcd version 6.3.3;

Three replica;
When i kill etcd-0 or etcd-2 , the etcd cluster can recovery by self;
When i kill etcd-1 , the etcd cluster can't recovery by self;

Er

[2022-05-10 14:37] LoveEachDay commented on #16865
The config looks good to me. Could you try to set the `minio.rootPath` to `file` instead of `/`?

[2022-05-10 14:47] #13264 closed

[2022-05-10 14:47] houlang commented on #15711
我是蒋孝乐。已经收到您的来信，我会尽快回复。

[2022-05-10 16:57] jmugan opened #16897 "[Feature]: Documentation to tell newcomers to flush"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

I added a bunch of records and the query didn't return the proper results. It only showed up after a certain number of records.

After a lot of trouble, I figured it out. I had to flush. This is a pretty big gotcha since it isn't in the examples f

[2022-05-10 17:56] Juntaran commented on #16865
I mkidr in bucket

![image](https://user-images.githubusercontent.com/13732099/167691913-a1774597-6cf6-406a-8314-371000d4c39e.png)

and set minio.root = milvus-stag

[code]

but still not work

[code]

[2022-05-10 21:17] lilida opened #16898 "[Feature]: Support IAM access for S3 storage"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Right now, S3 access must be done by setting access id and secret key using milvus-operator. These sensitive information are passed as environment var and if not set, the milvus-operator won't be able to create the deployment.

### Describe the so

[2022-05-11 00:44] xiaofan-luan commented on #16897
Hi @jmugan ,we don't recommend you to flush before read. Actually flush too often would cause serious problems.

When you said "query didn't return the proper results", can you offer the code to reproduce the issue so we can investigate on it?
Thanks

[2022-05-11 00:44] xiaofan-luan commented on #16897
/assign @jmugan

[2022-05-11 00:45] xiaofan-luan commented on #16898
/assign @haorenfsa

[2022-05-11 00:45] xiaofan-luan commented on #16898
any ideas?

[2022-05-11 01:02] yanliang567 commented on #16894
@WangErXiao Mm...sounds like an etcd issue,  have you tried to open an issue in etcd community as well?

@LoveEachDay could you please help to take a look at this issue?
/assign @LoveEachDay
/unassign

[2022-05-11 01:05] yanliang567 commented on #16890
Yes, but index_building_progress shall return consistent just as index built successfully.

[2022-05-11 01:25] LoveEachDay commented on #16894
This is a known issue for bitnami/etcd. You can find related issues here:
1. bitnami/bitnami-docker-etcd#29
2. bitnami/bitnami-docker-etcd#39

@WangErXiao  If you encounter this problem, you'd manually remove the `/bitnami/etcd/data/member_id` file from this pod's pvc volume.

[2022-05-11 01:49] haorenfsa commented on #16898
@lilida  Thx for the feadback.

You can create a `Secret` of the AK & SK credentials. And use `secretRef` in the `MilvusCluster` spec.

I don't quite get it. There seems to be some typos.  Could you describe it more specifically?

If I get it right, you want the `milvus-operator` to do the secret configuration instead of user. Then the `milvus-operator` has to hold some admin account of aws in ord

[2022-05-11 02:15] Juntaran commented on #16865
@LoveEachDay

I have resolve this issue, s3 account should have createBucket privilege or more privilege.
suggest add this into document.

[2022-05-11 02:15] #16865 closed

[2022-05-11 02:15] JackLCL commented on #16657
@Renekton
It is recommended that you use the latest milvus2.0.2 version to test again.

[2022-05-11 02:16] Jfxhuangdao commented on #16871
I'll test it again with 65 million random data. Then feedback questions .

[2022-05-11 02:19] yanliang567 opened #16899 "[Bug]: [bulkload] error msg needs improvement if import empty json file"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

bulk load data with column based, and collection schema auto_id=False:
[code]

### Expected Behavior

if collection schema auto_id=True, import the same empty json file, the error msg makes more sense:
[code]

### Steps To Reproduce

[code]

### Milvus Log

_No respon

[2022-05-11 02:20] yanliang567 commented on #16899
/assign @yhmo
/unassign

[2022-05-11 02:26] zhuwenxing opened #16900 "[Bug]: Search failed with error `fail to get shard leaders from QueryCoord: no replica available` after querynode pod kill chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search raise error when running hello_milvus.py after chaos.
[code]

### Expected Behavior

all test case passed

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

failed job: https://github.com/milvus-io/milvus/runs/6375826869?check_s

[2022-05-11 02:28] haorenfsa commented on #16898
Oh I got the context above

[2022-05-11 02:29] binbinlv commented on #16809
@congqixia could you please have a check? Thanks.

The tests still hang in the latest nightly: （be688d8）
Confirmed this nightly includes the fix commit: 34833680daa5e23a59d5db6998004be83f6abf20
nightly commit:
commit be688d894aaf16f84fd3ba04237075c3d2eb2fa3
Author: Jiquan Long <jiquan.long@zilliz.com>
Date:   Tue May 10 21:07:53 2022 +0800

    Forbid multiple indexes on same field (#16875)

    S

[2022-05-11 02:47] haorenfsa commented on #16898
I'll check if minio sdk supports `IAM role via an OIDC web identity token file` first.

[2022-05-11 02:47] binbinlv commented on #16809
And the following nightly hangs too:
[artifacts-milvus-distributed-pulsar-master-521-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/521/artifact/artifacts-milvus-distributed-pulsar-master-521-pymilvus-e2e-logs.tar.gz)

[2022-05-11 02:52] haorenfsa commented on #16898
`minio-go` already supported:  https://github.com/minio/minio-go/issues/1156

[2022-05-11 02:54] jmugan commented on #16897
Well, hmm. If I put in around 5000 records (each a vector of size 512) and then immediately query within the same program, things work fine. But if I put in 80,000 records and then query within the same program, it seems to only pull from a subset of the vectors. Putting together the full example would require I exact the code from a blob of other code and put it back together. I'll see if I can d

[2022-05-11 03:05] wayblink opened #16901 "[Feature]: Support coordinators primary-backup mechanism"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

https://wiki.lfaidata.foundation/display/MIL/MEP+30+--+Support+Coordinators+Primary-backup+Mechanism

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

[2022-05-11 03:19] zhuwenxing opened #16902 "[Bug]: Hanging at the step of release collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

collection `task_3_FLAT` can be released and then loaded, but do this operation for  collection `task_3_IVF_FLAT`, it hangs

[code]

### Expected Behavior

all operations work well

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

[te

[2022-05-11 03:23] zhuwenxing commented on #16902
error log

[code]

[2022-05-11 03:27] wangting0128 commented on #16781
argo task: benchmark-cron-ptctc

test yaml:
client-configmap:client-search-sift50m-ivf-flat-2048,instanceId:6,server-configmap:server-single-16c64m

server:
[code]

client pod:benchmark-cron-ptctc-2400506592

client log:
[code]

[2022-05-11 03:30] wangting0128 commented on #16781
argo task: benchmark-cron-1652198400

test yaml:
client-configmap:client-search-sift50m-ivf-flat-2048,instanceId:6,server-configmap:server-single-16c64m)

server:
[code]

client pod: benchmark-cron-1652198400-180333886

client log:
[code]

[2022-05-11 03:36] wangting0128 commented on #16781
argo task: benchmark-cluster-cron-1652216400

test yaml:
client-configmap:client-random-locust,instanceId:6,server-configmap:server-single-8c16m

server:
[code]

client pod:benchmark-cluster-cron-1652216400-2404493094

client log:
[code]

[2022-05-11 03:40] binbinlv commented on #16793
Has not been reproduced for several days, so close it first and will reopen it if it occurs in the furture.

[2022-05-11 03:40] #16793 closed

[2022-05-11 03:41] yanliang567 commented on #16900
/assign @sunby
/unassign

[2022-05-11 03:50] zhuwenxing commented on #16686
I am verifying this, but it was blocked by the issue https://github.com/milvus-io/milvus/issues/16902

[2022-05-11 03:50] zhuwenxing commented on #16686
/assign @congqixia

[2022-05-11 03:51] zhuwenxing commented on #16902
/assign @congqixia
Please help to take a look.

[2022-05-11 03:52] ThreadDao commented on #16705
@yah01 There is still a little problem. First deploy 2 querynodes and load 2 replicas, then scale in querynode from 2 to 1, and finally scale back to 2.
After a few minutes later, the replicas info is:
[code]
The query segment info:
[code]
[mic_logs.tar.gz](https://github.com/milvus-io/milvus/files/8666613/mic_logs.tar.gz)

[2022-05-11 04:20] lilida commented on #16898
@haorenfsa Thanks for looking into this promptly. Does this mean milvus it self actually support this but what it is lack is the way to configure this in milvus-operator today?

[2022-05-11 04:32] soothing-rain commented on #16890
Ah I see what you mean. In our current design, dataindexed is more like a hint, it not necessarily mean every single segment has been indexed.

[2022-05-11 04:42] yah01 commented on #16705
Hi @ThreadDao
We don't support the feature of balancing between replicas now, and can't make sure the new node is added into the replica which has the less nodes because of the latency of removing offline nodes. So, this won't be solved for the current version.

[2022-05-11 04:44] yah01 commented on #16705
@sunby @congqixia
For the case that every replica has only 1 node, the LoadBalance will always fail, which leads to removing nodes for ReplicaInfo and SegmentInfo never been executed.

[2022-05-11 05:24] yuliu-eric opened #16905 "[Feature]: Support Pymilvus 1.x list_id_in_segment in 2.x"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

We are planning to adopt the upcoming Milvus 2.1 release, and will need to handle existing use cases gracefully. Currently there's a use case list_id_in_segment in Milvus 1.x Python SDK, and we expect the same API in 2.x.

### Describe the solutio

[2022-05-11 05:34] xiaofan-luan commented on #16897
Guess I l know the reason.
By default we enabled a small index in growing data, which create IVF index on growing data every 32768 rows.

We need a way to disable the small index so the result is accurate

[2022-05-11 05:34] xiaofan-luan commented on #16897
/assign @longjiquan could you help on this one~

[2022-05-11 05:41] xiaofan-luan commented on #16905
Hi eric, thanks for your suggestion~
If I'm correct the goal is to fetch all result in a streaming way without hit the limit of Grpc and causing memory burst.
From my point of view, an iterator implementation is more straight forward, and more user friendly.

We would like to implement query pagination, the interface are something like:
iter := milvus.open(query condition)
while iter.hasNext() :

[2022-05-11 05:41] xiaofan-luan commented on #16905
/assign @sunby

[2022-05-11 05:43] xiaofan-luan commented on #16905
The iteration can be further extend to pagination, with a (offset, limit) implementation and loop through all the segment.

By the way, search pagination is more complicated than query and need more carefully think through

[2022-05-11 05:48] haorenfsa commented on #16898
Nope, it still needs to support config s3 client to use [credential with IAM](https://pkg.go.dev/github.com/minio/minio-go/pkg/credentials#Credentials)

[2022-05-11 06:01] yuliu-eric commented on #16905
Hi Xiaofan,

Thank you for the proposed alternative!

Basically below is the current logic in 1.x:

[code]
Ideally we prefer to migrate it to 2.x seamlessly following the same concept and processing logic. I guess the solution you mentioned above 'The iteration can be further extend to pagination, with a (offset, limit) implementation and loop through all the segment.' should work in this case? If

[2022-05-11 06:22] xige-16 commented on #16888
/unassign
/unassign @longjiquan
/assign @jingkl

[2022-05-11 06:33] jingkl commented on #16888
Verified, turn off issue

[2022-05-11 06:33] #16888 closed

[2022-05-11 06:42] XuanYang-cn commented on #15807
keep it on

[2022-05-11 06:59] deeplearningers commented on #4161
did you find any other database？use milvus? thank u

[2022-05-11 07:02] xiaofan-luan commented on #4161
Should be fine to compile milvus and knowhere right know~
Feel free to test it and let us know if it works. So far Mac M1 processor is ready to go, we don't have any device on hand to do further test

[2022-05-11 07:36] aakejiang commented on #16781
@wangting0128 Did we close the health check? From the logs above, it tells that requests happening before Milvus proxy 19530 is ready.

[2022-05-11 07:48] congqixia opened #16911 "[Bug]: ShardSegmentDetector still using deprecated field NodeID"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

ShardSegmentDetector uses NodeID of segmentInfo proto

### Expected Behavior

NodeIDs shall be used instead of NodeID

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-05-11 07:53] ThreadDao commented on #10609
@congqixia @XuanYang-cn Good news! This problem has not been reproduced `master-20220511-9e6d9fb7`

[2022-05-11 07:53] #10609 closed

[2022-05-11 07:55] zhuwenxing opened #16913 "[Bug]: Search failed with multi replicas after all querynodes are recovered from pod failure chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

There are two problems:
* the replicas info is wrong after chaos
before chaos, the replicas info is
[code]
after chaos the replicas info is
[code]

* Search and query all failed after chaos

[code]

### Expected Behavior

all work well

### Steps To Reproduce

[code]

[2022-05-11 08:37] longjiquan opened #16914 "[Bug]: querynode crash when large insert request was received"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I tried to insert `32768 * 2` entities into a collection, querynode crashed.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

[code]

### Anything else?

_No response_

[2022-05-11 08:39] longjiquan commented on #16914
[code]

[2022-05-11 09:29] XuanYang-cn commented on #15368
1. DataNode should be able to thrive in limited memory, for example, when memory >= 2G
2. DataNode should be able to restart properly when crashed

No.1 is still a problem because DataNode doesn't have memory related check, if dml channels are out of burden, DataNode will crash.

I'm not sure if No.2 is a problem now, @ThreadDao Please help to verify it.

[2022-05-11 09:39] #16911 closed

[2022-05-11 09:40] yhmo opened #16916 "[Bug]: Get "BuildIndex failed" error in log"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. change the milvus.yml
[code]
3. start a standalone milvus in local
4. use this script to test:
[code]

5. check the standalone.log, there are some error "BuildIndex failed"

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Mi

[2022-05-11 09:44] xiaocai2333 commented on #16916
Can you paste all the logs as files?

[2022-05-11 09:55] XuanYang-cn commented on #16288
**New Facts:** Each time, DataNode updates the current **total** number of rows of the segments, not just the  added number of rows.

After some carefully thought, I think GRPC is not a great idea, it'll break the simplicity of using streaming log(pulsar), this's why:
- Using GRPC breaks the message orders in pulsar, case num_rows are combined with time ticks, thus need extra logical to take care

[2022-05-11 10:18] yanliang567 commented on #16890
right, so shall we make this hint consistent in these APIs? Thanks.

[2022-05-11 10:24] yanliang567 opened #16918 "[Bug]: [bulkload] Not report error if import column base file with wrong dim of vectors"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

bulk load the json file successfully, even there is one of entities having wrong dim.
BTW, it only reproduced when collection schema auto_id=True, and it does not repro if auto_id=Flase
reproduce data:
[code]

### Expected Behavior

report an error msg, indicating the

[2022-05-11 10:33] yanliang567 commented on #16918
not repro when retry for times. close for now.

[2022-05-11 10:33] #16918 closed

[2022-05-11 10:50] fulelan commented on #16642
## 机器一、

- OS：Linux version 4.15.0-166-generic (buildd@lgw01-amd64-012) (gcc version 7.5.0 (Ubuntu 7.5.0-3ubuntu1~18.04))
- GPU：NVIDIA Corporation GV100GL [Tesla V100 SXM2 32GB] (rev a1)
- CPU：Intel(R) Xeon(R) Platinum 8163 CPU @ 2.50GHz（6核12线程）
- Deployment mode:standalone
- SDK version:pymilvus v2.0.2

[code]

## 机器二、

- OS：Linux version 3.10.0-1160.25.1.el7.x86_64 (mockbuild@kbuilder.bsys.cento

[2022-05-11 10:54] ThreadDao opened #16919 "[Bug]: Flush data hangs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Flush data hangs
[code]
[mic_logs.tar.gz](https://github.com/milvus-io/milvus/files/8669220/mic_logs.tar.gz)

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

[code]

[2022-05-11 11:19] yanliang567 commented on #16707
okay

[2022-05-11 11:19] #16707 closed

[2022-05-11 11:20] longjiquan opened #16922 "[Bug]: etcdserver: too many operations in txn request when shards_num is set to 256"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

=== start connecting to Milvus     ===

Does collection hello_milvus exist in Milvus: False

=== Create collection `hello_milvus` ===

shards_num: 256, dim: 1024
create 1 partitions done
RPC error: [load_collection], <MilvusException: (code=1, message=, etcdserver: to

[2022-05-11 11:22] longjiquan commented on #16922
[code]

[2022-05-11 11:29] yanliang567 opened #16923 "[Bug]: [bulkload] Failed to import all correct data files if there is one file error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

import 10 correct data files together with 1 error data file, expected all 10 correct data files are imported successfully, but actually only 9 of them imported successfully. The failed one reported:
'JSON parse: unexpected EOF'

### Expected Behavior

all 10 correct

[2022-05-11 11:53] jiaoew1991 commented on #16733
Hi @xiaofan-luan , I am working on this issue, the scope seams quite large. So I start from "Delete" function in "segment_c.h" for a POC.

When I work on this issue, I found some blockers, and the way I handle it is very dirty:

1.  the "internal/core" module does not depends on Arrow, but the "internal/storage" module depends on it, so I change the compile order, make "storage" compile first then

[2022-05-11 11:55] soothing-rain commented on #16923
/unassign
/assign @yhmo

[2022-05-11 11:56] soothing-rain commented on #16923
This is caused by the way we handle errors. Will discuss with @yhmo and see if there's a better way.

[2022-05-11 11:59] Renekton commented on #16657
May be I find the problem. It seems that I can not do the searching when I reload the milvus cluster.
I will do more test.

[2022-05-11 12:46] longjiquan opened #16924 "[Enhancement]: Make segment small index configurable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I want to make segment small index configurable.

### Why is this needed?

We're not sure that segment small index will make search performance better. Sometimes maybe bruteforce search is faster. So hard code to enable segment small index is not convinient.

### Anything else

[2022-05-11 12:46] longjiquan commented on #16924
/assign

[2022-05-11 12:54] longjiquan commented on #16924
- 1, When small index is disable, search on growing segment will use bruteforce scan on all data chunks;
- 2, When small index is enable, related parameters can also be configurable:
   - a, For simplicity, we just plan to support `IVF_FLAT` as our segment small index;
   - b, Index parameters such as `nlist` can be configurable;
   - c, Search parameters on these segment small indexes can be conf

[2022-05-11 13:01] xiaofan-luan commented on #16924
lgtm, we just want to disable small index for now and need to add more test on top of it

[2022-05-11 13:15] xige-16 commented on #16924
search params for small index is not necessarily configurable, it should be executed according to the search params in search req. such  as nprobe

[2022-05-11 13:17] longjiquan commented on #16924
Why should users pass `nprobe` when they'll search on these growing segments? @xige-16

[2022-05-11 13:25] longjiquan commented on #16924
It's too complicated that we maintain so many small-index-related parameters now. Maybe we can choose to enable it after we made a benchmark between segment small index and bruteforce search.

[2022-05-11 13:33] XuanYang-cn opened #16926 "[Bug]: Proxy should clear ShardLeader cache when release collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After Load - Release - Load, the groups will change.

But while release collection, proxy didn't clear the shard leaders' cache, causing search hang.

See also: #16902

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No re

[2022-05-11 13:35] congqixia commented on #16926
Proxy shall clear the cache if the release operation is handled by it. We shall expect the cache might be ouf-of-date if there are multiple proxies online. Working on the query node side to figure out how to fail fast in this case.

[2022-05-11 14:03] xiaofan-luan commented on #16733
/assign @letian-jiang

[2022-05-11 14:03] xiaofan-luan commented on #16733
/assign @jiaoew1991

[2022-05-11 14:08] xiaofan-luan commented on #16924
Agree, we don't even have idea about the performance boost of enable small index~

[2022-05-11 21:39] #15897 closed

[2022-05-11 21:39] #15986 closed

[2022-05-11 21:39] #16147 closed

[2022-05-11 21:39] #16117 closed

[2022-05-11 21:39] #15937 closed

[2022-05-11 21:39] #15877 closed

[2022-05-11 21:39] #15867 closed

[2022-05-11 21:39] #15825 closed

[2022-05-11 21:39] #16357 closed

[2022-05-12 02:02] zhuwenxing opened #16932 "[Bug]: Create index failed with error message `context canceled` after Milvus recovered from indexnode pod kill chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

failed job: https://github.com/milvus-io/milvus/runs/6393914832?check_suite_focus=true

log: https://github.com/milvus-io/milvus/su

[2022-05-12 02:19] zhuwenxing opened #16933 "[Bug]: Create index failed with error message `Client disconnected before response was ready` after Milvus recovered from minio pod kill chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

failed job: https://github.com/milvus-io/milvus/runs/6393915514?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/6468

[2022-05-12 02:27] zhuwenxing commented on #16933
In the Jenkins pipeline, this case also failed, but the error message is `Server not initialized, please try again`.
failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/4671/pipeline
log:
[artifacts-minio-pod-kill-4671-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8674557/artifacts-minio-pod-kill-4671-server-logs.tar.gz)

[2022-05-12 02:27] longjiquan opened #16934 "[Enhancement]: Disable segment small index"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

related: #16924 #16802

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-05-12 02:30] #16934 closed

[2022-05-12 02:32] zhuwenxing commented on #16932
In Jenkins pipeline, there is a same issue for this case.
[code]
failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/4664/pipeline
log: [artifacts-indexnode-pod-kill-4664-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8674598/artifacts-indexnode-pod-kill-4664-server-logs.tar.gz)

[2022-05-12 02:41] zhuwenxing commented on #16740
Hi, @XuanYang-cn
I want to upgrade the priority level because reconnect would be used to make sure the connection is back to normal in the chaos test.

[2022-05-12 02:56] wangting0128 commented on #16781
argo task: benchmark-cluster-cron-1652302800

test yaml:
client-configmap:client-get-local50m-512,instanceId:1,server-configmap:server-single-32c128m

server:
[code]

client pod: benchmark-cluster-cron-1652302800-1075655006

client logs:
[code]

[2022-05-12 03:00] XuanYang-cn commented on #16288
**1. Make DataCoord subscribe to the correct position of TimeTickChannel**
- DataCoord will need to record checkpoint of TTChannel, in our design, we need to persist this info into Etcd.
- When there're many DataNodes, persisting into Etcd might be a very frequent operation
- This persistent must be consist with the persisting of segmentInfo(with num_rows), or there'll be inconsistency problem

co

[2022-05-12 03:04] XuanYang-cn commented on #16288
I'm voting for the second solution

[2022-05-12 03:46] longjiquan opened #16936 "[Enhancement]: Use binary to codec insert record & search result to reduce memory consumption"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I want to use binary to codec insert record & search result to reduce memory consumption.
related: #16914

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-05-12 03:57] longjiquan opened #16937 "[Bug]: data race in internal/distributed/proxy/service_test.go"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://github.com/milvus-io/milvus/runs/6399196581?check_suite_focus=true
![image](https://user-images.githubusercontent.com/31589260/167989079-3736484e-4b49-4243-933b-0963bb8daa83.png)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

###

[2022-05-12 03:59] #16885 closed

[2022-05-12 04:06] binbinlv commented on #16809
It is still reproduced in the latest nightly:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/523/pipeline

The nightly commit is just the PR to be fixed:
commit a8b81e215bff189866fbfb7f474979ea5ab5d589
Author: congqixia <congqi.xia@zilliz.com>
Date:   Wed May 11 21:57:53 2022 +0800

    Fix deadlock in release replica (#16925)

    Signed-off-by: Cong

[2022-05-12 04:06] binbinlv commented on #16809
Similar in the following nightly:
[artifacts-milvus-distributed-pulsar-master-524-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/524/artifact/artifacts-milvus-distributed-pulsar-master-524-pymilvus-e2e-logs.tar.gz)

[2022-05-12 05:47] xiaofan-luan opened #16938 "[Feature]: Support delete by expression"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Currently Milvus only support delete by ID, and under some cases user has no idea about what the ID is but some of the expressions such as A > 100 or B = 100 & C=1

### Describe the solution you'd like.

We can separate the operation into three st

[2022-05-12 06:11] #16330 closed

[2022-05-12 06:15] xige-16 commented on #16938
I want to solve this problem for a long time, can I add this feature? @xiaofan-luan

[2022-05-12 06:26] longjiquan commented on #16922
By default, max number of txn requests that etcd supported is `128`. Also this can be configured. In our helm deployment, this was configured to 256, so `256` shards can be supported. However, if we deploy etcd without any configuration changes, only `128` shards can be supported. When query cluster tried to load an collection, querycoord will write all delta channel info into etcd and every shard

[2022-05-12 06:28] XuanYang-cn commented on #16926
- [ ] Clear cache when releasing collection/partition
- [ ] If proxy query a wrong leader and get this, refresh the cache and re-query
![origin_img_v2_0e0c523d-7937-49a8-b121-3e09e2107ceg](https://user-images.githubusercontent.com/51370125/168006010-e1ff534b-42d6-4503-a381-951be4869d6a.png)

[2022-05-12 07:14] wangting0128 opened #16941 "[Bug]: [benchmark][standalone] Milvus restarts and doesn't recover, search raise error: fail to search on all shard leaders, err=fail to get shard leaders from QueryCoord: no replica available"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task: benchmark-cron-hwr9n

test yaml:
client-configmap:client-search-sift50m-ivf-flat-2048,instanceId:6,server-configmap:server-single-16c64m

server:
[code]

client pod: benchmark-cron-hwr9n-66744030

client log:
[code]

### Expected Behavior

_No response_

##

[2022-05-12 07:18] Renekton commented on #16657
I have done more tests and the problem is fatal.
I think something is wrong with pulsar or milvus loading data

1. There are 15,701,172 entities in my milvus cluster
![image](https://user-images.githubusercontent.com/7531084/168012016-30e9cdc5-014d-4721-9325-855cf9d6d32c.png)
2. restart the milvus cluster, the cluster log shows as the "milvus-cluster-reload.log"
3. I can connect the milvus by attu

[2022-05-12 07:22] wangting0128 opened #16943 "[Bug]: [benchmark][cluster] queryNode restart and search raise error: fail to Search, QueryNode ID=1, reason=query shard(channel) by-dev-rootcoord-dml_1_433148254353296705v1 does not exist"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task: benchmark-cron-hwr9n

test yaml:
client-configmap:client-search-sift50m-ivf-flat-2048,instanceId:7,server-configmap:server-cluster-16c64m

server:
[code]

client pod: benchmark-cron-hwr9n-740494606

client log:
[code]

### Expected Behavior

_No response_

[2022-05-12 07:29] XuanYang-cn opened #16944 "[Bug]: QueryCoord ut data race"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

--- FAIL: TestGetShardLeaders (0.84s)

https://github.com/milvus-io/milvus/runs/6401120251?check_suite_focus=true

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-05-12 07:30] XuanYang-cn commented on #16944
/unassign @yanliang567
/assign @congqixia

[2022-05-12 07:41] zhuwenxing commented on #16900
It seems similar to https://github.com/milvus-io/milvus/issues/16941.

The following cases also have this issue
* standalone pod kill: https://github.com/milvus-io/milvus/runs/6393914499?check_suite_focus=true
* all cluster pod kill: https://github.com/milvus-io/milvus/runs/6393914403?check_suite_focus=true

But I think the root cause should be querynode pod kill.

[2022-05-12 08:04] JackLCL commented on #16642
@fulelan
Can you use this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export milvus logs and upload it here?

[2022-05-12 08:10] jingkl commented on #16866
pymilvus:2.1.0.dev55
milvus tag: master-20220511-9e6d9fb7
Such issues have been verified to be fixed

[2022-05-12 08:10] #16866 closed

[2022-05-12 08:10] #16791 closed

[2022-05-12 08:11] jingkl commented on #16586
pymilvus:2.1.0.dev55
milvus tag: master-20220511-9e6d9fb7
Such issues have been verified to be fixed

[2022-05-12 08:31] ThreadDao opened #16947 "[Bug]: Loading multiple replicas succeeds but search gets empty results"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Deploy milvus cluster with 5 querynodes and limit memory 6Gi
2. Create collection `shards=2`, `dim=512`
3. Insert 250,000 entities
4. Load with `replica_number=2`
Load collection didn't raise any exception and return None, get loading progress is 0%, search didn't

[2022-05-12 08:51] zhuwenxing opened #16948 "[Bug]: Search raises error with message `query shard xxx does not exist` after restarting Milvus"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

log:
[artifacts-cluster-reinstall-559-logs.tar.gz](https://github.com/milvus-io/milvus/files/8676467/artifacts-cluster-reinstall-55

[2022-05-12 09:02] sunby commented on #16943
/assign

[2022-05-12 09:05] sunby commented on #16943
@wangting0128 @yanliang567 This issue is caused by search on a restarted querynode and request failed finally. SDK will retry  at most 10 times and we add a backoff policy to retry as many times as possible  before the request timeout.

[2022-05-12 09:07] yuliu-eric commented on #16905
Seems like the [proposed alternative](https://github.com/milvus-io/milvus/issues/16905#issuecomment-1123209590) is planned in release 2.2, do you have a timeline for the 2.2 release? We'd expect to have such feature available sometime this Quarter.

Also, can you kind reply to my questions [above](https://github.com/milvus-io/milvus/issues/16905#issuecomment-1123218370)? Want to make sure my under

[2022-05-12 09:32] YEXINGZHE54 opened #16949 "[Bug]: Strong Consistency Level not worked as expected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After inserting data using the code pasted below
And then, start up a container of Milvus-cli, and check data in it:

[]

[]

2

[]

[]

### Expected Behavior

col.query(expr='ID>0',output_fields=['ID'], consistency_level="Strong")

should return response of valid dat

[2022-05-12 09:32] #16425 closed

[2022-05-12 09:33] #15705 closed

[2022-05-12 09:59] nameczz opened #16951 "[Bug]: Milvus query result has precision problem in vector field"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. create collection with schema id, vector
2. insert data, one vector is [1.3476964684980388,1.5402094571370055,1.5247762599580974,1.577921703425524]
3. use [1.3476964684980388,1.5402094571370055,1.5247762599580974,1.577921703425524]  do vector search. Get one  resul

[2022-05-12 10:21] xiaofan-luan commented on #15534
It seems all float vector in milvus is stored in FloatArray, which only support x.xxxxxx precision(6 numbers after .)

To support float we will need to add another double definition. should we do that?

[2022-05-12 10:30] xiaofan-luan commented on #16949
/assign @xige-16

[2022-05-12 10:37] xiaofan-luan commented on #16905
The estimated release date would be August, but we can probably prioritize it and see if it could be delivered on beginning of July

[2022-05-12 10:42] yuliu-eric commented on #16905
Thank you Xiaofan for the update!

We plan to onboarding from 2.1 release, so that would be great if that pagination feature can be released together in 2.1 release; if not, would my original proposal `list_id_in_segment` be feasible to meet the preferred timeline?

Bests,
Eric

[2022-05-12 11:01] shanghaikid commented on #16951
related issue https://github.com/milvus-io/milvus/issues/15534#

[2022-05-12 11:02] shanghaikid commented on #15534
Any performance impact to do that ?

[2022-05-12 11:16] Jacobh2 commented on #16804
Hey again! A similar/same issue is now happening when I try to scale up the query coordinator deployment from 1 replica to 2 replicas. The querycoordinate log is here: [querycoord.log](https://github.com/milvus-io/milvus/files/8677462/querycoord.log)

I tried to clear the backlog using
[code]
to find the subscriptions and then
[code]
But that didn't help

[2022-05-12 11:54] zhuwenxing commented on #16948
If the num of querynode is 1,  then there will be no issue.
http://10.100.32.144:8080/view/deploy%20test/job/deploy_test/561/

[2022-05-12 11:56] zhuwenxing commented on #16948
/assign @sunby

Please take a look

[2022-05-12 12:58] xiaofan-luan commented on #16905
Emm, we can quickly add an iterator for query if necessary, and it should be working on some minor version of 2.1~ I don't like the idea to expose segment to user because it's hard to understand

[2022-05-12 13:05] xiaofan-luan commented on #15534
Yes, It would double memory space as well as pulsar throughput. We should leave it to user and let the decide either to pick precision or cost~

[2022-05-12 13:05] xiaofan-luan commented on #16951
mark 15534 as good first issue, please assign yourself if anyone want to take it

[2022-05-12 13:12] WangErXiao commented on #16894
thx

[2022-05-12 13:12] #16894 closed

[2022-05-12 13:17] WangErXiao opened #16956 "[Bug]: Chaos Test; Killing a proxy node, service becomes unavailable, such as search"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I deploy a milvus cluster with two proxy pod;
When I kill one pod, service becomes unavailable, such as search.

### Expected Behavior

Search request is  processed normally.

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_N

[2022-05-12 14:14] xiaofan-luan opened #16957 "[Feature]: PebbleMQ"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Pebble is a KV storage written in go and aims to replace rocksdb in cockroach.

https://github.com/cockroachdb/pebble

We want to investigate the possibility of replace pebble with rocksdb so milvus can be more go native.

Some other benefits:
1.

[2022-05-12 14:24] yhmo commented on #16916
Only reproducible on Mac OS

[2022-05-12 17:57] yuliu-eric commented on #16905
`we can quickly add an iterator for query if necessary, and it should be working on some minor version of 2.1` - that would be super helpful

[2022-05-13 01:40] yanliang567 commented on #16956
@zhuwenxing i think we shall re-connect to milvus and it would be working, right?
/assign @zhuwenxing

[2022-05-13 01:41] zhuwenxing commented on #16842
This issue will appear steadily, so increase the critical level

The latest failed job: https://github.com/milvus-io/milvus/runs/6413296020?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/6486637327/artifacts/240554490
[code]

[2022-05-13 01:43] yanliang567 commented on #16804
@Jacobh2 thank you for your testing on this.
Unfortunately, the querycoord as well as the other coordinators are not supported multi-replicas for now.  this is still in discussion in community. If you are interested in this topic,  welcome to join.

[2022-05-13 01:45] yanliang567 commented on #16943
@sunby do you mean the search request was sent to a just restarted querynode, and this querynode actually is not ready for handle search request? If yes, shall we not sent request to querynode until it does be ready?

[2022-05-13 01:49] xiaofan-luan opened #16959 "[Feature]: Support QueryNode Graceful stop"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

when querynode upgrade, currently we just stop querynode without waiting segment moved to other querynode.
It takes a couple of minutes to reload data(if not even longer)

### Describe the solution you'd like.

My suggestion is to open a script or

[2022-05-13 01:56] xiaofan-luan opened #16960 "[Feature]: Change event writer into Go Arrow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

We already moved payload reader from Cgo reader to go reader.
Now we should move payload writer from Cgo to go native.
Then next step would be remove the cwrapper in storage folder

### Describe the solution you'd like.

_No response_

### Describ

[2022-05-13 01:59] xiaofan-luan commented on #16733
already opened another issue about pebble https://github.com/milvus-io/milvus/issues/16957

[2022-05-13 02:00] xiaofan-luan commented on #16804
Any other pulsar channel has backlog blocks?

[2022-05-13 02:16] #16936 closed

[2022-05-13 02:17] binbinlv commented on #16809
Similar phenomenon in the latest nightly:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/526/pipeline/157

logs:
[artifacts-milvus-distributed-pulsar-master-526-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/526/artifact/artifacts-milvus-distributed-pulsar-master-526-pymilvus-e2e-logs.tar.gz)

[2022-05-13 02:19] binbinlv commented on #16809
Similar phenomenon in the latest nightly:

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/525/pipeline/190

logs:
[artifacts-milvus-distributed-pulsar-master-525-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/525/artifact/artifacts-milvus-distributed-pulsar-master-525-pymilvus-e2e-logs.tar.gz)

[2022-05-13 02:28] binbinlv opened #16961 "[Bug]: [nightly] query returns not empty after delete operation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

query returns not empty after delete operation

[code]

### Expected Behavior

query returns empty after delete operation

### Steps To Reproduce

Running nightly:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/526/pipeli

[2022-05-13 02:30] xige-16 commented on #16961
/assign
/unassign @yanliang567

[2022-05-13 02:34] wangting0128 commented on #16941
argo task: benchmark-cron-1652371200

test yaml:
client-configmap:client-search-sift50m-ivf-flat-2048,instanceId:6,server-configmap:server-single-16c64m

server:
[code]

client pod: benchmark-cron-1652371200-1947739451

client log:
[code]

[2022-05-13 02:37] wangting0128 commented on #16943
argo task: benchmark-cron-1652371200

test yaml:
client-configmap:client-search-sift50m-ivf-flat-2048,instanceId:7,server-configmap:server-cluster-16c64m

server:
[code]

client pod: benchmark-cron-1652371200-1462902525

client log:
[2022-05-12 17:42:39,721] [   DEBUG] - Start run query, run 28 of 30 (milvus_benchmark.runners.search:294)
[2022-05-12 17:42:39,722] [    INFO] - {'nq': 1200, 'topk':

[2022-05-13 02:39] jingkl commented on #16961
testcase
The vector can be searched when the string is the primary key for deletion
[code]

debug  log：
[code]

[2022-05-13 02:41] wangting0128 commented on #16150
argo task: benchmark-cluster-cron-1652389200

test yam:
client-configmap:client-random-locust,instanceId:7,server-configmap:server-cluster-8c16m

server:
[code]

client pod: benchmark-cluster-cron-1652389200-1054027279

client log:
[code]

[2022-05-13 02:43] wangting0128 commented on #16150
argo task: benchmark-cluster-cron-1652389200

test yaml:
client-configmap:client-random-locust,instanceId:6,server-configmap:server-single-8c16m

server:
[code]

client pod: benchmark-cluster-cron-1652389200-342991215

client log:
[code]

[2022-05-13 02:50] wangting0128 opened #16962 "[Bug]: [benchmark][standalone] Milvus crash and load failed: _MultiThreadedRendezvous: StatusCode.UNAVAILAB LE, Connection reset by peer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task: benchmark-cluster-cron-1652389200

test yaml:
client-configmap:client-get-local50m-512
server-configmap:server-single-32c128m

server:
[code]

client pod: benchmark-cluster-cron-1652389200-2296414791

client log:
[code]

### Expected Behavior

_No response_

[2022-05-13 03:05] WangErXiao opened #16963 "[Bug]:Chaos Test; When I kill proxy, I found dataCoord panic..."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I kill proxy node , I found datacoord crashed  and continue restarting;

[2022/05/13 02:57:58.223 +00:00] [FATAL] [logutil.go:102] [panic] [recover="\"Failed to create consumer by-prd-rootcoord-dml_4, error = All attempts results:\\nattempt #1:server error: Consu

[2022-05-13 03:08] longjiquan commented on #16897
I will disable small index in https://github.com/milvus-io/milvus/pull/16935. @jmugan

[2022-05-13 03:14] congqixia commented on #16874
/unassign
/assign @zhuwenxing

[2022-05-13 03:29] XuanYang-cn commented on #16947
/assign
/unassign @yanliang567

[2022-05-13 03:34] xiaofan-luan commented on #16963
I've fixed the issue by adding retry logic.
The main issue is that pulsar failover happens slow,  we probably have to wait for a little bit longer for the failure recovery

[2022-05-13 03:37] XuanYang-cn opened #16964 "[Bug]: TSO UT failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

https://github.com/milvus-io/milvus/runs/6405357915?check_suite_focus=true

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-05-13 03:37] xiaofan-luan commented on #15744
There are  a couple of issues that might affect delete
1) growing segment delete is handled correctly(fixed)
2)  if insert multiple same PKs, delete will only  handle the last PK(fixed)

[2022-05-13 03:40] congqixia commented on #16964
Same as #16297

[2022-05-13 03:41] XuanYang-cn commented on #16964
closing for dup

[2022-05-13 03:41] #16964 closed

[2022-05-13 03:42] XuanYang-cn commented on #16297
[code]

[2022-05-13 04:07] ownbylichaobao commented on #7703
Hi, Is etcd ssl still not supported currently?

[2022-05-13 04:20] ThreadDao opened #16965 "[Bug]: [memory]Search failed `RPC terminated with Deadline Exceeded` while applying stress memory on one querynode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Deploy milvus cluster with 5 querynodes and limit their memory 6Gi
2. Create the collection `stress_replicas_2` with `dim=128` and insert 1000,000 entities (About 500M size)
3. Load the collection with `replica_numer=2` successfully and query successfully
4. Releas

[2022-05-13 04:34] #16389 closed

[2022-05-13 05:36] yongpengli-z opened #16968 "[Bug]: modify index test cases to 2.0 interface"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

currnet test cases is 1.0 interface

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-05-13 05:39] zhuwenxing commented on #16956
If the kill proxy is not connected, then search will not be affected.
If the killed proxy is being connected, then it will be unavailable for a short time. After that, it seems to be available without reconnecting.
[code]

[2022-05-13 06:22] qi49125 opened #16971 "[Bug]: After the incremental data of a set containing 150 million data records reaches 20 million, the cluster search fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After the incremental data of a set containing 150 million data records reaches 20 million, the cluster search fails. During the search, index re-creation or memory release is invalid. The system cannot be recovered for a long time.

After multiple operations are perf

[2022-05-13 06:25] yhmo commented on #16923
I can't reproduce.
Test script:

[code]

Output results:

[code]

[2022-05-13 06:27] WangErXiao commented on #16956
@zhuwenxing I reconnected the proxy, can't search with blocking state, but can insert data using python client ; In attu, I can see collection info and cluster topology,but can't still search and query until request timeout.

[2022-05-13 06:44] xige-16 opened #16972 "[Enhancement]: Avoid generating many small segments when inserting continuously in small batches"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

When a small batch is continuously inserted, the proxy will request the datacroord to pre-allocate the segmentID, and the quota (number of rows) that can be inserted by the segmentID, but when the pre-allocation result expires, the allocated segment quota will be wasted. As a

[2022-05-13 06:44] xige-16 commented on #16972
/assign

[2022-05-13 06:52] zhuwenxing commented on #16956
Can you please attach the log here for further investigations.?
Actually, if you can insert data, then it means the proxy works well. The search here with blocking state, more like hangs, may be caused by other components of Milvus.

[2022-05-13 06:53] zhuwenxing commented on #16956
/assign @WangErXiao

[2022-05-13 07:13] WangErXiao commented on #16956
@zhuwenxing OK , I tail queryNode log as below

When I query , the log is

`[2022/05/13 07:02:59.330 +00:00] [DEBUG] [query_collection.go:350] ["check if query timeout"] [collectionID=432694688281264129] [msgID=433172913526675671] [TimeoutTs=0] [curTime=433173398639083520] [timeoutTsPhysical=1970/01/01 00:00:00.000 +00:00] [curTimePhysical=2022/05/13 07:02:59.330 +00:00]
[2022/05/13 07:02:59.330 +

[2022-05-13 07:17] #16123 closed

[2022-05-13 07:17] #16333 closed

[2022-05-13 07:38] jingkl opened #16974 "[Enhancement]: Delete duplicate test files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

**test_search_20.py** files duplicated with **test_search.py** content need to be deleted

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-05-13 07:45] sunby commented on #16941
This issue is caused by searching on a failed querynode. The standalone restarted and is balancing segments to new started querynode and the search request reached.

[2022-05-13 07:45] zhuwenxing commented on #16956
@WangErXiao
Thanks for your information, it would be better to export the full log, and you can refer to this https://github.com/milvus-io/milvus/tree/master/deployments/export-log.

/unassign
/assign @sunby
Can you please help to have a look?

[2022-05-13 07:59] XuanYang-cn commented on #16740
pymilvus == 2.1.0.dev57

[2022-05-13 08:00] XuanYang-cn commented on #16740
- #16977

[2022-05-13 08:00] XuanYang-cn commented on #16740
/unassign
/assign @zhuwenxing

[2022-05-13 08:04] sunby commented on #16941
/assign

[2022-05-13 08:09] zhuwenxing commented on #16902
verified and passed in version `master-20220513-f0dee539`.

[2022-05-13 08:09] #16902 closed

[2022-05-13 08:13] yhmo commented on #16899
Fixed by #16958

[2022-05-13 08:13] yhmo commented on #16858
Fixed by #16958

[2022-05-13 08:17] sunby commented on #16943
Yes, if segments are not loaded to a new querynode, the search request will fail.

[2022-05-13 08:17] #16384 closed

[2022-05-13 08:28] zhuwenxing opened #16979 "[Bug]: Search failed for the collection which index is `IVF_FLAT` after the replicas changed from 1 to 2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search succeed  for collection `task_3_FLAT` but failed for collection `task_3_IVF_FLAT`
The difference for two collections is the index they have
[code]

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

_No respons

[2022-05-13 09:06] XuanYang-cn commented on #16353
/unassign

[2022-05-13 09:12] YiyunNi commented on #16807
Close with [PR #1157](https://github.com/milvus-io/milvus-docs/pull/1517)

[2022-05-13 09:22] congqixia commented on #16114
Might be solved by #16946

[2022-05-13 09:33] #16968 closed

[2022-05-13 10:23] #16137 closed

[2022-05-13 10:23] #16401 closed

[2022-05-13 10:23] #16026 closed

[2022-05-13 10:23] #15403 closed

[2022-05-13 10:27] jaime0815 commented on #16715
it is caused by confluent Kafka client, https://github.com/confluentinc/confluent-kafka-go/issues/779

[2022-05-13 10:33] wangting0128 opened #16984 "[Bug]: [benchmark] Concurrency stability test, search raise error: StatusCode.DEADLINE_EXCEEDED, Deadline Exceeded, flush time is getting longer and longer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task: benchmark-backup-hpw72

test yaml:
client-configmap:client-random-locust-compaction
server-configmap:server-cluster-8c64m-compaction

server:
[code]

client pod: benchmark-backup-hpw72-2114025457

[locust_report_2022-05-13_979.log](https://github.com/milvus

[2022-05-13 10:50] karimBenzema12 commented on #16805
I am having the same problem. Will this issue be solved in version 2.0.3?

[2022-05-13 11:18] xiaofan-luan commented on #16971
We have fix on this issue and we will make a hotfix soon as possible~

[2022-05-13 11:26] xige-16 commented on #16949
This seems to be a bug. When judging whether the delete log is effective, the timestamp between the delete pk and the insert pk is not checked.

[2022-05-13 11:27] xige-16 commented on #16949
I will fix it soon.

[2022-05-13 11:28] yanliang567 commented on #16899
verified error msg: "JSON parse: row count is 0" on master-20220513-52fc9a55

[2022-05-13 11:28] #16899 closed

[2022-05-13 11:32] yanliang567 commented on #16892
verified fix on master-20220513-52fc9a55

[2022-05-13 11:32] #16892 closed

[2022-05-13 12:30] SimFG opened #16986 "Support Role-Based Access Control"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

https://wiki.lfaidata.foundation/display/MIL/MEP+29+--+Support+Role-Based+Access+Control

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-05-13 12:31] jaime0815 commented on #7703
#16986 support rbac

[2022-05-13 13:17] wangting0128 commented on #16984
argo task: benchmark-backup-dvcdh

test yaml:
client-configmap:client-random-locust-compaction
server-configmap:server-single-32c128m-compaction

server:
[code]

client pod: benchmark-backup-dvcdh-3809560430

[locust_report_2022-05-13_518.log](https://github.com/milvus-io/milvus/files/8688143/locust_report_2022-05-13_518.log)

client log:
[code]

[code]

[2022-05-13 14:23] jaime0815 opened #16989 "the newest pymilvus client connect milvus 2.0.2 occurs core dump"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

It seems a backward compatibility issue, use the newest pymilvus client to run nightly test cases with milvus 2.0.2, and query node core dump.

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anyt

[2022-05-13 15:24] #15584 closed

[2022-05-13 15:24] #15133 closed

[2022-05-13 16:24] #16391 closed

[2022-05-14 02:31] yanliang567 commented on #16858
verified fixed on master-20220513-52fc9a55

[2022-05-14 02:31] #16858 closed

[2022-05-14 02:54] yanliang567 opened #16992 "[Bug]: [bulkload] failed to bulk load numpy files in different folders in one request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

only 1 numpy file was imported successfully if importing 2 numpy files from two different folder at one request.

### Expected Behavior

all numpy files are imported successfully

### Steps To Reproduce

[code]

### Milvus Log

[code]

### Anything else?

files = '/6d

[2022-05-14 02:55] yanliang567 commented on #16992
/assign @yhmo
/unassign

[2022-05-14 02:58] yanliang567 commented on #16698
verified if imorted duplicate files, it reports errors

[2022-05-14 02:58] #16698 closed

[2022-05-14 02:58] yanliang567 commented on #16698
but if import 2 files from different folder, if not all succeed, see #16992

[2022-05-14 02:59] ThreadDao commented on #15665
I will re-verify later.

[2022-05-14 03:13] 530513750 opened #16993 "[Bug]: Delete by id successfully, the id can not be queried but can still be searched"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

我用docker-compose在单机上搭建的2.0.2分布式版本，创建和搜索的时候都加上了一致性等级的参数consistency_level="Strong" 还是有那个问题，按条件delete(expr="id in [2]")删除后，query(expr="id in [2]")不到数据，但是用向量特征可以search()到删除的数据id。下面是我测试的代码，可以直接执行来复现
from pymilvus import (
    connections,
    utility,
    FieldSchema,

[2022-05-14 03:30] xiaofan-luan opened #16994 "[Feature]: Support Query pagination"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Now Milvus is limited to return 65536 topK results at most, but it doesn't make sense if:
1) user want to iterate through all entites
2) range search, user don't know the exact limit
3) user searched 100 results and it's not enough, want to know t

[2022-05-14 03:31] xiaofan-luan commented on #16391
won't support it.
Instead we will follow ES to do the pagination
see #16994

[2022-05-14 04:13] #16356 closed

[2022-05-14 04:13] #15806 closed

[2022-05-14 04:13] #15874 closed

[2022-05-14 05:18] ThreadDao opened #16995 "[Bug]: [memory] Release collection hangs after the querynode OOMKilled and restarting"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Deploy milvus cluster with 2 querynodes, limit their memory 6Gi
2. Create an collection and insert 1000,000 entities
3. Load with 2 replicas and query successfully
4. Apply memory stress 6Gi on one querynode and it OOMKilled
5. After removing memory stress and quer

[2022-05-14 07:31] #15924 closed

[2022-05-14 09:07] qi49125 opened #16997 "[Bug]: The specified key does not exist"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

All the operations of loading or releasing the memory, and the query operation are abnormal.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

[code]

### Anything else?

_No response_

[2022-05-14 11:48] qi49125 commented on #16997
querynode:
[2022/05/14 08:49:17.318 +00:00] [ERROR] [impl.go:342] ["The specified key does not exist."] [stack="github.com/milvus-io/milvus/internal/querynode.(*QueryNode).LoadSegments.func1\n\t/go/src/github.com/milvus-io/milvus/internal/querynode/impl.go:342\ngithub.com/milvus-io/milvus/internal/querynode.(*QueryNode).LoadSegments\n\t/go/src/github.com/milvus-io/milvus/internal/querynode/impl.go

[2022-05-14 11:49] qi49125 commented on #16997
querycoord:
[2022/05/14 11:49:09.572 +00:00] [ERROR] [global_meta_broker.go:229] ["empty index paths, segmentID = 433200382331060227, fieldID = 101, buildID = 433200387097886722"] [stack="github.com/milvus-io/milvus/internal/querycoord.(*globalMetaBroker).parseIndexInfo\n\t/go/src/github.com/milvus-io/milvus/internal/querycoord/global_meta_broker.go:229\ngithub.com/milvus-io/milvus/internal/queryc

[2022-05-14 13:16] yanliang567 commented on #16995
/assign @congqixia
@congqixia  could you please help to look at this issue?

/unassign

[2022-05-14 13:17] yanliang567 commented on #16997
/assign @xiaofan-luan
/unassign

[2022-05-14 13:20] yanliang567 commented on #16993
@xige-16 I think you are trying to refactor on this feature.
/assign @xige-16
/unassign

[2022-05-14 20:06] #16381 closed

[2022-05-14 20:57] codepujan commented on #4105
Any updates on the issue? I've been running into inaccurate Hamming distance problems as well.

[2022-05-15 03:16] yongpengli-z opened #16999 "[Bug]: modify index test cases to 2.0 interface"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

currnet test cases is 1.0 interface

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-05-15 04:09] xiaofan-luan opened #17001 "[Bug]: Minio Chunk Manager did not handle error gracefully"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When list prefix, exist, the error is not handled correct.
Error Message didn't include which key is not exist and handled failed.

### Expected Behavior

Error in MInio is handled gracefully

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### A

[2022-05-15 04:19] xiaofan-luan opened #17004 "[Feature]: Segment loader load different field in parallel"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Currently our parallelism is for binlog level. There is no reason we can't load different field in parallel.

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything else? (Additional

[2022-05-15 04:27] #16423 closed

[2022-05-15 04:35] xiaofan-luan opened #17006 "[Enhancement]: Refactor and optimize retrieve performance"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Currently retrieve is happened when search done, if user specified to fetch some scalar/vector field then we go to chunk manager and fetch the data.

I would propose to:
1) Try to retrieve from index if possible. (For Index without PQ/SQ, most cases data is already in memory)

[2022-05-15 05:29] korjavin opened #17007 "[Bug]: Etcd crashloop on k8s"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

From time to time after one of etcd nodes stuck into enternal crashloop with a message
[code]

### Expected Behavior

I'd expect that etcd can survive restart.

### Steps To Reproduce

[code]

### Milvus Log

[code]

### Anything else?

_No response_

[2022-05-15 05:53] qi49125 commented on #16997
The involved set ID is 432520058327793665.
The Pulsar logs are as follows:
05:47:04.540 [BookKeeperClientWorker-OrderedExecutor-5-0] INFO org.apache.bookkeeper.mledger.impl.ManagedLedgerImpl - [public/default/persistent/by-dev-search-0] Creating ledger, metadata: {component=[109, 97, 110, 97, 103, 101, 100, 45, 108, 101, 100, 103, 101, 114], pulsar/managed-ledger=[112, 117, 98, 108, 105, 99, 47, 1

[2022-05-15 05:54] qi49125 commented on #16997
05:47:06.831 [bookie-io-1-5] INFO org.apache.bookkeeper.proto.AuthHandler - Authentication success on server side
05:47:06.831 [bookie-io-1-8] INFO org.apache.bookkeeper.proto.AuthHandler - Authentication success on server side
05:47:06.831 [bookie-io-1-14] INFO org.apache.bookkeeper.proto.AuthHandler - Authentication success on server side
05:47:06.831 [bookie-io-1-16] INFO org.apache.bookkeeper.

[2022-05-15 08:11] #17004 closed

[2022-05-15 09:44] LoveEachDay commented on #16862
/unassign
/assign @yearlz

[2022-05-15 09:48] LoveEachDay commented on #17007
This is a known issue for bitnami/etcd. You can find related issues here:

bitnami/bitnami-docker-etcd#29
bitnami/bitnami-docker-etcd#39
@korjavin If you encounter this problem, you'd manually remove the /bitnami/etcd/data/member_id file from this pod's pvc volume.

[2022-05-15 10:49] #16428 closed

[2022-05-15 10:49] #15939 closed

[2022-05-15 10:49] #16433 closed

[2022-05-15 12:35] yanliang567 commented on #17007
@korjavin please retry with suggestion above.
/assign @korjavin

/unassign

[2022-05-15 12:43] #16999 closed

[2022-05-15 13:37] #16413 closed

[2022-05-15 14:27] xiaofan-luan commented on #16972
so what's the plan?
for the pre-allocated segment ID, shall we return from proxy to data coord if it is not used?

[2022-05-15 14:27] xiaofan-luan commented on #16972
so we don't need to generate new segments

[2022-05-15 14:42] xiaofan-luan commented on #16642
please use english for the convenience of non chinese speakers, thanks~

[2022-05-15 14:43] xiaofan-luan commented on #16485
could you offer logs for all the node, the current log info isn't enough for debugging this issue @12304212

[2022-05-15 14:43] xiaofan-luan commented on #16485
/assign @12304212

[2022-05-15 15:30] xiaofan-luan commented on #4105
i

is this for 1.x or 2.x?

[2022-05-16 01:22] yanliang567 commented on #16485
@12304212 also could you please share more info about "real-time update"?

[2022-05-16 01:34] binbinlv commented on #16809
@congqixia

How about this issue now?

Continuously hang in the nightly tests:

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/532/pipeline/190

logs:
[artifacts-milvus-distributed-pulsar-master-532-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/532/artifact/artifacts-milvus-distributed-pulsar-master-532-

[2022-05-16 01:56] binbinlv commented on #16961
Continuously Failure:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/532/pipeline/134

[2022-05-16 01:57] binbinlv commented on #16961
Block the nightly test, so set it as critical urgent.

[2022-05-16 02:03] xiaofan-luan opened #17013 "[Enhancement]: ChunkManager interface should support ctx"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Current chunk manager didn't accept ctx for timeout and tracing control.
such as:
       Read(ctx, Context, filePath string) ([]byte, error)

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-05-16 02:06] xiaofan-luan commented on #7704
/reopen

[2022-05-16 02:13] czs007 opened #17014 "[Enhancement]: Simplify the name of max_length_per_row in String Field"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

max_length_per_row refers to the maximum length of the string field.
`per_row` is redundant.
It is recommended to directly change the name to `max_length`.

### Why is this needed?

Simplify

### Anything else?

_No response_

[2022-05-16 02:42] xige-16 commented on #16989
/assign @longjiquan

[2022-05-16 02:47] xige-16 commented on #16993
I'm looking into this isssue.

[2022-05-16 02:52] congqixia commented on #16809
working on it.

[2022-05-16 02:53] zhuwenxing commented on #16932
failed job: https://github.com/milvus-io/milvus/runs/6442743231?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/6514060864/artifacts/242431755
This issue will appear steadily, so increase the level.

[2022-05-16 02:55] longjiquan commented on #16989
`NewCollection` cgo call didn't catch exception, so core dump occured.

Old milvus didn't support string, so newer case with string type entered function `NewCollection` will fail. I'll fix this issue soon. thx for pointing out this. @jaime0815

/assign

[2022-05-16 02:58] longjiquan opened #17015 "[Enhancement]: Every cgo call should catch exceptions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

see https://github.com/milvus-io/milvus/issues/16989.

### Why is this needed?

Every cgo call in segcore and indexbuilder should catch exceptions when under execution, so the process won't panic and the caller can report to the users if any error occurs.

### Anything else?

[2022-05-16 02:58] longjiquan commented on #17015
/assign

[2022-05-16 03:04] zhuwenxing opened #17016 "[Bug]: Load timeout after Milvus recovered from querynode pod kill chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

failed job: https://github.com/milvus-io/milvus/runs/6442743352?check_suite_focus=true
log: https://github.com/milvus-io/milvus/sui

[2022-05-16 03:07] zhuwenxing commented on #16933
failed job: https://github.com/milvus-io/milvus/runs/6442743433?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/6514060864/artifacts/242431756
This issue will appear steadily, so increase the level

[2022-05-16 03:08] ThreadDao commented on #15744
@xiaofan-luan
1. it doesn't seem to be fixed on image `master-20220515-338edcd3` `test_delete_insert_same_id_growing` in /testcases/test_delete.py
[code]
2. it doesn't seem to be fixed on image `2.0.2-20220513-31a95400`
[code]

[2022-05-16 03:12] ThreadDao commented on #16417
1. it doesn't seem to be fixed on image `master-20220515-338edcd3` `test_delete_insert_same_id_growing` in /testcases/test_delete.py
[code]
2. it doesn't seem to be fixed on image `2.0.2-20220513-31a95400`
[code]

[2022-05-16 03:13] longjiquan commented on #17015
/assign @bigsheeper
/unassign

[2022-05-16 03:14] ThreadDao commented on #15744
yeah~ I verified it maybe fixed on image `2.0.2-20220513-31a95400`

[2022-05-16 03:21] zhuwenxing commented on #16288
some updates
version `master-20220515-338edcd3`
* datacoord pod kill: https://github.com/milvus-io/milvus/runs/6442743140?check_suite_focus=true
* rootcoord pod kill:  https://github.com/milvus-io/milvus/runs/6442743383?check_suite_focus=true

[2022-05-16 03:27] LoveEachDay commented on #16429
Another user case: milvus cluster (v2.0.2) with pulsar.
[logs.tar.gz](https://github.com/milvus-io/milvus/files/8696961/logs.tar.gz)

[2022-05-16 04:05] czs007 opened #17021 "[Enhancement]: Add logic for search grouping"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Currently,  search/query requests for the same Collection are executed sequentially in the querynode.
Additionally, search requests for different Collections are executed concurrently.
This looks messy. The querynode does not manage the concurrency of tasks very well.

1. we s

[2022-05-16 04:09] xiaofan-luan commented on #16429
@bigsheeper any progress on it?

[2022-05-16 04:16] xiaofan-luan commented on #17021
good suggestion,
I would suggest to use search grouping rather than search merging so it's more clear

[2022-05-16 04:17] xiaofan-luan commented on #17015
Agree, the panic of cgo looks so weird

[2022-05-16 04:59] soothing-rain opened #17023 "[Feature]: Support more basic query functions, like Data, Min, Max, etc."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Potential good first issue

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

_No response_

[2022-05-16 05:00] xiaofan-luan commented on #17023
good suggestion， we might want to add min/max/count support for expression

[2022-05-16 05:14] soothing-rain opened #17024 "[Feature]: Compression algorithm optimization wanted."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

We are looking forward to improve our compression algorithms to the next level. Ultimately we want to:
1. Reduce IO traffic during compaction
2. More likely to take deletion and expiring into account during compaction
3. Congestion control for com

[2022-05-16 05:51] xiaofan-luan opened #17026 "[Feature]: Support transaction KV in rockskv"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

RocksKV implements TxnKV but it will panic if you do MultiRemoveWithPrefix or MultiSaveAndRemoveWithPrefix.

We should implement the interface even if no one try to use

### Describe the solution you'd like.

_No response_

### Describe an alterna

[2022-05-16 06:06] jingkl commented on #16850
No fix still needs improvement

[2022-05-16 06:18] jingkl commented on #16850
assign @xige-16

[2022-05-16 06:19] yanliang567 commented on #16984
@congqixia  could u please help on this issue?

/assign @congqixia
/unassign

[2022-05-16 06:40] ThreadDao commented on #15744
I guess it doesn't seem to be fully fixed. Occasionally.
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-17018/1/pipeline/
[code]

[2022-05-16 06:48] XuanYang-cn opened #17029 "[Feature]: Support Search By ID"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Currently, We can combine 2 APIs to ack like SearchByID:
1. `vectors = query(expr=f"id in {ids}", output_field=["embeddings"])`
2. `search(vectors)`

It's inconvenient and inefficient, I'd like an API to directly SearchByID
`search(ids)`

Some wor

[2022-05-16 06:49] xiaofan-luan opened #17030 "[Bug]: TestGetShardLeaders is flake"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Error is:

2022-05-16T06:40:11.4409092Z [2022/05/16 06:40:11.438 +00:00] [WARN] [impl.go:1145] ["GetShardLeadersResponse failed to get replicas"] [role=querycoord] [collectionID=2021] [msgID=0] [error="getCollectionInfoByID: can't find collectionID=2021 in collectionI

[2022-05-16 07:00] xiaofan-luan opened #17031 "[Enhancement]: Config map has to be thread safe"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

We hit many data race in conf module, for example:

https://github.com/milvus-io/milvus/runs/6446784689?check_suite_focus=true

We should make conf map thread safe

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-05-16 07:15] jaime0815 commented on #16809
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/531/artifacts

nightly hang due to datanode core dump.

[code]

[2022-05-16 07:21] yah01 commented on #16705
This will be fixed with the rebalance between replicas feature, which will be implemented after version 2.1

[2022-05-16 07:46] #16937 closed

[2022-05-16 07:47] xige-16 commented on #16961
The reason is that the sealed segment does not update the size of the delete record when deleting the data, resulting in the delete operation not taking effect in subsequent queries.

[2022-05-16 07:58] jingkl commented on #15522
milvus： master-20220515-338edcd3
pymilvus：pymilvus==2.1.0.dev39

argo
benchmark-cluster-cron-1652648400
server-configmap
server-single-16c64m
client-configmap
client-search-filter-sift50m-ivf-flat-2048

[code]

server：
[code]

[2022-05-16 08:04] yah01 commented on #16627
Hi @zhuwenxing,
this has been fixed with #16921

[2022-05-16 08:05] jingkl commented on #16941
argo
benchmark-cron-1652630400
server-configmap
server-single-16c64m
client-configmap
client-search-sift50m-ivf-flat-2048

client log：
[code]

milvus:master-20220515-338edcd3
 pymilvus :pymilvus-2.1.0.dev39
server
NAME                                                           ```
  READY   STATUS      RESTARTS   AGE     IP             NODE                      NOMINATED NODE   READINESS GATES
benc

[2022-05-16 08:25] XuanYang-cn commented on #16947
@ThreadDao Cannot reproduce locally under the latest master.

I used 5 QueryNodes

[code]

[2022-05-16 08:26] XuanYang-cn commented on #16947
/assign @ThreadDao

[2022-05-16 08:27] congqixia opened #17035 "[Bug]: handoff error log logic is reversed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

"Failed to handoff" is printed when there is no error while "success to handoff" is printed when there is some error

### Expected Behavior

Log is print according to the actual running status.

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

###

[2022-05-16 08:38] jingkl opened #17037 "[Bug]:[Benchmark][cluster] Milvus search raise an error"message=Invalid shard leader""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo：
benchmark-cron-1652630400
server-configmap
server-cluster-16c64m
client-configmap
client-search-sift50m-ivf-flat-2048

client log:

[code]
milvus：master-20220515-338edcd3
pymilvus：pymilvus==2.1.0.dev39

[code]

### Expected Behavior

_No response_

### Steps To

[2022-05-16 08:42] XuanYang-cn opened #17038 "[Bug]: Load with replica_number=2, Query hangs forever"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

QueryNodes number: 5
replica_number: 2
commit: e38c6f6c4

The next drop_collection hangs forever for the same collection.
The following loads hangs forever for new collections.
[code]
**scripts:**

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[2022-05-16 08:46] XuanYang-cn commented on #17038
The stocking log
[code]

[2022-05-16 09:04] jingkl commented on #16150
argo
benchmark-cluster-cron-1652562000
server-configmap
server-single-32c128m
client-configmap
client-get-local50m-512
pymilvus:pymilvus==2.1.0.dev39
milvus ：
[code]

server：
[code]

[2022-05-16 09:08] jingkl commented on #16941
argo
benchmark-cron-1652544000
server-configmap
server-single-16c64m
client-configmap
client-search-sift50m-ivf-flat-2048

milvus ：master-20220514-328ab7ec
pymilvus==2.1.0.dev39

[code]
NAME                                                      ```
       READY   STATUS      RESTARTS   AGE     IP             NODE                      NOMINATED NODE   READINESS GATES
benchmark-cron-1652544000-6-etcd

[2022-05-16 09:13] jingkl commented on #17037
argo
benchmark-cron-1652544000
server-configmap
server-cluster-16c64m
client-configmap
client-search-sift50m-ivf-flat-2048

pymilvus==2.1.0.dev39
master-20220514-328ab7ec

[code]

[code]

[2022-05-16 09:16] jingkl commented on #16150
master-20220513-23f7ef93

argo
benchmark-cluster-cron-1652475600-1
server-configmap
server-single-32c128m
client-configmap
client-get-local50m-512
[code]
pymilvus-2.1.0.dev39

[code]

[2022-05-16 09:20] jingkl commented on #16941
argo
benchmark-cron-1652457600
server-configmap
server-single-16c64m
client-configmap
client-search-sift50m-ivf-flat-2048

- pymilvus==2.1.0.dev39
- master-20220513-23f7ef93

[code]
NAME
[code]

[2022-05-16 09:22] ThreadDao opened #17040 "[Bug]: [memory] No auto load balancing when the difference between the memory usage of the two nodes is greater than 30%"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Deploy milvus with 5 querynodes and limit their memory 6Gi
2. Insert 1000,000 128dim entities
3. Load with 2 replicas
Replicas:
[code]
Segments number of querynode-3 is 62
[code]
4. Apply 90% size memory stress on querynode-3, and no auto load balance occurs inside

[2022-05-16 09:25] jingkl commented on #17037
argo
benchmark-cron-1652457600
server-configmap
server-cluster-16c64m
client-configmap
client-search-sift50m-ivf-flat-2048

client log

[code]

 milvus: master-20220513-23f7ef93
pymilvus:pymilvus==2.1.0.dev39
[code]

[2022-05-16 09:36] xige-16 commented on #16993
This search result is very strange, milvus will deduplicate according to the pk in the search result, but this result still has duplicate pk

[2022-05-16 10:02] yanliang567 commented on #17040
@soothing-rain could you please hlep on this issue?

/assign @soothing-rain
/unassign

[2022-05-16 10:02] yanliang567 commented on #17037
/assign @sunby
/unassign

[2022-05-16 10:02] wangting0128 commented on #16784
verify image：
master-20220511-a8b81e21

[2022-05-16 10:03] yanliang567 commented on #17016
/assign @XuanYang-cn
/unassign

[2022-05-16 10:05] yanliang567 commented on #16979
/assign @congqixia
/unassign

[2022-05-16 10:06] yanliang567 commented on #16971
/assign @xiaofan-luan

[2022-05-16 10:07] yanliang567 commented on #16933
/assign @XuanYang-cn
/unassign

[2022-05-16 10:10] yanliang567 commented on #16932
/assign @xiaocai2333
/unassign

[2022-05-16 10:10] yanliang567 commented on #16919
/assign @sunby
/unassign

[2022-05-16 10:13] yanliang567 commented on #16265
I think that would be good if return an error with meaningful msg.

[2022-05-16 10:13] yanliang567 commented on #16962
/assign @congqixia
/unassign

[2022-05-16 10:16] yanliang567 commented on #16963
/assign @xiaofan-luan
/unassign

[2022-05-16 10:17] yanliang567 commented on #16923
not repro on master-20220513-52fc9a55

[2022-05-16 10:17] #16923 closed

[2022-05-16 10:18] yanliang567 commented on #16913
/assign @congqixia
/unassign

[2022-05-16 10:26] yanliang567 commented on #16481
@xiaofan-luan what the issue issue you mentioned above, please link it in this issue and close this one

/assign @xiaofan-luan
/unassign

[2022-05-16 10:27] yanliang567 commented on #16473
/assign @soothing-rain
@soothing-rain was this fixed already?

/unassign

[2022-05-16 10:29] #17035 closed

[2022-05-16 10:29] yanliang567 commented on #16411
@jiaminger could you please retry on lastest 2.0.2 and help to upload the logs according to https://github.com/milvus-io/milvus/tree/master/deployments/export-log

/assign @jiaminger
/unassign

[2022-05-16 11:17] #17026 closed

[2022-05-16 11:18] xiaocai2333 commented on #16916
1. DataNode sends ttMsg to DataCoord every 200ms for each DML channel.
2. When DataCoord receives ttMsg, it will flush the corresponding channel.
  2.1 DataCoord gets segmnets that need to flush.
  2.2 DataCoord calls the Flush for DataNode.
  2.2 DataNode flushes the segment.
    2.2.1 DataNode writes the binlogs to minio/(local storage).
3. Flush complete，and delete the segmentsInfo in SegmentMa

[2022-05-16 11:20] xige-16 commented on #16993
My mistake, the input of search is 10 vectors, topk=1, so the repeated pk is not in the same nq.

[2022-05-16 11:25] #17001 closed

[2022-05-16 11:43] cydrain commented on #17031
[code]

[2022-05-16 12:11] cydrain commented on #17031
Read at 0x000005611df0 by goroutine 121:
  github.com/milvus-io/milvus/internal/indexnode.getMockSystemInfoMetrics()

Previous write at 0x000005611df0 by goroutine 8:
  github.com/milvus-io/milvus/internal/util/paramtable.(*MinioConfig).initBucketName()

Read at 0x000005611f68 by goroutine 121:
  github.com/milvus-io/milvus/internal/indexnode.getMockSystemInfoMetrics()

Previous write at 0x0000056

[2022-05-16 12:25] jaime0815 opened #17041 "[Enhancement]: Unified metastore interface"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

To support the unified metastore interface,  we can implement kv metastore or table metastore based on the unified interface.

The parts of service discovery and data watch still don't change,  all data watch operations will decouple in the future.

### Why is this needed?

_N

[2022-05-16 13:45] zhuwenxing opened #17043 "[Bug]: Search and query failed if output_fields is `["int64", "float", "varchar"]`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

search failed if `output_fields=["int64", "float", "varchar"]`, but ok for `output_fields=["int64", "float"]`
[code]

### Expected Behavior

search success if the params are correct; if params are not correct, please report an easy-to-read error message

### Steps To

[2022-05-16 13:46] jingkl opened #17044 "[Bug]: [benchmark][cluster]Milvus uses kafka and search with 1b, raise error: StatusCode.DEADLINE_EXCEEDED, Deadline Exceeded”"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo
benchmark-backup-npgc5
server-configmap
server-cluster-8c64m-datanode2-indexnode4-querynode6-kafka
client-configmap
client-random-locust-search-84h-1b

client log

[code]

milvus master-20220513-23f7ef93
pymilvus:  pymilvus-2.1.0.dev39

NAME

[2022-05-16 14:17] yanliang567 commented on #17043
sounds like a string support related issue. @xige-16 could you please take a look?

/assign @xige-16
/unassign

[2022-05-16 14:23] yanliang567 commented on #17044
@jaime0815 could you please take a look at this issue?

/assign @jaime0815
/unassign

[2022-05-16 14:56] xiaofan-luan commented on #16265
Exactly~ @xiaocai2333 maybe we should return more meaningful err and print detailed logs here

[2022-05-16 17:17] #16447 closed

[2022-05-17 01:53] zhuwenxing commented on #16740
verified and passed with `pymilvus==2.1.0.dev57`

[2022-05-17 01:53] #16740 closed

[2022-05-17 01:53] xiaofan-luan commented on #16446
Keep this issue open~

[2022-05-17 02:11] binbinlv commented on #16961
Verified and fixed after fix pr #17033

[2022-05-17 02:15] binbinlv commented on #16809
The cluster pipeline did not hang last nightly, fixed and close this issue.

(1) https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/533/pipeline

(2)https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/534/pipeline/141

[2022-05-17 02:15] #16809 closed

[2022-05-17 02:16] jingkl opened #17046 "[Bug][test-string]: search and query use prefix expressions report an error"fail to search on all shard leaders, err=fail to Search, QueryNode ID=4, reason=Search 4 failed""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

query testcase
[code]

search testcase
[code]
log:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-05-17 02:16] binbinlv commented on #16499
Did not hang last nightly, so close this issue first, and will reopen it if it occurs in the future.

[2022-05-17 02:16] #16499 closed

[2022-05-17 02:19] jingkl commented on #16850
- Milvus version:master-20220516-59bc0a70
- SDK version(e.g. pymilvus v2.0.0rc2):2.1.0.dev57
Already verified, fixed

[2022-05-17 02:23] binbinlv commented on #16517
This issue was not reproduced and deleted related issue has been fixed in milvus(pulsar), so close this first and will reopen it if it occurs in the future.

[2022-05-17 02:23] #16517 closed

[2022-05-17 02:24] binbinlv commented on #16515
This issue has not been reproduced recently, so close it first and will reopen it if it occurs in the future.

[2022-05-17 02:24] #16515 closed

[2022-05-17 02:30] binbinlv commented on #16516
Search timeout was reproduced in the latest nightly:
1. https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/534/pipeline/
1.1 milvus log:
[artifacts-milvus-distributed-kafka-master-534-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/534/artifact/artifacts-milvus-distributed-kafka-master-534-pymilvus-e2e-logs.ta

[2022-05-17 02:47] soothing-rain commented on #16417
/unassign
/assign @xige-16

[2022-05-17 02:56] #15873 closed

[2022-05-17 03:12] #16926 closed

[2022-05-17 03:23] cydrain commented on #17031
This issue is because getMockSystemInfoMetrics() read data from paramtable while IndexNode has not finished initializing paramtable.
This issue is a usage issue, not a design issue, and cannot be resolved by make paramtable thread safe.
Ask @xiaocai2333 to help to check.

[2022-05-17 03:30] xiaocai2333 commented on #17031
/assign

[2022-05-17 03:41] xige-16 commented on #17043
Okey

[2022-05-17 04:01] jingkl opened #17048 "[Bug]: [benchmark] [cluster] Milvus uses kafka and updates the image error without recovery, report an error : "fail to search on all shard leaders, err=fail to get shard leaders from QueryCoord: no replica available""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
benchmark-backup-npgc5
server-configmap
server-cluster-8c64m-datanode2-indexnode4-querynode6-kafka
client-configmap
client-random-locust-search-84h-1b
[code]

server:
NAME                                                          READY   STATUS    RESTA

[2022-05-17 04:14] jingkl commented on #17048
agro
benchmark-backup-gqt4l
server-configmap
server-cluster-8c64m-querynode2
client-configmap
client-random-locust-search-filter-100m-ddl-r8-w2-replica2
milvus： master-20220516-53551538
pymilvus-2.1.0.dev39

client log
[code]

sever
[code]

config.yaml

[code]

1、create collection
2、build index of ivf_sq8
3、insert 100m vectors
4、flush collection
5、build index with the same params
6、load collection

[2022-05-17 04:37] XuanYang-cn commented on #16835
It's wait_for_ready and the combination of `timeout=None` makes the API hangs forever
- [ ] we need to get rid of `wait_for_ready` on 2.0.3 and 2.1.0

[2022-05-17 05:12] xige-16 commented on #16993
This is a bug of delete, it has been fixed on master, the problem is very complicated. . .　@530513750

[2022-05-17 05:54] yanliang567 commented on #17048
@jaime0815 could you please help on this issue?

/assign @jaime0815
/unassign

[2022-05-17 05:58] jaime0815 commented on #17048
I am looking at this issue

[2022-05-17 06:05] xige-16 commented on #16417
/unassign @soothing-rain
/assign

[2022-05-17 06:15] xige-16 commented on #16993
releated pr https://github.com/milvus-io/milvus/pull/16863

[2022-05-17 06:21] xige-16 commented on #16850
The problem is that if a duplicate pk is inserted, for example, insert pk1 first, then insert pk1, and then delete pk1, then only the second inserted pk1 is deleted, and the first inserted pk1 can still be queried. This bug has been fixed.

[2022-05-17 06:22] xige-16 commented on #16993
The problem is that if a duplicate pk is inserted, for example, insert pk1 first, then insert pk1, and then delete pk1, then only the second inserted pk1 is deleted, and the first inserted pk1 can still be queried. This bug has been fixed.

[2022-05-17 06:23] xige-16 commented on #16993
/unassign
/assign @yanliang567

[2022-05-17 06:38] xige-16 commented on #15744
/unassign @soothing-rain

[2022-05-17 06:50] xige-16 commented on #15744
Now only the delete data's pk value is compared to judge whether the delete log is effective, but the time sequence relationship between delete data and insert data with same pk is not judged. As a result, the data inserted after delete data's timestamp is also deleted, so delete cannot be queried.

[2022-05-17 06:50] xige-16 commented on #15744
same issue #16417

[2022-05-17 06:53] xige-16 commented on #16949
same with #15744

[2022-05-17 06:54] XuanYang-cn opened #17053 "[Bug]: QueryCoord cannot recover from failover when querynode > 1 and replica_number = 2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

QueryNodes number: 5
replica number: 2

- prepare_data(), run_test(1)

- stop all services
- start all services

- run_test(1), search failed:
[code]

QueryCoord abnormal logs:
[code]

### Expected Behavior

The script:

- before restart: run with `prepare_data()` and

[2022-05-17 06:55] XuanYang-cn commented on #17053
/assign @congqixia

[2022-05-17 06:59] xige-16 commented on #17043
If the index for VarChar field has been created, then the querynode loads the index file of the varchar field when loading, so there is no original string data in the querynode memory, and the original data cannot be retrieved through the output field when searching. This is a bug. I'm fixing it.

[2022-05-17 07:00] XuanYang-cn commented on #17053
[code]

3, 6, 7, 8, 9 is the old QueryNodes

14, 19, 21, 18, 20 the restarted QueryNodes

[2022-05-17 07:06] ThreadDao commented on #16417
May I ask where is the data returned by the query? Could you post the log? I think the assertion fails because the query returns empty. It's not about this method.
In the log below, `check_items[exp_res]`represents the expected result, and `query_res` is the actual result, which is not as expected, so the case fails.
[code]

[2022-05-17 07:08] #16850 closed

[2022-05-17 07:24] XuanYang-cn opened #17055 "[Bug]: Proxy are using the same replica all the time"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Even when we have multiple replicas, proxy uses one replica all the time.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-05-17 07:25] bigsheeper commented on #16859
Proxy also need a cache for checking partitions load state

[2022-05-17 07:26] xiaocai2333 commented on #16916
/assign @yhmo
/unassign

[2022-05-17 07:50] ThreadDao commented on #15665
This issue is still the same. image `master-20220513-c5149c7e`
There are only merge type compaction plan
[code]

[2022-05-17 07:57] congqixia opened #17056 "[Bug]: CacheEnabled for VectorChunkManager is read from wrong config key"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

In `queryShardService`, local cache enabled config is read from "localStorage.Enabled" key.

### Expected Behavior

Use `QueryNodeCfg.CacheEnabled` instead.
Maybe change to unified configuration in the future.

### Anything else?

Related to #17038

[2022-05-17 07:58] congqixia commented on #17056
/unassign @yanliang567
/assign

[2022-05-17 08:10] yah01 commented on #17053
/assign

[2022-05-17 08:29] dubeamit opened #17059 "Milvus 1.1.1 very slow while insert"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus is being runned in cluster node:- read/write node and read node.
Previously inserting on rw node was taking 1-2 second while now it has shot up to 30-40 second, often also going for 2 minutes

### Expected Behavior

![image](https://user-images.githubuserconten

[2022-05-17 08:34] yanliang567 commented on #17055
Besides, we want to know when and how does proxy load balance.

[2022-05-17 08:47] xiaofan-luan opened #17060 "[Bug]: Proxy service_test did don't guarantee close is happened after start"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

In Test_NewServer, since open a rpc server is in async, it could happen rpc server is started after stop, and test case fail.

https://github.com/milvus-io/milvus/actions/runs/2336029461/attempts/2

### Expected Behavior

_No response_

### Steps To Reproduce

_No res

[2022-05-17 08:57] xiaofan-luan commented on #15966
/assign @soothing-rain please help on it~

[2022-05-17 08:58] congqixia opened #17062 "[Bug]: VectorChunkManager will have great performance downgrade if localCache is disabled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When `localCacheEnabled` is set to `false` when create a `VectorChunkManager`, the binlog file will be retrieved EVERY time `segment.fillFieldData` is called.
Which means, if the original vector is needed for a Query on a collection with an index does not store the or

[2022-05-17 08:58] xiaofan-luan commented on #16288
/assign @soothing-rain

[2022-05-17 08:58] jiaoew1991 commented on #16733
I submitted a pr for the first step: move arrow dependency to core module

[2022-05-17 09:00] xiaofan-luan commented on #16114
/assign @ThreadDao please help on double check the backlog leakage issue.

[2022-05-17 09:03] JackLCL commented on #16657
@aakejiang Any updates?

[2022-05-17 09:30] francohandel commented on #12169
@yanliang567 i use milvus v2.0.2 in docker and i still do encounter this issue where by anytime i restart docker or rebuild by docker image my search function returns an empty result. what might be the possible cause?

[2022-05-17 09:32] yanliang567 commented on #17059
/assign @yhmo
/unassign

[2022-05-17 09:37] #17056 closed

[2022-05-17 09:39] congqixia commented on #17038
@XuanYang-cn After #17058 is merged, this issue shall be resolved. Could you please verify?
/unassign
/assign @XuanYang-cn

[2022-05-17 09:47] 530513750 commented on #16993
Thanks for your reply, indeed, my data have duplicate pk. I want know how can I delete all data "id=2" in the collection. Another problem, why I delete one of the duplicate pk record, but query() results is "[]"

[2022-05-17 09:48] 530513750 commented on #16993
Thanks for your reply, indeed, my data have duplicate pk. I want know how can I delete all data "id=2" in the collection. Another problem, why I delete one of the duplicate pk record, but query() results is "[]"

[2022-05-17 10:07] xTerry commented on #16366
@WeiDong-Shi How to solve it? What configuration has been modified? I have encountered the same problem

[2022-05-17 10:20] yanliang567 commented on #12169
@francohandel please file a new issue and provide the info such as reproduce steps and logs for investigation. thanks.

[2022-05-17 10:45] congqixia commented on #16824
Hi @ThreadDao does this problem still exist?

[2022-05-17 10:51] congqixia commented on #17053
/unassign

[2022-05-17 10:55] XuanYang-cn commented on #17038
verified and fixed

[2022-05-17 10:55] #17038 closed

[2022-05-17 11:02] xTerry commented on #13988
I'll try,But has still errors.???

[2022-05-17 11:22] congqixia commented on #16979
@zhuwenxing This problem does not reproduce with latest master branch. #17034 shall be the fixing PR. Could you please verify?
/unassign
/assign @zhuwenxing

[2022-05-17 11:52] longjiquan commented on #16914
fixed by https://github.com/milvus-io/milvus/pull/16955

[2022-05-17 11:52] #16914 closed

[2022-05-17 12:35] xige-16 opened #17066 "[Bug]: Search/query is incorrect if the same pk data is inserted after delete"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. insert pk1
2. delete pk1
3. insert pk1
4. search/query pk1 with strong consistency

Then the new inserted pk1 can't be searched or queryed

### Expected Behavior

the new inserted pk1 can also be searched or queryed

### Steps To Reproduce

_No response_

### Milvu

[2022-05-17 12:37] xige-16 commented on #17066
releated with https://github.com/milvus-io/milvus/issues/16949 https://github.com/milvus-io/milvus/issues/15744 https://github.com/milvus-io/milvus/issues/16417

[2022-05-17 12:38] xige-16 commented on #17066
/assign

[2022-05-17 12:39] xige-16 commented on #17066
/unassign @yanliang567

[2022-05-17 12:49] xige-16 opened #17067 "[Bug]: query/search failed when create index for scalar field and load"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

If a scalar column is indexed and querynode loads the index file into memory, some operations that require raw data will be affected, such as
１．expr= "a > b", (a and b are two scalar column names) not work
２．search with output field specifies an indexed scalar column

[2022-05-17 12:50] xige-16 commented on #17067
releated with https://github.com/milvus-io/milvus/issues/17043

[2022-05-17 12:51] zhuwenxing commented on #15966
latest failed job :
https://github.com/milvus-io/milvus/runs/6442743383?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/6514060864/artifacts/242431761

[2022-05-17 12:53] zhuwenxing commented on #15966
It may be related to this issue https://github.com/milvus-io/milvus/issues/16288

[2022-05-17 12:59] xiaofan-luan commented on #17062
Knowing it, any suggestion?
@czs007 @sunby @xige-16

[2022-05-17 13:00] xiaofan-luan commented on #17062
One possible solution is to retrieve through index, but not all index support get original vector, such as IVFPQ

[2022-05-17 13:01] xiaofan-luan commented on #17062
Another possible solution is to load vector into memory, that's why we enable local cache because we don't want to load original vector into memory

[2022-05-17 13:17] jaime0815 opened #17068 "refactor kafka msgstream implementation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

- Add some limitations just to support the following case:
  1.   can not invoke Seek after Chan
  2.   can not invoke Seek  after Seek
  3.   either only invoke Chan or Invoke Chan after seek
- Add a goroutine to consume events of the Producer events channel
- Remove produce

[2022-05-17 13:33] jaime0815 commented on #16516
nightly 533: panic because of DropVirtualChannel failed
[code]

[2022-05-18 01:54] #16916 closed

[2022-05-18 01:58] longjiquan commented on #17046
Already fixed by #17050 . Please retry this case. thx.
/assign @jingkl

[2022-05-18 02:05] xiaofan-luan commented on #17043
So I guess currently retrieve should happen on chunkManager?

[2022-05-18 02:17] jingkl commented on #17046
pymilvus :2.1.0.dev57
milvus tag: master-20220517-b37b87eb
Already fixed

[2022-05-18 02:17] #17046 closed

[2022-05-18 02:34] binbinlv commented on #16516
@jaime0815  Could you help to confirm whether it is the same root cause for the latest nightly:

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/535/pipeline

Failed cases:
FAILED testcases/test_search.py::TestCollectionSearch::test_search_multi_collections[5000-2-128-True-False]
FAILED testcases/test_search.py::TestCollectionSearch::test_search_multi_

[2022-05-18 02:35] binbinlv commented on #16516
Set this issue as critical urgent for reproduction in every nightly tests (only kafka pipeline)

[2022-05-18 02:36] soothing-rain commented on #17040
Looks like an issue with in-mem replicas

/unassign
/assign @congqixia

[2022-05-18 02:37] jingkl commented on #16150
argo
benchmark-cluster-cron-1652821200
server-configmap
server-single-32c128m
client-configmap
client-get-local50m-512
milvus master-20220517-127dd34b
pymilvus==2.1.0.dev39
[code]
[code]

[2022-05-18 02:37] wangting0128 opened #17072 "[Bug]: [benchmark][cluster] Milvus sets up two replicas, and the concurrent test raise error: StatusCode.UNAVAILABLE, Socket closed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task: benchmark-backup-7bhxx

test yaml:
client-configmap:client-random-locust-search-filter-100m-ddl-r8-w2-replica2
server-configmap:server-cluster-8c64m-querynode2

server:
[code]

client pod: benchmark-backup-7bhxx-2920667677

client log file:  locust_report_2

[2022-05-18 02:52] congqixia commented on #16150
[code]
Still memory issue. Not fixing for now. Please increase the memory limit. @jingkl
/unassign
/assign @jingkl

[2022-05-18 03:00] congqixia commented on #16965
Hi @ThreadDao , the original log has logic problem. The related pr has been merged. Could you please kindly redo the test and provide the log again?

[2022-05-18 03:04] jingkl commented on #16150
How much memory do I need to be able to do this? It's already 128GB

[2022-05-18 03:13] xiaofan-luan commented on #17031
We should help not only on specific case but also make the config map thread safe

[2022-05-18 03:14] jingkl commented on #16941
argo
benchmark-cron-1652803200
server-configmap
server-single-16c64m
client-configmap
client-search-sift50m-ivf-flat-2048
 master-20220517-127dd34b
pymilvus==2.1.0.dev39

[code]

[code]

[2022-05-18 03:14] xiaofan-luan commented on #17062
might also be related to https://github.com/milvus-io/milvus/issues/17006

[2022-05-18 03:22] wowococo commented on #17068
Are you trying to use Producer events channel instead of deliveryChan ?

[2022-05-18 03:31] zhuwenxing commented on #16715
/assign
/unassign @jaime0815

[2022-05-18 03:37] xige-16 commented on #17062
If the binlig file corresponding to the raw data can be found through the pks or rowID of the search/query result, then we can only pull the data of the specified binlog file, instead of pulling the segment's all binlog data when cache==false.

[2022-05-18 03:37] xiyichan opened #17073 "[Enhancement]: Proxy SSL/TLS support one-way authentication"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

proxy support one-way authentication

### Why is this needed?

support 2 ways to SSL/TLS

### Anything else?

_No response_

[2022-05-18 03:38] letian-jiang commented on #16965
/unassign @yah01
/assign

[2022-05-18 03:39] xige-16 commented on #17062
In this way, we may need to control that the range of rowIDs corresponding to different binlog files cannot overlap.

[2022-05-18 03:39] xiyichan commented on #17073
/assign @xiyichan

[2022-05-18 03:41] zhuwenxing commented on #16715
The last 5 tests of Kafka pod kill chaos test all passed.
verified in version `master-20220517-127dd34b`

[2022-05-18 03:41] #16715 closed

[2022-05-18 03:42] xige-16 commented on #17043
Yes

[2022-05-18 03:48] soothing-rain commented on #16860
We have a recent fix to this issue, feel free to try out!

`docker pull milvusdb/milvus:v2.0.2-hotfix-16885`

[2022-05-18 03:49] soothing-rain commented on #16860
/unassign
/assign @bestRiven

[2022-05-18 03:55] congqixia commented on #16150
Hi @xige-16 , could you please help investigate load memory problem?
/unassign @jingkl
/assign @xige-16
See also #16887

[2022-05-18 03:56] congqixia commented on #16887
/unassign
/assign @xige-16
Might related to #16150 , load memory problem.

[2022-05-18 03:58] yah01 commented on #16627
hi @zhuwenxing
A new PR has been merged, please check this

[2022-05-18 04:18] congqixia commented on #16353
/unassign
/assign @soothing-rain
@soothing-rain , could you please help investigating this issue?

[2022-05-18 05:30] JackLCL commented on #16661
Hi bestRiven ,did you solve this problem? If it is not resolved, can you use this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log
) to export all the logs of milvus and upload them to this issue?

A more detailed log will facilitate us to further analyze this problem. At present, based on the information you have given, we cannot reproduce your problem.

[2022-05-18 05:32] JackLCL commented on #16661
@bestRiven

[2022-05-18 05:43] Renekton commented on #16657
I have changed to the stand-alone version, and the problem still exists.
The log as shown as below：
[milvus-stand-alone.zip](https://github.com/milvus-io/milvus/files/8713514/milvus-stand-alone.zip)

[2022-05-18 06:00] Renekton commented on #16657
I deleted the maximal collection in my milvus after the above operation, and then restart the milvus. Now the milvus could not be started. the error log as shown as below :
[milvus-can-not-be-started.zip](https://github.com/milvus-io/milvus/files/8713585/milvus-can-not-be-started.zip)

![image](https://user-images.githubusercontent.com/7531084/168967922-5bbdb110-8fb0-4dcd-9dea-32d5fc880d41.png)

[2022-05-18 06:24] #16145 closed

[2022-05-18 06:36] yanliang567 commented on #16657
@aakejiang could you please take a look at this issue?

[2022-05-18 07:13] xiaofan-luan opened #17076 "[Feature]: Support balance related interface"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

1）list segments of a collection
2）move segment
3）....

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

_No response_

[2022-05-18 07:13] xiaofan-luan commented on #17076
we want to implement these interface with CLI and Attu also

[2022-05-18 07:14] xiaofan-luan commented on #17076
/assign @XuanYang-cn

[2022-05-18 07:24] yanliang567 opened #17077 "[Bug]: search error "Invalid shard leader" after bulk load 2m data for 3 times"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

search returns error:
[code]

### Expected Behavior

search successfully

### Steps To Reproduce

[code]

### Milvus Log

[invalid.shard.leader.log.zip](https://github.com/milvus-io/milvus/files/8714046/invalid.shard.leader.log.zip)

### Anything else?

_No response_

[2022-05-18 07:25] yanliang567 commented on #17077
@soothing-rain not sure it was caused by memory replica(although i have multi-replicas) code or not, please take a look first.

/assign @soothing-rain
/unassign

[2022-05-18 07:29] soothing-rain commented on #17077
I think it is related to multi-replicas as "shard leader" is the concept introduced by multi-replicas :)

[2022-05-18 07:36] czs007 opened #17079 "[Enhancement]: Configure indexSliceSize to 16MB"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I want to increase indexSliceSize to 16MB.
4MB is too small, which will cause a large index file (say 1GB) to be sliced ​​into 256 smaller files. The number of  small file appears to be high.
16MB is a reasonable value.
For S3, it is recommended that a large workload be cut in

[2022-05-18 07:54] yanliang567 commented on #17077
@congqixia could you please also take a look

[2022-05-18 07:54] yanliang567 commented on #17077
/assign @congqixia

[2022-05-18 08:25] #16486 closed

[2022-05-18 08:28] SimFG opened #17083 "[Bug]: fail TestChannelManager_StateTransfer ut"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/21985684/168993733-c6c4737e-371a-459e-a478-e10971f8a705.png)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-05-18 08:35] soothing-rain commented on #16473
Yes it is fixed

[2022-05-18 08:38] soothing-rain commented on #16821
Fixed in 2.0.2 hotfix and in latest master.

[2022-05-18 08:44] XuanYang-cn commented on #17072
[code]

[2022-05-18 09:22] SimFG commented on #17083
solve: #17082

[2022-05-18 09:22] #17083 closed

[2022-05-18 09:36] jingkl opened #17086 "[Bug]: [benchmark] [standalone] Milvus updates the image error without recovery, report an error : "fail to search on all shard leaders, err=fail to get shard leaders from QueryCoord: no replica available""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo:
benchmark-backup-2tff8-1
server-configmap
server-single-32c128m
client-configmap
client-random-locust-100m-ddl-r8-w2

client log:
[code]

server:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Any

[2022-05-18 09:48] czs007 opened #17087 "[Enhancement]: Set timestamp in server side in case of Bounded consistency level"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Currently for Bound consistency, the client takes the client's time minus the default configured 5 seconds as the gurarantee_timestamp.
When the client time and server time are very different, this leads to the failure of Bound consistency. see https://github.com/milvus-io/mil

[2022-05-18 09:54] jaime0815 commented on #17068
Nope, delivery chan is sync produce usage, but still needs to invoke Produce events, or it may occur hang on the client-side

[2022-05-18 10:53] congqixia commented on #17087
Make sense. In my first opinion, client/sdk shall pass a duration instead of ts to avoid time lag issue. In this case, bounded consistency level works like the built-in duration const.

[2022-05-18 11:01] ThreadDao opened #17091 "[Bug]: Search failed `fail to get shard leaders from QueryCoord: no replica available` after upgrading milvus image"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Deploy milvus `127dd34b` with 5 querynodes and limit memory 6Gi
2. Create collection with 2 shards and insert 5000 entities (2 segments)
3. Load collection with 2 replicas
[code]
4. Apply memory stress on querynode-7 and trigger load balance task
[code]
5. Upgrade

[2022-05-18 12:05] #15624 closed

[2022-05-18 12:59] congqixia opened #17093 "[Bug]: ShardCluster not cleaned up when watchDmChannel task has error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

If watchDmChannel task fails for mq reason, the related shard cluster is not cleaned, which may cause goroutine leakage.

### Expected Behavior

Shard cluster gets cleaned if error occurs.

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anyt

[2022-05-18 13:08] xiaofan-luan commented on #17087
looks good to me~

[2022-05-18 13:51] #17093 closed

[2022-05-18 14:00] congqixia commented on #17086
Did not quite get the "Update image" part. From the log, the collection is loaded from the start?

[2022-05-18 14:37] congqixia opened #17098 "[Bug]: InMemoryPercentage is 100 after querycoord or standalone instance restart"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

If querycoord restarts, the collection in-memory percentage is still 100, which may be not in sync with the cluster true state.

### Expected Behavior

In memory percentage shall reflect the collection load status at all situation.

### Steps To Reproduce

_No respons

[2022-05-19 01:13] xiaofan-luan commented on #16134
/assign @soothing-rain since it all about flush~

[2022-05-19 01:15] xiaofan-luan commented on #15558
keep it open~ @nohack any progress~

[2022-05-19 01:19] #16115 closed

[2022-05-19 01:19] xiaofan-luan commented on #16519
keep it open

[2022-05-19 01:50] zhuwenxing opened #17099 "[Bug]: Release collection failed with error message `context deadline exceeded` after upgrading"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all operations work well

### Steps To Reproduce

[code]

### Milvus Log

log:
[artifacts-cluster-upgrade-589-logs.tar.gz](https://github.com/milvus-io/milvus/files/8722868/artifacts-cluster-upgrade-589-logs.tar.gz)

### Anything else?

[2022-05-19 02:32] xiaofan-luan opened #17102 "[Enhancement]: Proxy impl.go need to be refactored"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

1. the file is too long, especially for function like calc distance, very hard for read and maintain
2. there should be any implementation detail in impl.go, but rather works like a proxy

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-05-19 02:32] jingkl opened #17103 "[Bug]: [Benchmark][cluster]Milvus update image later report an error : "fail to search on all shard leaders, err=fail to get shard leaders from QueryCoord: no replica available""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo
benchmark-tag-no-clean-jdhvm-1
server-configmap
server-cluster-8c64m
client-configmap
client-random-locust-100m-ddl-r8-w2-concurrent

client log
[code]

server：

NAME                                                              READY   STATUS    RESTARTS   AGE

[2022-05-19 02:58] congqixia commented on #16838
@yanliang567 several deadlock/ blocking fix might be related

[2022-05-19 03:04] congqixia commented on #17098
Also related #17091 #17103

[2022-05-19 03:06] congqixia commented on #17098
See also #17048

[2022-05-19 03:10] ThreadDao commented on #16965
Yeah!  I verified on image `master-20220519-7eb6fcfb` that there is no problem. So close the issue

[2022-05-19 03:10] #16965 closed

[2022-05-19 03:18] congqixia commented on #17098
/unassign
/assign @letian-jiang

[2022-05-19 03:21] binbinlv commented on #16565
Not reproduced for a long time, so close it first and will reopen it if it occurs again.

[2022-05-19 03:21] #16565 closed

[2022-05-19 03:28] yanliang567 commented on #16822
verified not hang anymore on master-20220517-127dd34b

[2022-05-19 03:28] #16822 closed

[2022-05-19 04:05] xiaofan-luan opened #17104 "[Feature]: Seg allocation per rpc need to be configurable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

current , segment.go has a constant segCountPerRPC.
This is the batch amount we allocate ids from datacoord.

1) Current value is 20000, which might be too large, thought 2000 would be good enough for amortize small insertions.
2) This value is no

[2022-05-19 04:25] yah01 commented on #17091
/unassign
/assign @congqixia

[2022-05-19 05:49] zhuwenxing commented on #16627
In version `master-20220518-b9568177`, the issue is still here
server log:
[test-multi-replicas-05-19-13-45.zip](https://github.com/milvus-io/milvus/files/8725385/test-multi-replicas-05-19-13-45.zip)

client log:
[code]

[2022-05-19 05:50] zhuwenxing commented on #16627
/assign @yah01

[2022-05-19 06:01] Jacobh2 commented on #15882
I just got the same issue, with the last logs from queryNodes being
[code]

For me it seems like I tried to load a collection onto few query-nodes, making them get OOMKilled and then crash-loop. I tried to unload the collection but nothing happens via either Attu or via PyMilvus client. I then tried to scale up the query nodes in hope that it would load balance across multiple nodes, but I guess s

[2022-05-19 06:13] XuanYang-cn opened #17107 "[Bug]: calling num_entities with multiprocessing insert will get less insert numbers"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior
[code]

run the first:
[code]

run the second time:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-05-19 06:13] XuanYang-cn commented on #17107
See also: #16990

[2022-05-19 06:16] dubeamit commented on #17059
update:
While inserting milvus used to hang and won't work until restarting the milvus docker.
The issue is not yet resolved.
The work around that I've done is
1. Removed flush api calls via code
2. Milvus flush every 5 seconds in milvus config
3. Indexing milvus collection every 1 hour

This has helped in resolving the issue but when indexing occurs insert again takes 2 minute.

Will indexing onc

[2022-05-19 06:18] #16349 closed

[2022-05-19 06:18] #16459 closed

[2022-05-19 06:26] XuanYang-cn commented on #17107
But I can't reproduce with another script of multiprocessing
[code]

[2022-05-19 07:27] cydrain commented on #17031
ok, I'll optimize config map to be thread safe

[2022-05-19 07:47] XuanYang-cn commented on #16835
After milvus-io/pymilvus#1006, search won't be hanging forever, the behavior should be  like the following output

PyMilvus will retry for 10 times and raise `pymilvus.BaseException` in PyMilvus 2.0.x

PyMilvus will retry for 10 times and raise `pymilvus.MilvusException` in PyMilvus 2.1.x
[code]

[2022-05-19 07:52] XuanYang-cn commented on #16835
The next fixes would be:
- [ ] Raise Exception with a special code: Milvus_UNAVALIABLE
- [ ] Enable timeout to control the retry

[2022-05-19 08:18] Jacobh2 opened #17108 "[Feature]: Add auth for external dependencies"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Today when creating a milvus cluster using the milvus-operator, it spins up an ETCD cluster which is not possible to use already existing persistent volume claims. This makes it impossible to recover from certain crashes/failures, and requires the

[2022-05-19 08:19] wangting0128 commented on #16781
verify：master-20220518-cf08b5aa

[2022-05-19 08:19] #16781 closed

[2022-05-19 08:20] #16545 closed

[2022-05-19 08:58] sunby opened #17112 "[Enhancement]: Merge GetCompactionState and GetCompactionStateWithPlans to one function"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

GetCompactionState is similar with GetCompactionState. We can merge these 2 interfaces to one.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-05-19 08:59] yah01 commented on #17053
Hi @XuanYang-cn
This should be fixed with #17064, and I can't reproduce it now

[2022-05-19 09:06] xiaofan-luan commented on #16532
/reopen

[2022-05-19 09:10] xiaofan-luan commented on #17108
/assign @LoveEachDay I though this is doable?

[2022-05-19 09:12] yah01 commented on #17053
/assign @XuanYang-cn

[2022-05-19 09:15] congqixia commented on #16995
#17064 shall fix this issue. Could you please verify @ThreadDao
/unassign
/assign @ThreadDao

[2022-05-19 09:19] longjiquan opened #17114 "[Enhancement]: Move plan_parser.go from proxy to parser"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I want to move plan_parser.go from proxy to parser.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-05-19 09:20] congqixia commented on #16784
@wangting0128 can this issue be closed?

[2022-05-19 09:21] congqixia commented on #16962
@wangting0128 several pr related to load has been merged recently, does this issue still persist?

[2022-05-19 09:25] binbinlv opened #17115 "[Bug]: [tls] No type check for "secure" parameter in "connect" interface"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior
[code]

### Expected Behavior

[code]

### Steps To Reproduce

[code]

### Milvus Log

NA

### Anything else?

_No response_

[2022-05-19 10:01] karimBenzema12 commented on #16804
Hi friends!
when are you planning to release a fixed version for this bug?
It I am having the same problem :/

It seems that 2.0.2 is not production stable, while I can see movement in 2.1- rc.

@xiaofan-luan

[2022-05-19 10:42] ThreadDao commented on #16784
OK, Then I closed the issue. If it reproduces, you can open it again

[2022-05-19 10:42] #16784 closed

[2022-05-19 10:48] yah01 opened #17116 "[Enhancement]: scripts/start_cluster.sh should set up more QueryNodes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

The script to set up milvus cluster should add more QueryNodes.

### Why is this needed?

With the new feature of Memory-Replica, we usually need more than one query node, which is required to run E2E tests.

### Anything else?

_No response_

[2022-05-19 10:58] yanliang567 commented on #16838
close for now as it not repro recently

[2022-05-19 10:58] #16838 closed

[2022-05-19 11:39] aakejiang commented on #16657
[code]
For now we just know exceeding grpc max send size that causes DataNode registration failed.

[2022-05-19 12:04] xiaofan-luan commented on #16657
@sunby seems that channelOps is too large to write into etcd

[2022-05-19 12:08] zhuwenxing commented on #16627
in version `master-20220519-e05cfe19`, if we sleep 10s after load balance, the segments seem still in the source node.
[code]

client log:
[2022-05-19-19-57.zip](https://github.com/milvus-io/milvus/files/8728900/2022-05-19-19-57.zip)
server log:
[test-multi-replicas-05-19-19-59.zip](https://github.com/milvus-io/milvus/files/8728916/test-multi-replicas-05-19-19-59.zip)

[2022-05-19 12:22] zhuwenxing commented on #16979
verified and passed in version `master-20220519-e05cfe19`

[2022-05-19 12:22] #16979 closed

[2022-05-19 12:22] congqixia commented on #17040
@ThreadDao #17111 shall fix the load balance failure problem. Could you please verify?

[2022-05-19 12:22] zhuwenxing commented on #16874
verified and passed in `master-20220519-e05cfe19`

[2022-05-19 12:22] #16874 closed

[2022-05-19 13:32] jaime0815 commented on #16516
all failed cases search timeout

[2022-05-19 13:50] ThreadDao commented on #16995
I did not reproduce on image `master-20220519-e05cfe19`. So ignore this issue for now

[2022-05-19 13:50] #16995 closed

[2022-05-19 14:41] zhuwenxing commented on #16948
Not reproduced for now.

It has passed in recent days
http://10.100.32.144:8080/blue/organizations/jenkins/deploy_test/detail/deploy_test/587/pipeline/60

[2022-05-19 14:44] zhuwenxing commented on #16913
verified and passed in version `master-20220519-e05cfe19`

[2022-05-19 14:44] #16913 closed

[2022-05-19 14:49] zhuwenxing opened #17119 "[Bug]: Search failed with error `fail to get shard leaders from QueryCoord: no replica available` after etcd pod kill chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: https://github.com/milvus-io/milvus/runs/6476641158?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/6546060257/artifacts/244465432

[2022-05-19 14:52] zhuwenxing commented on #16900
It was blocked by https://github.com/milvus-io/milvus/issues/17016 when verifying it.
Before search, load has already failed, so we can't check the behavior of search

[2022-05-19 14:59] zhuwenxing commented on #16851
need to check the behavior on the latest image version

[2022-05-19 15:47] ThreadDao commented on #17040
Unfortunately. It looks like the load balancing has failed. `master-20220519-599763d9`
1. Create collection `stress_replicas_1` with 1 shard, insert 5000 entities and flush 2 segments
2. Load with 2 replicas
[code]
3. Apply memory stress on querynode-60
[code]
4. Load balance failed
[code]

[mic_logs.tar.gz](https://github.com/milvus-io/milvus/files/8731354/mic_logs.tar.gz)

[2022-05-19 16:36] Bom234 commented on #17099
![Uploading Screenshot_20220519_233017.jpg…]()

[2022-05-20 00:45] yanliang567 commented on #17119
sounds like a similar issue to #17098
@letian-jiang could you please take a look at this issue?

/assign @letian-jiang
/unassign

[2022-05-20 01:16] congqixia commented on #17098
So the fixing plan is

- [x] Make querynode load segment and loadChannels API idempotent #17109
- [ ] Make sure collection is loaded after load collection information from KV if the inMemory percentage is 100

[2022-05-20 01:19] yanliang567 commented on #17099
@congqixia could you please take a look at this issue?

/assign @congqixia
/unassign

[2022-05-20 01:57] zhuwenxing commented on #16932
failed job: https://github.com/milvus-io/milvus/runs/6513048409?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/6580724775/artifacts/246629822

[2022-05-20 01:58] bigsheeper commented on #16041
should be fixed by #16287 , please verify @jingkl

[2022-05-20 01:58] bigsheeper commented on #16041
/unassign

[2022-05-20 02:00] bigsheeper commented on #16041
/assign @jingkl

[2022-05-20 02:11] xiaofan-luan commented on #17098
Make sure collection is loaded after load collection information from KV if the inMemory percentage is 100

what about querycoord just collect all information from alive querynode? think persistent progress info from KV is error prone

[2022-05-20 02:15] xiaofan-luan commented on #15294
should fix this issue, very important to user experience

[2022-05-20 02:19] binbinlv commented on #15782
Similar search timeout issue in the latest nightly again:

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/540/pipeline/157

1. milvus logs:
[artifacts-milvus-distributed-pulsar-master-540-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/540/artifact/artifacts-milvus-distributed-pulsar-master-540-pymilvus-e2

[2022-05-20 02:23] binbinlv commented on #15782
Reproduced in the latest 2 nightly tests, so set it as urgent.

[2022-05-20 02:27] zhuwenxing commented on #17119
This issue did not happen in today's GitHub action. Not sure whether yesterday's PR fixed it. Because pod kill of etcd will cause many components of Milvus restart.
So the root cause of this issue may be the restart of Milvus components.

[2022-05-20 02:40] jingkl commented on #15658
milvus：master-20220519-599763d9
pymilvus:2.1.0.dev39

argo
benchmark-backup-w7pcl
server-configmap
server-cluster-8c64m
client-configmap
client-random-locust-100m-ddl-r8-w2

[code]
<img width="1432" alt="20220520-103741" src="https://user-images.githubusercontent.com/34296482/169437639-5e8a544d-8dba-483d-9328-f11e43e14333.png">

[2022-05-20 02:40] congqixia commented on #17040
@ThreadDao According to the log (Line 377-412), the first load balance is successful.
[code]

[2022-05-20 02:48] yhmo commented on #16992
Fixed by https://github.com/milvus-io/milvus/pull/17105
Not allow duplicate file name for numpy file, even they are in different path.

[2022-05-20 02:48] congqixia commented on #17098
Yes. The `InMemoryPercentage` from KV cannot be trusted after the `Querycoord` restarts. Currently the plan is to make sure all load interfaces (segment/dml/delta channel) are idempotent and calling them asynchronously in previously stated situation. Before this procedure finishes, the collection load progress shall be 0 or unknown.

[2022-05-20 02:50] StevenSama opened #17122 "[Bug]: Crash caused by memory explosion"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Changing the entity of the collection, adding or deleting it during collection query will cause the memory to continue to rise abnormally and eventually crash

### Expected Behavior

Changing entities while querying is not affected

### Steps To Reproduce

[code]

###

[2022-05-20 02:57] binbinlv commented on #16516
Similar issue in the latest nightly:

Three Failed cases：
（1）
[2022-05-19T19:47:18.429Z] [gw4] [ 77%] FAILED testcases/test_search.py::TestCollectionSearch::test_search_index_partitions_fuzzy[3000-500-128-True-False-partition_names1]

（2）
[2022-05-19T19:47:20.586Z] [gw5] [ 77%] FAILED testcases/test_search.py::TestCollectionSearch::test_search_with_consistency_session[500-8-False-True]
（3）
[2022-0

[2022-05-20 03:11] xiaocai2333 commented on #16932
From the IndexCoord log, there is an index build failed. But the log of the indexnode before being killed is not collected, so it is not certain why it failed.
If you can reproduce it in Jenkins, please collect the log of indexnode before being killed. @zhuwenxing

[2022-05-20 03:11] xiaocai2333 commented on #16932
IndexCoord log
[code]

[2022-05-20 03:13] ThreadDao commented on #16824
wow! no reproduce `master-20220520-d525e955`

[2022-05-20 03:13] #16824 closed

[2022-05-20 03:17] minleminzui opened #17123 "[Bug]: build error, AutoMoc subprocess error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I build milvus， I encountered  a compilation error
![image](https://user-images.githubusercontent.com/54172054/169443401-e2906567-3dba-4c09-8fec-ec3dd57c0b3b.png)
And this is content in TQTcpServer.h, please reference to [code](https://pastebin.ubuntu.com/p/DdhWz

[2022-05-20 03:20] WangErXiao opened #17124 "[Bug]: UpdateTimeTick failed: skip ChannelTimeTickMsg from un-recognized session"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I upgrade proxy pod, search service fails.
 i see the error log as below

[code]

### Expected Behavior

search service success

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-05-20 03:22] xiaofan-luan commented on #17123
hi @minleminzui , we don't tried wsl on our environment.
One way to work around is to user docker, CentOS or ubuntu should work.
It seems that thrift is a dependency of arrow community, maybe we should ask them for help~~

[2022-05-20 03:22] minleminzui commented on #17123
thanks

[2022-05-20 03:24] Bom234 commented on #17099
I don't understand why can't you explain in detail?

Vào 8:20, Th 6, 20 thg 5, 2022 yanliang567 ***@***.***> đã
viết:

[2022-05-20 03:25] ThreadDao commented on #17040
That's weird. I clearly remember that querynode segment info has not changed

[2022-05-20 03:26] xiaofan-luan commented on #17124
should be recovered for a while?
it usually means proxy is crashed without a session but still keep sending request.
try to restart all proxy(or proxy with nodeID 22) see if it helps

[2022-05-20 03:26] Bom234 commented on #17099
![Screenshot_20220519_233017](https://user-images.githubusercontent.com/104719750/169444437-4b69a5d1-cb07-4017-9a6b-baf3d3fc7dd3.jpg)
How to fix context deadline exceeded

[2022-05-20 03:34] WangErXiao commented on #17124
It can't recover for a while.
My three proxy nodes all failed ,display same log with different session id;

After I restart all proxy node ,it still not works.

[2022-05-20 03:41] WangErXiao commented on #17124
I worry about that if milvus services receive online product traffic, how can I upgrade milvus without loss?

[2022-05-20 03:41] JackLCL commented on #17122
@StevenSama
Can you use this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export milvus log? And it will be very helpful.

[2022-05-20 04:29] #7703 closed

[2022-05-20 04:31] ThreadDao commented on #16705
current situation of image `master-20220520-d525e955`:
Scale querynode after loading 2 replicas: 2 -> 1 -> 2
1. After scaling querynode from 2 to 1, search successfully, get replicas with 2 querynodes, `- Group: <group_id:433328812105400357>, <group_nodes:(4,)>, <shards:[Shard: <channel_name:by-dev-rootcoord-dml_4_433329218436464641v0>, <shard_leader:4>, <shard_nodes:[4]>, Shard: <channel_name:by-

[2022-05-20 04:37] WangErXiao commented on #17124
After restarting rootCoord, it recovered !   Why?

[2022-05-20 05:03] jaime0815 commented on #16516
wait service time avaliable timeout
[code]

there is a big gap between service ts and guarantee ts
[code]

[2022-05-20 05:26] congqixia opened #17126 "[Bug]: Antlr PlanParser Panicked in e2e test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Running ci e2e test case proxy panicked with log showing error in antlr

### Expected Behavior

e2e passes

### Steps To Reproduce

_No response_

### Milvus Log

[code]

### Anything else?

pipe line link:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins

[2022-05-20 05:28] congqixia commented on #17126
hi @longjiquan , I was wondering that whether you could help on this issue?
/assign @longjiquan

[2022-05-20 05:30] longjiquan commented on #17126
OK, I'll fix this soon.

[2022-05-20 05:40] xige-16 commented on #15782
/unassign
/assign @congqixia

[2022-05-20 05:45] CaptXiong commented on #6647
So does Milvu supports the right controls for now?

[2022-05-20 05:49] jingkl commented on #16041
milvus ：master-20220519-599763d9
pymilvus：pymilvus-2.1.0.dev39
<img width="1342" alt="截屏2022-05-20 13 45 05" src="https://user-images.githubusercontent.com/34296482/169459092-139207f2-59e6-4fad-b6e0-9b121f4071b6.png">
Already fixed, turn off issue

[2022-05-20 05:49] #16041 closed

[2022-05-20 05:49] soothing-rain commented on #16353
/assign @wayblink

[2022-05-20 05:51] xige-16 commented on #15522
/unassign
@xiaocai2333 is looking into this issue

[2022-05-20 05:51] #16771 closed

[2022-05-20 05:53] jingkl opened #17127 "[Enhancement]: The statement of the expression reporting an error is not clear and cannot be seen as not matching """
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

testcase：
[code]
[code]

### Why is this needed?
Unable to determine the error

### Anything else?

_No response_

[2022-05-20 06:02] #16948 closed

[2022-05-20 06:04] e11jah commented on #17013
hi, @xiaofan-luan Are you saying add context for LocalChunkManager? What will happen if the context has been canceled outside when writing the local file?

[2022-05-20 06:05] XuanYang-cn opened #17128 "[Bug]: proxy paniked when CreateSearchPlan"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-17120/4/pipeline

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-05-20 06:06] congqixia commented on #17128
@XuanYang-cn dup #17126

[2022-05-20 06:06] XuanYang-cn commented on #17128
dup and close

[2022-05-20 06:06] #17128 closed

[2022-05-20 06:06] e11jah commented on #17013
/assign

[2022-05-20 06:08] XuanYang-cn commented on #17126
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-17120/4/pipeline

[code]

[2022-05-20 06:08] zhuwenxing commented on #16842
It still happens, but it only for docker-compose
https://github.com/milvus-io/milvus/runs/6496690493?check_suite_focus=true

[2022-05-20 06:13] zhuwenxing commented on #17099
Need to check whether the Milvus can be recovered, or just failed at the step of `release`

/assign

[2022-05-20 06:16] yanliang567 commented on #17016
/assign @xige-16

[2022-05-20 06:19] yanliang567 commented on #16962
not reproduce recently, close for now

[2022-05-20 06:19] #16962 closed

[2022-05-20 06:22] yanliang567 commented on #16943
/assign @bigsheeper

[2022-05-20 06:22] yanliang567 commented on #16941
/assign @bigsheeper

[2022-05-20 06:23] yanliang567 commented on #16933
/assign @xiaocai2333

[2022-05-20 06:28] yanliang567 commented on #16900
/assign @zhuwenxing

[2022-05-20 06:31] yanliang567 commented on #16887
/assign @yah01

[2022-05-20 06:37] congqixia commented on #17072
@wangting0128 fix pr has been merged. Could you please verify?
/unassign @XuanYang-cn
/assign @wangting0128

[2022-05-20 06:37] yanliang567 commented on #16598
/assign @ThreadDao  add a search before get_seg_info

[2022-05-20 06:40] yanliang567 commented on #16353
/assign @wangting0128

[2022-05-20 06:48] yanliang567 commented on #16114
/assign @ThreadDao please retry with latest master

[2022-05-20 06:49] yanliang567 commented on #15966
dup to https://github.com/milvus-io/milvus/issues/16288

[2022-05-20 06:54] soothing-rain commented on #16984
/assign @wayblink

[2022-05-20 06:56] soothing-rain commented on #16426
/reopen

[2022-05-20 06:58] soothing-rain commented on #16426
/assign @wayblink Please take a look. Note that is not a P0 (critical-urgent) issue tho.

[2022-05-20 07:00] soothing-rain commented on #15785
/assign @wayblink Another non-P0 issue.

[2022-05-20 07:01] soothing-rain commented on #15785
/assign @wayblink

Another non-P0 issue.

[2022-05-20 07:02] yanliang567 commented on #15583
/assign @longjiquan

@wangting0128 please retry with latest master

[2022-05-20 07:03] yanliang567 commented on #15523
@wangting0128 please retry

[2022-05-20 07:05] soothing-rain commented on #17077
/unassign

[2022-05-20 07:05] wangting0128 commented on #15523
verify: master-20220519-599763d9

[2022-05-20 07:05] #15523 closed

[2022-05-20 07:06] yanliang567 commented on #15522
similar to  #16943

[2022-05-20 07:43] yanliang567 commented on #17124
@xiaofan-luan could you please help on this issue?
/assign @xiaofan-luan

[2022-05-20 07:43] Derekhe01 opened #17130 "[Bug]: string data type not supported yet, please use VarChar type instead"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

FieldSchema(name="vid", dtype=DataType.STRING),

error_code: UnexpectedError
reason: "string data type not supported yet, please use VarChar type instead"

RPC error: [create_collection], <BaseException: (code=1, message=string data type not supported yet, please use

[2022-05-20 07:45] yanliang567 commented on #17130
sounds like pymilvus reports a wrong error msg. But it is true that Milvus 2.0.2 does not support string data type yet. it is going to be supported in Milvus 2.1, which will be released soon in May.

[2022-05-20 07:46] xige-16 commented on #17130
dataType::string not support,  please use VarChar type instead.

[2022-05-20 07:47] xige-16 commented on #17130
In milvus 2.1 and master branch

[2022-05-20 07:51] xige-16 commented on #17130
milvus 2.1 will not support DataType::string, only support DataType::VarChar for string data

[2022-05-20 07:53] yanliang567 commented on #17130
@Derekhe01 could you please double confirm the pymilvus version?

[2022-05-20 07:53] yanliang567 commented on #17130
/assign @Derekhe01
/unassign

[2022-05-20 07:55] wangting0128 commented on #15583
argo task: benchmark-backup-jqlbs

test yaml:
client-configmap:client-random-locust-1m
server-configmap:server-cluster-8c32m

server:
[code]

client pod: benchmark-backup-jqlbs-22284265

client data: [1653037552]
<img width="1386" alt="截屏2022-05-20 15 54 55" src="https://user-images.githubusercontent.com/26307815/169481226-d02fb4b9-0a40-422f-8324-e80bafba154f.png">

<img width="1381" alt="截屏2022-0

[2022-05-20 07:56] xiaofan-luan commented on #17124
could you offer rootcoord log before start so I can help on investigating~

[2022-05-20 08:02] yanliang567 commented on #17123
@minleminzui please feel free to close this issue, after you built successfully as suggested above.

[2022-05-20 08:03] yanliang567 commented on #17122
@StevenSama could you please help to upload milvus logs as suggested above?

/assign @StevenSama
/unassign

[2022-05-20 08:07] EricStarer opened #17131 "[Feature]: Make Alias switch atomic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

In `DropAlias` and `AlterAlias`, directly deleting or changing the corresponding alias item in hashmap `collAlias2ID` will cause the service to fail to complete or  complete the error in some cases because of the violation of atomicity.

### Descr

[2022-05-20 08:09] WangErXiao commented on #17124
Sorry, I didn't keep the log.  When this problem occur again, I will catch the log.

[2022-05-20 08:20] xiaocai2333 commented on #17031
/unassign

[2022-05-20 08:22] schuberttobias commented on #15657
I've also stumbled upon this when increasing the number of query nodes to >5 for a collection with 20 million vectors and 128 dimensions.

Increasing `MaxDirectMemorySize` in `docker-compose.yml` solved the issue:
[code]

[2022-05-20 08:23] congqixia commented on #17040
@ThreadDao segment info not changed issue might be related to an known issue for querySegmentInfo API. Let's check after fix PR merged.

[2022-05-20 08:27] #17123 closed

[2022-05-20 08:28] congqixia commented on #17099
@zhuwenxing just checked the log you provided, the release cost about 100 second to completed, which lead to the timeout error.
And the log level was info so the detailed log can not be found. Could you please run some test with debug level log?

[2022-05-20 08:38] yanliang567 commented on #16947
it reproduces to me occasionally on master-20220520-90ee23df:
testcase: test_float_vector_multi_scalars
"collection_name": "test_PPGrsaP5"
[issue.16947.log.zip](https://github.com/milvus-io/milvus/files/8737827/issue.16947.log.zip)

[code]

[2022-05-20 08:46] yanliang567 commented on #16947
/assign @soothing-rain

[2022-05-20 09:25] yanliang567 opened #17133 "[Bug]: [bulkload] failed to bulk load multiple numpy files in different folders"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[2022-05-20 16:31:23 - DEBUG - ci_test]: (api_response) : <Bulk load state:
    - taskID    : 433333333787148289,
    - state     : BulkLoadFailed,
    - row_count : 0,
    - infos     : {'files': '6d_10_0/vectors.npy,6d_10_1/vectors.npy', 'failed_reason': 'duplicate

[2022-05-20 09:25] yanliang567 commented on #17133
it seems to be a regression issue, as it works a few days ago.

[2022-05-20 09:26] yanliang567 commented on #17133
/assign @yhmo
/unassign

[2022-05-20 09:41] yanliang567 commented on #17133
It seems to only reproduce when running bulkload in multiple processes.

[2022-05-20 11:57] zhuwenxing commented on #17099
deploy Milvus with debug level?

[2022-05-20 12:01] zhuwenxing commented on #16932
The pipeline http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/5163/pipeline
This is all indexnode log
[chaos-indexnode.zip](https://github.com/milvus-io/milvus/files/8739953/chaos-indexnode.zip)

[artifacts-indexnode-pod-kill-5163-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8739970/artifacts-indexnode-pod-kill-5163-server-logs.tar.gz)

[2022-05-20 12:12] e11jah commented on #17013
It seems that it needs to be changed to asynchronous io to facilitate context control. 😂

[2022-05-20 12:15] Bom234 commented on #17099
Please check now.

Vào 18:57, Th 6, 20 thg 5, 2022 zhuwenxing ***@***.***> đã
viết:

[2022-05-20 12:16] Bom234 commented on #17099
please show me how to check it

Vào 19:11, Th 6, 20 thg 5, 2022 Thắng Lê ***@***.***> đã
viết:

[2022-05-20 12:21] Bom234 commented on #17099
I'm using an Android phone, but when using v2rayng, it gives me a context
deadline exceeded error please tell me how to fix it

Vào 13:13, Th 6, 20 thg 5, 2022 zhuwenxing ***@***.***> đã
viết:

[2022-05-20 13:07] soothing-rain commented on #16947
@congqixia @XuanYang-cn I took a look at the logs and found some WARN message during handoff.

For example segment ID=433333143667474433 should be loaded in querynode but somehow it didnt.

![image](https://user-images.githubusercontent.com/69466447/169534137-81898a0e-54f0-4c6f-9c2d-f7e7544a2873.png)

[2022-05-20 14:06] sunby commented on #16842
@zhuwenxing Fixed in https://github.com/milvus-io/milvus/pull/17132. Please verify it.

[2022-05-20 14:06] sunby commented on #16842
/unassign
/assign @zhuwenxing

[2022-05-20 14:50] ozgeklue opened #17139 "[Bug]: Search queries get stuck"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

As requested by Jack, I'm creating this issue to be able discuss further.

- `Search queries get stuck:`
  - Some of these problems are due to subscriptions in Pulsar getting full. We get `Backlog quota exceeded` error and we are able to fix it by clearing the subscri

[2022-05-20 14:54] yanliang567 commented on #17139
@ozgeklue thank you for the issue. could you please help to collect the completed milvus logs for investigation. You can use this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export Milvus logs

/assign @ozgeklue
/unassign

[2022-05-21 05:01] soothing-rain opened #17142 "[Bug]: Search failed with "fail to search on all shard leaders, err=fail to get shard leaders from QueryCoord: no replica available""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search failed with "fail to search on all shard leaders, err=fail to get shard leaders from QueryCoord: no replica available"

Ways to reproduce:
1. Start Milvus cluster with `./scripts/start_cluster.sh`
2. Run Hello Milvus a bunch of times without dropping collection

[2022-05-21 05:20] letian-jiang commented on #17142
I guess the cluster is restarted between step3 and step4. And it seems that the system is unavailable after this.

Does it recover after a substantial amount of time (say, 2 minutes)?

[2022-05-21 07:22] #16412 closed

[2022-05-21 12:58] qi49125 opened #17146 "[Bug]: The specified key does not exist."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

All search-related operations cannot be performed properly.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

rootcoord--》
2022/05/21 08:37:46 maxprocs: Updating GOMAXPROCS=6: determined from CPU quota

    __  _________ _

[2022-05-21 13:05] qi49125 commented on #17146
querycoord---》
2022/05/21 08:38:29 maxprocs: Updating GOMAXPROCS=8: determined from CPU quota

    __  _________ _   ____  ______
   /  |/  /  _/ /| | / / / / / __/
  / /|_/ // // /_| |/ / /_/ /\ \
 /_/  /_/___/____/___/\____/___/

Welcome to use Milvus!
Version:   v2.0.2-3-g6c889ef2e
Built:     Fri May 20 11:12:19 UTC 2022
GitCommit: 6c889ef2e
GoVersion: go version go1.16.9 linux/amd64

open pid

[2022-05-21 13:05] qi49125 commented on #17146
querycoord----》

[2022/05/21 08:38:29.845 +00:00] [DEBUG] [query_coord.go:202] ["QueryCoord init success"]
[2022/05/21 08:38:29.845 +00:00] [DEBUG] [service.go:98] ["QueryCoord init done ..."]
[2022/05/21 08:38:29.845 +00:00] [DEBUG] [query_coord.go:217] ["start scheduler ..."]
[2022/05/21 08:38:29.845 +00:00] [DEBUG] [query_coord.go:220] ["start index checker ..."]
[2022/05/21 08:38:29.845 +00:00

[2022-05-21 13:06] qi49125 commented on #17146
querycoord---》
[2022/05/21 08:38:29.892 +00:00] [DEBUG] [task_scheduler.go:779] ["waitActivateTaskDone: retry the active task"] [taskID=433351760170975465] [triggerTaskID=432475762471207587]
[2022/05/21 08:38:29.892 +00:00] [DEBUG] [task_scheduler.go:854] ["processActivateTaskLoop: pop an active task from activateChan"] [taskID=433351760170975465]
[2022/05/21 08:38:29.892 +00:00] [DEBUG] [task.go:

[2022-05-21 13:07] qi49125 commented on #17146
querycoord：
[2022/05/21 08:39:04.316 +00:00] [DEBUG] [task_scheduler.go:854] ["processActivateTaskLoop: pop an active task from activateChan"] [taskID=433356094711791671]
[2022/05/21 08:39:04.316 +00:00] [DEBUG] [task.go:1053] ["start do loadSegmentTask"] [segmentIDs="[432523842494398465]"] ["loaded nodeID"=306] [taskID=433356094711791671]
[2022/05/21 08:39:04.318 +00:00] [DEBUG] [cluster.go:213]

[2022-05-21 13:08] qi49125 commented on #17146
datacoord：
2022/05/21 08:38:01 maxprocs: Updating GOMAXPROCS=8: determined from CPU quota

    __  _________ _   ____  ______
   /  |/  /  _/ /| | / / / / / __/
  / /|_/ // // /_| |/ / /_/ /\ \
 /_/  /_/___/____/___/\____/___/

Welcome to use Milvus!
Version:   v2.0.2-3-g6c889ef2e
Built:     Fri May 20 11:12:19 UTC 2022
GitCommit: 6c889ef2e
GoVersion: go version go1.16.9 linux/amd64

open pid file

[2022-05-21 13:09] qi49125 commented on #17146
datanode：
[2022/05/21 09:48:01.042 +00:00] [INFO] [data_node.go:580] ["Receive FlushSegments req"] [collectionID=432493080643371009] [num=0] [segments="[]"]
[2022/05/21 09:48:01.042 +00:00] [INFO] [data_node.go:614] ["Flowgraph flushSegment tasks triggered"] [flushed=true] [collectionID=432493080643371009] [segments="[]"]
[2022/05/21 09:48:01.042 +00:00] [INFO] [data_node.go:614] ["Flowgraph flush

[2022-05-21 13:09] qi49125 commented on #17146
indexcoord：
2022/05/21 08:38:16 maxprocs: Updating GOMAXPROCS=8: determined from CPU quota

    __  _________ _   ____  ______
   /  |/  /  _/ /| | / / / / / __/
  / /|_/ // // /_| |/ / /_/ /\ \
 /_/  /_/___/____/___/\____/___/

Welcome to use Milvus!
Version:   v2.0.2-3-g6c889ef2e
Built:     Fri May 20 11:12:19 UTC 2022
GitCommit: 6c889ef2e
GoVersion: go version go1.16.9 linux/amd64

open pid fil

[2022-05-21 13:10] qi49125 commented on #17146
indexnode：
2022/05/21 08:38:07 maxprocs: Updating GOMAXPROCS=14: determined from CPU quota

    __  _________ _   ____  ______
   /  |/  /  _/ /| | / / / / / __/
  / /|_/ // // /_| |/ / /_/ /\ \
 /_/  /_/___/____/___/\____/___/

Welcome to use Milvus!
Version:   v2.0.2-3-g6c889ef2e
Built:     Fri May 20 11:12:19 UTC 2022
GitCommit: 6c889ef2e
GoVersion: go version go1.16.9 linux/amd64

open pid fil

[2022-05-21 13:10] qi49125 commented on #17146
querynode：
2022/05/21 08:38:22 maxprocs: Updating GOMAXPROCS=10: determined from CPU quota

    __  _________ _   ____  ______
   /  |/  /  _/ /| | / / / / / __/
  / /|_/ // // /_| |/ / /_/ /\ \
 /_/  /_/___/____/___/\____/___/

Welcome to use Milvus!
Version:   v2.0.2-3-g6c889ef2e
Built:     Fri May 20 11:12:19 UTC 2022
GitCommit: 6c889ef2e
GoVersion: go version go1.16.9 linux/amd64

open pid fil

[2022-05-21 13:12] qi49125 commented on #17146
[2022/05/21 08:38:22.623 +00:00] [ERROR] [segment_loader.go:138] ["load segment failed when load data into memory"] [collectionID=432520058327793665] [partitionID=432527282846302209] [segmentID=432527437039140865] ["segment type"=3] [error="The specified key does not exist."] [stack="github.com/milvus-io/milvus/internal/querynode.(*segmentLoader).loadSegment\n\t/go/src/github.com/milvus-io/milvus/

[2022-05-21 14:16] soothing-rain commented on #17142
Unfortunately it cant recover.

[2022-05-22 04:56] #16501 closed

[2022-05-22 07:06] jaime0815 opened #17147 "concurrency issue between close and operate node in flowgraph"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Some mq stream will be closed when the node close is invoked within the flowGraph, but node Operate still working and sending messages to mq stream.

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

##

[2022-05-22 07:09] jaime0815 commented on #16516
#17147 also may cause hang.

[2022-05-22 08:23] yanliang567 commented on #17147
/unassign

[2022-05-22 08:24] yanliang567 commented on #16575
@pengyuan any updates for this issue?

[2022-05-22 11:31] xiaofan-luan commented on #16600
keep it open

[2022-05-22 11:32] xiaofan-luan commented on #16208
should be fixed by 2.1.

[2022-05-22 11:40] xiaofan-luan commented on #17147
seems that we can add a close mark and lock to guard.
the close and delete are triggered by different processes and hard to sync with each other

[2022-05-22 11:45] xiaofan-luan commented on #17142
But from the step seems that we stop the cluster? Do we bring the cluster back?

[2022-05-22 11:49] xiaofan-luan commented on #17139
Gotca, this issue should be fixed by 2.1 since we removed the search channel.
For now,  you can simply clean the search channel backlog. It's due we forget to unregister  pulsar consumer  of search channel.
To make the fix clean, you should also check if any consumer of this channel is not alive(nodeID should help)

[2022-05-22 11:52] xiaofan-luan commented on #17013
Yep, both local and minio chunkmanager should support context and have a way to control timeout and trace I guess

[2022-05-22 11:53] xiaofan-luan commented on #17013
This would help on adding more trace later~

[2022-05-22 11:53] xiaofan-luan commented on #17013
/assign @e11jah

[2022-05-22 12:01] xiaofan-luan commented on #17131
we want to refine alias API so it matched following user scenario:
Create collection A
Create alias B and point to A
Serving with name B
Create with collection C
Bulkload with collection C
when bulkload done, point B to C automatically.

We will leave this issue after 2.1 due to lack of man power.
Anyone interested pls take it~

[2022-05-22 12:02] xiaofan-luan commented on #17131
we want to refine alias API so it matched following user scenario:
Create collection A
Create alias B and point to A
Serving with name B
Create with collection C
Bulkload with collection C
when bulkload done, point B to C automatically.

We will leave this issue after 2.1 due to lack of man power.
Anyone interested pls take it~

[2022-05-22 12:54] xiaofan-luan opened #17148 "[Enhancement]: Remove not used rocksmq reader code"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

reader is not used for message stream, simply remove it.

### Why is this needed?

_No response_

### Anything else?

Need to figure out why we can remove reader?
Delta log handling seems to depend on reader

[2022-05-22 14:51] xiaofan-luan opened #17150 "[Bug]: Sealed Segment load miss delta channel data."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When sealed channel load, we missed data in dml channel after check point.

1. watchDeltaChannelsTask will call FromDmlCPLoadDelete, which will load delete to all exist segments(But I doubt this won't help, because when watch delta channel no segment related to actual

[2022-05-22 15:03] xiaofan-luan opened #17151 "[Bug]: Segment lock is messed up"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Currently the segPtrMu is happened inside segment, which is a mess up.
1.  we don't want to check err for every getSegmentByID... it's error prone
2. for example, in segmentPreInsert, we get this lock, but didn't check whether the segment is closed or not.
       func

[2022-05-22 15:11] xiaofan-luan commented on #17150
/assign @sunby

[2022-05-22 15:12] xiaofan-luan commented on #17150
Actually we should remove delta channel and it's schedule later .
All the delete log should be pushed only by shard leader through RPC, and timetick is only checked by shard leader.

[2022-05-22 15:15] e11jah commented on #17013
@xiaofan-luan
Storing context in structures may lead to confusion.
The caller’s lifetime is intermingled with a shared context, and the context is scoped to the lifetime where the ChunkManager is created.
And both MinioChunkManager and LocalChunkManager should be refactored.
So I think it's better to divide this into several tasks.

More details in https://go.dev/blog/context-and-structs

[2022-05-22 15:28] xiaofan-luan commented on #16657
why cause the register so large?

[2022-05-22 15:34] xiaofan-luan commented on #17013
For storage it should be ok, but how do we control timeout for each request?

[2022-05-23 01:21] yanliang567 commented on #17146
@jaime0815 could you please help to take a look?
/assign @jaime0815
/unassign

[2022-05-23 01:23] yanliang567 commented on #17142
/assign @letian-jiang
/unassign

[2022-05-23 01:24] zhuwenxing commented on #16842
It still failed in version `d28a2db4` built in `Sun May 22 12:09:43 UTC 2022`
https://github.com/milvus-io/milvus/runs/6546104459?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/6611384373/artifacts/248750417

/unassign
/assign @sunby

[2022-05-23 01:42] longjiquan commented on #17126
fixed by #17129

[2022-05-23 01:52] bigsheeper commented on #17151
I'll fix it

[2022-05-23 02:09] yanliang567 opened #17152 "[Bug]: [bulkload]num_entities is not correct if bulk load 32 files in one request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

collection.num_entities is not correct if bulkload 32 files in one request

### Expected Behavior

num_entities is correct

### Steps To Reproduce

[code]

### Milvus Log

data files:
[Archive 2.zip](https://github.com/milvus-io/milvus/files/8750814/Archive.2.zip)

##

[2022-05-23 02:09] yanliang567 commented on #17152
/assign @soothing-rain
/unassign

[2022-05-23 02:10] xiaocai2333 commented on #16932
indexnode log:
[code]

[2022-05-23 03:11] xiaofan-luan commented on #17150
/assign @xige-16

[2022-05-23 03:11] xiaofan-luan commented on #17150
We will have to refactor the code of how Delta channel is handled~

[2022-05-23 04:08] e11jah commented on #17013
Maybe using the context of the rpc request is the way to control timeout for each request... but I can't find where the ChunkManager be called.

[2022-05-23 04:56] letian-jiang commented on #17098
The `InMemoryPercentage` cannot be trusted even if the querycoord keeps alive. Based on the current implementation, if one querynode crashed after collection loading, the search service is unavailable yet  `InMemoryPercentage` is still 100. (I have tested that it will recover after some time via load balance between querynodes).

A workaround is querycoord checks "if the collection is perfectly lo

[2022-05-23 05:35] congqixia commented on #17098
@letian-jiang I agree with most of your opinions. Just one thing: the behavior of the load progress is still 100% after cluster restarts need to be corrected.

[2022-05-23 05:59] yanliang567 commented on #16607
now if the bulk load task is in persisted state, it means the data was imported completely. But do they ready for search, it is still a black box to users.

[2022-05-23 06:31] longjiquan commented on #16737
Let's keep the current status that we directly use `==` and `!=` to do comparision now. I'll investigate how other systems do these filterings.

[2022-05-23 06:33] letian-jiang commented on #17098
After some brainstorming with @congqixia, I summarize the main points as follows:
* `InMemoryPercentage` should merely denote the progress of the very first collection loading. `InMemoryPercentage = 100` means the collection loading has been done. But it does not guarantee if the whole collection is currently loaded in memory. The system, however, may guarantee the "majority" of the collection is

[2022-05-23 07:01] #17079 closed

[2022-05-23 07:12] GitHua2017 opened #17158 "[Bug]: mysql error: after creating index files, index's file_size in table 'TableFiles' of mysql are update to 0, when its actual size is 342356000"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

after creating index files, index's file_size in table 'TableFiles' of mysql  are update to 0, when its  actual size is 342356000

### Expected Behavior

After the index file is created, the file_size can be updated correctly

### Steps To Reproduce

[code]

### Milvu

[2022-05-23 07:20] yanliang567 commented on #17158
@yhmo sounds like a v1.x issue, could you please take a look?

/assign @yhmo
/unassign

[2022-05-23 07:26] binbinlv commented on #16961
Delete issue appears again, could you please help to check? @xige-16

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/546/pipeline/129

1. milvus log:
[artifacts-milvus-standalone-master-546-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/546/artifact/artifacts-milvus-standalone-master-546-pymilvus-e2e-logs