[2022-10-12 03:12] yexinhua1998 commented on #19699
@LoveEachDay This is the configmap I render  by helm
[code]

[2022-10-12 03:12] wangting0128 commented on #19492
argo task：fouram-9txhk

test yaml：
client-configmap:client-random-locust-hnsw-search-filter-100m-ddl
server-configmap:server-single-32c128m

server：
[code]

monitor：

<img width="1869" alt="截屏2022-10-12 11 12 01" src="https://user-images.githubusercontent.com/26307815/195241178-a600c34e-2133-4ab7-8e6b-f3ff62204678.png">

<img width="1859" alt="截屏2022-10-12 11 12 15" src="https://user-images.github

[2022-10-12 03:15] wangting0128 commented on #17674
https://github.com/milvus-io/milvus/issues/19526

[2022-10-12 03:24] yongpengli-z opened #19719 "[Bug]: [rate limit] Search is not limited when enable quotaAndLimits and searchRate"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/103410837/195240675-52f84548-196d-459e-9305-3fe1b933d47c.png)

quotaAndLimits:
  enabled: true
  dql:
    enabled: true
    searchRate:
      max: 1

### Expected Behavior

_No response_

### Steps To Reproduce

[code

[2022-10-12 03:26] zhuwenxing opened #19720 "[Bug]: Create index timeout (40s) after datanode and minio pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/2081/pipeline
log:
[artifacts-s3-pod-kill-2081-pytest-

[2022-10-12 03:28] zhuwenxing commented on #19232
Not reproduced, so close it!

[2022-10-12 03:28] #19232 closed

[2022-10-12 03:29] zhuwenxing commented on #19478
Not reproduced, close it!

[2022-10-12 03:29] #19478 closed

[2022-10-12 03:37] Folgerjun opened #19721 "[Bug]: query segment data is empty, and querynode restart not load history data not balance"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

新增的 querynode pod 没有被使用
重启后的 querynode 也没有重新加载数据

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

querynode log:
[milvus-querynodes.tar.gz](https://github.com/milvus-io/milvus/files/9761259/milvus-querynodes.tar.gz)

### An

[2022-10-12 03:41] Folgerjun commented on #19721
![img_v2_d62b3bcf-8452-4dbe-b0f3-c8dc092a857g](https://user-images.githubusercontent.com/24917694/195244248-bb5ee893-798b-4294-8338-04aa16d9eca1.jpg)
![img_v2_133174f3-c37b-4ebd-9203-5aac785ba94g](https://user-images.githubusercontent.com/24917694/195244280-ebd9599d-0e8a-4e09-96ff-136f8249b713.jpg)

- qn 重启历史数据没有自动加载 新加的两个 qn 也没有被使用
![img_v2_416a8a62-99ed-4860-940f-497de734c90g](https://user-image

[2022-10-12 03:55] Folgerjun commented on #19721
补充一下：
- Deployment mode(standalone or cluster): cluster （官网k8s部署）

[2022-10-12 04:11] yhmo opened #19723 "[Bug]: Wrong tanimoto result for calc_distance"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Use this script to test:

f```
rom pymilvus import connections, FieldSchema, CollectionSchema, DataType, Collection, utility
# this needs the bitstring package
import bitstring

COLLECTION_NAME = 'tanimoto_test'
VECTOR_DIMENSION = 8
METRIC_TYPE = 'TANIMOTO'
HOST = '12

[2022-10-12 05:57] congqixia opened #19724 "[Bug]: Insert binlog timestamp from is not correct"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

binlog timestamp from is equal to `int64(math.MaxUInt64)`

### Expected Behavior

binlog timestamp from shall be the smallest timestamp in binlog

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-10-12 06:21] soothing-rain commented on #19526
The other panic error should be fixed in https://github.com/milvus-io/milvus/pull/19706.

Can you double check?

[2022-10-12 06:25] wangting0128 commented on #19290
verify image：master-20221012-a8a07416

[2022-10-12 06:25] #19290 closed

[2022-10-12 07:08] Folgerjun commented on #18665
I have the same problem in milvus 2.1.4.
When I add new querynode, not used.

[2022-10-12 08:05] fancy33 commented on #18665
@xiaofan-luan Any ETA of this fix 2.2? we also hit same issue, along with our data growing, the memory of one querynode（node1) increased linearly then caused OOMKilled,  but the memory usage of the other querynode(node2) was quite small.

[2022-10-12 08:06] Folgerjun commented on #19721
add milvus log:
[logs.tar.gz](https://github.com/milvus-io/milvus/files/9762875/logs.tar.gz)

[2022-10-12 08:35] bigsheeper commented on #19719
use python sdk and run:
[code]

And search requests were successfully limited:
![image](https://user-images.githubusercontent.com/42060877/195293272-d1bc6896-e210-4b94-9585-2170c2c25df7.png)

[2022-10-12 09:15] aoiasd commented on #19679
The reason of CreateIndex timeout was that, the indexNode has a param named buildParallel(default =1 ) limited the task scheduler of index node could only run one task in the same time. But the indexCoord will try to create tasks as many as segments of the collection, and will try to send the tasks per 1 seconds but only one success. So if collection has many segment(nearly or more than 40), Creat

[2022-10-12 09:19] #19724 closed

[2022-10-12 09:24] LoveEachDay commented on #19699
@yexinhua1998 The config is good.

[2022-10-12 09:30] zhuwenxing commented on #19715
Not reproduced in `master-20221012-a561614d`

[2022-10-12 09:30] #19715 closed

[2022-10-12 10:25] camper42 commented on #19138
our milvus standalone pod use lots of ephemeral storage due to `/tmp/milvus/data/file/insert_log/*`

Does this bug cause this problem? @xiaofan-luan

[2022-10-12 11:14] zhuwenxing opened #19730 "[Bug]: [bulk load]Bulk load tasks created after dataoord pod chaos were all pending because 2 tasks created during chaos keep in started state"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]
The following logs are more clear.

before the chaos, the tasks can all success.
during the chaos, some tasks failed, some tasks are staying at the started state and some tasks are the pending state.
after the chaos is deleted, there are always 2 tasks in the s

[2022-10-12 11:17] zhuwenxing commented on #19730
/assign @soothing-rain

[2022-10-12 11:18] zhuwenxing commented on #19730
/unassign @yanliang567

[2022-10-12 11:44] wangting0128 commented on #19526
argo task：fouram-5mql9
milvus tag：master-20221012-a561614d

server：
[code]

client pod: fouram-5mql9-2274340174
client log:

<img width="1733" alt="截屏2022-10-12 19 44 22" src="https://user-images.githubusercontent.com/26307815/195334232-d25be046-0b9e-431d-beaf-480156edb62b.png">

[2022-10-12 11:54] icodersky commented on #19655
We found a problem.
The problem occurred when we used attu2.1.1, but the problem did not occur when we used attu2.1.0

[2022-10-12 12:11] bigsheeper commented on #19610
autohome seems met the same issue. Load failed with `NoSuckKey` error:
[code]

Querycoord:
![image](https://user-images.githubusercontent.com/42060877/195339001-1c1c7d36-b114-4fba-a1ab-321e38d24049.png)

Querynode:
![image](https://user-images.githubusercontent.com/42060877/195339093-4d9e26d6-9c14-45a2-8ba7-1dd4129b3168.png)

[2022-10-12 12:11] wangting0128 opened #19731 "[Bug]: [benchmark][standalone] [DML&DQL] QueryNode restart and search/query raise error:fail to search on all shard leaders, err=fail to Query, QueryNode ID = 13, reason=Query 13 failed, reason context canceled err %!w(<nil>))"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task:fouram-qzfbn

test yaml:
client-configmap: client-random-locust-hnsw-search-filter-insert
server-configmap: server-cluster-8c32m-querynode

server:
[code]

client pod: fouram-qzfbn-1913802001
client log:
<img width="1703" alt="截屏2022-10-12 20 11 17" src="htt

[2022-10-12 12:14] bigsheeper commented on #19610
Here are the logs and etcd backup:
[bw_etcd_ALL.221012-135922.bak.gz](https://github.com/milvus-io/milvus/files/9764702/bw_etcd_ALL.221012-135922.bak.gz)

[datanode-80.log](https://github.com/milvus-io/milvus/files/9764712/datanode-80.log)

[datanode-82.log](https://github.com/milvus-io/milvus/files/9764723/datanode-82.log)

[2022-10-12 12:34] bigsheeper opened #19733 "[Bug]: Load collection slowly, segment DMLPosition update failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[autohome issue]
Some segment's DMLPositions are delayed for days. So when milvus load collection, querynode took a long time to `FromDMLCOLoadDelete`.  5million rows of data took hours to load which is abnormal.
![image](https://user-images.githubusercontent.com/4206

[2022-10-12 12:35] bigsheeper commented on #19733
/assign @congqixia
/unassign @yanliang567

[2022-10-12 12:37] bigsheeper commented on #19733
Collection checkpoint and abnormal segment info:
![image](https://user-images.githubusercontent.com/42060877/195344265-06d76252-9207-4020-99a5-b42afe2b3916.png)

[2022-10-12 12:40] soothing-rain opened #19734 "[Enhancement]: Rename "Bulk Load" to "Bulk Insert" in all occurrences."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

RT (a Chinese slang)

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-10-12 12:40] soothing-rain commented on #19734
/assign @yhmo

[2022-10-12 12:49] bigsheeper commented on #19733
[bw_etcd_ALL.221010-210929.bak.gz](https://github.com/milvus-io/milvus/files/9764950/bw_etcd_ALL.221010-210929.bak.gz)

[2022-10-12 13:01] bigsheeper commented on #19733
[datacoord-59-2022-10-10T21-20-41.044.log.zip](https://github.com/milvus-io/milvus/files/9765013/datacoord-59-2022-10-10T21-20-41.044.log.zip)
[querycoord-4.log.zip](https://github.com/milvus-io/milvus/files/9765018/querycoord-4.log.zip)

[querynode-72.log.zip](https://github.com/milvus-io/milvus/files/9765022/querynode-72.log.zip)

[querynode-78.log.zip](https://github.com/milvus-io/milvus/files/

[2022-10-12 17:08] OMGMoore opened #19735 "[Bug]: Milvus install error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I am trying to follow the set-up instructions at https://milvus.io/docs/v1.0.0/milvus_docker-gpu.md

When I run
[code]
I get the error
[code]

### Expected Behavior

Upon running the above script, I expect the docker container for Milvus to be launched

### Steps To R

[2022-10-12 23:03] #18855 closed

[2022-10-13 01:02] yanliang567 commented on #19655
@shanghaikid could you please take a look, it seems to be an attu issue.
/assign @shanghaikid
/unassign @xige-16

[2022-10-13 01:20] yanliang567 commented on #19735
/assign @yhmo
/unassign

[2022-10-13 01:27] yanliang567 commented on #19720
/assign @sunby
/unassign

[2022-10-13 01:28] yanliang567 commented on #19718
/assign @xiaocai2333
/unassign

[2022-10-13 01:30] yanliang567 commented on #19717
@zxcvjl it seems to to a known issue, which was fixed on 2.1.4. could you please retry on 2.1.4?
Also please make sure you have enough memory on querynode for collection loading.

/assign @zxcvjl
/unassign

[2022-10-13 01:31] yanliang567 commented on #19644
The task is still running after 2.5 days, I will check it again in 2 more days

[2022-10-13 01:35] xiaofan-luan commented on #19158
keep it open

[2022-10-13 01:54] xiaofan-luan commented on #19138
Hi Camper, I'm assuming you are using embedding milvus?

Embedding milvus use local storage to avoid actual depdency and by default the directory is /tmp/milvus/data/.

If you want to change the storage location, then localStorage.path is config you want to change

[2022-10-13 02:02] xiaofan-luan commented on #19679
how large is the data size for 40 segments?
If we can pass this test before, there might be some performance degrade?

[2022-10-13 02:07] zhuwenxing commented on #19633
For now, It works well for proxy pod kill chaos test, but others still have this issue.

[2022-10-13 02:10] NicoYuan1986 commented on #15282
Recently: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/155/pipeline/123

milvus: ae373d4
pymilvus: 2.2.0.dev40

1. log: [artifacts-milvus-standalone-nightly-155-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/155/artifact/artifacts-milvus-standalone-nightly-155-pymilvus-e2e-logs.tar.gz)
2. FAILED timel

[2022-10-13 02:11] zhuwenxing commented on #19633
![image](https://user-images.githubusercontent.com/12268675/195482615-ec7ed940-027f-4709-925f-b72e58fe6fe8.png)

[2022-10-13 02:17] yongpengli-z commented on #19637
DescribeCollection has been   removed from ddl

[2022-10-13 02:17] #19637 closed

[2022-10-13 02:22] #19310 closed

[2022-10-13 02:28] NicoYuan1986 opened #19736 "[Bug]: [Nightly]Load collection failed for timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Load collection failed for timeout.
[code]

### Expected Behavior

PASSED

### Steps To Reproduce

[code]

### Milvus Log

1. log: [artifacts-milvus-distributed-pulsar-nightly-155-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/

[2022-10-13 02:35] wayblink opened #19738 "[Enhancement]: Add active-standby support in querycoord V2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add active-standby support in querycoord V2

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-10-13 02:36] zhuwenxing opened #19739 "[Bug]: Create index time out after minio pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/2117/pipeline/244
log:
[artifacts-s3-pod-kill-2117-ser

[2022-10-13 02:45] NicoYuan1986 opened #19740 "[Bug]: [Nightly]Milvus crashed reporting 'find no available rootcoord'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus crashed reporting 'find no available rootcoord'.

### Expected Behavior

PASS

### Steps To Reproduce

https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/156/pipeline/187

### Milvus Log

[artifacts-milvus-distributed

[2022-10-13 02:49] zhuwenxing opened #19741 "[Bug]: Indexcoord crash after datacoord pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

[code]

### Expected Behavior

all pods can be ready after chaos, and all test cases can pass

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/2107/pipeline

[2022-10-13 02:49] yongpengli-z opened #19742 "[Bug]: [rate limit]All DML requests were been rejected,when the ttProtection.enabled=false and maxTimeTickDelay=0.1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

10:07:57.910 [main] [INFO ] com.zilliz.milvustest.limit.LimitWriting:137 --- R{exception=Exception: create duplicate collection with different parameters, collection: book128, status=1, data=null}
10:07:57.918 [main] [INFO ] io.milvus.client.AbstractMilvusGrpcClient:2

[2022-10-13 02:53] mchenyu1218 opened #19743 "[Bug]: Milvus search and query return wrong result"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I was trying to do a query search for some data in milvus, however, the return result does not satisfy the condition we offer. For example, I would like to search for a book in a time range and select a university, but milvus is still giving me the wrong results. I am

[2022-10-13 02:54] BUPTAnderson opened #19744 "[Bug]: fail to Query with shard leader occurs daily"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

In my cluster, proxy can not search for about 1 hour per day and It happens around 5:30 every time.
<img width="1613" alt="截屏2022-10-13 10 52 25" src="https://user-images.githubusercontent.com/13449703/195487932-5162a1f1-a2ae-4cea-b97f-7cbcee28b3e2.png">

### Expected

[2022-10-13 02:56] XuanYang-cn commented on #19526
/assign
/unassign @wangting0128

[2022-10-13 03:03] camper42 commented on #19138
we use helm to deploy a milvus standalone

[code]

[code]

in `/var/lib/milvus':
[code]

may I open an issue in milvus-io/milvus-helm ?

[2022-10-13 03:33] jiaoew1991 opened #19749 "[Feature]: We need access log in proxy node"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

In order to facilitate troubleshooting of third-party calls to `milvus`, we need to open the access log in the proxy node to record the API call of `milvus`.

### Describe the solution you'd like.

Refer to `nginx`'s access log format. The API cal

[2022-10-13 03:33] jiaoew1991 commented on #19749
/assign @aoiasd

[2022-10-13 03:55] xiaocai2333 commented on #19199
same as #19164 ,has been fixed, please verify
/unassign
/assign @binbinlv

[2022-10-13 03:55] aoiasd commented on #19679
100000 rows data. Collection field was float_vector(dim=128) and three scalar(int64, float and varchar). CreateSegmentIndex task in queryNode was still vary fast(nearly 60ms ), but we push the task per 1s and limit only one could work, so we could only finish one CreateSegmentIndex task per 1s. The time cost of CreateCollectionIndex was almost only related with the sum of segments, and if two Crea

[2022-10-13 03:55] aoiasd commented on #19679
100000 rows data. Collection field was float_vector(dim=128) and three scalar(int64, float and varchar). CreateSegmentIndex task in queryNode was still vary fast(nearly 60ms ), but we push the task per 1s and limit only one could work, so we could only finish one CreateSegmentIndex task per 1s. The time cost of CreateCollectionIndex was almost only related with the sum of segments, and if two Crea

[2022-10-13 03:56] xiaocai2333 commented on #6836
fixed, please verify
/assign @binbinlv

[2022-10-13 03:57] xiaocai2333 commented on #19323
@XuanYang-cn

[2022-10-13 04:37] yongpengli-z opened #19750 "[Bug]: [rate limit] Memory protection is invalid,the milvus server crashed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/103410837/195502697-88156d19-0737-4552-b5bf-baa74be305a6.png)

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

[log1.log](https://github.com/milvus-io/milvus/files/9770826/log1.lo

[2022-10-13 05:11] yongpengli-z commented on #19750
![47804e38-6acb-4d96-9105-e331fb881c9b](https://user-images.githubusercontent.com/103410837/195506608-ef460099-9323-4e4b-98a1-4018d9bcdf5a.jpeg)
![a5797523-a861-4f74-b11d-f20422e85d59](https://user-images.githubusercontent.com/103410837/195506621-6fbe3726-efd8-4a1b-aa9a-af2b06368838.jpeg)
When memoryLowWaterLevel < memory usage < memoryHighWaterLevel, the dml rate was not been reduced

[2022-10-13 05:20] yongpengli-z commented on #19750
[log2.log](https://github.com/milvus-io/milvus/files/9771013/log2.log)
[log3.log](https://github.com/milvus-io/milvus/files/9771014/log3.log)

[2022-10-13 05:55] Folgerjun commented on #19721
@yanliang567 tks! Although I don't know how the problem is caused, it seems to work normally after the release and load operations.

[2022-10-13 06:06] bigsheeper commented on #19750
limitWriting:
    forceDeny: false

    ttProtection:
      enabled: true
      maxTimeTickDelay: 30  # seconds

    memProtection:
      enabled: true
      dataNodeMemoryLowWaterLevel: 0.85
      dataNodeMemoryHighWaterLevel: 0.95
      queryNodeMemoryLowWaterLevel: 0.85
      queryNodeMemoryHighWaterLevel: 0.95

[2022-10-13 06:07] bigsheeper commented on #19750
[code]

[2022-10-13 06:10] yanliang567 commented on #19721
looking into the logs, it seems that there are some meta that indicates the collection was loaded, so it does not load even after you called load() again. @Folgerjun

[2022-10-13 06:12] XuanYang-cn commented on #19526
[code]

[2022-10-13 06:16] XuanYang-cn commented on #19526
/assign @xiaocai2333
/unassign

[2022-10-13 06:23] binbinlv opened #19752 "[Bug]: The total_rows of interface index_building_progress is wrong"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The total_rows of interface index_building_progress is wrong
[code]

### Expected Behavior

The total_rows of interface index_building_progress is the same with nb

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-10-13 06:27] binbinlv opened #19753 "[Bug]: Index is not built completely in target time"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Index is not built completely in target time
[code]

### Expected Behavior

Index is built completely in target time

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-10-13 06:31] SimFG commented on #19752
The result of new api only contains the `loading_progress` value.

[2022-10-13 06:32] binbinlv opened #19754 "[Bug]: The error of loading progress is not user friendly when the collection is released or not loaded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The error of loading progress is not user friendly when the collection is released or not loaded
Report error
(code=1, message=fail to show collections from the querycoord, no data)

### Expected Behavior

something like "Not loaded"

### Steps To Reproduce

[code]

#

[2022-10-13 06:33] SimFG commented on #19753
You need use the `loading_progress` value of the progress api to check whether the index has been built completely.

[2022-10-13 06:38] soothing-rain commented on #19622
/unassign
/assign @jiaoew1991

[2022-10-13 06:51] xiaofan-luan commented on #19679
Maybe we can trigger a new index task one the old task done rather than simply wait for 1s and reschedule?

[2022-10-13 07:05] binbinlv commented on #19199
Fixed and closed.

[2022-10-13 07:05] #19199 closed

[2022-10-13 07:08] xiaocai2333 commented on #19526
the startPosition of this segment is null, so panic occurred when IndexCoord get the timestamp of startPositition.

![image](https://user-images.githubusercontent.com/46207236/195525865-94545fa7-6bd3-4592-907d-61e806c98480.png)

[2022-10-13 07:15] aoiasd commented on #19679
How we trigger the new task? if we want known the task status，we must get it from queryNode, polling same to be necessary，maybe we just need to reduce the polling interval？

[2022-10-13 07:27] aoiasd commented on #19679
Or because now we check and delete the task in process if finished in the same logic with trigger new task，but maybe the former we could use a longer polling interval, and the latter should used a shorter one.

[2022-10-13 07:30] xiaocai2333 commented on #19526
/assign @congqixia  please task a look that why the start position is null.

[2022-10-13 07:46] xiaofan-luan commented on #19743
can I see your insert code?
Say if the filtering condition is only university == "ucb" does it work?

[2022-10-13 08:39] xiaocai2333 commented on #19532
maybe this is a bug in knowhere. please task a look. @longjiquan  @cydrain
/assign @longjiquan
/assign @cydrain

[2022-10-13 09:25] bigsheeper commented on #19750
should be fixed, please verify @yongpengli-z
/unassign
/assign @yongpengli-z

[2022-10-13 09:26] bigsheeper commented on #19742
should be fixed, please verify @yongpengli-z
/unassign
/assign @yongpengli-z

[2022-10-13 10:01] yongpengli-z opened #19761 "[Bug]: [rate limit] nqInQueueThreshold is no effective"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

quotaAndLimits:
  enabled: true
  queueProtection:
      enabled: true
      nqInQueueThreshold: 10
      queueLatencyThreshold: 2000
      coolOffSpeed: 0.9
![image](https://user-images.githubusercontent.com/103410837/195568321-94b2319c-a770-4003-99e3-057febd2a661.pn

[2022-10-13 10:06] yongpengli-z opened #19762 "[Bug]: [rate limit] queueLatencyThreshold is no effective"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

quotaAndLimits:
enabled: true
queueProtection:
enabled: true
nqInQueueThreshold: 10
queueLatencyThreshold: 2000
coolOffSpeed: 0.9
![image](https://user-images.githubusercontent.com/103410837/195567712-d37ff8b6-c5cf-42a4-9870-8168628e76d6.png)

### Expected Behavior

_

[2022-10-13 10:18] xiaocai2333 commented on #19718
reason:
1. compaction occurred when building indexes.
2. the order building index is sorted by buildID.
3. Concurrency testing

the buildID of the segment from compaction is large other segment, so even if the indexing task comes first, after the compaction occurs, it has to wait for the segments of other collections to complete the indexing.
very easy to cause timeout.

[2022-10-13 10:45] yah01 commented on #19610
The GC of DataCoord may removes old stats logs, and the Query cluster still holds the old stats log path. We will fix this with v2.2.

[2022-10-13 10:45] karanbhatia-jm opened #19763 "[Bug]: Data node not able to restart properly. Stuck at the data compaction step"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I have deployed a Milvus 2.1 cluster on AWS EKS with one data node and 2 query nodes using the official helm chart for Milvus. I have tried to benchmark the Milvus deployment using the official Milvus benchmarking guide which does not work for me. I have also setup re

[2022-10-13 10:48] soothing-rain opened #19764 "[Enhancement]: Flush should be triggered when DelDataBuf reaches a certain size."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Related to: https://github.com/milvus-io/milvus/issues/19713

<img width="876" alt="image" src="https://user-images.githubusercontent.com/69466447/195577102-15bf1862-6d23-43ed-9341-7c471750f23d.png">

DelDataBuf caches primary keys and timestamps for all records to be deleted.

[2022-10-13 10:48] soothing-rain commented on #19764
/assign

[2022-10-13 10:48] soothing-rain commented on #19187
/unassign @xiaofan-luan
/assign @czs007

[2022-10-13 11:20] dzqoo opened #19769 "[Bug]: When I loadded data into querynode, I got querynode oomkilled."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I load data into querynode and querynode remainded memory is rich for my situation , the is restart because of oomkiled.

Here is the data describe: 300W*400dim with 4.8GB scalar data.
Here is the remainded memory of querynode:
![56fd378f845190547dd93c43c012456](

[2022-10-13 11:30] yanliang567 commented on #19769
/assign @congqixia

[2022-10-13 11:30] weiliu1031 commented on #19736
/assign @weiliu1031

[2022-10-13 11:32] weiliu1031 commented on #19736
just because loadSegmentTask generate a bit late， so loadCollection finish later than proxy timeout. actually, the collection has been load successfully.

[2022-10-13 11:38] yanliang567 commented on #19763
@karanbhatia-jm if you are using collection_prepare.py in the benchmark guide to insert data, i think you need to add more cpu and memory(2cpu and 8 GB memory) to the datanode, or you can update the collection_prepare.py to insert less vectors(5000) in one batch. could you please retry?
/assign @karanbhatia-jm

[2022-10-13 11:38] xiaofan-luan commented on #19149
/assign @xige-16

[2022-10-13 11:39] xiaofan-luan commented on #19149
might not be a issue in 2.2, but need to check

[2022-10-13 11:50] yanliang567 commented on #19741
/assign @sunby
/unassign

[2022-10-13 12:03] mchenyu1218 commented on #19743
No, I have also tried to do a filter query with only year > 2015, but the returned results still contain documents that are before 2015.

[2022-10-13 12:05] karanbhatia-jm commented on #19763
Sure. I will try with 5000 vectors in one batch

[2022-10-13 12:06] mchenyu1218 commented on #19743
My milvus information is below:
fields = [
    FieldSchema(name="doc_id", dtype=DataType.INT64, is_primary=True),
    FieldSchema(name="eid", dtype=DataType.INT64),
    FieldSchema(name="document_vector", dtype=DataType.FLOAT_VECTOR, dim=50), #Generate schema using for loop
    FieldSchema(name="year", dtype=DataType.DOUBLE),
    FieldSchema(name="university", dtype=DataType.VARCHAR, max_length=10

[2022-10-13 12:12] yanliang567 commented on #19740
/assign @sunby
/unassign

[2022-10-13 12:13] yanliang567 commented on #19739
/assign @sunby
/unassign

[2022-10-13 12:19] yanliang567 commented on #19769
here attached more info from @dzqoo
<img width="296" alt="image" src="https://user-images.githubusercontent.com/82361606/195594055-e63bf5b9-c11e-45ac-b59e-504dc4c7a046.png">
<img width="191" alt="image" src="https://user-images.githubusercontent.com/82361606/195594094-96eba82c-7082-468d-95cc-c039d5f2b0a3.png">
<img width="296" alt="image" src="https://user-images.githubusercontent.com/82361606/195

[2022-10-13 13:10] #19662 closed

[2022-10-13 15:55] siwenyang commented on #19615
Thank you for help.

[2022-10-13 15:55] #19615 closed

[2022-10-14 00:02] #19065 closed

[2022-10-14 00:02] #18516 closed

[2022-10-14 01:14] yanliang567 commented on #19763
@karanbhatia-jm please feel free to LMK if any problems.

/unassign

[2022-10-14 01:59] #19738 closed

[2022-10-14 01:59] OMGMoore commented on #19735
I was ultimately able to finally resolve this by running the docker compose for the standalone version of milvus in a clean environment. I am however experiencing persistent issues connecting to the server, so I will open a separate issue for that

[2022-10-14 01:59] #19735 closed

[2022-10-14 02:12] weiliu1031 commented on #19736
more details:

1. loadSegmentTask generate for a bit late due to watchDmChannel cost 20s before loadSegmentTask can generate

2. watchDmChannel cost 20s just because query node process task in serial and a loadCollection with 256 channels is processing before it.

[2022-10-14 02:12] longjiquan commented on #19130
Will be fixed by #19776
/unassign
/assign @NicoYuan1986

[2022-10-14 02:18] yanliang567 commented on #19635
not reproduced on master 1006
remove urgent for now

[2022-10-14 02:19] yanliang567 commented on #19567
not reproduced recently

[2022-10-14 02:19] #19567 closed

[2022-10-14 02:24] yanliang567 commented on #19102
load issue not reproduced

[2022-10-14 02:24] #19102 closed

[2022-10-14 02:29] yanliang567 commented on #18608
@zhuwenxing try to reproduce on 2.1.4->master

[2022-10-14 02:33] yanliang567 commented on #18508
load collection issue not reproduce yet, remove urgent yet

[2022-10-14 02:34] binbinlv commented on #19753
Verified and fixed.
milvus : [master-20221014-8e7a4733](https://hub.docker.com/layers/milvusdb/milvus/master-20221014-8e7a4733/images/sha256-5bb9da9e187d33096b25b4595eb8ed654d7805d4147cfd64be14ab4dc9dd6192?context=explore)
pymilvus: 2.2.0.dev44

[2022-10-14 02:34] #19753 closed

[2022-10-14 02:55] soothing-rain opened #19777 "[Feature]: Dangling bulk load task in `ImportStarted` could be marked failed earlier."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

To improve user experience.

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

_No response_

[2022-10-14 02:55] soothing-rain commented on #19777
/assign

[2022-10-14 02:55] binbinlv commented on #19752
Verified and fixed.
milvus : [master-20221014-8e7a4733](https://hub.docker.com/layers/milvusdb/milvus/master-20221014-8e7a4733/images/sha256-5bb9da9e187d33096b25b4595eb8ed654d7805d4147cfd64be14ab4dc9dd6192?context=explore)
pymilvus: 2.2.0.dev44

Result:
{'total_rows': 1024, 'indexed_rows': 1024}

[2022-10-14 02:55] #19752 closed

[2022-10-14 02:55] soothing-rain commented on #19544
/unassign
/assign @zhuwenxing

Please verify

[2022-10-14 02:56] soothing-rain commented on #19503
/unassign

[2022-10-14 02:57] yanliang567 commented on #19644
not reproduced

[2022-10-14 02:57] #19644 closed

[2022-10-14 02:57] jiaoew1991 commented on #18705
/assign @zhuwenxing
/unassign @congqixia

[2022-10-14 02:57] jiaoew1991 commented on #18828
/assign @zhuwenxing
/unassign @congqixia

[2022-10-14 02:59] soothing-rain commented on #19563
Sure I created a new issue for this one:
https://github.com/milvus-io/milvus/issues/19777

We can close 19563 for now.

/assign @zhuwenxing

[2022-10-14 02:59] xiaocai2333 commented on #19718
sorry, maybe this is not the real reason.

[2022-10-14 03:00] yongpengli-z commented on #19750
The current performance：deny DML operations is effective，backpressure for DML Operations is invalid。
After hovered around 95% memory for a few times，milvus server crashed
![image](https://user-images.githubusercontent.com/103410837/195751206-b9b7dfa6-c140-448f-9f7d-4fad02660b6b.png)
![image](https://user-images.githubusercontent.com/103410837/195751294-7e22d034-01f0-420c-84bc-a8377addf598.png)

[2022-10-14 03:00] jaime0815 opened #19778 "Support check health for the cluster level"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Provide a check health API to ensure all services are available

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-10-14 03:02] xiaocai2333 commented on #19741
same reason as #19526
the start position of segment info is nil.
@congqixia PTAL
/assign @congqixia

[2022-10-14 03:03] yongpengli-z commented on #19750
[log.log](https://github.com/milvus-io/milvus/files/9782112/log.log)

[2022-10-14 03:13] soothing-rain commented on #19473
@zhuwenxing Shall we deprioritize this issue as it doesn't occur very often?

/assign @zhuwenxing

[2022-10-14 03:26] NicoYuan1986 opened #19780 "[Bug]: [Nightly] Create collection failed reporting 'failed to watch channels, code: UnexpectedError, reason: DataCoord 0 is not ready'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Create collection failed reporting 'failed to watch channels, code: UnexpectedError, reason: DataCoord 0 is not ready'.
Detailed error message:
[code]

### Expected Behavior

PASSED

### Steps To Reproduce

https://jenkins.milvus.io:18080/blue/organizations/jenkins/Mi

[2022-10-14 05:08] SimFG opened #19781 "[Enhancement]: Separate public proto files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Separate public proto files, which makes to be depended in the other repository.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-10-14 05:29] 15820415264 commented on #19586
we didn‘t found 'queryCoord. MaxTask' any where。we try to fix the param 'proxy.MaxTaskNum'  from 1024 to 100 and reboot all pod,but  the pod of 'proxy' and 'queryCoord' still not work 。

[2022-10-14 05:30] 15820415264 commented on #19586
[milvus-log.tar(20221014).gz](https://github.com/milvus-io/milvus/files/9782755/milvus-log.tar.20221014.gz)

[2022-10-14 06:33] congqixia commented on #18968
@dzqoo this problem shall be fixed in latest master and 2.1.4, could you please verify whether fix patches solve your issue?
/unassign
/unassign @letian-jiang
/assign @dzqoo

[2022-10-14 06:40] yah01 opened #19785 "[Bug]: test_load_balance_with_all_sealed_segment_id_not_exist asserts incorrect error message"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-19670/11/pipeline

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-10-14 07:17] congqixia commented on #19679
Hi @xiaofan-luan , do we have any agreement on how to fix this problem yet?

[2022-10-14 07:19] congqixia commented on #19543
Fix pr has been merged. Please verify in next runs. Thanks!
/unassign
/assign @wangting0128

[2022-10-14 08:23] xiaocai2333 opened #19792 "[Enhancement]: Index must be built before load"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

1. Index must be built before load.
2. Index can drop after release.

### Why is this needed?

1. querycoord can handle handoff events correctly.

### Anything else?

_No response_

[2022-10-14 09:03] NicoYuan1986 opened #19795 "[Bug]: CI resources are insufficient"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

CI resources are insufficient.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-10-14 09:04] NicoYuan1986 opened #19796 "[Bug]: CI resources are insufficient"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

CI resources are insufficient.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-10-14 09:24] #19795 closed

[2022-10-14 09:31] weiliu1031 commented on #19586
try edit `milvus.yaml` like this, if you need.
![image](https://user-images.githubusercontent.com/108661493/195813583-280dfb29-8fc4-4948-9ebb-49a5f69650a1.png)

[2022-10-14 13:19] #19796 closed

[2022-10-14 16:05] soothing-rain commented on #19741
the start position of segment info is nil because DataNode crashed between
https://github.com/milvus-io/milvus/blob/master/internal/datanode/flush_manager.go#L773

and

https://github.com/milvus-io/milvus/blob/master/internal/datanode/flush_manager.go#L805

Normal case:
1. The first `listNewSegmentsStartPositions` fetches start positions of `newSegments` and then turn them into `normalSegment`.
2.

[2022-10-14 16:12] soothing-rain commented on #19526
This is similar to #19741 (see my comment). It is weird that I could be see the log where the segment is added to flow-graph (maybe some logs are in-between). But there's definitely a valid checkpoint here (the start position is null tho):

[code]

So same as #19741 , having `SaveBinlogPaths` always called with a non-empty start position of the current segment should fix this issue.

[2022-10-14 17:06] #19073 closed

[2022-10-15 04:27] yongpengli-z commented on #19742
Verify success

[2022-10-15 04:27] #19742 closed

[2022-10-15 06:22] #19003 closed

[2022-10-15 16:47] #19117 closed

[2022-10-15 16:47] #19119 closed

[2022-10-15 19:30] nohack commented on #15558
@xiaofan-luan As per the latest code, looks like this is implemented ?

[2022-10-16 03:44] James4Ever0 commented on #17193
have the same problem.

[2022-10-16 03:59] xiaofan-luan commented on #17193
We will keep this issue.
Some of the behaviour is by design, but we will see what we can do

[2022-10-16 08:54] yanliang567 commented on #19785
/assign @yah01
/unassign

[2022-10-16 08:54] yanliang567 commented on #19780
/assign @soothing-rain
/unassign

[2022-10-16 12:54] xiaofan-luan commented on #15558
Not yet? This is still on the plan of Milvus 2.3

[2022-10-16 14:49] yangrz7 opened #19805 "[Bug]: Cannot create producer on topic with backlog quota exceeded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![WechatIMG62](https://user-images.githubusercontent.com/37785043/196041982-b4def133-a765-47ab-b14c-f2c3cb0d3075.jpeg)
![Xnip2022-10-16_22-44-24](https://user-images.githubusercontent.com/37785043/196041988-4574ea82-302e-4cc9-a9ab-731db466686b.jpg)

### Expected Behav

[2022-10-16 20:18] nohack commented on #15558
@xiaofan-luan [These](https://github.com/milvus-io/milvus/blob/master/internal/util/paramtable/base_table.go#L117-L118) lines are similar to dynamic config load with file and remote etcd based loading ?

[2022-10-17 00:56] yanliang567 commented on #19805
/assign @soothing-rain
/unassign

[2022-10-17 01:53] jiaoew1991 opened #19806 "[Enhancement]: Try Conan as c++ package manager"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

https://conan.io/

Using Canon as dependency management for the C++ part has the following benefits:
1. Automatically download precompiled dependencies from the package center which could be the default center or self-hosted
2. Improve compilation time
3. Managing third-party

[2022-10-17 02:04] #19785 closed

[2022-10-17 02:04] #19691 closed

[2022-10-17 02:18] zhuwenxing opened #19807 "[Bug]: [bulk load]Bulk load tasks created after minio pod failure chaos were all pending because 2 tasks created during chaos keep in started state"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Bulk load tasks all failed after chaos.
[code]

### Expected Behavior

all tests passed after chaos

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/bulk_load_chaos_test/detail/bulk_load_chaos_

[2022-10-17 02:22] #19712 closed

[2022-10-17 02:23] #19299 closed

[2022-10-17 02:23] yongpengli-z opened #19808 "[Bug]: [rate limit] Continue delete operation ，memory protection is invalid,the milvus server crashed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

quotaAndLimits:
  enabled: true
 dml:
    enabled: true
    insertRate:
      max: 5
    deleteRate:
      max: 2

Continue to delete,the milvus crashed
![image](https://user-images.githubusercontent.com/103410837/196075377-4ad894a5-594b-40e9-a44a-791fe9fc05b8.png)
![

[2022-10-17 02:23] xige-16 commented on #19149
OK

[2022-10-17 02:24] xiaofan-luan commented on #19806
good try

[2022-10-17 02:26] NicoYuan1986 opened #19809 "[Bug]: [Nightly]Test cases associated with shard num have not been modified"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Test cases associated with shard num have not been modified.

### Expected Behavior

PASS

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-10-17 02:37] NicoYuan1986 commented on #19780
Update:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/163/pipeline/155/

milvus: 1587878
pymilvus:  2.2.0.dev44

1. milvus log: [artifacts-milvus-distributed-kafka-nightly-163-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/163/artifact/artifacts-milvus-distributed-kafka-nightly-163-pymilvus-e2e-logs.ta

[2022-10-17 02:38] bigsheeper commented on #19808
![img_v2_ad2c3102-6b68-40eb-9951-6857e8de63dg](https://user-images.githubusercontent.com/42060877/196077459-25d12550-6321-4c62-85ce-f733085d07e8.jpg)

[2022-10-17 02:39] congqixia commented on #19741
If datanode crashed, the recovered position shall make sure the segment is a new segment without start position or a normal segment with the start position. Do we have and case to violate this constraint? @XuanYang-cn @soothing-rain

[2022-10-17 02:53] NicoYuan1986 opened #19813 "[Bug]: [Nightly]Load balance failed reporting 'failed to balance segments, err=context deadline exceeded'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Load balance failed reporting 'failed to balance segments, err=context deadline exceeded'.
[code]

### Expected Behavior

PASSED

### Steps To Reproduce

[code]

### Milvus Log

1. milvus log: [artifacts-milvus-distributed-pulsar-nightly-162-pymilvus-e2e-logs.tar.gz](

[2022-10-17 02:55] NicoYuan1986 commented on #19385
The issue has been solved.

[2022-10-17 02:55] #19385 closed

[2022-10-17 02:56] NicoYuan1986 commented on #19130
The issue has been solved.

[2022-10-17 02:56] #19130 closed

[2022-10-17 05:27] #19195 closed

[2022-10-17 05:38] yovelcohen opened #19818 "[Bug]: deadline exceed, historical query failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I have a collection, roughly around 10k 768 dim vectors with no index.
suddenly querying (specifically calc_distance) has started to fail due to health issues in query node.
also getting similar errors in attu.
tried downgrading to milvus v 2.1.2 and restarting the po

[2022-10-17 05:42] hukang6677 commented on #19586
k8s helm cluster
I follow the official document，edit the value.yaml
![image](https://user-images.githubusercontent.com/102129512/196096548-85f2cae0-5de5-422a-90f5-d6df0af4a939.png)
![image](https://user-images.githubusercontent.com/102129512/196097089-8d060823-302d-42d9-b972-61ceebecb12a.png)

#helm upgrade my-release milvus/milvus -f values.yaml

However,the param queryCoord.MaxTask does not work

[2022-10-17 05:50] hukang6677 commented on #19586
I also tried the following operations

#helm upgrade --install my-release milvus/milvus --set queryCoord.MaxTask=100

#helm upgrade --install --set queryCoord.MaxTask=100 my-release milvus/milvus

#helm upgrade --install --set queryCoordinator.MaxTask=100 my-release milvus/milvus

It doesn't work

[2022-10-17 06:26] soothing-rain commented on #19777
/unassign @xiaofan-luan

[2022-10-17 06:49] hukang6677 commented on #19586
the queryCoord.MaxTask=100 doesn't work，I tried the above method

[2022-10-17 07:16] binbinlv commented on #19181
@NicoYuan1986
please help to verify it, thanks.

[2022-10-17 07:33] NicoYuan1986 commented on #19181
The rules have been added. 🎉

[2022-10-17 07:33] #19181 closed

[2022-10-17 07:36] NicoYuan1986 commented on #19097
The issue hasn't happened in the last three days. So close it now. milvus: 1587878.

[2022-10-17 07:36] #19097 closed

[2022-10-17 07:37] binbinlv commented on #19743
Ok, working on it.

[2022-10-17 07:40] NicoYuan1986 commented on #19129
The issue has been solved with the message: <MilvusException: (code=1, message=nq [17000] is invalid, should be in range [1, 16384], but got 17000).   milvus: 1587878

[2022-10-17 07:40] #19129 closed

[2022-10-17 07:44] NicoYuan1986 commented on #19143
Thanks! The issue has been solved!

[2022-10-17 07:44] #19143 closed

[2022-10-17 07:57] S-Dragon0302 opened #19822 "[Bug]: Two identical matrices,Inaccurate similarity?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Two identical matrices,Inaccurate similarity?
search vector and result vector
0.11,-0.09,-0.03,0.19,-0.03,0.04,0.03,0.06,-0.01,-0.07,-0.04,0.05,-0.01,-0.08,-0.02,-0.12,-0.17,0.0,-0.05,0.0,0.06,0.15,0.05,0.13,-0.01,0.0,0.01,0.13,-0.07,-0.02,-0.14,0.13,0.01,0.09,-0.03,0

[2022-10-17 07:57] ggKe opened #19823 "[Bug]: Failure to create a segment for droped collection causes the program to trigger a panic() to exit."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

datanode exit.
trigger code :
flow_graph_insert_buffer_node.go
seg2Upload, err := ibNode.updateSegStatesInReplica(fgMsg.insertMessages, startPositions[0], endPositions[0])
if err != nil {
  // Occurs only if the collectionID is mismatch, should not happen
  err = fmt.

[2022-10-17 07:59] yanliang567 commented on #19822
/assign @cydrain
/unassign

[2022-10-17 08:00] yanliang567 commented on #19823
/assign @bigsheeper
/unassign

[2022-10-17 08:02] wayblink commented on #18619
/close

[2022-10-17 08:03] #18619 closed

[2022-10-17 08:11] jingkl commented on #19526
server-instance
fouram-zpv9j-1
server-configmap
server-single-8c32m256d-diskann
client-configmap
client-random-locust-compaction-search-diskann

master-20221014-bdaddd7b

[code]

[code]

[2022-10-17 08:16] soothing-rain commented on #19805
@yangrz7 Please take a look at https://github.com/milvus-io/milvus/issues/19423 . See if it is helpful.

/unassign
/assign @yangrz7

[2022-10-17 08:19] soothing-rain commented on #19730
/unassign
/assign @zhuwenxing

Please verify

[2022-10-17 08:23] jingkl opened #19826 "[Bug]: [benchmark][cluster]Milvus 100m data search failed,raise an message"rpc deadline exceeded""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-tag-no-clean-sd4st-1
server-configmap
server-cluster-8c64m
client-configmap
client-random-locust-search-filter-100m-ddl

[code]
client log:
<img width="1321" alt="截屏2022-10-17 16 20 15" src="https://user-images.githubusercontent.com/34296482/196

[2022-10-17 08:23] bigsheeper commented on #19823
[datanode-2127.log](https://github.com/milvus-io/milvus/files/9798360/datanode-2127.log)

[2022-10-17 08:33] jingkl opened #19827 "[Bug]: [benchmark][standalone] Milvus load failed, rasie an error"collection has not been loaded to memory or load failed""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

release_name_prefix
fouramf-pf4mt
deploy_config
empty-file
case_params
empty-file
other_params
 --milvus_tag_prefix=master -k test_search_time -s

[code]

client log:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

_No res

[2022-10-17 08:38] soothing-rain commented on #19807
/unassign @yanliang567
/assign

[2022-10-17 09:00] soothing-rain commented on #19807
/unassign
/assign @yhmo

[2022-10-17 09:07] jingkl opened #19829 "[Enhancement]: Milvus search's error reporting is unclear and too lengthy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

An error statement like this is not very clear：

`{"log":"[2022-10-14 14:52:39,568] [   ERROR] - RPC error: [search], \u003cMilvusException: (code=1, message=fail to search on all shard leaders, err=fail to Search, QueryNode ID=63, reason=ShardCluster for in01-a0c80e87fc44016-

[2022-10-17 09:11] cydrain commented on #19822
I think you're using index type "IVF_PQ" and metric type "IP".
IVF_PQ will do product quantization for the vector, so the distance you see is not the IP distance between vector 'a' and itself, but 'a' and 'a_mod' (after product quantization).
So the distance is not 1

[2022-10-17 09:11] yhmo commented on #19807
The pr #19671 will fix this bug.

[2022-10-17 09:15] XuanYang-cn opened #19830 "[Bug]: test_compact_partition ci fail"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-10-17 09:18] XuanYang-cn commented on #19830
[code]

[2022-10-17 09:26] NicoYuan1986 commented on #19682
Solved! Thank you so much!

[2022-10-17 09:26] #19682 closed

[2022-10-17 09:33] weiliu1031 commented on #19586
what do you mean by 'the queryCoord.MaxTask=100 doesn't work' ?
1. let's make sure that you meet the same question with the origin issue
2. discuss how to solve it

[2022-10-17 09:35] Sivannnnnn commented on #19544
@yanliang567
hello,I ran into the same problem with segment when using v2.1.4 cluster

[2022-10-17 09:35] Sivannnnnn commented on #19544
How was this resolved and in which version

[2022-10-17 09:39] XuanYang-cn commented on #19829
/unassign
/unassign @yanliang567
/assign @yah01
Please help to refine the error message

[2022-10-17 09:41] longjiquan commented on #19532
@cjh6666688888 hello, can you provide the insert binlog of segment, file path:
`ceshi_one/insert_log/436302218470096897/436302218470096898/436302313300951042/101/436302325962244098`
`ceshi_one/index_files/436302326055305218/1/436302218470096898/436302313300951042/RAW_DATA`

[2022-10-17 09:43] XuanYang-cn commented on #18995
/unstale

[2022-10-17 09:45] XuanYang-cn opened #19834 "[Enhancement]: DataNode should process stale segments' flush in batch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

if len(flushCh) > 10 {
   processInBatch
}

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-10-17 09:47] soothing-rain commented on #19780
DataCoord panicked during compaction.

/assign @wayblink
/unassign

[2022-10-17 10:08] soothing-rain commented on #19544
Hey this actually happens when we were testing Milvus 2.2 new features.

Can you let us know what happened to you by opening a new issue? Thanks! :)

[2022-10-17 10:08] wangting0128 opened #19837 "[Bug]: [benchmark][standalone][scalar filtering] Load collection raise error: collection fouram_0MKXExg9 has not been loaded to memory or load failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task: fouramf-cron-n4tfx
test case: test_search_filter_time

client log:
[test_search_filter_time_1.zip](https://github.com/milvus-io/milvus/files/9799348/test_search_filter_time_1.zip)

[code]

server:
[code]

### Expected Behavior

_No response_

### Steps To R

[2022-10-17 10:15] weiliu1031 commented on #19586
this param has not been explode to user, so the config method above does not work,  you may need to modify the image, reference: https://phoenixnap.com/kb/how-to-commit-changes-to-docker-image

[2022-10-17 10:26] weiliu1031 commented on #19827
same problem with #19837

[2022-10-17 10:50] icodersky commented on #19610
We met the same issue.  How do you solve this problem?
Can you tell me how to write the code to remove the growing segment with birdwatcher? Thank you!

 @bigsheeper

[2022-10-17 11:02] zhuwenxing commented on #19503
After adding 10s waiting time for loading to be completed, the search and query results are expected.

[2022-10-17 11:03] #19809 closed

[2022-10-17 11:22] cjh6666688888 commented on #19532
@longjiquan
There is no data in the directory, the previous test collection has been deleted, and this cluster has been used for online business.
ceshi_one/insert_log/436302218470096897
ceshi_one/index_files/436302326055305218

[2022-10-17 11:34] xige-16 commented on #19837
OK

[2022-10-17 11:35] bigsheeper commented on #19610
Hi @icodersky, do you allow data loss?

[2022-10-17 12:04] longjiquan commented on #19046
I noticed that actually we create index after upgrading Milvus, so upgrading script won't help to this case. Can you try to reproduce this issue again? @xiaocai2333 have fixed many bugs about building index some time ago.
/assign @zhuwenxing

[2022-10-17 12:12] longjiquan commented on #19532
No enough imformation to investigate this, so close this temporarily. Anyone met this issue again please keep all Milvus data and reopen this issue again.
/open

[2022-10-17 12:12] #19532 closed

[2022-10-17 12:29] icodersky commented on #19610
Allow.

[2022-10-17 14:28] #19094 closed

[2022-10-17 14:28] #19090 closed

[2022-10-17 14:28] #19049 closed

[2022-10-17 14:37] xiaofan-luan opened #19845 "[Enhancement]: Refine Kafka client"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

We've seen many kafka consumer related issue in chaos and nightly ci test.

To solve that issue:
1) Remove channel style consume, if no message every 30 seconds, then log and warn it.
2) Remove the assign logic in chan, do it in newKafkaConsumer or seek
3) use a new subscripti

[2022-10-17 15:46] yanliang567 commented on #19826
/assign @jiaoew1991
/unassign

[2022-10-17 15:47] yanliang567 commented on #19827
/assign @xige-16 @weiliu1031
/unassign

[2022-10-17 20:54] #19151 closed

[2022-10-18 00:35] Sivannnnnn commented on #19544
https://github.com/milvus-io/milvus/issues/19544#issuecomment-1261839592

@soothing-rain
My log is the same as this one, triggering a scenario of massive real-time data entry. I can no longer find the log at that time, because I have manually restarted the milvus service, and now it has been restored

[2022-10-18 01:16] CaptXiong commented on #15372
This feature is needed. If anyone working on this new feature?

[2022-10-18 01:21] yanliang567 commented on #19822
/assign @S-Dragon0302

@S-Dragon0302 could you please try as suggested above?
/unassign @cydrain

[2022-10-18 01:49] congqixia commented on #19837
/unassign

[2022-10-18 02:02] bigsheeper commented on #19719
please verify @yongpengli-z

[2022-10-18 02:03] bigsheeper commented on #19719
/assign @yongpengli-z
/unassign

[2022-10-18 02:04] bigsheeper commented on #19750
should be fixed， please verify @yongpengli-z

[2022-10-18 02:04] bigsheeper commented on #19750
/assign @yongpengli-z
/unassign

[2022-10-18 02:05] bigsheeper commented on #19761
please verify @yongpengli-z
/unassign
/assign @yongpengli-z

[2022-10-18 02:05] bigsheeper commented on #19762
please verify @yongpengli-z
/unassign
/assign @yongpengli-z

[2022-10-18 02:11] #19830 closed

[2022-10-18 02:12] bigsheeper commented on #19808
![image](https://user-images.githubusercontent.com/42060877/196318979-cabcc1ae-e8ef-4734-b88f-830d7db270d5.png)

force to deny writing at 10:16:14, so the oom should be due to the other behavior.

[2022-10-18 02:14] #19781 closed

[2022-10-18 02:15] XuanYang-cn commented on #19829
/unassign @yah01
/assign @jingkl
Please help verify

[2022-10-18 02:16] XuanYang-cn opened #19847 "[Bug]: querycoordv2 stop panic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/51370125/196319478-f16827c6-53cc-4597-8d5e-a4361493ab63.png)

### Expected Behavior

/assign @yah01

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-10-18 02:17] XuanYang-cn commented on #19847
https://github.com/milvus-io/milvus/actions/runs/3264253201/jobs/5364599967

[2022-10-18 02:22] NicoYuan1986 opened #19848 "[Bug]: [Nightly]Load partitions failed reporting 'index not exist'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Load partitions failed reporting index not exist.
[code]

### Expected Behavior

PASSED

### Steps To Reproduce

https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/164/pipeline/187

### Milvus Log

1. milvus log: [artifacts-

[2022-10-18 02:33] yah01 commented on #19829
/assign @jingkl
plz help check with #19836

[2022-10-18 02:41] NicoYuan1986 opened #19850 "[Bug]: [Nightly]Search failed reporting 'fail to search on all shard leaders, err=fail to Search, QueryNode ID=12, reason=Search 1 failed, reason query shard(channel) by-dev-rootcoord-dml_160_436739632224134850v1 does not exist'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search failed reporting 'fail to search on all shard leaders, err=fail to Search, QueryNode ID=12, reason=Search 1 failed, reason query shard(channel)  by-dev-rootcoord-dml_160_436739632224134850v1  does not exist'.
[code]

### Expected Behavior

PASSED

### Steps To

[2022-10-18 02:42] yah01 commented on #19848
After #19516 of @xiaocai2333 , loading requires creating index first, some test cases may need to be modified

[2022-10-18 02:55] bigsheeper commented on #19823
/assign @soothing-rain
/unassign

[2022-10-18 02:56] bigsheeper commented on #19823
@soothing-rain PTAL :)

[2022-10-18 03:01] TaQuangTu opened #19851 "[Bug]: Fail to load collection after release"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I can create a collection about 3M vectors of dim 512, IVF_FLAT index and do search well on the collection. However, after releasing the collection, it seems hard to load the collection again to query nodes. The query nodes might be stuck at loading segments. Below is

[2022-10-18 03:06] bigsheeper commented on #19808
please set the memory water mark to 0.8 and 0.9,  and check if the memory is still raising and OOM crash.

[2022-10-18 03:06] bigsheeper commented on #19808
/assign @yongpengli-z
/unassign

[2022-10-18 03:12] longjiquan commented on #18608
/assign @zhuwenxing
Please help to reproduce this again. thx, @zhuwenxing

[2022-10-18 03:15] longjiquan commented on #19233
#19513 may already fix this issue. Please help to reproduce this again, thx @zhuwenxing
/assign @zhuwenxing

[2022-10-18 03:16] longjiquan commented on #19446
/assign @zhuwenxing

[2022-10-18 03:19] yongpengli-z opened #19852 "[Bug]: [rate limit] Dml operators forced to deny,when enabled the diskProtection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

11:07:26.842 [main] [ERROR] io.milvus.client.AbstractMilvusGrpcClient:2531 --- InsertRequest failed:
force to deny /milvus.proto.milvus.MilvusService/Insert.
11:07:26.912 [main] [ERROR] io.milvus.client.AbstractMilvusGrpcClient:2531 --- InsertRequest failed:
force to

[2022-10-18 03:21] yongpengli-z commented on #19750
verfily pass

[2022-10-18 03:21] #19750 closed

[2022-10-18 03:43] XuanYang-cn opened #19853 "[Enhancement]: Keep the latest record if Query got duplicated PKs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

[code]

We should always return the latest record, combined with delete, we can achieve a clean `update`.

### Why is this needed?

/assign @smellthemoon

### Anything else?

_No response_

[2022-10-18 03:46] bigsheeper commented on #19852
my bad，I'v forgotten to tell you that the unit of disk quota has changed from GB to MB. @yongpengli-z

[2022-10-18 03:46] bigsheeper commented on #19852
/assign @yongpengli-z
/unassign

[2022-10-18 03:56] xige-16 commented on #19837
During the process of inserting data, the memory keeps rising (no load). I turn off autocomaction locally, but I can still see  that the memory keeps rising.

<img width="1293" alt="截屏2022-10-18 11 53 39" src="https://user-images.githubusercontent.com/20124155/196331749-716119bd-2fb7-41c1-94e0-07f07bd80673.png">

[2022-10-18 06:12] yanliang567 commented on #19851
@congqixia could you please help to check whether it is the known issue about IVF_Flat?

[2022-10-18 06:13] yanliang567 commented on #19850
/assign @sunby
/unassign

[2022-10-18 06:13] yanliang567 commented on #19848
/assign @NicoYuan1986
please help to update the testcase accordingly

/unassign

[2022-10-18 06:28] xiaocai2333 commented on #19848
/assign

[2022-10-18 06:32] weiliu1031 commented on #19851
Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

[2022-10-18 06:40] xiaofan-luan commented on #19853
For query that make sense.
For search it's a little bit tricky, because if old record is in TopK but new record is not, we have nothing to do, which is kind of annoying ^..^

[2022-10-18 06:40] xiaofan-luan commented on #19853
unless we can detect deduplication before data ingestion

[2022-10-18 06:42] congqixia commented on #19851
@yanliang567 Nope, IVF_FLAT problem only existed on master branch.

[2022-10-18 06:54] TaQuangTu commented on #19851
@weiliu1031 it seems there is syntax error in the script. Could you revise it?
![image](https://user-images.githubusercontent.com/29690416/196357218-8b6d73c4-973c-4ea3-8be0-3ce56b448967.png)

[2022-10-18 06:57] #19852 closed

[2022-10-18 07:15] jaime0815 opened #19862 "[Enhancement]: replace index file path to file id within segment index meta"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

decrease single KV meta size to ensure ETCD's stability as far as possible
The backward compatibility is not an issue because it has never been released that supports segment index file path to store into metastore.

### Why is this needed?

_No response_

### Anything else?

[2022-10-18 07:20] Tumao727 commented on #19655
We have fixed this in attu latest version. Please check it. @icodersky

[2022-10-18 07:24] XuanYang-cn commented on #19853
this's difficult for collection-level duplication detection in the current storage

[2022-10-18 07:25] XuanYang-cn commented on #19853
@xiaofan-luan So query is ready to go?

[2022-10-18 07:39] zhaohobby opened #19865 "Concurrent queries cause memory overflow[Bug]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

3000完用户向量并发查询导致querynode docker内存溢出重启。数据无法重新加载（成功加载过2次，其它都失败了）

### Expected Behavior

并发查询单个collection后内存不应该成倍数增长。导致内存溢出重启。即便重启数据也应该可以从新加载成功。

### Steps To Reproduce

[code]

### Milvus Log

[2022/10/18 07:34:33.457 +00:00] [WARN] [proxy/task_search.go:457] ["QueryNo

[2022-10-18 07:47] XuanYang-cn commented on #19834
https://github.com/milvus-io/milvus/pull/19864

[2022-10-18 07:55] yovelcohen commented on #19818
[milvus-logs.zip](https://github.com/milvus-io/milvus/files/9807812/milvus-logs.zip)
@yanliang567

[2022-10-18 08:01] JackLCL commented on #19865
@zhaohobby
Can you use this [tool](https://milvus.io/tools/sizing) to calculate whether the memory is sufficient?

[2022-10-18 09:03] yanliang567 commented on #19865
@zhaohobby did you have any insert or delete operations during searching

[2022-10-18 09:30] soothing-rain commented on #19526
@wangting0128 Can you test again with #19820 ?

[2022-10-18 09:31] longjiquan commented on #19492
tests only with load/query:
![image](https://user-images.githubusercontent.com/31589260/196393384-42232d1e-87b3-47c5-b443-b91b3d123465.png)

[2022-10-18 09:32] longjiquan commented on #19492
tests only with scene_test:
![image](https://user-images.githubusercontent.com/31589260/196393639-921cdb29-61cc-4602-9f7e-22a35bc84402.png)

[2022-10-18 09:36] longjiquan commented on #19492
For both two cases, the memory will go to be stable finally.

[2022-10-18 09:44] xiaocai2333 commented on #19718
/unassign
/assign @zhuwenxing
please verify it

[2022-10-18 09:45] xiaocai2333 commented on #19526
/assign @wangting0128

[2022-10-18 09:46] xiaocai2333 commented on #19411
/close, if reproduce, reopen it.

[2022-10-18 09:46] #19411 closed

[2022-10-18 09:47] xiaocai2333 commented on #19323
close it, if reproduce, reopen it.
/close

[2022-10-18 09:47] #19323 closed

[2022-10-18 09:48] xiaocai2333 commented on #19396
It's done. closed.
/close

[2022-10-18 09:48] #19396 closed

[2022-10-18 09:50] xiaocai2333 commented on #19046
@ThreadDao , please reproduce it.
/assign @ThreadDao

[2022-10-18 09:58] xige-16 commented on #19837
Compared with 2.1, the memory consumption of the insert and build index stages is basically the same, but the number of segments in the 2.1 version is 1/3 less than that of the master branch. And the autocomaction of the master branch does not take effect.

[2022-10-18 10:02] xige-16 commented on #19837
/assign @sunby please help

[2022-10-18 10:04] xige-16 commented on #19837
/assign @sunby

[2022-10-18 10:38] S-Dragon0302 opened #19873 "[Feature]: search multiple collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Currently, only one collection can be searched. One collection a day. 300 million pieces of data a day.If I want to query 7 days' data, how do I search?

### Describe the solution you'd like.

I want to specify multiple collections when searching.

[2022-10-18 10:47] #19848 closed

[2022-10-18 11:05] TaQuangTu commented on #19851
I can not reproduce the error right now. But I found an informative code in Milvus code:
![image](https://user-images.githubusercontent.com/29690416/196412501-93c21810-d6a8-4b39-80ef-2a97dd9ffc83.png)
Line 959, i think it should be:
`if ioPoolSize > 32`
Instead of:
`if ioPoolSize < 32`
Because my deploying system has 36 cores, ioPoolSize of 36 * 2 = 72 threads can overwhelm the whole system. I hop

[2022-10-18 11:17] #19685 closed

[2022-10-18 11:19] #19562 closed

[2022-10-18 11:22] SimFG commented on #19616
Sorry for replying so late. From the `log.txt`, maybe you need to wait the milvus `v2.2` version, which it will be released in the next week.
![image](https://user-images.githubusercontent.com/21985684/196380296-88a3323b-39c1-4aaf-babb-a4a466e8b03c.png)
The `rootcoord` has been refactor. If you want to continue to use this version, you can try to  use the default index name to create the index.

[2022-10-18 11:34] wayblink commented on #19780
/assign @XuanYang-cn

[2022-10-18 12:13] xiaofan-luan commented on #19873
I thought partition is where we want to solve this issue.
With each partition hold one day data, this might not be a issue

[2022-10-18 12:16] xiaofan-luan commented on #19851
Exactly ioPoolSize = min(cpu * 2, 32) make more sense.

[2022-10-18 12:26] TaQuangTu commented on #19851
I think it would be better to be a parameter in collection loading function.

[2022-10-18 13:11] xiaofan-luan commented on #19851
exactly, if could offer a pr to improve that would be great

[2022-10-18 13:19] xiaofan-luan commented on #15372
Don't think so.
To support dynamic schema, we need huge refactor on execute engine, maybe support struct like map/list would also work?

[2022-10-18 13:23] xiaofan-luan commented on #19049
upgrade to 2.1.4 would solve the issue

[2022-10-18 13:23] xiaofan-luan commented on #17811
/reopen

[2022-10-18 15:24] ndtreviv opened #19879 "[Bug]: Milvus Standalone crashes after reporting slow etcd operation save and SnapShotKV save fail"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus runs for a while and then crashes periodically (the container exits). Sometimes it takes the docker daemon and whole ubuntu with it.

The latest logs show slow etcd saves before it crashes.

### Expected Behavior

_No response_

### Steps To Reproduce

[code]
[

[2022-10-19 02:37] yah01 opened #19880 "[Enhancement]: Recovery may perform for a long time if the shard leader crashed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

With the design of new QueryCoord, the checkpoint of channel won't be updated as the QueryCoord keep running. The recovery of channel needs to consume messages long time ago

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-10-19 02:41] jiaoew1991 commented on #17811
/assign @smellthemoon
/unassign @longjiquan

[2022-10-19 02:48] jingkl opened #19881 "[Bug]: [benchmark][standalone] Milvus load failed, raise an error"fail to show collections from the querycoord, no data""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-concurrent-1666108800-1
server-configmap
server-single-4c16m-diskann
client-configmap
client-locust-search-sift10m-diskann
Milvus:
[code]

[code]

### Expected Behavior

[code]

### Steps To Reproduce

_No response_

### Milvus Log

_No response

[2022-10-19 02:51] #19880 closed

[2022-10-19 02:54] congqixia commented on #19837
@xige-16 @wayblink  FYI, a similar test scene could load with same record number. The key difference I suspect is that the successful one DOES NOT has scalar field.
One possible direction to inspect is the memory consumption of string field.

[2022-10-19 02:56] zhuwenxing commented on #19446
verifying

[2022-10-19 02:57] zhuwenxing commented on #19233
Not reproduced

[2022-10-19 03:07] longjiquan commented on #19492
It seems that Milvus didn't receive `drop collection` at all.
![image](https://user-images.githubusercontent.com/31589260/196588040-0ead7097-aeb7-4b7b-817c-071bc0358847.png)

[2022-10-19 03:14] soothing-rain commented on #19699
/assign @czs007

[2022-10-19 03:14] xige-16 opened #19882 "[Bug]: Wrong error msg info when load collection/partition failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

when load failed , error msg "fail to show collections from the querycoord, no data" was returned.

### Expected Behavior

return msg "collection xxx has not been loaded to memory or load failed"

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

#

[2022-10-19 03:21] soothing-rain commented on #19557
/unassign
/assign @yanliang567

Should be fixed now.

[2022-10-19 03:30] yah01 commented on #19851
It's great to add an upper bound for the IO pool size, but for this issue, this may be not the root reason. @xiaofan-luan @TaQuangTu

[2022-10-19 03:38] soothing-rain commented on #19315
That's kinda expected. Is there any special reason your hard disk go hibernate once and a while in your production environment?

[2022-10-19 03:50] xiaocai2333 commented on #19792
/assign

[2022-10-19 03:59] xiaofan-luan commented on #19865
Did we have test with output specified?

[2022-10-19 04:01] xiaofan-luan commented on #19808
might be the reason compaction will take great amount memory once it is triggered

[2022-10-19 04:03] xiaofan-luan commented on #19881
/assign @weiliu1031
pls help on this one

[2022-10-19 04:13] #19847 closed

[2022-10-19 04:28] TaQuangTu commented on #19851
I agree that I/O jobs do not affect much to CPU usage. However, if I/O pool size is too large, reading index file jobs need more time to wait others, leading to "Context deadline exceed", making query node be `Abnormal` state from view of Query Coord and K8S because of not healthy response  --> Loading collection gets chaotic from here. Hence, i think setting the pool size too large might related

[2022-10-19 06:25] zhuwenxing opened #19890 "[Bug]: Search failed with error `Search 4 failed, reason context canceled err` when the collection has mix data inserted by bulk insert and directly insert."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

test code
[code]

### Expected Behavior

search works well

### Steps To Reproduce

[code]

### Milvus Log

[test-milvus-bulk-load-10-19-14-21.zip](https://github.com/milvus-io/milvus/files/9817409/test-milvus-bulk-load-10-19-14-21.zip)

### Anything else?

If

[2022-10-19 06:26] zhuwenxing commented on #19890
/assign @soothing-rain
PTAL

[2022-10-19 06:27] zhuwenxing commented on #19890
/unassign @yanliang567

[2022-10-19 06:30] weiliu1031 commented on #19881
![image](https://user-images.githubusercontent.com/108661493/196613810-b8ff5b6d-42bb-41e4-b0c4-ff00b7839784.png)
milvus standalone service crash here during load collection

[2022-10-19 06:51] yanliang567 commented on #19882
/assign @xige-16
/unassign

[2022-10-19 06:53] longjiquan opened #19891 "[Bug]: io pool goroutine leakage"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After we call `concurrency.NewPool`, we never explicitly release the inner ants pool.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-10-19 07:18] TaQuangTu commented on #19851
@weiliu1031 I attach query coord log at collection loading time here.
[log_query_coord.txt](https://github.com/milvus-io/milvus/files/9817807/log_query_coord.txt)

[2022-10-19 07:27] zhuwenxing commented on #19890
With the help of @soothing-rain , the reason found is search params is not match with index params, but the error message is so confusing, @XuanYang-cn , can you please help to refine the error message?

[2022-10-19 07:32] zhuwenxing commented on #19890
search_params = {"metric_type": "IP", "params": {"ef": 64}}
default_index = {"index_type": "IVF_SQ8", "metric_type": "L2", "params": {"nlist": 64}}

[2022-10-19 07:41] zhuwenxing commented on #19890
/assign @XuanYang-cn

[2022-10-19 08:35] yongpengli-z opened #19896 "[Bug]: [rate limit] BulkLoad successed,when the disk quota reach the limit."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

bulkload 100 datas successed!
![image](https://user-images.githubusercontent.com/103410837/196638870-3566c98a-65f4-44e0-b357-61e9d4b69249.png)
![image](https://user-images.githubusercontent.com/103410837/196638912-ed12e55a-260b-4756-83e4-513151dc0276.png)

### Expecte

[2022-10-19 08:39] jingkl commented on #19397
master-20221019-99df2d9b
pymilvus 2.2.0dev45
This problem has been fixed, turn off issue

[2022-10-19 08:44] soothing-rain commented on #19526
[code]

pod="fouram-tag-no-clean-mh68v-1-milvus-standalone-bd9c57b9f-j2ww6"

/assign @yah01

[2022-10-19 09:06] weiliu1031 commented on #19881
more details: service crush at creating index
![image](https://user-images.githubusercontent.com/108661493/196647629-c89d7c1b-ef6b-425b-b52c-a7967e0a0dbd.png)

[2022-10-19 09:10] weiliu1031 commented on #19881
/assign @xige-16

[2022-10-19 09:21] xige-16 commented on #19837
@wangting0128 Did you run with varchar field before?

[2022-10-19 09:27] jingkl commented on #19526
server-instance
fouram-tag-no-clean-mh68v-1
server-configmap
server-single-8c64m
client-configmap
client-random-locust-compaction-search

image:master-20221019-2e7b2ceac

server：
[code]
client log：

[code]

[2022-10-19 10:00] weiliu1031 commented on #19851
base on the querycoord log you provide, load Collection failed due to 'querynode' exit during loading process.

but the query node log you provides is after the restart above

[2022-10-19 10:06] #19862 closed

[2022-10-19 10:06] jingkl opened #19899 "[Bug]: Milvus create diskann index timeout ，dataCoord panic cause milvus server crash"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

indexcase：

[gw4] linux -- Python 3.6.8 /usr/local/bin/python3

[code]

client log：
[code]

jerkins：https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-19893/1/pipeline/

server

[code]

### Expected Behavior

_No response_

### Steps

[2022-10-19 10:21] yah01 opened #19900 "[Bug]: QueryNode panics if failed to get segment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

It's a common case for failed to get a compacted segment

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-10-19 10:23] yah01 opened #19901 "[Bug]: For flush event, handoff event will never be removed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The condition to clean event is incorrect
[code]
which should be
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-10-19 10:23] yah01 commented on #19901
/assign @weiliu1031

[2022-10-19 11:02] yanliang567 commented on #19901
/unassign

[2022-10-19 11:03] yanliang567 commented on #19891
/assign @longjiquan
/unassign

[2022-10-19 11:03] yanliang567 commented on #19899
/unassign

[2022-10-19 11:33] #19891 closed

[2022-10-19 11:37] soothing-rain commented on #19764
/unassign
/assign @MrPresent-Han

[2022-10-19 11:39] xige-16 commented on #19256
fixed by https://github.com/milvus-io/milvus/pull/19866

[2022-10-19 12:03] bigsheeper commented on #19610
Hi @icodersky you can use birdwatcher (https://github.com/milvus-io/birdwatcher) to remove the growing segment.
With the `remove-segment-by-id` command of birdwatcher, just like:
1. check the target segment by`remove-segment-by-id --segment=[segmentID]`, it would print the segment info, and you need to make sure it is the segment you want to remove:
![image](https://user-images.githubusercontent.c

[2022-10-19 12:19] xige-16 commented on #19881
milvus panic after load disk index failed
[code]

[2022-10-19 15:07] xiaocai2333 commented on #19899
DataCoord panic, PTAL @sunby
/assign @sunby
/unassign

[2022-10-19 19:39] #18537 closed

[2022-10-20 00:07] zhaohobby commented on #19865
没有，

no

[2022-10-20 02:07] #19900 closed

[2022-10-20 02:17] yanliang567 opened #19915 "[Bug]: [Test] Check tasks check nothing for connection.connect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

for example:
[code]
it tries to check connect successfully, but actually it checks nothing, and always returns True even fails with exceptions.

in func_check.py, it checks nothing:
[code]

### Expected Behavior

check and assert if connection fail or success

### Ste

[2022-10-20 02:20] NicoYuan1986 opened #19916 "[Bug]: [Nightly]Case failed because connectionNotExistException code has changed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Case failed because connectionNotExistException code has changed.

### Expected Behavior

PASS

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-10-20 02:45] binbinlv opened #19919 "[Bug]: Search and query could still get results after collection TTL and data expired"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search and query could still get results after set collection TTL and data expired

[code]

### Expected Behavior

Search and query could not get results after set collection TTL and data expired

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anyt

[2022-10-20 02:46] jiaoew1991 commented on #19806
After trying, milvus can be compiled successfully, see this PR for details

[2022-10-20 03:24] Roger-Z commented on #19610
![image](https://user-images.githubusercontent.com/3478019/196849035-dcf46f7d-1d0c-416d-945c-a0fbbaf199b9.png)
would you please take a look at this error? I can't show or remove segment.

[2022-10-20 03:42] bigsheeper commented on #19610
Context deadline exceeded，maybe you connect to the wrong etcd? can you `show collection` ?

[2022-10-20 03:51] Roger-Z commented on #19610
yes, I can show collections @bigsheeper

[2022-10-20 04:28] Roger-Z commented on #19851
looks like I am encountering same issue, I have a 50m collection, after release and load, the memory usage is very small , compared to origin, and I can't see the entity number in either milvus_cli or through python sdk.  please find the etcd backup and milvus log as below:
http://rt.ops.cn2.corp.agrant.cn:18000/log/bw_etcd_ALL.221020-120425.bak.gz
http://rt.ops.cn2.corp.agrant.cn:18000/log/milvus

[2022-10-20 04:28] Roger-Z commented on #19851
looks like I am encountering same issue, I have a 50m collection, after release and load, the memory usage is very small , compared to origin, and I can't see the entity number in either milvus_cli or through python sdk.  please find the etcd backup and milvus log as below:
http://rt.ops.cn2.corp.agrant.cn:18000/log/bw_etcd_ALL.221020-120425.bak.gz
http://rt.ops.cn2.corp.agrant.cn:18000/log/milvus

[2022-10-20 05:22] Roger-Z opened #19924 "[Bug]: the collection is incomplete after release and load"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I have a collection contains 50m entities, after release the collection and reload, the collection is not loaded to memory entirely. I can't find specified entity by using vector query which does exist in the collection.

### Expected Behavior

_No response_

### Step

[2022-10-20 06:16] yanliang567 commented on #19924
@Roger-Z not able to download the logs attached above :(

[2022-10-20 06:19] bigsheeper commented on #19896
fixed， PTAL@yongpengli-z
/unassign
/assign @yongpengli-z

[2022-10-20 07:08] yah01 commented on #19526
/assign @jingkl
plz retry with the latest master

[2022-10-20 07:09] TaQuangTu commented on #19851
[query_node.txt](https://github.com/milvus-io/milvus/files/9827202/query_node.txt)
[query_coord.txt](https://github.com/milvus-io/milvus/files/9827203/query_coord.txt)
@weiliu1031 please take a look. Thanks

[2022-10-20 07:39] yanliang567 commented on #19543
not reproduced, but case failed for #19837

[2022-10-20 07:39] #19543 closed

[2022-10-20 08:07] weiliu1031 commented on #19851
during qeurynode loading segments, it lost connection with etcd, then querynode exit.  maybe we should check etcd status when querynode exit
![image](https://user-images.githubusercontent.com/108661493/196892173-f76387cc-8ac6-4828-82ab-ab429118b36d.png)

[2022-10-20 08:09] #19826 closed

[2022-10-20 08:12] yanliang567 commented on #19924
/assign @Roger-Z

[2022-10-20 08:12] shanghaikid opened #19931 "[Bug]: Milvus crush after running some node sdk test case"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus crush

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

[Uploading log-milvus.zip…]()

### Anything else?

_No response_

[2022-10-20 08:12] shanghaikid commented on #19931
milvus-standalone | [2022/10/20 08:00:31.443 +00:00] [INFO] [datacoord/services.go:501] ["DropVChannel plan to remove"] [channel=by-dev-rootcoord-dml_190_436792891842958310v0]
milvus-standalone | [2022/10/20 08:00:31.444 +00:00] [DEBUG] [datacoord/channel_manager.go:560] ["remove channel assignment"] ["nodeID to be removed"=22] [channelID=by-dev-rootcoord-dml_191_436792891842958310v1] [collectionI

[2022-10-20 08:12] #19915 closed

[2022-10-20 08:17] TaQuangTu commented on #19851
@weiliu1031 however, why was it disconnected from `etcd`? I see another error appears before the etcd error. If it's ok. Can we have a short call in Slack, I can reproduce the error.

[2022-10-20 08:51] Roger-Z commented on #19924
@yanliang567

You should be able to download now, please try again

[2022-10-20 09:18] soothing-rain commented on #19733
Happened when compaction fails in DataCoord but succeeded in DataNode. DataNode was not aware that the compaction failure and proceed to updated its meta.

So basically DataNode will remove this segment from its flowgraph:

[code]

All following flush from DataCoord would fail because the segment was not longer in flowgraph.

[code]

Luckily this issue is resolved in 2.1.4 :)

https://github.com/m

[2022-10-20 09:29] bigsheeper opened #19934 "[Bug]: QueryCoord keep retrying loadSegment even the collection has been dropped"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

QueryCoord：
![image](https://user-images.githubusercontent.com/42060877/196911328-204cf0c3-d561-4220-966c-6691083e4511.png)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-10-20 09:32] bigsheeper commented on #19934
This issue is from *autohome*, online cluster.
[querycord日志.txt](https://github.com/milvus-io/milvus/files/9828397/querycord.txt)
[rootc
[bw_etcd_ALL.221020-170101.bak.gz](https://github.com/milvus-io/milvus/files/9828420/bw_etcd_ALL.221020-170101.bak.gz)
oord-238.log.zip](https://github.com/milvus-io/milvus/files/9828414/rootcoord-238.log.zip)

[2022-10-20 09:33] bigsheeper commented on #19934
/assign @yah01
/unassign @yanliang567

[2022-10-20 09:40] congqixia commented on #19741
/assign @zhuwenxing
/unassign @sunby @congqixia
Hi @zhuwenxing , could you please verify after Fix pr merged?

[2022-10-20 09:41] congqixia commented on #19731
@jingkl just merged a fix pr, could you please verify it again?

[2022-10-20 09:42] congqixia commented on #19654
Hi @NicoYuan1986 , does this problem still persist?

[2022-10-20 09:42] congqixia commented on #19654
/assign @NicoYuan1986

[2022-10-20 09:44] NicoYuan1986 opened #19935 "[Bug]: CI build failed reporting 'undefined: errors'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

CI build failed reporting 'undefined: errors'.
[code]

### Expected Behavior

no error

### Steps To Reproduce

_No response_

### Milvus Log

https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-19933/2/pipeline

### Anything else?

_

[2022-10-20 09:46] congqixia commented on #19935
#19932 will fix this

[2022-10-20 10:15] shanghaikid commented on #19931
After restarting the docker, I was able to use milvus.
But after running for 1 hour, it crushed again, and can never be restarted.
[log-milvus2.zip](https://github.com/milvus-io/milvus/files/9828741/log-milvus2.zip)

[2022-10-20 11:03] yanliang567 commented on #19931
/assign @jiaoew1991
/unassign

[2022-10-20 11:06] yanliang567 commented on #19924
/assign @bigsheeper
/unassign

[2022-10-20 11:49] #19916 closed

[2022-10-20 11:49] binbinlv opened #19939 "[Bug]: Milvus is crashed with panic "invalid memory address or nil pointer dereference""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus is crashed with panic "invalid memory address or nil pointer dereference"

[code]

ci.var.log.containers.md-19937-1-pr-milvus-rootcoord-5649d8544-lv5r6_milvus-ci_rootcoord-1d1dfd3f205274be503186ff00566dd6c6413bd026e05a5196f5a6a7b3c32c3a.log
[code]
ci.var.log.co

[2022-10-20 13:14] xiaofan-luan opened #19940 "[Bug]: Fix collection level metrics leakage"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

when InvalidateCollMetaCacheRequest, there are certain cased we didn't pass in collection names, which cause collection level metrics leakage

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else

[2022-10-20 13:50] jingkl commented on #19526
server-instance
fouram-tag-no-clean-d4v8b-1
server-configmap
server-single-8c64m
client-configmap
client-random-locust-compaction-search

image：master-20221020-96cf74d5

[code]

client log：

[code]

[2022-10-20 13:51] jingkl commented on #19526
/assign @yah01

[2022-10-20 13:53] xiaofan-luan opened #19942 "[Bug]: When auto ID enabled, error should be returned when user specified PK data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Currently, if user enabled auto ID and also filled in primary key, then we generate primary key for user and overwrite user specified PK, which is weird.

### Expected Behavior

If auto ID enabled, and user specify PK, milvus should return error

### Steps To Reproduc

[2022-10-20 14:39] zhuwenxing opened #19946 "[Bug]: Error message does not have the key information when create index failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The error message is
`<MilvusException: (code=1, message=CreateIndex failed: index already exist, but parameters are inconsistent)`
but what the existing parameters are, and the passed-in parameters are.

### Expected Behavior

Tell the reason why parameters are incon

[2022-10-20 14:44] zhuwenxing opened #19947 "[Bug]: Insert failed with error `<MilvusException: (code=48, message=force to deny /milvus.proto.milvus.MilvusService/Insert.)>`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Inserting data failed with 6 processes.

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

[artifacts-querynode-pod-kill-2321-server-logs (1).tar.gz](https://github.com/milvus-io/milvus/files/9831179/artifacts-queryno

[2022-10-20 14:45] zhuwenxing commented on #19947
/unassign @yanliang567
/assign @bigsheeper
PTAL

[2022-10-20 14:55] yah01 commented on #19526
/assign @jingkl
#19936 fixed this, plz help check

[2022-10-20 17:42] willgamz opened #19948 "[Bug]: standalone DEB install does not copy /etc files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After DEB installation /etc files are not copied
The installation ends missing all /etc files. They are in DEB, but are not copied.

tested in:

Distributor ID: Ubuntu
Description:    Ubuntu 18.04.6 LTS
Release:        18.04
Codename:       bionic

### Expected Behavi

[2022-10-20 21:04] devennavani opened #19949 "[Bug]: `curl http://{milvus_standalone_host}:9091/api/v1/health` returns `404: Page not Found`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Output when I do `curl -vv 10.5.131.253:9091/api/v1/health`:

[code]

`10.5.131.253` is the host IP of our Milvus standalone server.

When I do `kubectl get svc`, I can see the folllowing:

`milvus                 ClusterIP   172.20.42.81     <none>        19530/TCP,9

[2022-10-20 21:23] #19162 closed

[2022-10-20 21:23] #18763 closed

[2022-10-20 21:23] #19158 closed

[2022-10-20 21:23] #19098 closed

[2022-10-21 01:18] yanliang567 commented on #19946
/assign @xiaocai2333
/unassign

[2022-10-21 01:20] yanliang567 commented on #19939
/assign @jiaoew1991
/unassign

[2022-10-21 01:20] LoveEachDay commented on #19949
@devennavani Could you check the `/milvus/configs/milvus.yaml` file inside the `milvus-standalone` pod to verify whether `proxy.http.enabled` is set to `true` ?

[2022-10-21 02:13] xiaofan-luan commented on #19939
/assign @longjiquan

[2022-10-21 02:15] Roger-Z commented on #19610
now I use birdwatcher to remove those missing segment, and reload the index successfully, however, I can perform a search, it's stuck on Start do search, and timeout.

[2022-10-21 02:16] Roger-Z commented on #19610
![image](https://user-images.githubusercontent.com/3478019/197095555-2710128a-5b54-4f63-847b-d365cfdf8be4.png)

[2022-10-21 02:37] Roger-Z commented on #19610
this is backup of etcd [Uploading bw_etcd_ALL.221021-103340.bak.gz…]()

[2022-10-21 02:42] soothing-rain commented on #19526
Test case has passed with a few panics and restarts.

[code]

Which is a known issue to QueryNode. @yah01

[2022-10-21 02:43] jingkl commented on #19041
server-instance
fouram-test-no-clean-qmd2b-1
server-configmap
server-cluster-2c8m-diskann-limit
client-configmap
client-search-sift10m-diskann-searchlist

image:master-20221020-36accde0

[code]

[code]

server config:

[code]

[2022-10-21 02:50] zhuwenxing opened #19951 "[Bug]: Release timeout after etcd pod kill chaos test for pulsar version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/2346/pipeline

log:
[artifacts-rootcoord-pod-failure-2346-serv

[2022-10-21 02:51] Roger-Z commented on #19610
etcd backup: http://rt.ops.cn2.corp.agrant.cn:18000/log/bw_etcd_ALL.221021-103340.bak.gz
log: http://rt.ops.cn2.corp.agrant.cn:18000/log/milvus1022.tar.gz

[2022-10-21 02:55] zhuwenxing opened #19952 "[Bug]: Create vector field index timeout after minio pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/2336/pipeline

log:
[artifacts-s3-pod-kill-2336-pytest

[2022-10-21 03:04] zhuwenxing opened #19953 "[Bug]: Load or release timeout after querynode pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

load timeout
[code]

release timeout
[code]

### Expected Behavior

all test case passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/2333/pipeline

log:

[arti

[2022-10-21 03:11] zhuwenxing opened #19954 "[Bug]: Search failed with error `Search 4 failed, reason [UnexpectedError] Assert "Segment 436810941530840279 System Field RowID or Timestamp is not loaded" at /go/src/github.com/milvus-io/milvus/internal/core/src/segcore/SegmentSealedImpl.cpp:395` after datanode pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/2327/pipeline

log:
[artifacts-datanode-pod-kill-2327-server-l

[2022-10-21 03:21] zhuwenxing opened #19955 "[Bug]: Num entities are wrong after datacoord pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/2326/pipeline

log:

[artifacts-datacoord-pod-kill-232

[2022-10-21 03:25] Bennu-Li commented on #19948
Use the command `sudo systemctl status milvus-minio` and `sudo systemctl status milvus-etcd` to check the dependency status.

[2022-10-21 03:29] jaime0815 opened #19957 "[Bug]: Querynode can not unload expired segment after compacted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

There will not be processed new segments after compacting when the segments row is 0, it will cause the querynode still uses the expired segment that reason is handoff mechanism can't handle this case.

the following phenomenons occur possibly:
1.  querynode memory un

[2022-10-21 03:32] sunby commented on #19850
QueryNode unsubscribe dmchannel by releaseCollectionTask which is dangerous. And it lead to unavailable search service, we will fix it.

[2022-10-21 03:33] Roger-Z opened #19958 "[Bug]: reload index is too slow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I have an index with 50m entities, 768 dimension each, it cost me 10 hours to release and reload the index to memory.

### Expected Behavior

should load faster, because the load balance is not working, we have to release and reload index occasionally.

### Steps To R

[2022-10-21 03:34] Roger-Z commented on #19958
<img width="1093" alt="image" src="https://user-images.githubusercontent.com/3478019/197105569-8f39c853-4e83-4223-91cf-0e5937dba216.png">

[2022-10-21 03:35] Roger-Z commented on #19958
looks like it's loading index file every half an hour, and sleep a long time, which is odd.

[2022-10-21 03:37] zhuwenxing opened #19959 "[Bug]: Create varchar index timeout when concurrency is 4"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test/detail/deploy_test/440/pipeline
log:
[artifacts-standalone-reinstall-440-server

[2022-10-21 03:42] Bennu-Li commented on #19948
Try to stop milvus server:
`sudo systemctl stop milvus`
And then start it:
`sudo systemctl start milvus`
And check milvus status:
`sudo systemctl status milvus`

[2022-10-21 03:45] zhuwenxing commented on #19741
Verified and passed

[2022-10-21 03:45] #19741 closed

[2022-10-21 03:46] zhuwenxing commented on #19730
Verified and passed

[2022-10-21 03:46] #19730 closed

[2022-10-21 03:51] zhuwenxing commented on #19544
verified and passed with version `master-20221020-e8ca754d`

[2022-10-21 03:51] #19544 closed

[2022-10-21 03:51] #18274 closed

[2022-10-21 03:51] #19172 closed

[2022-10-21 03:54] xiaofan-luan commented on #19041
/assign @LoveEachDay

[2022-10-21 03:55] binbinlv commented on #19743
Did not reproduce this issue on my side through the following script,

@mchenyu1218  Could you help to have a look whether the script describe your scenario rightly? Thanks.

Milvus: v2.1.2, standalone
pymilvus: 2.1.2

[code]

[2022-10-21 03:55] zhuwenxing commented on #19718
For the vector field, this issue is not reproduced again, but it happened when the field is varchar, see https://github.com/milvus-io/milvus/issues/19959.

[2022-10-21 03:55] #19718 closed

[2022-10-21 03:58] zhuwenxing commented on #18705
verified and passed in version `master-20221020-e8ca754d`

[2022-10-21 03:58] #18705 closed

[2022-10-21 03:59] zhuwenxing commented on #18758
Verified and passed in version `master-20221020-e8ca754d`

[2022-10-21 03:59] #18758 closed

[2022-10-21 04:04] jingkl opened #19960 "[Bug]:[benchmark][standalone] Milvus 2.1.4 upgrade to master, load failed and reported an error"failed to load collection, err=collection with different index map existed""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-tag-no-clean-hqhp6-1
server-configmap
server-single-32c128m
client-configmap
client-random-locust-100m-ddl-r8-w2-12h

update image

update image:
milvus-image-tag
master-20221020-e8cf0493
old-version
2.1.4
new-version
2.2.0
server-instance
foura

[2022-10-21 04:19] weiliu1031 opened #19961 "[Bug]: milvus sdk should trigger releaseCollection after loadCollection timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. sdk trigger load collection request and success
2. sdk check loading progress with timeout
3. sdk timeout and exit, but query coord is still doing loadTask.
4. it will affect later user operation

### Expected Behavior

when sdk trigger a loadCollection and meet ti

[2022-10-21 04:22] jingkl opened #19962 "[Bug]: [benchmark][cluster]Milvus master upgrade to master, load failed and an error was reported"failed to load collection, err=collection with different index map""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-tag-no-clean-q92f9-1
server-configmap
server-cluster-8c32m256d-diskann-querynode2
client-configmap
client-random-locust-diskann-search-filter-100m-ddl-replica2

update image:
server-instance
fouram-tag-no-clean-q92f9-1
server-configmap
server-cl

[2022-10-21 05:17] soothing-rain opened #19963 "[Enhancement]: Add compaction time cost as monitoring metric."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

As we need to better track compaction time cost.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-10-21 05:18] soothing-rain commented on #19963
/assign @wayblink

[2022-10-21 05:55] yanliang567 commented on #19960
@jingkl did you run meta_migration? in which step?

[2022-10-21 06:08] binbinlv commented on #19634
verified and fixed.

[2022-10-21 06:12] yanliang567 commented on #19961
I don't think this is a good idea in sdk.
/assign @xiaofan-luan
/unassign

[2022-10-21 06:16] yanliang567 commented on #19960
@longjiquan  please  take a look
/assign @longjiquan
/unassign

[2022-10-21 06:17] yanliang567 commented on #19962
could be a dup to #19960

[2022-10-21 06:17] yanliang567 commented on #19962
/assign @longjiquan
/unassign

[2022-10-21 06:22] yanliang567 commented on #19959
/assign @xiaocai2333
/unassign

[2022-10-21 06:30] yanliang567 commented on #19955
/assign @soothing-rain
/unassign

[2022-10-21 06:31] binbinlv commented on #6836
It has not appeared from my side, fixed.

so this could be closed.

[2022-10-21 06:31] #6836 closed

[2022-10-21 06:31] yanliang567 commented on #19954
/assign @soothing-rain
/unassign

[2022-10-21 06:33] yanliang567 commented on #19953
/assign @jiaoew1991
/unassign

[2022-10-21 06:39] binbinlv commented on #19343
It is good using index name when dropping, so close it.

[2022-10-21 06:39] #19343 closed

[2022-10-21 06:39] yanliang567 commented on #19952
/assign @xiaocai2333
/unassign

[2022-10-21 06:40] yanliang567 commented on #19951
/assign @jiaoew1991
/unassign

[2022-10-21 06:45] NicoYuan1986 commented on #19935
Fixed!👍

[2022-10-21 06:45] #19935 closed

[2022-10-21 06:49] zhagnlu opened #19965 "[Bug]: build aws for each make, should skip it if not use"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

every make, build aws sdk, cost time

### Expected Behavior

if not use aws sdk, just skip  it

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-10-21 06:56] NicoYuan1986 opened #19968 "[Bug]: [Nightly]Connection test cases need to be modified due to new added assertion"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Connection test cases need to be modified due to new added assertion.
[code]

### Expected Behavior

PASS

### Steps To Reproduce

[code]

### Milvus Log

failed cases:
test_connect_with_invalid_ip
test_connect_with_invalid_port

### Anything else?

_No response_

[2022-10-21 06:57] XuanYang-cn commented on #19834
- [ ] #19967
- [ ] `[]flushTask` -> `map[UniqueID]*syncTask`
- [ ] syncTask{segmentID, buffer, segstats, flushed, dropped, auto, endPosition}
- [ ] flushBufferData(syncTask)

[2022-10-21 06:59] NicoYuan1986 commented on #19736
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/168/pipeline/155/
failed case: test_search_pagination_after_different_index
collection name: search_collection_oM31DyQc
log: [artifacts-milvus-distributed-kafka-nightly-168-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/168/artifact/artifacts-milvus-distrib

[2022-10-21 07:01] longjiquan commented on #19934
/assign

[2022-10-21 07:04] yanliang567 commented on #19965
/assign @zhagnlu

[2022-10-21 07:05] yanliang567 commented on #19958
/assign @bigsheeper
/unassign

[2022-10-21 07:08] yanliang567 commented on #19733
close for now, will check in benchmark

[2022-10-21 07:08] #19733 closed

[2022-10-21 07:08] liliu-z opened #19971 "[Enhancement]: Fix mis-copy in Segcore"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

There are some unnecessary copy in Segcore's C++ code. Fix them can improve the performance of Milvus.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-10-21 07:25] zhuwenxing commented on #19951
The following pod failure chaos tests all have this issue

minio:
    failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/2348/pipeline
    log:
      [artifacts-s3-pod-failure-2348-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9836617/artifacts-s3-pod-failure-2348-server-logs.tar.gz)
     [artifacts-s3-pod-failure-2348-pytest-logs.tar.g

[2022-10-21 07:27] NicoYuan1986 opened #19972 "[Bug]: Create indexes failed when created for different fields"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Create indexes failed when created for different fields.

### Expected Behavior

Succeed

### Steps To Reproduce

Run:
[code]

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-10-21 07:41] xige-16 opened #19974 "[Bug]: querynode load segment's raw data to memory when index is building"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

index coord build index for segment 436803176049546473 between 13:36:21 and 14:06:20
![Lgg7ILj4Lk](https://user-images.githubusercontent.com/20124155/197140065-ff59d643-16a4-4283-b7cb-7e58a9d3b176.png)

but querynode load raw data for vector filed at 13:55:57
![0zz1NA

[2022-10-21 07:47] yanliang567 commented on #19739
/assign @xiaocai2333

[2022-10-21 07:51] #19072 closed

[2022-10-21 07:56] bigsheeper commented on #19924
querynode load segment failed with `NoSuchKey` error:
[code]
related to https://github.com/milvus-io/milvus/issues/19610

[2022-10-21 07:56] bigsheeper commented on #19924
querynode load segment failed with `NoSuchKey` error:
[code]
related to https://github.com/milvus-io/milvus/issues/19610

[2022-10-21 08:00] bigsheeper commented on #19958
Hi @Roger-Z can you offer me the backup of etcd by using birdwatcher?

[2022-10-21 08:03] xige-16 commented on #19041
/assign @xige-16

[2022-10-21 08:05] Roger-Z commented on #19924
@bigsheeper please check recent logs, like 10/20, which is really related to this issue.

[2022-10-21 08:06] sunby commented on #19813
This issue is caused by ShowPartitions timeout(5s) and ShowPartiton actually spent 7s. We should find the reason why it spent so long time. @longjiquan

[2022-10-21 08:06] Roger-Z commented on #19958
@bigsheeper  sure, here it is
http://rt.ops.cn2.corp.agrant.cn:18000/log/bw_etcd_ALL.221021-103340.bak.gz

[2022-10-21 08:06] xiaocai2333 commented on #19739
same as #19952

[2022-10-21 08:13] XuanYang-cn commented on #19289
/unstale

[2022-10-21 08:37] bigsheeper commented on #19924
@Roger-Z Do you mean that you did a `query` operation with the pk that exists in the collection before, but the query result was empty?

[2022-10-21 08:39] yanliang567 commented on #19972
/assign @xiaocai2333
/unassign

[2022-10-21 08:40] yanliang567 commented on #19972
/assign @czs007

[2022-10-21 08:51] pingren commented on #19115
I can't reproduce this one on a new environment either. I will close the issue.

A few days ago, our production milvus encountered another issue, and search service down about 12 hours. Unfortunately, all metrics and status are "health" on K8s.

I have to decide to switched to [another vector search  solution](https://www.elastic.co/guide/en/elasticsearch/reference/current/knn-search.html) after a

[2022-10-21 08:51] #19115 closed

[2022-10-21 09:03] #19374 closed

[2022-10-21 09:11] #19968 closed

[2022-10-21 09:24] Roger-Z commented on #19924
I query with same vector, since the vector exists, the top 1 distance should be 1 for IP metric, but it's not.

[2022-10-21 09:27] wayblink commented on #19837
AutoCompaction is not hitted because the segment size changed.

Small compaction policy:
collect small segments greedly to reach a max_row_num(654720), put these segments into bucket
rule 1: len(bucket) >= minSegmentMerge(4) ||
rule 2: sum(segment_row_num in bucket) > max_row_num(654720) * smallPortion(0.9)
if rule 1 || rule 2 {
	compact()
}

In test:
2.1: each segment ~ 25000 rows, will hit rule

[2022-10-21 09:28] wayblink commented on #19837
AutoCompaction is not hitted because the segment size changed.

Small compaction policy:
collect small segments greedly to reach a max_row_num(654720), put these segments into bucket
rule 1: len(bucket) >= minSegmentMerge(4) ||
rule 2: sum(segment_row_num in bucket) > max_row_num(654720) * smallPortion(0.9)
if rule 1 || rule 2 {
	compact()
}

2.1: each segment ~ 25000 rows, will hit rule 1
master:

[2022-10-21 10:06] NicoYuan1986 commented on #19780
Fixed!

[2022-10-21 10:06] #19780 closed

[2022-10-21 10:07] congqixia opened #19983 "[Bug]: DataCoord may send Flush request to a newly watched datanode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

`DataCoord` may send `Flush` request to a newly watched datanode, in which time tick is likely way before the safely sync point.

### Expected Behavior

`DataCoord` shall check flush target with tt message source

### Steps To Reproduce

_No response_

### Milvus Log

[2022-10-21 10:07] zhuwenxing opened #19984 "[Bug]: When using same param to create index, it still reports error `CreateIndex failed: index already exist, but parameters are inconsistent` after upgrading"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

[test-upgrade-test-10-21-17-34.zip](https://github.com/milvus-io/milvus/files/9838009/test-upgrade-test-10-21-17-34.zip)

### Anything else?

_No response_

[2022-10-21 10:10] yanliang567 commented on #19984
/assign @xiaocai2333
/unassign

[2022-10-21 10:40] #19882 closed

[2022-10-21 10:41] xige-16 commented on #19256
/assign @jingkl

[2022-10-21 10:43] xiaofan-luan opened #19987 "[Bug]: Block Flow Graph when compaction happened"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

when we try to update map in replica, we can not ensure it's safe because flow graph may still relies on some of the segment.

To solve this issue, flow graph now support a blockAll method and it will block all node from operating new requests.
Then we can safely proc

[2022-10-21 11:01] wg1026688210 commented on #19717
@yanliang567 @zxcvjl
mark,we encountered the same problem at master

git reset --hard 0343a8c62

[2022-10-21 12:43] congqixia opened #19990 "[Bug]: Collection with duplicated collection name could be created"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Collection with duplicated collection name could be created

### Expected Behavior

Duplicated collection name should return error

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-10-21 16:14] willgamz commented on #19948
@Bennu-Li
If you install the package from:
wget https://github.com/milvus-io/milvus/releases/download/v2.1.4/milvus_2.1.4-1_amd64.deb
    sudo apt-get update
    sudo dpkg -i milvus_2.1.4-1_amd64.deb
    sudo apt-get -f install

Check the /etc/milvus don't have files provided in the DEB.

[2022-10-22 04:09] #19983 closed

[2022-10-22 09:22] #19085 closed

[2022-10-22 10:04] longjiquan commented on #19492
![image](https://user-images.githubusercontent.com/31589260/197333473-6b1690f1-18af-4a32-b9ec-9cb05dac40c0.png)

[2022-10-22 10:05] longjiquan commented on #19492
![image](https://user-images.githubusercontent.com/31589260/197333483-0db8d34a-93fc-4d34-ab2e-7fd11552c37e.png)

[2022-10-22 11:07] longjiquan commented on #19492
However, if we don't set cache for rocksdb by `SetNoBlockCache(true)`, heaptrack will tell you no memory leakage.

[2022-10-23 01:54] jmugan commented on #19102
Hi, I'm getting this same error, what was the resolution?

[2022-10-23 02:52] xiaocai2333 commented on #19972
[pr1202](https://github.com/milvus-io/pymilvus/pull/1202)  will fix it, wait for publish success.

[2022-10-23 03:09] xiaocai2333 commented on #19972
The reason is that the index name is not specified when creating an index for different fields, and `_default_idx` will be filled in by default in pymivlus, resulting in the use of the same index_name to create an index for different fields. So failed.

[2022-10-23 04:14] xiaocai2333 commented on #19984
`[2022/10/23 12:09:49.827 +08:00] [WARN] [proxy/impl.go:1975] ["CreateIndex failed to WaitToFinish"] [error="CreateIndex failed: index already exist, but parameters are inconsistent. source index: {index_name: _default_idx, field_id: 103, index_params: [key:\"index_type\" value:\"BIN_IVF_FLAT\"  key:\"params\" value:\"{\\\"nlist\\\": 128}\"  key:\"metric_type\" value:\"HAMMING\" ], type_params: [k

[2022-10-23 04:32] xiaocai2333 commented on #19984
different: `[key:\"index_type\" value:\"BIN_IVF_FLAT\" key:\"params\" value:\"{\\\"nlist\\\": 128}\" key:\"metric_type\" value:\"HAMMING\" ]` ,  `[key:\"index_type\" value:\"BIN_IVF_FLAT\" key:\"nlist\" value:\"128\" key:\"metric_type\" value:\"HAMMING\" ]`

[2022-10-23 06:54] xiaocai2333 commented on #19972
pr [19998](https://github.com/milvus-io/milvus/pull/19998)  will fix it.

![image](https://user-images.githubusercontent.com/46207236/197378450-66ed6693-b13a-42e6-9d64-6a25aa6a4b05.png)

[2022-10-23 07:14] TaQuangTu commented on #19851
[milvus_2x_log.zip](https://github.com/milvus-io/milvus/files/9845917/milvus_2x_log.zip)
@weiliu1031 Hi guy. Im back after support from my Admin team. The attached zip file contains logs from etcd, query node, query coord. Hope you can figure out somethings helpful for debugging.

[2022-10-23 07:30] xiaocai2333 commented on #19959
[pr19820]( https://github.com/milvus-io/milvus/pull/19820)  although ignore the index progress of the segment (A) which is compaction  from. But the index of `varchar` field will start after the index of segment (A) is done .

[2022-10-23 12:34] zhaohobby commented on #19865
[milvus.zip](https://github.com/milvus-io/milvus/files/9846560/milvus.zip)
milvus 并发请求后qn节点内存增长很大，导致单个请求也内存溢出

[2022-10-23 15:48] xiaofan-luan commented on #19971
great find! should help a lot on the performance part

[2022-10-24 00:22] yanliang567 commented on #19865
/assign @jiaoew1991
/unasign @zhaohobby

[2022-10-24 00:26] yanliang567 commented on #19984
was it caused by meta refactoring?

[2022-10-24 01:45] linhgao opened #20001 "[Feature]: Support publishing data on hdfs into milvus in pyspark"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Now, I publish mode:
1. Start a pod on k8s.
2. Pull all parquet files into the pod from hdfs.
3. Read the parquet files in pandas, then insert data into milvus.

This process consumes huge amount of memory. And if mem can not release, it will affe

[2022-10-24 01:49] jiaoew1991 commented on #20001
Do you mean an ETL tool?

[2022-10-24 02:06] jingkl opened #20002 "[Bug]: [benchmark][cluster]Milvus load fails after several retries,raise an error"collection has not been loaded to memory or load failed""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-concurrent-1666540800-1
server-configmap
server-single-4c16m-diskann
client-configmap
client-locust-search-sift10m-diskann

[code]

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

_No response_

###

[2022-10-24 02:18] jingkl commented on #19827
same with issue #20002，close issue

[2022-10-24 02:18] #19827 closed

[2022-10-24 02:29] NicoYuan1986 opened #20003 "[Bug]: [Nightly] List partitions failed by chance reporting 'code: CollectionNotExists, reason: can't find collection: ...'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

List partitions failed by chance reporting 'code: CollectionNotExists, reason: can't find collection: ...'.
[code]

### Expected Behavior

PASSED

### Steps To Reproduce

nightly: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/

[2022-10-24 02:53] linhgao commented on #20001
Yes, if you have supported, can you test to publish 100 million records in pyspark?

[2022-10-24 02:56] linhgao commented on #20001
Before, you only supporting to publish data in pandas dataframe, I want to publish data in pyspark dataframe. Because pandas works on a single machine, it is inconvenient to use large amounts of data in spark

[2022-10-24 02:59] longjiquan commented on #19962
/assign @xiaocai2333 @yah01

[2022-10-24 03:04] jingkl commented on #19837
fouramf-cron-1666454400
case_name
test_search_filter
server
[code]
client log：
[code]

[2022-10-24 03:04] zhuwenxing commented on #19959
It reproduced stable, so set it as critical

[2022-10-24 03:05] jiaoew1991 commented on #20001
As far as I know, Databricks has this project https://github.com/databricks/koalas that seamlessly converts Pandas DF to Spark DF, you can try it. @linhgao

[2022-10-24 03:09] zhuwenxing commented on #19959
It also blocked the reinstall test, because the test would be failed at the first deployment, so we can not check the behavior after reinstall

[2022-10-24 03:19] xige-16 commented on #20002
/assign

[2022-10-24 03:35] jennyli-z opened #20008 "[Bug]: [UT] Failed UT on master -rootcoord"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]
[https://github.com/milvus-io/milvus/actions/runs/3309648643/jobs/5463038734](https://github.com/milvus-io/milvus/actions/runs/3309648643/jobs/5463038734)

### Current Behavior

Failed on rootcoord
![image](https://user-images.githubusercontent.com/93511422/197443628-b4b72da9-4b2b-40bb-b23f

[2022-10-24 03:38] shuoshuo09 opened #20009 "[Feature]: 使用cenos 无法连接到milvus server"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

在centos系统中，执行 sudo yum install https://github.com/milvus-io/milvus/releases/download/v2.1.4/milvus-2.1.4-1.el7.x86_64.rpm ，然后执行sudo systemctl start milvus 成功启动 但是使用 connections.connect(host='127.0.0.1', port='19530') 无法连接上

Traceback (most recent

[2022-10-24 03:45] shuoshuo09 opened #20010 "You cannot connect to milvus server with centos[Feature]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Execute using cenos sudo yum install https://github.com/milvus-io/milvus/releases/download/v2.1.4/milvus-2.1.4-1.el7.x86_64.rpm Then run sudo systemctl start milvus 服务正常启动，但是无法用 from pymilvus import connections
connections.connect(host='127.0.0.1'

[2022-10-24 03:59] dzqoo opened #20012 "[Bug]: When insert data into milvus table and reload data, the performance is descreased."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When insert data into milvus table , I found that search performance is decreased seriously.And I reloaded the table ，BUT the performance get worse.I found that some Growing segments are empty as you see below.
![image](https://user-images.githubusercontent.com/886230

[2022-10-24 05:12] shuoshuo09 opened #20015 "[Bug]:使用centos 无法连接到milvus server"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Execute using cenos sudo yum install https://github.com/milvus-io/milvus/releases/download/v2.1.4/milvus-2.1.4-1.el7.x86_64.rpm Then run sudo systemctl start milvus 服务正常启动，但是无法用 from pymilvus import connections
connections.connect(host='127.0.0.1', port='19530') 链接

T

[2022-10-24 05:20] dixingxing0 opened #20016 "[Enhancement]: LRU cache should be cleaned."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

we found querynode create more than 1000 goroutine for `evictedWorker`, we think the lru cache should be cleaned after collection has been dropped.

### Why is this needed?

_No response_

### Anything else?

[goroutine-qn-25.zip](https://github.com/milvus-io/milvus/files/9848

[2022-10-24 05:36] congqixia commented on #18946
/reopen
there are still some context store in struct needs to be cleaned.

[2022-10-24 05:41] congqixia commented on #20016
After this pr (#19546), chunk manager not long depends on the `ctx` passed during initialization. So the `close` method shall be called explicitly. Thanks for pointing out! @dixingxing0
/assign

[2022-10-24 05:53] dixingxing0 opened #20018 "[Bug]: Should load sealed segment into querynode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Show segment for collection found that segments has been sealed but row count is 0.
![image](https://user-images.githubusercontent.com/1303530/197455862-fb6deb8c-191d-4d06-a0f9-596b6bdddd1b.png)
querynode has this warn log:
![image](https://user-images.githubuserconte

[2022-10-24 05:59] yanliang567 commented on #20012
/assign @congqixia
/unassign

[2022-10-24 06:01] yanliang567 commented on #20018
/assign @soothing-rain @congqixia
/unassign

[2022-10-24 06:02] yanliang567 commented on #20015
/assign @Bennu-Li
do we need to forward the localhost ip address with rpm installation?

/unassign

[2022-10-24 06:14] zhuwenxing commented on #19955
It also reproduced in other chaos test

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/2412/pipeline
log:
[artifacts-indexcoord-pod-failure-2412-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9849169/artifacts-indexcoord-pod-failure-2412-server-logs.tar.gz)
[artifacts-indexcoord-pod-failure-2412-pytest-logs.tar.gz](https://github.com

[2022-10-24 06:25] longjiquan commented on #19598
Need more discussions. So close this for now. Anyone interested in this topic is welcomed to reopen this issue.
/close

[2022-10-24 06:25] #19598 closed

[2022-10-24 06:27] shuoshuo09 commented on #20015
How do I operate it？

[2022-10-24 06:29] longjiquan commented on #18994
Hello, @ThreadDao @zhuwenxing , I think this issue was already fixed by #19709 . Please help to recheck this, thx.
/assign @ThreadDao @zhuwenxing

[2022-10-24 06:30] longjiquan commented on #19960
/assign @yah01

[2022-10-24 06:31] longjiquan commented on #19960
/unassign

[2022-10-24 06:31] longjiquan commented on #19962
/unassign

[2022-10-24 06:32] longjiquan commented on #19939
Will be fixed by #20019 . Please help to check this, @binbinlv , thx.
/assign @binbinlv
/unassign

[2022-10-24 06:33] longjiquan commented on #19708
Already fixed by #19709 , so close this.
/close

[2022-10-24 06:33] #19708 closed

[2022-10-24 06:37] longjiquan commented on #19429
This issue was already fixed by #19709 , please help to recheck this, @zhuwenxing , thx.
/assign @zhuwenxing

[2022-10-24 06:46] LoveEachDay commented on #20015
@shuoshuo09 Could you run `lsof -i:19530` to verify that milvus is running well?

[2022-10-24 07:04] Bennu-Li commented on #20015
@shuoshuo09 And could you run `systemctl status milvus`  to check that milvus status is well?

[2022-10-24 07:05] Bennu-Li commented on #20015
NO, it does not need to

[2022-10-24 07:07] liu7A opened #20020 "[Bug]: milvus单机版频繁宕机"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. 单机版 docker compose 运行， milvus v2.1.4
2. java sdk，创建一个集合。有分区没有索引。 字段：字符串id，二进制向量(长度1024)。（此时集合数据为空）
3. 立刻loadCollection
4. 插入1000条数据，二进制向量是分子smiles转化的java.nio.ByteBuffer;
5. 啥也没干，一直挂机40分钟。然后milvus容器停止。

### Expected Behavior

_No response_

### Steps To Reproduce

[

[2022-10-24 07:08] aoiasd opened #20021 "[Enhancement]: Rocksmq new page log is triggered too often in CI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

move Rocksmq page Info log to Rokcsmq monitor

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-10-24 07:27] shuoshuo09 commented on #20015
It was executed without any reaction or error

[2022-10-24 07:29] shuoshuo09 commented on #20015
Is in the green running state

[2022-10-24 07:30] shuoshuo09 commented on #20015
I connected with the port number 19531, but there was another error

[2022-10-24 07:34] jiaoew1991 commented on #19749
- [ ] basic implements
- [ ] log rotation based on size and date
- [ ] persist logs on MinIO

[2022-10-24 07:48] xiaofan-luan opened #20024 "[Enhancement]: Refine QuerycoordV2 executor segment load task merge logic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

1) add more log about the how long all jobs and tasks take
2) trigger executor to merge immediately after one round of schedule
3) simplify the merger logic

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-10-24 07:52] zhuwenxing opened #20026 "[Bug]: Load raise error ` pymilvus.exceptions.MilvusException: <MilvusException: (code=5, message=failed to load collection, err=collection with different index map[103:436885001246019009] existed, release this collection first before changing its index[LoadParameterMismatched])>`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

[test-reinstall-test-10-24-15-49.zip](https://github.com/milvus-io/milvus/files/9849779/test-reinstall-test-10-24-15-49.zip)

### Anything else?

[code]

all test cas

[2022-10-24 07:54] xiaofan-luan commented on #19492
this might not be a issue since rosksdb block cache takes 1 gigas by default?

[2022-10-24 07:57] zhuwenxing commented on #20026
some related issues and I found that the error message below is `different index map[]`, but in my case is `index map[103:436885001246019009`.
* https://github.com/milvus-io/milvus/issues/19960
* https://github.com/milvus-io/milvus/issues/19962

[2022-10-24 08:21] soothing-rain commented on #19954
Should be fixed by https://github.com/milvus-io/milvus/pull/19936

[2022-10-24 08:26] BUPTAnderson opened #20030 "[Bug]: Id allocator not updated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

`milvus/internal/rootcoord/root_coord.go`

inside tsLoop() method: [tsLoop()](https://github.com/milvus-io/milvus/blob/95f7bf44c4fce96e1766f628cf3682650760295b/internal/rootcoord/root_coord.go#L243-L249)
`tsoAllocator` was update twice, but `idAllocator` not updated.

[2022-10-24 08:27] BUPTAnderson commented on #20030
Fixed in #20029

[2022-10-24 09:02] longjiquan commented on #19492
Yeah, we'll also set the cache size according to the total memory size & memory usage.

[2022-10-24 09:52] #19901 closed

[2022-10-24 10:57] NicoYuan1986 commented on #19972
Fixed!

[2022-10-24 10:57] #19972 closed

[2022-10-24 11:30] #19971 closed

[2022-10-24 12:18] bigsheeper opened #20033 "[Bug]: CI tests, QueryNode panic occasionally"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/42060877/197523539-055951bc-1b0b-4921-853d-ea9074b3d899.png)

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-10-24 12:19] yanliang567 commented on #20012
the following 3 segments were compacted:
![image](https://user-images.githubusercontent.com/82361606/197523865-d981abe7-8152-478f-9c4b-c28b8edc4768.png)
 but they are still be searched
`[2022/10/24 11:38:57.716 +00:00] [DEBUG] [querynode/segment.go:333] ["do search on segment done"] [msgID=436888919839429183] [segmentID=436846452445806593] [segmentType=Growing] [loadIndex=false]`

[2022-10-24 12:28] yah01 commented on #20033
/assign @congqixia
looks like caused by a recent PR

[2022-10-24 12:53] LoveEachDay commented on #20015
@shuoshuo09 port 19531 is for milvus querycoord. You need to access the `:19530` for grpc access which almost all sdks using this port, and `:9091` for rest api access.

Could you upload the milvus service log? And could you run the following command and paste the results:
[code]

And for the default installation, milvus will listen to the following ports:
[code]

[2022-10-24 13:53] mchenyu1218 commented on #19743
I will give you some parts of our data that go wrong by today

[2022-10-24 14:06] czs007 opened #20034 "[Enhancement]: Increase the throughput of milvus"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

1. Reduce the  overhead of acquiring locks when calling task.Ready
2. When there are idle workers in the pool, the scheduler is notified by the pool, so as to ensure that the workers in the pool have jobs to do.
3. The previous CPU usage evaluation model is abandoned, and the

[2022-10-24 14:11] xiaofan-luan opened #20035 "[Enhancement]: Load Channel in parallel"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Currently , all querynode load channel with a queue, this doesn't make sense if there are a lot of shards/collections to recover.
To accelerate it, we  enable a channelPool to help accelerate channel load/release.

PS. we also refine the Querycoord merger logic in this pr and

[2022-10-24 23:23] #19246 closed

[2022-10-24 23:23] #19224 closed

[2022-10-24 23:23] #19243 closed

[2022-10-24 23:23] #19254 closed

[2022-10-25 00:42] yanliang567 commented on #20026
/assign @xiaocai2333
/unassign

[2022-10-25 00:45] yanliang567 commented on #20020
/assign @jiaoew1991
/unassign

[2022-10-25 00:45] yanliang567 commented on #20003
/assign @jiaoew1991
/unassign

[2022-10-25 01:11] yanliang567 commented on #20030
/assign @xiaofan-luan
please help to review the pr above

[2022-10-25 01:11] yanliang567 commented on #20008
/assign @jiaoew1991
/unassign

[2022-10-25 01:45] jingkl commented on #19526
server-instance
fouram-tag-no-clean-m5chl-1
server-configmap
server-single-8c64m
client-configmap
client-random-locust-compaction-search

image：master-20221024-95f7bf44
pymilvus：2.2.0.dev53

[code]

[code]

[2022-10-25 01:46] jingkl commented on #19526
Milvus crashes and cannot be recovered @soothing-rain @yah01

[2022-10-25 01:54] jingkl commented on #19731
server-instance
fouram-tag-no-clean-ztmzg-1
server-configmap
server-cluster-8c32m-querynode2
client-configmap
client-random-locust-hnsw-search-filter-insert

master-20221024-95f7bf44
2.2.0.dev53

server
[code]
client log

<img width="1315" alt="截屏2022-10-25 09 50 44" src="https://user-images.githubusercontent.com/34296482/197663402-a7e99704-8b0b-4810-b8b2-04e8cab6df77.png">

[2022-10-25 01:55] jingkl commented on #19731
This issue still exists @congqixia

[2022-10-25 02:17] NicoYuan1986 opened #20039 "[Bug]: [Nightly]Assertion error occurs when release collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Assertion error occurs when release collection.
[code]

### Expected Behavior

PASSED

### Steps To Reproduce

https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/172/pipeline/143

### Milvus Log

1. log: [artifacts-milvus-di

[2022-10-25 02:22] NicoYuan1986 opened #20040 "[Bug]: [Nightly]Query failed reporting 'fail to search on all shard leaders, err=fail to Query, QueryNode ID = 2, reason=Query 2 failed, reason failed to get service timestamp, taskID = 436898317007323137, collectionID = 436898227082374911, err=cannot found tSafer, vChannel = by-dev-rootcoord-delta_77_436898227082374911v0 err %!w(<nil>))'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Query failed reporting 'fail to search on all shard leaders, err=fail to Query, QueryNode ID = 2, reason=Query 2 failed, reason failed to get service timestamp, taskID = 436898317007323137, collectionID = 436898227082374911, err=cannot found tSafer, vChannel = by-dev-

[2022-10-25 02:23] yanliang567 commented on #20012
from @dzqoo : he inserted 5 million data again last night, and find the search latency become worse. What's more the index tasks seem to be stuck...always in progress as screenshot below:
<img width="925" alt="image" src="https://user-images.githubusercontent.com/82361606/197667093-61b6c97d-a3d1-40d9-afb9-69496dc738b1.png">

[2022-10-25 02:25] NicoYuan1986 commented on #19386
The issue appears again.
nightly: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/172/pipeline/187

milvus: 2f19e65
pymilvus: 2.0.0.dev63

1. milvus log: [artifacts-milvus-distributed-pulsar-nightly-172-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/172/artifact/artifacts-milvus-distributed-pulsar-nightl

[2022-10-25 02:30] yanliang567 commented on #20040
/assign @jiaoew1991
/unassign

[2022-10-25 02:45] #19127 closed

[2022-10-25 02:45] #19331 closed

[2022-10-25 02:47] NicoYuan1986 commented on #19654
It doesn't exist these days.

[2022-10-25 02:47] #19654 closed

[2022-10-25 02:58] haorenfsa opened #20043 "[Enhancement]: Support Google Cloud Storage(GCS) and support access GCS by IAM"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

- [ ] Remove the port in address When using GCS,  so that the minio sdk can recognize it's GCS
- [ ] Add logic to Acquire & renew token from GCP metaserver, add Authorization Header using the token acquired when accessing GCS.

### Why is this needed?

So that user can use GCS

[2022-10-25 02:58] haorenfsa commented on #20043
/assign

[2022-10-25 03:08] xige-16 opened #20045 "[Bug]: CreateBucket error with curlCode(28) on aws s3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://github.com/milvus-io/milvus/blob/08cfc140d717194ee00e394ec7d26c59041f7d37/internal/core/src/storage/MinioChunkManager.cpp#L104

return error [UnexpectedError] Error:CreateBucket:  curlCode: 28, Timeout was reached when create bucket with s3_client.CreateBucket

[2022-10-25 03:18] zhuwenxing opened #20047 "[Bug]: Collection is not loaded after upgrade when the collection has been loaded before upgrade"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

The collection should be at loaded status, and can be searched directly

### Steps To Reproduce

[code]

### Milvus Log
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test/detail/deploy_test/484/pipeline

[art

[2022-10-25 03:23] xiaofan-luan opened #20048 "[Bug]: Delta Channel Monitoring is not accurate"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![img_v2_135b0816-e1bb-4317-9b99-4a12c1d5e50g](https://user-images.githubusercontent.com/83447078/197674535-a00da754-a5dc-465b-86c5-484a42957ef7.png)

We've seen the Delta virtual channel is far more than the actual one exist in querynode, there might be two issues:
1

[2022-10-25 03:43] XuanYang-cn opened #20050 "[Bug]: We should get rid of long meaningless log"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![9b4c452d-29ef-4218-a400-f0db7be96eaf](https://user-images.githubusercontent.com/51370125/197677351-b0c32395-fde0-47be-88f1-ccfa126997ef.jpeg)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything el

[2022-10-25 03:50] jaime0815 opened #20052 "[Bug]: Should not use a default index name when construct the building task for index"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

GetIndexesForCollection method only processes the default index name,  it will skip constructing the building task for the index
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No

[2022-10-25 03:51] longjiquan commented on #20047
/unassign @yanliang567
/assign

[2022-10-25 03:57] hukang6677 commented on #19586
![image](https://user-images.githubusercontent.com/102129512/197678402-e5123f5c-3a98-45dd-a896-b168cbf5558a.png)

Into the container
vim milvus.yaml，but milvus.yaml is readonly.
E505: "milvus.yaml" is read-only (add ! to override)

[2022-10-25 04:13] jennyli-z opened #20053 "[Bug]: [CI][E2E] e2e failed because of TT Protection issue"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-20038/1/pipeline

<MilvusException: (code=48, message=force to deny /milvus.proto.milvus.MilvusService/Insert.)>

### Expected Behavior

should always pass

### Steps To Reproduce

_

[2022-10-25 04:59] yah01 opened #20054 "[Bug]: HandoffObserver would try to handoff the same segment more than once"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The HandoffObserver handoffs the same segment many times

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-10-25 05:00] yah01 commented on #20054
/assign
/unassign @yanliang567

[2022-10-25 05:23] #19845 closed

[2022-10-25 06:05] bigsheeper commented on #20053
/assign
/unassign @yanliang567

[2022-10-25 06:23] longjiquan commented on #20047
Sorry, but we should upgrade the meta migration tool. @zhuwenxing

[2022-10-25 06:37] wangting0128 opened #20057 "[Bug]: [Bug]: [benchmark][standalone] Load collection raise error: collection 436896709038047235 has not been loaded to memory or load failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task: fouramf-cron-1666627200
test case: test_search_standalone

client log:

[test_search_standalone_1.zip](https://github.com/milvus-io/milvus/files/9857691/test_search_standalone_1.zip)

[code]

server:
[code]

### Expected Behavior

_No response_

### Steps T

[2022-10-25 06:51] longjiquan commented on #19934
Not a querycoord's issue, should be fixed in rootcoord, so close this now.
/close

[2022-10-25 06:51] #19934 closed

[2022-10-25 06:52] longjiquan commented on #20047
/unassign
/assign @zhuwenxing

[2022-10-25 07:26] xiaocai2333 commented on #20026
/assign @yah01 maybe #19986 fix it?

[2022-10-25 07:28] xiaocai2333 commented on #19952
fixed, please verify it.
/assign @zhuwenxing

[2022-10-25 07:28] xiaocai2333 commented on #19952
/unassign

[2022-10-25 07:29] xiaocai2333 commented on #19739
fixed, please verify it.
/assign @zhuwenxing
/unassign

[2022-10-25 07:30] #20054 closed

[2022-10-25 07:39] yah01 commented on #20026
look related, plz retry with #19986
/assign @zhuwenxing

[2022-10-25 07:42] weiliu1031 commented on #19586
try another way,  build image base Docker file: https://docs.docker.com/engine/reference/builder

[2022-10-25 08:04] zhuwenxing commented on #20047
after using meta migration version `20221025-7a13b1c32`, it works well

[2022-10-25 08:04] #20047 closed

[2022-10-25 08:05] yah01 commented on #19951
looks like it's just the load is not fast enough

[2022-10-25 08:13] yah01 commented on #19951
/assign @zhuwenxing
plz help re-check this, as #19976 fixes a bug of IndexCoord, and makes the QueryCoord not load the growing segments, should be helpful

[2022-10-25 08:19] zhuwenxing commented on #20026
This issue still reproduced when upgrading from 2.1.4 to master-20221025-290b902a

failed job:
https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test/detail/deploy_test/489/pipeline
log:
[artifacts-standalone-upgrade-489-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9858420/artifacts-standalone-upgrade-489-server-logs.tar.gz)

[artifacts-standalone-upgrade-489-pytest-l

[2022-10-25 08:20] zhuwenxing commented on #20026
/assign @yah01
/unassign

[2022-10-25 08:25] zhuwenxing commented on #19959
After reducing concurrency, this issue was not reproduced again

[2022-10-25 08:25] #19959 closed

[2022-10-25 09:40] yanliang567 commented on #20052
/assign @xiaocai2333
/unassign

[2022-10-25 09:41] yanliang567 commented on #20039
/assign @jiaoew1991
/unassign

[2022-10-25 09:46] yah01 commented on #20026
/assign @zhuwenxing
plz retry with #20064 , a corner case handled within the migration tool

[2022-10-25 09:50] jingkl opened #20067 "[Bug]: [CI]No error after multiple index deletions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

testcase
[code]

log：
[code]

jenkins：https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-20063/3/artifacts

### Expected Behavior

Expect multiple index deletions should report an error

### Steps To Reproduce

[code]

### Milvus Log

[2022-10-25 09:53] #20050 closed

[2022-10-25 09:55] xiaocai2333 commented on #20052
@jaime0815 Why? What's the reason?

[2022-10-25 09:58] xiaocai2333 commented on #19984
fixed, please verify it.
/assign @zhuwenxing
/unassign

[2022-10-25 10:04] hukang6677 opened #20068 "the partition is deleted，but data can still be query"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

删除分区后，里面的数据依然可以被查到

### Expected Behavior

分区被删除后，里面的数据应该查询不到

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-10-25 10:14] yah01 opened #20069 "[Bug]: Balance won't succeed in QueryNode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Balance forgets to fill the channel name in Task, which leads to always fail on QueryNode, this still works now because the SegmentChecker will release the redundant segment later

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus

[2022-10-25 10:32] kkpssr opened #20071 "cannot search or load or release suddenly but still can insert, error is no replica available"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

MilvusException: (code=1, message=fail to search on all shard leaders, err=All attempts results:
attempt #1:fail to get shard leaders from QueryCoord: no replica available
attempt #2:fail to get shard leaders from QueryCoord: no replica available
attempt #3:fail to ge

[2022-10-25 13:30] wangting0128 opened #20074 "[Bug]: [benchmark][standalone][FLAT] Milvus load 50million vectors failed: collection 436910864330391554 has not been loaded to memory or load failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task:fouramf-cron-1666627200
test case: test_query_by_ids_local_standalone

server:
[code]
<img width="1433" alt="截屏2022-10-25 21 28 32" src="https://user-images.githubusercontent.com/26307815/197786125-f37214e2-d0df-49b0-9c21-5d08f37eb128.png">

client logs:
[te

[2022-10-25 13:41] wangting0128 opened #20075 "[Bug]: [benchmark] Glove dataset and build IVF_FLAT index, search with nprobe=512 that raise error:Deadline Exceeded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task:fouramf-cron-1666627200
test case:test_recall_glove_ivf_flat_cluster

server:
[code]

client logs:
[test_recall_glove_ivf_flat_cluster_1.zip](https://github.com/milvus-io/milvus/files/9860773/test_recall_glove_ivf_flat_cluster_1.zip)

[code]

### Expected Be

[2022-10-25 13:46] xiaofan-luan commented on #20075
/assign @aoiasd pls help on it

[2022-10-25 13:46] xiaofan-luan commented on #20074
/assign @aoiasd

[2022-10-25 13:49] #20069 closed

[2022-10-25 22:57] arunkaly commented on #15372
Are there any workarounds currently (or in the near future) to address this issue. I can think of options like allowing a rename / alias of the Collection, and that way allow addition of new Schema fields in that operation. This ca be a slow operation that would update all the records with null values for the newly added field. In the execution engine, you treat them as regular fields where some h

[2022-10-26 00:16] yanliang567 commented on #20067
@jingkl this is a new design in 2.2, please update the test cases accordinlgy.

/assign @jingkl
/unassign

[2022-10-26 00:17] yanliang567 commented on #20074
/unassign

[2022-10-26 00:18] yanliang567 commented on #20071
Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?
/assign @kkpssr

[2022-10-26 00:19] yanliang567 commented on #20068
/assign @binbinlv
does this reproduce in our tests?

/unassign

[2022-10-26 02:36] kkpssr commented on #20071
It is available now, maybe because i search instantly just after milvus service start and some function is not ready, and after 10min , i search  again and succeed.

[2022-10-26 02:37] soothing-rain opened #20079 "[Bug]: Milvus standalone panicked with "move consume position backward""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-10-26 02:38] soothing-rain commented on #20079
/assign @jiaoew1991
/assign @aoiasd
/unassign @yanliang567

[2022-10-26 03:12] bigsheeper commented on #19958
@Roger-Z seems the link was out of work.

[2022-10-26 03:30] bigsheeper commented on #19606
autohome use 2.2 preview version and no query timeout, so close it.

[2022-10-26 03:30] #19606 closed

[2022-10-26 03:32] bigsheeper commented on #19924
Sorry, the link has been out of date, can you upload once agian?

[2022-10-26 03:50] xige-16 opened #20081 "[Bug]: load disk index failed even though uses iam to connect to s3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

if use iam connect to s3, load disk index failed

### Expected Behavior

if use iam connect to s3,  loding disk index to querynode should be success

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-10-26 04:03] yanliang567 commented on #20071
okay, i will close tthis issue, and feel free to file a new one if any new issues

[2022-10-26 04:03] #20071 closed

[2022-10-26 04:13] congqixia opened #20084 "[Bug]: bloom filter is not cleaned for compacted segment in datanode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When segment is converted to compacted state in datanode, the bloom filter is not removed.

### Expected Behavior

If segment is in compacted state, is shall not consume lots of memory.

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anythin

[2022-10-26 05:12] zhuwenxing commented on #20026
It still reproduced
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test/detail/deploy_test/503/pipeline
log:
[artifacts-standalone-upgrade-503-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9866366/artifacts-standalone-upgrade-503-server-logs.tar.gz)
[artifacts-standalone-upgrade-503-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/9866368/ar

[2022-10-26 05:25] jennyli-z opened #20087 "[Bug]: [E2E] Unstable case failed- test_load_balance_with_all_sealed_segment_id_not_exist"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-20083/1/pipeline/
failed

### Expected Behavior

shoud pass

### Steps To Reproduce

[code]

### Milvus Log

https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20

[2022-10-26 05:42] zhuwenxing commented on #20087
from log, we can find that after inserting, flushing, and loading, but we get empty segment info from API `get_query_segment_info`.

/assign @yah01
PTAL

[code]

[2022-10-26 06:10] jennyli-z commented on #20087
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-20085/2/pipeline then same

[2022-10-26 06:15] kkpssr commented on #20071
i mean the problem can be dealed but i still can reprouduce just by restart milvus service and i should load index manually, i think maybe is bug? because normally u do not need to load before search.

---Original---
From: ***@***.***&gt;
Date: Wed, Oct 26, 2022 12:03 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [milvus-io/milvus] cannot search or load or release suddenly b

[2022-10-26 06:35] #20084 closed

[2022-10-26 07:01] #19881 closed

[2022-10-26 07:32] yah01 commented on #20026
/assign @xiaocai2333
it looks like an issue of IndexCoord, the flat index is not migrated properly, please help check

[2022-10-26 07:41] xiaocai2333 commented on #20026
working on it~

[2022-10-26 08:03] bigsheeper commented on #20002
/assign working on it

[2022-10-26 08:04] bigsheeper commented on #20002
/assign
working on it

[2022-10-26 08:18] xige-16 commented on #19041
@jingkl  please verify
/assign @jingkl

[2022-10-26 08:21] #20081 closed

[2022-10-26 08:25] bigsheeper commented on #20002
https://grafana-4am.zilliz.cc/explore?orgId=1&left=%5B%221666546230000%22,%221666546350000%22,%22Loki%22,%7B%22refId%22:%22A%22,%22expr%22:%22%7Bpod%3D%5C%22fouram-concurrent-1666540800-1-milvus-standalone-78bd44d55qzcj8%5C%22%7D%20%7C%3D%20%5C%22github.com%2Fmilvus-io%2Fmilvus%2Finternal%5C%22%22%7D%5D

[2022-10-26 08:40] #20045 closed

[2022-10-26 08:41] #19974 closed

[2022-10-26 08:43] jingkl opened #20096 "[Bug]: [CI]Failed to delete index, collection.indexes means indexes still exist"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

testcase：

[code]

jenkins log ：https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-20063/7/artifacts

log：
[code]

log file
[artifacts-milvus-standalone-PR-20063-7-pymilvus-e2e-logs.tar.gz](https://github.com/milvus-io/milvus/files/9

[2022-10-26 08:44] Roger-Z commented on #19958
@bigsheeper The link is still valid, please copy the link and paste into browser.

[2022-10-26 08:45] Roger-Z commented on #19924
@bigsheeper  The link is still valid, please copy the url and paste to browser.

[2022-10-26 09:05] jingkl commented on #20067
Got it, I'll go and amend it

[2022-10-26 09:21] yanliang567 commented on #20096
/assign @xiaocai2333
/unassign

[2022-10-26 09:43] soothing-rain commented on #19954
/unassign
/assign @zhuwenxing

[2022-10-26 09:57] bigsheeper opened #20099 "[Enhancement]: Forbid createIndex if collection has been loaded before"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

we should make createIndex failed if collection has been loaded before

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-10-26 09:57] bigsheeper commented on #20099
/assign

[2022-10-26 09:57] bigsheeper commented on #20099
/assign

[2022-10-26 10:12] Roger-Z opened #20102 "[Bug]: For same entity, fail to query by id(PK), but succeed to query by vector"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

We encountered an issue for querying entity by id, we can query same entity with entity embedding, but get an error (NoSuchKey) to query by id.
![Uploading image.png…]()
![Uploading 60451666757467_.pic.jpg…]()

### Expected Behavior

_No response_

### Steps To Reprod

[2022-10-26 10:20] zhuwenxing opened #20103 "[Bug]: Create index raise error `CreateIndex failed: creating multiple indexes on same field is not supported` after upgrading"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test/detail/deploy_test/526/pipeline

log:
[artifacts-standalone-upgrade-526-server-logs.ta

[2022-10-26 10:22] zhuwenxing commented on #20103
/assign @xiaocai2333
PTAL

[2022-10-26 11:08] yanliang567 commented on #20102
@Roger-Z failed to open the screenshots you attached. Also, could you please share some code snippets for reproducing the issue.
/assign @Roger-Z

[2022-10-26 14:11] oyange commented on #19455
@dixingxing0   I saw your enqueue time is 0, can u give me some advice how to reduce the enqueue latency

my logs attached:
![fa687ed341e5ff08b86e2fc196d0aef](https://user-images.githubusercontent.com/23448269/198048944-bb53f655-033c-4ae1-9c39-fc0e243f703a.jpg)

[2022-10-26 15:01] xiaofan-luan opened #20107 "[Bug]: Avoid duplicate handoff signal generated."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Handoff can only happened if segment transit from flushing to flushed.
But currently we trigger the signal on every alter segments request.
If delete happens, the alter segments will trigger many handoff requests, which causing duplicated handoff signal and take a lot

[2022-10-26 15:33] vman-posh commented on #19616
Yes, using default index name works!

[2022-10-26 21:27] #18756 closed

[2022-10-26 21:27] #19270 closed

[2022-10-26 21:27] #16055 closed

[2022-10-27 02:04] yanliang567 commented on #19616
/assign @vman-posh

[2022-10-27 02:05] czs007 commented on #20074
follower 2 failed to load segment, reason load segment failed, OOM if load, collectionID = 436910864330391554, maxSegmentSize = 1 MB, concurrency = 1, usedMemAfterLoad = 118837 MB, totalMem = 131072 MB, thresholdFactor = 0.900000"]

[2022-10-27 02:06] czs007 commented on #20074
relate: https://github.com/milvus-io/milvus/pull/20108

[2022-10-27 02:09] jingkl commented on #20002
server-instance
fouram-stable-1666803600-1
server-configmap
server-single-4c16m-diskann
client-configmap
client-locust-search-sift10m-diskann

master-20221026-b213297d

server:
[code]
client log:

[code]

[2022-10-27 02:12] NicoYuan1986 opened #20114 "[Bug]: [Nightly]A mass of cases failed reporting 'code=49, message=/milvus.proto.milvus.MilvusService/Insert is rejected by grpc RateLimiter middleware, please retry later.'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

A mass of cases failed reporting 'code=49, message=/milvus.proto.milvus.MilvusService/Insert is rejected by grpc RateLimiter middleware, please retry later.'
[code]

### Expected Behavior

all PASSED

### Steps To Reproduce

[code]

### Milvus Log

[artifacts-milvus-d

[2022-10-27 02:21] jingkl commented on #19526
server-instance
fouram-stable-1666803600-4
server-configmap
server-single-8c32m
client-configmap
client-random-locust-hnsw-compaction-search-5h
master-20221026-b213297d
2.2.0.dev63

server：

[code]

client log
[code]

[2022-10-27 02:35] yanliang567 commented on #20114
@bigsheeper we need to which limitation rule we meet in nightly? and how to address it in logs?

/assign @bigsheeper
/unassign

[2022-10-27 03:43] jingkl commented on #19041
server-instance
fouram-tag-no-clean-xpr5l-1
server-configmap
server-cluster-2c8m-diskann-limit
client-configmap
client-search-sift10m-diskann-searchlist

master-20221026-b213297d
2.2.0.dev63

[code]

[code]

[2022-10-27 03:44] jingkl commented on #19041
querynode this will be kill phenomenon, not as expected @xige-16

[2022-10-27 03:55] #19919 closed

[2022-10-27 04:02] zhagnlu opened #20120 "[Enhancement]: parallel disk ann file manager operations"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

parallel disk ann file manager operations such as upload and download files

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-10-27 06:05] bigsheeper commented on #20114
I' take a look.

[2022-10-27 06:36] SimFG commented on #19616
/close

[2022-10-27 06:36] #19616 closed

[2022-10-27 07:05] karanbhatia-jm opened #20123 "[Bug]: Pulsar ledger space getting beyond diskUsageThreshold (0.95) even when the retention time is small"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

We have deployed a Milvus 2.1 cluster on AWS EKS using the official Milvus 2.1 Helm chart. Recently, we have been facing issues with the Bookkeeper ledger space getting filled up completely beyond the `diskUsageThreshold` (0.95 by default) which takes down the write c

[2022-10-27 07:44] wangting0128 opened #20127 "[Bug]: [benchmark] concurrent test，search and insert raise error: Retry timeout: 300s, message=rpc deadline exceeded: Retry timeout: 300s"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task: fouram-concurrent-1666800000

test yaml:
client-configmap:client-random-locust
server-configmap:server-single-8c16m

server:
[code]

client pod:fouram-concurrent-1666800000-2110092351
client log:
[code]

### Expected Behavior

_No response_

### Steps To Re

[2022-10-27 07:48] wangting0128 commented on #20127
### 【cluster】

argo task:fouram-concurrent-1666800000

test yaml:
client-configmap:client-random-locust
server-configmap:server-cluster-8c16m

server:
[code]

client pod: fouram-concurrent-1666800000-79621439
client log:
[code]

[2022-10-27 07:55] #20021 closed

[2022-10-27 07:57] congqixia commented on #20127
[code]
Timetick is block by an known issue
@yah01 's #20121 shall fix this
/assign @yah01

[2022-10-27 07:58] wg1026688210 opened #20129 "[Enhancement]: show collection operation takes a lot of time in rootCoord"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

![image](https://user-images.githubusercontent.com/14267759/198224458-c1a840cf-ef96-4c27-b6be-b3129a041d63.png)
Show collection operation  will access etcd many times  ,it cause cost too long time .

shall we add some improvements  such as
- Search from cache in rootCoord .
-

[2022-10-27 08:07] jingkl commented on #19899
Already fixed, close the issue

[2022-10-27 08:07] #19899 closed

[2022-10-27 08:07] congqixia commented on #20114
@bigsheeper there may be a deadlock in flowgraph and meta_replica, #20121 is fixing this.

[2022-10-27 08:09] NicoYuan1986 commented on #18846
The issue has not appeared till master(5429a97). So close it now.

[2022-10-27 08:09] #18846 closed

[2022-10-27 08:10] NicoYuan1986 commented on #18724
The issue has not appeared till master(5429a97). So close it.

[2022-10-27 08:10] #18724 closed

[2022-10-27 08:10] #20107 closed

[2022-10-27 08:10] NicoYuan1986 commented on #15282
The issue has not appeared till master(5429a97). So close it.

[2022-10-27 08:10] #15282 closed

[2022-10-27 08:13] wangting0128 opened #20130 "[Bug]: [benchmark][cluster] Querynode restart, 50m vectors, serial search raise error：Invalid shard leader"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task:fouramf-cron-1666800000

test case: test_search_filter_cluster

server:
[code]

client log:
[test_search_filter_cluster_1.zip](https://github.com/milvus-io/milvus/files/9877252/test_search_filter_cluster_1.zip)
[code]

### Expected Behavior

_No response_

#

[2022-10-27 08:19] congqixia commented on #20130
```kube_pod_container_status_last_terminated_reason{container="querynode", instance="10.104.7.67:8443", job="kube-state-metrics", namespace="qa-milvus", pod="fouramf-cron-1666800000-2-3-1304-milvus-querynode-66d7c5d7gbtvs", reason="OOMKilled"}```
The querynode will killed due to OOM

[2022-10-27 08:24] yanliang567 commented on #20130
@congqixia but it just searched successfully one second ago
`[2022-10-26 19:29:58,277 -  INFO - fouram]: [Time] Collection.search run in 13.4687s (api_request.py:29)`

[2022-10-27 08:25] yanliang567 commented on #20123
/assign @LoveEachDay

[2022-10-27 08:46] congqixia commented on #20130
The formal successful run
![image](https://user-images.githubusercontent.com/84113973/198237575-cc165342-7314-478b-81cd-2a7233ac9f0a.png)
While this run has extra memory usage:
![image](https://user-images.githubusercontent.com/84113973/198237702-8888db3e-c871-4141-ab71-1f5591312fc9.png)

[2022-10-27 08:58] jingkl opened #20131 "[Bug]: [benchmark][standalone][diskann]Milvus 100m data build index time becomes long"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-tag-no-clean-jhmgm-1
server-configmap
server-single-8c32m256d-diskann
client-configmap
client-random-locust-diskann-search-filter-100m-ddl-12h

server：

[code]
The indexing time is from 23:00 on the 26th
client log：
[code]

### Expected Behavior

[2022-10-27 09:15] bigsheeper commented on #20114
searching “force” in rootCoord log would show the cause of limitation.

[2022-10-27 09:27] congqixia opened #20134 "[Bug]: ShardClusterVersion has memory leakage"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

In shard cluster, CurrentVersion will always keep reference to last version, which cause segment status memory leakage.

### Expected Behavior

Last version shall be released after all reference is gone.

### Steps To Reproduce

_No response_

### Milvus Log

_No resp

[2022-10-27 09:27] SimFG opened #20135 "[Enhancement]: Improve some datacoord codes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

1. Make param names clearer in the `policy.go`, like:
the `avaNodeChannel ` means the `node` rather than `channel`
https://github.com/milvus-io/milvus/blob/e7df4993976884bc9f485663bc0a481857e6553a/internal/datacoord/policy.go#L55-L78
3. delete the repeated `remove` statement,

[2022-10-27 09:27] yanliang567 commented on #20131
@xige-16  I guess knowhere changed the index params recently. could you please help to double check?

/assign @xige-16

[2022-10-27 09:33] passionzhan opened #20138 "[Bug]: failed to reload the collection after it first released by Attu"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

通过Attu 管理界面手动release 一个collection后再load 出现长时间无法load 的情况，查询时其他collection可以正常查询，但是这个无法查询。

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

日志文件见网盘：链接：https://pan.baidu.com/s/1XudH_YeF5nlOEIRPMDydag
提取码：iphc

### Anything else

[2022-10-27 10:49] jiaoew1991 commented on #20020
By the way, plz translate the title and content into English

[2022-10-27 11:15] #20134 closed

[2022-10-27 12:52] jaime0815 commented on #20079
it causes by #19592

[2022-10-27 12:54] yah01 commented on #20127
/assign @wangting0128
plz retry with #20121

[2022-10-27 12:54] yah01 commented on #20114
/assign @NicoYuan1986
plz retry with #20121

[2022-10-27 12:55] yah01 commented on #19526
/assign @jingkl
plz retyr with #20121

[2022-10-27 13:00] jaime0815 commented on #20079
It is possible that happens the msgID is less than the latest msgID within the topic when processes seek operation, so it should be a normal case.
[code]

[2022-10-27 14:42] soothing-rain opened #20145 "[Enhancement]: Fix inaccurate DataCoord stored_rows_num and stored_rows_count metric."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

RT

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-10-27 14:44] soothing-rain opened #20146 "[Enhancement]: Fix inaccurate DataCoord segment_num metric"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

RT

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-10-27 14:52] soothing-rain opened #20147 "[Enhancement]: Get rid of heavy fields when cloning segment info for dropped segments."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

RT

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-10-28 01:22] #18992 closed

[2022-10-28 01:47] xiaocai2333 commented on #20096
fixed.
/assign @jingkl
/unassign

[2022-10-28 02:03] xiaocai2333 commented on #20026
@zhuwenxing
please verify
/assign @zhuwenxing

[2022-10-28 02:17] yanliang567 commented on #20138
/assign @soothing-rain
/unassign

[2022-10-28 02:24] NicoYuan1986 commented on #20114
Failed again. It's the same error.
nightly last night: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/175/pipeline/155
log: [artifacts-milvus-distributed-kafka-nightly-175-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/175/artifact/artifacts-milvus-distributed-kafka-nightly-175-pymilvus-e2e-logs.tar.gz)

[2022-10-28 02:27] NicoYuan1986 opened #20148 "[Bug]: [Nightly]Create index failed reporting 'create index failed, collection is loaded, please release it first'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Create index failed reporting 'create index failed, collection is loaded, please release it first'

### Expected Behavior

pass

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-10-28 02:29] binbinlv commented on #20114
/unassign @NicoYuan1986

[2022-10-28 03:17] zhuwenxing opened #20151 "[Bug]: Loading again after release, it will timeout after 60s when querynode number is 3 or more"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

time for second loading is normal

### Steps To Reproduce

[code]

### Milvus Log

[artifacts-s3-pod-failure-2526-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/9884808/artifacts-s3-pod-failure-2526-pytest-logs.tar.gz)

[a

[2022-10-28 03:25] yah01 opened #20154 "[Bug]: Memory & Goroutine leaks for tasks' context"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The contexts of tasks which had never been added into scheduler, nerver be canceled

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-10-28 03:31] zhuwenxing commented on #20151
/unassign @yanliang567
/assign @jiaoew1991
PTAL

[2022-10-28 03:45] xiaocai2333 commented on #19946
fixed， please check it.
/assign @zhuwenxing
/unassign

[2022-10-28 04:23] kkpssr opened #20157 "[Bug]: failed to search again"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

search failed and sometimes milvus standalone quit

### Expected Behavior

more stable

### Steps To Reproduce

[code]

### Milvus Log

<MilvusException: (code=1, message=fail to search on all shard leaders, err=All attempts results:
attempt #1:fail to get shard leade

[2022-10-28 04:36] jingkl commented on #20096
testcase:

[code]

client log:

[code]

jenkins:https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-20063/14/pipeline/

milvus tag:6c9db52e4

[2022-10-28 04:37] jingkl commented on #20096
/assign @xiaocai2333

[2022-10-28 05:06] NicoYuan1986 opened #20158 "[Bug]: [Nightly]Milvus crashed reporting 'invalid memory address or nil pointer dereference'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus crashed reporting 'invalid memory address or nil pointer dereference'.
[code]
[code]

### Expected Behavior

PASS

### Steps To Reproduce

[code]

### Milvus Log

[artifacts-milvus-distributed-pulsar-nightly-175-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.

[2022-10-28 05:10] gzg25895381 opened #20159 "[Bug]: start milvus with docker-compose,milvus-etcd start failed（使用docker 容器启动milvus,milvus-etc组件启动失败）"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

下载的docker-compose.yml为官网提供的命令下载，命令如下：
wget https://github.com/milvus-io/milvus/releases/download/v2.1.4/milvus-standalone-docker-compose.yml -O docker-compose.yml
docker 版本：20.10.12
docker-compose 版本：docker-compose version 1.26.2, build eefe0d31
执行命令（start command）：su

[2022-10-28 05:42] yanliang567 commented on #20154
/assign @yah01
/unassign

[2022-10-28 05:43] yanliang567 commented on #20157
@kkpssr Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

/assign @kkpssr

[2022-10-28 05:44] yanliang567 commented on #20159
/assign @LoveEachDay
/unassign

[2022-10-28 06:27] jingkl opened #20161 "[Bug]: [benchmark][cluster]Milvus 100m data search, load, query failed ,raise an error"Retry timeout""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-tag-no-clean-k4xn4-1
server-configmap
server-cluster-8c64m-querynode2
client-configmap
client-random-locust-hnsw-search-filter-100m-ddl

[code]

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

_No re

[2022-10-28 06:39] jingkl commented on #19526
server-instance
fouram-stable-1666890000-4
server-configmap
server-single-8c32m
client-configmap
client-random-locust-hnsw-compaction-search-5h

master-20221027-d5bc4e25
2.2.0.dev63

[code]

client log：

<img width="1375" alt="截屏2022-10-28 14 36 57" src="https://user-images.githubusercontent.com/34296482/198519856-765b81da-6ce6-4486-944c-888a7900ea45.png">

[2022-10-28 06:41] jingkl commented on #19526
Verified, the problem still exists, please fix  @yah01

[2022-10-28 06:55] #20154 closed

[2022-10-28 07:07] LoveEachDay commented on #20159
@gzg25895381 Could you provide the information for cpu architecture? amd64 or arm? Run the following command to check:
[code]
You'd better use `x86_64` cpu to run milvus.

[2022-10-28 07:14] yanliang567 opened #20163 "[Bug]: deny to insert after upgrade from master-20221027-d5bc4e25 to master-20221028-89541a6f"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

it shows
`force to deny /milvus.proto.milvus.MilvusService/Insert`
`force to deny /milvus.proto.milvus.MilvusService/Import`
after upgrade from master-20221027-d5bc4e25 to master-20221028-89541a6f

### Expected Behavior

no limit or deny
[yanliang-bulkload-milvus-prox

[2022-10-28 07:16] yanliang567 commented on #20163
/assign @bigsheeper
/unassign

[2022-10-28 07:23] yanliang567 commented on #20163
last time when trying to upgrade from a dev image to master-20221027-d5bc4e25 , the data node crashed for times
[milvus-log.tar.gz](https://github.com/milvus-io/milvus/files/9886198/milvus-log.tar.gz)

[2022-10-28 07:29] yanliang567 commented on #20161
/assign @jiaoew1991
/unassign

[2022-10-28 07:30] xiaofan-luan opened #20167 "[Bug]: Reduce the memory usage of bloom filter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Each segment has a pre allocate BF, and it's fixed size.
If user flushed 1 entity small segment, BF will take great amount of memory.

### Expected Behavior

1. Each binlog related to 1 stat log.
2. when query if segment contains a PK, each stat log has to go through.

[2022-10-28 07:35] gzg25895381 commented on #20159
my sure  the cpu architecture is x86_64, and i have try version 2.1.3 docker-compose.yml  it's report the same error log.
i think maybe my environments some where has problem。 if you has some suggest，plese tell me，thank you！

[2022-10-28 07:40] gzg25895381 commented on #20159
my sure  the cpu architecture is x86_64, and i have try version 2.1.3 docker-compose.yml  it's report the same error log.
i think maybe my environments some where has problem。 if you has some suggest，plese tell me，thank you！

[2022-10-28 07:42] smellthemoon commented on #19639
MsgID and traceID have the same effect, so I think that traceID can be used instead of MsgID. However, it maybe  a little tricky
for the reason that ctx was not provided in mq, it may be a better approach to implement two schemes in mq and grpc.

[2022-10-28 08:01] yanliang567 opened #20170 "[Enhancement]: bulk_insert tests shall be updated for row_based parameter not required any more"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

row_based is not required in bulk_insert()
stop numpy supported

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-10-28 08:01] yanliang567 commented on #20170
/assign

[2022-10-28 08:45] XuanYang-cn commented on #19834
ready to close, the other 2 are enhancement of the codes

[2022-10-28 08:45] #19834 closed

[2022-10-28 08:53] eugeneradionov opened #20173 "[Enhancement]: Add option to canclel collection load"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add an option to cancel the collection load.

### Why is this needed?

I have 75M records in the collection and the Kubernetes cluster with unlimited resources. If I have started the collection load I cannot cancel it. It takes too much time to load (for some reason, idk why e

[2022-10-28 09:11] jaime0815 commented on #20079
load segment task 17780 was canceled when starting read delta msg from seek position, then load segment task 17782 try to consume mq with the same topic and groupid fail, that reason is  the rocksmq was not closed after task 17780 canceled.

[code]

[2022-10-28 09:16] jingkl commented on #19492
server-instance
fouram-vn7sw-1
server-configmap
server-single-4c8m
client-configmap
client-random-locust-search-filter-10w-onddl
master-20221025-ec83bbf7
2.2.0.dev63

<img width="1373" alt="截屏2022-10-28 17 15 02" src="https://user-images.githubusercontent.com/34296482/198551516-647eb672-2f97-4dd0-9504-93c580c2a48f.png">

[2022-10-28 09:18] jingkl commented on #19492
It has been verified that this memory rise problem still exists, please fix it. @longjiquan

[2022-10-28 09:20] bigsheeper commented on #20163
Datanode seek from a very early position:
[code]

[2022-10-28 09:27] yah01 commented on #20173
The `master` now supports releasing the loading collection, it will come with v2.2.0

[2022-10-28 10:17] zhuwenxing opened #20177 "[Bug]: Load timeout (>120s) after upgrading from 2.1.4 to master-20221028-26d26aa8"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

collection 436980525285507073
[code]

### Expected Behavior

test case passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test/detail/deploy_test/541/pipeline/313

log:

[artifacts-

[2022-10-28 12:53] #20148 closed

[2022-10-28 13:18] zhuwenxing opened #20179 "[Bug]: After upgrading, IVF_SQ8 index type will have one more key `nbits` and this make creating index failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test/detail/deploy_test/546/pipeline/313
log:
[artifacts-standalone-upgrade-546-server-logs.

[2022-10-28 13:19] zhuwenxing commented on #20179
/unassign @yanliang567
/assign @longjiquan

[2022-10-28 14:02] zhuwenxing commented on #20103
Verified and not reproduced.
But it becomes to another issue https://github.com/milvus-io/milvus/issues/20179

[2022-10-28 14:02] #20103 closed

[2022-10-28 15:25] zhuwenxing commented on #20151
when the timeout was set to 40s, it still failed.
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/2535/pipeline
log:
[artifacts-datanode-pod-kill-2535-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/9889789/artifacts-datanode-pod-kill-2535-pytest-logs.tar.gz)
[artifacts-datanode-pod-kill-2535-server-logs.tar.gz](https://github.com/milv

[2022-10-28 15:45] zhuwenxing commented on #20151
when the timeout was set to 60s, it still failed.
failed job https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/2536/pipeline
log:
[artifacts-datanode-pod-kill-2536-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9889912/artifacts-datanode-pod-kill-2536-server-logs.tar.gz)
[artifacts-datanode-pod-kill-2536-pytest-logs.tar.gz](https://github.com/milvu

[2022-10-29 03:42] haorenfsa commented on #18523
can be closed

[2022-10-29 03:42] haorenfsa commented on #16898
can be closed

[2022-10-29 03:58] yanliang567 commented on #20177
/assign @jiaoew1991
/unassign

[2022-10-29 04:34] zhuwenxing commented on #20026
Not reproduced

[2022-10-29 04:34] #20026 closed

[2022-10-29 05:16] yah01 commented on #19496
/reopen

[2022-10-29 09:19] longjiquan commented on #19960
/assign @zhuwenxing

[2022-10-29 09:44] zhuwenxing commented on #19951
chaos type: pod-failure image tag: master-20221028-977947e2 target pod: querynode
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/2564/pipeline
log:
[artifacts-querynode-pod-failure-2564-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9893369/artifacts-querynode-pod-failure-2564-server-logs.tar.gz)
[artifacts-querynode-pod-failure-2564

[2022-10-29 09:47] zhuwenxing commented on #19951
## release timeout

chaos type: pod-failure image tag: master-20221028-977947e2 target pod: querycoord
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/2563/pipeline/243
log:
[artifacts-querycoord-pod-failure-2563-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9893382/artifacts-querycoord-pod-failure-2563-server-logs.tar.gz)

[artifact

[2022-10-29 10:00] congqixia opened #20184 "[Bug]: mergeSyncTask may miss some flush task"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

`mergeSyncTask` may miss some flush task

### Expected Behavior

All flush segments shall be processed in mergeSyncTask

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-10-29 10:00] zhuwenxing commented on #19951
Same for the Kafka version

chaos type: pod-kill image tag: master-20221028-977947e2 target pod: etcd
release failed step https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-kafka/detail/chaos-test-kafka/2303/pipeline/244 (collection name: Hello_Milvus )
load failed step: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-kafka/detail/chaos-test-kafka/2303/pipeline/2

[2022-10-29 10:01] zhuwenxing commented on #19951
/assign @yah01
PTAL

[2022-10-29 10:12] zhuwenxing opened #20186 "[Bug]: Search failed with error `fail to Search, QueryNode ID=4, reason=ShardNotAvailable(replica=436996588379570184, shard=by-dev-rootcoord-dml_17_436996570364972587v1` after querynode pod failure chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/2564/pipeline/36
log:
[artifacts-querynode-pod-failure-2564-se

[2022-10-29 10:15] zhuwenxing commented on #20186
same for Kafka version

failed step https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-kafka/detail/chaos-test-kafka/2313/pipeline/245
log:
[artifacts-querynode-pod-failure-2313-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9893433/artifacts-querynode-pod-failure-2313-server-logs.tar.gz)
[artifacts-querynode-pod-failure-2313-pytest-logs.tar.gz](https://github.com/mi

[2022-10-29 10:16] zhuwenxing commented on #20186
It seems to be reproduced stable, so set this issue as critical

[2022-10-29 10:16] zhuwenxing commented on #20186
/assign @jiaoew1991

[2022-10-29 10:31] jiaoew1991 commented on #20151
/unassign
/assign @zhuwenxing
you can retry with pr #20182

[2022-10-29 10:47] #20184 closed

[2022-10-29 11:15] zhuwenxing commented on #19953
When the timeout is 120s, this issue still happens.
failed job:https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/2570/pipeline
log:

[artifacts-querynode-pod-failure-2570-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9893535/artifacts-querynode-pod-failure-2570-server-logs.tar.gz)
[artifacts-querynode-pod-failure-2570-pytest-logs.tar.gz](https://g

[2022-10-30 01:37] zhuwenxing commented on #19960
Verified and passed

[2022-10-30 01:37] #19960 closed

[2022-10-30 01:50] #19984 closed

[2022-10-30 01:51] #19946 closed

[2022-10-30 01:52] #19739 closed

[2022-10-30 01:53] #19446 closed

[2022-10-30 02:02] zhuwenxing commented on #19955
chaos type: pod-failure image tag: master-20221029-a8e2a69a target pod: rootcoord
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/2592/pipeline
log:

[artifacts-rootcoord-pod-failure-2592-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9894922/artifacts-rootcoord-pod-failure-2592-server-logs.tar.gz)
[artifacts-rootcoord-pod-failure-259

[2022-10-30 02:04] zhuwenxing commented on #19955
chaos type: pod-failure image tag: master-20221029-a8e2a69a target pod: datacoord
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/2584/pipeline
log:
[artifacts-datacoord-pod-failure-2584-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9894925/artifacts-datacoord-pod-failure-2584-server-logs.tar.gz)
[artifacts-datacoord-pod-failure-2584

[2022-10-30 02:19] bigsheeper commented on #20114
shoulde be fixed, please verify @NicoYuan1986

[2022-10-30 02:20] bigsheeper commented on #20114
/unassign
/assign @NicoYuan1986

[2022-10-30 03:11] zhuwenxing commented on #19951
For the pulsar version, this issue was not reproduced. But for the Kafka version, this issue can reproduced for all kinds of pod kill or failure chaos tests.

for some examples

* chaos type: pod-failure image tag: master-latest target pod: querynode
    failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-kafka/detail/chaos-test-kafka/2343/pipeline
    log:
        [arti

[2022-10-30 03:13] zhuwenxing commented on #19951
chaos type: pod-kill image tag: master-latest target pod: etcd
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-kafka/detail/chaos-test-kafka/2342/pipeline
log:
[artifacts-etcd-pod-kill-2342-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9894996/artifacts-etcd-pod-kill-2342-server-logs.tar.gz)

[artifacts-etcd-pod-kill-2342-pytest-logs.tar.gz](https://g

[2022-10-30 08:08] czs007 commented on #19500
segmentID: 436181007276703745  create time 2022-09-23 10:01:35.776 +0800 CST
IndexBuildID: 436181033831104514 create time 2022-09-23 10:03:17.073 +0800 CST

IndexRequest And Binlog both have logIDs:
logID: 436181011064422402  create time 2022-09-23 10:01:50.225 +0800 CST  ts_to 2022-09-23 10:01:35.776 +0800 CST
logID: 436181020030009346  create time 2022-09-23 10:02:24.426 +0800 CST  ts_to 2022-09

[2022-10-30 13:51] xiaofan-luan opened #20188 "[Enhancement]: Refine Request merger"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

The request merger logic is weired.
We should remove the logic in the future, because the querynode itself will parallely do all the load request.
So far keep it as is and make it more readable

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-10-31 01:31] xiaofan-luan commented on #19500
The interesting part is logID 436181035129503746 and 436181192219295746 have same ts_to as 436181034618322946

[2022-10-31 02:13] NicoYuan1986 commented on #20114
It looks not so good yesterday. Some cases failed with the message 'code=48, message=force to deny /milvus.proto.milvus.MilvusService/Insert.'

nightly: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/178/pipeline/155
log: [artifacts-milvus-distributed-kafka-nightly-178-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20C

[2022-10-31 02:13] NicoYuan1986 commented on #20114
/unassign
/assign @bigsheeper

[2022-10-31 02:18] weiliu1031 opened #20190 "[Bug]: no need to execute handoff event before restart"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

after milvus restart, even though we will pull a latest target from datacoord, but outdated handoff event still be executed.

### Expected Behavior

after milvus restart,

1. delete all handoff event
2. register handoff to process handoff
3. pull target

### Steps To

[2022-10-31 02:18] weiliu1031 commented on #20190
/assign @weiliu1031

[2022-10-31 02:32] longjiquan commented on #20179
already fixed by #20183
please verify this again, thx, @zhuwenxing
/assign @zhuwenxing

[2022-10-31 02:44] yhmo commented on #19696
Now the failed_reason become: illegal data type Double of numpy file for scalar field 'xxx'

[2022-10-31 02:45] NicoYuan1986 opened #20191 "[Bug]: [Nightly]Insert failed reporting 'AssertionError: Regex pattern did not match.'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Insert failed reporting 'AssertionError: Regex pattern did not match.'
[code]

### Expected Behavior

PASS

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-10-31 02:59] longjiquan commented on #20191
caused by #20023

[2022-10-31 03:05] yanliang567 commented on #19121
keep it open

[2022-10-31 03:06] #19185 closed

[2022-10-31 03:07] #19190 closed

[2022-10-31 03:08] yanliang567 commented on #18644
keep it open

[2022-10-31 03:16] zhuwenxing commented on #20151
verified and passed

[2022-10-31 03:16] #20151 closed

[2022-10-31 03:17] zhuwenxing commented on #20179
Verified and passed

[2022-10-31 03:17] #20179 closed

[2022-10-31 03:22] zhuwenxing commented on #20186
Not reproduced with master-20221029-a8e2a69a.
Have no idea which PR has fixed this.

[2022-10-31 03:24] zhuwenxing commented on #20186
I remove the critical label, but I think it would be better to find the root cause.

[2022-10-31 03:27] zhuwenxing commented on #19953
Not reproduced, so remove critical label

[2022-10-31 03:41] zhuwenxing commented on #19633
When the timeout is set to 360s, some cases still fail.

chaos type: pod-failure image tag: master-20221029-a8e2a69a target pod: querycoord
failed job:https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-kafka/detail/chaos-test-kafka/2377/pipeline
log:
[artifacts-querycoord-pod-failure-2377-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9897841/artifacts-querycoord-pod

[2022-10-31 03:47] zhuwenxing commented on #20177
Not reproduced, so close it

[2022-10-31 03:47] #20177 closed

[2022-10-31 03:48] zhuwenxing commented on #19952
Not reproduced, close it!

[2022-10-31 03:48] #19952 closed

[2022-10-31 03:50] #20135 closed

[2022-10-31 03:55] zhuwenxing commented on #19951
For now, this issue is only reproduced in minio pod kill chaos test.

failed job:https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test/detail/chaos-test/2623/pipeline
log:
[artifacts-s3-pod-kill-2623-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9897918/artifacts-s3-pod-kill-2623-server-logs.tar.gz)

[artifacts-s3-pod-kill-2623-pytest-logs.tar.gz](https://github.com/mi

[2022-10-31 03:58] SimFG opened #20196 "[Enhancement]: Make sure the query node isn't created repeatedly in concurrent situation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

https://github.com/milvus-io/milvus/blob/bcffb3c389888b06345d44ab54f722e27363f351/internal/querycoordv2/session/cluster.go#L261-L272
When the `getOrCreate ` method is executed concurrently, it will create some client if the `c.get(node.ID())` returns the `nil`. And the return

[2022-10-31 06:14] zhuwenxing opened #20198 "[Bug]: Insert failed with error `force to deny /milvus.proto.milvus.MilvusService/Insert` after upgrading for Kafka version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_kafka/detail/deploy_test_kafka/391/pipeline/317
log:
[artifacts-standalone-upgr

[2022-10-31 06:38] XuanYang-cn commented on #19500
The scale-down triggered the recovery logic.

If the recovery happens right when a segment is about to flush but not yet, DataCoord will send this `flushSegment` request to the New DataNode, which just started and didn't finish consuming the data.

So data for the create-index is less than the original data.

This is a known bug and has been fixed by #19985 at the master branch

/unassign
/assign

[2022-10-31 07:03] yanliang567 commented on #20198
Not sure whether it dup to #20163 @bigsheeper
/assign @bigsheeper
/unassign

[2022-10-31 07:05] XuanYang-cn commented on #19500
To be more clarify:

1. DataNode rescaled, channels are rebalances to new DNs
2. DC call sealed&flush to New DataNode(bug, fixed at #19985 in master), **DN is still consuming data from pulsar**
3. DN generates `entries_num:1902 timestamp_from:18446744073709551615 timestamp_to:436181033110994946
    log_path:"file/insert_log/436166537753657345/436166538238623745/436181007276703745/101/4361810346183

[2022-10-31 07:27] ThreadDao opened #20199 "[Bug]: [upgrade] Collection is not exist after upgrading milvus from 2.1 to master"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Deploy milvus 2.1.0
2. Create index, Insert and flush, create index with pymilvus 2.1
3. Upgrade milvus to `master-20221031-8d0cc422`
4. collection not exist
[code]
client pod:
`cluster-upgrade-index-before-x6h2r-2958863942`
Server pod:
[code]

### Expected Behavio

[2022-10-31 07:36] bigsheeper commented on #20002
crash at `ws::Config::GetCachedConfigValue`：

![image](https://user-images.githubusercontent.com/42060877/198955597-c2ca6b5f-8cfe-45ba-bf3a-bbd78b36580d.png)

`GetCachedConfigValue` before `Aws::InitAPI`
#20200 would fix it.

[2022-10-31 07:50] XuanYang-cn commented on #19408
/unassign
/assign @binbinlv

[2022-10-31 07:56] yanliang567 commented on #20199
/assign @longjiquan
/unassign

[2022-10-31 08:00] congqixia opened #20201 "[Bug]: Continuous Compaction may cause result segment checkpoint freezed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Continuous Compaction may cause result segment checkpoint freezed

### Expected Behavior

When compaction happens a lot, segments cp point shall still be able to proceed

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

Related