[2021-07-01 08:01] XuanYang-cn commented on #6250
/assign

[2021-07-01 08:46] shengjun1985 commented on #6187
Mishards only contains one write node, and one mysql server. The metadata is stored in the mysql server.
Two writable server will generate conflict/duplicate data.

The read-only server config should be:
[code]
The one writable server can config like this:
[code]

[2021-07-01 08:49] del-zhenwu opened #6254 "Server unavailable during nightly CI"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
**Steps/Code to reproduce behavior**
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/43/pipeline

**Expected behavior**
A clear and concise description of what you expected to happen.

**Method of installation**
- [ ] Docker/cpu
- [

[2021-07-01 08:49] del-zhenwu commented on #6254
/kind bug

[2021-07-01 09:18] del-zhenwu opened #6255 "Log format and alignment in test framework"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
SDK test framework improve: log format.

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

**Ex

[2021-07-01 09:19] del-zhenwu commented on #6255
/assign @wangting0128

[2021-07-01 09:19] del-zhenwu commented on #6255
/kind enhancement

[2021-07-01 09:37] binbinlv commented on #6195
OK, "num_entities" has been removed as a workaround. This item may be needed to be added back after the improvement of the design of "num_entities" and flush operation.

Close it first.

[2021-07-01 09:37] #6195 closed

[2021-07-01 09:41] binbinlv commented on #5858
This issue only exists on standalone version, distributed version is good.

[2021-07-01 10:13] #6239 closed

[2021-07-01 11:14] binbinlv opened #6257 "Error message does not specify the reason accurately when search using vector with not matched dim"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Error message does not specify the reason accurately when search using vector with not matched dim

**Steps/Code to reproduce behavior**

Code:

Results:
Error: <BaseException: (code=1, message=[UnexpectedError] Assert "(field_meta.get_sizeof() == element.line_sizeof_)" at /go/src/gith

[2021-07-01 11:25] binbinlv opened #6259 "Wrong exception when searching with invalid field"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Wrong exception when search with invalid field:
for example:
1 empty:""
2 space:" "
3 field name not in pre-defined fields

Currently, it reports "<BaseException: (code=1, message=invalid expression: int64 >= 0)", while the error is not invalid expression.

**Steps/Code to reproduce be

[2021-07-01 11:30] DragonDriver commented on #6257
/unassign @xiaocai2333
/assign @FluorineDog

[2021-07-01 11:33] xiaofan-luan commented on #6249
Agree with having a interface on collecting metrics. Be sure this interface can be integrated with milvus insight.
@nameczz @Tumao727  @shanghaikid  any suggestion on the interface design?

Also search should not rely on this interface, we should solve result streaming issue on another issue

[2021-07-01 11:49] xiaofan-luan commented on #6251
This document seems to be moved to https://milvus.io/cn/docs/v2.0.0/example_code.md, seems it it already fixed?

[2021-07-01 12:13] xiaofan-luan commented on #6232
/assign

[2021-07-01 12:24] xiaofan-luan commented on #6205
@del-zhenwu any documents on how we can run benchmark?

[2021-07-01 12:35] xiaofan-luan commented on #6072
/assign @fishpenguin

[2021-07-01 12:38] xiaofan-luan commented on #6072
@fishpenguin @neza2017 thought we should have a design doc on how to query data directly in S3, any ideas?

[2021-07-01 12:40] xiaofan-luan commented on #6002
how about put partition tag in one field? then you can get entity by id

[2021-07-01 12:44] shengjun1985 commented on #6228
There is another bug in v1.1.1.
If WAL is enable, deleteEntityById with "_default" partition can not delete the entity.
If WAL is disable, deleteEntityById with "_default" partition can delete the entity.

[2021-07-01 12:47] xiaofan-luan commented on #5744
@FluorineDog is this still reproducible?

[2021-07-02 01:45] xiaocai2333 commented on #6259
/uncc @xiaocai2333
/cc @FluorineDog

[2021-07-02 01:54] DragonDriver commented on #6254
Can you provide the log of server? @del-zhenwu

[2021-07-02 01:54] DragonDriver commented on #6254
/assign

[2021-07-02 02:12] DragonDriver commented on #6245
/assign @FluorineDog

[2021-07-02 02:14] DragonDriver commented on #6221
Close this because it cannot be reproduced.

[2021-07-02 02:14] #6221 closed

[2021-07-02 02:16] DragonDriver commented on #6237
Sorry but I cannot access this url, can you attach the log file directly?

[2021-07-02 02:20] del-zhenwu commented on #6237
openvpn need to be connected before visiting grafana/kibana

[2021-07-02 02:20] DragonDriver commented on #5696
Already fixed by #6073 , please retest this.

/unassign @DragonDriver
/assign @ThreadDao

[2021-07-02 02:42] DragonDriver commented on #6257
Though it's ok to check dimension in the client, I think it's a little complicated. To do this, I need parse the whole schema in client and get dimension in schema information.

[2021-07-02 02:51] DragonDriver commented on #5955
Half done.

[2021-07-02 02:52] DragonDriver commented on #6257
@FluorineDog

[2021-07-02 03:14] del-zhenwu opened #6264 "Search timeout with filter dsl on dataset sift-50m"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**

nq: 1000, tok: 100, search success in 51s
nq: 1000, tok: 1000, search timeout (default sdk timeout value: 300s)
dsl:  ["{'range': {'float1': {'GT': -1.0, 'LT': collection_size * 0.5}}}"]}, filter out half of the data.

[code]
**Steps/Code to reproduce behavior**
dataset/test suite yam

[2021-07-02 03:15] del-zhenwu commented on #6264
/kind enhancement

[2021-07-02 03:44] del-zhenwu commented on #6205
I just updated tests/milvus_benchmark for bench testing, README.md can be found for quick start

[2021-07-02 03:47] shengjun1985 opened #6266 "Insert or delete entities will fail if the partition tag is specified as "_default""
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Insert or delete entities will fail if the partition tag is specified as "_default"

**Steps/Code to reproduce behavior**
(0) WAL enable
(1) CreateCollection("A")
(2) Insert("A", "_default", entities)
(3) GetCollectionStats("A")
The collection "A" is empty.

**Expected behavior**
| Req

[2021-07-02 03:57] del-zhenwu commented on #6074
close

[2021-07-02 03:58] del-zhenwu commented on #5519
/kind bug

[2021-07-02 04:00] del-zhenwu commented on #5519
User may be confused that server can not use after a few hundred collections operated

[2021-07-02 04:29] Chisdo opened #6268 "NotConnectError: Cannot check server version: Error occurred. Deadline exceeded"
**Describe the bug**
<img width="1181" alt="Screen Shot 2021-07-02 at 11 27 09" src="https://user-images.githubusercontent.com/36720318/124217483-00e4bf80-db2b-11eb-9607-1f6ea2ae1405.png">
I keep inserting streaming data into several collections from Kafka. Firstly, everything going well. One night later, I find the lag in Kafka. Then get the error showed in the picture. The 'docker ps -a' shows b

[2021-07-02 06:19] nameczz opened #6270 "After insert data successfully, describe collection return row count 0."
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
After insert data successfully, describe collection return row count 0.

**Steps/Code to reproduce behavior**
1. create collection
2. create partition
3. insert to new partition return success
4. describe collection return  rowcount = 0
5. describe partition return  rowcount = 0

**Exp

[2021-07-02 06:21] yanliang567 opened #6272 "Utility.wait_for_index_building_complete hang without response"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Utility.wait_for_index_building_complete hang without response

**Steps/Code to reproduce behavior**
run tests in milvus/tests20/python_client
pytest testcases/test_utility.py::TestUtilityBase::test_wait_index_collection_index  --host _<host>_

**Expected behavior**
return success or t

[2021-07-02 06:30] del-zhenwu opened #6273 "Too low throughput caused by timeout with random and concurrent operations"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
**Steps/Code to reproduce behavior**
1. create
2. insert 1m entities
3. run insert/get/load/release and load/get/search/flush concurrently (client num : 20)
note the log: `Milvus load_collection run in 300.06s`

yaml:
client-random-locust:

[code]
https://argo-test.zilliz.cc/wor

[2021-07-02 06:30] del-zhenwu commented on #6273
/kind enhancement

[2021-07-02 06:48] del-zhenwu commented on #6273
https://kibana-dev.zilliz.cc/app/discover#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'2021-07-01T18:09:04.615Z',to:'2021-07-01T18:09:52.615Z'))&_a=(columns:!(log),filters:!(),index:ad1e1c50-c9d9-11eb-9e1a-b3dcad9693fd,interval:auto,query:(language:kuery,query:'kubernetes.pod_name%20:%20benchmark-cron-1625162400-11-milvus-standalone-85f9fb88c9-wlkkp'),sort:!(!('@timestamp',desc

[2021-07-02 06:48] DragonDriver commented on #6270
/assign

[2021-07-02 06:59] JackLCL opened #6275 "The milvus query will hang when the query node is reduced."
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
The milvus query will hang when the query node is reduced.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Method of installation**
Milvus2.0  Cluster
helm

- Milvus version (master or released version)
v2.0.0rc1

**Screenshots**
![image](https

[2021-07-02 07:05] #5764 closed

[2021-07-02 07:09] JackLCL opened #6277 "Need an interface to view segment information"
We need an  interface to view segment information. We hope  that it's similar with " get_collection_stats " in Milvus1.x.

[2021-07-02 08:10] DragonDriver commented on #6257
The check was already added into client part. But I think it's also neccessary to give a clear error information in segcore part. @FluorineDog

[2021-07-02 08:11] DragonDriver commented on #6270
/kind bug

[2021-07-02 08:37] xiaofan-luan commented on #6275
/assign @xige-16

[2021-07-02 08:51] DragonDriver commented on #6270
I reproduce this issue. But if i call `Flush` before `GetCollectionStatistics`, the statistics is correct.

[2021-07-02 08:52] DragonDriver commented on #6270
[code]

[2021-07-02 16:46:42.116149] create_collection, begin ...
[2021-07-02 16:46:42.153380] create_collection, done ...
[2021-07-02 16:46:42.153414] create_partition, begin ...
[2021-07-02 16:46:42.159860] create_partition, done ...
[2021-07-02 16:46:42.159988] insert, begin ...
[426040444636564857, 426040444636564858, 426040444636564859, 426040444636564860, 426040444636564861, 4260404446365648

[2021-07-02 08:54] yanliang567 commented on #6157
after Milvus standalone pod back to running state, Milvus is going to work as usual.
close.

[2021-07-02 08:54] #6157 closed

[2021-07-02 08:56] yanliang567 commented on #6079
it is caused by the test framework: more and more collections were created and it causes Milvus very slow.
Fixed it by deleting collections for each test in teardown

[2021-07-02 08:56] #6079 closed

[2021-07-02 09:07] DragonDriver commented on #6270
I think this is a feature instead of bug.

/unkind bug
/kind feature
/unassign
/assign @nameczz

[2021-07-02 09:22] DragonDriver commented on #6245
[#592](https://github.com/milvus-io/pymilvus/pull/592) will fix this

[2021-07-02 09:23] DragonDriver commented on #6245
Please retest this.
/assign @del-zhenwu

[2021-07-02 10:20] #5045 closed

[2021-07-02 10:58] yanliang567 commented on #5976
verified on build master-20210702-07b0989

[2021-07-02 10:58] #5976 closed

[2021-07-03 03:03] shanghaikid commented on #6249
I think Milvus should establish some event mechanism, any clients can consume these events.
Events may contain data operations, single node status, all node status, performance, query/search logs... etc
And all these events can be configured ON/OFF, if performance matters.

What do you think @xiaofan-luan ?

[2021-07-03 03:43] xiaofan-luan commented on #6249
@shanghaikid  good point.  We should seperate this into two parts:
1. How we expose some DML,DDL and DCL operations. Since we has pulsar, we can implement certain change data capture operation, and any one interested could just cosume data from stream.
2. How user can query current state, such as node status, code version, some basic metrics (qps, tps, load, latency).

Let's focus on part 2 in thi

[2021-07-03 04:01] xiaofan-luan commented on #6277
/assign @sunby

[2021-07-03 04:02] xiaofan-luan commented on #6277
/unassign @xiaofan-luan

[2021-07-03 05:59] shanghaikid commented on #6249
@xiaofan-luan
I list some metrics which I can image:

### - System info
- system version
- nodes info
  - node name
  - hardware info
    - cpu info
    - memory info
    - capacity info
  - connection info (which node connect to which node)
  - created time
  - updated time
- system configurations

### - System statistics
  - hardware statistics(all and per node)
    - cpu info/usage
    - storag

[2021-07-03 06:14] shengjun1985 commented on #6266
Fixed.

[2021-07-03 06:14] #6266 closed

[2021-07-03 07:34] yanliang567 opened #6287 "[Chaos] Failed to insert if datanode is in chaos"
**Describe the bug**
Failed to insert if datanode is in chaos

**Steps/Code to reproduce behavior**
1. deploy Milvus 2.0 in cluster mode
2. write a loop to insert data
3. keep deleting datanode pod

**Expected behavior**
Inserting data succeed when datanode is in chaos

**Actually**
Inserting data failed

Referring to the topology of Milvus 2.0, inserting data returns success when it writes into p

[2021-07-03 07:36] cydrain opened #6288 "Add collectionID and partitionID into SegmentIndexInfo"
**Please state your issue using the following template and, most importantly, in English.**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. E.g. I wish I could use Milvus to do [...]

**Describe the solution you'd like**
Add collectionID and partitionID into SegmentIndexInfo

[2021-07-03 07:37] yanliang567 commented on #6287
[6287.datacoord.log](https://github.com/milvus-io/milvus/files/6758020/6287.datacoord.log)
[6287.datanode.log](https://github.com/milvus-io/milvus/files/6758021/6287.datanode.log)
[6287.rootcoord.log](https://github.com/milvus-io/milvus/files/6758022/6287.rootcoord.log)

[2021-07-03 08:08] yanliang567 commented on #5985
logs from build master-20210703-111a24a:
DEBUG    ci_test:test_chaos.py:131 chaos injected
ERROR    pymilvus.client.grpc_handler:grpc_handler.py:58 Error: <BaseException: (code=1, message=getSegmentsOfCollection, err:rpc error: code = DeadlineExceeded desc = context deadline exceeded)>
ERROR    pymilvus.client.grpc_handler:grpc_handler.py:58 Error: <BaseException: (code=1, message=getSegmentsOfCol

[2021-07-03 09:22] shengjun1985 commented on #6228
It is fixed in branch 1.1.
If you want to use it as soon as possible, you can checkout the branch and compile it locally.
Otherwise, please wait for the next release.
Thanks you very much.

Reference:
[Install Milvus from Source Code](https://github.com/milvus-io/milvus/blob/1.1/INSTALL.md)

[2021-07-03 09:22] #6228 closed

[2021-07-03 12:00] #6288 closed

[2021-07-04 01:35] nameczz commented on #6243
![image](https://user-images.githubusercontent.com/20559208/124370511-28629600-dcab-11eb-9957-bd686f04b8ae.png)
![image](https://user-images.githubusercontent.com/20559208/124370513-2c8eb380-dcab-11eb-9f2e-432279493af7.png)
![image](https://user-images.githubusercontent.com/20559208/124370515-31536780-dcab-11eb-8259-c5f462ee4f90.png)

[2021-07-04 16:49] yyfrankyy opened #6294 "cannot find -l:librocksdb.a"
https://github.com/milvus-io/milvus/blob/119ecfc633905fdf7e8b1cd47114427c18c40cf8/internal/kv/rocksdb/cwrapper/build.sh#L13

I found that `librocksdb.a` locates in `lib64` directory

[code]

and so as `libarrow.a`, is this platform related?

[2021-07-05 01:47] czs007 commented on #6259
any update on this ? @FluorineDog

[2021-07-05 01:50] czs007 commented on #6220
any update on this ? @FluorineDog

[2021-07-05 01:59] czs007 commented on #5519
@neza2017

[2021-07-05 02:00] DragonDriver commented on #6257
/unassign
/assign @binbinlv

[2021-07-05 02:01] DragonDriver commented on #6160
Already fixed, please retest this. thx

/unassign
/assign @ThreadDao

[2021-07-05 02:05] DragonDriver commented on #6103
We will fix this in next version. We will handle search request whose result is large using a stream processing workflow in system instead of in sdk.

[2021-07-05 02:07] DragonDriver commented on #6034
Already fixed. Please retest this. thx
/unassign
/assign @del-zhenwu

[2021-07-05 02:09] DragonDriver commented on #6034
/unassign @del-zhenwu
/assign

[2021-07-05 02:30] del-zhenwu opened #6296 "Client get stuck"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Concurrent load/insert/search with the standalone version, then the client get no response after more than 6 hours.

**Steps/Code to reproduce behavior**
https://github.com/milvus-io/milvus/tree/master/tests/milvus_benchmark
test suite yaml:
[code]

**Screenshots**
If applicable, add s

[2021-07-05 02:30] del-zhenwu commented on #6296
/kind bug

[2021-07-05 02:31] del-zhenwu commented on #6273
/kind bug

[2021-07-05 02:37] czs007 commented on #6296
At which step is it stuck？ @del-zhenwu

[2021-07-05 02:40] yanliang567 commented on #6264
/kind bug

[2021-07-05 02:41] binbinlv commented on #6257
Verified and fixed.

milvus: master (ca4a562)
Name: pymilvus
Version: 2.0.0rc2.dev6
Name: pymilvus-orm
Version: 2.0.0rc2.dev17

Results:

...
pymilvus.client.exceptions.ParamError: The dimension of query entities is different from schema

[2021-07-05 02:41] #6257 closed

[2021-07-05 02:42] xiaocai2333 commented on #6272
It seems the wrong interface was called when wrapping the API, and `wait_for_index_building_complete` should be used instead of `wait_for_loading_complete`.
In `/milvus/tests20/python_client/base/utility_wrapper.py` file, line 46:
[code]

[2021-07-05 02:43] xiaocai2333 commented on #6272
/uncc @xiaocai2333
/cc @yanliang567

[2021-07-05 02:44] jingkl opened #6297 "Milvus starts successfully for the first time, then restarts with an error after a while"
1.Milvus worked fine in the first week, restarted the service in the second week and reported an error connecting to Milvus
2. Milvus standalone/pymilvus-orm version 2.0.0 rc1

![微信图片_20210705104301](https://user-images.githubusercontent.com/34296482/124410815-cfaffd80-dd7d-11eb-9c0f-3f6881aa1485.png)

[2021-07-05 02:49] del-zhenwu commented on #6296
client get stuck after release and load collection from the test client log
note the description:
[code]

[2021-07-05 02:57] yanliang567 commented on #6272
Fixed the test framework issue

[2021-07-05 02:57] #6272 closed

[2021-07-05 03:06] #6245 closed

[2021-07-05 03:15] cydrain opened #6299 "Support query vector field"
**Please state your issue using the following template and, most importantly, in English.**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. E.g. I wish I could use Milvus to do [...]

**Describe the solution you'd like**
Support query vector field

[2021-07-05 04:11] xiaofan-luan commented on #6299
Anyway we can hidden IO by an interface?
for instance, we need a block cache, manage a chunk of of data, and do auto load when data is not in memory.
User can limit memory consumption by specify max memory watermark. And we run eviction based on query frequency.

Before we discuss start to implement read on Minio, few things may want to be documented and discussed.
1) How is current solution to ma

[2021-07-05 04:12] xiaofan-luan commented on #6297
/assign @czs007 , any suggestions on how to trouble shooting?

[2021-07-05 04:12] xiaofan-luan commented on #6297
/assign @czs007

[2021-07-05 05:43] JackLCL commented on #6277
In 1.1.1，The form of the get_collection_stats interface is as follows：

 {'partitions': [{'row_count': 0, 'segments': None, 'tag': '_default'},
   {'row_count': 10,
    'segments': [{'data_size': 400,
      'index_name': 'IDMAP',
      'name': '1625457202884430000',
      'row_count': 10}],
    'tag': 'test_partition'}],
  'row_count': 10})

[2021-07-05 06:22] xige-16 commented on #6275
I will fix it later

[2021-07-05 07:12] del-zhenwu opened #6304 "Server start failed with continually get IndexCoord component states using the given minio-addr"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
set minio.enabled: false
using externalS3 instead

[code]
**Steps/Code to reproduce behavior**
[code]
**Expected behavior**
A clear and concise description of what you expected to happen.

**Method of installation**
- [ ] Docker/cpu
- [ ] Docker/gpu
- [ ] Build from source

install by

[2021-07-05 07:12] del-zhenwu commented on #6304
/kind bug

[2021-07-05 07:23] jingkl commented on #6297
I found this problem with both the distributed version and the standalone version

[2021-07-05 07:24] FMsunyh commented on #6166
@XuanYang-cn
I used  following docker-compose.yml, I got the error when I  run  "sudo docker-compose up -d"

I haven't used the latest  docker-compose.yml yet.

[docker-compose.zip](https://github.com/milvus-io/milvus/files/6762426/docker-compose.zip)

[2021-07-05 07:53] #6074 closed

[2021-07-05 08:09] yhmo commented on #6187
This issue is caused by multiple writable milvus servers share same db path and metadata service(confirmed in the Slack). Since two milvus server modify metadata at the same time, the metadata doesn't consist with the db data, so the milvus cannot read deleted_docs file from disk.

[2021-07-05 08:09] #6187 closed

[2021-07-05 08:17] yanliang567 commented on #5857
@czs007 any updates?

[2021-07-05 08:19] yanliang567 commented on #5744
all ci passed on rc1. close

[2021-07-05 08:19] #5744 closed

[2021-07-05 08:21] yanliang567 commented on #5673
verified on build master-20210705-ca4a562
pymilvus                           2.0.0rc2.dev6
pymilvus-orm                       2.0.0rc2.dev17

[2021-07-05 08:24] DragonDriver commented on #6034
error_handler already exist in grpc_handler. This issue is just a bug that we don't check if the pool is None.
/assign @del-zhenwu
/unassign @DragonDriver

[2021-07-05 08:51] shanghaikid opened #6307 "Doc missing, should milvus2.0 restart to take effect after modifying configuration"
Any in memory configuration available ?  and please tell user it must restarts to take effect.

[2021-07-05 08:51] yanliang567 commented on #5611
passed on build master-20210705-ca4a562

[2021-07-05 08:51] #5611 closed

[2021-07-05 09:12] #6081 closed

[2021-07-05 09:49] sevenold commented on #6002
sure, search vector return id then get tag by id ?

[2021-07-05 10:12] wangting0128 commented on #6255
according：https://github.com/milvus-io/milvus/pull/6309
/assign @del-zhenwu

[2021-07-05 10:12] wangting0128 commented on #6255
/unassign @wangting0128

[2021-07-05 10:43] del-zhenwu opened #6311 "Server unavailable during concurrently inserting"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
After inserted successfully in several minutes, the client get error.
[code]
**Steps/Code to reproduce behavior**
test yaml:

[code]
**Expected behavior**
A clear and concise description of what you expected to happen.

**Method of installation**
- [ ] Docker/cpu
- [ ] Docker/gpu
- [ ]

[2021-07-05 10:43] del-zhenwu commented on #6311
/kind bug

[2021-07-05 10:52] del-zhenwu commented on #6311
after KeyboardInterrupt:
[code]

[2021-07-05 11:14] fishpenguin commented on #6294
The .a files should be in the cwrapper/output/lib directory in corresponding path of this project.
For example, librocksdb.a should be in milvus/internal/kv/rocksdb/cwrapper/output/lib after build from source.

[2021-07-05 11:37] DragonDriver commented on #6249
# Milvus Metrics

## How about other system?

### Cassandra

#### Metric Type

There are [six metric types](https://cassandra.apache.org/doc/latest/operating/metrics.html#metric-types) in Cassandra:

- Gauge
- Counter
- Histogram
- Timer
- Latency
- Meter

#### Different Metrics and How they are organized

- Table Metrics
	- Organized Format: `<type=Table><Keyspace><Table><MetricName>`
- Keyspace

[2021-07-05 11:41] DragonDriver commented on #6249
@nameczz @shanghaikid

[2021-07-05 11:45] ThreadDao commented on #6259
The following example has the same problem. The message `Invalid expression` is so concise that it is hard to find the problem for users.
1. `test_query_expr_not_existed_field`
[code]
2. `test_query_expr_unsupported_field`
[code]
3. `test_query_expr_non_primary_field`
[code]
4. `test_query_expr_non_array_term`
[code]
5. `test_query_expr_inconstant_term_array`
[code]
6. `test_query_expr_mix_term_ar

[2021-07-05 14:34] isuoge opened #6313 "where is the docker-compose.yml file"
I can`t get the docker-compose.yml file

 wget https://raw.githubusercontent.com/milvus-io/milvus/master/deployments/docker/standalone/docker-compose.yml -O docker-compose.yml

this command return Connection refused.

[2021-07-05 21:36] doron1336 opened #6314 "problem while trying to insert vectors"
hi, I am using milvus 1.0.0 with pymilvus.

my problem accurs while trying to insert 32000 vectors of size 2560, I simply load the vector and use the insert method as described below but the vectors did not save - it still shows zero vectors inside the collection.

I am using python 3.7

windows 10

collection params - param = {'collection_name':'test01', 'dimension':2560,  'metric_type':MetricTyp

[2021-07-06 01:16] #5211 closed

[2021-07-06 02:13] yanliang567 commented on #6297
@jingkl does Milvus restart itself automatically or what do you do to restart the Milvus service?

[2021-07-06 02:18] DragonDriver commented on #6259
/unassign @FluorineDog
/assign

[2021-07-06 02:20] HuixiangLin opened #6315 "gpu search fails on the branch of 1.1 which compiled by cuda11"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Switch to the 1.1 branch and compile by docker, encountered errors by gpu queries.

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're havin

[2021-07-06 02:21] cydrain commented on #6313
if you have cloned Milvus to your home directory, the docker file will be here:
~/milvus/deployments/docker/standalone/docker-compose.yml

try this command
[code]

[2021-07-06 02:41] del-zhenwu opened #6319 "Proxy not healthy during doing random operations using locust"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Server unavailable during doing random operations using locust
[code]
[code]
**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and r

[2021-07-06 02:41] del-zhenwu commented on #6319
/kind bug

[2021-07-06 02:52] yhmo commented on #6315
Any local code change on 1.1?
Did you search the error "stack smashing detected" on google? Typically this error is caused by out of bound access to array.

[2021-07-06 02:59] jingkl commented on #6297
It will not restart automatically, you need to restart Milvus docker manually

[2021-07-06 03:15] xiaofan-luan commented on #6314
you may want to try flush after insertion?

[2021-07-06 03:17] HuixiangLin commented on #6315
No changes on local code.
I will have a try to  find solution about this error.

[2021-07-06 03:20] jingkl opened #6320 "Error running hello_milvus.py"
I have two machines, one machine running hello_milvus.py works fine, the other machine is failing, the error screenshot and log file are shown below
milvus /pymilvus orm version is 2.0.0rc1
[log.txt](https://github.com/milvus-io/milvus/files/6767116/log.txt)

![2d893c02-8d81-43e7-8e8d-c3fd14bb4c14](https://user-images.githubusercontent.com/34296482/124537110-da38c880-de4b-11eb-847a-b7f9374d8186.pn

[2021-07-06 04:19] yhmo commented on #6315
I didn't encounter error with the following steps:
1. docker pull milvusdb/milvus-gpu-build-env:v0.7.0-ubuntu18.04
2. docker run --gpus all -it -p 19530:19530 milvusdb/milvus-gpu-build-env:v0.7.0-ubuntu18.04
3. docker exec -it [container id] bash
4. wget http://developer.download.nvidia.com/compute/cuda/11.0.2/local_installers/cuda_11.0.2_450.51.05_linux.run
5. sh cuda_11.0.2_450.51.05_linux.run
6

[2021-07-06 04:57] HuixiangLin commented on #6315
I will have a try on this tip and reply later.

[2021-07-06 05:57] xiaofan-luan commented on #6320
/assign @xiaocai2333

[2021-07-06 06:23] xiaocai2333 commented on #6320
Please check the version of `hello_milvus.py`. I guess its version is not 2.0.0rc1.
Use this command `wget https://raw.githubusercontent.com/milvus-io/pymilvus-orm/v2.0.0rc1/examples/hello_milvus.py
`.

[2021-07-06 06:27] yanliang567 commented on #5144
if possible, please fix the design for error code in 2.0

[2021-07-06 06:32] binbinlv opened #6321 "Creating partition hangs for hours"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Creating partition hangs for hours: (when creating large mounts of partitions)

test case: tests20/python_client/testcases/test_partition.py::TestPartitionOperations::test_partition_maximum_partitions

**Steps/Code to reproduce behavior**
Test case:
tests20/python_client/testcases/test

[2021-07-06 07:14] HuixiangLin commented on #6315
Just now, i followed the tip mentioned, the error code is as follow.

search_test_code is as follows.
`
import random
from milvus import Milvus

milvus = Milvus(host='172.30.232.104', port='19530')

search_param = {'nprobe': 16}
q_records = [[random.random() for _ in range(1024)] for _ in range(1200)]

res = milvus.search(collection_name='test_milvus', query_records=q_records, top_k=2, params=sear

[2021-07-06 07:20] doron1336 commented on #6314
Thank you for the quick response

The insertion part of the code looks like
Status, IDs = milvus_client.insert(collection_name='test01', records=vectors)
milvus_client.flush()

Yet it doesn't work for some reason

[2021-07-06 07:27] yhmo commented on #6315
Try this approach:
1. under milvus project root path, `cd core/src/index/thirdparty/faiss`
2. `make clean`
3. back to the `milvus/core` path
4. `rm -rf cmake_build`
5. ./build.sh -g

[2021-07-06 07:33] yanliang567 commented on #6321
/assign @czs007

[2021-07-06 07:36] del-zhenwu opened #6323 "Search timeout if two proxy replicas deployed"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Deploy milvus distributed version by helm, and with proxy.replicas:2.
Insert success, but search gets no response.

search successfully in querynode log:
[code]

timeout in proxy log:
[code]
**Steps/Code to reproduce behavior**
[code]
**Expected behavior**
A clear and concise descripti

[2021-07-06 07:37] del-zhenwu commented on #6323
/kind bug

[2021-07-06 07:42] yhmo commented on #6314
If you check the "Status" returned by insert(), the status will give this error "The amount of data inserted each time cannot exceed 256 MB".
Because milvus doesn't allow insert data size exceed 256MB. Your data size is 32000 * 2560 * 4 = 312.5MB, this value exceeds the limit.

[2021-07-06 07:45] yhmo commented on #6314
There is an item about this limit in milvus product FAQ: https://milvus.io/docs/v1.1.1/product_faq.md
[code]

[2021-07-06 07:48] doron1336 commented on #6314
Thank you very much, it is indeed what happened

For future development I hope milvus will support larger volumes

[2021-07-06 07:48] #6314 closed

[2021-07-06 07:52] #6255 closed

[2021-07-06 08:01] yhmo commented on #6268
I think this error is caused by #5398, which was fixed in v1.1.1 by pr #5362. It is a random crash with tiny chance. When this bug occurs, the milvus server could crashed or hang, and client connection will time out or lost connection.

[2021-07-06 08:07] yhmo commented on #6038
@EitanZ-GSI
You can compile milvus 1.1 latest code with cuda 11 by the following steps:
1. `docker pull milvusdb/milvus-gpu-build-env:v0.7.0-ubuntu18.04`
2. `docker run --gpus all -it -p 19530:19530 milvusdb/milvus-gpu-build-env:v0.7.0-ubuntu18.04`
3. `docker exec -it [container id] bash`
4. `wget http://developer.download.nvidia.com/compute/cuda/11.0.2/local_installers/cuda_11.0.2_450.51.05_linux

[2021-07-06 08:08] yhmo commented on #6038
Link to #6315

[2021-07-06 08:13] HuixiangLin commented on #6315
thanks, i will have a try and reply later.

[2021-07-06 08:17] yhmo commented on #5416
No need to do this now.

[2021-07-06 08:17] #5416 closed

[2021-07-06 08:17] yhmo commented on #5415
No need to do this now

[2021-07-06 08:17] #5415 closed

[2021-07-06 08:42] #6315 closed

[2021-07-06 08:45] FluorineDog commented on #6220
fixed by #6324

[2021-07-06 08:49] HuixiangLin commented on #6315
Followed by the mention tip, i had a try, the same error occurs.

Any tips?

[2021-07-06 09:03] gogo422 commented on #6251
It's already fixed. THX

[2021-07-06 09:03] #6251 closed

[2021-07-06 09:27] nameczz commented on #6270
I tried flush after insert. Still not working.
/kind bug

[2021-07-06 09:33] binbinlv opened #6325 "pymilvus.client.exceptions.BaseException: <BaseException: (code=1, message=call query coordinator LoadCollection: rpc error: code = DeadlineExceeded desc = context deadline exceeded)>"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
This assert occurs after running test cases for a while

ERROR    pymilvus.client.grpc_handler:grpc_handler.py:58 Error: <BaseException: (code=1, message=call query coordinator LoadCollection: rpc error: code = DeadlineExceeded desc = context deadline exceeded)>
ERROR    ci_test:api_re

[2021-07-06 09:51] yhmo commented on #6315
Your gpu card is RTX 3090, it is Nvidia Ampere architecture.
In this page: https://en.wikipedia.org/wiki/CUDA, we can know its compute capability is 8.6.
[code]
So you need CUDA 11.1, not 11.0.
In my steps, I install cuda 11.0 since my gpu card compute capability is 7.5. So, at step No.4, you should download cuda 11.1 installer to install.

[2021-07-06 09:53] yhmo commented on #6315
The installer of 11.1:  `wget https://developer.download.nvidia.com/compute/cuda/11.4.0/local_installers/cuda_11.4.0_470.42.01_linux.run`
You also can search "CUDA error 209 no kernel image is available for execution on the device" by google for more information.

[2021-07-06 10:18] itzhusir opened #6329 "The arm platform support"
请问有ARM 版本的镜像吗？或者有在ARM平台上编译的步骤吗？

[2021-07-06 11:01] nameczz opened #6330 "Describe index only return latest index information."
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Describe index only return latest index information.

**Steps/Code to reproduce behavior**
1. create collection
2. create 2 vector fields
3. create index on both fields
4. describe index only get latest index

**Expected behavior**
A clear and concise description of what you expected t

[2021-07-06 11:05] nameczz opened #6331 "Get milvus information api support in proto"
**Please state your issue using the following template and, most importantly, in English.**

**Is your feature request related to a problem? Please describe.**
Support get milvus information api in milvus proto.
Like: milvus version , milvus type(standlone or distributed)

**Describe the solution you'd like**
We can get information by proto service.

**Describe alternatives you've considered**

**

[2021-07-06 12:36] xiaofan-luan commented on #6329
@shengjun1985 any suggestion on arm compilation?

[2021-07-06 14:11] isuoge commented on #6313
thank you

[2021-07-06 14:11] #6313 closed

[2021-07-07 01:48] HuixiangLin commented on #6315
okay, i will reimplement these steps again and reply later.

[2021-07-07 01:51] Veyronl commented on #6060
相同id的更新操作其实是不可避免的,希望milvus能增加该功能,希望milvus越来越好
再次感谢milvus的开源精神

[2021-07-07 02:20] XuanYang-cn commented on #6166
@FMsunyh  Try https://github.com/milvus-io/milvus/blob/master/deployments/docker/standalone/docker-compose.yml the newest one, and make sure `docker-compose >= 1.25.1`.

This one works for me

[2021-07-07 03:05] Chisdo commented on #6268
Thx for reply. After restarting the Mishards and Milvus, everything has been working well so far. I will watch the problem later.

[2021-07-07 03:17] xuqinkun opened #6332 "Proxy state is abnormal"
I build milvus from source code which is latest version, and start it through following commands:
nohup /home/std/xqk/code/v2/milvus/bin/milvus run rootcoord > ~/rootcoord.log 2>&1 &
nohup /home/std/xqk/code/v2/milvus/bin/milvus run datacoord > ~/datacoord.log 2>&1 &
nohup /home/std/xqk/code/v2/milvus/bin/milvus run datanode > ~/datanode.log 2>&1 &
nohup /home/std/xqk/code/v2/milvus/bin/milvus run

[2021-07-07 03:19] #6320 closed

[2021-07-07 03:23] xuqinkun commented on #6332
Environment:
Ubuntu 16.04.10
Java 1.8
Go  go1.16.5 linux/amd64
etcd Version: 3.5.0
minio version RELEASE.2021-06-17T00-10-46Z

[2021-07-07 03:35] yhmo commented on #6329
@itzhusir
You can search "arm" in the project issues. There are some issues about how to compile milvue on arm.
#4391 #4423 #4161

We tried compile milvus on arm before, it is a difficult thing. The main problem is, you may face some weird compile errors by some third-parties in different arm platform.

[2021-07-07 03:54] del-zhenwu commented on #6304
Start failed with cluster mode:

[code]

[2021-07-07 05:51] xiaofan-luan commented on #6270
@DragonDriver  @sunby why this is a feature? If flush is called by user then it should return the actual row count?

[2021-07-07 05:56] yyfrankyy commented on #6294
In my environment, it's compiled and written in the `lib64` folder, and `make all` failed unless I linked it to `lib`, what information can I provide to help investigate it?

[2021-07-07 06:17] fishpenguin commented on #6238
This is an unaccepted error when milvus standalone start, so I believe we can use panic to process such error.

[2021-07-07 06:38] Kirill-Bugaev opened #6336 "Connect check failed"
**Describe the bug**
Connection to milvus failed.

**Steps/Code to reproduce behavior**
I execute script:
[code]
and get this output:
[code]

**Expected behavior**
Script should not throw exceptions.

**Method of installation**
Helm Chart `milvus:2.0.4`

**Environment details**
k8s `v1.19.2` 1 master, 1 worker (aws EC2  `g3.4xlarge`: 16vCPU, 128Gb RAM).
worker node OS: Debian 10 Buster.
milvus:
*

[2021-07-07 06:43] del-zhenwu opened #6337 "Improve log format in index_coord.go"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
standalone log:
[code]
**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

**Expected behavior**

[2021-07-07 06:49] fishpenguin commented on #6294
The .a files shouldn't be written into lib64 folder if you run make all. Did you compiled the .a by your own script?
If so, you may need to create a link in the corresponding .../cwrapper/output/lib and link the file to .a file in lib64.

[2021-07-07 07:01] shengjun1985 commented on #5480
It is fixed.
And if you have more questions, please continue to contact our community.

[2021-07-07 07:01] #5480 closed

[2021-07-07 07:05] binbinlv opened #6338 "Improve check id logic for the search test cases"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Improve check id logic for the search results
origin: use nb count for check, not work for the auto_id case

**Steps/Code to reproduce behavior**
NA

**Expected behavior**
Compare the searched id list with inserted id list

**Method of installation**
- [ ] Docker/cpu
- [ ] Docker/gpu
-

[2021-07-07 07:11] ThreadDao commented on #6167
fixed

[2021-07-07 07:11] #6167 closed

[2021-07-07 07:11] ThreadDao commented on #6160
fixed and will close

[2021-07-07 07:11] #6160 closed

[2021-07-07 07:11] ThreadDao commented on #6093
fixed and will close

[2021-07-07 07:11] #6093 closed

[2021-07-07 07:12] ThreadDao commented on #5967
I will close this issue.

[2021-07-07 07:12] #5967 closed

[2021-07-07 07:30] czs007 commented on #6287
any update on this ？ @XuanYang-cn

[2021-07-07 07:31] XuanYang-cn commented on #6287
Yes, @sunby  is working on it

[2021-07-07 07:31] XuanYang-cn commented on #6287
/unassign
/assign @sunby

[2021-07-07 07:35] jeffoverflow opened #6341 "Add timeout delay for e2e test jenkins pipeline"
**Please state your issue using the following template and, most importantly, in English.**

**Is your feature request related to a problem? Please describe.**
Milvus server logs are not archived when Jenkins CI pipeline time out.

[2021-07-07 07:36] XuanYang-cn commented on #6287
The reason is that dataCoord's assigning segment will call `watchDmChannel` of datanode if datanode rebooted. So if datanode in chaos, the insert will block until dataCoord discovers datanode.

The solution is to make `watchDmChannel` calls running in background.

[2021-07-07 07:40] ThreadDao commented on #5696
After chaos testing, this issue seems to have been fixed.

[2021-07-07 07:40] #5696 closed

[2021-07-07 07:41] del-zhenwu commented on #6304
need to add log .

[2021-07-07 07:51] binbinlv commented on #6325
When running CI for PR, this occurs again.

logs files:
[log.txt](https://github.com/milvus-io/milvus/files/6775310/log.txt)
[artifacts-milvus-standalone-PR-6340-1-pymilvus-orm-e2e-logs.tar.gz](https://github.com/milvus-io/milvus/files/6775322/artifacts-milvus-standalone-PR-6340-1-pymilvus-orm-e2e-logs.tar.gz)

Assertion:
[2021-07-07T07:33:01.719Z] [2021-07-07 07:32:19,998 - ERROR - ci_test]: Trac

[2021-07-07 07:58] yanliang567 commented on #6236
@godchen0212 any updates for this issue?

[2021-07-07 07:59] nameczz opened #6343 "Support created collection / partition time in milvus proto api."
**Please state your issue using the following template and, most importantly, in English.**

**Is your feature request related to a problem? Please describe.**
Support created collection / partition time in milvus proto api.

**Describe the solution you'd like**
May be support created collection / partition time in showcollections api

**Describe alternatives you've considered**
A clear and concis

[2021-07-07 08:02] DragonDriver commented on #6331
same as #6249

[2021-07-07 08:08] shanghaikid commented on #6343
User would like to view a collection/partition list sorted by created time in [milvus-insight](https://github.com/milvus-io/milvus-insight), there is no such api or proto can do this.  Am I correct? @czs007

[2021-07-07 08:19] DragonDriver commented on #6343
Yeah, there is no such api now. We can provide this but maybe the timestamp is not the real time. Milvus uses a Timestmap Oracle (tso) to assign timestamp to request, the timestamp assigned by tso is globally increasing, so you can sort collection/partition list by this timestmap. The timestamp is a hybrid time which contains two part: physical part and logical part, the physical part can be easil

[2021-07-07 08:26] DragonDriver commented on #6343
Maybe we can return both the timestamp and the physical part. The timestamp is used to sort and the physical part is used to be shown? @czs007

[2021-07-07 08:28] shanghaikid commented on #6343
can you give us an example about Timestmap Oracle (tso)?

[2021-07-07 08:40] DragonDriver commented on #6343
For example, `426152581543231492` is a timestamp assigned by tso. The last 18 bit of timetamp is of logical part, the front 46 bit is of physical part.

Given a ts, we can calculate the physical part and logical part:

[code]

[2021-07-07 08:45] ThreadDao opened #6345 "BuildIndex from index service failed and IndexBuilding Service not available"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**

1. deploy Milvus 2.0 with standalone mode
2. repeat the follow operations 3-5 times
     create a collection
     insert 5000 entities
     flush
     search with nq=1 and nprobe=16, limit=1
     create index with  `index_params = {"index_type": "IVF_SQ8", "metric_type": "L2", "params

[2021-07-07 08:47] yanliang567 commented on #6345
/kind bug

[2021-07-07 08:48] yanliang567 commented on #6345
/assign @czs007

[2021-07-07 08:56] DragonDriver commented on #6343
/assign

[2021-07-07 08:56] DragonDriver commented on #6343
/kind feature

[2021-07-07 09:01] nameczz commented on #6343
I think we only need physical part time, so should we calculate the physical part in Milvus?

[2021-07-07 09:43] binbinlv opened #6347 "num_entities of collection is not identical to the number of inserted entities under multiple replicas"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
num_entities of collection is not identical to the number of inserted entities under multiple replicas

proxy: 2, datanode: 2, querynode:2, indexnode:2

NAME                                         READY   STATUS    RESTARTS   AGE
milvus-testing-datacoord-96b78f749-zmgr5     1/1     Ru

[2021-07-07 09:50] #6338 closed

[2021-07-07 10:00] LocoRichard commented on #6216
Thank you, we have fixed the docs.

[2021-07-07 10:14] xiaocai2333 commented on #6347
/uncc
/cc @XuanYang-cn

[2021-07-07 10:14] xiaocai2333 commented on #6347
/assign @XuanYang-cn

[2021-07-07 10:29] #6216 closed

[2021-07-07 10:35] #6229 closed

[2021-07-07 10:47] cydrain opened #6349 "Optimize storage code"
**Please state your issue using the following template and, most importantly, in English.**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. E.g. I wish I could use Milvus to do [...]

**Describe the solution you'd like**
Optimize storage code

[2021-07-07 11:30] godchen0212 opened #6350 "Component startup and connection problem"
**Please state your issue using the following template and, most importantly, in English.**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. E.g. I wish I could use Milvus to do [...]
Problem:
    1. The startup logic of each component is not uniform.
    2. The method call of the grpc client cannot be stopped by client.sto

[2021-07-07 12:17] ThreadDao opened #6352 "Fail to load collection after the milvus standalone pod is killed and restarted"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
scripts path: /milvus/test20/chaos/test_chaos_data_consist.py

1. deploy Milvus 2.0 with standalone mode
2. milvus operations

- create a collection
- insert 5000 entities
- collection.num_entities
- load
- search
- index
- query

3. inject a chaos default: kill standalone pod every 3s

[2021-07-07 12:20] xige-16 commented on #6275
I can't reproduce the issue, did you insert 100w data to the default partition? @JackLCL

[2021-07-07 13:13] peixin-lin opened #6353 "ParamError("UnSupported data type") raised when inserting with a string field"
I am trying to use a string field for my collection with pymilvus-orm==2.0.0rc1, but I didn't find any example for doing this.
So I modified the  [hello_milvus.py](https://raw.githubusercontent.com/milvus-io/pymilvus-orm/v2.0.0rc1/examples/hello_milvus.py) script, which is shown below.
Basically I added a field called "text" with dtype=DataType.STRING and try to insert values in the format of list

[2021-07-07 13:32] jeffoverflow opened #6354 "Building Milvus on CentOS"
**Please state your issue using the following template and, most importantly, in English.**
Building Milvus on CentOS

[2021-07-07 14:00] #6349 closed

[2021-07-07 23:58] filip-halt opened #6355 "Scaling nodes causes issues"
**Describe the bug**
When manually adding an index/query/data node to an established AWS cluster, sometimes all subsequent tasks are sent to one node.

**Steps/Code to reproduce behavior**
Manually launching a new node then applying this ansible script to it:
[code]

**Expected behavior**
Add a new node, all nodes get used.

**Method of installation**
- [x] Docker/cpu
- [ ] Docker/gpu
- [ ] Build

[2021-07-08 01:21] yanliang567 commented on #6353
Thank you for using and continuing to pay attention to Milvus.
Unfortunately, string type field is not supported yet. But good news is that it is in discussion now.

[2021-07-08 01:21] yanliang567 commented on #6353
/assign @peixin-lin

[2021-07-08 01:28] yanliang567 commented on #6275
@JackLCL Could you please give more info as requested above?

[2021-07-08 01:30] xuqinkun commented on #6336
Same problem, check the log of proxy which says:
![image](https://user-images.githubusercontent.com/19572081/124848267-19dbed80-dfcf-11eb-924e-f8f4d5d59762.png)

[2021-07-08 01:32] JackLCL commented on #6275
Yes, I insert 100w 768d data to  the default partition, and insert 100w 768d data to  the another partition.
Total of 2 million data.

[2021-07-08 01:43] yanliang567 commented on #6270
@DragonDriver any updates?
/assign @DragonDriver

[2021-07-08 01:44] yanliang567 commented on #6270
/unassign @nameczz

[2021-07-08 01:56] DragonDriver commented on #6259
Please retest this. thx
/unassign
/assign @binbinlv

[2021-07-08 01:56] nameczz commented on #6330
@yanliang567 I'm not using pymilvus. I call describe api from milvus server directly.
Next time i will write in issue description.

[2021-07-08 02:03] DragonDriver commented on #6270
`flush` is asynchronous in Milvus, `flush` will return all sealed segments and you may need waiting for these segment state to be `flushed`.

[2021-07-08 02:07] #6034 closed

[2021-07-08 02:09] yanliang567 commented on #6220
/assign @del-zhenwu

[2021-07-08 02:09] DragonDriver commented on #6270
Yeah, when `flush` is done, I mean, all sealed segments are flushed, I think data coordinator should return the actual row count? However, just after `insert` was done, because `insert` is also asynchronous in Milvus, data nodes do not consume the insert message, so the row count is not accurate.

[2021-07-08 02:10] del-zhenwu commented on #5673
exactly, the error msg need to update.

[2021-07-08 02:10] #6220 closed

[2021-07-08 02:35] sunby commented on #6287
If DataNode restarts frequently, there will be many PUT events sent by etcd watcher and DELETE events will be sent after ttl (default 10 seconds). And once we receive a PUT event we will init our client which will failed because of the crash of DataNode. So it will block until initing failed. I open a channel to receive events and divide these events to DataNode client in a goroutine. Once we rece

[2021-07-08 02:36] del-zhenwu commented on #5053
test yaml:
[code]

[2021-07-08 02:39] XuanYang-cn commented on #6347
In my computer(one machine), I tried

- 1 proxy
- 2 datanode, indexnode, querynode

The testcase passed. I can't reproduce this problem.

### I'll try 2 proxy next.
(It's a little trick to start 2 proxy in one machine though.)

[2021-07-08 02:44] XuanYang-cn commented on #6347
I tried 2 proxy, still cannot reproduce it.

[2021-07-08 02:45] XuanYang-cn commented on #6347
/unassign
/assign @binbinlv  Need logs

[2021-07-08 02:45] XuanYang-cn commented on #6347
/assign @binbinlv

[2021-07-08 02:46] XuanYang-cn commented on #6347
/unassign @xiaocai2333

[2021-07-08 02:51] XuanYang-cn opened #6357 "DataNode unittest coverage to 80%"

[2021-07-08 02:54] godchen0212 commented on #6350
@neza2017 @czs007 @xige-16 @xiaofan-luan @scsven @sunby

[2021-07-08 03:12] binbinlv commented on #6259
Verified and now it reports "Field   doesn't exist in schema". Maybe it is a little confused, field in scheme actually exists, just search here lacks of "Field" parameters. I think if it reports  sth like "Field   doesn't exist " may be better.

...
pymilvus.client.exceptions.ParamError: Field   doesn't exist in schema

[2021-07-08 03:21] binbinlv commented on #6259
But the issue @ThreadDao commented still exists.

But it is about query issue, maybe it needs another issue to record them? Or just could fix through this issue either?

@DragonDriver

[2021-07-08 03:28] peixin-lin opened #6360 "Drop an existing collection without knowing the schema"
I am new to Milvus.
This is the problem I am dealing with :
Some collection was created and the schema used for the collection was not recorded and I no longer need the collection but I am unable to drop it.
According to what I have learned from the documentations, I can :
* list all the existing connections use utility.list_connections() but I cannot see the schemas
* use Collection.schema but I

[2021-07-08 03:28] DragonDriver opened #6361 "Unittest coverage to 80% in proxy"
**Please state your issue using the following template and, most importantly, in English.**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. E.g. I wish I could use Milvus to do [...]

**Describe the solution you'd like**
Increase the unittest coverage of proxy to `80%`.

**Describe alternatives you've considered**
A clear

[2021-07-08 03:29] DragonDriver commented on #6361
/assign

[2021-07-08 03:32] nameczz commented on #6270
@DragonDriver  I tried flush collection again, it's working now! Thanks

[2021-07-08 03:32] #6270 closed

[2021-07-08 03:33] DragonDriver opened #6362 "Refactor proxy, improve the code quality"
**Please state your issue using the following template and, most importantly, in English.**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. E.g. I wish I could use Milvus to do [...]

**Describe the solution you'd like**
Refactor proxy, improve the code quality.

**Describe alternatives you've considered**
A clear and conc

[2021-07-08 03:33] DragonDriver commented on #6362
/assign
/kind enhancement

[2021-07-08 03:35] XuanYang-cn commented on #6357
/kind enhancement

[2021-07-08 03:36] xige-16 commented on #6325
did you run tests20/python_client/testcases/test_search.py with only one progress? @binbinlv

[2021-07-08 03:37] DragonDriver commented on #6331
/assign

[2021-07-08 03:40] del-zhenwu opened #6363 "Start the second milvus cluster failed with the given etcd/minio, which is used by the first milvus server"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
**Steps/Code to reproduce behavior**
Start the second milvus cluster version failed with the existed etcd/minio, which is used by the first milvus server

**Expected behavior**
A clear and concise description of what you expected to happen.

**Method of installation**
- [ ] Dock

[2021-07-08 03:41] del-zhenwu commented on #6363
/kind bug

[2021-07-08 03:47] godchen0212 commented on #6236
@yanliang567 #6350 is a new feature to solve this problem.

[2021-07-08 03:51] JackLCL commented on #6275
Here are my test steps:
1. Run milvus2.0 cluster by helm using 8 query nodes
2. insert 100w 768d data to  the default partition, and insert 100w 768d data to the example_partition, total 200w data.
3. create index
4. load()
5. search()
6. reduce the number of query nodes to 1
7. release()
8. load()
9. search()
When I search after reduce query node to 1, milvus server hang.

[2021-07-08 03:52] binbinlv commented on #6325
Yes, both one/multiple processes

[2021-07-08 03:56] binbinlv commented on #6347
Rerun this on the same configuration (both in the same pymilvus/orm version and latest), can not reproduce after several times running (one/multiple process).

The latest build and pymilvus/orm is OK.
commit: 3387b07

Close it first, will reopen it if it occurs again in the future.

[2021-07-08 03:56] #6347 closed

[2021-07-08 04:13] del-zhenwu opened #6364 "Insert throughput with three proxynodes has no improvement compared with one proxynode cluster"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
cluster with one datanode:
[code]
cluster with three datanodes:
[code]

**Steps/Code to reproduce behavior**
client: 100
insert batch length: 1
client test yaml:
[code]
server yaml:
[code]
**Expected behavior**
A clear and concise description of what you expected to happen.

**Method o

[2021-07-08 04:14] del-zhenwu commented on #6364
/kind improvement

[2021-07-08 05:17] xiaofan-luan commented on #6060
we already

Great to know that you are using Milvus and it works well. We are planing on how to do upsert and it seems to be a tough issue.  Current plan is to add an optional distributed keyvalue system to support deduplication, anyone has  elegant solution please give us some advice

[2021-07-08 05:21] xiaofan-luan commented on #6364
you may want to increase proxy number and sdk number to increate write throughput. As long as timeticker catches up, increase datanode number won't help on ingestion rate.

[2021-07-08 05:22] xiaofan-luan commented on #6363
Don't think this is a bug. you need to change etcd/minio/pulsar path otherwise you cant start 2 milvus clusters

[2021-07-08 05:24] xiaofan-luan commented on #6362
why we want to do the refactoring? what part of the code will be affected? you really need unit test before you do refactoring, otherwise you may mess up things. #6361 is probably good start before you do the refactoring

[2021-07-08 06:07] neza2017 opened #6365 "MEP-Template"
MEP(Milvus Enhancement Proposals) is reqiured for any new feature

[2021-07-08 06:11] scsven commented on #6360
/help

[2021-07-08 06:12] scsven commented on #6352
/assign
/unassign @xige-16

[2021-07-08 06:13] scsven commented on #6355
/kind support

[2021-07-08 06:15] scsven commented on #6353
/kind support

[2021-07-08 06:16] scsven commented on #6336
/kind support

[2021-07-08 06:16] scsven commented on #6332
/kind support

[2021-07-08 06:17] scsven commented on #6331
/kind feature

[2021-07-08 06:18] scsven commented on #6329
/kind support

[2021-07-08 06:19] scsven commented on #6307
/kind support

[2021-07-08 06:19] scsven commented on #6297
/kind support

[2021-07-08 06:20] scsven commented on #6277
/kind feature
/area api

[2021-07-08 06:21] scsven commented on #6275
/kind support

[2021-07-08 06:22] scsven commented on #6166
/help

[2021-07-08 06:23] scsven commented on #6141
/kind support

[2021-07-08 06:23] scsven commented on #6088
/kind support

[2021-07-08 06:24] scsven commented on #5955
/kind improvement

[2021-07-08 06:24] shanghaikid opened #6367 "Need API to get milvus configuration"
User would like to see milvus configuration on GUI. so there should be an API or proto file, so that we can check milvus configuration.

[2021-07-08 06:28] bigsheeper opened #6368 "Query result should get global sealed segments info from ETCD"
**Please state your issue using the following template and, most importantly, in English.**
Query result should get global sealed segments info from ETCD.

**Is your feature request related to a problem? Please describe.**
A query operation on a Milvus cluster with miltiple query nodes may return incorrect result.

**Describe the solution you'd like**
Get correct global sealed segments info.

[2021-07-08 06:38] czs007 commented on #6345
I'm working on it. @ThreadDao

[2021-07-08 06:42] DragonDriver commented on #6360
Get the collection object by name and then call collection.drop()?

/assign @xiaocai2333
/assign @czs007

example:

[code]

[2021-07-08 06:51] del-zhenwu commented on #6363
Minio bucket name has changed used by cluster-2, so it's different, and pulsar is independent instance for each cluster, the etcd is shared by the two clusters
This feature is supported in milvus-1.0 if using mysql as meta storage backend, multi milvus instances can connect the same mysql in the parallel testing.
This serious is used in search performance testing, with the large scale dataset, and

[2021-07-08 06:58] czs007 opened #6370 "Search stuck problem caused by wrong Load synchronization semantics"
Imagine that the SDK has the following usage scenarios, and each step is a synchronous operation：
step1	Insert()
step2	Flush()
step3	LoadCollection()
step4	Search()

After step3 is finished, the SDK thinks that all data has been loaded into the memory, which is indeed the case.

However, the synchronization semantics of the current load operation is that the number of flush segment rows is the sam

[2021-07-08 07:05] czs007 commented on #6345
The cause of the error has been found, the following check code should be removed:

internal/indexcoord/index_coord.go
func(i *IndexCoord) BuildIndex(ctx context.Context, req *indexpb.BuildIndexRequest ...)

	if i.nodeClients == nil || i.nodeClients.Len() <= 0 {
		ret.Status.Reason = "IndexBuilding Service not available"
		return ret, nil
	}
	t.nodeClients = i.nodeClients

[2021-07-08 07:35] czs007 commented on #6352
@scsven  Please assign issue back to the author.

[2021-07-08 07:36] czs007 commented on #5674
I'm working on it

[2021-07-08 07:40] del-zhenwu opened #6374 "Load collection failed caused by DeadlineExceeded"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Both standalone and cluster version

[code]

logs:

https://kibana-dev.zilliz.cc/app/discover#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'2021-07-08T02:23:40.862Z',to:now))&_a=(columns:!(log),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:ad1

[2021-07-08 07:48] czs007 commented on #5674
please refer to #5978

[2021-07-08 07:55] thereisck opened #6375 "quey slowly"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
A clear and concise description of what the bug is.

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more qu

[2021-07-08 09:13] del-zhenwu commented on #6364
If insert and flush in each coroutine instead of only do insert, in this way the total throughput will be a large value as expected?

[2021-07-08 09:23] #6365 closed

[2021-07-08 09:35] yyfrankyy commented on #6294
nope, I just do `make all` in the root directory, I'm not sure if OS's arch affected this.

[2021-07-08 09:37] scsven commented on #6352
@czs007 Not fixed yet. Need publish a new pymilvus-orm and update the requirments.txt in milvus......

[2021-07-08 09:44] Wenorm opened #6379 "Can id be customized?"
Can the id in the returned result be specified when inserting data?

[2021-07-08 09:51] neza2017 commented on #6321
this test case works, but it's extreme slow, the `proxy` log show that `client` call `HasPartition` thousands of times after this partition created.

/assign @czs007

part of `proxy log`
[code]

[2021-07-08 10:17] del-zhenwu opened #6382 "Flush performance with 1 entity"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
avg response time: 2834ms

[code]
**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

**Expected

[2021-07-08 10:17] del-zhenwu commented on #6382
/kind improvement

[2021-07-08 10:40] peixin-lin opened #6383 "Delete entity by ID in v2.0.0"
There is a delete_entity_by_id method in previous versions but I didn't see the equivalent in v2.0.0.
Is this feature no longer supported in the future?
Does it mean I have to use v1.x.x if this feature is necessary for me?

[2021-07-08 10:45] xiaofan-luan commented on #6383
we are actively working on this issue. Design doc should be ready by the end of next week, if get lucky milvus 2.0.0 release would support delete by id

[2021-07-08 11:01] xiaofan-luan commented on #6355
@filip-halt did you ever try to add a new client? by the way, each index job can be run only on one index node, you need to trigger multiple task to enable parallel

[2021-07-08 11:02] xiaofan-luan commented on #6355
also, would you mind contribute a document about how to deploy Milvus by ansible?

[2021-07-08 11:05] xiaofan-luan commented on #6367
emm, can we do this from k8s side? @zwd1208

[2021-07-08 11:06] xiaofan-luan commented on #6375
@thereisck could you please offer more information? what is the dataset, what you query you are running? what milvus version? how do you define slow? otherwise we can't do anything

[2021-07-08 11:07] aquibjaved opened #6384 "Search (collection.search) is not working from saved collection"
**I am trying to use the saved `collection` for doing a search but `collection.search()`stuck and not responding.**

**Description**
I have created a collection named `sentence_only_vector` I have created two field schema

1. id_field : where `is_primary=True` and `auto_id=False`
2. embedding: where my embedding created using distilbert model separately, with `dims=768` in total I have ~ 11 000 ve

[2021-07-08 11:09] xiaofan-luan commented on #6363
we will need to change etcd path to do so. Does root path of etcd configurable right now?

[2021-07-08 11:11] xiaofan-luan commented on #6384
thanks for the detailed input, /assign @xige-16 please take a look

[2021-07-08 11:12] xiaofan-luan commented on #6384
/assign @xige-16

[2021-07-08 11:13] czs007 commented on #6321
tests20/python_client/util/api_request.py

@api_request_catch()
def api_request(_list, **kwargs):
    if isinstance(_list, list):
        func = _list[0]
        if callable(func):
            arg = []
            if len(_list) > 1:
                for a in _list[1:]:
                    arg.append(a)
            log_arg = str(arg)[0:log_row_length] + '......' if len(str(arg)) > log_row_length els

[2021-07-08 11:14] xiaofan-luan commented on #6379
yes you can have your own id. but you have to make sure it is not duplicate

[2021-07-08 11:18] sunby commented on #6363
Please change the `etcd.rootPath` in milvus.yaml and retry.

[2021-07-08 11:26] godchen0212 opened #6385 "Download file from minio to local storage"
**Please state your issue using the following template and, most importantly, in English.**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. E.g. I wish I could use Milvus to do [...]
I wish minio kv can have methods to download files from minio to local storage.
This is a sub issue of getEntityByID

**Describe the solution

[2021-07-08 11:31] yanliang567 commented on #6321
@czs007 nice !

[2021-07-08 11:41] binbinlv opened #6387 "query hangs under multiple replicas"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
query hangs under two proxy replicas (proxy: 2, datanode: 2, querynode:2, indexnode:2)

It is good under the following configuration:
(proxy: 1, datanode: 2, querynode:2, indexnode:2)

**Steps/Code to reproduce behavior**
1 configure multiple replicas environment:
 (proxy: 2, datanode:

[2021-07-08 11:50] shanghaikid commented on #6379
what happened if I insert data with duplicated id?

[2021-07-08 12:12] czs007 commented on #6387
Looks similar to this #6323

How did you configure two proxy？

[2021-07-08 12:25] binbinlv commented on #6387
@czs007 OK， I will retry.

You mean how to configure two proxy or why I configure two proxy?

If how to configure:  helm install ...
--set proxy.replicas=2 \

[2021-07-08 12:29] yanliang567 opened #6389 "Fail to query if the collection schema is set auto_id=true"
**Describe the bug**
Fail to query if the collection schema is set auto_id=true

**Steps/Code to reproduce behavior**
dim = 128
auto_id = FieldSchema(name="auto_id", dtype=DataType.INT64, is_primary=True, description="auto primary id")
age_field = FieldSchema(name="age", dtype=DataType.INT64, description="age")
embedding_field = FieldSchema(name="embedding", dtype=DataType.FLOAT_VECTOR, dim=dim)
s

[2021-07-08 12:39] xige-16 commented on #6384
Restarting pulsar docker may cause this problem. We are looking for a solution to the issue. You can try not to restart the pulsar service first. @aquibjaved

[2021-07-08 12:51] binbinlv commented on #6387
Verified and fixed.

milvus master :6b4b71b

[2021-07-08 12:51] #6387 closed

[2021-07-08 13:01] aquibjaved commented on #6384
@xige-16
I guess I am misunderstood, do you mean after indexing not to stop the docker services. if this is the case, yes it was working.
but once I shutdown and restart the services it's not working

[2021-07-08 14:49] xiaofan-luan commented on #6385
we'll need a better abstract level for this. hopefully user should not care whether file is get from disk or local disk

[2021-07-08 14:49] xiaofan-luan commented on #6379
the later one would overwrite the former one

[2021-07-08 16:25] filip-halt commented on #6355
@xiaofan-luan The thing is that when I ran 1 index job with multiple index nodes that were created on cluster bootup it all worked correctly with each node doing work.

[2021-07-08 18:28] filip-halt commented on #6364
There are further issues when running a cluster with 2 proxy nodes and 2 data nodes. Inserting through both proxies causes the datacoord to hang, resulting in the client insert call to hang. After canceling the insert and trying it again, none of the requests make it to/through the datacoord.

Data node log:
[code]

Datacoord node log:
[code]

[2021-07-09 00:48] filip-halt opened #6395 "Coordinator fails to reconnect to etcd after restart"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
After restarting the coordinators and their workers, the query coordinator fail to reconnect to etcd, causing an unhealthily system as the proxy waits for it.

**Steps/Code to reproduce behavior**
Does not seem to happen every time but the steps that I took to have it occur are as foll

[2021-07-09 01:23] xige-16 commented on #6384
Is your deployment method stand-alone or cluster?

[2021-07-09 01:31] shanghaikid commented on #6379
There is no API reference mentioned `autoID`,

https://milvus.io/api-reference/pymilvus-orm/v2.0.0rc1/api/collection.html

[2021-07-09 01:31] yanliang567 commented on #6360
@DragonDriver @peixin-lin  code sample above works.
/unassign @scsven
/unassign @czs007
/assign @peixin-lin

[2021-07-09 01:31] yanliang567 commented on #6360
/unassign @xiaocai2333

[2021-07-09 01:32] yanliang567 commented on #6375
/assign @thereisck

[2021-07-09 01:35] xige-16 commented on #5053
/assign

[2021-07-09 01:35] xige-16 commented on #5053
/assign @bigsheeper

[2021-07-09 01:37] xige-16 commented on #6395
/assign

[2021-07-09 02:00] DragonDriver opened #6396 "Log should be written to file when deploy milvus with docker"
**Please state your issue using the following template and, most importantly, in English.**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. E.g. I wish I could use Milvus to do [...]

**Describe the solution you'd like**
When deploying standalone milvus with docker, the log of milvus was written into `stdout`, it's not con

[2021-07-09 02:00] DragonDriver commented on #6396
/kind feature

[2021-07-09 02:07] shanghaikid commented on #6396
I think we should have a config setting on/off to control this.

[2021-07-09 02:13] czs007 commented on #6321
https://github.com/milvus-io/pymilvus-orm/pull/248
Already fixed, please pull latest pymilvus-orm and retry.
@binbinlv

[2021-07-09 02:15] DragonDriver commented on #6396
I think so, log is written to file by default, and you can choose to specific the log file path or not to write log to file.

[2021-07-09 02:32] scsven commented on #6211
/assign @xiaofan-luan
/unassign @scsven

[2021-07-09 02:39] aquibjaved commented on #6384
It's stand-alone

[2021-07-09 02:40] scsven commented on #6383
/kind feature

[2021-07-09 02:45] del-zhenwu commented on #6364
The issues mentioned above maybe duplicated with this one:https://github.com/milvus-io/milvus/issues/6323, or  ?

[2021-07-09 02:51] scsven commented on #5375
@yanliang567 Does this issue still exist?

[2021-07-09 02:51] godchen0212 commented on #6385
I think there should be an additional abstraction about file reading and writing that is different from the current kv interface. Kv storage and file storage should be two different concepts. I prefer to put file storage interface under the storage package. Now the contents of the storage package are more like serialization and deserialization. @xiaofan-luan

[2021-07-09 02:51] scsven commented on #5163
already implemented

[2021-07-09 02:51] #5163 closed

[2021-07-09 02:52] #5064 closed

[2021-07-09 02:52] scsven commented on #5144
/assign @xiaofan-luan
/unassign

[2021-07-09 02:56] scsven commented on #6352
Now, this issue should be fixed, please check.

/unassign @scsven
/assign @ThreadDao

[2021-07-09 03:04] xige-16 commented on #6384
did you set the volume configuration for the minio container in docker compose file, Otherwise you may lose index data after restart docker service.

[2021-07-09 03:09] xige-16 commented on #6384
I can't reproduce the issue, could you provice the log info which can be collected by command docker logs milvus-standalone's container ID, like "docker logs 500adaeb919a"

[2021-07-09 03:10] xige-16 commented on #6384
@aquibjaved

[2021-07-09 03:15] yan-rui opened #6397 "Can not connect to gRPC port periodically"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**

Can not connect to gRPC port but http port healthy.
There is no error in milvus-21-07-01-15:29-error.log and milvus-21-07-01-15:29-trace.log

![image](https://user-images.githubusercontent.com/51695497/125017662-3008ad00-e0a6-11eb-9bd2-e3bc6b185b97.png)

**Steps/Code to reproduce beha

[2021-07-09 03:15] shanghaikid commented on #6396
I think by default, it should be written to stdout.

[2021-07-09 03:21] #5375 closed

[2021-07-09 03:27] binbinlv commented on #6321
Verified, if still keep "log.debug("(api_request) : [%s] args: %s, kwargs: %s" % (func.qualname, log_arg, str(kwargs)))", this case needs about more than 8 minutes (0:08:22)

If remove this debug line, then it only needs about 1 minutes (0:01:14).

Here still needs improve I think.

[2021-07-09 03:34] yan-rui commented on #6151
I want Search In vectorSet/IdSet like
searchInIdSet(collection_name, id, idSet)
searchInVectorSet(collection_name, vector, vectorSet)
searchInIdSet(collection_name, vector, idSet)
searchInVectorSet(collection_name, id, vectorSet)

In my case, I want to search topk ids from specific Id set which online.

[2021-07-09 03:40] czs007 commented on #6321
It is not easy to optimize. Currently, there is no cache for the Partition object of the Collection.  Therefore, list_partitions will be triggered every time partitions are called. If the cache is used, every time there is an update operation, it has to set lock and clean cache. Not sure if this is faster.

[2021-07-09 03:40] shanghaikid opened #6399 "Need to get internal search time from API"
As a user, I would like to know how much time does milvus take to do a vector search, for example, 50ms.

Don't know how other database does this, in database or in SDK level?

[2021-07-09 04:05] yanliang567 commented on #6389
typo in expr....not a issue.

[2021-07-09 04:05] #6389 closed

[2021-07-09 04:12] del-zhenwu commented on #6364
maybe duplicated with #6323

[2021-07-09 04:13] del-zhenwu commented on #6364
It seems no improvement if 3 proxy node deployed:
[code]

[2021-07-09 04:54] congqixia commented on #5673
Error message has been updated by #5978
Actually, get index building progress from empty collection duplicates collection without indexes (#5974)
Please modify the test case(add index on empty collection then get index building progress) or remove the duplicated case.
/unassign
/assign @del-zhenwu

[2021-07-09 06:06] xuqinkun opened #6401 "Stuck in collection.load()"
**Describe the bug**
I modified the function fvec_L2sqr_avx in distances_simd_avx.cpp, and rebuild the source code. After replacing the lib directory in the docker mirror. The test code always stuck in the ollection.load().

![image](https://user-images.githubusercontent.com/19572081/125031004-93063e00-e0be-11eb-8e25-d7c2bc4aa389.png)

Function fvec_L2sqr_avx change to:
float fvec_L2sqr_avx (const

[2021-07-09 06:15] yanliang567 commented on #6379
@shanghaikid  auto_id is a property of CollectionSchema, please check the link below:
https://milvus.io/api-reference/pymilvus-orm/v2.0.0rc1/api/schema.html#pymilvus_orm.CollectionSchema

[2021-07-09 06:21] yanliang567 commented on #6379
/assign @Wenorm
specify auto_id=False in CollectionSchema, would enable you input your own ids:
`dim = 128`
`id_field = FieldSchema(name="cus_id", dtype=DataType.INT64, is_primary=True, description="customized primary id")`
`age_field = FieldSchema(name="age", dtype=DataType.INT64, description="age")`
`embedding_field = FieldSchema(name="embedding", dtype=DataType.FLOAT_VECTOR, dim=dim)`
`schema =

[2021-07-09 06:30] binbinlv commented on #6259
@ThreadDao query cases reported in your comments have been fixed by (#6344), you may enable them now in the test case.

Name: pymilvus
Version: 2.0.0rc2.dev11
Name: pymilvus-orm
Version: 2.0.0rc2.dev29

[2021-07-09 06:30] #6259 closed

[2021-07-09 06:33] DragonDriver opened #6403 "The field data in search result contained empty target entry occasionally"
**Please state your issue using the following template and, most importantly, in English.**

When searching a collection with `output_fields`, query nodes return empty target entry occasionally.

[2021-07-09 06:34] fishpenguin commented on #6294
This is a bug that we have fixed right now, in some environment, the lib may be compiled as lib64.
You can pull the latest master branch code, and this bug won't appear.

[2021-07-09 06:40] shanghaikid commented on #6403
I think if user executes search without `output_fields`, milvus should return data with all fields.

it's kind weird in a program that you get nothing without `output_fields`.

[2021-07-09 06:48] DragonDriver commented on #6403
we can get the primary keys if we search without `output_fields`

[2021-07-09 06:56] DragonDriver commented on #6403
/kind bug
/assign @DragonDriver
/assign @fishpenguin

[2021-07-09 07:07] shanghaikid commented on #6403
I think as an application developer, `select *` is the default mind set. if you add `output_fields`, that means a filter applied.   @xiaofan-luan what do you think?

and still, there is no document that I can find about the `output_fields`.

[2021-07-09 07:19] xiaofan-luan commented on #6151
We are going to support search by id. Any idea about searchInIdSet and searchInVector is a must? can you list your situation?

[2021-07-09 07:20] xiaofan-luan commented on #6397
/assign @yhmo seems to be a 1.1 issue

[2021-07-09 07:21] xiaofan-luan commented on #6401
did you meet the same issue if you deploy the code directly?

[2021-07-09 07:23] xiaofan-luan commented on #6399
we won't support it from API or SDK, user can measure per request from client side.
But we should have metrics to visualize search average latency, 99 latency, 99.9 latency and max latency.
@czs007 do we have these changes?

[2021-07-09 07:23] xiaofan-luan commented on #6399
@czs007

[2021-07-09 07:24] xiaofan-luan commented on #6399
/assign @czs007

[2021-07-09 07:24] Bennu-Li opened #6406 "Data insertion failure"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
version: milvus2.0 standalone
data: 6881 vectors of 16951 dimensions.

I inserted all the data at once and found the following problem:

2021-07-09 14:53:53,530 ｜ ERROR ｜ grpc_handler.py ｜ handler ｜ 71 ｜
Addr [192.168.1.85:19538] bulk_insert
RPC error: <_MultiThreadedRendezvous of RPC

[2021-07-09 07:24] xiaofan-luan commented on #6385
ok, make sense to me

[2021-07-09 07:27] #5673 closed

[2021-07-09 07:27] #5674 closed

[2021-07-09 07:28] del-zhenwu commented on #6323
still re-pro with 3 proxy

[2021-07-09 07:29] Bennu-Li commented on #6406
There is the script that i use to tested:
https://github.com/milvus-io/bootcamp/tree/master/benchmark_test/scripts

The data that I use is randomly generated using numpy.

[2021-07-09 07:31] yan-rui commented on #6151
In my situation,  recommend system must return online items. Users cant talk with offline people.

[2021-07-09 07:35] xiaofan-luan commented on #6151
if you put all users in one collection and one items in another collection,  you should be able to use uids to query vectors from one collection set, and retrieve similar items from another collection, is that what you need?

[2021-07-09 07:35] aquibjaved commented on #6384
Hello @xige-16
sorry for the late response,
[code]

[2021-07-09 07:43] neza2017 commented on #6406
the proxy log show it's caused by `Timeout`, but the `len(RowData)` is `zero`
[code]

[2021-07-09 07:44] scsven commented on #6375
/kind support

[2021-07-09 07:45] scsven commented on #6406
/kind support

[2021-07-09 07:48] xuqinkun commented on #6401
No, it's normal before I replace the libs

[2021-07-09 07:52] binbinlv commented on #6374
This issue may be the same with #6325

[2021-07-09 07:54] xiaofan-luan commented on #6406
@scsven we need better exception info on this

[2021-07-09 07:54] xiaofan-luan commented on #6406
/assign @scsven

[2021-07-09 08:00] xiaofan-luan commented on #6403
agree we need clear definition about output fields.

the behavior empty output_fields make sense to me, otherwise we don't have the way to return only ids(which maybe a useful case if user only want id to query redis/mysql). However, we should have a wildcard matching strategy in output fields such as  "*".

Another way to express this is using "" and nil, "" means you want nothing else rather tha

[2021-07-09 08:00] xiaofan-luan commented on #6403
@czs007 @DragonDriver

[2021-07-09 08:00] binbinlv commented on #6325
When running test cases under multiple replicas, it occurs again. (proxy: 1, querynode:2, indexnode:2, datanode:2)

Even if it will not occur each time, but when continuously running test cases, it occurs at high probability.

[2021-07-09 07:40:43,528 - ERROR - ci_test]: (api_response) : <BaseException: (code=1, message=call query coordinator LoadCollection: rpc error: code = DeadlineExceeded desc

[2021-07-09 08:01] xiaofan-luan commented on #6403
let's discuss this in a seperate issue.

[2021-07-09 08:06] bigsheeper commented on #5053
hard to reproduce

[2021-07-09 08:13] yan-rui commented on #6151
In my recommend system(rs), items also are users. They are in one vector space.
My situation:
I trained all user's vectors saved into milvus.
User A query our rs, meanwhile user B,C,D are online, E is offline. RS must search in [B, C, D]. If I search in whole collection, I may get result include E, which I dont need.
In social networking software, when a user open a page named  "The people you may

[2021-07-09 08:17] HuixiangLin commented on #6315
@yhmo I switch the version of cuda to 11.1, compiled successful but occured same error when searching by gpu.
As the sam time, i tried to search `no kernel image is available for execution on the device` by  google and found #621.  I add `-gencode=arch=compute_86,code=sm_86` to the file named ThirdPartyPackagesCore.cmake at ~/milvus/core/src/index/cmake. But it occurs errors on the phrase of compi

[2021-07-09 08:19] czs007 commented on #6287
@sunby  ci not passed

[2021-07-09 08:19] neza2017 opened #6408 "Failed to return raw vectors"
when search return, milvus 2.0 seems to skip vector field, neither float vector nor binary vector

**Method of installation**
- [ ] Docker/cpu
- [ ] Docker/gpu
- [x] Build from source

[2021-07-09 08:21] xiaofan-luan commented on #6408
good catch, we need a Milvus enhance plan to improve that

[2021-07-09 08:25] xuqinkun commented on #6401
![image](https://user-images.githubusercontent.com/19572081/125048097-28f79400-e0d2-11eb-8e03-29f5c1387502.png)

Directory lib is the replaced lib. How can I debug the new function or generate a coredump

[2021-07-09 08:28] aquibjaved commented on #6384
Here's my docker resource configuration,
the issue I am getting is only after restarting the server,

![Screenshot 2021-07-09 at 10 25 57 AM](https://user-images.githubusercontent.com/14982079/125048312-12384980-e0a0-11eb-95dc-621f7589f531.png)

I am going to replicate this with half of the data (~6000 vectors [6000x768]),
not sure if this is a space issue or something

[2021-07-09 08:29] jeffoverflow opened #6410 "Run unittest failed on CentOS builder container"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Run unittest failed on CentOS builder container.

**Steps/Code to reproduce behavior**
![image](https://user-images.githubusercontent.com/24581746/125048685-c18e1400-e0d2-11eb-8e87-12338c0292ae.png)

**Environment details**

- OS: Mac (docker container)
- CPU: 2.3 GHz Quad-Core Intel C

[2021-07-09 08:32] binbinlv commented on #6321
OK， and this case will not hangs for hours after fix. So close this issue, and open a new issue to address the new point needed to be improved as last comment.

[2021-07-09 08:32] #6321 closed

[2021-07-09 08:32] xiaofan-luan commented on #6401
@cydrain we need a guide on how to develop and run unit test, would you mind help on this?

[2021-07-09 08:33] xiaofan-luan commented on #6401
/assign @cydrain

[2021-07-09 08:41] xuqinkun commented on #6401
You can clone my code: https://github.com/xuqinkun/milvus, and just compile the internal/core

[2021-07-09 08:41] scsven commented on #6406
@xiaofan-luan It's a grpc.RpcError raising, now it's raised directly because we cannot give more info. I think it's the best way to let users know that some error of the network happened. Do you have some suggestions?

[2021-07-09 08:42] scsven commented on #6406
@Bennu-Li Could you provide the version of pymilvus and pymilvus-orm?

[2021-07-09 08:44] xiaofan-luan commented on #6406
yeh, that's why we need to do precheck in pymilvus SDK? from the exception it really looks like a timeout

[2021-07-09 08:52] xiaofan-luan commented on #6151
understand，you actually need a separate scalar to illustrate online and offline .  Once Milvus support update this is doable, you can simply update the user's state from 0->1 and 1->0

[2021-07-09 08:53] xige-16 commented on #5053
we can't reproduce the issue, please provide the querynode's log file after fail or crash. @del-zhenwu @yanliang567

[2021-07-09 08:57] xiaofan-luan opened #6411 "Support wildcard match on search/query output field"
**Please state your issue using the following template and, most importantly, in English.**
Search and query has to specify output field, it not currently it only returns ids.

**Is your feature request related to a problem? Please describe.**
I wish Milvus could support * in output field and retrieve all the field including the vector field.

**Describe the solution you'd like**
add * support in

[2021-07-09 08:58] xiaofan-luan commented on #6411
@shanghaikid @DragonDriver @czs007
how do you think this proposal.

[2021-07-09 09:05] binbinlv opened #6412 "Creating partitions slowly when logging interface arguments for debug if a collection object is used"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**

Creating partitions slowly when logging interface arguments for debug if a Collection object is used

The detailed root cause and discussion are in issue #6321.

**Steps/Code to reproduce behavior**
Running test case:
tests20/python_client/testcases/test_partition.py::TestPartitionOpe

[2021-07-09 09:08] del-zhenwu opened #6413 "Improve CPU usage during indexing"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
![Kubernetes-Compute-Resources-Pod-Grafana (3)](https://user-images.githubusercontent.com/56623710/125053642-f355a980-e0d7-11eb-995c-5a79a87fa50b.png)

The CPU usage is slowly increasing from 08:55-09:00, is not expected compared with milvus-1.0, which will use the full CPU after segme

[2021-07-09 09:08] ThreadDao opened #6414 "When expanding the queryNode pod, other pods terminate and restart"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
1. Before expanding queryNode pod:
[code]
2. During expanding queryNode pod:
[code]
[code]
3. After expanding, the queryNode number is correct, but other pods also restart
[code]

**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/mi

[2021-07-09 09:12] del-zhenwu opened #6415 "Only one query node used in searching if 3 querynode replicas deployed"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Only one query node used in searching if deployed 3 querynode replicas, the test client generates 100-user concurrent search request during this testing.

![Kubernetes-Compute-Resources-Pod-Grafana (2)](https://user-images.githubusercontent.com/56623710/125054277-a0302680-e0d8-11eb-875

[2021-07-09 09:13] czs007 commented on #6406
I noticed that in your screenshot, the service port is 19538. Is it deliberately set? @Bennu-Li

[2021-07-09 09:18] xiaofan-luan commented on #6411
/assign @DragonDriver

[2021-07-09 09:20] del-zhenwu opened #6417 "Search timeout if installed with 3 querynodes"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Some requests get "Deadline Exceeded" during searching with locust, 100-users generated.

[code]

[code]
**Steps/Code to reproduce behavior**
https://argo-test.zilliz.cc/workflows/qa/benchmark-dm9h7?tab=workflow&nodeId=benchmark-dm9h7-2239452402&sidePanel=logs:benchmark-dm9h7-223945240

[2021-07-09 09:22] xige-16 commented on #6415
could you provide all the log file of the three query node? @del-zhenwu

[2021-07-09 09:27] yhmo commented on #6315
@HuixiangLin
Did you create a new/clean container to do the steps?

[2021-07-09 09:32] del-zhenwu commented on #6415
log uri uploaded.

[2021-07-09 09:47] czs007 commented on #6323
I'm working on it.

[2021-07-09 09:55] DragonDriver opened #6418 "Check if field data is empty"
**Please state your issue using the following template and, most importantly, in English.**

Check if field data is empty to avoid proxy crashed. Because query nodes return empty target entry occassionally, so the related field data may be nil.

fast fail when output_fields contain fields that are not in schema.

[2021-07-09 10:02] nameczz opened #6419 "Call grpc Insert api with empty vector value like [] will cause milvus crash"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Call grpc Insert api with empty vector value like [] will cause milvus crash

**Steps/Code to reproduce behavior**
1. connect grpc client
2. create collection
3. insert with empty vector value like [] and other fields has correct data.
4. milvus crash
**Expected behavior**
Not crash, m

[2021-07-09 10:06] FluorineDog opened #6420 "Use int64_t instead of uint64_t for topk, num_queries"
[code]
Here should use int64_t

[2021-07-09 10:15] #6410 closed

[2021-07-09 10:22] xige-16 commented on #6415
[querynode7.log](https://github.com/milvus-io/milvus/files/6790606/querynode7.log)

[2021-07-09 10:28] xige-16 commented on #6415
the nodeIDs are 4, 7 ,8. there are only two segment when loadCollection, and assigned to node4 and node7, and  two dmChannels also are asisgned to node4 and node7, node7 connect etcd failed but keep alive， so there is only one querynode serving search.

[2021-07-09 10:29] xige-16 commented on #6415
@bigsheeper querynode shouldn't keep alive after connecting etcd.

[2021-07-09 10:31] xige-16 commented on #6415
/kind bug

[2021-07-09 10:33] DragonDriver opened #6421 "Split raw vectors to serveral smaller binlog files when create index"
Index Nodes are responsible for creating index and saving index files to storage. Some index can only be loaded with raw vectors(such as IVF_FLAT), Index Nodes must save these raw vectors to storage also, the key of these raw vectors is `RAW_DATA`, so query nodes can load index without other operations. However, when the raw vectors is too large, it will bring a big pressure to MinIO or S3. So we

[2021-07-09 10:33] DragonDriver commented on #6421
/kind feature
/assign

[2021-07-09 10:48] del-zhenwu opened #6422 "Improve insert tps on standalone version"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
The top tps: 50000+/-
and 70000+/- on milvus 1.0 version

[code]
dataset : sift-1m-128d

**Steps/Code to reproduce behavior**

**Expected behavior**
A clear and concise description of what you expected to happen.

**Method of installation**
- [ ] Docker/cpu
- [ ] Docker/gpu
- [ ] Build

[2021-07-09 12:11] HuixiangLin commented on #6315
No, i will create a new container, try again.

[2021-07-09 13:07] jeffoverflow opened #6423 "Run cpp unittest is hang in CentOS builder container"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
After running the cpp unit test, it does not exit properly

**Steps/Code to reproduce behavior**
![image](https://user-images.githubusercontent.com/24581746/125082305-a2ef4380-e0f9-11eb-8402-2fac64bc5d65.png)

![image](https://user-images.githubusercontent.com/24581746/125082249-936ffa

[2021-07-09 13:13] jeffoverflow opened #6424 "Run cpp unittest is hang in CentOS builder container"
**Describe the bug**
After running the cpp unit test, it does not exit properly

**Steps/Code to reproduce behavior**
![image](https://user-images.githubusercontent.com/24581746/125082305-a2ef4380-e0f9-11eb-8402-2fac64bc5d65.png)

![image](https://user-images.githubusercontent.com/24581746/125082249-936ffa80-e0f9-11eb-87c0-605dbee0bdee.png)

**Expected behavior**
I expect the cpp unittest to run s

[2021-07-09 13:13] #6423 closed

[2021-07-10 01:34] xiaofan-luan commented on #6422
one thing we can do is do split batches into 10000 entity per batch, thus it can fully run in parallel and improve the throughput

[2021-07-10 04:37] del-zhenwu opened #6426 "Server not healthy occasionally if started with 2 indexnode"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
querynode log:

https://kibana-dev.zilliz.cc/app/discover#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-5m,to:now))&_a=(columns:!(log),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:ad1e1c50-c9d9-11eb-9e1a-b3dcad9693fd,key:kubernetes.

[2021-07-10 04:37] del-zhenwu commented on #6426
/kind bug

[2021-07-10 05:16] del-zhenwu opened #6427 "The total memory usage during indexing deployed with 2 indexnodes is double size as the cpu usage deployed with one indexnode"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**

one indexnode:
![Kubernetes-Compute-Resources-Pod-Grafana (4)](https://user-images.githubusercontent.com/56623710/125152679-d32df500-e180-11eb-9fe0-bab26f2d44d3.png)

two indexnodes:
![Kubernetes-Compute-Resources-Pod-Grafana (6)](https://user-images.githubusercontent.com/56623710/125

[2021-07-10 07:08] del-zhenwu commented on #6205
https://kibana-dev.zilliz.cc/app/discover#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'2021-07-10T06:30:00.000Z',to:'2021-07-10T07:30:00.000Z'))&_a=(columns:!(log),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:ad1e1c50-c9d9-11eb-9e1a-b3dcad9693fd,key:kubernetes.pod_name,negate:!f,params:!(benchmark-ksq44-1-milvus-standalone-98d5f8d4b-r6tm4),type:phrases,

[2021-07-10 08:47] czs007 commented on #6323
Very strange, it is difficult to reproduce this bug on my machine.

[2021-07-10 09:30] del-zhenwu commented on #6323
maybe replicated with #6417

[2021-07-10 18:04] Wenorm opened #6428 "<BaseException: (code=1, message=CreateIndex failed, error = etcdserver: too many operations in txn request)>"
when i create a index for my data, and i get a error <BaseException: (code=1, message=CreateIndex failed, error = etcdserver: too many operations in txn request)>, what is it meaning? I have 100 million vector，and the dimension of vector is 768，ten partition，10 million per partition.

[2021-07-11 01:11] Wenorm commented on #6379
But I did an experiment, and the data of repeated id was not overwritten.
![image](https://user-images.githubusercontent.com/75149614/125180019-f65faf80-e227-11eb-9920-46a24375c32f.png)

[2021-07-11 02:14] xiaofan-luan commented on #6379
emm, good catch, the expected behavior is to merge all data with same id, but it looks like it is not implemented as expected.
Would mind offer you test case so we can fix the bug

[2021-07-11 02:14] xiaofan-luan commented on #6379
/king bug

[2021-07-11 02:16] xiaofan-luan commented on #6428
assign @xiaocai2333 any idea?

[2021-07-11 02:16] xiaofan-luan commented on #6428
/assign @xiaocai2333

[2021-07-11 02:58] Wenorm commented on #6379
This is the test code I used.
 @xiaofan-luan
`import random
from tqdm import tqdm
import math
from pymilvus_orm import connections, FieldSchema, CollectionSchema, DataType, Collection, list_collections,utility
import time

host='172.88.88.88'
port = '19530'
connections.add_connection(default={"host": host, "port": port})
connections.connect(alias='default')

dim = 768
description="test"
schema = C

[2021-07-11 05:18] czs007 commented on #6370
This is the test pipeline where the bug occurs
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-6333/3/pipeline/76/
@xige-16

[2021-07-11 05:40] czs007 opened #6429 "drop_partition failed for unknown reasons"
**Describe the bug**
here is the link to the ci https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-6404/5/pipeline/

**Steps/Code to reproduce behavior**
filePath: tests/python_test/collection/test_load_collection.py

    @pytest.mark.tags(CaseLabel.tags_smoke)
    def test_release_collection_after_drop(self, connect, collection):
        """
        target: test

[2021-07-11 10:44] czs007 commented on #6406
Another possible reason is that the http proxy  is turned on in the terminal.  @Bennu-Li

[2021-07-11 11:39] #6418 closed

[2021-07-12 02:19] xiaocai2333 commented on #6428
I think this is probably a problem with IndexCoord. It takes about 600 segments for 100 million vectors, that is, IndexCoord will receive 600 requests to build indexes, and each request will write Meta to ETCD, but ETCD allows up to 128 concurrent writes at the same time.
Do we need to write in batches? @xiaofan-luan

[2021-07-12 02:22] scsven commented on #6428
/kind support

[2021-07-12 02:23] scsven commented on #6420
/kind improvement

[2021-07-12 02:23] scsven commented on #6420
/assign @FluorineDog

[2021-07-12 02:25] Bennu-Li commented on #6406
pymilvus: 2.0.0rc1
pymilvus-orm: 2.0.0rc1

[2021-07-12 02:25] scsven commented on #6419
@nameczz Please provide the SDK version.

[2021-07-12 02:28] nameczz commented on #6419
It's not pymilvus. I am implement milvus-node-sdk.
But you can have a try on pymilvus. I think it's same.

[2021-07-12 02:30] scsven commented on #6411
/kind feature

[2021-07-12 02:41] scsven commented on #6419
@nameczz pymilvus made a check before an RPC call, raise an exception if entity is an empty list.

@czs007 Could we add check in Proxy?

[2021-07-12 02:54] xiaofan-luan commented on #6428
128 is too small. We probably need to modify the limit to a larger value, say 4096 or higher.
Another thing we should do it add a retry when rate limited by etcd, thus user should not aware of this issue.

[2021-07-12 02:57] nameczz commented on #6419
Good idea, milvus-node-sdk can check data before an RPC call, too.
But it still need to fix on Proxy side.

[2021-07-12 03:00] czs007 commented on #6419
LGTM

[2021-07-12 03:02] DragonDriver commented on #6419
/kind bug
I will fix this soon, thx for pointing this @nameczz

[2021-07-12 03:18] DragonDriver commented on #6379
Proxy don't have the timestamps of search result, so Proxy cannot decide the order of records with same primary key. So I think we should merge these search results in query nodes, or query nodes should return the timestamps of all hit records and then Proxy can merge them. When there are same primary keys in hit records, hit record with greater timestamp should overwrite the record with less time

[2021-07-12 03:41] Wenorm commented on #6428
Please provide this support as soon as possible, thank you.

[2021-07-12 03:56] DragonDriver commented on #6403
Cannot be reproduced. Close this.

[2021-07-12 03:56] #6403 closed

[2021-07-12 04:00] binbinlv opened #6430 "Test case name is not added into test log"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Test case name is not added into test log

**Steps/Code to reproduce behavior**
NA

**Expected behavior**
show test case name in test log for debug location

**Method of installation**
- [ ] Docker/cpu
- [ ] Docker/gpu
- [ ] Build from source

**Environment details**
- Hardware/Softwar

[2021-07-12 05:11] #6430 closed

[2021-07-12 05:13] Wenorm commented on #6428
Is there another way I can successfully index 100 million vectors? @xiaofan-luan

[2021-07-12 06:21] FluorineDog commented on #6420
fixed by #6398

[2021-07-12 06:21] #6420 closed

[2021-07-12 06:38] peixin-lin opened #6434 "Does delete entity by id only make effect for searching if I rebuild the index?"
The version I am using is v1.1.2.

I called the function delete_entity_by_id and search the deleted id immediately after that.
I found out that the deleted id is still present in the search result.

I delete the entity, drop the index and build the index again.
This time the deleted id  no longer exists in the search result.

Does that mean if I need the deleted entities no longer showed in the se

[2021-07-12 06:48] Bennu-Li commented on #6406
I did turn on the http proxy, I try to turn off the proxy and load data, it works.

[2021-07-12 06:53] ThreadDao opened #6435 "Search failed when insert 5000 entities and create index"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
The test case:
[code]
I don't understand the error message
[code]

error code
**Steps/Code to reproduce behavior**
Follow this [guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) to craft a minimal bug report. This helps us reproduce the issue you're having and

[2021-07-12 06:57] xiaocai2333 commented on #6428
Try inserting in batches of ten, each batch contains 10 million vectors. Then creating index.

[2021-07-12 07:01] binbinlv opened #6436 "[CI_Block]num_entities of partition is not the same with inserted quantities under multiple replicas"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
num_entities of partition is not the same with inserted quantity under multiple replicas when data is relatively big

**Steps/Code to reproduce behavior**
1 deploy multiple replicas enviroment:
   proxy: 1, querynode:2, indexnode:2, datanode: 2

2 run test case: tests20/python_client/t

[2021-07-12 07:11] del-zhenwu opened #6437 "Index create failed on standalone version with error: `IndexBuilding Service not available`"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
**Steps/Code to reproduce behavior**
build index after sift-1m inserted.
index_type: HNSW, metric_type: L2 with params: {'M': 16, 'efConstruction': 500}

log:

https://kibana-dev.zilliz.cc/app/discover#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'2021-07-11T2

[2021-07-12 07:11] del-zhenwu commented on #6437
/kind bug

[2021-07-12 07:13] Bennu-Li opened #6438 "collection.num_entities does not return, keeps getting stuck and search error"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
version: milvus2.0 standalone
data: 6881 vectors of 16951 dimensions.

pymilvus: 2.0.0rc1
pymilvus-orm: 2.0.0rc1

After i insert data, I use collection.num_entities to see the number of rows but it doesn't return, it keeps getting stuck.
And i try to search, if limit<8, it works. Other

[2021-07-12 07:17] #6406 closed

[2021-07-12 07:49] shengjun1985 commented on #6434
After you call flush, the deleting and inserting will make effect.
But our latest 1.x release is v1.1.1. Did you compile the branch 1.1 locally?

[2021-07-12 07:49] neza2017 commented on #6438
I have test in my localhost with build `milvus 2.0` from souce, `collection.num_entities` return correct, but failed on search.
[code]
this exception raise from file `pymilvus/client/prepare.py`
[code]
the `dim` of vector is `16951`, so `bytes_per_vector=16951*4=67804`
[code]
so what does this check do, and why ? can we fix it?
@czs007

[2021-07-12 07:51] sunby opened #6440 "segment manager refactor"
Code in segment_manager.go is a little messy. `allocations` and `rows` are store in SegmentStatus and other attributions are store in SegmentInfo. So policy will have to accept 2 params. We should put all attributions in SegmentInfo and manage it in meta. If segment manager need some attributions, it should retrieve it from meta. Some functions like "UpdateSegmentStat" can also change attributions

[2021-07-12 07:58] del-zhenwu opened #6442 "Load collection sift-50m failed on cluster server"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
[code]
**Steps/Code to reproduce behavior**

1. insert sift-50m
2. create index ivf_flat, nlist: 2048

https://kibana-dev.zilliz.cc/app/discover#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'2021-07-11T23:38:57.493Z',to:'2021-07-11T23:41:16.936Z'))&_a=(columns:!(log)

[2021-07-12 07:58] del-zhenwu commented on #6442
/kind bug

[2021-07-12 08:21] bigsheeper opened #6443 "Transport is closing error when multiple search"
**Transport is closing error when multiple search **

**Steps/Code to reproduce behavior**
Run `pytest entity/test_search.py -n 12` in tests/python_test

**Expected behavior**
tests timeout

**Method of installation**
- [ ] Docker/cpu
- [ ] Docker/gpu
- [ ] Build from source

[2021-07-12 08:50] ThreadDao opened #6444 "Fail to insert data after the milvus standalone pod is killed and restarted"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
1. create a collection with int64, float, float_vector fields, named 'chaos_collection_bLF24xUm'
2. insert 5000 entities and call collection.num_entities
3. load and search
4. create index `        index_params = {"index_type": "IVF_SQ8", "metric_type": "L2", "params": {"nlist": 64}}`

[2021-07-12 08:55] jeffoverflow opened #6445 "Auto update builder and pytest image tag"
**Please state your issue using the following template and, most importantly, in English.**

Auto update builder and pytest image tag

[2021-07-12 09:06] #6445 closed

[2021-07-12 09:24] #6440 closed

[2021-07-12 09:31] yanliang567 commented on #6287
/unassgin @sunby
/assign @yanliang567
reopen for not verified yet

[2021-07-12 09:31] ThreadDao commented on #6345
This issue did not recur. I will close this issue.

[2021-07-12 09:31] #6345 closed

[2021-07-12 10:04] ThreadDao commented on #6352
The issue changed. It looks like the collection was load successfully, but the search no response for 10mins.
The restarted pod's log:
[standalone1.log](https://github.com/milvus-io/milvus/files/6800468/standalone1.log)

[2021-07-12 10:04] ThreadDao commented on #6352
/unassign @ThreadDao
/assign @scsven

[2021-07-12 10:15] yanliang567 opened #6451 "Aync testcase failed with NoneType erorrs"
**Describe the bug**
FlushAsync, IndexAsync,  InsertAsync fail

**Steps/Code to reproduce behavior**
1.  go to /milvus/tests/python_test
2. run test_flush.py::TestFlushAsync::test_flush_async_long_drop_collection
           test_index.py::TestIndexAsync::test_create_index_callback
           entity/test_insert.py::TestInsertAsync::test_insert_async

**Expected behavior**
run successfully

**Actual

[2021-07-12 10:30] peixin-lin commented on #6434
Flush works. Thank you.
Sorry for didn't make it clear. I am using milvus v1.1.1 with pymilvus==v1.1.2.

[2021-07-12 10:40] xiaocai2333 commented on #6428
What‘s your milvus version? The bug is in rc1, we will have a new release soon. It will fix this.

[2021-07-12 11:59] yanliang567 opened #6455 "Milvus becomes not healthy during CI or Nightly tests"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
Milvus becomes not healthy during CI or Nightly tests.
There are 2 potential root causes I can think of by now:
1. Milvus stability issues
2. KinD resource cannot hold for Milvus service workload

**Steps/Code to reproduce behavior**
Run CI or Nightly tests, occasionally Milvus becomes

[2021-07-12 11:59] binbinlv opened #6456 "Creating Index and automatically load issue"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**
I want to confirm the following puzzles, thanks:

when the quantity of inserted data is over the minimum requirement for indexing, then

(1) if load before create_index, then not load again, index is actually working or not? If not, why automatically load is not applied to these scenar

[2021-07-12 12:05] Kirill-Bugaev commented on #6336
Looks like `rootCoord` has difficulties:
[code]

I have started another milvus cluster with the same `values.yaml` in another k8s `v1.20.4`. It is OK. rootCoord says:
[code]

[2021-07-12 12:13] shengjun1985 commented on #6434
This issue is solved.
And if you have more questions, please continue to contact our community.

[2021-07-12 12:13] #6434 closed

[2021-07-12 14:51] Kirill-Bugaev commented on #6336
Solved by cleaning all etcd and pulsar persistent data and redeploying Helm chart.

[2021-07-13 00:54] xuqinkun commented on #6336
How to clean the data

[2021-07-13 01:45] xiaocai2333 opened #6458 "Different components repeatedly create buckets in minio"
**Different components repeatedly create buckets in minio**

**Describe the bug**
IndexCoord gets the bucket status as non-existent, and then creates the bucket. At this time, IndexNode has just created the bucket, so IndexCoord throws an error:
```Your previous request to create the named bucket succeeded and you already own it.```

**Steps/Code to reproduce behavior**
Follow this [guide](http://

[2021-07-13 01:46] xiaocai2333 commented on #6458
/assign @xiaocai2333

[2021-07-13 01:47] xiaocai2333 commented on #6458
/kind bug

[2021-07-13 02:05] ThreadDao commented on #6352
I was wrong. Failed to load 5000 entities after standalone pod restart. The client did not get a response after a few minutes. Now It's 10:05
[code]

[2021-07-13 02:09] xiaocai2333 opened #6459 "Use timers to assign tasks in IndexCoord"
**Please state your issue using the following template and, most importantly, in English.**
Use timers to assign tasks in IndexCoord to prevent cretain tasks from failing retry due to the IndexNode crashed.

**Is your feature request related to a problem? Please describe.**
When IndexCoord's nodetasks has not recorded the task, the IndexNode cashes. I hope this task can be executed by other nodes.

[2021-07-13 02:09] xiaocai2333 commented on #6459
/assign @xiaocai2333

[2021-07-13 02:16] xiaofan-luan commented on #6438
/assign @DragonDriver

[2021-07-13 02:24] xiaofan-luan commented on #6002
when search you can specify the output field, if you duplicate tag into field then you can retrieve partition tag.

[2021-07-13 02:41] xiaofan-luan commented on #5693
@shengjun1985  what about have a preprocessing stage and do normalization before insert into milvus

[2021-07-13 02:43] xiaofan-luan commented on #6427
/assign @xiaocai2333

[2021-07-13 02:44] xiaofan-luan commented on #6426
/assign @xiaocai2333

[2021-07-13 02:49] Wenorm commented on #6428
This is the way that i try before.

[2021-07-13 02:50] Wenorm commented on #6428
2.0

[2021-07-13 02:52] bigsheeper commented on #6275
I'v run a test and it passed, can you retest it again? @JackLCL

[2021-07-13 02:56] shengjun1985 commented on #5693
We can add such a stage.
But the vectors stored in the system will be different with they inserted.
So what the IF GetEntityById() returns (before or after normalization) needs to be determined.

[2021-07-13 03:04] XuanYang-cn commented on #6211
fixed

[2021-07-13 03:10] JackLCL commented on #6275
OK， I will retest again.

[2021-07-13 03:16] scsven commented on #6458
/triage accepted

[2021-07-13 03:27] nameczz opened #6462 "Sometimes vector search on float vector field return empty results."
**Please state your issue using the following template and, most importantly, in English.**

**Describe the bug**

Sometimes Vector search in float vector field return empty results.

**Steps/Code to reproduce behavior**
1. create collection success
2. load collection success
3. insert 10 data into collection success
4. flush collection
5. sometime vector search will return empty results.

**Expec

[2021-07-13 03:36] xuqinkun commented on #6401
I try to replace the lib and don't change any code, the problem still happened.

[2021-07-13 03:39] godchen0212 opened #6463 "Vector file storage"
**Please state your issue using the following template and, most importantly, in English.**

**Is your feature request related to a problem? Please describe.**
I want to get pure vector data file without binlog format saved in local storage.

**Describe the solution you'd like**
1.A interface to get local vector file path with file name.
2.If the file exists in local storage, return local file pat

[2021-07-13 03:45] godchen0212 commented on #6385
#6463 An vector file manager is proposed.

[2021-07-13 03:46] godchen0212 commented on #6463
@neza2017 @cydrain @xiaofan-luan

[2021-07-13 04:23] congqixia opened #6464 "Edge case handling"
In storage DataSorter, the assumption is that all the field is passed legally. But milvus api allows cases that by-passing fields check when insert raw data, say without pymilvus, using proto directly or use future REST api etc.
Some edge cases should be taken into consideration.

[2021-07-13 05:17] binbinlv commented on #6455
After run some tests successfully,  server becomes not healthy:
standalone
milvus: master(d4239f0)
Name: pymilvus
Version: 2.0.0rc2
Name: pymilvus-orm
Version: 2.0.0rc2.dev32

Logs:
[log.tar.zip](https://github.com/milvus-io/milvus/files/6806060/log.tar.zip)

[2021-07-13 05:09:40 - ERROR - ci_test]: Traceback (most recent call last):
  File "/milvus/tests20/python_client/utils/api_request.py", lin

[2021-07-13 06:01] xiaofan-luan commented on #6463
Share we name it ChunkManager or BlockManager rather than file manager?
also what's the difference of GetFile, ReadFile?
If I'm correct, GetFile interface is to load from S3 to local disk, and Read load data from local disk to memory?
I would suggest to use load, read, write, exist as the function name.  Also for put is this a write through or write back? didn't see a clear definition

[2021-07-13 06:17] scsven commented on #6352
@ThreadDao Is it a new issue?

[2021-07-13 06:18] scsven commented on #6352
/unassign
/assign @ThreadDao

[2021-07-13 06:37] #5210 closed

[2021-07-13 06:49] cydrain opened #6466 "Unify the usage of query and search"
**Please state your issue using the following template and, most importantly, in English.**

**What would you like to be added ?**

**Why is this needed ?**
To unify the usage of "query" and "search".
Rename:
QueryResult    -> SearchResult
SubQueryResult -> SubSearchResult
QueryDataset   -> SearchDataset
QueryInfo      -> SearchInfo
Plan           -> SearchPlan

[2021-07-13 06:53] yxz9087 opened #6468 "How to use scalar search"
I wanna test hybrid search between scalar and vector data,but  cannot find API wiki
thanks~

[2021-07-13 07:01] xuqinkun commented on #6401
develop
I try to replace the lib and don't change any code, the problem still happened. So I think the process of changing lib make some problem.

[2021-07-13 07:01] xuqinkun commented on #6401
@cydrain develop
I try to replace the lib and don't change any code, the problem still happened. So I think the process of changing lib make some problem.

[2021-07-13 07:02] binbinlv opened #6469 "Search binary results wrong with metrics of Hamming when limit (topK) is bigger than the quantity of inserted entities"
#### Describe the bug:
Search binary results wrong with metrics as Hamming

Insert 2 binary entities, and search with limit (topK) 10, then the searched ids in searched results are:
[1, 0, -1, -1, -1, -1, -1, -1, -1, -1]

which should be
[1, 0]

#### Expected behavior:
searched ids should be [1, 0] which is the smaller one of limit (topK) and entities quantity of collection

#### Steps/Code to rep

[2021-07-13 07:05] cydrain commented on #6401
@cydrain How you change the lib ?

[2021-07-13 07:09] xuqinkun commented on #6401
@cydrain Use the docker cp command, the lib is compiled in Ubuntu

[2021-07-13 07:10] cydrain commented on #6401
@xuqinkun which Ubuntu version ?

[2021-07-13 07:10] xuqinkun commented on #6332
@scsven How is the situation?

[2021-07-13 07:12] yanliang567 commented on #6436
in CI tests(no replicas), if insert 100,000 entities, it repros as well:
[code]
It looks loke flush is not completed when calling .num_entities. Does flush run as sync or async by default?

[2021-07-13 07:17] nameczz opened #6472 "Need throw error when insert wrong dimension data into collection with binary vector field."
#### Describe the bug:
Need throw error when insert wrong dimension data into binary vector type field.

#### Expected behavior:
Need throw dimension not equal error.

#### Steps/Code to reproduce:
1. create collection with dimension = 8 and type = binary .
2. insert 10 data with dimension = 4
3. insert success.

#### Environment:
- milvusdb/milvus-dev:master-latest
-
#### Configuration file:

###

[2021-07-13 07:18] xuqinkun commented on #6401
@cydrain ubuntu1~16.04.10
I tried, but as the issue https://github.com/milvus-io/milvus/issues/6332 saied, I can't start the components normally. I don't know why. All the steps is based on the doc https://github.com/milvus-io/milvus#to-start-developing-milvus

[2021-07-13 07:36] xige-16 opened #6475 "Create collection failed: collection test_collection_xxx exist"
#### Describe the bug:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-6351/6/pipeline report the bug:
    status = error_code: UnexpectedError
    reason: "Create collection failed: collection test_collection_APDa0YYm exist"

    @error_handler()
    def create_collection(self, collection_name, fields, timeout=None, **kwargs):
        request = Prepare.create_

[2021-07-13 07:36] xige-16 commented on #6475
/kind bug

[2021-07-13 07:36] cydrain commented on #6332
you can try my scripts:

start_milvus.sh
[code]

stop_milvus.sh
[code]

ls_milvus.sh
[code]

[2021-07-13 07:37] xige-16 commented on #6475
thr rootCoord received two createCollection request according to the rootcoord.log file, and create failed.

[2021-07-13 07:38] cydrain commented on #6401
@xuqinkun the docker image is build with ubuntu 18.04

[2021-07-13 07:40] xuqinkun commented on #6332
@cydrain Ok, thanks

[2021-07-13 07:42] del-zhenwu opened #6476 "Support multi clients in test runners"
**Please state your issue using the following template and, most importantly, in English.**
Support multi test clients in locust runner, used in load testing.

**What would you like to be added ?**

**Why is this needed ?**

[2021-07-13 07:44] xiaofan-luan commented on #6466
nice catch！ milvus 1.0 mixed search and query into the same interface, we probably want to separate it clearly

[2021-07-13 07:48] xuqinkun commented on #6401
@cydrain You mean the docker image only supports ubuntu 18.04?

[2021-07-13 07:54] cydrain commented on #6401
@xuqinkun The system running in the docker image we released is Ubuntu 18.04, and all Milvus related binaries in this docker image are also build on Ubuntu 18.04.
You can try build your lib in the docker image, then replace the original one.

[2021-07-13 07:57] xuqinkun commented on #6401
@cydrain Ok, I understand it.

[2021-07-13 08:01] bigsheeper commented on #5858
Did you set the `queryNode.gracefulTime` to 0 in milus.yaml?  I'v run this test on standalone and cluster also, and it all passed . @binbinlv

[2021-07-13 08:01] DragonDriver opened #6482 "Check if num_rows is greater than zero in proxy"
**What would you like to be added ?**
When receiving insert requests, proxy should check num_rows of all input field data.

**Why is this needed ?**
Improve the stability of proxy.

[2021-07-13 08:02] DragonDriver commented on #6482
test code:

[code]

output:

[code]

[2021-07-13 08:03] DragonDriver commented on #6482
/kind enhancement
/assign

[2021-07-13 08:05] #6421 closed

[2021-07-13 08:07] binbinlv commented on #5858
@ I remember I have tried this value, but I will retry and confirm it later. @bigsheeper

[2021-07-13 08:11] yanliang567 opened #6483 "CPU, Memory and Goroutines usage increase and not released"
#### Describe the bug:
CPU, Memory and Gorutine usage increase and not released after running tests

#### Expected behavior:
The resources should be released after tests completed, but it did not.

#### Steps/Code to reproduce:
1. deploy Milvus 2.0 with cluster mode
2. go to /milvus/tests20/python_client and run
pytest testcases/ --host host --tags L0 L1 --workers 4

#### Environment:
- Milvus ver

[2021-07-13 08:12] XuanYang-cn commented on #5183
/assign @xiaohu4313888

[2021-07-13 08:13] neza2017 commented on #6483
/assign @XuanYang-cn

[2021-07-13 08:16] xiaohu4313888 commented on #5183
/assign @xiaohu4313888

[2021-07-13 08:22] xige-16 commented on #6325
The issue has been solved by pr #6351. Trouble you check it. @binbinlv

[2021-07-13 08:27] xige-16 commented on #6374
It seems datanode's flowgraph crashed. @XuanYang-cn

[2021-07-13 08:33] #6482 closed

[2021-07-13 08:36] DragonDriver commented on #6419
Already fixed. Please retest this. thx.

/unassign
/assign @nameczz

[2021-07-13 08:44] yanliang567 commented on #6468
/assign @yxz9087

[2021-07-13 08:47] del-zhenwu opened #6484 "Memory usage steadily rising during concurrently inserting"
#### Describe the bug:
![Kubernetes-Compute-Resources-Pod-Grafana (8)](https://user-images.githubusercontent.com/56623710/125421209-8a85c3e6-2191-4185-bc2b-35a61f478e64.png)

#### Expected behavior:

no load in operations
no manual flush

#### Steps/Code to reproduce:
1. create collection
2. insert 1,000 entities per request
Memory usage is about 7Gb in 30mins.

#### Environment:
- Milvus version(

[2021-07-13 08:47] yanliang567 commented on #6246
@neza2017 I ran some tests(create collection and insert some data) between step1 and step2

[2021-07-13 08:47] yanliang567 commented on #6246
@neza2017

[2021-07-13 08:55] xige-16 commented on #6384
You may need to upgrade the version of minio, docker logs xxx would print the log info as bellow:
~/standalone$ docker logs 06cefa5d3007

    __  _________ _   ____  ______
   /  |/  /  _/ /| | / / / / / __/
  / /|_/ // // /_| |/ / /_/ /\ \
 /_/  /_/___/____/___/\____/___/

Welcome to use Milvus!
Version:   b87baa1
Built:     Mon Jun 28 07:30:31 UTC 2021
GitCommit: b87baa1
GoVersion: go version go

[2021-07-13 08:59] XuanYang-cn commented on #6483
Memory raises rapidly on case `testcases/test_partition.py::TestPartitionOperations` in DataNode

[2021-07-13 09:04] xige-16 commented on #6384
You also could update your docker-compose.yaml and rerun, we have fix some bug and update docker image. @aquibjaved

[2021-07-13 09:09] xige-16 commented on #6275
If you start milvus using docker-compose.yaml, you may need to update it. @JackLCL

[2021-07-13 09:11] aquibjaved commented on #6384
thank you for the response,
I updated the minio, in compose file. I had checked the logs.
I will try again with the latest version of minio and also Milvus

![image](https://user-images.githubusercontent.com/14982079/125424416-cca1ec9d-1b85-4af8-a6dd-294236392e46.png)

[2021-07-13 09:14] xige-16 commented on #6370
The queryCoord should provide an interface to show if the specified collection load done.

[2021-07-13 09:30] del-zhenwu commented on #6484
14Gb in 1h

[2021-07-13 09:31] JackLCL commented on #6275
I am using k8s to deploy milvus cluster.

[2021-07-13 09:55] binbinlv opened #6486 "Search with expressions returns wrong results when auto_id is true"
#### Describe the bug:
Search with expressions returns wrong results when auto_id is true
insert 1000 entities:
(1) no expressions, only this scenario is right, expect 1000, and actual is 1000
[code]

(2) (int64 > 0), expect is 999, but actual is 1000
[code]

(3) (int64 > 0 && int64 < 400) or (int64 > 500 && int64 < 1000), expect result should be 898, while actual is 0
[code]

(4) (int64 not in [1

[2021-07-13 09:59] yanliang567 commented on #6287
still repros on master-20210713-d4239f0
pymilvus                           2.0.0rc2.dev14
pymilvus-orm                       2.0.0rc2.dev31

[2021-07-13 09:59] yanliang567 commented on #6287
/unassign

[2021-07-13 10:14] xige-16 commented on #6443
pr #6351 has fix the contex deadline issue , please rerun again @bigsheeper

[2021-07-13 10:17] bigsheeper commented on #6443
Fixed by #6351

[2021-07-13 10:44] xiaofan-luan commented on #6468
https://github.com/xiaofan-luan/milvus-docs/blob/master/site/en/develop/expression.md
this doc may help

[2021-07-13 11:21] sunby commented on #6287
I write a loop to insert entries and keep restarting datanode, but I can not reproduce this problem..

[2021-07-13 11:22] sunby commented on #6287
I just stop the datanode and keep inserting. Still can not reproduce it

[2021-07-13 12:40] ThreadDao opened #6487 "When deploy milvus with two dataNode replicas, the collection is still empty after inserting"
#### Describe the bug:
When deploy cluster milvus with two dataNode pods, the collection num_entities is still 0 after inserting 5000 entities.

#### Expected behavior:
The num_entities of both collections is 1200

#### Steps/Code to reproduce:
1. deploy a milvus with dataNode.replicas=2
2. create collection "data_scale_one" and insert 1200 entities
3. create collection "data_scale_two" and insert

[2021-07-13 13:13] binbinlv commented on #6475
Run test case under multiple replica environment, and reported collection exists at case test_search_multi_collections, maybe the same issue, so pasted the logs here if could be a help for analysis.

proxy:1, querynode:2, datanode:2, indexnode:2
milvus: d896e31
Name: pymilvus
Version: 2.0.0rc3.dev1
Name: pymilvus-orm
Version: 2.0.0rc3.dev4

Logs:
[log.tar.zip](https://github.com/milvus-io/milvus/f

[2021-07-13 13:19] binbinlv commented on #6451
Run test case under multiple replica environment, and reported 'NoneType' object has no attribute '__getitem__', maybe the same issue, so pasted the logs here if could be a help for analysis.

FAILED test_search.py::TestCollectionSearch::test_search_binary_jaccard_flat_index - AttributeError: 'NoneType' object has no attribute '__getitem__'
FAILED test_search.py::TestCollectionSearch::test_search_

[2021-07-13 13:19] binbinlv commented on #6325
Verified in standalone version, and run all the test search case for 5 counts, and no such errors. And verified in cluster with multiple replicas env, no such errors appear although other errors, so close this issue.

milvus: d896e31
Name: pymilvus
Version: 2.0.0rc3.dev1
Name: pymilvus-orm
Version: 2.0.0rc3.dev4

[2021-07-13 13:19] #6325 closed

[2021-07-13 13:40] xuewenzhang opened #6488 "When I call the insertasync interface, ConcurrentModificationException() is thrown"
#### Describe the bug:
When I call the insertasync interface, ConcurrentModificationException() is thrown.

#### Expected behavior:

Insert data into milvus normally

#### Steps/Code to reproduce:
1 每读十万行调用insert接口插入数据。
[code]
2  每次插入都开一个线程去处理。
[code]
3：具体每次的插入逻辑
[code]

#### Environment:
- Milvus version(e.g. v1.1.0 or 8b23a93):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CP

[2021-07-13 14:20] #6466 closed

[2021-07-13 17:40] zwd1208 commented on #6367
By getting the configmap from the apiserver or use operator mode.  but non k8s deployment cannot be supported.

[2021-07-13 20:10] austinjung opened #6491 ""No space left on device" error on Milvus server"
#### Describe the bug:
[code]

#### Expected behavior:
After this exception, the Milvus server doesn't provide a similarity search anymore. The Milvus server should work.

#### Steps/Code to reproduce:
After a stress test of 753,000 similarity searches.

#### Environment:
- Milvus version(e.g. v1.1.0 or 8b23a93):
- SDK version(e.g. pymilvus v2.0.0rc2): pymilvus v2.0.0rc2 and pymilvus-orm v2.0.0rc2

[2021-07-13 20:19] Kirill-Bugaev commented on #6336
@xuqinkun I use `hostPath` volumes for etcd and pulsar storage. Just removed all files from these before redeploying,

[2021-07-14 00:42] xuqinkun commented on #6336
@Kirill-Bugaev Thanks

[2021-07-14 00:49] liunancun opened #6492 "2048 dimension 20000000 items response time is almost 20 seconds"
#### Describe the bug:
2048 dimension 20000000 items response time is almost 20 seconds

#### Expected behavior:
Respond as soon as possible

#### Steps/Code to reproduce:
Search operation topk=31

#### Environment:
- Milvus version(e.g. v1.1.0 or 8b23a93): 1.1.1-cpu-d061621-330cc6
- SDK version(e.g. pymilvus v2.0.0rc2): pymilvus v1.1.0
- OS(Ubuntu or CentOS): CentOS
- CPU/Memory: Intel(R) Xeon(R)

[2021-07-14 00:58] xuqinkun commented on #6401
@cydrain I tried build the lib in the docker image, the problem still happened.

[2021-07-14 01:04] liunancun commented on #6492
![image](https://user-images.githubusercontent.com/12378933/125544543-c95228b1-7751-4863-bed7-b25c3969a4d8.png)

[2021-07-14 01:19] yanliang567 commented on #6451
@binbinlv this issue was fixed in rc2, so if it repros again, please file a new issue.

[2021-07-14 01:27] shanghaikid commented on #6367
@xiaofan-luan are there any in memory settings be implemented in the future? That means user can adjust settings without restart the server.

Anyway, we need a way to read Milvus configuration no matter in standalone mode or cluster mode.

[2021-07-14 01:33] yanliang567 commented on #6483
after one night with no requests to milvus, the resource still not released

[2021-07-14 01:43] shengjun1985 commented on #6492
2048 dimension 20000000 items: 2048 * 4 * 20000000 = 163G.
But your memory is only 128G.
If you accept a reduction in recall, it is recommended to try another index type, such as IVF_SQ8 or IVF_PQ.

[2021-07-14 01:55] #6458 closed

[2021-07-14 01:59] liunancun commented on #6492
Is the memory requirement so high? We are now applying it to the image search, and we have only uploaded 200W pictures. Maybe the entire gallery has about 2000W pictures.

[2021-07-14 02:03] xige-16 opened #6493 "Query Nodes that only load segments will get stuck when searching"
#### Describe the bug:
If a querynode only do loadSegment task, search would be stucked on waitting newTsafe.

#### Expected behavior:
querynode without watchDmchannels can provide search service normally.

#### Steps/Code to reproduce:

#### Environment:
- Milvus version(master):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration fil

[2021-07-14 02:03] xige-16 commented on #6493
/kind bug

[2021-07-14 02:03] xige-16 commented on #6493
/assign @bigsheeper

[2021-07-14 02:15] shengjun1985 commented on #6492
2,000,000 items need 16G. Well, it's not a lack of memory.
Could you call get_collection_stats() to check whether all the segments finish indexing?
And what about your query parameters such as `nq`, `nprobe`?

[2021-07-14 02:24] liunancun commented on #6492
Cache_size is set to 12G, and insert_buffer_size is set to 3G. Does it matter? By default, nprobe is equal to 16.
The default when creating an index before nprobe is 1024, and the default is 16384 when you delete the index and recreate it later.

[2021-07-14 02:26] liunancun commented on #6492
What index should be used in an application like mine, and how should the parameters be set appropriately?

[2021-07-14 02:27] liunancun commented on #6492
Image search application, the number of images is greater than 2000W.

[2021-07-14 02:47] binbinlv opened #6495 "Search test cases failed with NoneType errors under multiple replicas"
#### Describe the bug:
Run test cases under multiple replica environment, and reported 'NoneType' object has no attribute 'getitem', maybe the same issue, so pasted the logs here if could be a help for analysis.

proxy:1, querynode:2, datanode:2, indexnode:2

FAILED test_search.py::TestCollectionSearch::test_search_binary_jaccard_flat_index - AttributeError: 'NoneType' object has no attribute 'get

[2021-07-14 02:48] binbinlv commented on #6451
OK, issue #6495.

[2021-07-14 02:53] yhmo commented on #6492
2 million 2048 dim vectors, raw data size is 16GB.

The cache_size is to set the capacity of cpu memory to hold data required by search action. Your cache_size=12GB, less than 16GB, milvus will have to swap data between hard disk and cpu memory.

Milvus split vectors data into segments, the index_file_size is to set size of each segment, the default value is 1024MB, that means each segment will be

[2021-07-14 02:53] wxyucs opened #6496 "Is there a way to check the version of a Milvus binary"
I wanna check the version of a Milvus without starting it, is there a way? Likes `milvus version` or `milvus --version`?

[2021-07-14 02:57] yhmo commented on #6492
Different index type may require different cache size:
- FLAT is brute-force search, required data size is equal to total raw data size.
- IVF_FLAT is IVF index with raw vectors, required data is also equal to total raw data size.
- IVF_SQ8 is IVF index with compacted vectors, required data is about 25% ~ 30% of raw data size.
- IVF_PQ is IVF index with simplified vectors, required data is about 1

[2021-07-14 03:00] yhmo commented on #6492
So, when you import 20 million vectors, the raw data size is 160GB. If your machine's cpu memory is not enough, you can choose IVF_SQ8 or IVF_PQ index.
If you choose IVF_SQ8 index, the required cache size is about 40 ~ 45 GB.

[2021-07-14 03:00] scsven commented on #6492
/kind support

[2021-07-14 03:02] liunancun commented on #6492
What is the difference between IVF_SQ8 and IVF_PQ? If IVF_PQ is selected, how to fill in the m parameter?

[2021-07-14 03:05] scsven commented on #6491
/kind support

[2021-07-14 03:05] yhmo commented on #6492
My suggestion for 20 millions 2048 dim vectors:
index_file_size = 2048MB or 4096MB
cache_size = 50GB(IVF_SQ8)
nlist = 2048

For more details, please refer to the performance FAQ: https://milvus.io/docs/v1.1.1/performance_faq.md

[2021-07-14 03:06] liunancun commented on #6492
Okay thank you!

[2021-07-14 03:07] scsven commented on #6488
/kind support

[2021-07-14 03:08] scsven commented on #6476
/kind feature

[2021-07-14 03:09] scsven commented on #6472
/kind support

[2021-07-14 03:12] scsven commented on #6462
/kind bug

[2021-07-14 03:15] xige-16 commented on #5858
If the issue has been fixed, please close it. @binbinlv

[2021-07-14 03:15] scsven commented on #6459
/kind enhancement

[2021-07-14 03:15] #6368 closed

[2021-07-14 03:16] scsven commented on #6456
/kind support

[2021-07-14 03:16] yhmo commented on #6492
IVF_SQ8 lost few precision, its recall rate is closely to IVF_FLAT.
IVF_PQ lost more precision, it is fast, but recall rate is not good.

For more details, please refer: https://milvus.io/cn/docs/v1.1.1/index.md#CPU

[2021-07-14 03:17] scsven commented on #6443
/kind bug

[2021-07-14 03:18] yhmo commented on #6491
The error "IO error: No space left on device" means it is out of storage.
Two possible reason:

the hard disk is almost full.
the software has a bug to try to write a very huge file.
Firstly please check your local hard disk, how much free space is left.

[2021-07-14 03:19] binbinlv commented on #5858
Tried with setting queryNode.gracefulTime as 0, but it still exists, please have a look again, Logs are pasted below if it could be a help. Thanks. @bigsheeper
Run test case:
tests20/python_client/testcases/test_search.py::TestCollectionSearch::test_search_new_data

Results:
[2021-07-14 03:06:18 - ERROR - ci_test]: search_results_check: limit(topK) searched (500) is not equal with expected (800) (

[2021-07-14 03:20] DragonDriver opened #6497 "Query Nodes crash when searching on a binary vector field with low dimension"
#### Describe the bug:

Query Nodes crash when searching on a binary vector field with low dimension. For example, crash when dimension is 8 but keep alive when dimension is 16.

#### Expected behavior:

Query Nodes keep alive but return an error to tell users that dimension is too small.

#### Steps/Code to reproduce:

[code]

Query Nodes output:

[code]

#### Environment:
- Milvus version(e.g. v

[2021-07-14 03:21] ThreadDao commented on #6487
My mistake.

[2021-07-14 03:21] #6487 closed

[2021-07-14 03:22] DragonDriver commented on #6497
/assign @bigsheeper
/assign @FluorineDog

[2021-07-14 03:23] xige-16 commented on #6098
The issue should be fixed by pr #6351, trouble you checkout it. @yanliang567

[2021-07-14 03:28] XuanYang-cn opened #6498 "Why services sometimes cannot connect to pulsar and how to solve the problem?"
If you encountered this pulsar log **[Failed to perform initial handshake]**:

[code]
It's highly possible that your computer is out of storage, and pulsar is unhappy with that. you can verify by

[code]

If true, this tip may help:

[code]

Good luck! :smile_cat:

[2021-07-14 03:30] #6443 closed

[2021-07-14 03:32] scsven commented on #6353
/kind feature
/assign @czs007

[2021-07-14 03:33] neza2017 opened #6499 "GlobalTSOAllocator.GeneratorTSO return the last available timestamp, not the first"
`GlobalTSOAllocator.GeneratorTSO ` return the last  available timestamp, not the first.
But `GlobalIDAllocator` assume this value as the first available timestamp.

[2021-07-14 03:48] DragonDriver commented on #6497
I will loose this limit in segcore part.

/unassign @bigsheeper
/unassign @FluorineDog
/assign

[2021-07-14 03:48] ThreadDao opened #6501 "After dataNode pod is shrunk, insert data and get incorrect num_entities"
#### Describe the bug:
1. deploy cluster milvus with two dataNode pods
2. create `scale_data_one` collection and insert 1200 entities
3. create `scale_data_two` collections and insert 1200 entities
4. shrink dataNode pod which channel is collection `scale_data_two` (dataNode pods from 2 to 1)
5. insert 1200 entities into collection `scale_data_two`
6. num_entities of collection `scale_data_two` is

[2021-07-14 03:51] DragonDriver opened #6502 "Loose the limit of dimension when searching on a binary vector field"
**What would you like to be added ?**
I want to loose the limit of dimension when searching on a binary vector field.

**Why is this needed ?**
Improve the stability of segcore and query nodes.

[2021-07-14 03:52] xiaofan-luan commented on #6488
please offer call stack of your exceptions, most likely it is temp list your declaired causing race condition

[2021-07-14 03:59] yan-rui commented on #6397
seems like #5398

[2021-07-14 03:59] DragonDriver commented on #6502
/assign
/kind enhancement

[2021-07-14 04:12] cydrain opened #6505 "Update RetrieveRequest"
**Please state your issue using the following template and, most importantly, in English.**

**What would you like to be added ?**
message RetrieveRequest {
   int64 collectionID = 4;
   repeated int64 partitionIDs = 5;
   schema.IDs ids = 6;
-  repeated string output_fields = 7;
+  repeated int64 output_fields_id = 7;
   uint64 travel_timestamp = 8;
   uint64 guarantee_timestamp = 9;
 }

 message

[2021-07-14 04:17] scsven commented on #6088
No activity, close.

[2021-07-14 04:17] #6088 closed

[2021-07-14 04:18] scsven commented on #6012
No activity, close.

[2021-07-14 04:18] #6012 closed

[2021-07-14 04:26] xiaofan-luan commented on #6387
Duplicate #6323

[2021-07-14 04:30] austinjung commented on #6491
We increased the hard disk. But I wonder Milvus saves search results in a local file system.
And I've searched with a list of one vector, And the output_fields=['system_code', 'entity', 'synonym']. Only three integer fields. And for top_k = 10.
I don't think the search results are big.

It happens when I do a stress test with a list of one vector after 753,000 similarity searches.
I wonder Milvus

[2021-07-14 05:11] #6505 closed

[2021-07-14 06:15] #6459 closed

[2021-07-14 06:23] sunby commented on #6501
/assign @sunby

[2021-07-14 06:33] #6502 closed

[2021-07-14 06:36] DragonDriver commented on #6497
Fixed.

[2021-07-14 06:36] #6497 closed

[2021-07-14 06:39] DragonDriver commented on #6411
I will implement this soon.

[2021-07-14 07:01] neza2017 opened #6507 "partition.num_entities return incorrect value"
[code]
CI : <https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-6500/3/pipeline/>

[2021-07-14 07:10] XuanYang-cn commented on #6483
**DataNode**
- Running pprof, goroutinue and memory leak is caused by BackGroundGC problem.

[2021-07-14 07:19] yan-rui opened #6509 "1.1.1版本logs.max_log_file_size 不支持 512MB 格式"
#### Describe the bug:
`Invalid max_log_file_size: 512MB. Possible reason: logs.max_log_file_size is not in range [536870912, 4294967296].`

#### Configuration file:
`logs:
  level: debug
  trace.enable: true
  path: /var/lib/milvus/logs
  max_log_file_size: 512MB
  log_rotate_num: 10
  log_to_stdout: false
  log_to_file: true`

[2021-07-14 07:42] yan-rui commented on #6509
I made a mistake

[2021-07-14 07:42] #6509 closed

[2021-07-14 07:58] fly2 opened #6512 "The retrieval time of ivf_flat index is longer than that of flat index in high-dimensional data mass query."
#### Describe the bug:
使用200万条4016维数据生成index，使用nq=1000，nprobe=128，topk=10时，发现IVF_FLAT索引查询时间远高于FLAT索引查询时间。IVF_FLAT索引需要190s，FLAT只需要90s。

#### Expected behavior:
使用IVF_FLAT索引查询时间低于FLAT索引查询时间

#### Steps/Code to reproduce:

#### Environment:
- Milvus version(e.g. v1.1.1): v1.1.1
- SDK version(e.g. pymilvus v1.1.2):pymilvus v1.1.2
- OS(CentOS): CentOS
- CPU/Memory: 40  Intel(R) Xeon(R) CPU E5-2630 v4 @

[2021-07-14 07:58] del-zhenwu commented on #6363
@jeffoverflow , we need to expose it in helm configuration for users.

[2021-07-14 08:10] binbinlv opened #6514 "queryNode.gracefulTime should be exposed to be modifiable"
#### Describe the bug:
queryNode.gracefulTime is not modified when modify it to 0 in milvus.yaml

#### Expected behavior:
queryNode.gracefulTime should be exposed to be modifiable

#### Steps/Code to reproduce:
Details are in issue #5858

#### Environment:
- Milvus version(e.g. v1.1.0 or 8b23a93):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

####

[2021-07-14 08:25] binbinlv commented on #5858
There is a queryNode.gracefulTime in milvus.yaml which is default as 1000ms. Then after insert, it is allowed for search not to get the data in 1s. But now this value queryNode.gracefulTime is not exposed to be modified, so it will not work even modify this value to 0 in milvus.yaml.

After time.sleep(1) between new insert and search, this case passed, so work as design and close this issue.

But

[2021-07-14 08:25] #5858 closed

[2021-07-14 08:29] xige-16 commented on #6514
/assign @czs
/assign @jeffoverflow

[2021-07-14 08:29] xige-16 commented on #6514
/unassign

[2021-07-14 08:32] XuanYang-cn opened #6515 "DataNode BackGroundGC is not working"
After drop collection, the flowgraphs not released

[2021-07-14 08:33] XuanYang-cn commented on #6515
see also #6483

[2021-07-14 08:34] ThreadDao commented on #6501
The logs:
[proxy.log](https://github.com/milvus-io/milvus/files/6814694/proxy.log)
[datacoord.log](https://github.com/milvus-io/milvus/files/6814696/datacoord.log)
[datanode1.log](https://github.com/milvus-io/milvus/files/6814697/datanode1.log)
[datanode2.log](https://github.com/milvus-io/milvus/files/6814699/datanode2.log)
[datanode1.1.log](https://github.com/milvus-io/milvus/files/6814700/datano

[2021-07-14 08:46] binbinlv opened #6517 "Async Search results wrong after the first successful sync search"
#### Describe the bug:
Async Search results wrong after the first successful sync search

#### Expected behavior:
Async Search results return right

#### Steps/Code to reproduce:
from pymilvus_orm import CollectionSchema, FieldSchema
from pymilvus_orm import Collection
from pymilvus_orm import connections
from pymilvus_orm.types import DataType
int64_field = FieldSchema(name="int64", dtype=DataTyp

[2021-07-14 08:50] del-zhenwu opened #6518 "Expose milvus configuration in helm charts for users"
**Please state your issue using the following template and, most importantly, in English.**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. E.g. I wish I could use Milvus to do [...]

**Describe the solution you'd like**
Users can use customize configs when deploy milvus with k8s

**Describe alternatives you've considered*

[2021-07-14 09:14] #6499 closed

[2021-07-14 09:24] DragonDriver commented on #6517
/assign @xiaocai2333

[2021-07-14 09:36] yanliang567 opened #6520 "[Chaos] Flush requested during chaos hang if datanode deleted"
#### Describe the bug:
if datanode deleted after a flush requested and before the flush completed, the  flush hang even after datanode get back to running

#### Steps/Code to reproduce:
1. deploy Milvus 2.0 with cluster mode
2. write a loop to insert data and flush
3. delete datanode

#### Expected behavior:
The flush request can return timeout, or it can return success after datanode back. But ha

[2021-07-14 09:36] yanliang567 commented on #6287
verify on master-20210714-f3a5b46 that inserting succeeds.
But flush requested during chaos hangs

[2021-07-14 09:36] #6287 closed

[2021-07-14 09:37] shanghaikid commented on #6249
Any updates ? will we have a design doc for this feature? @DragonDriver

[2021-07-14 09:57] DragonDriver commented on #6517
/unassign
I made a mistake when using grpc future. It was already fixed, maybe ORM should update the dependency of pymilvus.

[2021-07-14 10:12] XuanYang-cn commented on #6515
In unittest, the BackGroundGC works fine.

Need further tests.

[2021-07-14 10:14] xuewenzhang commented on #6488
Exception in thread "pool-1-thread-3" java.util.ConcurrentModificationException
	at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:901)
	at java.util.ArrayList$Itr.next(ArrayList.java:851)
	at com.google.protobuf.AbstractMessageLite$Builder.addAllCheckingNulls(AbstractMessageLite.java:372)
	at com.google.protobuf.AbstractMessageLite$Builder.addAll(AbstractMessageLite.java:434)
	at i

[2021-07-14 10:23] DragonDriver commented on #6517
I change the version of pymilvus and then everything is ok, so maybe you can have a try. thx @binbinlv
/unassign
/assign @binbinlv

[2021-07-14 10:28] XuanYang-cn commented on #6515
how to reproduce the leaking:

[code]

[2021-07-14 10:51] #6411 closed

[2021-07-14 10:56] ss892714028 opened #6524 "Data type discrepancy in Milvus REST api"
**Please state your issue using the following template and, most importantly, in English.**
when adding a vector, you need to pass the id as a string
{
  "partition_tag": $string,
  "vectors": [[number($float/$uint8)]],
  "ids": [$string]
}
However, But when searching for a vector by id, we must pass int:
$ curl -X GET "http://127.0.0.1:19121/collections/test_collection/vectors?ids=157898902964509

[2021-07-14 11:12] yhmo commented on #6512
I do some test on my machine cpu 12 cores, 64g mem.
With the config:
[code]

IVF_FALT search time cost: 326 seconds
FLAT         search time cost: 234 seconds

FLAT is faster than IVF_FLAT. I think this is a problem. @shengjun1985

Use the following script to test:
[code]

[2021-07-14 11:13] cydrain opened #6526 "Query result contains duplicated field data"
#### Describe the bug:
In following script, output fields contain 3 fields.
But by debugging the result.FieldsData, it contains 5 fields.

[code]

#### Expected behavior:
Please check if it's correct behavior.

[2021-07-14 11:23] yhmo commented on #6512
Let say each distance calculation between two vectors is a "unit".
For FLAT, all compute work require 2000000 * 1000 = 2 billion units
For IVF_FLAT, there are 13 segments, all compute work require 13 * 4096 * 1000 + 2000000 * (128/4096) * 1000 = 0.1 billion units

Theoretically, IVF_FLAT should be 20 times faster than FLAT.

[2021-07-14 12:14] binbinlv commented on #6517
Now the error is reproduced after running test async and sync search cases for a while,

<pymilvus.client.stub.Milvus object at 0x7fc1ddf73278>

1200

0

milvus master: latest
Name: pymilvus
Version: 2.0.0rc3.dev1
Name: pymilvus-orm
Version: 2.0.0rc3.dev5

Logs:
[log.tar.zip](https://github.com/milvus-io/milvus/files/6815904/log.tar.zip)

[2021-07-14 12:28] xige-16 opened #6527 "queryCoord's activeTask info can't be deleted on etcd when execute failed"
#### Describe the bug:
When watchQueryChannels task failed on querynode, queryCoord can't delete the task info from etcd

#### Expected behavior:

#### Steps/Code to reproduce:

#### Environment:
- Milvus version(e.g. v1.1.0 or 8b23a93):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-07-14 12:28] xige-16 commented on #6527
/kind bug

[2021-07-14 12:28] xige-16 commented on #6527
/assign

[2021-07-14 12:44] ThreadDao opened #6528 "The search gets stuck after the queryNode pod shrinks"
#### Describe the bug:

1. deploy cluster milvus with two queryNode pods
2. create `query_scale_one` collection and insert 5000 entities
3. search  on `query_scale_one` with nq=5, limit=10, {"metric_type": "L2", "params": {"nprobe": 10}}
4. create `query_scale_two` collections and insert 5000 entities
5. search  on `query_scale_two` with nq=5, limit=10, {"metric_type": "L2", "params": {"nprobe": 1

[2021-07-14 14:46] xiaofan-luan commented on #6484
which node consumes most of the data?

[2021-07-14 14:47] xiaofan-luan commented on #6483
good catch

[2021-07-14 14:48] #6468 closed

[2021-07-14 14:49] xiaofan-luan commented on #6462
/assign @FluorineDog  please take a look

[2021-07-15 00:01] JackLCL commented on #6275
My issue is as same as with [#6528](https://github.com/milvus-io/milvus/issues/6528)

[2021-07-15 01:53] DragonDriver opened #6529 "Refactor the snapshot of timestamp statistics in proxy"
**What would you like to be added ?**

I want to refactor the snapshot of timestamp statistics in proxy.

**Why is this needed ?**

Proxy will send timestap statistics to Root Coordinator periodically. The timestamp statistics were generated by scheduler in proxy. When there are task changes in scheduler, for example, task enqueue, task done, task failed, scheduler will update the snapshot of time

[2021-07-15 01:53] DragonDriver commented on #6529
/kind enhancement
/assign

[2021-07-15 02:09] jeffoverflow opened #6530 "Add healthy check for the Milvus component containers."
**Please state your issue using the following template and, most importantly, in English.**

**Is your feature request related to a problem? Please describe.**
Configure liveness, readiness and startup probes for the Milvus component containers.The kubelet uses liveness probes to know when to restart a Milvus container.

[2021-07-15 02:15] del-zhenwu commented on #6484
The above result comes from testing with the standalone mode, will try cluster mode during regression testing.

[2021-07-15 02:22] DragonDriver opened #6531 "Create query channels according to the different collection id and proxy id"
**What would you like to be added ?**

I want Query Coordinator (QC) to create different query channels according to the different collection id and proxy id.

**Why is this needed ?**

When dealing with search-related requests, proxy use msgstream to communicate with query nodes. There are two types of msgstream used for search-releated requests, one is request stream, another is result stream. P

[2021-07-15 02:22] DragonDriver commented on #6531
/assign @xige-16
/kind enhancement

[2021-07-15 02:28] wangting0128 opened #6532 "move a part of fixtures to conftest file"

[2021-07-15 02:29] wangting0128 opened #6533 "Add README_CN.md of test"

[2021-07-15 02:36] jeffoverflow opened #6534 "Require related issue in Pull Request"
**Please state your issue using the following template and, most importantly, in English.**

**Describe the solution you'd like**
To make sure each PR link to an issue, otherwise blocking automatic merging.

[2021-07-15 02:37] jeffoverflow commented on #6534
/kind enhancement

[2021-07-15 02:42] wangting0128 commented on #6533
https://github.com/milvus-io/milvus/pull/6525

[2021-07-15 02:50] del-zhenwu commented on #6374
also repro with standalone version

[2021-07-15 02:51] scsven commented on #6534
/triage accepted

[2021-07-15 02:52] shengjun1985 commented on #6512
Hi, all
This issue can not be analyzed only from the amount of calculation.
We also need to consider the data access mode, the number of CPU cores, the CPU cache size (L1/L2/L3), and so on.
However, FLAT accesses data more locally and more efficiently than IVF does.
So in some cases, it is possible that FLAT is more efficient than IVF.

[2021-07-15 02:53] ThreadDao commented on #6352
/unassign @ThreadDao
/assign @scsven

[2021-07-15 02:59] yhmo commented on #6512
@fly2

For high dimension vectors, currently the algorithm didn't consider the L1 cache miss rate. It is a valuable improvement in the future version(v2.x).

Now the reality is FLAT is faster than IVF_FALT for high dimension vectors. We suggest use FLAT for high dimension vectors searching, and you even can improve FLAT performance by 20% ~ 25% with using openblas lib, just add a config at the end

[2021-07-15 03:00] bigsheeper opened #6536 "Provides an introduction to flow graph"
**Provides an introduction to flow graph**

**Describe the problems or issues found in the documentation**
What is flow graph and how to use flow graph, and so on...

[2021-07-15 03:10] scsven commented on #6536
/kind improvement

[2021-07-15 03:11] scsven commented on #6524
/kind improvement

[2021-07-15 03:14] scsven commented on #6275
@JackLCL There are clear steps in #6528, please discuss there.

[2021-07-15 03:17] binbinlv opened #6538 "inconsistent error message for unsupported search field"
#### Describe the bug:
inconsistent error message for unsupported search field:
search field only support str, for unsupported types:
(1)class 'list': []
TypeError: unhashable type: 'list'
(2) class 'int': 1
Field 1 doesn't exist in schema
(3) <class 'tuple'>: (1,)
Field (1,) doesn't exist in schema
(4) <class 'dict'>: {1: 1}
TypeError: unhashable type: 'dict'
(5) <class 'NoneType'>: None
 Field N

[2021-07-15 03:38] JackLCL commented on #6275
OK

[2021-07-15 03:49] #6275 closed

[2021-07-15 03:49] xiaofan-luan commented on #6528
/assign @bigsheeper could you please take a look on reproducing this issue?

[2021-07-15 03:52] bigsheeper commented on #6528
okay

[2021-07-15 04:01] #6534 closed

[2021-07-15 04:03] nameczz commented on #6419
I think this is fixed. Thanks!

[2021-07-15 04:03] #6419 closed

[2021-07-15 04:29] yhmo opened #6540 "Debug v2.0 with IDE, milvus crashed with error"
#### Describe the bug:
Debug v2.0 with IDE, milvus crashed with error:
`Could not load source './<autogenerated>': 'SourceRequest' not supported`

#### Expected behavior:

#### Steps/Code to reproduce:
1. Us vscode v1.58 to launch/debug milvus v2.0
2. client do something such as insert/query

#### Environment:
- Milvus version(e.g. v1.1.0 or 8b23a93): v2.0rc2
- SDK version(e.g. pymilvus v2.0.0rc2)

[2021-07-15 05:31] binbinlv opened #6541 "Type check is lacked for search data (vector) parameter"
#### Describe the bug:
for search:
:type  data: list[list[float]]

Type check is lacked for search data (vector) parameter

(1) <class 'str'>: 1*2
The dimension of query entities is different from schema
(2) <class 'list'>: [1, 2]
TypeError: object of type 'int' has no len()
(3) <class 'list'>: ['a']
The dimension of query entities is different from schema
(4) <class 'list'>: [None]
object of type

[2021-07-15 06:22] shengjun1985 commented on #6492
The issue seems to be solved.
Close.

[2021-07-15 06:22] #6492 closed

[2021-07-15 06:27] shengjun1985 commented on #6268
Many bugs are fixed in the latest release. Please update.
And if you meet more problems, please continue to contact our community.

[2021-07-15 06:27] #6268 closed

[2021-07-15 06:28] shengjun1985 commented on #5758
It seems to be solved.

[2021-07-15 06:28] #5758 closed

[2021-07-15 06:28] #6540 closed

[2021-07-15 06:29] yhmo commented on #6540
Fixed by #6539

[2021-07-15 06:29] shengjun1985 commented on #5813
If you meet more problems, please continue to contact our community.

[2021-07-15 06:29] #5813 closed

[2021-07-15 06:33] shengjun1985 commented on #4853
It is supported. Thanks all.

[2021-07-15 06:33] #4853 closed

[2021-07-15 06:41] #4472 closed

[2021-07-15 06:56] shengjun1985 opened #6544 "[Detail Design] Knowhere"
**Please state your issue using the following template and, most importantly, in English.**

**Location of incorrect documentation**
https://github.com/milvus-io/milvus/tree/master/docs/design_docs

**Describe the problems or issues found in the documentation**
Need a detail design of Khowhere.

---

[2021-07-15 07:05] shengjun1985 commented on #4831
[v1.1.1 performance_benchmark](https://github.com/milvus-io/bootcamp/blob/1.1/benchmark_test/performance_benchmark.md)

[2021-07-15 07:05] #4831 closed

[2021-07-15 07:10] DragonDriver commented on #6517
The pymilvus version you used may be too low. I test this with pymilvus version `2.0.0rc3.dev2`.

[2021-07-15 07:11] DragonDriver commented on #6538
OK, i will fix this soon. thx for pointing this. @binbinlv

[2021-07-15 07:23] shengjun1985 commented on #6038
It is supported in branch 1.1.
And the users can compile it locally.

[2021-07-15 07:23] #6038 closed

[2021-07-15 07:37] binbinlv commented on #6517
Upgrade the pymilvus version to next one after 2.0.0rc3.dev1. Verified and fixed. Thanks. @DragonDriver
Name: pymilvus
Version: 2.0.0rc3.dev2
Name: pymilvus-orm
Version: 2.0.0rc3.dev5

[2021-07-15 07:37] #6517 closed

[2021-07-15 07:57] XuanYang-cn commented on #6515
The reason is:

When rootcoord publishes `drop-collection` message into pulsar, it also sends a final timetick message so that flowgraphs in datanode will receive this `drop-collection` message.

But the rootcoord doesn't send the final timetick message to the **right channels**, so DataNode never receives `drop-collection` message, thus never releases any flowgraphs.

[2021-07-15 07:57] yan-rui opened #6547 "Milvus crashed after restart"
#### Describe the bug:
重启之后cpu占用升高，一段时间后崩溃
重建index之后恢复正常

#### Environment:
- Milvus version(e.g. v1.1.0 or 8b23a93): v1.1.1
- SDK version(e.g. pymilvus v2.0.0rc2):java v1.1.0
- OS(Ubuntu or CentOS): CentOS
- CPU/Memory: 3核/6G
- Others: 两个collection，一个23w*128dim，一个12w*128dim，50qps

#### Configuration file:

#### Additional context:
日志
`
INFO
[2021-07-15 14:58:12,067][INFO][SERVER][HandleSignal][mi

[2021-07-15 07:57] jeffoverflow opened #6548 "Automated update container images in GitHub Action"
**Please state your issue using the following template and, most importantly, in English.**

**What would you like to be added ?**
Automated update container images in GitHub Action

/kind enhancement

[2021-07-15 07:58] czs007 opened #6549 "Doc error: MsgStream do not return DdResult to Proxy"
**Location of incorrect documentation**
docs/developer_guides/figs/proxy.png

**Describe the problems or issues found in the documentation**
The information flow between Proxy and MsgStream is wrong, MsgStream does not return DdResult to Proxy, it should be DqResult.

[2021-07-15 08:07] XuanYang-cn opened #6552 "When release flowgraph, many producers not closed in DataNode"
#### Describe the bug:
Causing goroutine and mem leaking

[code]

#### Expected behavior:
producers are closed

#### Steps/Code to reproduce:

keep doing this:

create collection -> insert -> drop_collection

see also: #6483

[2021-07-15 08:09] XuanYang-cn commented on #6483
After #6551, BackGroundGC in datanode works as expected, no flowgraph goroutinue is leaking.

working on #6552 now.

[2021-07-15 08:16] del-zhenwu opened #6554 "Sometimes the client is frozen during loading."
#### Describe the bug:
Sometimes the client is frozen during loading operations, only sift1m dataset need to be loaded
As the following monitor result shows, the server is not receive any data, and memory not ricing after 4min, but the client get no response in 20 mins.
[code]
![Kubernetes-Compute-Resources-Pod-Grafana (9)](https://user-images.githubusercontent.com/56623710/125753702-6bf5ecdf-9915

[2021-07-15 08:21] del-zhenwu commented on #6554
/kind bug

[2021-07-15 08:36] #6512 closed

[2021-07-15 08:37] sunby opened #6557 "datacoord_test.go failed"
When run unit test, internal/distributed/datacoord/datacoord_test.go failed.
The reason is datacoord is registered to etcd twice and root coord is not registered to etcd.
We should create a mock rootcoord to hide the network layer.

[2021-07-15 08:38] #6533 closed

[2021-07-15 08:38] #6532 closed

[2021-07-15 08:54] sunby opened #6559 "remove deprecated interface in datacoord"

[2021-07-15 08:55] yan-rui commented on #6151
How to update user's state ？ I cant find api in pymilvus or java sdk.

[2021-07-15 08:59] DragonDriver commented on #6538
Already fixed, please retest this. thx.

/unassign
/assign @binbinlv

[2021-07-15 09:20] DragonDriver commented on #6541
Already fixed.

[2021-07-15 09:21] DragonDriver commented on #6541
/unassign
/assign @binbinlv

[2021-07-15 09:26] #6548 closed

[2021-07-15 09:30] ThreadDao opened #6563 "The cost of creating index increases a lot after indexNode shrinks"
#### Describe the bug:
1. deploy cluster milvus with 2 indexNode pods
2. create collection and insert 500,000 entities in 10 times
3. creat index `default_index_params = {"index_type": "IVF_SQ8", "metric_type": "L2", "params": {"nlist": 128}}` with cost `t0=0:00:06.765438`
4. drop index and shrink indexNode from 2 to 1
5. create index(same as default_index_params) with cost `t1 = 0:00:42.822481`
[

[2021-07-15 09:31] del-zhenwu commented on #6554
another issue: the given timeout set 3000s, but still no response after 1h passed

[2021-07-15 09:47] #6529 closed

[2021-07-15 10:00] wangting0128 opened #6564 "Upload codecov report in GitHub Actions"

[2021-07-15 10:11] yhmo commented on #6547
Is the milvus gpu version(1.1.1-gpu-d061621-330cc6) or cpu version(1.1.1-cpu-d061621-330cc6) ?

[2021-07-15 10:20] ThreadDao commented on #6501
It fixed. I regress it based on `84b9791` server.

[2021-07-15 10:20] #6501 closed

[2021-07-15 10:21] yhmo commented on #6491
Ok, I see. Your feeling are right, the milvus v2.0 standalone mode store search parameters into RocksDB, because to make code unify logic, we use RocksDB to emulate Pulsar message stream. Each time you invoke search, the search parameter will be stored into rocksdb data path, this path is defined in the milvus.yaml:
[code]
We will use a new message stream class(in memory) to handle search request,

[2021-07-15 10:24] czs007 opened #6566 "Enrich the logs of IndexCoordinator and IndexNode"
In order to debug errors based on logs more conveniently, the logs of IndexCoordinator and IndexNode need to be enriched.

Need to add more logs in the following places，such as:

IndexCoordinator:

​ At the end of BuildIndex, log the IndexBuildID and the corresponding req parameters (especially IndexID), so that it is convenient to identify IndexBuildID and corresponding req.

​ After the assignme

[2021-07-15 10:24] DragonDriver commented on #6526
/assign
/unassign @FluorineDog

[2021-07-15 10:33] DragonDriver commented on #6526
We cannot retrive vector field now. I removed `float_vector_field` and it seems that everything is OK.

[2021-07-15 10:59] binbinlv commented on #6538
Verified and fixed. Thx.

Results:
`anns_field` value *** is illegal

Name: pymilvus
Version: 2.0.0rc3.dev4
Name: pymilvus-orm
Version: 2.0.0rc3.dev5

[2021-07-15 10:59] #6538 closed

[2021-07-15 11:06] XuanYang-cn opened #6567 "Rootcoord unittest bug"
[code]
https://github.com/milvus-io/milvus/pull/6551/checks?check_run_id=3074525757

[2021-07-15 11:10] yan-rui commented on #6547
cpu

[2021-07-15 11:15] binbinlv commented on #6541
Verified and fixed. Thx.

Name: pymilvus
Version: 2.0.0rc3.dev4
Name: pymilvus-orm
Version: 2.0.0rc3.dev5

Results:
`search_data` value ** is illegal

[2021-07-15 11:15] #6541 closed

[2021-07-15 11:38] binbinlv opened #6569 "Search results for binary (TANIMOTO) is wrong"
#### Describe the bug:
Search results for binary (TANIMOTO) is wrong when both auto_id and _async are true
collection.num_entities
2
len(res[0])
1
#### Expected behavior:
 len(res[0]) == nb when limit > nb

#### Steps/Code to reproduce:
[code]

Results:
[code]

#### Environment:
- Milvus version(e.g. v1.1.0 or 8b23a93): latest
- SDK version(e.g. pymilvus v2.0.0rc2):
Name: pymilvus
Version: 2.0.0rc

[2021-07-15 13:18] #6549 closed

[2021-07-15 16:17] chole22 opened #6571 "Htt"
#### Describe the bug:

#### Expected behavior:

#### Steps/Code to reproduce:

#### Environment:
- Milvus version(e.g. v1.1.0 or 8b23a93):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-07-15 16:18] chole22 commented on #6571
-

[2021-07-15 16:27] chole22 opened #6572 "sunby:fix_datacoord_ut_failed"
#### Describe the bug:

#### Expected behavior:

#### Steps/Code to reproduce:

#### Environment:
- Milvus version(e.g. v1.1.0 or 8b23a93):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-07-15 18:22] austinjung commented on #6491
When is the release plan date for rc3 version?
And When will Milvus schema accept DataType.STRING type for CollectionSchema?

Thanks.

[2021-07-15 20:00] filip-halt opened #6573 "Discrepancy after insert"
#### Describe the bug:
When inserting data through multiple proxies and using multiple data nodes, the end result and count of the inserted data is incorrect. This occurred when running 10 proxies + 10 datanodes, 5 + 5, and 4 + 4

Might be the same cause as issue #6507

#### Expected behavior:
Insert 10M vectors, result of 10M vectors

#### Steps/Code to reproduce:
1. Start up cluster with 4+ prox

[2021-07-15 23:16] filip-halt commented on #6364
Did some further testing, it seems like only up to two nodes are being used even when running 15 proxies all inserting a total of 10M vectors. How does 2.0 choose which nodes to use?

[2021-07-16 00:54] chole22 commented on #6364
[]()

[2021-07-16 01:49] xiaocai2333 commented on #6226
It has been fixed in 2.0.0rc2, please check it.

[2021-07-16 01:49] xiaocai2333 commented on #6226
@PahudPlus

[2021-07-16 02:11] yhmo commented on #6491
Ideally, the interval of two minor release is 2 weeks (rc1 to rc2 is 15 days). The rc2 is released on July 12, so the rc3 release day would be July 25/26.

The string type is a big feature, in plan it will be completed in the official release 2.0(Aug or Sept).

[2021-07-16 02:15] XuanYang-cn opened #6574 "Data race when mq msgstream close"
#### Describe the bug:
https://github.com/milvus-io/milvus/pull/6551/checks?check_run_id=3076091397
[code]

[2021-07-16 02:17] yanliang567 commented on #6571
@chole22 Could you please give more information about the issue? what is is Htt ? which version of Milvus and pymilvus are you using?

[2021-07-16 02:17] yanliang567 commented on #6571
/assign @chole22

[2021-07-16 02:21] #6527 closed

[2021-07-16 02:26] DragonDriver opened #6576 "Bug: duplicated primary field ids were added when retrieving entities"
same as: #6526

When proxy receives a retrieve request, it will translate output_fields defined in request to fields id. In this process, proxy adds duplicated primary field. Although proxy will filter the duplicated fields and unused fields and the results returned to users are correct, this bug will lead the developer confusing and misunderstanding.

/kind bug
/assign

[2021-07-16 02:29] FluorineDog commented on #6486
Not a bug, auto_id is NOT guaranteed to start from zeros.

[2021-07-16 02:43] XuanYang-cn commented on #6574
#### How to reproduce locally:

Add this test in `internal/msgstream/mq_msgstream_test.go` and run with

[code]
[code]

[2021-07-16 02:49] fishpenguin commented on #6491
Currently, if it is confirmed that the msg data is applied(the data is inserted, flushed and search request is done), you can delete the content in rocksdb folder manuallly and restart milvus standalone .

[2021-07-16 02:50] sunby opened #6578 "Watch channel via etcd"
**Please state your issue using the following template and, most importantly, in English.**
DataCoord send `WatchDmChannel` request to DataNode by grpc. If the connection between them closes, we need to have a retry mechanism to avoid losing channel. It raise the complexity for our system.
**What would you like to be added ?**
DataCoord can register channels on etcd and DataNode watch etcd to do w

[2021-07-16 02:52] XuanYang-cn commented on #6574
/kind bug

[2021-07-16 03:02] binbinlv commented on #6486
OK， and use "float" field to test, then it pass. Close it.

[2021-07-16 03:02] #6486 closed

[2021-07-16 03:03] xige-16 commented on #6578
How DataCoord get dataNode watchDmChannel done?

[2021-07-16 03:18] yanliang567 commented on #6530
/assign @xiaofan-luan

[2021-07-16 03:35] ThreadDao opened #6580 "Lack of indexNode scale test"
**Please state your issue using the following template and, most importantly, in English.**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. E.g. I wish I could use Milvus to do [...]

**Describe the solution you'd like**
Lack of indexNode scale test

**Describe alternatives you've considered**
A clear and concise descripti

[2021-07-16 04:01] xiaofan-luan commented on #6151
once delete is supported, you can delete the offlined user and maintain a online user vector list

[2021-07-16 04:01] xiaofan-luan commented on #6151
once delete is supported, you can delete the offlined user and maintain a online user vector list

[2021-07-16 04:01] yhmo commented on #6547
I tried start a docker container with 3 cpus and 6GB memory, insert two collections with 230000 128dim and 160000 128dim vectors. Then create 50 clients/threads to search. Restart the container several times, but I could not reproduce the crash.

[2021-07-16 04:09] eeezae opened #6582 "Milvusdm crashed when export collection data"
#### Describe the bug:

Test export collection feature data with 10,000 pictures succeed but failed on exporting the collection with 300,000+ pictures.

![image](https://user-images.githubusercontent.com/34007837/125890102-0b6191e6-de7a-4a05-a340-9a38b8437698.png)

![image](https://user-images.githubusercontent.com/34007837/125890118-b873db8d-80e4-4773-9358-8a905c596783.png)

#### Expected behavio

[2021-07-16 05:06] ThreadDao opened #6583 "The skip-ci commit missing ci-passed label"
#### Describe the bug:
You expected to skip ci and auto-merge but need to add ci-passed label manually every time.

#### Expected behavior:
Detect last commit skip-ci and auto label ci-passed

#### Steps/Code to reproduce:

#### Environment:
- Milvus version(e.g. v1.1.0 or 8b23a93):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration f

[2021-07-16 06:33] scsven commented on #6211
Some other issue templates have also been outdated, I will update them.

[2021-07-16 06:50] chole22 commented on #6557
#6565 6557

[2021-07-16 06:51] DragonDriver opened #6585 "Add trace information for insert requests and search requests in entire system"
**What would you like to be added ?**

I want to add trace information for insert requests and search requests in entire system.

**Why is this needed ?**

Insert and search tasks are the main workload in Milvus, insert is the main write path, search is the main read path. By doing this, we can easily know the call path and data path in Milvus and we can use these trace information to find the bot

[2021-07-16 06:51] DragonDriver commented on #6585
/kind enhancement
/assign

[2021-07-16 06:57] wangting0128 commented on #6564
https://github.com/milvus-io/milvus/pull/6565

[2021-07-16 06:57] #6564 closed

[2021-07-16 07:08] xxc1997 opened #6586 "h"
#### Describe the bug:

#### Expected behavior:

#### Steps/Code to reproduce:

#### Environment:
- Milvus version(e.g. v1.1.0 or 8b23a93):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-07-16 07:12] #6586 closed

[2021-07-16 07:35] yan-rui commented on #6547
这个崩溃不是必现的，现在一切正常了。
重启的时候一直存在cpu用量翻倍，响应时间翻倍的问题。grafana 监控中 data_size 指标每几秒个位数增长，持续4个多小时，然后突然增长到230k。是在加载entity吗？

[2021-07-16 07:55] EnterChaser opened #6587 "N"
#### Describe the bug:

#### Expected behavior:

#### Steps/Code to reproduce:

#### Environment:
- Milvus version(e.g. v1.1.0 or 8b23a93):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-07-16 08:14] lsgrep commented on #4812
Hi, I would like to take a shot at implementing the `collection rename` feature if it is OK with you guys. I am still reading through the codebase. I have some rough ideas at the moment, but I would love to post refined design ideas next week and discuss them with you guys before starting the actual coding.

[2021-07-16 08:15] nameczz commented on #6472
Sdk need check dimension when insert into binary field for now

[2021-07-16 08:15] #6472 closed

[2021-07-16 08:15] #6580 closed

[2021-07-16 08:39] yhmo commented on #4812
Thank you for willing to help us design/implement this feature.
Are you reading the v2.0 codebase(in the master branch)? We marked this feature as "2.0-Backlog" now.
Before we starting a new feature, we put design doc in this site: https://github.com/milvus-io/milvus/tree/master/docs/design_docs, if you have a raw design/idea, please feel free to create a new design doc in this site for discussion

[2021-07-16 09:00] yanliang567 commented on #6436
it seems to be getting worse and worse, this time it repros by 3000 entities in CI tests(only in standalone pipeline):

stats = connect.get_collection_stats(collection_list[i])=
[2021-07-16T08:14:07.991Z] >           assert stats[row_count] == default_nb
[2021-07-16T08:14:07.991Z] E           assert 2064 == 3000
[2021-07-16T08:14:07.991Z] E             +2064
[2021-07-16T08:14:07.991Z] E

[2021-07-16 09:01] yanliang567 commented on #6436
@czs007 any updates, dudes?

[2021-07-16 09:02] yan-rui commented on #6151
Offline users will come back. How can I get their vectors again?

[2021-07-16 09:11] sunby opened #6589 "Save binlog paths in SegmentInfo"
Binlogs is a part of segment. So we save them in SegmentInfo

[2021-07-16 09:17] #6587 closed

[2021-07-16 09:17] #6571 closed

[2021-07-16 09:19] #6299 closed

[2021-07-16 09:33] jeffoverflow opened #6591 "The size of the Milvus logs is too large in KinD"
#### Describe the bug:
When an E2E test is executed in Jenkins CI, a large of Milvus server logs are generated.
Exporting these Milvus server logs is too time-consuming and causes CI execution to time out.

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-6562/6/pipeline

[2021-07-16 09:39] yanliang567 commented on #6591
I think we need to improve the Milvus service logs, especially when some service is hung, and many many logs are generated in short time.

[2021-07-16 09:39] lsgrep commented on #4812
Yes, I am reading the `master` branch code.  OK, I will follow your design process & open an issue for detailed discussion soon.  Thank you.

[2021-07-16 10:36] yhmo commented on #4812
Since this issue #4812 is for this feature "rename collection", we don't need create another issue, just add discussion/design in this issue.

[2021-07-16 10:36] yanliang567 commented on #5443
@czs007 could you please generate the api docs first? After that please assign this issue to @binbinlv  to develop tests for the new api

[2021-07-16 10:36] yanliang567 commented on #5443
/assign @czs007

[2021-07-16 10:38] binbinlv opened #6592 "Need type check and unified error message for search partition name"
#### Describe the bug:
Error message of search partition is a little confused
1 <class 'int'>: 1
Value must be iterable
2 <class 'list'>: [1, '2', 3]
TypeError: 1 has type int, but expected one of: bytes, unicode
3 <class 'tuple'>: (1,)
TypeError: 1 has type int, but expected one of: bytes, unicode
4  <class 'dict': {1: 1}
TypeError: 1 has type int, but expected one of: bytes, unicode
5  <class 's

[2021-07-16 10:50] binbinlv commented on #6592
And same issue on "output_fields" part, could you please modify it together?

[2021-07-16 11:52] ThreadDao opened #6593 "Query with none output_fields should return all fields"
#### Describe the bug:
When query with `output_fields=None` all fields should return. The collection has int64, float, float_vector three fields, but only int64 and float two fields are returned.

#### Expected behavior:
return all fields

#### Steps/Code to reproduce:
/milvus/test20/python_client/test_query.py
[code]

#### Environment:
- Milvus version(e.g. v1.1.0 or 8b23a93):
- a992dcf
- SDK ver

[2021-07-16 12:24] ThreadDao opened #6594 "Query failed with binary output field"
#### Describe the bug:
Query failed with binary output field
[code]

#### Expected behavior:
return binary vec field

#### Steps/Code to reproduce:
[code]

#### Environment:
- Milvus version(e.g. v1.1.0 or 8b23a93):
  a992dcf
- SDK version(e.g. pymilvus v2.0.0rc2):
  pymilvus 2.0.0rc3.dev5
  pymilvus-orm 2.0.0rc3.dev6
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

[2021-07-17 02:29] yhmo commented on #6547
能否截取出现这种异常情况时的日志发给我？包括info和debug以及error的

[2021-07-17 02:32] yhmo commented on #6582
Could you share your script how export collection feature data?

[2021-07-17 02:53] #6576 closed

[2021-07-17 03:19] RyanWei commented on #5330
Seems this an easy fix, can we have this fixed with priority? Data security is very critical on public cloud.

[2021-07-17 07:32] DragonDriver opened #6599 "Refactor snapshot of timestamp statistics in proxy"
#### What would you like to be added:

I want to refactor snapshot of timestamp statistics in proxy, change the workflow when generating timestmap statistics.

#### Why is this needed:

There is a small bug when scheduler generates the timestamp statistics.

We use below data structures to hold timestap statistics.

[code]

When there are task changes in scheduler, we will update the `pChanStatist

[2021-07-17 07:32] DragonDriver commented on #6599
/assign
/assign @czs007

[2021-07-17 07:34] czs007 commented on #6599
LGTM

[2021-07-17 07:50] fishpenguin opened #6601 "Rocksmq retention support"

[2021-07-17 08:31] #6599 closed

[2021-07-17 12:50] xiaohu4313888 opened #6604 "Unit tests for the Knowhere library are not available"
#### Describe the bug:

#### Expected behavior:
I try to make a unit test on knowhere, but it can't work.
Knowhere is too dependent on Milvus's third-party libraries to run and use as a stand-alone library

#### Steps/Code to reproduce:
include_directories(${MILVUS_THIRDPARTY_SRC})
#this line is in /index/knowhere line 50
set(depend_libs
        gtest gmock gtest_main gmock_main
        faiss fiu

[2021-07-17 13:49] yan-rui commented on #6547
再次崩溃了。这次只有INFO里面有一些异常日志，其他日志里面都没有异常。
我大概知道如何重现：
我的collection的创建参数：
indexFileSize=128
dimension=128
metricType=L2
创建索引参数：
nlist=2048
IndexType.IVF_FLAT

正常情况下查询耗时4ms。
每日流式写入6k左右，这6k是IDMAP，查询耗时逐渐增加到6ms，然后**GRPC接口卡住**。
此时重启，CPU、查询时间 暴涨且不稳定，data_size 指标从零以每几秒个位数增长
15分钟左右，**milvus崩溃**

再次重启后：
将此collection index 删掉，重新创建index，完成后，服务一切正常

INFO
[2021-07-17 21:11:12,550][INFO][SERVER][HandleSignal][milvus_s

[2021-07-17 15:41] XuanYang-cn commented on #6604
/assign

[2021-07-17 16:19] abodyy4272 commented on #6604
MILVUS_THIRDPARTY_SRC

[2021-07-17 16:19] abodyy4272 commented on #6604
MILVUS_THIRDPARTY_SRC

[2021-07-17 16:19] dsfjgdyh11 opened #6605 "免登陆不限速下载百度网盘资源"
免登陆不限速下载百度网盘资源
度老七官网 https://dulao7.com/
通过上边那个网站去下载百度网盘里边的资源，不需要登录自己的百度账号，而且下载的时候不限速，个人实测家庭带宽每秒下载20多MB每秒，有群友在服务器上实测下载速度每秒60多MB，欢迎大家前来体验！

【感谢项目主提供宝贵的地方让更多的人能用上这个好东西】

No login to download Baidu.com resources without speed limit
https://dulao7.com/
Through that website to download the resources in the Baidu network disk, do not need to log in their own Baidu account, and download speed is not limi

[2021-07-17 17:18] #6605 closed

[2021-07-18 03:30] #5636 closed

[2021-07-19 01:39] #5311 closed

[2021-07-19 01:40] #5449 closed

[2021-07-19 01:45] del-zhenwu opened #6606 "Can not get timestamp during indexing"
#### Describe the bug:

[code]
#### Expected behavior:

#### Steps/Code to reproduce:

#### Environment:
- Milvus version(e.g. v1.1.0 or 8b23a93): standalone
- SDK version(e.g. pymilvus v2.0.0rc2): rc3-004
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-07-19 01:51] del-zhenwu commented on #6106
still failed in nightly benchmark test.
https://argo-test.zilliz.cc/workflows/qa/benchmark-cron-1626458400?tab=workflow&nodeId=benchmark-cron-1626458400-1860241766
logs:
https://kibana-dev.zilliz.cc/app/discover#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'2021-07-16T23:30:00.000Z',to:'2021-07-17T00:30:00.000Z'))&_a=(columns:!(log),filters:!(('$state':(store:appState),meta:(ali

[2021-07-19 02:03] del-zhenwu opened #6607 "Proxy not healthy when random and concurrently inserting/flushing/searching"
#### Describe the bug:

[code]

logs:

https://kibana-dev.zilliz.cc/app/discover#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'2021-07-17T21:00:00.000Z',to:'2021-07-17T21:30:00.000Z'))&_a=(columns:!(log),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:ad1e1c50-c9d9-11eb-9e1a-b3dcad9693fd,key:kubernetes.pod_name,negate:!f,params:!(benchmark-cluster-cron-1626

[2021-07-19 02:06] yanliang567 opened #6608 "Need ReadMe for chaos tests"
#### Describe the bug:
need readme for chaos tests to introduce
1. why chaos tests
2. how to design chaos tests
3. how to run chaos tests

[2021-07-19 02:19] yhmo commented on #6547
从call stack看，像是跟#5398的问题原因类似，但是调用栈不完全一样。
从这些调用栈的地址我还定位不到具体的崩溃位置。如果能用debug编译的milvus来重现的话就更好了。

[2021-07-19 02:24] shiyu22 commented on #6582
Hi @eeezae,

I think it's a case of too much data causing not enough memory and then the process is being killed, you can check the memory with `htop` after the start of the command.

This problem does exist in `pymilvudm==1.0`, there is a similar issue under milvus-tools repo and it has been solved, you can refer to it: [#MIlvusdm issue with large scale data](https://github.com/milvus-io/milvus-t

[2021-07-19 02:28] cydrain commented on #6526
/close

[2021-07-19 02:28] #6526 closed

[2021-07-19 02:30] cydrain commented on #6401
@xuqinkun show me your branch, let me have a try

[2021-07-19 02:30] xige-16 opened #6609 "Load index for sealed segment if index built done after loadCollection or loadPartition"
#### What would you like to be added:
queryNode should load index for sealed segment after index builed done on indexNode
#### Why is this needed:
If index not loaded into queryNode, search on sealed segment would be slower.

[2021-07-19 02:31] xige-16 commented on #6609
/assign @bigsheeper
/assign

[2021-07-19 02:34] cydrain commented on #6238
I suggest to report error and exit.
Showing backtrace is not friendly for users.
@fishpenguin

[2021-07-19 02:36] yhmo commented on #6397
Analysis in #6547

[2021-07-19 02:42] orange-jams commented on #6151
Feature: Provides documentation for offline distributed deployment
Issue: #

For some reasons, we can only install offline software. So we hope the community can provide documents about offline Distributed Milvus 2.0 installation。

[2021-07-19 02:58] xuqinkun commented on #6401
@cydrain develop    https://github.com/xuqinkun/milvus

[2021-07-19 03:01] XuanYang-cn commented on #6574
/assign @xige-16

[2021-07-19 03:22] orange-jams opened #6611 "Offering a guide to install Milvus 2.0 locally"
#### Is your feature request related to a problem? Please describe:
For some reasons, we can only install offline software. And when i follow the online documents to deploy distributed milvus 2.0, some problems happened such as can't starting rootcoord.

#### Describe the solution you'd like:
So we hope the community can provide documents about offline Distributed Milvus 2.0 installation。

#### De

[2021-07-19 03:24] xiaocai2333 commented on #6427
Please retest it. Five days ago, I had a pr(#6459 ) that refactored the task allocation logic of IndexCoord. If this problem persists, please keep a log of IndexCoord and IndexNode.

[2021-07-19 03:35] xiaofan-luan commented on #6611
Hi Orange, as long as you have a docker/k8s environment, we believe is should be working no matter online or offline.
If you give out the error logs that would be helpful to investigate why root coordinator can not be up.

Offline deployment is complicated, do you guys think offer a installation guide is doable? @zwd1208 @jeffoverflow

[2021-07-19 03:41] orange-jams commented on #6611
I have provide the error logs on rootcoord can't start in discussions, here is th link: discussions:#6318

[2021-07-19 03:44] xiaofan-luan commented on #5330
@yhmo  can we add SslOption in 1.1.2?  It seems azure SQL force SSL and option1 will not work.
@ADBurpitt  it's a simple fix, yhmo has already point out the line of code to add, you may want to wait for next release or modified current code yourself, thanks.

[2021-07-19 03:45] jeffoverflow commented on #6611
@orange-jams  You can refer to this document at [How to Save and Load Docker Images to Offline Servers](https://www.percona.com/blog/2017/05/23/how-to-save-and-load-docker-images/)

[2021-07-19 05:58] BlueStar111 opened #6612 "The port restrictions of Pushgateway conflict with our existing monitoring system"
#### Describe the bug:
When we configured Pushgateway, we found that the official port limit, 1024-65535, but our existing monitoring system, the port is not in this range

![image](https://user-images.githubusercontent.com/47586657/126110009-5f0acff6-914a-4967-ad8d-1cb89b0b9335.png)

#### Expected behavior:

#### Steps/Code to reproduce:

#### Environment:
- Milvus version(e.g. v1.1.0 or 8b23a93)

[2021-07-19 06:11] del-zhenwu commented on #6427
![Kubernetes-Compute-Resources-Pod-Grafana (10)](https://user-images.githubusercontent.com/56623710/126111149-097d679c-dbea-4de5-85ab-ae8859b2f669.png)
![Kubernetes-Compute-Resources-Pod-Grafana (11)](https://user-images.githubusercontent.com/56623710/126111152-638ff0db-00b8-4701-b4e2-b1b1147a4579.png)

One node used 3.5Gb and anthor used 5Gb

[2021-07-19 06:20] fishpenguin commented on #6612
We set the port range to (1024, 65535) because that in linux, only root user can access port below 1024.
However you can do a port reflection for your monitoring system

[2021-07-19 06:42] yan-rui commented on #6547
我不懂编译部署。。。
2.0啥时候发布稳定版呢？还会存在这个问题吗。。。

[2021-07-19 07:09] godchen0212 commented on #6463
Thank for the advice. The interfaces has been changed to these for a clear definition.
Public Interfaces
`type ChunkManager interface {
      Load(key string) (string, error)
      Write(key string, content []byte) error
      Exist(key string) bool
      ReadAll(key string) ([]byte, error)
      ReadAt(key string, p []byte, off int64) (n int, err error)
}
`

A VectorChunkManager implements ChunkM

[2021-07-19 07:25] binbinlv opened #6615 "Test search cases need more sufficient test data"
#### Describe the bug:
Test search cases need more sufficient test data
and add async and auto_id cases

#### Expected behavior:

#### Steps/Code to reproduce:

#### Environment:
- Milvus version(e.g. v1.1.0 or 8b23a93):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-07-19 07:26] DragonDriver commented on #6592
thx for pointing out this. it will be fixed by [pr #613 of pymilvus](https://github.com/milvus-io/pymilvus/pull/613). pls retest this after it was merged.

/unassign
/assign @binbinlv

[2021-07-19 07:33] DragonDriver commented on #6569
How about other metric type? For example, JACCARD?

[2021-07-19 07:38] DragonDriver commented on #6569
I don't think it's `_async` caused this issue. I reproduced this even when the `_async` is False. Any way, I will fix this soon and thx for pointing out this.

[2021-07-19 07:41] binbinlv commented on #6569
Others are good.

[2021-07-19 07:41] binbinlv commented on #6569
OK, thanks.

[2021-07-19 08:01] cydrain commented on #6593
current `query` behavior:
|| output |
-----------

[2021-07-19 08:01] binbinlv commented on #6592
OK, thanks, I will verified it after the code merge.

[2021-07-19 08:03] xige-16 commented on #6417
NAME                                                   READY   STATUS    RESTARTS   AGE
benchmark-dm9h7-1-etcd-0                               1/1     Running   0          38s
benchmark-dm9h7-1-milvus-datacoord-7fccffb97d-g8zk5    1/1     Running   0          39s
benchmark-dm9h7-1-milvus-datanode-744b859975-2sjcq     1/1     Running   0          38s
benchmark-dm9h7-1-milvus-indexcoord-5744599f97-k

[2021-07-19 08:04] xige-16 commented on #6417
same with #6493

[2021-07-19 08:06] xige-16 commented on #6417
@bigsheeper search stucked when querynode only load segment without watching DmChannels

[2021-07-19 08:12] xige-16 commented on #6574
msgstream's start function is non-blocked, It's best not to go msgstream.start()

[2021-07-19 08:13] #6608 closed

[2021-07-19 08:19] xige-16 commented on #6574
@bigsheeper The startup of a node in flowgraph can be divided into two parts, the first step is to start the msgstream, and then start a go func() to execute.
[code]

[2021-07-19 08:19] xige-16 commented on #6574
/assign @bigsheeper

[2021-07-19 08:23] yhmo commented on #5330
- MySQL ssl connection levels:
[code]
"SSL" only require a certification generated by private RSA key
"X509" require a certification generated by private RSA key, and client RSA key and client certification

Looks like the Azure MySQL ssl tls_option is "SSL".

- To pass certification file path into Milvus, will change the server_config.yaml to:
[code]
"meta_ssl_ca" is the file path of certificatio

[2021-07-19 08:24] xiaofan-luan commented on #6611
So in your environments you have no internet access? We are thinking of offering a  guide to install Milvus locally so you can run Milvus on a network isolated environment.

However this might be a very tough one because Milvus has 8 components and 3 dependencies: etcd, pulsar, minio. You have to make sure every thing is working fine in your environment.

[2021-07-19 08:38] ThreadDao commented on #6593
Got it. I will close this issue.

[2021-07-19 08:38] #6593 closed

[2021-07-19 08:48] yhmo commented on #6547
2.0还处于不断迭代的阶段，稳定总是相对的，大约9月份出一个正式版本。
2.0跟1.x是不同的语言，不同的架构，所以问题大多也不一样。1.x修补了挺长一段时间，所以问题会少一点。

这个问题，可以从两个方面入手：
1. 我编译一个debug版的milvus，做成一个docker镜像，你用这个镜像跑，出现问题时能更好地抓到调用栈
2. 我再仔细检查代码

[2021-07-19 09:20] binbinlv commented on #6374
when running CI on cluster version, similar assert occurs.

[2021-07-19T08:57:59.643Z] [2021-07-19 08:52:27 - ERROR - pymilvus.client.grpc_handler]: Error: <BaseException: (code=1, message=rpc error: code = DeadlineExceeded desc = context deadline exceeded)> (grpc_handler.py:59)

[artifacts-milvus-distributed-PR-6616-1-pymilvus-orm-e2e-logs.tar.gz](https://github.com/milvus-io/milvus/files/6839559

[2021-07-19 09:21] sunby opened #6618 "remove timesync packge"
internal/timesync is useless.

[2021-07-19 09:44] xTerry opened #6620 "Milvus is in normal state, but the service is not available"
Milvus is in normal state, but the service is not available

No error log and large debug log ,the content is merge logs ，version:v0.10.5

![image](https://user-images.githubusercontent.com/2304854/126139638-61cab587-5744-4562-b767-d43552770e5f.png)
![image](https://user-images.githubusercontent.com/2304854/126139672-71e29ee2-56fc-4c94-a5e9-ba86411730c7.png)
![image](https://user-images.githubuser

[2021-07-19 09:45] xTerry commented on #6620
服务状态正常，但不可用，很奇层，问了群里的专家反馈也是在merge状态下应该是可用的，但结果反之 ，不知道是0.10.5的bug呢还是所有版本都有此类问题

[2021-07-19 10:01] xiaocai2333 opened #6621 "When the inserted data size is larger than the segment, Milvus thrown an exception."
#### Steps/Code to reproduce:

I modified the `segment.maxSize`  in `data_coord.yaml` to 1 'M'.

[code]

#### Expected result:
Inserted successfully.

#### Actual results:
[code]

#### Environment:
- Milvus version(master):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additio

[2021-07-19 10:02] xiaocai2333 commented on #6621
/assign @sunby

[2021-07-19 10:26] yanliang567 commented on #6583
@ThreadDao Could you please specify the PR link here for investigation?

[2021-07-19 10:32] yanliang567 commented on #6621
data size (with 128d+50,000 entities) is larger than the segment? what is the segment size, 512M?

[2021-07-19 10:34] binbinlv commented on #6455
Same issue when running CI for a while (standalone)
milvus master: da5bbdceb

Logs:
[artifacts-milvus-standalone-PR-6616-2-pymilvus-orm-e2e-logs.tar.gz](https://github.com/milvus-io/milvus/files/6840059/artifacts-milvus-standalone-PR-6616-2-pymilvus-orm-e2e-logs.tar.gz)
[artifacts-milvus-standalone-pymilvus-orm-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/6840068/artifacts-milvus-

[2021-07-19 10:37] xiaocai2333 commented on #6621
Segment size is Configurable, I modified it to 1M.

[2021-07-19 10:43] FluorineDog opened #6622 "Deprecated state and indexing in SegmentGrowing"
Deprecated  state and indexing in SegmentGrowing, use sealed for the later instead.

[2021-07-19 10:54] yanliang567 commented on #6621
makes sense then.

[2021-07-19 11:00] yhmo commented on #6547
@yan-rui
1.1.1 debug版的milvus:
`docker pull milvusdb/milvus-poc:1.1.1-cpu-ubuntu18-debug`

用这个镜像替换之前的 milvusdb/milvus:1.1.1-cpu-d061621-330cc6 即可

[2021-07-19 11:04] ThreadDao opened #6624 "Query on a collection where the primary keys are all the same value"
#### Steps/Code to reproduce:
[code]

#### Expected result:
Actually, i don't know

#### Actual results:
insert
[code]
query result:
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
  a992dcf
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
  pymilvus 2.0.0rc3.dev5
  pymilvus-orm 2.0.0rc3.dev6
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Ot

[2021-07-19 12:09] binbinlv opened #6625 "Error occurs when calculating distance with default params"
#### Steps/Code to reproduce:
[code]

#### Expected result:
Distance calculated successfully using default params

#### Actual results:
TypeError: 'NoneType' object is not subscriptable:
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): ab5a7cb
- Deployment mode(standalone or cluster): standalone
- SDK version(e.g. pymilvus v2.0.0rc2):
Name: pymilvus
Version: 2.0.0rc3.dev5
Na

[2021-07-19 12:10] XuanYang-cn commented on #6604
@xiaohu4313888 Good catch. Please helping us fixing it.

[2021-07-19 12:10] XuanYang-cn commented on #6604
/unassign
/assign @xiaohu4313888

[2021-07-19 12:12] XuanYang-cn commented on #6604
I think copy the easylogging++ file into `index/thirdparty` would be nice, what do you think? @xiaohu4313888

[2021-07-19 12:45] xige-16 opened #6626 "Specify index name when load collection or load partition"
#### What would you like to be added:
queryNode load specified index after loadsegment or watchDmChannels done
#### Why is this needed:
sealed segment in querynode can only be searched violently when index not loaded.

[2021-07-19 13:35] xige-16 commented on #6626
indexCoord should info querynode when index built done, and querynode load index according the index name set when loading collection.

[2021-07-19 13:36] xige-16 commented on #6626
/assign
/assign @bigsheeper
/assign @czs007
/assign @xiaocai2333

[2021-07-19 13:39] DragonDriver opened #6627 "Bug: wrong usage of std::sort and NaN when reducing search results"
[code]

In this function, we use `std::sort` and `std::greater` to sort hit records between all segments. In the topk loop, we will take the first record of `result_pairs` and then replace the first record of a new record. However, when the distance of new record is NaN, the `std::greater` will think NaN is greater than the other records in `result_pairs`, so after next process, we will take the n