[2022-07-12 06:18] xiaocai2333 commented on #17725
refer issue #18190

[2022-07-12 06:56] xiaocai2333 commented on #18005
/assign @ThreadDao

[2022-07-12 07:39] xiaocai2333 commented on #18012
got it, thanks.

[2022-07-12 09:24] #18235 closed

[2022-07-12 09:39] Sivannnnnn opened #18242 "[Feature]:Load and release partitions dynamically"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

In milvus2.0.2, I created multiple partitions under a collection. In my actual production environment, I added data every day. I set one partition per day. The first time I load ten partitions into memory, and then when I load another partition in

[2022-07-12 11:11] yuliu-eric commented on #18012
we should have the logs for steps https://github.com/milvus-io/milvus/issues/2 and https://github.com/milvus-io/milvus/pull/4, you don't find them in the logs?

[2022-07-12 11:13] xiaofan-luan commented on #18242
yep, we already has the plan to do so~ it is probably released 4-5 months

[2022-07-12 11:18] xiaocai2333 commented on #18012
yes. There is no log after the system has just started up.
![image](https://user-images.githubusercontent.com/46207236/178478002-54454086-49aa-4297-aa62-5a8ca120cd4c.png)

[2022-07-12 12:45] Zach41 opened #18243 "[Enhancement]: Add package name in log"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

add package name in log content

### Why is this needed?

improve readability of log contents

### Anything else?

_No response_

[2022-07-12 13:00] jiaoew1991 commented on #18232
<img width="1400" alt="image" src="https://user-images.githubusercontent.com/2297455/178495797-2b1df8d8-bf0d-4a89-90a3-2b84f92daaf3.png">

<img width="851" alt="image" src="https://user-images.githubusercontent.com/2297455/178495345-ae41fb30-3a4a-42c4-9a8d-fb3925783fae.png">
the querynode pod's memory is about 50G, but the Go part is only 1G, most of the is used by CGO

[2022-07-12 13:41] congqixia opened #18247 "[Bug]: segment isCompacting flag may lost after segment clone"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

`isCompacting` flag if segment may lost after a state transfer of a segment, which may cause it being compacted multiple times.

### Expected Behavior

`isCompacting` flag remains the same after clone or shadowClone

### Steps To Reproduce

_No response_

### Milvus L

[2022-07-12 13:53] xiaofan-luan commented on #18242
I thought @bigsheeper could follow up the issue

[2022-07-12 13:58] xiaofan-luan opened #18249 "[Bug]: Fix querycoord nodedown handling logic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1) we didn't guarantee failover happened after channel has been cleaned up while node down
2)the old channelUnscribeHandler logic is a bit messed up
3) when querycoord restart, we should find all offlineNodeIDs from querycluster, the current logic seems weird.

### Ex

[2022-07-13 01:02] yanliang567 commented on #16951
keep it open

[2022-07-13 01:06] XuanYang-cn commented on #17885
maybe fixed by #18249

[2022-07-13 01:42] czs007 commented on #18205
working on it .

[2022-07-13 02:08] #18247 closed

[2022-07-13 02:09] congqixia commented on #18208
Hi @binbinlv , does this problem still exist?

[2022-07-13 02:17] binbinlv commented on #18208
@congqixia hello, it has been reproduced for two days, so verified and fixed. thanks.

[2022-07-13 02:17] #18208 closed

[2022-07-13 02:24] binbinlv commented on #17528
It occurs again in the nightly for 2.1.0 branch:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-release-nightly/detail/milvus-release-nightly/150/pipeline/160

1. milvus log:
[milvus-distributed-kafka-150-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-release-nightly/150/artifact/milvus-distributed-kafka-150-pymilvus-e2e-logs.tar.gz)
2. collection nam

[2022-07-13 02:54] jingkl commented on #18158
This problem has been solved, but a new issue  #18232  has arisen, so turn this off

[2022-07-13 02:54] #18158 closed

[2022-07-13 02:59] jingkl commented on #18232
server-instance
benchmark-tag-no-clean-8hckl-1
server-configmap
server-cluster-8c64m-querynode2
client-configmap
client-random-locust-search-filter-100m-ddl-r8-w2-replica2
2.1.0-20220712-c3ddb1fe
pymilvus 2.1.0dev98

[code]

[code]

[2022-07-13 03:33] xiaocai2333 commented on #17723
[code]
[code]
seem like #16804
It shouldn't happen in v2.1 anymore, 2.1 is coming soon.

[2022-07-13 04:48] soothing-rain commented on #18067
/unassign @p363796822
/assign @wayblink

[2022-07-13 04:54] yhmo commented on #17895
I verify the issue on a Macbook with the latest dev build **milvusdb/milvus-dev:2.1.0-20220713-9059dba3**
Run the script on v2.0.2, the total time cost is 11 seconds.
Run the script on v2.1.0, the total time cost is 13 seconds.
Although there is a bit gap, I think it is acceptable. Close this issue.

[2022-07-13 04:54] #17895 closed

[2022-07-13 05:44] yuliu-eric commented on #18012
Hmm, we've re-run search tests and saved the logs [here](https://drive.google.com/drive/folders/1ytHDQyS_H2Jpbe4j_q318OFA_7VB_0iv). Please take another look.

[2022-07-13 05:44] soothing-rain commented on #17907
Hey I think it simply indicates that your machine is out of hard disk space. Can you double check that?

Also not sure what you mean by `I checked the capacity of rockDB 100% memory usage(5GB).`

[2022-07-13 06:34] xiaocai2333 commented on #18012
@yuliu-eric  Sorry, there is still no corresponding log in the new log file. Can you tell the log level of the your cluster?

[2022-07-13 06:36] bigsheeper opened #18258 "[Bug]: LoadCollection request for loaded collection would be blocked by Handoff"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

LoadCollection request for loaded collection would be blocked by Handoff, and load collection would be timeout.

Also see at VDC issue 582.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

[2022-07-13 06:36] bigsheeper commented on #18258
/assign

[2022-07-13 06:38] xiaofan-luan commented on #18258
why would handoff block load? My guess is handoff only executed in a few seconds?

[2022-07-13 06:44] bigsheeper commented on #18258
Handoff is blocked by loadSegments in QueryNode, QueryNode costs about 3~4 seconds on `FromDmlLoadDelete` when load segments. And yes you're right, handoff only executed in a few seconds, but there are multiple concurrent loadCollection requests from 20 clients in VDC-581 case, a few seconds is fatal for these loadCollection requests.

[2022-07-13 07:03] soothing-rain commented on #17940
It seems that Etcd was interrupted at the moment, which caused Milvus to exit. Do you happen to have any monitoring information about your Etcd service? At around `2022-06-28T06:46:00.000Z` to `2022-06-28T06:48:00.000Z`

In the meanwhile, the high availability of Milvus is greatly related to the high availability of Etcd. I'd suggest you use an Etcd cluster to avoid Etcd slow/unavailable issues.

[2022-07-13 07:11] mxqin opened #18260 "[Bug]: entities perisit after deleting"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

使用的milvus2.0.2版本，存在几个问题：
1. 删除旧的collection后，创建一个相同名字的collection后，之前collection存在的partition名字会依旧存在？
2. 删除partition后，刚开始查询不存在，再次查询还是会存在？
3. 删除partition后，partition的数据为0了，但是通过collection查询的数据量，还是加上这个partition内的数据量的和，collection内查询的数量并没有随着减少？
4. 使用partition.delete删除某条数据后，该数据仍

[2022-07-13 07:17] yhmo opened #18262 "[Bug]: query node crashed and search timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

7 query nodes deployed, continually search, after a periods of time, 4 of the nodes crashed and search timeout.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

Contact @yhmo to get full log.

_No response_

### Anything el

[2022-07-13 07:19] yhmo commented on #18262
**partial log of query node 001:**

[2022/07/07 18:05:22.327 +08:00] [INFO] [query_node.go:349] ["get SealedSegmentsChangeInfo from etcd"] [infoID=0]
[2022/07/07 18:05:22.338 +08:00] [INFO] [shard_cluster.go:227] ["ShardCluster remove node"] [nodeID=11]
[2022/07/07 18:05:22.338 +08:00] [WARN] [shard_cluster.go:233] ["ShardCluster removeNode does not belong to it"] [nodeID=11] [addr=]
[2022/07/07 1

[2022-07-13 07:20] yhmo commented on #18262
**partial log of query node 002:**

[2022/07/07 18:05:42.513 +08:00] [INFO] [shard_cluster.go:227] ["ShardCluster remove node"] [nodeID=9]
[2022/07/07 18:05:42.513 +08:00] [WARN] [shard_cluster.go:233] ["ShardCluster removeNode does not belong to it"] [nodeID=9] [addr=]
[2022/07/07 18:05:42.514 +08:00] [INFO] [shard_cluster.go:227] ["ShardCluster remove node"] [nodeID=9]
[2022/07/07 18:05:42.514 +

[2022-07-13 07:22] yhmo commented on #18262
**partial log of query node 003:**

[2022/07/07 18:04:09.996 +08:00] [INFO] [logutil.go:165] ["Log directory"] [configDir=]
[2022/07/07 18:04:09.996 +08:00] [INFO] [logutil.go:166] ["Set log file to "] [path=/home/logs/milvus/logs/querynode-29.log]
[2022/07/07 18:04:09.996 +08:00] [INFO] [query_node.go:147] ["QueryNode init session"] [nodeID=29] ["node address"=10.97.104.209:21123]
[2022/07/07 18:

[2022-07-13 07:25] yhmo commented on #18262
**partial log of query node 004:**

[2022/07/07 20:01:10.716 +08:00] [INFO] [shard_cluster_service.go:156] ["successfully handoff"] [channel=by-dev-rootcoord-dml_31_434328479553028101v1] [segment="online_segments:<segmentID:434423795094650881 collectionID:434328479553028101 partitionID:434405864134148097 num_rows:677 dmChannel:\"by-dev-rootcoord-dml_31_434328479553028101v1\" segment_state:Sealed r

[2022-07-13 07:26] yhmo commented on #18262
**partial log of query node 005:**

[2022/07/09 11:04:22.420 +08:00] [INFO] [shard_cluster.go:358] ["ShardCluster remove segment"] [nodeID=29] [segmentID=434457768747597828] [state=0]
[2022/07/09 11:04:22.420 +08:00] [INFO] [shard_cluster.go:358] ["ShardCluster remove segment"] [nodeID=29] [segmentID=434458712439783426] [state=0]
[2022/07/09 11:04:22.420 +08:00] [INFO] [shard_cluster.go:358] ["Sha

[2022-07-13 07:41] xiaocai2333 opened #18263 "[Bug]: Ignore task when IndexNode load empty index meta"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Index task has been assigned then it is deleted.
2. IndexCoord recycle the meta in etcd.
3. IndexNode load meta from etcd, but it's empty. So panic.

### Expected Behavior

If IndexNode load an empty index meta, it should ignore this index task.

### Steps To Repro

[2022-07-13 07:41] xiaocai2333 commented on #18263
/assign
/unassign @yanliang567

[2022-07-13 08:02] BUPTAnderson commented on #18262
- Milvus version: master(commitID: c1a47c89416f96de450a512bd349a6f4495edbb6)
- Deployment mode(standalone or cluster): cluster
- SDK version(e.g. pymilvus v2.0.0rc2): pymilvus v2.0.1
- OS(Ubuntu or CentOS): CentOS
- CPU/Memory:
- GPU:
- Others:
[code]

There are 9 collections in the cluster.
The Largest scale collection has about 10 million rows, other collections range in size from a few hundred

[2022-07-13 08:24] nameczz opened #18265 "[Bug]: Use the inserted data to search, can not get the origin data when metric is IP"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

the data i am using is 0_id, when metric is L2 is working fine. When metric is IP, distance is 12.
Collection schema:
<img width="1688" alt="image" src="https://user-images.githubusercontent.com/20559208/178681690-80e1faa0-5541-4b5a-b2b9-ad7f236ea6c3.png">
Search resu

[2022-07-13 08:32] wayblink commented on #18172
/assign

[2022-07-13 08:45] longjiquan commented on #18265
/unassign @yanliang567
/assign

[2022-07-13 08:46] longjiquan commented on #18265
Try normalize the vectors

[2022-07-13 08:53] longjiquan commented on #18265
![image](https://user-images.githubusercontent.com/31589260/178692297-a185af18-9e24-4f36-b6ce-af618576e2fb.png)

This pictures illustrate why the topk results differ between different metric types.

With L2, of course, distance between `OA` and itself is 0, so it's hit in top0. However, with IP, the distance between `OA` and `OB` is greater than the distance between `OA` and itself.

[2022-07-13 08:58] nameczz commented on #18265
thanks, i think it's the reason, close this issue.

[2022-07-13 08:58] #18265 closed

[2022-07-13 09:06] xiaocai2333 commented on #17792
@zhuwenxing  this bug has been fixed, please verify it.

[2022-07-13 09:08] yhmo commented on #18174
Maybe is a bug of java sdk 1.1

[2022-07-13 09:20] congqixia commented on #18262
@yhmo checked all .out files(which I guess is the err output), all query node panicked due to Segment Violation:
[code]

[2022-07-13 09:27] wangfeifans opened #18268 "how to migrating data from Milvus 2.0 standalone to Milvus 2.0 cluster？"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

how to migrating data from Milvus 2.0 standalone to Milvus 2.0 cluster?
i need to backup data.

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

_No

[2022-07-13 09:28] congqixia commented on #18262
@BUPTAnderson could you please provide the actual commit you compile with? Need to verify whether this problem still persist. Thanks in advance!

[2022-07-13 09:33] congqixia commented on #18262
/assign @bigsheeper

[2022-07-13 11:32] weiliu1031 commented on #18178
@BUPTAnderson could you please provide query coord logs just before you upgrade the query coord?

[2022-07-13 12:43] yuliu-eric commented on #18012
I think we don't set any logging configs explicitly. I've uploaded our values.yaml config to the same link above, would you please help to take a look and see if there's any suspicious configurations in the yaml file?

[2022-07-13 14:46] zhuwenxing opened #18270 "[Bug]: Datacoord keep CrashLoopBackOff after minio pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/178762292-967e538c-2fe3-483a-97b0-b906c4ebdab1.png)
[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: https://github.com/zhuwenxing/milvus/runs/

[2022-07-13 15:19] yanliang567 commented on #18270
/assign @soothing-rain
/unassign

[2022-07-13 15:20] yanliang567 commented on #18221
/assign @yhmo
/unassign

[2022-07-13 15:37] soothing-rain commented on #18270
The fix is easy. But why do you think the segment start position is empty? @sunby

https://github.com/milvus-io/milvus/blob/master/internal/datacoord/meta.go#L807

[2022-07-13 15:43] ThreadDao commented on #17697
@longjiquan  The log you want before the standalone restart
Image: `2.1.0-20220713-9059dba3`

[client.log](https://github.com/milvus-io/milvus/files/9103800/client.log)

[standalone_pre.log](https://github.com/milvus-io/milvus/files/9103803/standalone_pre.log)

[standalone.log](https://github.com/milvus-io/milvus/files/9103821/standalone.log)

[2022-07-13 17:35] letian-jiang commented on #18223
Additional notes:
* search/query timestamp = time-travel timestamp
* delta = time-travel timestamp - guarantee timestamp

[2022-07-14 02:43] xiaocai2333 commented on #18012
[code]

The configuration is correct, but strangely, there is no corresponding log in the log files.
I will try to reproduce it.

[2022-07-14 03:11] xiaofan-luan commented on #18270
might because the insert is not large enough to do a save bin log path?

[2022-07-14 04:35] huuson235 commented on #16437
I'm looking for this feature too. I hope Milvus team will implement it soon. Currently, to search by distance I get 10000 nearest vectors then use binary search to remove outliers as quick as possible.

[2022-07-14 04:59] qiutzh opened #18272 "[Feature]: Milvus query interface is blocked"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

**Environment**

- Milvus version: v2.0.0rc8
- Deployment mode(standalone or cluster): standalone
- SDK version(e.g. pymilvus v2.0.0rc2): v2.0.0rc8
- OS(Ubuntu or CentOS): redhat
- CPU/Memory: 16G
- GPU: no
- Others:

**Description**

First, I pre

[2022-07-14 05:19] BUPTAnderson commented on #18178
tody i try to update the cluter to brach-2.1.0 latest, the problem still exists. Try to restart the querycoord node several times, the problem still exists. Try to release the collection, the request timeout.

[2022-07-14 05:24] BUPTAnderson commented on #18178
@weiliu1031
链接: https://pan.baidu.com/s/1l4fVTe3RGrrWEj1ApcOnfg?pwd=mw6j 提取码: mw6j
pre is logs before upgrade, today is logs after upgrade.

[2022-07-14 05:46] BUPTAnderson commented on #17855
when i upgrade the cluster, this issue occured again, same to #18178

[2022-07-14 07:07] jingkl opened #18274 "[Bug]: [benchmark][standalone]With the same machine configuration, milvus image and pymilvus version, 50% difference in latency both in search and query"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1.The qa-node017 machine has the same configuration as the 4am-node12 machine
2. Milvus image and pymilvus version are the same

server-instance
benchmark-backup-nhc5d-1
server-configmap
server-single-2c8m-n17
client-configmap
client-random-locust-search-1m
server ：
[

[2022-07-14 07:55] yanliang567 commented on #18274
/assign @czs007
/unassign

[2022-07-14 08:01] longjiquan commented on #17697
[code]

[2022-07-14 08:03] jiaoew1991 commented on #18232
@jingkl pls verify it with pr https://github.com/milvus-io/milvus/pull/18269
/unassign

[2022-07-14 08:03] jiaoew1991 commented on #18232
/assign @jingkl

[2022-07-14 08:03] longjiquan commented on #17697
After standalone recovered from memory stress, datanode tried to seek to a position of rmq, but the related message id is not found in rocksdb.

[2022-07-14 08:07] longjiquan commented on #17697
![image](https://user-images.githubusercontent.com/31589260/178933811-66d58450-a3c0-419b-b842-a14ee2ed9f49.png)

[2022-07-14 08:49] longjiquan commented on #17697
![image](https://user-images.githubusercontent.com/31589260/178942628-529477cb-1702-4184-8686-9dc44a121cc2.png)

[2022-07-14 08:50] longjiquan commented on #17697
![image](https://user-images.githubusercontent.com/31589260/178942876-c0b86675-3ae5-4210-b7bd-6aedbc530afb.png)

[2022-07-14 09:49] yhmo commented on #18221
@lvmnn
Could you describe how you deploy milvus v1.1 cluster, step by step.

[2022-07-14 09:57] yhmo opened #18275 "[Bug]: Remove the IVF_HNSW section of index page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

In this page:
https://milvus.io/docs/v2.0.x/index.md

The IVF_HNSW is no longer supported, we should remove the IVF_HNSW section from this page.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything e

[2022-07-14 09:57] #18275 closed

[2022-07-14 12:14] jiaoew1991 commented on #18220
Hi @lvmnn could help us to check the folder  `index_files/434482881431601156/1/434444451783114754/434445985561444353/` on your storage is exist ?
from the logs we find out all of the QueryNodes try to load the index files in this folder but failed.

[2022-07-14 12:24] congqixia opened #18279 "[Bug]: Seek to a non-exist msgID with MqttMsgstream over rocksmq may block forever"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

This issue is caused by multiple behavior of different component:
- If seek to an non-existing MsgID with rocksmq, it will seek to the latest position
- MqttMsgstream will try to consume until the next timetick equal or after the seek position

Extra behavior does not

[2022-07-14 12:29] congqixia commented on #18279
I wanna add a mechanism to define the error type to stop retry, which shall improve the behavior of `retry` package.
Did not figure out a way that `MqttMsgstream` with `Rockqmq` shall behave.
WDYGT @xiaofan-luan @czs007

[2022-07-14 14:42] congqixia opened #18280 "[Enhancement]: Add a way to specify error type to stop retry"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add a way to specify error type to stop retry.

### Why is this needed?

`util/retry` package provides a way to stop with `Unrecoverable` check. It requires internal running function returns the type of `Unrecoverable` error, which could error prone and hard to archive when ca

[2022-07-14 23:44] #17400 closed

[2022-07-14 23:44] #17360 closed

[2022-07-15 02:42] lvmnn commented on #18221
Deploy a new CPU Mishards cluster with 1 write node and 4 read nodes
Cluster parameters:
1. Use S3 as the data store and mysql as the metadata store
Operation:
1. Create a new collection with 512 dim and 1G segment
2. Insert 1kw of data in batches, 1w at a time
3. Create the IVF_flat index (nList =2896)
4. The write node core Down occurs during the index process.

[2022-07-15 02:49] lvmnn commented on #18221
We checked milvus' logs to see if there was a problem.

Discovered that when an occasional upload failure occurred on S3 storage, Milvus ignored the error instead of handling it.
When index building begins, the write node cannot find the associated data file and begins to crash

[2022-07-15 02:51] lvmnn commented on #18221
![SeaTalk_IMG_1657596719](https://user-images.githubusercontent.com/92595690/179137374-2167983c-7291-4930-a0d6-b086c3e2bfeb.png)
![image](https://user-images.githubusercontent.com/92595690/179137439-a325d761-5472-4372-bbac-4567dfd332ea.png)

This image is traversed s3 storage, the raw data file corresponding to this UID was not uploaded successfully

[2022-07-15 02:53] lvmnn commented on #18221
![image](https://user-images.githubusercontent.com/92595690/179138069-6fb78dc6-1b17-4969-8b8c-7813da98bf5f.png)
This is the log of the write node. It also looks like the original file was not found until it was core down

[2022-07-15 02:58] binbinlv commented on #18205
Similar issue occurs in nightly for 2.1.0 branch:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-release-nightly/detail/milvus-release-nightly/154/pipeline/215

1. milvus log: [milvus-distributed-pulsar-154-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-release-nightly/154/artifact/milvus-distributed-pulsar-154-pymilvus-e2e-logs.tar.gz)
2. collection

[2022-07-15 03:05] zhuwenxing opened #18282 "[Bug]: Flush failed with error `code=1, message=DataCoord 0 is not ready` after datacoord pod kill"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

flush failed when running `verify_all_collections.py`
[code]

### Expected Behavior

all test case pass

### Steps To Reproduce

[code]

### Milvus Log

failed job: https://github.com/milvus-io/milvus/runs/7345991911?check_suite_focus=true
log: https://github.com/milv

[2022-07-15 03:29] jiaoew1991 commented on #18220
It's quite similar with https://github.com/milvus-io/milvus/issues/18158, the garbage cleaner policy had a bug maybe delete index files which being used.

#18158 was already fixed by https://github.com/milvus-io/milvus/commit/26b302775286f77552ddf1b06cef4dc0dcf42e34 which contained in the version https://github.com/milvus-io/milvus/commit/8cc6e9314c017168f27dbee2abd802e2d5c51096 which you are usin

[2022-07-15 03:37] lvmnn commented on #18220
milvusdb/milvus-dev:2.1.0-20220708-a6692a41

@jiaoew1991 We used this mirror image at that time, and this error did not occur again in the subsequent test of the new version👍

[2022-07-15 03:40] longjiquan commented on #17697
Milvus standalone use rocksdb as message queue. In this case, the data path of rocksdb didn't mount outside, so after standalone restarted, all data in rocksmq has lost, which is inconsistent with meta stored in etcd.

[2022-07-15 04:28] binbinlv opened #18283 "[Bug]: Search returns empty for superstructure and substructure metrics"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search returns empty for superstructure and substructure metrics:
[code]

### Expected Behavior

Returns topK successfully

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-07-15 04:46] yanliang567 commented on #17697
I think we shall
1. create an issue to milvus operator, to make sure data in rocksmq is persisted @ThreadDao
2. design a way to notify users that some data could be lost, instead of hang the system/collection @longjiquan any ideas?

[2022-07-15 04:49] yanliang567 commented on #18282
/assign @sunby
/unassign

[2022-07-15 06:55] binbinlv opened #18287 "[Bug]: load failed for timeout reporting "Deadline Exceeded""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

load failed for timeout reporting "Deadline Exceeded"

### Expected Behavior

load successfully

### Steps To Reproduce

[code]

### Milvus Log

1. milvus log:  [milvus-distributed-pulsar-154-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-rele

[2022-07-15 07:12] Sivannnnnn opened #18288 "[Bug]: drop collection do not release disk"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvusdb/week-build: master-20220711-1DA970AF was changed. This time, there was no error in drop collection. However, the disk is not released. The official website says that the disk will be cleaned up after a day. Therefore, the disk space is still not released afte

[2022-07-15 07:16] aakejiang opened #18289 "[Enhancement]: unified catalog interface for segment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Unify the catalog interface for segment, so later we can support meta store both on Etcd and other storages like mysql.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-07-15 07:16] aakejiang commented on #18289
/assign

[2022-07-15 07:21] #18258 closed

[2022-07-15 07:31] jingkl commented on #18232
image 2.1.0-20220714-e8ac3664
pymilvus 2.1.0dev98
Verified that no more errors are reported

[2022-07-15 07:31] #18232 closed

[2022-07-15 08:34] #17419 closed

[2022-07-15 09:12] jingkl opened #18294 "[Bug]: [benchmark][cluster]Milvus Querynode memory of build 0714 increased 50%+ than build 0714"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

milvus 2.1.0-20220708-507518f8
pymilvus 2.1.0dev98

server-instance
fouram-t95bf-1
server-configmap
server-cluster-8c64m-kafka
client-configmap
client-random-locust-100m-ddl-r8-w2

[code]
querynode memory:
<img width="1366" alt="截屏2022-07-15 17 05 56" src="https://use

[2022-07-15 10:41] binbinlv commented on #18283
Discussed with @yhmo :
for superstructure and substructure metrics, it has the following characteristics:
(1) The returned limit(topK) are impacted by dimension (dim) of data.
(2) Searched topK is smaller than set limit when dim is large
(3) it does not support "BIN_IVF_FLAT" index

And when set dim=8, and it is OK now.

[2022-07-15 10:45] binbinlv commented on #18283
@yhmo
And I want to confirm another thing, from the following, the distances of all the returned vectors are 0, it is expected for this metrics? Thanks.

[code]

[2022-07-15 11:03] yanliang567 commented on #18294
/assign @xige-16
/unassign

[2022-07-16 01:16] yanliang567 commented on #18288
@Sivannnnnn thank you for the issue. Could you please help to check the following configurations in milvus.yaml:
![image](https://user-images.githubusercontent.com/82361606/179328775-2700fd54-c07f-4e22-b907-be531053d7fe.png)

/assign @Sivannnnnn
/unassign

[2022-07-16 07:47] #17435 closed

[2022-07-16 12:08] mostafaghadimi commented on #17530
Any update for this issue?

[2022-07-16 12:12] #17370 closed

[2022-07-16 16:01] luoboy opened #18299 "[Bug]: Search too slow with java sdk"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1、indexType:IVF_FLAT
index参数： nlist=2048
search参数： nprobe=16
nq=1 collection shard: 1, TopK: 1, Dis: L2

并发数：1
单线程循环100次：耗时22ms
单线程循环10000次：耗时12ms
单线程循环30000次：耗时12ms

nq=50
单线程循环10000次：耗时68ms

 2、indexType:IVF_PQ
   参数设置同上
   耗时12ms

 3、indexType:hnsw
   耗时12ms

### E

[2022-07-16 17:18] #15849 closed

[2022-07-17 01:27] jiaoew1991 opened #18300 "[Feature]: config by etcd and hot reload"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Configuring hot reloading is a must-have capability for modern software, and has the following benefits:
1. Configuration reload can be achieved without restarting the service
2. No interruption of online service
3. Operation and maintenance frien

[2022-07-17 01:28] jiaoew1991 commented on #18300
https://github.com/go-chassis/go-archaius is a good example, we can learn from it

[2022-07-17 13:31] xiaofan-luan commented on #17530
should be fixed by master branch, we will wait until 2.1 release

[2022-07-18 01:37] yanliang567 commented on #17597
keep it open

[2022-07-18 01:38] yanliang567 commented on #17505
this should be fixed in 2.1. close it for now.

[2022-07-18 01:38] #17505 closed

[2022-07-18 01:42] yanliang567 commented on #18299
@luoboy thank you for the issue. How many vectors did you search from the collection, and what is the expectation for the latency?

/assign @luoboy
/unassign

[2022-07-18 01:44] longjiquan commented on #17697
@ThreadDao @yanliang567 Yeah, I agree we need some solutions when system meets these issues. But now under current mechanism of Milvus, it's hard to say whether data is lost or there is no data at all in this case.

[2022-07-18 01:53] zhuwenxing commented on #17792
version: `master-20220715-f0846fb7`
failed job: https://github.com/milvus-io/milvus/runs/7379802104?check_suite_focus=true
log: [logs-indexnode-pod_kill](https://github.com/milvus-io/milvus/suites/7393959287/artifacts/301117083)

[2022-07-18 01:59] xiaocai2333 commented on #18263
/close

[2022-07-18 01:59] #18263 closed

[2022-07-18 02:04] bigsheeper commented on #18073
seem as https://github.com/milvus-io/milvus/issues/18258, so close it

[2022-07-18 02:04] #18073 closed

[2022-07-18 02:05] xiaofan-luan commented on #17697
Agree, we should never change our persistent directory, the database itself can only hang and wait for human.

[2022-07-18 02:07] zhuwenxing commented on #17885
here are some failed jobs recently
* https://github.com/milvus-io/milvus/runs/7372380810?check_suite_focus=true
* https://github.com/milvus-io/milvus/runs/7372064437?check_suite_focus=true

[2022-07-18 02:09] yhmo commented on #18268
Currently v2.0 and v2.1 have no data backup ability. This function is in design, we plan to release it in v2.2.

[2022-07-18 02:20] wangfeifans commented on #18268
thx.
is it possible to recover the milvus lost state pvc?
i have backup pvc.

[2022-07-18 02:20] longjiquan commented on #18283
/unassign
/assign @yhmo

[2022-07-18 02:20] binbinlv commented on #17528
It occurs again in the nightly for 2.1.0 branch:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-release-nightly/detail/milvus-release-nightly/157/pipeline/179

1. milvus log: [milvus-distributed-kafka-157-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-release-nightly/157/artifact/milvus-distributed-kafka-157-pymilvus-e2e-logs.tar.gz)
2. collection nam

[2022-07-18 02:21] zhuwenxing opened #18302 "[Bug]: Search failed with error message `ShardCluster for xxx replicaID 434611346741395478 is no available` after minio pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

search raise error when running test_e2e.py after minio pod kill chaos test
[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: https://github.com/milvus-io/milvus/runs/7363254556?check_suite_focus=true
log

[2022-07-18 02:22] binbinlv commented on #17528
It occurs again in the nightly for 2.1.0 branch:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-release-nightly/detail/milvus-release-nightly/158/pipeline/179

1. milvus log: [milvus-distributed-kafka-158-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-release-nightly/158/artifact/milvus-distributed-kafka-158-pymilvus-e2e-logs.tar.gz)
2. collection nam

[2022-07-18 02:22] yanliang567 commented on #18302
/assign @soothing-rain
/unassign

[2022-07-18 02:29] LoveEachDay commented on #18268
Yes you can.
Suppose you've installed a milvus cluster, create collections, insert data, create index, make some search, and you can uninstall the cluster while keeping the pvc. This can save some computation resources.

Then when you need milvus cluster again, you can reinstall the milvus cluster with the same name which can use the remained pvc.

[2022-07-18 02:47] jingkl commented on #17674
server-instance
fouram-jgpz5-1
server-configmap
server-cluster-8c64m-compaction
client-configmap
client-random-locust-compaction

querynode memory:
<img width="1381" alt="截屏2022-07-18 10 41 11" src="https://user-images.githubusercontent.com/34296482/179437825-771072a6-2b5f-445d-a490-6ec4c24e4eff.png">
server
[code]

client：
[code]

[2022-07-18 02:59] wangfeifans opened #18303 "[Bug]: everything seemed normal, but can't search, timeout and no return .."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

all pods is ok . but cat 't can't search.
how to check and fix ?

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log
[log is here](http://tpapi.iprtt.com/logs.tar.gz)
_No response_

[2022-07-18 03:18] Sivannnnnn commented on #18288
yes，My configuration is the same as yours.
I cannot delete a collection with a large amount of data using V2.0.2. I can delete it using this version, but the disk space is not released. What should I do? Also why milvus storage takes up so much disk space, I only store two fields, 400 million 128-dimensional float vectors, disk takes up 460GB?
In addition, I have built a new stand-alone MILvus wit

[2022-07-18 03:28] wangfeifans commented on #18303
[logs](http://tpapi.iprtt.com/logs.tar.gz)
add logs.

[2022-07-18 03:44] yanliang567 commented on #18303
@wangfeifans it reports a security issue when trying to download the logs you attached. could you please retry to upload it ?

/assign @wangfeifans
/unassign

[2022-07-18 03:50] wangfeifans commented on #18303
here >>
http://tpapi.iprtt.com/logs.tar.gz

can you download this link？

[2022-07-18 04:01] Sivannnnnn commented on #18288
@yanliang567

[2022-07-18 05:06] #18249 closed

[2022-07-18 05:42] Sivannnnnn commented on #18288
and in my environment, dataCoord.enableGarbageCollection = false，
![image](https://user-images.githubusercontent.com/46392469/179451147-765a1561-a0a2-4818-a94c-742fe34df8f2.png)

[2022-07-18 06:39] LoveEachDay commented on #18288
@Sivannnnnn We've enabled data compression for vector data in minio (#15840) which brings 3.3 compression ratio. Here's our test with 100 million data (128 dimension) with index type `ivfsq8` , the data usage in minio is about `26GB` .
<img width="1336" alt="image" src="https://user-images.githubusercontent.com/1573213/179454276-dc7ebbfb-0f61-4416-a3e2-58c11c15fd71.png">

From your case, seems lik

[2022-07-18 06:46] LoveEachDay opened #18304 "[Feature]: Decrease the rocksmq data usage for milvus standalone"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

PR #15840 brings data compression for data in `minio`, this data usage decrease is very impressive. But the data usage for `rocksmq` is very large.

Here we create a milvus standalone with 100 million vector data, 128 dimension, index type `ivfsq8

[2022-07-18 06:49] LoveEachDay commented on #18288
You should enable `enableGarbageCollection` .

[2022-07-18 06:50] LoveEachDay commented on #18304
Check out the issue #18288 where user have 206GB for `rocksmq` .

[2022-07-18 07:08] yhmo commented on #18221
I just browse the 1.1 source code.
When uploading data, the S3 wrapper only try PutObject() one time, if the api return error, the wrapper log an error and return: https://github.com/milvus-io/milvus/blob/fa955cb3fb7d46b7ad60f37f618a8aaa8e609b85/core/src/storage/s3/S3ClientWrapper.cpp#L167

The S3 writer hide the error: https://github.com/milvus-io/milvus/blob/fa955cb3fb7d46b7ad60f37f618a8aaa8e609

[2022-07-18 07:09] JonasZero commented on #3573
I have the same question.
`milvus.client.exceptions.ParamError: `ids` value [ 8282  2395 17964 11597  1752  5892  7745 24508  3739 17981 29976  2069
 23275  1231 27600 30018 17479 29026  5769 21738 30335   381 23168 10101
 24012 31407 20429 11886 27865 16914  8879  5108  4643 13695 12033 17243
   533 29326 10952 18049  4266 21807  9764 26454 16935 31606 11125 18957
  8053 27839 28596  1479 29462 1

[2022-07-18 07:11] yhmo commented on #18221
To fix this bug, several places need to be changed:
1. retry several times when failed to uploading object to S3
2. check the uid list, return failure if the uid list is empty(entire search request will fail)

[2022-07-18 07:16] yhmo commented on #18221
Because we have no resource to release a new version of v1.x. There are two ways here:
1. you modify the source code, build a internal image for yourself, we can provide some guideline.
2. If you are waiting the v2.1, the v1.1 is only a transition, then use local storage instead of S3.

[2022-07-18 07:43] xiaofan-luan commented on #18304
I will take a look about rocksb compression, compaction, ttl and other retention related infos

[2022-07-18 08:11] yanliang567 commented on #18303
No, failed for the same security issue. @wangfeifans

[2022-07-18 08:22] wangfeifans commented on #18303
try ..
[logs](https://feeapi.iprtt.com/logs.tar.gz)

[2022-07-18 08:36] wayblink commented on #18067
No critical error printed. What's the problem in client side? You can upload the complete log.

[2022-07-18 09:01] bigsheeper opened #18310 "[Bug]: Segment may not be released"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When add the segment with the same segmentID, the newSegment wouldn't be charged by metaReplica, and would never be released.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-07-18 09:01] bigsheeper commented on #18310
/assign

[2022-07-18 10:20] umitkarakas123 commented on #18155
is there any update @yanliang567 ??

[2022-07-18 10:55] yanliang567 commented on #18155
@umitkarakas123 it is not easy to address the issue as we did not reproduce it locally. Do you have any chance to check it on 2.1.0 build?

[2022-07-18 13:38] wayblink commented on #18067
Please upload the complete log if you can reproduce the situation. Currently it is not enough for me to find the root cause.

[2022-07-19 00:12] #17479 closed

[2022-07-19 00:12] #17478 closed

[2022-07-19 00:12] #17482 closed

[2022-07-19 00:12] #17481 closed

[2022-07-19 00:12] #17483 closed

[2022-07-19 00:12] #12164 closed

[2022-07-19 00:41] yanliang567 commented on #17462
reopen it for tracking

[2022-07-19 00:54] yanliang567 commented on #17792
/assign @xiaocai2333
/unassign @zhuwenxing

[2022-07-19 01:17] Sivannnnnn commented on #18288
hello @LoveEachDay ,The configurations I use are the default configurations and have not been modified. In addition, I have many machines and there is no case of multiple deployments using the same volume. How to configure compression, now the disk occupy too much, I am very headache

[2022-07-19 01:40] zhuwenxing opened #18316 "[Bug]: Search failed when running `hello_milvus.py` with error `attempt #1:fail to get shard leaders from QueryCoord: no replica available` after many pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search failed when running `hello_milvus.py` with error `attempt #1:fail to get shard leaders from QueryCoord: no replica available` after many pod kill chaos test
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

standalone

[2022-07-19 01:41] yanliang567 commented on #18316
/assign @jiaoew1991
/unassign

[2022-07-19 01:42] zhuwenxing commented on #17792
version `master-20220718-f7bd054a`
failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/8433/pipeline
log: [artifacts-indexnode-pod-kill-8433-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9136762/artifacts-indexnode-pod-kill-8433-server-logs.tar.gz)

[2022-07-19 01:48] zhuwenxing commented on #18316
This reproduced stably， see https://github.com/milvus-io/milvus/actions/runs/2692378331， the failed job all failed for the same reason as this issue

[2022-07-19 02:08] zhuwenxing commented on #18316
@xiaofan-luan
Can you please take a look, this issue may be related to the PR https://github.com/milvus-io/milvus/pull/18250

[2022-07-19 02:16] weiliu1031 commented on #18316
this issue my be related to https://github.com/milvus-io/milvus/issues/18178

[2022-07-19 02:16] jingkl opened #18318 "[Bug]: [benchmark][cluster]Milvus recall search report an error"StatusCode.DEADLINE_EXCEEDED, Deadline Exceeded""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-cron-1658160000-5
server-configmap
server-cluster-8c16m
client-configmap
client-acc-glove-ivf-flat

[code]

client pod

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anyth

[2022-07-19 02:17] xiaocai2333 commented on #17792
[code]
The scheduler's time is too long(10s), so the tasks not being allocated in time.

[2022-07-19 02:21] xiaofan-luan commented on #18310
good catch! this may cause serious memory leak

[2022-07-19 02:25] xiaofan-luan commented on #18288
enableGarbageCollection and restart should probabaly help on your case, did you try that?

[2022-07-19 02:36] jingkl commented on #18318
This problem has been fixed before but has returned：#17434
It is currently reporting an error at nprobe 512, which is when nprobe is larger

[2022-07-19 02:50] xiaofan-luan commented on #18260
We will be working on partition related issue after 2.1 release.
So far we recommend not to use partition related

[2022-07-19 03:00] zhuwenxing commented on #18270
This reproduced again, any progress?
failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test-kafka/detail/chaos-test-kafka/665/pipeline
log:[artifacts-minio-pod-kill-665-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9137077/artifacts-minio-pod-kill-665-server-logs.tar.gz)

[2022-07-19 03:27] zhuwenxing commented on #17885
Is there such a command that can be used? If so, I can try to add it to the pipeline for verification

[2022-07-19 03:46] zhuwenxing commented on #18316
/assign @xiaofan-luan

[2022-07-19 03:52] LoveEachDay commented on #18288
@Sivannnnnn  Since you're using docker-compose, you can login to the milvus standalone container, then edit the `/milvus/configs/milvus.yaml` to set `enableGarbageCollection` to `true` under the `dataCoord` section, and finally restart the milvus standalone container.  Now you set `enableGarbageCollection`  to `true`, when you drop a collection, the collection data will be released in a day.

You

[2022-07-19 04:03] zhuwenxing commented on #18316
I have tried with two images `master-20220718-638f6c36` and `master-20220718-c9756359`, and it works well on `master-20220718-638f6c36` and have the same issue on  `master-20220718-c9756359`.
So It is basically confirmed that this issue was introduced by PR https://github.com/milvus-io/milvus/pull/18250

[2022-07-19 07:06] jingkl opened #18327 "[Bug]: [benchmark][standalone]Milvus load 10m data failed ，raise an error"StatusCode.UNAVAILABLE，failed to connect to all addresses""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-mkpkn-1
server-configmap
server-single-8c16m
client-configmap
client-random-locust-10m-ddl-r8-w2-2h-noindex

<img width="1348" alt="截屏2022-07-19 15 00 30" src="https://user-images.githubusercontent.com/34296482/179686674-04483de5-fbd1-4f8b-bafe-

[2022-07-19 07:37] yanliang567 commented on #18327
/assign @xige-16

[2022-07-19 07:38] jingkl commented on #18327
server-instance
fouram-lr5r4-1
server-configmap
server-single-8c16m-ssd
client-configmap
client-random-locust-10m-ddl-r8-w2-2h-noindex

2.1.0-20220719-42ee90c7
pymilvus 2.1.0dev103

[code]

[code]

<img width="1338" alt="截屏2022-07-19 15 36 35" src="https://user-images.githubusercontent.com/34296482/179694037-ceb28b65-eb6f-4c5f-bba3-186cea62f39b.png">

[2022-07-19 08:25] yanliang567 commented on #18318
/assign @xige-16
/unassign

[2022-07-19 08:49] czs007 opened #18331 "[Enhancement]: Return empty result in advance if all data filtered out"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

When the number of valid data is 0, the performance of hnsw is very low. Therefore, a small optimization is to return an empty result in advance without calling the know interface when it is determined in advance that the effective number is 0.

### Why is this needed?

_No re

[2022-07-19 12:07] zhuwenxing commented on #17792
I have tried five times with version `master-20220718-f7bd054a`, and this issue was not reproduced.
Remove the critical label.

[2022-07-19 12:37] xige-16 commented on #18327
usageAfterLoad is based on binlog.logsize statistics, but the logsize recorded by datacoord is the compressed size, which will cause the querynode's estimate of the segmentsize to be smaller, and it will also lead to higher load concurrency.
At this time, the memory may not be enough.
[code]

[2022-07-19 12:38] xige-16 commented on #18327
releated pr: https://github.com/milvus-io/milvus/pull/18336

[2022-07-19 23:05] #17506 closed

[2022-07-20 01:28] devNullgh opened #18339 "[Feature]: CentOS无法部署分布式Milvus,是否考虑对ansible部署milvus增加对CentOS的支持?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

官网现有的ansible部署分布式milvus是基于Ubuntu系统,由于系统差别,若用户平台为CentOS则会产生各类脚本指令错误异常.
![image](https://user-images.githubusercontent.com/43362620/179874341-c0866667-0ace-41ef-9456-0e79371f390b.png)

### Describe the solution you'd like.

希望官方可以提供基于CentOS系统的ansibl

[2022-07-20 01:40] LoveEachDay commented on #18339
/assign @john-h-luo

[2022-07-20 01:49] zhuwenxing commented on #18270
Reproduced in GitHub action
failed job: https://github.com/milvus-io/milvus/runs/7415702986?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/7427352618/artifacts/303375456

[2022-07-20 01:55] bigsheeper commented on #18262
Hi @BUPTAnderson , https://github.com/milvus-io/milvus/pull/18311 has been merged, this pr added a exception safe protection. Would you please task a test with the latest version of master branch?

[2022-07-20 01:55] bigsheeper commented on #18262
/unassign
/assign @BUPTAnderson

[2022-07-20 01:59] BUPTAnderson commented on #18262
@bigsheeper Ok, I will verify it in the next two days.

[2022-07-20 02:38] binbinlv commented on #18283
OK，work as design, close.

[2022-07-20 02:38] #18283 closed

[2022-07-20 02:53] jingkl commented on #18318
server-instance
fouram-cron-1658246400-5
server-configmap
server-cluster-8c16m
client-configmap
client-acc-glove-ivf-flat

pymilvus 2.1.0dev103
 2.1.0-20220719-69aea00c

[code]

[code]

[2022-07-20 02:55] jiaoew1991 commented on #18287
/assign @weiliu1031

[2022-07-20 03:09] jiaoew1991 commented on #18339
@devNullgh Please describe the title and content in English

[2022-07-20 03:32] devNullgh commented on #18339
OK.

[2022-07-20 03:39] houlang commented on #17633
我是蒋孝乐。已经收到您的来信，我会尽快回复。

[2022-07-20 03:41] jingkl commented on #18327
server-instance
fouram-248b6-1
server-configmap
server-single-8c16m
client-configmap
client-random-locust-10m-ddl-r8-w2-2h-noindex

2.1.0-20220719-69aea00c
pymilvus 2.1.0dev103
The memory keeps going up, noindex's 10m of data was only 5g originally, so why is the memory used up to about 11g？

<img width="1378" alt="截屏2022-07-20 11 38 39" src="https://user-images.githubusercontent.com/34296482/1798

[2022-07-20 03:45] czs007 commented on #18318
![image](https://user-images.githubusercontent.com/59249785/179892186-2ee38894-f7f9-4531-b7d5-a22d86b57d22.png)

[2022-07-20 04:39] #15966 closed

[2022-07-20 04:39] #17291 closed

[2022-07-20 04:43] yanliang567 commented on #16426
any updates/

[2022-07-20 06:53] umitkarakas123 commented on #18155
now my rootcord exited and here is rootcord logs;  @yanliang567

`[2022/07/19 15:00:03.536 +00:00] [DEBUG] [session_util.go:86] ["Session try to connect to etcd"]
[2022/07/19 15:00:03.536 +00:00] [DEBUG] [root_coord.go:791] ["RootCoord connected to QueryCoord"]
[2022/07/19 15:00:03.536 +00:00] [DEBUG] [session_util.go:101] ["Session connect to etcd success"]
[2022/07/19 15:00:03.539 +00:00] [DEBUG

[2022-07-20 07:14] yanliang567 commented on #18155
did you upgrade 2.0.2 to 2.1 or install a new 2.1 milvus completely?

[2022-07-20 07:23] weiliu1031 commented on #18287
/assign @weiliu1031

[2022-07-20 07:47] umitkarakas123 commented on #18155
ı using docker compose.yml so using like this;
[dependencies.yml.txt](https://github.com/milvus-io/milvus/files/9147612/dependencies.yml.txt)

[2022-07-20 07:54] xiaofan-luan commented on #18331
pls backport to master as well, thanks

[2022-07-20 07:55] #18310 closed

[2022-07-20 07:59] umitkarakas123 commented on #18155
every deploy this coords yml, rootcoord exited all the time
[coords.yml.txt](https://github.com/milvus-io/milvus/files/9147720/coords.yml.txt)

@yanliang567

[2022-07-20 08:03] xiaofan-luan commented on #16607
keep it.
Should bulkload respect consistency?

[2022-07-20 09:01] weiliu1031 commented on #18287
root cause:
pulsar broker lost connection with zk,  and the recovery cost about two minutes(23:49:59 ~23:51:19), which means the pulsar borker are unavailable in that period。 and the watchDmTask in loadCollection request hang on until pulsar broker is online。

and the loadCollection operation just wait for about 20s, then it got timeout.

[2022-07-20 10:15] yanliang567 commented on #18303
@soothing-rain could you please help to take a look at this issue. come to me if you also fail to download the logs.

/assign @soothing-rain
/unassign

[2022-07-20 10:45] yanliang567 commented on #18155
@LoveEachDay could you please help on this ?
/assign @LoveEachDay
/unassign

[2022-07-20 11:46] #17517 closed

[2022-07-20 11:46] #17124 closed

[2022-07-20 11:46] #17344 closed

[2022-07-20 12:48] linhgao opened #18348 "[Bug]: Thread creation failed: Resource temporarily unavailable in Querynode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I test with 20 thread count, querynode pod restart.

### Expected Behavior

Should return search results normally

### Steps To Reproduce

[code]

### Milvus Log

libgomp: Thread creation failed: Resource temporarily unavailable
Assert "metric_bimap.left.count(re

[2022-07-20 12:55] yanliang567 commented on #18348
seems that the error pops up in knowhere?
@xige-16  could u please take a look first?
/assign @xige-16
/unassign

[2022-07-20 14:15] xiaofan-luan commented on #18348
/assign @longjiquan
thought long is working on it

[2022-07-21 02:12] binbinlv commented on #17750
Similar issue appears again in the following latest nightly:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/665/pipeline

1. milvus log:
[artifacts-milvus-distributed-kafka-master-665-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/665/artifact/artifacts-milvus-distributed-kafka-master-665-pymilvus-e2e-log

[2022-07-21 02:30] jingkl commented on #18327
server-instance
fouram-phrj8-1
server-configmap
server-single-8c16m
client-configmap
client-random-locust-10m-ddl-r8-w2-2h
2.1.0-20220719-69aea00c
pymilvus 2.1.0dev103

Creating indexes is also a gradual increase in memory as well

<img width="1382" alt="截屏2022-07-21 10 24 21" src="https://user-images.githubusercontent.com/34296482/180116569-a0ac3ae5-8f28-4cc2-90e8-bb1b68f3d6ac.png">

[2022-07-21 02:56] jingkl commented on #18318
2.1.0-20220716-48b9b941
pymilvus 2.1.0dev103
Can run through nprobe's big scenarios

[2022-07-21 03:16] binbinlv commented on #18088
Fixed， so close it.

[2022-07-21 03:16] #18088 closed

[2022-07-21 03:17] binbinlv commented on #15282
It has not been reproduced for a long time, so close it first. And will reopen it if it occurs in the future.

[2022-07-21 03:39] SimFG opened #18352 "[Enhancement]: Refine some datanode code"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Refine some datanode code, like removing `zap.Any()`, unnecessary variables.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-07-21 03:42] #18352 closed

[2022-07-21 05:48] zhuwenxing commented on #18316
/reopen

[2022-07-21 07:00] zhuwenxing commented on #18316
It still happened in version `master-20220721-a6e1ddb5`

failed job: https://github.com/zhuwenxing/milvus/runs/7443664045?check_suite_focus=true
log: [logs-standalone](https://github.com/zhuwenxing/milvus/suites/7454035644/artifacts/305097703)

[2022-07-21 07:08] zhuwenxing commented on #17792
There still seems to be a possibility that this issue will happen
failed job: https://github.com/zhuwenxing/milvus/runs/7443664307?check_suite_focus=true
log: https://github.com/zhuwenxing/milvus/suites/7454035644/artifacts/305097701

[2022-07-21 07:27] xiaocai2333 commented on #17792
[code]
[code]

It seems that there is no IndexNode available in the final state, there should be a problem with deployment.

[2022-07-21 07:34] xiaocai2333 commented on #17792
But in IndexNode's log, the serverID is 39.
[code]

[2022-07-21 07:42] xiaocai2333 commented on #17792
[code]

[2022-07-21 08:20] zhuwenxing commented on #17792
We will check the status of Milvus before running tests.
Indexnode is working well before running `test_e2e.py`
![image](https://user-images.githubusercontent.com/12268675/180165975-a90349e5-3307-4da5-82df-24a234480ced.png)

[2022-07-21 11:47] #17215 closed

[2022-07-21 11:57] xiaofan-luan opened #18357 "[Bug]: Handoff handler should not use timer but ticker"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

We use a timer, but it is only scheduled once
A ticker should be used.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-07-21 14:05] yanliang567 commented on #18357
/assign @xiaofan-luan
/unassign

[2022-07-21 16:03] soulteary commented on #18192
Hi, due to the reasons mentioned in the PR, this issue can be closed, I will submit other related improvement issues, thank you. @yanliang567

https://github.com/milvus-io/milvus/pull/18193#issuecomment-1191668186

[2022-07-21 16:03] #18192 closed

[2022-07-21 16:15] soulteary opened #18360 "[Bug]: Wrong parameters used to build OpenBLAS in docker builder"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The parameters in the build scheme we are currently using are: https://github.com/milvus-io/milvus/blob/master/build/docker/openblas/ubuntu18.04/Dockerfile

[code]

the `LAPACKE` option is invalid, and in knowhere, this dependency is also not needed. https://github.co

[2022-07-21 18:10] majedtaki opened #18361 "[Bug]: RHNSW_PQ IP index returning ascending distances scores"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I inserted 56 clip embeddings of 512 size. All the embeddings were normalized before insertion. I built an index of the following type:
[code]

After the index was built, I loaded the collection and attempted to do a search but all the results I receive are wrong and

[2022-07-22 00:01] yanliang567 commented on #18361
@longjiquan could yuo please take a look?
/assign @longjiquan
/unassign

[2022-07-22 01:31] #16288 closed

[2022-07-22 01:31] #17059 closed

[2022-07-22 01:31] #17540 closed

[2022-07-22 01:31] #17534 closed

[2022-07-22 02:39] binbinlv commented on #15785
This issue has been reproduced in both master and 2.1.0 branch:
master:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/667/pipeline/190
(1) milvus log: [artifacts-milvus-distributed-pulsar-master-667-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/667/artifact/artifacts-milvus-distributed-pulsar-master-667

[2022-07-22 02:40] binbinlv commented on #15785
So reopen this issue.

[2022-07-22 02:40] binbinlv commented on #15785
Considering it is randomly reproduced in both master and 2.1.0 branch, so not set as urgent.

[2022-07-22 03:07] congqixia opened #18362 "[Enhancement]: Add interface to Read&Write service configuration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add mechanism to Read and update running configuration.

### Why is this needed?

- Need a method to detect configuration mistake after deployment
- Change configuration value with out service downtime

### Anything else?

Related to #18300

[2022-07-22 03:22] congqixia commented on #17648
@xiaofan-luan #18292 shall be a temp fix for this problem. Still need to design drop related procedure in DataCoord

[2022-07-22 06:13] binbinlv commented on #17115
Keep opening

[2022-07-22 06:19] zhuwenxing opened #18368 "[Bug]: Flush failed when running `test_e2e.py` after minio pod kill"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Flush failed when running `test_e2e.py` after minio pod kill
[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: https://github.com/milvus-io/milvus/runs/7455771217?check_suite_focus=true
log : https://gith

[2022-07-22 06:55] xiaofan-luan commented on #18368
/assign @wayblink

[2022-07-22 06:55] xiaofan-luan commented on #18368
pls help on it~

[2022-07-22 07:08] martinenkoEduard commented on #16033
got the same error after a unexpected reboot (power out).
It says proxy not healthy

[log.txt](https://github.com/milvus-io/milvus/files/9165490/log.txt)

[2022-07-22 07:25] jingkl opened #18370 "[Bug]: [benchmark][cluster]Search results empty after upgrading from milvus 2.0.2 to 2.1.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-tag-no-clean-5n89c-1
server-configmap
server-cluster-8c64m
client-configmap
client-random-locust-100m-ddl-r8-w2-12h
2.0.2-20220402-898533c5

update image：
pymilvus 2.1.0dev103
2.1.0-20220720-f96ad7ec
server-instance
fouram-tag-no-clean-5n89c-1
s

[2022-07-22 07:43] ThreadDao commented on #16789
Leave it alone

[2022-07-22 07:43] ThreadDao commented on #16750
leave it alone

[2022-07-22 08:26] zhengsonglinge commented on #18288
@LoveEachDay @xiaofan-luan
I re-write 100 million pieces of data to milvus, each piece of data being a 128 dimensional vector and two Int type number.

We can make a simple calculation: 10^8 x 130 x 4 / 2^30 = 48G, if the compression ratio is 3.3, I  expected to get 14.5G of data, but I got 45G, so obviously the data wasn't compressed.

This is my milvus.yaml file:

[code]

After restart the milvu

[2022-07-22 09:06] psc0606 opened #18372 "[Bug]: Poor performance when I do batch inserting"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]
I enable proxy debug log, get lots of logs, but when I do batch insert 1000 entities per request (128dim, only two field), but I get rather poor performance, about 800ms(I get from logs)

By analyze logs and `task.go`, I found poor performance about above `for`

[2022-07-22 09:46] xiaocai2333 commented on #18012
@yuliu-eric This problem is difficult to reproduce, can you use version 2.1 directly?
BTW, is your original data version 1.1.1? Does it have to be kept?

[2022-07-22 10:12] xiaofan-luan commented on #18370
important compatibility issue, wait for fix

[2022-07-22 10:36] yuliu-eric commented on #18012
Sure, we can try out 2.1, when do you think 2.1 will be ready?

Yes, original data version is 1.1 and we need to migrate them to 2.x

[2022-07-22 10:52] yanliang567 commented on #18370
workaround for this issue: release and load the collections before or after Milvus upgrade

[2022-07-22 11:23] psc0606 commented on #18372
another case is proxy metric make insert rather slow:

[code]

[2022-07-22 14:10] #18023 closed

[2022-07-22 14:14] #17401 closed

[2022-07-22 14:14] #17426 closed

[2022-07-22 14:27] zhuwenxing commented on #18316
If reloads before the search, this issue seems will not happen.
In the deploy test, search works well after reinstall, because the collection reloaded, but if the collection was not reloaded, this issue will also happen. see https://github.com/zhuwenxing/milvus/actions/runs/2718590326

[2022-07-22 14:31] xiaofan-luan commented on #18360
/assign @soulteary
would you help on this issue? thanks!

[2022-07-22 22:58] #17532 closed

[2022-07-23 00:44] zhuwenxing opened #18377 "[Bug]: Deploy test for master branch failed with error `fail to get shard leaders from QueryCoord: no replica available`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

search failed after reinstall or upgrade
[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

reinstall
failed job: https://github.com/milvus-io/milvus/runs/7475250315?check_suite_focus=true
log: https://github.com/milv

[2022-07-23 00:46] zhuwenxing commented on #18270
Not reproduced recently

[2022-07-23 03:40] zhuwenxing opened #18379 "[Bug]: Search raise error after docker restart when upgrading Milvus from 2.0.2 to 2.1 fininshed if waiting time is 3 minutes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

see https://github.com/zhuwenxing/milvus/runs/7478024677?check_suite_focus=true
search after docker restart
[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: https://github.com/zhuwenxing/milvus/runs/7478

[2022-07-23 05:30] zhuwenxing opened #18380 "[Bug]: List collection raise `Server unavailable` after waiting 120s when Milvus cluster reinstall finished"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

running the second test after reinstalling
[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: https://github.com/zhuwenxing/milvus/runs/7478489014?check_suite_focus=true
log: https://github.com/zhuwenxing/

[2022-07-23 06:00] zhuwenxing commented on #18380
So the point is with this image, the waiting time for service available is longer than before

[2022-07-23 06:06] #17578 closed

[2022-07-23 06:40] martinenkoEduard opened #18382 "I properly restarted milvus (releasing collection first, then issuing docker-compose down) I loads collection just fine and say the right number of entries - but when I search for something it returns zero results.[Bug]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![Screenshot 2022-07-23 092007](https://user-images.githubusercontent.com/108512856/180593691-47dfd354-67ff-4b67-9bc8-0d9ed45cb8c6.png)
![Screenshot 2022-07-23 092206](https://user-images.githubusercontent.com/108512856/180593692-2390c0fd-2fd0-48e9-a40a-417fa1dcb14e.p

[2022-07-23 06:53] yanliang567 commented on #18382
which version of milvus are you running?

[2022-07-23 07:02] martinenkoEduard commented on #18382
v2.0.2, using docker-compose (standalone I suppose)
  standalone:
    container_name: milvus-standalone
    image: milvusdb/milvus:v2.0.2
    command: ["milvus", "run", "standalone"

[2022-07-23 07:03] martinenkoEduard commented on #18382
I haven't delete the data yet, so I can do needed tests.

[2022-07-23 07:31] martinenkoEduard commented on #18382
I am running it on ubuntu inside a VirtualBox. (but this shouldn't matter..)

Btw - all actions on the collection are successful (besides search) in Attu. I can load, release, create index (using Attu).
It properly show real numbers of entities inside  a collection, but it just doesn't search. I mean it returns nothing.

I suppose (haven't tried yet) it also will allow to add new elements.

[2022-07-23 09:01] martinenkoEduard commented on #18382
Is there a way to query all the data from collection without filtering? maybe there is something wrong with fileting?

[2022-07-23 09:03] martinenkoEduard commented on #18382
BTW - I just have tried to add a new vector and it successfully adde
![Screenshot 2022-07-23 120248](https://user-images.githubusercontent.com/108512856/180598304-8b24594a-a260-415b-aa6a-9a8dc8ea4b61.png)
d it. But all previous are not present.......
So in only shows one element, although there must be more.

[2022-07-23 09:18] yanliang567 commented on #18382
@martinenkoEduard Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation? BTW， did you try release and load the collection again?

[2022-07-23 09:19] yanliang567 commented on #18379
/assign @congqixia
/unassign

[2022-07-23 09:20] yanliang567 commented on #18380
/assign @congqixia
/unassign

[2022-07-23 09:37] martinenkoEduard commented on #18382
Yep. tried to Load and release several times. Tried to restart milvus, and even reboot the virtual machine.

[2022-07-23 09:42] martinenkoEduard commented on #18382
[milvus.log](https://github.com/milvus-io/milvus/files/9173484/milvus.log)

I haven't  managed to run export-milvus-log.sh (I don't know  the right parameter Specify the milvus instance name)
so I unloaded logs using docker-compose logs > milvus.log

[2022-07-23 09:43] martinenkoEduard commented on #18382
Btw .. I tried to add one element, and then release and load the collection and this element is also gone....

[2022-07-23 09:46] martinenkoEduard commented on #18382
Tried to add new element again and release/load collection - strangely it is here...

So to this bug to appear it has to be in memory for some time? (maybe something with flushing?)
[milvus3.log](https://github.com/milvus-io/milvus/files/9173491/milvus3.log)
![Screenshot 2022-07-23 124423](https://user-images.githubusercontent.com/108512856/180600119-2d6b8058-d19b-45e4-98d8-d70a4bed7c8d.png)

[2022-07-23 09:50] martinenkoEduard commented on #18382
This is log after milvus restart.
It show only two recent elements in the collection. (

[milvus_after_milvus_restart.log](https://github.com/milvus-io/milvus/files/9173498/milvus_after_milvus_restart.log)

[2022-07-23 10:10] martinenkoEduard commented on #18382
Tried to restart milvus again... Even these two are gone....

![Screenshot 2022-07-23 131002](https://user-images.githubusercontent.com/108512856/180600809-bd626648-eb16-4792-abe4-1901e84a2365.png)
[milvus_after_milvus_restart_2.log](https://github.com/milvus-io/milvus/files/9173529/milvus_after_milvus_restart_2.log)

[2022-07-23 10:36] #16500 closed

[2022-07-23 10:36] #17512 closed

[2022-07-23 10:36] #16963 closed

[2022-07-23 10:36] #17041 closed

[2022-07-23 10:36] #16481 closed

[2022-07-23 10:36] #17378 closed

[2022-07-23 10:36] #17581 closed

[2022-07-23 11:07] martinenkoEduard commented on #18382
Yep - so the problem seems to be:

I can add new items freely.
If milvus stays for a while there is a chance that some data will be "lost"
It happens almost in 100% cases when you release/load a collection.

BUT you have to wait a little. If you release/load a collection right after you have added it, it will show this data..

but if you wait an then release/and load data - there is no search resu

[2022-07-23 13:59] xiaofan-luan opened #18385 "[Enhancement]: Remove unnecessary go routine when load segment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

remove redundant go routine code in segment loader

### Why is this needed?

1. no need load delete in parallel since it is only in memory operation and should be complete pretty fast.
2. cleanup the code

### Anything else?

_No response_

[2022-07-23 14:03] martinenkoEduard commented on #18382
Maybe something wrong with Consistency level?

[2022-07-23 14:27] martinenkoEduard commented on #18382
Just tried to add new vector.
added 1738    using -  collection.insert([[face_id],[embedding]])
checked query  all 1738 in place.

after that - released and loaded the collection -
![Screenshot 2022-07-23 172436](https://user-images.githubusercontent.com/108512856/180609404-f3045838-0b53-4507-aa10-1dafb6c26334.png)

[2022-07-23 17:25] #17603 closed

[2022-07-23 17:25] #17583 closed

[2022-07-23 17:28] martinenkoEduard commented on #18382
Also it seems to most likely happen on 1000-1500 entries.

[2022-07-23 19:23] martinenkoEduard commented on #18382
tried a lot of this - all to no avail...
It's not virtual box. I tried to move to real ubuntu 22.04

I don't know. Maybe it is because I insert new data when the collection is loaded?  But it seems a normal thing to do.

[2022-07-24 01:53] zhuwenxing opened #18391 "[Bug]: Search failed after standalone pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

search raise error when running `hello_milvus.py` after standalone pod kill chaos test
[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: https://github.com/zhuwenxing/milvus/runs/7481804366?check_suite_fo

[2022-07-24 04:11] #17567 closed

[2022-07-24 04:11] #17289 closed

[2022-07-24 05:50] martinenkoEduard commented on #18382
In my tests I found a particular thing.
When I inserted a lot of random data

`i = 5000
while i <2_000_000:
    i = i +1
    rng = np.random.default_rng()
    arr = rng.random(512)
    mr = collection.insert([[i],[arr]])
    if (i % 10_000) == 0:`

Lost entries appeared by some reason.... They even stayed there after a restart.
It is really strange...

[2022-07-24 06:48] martinenkoEduard commented on #18382
Addition - it also happens without load/release
I just inserted data to a loaded milvus, and after 300 entries entries with ID bellow 160 became unavailable.

it just on a running instance... Without release..

[2022-07-24 08:13] martinenkoEduard commented on #18382
Also there is possibility that it is Attu's fault.
When making a query it breakes something...

[2022-07-24 08:58] #17366 closed

[2022-07-24 09:48] xiaofan-luan opened #18393 "[Bug]: Simply delta channel operation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

see #18391
When we do recover, we find several delta channel is not properly assigned with segment, causing system hang due to no time tick pushing forward.

### Expected Behavior

1. query coord should not assign delta channel
2. while querynode load segment, it hand

[2022-07-24 09:48] xiaofan-luan commented on #18393
related to https://github.com/milvus-io/milvus/issues/18391

[2022-07-24 09:51] martinenkoEduard commented on #18382
Nope it only happens when running milvus using docker compose
When using minikube I don't get this issue.

[2022-07-24 10:07] martinenkoEduard commented on #18382
So it seems to be specific to docker compose

[2022-07-24 16:12] #17460 closed

[2022-07-24 16:12] #17369 closed

[2022-07-24 19:38] martinenkoEduard commented on #18382
The same issue is appearing on ttps://github.com/milvus-io/milvus/releases/download/v2.0.2/milvus_2.0.2-1_amd64.deb
And docker compose
but on minikube it seems to work fine.

[2022-07-24 19:45] martinenkoEduard commented on #18382
It seems to be fixed with When you get collection.num_entities  lost entries suddenly appear again...

connections.connect("default", host="192.168.56.102", port="19530")
collection = Collection("faces")

print("")
print(f"count: {collection.num_entities}")
print("")

[2022-07-25 00:56] yanliang567 commented on #18382
@congqixia could you please take a look at this issue? it sounds like a known issue in v2.0.2
/assign @congqixia
/unassign

[2022-07-25 00:57] yanliang567 commented on #17756
any updates

[2022-07-25 00:59] yanliang567 commented on #18377
/assign @congqixia
/unassign

[2022-07-25 02:16] binbinlv commented on #15785
Reproduced in the following 2.1.0 branch nightly:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-release-nightly/detail/milvus-release-nightly/172/pipeline/155
1. log: [milvus-distributed-kafka-172-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-release-nightly/172/artifact/milvus-distributed-kafka-172-pymilvus-e2e-logs.tar.gz)
2. collection name: coll

[2022-07-25 02:23] binbinlv commented on #17528
RPC timeout for "create_alias". Considering this is collection related interface rpc timeout too, so could you help to have a look first to check whether the root cause is the same with this issue? If not, I will open another issue, thanks.
@jaime0815

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/668/pipeline/157

1. milvus log:[artifacts-milvus-dis

[2022-07-25 03:10] martinenkoEduard commented on #18382
Yep the problem is than collection.num_entities is not instantaneous

[2022-07-25 06:09] jingkl opened #18398 "[Bug]: [benchmark][standalone]Milvus load 50m data failed, raise an error"syncTimestamp Failed:context deadline exceeded""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-cluster-cron-9mjrz-1
server-configmap
server-single-32c128m
client-configmap
client-get-local50m-512

server:
[code]

[code]
standalone memory:
<img width="1389" alt="截屏2022-07-25 14 10 11" src="https://user-images.githubusercontent.com/34296482

[2022-07-25 06:17] xiaofan-luan commented on #18398
/assign @yah01

[2022-07-25 06:28] jingkl commented on #18318
server-instance
fouram-cron-bhkrs-5
server-configmap
server-cluster-8c16m
client-configmap
client-acc-glove-ivf-flat
2.1.0-20220723-1e038a75
pymilvus 2.1.0dev103

[code]

[code]

[2022-07-25 06:31] JackLCL commented on #18012
Yes, it's ready now.

[2022-07-25 06:37] xiaofan-luan commented on #18382
/assign @xaxys could you help investigate on it

[2022-07-25 06:41] xiaofan-luan commented on #18372
it just means the produce takes 266ms, which means message storage is slow.

[2022-07-25 06:41] xiaofan-luan commented on #18372
it's the stream.Produce takes time

[2022-07-25 06:43] xiaofan-luan commented on #17062
we will close it, the new vector chunk manager will be written in cpp and support local disk

[2022-07-25 06:43] #17062 closed

[2022-07-25 06:44] #17165 closed

[2022-07-25 06:44] xiaofan-luan commented on #17285
/assign @haorenfsa

[2022-07-25 07:01] xiaofan-luan commented on #18398
could you check whether reduce concurrency help on this issue?

[2022-07-25 07:04] yah01 commented on #18398
This should help, according to the logs, the concurrency level for this request is 30, which is too high.

[2022-07-25 07:06] xiaofan-luan commented on #18398
how did we calculate the number 30?

[2022-07-25 07:08] psc0606 commented on #18372
@xiaofan-luan  But the second picture told me that it cost 826ms. And our pulsar metric indicate no any presussure.

[2022-07-25 07:13] yah01 commented on #18398
In this case, this single request contains 30 segments, the segment loader predicts memory usage for this request with:
predict = sum{segment.size} + max_segment_size * level * factor
which level is the concurrency level, and the factor is 3.0 by default.
the level is checked with this formula from min(segment_num, cpuPoolSize), goes the half of it if failed. For this, it passed the check for the

[2022-07-25 07:17] xiaofan-luan commented on #18398
so the restriction is predict < physical machine memory?

[2022-07-25 07:19] xiaofan-luan commented on #18398
sum{segment.size}  is the estimation or real memory usage?

[2022-07-25 07:19] yah01 commented on #18398
used_memory + predict < total_memory * limit_factor

which limit_factor is 0.9 by default.

[2022-07-25 07:19] xiaofan-luan commented on #18398
cause segment.size may not be accurate enough?

[2022-07-25 07:21] yah01 commented on #18398
It is calculated with `LogSize` field from binlogs, which may be not accurate

[2022-07-25 07:57] xiaofan-luan commented on #18372
time is consumed at stream.Produced, did you have pulsar metrics? what about the write latency?

[2022-07-25 08:14] psc0606 commented on #18372
<img width="1422" alt="image" src="https://user-images.githubusercontent.com/7888889/180728874-70a18680-37e5-4181-9327-e7763ce8fb9d.png">

[2022-07-25 08:15] psc0606 commented on #18372
<img width="1045" alt="image" src="https://user-images.githubusercontent.com/7888889/180730616-5734989b-7fc8-445e-91d1-3d502539c53e.png">

[2022-07-25 08:38] jingkl opened #18401 "[Bug]: [benchmark][cluster]Milvus 2 replicas concurrently with 2 clients, search, query, load latency becomes higher"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-tag-no-clean-xrq2m-1
server-configmap
server-cluster-8c64m-querynode2
client-configmap
client-random-locust-search-filter-100m-ddl-r8-w2-rep2-36h

[code]
search latency：
<img width="1391" alt="截屏2022-07-25 16 33 33" src="https://user-images.gith

[2022-07-25 09:18] BUPTAnderson commented on #18262
@bigsheeper I updated the cluster last week on branch-2.1.0(commitID: 4844219e). I found that #18271 and #18349 only merged to master branch. I merged  #18271 to branch-2.1.0 and deployed(pr #18349 has so many changes that I didn't merge to branch-2.1.0).
Unfortunately, I found that some queryNode still crashed after a periods of time, just less often, but not completely gone.

[2022-07-25 10:11] congqixia commented on #18401
Looks like this deployment has only ONE proxy. All the request of clients will be queued in proxy before dispatched to internal components. Could you please scale up number of proxies as well when number of clients increases? @jingkl

[2022-07-25 13:39] jingkl commented on #18401
client-random-locust-search-filter-100m-ddl-r8-w2-rep2-36h：

[code]

[2022-07-25 14:18] yuliu-eric commented on #18012
Cool, we will try out the 2.1 version and update back soon.

[2022-07-26 01:46] #18303 closed

[2022-07-26 01:55] jiaoew1991 opened #18406 "[Enhancement]: Integrated heaptrack to improve memory troubleshooting efficiency"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

There are two problems that need to be solved: one is how to collect memory information, and the other is how to analyze through GUI after collection.
In addition, considering that most of the development machines are macs, GUI analysis tools must be able to be used on macs

A

[2022-07-26 01:55] jiaoew1991 commented on #18406
/assigne

[2022-07-26 02:10] binbinlv commented on #17750
Similar issue appears again in the following latest nightly:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/676/pipeline

1. milvus log: [artifacts-milvus-distributed-kafka-master-676-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/676/artifact/artifacts-milvus-distributed-kafka-master-676-pymilvus-e2e-log

[2022-07-26 02:14] binbinlv commented on #17725
This issue appears continuously nearly every nightly, and the latest is:
https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-nightly-ci/branches/master/runs/676/nodes/124/steps/162/log/?start=0

1. milvus log: [artifacts-milvus-standalone-master-676-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/676/artifact/artifacts-m

[2022-07-26 02:17] binbinlv commented on #15785
Same issue in the following nightly:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/675/pipeline/190

1. milvus log:  [artifacts-milvus-distributed-pulsar-master-675-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/675/artifact/artifacts-milvus-distributed-pulsar-master-675-pymilvus-e2e-logs.tar.gz)
2. coll

[2022-07-26 02:21] binbinlv commented on #17528
It occurs again in the nightly for 2.1.0 branch:

1. milvus log: [milvus-distributed-kafka-178-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-release-nightly/178/artifact/milvus-distributed-kafka-178-pymilvus-e2e-logs.tar.gz)
2. collection name: collection_nG72GkTk
3. Failed time: [2022-07-25T23:48:30.014Z] [gw5] [  5%] FAILED testcases/test_collection.py::TestCollectionPa

[2022-07-26 02:23] longjiquan commented on #18361
/assign @Presburger
/assign @cydrain

[2022-07-26 02:32] xaxys commented on #18382
Which consistency level did you use?
When you release and reload collection, milvus may need to load the data again, which costs some time. So low consistency level might cause data missing. Try CONSISTENCY_STRONG for highest consistency level.

[2022-07-26 03:18] bjjoy opened #18407 "[Bug]: ValueError: Value out of range: 18011707182610584615"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

Unexcepted error: [bulk_insert], Value out of range: 18011707182610584615, <Time: {'RPC start': '2022-07-26 11:09:59.229761', 'Exception': '2022-07-26 11:09:59.239590'

[2022-07-26 03:29] LoveEachDay commented on #18288
@zhengsonglinge data inside `milvus/rdb_data` cleanup will take some time to iterate all the topics. Could you verify the disk usage now?

[2022-07-26 03:39] soothing-rain commented on #17793
Understood.

Can you tell which pod is consuming the that significant memory? Is it DataCoord, QueryCoord, etc? And how much.

[2022-07-26 03:40] soothing-rain commented on #17793
Understood.

Can you tell which pod is consuming the that significant memory? Is it DataCoord, QueryCoord, etc? And how much.

[2022-07-26 03:53] #17112 closed

[2022-07-26 03:53] #17114 closed

[2022-07-26 04:55] xaxys commented on #18382
For first test case (i.e. row_count: 3111, milvus.log, milvus2.log), there is a known bug which is already fixed by https://github.com/milvus-io/milvus/pull/16470

[2022-07-26 05:01] xiaofan-luan commented on #18288
manual compaction does not help on recycle data under milvus/rdb_data.

The recycle is happened in the following steps:
1) rocksmq data is consumed and acked.
2) acked data per topic is larger than retentionSizeInMB, or ack time is larger than rocksmq retentionTimeInMinutes
3) we will trigger a delete to rocksdb, and data is not cleaned yet.
4) rocksdb did compaction itself, and then data is clean

[2022-07-26 05:03] xiaofan-luan commented on #18407
/assign @longjiquan

[2022-07-26 05:03] xiaofan-luan commented on #18407
@yanliang567 let's add some test case about data distribution also

[2022-07-26 05:46] yanliang567 commented on #18370
/assign @jingkl
/unassign

[2022-07-26 05:52] jingkl commented on #18370
Upgrade from image **2.0.2-20220402-898533c5** to **2.1.0-20220723-1e038a75**, this issue is fixed, search results are normal, close issue

[2022-07-26 05:52] #18370 closed

[2022-07-26 05:54] martinenkoEduard commented on #18382
I tried all consistency levels. Even on strong consistency level this bug appears.
It appears only - if you installed milvus using docker-compose or milvus_2.0.2-1_amd64.deb

To this bug to appear it is not necessary to release/load a collection. It happened to me even when collection already was loaded. But if you release/load it happens almost in 100% cases.

So I add vectors one by one (using f

[2022-07-26 06:06] xaxys commented on #18382
Yes, these is a known bug occured in your log, it cause some data can not be load properly.
I would recommend you to use milvus 2.1.0, which have fixed this bug and will be released later today。

[2022-07-26 06:25] jingkl commented on #17674
2.1.0-20220722-6521f6da
pymilvus 2.1.0dev103

server-instance
fouram-tqmfl-1
server-configmap
server-cluster-8c64m-compaction
client-configmap
client-random-locust-compaction

[code]
client log:
<img width="1323" alt="截屏2022-07-26 14 24 41" src="https://user-images.githubusercontent.com/34296482/180937955-35764fa6-897c-4060-8e43-b21ba62fe30a.png">

[2022-07-26 06:52] zhengsonglinge commented on #18288
@xiaofan-luan
1. How do I know that the data in rocksmq has been consumed and validated?
2. In the milvus/log directory, why does the log file exist but the contents are empty, is there a configuration option here that is causing this problem?
![image](https://user-images.githubusercontent.com/54784900/180942307-a5507192-b017-44fa-a1eb-1fead2c3ea78.png)

[2022-07-26 06:54] zhuwenxing opened #18409 "[Bug]: Minio is not ready even though it is running after Milvus installation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Flush takes 180s then timeout
[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

[artifacts-pulsar-pod-kill-194-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/9187251/artifacts-pulsar-pod-kill-194-pytes

[2022-07-26 07:57] zhengsonglinge commented on #18288
@xiaofan-luan @LoveEachDay
I can only delete the data in the minio directory, not in the milvus/rdb_data directory. Is there any way to clear the contents of this collection, including the rdb_data and minio directories, after I delete the collection?

[2022-07-26 08:01] zhengsonglinge commented on #18288
I only have one collection, I don't know if the number of topics is also one. After I dropped the collection, the minio data was deleted immediately, but after one ​day milvus/rdb_data has not been deleted

[2022-07-26 08:33] cydrain commented on #18361
Test with RHNSW_FLAT, result is correct.
[code]

[2022-07-26 09:24] wayblink commented on #17726
/close

[2022-07-26 09:24] #17726 closed

[2022-07-26 09:33] Anosh21 commented on #18228
/assign

[2022-07-26 09:34] wayblink commented on #15785
I'll take a look

[2022-07-26 09:40] congqixia opened #18412 "[Bug]: ParseSegmentIDByBinlog panicks when input is not valid binlog path"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

`ParseSegmentIDByBinlog`panicks when input is not valid binlog path
with error message: "index out of range -2"

### Expected Behavior

utility function shall return error instead of panicking

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

###

[2022-07-26 10:31] freefoxcm opened #18415 "[Bug]: concurrent write data, data loss"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Writing 10 million 1024-dimensional data to milvus concurrently, and writing 1000 data per batch, only 9 million will be written in the end, and some will be lost. If we lower the number of data written to milvus to 10 each time, there will be no data loss again.
Test

[2022-07-26 11:32] #18412 closed

[2022-07-26 13:54] xiaofan-luan commented on #18415
/assign @yhmo pls help on investigate

[2022-07-26 13:54] xiaofan-luan commented on #18409
/assign @wayblink pls help on investigate

[2022-07-26 16:22] martinenkoEduard commented on #18382
Du you mean -milvus-2.1.0-testing-20220725? Is there only way to build it from source code?

[2022-07-26 17:29] xaxys commented on #18382
No, all kinds of distributions will be provided.
Sorry to have kept you waiting for so long. There is still a PR blocking the official release of 2.1.0. It will be released asap. (definetely within this week)

[2022-07-27 01:45] qwert170 opened #18422 "[Enhancement]: Ambiguous types tag for binary vector"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

我在尝试添加unsigned int8的功能的时候，发现/util/importutil/numpy_parser.go在convertNumptType函数里，uint8返回的是binary vector,这一块和添加unsigned int8有冲突

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-07-27 02:04] xiaofan-luan commented on #18422
/assign @czs007

[2022-07-27 02:05] #18385 closed

[2022-07-27 02:06] xiaofan-luan commented on #18294
@xige-16 is this still a issue?

[2022-07-27 02:07] xiaofan-luan commented on #18242
keep it open, this should be done once flow graph sharing task done

[2022-07-27 02:58] StevenSama commented on #17122
There are still memory leaks in some versions, slow leaks, estimated to leak 10%+ per day
milvusdb/milvus-dev:2.1.0-20220723-1e038a75

[2022-07-27 03:48] yangkequn opened #18424 "[Enhancement]: to support type string for binary data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

support binary data rather than characters only(varchar)

### Why is this needed?

currently, milvus only support type VarChar, but can not support arbitary binary data.
however modern programing language usually use string to enable storing binary data.
for example, i want to

[2022-07-27 04:54] #16429 closed

[2022-07-27 04:54] #17632 closed

[2022-07-27 04:54] #15294 closed

[2022-07-27 04:54] #15439 closed

[2022-07-27 06:03] yhmo commented on #18422
@qwert170 这里convertNumptType你可以先不动。要解决冲突的话，这里要把numpy header descriptor 的数据类型和collection schema的数据类型比对一下，以确定是否匹配

[2022-07-27 06:50] zhengsonglinge commented on #18288
@LoveEachDay @xiaofan-luan
As a test, I only wrote 10 million data. This is the size of the data after drop the collection. minio directory originally contained 4.6G of data before I drop it.

[code]

This is my code:

[code]

I got the following log:

[code]

My question:

1. Why did only two topics trigger the delete operation?

2. by-dev-rootcoord-dml_1 and by-dev-rootcoord-dml_1 topic  trigger

[2022-07-27 08:52] xiaofan-luan commented on #18228
We also want to support user specified tenant and namespace

[2022-07-27 08:54] #17699 closed

[2022-07-27 09:34] Shreypandey commented on #4430
Is there any approximation of the release date of v2.1?

[2022-07-27 09:44] Shreypandey commented on #4430
/reopen

Is there any approximation of the release date of v2.1?

[2022-07-27 11:23] congqixia opened #18431 "[Bug]: Garbage collector logic about list error and parse segment id is not correct"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

`ListObjects` may return info with `Key` = "" and `Err` not nil
And new modified `ParseSegmentIDByBinlog` cannot handle rootPath contains "/"

### Expected Behavior

Garbage collector handles error. `ParseSegmentIDByBinlog` shall  handles rootPath contains "/"

### St

[2022-07-27 11:42] congqixia commented on #18431
There are two parts of current problem:
- in v2.1.0 branch, garbage collection of datacoord still uses minio client, which may returns an error result with empty key, which caused previously panic. And this error is not handled correctly.
- #18419 #18413 added some check to make sure binlog path follows wanted format, which introduce the logic problem: if rootPath of oss configuration contains "/"

[2022-07-27 11:44] congqixia commented on #18431
#18432 add list object result error check and fixes `ParseSegmentIDByBinlog` logic.
While master branch uses `chunkManager` now so #18433 fixes only the `ParseSegmentIDByBinlog` behavior

[2022-07-27 12:09] zhuwenxing commented on #18379
If the waiting time is longer, this issue will not happen,so remove critical label

[2022-07-27 20:18] #16713 closed

[2022-07-27 20:18] #16737 closed

[2022-07-27 20:18] #16612 closed

[2022-07-27 20:18] #17147 closed

[2022-07-27 20:18] #17180 closed

[2022-07-28 01:51] jingkl commented on #18401
2.1.0-20220726-1b33c731
pymilvus 2.1.0dev103
The issue has now been fixed, so close the issue.
If the problem occurs again later, the issue will be opened again.

[2022-07-28 01:51] #18401 closed

[2022-07-28 01:53] jingkl commented on #18398
2.1.0-20220727-7169256c
pymilvus 2.1.0dev103

[2022-07-28 01:59] jingkl commented on #18100
The issue did not recur, so close to the issue

[2022-07-28 01:59] #18100 closed

[2022-07-28 02:01] jingkl commented on #17416
The issue did not recur, so close the issue

[2022-07-28 02:01] #17416 closed

[2022-07-28 02:02] jingkl commented on #17829
The issue did not recur, so close the issue

[2022-07-28 02:02] #17829 closed

[2022-07-28 02:04] jingkl commented on #17339
It has been verified that after changing the concurrent configuration to the same, the problem does not recur, so close the issue

[2022-07-28 02:04] #17339 closed

[2022-07-28 02:06] jingkl commented on #18056
[2.1.0-20220726-1b33c731
pymilvus 2.1.0dev103
The issue has been verified as not recurring, so close the issue

[2022-07-28 02:06] #18056 closed

[2022-07-28 02:11] jingkl commented on #17651
2.1.0-20220726-1b33c731
pymilus 2.1.0dev103

server-instance
fouram-tag-no-clean-dn9tn-1
server-configmap
server-cluster-8c64m-kafka
client-configmap
client-random-locust-100m-ddl-r8-w2-100h
[code]
datanode memory：
<img width="1386" alt="截屏2022-07-28 10 09 28" src="https://user-images.githubusercontent.com/34296482/181404960-a579738e-3e3d-47c5-bcfe-03d2f91c34c7.png">
The datanode's memory still ke

[2022-07-28 02:54] jingkl commented on #18318
server-instance
fouram-cron-1658937600-5
server-configmap
server-cluster-8c16m
client-configmap
client-acc-glove-ivf-flat

2.1.0-20220727-7169256c
pymilvus 2.1.0dev103

[code]

[code]

[2022-07-28 02:59] elstic opened #18436 "[Bug]: [Milvusv2.1][doc] milvus download address 404"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I follow the link to download the standalone version of milvus,  with 404

![image](https://user-images.githubusercontent.com/48523564/181409619-186f0a72-619a-4812-9a0e-2cf392369906.png)

I checked the link and the .deb package address should be: "https://github.

[2022-07-28 03:02] weiliu1031 commented on #18300
support dynamic change log level through http, base on https://pkg.go.dev/go.uber.org/zap#AtomicLevel.ServeHTTP

we add change log level api on origin metrics port, so  suppose the origin metrics listen on 192.168.48.12:9091.

get current log level:
curl -X GET 192.168.48.12:9091/log/level

update current log level:
curl -X PUT 192.168.48.12:9091/log/level -d level=error

Demo:
<img width="797" al

[2022-07-28 03:40] YiyunNi commented on #18436
Thanks for the feedback. I will fix it asap.

[2022-07-28 03:41] xiaofan-luan commented on #18316
/assign @xige-16

[2022-07-28 03:42] jiaoew1991 commented on #18228
/assign @weiliu1031

[2022-07-28 04:11] YiyunNi commented on #18436
Fixed with this [PR](https://github.com/milvus-io/milvus-docs/pull/1669).

[2022-07-28 04:36] #18331 closed

[2022-07-28 06:16] yanliang567 commented on #18436
/assign @elstic
please help to verify the fix

/unassign

[2022-07-28 06:18] elstic commented on #18436
Now it's normal

[2022-07-28 06:18] #18436 closed

[2022-07-28 10:16] ykiller2012 opened #18443 "[Bug]: Got Nothing Response from Milvus Using Pymilvus in Flask with Gunicorn(gevent)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When i use pymilvus in  Flask and run it by gunicorn(gevent)，then i write a script to request the gunicorn server for searching vectors，but i got nothing

I have already add code to the gunicorn's config

[code]
But still has this problem

### Expected Behavior

Got c

[2022-07-28 11:27] jennyli-z opened #18444 "[Bug]: datanode CrashLoopBackOff when run case `test_alias_exec_operations_as_collection`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. e2e failed at case test_alias_exec_operations_as_collection  https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-18442/2/pipeline/

2. part of log in datanode
[code]

### Expected Behavior

should pass the case

### Steps To Reprodu

[2022-07-28 14:56] yanliang567 commented on #18443
@ykiller2012 thank you for the issue.could you please run hello milvus in milvus.io to your milvus to make sure the deployment is okay. Then please reproduce the problem and refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?
/assign @ykiller2012
/unassign

[2022-07-29 00:58] ykiller2012 commented on #18443
When i run the Flask server by Python instead of Gunicorn , it's ok , i can get the correct result from Milvus

[2022-07-29 00:59] ykiller2012 commented on #18443
When i run the Flask server by Python instead of Gunicorn , it's ok , i can get the correct result from Milvus. It seems the muti-process of Gunicorn leading pymilvus to the problem.

[2022-07-29 01:17] yanliang567 commented on #18443
i suggest you add connections to milvus within each process

[2022-07-29 01:28] congqixia opened #18450 "[Enhancement]: make dml channel assignment more balanced"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add a heap data structure for `dmlChannels` in `RootCoord` to select next channel to use

### Why is this needed?

When `RootCoord` restart, it always restart assignment idx to 0, which will may channel usage not balance.

### Anything else?

_No response_

[2022-07-29 01:45] #17209 closed

[2022-07-29 01:45] #16851 closed

[2022-07-29 01:45] #16890 closed

[2022-07-29 01:45] #17330 closed

[2022-07-29 01:45] #17254 closed

[2022-07-29 01:45] #17226 closed

[2022-07-29 01:45] #17408 closed

[2022-07-29 01:45] #17347 closed

[2022-07-29 01:45] #17675 closed

[2022-07-29 01:45] #17656 closed

[2022-07-29 01:45] #17335 closed

[2022-07-29 02:04] jingkl opened #18452 "[Bug]: [benchmark][cluster]Milvus is inserted and queried at the same time ，the querynode memory gradually rises to OOM"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-6dgds-1
server-configmap
server-cluster-8c64m-compaction
client-configmap
client-random-locust-compaction-5h

[code]

querynode mem:
<img width="1384" alt="截屏2022-07-29 10 01 03" src="https://user-images.githubusercontent.com/34296482/181667161-

[2022-07-29 02:14] yanliang567 commented on #18391
/assign @xiaofan-luan
/unassign

[2022-07-29 02:27] longjiquan commented on #18407
@bjjoy Hello, I wrote a small test to try to reproduce your issue but no problem occured. It would help us a lot if you can provide the detailed script~
Below is my script, using `-1` and `-384972667586` as pk:
[code]

[2022-07-29 02:27] ykiller2012 commented on #18443
I try to create connections in each child process, and i got
E0729 10:24:33.460958900    4046 ev_epoll1_linux.cc:824]     assertion failed: gpr_atm_no_barrier_load(&g_active_poller) != (gpr_atm)worker

Same as #1417

[2022-07-29 02:28] longjiquan commented on #18407
![image](https://user-images.githubusercontent.com/31589260/181670151-cc9e4cb6-7b7a-4da6-83cc-fe77a24931b9.png)

[2022-07-29 02:29] songxianj opened #18453 "[Bug]: Links in README.md are not updated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

_No response_

### Current Behavior

Currently, certain links in README.md are of the old v2.0.x.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-07-29 02:46] cydrain opened #18454 "[Question]: Standalone launch 800+ threads, is there thread leak ?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Devopt team find that there is 7k+ threads in one query node pod.

Is there thread leak in milvus ?

### Expected Behavior

If there is thread leak, we should fix it.
If it's expected behavior, better give us an explanation.

### Steps To Reproduce

[code]

2. run pyt

[2022-07-29 02:49] cydrain commented on #18454
/assign @congqixia

[2022-07-29 02:50] #18453 closed

[2022-07-29 03:20] SimFG opened #18455 "[Enhancement]: Remove unreasonable id in api"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

The APIs involved are as follows:
1. DescribeCollection

 **int64 collectionID = 4;**

[code]

2. ShowPartitions

**int64 collectionID = 4;**

[code]

3. DescribeSegment

[code]

4. ShowSegments

[code]

5. ManualCompaction

**int64 collectionID = 1;**

[code]

6. GetReplicas

[2022-07-29 03:54] SimFG opened #18456 "[Enhancement]: SDK Collection `init`, remove redundant `HasCollection` interface and use `DescribeCollection` instead"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

In pymilvus sdk, `Collection` object initialization may involve the following api:
- HasCollection
- DescribeCollection, if collection exists
- CreateCollection, if collection does not exist

**Expected**
Use `DescribeCollection` to replace `HasCollection` implementation.

###

[2022-07-29 03:59] congqixia commented on #18456
@SimFG maybe this issue shall be in pymilvus repo?

[2022-07-29 04:03] SimFG commented on #18456
@congqixia Other types of sdk need to confirm the implementation of this part.

[2022-07-29 04:07] congqixia commented on #18454
After discussion with @longjiquan , the preliminary conclusions are, there are two parts of implementation which caused this symptom:
- When doing `segment.Search` in `QueryNode`, milvus dispatches a new goroutine for each cgo call. This will cause the thread number increase to max number of segments searched cocurrently
- In segcore/knowhere, `openmp` will create thread independently for each cgo

[2022-07-29 05:16] SimFG opened #18457 "[Enhancement]: SDK Collection `drop`, delete dropIndex related content to ensure that the interface function is single"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Currently, during the call of `DropCollection`, index-related interfaces are also used, such as `DescribeIndex`, `DropIndex`.

Excepted:
Remove index-related interfaces when executing `DropCollection`

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-07-29 05:36] mackonen commented on #9689
Same issue here... just no response to queries. Seems to respond normally to everything else. Is there a solution to this? Does this issue appear when running outside docker?

[2022-07-29 05:38] vishjain commented on #18174
/assign

[2022-07-29 05:47] xiaofan-luan commented on #18454
In segcore/knowhere, openmp will create thread independently for each cgo call. And it seems that event these threads could be reused, there are no way to recycle them.

Is that true? does that make sense? @cydrain

[2022-07-29 05:48] xiaofan-luan commented on #18454
2. for quick fix, if we remove segment level paralzation, does it help?

[2022-07-29 05:50] xiaofan-luan commented on #18454
In the future:
1) We only support request level parallel (Controlled by segcore  scheduler) and data level parallel (Controlled by knowhere)
2) Should probably remove OMP and changed into a global thread pool to avoid thread creation?

[2022-07-29 06:12] vishjain commented on #18424
Can I try this issue? /assign

[2022-07-29 06:13] vishjain commented on #18424
/assign

[2022-07-29 06:13] vishjain commented on #18424
Can I try this issue?

[2022-07-29 06:14] SimFG opened #18458 "[Enhancement]: SDK Collection `load`, replace `ShowCollections` with `DescribeCollection`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

pymilvus:
In order to expose as few interfaces as possible, to determine whether the load is over, use `DescribeCollection` to replace the original `ShowCollections`.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-07-29 06:14] liliu-z commented on #18454
From `Knowhere` side, we can consider force setting omp thread num in `Wrapper` layer to ensure the consistency performance between different kinds of indexes. This num can be controlled by segcore

[2022-07-29 06:21] SimFG opened #18459 "[Enhancement]: SDK Collection/Partition num_entities, extract the `flush` call"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

pymilvus:
When calling the num_entities method, flush is called first, and then GetCollectionStatistics/GetPartitionStatistics is called, which is not conducive to the permission management of the interface. Therefore, flush will not be called in the num_entities method, and i

[2022-07-29 06:28] SimFG opened #18460 "[Enhancement]: SDK Index init, remove unnecessary excuse calls"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

pymilvus:
When the current Index object is initialized, the calls to DescribeCollection and DropIndex may be involved, which is unreasonable.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-07-29 07:21] XuanYang-cn commented on #17788
/unstale

[2022-07-29 07:21] XuanYang-cn commented on #17107
/unstale

[2022-07-29 07:30] ykiller2012 commented on #18443
When I use hypercorn to run the flask,  pymilvus work's well

[2022-07-29 07:39] yanliang567 commented on #18443
sounds like not a milvus issue?

[2022-07-29 07:44] ykiller2012 commented on #18443
Maybe

[2022-07-29 07:44] #18443 closed

[2022-07-29 08:19] ykiller2012 commented on #18443
I Solved this Problem as follow:
In your flask main file, you must wraps a WSGI application to make it into an ASGI application Using asgiref.wsgi.WsgiToAsgi , and  in your Gunicorn config.py, you must set work_class=uvicorn.workers.UvicornWorker, and then run the command as follow

`gunicorn --config=config.py server:asgi_app --preload`

[2022-07-29 08:22] congqixia commented on #18454
Submit a quick fix to limit cgo call concurrency with GOMAXPROC (cpu number) #18461

[2022-07-29 13:36] w5688414 commented on #17606
I also face the same problem
[code]

[2022-07-29 13:46] w5688414 opened #18462 "[Bug]: grpc RpcError: [has_collection], <_MultiThreadedRendezvous: StatusCode.UNAVAILABLE, internal: Milvus Proxy is not ready yet. please wait>,"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

here is my docker compose file:

[code]

docker ps log is:

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-07-29 21:34] #17718 closed

[2022-07-30 03:09] cydrain commented on #18454
Faiss uses lots of "omp parallel" in it's code. Threads created by omp will be destroyed after execution.
The threads left in Milvus must not be caused by knowhere.

[2022-07-30 03:46] #17647 closed

[2022-07-30 10:09] yanliang567 commented on #18462
@w5688414 thank you for the issue, could you please use docker-compose logs > milvus.log to export the logs.

/assign @w5688414
/unassign

[2022-07-30 12:52] #16843 closed

[2022-07-30 14:52] #17680 closed

[2022-07-30 20:30] soulteary commented on #18360
I tried submitting a simple PR to remove all LAPACK related stuff from the build. @xiaofan-luan

https://github.com/milvus-io/milvus/pull/18464

[2022-07-30 20:40] soulteary opened #18465 "[Enhancement]: Upgrade the OpenBLAS version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

In order to make Milvus run better in a variety of CPU types and hardware environments, It is necessary for Milvus to try to upgrade the OpenBLAS version to the latest Stable version 0.3.20.

The knowhere project also needs to be upgraded.

### Why is this needed?

It's better

[2022-07-30 20:55] soulteary opened #18466 "[Enhancement]: Make Milvus Docker images support multiple Ubuntu LTS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Complete Milvus' current Ubuntu image and provide a new Ubuntu LTS version of the Milvus Docker image:

- Enhance the current version Ubuntu 18.04
- Add new Docker Image base Ubuntu 20.04
- Add new Docker Image base Ubuntu 22.04

### Why is this needed?

Before this issue, I s

[2022-07-31 03:24] w5688414 commented on #18462
[milvus.log](https://github.com/milvus-io/milvus/files/9227998/milvus.log)
 here is the log

[2022-08-01 00:28] #17777 closed

[2022-08-01 00:28] #17705 closed

[2022-08-01 00:29] #17749 closed

[2022-08-01 00:29] #17766 closed

[2022-08-01 00:30] #17556 closed

[2022-08-01 00:46] yanliang567 commented on #18462
@LoveEachDay could you please help on this issue?
/assign @LoveEachDay

[2022-08-01 02:34] p363796822 opened #18469 "[Bug]: handoffTask: handoff segment failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After redeploying the new version v2.1.0, based on the original data, there are a total of five collections, two of which can be queried, and the other three collections will report a timeout of 60s after querying. Check the docker log to find that：
milvus-querycoord

[2022-08-01 02:42] psc0606 opened #18470 "[Bug]: message size exceeds MaxMessageSize: MessageTooBig"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I do batch insert by pymilvus, pymilvus client occasionally abort exceptionally. Each batch has three fields: 128dim floatvector, one int64 id, and another int64 id. I see only

### Expected Behavior

proxy split big message correctlly

### Steps To Reproduce
Eac

[2022-08-01 02:58] xiaofan-luan commented on #18470
did you use your own message queue? this is because the batch size is too large and exceed message queue limit.
There are two thing you can do:
1. change your mq limit to a valid size
2. use smaller batch when insert

[2022-08-01 02:59] psc0606 opened #18471 "[Bug]: failed to complete compaction"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After milvus cluster stably running only for two days, I see some error logs about compaction failure in my cluster (below). To now, the cluster is likely okay, we can read and write collection normally. But someone can tell me about the bad result if compaction failu

[2022-08-01 03:04] psc0606 commented on #18470
We use pular, default queue limit is 5M. But I wonder why the proxy split bigger message into smaller message not work?```
	// repack the row data corresponding to the offset to insertMsg
	getInsertMsgsBySegmentID := func(segmentID UniqueID, rowOffsets []int, channelName string, maxMessageSize int) ([]msgstream.TsMsg, error) {
		repackedMsgs := make([]msgstream.TsMsg, 0)
		requestSize := 0
		msgID

[2022-08-01 03:13] LoveEachDay commented on #18462
[code]
You cannot use `network_mode: host` here, remove this setting. That's why the dns query failed.
If you want to expose milvus service, just add expose ports in the `ports` section.

/unassign
/assign @w5688414

[2022-08-01 03:45] w5688414 commented on #18462
if i just modify the ports, I cannot connect the milvus, here is the log for using hello_milvus.py.

[code]

[2022-08-01 03:56] jennyli-z opened #18474 "[Bug]: [e2e] failed to get failed to get segment when run `test_create_index_multithread`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-18472/2/pipeline/142
part of error message
[code]

### Expected Behavior

passed the case

### Steps To Reproduce

_No response_

### Milvus Log

https://jenkins.milvus.io:18080/blue

[2022-08-01 04:05] yanliang567 commented on #18471
@psc0606 thank you for the issue.

@xige-16 could you pleae take a look? sounds like a log issue.
/assign @xige-16
/unassign

[2022-08-01 04:09] congqixia opened #18475 "[Bug]: Shard cluster does not close node/segment detector"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When `ShardCluster` is closed, the segment and node detector is not closed.

### Expected Behavior

All resources are cleaned up safely after shard cluster is closed.

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No respon

[2022-08-01 05:04] soothing-rain opened #18478 "[Bug]: config <storageType: local> not working in Milvus 2.1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus still looks for minio storage even if `storageType` is set to `local`

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-08-01 05:04] soothing-rain commented on #18478
/unassign @yanliang567
/assign

[2022-08-01 05:14] #18462 closed

[2022-08-01 05:50] #18475 closed

[2022-08-01 05:54] soothing-rain commented on #18478
#18092 can fix this, will be cherry-picked into a separate branch to fix embedded Milvus

Probably not gonna ship #18092 in 2.1.0 tho?

[2022-08-01 05:54] #18478 closed

[2022-08-01 06:28] jennyli-z commented on #18474
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/8/pipeline also in nightly

[2022-08-01 07:23] NicoYuan1986 opened #18479 "[Bug]: Milvus crashed when m=0 after 'IVF_PQ' index"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Error occurs during searching case with dim=1:
index = 'IVF_PQ', params = {'m': 0, 'nbits': 8, 'nlist': 128}, auto_id = False
_async = False

### Expected Behavior

Milvus shouldn't be crashed when search 'dim=1' cases.

### Steps To Reproduce

[code]

### Milvus Log

[2022-08-01 07:28] zhoushewei opened #18480 "[Bug]: Collection shards_num 参数存在bug"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

V2.0.2版本，如下代码不会出现问题
col = Collection(cur_table_name,
                 schema,
                 consistency_level="Strong" ,
                 shards_num = 16
                 )
V2.1.0 版本使用上面代码建20张表（表结构pk(int64),feature(3840),timestam(double))，建表前cpu5%左右，建表后cpu50%左右，新建临

[2022-08-01 07:34] congqixia commented on #18475
Acually `ShardNodeDetector` and `ShardSegmentDetector` has `Close` method. PR #18476 simply add Close definition in interface and calls `Close` methods of detectors when closing shard cluster

[2022-08-01 07:37] xiaofan-luan commented on #18479
[2022/08/01 03:32:55.205 +00:00] [ERROR] [proxy/task_scheduler.go:459] ["Failed to pre-execute task: invalid dimension: 1. should be multiple of 8. "] [traceID=43f7cdc2cd7b1b0a] [stack="github.com/milvus-io/milvus/internal/proxy.(*taskScheduler).processTask\n\t/go/src/github.com/milvus-io/milvus/internal/proxy/task_scheduler.go:459\ngithub.com/milvus-io/milvus/internal/proxy.(*taskScheduler).defin

[2022-08-01 07:39] xiaofan-luan commented on #18479
did milvus crash?
It seems that milvus vector dimension has to be multiplier of 8.

This check should not be at proxy side but at rootcoord side and again the error message doesn't make sense to me

[2022-08-01 07:39] xiaofan-luan commented on #18479
/assign @XuanYang-cn

[2022-08-01 07:40] xiaofan-luan commented on #18479
@XuanYang-cn we probably need better error message for this kind of error

[2022-08-01 07:46] leedehua commented on #16451
same case on v2.1.0

[2022-08-01 07:49] XuanYang-cn commented on #18479
<img width="1440" alt="截屏2022-08-01 15 48 12" src="https://user-images.githubusercontent.com/51370125/182099506-9bee1c11-ee27-412a-8bc2-ad7da0274c31.png">
@xiaofan-luan  proxy crashed, pymilvus cannot report anything else. I think the "server unavaliable" is clear enough for this kind of crash.

[2022-08-01 07:52] yanliang567 commented on #18479
/lgtm
/approve

[2022-08-01 07:56] XuanYang-cn commented on #18479
@NicoYuan1986 It crashed because "m==0", not becasue of  "dim == 1"

Although `m==0` shouldn't crash proxy, I'll fix this.

if 'dim == 1', m Must be 1, ref https://milvus.io/docs/v2.1.x/index.md#IVF_PQ

[2022-08-01 07:57] xiaofan-luan commented on #18480
Hi @zhoushewei ,
1) Did you collect the log when you cluster crash? How much memory and CPU is there for your querynode? we've changed the way of handling shard, which may cause extra overheads, but we don't expect to see such a big gap.
2) we are trying to reproduce on our own test environment.

[2022-08-01 07:58] XuanYang-cn commented on #18479
It works perfectly fine with correct params

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/51370125/182101117-5997267a-9f7b-4291-a6c1-e4cc361dcfc2.png">

[2022-08-01 08:02] xiaofan-luan commented on #18480
@yanliang567 could you pls verify large shard number(Let's say 16 or 32 ) on our own environment？

[2022-08-01 08:06] yanliang567 commented on #18480
@ThreadDao could you please help to reproduce the issue ?

/assign @ThreadDao
/unassign

[2022-08-01 08:36] #18450 closed

[2022-08-01 09:25] yanliang567 commented on #16451
Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

[2022-08-01 10:03] xiaofan-luan commented on #18471
This is not a bug, but the log do need to be refined.
Thanks for the feedback @psc0606

[2022-08-01 10:08] xiaofan-luan commented on #18471
/assign @xiaocai2333
1. we should not print too many meaningless log if it's just because of the lock.
2. should we simply ignore error if it's caused by compaction? or just changed the log to info

[2022-08-01 10:09] xiaofan-luan commented on #18469
/assign @congqixia
please help on invetigating it

[2022-08-01 10:49] congqixia commented on #18469
Hi @p363796822 , could you please provided the log of `QueryCoord`, `QueryNode` and `Proxy`?
You could find some scripts to export logs from this link:
https://github.com/milvus-io/milvus/tree/master/deployments/export-log

[2022-08-01 12:18] xiaocai2333 commented on #18471
1. For auto compaction, we can ignore the compaction error about reference lock. We expect these segments still can be compacted later.
2. For mushal compaction,  can we ignore the error also? related issue: #17725

[2022-08-01 13:50] xiaofan-luan commented on #18471
Good discussion. For manual compaction, what will happen if get lock failed? Does the compaction plan retry?
I thought the current compaction state design does not make sense, it should not check status based on compactionID

Actually, manual compaction succeed only when all segments generation time is larger than compaction trigger time(which means all segments are created after compaction happen

[2022-08-01 13:57] ThreadDao opened #18485 "[Bug]: Server unavaliable while inserting data into multi shards collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

Client exception:
[code]

Client log:
[client.log](https://github.com/milvus-io/milvus/files/9234444/client.log)

Server logs:
[mic_logs.tar.gz](https://github.com/milvus-io/milvus/files/9234446/mic_logs.tar.gz)

### Expected Behavior

_No response_

### Steps

[2022-08-01 14:52] yanliang567 commented on #18485
@ThreadDao did any milvus pods crash?

[2022-08-01 16:33] ThreadDao opened #18486 "[Bug]: The datanode crashLoopBackOff and cannot recover while inserting data into multi collection with multi shards"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Run this case:
[code]

And the datanode crashs and cannot recover:
[code]

Server logs:
[mic_logs.tar.gz](https://github.com/milvus-io/milvus/files/9235660/mic_logs.tar.gz)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_

[2022-08-01 17:36] congqixia opened #18487 "[Bug]: Resource are not cleaned up when all parition are released"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

tsafe, shard cluster and other resource remains in querynode when `ReleasePartitions` is called

### Expected Behavior

Resources are recycled properly after all partition released

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything els

[2022-08-01 18:34] vishjain commented on #18455
/assign

[2022-08-01 20:50] #17704 closed

[2022-08-01 20:50] #17203 closed

[2022-08-02 01:54] p363796822 commented on #18469
This is the network disk address of the log:
Link: https://pan.baidu.com/s/11yfQFW4SMYUO0fqozwPtgA Extraction code: yx3t After copying this content, open the Baidu SkyDrive mobile app, the operation is more convenient

[2022-08-02 02:13] yanliang567 commented on #18486
/assign @soothing-rain
/unassign

[2022-08-02 02:13] yanliang567 commented on #18485
/assign @soothing-rain
/unassign

[2022-08-02 02:39] kakalee-delom opened #18489 "[Bug]: milvus failed to start after insertion failure"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

入库到900W+时，milvus down掉了，无法重新启动。

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

[2022/08/02 02:27:44.843 +00:00] [DEBUG] [segment.go:202] ["create segment"] [collectionID=434939233145978881] [partitionID=434939233145978882

[2022-08-02 02:55] ThreadDao commented on #18486
Run the above case only once, the server log is more pure：
[mic_logs.tar.gz](https://github.com/milvus-io/milvus/files/9238702/mic_logs.tar.gz)

[code]

[2022-08-02 03:02] ThreadDao commented on #18480
Hi @zhoushewei
I limit datanode cpu to 6, and then create 20 collections with 16 shards, and the maximum cpu usage of the datanode is only 0.5. Hard to reproduce. I would appreciate it if you could upload your server log or part of the code to reproduce

[2022-08-02 03:16] jiaoew1991 commented on #18111
upgrade finished, now we can use Go 1.18

[2022-08-02 03:16] #18111 closed

[2022-08-02 03:17] ThreadDao commented on #12598
@cydrain did you upgrade knowhere？I will verify this after you upgrade

[2022-08-02 03:19] cydrain commented on #18361
This issue can be closed when use knowhere-v1.1.16 or higher.

[2022-08-02 03:24] cydrain commented on #18188
This issue is because metric type string is case-sensitive, we need use "HAMMING" not "Haming".
#18277 moves all brute force search logic to Knowhere, where metric type is case-insensitive.
When knowhere upgraded to v1.1.14 or higher, this issue can be closed.

[2022-08-02 03:33] cydrain commented on #17978
Hi @andrwtokar ,
You're right, we found a bug in RHNSW_PQ, when set metric type to IP, it actually do L2 distance calculation.
That's why you see distance greater than 1.0.
This bug has been fixed in knowhere (https://github.com/milvus-io/knowhere/pull/316).

[2022-08-02 03:34] w5688414 opened #18490 "[Bug]: The data in the same column must be of the same type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

<img width="1352" alt="image" src="https://user-images.githubusercontent.com/12107462/182288838-36041b3f-675b-4bcd-af6f-4d4f84b6a72d.png">

### Expected Behavior

插入数据的时候能够正常插入

### Steps To Reproduce

[code]
[code]

[2022-08-02 03:37] xiaofan-luan commented on #18490
@w5688414 we can't see your photo,  could you quickly describe what's the problem?

[2022-08-02 03:38] xiaofan-luan commented on #18490
/assigm @w5688414

[2022-08-02 03:39] xiaofan-luan commented on #18489
@kakalee-delom did you check your disk space/memory is enough

[2022-08-02 03:40] xige-16 commented on #18316
failed job
https://github.com/milvus-io/milvus/actions/runs/2777041289

[2022-08-02 03:40] xiaofan-luan commented on #18489
looks like your etcd and rocksmq is crashed at the same time, so I guess it's mainly because you don't have enough disk space or memory

[2022-08-02 03:40] #18487 closed

[2022-08-02 03:42] xiaofan-luan commented on #18480
@zhoushewei any suggestion on your environment? we can not reproduce your issue

[2022-08-02 03:45] xiaofan-luan commented on #18479
We will need to think of how we can let the user know the parameter error and fix the issue, any suggestion?

[2022-08-02 03:50] xiaofan-luan commented on #18474
/assign @longjiquan
just need to make sure if this is due to compaction. Once the fix the refactoring the rootcoord this should no longer be a issue.

[2022-08-02 07:48] XuanYang-cn commented on #18479
@xiaofan-luan the current behaviour for invalid index params:

For index params: `{'index_type': 'IVF_PQ', 'metric_type': 'L2', 'params': {'m': 2, 'nbits': 8, 'nlist': 128}}`
[code]

`conf_adapter.go` checks the params with true or false, so the information is lost at proxy.

So we could refine the `internal/util/indexparamcheck/conf_adapter.go`  to return `error` with more informative error messa

[2022-08-02 08:02] cydrain commented on #17945
current search flowchart is like this:
![search_flow_new](https://user-images.githubusercontent.com/3992404/182323903-e1f0d536-f58f-4c2b-be91-50da84c0bdcd.jpg)

[2022-08-02 08:50] lvmnn commented on #18469
I have the same problem，Appeared after upgrade from previous Milvus-dev dockerhub

[2022-08-02 09:22] jaime0815 opened #18493 "[Bug]: Accessing Pulsar when enable Kafka configs in cluster model"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus will try to connect pulsar after enable Kafka configs in cluster model

https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/10/pipeline

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No respons

[2022-08-02 09:25] jaime0815 commented on #18493
this issue occurs since #18421

[2022-08-02 10:34] #17798 closed

[2022-08-02 11:04] qi49125 opened #18496 "[Bug]: proto: cannot parse invalid wire-format data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

2022/08/02 10:50:24 maxprocs: Updating GOMAXPROCS=5: determined from CPU quota

__ _________ _ ____ ______
/ |/ / _/ /| | / / / / / __/
/ /|_/ // // /_| |/ / /_/ /\ \
/_/ /_/___/____/___/\____/___/

Welcome to use Milvus!
Version: v2.1.0
Built: Wed Jul 27 08:27:34 UTC

[2022-08-02 11:30] xiaofan-luan commented on #18496
/assign @wayblink
pls help on investigating this issue

[2022-08-02 11:37] qi49125 commented on #18496
Before the upgrade, delete the IVF_SQ8 index and create the IVF_PQ.
So, I wonder if it had anything to do with this operation.

[2022-08-02 15:48] cydrain commented on #17945
The first parameter of SearchOnGrowing() is "segcore::SegmentGrowingImpl", it cannot be provided by
    SegmentSealedImpl::vector_search(), so cannot remove this duplication.

    Merge FloatSearch() and BinarySearch() into SearchOnGrowing()

[2022-08-03 01:54] jingkl opened #18500 "[Bug]: [benchmark][standalone]Milvus load failed ,rasie an error"collection has not been loaded to memory or load failed""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-cluster-cron-1659474000-1
server-configmap
server-single-32c128m
client-configmap
client-get-local50m-512

NAME                                                              READY   STATUS      RESTARTS      AGE    IP             NODE         NOM

[2022-08-03 01:54] jingkl opened #18501 "[Bug]: [benchmark][standalone]Milvus load failed ,rasie an error"collection has not been loaded to memory or load failed""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-cluster-cron-1659474000-1
server-configmap
server-single-32c128m
client-configmap
client-get-local50m-512

NAME                                                              READY   STATUS      RESTARTS      AGE    IP             NODE         NOM

[2022-08-03 01:54] jingkl opened #18502 "[Bug]: [benchmark][standalone]Milvus load failed ,rasie an error"collection has not been loaded to memory or load failed""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-cluster-cron-1659474000-1
server-configmap
server-single-32c128m
client-configmap
client-get-local50m-512

NAME                                                              READY   STATUS      RESTARTS      AGE    IP             NODE         NOM

[2022-08-03 01:54] jingkl opened #18503 "[Bug]: [benchmark][standalone]Milvus load failed ,rasie an error"collection has not been loaded to memory or load failed""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-cluster-cron-1659474000-1
server-configmap
server-single-32c128m
client-configmap
client-get-local50m-512

NAME                                                              READY   STATUS      RESTARTS      AGE    IP             NODE         NOM

[2022-08-03 01:54] jingkl opened #18504 "[Bug]: [benchmark][standalone]Milvus load failed ,rasie an error"collection has not been loaded to memory or load failed""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-cluster-cron-1659474000-1
server-configmap
server-single-32c128m
client-configmap
client-get-local50m-512

NAME                                                              READY   STATUS      RESTARTS      AGE    IP             NODE         NOM

[2022-08-03 01:54] jingkl opened #18505 "[Bug]: [benchmark][standalone]Milvus load failed ,rasie an error"collection has not been loaded to memory or load failed""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-cluster-cron-1659474000-1
server-configmap
server-single-32c128m
client-configmap
client-get-local50m-512

NAME                                                              READY   STATUS      RESTARTS      AGE    IP             NODE         NOM

[2022-08-03 01:54] jingkl opened #18506 "[Bug]: [benchmark][standalone]Milvus load failed ,rasie an error"collection has not been loaded to memory or load failed""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-cluster-cron-1659474000-1
server-configmap
server-single-32c128m
client-configmap
client-get-local50m-512

NAME                                                              READY   STATUS      RESTARTS      AGE    IP             NODE         NOM

[2022-08-03 01:54] jingkl opened #18507 "[Bug]: [benchmark][standalone]Milvus load failed ,rasie an error"collection has not been loaded to memory or load failed""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-cluster-cron-1659474000-1
server-configmap
server-single-32c128m
client-configmap
client-get-local50m-512

NAME                                                              READY   STATUS      RESTARTS      AGE    IP             NODE         NOM

[2022-08-03 01:54] jingkl opened #18508 "[Bug]: [benchmark][standalone]Milvus load failed ,rasie an error"collection has not been loaded to memory or load failed""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-cluster-cron-1659474000-1
server-configmap
server-single-32c128m
client-configmap
client-get-local50m-512
server
[code]

client
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

#

[2022-08-03 01:58] binbinlv commented on #17528
Same issue in the master nightly:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/12/pipeline/155

(1) milvus logs: [artifacts-milvus-distributed-kafka-nightly-12-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/12/artifact/artifacts-milvus-distributed-kafka-nightly-12-pymilvus-e2e-logs.tar.gz)
(2) collect

[2022-08-03 01:58] jingkl commented on #18508
server-instance
fouram-cluster-cron-1659474000-5
server-configmap
server-single-16c64m
client-configmap
client-search-filter-sift50m-ivf-flat-2048

master-20220802-efc5406
pymilvus 2.1.0dev103

[code]

[code]

[2022-08-03 02:00] #18507 closed

[2022-08-03 02:01] #18500 closed

[2022-08-03 02:01] binbinlv commented on #15785
Same issue in the following nightly:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/11/pipeline

(1) milvus logs: [artifacts-milvus-distributed-kafka-nightly-11-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/11/artifact/artifacts-milvus-distributed-kafka-nightly-11-pymilvus-e2e-logs.tar.gz)
(2) collecti

[2022-08-03 02:02] #18501 closed

[2022-08-03 02:02] #18502 closed

[2022-08-03 02:02] #18503 closed

[2022-08-03 02:03] #18504 closed

[2022-08-03 02:03] #18506 closed

[2022-08-03 02:03] #18505 closed

[2022-08-03 02:07] jingkl commented on #18508
server-instance
fouram-cron-1659456000-6
server-configmap
server-single-16c64m
client-configmap
client-search-sift50m-ivf-flat-2048

master-20220802-efc5406
[code]
[code]

[2022-08-03 02:15] jingkl commented on #18398
Verified that the problem has been fixed, so close the issue

[2022-08-03 02:15] #18398 closed

[2022-08-03 02:24] zhoushewei opened #18509 "[Bug]: milvus-querynode pod hang ,and it would hang again after 20mins running if restart the hung pod"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

当前环境属于新装环境，正常运行2天；cpu低于20%；内存低于50%；load average: 7.08 ；milvus库中表20张，3000维度+；整体数据约10万左右；milvus-querynode容器突然挂死，出现故障后重启milvus-querynode容器，正常20分钟后又突然挂死，再次重新拉起暂时正常；

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

业务系统异常信息（pyth

[2022-08-03 02:27] weiliu1031 commented on #18393
what do you mean by " otherwise the delta channel will be consumed by every delta channel." ?

[2022-08-03 02:28] zhuwenxing opened #18510 "[Bug]: Create collection failed with error message `CreateCollection failed: send dd create collection req failed, error = Broker: Invalid replication factor`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Create collection failed when run `test_e2e.py` after installation
[code]

### Expected Behavior

All test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: chaos-test-kafka/48
log:
[artifacts-indexnode-pod-failure-48-server-logs (1).tar.gz](ht

[2022-08-03 02:35] ThreadDao commented on #18485
No. So I guess this is a timeout problem?

[2022-08-03 02:37] ThreadDao commented on #17040
Any progress? Maybe not..

[2022-08-03 02:38] ThreadDao commented on #7522
Keep open

[2022-08-03 02:41] ThreadDao commented on #15416
Any updates？

[2022-08-03 02:43] ThreadDao commented on #17833
Closed. Reopen when there is a reproduce

[2022-08-03 02:43] #17833 closed

[2022-08-03 03:36] zhoushewei commented on #18509
# 容器再次挂死，等着各位专家给出方案，感谢
2022/08/03 03:28:56.077 +00:00] [DEBUG] [querynode/segment.go:300] ["do search on segment done"] [msgID=435026539947045023] [segmentID=434981803007410177] [segmentType=Sealed] [loadIndex=false]

terminate called after throwing an instance of 'faiss::FaissException'

  what():  Error in faiss::IndexIVF::search_preassigned(faiss::Index::idx_t, const float*, faiss::Index::idx_t

[2022-08-03 03:38] dzqoo opened #18511 "[Bug]: client gets stuck when searching"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I search the result with id and embedding, the client gets stuck and I get log from milvus quernode below.

``[2022/08/02` 19:37:40.976 +00:00] [WARN] [node.go:81] ["some node(s) haven't received input"] [list="[nodeCtxTtChecker-dmlInputNode,nodeCtxTtChecker-dNod

[2022-08-03 03:40] soothing-rain commented on #17651
/unassign
/assign @wayblink

[2022-08-03 04:04] cydrain commented on #18509
maybe duplicate with #17277

[2022-08-03 06:29] cydrain commented on #17945
/close

[2022-08-03 06:29] #17945 closed

[2022-08-03 06:31] WeiDong-Shi opened #18514 "[Bug]: libgomp: Thread creation failed: Resource temporarily unavailable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

 - Index Config
[code]
- SearchParams
[code]

Using the above parameters for 10 concurrent tests, the number of query nodes is 15, and the data level is 200000. In the middle of the test, it is found that the 11th query node crashes, causing the RPC interface to block

[2022-08-03 06:59] #18360 closed

[2022-08-03 07:09] WeiDong-Shi opened #18515 "[Bug]: Data node crash"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I crashed one of the five data nodes inexplicably without writing.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

[code]

### Anything else?

_No response_

[2022-08-03 07:17] #17592 closed

[2022-08-03 07:17] #17383 closed

[2022-08-03 07:17] #17814 closed

[2022-08-03 07:20] WeiDong-Shi opened #18516 "[Bug]: About the problem of high CPU load"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

 - Index Config
[code]
- SearchParams
[code]

I'm now conducting a concurrent query test. I'm sending 10 concurrent queries and 200000 data volumes. I found that the CPU utilization is not high, but the load will be very high. There are currently 10 query nodes.

[cod

[2022-08-03 07:27] congqixia opened #18517 "[Bug]: DataNode may crash if one collection reuses same pchannel for some shards"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Data node will crash if:
- One collection has some vchannel reusing same pchannel say: `dml_0_collectionidv0`, `dml_1_collectionidv1`
- Those vchannels are assigned to same datanode

### Expected Behavior

DataNode shall not crash and handles data correctly in previou

[2022-08-03 09:17] LLY28 opened #18521 "[Bug]:search hang and not reposnse"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

用flask封装了两个接口：

- 从mysql中select向量（dim=312），分批次插入创建的collection，向量插入结束后，创建索引。
- 用单条向量去创建好的collection 里search
现在有一批9w+条的向量，成功创建collection，并建立索引。这时候用单条向量在这个collection中search，就会一直卡住。
这是search的代码：

[code]

在search时，加入timetout参数：

`search_result = chatbot_milvus.search(targe

[2022-08-03 09:32] #18493 closed

[2022-08-03 09:48] weiliu1031 commented on #18521
load and release  are high cost operation,  it's not proper way to do load and release in every search

[2022-08-03 09:57] PEN170 commented on #18521
但是单次单条文本（可以看做只load、release一次）去search已经建好的collection，也不返回结果。

[2022-08-03 10:08] weiliu1031 commented on #18521
I guess that too much load request has been submit before, and maybe they are working background.

you can try:
1. release all collection now.
2. do load collection on which you need(cause service is a standalone, load will cost  memory)
3. choose collection, do  search you want
4. if anything wrong,  provide us a whole log to do analysis.

[2022-08-03 11:00] PEN170 commented on #18521
请教下应该怎么释放所有的collection呢，或者怎么查询已经加载的collection

[2022-08-03 11:37] zhoudayu123 opened #18523 "[Bug]: s3 with iam role not available,Access Denied"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

minio:
  enabled: false

externalS3:
  enabled: true
  host: "s3.us-west-2.amazonaws.com"
  port: "443"
  useSSL: true
  bucketName: "mars6-prod-milvus"
  rootPath: "/"
  useIAM: true

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Lo

[2022-08-03 11:45] PEN170 commented on #18521
请问有详细介绍load、release、drop connection什么情况使用的文档吗？
https://milvus.io/cn/docs/v2.0.x/load_collection.md
这份文档有点简洁。

[2022-08-03 12:16] PEN170 commented on #18521
把现有的collection全部删除，保证只有一个collection，并且只load一个collection。search还是不返回，请教下我们应该保证空闲内存多少才可以正常search @weiliu1031

[code]

[2022-08-03 12:20] weiliu1031 commented on #18521
can you offer whole docker logs, and we can analysis what happens

[2022-08-03 12:51] yanliang567 commented on #18521
@PEN170 Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

[2022-08-03 12:52] yanliang567 commented on #18523
@LoveEachDay could you please help on this issue?
/assign @LoveEachDay
/unassign

[2022-08-03 12:54] yanliang567 commented on #18514
@congqixia could you please help to take a look?
@WeiDong-Shi Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

/assign @congqixia
/unassign

[2022-08-03 12:55] yanliang567 commented on #18521
/assing @PEN170
/unassign

[2022-08-03 12:56] yanliang567 commented on #18521
/assign @PEN170

[2022-08-03 12:58] PEN170 commented on #18521
有个很奇怪的现象，刚刚我导出了docker logs，有740M，太大传不上来。就
`docker-compose -f docker-compose.yml down`
后重新启动milvus。刚刚建的9W+条的collection没有删除，重新启动后，还能直接load这个collection。
这时候我去search这个9W+条的collection，可以正常返回结果了

[2022-08-03 12:58] yanliang567 commented on #18516
if it is 10 concurrent queries, maybe it is by design for now(or lets say it needs an improvement).
@jiaoew1991 could you please take a look?

/assign @jiaoew1991
/unassign

[2022-08-03 12:59] yanliang567 commented on #18515
Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?
/assign @WeiDong-Shi
/unassign

[2022-08-03 13:00] PEN170 commented on #18521
@yanliang567 @weiliu1031 很奇怪的现象，难道是我之前没有释放空间吗，就只做了关闭milvus服务、开启milvus服务的操作

[2022-08-03 13:01] yanliang567 commented on #18511
@dzqoo any chance to reproduce it on 2.1.0? if yes, please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation

/assign @dzqoo
/unassign

[2022-08-03 13:03] yanliang567 commented on #18489
@kakalee-delom could you please check as suggested above?
/assign @kakalee-delom
/unassign

[2022-08-03 13:04] yanliang567 commented on #18470
/assign @xiaofan-luan
/unassign

[2022-08-03 13:23] LoveEachDay commented on #18523
@zhoudayu123 Did you deploy a milvus cluster into a aws eks with s3 iam role? If so you'd create a service account which binds a iam role first. And here's a tutorial to setup iam role for eks: https://levelup.gitconnected.com/using-iam-roles-to-allow-the-pods-in-aws-eks-to-read-the-aws-s3-bucket-be493fbdda84. Take a try.

If you set up the service account, you can verify the setting using the fol

[2022-08-03 20:24] #17537 closed

[2022-08-03 20:24] #17508 closed

[2022-08-03 20:24] #17839 closed

[2022-08-03 20:24] #17770 closed

[2022-08-04 00:47] bgleadle commented on #16451
Milvus on EKS - Cluster mode
Using Pulsar, etcd and S3 as storage
Started on pymilvus 2.0.2 and upgraded to 2.1.0

[milvus-logs-2.1.tar.gz](https://github.com/milvus-io/milvus/files/9255783/milvus-logs-2.1.tar.gz)

I'm having the exact same issue. I was running on Milvus-2.0.2 before when I encountered a scaling issue after inserting around 100million records. I scaled up the necessary pods and go

[2022-08-04 01:32] yanliang567 commented on #18521
@PEN170 it's hard to say if there were no completed logs. any chance to share the logs with google driver or baidu drive

[2022-08-04 01:33] xiaofan-luan commented on #18521
/assign @weiliu1031

[2022-08-04 01:34] xiaofan-luan commented on #18517
I'm not sure if it will work if shard number < collection shard number.
From the original design collection shard number must be smaller than collection shard number, did we test on it?

[2022-08-04 01:35] xiaofan-luan commented on #18514
urgent, need to be fixed in next release.

[2022-08-04 01:35] xiaofan-luan commented on #18514
/assign @longjiquan

[2022-08-04 01:35] xiaofan-luan commented on #18514
/assign @cydrain

[2022-08-04 01:36] xiaofan-luan commented on #18509
mark it as urgent.
@cydrain any fix ideas ?

[2022-08-04 01:45] xiaofan-luan commented on #18514
We are working on it.
So far it looks like openmp initiate too much threads and we will fix it soon as possible

[2022-08-04 01:47] xiaofan-luan commented on #18470
From  our test is should work, did you check the value of maxMessageSize?

[2022-08-04 01:49] xiaofan-luan commented on #18470
May be you want to change it to 2 smaller size(Say 2 MB) and retry?

[2022-08-04 01:53] jingkl commented on #18508
server-instance
fouram-cluster-cron-1659560400-1
server-configmap
server-single-32c128m
client-configmap
client-get-local50m-512
master-20220803-f84d176
pymilvus:2.1.0.dev103

[code]

[code]

[2022-08-04 02:17] PEN170 commented on #18521
链接：https://pan.baidu.com/s/1Uk6aAwl-3B5H75K5xOKU3Q
提取码：7owa
--来自百度网盘超级会员V1的分享
@yanliang567 有三份日志，详见《milvus日志文件说明.txt》

[2022-08-04 02:17] congqixia commented on #18509
@cydrain @xiaofan-luan what's the status of #17353? found it in the previous issue but it was never merged.

[2022-08-04 02:20] jiaoew1991 commented on #18516
I'll follow up

[2022-08-04 02:20] yanliang567 commented on #18521
cool, thanks.
@congqixia could you please help on this issue?

/assign @congqixia
/unassign @PEN170

[2022-08-04 02:30] cydrain commented on #18509
as I explain in previous comments, we have not found the root cause, so this PR is not merged.

[2022-08-04 02:47] cydrain commented on #18509
collect more terminate logs:

log1
[code]

log2
[code]

log3
[code]

[2022-08-04 02:58] yanliang567 commented on #18509
/assign @cydrain
/unassign

[2022-08-04 03:11] zhuwenxing commented on #18510
failed job:chaos-test-kafka/71/
log:
[artifacts-indexcoord-pod-failure-71-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9256369/artifacts-indexcoord-pod-failure-71-server-logs.tar.gz)
[artifacts-indexcoord-pod-failure-71-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/9256371/artifacts-indexcoord-pod-failure-71-pytest-logs.tar.gz)

[2022-08-04 03:17] john-h-luo commented on #17770
Are you still working on this issue?

[2022-08-04 03:17] john-h-luo commented on #17770
@horuswoo

[2022-08-04 03:50] YiyunNi opened #18529 "[Bug]: Error when installing PyMilvus"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I follow the instructions on [this page](https://milvus.io/docs/v2.1.x/install-pymilvus.md) to verify the installation of PyMilvus 2.1.0 with the code `python3 -c "from pymilvus import Collection"`, I got the error code in the screenshot.
![截屏2022-08-04 11 41 44]

[2022-08-04 03:52] jennyli-z commented on #18529
python version? 3.?

[2022-08-04 04:03] congqixia commented on #18517
@xiaofan-luan you are correct. We do not support `ShardNumber` > `DmlChannel Number`.

[2022-08-04 05:11] #17849 closed

[2022-08-04 06:35] cydrain commented on #18509
There are 2 issues in this case which cause process terminated
1. a legacy check fail in faiss (Error: 'key < (idx_t)nlist' failed: Invalid key=139928558108992 nlist=447)
2. FaissException is thrown out in an omp code block in faiss (faiss/IndexIVF.cpp:563)

[2022-08-04 07:14] yanliang567 commented on #18529
@binbinlv is it a known issue?

/assign @binbinlv

[2022-08-04 07:23] binbinlv commented on #18529
Actually, I could not reproduce this issue at my side:
[code]

[2022-08-04 07:25] binbinlv commented on #18529
@XuanYang-cn

Do you know when will this error happens?

[2022-08-04 07:30] owlwang opened #18530 "[Bug]: Milvus 2.1 crashed while inserting data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

milvus crashed while inserting data. The error log is attached. Only the milvus container exited, etcd and minio are fine.

Logs indicate disconnection from etcd but etcd is working fine.
[2022/08/04 07:22:57.289 +00:00] [ERROR] [indexnode/indexnode.go:135] ["Index No

[2022-08-04 08:38] yanliang567 commented on #18530
@owlwang thank you for the issue. one quick question, how did you deploy milvus, and how much(cpu and memory) did you request for milvus pod(container)?
/assign @owlwang
/unassign

[2022-08-04 08:41] owlwang commented on #18530
official document default settings

https://milvus.io/docs/v2.1.x/install_standalone-docker.md

[2022-08-04 09:50] #18393 closed

[2022-08-04 10:09] jennyli-z commented on #18529
I guess you already have some requirements installed already, I have tried with the clean python environment will get other issue. https://github.com/milvus-io/pymilvus/issues/1085

[2022-08-04 10:17] cydrain commented on #18509
Test memory overflow with tool valgrind or sanitize, no finding.
[val.log](https://github.com/milvus-io/milvus/files/9258791/val.log)

[2022-08-04 10:44] qi49125 commented on #18496
milvusdb/milvus-dev:wayblink-i-18496-975a76baf-20220804版本

2022/08/04 10:43:44 maxprocs: Updating GOMAXPROCS=5: determined from CPU quota

__ _________ _ ____ ______
/ |/ / _/ /| | / / / / / __/
/ /|_/ // // /_| |/ / /_/ /\ \
/_/ /_/___/____/___/\____/___/

Welcome to use Milvus!
Version: v2.0.0-testing-20220331-708-g975a76baf
Built: Thu Aug 4 09:29:23 UTC 2022
GitCommit: 975a76baf
GoVersion: go v

[2022-08-04 10:50] yanliang567 commented on #18530
did you limit cpu or memory resource to milvus container?

[2022-08-04 10:51] yanliang567 commented on #18523
@zhoudayu123 please try as suggest above
/assign @zhoudayu123
/unassign @LoveEachDay

[2022-08-04 10:54] yanliang567 commented on #18508
/assign @xige-16
/unassign

[2022-08-04 11:02] weiliu1031 commented on #18521
Some Progress:
1. proxy already receive response
[code]
2.  the response can not be reduced, cause by `resultBuf.readyToReduce()` is false
[code]
3. `readyToReduce` rely on `funcutil.SetContain(sr.receivedSealedSegmentIDsSet, sr.receivedGlobalSegmentIDsSet)`
4. according to 1 and 3, we can ensure that global sealed segment set in query node is mess, base on log we found some segment has been compa

[2022-08-04 11:45] #17429 closed

[2022-08-04 11:50] jiaoew1991 commented on #18510
@zhuwenxing could you confirm the config of kafka is correct ? from the kafka's log we can find lots of Unknown host error
<img width="1257" alt="image" src="https://user-images.githubusercontent.com/2297455/182839926-ee73b983-ca4e-4bcb-ab13-bc8c16f6bda0.png">

[2022-08-04 12:17] zhuwenxing commented on #18510
![image](https://user-images.githubusercontent.com/12268675/182843905-848ce372-ddaa-44f6-8fde-3cfa05d4a170.png)
all tests using the same config, so the config of Kafka should be OK.

Maybe there is a thing that needs to be concerned about, three pods of Kafka all restarted during deployment before test_e2e.

![image](https://user-images.githubusercontent.com/12268675/182844729-181e2f3e-9e83-4687-8

[2022-08-04 19:19] #17865 closed

[2022-08-05 00:51] cydrain commented on #18509
Try to build Milvus with knowhere enabled following sanitize parameters:
[code]

But all nodes cannot launch, reporting this error:
[code]
Googled solution for this error, all not work.

[2022-08-05 01:22] RosieZhang12 commented on #18529
I came across the same issue:
<img width="570" alt="image" src="https://user-images.githubusercontent.com/106942883/182981428-9d506f21-dbce-4c33-9cbc-82f874959f4c.png">
I tried to upgrade protobuf, it said there's a compatible issue with grpcio-tools:
<img width="566" alt="image" src="https://user-images.githubusercontent.com/106942883/182981511-92319016-af36-4abd-b904-1f430e2b6f2e.png">
So I just

[2022-08-05 01:29] PEN170 commented on #18521
感谢回复，期待您的进一步解析结果

[2022-08-05 01:30] YiyunNi commented on #18529
Seems like this issue can be fixed but do we need to mention the extra steps of upgrading protobuf and installing grpcio-tools in the [doc](https://milvus.io/docs/v2.1.x/install-pymilvus.md)? I think most users with a clean Python environment will encounter this issue. @XuanYang-cn

[2022-08-05 01:35] JackLCL commented on #18490
Perhaps the length of the text exceeds the defined length of the string.

[2022-08-05 01:49] zhoushewei commented on #18480
我这边现在已经无法复现了，当时环境已经铲除，感谢支撑！

[2022-08-05 01:58] qi49125 commented on #18496
after delete lock value from etcd ,indexcoord--log

[2022/08/05 01:44:16.004 +00:00] [DEBUG] [indexcoord/meta_table.go:455] ["IndexCoord get index file path from meta table"] [indexBuildID=434686640316219418]
[2022/08/05 01:44:16.004 +00:00] [WARN] [indexcoord/index_coord.go:638] ["IndexCoord GetIndexFilePaths failed"] [indexBuildID=434686640316219418] [error="index not exists with ID = 4346866403

[2022-08-05 02:00] jingkl commented on #18508
server-instance
fouram-cluster-cron-1659646800-1
server-configmap
server-single-32c128m
client-configmap
client-get-local50m-512

master-20220804-ff02002
pymilvus 2.1.0dev103

[code]

[code]

[2022-08-05 02:04] qi49125 commented on #18496
datacoord-----log
2022/08/05 02:00:45.819 +00:00] [INFO] [datacoord/compaction_trigger.go:394] ["generate a plan for small candidates"] [plan="segmentBinlogs: binlogs: binlogs: binlogs: binlogs: binlogs: binlogs: binlogs: binlogs: binlogs: binlogs: binlogs: binlogs: > fieldBinlogs: binlogs: binlogs: binlogs: binlogs: binlogs: binlogs: binlogs: binlogs: binlogs: binlogs: binlogs: binlogs: > fieldBi

[2022-08-05 02:12] #17883 closed

[2022-08-05 02:45] owlwang commented on #18530
No

[2022-08-05 02:53] yanliang567 commented on #18530
/assign @soothing-rain
/unassign

[2022-08-05 03:03] binbinlv commented on #17528
Same issue in the master nightly:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/15/pipeline/171

（1） milvus log: [artifacts-milvus-distributed-kafka-nightly-15-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/15/artifact/artifacts-milvus-distributed-kafka-nightly-15-pymilvus-e2e-logs.tar.gz)
(2) collecti

[2022-08-05 03:06] binbinlv commented on #13045
Continuously appears in latest nightly:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/16/pipeline

1. milvus log:[artifacts-milvus-distributed-pulsar-nightly-16-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/16/artifact/artifacts-milvus-distributed-pulsar-nightly-16-pymilvus-e2e-logs.tar.gz)
2. collect

[2022-08-05 03:29] p363796822 commented on #18469
Are there any new developments?

[2022-08-05 03:32] bestRiven opened #18536 "[Bug]: milvus2.1 cluster scaling and restart problem"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

At present, the cluster version of 2.1 is tested, and the following problems are found: the 6G memory threshold is set. After reaching 80% occupancy, the capacity will be expanded, but the memory of the previous node has been increasing after the expansion. The memory

[2022-08-05 04:02] psc0606 opened #18537 "[Bug]: Query performance not stable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

We have three collection, each of them about 5200w entities, each of entity has two fields: 128dim float vector field, and int64 id field.  We load collection with default 2 shards, default 1 replicaNumber, index: IVF_FLAT. The QPS of query request is very low (about

[2022-08-05 04:11] yanliang567 commented on #18537
@psc0606 thank you for the issue. How many vectors(nq) did you use in each search request?  Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

/assign @czs007
/unassign

[2022-08-05 04:13] yanliang567 commented on #18536
/assign @xige-16
/unassign

[2022-08-05 06:25] psc0606 commented on #18537
Only one vector in each search request.

[2022-08-05 06:27] binbinlv opened #18539 "[Bug]: [Embed] Error “free(): invalid pointer” when start embeded milvus and import pymilvus in linux os"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Error “free(): invalid pointer” when start embeded milvus and import pymilvus in linux os
[code]

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-08-05 06:30] zhagnlu commented on #18485
![image](https://user-images.githubusercontent.com/11935707/182993511-65e09017-ebdc-44b2-8fd5-da86e15768bd.png)
from the proxy log, the program use sdk will check collection and partition info before insert, but hang for more than 1 hours and insert request not be send to proxy,  something wrong between client and proxy, from the warning, maybe connection network problems and have grpc error, but

[2022-08-05 06:34] zhagnlu commented on #18485
I try this code locally for lots of times to catch more details, but it fails to reproduce this error. may it is related with network situation, so just keep watch now

[2022-08-05 06:35] soothing-rain commented on #18530
@owlwang can you provide full logs?

[2022-08-05 06:37] zhagnlu commented on #18485
No other error found under other role like datanode, querynode etc. It is caused by python client and proxy.  for more detail, I try this code locally for lots of times to catch more info, but it fails to reproduce this error. may it is related with network situation, so just keep watching it

[2022-08-05 07:09] congqixia commented on #18469
Here is some preliminary conclusion for this problem:
## Recovery is blocked by previous tasks
It could be observed in the log that the first `LoadBalanceTask` for `NodeDown` happens in `2022/07/28 08:27:47.938` while querycoord started at `2022/07/28 07:19:10.951`
[code]
[code]
`taskScheduler` was handling the tasks recovered from etcd before upgrading the cluster.
[code]
This long task ends at t

[2022-08-05 07:15] congqixia commented on #18469
This problem shall be solved by PR #18394 #18497
And if you want a quick solution. Please release all the collection before upgrade from milvus 2.0.2

[2022-08-05 07:16] congqixia commented on #18469
Also, we could observe that recovered `LoadBalanceTask` may not make sense in some cases.

[2022-08-05 07:32] owlwang commented on #18530
@soothing-rain  The test environment has been deleted. I'll try to reproduce it now, and if it works I'll post the logs.

[2022-08-05 07:51] ThreadDao commented on #18530
Hi @owlwang  Can you describe the schema of the collection where you are inserting the data, included collection shard numbers

[2022-08-05 07:52] jiaoew1991 commented on #18516
hi @WeiDong-Shi, how did you deploy Milvus, all of the components running a single 64c/256G ubuntu server?

[2022-08-05 07:53] zhuwenxing commented on #18510
The config of Kafka is
[code]

[2022-08-05 07:55] owlwang commented on #18530
Hi @ThreadDao

we are using the doc's standalone config file https://milvus.io/docs/v2.1.x/install_standalone-docker.md.

Here is the code for insertion

[code]

[2022-08-05 07:58] zhuwenxing commented on #18510
A new failed job: [/chaos-test-kafka/detail/chaos-test-kafka/86](https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-kafka/detail/chaos-test-kafka/86/pipeline)

[artifacts-querycoord-pod-kill-86-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/9266568/artifacts-querycoord-pod-kill-86-pytest-logs.tar.gz)
[artifacts-querycoord-pod-kill-86-server-logs.tar.gz](https://githu

[2022-08-05 08:02] zhuwenxing commented on #18510
@LoveEachDay
Please help to have a look. It seems Kafka is not ready though pods are all running as shown

[2022-08-05 08:09] owlwang commented on #18530
Just now it crashed again

Full log
[milvus_issue_18530_dockerlog.log.tar.gz](https://github.com/milvus-io/milvus/files/9266681/milvus_issue_18530_dockerlog.log.tar.gz)

python client message:

[code]

[2022-08-05 08:36] #18079 closed

[2022-08-05 08:56] WeiDong-Shi commented on #18516
Yes, the test environment is simply built, and all nodes are on the same server.

[2022-08-05 08:57] karanbhatia-jm opened #18544 "[Bug]: IllegalResponseException when query node is restarting in cluster and search is performed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When query node is restarting on Kubernetes cluster (deployed using helm) and a similarity search is performed it throws `IllegalResponseException: Result ids is illegal`. Even after the pod is in running state the same exception is thrown. I checked the query node lo

[2022-08-05 10:04] p363796822 commented on #18469
意思是说我的milvus从2.0.2升级到2.1.0之前，在2.0.2的版本中把所有的collection都release掉，升级完之后，在2.1.0的版本上进行collection的load？

[2022-08-05 10:14] p363796822 commented on #18469
Then I will roll back the version now, after I release all the collections from 2.1.0 to 2.0.2, and then load all the collections after I upgrade from 2.0.2 to 2.1.0, is that right?

[2022-08-05 10:48] owlwang commented on #18530
Notice:
Here I create a partition and use milvus_partition to insert data

milvus_partition = milvus_collection.create_partition(partition_name, f"{partition_name} data")
milvus_partition.insert(entities)

[2022-08-05 13:39] #17606 closed

[2022-08-05 22:36] #17913 closed

[2022-08-05 22:36] #17917 closed

[2022-08-06 05:04] psc0606 commented on #18537
@yanliang567 I have already update the whole milvus log.

[2022-08-06 05:10] psc0606 commented on #18537
Another interesting thing is when I load collection with two replicaNumer, the query time P99 will only half of the before. But when I add more replicaNumber, the query time cost can not be better.

[2022-08-06 05:14] psc0606 commented on #18470
We use default maxMessageSize value. Thanks, I'll retry.

[2022-08-06 05:16] psc0606 commented on #18372
updated:
We set shard number to 64 first, when I use default two shard number. The batch insert time cost become normal.

[2022-08-06 05:55] psc0606 opened #18548 "[Bug]: FaissException crash querynode and restart"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I found the same issue[#17277 ]. But maybe the same error occur in milvus2.1.  FaissException made querynode crash and restart. I uploaded the log of the crashed querynode pod.

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

[mil

[2022-08-06 16:08] soothing-rain commented on #18530
It looks like that you have increased the segment size to 16GB from your post on discussion:
https://github.com/milvus-io/milvus/discussions/18512

So it appears that a huge compaction happens that took over 3 minutes.
[code]
[code]

As a result, the whole Milvus standalone processed was stuck -> Milvus cannot renew Etcd lease -> the whole Milvus process started to shut down.

I'd suggest that you

[2022-08-06 16:13] soothing-rain commented on #18120
/reopen

[2022-08-06 16:15] soothing-rain commented on #17576
Fixed.

[2022-08-06 16:15] soothing-rain commented on #17576
/assign @majedtaki

[2022-08-06 17:19] owlwang commented on #18530
It looks like you have located the problem and thank you for your dedication and response.

By the way, this situation also occurs with the default parameters (maxsize = 512M).

[2022-08-06 22:54] #17576 closed

[2022-08-07 00:31] yanliang567 commented on #18548
/assign @soothing-rain
/unassign

[2022-08-07 07:54] soothing-rain commented on #18548
/unassign
/assign @czs007
Can you help look at this?

[2022-08-07 13:57] xiaofan-luan commented on #18544
hi @karanbhatia-jm
How much data did you ingest? There seems to have no sealed segment , which means you have very little data in the system, does that make sense to you?

[2022-08-07 14:03] xiaofan-luan commented on #18372
To make multi shard faster, we might want to insert in parallel, we can keep this as a feature

[2022-08-07 18:56] #17535 closed

[2022-08-07 18:56] #17986 closed

[2022-08-07 18:56] #17286 closed

[2022-08-07 18:56] #18013 closed

[2022-08-07 18:56] #16804 closed

[2022-08-08 00:38] #17711 closed

[2022-08-08 01:19] yanliang567 commented on #18510
@jiaoew1991 any updates?

[2022-08-08 01:51] LoveEachDay commented on #18510
@zhuwenxing Why set the `defaultReplicationFactor` to 2?

[2022-08-08 02:09] bigsheeper commented on #18076
/reopen

[2022-08-08 02:10] bigsheeper commented on #18076
/unstable

[2022-08-08 02:22] XuanYang-cn commented on #16055
/reopen

[2022-08-08 02:39] XuanYang-cn commented on #16055
/unstale

[2022-08-08 03:49] wayblink commented on #15785
2022-08-02T23:05:12.646719703+08:00 stdout F [2022/08/02 15:05:12.646 +00:00] [DEBUG] [rootcoord/task.go:173] ["dmlChanName deltaChanName mismatch detail"] [i=0] [vchanName=by-dev-rootcoord-dml_182_435015571895222273v0] [phsicalChanName=by-dev-rootcoord-dml_182] [deltaChanName=by-dev-rootcoord-delta_200] [converted_deltaChanName=by-dev-rootcoord-delta_182] [err=]
2022-08-02T23:05:16.152510739+08:0

[2022-08-08 03:51] wayblink commented on #15785
https://github.com/milvus-io/milvus/blob/master/internal/rootcoord/task.go#L162~L181

I think this issue is caused by concurrent create_collection. Inner logic can't guarantee allocating dmlChannel and deltaChannel with the same id in concurrency.
For example, task1 and task2 are two create_collection tasks. Mismatch will happen if they actually executing as the following order:
task1 getDmlChanne

[2022-08-08 04:00] wayblink commented on #15785
How about we
1, get dmlChannel from timetickSync
2, use the corresponding name deltaChannel
3, tell timetickSync the deltaChannel is used

@congqixia Could you help to take a look at this issue? Thx~

[2022-08-08 04:35] karanbhatia-jm commented on #18544
Data ingested is about 10500 512-dimensional float vectors

[2022-08-08 04:53] karanbhatia-jm commented on #18544
@xiaofan-luan Less data would not affect the search right?

[2022-08-08 05:56] kakkoiiAllen opened #18551 "[Bug]: Cannot build docker image using "make docker""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I can build binary executable file using "make install", but the image I build using "make docker" cannot run properly.
I log into container and it shows that the file is not executable.
<img width="572" alt="Screen Shot 2022-08-06 at 9 42 10 AM" src="https://user-ima

[2022-08-08 06:05] JackLCL commented on #18536
Related discussion：https://github.com/milvus-io/milvus/discussions/18533

[2022-08-08 06:07] wayblink commented on #18409
[2022/07/26 06:37:33.993 +00:00] [WARN] [roles/healthz_handler.go:100] ["component is unhealthy"] [state=Abnormal]
[2022/07/26 06:37:33.994 +00:00] [DEBUG] [datanode/data_node.go:523] ["DataNode current state"] [State=Abnormal]
[2022/07/26 06:37:33.994 +00:00] [WARN] [roles/healthz_handler.go:100] ["component is unhealthy"] [state=Abnormal]
[2022/07/26 06:37:35.702 +00:00] [WARN] [client/client.go

[2022-08-08 06:28] kakkoiiAllen opened #18552 "[Bug]: cloud cluster deployment, proxy unhealthy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I deploy the cluster using tutorial from here: https://milvus.io/docs/aws.md, after I make all nodes up, I cannot connect to the proxy server using the proxy's public ip address. I get "proxy unhealthy". I'm using the hello_milvus.py script from official website.

[2022-08-08 06:42] zhuwenxing opened #18553 "[Feature]: Need an interface to tell if Milvus is fully available"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

There is currently no interface that can be used to determine if Milvus is fully available. We can only determine this by seeing if all the pods are running, but even if all the pods are running, there is still the case that Milvus is not availabl

[2022-08-08 08:15] cydrain commented on #18509
updated 2022/08/08

Some limitations about this issue:
1. cannot get user data and script
2. cannot reproduce this issue with randomly generate data
    50000 (dim=3840) vector data, create IVF_SQ8 L2 index and do search repeatly, cannot reproduce this issue

Try following ways to debug:
1. Enable sanitize options in Knowhere and run sift1M IVF_SQ8 benchmark, see no memory overflow
2. Build Milvus

[2022-08-08 09:30] soothing-rain commented on #18530
Thanks, this should not happen tho :)
Do you happen to have any monitoring setup (CPU/memory usage, etc.) for your Milvus service?  And may I ask how much memory do you have on your machine?

[2022-08-08 10:02] yanliang567 commented on #18552
/assign @LoveEachDay
/unassign

[2022-08-08 10:05] owlwang commented on #18530
No,We don't do monitoring for this, we have 128G memory

[2022-08-08 10:14] LoveEachDay commented on #18552
@kakkoiiAllen Could you run `docker-compose ps` in the ec2 node, to check whether the milvus container are running normally. And you can check the log using the following command `docker-compose logs` to whether client can reach to the milvus server.

[2022-08-08 10:27] yanliang567 commented on #18544
@karanbhatia-jm any chance to reproduce it on v2.1.0? if yes, pplease refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation

/assign @karanbhatia-jm
/unassign

[2022-08-08 15:01] kakkoiiAllen commented on #18552
I changed the instance type from p2.small to p2.xlarge and c5.xlarge and everything works just fine. Seems like it's a memory issue. I'll go back to p2.small and check if container is working properly.

[2022-08-08 22:14] #17928 closed

[2022-08-09 01:27] binbinlv commented on #17750
Same issue appears again in the following latest nightly:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/25/pipeline

1. milvus log: [artifacts-milvus-distributed-kafka-nightly-25-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/25/artifact/artifacts-milvus-distributed-kafka-nightly-25-pymilvus-e2e-logs.t

[2022-08-09 01:33] zhuwenxing opened #18555 "[Bug]: num_entities is 0 after insert and flush"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

run test_e2e.py after installation, it shows that the num_entities is 0 after flush
[code]

### Expected Behavior

expect num_entities is 3000

### Steps To Reproduce

[code]

### Milvus Log

[artifacts-rootcoord-pod-failure-210-server-logs.tar.gz](https://github.com/

[2022-08-09 01:36] binbinlv commented on #17725
This issue appears continuously nearly every nightly, and the latest is:
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/25/pipeline/123
1. milvus log: [artifacts-milvus-standalone-nightly-25-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/25/artifact/artifacts-milvus-standalone-nightly-25-pymilvus-e2e-lo

[2022-08-09 01:47] zhuwenxing opened #18556 "[Bug]: Search failed with error message `fail to get shard leaders from QueryCoord: no replica available` without any chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Run test_e2e.py after installation
[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

[artifacts-proxy-pod-kill-195-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9286091/artifacts-proxy-pod-kill-195-se

[2022-08-09 01:49] binbinlv opened #18557 "[Bug]: [Embed] Error “Unable to import required dependencies: numpy” when start embeded milvus and import pymilvus in "mac intel" in the one python terminal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-08-09 01:50] binbinlv commented on #18557
If start milvus in one python terminal, and start another terminal to call pymilvus interface, it is good.

[2022-08-09 01:54] yanliang567 commented on #18555
@XuanYang-cn is it somthing related to what we going to do for flush and num_entities?
/assign @XuanYang-cn
/unassign

[2022-08-09 02:01] jingkl commented on #18508
server-instance
fouram-cron-1659974400-6
server-configmap
server-single-16c64m
client-configmap
client-search-sift50m-ivf-flat-2048
master-20220805-c5c3392
2.1.1dev3
[code]

[code]

[2022-08-09 02:35] xinghycc opened #18558 "[Bug]: err: rpc error: code = ResourceExhausted desc = grpc: received message larger than max (215849469 vs. 104857600)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When ATTU is used to query data, the page and Milvus server are abnormal. The following information is displayed:
1.The database contains more than 100,000 data.
2.Query criteria  id>0.
3.An error occurred while executing the query.
err: rpc error: code = ResourceExha

[2022-08-09 02:41] yanliang567 commented on #18558
@xinghycc thank you for the issue. It seems that you are trying to retrieve all the data in the collection, which exceeds the maxsize of one gprc size. I suggest you not  retrieve so much data at a time, as it also might cause some memory issue. Try to retrieve less data, e.g. id in [1,2,3,4,5]

/assign @xinghycc
/unassign

[2022-08-09 02:50] xinghycc opened #18560 "[Bug]: The standalone milvus-etcd has a high memory footprint."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When top checked the information, it was found that MilVUS-ETCD occupied a high amount of memory for a long time, reaching about 80%, and the amount of data in the database was about 200,000. At the beginning of Milvus, ETCD occupied about 28% of the memory. Through t

[2022-08-09 02:57] yanliang567 commented on #18560
/assign @LoveEachDay
/unassign

[2022-08-09 02:58] XuanYang-cn commented on #18555
@zhuwenxing What's PyMilvus version?

[2022-08-09 03:02] p363796822 commented on #18469
The latest docker corresponding to these two prs, milvusdb/milvus-dev:2.1.0-20220808-9899a5be has not solved the problem, and the current state is that there is no way to connect after startup, is there any way to restore by reading minio How about inserting data? I decompile the original data here and then redeploy and insert it.

[2022-08-09 03:03] ThreadDao commented on #18486
The root cause is OOMKilled. Datanode will recover if increase memory

[2022-08-09 03:03] #18486 closed

[2022-08-09 03:21] letian-jiang commented on #17228
/reopen

[2022-08-09 03:24] LoveEachDay commented on #18560
@xinghycc Etcd has two usages in milvus:
1. metadata store
2. service discovery

From the the `top output` and your vector data size, the meta store cannot be that large. We've tested 100 million vector data (128 dimension) in milvus, which only have 300M memory usage for etcd.

By default the volume is kept when you run `docker-compose down`.  Did you run several times of `docker-compose up` whic

[2022-08-09 03:24] zhuwenxing opened #18561 "[Bug]: Load timeout after querynode pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

load timeout when running `test_e2e.py` after chaos
[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: https://github.com/milvus-io/milvus/runs/7732991115?check_suite_focus=true
log: https://github.com/mil

[2022-08-09 03:36] yanliang567 commented on #18316
@xige-16 @xiaofan-luan any updates for this? It blocks our nightly compatibility and upgrade tests. please take it a high priority.

[2022-08-09 03:38] zhuwenxing commented on #18555
pymilvus==2.1.0.dev103

[2022-08-09 04:00] zhuwenxing commented on #18510
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-kafka/detail/chaos-test-kafka/234/pipeline

[artifacts-rootcoord-pod-failure-234-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/9286635/artifacts-rootcoord-pod-failure-234-server-logs.tar.gz)
[artifacts-rootcoord-pod-failure-234-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/files/9286641/artifac

[2022-08-09 06:42] datenhahn opened #18565 "[Bug]: panic: failed to flush delete data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I deploy a fresh milvus standalone setup via the helm chart and we start inserting and deleting data after a short time (sometimes minutes, sometimes hours) the setup panics. The worst thing is, that once it panicked, it is not possible to get it running again. O

[2022-08-09 06:55] yanliang567 commented on #18565
@xiaofan-luan could you please take a look at this issue?
/assign @xiaofan-luan
/unassign

[2022-08-09 06:58] yanliang567 commented on #18561
/assign @jiaoew1991
/unassign

[2022-08-09 06:59] yanliang567 commented on #18556
/assign @jiaoew1991
/unassign

[2022-08-09 07:01] xiaofan-luan commented on #18565
/assign @XuanYang-cn pls help on it

[2022-08-09 07:16] XuanYang-cn commented on #18565
@datenhahn I would like to exam the logs, please email to me at `xuan.yang@zilliz.com`

[2022-08-09 07:39] xiaofan-luan commented on #18560
@LoveEachDay why we didn't set ETCD_AUTO_COMPACTION_RETENTION to smaller by default?

[2022-08-09 07:45] LoveEachDay commented on #18560
@xiaofan-luan This is a balance between performance and memory usage. If you set compaction retention to a smaller value, it'll affect the normal etcd operation.

[2022-08-09 07:56] XuanYang-cn commented on #18555
![image](https://user-images.githubusercontent.com/51370125/183595082-976d3888-6532-4738-9132-2aa1c21b11d4.png)

DataCoord consumes the first 2 msgs failed of `time tick channel`, so DC isn't aware of any numRows change, the  segment row num remains zero in DC's meta. According to the the error message, Kafka client is unable to connect to server, seems like the server is unavailable then.

[2022-08-09 08:26] xTerry opened #18567 "[Bug]: Data is loaded in milvus 2.1, but search has timeout , not response."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus 2.0：search not response, then upgrade to milvus 2.1. data total: 10 thousand+ .The search collection data size: 238.

![d9b1d23bf85ade8766d7f1e8398de88](https://user-images.githubusercontent.com/2304854/183598509-444287b7-63ec-4f5c-9d42-edd47923bc3b.jpg)

![ima

[2022-08-09 08:55] yanliang567 commented on #18567
@soothing-rain does the log below means that segments were not discovered completed?
`[2022/08/09 08:04:51.849 +00:00] [ERROR] [datacoord/garbage_collector.go:144] ["parse segment id error"] [infoKey=files/delta_log/434737141145665537/434737141407547393/434737141420654594/434737229330644994] [error="files/delta_log/434737141145665537/434737141407547393/434737141420654594/434737229330644994 is not

[2022-08-09 13:21] lvmnn opened #18573 "[Bug]: Search timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

after a period of normal operation, the search suddenly timed out.

There is only search traffic during this time

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

[milvus-log.tar.gz](https://github.com/milvus-io/milvus/file

[2022-08-09 13:53] xiaofan-luan commented on #18560
From the user scenario etcd takes 25.6G memory, do we think it is normal or abnormal? unless user create collection frequently. otherwise I don't see a reason we update etcd so frequently?

[2022-08-09 15:08] guptajayesh opened #18574 "[Bug]: Persisted Data in S3 Gets deleted after milvus is brought down and restarted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I deployed Milvus on EKS with external s3 configured, After I perform the Create Collection and Insert Operations, The Data is stored in Milvus efficiently and is visible in s3 buckets
However, If I bring down the Milvus deployment and restart it with the same configu

[2022-08-10 01:19] yanliang567 commented on #18574
@guptajayesh I guess you enabled the delete pvc policy in deployment. @LoveEachDay could you please give some guide here?

/assign @LoveEachDay
/unassign

[2022-08-10 01:37] LoveEachDay commented on #18574
@guptajayesh Could you provide the helm values for your installment? You can run the following command:
[code]
And upload the `helm-values.yaml` here, do remember to remove the access key and secret key in the `helm-values.yaml` file for your external s3 config section.

[2022-08-10 01:59] PEN170 commented on #18521
请问有新进展吗 @weiliu1031 @yanliang567

[2022-08-10 02:00] #18379 closed

[2022-08-10 02:02] xiaofan-luan commented on #18348
should be fixed on 2.1.1, with the limitation

[2022-08-10 02:04] xiaofan-luan commented on #18318
@czs007 any progress?

[2022-08-10 02:07] xiaofan-luan commented on #15785
delta channel should not be allocated but should be same as dml channel, does that make sense?

[2022-08-10 02:07] jiaoew1991 commented on #18516
@WeiDong-Shi when using `query` API and the output fields contain vector field, the output will fetch the original vector from `MinIO/s3`,  the bottleneck is IO, in this case, the load is high but the CPU usage is low is reasonable

[2022-08-10 02:16] weiliu1031 commented on #18521
work in progress, does it come up again?

[2022-08-10 02:30] xTerry opened #18576 "[Bug]: ReleaseCollection unable to free memory"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The Cluster ro  unable to free memory，

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-08-10 02:32] jiaoew1991 commented on #18556
/assign @aoiasd

[2022-08-10 02:36] xTerry opened #18577 "[Bug]: ReleaseCollection unable to free memory"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The Cluster ro  unable to free memory，
![image](https://user-images.githubusercontent.com/2304854/183797151-10c51ae5-69b9-4022-a2d1-bc588400b206.png)
![image](https://user-images.githubusercontent.com/2304854/183797258-529be08c-d6e5-4323-9ac2-8df131a49dcc.png)
![image

[2022-08-10 02:52] yanliang567 commented on #18577
/assign @yhmo
/unassign

[2022-08-10 02:53] jercas opened #18579 "[Enhancement]: Independent partition load and release"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

  Independent partition control, partitions are loaded and released independently of each other influences. And when querying the collection, query all currently loaded partitions together.

### Why is this needed?

  For online vector retrieval tasks, we need to update the ve

[2022-08-10 03:14] PEN170 commented on #18521
是的 一直出现这个问题

[2022-08-10 03:14] lvmnn commented on #18573
This is the log from 3 to 4.30 pm
[milvus-log-3.tar.gz](https://github.com/milvus-io/milvus/files/9296208/milvus-log-3.tar.gz)

[2022-08-10 03:17] weiliu1031 commented on #18521
If permit, it is recommended to use the new version: 2.1.0

[2022-08-10 03:24] jaime0815 opened #18580 "[Bug]: parse minio key error during binlog gc"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[ERROR] [datacoord/garbage_collector.go:143] [\"parse segment id error\"] [infoKey=usr-7Pc5npSqRa6B-ed7ceXtMg/in01-fdeac4ddcf7c430/delta_log/435129779953860609/435129779953860610/435139120830611457/435140055221665793] [error=\"usr-7Pc5npSqRa6B-ed7ceXtMg/in01-fdeac4ddc

[2022-08-10 03:26] SimFG opened #18581 "[Enhancement]: Add a specific `KeyNotExistError` err for the metastore `load` interface"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

In order to distinguish the key does not exist and the internal error of metastore, such as connection error, the error is turned into a struct.
![image](https://user-images.githubusercontent.com/21985684/183805006-7e8b646e-9ecd-4706-9309-8364dd3edbb9.png)

### Why is this nee

[2022-08-10 06:31] LoveEachDay commented on #18560
Of course it's abnormal that etcd uses 25.6GB memory. We cannot reproduce using the above procedures. We need @xinghycc to clarify the steps and give us more detail information.

[2022-08-10 06:54] #18581 closed

[2022-08-10 06:59] XuanYang-cn opened #18585 "[Bug]: ParseSegmentIDByBinlog isn't compatible with deltalog path"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

Delta logs doesn't contain `fieldID`, so every deltalog paths will cause failure here.
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-08-10 07:01] XuanYang-cn commented on #18565
[code]

This's a bug need to fix, but it doesn't influence the recovery process and doesn't cause panic, so I'll leave an issue #18585 and keep investigating.

[2022-08-10 07:03] XuanYang-cn commented on #18565
[code]

@datenhahn could you email me the logs containing this part?

[2022-08-10 07:11] weiliu1031 commented on #18521
Final Conclusion
in 2.0.2, query coord maintains global sealed segments through QueryChannelInfo. after compact, the handoff task need to update global sealed segment, but it just add new generated segment, the old segments are not removed.

influences:
1. query coord's global sealed segments  mess
2. loadCollection after this, will pollute query node's global sealed segments
3. search hangs, due

[2022-08-10 07:13] PEN170 commented on #18521
好的，感谢解答

[2022-08-10 07:19] datenhahn commented on #18565
@XuanYang-cn I have mailed you the other logs, I didn't realize the logs have been rotated, so the new file is 300MB big.

Maybe some more information about our setup which might be special. We use lots of partitions to speed up searches. We add every vector in multiple partitions:

Year     (e.g. 2022)
Month  (e.g. 2022-08)
Week   (e.g. 2022-08-KW32)
Day      (e.g. 2022-08-10)

So we have lots of

[2022-08-10 07:51] XuanYang-cn commented on #18585
dup with #18580
May be fixed by #18583 #18584

[2022-08-10 07:51] #18585 closed

[2022-08-10 08:03] xiaofan-luan commented on #16446
/assign @bigsheeper

[2022-08-10 08:36] sunby commented on #18579
Thanks for the advice. Same as https://github.com/milvus-io/milvus/issues/18242

[2022-08-10 08:42] aoiasd opened #18588 "[Enhancement]: Format some naming case"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Some logs in interface GetMetric named with the UnderScoreCase but other named with the Camel Case.
Such as code in /internal/datacoord/service.go:742

`	log.Debug("received get metrics request",
		zap.Int64("nodeID", Params.DataCoordCfg.GetNodeID()),
		zap.String("request", r

[2022-08-10 09:28] xige-16 commented on #18316
The sourceNodeID of the balance task is inconsistent with the nodeID of the down node
[code]

[2022-08-10 10:00] NicoYuan1986 opened #18592 "[Bug]: Add test of user and password connection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Add test cases for user and password connection.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-08-10 11:39] yanliang567 commented on #18576
/assign @yhmo
/unassign

[2022-08-10 13:09] xiaofan-luan commented on #18316
@zhuwenxing should be fixed by 18590, pls verify on it

[2022-08-10 13:13] #17963 closed

[2022-08-10 13:13] #17857 closed

[2022-08-10 13:13] #17031 closed

[2022-08-10 13:13] #16873 closed

[2022-08-10 13:13] #15416 closed

[2022-08-10 13:13] #17868 closed

[2022-08-10 13:18] WeiDong-Shi commented on #18516
I'm not sure if I don't fully understand what you mean, but I don't output the fields used to store vectors when I use the query. I only output the two default fields of your interface, the ID and distance fields of Milvus, and attach a self-defined field of varchar (32) that I define myself. So I don't fully understand what you mean.

[2022-08-10 14:37] xiaofan-luan commented on #13045
/assign @wayblink pls help on it

[2022-08-10 14:38] #17104 closed

[2022-08-10 14:38] xiaofan-luan commented on #17104
won't fix it for now

[2022-08-10 14:38] xiaofan-luan commented on #17368
partition related issue, will be fixed later after 2.2

[2022-08-10 14:39] xiaofan-luan commented on #17411
/assign @yanliang567  is this still a issue?

[2022-08-10 14:41] xiaofan-luan commented on #17627
/assign @zhuwenxing is this still a issue on current master?

[2022-08-10 14:43] #18270 closed

[2022-08-10 14:43] xiaofan-luan commented on #18287
Milvus should be recovered after pulsar recover, does that meet expectation?

[2022-08-10 14:43] datenhahn opened #18595 "[Bug]: queryCoord stays in "Initializing" state "reloadFromKV: taskStateInfo and triggerTaskInfo are inconsistent""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After some time milvus shuts down and after the restart it cannot start up again (queryCoord stays in state "Initializing"). We insert about 20-60 vectors per Minute and have lots of different partitions.

[code]

### Expected Behavior

Milvus should not shutdown and

[2022-08-10 14:44] xiaofan-luan commented on #18164
keep it open

[2022-08-10 14:46] datenhahn commented on #18595
Here are the full logs (134MB tar.gz): https://drive.google.com/file/d/1W32Ag4d3qUt-N1Trg3YJlmq7Ep2IJGQ8/view?usp=sharing

[2022-08-10 14:46] xiaofan-luan commented on #17855
close because of duplicated

[2022-08-10 14:46] #17855 closed

[2022-08-10 14:46] weiliu1031 commented on #18287
milvus service did recovered, service is back.

[2022-08-10 14:47] xiaofan-luan commented on #17651
@wayblink any progress on this one?

[2022-08-10 14:47] xiaofan-luan commented on #17978
leave it until milvus merge it

[2022-08-10 14:48] #18162 closed

[2022-08-10 14:50] xiaofan-luan commented on #17674
@jiaoew1991 any progress on it? the new debug image might help to investigate memory leakage?

[2022-08-10 14:51] xiaofan-luan commented on #17889
/assign @binbinlv could you please verify on it?

[2022-08-10 14:55] DazzlingGalaxy opened #18596 "[Bug]: 2.0.0中文文档中有字母大小写错误"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

我是在Bing中搜milvus，搜索结果中有官方gitee地址，打开并手动定位到https://gitee.com/milvus-io/milvus#%E5%90%AF%E5%8A%A8-milvus，然后点"安装 Milvus 单机版"，跳转到https://milvus.io/cn/docs/v2.0.0/install_standalone-docker.md，再通过左侧目录手动进入https://milvus.io/cn/docs/v2.0.0/search.md，再手动定位到https://milvus.io/cn/do

[2022-08-10 14:56] xiaofan-luan commented on #16426
/assign @longjiquan

[2022-08-10 14:57] xiaofan-luan commented on #17122
/assign @longjiquan pls help on the memory leakage

[2022-08-10 14:57] xiaofan-luan commented on #17122
/assign @longjiquan

[2022-08-10 14:59] xiaofan-luan commented on #17648
keep it for 2.2.

[2022-08-10 14:59] #16960 closed

[2022-08-10 15:00] xiaofan-luan commented on #18107
/assign @SimFG pls help on it

[2022-08-10 15:01] xiaofan-luan commented on #16789
/assign @SimFG pls help on it

[2022-08-10 15:02] xiaofan-luan commented on #17528
@jaime0815 do we have reason or fix about broadcast too slow? if we concurrent do the broad case it shouldn't be too slow right?

[2022-08-10 15:03] xiaofan-luan commented on #17107
any progress on it?

[2022-08-10 15:04] xiaofan-luan commented on #17115
/assign @aakejiang pls help on it

[2022-08-10 15:06] xiaofan-luan commented on #18523
/assign @zwd1208 could you help on it

[2022-08-10 15:08] xiaofan-luan commented on #7522
/assign @zhagnlu could you help this?

[2022-08-10 23:31] #17813 closed

[2022-08-11 00:38] yanliang567 commented on #17411
not reproduce to me recently.

[2022-08-11 00:38] #17411 closed

[2022-08-11 00:38] yanliang567 commented on #18190
/unstale

[2022-08-11 01:35] zhuwenxing commented on #18316
verified and passed in version `master-20220810-29384dd`

[2022-08-11 01:35] #18316 closed

[2022-08-11 01:35] weiliu1031 commented on #18595
/assign @weiliu1031

[2022-08-11 02:04] weiliu1031 commented on #18595
root cause:  query coord init blocks due to task queue limit.
1. according to the log, data coord flush lots of segment files
![image](https://user-images.githubusercontent.com/108661493/184052624-9c991f16-a5e5-47a6-b2e1-f519f2fc2123.png)

2. query coord triggers lots of handoff task, but all failed, due to
`[2022/08/10 12:34:00.635 +00:00] [ERROR] [querycoord/task.go:2454] ["assignInternalTask: a

[2022-08-11 02:06] weiliu1031 commented on #18595
by the way, there seems to be much more segments, what's the amount of data?

[2022-08-11 03:09] XuanYang-cn commented on #18565
@datenhahn I didn't receive the 300MB log, could you please resend me one? I'll try to reproduce this panic locally following your usage information while waiting for the logs.

**I have some questions about usage details, looking forward to your reply:**
1. Did you load collection or load some of the partitions?
2. Did you call `num_entities` every time there's an insert/delete?
3. How did you Qu

[2022-08-11 03:31] jiaoew1991 commented on #18452
from analyzing Log and memory, we can figure out that the `load` action reads the vector field other than index files, so the memory usage is much larger than the 2.1 branch.

the following steps should find out why the index did not created as we expected