[2021-08-12 09:52] yhmo commented on #6805
Answered and inactive, close it.

[2021-08-12 09:52] #6805 closed

[2021-08-12 09:57] yhmo commented on #6754
Answered and inactive, close it.

[2021-08-12 09:57] #6754 closed

[2021-08-12 10:00] #6885 closed

[2021-08-12 10:04] godchen0212 commented on #6789
It seems that the slow speed of your disk causes the inefficiency of etcd to synchronize wal.
Reference:[ETCD "wal sync: duration" error](https://github.com/etcd-io/etcd/issues/10414)
And we will consider increasing the lease expiration time to overcome the occasional spike problem of etcd.

[2021-08-12 10:10] yhmo commented on #6936
Fixed

[2021-08-12 10:12] #7070 closed

[2021-08-12 10:18] godchen0212 commented on #6753
Can you provide etcd metrics for a etcd debug？
The method of exporting metrics varies according to the etcd version, you can refer to this document
[Metrics | etcd](https://etcd.io/docs/v3.5/metrics/)

[2021-08-12 10:32] LoveEachDay commented on #6753
The default etcd storage size limit is 2GB, you can check the etcd db size with the following command:
`etcdctl endpoint status -w table`
Check the `DB SIZE` cell.

You can run `etcdctl compact <rev>` to decrease the db size. After the db size is less than 2GB, you must  run `etcdctl alarm disarm` before running any etcd writes.

[2021-08-12 10:39] yhmo commented on #6723
@owlwang

Currently we only fix critical issues for v1.x, because main resource is put in v2.0.

If you know how to build a milvus from source code, you can try the code fix:

Firstly find the source code for IVFPQ:  /milvus/core/src/index/knowhere/knowhere/index/vector_index/IndexIVFPQ.cpp
At line No.62:
       `auto gpu_index = faiss::gpu::index_cpu_to_gpu(res->faiss_res.get(), device_id, index_

[2021-08-12 10:42] yhmo commented on #6678
Answered and inactive, close it.

[2021-08-12 10:42] #6678 closed

[2021-08-12 10:47] #6611 closed

[2021-08-12 10:49] yhmo commented on #6675
Link to #7056

[2021-08-12 10:52] yhmo commented on #7029
@jingkl Please verify this issue on RC4.

[2021-08-12 10:53] yhmo commented on #7020
@jeffoverflow Please take a look this issue.

[2021-08-12 11:02] xiaofan-luan commented on #7017
hey guys, any logs can be provided for our investigation? It would be great if we can have logs from proxy, querynode, querycoord

[2021-08-12 11:03] xiaofan-luan commented on #7017
/assign @xiaofan-luan

[2021-08-12 11:09] jeffoverflow commented on #7020
What is the version of Docker and Docker Compose?  @hande6688

[2021-08-12 11:24] XuanYang-cn opened #7076 "ProxyService in milvus.proto seems not in use, we need to delete it"
#### Steps/Code to reproduce:
https://github.com/milvus-io/milvus/blob/3c6a807fd26967b469c74fa3fef9b9a74f1d1ab4/internal/proto/milvus.proto#L491

By the way, don't forget to update pymilvus proto

https://github.com/milvus-io/pymilvus/blob/ddb270b0be4384e00f19ab35a13482b7b9c97c05/grpc-proto/milvus.proto#L489

[2021-08-12 11:31] zwd1208 commented on #6735
It seems network problem，can you check your cluster component such as kube-proxy/flannel is running?

[2021-08-12 11:57] ggordonhall commented on #7049
I've upgraded to 2.0.0-rc4 but still observing the same memory increase:

![Screenshot 2021-08-12 at 12 55 12](https://user-images.githubusercontent.com/24595376/129192583-62b991a6-7c5d-4e15-aec1-6989b8a7373b.png)

![Screenshot 2021-08-12 at 12 55 04](https://user-images.githubusercontent.com/24595376/129192602-2f05b27f-dc39-417f-902c-ef355b470329.png)

Perhaps this is related to the issue that @c

[2021-08-12 17:05] filip-halt commented on #7013
Do you have access to amazon eks? If so I can send you my terraform file and direct steps.

[2021-08-12 17:55] MayetG commented on #6735
its no longer a problem with the newer helm releases - thank you!

[2021-08-13 02:17] del-zhenwu opened #7077 "Client get no response for more than 6 hours during loading collection on dataset sift1m"
#### Steps/Code to reproduce:
client logs:
[code]
test yaml:
[code]
pod info:
[code]
#### Expected result:

#### Actual results:
client get no response after 6 hours.

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster): standalone
- SDK version(e.g. pymilvus v2.0.0rc2): rc4-dev1
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Confi

[2021-08-13 02:23] yanliang567 commented on #7049
on master-20210810-bdb8396, it increases about 15MB per hour
![Screen Shot 2021-08-13 at 10 22 30 AM](https://user-images.githubusercontent.com/82361606/129296080-03fc7988-04a2-490a-bea4-8e1a4509be77.png)

[2021-08-13 02:56] fishpenguin commented on #7049
Rocksmq use memkv to store meta info which may cause that the memory keep increasing, this will be fixed in [pr6617](https://github.com/milvus-io/milvus/pull/6617).
However, this may not be the main reason of the memory increasing, If so, I will keep tracking this issue and try to fix it.

[2021-08-13 02:58] ThreadDao commented on #6110
After re-testing, the Milvus `5c383d1` version has not fixed this issue!

[2021-08-13 03:08] #6735 closed

[2021-08-13 03:08] yhmo commented on #862
Will be considered in v2.x

[2021-08-13 03:08] yhmo commented on #254
Will be considered in v2.x

[2021-08-13 03:09] binbinlv opened #7078 "Distance is inf when searching binary vector using tanimoto metric (dim = 8)"
#### Steps/Code to reproduce:
Run test cases:
testcases/test_search.py::TestCollectionSearch.test_search_binary_tanimoto_flat_index

#### Expected result:
Search return with right results

#### Actual results:
search with wrong results

nightly:
https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/96/consoleFull

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Depl

[2021-08-13 03:09] yhmo commented on #951
Inactive

[2021-08-13 03:09] #951 closed

[2021-08-13 03:10] yhmo commented on #1099
Inactive

[2021-08-13 03:10] #1099 closed

[2021-08-13 03:11] yhmo commented on #1127
v1.1.1 can store data in S3.
Inactive

[2021-08-13 03:11] #1127 closed

[2021-08-13 03:14] yhmo commented on #1765
Inactive

[2021-08-13 03:14] #1765 closed

[2021-08-13 03:15] yhmo commented on #1924
This feature is in progress in v2.0:
https://wiki.lfaidata.foundation/display/MIL/MEP+11+--+Support+String+DataType

[2021-08-13 03:16] xiaofan-luan commented on #6343
closed since it is already solved  #6700

[2021-08-13 03:17] DragonDriver commented on #7078
Duplicated with #6843

[2021-08-13 03:17] #7078 closed

[2021-08-13 03:19] yhmo commented on #355
Abandoned

[2021-08-13 03:19] #355 closed

[2021-08-13 03:19] yhmo commented on #362
Abandoned

[2021-08-13 03:19] #362 closed

[2021-08-13 03:19] yhmo commented on #363
Abandoned

[2021-08-13 03:19] #363 closed

[2021-08-13 03:20] yhmo commented on #367
Abandoned

[2021-08-13 03:20] #367 closed

[2021-08-13 03:21] yhmo commented on #1943
Abandoned

[2021-08-13 03:21] #1943 closed

[2021-08-13 03:22] shatealaboxiaowang opened #7079 "When the allocated memory space is smaller than the data size, more memory is not better"
#### What would you like to be added:

#### Why is this needed:

When the allocated memory space is smaller than the data size, more memory is not better .
exp: data_size=20g, search_speed(cache_size=19g)=search_speed(cache_size=1G)

code:
myMilvus.set_config('cache', 'cache_size', '1GB')
top_k = int(confs_milvus.get('topk'))
    q_records = [[random.random() for _ in range(dim)] for _ in range(1)

[2021-08-13 03:22] yhmo commented on #2328
Will be considered in v2.x

[2021-08-13 03:23] yhmo commented on #2352
Abandoned

[2021-08-13 03:23] #2352 closed

[2021-08-13 03:24] yhmo commented on #2387
Will be considered in v2.x

[2021-08-13 03:25] #6343 closed

[2021-08-13 03:29] yhmo commented on #2745
V1.1.1 support store data into S3.
So far, v1.x only fix critical bugs, no more features.

[2021-08-13 03:30] yhmo commented on #3202
Duplicated with #254

[2021-08-13 03:30] #3202 closed

[2021-08-13 03:31] #7060 closed

[2021-08-13 03:31] yhmo commented on #3821
This feature is in progress in v2.0: https://wiki.lfaidata.foundation/display/MIL/MEP+10+--+Support+Collection+Alias

[2021-08-13 03:32] yhmo commented on #3728
Abandoned

[2021-08-13 03:32] #3728 closed

[2021-08-13 03:33] XuanYang-cn opened #7080 "Unit test error in master branch action"
#### Steps/Code to reproduce:
[code]

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-08-13 03:40] xige-16 opened #7081 "Search stucked if querynode only load sealed segment, without watch inser channels"
#### Steps/Code to reproduce:

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-08-13 03:42] xige-16 commented on #7081
If querynode hasn't watch any dmChannels, the local clock of querynode will not be pushed forward, causing the search to time out.

[2021-08-13 03:44] xige-16 commented on #7081
The solution is to query the historical data of querynode directly without waiting for the local clock.

[2021-08-13 03:48] yhmo commented on #3203
There are two requirements here:
1. Input vectors as target nq, input some ids as filtering condition, and do similarity search. This feature has already been implemented in v2.0 RC4, this is the feature link: #5443

2. Input ids as target nq, to do similarity search. This feature is tracked by #5215

[2021-08-13 03:48] #3203 closed

[2021-08-13 03:52] yhmo commented on #4586
Use #5215 to track this feature, close this one.

[2021-08-13 03:52] #4586 closed

[2021-08-13 03:54] yhmo commented on #4811
Use #5215 to track this feature, close this one.

[2021-08-13 03:54] #4811 closed

[2021-08-13 04:00] ThreadDao commented on #6110
Below is the client log. You can get the time period from chaos injected to chaos deleted. So you can filter out all pods logs on kibana-dev based on this time period. This issue indicated that other interfaces are unavailable during the indexCoord pod is killed.
1. The client logs:
[client.log](https://github.com/milvus-io/milvus/files/6979743/client.log)

2. The pod names
[code]
3. If you can't

[2021-08-13 04:00] jaelgu opened #7082 "Offline install: failed to download "milvus/milvus" (hint: running `helm repo update` may help)"
#### Steps/Code to reproduce:
1. Follow https://github.com/milvus-io/milvus/tree/master/deployments/offline with minikube
2. Step "Get Kubernetes manifest of Milvus standalone"
#### Expected result:
Be able to download milvus_manifest.yaml

#### Actual results:
- Fail with error "failed to download "milvus/milvus" (hint: running `helm repo update` may help)"
- I have to online install release befo

[2021-08-13 04:12] yhmo commented on #3921
The v1.1.1 is stable, we only fix critical bugs for v1.x.
Inactive and close this issue.

[2021-08-13 04:12] #3921 closed

[2021-08-13 04:13] yhmo commented on #3922
Inactive

[2021-08-13 04:13] #3922 closed

[2021-08-13 04:17] yhmo commented on #4027
The v1.1.1 is stable, we only fix critical bugs for v1.x, no more features/improvement.
Abandoned this feature.

[2021-08-13 04:17] #4027 closed

[2021-08-13 04:17] yhmo commented on #2663
The v1.1.1 is stable, we only fix critical bugs for v1.x, no more features/improvement.
Abandoned this feature.

[2021-08-13 04:17] #2663 closed

[2021-08-13 04:19] yhmo commented on #4112
The v1.1.1 is stable, we only fix critical bugs for v1.x, no more features/improvement.
Abandoned this feature.

[2021-08-13 04:19] #4112 closed

[2021-08-13 04:20] sunby opened #7084 "Segment can not auto flush"
After receiving datanode timetick, datacoord checks the flushable segments, if no segment is chosen, the expiration check logic will not be executed. This leads to that allocations of segment can not be released. We should expire allocations first.

[2021-08-13 04:22] yhmo commented on #4259
The v1.1.1 is stable, we only fix critical bugs for v1.x, no more features/improvement.
Abandoned this feature.

[2021-08-13 04:22] #4259 closed

[2021-08-13 05:20] xiaofan-luan commented on #7081
Be awere this may change if delete channel is added.

[2021-08-13 05:21] binbinlv opened #7086 "Report "object of type 'NoneType' has no len()" for some invalid metric type when calculating distances for vectors"
#### Steps/Code to reproduce:
[code]

#### Expected result:
pymilvus.client.exceptions.BaseException: <BaseException: (code=1, message=Invalid metric type)>

#### Actual results:
for int, float, None
TypeError: object of type 'NoneType' has no len():
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):  e1b3273
- Deployment mode(standalone or cluster): standalone
- SDK version(e

[2021-08-13 05:40] xiaofan-luan commented on #6417
@xige-16 is this same issue ebay hits?

[2021-08-13 05:59] yhmo commented on #4222
Abandoned

[2021-08-13 05:59] #4222 closed

[2021-08-13 06:00] #7080 closed

[2021-08-13 06:06] yhmo commented on #4328
This feature is in progress: https://wiki.lfaidata.foundation/display/MIL/MEP+10+--+Support+Collection+Alias

[2021-08-13 06:13] yhmo commented on #4401
This feature has been implemented in Milvus v2.0.
Please refer the python example: https://github.com/milvus-io/pymilvus/blob/master/examples/query.py

@keotic
I think your requirement is like #6911. We add a new api named "calc_distance()" for this feature. The example: https://github.com/milvus-io/pymilvus/blob/master/examples/example_distance.py

[2021-08-13 06:15] #4401 closed

[2021-08-13 06:19] yhmo commented on #4469
#4618 is opened. Close this one.

[2021-08-13 06:19] #4469 closed

[2021-08-13 06:21] yhmo commented on #4567
This may caused by a random crash issue #5398. We have fixed it in v1.1.1
Inactive and close.

[2021-08-13 06:21] #4567 closed

[2021-08-13 06:23] yhmo commented on #4570
The Milvus v2.0 has been released in recent. Close this issue.

[2021-08-13 06:23] #4570 closed

[2021-08-13 06:25] yhmo commented on #4632
Inactive and close.

[2021-08-13 06:25] #4632 closed

[2021-08-13 06:25] jaelgu commented on #7082
it was failed to connect https://milvus-io.github.io/milvus-helm/. Now fixed.

[2021-08-13 06:25] #7082 closed

[2021-08-13 06:26] jeffoverflow commented on #7082
Need to make sure you can properly access [https://milvus-io.github.io/milvus-helm/index.yaml](https://milvus-io.github.io/milvus-helm/index.yaml )

Enter the following command to verify that the link is accessible
[code]

[2021-08-13 06:30] yhmo commented on #4669
According to the roadmap: https://wiki.lfaidata.foundation/display/MIL/Milvus+2.0+Roadmap+and+Time+schedule
The upsert() will available in v2.2.

[2021-08-13 06:31] yhmo commented on #4670
Inactive, close

[2021-08-13 06:31] #4670 closed

[2021-08-13 06:32] yhmo commented on #4682
Inactive, close

[2021-08-13 06:32] #4682 closed

[2021-08-13 06:34] yhmo commented on #4684
Inactive, close

[2021-08-13 06:34] #4684 closed

[2021-08-13 06:37] yhmo commented on #4721
Inactive, close

[2021-08-13 06:37] #4721 closed

[2021-08-13 06:37] yhmo commented on #4729
Inactive, close

[2021-08-13 06:37] #4729 closed

[2021-08-13 06:38] jeffoverflow opened #7088 "Send notification emails to contributors when publish Milvus images failed"
Send notification emails to contributors when publish Milvus images failed

[2021-08-13 06:41] yxz9087 opened #7089 "How to modify cache_size in Milvus2.0"
I have a  dataset  almost 20GB and 5,000,000 rows.When I tried to load partition from disk to memory,it stucked，finally grpc timeout error throwed.
I want to change cache_size config to have a try，but cannot find how to modify config file，please help~

[2021-08-13 06:42] yhmo commented on #4734
Inactive, close

[2021-08-13 06:42] #4734 closed

[2021-08-13 06:43] yhmo commented on #4763
Inactive and close

[2021-08-13 06:43] #4763 closed

[2021-08-13 06:46] yhmo commented on #4430
This feature is in progress in v2.0:
https://wiki.lfaidata.foundation/display/MIL/MEP+11+--+Support+String+DataType

[2021-08-13 06:46] yhmo commented on #5603
This feature is in progress in v2.0:
https://wiki.lfaidata.foundation/display/MIL/MEP+11+--+Support+String+DataType

[2021-08-13 06:46] yhmo commented on #4810
This feature is in progress in v2.0:
https://wiki.lfaidata.foundation/display/MIL/MEP+11+--+Support+String+DataType

[2021-08-13 06:47] yhmo commented on #1924
Duplicate with #4430, close this one, tracked by #4430

[2021-08-13 06:47] #1924 closed

[2021-08-13 06:47] yhmo commented on #5603
Duplicate with #4430, close this one, tracked by #4430

[2021-08-13 06:47] #5603 closed

[2021-08-13 06:48] yhmo commented on #4810
Duplicate with #4430, close this one, tracked by #4430

[2021-08-13 06:48] #4810 closed

[2021-08-13 06:48] xige-16 commented on #6417
yes

[2021-08-13 06:48] xige-16 commented on #7081
same with #6417

[2021-08-13 06:48] xige-16 commented on #7081
/assign

[2021-08-13 06:51] yhmo commented on #4816
Duplicated with #4540, close this one

[2021-08-13 06:51] #4816 closed

[2021-08-13 06:53] yhmo commented on #4820
Close this one, tracked by #4669

[2021-08-13 06:53] #4820 closed

[2021-08-13 06:58] xiaofan-luan commented on #7089
Milvus 2.0 does not support cache_size yet since it is too slow for most people. We are working on next generation disk Ann algorithm and might be ready by the end of this year.

So far you can try to use PQ or SQ8 to reduce memory usage or try to expand memory, does that make sense to you?

[2021-08-13 07:00] yhmo commented on #4830
The v1.1.1 is stable now, we only fix critical issues, no more features and big changes.
Milvus v2.0(distribute & cloud-native) has been released. The v2.0 has multiple nodes with different role(proxy-node, data-node, query-node, index-node, root-coordinator, etc).

[2021-08-13 07:00] #4830 closed

[2021-08-13 07:02] yhmo commented on #4872
Inactive and close

[2021-08-13 07:02] #4872 closed

[2021-08-13 07:08] yxz9087 commented on #7089
So the memory is not limited in Milvus 2.0?
I used SQ8 to build index,but it stucked when load partition from disk to memory.

[2021-08-13 07:09] keotic commented on #4401
@yhmo our requirement is a bit different than  #6911, while "calc_distance()" supports vectors ids, it calculates distance between sets.
Our request is for supporting query() and dsl where the query payload is entities ids  (instead of vectors) and the result contains distances and entities ids ( not distances and vectors )

it seem that the "query()" API supports our request, by using the "expr"

[2021-08-13 07:15] yhmo commented on #4882
@yuanpengpeng

你可以在主页 https://milvus.io/ 的右下角找到微信图标，扫描里面的二维码加入用户群询问。

[2021-08-13 07:15] #4882 closed

[2021-08-13 07:18] yhmo commented on #4901
Inactive, close

[2021-08-13 07:18] #4901 closed

[2021-08-13 07:25] DragonDriver opened #7091 "Expose metrics of QueryCoord and QueryNodes"
see [MEP 8](https://wiki.lfaidata.foundation/display/MIL/MEP+8+--+Add+metrics+for+proxy)

/assign

[2021-08-13 07:25] DragonDriver commented on #7091
working on it

[2021-08-13 07:42] del-zhenwu opened #7092 "Add readme in benchmark"
#### What would you like to be added:

#### Why is this needed:

[2021-08-13 07:42] zhuwenxing opened #7093 "Add a search test case and refactor some code"
#### What would you like to be added:
Add a search test case to verify top 1 hit is itself when we search a vector already in collections.
#### Why is this needed:
To cover more situation

[2021-08-13 07:47] ss892714028 opened #7095 "documentation inconsistent with the current release."
## Document Issue

### location
https://milvus.io/docs/v2.0.0/limitations.md#Milvus-limitations

### issue
Limitations on search params
TopK in rc2 should be size < 5mb. Is the listed 16384 for future releases?

[2021-08-13 08:25] BUPTAnderson opened #7098 "Build fail with error assignment mismatch"
#### Steps/Code to reproduce:
build **master** branch

#### Expected result:
build pass

#### Actual results:
<code>
# github.com/milvus-io/milvus/internal/datanode
internal/datanode/data_node.go:327:17: assignment mismatch: 1 variable but etcdkv.NewEtcdKV returns 2 values
internal/datanode/data_node.go:327:35: cannot use etcdClient (type *clientv3.Client) as type []string in argument to etcdkv.Ne

[2021-08-13 08:33] congqixia commented on #7098
Thanks for the reply! This is a known issue(#7080) and fixed in this PR #7083. Please get the latest version or use the more stable rc4 branch.

[2021-08-13 08:53] #7098 closed

[2021-08-13 09:17] LocoRichard commented on #7095
/assign

[2021-08-13 09:58] #7093 closed

[2021-08-13 10:13] yhmo commented on #4907
The Milvus v2.0 already support DSL. Please have a try.
Inactive and close.

[2021-08-13 10:13] #4907 closed

[2021-08-13 10:14] yhmo commented on #4911
Inactive and close.

[2021-08-13 10:14] #4911 closed

[2021-08-13 10:15] yhmo commented on #4925
Inactive and close.

[2021-08-13 10:15] #4925 closed

[2021-08-13 10:15] yhmo commented on #4940
Inactive and close.

[2021-08-13 10:15] #4940 closed

[2021-08-13 10:16] yhmo commented on #4943
Inactive and close

[2021-08-13 10:16] #4943 closed

[2021-08-13 10:28] yhmo commented on #4945
v1.1 is almost stable. We only fix critical bugs for v1.1.
Close it since this issue doesn't block functions.

[2021-08-13 10:28] #4945 closed

[2021-08-13 10:28] yhmo commented on #4944
Abandoned

[2021-08-13 10:28] #4944 closed

[2021-08-13 10:30] yhmo commented on #4948
Close since it has workaround.

[2021-08-13 10:30] #4948 closed

[2021-08-13 10:55] yanliang567 opened #7103 "Need a robot to automatically update kind/bug issues"
We need a robot to automatically update the github kind/bug issues:
1. add comments if no more comments in 15 days
2. close the issue if no more comments in 20 days

details in https://zilliverse.feishu.cn/docs/doccn9CLVtnvTSQKYoU6Qdyarle#

[2021-08-13 19:03] filip-halt commented on #7013
@XuanYang-cn So the culprit is that pulsar is running out of space with the 5gb that it was allocated in the helm chart, increasing this solves the issue, but there is a bigger issue at hand. Pulsar is never snapshotting and offloading the data to minio/s3. The pulsar volume just grows until it is full and crashes. When is the binlog snapshot supposed to take place?

[2021-08-14 01:33] xiaofan-luan commented on #7095
16384 is not a hard limitation, most of the limitations listed are suggestions. You may break the rule or change the parameter in the system but this may cause stability issues.

[2021-08-14 02:28] xiaofan-luan commented on #6785
not active, close for now

[2021-08-14 02:28] #6785 closed

[2021-08-14 02:29] xiaofan-luan commented on #7089
can you share logs for both proxy, query coord and query node? So we can have a investigation on that

[2021-08-14 02:31] xiaofan-luan commented on #7088
/assign @jeffoverflow

[2021-08-14 02:32] xiaofan-luan commented on #7084
We may want to release rc5 as soon as possible to fix this issue. it is critical.
@yanliang567

[2021-08-14 02:36] xiaofan-luan commented on #7079
/assign @yhmo

[2021-08-14 02:37] xiaofan-luan commented on #7077
/assign @del-zhenwu

[2021-08-14 02:38] xiaofan-luan commented on #7077
rc4 is released, can we reproduce this on rc4?

[2021-08-14 02:39] yanliang567 commented on #7084
we can plan that

[2021-08-14 02:40] xiaofan-luan commented on #5093
close this issue since it is not active for more than 3 months, reopen it if you have any other questions @785321021

[2021-08-14 02:40] #5093 closed

[2021-08-14 02:41] xiaofan-luan commented on #5138
close this issue since it is not active more than 3 months. let us know if you have any updates @orange-jams

[2021-08-14 02:41] #5138 closed

[2021-08-14 02:42] xiaofan-luan commented on #5143
close for now since it's no longer active for more than 3 months. @orange-jams

[2021-08-14 02:42] #5143 closed

[2021-08-14 02:43] xiaofan-luan commented on #5149
@shengjun1985  are we still working on this?

[2021-08-14 04:00] sunby commented on #7084
I am working on it but I found a weird case. I run unit tests on my machine many times and it will stuck by chance. I found that pulsar consumer can not get a message from msgstream. I can reproduce it stably but don't know why for now. I will open another issue to report it and assign to me or @xige-16 . Maybe we can fix this issue first.

[2021-08-14 06:10] shengjun1985 commented on #5149
YiXiaoMeng and LvZhao are working on it.

[2021-08-14 14:10] shatealaboxiaowang opened #7108 "When the allocated memory space is smaller than the data size, more memory is not better ."
#### Is your feature request related to a problem? Please describe:

#### Describe the solution you'd like:

#### Describe alternatives you've considered:

#### Additional context:

When the allocated memory space is smaller than the data size, more memory is not better .
exp: data_size=20g, search_speed(cache_size=19g)=search_speed(cache_size=1G)

code:
myMilvus.set_config('cache', 'cache_size',

[2021-08-16 01:08] yanliang567 opened #7110 "Add some tests for 'Extend grammar of boolean expression #5210'"
#### What would you like to be added:
add some tests for  Extend grammar of boolean expression #5210

#### Why is this needed:
currently the expression of search is not covered for #5210

[2021-08-16 01:43] cydrain commented on #6695
Cannot reproduce.
If this issue happens again, need collect root_coord.log to analyze the root cause.

[2021-08-16 01:47] #7073 closed

[2021-08-16 01:47] yhmo commented on #5034
Close this one. Tracked by #5031

[2021-08-16 01:47] #5034 closed

[2021-08-16 02:03] #7052 closed

[2021-08-16 02:11] del-zhenwu commented on #7077
still can be re-produced with rc4

[2021-08-16 02:24] ThreadDao commented on #6098
/assign @ThreadDao

[2021-08-16 02:26] ss892714028 opened #7111 "Inconsistent Milvus 2.0 rc version between milvus.io and Milvus github repo"
Milvus 2.0 rc4 is out according to hello_milvus, (https://milvus.io/docs/v2.0.0/example_code.md)
Quick install with docker-compose points to a ~~master branch's~~ rc2 docker-compose.yml file. (https://milvus.io/docs/v2.0.0/install_standalone-docker.md)
~~However, master branch's docker-compose.yml version is still rc2~~ (https://raw.githubusercontent.com/milvus-io/milvus/fd84cf7c55fb63e66a06605289

[2021-08-16 02:39] yanliang567 commented on #7111
the master branch's docker-compose.yml seems to good to me. so i think we need to update the link in quick install

[2021-08-16 02:49] xiaofan-luan opened #7112 "Import Embedded Etcd Kv"
#### What would you like to be added:
I would like to import a embedded etcd for the following purpose:
1) Unit test and ci test
2) Remove the dependency of etcd for standalone milvus

#### Why is this needed:
1) make ut/ci easy
2) simplify deployment of  standalone
3) ensure the meta kv is a interface so we can have multiple implementations

#### Steps
1) First implement embedded etcd
2) Refactor

[2021-08-16 02:49] xiaofan-luan commented on #7112
/assign @xiaofan-luan

[2021-08-16 03:27] binbinlv commented on #7110
@zhuwenxing  could you please help to add cases covering the extend grammar of expression.

And one suggestion:
please investigate the following questions first, then could add comments here, after discuss and confirmation, then you could start to develop the specific test cases.
(1) what kinds of test cases needed to be added according to #5210
(2) where to add in the test cases file

[2021-08-16 03:37] yhmo commented on #5167
Now we only fix critical bugs for v1.x. Abandon this issue.

[2021-08-16 03:37] #5167 closed

[2021-08-16 03:38] yhmo commented on #5177
Already implemented.

[2021-08-16 03:38] #5177 closed

[2021-08-16 03:41] #7084 closed

[2021-08-16 03:46] yhmo commented on #5203
I think this is caused by in-compatible/legacy config file.
Inactive and close.

[2021-08-16 03:46] #5203 closed

[2021-08-16 03:55] yhmo commented on #5254
Already implemented

[2021-08-16 03:55] #5254 closed

[2021-08-16 03:55] yhmo commented on #5255
Already implemented

[2021-08-16 03:55] #5255 closed

[2021-08-16 03:57] yhmo commented on #5256
Already done.

[2021-08-16 03:57] #5256 closed

[2021-08-16 04:01] yhmo commented on #5290
Inactive and close.

[2021-08-16 04:01] #5290 closed

[2021-08-16 04:02] #5319 closed

[2021-08-16 06:07] yhmo commented on #5316
This issue will keep as a known issue. If other users encounter similar problem, we can give he link for reference.
Currently close it as  no code change required.

[2021-08-16 06:07] #5316 closed

[2021-08-16 06:07] claireyuw commented on #7111
/assign @LocoRichard

[2021-08-16 06:17] LocoRichard commented on #7111
issue fixed, can be closed

[2021-08-16 06:19] yhmo commented on #5357
We have stop update v1.x sdk (except critical bug reported).
Now the v2.0 python sdk documentation is pretty good with rich description and examples: https://milvus.io/api-reference/pymilvus-orm/v2.0.0rc4/api/collection.html
Inactive and close.

[2021-08-16 06:19] #5357 closed

[2021-08-16 06:21] yanliang567 commented on #7111
@ss892714028  we have fixed the issue, please help to check and close it.

[2021-08-16 06:29] DragonDriver opened #7114 "Expose system topology information by proxy"
see: [mep8-add-metrics-for-proxy](https://wiki.lfaidata.foundation/display/MIL/MEP+8+--+Add+metrics+for+proxy)

/assign

[2021-08-16 06:37] yhmo commented on #5543
Depend on faiss version. Currently we only fix critical bugs for v1.x, no more features, including third-party library upgrading. Inactive and close.

[2021-08-16 06:37] #5543 closed

[2021-08-16 06:40] yhmo commented on #5529
It is caused by in-compatible version of milvus server. Inactive and close.

[2021-08-16 06:40] #5529 closed

[2021-08-16 06:45] yhmo commented on #5553
Milvus segment merge machinery cannot ensure each segment size is exactly equal to index_file_size.
Inactive and close.

[2021-08-16 06:45] #5553 closed

[2021-08-16 06:47] ThreadDao commented on #6246
This issue has not been fixed.
1. deploy a cluster Milvus
[code]
2. run `/milvus/test20/python_client/testcases/test_e2e.py` and pass
3. delete the plusar pod
`kcbectl delete pod milvus-zong-pulsar-779449cc9c-9nql6`
4. after plusar pod restart and turn running, re-run test_e2e.py
[code]

Additional context:
1. You can view the pod logs on kibaba according to the pod name
[code]
2. You can also dow

[2021-08-16 06:49] ThreadDao commented on #6246
/assign @sunby

[2021-08-16 06:49] yanliang567 commented on #6695
not reproduced in ci recently. close for now.

[2021-08-16 06:49] #6695 closed

[2021-08-16 06:49] yhmo commented on #5680
Currently we only fix critical bugs for v1.x. This issue doesn't affect main functions, so we keep it as known issue but no action required.

[2021-08-16 06:49] #5680 closed

[2021-08-16 06:50] ss892714028 commented on #7111
It is fixed in the chinese page, however the yml file on the English page is still rc2. https://milvus.io/docs/install_standalone-docker.md
https://raw.githubusercontent.com/milvus-io/milvus/fd84cf7c55fb63e66a066052897b1bd6d6e73830/deployments/docker/standalone/docker-compose.yml

[2021-08-16 06:51] ThreadDao commented on #6058
/assign @ThreadDao

[2021-08-16 06:52] ThreadDao commented on #5985
/assign @ThreadDao

[2021-08-16 06:55] yanliang567 commented on #7111
@LocoRichard could you please try to fix the enu page as well?

[2021-08-16 06:58] yhmo commented on #5763
Not able to reproduce. No need to put more effort.

[2021-08-16 06:58] #5763 closed

[2021-08-16 07:00] yhmo commented on #5766
Inactive and close

[2021-08-16 07:00] #5766 closed

[2021-08-16 07:04] yanliang567 commented on #6455
CI stability issues are tracked indepently. close

[2021-08-16 07:04] #6455 closed

[2021-08-16 07:08] jingkl opened #7116 "Milvus won't start up with docker compose"
Attempts to start Milvus 2.0.0rc4 on both machines were unsuccessful
![微信图片_20210816150741](https://user-images.githubusercontent.com/34296482/129524636-70be2993-2fed-4cac-839e-ffd20f8d58d4.png)
![微信图片_20210816150820](https://user-images.githubusercontent.com/34296482/129524692-dcc46c0c-4589-4239-890c-80c74a7b17ec.png)

[milvusrc4.log](https://github.com/milvus-io/milvus/files/6990339/milvusrc4.lo

[2021-08-16 07:11] LocoRichard commented on #7111
@yanliang567 all fixed, can be closed.

[2021-08-16 07:11] yhmo commented on #5923
Mishards access MySQL to collection segments information, but Milvus server can change metadata at the same time. For example, mishards performs a SQL statement to collection segments information of a collection, but at the same time the milvus server drop the collection, delete the collection from metadata, then the Mishards could encounter this error.

This bug could not be fixed due to the limi

[2021-08-16 07:11] #5923 closed

[2021-08-16 07:16] yhmo commented on #6002
Solution:
1. define a filed name "partition_tag"
2. specify "partition_tag" as an output field when search

Inactive and close.

[2021-08-16 07:16] #6002 closed

[2021-08-16 07:19] ss892714028 commented on #7111
Thank you, all fixed. closing this issue :)

[2021-08-16 07:19] #7111 closed

[2021-08-16 07:22] yanliang567 commented on #6688
close for not reproduced recently

[2021-08-16 07:22] #6688 closed

[2021-08-16 07:26] yanliang567 commented on #6164
the time cost issue for milvus shall be tracked in kind/bug individually, this issue focuses on time cost issue in test framework, test suite and test cases

[2021-08-16 07:29] xiaocai2333 commented on #6906
I temporarily close it, if you still encounter this problem, please reopen it.

[2021-08-16 07:29] #6906 closed

[2021-08-16 07:44] jingkl commented on #7116
solved

[2021-08-16 07:44] #7116 closed

[2021-08-16 07:52] yhmo commented on #6141
In Mishards, write node also can take part in search.
Whether to use write node for search is defined in this config file: /milvus/shards/all_in_one_with_mysql/all_in_one.yml

[code]
The DISCOVERY_STATIC_HOSTS specify which node can take part in search. By default, write node is included.

So, when write node is down, mishards will wait search result from write node, the client will get time out e

[2021-08-16 07:52] #6141 closed

[2021-08-16 07:58] yhmo commented on #6162
Link to #6601 and #5519

[2021-08-16 08:04] yhmo commented on #6166
The Milvus v2.0 RC4 has been released. Please try again according to the [documentation](https://milvus.io/docs/v2.0.0/install_standalone-docker.md) step by step.

Inactive and close.

[2021-08-16 08:04] #6166 closed

[2021-08-16 08:11] #6226 closed

[2021-08-16 08:17] yhmo commented on #6332
Inactive and close.

[2021-08-16 08:17] #6332 closed

[2021-08-16 08:18] yhmo commented on #6336
Inactive and close.

[2021-08-16 08:18] #6336 closed

[2021-08-16 08:25] yhmo commented on #6360
Inactive and close. If still has problem please re-open it.

[2021-08-16 08:25] #6360 closed

[2021-08-16 08:48] Bennu-Li opened #7117 "Insert error: Deadline Exceeded and there're 100,000 more vectors in the system"
#### Steps/Code to reproduce:
I repeatedly inserted 100,000 128-dimensional vectors. During the insertion process, the following problems sometimes occur:
![image](https://user-images.githubusercontent.com/53458891/129536219-a6a434a1-2a1c-4b5e-8a28-83bbf37124e3.png)

After this problem occurs, there will be 100,000 more vectors in the collection. For example, I inserted ten times, each time I inse

[2021-08-16 08:52] hadim commented on #5543
What about Milvus 2.x?

[2021-08-16 09:02] yanliang567 commented on #7117
seems like insert timeout. @czs007 please take a look.

[2021-08-16 09:03] LocoRichard commented on #7095
Introduced clarification on the limitation page.  the issue can be closed.
@ss892714028

[2021-08-16 09:05] congqixia opened #7118 "Pulsar msgstream will stuck at chance when subscribe with same topic & sub name"
Pulsar seek by time & seek with earliest msg id does not work as expected, which may cause `Chan()` function stuck when `Seek` is not invoked for a `Consumer`

[2021-08-16 09:06] #6774 closed

[2021-08-16 09:07] DragonDriver commented on #7006
We have already updated the deploy policy of milvus helm, it may avoid this issue. Can you retry this using the newer milvus helm version?
/assign @binbinlv

[2021-08-16 09:08] yhmo commented on #6364
When create collection, there is a hidden parameter "shards_num" to define how many data channels will be created to split data to insert. The default value is 2. It is the reason why only two nodes are being used when inserting.

Link to #6690

[2021-08-16 09:12] yhmo commented on #6375
Performance is not good in v2.0. There is already an issue #5720. Close this one.

[2021-08-16 09:12] #6375 closed

[2021-08-16 09:26] binbinlv commented on #7006
@DragonDriver

I have retried this last week, and it is indeed not exist now. But it seems that the root cause has not been found? It is just be bypassed. So I did not close it.

[2021-08-16 09:29] yhmo commented on #6384
Milvus v2.0 RC4 has been released on Aug 13.
I suppose this issue has been resolved. If still has problem, please re-open it.

[2021-08-16 09:29] #6384 closed

[2021-08-16 09:32] arthuo opened #7120 "Milvus is unusually slow when inserting and searching operations"
#### Steps/Code to reproduce:
[code]

#### Expected result:
My search operation in Milvus will take longer than normal. This is obviously an abnormal operation. Through the investigation, it takes about 1000ms for me to connect to the local Milvus server. It takes about 700ms to execute the load operation of the collection, and finally 1200ms to execute the release operation and disconnect operati

[2021-08-16 09:46] yanliang567 opened #7121 "Add codecov-delta info in codecov report and enable codecov-delta check in pr"
#### What would you like to be added:
1. add [codecov-delta](https://docs.codecov.com/docs/codecov-delta) info in codecov report
2. enable codecov-delta check, if "The coverage of this commit's diff is <70%.", reject the pr

#### Why is this needed:
need to increase the code coverage for source code

[2021-08-16 09:58] yhmo commented on #6397
Close this one, tracked by #6547

[2021-08-16 09:58] #6397 closed

[2021-08-16 10:02] yhmo commented on #6408
The query() api can return raw vectors in latest version rc4.

[2021-08-16 10:02] #6408 closed

[2021-08-16 10:14] yhmo commented on #6547
@yan-rui
能否把测试环境的cpu核数也限制为3？内存最好也限制一下，6GB。尽可能用那个milvus-poc:1.1.1-cpu-ubuntu18-debug镜像跑出一次崩溃。

或者把生产环境的cpu核数给多点，看能否避免问题。

[2021-08-16 10:20] shiyu22 opened #7122 "The MinIO data remains after the collection has been dropped"
#### Steps/Code to reproduce:
1. create a collection and insert 3000 vectors
2. drop collection
3. open MinIO in browser with `127.0.0.1:9000`

#### Expected result:
The MinIO has no data.

#### Actual results:
The MinIO browser shows a few segments.
<img width="1422" alt="截屏2021-08-16 18 09 58" src="https://user-images.githubusercontent.com/53459423/129547803-96eb7c97-00d2-4c6d-86ec-6f71b76caa53.

[2021-08-16 10:46] #6601 closed

[2021-08-16 10:54] #6731 closed

[2021-08-16 11:19] yanliang567 commented on #6878
verify on pymilvus-orm                       2.0.0rc3.dev15
result: pymilvus.client.exceptions.BaseException: <BaseException: (code=1, message=rpc timeout)>

[2021-08-16 11:19] #6878 closed

[2021-08-16 11:44] ThreadDao commented on #6058
Now it seems that the milvus operation is not stuck during proxy deleted. I re-test on milvus commit of `fb22d12`

[2021-08-16 12:17] congqixia commented on #7118
The reason `Seek` with `pulsar.EarliestMessageID()` doesn't work is that `EarliestMessageID` returns pursal internal messageID struct with partitionIdx = -1(See [code](https://github.com/apache/pulsar-client-go/blob/a03349ac0466a6c7cf595914f6d01d4425eb4aeb/pulsar/impl_message.go#L47-L52)) (the code link is from version v0.6.0 logic is same as v0.5.0)
While pulsar consumer `Seek` function checks pa

[2021-08-17 00:37] filip-halt opened #7125 "index_coord fails to find index nodes"
Indexcoord fails to find any indexnodes after indexnodes scaled from 2 -> 0 -> 6

#### Steps/Code to reproduce:
Running Kubernetes, shut of all the indexnode pods using `--set indexNode.replicas=0`, then run them again using `--set indexNode.replicas=6`

#### Expected result:
Indexing to continue indexing with at least one pod.

#### Actual results:
All indexing stops, indexcoord loops attempts to

[2021-08-17 01:38] xiaofan-luan commented on #7125
can you offer logs to better illustrates the problem?

[2021-08-17 01:38] xiaofan-luan commented on #7125
/assign @xiaocai2333

[2021-08-17 01:39] xiaofan-luan commented on #7122
this is a known issue by design. We may want to fix this before we support snapshot by simply cleanup the data.

[2021-08-17 01:40] xiaofan-luan commented on #7122
/assign @sunby

[2021-08-17 01:43] xiaofan-luan commented on #7120
We suggest not to load each time before you do search.
Load should be a one time task once you finished insertion.

[2021-08-17 01:44] xiaofan-luan commented on #7117
/assign @XuanYang-cn

[2021-08-17 01:47] xiaofan-luan commented on #7108
any data to share? by saying not better what is the performance number?

[2021-08-17 01:48] xiaofan-luan commented on #7103
agree, we have many left behind issues. We should probably pull the unhandled issues and timeout issues to our slack channel and let the triage council working on it.

[2021-08-17 01:52] xiaocai2333 commented on #7125
Looks the same as #7069. I'm working on it.

[2021-08-17 01:54] ss892714028 commented on #7095
Looks good, closing this issue.
Thanks.

[2021-08-17 01:54] #7095 closed

[2021-08-17 02:04] arthuo commented on #7120
After I load the collection into the memory, do I need to perform a flush operation after inserting the data?

After I load the collection into the memory, do I need to perform a flush operation after inserting the data?

[2021-08-17 02:04] arthuo commented on #7120
After I load the collection into the memory, do I need to perform a flush operation after inserting the data?

[2021-08-17 02:06] #7091 closed

[2021-08-17 02:27] del-zhenwu commented on #7077
rc5 with. pymilvus-rc5-dev12

[2021-08-17 02:54] yhmo commented on #6582
Inactive and close

[2021-08-17 02:54] #6582 closed

[2021-08-17 02:56] yhmo commented on #6612
Inactive and close

[2021-08-17 02:56] #6612 closed

[2021-08-17 02:59] yhmo commented on #6631
The pymilvus sdk need to expose the "shards_num" parameter.
Now this parameter is already defined in gRPC proto:
[code]

[2021-08-17 03:03] yhmo commented on #6645
Close this by #6691

[2021-08-17 03:03] #6645 closed

[2021-08-17 03:09] yhmo commented on #6662
In latest version RC4, only the query() api can return vector fields. The search() will throw this error when exporting vector field.

[2021-08-17 03:15] yhmo commented on #6745
Link to #6675

[2021-08-17 03:21] yhmo commented on #6900
The RC4 has been released, please try the new version.

[2021-08-17 03:22] yhmo commented on #6911
The RC4 has been released, please try the new api in RC4.

[2021-08-17 03:24] yhmo commented on #6919
Please attach the design doc link here when it is done.

[2021-08-17 03:25] yhmo commented on #6915
@DragonDriver Please attach the design doc link here when it is done.

[2021-08-17 03:30] yhmo commented on #6967
Already resolved. Close it.

[2021-08-17 03:30] #6967 closed

[2021-08-17 03:31] yhmo commented on #6979
The RC4 has been released on Aug 13. Please use the new version to try again.

[2021-08-17 03:32] yhmo commented on #6846
CI can work now. Close this.

[2021-08-17 03:32] #6846 closed

[2021-08-17 03:50] yhmo commented on #7108
This is a known issue of 1.x. We have an issue #2123 for this requirement.
Duplicated and close this one.

[2021-08-17 03:50] #7108 closed

[2021-08-17 03:51] yhmo commented on #5073
Inactive and close.

[2021-08-17 03:51] #5073 closed

[2021-08-17 03:56] yhmo commented on #4618
We recommend users use Milvus v2.0 to replace Mishards. Now the v2.0 rc4 has been released.
Inactivate and close.

[2021-08-17 03:56] #4618 closed

[2021-08-17 03:58] yhmo commented on #4009
We recommend users use Milvus v2.0 to replace Mishards. Now the v2.0 rc4 has been released.
Inactive and close.

[2021-08-17 03:58] #4009 closed

[2021-08-17 04:00] yhmo commented on #2200
We recommend users use Milvus v2.0 to replace Mishards. Now the v2.0 rc4 has been released.

[2021-08-17 04:00] #2200 closed

[2021-08-17 04:00] yhmo commented on #107
Abandoned.

[2021-08-17 04:00] #107 closed

[2021-08-17 04:04] yhmo commented on #6353
We have #4430 for supporting string type. Duplicate and close this one.
We just finished design for string type, please stay tune.

[2021-08-17 04:04] #6353 closed

[2021-08-17 06:25] yhmo commented on #7014
Duplicate vectors with different ids in original data. Caused by dataset, not a bug. Close it.

[2021-08-17 06:25] #7014 closed

[2021-08-17 06:41] yhmo commented on #6876
It may be defect of rc1, please try the latest version rc4.

[2021-08-17 06:43] yhmo commented on #6749
Please use the latest rc4 to try again.

[2021-08-17 06:46] #6749 closed

[2021-08-17 06:49] yhmo commented on #6686
The RC4 has been released on Aug 13, please try the new version. (RC3 is skipped)

[2021-08-17 06:54] ChenCongZhu2017 commented on #6979
OK,Thank you

[2021-08-17 06:57] czs007 commented on #5586
At that time, the problem is that IndexService did not start successfully, but the reason was not found. The log here should be "number of index service is not correct".
I think it can be closed.

[2021-08-17 06:58] #5586 closed

[2021-08-17 07:11] #5793 closed

[2021-08-17 07:24] cydrain opened #7126 "Improve code atomicity and idempotency in rootcoord meta_table.go"
#### What would you like to be added:
Improve code atomicity and idempotency in rootcoord meta_table.go

#### Why is this needed:
[code]
For above code, if KV operation fail, the state of memory and etcd will be in-consistent.
Suggest to panic directly when KV operation fail.

[2021-08-17 07:29] xinjiguaike commented on #6686
bravo!

[2021-08-17 07:35] yhmo commented on #6162
For distribute mode, milvus use Pulsar to transfer operations log, use ETCD to store metadata, use Minio to store data.
For standalone mode, milvus use Rocksmq to transfer operations log, use ETCD to store metadata, use Minio to store data.

Pulsar can natively support retention. The metadata and data must be consist, so it is no need to enable retention for ETCD and Minio.
The #6601 is to make Ro

[2021-08-17 07:39] yhmo commented on #6060
According to the current [plan](https://wiki.lfaidata.foundation/display/MIL/Milvus+2.0+Roadmap+and+Time+schedule), the feature "Supports upsert/primary key deduplication" is to be implemented in v2.2.

[2021-08-17 07:47] xTerry opened #7127 "Milvus v1.1.1 Insert slow"
Milvus v1.1.1 Insert slow
1. Info log only Insert begin

![image](https://user-images.githubusercontent.com/2304854/129685332-b3beb5d4-bbef-4d52-8f9f-93d6e21917d0.png)

2. Debug log has merge log
![image](https://user-images.githubusercontent.com/2304854/129685386-e554d439-7396-4a62-a729-1b9d17306ce1.png)
![image](https://user-images.githubusercontent.com/2304854/129685437-a06fe978-9402-442a-a7c4-

[2021-08-17 07:48] xTerry commented on #7127
补充：每个collection 有半年的数据，按天分区，总分区统计大概在4000+，总数据量1亿+

[2021-08-17 07:50] yhmo commented on #1714
Close this one, tracked by #4812

[2021-08-17 07:50] #1714 closed

[2021-08-17 07:54] yhmo commented on #254
Close this one. Tracked by #6647

[2021-08-17 07:54] #254 closed

[2021-08-17 07:57] xTerry commented on #7127
info log:
[2021-08-17 15:07:17,355][INFO][SERVER][Check][milvus_server] InstanceLockCheck passed.
[2021-08-17 15:07:17,355][INFO][SERVER][Check][milvus_server] InstanceLockCheck passed.
[2021-08-17 15:07:17,355][INFO][SERVER][Start][milvus_server] Milvus Release version: v1.1.1, built at 2021-06-15 14:51.05
[2021-08-17 15:07:17,355][INFO][SERVER][Start][milvus_server] CPU edition
[2021-08-17 15:07

[2021-08-17 07:57] xTerry commented on #7127
debug log：
2021-08-17 15:55:57,023][DEBUG][ENGINE][CreateCollectionFile][milvus_server] Successfully create collection file, file id = 1629186957019304000
[2021-08-17 15:55:57,024][DEBUG][ENGINE][Merge][milvus_server] Merging from /var/lib/milvus/db/tables/1626884806171023000/1629136894794791000 to /var/lib/milvus/db/tables/1626884806171023000/1629186957019304000
[2021-08-17 15:55:57,029][DEBUG][S

[2021-08-17 08:05] yanliang567 commented on #6873
discussed with @czs007 , this is caused by python gc, which would not be gc-ed if it is still be referenced.
close

[2021-08-17 08:05] #6873 closed

[2021-08-17 08:12] ss892714028 opened #7128 "IVF_FLAT cannot be loaded."
#### Steps/Code to reproduce:
1. create collection
2. insert 100k vectors, 10 times. A total of 1 million vectors
3. create ivf_flat index
4. load
5. search nq=1 nprobe=1

#### Actual results:
search gets stuck
check utility.loading_progress, returns {'num_loaded_entities': 0, 'num_total_entities': 1000000}
However, in log file it shows: [2021/08/17 07:34:01.061 +00:00] [DEBUG] [task.go:307] ["Loa

[2021-08-17 08:14] xiaofan-luan opened #7129 "Param Table should be a util across all nodes."
#### What would you like to be added:
Param should be code shared by all components.  Currently there are many implementations and the code is redundant. (Also it's really hard to add one global level configuration across the node)
#### Why is this needed:
1) Simplify and remove redundant code.
2) Make it easy to support dynamic configuration

[2021-08-17 08:16] czs007 commented on #6330
Since the current implementation does not expose the name of the index, it is currently the correct behavior. One thing to do later is to expose index_name.
@xiaocai2333 is writing an MEP to illustrate how to support exposing index names.

[2021-08-17 08:26] scsven opened #7130 "Support to delete entity by primary key"
#### What would you like to be added:

I would like to support the delete operation in Milvus. It will allow users to delete specified entities by primary keys.

#### Why is this needed:

Some application scenarios rely on the delete function.

#### MEP

https://wiki.lfaidata.foundation/display/MIL/MEP+9+--+Support+delete+entities+by+primary+keys

#### (No.)Subtasks(Difficulty)

- [x] 1. Add delet

[2021-08-17 08:35] yhmo commented on #7127
半年是大约180天，是不是有20+的collection？
从log上看，数据分割得比较零碎。

[2021-08-17 08:47] godchen0212 opened #7133 "Allow no local file cache"
#### What would you like to be added:
Users can choose whether to use local storage as a local cache for vector files
#### Why is this needed:
If the user does not have local disk storage or does not want to store the vector on the local disk, he can adjust it through this setting. Although this operation will slow down the retrieve vector.

[2021-08-17 09:07] del-zhenwu commented on #7128
seems to be duplicated with #7077

[2021-08-17 09:09] ThreadDao opened #7135 "The number of milvus operation failure is always zero in chaos test"
#### Steps/Code to reproduce:
1. When counting the `succ_rate` in chaos test, it is found that the `fail` num is always 0.
[code]
2. Because we count the `fail` according to the `result` actually returned by `ResponseChecker`. However, when we expect that the successful request fails, it returns an exception before calling `ResponseChecker` and getting the `result`. You can simply understand it ba

[2021-08-17 09:09] ThreadDao commented on #7135
/assign @ThreadDao

[2021-08-17 09:19] DragonDriver opened #7139 "Expose metrics of IndexCoord and IndexNodes"
see: [mep8-add-metrics-for-proxy](https://wiki.lfaidata.foundation/display/MIL/MEP+8+--+Add+metrics+for+proxy)

/assign

[2021-08-17 09:42] czs007 commented on #7084
please link your another issue to this issue

[2021-08-17 09:42] xTerry commented on #7127
是的，目前有60+的collection，每个collection是半年的数据，180+
这个问题您有好的解决方案吗？

[2021-08-17 09:43] cydrain commented on #6988
SendTimeTick will be called in 3 scenarioes:
1. ddl operation from root_coord
  - CreateCollection
  - DropCollection
  - CreatePartition
  - DropPartition
2. startTimeTickLoop from root_coord
3. from proxy

Add `ddlLock` in `core` to guarantee 1) and 2) are mutual exclusive;
Add ddlMinTs/ddmTsSet in timeticksync to record ddl timetick information, proxy ts (for dml operation) will be ignored if d

[2021-08-17 10:52] zhuwenxing opened #7142 "The number of hits is not as expect when test search with expression "500<= int64 < 1000""
#### Steps/Code to reproduce:
The Vectors inserted are as follow:
[code]
use expr `500 <= int64 < 1000` to search

#### Expected result:
Get 500 results, because range [500,999] have 500 items
#### Actual results:
Get 499 They are [501,999]
[code]
#### Environment:
- Milvus version: 1b4231b
- Deployment mode:standalone
- SDK version:2.0.0rc3.dev6
- OS: MacOs
- CPU/Memory:
- GPU:
- Others:

#### Co

[2021-08-17 13:16] #7088 closed

[2021-08-17 15:06] #7126 closed

[2021-08-17 16:24] filip-halt commented on #6631
@yhmo Found that, once i exposed it I got it to work but unfortunately ran into the issue of having the count of vectors not line up with how many were inserted. This may be a bug from inserting from multiple machines or it might be a sharding bug, not too sure.

[2021-08-17 17:17] filip-halt commented on #7125
[code]

Seems like it is very similar to #7069, the first time I ran into the problem I only scaled the cluster twice. This time I had to scale it around 5 times before it broke.

[2021-08-17 21:23] hadim commented on #6379
My understanding is that the official behaviour should be "new vector with an existing primary key overwrite the previous one" while the current existing behaviour is "new vector with an existing primary key is added while keeping the previous one(s)".

Can you please confirm which one of those statements is actually true in Milvus 2.*? That is quite important to be aware of when dealing with very

[2021-08-17 21:27] hadim commented on #7130
According to https://wiki.lfaidata.foundation/display/MIL/Milvus+2.0+Roadmap+and+Time+schedule, it should be available in 2.0.

[2021-08-17 23:15] filip-halt commented on #7128
I have a similar issue with both IVF_FLAT and SQ8. Are you able to release the collection because that also freezes and results in a socket closed error.

[2021-08-17 23:36] filip-halt opened #7146 "Failure to load collection"
Im unable to load in a collection of 100m 128-dim vectors after indexing, I am met with closed sockets and no progress.
When I try to load a 1m collection, it goes through without any errors, but upon searching, Milvus states that the collection is not loaded in memory.

When looking at the rootcord log, it seems like it is constantly searching and failing to find nodes that were downscaled:
[code

[2021-08-18 01:03] yanliang567 commented on #6379
@xiaofan-luan could you please answer the question from @hadim  above

[2021-08-18 01:26] yanliang567 commented on #7142
this is a new feature in rc4, and blocks ci/nightly.

[2021-08-18 01:31] xige-16 commented on #7146
Can you provide a complete log of all components？ @filip-halt

[2021-08-18 01:31] #7081 closed

[2021-08-18 01:41] xiaofan-luan commented on #7146
10.0.2.238:19530: connect: no route to host ,this looks like a network issue.

make sure your client is able to be routed to your cluster

[2021-08-18 01:41] xiaofan-luan commented on #7146
/assign @filip-halt

[2021-08-18 01:43] arthuo commented on #7120
The problem has been resolved. Refer to Milvus Office Hours: https://docs.qq.com/doc/DTWZ1VFhia3ZDSlJJ

[2021-08-18 01:44] #7120 closed

[2021-08-18 01:45] xige-16 commented on #7077
["QueryNode Client grpc error"] [error="rpc error: code = Unknown desc = AppendIndex failed, C runtime error detected, error code = 1, error msg = map::at"]

[2021-08-18 01:46] xige-16 commented on #7077
The reason for unsuccessful load is the same as #6797

[2021-08-18 01:56] xige-16 commented on #7128
[segment_loader.go:88] ["AppendIndex failed, C runtime error detected, error code = 1, error msg = map::at"]
 yes, I find the log info in flat.log.

[2021-08-18 01:58] xige-16 commented on #7128
It seems that this problem will occur after the flat index is created. I will try to reproduce it locally today.

[2021-08-18 02:00] xiaofan-luan commented on #6379
@DragonDriver @hadim @yanliang567 @ThreadDao

The plan is to deduplicate while read, thus new vector with similar id will be merged to the latest. There exists two key issues while implement the result merge:

1) As dragondriver mentioned, the merge operation should be a two stage operation. 1) first stage happens on querynode, second stage happend on proxy. We need to return timestamp field to p

[2021-08-18 02:12] #7114 closed

[2021-08-18 02:17] yhmo commented on #7130
Currently we are in rc4 phase. The official 2.0 is going to be released in Sept. Now we are focusing on two big features:
1. support string type
2. support delete entity

[2021-08-18 02:26] xige-16 commented on #6417
The issue has fix by pr #7104, trouble you check it. @del-zhenwu

[2021-08-18 02:26] xige-16 commented on #6417
/unassign
/unassign @bigsheeper
/assign @del-zhenwu

[2021-08-18 02:38] xiaofan-luan commented on #6072
duplicate issue with #6570, we already support query binary vector by id

[2021-08-18 02:38] #6072 closed

[2021-08-18 02:40] xiaofan-luan commented on #6106
/assign @xiaocai2333

[2021-08-18 02:47] xiaofan-luan commented on #6363
don't seek this is a issue? user should change milvus.yaml themselves to specify the data directory?
You definitely can't start two cluster on the same folder

[2021-08-18 02:49] del-zhenwu commented on #6363
Ok, anther issue will be created to expose configurations in helm if using k8s, this issue will be closed.

[2021-08-18 02:49] #6363 closed

[2021-08-18 02:50] del-zhenwu commented on #6363
https://github.com/milvus-io/milvus/issues/6518

[2021-08-18 03:02] xiaocai2333 commented on #6106
The log seems to be out of date, can you reproduce it again? @del-zhenwu

[2021-08-18 03:22] Bennu-Li opened #7149 "How to modify parameter segment.maxSize after installing Milvus with helm?"
#### Is your feature request related to a problem? Please describe:

I learned that currently the parameter segment.maxSize can only be modified by compiling Milvus with the source code, Is there any way to modify it when installing with helm or through the SDK?

The official documentation only explains in which files these parameters can be modified, but not how to modify it when starting Milvus

[2021-08-18 03:24] Bennu-Li commented on #7149
After starting the Milvus cluster, I got the following eleven pods.
<img width="877" alt="截屏2021-08-18 上午11 23 32" src="https://user-images.githubusercontent.com/53458891/129831924-fed594a2-138e-49ee-a639-466e0be8ad53.png">

And after entering pod my-release-milvus-datacoord-7bb8dff5d4-mxrt7, I changed the parameters in /milvus/configs/advanced/data_coord.yaml segment.maxSize to 1024.
Will this ch

[2021-08-18 03:25] ThreadDao commented on #7069
Maybe fixed some of the problems, but the index creation is still stuck after indexNode restarts.
[code]
From the proxy log, proxy pod received the CreateIndex request
[code]
The same indexCoord pod also received index request.
[code]
But there is no sign in the indexNode log.
[milvus_logs.tar.gz](https://github.com/milvus-io/milvus/files/7004267/milvus_logs.tar.gz)

[2021-08-18 03:28] xige-16 commented on #5270
If there is an index file when loading, milvus 2.0 does not load the original vector when loading.

[2021-08-18 03:33] del-zhenwu commented on #6941
[code]
https://argo-test.zilliz.cc/workflows/qa/benchmark-cluster-cron-1629230400?tab=workflow&nodeId=benchmark-cluster-cron-1629230400-1357892617&sidePanel=logs:benchmark-cluster-cron-1629230400-1357892617:main

using pymilvus-rc5-dev12
[code]

[2021-08-18 03:39] yanliang567 commented on #5270
close per comments above

[2021-08-18 03:39] #5270 closed

[2021-08-18 03:51] DragonDriver commented on #7149
Sorry, but we don't support to reload runtime config now. This feature may be our goal in next release version. In order to fix your issue now, you can modify the config file before running the datacoord, in this case, maybe you should bind a new config to the datacoord pod.

[2021-08-18 03:54] DragonDriver commented on #7149
I don't know if milvus helm support to modify this parameter. Maybe @zwd1208 @jeffoverflow can answer your question.
/assign @zwd1208
/assign @jeffoverflow

[2021-08-18 04:01] ThreadDao commented on #6809
@yanliang567 No existed etcd pod. Just first helm install. The server not healthy did all happen when image.all.pullPolicy=Always. I also encountered this problem in commit `e45cb6c`

[2021-08-18 04:01] jaelgu opened #7150 "Fail to start new docker container with existing volumes if index was created: proxy is not healthy"
#### Steps/Code to reproduce:
1. Download yml file from https://github.com/milvus-io/milvus/blob/master/deployments/docker/cluster/docker-compose.yml
2. Create a milvus cluster docker container `docker-compose up -d`
3. Create a collection with some data
4. Create index & call flush()
5. Delete the container: `docker-compose down` (but keep volumes)
6. Re-create a container with previous volumes:

[2021-08-18 04:02] jaelgu commented on #7150
If index was not created, then same steps do not have the same issue

[2021-08-18 05:47] congqixia commented on #6999
The reason data node cannot drop collection successfully is stated as follow:

The expected case for data node handling `DropCollection` is like this diagram:
![6999_1](https://user-images.githubusercontent.com/84113973/129825666-a0f6825d-e5ea-48a1-abb0-879521a8641d.png)
In which, each ddl message will be available after a `TimeTick` indicating the channel is allowed to proceed before or equal to

[2021-08-18 06:05] yhmo commented on #7127
从 2021-08-17 15:09:23,932 开始的 Request [2577] 一直到 2021-08-17 15:09:24,371 的 Request [2602]，这些insert request基本都在耗时200ms左右完成（属于正常耗时），但在 2021-08-17 15:09:24,427 来了一个CreateIndex request，所以之后的insert队列就堵住了。
你的客户端是不是有多个，其中一个调用了 create_index()，其他的执行insert或者search。如果是这样的话，那是因为这时milvus server正在“前台”执行创建索引任务，会阻塞insert队列。你如果把调用create_index()的那个客户端中断，比如ctrl+C终止，那么milvus serve这边会感应连接中断，从而把建索引任务从“前台”转成“后台”，这样就不会阻塞

[2021-08-18 06:24] DragonDriver commented on #7150
How you create the volumes? According to the [Set up a standalone Pulsar in Docker](http://pulsar.apache.org/docs/en/standalone-docker/), `/pulsar/data` and `/pulsar/conf` should be persisted.

[2021-08-18 06:29] jaelgu commented on #7150
I just followed steps mentioned above. I used the same docker-compose.yml downloaded from https://github.com/milvus-io/milvus/blob/master/deployments/docker/cluster/docker-compose.yml without change anything.

[2021-08-18 06:36] #6988 closed

[2021-08-18 06:48] #7121 closed

[2021-08-18 06:54] DragonDriver commented on #7150
thx for pointing out this @jaelgu , i will try to fix this soon.
/assign

[2021-08-18 07:09] yanliang567 commented on #7135
Trying to add a check_nothing task in test framework, which would directly return the result of api request without verifying anything.

[2021-08-18 07:29] binbinlv opened #7153 "Replace sdk source from orm to pymilvus and simply merge tests and tests20"
#### Steps/Code to reproduce:
1 Replace sdk source from orm to pymilvus
2 Merge tests and tests20 （phase 1)
   (1) simply merge tests into tests20 (keep the name as tests)
   (2) fix code conflicts
3 Remove the CI and NIghtly CI pipline for tests20

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):

[2021-08-18 07:53] DragonDriver opened #7154 "Good first issue in PyMilvus repository"
### Good first issue
- Suitable for people **who have little knowledge of Milvus or PyMilvus, and Python enthusiastic.**
- **Usually takes no more than 30 mins to fix.**

#### If you want to look into a certain issue, please follow the issue link and comment `/assign @YOUR_GITHUB_NAME`.

- If the issue has no assignees, you are safe to assign yourself.
- After you comment `/assign @YOURSELF`, the

[2021-08-18 08:03] binbinlv commented on #7153
Related issue:
https://github.com/milvus-io/pymilvus/issues/634, closed
https://github.com/milvus-io/pymilvus/issues/636, closed.

compatibility issue:
https://github.com/milvus-io/pymilvus/issues/640 [Ongoing]

[2021-08-18 08:06] #7135 closed

[2021-08-18 08:13] yhmo commented on #7064
@binbinlv The pr #7140 has been merged, please verify it on the next build

[2021-08-18 08:13] ThreadDao commented on #6058
[code]
After proxy restarts, sometimes flush requests get stuck. And I don't sure about the re-produce conditions. So close it first.

[2021-08-18 08:13] #6058 closed

[2021-08-18 08:15] binbinlv commented on #7064
@yhmo  OK.

[2021-08-18 08:27] binbinlv commented on #7064
Verified and fixed.

milvus: (master: 09525f5)
results
[code]

[2021-08-18 08:27] #7064 closed

[2021-08-18 08:39] abodyy4272 commented on #7006
https://github.com/milvus-io/milvus/commit/dd0d2659bb92cace3477ea77e7834f93425dcd22

[2021-08-18 09:03] yanliang567 opened #7156 "Need to fix xfailed tests for isse #5673 and #5674"
#### What would you like to be added:
some tests were xfailed for issue #5673 and #5674 which have been closed already.
so we shall fix these xfailed tests accordingly.

[2021-08-18 09:18] yanliang567 opened #7158 "Building index does not make indexes to those data that are searched"
#### Steps/Code to reproduce:
1. deploy Milvus 2.0
2. create a collection and insert 1200 entities
3. collection.load()
4. collection.search()   # param={"metric_type": "L2", "nprobe": 16}, limit=1)
5. insert 5000 more entities
6. build index ({"index_type": "IVF_SQ8", "metric_type": "L2", "params": {"nlist": 64}})
7. utility.index_building_progress()

#### Expected result:
{'total_rows': 6200, 'i

[2021-08-18 09:39] LemonSqi opened #7159 "The final number of segments is abnormal"
Q: The background merging is not completed. It is expected that there is only 1 segment, but there are 2 segments in the result

#### Steps/Code to reproduce:
vector data: 100W 128dim float32  (total < 500M)

go-sdk:
var indexFileSize = int64(512)
no index

#### Expected result:
only 1 segment

#### Actual results:
2 segments

tablefiles:
1168	1629276630639704000	1629276663375973000	1	162927666337

[2021-08-18 09:54] DragonDriver opened #7161 "Expose metrics of DataCoord and DataNodes"
see: [mep8-add-metrics-for-proxy](https://wiki.lfaidata.foundation/display/MIL/MEP+8+--+Add+metrics+for+proxy)

/assign

[2021-08-18 10:28] yhmo commented on #7159
It is as-designed, please refer this article: https://zhuanlan.zhihu.com/p/148106312

[2021-08-18 12:22] xige-16 commented on #7128
The reason is that the slide meta value in the index file is incorrectly filled in. I'll fix the problem right away.

[2021-08-18 12:22] xige-16 commented on #7077
The reason is that the slide meta value in the index file is incorrectly filled in. I'll fix the problem right away.

[2021-08-18 12:22] xige-16 commented on #6797
The reason is that the slide meta value in the index file is incorrectly filled in. I'll fix the problem right away.

[2021-08-18 19:06] filip-halt commented on #7146
I dont think it is a networking error in terms of the hardware since the cluster is healthy and pods are communicating. Query pods get the load command but then begin crashing which I believe is causing the errors in communication. Looking at the docs it seems like the only way to be able to query is to have enough nodes so that all the segments can be loaded at once which might be the problem in

[2021-08-18 21:10] filip-halt commented on #7146
Logs for loading unindexed 100m nodes

query node:
[code]
proxy:

[code]

querycoord:

[code]

rootcoord:
[code]

[2021-08-19 01:58] yhmo commented on #7159
Close due to as-designed.

[2021-08-19 01:58] #7159 closed

[2021-08-19 02:03] DragonDriver opened #7162 "Expose metrics of RootCoord"
see: [mep8-add-metrics-for-proxy](https://wiki.lfaidata.foundation/display/MIL/MEP+8+--+Add+metrics+for+proxy)

/assign

[2021-08-19 02:09] DragonDriver commented on #7006
Yeah, we didn't find why etcd do not response yet.

[2021-08-19 02:19] xiaofan-luan commented on #6753
@godchen0212 @jeffoverflow  we may need to change default etcd settings to maintain less snapshots, we hit the similar issue when we use zookeeper

[2021-08-19 02:21] xiaofan-luan commented on #4812
Hey lsgrep, how is the process for now? do we need extra help here?

[2021-08-19 02:23] yan-rui commented on #6547
生产环境核数调到4核并且qps减半，没再出过问题。。。

[2021-08-19 02:28] #7139 closed

[2021-08-19 02:55] jaelgu opened #7164 "Index is not created automatically for new inserted data without call flush()"
#### Steps/Code to reproduce:
1. Create collection
2. Insert 3000 128-dim vectors to collection
3. Create index (IVF_SQ8)
4. Insert another 3000 128-dim vectors to collection
5. Check if index is created new data: `utility.index_building_progress(collection_name, index_name='', using='default')`

#### Expected result:
Index should be created automatically for new inserted data (i.e. indexed_rows s

[2021-08-19 02:58] del-zhenwu opened #7165 "Update the error msg returned by initializing Collection when its name is not created before"
#### Steps/Code to reproduce:
[code]

#### Expected result:

msg: collection not existed
#### Actual results:
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2): pymilvus-orm
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-08-19 02:59] sunby commented on #7164
/assign @sunby

[2021-08-19 03:05] scsven opened #7166 "(1)Add delete RPC in milvus.proto @yhmo"

[2021-08-19 03:12] #7166 closed

[2021-08-19 03:21] yhmo commented on #7046
The script insert 2 vectors into "partition0" and "partition1", with duplicated ids:
[code]
This is the root cause.

[2021-08-19 03:22] ThreadDao commented on #5985
1. The version
[code]
2. The result
Expect:
During the dataCoord pod being killed, expected insert and flush failed, and, create, index, query search success
Actual:
create, index, search failed, and only query success
3. The logs
[milvus_logs.tar.gz](https://github.com/milvus-io/milvus/files/7011479/milvus_logs.tar.gz)
Fault injection time period
[code]
The datacoord pod name before killed
`milvu

[2021-08-19 03:22] ThreadDao commented on #5985
/unassign

[2021-08-19 03:27] yhmo commented on #7046
A correct script:

[code]

[2021-08-19 03:30] xige-16 commented on #7128
[code]
index_->Serialize(config_) will call Disassemble func to generate slice_meta of index,  but knowhere::Disassemble(slice_size * 1024 * 1024, binarySet) after appending row data will override the slice meta.  And if the slice meta is wrong, the process of loading index will fail.

[2021-08-19 03:32] xige-16 commented on #7128
The solution is to keep historical slide meta information when you call disassemble multiple times.

[2021-08-19 03:32] del-zhenwu commented on #6417
close

[2021-08-19 03:32] #6417 closed

[2021-08-19 03:32] xige-16 commented on #7128
The solution is to keep historical slide meta information when you call disassemble multiple times

[2021-08-19 03:43] yanliang567 commented on #7165
the msg should indicates
1. collection does not exist
2. shall specify schema if want to create a new collection

[2021-08-19 03:54] congqixia opened #7168 "Not all Datacoord functions are covered by unit tests"
Some logic function are not covered by unit tests

Even some code lines are cover in coverage report, they are invoked by other unit tests invoking the functions.

Individual unit tests should be provided

[2021-08-19 04:00] ss892714028 opened #7170 "Cannot create index after dropping index."
#### Steps/Code to reproduce:
1 million 128 dim data, inserted into a collection "ann_1m" 100k at a time.
After the following operations ran successfully: create_index (IVF_SQ8) - load - search - release - drop_index, cannot create any kind of index for this collection anymore.
![image](https://user-images.githubusercontent.com/34635663/130004486-2090154b-007a-42f2-98db-6e8a5e999ea0.png)

There is

[2021-08-19 04:49] DragonDriver commented on #7128
I made a mistake when using the `knowhere::Disassemble`, thx for pointing out this. @xige-16
i wonder if `BinarySet::Append` should throw an exception when we use a duplicate key, in this case, we append to the binary set twice using the `INDEX_FILE_SLICE_META`.

[2021-08-19 04:54] DragonDriver commented on #7128
By the way, I think both `Assemble` and `Disassemble` should be called explicitly outside the `Serialize` and `Load`.

[2021-08-19 06:34] xige-16 commented on #7128
The issue has been fixed, trouble you check it. @ss892714028

[2021-08-19 06:34] xige-16 commented on #7128
/unassign
/assign @ss892714028

[2021-08-19 06:35] xige-16 commented on #7077
The bug has been fixed, trouble you check it. @del-zhenwu

[2021-08-19 06:35] xige-16 commented on #7077
/unassign
/assign @del-zhenwu

[2021-08-19 06:35] xige-16 commented on #6797
/unassign
/assign @del-zhenwu

[2021-08-19 06:36] xige-16 commented on #6797
/unassign @bigsheeper
/unassign @fishpenguin
/unassign @godchen0212

[2021-08-19 06:40] ChangqingChen opened #7171 "Resolve memory fragmentation and merge indexes."
In the case of frequent data imports, Milvus may have many indexes in memory.  Is it possible to automatically merge indexes in this case.  If the in-memory index is too fragmented, I think it can have some impact on performance.

[2021-08-19 06:57] LemonSqi opened #7173 "A bug of mishards about load_collection() from client call, sended to write node, instedad of read nodes"
#### Steps/Code to reproduce:
Double checked, it is a bug of mishards.
When client call load_collection(), the mishards master node send the load_collection() to write node. It should send load request to read nodes.

Workaround: call search() after insert finished, the first search request will load data into read nodes cache.

#### Expected result:

#### Actual results:

#### Environment:
- Milv

[2021-08-19 06:58] xiaofan-luan commented on #7171
Good catch! Are you hitting the fragmentation issue already? Is it 1.x or 2.x? We are planing on segment compaction to merge fragmented segments in 2.0. Wanna to join our discussion in the tech meeing?

[2021-08-19 07:06] #6999 closed

[2021-08-19 07:13] ChangqingChen commented on #7171
I'm learning the technical solution of Milvus but haven't used it yet. I've had similar problems in other scenarios.  There's a lot of fragmentation in a single machine, and it definitely affects performance. I'm not sure how fragmented Milvus is.  How do I participate in a tech discussion.

[2021-08-19 07:37] del-zhenwu commented on #7077
fixed

[2021-08-19 07:37] #7077 closed

[2021-08-19 07:37] del-zhenwu commented on #6797
fixed

[2021-08-19 07:37] #6797 closed

[2021-08-19 07:55] yhmo commented on #7038
Fixed by https://github.com/milvus-io/pymilvus/pull/647

[2021-08-19 08:00] ss892714028 commented on #7128
Thank you, the PR has been merged, closing this issue.

[2021-08-19 08:00] #7128 closed

[2021-08-19 08:00] zhuwenxing commented on #7150
Came to a same issue, but it was datacoord and rootcoord ecited!
![image](https://user-images.githubusercontent.com/12268675/130030685-aa0db28f-30fe-441d-8d0a-25c7e1723bef.png)

[08-19.log](https://github.com/milvus-io/milvus/files/7012704/08-19.log)

[2021-08-19 08:01] zwd1208 commented on #6697
maybe the process crashed，you can watch milvus log by run `kubectl logs <pod_name> -n <namespaces>`

[2021-08-19 08:05] jaelgu opened #7176 "Number of rows indexed is weird with different segment size"
#### Steps/Code to reproduce:
Repeat the following steps, each time insert different numbers of rows (2044, 2045, 2046, 2047, 2048, 3000)
1. Create a new collection
2.  Insert rows
3. Create index
4. Check index status `utility.index_building_progress(collection_name, index_name='', using='default')`

#### Expected result:
According to https://milvus.io/docs/v2.0.0/index.md, milvus doesn't create

[2021-08-19 08:11] ThreadDao commented on #6098
1. The version
[code]
2. The result
Expect:
After the queryNode pod restart, expected load success, and query search success
Actual:
After queryNode turns healthy, load return rpc timeout error

3. The logs
[milvus_logs.tar.gz](https://github.com/milvus-io/milvus/files/7012771/milvus_logs.tar.gz)

Fault injection time period
[code]
The datacoord pod name before killed
`milvus-chaos-querynode-6b45f

[2021-08-19 08:12] ThreadDao commented on #6098
/unassign

[2021-08-19 08:22] del-zhenwu opened #7178 "Cluster start failed with helm sometimes"
#### Steps/Code to reproduce:

https://argo-test.zilliz.cc/workflows/qa/benchmark-cron-4cdbp?tab=workflow&nodeId=benchmark-cron-4cdbp-1421183678&sidePanel=logs:benchmark-cron-4cdbp-1421183678:main

pod info:
[code]
test client:
[code]
#### Expected result:

#### Actual results:
server log:
https://kibana-dev.zilliz.cc/app/discover#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now

[2021-08-19 08:37] jeffoverflow commented on #7149
Recently, we will refactor the configuration of Milvus.

[2021-08-19 08:37] jeffoverflow commented on #7149
/cc @xiaofan-luan

[2021-08-19 10:04] yanliang567 commented on #6098
@xige-16 it seems that this issue reproduces in latest build. please help to take a look

[2021-08-19 10:27] wangting0128 opened #7179 "[standalone] Server crash when loading collection"
#### Steps/Code to reproduce:

test yaml:

[code]

[client logs:
](https://argo-test.zilliz.cc/artifacts/qa/benchmark-cluster-cron-nhg6t/benchmark-cluster-cron-nhg6t-1300456843/main-logs)
[code]

#### Expected result:

#### Actual results:
https://kibana-dev.zilliz.cc/app/discover#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'2021-08-19T09:37:54.000Z',to:'2021-08-19T09:37:55.000

[2021-08-19 10:38] ThreadDao commented on #7069
[code]
[milvus_logs.tar.gz](https://github.com/milvus-io/milvus/files/7013766/milvus_logs.tar.gz)

[code]

[2021-08-19 10:45] linchpinlin opened #7180 "Load data failed"
#### Steps/Code to reproduce:

columns: [id, float_vector]
dim=205
total quantity= 3500w

I search two vectors with 3 nprobe, and it took about 2 minutes. So I rebuild the index with 2048 nlist and reload the data. However, after a long time (several hours) I couldn't get any results. I tried to release and reload the data, or drop the collection and reinsert the date ...., but the problem persist

[2021-08-19 10:58] shiyu22 opened #7181 "Batch inserting binary data is too slow"
#### Steps/Code to reproduce:
1. create a collection with the binary vector
2. batch insert binary vectors and return the cost

#### Expected result:
Insert 100,000 data in seconds and the insertion time for insert data is linear.

#### Actual results:
It took 900 seconds to insert 100,000 vectors with 2048 dimension and I also tested different amounts of data, but when the batch inserted  200,000

[2021-08-19 11:02] yhmo commented on #7130
===== milvus.proto ======
[code]

===== pymilvus =====
[code]

[2021-08-19 12:22] xige-16 commented on #7180
Load will trigger this bug after creating the ivf flat index， and the issue has been fix by pr #7167.

[2021-08-19 12:24] xige-16 commented on #7180
You can use other types of indexes or use the latest milvus image.

[2021-08-19 12:38] xige-16 commented on #7179
[timeticksync.go:198] ["sendToChannel fail"] [err="proxyTimeTick has not been fulfilled"]
A lot of this information is printed in the log.

[2021-08-20 01:51] yhmo commented on #7086
Fixed by https://github.com/milvus-io/pymilvus/pull/648
Use the latest pymilvus sdk to verify.

[2021-08-20 02:25] del-zhenwu commented on #7179
Loading process takes 9 mins and then server crashed.
[code]

[2021-08-20 02:34] Bennu-Li commented on #7117
But why does the number of entities increase?

[2021-08-20 02:39] binbinlv commented on #7153
compatibility issue:
milvus-io/pymilvus#640， closed.

[2021-08-20 03:00] #7153 closed

[2021-08-20 03:25] yhmo commented on #7015
The error is thrown from Bookkeeper, a distribute storage system. The Pulsar use it to store data. The milvus start a Pulsar single instance, with Bookkeeper running on same container. When disk is fulled, the Bookkeeper thrown this error.
It is a third-party problem, so we suggest:
- check the pulsar container disk size
- specify Pulsar use secondary bookkeeper service when it doesn't have enough

[2021-08-20 03:43] ThreadDao opened #7186 "An syncTimeStamp Failed exception occurs after the rootCoord is killed and restarted"
#### Steps/Code to reproduce:
You can reproduce by chaos test
1. deploy milvus with cluster mode
2. update ALL_CHAOS_YAMLS = 'chaos_rootcoord_podkill.yaml' in /milvus/tests20/python_client/chaos/constants.py
2. cd tests20/python_client/chaos and pytest test_chaos.py --host 10.98.0.x -v -s
3. after rootCoord kill test, run test_e2e.py cd tests20/python_client and pytest testcases/test_e2e.py --host

[2021-08-20 03:45] #6589 closed

[2021-08-20 03:45] #6995 closed

[2021-08-20 03:49] binbinlv commented on #7086
Verified, fixed.

pymilvus:
2.0.0rc5.dev19

Results:
 params value {'metric': None} is illegal

[2021-08-20 03:49] #7086 closed

[2021-08-20 03:57] linchpinlin commented on #7180
I rebuild the IVF_SQ8 index with 2048 nlist and reload the data. However, after a long time (several hours) I couldn't get any results. I tried to release and reload the data, or drop the collection and reinsert the date ...., but the problem persists.
[k8s pod logs](https://drive.google.com/file/d/1Tyd8a9xea8p8CtDJokdeE9zTACzh3WnM/view?usp=sharing)

[2021-08-20 04:30] congqixia opened #7187 "Datanode unit test hangs at a low chance"
`TestWatchChannel` hangs when checking go routine fails watch etcd before testing publish events. Its happens rarely but hangs the unit test workflow

[2021-08-20 04:51] congqixia opened #7189 "Static check fails because test folder path changed"
After merging tests and tests20, the orginal  tests/go/ folder is moved, which causes Code check workflow fails

[2021-08-20 05:46] binbinlv commented on #7038
Now scenario (1) and (3) has been fixed.
(1) not required type (dict) for left vectors: vectors_left value {} is illegal
(3) not required type (dict) for right vectors: vectors_right value {} is illegal

pymilvus: Version: 2.0.0rc5.dev19

[2021-08-20 05:50] binbinlv commented on #7038
Scenario (2) and (4) are not fixed: the error messages are still not accurate

Scenario (2): left vectors do not have the right key
Left vectors array is empty [Here left vectors are not empty], I think op_l = {} this is empty.
[code]

Scenario (4):  right vectors do not have the right key
[code]

[2021-08-20 06:04] #7189 closed

[2021-08-20 06:23] xiaofan-luan commented on #7181
/assign @congqixia

[2021-08-20 06:30] congqixia commented on #7181
@shiyu22 I was wondering that if you could provide that test scripts / code. Wanna make clear you manually separate data into batches or let the pymilvus do it for you.

[2021-08-20 06:30] binbinlv commented on #7046
@yhmo Yes, using different ID, it could be calculated succesfully.

But how could we avoid the scenario of same ids in cal_distance interface?

And it seems the vectors are get by vector ids, so what is the function of field "partition" in op_l or op_r? It seems partition field has no real function here? Could we remove this field in op_l and op_r?

Thanks.

[2021-08-20 06:31] congqixia commented on #7181
/unassign
/assign @shiyu22

[2021-08-20 06:38] xige-16 commented on #7180
The solution is to restart the cluster and avoid loading the index of IVF_LFLAT, or directly use the latest milvus image to restart the cluster, there will be no such problem.

[2021-08-20 06:39] del-zhenwu opened #7191 "Spelling error in https://milvus.io/docs/v2.0.0/monitor.md#Enable-ServiceMonitor-with-Miluvs-Helm-Chart"
#### Steps/Code to reproduce:
https://milvus.io/docs/v2.0.0/monitor.md#Enable-ServiceMonitor-with-Miluvs-Helm-Chart

#### Expected result:

Enable-ServiceMonitor-with-Milvus-Helm-Chart
#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
-

[2021-08-20 06:44] xiaofan-luan commented on #7125
duplicate as #7069, close for now

[2021-08-20 06:44] #7125 closed

[2021-08-20 06:45] xiaofan-luan commented on #6110
/assign  @xiaocai2333

[2021-08-20 06:59] shiyu22 commented on #7181
1. First create collection with binary type:
[code]

2. Then I will load the data with `numpy` format:
[code]
There are nearly 200,000 2048 dimensions of data in the file.

2. Finally batch insert in Milvus with the parameter `BATH_NUM`, which can be adjusted like 10000, 50000, 200000 etc.
[code]

[2021-08-20 07:00] congqixia commented on #7181
@shiyu22 thanks! working on it
/unassign @shiyu22
/assign

[2021-08-20 07:06] yanliang567 commented on #7150
this could be a data compatibility issue if docker-compose up a newer version in step#6, set top priority

[2021-08-20 07:08] zhuwenxing commented on #7150
The same issue will happen when use docker-compose to deploy a standalone milvus by the steps above.

[code]

Milvus version: master-20210819-7233b62
SDK version: pymilvus 2.0.0rc3.dev6
Deployment mode: standalone

But all containers are running
[code]
[08-20.log](https://github.com/milvus-io/milvus/files/7019712/08-20.log)

[2021-08-20 07:11] jaelgu commented on #7150
I also tried standalone, the error "server is not healthy" is gone and all operations work well after waited a while (~ 5 min).

[2021-08-20 07:20] yhmo commented on #7046
The reason has been found, it is a typo in pymilvus_orm, the "partition" parameter was not parsed.
I have submitted pr to fix this: https://github.com/milvus-io/pymilvus/pull/650

[2021-08-20 07:21] binbinlv commented on #7046
OK, great, thanks.

[2021-08-20 07:25] zhuwenxing commented on #7150
But in my environment, after 20 minutes, it still failed.

[2021-08-20 07:46] xige-16 opened #7192 "Increase querycoord's code coverage to 70%"
#### What would you like to be added:
querycoord's ut coverage is too low.
#### Why is this needed:
Increase querycoord's code coverage to 70%

[2021-08-20 07:47] xige-16 commented on #7192
/assign

[2021-08-20 07:47] timshen opened #7193 "Wrong method metioned for closing connections"
#### Steps/Code to reproduce:
Go to page https://milvus.io/docs/v2.0.0/connect.md#Close-server-connection

#### Expected result:
When you no longer need Milvus services, you can call disconnect() for Milvus Python SDK

#### Actual results:
When you no longer need Milvus services, you can call close()

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or c

[2021-08-20 07:59] shiyu22 opened #7195 "Milvus does not return when call collection.num_entities with binary data"
#### Steps/Code to reproduce:
1. insert more than 1 million 2048 dimension binary data
2. call `collection.num_entities` to get the number

#### Expected result:
return the number of the collection

#### Actual results:
Milvus hangs and it cannot do search/insert, but Milvus can create a collection and return `collection.num_entities(0)` for another collection.

#### Environment:
- Milvus version:

[2021-08-20 08:01] LoveEachDay opened #7196 "Pod of nightly ci get evicted"
#### Steps/Code to reproduce:
The second pipeline of nightly ci build fails everyday.
![image](https://user-images.githubusercontent.com/1573213/130199152-4d0c3ff3-7621-4dee-8d63-daec949c82b9.png)

The system logs shows that the pod is evicted because of the ephemeral-storage limit.
[code]

#### Expected result:
Runs the tests normally.

#### Actual results:
Fails everyday.

#### Environment:
- Mi

[2021-08-20 08:12] lsgrep commented on #4812
Hi @xiaofan-luan , Thanks for reaching out. I am working on the implementation hopefully I will submit PR next week.

[2021-08-20 08:27] XuanYang-cn opened #7199 "RocksDB not installed in specified directory"
After building rocksDB, we need to install it into CMAKE_INSTALL_PREFIX

[2021-08-20 08:27] yhmo commented on #7036
Fixed by #7175

[2021-08-20 08:33] XuanYang-cn commented on #7199
This causes brand new enviornment unable to find rocksDB needed by cgo.

[2021-08-20 08:41] L-lei commented on #7149
Hello, can you tell me what configuration needs to be modified to install Milvus 2.0, or what hardware configuration is required
Does the persistentvolumeclaim need to be created manually

[2021-08-20 08:45] LocoRichard opened #7201 "Add architecture overview in readme"
Add architecture overview in readme

[2021-08-20 08:45] LocoRichard commented on #7201
/assign

[2021-08-20 08:47] godchen0212 opened #7202 "Add connection timeout"
#### What would you like to be added:
Add connection timeout
#### Why is this needed:
If the grpc server down, the connection will stuck

[2021-08-20 09:01] XuanYang-cn opened #7206 "could not import C(cgo preprocessing failed)"
**Problem**
If run `make verifiers` in a clean environment, it'll fail and report this error

[code]

**Reason**
Static-check in target `verifiers` checks go imports, if it's `cgo` (codes with `import C`), it'll also try to include cpp interfaces.

So the `verrifiers` depends on all cpp-libs to work correctly.

**Solution**

Add target `build-cpp` as a dependency of target `verifiers`.

[2021-08-20 09:07] LocoRichard commented on #7193
/assign @YiyunNi

[2021-08-20 09:08] LocoRichard commented on #7191
issue fixed, good to be close

[2021-08-20 09:09] shiyu22 opened #7208 "The num_loaded_entities is bigger than num_total_entities when call utility.loading_progress"
#### Steps/Code to reproduce:
1. Insert 999955 binary vectors with 2048 dimensions to Milvus.
2. Call `collection.num_entities` to get the number of the collection and return to 999955.
2. Call `collection.load()` to load the data to memory.
3. Call `utility.loading_progress` to get the progress of the load.

#### Expected result:
{'num_loaded_entities': 999955, 'num_total_entities': 999955}

####

[2021-08-20 09:16] congqixia commented on #7181
@shiyu22 just checked with latest version on master branch. The average insert time for each 10000 vector batch is about 5 seconds. Look like it's solved in the RC-5 release. Would you please verify this after the RC-5 released?
/assign @shiyu22
/unassign

[2021-08-20 09:26] YiyunNi commented on #7193
https://github.com/milvus-io/milvus-docs/pull/448

[2021-08-20 09:40] wangting0128 opened #7209 "[Benchmark] The average response time did not decrease as with the increase of query nodes"
#### Steps/Code to reproduce:
Adding a query node, the average response time did not decrease by half：

<img width="1409" alt="截屏2021-08-20 17 36 20" src="https://user-images.githubusercontent.com/26307815/130213495-0fe52529-1f96-43f7-8dd7-4b3517cc981c.png">

dataset: sift-50m
index_type: ivf_flat, nlist: 2048
configuration: default

#### Expected result:

#### Actual results:

#### Environment:
-

[2021-08-20 09:45] #7206 closed

[2021-08-20 09:45] shiyu22 commented on #7181
When will RC-5 be released? And does it resolve in both standalone and clusters?

[2021-08-20 09:46] #7199 closed

[2021-08-20 09:48] #7187 closed

[2021-08-20 09:50] congqixia commented on #7181
@shiyu22 it should be today. Due to a blocking issue, rc-5 shall be available next Monday.

[2021-08-20 10:27] cydrain opened #7210 "Use Arrow as in-memory data format"
#### What would you like to be added:
Use Arrow as in-memory data format

#### Why is this needed:
There are too many data conversion between column-based and row-based.
We can use Arrow format as the internal data format to avoid frequent data conversion.

https://wiki.lfaidata.foundation/display/MIL/MEP+13+--+Support+Apache+Arrow+As+In-Memory+Data+Format

[2021-08-20 10:57] BUPTAnderson opened #7211 "LoadSegment occur error"
#### Steps/Code to reproduce:
client(pymilvus-orm) call **num_entities** method

#### Expected result:
return collection entities count

#### Actual results:
the call hung

**queryCoord**  error log:
<code>
[ERROR] [task.go:823] ["LoadSegmentTask: loadSegment occur error"] [taskID=427152123255586825] [stack="github.com/milvus-io/milvus/internal/log.Error\n\t/opt/milvus/internal/log/global.go:42\ng

[2021-08-20 12:16] #7196 closed

[2021-08-20 14:01] xTerry commented on #7127
了解了，我们自己的业务流程中没有创建索引的问题，代码中首先判断是否有collection，如果没有则创建collection然后创建索引，这种新建的创建索引是很快的，不会造成阻塞，唯一问题是我们是单条插入的，然后会产生的大量的wal，怀疑是后台处理wal时合并时重新建立索引导致的（单个collection中数据量很大，有千W级别的，有的将近1个亿），是否该原因导致？
目前已经改成批量插入了，换了新库，暂时没有问题（search同时查两套），不知道当新库达到亿级别后是否也会出现类似问题。
问题1：wal合并的性能如何，merge时会重新创建索引？
问题2：创建索引时是合并几次就创建吗？
针对以上有没有好的建议？

[2021-08-20 14:48] zhuwenxing opened #7213 "Create index failed in new version milvus when create index for data that are inserted in old version milvus"
#### Steps/Code to reproduce:
deploy standalone old version milvus `2.0.0-rc4-latest` with docker-compose
create a collection and insert data (in this step, we don't create index)
docker-compose down for old version, change image tag to `master-20210819-7233b62` to deploy a new version milvus (in this step, don't remove volumes dir)
in new version milvus, create index for previous collection
####

[2021-08-20 14:49] zhuwenxing opened #7214 "Create index failed in new version milvus when create index for data that are inserted in old version milvus"
#### Steps/Code to reproduce:
deploy standalone old version milvus `2.0.0-rc4-latest` with docker-compose
create a collection and insert data (in this step, we don't create index)
docker-compose down for old version, change image tag to `master-20210819-7233b62` to deploy a new version milvus (in this step, don't remove volumes dir)
in new version milvus, create index for previous collection
####

[2021-08-20 14:51] #7213 closed

[2021-08-20 14:59] zhuwenxing commented on #7213
submit it twice, made a duplicate, so close it

[2021-08-20 18:41] filip-halt opened #7215 "Cluster Unable to Search 1M 50% of the time"
When using Milvus on EKS with 10 c5.2xLarge instances, 1M fails to be searched roughly 50% of the time. Everything above works even less consistently until it does not work at all.

#### Steps/Code to reproduce:
Milvus on EKS with 10 c5.2xLarge instances runnning
Helm deploy with 2 Datanodes, 1 Proxies, 3 Indexnodes, 3 Querynodes
S3 Backend instead of MinIO
Script being run on another c5.2xLarge i

[2021-08-20 20:33] filip-halt opened #7216 "ProducerBlockedQuotaExceededError: Entire system hangs"
When adding 50m vectors to collection with indexed 10m vectors the insert hangs and the socket is closed. After taking a look at the pods, a few of the querynodes crashed and in their log contained this:
[code]

After this error I can not access the collection, print its size, insert more vectors, or delete/create new collections.

This is the error in rootcord when trying to create a new collecti

[2021-08-21 02:10] binbinlv commented on #7036
Verified and fixed.

Name: pymilvus
Version: 2.0.0rc5.dev20

Results:
<BaseException: (code=1, message=collection test_search_collection_binbin_1 was not loaded into memory)

[2021-08-21 02:10] #7036 closed

[2021-08-21 02:19] binbinlv commented on #7046
Verified and fixed.

Name: pymilvus
Version: 2.0.0rc5.dev20

Results:
[code]

[2021-08-21 02:19] #7046 closed

[2021-08-21 03:00] xiaofan-luan commented on #7215
@xige-16 is this similar issue with #7081 ?

[2021-08-21 03:01] xiaofan-luan commented on #7215
/assign @xige-16

[2021-08-21 03:05] xiaofan-luan commented on #6986
@czs007 please add a limit that milvus can not accept insert batch size more than 1m.  each system has to have limit

[2021-08-21 03:07] xiaofan-luan commented on #6661
@cydrain any progress on this issue?

[2021-08-21 03:09] xiaofan-luan commented on #7214
do we have specified logs? let me see if we can fix it

[2021-08-21 03:11] xiaofan-luan commented on #6753
/assign @jeffoverflow

[2021-08-21 03:12] #7062 closed

[2021-08-21 03:13] xiaofan-luan commented on #6843
@DragonDriver how is the progress for now?

[2021-08-21 03:15] xiaofan-luan commented on #6868
@xige-16 is this still a reason for current version?

[2021-08-21 03:17] xiaofan-luan commented on #7022
@bigsheeper any updates?

[2021-08-21 03:23] zhuwenxing commented on #7214
I tried with vesion `master-20210820-bf2c427`, still has same issue.
[08-21.log](https://github.com/milvus-io/milvus/files/7024792/08-21.log)

[2021-08-21 04:00] xiaofan-luan commented on #7013
We are working on message data retention mechanism, so data should be automatically cleaned after certain days. However data shouldn't be automatically offloaded to s3 unless user configed pulsar config themselves.

[2021-08-21 04:02] xiaofan-luan commented on #7013
see #6617 about rocksmq retention

[2021-08-21 04:03] xiaofan-luan commented on #7013
We should add kafka support as soon as possible so user can utilize message queue service on cloud

[2021-08-21 04:17] cydrain commented on #6661
We can only see one ERROR in CI logs - "rootcoord disconnect with etcd, process will exit in 1 second".
This issue should have been resolved after we isolate ETCD resource from other CI resources.
Need tester help to check.

[2021-08-21 04:18] cydrain commented on #6661
/assign @binbinlv

[2021-08-21 04:45] binbinlv commented on #6661
OK, working on verification.

[2021-08-21 04:45] fishpenguin commented on #6294
Fixed.

[2021-08-21 04:45] #6294 closed

[2021-08-21 04:46] #5253 closed

[2021-08-21 05:53] xige-16 commented on #7215
It seems to be a new problem.

[2021-08-21 07:10] binbinlv opened #7217 "Cal_distance returns wrong error when calculating with default metric type"
#### Steps/Code to reproduce:
Run test_utility_20.py::TestUtilityBase::test_calc_distance_default_metric

And it is good in pymilvus: 2.0.0rc5.dev18 version.

It is bad in pymilvus: 2.0.0rc5.dev19 and 2.0.0rc5.dev20 versions.

I think this issue is caused by this pr (milvus-io/pymilvus#648) which fixing issue #7086.

#### Expected result:
Return distance without errors

#### Actual results:
params

[2021-08-21 07:49] xige-16 opened #7218 "Proxy occur panic"
[code]
#### Steps/Code to reproduce:

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[proxy_1(1).log](https://github.com/milvus-io/milvus/files/7025

[2021-08-21 08:01] xige-16 commented on #7218
/assign @czs

[2021-08-21 08:03] xige-16 commented on #7218
/assign @czs007

[2021-08-21 08:12] xige-16 commented on #7056
Changing the format of the internal data to arrow will solves the problem of copying the data between cgo and golang.

[2021-08-21 08:14] xige-16 commented on #6868
I'll check it out.

[2021-08-21 08:57] binbinlv commented on #6661
Insert 50000, 500000 for several times, this assert did not occur. So suggest to close it first, will reopen it if it occurs again.

mode: standalone and cluster

milvus: bf2c427
pymilvus: 2.0.0rc5.dev20

[2021-08-21 08:57] #6661 closed

[2021-08-21 09:28] binbinlv opened #7219 "Server is restarted and becomes not healthy when inserting 1 million entities"
#### Steps/Code to reproduce:
insert 1 million (128 dim) entities:
(under tests contents):

[code]

Logs:
[logs.tar.zip](https://github.com/milvus-io/milvus/files/7025246/logs.tar.zip)

#### Expected result:
insert successfully

#### Actual results:
Sever is restarted and becomes not healthy
[code]

#### Environment:
- Milvus version():bf2c427
- Deployment mode(standalone or cluster): cluster
- SD

[2021-08-21 13:30] yanliang567 commented on #6374
in master-20210820-bf2c427
when trying to load a collection with 50m entities, it failed in
RPC error: <_MultiThreadedRendezvous of RPC that terminated with:
	status = StatusCode.DEADLINE_EXCEEDED
	details = "Deadline Exceeded"
	debug_error_string = "{"created":"@1629551404.589699341","description":"Error received from peer ipv4:10.98.0.8:19530","file":"src/core/lib/surface/call.cc","file_line":10

[2021-08-21 13:31] yanliang567 commented on #6374
[datacorrd.50m.log](https://github.com/milvus-io/milvus/files/7025571/datacorrd.50m.log)
[datanode.50m.log](https://github.com/milvus-io/milvus/files/7025573/datanode.50m.log)
[indexcoord.50m.log](https://github.com/milvus-io/milvus/files/7025574/indexcoord.50m.log)
[indexnode.50m.log](https://github.com/milvus-io/milvus/files/7025576/indexnode.50m.log)

[2021-08-21 15:21] ThreadDao opened #7220 "Insert 5000 entities always timeout"
#### Steps/Code to reproduce:
1. deploy Milvus cluster
[code]
2. run test_e2e.py
[code]
3. Every time it runs to insert 5000 entities, it will time out
[code]

#### Expected result:
Insert successfully

#### Actual results:
Failed to insert with RPC timeout.

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
  bf2c427
- Deployment mode(standalone or cluster):
  cluster
- SDK version(

[2021-08-22 04:42] yanliang567 opened #7221 "server is not healthy if external etcd and minio configured"
#### Steps/Code to reproduce:
1. deploy Milvus with cluster mode with externalS3 and externalEtcd configured
2. trying to connect to Milvus

#### Expected result:
successfully connect to Milvus

#### Actual results:
Exception: server is not healthy, please try again later
checking the proxy log:
[2021/08/22 04:11:23.517 +00:00] [DEBUG] [service.go:235] [proxy] ["state of proxy"=Initializing]

[pro

[2021-08-22 18:20] thecooltechguy commented on #7221
I'm also facing this issue, but I'm not using an external etcd.

[2021-08-22 19:08] thecooltechguy commented on #6696
Hi, I'm using rc4 and I'm facing this same error when inserting data. Is this supposed to be fixed in rc4, or will it be fixed in the next release?

FYI: The exact error I'm facing when inserting data is: `Error: <BaseException: (code=1, message=GetSegmentID failed: SegmentIDAllocator failRemainRequest unexpected error)>`

[2021-08-22 19:09] thecooltechguy commented on #6900
Hi, I'm using Rc4 and I'm getting the following error when I try to insert data into Milvus standalone (on k8s, with an external AWS S3):

`Error: <BaseException: (code=1, message=GetSegmentID failed: SegmentIDAllocator failRemainRequest unexpected error)>`

[2021-08-22 19:11] thecooltechguy commented on #7221
Actually, I was able to fix my issue. It was due to insufficient AWS S3 IAM policy permissions that did not give read/write access to the bucket.

[2021-08-23 01:24] yanliang567 commented on #6696
@thecooltechguy it was supposed to be fixed in rc4, could you please file a new issue and with more detailed info/log attached?

[2021-08-23 01:45] yanliang567 opened #7222 "Memory consumption increased by stairs if index-load-search repeatly"
#### Steps/Code to reproduce:
1. deploy Milvus cluster - 1 replica for each pod with no resource limit
2. create a collection with 128d-10m entities
3. build index
4. collection.load
5. search
6. collection.release
7. collection.index.drop
8. repeat from step#3

#### Expected result:
Memory consumption keeps stable

#### Actual results:
memory consumption increase by stairs for each repeat

#### E

[2021-08-23 02:02] yanliang567 commented on #7214
@czs007  issue 7203 not fix this issue, please take a look.

[2021-08-23 02:09] yhmo commented on #7127
创建collection然后创建索引，这时由于collection是空表状态，createindex把元数据做一点修改就返回了，不会阻塞。
当collectin的index type被定义之后，后续数据插入时，每次flush（自动的flush或者手动flush）都会产生一个small segment，然后没有达到index_file_size的segments会不断合并，直到某个segment达到或超过index_file_size的大小，这时后台就会对这个segment建索引。合并的策略可以参考这篇文章：https://zhuanlan.zhihu.com/p/148106312
如果index_file_size的值设的很大，比如4GB以上，那合并时对IO的压力会很大。当一批向量数据进插入milvus时，先是由WAL写入硬盘，接着再写入缓存，客户端insert()函数返回，接着由flu

[2021-08-23 02:10] xiaofan-luan commented on #7214
yep, I don't think we have any fix on this. we will work on this

[2021-08-23 02:11] xige-16 commented on #7216
It looks like the message was inserted too fast, causing the pulser message to pile up.
[code]

[2021-08-23 02:28] xinjiguaike commented on #6686
It seems the issue @saltedsword mentioned was not fixed in the RC4 release; after the milvus restarted, the search process was hang up (hang on the grpc connection); by debugging, it shows the codes hold on follows(timeout == None):

[code]

the call stack as follows:

result, _channel.py:711
_execute_search_requests, grpc_handler.py:579
handler, grpc_handler.py:55
search_with_expression, grpc_han

[2021-08-23 02:33] yanliang567 commented on #7221
but i use a standalone minio and configure the secrets in the yaml. Also would proxy check the healthy of minio before being healthy itself?

[2021-08-23 02:35] cydrain commented on #7218
/assign

[2021-08-23 02:40] yhmo commented on #6383
Duplicate with #7130. Close this one.

[2021-08-23 02:40] #6383 closed

[2021-08-23 03:19] linchpinlin commented on #7180
@xige-16
I have deleted the cluster and PV, but the problem still exists(IVF_SQ8)
[k8s pod logs](https://drive.google.com/file/d/1Tyd8a9xea8p8CtDJokdeE9zTACzh3WnM/view?usp=sharing)

[2021-08-23 03:38] XuanYang-cn commented on #6211
/unassign @xiaofan-luan
/assign @scsven

[2021-08-23 03:42] xige-16 commented on #6962
I'm looking into it.

[2021-08-23 03:44] #6211 closed

[2021-08-23 03:47] XuanYang-cn commented on #6210
Closing, reopen if reproduced

[2021-08-23 03:47] #6210 closed

[2021-08-23 03:54] XuanYang-cn commented on #7117
I'm working on it now
/unassign @czs007

[2021-08-23 03:59] xiaocai2333 commented on #7158
Although I strictly follow the above steps, I still cannot reproduce it. If you can reproduce it, please paste the log here. @yanliang567

[2021-08-23 04:06] xiaocai2333 commented on #7158
And I release collection and reload after step#7, search can be executed normally.

[2021-08-23 04:20] XuanYang-cn commented on #7154
I'm mantaining this page

[2021-08-23 05:09] yanliang567 commented on #7158
trying to repro it on a latest build

[2021-08-23 06:25] xiaocai2333 commented on #6055
Can it still be reproduced? @del-zhenwu

[2021-08-23 06:29] godchen0212 commented on #6689
This problem is consistent with the previous problems that occurred when etcd resources were insufficient.
Please observe whether this problem still exists.

[2021-08-23 06:30] godchen0212 commented on #6689
/unassign @godchen0212
/assign @yanliang567

[2021-08-23 06:48] godchen0212 commented on #6747
This problem is consistent with the previous problems that occurred when etcd resources were insufficient.
Please observe whether this problem still exists.

[2021-08-23 06:48] godchen0212 commented on #6747
/assign @del-zhenwu
/unassign @godchen0212

[2021-08-23 06:54] godchen0212 opened #7229 "Make MinioKV to the storage"
#### What would you like to be added:
Move MinioKV to the storage folder and abstract it as ChunkManager.

#### Why is this needed:
As an object storage, Minio does not apply the abstract logic of kv. It is more reasonable to use it as ChunkManager.

[2021-08-23 06:55] yanliang567 commented on #6689
close for now as not repro in ci recently

[2021-08-23 06:55] #6689 closed

[2021-08-23 06:58] czs007 commented on #7214
@sunby  is working on this.

[2021-08-23 07:15] xiaocai2333 commented on #7069
/assign @ThreadDao

[2021-08-23 07:22] czs007 commented on #6606
move to rc6

[2021-08-23 07:27] xige-16 commented on #6868
I didn't reproduce the bug.  I put this issue on rc6 first, and I will turn it offf if it doesn't recur later.

[2021-08-23 07:33] czs007 commented on #6687
the test pipeline started at 02:20:25.339, failed at 02:58:46.557.
The total time is very close to the timeout of 2400 seconds.
@yanliang567

[2021-08-23 07:43] jaelgu commented on #7215
I got same issue: search hangs when using 3 querynodes (limits: 3 cpus, 8Gi)
(kubernetes, milvus-rc4, 12 CPUs, 62Gi)

[2021-08-23 07:47] ThreadDao commented on #7069
1. Version
[code]
2. Result
After chaos was deleted, create_index successfully

[2021-08-23 07:47] #7069 closed

[2021-08-23 08:00] bigsheeper commented on #6693
I could not found collection name of the failed case in the ci artifacts logs, it's abnormal. Do you know any other failed ci with the same failed case? @yanliang567

[2021-08-23 08:07] Z4HRA-S opened #7232 "IVF_FLAT data compression!"
#### Description
I'm trying to implement a text similarity search  API for Arabic texts based on cosine similarity. So I need to store normalized vectors. But when I insert vectors with IVF_FLAT index, the norm of vectors changes. As I recall from previous versions of Milvus (v0.11.0 and v0.10.5), The IVF_FLAT index type, stores vectors as they are with no compression. Is that changed in v1.0.0?
M

[2021-08-23 08:27] XuanYang-cn commented on #7117
Do you have logs or ways to reproduce this issue @Bennu-Li ?

I've tried to insert 100_000 vectors 30 times (totally 3_000_000) and the system works fine.

[2021-08-23 08:29] zhenzi0322 opened #7233 "the docker-compose.yml of standalone is wrong, which is for cluster"
url: https://milvus.io/cn/docs/v2.0.0/install_standalone-docker.md

The link to download docker-compose.yml is incorrect

[2021-08-23 08:42] LocoRichard commented on #7201
issue fix, closing the issue

[2021-08-23 08:42] #7201 closed

[2021-08-23 08:46] xiaocai2333 commented on #7221
I guess the port of minio is wrong, try port: 9000?

[2021-08-23 08:53] jaelgu opened #7234 ""Access Denied" when create index"
#### Steps/Code to reproduce:
1. Start milvus with Kubernetes Cluster
2. Create collection
3. Insert data (eg. sift1m)
4. Create index (IVF_FLAT or IVF_SQ8)

#### Expected result:

Index created without error.

#### Actual results:

Error: Access Denied.

![2021823-164558](https://user-images.githubusercontent.com/86251631/130418344-20aacc3d-122a-43a4-9574-9123661a5843.png)

#### Environment:
- Mi

[2021-08-23 08:59] yanliang567 commented on #6693
what about #7055 , is it caused by the same root? @bigsheeper  it did not repro in ci last night, lets see what is going on tonight.

[2021-08-23 09:03] yhmo commented on #7233
This line?
`wget https://raw.githubusercontent.com/milvus-io/milvus/ecfebff801291934a3e6c5955e53637b993ab41a/deployments/docker/standalone/docker-compose.yml -O docker-compose.yml`

I can successfully download it.

[2021-08-23 09:03] #7218 closed

[2021-08-23 09:11] zhenzi0322 opened #7236 "Milvus standalone exited with code 132"
## docker-compose up
[code]

`docker logs milvus-standalone`日志的输出没有任何信息。

## docker-compose.yml
[code]

## docker-compose与docker的版本
[code]

[2021-08-23 09:15] XuanYang-cn commented on #7117
I've tried many times locally, the system works fine.

milvus: 2.0.0RC4
pymilvus-orm 2.0.0rc4

[2021-08-23 09:17] XuanYang-cn commented on #7117
/assign @Bennu-Li

[2021-08-23 09:18] bigsheeper commented on #6693
It seems that the Argo link in issue #7055 is unavailable, so I could not tell the difference between these two issues. But I agree with you to see what's going on tonight (The 2.0.0-RC-5 release is due today, do we need to set the milestone of this issue to RC-6 ?).

[2021-08-23 09:20] czs007 commented on #6986
@yanliang567  @binbinlv
Checked the log, it was failed before insert was started. Prompt that rootCoord cannot be connected.

[2021-08-23 09:21] #7110 closed

[2021-08-23 09:25] yanliang567 commented on #6693
since it does not repo last night, i agree to postpone to rc6

[2021-08-23 09:26] shiyu22 commented on #7233
<img width="824" alt="截屏2021-08-23 17 25 12" src="https://user-images.githubusercontent.com/53459423/130423836-0d30c9c1-8afb-4789-a2ad-9d431d09b881.png">

[2021-08-23 09:29] yanliang567 opened #7237 "Add tests for insert if auto_id = True"
#### What would you like to be added:
It seems that all the existing insert cases is running against auto_id=False

#### Why is this needed:
we need to cover the scenario that auto_id=True

[2021-08-23 09:37] shiyu22 opened #7238 "Milvus Pulsar node is CrashLoopBackOff"
#### Steps/Code to reproduce:
1. start Milvus cluster in k8s
2. run `kubectl get pods` after 3 days

#### Expected result:
each node is running.

#### Actual results:
Milvus Pulsar node is CrashLoopBackOff
<img width="691" alt="截屏2021-08-23 17 32 34" src="https://user-images.githubusercontent.com/53459423/130425048-6bc812bd-d71e-4297-a25a-a1d57cdd22f7.png">

#### Environment:
- Milvus version: v2.

[2021-08-23 09:41] yanliang567 commented on #7214
maybe the same root cause for #7150. @zhuwenxing please verify both if there is a fix available.

[2021-08-23 09:44] congqixia commented on #7220
@ThreadDao Tried to reproduce with the detail you provided. The test case succeeded. Is there anything special in the helm environment?

[2021-08-23 09:51] xige-16 opened #7240 "Search return error after global reduce if querynode only watchDmChannel and has't receive any insert message"
#### Steps/Code to reproduce:

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-08-23 09:53] xige-16 commented on #7240
querynode return a empty result, but proxy want all search results have topk IDs and distances even though they are all -1.

[2021-08-23 10:14] wangting0128 commented on #6687
[code]
@czs007 Is this the same question?

[2021-08-23 10:18] sunby commented on #7214
The reason is we move binlog paths to another position on etcd in #6590 . I will provide a method to migrate it when system startup.

[2021-08-23 10:19] dzhyy opened #7242 "collection load error"
#### Steps/Code to reproduce:

class MilvusDB(IVectorDB):
    def __init__(self):
        self.collection = None
        connections.connect(
            host=settings.milvus_host,
            port=settings.milvus_port,
        )

    def set_collection(self, name: str):
        if utility.has_collection(name):
            self.collection = Collection(name=name)
            return self.collection

[2021-08-23 11:19] czs007 commented on #7220
@ThreadDao  is it a Chaos test? When inserting data, will datacoord and datanode be killed and restarted?

[2021-08-23 11:20] ThreadDao commented on #6563
1. Version
[code]

2. Result
Expected: After pod shrinks, the cost of creating an index is about twice as as much before scale
Actual:
[code]

3. Logs
[milvus_logs.tar.gz](https://github.com/milvus-io/milvus/files/7031419/milvus_logs.tar.gz)

[code]

[2021-08-23 11:23] zhuwenxing opened #7245 "Integrate reportportal into nightly CI"
#### What would you like to be added:
Add param to pytest command to use reportportal
#### Why is this needed:

Collect nightly CI test results as a report

[2021-08-23 11:29] ThreadDao commented on #6563
@yanliang567 After shrinking, the indexing time for the 50w entities is increased from 8s to 3m4s. Is this acceptable?  If you deploy Milvus with 1 indexNode in the begging, it only takes 10s to create the same index.

[2021-08-23 11:33] ThreadDao commented on #7220
I can't reproduce this issue today. Close it first.

[2021-08-23 11:35] yanliang567 commented on #7242
looks like a know issue.

/assign @xige-16
@xige-16  please take a look.

[2021-08-23 11:41] wangting0128 opened #7247 "Update script of run_go_codecov"

[2021-08-23 11:42] yanliang567 commented on #7221
still fails after using port 9000
[code]

[2021-08-23 11:46] yanliang567 commented on #6563
I think this is a bug.

[2021-08-23 11:49] sunby commented on #7027
Insert requests are not received by server.

[2021-08-23 11:56] ThreadDao commented on #6528
1. Version
[code]
2. Result
After queryNode shrinking, search successfully and get correct results.

[2021-08-23 11:56] #6528 closed

[2021-08-23 17:29] filip-halt commented on #7216
Interesting. This seems weird because inserting 100m at once using 10 threads with batches of 100,000 didnt trigger this error, but inserting 10m then 50m did.

[2021-08-23 18:26] filip-halt commented on #7215
Yes it seems like that is the case, anything above 2 query nodes causes breakage.

[2021-08-23 22:43] filip-halt commented on #7146
Im going to update the issue here because it is still occurring and seems to be very important.

Steps to recreate:
1. Insert 100m
2. index 100m using IVF_SQ8
3. Attempt to load in the collection

The loading in of the collection will hang. Once it hangs, at least one query node restarts with its last log being:
[code]
These query node will continue to restart and hang on the failed load request.

[2021-08-24 01:31] NotRyan opened #7249 "Highly concurrent inserts create an unsearchable collection"
Creating many (>100) connections to Milvus to insert batches of vectors (batch size: 10000 vectors) will appear to be successful, but will result in a collection that cannot be searched (total collection size: 1m vectors).

The resulting collection will have the correct result for num_entities.

The collection can be indexed without error (Tried with IVF_FLAT and IVF_SQ8 index types).

The collect

[2021-08-24 02:02] czs007 commented on #6563
for the step:
       `# expand indexNode from 1 to 2
        pdb.set_trace()
        env.helm_upgrade_cluster_milvus(indexNode=1)`

Is this step synchronized? Does it mean that after this step, it is determined that an IndexNode has been added and discovered by IndexCoord.

[2021-08-24 02:08] del-zhenwu commented on #6747
in benchmark, each test suite will start with a new etcd.

[2021-08-24 02:16] cydrain opened #7250 "Search get empty result after release another partition"
#### Steps/Code to reproduce:
tests/python_client/testcases/test_partition_20.py::TestPartitionParams::test_partition_release
[code]

#### Expected result:
The second search for partition_w2 should return valid result

#### Actual results:
after release partition_w1, search for partition_w2 return empty result

[2021-08-24 02:16] cydrain commented on #7250
/assign @czs007

[2021-08-24 02:21] bigsheeper commented on #7250
/assign

[2021-08-24 02:24] ThreadDao commented on #6563
@czs007 Performed in the following sequence of steps. After the shrink step, the number of indexNode changed from 2 to 1.
[code]

[2021-08-24 02:32] yhmo commented on #7217
Fixed by milvus-io/pymilvus#656

[2021-08-24 02:32] del-zhenwu opened #7251 "No response in 5 hours during inserting after 20450000 entities inserted."
#### Steps/Code to reproduce:
test yaml:
[code]
insert 50,000 entities per request, after 20350000 entities inserted, client get no response in 5 hours.
[code]

pod info:
[code]
#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):standalone
- SDK version(e.g. pymilvus v2.0.0rc2): pymilvus-rc5-dev18
-

[2021-08-24 02:33] yhmo commented on #7038
Fixed by milvus-io/pymilvus#655

[2021-08-24 02:33] shiyu22 commented on #7238
The pulsar node is running today, but I cannot connect Milvus and show the error:
[code]
and the status of the nodes:
<img width="631" alt="截屏2021-08-24 10 31 46" src="https://user-images.githubusercontent.com/53459423/130546536-82e81551-71c8-47d6-8751-b3bbb7ea60ec.png">

[2021-08-24 02:36] Bennu-Li opened #7252 "Error: <BaseException: (code=1, message=syncTimestamp Failed:Connect to rootcoord failed"
#### Steps/Code to reproduce:
All pods are running in Milvus cluster, the pulsar always restart, and i can connect Milvus server.

[code]

but i can not do any other operation, such as creat collection, list_collections(), has_collections(). It through the same error:

[code]

[code]

#### Environment:
- Milvus version(ev2.0.0-RC4):
- Deployment mode(cluster):

[2021-08-24 02:37] yhmo commented on #7233
@LocoRichard
The link should be:
`https://raw.githubusercontent.com/milvus-io/milvus/ecfebff801291934a3e6c5955e53637b993ab41a/deployments/docker/standalone/docker-compose.yml`

Both the english version and chinese version are wrong.

[2021-08-24 03:05] Bennu-Li commented on #7252
[rootcoord.log](https://github.com/milvus-io/milvus/files/7036197/rootcoord.log)
[pulsar.log](https://github.com/milvus-io/milvus/files/7036198/pulsar.log)
[etcd.log](https://github.com/milvus-io/milvus/files/7036199/etcd.log)

[2021-08-24 03:17] bigsheeper commented on #7250
The first partition and the second partition use the same virtual channel in query node, which means they use the same `tSafe` (for a virtual there is only one `tSafe` in query node in query node). But when the first partition is released, the `tSafe` would be removed, and the service time check of the second partition's searching in `streaming` would not be passed, which caused the null search re

[2021-08-24 03:18] LocoRichard commented on #7233
issue fixed at https://github.com/milvus-io/milvus-docs/pull/474
Good to be closed.

[2021-08-24 03:46] bigsheeper commented on #7032
Querycoord still has the segment etcd dependency, so I cannot simply removed from querynode.

[2021-08-24 03:46] bigsheeper commented on #7032
/assign @xige-16

[2021-08-24 03:49] binbinlv commented on #7038
Verified and fixed.

Name: pymilvus
Version: 2.0.0rc5.dev22

Results:
[code]

[code]

[2021-08-24 03:49] #7038 closed

[2021-08-24 03:51] wangting0128 opened #7256 "Add */*.pb.go to codecov.yml"

[2021-08-24 05:12] linchpinlin commented on #5007
The same problem, when I upgrade readonly.replicas from 5 to 6.

[2021-08-24 06:51] yanliang567 commented on #7221
shall set a bucket name for  external S3 and port 9000
[code]

[2021-08-24 06:52] #7221 closed

[2021-08-24 06:52] sunby opened #7258 "Load segment-filters in DataNode"
A part of implementing delta log.
This part is to load segment's bloom filters in DataNode before consuming messages from a channel.

[2021-08-24 06:53] xige-16 commented on #7242
Is the version of Milvus image rc2 and the version of pymilvus rc4?

[2021-08-24 07:07] #7250 closed

[2021-08-24 07:14] wq1315 opened #7260 "RootCoordClient mess key not exist RootCoordClient getRootCoordAddr failed"
#### Steps/Code to reproduce:
**I deploy the distributed version of milvus through docker compose.Then I created a collection,such as the following code:**

[code]

**Then I insert the vector**

[code]

#### Expected result:
**In the end, I couldn't search vector and connect to the service of milvus**

#### Actual results:
**When I connect again, the following problems occurred**

#### Environment

[2021-08-24 07:57] xiaofan-luan commented on #7252
seeing same error log in pulsar, Starting with the -nss flag (no stream storage) will resolve the issue temporarily...

https://github.com/apache/pulsar/issues/5668

[2021-08-24 07:57] xiaofan-luan commented on #7252
/assign @zwd1208

[2021-08-24 07:58] xiaofan-luan commented on #7252
hi zwd1208, can we change the pulsar start command to add -nss for our pulsar container, seems that this is a pulsar issue

[2021-08-24 08:03] ThreadDao opened #7262 "Optimize helm env in scale test"
#### What would you like to be added:
1. fix helm install error by invalid milvus helm chart
2. add export pod logs function

#### Why is this needed:
1. optimize helm deploy
2. export logs and upload to issue

[2021-08-24 08:03] xiaofan-luan commented on #6747
close for now, the etcd issue still need to be tracked by other issues

[2021-08-24 08:03] #6747 closed

[2021-08-24 08:07] xiaocai2333 commented on #6110
Can you reproduce it again? @yanliang567

[2021-08-24 08:07] #7262 closed

[2021-08-24 08:12] yanliang567 commented on #6110
@ThreadDao please help to repro it
/assign @ThreadDao

[2021-08-24 08:15] xiaofan-luan commented on #7252
also it looks like the rootcoord failed to connect etcd for 04:14 to 05:45, while the etcd start from 05:42. Do you have more rood coord log after 5:45? @Bennu-Li

[2021-08-24 08:18] xiaofan-luan commented on #7251
please offer logs for proxy, datanode, datacoord, thanks !

[2021-08-24 08:20] xiaofan-luan commented on #7222
/assign @xiaocai2333

[2021-08-24 08:23] del-zhenwu commented on #7251
It's standalone version, and the logs of the standalone pod is missed, this issue was fixed by devops, maybe we can get the logs in the next running.

[2021-08-24 08:25] binbinlv opened #7264 "Input metric parameter is changed in calc_distance interface"
#### Steps/Code to reproduce:
[code]

#### Expected result:
pymilvus.client.exceptions.ParamError: 'abc' metric type is invalid for float vector

#### Actual results:
pymilvus.client.exceptions.ParamError: ABC metric type is invalid for float vector

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): latest
- Deployment mode(standalone or cluster): standalone
- SDK version(e.g. pymilv

[2021-08-24 08:27] bigsheeper commented on #7022
Argo link is unavailable @del-zhenwu

[2021-08-24 08:34] xiaofan-luan commented on #7171
We have technical discussion biweekly https://wiki.lfaidata.foundation/pages/editpage.action?pageId=43287098

[2021-08-24 08:34] xiaofan-luan commented on #7171
you are also welcomed to ask questions at discussion or our wechat group

[2021-08-24 08:36] xiaofan-luan commented on #7232
nope, v1.0 has similar behavior as 0.10

[2021-08-24 08:40] xiaofan-luan commented on #7238
can we have puslar logs and see why?

[2021-08-24 08:43] xiaofan-luan commented on #7210
Let's only change data format in pulsar. Rest of the format let's leave to later version after 2.0

[2021-08-24 08:46] #6055 closed

[2021-08-24 08:46] #6106 closed

[2021-08-24 08:50] yanliang567 commented on #7150
data compatibility issue, shall be fixed in rc5

[2021-08-24 08:50] yanliang567 commented on #7150
/assign @sunby

[2021-08-24 08:58] xiaofan-luan commented on #6379
close for now

[2021-08-24 08:58] #6379 closed

[2021-08-24 09:00] xiaofan-luan commented on #5144
what kind of cases do we need error code?

[2021-08-24 09:00] xiaofan-luan commented on #5144
@scsven

[2021-08-24 09:06] godchen0212 opened #7267 "Unreasonable timeout on ci"
#### Steps/Code to reproduce:
Create a pr and run ci process
https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-ha-ci/branches/PR-7261/runs/4/nodes/42/steps/59/log/?start=0

#### Expected result:
From the beginning to the end of the pytest, if it exceeds 30 minutes, it will be counted as a timeout

#### Actual results:
Only 13 minutes from the start of pytest to th

[2021-08-24 09:25] yanliang567 commented on #5519
related to #6753

[2021-08-24 10:02] ThreadDao opened #7269 "Not exist milvus chart path in CI"
#### Steps/Code to reproduce:
[code]

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-08-24 10:05] bigsheeper commented on #7022
/assign @del-zhenwu

[2021-08-24 10:32] Bennu-Li commented on #7252
I don't have any more. Attached are all logs of rootcord.

[2021-08-24 11:11] #7133 closed

[2021-08-24 11:13] godchen0212 commented on #6933
There is no need to actively revoke the key and value related to the lease.
We should let the key and value be revoked passively after the lease is disconnected.
I think this issue is unnecessary to revoke lease key when to stop.
If there are no other problems, I will close this issue in a few days.

[2021-08-24 11:16] godchen0212 commented on #6789
If there are no more questions and information, I will close this issue in a few days.

[2021-08-24 14:11] dubeamit opened #7275 "Failed to load index file: DISK2CPU : Failed to load deleted docs from"
### Discussed in https://github.com/milvus-io/milvus/discussions/7274

<div type='discussions-op-text'>

<sup>Originally posted by **dubeamit** August 24, 2021</sup>
I have two servers in cluster mode one in RW mode & the other in RO mode, the milvus version is v0.10.2.
I'm trying to upgrade the milvus from v0.10.2 to v1.1.1.
So in a new servers(two server same as above in cluster mode) I installe

[2021-08-24 14:45] xiaofan-luan commented on #6232
already finish the document, so close it

[2021-08-24 14:45] #6232 closed

[2021-08-25 01:50] LoveEachDay opened #7277 "Refine ci etcd memory usage"
#### What would you like to be added:
Enable etcd auto compaction to reduce the memory growth rate and db size.
#### Why is this needed:
During the ci tests, the memory growth of etcd is very steep.
![image](https://user-images.githubusercontent.com/1573213/130712821-022930c4-ed33-471f-8472-0869fc0d010c.png)

And we also find several keys are modified very frequently, enabling auto compaction can

[2021-08-25 02:01] yhmo commented on #5007
This is a bug of mishards. But we have no resource to deal with mishards issues now, most of resource is put into v2.0. Keep it as a know issue, wait v2.0 to replace mishards.

[2021-08-25 02:18] del-zhenwu commented on #7251
https://kibana-dev.zilliz.cc/app/discover#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'2021-08-24T21:43:17.710Z',to:'2021-08-24T21:45:01.827Z'))&_a=(columns:!(log),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:ad1e1c50-c9d9-11eb-9e1a-b3dcad9693fd,key:kubernetes.pod_name,negate:!f,params:(query:benchmark-cluster-cron-1629835200-1-milvus-standalone-56799x5

[2021-08-25 02:40] XuanYang-cn commented on #7117
Closing for not reproducible.

[2021-08-25 02:40] #7117 closed

[2021-08-25 02:49] binbinlv opened #7280 "Current execution time limit is not enough for nightly tests"
#### Steps/Code to reproduce:

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-08-25 03:29] #6915 closed

[2021-08-25 03:33] XuanYang-cn commented on #6889
I've checked the codes, the `__enter__` and `__exit__` exist.

**Real Problem:**
This error occurred because the `self._connection()` returned `None`, when `with None:`, it'll raise AttributeError.

For example:
[code]
So, only when `self._pool` is None so that `self._connections()` will return None.

`self._pool` is None can be caused by `close()`,  or `Milvus` object is being garbage collected

[2021-08-25 03:33] #7280 closed

[2021-08-25 03:43] yhmo commented on #7264
The api description mentioned the "metric_type" is "case insensitive". But anyway, the message should return the original text.

[2021-08-25 03:44] XuanYang-cn commented on #7154
/assign @XuanYang-cn

[2021-08-25 03:51] #7277 closed

[2021-08-25 03:58] binbinlv commented on #7217
Verified and fixed.

Name: pymilvus
Version: 2.0.0rc5.dev24

[2021-08-25 03:58] #7217 closed

[2021-08-25 04:20] yhmo commented on #7154
This issue also can be a good first issue for pymilvus:
https://github.com/milvus-io/milvus/issues/7264

[2021-08-25 06:11] #7267 closed

[2021-08-25 06:27] zwd1208 opened #7288 "Add management api for readiness check"
#### What would you like to be added:
All Milvus components (datanode,querynode etc..) should expose readiness check, such as
GET /healthz
When Milvus component is ready to serve traffic, this endpoint returns 200 and reponse body: "OK"
When Milvus component is not ready to serve traffic, this endpoint returns 500 and reason in reponse body: "Waiting indexcoord ready"

#### Why is this needed:
By

[2021-08-25 06:59] wangting0128 commented on #7251
test yaml：
[code]

argo task name： benchmark-k7rpj

server deploy：
NAME: benchmark-k7rpj-1
LAST DEPLOYED: Wed Aug 25 02:43:22 2021
NAMESPACE: qa-milvus
STATUS: deployed
REVISION: 1
TEST SUITE: None
I0825 02:49:22.275789      28 request.go:665] Waited for 1.142643207s due to client-side throttling, not priority and fairness, request: GET:https://kubernetes.default.svc.cluster.l
ocal/apis/storage.k8

[2021-08-25 07:09] jeffoverflow commented on #6753
/assign @LoveEachDay

[2021-08-25 07:11] #7245 closed

[2021-08-25 07:22] ThreadDao commented on #6110
1. Version
[code]
2. Result
[code]
So close it first!

[2021-08-25 07:22] #6110 closed

[2021-08-25 07:23] yanliang567 commented on #5463
this issue still repros on rc4

[2021-08-25 07:25] yanliang567 opened #7291 "add stale label"
add a stale label to indicate issues that no updates for 30 days

[2021-08-25 07:27] GopinathCool opened #7293 "Milvus flush takes long time to flush the data"
Milvus flush method, takes long time to flush the data to disk, I tested with 30 images of 512 dimension. I also attached the step where it takes time,

#### Steps/Code to reproduce:
File "milvus_hnsw2.py", line 318, in <module>
    main()
  File "milvus_hnsw2.py", line 288, in main
    flush(name)
  File "milvus_hnsw2.py", line 209, in flush
    milvus.flush([name])
  File "/home/devops/Envs/milv

[2021-08-25 07:40] yhmo commented on #7232
I got error with your script:
404 Client Error: Not Found for url: https://huggingface.co/api/models/sentence-transformers/model_path

I think the root cause is you didn't call the flush() between the insert() and get_entity_by_id():
[code]

[2021-08-25 07:48] yanliang567 commented on #6264
this issue repos on rc4

[2021-08-25 07:49] #7291 closed

[2021-08-25 08:40] ThreadDao opened #7296 "An syncTimeStamp Failed exception occurs after the dataCoord is killed and restarted"
#### Steps/Code to reproduce:
You can reproduce by chaos test:
1. deploy milvus with cluster mode
2. update ALL_CHAOS_YAMLS = 'chaos_datacoord_podkill.yaml' in /milvus/tests20/python_client/chaos/constants.py
3. cd tests20/python_client/chaos and pytest test_chaos.py --host 10.98.0.x -v -s
4. after dataCoord kill test, run test_e2e.py cd tests20/python_client and pytest testcases/test_e2e.py --hos

[2021-08-25 09:15] binbinlv opened #7297 "key "metric_type" and "metric" exist simultaneously in calc_diatance parameters"
#### Steps/Code to reproduce:
[code]

#### Expected result:
pymilvus.client.exceptions.ParamError: params value {'metric_type': {1: 1}} is illegal

#### Actual results:
pymilvus.client.exceptions.ParamError: params value {'metric_type': {1: 1}, **'metric': {1: 1}**} is illegal

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e

[2021-08-25 09:26] DragonDriver commented on #6954
/assign @cydrain

[2021-08-25 09:28] cydrain commented on #6954
use this script to re-produce
[code]

[2021-08-25 09:30] cydrain commented on #6954
The root cause is rootcoord broadcast tt msg too slowly after creating 400 collections.
[code]

[2021-08-25 09:44] DragonDriver commented on #6954
can be simply reproduced by below scripts:

[code]

[2021-08-25 09:44] DragonDriver commented on #6954
time cost:

[code]

[2021-08-25 09:45] DragonDriver commented on #6954
The reason is that timestamp of pChan moves too slow.

[2021-08-25 10:04] czs007 commented on #6997
@bigsheeper  is working on this.  Have figured out the reason.

[2021-08-25 10:05] #7256 closed

[2021-08-25 10:12] jaelgu commented on #7214
I used cluster (rc4)& kubernetes and got a similar issue: fail create index after re-install release with data inserted before.
｜ ERROR ｜ grpc_handler.py ｜ handler ｜ 61 ｜ Error: <BaseException: (code=1, message=The specified key does not exist.)>

[2021-08-25 10:27] yhmo commented on #7297
I think it is no matter. User can input "metric" or "metric_type", both ok.

[2021-08-25 10:33] yhmo commented on #7275
Can you check how many files under this folder?
/var/lib/milvus/db/tables/collection_name_here/1625057705479894000

[2021-08-25 10:38] LemonSqi opened #7299 "Some suggestions on the high availability solution of Milvus open source vector search framework"
Hello, Milvus Engineers:

Recently, I was thinking about how to design the high availability solution of Milvus - open source framework to meet the needs of actual business scenarios. In this regard, through the previous research results of Milvus generation 1 and generation 2 architecture, it is found that Milvus still has some deficiencies in data availability. I hope to hear the suggestions of

[2021-08-25 11:01] binbinlv opened #7300 "Milvus crashed with panic when running nightly CI tests"
#### Steps/Code to reproduce:
Run nightly CI test cases:

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/115/artifacts

#### Expected result:
No panic

#### Actual results:
panic occurs

This first panic log may be in 0.log.20210825-064810

![2021825-19039](https://user-images.githubusercontent.com/83755740/130779276-a20b91f7-304e-4e73-8105-f1c61fa06c

[2021-08-25 11:05] dubeamit commented on #7275
There are no folders inside it..
[code]

[code]

[2021-08-25 11:09] dubeamit commented on #7275
There are no folders inside it..
[code]

[code]

[2021-08-25 13:07] dubeamit commented on #7275
So I killed the milvus docker deleted the **db** folder and restore the backup **db**. Before starting the milvus docker 1625057705479894000 this folder doesn't exists. As soon as I start the docker and do a milvus search the folder(1625057705479894000) gets created automatically. But the folder is empty.
When I restore it with milvus v0.10.2 this folder doesn't get created.

[2021-08-26 04:19] ThreadDao opened #7306 "Drop collection failed: can't find collection even if the collection is created successfully"
#### Steps/Code to reproduce:
1. deploy milvus with cluster mode (by milvus helm chart)
2. create a collection `e2e__k78CN3kh` and insert data
3. delete etcd pod with `kubectl delete pod {etcd}`
4. create collection `e2e__TRYI7BW9` and drop collection

#### Expected result:
If collection create successfully, then drop collection shouldn't raise exceptions that can't find collection

#### Actual re

[2021-08-26 07:49] binbinlv opened #7308 "panic: runtime error: invalid memory address or nil pointer dereference"
#### Steps/Code to reproduce:
Running test cases on local kind env.

[code]

#### Expected result:
No panic

#### Actual results:
panic occurs, and "server is not healthy, please try again later"

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): 055d94e
- Deployment mode(standalone or cluster): standalone
- SDK version(e.g. pymilvus v2.0.0rc2):
Name: pymilvus
Version: 2.0.0rc5.dev27

[2021-08-26 08:16] ThreadDao opened #7309 "An syncTimeStamp Failed exception occurs after the etcd pod is deleted and restarted"
#### Steps/Code to reproduce:
1. deploy milvus with cluster mode by helm
2. run test_e2e.py to sure the milvus is available
3. delete the etcd pod `kubectl delete pod xx`
4. after etcd pod turns into running, run test_e2e.py (connect-> create -> insert..)

#### Expected result:
Insert data successfully

#### Actual results:
Insert failed
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 o

[2021-08-26 10:15] xige-16 opened #7315 "Add removeDmChanel interface for queryNode"
#### Is your feature request related to a problem? Please describe:

queryNode will watchDmChannel, removeDmChannel, loadSegment, releaseSegment, watchQueryChannel, removeQueryChannel when loading balance

#### Describe the solution you'd like:

#### Describe alternatives you've considered:

#### Additional context:

[2021-08-26 11:05] fishpenguin opened #7317 "Support query by expression"
#### What would you like to be added:

Currently query api only support query by primary keys.
I would like to support query by any kind of expression include by non-primary key fields .

[2021-08-26 11:06] binbinlv opened #7319 "insert timeout when running CI"
#### Steps/Code to reproduce:
Running CI: [FAILED testcases/entity/test_insert.py::TestInsertBase::test_insert_flush_drop_collection]

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-7314/1/pipeline/71/

Logs:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-7314/1/artifacts

#### Expected result:
Insert successfully

#### Ac

[2021-08-26 11:39] binbinlv opened #7321 "CI hangs without return (cluster version )"
#### Steps/Code to reproduce:
Running CI:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-7314/1/pipeline/46

Logs: (cluster verison: artifacts-milvus-distributed-PR-7314-1-pymilvus-e2e-logs.tar.gz)
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-7314/1/artifacts

#### Expected result:
No hangs

#### Actual results:
RPC time

[2021-08-27 01:38] yanliang567 opened #7326 "Querynode memory consumption suddenly increased even there are no search requests"
#### Steps/Code to reproduce:
1. Milvus 2.0 cluster
2. insert 128d-10m entities
3. build index(building index failed due to client connection stopped by accident)
4. do nothing

#### Expected result:
memory consumption keeps smoothly

#### Actual results:
querynode memory increased suddenly after 9hours (at 09:30)
![Screen Shot 2021-08-27 at 9 28 54 AM](https://user-images.githubusercontent.com/82

[2021-08-27 05:12] binbinlv opened #7333 "Test case "test_release_partition_during_searching" should be updated for the behavior change for searching released partitions"
#### Steps/Code to reproduce:
For milvus 2.0 version, searching released partitions should return error.

while the original case could search 0 result.

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

[2021-08-27 05:22] binbinlv opened #7334 "Test case "test_query_term_field_named_term" should be updated while insert results change"
#### Steps/Code to reproduce:
Currently,  ids are from "primary_keys" of insert results, while insert returns ids directly in original cases.

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Confi

[2021-08-27 09:04] bigsheeper opened #7337 "Unittests code coverage to 60% in query node"
#### Steps/Code to reproduce:

#### Expected result:
Unittests code coverage to 60% in query node

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-08-27 09:25] wangting0128 opened #7338 "[benchmark] [standalone] "proxy not healthy" during query collection and raises StatusCode.UNAVAILABLE"
#### Steps/Code to reproduce:

test yaml：
[code]

argo task name： benchmark-cron-stable-1630000800

server deploy：
[code]

client log：
[code]

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):  bdb8396
- Deployment mode(standalone or cluster): standalone
- SDK version(e.g. pymilvus v2.0.0rc2): pymilvus 2.0.0rc5.dev25
- OS(Ubuntu or CentOS)

[2021-08-27 10:24] czs007 opened #7341 "Add unittest for SegIDAssigner"
Add unit test to SegIDAssigner.
Add some logs to track errors such as "failSegmentRemain: unexpected error".

[2021-08-27 11:10] binbinlv opened #7343 "syncTimeStamp Failed under multiple replica"
#### Steps/Code to reproduce:
Running some test cases under multiple replica env:
[code]

env:
[code]

Logs:
[log.tar.zip](https://github.com/milvus-io/milvus/files/7066496/log.tar.zip)

#### Expected result:
No errors

#### Actual results:
when initializing collection:
[code]

#### Environment:
- Milvus version(): 2dc2cb1
- Deployment mode(): cluster
- SDK version():
Name: pymilvus
Version: 2.0.0

[2021-08-27 11:26] zhuwenxing opened #7344 "Querycoord container exited in less than 1 minutes when re-install cluster milvus"
#### Steps/Code to reproduce:
* deploy Milvus by docker-compose up -d
* insert data and create index
* shut down milvus by docker-compose down (keep volumes dir)
* re-install milvus by docker-compose up -d
* check containers status
#### Expected result:
all containers running

#### Actual results:
querycoord container exited in less than 1 minutes

#### Environment:
- Milvus version : 2dc2cb1
- De

[2021-08-28 02:21] #7341 closed

[2021-08-28 04:43] Z4HRA-S commented on #7232
I tried it with flush and with a random numpy vector. The problem is still here.

[2021-08-28 07:02] binbinlv commented on #7300
Same panic occurs again on nightly test cases:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/118/artifacts

artifacts-milvus-standalone-master-118-e2e-nightly-logs:

0.log.20210827-153118:
[code]

[2021-08-28 07:03] binbinlv commented on #7300
Set this issue as critical because it will crash milvus, and could be reproduced.

[2021-08-28 07:13] wangting0128 commented on #6828
copy that

[2021-08-28 09:01] binbinlv opened #7348 "Proxy crashed: panic: runtime error: index out of range [0] with length 0"
#### Steps/Code to reproduce:
Running L0, L1 test cases on multiple replica env:
[code]

Logs:
[log.tar.zip](https://github.com/milvus-io/milvus/files/7070415/log.tar.zip)

#### Expected result:
No crash

#### Actual results:
proxy crashed:
Fail connecting to server on  ...... Timeout

[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):  af574d1
- Deployment mode(standalone or

[2021-08-28 17:57] #6591 closed

[2021-08-29 03:18] xiaofan-luan commented on #6690
@czs007  are we still actively working on this?

[2021-08-29 03:38] xiaofan-luan commented on #7150
/assign @zhuwenxing

[2021-08-29 03:39] #7150 closed

[2021-08-29 03:53] xiaofan-luan commented on #7344
/assign @zhuwenxing zhu

[2021-08-29 03:57] xiaofan-luan commented on #7171
close for now, we've already working on tech designs of segment compaction

[2021-08-29 03:57] #7171 closed

[2021-08-29 12:15] BUPTAnderson opened #7349 "Sometimes search requests take a long time"
#### Steps/Code to reproduce:
The client keeps sending search requests(only send search requests)
Most search requests take about 30 ms，but sometimes the search requests take more than 200 ms

#### Expected result:
All the search requests take about 30ms

#### Actual results:
I sequential print the time cost (ms) of every search request. The results of a certain test are as follows:
[code]

#### E

[2021-08-29 13:37] xiaofan-luan commented on #7349
Let me go through on the code and investigate~ please let me know if you have any updates~

[2021-08-29 13:38] xiaofan-luan commented on #7349
we probably need more monitoring metrics on it

[2021-08-29 15:09] xiaofan-luan commented on #7349
Seems it is because the tsafe is late.
To maintain search consistency, all search has to wait until  guaranteeTs < serviceTime.
For Querynode1 and Querynode2, the tsafe is late, which case search request wait around 300ms to finish.

We need to support search with relaxed ganruateed timestamp so the system won't blocked for so long

[2021-08-29 15:23] #6544 closed

[2021-08-29 15:28] xiaofan-luan opened #7350 "Change join us part in Readme"
#### What would you like to be added:
change join us part since we are looking for talents in different field

[2021-08-30 01:48] xiaocai2333 commented on #6919
doc link: https://github.com/milvus-io/milvus/blob/master/docs/design_docs/index_design.md

[2021-08-30 01:48] xiaocai2333 commented on #6919
/close

[2021-08-30 01:48] #6919 closed

[2021-08-30 02:01] DragonDriver commented on #7154
/assign @DragonDriver

[2021-08-30 02:07] zhuwenxing commented on #7344
Verified and fixed.
Version: af574d1

[2021-08-30 02:07] #7344 closed

[2021-08-30 02:16] #7211 closed

[2021-08-30 02:26] congqixia commented on #7179
After inspecting the log:
https://kibana-dev.zilliz.cc/app/discover#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'2021-08-19T09:40:57.813Z',to:'2021-08-19T09:41:06.721Z'))&_a=(columns:!(log),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:ad1e1c50-c9d9-11eb-9e1a-b3dcad9693fd,key:kubernetes.pod_name,negate:!f,params:(query:benchmark-cluster-cron-nhg6t-5-milv

[2021-08-30 02:40] zhuwenxing commented on #7142
Verified and fixed.
Version:af574d1

[2021-08-30 02:40] #7142 closed

[2021-08-30 02:48] ThreadDao commented on #7306
I reproduced it in version `65f168e Mon Aug 30 02:07:15 UTC 2021`

[2021-08-30 03:05] congqixia opened #7353 "fmt.Println should not be used"
The logger output should be unified. All `fmt.Println` usage should be eliminated

[2021-08-30 03:23] sunby commented on #7306
Proxy received 2 DropCollection requests. RootCoord remove collection meta from memory and send this message to other services.  Because etcd crashed and rootcoord can not find other services from etcd, the first DropCollection timeout. After the first timeout, client resend the request and RootCoord can not find the collection info in memory so it returned `can't find collection: ` error.

[2021-08-30 03:23] binbinlv commented on #7300
Same panic occurs again on nightly cases: (standalone)
https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/119/

milvus:af574d1
pymilvus: 2.0.0rc5.dev29

artifacts-milvus-standalone-master-119-e2e-nightly-logs:

0.log.20210828-155741

[code]

[2021-08-30 03:44] sunby commented on #7293
We recommend that you use the rc5 version. It fixed some flush and query problems.

[2021-08-30 03:46] scsven commented on #7149
/assign @xiaofan-luan

[2021-08-30 03:47] xiaofan-luan commented on #7353
agree. print should only be used while debug~

[2021-08-30 03:54] xiaofan-luan commented on #7350
duplication, close fore now

[2021-08-30 03:54] #7350 closed

[2021-08-30 03:58] congqixia opened #7356 "CollectionStatistics row count not matched"
Case ci link:

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-7355/1/pipeline/46/

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): commit 5fe96b9
- Deployment mode(standalone or cluster): standalone
- SDK version(e.g. pymilvus v2.0.0rc2): ci env
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

[2021-08-30 04:04] xiaofan-luan opened #7357 "Refine logs in proxy search path"
#### What would you like to be added:
Refine logs in proxy search path.
1) remove duplicated logs in proxy reduce
2) add timing metrics for investigate
#### Why is this needed:
make easier for problem investigation

[2021-08-30 04:07] jaelgu opened #7359 "Milvus-CLI: Search failed, C runtime error detected. Error in virtual milvus::knowhere::DatasetPtr milvus::knowhere::I"
#### Steps/Code to reproduce:

Install and use milvus-cli (https://github.com/milvus-io/milvus_cli)
1. create collection -n test_collection -f pk:INT64:primary_field -f emb:FLOAT_VECTOR:128 -f test_field:INT64:test_field -p pk -d 'test_description'
2. import milvus_cli > import 'my_csv_path' -c test_collection
(3000 rows inserted successfully)
3. create index -c test_collection
4. load -c test_col

[2021-08-30 04:19] wz520bb opened #7360 "使用go sdk并发访问慢"
创建了一个client长链接，单个search很快，并发搜索就慢了，这是为什么

[2021-08-30 05:25] xiaofan-luan commented on #7360
please use english to help all the folks in the community ,Thanks

[2021-08-30 05:25] #7360 closed

[2021-08-30 06:35] wz520bb opened #7361 "Slow concurrent search using go SDK"
Created a customer to break long links. One search is fast and concurrent search is slow. Why

[2021-08-30 07:10] binbinlv commented on #7006
Similar issue occurs when running nightly CI, so pasted here if it is the same root cause and could be a help.

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/118/artifacts
distributed version:
artifacts-milvus-distributed-master-118-e2e-nightly-logs.tar.gz

[2021-08-27T19:59:42.637Z] testcases/test_search_20.py::TestCollectionSearch::test_search_with

[2021-08-30 07:16] yanliang567 commented on #7338
blocking stability testing

[2021-08-30 07:22] congqixia commented on #7361
Hi, @wz520bb, thanks for the reply!
Are you using milvus2.0 and related go SDK? If that is the case, currently `query node` has a queue for all the incoming search request. If you need to boost the speed for search by firing the search request concurrently, maybe you need to scale up the number of query nodes.
If that's not case, could you please provide related version and logs?

[2021-08-30 07:30] sunby commented on #7220
I found that client retried many times to connect to proxy (by log 'RegisterLink'). Test's timeout is 20s, every RegisterLink interval in log is about 20s. I guess that client connect to proxy successfully but operations timeout by some reason.

[2021-08-30 07:39] wz520bb commented on #7361
version:1.1.0，3 Milvus service，The concurrency number is 15, and the request is normal，but The concurrency number is 100, the request is slow

[2021-08-30 07:47] binbinlv opened #7362 "Search result is wrong when the condition in filter expression "in" is not in order"
#### Steps/Code to reproduce:
[code]

#### Expected result:
searched results are correct

#### Actual results:
Wrong searched results
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): latest
- Deployment mode(standalone or cluster): standalone
- SDK version(e.g. pymilvus v2.0.0rc2):

- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additi

[2021-08-30 07:48] yhmo commented on #7361
@wz520bb
You say "3 milvus service", is means you launched 3 milvus server? Are they using different db folder?
Please provide more information:
- the server config, especially the `cache_size`
- how many vectors, and dimension
- did you create index? what type of the index? what is the parameters of index?
- the `index_file_size` is?
- your search parameters? nq/nprobe/topk

[2021-08-30 07:50] xige-16 commented on #7338
[2021/08/27 00:02:06.569 +00:00] [INFO] [grpclog.go:37] ["[core]Subchannel Connectivity change to CONNECTING"]
[2021/08/27 00:02:06.569 +00:00] [INFO] [grpclog.go:37] ["[core]Subchannel Connectivity change to CONNECTING"]
[2021/08/27 00:02:06.569 +00:00] [INFO] [grpclog.go:37] ["[core]Subchannel Connectivity change to CONNECTING"]
[2021/08/27 00:02:06.569 +00:00] [INFO] [grpclog.go:37] ["[transpor

[2021-08-30 07:52] xige-16 commented on #7338
[standalone_err.log](https://github.com/milvus-io/milvus/files/7075083/standalone_err.log)

[2021-08-30 07:52] xige-16 commented on #7338
[core]grpc: addrConn.createTransport failed to connect to {benchmark-cron-stable-1630000800-1-etcd:2379 benchmark-cron-stable-1630000800-1-etcd <nil> 0 <nil>}. Err: connection error: desc = \"transport: Error while dialing dial tcp: lookup benchmark-cron-stable-1630000800-1-etcd on 10.96.0.10:53: server misbehaving\". Reconnecting..."]

[2021-08-30 07:53] czs007 commented on #7306
I tend to make drop/create collections idempotent.  how do you think? @sunby @ThreadDao @xiaofan-luan
If it is made idempotent, I wonder if the test case needs to be changed a lot? @ThreadDao

[2021-08-30 07:56] sunby commented on #7220
Client will call DescribeCollection before calling Insert. We can find that DescribeCollection succeed. But no insert log was printed due to bad log output. I guess that alloc id/tso from rootcoord timeout. I have improved the log print. Please anyone who can reproduce it provide full log files.

[2021-08-30 08:07] sunby commented on #7306
If we have deleted a collection the first time but fail to send response to client. The client resend the request and what do you want to return, non-existed-collection error or success? If you return an error, it's werid that you successfully delete a collection but return an error. If return success, you can not diff whether the collection actually exist before you drop.

[2021-08-30 08:09] gistart opened #7365 "No sqrt in L2 calculation?"
Looks like Milvus v2 does not calculate square root for L2 metric, which is super confusing.

If it's the intended behaviour and not a bug -- this definitely should be mentioned in the docs: https://milvus.io/docs/v2.0.0/metric.md#Euclidean-distance-L2

#### Steps/Code to reproduce:

Full script: https://pastebin.com/m4x7DQd7

[code]

#### Expected vs actual results:

[code]

#### Environment:
- M

[2021-08-30 08:10] wz520bb commented on #7361
yes，3 milvus server
1.server config:
     wal:
        enable: true
        recovery_error_ignore: false
        buffer_size: 512MB
        path: /home/xiaoju/data1/milvus/wal
cache:
  cache_size: 10GB
  insert_buffer_size: 2GB
  preload_collection:
gpu:
  enable: false
  cache.enable: false
  cache_size: 1GB
  gpu_search_threshold: 1000
  search_devices:
    - gpu0
  build_index_devices:
    - gp

[2021-08-30 08:11] xiaofan-luan commented on #7365
/assign @yhmo

[2021-08-30 08:11] xiaofan-luan commented on #7365
@yhmo could you please take a look? thanks

[2021-08-30 08:12] xige-16 commented on #7338
etcd error info
[code]

[2021-08-30 08:12] xige-16 commented on #7338
It seems that the etcd server is shut down.

[2021-08-30 09:07] FT-JMendyk commented on #1127
While support for storing data in S3 is a nice feature, support for one-command backup/restore process is not present in Milvus.
I think that @ndtreviv provided a clean and sensible set of requirements for the backup solution that many users find important and useful for Milvus to have.

@yhmo As such, could you please reopen this issue?

[2021-08-30 09:15] godchen0212 commented on #7006
According to the log, I cannot find the log about the proxy receiving this create collection.
It may be because the request was not received, or it was stuck in the process of enlisting.
I will modify the existing log to make sure the cause of the problem.

[2021-08-30 09:47] czs007 commented on #7300
@czs007 is working on it.

[2021-08-30 10:04] yhmo commented on #7365
@gistart

The "sqrt" is an optional parameter. You can set the params like this: {"metric_type": "L2", "sqrt": true}
The following is the description of the params:
[code]

[2021-08-30 10:14] gistart commented on #7365
@yhmo

Thank you!

In my test script I show that collection search also does not compute sqrt by default (I trimmed example code for clarity).

Found this docstring only for `utility.calc_distance` function. Does it also work for collection search?

[2021-08-30 10:19] yhmo commented on #7361
How many partitions you created?
If there are only 2000 vectors in each partition, the index won't take effect. Since there is only one segment(2000 rows) in each partition, the index builder only build segment which row count larger than 4096. So your search is brute-force search.

If there are many partitions, the latency between MySQL and milvus also become longer. Because milvus need to perfor

[2021-08-30 10:26] yhmo commented on #7365
Search api has no such parameter to compute sqrt value. Because ANN search is not accuracy, sqrt the distance doesn't help to get a more precise result.  And sqrt computing will cost more cpu cycle,  performance is bad. So search api doesn't support sqrt.

[2021-08-30 10:38] gistart commented on #7365
Well, computing it client-side e.g. via python costs significantly more cpu than server-side (via c/go).

And it's not necessarily about accuracy, more like existing models w/ predetermined threshold values.

Thank you!

[2021-08-30 10:39] wz520bb commented on #7361
150 partitions，How to optimize

[2021-08-30 18:36:15,792][INFO][SERVER][Search][grpcpp_sync_ser] Request [8228518] Search begin.
[2021-08-30 18:36:15,792][INFO][SERVER][OnPreExecute][grpcpp_sync_ser] [search][0] Search pre-execute. Check search parameters
[2021-08-30 18:36:15,792][INFO][SERVER][OnExecute][reqsched_thread] [search][0] Search execute.
[2021-08-30 18:36:15,805][INFO][SERVER][Search][

[2021-08-30 10:59] shiyu22 commented on #6904
Update it, and the hybrid search is for Milvus1.x, you can refer to https://github.com/milvus-io/bootcamp/tree/1.1/solutions/hybrid_search

[2021-08-30 11:22] congqixia commented on #7356
Automated executed related testcase for hours. Cannot reproduce.

[2021-08-30 11:27] #6644 closed

[2021-08-30 11:33] binbinlv opened #7370 "Test case "test_close_repeatedly" should be updated to the new behavior"
#### Steps/Code to reproduce:

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-08-30 12:12] #7333 closed

[2021-08-30 12:13] #7370 closed

[2021-08-30 12:40] xige-16 commented on #7338
The reason for this problem is that etcd is indeed closed, this is not the cause of the bug.

[2021-08-30 12:41] ThreadDao opened #7372 "The response of Pymilvus and ORM is inconsistent when drop index repeatedly"
#### Steps/Code to reproduce:
[code]
a. In Pymilvus:  dropping index repeatedly is allowed (no exception)
b. In ORM: dropping index repeatedly will throw an exception

#### Expected result:
Although the Pymilvus is not exposed to users, it is currently accessible by `connect(ORM)`. Therefore the response should be unified.

#### Actual results:
In Pymilvus no exception
In ORM throw exception `<Ind

[2021-08-30 15:25] hadim opened #7373 "Support `BIN_IVF_FLAT` for substructure/superstructure metrics"
#### Is your feature request related to a problem? Please describe:

I want to use `BIN_IVF_FLAT` to increase search speed versus `BIN_FLAT` with superstructure and substructure metrics.

#### Describe the solution you'd like:

Support `BIN_IVF_FLAT` for superstructure and substructure metrics.

#### Describe alternatives you've considered:

Use `BIN_FLAT`.

#### Additional context:

---

ping @ma

[2021-08-30 15:34] hadim commented on #7373
According to https://github.com/milvus-io/milvus/issues/1603, `IVF_FLAT` is not possible for those two metrics.

Can someone confirm this?

[2021-08-30 18:38] kevinzezel opened #7374 "Collection load not working on pymilvus_orm"
Hi,

I'm trying to insert a base with 45 million of embeddings and dimension 512. I'm using pymilvus v2.0.0rc4.

Code:
[code]

The insert takes 4 hours to complete and when does, the query by primary key always return [].

I realise that the time to load one collection is very small, only 0.2s. That is, it is not loading, not even in the background. The memory ram does not increase.

Then i decide

[2021-08-31 02:08] yanliang567 commented on #6954
will close after verification

[2021-08-31 02:11] congqixia commented on #6631
Hi @filip-halt, I tried to reproduce the bug you stated but the number of vectors and the number inserted are the same. I was wondering that if you could provide the test script and Milvus version you tested with?

[2021-08-31 02:11] yanliang567 opened #7375 "Udpate test ReadMe after pymilvus_orm mergence"
In python test ReadMe, there are some statement about pymilvus_orm, which was out of date. Now pymilvus_orm was merged into pymilvus, so we need to update the statements accordingly

[2021-08-31 02:12] congqixia commented on #6631
/assign
/unassign @sunby

[2021-08-31 02:23] XuanYang-cn commented on #6889
/assign

[2021-08-31 02:25] sunby commented on #6246
@ThreadDao This problem is fixed in rc5. Please try to reproduce it.

[2021-08-31 02:31] #6892 closed

[2021-08-31 03:01] yanliang567 commented on #7220
@sunby it repro on master-20210830-1c88c8b
[code]

[2021-08-31 03:42] yhmo commented on #7373
In Milvus, for binary vectors, IVF is not available for substructure and superstructure. Because the two metrics are Non-metric distance: https://37steps.com/1617/non-euclidean-and-non-metric-dissimilarities/

[2021-08-31 03:45] #7162 closed

[2021-08-31 03:55] #7375 closed

[2021-08-31 06:15] yanliang567 commented on #7359
According to my experience, it was caused by the search params are not matched with the index params, please refer to https://milvus.io/docs/v2.0.0/index_selection.md and double check the search params

[2021-08-31 07:07] ThreadDao opened #7379 "Need to merge index cases of Pymilvus and ORM"
#### What would you like to be added:
Merge index cases of Pymilvus and ORM into tests/python_client/testcases/test_index_20.py

#### Why is this needed:
1. Test cases for create_index are distributed in two files
2. Part of the test case is repeated

[2021-08-31 08:21] godchen0212 opened #7381 "Fix go.mod missing atomic error when make"
#### Steps/Code to reproduce:
make all

#### Expected result:
Build milvus success

#### Actual results:
error:
go: github.com/milvus-io/milvus/internal/rootcoord: package go.uber.org/atomic imported from implicitly required module; to add missing requirements, run:
	go get go.uber.org/atomic@v1.7.0

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cl

[2021-08-31 08:47] sunby commented on #7220
[code]

[2021-08-31 08:55] congqixia commented on #7215
Using RC5 version, cannot reproduce with part of sift1m data with 3 query node running. Could you please retry with the latest version? @filip-halt

[2021-08-31 08:55] congqixia commented on #7215
/unassign
/assign @filip-halt

[2021-08-31 09:06] jaelgu commented on #7359
@yanliang567 I tried with the following parameters:
- index: type = IVF_FLAT, metric_type = L2, nlist = 128
- search: metric_type = L2, nlist (nprobe?) = 20 (also tried with 128)
But still got the same error.

[2021-08-31 09:48] XuanYang-cn opened #7384 "Pulsar retention configuration wrong"
#### Why:

According to [Pulsar retention policies](https://pulsar.apache.org/docs/en/cookbooks-retention-expiry/#retention-policies)

But in our codes: https://github.com/milvus-io/milvus/blob/08a31010e9c5336f20219678ca5e7f046fcc1318/deployments/docker/dev/docker-compose.yml#L18

SO in our case, `Time limit > 0, Size limit = 0`, this is an invalid configuration.

#### How to fix:

Append this lin

[2021-08-31 10:04] xige-16 commented on #6726
/assign @bigsheeper

[2021-08-31 10:07] yanliang567 commented on #7359
@jaelgu  could you please retry on milvus rc5

[2021-08-31 10:12] xige-16 commented on #7022
/assign @wangting0128

[2021-08-31 10:16] shiyu22 commented on #7181
I can still reproduce this issue on rc5 and a single batch insert of 200,000 has not been returning and the datanode does not update the log, I am deploying Milvus cluster on k8s, refer to https://mithub.com/milvus-io/milvus-helm/blob/master/charts/milvus/values.yaml

[2021-08-31 10:28] #7373 closed

[2021-08-31 10:41] #7384 closed

[2021-08-31 10:49] #7379 closed

[2021-08-31 10:56] yanliang567 commented on #6954
waiting for a testable build for verification...

[2021-08-31 11:38] binbinlv opened #7387 "Reportportal could block nightly, need disable it for debug"
#### Steps/Code to reproduce:

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-08-31 11:59] yyfrankyy opened #7389 "TLS support for etcd"
#### Is your feature request related to a problem? Please describe:
Yes, etcd provides TLS for authentication, and the etcd client has such configuration for setup, for now, none of any etcd initialization code is able to do so.

#### Describe the solution you'd like:
I saw a lot of different type of initialization of `clientv3.Config`, and wrappers around everywhere, injecting TLS config isn't ea

[2021-08-31 12:15] ThreadDao commented on #7306
Create collection successfully,  then drop collection get exception `StatusCode.DEADLINE_EXCEEDED`, then list collection result is empty.
1. Version
[code]
2. Results
a. Except:
[code]
 b. Actual:
[code]
3. Log or pods
[milvus_logs.tar.gz](https://github.com/milvus-io/milvus/files/7083764/milvus_logs.tar.gz)
[code]

[2021-08-31 12:18] xiaofan-luan commented on #7389
uhh, I just want to modify the config part. Why do we need to change clientv3.Config? can we simply add tls related configs at milvus.yaml

[2021-08-31 12:45] #7387 closed

[2021-08-31 13:06] kevinzezel opened #7390 "milvus-standalone container 2.0.0-RC5 error"
Hi,

I was testing the new version of milvus, 2.0.0-RC5. After insert 45MM embeddings with 512d, milvus-standalone container stop and does not start any more.

Docker logs:

[code]
[code]

[2021-09-01 01:11] xige-16 commented on #7022
/unassign @del-zhenwu

[2021-09-01 01:18] Never-up opened #7391 "Milvus EM sometimes display NaN items"
在milvus界面查看数据时，出现总item时出现NaN
如一下图片这种情况
(https://zhisheng-aifile.oss-cn-hangzhou.aliyuncs.com/WechatIMG3869.jpeg)

[2021-09-01 01:35] #7016 closed

[2021-09-01 01:39] congqixia commented on #7181
It's an known issue that Insert large data set in one operation may fail due to network problem. We plan to devide the insert request into smaller ones to solve this issue.

[2021-09-01 01:44] congqixia commented on #7181
It looks like I misunderstood the original issue. The time consumption of each insert operation(which I thought was the whole size of data) does not scale up linear with the batch size. I'll try to reproduce that.

[2021-09-01 01:46] xiaofan-luan commented on #7391
please use english in the issue for the rest of the community, thanks

[2021-09-01 01:47] xiaofan-luan commented on #7390
/assign @fishpenguin

[2021-09-01 01:47] xiaofan-luan commented on #7390
we are working on that

[2021-09-01 02:00] nameczz commented on #7391
@Never-up
Please provide your milvus version and milvus-em version.
And how to reproduce this .

[2021-09-01 02:02] #7365 closed

[2021-09-01 02:04] yanliang567 opened #7392 "code changes of go.mod do not trigger CI"
go.mod changes does not trigger ci, which is not correct.
https://github.com/milvus-io/milvus/pull/7382

[2021-09-01 02:06] xiaofan-luan commented on #7056
assign @cydrain

[2021-09-01 02:07] yhmo commented on #4667
@cceyda
The result paging function is a feature, there is an issue about this: https://github.com/milvus-io/milvus/issues/3851
But this feature is not yet in plan, since there are some other high priority features need to be done.

[2021-09-01 02:08] xiaofan-luan commented on #6745
duplicate with #7056

[2021-09-01 02:09] xiaofan-luan commented on #6745
close for duplicate

[2021-09-01 02:09] #6745 closed

[2021-09-01 02:09] xiaofan-luan commented on #6675
duplicate with #7056

[2021-09-01 02:09] #6675 closed

[2021-09-01 02:13] xiaofan-luan commented on #7056
why are we copying the data? from design perspective,  data should not be resident in go?

[2021-09-01 02:13] #7161 closed

[2021-09-01 02:21] congqixia commented on #7056
By `copying the data`, do you mean copying the data from `go` managed memory to `c` managed memory? If that's the case, this behavior is the designed behavior of cgo. The reason is that it's unsafe to allow `c/cpp` to operate memory from go runtime. Say if the memory is cleaned up by gc when `c/cpp` tried to operate it.

[2021-09-01 02:30] yhmo commented on #4667
The #5443 has been done. A new api named "calc_distance" has been added, allow user to calculate distance between vectors. User can pick vectors by id array to calculate, so that he can do a workaround for "search within ids". Note: the output result is not arranged. To find out a topk result, user need to arrange the distances in client side.

[2021-09-01 02:30] #4667 closed

[2021-09-01 02:31] scsven commented on #7392
/unassign
/assign @zwd1208

[2021-09-01 02:35] wangting0128 commented on #6828
No recurrence

[2021-09-01 02:35] #6828 closed

[2021-09-01 02:40] xige-16 commented on #7056
/assign @xige-16

[2021-09-01 02:40] xige-16 commented on #7056
I will check if there is a memory leak

[2021-09-01 02:46] yhmo commented on #6911
The new api calc_distance() allow user to pick vectors by id to calculate distance. So that user can do a workaround for "search in sub-set specified by given id array". Note: the api return distance is not arranged, user need to arrange it in client side.

[2021-09-01 02:46] #6911 closed

[2021-09-01 03:04] jaelgu commented on #7359
@yanliang567 Tried with updated milvus_cli & rc5. Still got the same error.

[2021-09-01 03:15] scsven commented on #7186
working on this

[2021-09-01 03:15] jeffoverflow opened #7394 "Check coding style mistakes"
#### What would you like to be added:
 Automated code review service integrates with GitHub Action.

![image](https://user-images.githubusercontent.com/24581746/131605911-45f1c755-4269-44e3-8f15-0762dd7c4b83.png)

#### Why is this needed:
Improve code quality.

/cc @xiaofan-luan

[2021-09-01 03:16] jeffoverflow commented on #7394
/assign @xiaofan-luan

[2021-09-01 03:33] czhen-zilliz commented on #7359
I got a similar error by following the procedure above.
env: pymilvus==rc5; milvus rc5
[code]

[2021-09-01 03:44] yanliang567 commented on #7359
@czhen-zilliz it seems that you missed 'nprobe' in the search_param.

[2021-09-01 03:47] zwd1208 commented on #7392
/assign @jeffoverflow

[2021-09-01 03:51] shiyu22 commented on #7195
I can still reproduce this issue on RC5, but I found that `collection.num_entities` is not returning because the insert is not returning, which I did as follows:
1. Inserting 1000 pieces of data at a time was run over 4000 times and the last call never returned a result, but the procedure still exists.
2. Call `num_entities` to get the number of rows in the collection, but it never returned.
3. Th

[2021-09-01 03:59] jingkl opened #7396 "Milvus 2.0 rc5 standalone version always quits automatically"
Milvus 2.0.0 rc5 always quits automatically and takes a lot of time to restart each time
Error reporting of log presence before restarting
![er](https://user-images.githubusercontent.com/34296482/131609474-fd46f0cd-86f9-4690-a3fe-518be74d1afb.png)

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):2.0.0rc5
- Deployment mode(standalone or cluster): standalone
- SDK version(e.g. pymilvu

[2021-09-01 04:04] XuanYang-cn opened #7397 "DataNode flush failed but data discarded"
A second flush will only contain part of the data.

[2021-09-01 05:42] binbinlv commented on #7334
Fixed, and  merged.

[2021-09-01 05:42] #7334 closed

[2021-09-01 07:00] wangting0128 commented on #7022
【recurrent】
argo task： benchmark-cxnkt

server deployment：
[code]

client log：
[code]

Environment:
Milvus version(e.g. v2.0.0-RC2 or 8b23a93): GitCommit: 1c88c8b
Deployment mode(standalone or cluster): standalone
SDK version(e.g. pymilvus v2.0.0rc2): 2.0.0rc5.dev29

[2021-09-01 07:17] JackLCL opened #7398 "Incorrect document description for drop index"
link: https://milvus.io/cn/docs/v2.0.0/delete.md

![image](https://user-images.githubusercontent.com/53512883/131628358-206777c4-cecf-4527-8a35-ea38c843de0c.png)

So far, milvus does not support dropping indexes of specified columns. And it only supports building indexes on vector columns, and only supports dropping indexes on vector columns.

[2021-09-01 07:20] GopinathCool opened #7399 "Milvus search takes long time even for 20 images"
I tried to test the  milvus with 20 images of 512 dimensions, but when I used search_with_expression method it keep on waiting for a lock to be released and I am not sure what could be the cause for this and below I also attached the exact step where it take long time.

#### Steps/Code to reproduce:
<ipython-input-19-701842e06427> in <module>
----> 1 milvus.search_with_expression("ivf_sq8_sample",

[2021-09-01 07:46] Bennu-Li opened #7401 "When start Milvus cluster, it took a long time to start pulsar."
#### Steps/Code to reproduce:
Start Milvus cluster took a long time, i found that it takes too much time to start pulsar. It takes about 15 minutes to start pulsar. Is this reasonable?
<img width="1148" alt="截屏2021-09-01 下午3 43 47" src="https://user-images.githubusercontent.com/53458891/131632468-13c34b50-5d66-4965-9ba9-95aceaff6474.png">

#### Environment:
- Milvus version( v2.0.0-RC5):
- Deploym

[2021-09-01 07:50] XuanYang-cn commented on #7154
A copy here: https://github.com/milvus-io/pymilvus/issues/685

[2021-09-01 08:35] LoveEachDay opened #7402 "Milvus write big kv into etcd"
#### What would you like to be added:
Decrease the size of kv that milvus writes to etcd.

#### Why is this needed:
The below figure shows the etcd memory usage during nightly ci. You can see the memory  growth is very steep.
![image](https://user-images.githubusercontent.com/1573213/131638705-723dcffa-7786-4de2-b46e-fc30435e9b7d.png)

We've wrote a program to traversal the etcd kv to check the ke

[2021-09-01 08:35] LoveEachDay commented on #7402
/assign @xiaofan-luan

[2021-09-01 08:50] JiliuLiSU opened #7404 "300万条512维向量测试检索时很慢？"
您好 我用300万条512维向量测试检索时很慢，每次检索都在1分钟左右，indextpye是IVF_FLAT，milvus版本是1.1.1。请问可能的原因是什么呢

[2021-09-01 08:58] #5031 closed

[2021-09-01 08:58] #5081 closed

[2021-09-01 08:58] #2475 closed

[2021-09-01 08:58] #2587 closed

[2021-09-01 08:58] #2665 closed

[2021-09-01 08:58] #2706 closed

[2021-09-01 08:58] #2934 closed

[2021-09-01 08:58] #3206 closed

[2021-09-01 08:58] #3209 closed

[2021-09-01 08:58] #3217 closed

[2021-09-01 08:58] #4303 closed

[2021-09-01 08:58] #4264 closed

[2021-09-01 08:58] #4306 closed

[2021-09-01 08:58] #4327 closed

[2021-09-01 08:58] #4388 closed

[2021-09-01 08:58] #4421 closed

[2021-09-01 08:58] #4466 closed

[2021-09-01 08:58] #4585 closed

[2021-09-01 08:58] #4645 closed

[2021-09-01 08:58] #4794 closed

[2021-09-01 08:58] #4885 closed

[2021-09-01 08:58] #4746 closed

[2021-09-01 08:58] #3898 closed

[2021-09-01 08:58] #4540 closed

[2021-09-01 08:58] #4818 closed

[2021-09-01 08:58] #4821 closed

[2021-09-01 08:58] #5116 closed

[2021-09-01 08:58] #5187 closed

[2021-09-01 09:13] binbinlv opened #7405 "Milvus crashed throwing panic"
#### Steps/Code to reproduce:
Running test cases in local kind env.

#### Expected result:
No crash

#### Actual results:
Milvus crashed

Through 0.log:

[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): 71aa300
- Deployment mode(standalone or cluster): standalone
- SDK version(e.g. pymilvus v2.0.0rc2):
Name: pymilvus
Version: 2.0.0rc6.dev3
- OS(Ubuntu or CentOS):
- CPU/Memor

[2021-09-01 09:14] binbinlv commented on #7405
please contact me to get the full logs, thanks.

[2021-09-01 09:20] cydrain opened #7406 "Improve tso codecov"
#### What would you like to be added:
Improve internal/tso codecov

#### Why is this needed:
improve code quality

[2021-09-01 09:23] #7399 closed

[2021-09-01 09:31] ThreadDao commented on #6246
I regressed this issue in version `89748ac Built:     Wed Sep  1 02:16:10 UTC 2021` and it was fixed.

[2021-09-01 09:32] jaelgu opened #7408 "Partial data is not flushed if don't call num_entities"
#### Steps/Code to reproduce:
docker-compose standalone
1. Create a collection
2. Insert sift1m data
3. Create index
4. Check index_progress

#### Expected result:

total_rows=1000000

#### Actual results:
<img width="496" alt="Screen Shot 2021-09-02 at 4 15 26 PM" src="https://user-images.githubusercontent.com/86251631/131810144-e356a2d5-0cd0-45c8-b800-856a42085eb2.png">

total_rows=900000

- if

[2021-09-01 09:38] GopinathCool opened #7409 "Milvus RC5 raises error during search"
Milvus RC5, search_with_expression raises the below error for index IVF_SQ8. Below is my index configuration
{'metric_type': 'L2',
 'index_type': 'IVF_SQ8',
 'params': {'nlist': 1024},
 'field_name': 'float_vector_field'}

#### Steps/Code to reproduce:
Traceback (most recent call last):
  File "find_similarity_milvus.py", line 269, in <module>
    find_all_neighbours_in_dataset('/home/devops/Docum

[2021-09-01 09:44] zhuwenxing opened #7410 "Add docker-compose deployment test scripts"
#### What would you like to be added:
Add docker-compose deployment test scripts
#### Why is this needed:
To test deployment by docker-compose
* re-install milvus to check data persistence
* upgrade milvus to check data compatibility

[2021-09-01 09:47] yanliang567 commented on #7092
ReadMe added. close

[2021-09-01 09:47] #7092 closed

[2021-09-01 09:48] JackLCL opened #7411 "Doc error"
link: https://milvus.io/cn/docs/v2.0.0/hybridsearch.md

![image](https://user-images.githubusercontent.com/53512883/131650561-5d163b1c-c54c-40cc-94b5-3d9366e45f27.png)

[2021-09-01 09:49] Bennu-Li opened #7412 "Call get_loading_progress(): Get error message."
#### Steps/Code to reproduce:
-call insert():
Total insert 1000000 vectors. (Insert 10 times, each time insert 100000 vectors.)

-call get_loading_progress():
Always get the same results: {'num_loaded_entities': 0, 'num_total_entities': 0}

- call load(), and call get_loading_progress() again:
Get the same results: {'num_loaded_entities': 0, 'num_total_entities': 0}

- call collection.num_entities

[2021-09-01 10:03] binbinlv opened #7413 "merge collection test cases from pymilvus and orm"
#### Steps/Code to reproduce:

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-09-01 10:20] ss892714028 opened #7415 "Standalone docker Milvus RC5 calls load hangs forever"
#### Steps/Code to reproduce:
Insert 10m data into ann_10m collection, 100k at a time. created ivf_sq8 index.  Milvus hangs forever when load.
log shows: [2021/09/01 09:30:50.104 +00:00] [ERROR] [task.go:823] ["LoadSegmentTask: loadSegment occur error"] [taskID=427420441146556435] [stack="github.com/milvus-io/milvus/internal/querycoord.(*LoadSegmentTask).Execute\n\t/go/src/github.com/milvus-io/mil

[2021-09-01 10:21] JackLCL opened #7416 "The access variable row_data should not be private."
If you want to retrieve the **output_fields** from the search results, you need to use the following method:
res[0][0]. _row_data

**_row_data** is a private variable, but it is a user-specified return variable and should not be set to private. A reasonable access method should be:
res[0][0].row_data

[2021-09-01 10:24] yhmo commented on #7404
For IVF_FLAT, data size = 3000000*512*4 = 6 GB
In the milvus config file:  server_config.yaml, there is an item named "cache_size":
[code]
Its default value is 4GB, not enough for your data size. If cache size is not enough, milvus will have to swap data from hard disk, this will be very slow.

You can change the config to cache_size: 8GB, then restart milvus server and try again.

[2021-09-01 10:27] jingkl opened #7417 "Problems with index creation"
When my index was finished, I called the index progress interface and found that not all the data had been indexed
![11](https://user-images.githubusercontent.com/34296482/131655838-3ec53c42-500a-4452-a39f-8e66dafb4792.png)
![10](https://user-images.githubusercontent.com/34296482/131655849-a25bd928-ed89-4f9e-896f-44945f53e122.png)

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): 2.

[2021-09-01 10:29] #7406 closed

[2021-09-01 10:55] sunby commented on #7195
I don't find the call of `num_entities` in your scripts in #7181. Can you paste full insert scripts here? I find server received `flush` request called in `num_entities` many times and  successully execute it.

[2021-09-01 11:37] wz520bb commented on #7361
Managing metadata using SQLite

[2021-09-01 11:43] #7413 closed

[2021-09-01 17:19] filip-halt commented on #6647
I think we should also look into encrypting the traffic between proxy and client. How much work would go into using SSL with GRPC? Seems like we would need to generate keys for the node on startup and pass them along to grpc.

[2021-09-02 02:04] jingkl opened #7424 "Error calling the index progress interface"
The index progress error says that no index was created, but I don't think it should be an error even if no index was created.
![13](https://user-images.githubusercontent.com/34296482/131769506-6de470d4-6afa-4032-a867-886d1fd8a95d.png)
![12](https://user-images.githubusercontent.com/34296482/131769519-3d154914-3db2-4109-a307-d045f264fdb8.png)

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or

[2021-09-02 02:55] binbinlv commented on #7300
Same panic occurs again on nightly cases: (standalone)

https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/123/

milvus:068cc14
pymilvus: 2.0.0rc6.dev3

0.log.20210901-153557

[code]

[2021-09-02 02:59] #7308 closed

[2021-09-02 03:00] #6933 closed

[2021-09-02 03:11] yhmo commented on #2123
Currently we only fix critical issues for v1.x. This issue is not a block issue, we will keep it pending here.

[2021-09-02 03:22] scsven commented on #2123
@lzhx171 Hi, thanks for your attention. Although Milvus v1 is a disk-based design, it's a large cost to load data from the disk actually. Even we made a new policy, it also needs to load the disk files each time. And the 1.0 series is stable, we will not update it unless bugs are found.
Now the version 2.0 is developing, it's a pure memory-based design, and it also supports cluster deployment. Hav

[2021-09-02 03:24] yanliang567 opened #7425 "merge pymilvus and pymilvus_orm connection testcases"
This issue is to merge pymilvus and pymilvus_orm  connection testcases into one.

[2021-09-02 03:33] yanliang567 commented on #7390
Here are repro steps:
1. Update milvus helm values.yaml to shorten the retention time:
[code]
2. helm install Milvus 2.0 standalone
3. write a script to insert data into collection( 5 threads, insert 20,000 entities for 100 rounds)

the panic error repos during inserting(10 mins after the first insert)

[2021-09-02 03:55] #6246 closed

[2021-09-02 04:26] congqixia opened #7427 "Possible deadlock when MqMsgStream broadcast fails"
See code below:
https://github.com/milvus-io/milvus/blob/068cc14313ddeded06611d8d5a9c327061acb41d/internal/msgstream/mq_msgstream.go#L282-L293
When `producer.Send`  returns error, the lock is not freed, which may cause deadlock in some cases

[2021-09-02 05:10] yanliang567 commented on #7410
/assign @zhuwenxing

[2021-09-02 05:14] yanliang567 commented on #7396
this was dup to #7390

[2021-09-02 05:14] #7396 closed

[2021-09-02 05:16] yanliang567 commented on #7396
BTW, this was fixed in rc5-hotfix1 and latest mater build with commit #7393

[2021-09-02 05:36] ThreadDao opened #7429 "Creating collection hangs while the pulsar pod is killed"
#### Steps/Code to reproduce:
1. Deploy milvus release named `milvus-chaos` with cluster mode
2. Start a thread to continuously create and drop collection
3. After a while, injected chaos that kills pulsar pod
4. Observe whether the last `create_collection` request is successful

#### Expected result:
The last `create_collection` request get timeout response

#### Actual results:
Hours passed, the

[2021-09-02 06:13] JiliuLiSU commented on #7404
Thank You Very Much

[2021-09-02 06:14] JiliuLiSU commented on #7404
<html>
<body>

Thank You Very Much
--

</body>
</html>

Thank you very much

[2021-09-02 06:15] yanliang567 opened #7430 "Need to update the test owner list"
Need to update the test owner list and reviewers

[2021-09-02 06:32] LocoRichard commented on #7411
Fixed through https://github.com/milvus-io/milvus-docs/pull/557.
Good to be closed.
/assign @JackLCL

[2021-09-02 06:36] congqixia opened #7432 "Using address of loop variable"
See code below
https://github.com/milvus-io/milvus/blob/b718bcb1c7410db8e9261025b95502e39743a355/internal/proxy/metrics_info.go#L136-L150
https://github.com/milvus-io/milvus/blob/b718bcb1c7410db8e9261025b95502e39743a355/internal/proxy/metrics_info.go#L211-L225
Use address of loop variable will cause all results having the last iterated value

[2021-09-02 06:44] yhmo commented on #7361
I use python sdk and go sdk to test this case, seems go sdk is faster.
This is the python script:
[code]

This is the go:

[code]

I start a milvus server with cache_size=1GB, and run the python example, the script will create 150 partitions and insert 2000 vectors for each partition at the first time.
Then I run the go example.  The two example do same things: use 100 threads to do search, each t

[2021-09-02 07:07] binbinlv opened #7435 "Nightly tests hang at getting number of entities (cluster version)"
#### Steps/Code to reproduce:
Running nightly CI tests: (cluster)

https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/122/

From test logs: it hangs at case "test_search_with_output_fields".  Hangs occurs between operation insert and search (insert done, before search).

[code]
And
[code]

And from milvus log [artifacts-milvus-distributed-master-122-e2e-nightly-logs]:
proxy:
could

[2021-09-02 07:28] jaelgu opened #7437 "Indexing automatically loads data to memory without call load()"
#### Steps/Code to reproduce:
1. Create collection
2. Create index (IVF_FLAT, nlist=2000)
3. Insert sift1m data (100000 rows * 10 times)
4. Check index_progress
5. Check load_progress

#### Expected result:
0 rows should be loaded since load() is not called.

#### Actual results:
All indexed rows are loaded.

#### Environment:
- Milvus version: v2.0.0-RC5
- Deployment mode: cluster / standalone
-

[2021-09-02 07:58] cydrain opened #7438 "Improve codecov for paramtable and typeutil"
#### What would you like to be added:
Improve codecov for paramtable and typeutil

#### Why is this needed:
Improve code quality

[2021-09-02 08:13] #7404 closed

[2021-09-02 08:14] godchen0212 opened #7439 "Add id allocator ut"
#### What would you like to be added:
ID alloctor ut.
#### Why is this needed:
Improve code quality

[2021-09-02 08:15] ss892714028 opened #7441 "Create IVF_SQ8 index hangs with rc5HotFix"
#### Steps/Code to reproduce:
Insert 1 million data with 128 dim, create sq8 index hangs. PyMilvus raises error “code=1, message=Access Denied”
log shows
[2021/09/02 05:57:09.250 +00:00] [ERROR] [task.go:823] ["LoadSegmentTask: loadSegment occur error"] [taskID=427441180893773826] [stack="github.com/milvus-io/milvus/internal/querycoord.(*LoadSegmentTask).Execute\n\t/go/src/github.com/milvus-io/mil

[2021-09-02 08:21] shiyu22 commented on #7181
Is this only a problem with binary data, or is it also for float data?

[2021-09-02 08:31] jaelgu commented on #7408
- sometimes happens to cluster as well
- also reproduced with rc5-hotfix

[2021-09-02 09:14] #7430 closed

[2021-09-02 09:52] godchen0212 opened #7443 "Add trace util ut"
What would you like to be added:
trace util ut.

Why is this needed:
Improve code quality

[2021-09-02 10:17] Bennu-Li opened #7446 "Call Insert() hang"
#### Steps/Code to reproduce:
- Repeatedly insert data, inserting 100,000 128-dimensional vectors each time.

- After insert 147050070 vectors, continue inserting data, but Milvus client don't renturn anymore.

- Create a new collection and insert data to it, it still don't renturn.

#### Environment:
- Milvus version(2.0.0-RC5)
- Deployment mode(cluster)
- SDK version(pymilvus v2.0.0rc5)

[2021-09-02 10:23] sutcalag opened #7447 "All contributor action failed"
#### Steps/Code to reproduce:
https://github.com/milvus-io/milvus/actions/runs/1188375503

#### Expected result:
Action should passed and all contributors will be updated.

#### Actual results:
Action failed

#### Environment:
master branch

#### Configuration file:

#### Additional context:

[2021-09-02 10:27] DragonDriver opened #7449 "[DOC] Add a documentation to explain how Milvus handles the proto"
#### What would you like to be added:

I want to add a documentation to explain how Milvus handles the proto.

#### Why is this needed:

This will tell users and develpers the data transfer protocol in Milvus. Especially for sdk develpers, this documentation will guide them how to pass the parameter more clear.

[2021-09-02 10:28] DragonDriver commented on #7449
/assign

[2021-09-02 10:29] XuanYang-cn opened #7450 "Panic when closing flowgraph"
#### Steps/Code to reproduce:
- while cluster is running, `docker-compose down` closing third-party services
- milvus stop **servers**
#### Expected result:

datanode panic
proxy and querynode cannot exit

#### Actual results:
[code]

#### Environment:
- Milvus version: b718bcb1c7410db8e9261025b95502e39743a355
- Deployment mode(standalone or cluster):cluster
- SDK version(e.g. pymilvus v2.0.0rc2):

[2021-09-02 10:37] #7447 closed

[2021-09-02 11:16] fishpenguin opened #7452 "Improve rocksmq code coverage"

[2021-09-02 11:31] binbinlv opened #7454 "Add new pipeline for multi-nodes env tests"
#### Steps/Code to reproduce:

Current tests did not cover multi-nodes scenario, so need add a new pipeline for it.

**Run frequency:** Weekly
**Start time:** Sunday  13:00
**Configuration:**
proxy: 2
queryNode: 2
indexNode: 2
dataNode: 2

Implementation:

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cl

[2021-09-02 11:51] binbinlv commented on #7435
@sunby could you please help to check whether this issue is the same with #7195?

From my initial analysis of the log, it may be similar, thank.

[2021-09-02 12:04] #7390 closed

[2021-09-02 12:40] sunby commented on #7429
`CreateCollection` does not have a timeout param. And RootCoord will send the request to a msgstream. After pulsar crash, it will hang to wait for pulsar restarting. But it seems that client did not send the request after pulsar restarted successfully.

[2021-09-02 14:18] #7438 closed

[2021-09-02 15:07] XiaoConstantine commented on #3077
@shengjun1985 FYI I m still seeing similar issues in:
1. Bump milvus cluster version (From 0.10.5 => 1.1.1). I ends up disable the flag as you suggested here:
[code]
and it worked.
2. Today when I m testing some config change with my cluster (Same Milvus cluster version 1.1), after update config and do `helm upgrade`
[code]
it occurred to prevent writable node start.

This time none of the options

[2021-09-02 20:26] kevinzezel opened #7460 "Create index - Connection reset by peer"
Hi,

After 8 hours creating index, i receave this message error:

Code:
[code]

Error:
[code]

[code]

Thanks,
Kevin

[2021-09-03 01:15] LoveEachDay opened #7461 "Bumped milvus verison to 2.0.0-rc.5-hotfix1"
#### What would you like to be added:
Bumped milvus verison to 2.0.0-rc.5-hotfix1 for docker deployments.

#### Why is this needed:
Milvus patches a hotfix commit for 2.0.0-rc5, so we'd bump the milvus version for docker deployments.

[2021-09-03 01:21] LoveEachDay commented on #7461
/kind improvement
/kind enhancement

[2021-09-03 01:21] LoveEachDay commented on #7461
/unkind enhancement

[2021-09-03 01:23] LoveEachDay commented on #7461
/remove-kind enhancement

[2021-09-03 01:26] LoveEachDay commented on #7461
/assign @LoveEachDay

[2021-09-03 01:36] yanliang567 commented on #7460
@kevinzezel how many entities did you insert? Also could you please provide the logs for investigation?

[2021-09-03 01:38] #7461 closed

[2021-09-03 01:38] yanliang567 commented on #7446
I think this is a known issue, and @sunby is working on it.

[2021-09-03 01:44] yanliang567 commented on #7446
@sunby please confirm whether it is a dup to #7195

[2021-09-03 01:48] yanliang567 commented on #7408
I think this is known issue, and @congqixia  is working on it.

[2021-09-03 02:07] sunby commented on #7446
yes, it is same as #7195

[2021-09-03 02:10] zhuwenxing opened #7462 "Merge search test cases"
#### What would you like to be added:
merge search cases in test_search.py and test_search_20.py
#### Why is this needed:
* some cases are duplicated
* some cases are out of date
* some cases are needed to be modified

[2021-09-03 02:10] zhuwenxing commented on #7462
/assign @zhuwenxing

[2021-09-03 02:53] yanliang567 commented on #7446
close for dup issue

[2021-09-03 02:53] #7446 closed

[2021-09-03 02:54] yanliang567 commented on #6693
not repro recently, will reopen if repro

[2021-09-03 02:54] #6693 closed

[2021-09-03 03:27] scsven commented on #6374
[code]

It seems related the issue #7186, we can reproduce this if fixed issue 7186

[2021-09-03 03:30] binbinlv commented on #7435
Similar issue occurs again on the following nightly:
https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/125/

milvus:7edd969
pymilvus: 2.0.0rc6.dev3

Milvus logs:
artifacts-milvus-standalone-master-125-e2e-nightly-logs.tar.gz:

0.log.20210902-155117

Test logs:
[code]

[2021-09-03 06:14] linchpinlin opened #7465 "It takes 5 minutes to connect to milvus"
#### Steps/Code to reproduce:
Milvus(uri='tcp://127.0.0.1:19530')
or
milvus_init = Milvus(host=host, port=port)
Gunicorn（gevent）+ Flask

#### Environment:
- Milvus version: 1.1.1
- Deployment mode(standalone or cluster): cluster

[2021-09-03 06:18] linchpinlin commented on #7465
If in the flask environment, everything is OK
![8ca831a0-3cfa-485c-8c36-c2599f9a2c2f](https://user-images.githubusercontent.com/31131753/131959401-6e804c70-87e3-445d-b568-4604eb326b9d.png)

[2021-09-03 06:29] sunby commented on #7429
This issue has been fixed by #7428 . @ThreadDao

[2021-09-03 06:29] linchpinlin commented on #7465
I found out that it relies on the timeout parameter of Gunicorn, if the timeout is 10, the connection needs 10s...

[2021-09-03 07:25] czhen-zilliz opened #7466 "Hang too long to get collction.num_entities"
#### Steps/Code to reproduce:

Env: milvus rc5-hotfix1
Milvus address: 172.16.20.82:19530 (@shanghaikid 's environment, you can connect it directly in sh office)
SDK: pymilvus-rc5

Our Milvus(rc4) instance has a collection `car_search` (which was created at rc2)with 250k entities, before we upgrade milvus to rc5-hotfix1, we inserted 50k more entities. But it failed to show num_entities after be up

[2021-09-03 07:38] sunby commented on #7429
/unassign
/assign @ThreadDao

[2021-09-03 07:39] sunby commented on #7195
/unassign
/assign @wangting0128

[2021-09-03 07:40] scsven opened #7468 "Add a script to check if a pull request is missing go.mod"
When I compile with the commit 0897a87, the `go.mod` file be changed. It seems that an incomplete pull request has been merged into the master branch. The pull request missing the `go.mod` file.

I hope there is a script that can check if a pull request is missing the `go.mod` file.

[2021-09-03 07:44] sunby commented on #7435
@binbinlv data node disconnected with etcd. So flush request can not be sent to datanode

[2021-09-03 08:30] jaelgu commented on #7441
I had the same issue happened before with the same machine: https://github.com/milvus-io/milvus/issues/7234

[2021-09-03 08:36] fishpenguin opened #7469 "Query api needs to add test cases"
#### What would you like to be added:

Query only support query by primary key field. Currently it supports all kinds of expression which defined in search api.

#### Why is this needed:

Query api supports query by expression which is similar to search scalar filter by [pr7386](https://github.com/milvus-io/milvus/pull/7386).

[2021-09-03 08:58] scsven commented on #7186
/unassign
/assign @ThreadDao

[2021-09-03 09:12] shanghaikid opened #7470 "Milvus keep reporting `proxy is not healthy` for about 30 sec after restarting docker"
#### Steps/Code to reproduce:
1. docker-compose up -d
2. add some data
3. docker-compose down -d
4. docker-compose up -d
5. connect via insight or cli
#### Expected result:
Server should return something like `server is initializing` other than `proxy is not healthy`

#### Actual results:
Milvus keep reporting "proxy is not healthy" for 30 secs
30 secs later, it returns to normal.

#### Environmen