[2021-11-29 02:34] zhuwenxing commented on #10171
Verified and passed in version `master-20211126-48bdeb5`

[2021-11-29 02:34] #7349 closed

[2021-11-29 02:34] #10171 closed

[2021-11-29 02:40] binbinlv commented on #11148
Latest nightly: (standalone)

milvus: 2c484c7
pymilvus: 2.0.0rc9.dev16

Logs:
https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/234/

[2021-11-29 02:44] BUPTAnderson commented on #10735
@xiaofan-luan, In the latest code(master-d82022ec), I also encountered this problem.

## Environment:
- Milvus version: master (commitId: d82022ec)
- Deployment mode: cluster deployed on centos(4 querynode, 3 datanode, 3 indexnode)
- SDK version: pymilvus v2.0.0rc8
- OS(Ubuntu or CentOS): CentOS
- CPU/Memory: 196GB mem, 40cores
- GPU:
- Others:
[code]

## test result:
[code]

[2021-11-29 02:47] binbinlv commented on #11950
Latest nightly: [cluster]

milvus: 2c484c7
pymilvus: 2.0.0rc9.dev16

Logs: [name: artifacts-milvus-distributed-master-234-pymilvus-e2e-logs.tar.gz]
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/234/artifacts/

[2021-11-29 02:48] czs007 opened #12322 "[Enhancement]: Enable keepalive on the rpc communication of each component in the server"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Enable keepalive on the rpc communication of each component in the server.

### Why is this needed?

GRPC uses keepalive ping as a way to check if a channel is currently working by sending HTTP2 pings over the transport. It is sent periodically, and if the ping is not acknowle

[2021-11-29 02:59] XuanYang-cn commented on #8521
See #12307

[2021-11-29 03:00] wangting0128 opened #12323 "[Bug]: [benchmark][cluster] 1 billion dataset, query、load、search error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[client.log](https://github.com/milvus-io/milvus/files/7615211/client.log)

client pod：benchmark-tag-79d6d-2834669771

client log:
[code]

### Expected Behavior

argo task： benchmark-tag-79d6d

test yaml：
client-configmap: client-random-locust-search-84h-1b
server-con

[2021-11-29 03:02] XuanYang-cn commented on #11915
Closing for not reproducing

[2021-11-29 03:02] #11915 closed

[2021-11-29 03:22] XuanYang-cn commented on #7154
Thanks for the enthusiasm. We have a similar issue at the PyMilvus repository. You may find the issues that fit your interests here milvus-io/pymilvus#685

[2021-11-29 03:23] XuanYang-cn commented on #7154
No need to draw people from the Milvus repo, closing this issue now.

[2021-11-29 03:23] #7154 closed

[2021-11-29 03:24] binbinlv commented on #12259
@xige-16  How is the fix going?

Thanks.

[2021-11-29 03:24] XuanYang-cn commented on #7372
This altering would cost much time, closing this issue.

There will be updates on the PyMilvus repo.

[2021-11-29 03:24] #7372 closed

[2021-11-29 03:27] XuanYang-cn commented on #7706
As @xiaofan-luan said, I'm delighted to review all the PRs of this issue after GA. Thanks for the patience again @matrixji

[2021-11-29 03:27] scsven commented on #12323
may related to https://github.com/milvus-io/milvus/issues/12285

[2021-11-29 03:28] XuanYang-cn commented on #8143
I'm looking into this now.

[2021-11-29 03:46] bigsheeper opened #12324 "[Bug]: TSafe replica unit test failed in query node"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/42060877/143805571-49a16ebb-d4b5-4a89-a175-d20c09d1abad.png)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-11-29 04:25] greensea commented on #11845
@xiaofan-luan Thanks. Several days passed and I never saw this issue again, it should be fixed.
And about the 6min search, this is the first search after miluvs start, I think milvus is loading data into memory or reading data from disk. There are other services eating disk IO, and the disk is HDD, these may cause milvus to take a long time to read data. After the first search, milvus return resul

[2021-11-29 06:04] xige-16 commented on #11148
[2021-11-28T18:20:12.132Z] testcases/test_utility.py::TestUtilityBase::test_calc_distance_left_vector_and_collection_ids[metric-IP-True]
[2021-11-28T18:20:14.655Z] [gw2] [ 90%] PASSED testcases/test_utility.py::TestUtilityBase::test_calc_distance_left_vector_and_collection_ids[metric-IP-True]
[2021-11-28T18:20:21.210Z] testcases/test_utility.py::TestUtilityBase::test_calc_distance_left_vector_and_

[2021-11-29 06:04] xige-16 commented on #11148
ci block here

[2021-11-29 06:06] xige-16 commented on #11148
/assign @DragonDriver

[2021-11-29 06:16] xige-16 commented on #12323
please check why querynode down, @bigsheeper
[2021/11/27 08:41:45.673 +00:00] [DEBUG] [session_util.go:347] ["watch services"] ["delete kv"="key:\"by-dev/meta/session/QueryNode-10\" create_revision:43 mod_revision:43 version:1 value:\"{\\\"ServerID\\\":10,\\\"ServerName\\\":\\\"QueryNode\\\",\\\"Address\\\":\\\"10.97.17.210:21123\\\"}\" lease:5853972929078545970 "]
[2021/11/27 08:41:45.674 +00:00]

[2021-11-29 06:17] #12324 closed

[2021-11-29 06:17] bigsheeper commented on #12323
/assign

[2021-11-29 06:25] #12322 closed

[2021-11-29 06:31] #12314 closed

[2021-11-29 06:37] cydrain commented on #12299
/close

[2021-11-29 06:37] #12207 closed

[2021-11-29 06:37] #12299 closed

[2021-11-29 06:38] XuanYang-cn commented on #8143
There are several questions to answer:

1. Why do we need to build OpenBLAS by ourselves? Why cannot use the precompiled version provided?
2. Why does faiss need OpenBLAS? Isn't it replaceable?
3. Should we still have to worry about the openblas compilation after we update faiss into 1.7.1?

The answer is: we need to understand faiss before any updates on the compilation of OpenBLAS.

[2021-11-29 06:40] bigsheeper commented on #12323
[2021/11/27 08:41:00.591 +00:00] [DEBUG] [impl.go:279] ["watchDmChannelsTask WaitToFinish done"] [collectionID=429376988591685633]
panic: Failed to create consumer by-dev-rootcoord-dml_1, error = All attempts results:
attempt #8:server error: PersistenceError: java.util.concurrent.CompletionException: org.apache.pulsar.broker.service.BrokerServiceException$PersistenceException: org.apache.bookkeep

[2021-11-29 06:41] bigsheeper commented on #12323
Pod `benchmark-tag-79d6d-1-milvus-querynode-77c56d79d6-tzskn` panic caused by no enough disk to consume message stream.

[2021-11-29 06:44] xige-16 commented on #12323
a querynode down, querycoord add a loadbalance task, when the intrenal task of the balance task reschedule, occure the error: @godchen0212 please check it
[2021/11/27 10:15:32.857 +00:00] [ERROR] [task_scheduler.go:705] ["waitActivateTaskDone: reschedule task error"] [taskID=429376955130052769] [triggerTaskID=429376955130052715] [error="delta channel not exist in meta"] [stack="github.com/milvus-i

[2021-11-29 06:45] xige-16 commented on #12323
@godchen0212
/assign @godchen0212

[2021-11-29 06:52] bigsheeper commented on #12323
[code]
memory limit of bookkeeper pod is not enough @wangting0128

[2021-11-29 06:57] bigsheeper commented on #12323
[code]
query node restart successfully.

[2021-11-29 07:07] godchen0212 commented on #12218
I test locally with follow steps:
1. create collection
2. insert 400k data with dim 128.
3. load collection
4. release collection
5. drop collection
I found through the htop memory tool that even after release and drop, the memory usage of queynode is still very high. During this period, no other operations were performed. After one minute, the memory usage displayed in htop began to drop to the i

[2021-11-29 07:07] matrixji opened #12335 "[Bug]: Illegal instructions when run milvus on CPU with only SSE42 support."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I see some discussion on slack, some guys want to run standalone mode with docker-compose on MacBook(M1) it fails due to Illegal instructions Error.

As debugging under docker on M1 is pretty difficult, I use a virtual machine with a simulated SSE42 only CPU to reprod

[2021-11-29 07:07] matrixji commented on #12335
/assign

[2021-11-29 07:07] godchen0212 commented on #12218
/unassign
/assign @xige-16

[2021-11-29 07:09] binbinlv opened #12336 "[Bug]: Deleted data could not be searched using timestamp before delete time"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Searched data is the same using before and after delete timestamp, while deleted data could not be searched using time travel function

### Expected Behavior

Using timestamp before delete, data deleted could be searched

### Steps To Reproduce

[code]

### Anything e

[2021-11-29 07:23] XuanYang-cn commented on #8143
I don't  think it's necessary to do such a thing. Reopen if the users encounter the problem

[2021-11-29 07:23] #8143 closed

[2021-11-29 07:25] LoveEachDay commented on #12279
I guess that coredns server returns a `SERVFAIL` response code for this query.
We need a dashboard for monitoring coredns.

[2021-11-29 07:26] XuanYang-cn commented on #12152
If we need to upgrade to faiss 1.7.1, we'll have to cherry-pick every patch we've ever made to our customized faiss into the newest one, which may take a very long time.

[2021-11-29 07:28] zhuwenxing opened #12339 "[Bug]: Milvus hangs at flush after deleting rootcoord pod kill chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus hangs at flush when all pods recovered to ready status after deleting proxy pod kill chaos

### Expected Behavior

All functions work well

### Steps To Reproduce

[code]

### Anything else?

[test-rootcoord-pod-kill-11-29-15-21-00.zip](https://github.com/milvu

[2021-11-29 07:31] zhuwenxing commented on #12339
/assign @czs007

[2021-11-29 07:34] XuanYang-cn commented on #11995
Upgrading faiss maybe not be practical for too much effort with too little in return.

[2021-11-29 07:34] binbinlv commented on #12336
Logs:

[12336.tar.zip](https://github.com/milvus-io/milvus/files/7616296/12336.tar.zip)

Collection name: test_time_travel

[2021-11-29 07:35] XuanYang-cn commented on #11995
/unassign
/assign @jaime0815

[2021-11-29 07:38] xige-16 opened #12340 "[Bug]: Redundant segments are restored, after querynode down"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

querycoord will recover all the segment of the partition the down node has loaded

### Expected Behavior

querycoord only recover the segment the down node has loaded

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-11-29 07:38] xige-16 commented on #12340
/unassign @yanliang567
/assign @xige-16

[2021-11-29 07:38] zhuwenxing commented on #12339
/assign @sunby

[2021-11-29 07:40] xige-16 commented on #12323
There is some error when recover segment of the down query node, releated with #12340

[2021-11-29 07:46] ss892714028 commented on #12132
Have you made sure that all of the primary IDs across all clients are unique?
For now, Milvus does not do any deduplication to any fields, which means that it is possible that one primary key is associated with more than one vector. With a query, when there is more than one vector associated with a primary key, Milvus will randomly return one vector. This might be the reason that the returned {pri

[2021-11-29 07:56] ThreadDao opened #12344 "[Bug]: The max_compaction_interval does not take effect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. create collection with shard_num=1
2. compact
3. insert two segments
4. wait a few minutes (greater than max_compaction_interval 60s)
4. 10 mins later, querynode still has two segments
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]
[co

[2021-11-29 08:25] godchen0212 commented on #12301
This problem has been fixed in pr #12308. Please check it again.
/unassign
/assign @wangting0128

[2021-11-29 08:30] yhmo opened #12350 "[Bug]: The online document rpc transfer limitation is different to milvus configuration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

In the online document: https://milvus.io/docs/v2.0.0/limitations.md#Milvus-Limits
The "Input per remote procedure call (RPC)" is 512MB
But in the default milvus.yaml, the grpc transfer limitation is 2GB

### Expected Behavior

Limitation should be consist

### Steps

[2021-11-29 08:32] binbinlv opened #12352 "[Bug]: Update pymilvus version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

NA

### Expected Behavior

NA

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2021-11-29 08:39] bigsheeper commented on #12153
/assign @xiaocai2333
/unassign
query node start blocked at `GetComponentStates` in indexCoord

[2021-11-29 08:53] xiaocai2333 commented on #12153
Can you paste the log of indexcoord and querynode here? Package and upload here. @jhillhouse92

[2021-11-29 09:11] congqixia opened #12358 "[Enhancement]: Add "Drop&Flush" grpc call for collection drop notification between datacoord & datanode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

After datanode receiving the DropCollection, it should notify the flush manger to merge all the incoming flush request into a `FlushDrop` request. And notifies flush manager when there will be no more flushes. After receiving the message pack containing "DropCollection", all t

[2021-11-29 09:14] bigsheeper commented on #12259
#12359 would fix timeout error and return `partitions have been released` message.

[2021-11-29 09:38] congqixia opened #12368 "[Bug]: Timetick constraint may break when cluster datacoord restarts"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

when rootcoord restarts with several healthy proxies online waiting for it, the timetick constraint for all proxies reaches the same might be broken.

### Expected Behavior

Timetick will never be broken even chaos test introduced.

### Steps To Reproduce

[code]

###

[2021-11-29 09:53] DragonDriver commented on #11148
I add some logs for this rpc in #12371 . I hope that will help us debug more easier.

[2021-11-29 10:04] wangting0128 opened #12373 "[Bug]: [benchmark][cluster][performance] 50 million vectors, querynodes account for more than 40G of memory"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client monitor：
<img width="1876" alt="截屏2021-11-29 17 59 44" src="https://user-images.githubusercontent.com/26307815/143847030-754b04bf-9c79-4944-9072-36e242b58efb.png">

### Expected Behavior

argo task: perf-search-1024-cnzdb

test yaml:
client-configmap: client-se

[2021-11-29 10:51] #12286 closed

[2021-11-29 10:54] DragonDriver commented on #12169
Feel free to let us know and reopen this issue if you still have any problems.

[2021-11-29 10:54] #12169 closed

[2021-11-29 10:55] DragonDriver commented on #12243
Hello, can above issue be reproduced these days? @JamCrash

[2021-11-29 11:42] sunby commented on #12339
Fixed in #12303 , please check it @zhuwenxing
/assign @zhuwenxing
/unassign @sunby

[2021-11-29 11:52] XuanYang-cn commented on #12259
Happened on https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/234/pipeline/121/

[2021-11-29 12:08] yanliang567 opened #12399 "[Bug]: search interrupted when upgrading milvus to a new image"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

search ops are interrupted when upgrading Milvus to a new image

### Expected Behavior

search is not interrupted(a bit more latency is also acceptable)

### Steps To Reproduce

[code]

### Anything else?

% kubectl get pod | grep mil-ret
[code]

[2021-11-29 12:09] xiaocai2333 commented on #11074
Querynode executed two search requests at the same time, which casued the two requests to be slower than when they executed separately. I guess it might be beacause of the preemption of resources in knowhere, which leads to waste the time.

[2021-11-29 12:23] xiaocai2333 commented on #11074
Querynode may be assigned to a machine with poor CPU configuration. It seems that the search time is twice as long as the normal test.
normal test log：
[code]

[2021-11-29 12:56] bigsheeper commented on #12259
/unassign
/assign @binbinlv
#12359 merged

[2021-11-29 14:36] binbinlv opened #12413 "[Bug]: CI failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

 NA

### Expected Behavior

NA

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2021-11-29 15:46] #12413 closed

[2021-11-29 17:06] rchangj opened #12423 "[Bug]:[Memory] memory leak on 2.0.0-rc8"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I ran Milvus 2.0.0-rc8 in standalone mode on ubuntu 20.2. I noticed followings:
1.Memory leak, both with/without loading the collection, there is about 3-4 GB memory lost. The lost memory seems to be added to buff/cache. Following is a snapshot after several days

[2021-11-30 01:13] yanliang567 commented on #12423
@scsven  could you please take a look at this issue? I think this is a known issue to you.
/assign @scsven
/unassign

[2021-11-30 01:15] yanliang567 commented on #12399
BTW, after upgraded successfully, we are able to search again

[2021-11-30 01:44] yanliang567 commented on #11309
i don't think this issue is dup to #11148, as it reproduced for times when ci nigthly passed  @cydrain

[2021-11-30 02:01] czs007 commented on #10754
This problem has not yet been completely resolved. Indexnode has not yet estimated the memory size of the index.
May not be solved in GA.

[2021-11-30 02:02] sflowing commented on #12298
This problem toubles us a lot. If there is any progress, please note it here.

[2021-11-30 02:04] xiaofan-luan commented on #11438
close for now, need to review pulsar memory configs

[2021-11-30 02:04] #11438 closed

[2021-11-30 02:08] yanliang567 commented on #10754
@czs007 so what is the current design/behavior for now?

[2021-11-30 02:11] czs007 commented on #10754
@yanliang567
The estimation formulas for different index memory sizes are still being explored.
It may not be so fast.

[2021-11-30 02:18] sunby commented on #11275
/unassign
/assign @czs007

[2021-11-30 02:27] rchangj commented on #12423
Hi, @yanliang567 and @scsven
I have another question which might be related to this issue. But if you believe it's a separate issue, I can open a separate bug.
Under same setup, even when system is idle, I kept seeing sst files generated. Averagely several GB/day. Here is a snapshot of the log from rib_data:

** Compaction Stats [default] **
Level    Files   Size     Score Read(GB)  Rn(GB) Rnp1(GB

[2021-11-30 02:29] #12295 closed

[2021-11-30 03:15] fishpenguin commented on #11309
/unassign @scsven
/assign @cydrain

[2021-11-30 03:16] #7507 closed

[2021-11-30 03:27] zhuwenxing commented on #12081
/unassign
/assign @yanliang567

[2021-11-30 03:28] zhuwenxing commented on #12081
/unassign @yanliang567
/assign @xige-16

[2021-11-30 03:30] cydrain commented on #11309
confirmed with @sunby , duplicated with #11275

[2021-11-30 03:35] zhuwenxing commented on #12339
Verified and passed in version `master-20211130-074c36d`

[2021-11-30 03:35] #12339 closed

[2021-11-30 03:38] binbinlv commented on #12336
Still exists in latest commit: 074c36d

[2021-11-30 03:51] xiaocai2333 commented on #11074
Maybe this is a wrong understanding, pod will apply the specified cpu resources when being scheduled.

[2021-11-30 03:52] xiaocai2333 commented on #11074
Maybe this is a wrong understanding, pod will apply the specified cpu resources when being scheduled.

[2021-11-30 04:27] JamCrash opened #12440 "only part of querynode pods are active when call search"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I create a cluster with 15 querynode pods, and create index on that cluster with 600million&64dim vectors. After that I load the collection, but I see only part of querynode pods have been loaded segments while others are not, and the search operation only be executed

[2021-11-30 05:31] binbinlv opened #12441 "[Bug]: Length of search result is wrong for test case "test_compact_and_index""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search result is wrong for test case "test_compact_and_index"

[code]

### Expected Behavior

Search result is right for test case "test_compact_and_index"

### Steps To Reproduce

Nightly: [cluster]

https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master

[2021-11-30 05:40] binbinlv commented on #9623
Similar issue occurs in nightly:

Timeline;
[code]

Failed collection name:
search_collection_ihUf0shk

Case parameter: dim = 128, index = 'IVF_SQ8', params = {'nlist': 128}, auto_id = True, _async = False

Milvus Logs: [cluster]
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/236/artifacts/

Test logs:
https://ci.milvus.io:18080/jenkins/blue/rest/orga

[2021-11-30 05:50] skriser commented on #7513
I have got the same problem:
pymilvus=pymilvus-2.0.0rc8
and i check the code ,then find that Insert does not support string type  in this version :
in pymilvus/client/prepare.py line:275
     for entity in entities:
            field_data = schema_types.FieldData()
            if entity.get("type") in (DataType.BOOL,):
                field_data.type = schema_types.DataType.Value("Bool")

[2021-11-30 05:57] binbinlv opened #12442 "[Bug]: Distance accuracy decreases for binary with jaccard metrics"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

[code]

### Expected Behavior

Test case pass

### Steps To Reproduce

Run test case:

testcases/test_search_20.py::TestCollectionSearch::test_search_binary_jaccard_flat_index

milvus Logs: [cluster]
https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job

[2021-11-30 06:00] skriser opened #12443 "[Bug]: Insert does not support string type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I have been got the problem:
pymilvus: pymilvus-2.0.0rc8

1. Create a collection with [int64, string, float_vector] fields
2. Failed to insert list data
[code]
and i check the code ,then find that Insert does not support string type in this version :
in pymilvus/clien

[2021-11-30 06:26] yhmo opened #12445 "[Enhancement]: Allow user to change some limit in config"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Now we have some limit hardcode in source code. Some limit items is not friendly for some users.
For example, in this limit document: https://milvus.io/docs/v2.0.0/limitations.md#Milvus-Limits
The partitions limit in each collection is 4096, but some users may want to create m

[2021-11-30 06:28] binbinlv opened #12447 "[Bug]: Drop collection failed for timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Drop collection timeout

### Expected Behavior

Drop collection sucessfully

### Steps To Reproduce

Nightly tests:

Logs: [standalone]
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/236/artifacts

Timeline:

[code]

[cod

[2021-11-30 06:33] binbinlv commented on #11969
After resolving nightly hangs issue, then this issue exposed in Nightly again, and it occurs at quite a many cases, so set it as urgent again.

[code]
And
[code]

[2021-11-30 06:41] ThreadDao opened #12450 "[Bug]: The serach result is incorrect when compact is applied to segment outside the time-travel range"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

`dataCoord.compaction.retentionDuration: 40`
1. create collection with shard_num=1
2. insert 100 entities and get time_stamp
3. delete all ids
4. sleep 60s
5. compact
6. load and search with `travel_timestamp=tt`
Expected to get an empty search result. However..
[code

[2021-11-30 06:54] yanliang567 commented on #12081
it repros to me on master-20211130-496f3d0, when I add 2 more query nodes to cluster.
BTW, if inserting data into the new created collection, searching in the new created collection is working as expected. So I think this issue is about the old data and still caused by timetick issue.
[code]

[2021-11-30 06:58] yanliang567 commented on #12450
/assign @sunby
/unassign

[2021-11-30 07:00] yanliang567 commented on #12443
sorry, but string is not supported yet;(
we are planning to support string type in 2.1 or later

[2021-11-30 07:00] binbinlv commented on #12442
Could reproduce in local env, so set it as urgent.

[2021-11-30 07:01] yanliang567 commented on #12443
/unassign
/assign @skriser

[2021-11-30 07:04] DragonDriver commented on #12442
I'll fix this soon.

[2021-11-30 07:04] yanliang567 commented on #12440
this is a known issue in rc8, which is caused by no load balance for query node. It was fixed in latest master build, please feel free to try it, thanks

[2021-11-30 07:05] yanliang567 commented on #12440
/unassign

/assign @JamCrash

[2021-11-30 07:12] JamCrash commented on #12440
I use this image: docker pull milvusdb/milvus:v2.0.0-rc8-20211104-d1f4106
maybe it doesn't contain this fix? @yanliang567

[2021-11-30 07:14] JamCrash opened #12459 "querynode produece message failed while running"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[container (8).log](https://github.com/milvus-io/milvus/files/7623669/container.8.log)

you can see the querynode log above, it runs fine at the beginning, but show error log while running.

[pulsar-query-node-stats.log](https://github.com/milvus-io/milvus/files/76237

[2021-11-30 07:34] binbinlv commented on #12336
Verified, and fixed.

Milvus:
2a0d646
pymilvus: Version: 2.0.0rc9.dev22

Results:
[code]

[2021-11-30 07:35] #12336 closed

[2021-11-30 07:38] zhuwenxing commented on #12190
In version `master-20211130-2a0d646`, this issue is not reproduced.
But I didn't notice any PR to fix this issue.
[querynode-pod_failure-chaos-test-2021-11-30-15-27-54.zip](https://github.com/milvus-io/milvus/files/7623784/querynode-pod_failure-chaos-test-2021-11-30-15-27-54.zip)

[2021-11-30 07:52] yanliang567 opened #12463 "[Enhancement]: Refine test level in test partition"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

API validations are no longer be the top priority in ci, and functions with user scenarios are becoming more and more important, also it is proved to be more risky with bugs.
so we would like to refine the test levels by
1.  run more scenarios tests in L0 and L1,
2.  move most

[2021-11-30 08:08] zhuwenxing commented on #11275
In version `master-20211130-2a0d646`, this issue is still open.
@czs007 Please help to check
[ standalone-pod_kill-11-30-15-21-00.zip](https://github.com/milvus-io/milvus/files/7623985/standalone-pod_kill-11-30-15-21-00.zip)

[2021-11-30 08:11] wangting0128 opened #12465 "[Bug]: [benchmark][cluster] loading 1billion vectors failed, raise error: collection 429437365324811585 has not been loaded to memory or load failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod:benchmark-tag-8k2zj-989751322

client logs:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

argo task: benchmark-tag-8k2zj

test yaml:
client-configmap: client-random-locust-search-84h-1b
server-confi

[2021-11-30 08:26] xige-16 commented on #12465
[task_scheduler.go:797] ["waitActivateTaskDone: activate task return err"] [taskID=429437336588386445] [triggerTaskID=429437336588386305] [error="err: rpc error: code = Unknown desc = [UnexpectedError] Assert \"row_count_opt_.value() == row_count\" at /go/src/github.com/milvus-io/milvus/internal/core/src/segcore/SegmentSealedImpl.cpp:51\n => load data has different row count from other columns\n,

[2021-11-30 08:27] xige-16 commented on #12301
reproduce in #12456

[2021-11-30 08:30] xige-16 commented on #12073
reproduce in #12465

[2021-11-30 08:49] zhuwenxing commented on #11275
But it was not 100% happened, for now, it happened once in 4 tries.

[2021-11-30 08:51] xiaocai2333 commented on #12465
/assign
working on it

[2021-11-30 09:33] bigsheeper commented on #11969
[code]

Query node cannot get binlog size by monio interface in `segment_loader.go` and return `Access Denied.` error.
When I check minio log, it shows:
[code]

[2021-11-30 09:34] xiaofan-luan commented on #12340
what is the difference between current behaviour and Expected Behavior

[2021-11-30 09:50] xiaofan-luan commented on #12423
The data increase is a expect behavior, even if user didn't ingest any data, the system will ingest time tick into it every 100ms.
Rmq will purge expired data after 7 days, you may want to reduce the time by change rocksmq.retentionTimeInMinutes.

However, the 3-4GB memory leakage is weird, I will investigating on that

[2021-11-30 10:02] ThreadDao commented on #10754
I re-tested this issue on image `master-20211130-f00ee2a`, and yes it has not been fixed.
1. Client gets exception `<BaseException: (code=1, message=CreateIndex Timeout)>`, but describe collection index shows that the index has been created
[code]
2. The index node is in the loop between pulling up and OOMKilled.

The pod `mic-memory-milvus-indexnode-59b5c7f786-745mj` logs:
[indexnode_previous.log

[2021-11-30 10:16] bigsheeper commented on #11978
/assign @LoveEachDay
/unassign
same reason with #11969

[2021-11-30 10:17] bigsheeper commented on #11969
/assign @LoveEachDay
/unassign

[2021-11-30 10:33] cydrain opened #12478 "[Enhancement]: Unify param table for all components"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

For proxy, rootcoord, datacoord, datanode, querycoord, querynode, indexcoord, indexnode,
each has its own param_table.go, and most code are duplicated.

Suggest unify all param_table.go into one file.

### Why is this needed?

Make code clean, and improve maintainability

###

[2021-11-30 10:40] fishpenguin commented on #12285
Change pulsar-broker direct-memory to 8GB.
Change pulsar-bookeeper heap-memory to 4GB, direct-memory to 8GB.
please test again.

[2021-11-30 10:43] xiaofan-luan commented on #12081
/assign @XuanYang-cn

[2021-11-30 10:43] LoveEachDay commented on #11969
According to https://github.com/minio/minio/issues/7811， we've modified the nfs mount options to `noac`.
/unassign
/assign @binbinlv

[2021-11-30 10:43] xiaofan-luan commented on #12081
@XuanYang-cn could you please investigate on this one?

[2021-11-30 10:55] XuanYang-cn commented on #12081
/assign

[2021-11-30 10:57] binbinlv commented on #11969
OK, will check the results tonight.

[2021-11-30 11:06] cydrain commented on #12478
/assign

[2021-11-30 11:07] sunby commented on #11275
/assign @sunby

[2021-11-30 11:11] zhuwenxing commented on #11275
The failed case:
[standalone-pod_kill-11-30-17-00-00.zip](https://github.com/milvus-io/milvus/files/7625229/standalone-pod_kill-11-30-17-00-00.zip)

[2021-11-30 11:30] czs007 commented on #10754
After discussion, proceesed as follows: set a memory requirement that is about 4 times the original data of the vector. If no indexnode meets this requirement, the index will not be built, and the index status of the segment has always been unissued.

@yanliang567 @ThreadDao

[2021-11-30 11:45] yanliang567 commented on #12279
remove urgent, as it reproduces occasionally.

[2021-11-30 11:47] LoveEachDay commented on #11978
We've disable nfs cache on ci, assign back to qa to verify.
/unassign
/assign @binbinlv

[2021-11-30 11:52] #11112 closed

[2021-11-30 15:58] rchangj commented on #12423
@xiaofan-luan Is it ok to remove old .sst files? Is there any configuration that allows automatic removal of old files?

[2021-11-30 16:11] Writtic opened #12496 "[Bug]: searchTask takes too long(3500ms ~ 4000ms)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I request query on Milvus with several multi processor, the response time was 0.4~0.6ms. But the `nq` and `topK` is getting increased the clients were shutting down or freezed then I killed all freezed clients and restart all. then I got `StatusCode.DEADLINE_EXCE

[2021-11-30 16:22] xiaofan-luan commented on #12496
But the nq and topK is getting increased the clients were shutting down or freezed then I killed all freezed clients and restart all

If I understand correctly, when you increase nq and topK the clients thrown timeout error, I am correct? what do you mean by saying freezed?

[2021-11-30 16:27] Writtic commented on #12496
@xiaofan-luan The meaning of **freezed** is that several pymilvus clients weren't work correctly and not leave any log.

[2021-11-30 16:44] #10528 closed

[2021-12-01 00:35] rchangj opened #12497 "[Bug]: 2.0.0 rc8 hang at creating index after idle for a while"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I ran Milvus and let it be idle for about one week. After that Milvus can't create index or load collection any more. I tried followings:
1. Using python API and cli both
2. reboot milvus

I didn't see any error coming out of LOG.
Nothing has changed. I eventually hav

[2021-12-01 01:25] yanliang567 commented on #12496
I guess Milvus was hung when we saw the clients freezed. There is a similar issue #12297
@sunby could you please help to check whether they are the same issue?

/assign @sunby
/unassign

[2021-12-01 01:30] yanliang567 commented on #12440
No, it does not.
you can find the latest master build here, https://hub.docker.com/r/milvusdb/milvus-dev/tags?page=1&ordering=last_updated   But please note that they are in testing phase and not offical release.

[2021-12-01 01:32] yanliang567 commented on #12459
@xige-16 could you please take a look at this issue?
/assign @xige-16
/unassign

[2021-12-01 01:54] louisyaphets opened #12498 "[Bug]: milvus 1.1.0 and 1.1.1 crashed when do specific actions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When i do beahavior  in link [链接：https://pan.baidu.com/s/16egX0R0egYPmmdmYSUm_kw 提取码：vlki], my milvus crashed, and go sdk return rpc error: [reading from server : EOF]. Related params like:
                IndexType:    milvus.IndexTypeHNSW,
                IndexParam

[2021-12-01 01:55] cydrain commented on #6843
| metric type | range | similar | not similar |
-------------------------------------------------------
| L2 | (-inf, inf) | small | large |

[2021-12-01 01:55] sunby commented on #11275
IndexCoord may assign task to a dead proxyNode and it will retry many times. @czs007 is fixing it.

[2021-12-01 02:00] #12445 closed

[2021-12-01 02:17] xiaofan-luan commented on #12497
@yanliang567 we've seen many scenarios where an idle cluster hang after several days.
probably it's exactly the same issue as #12423, do we have any resources to create a standalone cluster, create a colelction and write a few data, leave it for couple of days see what's happening?

[2021-12-01 02:17] xiaofan-luan commented on #12478
can not agree more, current param table design is awful

[2021-12-01 02:23] xiaofan-luan commented on #12459
if I'm correct pulsar should automatically create topic name if it's not exist, the timeout seems to be the root cause of failure~ we've changed the default pulsar memory limit which might be helpful.

So when the timeout happens, all the pulsar proxy, broker and bookie is alive right? it would be great if there are logs

[2021-12-01 02:34] xiaocai2333 commented on #10754
I will working on it.

[2021-12-01 02:57] JamCrash commented on #12459
yes, there is nothing wrong at the pulsar side...

[2021-12-01 03:01] JamCrash commented on #12243
I redeploy the cluster with distributed pulsar mod after I clear all the old data, which doesn't reproduce the problem above

[2021-12-01 03:02] wangting0128 opened #12507 "[Bug]: [benchmark][cluster] 100 million dataset, search、query、 scene_test raise error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod：benchmark-tag-ltvjv-1652813750

client log:
[code]

### Expected Behavior

argo task: benchmark-tag-ltvjv

test yaml:
client-configmap: client-random-locust-100m-ddl-r8-w2
server-configmap: server-cluster-8c64m

server:
[code]

### Steps To Reproduce

[code

[2021-12-01 03:07] scsven commented on #12423
/assign @fishpenguin

[2021-12-01 03:08] XuanYang-cn commented on #12081
1. Why does the first insert cost more time?

2. after creating index, we need to release and load to make the index work. So this is expected

3. This may be caused by auto-handoff
4. Why does this happen: add a new querynode and the search performance down?

[2021-12-01 03:30] ThreadDao opened #12512 "[Bug]: The actual number of entities inserted is inconsistent with the server num_entities"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

nb = 256000
1. create a collection `chaos_memory_Ou4BQsnm` `dim=512`
2. insert half of nb 128000 entities, no flush
3. insert same 128000 entities (same primary keys, different vectors), no flush
4. flush get `num_entities = 842662`
[code]

**Server logs**
[milvus_log

[2021-12-01 03:30] xige-16 opened #12513 "[Bug]: The autobalance parameter of querycoord does not work, balance is always turned on"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

when set autoBalance = false, segment still can  be balanced on query node

### Expected Behavior

when set autoBalance = false, segment will not be balanced on query node

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-12-01 03:31] xige-16 commented on #12513
/assign
/unassign @yanliang567

[2021-12-01 03:32] ThreadDao commented on #12512
Load and get query segment info:
[code]

[2021-12-01 03:34] binbinlv opened #12514 "[Bug]: Milvus is crashed with panic "invalid memory address or nil pointer dereference""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus is crashed with panic:
[code]

### Expected Behavior

No panic

### Steps To Reproduce

Nightly:

Logs: [artifacts-milvus-standalone-master-238-pymilvus-e2e-logs.tar.gz]
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/mast

[2021-12-01 03:40] wangting0128 commented on #12073
Consistent with known issues #12465 , close this issue first

[2021-12-01 03:40] #12073 closed

[2021-12-01 03:54] scsven commented on #12373
/unassign @xige-16
/assign @cydrain

[2021-12-01 04:00] rchangj commented on #12423
@xiaofan-luan From what's is under /volume, it seems all the .sst files are kept. I didn't see files older than 7 days have been purged. Feel free to let me know if I miss anything. Thanks for the help.

[2021-12-01 04:32] shangfu-peng opened #12516 "[Feature]: How can I set up train_type for IVF_PQ index?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

I'm using IVF_PQ index, it only has three parameters: nlist, m, and nbits.
But in Faiss, it has one extra parameter we can set after initialization, which is the train_type.
https://github.com/facebookresearch/faiss/blob/main/faiss/impl/ProductQua

[2021-12-01 04:58] #6350 closed

[2021-12-01 06:26] XuanYang-cn commented on #12081
Yes, search time increase is caused by auto-handoff

1. Auto-Handoff happens when a segment was sealed and flushed, and QC will wait util the index ready if created before.
2. Auto-Handoff may shift a segment from one QN to another QN
3. If 2 happens, the new QN will subscribe the Search-channel from the `flushed checkpoint`, thus it's highly possible that the new QN will process **all the Seach a

[2021-12-01 06:26] akshitnsl commented on #7925
I'm getting the same issue. @Murphy-AI can you share how you resolved this issue.

[2021-12-01 06:37] XuanYang-cn commented on #12081
Now investigating: Why insert performance differs?

[2021-12-01 07:02] binbinlv opened #12529 "[Bug]: Refine test level for tests"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

NA

### Expected Behavior

NA

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2021-12-01 07:04] godchen0212 opened #12531 "[Enhancement]: Return nil for grpc error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

System error should be put in status.Reason. And grpc error should return nil if the grpc request has no errors.

### Why is this needed?

In order to distinguish between grpc request errors and errors that occur during system processing, we need to place errors in different l

[2021-12-01 07:23] xiaofan-luan commented on #12514
/assign @bigsheeper could you please take a look

[2021-12-01 07:42] cydrain commented on #12373
| init | load_collection | search | release_collection | drop_collection |
|-----|----------------------|----------|--------------------------|----------------------|
| 2.3G | 6.0G | 11.6G | 9.0G| 9.0G|
| 9.0G | 11.7G | 12.1G | 9.5G| 9.5G|
| 9.5G | 12.1G | 12.2G | 9.6G| 9.6G|
| 9.6G | 12.2G | 12.2G | 9.7G| 9.7G|

[2021-12-01 08:12] godchen0212 commented on #12218
This issue exposed many problems.
1. The golang runtime returns the memory to os after about two minutes. I test it on my local machine and go version is 1.16. I test insert 500K data with dim 128 in to milvus, load and release for 100 times. The memory usage increase from 58M to 1.5G and fell back to 700M after two minutes. So the problem mentioned in this issue is unsolvable. When the memory is

[2021-12-01 08:13] godchen0212 commented on #12218
/assign @czs007
/assign @xiaofan-luan

[2021-12-01 08:21] DragonDriver commented on #12447
No idea why `drop_collection` failed.
I noticed that all `drop` operation received by `milvus` were done without timeout.
So it seems that `drop_collection` timeout on the client side without sending to ther `milvus`.
Interstigating if there any chances that grpc requests timeout on the client side.

[2021-12-01 08:29] zhuwenxing commented on #12265
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/activity?branch=PR-12503
This PR has 4 attempts, but all of them are failed at  `testcases/test_collection.py::TestLoadCollection::test_load_collection_after_index` this case

[2021-12-01 08:34] DragonDriver commented on #12447
After google for a long time, I only found a [related blog](https://www.cxyzjd.com/article/aptx4869kenan/105432967). It mentioned `dns`. I think this issue is similar to some earlier issues which are related to `dns`.

[2021-12-01 08:41] DragonDriver commented on #12442
Can this issue be reproduced in nightly ci again? @binbinlv

[2021-12-01 08:44] binbinlv commented on #12442
@DragonDriver It is fixed through latest nightly tests results, Thanks.

Results:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/240/pipeline

Close it.

[2021-12-01 08:44] #12442 closed

[2021-12-01 08:46] binbinlv commented on #11969
Through using local storage replacing NFS, it is not reproduced in latest nightly.

Cancel urgent, and will close it after checking several days.

[2021-12-01 08:59] yanliang567 opened #12545 "[Enhancement]: Add testcase to verify max field num"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add a testcase to verify the max field num:
  maxFieldNum: 256     # max field number of a collection

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-12-01 09:04] XuanYang-cn commented on #12081
Maybe at the insert time, the server not ready? Checking logs now.

[2021-12-01 09:04] #12350 closed

[2021-12-01 09:06] yanliang567 commented on #12545
@jingkl this is a good first issue for you, please try to make it. Enjoy~

[2021-12-01 09:17] sunby commented on #12507
Bookeeper failed once and rootcoord hanged at producing messages.

[2021-12-01 09:18] yanliang567 commented on #12497
working on it...

[2021-12-01 10:01] #12529 closed

[2021-12-01 10:27] jingkl commented on #12545
/assigned jingkl

[2021-12-01 11:19] jasstionzyf opened #12558 "[Bug]: can not start milvus binary with sever config parameters"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

can not find where to specify sever config parameters when start milvus binary build from source

### Expected Behavior

bin/milvus -configFile=...

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-12-01 11:20] realtwister opened #12559 "[Bug]: failed to load collection if multiple vectors and an index built"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I load a collection with two vector fields and (atleast) one (IVF_FLAT) index pymilvus returns
`<BaseException: (code=1, message=rpc error: code = Unknown desc = collection has not been loaded to memory or load failed)>
`
In the milvus-standalone logs i see
[code

[2021-12-01 11:21] XuanYang-cn commented on #12081
No, seems like a network problem.

[2021-12-01 11:28] yanliang567 commented on #12559
@realtwister so it failed in loading(the 1st load) or reload( the 2nd load)?

[2021-12-01 11:31] realtwister commented on #12559
The first load as long as the load is after the creation of the index.

[2021-12-01 11:50] XuanYang-cn commented on #12081
Problems located, /assign @xige-16 to fix.
/unassign

[2021-12-01 11:59] xiaofan-luan commented on #12218
@godchen0212 very impressive analysis, for scenario 1 we will just accept the behavior.  it should be go back to normal once gc happens so I guess that is kind of reasonable.

Let's focus on the deserialization leakage, guess that may solve a lot of problems

[2021-12-01 12:03] corest commented on #7925
Having exactly the same issue.

1. When trying to connect to Milvus, proxy logs this:

[code]

I'm using this configuration for helm chart

[code]

[2021-12-01 12:04] yanliang567 commented on #12559
it repros on master-20211201-62e3f68,
[standalone.12559.log](https://github.com/milvus-io/milvus/files/7633591/standalone.12559.log)

/assign @xige-16
/unassign

[2021-12-01 12:08] xige-16 commented on #12465
dataCoord flush complete before 18:15:32.895
[code]

[2021-12-01 12:10] xige-16 commented on #12465
but data node still receive insert data of segment 429446815471632385 after 18:15:34
[code]

[2021-12-01 12:13] xige-16 commented on #12465
root coord call build index for segment 429446815471632385 when the time is 18:15:32.982, and the num row is 775126
[code]

[2021-12-01 12:14] xige-16 commented on #12465
when query node load semgnet, the num row of segment 429446815471632385 change to 800225
[code]

[2021-12-01 12:20] xige-16 commented on #12465
The question now is why still  can insert data to the flush  semgent ?

[2021-12-01 12:21] xige-16 commented on #12465
[datacoord.log](https://github.com/milvus-io/milvus/files/7633690/datacoord.log)
[datanode.log](https://github.com/milvus-io/milvus/files/7633691/datanode.log)

[2021-12-01 12:25] xige-16 commented on #12465
/assign @sunby

[2021-12-01 12:58] yanliang567 commented on #12558
@jasstionzyf do you want to customize milvus server configurations? or anything else? also can you specify reproduce steps if you are asking something specific?

/assign @jasstionzyf
/unassign

[2021-12-01 12:59] JamCrash opened #12571 "[Bug]: Create collection failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

pymilvus raise error like this:

error_code: UnexpectedError
reason: "Create collection failed: send dd create collection req failed, error = message send timeout: TimeoutError"
Error: <BaseException: (code=1, message=Create collection failed: send dd create collectio

[2021-12-01 13:15] sunby commented on #12465
If a AssignSegmentID request arrived after the segment's state become Flushed but is removed from segment manager. This issue will happen. We should check the segment's state is growing before we allocate it.

[2021-12-01 23:59] jasstionzyf commented on #12558
@yanliang567  documents relate with directly start milvus binary is too little.
I want to know if i can and only use milvus binary to start ?
How can i customize milvus server configurations when use milvus binary?

[2021-12-02 00:27] #12558 closed

[2021-12-02 01:23] yanliang567 commented on #12571
@JamCrash could you please add any repro scripts for us? also it would be very helpful if you have any milvus proxy logs

[2021-12-02 01:23] yanliang567 commented on #12571
/assign @JamCrash
/unassign

[2021-12-02 02:10] yhmo commented on #12498
Crashed in annoy lib, the callstack:

[code]

Crash in this method:

[code]
This method was changed by [this commit](https://github.com/milvus-io/milvus/commit/f039032c8c8fe89a40c21bbf7c27f0914f92aafc#diff-c1e0e3ee2ac7a796ff8195fa7f910c354b1fe31a90bd95861f8ef2f94faf5bcb), on Apr 21, 2020, by @cydrain

[2021-12-02 02:11] yhmo commented on #12498
Looks like stack overflow. The commit use faiss inner product algorithm to replace the original annoy lib algorithm.

[2021-12-02 02:16] Writtic commented on #10527
@xiaofan-luan Hi, Thanks to reply. And I have another question related to your answer. Could the num_shard parameter affects not only insertion but also query performance? I think the shard which might be loaded on query node could be used both operation.

[2021-12-02 02:17] zhuwenxing commented on #12081
Same issue in this log

[scale-up-test-log-12-01.log](https://github.com/milvus-io/milvus/files/7638413/scale-up-test-log-12-01.log)
[test-scale-up-12-02-10-03-34.zip](https://github.com/milvus-io/milvus/files/7638444/test-scale-up-12-02-10-03-34.zip)

[2021-12-02 02:19] ThreadDao commented on #7522
This problem will be solved after 2.0 release

[2021-12-02 02:23] godchen0212 commented on #12218
/unassign @czs007
/unassign @xiaofan-luan
/unassign @xige-16
/unassign @scsven
/assign @ThreadDao

[2021-12-02 02:26] XuanYang-cn commented on #12081
/assign

[2021-12-02 02:30] godchen0212 opened #12585 "[Bug]: Memory leak in the storage deserilize"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I test it on my local machine and go version is 1.16. I test insert 500K data with dim 128 in to milvus, load and release for 100 times. The memory usage increase from 58M to 1.5G and fell back to 700M after two minutes.

### Expected Behavior

The memory usage should

[2021-12-02 02:33] godchen0212 commented on #12218
Case 3 related to issue #12585

[2021-12-02 02:33] bigsheeper commented on #12218
As for the scenario 2 mentioned above，maybe we don't need to upgrade the version. Here's the release note of go version 1.16:

So we can also just set the `GODEBUG=madvdontneed=1` env and no need to upgrade go version. I'v tested it on my computer and it worked. We can just add a config param or use `os.Setenv`, and users would not limited to golang versions.

[2021-12-02 02:38] xiaofan-luan commented on #10735
I'm not surprised to see the search latency increased, seems that the server is running out of cpu resources under around 300 qps~ To verify my point of view,  probably you can check the grafana monitor see if CPU load increases to its max.

A good way to improve throughput is to combine multiple query into one, we are planing to do this on later versions, for now you can do it by yourself, which

[2021-12-02 02:42] godchen0212 commented on #12585
/assign

[2021-12-02 02:59] binbinlv commented on #12265
@congqixia hi, congqi, how is the fix going?

Thanks.

[2021-12-02 03:00] wangting0128 opened #12589 "[Bug]: [benchmark][cluster] 50million vectors, milvus hang when create index of IVF_FLAT"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod：benchmark-tag-l24pt-3132781891

client log：
[code]

### Expected Behavior

argo task：benchmark-tag-l24pt

test yaml：
client-configmap: client-search-sift50m-ivf-flat-4096
server-configmap: server-cluster-8c32m

server：
[code]

### Steps To Reproduce

1、crea

[2021-12-02 03:03] congqixia commented on #12265
@binbinlv  Waiting for the final PR

[2021-12-02 03:07] xige-16 commented on #12559
collection has multi vector colume. Although it only builds index for one of the columns, when querynode queries the index file for each vector column, it only uses the segmentID to query the rootcoord without specifying the fieldID, so the query result is that each vector column has an index

[2021-12-02 03:09] xige-16 commented on #12559
But querynode currently does not support loading indexes for multiple vector columns of a segment at the same time, so load error occurs

[2021-12-02 03:12] DingQK commented on #7154
@

Thank you so much! I will check the issue!

[2021-12-02 03:50] binbinlv opened #12592 "[Bug]: Auto compaction merge case fail"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Test case fail
[code]

### Expected Behavior

wait for auto compaction completed

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2021-12-02 03:54] cydrain opened #12593 "[Enhancement]: Update ExecPlanNodeVisitor to use unique_ptr as return type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Suggest change "get_moved_result" and "get_retrieve_result" 's return type to unique_ptr to avoid structure copy.

[code]

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-12-02 03:54] cydrain commented on #12593
/kind improvement

[2021-12-02 03:55] cydrain commented on #12593
/assign

[2021-12-02 04:17] yhmo commented on #12498
The v2.0 also has same bug.

[2021-12-02 04:21] yhmo opened #12598 "[Bug]: Milvus crashed during building ANNOY index"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Run this script on 2.0:

[code]

Milvus crashed in annoy lib.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-12-02 04:23] yhmo commented on #12598
Link to @12498
The bug can be reproduced both v1.1 and v2.0.

[2021-12-02 04:58] jaime0815 opened #12599 "[Bug]: return value is incorrect in checkIndexMeta"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Missing return statement.
https://github.com/milvus-io/milvus/pull/11730

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-12-02 05:07] yanliang567 commented on #12598
@ThreadDao could you please help to check whether it repros with out ci tests?

/assign @ThreadDao
/unassign

[2021-12-02 05:14] Writtic commented on #6162
@devkapilbansal @xiaofan-luan I want to assign this issue to me also.

[2021-12-02 05:39] bluntWu opened #12605 "Graph search with Exception No Available Query node result"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

java.lang.Exception: No Available Query node result, filter reason [UnexpectedError]
: id 429206359433931035

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything else? (Additional

[2021-12-02 06:18] bigsheeper commented on #12081
/assign

[2021-12-02 06:19] wangting0128 commented on #12297
**Issue recurring**

argo task: benchmark-no-clean-wmgc8

test yaml:
client-configmap: client-random-locust-100m-ddl-r8-w2
server-configmap: server-single-32c128m-noprobe

client logs:
[code]

server:
[code]

[2021-12-02 06:19] bigsheeper commented on #12514
I'll fix it

[2021-12-02 06:25] #10460 closed

[2021-12-02 06:29] wangting0128 opened #12611 "[Bug]: [benchmark][cluster] 1 billion dataset, querynodes restart when insert data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

**In the stage of inserting data, the three querynodes restarted**

logs:
[benchmark-no-clean-wzt6t-1-milvus-querynode-55c8dfbf-79n28.log](https://github.com/milvus-io/milvus/files/7639549/benchmark-no-clean-wzt6t-1-milvus-querynode-55c8dfbf-79n28.log)
[benchmark-no-c

[2021-12-02 06:29] yhmo commented on #12605
@bluntWu

The error "No Available Query node result" means the search return an empty result so that the server side return this error.
Could you send me the client side code? And how many entities in this collection?

[2021-12-02 06:53] xige-16 commented on #12611
[benchmark-no-clean-wzt6t-1-milvus-querycoord-7b768466f-v5nnt.log](https://github.com/milvus-io/milvus/files/7639656/benchmark-no-clean-wzt6t-1-milvus-querycoord-7b768466f-v5nnt.log)

[2021-12-02 06:54] xige-16 commented on #12611
After the system is started, querycoord does not receive any add kv or delete kv signal, indicating that no node has exited or newly joined the cluster.

[2021-12-02 06:55] xige-16 commented on #12611
There is no trace of restart from the log of querynode

[2021-12-02 07:01] xige-16 commented on #12559
@cydrain is fixing the issue

[2021-12-02 07:15] cydrain commented on #12559
/assign

[2021-12-02 07:37] xiaofan-luan commented on #12605
This issue should be fixed in GA version, duplicated with #1214i

[2021-12-02 07:40] xige-16 commented on #12611
@LoveEachDay Trouble you check it

[2021-12-02 07:40] czs007 opened #12614 "QueryNode cannot found tSafer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

2021-12-01T15:46:51.621565532Z stdout F [2021/12/01 15:46:51.617 +00:00] [ERROR] [query_collection.go:538] ["[should not happen!] stop doUnsolvedMsg, err = cannot found tSafer, vChannel = by-dev-rootcoord-dml_103_429489809257136129v1"] [stack="github.com/milvus-io/mil

[2021-12-02 07:41] wangting0128 opened #12615 "[Bug]: [benchmark][cluster] Insert timeout : message send timeout: TimeoutError"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod:benchmark-cron-n5dz2-3917376036

client log:
[code]

### Expected Behavior

argo task: benchmark-cron-n5dz2

test yaml:
client-configmap: client-acc-glove-ivf-flat,instanceId:5,server-configmap:server-cluster-8c16m

server:
[code]

### Steps To Reproduce

[

[2021-12-02 07:44] xiaofan-luan commented on #9672
@wangting0128 very impressive  result.

My guess is that when nprobe is small and result size length, pulsar result written and proxy reduce result dominates the total procedure time cost. since two nodes will return double data to proxy side, proxy takes longer on reduce thus cause the result to be very close to one node.

On the situation of  small data size, small nprobe and large topk, we prob

[2021-12-02 07:44] xiaofan-luan commented on #9672
/assign @czs007

[2021-12-02 07:54] wangting0128 opened #12622 "[Bug]: [benchmark][standalone] milvus restarted 56 times and failed to insert data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod：benchmark-cron-n5dz2-736002660

[locust_report_2021-12-01_293.log](https://github.com/milvus-io/milvus/files/7639993/locust_report_2021-12-01_293.log)

client logs:
[code]

### Expected Behavior

argo task: benchmark-cron-n5dz2

test yaml:
client-configmap:

[2021-12-02 07:55] czs007 opened #12623 "[Enhancement]: The task being sent to the Node by the Coordinator should be cancelled as the node goes down"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

The Coordinator needs to immediately cancel the internal task being sent to a Node when it finds that the Node is down.

The Coordinator role encapsulates some internal requests sent to Node into a task and ensure that the task is executed. Currently if the Node fails, the tas

[2021-12-02 07:57] JackLCL commented on #12516
@shangfu-peng
What scenarios do you want to cluster all sub-vectors as a global space? We want to know whether it is a general need.

[2021-12-02 08:06] LoveEachDay commented on #12611
According to the QueryNode log, it's restarted because of connection failure to RootCoord, and this happens when cluster is initializing. This is by design.

[2021-12-02 08:13] bluntWu commented on #12605
public static List<?> searchVideo(List<List<Float>> videoVector, Integer searchNum) {
        milvusClient.loadCollection(LoadCollectionParam.newBuilder()
                .withCollectionName(VIDEO_COLLECTION_NAME)
                .build());
        System.out.println("========== searchProfile() ==========");
        List<String> outFields = Collections.singletonList(VIDEO_ID_FIELD);
        Search

[2021-12-02 08:14] #12611 closed

[2021-12-02 08:46] yanliang567 commented on #12218
@xiaofan-luan 2 questions for the 1st one:
1. how long users need to wait for the next GC?
2. does the memory 100% released after a GC?

@bigsheeper any pr to your suggestion above?

/assign @bigsheeper
/assign @xiaofan-luan
/unassign @ThreadDao

[2021-12-02 08:53] Writtic commented on #6162
/assign

[2021-12-02 09:01] shangfu-peng commented on #12516
I think it is a general need. Our vector is naturally concatenated by several sub-vectors. In details, our original vector dim is 120*128 in total, which is very long. Each 128 dim is in the same global space. We want to use PQ/IVF_PQ to represent this kind of vector to reduce the index size.

So we can choose M=120 to train PQ, and each sub-vector dim is 128. By default training, PQ would train t

[2021-12-02 09:02] wangting0128 opened #12629 "[Bug]: [benchmark][cluster] 1 billion dataset, loading error: 503 Service Unavailable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod:benchmark-no-clean-wzt6t-758071449

client logs:
[code]

### Expected Behavior

argo task: benchmark-no-clean-wzt6t

test yaml:
client-configmap: client-random-locust-search-84h-1b
server-configmap: server-cluster-8c64m-datanode2-indexnode4-querynode6-nocom

[2021-12-02 09:12] louisyaphets commented on #12498
Hi, yhmo. How can wo slove this bug? Wait a new v1.1.0 bugfix relase?

[2021-12-02 09:15] yhmo commented on #12498
The reason is still in investigation. Do you strongly need this kind index? How about using another index type(IVF, HNSW)?

[2021-12-02 09:18] xige-16 commented on #12629
Querycoord encountered this error when getting  the binlog header from minio
[code]

[2021-12-02 09:45] louisyaphets commented on #12498
The index type we used is HNSW.
related params:
index: HNSW,
IndexParam: "{"M":64, "efConstruction":64}",
SearchParam: "{"ef":1024}",
VectorDim: 768

[2021-12-02 09:45] louisyaphets commented on #12498
The index type we used is HNSW.
related params:
index: HNSW,
IndexParam: "{"M":64, "efConstruction":64}",
SearchParam: "{"ef":1024}",
VectorDim: 768

[2021-12-02 09:45] xige-16 commented on #12629
/assign @LoveEachDay

[2021-12-02 09:46] #9706 closed

[2021-12-02 09:52] JackLCL commented on #12516
@xiaofan-luan
What do you think of this demand?

[2021-12-02 09:59] XuanYang-cn commented on #12081
@zhuwenxing The insert behaviour is very strange, I'm going to track this behaviour in another issue.

[2021-12-02 10:02] xiaofan-luan commented on #12622
/assign

[2021-12-02 10:02] yanliang567 opened #12632 "[Bug]: [Memory][min config] index node with 3GB limition OOM when building 40m entities"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

index node configured 3GB memory limited OOM-ed when trying to build index for a collection with 40 million entities

### Expected Behavior

build index successfully

### Steps To Reproduce

[code]

### Anything else?

kubectl get pod | grep milvus-minimal
[code]

[2021-12-02 10:04] wangting0128 opened #12633 "[Enhancement]: limit the CPU usage of each querynode to below 80%"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

[code]

<img width="899" alt="截屏2021-12-02 18 00 45" src="https://user-images.githubusercontent.com/26307815/144400095-34baeba8-1f7e-4a9b-b65a-94a4eca28d53.png">

### Why is this needed?

`Excessive CPU usage may cause abnormalities in the program`

### Anything else?

`It is

[2021-12-02 10:05] yhmo commented on #12598
Crashed in annoy lib, the callstack:
[code]

Crash in this method:

[code]

[2021-12-02 10:07] yhmo commented on #12598
[code]

[2021-12-02 10:09] yhmo commented on #12498
Sorry, I made a mistake with wrong script. Will investigate again.

[2021-12-02 10:14] wangting0128 opened #12634 "[Enhancement]: limit the CPU usage of each indexnode to below 80%"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

`When creating index, the cpu resources of the corresponding indexnode will be full`

### Why is this needed?

`Excessive CPU usage may cause abnormalities in the program
`

### Anything else?

`It is recommended to limit the CPU usage of each indexnode to below 80%
`

[2021-12-02 10:18] congqixia commented on #12265
@binbinlv fixing PRs have been merged. Could you please verify?
/unassign
/assign @binbinlv

[2021-12-02 10:19] #12358 closed

[2021-12-02 10:36] xige-16 commented on #12465
/unassign
/unassign @xiaocai2333
/unassign @sunby
/assign @wangting0128

[2021-12-02 10:41] czs007 opened #12635 "[Enhancement]: QueryNode releases the segment asynchronously."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

When trying to delete a segment, if there is a query in progress, you can mark it as delete, and then delete the segment after the query is completed. The segment marked as delete cannot serve new queries.

### Why is this needed?

Currently, when querynode releases a segment,

[2021-12-02 11:08] binbinlv commented on #12265
working on it.

[2021-12-02 11:14] yanliang567 commented on #12615
one more thing I think we need to look into:
[code]
insert cost more seconds, comparing with before(around 2 seconds)

[2021-12-02 11:15] binbinlv commented on #11969
Need to investigate the NFS related issue.

[2021-12-02 11:41] godchen0212 opened #12643 "[Enhancement]: Arrow and parquet version should update"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Arrow version should update

### Why is this needed?

The version of arrow is 2.0.0, and now the latest version has reached 6.0.1, which is 4 versions behind. We should upgrade the version of arrow.

### Anything else?

_No response_

[2021-12-02 12:00] binbinlv commented on #12265
Verified, and fixed.

Milvus: d40f4a6
pymilvus: rc9.dev22

[2021-12-02 12:00] #12265 closed

[2021-12-02 12:08] binbinlv opened #12648 "[Bug]: Files in minio are not deleted in setting time"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

In minio, some collections are deleted, but there are still large numbers of collection exists for relatively long time compared with 60s.

(Will check whether it is very slow or not even deleted until tomorrow)

### Expected Behavior

All the dropped collections are

[2021-12-02 12:15] congqixia commented on #12615
Found datacoord exited for disconnecting fomr etcd
[code]
Will check other coords

[2021-12-02 13:55] xige-16 opened #12662 "[Bug]: querynode data can't be released after querycoord ReleaseDQLMessageStream failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

if querycooord ReleaseDQLMessageStream failed, collection meta has been removed from coord's meta, so Even if the release request is received again, the data on querynode cannot be cleaned up

### Expected Behavior

after release collection failed, data also can be re

[2021-12-02 13:56] xige-16 commented on #12662
/assign
/unassign @yanliang567

[2021-12-02 16:45] xiaofan-luan opened #12667 "[Enhancement]: Indexcoord should not get all nodes from etcd all the time"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

we always see the log SessionUtil GetSessions for indexcoord.

It is because index coord  try to list all index node by calling SessionUtil.

Actually we cached all clients at nodeManager, which is the right place to do list

### Why is this needed?

remove all necessary logs.

[2021-12-03 01:24] yanliang567 commented on #12599
@jaime0815 i think you are working on it.
/assign @jaime0815
/unassign

[2021-12-03 02:08] congqixia commented on #12615
@wangting0128 check all log of restarted pods
[code]
The disconnected from etcd at same moment. Afterward restarts are caused by failure to connect etcd at start procedure.

[2021-12-03 02:09] congqixia commented on #12615
/unassign @sunby
/assign @wangting0128

[2021-12-03 02:42] binbinlv opened #12673 "[Bug]: Insert failed with exception "SegmentIDAllocator failRemainRequest unexpected error""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Insert failed with Exception:
"pymilvus.client.exceptions.BaseException: <BaseException: (code=1, message=getSegmentID failed: SegmentIDAllocator failRemainRequest unexpected error)>"

### Expected Behavior

Insert successfully

### Steps To Reproduce

[code]

### Any

[2021-12-03 02:50] wangting0128 opened #12677 "[Bug]: [benchmark][standalone] milvus crash and restart 33 times, flush raise error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod：benchmark-cron-1638460800-2347949455

[client.log](https://github.com/milvus-io/milvus/files/7646468/client.log)

client logs：
[code]

### Expected Behavior

argo task：benchmark-cron-1638460800

test yaml：
client-configmap: client-insert-bp-batch,instanceId

[2021-12-03 02:50] #12592 closed

[2021-12-03 03:31] yanliang567 opened #12680 "[Enhancement]: Disable mutliple vector fields in a collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Features of multiple vector fields in one collection requires more further investigation. So let's disable it for now

### Why is this needed?

a not well defined feature would confuse us.

### Anything else?

_No response_

[2021-12-03 03:31] #12352 closed

[2021-12-03 03:33] binbinlv commented on #11950
Now through changing the searching behavior during releasing from returning empty to reporting message, now the tests are not hanging, so close it.

[2021-12-03 03:33] #11950 closed

[2021-12-03 03:33] binbinlv commented on #11148
Now through changing the searching behavior during releasing from returning empty to reporting message, now the tests are not hanging, so close it.

[2021-12-03 03:33] #11148 closed

[2021-12-03 03:45] yanliang567 opened #12682 "[Bug]: Retrun an error with a msg immeadiately instead of waiting when segments are still in loading process"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

when Milvus restarted,  a collection loaded before restart would automatically be loaded, but loading status at that time is 100% completed(Although query nodes are still doing load). So when a user searches at that time, it hangs

### Expected Behavior

return an err

[2021-12-03 03:57] yanliang567 commented on #12615
seems like a test env noisy issue, remove from urgent first

[2021-12-03 04:11] xiaocai2333 commented on #12589
Index building is slow when nlist = 4096. It can be seen from the log that the 50M data is divided into 66 segments, and the indexing time for each segment is about 400s, which takes about 7 hours in total.

[code]

[2021-12-03 04:35] #10341 closed

[2021-12-03 05:01] SuoSiFire commented on #11644
大佬，我这边复现之后去检查了一下文件夹，这是重启前后的debug日志以及文件夹信息。
**重启前**
日志
-----------
[2021-12-03 12:33:11,360][DEBUG][ENGINE][read_internal][reqsched_thread] index file size 592849535 index size 592816560
[2021-12-03 12:33:11,401][DEBUG][ENGINE][Load][reqsched_thread] set uids 0 for index /var/lib/milvus/db/v1/db/tables/1628873335723714000/1631898820410630000/1631898847616820000
[2021-12-03 12:33:11,401][DEBUG][ENGI

[2021-12-03 06:05] yanliang567 commented on #12632
I reran the test and insert less data(10 million entities), it still OOM.
Then I dropped the index, the index node keeps restart for 11 times and then go back to running, which should be improved as well.
[code]

[2021-12-03 06:23] sunby commented on #12507
There's a dead lock in `flow_graph_time_ticker.go`. It will block all flush request. @congqixia is fixing it.
releated issue: #12297

[2021-12-03 06:29] XuanYang-cn commented on #12450
/unassgin @sunby
/assign

[2021-12-03 06:43] congqixia commented on #12622
@xiaofan-luan this issue should be same as 12615.
qa-node002.zilliz.local memory & cpu usage is high around 12-02 00:30 CST(12-01 16:30 UTC)
@LoveEachDay found there was a lot of OOM kill in this node.
FYI @wangting0128 @yanliang567

[2021-12-03 06:52] ThreadDao commented on #12450
Fresh logs:
[milvus_logs.tar.gz](https://github.com/milvus-io/milvus/files/7647355/milvus_logs.tar.gz)

[2021-12-03 06:57] yanliang567 commented on #12622
remove from urgent

[2021-12-03 06:57] LoveEachDay commented on #12629
Minio server misbehaved.  We can test with `local-path` storageclass for now.

[2021-12-03 07:18] XuanYang-cn opened #12701 "[Bug]: The first insert time of large message(50MB) for new collection is 10x slower than the following insert"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

see #12081

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-12-03 07:20] czs007 commented on #12701
very good

[2021-12-03 07:34] XuanYang-cn commented on #12701
Possible useful ref:

- https://github.com/grpc/grpc-go/issues/1043
- https://github.com/grpc/grpc-go/pull/1310
- https://github.com/grpc/grpc-go/pull/1153/files
- https://github.com/grpc/grpc-go/blob/master/internal/transport/defaults.go
- https://github.com/grpc/grpc-go/pull/1952

[2021-12-03 07:35] XuanYang-cn commented on #12081
/unassign

[2021-12-03 07:42] xiaocai2333 commented on #12589
IndexNode writes the index files to minio failed.
[code]

[2021-12-03 07:42] fishpenguin commented on #12423
@rchangj There is an autimatic removal policy of old files, the expired time is 7 days, and the unit of remove is page, one page is 2GB currently,  it means that if the message size is smaller than 2G, the file won't be expired, and this policy is processed by milvus standalone, so if you want to do removal automatically, you need to keep milvus standalone started after 7days.
So the .sst files ol

[2021-12-03 07:43] fishpenguin commented on #12423
@rchangj  We are still working on the memory leak issue, and this will be fixed in 2.0.0-GA.

[2021-12-03 08:04] yanliang567 commented on #12673
it repros to me just now on when trying to insert 50000 entities for 3 times.
[code]

[2021-12-03 08:15] DragonDriver commented on #12243
OK, thanks for all your information. Closed this now. Feel free to reopen this if any similar issues occur.

[2021-12-03 08:15] #12243 closed

[2021-12-03 08:15] xiaocai2333 commented on #12589
It looks like the minio service is down.
[code]

[2021-12-03 08:22] yanliang567 commented on #11156
@ThreadDao  could you please help to check this issue on latest master?
/assign @ThreadDao
/unassign @LoveEachDay

[2021-12-03 08:34] czs007 commented on #12701
can you refer this to other related issues? @XuanYang-cn

[2021-12-03 08:51] sunby commented on #12677
I saw that compaction task is executed frequently and memory used to compact is too high. I will decrease the parallism of compaction tasks in #12707

[2021-12-03 08:55] yanliang567 opened #12708 "[Enhancement]: Increate build index timeout in ci tests"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Increate build index timeout in ci tests

### Why is this needed?

we are running ci with 4-6 clients concurrently, so sometimes building index would timeout.

### Anything else?

_No response_

[2021-12-03 09:02] zhuwenxing commented on #12701
[test.log](https://github.com/milvus-io/milvus/files/7647987/test.log) # this is test.py

[first_run.log](https://github.com/milvus-io/milvus/files/7647960/first_run.log)
[second_run.log](https://github.com/milvus-io/milvus/files/7647963/second_run.log)

###
log
[test-insert-slow-12-03-16-49-00.zip](https://github.com/milvus-io/milvus/files/7648044/test-insert-slow-12-03-16-49-00.zip)

insert time

[2021-12-03 09:04] yanliang567 commented on #12497
I have deployed a milvus instance and inserted 4 million entities 2 days ago, now i do nothing just wait...I will try to build index next Monday.

[2021-12-03 09:28] yhmo commented on #12498
给的数据有缺失？
打开 insert_data.json，是17次insert操作的数据，id编号是2, 4, 6, 8 ......
delete_data.json的数据是16次delete操作的，task.json里没有编号为2,4,6,8... 的向量id列表

[2021-12-03 09:52] BUPTAnderson commented on #10735
I run the test case again and the concurrency is 500， and the search avg_latency is 990.14ms。
The test case run from 16:00 pm to 17:30 pm. 4 querynode cpu load as following:

<img width="1631" alt="截屏2021-12-03 下午5 50 36" src="https://user-images.githubusercontent.com/13449703/144582271-1813989c-7b8c-4bdd-b140-291121af13db.png">
<img width="1636" alt="截屏2021-12-03 下午5 50 23" src="https://user-imag

[2021-12-03 10:02] louisyaphets commented on #12498
tasks中的id是任务id, type代表任务类型，insert_data和delete_data中的id也是任务id，对应tasks中的id，delete_data中的vector_ids数组是待删除的向量的id列表，insert_data中的id_vectors字段是一个数组，每个元素有2个字段，id字段代表向量id，vector字段代表向量的值。
数据结构如下：
type Tasks []Task

type Task struct {
	ID             int    `json:"id" doc:"任务ID"`
	Type           string `json:"type" doc:"任务类型"`
	CollectionName string `json:"collection_name" doc:"collection名称"`
}

type Insert

[2021-12-03 10:42] wangting0128 opened #12719 "[Bug]: [benchmark][standalone] search raise error: query coordinator is not healthy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod: benchmark-tag-blqqf-1248263126

[client.log](https://github.com/milvus-io/milvus/files/7648767/client.log)

client log:
[code]

### Expected Behavior

argo task： benchmark-tag-blqqf

test yaml:
client-configmap: client-search-sift50m-ivf-flat-1024
server-c

[2021-12-03 10:45] congqixia opened #12721 "[Bug]: component should be set to unhealthy before Stopping"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

This bug is pointed out by @jaime0815

In some component's `Stop` function, the component state is set to unhealthy after all the stopping logic finishes, which could cause unexpected behavior if other component try to call services in the process of stopping.

### Ex

[2021-12-03 10:47] yanliang567 commented on #12719
/assign @xige-16
/unassign

[2021-12-03 11:10] wangting0128 opened #12725 "[Bug]: [benchmark][cluster] getSegmentID failed: SegmentIDAllocator failRemainRequest unexpected error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod:benchmark-tag-84kzw-1387337547

[locust_report_2021-12-03_585.log](https://github.com/milvus-io/milvus/files/7649018/locust_report_2021-12-03_585.log)

client logs:
[code]

### Expected Behavior

argo task：benchmark-tag-84kzw

test yaml：
client-configmap:cl

[2021-12-03 11:19] yanliang567 commented on #12725
/assign @LoveEachDay
/unassign

[2021-12-03 11:34] LoveEachDay commented on #12725
All etcd pods are scheduled to one same node, and the load is very high.
Schedule two nodes for etcd.
/unassign

[2021-12-03 11:34] LoveEachDay commented on #12725
/assign @yanliang567

[2021-12-03 11:35] ThreadDao commented on #11156
Follow the steps below to deploy with helm `master-20211203-ffd05eb ` or operator `master-20211202-ed546d0` and failed to reproduce this problem:
1. deploy milvus cluster with 10 queryNode replicas
2. do some operations (pytest test_query.py -n 6)
3. update queryNode.replicas to 6 and apply
4. rerun query cases, no pods crash

[2021-12-03 11:36] xige-16 commented on #12719
[standalone.log](https://github.com/milvus-io/milvus/files/7649257/standalone.log)
The standalone pod only has the log of the first few minutes of startup

[2021-12-03 12:38] xige-16 commented on #12719
standalone restart at [2021/12/03 09:43:08.656 +00:00], when client call load, the querycoord is initializing，error message “query coordinator is not healthy” is the expected result.

[2021-12-03 12:48] xige-16 commented on #12719
when standalone restart, report the error "panic: new session error, maybe can not connect to etcd", and restart failed

[2021-12-03 19:04] rchangj commented on #12497
@yanliang567 Last time I saw this issue, is after about 7 days of idle.

[2021-12-04 02:11] cydrain commented on #12559
/assign @yanliang567

[2021-12-04 02:12] cydrain commented on #12559
/unassign

[2021-12-04 05:01] arshikasoni opened #12741 "[Bug]: <BaseException: (code=1, message=round_decimalnot found in search_params)>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I am doing image search engine using milvus and i am following this official website for this:

[https://github.com/milvus-io/bootcamp/blob/master/solutions/reverse_image_search/reverse_image_search.ipynb](url)
![Screenshot from 2021-12-04 10-09-18](https://user-image

[2021-12-05 02:21] matrixji commented on #12335
/close

[2021-12-05 02:21] #12335 closed

[2021-12-05 13:37] xiaofan-luan opened #12742 "[Enhancement]: Improve rocks mq integrity"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

1) remove unnecessary variables and its persistence
2) do the right cleanup when destroy topic
3) add memory metrics for rocksmq
4) handle errors correctly for rocksmq
5) change some of the rocksdb behaviours
6) fix several integrity issue
7) improve efficiency of some of the

[2021-12-05 17:37] nazzour commented on #9689
I am facing the same problem with both docker-compose and k8s. After restarting k8s pods or restarting docker-compose the search does not work anymore. the insertion is OK. Any solution please ??

[2021-12-05 17:40] nazzour commented on #12169
I am facing the same problem with both docker-compose and k8s. After restarting k8s pods or restarting docker-compose the search does not work anymore. the insertion is OK. Any solution please ??

[2021-12-05 23:04] #10799 closed

[2021-12-06 01:03] yanliang567 commented on #9689
@nazzour if the solution above is not working for you, please try to file a new issue and provide as more info as possible, this would help us address the issue ASAP

[2021-12-06 01:08] yanliang567 commented on #12741
@arshikasoni could you please retry with the Milvus rc8 and Pymilvus rc8? It seems that the Pymilvus version is not matched with Milvus server.

/assign @arshikasoni
/unassign

[2021-12-06 01:13] yanliang567 commented on #11156
@parsa-ra could you please retry on latest master? it seems that it did not reproduce any more.
/assign @parsa-ra

[2021-12-06 01:15] yanliang567 commented on #12725
@wangting0128 let's see what happens as we get more etcd delegated nodes

[2021-12-06 01:27] #12708 closed

[2021-12-06 02:05] yanliang567 commented on #12559
@realtwister we are going to disable multiple vector field support in Milvus 2.0, as the feature of multiple vector fields are not well defined for now. Please share your comments in #12680 if any concerns or questions.

remove from urgent for reasons above.

[2021-12-06 02:35] #12513 closed

[2021-12-06 02:40] binbinlv opened #12750 "[Bug]: Search topK is smaller than expected after compaction"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search topK is smaller than expected after compaction

### Expected Behavior

Search topK is equal with expected after compaction

### Steps To Reproduce

Run nightly:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/249/pi

[2021-12-06 02:41] binbinlv commented on #12750
Not occurs steadily.

[2021-12-06 02:56] binbinlv opened #12751 "[Bug]: Sometimes search distance accuracy is bigger than expected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Sometimes search distance accuracy is bigger than expected

### Expected Behavior

Sometimes search distance accuracy is smaller than expected

### Steps To Reproduce

[code]
[code]

[2021-12-06 02:56] binbinlv commented on #12751
Not occurs steadily.

[2021-12-06 03:09] wangting0128 opened #12753 "[Bug]: [benchmark][cluster] One billion data sets, when inserting more than 600 million, the insert is stuck"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod: benchmark-no-clean-zg56b-1791458232

client log:
[code]

server:
[code]

### Expected Behavior

argo task: benchmark-no-clean-zg56b

test yaml:
client-configmap:client-random-locust-search-84h-1b
server-configmap:server-cluster-8c64m-datanode2-indexnode4-q

[2021-12-06 03:13] binbinlv commented on #12648
@congqixia Hello, congqi, Is this pr (#12702) the complete fix for this issue? Thanks.

[2021-12-06 03:13] congqixia opened #12755 "[Bug]: Security Alert for jwt-go"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

`Dependabot` reports security alert for jwt-go 3.2.0

### Expected Behavior

Not security alert from `Dependabot`

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-12-06 03:25] wangting0128 commented on #12297
**Issue recurring**

argo task：benchmark-no-clean-mr59z

test yaml：
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-cluster-8c64m

server:
[code]

client log:
[locust_report_2021-12-04_760.log](https://github.com/milvus-io/milvus/files/7657743/locust_report_2021-12-04_760.log)

[2021-12-06 03:30] congqixia commented on #12648
@binbinlv just verified locally with L0 test cases, all fails remains are related to collections that are not dropped.
BTW, this process is kind of annoying.

[2021-12-06 03:33] #12571 closed

[2021-12-06 04:06] yhmo commented on #12598
Use this script to compare results:

[code]

[2021-12-06 04:07] JamCrash opened #12761 "[Bug]: milvus cannot connect to etcd when inject istio sidecar"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

all milvus node will occur logs like this:
[container (9).log](https://github.com/milvus-io/milvus/files/7657858/container.9.log)

k8s deployment yaml:

[dpl.zip](https://github.com/milvus-io/milvus/files/7657899/dpl.zip)

### Expected Behavior

_No response_

### Ste

[2021-12-06 04:53] parsa-ra commented on #11156
Yeah for sure, I'll keep you posted ...

[2021-12-06 05:37] arshikasoni commented on #12741
Yes it is working now..Thanks for the help..!!

[2021-12-06 05:56] #12741 closed

[2021-12-06 06:02] yanliang567 commented on #12761
/assign @zwd1208  is it a supported scenarios for milvus now?

/unassign

[2021-12-06 06:08] DragonDriver commented on #12751
I know that this case was meant to test a record should be searched using it's own vector. How about try using `ef=efConstruction`? I noticed that `ef` here we are using is much less than the `efConstruction` of when we build index. It means that we may search less records. When a collection was indexed, milvus search with index. Different index has different features, which means some index has m

[2021-12-06 06:12] congqixia commented on #12753
The reason datanodes continue to crash is that the recovery point has segment(s) with non-empty start position but empty dml position. Some code will crash is this situation in creating new DataSyncService.
The first crash may caused by mal-function of minio. Will update after find any log evidence.

[2021-12-06 06:13] congqixia commented on #12755
Alert still exists after replace jwt-go

[2021-12-06 06:16] xiaocai2333 commented on #12589
This is a problem with nfs storage, please retest. @wangting0128

[2021-12-06 06:17] xiaocai2333 commented on #12589
/assign @wangting0128
/unassign

[2021-12-06 06:17] DragonDriver commented on #12632
Similar to https://github.com/milvus-io/milvus/issues/12218.

We used `InsertCodec` when building index, which has some memory leak. In this case, a collection with 40M entities will be assigned to 8 segments. Milvus will create index for every segment, so there are 8 times memory leak.

@godchen0212 is working on fixing the memory leak of codec.

[2021-12-06 06:19] congqixia commented on #12753
Datanode first crashed with log:
[code]
It failed to save binlog to etcd

[2021-12-06 06:23] yanliang567 commented on #12589
@wangting0128 please keep us updated if it still repros

[2021-12-06 06:23] xiaofan-luan commented on #12218
We've seen memory leakage on desrialize part, though godchen is working on that

[2021-12-06 06:27] congqixia commented on #12755
Dismissed with not used. closing this issue.

[2021-12-06 06:27] #12755 closed

[2021-12-06 06:30] yhmo commented on #12605
@bluntWu
I create a collection to test your client code, it works well.
If I create an empty collection, the search will return empty results. But I didn't encounter the error "No Available Query node result".

[code]

[2021-12-06 06:38] zhuwenxing opened #12769 "[Bug]:[data compatibility] Search raise rpc timeout error after re-start standalone milvus installed by docker-compose"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

works well

### Steps To Reproduce

[code]

### Anything else?

logs:
[logs-standalone-reinstall](https://github.com/zhuwenxing/milvus/suites/4562362525/artifacts/122607792)

This issue only happened when deploying standalone milvus by d

[2021-12-06 07:03] DragonDriver commented on #12751
By the way, can you print the ids of all hit records? In this way, we can know if the original vector was hitted.

[2021-12-06 07:19] xige-16 commented on #12719
the issue was caused by the high load of etcd nodes

[2021-12-06 07:19] xige-16 commented on #12719
/unassign @xige-16
/assign @wangting0128

[2021-12-06 07:19] xige-16 commented on #12629
/unassign
/unassign @LoveEachDay
/assign @wangting0128

[2021-12-06 07:21] xige-16 commented on #12719
@LoveEachDay has assigned two nodes to etcd, the issue  should have been fixed

[2021-12-06 07:25] zwd1208 commented on #12761
We haven't tested run milvus with istio. maybe we'll do some tests later

[2021-12-06 07:28] DragonDriver commented on #12632
/assign @godchen0212

[2021-12-06 07:36] xige-16 commented on #12323
/unassig @bigsheeper
/unassign @godchen0212

[2021-12-06 07:38] xige-16 commented on #12271
/unassign @DragonDriver
/unassign @bigsheeper

[2021-12-06 07:49] cydrain commented on #12373
if comment following line in API "ExecPlanNodeVisitor::VectorVisitorImpl", memory stop increasing.
[code]

[2021-12-06 07:56] JackLCL commented on #12761
@JamCrash
What istio version do you use?

[2021-12-06 08:05] JamCrash commented on #12761
istio version 1.7.3

[2021-12-06 08:14] jaime0815 opened #12777 "[Enhancement]: Support Milvus debug and run on Mac"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Milvus can be run or compiled on MAC

### Why is this needed?

 Trying to run/debug is difficult in the MAC/Windows environment.

### Tasks
- [x] [Separating knowhere from milvus project](https://github.com/milvus-io/milvus/issues/11995)
- [x] [Default disable libfiu.](https:/

[2021-12-06 08:29] xige-16 commented on #12514
[query_node.go:234] ["query node init successfully"] [queryNodeID=0] [IP=10.202.32.85] [Port=21123]
If the nodeID registered by querynode is equal to 0, it will cause coord panic. I will reorganize the logic of this part.

[2021-12-06 08:29] xige-16 commented on #12514
/assign @xige-16

[2021-12-06 08:43] binbinlv commented on #12751
OK， I will add some logs.

[2021-12-06 08:44] ThreadDao opened #12779 "[Bug]: Query growing data gets empty result on CI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-12772/2/pipeline
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-12-06 08:57] jaime0815 opened #12781 "[Enhancement]: Support a brute force search vector index"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Support a brute force search algorithm that is a kind of vector index, it doesn't depend on thirdparty libs and can be run on Mac/Ubuntu.

### Why is this needed?

Decoupling segcore and faiss, segcore should directly access knowhere interface rather than faiss libs.

### Anyt

[2021-12-06 09:01] ThreadDao commented on #12598
@yanliang567 CI cases include the building of ANNOY index with IP metric `test_create_index_ip`, but the reason why this problem is not exposed in CI is as follows：
1. The amount of data is only 3000, and the script @yhmo mentioned cannot be reproduced when nb is equal to 3000 or dim is equal to 128.
2. There is no flush in the case, in fact, the growing data will not be indexed

I will update the

[2021-12-06 09:01] xige-16 commented on #12514
I made a mistake, the nodeID is not actually not 0.

[2021-12-06 09:11] xige-16 commented on #12514
/assign @DragonDriver
/unassign @bigsheeper

[2021-12-06 09:12] xige-16 commented on #12779
/unassign @fishpenguin

[2021-12-06 09:13] xige-16 commented on #12779
/unassign @yanliang567

[2021-12-06 09:29] claireyuw opened #12786 "Outdated README"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Inlcude Milvus CLI

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-12-06 09:46] cydrain commented on #12373
Comment following lines (faiss/IndexIVF.cpp::IndexIVF::search_without_codes), memory increases only 90M for each "search" operation. (before 800M)

[code]

[2021-12-06 09:47] yanliang567 opened #12791 "[Enhancement]: Update and Refine test levels by tags"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

update and refine test levels by pytest tags, to expose more issues in ci pipelines

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-12-06 10:38] cydrain commented on #12373
In this case, we create index "IVFFLAT_NM" (#2704), maybe we should use original "IVFFLAT".

[2021-12-06 11:25] congqixia opened #12809 "[Bug]: Healthz check may returns ok even some components are not healthy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Standalone healthz handler only checks 4 coordinators not nil. This might cause following problem:
1. Proxy not is not healthy
2. component is not nil, but still initializing

### Expected Behavior

Standalone healthz check returns exactly the instance healthy state.

[2021-12-06 12:05] DragonDriver commented on #12514
[code]

[2021-12-06 12:11] jingkl commented on #12465
/assign @xige-16

[2021-12-06 12:20] jingkl commented on #12465
client pod :  benchmark-tag-78d27-1864031499
client logs ：
[code]

argo task: benchmark-tag-78d27
test yaml:
client-configmap:client-search-sift50m-ivf-flat-2048
server-configmap:server-cluster-8c32m-segment1024
`[benchmark update] The image name used is master-20211206-b20a238`
[code]

[2021-12-06 12:57] xige-16 commented on #12465
When querycoord is loaded to the last segment, querynode's memory is insufficient.
[code]

[2021-12-06 13:02] xige-16 commented on #12779
I have reproduced this problem. If two growing semgnets are inserted, and the query result is empty, the growing segmentID of the query is the same, that is to say, a segment is missed in the query.

[2021-12-06 13:09] xige-16 commented on #12465
quuerynode config
[code]

[2021-12-07 01:22] yanliang567 commented on #12769
@xige-16 you can reproduce it by rerun the tests in github actions. https://github.com/milvus-io/milvus/actions/runs/1546503405

[2021-12-07 01:56] xiaofan-luan commented on #12559
will support multi vector in later version

[2021-12-07 02:03] xiaofan-luan commented on #10735
Hi anderson, it seems that then load is not balanced between all querynodes(only Q1 and Q2 has nodes).
We've already add load balance and handoff mechanism so this issue should be solved on current master (As well as GA)

[2021-12-07 02:07] zhuwenxing commented on #12769
This reproduces on local env, so set it as urgent.

Note that, before re-start, the collection was not released.

[2021-12-07 02:58] jingkl commented on #11074
client-configmap：client-search-sift50m-ivf-flat-1024,
server-configmap:server-cluster-8c32m
argo task：benchmark-tag-g9pd2
sever ：
[code]

[2021-12-07 03:00] jingkl commented on #11074
[code]

[2021-12-07 03:04] jingkl commented on #11074
client-configmap:client-search-sift50m-ivf-flat-1024,i
server-configmap:server-cluster-8c32m-segment1024
client log：

[2021-12-07 03:24] xige-16 commented on #12779
When multiple flowgraphs update query node meta at the same time, some segment information may be overwritten

[2021-12-07 03:27] zhuwenxing commented on #12081
dup with #12701
So close it

[2021-12-07 03:27] #12081 closed

[2021-12-07 03:38] DragonDriver commented on #12514
Not sure why. I think it's `querypb.ReleaseCollectionRequest = nil` caused this issue. But after searched the all usage of `releaseCollectionTask`, I can't find any possibilities that `querypb.ReleaseCollectionRequest = nil`.

[2021-12-07 03:48] DragonDriver commented on #12514
There are some unreasonable places:
- 1, disconnected to etcd, qc exit, but the scheduler of qc don't exit normally;
- 2, the task id of rollback task is not assigned, which is not convinient to debug;

[2021-12-07 03:57] xiaocai2333 commented on #11074
[code]

[2021-12-07 03:57] xiaocai2333 commented on #11074
/assign @bigsheeper

[2021-12-07 04:00] DragonDriver opened #12860 "[Bug]: Segment size bigger than dataCoord.segment.maxSize"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Create collection with a float vector field whose dim is `128`.
Insert 40M entities.
Flush collection.

Then I got 8 segments, the num_rows of those segments are [669930, 1545264, 6298320, 6297564, 6299608, 6297342, 6294408, 6274564]

### Expected Behavior

The size o

[2021-12-07 04:11] yhmo commented on #7700
Note: There are still dozen of stability/critical issues blocking GA release, adding restful server may bring impact to GA release work. Currently pending this task, will restart after GA successfully release.

[2021-12-07 05:14] yanliang567 commented on #12860
@DragonDriver is this a regression issue? I remember we have tested the config of dataCoord.segment.maxSize, it worked at that time.

[2021-12-07 05:32] DragonDriver commented on #12860
Nope. I reproduced this issue on my local pc.

[2021-12-07 05:56] DragonDriver commented on #12447
Can this issue be reproduced in nightly ci again? @binbinlv

[2021-12-07 06:02] zhuwenxing commented on #12769
Test steps:
1. deploy standalone milvus by docker-compose
2. cd `tests/python_client/deploy/scripts` and run `python action_reinstall.py`
3. docker-compose down but keep volumes
4. docker-compose up -d
5. cd `tests/python_client/deploy/scripts` and run `python action_reinstall.py`

The issue happens in step 5

[2021-12-07 06:24] SuoSiFire commented on #11644
已经确定是cfs有盘读不到的情况，感谢大佬 @yhmo ,这个issue先关了。

[2021-12-07 06:24] #11644 closed

[2021-12-07 06:46] jingkl commented on #11074
op：
[code]

[2021-12-07 06:52] sunby commented on #6162
Thanks for your interest! Just like @xiaofan-luan said, you can add this feature in compaction. Compaction related codes are in `internal/datacoord/compaction_trigger.go`, `internal/datacoord/compaction.go` and `internal/datanode/compaction_executor.go`. If you have some questions, you can discuss with @congqixia and me.

BTW, compaction only release resources periodically. But we should also make

[2021-12-07 07:06] cydrain commented on #12373
Milvus 1.x (branch "experimental") has almost same FAISS code with Milvus 2.0.
Try to create IVFFLAT_NM index and insert 500000 rows dim 128 data, then search, the traceback is like following:

[code]

[2021-12-07 07:06] #12860 closed

[2021-12-07 07:10] DragonDriver commented on #12860
I made a mistake, actually the dim of float vector field is 8 instead of 128.
Apologize if you spent any time for this meaningless issue.
Closed this.

[2021-12-07 07:20] xiaofan-luan commented on #6162
hi writtic, reach me or sunby at slack see if we can give your more information.
for entity remove, we can purge data when compaction happens, which should be simple, but since compaction is background, data may still be valid if it expired.
If we need to handle data visibility, we need to extend time travel to support a range [startTs, endTs), so that data will be filterd out while query

[2021-12-07 07:21] xiaofan-luan commented on #12781
can we use IVF FLAT inside knowhere?

[2021-12-07 07:25] xiaofan-luan commented on #12368
does this issue still exist?

[2021-12-07 07:26] #12273 closed

[2021-12-07 07:27] xiaofan-luan commented on #12259
Should we remove the support of load collection then release partition? that brings too much complexity of the system

[2021-12-07 07:28] yhmo commented on #12498
Crash call stack:
[code]

[2021-12-07 07:29] yhmo commented on #12498
Reproduce script:

[code]

[2021-12-07 07:30] xiaofan-luan commented on #12164
To support accurate number of entities, we need to add another parameter similar to query, or just support aggregation?

[2021-12-07 07:32] xiaofan-luan commented on #11613
closed for now

[2021-12-07 07:32] #11613 closed

[2021-12-07 07:40] xiaofan-luan commented on #9458
Due to the priority issue we delayed the string type support, once milvus 2.0 GA is released we will work on this

[2021-12-07 07:44] #7465 closed

[2021-12-07 07:45] xiaofan-luan commented on #9458
duplicate with 4430

[2021-12-07 07:45] #9458 closed

[2021-12-07 07:46] xiaofan-luan commented on #12443
duplicate with #4430

[2021-12-07 07:46] #12443 closed

[2021-12-07 07:46] XuanYang-cn commented on #12512
This is caused by SDK insert-timeout-retry, in this case, SDK retried 4 times.

1. SDK insert-timeout-retry will be kept, and num_entites problem wouldn't be fixed until Milvus's able to remove the dup entites.
2. I suggest setting a larger insert-timeout for big entities batch (for example 5mins timeout for insert >= 10MB)

[2021-12-07 07:47] XuanYang-cn commented on #12512
/unassign
/assign @ThreadDao

[2021-12-07 07:58] jingkl opened #12881 "[Bug]: MaxfieldNum is not valid"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Modify testcase test maxfieldnum=256
[milvus.yaml ](https://github.com/milvus-io/milvus/blob/master/configs/milvus.yaml)

<img width="1440" alt="截屏2021-12-07 下午3 53 09" src="https://user-images.githubusercontent.com/34296482/144988575-75b1982e-163e-47ec-aa09-27b30dbd8

[2021-12-07 08:11] #12643 closed

[2021-12-07 08:12] yanliang567 commented on #12881
@yhmo could you please help to take a look at this issue?
/assign @yhmo
/unassign

[2021-12-07 08:27] jingkl commented on #12881
Probably the problem is the image, using the master-latest image and tested once again is OK

[2021-12-07 08:27] #12881 closed

[2021-12-07 08:49] DragonDriver commented on #12598
Working on this...

[2021-12-07 08:50] DragonDriver commented on #12598
call stack:

[code]

[2021-12-07 08:57] xiaocai2333 commented on #11074
The reason of this problem is:
the querynode can't load 50M data.
[code]

[2021-12-07 09:00] yhmo commented on #12498
The reason is the operation id=25 delete 2460 ids, all entities are deleted, there is an empty segment left. The client continue insert and delete, milvus read this segment and try use bloom filter to check id existence, but since this segment is empty, the bloom filter also is empty, a member of the bloom filter was initialized as nullptr, and lead to crash.

Ignore empty segment can avoid this c

[2021-12-07 09:15] XuanYang-cn commented on #12701
@zhuwenxing If you remove the `description` from the `CollectionSchema`, the insert will be normal.

Very strange, investigating now.

[2021-12-07 09:35] bigsheeper opened #12891 "[Enhancement]: QueryNode need to add timeout for search and query"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

QueryNode need to add timeout for search and query to clean unsolved requests buffer.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-12-07 10:01] DragonDriver commented on #12598
I test above index parameter using annoy 1.17, then everything is OK.
Maybe we can consider upgrading the version of annoy. @xiaofan-luan @czs007 @cydrain

[2021-12-07 10:22] #8824 closed

[2021-12-07 11:14] JackLCL opened #12896 "[Enhancement]: Need a tool to calculate the memory, CPU resource, and the number of different kinds of pods for Milvus2.0."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Milvus2.0 needs a tool to calculate the memory, CPU resource, and the number of different kinds of pods.
Milvus1.x has a [sizing tool](https://milvus.io/cn/tools/sizing), and milvus2.0 also needs one, maybe more powerful.

For example, if I have a billion 128-dimensional vecto

[2021-12-07 11:32] cydrain opened #12904 "[Enhancement]: Support C unittest profiling"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add google profiling for C unittest

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-12-07 11:32] cydrain commented on #12904
/assign

[2021-12-07 12:52] xige-16 commented on #12769
when recover dmchannels of collection 429594090552950785, a dmchannel was missed.
[code]

[2021-12-07 12:53] xige-16 commented on #12769
same with issue #12190

[2021-12-07 14:38] cydrain commented on #12904
/close

[2021-12-07 14:38] #12904 closed

[2021-12-08 02:04] louisyaphets commented on #12498
辛苦解决了bug，请问什么时候会发布一个bugfix的版本呢？

[2021-12-08 02:18] xige-16 commented on #10527
Modifying the number of num shards corresponding to each collection should not affect query performance.

[2021-12-08 02:22] xige-16 commented on #10527
The execution process and execution time of each query are printed in querynode's log. Is there still querynode's log saved?

[2021-12-08 02:46] xiaocai2333 commented on #11074
querynode is panic
[code]

[2021-12-08 02:54] godchen0212 commented on #12585
I pull the source code and test arrow library, Modified their example code for testing, and found that the arrow library originally had this problem. So I filed an issue for them, the link is [Arrow-14987](https://issues.apache.org/jira/browse/ARROW-14987).

A brief description is as follows, there are chunk settings in columnar storage. For each chunk, memory needs to be allocated in memory to re

[2021-12-08 02:55] #12809 closed

[2021-12-08 03:15] zhuwenxing opened #12951 "[Bug]: [chaos][etcd]Rootcoord CrashLoopBackOff after etcd pod kill chaos deleted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/145141654-48e6d9c6-f87f-400f-a993-d1d69a2af453.png)

### Expected Behavior

All pods work well

### Steps To Reproduce

[code]

### Anything else?

This issue happened in [Github action](https://github.com/mi

[2021-12-08 03:22] xige-16 opened #12952 "[Enhancement]: Each dmchannel of the collection is only watched by one querynode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Re-adjust the dmchannel allocation strategy of querycoord to ensure that each dmchannel of the collection is only watched by one querynode, and the flowgraph of querynode no longer distinguishes the collection/partition level.

### Why is this needed?

Now the dmchannel alloca

[2021-12-08 03:24] yanliang567 commented on #12951
@czs007 seems like there are some dirty meta after etcd recovers
/assign @czs007
/unassign

[2021-12-08 03:33] xige-16 commented on #12952
The main adjustments are as follows:
### querycoord:

- The proto of querycoord recording watched dmchannel info needs to be updated
- Querycoord's dmchannel allocation mechanism needs to be reconstructed
- A mechanism is needed to ensure that a certain dmchannel will not be online on multiple querynodes at the same time

### querynode:
- Simplify the management of flowgraph, no longer distinguish

[2021-12-08 03:37] binbinlv opened #12957 "[Bug]: Test case "test_compact_merge_multi_segments" fail"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

FAILED testcases/test_compaction.py::TestCompactionOperation::test_compact_merge_multi_segments

Collection name: compact_KS3fKwkU

Timeline:
[code]

### Expected Behavior

No failure

### Steps To Reproduce

Nightly: [standalone]
https://ci.milvus.io:18080/jenkins/bl

[2021-12-08 03:40] xige-16 opened #12958 "[Enhancement]: Automatically replace the index for the sealed segment after load"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

After load collection/partition done, Querycoord automatically checks which sealed segments have only loaded the original vector into the memory, and judges whether the index of the sealed segment exists. If the index has been created, querycoord is responsible for replacing a

[2021-12-08 03:40] xige-16 commented on #12958
/unassign @yanliang567
/assign @xige-16

[2021-12-08 03:40] xige-16 commented on #12952
/assign @xige-16

[2021-12-08 03:47] yhmo commented on #12498
I build a release version base on 1.1.1 with this fix, you can use this image:
`docker pull milvusdb/milvus-poc:1.1.1-cpu-zhuiyi`

There is [another crash issue](https://github.com/milvus-io/milvus/issues/12598) not yet fixed, we will release an official build after that issue is fixed.

[2021-12-08 04:00] cydrain commented on #11074
looks like similar as #10530
[code]

[2021-12-08 04:15] yhmo commented on #12298
Sorry for reply after long time.
You said "Start 10 or more standalone milvus server", are they share same storage and same meta service(MySQL)?
For cluster mode, the milvus v1.x only allow one node as "writable", the others must be "read-only". The role is defined in server_config.yaml:
[code]

[code]

[2021-12-08 04:54] #10248 closed

[2021-12-08 06:06] DragonDriver commented on #12598
Can you help us find why annoy index failed with these parameters? @PwzXxm

[2021-12-08 06:15] #12891 closed

[2021-12-08 06:37] sflowing commented on #12298
Thanks for the reply.

"Start 10 or more standalone milvus server" means:
1. 10 or more pods.
2. Each pod had a milvus server and a mysql server (locally connected to the milvus server, like using sqlite).
3. Standalone mode, not cluster mode.
4. DB using sqlite or mysql had no effect on the results, they were acting the bug in the same way.

[2021-12-08 06:39] #12605 closed

[2021-12-08 06:48] zhuwenxing opened #12972 "[Bug]: The num of proxy nodes returned by pymilvus is wrong"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The proxy num returned by pymilvus is one when two proxy nodes are deployed

### Expected Behavior

The proxy num returned by pymilvus is two

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2021-12-08 06:50] DragonDriver commented on #12972
/unassign @yanliang567
/assign @DragonDriver

[2021-12-08 06:53] DragonDriver commented on #12972
It's reasonable. Proxy didn't watch the proxy nodes in etcd now. So a `GetMetrics` response returned by the specific proxy will only contain itself in the system topology graph. @zhuwenxing

[2021-12-08 06:57] zhuwenxing commented on #12972
So there is no other way to get actual proxy node numbers by pymilvus?
If so, we can just get it by k8s API.

[2021-12-08 07:00] DragonDriver commented on #12972
I also considered this situation. It's easy to get all proxy nodes by etcd, but I don't think it's clear in the system topology graph.

[2021-12-08 07:53] xige-16 commented on #12514
query coord panic at "if res.ErrorCode != commonpb.ErrorCode_Success || err != nil {"
[code]

[2021-12-08 07:55] xige-16 commented on #12514
root coord client return (res=nil, error=err) if ReleaseDQLMessageStream failed, and when querycoord call res.ErrorCode, querycoord panic.
[code]

[2021-12-08 07:56] czs007 commented on #12632
@yanliang567  please recheck this!

[2021-12-08 07:57] ThreadDao commented on #12512
Ok. Looking forward to milvus dedup insert entities.

[2021-12-08 07:57] #12512 closed

[2021-12-08 08:09] godchen0212 commented on #12585
Issue #12893 optimizes some problems by release unused memory in parquet memory pool.

[2021-12-08 08:50] czs007 commented on #11275
@zhuwenxing please recheck this. The Pr Had already merged 5 days ago.

[2021-12-08 08:54] #10643 closed

[2021-12-08 08:56] zhuwenxing commented on #11275
This issue has not happened so far, so remove priority/critical-urgent.
If the issue does not happen after several tests, then it will be closed

[2021-12-08 09:06] xige-16 commented on #12465
After the memory leak problem is solved, please test again @jingkl

[2021-12-08 09:29] binbinlv opened #12984 "[Enhancement]: run nightly in random order"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

try to run nightly in random order

### Why is this needed?

Try to find more bugs

### Anything else?

_No response_

[2021-12-08 09:53] xige-16 commented on #12459
@JamCrash Have you encountered this problem again? I have not been able to reproduce it locally, it would be better if I could post the pulsar log.

[2021-12-08 10:02] xiaofan-luan opened #12993 "[Bug]: Memory leakage happens on binlog reader throw err"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/83447078/145188235-02d78aa2-c3b4-4195-a277-48ae70faaafc.png)
if error happens on parse data, binlogReader is left without close, which means memory will leak if error happens.

### Expected Behavior

we need to releas

[2021-12-08 10:29] godchen0212 commented on #11004
A small optimization for this problem, when the file deserialize fails, close the binlog and event readers to prevent memory leaks.

[2021-12-08 15:13] cydrain opened #13024 "[Bug]: Unittest with index type IVFFlat_NM crash"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Add following case into core/unittest/test_indexing.cpp, it crash.

[code]

### Expected Behavior

Unittest should pass

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-12-08 15:13] cydrain commented on #13024
/assign

[2021-12-08 15:46] cydrain commented on #12373
I have tested following 2 scenarios:
1. do heap profiling using Milvus 1.x (similar knowhere code as Milvus 2.0)
2. do heap profiling using segcore unittest in Milvus 2.0
both profiling show that there is no memory leak in "knowhere::IVF_NM::Query".

[2021-12-09 02:06] congqixia commented on #12753
@wangting0128 keep restart issue fixed. Root cause was env (resource exhausted). Could you please verify?
/unassign @sunby
/assign @wangting0128

[2021-12-09 02:08] congqixia commented on #12297
@wangting0128 fixing pr has been merged. Any update from the stability test?

[2021-12-09 02:10] congqixia commented on #12957
@binbinlv added a switch for `autoCompation`, which is default disabled. Could you please verify?
/unassign
/assign @binbinlv

[2021-12-09 02:14] congqixia commented on #12993
I think this pr(#12995) has fixed this issue.

[2021-12-09 02:30] godchen0212 commented on #12585
PR #13029 decreases memory usage from 470M to 426M by make arrowusing jemalloc.

[2021-12-09 02:30] yanliang567 commented on #12632
on master-20211208-69259d9, i tried to build index again with index param: {'index_type': 'HNSW', 'params': {'M': 8, 'efConstruction': 200}, 'metric_type': 'L2'}
it costs 4 GB memory.
![image](https://user-images.githubusercontent.com/82361606/145323544-71d6d433-3080-42d3-9d6e-485c49f93c1f.png)

[2021-12-09 02:41] yanliang567 commented on #12559
close for now

[2021-12-09 02:41] #12463 closed

[2021-12-09 02:44] binbinlv commented on #12447
@DragonDriver

Drop collection timeout happens again in CI,

Logs: [cluster]
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-12986/1/artifacts

Test logs:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-12986/1/pipeline

[code]

[2021-12-09 02:46] shengjun1985 commented on #13024
IVF_NM is not expected to call Query() immediately after AddWithoutIds().
Please refer to [test_ivf_cpu_nm](https://github.com/milvus-io/milvus/blob/master/internal/core/src/index/unittest/test_ivf_cpu_nm.cpp), Serialize()  and Load() are between AddWithoutIds() and Query().
If you want to call in the order as this issue, the feature "insert_cache_immediately_" should be implemented.

[2021-12-09 02:49] DragonDriver commented on #12447
OK, let me take a look at this.

[2021-12-09 02:55] yanliang567 commented on #12497
it does not repro to me on master-20211201-62e3f68
[code]

[2021-12-09 02:56] yanliang567 commented on #12497
@rchangj do you have any chance to retry against the lastest master build? Please help to collect the milvus logs if it still repros to you, thanks.

/assign @rchangj
/unassign

[2021-12-09 03:17] XuanYang-cn commented on #12450
/assgin @ThreadDao
/unassign

[2021-12-09 03:17] XuanYang-cn commented on #12450
/assign @ThreadDao

[2021-12-09 03:25] DragonDriver commented on #12447
`DropCollection` spent more than `20s` in `RootCoord`. Finding out why...

[code]

[2021-12-09 03:28] zhuwenxing commented on #12972
by design, won't fix!

[2021-12-09 03:28] #12972 closed

[2021-12-09 03:33] wangting0128 commented on #12725
argo task: benchmark-tag-rbn54

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-cluster-8c64m

server:
[code]

client pod:benchmark-tag-rbn54-406685457

client log:
[code]

[2021-12-09 03:34] wangting0128 commented on #12725
argo task: benchmark-tag-l2plz

test yaml:
client-configmap:client-random-locust-search-84h-1b
server-configmap:server-cluster-8c64m-datanode2-indexnode4-querynode6

server:
[code]

client pod: benchmark-tag-l2plz-3103520940

client log:
[code]

[2021-12-09 03:37] yanliang567 commented on #12632
it would be perfect if we could improve more.
/assign @czs007
/unassign

[2021-12-09 03:45] binbinlv opened #13045 "[Bug]: [Nightly] Auto compaction sometimes runs slowly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Auto compaction (segments reached 10), compaction could not be completed in 60s

[code]

### Expected Behavior

Auto compaction (segments reached 10), compaction could be completed in relatively short time.

### Steps To Reproduce

Run nightly:
https://ci.milvus.io:18

[2021-12-09 03:45] yanliang567 commented on #12450
@ThreadDao please help to verify and close the issue

[2021-12-09 03:57] LoveEachDay commented on #12725
We can see that etcd is slow because of `slow fdatasync`. Here is the log:
[code]

[2021-12-09 04:04] LoveEachDay commented on #12725
And there's also an etcd leader change:
![image](https://user-images.githubusercontent.com/1573213/145332525-d5c3cda9-3360-4f0e-b05a-f4b53ee8ffa4.png)

This is an ephemeral event.

[2021-12-09 04:37] yhmo commented on #12298
There are two collections: **RV_NEW_NLP_VEC_20211125021044** and **MF_DOC_VECTOR_L2_20211124233229**,  did you create any partition for them?

And please try this test:
In the server_config.yaml, add a configuration for all server nodes like this:
[code]
Then restart the server instances and try your workflow again.

[2021-12-09 06:04] DragonDriver commented on #12447
`RootCoord` send `ReleaseCollection` to `QueryCoord` but didn't get response until `DropCollection` timeouts. Finding out why ...

[2021-12-09 06:15] yhmo commented on #12270
I guess there are two clients:
- client_1 calls create_index(), this is a blocking call.
- client_2 calls insert(), the insert request was blocked.

The reason is:
In server side, create_index request and insert request is in same request queue, create_index() is foreground task, it will block the request queue. We can convert create_index() to be background task so that it won't occupy the reques

[2021-12-09 06:18] DragonDriver commented on #12447
After `QueryCoord` received the `ReleaseCollection`, there are no more related logs about it.

CollectionID: `429642777764560897`

Can you help to take a look at this? @xige-16

[code]

[2021-12-09 06:22] cydrain commented on #13024
/close

[2021-12-09 06:22] #13024 closed

[2021-12-09 06:26] xiaocai2333 commented on #10754
Added logic to estimate memory when building index. Please check it. @ThreadDao
/assign @ThreadDao
/unassign

[2021-12-09 06:31] #12614 closed

[2021-12-09 06:42] #12301 closed

[2021-12-09 06:43] #12753 closed

[2021-12-09 06:44] #12629 closed

[2021-12-09 06:46] czs007 opened #13063 "[Enhancement]: Simplify segcore's dependence on proto"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Move the following objects defined in milvus.proto to common.proto

[code]

### Why is this needed?

Currently segcore requires the objects defined above. But because these objects are defined in milvus.proto, segcore needs to rely on milvus.proto when compiling. In other word

[2021-12-09 06:46] #12721 closed

[2021-12-09 06:46] #12719 closed

[2021-12-09 06:47] binbinlv opened #13064 "[Bug]: Milvus is crashed with panic when flushing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus is crashed with panic
[code]

### Expected Behavior

No crash

### Steps To Reproduce

Run CI:

1. test logs:
https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-ha-ci/branches/PR-13050/runs/2/nodes/61/steps/114/log/?start=0

2.

[2021-12-09 06:47] rajeevkri commented on #1664
I am also facing the same issue my Milvus pod is running as service at port 19530.

milv-milvus                ClusterIP   10.103.99.16     <none>        19530/TCP,9091/TCP

==============

But when trying to connect

`>>> from pymilvus import connections

Retry to connect server localhost:19530 failed.
Traceback (most recent call last):
  File "/home/rajeevkrishna/.local/lib/python3.8/site-packag

[2021-12-09 06:49] XuanYang-cn commented on #12441
/assign

[2021-12-09 06:56] DragonDriver commented on #12447
I guess our log was not complete. Waiting @LoveEachDay & @congqixia   to fix it.

[2021-12-09 07:00] XuanYang-cn commented on #12441
Same as https://github.com/milvus-io/milvus/issues/12241

The key is: util the issue in #12241 is solved, this `result less than topk` will continue to show up.

If not intended to test the dup PK, please **DON'T** give different vectors the same PKs.

/unassign
/assign @binbinlv

[2021-12-09 07:06] XuanYang-cn commented on #12701
a summarize blog https://grpc.io/blog/grpc-go-perf-improvements/

[2021-12-09 07:07] czs007 opened #13065 "[Enhancement]: Standardize the startup process of each component"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

There are many tasks to do.  Need to discuss and supplement.

- [x]  Split Session Init process. #13072
- [ ]  Organize the startup logic of component #13426

### Why is this needed?

The current startup process of each component is inconsistent. Some components first register

[2021-12-09 07:10] binbinlv commented on #12957
@congqixia

OK, thanks, verifying.

[2021-12-09 07:32] #7701 closed

[2021-12-09 07:33] czs007 opened #13072 "[Enhancement]: Split Session Init"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I suggest to split Session's `Init` method to `Init` and `Register`

[code]

The above code is the current implementation of Session. Three things are done in `Init`: get ID, register etcd service, open background coroutine to process keepalive response message.

It is recomme

[2021-12-09 08:03] cydrain commented on #12373
500 million 128 dim vector occupies 25G memory.
By now, we cannot estimate exactly how much memory is needed to process this data for querynode.
But 40G memory (1.6x raw data size) is acceptable.

[2021-12-09 08:03] congqixia commented on #13064
/assign
/unassign @czs007 @DragonDriver

[2021-12-09 08:07] congqixia commented on #13045
/unassign
/assign @XuanYang-cn

[2021-12-09 09:01] xiaofan-luan commented on #13072
please also take a look at other components, thanks czs

[2021-12-09 09:05] xiaocai2333 commented on #13072
/working on it
/assgin

[2021-12-09 09:19] congqixia commented on #13064
Standalone has three run in this PR:
1. Datacoord cannot be healthy so the standalone restarted (05:40:47-05:44:41)
2. The working run, it became healthy and provided ci test services until panic for etcd error (05:44:42 - 06:14:37)
3. Restarted run run 2, killed since test case failed.

So the main target is Run2, which panicked with this error:
[code]

One etcd operation took 7 seconds and then

[2021-12-09 09:29] XuanYang-cn commented on #13045
Seems like `auto-compaction` is off. Please turn the `auto-compaction` on and test again.

/assign @binbinlv
/unassign

[2021-12-09 09:37] congqixia commented on #12648
/unassign
/assign @binbinlv
@binbinlv could you please verify?

[2021-12-09 09:45] lale314 opened #13084 "[Bug]: After the vector is deleted, it can still be get."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I execute the following code to perform the delete operation，the vector can still be get. The cpu of the milvus_server process is always 100%. Before this test, I deleted a large number of vectors from another collection.

`   from milvus import Milvus, IndexType

[2021-12-09 10:24] ss892714028 commented on #13084
Can you include the Milvus log?

[2021-12-09 10:42] ThreadDao commented on #10754
When I create an index the following error happens in indexCoord. I will regress this problem after #13072 is fixed.
[code]

[2021-12-09 11:18] DragonDriver commented on #11308
Closed. Feel free to reopen this if you have questions about this.

[2021-12-09 11:18] #11308 closed

[2021-12-09 11:21] JamCrash opened #13095 "[Feature]: Please add a search qps monitor metrics in "/metrics""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Maybe milvus need a search qps monitor metrics in "/metrics" ?

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

_No response_

[2021-12-09 11:56] LoveEachDay opened #13109 "[Bug]: UnitTest TestGetRecoveryInfo failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

UnitTest Failed:
[code]

### Expected Behavior

UnitTest passed

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2021-12-09 11:56] LoveEachDay commented on #13109
/assign @congqixia

[2021-12-09 12:03] czs007 opened #13111 "[Bug]: Proxy failed to stop normally when kill ETCD service"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The proxy still runs even if kills the ETC service.

### Expected Behavior

Proxy stop normally when its dependent critical service such as ETCD stoped.

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2021-12-09 12:12] DragonDriver commented on #12951
Working on this. Trying to reproduce it on my local pc.

[2021-12-09 12:28] xige-16 opened #13118 "[Enhancement]: Supports mixed calls for load partition and load collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

if  load partitions of collection A first, then load collection A will not return erorr
if load collection A first, then load partitions of collection A will not return error
if load partition B of collection A first, then load partition C of collection A will not return error

[2021-12-09 12:28] xige-16 commented on #13118
/assign @xige-16

[2021-12-09 13:46] rleungx opened #13124 "[Enhancement]: Clean up the tso package"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Remove some unnecessary functions and variables in package tso.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-12-09 14:55] xiaofan-luan commented on #12373
very impressive analysis.
So is there a conclusion why the search take 800M memory and not returned?

[2021-12-09 15:03] xiaofan-luan commented on #13124
hi rleungx, guess SetLimitMaxLogic may want to be used in the future? any reason why you want to remove this part of code?

[2021-12-09 15:43] #10359 closed

[2021-12-10 00:35] #7713 closed

[2021-12-10 01:13] yanliang567 commented on #12701
weird...
@zhuwenxing could you please try it

[2021-12-10 01:17] yanliang567 commented on #12598
/assign @PwzXxm

[2021-12-10 01:51] yanliang567 commented on #13084
@lale314 could you please upload the milvus logs for further investigation?
/assign @lale314
/unassign

[2021-12-10 02:35] cydrain opened #13149 "[Enhancement]: Create IVFFlat index instead of IVFFlat_NM"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Currently in Milvus 2.0, when create index with parameter "IVF", Milvus will create index IVFFlat_NM, not IVFFlat.
This is introduced by #2704.

[code]
Suggest change this behavior back.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-12-10 02:47] rleungx commented on #13124
No special reason, just make some cleanups. If you do need `SetLimitMaxLogic`, I'm going to keep it. ^_^

[2021-12-10 02:55] wangting0128 commented on #12297
argo task: benchmark-tag-l2plz

test yaml:
client-configmap:client-random-locust-search-84h-1b
server-configmap:server-cluster-8c64m-datanode2-indexnode4-querynode6

server:
[code]

client pod: benchmark-tag-l2plz-3103520940

client log:
[locust_report_2021-12-08_597.log](https://github.com/milvus-io/milvus/files/7689788/locust_report_2021-12-08_597.log)

[2021-12-10 03:08] zhuwenxing commented on #12190
The issue happens in `63ead50`.
@xige-16  Please check whether it is the same cause
[test-querynode-pod-failure.zip](https://github.com/milvus-io/milvus/files/7689834/test-querynode-pod-failure.zip)

[2021-12-10 03:10] Writtic commented on #6162
@sunby @xiaofan-luan Hi, I glad to hear your kindness.
Before contributiing the issue, I setup development environment with devcontainer on VSCode and followed the instruction like `make test-go` command and . But error message came out and there is no authority on docker user to solve the problem (501).

[code]

I'm not sure I miss something.. and also other build commands are failed.

[2021-12-10 03:13] binbinlv commented on #12514
Panic happens again in nightly:

Milvus Logs: [standalone]
https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/260/

Log with panic: [ the following name]
jenkins.var.log.containers.ms-260-milvus-standalone-65764dcdc8-pkx9b_milvus-ci_standalone-0121ad31db67cbce06dbefe981c3fcb7af47b4b3ff3faeae2af7c7322c27a377.log
[code]

[2021-12-10 03:16] binbinlv commented on #12514
Occurs again, so set as urgent.

[2021-12-10 03:22] congqixia commented on #6162
Hi @Writtic. Thanks for the detail information.
The line
[code]
indicates that this c dependency is not compile yet. Just check the `Makefile`, `make test-go` will not trigger compilation for RocksDB. I will make a fix PR for this problem.

Quick solution: Run `make all` before run `make test-go`. Feel to to contact us if you have any other questions.

[2021-12-10 03:31] godchen0212 commented on #8937
/reopen

[2021-12-10 03:32] congqixia opened #13155 "[Bug]: make test-go will not trigger all dependency compilation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

`make test-go` will have  error
[code]

### Expected Behavior

`make test-go` will have all dependency installed

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2021-12-10 03:43] wangting0128 opened #13157 "[Bug]: [benchmark][standalone] Stability test of scene_test lasting 84 hours, the processing time is getting slower and slower"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

locust statistics:
<img width="1910" alt="截屏2021-12-10 11 32 02" src="https://user-images.githubusercontent.com/26307815/145512765-3432aef2-a09c-4e9c-ad30-c3d2070321c9.png">

<img width="1854" alt="截屏2021-12-10 12 09 26" src="https://user-images.githubusercontent.com/

[2021-12-10 03:47] yanliang567 commented on #13095
if remember correct, this is something we planned in 2.1 or later
@xiaofan-luan  right?

[2021-12-10 03:57] zhuwenxing opened #13160 "[Bug]: [chaos]Loading collection hangs after deleting querynode pod kill chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

hangs at loading collection

### Expected Behavior

all operations work well after deleting querynode pod kill chaos

### Steps To Reproduce

[code]

### Anything else?

Logs:
[test-querynode-pod-kill-12-10-11-55-00.zip](https://github.com/milvus-io/milvus/files/76900

[2021-12-10 04:01] yanliang567 commented on #13160
/assign @congqixia
@congqixia  could you please help to check this issue?
/unassign

[2021-12-10 04:03] cydrain commented on #13149
Consult with @shengjun1985 , IVFFlat_NM will not increase memory usage nor degrade search performance, and it can save disk usage obviously.
Keep this.

[2021-12-10 04:03] #13149 closed

[2021-12-10 04:04] XuanYang-cn commented on #12701
Actually, it's not a description problem, it's the size of the insert-entities problem.

Just adding another field without the description will reproduce this too.

Still looking into this.

[2021-12-10 04:04] yanliang567 commented on #13157
it looks better than before, but @sunby could you please help to check if we could improve more?
/assign @sunby
/unassign

[2021-12-10 04:04] wangting0128 commented on #12297
argo task: benchmark-tag-ddhdv

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-cluster-8c64m-noprobe

server:
[code]

client pod: benchmark-tag-ddhdv-3960424316

client log:
[code]

[2021-12-10 04:06] cydrain commented on #13149
Use this command can find out the commit ID in which a file is removed
[code]

[2021-12-10 05:51] sflowing commented on #12298
"did you create any partition for them?"
Nope. Every server node had the same data, they created the collections, inserted the data and created the indexes all by them selves.

"search_combine_nq: 0"
Ok, we will try it, and report the result next week.

[2021-12-10 06:01] #13155 closed

[2021-12-10 06:20] claireyuw opened #13162 "Develop EN dataservice_recovery_design.md"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

https://github.com/milvus-io/milvus/blob/master/docs/design_docs/dataservice_recovery_design.md

Transcreate into EN.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-12-10 06:20] claireyuw commented on #13162
@LocoRichard @chris-zilliz

[2021-12-10 06:30] xige-16 commented on #12190
Dmchannl recover failed when the querynode down

[2021-12-10 06:52] xige-16 opened #13174 "[Enhancement]: Supports pulling historical information from the stream after watch dmchannel and delta channel on querynode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

After querynode watched delta channel or dmChannel, and has created corresponding flowgraph,  if a watch request is received again and the seek position of the watch request is earlier than the currently consumed position, querynode needs to pull back the historical message fr

[2021-12-10 06:52] xige-16 commented on #13174
/assign
/assign @bigsheeper
/assign @godchen0212

[2021-12-10 07:29] DragonDriver commented on #12951
I tried both on my local pc and on the qa k8s cluster. It seems that everything is OK with `RootCoord`. Everytime I restart `RootCoord` (or automatically started by k8s), I got message `"No un-successful DdMsg"` and then all services are fine, which means `RootCoord` recovered from failure well.

Keep trying to reproduce it...

[2021-12-10 07:45] zhuwenxing commented on #12951
This is caused by killing etcd pod.
Maybe you can try to reproduce it by  keeping killing etcd pod every 5s in 1 mins

[2021-12-10 07:58] sunby commented on #12297
@yanliang567 A QueryNode was evicted and another new QueryNode was started. And the search request timeouts because the new started QueryNode was executing LoadCollection. So in this case, shall we avoid evicting pod due to `DiskPressure`?

[2021-12-10 08:30] ThreadDao commented on #12450
/assign @XuanYang-cn Looks not fixed on image `master-20211210-2905182`
[code]

[2021-12-10 08:34] JamCrash commented on #12459
no, it is not reproduced until now, so I'll close this issue @xige-16

[2021-12-10 08:34] #12459 closed

[2021-12-10 08:35] #12440 closed

[2021-12-10 08:40] #12545 closed

[2021-12-10 08:43] #12065 closed

[2021-12-10 11:48] #11182 closed

[2021-12-10 13:32] saminahbab commented on #12559
what version of milvus can I use that fixes this issue? do I have to build my own from one of the testing branches?

[2021-12-10 16:58] rchangj commented on #12497
@yanliang567 Can you give me your email address, I will send followings to you:
rdb_data_kv_log		rdb_data_log		rdb_data_meta_kv_log

[2021-12-11 03:39] #11213 closed

[2021-12-11 04:23] yanliang567 commented on #12497
@rchangj  yanliang.qiao@zilliz.com

[2021-12-11 04:26] yanliang567 commented on #12559
@saminahbab i am afraid that multiple vector fields would be disabled from the current support list in 2.0. If this is critical for you, please share your scenarios in #12680

[2021-12-11 06:19] xiaofan-luan commented on #12559
Hi saminahbab, can I get the scenario why multi vector is necessary?
We have very basic support of multi vector but there are some left issues before it gets into real production:
1) we only support to build index on 1 vector field
2) all vectors has to be in the same dimension.
I just want to ban this function because currently nobody take care of it.
If you want to own and take this back into Mi

[2021-12-11 06:25] xiaofan-luan commented on #12779
we are planning to solve or those related issue by not supporting complicated load collection, release partition, load partition  behaviors, will be in soon

[2021-12-11 06:35] xiaofan-luan commented on #13095
I guess even for now those are important metrics.
QPS and latency are very important metrics. Maybe we need a document about how to add metrics so @JamCrash can help us on adding more metrics he/she need @czs007

[2021-12-11 06:36] xiaofan-luan commented on #12993
close it for now, duplicated with #12995

[2021-12-11 06:36] #12993 closed

[2021-12-11 08:50] JamCrash opened #13214 "[Bug]: querynode doesn't release memory after call release"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![企业微信截图_1639212643407](https://user-images.githubusercontent.com/39126346/145670600-6778d009-c472-413d-8127-d2d7257ef598.png)
![企业微信截图_16392127347232](https://user-images.githubusercontent.com/39126346/145670636-7c927557-3314-4433-9b15-ec5066c1c021.png)

and the memo

[2021-12-11 12:27] yanliang567 commented on #13214
@JamCrash this is a known issue. We did some improvement in master, could you please retry with the latest master build?
/assign @JamCrash
/unassign

[2021-12-12 01:59] #11243 closed

[2021-12-12 03:49] JamCrash commented on #13214
but I'm use the latest master build two days ago

[2021-12-12 03:50] JamCrash commented on #13214
milvusdb/milvus-dev:master-latest

[2021-12-12 06:35] jqsl2012 opened #13220 "[Bug]: install milvus v2.0.0-rc8 high cpu usage 30%"
### Is there an existing issue for this?

- [ ] I have searched the existing issues

### Environment

[code]

### Current Behavior

use docs: https://milvus.io/docs/install_standalone-docker.md

case1: The newly installed milvus docker found that the cpu usage rate is 3~5%.
case2: After writing hundreds of data, it is found that the cpu has been occupying about 30%.

### Expected Behavior

_No res

[2021-12-12 06:43] xiaofan-luan commented on #13220
Hi @jqsl2012 , the cpu usage increase maybe an expected behavior if you specified index  because index build task is not only memory intensive but also CPU intensive.

Both query and index building may use all the CPUs you assigned. In standalone distribution we can not limit the CPU usage of each process yet but you should see CPU usage goes down once you stop data ingestion.

[2021-12-12 06:46] xiaofan-luan commented on #13214
https://github.com/milvus-io/milvus/issues/12218 and https://github.com/milvus-io/milvus/issues/12585 might be the similar issues we are tracking

[2021-12-12 06:47] xiaofan-luan commented on #13214
There are a few things we are working on:
1) change go settings to release memory from go to the system
2) investigate memory allocator why the memory is not returned

[2021-12-12 06:52] xiaofan-luan commented on #13124
Not sure if we want to use it or not in the future, so probably we can just keep the logic there in advance? Others looks good to me. @czs007 could you please take a look at this issue see you have any comments?

sees that we are not trying to reset timestamp so other part lgtm

[2021-12-12 06:52] xiaofan-luan commented on #13124
/assign @rleungx

[2021-12-12 06:52] xiaofan-luan commented on #13124
/assign @czs007

[2021-12-12 18:32] saminahbab commented on #12559
@xiaofan-luan sorry about this, I was referencing a different issue and accidentally posted on this issue. Happy to close, and apologies.

[2021-12-13 01:02] xige-16 commented on #12779
the issue has been fixed by pr#12912

[2021-12-13 01:02] xige-16 commented on #12779
/assign @ThreadDao

[2021-12-13 01:03] xige-16 commented on #12779
/unassign

[2021-12-13 01:12] yanliang567 commented on #13220
/assign @jqsl2012
/unassign

[2021-12-13 01:54] DragonDriver commented on #13111
Already fixed in #13180 . Feel free to reopen this if any similar issue occurs.

[2021-12-13 01:54] #13111 closed

[2021-12-13 01:59] DragonDriver commented on #12951
I mean, killing etcd will result in `RootCoord` exit. Yes, of course, I tried to kill etcd and then restart `RootCoord`.
I will try with killing frequency you recommended.

[2021-12-13 02:06] cydrain commented on #11074
https://argo-test.zilliz.cc/workflows/yudong/yudong-benchmark-hl596?tab=workflow&nodeId=yudong-benchmark-hl596-3056709678

[2021-12-13 02:34] czs007 commented on #12514
#12983 has beed merged. @binbinlv please recheck this.

[2021-12-13 02:51] nameczz commented on #12240
standalone version can't get right version.
![M5A1LLpo9c](https://user-images.githubusercontent.com/20559208/145744859-523d9e84-54d9-462e-bad6-7140e7018a86.png)
@DragonDriver  /reopen

[2021-12-13 02:53] DragonDriver commented on #12240
/reopen

[2021-12-13 02:59] JackLCL commented on #13220
@jqsl2012
If you use docker-compose to deploy the milvus standalone version, you can limit resource usage in docker-compose.yaml.
Here is the reference link:https://docs.docker.com/compose/compose-file/compose-file-v3/#resources.

[2021-12-13 03:10] yanliang567 commented on #12450
/assign @XuanYang-cn

[2021-12-13 03:11] wangting0128 commented on #12285
argo task: benchmark-tag-gttnz

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-cluster-8c64m

server:
[code]

client pod: benchmark-tag-gttnz-3727613335

client log:
[code]

[2021-12-13 03:13] jingkl commented on #12465
ok

[2021-12-13 03:19] DragonDriver commented on #12598
Working on this...

I try to do below things:
- 1, find out the version of annoy we used;
- 2, test above index parameters using the tag in [annoy](https://github.com/spotify/annoy);

I then noticed that Milvus1.1 supported annoy in `27, Mar, 2020`, see [Annoy Support](https://github.com/milvus-io/milvus/commit/310d5d70bce99d59adefa0b983ce4a5aaf619da9#diff-8b6dfdf37d0bc08871dd9ab5ab1e640aaa90155e7

[2021-12-13 03:20] wangting0128 opened #13238 "[Bug]: [benchmark][standalone] milvus restarted once, search raise error: Connection timed out"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod: benchmark-tag-bgdfr-2278248953

client log:
[code]

### Expected Behavior

argo task: benchmark-tag-bgdfr

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-single-32c128m

server:
[code]

### Steps To Reproduce

1、cre

[2021-12-13 03:22] JackLCL commented on #11023
/assign @xiaofan-luan

[2021-12-13 03:29] JackLCL commented on #13095
Many users need QPS and latency metrics.

[2021-12-13 03:31] JackLCL commented on #12896
/assign @xiaofan-luan

[2021-12-13 03:40] JackLCL commented on #12497
@rchangj
Got it, we are working on it.

[2021-12-13 03:56] DragonDriver commented on #12598
Using `v1.16.3` to test above index parameters, then everything is OK. I will check the diff between `v1.16.3` and our `"v1.16.3"`.

Code:

[code]

[2021-12-13 04:04] JamCrash opened #13246 "[Bug]: querynode load occur error: Failed to get last message id from broker. While the pulsar runs well"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

qeurynode log: [container (10).log](https://github.com/milvus-io/milvus/files/7700908/container.10.log)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-12-13 04:30] XuanYang-cn commented on #12701
Still cannot stably reproduce, cannot locate the root cause.

[2021-12-13 06:43] congqixia commented on #13160
**TL:DR; queryNodeCluster service round-robin call blocked the node online/offline event handling**
After filtering out all the etcd session events:
[code]
All events were received in less than 2 minutes. While the processing procedure
Online events
[code]
Offline events
[code]
It's obvious that all event handling were blocked after 03:25:06.
[code]
These kind of logs were found above unlock time,

[2021-12-13 06:44] congqixia commented on #13160
There are two fixes needed:
1. Reduce the lock range each `queryNodeCluster` grpc call holds
2. Make grpc fail fase when a node is offline

[2021-12-13 06:51] #12059 closed

[2021-12-13 06:57] wangting0128 opened #13250 "[Bug]: [benchmark][standalone] load raise error: The specified key does not exist"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod: benchmark-cluster-cron-1639170000-186218196

client log:
[code]

### Expected Behavior

argo task: benchmark-cluster-cron-1639170000

test yaml:
client-configmap: client-get-local50m-512
server-configmap: server-single-32c128m

server:
[code]

### Steps To

[2021-12-13 07:06] #12779 closed

[2021-12-13 07:14] congqixia opened #13251 "[Bug]: typeutil UT fails due to error string in-consistent"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Unit test fails with
[code]

### Expected Behavior

Unit test passed

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2021-12-13 07:20] DragonDriver commented on #12598
I made a test again. Below are the test code:

[code]

Above code uses our `annoylib` in Milvus. And if we use the random dataset, `index->add_item` works fine. But if we use the dataset generated by `GenDataset`, `index->add_item` crashed.

I think we are alomost there. It must be some problems with our method to generate dataset.

[2021-12-13 07:22] zhuwenxing opened #13253 "[Bug]: [chaos][standalone]Search hangs after deleting standalone pod kill chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search hangs after deleting standalone pod kill chaos
![image](https://user-images.githubusercontent.com/12268675/145768337-738e59c7-1ae5-49c5-a63a-0b627389cfea.png)

### Expected Behavior

All operations work well

### Steps To Reproduce

[code]

### Anything else?

[2021-12-13 07:44] #13251 closed

[2021-12-13 07:54] zhuwenxing opened #13256 "[Bug]: [chaos][datacoord][rootcoord]e2e test failed after deleting datacoord or rootcoord pod kill chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

e2e test failed after deleting datacoord pod kill chaos

[code]

[code]

### Expected Behavior

This is a successful example
[code]

### Steps To Reproduce

[code]

### Anything else?

This issue happened in GitHub action but was not reproduced in local k8s env

You c

[2021-12-13 08:12] czs007 opened #13262 "[Enhancement]: Speed up estimating segment memory size"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

DataCoord records the memory size of each BinLog file and provides an interface to obtain the segment memory size.

### Why is this needed?

DataCoord records the size of each Binglog file, thereby avoiding multiple IO requests to parse the Binglog header file, which can speed

[2021-12-13 08:17] czs007 opened #13263 "[Enhancement]: Let QueryNode load Segment Binlog files in parallel"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

QueryNode loads Binglog files concurrently according to its own memory size.

### Why is this needed?

Currently, QueryNode loads the segment's binglog file sequentially. Therefore, the IO load may be small and the loading time may be slow.

### Anything else?

_No response_

[2021-12-13 08:18] czs007 opened #13264 "[Enhancement]: Speed up load operation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

The current load operation is too slow.
There are two main reasons: the operation of evaluating the memory size of the file is too slow and loading the file serially.

- [ ] Speed up estimating segment's memory size #13262
- [ ] Let QueryNode load Segment Binlog files in paral

[2021-12-13 08:18] nameczz commented on #12240
![image](https://user-images.githubusercontent.com/20559208/145776201-465346b7-161e-43eb-9c09-ffe1ca0f423f.png)
use docker-compose.yml to start DISTRIBUTED Milvus.
Same result.
@DragonDriver

[2021-12-13 08:26] congqixia commented on #13262
/unassign @czs007
/assign
working on it

[2021-12-13 08:27] congqixia commented on #13262
Note that: this will make GA version incompatible with RC8 or earlier if no conversion is applied

[2021-12-13 08:28] ThreadDao commented on #10754
1. Image version: `master-20211213-af46998`
2. Memory limit of indexNode: `512Mi`
3. Data size: `dim=512`, num_entities=50000, about 100MIB

If you estimate the required memory based on 6 times the original vector data, the existing 512Mi is insufficient and the index will not be created, and the indexNode will not be OOM killed.
[indexcoord.log](https://github.com/milvus-io/milvus/files/7702140/i

[2021-12-13 08:32] Theodoric008 commented on #12298
same error, this bug is so confusing

[2021-12-13 08:46] zhuwenxing commented on #12951
A similar issue happened in https://github.com/milvus-io/milvus/runs/4503187419?check_suite_focus=true
But this issue is caused by killing rootcoord pod directly.
[code]

Log:
[test-rootcoord-pod-kill.zip](https://github.com/milvus-io/milvus/files/7702272/test-rootcoord-pod-kill.zip)

[2021-12-13 08:51] congqixia opened #13267 "[Enhancement]: proto field naming is not by convention"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Change the proto message field to snake case.

### Why is this needed?

According to [Google proto style guide](https://developers.google.com/protocol-buffers/docs/style), the message field shall be in snake case (underscore connected string). While currently the field name ha

[2021-12-13 08:57] yanliang567 commented on #12497
/assign @czs007
@czs007 could you please help to take look at this issue? if you need more info, please @rchangj for help.

[2021-12-13 09:14] czs007 commented on #13267
Golint requires an ID.
The rules of go's proto are as follows：
a_ID -> A_ID
b_id -> BId
c_Id -> C_Id
abcID -> AbcID

Therefore, if you want to pass golint, as long as there is an ID,  you must use abcID in the camel case style in the proto file.

[2021-12-13 09:15] congqixia commented on #13267
we can by-pass generated *.pb.go files lint check

[2021-12-13 09:18] czs007 commented on #13267
Not only in pb files.
If the variables defined in pb are used in an external go file, the file is affected by the golint check.

[2021-12-13 09:30] congqixia commented on #13267
It won't. Just tested by changing `segmentID` to `segment_id`, in a request def (to reduce impact). Neither `golint` nor `revive` reported any issue about using generated `segmentId` field

[2021-12-13 09:34] czs007 opened #13271 "[Enhancement]: Change the Insert message to column format in the message store"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Change the Insert message to column format in the message store.

Change the InsertRequest defined in internal.proto to the following definition:
[code]

This change will cause incompatibility.

### Why is this needed?

The Milvus database is columnar.
InsertRequest is defined

[2021-12-13 10:01] DragonDriver commented on #12598
[code]

I use annoy to test three kinds of dataset:
- 1, totally-random dataset (used in annoy example);
- 2, random dataset using Milvus.GenDataset;
- 3, e2e dataset generated by above test script;

Annoy works fine with 1 and 2, crashed with 3. So I guess annoy is a dataset-sensitive algorithm and I'll fire an issue in annoy.

[2021-12-13 10:05] cydrain commented on #12373
The 800M memory increased is "virtual memory", not "physical memory", so it's not a real issue.

[2021-12-13 11:39] XuanYang-cn commented on #12701
every insert time of 200 nb for 2000 times
![Figure_4](https://user-images.githubusercontent.com/51370125/145805508-98ba903d-61ab-41b9-a3bf-86773e8e5ce7.png)

[2021-12-13 11:50] yanliang567 commented on #13253
/assgin @xige-16
/unassign

[2021-12-13 12:00] XuanYang-cn commented on #12701
another go
![Figure_1](https://user-images.githubusercontent.com/51370125/145808577-b0814041-cd7b-4474-9534-3c9487d027f0.png)

[2021-12-13 12:16] ThreadDao opened #13294 "[Bug]: Insert hangs in parallel when milvus has two proxy replicas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Deploy milvus with 2 proxy replicas
2. Connect milvus and create an collection
3. Insert 100 entities in parallel and hangs
[code]
[proxy_dfpq8.log](https://github.com/milvus-io/milvus/files/7703636/proxy_dfpq8.log)
[proxy_dxtmc.log](https://github.com/milvus-io/mi

[2021-12-13 13:16] DragonDriver commented on #12240
I will print the build information in #13300 . Next time this issue occurs again, we can then check if these env worked. @nameczz

[2021-12-13 14:35] godlockin commented on #6857
...

[2021-12-13 18:21] martyanov commented on #5218
@scsven Is there any ETA for Kafka? Pulsar seems as a much weaker choice in comparioon to Kakfa? What was the reasoning behind the choice?

[2021-12-14 01:09] yanliang567 commented on #13294
/assign @congqixia
@congqixia could you please take a look at this issue?
/unassign

[2021-12-14 01:11] yanliang567 commented on #13256
@sunby could you please take a look at this issue?

[2021-12-14 01:42] congqixia commented on #13294
@yanliang567 , ok, working on it. Can we have the log from the datacoord and datanode(s)?

[2021-12-14 02:00] yanliang567 commented on #13294
@ThreadDao

[2021-12-14 02:03] czs007 commented on #13294
@congqixia @ThreadDao
may not be the problem of milvus.
Python multi-process can not copy the shared connections.

[2021-12-14 02:08] congqixia commented on #13294
@czs007 just checked log from proxy_dfpq8.log
[code]
I think your theory might be correct.

[2021-12-14 02:09] yanliang567 commented on #12514
/assign @ThreadDao
/unassign @binbinlv

[2021-12-14 02:14] yanliang567 commented on #12957
/assign @ThreadDao
please help to verify the fix @ThreadDao
/unassign @binbinlv

[2021-12-14 02:14] yanliang567 commented on #12648
/assign @ThreadDao
please help to verify the fix @ThreadDao
/unassign @binbinlv

[2021-12-14 02:15] yanliang567 commented on #13045
/assign @ThreadDao
please help to update the latest status of these tests
/unassign @binbinlv

[2021-12-14 02:16] yanliang567 commented on #12441
/assign @ThreadDao

/unassign @binbinlv

[2021-12-14 02:16] yanliang567 commented on #12259
/assign @ThreadDao
please help to verify the fix @ThreadDao
/unassign @binbinlv

[2021-12-14 02:16] yanliang567 commented on #11978
/assign @ThreadDao
please help to verify the fix @ThreadDao
/unassign @binbinlv

[2021-12-14 02:18] yanliang567 commented on #13064
/assign @ThreadDao

/unassign @binbinlv

[2021-12-14 02:22] congqixia commented on #13294
@ThreadDao could you please verify the test script?
/unassign
/assign @ThreadDao

[2021-12-14 02:34] sflowing commented on #12298
**Report**
The bug frequency is lower: 1 or 2 per day --> 1 in 4 days (12.10/12.11/12.12/12.13).

_Strange result, we will continue to record the bug and report it next week._

**server_config.yaml**
[code]

[2021-12-14 02:35] zhuwenxing opened #13318 "[Bug]: First search latency is much larger than normal situation after re-starting Milvus"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After re-starting, the first search latency is much larger, about **76s**!
![image](https://user-images.githubusercontent.com/12268675/145922106-bbd3c3ed-be32-4819-adfb-8fccddbc42b8.png)

### Expected Behavior

search latency is normal, like about 0.4s

### Steps To R

[2021-12-14 02:40] bigsheeper opened #13319 "[Enhancement]: Components should get real memory info"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

All the components should get real memory info regardless of in container or bare machine

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-12-14 02:45] ThreadDao opened #13321 "[Bug]: The maximum field's number should be limited to 256 rather than 64"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Create a collection with 254 int fields, 1 primary int field, 1 float vector field.
[code]
Exception:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-12-14 03:11] congqixia commented on #13160
Fixing pr has been merged. Could you please verify? @zhuwenxing
/unassign
/assign @zhuwenxing

[2021-12-14 03:11] sunby commented on #13250
/unassign @sunby
/assign @XuanYang-cn

[2021-12-14 03:18] XuanYang-cn commented on #12450
Please add `wait_for_compaction_completed` after mannul compaction before loading :smile_cat:

[2021-12-14 03:23] zhuwenxing commented on #12701
In local terminal: (server and client are not in same machine)
![image](https://user-images.githubusercontent.com/12268675/145927158-44a985db-a93c-46ab-92c8-93f0226e2cbe.png)
In GitHub action: (server and client are in same machine)
![image](https://user-images.githubusercontent.com/12268675/145927245-802e18f3-4ae4-4dca-8c69-2371617744c6.png)

[2021-12-14 03:25] ThreadDao commented on #13294
/unassign
/assign @czs007
@congqixia I create connections in each process and insert successfully. But it's wrong to hang anyway. I lowered the priority of the issue.

[2021-12-14 03:30] XuanYang-cn opened #13325 "[Bug]: Auto compaction keeps warning for dropped collection's compaction"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-12-14 03:31] #9821 closed

[2021-12-14 03:33] XuanYang-cn commented on #12701
I'm wondering how many machines our VPN has travelled during the insert.  Especially when 2 VPNs are on.

[2021-12-14 03:34] ThreadDao commented on #12441
Fixed

[2021-12-14 03:36] ThreadDao commented on #13045
Now `auto-compaction` is on and the problem did not reappear.

[2021-12-14 03:41] #12957 closed

[2021-12-14 03:51] yanliang567 commented on #13318
I guess it is because that it was still loading when 1st search issued.
@xige-16 could you please double confirm about it?
/assign @xige-16
/unassign

[2021-12-14 04:21] wangting0128 opened #13334 "[Bug]: [benchmark][cluster] After milvus restarts, the interfaces all return errors"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1、create collection
2、create index of ivf_sq8
3、insert 1billion vectors
4、flush collection
5、create index with the same params
6、load collection
7、locust concurrent: query <- search, load, get <- query
8、kubectl rollout restart deploy \<milvus\>
[code]
9、locust concur

[2021-12-14 05:55] xiaofan-luan commented on #13318
It take some time to recover. but why the recover only happens on first search?
I guess it should happen as soon as the cluster recover

[2021-12-14 06:00] xiaofan-luan commented on #13321
/assign @yhmo could you please take a lookd

[2021-12-14 06:17] DragonDriver opened #13341 "[Bug]: DeleteCollection of rootcoord meta table is not atomic and transactional"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

When we drop a collection, rootcoord will clean the meta in etcd. According to the above code, rootcoord will split the clean job into two stages:
- 1, `mt.snapshot.MultiSaveAndRemoveWithPrefix(map[string]string{}, delMetakeysSnap, ts)`
- 2, `mt.txn.MultiSaveA

[2021-12-14 06:17] DragonDriver commented on #13341
Related: https://github.com/milvus-io/milvus/issues/12951

[2021-12-14 07:11] ThreadDao commented on #12514
This problem did not occur in the last five runs, so the priority is lowered to priority/backlog.

[2021-12-14 07:13] congqixia commented on #13341
@DragonDriver the reason why `Delete` is split into 2 staged is for issue #10233.(Make all clean up into one atomic operation will lead to ETCD error!) We can assume the Collection is dropped after the the `SnapShotKV` operation. Yes, the txn kv clean up might fail in some cases. All we need is a background cleaner to clean up these mess

[2021-12-14 07:15] #13325 closed

[2021-12-14 07:20] DragonDriver commented on #13341
@congqixia Got it. In my opinion, when rootcoord recover from failures, `drop collection` should always succeed whether the meta exists or not. How do you think about it?

[2021-12-14 07:26] congqixia commented on #13341
@DragonDriver `RootCoord` will save last unfinished DDL (including `Drop Collection`) in etcd. If it crashed during the execution progress, rootcoord will retry the same operation.
I think the issue you mentioned is related to service idempotence, which is undefined so far.

[2021-12-14 07:30] yanliang567 commented on #13334
/assign @sunby
/unassign

[2021-12-14 07:46] yanliang567 commented on #12450
@ThreadDao could you please retry with suggestion above?
/assign @ThreadDao

[2021-12-14 07:48] DragonDriver commented on #13341
@congqixia Sorry, I made a mistake. Actually this issue won't cause #12951. But due to this issue, we need a garbage cleaner in the background to clean up all the useless meta.

[2021-12-14 07:48] yanliang567 commented on #12297
/assign @wangting0128
@wangting0128 please help to retry

[2021-12-14 08:27] godchen0212 commented on #12585
I subsequently used the simplified repo of @czs007  to do the following experiments:
1. In order to eliminate the problem of PayloadStream.cpp that we wrote, I applied PayloadStream.cpp to the parquet example, changed the original read file to []byte, and passed it to construct PayloadInputStream object. As a result, there is no memory leak, indicating that there is no problem with PayloadStream.c

[2021-12-14 08:29] DragonDriver commented on #13341
Closed since this issue won't introduce in-consistency into Milvus. Just like @congqixia said, all we need to do is a background cleaner to clean up the useless meta.

[2021-12-14 08:29] #13341 closed

[2021-12-14 09:08] JackLCL commented on #12497
@rchangj
We can't analyze the reason from RocksDB's log.
Can you provide the log of Milvus?

[2021-12-14 09:09] cydrain commented on #12951
/assign

[2021-12-14 09:19] DragonDriver commented on #12951
I think it's `DropCollection` caused this issue. When the `MetaTable.DeleteCollection` was done but the rest of `DropCollection` task was still waiting to be done, for example, removing the channels of the specific collection. Rootcoord consider this `DropCollection` operation as `unfinished`, and in the `MetaTable.DeleteCollection` rootcoord use `mt.txn.MultiSaveAndRemoveWithPrefix(saveMeta, delM

[2021-12-14 09:25] xige-16 commented on #13238
/assign
/unassign @sunby

[2021-12-14 09:49] xige-16 commented on #13246
It seems that pulsar is not well, Is there a pulsar log？

[2021-12-14 09:53] JackLCL commented on #12497
And there is another solution. You can try the latest image of Milvus here and see if the bug still occurs:
https://hub.docker.com/r/milvusdb/milvus-dev/tags

[2021-12-14 10:01] JackLCL commented on #13246
@JamCrash

[2021-12-14 10:01] DragonDriver commented on #13321
I'll fix this soon.
/unassign @yhmo
/assign

[2021-12-14 10:10] DragonDriver commented on #13321
It seems that we didn't configure it in helm. So proxy read a default value `64`. Could you help to check this? @LoveEachDay

[2021-12-14 10:20] zhuwenxing commented on #13160
Verified and passed in version `master-20211214-f604d13`

[2021-12-14 10:20] #13160 closed

[2021-12-14 10:20] yanliang567 commented on #12465
@wangting0128 let's see if it repros
/assign @wangting0128
/unassign @xige-16

[2021-12-14 10:22] yanliang567 commented on #12677
@wangting0128 does this still repro?
/assign @wangting0128
/unassign @xiaofan-luan

[2021-12-14 10:28] LoveEachDay commented on #13321
Yes, the default value of `maxFieldNum` is 64 in helm chart.
We can change the default value of `maxFieldNum` from 64 to 256 if needed.

[2021-12-14 10:55] DragonDriver commented on #13321
/assign @ThreadDao
How do you think about it?

[2021-12-14 12:01] DragonDriver commented on #13321
@LoveEachDay has already changed the default value of `maxFieldNum` in helm chart. @ThreadDao

[2021-12-14 14:43] cydrain commented on #12951
Resolve this issue in 2 steps:
1. in task.go, for each dd operation, send dd request first, then update meta table
2. in reSendDdMsg():
	create collection: if collection exists in meta table, skip; otherwise resend dd
    drop collection: if collection not exist in meta table, skip; otherwise resend dd
    create partition: if partition exists in meta table, skip; otherwise resend dd
    drop part

[2021-12-14 15:52] rchangj commented on #12497
@JackLCL
The log issue is another issue I raised. I didn't see log coming out. Here is my log configuration:

log:
  level: debug # info, warn, error, panic, fatal
  file:
    rootPath: "/var/log/milvus" # default to stdout, stderr
    maxSize: 300 # MB
    maxAge: 10 # day
    maxBackups: 20
  format: text # text/json

I can try recent image, which tag you would recommend? Do I just need to make

[2021-12-14 16:09] JackLCL commented on #12497
@rchangj
You can use "docker logs" command to get the log of Milvus.
I suggest you use the latest tag.

---"Do I just need to make a change in docker-compose.yaml to point to the tag or any other change is needed?"
---Yes.

[2021-12-15 01:00] cydrain commented on #12951
/assign @zhuwenxing

[2021-12-15 01:54] wangting0128 commented on #12465
argo task: benchmark-no-clean-skzrl

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-cluster-8c64m-nfs

client pod：benchmark-no-clean-skzrl-557138001

client log:
[code]

server:
[code]

[2021-12-15 02:06] yhmo opened #13399 "[Bug]: Cannot start milvus by ./scripts/start_cluster.sh"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

According to the document: milvus/DEVELOPMENT.md
Run ./scripts/start_cluster.sh to start cluster service
Run ./scripts/start_standalone.sh to start standalone service

But all failed.

### Expected Behavior

Run ./scripts/start_cluster.sh and milvus service successful

[2021-12-15 02:26] cydrain commented on #11074
/assign

[2021-12-15 02:27] cydrain commented on #11074
https://argo-test.zilliz.cc/workflows/yudong/yudong-benchmark-ll2v5?tab=workflow&nodeId=yudong-benchmark-ll2v5-2479816754

[2021-12-15 02:30] #13321 closed

[2021-12-15 02:44] ThreadDao commented on #11758
Finished

[2021-12-15 02:45] yhmo commented on #13399
Fixed by #13401

[2021-12-15 02:45] #13399 closed

[2021-12-15 02:48] cydrain commented on #12951
@DragonDriver suggest to divide DropCollection into more small steps, and update etcd after each step done. When reSendDd, we can resume from the last unfinished step.
All of 4 DD operations need do this enhancement.
Need think this more in detail.

[2021-12-15 03:00] DragonDriver commented on #12951
There still are issues, also taking `drop collection` as example:
- 1, When rootcoord recover from failure, it won't notify querycoord to release collection;
- 2, The clean up for collection channels may fail;

Confirmed by @xige-16 & @bigsheeper :
- 1, It doesn't matter that we call `release` repeatedly;
- 2, Querynode will subcribe dml channels but won't process the `ddl` message in channels, si

[2021-12-15 03:01] xige-16 commented on #12465
duplicate with #13250
[2021/12/14 13:21:33.638 +00:00] [DEBUG] [cluster.go:263] ["loadSegments: queryNode load segments error"] [nodeID=7] ["error info"="The specified key does not exist."]

[2021-12-15 05:16] cydrain commented on #11074
in 1206 run:
[code]

in 1215 run:
[code]

[2021-12-15 06:10] cydrain commented on #11074
For #10530, the root cause is, in segment 7, all data are duplicated with primary key "7737081", the reduce code cannot handle this case.
For #11074, the 2 runs panic with different search parameters:
    1206 run, nq=1200, k=1
    1215 run, nq=20, k=1000, see no abnormal in debug log, seems not reduce error

[2021-12-15 07:02] DragonDriver opened #13425 "[Enhancement]: Refine log that proxy process the search result message"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I want to refine log that proxy handle the search result message.

### Why is this needed?

For now, the workflow that proxy handle the search result message is too messy. Though it's simple and correct, we didn't have a good program structure. Besides, our log in this gorouti

[2021-12-15 07:02] xiaocai2333 opened #13426 "[Enhancement]: Organize the startup logic of component"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

The startup logic of each component is not uniform, in order to make it easier for other contributors to read the code.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-12-15 07:02] xiaocai2333 commented on #13426
/assign

[2021-12-15 07:03] DragonDriver commented on #13425
/assign
I'll do the refactor later.

[2021-12-15 07:15] DragonDriver commented on #13253
[code]

The search result sent by querynode was not ready to reduce. It contained only one vchan's data. It seems that querynode didn't search on the streaming segment successfully.

[2021-12-15 07:29] xige-16 commented on #13238
standalone restart at 03:17:27, and query node recover successfully  at 03:29:27.698, so the search timeout before this time.

[2021-12-15 07:30] xige-16 commented on #13238
The log is incomplete and the cause of the restart cannot be discovered now.

[2021-12-15 07:31] sunby commented on #12507
/assign @wangting0128
/unassign

[2021-12-15 07:38] sunby commented on #13334
/assign @bigsheeper
/unassign

[2021-12-15 07:50] DragonDriver commented on #13253
[code]

[2021-12-15 07:53] cydrain opened #13429 "[Enhancement]: Analyze rocksmq goroutine usage in standalone"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

msgstream->mqclient->rocksmq/pulsar
Need analyze when create/drop collection, how many consumer (goroutine) will be created or released.
Is there resource leak ?

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-12-15 07:53] cydrain commented on #13429
/assign

[2021-12-15 07:53] xige-16 commented on #13238
my mistake, it seems that the server is blocked at 03:17:27.622, not has restarted.
[code]

[2021-12-15 08:12] xige-16 commented on #13238
standalone restart at 03:49:35, so the restart is the cause of the search tiomeout.

[2021-12-15 08:17] Bennu-Li opened #13434 "[Bug]: The default path of configDir"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I compiled Milvus from source and then i run milvus binary file on another computer.

If i don't set the environment variable `MILVUSCONF`, and there is no config file in the running path. The default configDir is the path where i complied Milvus.

<img width="1440" a

[2021-12-15 08:23] cydrain commented on #13429
system start up

[code]

[2021-12-15 08:24] xige-16 commented on #12750
same error at test_compact_after_binary_index
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-13110/12/pipeline/

[2021-12-15 08:25] xige-16 commented on #12750
same error at test_compact_merge_and_search

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-13110/11/pipeline

[2021-12-15 09:03] #12450 closed

[2021-12-15 09:27] cydrain commented on #13429
This script creates 10 collections, then drops 10 collections.

[code]

[2021-12-15 09:29] cydrain commented on #13429
run above script several times, more and more rocksmq consume goroutines not cleaned.

[code]

[2021-12-15 10:31] yanliang567 commented on #13434
@Bennu-Li so are you asking for a way to set the default path?

[2021-12-15 11:52] cydrain commented on #13429
The root cause is data node fail to GC all vchan

[code]

[2021-12-15 11:53] cydrain commented on #13429
/assign @XuanYang-cn

[2021-12-15 11:57] xiaofan-luan commented on #13429
I will handle this issue

[2021-12-15 11:58] xiaofan-luan commented on #13429
/assign

[2021-12-15 12:02] fishpenguin commented on #13429
This is because when drop collection is called, the corresponding consumer closeCh isn't closed, only client_impl.go::Close() will call close(closeCh), but this isn't called when close a msgstream.

[2021-12-15 12:56] Bennu-Li commented on #13434
Yeah

[2021-12-15 12:56] Bennu-Li commented on #13434
Yeah

[2021-12-15 14:33] cydrain commented on #12478
rerun failure checks

[2021-12-15 16:00] #10683 closed

[2021-12-15 16:00] #10684 closed

[2021-12-15 18:00] #10946 closed

[2021-12-16 01:03] yanliang567 commented on #13434
/assign @yhmo
@yhmo could you please help on it?
/unassign

[2021-12-16 01:58] lale314 commented on #13084
[2021-12-16 09:49:35,449][DEBUG][ENGINE][MarkOngoingFileNoLock][wal_thread] Mark ongoing file:1637059057305246000 refcount:2
[2021-12-16 09:49:35,449][DEBUG][ENGINE][MarkOngoingFileNoLock][wal_thread] Mark ongoing file:1637059412276749000 refcount:1
[2021-12-16 09:49:35,449][DEBUG][ENGINE][GetCollectionFilesBySegmentId][wal_thread] Get 2 files by segment id 1637059057305246000
[2021-12-16 09:49:35

[2021-12-16 02:29] DragonDriver commented on #12598
I fire an issue in https://github.com/spotify/annoy/issues/587, waiting for the reply.

[2021-12-16 02:54] DingQK commented on #12210
@xiaofan-luan @fishpenguin   Hi! I am new to the milvus community and I really want to contribute. Are there anything I can do to help solve this issue? Thank you so much!

[2021-12-16 03:23] czs007 opened #13505 "[Enhancement]: Initialize the random number seed at the unified entrance"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

In the main function, uniformly initialize the random number seed.

In addition, the random number seed is initialized in the TestMain method of each unit test module.

### Why is this needed?

Milvus widely uses the package `rand` that comes with go. The `rand` package comes

[2021-12-16 03:42] rchangj commented on #12423
Hi, @fishpenguin Just FYI, I'm running the latest image following recommendation from:
milvusdb/milvus-dev:master-20211214-dbaca0a
https://github.com/milvus-io/milvus/issues/12497
I'm still seeing memory leak.

[2021-12-16 07:47] #11409 closed

[2021-12-16 08:03] yanliang567 commented on #9613
@wangting0128 could you please help to verify the data cleanup fix this issue?

[2021-12-16 08:30] realtwister commented on #12559
Hi. Sorry for the delayed response. I don't really see a use for multi vector schemes at this point. I just noticed this while testing the java sdk example code.

Btw does this mean that an error is returned when a multi vector collection is created? Or is it just not supported and is there still the possibility for unloadable collections?

Thanks

[2021-12-16 08:41] czs007 opened #13516 "[Enhancement]: Add support for unsigned numeric types."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I would like to add four new  datatype:

DataType_UInt8
DataType_UInt16
DataType_UInt32
DataType_UInt64

- [ ] support for uint8 #13517
- [ ] support for uint16 #13518
- [ ] support for uint32 #13519
- [ ] support for uint64 #13520

### Why is this needed?

Databases like mysq

[2021-12-16 08:43] czs007 opened #13517 "[Enhancement]: Add support for uint8"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I would like to add DataType_UInt8.

### Why is this needed?

Databases like mysql support unsigned integer numbers through keywords such as UNSIGNED.
In order to enrich the data type, we have no reason not to support it.

### Anything else?

_No response_

[2021-12-16 08:44] czs007 opened #13518 "[Enhancement]: Add support for uint16"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I would like to add DataType_UInt16.

### Why is this needed?

Databases like mysql support unsigned integer numbers through keywords such as UNSIGNED.
In order to enrich the data type, we have no reason not to support it.

### Anything else?

_No response_

[2021-12-16 08:44] yanliang567 commented on #12559
@realtwister we are going to disable it via SDK, it means you would get an error if trying to create a collection with multi vector fields

[2021-12-16 08:44] czs007 opened #13519 "[Enhancement]: Add support for uint32"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I would like to add DataType_UInt32.

### Why is this needed?

Databases like mysql support unsigned integer numbers through keywords such as UNSIGNED.
In order to enrich the data type, we have no reason not to support it.

### Anything else?

_No response_

[2021-12-16 08:45] czs007 opened #13520 "[Enhancement]: Add support for uint64"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I would like to add DataType_UInt64.

### Why is this needed?

Databases like mysql support unsigned integer numbers through keywords such as UNSIGNED.
In order to enrich the data type, we have no reason not to support it.

### Anything else?

_No response_

[2021-12-16 08:45] suifengmangbu opened #13521 "[Bug]: milvus only receives requests, but does not actually process them"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Call search request，After running for about 1 month, it will appear only receives requests, but does not actually process them

### Expected Behavior

Able to process requests normally

### Steps To Reproduce

[code]

### Anything else?

1、watch info log
After 01:01:1

[2021-12-16 08:59] xiaocai2333 commented on #7222
/assign @yanliang567
/unassign

[2021-12-16 09:04] binbinlv commented on #12648
Verified, and fixed.

Milvus: 1276654
pymilvus: 2.0.0rc9.dev24

[2021-12-16 09:04] #12648 closed

[2021-12-16 09:08] yanliang567 commented on #7222
let me retry.

[2021-12-16 09:21] xiaocai2333 commented on #9623
Maybe we can increase the timeout now to solve this problem. @yanliang567 @czs007

[2021-12-16 09:21] xiaocai2333 commented on #9623
/assign @yanliang567

[2021-12-16 09:25] czs007 commented on #10754
refer to this https://github.com/milvus-io/milvus/pull/13320

[2021-12-16 09:25] #13319 closed

[2021-12-16 09:26] xiaocai2333 commented on #10754
/assign @ThreadDao

Please retest it.

[2021-12-16 09:39] #13072 closed

[2021-12-16 09:57] czs007 commented on #11074
@xiaocai2333 is working on this.

[2021-12-16 10:06] bigsheeper commented on #13334
[code]
Failed to connect to IndexCoord.

[2021-12-16 10:44] fishpenguin commented on #12423
@rchangj The memory leak is because that the block cache usage of rocksdb in rocksmq is not limited, milvus keeps sending timetick messages to rocksmq when idle and the rocksdb block cache size keeps growing. We are trying to figure out why the block cache size is unlimited and this will be fixed soon.

BTW, did you do some operations in standalone before kept the standalone idle? Or just did noth

[2021-12-16 13:29] #12769 closed

[2021-12-16 13:30] xige-16 commented on #13253
duplicate with #12190

[2021-12-16 13:31] #13253 closed

[2021-12-16 14:02] ThreadDao commented on #13294
After removing connection, call `has_partition` in parallel hangs
1. connect in the main process
2. create a collection
3. remove connect
4. start a process to call `has_partition`
5. expected to get an exception: should connect first, but hangs

[2021-12-16 14:13] ThreadDao commented on #13294
While starting multi-process to create the same collection, the exception will be thrown:
[code]
While creating the same collection just in main process, no exception will be thrown

[2021-12-16 15:51] rchangj commented on #12423
@fishpenguin I didn't do anything this time.

[2021-12-16 19:37] austinjung opened #13553 "[Bug]: The milvus cluster doesn't response at all after 23 days running."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After 23 days of running, the milvus server doesn't respond. It seemed to be hanged.
**This is error logs of milvus-datanode**
[error_logs_of_milvus-datanode.txt](https://github.com/milvus-io/milvus/files/7729971/error_logs_of_milvus-datanode.txt)

### Expected Behavi

[2021-12-16 20:17] austinjung commented on #13553
If you need more logs from milvus cluster pods, please let me know. We just left the milvus server as it is.

[2021-12-17 01:22] yanliang567 commented on #13294
/assign @congqixia
could you please take a look again @congqixia

[2021-12-17 01:23] yanliang567 commented on #13521
/assign @yhmo
@yhmo could you please help on this issue

/unassign

[2021-12-17 01:31] LoveEachDay commented on #13553
According to  the datanode pod log: `Not enough non-faulty bookies available`, please check whether the pulsar bookkeeper pods and pulsar broker pods are all running.  And provide the pulsar broker log.
/unassign

[2021-12-17 01:35] yanliang567 commented on #13553
@austinjung please check as suggested above

[2021-12-17 01:46] austinjung commented on #13553
I can see pulsar bookkeeper and pulsar broker pods are running.
(ciitizen-document-classification-service) ajung-MD6M:projects austinjung$ dev get pods | grep milvus
milvus-datacoord-5ff7677564-ms2zm                                 1/1     Running             0          21h
milvus-datanode-68849748c9-t2xh6                                  1/1     Running             1          21h
milvus-etcd-0

[2021-12-17 01:53] congqixia commented on #13294
@ThreadDao @yanliang567 I think this is the designed behavior. As two user create a collection with same Collection name, only one shall succeed and the other one shall fail with error message like "Collection already exist".

[2021-12-17 01:57] austinjung commented on #13553
Here is pulsar broker logs.
[Uploading milvus_pulsar_broker.log…]()

[2021-12-17 01:58] hf185 opened #13558 "[Bug]: RootCoord, Failed to new MetaSnapshot"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

使用docker运行在2*4的CentOS服务器上，32G运行内存，运行一段时间后，自动exit了，再重启就报错：RootCoord, Failed to new MetaSnapshot

### Expected Behavior

正常重启并运行

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-12-17 01:59] austinjung commented on #13553
![Uploading Screen Shot 2021-12-16 at 5.58.47 PM.png…]()

[2021-12-17 02:00] austinjung commented on #13553
`(ciitizen-document-classification-service) ajung-MD6M:projects austinjung$ dev get pods | grep milvus
milvus-datacoord-5ff7677564-ms2zm                                 1/1     Running             0          21h
milvus-datanode-68849748c9-t2xh6                                  1/1     Running             1          21h
milvus-etcd-0                                                     1/1     Runni

[2021-12-17 02:01] austinjung commented on #13553
[code]

[2021-12-17 02:07] DragonDriver opened #13559 "[Bug]: querycoord ut timeout in github action"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://github.com/milvus-io/milvus/runs/4547601762?check_suite_focus=true

### Expected Behavior

querycoord ut works fine.

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-12-17 02:11] zhuwenxing opened #13560 "[Enhancement]: Add case to cover more upgrade scenarios"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

create index before the upgrade

### Why is this needed?

cover more upgrade scenarios

### Anything else?

_No response_

[2021-12-17 02:11] zhuwenxing commented on #13560
/assign

[2021-12-17 02:27] ThreadDao commented on #13064
/assign @binbinlv

/unassign

[2021-12-17 02:27] ThreadDao commented on #12514
/assign @binbinlv

/unassign

[2021-12-17 02:27] #12441 closed

[2021-12-17 02:28] ThreadDao commented on #12259
/assign @binbinlv

/unassign

[2021-12-17 02:28] ThreadDao commented on #11978
/assign @binbinlv

/unassign

[2021-12-17 02:42] yanliang567 commented on #7222
on master commit id 41190c2
memory keeps increasing in querynode and indexnode  if doing index-loading-search repeatly
at first:
![image](https://user-images.githubusercontent.com/82361606/146479453-3edd5f3e-77dc-4b72-8365-7e55eba9f7dc.png)
after repeat for 4 times: querynode increased 90.5%, indexnode increased 16.4%
![image](https://user-images.githubusercontent.com/82361606/146479513-c12505e0-9

[2021-12-17 02:42] yanliang567 commented on #7222
/assign @xiaocai2333
/unassign

[2021-12-17 02:48] xiaofan-luan commented on #7222
@yanliang567 is this similar issue  @godchen0212 trying to solve?

[2021-12-17 02:57] ThreadDao commented on #13294
@congqixia I think this is acceptable. I’m just saying here that I just want to explain this inconsistency.

[2021-12-17 02:58] DragonDriver commented on #13559
According to the log, it seems that `LoadPartitions` was not done. So querycoord spent a lot of time to wait for `LoadPartitions` to be done.

[2021-12-17 02:58] ThreadDao commented on #13294
@yanliang567 Do you think this is a problem

[2021-12-17 02:59] xiaocai2333 commented on #7222
yes

[2021-12-17 03:01] binbinlv commented on #12514
Check the nightly, the panic did not occur for several days, so close it.

[2021-12-17 03:01] #12514 closed

[2021-12-17 03:50] DragonDriver commented on #13559
Tring to reproduce this on my local pc.

[2021-12-17 04:10] DingQK opened #13594 "[Bug]: Molecular Formula Search Demo load smi file error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I use the quick_deploy for molecular_similarity_search (bootcamp/solutions/molecular_similarity_search/quick_deploy/) and deploy it using Docker Compose according to the guide. And I have experience the following problem:

- When I try to add the "path/to/your/data" (

[2021-12-17 05:03] yanliang567 commented on #13594
/assign @LoveEachDay
/unassign

[2021-12-17 05:08] yanliang567 commented on #13294
@congqixia, @ThreadDao   I think it is acceptable to get an error, while hanging is not acceptable.

[2021-12-17 05:08] yanliang567 commented on #13553
@LoveEachDay

[2021-12-17 05:10] yanliang567 commented on #13558
@hf185 could you please upload the milvus logs for investigation?
/assign @hf185
/unassign

[2021-12-17 06:10] xiaofan-luan commented on #13559
TestWatchNodeLoop/Test_OfflineNodes
Seems to be this case in QueryCoord

[2021-12-17 06:29] hf185 commented on #13558
https://github.com/hf185/file/blob/main/milvusdb.log

[2021-12-17 06:34] LoveEachDay commented on #13594
docker-compose has mounted the `../smiles-data` directory into the `molesearch-webserver` container as `/mols_data`. If you want to add more data into `molesearch-webserver`, you have to copy the data into the project directory `solutions/molecular_similarity_search/smiles-data`.

Then you can add formula via `/smiles-data/<your-data>` as full path.

[2021-12-17 06:34] LoveEachDay commented on #13594
/unassign

[2021-12-17 07:06] czs007 opened #13599 "[Bug]: test_delete_sealed_segment_with_flush failed, get deleted id in query"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

query retrieve the deleted id.

### Expected Behavior

the query should not retrieve the deleted id.

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2021-12-17 07:07] DragonDriver commented on #13559
The scheduler loop didn't exit in this case, blocked in `scheduler.wg.Wait`.

[2021-12-17 07:12] DingQK commented on #13594
Thank you for your answer!

[2021-12-17 07:12] #13594 closed

[2021-12-17 08:09] Lorisyy commented on #3603
Hi @scsven , Thanks for your answer, but I want to ask Why?
According to Section 4.2 in Milvus's paper [**here**](https://dl.acm.org/doi/abs/10.1145/3448016.3457550), your project is able to support such a multi-vector search.
IF it is not necessary to do so, how do your work could be implemented of the iterative merging of multi-vector search?

Your early reply is kindly appreciated.
Best regards

[2021-12-17 08:24] jingkl opened #13611 "[Bug]: The drop partition can be search：searched is not equal with expected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

run test_search_20.py  test_search_before_after_delete
milvus image: milvusdb/milvus-dev:master-20211216-d9bd36b
[code]
error.log:

[code]

  **log data** [log.zip](https://github.com/milvus-io/milvus/files/7733616/log.zip)

### Expected Behavior

_No response_

### S

[2021-12-17 08:32] xiaofan-luan commented on #3603
Hi there Lorisyy~
Since the community move to 2.0 , we decide to move multi-vector search functionalities to 2.0.
So I guess not needed just mark 1.x won't support multi vectors.

Later version of 2.0 will support it.
What kind of scenario is your use case ?

[2021-12-17 08:49] zhuwenxing opened #13616 "[Bug]: Load failed after upgrading milvus cluster"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all operations work well

### Steps To Reproduce

[code]

second deployment
[code]

### Anything else?
[code]

[2021-12-17 08:52] ThreadDao opened #13617 "[Enhancement]: Unify the use of log in python test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

There are two ways to log test messages:
1. log object configured in `utils/util_log.py`
2. original python log object

I will unify as the first way.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-12-17 09:06] Lorisyy commented on #3603
Hi, thanks for your early reply, thanks!
I see, I think 2.0 is already available here right? [Milvus 2.0.0](https://milvus.io/docs/v2.0.0) Could you please tell me how can I use it? A big thanks. Or if not yet available, in order to conduct multi-vector search, what kind of method are you going to utilize?
My use case is a **multi-vector search** within a relational-database system using certain i

[2021-12-17 09:08] Lorisyy commented on #3603
Hi, thanks for your early reply, thanks!
I see, I think 2.0 is already available here right? Milvus 2.0.0 Could you please tell me how can I use it? A big thanks. Or if not yet available, in order to conduct multi-vector search, what kind of method are you going to utilize?
My use case is a multi-vector search within a relational-database system using certain indexs.
For example:

| id | Vector1 |