[2022-06-07 11:52] jaime0815 opened #17417 "Remove buggy DDL persistence from rootcoord"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

the serialized DDL requests were written with the same key onto ETCD repeatedly,  which led to the recovery can't work.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-06-07 12:05] jaime0815 opened #17419 "Remove AlterAlias for collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

1. AlterAlias is meaningless the alias does not need to alter
2. AlterAlias is implemented at the same with AddAlias

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-06-07 12:24] zhuwenxing commented on #17408
This issue also has the same behavior
https://github.com/milvus-io/milvus/issues/17369

[2022-06-07 12:25] zhuwenxing commented on #17369
Maybe related to the issue https://github.com/milvus-io/milvus/issues/17408

[2022-06-07 12:43] yanliang567 commented on #17416
@congqixia It is said you are fixing this issue
/assign @congqixia
/unassign

[2022-06-07 12:46] yanliang567 commented on #17410
@WangErXiao Could you please use this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

/assign @WangErXiao
/unassign

[2022-06-07 13:35] zhuwenxing commented on #17330
This happened again
failed job: http://10.100.32.144:8080/blue/organizations/jenkins/deploy_test_kafka/detail/deploy_test_kafka/62/pipeline
log: [artifacts-cluster-reinstall-62-logs.tar.gz](https://github.com/milvus-io/milvus/files/8853603/artifacts-cluster-reinstall-62-logs.tar.gz)

[2022-06-08 00:55] WangErXiao opened #17424 "[Bug]: got a search result, but we should ignore"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

My search is not responsed. I find the prox log as below

[2022/06/08 00:50:21.435 +00:00] [DEBUG] [task_scheduler.go:677] ["got a search result, but we should ignore"] [role=proxy] [ReqID=433741808568893720]
[2022/06/08 00:50:21.441 +00:00] [DEBUG] [task_scheduler.go

[2022-06-08 01:17] yongpengli-z opened #17425 "[Bug]: [bulkload] Occasional import request failed: Import task queue max size is 32, currently there are 32 tasks is pending. Not able to execute this request with 1 tasks."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After  bulk load multiple files repeatedly,ImportRequest failed:
‘Import task queue max size is 32, currently there are 32 tasks is pending. Not able to execute this request with 1 tasks.’

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milv

[2022-06-08 01:35] yanliang567 commented on #17425
/assign @soothing-rain
/unassign

[2022-06-08 01:37] yanliang567 commented on #17424
@WangErXiao Could you please use this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

/assign @WangErXiao
/unassign

[2022-06-08 01:47] angelapytao opened #17426 "[Bug]: The old query node pod destoryed, but did not unregister meta from etcd."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

[2022-06-08 01:49] rocke2020 commented on #16606
I also encounter this problem. This issue is give me much serious trouble.
Could you push v2.1 as soon as possible? thanks!!!

[2022-06-08 01:59] yanliang567 commented on #16606
@rocke2020 thank you for updates. Milvus 2.1 will be available soon next week after a few issues fixed and verified.

[2022-06-08 02:04] longjiquan commented on #17397
/unassign @jaime0815
/assign

[2022-06-08 02:10] xiaofan-luan opened #17428 "[Enhancement]: Refine time to live mechanism"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

We support a config common.entityExpiration, the default value is -1, which means no auto expiration.

There are still a few things need to be done before put this feature into production:
1)  each collection/partition should has a config to config this collection
2)  the comp

[2022-06-08 02:14] xiaofan-luan commented on #17424
This is the old log and we removed it on 2.1~ so this won't an issue for now

[2022-06-08 02:15] yanliang567 commented on #17368
that's a good question.
@jingkl could you please take a look at this issue? I think we need some test and define the behavior here.
/assign @jingkl

/unassign @WangErXiao  @shanghaikid

[2022-06-08 02:16] xiaofan-luan commented on #17419
alter alias means change alias A from pointing collectionA to pointing collectionB, although the implementation is weak the semantic is clear

[2022-06-08 02:16] xiaofan-luan commented on #17417
related to #17412

[2022-06-08 02:23] xige-16 commented on #17356
The reason is that the growing segment inserts and searches at the same time

[2022-06-08 02:24] xige-16 commented on #17356
When searching, the insert count that has been inserted will be taken first, and then there will be new insert data, which will cause the insert count already obtained to become invalid.

[2022-06-08 02:34] StevenSama commented on #17378
It has nothing to do with the SDK, the result returned by using the SDK is also wrong
R{status=0, data=status {
}
results {
  num_queries: 1
  top_k: 10
  fields_data {
    type: Int64
    field_name: "id"
    scalars {
      long_data {
        data: 22087
        data: 167961
        data: 27381
        data: 384765
        data: 354327
        data: 349283
        data: 29769
        data: 3427

[2022-06-08 02:34] StevenSama commented on #17378
@yanliang567

[2022-06-08 02:38] congqixia commented on #17416
@letian-jiang looks like the waiting strategy cannot work for large data set.

[2022-06-08 02:39] congqixia commented on #17367
@zhuwenxing could you please verify after commit de8f2f76
/unassign @jiaoew1991
/assign @zhuwenxing

[2022-06-08 02:44] soothing-rain commented on #17425
@yongpengli-z Hey we only allow up to 32 pending files. This is expected.

[2022-06-08 02:49] StevenSama opened #17429 "[Bug]: Load the collection, the number of loaded entities is twice the total"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Load the collection, the number of loaded entities is twice the total

### Expected Behavior

the number of loaded entities is equal to the total

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-06-08 03:04] wangting0128 commented on #17375
argo task: benchmark-cluster-cron-1654635600

test yaml:
client-configmap:client-search-filter-sift50m-ivf-flat-2048,instanceId:5,server-configmap:server-single-16c64m

server:
[code]

client pod: benchmark-cluster-cron-1654635600-444891366

client log:
[code]

[2022-06-08 03:05] letian-jiang commented on #17416
/assign

[2022-06-08 03:09] xiaofan-luan commented on #17233
@wayblink pls help on check if #17386 help on this issue

[2022-06-08 03:20] yhmo commented on #17152
Fixed by #17384

[2022-06-08 03:26] zhuwenxing commented on #17367
in version `master-20220607-af108b5b`, it still failed.
failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/6267/pipeline

log: [artifacts-querynode-pod-kill-6267-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8858083/artifacts-querynode-pod-kill-6267-server-logs.1.tar.gz)

[code]

[2022-06-08 03:27] xiaofan-luan commented on #17356
Is there some easy fix on that?
We probably need to some ut to search/insert/delete growing segment concurrently

[2022-06-08 03:49] zhuwenxing commented on #17286
standalone deploy failed: http://10.100.32.144:8080/blue/organizations/jenkins/deploy_test/detail/deploy_test/758/pipeline/

log:
[artifacts-standalone-reinstall-758-logs.tar.gz](https://github.com/milvus-io/milvus/files/8858148/artifacts-standalone-reinstall-758-logs.tar.gz)

[2022-06-08 03:59] zhuwenxing commented on #17321
This issue happened again for both standalone and cluster

* standalone
    *  failed job: https://github.com/milvus-io/milvus/runs/6780408752?check_suite_focus=true
    * log: https://github.com/milvus-io/milvus/suites/6832210137/artifacts/263285529
* all standalone
    * failed job: https://github.com/milvus-io/milvus/runs/6780408604?check_suite_focus=true
    * log: https://github.com/milvus-io

[2022-06-08 04:00] zhuwenxing commented on #17321
@yah01
please help to take a look

[2022-06-08 04:05] yah01 commented on #16887
@ThreadDao
#17421 could reduce the memory usage while loading.
Saw the data you inserted should be about 488MiB (not 250 MiB), I'm not sure whether 2GiB is enough to load as not causing OOM

[2022-06-08 04:12] xiaofan-luan commented on #16047
trim seems to actually work on most cases, but compaction has to ensure segment number is in control on that case

[2022-06-08 04:13] xiaofan-luan commented on #17233
Hi @angelapytao do you still have datanode log for that environment, still need to ensure which is key reason why this keyvalue is too large

[2022-06-08 04:18] zhuwenxing opened #17431 "[Bug]: Deploy test all failed due to timeout of second test after reinstall or upgrade"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

all task timeout when running the second test after reinstall or upgrade.

After repeatedly outputting some logs, the proxy has no log output. Then stop the client program manually and you will get the error reported.
[code]

### Expected Behavior

all test cases pass

[2022-06-08 04:21] zhuwenxing commented on #17431
[code]
so it hangs at release?

[2022-06-08 04:43] zhuwenxing opened #17432 "[Bug]: Flush hangs after Milvus recovered from datanode pod kill chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

flush hangs when running `test_e2e.py` after Milvus recovered from datanode pod kill chaos

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

Github Action
failed job: https://github.com/milvus-io/milvus/runs/6780408

[2022-06-08 04:44] zhuwenxing commented on #17432
/assign @soothing-rain
please help to take a look

[2022-06-08 04:49] xiaofan-luan commented on #17431
Actually we have a few other issues here, such as:

[2022/06/08 03:42:30.025 +00:00] [DEBUG] [segment_loader.go:426] ["load field's index data done"] [segmentID=433759031909416961] [fieldID=102]
Assert "row_count_opt_.value() == row_count" at /go/src/github.com/milvus-io/milvus/internal/core/src/segcore/SegmentSealedImpl.h:126
 => load data has different row count from other columns
[2022/06/08 03

[2022-06-08 05:09] xiaofan-luan commented on #17431
2. current balance policy is based on getNodeInfo, which doesn't make sense.
3. If all querynode up/down, the current node group/balance seems to be not stable enough and lack of enough info

[2022-06-08 05:09] xiaofan-luan commented on #17431
@xige-16 @sunby @congqixia we will need to go through the balance policy some time this week

[2022-06-08 05:19] xiaofan-luan commented on #17431
@zhuwenxing pls keep the minio for the debugging of problem 1

[2022-06-08 05:41] xiaofan-luan commented on #17431
/assign @xige-16

[2022-06-08 05:43] xiaofan-luan commented on #17431
Another concern is
	err = loadBalanceTask.waitToFinish()
	if err != nil {
		log.Warn("loadBalanceRequest failed", zap.String("role", typeutil.QueryCoordRole), zap.Int64("msgID", req.Base.MsgID), zap.Error(err))
		status.ErrorCode = commonpb.ErrorCode_UnexpectedError
		status.Reason = err.Error()
		return status, nil
	}
will never exist under certain cases, because log shows:

[2022/06/08 03:43:08.

[2022-06-08 05:52] letian-jiang commented on #17289
This `fenced topic` issue is more likely to be an issue of pulsar, and should rarely occur unless producers and consumers are created and closed frequently in a short period of time. Possible workarounds could bring substantial complexities into the existing channel management logic of Milvus.

An FAQ  for this rare case will be added to the documentation. Users are suggested to restart the pulsar

[2022-06-08 05:54] xiaofan-luan commented on #17431
seems that the first balance  is not successful because of segment file is not good as expected

[2022-06-08 06:07] zhuwenxing commented on #17431
OK, I will set up a test and keeping env

[2022-06-08 06:12] yanliang567 commented on #17429
@StevenSama how do you know the number of loaded entities? Did you load the collection with memory replicas? Also could you please use this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

/assign @StevenSama
/unassign

[2022-06-08 06:13] jingkl opened #17434 "[Bug]: [benchmark][cluster]Milvus recall search report an error"StatusCode.DEADLINE_EXCEEDED, Deadline Exceeded""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo
benchmark-cron-1654617600
server-configmap
server-cluster-8c16m
client-configmap
client-acc-glove-ivf-flat

server：
[code]

client log：

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anythi

[2022-06-08 06:20] yanliang567 commented on #17426
@angelapytao thank you for the issue. But I don't understand the reproduce steps above, could you please specify more details about the step, and what error/msg did you see from the milvus?
Also could you please use this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

/assign @angelapytao
/unassign

[2022-06-08 06:20] jingkl commented on #17339
argo
benchmark-tag-no-clean-zqkkh
server-configmap
server-single-32c128m
client-configmap
client-random-locust-100m-ddl-r8-w2
master-20220602-48cf63a2
pymilvus==2.1.0.dev63

server:
[code]

<img width="1366" alt="截屏2022-06-08 14 15 44" src="https://user-images.githubusercontent.com/34296482/172545175-5dfb360c-326b-4183-8fd1-9e9ca80cffce.png">

[2022-06-08 06:30] XuanYang-cn commented on #17408
Same issue in http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/6274/pipeline

and http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/6271/pipeline/

[2022-06-08 06:33] XuanYang-cn commented on #17432
/assign

[2022-06-08 06:41] yanliang567 commented on #17378
@yhmo  could you please take a look here?
/assign @yhmo
/unassign @StevenSama

[2022-06-08 06:45] zhuwenxing opened #17435 "[Bug]: Flush hangs after Milvus recovered from minio pod kill chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

flush hangs when running `hello_milvus.py` after Milvus recovered from minio pod kill chaos

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: https://github.com/milvus-io/milvus/runs/6780409795?check_sui

[2022-06-08 06:48] yanliang567 commented on #17368
As we introduced the partition load-release limitation in 2.0, drop a partition in this case would be release the partition now. check the code here: https://github.com/milvus-io/milvus/blob/11fa3e24dd09cf4bc7cf3ad76be7df0bc8a3c3a1/internal/rootcoord/task.go#L684

[2022-06-08 06:49] jingkl opened #17436 "[Bug]:[benchmark][standalone] Milvus search rasie an error"message=proxy not healthy""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
benchmark-cron-1654617600-6
server-configmap
server-single-16c64m
client-configmap
client-search-sift50m-ivf-flat-2048

server:
[code]
client:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No resp

[2022-06-08 06:50] yanliang567 commented on #17435
Is this the same root cause as issue #17432 ?

/assign @XuanYang-cn
/unassign

[2022-06-08 06:51] yanliang567 commented on #17434
looks like a timeout issue, lets retry tonight.

[2022-06-08 06:58] zhuwenxing commented on #17286
cluster reinstall failed due to `CrashLoopBackOff` of  etcd

failed job: http://10.100.32.144:8080/blue/organizations/jenkins/deploy_test/detail/deploy_test/764/pipeline
log: [artifacts-cluster-reinstall-764-logs.tar.gz](https://github.com/milvus-io/milvus/files/8859124/artifacts-cluster-reinstall-764-logs.tar.gz)

[2022-06-08 07:13] Juntaran opened #17439 "[Bug]: collection has not been loaded to memory or load failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I insert 1200w 128 vector data, then load the collection

Go sdk Error: collection has not been loaded to memory or load failed

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

QueryCoord

[code]

QueryNode

[code]

### Any

[2022-06-08 07:14] sunby commented on #17375
The standalone use almost all cpu resources to search. I guess the keepalive failure is caused by the lack of resources.
![SdAZwZ8nNS](https://user-images.githubusercontent.com/9817127/172554868-71468137-7f0d-497b-99b2-b083cafd3929.png)

[2022-06-08 07:20] yanliang567 commented on #17439
@Juntaran thank you for the issue. This is a known issue to milvus 2.0.2, which was fixed in master. Please retry with latest master build or wait for Milvus 2.1(soon next week)

/assign @Juntaran
/unassign

[2022-06-08 07:20] yanliang567 commented on #17146
This is a known issue to milvus 2.0.2, which was fixed in master. Please retry with latest master build or wait for Milvus 2.1(soon next week)

[2022-06-08 07:21] yanliang567 commented on #16997
This is a known issue to milvus 2.0.2, which was fixed in master. Please retry with latest master build or wait for Milvus 2.1(soon next week)

[2022-06-08 07:23] XuanYang-cn commented on #15966
![image](https://user-images.githubusercontent.com/51370125/172556427-dc5a26ec-bbc9-4eab-96bb-e0ea3c8567f1.png)

Goroutines aren't guaranteed to be executed in order.

[2022-06-08 07:26] XuanYang-cn commented on #15966
The probability is low, as the results I'v tested today, none of six jobs reproduced, but I'm gonna make a pr to remove the `go` later.

[2022-06-08 07:35] Juntaran commented on #17439
Is this a bug? How to trigger and avoid it?

[2022-06-08 07:41] xiaofan-luan commented on #17408
@xiaocai2333 is working on this~

[2022-06-08 07:46] WangErXiao commented on #17368
So  will support release partition when drop partition  in 2.1 ?

[2022-06-08 08:47] xiaofan-luan commented on #17431
reproduced here http://10.100.32.144:8080/blue/organizations/jenkins/deploy_test/detail/deploy_test/765/pipeline/177

[2022-06-08 09:08] zhuwenxing opened #17443 "[Bug]: Load collection failed after Milvus standalone upgrading form v2.0.2 to master-20220608-6426e3d0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

load collection after upgrading
[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: http://10.100.32.144:8080/blue/organizations/jenkins/deploy_test/detail/deploy_test/768/pipeline

log: [artifacts-standalo

[2022-06-08 09:10] xige-16 commented on #17356
![Eb5LoVhOD1](https://user-images.githubusercontent.com/20124155/172578682-681f861e-5a36-47ad-b3f6-6b890575bf66.png)

[2022-06-08 09:11] xige-16 commented on #17356
In this case, after get active count, before mark with delete is completed, the growing segment happens to have new data inserted

[2022-06-08 09:11] xige-16 commented on #17356
In this case, after get active count, before mark with delete is completed, the growing segment happens to have new data inserted

[2022-06-08 09:12] xige-16 commented on #17356
It seems that ut is not easy to cover this case

[2022-06-08 09:15] XuanYang-cn commented on #17432
This Github action failing is the same as  https://github.com/milvus-io/milvus/issues/15966#issuecomment-1149557330
[code]

It happens more lately because #17293 makes the DELETE and PUT in order and unable to combine (for one DN, reassign the channel to the original nodes will raise the probability to trigger this bug)

I'll do 2 fixes:

- [ ] skip remove if the reassignment is assigned to the sa

[2022-06-08 09:18] yah01 commented on #17321
This is related to #17431, something wrong with the number of rows of segment

[2022-06-08 09:23] linxiaosi2022 opened #17445 "[Bug]: The first time the collection is loaded, the search is fine, then the collection is released, then the collection is loaded again, and the search doesn't find the data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The first time the collection is loaded, the search is fine, then the collection is released, then the collection is loaded again, and the search doesn't find the data.
Please see the log file.

### Expected Behavior

_No response_

### Steps To Reproduce

_No respons

[2022-06-08 09:47] yanliang567 commented on #17368
I'm afraid not. :(

[2022-06-08 10:24] #17424 closed

[2022-06-08 10:57] xiaofan-luan commented on #17321
@yah01 could this be related our latest load change? we might want to verify if data itself correct

[2022-06-08 10:59] xiaofan-luan commented on #17178
@longjiquan could be fixed by #17433, could you help on verify it?

[2022-06-08 11:05] longjiquan commented on #17178
OK, verified on my local pc. #17433 works.

[2022-06-08 11:06] yah01 commented on #17321
Recent changes to load:
- Load sealed segments concurrently: This may be related to this issue, it was merged on Jun 2, so I don't think it causes this.
- Avoid growing slices in InsertData: This only changes the cap of slice, not length.

[2022-06-08 11:06] longjiquan commented on #17178
/assign @binbinlv could you please help to check if this case can be reproduced in nightly regression?

[2022-06-08 11:06] Eric-yuye commented on #16205
build-cpp: pre-proc
	@echo "Building Milvus cpp library ..."
	@(env bash $(PWD)/scripts/core_build.sh -t ${mode} -f "$(CUSTOM_THIRDPARTY_PATH)")
	@(env bash $(PWD)/scripts/cwrapper_build.sh -t ${mode} -f "$(CUSTOM_THIRDPARTY_PATH)")
	@(env bash $(PWD)/scripts/cwrapper_rocksdb_build.sh -t ${mode} -f "$(CUSTOM_THIRDPARTY_PATH)")

build-cpp-embd: pre-proc
	@echo "Building **Embedded** Milvus cpp libr

[2022-06-08 11:09] zhuwenxing commented on #17431
![image](https://user-images.githubusercontent.com/12268675/172602064-1ade3a69-21c4-4dce-bc95-ce5158c8b7c7.png)

miss `delta_log` dir

[2022-06-08 11:11] OndrejIT commented on #16265
@yanliang567 Sorry i dropped this DB. I cant check.

[2022-06-08 11:15] Eric-yuye commented on #16205
我试过了，不是的，哈哈哈

[2022-06-08 11:21] xiaofan-luan commented on #16984
Shipped 17415, remaining question is:
1) do we support concurrent flush? under full rate ingestion situation, are we sure flush throughput is larger than insertion throughput to it could catch up? If not we may need to limit write throughput per topic level.
2) metrics should be prioritized, such as flush throughput, pending flushes....

[2022-06-08 12:14] qi49125 opened #17453 "[Bug]: querynode restart when search"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[2022/06/08 12:09:56.416 +00:00] [DEBUG] [query_collection.go:350] ["check if query timeout"] [collectionID=432520058327793665] [msgID=433764162499263364] [TimeoutTs=0] [curTime=433767106849275904] [timeoutTsPhysical=1970/01/01 00:00:00.000 +00:00] [curTimePhysical=20

[2022-06-08 12:16] longjiquan commented on #17453
/unassign @yanliang567
/assign

[2022-06-08 12:19] longjiquan commented on #17453
@qi49125 thx for the very detailed information. We'll fix this soon.

[2022-06-08 12:20] xiaofan-luan commented on #17453
@qi49125 thanks for the patience, we will work on this!

[2022-06-08 12:37] jingkl commented on #17339
[code]

first search 10
load time collection_m: 1.143
Searching ...
search time collection_m: 0.084
search time collection_m: 0.071
search time collection_m: 0.08
search time collection_m: 0.068
search time collection_m: 0.081
search time collection_m: 0.07
search time collection_m: 0.08
search time collection_m: 0.071
search time collection_m: 0.079
search time collection_m: 0.07

second search 3

[2022-06-08 12:48] xige-16 commented on #17431
The segmentID of the load is inconsistent with the indexpath

[2022-06-08 13:13] xige-16 commented on #17431
[code]

[2022-06-08 13:15] xige-16 commented on #17431
The segment 433762017034371073　has two buildIDs, and the index file path corresponding to the second buildID is inconsistent with the segmentID

[2022-06-08 13:16] xige-16 commented on #17431
It may be that indexcoord did not write the index file correctly

[2022-06-08 13:19] yongpengli-z commented on #17445
I can't repeat your bug.Follow your steps ,the second search is fine .You can see my steps in the attachment。If i miss some step，tell me，Thanks.
[Issue17445.java.zip](https://github.com/milvus-io/milvus/files/8861834/Issue17445.java.zip)

[2022-06-08 14:24] #17176 closed

[2022-06-08 14:45] alphinside commented on #17403
I've also found that after restarting docker compose, the alias appeared as collection themselves ( they appear when I try to list collection using `utility.list_collections`  ).

I also try dropping the collection which is linked to the alias ( without dropping the alias) and recreate the collection and reassign the alias, it gives me this error

[code]

full log in here
[milvus_2.log](https://gi

[2022-06-08 16:34] soothing-rain commented on #17411
Looking at QueryCoord log:
[code]

So QueryCoord thinks QueryNode ID=3 is still alive, but QueryNode ID=18 is the only living QueryNode.

@congqixia WDYT?

[2022-06-09 01:54] StevenSama commented on #17429
milvus_cli > connect -h 10.164.1.63
Connect Milvus successfully.
+-------+-------------+
| Host  | 10.164.1.63 |
| Port  |    19530    |
| Alias |   default   |
+-------+-------------+
milvus_cli > list collections
+----+-------------------+--------------------------+
|    | Collection Name   | Entities(Loaded/Total)   |
+====+===================+==========================+
|  0 | test_db

[2022-06-09 01:56] StevenSama commented on #17122
@yanliang567

[2022-06-09 02:08] zhuwenxing commented on #17366
failed job: https://github.com/milvus-io/milvus/runs/6800569627?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/6850926209/artifacts/264489120

log in proxy stopped at `CreateCollection enqueued`
[code]

[2022-06-09 02:10] XuanYang-cn commented on #17435
Yes the same as #17432

[2022-06-09 02:12] zhuwenxing commented on #17367
/assign @jiaoew1991
/assign @congqixia
This is still stable to reproduce

[2022-06-09 02:15] zhuwenxing commented on #17367
Milvus version `master-20220608-6d078ebe`

failed job: https://github.com/milvus-io/milvus/runs/6800569525?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/6850926209/artifacts/264489127

log
[code]

[2022-06-09 02:21] linxiaosi2022 commented on #17445
My steps are the same as yours. In the first few minutes after data insertion, no matter how many loading, searching and releasing times, there is no problem. But after about 10 minutes, it stops, and you can't find the data after loading. If you look at my log, can you see "filterReason=" empty search result\n"? This is the result of not finding the data.

[2022-06-09 02:23] wangting0128 commented on #17375
argo task: benchmark-tag-no-clean-t56ws

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-cluster-8c64m-kafka

server:
[code]

client pod: benchmark-tag-no-clean-t56ws-3554311954

client log file: locust_report_2022-06-08_560.log

client log:
[code]

[2022-06-09 02:24] zhuwenxing commented on #17367
/unassign

[2022-06-09 02:26] wangting0128 commented on #17375
argo task: benchmark-cluster-cron-1654722000

test yaml:
client-configmap:client-search-filter-sift50m-ivf-flat-2048,instanceId:5,server-configmap:server-single-16c64m

server:
[code]

client pod: benchmark-cluster-cron-1654722000-3832972245

client log:
[code]

[2022-06-09 02:29] zhuwenxing opened #17460 "[Bug]: Create index failed with error message `message=DescribeSegments failed: segment not found` after Milvus recovered from proxy pod kill chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

create index failed when running `verify_all_collections.py` after chaos
[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: https://github.com/milvus-io/milvus/runs/6799774364?check_suite_focus=true

log:

[2022-06-09 02:30] binbinlv commented on #17178
It has not been reproduced for several days, so fixed and close it.

[2022-06-09 02:30] #17178 closed

[2022-06-09 02:37] yanliang567 commented on #17122
@ThreadDao could you please retry on latest master?

/assign @ThreadDao
/unassign

[2022-06-09 02:42] WangErXiao commented on #17368
I found that the deleted partition data disappeared after a period time.  But the number of collection don't change. Is it related to compaction?

[2022-06-09 02:48] ThreadDao commented on #17329
Fixed `master-20220608-6d078ebe`

[2022-06-09 02:48] #17329 closed

[2022-06-09 03:16] binbinlv commented on #17405
Has not been reproduced, so close it first, and will reopen it if it occurs in the future.

[2022-06-09 03:16] #17405 closed

[2022-06-09 03:17] binbinlv commented on #17265
Has not been reproduced, so close it first, and will reopen it if it occurs in the future.

[2022-06-09 03:17] #17265 closed

[2022-06-09 03:17] binbinlv commented on #17272
Has not been reproduced, so close it first, and will reopen it if it occurs in the future.

[2022-06-09 03:17] #17272 closed

[2022-06-09 03:37] xiaofan-luan commented on #17368
/assign @congqixia could you please help on investigating it

[2022-06-09 03:38] xiaofan-luan commented on #17460
/assign @xiaocai2333

[2022-06-09 03:39] xiaofan-luan commented on #17443
xige-16 is working on it

[2022-06-09 03:41] xiaofan-luan commented on #17394
@yhmo any progress on it?

[2022-06-09 03:43] xiaofan-luan commented on #17354
@jingkl how can I get log of this case?

[2022-06-09 03:49] jingkl commented on #17354
client pod benchmark-backup-vjtr6-2731187475
sever pod benchmark-backup-vjtr6-2450303898
Using kibana, enter pod name to view the logs

[2022-06-09 03:49] ThreadDao commented on #17122
/assign @yanliang567
/unassign

[2022-06-09 03:52] zhuwenxing commented on #17367
It still failed after waiting for 120s after all pods were ready.
https://github.com/zhuwenxing/milvus/runs/6805488544?check_suite_focus=true

error message `message=fail to search on all shard leaders, err=err: failed to connect 10.244.0.20:21123`

[2022-06-09 04:17] yongpengli-z commented on #17445
1.Can you send me your java.class file incloud you steps
2.I need more detailed log about what you do in the 10 minutes interval，If you can try the bug again.

[2022-06-09 04:54] StevenSama commented on #17429
@yanliang567 Use this image to load must appear

[2022-06-09 05:12] yhmo commented on #17394
#17461 add `debug.FreeOSMemory()` during bulkload to fix this issue.
I use the 1GB numpy file to test, import the file by 5 times:
[code]

Before the code change, the peak memory consumption is 5.6GB, and after all the tasks finished, the memory consumption steadily reduce to 4GB in one minute.

After the code change, the   peak memory consumption is 2.8GB, and after all the tasks finished,  the m

[2022-06-09 06:03] zhuwenxing commented on #17366
failed job:  http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test-debug/detail/chaos-test-debug/41/pipeline/179/
log:  [artifacts-datanode-pod-kill-41-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8867326/artifacts-datanode-pod-kill-41-server-logs.tar.gz)

[2022-06-09 06:13] AI-Mart commented on #17370
Colleague restart the container and delete it. We can only wait for the next replication. First, we export the log and then analyze it

[2022-06-09 06:15] xige-16 commented on #17431
The reason is that metaTable.segID2IndexMeta is incorrectly restored after rootcoord is down, resulting in the indexInfo corresponding to segmentID containing the indexinfo of all segments of the collection

[2022-06-09 06:16] xige-16 commented on #17431
@jaime0815 is fixing it

[2022-06-09 06:16] SuoSiFire commented on #15038
Is there any progress on this issue? I found last night that the write node had a possibly similar problem. The write node only accepts write requests to write to the wal file, but the wal has not been consumed. There are also no exceptions in the log. Suspect the same problem? After I restart, the write node consumes the wal file normally.

[2022-06-09 06:19] SuoSiFire commented on #15038
@rky0930  Will the above changes solve the problem?

[2022-06-09 06:20] jingkl opened #17462 "[Bug]: [benchmark][cluster] 5 replicas and 10 clients will report an error"StatusCode.DEADLINE_EXCEEDED, Deadline Exceeded""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo
benchmark-tag-no-clean-9jqjt-1
server-configmap
server-cluster-8c64m-querynode5
client-configmap
client-random-locust-search-filter-100m-ddl-r8-w2-replica5-concurrent

server:

[code]

client error:

[code]

<img width="1366" alt="截屏2022-06-09 14 12 31" src="http

[2022-06-09 06:26] xige-16 commented on #16150
may relate with issue: #16943
/assign @bigsheeper
/assign @czs007

[2022-06-09 06:29] letian-jiang commented on #17416
As in #17456, `ShowCollections` API now returns both `inMemPercentages` and `queryServiceAvailable`
* `inMemPercentages = 100` means the collection is loaded before, but it does not guarantee query service is available. Therefore, the name is a little bit confusing.
* `queryServiceAvailable` means what its name suggests.

[2022-06-09 06:30] zhuwenxing opened #17464 "[Bug]: Load failed for some collections after Milvus recovered from rootcoord pod kill chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Load failed when running `hello_milvus.py` after rootcoord pod kill chaos

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: https://github.com/milvus-io/milvus/runs/6799774906?check_suite_focus=true
log:

[2022-06-09 06:33] zhuwenxing commented on #17464
for rootcoord pod kill chaos test, issue is https://github.com/milvus-io/milvus/issues/17408 in yesterday.
But today, the issue is this.

[2022-06-09 06:52] longjiquan commented on #17397
duplicated with #17453 , so close this.

[2022-06-09 06:52] #17397 closed

[2022-06-09 06:54] longjiquan commented on #17453
@qi49125 sorry, but maybe you can wait for the Milvus 2.1 release. We have fixed many search issues, some of them are related to what you described above.

[2022-06-09 06:56] xige-16 commented on #17321
in cluster log, segmentLoad info of segment 433750697270837249 has segment(433750697254322177)'s indexInfo, it is wrong

[code]

[2022-06-09 06:58] xige-16 commented on #17321
same reason with https://github.com/milvus-io/milvus/issues/17431#issuecomment-1150714797

[2022-06-09 07:01] soothing-rain commented on #17425
/unassign
/assign @yongpengli-z

[2022-06-09 07:03] xiaofan-luan commented on #17339
/assign @czs007

[2022-06-09 07:03] xiaofan-luan commented on #17339
/assign @xige-16

[2022-06-09 07:07] xiaofan-luan commented on #17366
@yhmo any progress on it, any help needed?

[2022-06-09 07:12] xiaofan-luan commented on #17453
/assign @qi49125

[2022-06-09 07:31] congqixia commented on #16873
This issue shall be open fro tracking

[2022-06-09 07:34] congqixia commented on #17368
OK, I shall check the current implementation when drop a partition which is loaded.

[2022-06-09 07:44] linxiaosi2022 commented on #17445
1.The code has been compressed into ZIP, please open it and have a look, if there is any defect or problem, contact me
2.The log file contains the steps I took to create the collection, partition, index, load, search, and release. The first few minutes were fine, but after about 10 minutes, I could not search for the data, and reported "filterReason=" empty search result\". There is no operation d

[2022-06-09 07:56] BUPTAnderson commented on #17297
changed the consistency level to eventually and timeout occurred again.
[code]

[2022-06-09 08:06] BUPTAnderson commented on #17297
I print querynode mem used info and segments info
[code]
node 37 mem usage: 95GB
but I find there are only 4 segments info in etcd:
[code]
and i print 4 segments info:
[code]

[2022-06-09 08:23] yhmo commented on #17366
@xiaofan-luan I am working on bulkload problems, no time to look at this one currently.

[2022-06-09 09:05] czs007 commented on #17286
I am working on this.

[2022-06-09 09:16] longjiquan commented on #17297
Is the sum of NumRows equal to the number you inserted? @BUPTAnderson

[2022-06-09 09:21] zhaocc1106 commented on #15038
The problem had been solved for our service with above solution.

[2022-06-09 09:21] zhaocc1106 commented on #15038
The problem had been solved for our service with above solution.

[2022-06-09 09:23] xige-16 commented on #17339
There is a lot of gorouting within an hour after querynode restarts
![LO9u36qRPV](https://user-images.githubusercontent.com/20124155/172813319-412968c2-0f05-424d-ae5f-5e666da3be6f.png)

[2022-06-09 10:00] yongpengli-z commented on #17425
I waited about 30 minutes ，but I could‘t bulk load any files，it always importRequest failed 。
I only restart my server，then bulk load success.

[2022-06-09 10:02] yanliang567 commented on #17122
@StevenSama looks  like a different issue as previous one. Could you please use this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

/assign @StevenSama

[2022-06-09 10:07] yanliang567 commented on #17429
@shanghaikid could you please help to check whether it is a cli issue?

/assign @shanghaikid
/unassign

[2022-06-09 10:08] yanliang567 commented on #17425
I doubt that there is something wrong in task queue cleanup. @soothing-rain

[2022-06-09 10:17] jiaoew1991 commented on #17367
from the querycoord's log, we can find it's caused by loadBalanceTask failed.
<img width="1329" alt="image" src="https://user-images.githubusercontent.com/2297455/172821386-301a283e-c0fb-4b65-a73f-3df4568f6199.png">

in loadBalanceTask.getReplica this error is sent to the upper layer, which will cause the task to be unable to be consumed and executed infinitely
Finally rebalance will never be trig

[2022-06-09 11:11] yanliang567 commented on #15849
keep it on tracking

[2022-06-09 12:12] xiaofan-luan commented on #17464
test-rootcoord-pod-kill-milvus-rootcoord-664754b6d5-ln9tv.log:[2022/06/08 17:52:08.194 +00:00] [WARN] [meta_table.go:882] ["due to index already exists, skip add index to metastore"] [collectionID=433772369966530561] [indexID=433772489118580738] [indexName=_default_idx]
test-rootcoord-pod-kill-milvus-rootcoord-664754b6d5-ln9tv.log:[2022/06/08 17:52:08.199 +00:00] [DEBUG] [task.go:1024] ["alter ind

[2022-06-09 12:13] xiaofan-luan commented on #17464
seems to be another meta table issue

/assign @jaime0815

[2022-06-09 13:02] xiaocai2333 commented on #17460
segment is compacted.

getIndexState logic:
1. get segment IDs
2. get buildID by segmentID

compaction happens between 1 and 2, so in step 2 rootcoord find segment not exist.

proxy log
[code]

datanode log
[code]

[2022-06-09 16:05] soothing-rain commented on #17425
Interesting. @yhmo can you follow up on this issue?

/unassign
/assign @yhmo

[2022-06-09 16:17] soothing-rain commented on #16984
@wayblink Can you create two new issues regarding these two questions and link them here?

@jingkl Can you help verify if the issue has been resolved?

[2022-06-09 21:58] houlang commented on #15711
我是蒋孝乐。已经收到您的来信，我会尽快回复。

[2022-06-10 01:35] yanliang567 commented on #17394
verified no crash any more on master-20220608-6d078ebe

[2022-06-10 01:35] #17394 closed

[2022-06-10 01:35] yanliang567 commented on #17152
verified fix on master-20220608-6d078ebe

[2022-06-10 01:35] #17152 closed

[2022-06-10 01:37] yanliang567 commented on #17462
@czs007 could you please take a look at this issue? it seems it returns timeout issue when searching concurrently.

[2022-06-10 02:07] xiaofan-luan commented on #17464
we decide to revert  #17475 and check in until 2.1 is released

[2022-06-10 02:24] xiaofan-luan commented on #17460
Any plan to fix it?

[2022-06-10 02:30] zhuwenxing commented on #17335
This happened again, but it is in the datanode pod kill case.

failed job: https://github.com/milvus-io/milvus/runs/6819568343?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/6868793941/artifacts/265638844

/assign @XuanYang-cn
Please help to take a look

[2022-06-10 02:30] zhuwenxing commented on #17335
/unassign

[2022-06-10 02:36] xiaocai2333 commented on #17460
@xiaofan-luan
I have a simple plan:
1. when the segment is referenced, lock the segment
2. The segment cannot be compacted while there is a lock on it.
3. In order to prevent too many components to  hold locks, a new interface `GetIndexState` is added for RootCoord, and RootCoord  gets the index state and hold locks. The proxy only needs to know if the result is a success or a failure.

[2022-06-10 02:38] binbinlv opened #17477 "[Bug]: [kafka] list collection failed for timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

list collection failed for timeout

[code]

### Expected Behavior

List collection successfully

### Steps To Reproduce

[code]

### Milvus Log

1. milvus log:

2. collection: collection_l2AYf0Ha

3. case failed timeline:
[2022-06-09T15:04:43.426Z] [gw5] [  5%] FAILED

[2022-06-10 02:39] zhuwenxing commented on #17464
In version `master-20220609-66f26943`
failed job: https://github.com/zhuwenxing/milvus/runs/6818922714?check_suite_focus=true

[2022-06-10 02:44] zhuwenxing commented on #17366
so for the datanode pod kill, there will be the problem of not being able to create a collection, there are two behaviors, one is the current issue, and the other is https://github.com/milvus-io/milvus/issues/17335

[2022-06-10 02:59] jaime0815 commented on #17431
the related pr #17475 will revert,  and check in master with this issue fix after release 2.1

[2022-06-10 02:59] yanliang567 commented on #17460
what about if rootcoord failed in this plan?

[2022-06-10 03:02] congqixia commented on #17368
Here are some behavior for drop partition when the collection is loaded:
- As @yanliang567 mentioned, the Partition is not automatically released if it's loaded
- The deleted partition data will be unable to search in a period of time since the proxy meta will be invalidated

The quick workaround is to release the collection load it again.
/assign @WangErXiao

[2022-06-10 03:04] xiaocai2333 commented on #17460
DataCoord will monitor whether RootCoord is offline. If it is offline, DataCoord will release the lock added by RootCoord.

[2022-06-10 03:04] wayblink opened #17478 "[Enhancement]: Enhance the metrics and tracing of segment flushing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Currently there is no enough metrics and tracing of segment operation like flush. It will take much time to analysis performance and debug like #16984. Enhance the metrics and tracing for better observability.

### Why is this needed?

_No response_

### Anything else?

_No re

[2022-06-10 03:08] wayblink opened #17479 "[Enhancement]: Flush throughput benchmark"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Do flush throughput benchmark. See: #16984

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-06-10 03:09] wayblink commented on #16984
Add two issues to follow, this issue will closed after QA verification.

[2022-06-10 03:18] wayblink commented on #17479
/assign

[2022-06-10 03:19] wayblink commented on #17478
/assign

[2022-06-10 03:43] longjiquan commented on #17346
fixed by #17468

[2022-06-10 03:43] #17346 closed

[2022-06-10 03:43] longjiquan commented on #17297
@BUPTAnderson sorry, but these information is not enough to locate the problem. Can you provide the detailed log for us?

[2022-06-10 03:47] BUPTAnderson commented on #17297
@longjiquan log files are very large, I have send log files to @JackLCL and @yanliang567 , you can get from them.

[2022-06-10 04:00] xiaofan-luan commented on #17289
We shouldn't increase the dmlChannel number to very large because topic/partition is a limited resources to Kafka/Pulsar.
Usually the topic upperbound of a kafka cluster is 3000, so 256 sounds like a reasonable value.

Currently, we don't create any physical channel once the cluster is up.
The key problem is where failure recovery happened,  we first try to unregister one consumer and register at

[2022-06-10 04:02] jaime0815 opened #17481 "[Enhancement]: Support configurable limitations for RPC request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

It may cause some potential problems for Milvus stability if RPC requests are too big or too frequent， so we need to add some configurable limitations for RPC:

- [ ] 1.  Request size checks for all milvus services
- [ ] 2. Request frequent checks for all milvus services
- [ ]

[2022-06-10 04:04] jaime0815 opened #17482 "Add configurable limitation for number of collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

A milvus cluster should support limited number of collections

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-06-10 05:06] soothing-rain commented on #17366
@zhuwenxing Looking at the log it seems DataNode kept restarting during the test? Can you find out why DataNode kept crashing (or getting killed)? From the logs it was quite chaotic :d

For example I saw `["received datanode register"]` 13 times on DatNodeID=7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,

These logs look like:
[code]

However I only saw `["received datanode unregister"]` 10 tim

[2022-06-10 05:19] jaime0815 opened #17483 "Support a back-pressure mechanism for datanode and querynode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

the back pressure will trigger if RPC throughput reaches throttling on the server side

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-06-10 06:39] EricStarer commented on #17403
I found that you can solve this problem by reinitialize a `Collection` object and do not need to down&&up milvus.

[2022-06-10 06:41] EricStarer commented on #17403
I found that you can refresh the alias state by reinitialize a `Collection` object using the alias. @alphinside

[2022-06-10 06:52] jiaoew1991 commented on #17367
https://github.com/milvus-io/milvus/pull/17484 fix the error handling, related to this issue too

[2022-06-10 06:52] congqixia commented on #12164
I don't think this feature is implemented, reopening it.

[2022-06-10 06:53] congqixia commented on #6496
After new API added in 2.1, this feature is required to get SDK work as expected.

[2022-06-10 06:59] xiaofan-luan opened #17485 "[Feature]: Refine the compaction trigger policy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Current compaction trigger policy has some issues:

1) Didn't consider binlog numbers in a segment
2) Didn't consider expired data in a segment
3) Didn't has a limit of segment merge numbers(May cause etcd kv large issue)
4) based on rownum but no

[2022-06-10 07:20] yah01 commented on #17321
@zhuwenxing
Could u verify this, as #17042 has been reverted?

[2022-06-10 07:23] zhuwenxing commented on #17431
It works well with version `master-20220610-b64a4673`

see https://github.com/zhuwenxing/milvus/actions/runs/2473233541/attempts/1

[2022-06-10 07:39] zhuwenxing commented on #17321
verified and passed in version ` master-20220610-a5b008ac`
![image](https://user-images.githubusercontent.com/12268675/173015411-c97ae551-c964-4c66-b3eb-114ad078bf86.png)

[2022-06-10 07:50] zhuwenxing commented on #17431
/unassign @jaime0815
/assign

keep watching for several days

[2022-06-10 08:03] EricStarer commented on #17403
Actually, the bug is because the `collection schema` is not updated when alias is altered or droped. So we need to reinitialize a `Collection` object to update the schema from the milvus. @alphinside

[2022-06-10 08:07] zhuwenxing commented on #17335
failed job: https://github.com/zhuwenxing/milvus/runs/6825787847?check_suite_focus=true
log: [logs-datanode](https://github.com/zhuwenxing/milvus/suites/6874649451/artifacts/266032730)

failed job: https://github.com/zhuwenxing/milvus/runs/6826393190?check_suite_focus=true
log: https://github.com/zhuwenxing/milvus/suites/6875236746/artifacts/266069323

This issue now seems to be steadily reproduce

[2022-06-10 08:10] czs007 commented on #15522
refer to  #17470

[2022-06-10 08:32] xige-16 commented on #17445
create collection-> create partition-> create index-> insert data (num rows = 10)  -> load collection -> search -> release collection -> load collection...

There is no problem in the first 10 minutes, but datacoord will force the segment to generate a checkpoint every 10 minutes and record the latest dmchannel position, so the problem occurs after the checkpoint is generated

[2022-06-10 09:20] xige-16 commented on #17445
When watchDmchanel, if getQueryCollection fails（https://github.com/milvus-io/milvus/blob/9c463750330801057cc515a4b129eb6f40e9a1c9/internal/querynode/task.go#L450）, err is returned. Although this issue does not affect the correct execution of watchDmChannel task, it will cause the loaded growing semgnet to be cleaned up (https://github.com/milvus-io/milvus/blob/ 9c463750330801057cc515a4b129eb6f40e9

[2022-06-10 09:23] xige-16 commented on #17445
And the querynode thinks that the watchDmchannel task is successfully executed, but the data is actually lost, and the result of the subsequent search is  inaccurate

[2022-06-10 09:25] xige-16 commented on #17445
This problem no longer exists on the master branch

[2022-06-10 09:42] xige-16 commented on #17445
In addition to the above bugs, I found that there is another mechanism problem. There are two partitions under the colleciotn, the default partition and the manually created partition. No data has been inserted under the default partition. Before and after the checkpoint is generated,　the seek position of the default partition's recovery dmchannel info has not changed, which will cause the queryno

[2022-06-10 09:43] xige-16 commented on #17445
There is no such problem on the master branch

[2022-06-10 09:43] xige-16 commented on #17445
The issue still exists on the master branch

[2022-06-10 09:45] yanliang567 commented on #17445
upgrade priority to urgent

[2022-06-10 10:11] EricStarer opened #17491 "[Feature]: add listalias api"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

When add too many alias, it's difficult to manage these alias.

### Describe the solution you'd like.

We want a `LIstAlias` api to retrieve the alias that a collection has.

### Describe an alternate solution.

_No response_

### Anything else? (

[2022-06-10 10:11] EricStarer commented on #17491
/assign

[2022-06-10 10:32] xige-16 commented on #17445
/assign @sunby

[2022-06-10 10:33] xuysh2022 opened #17493 "[Bug]: A log error is reported during query"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

2022-06-10 17:48:59 io.milvus.client.AbstractMilvusGrpcClient logError
ERROR: SearchRequest failed:
QueryNode search fail, reason [UnexpectedError] Assert "(field_meta.get_sizeof() == element.line_sizeof_)" at /root/rpm-build/milvus-202-build/milvus/internal/core/src/

[2022-06-10 10:40] xuysh2022 commented on #17493
[vec.txt](https://github.com/milvus-io/milvus/files/8878145/vec.txt)
[vecquery.txt](https://github.com/milvus-io/milvus/files/8878147/vecquery.txt)

[2022-06-10 11:11] #17146 closed

[2022-06-10 11:14] xiaofan-luan commented on #17416
@congqixia how is the progress?

[2022-06-10 11:14] jiaoew1991 opened #17495 "[Enhancement]: refine cgo related compilation configuration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

We need a more elegant way to configure compilation parameters.

Referring to the usage of arrow and kafka go, use pkg-config instead of the library path when specifying the compilation parameters of CXXFLAGS

https://github.com/confluentinc/confluent-kafka-go/blob/80c58f81b6c

[2022-06-10 11:15] jiaoew1991 commented on #17495
/assign

[2022-06-10 11:24] xige-16 commented on #16150
/unassign @bigsheeper
/unssign @czs007

[2022-06-10 11:25] xige-16 commented on #16150
/unassign @czs007

[2022-06-10 11:27] xiaofan-luan commented on #17335
/assign @xiaofan-luan

[2022-06-10 11:31] xiaofan-luan commented on #17048
/assign @jingkl
could you help on verifying it

[2022-06-10 11:38] xiaofan-luan commented on #16288
/assign @zhuwenxing

[2022-06-10 11:52] xiaofan-luan commented on #17411
/assign @xige-16

[2022-06-10 12:01] XuanYang-cn commented on #15966
/unassign
/assign @zhuwenxing

Please help verify

[2022-06-10 12:01] XuanYang-cn commented on #17432
/unassign
/assign @zhuwenxing

Please help verify

[2022-06-10 12:02] xige-16 commented on #17356
should has been fixed
/unassign @xige-16
/assign @jingkl

[2022-06-10 12:02] xige-16 commented on #17356
/unassign @jingkl
/assign @wangting0128

[2022-06-10 12:04] xige-16 commented on #16150
please verify it @jingkl

/unassign @xige-16

[2022-06-10 12:07] xiaofan-luan commented on #17354
/assign @congqixia

[2022-06-10 12:16] xiaofan-luan commented on #17416
relate to meta store pr, reverted.
So it should work for now

[2022-06-10 12:16] xiaofan-luan commented on #17416
/assign @jingkl

[2022-06-10 12:28] xiaofan-luan commented on #16943
memory issue

[2022-06-10 12:29] xiaofan-luan commented on #15282
Seems to be an easy reproducible issue, we will try to increase grpc keep alive time see if it could help

[2022-06-10 13:06] adeagle opened #17498 "[Bug]: panic: runtime error: invalid memory address or nil pointer dereference"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

docker-compose up -d

PS D:\Milvus> docker-compose ps
      Name                     Command                  State             Ports
--------------------------------------------------------------------------------------
milvus-etcd         etcd -advertise-client-url

[2022-06-10 13:15] #17498 closed

[2022-06-10 13:19] zhuwenxing commented on #15966
https://github.com/zhuwenxing/milvus/runs/6829018294?check_suite_focus=true
passed in `master-20220610-70324f93`

but need more tests to verify

[2022-06-10 14:08] #16281 closed

[2022-06-11 01:34] OrjwanZaafarani commented on #4989
is it supported now?

[2022-06-11 09:16] #15642 closed

[2022-06-11 09:16] #16275 closed

[2022-06-11 09:17] #16779 closed

[2022-06-11 09:56] yanliang567 commented on #16922
@longjiquan was this fixed?

[2022-06-11 10:53] czs007 commented on #17286
For this case, suspicious logs:
etcd-pod-0 output :
{"level":"info","ts":1653936018.678216,"caller":"flags/flag.go:113","msg":"recognized and used environment variable","variable-name":"ETCD_INITIAL_CLUSTER","variable-value":"test-etcd-pod-kill-0=http://test-etcd-pod-kill-0.test-etcd-pod-kill-headless.chaos-testing.svc.cluster.local:2380/"}

etcd-pod-1 and etcd-pod-2 output ：
{"level":"info","ts":

[2022-06-11 10:54] czs007 commented on #17286
For this case, suspicious logs:
etcd-pod-0 output :
{"level":"info","ts":1653936018.678216,"caller":"flags/flag.go:113","msg":"recognized and used environment variable","variable-name":"ETCD_INITIAL_CLUSTER","variable-value":"test-etcd-pod-kill-0=http://test-etcd-pod-kill-0.test-etcd-pod-kill-headless.chaos-testing.svc.cluster.local:2380/"}

etcd-pod-1 and etcd-pod-2 output ：
{"level":"info","ts":

[2022-06-11 11:54] W2Q3Q1 opened #17504 "[Bug]: The documentation of Hit"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

None

### Expected Behavior

None

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-06-11 11:54] #17504 closed

[2022-06-11 15:13] #16437 closed

[2022-06-11 16:18] jaime0815 commented on #17453
the related implementation has been reconstructed within 2.1 version,   and it works with 2.1  after verify

[2022-06-11 16:18] #17453 closed

[2022-06-11 18:05] wj-0116 commented on #12132
遇到一样的问题，同问

[2022-06-11 18:07] wj-0116 commented on #12132
遇到同样的问题。

[2022-06-12 03:19] wj-0116 opened #17505 "[Bug]: milvus 2.0.2 the relation between pk and vector is not consistent after excute cmd list_collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

at the beginning, insert（pk、vector），the result is：
![image](https://user-images.githubusercontent.com/107320535/173212766-0a56707a-ce0f-4d87-9833-0f8e47537406.png)
after execute list_collection，the result changed：
![image](https://user-images.githubusercontent.com/107

[2022-06-12 03:25] xiaofan-luan commented on #17505
@wj-0116 Thanks for your issue, please change to english for the convenience of non-chinese speakers, thanks !

[2022-06-12 03:26] xiaofan-luan commented on #16960
keep it open

[2022-06-12 03:26] xiaofan-luan commented on #16905
keep it open util the iterator in

[2022-06-12 03:27] xiaofan-luan commented on #12132
please wait for milvus 2.1 and retry

[2022-06-12 03:27] xiaofan-luan commented on #16957
keep it open

[2022-06-12 03:28] xiaofan-luan commented on #16951
known issue, but currently we don't have a solution on that

[2022-06-12 03:28] xiaofan-luan commented on #16951
keep it open

[2022-06-12 03:30] xiaofan-luan commented on #4989
Hi @OrjwanZaafarani , what infomation of cluster are u looking for? We support prometheus for monitoring the cluster, and attu shows the cluster topology

[2022-06-12 03:33] wj-0116 commented on #17505
have changed to english

[2022-06-12 03:34] xiaofan-luan commented on #17505
Thanks, we will investigate on it.

[2022-06-12 03:34] xiaofan-luan commented on #17505
/assign @congqixia

[2022-06-12 07:23] xiaofan-luan opened #17506 "[Enhancement]: Upgrade dependencies"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Once we release milvus 2.1 , we should think of upgrading dependencies such as:
Etcd/pulsar/kafka
client/cluster
RocksDB
Minio
Arrow
and more...

### Why is this needed?

Newer minor releases usually contains some important bug fixes and performance improvements, but we might

[2022-06-12 14:22] xiaofan-luan commented on #17460
I'm not sure adding lock for getIndexState is a good plan because no one ganruatee this lock will be released

[2022-06-12 14:22] xiaofan-luan commented on #17460
Why this lock is not  holded by indexcoord? When index build done the lock is released

[2022-06-13 00:48] yanliang567 commented on #16297
@XuanYang-cn is this still an issue>?

[2022-06-13 01:41] xiaocai2333 commented on #17460
If the lock is held by IndexCoord, the atomicity of getIndexState on the Proxy node cannot be guaranteed. This problem still occurs.

[2022-06-13 01:46] longjiquan commented on #17297
@BUPTAnderson thx. I'll contact @JackLCL .

[2022-06-13 01:48] xuysh2022 commented on #17493
submit milvus logs
[milvus-all-log.log](https://github.com/milvus-io/milvus/files/8887306/milvus-all-log.log)

[2022-06-13 02:00] yanliang567 commented on #17493
@longjiquan sounds like a cgo assert error, could you please help to take a look?

/assign @longjiquan
/unassign @xuysh2022

[2022-06-13 02:02] xiaocai2333 commented on #17369
same reason as #17408

[2022-06-13 02:34] zhuwenxing opened #17508 "[Bug]: Flush hangs when running hello_milvus.py after pulsar recovered from pod kill chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The action has timed out when running `hello_milvus.py`
Outputting duplicate logs in proxy pod
[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: https://github.com/milvus-io/milvus/runs/6851761481?check_s

[2022-06-13 02:54] zhuwenxing commented on #17431
deploy tests have all passed for the past three days so that this issue can be closed.

[2022-06-13 02:54] #17431 closed

[2022-06-13 02:55] zhuwenxing commented on #17321
Not reproduced yet,so close it

[2022-06-13 02:55] #17321 closed

[2022-06-13 02:57] zhuwenxing commented on #17016
not reproduced yet, close it.

[2022-06-13 02:57] #17016 closed

[2022-06-13 02:58] zhuwenxing commented on #16450
not reproduced yet, close it.

[2022-06-13 02:58] #16450 closed

[2022-06-13 03:01] zhuwenxing commented on #15966
Not reproduced yet, remove the critical label first.

[2022-06-13 03:33] yuliu-eric opened #17512 "[Bug]: CPU usage & Search latency too high after Milvus 1.1.0 pod restart"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

We have a few milvus use cases running on different hosts. CPU usage (before: <20%, after: >80%) and Search latency (before: <30ms, after: > 200ms to a few seconds) become too high after the pod restart, and it takes at least several hours to recover.

Access pattern:

[2022-06-13 03:38] deshetti commented on #8683
Hi, I agree with @gedw99 that NATS is a really good option to support in addition to Pulsar & Kafka. It is pretty lightweight and performant compared to Kafka & Pulsar. As @gedw99 mentioned it also fits in pretty well that it is built in Golang, has good support for K8s & is [CNCF incubating](https://www.cncf.io/projects/nats/) project.

Milvus + MinIO + etcd + NATS IMO would be a pretty good/forw

[2022-06-13 03:39] longjiquan commented on #17339
Trying to reproduce this issue on my local pc.

[2022-06-13 03:43] congqixia commented on #17505
Hi @wj-0116 Thanks for the issue! Could you please provide the source code to reproduce this problem(with data omit if sensitive)?

[2022-06-13 03:54] yanliang567 commented on #17512
/assign @yhmo
please take a look at this 1.x issue.

/assign

[2022-06-13 03:59] wangting0128 commented on #16984
verify：master-20220610-36ad9895

[2022-06-13 03:59] #16984 closed

[2022-06-13 03:59] wangting0128 commented on #17356
verify：master-20220610-36ad9895

[2022-06-13 03:59] #17356 closed

[2022-06-13 04:04] wangting0128 opened #17513 "[Bug]: [benchmark][standalone] search、query、load raise error: _MultiThreadedRendezvous: StatusCode.DEADLINE_EXCEEDED, Deadline Exceeded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task: benchmark-backup-q258f

test yaml:
client-configmap:client-random-locust-insert-delete
server-configmap:server-single-32c128m-compaction

server:
[code]

client pod: benchmark-backup-q258f-341429661

client log:
[code]

### Expected Behavior

_No response_

[2022-06-13 05:13] xiaofan-luan commented on #8683
Great! we just need one volunteer  to implement NATS stream storage

[2022-06-13 05:23] zhuwenxing opened #17515 "[Bug]: Standalone CrashLoopBackOff after standalone pod kill chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

[code]

### Expected Behavior

Milvus recovery and all test cases pass

### Steps To Reproduce

[code]

### Milvus Log

failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/6433/pipeline
log:[artifacts-standalone-pod-ki

[2022-06-13 06:03] zhuwenxing commented on #17515
failed job：https://github.com/zhuwenxing/milvus/runs/6855611554?check_suite_focus=true

[2022-06-13 06:07] wangting0128 commented on #17434
argo task: benchmark-cron-dwjf2-5

test yaml:
client-configmap:client-acc-glove-ivf-flat,instanceId:5,server-configmap:server-cluster-8c16m

server:
[code]

client pod: benchmark-cron-dwjf2-3027614866

client log:
[code]

[2022-06-13 06:08] bigsheeper commented on #17515
/assign

[2022-06-13 06:09] wangting0128 commented on #17288
argo task: benchmark-backup-q8xvl

test yaml:
client-configmap:client-search-sift50m-ivf-flat-2048
server-configmap:server-single-16c64m

server:
[code]

client pod: benchmark-backup-q8xvl-1519550895

client log:
[code]

[2022-06-13 06:10] wangting0128 commented on #16941
verify: master-20220610-36ad9895
new issue:
https://github.com/milvus-io/milvus/issues/17288#issuecomment-1153510370

[2022-06-13 06:10] #16941 closed

[2022-06-13 06:21] Modilay opened #17517 "[Bug]: Milvus crashed after deleting data and querying"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After deleting the data, query is used, and then an exception occurs, causing the docker to be closed. Then the collection cannot be used normally after restart. Both query and select will cause errors

### Expected Behavior

_No response_

### Steps To Reproduce

_No

[2022-06-13 06:33] congqixia opened #17518 "[Bug]: master branch unit test fails in paramtable package"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Unit test fails

### Expected Behavior

Unit test passes without error

### Steps To Reproduce

[code]

### Milvus Log

[code]

### Anything else?

_No response_

[2022-06-13 06:39] binbinlv opened #17520 "[Bug]: [nightly] Panic occurs reporting "segmentation violation" during nightly tests"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Panic occurs

[code]

### Expected Behavior

No panic

### Steps To Reproduce

[code]

### Milvus Log

1. milvus log:
[artifacts-milvus-standalone-master-584-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/584/artifact/art

[2022-06-13 06:57] XuanYang-cn commented on #17335
I've tested with my PR commit and it worked pretty well

http://10.100.32.144:8080/blue/organizations/jenkins/chaos_test_repeat/detail/chaos_test_repeat/30/pipeline/

/assign @zhuwenxing
/unassign

Please help to verify

[2022-06-13 07:02] xiaocai2333 opened #17521 "[Bug]: Remove index when segment is compacted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

From the current code, when the segment is compacted, the indexes on the old segments are not deleted,  only build the index on the new segment.

### Expected Behavior

Remove the index when the segment is compacted.

### Steps To Reproduce

_No response_

### Milvus

[2022-06-13 07:02] xiaocai2333 commented on #17521
/unassign @yanliang567
/assign

[2022-06-13 07:23] yanliang567 commented on #17517
@Modilay  thank you for the issue. Could you please share the milvus version you are running? If possible, please help to reproduce it with latest master build and use this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

/assign @Modilay
/unassign

[2022-06-13 07:24] yanliang567 commented on #17520
/unassign

[2022-06-13 07:25] taohongxiu commented on #16844
Me too, does 2.0.3 will support kafka? And when will 2.0.3 release?

[2022-06-13 07:26] yanliang567 commented on #16844
Milvus 2.1 supports kafka, and it will be available soon

[2022-06-13 07:27] yanliang567 commented on #17515
/unassign

[2022-06-13 07:47] ThreadDao opened #17523 "[Bug]: The queryCoord `panic: All attempts results` when loading two replicas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Deploy cluster with 2 querynodes, and limit their memory 2Gi
2. Insert entities: `dim=512, nb=500000, ni=25000 （num of insert each time)`
3. Load collection with `replica_number=2`
queryCoord crash and panic
[code]
Client exception:
[code]

Server logs:
[mic_logs.t

[2022-06-13 07:52] yanliang567 commented on #17513
/assign @xiaofan-luan
/unassign

[2022-06-13 08:00] jingkl opened #17524 "[Bug]: [benchmark][standalone]Milvus inserts hang and reports an error"_MultiThreadedRendezvous: StatusCode.UNAVAILABLE, Socket closed""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo
benchmark-backup-5xn4h-1
server-configmap
server-single-32c128m
client-configmap
client-get-local50m-512

client error:
[code]

server:

[code]

<img width="1377" alt="截屏2022-06-13 15 58 21" src="https://user-images.githubusercontent.com/34296482/173307111-f54c94

[2022-06-13 08:03] XuanYang-cn commented on #17508
may related to #17335, working on it

[2022-06-13 08:06] XuanYang-cn commented on #17508
/assign @zhuwenxing
Could you please have another try with the latest master commit?

[2022-06-13 08:08] #10079 closed

[2022-06-13 08:08] #16660 closed

[2022-06-13 08:08] #16683 closed

[2022-06-13 08:15] zhuwenxing commented on #17432
Not reproduced yet, so remove the critical label.

[2022-06-13 08:16] yanliang567 commented on #17434
/assign @xige-16
@xige-16 could you please take a look at this ?

/unassign

[2022-06-13 08:18] #17518 closed

[2022-06-13 08:20] yanliang567 commented on #17524
/assign @bigsheeper
/unassign

[2022-06-13 08:24] yanliang567 commented on #17523
/assign @congqixia
@congqixia sounds like a issue with mulit memory replicas

/unassign

[2022-06-13 08:33] yanliang567 commented on #17344
@lilida so could you please share how you configure Milvus with S3?

[2022-06-13 08:34] yanliang567 commented on #17124
please use this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation

[2022-06-13 08:34] binbinlv opened #17526 "[Bug]: [Nightly] Panic occurs after "release collection from query nodes failed""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Panic occurs:

mdp-585-n-milvus-querycoord-678866dc6c-gsfxm_milvus-ci_querycoord-ab293c0a189dd89b20c4b3ee53465ba5d852f1e11068286c22743f3fec01ac9f.log:panic: All attempts results:

[code]

### Expected Behavior

No panic, and tests run successfully

### Steps To Reprod

[2022-06-13 08:40] yanliang567 commented on #17369
@xiaocai2333 please assign back to @zhuwenxing when fix pr merged.

/assign @xiaocai2333
/unassign

[2022-06-13 08:40] binbinlv commented on #17520
Similar panic in the following nightly:

[artifacts-milvus-standalone-master-586-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/586/artifact/artifacts-milvus-standalone-master-586-pymilvus-e2e-logs.tar.gz)

[code]

[2022-06-13 08:41] yanliang567 commented on #17443
@zhuwenxing please help to verify for https://github.com/milvus-io/milvus/issues/17431 fixed

/assign @zhuwenxing
/unassign

[2022-06-13 08:45] binbinlv opened #17528 "[Bug]: [kafka] Rpc timeout when listing collections during nightly tests"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Rpc timeout when listing collections during nightly tests

[code]

### Expected Behavior

No timeout

### Steps To Reproduce

[code]

### Milvus Log

[artifacts-milvus-distributed-kafka-master-586-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus

[2022-06-13 08:45] zhuwenxing commented on #17515
This also happened when Milvus  standalone  upgrading to the `master-20220613-e6225d92`

failed job: http://10.100.32.144:8080/blue/organizations/jenkins/deploy_test/detail/deploy_test/793/pipeline
log: [artifacts-standalone-upgrade-793-logs (1).tar.gz](https://github.com/milvus-io/milvus/files/8889494/artifacts-standalone-upgrade-793-logs.1.tar.gz)

[2022-06-13 08:48] binbinlv commented on #17528
Same error during the following nightly:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/587/pipeline

1. milvus log:
[artifacts-milvus-distributed-kafka-master-587-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/587/artifact/artifacts-milvus-distributed-kafka-master-587-pymilvus-e2e-logs.tar.gz)

2. Failed

[2022-06-13 08:55] binbinlv opened #17530 "[Bug]: [nightly] Panic occurs reporting "Failed to create consumer by-dev-rootcoord-dml_48" during flush"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Panic occurs reporting "Failed to create consumer by-dev-rootcoord-dml_48" during flush:
[code]

### Expected Behavior

No panic

### Steps To Reproduce

[code]

### Milvus Log

[artifacts-milvus-distributed-pulsar-master-587-pymilvus-e2e-logs.tar.gz](https://ci.milvu

[2022-06-13 08:58] binbinlv commented on #17520
Similar panic in the following nightly: [standalone]
[artifacts-milvus-standalone-master-589-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/589/artifact/artifacts-milvus-standalone-master-589-pymilvus-e2e-logs.tar.gz)

[code]

[2022-06-13 08:59] binbinlv commented on #17520
It has been reproduced for several nightly runnings, so set it as urgent.

[2022-06-13 09:06] zhuwenxing commented on #17335
It reproduced for rootcoord pod kill with the same behavior in version `master-20220613-e6225d92`

Your PR is merged in the version
![image](https://user-images.githubusercontent.com/12268675/173318575-50fb96f8-f70f-47d7-96ae-91dbf83cc322.png)

failed job: https://github.com/zhuwenxing/milvus/runs/6857375654?check_suite_focus=true
log: https://github.com/zhuwenxing/milvus/suites/6904244281/artifac

[2022-06-13 09:12] jiaoew1991 commented on #17367
/unassign
/assign @zhuwenxing

[2022-06-13 09:16] yovelcohen opened #17532 "[Enhancement]: Update Milvus Roadmap"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

the roadmap described at:
[Milvus Roadmap](https://milvus.io/docs/roadmap.md )
is not updated at all.

### Why is this needed?

since 2.1 is a very waited version, an updated roadmap with realistic time assessments would be great.

### Anything else?

_No response_

[2022-06-13 09:33] #17210 closed

[2022-06-13 09:47] StevenSama commented on #17122
It can be reproduced with the previous script and data, and it will be more troublesome to export the log due to my reasons.

[2022-06-13 09:50] zhuwenxing commented on #17443
not reproduced yet with master-latest

[2022-06-13 10:03] jingkl commented on #17375
argo
benchmark-cron-1655049600-7
server-configmap
server-cluster-16c64m
client-configmap
client-search-sift50m-ivf-flat-2048

server：
master-20220613-d1de8cab

NAME                                                             READY   STATUS             RESTARTS   AGE     IP             NODE                      ```
NOMINATED NODE   READINESS GATES
benchmark-cron-1655049600-7-etcd-0

[2022-06-13 10:05] zhuwenxing commented on #16288
I would like to change the title to the specific pod `datacoord`.
And this issue will be used to trace the issue of flush hangs by datacoord pod kill chaos

[2022-06-13 10:07] zhuwenxing commented on #16288
Not reproduced after datacoord pod kill chaos test.
remove critical label

[2022-06-13 10:15] zhuwenxing commented on #17508
failed job: https://github.com/zhuwenxing/milvus/runs/6858068872?check_suite_focus=true
log: https://github.com/zhuwenxing/milvus/suites/6904892315/artifacts/268116140

In GitHub action, this issue seems stable reproduced

[2022-06-13 10:30] zhuwenxing opened #17534 "[Bug]: Load timeout after Milvus recovered from querynode pod kill chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

load timeout when running `test_e2e.py` after querynode pod kill chaos
[code]

log in proxy pod
[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: https://github.com/zhuwenxing/milvus/runs/6858069041?check

[2022-06-13 10:42] zhuwenxing commented on #17508
It also failed in Jenkins pipeline。
failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/6447/pipeline
log: [artifacts-pulsar-pod-kill-6447-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8890327/artifacts-pulsar-pod-kill-6447-server-logs.tar.gz)

[2022-06-13 10:49] LoveEachDay commented on #17286
@zhuwenxing Try to test with the new etcd image: `milvusdb/etcd:3.5.0-r1`.
/unassign
/assign @zhuwenxing

[2022-06-13 11:36] yanliang567 commented on #17534
/assign @XuanYang-cn
/unassign

[2022-06-13 11:41] zhuwenxing commented on #17335
another failed job with datanode pod kill in version `master-20220613-a0d3f37c`

https://github.com/zhuwenxing/milvus/runs/6858941979?check_suite_focus=true

[2022-06-13 11:46] zhuwenxing commented on #17367
There are still cases of search failure, but now it is not 100%.
failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/6444/pipeline
log: [artifacts-querynode-pod-kill-6444-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8890705/artifacts-querynode-pod-kill-6444-server-logs.tar.gz)

[2022-06-13 11:46] zhuwenxing commented on #17367
/assign @jiaoew1991
Please help to take a look

[2022-06-13 12:21] gedw99 commented on #8683
@deshetti

NATS now has an Object store, and so can replace Minio. This is experimental, but i expect it to work well because the store under it has been stable for quite a while.

https://docs.nats.io/nats-concepts/jetstream/obj_store/obj_walkthrough

NATS has had a KV store for a while and so replaces Etcd / Consul: https://docs.nats.io/nats-concepts/jetstream/key-value-store/kv_walkthrough

All

[2022-06-13 12:40] jaime0815 opened #17535 "[Bug]: Indexed segment data should be removed after drop partition"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

drop partition should notify indexcoord to remove indexed segment data, or the never used data can not be cleaned

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-06-13 12:53] zhuwenxing commented on #17286
@LoveEachDay
a failed job https://github.com/zhuwenxing/milvus/runs/6860637569?check_suite_focus=true
which etcd image is `milvusdb/etcd:3.5.0-r1`.

Please help to take a look.

[2022-06-13 12:54] zhuwenxing commented on #17286
another one https://github.com/zhuwenxing/milvus/runs/6860637491?check_suite_focus=true

[2022-06-13 14:23] #16819 closed

[2022-06-13 14:53] wj-0116 commented on #17505
client code:
package dao

import (
	"context"
	"git.garena.com/shopee/platform/splog"
	"github.com/milvus-io/milvus-sdk-go/v2/client"
	"github.com/milvus-io/milvus-sdk-go/v2/entity"
	"log"
	"originalsearchcontroller/config"
	"originalsearchcontroller/internal/db"
)

var (
	vectorField     string
	primaryKeyField string
)

func GetCollectionInfo() (pk, vectorField string) {
	conf := config.GetConfi

[2022-06-13 15:44] tfriedel commented on #9689
I have the same problem. The workaround proposed by @kingmbc , i.e. loading and releasing a collection fixes the issue. Would it be good if the underlying issue would be solved.

[2022-06-13 16:56] xiaofan-luan commented on #17523
/assign @xiaocai2333
should not multi save in a txn.

[2022-06-14 00:54] xiaofan-luan commented on #17523
Another question, why add lock successfully but release failed? @xiaocai2333

[2022-06-14 00:58] xiaofan-luan commented on #17375
is this before 17510 merged or after? does it recover after link broken

[2022-06-14 01:15] xiaofan-luan commented on #17535
good catch, xiaocai is working on that.
We definitely need to go through all meta data clearly and understand who is in charging of it

[2022-06-14 01:16] xiaofan-luan commented on #8683
Looks like a very promising solution and covers all we need? intersesting

[2022-06-14 01:18] xiaofan-luan commented on #17335
I remember I changed retry to 50 times, does that help on this issue?

[2022-06-14 01:21] xiaofan-luan commented on #16905
Once we release 2.1 we will begin to design on it

[2022-06-14 01:24] xiaocai2333 commented on #17523
I did a test locally, the same number of keys (160), etcdKV multiSave can be successful, but multiRemove will report the error.

[2022-06-14 01:26] xiaofan-luan commented on #17532
Thanks for following up,
We now put our mile stone at, you could check details about 2.1 and 2.2
https://wiki.lfaidata.foundation/display/MIL/Milvus+Home

[2022-06-14 01:35] yuliu-eric commented on #16905
Do we have any workaround before it's available? We may need this feature during the 1.x to 2.x migration. Otherwsie, we cannot onboard 2.1 due to the lack of this feature.

[2022-06-14 02:05] yhmo commented on #17512
From the log, it seems 90% of time consume is wasted in the bottom search engine, in vector similarity computation. Looks like the machine CPU is busy on something.

[2022-06-14 02:09] zhuwenxing opened #17537 "[Bug]: Insert timeout when running `test_e2e.py` after Milvus recovered from datanode pod kill chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Insert timeout when running `test_e2e.py` after Milvus recovered from datanode pod kill chaos
Actually, create collection also cost a lot time, 23s.

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: http

[2022-06-14 02:14] jingkl commented on #17416
server-instance
benchmark-backup-4fksm-1
server-configmap
server-cluster-8c64m-compaction
client-configmap
client-random-locust-compaction

master-20220613-e9dcda16

[code]

client pod benchmark-backup-4fksm-1617299774

[code]
[client1.log.zip](https://github.com/milvus-io/milvus/files/8895760/client1.log.zip)

[2022-06-14 02:15] binbinlv commented on #17520
Similar panic in the following latest nightly: [standalone]
[artifacts-milvus-standalone-master-591-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/591/artifact/artifacts-milvus-standalone-master-591-pymilvus-e2e-logs.tar.gz)

[code]

[2022-06-14 02:18] yuliu-eric commented on #17512
Thank you for the update! Do you need anything else for further investigation?

[2022-06-14 02:22] yanliang567 commented on #17416
/assign @letian-jiang  @xiaofan-luan

[2022-06-14 02:25] czs007 commented on #17520
This reason is due to the conflict with rockdsb after LD_PRELOAD jemalloc, resulting in  segment fault.
we are working on it.

[2022-06-14 02:27] yanliang567 commented on #17537
similar insert failure in issue #17524.

/assign @bigsheeper
/unassign

[2022-06-14 02:29] letian-jiang commented on #17416
This seems to be an issue of load balance.
/unassign
/assign @xige-16

[2022-06-14 02:56] jingkl commented on #17048
block as issue：#17524

[2022-06-14 03:14] xiaofan-luan commented on #17375
does it recover after the error? if it could recover later then we won't fix on it for now

[2022-06-14 03:15] xiaofan-luan commented on #17416
Any description about the issue?

[2022-06-14 03:19] letian-jiang commented on #17416
The load balance phase should be done within 30-40 minutes. However, the query service is not yet available.

[2022-06-14 03:20] xige-16 commented on #17416
looking into it

[2022-06-14 03:22] czs007 commented on #17513
etcd log:

"level":"info","ts":"2022-06-13T03:52:27.417Z","caller":"osutil/interrupt_unix.go:64","msg":"received signal; shutting down","signal":"terminated"}

{"level":"info","ts":"2022-06-13T03:52:27.417Z","caller":"embed/etcd.go:367","msg":"closing etcd server","name":"benchmark-backup-q258f-1-etcd-0","data-dir":"/bitnami/etcd/data","advertise-peer-urls":["http://benchmark-backup-q258f-1-etcd-0

[2022-06-14 03:23] xige-16 commented on #17416
There is only one querynode, and the querynode has not been restarted, balance does not work

[2022-06-14 03:35] BUPTAnderson commented on #17530
@czs007 @yanliang567
I also encountered this problem in the version-2.0.2, the data-coord node could not start.

data-coord log:
[datacoord-52.log.tar.gz](https://github.com/milvus-io/milvus/files/8896146/datacoord-52.log.tar.gz)

[2022-06-14 03:39] zhuwenxing opened #17540 "[Bug]: Query timeout after Milvus cluster upgrading"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search latency is very large and query timeout
[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: https://github.com/milvus-io/milvus/runs/6869230327?check_suite_focus=true
log: https://github.com/milvus-i

[2022-06-14 03:39] BUPTAnderson commented on #17530
Every time I restart datacoord, it reports the following error and then exits.
[code]

[2022-06-14 03:42] zhuwenxing commented on #17367
failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/6476/pipeline
log:  [artifacts-querynode-pod-kill-6476-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8896175/artifacts-querynode-pod-kill-6476-server-logs.tar.gz)

[2022-06-14 03:46] jaime0815 opened #17541 "support configurable sasl mechanisms for kafka"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

support the following configurable
- sasl.mechanisms
- security.protocol

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-06-14 03:55] binbinlv commented on #17530
Set it as urgent for it exists in both 2.0.2 and master.

[2022-06-14 04:10] zhuwenxing commented on #17347
This happened again, so set it as a critical issue.

failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/6481/pipeline
log: [artifacts-standalone-pod-kill-6481-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8896297/artifacts-standalone-pod-kill-6481-server-logs.tar.gz)

[2022-06-14 04:10] yanliang567 commented on #17540
keep in my plate for now, to see if it reproduces stably or not.

[2022-06-14 06:09] xige-16 commented on #17434
Okey

[2022-06-14 06:24] jingkl commented on #17524
master-20220614-cdcdfa1e
pymilvus 2.1.0dev70
Already verified

[2022-06-14 06:24] #17524 closed

[2022-06-14 06:27] czs007 commented on #17513
This is deliberately killing etcd during the cleanup process，
It has nothing to do with the client error posted above.

[2022-06-14 06:51] xiaocai2333 commented on #17521
/assign @xiaofan-luan

[2022-06-14 07:22] congqixia opened #17546 "[Bug]: func.IsGrpcError cannot handle wrapped grpc error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

If grpc error is wrapped by `%w` verb, `funcutil.IsGrpcError` cannot judge error type correctly.

### Expected Behavior

`funcutil.IsGrpcError` shall return true for wrapped grpc error

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything

[2022-06-14 07:58] yhmo commented on #17059
I pick log of an insert operation that cost 44 seconds:
[code]

The time gap between `DescribeCollection` and `CreateCollectionFile` is weird:
[code]
The time gap is 44 seconds. in source code, the CreateCollectionFile() firstly call DescribeCollection() to get collection schema and then add a record to mysql for the new segment. I don't know why it take so long between the two SQL statements. Loo

[2022-06-14 08:59] XuanYang-cn commented on #17508
[code]

The same reason as #14577

Related issues:

https://github.com/apache/pulsar-client-go/pull/785

https://github.com/apache/pulsar-client-go/issues/733

https://github.com/apache/pulsar-client-go/issues/698

[2022-06-14 09:00] XuanYang-cn commented on #17508
/assign @xige-16

[2022-06-14 09:00] #16662 closed

[2022-06-14 09:07] XuanYang-cn commented on #17508
[code]

[2022-06-14 09:10] #17546 closed

[2022-06-14 09:12] #17237 closed

[2022-06-14 09:15] yanliang567 commented on #17520
/assign @binbinlv
/unassign @czs007

[2022-06-14 09:30] yah01 commented on #17375
This may be fixed with #17547 which will retry to search without shard leaders cache

[2022-06-14 09:47] yah01 commented on #17375
#17547 will check whether the error is a gRPC error (e.g. keepalive timeout), and then fetch the shard leaders from QueryCoord, re-connect to the new shard leaders, and retry to search.

/assign @jingkl

[2022-06-14 09:51] yanliang567 commented on #17048
@jingkl could you please retry tonight?

[2022-06-14 09:52] yanliang567 commented on #16887
@ThreadDao could you please help to verify the fix

[2022-06-14 09:57] yuliu-eric commented on #17512
Per this thread (https://github.com/milvus-io/milvus/issues/4208#issuecomment-725765972), what values do you suggest to set for `--cpuset-cpus` and `--cpuset-mems`, given the following instance config

[code]

[2022-06-14 10:44] jingkl commented on #17048
Already in the process of verification, results will be available tomorrow

[2022-06-14 10:51] #15522 closed

[2022-06-14 11:06] yuliu-eric commented on #17512
Trying to set above ENV in values.yaml and upgrade through helm, but the setting didn't take effect, no `OMP_NUM_THREADS` or `cpuset-xxx` found in printenv on the pod.

[code]

Would you please share the examples how to set those ENVs while using helm?

[2022-06-14 11:07] gedw99 commented on #8683
You can test it out running a 4 node cluster with https://github.com/bruth/nats-zero-down.  It will run them in the background locally.   Just follow the README.

Here is a makefile that runs the basics of KV and object store against the cluster.
[code]

[2022-06-14 11:17] jiaoew1991 commented on #17411
like  #17367

[2022-06-14 11:18] jiaoew1991 commented on #17411
/unassign @congqixia
/assign @zhuwenxing

[2022-06-14 11:19] jiaoew1991 commented on #17367
fix by #17546

[2022-06-14 11:19] jiaoew1991 commented on #17367
/unassign
/assign @zhuwenxing

[2022-06-14 11:21] jiaoew1991 commented on #17354
/unassign @congqixia
/assign @jingkl

[2022-06-14 11:27] congqixia commented on #17288
@wangting0128 standalone restart shall be caused by the jemalloc problem, which shall be fixed by #17538, could you please verify?

[2022-06-14 12:43] jaime0815 commented on #17528
ShowCollection  RPC seems doesn't reach to rootcoord,  the request of the corresponding  messageID  does not find within rootcoord

[2022-06-14 12:50] jaime0815 commented on #17528
showCollectionsTask of proxy be canceled until context timeout, so it likes a deadlock issue for the task scheduler. I tried to run this case 1000 times with the default parallel number on the local environment, but the issue can not be reproduced.

[code]

[2022-06-14 13:52] #16566 closed

[2022-06-14 16:25] ThreadDao commented on #16887
image `master-20220614-f9553970`
1. Deploy cluster with 2 querynodes and limit their memory to 2 Gi
2. If Insert 250000 entities of dim 512, loading 2 replicas successfully as querynode's memory is sufficient
3. Insert 500000 entities of dim 512，load collection with 2 replicas and then two querynodes OOMKilled and restart successfully, querycoord crash and failed to restart.

See this issue #17253

[2022-06-14 18:07] ThreadDao commented on #17091
image: upgrade `master-20220517-127dd34b` to `master-20220614-f9553970`
Before upgrade:
[code]

Apply memory stress on querynode-9 and load balance occur, then upgrade milvus image:
[code]
No release and re-load, search get empty result:
[code]
If release collection and re-load, search successfully, replicas info is correct, failed to get segment info:
[code]

Server logs:
[mic_logs.tar.gz](https:

[2022-06-15 00:27] binbinlv commented on #17520
Retested and fixed.

[2022-06-15 00:27] #17520 closed

[2022-06-15 00:50] yanliang567 commented on #17411
still reproduces on master-20220614-f9553970
[querynode.offline.log.tar.gz](https://github.com/milvus-io/milvus/files/8904773/querynode.offline.log.tar.gz)

/unassign
/assign @jiaoew1991 @congqixia

[2022-06-15 00:50] yanliang567 commented on #17091
querynode offline issue: #17411

[2022-06-15 01:46] jingkl commented on #17375
master-20220614-f9553970
pymilvus:2.1.0dev70
Already verified

[2022-06-15 01:46] #17375 closed

[2022-06-15 01:57] longjiquan commented on #17493
@xuysh2022 hello, I guess you passed the vectors with wrong dimension. Of course, this error log is not very human-readable, I'll fix this soon.

[2022-06-15 02:01] longjiquan commented on #17493
@xuysh2022 Could you check if the dimension of your every vectors in `/home/appmanager/vecquery.txt` is equal to `768`?

[2022-06-15 02:13] longjiquan commented on #17493
/assign @xuysh2022

[2022-06-15 02:35] jingkl commented on #17434
argo
benchmark-cron-1655222400
server-configmap
server-cluster-8c16m
client-configmap
client-acc-glove-ivf-flat

master-20220614-f9553970
pymilvus 2.1.0dev70
[code]

[code]

[2022-06-15 02:35] letian-jiang commented on #17347
The log of the killed container is not available. Is it recoverable?  @zhuwenxing
[code]

[2022-06-15 02:38] wangting0128 commented on #16943
verify image：master-20220614-f9553970

[2022-06-15 02:38] #16943 closed

[2022-06-15 02:38] wangting0128 commented on #17288
verify image：master-20220614-f9553970

[2022-06-15 02:38] #17288 closed

[2022-06-15 02:48] zhuwenxing commented on #17347
If the log you check is in https://github.com/milvus-io/milvus/issues/17347#issuecomment-1154687216
then we can think the standalone is recovered.
![image](https://user-images.githubusercontent.com/12268675/173725003-24c2808b-0875-47ce-b9fd-d96d7e1c7ed5.png)
from the image above, we can see before running `verify all collections.py`, `test_e2e.py`and `hello_milvus.py` were passed, so it means Milv

[2022-06-15 02:52] zhuwenxing commented on #17537
in version `master-20220614-f9553970`
This issue still happened

failed job: https://github.com/milvus-io/milvus/runs/6886689798?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/6931967462/artifacts/269839383

[2022-06-15 02:54] zhuwenxing commented on #17286
@LoveEachDay
here is a failed job with deployment failure, please help to have a look
http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/6519/pipeline

[2022-06-15 02:55] jingkl commented on #16150
Verified：master-20220614-f9553970

[2022-06-15 02:55] #16150 closed

[2022-06-15 03:05] zhuwenxing commented on #17347
all containers log for standalone-pod-kill-6481 release
[standalone-pod-kill-6481.zip](https://github.com/milvus-io/milvus/files/8905348/chaos.1.zip)

[2022-06-15 03:09] soothing-rain commented on #17426
@congqixia Could it be related to #17411 ?

[2022-06-15 03:15] zhuwenxing commented on #17515
tests of standalone pod kill, standalone reinstallation, and standalone upgrading all passed.

So remove critical label

[2022-06-15 03:16] soothing-rain commented on #17401
Hey @dariocurr it appears that there is an env variable for the config path (altho I never tried it :) )

https://github.com/milvus-io/milvus/blob/9c463750330801057cc515a4b129eb6f40e9a1c9/internal/util/paramtable/base_table.go#L105

[2022-06-15 03:20] soothing-rain commented on #17358
@jmugan Hey we have fixed this issue in 2.1 :)

[2022-06-15 03:24] jaime0815 commented on #17528
DescribeCollection has been executed before ListCollection, it also fails.  the reason is a CreateCollection request is executing before DescribeCollection  within the task scheduler queue,  CreateCollection costs 2.25 minutes, it will be led to the next requests timeout of waiting in the queue.

[code]

[2022-06-15 03:25] jaime0815 commented on #17528
CreateCollection too slowly caused by broadcast message to Kafka， but it is no more log to track.

[2022-06-15 03:29] zhuwenxing commented on #17203
This happened again, so reopen it.

Failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/6505/pipeline
log: [artifacts-querynode-pod-failure-6505-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8905451/artifacts-querynode-pod-failure-6505-server-logs.tar.gz)

The search failed when running `hello_milvus.py`, error log:
[code]

[2022-06-15 03:29] jmugan commented on #17358
Great news! Thanks!

[2022-06-15 03:29] #17358 closed

[2022-06-15 03:46] zhuwenxing commented on #17203
/assign @letian-jiang
Please help to take a look

[2022-06-15 03:46] zhuwenxing commented on #17203
/unassign

[2022-06-15 03:56] zhuwenxing opened #17556 "[Bug]: Search failed when running `verify_all_collections.py` with error `fail to get shard leaders from QueryCoord: no replica available` after Milvus recovered from querynode pod kill chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search failed when running `verify_all_collections.py`
[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/6493/pipeline
log

[2022-06-15 03:56] XuanYang-cn commented on #17335
The problem is when `Seek` takes so long, how do we define the system's behaviour.

After discussing with @jiaoew1991 and @congqixia, we agreed that this would be unrecoverable automatically and would need people involved.
**Currently:**
1. DataCoord won't stop restarting, which should be fixed
2. The channel being `Seek` is unavailable, leading to collection abnormal.

**Here're some solutions fr

[2022-06-15 04:46] yanliang567 commented on #17335
do we have a guide about the manual actions to recover from this

[2022-06-15 05:05] letian-jiang commented on #17347
QueryNode released the missing segment when handling SealedSegmentsChangeInfo
[code]

[2022-06-15 05:33] soothing-rain commented on #17537
DataCoord crashed and was not able to come back.

[code]

Could be the same in #17335

[2022-06-15 06:24] congqixia commented on #17426
Might be related. Since some load balance shall be performed before removing the etcd entry.

[2022-06-15 06:29] xige-16 commented on #17416
query coord load collection 433881878371437889  at 13:47:13.998, and load done at 13:47:14.866

[code]

[2022-06-15 06:32] vsdownloader opened #17557 "[Bug]: milvus failed to insert after inserting 200k vectors"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

我们使用c++ sdk 向Milvus 插入特征向量，当数据量超过20万左右的时候，就报错了  "getSegmentID failed: SegmentIDAllocator failRemainRequest unexpected error"

### Expected Behavior

期待能正常插入数据

### Steps To Reproduce

_No response_

### Milvus Log

getSegmentID failed: SegmentIDAllocator failRemainReq

[2022-06-15 06:32] longjiquan commented on #17339
100m is too large to be reproduced locally. 1m and 10m don't reproduce this issue.

[2022-06-15 06:32] xige-16 commented on #17416
querycoord is notified that there is a new segment 433881892002925889 flushed. Querycoord enters a loop that waits for the segment to create an index. The expectation is to load the segment into the querynode memory after the segment's index is built.

[code]

[2022-06-15 06:34] zhuwenxing commented on #17508
Flush hangs when running `verify_all_collections.py` after chaos

failed job:https://github.com/zhuwenxing/milvus/runs/6886845770?check_suite_focus=true
log: https://github.com/zhuwenxing/milvus/suites/6932123471/artifacts/269859110

[2022-06-15 06:36] xige-16 commented on #17416
But during this waiting process, datacoord compacts segment 433881892002925889 into segment 433881899618795523

datanode
[code]

datacoord
[code]

[2022-06-15 06:39] xige-16 commented on #17416
Then the handoff process of the segment 433881892002925889　is terminated, and the data of this segment is not loaded into the querynode.
[code]

[2022-06-15 06:41] xige-16 commented on #17416
For this reason, the compacted semgent 433881899618795523 did also not successfully handoff to the querynode memory.
[code]

[2022-06-15 06:44] xige-16 commented on #17416
![4eikI5t8xV](https://user-images.githubusercontent.com/20124155/173760056-8f4c4359-75a9-4772-8e28-a1139f22c9d9.png)
This also leads to a large number of growing segments in the querynode, which in turn causes the querynode to oom several times.

[2022-06-15 06:48] xige-16 commented on #17416
One hour after the origin segment 433881892002925889 is compacted, the segment's meta information is deleted by datacoord
[code]

[2022-06-15 06:59] zhuwenxing commented on #16134
It also happened for minio pod kill
This job is failed due to timeout, because flush of collection which prefix is CreateChecker cost a lot of time.
https://github.com/zhuwenxing/milvus/runs/6885879889?check_suite_focus=true

![image](https://user-images.githubusercontent.com/12268675/173762979-cf398f0f-c432-4574-9d2a-0b04319e9d27.png)

![image](https://user-images.githubusercontent.com/12268675/1

[2022-06-15 07:09] yanliang567 commented on #17557
@vsdownloader Could you please use this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

/assign @vsdownloader
/unassign

[2022-06-15 07:12] zhuwenxing commented on #17367
@jiaoew1991 @congqixia
for now, this one `context deadline exceeded` is not reproduced yet, but there are still some other issues about search failure caused by querynode pod kill or pod failure.
please help to take a look.
related issues:
https://github.com/milvus-io/milvus/issues/17203
https://github.com/milvus-io/milvus/issues/17556

[2022-06-15 07:16] zhuwenxing commented on #17556
/assign @jiaoew1991

please help to take a look

[2022-06-15 07:16] vsdownloader commented on #17557
我用的standalone版本的，单机部署的，没有K8S ，脚本写的只支持KS8啊

[2022-06-15 07:25] zhuwenxing commented on #17557
![image](https://user-images.githubusercontent.com/12268675/173767952-d28f0635-c30c-4437-a0c4-ac353b7efeb9.png)

[2022-06-15 07:26] soothing-rain commented on #16134
/unassign
/assign @wayblink

[2022-06-15 07:31] yanliang567 commented on #17557
For Milvus installed with docker-compose, you can use docker-compose logs > milvus.log to export the logs.

[2022-06-15 07:33] yhmo commented on #17512
--cpuset-cpus="0,1,2,3,4,5,6,7,16,17,18,19,20,21,22,23"
--cpuset-mems="0"

[2022-06-15 07:35] yhmo commented on #17512
By this configuration, the container only use 16 CPU cores.

[2022-06-15 07:39] vsdownloader commented on #17557
我们使用的apt 安装的 deb 包，也没有用docker-compose

[2022-06-15 08:36] yuliu-eric commented on #17512
Got it, thank you for the explanations!

But I guess the [above settings](https://github.com/milvus-io/milvus/issues/17512#issuecomment-1155038338) of `cpuset` under `extraEnv` won't work right?

[2022-06-15 08:57] yovelcohen commented on #17532
@xiaofan-luan Thanks, that's great, but I think the roadmap on milvus.io should still be updated or reference to this page since it might confuse others as well :)

[2022-06-15 09:06] xiaocai2333 commented on #15439
And I recommend using the latest version of milvus.

[2022-06-15 09:07] chuzhifeng opened #17563 "[Bug]: milvus服务关掉重启后search失败"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

当服务重启后collection.search会卡住不work，插入新数据却可以

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

2022-06-15T08:52:22.896091756Z [2022/06/15 08:52:22.895 +00:00] [DEBUG] [impl.go:353] ["HasCollection received"] [traceID=21e7bd02f19

[2022-06-15 09:54] sunby opened #17564 "[Bug]: [benchmark][cluster] 64g memory failed to load vectors of 100 million 128 dimensions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[benchmark][cluster]  64g memory failed to load vectors of 100 million 128 dimensions
VDC-510

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-06-15 10:09] xige-16 commented on #17416
The reason why serach times out after querynode restarts is that recovery.vchannel.postion is incorrect due to compaction, and querynode watches dmchannel to a very early position, resulting in the query capability not being restored for a long time.

[2022-06-15 10:09] xige-16 commented on #17416
pr #17554  is fixing the problem

[2022-06-15 10:13] xige-16 opened #17566 "[Bug]: Growing segment can't be cleaned from querynode memory"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

If querynode receive a growing segment1, and datanode has flushed segment1, then querycoord will handoff a sealed segment 1 to querynode. After that, querynode should auto remove growing segment 1 from memory.

But now the growing segment is not cleaned up

### Expect

[2022-06-15 10:13] xige-16 commented on #17566
/assign @congqixia
/unassign @yanliang567

[2022-06-15 10:14] xige-16 commented on #17416
link issue [#17566](https://github.com/milvus-io/milvus/issues/17566)

[2022-06-15 10:32] xige-16 opened #17567 "[Bug]: handoff segment may be aborted after compaction"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Assuming that cxreate index and load collection have been done, and then insert data, querynode receives data from the stream and puts it into growing semgent 1, after datanode flushes segment1, querycoord will handoff segment 1 to querynode (replacing growing segment

[2022-06-15 10:33] xige-16 commented on #17567
/unassign @yanliang567
/assign @congqixia

[2022-06-15 10:35] xige-16 commented on #17416
link issue https://github.com/milvus-io/milvus/issues/17567

[2022-06-15 11:14] #17403 closed

[2022-06-15 11:54] BUPTAnderson commented on #17530
I have merge the patch, the datacoord crash again. @xiaofan-luan
[code]

[2022-06-15 11:59] wj-0116 commented on #17505
this issue can be reproduce using the following steps:
1. prepare id and vector mapping data in file.(eg. 100w)
2. split the data file into 20 subfile.
3. create collection
4. create index for collection
5. use 20 process to insert data to milvus. (each process read one subfile, and insert to the collection)
6. execute list_collection command during step.5

sdk: pymilvus 2.0
operate: collection =

[2022-06-15 12:26] xige-16 commented on #17434
During the query process, the CPU utilization has been rising, and it is guessed that there is a cpu idling or goroutine leakage.

![6mZft5FXVz](https://user-images.githubusercontent.com/20124155/173826297-b7dc6b39-87bf-4e5f-9e82-558522d4b762.png)

[2022-06-15 12:29] xiaofan-luan opened #17569 "[Feature]: Add retry for etcd operation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Milvus highly rely on etcd for meta operation.
Retry is need since failed to operate on etcd may cause server crash.
To be noticed, the CompareValueAndSwap, CompareVersionAndSwap may no be able to add retry  in a no brainer  style so we need to ta

[2022-06-15 13:41] haorenfsa opened #17572 "[Bug]: Delete object failed when using S3 with default configuration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

error in milvus
[code]

### Expected Behavior

no error

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

This option is introduced in #15541

Note: if we simply remove this option, users using bucket with object lock enabled will als

[2022-06-15 13:53] haorenfsa commented on #17572
/assign

[2022-06-15 13:57] jaime0815 opened #17573 "Delete index file failed from S3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[\"IndexCoord recycleUnusedIndexFiles Remove index files failed\"] [MarkDeleted=true] [error=\"x-amz-bypass-governance-retention is only applicable to Object Lock enabled buckets.

It seems to use the default retention governance mode, which causes delete fail.

### E

[2022-06-15 14:07] #17572 closed

[2022-06-15 15:14] #17485 closed

[2022-06-15 17:03] majedtaki opened #17576 "[Bug]: Fail to load collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I create a collection as follows with 512 dim vectors entities:
[code]

I then insert 50M random vectors. After insertion is done and the data is indexed. I call `collection.load(collection.load(replica_number=2)`

The collection get stuck at loading. I can see errors

[2022-06-15 17:23] #16493 closed

[2022-06-15 17:23] #16573 closed

[2022-06-15 22:43] #16857 closed

[2022-06-15 23:52] sasan-ai commented on #17576
Disable the compaction on datacoord and load the data again. It is buggy.

[2022-06-16 00:47] yanliang567 commented on #17576
@majedtaki Could you please use this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

/assign @majedtaki
/unassign

[2022-06-16 00:50] yanliang567 commented on #17563
@chuzhifeng  sounds like a known issue which occasionally reproduces in 2.0.2. Could you please retry with latest master build, we believe it is fixed now.

/assign @chuzhifeng
/unassign

[2022-06-16 00:53] jiaoew1991 commented on #17556
/assign

[2022-06-16 00:54] yanliang567 commented on #17030
@yah01 any updates?

[2022-06-16 00:55] yanliang567 commented on #16713
@yah01 was it fixed or not?

[2022-06-16 01:30] yah01 commented on #17030
This has been fixed

[2022-06-16 01:38] LoveEachDay commented on #17286
This deployment is failed, because minio cluster does not behave normally. And etcd cluster is provisioned successfully.
datacoord keep crashing because of minio is not ready:
[code]
minio-0 pod log:
[code]
minio-1 pod log:
[code]

[2022-06-16 01:59] xiaocai2333 commented on #17523
this is a bug, in the case of multiple replicas, multiple locks will be added to a segment. When the lock is released, all the locks of the same nodeID on the segment will be obtained, so there are more keys when releasing the lock than when locking.

[2022-06-16 01:59] zhuwenxing commented on #17460
This happened again after querycoord pod kill.
failed job: https://github.com/milvus-io/milvus/runs/6906028666?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/6950181067/artifacts/271031510 (in dir `data-consist-test`)

[2022-06-16 02:00] xiaocai2333 commented on #17523
@ThreadDao pr is merged, please verify it.
/unassign
/assign @ThreadDao

[2022-06-16 02:01] xiaocai2333 commented on #17460
pr #17529 will fix it.

[2022-06-16 02:04] jingkl commented on #17354
image：master-20220614-cdcdfa1e

[2022-06-16 02:05] yhmo commented on #17512
Right, I think it can't work. The "cpuset-cpus" is docker parameter. You need to learn the kubernetes cpu manager policy:
https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/

[2022-06-16 02:06] #17354 closed

[2022-06-16 02:08] jingkl commented on #17048
image：master-20220614-cdcdfa1e
update image：master-20220615-65ab8478
Verified, no errors in search

[2022-06-16 02:08] #17048 closed

[2022-06-16 02:11] zhuwenxing commented on #17330
Not reproduced yet, remove critical label

[2022-06-16 02:11] xiaofan-luan commented on #17530
Did you see some error message like failed to clean up subscription?

[2022-06-16 02:11] majedtaki commented on #17576
@yanliang567 see logs attached
[milvus-log.zip](https://github.com/milvus-io/milvus/files/8915105/milvus-log.zip)

btw @sasan-ai I tried again with compaction turned off but the problem still persist. I turned it off by deploying a new cluster with helm and specifying `dataCoordinator.enableCompaction: false` in the chart helm values

[2022-06-16 02:12] majedtaki commented on #17576
/assign @yanliang567
/unassign

[2022-06-16 02:13] xiaofan-luan commented on #17530
My guess is that the pulsar web port is not configured so it fallback to original handle path.
If you follow milvus operator deployment it should be http://host:80 , if your pulsar didn't enable proxy it should be http://host:8080

[2022-06-16 02:18] jingkl commented on #17339
argo task:
 install：benchmark-tag-no-clean-r6bsq-1
reinstall： benchmark-restart-server-hkk4j

install：
client-configmap:client-random-locust-100m-ddl-r8-w2-1h
server-configmap:server-cluster-8c64m
reinstall:
client-configmap:client-random-locust-100m-ddl-r8-w2-concurrent
server-configmap:server-cluster-8c64m

<img width="1375" alt="截屏2022-06-16 10 15 11" src="https://user-images.githubusercontent.

[2022-06-16 02:34] xiaofan-luan opened #17578 "[Enhancement]: Mov all index related meta from rootcoord to index"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

As discussed with @aakejiang
There is no reason we maintain segID2IndexMeta in rootcoord.
All index related meta should be handled in indexcoord

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-06-16 02:40] zhuwenxing commented on #17408
rootcoord pod kill with kafka mq
failed job: https://github.com/milvus-io/milvus/runs/6905128402?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/6949332631/artifacts/270983099

[2022-06-16 02:45] haorenfsa opened #17579 "[Bug]: Milvus standalone healthcheck pass when using not available s3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Standalone healthcheck pass when some nodes not ready.

### Expected Behavior

Standalone healthcheck should not pass

### Steps To Reproduce

[code]

### Milvus Log

[milvus.log](https://github.com/milvus-io/milvus/files/8915245/milvus.log)

### Anything else?

_No r

[2022-06-16 02:46] jaime0815 commented on #17578
I propose all index meta maintenance move into roocoord, all index services to keep stateless as far as possible,  it benefits metadata to unified management.

[2022-06-16 02:47] BUPTAnderson commented on #17530
@xiaofan-luan yes, i get some `failed to clean up subscriptions` WARN msg
[code]

[2022-06-16 02:53] zhuwenxing commented on #17286
a failed deployment job: https://github.com/zhuwenxing/milvus/runs/6906176973?check_suite_focus=true

[2022-06-16 02:58] zhuwenxing commented on #17286
failed job in jenkins
http://10.100.32.144:8080/blue/organizations/jenkins/deploy_test/detail/deploy_test/931/pipeline
![image](https://user-images.githubusercontent.com/12268675/173981575-434b537e-12d7-4482-a487-1eba0d259356.png)

[2022-06-16 02:59] longjiquan commented on #17378
/unassign @yhmo
/assign

[2022-06-16 03:12] zhuwenxing commented on #17383
This happened again!

http://10.100.32.144:8080/blue/organizations/jenkins/deploy_test/detail/deploy_test/927/pipeline
http://10.100.32.144:8080/blue/organizations/jenkins/deploy_test/detail/deploy_test/923/pipeline
http://10.100.32.144:8080/blue/organizations/jenkins/deploy_test/detail/deploy_test/923/pipeline

[2022-06-16 03:25] congqixia opened #17580 "[Bug]: Growing-Sealed handoff now cannot gaurantee integrity now"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After #17566 is fixed. The handoff mechanism cannot gaurantee all segments are searched since it only protects sealed segment.

### Expected Behavior

Search/ query always perform on all segments.

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

[2022-06-16 03:35] soothing-rain commented on #17366
/unassign
/assign @zhuwenxing

please verify

[2022-06-16 03:47] jaime0815 opened #17581 "[Bug]: NodeId doesn't update within replica after query node offine"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

queryNode offline at  10:19:10
[code]

but load balance still continuously tries to get an offline querynode info at 12:42:26

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No r

[2022-06-16 03:52] yanliang567 commented on #17576
@xige-16 is it a known issue that you are looking at
/assign @xige-16
/unassign

[2022-06-16 03:54] yuliu-eric commented on #17512
Got it, thank you for confirming!

[2022-06-16 04:00] #17233 closed

[2022-06-16 04:16] siwenyang opened #17583 "[Bug]: Search took forever after compaction on etcd and restart datanode and datacoord"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. data_coord node and data node are shut down since etcd error: [error="etcdserver: mvcc: database space exceeded"]
2. manually compaction in etcd, recover etcd to healthy stautsd, with this instruction: https://etcd.io/docs/v3.2/op-guide/maintenance/
3. restart data

[2022-06-16 04:19] siwenyang commented on #17583
So before etcd error, my cluster had 2 collections. After mannually compaction on etcd and restart data coord and data node. Search on old collections took forever. However, if I rebuild the index of the collections, search would work. My further question is: Will compaction on etcd and restart data coord and data node cause old collection index not work? Thank you for help.

[2022-06-16 04:21] yanliang567 commented on #17583
@xige-16 is this a known issue to us?

/assign @xige-16
/unassign

[2022-06-16 05:29] jaime0815 commented on #17581
{"log":"[2022/06/15 12:42:16.754 +00:00] [WARN] [impl.go:1188] [\"shard leader is unavailable\"] [collectionID=433922258571100161] [replicaID=433921805915521034] [DmChannel=in01-d22cf04e350d004-rootcoord-dml_1_433922258571100161v1] [shardLeaderID=30] []\n","stream":"stdout","time":"2022-06-15T12:42:16.754355592Z"}
 {"log":"[2022/06/15 12:42:16.754 +00:00] [WARN] [impl.go:1188] [\"shard leader is u

[2022-06-16 05:33] xiaofan-luan commented on #17530
there is a a config in milvus yaml, pulsar.webport, by default is 80, changed it to 8080 and it should work.

[2022-06-16 05:43] xiaofan-luan commented on #17289
@wangting0128 what pulsar version are we using? 2.8.2 should fix exactly the same issue.

[2022-06-16 05:44] xiaofan-luan commented on #16446
keep it oepn

[2022-06-16 05:47] xiaofan-luan commented on #17029
keep it open

[2022-06-16 05:48] xiaofan-luan commented on #16500
is is still a issue?

[2022-06-16 05:48] xiaofan-luan commented on #17023
keep it open

[2022-06-16 05:49] xiaofan-luan commented on #17041
keep it open

[2022-06-16 05:50] xiaofan-luan commented on #16963
should be fixed by #17562

[2022-06-16 05:50] soothing-rain commented on #16500
This is fixed.

We have also added the required dependency in `install_deps.sh` file and added build-phase instructions for M1 users.

[2022-06-16 05:50] xiaofan-luan commented on #16963
/assign @WangErXiao

[2022-06-16 05:52] xiaofan-luan commented on #16481
2.1 has fixed a few memory related issues so pls pls try the new release

[2022-06-16 05:57] zhaokefei commented on #16451
@soothing-rain

same case!!
would like to ask if there is a temporary solution? This problem occurs when the online service is currently in use

[2022-06-16 06:05] wangting0128 commented on #17289
@xiaofan-luan

<img width="678" alt="截屏2022-06-16 14 05 35" src="https://user-images.githubusercontent.com/26307815/174002616-9cce7bcf-fa4e-47bd-a3a2-6785ea931de2.png">

[2022-06-16 06:08] soothing-rain commented on #16451
Hey, we are shipping our first 2.1 RC version next week. If you can wait for another couple of days :)

[2022-06-16 06:24] binbinlv opened #17587 "[Bug]: Compaction plan is not empty after compaction completed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Compaction plan is not empty after compaction completed

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

Nightly:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/595/pipeline

Failed cases:
[code]

##

[2022-06-16 06:26] binbinlv commented on #17587
Set it as urgent because it occurs in all the three pipelines yesterday.

[2022-06-16 06:31] xiaofan-luan commented on #17587
@binbinlv we change the compaction plan behaviour so this is a case issue

[2022-06-16 06:32] xiaofan-luan commented on #17587
since you trigger compaction manually, we now do compaction as much as possible

[2022-06-16 06:39] jaime0815 commented on #17581
load segment task finishes at 10:18:09 on NodeID 30, then it offline at 10:19:10, but can not find any log about balance

[code]

[2022-06-16 06:55] xige-16 commented on #17583
The dmlChannel position of the segment after compaction has not been updated, which causes querynode to watch the earlier positon of dmchannel during load, and the search recovery is slow.

[2022-06-16 06:58] xige-16 commented on #17583
It should have nothing to do with create index. After restarting, if you wait for a while and then query, the query should also work normally.

[2022-06-16 06:58] xige-16 commented on #17583
pr #17554 should has fixed the issue

[2022-06-16 07:07] zhaokefei commented on #16451
@soothing-rain hi
I have another problem, don't know if it is related to the current problem, the log is as follows：
[code]

When I restart the service, the above log will always be printed, and it will still be the same after restarting again. Is this a problem?

[2022-06-16 07:13] haorenfsa commented on #17579
Config problem

[2022-06-16 07:13] #17579 closed

[2022-06-16 07:15] jaime0815 commented on #17581
fix #17560

[2022-06-16 07:27] chuzhifeng commented on #17563
我是通过docker-compose启动服务milvus的，
<img width="1445" alt="image" src="https://user-images.githubusercontent.com/32004153/174015850-dcb5fa5f-75bc-45ee-b475-92a32e153f5b.png">
看你们[Releases](https://github.com/milvus-io/milvus/releases)的最终版本就是v2.0.2啊

[2022-06-16 07:28] xige-16 commented on #17576
segmentID=433937291225595906

load error = [UnexpectedError]  field (0) data has different row count (220431) than other column's row count (207988)"]

[2022-06-16 07:29] xige-16 commented on #17576
It seems that the number of segment rows counted by datacoord is incorrect

![WuPNbandUH](https://user-images.githubusercontent.com/20124155/174016312-ec2db593-a54a-4bd6-a45d-66c6716af775.png)

[2022-06-16 07:34] longjiquan commented on #17378
@StevenSama thx for reporting the so detailed information. This issue will be fixed by #17590 .
/assign @StevenSama

[2022-06-16 07:37] zhaokefei commented on #16451
@soothing-rain
Hi, would like to confirm the following questions:

1. What is the extent of the data affected by the issue? At present, I can't get results when I test some data queries

2. After upgrading to `2.1`, the data of `2.0.2` will be fully compatible, right?

3. Is there a temporary solution to this problem?

thanks

[2022-06-16 07:43] xige-16 commented on #17576
could you provide more logs for datacoord and datanode? @majedtaki

[2022-06-16 07:55] xige-16 commented on #17576
/assign @soothing-rain

[2022-06-16 08:00] xige-16 commented on #17416
@congqixia is fixing the issue
/assign @congqixia
/unassign

[2022-06-16 08:05] yah01 commented on #17367
/assign @zhuwenxing
should be fixed with #17560

[2022-06-16 08:06] yah01 commented on #17556
/assign @zhuwenxing
Should be fixed with #17560

[2022-06-16 08:22] gctian opened #17592 "[Bug]: <ConnectionNotExistException: (code=0, message=should create connect first.)>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

execute utility.list_collections() in jupyter，I can create collection, create index  and search, but `utility.list_collections()` error，`collection = Collection("book")` also has this error.

ConnectionNotExistException               Traceback (most recent call last)

[2022-06-16 08:39] xige-16 commented on #17339
before querynode  restart
![AbkoMMGVer](https://user-images.githubusercontent.com/20124155/174029816-8bc9d603-29f7-4f40-afe2-b5e0de9fc6cf.png)

[2022-06-16 08:40] xige-16 commented on #17339
after queryonde restart
![R7kaa7bBUL](https://user-images.githubusercontent.com/20124155/174030025-3bb7b071-a8cd-478a-9c0e-d1dd1cdf8dc7.png)

[2022-06-16 08:41] xige-16 commented on #17339
After the querynode restarts, the search  becomes slower, which may be related to the cpu usage

[2022-06-16 08:58] letian-jiang commented on #17203
Maybe fixed by #17560, please have it a verify
/assign @zhuwenxing

[2022-06-16 09:11] #17523 closed

[2022-06-16 09:15] xuysh2022 commented on #17493
My problem has been solved. It is really the wrong dimension of the vector

[2022-06-16 09:15] #17493 closed

[2022-06-16 09:20] yanliang567 commented on #16890
keep it open

[2022-06-16 09:32] xiaofan-luan commented on #17530
merged to master, to help on verification

[2022-06-16 09:33] binbinlv commented on #17530
OK.

[2022-06-16 09:50] letian-jiang commented on #17347
The issue should be fixed by #17593, please verify it.
/assign @zhuwenxing

[2022-06-16 09:52] letian-jiang commented on #17347
The reason for such a duplicate segment is unclear now.
Gonna investigate it further,

[2022-06-16 10:04] yanliang567 opened #17597 "[Bug]: [bulkload]data_queryable is always False if importing 10 files in a loop"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

data_queryable in some of bulkload tasks is always False even after 10+ mins
[code]

### Expected Behavior

data_queryable is True after some reasonable seconds

### Steps To Reproduce

[code]

### Milvus Log

[bulkload.queryable.log.tar.gz](https://github.com/milvus-

[2022-06-16 10:04] yanliang567 commented on #17597
/assign @soothing-rain
/unassign

[2022-06-16 10:07] StevenSama commented on #17429
package milvus;

import java.io.BufferedReader;
import java.io.FileInputStream;
import java.io.FileNotFoundException;
import java.io.IOException;
import java.io.InputStreamReader;
import java.io.UnsupportedEncodingException;
import java.math.BigDecimal;
import java.util.ArrayList;
import java.util.Arrays;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.ut

[2022-06-16 10:07] StevenSama commented on #17429
the features.txt link in the code,
https://drive.google.com/file/d/11Hlp6QI4AtoEt5u0cX36npjPm8DB0xZW/view?usp=sharing

[2022-06-16 10:14] #17573 closed

[2022-06-16 10:20] binbinlv commented on #17587
Closed for code change.

[2022-06-16 10:20] #17587 closed

[2022-06-16 10:21] yanliang567 commented on #17592
@gctian could you please share the repro code here?

/assign @gctian
/unassign

[2022-06-16 11:07] cydrain opened #17599 "[Feature]: Support range search"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Support range search

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

_No response_

[2022-06-16 11:07] cydrain commented on #17599
/assign

[2022-06-16 11:14] BUPTAnderson commented on #17523
@xiaocai2333 after i merged the pr #17544, the datacoord can not start.

[code]

[2022-06-16 11:19] xiaocai2333 commented on #17523
@BUPTAnderson  Yes, we made an incompatible change here, you need to re-execute your service with a new version of milvus.

[2022-06-16 11:26] BUPTAnderson commented on #17523
got it

[2022-06-16 11:34] yanliang567 opened #17600 "[Bug]: [bulkload]failed to load collection after bulk load data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

error pops up when collection.load() after bulk load data
[code]

### Expected Behavior

load successfully and avaiable for search

### Steps To Reproduce

[code]

### Milvus Log

check collection name: test_bXU7XuuM or test_21vyjx4r
[bulkload.collectionloadfail.log.t

[2022-06-16 11:35] yanliang567 commented on #17600
@soothing-rain I set it to urgent as it blocks the feature bulk load
/assign @soothing-rain
/unassign

[2022-06-16 11:40] yanliang567 commented on #17429
@yongpengli-z could you please help to reproduce this with master build?

/assign @yongpengli-z
/unassign

[2022-06-16 12:14] longjiquan opened #17602 "[Bug]: row id field & ts field should be forbidden in user schema"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

For now, we didn't forbid row id field & ts field in user schema, which maybe will lead some unexpected issues.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-06-16 12:14] longjiquan commented on #17602
/unassign @yanliang567
/assign

[2022-06-16 12:27] #17515 closed

[2022-06-16 12:38] #16889 closed

[2022-06-16 12:38] #16652 closed

[2022-06-16 12:38] #16802 closed

[2022-06-16 12:38] #16427 closed

[2022-06-16 12:38] #16841 closed

[2022-06-16 12:59] Zach41 opened #17603 "[Enhancement]: Adding trace in logs so as to easily find all related logs for a specific request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

When proxy received a request, assign a corresponding trace id, and all the logs related to the request show have the same trace id

### Why is this needed?

Improve readability for logs

### Anything else?

_No response_

[2022-06-16 13:06] SimFG opened #17604 "[Enhancement]: Improve the implementations of the `ToPhysicalChannel` and the `ConvertChannelName` func"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Use the `strings` package to simplify the implementations of the `ToPhysicalChannel` and the `ConvertChannelName` func in the `func.go` file

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-06-16 13:14] zhuwenxing commented on #17347
@letian-jiang
In version `master-20220616-53a49a92`, the error changed to load failure.
[code]

failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/6555/pipeline
log:  [artifacts-standalone-pod-kill-6555-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8919135/artifacts-standalone-pod-kill-6555-server-logs.tar.gz)

I can open a new issue to tr

[2022-06-16 13:22] zhuwenxing commented on #17556
It still happened in version `master-20220616-53a49a92`.
Please help to take a look
/assign @yah01
/unassign

failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/6563/pipeline
log: [artifacts-querynode-pod-kill-6563-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8919196/artifacts-querynode-pod-kill-6563-server-logs.tar.gz)

[2022-06-16 13:22] soothing-rain commented on #17600
![image](https://user-images.githubusercontent.com/69466447/174078400-6d145b4c-6160-420c-aa2a-8fb33dbc7f21.png)

Not able to reproduce with the latest master branch and a clean Etcd.

Can you double check with the latest code? We recently changed some proto/meta which might cause some inconsistency.

[2022-06-16 13:26] jaime0815 opened #17606 "[Bug]: GRPC connection reset by peer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Client occurs some Grpc error:

[code]

but can not find any related error on the server side, which requests seem never to reach the server side from the client side, only find some grpc connection problems

[code]

### Expected Behavior

_No response_

### Steps To

[2022-06-16 13:27] ThreadDao commented on #16887
Image `master-20220616-00089de2`, fixed
Loading collection with insufficient memory：
- the two querynodes not OOMKilled
- Although the client does not throw exception, the server loaded failed actually.
- So call `get_replicas`、`loading_progress` gets not loaded exception.
- `get_query_segment_info` not thrown any exception but return empty list.

 After increasing the memory limit, everything is

[2022-06-16 13:27] #16887 closed

[2022-06-16 13:32] zhuwenxing opened #17607 "[Bug]: Load collection failed when running `verify_all_collections.py` with error message `failed to get segment 433948783414607873` after standalone pod kill chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Load failed when running `verify_all_collections.py`

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/6555/pipeline
log:

[2022-06-16 13:36] zhuwenxing commented on #17347
The issue https://github.com/milvus-io/milvus/issues/17607 blocked the verification

[2022-06-16 13:49] zhuwenxing commented on #17408
Many other pod kill chaos tests that were passed, now also have this issue.
datacoord: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/6568/pipeline
querynode: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/6562/pipeline

[2022-06-16 14:26] yanliang567 commented on #17600
not reproduced on [master-20220616-53a49a92]

[2022-06-16 14:26] #17600 closed

[2022-06-16 14:28] ThreadDao commented on #17091
Upgrade version from `2.0.2` to `master-20220616-00089de2` successfully! Everything looks fine!
1. Deploy milvus cluster `2.0.2`, and limit 5 querynodes memory limit
2. Insert data and load
3. Apply memory stress on one querynode which loaded the segment, but load balance failed
4. Upgrade milvus image to `master-20220616-00089de2`, load, search, release and load replicas ... are both successfully

[2022-06-16 14:44] #17091 closed

[2022-06-16 16:11] wj-0116 commented on #17505
上传下，复现用的脚本，主要是pymilvus的操作

[2022-06-16 17:50] congqixia commented on #17505
@wj-0116 quick question, it seems that your pk value is user-defined value. Does it contains duplicated pk?

[2022-06-16 20:13] majedtaki commented on #17576
Btw, looks like the issue is caused from high insert load. So I'm inserting in batches of 10k with 10RPS so 100,000 insert per second. In v2.0.2, I was able to insert similar load with no problems, it was even faster (50M vectors takes 30 mins to insert compared to 90 mins in v2.1).

I tried inserting again but with a lower load, only 10k batch a second with 1 RPS. It takes 4 hours to insert 50M v

[2022-06-16 22:33] majedtaki commented on #17576
I tried load testing with multi replica enabled (4 replicas, 20 query nodes) but I did not get much throughput improvement?

How do I scale throughput with regards number of replicas and number of query nodes.

Also, when doing the load test, the datacoord died and is failing to come back online with this error in the logs:
[code]
[code]

[2022-06-16 22:47] majedtaki commented on #17576
I fixed the error above by increasing etcd max ops so I set the env variable in the etcd deployment as follows:
[code]

[2022-06-16 23:07] majedtaki commented on #17576
I want to add, so when I release the collection I noticed that the query node ram is not completely freed. Looks like a memory leak? I had to restart all the query nodes so I could free the memory

[2022-06-16 23:52] wj-0116 commented on #17505
there is no duplicated pk, it is a auto-increament id generate by mysql.

[2022-06-17 00:10] wj-0116 commented on #17505
data sample we used to reproduce the issue.  due to size limit, I just update a few sample data.

[data.10sample.txt](https://github.com/milvus-io/milvus/files/8923497/data.10sample.txt)

[2022-06-17 00:21] xiaocai2333 commented on #17460
pr #17529 is merged, please check it.
/unassign
/assign @zhuwenxing

[2022-06-17 00:40] yanliang567 commented on #17607
/assign @congqixia
/unassign

[2022-06-17 00:43] #17564 closed

[2022-06-17 01:03] congqixia commented on #17607
From the log, the segment `433948783414607873` is marked as dropped. Maybe due to previously compaction before chaos. Might be related to #17567.
Still looking into root cause.

[2022-06-17 01:10] yah01 commented on #17556
/assign @zhuwenxing
#17608 fix merged

[2022-06-17 01:31] congqixia commented on #17607
https://github.com/milvus-io/milvus/blob/0f877636821d40f79b17097bbf4824ab9a49924c/internal/querycoord/task.go#L2594-L2609
This function tries to fetch segmentInfo with dropped segment id while datacoord will report error when a segment is marked dropped.
@wayblink @sunby any workaround to fix this problem?

[2022-06-17 01:47] zhuwenxing commented on #17367
/assign @yah01

in version `master-20220616-53a49a92`, search failed when running `verify_all_collections.py` with same error message

failed job: https://github.com/milvus-io/milvus/runs/6924247539?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/6967316556/artifacts/272180536

[2022-06-17 01:52] yah01 commented on #17367
/assign @zhuwenxing
looks same as #17556, #17608 should fix this.

[2022-06-17 02:06] jiaoew1991 commented on #17411
/unassign @congqixia
/unassign

[2022-06-17 02:07] jingkl commented on #17416
server-instance
benchmark-cluster-cron-1655413200-6
server-configmap
server-single-8c16m
client-configmap
client-random-locust

master-20220616-53a49a92
[code]

client pod:
benchmark-cluster-cron-1655413200-2684633202
pymilvus 2.1.0dev78

client log:

[code]

[2022-06-17 02:07] jiaoew1991 commented on #17416
/assign @letian-jiang

[2022-06-17 02:08] BUPTAnderson commented on #17535
I encountered a similar problem, when i exec `collection.release()`, then `partition.drop()`. After a while, i exec `collection.load()`, partition that have been deleted are still reloaded and can be searched.
@xiaocai2333 @xiaofan-luan, i have deployed the latest master branch.

[2022-06-17 02:08] jiaoew1991 commented on #17383
/assign

[2022-06-17 02:09] jiaoew1991 commented on #17383
/unassign @congqixia

[2022-06-17 02:10] zhuwenxing commented on #17203
It still happened in version `master-20220616-53a49a92`

failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/6587/pipeline
log: [artifacts-querynode-pod-failure-6587-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8923941/artifacts-querynode-pod-failure-6587-server-logs.tar.gz)

[2022-06-17 02:17] binbinlv opened #17610 "[Bug]: [kafka] Search failed for "fail to search on all shard leader, reason cannot find sealed segment 433954856578318337 in QueryNode""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/597/pipeline/

[code]

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Milvus Log

1. milvus log:
[artifacts-milvus-distributed-kafka-master-597-pymilvus

[2022-06-17 02:21] xige-16 commented on #17339
before querynode start

[code]

[2022-06-17 02:23] letian-jiang commented on #17567
/assign

[2022-06-17 02:23] xige-16 commented on #17339
after querynode restart

[code]

[2022-06-17 02:23] #17604 closed

[2022-06-17 02:30] binbinlv opened #17611 "[Bug]: Create index failed showing "CreateIndex Timeout""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Milvus Log

1. milvus log:
[artifacts-milvus-distributed-pulsar-master-596-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/596/artifact/artifacts

[2022-06-17 02:35] binbinlv commented on #15282
It has not been reproduced this week, so cancel urgent first.

[2022-06-17 02:38] wayblink commented on #17607
https://github.com/milvus-io/milvus/blob/0f877636821d40f79b17097bbf4824ab9a49924c/internal/datacoord/meta.go#L198-L208
https://github.com/milvus-io/milvus/blob/0f877636821d40f79b17097bbf4824ab9a49924c/internal/datacoord/meta.go#L1056-L1060

It is because meta.GetSegment will call isSegmentHealthy, will return nil for a dropped segment.
I don't know the background of this restriction: `segment.GetS

[2022-06-17 02:47] sunby commented on #17508
/assign @zhuwenxing
please verify it.

[2022-06-17 03:02] wayblink commented on #17607
Or add an option field in GetSegmentInfoRequest

[2022-06-17 03:14] binbinlv opened #17614 "[Bug]: Update pymilvus version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

NA

### Expected Behavior

NA

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-06-17 03:17] congqixia commented on #17607
@wayblink `isSegmentHealthy` check is required since `GetSegmentInfo` provides service for  `GetPersistentSegmentInfo` which shall return only `healthy` segments.
Add option or new API seem doable to me. However, seperate `GetRecoveryInfo` and `GetSegmentInfo` has some risk that one segment is cleaned up by GC. So do we need add reference lock here?
@sunby WDYT

[2022-06-17 03:21] yanliang567 commented on #17411
verified not repro on master-20220617-0f877636

[2022-06-17 03:51] zhuwenxing commented on #17556
@yah01
with version `master-20220617-0f877636` which includes https://github.com/milvus-io/milvus/pull/17608, this issue happened in all standalone pod kill chaos test.

failed job: https://github.com/zhuwenxing/milvus/runs/6929125633?check_suite_focus=true
log: https://github.com/zhuwenxing/milvus/suites/6971858615/artifacts/272446587

[2022-06-17 03:51] zhuwenxing commented on #17556
/assign @yah01

[2022-06-17 04:01] yanliang567 commented on #17289
not reproduce recently. degrade the priority

[2022-06-17 04:15] #16871 closed

[2022-06-17 04:15] #16901 closed

[2022-06-17 04:15] #6277 closed

[2022-06-17 04:53] yah01 commented on #17556
/assign @zhuwenxing
There's an another problem, which is fixed with #17616, plz help verify this one more time, thanks

[2022-06-17 04:54] yah01 commented on #17367
/assign @zhuwenxing
Fix patch #17616,
it is ready to be verified now

[2022-06-17 06:06] zhuwenxing commented on #17366
Not reproduced yet, so remove the critical label.

[2022-06-17 06:09] zhuwenxing commented on #17432
It reproduced again! @XuanYang-cn  Please help to take a look.
/assign @XuanYang-cn

failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/6624/pipeline/
log: [artifacts-datanode-pod-kill-6624-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8924912/artifacts-datanode-pod-kill-6624-server-logs.tar.gz)

[2022-06-17 06:14] #17602 closed

[2022-06-17 06:14] xiaofan-luan commented on #17597
is this related to compaction issue?

[2022-06-17 06:24] LoveEachDay commented on #17286
Same issue: minio cluster does not initialized correctly. So datacoord, indexcoord, querycoord, datanode , indexnode and querynode are not ready.

Here is the indexcoord log:
[code]
datacoord log:
[code]

[2022-06-17 06:49] jaime0815 commented on #17606
reated #15282

[2022-06-17 08:03] czs007 commented on #17513
@longjiquan help

[2022-06-17 08:28] yaroslavm commented on #15810
Hi @whj0401, set `nprobe` as search param. I've written more details here: https://github.com/milvus-io/milvus/issues/15294

[2022-06-17 08:40] #15807 closed

[2022-06-17 08:55] yhmo commented on #17425
The #17570 fix the problem. The bulkload pending task list max size is 32, if a bulkload operation want to add 5 tasks into the list, but the pending list only has 4 spare positions, the bulkload() interface will return an error status to the client, and the client will throw an exception to user. User can use try/except to catch the exception and retry the operation.

[2022-06-17 08:57] xiaocai2333 commented on #17611
sorry, my bad, when GetIndexState, I got all the segments in the meta.
If there is multiple collections, it will get all segments of all collections. I will fix it.

[2022-06-17 09:06] xiaocai2333 commented on #17611
When segments was compacted, RootCoord not notify IndexCoord to remove the indexes on old segments. IndexCoord acquires the lock failed from DataCoord. It will retry util timeout.

pr #17490  will fix it.

[2022-06-17 09:18] yanliang567 commented on #17425
@yongpengli-z could you please help to verify the fix?

/assign @yongpengli-z
/unassign

[2022-06-17 09:38] #17580 closed

[2022-06-17 10:05] xige-16 commented on #17339
/assign @jingkl

[2022-06-17 10:10] xiaocai2333 commented on #17611
pr  #17490 is merged, please check it.
/unassign
/assign @xiaocai2333

[2022-06-17 10:10] xiaocai2333 commented on #17408
pr is merged, please check it
/unassign
/assign @zhuwenxing

[2022-06-17 10:11] xiaocai2333 commented on #17369
/unassign
/assign @zhuwenxing
please check it

[2022-06-17 10:21] xige-16 commented on #17434
/assign @czs007

[2022-06-17 10:34] jingkl commented on #17339
I am going to re-test this scenario @xige-16

[2022-06-17 10:34] xige-16 commented on #17434
I did the e2e performance test of milvus 2.0.2 and the master branch, and found that the master branch has obvious performance regression when nprobe=512

2.0.2
[code]

master
[code]

[2022-06-17 11:04] wayblink commented on #17607
@zhuwenxing A pr is merged to fix this issue. Could you help to verify it, please?

[2022-06-17 12:52] xiaofan-luan commented on #17611
/assign @binbinlv

[2022-06-17 12:52] ThreadDao opened #17625 "[Bug]: Query gets deleted entities if manually compaction"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]
[code]
    def test_compact_both_delete_merge(self):
        """
        target: test compact both delete and merge
        method: 1.create collection with shard_num=1
                2.insert data into two segments
                3.delete and flush (new insert)
                4.compact

[2022-06-17 12:53] binbinlv commented on #17611
From CI, it not occurs, so cancel the urgent first, and will close it if it is OK in today's nightly.

[2022-06-17 12:56] ThreadDao commented on #15665
Image `master-20220617-074ec306`:
[code]

[2022-06-17 13:21] yanliang567 commented on #17625
/assign @xige-16
/unassign

[2022-06-17 13:22] yanliang567 commented on #17625
/assign @xiaofan-luan

[2022-06-17 14:31] zhuwenxing commented on #17508
failed job: https://github.com/zhuwenxing/milvus/runs/6936878605?check_suite_focus=true

/assign @sunby
Please take a look

[2022-06-17 14:57] zhuwenxing opened #17627 "[Bug]: Search failed with error message `ShardCluster for by-dev-rootcoord-dml_1_433972442115604481v1 replicaID 433972428256051202 is no available` after querynode pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

search failed when running `hello_milvus.py`
[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: https://github.com/zhuwenxing/milvus/runs/6936878852?check_suite_focus=true
log: https://github.com/zhuwenxin

[2022-06-17 15:01] zhuwenxing commented on #17607
For some other pod kill chaos tests, the error message of load failure changed to
[code]

see:
etcd:https://github.com/zhuwenxing/milvus/runs/6936879067?check_suite_focus=true
rootcoord: https://github.com/zhuwenxing/milvus/runs/6936878971?check_suite_focus=true
proxy: https://github.com/zhuwenxing/milvus/runs/6936878474?check_suite_focus=true
datacoord: https://github.com/zhuwenxing/milvus/runs/6

[2022-06-17 15:26] xige-16 commented on #17625
no delta log when querynode load the compacted segment
[code]

[2022-06-17 15:28] zhuwenxing commented on #17556
This issue happened in another chaos test.

failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/6690/pipeline/
log: [artifacts-etcd-io-latency-6690-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8928797/artifacts-etcd-io-latency-6690-server-logs.tar.gz)

Although the name of this chaos is etc networks latency, the real impact of the chaos is

[2022-06-17 15:28] zhuwenxing commented on #17556
/assign @yah01

[2022-06-17 15:40] yanliang567 commented on #17627
@jiaoew1991 could you please help to take a look at this issue?

/assign @jiaoew1991
/unassign

[2022-06-17 15:53] xige-16 commented on #17625
![fHbUwSgvtT](https://user-images.githubusercontent.com/20124155/174333620-566cab17-ff0d-4b9a-ab27-6ea87848a253.jpg)

[2022-06-17 16:04] xige-16 commented on #17625
It seems that delta data may be missed during datanode compaction. @xiaofan-luan

[2022-06-17 16:16] xiaofan-luan commented on #17625
I will take on look on the compaction part tomorrow~

[2022-06-17 22:28] Uzay-G commented on #7195
I am also having a problem like this: when I call `num_entities` it just hangs. Was the issue closed because it's been fixed?

[2022-06-18 01:19] binbinlv opened #17629 "[Bug]: [Nightly] Failed to drop index"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Failed to drop index
[code]

### Expected Behavior

Drop index successfully

### Steps To Reproduce

[code]

### Milvus Log
[code]

### Anything else?

_No response_

[2022-06-18 01:20] binbinlv commented on #17629
It could be reproduced steadily in all the pipelines, set it as urgent.

[2022-06-18 01:22] binbinlv commented on #17629
@xiaocai2333
Could you help to check whether this is caused by the pr you raised yesterday for fixing issue #17611?

Thanks.

[2022-06-18 01:58] zhuwenxing commented on #17607
The issue https://github.com/milvus-io/milvus/issues/17607#issuecomment-1158959357 is not reproduced today but it seems there is no fix for it.

[2022-06-18 02:29] zhuwenxing commented on #17627
Not reproduced in today's pod kill chaos test GitHub action, https://github.com/milvus-io/milvus/runs/6941136771?check_suite_focus=true

[2022-06-18 02:39] xiaofan-luan commented on #17625
The lefted deltalogs should be added at CompleteMergeCompaction in meta.go(Datacoord)
Otherwise the new generated segment should inherit the check point from compacted from segments.
Looking into the delta log part.

[2022-06-18 02:40] yongpengli-z commented on #17425
actual reason：when the task is not completed before collection dropped ,the task will always pending.
this bug

[2022-06-18 02:40] #17425 closed

[2022-06-18 02:43] xiaofan-luan commented on #17625
![image](https://user-images.githubusercontent.com/83447078/174419515-c3385e82-abd4-4910-90c9-684a0e425942.png)

[2022-06-18 02:44] xiaofan-luan commented on #17625
I thought the dml position should pick the earliest of all segments but not he latest, what do you think? @sunby @xige-16

[2022-06-18 03:31] xiaofan-luan opened #17632 "[Enhancement]: Refine rootcoord meta"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

1. change the DDL log mechanism, as well as atomicity and idempotency
2. refine meta data structure
3. some naming and code structure refactor

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-06-18 03:31] xiaofan-luan commented on #17632
/assign @xiaofan-luan

[2022-06-18 03:47] wayblink commented on #17607
You mean the load_collection error above still exists?

It seems like another issue? error is about load_collection instead of get_segment_info.

[2022-06-18 03:47] wayblink commented on #17607
You mean the load_collection error still exist?

[2022-06-18 04:01] wayblink commented on #17607
This one: https://github.com/milvus-io/milvus/pull/17617
So the load_collection error didn't occur today?

[2022-06-18 08:02] houlang opened #17633 "[Enhancement]: $ go get -u github.com/milvus-io/milvus-sdk-go/v2; Golang SDK fail to install"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

$ go get -u github.com/milvus-io/milvus-sdk-go/v2;  Golang SDK fail to install。

### Why is this needed?

Unable to continue the work

### Anything else?

When will the C++SDK come out? It is better to have C++SDK, save using C++ to drop Golang.

[2022-06-18 09:03] yhmo commented on #17600
Reproduce steps:
1. create collection
2. bulkload 10 row-based json files
3. load collection
4. get num_entities of collection

Could hang at step 4, the client num_entities call flush() then GetFlushState() to wait flush finish, it receive some segment ids from flush(), then call GetFlushState() to check flushed state, but these segment flushed state always false.

[2022-06-18 09:16] yhmo commented on #17600
Reproduce script:
[example_bulkload.txt](https://github.com/milvus-io/milvus/files/8933271/example_bulkload.txt)

[2022-06-18 10:30] congqixia commented on #17607
@zhuwenxing I think @wayblink's #17617 and letian's #17619 shall fix this problem.

[2022-06-18 10:40] congqixia commented on #17633
Hi @houlang Thanks for the issue.
Just tested with the command you provided, SDK installed successfully.
[code]
Some small tips:
- Is goproxy setup properly?
- Do you want to install it inside a project with go mod?
- Do a previous sdk version exist inside you project already?

[2022-06-18 10:53] congqixia commented on #17625
lgtm, delete msg could be consumed multiple times without affecting the correctness.

[2022-06-18 11:53] rocke2020 commented on #16606
@yanliang567 sincerely waiting for milvus 2.1 as soon as possible. milvus 2.0.2 is slower and have this serious bug. thanks!!

[2022-06-18 13:16] #15534 closed

[2022-06-18 19:58] houlang commented on #17633
Yes, I did. Thank you

[2022-06-19 01:48] xiaofan-luan commented on #16851
mark as open

[2022-06-19 01:48] xiaofan-luan commented on #17112
keep open

[2022-06-19 01:49] xiaofan-luan commented on #17114
keep open

[2022-06-19 01:49] xiaofan-luan commented on #17115
/reopen

[2022-06-19 01:50] xiaofan-luan commented on #16532
keep open

[2022-06-19 01:52] xiaofan-luan commented on #16532
we should think of update scalar field in binlog and batching delete/insert if user want to update vector field

[2022-06-19 06:47] xiaofan-luan commented on #17625
/assign @ThreadDao pls verify on it

[2022-06-20 01:20] xiaocai2333 commented on #17629
working on it~

[2022-06-20 01:31] xiaocai2333 commented on #17629
it will fix by #17635

[2022-06-20 01:35] xiaocai2333 commented on #17521
/close

[2022-06-20 01:36] #17521 closed

[2022-06-20 02:14] jaime0815 commented on #17632
suggest waiting for #17042  check in master, or some work is duplicated.

[2022-06-20 02:20] xiaocai2333 commented on #17031
DATA RACE about param_table

https://github.com/milvus-io/milvus/runs/6959360748?check_suite_focus=true

[2022-06-20 02:26] zhuwenxing commented on #17607
Yes, now the error message of load is not `failed to get segment xxx`, but changed to `has not been loaded to memory or load failed`

a new failed job
https://github.com/milvus-io/milvus/runs/6956973459?check_suite_focus=true

[2022-06-20 02:28] xiaofan-luan commented on #17335
I saw the seek is happened on TTMsgsStream, could this be a timetick issue rather than pulsar issue?
In TTMsgStream seek always wait for a timetick but it could be find one?
Otherwise I guess at least we should get a seek error or something?

[2022-06-20 02:34] aakejiang opened #17636 "[Bug]: segments are missing when dropping vchannel"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![6W2NZ9qW50](https://user-images.githubusercontent.com/68629395/174514829-65961a74-2af2-4392-bbff-5a2218a0388b.jpg)

When dropping vchannel, the segments in DropVirtualChannelRequest are not assigned, no other places as well.
This will cause dropped segments will not

[2022-06-20 02:35] aakejiang commented on #17636
assign @congqixia

[2022-06-20 02:36] aakejiang commented on #17636
/unassign
/assign @congqixia

[2022-06-20 02:39] wangting0128 opened #17637 "[Bug]: [benchmark][50million] RT of search lager than before"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task:benchmark-cron-1655568000

test yaml:
client-configmap:client-search-sift50m-ivf-flat-2048,instanceId:6,server-configmap:server-single-16c64m

server:
[code]

client pod: benchmark-cron-1655568000-3132445966

client log:
<img width="1504" alt="截屏2022-06-20 1

[2022-06-20 02:44] ThreadDao commented on #17625
Fixed `master-20220619-516d9147`

[2022-06-20 02:44] #17625 closed

[2022-06-20 02:46] jingkl commented on #17416
master-20220617-074ec306
2.1.0.dev70

argo
test-etcd-no-clean-9457l
server-configmap
server-cluster-8c64m-kafka
client-configmap
client-random-locust-100m-ddl-r8-w2
[code]

[code]

[2022-06-20 02:50] zhuwenxing commented on #17286
Here is another failed job with new error message
[code]
failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/6745/pipeline
log:[artifacts-proxy-network-partition-6745-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8937164/artifacts-proxy-network-partition-6745-server-logs.tar.gz)

[2022-06-20 02:54] congqixia commented on #17416
After fix pr for #17567 is merged, this problem shall be resolves. Could you please verify? @jingkl
/assign @jingkl

[2022-06-20 02:54] xiaofan-luan commented on #17637
@wangting0128 what about the throughput? do we request milvus concurrently or only single thread?

[2022-06-20 02:56] #17355 closed

[2022-06-20 02:56] zhuwenxing commented on #17286
failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/6747/pipeline

[2022-06-20 02:57] congqixia commented on #17203
@zhuwenxing #17608 might fix this problem. Does this issue still persist in latest master version?

[2022-06-20 02:57] wangting0128 commented on #17637
@xiaofan-luan  only single thread

[2022-06-20 02:57] congqixia commented on #17566
@xige-16 shall we could is issue?

[2022-06-20 03:04] jingkl opened #17638 "[Bug]: [Milvus][cluster]Milvus pods restart raise an error"syncTimestamp Failed:err: find no available rootcoord, check rootcoord state""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
test-etcd-no-clean-lb6xk-1
server-configmap
server-cluster-8c64m
client-configmap
client-random-locust-100m-ddl-r8-w2-10h

[code]

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### A

[2022-06-20 03:04] xiaofan-luan commented on #17636
Don't quite understand about this.
Why does drop virtual channel request from datanode to datacoord?

[2022-06-20 03:05] bigsheeper commented on #17637
cpu perf looks well，I‘ll make a test to reproduce

<img width="1372" alt="image" src="https://user-images.githubusercontent.com/42060877/174517917-94f500df-aee8-46e7-9ca4-bc337c1f85dd.png">

[2022-06-20 03:18] #17638 closed

[2022-06-20 03:19] zhuwenxing commented on #17203
I will check it soon

[2022-06-20 03:25] yanliang567 commented on #17383
@congqixia any updates?

[2022-06-20 03:29] #17566 closed

[2022-06-20 03:29] xiaofan-luan commented on #17566
close due to the fix of 17609

[2022-06-20 03:32] xiaofan-luan commented on #15294
Anyone interested pls help on this issue

[2022-06-20 03:32] xiaocai2333 opened #17639 "[Bug]: Proxy ut fails to run"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

proxy ut failed.
https://github.com/milvus-io/milvus/runs/6959508267?check_suite_focus=true
[code]

### Expected Behavior

proxy ut run successfully.

### Steps To Reproduce

[code]

### Milvus Log

https://github.com/milvus-io/milvus/runs/6959508267?check_suite_focus

[2022-06-20 03:33] #15665 closed

[2022-06-20 03:33] xiaofan-luan commented on #15785
This is a compatibility issue of channel prefix that has been fixed

[2022-06-20 03:34] #15882 closed

[2022-06-20 03:34] longjiquan commented on #17639
/unassign @yanliang567
/assign

[2022-06-20 03:35] longjiquan commented on #17639
@xiaocai2333 thx for reporting this. I'll fix this soon.

[2022-06-20 03:35] xiaofan-luan commented on #16047
should be fixed by the compaction policy and #17441,  close for now

[2022-06-20 03:35] #16047 closed

[2022-06-20 03:35] xiaofan-luan commented on #16055
leave it there

[2022-06-20 03:36] xiaofan-luan commented on #16134
@wayblink shall we close this issue?

[2022-06-20 03:36] #16265 closed

[2022-06-20 03:48] xiaofan-luan commented on #16429
@bigsheeper is this still a issue?

[2022-06-20 03:51] xiaofan-luan commented on #16602
@yah01 is this still a issue?

[2022-06-20 03:52] bigsheeper commented on #16429
Didn't appear for a long time, we could keep it open

[2022-06-20 04:28] congqixia commented on #17639
Same error here:
https://github.com/milvus-io/milvus/runs/6960306495?check_suite_focus=true
First issue #9997

[2022-06-20 04:59] #16297 closed

[2022-06-20 05:02] jiaoew1991 commented on #17383
From the logs only can figure out the querynode did not set tsafe timestamp of the delta channel correctly.
We need add more logs and build  a new image,  retest it.

[2022-06-20 05:03] xiaofan-luan commented on #16750
keep it there, we are going to think about it

[2022-06-20 05:04] xiaofan-luan commented on #16607
@soothing-rain is this still a valid issue?

[2022-06-20 05:04] xiaofan-luan commented on #16648
/assign @ThreadDao should we close it?

[2022-06-20 05:05] xiaofan-luan commented on #16606
this might not be a issue is latest master, pls check it ~

[2022-06-20 05:05] #16606 closed

[2022-06-20 05:05] #17151 closed

[2022-06-20 05:06] #17148 closed

[2022-06-20 05:07] xiaofan-luan commented on #17107
keep it

[2022-06-20 05:10] yanliang567 commented on #16607
@xiaofan-luan yes, as data_queryable is not working well for now, so users are not able to know when the imported data is ready for searching.

[2022-06-20 05:40] #17636 closed

[2022-06-20 06:09] LoveEachDay commented on #17286
This error message `etcdserver: request timed out` does not refers the etcd cluster which installed alongside with milvus cluster. It means for the `etcd server` which is used by the kubernetes api server.

And the milvus cluster and its dependencies are installed successfully. Here we'd better handle this kind of error.

[2022-06-20 06:28] xiaocai2333 commented on #17535
@xige-16 please help this~
/assign @xige-16

[2022-06-20 06:34] wayblink commented on #17607
https://github.com/milvus-io/milvus/suites/6997534572/artifacts/274320003
datanode：
[2022/06/19 18:55:01.014 +00:00] [DEBUG] [segment_loader.go:171] ["start to load segments in parallel"] [segmentNum=8] [concurrencyLevel=2]
[2022/06/19 18:55:01.014 +00:00] [DEBUG] [parallel.go:55] [loadSegmentFunc] [total=8]
[2022/06/19 18:55:01.014 +00:00] [DEBUG] [parallel.go:56] [loadSegmentFunc] [nPerBatch=4]

[2022-06-20 06:34] LoveEachDay commented on #17286
Same error for this failed milvus installation due to the minio cluster installation failed.

[2022-06-20 06:42] wayblink commented on #17607
@zhuwenxing @congqixia seems like a new issue, do we need to close this one and open a new one?It seems the key problem is failed to read segment from minio.
[code]

[2022-06-20 06:58] zhuwenxing commented on #17607
I prefer to open a new issue

[2022-06-20 07:01] wayblink commented on #16134
Let's keep it, still explore it.

[2022-06-20 07:12] bigsheeper commented on #17637
![image](https://user-images.githubusercontent.com/42060877/174545105-9b9c4735-fe05-4f89-84bf-540e984d94a3.png)

[2022-06-20 07:21] longjiquan commented on #17639
Tried to use gdb to locate the problem, but nothing got. Keep tracking...

[code]

[2022-06-20 07:22] zhuwenxing opened #17645 "[Bug]: Load failed with error message `collection xxx has not been loaded to memory or load failed` after `allcluster` pod kill chaos test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

failed job: https://github.com/milvus-io/milvus/runs/6956973459?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/6997534572/artifacts/274320003

[2022-06-20 07:23] zhuwenxing commented on #17607
I have opened a new issue to trace the latest load error
see https://github.com/milvus-io/milvus/issues/17645

[2022-06-20 07:25] zhuwenxing commented on #17645
/assign @wayblink
/assign @yah01
please help to take a look!

[2022-06-20 07:29] congqixia commented on #17607
@wayblink from the log you provide, looks like the the missing file was the index log file.
@xiaocai2333  FYI

[2022-06-20 07:33] xiaocai2333 commented on #17607
Yes, this is the index file. When loading Segment, if the segment is compacted, the binlog file will not be deleted due to the reference lock, but the index files will be deleted.

[2022-06-20 07:36] xiaocai2333 commented on #17607
I have a suggestion, when there is reference lock on the segment, the segment can not be compacted. @xiaofan-luan @congqixia WDYT

[2022-06-20 07:43] zhuwenxing commented on #17645
/unassign @yah01

[2022-06-20 07:45] xiaocai2333 commented on #17629
please check it, thanks. @binbinlv
/unassign
/assign @binbinlv

[2022-06-20 07:52] yongpengli-z commented on #17429
I verified by your code and file. But my result is OK。I used querySegmentInfo find the num_rows is 2130904.
The result search by  milvus_cli is 2130904.
![5C34gxrxhu](https://user-images.githubusercontent.com/103410837/174552101-3a4938ff-e7ea-4a90-a160-ced6c79eaad2.jpg)
![img_v2_6683ebfd-9200-4d96-9e6e-c2f2c43ca0cg](https://user-images.githubusercontent.com/103410837/174552134-79318edf-eff5-438d-8

[2022-06-20 08:03] xiaocai2333 commented on #17645
When loading Segment, if the segment is compacted, the binlog file will not be deleted due to the reference lock, but the index files will be deleted.

I have a suggestion, when there is reference lock on the segment, the segment can not be compacted.
/assign

[2022-06-20 08:05] xiaocai2333 commented on #17645
This problem did not occur before, because the segment was compacted before, RootCoord did not notify IndexCoord to delete the corresponding index.

[2022-06-20 08:25] zhuwenxing commented on #17556
failed job:
all standalone: https://github.com/zhuwenxing/milvus/runs/6957017267?check_suite_focus=true
querynode: https://github.com/zhuwenxing/milvus/runs/6950019524?check_suite_focus=true

[2022-06-20 08:45] xiaofan-luan commented on #17645
We should have this on 2.1, there are a lot of issue relies on reference lock issue

[2022-06-20 08:46] xiaocai2333 commented on #17645
working on it~

[2022-06-20 08:47] xiaofan-luan commented on #17637
So there seems to be a big gap between local machine and benchmark?

[2022-06-20 08:49] xiaofan-luan commented on #17130
we are not gonna to support string in a long period

[2022-06-20 08:49] #17130 closed

[2022-06-20 08:54] bigsheeper commented on #17637
There‘s only 2 differences between local machine and benchmark:
1. local machine:12c32g, benchmark:16c64g
2. local machine:10m, benchmark:50m
I don't think these 2 differences could cause the big gap

[2022-06-20 08:55] zhuwenxing opened #17647 "[Bug]: Etcd will crash when upgrading from bitnami/etcd:3.5.0-debian-10-r24 to milvusdb/etcd:3.5.0-r1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all success

### Steps To Reproduce

[code]

### Milvus Log

failed job: https://github.com/zhuwenxing/milvus/runs/6963009439?check_suite_focus=true
log: https://github.com/zhuwenxing/milvus/suites/7003036320/artifacts/274729697

### Any

[2022-06-20 09:10] bigsheeper commented on #17637
**2.0.2** test result (still on my 12c32g machine:):
Start Milvus standalone (commit-id:7734b9e61)
Insert 10m rows of data (sift128) ;
Create IVF_FALT index with nlist=2048
Do search with nprob=8, search result:

| TopK 	| NQ   	| AvgTime/1000      	| QPS               	| SearchPartitions 	|
|------	|------	|-------------------	|-------------------	|------------------	|
| 100  	| 1000 	| 1.1774604

[2022-06-20 09:15] #16956 closed

[2022-06-20 09:15] #16807 closed

[2022-06-20 09:15] #16986 closed

[2022-06-20 09:16] #7700 closed

[2022-06-20 09:16] #16994 closed

[2022-06-20 09:36] yanliang567 commented on #17647
@LoveEachDay could you please take a look first?

/assign @LoveEachDay
/unassign

[2022-06-20 09:52] xiaofan-luan opened #17648 "[Bug]: Drop partition didn't trigger datacoord segment to be dropped"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Currently, when we call drop partition, we have no way to update segment state to dropped, All the segment is left there and can not be cleaned for ever, this also incur that indexes can not be cleaned.

Drop collection handling is triggered by setting channel to drop

[2022-06-20 09:53] xiaofan-luan commented on #17648
/assign @wayblink

[2022-06-20 10:00] longjiquan commented on #17639
I was wondering if golang runtime itself caused this problem. I confirmed that `SIGABORT` was raised after all ut cases have been passed.

![image](https://user-images.githubusercontent.com/31589260/174577854-2013f783-c657-4cbf-8441-46a5e8e788cf.png)

[2022-06-20 10:13] jingkl opened #17651 "[Bug]: [benchmark][cluster]Milvus datanode memory grows suddenly when it is inserted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo
test-etcd-no-clean-zmhf6
server-configmap
server-cluster-8c64m
client-configmap
client-random-locust-100m-ddl-r8-w2
<img width="1360" alt="截屏2022-06-20 18 12 59" src="https://user-images.githubusercontent.com/34296482/174580137-fc77c18f-7724-4ea2-8b9d-12608cefa61

[2022-06-20 10:18] jingkl commented on #17651
server-instance
test-etcd-no-clean-p9vrm-1
server-configmap
server-cluster-8c64m
client-configmap
client-random-locust-100m-ddl-r8-w2-1h

master-20220620-f123d657
2.1.0dev78

[code]
<img width="1367" alt="截屏2022-06-20 18 18 07" src="https://user-images.githubusercontent.com/34296482/174581004-b11b1f66-283c-48aa-a363-431d212366a0.png">

[2022-06-20 11:15] zhuwenxing commented on #17647
It reproduced stably
failed job: https://github.com/zhuwenxing/milvus/runs/6964284781?check_suite_focus=true

[2022-06-20 12:18] xiaofan-luan commented on #17040
@congqixia is this a fixed issue?

[2022-06-20 12:18] xiaocai2333 commented on #17637
My fault, made a low-level error, it has been fixed, please check it. @wangting0128
/unassign @bigsheeper
/assign @wangting0128

[2022-06-20 12:18] xiaofan-luan commented on #16997
should be fixed by 2.1 by the segment reference lock

[2022-06-20 12:18] #16997 closed

[2022-06-20 12:19] #17030 closed

[2022-06-20 12:19] #16993 closed

[2022-06-20 12:21] #16860 closed

[2022-06-20 12:24] xiaofan-luan commented on #17368
I thought the dropped segment is not handled in datacoord so num entities is still wrong

[2022-06-20 12:25] xiaofan-luan commented on #17368
related with #17648

[2022-06-20 12:27] xiaofan-luan commented on #17365
done, close for now

[2022-06-20 12:27] #17365 closed

[2022-06-20 12:29] xiaofan-luan commented on #17314
/assign @xiaocai2333
pls check if it is still a issue

[2022-06-20 12:30] #17280 closed

[2022-06-20 12:31] xiaofan-luan commented on #17277
@cydrain any progress on this one?

[2022-06-20 12:32] xiaofan-luan commented on #17226
@sunby any progress on it?

[2022-06-20 12:36] haorenfsa opened #17653 "[Bug]: RESTful API request failed when contains protobuf's oneof type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Return error when sends requests contains protobuf's oneof type, eg: create collection

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-06-20 12:36] haorenfsa commented on #17653
/assign

[2022-06-21 01:27] yanliang567 opened #17656 "[Bug]: pymilvus 2.0.2 fails to search against Milvus 2.1 master build on collections that created on 2.0.2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. deploy Milvus 2.0.2 and pymilvus 2.0.2
2. create collection, insert data, create index and load()
3. verify search successfully
4. upgrade Milvus to 2.1(master-20220620-f123d657)
5. load the previous collection again with pymilvus 2.0.2
[code]
7. search the previou

[2022-06-21 01:56] xiaofan-luan commented on #17651
Good catch, we probably want to add what's inside a compaction plan each time.
Mean while  we will quickly go through the compaction plan see if anything we can improve to avoid memory cpy

[2022-06-21 02:14] binbinlv commented on #17629
From the results of last nightly, it is fixed. Close it.

[2022-06-21 02:14] #17629 closed

[2022-06-21 02:15] binbinlv commented on #17611
It is not reproduced from nightly, so fixed. Close it.

[2022-06-21 02:15] #17611 closed

[2022-06-21 02:16] #17530 closed

[2022-06-21 02:17] sunby commented on #17508
Fixed in https://github.com/milvus-io/milvus/pull/17642

[2022-06-21 02:24] binbinlv commented on #13045
It is reproduced in the latest nightly, so reopen it.

[2022-06-21 02:25] zhuwenxing commented on #17645
/assign @xiaocai2333

version `master-20220620-32a3ed07`
failed job: https://github.com/milvus-io/milvus/runs/6972484048?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/7011809634/artifacts/275312844 (log is in dir `data-consist-test`)

[2022-06-21 02:31] zhuwenxing commented on #17645
indexcoord: https://github.com/milvus-io/milvus/runs/6972483329?check_suite_focus=true

[2022-06-21 02:33] binbinlv commented on #13045
It is reproduced in both pulsar standalone and kafka cluster pipeline.

pulsar standalone:

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/605/pipeline/124/

1. milvus log:
[artifacts-milvus-standalone-master-605-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/605/artifact/artifacts-milvus-standalone-maste

[2022-06-21 02:34] yah01 commented on #16602
It's fixed with the changing to the interface of quering segments, which reads segments from meta (for sealed segments) now instead of RPC to all QueryNodes

[2022-06-21 02:34] #16602 closed

[2022-06-21 03:03] longjiquan commented on #16922
We can modify configuration of etcd for fast fix, though `128` is big enough for most users. We can also optimize these code by spliting txn requests.

[2022-06-21 03:03] #16922 closed

[2022-06-21 03:05] congqixia opened #17660 "[Bug]: storage.Datasorter does not handle vector correctly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When doing `Swap`, datasorter only process the first and second vectors.

### Expected Behavior

DataSorter sort data correctly.

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

Related to #17505

[2022-06-21 03:18] zhuwenxing commented on #17432
version `master-20220620-32a3ed07`

failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/6907/pipeline/
log:  [artifacts-datanode-pod-kill-6907-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8945505/artifacts-datanode-pod-kill-6907-server-logs.tar.gz)

[2022-06-21 03:28] #17464 closed

[2022-06-21 03:32] congqixia commented on #17040
@ThreadDao There are several fix for load balance, does this problem still persist?

[2022-06-21 03:33] congqixia commented on #17077
"Invalid shard leader" issue should has been fixed. Could you please verify? @yanliang567

[2022-06-21 03:34] xiaofan-luan commented on #17660
good catch

[2022-06-21 03:37] yanliang567 commented on #17077
not reproduce recently, close

[2022-06-21 03:37] #17077 closed

[2022-06-21 03:38] #17660 closed

[2022-06-21 03:45] jiaoew1991 commented on #17383
We found 2 prs related to this issue

#17550  after new datanode online, caused infinite loop,
#17642  new querynode cannot consume TT message from plusar

[2022-06-21 03:46] jiaoew1991 commented on #17383
/assign @zhuwenxing

[2022-06-21 04:06] bigsheeper commented on #17537
DataCoord keep creating consumer and closing consumer over and over again:
[code]

[2022-06-21 04:11] xige-16 opened #17664 "[Bug]: load failed and throw error "rpc error: trying to send message larger than max (3134501 vs. 2097152)""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

when querycoord save load segment req to etcd, throw error "error=\"rpc error: code = ResourceExhausted desc = trying to send message larger than max (3134501 vs. 2097152)\"]\"

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Lo

[2022-06-21 04:41] zhuwenxing commented on #17203
a failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/6920/pipeline

but the error message is changed to `fail to Search, QueryNode ID=6, reason=ShardCluster for by-dev-rootcoord-dml_3_434053604802560001v1 replicaID 434053592586911766 is no available`

may related to https://github.com/milvus-io/milvus/issues/17627

[2022-06-21 04:53] zhuwenxing commented on #17537
version `master-20220621-eb1f0bc8`
failed job: https://github.com/zhuwenxing/milvus/runs/6977674345?check_suite_focus=true
log: https://github.com/zhuwenxing/milvus/suites/7016658817/artifacts/275608929

[2022-06-21 05:49] xiaofan-luan commented on #17651
We might has some issue calculating when is the right segment to run compaction.

[2022-06-21 05:50] xiaofan-luan commented on #17639
used to hit similar issue, does this only happen on ut or even in production

[2022-06-21 05:57] zhuwenxing commented on #17408
Not reproduced yet! remove the critical label.

[2022-06-21 06:03] zhuwenxing commented on #17347
Not reproduced yet, remove the critical label.

[2022-06-21 06:06] #17664 closed

[2022-06-21 06:07] longjiquan commented on #17639
No similar issue found in regression or any other users. @xiaofan-luan

[2022-06-21 06:08] #17443 closed

[2022-06-21 06:10] bigsheeper commented on #17436
Didn't reproduce for many days, move to 2.1GA

[2022-06-21 06:14] zhuwenxing commented on #16134
failed job: https://github.com/zhuwenxing/milvus/runs/6978232289?check_suite_focus=true
log: https://github.com/zhuwenxing/milvus/suites/7017209278/artifacts/275695453

[2022-06-21 06:51] xige-16 commented on #17535
I tried to reproduce according to your description, but after drop partition(partition_name = "new_partition"), the partition cannot be searchedor be reloaded. could you please provide your code to reproduce? @BUPTAnderson

[2022-06-21 07:00] XuanYang-cn commented on #17432
[code]

[2022-06-21 07:41] SimFG opened #17672 "[Bug]: Rpc retry policy does not take effect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Wrongly set rpc retry policy

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-06-21 07:57] longjiquan commented on #17513
Querynode's log indicate that the related timeout cases are ready to do, so it's not timetick caused this issue. It's hard to find what step the request finally ends, every log is same without msg id.

[2022-06-21 08:01] bigsheeper commented on #17436
Milvus disconnected from etcd:
[code]

[2022-06-21 08:02] #16648 closed

[2022-06-21 08:08] jingkl opened #17674 "[Bug]: [benchmark][cluster]Milvus search with compaction raise an error"_MultiThreadedRendezvous: StatusCode.DEADLINE_EXCEEDED, Deadline Exceeded""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo
test-etcd-no-clean-6pnp6
server-configmap
server-cluster-8c64m-compaction
client-configmap
client-random-locust-compaction

[code]

client:

[code]

### Expected Behavior

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

[

[2022-06-21 08:08] elstic opened #17675 "[Bug]: Document links do not point to"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

_No response_

### Current Behavior

The documentation for the milvus API points to  404

![image](https://user-images.githubusercontent.com/48523564/174748385-eb9cbc8d-16b6-4ad2-9071-3e1c51ef956c.png)
![image](https://user-images.githubusercontent.com/48523564/174748487-2e582340-06fc-47e7-be68-4b

[2022-06-21 08:12] wangting0128 commented on #17637
argo task：benchmark-cron-6q6v4

test yaml：
client-configmap:client-search-sift50m-ivf-flat-2048,instanceId:6,server-configmap:server-single-16c64m

server：
[code]

client pod:benchmark-cron-6q6v4-1784919653

client log:
<img width="1493" alt="截屏2022-06-21 16 12 34" src="https://user-images.githubusercontent.com/26307815/174750339-7841bea3-2e27-4c86-ba4f-416e696fc73d.png">

2022-5-11:
<img width="7

[2022-06-21 08:14] yah01 commented on #17556
/assign @zhuwenxing
plz check this with #17663

[2022-06-21 08:15] yah01 commented on #17367
/assign @zhuwenxing
same as #17553

[2022-06-21 08:28] #17607 closed

[2022-06-21 08:30] yanliang567 commented on #17672
/assign @SimFG
/unassign

[2022-06-21 08:39] xiaofan-luan commented on #17508
@zhuwenxing pls help on verifying it

[2022-06-21 08:46] XuanYang-cn commented on #17639
https://github.com/milvus-io/milvus/runs/6980067517?check_suite_focus=true

[2022-06-21 08:50] XuanYang-cn opened #17676 "[Bug]: --- FAIL: TestChannelManager_StateTransfer/ToWatch-WatchFail-ToRelease"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

/assign @XuanYang-cn
/unassign @yanliang567

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-06-21 08:51] XuanYang-cn commented on #17676
[code]

[2022-06-21 08:56] xiaocai2333 commented on #17637
It will be fixed by pr #17659 .

[2022-06-21 09:09] ThreadDao commented on #17040
Fixed `master-20220621-eb1f0bc8`

Create collection stress_issue_17040 with 1 shard, insert 5000 entities and flush 2 segments
Load with 2 replicas
[code]
[code]

Apply memory stress on querynode-3 and trigger load balance:
[code]

[2022-06-21 09:17] jingkl commented on #17674
master-20220621-1e87b545

[code]
pymilvus==2.1.0.dev78

[code]

[2022-06-21 09:20] jingkl commented on #17674
This is a scenario where there is no update image, but the search of the message is similar to the issue #17416  of the update image

[2022-06-21 09:23] jingkl commented on #17416
/assign @letian-jiang  @congqixia
/unssign @jingkl
Similar to the issue #17674  but different scenarios

[2022-06-21 09:24] zhuwenxing commented on #17556
/assign @yah01
version `master-20220621-1e87b545`
failed job: https://github.com/zhuwenxing/milvus/runs/6980707145?check_suite_focus=true
log: https://github.com/zhuwenxing/milvus/suites/7019499119/artifacts/275848666

[2022-06-21 09:27] XuanYang-cn commented on #17656
/unassign
/assign @yanliang567
Please help varify

[2022-06-21 09:38] xige-16 commented on #17513
/assign @xige-16

[2022-06-21 09:52] jaime0815 opened #17679 "[Bug]: reduce search result occurs core dump"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-06-21 09:54] bigsheeper commented on #17679
/assign
/unassign @yanliang567

[2022-06-21 09:59] bigsheeper commented on #17436
/unassign
/assign @jingkl

[2022-06-21 10:01] jaime0815 opened #17680 "[Bug]: Proxy is not ready should return a unavailable error code"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

RPC retry mechanism implementation based on rpc response error code, but unknown status code will not handle.
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-06-21 10:07] congqixia commented on #17674
![image](https://user-images.githubusercontent.com/84113973/174774793-bf17d478-70a4-4780-a0aa-eac7fb8461d7.png)
Actually there are 2 restart during the test. Looking into it.

[2022-06-21 10:21] congqixia commented on #17674
Both run querynode restart due to OOMKilled.

[2022-06-21 10:26] jingkl commented on #17674
pod ：test-etcd-no-clean-6pnp6-1-milvus-querynode-84d4d4d68b-4dg4s
<img width="1375" alt="截屏2022-06-21 18 25 32" src="https://user-images.githubusercontent.com/34296482/174778214-673d4fd5-93c7-41a1-83b0-6ece3b7af3c9.png">

[2022-06-21 10:27] JulyMood opened #17681 "[Bug]: QueryNode search fail"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

A sudden error occurs in search usage, and rebuilding a collection using the same statement can be successful.
CollectionSchema:
    _id = FieldSchema(name="id", dtype=DataType.INT64, is_primary=True, auto_id=True)
    _type = FieldSchema(name="type", dtype=DataType.I

[2022-06-21 10:47] xiaocai2333 commented on #17637
pr is merged, please check it. @wangting0128
/assign @wangting0128
/unassign

[2022-06-21 10:54] jaime0815 commented on #17680
related issue #17672

[2022-06-21 11:00] zhuwenxing commented on #17556
failed job: https://github.com/zhuwenxing/milvus/runs/6981695319?check_suite_focus=true
log: https://github.com/zhuwenxing/milvus/suites/7020430917/artifacts/275889677

[2022-06-21 11:09] zhuwenxing commented on #17335
Not reproduced yet.
But there is no PR for fixing this after https://github.com/milvus-io/milvus/issues/17335#issuecomment-1153811309, have no idea which PR has fixed this.

[2022-06-21 11:23] longjiquan commented on #17639
Maybe `malloc_trim` caused this issue. I tried to comment out `malloc_trim` and then retest this, everything is fine. Also, `malloc_trim` is last change in `internal/core`.

[2022-06-21 11:24] jaime0815 opened #17684 "[Bug]: search stream data occurs map operation out of range exception"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

There is a map out of range exception within C++ code
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-06-21 11:25] xige-16 commented on #17513
The log is gone, can you run it again?　@wangting0128

[2022-06-21 11:33] #16862 closed

[2022-06-21 11:33] #17006 closed

[2022-06-21 11:35] longjiquan commented on #17639
By the way, it's not a proper way that Proxy ut should depends on other components.

[2022-06-21 11:43] xiaofan-luan commented on #17681
This usually means search parameter check fail.
Could you offer your index details and search params

[2022-06-21 11:57] jaime0815 commented on #17684
[WARN] [cgo_helper.go:57] [\"ReduceSearchResultsAndFillData failed, C Runtime Exception: [UnexpectedError] _Map_base::at\\n\"]\n","stream":"stdout","time":"2022-06-20T16:33:57.498519271Z"}

[2022-06-21 13:11] #17436 closed

[2022-06-21 13:34] aakejiang opened #17685 "[Enhancement]: log size in watchDmChannelsTask is too large"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/68629395/174810555-aed1f74a-7002-4e15-98d7-649cf9770804.png)

Info log in querynode#watchDmChannelsTask is too huge, the estimate size is about 200k for one log.

It should not print datapb.SegmentInfo in any log.

![

[2022-06-21 13:37] aakejiang commented on #17685
/enhancement

[2022-06-21 13:37] aakejiang commented on #17685
/assign

[2022-06-21 13:39] aakejiang commented on #17685
/unassign @yanliang567

[2022-06-21 13:51] zhuwenxing commented on #17508
/assign @sunby
version `master-20220621-746aeea3`
failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/6943/pipeline
log: [artifacts-pulsar-pod-kill-6943-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8949485/artifacts-pulsar-pod-kill-6943-server-logs.tar.gz)

[2022-06-21 15:33] xiaofan-luan opened #17689 "[Bug]: Fix compaction trigger logic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Bin log sort logic is implemented incorrect
2. Compaction isSmallSegment calculate all segment bin log size, and this seems to be not accurate. We will still use row count for now

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Mil

[2022-06-21 16:21] xiaofan-luan commented on #17689
related to #17651

[2022-06-22 01:53] yanliang567 commented on #17684
/assign @xige-16
/unassign

[2022-06-22 01:56] zhuwenxing commented on #17537
version `master-20220621-746aeea3`
failed job: https://github.com/milvus-io/milvus/runs/6990902763?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/7029036529/artifacts/276443169

[2022-06-22 02:06] yanliang567 commented on #17681
@JulyMood I think you missed 'nprobe' in search params, try this:
`search_params = {"metric_type": "L2", "params": {"nprobe": 16}}`

[2022-06-22 02:06] yanliang567 commented on #17681
/assign @JulyMood
/unassign

[2022-06-22 02:08] jennyli-z opened #17694 "[Bug]: python setup.py egg_info” failed with error code 1 in e2e test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![Uploading image.png…]()
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-17690/2/pipeline/

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-06-22 02:09] #16642 closed

[2022-06-22 02:09] #17007 closed

[2022-06-22 02:10] wangting0128 commented on #17637
argo task：benchmark-cron-1655827200

test yaml：
client-configmap:client-search-sift50m-ivf-flat-2048,instanceId:6,server-configmap:server-single-16c64m

image:master-20220621-746aeea3
server：
[code]

client pod：benchmark-cron-1655827200-3785249730

client log:
<img width="1504" alt="截屏2022-06-22 10 10 24" src="https://user-images.githubusercontent.com/26307815/174928277-dfdc7469-8f68-4603-a32d-7b2

[2022-06-22 02:11] XuanYang-cn commented on #17639
https://github.com/milvus-io/milvus/runs/6983026328?check_suite_focus=true

[2022-06-22 02:16] XuanYang-cn commented on #17432
/unassign
/assign @zhuwenxing
Please help verify

[2022-06-22 02:23] congqixia opened #17696 "[Bug]: SealSegmentChangeInfo remove information is not set properly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

`SealedSegmentChangeInfo` is used to notify querynode to release load balance& handoff offline segment.
However, the information is not set properly:
- In load balance task, the segment node is using segment.NodeID which is not related to multi-replica and deprecated

[2022-06-22 02:30] jingkl commented on #17339
server-instance
test-etcd-no-clean-nstlp-1
server-configmap
server-cluster-8c64m
client-configmap
client-random-locust-100m-ddl-r8-w2-10m

reinstall:
server-instance
test-etcd-no-clean-nstlp-1
server-configmap
server-cluster-8c64m
client-configmap
client-random-locust-100m-ddl-r8-w2-con-12h

<img width="1388" alt="截屏2022-06-22 10 26 13" src="https://user-images.githubusercontent.com/34296482/17493

[2022-06-22 02:57] SimFG commented on #17606
/assign @SimFG

[2022-06-22 03:00] xiaocai2333 commented on #17637
When building index, we only check whether the segment generated when the `CreateIndex` interface is called is finished indexing.
However, compaction occurred during the indexing process, and a new segment was generated. When loading, QueryCoord got the new segment. When getting the index file from IndexCoord, it was informed that the indexing was not completed, so the original vector was loaded.

[2022-06-22 03:03] ThreadDao opened #17697 "[Bug]: [memory] Flushing hangs and search failed if apply memory stress on standalone during insert"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Deploy standalone and limit memory 6Gi
2. Apply memory stress on standalone during insert, and insert get the memory exception:
[code]
[code]
3. The standalone pod isn't OOMKilled, because stress-ng processes are OOMkilled. Try to flush data by `collection.num_enti

[2022-06-22 03:04] #17694 closed

[2022-06-22 03:34] czs007 commented on #17679
@bigsheeper  is fixing

[2022-06-22 03:44] xiaocai2333 commented on #17637
Do we need to wait for  indexing to complete while loading? @xiaofan-luan @czs007 @xige-16

[2022-06-22 03:55] jingkl commented on #17339
The latency of search and query after reinstall Milvus is consistent with that before reinstalling milvus. The time for search before reinstalling Milvus on the graph is shorter, so it needs to be increased to verify further. So let's lower the issue level first

[2022-06-22 04:08] #16485 closed

[2022-06-22 04:59] binbinlv commented on #13045
Same issue in the latest nightly:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/608/pipeline/190
1. milvus log
[artifacts-milvus-distributed-pulsar-master-608-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/608/artifact/artifacts-milvus-distributed-pulsar-master-608-pymilvus-e2e-logs.tar.gz)

2. collectio

[2022-06-22 05:00] binbinlv commented on #13045
Reproduced in high probability, so set it as urgent.

[2022-06-22 05:13] jingkl commented on #17513
server-instance
test-etcd-no-clean-lmj2p-1
server-configmap
server-single-32c128m-compaction
client-configmap
client-random-locust-insert-delete
master-20220622-12158432
pymilvus 2.1.0dev78

[code]

client log：

[code]

[2022-06-22 05:14] jingkl commented on #17513
The problem still occurs @xige-16

[2022-06-22 05:31] yah01 commented on #17556
/assign @zhuwenxing
plz check with #17686

[2022-06-22 06:15] longjiquan commented on #17513
![image](https://user-images.githubusercontent.com/31589260/174956603-9bc4d315-64f7-4055-a4bb-93c5bf159627.png)

[2022-06-22 06:16] haorenfsa opened #17699 "[Enhancement]: Combine current restful server port with metrics server"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Combine current restful server port with metrics server, since they're both http/1. In this case we don't need extra port or kubernetes service to expose the port.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-06-22 06:16] haorenfsa commented on #17699
/assign

[2022-06-22 06:18] zhuwenxing commented on #16134
This issue also happens when Milvus uses kafka as MQ, and the performance degradation is more significant.

failed job: http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test-kafka/detail/chaos-test-kafka/75/pipeline
log:[artifacts-datacoord-pod-kill-75-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8954902/artifacts-datacoord-pod-kill-75-server-logs.tar.gz)

[2022-06-22 06:43] bigsheeper commented on #17684
/assign

[2022-06-22 06:51] longjiquan commented on #17639
I'll run all cpp unittests using address sanitizer to check if any memory issues exists.
Like below:
![image](https://user-images.githubusercontent.com/31589260/174962821-aabc6564-4e9c-4b77-9b56-c747be387805.png)

[2022-06-22 07:16] longjiquan opened #17702 "[Bug]: heap-over-flow when build `BIN_IVF_FLAT` index"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/31589260/174967612-7dd29457-06d0-43b9-8781-9364949f5dab.png)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_