[2021-11-11 10:53] #9577 closed

[2021-11-11 10:54] xiaofan-luan commented on #9618
/assign @DragonDriver

[2021-11-11 10:57] xiaofan-luan commented on #9921
@billschell this is probably due to failover mechanism of old version needs to read out too many time tick if  the system is not written, this should be fixed by a bunch of time tick improvement, you can try in RC8

[2021-11-11 10:59] congqixia commented on #8568
@xiaofan-luan According to the task list:
1. change default behavior if needed.
2. add doc about this change

[2021-11-11 10:59] xiaofan-luan commented on #10050
close this issue~

[2021-11-11 10:59] #10050 closed

[2021-11-11 11:04] xiaofan-luan commented on #10171
When etcd crashed, the system should be down but is will be recovered in minutes, that's the expectation, are we meet the expectation? @zhuwenxing

[2021-11-11 11:08] yanliang567 commented on #11406
jigao reproduce this issue, and @DragonDriver is working on it.
/assign @DragonDriver
/unassign @cydrain @wangting0128

[2021-11-11 11:09] zhuwenxing commented on #10171
No! The milvus system still can't work even though  etcd has recovered for a long time

[2021-11-11 11:23] yanliang567 opened #11669 "[Bug]: Milvus crashes if keep searching for hours"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus crashes if keep searching in a 10m-entities collection,
[code]

### Expected Behavior

keep searching successfully

### Steps To Reproduce

[code]

### Anything else?

a pulsar related error occurs at 08:11, after a few seconds, the error disappears and searchi

[2021-11-11 11:23] DragonDriver opened #11670 "[Bug]: ConfAdapterMgr.GetApdater is not thread-safe"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

When thread a calls `GetAdapter`, it will set `init_` to true, and then if another thread b calls `GetAdapter`, b see `init_` as `True`, however, `RegisterAdapter` is not done by thread a yet.
Under this case, it will throw an exception "Can not find confadapt

[2021-11-11 11:24] DragonDriver commented on #11670
related: https://github.com/milvus-io/milvus/issues/11406

[2021-11-11 12:03] bigsheeper opened #11675 "[Enhancement]: Query node need to load growing segments"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Query node load growing segments

### Why is this needed?

Query node need to load growing segments to prevent consuming too many time tick messages and flushed pieces of flushed segments.

### Anything else?

_No response_

[2021-11-11 12:08] ThreadDao opened #11679 "[Bug]: Error I/O operation on closed file occured on CI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-11633/1/pipeline
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-11-11 12:42] #11670 closed

[2021-11-11 12:54] DragonDriver commented on #11406
Already fixed, pls retry this. @wangting0128

[2021-11-11 13:05] yanliang567 commented on #11669
retry and it reproduces, it seems that query node crashes first:
[code]

[2021-11-11 13:34] xige-16 commented on #11669
/assign @fishpenguin
/assign @bigsheeper

[2021-11-12 01:19] yanliang567 commented on #7158
okay, close it for now

[2021-11-12 01:19] #7158 closed

[2021-11-12 02:26] sunby opened #11708 "[Bug]: Drop segment crash"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/9817127/141398288-236d9de9-c810-4fd4-a414-371cdb47ba2f.png)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-11-12 02:56] xige-16 opened #11712 "[Bug]: Drop collection timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Drop collection may time out
[Uploading artifacts-milvus-standalone-PR-11648-1-pymilvus-e2e-logs.tar.gz…]()

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-11-12 02:57] xige-16 commented on #11712
/assign @sunby

[2021-11-12 03:01] #11073 closed

[2021-11-12 03:02] #11560 closed

[2021-11-12 03:15] LeeREVO opened #11716 "[Feature]: Why there can only have one write node in milvus cluster in 1.1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

when there are multiple process trying to write data, the write node are facing performance issue

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

_

[2021-11-12 03:16] DragonDriver commented on #9618
I suggest change the default consistency level to session-consistency in sdk side.
And I will implement this in the sdk side soon.
For every sdk users, they will wish to see all the data that they have already inserted.
The bounded-staleness level may not satisfy this requirements.

By the way, it's a little difficult to change the default to the bounded-staleness consistency level now.
First, it

[2021-11-12 03:27] SuoSiFire commented on #7326
@xige-16  Does this problem exist in the v1.1.1 ?

[2021-11-12 03:28] binbinlv commented on #11148
Latest nightly with similar issue:

https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-nightly-ci/branches/master/runs/215/nodes/71/steps/88/log/?start=0

[code]

Logs:
https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/215/

[2021-11-12 03:44] cydrain commented on #11549
/close

[2021-11-12 03:44] #11549 closed

[2021-11-12 03:45] xiaofan-luan commented on #11716
yep, that is because of the design of milvus 1.x is from a single machine solution.
2.0 should support better scalability and it's almost ready!

[2021-11-12 03:54] LeeREVO commented on #11716
sure, while still wonder technically why 1.x not support multiple write node. Is it because of lacking write control mechanism?

[2021-11-12 03:56] LeeREVO commented on #11716
Could you explain more in tech/design detail about this? Thanks a lot~!

[2021-11-12 06:08] #11426 closed

[2021-11-12 06:44] w5688414 commented on #483
../bin/milvus_server: error while loading shared libraries: libmysqlpp.so.3: cannot open shared object file: No such file or directory

[2021-11-12 07:08] wolfju opened #11721 "[Bug]: When I did a vector search, the service returned rpc error and rpc status =4"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus service returned rpc error and status=4  two hours later

![image](https://user-images.githubusercontent.com/22097367/141425020-d9d83882-5feb-4fa0-8837-158de588bb2a.png)

### Expected Behavior

right response

### Steps To Reproduce

[code]

### Anything else?

[2021-11-12 08:31] #8445 closed

[2021-11-12 09:17] xige-16 commented on #11651
The dmchannel Request written by querycoord to etcd contains a large number of duplicate unflushedSegment/flushed segment info, exceeding the etcd limit

[2021-11-12 09:18] xige-16 commented on #11651
The problem occurs when there is a large number of partitions under the same colection, and then the load can go wrong

[2021-11-12 09:39] congqixia opened #11733 "[Enhancement]: When GetVChanPosition, filter segment when partition id is provided"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

When GetVChanPosition, filter segment when partition id is provided

### Why is this needed?

When `QueryCoord` calls `GetRecoveryInfo`, it may cares about only some of the partitions. So provided Segments of all the collections may be a waste of resources.

### Anything else?

[2021-11-12 09:49] xiaofan-luan commented on #11716
NP~ the write node in 1.1 is responsible for taken fresh data and flush the data into segments. Since we don't have concept of shards, only one write node takes write in. A work around for users is to use multiple clusters, and random write to one of cluters(For example use hash), all cluster execute search and reduce the result .

On Milvus 2.0 we introduced shard, each shard is handled by one da

[2021-11-12 10:22] congqixia opened #11744 "[Feature]: Add a tool to inspect meta"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Since etcd stores bytes now, it's hard to read content inside

### Describe the solution you'd like.

Add a tool to read wanted data

### Describe an alternate solution.

Provide services.

### Anything else? (Additional Context)

_No response_

[2021-11-12 10:27] #11675 closed

[2021-11-12 10:34] xiaofan-luan commented on #11721
Hi wolfju, how is the cluster now? can you offer logs so we can have some knowledge about what the cluster is going on?

[2021-11-12 10:36] xiaofan-luan commented on #11712
duplicate with #11709, close for now

[2021-11-12 10:36] #11712 closed

[2021-11-12 10:53] #9830 closed

[2021-11-12 11:10] congqixia opened #11748 "[Bug]: Unittest failed with pthread lock: Invalid argument"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Unit test failed with error:
[code]

### Expected Behavior

Unit test passed

### Steps To Reproduce

[code]

### Anything else?

https://github.com/milvus-io/milvus/runs/4188623316?check_suite_focus=true

[2021-11-12 11:12] yanliang567 commented on #11748
@xiaofan-luan please help to assign
/assign @xiaofan-luan
/unassign

[2021-11-12 11:23] yanliang567 commented on #11721
/assign @wolfju
/unassign

[2021-11-12 11:27] yanliang567 commented on #10198
mark on master-20211112-0b4d7dc
![image](https://user-images.githubusercontent.com/82361606/141459836-1f85f5f0-5fed-4dff-98ef-a0d0639c174a.png)
![image](https://user-images.githubusercontent.com/82361606/141459930-26b60358-2b87-4906-a737-40a393e7bacd.png)

[2021-11-12 11:30] yanliang567 commented on #8445
insert 80m entities and build index, 4 index nodes loaded balanced:
![image](https://user-images.githubusercontent.com/82361606/141460166-6e640d80-ec45-4525-9dac-39ee5eeea7c8.png)
![image](https://user-images.githubusercontent.com/82361606/141460234-3f31ee76-ff30-4378-876d-4ba2a8e34c93.png)

[2021-11-12 12:29] ThreadDao opened #11757 "[Bug]: The num_entities remains the same after delete and compact"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. create with `shaed_num=1`
2. insert 100 and flush
3. delete 50
4. compact
5. num_entities remains same 100
[code]
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-11-12 12:34] ThreadDao opened #11758 "[Feature]: Need to test compact interface"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Need to test compact()

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

_No response_

[2021-11-12 14:31] saminahbab commented on #7219
I am also experiencing this issue on docker compose, standalone, after inserting ~50 000 vectors

[2021-11-13 00:45] #11733 closed

[2021-11-13 02:47] xiaofan-luan commented on #11757
/assign @XuanYang-cn
maybe we should recalculate num entities after compaction?

[2021-11-13 02:48] xiaofan-luan commented on #11748
/assign @fishpenguin hi fish, could you please take a look~

[2021-11-13 02:52] xiaofan-luan commented on #9672
can we verify it on master again?

[2021-11-13 02:54] xiaofan-luan commented on #10459
Why? if you specify correct guarantee timestamp (for example strong consistency), it should work

[2021-11-13 02:56] xiaofan-luan commented on #11748
/assign @fishpenguin

[2021-11-13 02:59] xiaofan-luan commented on #8568
thought delta channel may also need to start position before seek,  assign it
assign @godchen0212

[2021-11-13 03:00] xiaofan-luan commented on #8568
/assign @godchen0212 could you please take a look about the seek position of delta channel?

[2021-11-13 12:02] pallashadow commented on #11319
I solved this problem by reinstall GPU driver and nvidia-container-toolkit. But there is no error log if crash is cause by GPU driver failure.

[2021-11-13 12:02] #11319 closed

[2021-11-14 04:51] #7870 closed

[2021-11-14 04:51] #8640 closed

[2021-11-14 04:51] #7503 closed

[2021-11-14 04:51] #5144 closed

[2021-11-14 04:53] zhuwenxing opened #11764 "[Bug]: Server is not healthy after re-start milvus"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

Works well

### Steps To Reproduce

[code]

### Anything else?

GitHub action detail info: https://github.com/milvus-io/milvus/actions/runs/1457309022

log: https://github.com/milvus-io/milvus/suites/4346441304/artifacts/114024991

[2021-11-14 11:40] yanliang567 commented on #9672
@wangting0128 could u please help to reproduce it on master

[2021-11-14 11:42] yanliang567 commented on #10459
@xiaofan-luan I think that's because guarantee timestamp was not working at that time.
@ThreadDao I think it should be working now, can we remove the line of sleep code?

[2021-11-14 12:56] czs007 opened #11768 "[Bug]: Update serviceableTime incorrectly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

In the following code, it is wrong to add the configured gracefulTime to the servicableTime every time the servicableTime is updated.
[code]

Assuming that the synchronization timestamp is updated and advanced every 50 time units,  and gracefullTime is set to 1000 tim

[2021-11-15 02:24] wangting0128 opened #11777 "[Bug]: [benchmark][cluster] call query coordinator LoadCollection: rpc error: code = Unknown desc = , no queryNode to allocate"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod: benchmark-tag-ljjdx-1237361420

client log:
[code]

querynode monitor：
<img width="1917" alt="截屏2021-11-15 10 33 00" src="https://user-images.githubusercontent.com/26307815/141713188-209908f6-e708-425e-b7bd-76b88cd9e385.png">

### Expected Behavior

loadin

[2021-11-15 02:27] yanliang567 commented on #11777
@xige-16 please help to check this issue?
/assign @xige-16

[2021-11-15 02:31] #11768 closed

[2021-11-15 02:34] binbinlv commented on #11148
Continuously hanging:
Latest running:

Logs:
https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/218/

Standalone:
[code]

Cluster:
[code]

[2021-11-15 02:36] xige-16 commented on #11777
querycoord adds logic to determine whether the segment can be loaded on the querynode, judging by the size of the original vector, regardless of the index

[2021-11-15 02:36] xige-16 commented on #11777
I will fix it

[2021-11-15 02:43] yanliang567 commented on #11406
not repro in latest nightly, close for now

[2021-11-15 02:43] #11406 closed

[2021-11-15 02:52] sunby commented on #11764
standalone parse wrong collectionID in datacoord. @godchen0212 will fix it.
/unassign @sunby
/assign @godchen0212

[2021-11-15 03:06] fishpenguin commented on #11748
Working on it.

[2021-11-15 03:08] JamCrash opened #11781 "[Bug]: querynode crashed after load 5000w&64dim vectors, when call search()."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[2021/11/14 22:40:10.095 +00:00] [DEBUG] [historical.go:103] ["globalSealedSegments add segment"] [segmentID=429063743066603521]
[2021/11/14 22:40:10.098 +00:00] [DEBUG] [historical.go:103] ["globalSealedSegments add segment"] [segmentID=429063909790187522]
[2021/11/1

[2021-11-15 03:11] ThreadDao commented on #10459
@xiaofan-luan @yanliang567 `time. sleep` has been removed. I needed sleep before because `queryNode.gracefulTime=1000ms`, now default 0.

[2021-11-15 03:16] scsven commented on #11641
Cannot reproduce it, please check this issue again.

/unassign
/assign @ThreadDao

[2021-11-15 03:20] #11708 closed

[2021-11-15 03:20] #11649 closed

[2021-11-15 03:21] #11558 closed

[2021-11-15 03:25] SuoSiFire commented on #11644
Hello, can you help with this issue？ thanks @yhmo

[2021-11-15 03:25] wolfju commented on #11721
[milvus.log](https://github.com/milvus-io/milvus/files/7535655/milvus.log)

[2021-11-15 03:28] sunby commented on #10441
@zhuwenxing `get collection entities` calls flush. After closing pulsar pod, datanode can not consume any msg and datacoord can not flush segments. Please try to restart pulsar pod and `get collection entitie` will resume.

[2021-11-15 03:33] #11010 closed

[2021-11-15 03:37] XuanYang-cn commented on #11146
reopen if msgStream ut timeout again

[2021-11-15 03:37] #11146 closed

[2021-11-15 03:40] zhuwenxing commented on #10441
Pulsar pods have returned to running status.

[2021-11-15 03:51] yhmo commented on #11644
Tried several times but could not reproduce the problem. The error is an exception thrown from faiss, from the log could not get the root cause.

My test steps:
create_collction()
create_index()
load_collection()
insert()
search()

[2021-11-15 05:19] yanliang567 opened #11792 "[Bug]: [scale]Load collection hangs if upgrading to a new milvus image"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

load collection again hangs when more query nodes added

### Expected Behavior

load collection successfully

### Steps To Reproduce

[code]

### Anything else?

[code]
After Milvus upgrade:
1. query node load collection automatically working as seen in Grafana
2. que

[2021-11-15 05:43] xiaofan-luan commented on #11781
Hi Jam, sorry for bring you so much trouble. We've tested with around reasonable workload but for sure there are many stability issues.

Please help us improve the stability together and be nice~ people in the community didn't charge for a penny

[2021-11-15 06:20] yhmo commented on #11636
@amitabhama

I use the following code to test, it works well. I create a collection with dimension 4864 and insert some vectors, search, the result is correct:

[code]

This is the client output:
[code]

[2021-11-15 06:38] yanliang567 commented on #11781
@xige-16 Could you please help to take a look at this issue
/assign @xige-16

[2021-11-15 06:38] bigsheeper opened #11798 "[Enhancement]: Querycoord need to load segments concurrently"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Querycoord need to load segments concurrently

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-11-15 06:39] ThreadDao opened #11799 "[Bug]: It seems that the segments are not merged after manually calling compact"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. create with `shard_num=1`
2. insert 1500 and flush
3. insert 1500 and flush
4. compact
While the compaction state turns completed, the compaction plans are shown as follows. I have no idea what the `target: -1` means?
[code]
And the queryNode loaded segment info is

[2021-11-15 06:54] XuanYang-cn commented on #11757
1. After compaction, the num_entities should be recalculated for Type I compaction

[2021-11-15 07:10] ThreadDao commented on #11641
@scsven Please rerun with new test code. I can reproduce on image `master-20211113-4cd7680`.
1. test_delete_after_index
[code]
[code]
2. test_delete_and_index
[code]
[code]

[2021-11-15 07:19] godchen0212 commented on #11764
The issue has been fixed. Test it again.
/unassign

[2021-11-15 07:38] congqixia opened #11807 "[Enhancement]: Apply retry logic for flushManager execution"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add Retry logic with default option for flush manager execution.

### Why is this needed?

Add retry may prevent datanode get into infinite loop of execution flush task or `SaveBinlogPaths`. When all attempts fails, make data node quit.

### Anything else?

_No response_

[2021-11-15 07:44] xiaofan-luan commented on #11781
I'm looking into it

[2021-11-15 07:51] zhuwenxing commented on #11764
https://github.com/milvus-io/milvus/actions/runs/1461107626

Verified and passed

[2021-11-15 07:51] #11764 closed

[2021-11-15 08:03] congqixia opened #11813 "[Bug]: Pointer varible captured by closure"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

loopclosure fails static-check

### Expected Behavior

static check passes

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2021-11-15 08:06] XuanYang-cn commented on #11757
https://github.com/milvus-io/milvus/blob/106ed4d4eeaa588b2695e28b9aecb8beefefd74d/internal/proto/milvus.proto#L748

PyMilvus's states have problems, missed out timeout states, I'll add it soon.

Actually, the compaction of this case is a timeout and failed.

[2021-11-15 08:43] JamCrash commented on #11781
I turned this issue off by accident, is there any one can reopen it ?

[2021-11-15 08:58] XuanYang-cn commented on #11757
- [ ] #11816

[2021-11-15 08:59] xiaofan-luan commented on #11781
the search issue is similar to https://github.com/milvus-io/milvus/issues/10729, which should already be fixed by #10832

[2021-11-15 09:12] xiaofan-luan commented on #11781
do you know what task the py client is blocking at @JamCrash

[2021-11-15 09:13] congqixia opened #11817 "[Enhancement]: Use interface method to determine whether to consume after seek"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Use interface method to determine whether to consume after seek

### Why is this needed?

Avoid use type assertion when checking consume is needed in seek functions

### Anything else?

_No response_

[2021-11-15 09:15] JamCrash commented on #11781
when first create index done, and search for the first time, the querynode crash, and the pymilvus block. After the client restart, it block too

[2021-11-15 09:19] #11807 closed

[2021-11-15 09:37] JamCrash commented on #11781
after querynode restart, if I restart client(reload partition and do search), the problem reproduce

[2021-11-15 09:40] JamCrash commented on #11781
the milvus image I used is milvus:v2.0.0-rc8-20211104-d1f4106

[2021-11-15 10:06] JamCrash commented on #11781
I am confused why the collection id will mismatch when query the same partition

[2021-11-15 10:10] xiaofan-luan commented on #11781
yep, it should be fixed by the GA version, RC8 doesn't include the fix.

[2021-11-15 10:15] JamCrash commented on #11781
so when this version can be compliled into image?

[2021-11-15 10:17] #11817 closed

[2021-11-15 10:32] godchen0212 commented on #11669
Cannot reproduce it, please check this issue again.

[2021-11-15 10:43] binbinlv commented on #10101
Root cause: graceful time is not 0 when deploying milvus, now it is fixed with latest milvus-helm.

Verified and it works now. Close this issue.

[2021-11-15 10:43] #10101 closed

[2021-11-15 10:52] xiaofan-luan commented on #11781
trying to deliver in GA. but the day build should already include this change

[2021-11-15 11:08] xiaofan-luan commented on #11641
/assign @scsven

[2021-11-15 11:17] congqixia opened #11836 "[Bug]: Garbage collector should use dropped timestamp instead of file lastmodified when scan dropped files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Garbage collector uses s3/minio last modified time when scanning dropped segment files.

### Expected Behavior

Garbage collector should use drop timestamp

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-11-15 11:44] #11813 closed

[2021-11-15 11:45] yanliang567 commented on #10798
@binbinlv could you try to repro this issue

[2021-11-15 11:47] xiaofan-luan commented on #11309
did we restart the process?

[2021-11-15 12:06] XuanYang-cn commented on #11757
@sunby Thinks it's unable to update the numRows after compaction, cuz DN may only know part of the binlogs, thus unable to calculate the whole numRows of One collection.

BTW, I think `num_entites` needs to be re-impled based on read-link, not write-link. And it should have one and only one meaning: **showing the num_rows of a collection, not the compaction result of a compaction**.

We need to st

[2021-11-15 12:14] greensea opened #11845 "[Bug]: Search hangs after inserting vectors."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I search for a vector, I got no results, and there is no timeout or other errors occurs, the search just hangs.

### Expected Behavior

I should get search results in seconds.

### Steps To Reproduce

[code]

### Anything else?

#2692 is similar to this, but that

[2021-11-15 12:31] xiaofan-luan commented on #11845
what milvus version is it? can you offer logs of the whole standalone log? Thanks

[2021-11-15 12:48] bigsheeper commented on #11669
keep load and search for more than 5 hours, still works well.

[2021-11-15 13:07] SuoSiFire commented on #11644
Can you try this sample?
create_collction()
create_index()
load_collection()
insert()
create_index()
search()

====================
collection config
{
    "colName": "test",
    "dimension": 128,
    "indexFileSize": 2048,
    "metricType": 1
}

index config

{
    "colName": "test",
    "indexType": 3,
    "jsonConfig": "{\"nlist\":4096}"
}

Vector Num: 50M

write node config
{    "cache.cache_s

[2021-11-15 13:08] greensea commented on #11845
I am use docker image milvusdb/milvus:v2.0.0-rc8-20211104-d1f4106.
The whole standalone log is huge since it is keep printing log repeatedly. I copy the first 10 minutes logs after milvus started.

[whole-log.log](https://github.com/milvus-io/milvus/files/7538841/whole-log.log)

[2021-11-15 13:24] xiaofan-luan opened #11862 "[Bug]: QueryNode removeSegment should not delete etcd segment meta"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When segment is notified to be removed on queryNode, the etcd path is deleted by querynode.
However, all etcd data should only be processed by query coord. queryNode is simply a dumb notifier and maintains its memory data.

### Expected Behavior

_No response_

### St

[2021-11-15 13:46] haorenfsa commented on #7700
Just made a start: [MEP 20 -- Support RESTful API for Milvus](https://wiki.lfaidata.foundation/display/MIL/MEP+20+--+Support+RESTful+API+for+Milvus)

[2021-11-15 15:50] haorenfsa commented on #9613
The problem may lies in compact options for etcd. In milvus default config we use  (see: https://github.com/milvus-io/milvus/blob/master/configs/advanced/etcd.yaml)
[code]
which means keep 1hour history (see https://etcd.io/docs/v3.3/op-guide/maintenance/ ). So if we want to delete the data sooner after some benchmark case, we need to set the value lower, like 1minute:
[code]
or to use revision mo

[2021-11-16 01:01] yanliang567 commented on #11309
No

[2021-11-16 01:16] yanliang567 commented on #11845
@greensea it seems that it failed to connected to etcd service, please try to reinstall a milvus.
[`32mmilvus-standalone |[0m [2021/11/15 13:04:42.879 +00:00] [WARN] [grpclog.go:46] ["[core]grpc: addrConn.createTransport failed to connect to {etcd:2379 etcd <nil> 0 <nil>}. Err: connection error: desc = \"transport: Error while dialing dial tcp 172.23.0.3:2379: i/o timeout\". Reconnecting..."]`

[2021-11-16 01:53] xiaofan-luan commented on #11721
Great， we are looking into it

[2021-11-16 01:56] xiaofan-luan commented on #9613
the etcd.yaml should be  only used on unit test(for embeded etcd) k8s etcd has its own yaml~ But we are facing very serious etcd stability issues so please take a deep look if you are interested

[2021-11-16 02:08] binbinlv commented on #10798
OK, verifying.

[2021-11-16 02:10] haorenfsa commented on #9613
@yanliang567 which etcd config are we using in this benchmark?

[2021-11-16 02:14] haorenfsa commented on #9613
@xiaofan-luan According to the report, seems that it's the embeded ones that crashes in this issue?

[code]

[2021-11-16 02:16] xiaofan-luan commented on #9613
benchmark-gkznr-1-etcd-0                                 0/1     CrashLoopBackOff   199        44h   10.97.17.142   qa-node014.zilliz.local   <none>           <none>
benchmark-gkznr-1-etcd-1                                 0/1     CrashLoopBackOff   198        44h   10.97.16.194   qa-node013.zilliz.local   <none>           <none>
benchmark-gkznr-1-etcd-2                                 0/1     Cra

[2021-11-16 02:20] binbinlv commented on #11494
Fixed, and closed.

[2021-11-16 02:20] #11494 closed

[2021-11-16 02:21] #10268 closed

[2021-11-16 03:10] congqixia opened #11873 "[Bug]: injectionHandler of flush manager will leak goroutines if not closed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Flush manager leaks goroutines

### Expected Behavior

All goroutines cleaned up after `dsService` closes

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2021-11-16 03:28] binbinlv commented on #10798
Running cases twice, and it is not hang for flush although it is slowly in the second time, but this issue is not existed, so close it.

[2021-11-16 03:28] #10798 closed

[2021-11-16 03:28] haorenfsa commented on #9613
@yanliang567 @xiaofan-luan
Below are our default etcd compaction configurations for in QA tests (https://github.com/milvus-io/milvus/blob/master/configs/advanced/etcd.yaml)
[code]
We could see that the disk data won't be deleted until +1000 revision. So if you set a key only once and delete it and never use it later, it would never be deleted.

[2021-11-16 04:28] greensea commented on #11845
@yanliang567 I remove the container and start a new container, but the issue still exists.
I checked etcd and confirm it is started, this is the whole log.
[Uploading whole-log2.log…]()

[2021-11-16 05:01] yanliang567 commented on #11845
@xige-16 could you please help to check this issue?
/assign @xige-16
/unassign

[2021-11-16 06:04] binbinlv opened #11885 "[Bug]: Test case "test_delete_not_existed_values" failed for parameter was re-valued in function "equal_entities_list""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

In the following function, "exp" was changed through remove operation, which is not expected.

Suggested: deep copy of "exp" like: exp1 = copy.deepcopy(exp)

[code]

### Expected Behavior

See at current behaviour

### Steps To Reproduce

[code]

### Anything else?

_

[2021-11-16 06:06] binbinlv commented on #11885
@ThreadDao  could you please fix this error?

And then test case "test_delete_not_existed_values" also needs to be modified. Thanks.

[2021-11-16 06:07] xiaofan-luan commented on #7219
Hi saminahbab, did you collect milvus log after server crashed?

[2021-11-16 06:15] xiaofan-luan commented on #9481
@xige-16 can we close this issue? seems all subtask are done.

[2021-11-16 06:16] #7769 closed

[2021-11-16 06:16] #9481 closed

[2021-11-16 06:18] xiaofan-luan commented on #9613
5m maybe too small, @sunby @LoveEachDay  any opinion?

[2021-11-16 06:19] xiaofan-luan commented on #7742
@XuanYang-cn is this still a issue?

[2021-11-16 06:20] xiaofan-luan commented on #8568
/assign @godchen0212

[2021-11-16 06:23] #11836 closed

[2021-11-16 06:36] xiaofan-luan commented on #10459
@fishpenguin  is the fix ready for test?

[2021-11-16 06:38] xiaofan-luan commented on #10527
Hi Writtic, for you case, that is because the default shard number is only set to 2, so only 2 querynodes can handle insert.
To solve the problem:
1) increase shard number to 8 when create collection
2) GA version support handoff and load balance, which will move data around between quernode

[2021-11-16 06:40] xiaofan-luan commented on #10744
@czs007  is this a real issue?

[2021-11-16 06:41] zhuwenxing opened #11889 "[Bug]: Loadbalance doesn't take effect when a new querynode added"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The memory of high load querynode continues to grow

### Expected Behavior

The load should transfer to the new added querynode

### Steps To Reproduce

[code]

### Anything else?

![image](https://user-images.githubusercontent.com/12268675/141933832-0f2681a7-5ca4-4f1

[2021-11-16 06:41] xiaofan-luan commented on #11009
we need to handle checkpoints of delta channel before GA

[2021-11-16 06:41] zhuwenxing commented on #11889
/assign @xige-16

[2021-11-16 06:42] zhuwenxing commented on #11889
/unassign @yanliang567

[2021-11-16 06:44] xiaofan-luan commented on #11309
/assign @scsven please help on investigate  this issue

[2021-11-16 06:44] xiaofan-luan commented on #11309
/assign @scsven

[2021-11-16 06:44] xiaofan-luan commented on #11309
/unssign @congqixia

[2021-11-16 06:48] xiaofan-luan commented on #11053
@bigsheeper  please take a look on this issue?

[2021-11-16 06:49] xiaofan-luan commented on #8568
relate with #11009

[2021-11-16 06:51] xiaofan-luan commented on #11275
@cydrain could you please a look ?

[2021-11-16 06:59] bigsheeper commented on #11053
ok，I'm working on it

[2021-11-16 07:04] xiaofan-luan commented on #11035
/assign @cydrain

[2021-11-16 07:07] congqixia commented on #9927
@xiaofan-luan The remaining task is document about `FlushManager` so the priority can be adjusted.

[2021-11-16 07:07] sunby commented on #11799
Disable sigle compaction if there's no deltalog(https://github.com/milvus-io/milvus/pull/11806). Please retry.
/unassign @sunby
/assign @ThreadDao

[2021-11-16 07:10] sunby commented on #11438
I need the pulsar log. If you insert rows during pulsar crash, it will timeout and you should retry.

[2021-11-16 07:10] sunby commented on #11438
@yanliang567 it's not a bug.

[2021-11-16 07:15] xiaofan-luan commented on #10357
/assign

[2021-11-16 07:26] sunby commented on #9613
Any update in etcd will increase the revision. If we do a compaction every 1000 revision, the disk space should not be exhausted. I guess changing mode to periodic does not help.

[2021-11-16 07:30] czs007 commented on #8824
I'm working on it.

[2021-11-16 07:34] zhuwenxing commented on #11035
@cydrain
[Uploading proxy.zip…]()

[2021-11-16 07:40] congqixia commented on #11553
Need remove etcd entry after OSS files removed.

[2021-11-16 07:42] sunby commented on #9613
This case create/insert/drop collection frequently, which will generate many segment meta info in etcd. We implement the data clean on minio but the data on etcd still exist. We will do it as quickly as possible.
After discussing with @yanliang567 , this issue maybe not very urgent. @xiaofan-luan

[2021-11-16 08:06] zhuwenxing commented on #11035
This test is to test that the Milvus can work well if one of proxy pods failure.
But when running `test_chaos.py`, there are some error message in logs
[code]
In my view, there should not be such error messages in the whole process.
However, if I inject a pod failure chaos by manual，then run `hello_milvus.py`, the whole process is OK.

So this issue's priority maybe should not be set as urgent
@cy

[2021-11-16 08:22] cydrain commented on #11035
See lots of warnings in proxy's log.
It seems that when one proxy node down and up again, rootcoord did not recognize this new proxy node.
[code]

[2021-11-16 08:23] yanliang567 commented on #11792
repros on master-20211116-897d6b5 when trying to upgrade milvus to a new version
[code]

[2021-11-16 08:30] zhuwenxing commented on #11275
new logs @cydrain
[standalone.zip](https://github.com/milvus-io/milvus/files/7544616/standalone.zip)

[2021-11-16 09:16] cydrain commented on #11275
[code]

[2021-11-16 09:29] xige-16 commented on #11434
pr #11648  has fixed the issue, trouble you check it @zhuwenxing

[2021-11-16 09:29] xige-16 commented on #11434
/unassign
/assign @zhuwenxing

[2021-11-16 09:51] zhuwenxing commented on #11275
In version `fd45a7e` built in Nov 16,  the test will hang at getting collection entities about 10 min, after this ,search can return results very quickly.

new logs
[standalone.zip](https://github.com/milvus-io/milvus/files/7545236/standalone.zip)

[2021-11-16 09:52] DragonDriver commented on #6843
OK

[2021-11-16 09:57] scsven commented on #11792
Hi @cydrain, please help to fix this issue.

/assign @cydrain

[2021-11-16 10:00] cydrain commented on #7130
/unassign

[2021-11-16 10:30] cydrain commented on #11792
[proxy.log](https://github.com/milvus-io/milvus/files/7545497/proxy.log)
[root.log](https://github.com/milvus-io/milvus/files/7545499/root.log)
[query_coord.log](https://github.com/milvus-io/milvus/files/7545504/query_coord.log)
[query_node.log](https://github.com/milvus-io/milvus/files/7545505/query_node.log)

proxy.log
[code]

query_coord.log
[code]

[2021-11-16 10:48] congqixia opened #11907 "[Enhancement]: Add revoke session logic when normal restart component"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add Revoke session when component is restarted normally

### Why is this needed?

Otherwise, other component has to wait 60 seconds for now.

### Anything else?

_No response_

[2021-11-16 10:59] DragonDriver opened #11912 "[Enhancement]: Make indexparamcheck thread-safe"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I want to make `indexparamcheck` thread-safe.

### Why is this needed?

same as https://github.com/milvus-io/milvus/issues/11670

### Anything else?

_No response_

[2021-11-16 11:08] XuanYang-cn opened #11915 "Distributed ci timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-11816/6/pipeline

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-11816/5/pipeline

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/

[2021-11-16 11:10] XuanYang-cn commented on #11915
Update:

DataCoord endless print
[code]

[2021-11-16 11:12] czs007 opened #11917 "[Enhancement]: Prevent the client from closing grcp by mistake."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

In the following code:
[code]

When the caller returns an error for the first time, the current grpc connection will be forcibly closed.
In addition to the failure of the grpc link itself, the reason why the caller returns an error may also be the failure of ctx.
The

[2021-11-16 11:12] XuanYang-cn commented on #11915
DataCoord stops flushing every 10 minites.

DataNode flowgraph of such collection seems stuck, possible reasons:

1. pulsar produce stuck
2. datanode `writehardtimetick` deadlock
3. unknown for now

[2021-11-16 11:15] DragonDriver commented on #6843
Fixed by simply "reversing" the distance to score.
We can reopen this later if we need to change the way we score to the hit records.

[2021-11-16 11:15] #6843 closed

[2021-11-16 11:29] xige-16 commented on #11781
If you don't insert data multiple times with the same primary key, rc8 should no longer encounter this problem

[2021-11-16 11:30] xige-16 commented on #11781
If you still have this problem, please let us know. @JamCrash

[2021-11-16 11:41] sunby opened #11923 "[Bug]: load collection with unflushed segment failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

This segment has no binlog
![image](https://user-images.githubusercontent.com/9817127/141978884-896c6327-5b62-4122-b8c3-27fd0f7d6738.png)

Then watchDmChannel failed
![image](https://user-images.githubusercontent.com/9817127/141979030-683320a9-2ccc-4f5a-bbd1-7a7231f18

[2021-11-16 11:44] xige-16 commented on #11651
pr #11746 has fixed the issue

[2021-11-16 11:46] yanliang567 commented on #11651
@jingkl could you please help to verify the fix?

/assign @jingkl
/unassign @xige-16

[2021-11-16 11:55] xige-16 commented on #10295
/assign @jingkl
/unassign

[2021-11-16 12:54] DragonDriver opened #11934 "[Bug]: GetComponentStates will race with Register"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/31589260/141988693-9d080e6d-8211-44cb-8fdf-4195d3c5ce95.png)

### Expected Behavior

no data race between `GetComponentStates` and `Register`

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-11-16 12:55] DragonDriver commented on #11934
When node is not registered, node.GetComponentStates should return an invalid id.

[2021-11-16 13:29] sunby commented on #10441
I restart pulsar every 5s and run `hello_milvus.py` but can not reproduce it.

[2021-11-16 14:31] #11907 closed

[2021-11-16 15:17] JamCrash commented on #11781
this problem can reproduce more than once

[2021-11-16 15:22] JamCrash commented on #11781
after querynode crash and restart for the first time, if call load or search, the pymilvus client will hang forever

[2021-11-17 01:11] yanliang567 commented on #11934
/assign @DragonDriver
/unassign

[2021-11-17 01:14] yanliang567 commented on #11915
/assign @XuanYang-cn
/unassign

[2021-11-17 02:15] xige-16 commented on #11923
pr #11888 has fixed the issue

[2021-11-17 02:15] #11923 closed

[2021-11-17 02:27] binbinlv opened #11950 "[Bug]: Nightly tests hang [cluster]"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

On cluster mode, nightly test cases (L0, L1, L2) are hanging.

### Expected Behavior

No tests hang

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2021-11-17 02:28] #11757 closed

[2021-11-17 02:30] binbinlv commented on #11950
Latest nightly update:
cluster:

Logs: [artifacts-milvus-distributed-master-220-pymilvus-e2e-logs.tar.gz]
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/220/artifacts

Hanging time:
[code]

[2021-11-17 02:33] JamCrash opened #11951 "[Bug]: Create index hangs after insert 600million vectors with 64dimensions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[2021/11/17 02:11:51.277 +00:00] [DEBUG] [session_util.go:277] ["SessionUtil GetSessions"] [prefix=IndexNode] [resp="{\"header\":{\"cluster_id\":13130564769661264721,\"member_id\":5867631521242880944,\"revision\":815981,\"raft_term\":2},\"kvs\":[{\"key\":\"cmM4L21ldGE

[2021-11-17 02:34] binbinlv commented on #11148
Continuously hanging: Latest running:

standalone mode:

Logs: [artifacts-milvus-standalone-master-220-pymilvus-e2e-logs.tar.gz]

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/220/artifacts

hanging timeline:
[code]

[2021-11-17 02:38] yanliang567 commented on #11669
not repro on latest master. close

[2021-11-17 02:38] #11669 closed

[2021-11-17 02:39] #11873 closed

[2021-11-17 02:41] JamCrash commented on #11781
the milvus behavior is very instable under my dataset(600 million, 64dim) with index param {"index_type": "IVF_PQ", "params": {"nlist": 20480, "m": 8}, "metric_type": "L2"}

milvus rc8, pulsar standalone, minio standalone, etcd(3 nodes with local storage)
with k8s environment

[2021-11-17 02:44] #10295 closed

[2021-11-17 02:45] jingkl commented on #11651
ok，I will verify

[2021-11-17 02:45] #11651 closed

[2021-11-17 02:46] yanliang567 opened #11952 "[Bug]: Customize segment size does not work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

segment size keeps 512MB when trying to customize it to 128MB

### Expected Behavior

segment size changes to 128MB after customize config

### Steps To Reproduce

[code]
apiVersion: milvus.io/v1alpha1
kind: MilvusCluster
metadata:
  name: milvus-6542b09
  namespace:

[2021-11-17 02:56] bigsheeper opened #11958 "[Enhancement]: Query node should get index file path from load request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Query node should get index file path from load request, remove the dependency of indexCoord and rootCoord

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-11-17 02:56] fishpenguin commented on #11845
Working on this issue...

[2021-11-17 02:58] zhuwenxing commented on #11348
Verified and passed

[2021-11-17 02:58] #11348 closed

[2021-11-17 03:21] xige-16 opened #11961 "[Bug]: querycoord panic when handoff"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

op: create collection-> create index- > load collection -> insert data
 querycoord will panic when handoff

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-11-17 03:22] xige-16 commented on #11961
/assign
/unassign @yanliang567

[2021-11-17 03:24] xige-16 opened #11963 "[Bug]: Wrong set of enable index in segmentLoadIndex"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

segmentLoadInfo.enableIndex always is false in loadSegmentRequest, it should be set to true when segment's index has been created

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-11-17 03:25] xige-16 commented on #11963
/assign
/unassign @yanliang567

[2021-11-17 03:27] XuanYang-cn commented on #7372
This's what we'll do in PyMilvus:

1. Clarify PyMilvus APIs behaviours.
2. Mark stateless APIs as `deprecated`.  (GA???)
    - Uses Google-style docstrings.
    - Firstly, reimplement orm out-of-rely from stateless APIs.
    - Secondly, mark those stateless APIs as `deprecated`.

[2021-11-17 03:40] DragonDriver opened #11965 "[Bug]: start_cluster failed since path created by multiple process"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Set runtime dir at /run/milvus failed, set it to /tmp/milvus directory
Create runtime directory at /tmp/milvus failed

### Expected Behavior

`./start_cluster.sh` should run all milvus components in local pc after compiling the milvus.

### Steps To Reproduce

[code]

[2021-11-17 03:47] #9600 closed

[2021-11-17 03:49] #11799 closed

[2021-11-17 03:51] fishpenguin commented on #11507
Done

[2021-11-17 03:51] #11507 closed

[2021-11-17 03:53] fishpenguin opened #11967 "[Enhancement]: Rocksmq use global id allocator to get now timestamp"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Currently rocksmq get now time by time.Now(), which isn't appropriate. Use global id allocator and parseTS to get now timestamp.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-11-17 03:54] binbinlv opened #11969 "[Bug]: Load failed reporting "<BaseException: (code=1, message=rpc error: code = Unknown desc = collection has not been loaded to memory or load failed)""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Load failed:

Logs: [standalone:  artifacts-milvus-standalone-master-220-pymilvus-e2e-logs.tar.gz]
[please download from through the upper log name]
https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/220/

Other clues:

Failed case 1:

1. Failed case:

[2021-11-17 03:56] ThreadDao opened #11970 "[Bug]: Load collection failed after compact and merge segments"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. create a collection with `shard_num=1`
2. insert 1500 entities, flush
3. insert another 1500 entities, flush
4. compact and wait for it completed
5. get compact plans
6. load collection
7. raise exception
[code]

### Expected Behavior

Load merged segment successfu

[2021-11-17 03:59] zhuwenxing commented on #10441
In version `master-20211117-9bd3664`, after chaos, the e2e test works well!

@yanliang567 so I think `priority/urgent` label can be removed!

I will re-run this test several times. If all of the tests work well, then this issue can be closed

[2021-11-17 04:00] fishpenguin commented on #11845
@greensea Did you call collection.load() before search? If so, can you print your test code here.

[2021-11-17 04:01] godchen0212 opened #11971 "[Enhancement]: Read all dml messages before watch delta channel"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Read all dml messages before watch delta channel

My plan is as follows:
1. Add reader interface (implementation of msgstream.Read, rocksmq and pulsar), so that it can directly read all data from dmlchannel until the latest data
2. Do not change the current implementation on t

[2021-11-17 04:03] zhuwenxing commented on #11275
This issue can be reproduced almost every time, so set it as urgent.

[2021-11-17 04:15] ThreadDao commented on #11970
[milvus_logs.tar.gz](https://github.com/milvus-io/milvus/files/7551617/milvus_logs.tar.gz)

[2021-11-17 04:18] godchen0212 opened #11972 "[Enhancement]: Add message reader interface"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add message reader interface

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-11-17 04:29] JamCrash opened #11974 "[Bug]: datanode crash"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[2021/11/17 04:25:44.172 +00:00] [DEBUG] [flow_graph_dd_node.go:107] ["DDNode receive insert messages"]
[2021/11/17 04:25:44.172 +00:00] [INFO] [flow_graph_dd_node.go:116] ["Filtering Insert Messages"] ["Message endts"=429161888733724673] [FilterThreshold=429161995020

[2021-11-17 05:17] greensea commented on #11845
@fishpenguin I didn't call collection.load() in code, but I load the collection into memory in milvus-insight, and milvus-insight shows the collection is `Loaded For Search'.

![2021-11-17 13-01-13 创建的截图](https://user-images.githubusercontent.com/619187/142139166-13c69f0c-23f0-42d5-a4cb-fa83f2064dad.png)

The code is simple, the main part is:

[code]

It hangs at Search() method.

Even I search th

[2021-11-17 05:59] zhuwenxing commented on #11434
Verified and passed

[2021-11-17 05:59] #11434 closed

[2021-11-17 06:02] #11629 closed

[2021-11-17 06:08] godchen0212 opened #11976 "[Enhancement]: Add rocksMq reader implementation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add rocksMq reader implementation

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-11-17 06:08] godchen0212 opened #11977 "[Enhancement]: Add pulsar reader implementation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add pulsar reader implementation

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-11-17 06:10] binbinlv opened #11978 "[Bug]: Load timeout during tests"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Logs: [standalone mode:  artifacts-milvus-standalone-master-220-pymilvus-e2e-logs.tar.gz]

https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/220/

Clues:

1. Failed case: test_search_collection_after_release_load.
2. collection name: search_collectio

[2021-11-17 06:11] DragonDriver commented on #9784
/unassign
/assign @xiaocai2333

[2021-11-17 06:28] muzam commented on #5007
/reopen

[2021-11-17 06:29] zhuwenxing commented on #10357
It reproduced in version `master-20211117-9bd3664`.
It will hang at load for about 5min then hang at the search for at least 10min (terminated by manual)
[querynode.zip](https://github.com/milvus-io/milvus/files/7552246/querynode.zip)

[2021-11-17 06:45] sunby commented on #11970
@XuanYang-cn DataNode add a deltaInfo item if there's no delta log. And QueryNode read empty blobs form it.

[2021-11-17 06:45] sunby commented on #11970
/assign @XuanYang-cn

[2021-11-17 06:45] sunby commented on #11970
/unassign @bigsheeper

[2021-11-17 07:03] yanliang567 commented on #11974
@JamCrash could you please share more info, e.g repro steps, scripts you used to insert data?

[2021-11-17 07:05] yanliang567 commented on #11969
ci nightly blocked, set to urgent

[2021-11-17 07:05] chengduhaha opened #11983 "grpc: Server.Serve failed to create ServerTransport: connection error: desc = \"transport: http2Server.HandleStreams received bogus greeting from client: \\\"GET / HTTP/1.1\\\\r\\\\nUser-Age\\\"\""]"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I deployed k8s distributed milvus v2.0.0 following the official document, but when i requested proxy port 19530, the log of miluvs proxy's pod printed "grpc: Server.Serve failed to create ServerTransport: connection error: desc = \"transport: http2Server.HandleStreams

[2021-11-17 07:06] #11951 closed

[2021-11-17 07:08] zhuwenxing commented on #10171
@xiaofan-luan

In version `master-20211117-9bd3664`,  in this test, querynode can't be ready (0/1).
![image](https://user-images.githubusercontent.com/12268675/142150376-23430d0f-bbce-4c65-9169-3a7d24b0388e.png)

the log is
[etcd.zip](https://github.com/milvus-io/milvus/files/7552477/etcd.zip)

[code]

[2021-11-17 07:09] yanliang567 commented on #11983
@chengduhaha could you copy the commands that you issued to deploy Milvus? could you please upgrade your pymilvus to rc8 and retry

[2021-11-17 07:15] #11963 closed

[2021-11-17 07:15] #11961 closed

[2021-11-17 07:21] yanliang567 commented on #10441
@zhuwenxing okay, i assign this issue to you for your next action.
/assign @zhuwenxing
/unassign @sunby

[2021-11-17 07:24] binbinlv opened #11985 "[Bug]: No parameter check for "guarantee_timestamp" in search interface"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When input invalid value for guarantee_timestamp, it reports TypeError not milvus Exception.

[code]

### Expected Behavior

Throw Exception with error message "`guarantee_timestamp` value %s is illegal".

### Steps To Reproduce

[code]

### Anything else?

_No respon

[2021-11-17 07:24] chengduhaha commented on #11983
i install milvus cluster by helm chart on k8s  and my k8s is on rancher, command is
"helm repo add milvus https://milvus-io.github.io/milvus-helm/"
"helm install --set cluster.enable=true --set persistence.enable=true --set mysql.enable=true milvus-cluster   -f values.yaml"
yes, i have upgraded the pymilvus using comamands "python3 -m pip install pymilvus==2.0.0rc8
"

kubectl get svc -n milvus2
NA

[2021-11-17 07:25] XuanYang-cn commented on #7742
NO, closing this Issue

[2021-11-17 07:25] #7742 closed

[2021-11-17 07:37] XuanYang-cn commented on #7774
@zhuwenxing feel free to reopen this issue if the same error occurs

[2021-11-17 07:37] #7774 closed

[2021-11-17 07:39] binbinlv opened #11987 "[Bug]: Milvus is crashed during CI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus is crashed.

Milvus Logs: [standalone]
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-11982/1/artifacts/

Some clues in milvus log: [0.log]
[code]

Test logs:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/mi

[2021-11-17 07:47] XuanYang-cn commented on #11987
/assign
/unassign @yanliang567

[2021-11-17 07:49] XuanYang-cn commented on #11987
I've encountered the same error.

Caused by start-positions not set properly

[2021-11-17 07:57] xige-16 commented on #10357
working on this issue

[2021-11-17 08:27] xiaocai2333 opened #11991 "[Enhancement]: IndexCoord supports deleting indexes by partitionID"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

IndexCoord supports deleting indexes by partitionID.

### Why is this needed?

Currentlly, IndexCoord only has an interface for deleting indexes based on indexID. If only one partition is deleted, then the indexes corresponding to the partition cannot be deleted. So, IndexCoor

[2021-11-17 08:27] xiaocai2333 commented on #11991
/assign

[2021-11-17 08:28] #11972 closed

[2021-11-17 08:39] congqixia opened #11994 "[Enhancement]: Use `var` slice declaration instead of make zero length slice"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Use `var` slice declaration instead of make zero length slice when the size of data is not known
Or make enough space for slice when data size might be guessed.

### Why is this needed?

Better coding style and reduce not needed memory allocation

### Anything else?

_No respo

[2021-11-17 08:41] jaime0815 opened #11995 "[Enhancement]: Separating knowhere from milvus project"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

The code structure is coupled which has already affected the efficiency of our development.

### Why is this needed?

Benefits:
1. Make engine layer and distributed layer decouple.
2. Run & debug Milvus with a shared library of knowhere.

### Tasks.
- [x]  Move Knowhere to a n

[2021-11-17 08:42] xiaofan-luan commented on #11974
/asign

[2021-11-17 08:43] fishpenguin commented on #11845
I'm trying to reproduce this issue but still can't. And can't find the reason from the first 10 minutes log.

The whole standalone log is huge since it is keep printing log repeatedly. I copy the first 10 minutes logs after milvus started.

Can you print the last 10 minutes log before milvus stop.

[2021-11-17 08:44] xiaofan-luan commented on #11995
@XuanYang-cn any ideas?

[2021-11-17 08:48] cydrain commented on #11792
@yanliang567 run this case again with latest image 55d1623, this time Milvus does not hang, but search always timeout.
[proxy.log](https://github.com/milvus-io/milvus/files/7553049/proxy.log)
[query_coord.log](https://github.com/milvus-io/milvus/files/7553050/query_coord.log)
[query_node.log](https://github.com/milvus-io/milvus/files/7553051/query_node.log)
[root_coord.log](https://github.com/milv

[2021-11-17 08:49] fishpenguin commented on #11845
@greensea btw, when you restarted the milvus docker, did you restart the minio and etcd docker? If not, you can try to restart the docker-compose which contains minio and etcd, and then restart the milvus docker.

[2021-11-17 08:58] ThreadDao opened #11998 "[Bug]: Compaction IO wrong during the second compaction"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. create with shard_num=1
2. insert and flush twice (two segments)
3. compact
4. insert new data
5. compact
6. timeout plan number: 1

**Client logs:**
[code]
**dataNode logs:**
[code]

### Expected Behavior

Merge successfully or return error exception

### Steps To

[2021-11-17 09:09] xige-16 commented on #10357
Querycoord continued to try to connect with querynode for 6 minutes, but in fact querycoord had received this querynode offline message within 10s, because of the lock, can not directly suspend the operation of establishing a connection with querynode

[2021-11-17 09:14] binbinlv opened #11999 "[Bug]: Needs more coverage for guarantee timestamp tests"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Needs more coverage for guarantee timestamp tests

### Expected Behavior

Needs more coverage for guarantee timestamp tests

### Steps To Reproduce

[code]

### Anything else?

NA

[2021-11-17 09:17] greensea commented on #11845
@fishpenguin

Recently I remove docker and then reinstall a new one, the logs is removed. But I can reproduce this issue, I can upload another log file.
I copy the dataset (including milvus, etcd and minio)  to an other server, and start a new docker, this issue still exists. I think this issue may relate to data?
And, in this new server, I got smaller and more pure log file, only 400+KB.

[whole-

[2021-11-17 09:23] jilieryuyi opened #12001 "[Bug]: go sdk ListCollections got Loaded status not correct"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Loaded == false

### Expected Behavior

Loaded should be true

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2021-11-17 09:26] #8867 closed

[2021-11-17 09:30] fishpenguin commented on #11845
I'm ok.

[2021-11-17 09:37] fishpenguin commented on #11845
I didn't see that load was called in the "whole-log3.log", please make sure that you have called collection.load() when the new milvus server started, or you can try to call load again and then search to see if the issue still exists.

[2021-11-17 09:47] #11965 closed

[2021-11-17 09:49] zhuwenxing commented on #11275
version: `9bd3664`
after deleting chaos and Milvus recovered, if we insert data (this step can work well ) and then do other operations (such as
 flush search), the standalone pod will crash and restart.
[code]

[2021-11-17 09:52] greensea commented on #11845
@fishpenguin This is intresting.
Yes, after start new containers with the dataset, I did not call collection.load(), and not load the collection via milvus-insight. But the data is already `Loaded For Search`.
So there is the questions:
1. Should I load the data into memory after milvus restart?
2. If I have to load the data into memory after milvus restart, is it expected behavior that milvus-ins

[2021-11-17 09:57] #11970 closed

[2021-11-17 09:57] greensea commented on #11845
I just do a test:

1. Unload the collection via milvus-insight (because milvus-insight tells me the collection is `Loaded For Search`)
2. Load the collection via milvus-insight.

After this actions, the search works well, I can get search results now.

Seems I have to reload the collection after milvus restart even if it milvus-insight tells me the collection is already loaded?

[2021-11-17 10:31] JackLCL commented on #12001
@congqixia

[2021-11-17 10:48] fishpenguin commented on #11845
Yes, you need to call load after milvus restart.

After milvus start, the milvus-insight `Loaded For Search` will only be shown after you call load, so if the `Loaded For Search` shows green when you doesn't call load, the milvus-insight isn't right.

Definitely you should load the collection after milvus restart. And in your case, it may be a milvus-insight bug that the `Loaded For Search` should

[2021-11-17 11:03] fishpenguin commented on #11845
BTW, please remember to refresh the milvus-insight web page after you restart the milvus server, or the web page just shows the previous load state.

[2021-11-17 11:21] yanliang567 commented on #12001
/assign @congqixia
/unassign

[2021-11-17 11:23] yanliang567 commented on #11995
/assign @XuanYang-cn

[2021-11-17 11:29] xige-16 commented on #11792
When querycoord recovers, the load information of each node is not recovered successfully, resulting in the new querynode without the loadsegment and watchQuerychannel, so the new querynode also does not receive the search message

[2021/11/17 08:11:49.475 +00:00] [DEBUG] [query_coord.go:384] ["query coordinator start watch segment loop"]
[2021/11/17 08:11:49.477 +00:00] [DEBUG] [task_scheduler.go

[2021-11-17 11:56] greensea commented on #11845
@fishpenguin Thanks for the explanation. So I have to load the collection after restart.
But... this issue is not so simple... I just check the collection status with milvus API:
[code]
[code]
Milvus just tell me the collection is loaded, but I did not load the collection after restart.

[2021-11-17 11:58] xige-16 commented on #11845
if you copy the dataset (including milvus, etcd and minio) to an other server, then you don't need to load again，Because the etcd has recorded that you called load collection before restart

[2021-11-17 12:00] xige-16 commented on #11845
restarting milvus use old etcd, so if load collection has been called before restart, then repeated load is unnecessary

[2021-11-17 12:00] fishpenguin commented on #11845
@greensea  Sorry I just made a mistake, if the etcd hasn't been stopped and removed, milvus doesn't need to reload after restart. because etcd has recorded the loaded state and will automatically told the querycoord to load collection after milvus restart.

[2021-11-17 12:04] greensea commented on #11845
emm... so may be there is something happen while the querycoord automatically load the collection?

The issue is now:
1. I start new container with the dataset, the collection is shown loaded. But the search hangs.
2. Then I unload the collection and load the collection again, now I can get the search result.

I am uploading the dataset, will update later

[2021-11-17 12:04] xige-16 commented on #11845
It looks like when the querycoord restarts, the data that was loaded before the restart fails to recover on the querynode, and we're fixing it

[2021-11-17 12:05] xige-16 commented on #11845
duplicate with #11792 , We'll fix it quickly. @greensea

[2021-11-17 12:07] xige-16 commented on #11777
/unassign
/assign @wangting0128

[2021-11-17 12:16] xige-16 commented on #11792
/unassign @cydrain

[2021-11-17 12:43] ThreadDao commented on #11998
[milvus_logs.tar.gz](https://github.com/milvus-io/milvus/files/7554676/milvus_logs.tar.gz)

[2021-11-17 12:53] greensea commented on #11845
Not sure if the dataset is needed for you, just put the link here, feel free to use it.

https://ii.bbxy.net:5443/sharing/LrqXYN7I7
sha256: 7d2df98c52b790ee41d8635e05161794eb6c24ee9593c6c442bf7bc0be60248a  milvus.tar.xz

docker-compose.yaml:
[code]
Remember change the path mapping in docker-compose.yaml, there are 3 lines to be modify.

[2021-11-17 15:10] xiaofan-luan opened #12041 "[Bug]: MsgStream seek behaviour is inconsistent"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When seek/seekLatest happend, pulsar consumer, rocksmq consumer, msgstream, mqtt_msgstream all have different behaviour, which makes code buggy and hard to maintain.

The key of this patch is to unify the behaviour of rocksmq and pulsarmq, also define the semantics.

[2021-11-17 15:37] #11798 closed

[2021-11-18 01:23] #11999 closed

[2021-11-18 02:15] xige-16 commented on #11969
[2021/11/16 15:21:25.002 +00:00] [DEBUG] [client.go:164] ["QueryNode Client grpc error"] [error="rpc error: code = Unknown desc = All attempts results:\nattempt #1:Access Denied.\nattempt #2:Access Denied.\nattempt #3:Access Denied.\nattempt #4:Access Denied.\nattempt #5:Access Denied.\nattempt #6:Access Denied.\nattempt #7:Access Denied.\nattempt #8:Access Denied.\nattempt #9:Access Denied.\natte

[2021-11-18 02:22] yanliang567 commented on #11983
/assign @LoveEachDay
@LoveEachDay could you please help to check this issue?

/unassign @chengduhaha

[2021-11-18 02:23] xige-16 commented on #11275
this bug has been fixed on master branch

[2021-11-18 02:23] DragonDriver commented on #11308
Session consistency can be only implemented in sdk side. See also: https://github.com/milvus-io/pymilvus/pull/821 https://github.com/milvus-io/milvus/issues/9618
You can just keep the last write ts in client and then pass the ts into `guarantee_timestamp` when search a collection.

As for the `bounded staleness`, we have a configuration named `gracefulTime` in query nodes. When the gap between `gu

[2021-11-18 02:28] #11079 closed

[2021-11-18 02:30] LoveEachDay commented on #11983
We only provide gRPC service by now, you cannot use curl to make a request.
/unassign

[2021-11-18 02:31] #11977 closed

[2021-11-18 02:31] xige-16 commented on #10357
/assign @zhuwenxing  trouble you check it
/unassign

[2021-11-18 02:31] xige-16 commented on #10357
/unassign @xiaofan-luan

[2021-11-18 02:32] xige-16 commented on #10357
/assign @zhuwenxing

[2021-11-18 02:37] yanliang567 commented on #11983
@chengduhaha  please check

[2021-11-18 02:38] cydrain commented on #11275
/assign @zhuwenxing

[2021-11-18 02:40] xige-16 commented on #11275
pr #11796 may has fixed the issue， @zhuwenxing trouble you check it

[2021-11-18 02:40] xige-16 commented on #11275
/assign @zhuwenxing
/unassign @cydrain

[2021-11-18 02:43] binbinlv commented on #11950
Latest nightly update:

cluster mode:
Logs: [name: artifacts-milvus-distributed-master-221-pymilvus-e2e-logs.tar.gz]

https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/221/

Hanging timeline:
[code]
It seems hangs at list collection from client test logs.

[2021-11-18 02:54] ThreadDao opened #12050 "[Bug]: Flush hangs after upgrade milvus image version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Deploy cluster milvus by milvus-operator with image `master-20211117-9bd3664`
[code]
2. Run many compact cases (I don't remember exactly)
3. Update milvus image to `master-20211118-cdf8e79` with old pulsar, etcd, minio
4. Run test case: test_compact_twice
[code]
5.

[2021-11-18 03:16] XuanYang-cn commented on #8058
working on it

[2021-11-18 03:17] XuanYang-cn commented on #7684
/reopen

[2021-11-18 03:17] #11917 closed

[2021-11-18 04:00] ThreadDao opened #12059 "[Bug]: Sometimes deleting sealed data fails when queryNode get delete from dmlChannel"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. create
2. insert and flush
3. load
4. delete id 0 and query 0
5. return id 0
[code]

**Milvus logs:**
[milvus_logs.tar.gz](https://github.com/milvus-io/milvus/files/7559781/milvus_logs.tar.gz)

### Expected Behavior

Always get empty query results!!!

### Steps To

[2021-11-18 04:00] zhuwenxing opened #12060 "[Bug]: Insert failed after Milvus restart"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

raise error when inserting data
[code]

### Expected Behavior

works well

### Steps To Reproduce

[code]

### Anything else?

[standalone-reinstall-2021-11-18-11-47-05.log](https://github.com/milvus-io/milvus/files/7559789/standalone-reinstall-2021-11-18-11-47-05.log

[2021-11-18 04:03] ThreadDao commented on #10459
Maybe it has been fixed. I tried a few times and it didn't reproduce. I closed it first.

[2021-11-18 04:03] #10459 closed

[2021-11-18 04:36] JamCrash opened #12065 "[Bug]: call search() return fine but querycoord appear error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[2021/11/18 04:29:49.496 +00:00] [DEBUG] [impl.go:105] ["show collection end"] [collections="[429164996291985409,429165036989841409,429165139160465409]"] [inMemoryPercentage="[100,100,100]"]
{"level":"warn","ts":"2021-11-18T04:29:50.750Z","logger":"etcd-client","calle

[2021-11-18 05:23] xiaofan-luan commented on #12065
/assign @xige-16

[2021-11-18 05:26] xiaofan-luan commented on #12065
seems to be the etcd issue and memory issue agin

[2021-11-18 05:29] xiaofan-luan commented on #12065
the etcd issue should be fixed by new version already, but need to be checked by @xi-ge
For memory,  I thought in your case each node should had at least 32 GB memory if it's 600m IVF PQ, does the memory
enough?

[2021-11-18 05:52] #8887 closed

[2021-11-18 06:21] #11885 closed

[2021-11-18 06:25] YoungErm opened #12069 "[Bug]: call collection.delete(), an error occurs: NotImplementedError: Delete function is not implemented"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I delete entities by following the [tutorials](https://milvus.io/cn/docs/v2.0.0/manage_data.md), It occurs : NotImplementedError: Delete function is not implemented

![image](https://user-images.githubusercontent.com/73276236/142362747-c3d64ddb-2fed-44a9-962b-b79

[2021-11-18 06:28] lukeyny7 commented on #12069
Unsubscribe
On Thu, Nov 18, 2021 at 1:26 AM YoungErm ***@***.***> wrote:

[2021-11-18 06:33] yanliang567 commented on #12060
@congqixia please help to take a look at this issue, it blocks data compatibility test in reinstall part.
/assign @congqixia
/unassign

[2021-11-18 06:44] YoungErm commented on #12069
https://github.com/milvus-io/pymilvus/issues/725

[2021-11-18 06:45] #12069 closed

[2021-11-18 06:45] XuanYang-cn opened #12070 "[Bug]: QueryCoord Ut DataRace"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

The  global map is ungarded
[code]

/assgin
/unassign @yanliang567

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-11-18 06:45] XuanYang-cn commented on #12070
/assign

[2021-11-18 06:55] yanliang567 commented on #12050
/assign @sunby
@sunby  please help to take a look at this issue

/unassign

[2021-11-18 07:01] leadorzf opened #12072 "[Bug]: example insert error when milvus deploy in jingdong cloud"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

run example.py in local, _HOST change to server ip, standalone server running in jd-cloud server
when runing  step "insert", throw error as follows:

_Milvus python sdk version:2.0.0rc8
Create connection...
List connections:
[('default', <pymilvus.client.stub.Milvus o

[2021-11-18 07:07] wangting0128 opened #12073 "[Bug]: [benchmark][cluster] load collection error: StatusCode.DEADLINE_EXCEEDED"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client log:
[code]

### Expected Behavior

argo task: benchmark-test-k7kd7

test yaml:
client-configmap:client-random-locust-search-84h-1b
server-configmap:server-cluster-8c64m-datanode2-indexnode4-querynode6

server:
[code]

### Steps To Reproduce

_No response_

###

[2021-11-18 07:08] sunby commented on #12050
From rootcoord log, producing timetick to pulsar timeout.

[2021-11-18 07:13] ThreadDao opened #12075 "[Bug]: Flush hangs after compact twice"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Deploy cluster milvus
2. Run test case `test_compact_twice` twice
[code]
The first run case passed. But the second run flush hangs.

**Client Logs:**
[client.log](https://github.com/milvus-io/milvus/files/7560769/client.log)

**Server Logs:**
[milvus_logs.tar.gz](h

[2021-11-18 07:14] wangting0128 opened #12076 "[Bug]: [benchmark][standalone]100million vectors, search collection error: StatusCode.DEADLINE_EXCEEDED"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[client.log](https://github.com/milvus-io/milvus/files/7560790/client.log)

client log：
[code]

### Expected Behavior

argo task: benchmark-test-nqjwj

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-single-32c128m

server:
[cod

[2021-11-18 07:17] ThreadDao commented on #12050
Maybe not because of upgrade image, but because of compact. Refer to this issue #12075  for details.

[2021-11-18 07:21] binbinlv commented on #12075
Similar issue,

1. Do several times' compact
2. Drop this collection
3. Create new collection, and insert
4. collection.num_entities [Hangs at here]
collection name: test_search_collection_binbin

Logs:
[compact.tar.zip](https://github.com/milvus-io/milvus/files/7560830/compact.tar.zip)

[2021-11-18 07:27] #9685 closed

[2021-11-18 07:34] JamCrash opened #12079 "[Bug]: If one querynode get search assignment by querycoord and restart, then querycoord will hang and pymilvus hangs too."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

one querynode get assignment by querycoord and restart, then querycoord will hang and pymilvus hangs too.
the restart querynode will not load and search antomatically

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No

[2021-11-18 07:35] #12070 closed

[2021-11-18 07:45] yanliang567 commented on #12079
@zhuwenxing it sounds like chaos test against query node, have you see this issue before?
/assign @zhuwenxing
/unassign

[2021-11-18 07:50] yanliang567 commented on #12072
@leadorzf how many entities did you insert in one batch? how is the latency between the client and cloud, any firewall configured?  I am asking because the error indicates it could be a rpc timeout issue

[2021-11-18 07:50] yanliang567 commented on #12072
/assign @leadorzf
/unassign

[2021-11-18 08:10] zhuwenxing commented on #11035
There appear some error messages in one of three tests, but it seems that the error doesn't affect the result, because all operations work well！

[2021-11-18 08:20] xige-16 commented on #12076
/assign @bigsheeper
/unassign

[2021-11-18 08:21] WordlessToContinue opened #12081 "[Bug]: [scale] The insert time of first run is too long and after scale up, a search time is very large"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

python SDK Blocking on interface collection.load() when add the nodes

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Anything else?

computer 21
docker-compose.yml
[code]

computer 22
docker-compose.yml

[code]

test.py

[code]

[2021-11-18 10:04] xige-16 opened #12083 "[Bug]: error="etcdserver: too many operations in txn request" when querycoord remove tasks from etcd"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[2021/11/18 03:27:14.672 +00:00] [ERROR] [task_scheduler.go:707] ["scheduleLoop: error when remove trigger and internal tasks from etcd"] [triggerTaskID=429166318262943745] [error="etcdserver: too many operations in txn request"] [stack="github.com/milvus-io/milvus/in

[2021-11-18 10:05] xige-16 commented on #12083
/unassign @yanliang567
/assign

[2021-11-18 11:41] #12083 closed

[2021-11-18 11:45] xige-16 commented on #12081
could you please post the log of querycoord? @WordlessToContinue

[2021-11-18 11:49] xige-16 commented on #12073
Querycoord received the load collection request after waiting 50 minutes to start execution, resulting in load timeout, now log incomplete, has added log, run again

[2021-11-18 11:53] xige-16 commented on #12065
pr #12084 has fixed the issue

[2021-11-18 11:55] xige-16 commented on #12065
the fix will in GA version

[2021-11-18 12:18] jennyli-z opened #12107 "[Enhancement]: Need Pytest to support service name"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

pytest can pass service name instead of ip to `host`.

### Why is this needed?

use service name to do the test in ci pipeline so that we can remove `kubectl` from e2e test (pytest )stage

### Anything else?

![image](https://user-images.githubusercontent.com/93511422/14241362

[2021-11-18 12:18] jennyli-z commented on #12107
/assign @yanliang567

[2021-11-18 12:52] bigsheeper commented on #11053
Hi ~ @parsa-ra
I'v tried to reproduce it on my computer(12 Core / 32 GB), I inserted 1 million vectors and also created index (IVF-SQ8, nlist=16384), it searched well and successfully. However, the CPU usage of querynode is quite normal after search or hours after search as shown below:

![Screenshot from 2021-11-18 20-27-17](https://user-images.githubusercontent.com/42060877/142416712-ce851635-58

[2021-11-18 16:51] lowtalker commented on #6722
/reopen

adding a request for m1 support

[2021-11-19 01:22] yanliang567 commented on #12107
@binbinlv I think we don't need to check the IP any longer, as we are able to support host name connection.
/assign @binbinlv
/unassign

[2021-11-19 02:04] bigsheeper commented on #11053
updata. inserted 2 million vectors and created index (IVF-SQ8, nlist=16384)

![Screenshot from 2021-11-19 09-53-30](https://user-images.githubusercontent.com/42060877/142552291-55688880-53c2-4d25-ae11-b5672fce1d89.png)

![Screenshot from 2021-11-19 09-53-45](https://user-images.githubusercontent.com/42060877/142552300-940f482a-470e-4796-b7b3-6e0e8b2af922.png)

[2021-11-19 02:17] zhuwenxing commented on #12060
Verified and passed

[2021-11-19 02:17] #12060 closed

[2021-11-19 02:31] WordlessToContinue commented on #12081
the log as follow  @xige-16

[code]

[2021-11-19 03:48] xige-16 commented on #11889
The amount of data is too small to trigger balance, and the second querynode memory rise is due to handoff

[2021-11-19 03:50] godchen0212 opened #12129 "[Enhancement]: Add msgstream reader"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add msgstream reader

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-11-19 03:52] leadorzf commented on #12072
I have tested 10 and 1000 batches in examply.py, same error happened.
`
_DIM = 128
vectors = insert(collection, 10, _DIM)
vectors = insert(collection, 1000, _DIM)
`
I also tested the connection of server
`
telnet 114.67.225.7 1930
`
it returns
`
Trying 114.67.225.7...
Connected to 114.67.225.7.
Escape character is '^]'.
`
So I think the connection is ok.

but I have no idea about the latency and f

[2021-11-19 03:53] xige-16 commented on #11889
The first querynode memory rises because 180,000 pieces of data are inserted, divided into 120 growing segments, each segmenting is pre-allocated with 32,768 rows of data, so about 400M of space is pre-allocated

[2021-11-19 03:54] xige-16 commented on #11889
The testing process needs to be redesigned

[2021-11-19 03:54] SuoSiFire commented on #11644
@yhmo  这个问题最近比较频繁的复现，对于100个节点的集群几乎每天会有一个节点出现上述问题，可以继续跟进下吗？

[2021-11-19 03:55] leadorzf commented on #12072
I have tested 10 and 1000 batches in examply.py, same error happened.
`
_DIM = 128
vectors = insert(collection, 10, _DIM)
vectors = insert(collection, 1000, _DIM)
`
I also tested the connection of server
`
telnet 114.67.225.7 1930
`
it returns
`
Trying 114.67.225.7...
Connected to 114.67.225.7.
Escape character is '^]'.
`
So I think the connection is ok.

but I have no idea about the latency and f

[2021-11-19 04:02] SuoSiFire commented on #11644
我们的使用场景是这样的，对于写节点来说会每天执行一次
create_collction()
create_index()
insert()
create_index()
.........// 等待检索完成
drop_index()
对于多个读节点来说，会每天执行一次
load() //一般发生在刚开始插入的时候
search() //发现在最后一次create_index() 之后

我在想有没有可能和这两个行为有关
1.读节点在写入数据的同时进行load，在写入数据完成后没有再次执行load
2.读节点没有卸载旧的集合

@yhmo

[2021-11-19 05:40] ThreadDao opened #12131 "[Bug]: Extra growing segments appear in queryNode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Create a collection with `shard_num=1`
2. Insert one entity and flush (repeat five times, get 5 sealed segments)
3. Load collection
4. Get query segment info: 5 sealed segments and 2 growing segments
[code]
**Logs:**
[milvus_logs.tar.gz](https://github.com/milvus-i

[2021-11-19 05:57] #11934 closed

[2021-11-19 06:11] wuweicheng39 opened #12132 "[Bug]: milvus2.0-rc8 并行插入milvus，导致数据写入不一致"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

向量数据被覆盖

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-11-19 06:26] wuweicheng39 commented on #12132
插入1500万的图片数据，图片的id和图片对应的特征向量。搜索展示效果时候，用原图搜索，竟然结果L2距离为0并且排名第一位的是别的图片。经过个人分析，应该是数据并行插入导致问题。两个pk对应的向量数据，互换了。

[2021-11-19 06:28] DragonDriver commented on #12132
能否比对一下两张图片所对应的特征向量是否相同？ @wuweicheng39

[2021-11-19 06:42] wuweicheng39 commented on #12132
已经比对，两张图片，特征向量当然不一样。

[2021-11-19 06:43] DragonDriver commented on #12132
能否麻烦提供一下复现步骤？ @wuweicheng39

[2021-11-19 06:45] wuweicheng39 commented on #12132
1500万的图片插入，同时开启20个进程进行插入操作，如何进行复现？？我只能把我的图片搜索效果，截图给你看看。

[2021-11-19 06:47] wuweicheng39 commented on #12132
我一直关注milvus2.0，之前版本rc版本都没敢用，看到了rc8是ga，就直接试试几千万的图片量，没有想到会遇到这类问题，请求快速解决。

[2021-11-19 06:50] DragonDriver commented on #12132
额，搜索结果会带有向量的 pk，返回的 pk 是否和原来的匹配呢？

[2021-11-19 06:55] wuweicheng39 commented on #12132
这些问题都检查了，我的判断，就是并行插入导致数据不一致。如何把搜索结果贴给你看呢？？？

[2021-11-19 06:59] DragonDriver commented on #12132
OK，大概了解了，1500 w 数据，20 个进程并行插入，插入完毕后用第一条向量进行搜索，我们尝试本地复现一下。
另外，再问一嘴，插入完毕后有做 flush load 操作吗？

[2021-11-19 07:02] ThreadDao commented on #12075
Flush hangs when inserted into the 10th segment (auto-merge threshold).

1. create a collection with `shard_num=1`
2. cycle insert and flush 9 times
3. hangs on 10th flush
[code]
**Note:** If you don't reproduce it the first time, then you run the case again

[2021-11-19 07:05] wuweicheng39 commented on #12132
我是用单位实体图片，做的图片搜索，并不是随机生成的向量。模型是imagenet上面的vgg16之类的。展示效果时候，top50结果。测试是将近100张图片，发现四张图片有类似情况。 数据是到1300w时候，做的IMAGE_INDEX = {"index_type": "IVF_FLAT", "params": {"nlist": 1024}, "metric_type": "L2"}。后续应该是边插入，边索引。搜索端，搭建了django，肯定是先load collection，然后才能search。 flush操作没有运行过。

[2021-11-19 07:16] wuweicheng39 commented on #12132
@DragonDriver

[2021-11-19 07:18] zhuwenxing commented on #11889
new test process:
1. Deploy miluvus (single querynode) and set the memory limit of querynode to 2G
2. Create collection, insert data (amount = 3000, as warming up ), create index, load, insert data continuously(600000)
3. By `helm upgrade lb-milvus milvus/milvus --set queryN ode.replicas = 2 --use-values`, add a querynode node.
4. Continue to insert data (300000)and observe the memory rise of the

[2021-11-19 07:18] #11889 closed

[2021-11-19 07:29] #8624 closed

[2021-11-19 07:29] #8400 closed

[2021-11-19 07:30] DragonDriver commented on #12132
了解了，我尝试复现一下

[2021-11-19 07:39] wuweicheng39 commented on #12132
- Milvus version: milvus2.0-rc8
- Deployment mode(standalone or cluster):milvus-standalone----milvusdb/milvus:v2.0.0-rc8-20211104-d1f4106
- SDK version(e.g. pymilvus v2.0.0rc2):pymilvus=2.0.0rc8
- OS(Ubuntu or CentOS): centos
- CPU/Memory:
- GPU:
- Others:
@DragonDriver @yanliang567

[2021-11-19 07:51] wuweicheng39 commented on #12132
Milvus version: milvus2.0-rc8
Deployment mode(standalone or cluster):milvus-standalone----image:  milvusdb/milvus:v2.0.0-rc8-20211104-d1f4106
SDK version(e.g. pymilvus v2.0.0rc2):pymilvus=2.0.0rc8
OS(Ubuntu or CentOS): centos
CPU/Memory:  CPU/252G
GPU:
Others:

期间是不是会手动调用 get_index_build_progress(clct_name, index_field)，查看创建索引情况。

@DragonDriver @yanliang567

[2021-11-19 07:52] wuweicheng39 commented on #12132
Milvus version: milvus2.0-rc8
Deployment mode(standalone or cluster):milvus-standalone----image: milvusdb/milvus:v2.0.0-rc8-20211104-d1f4106
SDK version(e.g. pymilvus v2.0.0rc2):pymilvus=2.0.0rc8
OS(Ubuntu or CentOS): centos
CPU/Memory: CPU/252G
GPU:
Others:

期间会 时不时会手动调用 get_index_build_progress(clct_name, index_field)，查看创建索引情况，我理解这个是只读操作，应该不影响写入操作。

@DragonDriver @yanliang567

[2021-11-19 07:54] DragonDriver commented on #12132
我本地在用 sift 数据集尝试复现，你说的 get_index_build_progress 确实是存在的，create index 请求发送之后，pymilvus 会不断调用这个接口判断索引是否完成。

[2021-11-19 07:55] zhuwenxing commented on #11275
in version `master-20211118-27715c1`, standalone pod will not restart anymore. However, after recovering from pod kill, getting collection entities, creating index, and searching all cost much longer time than normal situations (I would better say it hangs).

[standalone-pok-kill-11-19.zip](https://github.com/milvus-io/milvus/files/7568631/standalone-pok-kill-11-19.zip)

/assign @cydrain

[2021-11-19 07:56] DragonDriver commented on #12132
对了，能不能麻烦你将你上面的操作过程简单弄个脚本出来 @wuweicheng39

[2021-11-19 07:57] wuweicheng39 commented on #12132
请求大神快速解决啊。 我已经把之前的1.0的milvus给卸了，就是因为2.0可以加入其他信息，不再需要用一个mysql做个pk映射。少运维一个mysql。

[2021-11-19 07:58] DragonDriver commented on #12132
你要不先加一下我们的用户群，看看是不是有人遇到过同样的问题，沟通起来也方便一些， @wuweicheng39

[2021-11-19 07:59] wuweicheng39 commented on #12132
如何加入贵单位的用户群？？

[2021-11-19 07:59] wuweicheng39 commented on #12132
@DragonDriver

[2021-11-19 08:01] JackLCL commented on #12132
![middle_img_v2_e8cf6ad1-9b49-421f-920d-25a7aa01a67g](https://user-images.githubusercontent.com/53512883/142586858-25c9a5e7-6e57-4bdc-8c96-6c6910c2f0f5.jpg)

@wuweicheng39

[2021-11-19 08:02] wuweicheng39 commented on #12132
已经加入，谢谢。

[2021-11-19 08:04] zhuwenxing commented on #11275
But if we create a new collection and do the same operations, the operations will work well.
[code]

[2021-11-19 08:08] yhmo commented on #11644
你们的集群是自己写的中间件来管理多个节点，还是使用mishards来管理的？

如果是使用mishards的话，调用load_collection()实际上只是write node本身在load。而只有当search()请求发生的时候，那些read-only node才会真正地加载各自的segment数据。

你们是每天创建一个新的collection，然后把新数据插入到新collection中，然后建索引，然后开始查询。读节点没有释放旧collection的数据其实不要紧，在search发生的时候，内部的cache机制会把新的加载进来把旧的踢出去。

create_index()也没有必要调用两次，insert完成后调用一次就可以。

所以你看这样行不行，不要调用load()了，建好索引后再开始search
create_collction()
insert()
create_index

[2021-11-19 08:15] congqixia commented on #12131
The root cause is that the segments generated in test cases is compacted by Compaction. Yet the query cluster does not read the information when perform `Load` operations. So the compacted segments behind Checkpoints will become a new Growing Segment. @sunby @xige-16

[2021-11-19 08:17] zhuwenxing commented on #11275
@congqixia This behavior is much same as  the behavior of #7313

[2021-11-19 08:21] xige-16 commented on #12073
querycoord estimate memory size of segment cost 1h, and load collection time out

[2021-11-19 08:51] XuanYang-cn commented on #12075
The flush hangs because:

As the 10th segment `SaveBinlogPath`, datacoord will trigger auto compaction immediately. And the compaction was completed before the Next GetPersistentSegmentInfo req from SDK.

Current flush procedure in SDK:

[code]

[2021-11-19 09:02] XuanYang-cn commented on #12075
Candidate options: update
[code]

in SDK,  take care compacted segments in GetPersistentSegmentInfo of `_wait_for_flushed`

[2021-11-19 09:21] SuoSiFire commented on #11644
谢谢回复。

1.我们是自己来管理多个节点的。我们是按照一定的规则进行分片，每个读节点只加载某些分片，所以是在读节点执行的 load collection，请问这会有什么问题？
2.旧表会在没有检索请求后大概10h后真正删除。

我们执行load collection的原因是防止初次检索过慢，但貌似在插入数据前做这个是没用的。所以我会尝试
1.只在insert完成后调用一次 create index
2.不再调用load

按照上述改动后我再观察一段时间。 @yhmo

[2021-11-19 09:22] SuoSiFire commented on #11644
@yhmo  在这里顺便问一个问题，之前在pr中提问没有人回复。
v1.1.1中是否存在这个问题 https://github.com/milvus-io/milvus/pull/7527

[2021-11-19 09:28] bigsheeper commented on #12076
[code]
rootCoord send time tick message too slowly, which caused tSafe updates too slowly, and then search requset timeout.

[2021-11-19 09:29] yhmo commented on #11644
如果自己管理多个节点，并且每个读节点只加载某些segment的话，势必会调用reload_segments() 和search_in_segment()这两个接口，你们是这样做的么？

[2021-11-19 09:33] yhmo commented on #11644
#7527那个只是2.0的问题，跟2.0调用下层类的方式有关系。

[2021-11-19 09:36] SuoSiFire commented on #11644
我们是通过 SearchParam中的withPartitionTags来指定检索的partition，这样来做到某个机器只检索某几个partition。

这样机器和partition就有映射关系了，这样做是可以的吗？

[2021-11-19 09:39] SuoSiFire commented on #11644
了解了，谢谢。 我们这边也存在单个读节点加载固定数据内存持续增长的情况，但是目前影响比较小。

[2021-11-19 09:44] yhmo commented on #11644
你现在碰到的这个是一个数组越界的异常，但是在我节点比较少的测试里重现不出来，目前我也拿不到足够的资源完全复制你的集群环境。
一般来说，索引都建好了，也就持久化了。读节点加载数据的时候，如果这数据是错的，那就会一直search出错，不会重启后又变好了。如果数据是正确的，search的输入正常的话，那应该search永远不出错。现在你碰到的情况是100个节点查询了很多次之后，忽然有一个节点碰到这个异常么，重启之后又好了么？

[2021-11-19 09:47] SuoSiFire commented on #11644
不是这样的，我们一般数据写入之后会间隔2-3小时才开始检索。
从日志上看上去是单个读节点刚开始检索就出错了，然后重启这个读节点之后，这个异常就消失了。
并且对于每个分片的数据我们会有4个读节点的副本去加载，但出现异常的时候也只有单个副本出问题。

[2021-11-19 09:48] SuoSiFire commented on #11644
4个读节点会同时加载某个分片，但只有单个副本出现上述问题。并且重启之后可以恢复。

[2021-11-19 09:51] SuoSiFire commented on #11644
我突然想到可能还有一个问题是，单个读节点可能会在旧的集合还有检索请求的时候去load 新集合。

但是在开始检索新集合的时候才会出现上面的异常。

[2021-11-19 10:00] #8656 closed

[2021-11-19 10:13] yanliang567 commented on #12132
@DragonDriver  I think we need to know why the distance is 0 while the 2 vectors are different

[2021-11-19 10:15] yhmo commented on #11644
通过分partition的方式来把数据分散到多个节点也没问题。5千万的128维数据大约是25G，分区不宜太多，10～15个这样就差不多了。

"在旧的集合还有检索请求的时候去load 新集合"，这也是没问题的，search和load请求是在同一个队列，load请求会等待search完成后才会进行。

[2021-11-19 10:19] yanliang567 commented on #12131
2 quetstions:
1. why the num_rows=1 for the 2 growing segments?
2. why it generated 2 growing segments, while we configured only 1 shard

[2021-11-19 10:25] xige-16 commented on #11792
after querycoord recover, querycoord get recovery info for offline query node's segment from datacoord, but datacoord print  a log

[ERROR] [services.go:494] ["get collection info from master failed"] [collectionID=429211882457075009] [error="state code = Initializing"]

and datacoord return getRecoveryInfo(errorCode == unexpected error) and err = nil, querycoord only check err and ignore errorCod

[2021-11-19 10:25] yanliang567 commented on #12072
@leadorzf could you please upload the mivlus logs for further investigation?

[2021-11-19 10:25] xige-16 commented on #11792
I'll fix it

[2021-11-19 10:25] congqixia opened #12140 "[Bug]: Compile Milvus with Cmake error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

Compile successfully

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2021-11-19 10:28] #12129 closed

[2021-11-19 10:29] godchen0212 opened #12142 "[Enhancement]: From dml cp load delete message"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

From dml cp load delete message

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-11-19 10:38] SuoSiFire commented on #11644
好的，我已经把load的操作去掉了，再观察一段时间看看。

[2021-11-19 10:43] SuoSiFire commented on #11644
麻烦再问一个问题，我还有一个边插入边查询类型的集合。
索引类型是 IVF_SQ8, Index_file_size 2048, 单个分片5kw数据，数据维度是256维。
目前用56G内存的机器去加载，但是最后一个分片（也就是需要边插入边查询的分片） 经常出现OOM。 请问应该怎么调整参数。目前读节点参数配置为
{    "cache.cache_size": "42GB",    "cache.insert_buffer_size": "2GB"}
java服务进程堆内存配置为 2G。

[2021-11-19 11:04] yhmo commented on #11644
配置里的cache_size只是表示允许search占用的内存大小，但还有其他的内存消耗，比如建索引是不计算在cache里的。所以有时内存占用会出现峰值超过系统内存的事情。比如在slack上有用户就碰到：https://app.slack.com/client/TM98LD8DQ/threads/thread/CMNHUC371-1634567313.315400

在segment文件存盘的时候有可能也会出现峰值，我测试下来，2gb的segment在存盘的那一瞬间会多占用7.5gb的内存。当search把cache都用满的时候，你的机器只剩下14g内存，减去系统其他进程的消耗也不剩多少。在一边插入数据的情况下，最后那个分片实际上不是一个，而是多个，会一直进行合并操作，合并操作实际上是把两三个文件读上来，然后在内存里合并成一片，然后再存盘，有可能出现内存使用峰值，很可能就把内存爆掉。
所以

[2021-11-19 11:22] SuoSiFire commented on #11644
即使是索引没有构建好，也只是最后一个segment没有构建好对吧,所以多预留2G的内存，设置到22G是不是就比较安全。

[2021-11-19 11:33] #12140 closed

[2021-11-19 12:05] xige-16 commented on #12065
/unassign
/assign @JamCrash

[2021-11-19 12:13] zhuwenxing commented on #10357
Verified and passed in version `master-20211119-51b353b`

[2021-11-19 12:13] xige-16 commented on #11969
@DragonDriver  any update?

[2021-11-19 12:15] zhuwenxing commented on #10441
I have tested this about 3 times in version `master-20211119-51b353b` and in my local env, the result is passed.

[2021-11-19 12:15] #10441 closed

[2021-11-19 12:16] ThreadDao opened #12146 "[Bug]: Load collection failed after compact and create index"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Create with `shard_num=1`
2. Insert 3000 entities, flush
3. Insert 3000 entities, flush
4. compact
5. create index `default_index = {"index_type": "IVF_SQ8", "metric_type": "L2", "params": {"nlist": 64}}`
6. load
Load collection return exception:
[code]
Server logs

[2021-11-19 12:19] xige-16 commented on #11004
/assign @godchen0212

[2021-11-19 12:20] zhuwenxing commented on #10171
Test this case in version `master-20211119-51b353b` again!
Same error, querynode is always not ready!
[code]
The log of describe
[code]

The log of running `hello_milvus.py`
[code]

[2021-11-19 12:22] xige-16 commented on #11004
The segment has a rapid increase in memory during load. The debug found that when the memory increases, the most is about 8 times the segment size. The memory increase is at the place where the memory is loaded from minio and codec deserialize

[2021-11-19 12:23] xige-16 commented on #11004
Trouble you to check this problem @godchen0212

[2021-11-19 12:24] xige-16 commented on #12076
/assign @fishpenguin
/assign @bigsheeper

[2021-11-19 12:25] xige-16 commented on #12076
/unassign @bigsheeper

[2021-11-19 12:31] xige-16 commented on #12146
[2021/11/19 12:03:14.621 +00:00] [DEBUG] [cluster.go:263] ["loadSegments: queryNode load segments error"] [nodeID=7] ["error info"="rpc error: code = Unknown desc = [UnexpectedError] load data has different row count from other columns"]

[2021-11-19 12:32] xige-16 commented on #12146
It seems that the binlog is written incorrectly, or the insert log file path of some columns is missing during load.

[2021-11-19 12:38] xige-16 opened #12147 "[Bug]: queryCoord should check the errorCode of GetRecoveryInfo"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

if rootCoord is not healthy, datacoord with return GetRecoveryInfo{ErrorCode: unexpectError} and err == nil to queryCoord, queryCoord should check the err and the ErrorCode together

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anyt

[2021-11-19 12:49] leadorzf commented on #12072
[2021/11/19 12:38:41.414 +00:00] [DEBUG] [impl.go:2313] [RegisterLink] [role=proxy] ["state code of proxy"=Healthy]
[2021/11/19 12:38:42.455 +00:00] [DEBUG] [impl.go:399] ["DescribeCollection enqueue"] [role=proxy] [db=] [collection=demo]
[2021/11/19 12:38:42.455 +00:00] [DEBUG] [id.go:141] ["IDAllocator pickCanDoFunc"] [need=1] [total=189944] [remainReqCnt=0]
[2021/11/19 12:38:42.455 +00:00] [DEB

[2021-11-19 13:05] leadorzf commented on #12072
I also find some warnings as follows:
[2021/11/19 13:03:31.680 +00:00] [WARN] [grpclog.go:46] ["[transport]transport: http2Server.HandleStreams failed to read frame: read tcp 172.19.0.4:19530->58.33.101.126:48538: read: connection reset by peer"]

[2021-11-19 13:06] ThreadDao opened #12148 "[Bug]: search error: No Available Query node result"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. create binary collection with shard_num=1
2. insert 3000 entities and flush
3. insert 3000 entities and flush
4. create index `default_binary_index = {"index_type": "BIN_IVF_FLAT", "params": {"nlist": 128}, "metric_type": "JACCARD"}`
5. compact and complete
6. load

[2021-11-19 13:07] ThreadDao commented on #12148
For similar issues refer to #11406

[2021-11-19 16:23] MathiasExorde commented on #9689
Hi, we have the exact same issue. Impossible to search, hangs forever. I also believe this is due to the fact that collections are not released and docker is being shut down. Impossible to recover. Help?

[2021-11-20 00:31] xige-16 commented on #11792
trouble you check it @ThreadDao

[2021-11-20 00:32] xige-16 commented on #11792
/assign @ThreadDao
/unassign

[2021-11-20 03:15] jaime0815 opened #12151 "[Enhancement]: Default disable libfiu"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

1. This lib can be excluded during the building phase.
2. The fault injection just should occur within the test code.

### Why is this needed?

1. This lib currently doesn't support build on OSX
2.  To decouple make the key path of code clear.

### Anything else?

_No response

[2021-11-20 03:35] jaime0815 opened #12152 "[Enhancement]: Upgrade faiss to 1.7.2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

1. Upgrading to 1.7.2
2. Backport patch to the new version.
3. Support a build option for OSX

### Why is this needed?

1. Support Milvus running with faiss lib on the OSX platform.
2. Get Some features of faiss after upgrading(need clarify)

### Anything else?

_No response_

[2021-11-20 04:20] #7624 closed

[2021-11-20 04:20] #9772 closed

[2021-11-20 04:25] jhillhouse92 opened #12153 "[Bug]: Helm deployment for cluster freezes at IndexCoordClient connect success"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I execute:
` helm install my-release milvus/milvus`

The pods start deploying:
[code]

But querynode pod continues to restart and freezes at:

[code]

It hangs at this point at the `WaitForComponentHealthy` never saying it failed or is ready until Kubernetes rest

[2021-11-20 05:21] jhillhouse92 commented on #12153
I tested with helm chart v2.2.1 which uses milvus-2.0.0-rc6 and that version works as expected with regards to this issue so a breaking change was introduced between rc6 and rc8.

[2021-11-20 07:16] yanliang567 commented on #12153
@xige-16

[2021-11-20 09:23] #9690 closed

[2021-11-20 10:45] xiaofan-luan commented on #8830
/unstale

[2021-11-20 10:45] xiaofan-luan commented on #8830
@parthiv11 hey parthiv11, need any help?

[2021-11-20 10:46] xiaofan-luan commented on #12152
@jaime0815 Hey jaime, that's a nice proposal, you may want to have a MEP if you gonna to do this~

[2021-11-20 10:49] xiaofan-luan commented on #12072
try ping  172.19.0.4:19530 and see if you have network access to milvus cluster. guess 58.33.101.126 is your client's ip

[2021-11-20 10:52] xiaofan-luan commented on #11952
@yanliang567 is this not working?

[2021-11-20 12:54] fishpenguin commented on #12076
I have added some logs in rocksmq produce, please test again.

[2021-11-20 13:14] xige-16 commented on #12146
1B benchmarck test has reproduced the problem
            NOMINATED NODE   READINESS GATES
benchmark-test-7wpf9-1-etcd-0                                 1/1     Running     0          3m3s    10.97.17.66    qa-node014.zil
liz.local   <none>           <none>
benchmark-test-7wpf9-1-etcd-1                                 1/1     Running     0          3m3s    10.97.17.64    qa-node014.zil
liz.local

[2021-11-20 13:28] xige-16 commented on #12073
first issue：[2021/11/20 04:32:10.525 +00:00] [DEBUG] [task_scheduler.go:844] ["waitActivateTaskDone: activate task return err"] [taskID=429214236610920460] [triggerTaskID=429214236610920449] [error="rpc error: code = Unknown desc = [UnexpectedError] load data has different row count from other columns"]

duplicate with #12146

[2021-11-20 13:29] xige-16 commented on #12073
second issue: after load failed, [2021/11/20 04:44:54.010 +00:00] [ERROR] [task_scheduler.go:706] ["scheduleLoop: rollBackInternalTask error"] [triggerTaskID=429214236610920449] [error="etcdserver: too many operations in txn request"] [stack="github.com/milvus-io/milvus/internal/querycoord.(*TaskScheduler).scheduleLoop\n\t/go/src/github.com/milvus-io/milvus/internal/querycoord/task_scheduler.go:70

[2021-11-20 13:29] xige-16 commented on #12073
I'll fix it

[2021-11-20 16:39] #11912 closed

[2021-11-20 17:42] parthiv11 commented on #8830
@xiaofan-luan am i eligible for Hacktoberfest swag

[2021-11-20 17:43] parthiv11 commented on #8830
Can you help me for this issue

[2021-11-21 03:30] SuoSiFire commented on #11644
去重load后问题依旧复现了，要不我开下debug日志，捞点日志你再帮忙分析下? 是不是只保留读节点的debug日志就可以？
@yhmo

[2021-11-21 05:23] parsa-ra commented on #11053
Are you using the same build as our test?
Strange!! I wonder are if all of your input data are sealed?

[2021-11-21 08:37] #9168 closed

[2021-11-21 14:50] xiaofan-luan commented on #8830
Hey parthiv, sorry that the Hacktoberfest event is done~ but the community welcomes any contribution and we will still send some gifts if you made some progress.

[2021-11-21 14:51] xiaofan-luan commented on #8830
may I know what step you are at? did you successfully build and setup dev environment on your laptop? what kind of help do you need.

[2021-11-21 14:56] parthiv11 commented on #8830
No i am not talking about this issue.
I have made some prs in milvus-io organisations

[2021-11-21 15:38] xiaofan-luan commented on #8830
Sure which issues?

[2021-11-21 15:42] parthiv11 commented on #8830
https://github.com/search?q=org%3Amilvus-io+author%3Aparthiv11&type=issues

[2021-11-22 01:51] xiaofan-luan commented on #8830
@kateshaowanjou  Hi kate, could you please help to check?

[2021-11-22 01:53] sunby commented on #12050
@ThreadDao I will close this issue and relate it to #12075

[2021-11-22 01:54] sunby commented on #11987
/unassign @congqixia
/unassign @sunby
/assign @binbinlv Please verify it

[2021-11-22 02:05] wuweicheng39 commented on #12132
两个pk对应的vector，互换了。 @yanliang567

[2021-11-22 02:13] xige-16 commented on #11985
/unassign @bigsheeper
/assign @xiaocai2333

[2021-11-22 02:15] yhmo commented on #11644
OOM的问题你把cache_size设置到25吧。

“单个读节点刚开始检索就出错了，然后重启这个读节点之后，这个异常就消失了”， 把这个节点的debug/error日志给我看吧，包括重启前和重启后的日志。我比较一下重启前后的日志看看能不能看出什么。

[2021-11-22 02:28] xige-16 commented on #11978
[2021/11/16 15:32:24.893 +00:00] [DEBUG] [impl.go:321] [LoadCollection] [role=proxy] [msgID=429149831408417191] [timestamp=429149846206414854] [db=] [collection=search_collection_f7iE0esp]

[2021/11/16 15:32:25.381 +00:00] [DEBUG] [impl.go:2349] [RegisterLink] [role=proxy] ["state code of proxy"=Healthy]

[2021/11/16 15:32:25.384 +00:00] [DEBUG] [impl.go:529] ["ShowCollections enqueue"] [role=prox

[2021-11-22 02:29] xige-16 commented on #11978
The proxy waited 20 seconds after receiving the load request before processing

[2021-11-22 02:31] xige-16 commented on #11978
During this period, the proxy reconnected to querycoord, which took less than a second

[2021-11-22 02:38] #12142 closed

[2021-11-22 02:38] #11976 closed

[2021-11-22 02:38] #11971 closed

[2021-11-22 02:39] #11009 closed

[2021-11-22 02:40] ThreadDao opened #12157 "[Bug]: Inaccurate assertion of delete de-dup case"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Note: The deleted entity is not necessarily the one with primary key 0.
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-11-22 02:45] binbinlv commented on #11987
@sunby, OK, verifying it. And this issue is not reproduced each time, so will close it after verification.

[2021-11-22 02:49] xige-16 commented on #12081
It seems that querycoord has been trying to connect to the newly launched querynode

[2021-11-22 02:49] XuanYang-cn commented on #12075
This solution cannot handle a multi-compacted segment, which generates from a compacted segment.

[2021-11-22 02:52] binbinlv opened #12159 "[Bug]: GC period could not be configured"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Data is clean by every  24 hours

### Expected Behavior

Data clean time could be configured

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-11-22 02:53] ThreadDao commented on #12131
@congqixia In this case, `compact` is not called manually. At the same time, the number of segments is 5, which is less than the threshold (10) for automatically triggering the merge. I don't understand the root cause you said.

[2021-11-22 03:02] parthiv11 commented on #8830
@xiaofan-luan why you are not active on slack

[2021-11-22 03:13] congqixia commented on #12159
GC is configurable after this PR
https://github.com/milvus-io/milvus/pull/12061
Please verify. @binbinlv
/unassign
/assign @binbinlv

[2021-11-22 03:19] DragonDriver commented on #11978
![image](https://user-images.githubusercontent.com/31589260/142796075-b26edbf5-3948-47d7-88ff-7cef3e62024a.png)

[2021-11-22 03:20] DragonDriver commented on #11978
`Flush` here is too slow, so other tasks in `ddl` queue time out.
Figuring out why `Flush` here is too slow.

[2021-11-22 03:37] scsven commented on #11035
/unassign @cydrain
/assign @zhuwenxing

[2021-11-22 03:38] xige-16 commented on #12081
When querycoord created newQueryNodeClient and init/start, it did not establish a grpc connection with querynode, but querycoord believed that the connection was successful, and set the status of node to online, but it was discovered that querynode could not be connected when it was actually called by grpc

[2021-11-22 03:39] xige-16 commented on #12081
There is a problem with this part, we will fix it immediately

[2021-11-22 03:45] binbinlv commented on #12159
@congqixia  Ok, testing, thanks.

[2021-11-22 03:56] congqixia opened #12162 "[Bug]: Milvus process does not quit after disconnected from etcd"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When component disconnects from etcd, the process does not quit

### Expected Behavior

Component process quit after disconnected from etcd

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2021-11-22 04:12] godchen0212 commented on #11641
/unassign
/assign @cydrain

It may be caused in release operations. The reproduce code shows as follows:

[code]

If the ```collection.release()``` is executed, the result will be wrong.

[2021-11-22 05:06] greensea commented on #11845
I have started a new container using image milvusdb/milvus-dev:master-20211120-bf391f2 with the current dataset.
This docker image is built after #12145 pull request so I expected this issue should be fixed.
But the search still hangs. And even more, I tried to unload the collection and load the collection via milvus-insight, the search still hangs. On the previous version, if I unload then load t

[2021-11-22 05:19] greensea commented on #11845
Sorry, I just got the search results. It not hangs. It took 6m34s for the search return results.
But I just unload and reload the collection, currently, I can not verify this issue is fixed, let me see if the search hangs in the next few days.

[2021-11-22 05:33] zhuwenxing commented on #10357
In version `3cfc740`, this issue happened again.
Milvus hangs at load collection after querynode pod recovered from being killed.
[querynode-pod-kill-11-22.zip](https://github.com/milvus-io/milvus/files/7578416/querynode-pod-kill-11-22.zip)

/assign @xige-16

[2021-11-22 05:49] xiaofan-luan commented on #12148
/assign @ThreadDao #11406 is fixed,can you take a look at this one?

[2021-11-22 05:50] xiaofan-luan commented on #11987
assign @binbinlv

[2021-11-22 05:51] #11862 closed

[2021-11-22 06:11] binbinlv commented on #11777
Verifying.

[2021-11-22 06:13] binbinlv commented on #11777
Blocked by #12073

[2021-11-22 06:14] #12157 closed

[2021-11-22 06:17] binbinlv commented on #12076
Reproducing.

[2021-11-22 06:26] ThreadDao commented on #12148
@xiaofan-luan #11406 has been fixed 11 days ago, but I encountered this error again using the image just three days ago (`master-20211119-8a9fb9b`). So please @DragonDriver take a loot at the log first!

[2021-11-22 06:28] xiaofan-luan commented on #12075
please remember to notify the SDK maintainer

[2021-11-22 06:31] yhmo commented on #12152
Please note that currently milvus is using a customize faiss base on v1.6.3. We did pretty much improvement on this customize version.
The faiss v1.7.1 change a lot from v1.6.x, many directories are changed, source files moved, Makefile changed to CMake. It is difficult to integrate the improvement into v1.7.1.
The upper level source code is compiled based on the improvement, so it will failed to

[2021-11-22 06:36] DragonDriver commented on #11978
![image](https://user-images.githubusercontent.com/31589260/142813127-0dc22fd3-60ab-4faa-9a44-d04662e29d86.png)

Sorry, I made a mistake. In fact, `ShowCollections` is the last complete operation in `ddl` queue. Then `LoadCollection` entered the queue later.
Figuring out why `LoadCollection` took so many time in Proxy.

[2021-11-22 06:37] binbinlv commented on #12059
@scsven any updates?

[2021-11-22 06:45] binbinlv commented on #11792
Verifying phase, cancel the urgent first, and will close or re-add  urgent label later according to the validation results.

[2021-11-22 06:46] wxyucs opened #12164 "[Enhancement]: Support to get accurate number of entities"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I would like to enhance the number of entities function to get an accurate result.

### Why is this needed?

Currently, the number of entities is calculated by inserting request statistics. After deleting the data, the result is inaccurate.

### Anything else?

_No response_

[2021-11-22 06:48] binbinlv commented on #11074
@czs007 any updates?

[2021-11-22 06:50] binbinlv commented on #11004
@xige-16 @godchen0212  any updates?

[2021-11-22 07:02] binbinlv commented on #12050
@sunby @ThreadDao is the root cause for this issue same with #12075? If yes, please close this one, thanks.

[2021-11-22 07:06] binbinlv commented on #11952
@zhuwenxing please verify this issue? If fixed, please close it. Thanks.

Cancel urgent label first.

[2021-11-22 07:09] binbinlv commented on #11148
Recently, for standalone mode, tests do not hang, so cancel the urgent label first. But it is still fails, so did not confirm this issue is covered or fixed. so still keep this issue open.

[2021-11-22 07:13] DragonDriver commented on #11978
[2021/11/16 15:32:02.889 +00:00] [DEBUG] [impl.go:309] ["LoadCollection enqueue"] [role=proxy] [db=] [collection=search_collection_f7iE0esp]

[2021/11/16 15:32:02.890 +00:00] [DEBUG] [id.go:141] ["IDAllocator pickCanDoFunc"] [need=1] [total=171373] [remainReqCnt=0]

[2021/11/16 15:32:02.890 +00:00] [DEBUG] [impl.go:321] [LoadCollection] [role=proxy] [msgID=429149831408414676] [timestamp=4291498404

[2021-11-22 07:16] DragonDriver commented on #11978
After send `LoadCollection` to qc, qc didn't answer until time out. And we didn't see any logs about "load collection search_collection_f7iE0esp" in qc.

[2021-11-22 07:16] #12050 closed

[2021-11-22 07:18] xiaofan-luan commented on #7910
Let's only support true&&false for now, any suggestions?

[2021-11-22 07:21] binbinlv commented on #12131
For statistics with other blocking issues for GA, so set this as critical urgent too.

[2021-11-22 07:26] binbinlv commented on #11969
Did not occur for several days, so cancel the urgent first.

[2021-11-22 07:32] binbinlv commented on #7910
It is OK for me, just remind of the friendly error message for not-support types and values.

[2021-11-22 07:32] zhuwenxing commented on #11952
Verified and passed.
When segment max size is set as 128, the sealed segment info is as follow:
[code]
102795264 //1024//1024 =98MB  which is about equal to 128 * 0.75

[2021-11-22 07:32] #11952 closed

[2021-11-22 07:35] xiaofan-luan commented on #7521
We will support in expression and compare bool with number in later version, so far the priority is to compare bool with TRUE/FALSE

[2021-11-22 07:38] lyfggg opened #12169 "[Bug]: Hanging when executing collection.search function"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Hanging when executing collection.search function

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

There are 426480 vectors in the collection, each vector is 13560 dimensions.

test.py

connections.connect(host='xxxxxx'

[2021-11-22 07:38] sunby commented on #12075
@yhmo @XuanYang-cn I will add a new interface `GetFlushState` which receives a slice of segment id and return true only if all segments are flushed. This interface is used to check flush progress after calling `Flush`

[2021-11-22 07:41] lyfggg commented on #12169
lo
[Uploading standalone.log…]()
gs

[2021-11-22 07:42] lyfggg commented on #12169
[standalone.zip](https://github.com/milvus-io/milvus/files/7579022/standalone.zip)

[2021-11-22 07:43] DragonDriver commented on #12148
The reason differs from #11406 . Try to reproduce in my local pc.
/assign

[2021-11-22 07:48] kateshaowanjou commented on #8830
If this is not relevant to this issue, please do not comment under this issue to avoid confusion. You can go here for general discussion about Hacktoberfest instead: https://discuss.milvus.io/c/hacktoberfest/9.

[2021-11-22 07:50] cydrain opened #12171 "[Enhancement]: Optimize unittest runtime"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Optimize querycoord/querynode/storage unittest runtime

### Why is this needed?

querycoord / querynode / storage unittest run too slow
[code]

### Anything else?

_No response_

[2021-11-22 07:50] cydrain commented on #12171
/assign

[2021-11-22 07:55] fishpenguin commented on #7910
OK for me.

@xiaofan-luan only "bool == true/false"? Shall we support "bool in [ true/false ]"?

[2021-11-22 07:56] fishpenguin commented on #7910
Should expr like "bool == 0/1" be supported?

[2021-11-22 07:58] cydrain commented on #11309
/assign

[2021-11-22 08:14] XuanYang-cn opened #12172 "[Bug]: Entity deleted yet still can be queried by PK"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-11-22 08:21] DragonDriver commented on #12172
What's the version of pymilvus? @XuanYang-cn
I forgot updating the timestamp of delete operation in a patch to support session consistency. This patch has already been reverted. If you use pymilvus which contains this patch but doesn't contain the reverted patch, then this issue may happend.

[2021-11-22 08:22] DragonDriver commented on #12172
See also https://github.com/milvus-io/pymilvus/pull/823.

[2021-11-22 08:23] #12162 closed

[2021-11-22 08:23] xige-16 commented on #12131
First question: querynode should add execlude segment for flow graph using flushed segment infos
[code]

[2021-11-22 08:26] xige-16 commented on #12131
second question: all segments has been flushed, But there are still unfleshed segment infos in the returned recovery info
[2021/11/19 03:21:12.042 +00:00] [DEBUG] [collection_replica.go:181] ["excludedSegments in collectionReplica"] [info="{\"429206213382573377\":[{\"ID\":429206221286014979,\"collectionID\":429206213382573377,\"partitionID\":429206213382573378,\"dml_position\":{\"timestamp\":18446

[2021-11-22 08:28] piotr-jagiello commented on #8113
/reopen

[2021-11-22 08:32] congqixia commented on #10171
@zhuwenxing Fix PR has been merged. Please verify.
The expected behavior is:
- When etcd is down for 1 minute or more, all the milvus instances(excluding proxy) should go down(or restart) until etcd goes back.
- When etcd is down less than a minute, the instances should be waiting for etcd.

[2021-11-22 08:33] godchen0212 commented on #8568
Issue #11009 done.

[2021-11-22 08:33] godchen0212 commented on #8568
/unassign
/assign @congqixia

[2021-11-22 08:51] cydrain commented on #11309
[code]

[2021-11-22 08:55] zwd1208 opened #12176 "[Enhancement]: Jaeger servicename should not contain id parameter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

When node component init tracing, it use id as part of the servicename. so there will have many different servicename in jaeger system.

`// init initializes IndexNode's grpc service.
func (s *Server) init() error {
	var err error
	Params.Init()

	indexnode.Params.InitOnce()

[2021-11-22 09:00] binbinlv commented on #11985
Verified, and fixed.

Milvus: d567b21
pymilvus: 2.0.0rc9.dev14

[2021-11-22 09:00] #11985 closed

[2021-11-22 09:02] congqixia commented on #12131
@xige-16 Quick reply, this collection id is `429206213382573377`; Issue mentioned collection is `429206895585918977`;

[2021-11-22 09:09] #10010 closed

[2021-11-22 09:17] DragonDriver commented on #12148
Binary vector with `L2` is not supported, try `IP` or `JACCARD` instead.

[2021-11-22 09:18] DragonDriver commented on #12148
/assign @ThreadDao

[2021-11-22 09:22] fishpenguin commented on #7910
I think it's better to support "bool_field == true/false and 1/0".

[2021-11-22 09:24] xiaofan-luan commented on #7910
@scsven any comments? thought if we support number, then not support bool_field = -1 or bool_field > 2 might be a little confusing.

[2021-11-22 09:30] xiaofan-luan commented on #7910
bool in [ true/false ] support is ok, it‘s a sugar nice to have. I just changed the priority to backlog

[2021-11-22 09:34] scsven commented on #7910
I think we should NOT support until it is REQUIRED in some cases.

[2021-11-22 09:35] #10906 closed

[2021-11-22 09:38] bigsheeper commented on #11053
Hello @parsa-ra ,
Thank you for your reply and apologies for my fault to use the `2.0.0-rc8` version of milvus to test it a few days ago. And I'v reproduce it on the `2.0.0-rc7` version.
There is a little issue with the `2.0.0-rc7` version to lead to high cpu usage in query node (#10722), and this issue has been fixed in the `2.0.0-rc8` version. So we recommend that you use the `2.0.0-rc8` version

[2021-11-22 09:45] parsa-ra commented on #11053
Got it, thanks ...

[2021-11-22 09:45] #11053 closed

[2021-11-22 09:52] congqixia opened #12181 "[Bug]: DroppedAt is not set when segment compacted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After segments are compacted, the state is set to `Dropped` but the `DroppedAt`, which stands for the time segments is marked unavailable, is not set. Which will cause corresponding segment files cleaned by garbage collector too quick.

### Expected Behavior

Set `Dro

[2021-11-22 10:08] wangting0128 commented on #9672
**One querynode**
test yaml:
[code]
test result:

<img width="1838" alt="截屏2021-11-22 18 04 27" src="https://user-images.githubusercontent.com/26307815/142841904-2e6b7113-c603-48c2-9dae-1ce41e8cf5fb.png">

<img width="1838" alt="截屏2021-11-22 18 04 59" src="https://user-images.githubusercontent.com/26307815/142841982-967a6a90-6172-43bf-9cae-cd8b5602b59d.png">

**Two querynodes**
test yaml:
[code]

[2021-11-22 10:34] leadorzf commented on #12072
you mean the milvus server need commicate to milvus client when client insert data to server?

[2021-11-22 11:09] XuanYang-cn opened #12187 "[Bug]: DN release datasyncservice stucked"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

may cause 1200% CPU (not verified yet)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-11-22 11:28] zhuwenxing commented on #11275
[standalone-pod_kill-chaos-test-2021-11-22-19-23-19.zip](https://github.com/milvus-io/milvus/files/7580553/standalone-pod_kill-chaos-test-2021-11-22-19-23-19.zip)

[2021-11-22 19:15:33 - INFO - ci_test]: chaos injected (test_chaos.py:165)
[2021-11-22 19:16:34 - INFO - ci_test]: chaos deleted (test_chaos.py:191)
hello_milvus.py start time: 2021-11-22 19:18:20

[2021-11-22 11:35] MathiasExorde commented on #12169
Hi, Same issue here. Kind of related to #9689. Search is hanging even for hours. I can't search anything again until I reinstall Milvus and build a new collection. Can we mark this as urgent?

[2021-11-22 11:37] zhuwenxing commented on #11275
in this test, the process mainly hangs at search.
[code]

[2021-11-22 12:07] lyfggg commented on #12169
Yes, but even if I restart Milvus, it doesn’t work. Every time I insert data, the search function will hang.

[2021-11-22 12:11] #12181 closed

[2021-11-22 12:16] czs007 commented on #12131
@bigsheeper  is working on this.

[2021-11-22 12:21] xige-16 commented on #12146
[float_verctor.log](https://github.com/milvus-io/milvus/files/7580881/float_verctor.log)
I did not create index to reproduce this problem, it seems that the binlog file of the vector column is wrong

[2021-11-22 12:30] bigsheeper commented on #12131
#12188 would fix the first question mentioned by @xige-16 above.

[2021-11-22 12:57] zhuwenxing opened #12190 "[Bug]: [chaos][querynode]Search hangs after deleting querynode pod failure chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

after delete chaos, search hangs

### Expected Behavior

all operations works well

### Steps To Reproduce

[code]

### Anything else?

before injecting chaos, collection `hello_milvus` was not released
[querynode-pod-failure-11-22-20-54-00.zip](https://github.com/mil

[2021-11-22 12:57] #7670 closed

[2021-11-22 13:06] ThreadDao commented on #11792
I re-test on image `master-20211122-835451e` and load successfully. Close it first.

[2021-11-22 13:06] #11792 closed

[2021-11-23 01:57] cydrain commented on #11641
/assign @ThreadDao
/unassign

[2021-11-23 01:59] cydrain commented on #11309
blocked since
[code]

[2021-11-23 02:13] binbinlv opened #12195 "[Bug]: Files in minio are not cleaned when enabling GC and setting clean time period"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Files in minio are not cleaned when enabling GC:

### Expected Behavior

Files in minio are cleaned after GC time period:

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2021-11-23 02:19] binbinlv commented on #12195
Logs:
[12195.tar.zip](https://github.com/milvus-io/milvus/files/7585469/12195.tar.zip)

[2021-11-23 02:25] xiaocai2333 opened #12198 "[Enhancement]: Parallel execution between segments to improve search efficiency"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Parallel execution between segments to improve  search efficiency.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-11-23 02:27] xiaocai2333 commented on #12198
/assign

[2021-11-23 02:28] cydrain commented on #11275
milvus version master-20211122-0f2b7d1

standalone-pod_kill-chaos-test-2021-11-22-19-23-19.zip

[code]

[2021-11-23 02:30] XuanYang-cn commented on #12146
That's a compaction bug, will fix it soon.

[2021-11-23 02:31] congqixia commented on #12195
@binbinlv according to the log, the build version was `Version:   d567b21`, which a version from Oct 11
[code]

[2021-11-23 02:42] binbinlv commented on #12195
OK, thanks.

There is a problem for the script of starting the milvus using kind, so will start a new one to test. Close this.

[2021-11-23 02:42] #12195 closed

[2021-11-23 02:48] binbinlv commented on #12081
@xige-16 hello, how is the fixing now? Will it is fixed by today?
Thanks.

[2021-11-23 02:51] binbinlv commented on #12073
@xige-16 hello, how about the fix now? Thanks.

[2021-11-23 02:52] scsven commented on #12172
/triage accept

[2021-11-23 02:52] scsven commented on #12172
/triage accepted

[2021-11-23 02:55] binbinlv commented on #11004
@ThreadDao please help to verify whether this is fixed by the upper pr?

[2021-11-23 02:57] binbinlv commented on #10171
@zhuwenxing hello, wenxing, please help to verify and update the status here.  Thanks.

[2021-11-23 02:59] bigsheeper opened #12201 "[Enhancement]: GetComponentStates should return success even the query node is unhealthy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

GetComponentStates should return success even the query node is unhealthy

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-11-23 03:00] zhuwenxing opened #12203 "[Bug]: Milvus standalone and rootcoord pod will restart when init an object of MilvusSys class"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

There are some error messages and Milvus will restart.
[code]

### Expected Behavior

works well

### Steps To Reproduce
1. cd `tests/python_client/chaos`

2. modify param value and run script `chaos_test.sh`
pod="standalone" # if test for rootcoord, replace standalon

[2021-11-23 03:02] wangting0128 commented on #12076
argo task: benchmark-tag-fjlrb

test yaml:
client-configmap: client-random-locust-100m-ddl-r8-w2
server-configmap: server-single-32c128m

server:
[code]

client pod: benchmark-tag-fjlrb-3229157784

client log:
[code]

[2021-11-23 03:03] xige-16 commented on #11275
A retry called by grpc will take at least 12 minutes

[2021-11-23 03:04] xige-16 commented on #11275
There are still locks on retry called by different grpc
[code]

[2021-11-23 03:06] scsven commented on #7910
Fixed. Please update your test cases.

/unassign @fishpenguin
/assign @binbinlv

[2021-11-23 03:18] cydrain commented on #11275
/assign @xige-16
/unassign

[2021-11-23 03:22] binbinlv commented on #7910
working.

[2021-11-23 03:26] ThreadDao commented on #12148
Fixed on image `master-20211123-73f18c5`

[2021-11-23 03:26] #12148 closed

[2021-11-23 04:19] JamCrash opened #12207 "[Bug]: Just one pod is available when create mutiple proxy pods"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[2021/11/23 04:07:13.421 +00:00] [DEBUG] [task_scheduler.go:678] ["Proxy collectResultLoop Got a SearchResultMsg, but we should ignore"] [ReqID=429296405931220210]
[2021/11/23 04:07:13.431 +00:00] [DEBUG] [task_scheduler.go:678] ["Proxy collectResultLoop Got a SearchR

[2021-11-23 05:53] Never-up opened #12208 "[Bug]:Failed to import data into memory"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Failed to import data into memory

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

[milvus-21-11-23-11:55-debug.log](https://github.com/milvus-io/milvus/files/7586034/milvus-21-11-23-11.55-debug.log)

[2021-11-23 06:11] binbinlv opened #12210 "[Bug]: Case sensitive when searching with bool expression "bool in [True] or [true]""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1 Good
res = collection.search(vectors[:nq], "float_vector", default_search_params, limit, "bool in [true]")

2 Bad
res = collection.search(vectors[:nq], "float_vector", default_search_params, limit, "bool in [True]")
Error: <BaseException: (code=1, message=failed to

[2021-11-23 06:19] binbinlv opened #12211 "[Bug][standalone]: Lots of nightly tests failed for milvus crash"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1 Test logs:
https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-nightly-ci/branches/master/runs/226/nodes/103/steps/111/log/?start=0

2 Milvus logs: [standalone]
https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/226/

[2021-11-23 06:19] binbinlv commented on #12211
Set this as urgent for blocking nightly tests.

[2021-11-23 06:30] cydrain opened #12212 "[Enhancement]: Remove all indices when drop collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

When DropCollection following operations will be processed:
1. clean rootcoord meta
2. clean dml channel
3. inform querycoord
4. inform proxy

Following operations have not been included:
1. clean minio (handled by datanode)
2. drop index

We need support remove all indices wh

[2021-11-23 06:30] cydrain commented on #12212
/assign

[2021-11-23 06:39] xiaofan-luan opened #12213 "[Bug]: Corrupted double linked list"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

the ut failed because of corrupted double linked list
https://github.com/milvus-io/milvus/runs/4294810646?check_suite_focus=true

![image](https://user-images.githubusercontent.com/83447078/142981540-5434a7f4-22f5-491f-b545-09bf29ea7982.png)

### Expected Behavior

_N

[2021-11-23 06:43] congqixia commented on #12211
By inspecting the log, @xige-16 and I found that I was the `Handoff` Task wait for the query node has enough memory to execute, which blocks the pending `LoadCollection`.
This leads to following questions:
1. Query node does not has the sufficient memory to execute. (either cluster or standalone)
2. After context dead line exceeded, query coord cannot be accessed by proxy anymore.
3. When handoff

[2021-11-23 06:44] ThreadDao commented on #11004
1. deploy milvus cluster `master-20211123-73f18c5` and limit querynode memory 2Gi
2. load collection (dim=512, num_entities=399360 about 780Mi)
3. search
4. release
5. re-load failed
[code]
[querycoord.log](https://github.com/milvus-io/milvus/files/7586174/querycoord.log)
[querynode.log](https://github.com/milvus-io/milvus/files/7586176/querynode.log)

[2021-11-23 06:58] xige-16 opened #12214 "[Bug]: loadcollection timeout after handoffTask is blocked When the querynode memory is insufficient"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After handoff task is blocked when the querynode memory is insufficient, handofftask will always wait for resources and block the execution of load，so load will time out

### Expected Behavior

After handoff task is blocked when the querynode memory is insufficient, l

[2021-11-23 07:01] xiaofan-luan opened #12215 "[Bug]: RocksMQ crashed on close"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

rocksmq crashed on close, with error:

pthread destroy mutex: Device or resource busy
unexpected signal during runtime execution
SIGABRT: abort
PC=0x7f54d8241fb7 m=4 sigcode=18446744073709551610

goroutine 119 [syscall]:
runtime.cgocall(0x11f83a7, 0xc000369cc8, 0x0)

[2021-11-23 07:12] binbinlv commented on #12190
@czs007 hello, zhenshan, could you help to assign this issue? Thanks

[2021-11-23 07:20] ThreadDao opened #12218 "[Bug]: [Memory]Release and load collection get exception no queryNode to allocate"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. deploy milvus cluster master-20211123-73f18c5 and limit querynode memory 2Gi
2. load collection (dim=512, num_entities=399360 about 780Mi)
3. search successfully
4. release collection (No exception, but the memory usage of querynode did not drop)
5. re-load failed

[2021-11-23 07:21] bigsheeper commented on #12218
I'm working on it

[2021-11-23 07:23] ThreadDao commented on #11004
Fixed on `master-20211123-73f18c5`

[2021-11-23 07:23] #11004 closed

[2021-11-23 07:23] binbinlv commented on #12107
@jennyli-z  fixed, could you help to verify, and close this issue if it is OK now.

Thanks.

[2021-11-23 07:24] congqixia commented on #7789
still working on it.

[2021-11-23 07:26] congqixia commented on #12213
See also: https://github.com/milvus-io/milvus/issues/9997
This error occurred long time ago.

[2021-11-23 07:26] congqixia commented on #9997
Not fully resolved.

[2021-11-23 07:42] xige-16 commented on #12214
/assign
/unassign @yanliang567

[2021-11-23 07:44] icodersky opened #12221 "[Bug]: Every time about 300000 vectors are inserted into miluvs 2.0, Milvus cannot be inserted and queried. The database must be deleted and Milvus must be reinstalled to connect and query."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After inserting 500000 vectors for the first time, each node of Milvus reports the following errors, but automatically runs a new pod. At this time, it can connect to the database, but can't insert vectors and query vectors.

Error info:
`The node was low on resource:

[2021-11-23 07:47] zhuwenxing commented on #12203
/assign @czs007
hello, zhenshan, could you help to assign this issue? Thanks

[2021-11-23 08:01] xiaofan-luan commented on #12221
looks like rootcoord can not be restart and fall into abnormal states forever

[2021-11-23 08:09] zwd1208 commented on #12221
@icodersky This is usually due to Pod ephemeral-storage is not enough, kubelet evicted the pod. when you connect failed, you can check the disk space on the Node

[2021-11-23 08:12] lyfggg commented on #12221
[https://github.com/milvus-io/milvus/issues/12169](url) 大佬们可以帮忙看看这个是啥原因不

[2021-11-23 08:17] godchen0212 commented on #12059
I have tried many times but this problem cannot be reproduced. It may have been fixed by other pr.
/unassign
/assign @ThreadDao

[2021-11-23 08:26] claireyuw opened #12222 "[Bug]: Outdated link for expr grammar in design docs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

_No response_

### Current Behavior

N/A

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-11-23 08:27] claireyuw commented on #12222
Fixed by #12219

[2021-11-23 08:27] #12222 closed

[2021-11-23 08:36] binbinlv opened #12223 "[Bug]: Inserted data is not cleaned when creating collection with index (GC is enabled)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Insert files are not cleaned

### Expected Behavior

Insert files are cleaned after GC time

### Steps To Reproduce

1 Set the env:
Enable GC and set clean time
in milvus.yaml:
enableGarbageCollection: true
  gc:
    interval: 60 # gc interval in seconds
    missingTo

[2021-11-23 08:37] ThreadDao commented on #7521
support

1.  id in [true / false]
2. id == true/ false
3. id == True / False

not support:

1. id in [True / False]
2. id == 0 / 1 / 2

[2021-11-23 08:39] czs007 commented on #12190
@xiaocai2333 is working on this.

[2021-11-23 08:39] icodersky commented on #12221
节点的磁盘空间是足够的<img width="1078" alt="204" src="https://user-images.githubusercontent.com/86787724/142991983-ffa4c0d8-c14e-4642-a00a-cb8bc09912a1.png">

There is enough disk space.
![204](https://user-images.githubusercontent.com/86787724/142992431-11544423-b0f4-4fca-afbb-0abeece84aaf.jpg)
![207](https://user-images.githubusercontent.com/86787724/142992619-1e004f9f-65aa-4590-8b05-b6e7098e4f43.jpg)

[2021-11-23 08:41] #7521 closed

[2021-11-23 08:43] ThreadDao commented on #12210
Image `master-20211123-dd0b36f`

query on bool support expr:

- id in [true / false]
- id == true/ false
- id == True / False

not support:

- id in [True / False]
- id == 0 / 1 / 2

[2021-11-23 08:45] binbinlv commented on #12223
Logs:
[12223.tar.zip](https://github.com/milvus-io/milvus/files/7586690/12223.tar.zip)

(1) collection with index
Not deleted collection name: test_search_collection_binbin_6
                     collection ID: 429301420037180737

(2) collection without index
Deleted collection name: test_search_collection_binbin
               collection ID: 429301664210485249

[2021-11-23 08:46] icodersky commented on #12221
How to solve this problem?

[2021-11-23 08:48] congqixia commented on #12223
@binbinlv index file clean up is under development. @xiaocai2333

[2021-11-23 09:00] ThreadDao commented on #11641
Fixed

[2021-11-23 09:00] #11641 closed

[2021-11-23 09:03] zhuwenxing commented on #12203
![image](https://user-images.githubusercontent.com/12268675/142996148-30a4c4ac-b3ac-4dd1-85c2-010a291a73c8.png)

As you can see, because of this issue, 1st assert before chaos almost all fail!
[code]

[2021-11-23 09:03] DragonDriver commented on #12207
related: #10527

[2021-11-23 09:05] DragonDriver commented on #12207
See also https://github.com/milvus-io/milvus/issues/10527#issuecomment-955907479

[2021-11-23 09:06] fishpenguin commented on #12215
/unassign @xiaofan-luan
/assign @fishpenguin

[2021-11-23 09:09] #12146 closed

[2021-11-23 09:21] JamCrash commented on #12207
Thank you, I have seen that. but I have already run multiple process, (not multiple connections in one process), and I also have this problem

[2021-11-23 09:22] JamCrash commented on #12207
maybe it is relatived to k8s service load balancing? @DragonDriver

[2021-11-23 09:30] binbinlv opened #12229 "[Bug]: Index files in minio are deleted without drop operations when GC is enabled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Index files are deleted in minio before drop colleciton

And load:
[code]

### Expected Behavior

Index files are not deleted in minio without collection drop

### Steps To Reproduce
1 Set the env:
Enable GC and set clean time
in milvus.yaml:
enableGarbageCollection:

[2021-11-23 09:33] binbinlv commented on #12229
Logs:
[12229.tar.zip](https://github.com/milvus-io/milvus/files/7586946/12229.tar.zip)

Collection name: test_search_collection_binbin_1

[2021-11-23 09:35] xige-16 commented on #10357
duplicate with #11275

[2021-11-23 09:46] binbinlv commented on #12229
New function issue, set as urgent.

[2021-11-23 09:48] ThreadDao commented on #12146
Fixed on `master-20211123-3fa5b4a`

[2021-11-23 09:50] xiaocai2333 commented on #12229
DataCoord traverses the root path in minio during GC, but there is no meta for index files in DataCoord, so the path of index files is listed in the queue that needs to be recycled. As soon as the GC time is up, the index files are deleted.

[2021-11-23 10:07] DragonDriver commented on #12207
I'm afraid python gRPC will also reuse the TCP connection though you run multiple process.

[2021-11-23 10:10] xiaofan-luan commented on #12221
not sure how you hit the situation yet but your rootcoord is in a middle state, may try to kill the rootcoord container

[2021-11-23 10:20] xiaofan-luan commented on #12213
duplicate with #9997
close for now

[2021-11-23 10:20] #12213 closed

[2021-11-23 10:48] cydrain commented on #11309
https://argo-test.zilliz.cc/workflows/qa/benchmark-tag-pzd4m?tab=workflow&nodeId=benchmark-tag-pzd4m-229364513&nodePanelView=inputs-outputs

[2021-11-23 11:26] JamCrash commented on #12207
Is this problem will be fixed in GA version? @DragonDriver

[2021-11-23 11:42] DragonDriver commented on #12207
Sorry, but no. We are also waiting for gRPC to fix this problem. You can try our [go-sdk](https://github.com/milvus-io/milvus-sdk-go) for milvus.

[2021-11-23 11:44] DragonDriver commented on #12207
In our roadmap, we'll plan to support more load balancing options in later version.

[2021-11-23 11:47] xiaofan-luan commented on #12207
Even for multi process they share the same connection?

[2021-11-23 12:20] DragonDriver commented on #12207
I think maybe you can retry this.

I made a small experiment:
- 1, create a k8s service which connects to three simple grpc server pod;
- 2, run multiple grpc clients which connect to the k8s service;
- 3, server use their own ip and port as the response;

And then we got different response. So maybe it's occasional that your all connection forward to same pod.

[2021-11-23 12:21] xiaofan-luan commented on #12072
the client need to connect to server though, you can try to ping from client to server see if it works

[2021-11-23 12:21] DragonDriver commented on #12207
![image](https://user-images.githubusercontent.com/31589260/143023149-f17e928f-4ee7-4f09-84a1-1c3a4b8a9534.png)

[2021-11-23 12:23] xiaofan-luan commented on #12132
@wuweicheng39 can you share the code to concurrent insert if possible?

[2021-11-23 12:41] DragonDriver commented on #12169
Maybe `flush` operation caused this issue. We print some very big information when you call `flush`.

[2021-11-23 13:22] lyfggg commented on #12169
I'd call `flush` many times when inserting data, because before that, I always made errors when inserting data, so I call `flush` every 5000 pieces of data.
So search hanging caused by frequent `flush` calls? How many pieces of data do you suggest I call `flush`? Or not calling flush when inserting?

[2021-11-24 01:46] DragonDriver commented on #12169
Acutually, you can call flush after all the inserting was done.
By the way, can you retry the operations with the newest code?

[2021-11-24 01:47] #11553 closed

[2021-11-24 02:03] zhuwenxing commented on #12203
In latest observation，this issue is caused by init an object of class MilvusSys

You can reproduce this issue by the following code.
[code]

[code]

[2021-11-24 02:05] sunby commented on #12075
@ThreadDao Fixed, please check it.
/unassign @sunby
/assign @ThreadDao

[2021-11-24 02:11] DragonDriver commented on #11307
Already completed in https://github.com/milvus-io/milvus/pull/12002. Feel free to re-open this issue if have any confusing about the doc.

[2021-11-24 02:11] #11307 closed

[2021-11-24 02:17] lyfggg commented on #12169
I roll back milvus to the rc5 version yesterday and `search()` under the same scenario and data is fine.
What do you mean by using the newest code? I use the latest version of rc8

[2021-11-24 02:27] congqixia commented on #12229
/reopen
/unassign
/unassign @xiaocai2333
/assign @binbinlv
The fixing pr has been merged. Could you please verify? @binbinlv

[2021-11-24 02:27] binbinlv commented on #12229
@congqixia OK, working on it.

[2021-11-24 02:34] DragonDriver commented on #12169
I fixed some problems of `flush` yesterday.

[2021-11-24 02:37] nameczz opened #12240 "[Enhancement]: Support Milvus version in getMetric api"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

In getMetrics api, we can use version instead of commit id.

### Why is this needed?

SDK can do version control by Milvus version

### Anything else?

_No response_

[2021-11-24 02:37] nameczz commented on #12240
/cc @DragonDriver

[2021-11-24 02:39] binbinlv commented on #11969
It occurs at CI, set it as urgent.

https://github.com/milvus-io/milvus/issues/11969

[2021-11-24 02:39] binbinlv commented on #11969
@xige-16 @DragonDriver any update?

[2021-11-24 02:47] ThreadDao opened #12241 "[Bug]: The search results are inconsistent before and after compaction"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. create binary collection with `shard_num=1`
2. insert 3000 flush, twice (get two segments oh yeah)
3. create index `{"index_type": "BIN_IVF_FLAT", "params": {"nlist": 128}, "metric_type": "JACCARD"}`
4. load and search, get `search_res_one`
5. compact
6. release, l

[2021-11-24 03:02] scsven commented on #12172
fixed

[2021-11-24 03:02] #12172 closed

[2021-11-24 03:08] scsven commented on #12076
Fixed, please check this issue again.

/assign @wangting0128
/unassign @fishpenguin

[2021-11-24 03:10] binbinlv commented on #10754
@ThreadDao
Could you help to verify it first?

[2021-11-24 03:11] xige-16 commented on #11969
[2021/11/24 02:10:40.481 +00:00] [DEBUG] [cluster.go:263] ["loadSegments: queryNode load segments error"] [nodeID=8] ["error info"="rpc error: code = Unknown desc = Access Denied."]

[2021-11-24 03:21] czs007 commented on #12059
@godchen0212 is working on this.

[2021-11-24 03:23] ThreadDao commented on #12075
Fixed `master-20211124-7b870e3`

[2021-11-24 03:23] #12075 closed

[2021-11-24 03:28] SuoSiFire commented on #11644
@yhmo  大佬，我这边今天又出现了这个问题。我拉了一下出问题前后的debug日志，error日志和重启后的error日志，麻烦帮忙看看。
[报错前后的debug日志，在08:05:11这个时间之后刚开始检索](https://github.com/milvus-io/milvus/files/7592508/debug.log)

[报错前后的error日志](https://github.com/milvus-io/milvus/files/7592510/error.log)

[重启后的debug日志，在11:13:52这个时间之后开始检索](https://github.com/milvus-io/milvus/files/7592511/debug-2.log)

[2021-11-24 03:31] JamCrash opened #12243 "[Bug]: querynode: Cannot create producer on topic with backlog quota exceeded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

time="2021-11-24T03:05:20Z" level=info msg="[Reconnecting to broker in 1m3.495358951s]" producerID=4 producer_name=standalone-0-319 topic="persistent://public/default/test-searchResult-0"
time="2021-11-24T03:06:23Z" level=error msg="[Failed to create producer]" error=

[2021-11-24 03:31] zhuwenxing commented on #12203
There is another side effect of this issue: after restarting of rootcoord, collections.num_entities  (flush ) will raise error
[code]

[2021-11-24 03:34] czs007 commented on #12203
@zhuwenxing I'm working on this.

[2021-11-24 03:44] fishpenguin opened #12246 "Add rocksmq close when standalone receive signal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add rocksmq close when standalone exit.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-11-24 03:51] binbinlv commented on #12211
When cancel the memory limit for querynode, this issue did not occur, so cancel the urgent first.

[2021-11-24 03:52] XuanYang-cn commented on #12241
/assign

[2021-11-24 04:10] yhmo commented on #12208
@Never-up
It seems your collection has 10 segments, each segment size is about 3GB.
And the `cache_size` is default value: 4GB. This is a config for milvus holding segments in cpu memory. This config is in the server_config.yaml. Please change this config to a large value so that milvus can hold all segments in cpu memory.

[2021-11-24 04:19] #7299 closed

[2021-11-24 05:24] binbinlv commented on #12229
Verified and fixed.

milvus: 62bbc9c
pymilvus: 2.0.0rc9.dev17

[2021-11-24 05:24] #12229 closed

[2021-11-24 06:14] XuanYang-cn opened #12249 "[Bug]: DN GC collection release unexpected flowgraph"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

/assign

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-11-24 06:21] DragonDriver commented on #12243
Can you please provide the complete logs of milvus? @JamCrash

[2021-11-24 06:24] JamCrash commented on #12243
that's all the log in milvus querynode, it will repeat appear, before that it has filt search result done log

[2021-11-24 06:34] #11777 closed

[2021-11-24 06:42] zhuwenxing commented on #10171
@congqixia
In version `master-20211124-62bbc9c`,  issue is still not fixed.
Other pods restart as expected when etcd pod was killed.
![image](https://user-images.githubusercontent.com/12268675/143187782-f09215dd-4d86-4464-8653-93e2f71e94e2.png)
But after deleting etcd pod kill chaos, running `hello_milvus.py` will raise error:
[code]
[etcd-pod_kill-11-24.zip](https://github.com/milvus-io/milvus/fi

[2021-11-24 06:47] JamCrash commented on #12243
I want to ask that is there anyone actully deploy multiple milvus proxy pod?

[2021-11-24 06:49] DragonDriver commented on #12243
If you have multiple clients which need to access milvus, then deploying multiple proxy pods is reasonable.

[2021-11-24 06:55] JamCrash commented on #12243
Yes, I have multiple client to access, but could you please try to deploy a multiple proxy pods cluster in your environment and see how is it work? In our company k8s env, only one proxy pod can use, when I do search on the other using nodeport, the client hangs ...

[2021-11-24 07:01] godchen0212 opened #12252 "[Enhancement]: Log for proxy calc distance is needed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Log for proxy calc distance is needed.

### Why is this needed?

If the log is not added, the process of calc distance can not be known.

### Anything else?

_No response_

[2021-11-24 07:04] DragonDriver commented on #12243
I'll check this soon.

[2021-11-24 07:19] jennyli-z commented on #12107
verified & close

[2021-11-24 07:19] #12107 closed

[2021-11-24 07:22] ThreadDao opened #12256 "[Bug]: CI case hangs when enable compaction"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Deploy milvus cluster
2. `pytest --tags L0 L1 --host xxxx -n 6`

[code]
**Ci Logs:**
[ci_logs.tar.gz](https://github.com/milvus-io/milvus/files/7593486/ci_logs.tar.gz)

**MIlvus Logs:**
[milvus_logs.tar.gz](https://github.com/milvus-io/milvus/files/7593487/milvus_l

[2021-11-24 07:42] xige-16 opened #12259 "[Bug]: search collection hang after load and release partition"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

this case will hang on search
[code]

### Expected Behavior

search pass

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-11-24 07:43] xige-16 commented on #12259
/assign @bigsheeper
/unassign @yanliang567

[2021-11-24 07:43] #12203 closed

[2021-11-24 07:53] #12041 closed

[2021-11-24 08:08] czs007 commented on #12059
@ThreadDao please recheck this. 3ks.

[2021-11-24 08:15] yanliang567 commented on #12256
@sunby

[2021-11-24 08:23] yanliang567 commented on #12221
@zwd1208 could you please check the disk logs above?

[2021-11-24 08:23] sunby commented on #12256
@congqixia is fixing it.
/assign @congqixia

[2021-11-24 08:27] yanliang567 commented on #12207
@zwd1208 I think you have some experiments here

[2021-11-24 08:37] zhuwenxing commented on #11275
In version `master-20211124-6c4c0ef`, this issue still exists.

[standalone-pod_kill-11-24-16-19-00.zip](https://github.com/milvus-io/milvus/files/7593897/standalone-pod_kill-11-24-16-19-00.zip)

[2021-11-22 14:06:36 - INFO - ci_test]: chaos injected (test_chaos.py:165)
[2021-11-24 16:12:42 - INFO - ci_test]: chaos deleted (test_chaos.py:191)
start time: 2021-11-24 16:15:00   : run hello_milvus.py

[2021-11-24 08:49] zhuwenxing commented on #10357
In version `master-20211124-6c4c0ef`, verified and passed

![image](https://user-images.githubusercontent.com/12268675/143204822-c4d04e91-1459-4484-96d0-bbc898c61367.png)

[2021-11-24 08:49] #10357 closed

[2021-11-24 08:52] zhuwenxing commented on #11275
@xige-16
However, #10357 this issue was verified and passed. So there are some other causes for this issue.

[2021-11-24 09:12] DragonDriver commented on #12243
![image](https://user-images.githubusercontent.com/31589260/143208758-c291efc4-805c-40c7-a31b-749b25b8d2ae.png)

[2021-11-24 09:16] DragonDriver commented on #12243
@JamCrash
I made another small experiment:
- 1, `helm install my-release milvus/milvus --set proxy.replicas=2`;
- 2, using two clients to do search;
- 3, `kubectl logs my-release-milvus-proxy-6cbd7b5f55-rr8ht | grep Search | wc -l` to check if proxy received search requests;

Then both of the two proxy pods received search requests.

[2021-11-24 09:18] LoveEachDay commented on #12243
@JamCrash How do you install the milvus cluster? By helm chart or docker-compose?

[2021-11-24 09:23] ThreadDao commented on #12256
@congqixia  I only know milvus flush hangs, not sure if it is related to compact function.

[2021-11-24 09:26] JamCrash commented on #12243
I deploy milvus separately by k8s yaml

[2021-11-24 09:34] binbinlv commented on #7910
Verified and fixed.

[2021-11-24 09:34] #7910 closed

[2021-11-24 09:35] SuoSiFire commented on #11644
@yhmo  有空帮忙看下嘛？

[2021-11-24 09:39] DragonDriver commented on #12243
@JamCrash can you just try using a simple grpc server in your company k8s env?

[2021-11-24 09:42] binbinlv commented on #11950
This issue is related with #12259

[2021-11-24 09:46] binbinlv commented on #12259
@bigsheeper

Hello, how is the status?

Could it be fixed today？ Then today's nightly could have a try. Thanks.

[2021-11-24 09:58] #7989 closed

[2021-11-24 10:00] zhuwenxing commented on #11275
In version master-20211124-6c4c0ef, the main problem is that getting collection entities costs a lot of time
[code]

[2021-11-24 10:07] LoveEachDay commented on #12243
Could you provide the install yaml manifests?

[2021-11-24 10:44] godchen0212 opened #12261 "[Enhancement]: Clear useless segments info in deltaChannel vchannel info"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Clear useless segments info

### Why is this needed?

If the useless segments info not be clear, the meta will save a large number of useless segments info.

### Anything else?

_No response_

[2021-11-24 10:50] binbinlv commented on #12159
Verified and fixed.

[2021-11-24 10:50] #12159 closed

[2021-11-24 10:51] binbinlv commented on #11987
Verified, and fixed,  so closed.

[2021-11-24 10:51] #11987 closed

[2021-11-24 11:00] xige-16 commented on #11275
[2021/11/24 08:15:02.537 +00:00] [DEBUG] [impl.go:1603] ["Flush Done"] [] [role=proxy] [msgID=429324160682429375] [timestamp=429324160865927169] [db=] [collections="[hello_milvus]"]
[2021/11/24 08:19:27.931 +00:00] [DEBUG] [server.go:683] ["flush segment complete"] [id=429324109080166402]

[2021-11-24 11:00] xige-16 commented on #11275
/assign @sunby

[2021-11-24 11:01] xige-16 commented on #11275
/unassign

[2021-11-24 11:03] binbinlv commented on #12256
@ThreadDao

please help to verify, thanks.

[2021-11-24 11:24] JamCrash commented on #12243
[](url
[test.tar.gz](https://github.com/milvus-io/milvus/files/7595214/test.tar.gz)
)

[2021-11-24 11:24] JamCrash commented on #12243
[test.tar.gz](https://github.com/milvus-io/milvus/files/7595222/test.tar.gz)
@LoveEachDay

[2021-11-24 11:38] xige-16 commented on #12081
The master branch should has fix the issue, trouble you check it @WordlessToContinue

[2021-11-24 11:51] binbinlv commented on #12256
Verified, it is not hangs, but milvus is crashed with panic.

[2021-11-24 11:53] bigsheeper commented on #12259
#12264 may fix it

[2021-11-24 11:54] binbinlv opened #12265 "[Bug]: Milvus crashed with panic when enabling compaction and GC"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus is crashed with panic
[code]

### Expected Behavior

No panic

### Steps To Reproduce

1 Start milvus with compaction and GC enabled:

[code]

2 Runnig CI test cases

### Anything else?

_No response_

[2021-11-24 11:54] binbinlv commented on #12256
New issue: https://github.com/milvus-io/milvus/issues/12265

[2021-11-24 11:55] binbinlv commented on #12256
Will re-verify this after issue #12265

[2021-11-24 11:58] binbinlv commented on #12265
Logs:
[12265.tar.zip](https://github.com/milvus-io/milvus/files/7595412/12265.tar.zip)

panic is in "kind-worker/pods/default_ms-milvus-standalone-f5b68fc4d-ps9jk_72682743-4880-48ab-83a4-7ebcf4587c68/standalone/0.log".

[2021-11-24 12:00] xige-16 commented on #12218
I'll work on it

[2021-11-24 12:01] xige-16 commented on #12218
/assign @xige-16

[2021-11-24 12:09] binbinlv commented on #12265
Here I enabled compaction and clean up together>

But only enable clean up, CI test cases passed.

So the root cause may be related to compaction or the combination of compaction and clean data (GC) function.

[2021-11-24 12:10] xige-16 commented on #12190
similar with #11275 , the probelem of search hang may has been fixed

[2021-11-24 12:22] JamCrash commented on #12243
With service-nodeport on milvus proxy, it runs and search fine this time after I restart cluster and clear all data the last cluster remains, but the proxy log appear like this
![企业微信截图_16377565136678](https://user-images.githubusercontent.com/39126346/143237588-8add8199-8c5e-40a8-8b89-633a39b79577.png)
:

[2021-11-24 12:23] xiaofan-luan commented on #11438
we will close this issue if this is not accepted

[2021-11-24 12:26] zhuwenxing commented on #11275
@sunby
version: `master-20211124-1a8e2e5`

[code]
[standalone-pod_kill-11-24-29-21-00.zip](https://github.com/milvus-io/milvus/files/7595545/standalone-pod_kill-11-24-29-21-00.zip)

[2021-11-24 12:40] binbinlv commented on #12265
Updated:
Retested the scenario only enabling compaction, CI test cases pass, so summary:

(1) enable compaction + GC, CI test cases fail with panic
(2) enable compaction, CI tests Good
(3) enable GC, CI tests Good

[2021-11-24 12:42] DragonDriver commented on #12243
No idea about why this happend. See some similar issue in gRPC. By the way, how do you access the milvus?

[2021-11-24 12:48] ThreadDao commented on #12256
Fixed `master-20211124-1a8e2e5`

[2021-11-24 12:48] #12256 closed

[2021-11-24 12:52] xige-16 commented on #12190
There is indeed a problem when recover querynode. If a querynode only watchDmchannel without load segment, dmchannel is not scheduled to other nodes when the query node down.

[2021-11-24 13:02] xige-16 commented on #12190
/assign
/unassign @czs007
/assign @xiaocai2333

[2021-11-24 13:05] binbinlv commented on #11969
It does not occur every time (nightly and CI occur 2 times), so cancel the urgent label.

[2021-11-24 13:06] xiaocai2333 commented on #12190
![image](https://user-images.githubusercontent.com/46207236/143242616-45a28938-1543-409e-b284-e28d6e79ba14.png)

![image](https://user-images.githubusercontent.com/46207236/143242914-55f0726e-23c8-403c-8e74-ef8dec08d367.png)

If a querynode only watches the DMchannel, the partition-related information will not be recorded by it, but the querycoord recovers the querynode by partitions, so the DMcha

[2021-11-25 01:43] #12249 closed

[2021-11-25 01:59] WordlessToContinue commented on #12081
I'll use the main branch test, thanks. @xige-16

[2021-11-25 01:59] DragonDriver commented on #12240
Closed because this has been completed. Feel free to reopen this if you have any problems about this feature.

[2021-11-25 02:00] DragonDriver commented on #9618
Closed. Already completed in https://github.com/milvus-io/pymilvus/pull/827.

[2021-11-25 02:02] LoveEachDay commented on #12243
According to the yaml manifests, you use pulsar standalone, which do have a backlog quota, which is 10GB by default.

[2021-11-25 02:08] JamCrash commented on #12243
With nodeport, it runs and search fine this time after I restart cluster and clear all data the last cluster remains, but th

By kubectl port-forward to proxy

[2021-11-25 02:12] binbinlv commented on #12241
@XuanYang-cn How is this issue now, any updates?
Thanks.

[2021-11-25 02:15] cydrain commented on #12212
/close

[2021-11-25 02:15] #12212 closed

[2021-11-25 02:17] xige-16 commented on #12190
I'll fix it

[2021-11-25 02:17] xige-16 commented on #12190
/unassign @xiaocai2333

[2021-11-25 02:43] lyfggg commented on #12169
I tried to `flush` after inserting data all, and this  time it just hangs on `load`. . .
[standalone_11_25.zip](https://github.com/milvus-io/milvus/files/7599799/standalone_11_25.zip)

[2021-11-25 02:47] mayunjie opened #12270 "[Bug]:insert request blocked when index is building"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

i insert some data while index is building.

data: 16384 dim  binary vector, hamming
index: ivflat index type, nlist=512

the insert was blocked. i can't see any record was added in mysql tables

### Expected Behavior

insert request can be handled while index is buli

[2021-11-25 02:50] binbinlv commented on #12270
@mayunjie

Are there any logs could be uploaded here?

Thanks.

[2021-11-25 03:04] zhuwenxing commented on #10171
/assign @congqixia

[2021-11-25 03:04] zhuwenxing commented on #10171
/unassign

[2021-11-25 03:06] DragonDriver commented on #12169
There are no enough memory to do `load` operation. How many rows in your collection?

[2021-11-25 03:06] DragonDriver commented on #12169
[2021/11/25 02:38:40.070 +00:00] [WARN] [impl.go:323] ["load segment failed, OOM if load, collectionID =  429325681680973825 ,  usedMem =  14605635584 ,  segmentTotalSize =  2062658954 ,  currentSegmentSize =  411325954 ,  totalMem =  17179869184 ,  thresholdFactor =  0.9\n"]

[2021-11-25 03:10] wangting0128 commented on #11074
argo task:benchmark-cron-1637769600

test yaml:
client-configmap:c lient-acc-glove-ivf-flat
server-configmap: server-cluster-8c16m

server:
[code]

client:
[code]

[2021-11-25 03:12] wangting0128 commented on #10079
@czs007

[2021-11-25 03:14] scsven commented on #12073
Please help to reproduce this issue. @wangting0128

/unassign @xige-16
/assign @wangting0128

[2021-11-25 03:15] #12076 closed

[2021-11-25 03:18] wangting0128 commented on #11074
client-acc-glove-ivf-flat：
[code]

[2021-11-25 03:19] lyfggg commented on #12169
There are 426480 vectors in the collection, each vector is 13560 dimensions.

[2021-11-25 03:25] lyfggg commented on #12169
we have 16G memory for milvus, if memory is not enough,  what if the data becomes larger and the index has hundreds of GB, how can we ensure that the memory does not exceed?

[2021-11-25 03:26] xige-16 commented on #12218
The possible reason is that after release, the memory requested by go is not returned to the operating system, which causes the memory Used returned by querynode when getMetric is larger

[2021-11-25 03:30] zwd1208 commented on #12207
I have an envoy deployment experiment, it can perform load balancing for GRCP whether there is only one connection or not.
you can do:
1.  create a headless service for proxy
2.  create an envoy deployemnt to loadbalance proxy headless service

The following configuration example:
`
kind: Service
apiVersion: v1
metadata:
  name: milvus-proxy-headless
spec:
  ports:
    - name: proxy
      protocol

[2021-11-25 03:34] DragonDriver commented on #12169
We provide a [sizing tool](https://milvus.io/tools/sizing) for uses to estimate the size of a collection.

[2021-11-25 03:35] congqixia commented on #12265
Find the cause for panicking:
- When Drop Collection, datacoord skips `compacted to` segments in case of meta mismatch from datanode. So after all `normal`(uncompacted) segment dropped, the vchannel is unwatched from related datanode
- Data node try to SaveBinlogPaths of `compacted to` segment with dropped flag but found vchannel unwatched
- After 10 retry with same failure, datanode panicked

@su

[2021-11-25 03:38] ThreadDao commented on #12059
Unfortunately, it appeared in https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-12264/3/pipeline

[2021-11-25 03:39] DragonDriver opened #12271 "[Enhancement]: load failed caused by OOM should be raised to the clients"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Now, `load` is an asynchronization operation in Milvus. We can call `ShowCollections` with collection name to get the load percentage and then check if the specific collection has been loaded or not. If there are any exceptions when query nodes do the load operation, such as `

[2021-11-25 03:39] DragonDriver commented on #12271
Related: https://github.com/milvus-io/milvus/issues/12169

[2021-11-25 03:40] yhmo commented on #11644
确实有一个诡异的地方
重启动前：
[2021-11-24 08:05:18,507][DEBUG][ENGINE][Load][taskloader_th] set uids 0 for index /var/lib/milvus/db/v1/db/tables/1637693924367948000/1637698500592354000/1637698525396525000
重启动后：
[2021-11-24 11:13:54,677][DEBUG][ENGINE][Load][taskloader_th] set uids 3731655 for index /var/lib/milvus/db/v1/db/tables/1637693924367948000/1637698500592354000/1637698525396525000

在第一次查询时加载这个segment：

[2021-11-25 03:41] DragonDriver commented on #12169
And very thanks for providing these information. We will improve the `load` operation as soon as possible.

[2021-11-25 03:45] yhmo commented on #11644
如果再次出现这个问题，在debug.log里搜索“set uids 0 for index”， 看一下是否还是同一个segment。如果总是同一个segment，推测会不会是磁盘有坏道。

[2021-11-25 03:47] lyfggg commented on #12169
Thank you very much for your help too. I'll try to add memory to 32GB and do `load` and `search` again.

[2021-11-25 03:53] bigsheeper commented on #11275
the same reason with #12190

[2021-11-25 04:02] cydrain commented on #11309
master-20211123-653369e

https://argo-test.zilliz.cc/workflows/qa/benchmark-tag-5tmj6?tab=workflow&nodeId=benchmark-tag-5tmj6-898103&nodePanelView=containers

[2021-11-25 04:10] godchen0212 opened #12273 "[Enhancement]: Merge deltaChannels when load partition"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Merge deltaChannels when load partition

### Why is this needed?

When load partition, querycoord will call GetRecoveryInfo to get partitions' dml channel info. However, the seek position of different channels is different. We should seek from the earliest check point.

### An

[2021-11-25 05:43] SuoSiFire commented on #11644
感谢回复，我理解这个segment是和集合绑定的吧，但是我们每天都会新建集合，所以不会是同一个segment。 但是如果磁盘有坏道的话也就是每次生成的segment都有一定概率读不到，只不过这个概率比较小？

@yhmo

[2021-11-25 05:48] SuoSiFire commented on #11644
看上去的确不是代码问题，因为多副本通常只有一个节点会出现上面的异常。
再问下这个如何进一步石锤？

我写个程序不断地读tables下某个uid文件，看是否可能出现读不到的情况？

[2021-11-25 06:12] zhuwenxing commented on #11275
@sunby
In version `master-20211125-858e95f`
[code]
[standalone-pod_kill-11-24-16-19-00.zip](https://github.com/milvus-io/milvus/files/7600597/standalone-pod_kill-11-24-16-19-00.zip)

[2021-11-25 06:37] XuanYang-cn commented on #12241
Inconsistency is caused by `reduce` in segcore, the minimum reproduce step:

1. create collection with `shard_num=1, auto_id=False`
2. insert 1500 numRows into collection
3. insert the same 1500 numRows into collection (same PK and same vectors), make sure these 3000 rows are in the same segment.
4. load and search with `limit = 10`, mostly, there will be only 5 entities returned.

[2021-11-25 06:38] XuanYang-cn commented on #12241
For this case only: please make sure the 2 segments are not exactly the same, then this case will pass. Especially when this case is not aimed to test the dup PK and dup vectors.

[2021-11-25 06:38] #10093 closed

[2021-11-25 06:46] bigsheeper commented on #12131
#12247 have been merged， could you please help to retest it？@ThreadDao
/unassign
/assign @ThreadDao

[2021-11-25 06:51] XuanYang-cn commented on #12241
Beyond this case, there are 2 key points to discuss:

1. What's the expected reducing behaviour when 2 segments' search results contain the same embedding with the same PK?
2. What's the expected reducing behaviour when 1 segment result TOPK contains dup vectors with the same PK and embedding.
@xige-16 @xiaofan-luan

[2021-11-25 07:03] #12201 closed

[2021-11-25 07:04] #8764 closed

[2021-11-25 07:13] JamCrash commented on #12207
Thank you, it works now! @zwd1208

[2021-11-25 07:16] congqixia commented on #12265
@binbinlv Fixing PR has been merge. Could you please verify?
/unassign @congqixia @sunby
/assign @binbinlv

[2021-11-25 07:21] binbinlv commented on #12265
OK， working on it. Thanks.

[2021-11-25 07:36] binbinlv commented on #12223
It works now, so closed.

[2021-11-25 07:36] #12223 closed

[2021-11-25 07:44] DingQK commented on #7154
/assign @DingQK

[2021-11-25 07:49] DingQK commented on #7154
Hi! I am new to the community of Milvus and I really want to contribute to the project of PyMilvus. Are there any suitable issues to start with right now? Thank you so much!

[2021-11-25 07:51] binbinlv commented on #12265
Verified, but panic still exist.

milvus: 2ee0c7c
pymilvus: 2.0.0rc9.dev19

[reproduced.log.zip](https://github.com/milvus-io/milvus/files/7601129/reproduced.log.zip)

[2021-11-25 07:57] binbinlv commented on #12265
[reproduced.tar.zip](https://github.com/milvus-io/milvus/files/7601156/reproduced.tar.zip)

Maybe the format uploaded before is not right, re-upload.

[2021-11-25 07:58] XuanYang-cn commented on #12241
@ThreadDao If not reproducing this, it's safe to close. I'll open another issue to discuss the dup PK problem.

/assgin @ThreadDao
/unassign

[2021-11-25 08:01] XuanYang-cn opened #12276 "[Bug]: Search result varies if the number of segments varies with dup PK"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

see https://github.com/milvus-io/milvus/issues/12241#issuecomment-978886945

The key problem is how to deal with dup PK.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-11-25 08:03] czs007 commented on #7222
If this phenomenon is not observed in the new version, can it be closed?
@yanliang567

[2021-11-25 08:04] XuanYang-cn commented on #11915
No reproducing lately

[2021-11-25 08:05] XuanYang-cn commented on #12187
Possibly fixed by #12260

[2021-11-25 08:06] czs007 commented on #7925
can it be closed?
@zwd1208 @yanliang567

[2021-11-25 08:09] wangting0128 opened #12279 "[Bug]: [benchmark][cluster] Load collection error: syncTimestamp Failed:context canceled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod:benchmark-tag-x65xq-689412990

client log:
[code]

### Expected Behavior

argo task：**benchmark-tag-x65xq**

test yaml：
[code]

server：
[code]

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2021-11-25 08:10] binbinlv commented on #9821
@ThreadDao

Finished all the test cases? If yes, could you please close this issue. Thanks.

[2021-11-25 08:12] XuanYang-cn commented on #8521
/unassign @czs007
/assign @binbinlv  Please help check if this bug still exists?

[2021-11-25 08:14] XuanYang-cn commented on #8824
/unassign @czs007
/assgin @binbinlv Please help check if this bug still exists

[2021-11-25 08:20] binbinlv commented on #8824
OK, working on it.

[2021-11-25 08:24] xige-16 commented on #12279
A querynode is down, and the panic log is not recorded before it down, but it does not affect the load, because a querynode is restarted, and querycoord is also loading normally

[2021-11-25 08:25] xige-16 commented on #12279
/unassign

[2021-11-25 08:27] ThreadDao commented on #12279
I also encountered this error.

1. Deploy milvus cluster image `master-20211124-1a8e2e5` with config
[code]
2. Run CI case (included compaction cases), all passed
`pytest --tags L0 L1 --host 10.98.0.7 -n 6`

3. After 18 hours, I try to create collection and get this error
[code]
**Pod name**
[code]

[2021-11-25 08:44] cydrain commented on #11309
Analyze above logs, get following findings:
for a successful flush operation, log is like this:
[code]

for the last flush operation, log is like this:
[code]

[2021-11-25 08:46] binbinlv commented on #8521
OK, working on verifying.

[2021-11-25 08:58] cydrain commented on #11309
For the flush blocked issue, duplicated with #11148

[2021-11-25 09:28] congqixia commented on #12265
@binbinlv Fixed another bug. Could you please this problem still exists?
/unassign
/assign @binbinlv

[2021-11-25 09:36] binbinlv commented on #12265
OK， working on it.

[2021-11-25 09:46] binbinlv commented on #7219
Inserting 1 million entities，insert timeout:

Milvus: 2ee0c7c
pymilvus: 2.0.0rc9.dev19

[code]

Logs:
[7219.tar.zip](https://github.com/milvus-io/milvus/files/7601857/7219.tar.zip)

[2021-11-25 09:49] xige-16 commented on #11978
[2021/11/16 15:32:54.091 +00:00] [DEBUG] [cluster.go:232] ["loadSegments: queryNode load segments error"] [nodeID=7] ["error info"="rpc error: code = Unknown desc = Access Denied."]

[2021-11-25 09:50] yhmo commented on #11644
读取uid文件的代码逻辑是：
在分片所在的目录下寻找后缀为 .uid 的文件。如果找到，就打开文件（打开失败会出error log）；如果没找到，就什么都不做，也没log
这个分片的索引文件读出来了，size也是对的，说明分片的路径是对的。没有出现 "Failed to open file"的log，说明不是打开失败。只有可能是这个后缀为.uid的文件不存在，程序没找到，然后什么都没干，返回一个空的id列表。但是重启之后同一个分片路径下又读取到了这个 .uid文件，说明程序找到了，这个文件存在。

然后再看写分片的逻辑，当一个分片索引建立完成时，会先把索引文件落盘，然后把uid文件落盘，最后在元数据里加上这个分片的信息。只有当元数据里有了这个分片的信息，search才会加载这个分片的索引文件和uid文件。所以不存在索引文件落盘而uid文件未落盘就去加载这个分片的情况。想来想去我也没想到合理

[2021-11-25 09:53] xige-16 commented on #11978
duplicate with issue #11969

[2021-11-25 09:57] cydrain commented on #12279
seems related with #11918

[2021-11-25 09:57] zhuwenxing opened #12282 "[Bug]: Liveness passed when etcd pod disconnect with other pods"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Etcd pod disconnect with other pods, only querynode state is 0/1, but other pods are 1/1.

rootcoord:
[code]
querynode:
[code]
![image](https://user-images.githubusercontent.com/12268675/143419614-3e65337d-6a62-488c-be75-cf703c29bf29.png)

### Expected Behavior

all p

[2021-11-25 09:58] zhuwenxing commented on #12282
/assign @DragonDriver

[2021-11-25 09:58] SuoSiFire commented on #11644
我这里另一个集群在批量重启读节点的时候也遇到了这个问题，因为批量重启的时候会触发preload的逻辑。
所以我在想是否可能是当检索开始时，多个副本可能会同时读取同一个uids文件。这里的副本数可能是14，也就是可能有14个进程去同时读nfs上的文件，导致有概率发生读不到的情况。

我打算在开始检索前，让这些节点去主动load分片，并且在load前加上一个随机睡眠，看是否可以避免这种情况。

另外可以偷懒试试当pod启动后先放它空闲10秒，10秒之后再去用它查询，看这样能否避免。

这个我也会试试，感谢回复。

[2021-11-25 10:10] XuanYang-cn opened #12284 "[Enhancement]: Optimize compilation of Arrow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Follow this pr and issue: #8395 #8406

### Why is this needed?

_No response_

### Anything else?

_No response_

[2021-11-25 10:14] XuanYang-cn commented on #8406
/reopen

[2021-11-25 10:48] wangting0128 opened #12285 "[Bug]: [benchmark][cluster]query error: StatusCode.DEADLINE_EXCEEDED"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod:benchmark-tag-576tl-3275446811

[client.log](https://github.com/milvus-io/milvus/files/7602224/client.log)

client log:
[code]

### Expected Behavior

argo task: benchmark-tag-576tl

test yaml:
[code]

**service sets compaction to true**
server:
[code]

###

[2021-11-25 10:52] binbinlv commented on #8824
@XuanYang-cn  Similar issue appears:

[code]

Logs:

[8824.tar.zip](https://github.com/milvus-io/milvus/files/7602310/8824.tar.zip)

[2021-11-25 10:54] xaxys commented on #12284
Here are the problem I got when testing my code. Hope they are helpful.

It's not difficult to solve the recompile problem of Arrow library. I simply defined a folder named `arrow_build` and use find_package to prevent recompile.
But I've got some problem when linking the librarys.

- I've tried use static library of Arrow in both `core` and `cwrapper`. It will link Arrow library to a static libra

[2021-11-25 10:58] xige-16 commented on #12285
the test has opened compaction
/assign @fishpenguin

[2021-11-25 10:59] xige-16 commented on #12285
/unassign

[2021-11-25 11:12] binbinlv commented on #8521
Similar issue appears again, see #8824.

[2021-11-25 11:25] #10153 closed

[2021-11-25 11:27] ThreadDao commented on #12241
I updated the case and verify that it passed. `master-20211125-858e95f`

[2021-11-25 11:27] #12241 closed

[2021-11-25 11:33] DragonDriver opened #12286 "[Enhancement]: Show stack information when rpc failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I want to show stack information when rpc failed.

For example, proxy call `LoadCollection` of query coord, when this operation failed, show the entire stack call information.

### Why is this needed?

Help us find the failed reason soon.

### Anything else?

_No response_

[2021-11-25 11:33] DragonDriver commented on #12286
/assign

[2021-11-25 11:33] binbinlv commented on #12265
Verified, but panic again.

Milvus: ad83090
pymilvus: 2.0.0rc9.dev19

Logs:
[reproduced1.tar.zip](https://github.com/milvus-io/milvus/files/7602608/reproduced1.tar.zip)

[2021-11-25 11:44] DragonDriver opened #12288 "[Enhancement]: Proxy should consume search-result message from latest position"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I want to let proxy consume search-result message from latest position.

### Why is this needed?

Now, proxy consume search-result message from earliest position, which is useless. Proxy will find the related search task according the `MsgID` of search-result. However, when pr

[2021-11-25 11:45] ThreadDao commented on #12131
Fixed `master-20211125-ad83090`

[2021-11-25 11:45] #12131 closed

[2021-11-25 11:47] #12288 closed

[2021-11-25 12:59] fishpenguin commented on #12285
query timeout because query_node didn't receive timetick msgs, service_time didn't push advance.

rootcoord sent tt msgs cost 30s, and sent failed, here is the log:
[code]

[2021-11-25 13:04] fishpenguin commented on #12285
[code]
In 06:22:56 the service_time was 06:21:55.
[code]
It becomes normal after one second.

[2021-11-26 02:13] xige-16 commented on #12153
/assign @bigsheeper
/unassign

[2021-11-26 02:29] zhuwenxing opened #12291 "[Enhancement]: Enable namespace and release name parameterization for chaos testing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Enable namespace and release name parameterization for chaos testing

### Why is this needed?

In the current way, chaos testing only supports the setting with `chaos-testing` namespace and `milvus-chaos` release name.
This approach lacks flexibility and cannot be used for par

[2021-11-26 02:30] godchen0212 commented on #12059
Related to Issue #12259

[2021-11-26 02:32] wuweicheng39 commented on #12132
等待2.0ga，我再重新入库1500w数据试试。

[2021-11-26 02:36] #10047 closed

[2021-11-26 02:45] godchen0212 commented on #12059
The reason is that the timetick of dmlChannel has arrived and the serviceTime has been updated, but the timetick of deltaChannel has not arrived. When serviceTime calculates the timetick, it ignores the channels that have not arrived at the timetick.

[2021-11-26 02:54] binbinlv commented on #12265
Same panic occurs in nightly, [only enabling compaction]:

Logs:

https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/230/

[code]

[2021-11-26 03:17] bigsheeper opened #12295 "[Enhancement]: AddQueryChannel need to move to taskScheduler in query node"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

AddQueryChannel need to move to taskScheduler in query node.

### Why is this needed?

Tasks of AddQueryChannel and watchDMLChannel and watchDeltaChannel execute parallelly may cause some problem（for example，first，collection would addVChannel in WatchDMLChannel request，and sec

[2021-11-26 03:19] czs007 commented on #8824
I'm working on this.

[2021-11-26 03:35] RookieAju opened #12296 "[Bug]: Milvus service stopped immediately after ./start_server.sh and exit"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After compiling the milvus from source code accoriding to https://github.com/milvus-io/milvus/blob/1.1/INSTALL.md#compilation, I tried to start the server and execute the given python example, however the server exit almost immediately

[code]

I tried to gdb and back

[2021-11-26 03:43] yanliang567 commented on #12296
/assign @yhmo

[2021-11-26 03:55] wangting0128 opened #12297 "[Bug]: [benchmark][standalone]client has no response when testing stability test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod：benchmark-tag-r5psq-1827757859

[client.log](https://github.com/milvus-io/milvus/files/7606178/client.log)

client log：
**the number of request sent were not increasing**
![image](https://user-images.githubusercontent.com/26307815/143524215-79217247-77fd-41

[2021-11-26 04:04] zhuwenxing commented on #12081
/assign

[2021-11-26 04:05] yanliang567 commented on #11438
@sunby could you  please explain more about how it happens?

[2021-11-26 05:47] sflowing opened #12298 "[Bug]: After running for some time, milvus service no longer responds to any requests(search hangs/no response/search block)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The milvus server log in the docker container which is found the bug.
The critical time point is [2021-11-25 02:12:21,xxx]
**info.log**
[code]
Before [2021-11-25 02:12:21,xxx], clients could search as fast as usual(<10 ms), but suddenly client would not get any respon

[2021-11-26 06:00] cydrain opened #12299 "[Enhancement]: Enhance timeticksync to detect long idle proxy session"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Rootcoord sends timetick msg to all dml channels only when get ttMsg from all proxy nodes.
If one proxy node get offline, but not removed from ETCD in time, rootcoord will keep waiting ttMsg from this proxy node,
and cause system hang.
Suggest to add a detecting mechanism in r

[2021-11-26 06:00] cydrain commented on #12299
/kind enhancement

[2021-11-26 06:00] cydrain commented on #12299
/assign

[2021-11-26 06:01] yanliang567 commented on #12298
/assign @yhmo
/unassign

[2021-11-26 06:18] xiaocai2333 commented on #11074
It seems that the historial search took a long time, caused the next search request to timeout. The log:
[code]

Search time under the normal circumstances:
[code]

[2021-11-26 06:24] zhuwenxing commented on #12282
Verified and passed
![image](https://user-images.githubusercontent.com/12268675/143536292-f38453e1-0741-4586-9ef7-1681020de0ba.png)

[2021-11-26 06:24] #12282 closed

[2021-11-26 06:25] czs007 commented on #8824
the root cause may be slow etcd:
2021-11-25T10:17:55.5320051Z stdout F [2021/11/25 10:17:55.529 +00:00] [WARN] [root_coord.go:294] ["failed to update timestamp: "] [error="context deadline exceeded"] [errorVerbose="context deadline exceeded\ngithub.com/milvus-io/milvus/internal/tso.(*timestampOracle).saveTimestamp\n\t/go/src/github.com/milvus-io/milvus/internal/tso/tso.go:92\ngithub.com/milvus-io/

[2021-11-26 06:27] JackLCL commented on #12296
@RookieAju
You check to see if this is the cause:
 https://milvus.io/docs/v1.1.1/operational_faq.md#Why-does-Milvus-return-illegal-instruction-during-startup

[2021-11-26 06:27] sflowing commented on #12298
Btw, not only search request, but also status and other cmd no response too.

[2021-11-26 06:39] RookieAju commented on #12296
Thanks for reply.

But this might not be the reason the trigger above issue. My pymilvus version is 1.1.2.

Btw, here's my CPU info (picked one of many cores)

[code]

[2021-11-26 06:43] JackLCL commented on #12296
@yhmo Could you help analyze what is the cause?

[2021-11-26 06:50] xige-16 commented on #12297
[2021-11-25 03:53:53,460] [   DEBUG] - [scene_test] Start flush : scene_test_5831_481925 (milvus_benchmark.client:509)
After this log, [scene_test] Start create index should be printed, but it is not found. It may be that flush is stuck.

[2021-11-26 07:03] xiaocai2333 commented on #11074
testing scenarios：
[code]

[2021-11-26 07:04] czs007 commented on #8824
There is room for improvement, the grpc link is closed for no reason. Solving...

[2021-11-26 07:11] DragonDriver commented on #12279
I guess it's the network problem caused this issue. Maybe we should record the schedule of all pods next time this issue occur.

Rootcoord depends on etcd to allocate tso. The timeout of AllocTimestmap request is `5s`.

Then analyze the log of `rootcoord`.

[code]

Rootcoord tried to reconnect etcd. `06:37:20.420`.

[code]

Until `06:37:49.378`, `rootcoord` didn't connect to `etcd` yet, which the

[2021-11-26 07:17] wangting0128 opened #12301 "[Bug]: [benchmark][cluster] Milvus hang when loading 1billion vector"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

client pod：benchmark-tag-zn4gs-470224986

client log：
[code]

### Expected Behavior

argo task：benchmark-tag-zn4gs

test yaml：
client-configmap: client-random-locust-search-84h-1b
server-configmap: server-cluster-8c64m-datanode2-indexnode4-querynode6

server：
[code]

[2021-11-26 07:34] DragonDriver commented on #12279
Please help to check the network situations of the benchmark cluster. @LoveEachDay
/assign @LoveEachDay

[2021-11-26 07:58] fishpenguin commented on #12285
It can be seen on the corresponding machine that one java process was killed because of oom in the mean time.

![image](https://user-images.githubusercontent.com/49153041/143546522-c50ae5ec-b277-4e23-815f-8b669c515f00.png)

[2021-11-26 08:09] zhuwenxing commented on #12081
I use the script `test.py` to reproduce. The results are as follows.  After upgrading worker node numbers to 2, the second run is ok.
But there is something strange:
1. The insert time of first run is too long
2. After creating index, search time did not become shorter
3. In the second run, a search time is very large: search time: 116.83080196380615 (I observed that at this moment, a querynode CU

[2021-11-26 08:14] binbinlv commented on #11148
Set for urgent, as it is blocked for hang issue again.

[2021-11-26 08:20] #9530 closed

[2021-11-26 08:26] xige-16 commented on #12285
root cause may same with #12279 , pulsar-proxy all has restart

[2021-11-26 08:32] xige-16 commented on #12301
a watchDeltaChannel task hang on querynode
[benchmark-tag-zn4gs-1-milvus-querynode-56cfc64458-n2htq.log](https://github.com/milvus-io/milvus/files/7607255/benchmark-tag-zn4gs-1-milvus-querynode-56cfc64458-n2htq.log)

[2021-11-26 08:32] xige-16 commented on #12301
/assign @godchen0212

[2021-11-26 08:37] yyp1121 commented on #9689
I also encountered the same problem on v2.0.0-rc8, I think it's caused by the persistent data not being loaded into the memory after restarting the docker container.

[2021-11-26 08:41] XuanYang-cn commented on #10171
After waiting enough time for the pods to get running, it behaves as expected.
/unassign
/assign @zhuwenxing

[2021-11-26 08:43] godchen0212 commented on #12059
The problem has been fixed. Please check it again.
/unassign
/assign @ThreadDao

[2021-11-26 08:43] godchen0212 commented on #12059
/unassign @czs007

[2021-11-26 08:45] godchen0212 commented on #12218
It seems the memory has not been released completely in querynode.

[2021-11-26 08:50] ZeroE04 opened #12306 "[Bug]: why does the container "milvus run standalone" exit(137) exit over and over again？"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After the service crash， i do that: ① "sudo docker-compose down" ② “sudo docker-compose up -d”
but the the  container "milvus run standalone" exit(137) exit over and over again. It seems I need to delete the volumes folder and spend a lot of time building collection u

[2021-11-26 08:52] XuanYang-cn commented on #12187
Not reproducing anymore.

Reopen if reproducing.

[2021-11-26 08:52] #12187 closed

[2021-11-26 09:11] xiaofan-luan commented on #12306
@ZeroE04 hi zero, do you have logs when the node crash?

[2021-11-26 09:24] yanliang567 commented on #12306
@ZeroE04 one more question, which version are you using ? if not rc8, could you please retry against milvus rc8 and pymilvus rc8?

/assign @ZeroE04
/unassign

[2021-11-26 09:31] ZeroE04 commented on #12306
Sorry..I have removed the volume folder, but you can do "ctrl+d" during the time when data insert，than down and up the docker again, both service crashes for me were caused by interrupt **insert**.

[2021-11-26 09:31] ZeroE04 commented on #12306
my version is 2.0.0rc8

[2021-11-26 09:35] yanliang567 commented on #12306
could you please try to reproduce this issue and collect the milvus logs to help us investigate this issue?

[2021-11-26 09:43] #8058 closed

[2021-11-26 09:45] godchen0212 commented on #12301
We discover the pulsar bookeeper crashed for a minute at time 02:10-02:11.
And the reader reads data from the checkpoint at time 02:10.
It makes ``msgstream.Next`` blocking, because it is a blocking interface, it will read the data until data is read. We expect that after pulsar resumes , the ``Next`` function will return, but it does not do so.
We will add a timeout for next function, if he does

[2021-11-26 09:53] fishpenguin commented on #12285
Still working on it...

[2021-11-26 10:38] LoveEachDay commented on #12279
`10.96.0.10` is the dns service ip, according the error message `Error while dialing dial tcp: lookup benchmark-tag-x65xq-1-etcd on 10.96.0.10:53: server misbehaving`, rootcoord failed to connect to etcd, because it cannot get the ip address from the dns.

So it's reasonable to raise error.

[2021-11-26 10:43] yyp1121 opened #12310 "[Bug]: After restarting Docker, persistent data cannot be loaded into memory"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Environment

[code]

### Current Behavior

Insert 10 million data into the collection and check that the memory usage increases by 18GB. After closing Milvus, the memory is released, but after restarting, it is found that the persistent data cannot be loaded into the memory, and using the SDK or Milvus insight

[2021-11-26 10:43] binbinlv commented on #11148
Latest nightly hangs issue:

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/231/pipeline/91

Logs:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/231/artifacts

[2021-11-26 11:11] yanliang567 commented on #12310
@zhuwenxing could you please help to reproduce the issue on latest build?
/assign @zhuwenxing
/unassign

[2021-11-26 11:18] zhuwenxing commented on #11275
@czs007

Now getting collections entities time cost is normal, however, creating index time(more than 5mins) is not normal.
[standalone-pod_kill-chaos-test-2021-11-26-18-28-31.zip](https://github.com/milvus-io/milvus/files/7608342/standalone-pod_kill-chaos-test-2021-11-26-18-28-31.zip)

[2021-11-26 11:32] xige-16 commented on #11148
standalone panic when flush

[2021-11-26 11:33] xige-16 commented on #12265
[code]

[2021-11-26 11:34] xige-16 commented on #12265
Latest nightly hangs issue:

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/231/pipeline/91

Logs:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/231/artifacts

[2021-11-26 11:36] xige-16 commented on #11148
blocked by #12265

[2021-11-26 13:00] czs007 opened #12313 "[Enhancement]: What should be returned when the message stream is closed?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

When the message stream is closed, the current system behavior is inconsistent: sometimes it returns (nil error), sometimes it returns (EmptyMsg, nil), and sometimes it returns (nil, nil).
Need to discuss.

### Why is this needed?

_No response_

### Anything else?

_No respon

[2021-11-26 13:02] czs007 opened #12314 "[Bug]: rocksmq_reader.go get an empty msg and panic when tring to unmarshal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

2021-11-26T09:58:25.70878515Z stdout F [2021/11/26 09:58:25.708 +00:00] [DEBUG] [rocksmq_reader.go:73] ["Stop get next reader message!"]
2021-11-26T09:58:25.711025244Z stderr F panic: runtime error: invalid memory address or nil pointer dereference
2021-11-26T09:58:25

[2021-11-26 13:15] xige-16 commented on #12259
the issue still exist,

[2021-11-26 13:34] #10290 closed

[2021-11-26 13:52] godchen0212 opened #12316 "[Enhancement]: Return rocksdb reader timeout error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Return rocksdb reader timeout error

### Why is this needed?

We should return error when timeout other than nil
[code]

### Anything else?

_No response_

[2021-11-27 03:20] RookieAju commented on #12296
Hi, all.

I guess I found the reason. 2 gcc are installed in my env (4.8.5 by default and 7.3.0). Since milvus requires cxx17 features, I compiled it with my gcc7.3.0. However my boost pakcage linked is compiled with 4.8.5...

After I fixed this, things seem to be OK now.

Kind Regards.

[2021-11-27 03:20] #12296 closed

[2021-11-27 12:05] #12198 closed

[2021-11-28 13:30] #11845 closed

[2021-11-28 13:32] xiaofan-luan commented on #12279
Any guess why does it can not connect to the dns?

[2021-11-28 14:09] xiaofan-luan commented on #11845
Great, thanks greensea. It might be too long for a search if takes 6minutes, what kind of search it is? did you try to build index on top of the data?

[2021-11-28 14:09] xiaofan-luan commented on #12313
I would say it should be an error? any different opinions?

[2021-11-28 14:11] xiaofan-luan commented on #11438
I guess it is just because of the timeout is not handled by python sdk

[2021-11-28 14:45] xiaofan-luan commented on #12296
Hi Rookie, anything we can do  to improve? maybe we can add some log or what

[2021-11-28 21:53] #10467 closed

[2021-11-28 21:53] #10473 closed

[2021-11-28 21:53] #10461 closed

[2021-11-28 21:53] #10406 closed

[2021-11-28 21:53] #10397 closed

[2021-11-29 02:17] ThreadDao commented on #11679
No longer appear.

[2021-11-29 02:17] #11679 closed

[2021-11-29 02:32] #7684 closed

[2021-11-29 02:34] BUPTAnderson commented on #7349
Hi @xiaofan-luan, I verified this recently and it seems that  the problem has been solved.