[2021-07-19 13:39] DragonDriver commented on #6627
/assign

[2021-07-19 13:45] xige-16 opened #6629 "specify the parameters for the etcd version when using etcdKV.WatchWithPrefix()"
#### What would you like to be added:
add a ```WatchWithPrefix(key string, version int64) clientv3.WatchChan``` for etcdKV

[2021-07-19 13:47] DragonDriver commented on #6569
this will be solved by #6628 , pls retest this after it was merged. thx

/unassign
/assign @binbinlv

[2021-07-20 00:39] filip-halt opened #6631 "Increase shards per table"
Limited to 2 shards per table, meaning only two datanodes can insert at a time. Possible for user to increase amount?

[2021-07-20 00:49] neza2017 commented on #6631
the default value is 2 , user can set  the number of shards  when create collection

[2021-07-20 00:50] xuqinkun commented on #6401
@cydrain How's it going?

[2021-07-20 01:10] JackLCL commented on #6620
Do you try to upgrade to the latest version 1.1.1 and see if you still have the problem?
@xTerry

[2021-07-20 02:12] ThreadDao commented on #6624
/assign @cydrain

[2021-07-20 02:22] ThreadDao opened #6632 "Need to test query with vector field output"
#### Is your feature request related to a problem? Please describe:
1. query output_fields support vector field, and the test case needed to update
2. query case cost too much, It is necessary to optimize
3. query result check function didn't check vector field values

#### Describe the solution you'd like:

#### Describe alternatives you've considered:

#### Additional context:

[2021-07-20 02:32] del-zhenwu opened #6634 "Server unavailable during flush, and row count is not correct after flush"
#### Steps/Code to reproduce:
[code]
logs:
https://kibana-dev.zilliz.cc/app/discover#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'2021-07-19T21:03:54.428Z',to:'2021-07-19T21:30:00.000Z'))&_a=(columns:!(log),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:ad1e1c50-c9d9-11eb-9e1a-b3dcad9693fd,key:kubernetes.pod_name,negate:!f,params:!(benchmark-cluster-cron-

[2021-07-20 02:49] del-zhenwu opened #6635 "Enable case for query vectors"
#### Is your feature request related to a problem? Please describe:

#### Describe the solution you'd like:

#### Describe alternatives you've considered:

#### Additional context:

[2021-07-20 02:51] cydrain commented on #6624
@ThreadDao
This is an invalid case because primary key duplicated.
In current design, if primary key is set by user, user need guarantee primary key is unique.
Milvus does not check the duplication of primary key.

[2021-07-20 02:57] XuanYang-cn opened #6638 "Milvus hero-bot runs once per hour, working too hard"
Hero-bot works on `all-contributor` action.

Once per day would be better. :smile:

[2021-07-20 02:57] XuanYang-cn commented on #6638
/assign

[2021-07-20 03:00] sutcalag commented on #6638
https://github.com/milvus-io/milvus/blob/ab5a7cbf44458cf008df7d0be8f01676eac5b344/.github/workflows/all-contributors.yaml#L14

[2021-07-20 03:12] yhmo opened #6640 "Failed to insert data into specified partition"
#### Steps/Code to reproduce:
1. create a collection
2. create a partition "part_1" in the collection
3. insert some data into the partition
ids = milvus.insert(name, [
            {"name": "A", "type": DataType.FLOAT, "values": aaa[start:end]},
            {"name": "B", "type": DataType.FLOAT, "values": bbb[start:end]},
            {"name": "C", "type": DataType.FLOAT, "values": ccc[start:end]},

[2021-07-20 03:14] DragonDriver commented on #6640
i will fix this soon
/assign

[2021-07-20 03:16] yan-rui commented on #6547
这两天通过定时删除并重建流式写入的collection， 没有再发生过卡死和崩溃的情况。
indexFileSize 最小参数是多少？

[2021-07-20 03:20] sunby opened #6641 "Failed to stop datacoord when disconnecting with etcd"
There's a bug when shutdown datacoord after disconnecting with etcd.

[2021-07-20 03:26] xiaocai2333 commented on #6428
rc2 has been released. Try with rc2 version. @Wenorm

[2021-07-20 03:33] orange-jams commented on #6611
Yes,  we don't have no internet access in our environments. Looking forward to your guide！

[2021-07-20 03:35] ThreadDao commented on #6624
Ok. I will keep this case until Milvus supports primary key deduplication. I have given this case the tag of xfail. You can skip it first.

[2021-07-20 03:54] xiaocai2333 commented on #6426
Maybe this is the reason(#6458 ), it has been fixed. Please retest it.

[2021-07-20 04:03] yhmo commented on #6547
这个崩溃是在特定条件下才有可能发生，因为目前还没有其他用户报告过。
index_file_size 最小没限制，不过如果设的太小，会严重影响性能。比如设成1MB，对于128维向量，每个segment大约2000条向量，23w向量一共有一百多个segment，额外增加了元数据操作的开销，以及结果集合并的开销，对于小数据集的性能很要命。

[2021-07-20 04:04] Bennu-Li opened #6644 "The pod milvus-datanode failed to restart automatically, status always CrashLoopBackOff"
#### Steps/Code to reproduce:
I insert 100,000 pieces of 128-dimensional data in batches, and check the number of vectors in the collection through collection.num_entities after insertion. Repeat this operation, after inserting 600 million pieces of data, the pod milvus-datanode error.

This is the client running log

<img width="1439" alt="截屏2021-07-20 上午11 48 40" src="https://user-images.githubu

[2021-07-20 04:05] del-zhenwu opened #6645 "Reduce the time in ci test stage"
#### Steps/Code to reproduce:
[code]
https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-ha-ci/branches/PR-6636/runs/1/nodes/68/steps/75/log/?start=0
#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- C

[2021-07-20 05:22] duanyongyao opened #6647 "How to control the permissions"
### Discussed in https://github.com/milvus-io/milvus/discussions/6646

<div type='discussions-op-text'>

<sup>Originally posted by **duanyongyao** July 20, 2021</sup>
How do I control the permissions, such as access via user name and password, and control read and write permissions

The python SDK documentation provides the following ways to connect to Milvus server,but I think this is very danger

[2021-07-20 06:05] xiaofan-luan commented on #6647
Milvus does not has access control support yet.
Based on the roadmap, it will implemented on 2.1, which is around October this year. Contributions on multi tenancy and encryption support is highly welcomed.

[2021-07-20 06:14] lajiyuan opened #6648 "Insert and query at the same time, causing a memory leak."
#### Steps/Code to reproduce:
I have a collection of 370 million, divided into 8 partitions, of which the first 7 shards have 5kw data.
And my milvus cluster has 8 read nodes(32C 56G) and 1 write node.
When I searched while inserting 1kw data into the eighth shard, the memory usage of the reading shard where the eighth shard was exceeded 50G.
The configuration information is as follows.
`{
    "co

[2021-07-20 06:14] cydrain opened #6649 "Optimize segcore test_c_api.cpp"
#### What would you like to be added:
Optimize segcore test_c_api.cpp

#### Why is this needed:
Remove code duplicate

[2021-07-20 06:21] cydrain opened #6650 "Search and Query output_fields support wildcard"
#### What would you like to be added:

#### Why is this needed:
| output_fields | output |
|---------------|--------|
| none          | id     |
| *             | id + all scalar fields |
| %             | id + all vector fields |

[2021-07-20 06:23] yhmo commented on #6647
@duanyongyao
Currently milvus doesn't support user/account management, both for v1.x and v2.0.
You need to build a middle ware to do it. The [Mishards](https://github.com/milvus-io/milvus/tree/1.1/shards) is a good example for such middle ware.
The basic solution is:
- The middle ware implements same RPC interfaces with Milvus. The Mishards implements all Milvus interfaces in this class: https://g

[2021-07-20 06:38] #6627 closed

[2021-07-20 06:41] shanghaikid commented on #6343
any update for this?

[2021-07-20 06:42] mayunjie opened #6651 "Milvus failed to start when the mysql account has no table create permission"
#### Is your feature request related to a problem? Please describe:
The current milvus uses the create table if not exist statement when it is started. This statement requires the account to have the permission to create tables, but for many companies, we always do not have the prd environment database table create permission.

#### Describe the solution you'd like:
conifg in server_config.yaml wh

[2021-07-20 06:47] xiaocai2333 opened #6652 "Add unittest for IndexCoord and IndexNode"
#### What would you like to be added:
Add unittest for IndexCoord and IndexNode.

#### Why is this needed:
The unittest for IndexCoord and IndexNode is too little.

[2021-07-20 06:48] xiaocai2333 commented on #6652
/assign @xiaocai2333

[2021-07-20 06:48] #6638 closed

[2021-07-20 07:06] #6463 closed

[2021-07-20 07:18] #6622 closed

[2021-07-20 07:47] congqixia opened #6655 "Proxy crashes when invoke CalcDistance API with ids"
#### Steps/Code to reproduce:

1. Create collection
2. Insert some data & flush
3. Call `CalcDistance` api

#### Expected result:
returns distance between

#### Actual results:
proxy crashed

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): v2.0.0-RC2
- Deployment mode(standalone or cluster): cluster
- SDK version(e.g. pymilvus v2.0.0rc2): milvus-sdk-go master
- OS(Ubuntu or CentOS)

[2021-07-20 07:49] neza2017 commented on #6644
it seems that `datacoord` disconnect with `etcd`,  log of `datacoord`
[code]
log of `etcd`
[code]

[2021-07-20 07:52] neza2017 commented on #6644
/assign @sunby

[2021-07-20 07:59] yanliang567 commented on #5993
reproduced on master-20210719-b98b30b
when running test_chaos.py with indexnode chaos. (keep building index while chaso)
checking the indexcoord.log, it trying to connect the indexnode by ip 10.97.4.171, while the actual indexnode ip is 10.97.4.182. so building index hangs

[2021-07-20 07:59] xTerry commented on #6620
@JackLCL Upgrade to the 1.1.1，It still exists，but running the a day，It‘s recovery.Change to 0.10.5 ,No problem.
Thanks.

[2021-07-20 07:59] #6620 closed

[2021-07-20 07:59] xTerry commented on #6620
@JackLCL Upgrade to the 1.1.1，It still exists，but running the a day，It‘s recovery.Change to 0.10.5 ,No problem.
Thanks.

[2021-07-20 08:00] yanliang567 commented on #5993
/assign @xiaocai2333
the datanode had the same issue before, and @sunby fixed it.

[2021-07-20 08:01] wangting0128 opened #6657 "Update codecov action"
Update codecov action

[2021-07-20 08:21] xige-16 opened #6659 "Query node report system info to QueryCoord"
#### What would you like to be added:
querynode report it's mem info and cpu usage to queryCoord
#### Why is this needed:
queryCoord lack querynode's runtime info when it does loadbalance

[2021-07-20 08:22] xige-16 commented on #6659
/assign @bigsheeper

[2021-07-20 08:35] yanliang567 opened #6660 "[chaos] Fail to load after querynode deleted and restarted"
#### Steps/Code to reproduce:
1. deploy Milvus 2.0 with cluster mode
2. keep loading and searching in a collection in a loop
3. keep deleting querynode every 2 seconds for 20 seconds
4. stop deleting querynode and wait querynode restart to running state
5. load and search

#### Expected result:
load and search succeed after qurynode back to running state

#### Actual results:
[code]

#### Environm

[2021-07-20 08:39] huazaizai0322 opened #6661 "Failed to batch insert vector into milvus"
#### Steps/Code to reproduce:
[code]

#### Expected result:
success

#### Actual results:
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): 2.0
- Deployment mode(standalone or cluster): cluster
- SDK version(e.g. pymilvus v2.0.0rc2): v2.0.0rc2
- OS(Ubuntu or CentOS): Centos
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:
When I inserted 2,00

[2021-07-20 08:40] dzhyy opened #6662 "Search doesn't support vector field as output_fields"
#### Steps/Code to reproduce:
[code]

#### Expected result:

I expected getting entities(e.g: [class_list,embedding_list]) from collection,so i used 'search' with 'hit.entitity.get(field_name)' ,hope  it can achieve similar results.but got an error.

#### Actual results:
[code]
python-BaseException

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):v2.0.0-RC
- Deployment mode(standalo

[2021-07-20 08:43] yanliang567 commented on #6660
BTW, I limited the resources on every pod
**datanode：**
  requests:
    memory: 200Mi
    cpu: 0.4
  limits:
    memory: 250Mi
    cpu: 0.5
**datacoord:**
  requests:
    memory: 50Mi
    cpu: 0.1
  limits:
    memory: 60Mi
    cpu: 0.12

[datacoord.6660.log](https://github.com/milvus-io/milvus/files/6846774/datacoord.6660.log)
[datanode.6660.log](https://github.com/milvus-io/milvus/files/6846776/

[2021-07-20 08:44] yanliang567 commented on #6660
/assign @xige-16

[2021-07-20 08:50] Bennu-Li commented on #6644
Datacord did not restart after hanging up, causing datanode to fail to restart automatically.  so I restarted the datacord manually.
But
 another problem occurred after restarting，the datacoord pod always flush segment.  Below is the log:

<img width="1033" alt="截屏2021-07-20 下午4 29 09" src="https://user-images.githubusercontent.com/53458891/126288251-83b4fc70-77b8-4743-85d4-de0c680acd23.png">

Att

[2021-07-20 08:51] wangting0128 commented on #6657
https://github.com/milvus-io/milvus/pull/6654

[2021-07-20 08:51] #6657 closed

[2021-07-20 08:51] sunby opened #6664 "Failed to insert rows more than a segment can hold"
When insert too much rows in a request, now the behavior of datacoord is return a response with exception.
We should create new segments to hold these rows automatically.

[2021-07-20 09:13] #6649 closed

[2021-07-20 09:38] FluorineDog opened #6666 "Use single bitset in calculation"
Currently, in expressing calculating, sub results are `std::deque<boost::dynamic_bitset<>>`, which is confusing and inefficient. Use `boost::dynamic_bitset<>` instead

[2021-07-20 09:53] cydrain commented on #6650
tests20
[code]

[2021-07-20 10:39] xiaofan-luan commented on #6151
Anyone who has a successfully deploy milvus offline please share your experience.

[2021-07-20 10:51] yhmo commented on #6651
The #6670 make a fix.

When milvus start, it use "SHOW TABLES LIKE xxx" to check whether the meta schema exist. If the schema didn't exist, no need to call "CREATE TABLE IF NOT EXIST".

[2021-07-20 11:14] ThreadDao opened #6674 "Show the progress of the test cases running in CI"
#### Is your feature request related to a problem? Please describe:
1. Currently pytest output with cmd `-n 4`:
[code]
2. Currently pytest output with cmd `--workers 4`:
[code]

3. show progress output:

- use `pytest-progress` with cmd ` pytest --workers 4 --show-progress `
[code]

- use `pytest-sugar` with cmd  `pytest -n 4`
[code]

**Note: use `pytest-sugar` with `--workers`, the progress can n

[2021-07-20 11:41] ThreadDao commented on #6674
/cc @yanliang567 @del-zhenwu @binbinlv @wangting0128

[2021-07-20 13:24] laol777 opened #6675 "Memory consumption more than expected"
I have huge ram memory allocation for [100 M test](https://github.com/milvus-io/bootcamp/blob/master/benchmark_test/lab2_sift1b_100m.md) on Milvus 2.0
after the end of the test, I have 80 GB of memory allocated.

#### Steps/Code to reproduce:

1. **(start standalone milvus)** [installation link](https://milvus.io/docs/install_standalone-docker.md)
[code]
2. **(run test)**
make test by instruction

[2021-07-20 14:11] sanjaygithu commented on #6640
Hi @yhmo , Its working fine for my application. may be you can close this Thread.

[2021-07-20 14:33] #6655 closed

[2021-07-20 17:15] filip-halt commented on #6631
I cant seem to find it in the pymilvus or pymilvus-orm documentation, only options for creating partitions.

[2021-07-21 00:28] huazaizai0322 opened #6677 "Insert into milvus in batches with pandas dataframe"
#### Steps/Code to reproduce:
[code]

#### Expected result:
success

#### Actual results:
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): v2.0.0-rc2-20210712-a8e5fd2
- Deployment mode(standalone or cluster): cluster
- SDK version(e.g. pymilvus v2.0.0rc2): 2.0.0rc2
- OS(Ubuntu or CentOS):  kubernetes
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional c

[2021-07-21 01:28] JackLCL commented on #6648
@lajiyuan
Thanks for your feedback. You'd better write a script to reproduce this issue. And we can help you solve it this way.

[2021-07-21 01:34] yangj2133 opened #6678 "Can Milvus support transaction rollback？"
#### Is your feature request related to a problem? Please describe:

#### Describe the solution you'd like:
I wonder if Milvus can support rollback of transactions like MySQL etc.

#### Describe alternatives you've considered:

#### Additional context:

[2021-07-21 01:39] yangj2133 commented on #6647
I strongly support the ability to add permission controls！

[2021-07-21 01:56] #6640 closed

[2021-07-21 02:01] DragonDriver opened #6679 "Decrease the frequency of printing timetick information in proxy"
#### What would you like to be added:

I want to decrease the frequency of printing timetick information in proxy.

#### Why is this needed:

Now, proxy will send timetick information to RootCoordinator and in the same time print them into logs. However, the frequency that print them per 200ms is too high and too many timetick information will also cover other more useful debug information, this i

[2021-07-21 02:01] DragonDriver commented on #6679
/assign

[2021-07-21 02:13] sunby opened #6680 "enhance log print in datacoord"

[2021-07-21 02:43] binbinlv commented on #6592
Verified, and fixed.

Name: pymilvus
Version: 2.0.0rc3.dev6
Name: pymilvus-orm
Version: 2.0.0rc3.dev6

Result:
`partition_name_array` value (1,) is illegal

[2021-07-21 02:43] #6592 closed

[2021-07-21 02:45] binbinlv commented on #6615
Code added.

[2021-07-21 02:45] #6615 closed

[2021-07-21 02:52] del-zhenwu opened #6683 "Index timeout during CI test stage"
#### Steps/Code to reproduce:

log path:
https://ci.milvus.io:18080/jenkins/job/milvus-ha-ci/job/PR-6636/2/artifact/artifacts-milvus-distributed-PR-6636-2-pymilvus-e2e-logs.tar.gz

[code]

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-6636/2/pipeline/68/

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a9

[2021-07-21 02:53] #6464 closed

[2021-07-21 02:53] yhmo opened #6684 "Use multi-threads to improve getEntityById performance"
#### What would you like to be added:
Use multi-threads to improve getEntityById performance

#### Why is this needed:
When input ids is large array, the performance of getEntityById is not good

[2021-07-21 02:54] yhmo commented on #6684
Fixed by #6310

[2021-07-21 02:54] #6684 closed

[2021-07-21 03:09] binbinlv commented on #6569
The problem still exists:

===================================================================================== short test summary info ======================================================================================
FAILED test_search.py::TestCollectionSearch::test_search_binary_tanimoto_flat_index[500-8-False-False] - AssertionError
FAILED test_search.py::TestCollectionSearch::test_search

[2021-07-21 03:11] xuqinkun opened #6685 "Run rootcoord error"
I get an error when I run the rootcoord throuth the command:  bin/milvus run rootcoord
The log is as follow:
Welcome to use Milvus!
Version:   v0.10.2-1946-g0aeb61db4-dev
Built:     Wed Jul 21 02:57:33 UTC 2021
GitCommit: 0aeb61db4
GoVersion: go version go1.16.5 linux/amd64

open pid file: /run/milvus/rootcoord.pid
lock pid file: /run/milvus/rootcoord.pid
[2021/07/21 11:03:26.931 +08:00] [DEBUG] [

[2021-07-21 03:11] xinjiguaike opened #6686 "Data Persistence Failed"
I run milvus by docker-compose(docker-compose.yml as follows, volumes mapping has been bold)：

#### Steps/Code to reproduce:

1. stop milvus
   `docker-compose down`
2. start milvus
   `docker-compose up -d`

#### Expected result:

milvus can be connected normally

#### Actual results:

milvus started, but report **"proxy not healthy"** when connect from milvus insight, and the milvus-standalone c

[2021-07-21 03:21] xiaofan-luan commented on #6367
we will need a mechanism to do dynamic configuration and configuration acquisition， guess this is not the first priority for now? We will need to refine this part after milvus 2.0 release

[2021-07-21 03:25] xiaofan-luan commented on #6330
/assign @xiaocai2333

[2021-07-21 03:26] #6679 closed

[2021-07-21 03:30] yanliang567 opened #6687 "[CI]"grpc_status":14, Exception("server is not healthy, please try again later")"
#### Steps/Code to reproduce:
when CI running in KinD, sometimes Milvus becomes not healthy
 [CI pipeline logs](https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-ha-ci/branches/PR-6551/runs/6/nodes/91/steps/98/log/?start=0)

#### Expected result:

#### Actual results:
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):master CI
- Deployment mod

[2021-07-21 03:31] yanliang567 commented on #6687
/assign @czs007

[2021-07-21 03:36] yanliang567 opened #6688 "[CI] Fail to pull image from dockerhub in CI pipeline"
#### Steps/Code to reproduce:
[CI Pipeline logs](https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-6658/2/pipeline/83/)

#### Expected result:

#### Actual results:
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
-

[2021-07-21 03:37] yhmo commented on #6651
Test steps:
1. start mysql server
`docker run -p 3306:3306 -e MYSQL_ROOT_PASSWORD=123456 -d mysql:5.7`

2. use root account to login the mysql server, create a database named "milvus"
 `mysql -h127.0.0.1 -uroot -p123456`
`CREATE DATABASE milvus;`

3. create a new user, assign these privileges: insert, delete, update, select
[code]
4. set meta uri in server_config.yaml
[code]
5. start milvus server

[2021-07-21 03:42] yanliang567 opened #6689 "[CI] etcdserver: request timed out"
#### Steps/Code to reproduce:
When CI running, it suddenly becomes unavailable.
[CI pipeline logs](https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-ha-ci/branches/PR-6663/runs/3/nodes/15/steps/113/log/?start=0)

#### Expected result:

#### Actual results:
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or clust

[2021-07-21 03:42] xiaofan-luan opened #6690 "Support specified shard number when create collection."
#### Is your feature request related to a problem? Please describe:
currently Milvus didn't support user specified shard nums, which brings a  lot of confusing on why the cluster is not balanced.

#### Describe the solution you'd like:
User should be able to specify a shard number when create collection. Valid shard number should be a number between 1-4096, thus milvus can be balanced under 1000 n

[2021-07-21 03:43] xiaofan-luan commented on #6690
@sunby @czs007 any suggestions how we solve the issues of too many growing segments?

[2021-07-21 03:48] yanliang567 commented on #6591
it timeouts the ci pipeline in exporting logs :(
[2021-07-20T09:20:17.479Z] ======================= 463 passed in 984.67s (0:16:24) ========================
[2021-07-20T09:20:20.762Z] + popd
[2021-07-20T09:20:20.762Z] /home/jenkins/agent/workspace/tests/scripts
[2021-07-20T09:20:20.762Z] 2021-07-20T09:20:20.668738750Z	Command 'test' complete in 1069s
...
[2021-07-20T09:20:20.762Z] + kind export lo

[2021-07-21 03:48] yanliang567 commented on #6591
/assign @czs007

[2021-07-21 03:56] DragonDriver opened #6692 "Show/Describe collections/partitions with created timestamps"
#### What would you like to be added:

same as: #6343

I want to add information of created time when creating collections/partitions and then return the created time when uses call show/describe collections/partitions.

#### How to do this?

1, When root coordinator receives a create collection request, it should save the created time into etcd also;

2, Update the show collections/partitions res

[2021-07-21 03:56] DragonDriver commented on #6692
/assign

[2021-07-21 03:58] xiaofan-luan commented on #6690
We decide to restrict shard * partition to be less than 16384 for now. this may causing flush small segments frequently, hopefully compaction should help .

[2021-07-21 03:58] yanliang567 opened #6693 "grpc_status:4, status = StatusCode.DEADLINE_EXCEEDED"
#### Steps/Code to reproduce:
When running CI, grpc breaks suddenly:
[ci pipeline logs](https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-ha-ci/branches/PR-6642/runs/1/nodes/16/steps/109/log/?start=0)

#### Expected result:

#### Actual results:
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK

[2021-07-21 03:58] xiaofan-luan commented on #6690
/assign @czs007

[2021-07-21 04:01] yanliang567 opened #6694 "[CI] Helm install fails sometime in ci and manually"
#### Steps/Code to reproduce:
Fail to install milvus successfully in CI
 [ci pipeline logs](https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-ha-ci/branches/PR-6671/runs/7/nodes/76/steps/83/log/?start=0)

#### Expected result:

#### Actual results:
[2021-07-21T00:38:06.349Z] + helm install --wait --timeout 300s --set image.all.repository=localhost:5000/milvus --se

[2021-07-21 04:02] yanliang567 commented on #6694
if manual, sometime all the node or coord pods are running, while some of pod containers restarts and the entire Milvus service is not healthy.

[2021-07-21 05:10] yanliang567 commented on #6374
connect.flush() in [ci pipeline](https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-ha-ci/branches/PR-6658/runs/2/nodes/13/steps/71/log/?start=0)
_test_flush.py:179:
[2021-07-20T09:29:38.271Z] _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
[2021-07-20T09:29:38.271Z] /usr/local/lib/python3.6/site-packages/pymilvus/client/stub.py:63:

[2021-07-21 05:13] yanliang567 opened #6695 "[CI] <BaseException: (code=1, message=syncTimestamp Failed:Connect to rootcoord failed with error"
#### Steps/Code to reproduce:
when running ci, exception pops up occasionally:
[ci pipeline logs](https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-nightly-ci/branches/master/runs/69/nodes/14/steps/113/log/?start=0)

#### Expected result:

#### Actual results:
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or c

[2021-07-21 05:14] yanliang567 commented on #6695
issue #6374 has a similar exception

[2021-07-21 06:02] yanliang567 opened #6696 "[CI] BaseException: (code=1, message=GetSegmentID failed: SegmentIDAllocator failRemainRequest unexpected error)"
#### Steps/Code to reproduce:
when running ci, unexpected error pops up occasionally.
[ci pipeline logs1](https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-nightly-ci/branches/master/runs/69/nodes/76/steps/83/log/?start=0)
[ci pipeline logs2](https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-6665/1/pipeline/121/)

#### Expected r

[2021-07-21 06:08] jingkl opened #6697 "Milvus 2.0 insert error"
I followed the official website to install milvus 2.0 in two ways:
1.minikube install Milvus 2.0
2.docker compose install Milvus 2.0
Only the following error is reported when inserting data, which occurs very frequently
![微信图片_20210721140750](https://user-images.githubusercontent.com/34296482/126439587-5cccf78b-59dc-4e86-86ac-68dac449a8af.png)

[2021-07-21 06:20] DragonDriver commented on #6692
I will resolve this soon.

[2021-07-21 06:52] #6650 closed

[2021-07-21 06:58] yhmo commented on #6651
Test steps:
1. start mysql server
`docker run -p 3306:3306 -e MYSQL_ROOT_PASSWORD=123456 -d mysql:5.7`

2. use root account to login the mysql server, create a database named "milvus"
 `mysql -h127.0.0.1 -uroot -p123456`
`CREATE DATABASE milvus;`

3. manually create milvus meta schema by root account
[code]

4. create a new user, assign these privileges: insert, delete, update, select
[code]
5. se

[2021-07-21 07:20] xige-16 commented on #6435
This problem is caused by the search without specifying a metric type in search param.
        search_res, _ = self.collection_wrap.search(data=search_vectors,
                                                    anns_field=ct.default_float_vec_field_name,
                                                    param={"nprobe": 16}, limit=1)
if set the metric type in param, the test will pass:

[2021-07-21 07:22] xige-16 commented on #6435
search params should be checked before search, and I suggest that proxy be responsible for checking param. @czs007

[2021-07-21 07:27] xige-16 commented on #6435
/assign @czs007

[2021-07-21 07:47] czs007 commented on #6690
The number of Partitions and the number of Shards should not exceed 4096.

The increase in QueryNode memory consumption has nothing to do with the number of segments, but with the amount of data to be loaded.

The increase in DataNode memory consumption is indeed related to the number of segments. The reason is that we set the number of growing segment rows to be greater than 32,000 rows before be

[2021-07-21 07:54] yhmo commented on #5330
The #5330 was fixed on branch 1.1, the official docker image of 1.1.2 is not yet published, you can download a release-candidate image:
docker pull milvusdb/milvus-poc:1.1.2-cpu-rc
docker pull milvusdb/milvus-poc:1.1.2-gpu-rc
Follow these steps:
Start a MySQL server on Azure, create a database named "milvus"
To connect Azure MySQL server, you need to download a pem file from Azure online documenta

[2021-07-21 07:58] yanliang567 commented on #6694
manually helm install master-20210721-cbb4052:
datanode restarts 2 times
querycoord restarts 1 time
querynode restarts 7 times
the rest pos restart 0 times
after all the pods are in running state, Milvus is not healthy.
In fact, once there is one pod restarts even 1 time during helm installing, Milvus would be not healthy.
[datanode.6694.log](https://github.com/milvus-io/milvus/files/6853800/datan

[2021-07-21 07:58] yhmo commented on #6651
@mayunjie

The #5330 was fixed on branch 1.1, the official docker image of 1.1.2 is not yet published, you can download a release-candidate image of 1.1.2:
[code]

[2021-07-21 07:59] binbinlv opened #6699 "etcd crashed when running test case for several times"
#### Steps/Code to reproduce:
Running the following case for several times
/milvus/tests20/python_client/testcases/test_search.py::TestCollectionSearch::test_search_max_dim

#### Expected result:
ectd will not crash

#### Actual results:
NAME                                        READY   STATUS             RESTARTS   AGE
milvus-testing-etcd-0                       0/1     CrashLoopBackOff   5

[2021-07-21 08:01] binbinlv commented on #6699
Logs could not be uploaded for the big size, could you please ping me to get logs, thanks.

[2021-07-21 08:05] XuanYang-cn commented on #6690
I don't see this as a problem, users are the one who's pretty sure about how many number-of-row vectors they have. And it's easy to estimate how many segments and how large the segment will be with fixed shards numbers. They can change the `32000` config accordingly.

[2021-07-21 08:12] czs007 commented on #6690
But the number of Partitions is gradually increasing. Do I have to calculate whether my configuration needs to be updated every time I add a new partition?

[2021-07-21 08:14] DragonDriver commented on #6692
test code:

[code]

output:

[code]

[2021-07-21 08:19] xige-16 commented on #6456
This feature is supported before version 2.0.
/assign

[2021-07-21 08:20] xige-16 commented on #6456
querynode shou load index after index built done on indexNode. @bigsheeper
/assign @bigsheeper

[2021-07-21 08:26] yhmo commented on #6675
Data size of sift1b_100m: 128 * 4 * 100MB = 50GB.
Need to investigate why it consumed more 30GB.

[2021-07-21 08:26] jingkl opened #6701 "Milvus 2.0 docker compose Data Persistence"
#### Describe the solution you'd like:
Hopefully it will be possible to persist data when docker compose starts Milvus 2.0
Need docker compose Milvus 2.0 data persistence documentation or use cases

[2021-07-21 08:28] cydrain commented on #6401
@xuqinkun
Here is the document how to use docker to build Milvus, hope it can help.
https://github.com/milvus-io/milvus/tree/master/build

[2021-07-21 08:40] cydrain commented on #6685
This case can happen when you launched 2 rootcoord.
Please check if this is the case.

[2021-07-21 08:43] #6624 closed

[2021-07-21 08:44] xuqinkun commented on #6685
@cydrain right, but I can't kill the milvus process. After that, the docker container will  be down.

[2021-07-21 08:48] #6701 closed

[2021-07-21 08:51] bigsheeper opened #6704 "Query Node unittest failed"
#### Steps/Code to reproduce:
historical unittest of query node in github action.

#### Expected result:
tests passed

#### Actual results:
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-07-21 08:59] cydrain commented on #6685
@xuqinkun I cannot get your point.
If you launch Milvus as the document, there should have only 1 rootcoord running in the docker.

[2021-07-21 09:06] xuqinkun commented on #6685
@cydrain Right, but I want to run the rootcoord on the container for debug. The components are build from source.

[2021-07-21 09:09] xiaocai2333 commented on #5993
Please paste the whole indexcoord.log here. @yanliang567

[2021-07-21 09:15] cydrain commented on #6685
@xuqinkun
This is about how to debug go routine, I'll close this issue.

[2021-07-21 09:16] xuqinkun commented on #6685
@cydrain All right

[2021-07-21 09:16] #6685 closed

[2021-07-21 09:19] czs007 commented on #6343
I think it is better to let the SDK calculate the physical timestamp based on the hybrid logic timestamp, which can save meta storage space and network transmission.

[2021-07-21 09:23] godchen0212 opened #6706 "Read vector from disk"
#### What would you like to be added:
Read vector directly from disk rather than load vectors to memory for search.

#### Why is this needed:
Decrease memory usage and add local disk cache for a quick search

[2021-07-21 09:56] DragonDriver commented on #6249
sorry for my too late response. yeah, i will share a design doc about this later. However, in fact all these metric information listed above are too many to implement in few days. So according to your [feature #90](https://github.com/milvus-io/milvus-insight/issues/90) maybe i wil implement the node connection info part first.

[2021-07-21 10:00] #6692 closed

[2021-07-21 10:17] DragonDriver commented on #6343
I don't think so. If milvus doesn't do this, then every sdk will have an implementation of parsing hybrid timestamp. I think the simpler sdk is, the less duplicated work wil be produced. And though we won't change the rule of parsing hybrid ts, i don't think it's reliable to do this in sdk.

[2021-07-21 10:18] DragonDriver commented on #6343
already resolved. pls feel free to try this new feature.
/assign @nameczz
/assign @shanghaikid

[2021-07-21 10:20] xiyichan opened #6711 "debian make all fail"
#### Steps/Code to reproduce:

#### Expected result:

#### Actual results:
![image](https://user-images.githubusercontent.com/34647972/126473426-532626c4-cf41-43aa-b8b4-d871e7f154ef.png)

[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): master
- Deployment mode(standalone or cluster):standalone
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS): debian
- CPU/Memo

[2021-07-21 10:20] #6629 closed

[2021-07-21 10:44] yanliang567 opened #6712 "Memory of querynode increases 100%+ without query requests"
#### Steps/Code to reproduce:
1. deploy Milvus 2.0 with cluster mode
2. keep inserting data(with nb =1000) into collectionA and flush  for 100 times

#### Expected result:
memory of querynode should not increase

#### Actual results:
memory of querynode increases from 90M to 230M during inserting, and lasts around 220M

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):master-20210721

[2021-07-21 10:45] xiaofan-luan commented on #6690
If we have too many growing segments, for example 1024 * 1024, even if each segment only consumes 32000 datas, the entire memory consumption is TB level, that is probably too much. If you flush each segment in a few thousand rows, vector index is not efficient.

Also too many segments may cause failure recovery and load balance slow, my suggestion is partition and shard should restricted in a cert

[2021-07-21 10:51] binbinlv commented on #6569
Log is uploaded as the following if it is a help:
[log.tar.zip](https://github.com/milvus-io/milvus/files/6854989/log.tar.zip)

[2021-07-21 12:07] binbinlv opened #6713 "Search one partition results wrong after creating index"
#### Steps/Code to reproduce:
/milvus/tests20/python_client/testcases/test_search.py::TestCollectionSearch::test_search_index_one_partition

#### Expected result:
Search results are equal with limit

#### Actual results:
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): latest
- Deployment mode(standalone or cluster): standalone
- SDK version(e.g. pymilvus v2.0.0rc2):
Name: p

[2021-07-21 12:11] ThreadDao opened #6714 "Incorrect query result with output_fields are scale wildcard and vector fields"
#### Steps/Code to reproduce:
[code]
[code]

#### Expected result:
output all scale fields and float_vec field

#### Actual results:
output all scale fields

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
  cbb4052
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
  pymilvus              2.0.0rc3.dev6
  pymilvus-orm          2.0.0rc3.dev6
- OS(Ubunt

[2021-07-21 13:40] czs007 commented on #6690
The segment persistence I mentioned here does not refer to seal/flush the segment but just writes the data in the buffer to a file to reduce the memory consumption. These many small files form the whole segment.

[2021-07-21 14:38] jeffoverflow opened #6716 "Bumped KinD version to v0.11.1 for CI"
#### What would you like to be added:
Bumped KinD version to v0.11.1 for CI

[2021-07-21 17:44] henripal commented on #6151
One thing that seems like it would be easy and ***extremely*** valuable would be some way to access the cluster centroids of a given index. I haven't found a good way to do that yet, but I routinely do it in native FAISS

[2021-07-22 01:08] neza2017 commented on #6699
no space left for etcd
[code]
@binbin12580

[2021-07-22 01:08] neza2017 commented on #6699
/assign @binbinlv

[2021-07-22 01:58] ThreadDao commented on #6714
my mistake. sorry.

[2021-07-22 01:58] #6714 closed

[2021-07-22 01:59] xiaofan-luan commented on #6151
Can you explain the scenario you want to care about centroids?  This may not be a general purpose requirement for milvus because we also support HNSW, ANNOY and other libs, they don't have the idea of centroids

[2021-07-22 02:01] xiaofan-luan commented on #6712
I thought that might be related to go garbage collection rather than a leak. Did we every try to increase run time and see if memory keep increasing?

[2021-07-22 02:02] DragonDriver commented on #5955
/kind enhancement

[2021-07-22 02:31] scsven commented on #5463
I am working on it

[2021-07-22 02:37] binbinlv commented on #6699
OK, Thanks.
@neza2017

[2021-07-22 02:37] #6699 closed

[2021-07-22 02:37] henripal commented on #6151
For chemistry it's often important to get a diverse set of molecules or to identify chemotypes, and the centroids are a good way to do that!

[2021-07-22 02:44] xiaofan-luan commented on #6151
gotca. Seems to be a reasonable requirements. If we implement a classification api which returns centroids for a collection that makes to me. Let's wait for some more +1 then we can start working on this

[2021-07-22 02:49] xige-16 commented on #6712
If the collection is not loaded, querynode's memory should not grow at all.

[2021-07-22 02:49] yanliang567 commented on #6712
Not reproduced again. close for now.

[2021-07-22 02:49] #6712 closed

[2021-07-22 03:00] scsven commented on #5463
@zwd1208 I made a test on my machine, memory grow slowly, about 1MB/5mins. I will keep it run and check if it has an upper limit. I think the origin issue may be fixed. Could you make this test again and update it below?

[2021-07-22 03:01] scsven commented on #5463
/unassign
/assign @zwd1208

[2021-07-22 03:13] ThreadDao opened #6719 "Need to test query with output_fields wildcard"
#### Is your feature request related to a problem? Please describe:
query output_fields support wildcard but no test cases.

#### Describe the solution you'd like:

#### Describe alternatives you've considered:

#### Additional context:

[2021-07-22 03:14] #6632 closed

[2021-07-22 03:27] wangting0128 opened #6721 "Aliases are used inconsistently in the interface"
#### Steps/Code to reproduce:
utility：
[code]

collection：
[code]

#### Expected result:
collection：
[code]

#### Actual results:

#### Environment:
- SDK version(e.g. pymilvus v2.0.0rc2):

#### Configuration file:

#### Additional context:

[2021-07-22 03:37] RyanWei opened #6722 "Milvus to run on Mac with Apple M1 chipset"
#### Is your feature request related to a problem? Please describe:
When trying to run Milvus 2.0 on Mac with M1 chipset, I've encountered following error:

ryan@Ryans-MacBook-Air ~ % docker ps -a
CONTAINER ID   IMAGE                                         COMMAND                  CREATED        STATUS                      PORTS           NAMES
1af450a19e66   milvusdb/milvus:v2.0.0-rc2-20210712-a

[2021-07-22 03:40] #6566 closed

[2021-07-22 03:44] owlwang opened #6723 "Set useFloat16 for GPU IVFPQ"
#### Is your feature request related to a problem? Please describe:

Does Milvus have a plan to open faiss's fp16?
We tried to use 8 bits per code and 64 sub-quantizers on GPU IVFPQ index. It will cause

`Create index fail:  Status(code=1, message="Error in void faiss::gpu::GpuIndexIVFPQ::verifySettings_() const at gpu/GpuIndexIVFPQ.cu:454: Error: 'requiredSmemSize <= getMaxSharedMemPerBlock(devic

[2021-07-22 03:46] #6716 closed

[2021-07-22 04:02] yanliang567 opened #6726 "[Load] querynode OOM if loading a collection that beyond the memory limit"
#### Steps/Code to reproduce:
1. deploy Milvus 2.0 with cluster mode
   1.1  querynode memory limits: 250Mi
2. insert 2000,000 row data(about 1GB) into a collection
3. collection.load()

#### Expected result:
pops up an error to fail load operation  with a friendly msg or suggestion to users

#### Actual results:
querynode OOMKilled  and then  CrashLoopBackOff
exceptions:
[code]

#### Environment:

[2021-07-22 04:05] yanliang567 commented on #6726
If manually delete and restart the querynode pod, it keeps OOM. It seems that the load operation is still pending in querycoord or somewhere :(

[2021-07-22 04:51] congqixia opened #6727 "Search with Index with mis-composed params will cause unreadable error"
When invoke `Search` api with index built, if params of SearchParams is missing or composed with errors, the following error will be returned
[code]

Reproduce script (modified version of pymilvus [examples/example.py](https://github.com/milvus-io/pymilvus/blob/master/examples/example.py))
highlight change line
[code]
original correct
[code]

[code]

Related issue: #6435 which with missing `metric

[2021-07-22 06:09] czs007 commented on #6721
LGTM, we plan to modify it to a unified form of "using".

[2021-07-22 06:30] scsven commented on #6711
@xiyichan Please provide the full compilation log. The reason for the error cannot be seen according to the screenshot.

/assign @xiyichan

[2021-07-22 06:32] xiyichan commented on #6711
抱歉了，我现在把这个issue关掉，我换了个ubuntu系统已经可以编成功了，日志无法找回来。

[2021-07-22 06:32] #6711 closed

[2021-07-22 06:34] nameczz opened #6728 "Support query data with pagination"
#### What would you like to be added:
1. Now we have query interface which support expr like filedname in [value1,value2]
2. We need get data without any expr
3. Because of data will be large, so we need to add pagination for this
#### Why is this needed:
If we can get data by milvus, we can show data in milvus-insight.

[2021-07-22 06:42] #6719 closed

[2021-07-22 06:54] yhmo commented on #6723
@shengjun1985

[2021-07-22 07:02] xiaocai2333 opened #6730 "Specify index name when create index"
#### What would you like to be added:
Specify index name when create index.

#### Why is this needed:
#6330  Describe index return all indexes information.

[2021-07-22 07:03] xiaocai2333 commented on #6730
/assign @xiaocai2333

[2021-07-22 07:29] binbinlv opened #6731 "Exception occurs when search after index (HNSW)"
#### Steps/Code to reproduce:
Run test case:
/milvus/tests20/python_client/testcases/test_search.py::TestCollectionSearch::test_search_after_different_index

Logs:
[log.tar.zip](https://github.com/milvus-io/milvus/files/6860670/log.tar.zip)

#### Expected result:
No exceptions

#### Actual results:
FAILED test_search.py::TestCollectionSearch::test_search_after_different_index[2-8-False-False-HNSW-

[2021-07-22 07:34] ss892714028 commented on #6697
I have encountered this as well with Minikube Milvus 2.0 rc2
![image](https://user-images.githubusercontent.com/34635663/126603246-5776f656-53d9-42e8-88c3-17504ec3d926.png)
This error occured after inserting 100k at a time, total of 60 million vectors into Milvus collection.
After the error, kubectl get pods looks normal
![image](https://user-images.githubusercontent.com/34635663/126603848-0ff4ded

[2021-07-22 07:38] binbinlv opened #6732 "create IVF-PQ index failed"
#### Steps/Code to reproduce:
Run test case:
/milvus/tests20/python_client/testcases/test_search.py::TestCollectionSearch::test_search_after_different_index

index params:
[Collection.create_index] args: ['float_vector', {'index_type': 'IVF_PQ', 'params': {'nlist': 128, 'm': 16, 'nbits': 8}, 'metric_type': 'L2'}]

Logs:
[log.tar.zip](https://github.com/milvus-io/milvus/files/6860664/log.tar.zip)

[2021-07-22 07:50] godlockin opened #6733 "Issue happens during play with hello_milvus.py in milvus cluster which deployed by docker-compose"
env:
Mac

components:
docker-compose
anconda

steps:
1. download the scripts of docker-compose and hello_milvus.py
2. install related platforms
3. prepare python env by `conda create -n milvus python=3.9`
4. install python library by `pip install pymilvus-orm==2.0.0rc2`
5. start the cluster
6. switch the python env
7. run the hello script
8. the following error happened
[code]

the same error also

[2021-07-22 08:09] yhmo commented on #6678
No plan to support transaction, yet.

[2021-07-22 08:42] ss892714028 opened #6735 "Minukube Milvus 2.0 standalone, pods appear to be running after error but cannot connect with sdk"
#### Steps/Code to reproduce:
after the error described in issue #6697 occors, milvus pod repeatly restarts and crashes. Although kubectl get pods shows the pods are running,
![image](https://user-images.githubusercontent.com/34635663/126611488-91a09b2d-3f92-4bcd-ae62-6f23e57b7a90.png)

Milvus service cannot be connected
![image](https://user-images.githubusercontent.com/34635663/126611844-9142d46

[2021-07-22 08:43] LocoRichard opened #6736 "Need PyMilvus ORM Test readme"
#### Is your feature request related to a problem? Please describe:
Need PyMilvus ORM Test readme

#### Describe the solution you'd like:
Add PyMilvus ORM Test readme

#### Describe alternatives you've considered:

#### Additional context:

[2021-07-22 08:43] LocoRichard commented on #6736
/assign

[2021-07-22 08:46] #6736 closed

[2021-07-22 08:49] godlockin commented on #6733
it looks like error happened during invoking some python api inside of orm library, and it's probable happen during the cluster level status sync against the error log

[2021-07-22 08:54] Bennu-Li opened #6737 "collection.num_entities failed"
#### Steps/Code to reproduce:
iteratively calls collection.num_entities and collection.insert(), 100k 128 dim vectors at a time, after 900 million data inserted, Pymilvus throws the following error:
![image](https://user-images.githubusercontent.com/53458891/126609037-4165f7da-72a9-4c19-ac13-10a345cc689d.png)

After the error,
1. Milvus server can still be connected Calling collection.
2. Collecti

[2021-07-22 09:11] del-zhenwu commented on #6696
occasionally failed in ci:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-6636/3/pipeline/121

[2021-07-22 09:22] jeffoverflow opened #6741 "Add the options of skip kind export logs in e2e test"
#### What would you like to be added:
Add the options of skip kind export logs in e2e test.

[2021-07-22 09:33] ss892714028 commented on #6735
I restarted the Milvus pod using
[milvus.log](https://github.com/milvus-io/milvus/files/6861304/milvus.log)

[code]

Still cannot connect to Milvus server, I have shared the log file with this message

[2021-07-22 09:47] LocoRichard opened #6743 "fix Pytest readme iamge"
Signed-off-by: LocoRichard <lichen.wang@zilliz.com>
Pytest readme iamge is broken.
fix Pytest readme iamge

[2021-07-22 09:54] yanliang567 opened #6745 "[Load] Load 50M data, while querynode cosumes 145M memory"
#### Steps/Code to reproduce:
1. deploy Milvus 2.0 with cluster mode
2. insert 100,000 entities (about 50MB) into a collection
3. collection.load()

#### Expected result:
querynode consumes 50M memory

#### Actual results:
querynode consumes 145M memory, about 3 times as the data size

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): master-20210721-cbb4052
- Deployment mode(standal

[2021-07-22 10:00] #6743 closed

[2021-07-22 10:06] binbinlv opened #6746 "Wrong nprobe is not checked for search"
#### Steps/Code to reproduce:
[code]
#### Expected result:
search failed with reporting error

#### Actual results:
search successfully
Results:
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): latest
- Deployment mode(standalone or cluster): cluster
- SDK version(e.g. pymilvus v2.0.0rc2):
Name: pymilvus
Version: 2.0.0rc3.dev6
Name: pymilvus-orm
Version: 2.0.0rc3.dev6

- OS(

[2021-07-22 10:09] del-zhenwu commented on #6746
It's default behavior for FLAT, and no `nprobe` is ok.

[2021-07-22 10:15] #6426 closed

[2021-07-22 10:20] DragonDriver commented on #6249
I draft a MEP in confluence: [MEP 8  -- Add metrics for proxy](https://wiki.lfaidata.foundation/display/MIL/MEP+8+--+Add+metrics+for+proxy). Can you guys give some suggestions? @shanghaikid @nameczz @xiaofan-luan @czs007

[2021-07-22 10:29] Bennu-Li commented on #6737
/assign @czs007

[2021-07-22 10:44] binbinlv commented on #6746
OK, thanks.

[2021-07-22 10:44] #6746 closed

[2021-07-22 10:49] del-zhenwu opened #6747 "Load collection get stuck after index with two index nodes."
#### Steps/Code to reproduce:
Client get stuck during loading collection after indexed.
test yaml:
[code]
test log:
[code]
after 6 h:
[code]
check server logs in :
https://kibana-dev.zilliz.cc/app/discover#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'2021-07-22T10:00:00.000Z',to:'2021-07-22T10:30:00.000Z'))&_a=(columns:!(log),filters:!(('$state':(store:appState),meta:(alias:!n,

[2021-07-22 11:05] jingkl opened #6748 "To create an index need to call connection.load()"
To create an index, you need to call connection.load(),
You can't call load once inside the inserted data, but you need to call load every time you change the index.
This should only need to load once

![22](https://user-images.githubusercontent.com/34296482/126629471-5b830523-9e26-41f2-aae7-b1f77c7a4338.png)

![21](https://user-images.githubusercontent.com/34296482/126629455-08644405-ba76-40dd-bf

[2021-07-22 11:17] lsgrep commented on #4812
Hi, sorry for the late reply.  Here is my rough design.

### CollectionAlias Proposal

#### Background
<img width="1408" alt="Screen Shot 2021-07-22 at 7 00 07 PM" src="https://user-images.githubusercontent.com/3893940/126629152-588d90a0-96d8-428e-a783-7ac99b3e8b16.png">

This is my rough understanding of the boundary between collection name & collection id within `Milvus` for the lifecycle of a u

[2021-07-22 11:17] yanliang567 commented on #6745
after collection.release(), the querynode memory releases 25MB in a short time, and keeps at 155MB.
![Screen Shot 2021-07-22 at 7 15 37 PM](https://user-images.githubusercontent.com/82361606/126631020-78aa0ec7-76d1-4162-ab47-106202a50bd7.png)

[2021-07-22 12:20] #6741 closed

[2021-07-22 13:51] godlockin commented on #6733
this issue might be randomly happened among several times of cluster bootstrap, so I was wondering if there would be some connection issue or something cause this issue?

[2021-07-22 14:37] jingkl opened #6749 "Milvus 2.0 started by docker compose, docker compose does not automatically connect to minio and etcd services after restarting Milvus services"
Milvus hung up before and restarted with docker compose up

![1](https://user-images.githubusercontent.com/34296482/126657436-9ba3f771-40d0-4fdf-a99b-9358bafe51b8.png)
After restarting, use the client to link to the error report
![2](https://user-images.githubusercontent.com/34296482/126657468-88c812b5-5315-4f33-8938-8d35703558eb.png)
Milvus docker's logs，Internal components not working properly a

[2021-07-22 23:48] NotRyan opened #6753 "etcdserver exceeds database space, preventing all further milvus operations"
After a high number of collection creations, collection drops,  successful inserts, and failed inserts, all milvus operations will begin to fail with the error message

`"BaseException: <BaseException: (code=1, message=Drop collection failed: etcdserver: mvcc: database space exceeded)>"`

despite the instance hosting the etcd node having plenty of free disk space and free memory.

#### Steps/Code

[2021-07-23 00:25] ss892714028 opened #6754 "Data takes 2 times more disk space than estimates from Milvus sizing tool"
#### Steps/Code to reproduce:
78 million, 128 dim vectors takes up 85 G of disk space, where in Milvus tools, the estimate is less than 40 G.

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Confi

[2021-07-23 01:54] yanliang567 commented on #6737
@Bennu-Li how many proxy node did you configure? how much memory did you configure for each proxy node? It could be proxynode or datanode OOM issue.

[2021-07-23 01:57] xige-16 commented on #6726
The load collection is asynchronous. And the loadCollectionTask will be retried until the success on queryCoord.

[2021-07-23 02:00] xige-16 commented on #6726
if querynode restart, the load collection task will be executed automatically.

[2021-07-23 02:00] xige-16 commented on #6726
if querynode restart, the load collection task will be executed automatically.

[2021-07-23 02:05] xige-16 commented on #6726
QueryCoord will provide an interface to display the status of load collection. If there is not enough memory, a prompt is given.

[2021-07-23 02:06] xige-16 commented on #6726
releate issue: #6370

[2021-07-23 02:06] xige-16 commented on #6726
/assign

[2021-07-23 02:24] cydrain opened #6755 "Add new CGO interface Query to replace GetEntityByIds"
#### What would you like to be added:
Add new CGO interface Query to replace GetEntityByIds

#### Why is this needed:
Segment afford interface Search and GetEntityByIds,
for system level design consideration, we should afford interface Query to replace GetEntityByIds.

[2021-07-23 02:31] binbinlv opened #6756 "Need to update pymilvus-orm version when pymilvus version updated"
#### Steps/Code to reproduce:

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-07-23 02:44] #6652 closed

[2021-07-23 02:57] xiaocai2333 commented on #6721
It has been fixed. Please check it. @wangting0128

[2021-07-23 03:05] xiaocai2333 opened #6758 "Add opentracing log and prometheus log for indexcoord and indexnode"
#### What would you like to be added:
Add opentracing log and prometheus log for indexcoord and indexnode

#### Why is this needed:
In order to monitor some performance indicators of indexcoord and indexnode.

[2021-07-23 03:05] xiaocai2333 commented on #6758
/assign

[2021-07-23 03:30] czs007 opened #6759 "Reduce querynode's log"
Reduce querynode's log, delete those irrelevant print information, otherwise the log file will be very large.
for example , "not target collection query request" appeared 9 thousand times, in the log file of 21,000 lines.

[2021-07-23 03:34] xige-16 commented on #6759
I'm looking into it

[2021-07-23 03:35] xige-16 commented on #6759
/assign @bigsheeper

[2021-07-23 03:44] del-zhenwu commented on #6436
[code]

[2021-07-23 03:50] czs007 opened #6761 "Reduce Proxy's log"
Reduce Proxy's log, delete those irrelevant print information, otherwise the log file will be very large.
for example, "Proxy collectResultLoop Got a SearchResultMsg" printed SearchTask which contains a lot of message.

[2021-07-23 03:56] neza2017 opened #6762 "the CreateTime of CollectionInfo and is incorrect"
Set `CollectionInfo.CreateTime` to the timestamp when save the metadata into etcd, not the timestamp when RootCoord receive the `CreateCollection` Request

[2021-07-23 04:06] xiaofan-luan commented on #6754
please offer more information about what is your deployment?
This may not be a bug, more likely to be data are shown on both logs and log snapshots.
You may want to check your data directory, do  a flush and clean log directory.
Milvus 2.0 stable release will clean up data automatically

[2021-07-23 05:44] del-zhenwu opened #6764 "Update readme in benchmark."
#### What would you like to be added:

#### Why is this needed:

[2021-07-23 05:50] xiaofan-luan commented on #6686
I don't thinks this is persistence issue. Did you check that 172.30.0.4 is stopped? if it is stopped it should be anyway removed from etcd.

[2021-07-23 06:16] xiaofan-luan commented on #6374
where is load collection blocked? We probably need to block this operation at SDK rather than proxy.
@czs007

[2021-07-23 06:18] xiaofan-luan commented on #6690
Yeah i know, even for 32000 entity it takes around 32M memory for dim 128 vectors. we can. we can not afford more than 10000 growing segments

[2021-07-23 06:28] zwd1208 opened #6767 "Add Grafana dashboard template file"
Prometheus metrics has expose in Milvus. Grafana is a much more powerful visualization tool that integrates with Prometheus easily. So we need config a grafana dashboard for milvus.

[2021-07-23 06:36] #6762 closed

[2021-07-23 07:05] saltedsword commented on #6686
Same issue. I have solved this problem by setting static network for service standalone. But I'm stuck in another problem: The process was blocked when I called collection.load() or collection.num_entities. Somebody help me😭

This is the standalone log:
[code]

[2021-07-23 07:19] del-zhenwu commented on #6374
[code]

[2021-07-23 07:30] #6666 closed

[2021-07-23 07:31] Bennu-Li opened #6769 "Call collection.load(): (code=1, message=call query coordinator LoadCollection: rpc error: code = DeadlineExceeded desc = context deadline exceeded)>"
#### Steps/Code to reproduce:
The status of the pods in the Milvus cluster are all running, call collection.load() error.
![image](https://user-images.githubusercontent.com/53458891/126749974-0f29942d-9d9a-423d-8210-9ee753e223b2.png)

pod status:
![image](https://user-images.githubusercontent.com/53458891/126750155-e4f18cec-f208-4b1e-a9ea-dd5dcfb7f281.png)

Through the logs , the querycoord receiv

[2021-07-23 07:32] xiaofan-luan commented on #6728
this is already in the roadmap but this is a big one, we will need to think of how to implement it in detail.

[2021-07-23 07:34] xiaofan-luan commented on #6722
/assign @shengjun1985 please help to investigate how to support non x86 users.

[2021-07-23 07:34] Bennu-Li commented on #6769
/assign @xige-16

[2021-07-23 07:44] #6767 closed

[2021-07-23 07:46] scsven commented on #6747
@milvus-io/sig-testing

[2021-07-23 07:50] del-zhenwu commented on #6769
maybe duplicated with https://github.com/milvus-io/milvus/issues/6374

[2021-07-23 07:54] del-zhenwu opened #6771 "Timeout not work in pymilvus"
#### Steps/Code to reproduce:
test client:

[code]
while error occurred in server, `AppendIndex failed, C runtime error detected` detail logs in:
https://kibana-dev.zilliz.cc/app/discover#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'2021-07-23T06:41:21.322Z',to:'2021-07-23T07:00:00.000Z'))&_a=(columns:!(log),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:

[2021-07-23 07:55] del-zhenwu commented on #6764
close

[2021-07-23 07:56] #6764 closed

[2021-07-23 08:39] DragonDriver opened #6772 "Add unittests for metric_type: tanimoto"
#### What would you like to be added:

I want to add unittests for metric_type: tanimoto.

#### Why is this needed:

Increase the stability of index node.

[2021-07-23 08:39] DragonDriver commented on #6772
/assign

[2021-07-23 08:45] cydrain opened #6774 "Rename retrieve to query in proxy"
#### What would you like to be added:
Rename all functions, structures, variables with name RetrieveXXX to FetchXXX

#### Why is this needed:
`Search` means vector similarity search;
`Fetch` means get raw data via primary key.
`Query` includes `Search` and `Fetch`.

[2021-07-23 08:51] xiaofan-luan commented on #6686
I hit the same issue, let us investigate on this

[2021-07-23 09:46] jeffoverflow opened #6777 "Get collection will hang when Milvus standalone server is restarted with Docker Compose"
#### Steps/Code to reproduce:
The tarball contains `docker-compose.yml` and `hello_milvus2.py`.
[milvus_standalone_docker_compose.tar.gz](https://github.com/milvus-io/milvus/files/6867823/milvus_standalone_docker_compose.tar.gz)

- First start Milvus standalone Server:
[code]
![image](https://user-images.githubusercontent.com/24581746/126764312-946b17f0-9089-413e-8a17-462e5435ccbe.png)

and run `h

[2021-07-23 10:00] wangting0128 opened #6778 "Add the default timeout value of the interface"

[2021-07-23 10:06] yanliang567 commented on #6777
in short, data persistence of Milvus does not work if deployed with docker compose

[2021-07-23 10:06] yanliang567 commented on #6777
/assign @neza2017

[2021-07-23 10:32] xiaofan-luan commented on #6686
We  will fix this  issue at RC3

[2021-07-23 10:58] #6756 closed

[2021-07-23 11:51] czs007 commented on #6733
Very strange, this method is actually implemented. We are trying to reproduce this bug.

[2021-07-23 11:55] #6704 closed

[2021-07-23 12:05] DragonDriver opened #6781 "Bug: reducing search results should filter NaN instead of -inf when the metric_type is tanimoto"
[tanimoto](https://en.wikipedia.org/wiki/Jaccard_index) is a metric type supported in Milvus. It's easy to see so many cases that the tanimoto distance between two binary vectors is negative infinity(`-inf`) and in fact it's a reasonable and valid distance when searching on a collection. However, in proxy reducing stage, proxy will filter the hit record whose distance is equal to `-inf`, this will

[2021-07-23 12:05] DragonDriver commented on #6781
i will fix this soon
/assign

[2021-07-23 12:09] #6759 closed

[2021-07-23 12:33] #6761 closed

[2021-07-23 13:13] saltedsword commented on #6686
That would be great! Appreciate it!😄

[2021-07-23 23:36] hadim commented on #1924
Are string fields now supported in Milvus 2.0? Especially, string fields as primary key.

[2021-07-24 02:52] neza2017 opened #6782 "design detail of timesync"
please update the design of timesync

[2021-07-24 03:56] yan-rui commented on #6547
这个镜像能在centos上面跑吗？

[2021-07-24 05:24] codenoid commented on #1924
@hadim

![](https://pbs.twimg.com/media/E6_0i1AXIAMkq__?format=jpg&name=medium)

https://twitter.com/milvusio/status/1418621288206249986/photo/1

[2021-07-24 05:52] sunby opened #6785 "search timeout when running ci"
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-6590/7/pipeline/87/

[2021-07-24 09:34] yanliang567 opened #6787 "[Load] Indexnode crashes when dropping an index"
#### Steps/Code to reproduce:
1. deploy Milvus 2.0 with cluster mode
   1.1  limit indexnode and *node memory to 250MB , cpu 0.5
   1.2 limit index coord and *coord memory to 60MB
2. insert data(nb=10,000) for 10 times
3. build index with {"index_type": "IVF_SQ8", "metric_type": "L2", "params": {"nlist": 64}}
   3.1 after index built, index node memory consumed 130MB
4. drop the index

#### Expect

[2021-07-24 09:36] yanliang567 commented on #6787
<img width="625" alt="Screen Shot 2021-07-24 at 9 46 42 AM" src="https://user-images.githubusercontent.com/82361606/126864441-141fa9ca-3a9b-4cce-a5ef-338867cfb028.png">
<img width="798" alt="Screen Shot 2021-07-24 at 11 31 11 AM" src="https://user-images.githubusercontent.com/82361606/126864442-385389ea-1dca-49fa-9875-257def8366b7.png">

[2021-07-24 11:06] chole22 commented on #6785
https://github.com/milvus-io/milvus/issues/6785#issue-952007616
[Uploading financial_identifier_requests.csv…]()

[2021-07-24 12:29] czs007 commented on #6696
May be related to this pr #6788.
The reason is that if the balance of the segment is small, although it is determined that the demand can be met before the allocation, it returns 0 during the actual allocation, causing the allocation to fail.
@yanliang567 @del-zhenwu

[2021-07-24 12:33] czs007 commented on #6661
@huazaizai0322 Thanks for the feedback.
May be related to this pr #6788.
It will be fixed in the next release of rc3.

[2021-07-24 12:36] czs007 commented on #6621
same to #6696
see #6788
@xiaocai2333 @yanliang567

[2021-07-24 12:49] #6696 closed

[2021-07-24 14:38] M-Madadi opened #6789 "etcd lease not found"
this error showed after try to index some vectors:
[code]

this is the error of milvus-standalone:
[code]

and this is the error of etcd:
[code]

i run the milvus with docker-compose

[2021-07-25 02:20] xaxys opened #6790 "Refactor `RangeExpr` & `CompareExpr`"
#### What would you like to be added:

Currently, `RangeExpr` & `CompareExpr` is described by the following protobuf syntax.
[code]
It's better to change it to
[code]

#### Why is this needed:

This makes the defination more clearly and reduces the number of validation steps.

[2021-07-25 02:23] #6790 closed

[2021-07-25 04:05] huazaizai0322 opened #6791 "Cannot create producer on topic with backlog quota exceeded"
#### Steps/Code to reproduce:
Collection insertion that lasts several hours.

#### Expected result:
normal

#### Actual results:
![image](https://user-images.githubusercontent.com/38968544/126887316-d881b472-d950-40b4-a13d-a8e89f922cd1.png)

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster): cluster
- SDK version(e.g. pymilvus v2.0.0rc2): pymi

[2021-07-25 08:38] neza2017 opened #6794 "design detail of create collection"
please update design detail of create collection

[2021-07-25 10:40] xiaofan-luan opened #6796 "Msg Stream Exponential Stream should not double retry time for ever"
#### Steps/Code to reproduce:
Retry.go in Msgstream use exponential retry, but each retry sleep should has a limit rather than double forever.

#### Expected result:
retry sleep should be limited to a reasonble upper bound, say 1 minute.

#### Actual results:

![image](https://user-images.githubusercontent.com/83447078/126896245-b9205815-ef96-4547-895a-9c372bfdcc62.png)

#### Environment:
- Milvus

[2021-07-25 12:56] xige-16 commented on #6796
I‘m looking into it.

[2021-07-25 12:58] xiaofan-luan commented on #6796
No worry, I will send the pull request later

[2021-07-25 12:59] xige-16 commented on #6796
The retry func in package is ussless，

[2021-07-25 13:01] xige-16 commented on #6796
The retry func in msgstream package is uselss, you could use Do func in retry package instead. (internal/util/retry/retry.go)

[2021-07-25 13:04] xiaofan-luan commented on #6796
yep, that is exactly I'm doing. I'll remove retry.go in msg stream

[2021-07-25 13:11] xige-16 commented on #6791
Is your disk filling up?

[2021-07-25 13:14] xige-16 commented on #6791
If not, could you describe your operation steps and the scale of inserted data?

[2021-07-25 13:22] xige-16 commented on #6777
collection.num_entitties calls the flush interface, and the reason of milvus hang is that flush has not yet been completed. and #6658  may fix the issue. @jeffoverflow  @sunby

[2021-07-26 00:46] yanliang567 commented on #6791
@huazaizai0322

[2021-07-26 00:59] huazaizai0322 commented on #6791
@xige-16 @yanliang567
最开始的时候是pulsar中 backlog quota exceeded，之后我设成-1。
过一段时间，pulsar的pvc写满了，我将pvc容量增大，然后重启了pulsar。
当pulsar重启之后，发现datanode无法消费消息，就将milvus所有节点都重启，当我继续插入collection的时候，发现datacoord有日志更新，但是两个datanode节点都没有日志更新，都处于无消费状态。
![image](https://user-images.githubusercontent.com/38968544/126919704-555b1a95-b0e9-4201-886f-bd01b59dc698.png)
该截图，上面是datacoord，下面是datanode，当我正在插入collection的时候，datacoord会有日志

[2021-07-26 01:06] huazaizai0322 commented on #6791
@xige-16 @yanliang567
![image](https://user-images.githubusercontent.com/38968544/126920120-74d0514e-d818-4487-bf6d-42f01729de8e.png)
通过这个截图可以看到，pulsar的内存在增加，但是两个datanode完全没有动静，导致pulsar消息无法被消费，最后内存就容易爆掉

[2021-07-26 01:11] yanliang567 commented on #6791
/assign @xige-16

[2021-07-26 01:47] xige-16 commented on #6791
/unassign
/assign @sunby
/assign @XuanYang-cn

[2021-07-26 01:53] sunby commented on #6791
@huazaizai0322 Can you upload the full datacoord and datanode log? Thank you.

[2021-07-26 02:02] huazaizai0322 commented on #6791
@sunby
第一张截图是datacoord的，基本上d都是插入数据的日志；
第二张截图是datanode的，起来之后就没有日志了，一直处于不消费状态；
我现在想知道怎么确认datanode是否注册成功了？
如果注册成功了，为什么不开始消费？
![image](https://user-images.githubusercontent.com/38968544/126923211-a2359b4e-2f2c-4d54-86ae-bbeac8604a62.png)
![image](https://user-images.githubusercontent.com/38968544/126923241-b987e428-cd15-4fc5-a1c8-b5a669b42126.png)

[2021-07-26 02:05] huazaizai0322 commented on #6791
@sunby
现在新插入的数据，全部block在pulsar里面了，pulsar的pvc都已经200多G了。
我将milvus所有节点、etcd、pulsar全部都试着重启过，datanode就是不消费。
![image](https://user-images.githubusercontent.com/38968544/126923449-cecc2daa-6081-4c5c-87b2-491238755556.png)

[2021-07-26 02:17] del-zhenwu opened #6797 "Load collection more than 6 hours on sift-1m dataset"
#### Steps/Code to reproduce:
[code]
1. create collection
2. insert 50,000 entities per request, total 1m entities
3. drop index
4. create index IVF_FLAT/nlist: 1024
5. load collection more than 6 hours

test yaml:
[code]
#### Expected result:

#### Actual results:
https://kibana-dev.zilliz.cc/app/discover#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'2021-07-25T18:00:00.000Z',t

[2021-07-26 02:23] xiaofan-luan opened #6798 "Setup a default log retention time"
#### What would you like to be added:
Need to add default log retention time , say 3 days. Log should be cleaned automatically if data is consumed.

#### Why is this needed:
We've see many user hit pulsar quota exceed. Persistent volume full is very dangerous and may cause serious trouble.

[2021-07-26 02:26] czs007 commented on #5993
As you have mentioned, build index hang even after index node pod restarted

It is related to the startup logic, and the logic of trying to reconnect to invalid addresses should not be repeated.
Please wait for @godchen0212 's pull request to refactor the Session.

[2021-07-26 02:37] ThreadDao opened #6799 "Scaling test lacks README"
#### Is your feature request related to a problem? Please describe:

- scaling test lacks README
- scale test specify host manually

#### Describe the solution you'd like:

#### Describe alternatives you've considered:

#### Additional context:

[2021-07-26 02:37] xiaofan-luan commented on #6798
We will wait until rocks mq support retention https://github.com/milvus-io/milvus/issues/6601

[2021-07-26 02:49] czs007 commented on #6304
Log has been added.

[2021-07-26 02:50] Bennu-Li commented on #6737
one proxynode. I didn't limit the memory for proxynode

[2021-07-26 02:58] czs007 commented on #6323
@del-zhenwu
Can this be closed? It seems to be caused by other bugs.

[2021-07-26 02:58] del-zhenwu commented on #6304
re-test ing.

[2021-07-26 03:07] neza2017 opened #6801 "design detail of drop collection"
please update design detail of drop collection

[2021-07-26 03:23] czs007 opened #6804 "Proxy should perform static checks on SearchParams in advance"
We need to do static checks on the search parameters in the proxy.
We need to check whether the parameter type is correct.
We need to check whether the parameters are complete, whether the query parameters match the index, etc.
When errors are detected, user-friendly error messages should be given.

Related issue: #6727

[2021-07-26 03:29] peixin-lin opened #6805 "Is there a "rollback" operation in Milvus?"
Situation: After I do some mutation on a collection (insertion or delete), I decide to abort my mutation before I flush the data.
Question: Is there an operation similar to the rollback operation in MySQL that allow me to abort these changes and they will not be made effect after a future flush operation?

[2021-07-26 03:34] czs007 commented on #6435
@ThreadDao
It seems that this test does not deliberately test the case of incomplete parameters?
I have submitted an issuse #6804  to record the underlying problem: the proxy did not check the parameters in advance and did not return a user-friendly error message.
Here you need to modify this case and pass metric_type in the parameter `param`.

[2021-07-26 03:39] #6651 closed

[2021-07-26 03:39] #5330 closed

[2021-07-26 03:56] ThreadDao commented on #6435
We will adjust the related case, and this issue will be closed.

[2021-07-26 03:56] #6435 closed

[2021-07-26 07:17] #6799 closed

[2021-07-26 07:22] xiaofan-luan commented on #6805
I don't think support any form of transaction in Milvus is a good idea, at least so far.
I guess what you need is snapshot and rollback?

[2021-07-26 07:22] czs007 commented on #6436
I am working on it.

[2021-07-26 07:37] xiaocai2333 commented on #6732
/unassign
/assign

[2021-07-26 07:51] #6778 closed

[2021-07-26 08:12] ThreadDao opened #6809 "Failed to deploy the cluster milvus with image.all.pullPolicy=Always helm chart"
#### Steps/Code to reproduce:
1. deploy cluster milvus with helm `image.all.pullPolicy=Always`
[code]
2. pod status are all running, but not available
[code]
[code]
3. helm install with `--set image.all.pullPolicy=IfNotPresent` successfully once.

#### Expected result:
Milvus available

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
  e43b43e
- Deployment mod

[2021-07-26 09:30] jeffoverflow opened #6810 "Add metrics server in KinD cluster"
#### What would you like to be added:
Add metrics server in KinD cluster

#### Why is this needed:
Metrics Server collects resource metrics from Kubelets and exposes them in Kubernetes apiserver through Metrics API for use by Horizontal Pod Autoscaler and Vertical Pod Autoscaler.

[2021-07-26 10:11] genting opened #6812 "In the case of only tens of thousands of data, the search time is likely to exceed 300ms intermittently"
#### Steps/Code to reproduce:
        milvus_begin_time=time.time()
        vectors = milvus_client.search_vectors(table_name, [feat], TOP_K)
        milvus_end_time = time.time()
        milvus_time=milvus_end_time-milvus_begin_time
#### Expected result:
The amount of data is 42,000. When testing the retrieval time with the above code, it is found that the retrieval time is uneven, occasionally 3

[2021-07-26 12:30] jeffoverflow opened #6813 "Milvus generates wrong log file name of component"
#### Steps/Code to reproduce:
![image](https://user-images.githubusercontent.com/24581746/126985803-290dd7e7-a82e-4a46-8f90-d7777bd3d3a3.png)

When I export the Milvus log to file, Milvus generates wrong log file name. And when multiple instances of the component are started, the logs generated by these instances are output to the same log file. These log file can't be useful in helping to identif

[2021-07-26 12:40] czs007 commented on #6621
@yanliang567
It may be fixed, please test it.

[2021-07-26 12:40] czs007 commented on #6567
any update on this? @XuanYang-cn

[2021-07-26 13:09] yanliang567 commented on #6621
working on it

[2021-07-26 13:39] neza2017 opened #6815 "design detail of create index"
please update the design detail of create index

[2021-07-26 13:44] binbinlv opened #6817 "grpc deadline Exceeded when running test cases"
#### Steps/Code to reproduce:

Running test search cases :
pytest  /milvus/tests20/python_client/testcases/test_search.py  --workers 4

Logs:
[log.tar.zip](https://github.com/milvus-io/milvus/files/6878638/log.tar.zip)

#### Expected result:
No errors

#### Actual results:
FAILED test_search.py::TestCollectionSearch::test_search_before_after_delete[500-128-False-False] - AttributeError: 'NoneType'

[2021-07-26 14:03] xiaofan-luan opened #6818 "Modify name of the log files for start multiple components"
#### What would you like to be added:
When user start multiple querynodes, datanodes or index nodes, we want to separate logs based on nodetype + nodeid, since all the node could write to the same log if we didn't distinguish by nodeids.

#### Why is this needed:
because user may mount all the nodes into same pvc path, which may cause conflicts.

[2021-07-26 14:06] jeffoverflow commented on #6818
Related issues: #6813

[2021-07-26 14:09] xiaofan-luan commented on #6818
dupliated

[2021-07-27 01:34] yanliang567 commented on #6621
/assign @binbinlv please help to verify this fix

[2021-07-27 01:50] #6772 closed

[2021-07-27 01:59] xiaocai2333 commented on #6817
/unassign @czs007
/assign @xiaocai2333

[2021-07-27 02:07] xiaocai2333 commented on #6732
In this case, 'dim' = 8, 'm' = 16. The param 'm' means compress the vector into 'm' parts. So 'm' must be a divisor of 'dim', and 'm' preferably a quarter of 'dim'. @binbinlv

[2021-07-27 02:08] xiaocai2333 commented on #6732
/unassign @czs007
/unassign @xiaocai2333
/assign @binbinlv

[2021-07-27 02:18] binbinlv commented on #6621
OK, working on it.

[2021-07-27 02:19] #6781 closed

[2021-07-27 02:30] wangting0128 commented on #6778
https://github.com/milvus-io/milvus/pull/6779

[2021-07-27 02:39] neza2017 opened #6820 "design detail of flush collection"
please update design detail of flush collection

[2021-07-27 02:50] yanliang567 commented on #6693
[querynode.crash.log](https://github.com/milvus-io/milvus/files/6882337/querynode.crash.log)
in the log above, we can see a fatal error and the it crashed and rebooted

[2021-07-27 02:57] wangting0128 commented on #6721
check

[2021-07-27 02:57] #6721 closed

[2021-07-27 02:59] yanliang567 commented on #6693
[Uploading querycoord.crash.log…]()

[2021-07-27 03:00] shanghaikid opened #6822 "Current installation docs do not cover how to prevent data loss after restarting the docker."
We need details about how to mapping volumes to these dockers.

[2021-07-27 03:03] yhmo commented on #4812
@lsgrep
Could you provide a definition of the `CollectionAlias` class? Please list its members, interfaces.
And some interfaces may be changed in the RootCoor/Proxy/MetaTable, please list new interfaces or modifications to show how the CollectionAlias is used by the RootCoor/Proxy/MetaTable.

I don't understand the steps 1 ~ 5, are these steps to rename a collection "A" to "B"?

[2021-07-27 03:05] binbinlv commented on #6621
Verified and fixed.

milvus: master (3cc8ee2)
Name: pymilvus
Version: 2.0.0rc3.dev6
Name: pymilvus-orm
Version: 2.0.0rc3.dev8

Results:

Configure segment.maxSize in data_coord.yaml to 1 'M'.
collection.insert(entities)
(insert count: 100000, delete count: 0, upsert count: 0, timestamp: 426601183494799365)

[2021-07-27 03:05] #6621 closed

[2021-07-27 03:10] del-zhenwu opened #6823 "Client get stuck during searching on standalone server after loading successfully."
msg in log
[code]
but no msg
[code]

#### Steps/Code to reproduce:
test yaml:
[code]
steps:
1. create collection
2. insert 50,000 entities per request, total 1m entities
3. flush
4. load
5. search
[code]

#### Expected result:

#### Actual results:
hang more than 30 mins
logs:

https://kibana-dev.zilliz.cc/app/discover#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'2021-07-27T02:

[2021-07-27 03:14] yhmo commented on #4812
After more detail is confirmed, we will put the raw proposal into this page: https://wiki.lfaidata.foundation/display/MIL/MEP+10+--+Support+rename+collection
Some other developers may give their concern and suggestion. Coding work can be started once there is no concern. If you have made code change on your local, you also can give the commit link on your repository to help developers understand y

[2021-07-27 03:34] xiaocai2333 commented on #6787
/assign @xiaocai2333

[2021-07-27 03:45] DragonDriver commented on #6569
It cannot be reproduced on my local pc now, can you please retry this? thx @binbinlv

[2021-07-27 03:54] binbinlv commented on #6732
@xiaocai2333  OK, thanks for clarify, will retest it.

[2021-07-27 03:56] DragonDriver commented on #6713
I will fix this soon. thx for pointing out this.

[2021-07-27 03:57] binbinlv commented on #6569
@DragonDriver OK, will retry it later.

[2021-07-27 04:08] neza2017 opened #6826 "design detail of metaSnapShot"
please update design detail of metaSnapShot

[2021-07-27 04:14] yhmo commented on #6547
这是用docker跑的，跟外部是什么系统没关系。就好比官方镜像是用centos制作的，可以在ubuntu系统或者mac系统的电脑上跑。

[2021-07-27 05:48] binbinlv commented on #6732
Verified, and change the m =2 when dim = 8, work as design here.

But may we report the error message more specific? Just like add why the index is created fail?

@xiaocai2333

[2021-07-27 06:04] del-zhenwu opened #6828 "Search timeout when nprobe value set as 128"
#### Steps/Code to reproduce:
test yaml
[code]
[code]

#### Expected result:
nprobe: [64, 128, 256] search successfully

#### Actual results:
nprobe: [64, 256] search successfully
nprobe: [128] search  failed

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster): standalone
- SDK version(e.g. pymilvus v2.0.0rc2): pymilvus-rc3-dev6
- OS(Ubuntu or

[2021-07-27 06:34] #6436 closed

[2021-07-27 06:34] #6573 closed

[2021-07-27 07:24] Bennu-Li opened #6830 "Why the default is the standalone version of pulsar in values.yaml?"
#### What would you like to be added:
I noticed that the default value of pulsar.enabled is False in values.yaml, and pulsar standalone is used in Milvus cluster. Why is it set up like this?
![image](https://user-images.githubusercontent.com/53458891/127108616-cdc9a203-c133-43cb-b2dd-2fd6fa9442fb.png)

[2021-07-27 07:29] bigsheeper opened #6831 "datanode crashed in meta service"
#### Steps/Code to reproduce:
test cases in CI

#### Expected result:
tests passed

#### Actual results:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-6819/2/pipeline/106/

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GP

[2021-07-27 08:05] #6674 closed

[2021-07-27 08:20] sunshinepj opened #6835 "Concurrent query exception"
#### Steps/Code to reproduce:
#Query code
[code]

#### Expected result:
[code]

#### Actual results:
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):    v1.1.1
- Deployment mode(standalone or cluster):   standalone
- SDK version(e.g. pymilvus v2.0.0rc2):  pymilvus1.1.2
- OS(Ubuntu or CentOS):   CentOS
- CPU/Memory:   16C/64G
- GPU:
- Others:

#### Configuration file:
[code]

[2021-07-27 08:29] DragonDriver commented on #6713
Reproduced on my local pc. But if i search on a collection without creating index (create collection, insert data, flush, load), the number of hit records (topk) is equal to limit. So it's `IVF_FLAT` caused this issue. `nprobe` (10) in test cases is too small here. When we create index, we set `nlist` to 128, `IVF_FALT` will divide vectors to 128 groups. Now suppose `IVF_FLAT` divide insert datase

[2021-07-27 08:30] DragonDriver commented on #6713
I made a test that `nprobe` is set to 128 and everything is OK.

[2021-07-27 08:33] Bennu-Li opened #6836 "Build index Error: <BaseException: (code=1, message=get collection statistics resp is nil)>"
#### Steps/Code to reproduce:
 When I building ivf_sq8 index for the collection that has 1 billion vectors, the client throw an error:
<BaseException: (code=1, message=get collection statistics resp is nil)>

<img width="1596" alt="截屏2021-07-27 下午4 50 55" src="https://user-images.githubusercontent.com/53458891/127125469-af65ba68-465f-487e-a479-e9c041953e8b.png">

But the Milvus server is still bui

[2021-07-27 08:33] Bennu-Li commented on #6836
/assign @xiaocai2333

[2021-07-27 08:53] binbinlv commented on #6713
OK, verified and work as design. I will modify the test case, and increase the "nprobe" for search. Thanks for clarify.
@DragonDriver

[2021-07-27 08:53] #6713 closed

[2021-07-27 09:29] jingkl opened #6837 "Need to change Milvus' documentation"
Need to tell where to change milvus.yaml
The difference between dockers compose and minikube modifications
https://milvus.io/docs/v2.0.0/configuration_standalone-basic.md
![微信图片_20210727172616](https://user-images.githubusercontent.com/34296482/127130697-aa4a54ee-191a-4b3b-9a95-eae5559fd7bf.png)

[2021-07-27 09:38] binbinlv opened #6838 "Add output field wildcard support test cases for search"
#### Steps/Code to reproduce:

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-07-27 09:49] godchen0212 opened #6841 "Missing local file exist check"
#### What would you like to be added:
Check whether local file exists before download file from remote chunk manager.

#### Why is this needed:
Reduce overhead.

[2021-07-27 10:05] binbinlv commented on #6817
Same rpc error when running CI, so pasted here if it could be a help.

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-6839/1/pipeline/106

[2021-07-27 11:13] xiaocai2333 commented on #6817
Execution timeout caused this error. The timeout period is too short, I see timeout=5, try increasing it.

[2021-07-27 11:25] DragonDriver opened #6843 "Bug: proxy returns wrong distances for some metric_types, such as tanimoto, jaccard"
In order to reduce all search results from query nodes in Proxy, we should tag a score for every hit record in search result. Score is related with distance and in fact we only have distances now. However, score is not always positively related to distance. For example, `L2` distance and `Hamming` distance, larger distance between two vectors means that the two vectors are less similar. Proxy sort

[2021-07-27 11:25] DragonDriver commented on #6843
I will fix this soon.
/assign

[2021-07-27 11:32] DragonDriver commented on #6843
We need to add `distances` in `SearchResultData` and then fill the real distance.

[code]

[2021-07-27 11:53] binbinlv commented on #6817
I increased the timeout to 20s, then it indeed could avoid this error.

And discussed with yanliang, there are two points maybe needed to be fixed:

(1) this error occurs at different case for each CI or tests, then why sometimes it could return in 5s and sometimes not. It indicates system is unstable. Then it should have some bugs needed to be digged or somewhere could be improved.
If some indivi

[2021-07-27 20:13] MayetG commented on #6735
I have the same issue for cluster Milvus

[2021-07-28 01:51] xiaocai2333 commented on #6732
OK， I will fix it.

[2021-07-28 01:52] xiaocai2333 commented on #6817
I agree. We do need to improve the stability of the system.

[2021-07-28 02:17] del-zhenwu commented on #6771
https://argo-test.zilliz.cc/workflows/qa/benchmark-cluster-cron-1627416000?tab=workflow&nodeId=benchmark-cluster-cron-1627416000-1084910125&sidePanel=logs:benchmark-cluster-cron-1627416000-1084910125:main
set 600s load timeout
but return error in 1min

[2021-07-28 02:30] sunby opened #6846 "ci startup failed"
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-6803/7/pipeline

[2021-07-28 02:47] #6677 closed

[2021-07-28 03:34] xiaocai2333 commented on #6836
The datacoord crashed， please take a look. @sunby
/assign @sunby

[2021-07-28 03:49] Bennu-Li opened #6849 "load() error: <BaseException: (code=1, message=call query coordinator LoadCollection: rpc error: code = DeadlineExceeded desc = context deadline exceeded)>"
#### Steps/Code to reproduce:
After I insert 1 billion 128-dimensional vectors and create an index，calling utility.load() throws an error
![image](https://user-images.githubusercontent.com/53458891/127260366-f1137b8c-d608-472c-a42f-44f8d6322033.png)

[querynode-1.log](https://github.com/milvus-io/milvus/files/6890138/querynode-1.log)
[querynode-2.log](https://github.com/milvus-io/milvus/files/6890

[2021-07-28 03:50] Bennu-Li commented on #6849
/assign @bigsheeper

[2021-07-28 03:58] ss892714028 opened #6850 "After inserting data into Milvus Pymilvus hangs when calls search, num_entity."
#### Steps/Code to reproduce:
created 3 collections, ann_1m, ann_10m, ann_100m and inserted 1 million, 10 million and 100 million vectors respectively, 100k at a time. During inserting 100 million vectors into ann_100m collection, after 61.7 million vectors inserted, insert time cost becomes unstable and pymilvus throws the following error.
![image](https://user-images.githubusercontent.com/346356

[2021-07-28 05:55] yanliang567 commented on #6850
@ss892714028  what's the dim of vectors? what about call search or num_entities against ann_1m or 1nn_10m?  I am asking because if you inserted 100m vectors with 128d, the data size is almost 50G, which could exceed the memory you have.

[2021-07-28 05:55] yanliang567 commented on #6850
/assign @ss892714028

[2021-07-28 06:16] sunby commented on #6836
@Bennu-Li Can you provide the datanode log?

[2021-07-28 06:26] xiaocai2333 commented on #6787
@yanliang567  Can you provide the indexcoord log?

[2021-07-28 06:51] yanliang567 commented on #6787
need a while to re-setup an env, please hold on.

[2021-07-28 06:51] binbinlv commented on #6475
Running CI, create collection failed for exist... occurs, could you please have a look? Thanks @neza2017

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-6839/3/pipeline/121

[2021-07-28T06:40:45.085Z] reason: "Create collection failed: meta table add collection failed,error = collection collection_heR7rTb4 exist"

[2021-07-28T06:40:45.085Z]  (grpc_handler.py:3

[2021-07-28 06:57] xiaocai2333 commented on #6732
Working on it.

[2021-07-28 06:58] xiaocai2333 commented on #6787
Working on it.

[2021-07-28 06:59] DragonDriver opened #6853 "Release the memory of raw vectors after index was loaded"
#### What would you like to be added:

I want to release the memory of raw vectors after index was loaded. For some index type, such as `IVF_FLAT` and `NSG`, we also need to load raw vectors when load index file. After the load opeartion is done, we can release the memory of raw vectors.

#### Why is this needed:

Improve the performance of query nodes.

[2021-07-28 06:59] DragonDriver commented on #6853
I will fix this soon.
/assign

[2021-07-28 07:06] ThreadDao opened #6854 "Need to test proxy pod scale"
#### Is your feature request related to a problem? Please describe:
Need to test proxy pod expand and shrink

#### Describe the solution you'd like:

#### Describe alternatives you've considered:

#### Additional context:

[2021-07-28 07:07] del-zhenwu opened #6855 "Search params is not need with RESTFUL request if no index created"
#### Steps/Code to reproduce:
[code]

#### Expected result:

#### Actual results:
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): 1.1
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2): 1.1.2
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-07-28 07:10] godlockin opened #6857 "Can we involve a new api to get the center vector for each clusters?"
The center vector whether it was calculated by engine itself or not, it means a lot for our further usages. We need to do a lot of analysis on the vectors especially on the center one.

As @yhmo said in [Discussions](https://github.com/milvus-io/milvus/discussions/6673), this was even not a feature in current engine, so, I was wondering if this would be add into your plan then?

[2021-07-28 07:12] yhmo commented on #6855
Input empty params is ok:
"params": {}

[2021-07-28 07:23] XuanYang-cn opened #6858 "Memory leak in flush cache of DataNode"
The Cache struct lacks a remove function, classic mem leak scenario.

As DataNode keeps running, there will be more and more segmentID in the `Cache` struct, so we have to add a `Remove` function in `Cache`, and when the segment done flushing , this segmentID will be removed from the `Cache`

[2021-07-28 07:35] DragonDriver opened #6859 "Increase the MaxCallRecvMsgSize and MaxCallSendMsgSize of grpc client"
#### What would you like to be added:

I want to increase the MaxCallRecvMsgSize and MaxCallRecvMsgSize of grpc client of all components.

#### Why is this needed:

If the row_num of a collection is too big, then the body of response of some special interface may exceed the limit of grpc client (4MB). For example, `datapb.GetRecoveryInfoResponse` is too large because the number of segments is too

[2021-07-28 07:35] DragonDriver commented on #6859
I will fix this soon.
/assign

[2021-07-28 07:39] xige-16 commented on #6769
["DataCoord Client grpc error"] [error="rpc error: code = DeadlineExceeded desc = context deadline exceeded"], it seems the rootCoord was not connected， could you please provide the rootCoord's log?

[2021-07-28 08:13] yhmo commented on #6835
@sunshinepj
The description is not clear. What exception is thrown?

[2021-07-28 08:23] sp-ljw opened #6863 "InsertEntities process moves to a zombie state when the client requests the server"
When I tried using a c++ demo(the client) to request the milvus server, the Insert API  got stucked.
**the error like this:**
[code]
After " NEXT" , nothing present and the process got stucked.   only Ctrl+C to stop it.

**the normal result like this:**
[code]

Only difference between error and normal demo is ip address of these clients like error client in 10.200.10.200 and normal one in 172.21.1

[2021-07-28 09:01] #6854 closed

[2021-07-28 09:04] jingkl opened #6868 "Calling the release interface causes the Milvus service to hang"
Calling the release interface twice, with 10 million data in the collection, causes Milvus to hang the second time
![release](https://user-images.githubusercontent.com/34296482/127295428-be955003-55bb-4952-a4bb-8a96b50fa7c4.png)

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):v2.0.0-RC2
- Deployment mode(standalone or cluster):standalone
- SDK version(e.g. pymilvus v2.0.0rc2):pymil

[2021-07-28 09:19] #6583 closed

[2021-07-28 09:54] binbinlv opened #6872 "Error is reported when calculating distance between vectors from existed collection"
#### Steps/Code to reproduce:
[code]

#### Expected result:
distance calculated successfully

#### Actual results:
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): latest
- Deployment mode(standalone or cluster):standalone
- SDK version(e.g. pymilvus v2.0.0rc2):
Name: pymilvus
Version: 2.0.0rc3.dev6
Name: pymilvus-orm
Version: 2.0.0rc3.dev9

- OS(Ubuntu or CentOS):
- CPU/Mem

[2021-07-28 09:55] yanliang567 commented on #6787
this time indexnode did not crash, but indexcoord crashed. :(
[indexcoord.6787.after.log](https://github.com/milvus-io/milvus/files/6892089/indexcoord.6787.after.log)
[indexcoord.6787.previous.log](https://github.com/milvus-io/milvus/files/6892090/indexcoord.6787.previous.log)
[indexnode.6787.log](https://github.com/milvus-io/milvus/files/6892091/indexnode.6787.log)

[2021-07-28 09:57] yhmo commented on #6863
For the error demo, in the milvus server, the log path: /milvus/logs/xxx-info.log, does this line exist?
`[2021-07-28 17:30:48,394][INFO][SERVER][Insert][grpcpp_sync_ser] Request [12] Insert begin.`

[2021-07-28 10:14] yanliang567 opened #6873 "pymilvus-orm SDK client memory leak"
#### Steps/Code to reproduce:
1. collection1 = Collection(name=collection_name1, schema=schema)
2. collection1.insert(entities1)
3. collection1.num_entities
4. collection1.drop()
5. collection1.name

#### Expected result:
collection1.name in line 5 shall fail as the collection was dropped

#### Actual results:
it succeeds.

I think the reason is that the collection1 object in orm was not released.

[2021-07-28 11:35] #6838 closed

[2021-07-28 13:14] desharma12 opened #6876 "Data persist issue with external directory(volumes) instead of docker-container"
Hi,
I have setup the milvus by docker-compose(milvus cluster setup). milvus version is 2.0.0.rc1.
I have change the "etcd", "minio", "pulsar" path in docker-compose.yml file to insert the data in this directory instead of docker container. I created the volumes to store the data in the these directory.

Change the docker-compose.yml file, and add the volumes for etcd/minio/pulsar, like as:
1: for

[2021-07-29 02:31] xige-16 opened #6877 "Improve guidelines for test framework"
#### What would you like to be added:
1. the deployment environment
2. how to run cluster milvus
3.  LibreSSL SSL_connect: SSL_ERROR_SYSCALL in connection to github.com:443 when run ./e2e-k8s.sh
4. how to find the log paths?
#### Why is this needed:

[2021-07-29 02:31] xige-16 commented on #6877
/assign @jeffoverflow

[2021-07-29 02:36] yhmo commented on #6872
The calc_distance() depends on retrieve() to retrieve vectors data from disk/memory. Currently the retrieve() function cannot read vectors data from disk, so calc_distance() failed to calculate distance.

[2021-07-29 02:46] yanliang567 opened #6878 "collection.insert should return exception if timeout"
#### Steps/Code to reproduce:
1. try to insert data(e.g 10000 entities) into a collection with timeout 0.1s
   collection.insert(data, timeout=0.1)

#### Expected result:
return an exception with timeout msg

#### Actual results:
return success with an empty MutationFuture

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): master-20210728-23bffe3
- Deployment mode(standalone or clust

[2021-07-29 02:47] binbinlv commented on #6872
OK, I will disable tests for this part. And could you remind me when the function for vectors from collection works and then I will enable these test cases. And thanks for clarify. @yhmo

[2021-07-29 02:56] yanliang567 commented on #6817
Moving to rc2 backlog, as there is a workaround with more timeout

[2021-07-29 02:58] yanliang567 commented on #6877
@wangting0128 please help to update the guide https://github.com/milvus-io/milvus/tree/master/tests20/python_client acoordingly

[2021-07-29 03:21] yanliang567 commented on #6798
get off from rc3 due to no ETA for #6601

[2021-07-29 03:28] yanliang567 commented on #6809
this could be a dup to issue #6694, and it does not matter with image.all.pullPolicy=Always or not.

[2021-07-29 03:31] yanliang567 commented on #6727
get off from rc3 for improvement

[2021-07-29 03:32] yanliang567 commented on #6706
@godchen0212 is this ready for close?

[2021-07-29 03:32] yanliang567 commented on #6690
get off from rc3 for enhancement

[2021-07-29 03:35] yanliang567 commented on #6797
@scsven please specify what information do you want?

[2021-07-29 03:37] yanliang567 commented on #6732
let me know if you cannot catch the train rc3 @xiaocai2333

[2021-07-29 03:39] yanliang567 commented on #6688
move to backlog as it reproduces occasionally.

[2021-07-29 03:41] del-zhenwu opened #6879 "Add test case: insert/delete on default partition name"
#### What would you like to be added:

#### Why is this needed:

[2021-07-29 03:43] yanliang567 commented on #6661
@binbinlv could you please help to check whether it was fixed in latest build? Also please check if we need to add more testcases for this issue

[2021-07-29 03:46] xiaocai2333 commented on #6732
I have fixed it, but the CI is too difficult to pass 😂.

[2021-07-29 03:46] binbinlv commented on #6661
@yanliang567 OK，working on it.

[2021-07-29 03:49] yanliang567 commented on #6518
@del-zhenwu please list all the items we want to customize for Milvus, it could help dev to implement them more quickly

[2021-07-29 03:50] yanliang567 commented on #6507
I think this was fixed, @binbinlv please help to verify

[2021-07-29 03:51] yanliang567 commented on #6496
get off from rc3 for new features

[2021-07-29 03:52] binbinlv commented on #6507
@yanliang567 OK， will verify soon.

[2021-07-29 03:54] yanliang567 commented on #5654
get off from rc3 for new features

[2021-07-29 03:55] ThreadDao opened #6882 "The skip ci conditions lack restrictions on files"
#### Steps/Code to reproduce:
in  .github/mergify.yml
[code]

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-07-29 03:55] wangting0128 commented on #6877
@xige-16
Does this document solve your problem?
https://github.com/milvus-io/milvus/blob/master/tests20/python_client/README_CN.md

[2021-07-29 03:58] yanliang567 commented on #6352
@scsven any updates ? cc @ThreadDao

[2021-07-29 05:29] binbinlv commented on #6507
Run case "tests20/python_client/testcases/test_partition.py::TestPartitionOperations::test_partition_insert_maximum_size_data" for 20 times, and passed.

Verified, fixed.

milvus(master): 61786f7
Name: pymilvus
Version: 2.0.0rc3.dev6
Name: pymilvus-orm
Version: 2.0.0rc3.dev9

[2021-07-29 05:29] #6507 closed

[2021-07-29 06:07] yhmo commented on #6812
@genting
Could you provide more informations:
- Vector dimensions?
- Did you create index? If yes, what kind of index, what is the parameter(nlist, etc)
- How many vectors(nq) in the "[feat]"
- If you created IVF_FLAT index, what is the value of "nprobe"
- What is the value of the "TOP_K"

[2021-07-29 06:29] yanliang567 commented on #6591
seems like a long-term work, moving to backlog

[2021-07-29 06:30] genting commented on #6812
Some more detailed information is included in the attachment. Thanks Reply

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "milvus-io/milvus"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年7月29日(星期四) 下

[2021-07-29 06:30] yanliang567 commented on #6569
@binbinlv any chance to verify it before rc3

[2021-07-29 06:33] #6882 closed

[2021-07-29 06:36] yanliang567 commented on #6563
get off from rc3 due to
1. it is a performance issue
2. the performance decrease is expected, although it decreased too much.

[2021-07-29 06:40] yanliang567 commented on #6528
@bigsheeper any updates?

[2021-07-29 06:42] yanliang567 commented on #6514
@binbinlv shall we close this issue as #5858 was closed.

[2021-07-29 06:43] binbinlv commented on #6569
Yes, tt is not fixed yet.

milvus(master): 61786f7
Name: pymilvus
Version: 2.0.0rc3.dev6
Name: pymilvus-orm
Version: 2.0.0rc3.dev9

[2021-07-29 06:38:38 - ERROR - ci_test]: search_results_check: limit(topK) searched (1) is not equal with expected (2) (func_check.py:186)

FAILED test_search.py::TestCollectionSearch::test_search_binary_tanimoto_flat_index[2-8-True-True]

[2021-07-29 06:44] #6451 closed

[2021-07-29 06:46] yanliang567 commented on #6438
@DragonDriver any updates

[2021-07-29 06:49] genting commented on #6812
1：Vector dimensions  512
2 ："index_type": "IVF_SQ8", "metric_type": L2, "params": {"nlist": 16384}
3: 42272
5: TOP_K 50

[2021-07-29 06:50] yanliang567 commented on #6569
get off from rc3 as binary vector is not a common case

[2021-07-29 06:51] binbinlv commented on #6514
OK, I see the graceful time has been exposed through the milvus doc.

Close it.

[2021-07-29 06:51] #6514 closed

[2021-07-29 07:00] xige-16 commented on #6823
/assign @bigsheeper

[2021-07-29 07:06] xige-16 commented on #6374
same with #6797

[2021-07-29 07:08] xige-16 commented on #6797
/assign @bigsheeper

[2021-07-29 07:19] cydrain opened #6885 "Optimize search reduce logic"
#### What would you like to be added:
Optimize search reduce logic to improve code readability, reduce maintain effort.

#### Why is this needed:
Before optimization, there are 4 CGO interfaces and 3 C++ interfaces used for reduce.
[code]

After this optimization, reduce to 1 CGO interface and 1 C++ interface.
[code]

[2021-07-29 07:31] yanliang567 commented on #6849
standalone, trying to load a collection with 10M entities:

[2021/07/29 07:24:54.342 +00:00] [DEBUG] [segment_loader.go:228] ["load segment fields data"] [segmentID=426650412138627073] [fieldID=1] [paths="[by-dev/insert_log/426648886945513473/426648886945513474/426650412138627073/1/426650412623855618]\n"]
[2021/07/29 07:24:54.347 +00:00] [DEBUG] [impl.go:294] ["LoadCollection Done"] [error="call q

[2021-07-29 07:39] yanliang567 commented on #6849
then tried to load collection2 again, it returned the same error and the standalone container crashes. :(

[2021-07-29 07:45] sunshinepj commented on #6835
For the query of setting 20 concurrent number, the query time is abnormally.
thread_num  min_time_cost  average_time_cost  max_time_cost          QPS
0         1.0   5.538702e+00           7.441759      16.189337   134.376830
1         5.0   1.417971e+01          19.855976      27.750492   204.962128
2        20.0   9.999999e+09           0.002766       0.000000  2419.976921

[2021-07-29 07:55] xige-16 opened #6887 "Cache inMemory collection info in proxy"
#### What would you like to be added:
internal/proxy/task.go: 1406-1435

	// check if collection was already loaded into query node
	showResp, err := st.qc.ShowCollections(st.ctx, &querypb.ShowCollectionsRequest{
		Base: &commonpb.MsgBase{
			MsgType:   commonpb.MsgType_ShowCollections,
			MsgID:     st.Base.MsgID,
			Timestamp: st.Base.Timestamp,
			SourceID:  Params.ProxyID,
		},
		DbID: 0, // T

[2021-07-29 07:55] xige-16 commented on #6887
/assign @DragonDriver

[2021-07-29 07:59] xige-16 commented on #6877
I just went through the above problems following this document.

[2021-07-29 07:59] DragonDriver commented on #6887
OK, i will take some time to list all objects used in Proxy that need to be cached. Not only for loaded collection list, but also for some others. I will also share a design doc about how to refactor the cache in Proxy later.

[2021-07-29 08:03] yhmo commented on #6835
How many vectors in the collection "bk_1W"?

[2021-07-29 08:07] binbinlv commented on #6661
Assert still exists: insert 50000 entities.

milvus(master): 61786f7 [distributed]
Name: pymilvus
Version: 2.0.0rc3.dev6
Name: pymilvus-orm
Version: 2.0.0rc3.dev9

[2021-07-29 08:01:47 - ERROR - pymilvus.client.grpc_handler]: Error: <BaseException: (code=1, message=GetSegmentID failed: SegmentIDAllocator failRemainRequest unexpected error)> (grpc_handler.py:59)
[2021-07-29 08:01:47 - ERROR - ci_te

[2021-07-29 08:07] del-zhenwu opened #6888 "Remove vector in error msg returned by server/sdk"
#### Steps/Code to reproduce:

Do not return vectors in error msg.
[code]
#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster): standalone
- SDK version(e.g. pymilvus v2.0.0rc2): pymilvus: rc3-dev6
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context

[2021-07-29 08:16] Bennu-Li commented on #6769
it maybe duplicated with [#6849](https://github.com/milvus-io/milvus/issues/6849) , and it was solved.

[2021-07-29 08:16] #6769 closed

[2021-07-29 08:16] yhmo commented on #6835
I think it is because the Repeat_time = 10 is less than thread count 20.
You can set the Repeat_time = 100 and try again.

[2021-07-29 08:31] xige-16 commented on #6747
/assign @czs007

[2021-07-29 08:31] sunshinepj commented on #6835
Yes, you are right! The problem has solved.  Thanks!

[2021-07-29 08:33] #6835 closed

[2021-07-29 08:44] del-zhenwu opened #6889 "No `__enter__` in self._connection() used in query function."
#### Steps/Code to reproduce:

[code]
#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2): pymilvus
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-07-29 08:57] LocoRichard commented on #6837
Thank you @jingkl . It's well received, and I am working on it. A kind reminder is that please file doc issues of milvus.io in our milvus-io/milvus-docs repo. Thank you again.

[2021-07-29 09:23] lsgrep commented on #4812
Hi @yhmo ,

Running steps 1~5,  would not change collection A or B.  We just updated the alias from `Z -> A` to `Z -> B`.

We are trying to solve the problem that `Collection Rename` achieves, but without actually renaming the collection. Maybe it is appropriate to call this `MEP 10 -- Support Collection Alias`.

The reason we are not considering implementing physical collection rename are twofold

[2021-07-29 09:32] yhmo commented on #6648
indexFileSize=2048MB
cache_size=40GB

- In milvus 1.x, cache is LRU strategy,  it doesn't evict memory block until the cache is almost full.
- Cache is only work for search(), hold data required by search request.
- If index is specified, milvus will automatically build index for segments which size larger than index_file_size.
- Build index also cost memory, but it is not counted into the cache_s

[2021-07-29 09:38] LocoRichard commented on #6837
issue fixed. Although I can't close it.

[2021-07-29 09:39] yhmo commented on #6648
So, continually data inserted and query, the cache will be fulled, occupy 40GB memory.
And, milvus continually merge segment with insert data, the merge action also cost about 2GB memory(since the index_file_size=2GB).
And, background build index thread is building index, it also occupy memory, may equal to a segment size, 2GB.
Then, the peak of memory cost by milvus core could be 40+2+2=44GB. Som

[2021-07-29 09:41] #6837 closed

[2021-07-29 09:41] lajiyuan commented on #6648
Thank you very much for your reply, I get it.

[2021-07-29 09:41] #6648 closed

[2021-07-29 09:50] xiaocai2333 commented on #6787
The bug of indexcoord crashed has been fixed, please retest it. @yanliang567

[2021-07-29 09:52] yanliang567 commented on #6787
not reproduced on master-20210728-23bffe3
close

[2021-07-29 09:52] #6787 closed

[2021-07-29 09:55] ss892714028 commented on #6850
This is caused by insufficient memory, I am closing this issue. :)

[2021-07-29 09:55] #6850 closed

[2021-07-29 10:02] wangting0128 commented on #6877
Okay, can this issue be closed?

[2021-07-29 10:02] Bennu-Li commented on #6878
/assign @Bennu-Li

[2021-07-29 10:02] Bennu-Li commented on #6878
working on it.

[2021-07-29 10:07] #6879 closed

[2021-07-29 10:10] DragonDriver commented on #6438
This is not a bug, it's due to the max message size limit of pulsar. We will increase the throughput of search in next version by changing the search result mechnism in next version. When the milvus side is completed, I will remove the limit in sdk.

/assign @xige-16

[2021-07-29 10:25] claireyuw opened #6890 "Milvus banner down in README.md and README_CN.md"
#### Steps/Code to reproduce:

#### Expected result:
Image path fixed to properly display the banner.

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-07-29 10:25] claireyuw commented on #6890
/assign @LocoRichard

[2021-07-29 10:39] bigsheeper commented on #6374
Did you `create_index`? Why it occurs error on `AppendIndex` operation in query node? @del-zhenwu

[2021-07-29 10:46] del-zhenwu commented on #6374
[2021-07-08 06:05:24,227] [   DEBUG] - Milvus create_index run in 2940.84s (milvus_benchmark.client:49)

[2021-07-29 10:53] ss892714028 opened #6892 "Help wanted. How to connect Minikube standalone Milvus remotely?"
OS: Ubuntu
Milvus: Minikube Milvus 2.0 rc2
cpu/memory: 12c/ 50g

How to connect to standalone Milvus started with Minikube other than 127.0.0.1?

I have tried changing the kubernetes service to LoadBalancer, but no external UP shows up on the LoadBalancer pod.
I also tried change the kubernetes service to NodePort, however, I cannot connect using the NodePort using the given IP and Port given by t

[2021-07-29 11:10] #6890 closed

[2021-07-29 11:15] #6625 closed

[2021-07-29 11:17] XuanYang-cn commented on #6567
It's fixed on #6551.

[2021-07-29 11:29] XuanYang-cn commented on #6374
The crash problem in DataNode has already been fixed on f0a68704e27d3d31028fced8186a3ffff57ce626

[2021-07-29 11:43] sunby commented on #6791
This issue will be fixed in rc3

[2021-07-29 11:43] #6791 closed

[2021-07-29 12:11] #6831 closed

[2021-07-29 13:19] HuixiangLin commented on #6315
@yhmo Late reply. I create a clean container, install cuda(version 11.1), and build for testing. When i insert the vectors to milvus server, it fails again. The Error as follows.

- The error from the client:

![1](https://user-images.githubusercontent.com/17846531/127497215-34d1b4ad-09bd-48e2-b1e2-b078276dfbcf.png)

- The Error from the server.

![2](https://user-images.githubusercontent.com/1784

[2021-07-30 00:07] fhaltmayer commented on #6690
Can I ask why we are deprioritizing this? It seems like a big issue that a lot of people were having with 1.0.0 was being limited to only one write node when dealing with their large dataset, and with 2.0.0 we've only increased it to two..

[2021-07-30 01:31] yanliang567 commented on #6690
rc3 is going to release in a few days, and we are not ready for this enhancement yet. @fhaltmayer
@xiaofan-luan any more comments?

[2021-07-30 02:23] XuanYang-cn commented on #6889
This is a bug, if we want to use `with function()...`, the `function` should implement `__enter__()` and `__exit__()` .

[2021-07-30 02:27] XuanYang-cn commented on #6889
Maybe change to
[code]

Or, if insisted on `with` to close the Connection:
[code]

[2021-07-30 02:29] XuanYang-cn commented on #6889
/assign

[2021-07-30 02:33] XuanYang-cn opened #6895 "TypeError: object of type 'NoneType' has no len()"
#### Steps/Code to reproduce:

#### Expected result:

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-6893/1/pipeline/76/

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-6551/33/pipeline
#### Actual results:
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- S

[2021-07-30 02:44] jeffoverflow commented on #6892
/assign @jeffoverflow

[2021-07-30 02:44] bigsheeper opened #6896 "usage of log level in query node is incorrect"
#### What would you like to be added:
improve log in query node

#### Why is this needed:
usage of log level in query node is incorrect

[2021-07-30 02:45] del-zhenwu commented on #6374
load sift50m on standalone server still failed.
https://argo-test.zilliz.cc/workflows/qa/benchmark-cron-1627581600?tab=workflow&nodeId=benchmark-cron-1627581600-264906902&sidePanel=logs:benchmark-cron-1627581600-264906902:main
[code]

[2021-07-30 02:55] cydrain commented on #6469
working on it

[2021-07-30 02:55] DragonDriver commented on #6731
i am working on this.
/assign

[2021-07-30 02:55] XuanYang-cn commented on #6374
/assign

This's maybe caused by `timeout` not working on `pymilvus.load_collection()`, I'm testing on it now.

[2021-07-30 02:55] #6401 closed

[2021-07-30 03:03] del-zhenwu commented on #6374
[code]

[2021-07-30 03:06] jeffoverflow opened #6898 "Improve e2e test logs"
#### What would you like to be added:
Ignore error logs that do not affect the workflow.

#### Why is this needed:
These logs can't be useful in helping to identify and fix issues.

[2021-07-30 03:16] #6877 closed

[2021-07-30 03:20] del-zhenwu commented on #6323
will test again

[2021-07-30 03:23] XuanYang-cn commented on #6374
/assign @bigsheeper
/unassign @czs007

[2021-07-30 03:38] #6323 closed

[2021-07-30 03:41] #6898 closed

[2021-07-30 03:55] del-zhenwu commented on #6823
[code]

[2021-07-30 04:37] Wenorm opened #6900 "Insert data error"
what is [client.go:134] ["DataCoord Client grpc error"] [error="rpc error: code = DeadlineExceeded desc = context deadline exceeded"] meaning?

[2021-07-30 06:02] JackLCL opened #6901 "Where is the restful api doc in milvus 1.1.1 website?"
link: https://milvus.io/cn/docs/v1.1.1/home

![image](https://user-images.githubusercontent.com/53512883/127608054-6bc7063f-a0ad-4363-8dff-0890cac9b3f5.png)

[2021-07-30 06:08] shanghaikid commented on #6901
The doc should link to https://github.com/milvus-io/milvus/tree/1.1/core/src/server/web_impl

[2021-07-30 06:20] XuanYang-cn commented on #6374
Timeout problem's been fixed on `pymilvus-2.0.0rc3.dev8` @del-zhenwu

/unassign
/assign @del-zhenwu

[2021-07-30 06:23] yhmo commented on #6900
The error is similar to #6849

@Wenorm
Could you add more information? version, standalone or cluster, steps, etc.

[2021-07-30 06:56] Wenorm commented on #6900
i insert 768 dim vector to milvus, and get this error：
[2021/07/30 04:33:03.245 +00:00] [DEBUG] [client.go:134] ["DataCoord Client grpc error"] [error="rpc error: code = DeadlineExceeded desc = context deadline exceeded"]
[2021/07/30 04:33:12.344 +00:00] [DEBUG] [impl.go:1213] ["Insert Done"] [error="GetSegmentID failed: SegmentIDAllocator failRemainRequest err:syncSegmentID Failed:rpc error: code

[2021-07-30 06:59] binbinlv opened #6902 "Distance is calculated wrong using calc_distance interface when metric type is "IP""
#### Steps/Code to reproduce:
[code]

results:
[code]

#### Expected result:
for L2, sqrt=false:

for vectors_l[0] and vectors_r[0]: it is 0.5056877409702799
which is not equal with 0.2557201385498047.

#### Actual results:
[[0.2557201385498047, 0.20111922919750214, 0.13177073001861572, 0.4435957670211792, 0.5783697366714478], [0.3167160153388977, 0.45764774084091187, 0.23657941818237305, 0.032624

[2021-07-30 07:17] codenoid opened #6903 "(crash) unknown field name "source_nodeIDs""
#### Steps/Code to reproduce:

I don't know

#### Environment:
- Milvus version milvusdb/milvus:v2.0.0-rc2-20210712-a8e5fd2
- Deployment mode(standalone or cluster): standalone
- SDK version(e.g. pymilvus v2.0.0rc2): pymilvus
- OS(Ubuntu or CentOS): Ubuntu 20.04
- CPU/Memory: 8C/32GB
- GPU: Intel Iris Plus
- Others: ok

#### Configuration file:

default

#### Additional context:

even after I drop

[2021-07-30 07:23] jingkl opened #6904 "Milvus official website hybrid search website link not working"
https://milvus.io/bootcamp
![ali](https://user-images.githubusercontent.com/34296482/127616353-e9e6cfff-3b70-4475-8e62-7009cc6d3b90.png)

We already support scalar queries in Milvus 2.0, can we take down the tutorial now?

[2021-07-30 07:26] shanghaikid commented on #6904
you can ask @shiyu22 to update this part.

[2021-07-30 07:45] codenoid commented on #6903
1. Start the server
2. pymilvus insert
3. Do *literally* nothing
4. Milvus exited

![Screenshot from 2021-07-30 14-44-36](https://user-images.githubusercontent.com/14269809/127619290-ad68b9c8-09ce-4de0-a026-1e7525bf2fe3.png)

[2021-07-30 07:50] yhmo commented on #6902
By default "sqrt" is False.
The np.linalg.norm() sqrt is True.
You can verify it by the following code:

[code]

Set the "sqrt"= True, the results are equal.
Set the "sqrt"=False, the results are not equal.

[2021-07-30 08:02] binbinlv commented on #6902
OK, thanks very much. @yhmo

And retry, work as design, so close it.

[2021-07-30 08:04] shengjun1985 commented on #6722
https://zhuanlan.zhihu.com/p/342965457

[2021-07-30 08:43] cydrain commented on #6569
fixed by #6905

[2021-07-30 09:20] ThreadDao commented on #6660
I tried three times and i didn't get this error again. I will return to this issue after issue #6878 is fixed. So close it first!

[2021-07-30 09:20] #6660 closed

[2021-07-30 09:31] cydrain commented on #6594
working on it

[2021-07-30 09:32] sp-ljw commented on #6863
The line is not exist.It ends with" Request [82005] ShowPartions end" without Insert info

[2021-07-30 09:34] binbinlv commented on #6902
When specifying metric type as "IP", the distance calculated is wrong (which is the same with that the default metric type "L2"), so maybe the metric type not works.

from pymilvus_orm import connections
from pymilvus_orm import utility
import random
connections.connect()
vectors_l = [[0.2652013845482013, 0.7569466587033686]]
vectors_r = [[0.05753491542962896, 0.7358918451495691]]
print(vectors_l)

[2021-07-30 09:45] ss892714028 opened #6906 "standalone minikube milvus 2.0 rc2 load stuck"
#### Steps/Code to reproduce:
There are 10m 128-dimensional data in the collection. The python client reported an error when building the sq8 index, but calling get_index_progress showed that the 10m data has been indexed. After calling load on the same collection, pymilvus stuck for a long time, and calling get_loading_progress at the same time showed that only 9,000,175 vectors were loaded.
![im

[2021-07-30 09:49] Bennu-Li opened #6907 "Customize collection channel via SDK"
#### Is your feature request related to a problem? Please describe:
I found that insert performance does not increase with the number of datanodes.

#### Describe the solution you'd like:

[2021-07-30 09:54] del-zhenwu commented on #6907
The numbers of proxy node does affect on the insert performance, instead of the data node

[2021-07-30 10:02] binbinlv commented on #6902
Wrong use of parameter name, close it.

[2021-07-30 10:02] #6902 closed

[2021-07-30 10:06] yhmo commented on #6863
This line is not exist, means the server didn't receive the insert() rpc call. It is weird.

Could you test with the steps:
1. run the c++ demo, the process got stucked after "NEXT"
2. Ctrl+C to stop it
3. don't stop the server, run the c++ demo again

What happens?

[2021-07-30 11:19] sp-ljw commented on #6863
Still got stucked. And the log also just record the "ShowPartions....". Only the insert operation will happen

[2021-07-30 15:56] codenoid commented on #6903
It's working again after I drop all container, erase any cache, and move (root) working dir

[2021-07-31 02:47] #6896 closed

[2021-07-31 03:07] yan-rui commented on #6547
在测试环境跑了一个多星期，没有崩溃，因为cpu核数没有限制
在生产环境还在继续崩溃，我看好像是文件死锁

grpc链接卡死后，还能继续接受请求，但无法返回请求，一直在报  File reference information
[2021-07-27 10:03:42,115][DEBUG][SERVER][OnPostRecvInitialMetaData][grpcpp_sync_ser] milvus generate request_id: 70463829
[2021-07-27 10:03:42,262][DEBUG][ENGINE][PrintInfo][metric_thread] File reference information:
[2021-07-27 10:03:42,262][DEBUG][ENGINE][PrintInfo][metric_thread]

[2021-07-31 03:18] xige-16 commented on #6903
/assign

[2021-07-31 03:26] yan-rui opened #6911 "Search in sub-set specified by given id array"
在推荐场景，有一种非常普遍的情况，需要在指定的集合中搜索topk，而不是在全集中搜索topk

例1:
在社交推荐中，当推荐系统（以下简称RS）给一个user推荐他可能愿意交流的其他user时，要求其他user必须是在线状态。线上一般会维护一个当前在线用户的列表。当RS向MIlvus请求时，把在线的这部分user ID一起放入请求中(或者其他方式)。MIlvus在搜索topk的user时，只在请求中包含的这部分user ID中搜索。

例2:
更加普遍的情况，MIlvus一般用在召回阶段，往往在filter之后。所以在召回时，需要指定哪些 ID 是需要过滤的，或者指定只在过滤后的小collection中搜索。

需求如下：
searchInIdSet(collection_name, id, idSet)
searchInVectorSet(collection_name, vector,

[2021-07-31 03:27] yanliang567 commented on #6907
data node affects the performance of flush()

[2021-07-31 03:27] yan-rui commented on #6151
#6911

[2021-07-31 03:27] yanliang567 commented on #6907
@Bennu-Li  so what's your reference of this ticket?

[2021-07-31 03:32] yanliang567 commented on #6895
the root cause could be sdk return null instead of an error, #6878

[2021-07-31 03:38] czs007 commented on #6903
It is because of the wrong use of the proto interface. We are fixing this problem.
@codenoid Thank you for your feedback.

[2021-07-31 04:16] del-zhenwu opened #6912 "Client get no response when continually inserting with batch size 10 entities"
#### Steps/Code to reproduce:
1. create collection
2. insert 10 entities per request, the dataset is sift-1m.
3. insert get no response after 337970 entities inserted
no flush called.

test yaml:
[code]
[code]
logs:

https://kibana-dev.zilliz.cc/app/discover#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'2021-07-31T03:36:19.537Z',to:'2021-07-31T03:37:42.915Z'))&_a=(columns:!(log)

[2021-07-31 05:38] cydrain commented on #6594
fix on pymilvus
https://github.com/milvus-io/pymilvus/pull/623

fix on milvus

[2021-07-31 07:24] DragonDriver opened #6915 "[Doc] Add proxy design doc"
#### What would you like to be added:

I want to share the design doc of proxy.

#### Why is this needed:

Let more users and developers to know Milvus in detail.

[2021-07-31 07:24] DragonDriver commented on #6915
/assign

[2021-07-31 07:30] cydrain commented on #6661
test in local machine using master branch, it pass

[2021-07-31 08:51] xiaocai2333 opened #6919 "[Doc] Add index desgin doc"
#### What would you like to be added:

Share index desgin for Milvus users.

#### Why is this needed:

Share index desgin for Milvus users.

[2021-07-31 08:51] xiaocai2333 commented on #6919
/assign

[2021-07-31 09:04] binbinlv commented on #6661
It could not be steadily reproduced. After insert many times, it is reproduced.

milvus(master): 7307332
Name: pymilvus
Version: 2.0.0rc3.dev7
Name: pymilvus-orm
Version: 2.0.0rc3.dev9

logs:
[log_6661.tar.zip](https://github.com/milvus-io/milvus/files/6910929/log_6661.tar.zip)

Results:
[2021-07-31 08:54:57,791 - INFO - ci_test]: inserting (test_e2e.py:30)
[2021-07-31 08:55:04,671 - ERROR - ci_te

[2021-07-31 10:09] binbinlv opened #6921 "Assert 'BaseException' object has no attribute 'code' when creating index with invalid parameters"
#### Steps/Code to reproduce:

[code]

#### Expected result:
Only error message for invalid index parameters, no other asserts

#### Actual results:
[code]

#### Environment:
- Milvus version(): 7307332
- Deployment mode(standalone or cluster): standalone
- SDK version(e.g. pymilvus v2.0.0rc2):
Name: pymilvus
Version: 2.0.0rc3.dev12
Name: pymilvus-orm
Version: 2.0.0rc3.dev10

- OS(Ubuntu or CentOS

[2021-07-31 10:12] binbinlv commented on #6732
The error message has been added, but new assert occurs. So close this issue, open another issue for this new assert: #6921

[2021-07-31 10:12] #6732 closed

[2021-07-31 10:34] DragonDriver opened #6923 "Update orm version"
#### What would you like to be added:

I want to update the orm version to 2.0.0rc3.dev11.

#### Why is this needed:

Fix some bugs.

[2021-07-31 11:31] #6923 closed

[2021-08-01 02:17] yanliang567 commented on #6921
add critical label for blocking ci

[2021-08-01 08:49] #6921 closed

[2021-08-01 11:47] czs007 opened #6933 "sessionutil should revoke lease key when to stop"
session util should revoke lease key when it's going to stop.

[2021-08-02 01:39] xiaocai2333 commented on #6906
/assign
/working on it

[2021-08-02 02:12] shiyu22 opened #6936 "The Bootcamp link is wrong."
The Bootcamp link in [milvus-io/milvus](https://github.com/milvus-io/milvus) is wrong with 404 not found. And the correct link is https://github.com/milvus-io/bootcamp.

[2021-08-02 02:18] del-zhenwu opened #6937 "Syntax error in pymilvus"
#### Steps/Code to reproduce:

[code]
#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-08-02 02:25] #6469 closed

[2021-08-02 02:27] XuanYang-cn commented on #6937
This seemed already to be fixed on https://github.com/milvus-io/pymilvus/pull/626

It's pymilvus-2.0.0rc3.dev15, Please check your version and see if this's a new bug or a fixed bug. @del-zhenwu

[2021-08-02 02:31] #6755 closed

[2021-08-02 02:40] LocoRichard opened #6938 "Jenkins badge down in README.md and README_CN.md"
#### Is your feature request related to a problem? Please describe:

#### Describe the solution you'd like:
fix the badge

#### Describe alternatives you've considered:

#### Additional context:

[2021-08-02 02:41] LocoRichard commented on #6938
/assign @jeffoverflow

[2021-08-02 02:47] DragonDriver commented on #6887
Maybe in-memory collection list is not appropariate to be cached. When there are two or more proxy in system, any `load` or `release` operation will lead the inconsistency of cache. So we should invalidate the cache every time users call `load` or `release`, this will also be a big cost. If the frequency of search is much bigger than the frequency of `load` of `release`, caching in-memory collecti

[2021-08-02 02:53] yhmo commented on #6911
We will provide a new api named "calc_distance()", #5443. Can this api meet your requirement?
The definition of the new api:
def calc_distance(self, vectors_left, vectors_right, params=None, timeout=None, **kwargs):
"""
        Calculate distance between two vector arrays.

        :param vectors_left: The vectors on the left of operator.
        :type  vectors_left: dict
        `{"ids": [1, 2, 3

[2021-08-02 02:53] cydrain opened #6940 "Build fail with error cannot find -l:librocksdb.a"
#### Steps/Code to reproduce:
[code]
1. clone Milvus master branch
2. make all

#### Expected result:
build pass

#### Actual results:
[code]

[2021-08-02 02:56] XuanYang-cn commented on #6574
But because of the `wg.Wait()`, we'll still have to call `go Start()`. @xige-16

[2021-08-02 03:02] del-zhenwu opened #6941 "The result of count collection is wrong after flush"
#### Steps/Code to reproduce:
tes yaml:
[code]

[code]

logs:
https://kibana-dev.zilliz.cc/app/discover#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'2021-08-01T20:00:00.000Z',to:'2021-08-02T03:00:00.000Z'))&_a=(columns:!(log),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:ad1e1c50-c9d9-11eb-9e1a-b3dcad9693fd,key:kubernetes.pod_name,negate:!f,params:!(benc

[2021-08-02 03:05] scsven commented on #6594
/unassign

[2021-08-02 03:09] ThreadDao commented on #6594
/assign @ThreadDao

[2021-08-02 03:22] xiaofan-luan commented on #6911
@yan-rui sorry, please update your issue in English. This may help other people in the community

[2021-08-02 03:40] yan-rui commented on #6911
That's great !
When the api will be release ?

[2021-08-02 03:57] bigsheeper commented on #6849
Did you call `flush` after inserting into collections?

[2021-08-02 04:31] cydrain commented on #6661
current version is like this:
pymilvus              2.0.0rc3.dev15
pymilvus-orm          2.0.0rc3.dev13

why test using so old pymilvus and pymilvus-orm ?

[2021-08-02 04:42] cydrain commented on #6661
Can only find one ERROR message in all log files, seems ETCD breaks.
[code]

[2021-08-02 05:08] del-zhenwu commented on #6607
https://argo-test.zilliz.cc/workflows/qa/benchmark-cluster-cron-1627848000?tab=workflow&nodeId=benchmark-cluster-cron-1627848000-1236554299&sidePanel=logs:benchmark-cluster-cron-1627848000-1236554299:main
logs:
https://kibana-dev.zilliz.cc/app/discover#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'2021-08-01T21:43:01.374Z',to:'2021-08-01T22:30:00.000Z'))&_a=(columns:!(log),filte

[2021-08-02 05:50] del-zhenwu commented on #6941
sometimes it's correct:
[code]

[2021-08-02 05:57] yanliang567 commented on #6941
@czs007  I believe you have fixed a similar issue a few days ago, could you please check it again?

[2021-08-02 06:01] yanliang567 commented on #6895
verified this was fixed in orm rc3dev15

[2021-08-02 06:01] #6895 closed

[2021-08-02 06:12] del-zhenwu opened #6942 "Client get no response when inserting deployed with cluster mode"
#### Steps/Code to reproduce:
After 3800000 entities inserted, client get no response any more.
test yaml:
[code]
logs:

https://kibana-dev.zilliz.cc/app/discover#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'2021-08-02T05:22:13.886Z',to:'2021-08-02T06:00:00.000Z'))&_a=(columns:!(log),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:ad1e1c50-c9d9-11eb-9e1a-b

[2021-08-02 06:20] DragonDriver commented on #6731
For `HNSW`, parameter `ef` is required when searching. See [HNSW in milvus](https://milvus.io/docs/index.md#HNSW).
/assign @binbinlv

[2021-08-02 06:35] sp-ljw commented on #6863
By using tcpdump between demo and  server, I find that  a larger tcp message( with 10*256 vectors) will make the server host answer "【TCP Window Update】" and then the demo host makes continuous retry ASKs"  [TCP Retransmission] ".
I try a small tcp message( with 10*5 vectors)  and then the problem is not existed.

[2021-08-02 06:36] congqixia opened #6943 "Minio goroutine leaks"
The `MinIOKV` `GetObject` method does not close the object client from client which will cause goroutine leaking per call.

[2021-08-02 06:58] bigsheeper commented on #6574
maybe you could use context with deadline in this unittest.

[2021-08-02 07:24] XuanYang-cn commented on #6574
This unittest is just the minimum way to reproduce this bug. The real problem occurs when flowgraph `close()`. because flowgraph `start()` and `close()` are in different goroutines, so if `close()` immediately after `start()` of a flowgraph, this race will be triggered in more probability.

[2021-08-02 07:24] XuanYang-cn commented on #6574
This unit test is not even in the code.

[2021-08-02 07:28] bigsheeper commented on #6574
well, i see, i'll fix it immediately

[2021-08-02 07:30] XuanYang-cn commented on #6574
Using `waitgroup` inside goroutine will trigger a data race, this's the main problem.

Ref: https://github.com/golang/go/issues/23842#issuecomment-365878004

[2021-08-02 07:34] bigsheeper commented on #6574
I'm planning to move msgStream's closing to `case ctx.Done` in node's `start`, how do you think

[2021-08-02 07:58] bigsheeper commented on #6849
`10M` means 10 MB data or 10 million rows of data? I insert more than 10MB data, and could not reproduce this issue. Here's my test script:
[code]

[2021-08-02 08:12] DragonDriver commented on #6731
For `RHNSW_PQ`, `dim` here is too low.

I made a test that changes the search params to below:

[code]

and then everything is ok.

[2021-08-02 08:41] cydrain opened #6948 "test_search_load_flush_load fail"
#### Steps/Code to reproduce:
[code]

#### Expected result:
test pass

#### Actual results:
[code]

#### Environment:
[code]

[2021-08-02 08:43] cydrain commented on #6948
passed logs:
[code]

failed logs:
[code]

[2021-08-02 08:50] DragonDriver opened #6949 "A small bug when checking index parameters of RHNSWPQ"
A small bug when checking index parameters of RHNSWPQ:

[code]

we should check if `IVFPQConfAdapter::CheckCPUPQParams` returns false.

[2021-08-02 09:00] del-zhenwu commented on #6374
problem still existed.
https://argo-test.zilliz.cc/workflows/qa/benchmark-v492m?tab=workflow&nodeId=benchmark-v492m-2333113802&sidePanel=logs:benchmark-v492m-2333113802:main
[code]

[2021-08-02 09:02] XuanYang-cn commented on #6374
/assign

[2021-08-02 09:03] DragonDriver commented on #6731
Index paramters check of RHNSWPQ will be fixed by #6950

[2021-08-02 09:38] yhmo commented on #6911
It will be available in RC3, released in this week.

[2021-08-02 09:42] JackLCL opened #6951 "Some thoughts about Milvus Roadmap"
1. Community users put forward a lot of requirements on milvus, there needs to be a public place(such as milvus website, github) to see what requirements are currently available, which requirements have entered the roadmap, which have not entered. This should be dynamically updated;
2. For each requirement, regardless of size, it is best to be reflected in the roadmap, and it is best to give suppo

[2021-08-02 10:14] bigsheeper commented on #6948
It‘s not a bug. `querynode.gracefulTime` in milvus.yaml is default 1000ms, it means that there is 1000ms delay in data visibility. To fix it, there are 3 options:
1. modify the `querynode.gracefulTime` to 0ms;
2. call `flush` before query;
3. do not check the length of hits.

[2021-08-02 10:18] bigsheeper commented on #6948
/assign @cydrain

[2021-08-02 10:21] xiaofan-luan opened #6952 "Errors from Minio list Objects is not handled gracefully"
#### Steps/Code to reproduce:
![image](https://user-images.githubusercontent.com/83447078/127845920-08324c80-f381-4b22-8a45-a189a7449159.png)

#### Expected result:
if list failed, errors should be thrown out when loadWithPrefix or other similar call is called.
However, we don't handle err for listObjects LoadWithPrefix anywhere.

#### Resons
The key is why this becomes a issue is the design of mi

[2021-08-02 10:29] xiaofan-luan opened #6953 "Err handling path should not left orphan files"
#### Steps/Code to reproduce:
![image](https://user-images.githubusercontent.com/83447078/127846715-d316879b-4d26-4c38-bd59-25356c247e98.png)

#### Expected result:
if multi save crashed, orphan files should be cleaned.

#### Actual results:
clean may fail because Minio state is  strugging. remove command may fail, and the orphan files are left for ever.

#### Solution:
orphan files should be remo

[2021-08-02 10:47] cydrain commented on #6948
@binbinlv please update your testcase

[2021-08-02 11:10] yanliang567 opened #6954 "Response time of Flush, Search and Query increased 10+ times if there are hundreds of collections in a Milvus cluster"
#### Steps/Code to reproduce:
1. deploy a Milvus with cluster mode
2. run  pytest testcases/test_e2e.py --host x.x.x.x in /milvus/tests20/python_client
3. check the test log: every request responses in ~3s:
[2021-08-02 17:52:24,151 - DEBUG - ci_test]: assert create: 0:00:01.131757 (test_e2e.py:23)
[2021-08-02 17:52:24,885 - DEBUG - ci_test]: assert insert: 0:00:00.695129 (test_e2e.py:31)
[2021-08-

[2021-08-02 11:18] XuanYang-cn opened #6955 "Standalone init tso crashed"
#### Steps/Code to reproduce:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-6950/2/pipeline/72

#### Expected result:

#### Actual results:
[code]

[2021-08-02 11:53] sunby opened #6956 ""took too long to execute" always in etcd logs"
![image](https://user-images.githubusercontent.com/9817127/127857712-d91edfe3-7bf1-4aa6-abed-70c058bcf23f.png)

Etcd request took too long time to execute.
We try to allocate more cpu resources to etcd pod.

[2021-08-02 14:39] #6370 closed

[2021-08-02 21:15] filip-halt commented on #6753
I am running into the same issue, for me it occurred when inserting and indexing.

[2021-08-03 01:34] yanliang567 opened #6960 "Need to add more timeout in ci tests"
#### Expected result:
currently every api request in sdk has 5s timeout, which is sometimes not enough, which causes ci not stable.
so, I plan to
1. add default timeout to 20s, which i believe is enough for 99% scenarios
2. add more timeout in specific tests, which expected more timeout by big data size

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deploy

[2021-08-03 01:36] #6943 closed

[2021-08-03 01:47] xige-16 commented on #6828
I failed to get the full log info.

[2021-08-03 01:56] yhmo commented on #6951
This is a public page to track milvus progress:
https://wiki.lfaidata.foundation/display/MIL/Milvus+2.0+Roadmap+and+Time+schedule

[2021-08-03 01:58] xige-16 commented on #6823
The reason was that queryCoord failed to load collection, but the error info was not returned to sdk.
#6935 #6908 will fix the issue.

[2021-08-03 01:59] #6515 closed

[2021-08-03 01:59] #6552 closed

[2021-08-03 01:59] #6567 closed

[2021-08-03 02:03] del-zhenwu commented on #6828
https://podlog-dev.zilliz.cc/pod-logs?pod-name=benchmark-cron-6lf5t-3-milvus-standalone-5554c65c4-8nrrz&started-at=2021-07-26T00:00:00

[2021-08-03 02:08] xige-16 commented on #6797
querynode failed to append index lead to load collection hang. please add more log info to debug the operation of append index. @fishpenguin  @godchen0212

[2021-08-03 02:08] xige-16 commented on #6797
/assign @fishpenguin
/assign @godchen0212

[2021-08-03 02:14] yanliang567 commented on #6937
verify fix on 2.0.0rc3.dev15

[2021-08-03 02:14] #6937 closed

[2021-08-03 02:14] binbinlv commented on #6661
It is not very old，the latest version was produced at weekends which I have not tested it yet.

But I could have a try at latest version today to see if could reproduce this issue which may be a help for analyze the issue.

[2021-08-03 02:18] yanliang567 commented on #6726
@xige-16 #6370 was closed, so any updates for this issue?

[2021-08-03 02:25] #6949 closed

[2021-08-03 02:33] XuanYang-cn commented on #6955
/assign @czs007

[2021-08-03 02:36] XuanYang-cn opened #6962 "Querycoord unittest fail"
#### Steps/Code to reproduce:
https://github.com/milvus-io/milvus/pull/6862/checks?check_run_id=3219107471

#### Expected result:

#### Actual results:
[code]

[2021-08-03 02:36] XuanYang-cn commented on #6962
/assign @bigsheeper

[2021-08-03 02:37] xige-16 commented on #6962
/unassign @bigsheeper
/assign

[2021-08-03 02:44] xige-16 commented on #6747
[WARN] [logger.go:51] ["grpc: addrConn.createTransport failed to connect to {benchmark-gk7sh-1-etcd:2379 <nil> 0 <nil>}. Err :connection error: desc = \"transport: Error while dialing dial tcp 10.96.74.176:2379: i/o timeout\". Reconnecting..."]

[2021-08-03 02:44] xige-16 commented on #6747
queryCoord failed to connect to etcd, the etcd server was not stable.

[2021-08-03 02:51] xige-16 commented on #6745
/assign @bigsheeper

[2021-08-03 02:51] del-zhenwu commented on #6747
Timeout set 6h in test framework, then it will uninstall the milvus cluster also with etcd.

[2021-08-03 02:51] Bennu-Li commented on #6907
@sunby told me this:

The default is 2 channels for 1 collection, and one datanode is enough.
Without reaching the bottleneck, 2 datanodes can't really improve the insertion speed
If each channel consumes a certain speed, more channels can speed up insertion.

[2021-08-03 02:52] jingkl opened #6963 "Milvus 2.0rc2 test results"
Excessive time performance gap when nq and limit parameters are large.

The two graphs are tested on different machines

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):2.0.0-RC2
- Deployment mode(standalone or cluster):standalone
- SDK version(e.g. pymilvus v2.0.0rc2): pymilvus v2.0.0rc2
- OS(Ubuntu or CentOS): Ubuntu
- CPU/Memory: 64GB

- AWS server -  Milvus standalone
  - Instal

[2021-08-03 02:59] #6594 closed

[2021-08-03 03:02] binbinlv commented on #6948
OK, In the test case, I use "collection_w.partitions", it will call flush() in the former version because it will return entities number for each partition. But the entities number for this interface was temporarily disabled for the performance issue. So it will not call flush() any more.

I will update the test case.

Thanks. @bigsheeper @cydrain

[2021-08-03 03:13] binbinlv commented on #6731
@DragonDriver
OK, actually this case "test_search_after_different_index_with_params", I specified the search parameters for each index.

And this case without specifying parameters, I think the error message is not user friendly.

(api_response) : <BaseException: (code=1, message=Search failed, C runtime error detected, error code = 1, error msg = [json.exception.type_error.302] type must be numbe

[2021-08-03 03:20] ss892714028 opened #6964 "Repeatly calling search causes milvus 2.0rc2 to freeze"
#### Steps/Code to reproduce:
1 million, 128 dim collection. Repeatly calling search, nq ranging [1, 10, 100, 500, 1000] and topk ranging TOPK_SCOPE = [1, 1, 10, 100, 500], causing milvus to freeze. After I interrupt the client (pymilvus), milvus appears to be normal and is able to perform operations (search, index, etc.)

Here are some snapshots of the log file. The original log file is too large

[2021-08-03 03:22] binbinlv commented on #6569
Verified and fixed.

milvus(master): 87c5a49
Name: pymilvus
Version: 2.0.0rc3.dev16
Name: pymilvus-orm
Version: 2.0.0rc3.dev15

[2021-08-03 03:22] #6569 closed

[2021-08-03 03:25] binbinlv commented on #6948
@zhuwenxing hello, wenxing, could you help to fix this? If anything not very clear, please feel free to ask me. Thanks.

[2021-08-03 03:28] xige-16 commented on #6726
#6370 hasn't fix the bug.

[2021-08-03 03:31] jingkl commented on #6963
/assign @czs007

[2021-08-03 03:41] yhmo commented on #6951
I have updated the roadmap page. Use tables to records major features schedule/status/owner.

[2021-08-03 03:47] #6960 closed

[2021-08-03 04:00] xige-16 commented on #6554
#6908 #6935 has fix the load bug.

[2021-08-03 06:15] DragonDriver commented on #6731
I don't know much detail of `segcore` part, especially `search` workflow of `segcore` part. I can let the exception in this case to be more clear but i don't know if there are any other problems. So maybe it's better to let @fishpenguin to fix this?

How do you think about this?
/assign @fishpenguin

[2021-08-03 06:39] yxz9087 opened #6967 "How to modify config file"
I used docker-compose to deploy milvus2.0，but I cannot find how to modify config files and restart service.
Please help，thanks

[2021-08-03 06:54] czs007 commented on #6809
It seems that it is because etcd is deployed independently and the remaining data is not cleared.

[2021-08-03 06:58] yanliang567 commented on #6809
this is manually, etcd was re-installed everytime running helm install

[2021-08-03 07:05] #6938 closed

[2021-08-03 07:06] LocoRichard opened #6969 "image down in readme"
fix the img link

[2021-08-03 07:06] LocoRichard commented on #6969
/assign

[2021-08-03 07:18] del-zhenwu commented on #6967
/assign @jeffoverflow

[2021-08-03 07:19] #6969 closed

[2021-08-03 07:20] xige-16 commented on #6442
pr #6908 #6935  has fixed load issue, trouble you retry @del-zhenwu

[2021-08-03 07:22] xige-16 commented on #6438
If not any update, the issue could be closed. @yanliang567

[2021-08-03 07:22] xige-16 commented on #6438
/assign @yanliang567

[2021-08-03 07:27] xige-16 commented on #6417
pr #6675 has fixed the issue.

[2021-08-03 07:36] xige-16 commented on #6849
#6908 return error info of load segment to querycoord, and querycoord will redo the load request. and the preoblem of DeadlineExceeded will be fixed

[2021-08-03 07:40] LocoRichard commented on #6901
/assign @shanghaikid
issue fixed, need to close the issue.

[2021-08-03 07:44] bigsheeper commented on #6849
load failed because querycoord didn't put the segment key to etcd, so query node throws the error of `there is no value on key xxx`.

[2021-08-03 07:44] #6901 closed

[2021-08-03 08:01] XuanYang-cn commented on #6374
load_collection has changed in `pymilvus-2.0.0rc3.dev16`, the old one may not work properly.

[2021-08-03 08:14] XuanYang-cn commented on #6955
/unassign @czs007
/assign

[2021-08-03 08:28] xige-16 commented on #6528
/assign

[2021-08-03 08:35] xige-16 commented on #6528
After querynode 1 crash, the dmChannel (v1, v2)will be reshceduled to other querynode,  the search service will be not avaliable util querycoord load balance successfully.  Druing the loadbalance process, proxy can't get vchannel's (v1, v2) search results, and  the seach get stuck finaly.

[2021-08-03 08:37] xige-16 commented on #6528
when querycoord process the loadbalance task, the proxy could return error immediately.

[2021-08-03 08:47] jingkl commented on #6967
Milvus 2.0 stand-alone version modified milvus.yaml
Therefore, we first modify the Milvus.yaml configuration file and then start it with docker-compose.
First, copy a Milvus.yaml file to the local link to the Milvus.yaml file:
https://github.com/milvus-io/milvus/blob/master/configs/milvus.yaml
After the copy is complete, modify the required configuration parameters in Milvus.yaml
After the change,

[2021-08-03 08:54] del-zhenwu opened #6973 "CPU usage is low during inserting if index has been created before"
#### Steps/Code to reproduce:
1. create collection
2. create index on empty collection
3. insert 50,000 entities per request, total sift-50m
4. flush
5. index again to make sure index has done in background.
[code]

#### Expected result:
CPU usage is high during inserting, then the index time will be reduce.

#### Actual results:
After the second call `create_index`, the CPU usage start growing, t

[2021-08-03 09:09] #6948 closed

[2021-08-03 09:16] sp-ljw commented on #6863
The Problem is inferred that the client and server  are located in different cloud server with different network para . It is not caused by Milvus API

[2021-08-03 09:16] #6863 closed

[2021-08-03 09:23] XuanYang-cn commented on #6955
EtcdKV didn't check `clientv3.Client` nil.

[code]
@czs007

[2021-08-03 09:47] yanliang567 commented on #6438
verified that
1. num_entities returns correct
2.  search successfully
on master-20210803-aba234f
pymilvus                           2.0.0rc3.dev16
pymilvus-orm                       2.0.0rc3.dev15

[2021-08-03 09:47] #6438 closed

[2021-08-03 10:09] binbinlv opened #6975 "Milvus was restarted after calculating distance for entities from collections"
#### Steps/Code to reproduce:
[code]

#### Expected result:
return distance array

Logs:
[log.tar.zip](https://github.com/milvus-io/milvus/files/6923271/log.tar.zip)

#### Actual results:
[code]

#### Environment:
- Milvus version(): aba234f
- Deployment mode(standalone or cluster): standalone
- SDK version(e.g. pymilvus v2.0.0rc2):
Name: pymilvus
Version: 2.0.0rc3.dev16
Name: pymilvus-orm
Version

[2021-08-03 10:53] del-zhenwu commented on #6518
core fields in milvus configurations are needed to expose in helm charts.

[2021-08-03 11:01] del-zhenwu commented on #6374
No mem usage grows during loading:
![Kubernetes-Compute-Resources-Pod-Grafana (14)](https://user-images.githubusercontent.com/56623710/128004866-3da669b4-b095-44da-9af9-876ee3565141.png)

[2021-08-03 11:03] del-zhenwu commented on #6374
after upgraded to dev16, timeout still not work.

[2021-08-03 11:09] czs007 commented on #6955
UR right, we should check client and return err if `client` is nil.

[2021-08-03 11:21] XuanYang-cn commented on #6955
Working on it

[2021-08-03 11:29] yhmo commented on #6975
It seems need call load_collection() after insert(), otherwise the server could not fetch vectors from database and crash when printing error log. This is a bug, the server should not crash even failed to fetch vectors.

[2021-08-03 12:04] xige-16 opened #6977 "search return wrong limit after partition or collection was droped"
#### Steps/Code to reproduce:
[code]
#### Expected result:
limit(topK) searched  equal to 500

#### Actual results:
limit(topK) searched  equal to 1000

#### Environment:
- Milvus version(master):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-08-03 12:04] xige-16 commented on #6977
/assign

[2021-08-03 13:54] ChenCongZhu2017 opened #6979 "Import vector error (milvus2.0rc2)"
#### Steps/Code to reproduce:
import random

from pymilvus_orm import (
    connections, FieldSchema, CollectionSchema, DataType,
    Collection, list_collections,
)

def hello_milvus():
    # create connection
    connections.add_connection(default={"host": "172.17.16.15", "port": "19530"})
    connections.connect(alias='default')

    print(f"\nList collections...")
    print(list_collections())

[2021-08-03 14:03] #6903 closed

[2021-08-03 14:43] #6574 closed

[2021-08-03 14:48] czs007 commented on #6979
@ChenCongZhu2017
Thank you for your feedback. We will check this bug as soon as possible. rc3  version will be released this week.

[2021-08-04 01:06] arthuo opened #6981 "Milvus does not respond when accessing num_entities or performing an insert operation"
#### Steps/Code to reproduce:
connections.connect("default", host='127.0.0.1', port='19530')
print(connections.list_connections())

collection_name = "faceSearch"

face_id = FieldSchema(name="face_id", dtype=DataType.INT64, is_primary=True)
face_feature = FieldSchema(name="face_feature", dtype=DataType.FLOAT_VECTOR, dim=1024)
schema = CollectionSchema(fields=[face_id, face_feature], description="f

[2021-08-04 01:09] yanliang567 commented on #6981
this could be an occasional stability issue which is going to be fixed in rc3

[2021-08-04 01:26] arthuo commented on #6981
Thank you, is the rc3 version released this week?

[2021-08-04 02:05] del-zhenwu commented on #6797
also on dataset sift-50m:
https://argo-test.zilliz.cc/workflows/qa/benchmark-46pdt?tab=workflow&nodeId=benchmark-46pdt-4153134213&sidePanel=logs:benchmark-46pdt-4153134213:main

[2021-08-04 02:19] jeffoverflow commented on #6822
You can deploy Milvus with docker-compose.  See: https://github.com/milvus-io/milvus/blob/master/deployments/docker/standalone/docker-compose.yml

[2021-08-04 02:20] arthuo commented on #6981
For me, when the Milvus service did not respond, I tried to delete the mirror and pull again, but it was unsuccessful. Then, I deleted the Milvus data, located in /home/$USER/volumes, and the Milvus service returned to normal. What's wrong with this, I don’t know yet, but it works very well.

[2021-08-04 02:39] shanghaikid commented on #6822
Thanks, but we still need a doc describe these VOLUMES  @LocoRichard

[2021-08-04 02:55] binbinlv commented on #6975
OK, please trouble fix this issue. Thanks.

And trying adding the load operation, and it is still the same with issue #6872 @yhmo

[code]
Results:
[code]

[2021-08-04 03:08] #6680 closed

[2021-08-04 03:09] #6664 closed

[2021-08-04 03:09] #6641 closed

[2021-08-04 03:09] #6618 closed

[2021-08-04 03:09] #6559 closed

[2021-08-04 03:09] #6557 closed

[2021-08-04 03:10] sunby opened #6984 "Add test in datacoord"
GetFlushableSegments in SegemntManager should filter segments by channel.

[2021-08-04 03:11] #6956 closed

[2021-08-04 03:25] #6981 closed

[2021-08-04 03:27] binbinlv opened #6986 "Milvus is restarted when inserting 3 million entities"
#### Steps/Code to reproduce:
[code]

Logs:
[logs_6986.tar.zip](https://github.com/milvus-io/milvus/files/6928410/logs_6986.tar.zip)

#### Expected result:
Inserted sucessfully

#### Actual results:
Milvus is restarted

#### Environment:
- Milvus version(): 07cc449
- Deployment mode(standalone or cluster): standalone
- SDK version(e.g. pymilvus v2.0.0rc2):
Name: pymilvus
Version: 2.0.0rc3.dev16
Na

[2021-08-04 03:31] xige-16 opened #6987 "Reduce querycoord's unittest time"
#### What would you like to be added:
reduce querycoord's unittest time
#### Why is this needed:

[2021-08-04 03:47] binbinlv commented on #6986
Standalone:
the service is still online after pods restarted.

[2021-08-04 04:31] cydrain opened #6988 "CI log error "timestamp go back""
#### Steps/Code to reproduce:
run milvus/tests/python_test

#### Expected result:
no ERROR in logs

#### Actual results:
find ERROR like:
[code]

[2021-08-04 05:03] #6859 closed

[2021-08-04 05:10] del-zhenwu opened #6989 "Error msg: `len(collection_names) (1) != len(inMemory_percentages)` returned by loading"
#### Steps/Code to reproduce:
[code]

https://kibana-dev.zilliz.cc/app/discover#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'2021-08-03T18:03:29.149Z',to:'2021-08-03T18:05:52.469Z'))&_a=(columns:!(log),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:ad1e1c50-c9d9-11eb-9e1a-b3dcad9693fd,key:kubernetes.pod_name,negate:!f,params:!(benchmark-cron-1628013600-1-

[2021-08-04 05:21] DragonDriver opened #6990 "Enhance the log when parsing grpc send/recv parameters"
#### What would you like to be added:

I want to enhance the log when parsing grpc send/recv parameters.

#### Why is this needed:

Increase the readability of log.

[2021-08-04 05:29] yhmo commented on #6975
The pr #6976 will fix the crash.

[2021-08-04 06:18] DragonDriver commented on #6990
/assign

[2021-08-04 06:36] binbinlv opened #6994 "Searched numbers is larger than inserted entities"
#### Steps/Code to reproduce:
Run test case:
/milvus/tests20/python_client/testcases/test_search.py::TestCollectionSearch::test_search_new_data

Logs:
[log_6994.tar.zip](https://github.com/milvus-io/milvus/files/6929117/log_6994.tar.zip)

#### Expected result:
searched numbers is equal with nb when limit > nb

#### Actual results:
[2021-08-04 06:29:04 - ERROR - ci_test]: search_results_check: limi

[2021-08-04 06:47] cydrain commented on #6988
｀｀｀
[2021/08/04 14:36:12.672 +08:00] [DEBUG] [root_coord.go:465] ["CYD - send timetick"] [DefaultTs=426785891318759436] [reason="timetick loop"]
[2021/08/04 14:36:12.675 +08:00] [DEBUG] [root_coord.go:465] ["CYD - send timetick"] [DefaultTs=426785891318759434] [reason="drop collection"]
[2021/08/04 14:36:12.675 +08:00] [DEBUG] [timeticksync.go:106] ["CYD - timestamp go back"] ["source id"=1] ["pre

[2021-08-04 06:47] sunby opened #6995 "Add flush interval"
Now we check the flush of segments and call 'FlushSegments' once we receive a timetick msg from datanode (per 0.x seconds). For a single segment, the flush request is too frequent. We add a flush interval to improve it.

[2021-08-04 07:13] xige-16 commented on #6989
The client version is higher than the server version, please upgrade the milvus server version. @del-zhenwu

[2021-08-04 07:26] ThreadDao commented on #6520
Current situation:
1. when dataNode pod is killed, flush request hangs
2. after deleting chaos and restarting the pod, the before flush request is returned, and a new flush request is available.

[2021-08-04 07:26] #6520 closed

[2021-08-04 07:27] del-zhenwu commented on #6989
close.

[2021-08-04 07:27] #6989 closed

[2021-08-04 07:38] LocoRichard commented on #6822
issue fixed. It can be closed now.

[2021-08-04 07:39] #6822 closed

[2021-08-04 07:47] DragonDriver commented on #6994
I will fix this soon.

[2021-08-04 08:14] ChenCongZhu2017 commented on #6979
#

[2021-08-04 08:16] binbinlv opened #6997 "Search timeout needs too long to return when searching partitions after releasing and load a partition"
#### Steps/Code to reproduce:
Run test case:
/milvus/tests20/python_client/testcases/test_search.py::TestCollectionSearch::test_search_partition_after_release_load

#### Expected result:
No long timeout is needed

#### Actual results:
Need long timeout to return

#### Environment:
- Milvus version():ad77a6e
- Deployment mode(standalone or cluster):standalone
- SDK version(e.g. pymilvus v2.0.0rc2):

[2021-08-04 08:27] xige-16 opened #6998 "querynode should return error to querycoord when loadSegmentInternal failed"
#### Steps/Code to reproduce:
[code]

#### Expected result:
[code]
#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-08-04 08:27] xige-16 commented on #6998
/assign @bigsheeper

[2021-08-04 08:31] congqixia opened #6999 "Datanode flowgraph not closed caused by missing DropCollection"
After a smoke test, datanode still has hundreds of goroutines running, most of the which are serving `flowgraph`. The datanode instance still consumes lots of CPU which it should not.

The obvious phenomenon is that the related `DropCollection` message is not received.

One of the possible reason is #6988

[2021-08-04 08:32] jingkl opened #7000 "Code error in API documentation"
https://milvus.io/api-reference/pymilvus-orm/v2.0.0rc2/api/utility.html
![new](https://user-images.githubusercontent.com/34296482/128148909-581f389a-712d-4210-8a36-efeb6390cc53.png)
schema = CollectionSchema(fields=[field_int64, field_vector], description="get collection entities num")
The line of code in the official website should look like this, as shown below：
![new2](https://user-images.githu

[2021-08-04 08:35] DragonDriver opened #7001 "Query nodes returned incorrect ids when topk is larger than row_num"
#### Steps/Code to reproduce:
tests20/python_client/testcases/test_search.py::TestCollectionSearch::test_search_new_data

see #6994

insert 500 records;
search; (correct)
insert 300 records;
search, nq = 2, topk = 1000, the returned ids of second query result is wrong

ids of 1st query: (valid num: 800, invalid num: 200, the id of invalid record is `-1`)

[code]

ids of 2nd query: (valid num: 800,

[2021-08-04 08:35] DragonDriver commented on #7001
/assign @bigsheeper
/assign @DragonDriver

[2021-08-04 08:36] xige-16 commented on #7001
Is the extra data nan? @DragonDriver

[2021-08-04 08:41] xige-16 opened #7002 "The load segments requests in querycoord should have a maximum retry limit"
#### Steps/Code to reproduce:
if querynode load segment failed, querycoord will keep retrying

#### Expected result:
have a maximum retry limit

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

####

[2021-08-04 08:41] xige-16 commented on #7002
/assign

[2021-08-04 08:43] DragonDriver commented on #7001
You mean the distances of the last 200 hit records? @xige-16

[2021-08-04 08:49] DragonDriver commented on #7001
/unassign @bigsheeper
/assign @cydrain

[2021-08-04 08:49] cydrain commented on #7001
/assign

[2021-08-04 08:57] LocoRichard commented on #6307
issue fixed and can be closed, thank you @shanghaikid

[2021-08-04 08:59] #6307 closed

[2021-08-04 09:25] ThreadDao commented on #6444
Current situation:
1. after the standalone pod restarts, all interfaces including insert are available
2. unfortunately, it takes a long time for the standalone pod to restart, about 5 minutes

[2021-08-04 09:25] #6444 closed

[2021-08-04 09:30] congqixia opened #7003 "Pulsar consumer causes goroutine leakage"
The pulsar go client does close recieveCh when its consumer is closed, which will cause goroutine leakage in the following code:
https://github.com/milvus-io/milvus/blob/454620dfaa362fe1e164705bd695a6dafea68c51/internal/util/mqclient/pulsar_consumer.go#L31-L52

The code snippet waits chan closed until return

[2021-08-04 09:55] binbinlv opened #7006 "Creating collection hangs when system running for some time (run test cases)"
#### Steps/Code to reproduce:
After running some test cases, create cllection hungs:

[code]

#### Expected result:
command hangs without return

#### Actual results:
No hangs

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): latest
- Deployment mode(standalone or cluster): standalone
- SDK version(e.g. pymilvus v2.0.0rc2):
Name: pymilvus
Version: 2.0.0rc3.dev16
Name: pymilvus-orm
V

[2021-08-04 09:57] binbinlv commented on #7006
Logs could not be pasted here for the size, please ping me to get the logs, thanks.

[2021-08-04 09:59] jingkl commented on #7000
https://milvus.io/cn/api-reference/pymilvus-orm/v2.0.0rc2/api/partition.html
![02](https://user-images.githubusercontent.com/34296482/128162197-01d9f5a6-51d1-4c9b-84ff-93ed82c044d9.png)
There is an error in the way partitions are created on the official website
![test02](https://user-images.githubusercontent.com/34296482/128162077-673d8897-b69d-4505-b769-015accba47bf.png)

[2021-08-04 10:19] ThreadDao opened #7007 "The standalone pod restart takes a lot of time"
#### Steps/Code to reproduce:
1. deploy standalone milvus
[code]
2. kill standalone pod
3. it takes about 5m for the standalone pod to restart to be available

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
  ad77a6e
- Deployment mode(standalone or cluster):
  standalone
- SDK version(e.g. pymilvus v2.0.0rc2):
  pymilvus              2.

[2021-08-04 10:28] DragonDriver commented on #7006
No response from etcd. So HasCollection hung.

[2021-08-04 10:50] abodyy4272 commented on #7006
https://hostpubg.com

[2021-08-04 12:53] xiaofan-luan opened #7012 "Write to closed channel on pulsar cause proxy panix"
#### Steps/Code to reproduce:

![image](https://user-images.githubusercontent.com/83447078/128183905-4b525cad-360d-4163-b75c-8bb60a882b9d.png)

#### Expected result:
Server should support concurrent update safely

#### Actual results:

#### Environment:

[2021-08-04 18:01] filip-halt opened #7013 "Phantom collection"
When inserting 10m vectors into a k8s Milvus cluster, the connections all begin to get closed and no new threads can create a connection to Milvus. No errors or restarts reported by k8s. Upon restarting the insert script the collection that was being worked on is a phantom collection, when running this line of code:
[code]
it fails with not being able to find the collection to be dropped, even tho

[2021-08-04 20:15] bigmb opened #7014 "Result ids and distance are zero for all the events after the first result."
Hello,
I get results when I use randomly generated data from:
`vectors = [[random.random() for _ in range(160)] for _ in range(len(t1))]  #t1 = 300K approx
`But when I change my data. I don't get any results apart from the first event.
#### Steps/Code to reproduce:
[code]
#### Expected result:
Ids and distances according to the results of the search.
#### Actual results:
Getting distance results a

[2021-08-04 20:40] filip-halt opened #7015 "Insert timeout"
Unable to insert past 5 million vectors. The connection times out and nothing can be inserted after. Once it fails the collections get buggy (https://github.com/milvus-io/milvus/issues/7013). Upon examination it seems like it is a pulsar error and I have attached its log here.
[code]
#### Steps/Code to reproduce:
1. Run cluster on EKS
2. attempt to insert vectors in 100k batches of 128-dim vectors

[2021-08-05 03:12] genting opened #7016 "Insert timed out and failed"
#### Steps/Code to reproduce:
100,000 pieces of data are inserted each time, a total of 50 times. It failed at the 40th time. At this time, the docker of milvus exited abnormally. After restarting docker, data cannot be inserted, and the whole docker is dead.

#### Expected result:
It can still be inserted after successful insertion or restart

#### Actual results:
Insertion fails and docker resta

[2021-08-05 11:52] ChenCongZhu2017 opened #7017 "milvus2.0rc2 search stuck"
This collection partition has 20W data, and it got stuck when he searched.
The Dimension is 128.

#### Steps/Code to reproduce:

    collection = Collection(”collection_test“)
    topK = 5
    search_params = {"metric_type": "L2", "params": {"nprobe": 10}}
    start_time = time.time()
    print(f"\nSearch...")
    vectors = [[random.random() for _ in range(128)] for _ in range(10)]
    res = colle

[2021-08-05 14:42] cabjr commented on #7017
I'm having the same problem, using the same version for Milvus and PyMilvus, the search gets stuck when calling the search_with_expression method.

This happens to me after the deployment is online for a while (2 days+), in my case the deployment was made into GKE (with helm) and the problem happens with cluster.enabled and disabled too...

I would appreciate it if someone could help us

[2021-08-05 14:49] cabjr commented on #7017
In my case, the search is taking several minutes and my API is dropping the requests because of the timeout... My collection has the following settings:
_DIM = 179
_INDEX_FILE_SIZE = 1024
_METRIC_TYPE = 'IP'
_INDEX_TYPE = 'IVF_FLAT'
_NLIST = 512
_NPROBE = 64
_TOPK = 20

The log from gcp:

![image](https://user-images.githubusercontent.com/21093115/128370565-9eeb154d-29b6-489e-ab61-e51789061300.png

[2021-08-06 09:56] hande6688 opened #7019 "ERROR: The Compose file './docker-compose.yml' is invalid"
按照官方安装：https://milvus.io/cn/docs/v2.0.0/install_standalone-docker.md
执行：docker-compose up -d
报错：
ERROR: The Compose file './docker-compose.yml' is invalid because:
networks.default value Additional properties are not allowed ('name' was unexpected)

[2021-08-06 09:59] hande6688 opened #7020 "ERROR: The Compose file './docker-compose.yml' is invalid"
按照官方安装：https://milvus.io/cn/docs/v2.0.0/install_standalone-docker.md
执行：docker-compose up -d
报错：
ERROR: The Compose file './docker-compose.yml' is invalid because:
networks.default value Additional properties are not allowed ('name' was unexpected)

[2021-08-07 06:24] yhmo commented on #7020
@hande6688
What is your operation system? Mac OS or other linux(ubuntu,centos)?

[2021-08-07 06:25] yhmo commented on #7019
Duplicated with #7020, close this.

[2021-08-07 06:25] #7019 closed

[2021-08-07 07:35] yhmo opened #7021 "Add documentation for S3 configuration"
Milvus 2.0 support S3, but no documentation tell user how to config. We need add the documentation for S3 configuration.
The raw documentation is here: https://zilliverse.feishu.cn/docs/doccnGtveK9Y4YxCdzSSIrj74Cc

[2021-08-09 02:47] jaelgu commented on #7014
Use IP instead of L2 will get non-zero distances & properly sorted results.

[code]

[2021-08-09 03:01] bigmb commented on #7014
Yes, it does provide me non-zero distance.
But why are all the ids which are getting searched for, not even on the list?
results[0].ids should start with 31. ( shouldn't the first result be the id itself?)
results[1] with 833 and results[8] with 6132.

[2021-08-09 03:55] jaelgu commented on #7014
Duplicate vectors with different ids in original data. Sample code to check:

L2 milvus search results[1]:
[205259, 97985, 242406, 197964, 166597, 199380]
[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

[code]

[2021-08-09 06:42] cayden-uw commented on #7017
I also have this same issue with nearly identical configuration (topk is 5 and dimensions are ~300).

Also using GCP on Kubernetes engine (Autopilot) in cluster mode.

[2021-08-09 22:33] bimarifin commented on #7017
You can release the collection from memory first, and then load again to memory, and avoid load() in your code if not needed, this is short fix currently available, but overall the 2.0rc2 still not stable, countless times been there like you.

luckily im in not hurry, just to explore milvus.

[2021-08-10 01:40] hande6688 commented on #7020
@yhmo linux系统

[2021-08-10 02:01] DragonDriver commented on #7006
We are debugging on why etcd don't response, it will take a while.

[2021-08-10 02:07] LocoRichard commented on #7021
/assign

[2021-08-10 02:14] DragonDriver commented on #6997
working on this
/assign

[2021-08-10 02:20] del-zhenwu opened #7022 "Server unavailable during loading collection"
#### Steps/Code to reproduce:
test yaml:
[code]
client logs:
[code]
#### Expected result:

#### Actual results:
https://kibana-dev.zilliz.cc/app/discover#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'2021-08-09T18:30:00.000Z',to:'2021-08-10T01:30:00.000Z'))&_a=(columns:!(log),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:ad1e1c50-c9d9-11eb-9e1a-b3dcad9693

[2021-08-10 02:24] LocoRichard commented on #7021
/assign @godchen0212

[2021-08-10 02:25] ThreadDao opened #7023 "Lack of pod failure and container kill chaos experiments"
#### Is your feature request related to a problem? Please describe:

Lack of pod failure and container kill chaos experiments

#### Describe the solution you'd like:
1. add failure xNode pod scenes test
2. add kill x-container container scenes test

#### Describe alternatives you've considered:

#### Additional context:

[2021-08-10 02:32] DragonDriver commented on #6997
/assign @xige-16
PTAL

[2021-08-10 03:09] bigsheeper commented on #6997
/assign

[2021-08-10 03:23] bigsheeper commented on #6997
Did you reproduce this issue? @DragonDriver

[2021-08-10 03:26] binbinlv commented on #6997
Yes, each nightly case run have this issue.

[2021-08-10 03:57] xiaofan-luan commented on #4812
Very Impressive design,  Lgtm.
Few Quick questions:
1) Are we supporting multiple alias to 1 collection？
2)Once we do alias, can we still operate on collection name? for instance, if we alias collection a to bb, should we still load a/release a or load bb, release bb?
3) when search happens, what is the path? we first check if it is a collection name or alias name? then each search need a extra et

[2021-08-10 03:59] #5443 closed

[2021-08-10 04:01] xiaofan-luan commented on #4812
from the definition MetaTable.GetCollectionByName, collAlias2ID seems to be a in memory structure. How we update the map if create alias or delete alias happens?

[2021-08-10 05:20] binbinlv opened #7027 "Test case "test_insert_binary_multi_times" failed for server is not serving"
#### Steps/Code to reproduce:
Run nightly test cases:
milvus/tests/python_test/entity/test_insert.py::TestInsertBinary::test_insert_binary_multi_times

Logs:
[artifacts-milvus-distributed-master-93-e2e-nightly-logs.tar.gz](https://github.com/milvus-io/milvus/files/6959113/artifacts-milvus-distributed-master-93-e2e-nightly-logs.tar.gz)

#### Expected result:
Test cases run successfully

#### Actual

[2021-08-10 06:19] jingkl opened #7029 "Milvus takes a particularly long time to build indexes"
Only 10 vectors were inserted into the collection to build the index and it took a long time to complete

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):v2.0.0-RC2
- Deployment mode(standalone or cluster):standalone
- SDK version(e.g. pymilvus v2.0.0rc2): pymilvus v2.0.0rc2
- OS(Ubuntu or CentOS): (Ubuntu
- CPU/Memory:

![create](https://user-images.githubusercontent.com/34296482/1

[2021-08-10 06:21] binbinlv commented on #6997
And this issue only appears when running all the search test cases (test_search.py) (e.g., even set big timeout = 1000), it will pass if only run this test case separately even set small timeout (e.g., timeout = 20).

[2021-08-10 06:38] bigsheeper commented on #6997
This case failed in my local computer, and maybe I'v found the reason, but did you mean it can search successfully on your tests?

[2021-08-10 06:49] binbinlv commented on #6997
Yes, if I only run this case, it will pass. And when I run all the search test cases, it will fail at this test case.
@bigsheeper

[2021-08-10 07:33] #6796 closed

[2021-08-10 07:43] xiaofan-luan commented on #6994
/assign cydrain

[2021-08-10 07:46] xiaofan-luan commented on #6994
duplicate with #7001, close it

[2021-08-10 07:46] #6994 closed

[2021-08-10 07:47] xiaofan-luan commented on #6933
/assign @godchen0212

[2021-08-10 07:47] yanliang567 opened #7030 "Update testcase levels for tests in pymilvus to prepare the merge of pymilvus and pymilvus-orm"
current, tests for pymilvus has smoke level and no more, while tests for pymilvus-orm has level 0, 1, 2 and 3.
As we are going to merge pymilvus and pymilvus-orm into one repo, we need to unite the test levels

#### Configuration file:

#### Additional context:

[2021-08-10 07:50] lsgrep commented on #4812
Hi @xiaofan-luan ,
1. Yes.  Users can create multiple collection alias that refers to the same collection.
2. CollectionAlias won't be intrusive. All the preexisting access patterns won't be affected. Users can use the collection name without problems and users can do collection release/load with collection alias.
3. There won't be extra `etcd` access since we have `metaTable.collAlias2ID` in the

[2021-08-10 07:52] bigsheeper commented on #6997
I'v run this test, and it get failed. The log shows that the search requset happened before the load request. The reason is the loading percentage of old meta info from first loading is still 100% even though called the release partition requset. So query coord needs to check the loading state correctly in the case of partitions loading or releasing.

I'll fix this later.

[2021-08-10 07:55] binbinlv commented on #6997
OK， thanks.

[2021-08-10 07:59] #7030 closed

[2021-08-10 08:17] bigsheeper opened #7032 "Load collection failed caused by etcdKV loading error"
#### Steps/Code to reproduce:
see: #6849

#### Expected result:
load passed

#### Actual results:
load failed because querycoord didn't put the segment key to etcd, so query node throws the error of there is no value on key `segmentID_XXX`

[2021-08-10 08:21] bigsheeper commented on #7032
Querynode doesn't need to load segment key from etcdKV and querycoord doesn't need to save this key either. Because load segment requset between querynode and querycoord is synchronized, I'll fix this soon.

[2021-08-10 08:22] xiaofan-luan commented on #6849
etcd issue will be left to 7032, close current issue

[2021-08-10 08:23] xiaofan-luan commented on #6491
@fishpenguin which release can we have retention feature ready?

[2021-08-10 08:26] xiaofan-luan commented on #6491
related issue #6601

[2021-08-10 08:37] #6491 closed

[2021-08-10 08:38] #6483 closed

[2021-08-10 08:39] xiaofan-luan commented on #6442
/assign @del-zhenwu

[2021-08-10 08:40] binbinlv commented on #6975
Verified and the crash has been fixed.

milvus: bdb8396
Name: pymilvus
Version: 2.0.0rc3.dev16
Name: pymilvus-orm
Version: 2.0.0rc3.dev15

[2021-08-10 08:40] #6975 closed

[2021-08-10 08:41] del-zhenwu commented on #6442
close it

[2021-08-10 08:41] #6442 closed

[2021-08-10 08:47] binbinlv commented on #6872
Verified, and it has been fixed.

milvus: bdb8396
Name: pymilvus
Version: 2.0.0rc3.dev16
Name: pymilvus-orm
Version: 2.0.0rc3.dev15

[2021-08-10 08:47] #6872 closed

[2021-08-10 08:47] jingkl opened #7033 "Modify the offline readme document."
https://github.com/milvus-io/milvus/tree/master/deployments/offline
docker-compose -f docker-compose.yaml up -d  It should be for  **docker-compose.yml**
![1628584889(1)](https://user-images.githubusercontent.com/34296482/128836916-525e9462-d533-4a4d-96fb-816b35d35e48.png)

[2021-08-10 08:48] jeffoverflow commented on #7033
/assign

[2021-08-10 08:49] xiaofan-luan commented on #6868
/assign @xige-16

[2021-08-10 08:51] xiaofan-luan commented on #6428
no more information after more than two weeks, close the issue

[2021-08-10 08:51] #6428 closed

[2021-08-10 08:55] xiaofan-luan commented on #6437
/assign @xiaocai2333 could you please take a look?

[2021-08-10 08:56] del-zhenwu commented on #6374
[code]
pod name:
[code]
using pymilvus-rc3-dev16
logs:
[code]

[2021-08-10 08:57] LocoRichard opened #7035 "Test useSSL on S3"
#### Is your feature request related to a problem? Please describe:
Test useSSL on S3 for tech doc purpose

#### Describe the solution you'd like:

#### Describe alternatives you've considered:

#### Additional context:

[2021-08-10 08:57] LocoRichard commented on #7035
/assign @Bennu-Li

[2021-08-10 08:59] #7033 closed

[2021-08-10 09:04] jeffoverflow commented on #6611
@orange-jams  See: [Milvus offline installation](https://github.com/milvus-io/milvus/tree/master/deployments/offline)

[2021-08-10 09:18] binbinlv opened #7036 "Error message could be more specific when calculate distances using collection ids without load"
#### Steps/Code to reproduce:
[code]

#### Expected result:
something like "*** was not loaded into memory"

#### Actual results:
Failed to fetch vectors

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): bdb8396
- Deployment mode(standalone or cluster): standalone
- SDK version(e.g. pymilvus v2.0.0rc2):
Name: pymilvus
Version: 2.0.0rc3.dev16
Name: pymilvus-orm
Version: 2.0.0rc3.dev1

[2021-08-10 09:41] fishpenguin opened #7037 "Should rocksmq support inactive topic retention?"
#### Why is this needed:
Currently milvus operations will create many topics in msgstream, but rarely call deleteTopics because pulsar supports inactive topics retention and delete automatically. Rocksmq doesn't support topic retention and auto-delete which causes that there are so many topics remain in rocksmq and greatly impact on milvus performance.
So Should rocksmq support topic retention or

[2021-08-10 09:48] binbinlv opened #7038 "Error message could be more accurate for invalid vectors of calc_distance interface"
#### Steps/Code to reproduce:
[code]

#### Expected result:
(1) not required type (dict):  `vectors_left ` value {} is **illegal**
(2) is dict type, but invalid value: `vectors_left ` value {} is **invalid**

#### Actual results:
for left vectors:
(1) not required type (dict):  Left vectors array is invalid
(2) is dict type, but invalid value: Left vectors array is empty **[Here left vectors are n

[2021-08-10 10:57] yhmo commented on #7021
Done

[2021-08-10 10:57] #7021 closed

[2021-08-10 11:42] jaelgu opened #7039 "Data is incomplete in collection after insert is done"
#### Steps/Code to reproduce:
1. Install & start Milvus 2.0-RC2 Cluster with docker
2. Use benchmark (sift1m) in bootcamp to create collection & insert data
3. Check row count

#### Expected result:
row count should be 1m

#### Actual results:
row count: 993432 after insert is done without error

[code]

* recall accuracy is very low (<10%) --> So I think data is not completely inserted, not the b

[2021-08-10 11:49] jaelgu commented on #7039
Standalone is ok. All 10m data is inserted.

[2021-08-10 11:58] bitxinyu opened #7040 "Search performance degradation after milvus service restart"
#### Steps/Code to reproduce:
All of this  step running in my laptop, which cpu is  i5-8250u and 16GB RAM
1. milvus cpu version 1.1.1. default server config but set cpu cache to 4GB. Create a collection and setting metric type to `ip` . insert 50w 768 dimension random vectors, then create index which index_type is IVFSQ8 and nlist is 512.
2. Using  `jmeter` tools to test milvus restful API (nprobe

[2021-08-10 12:24] xiaofan-luan commented on #6849
/assign @yanliang567

[2021-08-10 12:31] xiaofan-luan commented on #6823
similar issue for load, close

[2021-08-10 12:31] #6823 closed

[2021-08-10 12:33] xiaofan-luan commented on #6777
close the duplicated issue

[2021-08-10 12:33] #6777 closed

[2021-08-10 12:34] xiaofan-luan commented on #6544
/assign @xiaofan-luan

[2021-08-10 12:36] xiaofan-luan commented on #6554
duplicate,close for now

[2021-08-10 12:36] #6554 closed

[2021-08-10 12:37] xiaofan-luan commented on #6106
/assign @cydrain could you please investigate on this?

[2021-08-10 12:37] xiaofan-luan commented on #6106
/assign @cydrain

[2021-08-10 12:39] xiaofan-luan commented on #6747
/assign @godchen0212

[2021-08-10 12:39] xiaofan-luan commented on #6747
seems to be another etcd issue

[2021-08-10 12:44] xiaofan-luan commented on #7037
I guess we do need this delete topic api but this should be called by drop collection immediately,.
Similar to S3 log snapshots, we need to maintain old topics for a couple of days before we cleanup

[2021-08-10 12:45] xiaofan-luan commented on #6745
@bigsheeper any updates on this?

[2021-08-10 12:47] xiaofan-luan commented on #5053
@yanliang567 shall we close this issue since it is not reproducible?

[2021-08-10 12:50] xiaofan-luan commented on #6304
/assign @del-zhenwu

[2021-08-10 12:54] xiaofan-luan commented on #6495
/assign @XuanYang-cn

[2021-08-10 12:55] xiaofan-luan commented on #6606
Do we have log on this issue?

[2021-08-10 13:03] xiaofan-luan commented on #6634
/assign @del-zhenwu

[2021-08-10 13:09] xiaofan-luan commented on #6634
@del-zhenwu can you try to reproduce this issue

[2021-08-10 13:10] xiaofan-luan commented on #6689
/assign @godchen0212

[2021-08-10 13:11] xiaofan-luan commented on #6689
another etcd issue,please take a look

[2021-08-10 13:11] xiaofan-luan commented on #6694
/assign @scsven

[2021-08-10 13:12] xiaofan-luan commented on #6694
@scsven please investigate on this?

[2021-08-10 13:13] xiaofan-luan commented on #6695
/assign @cydrain

[2021-08-10 13:15] xiaofan-luan commented on #6809
/assign @scsven

[2021-08-11 01:00] yanliang567 commented on #6693
@czs007 @bigsheeper  reproduced in ci nightly : https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/94/pipeline/151

[2021-08-11 01:12] yanliang567 commented on #6849
@bigsheeper
so the root cause is on querycoord side or on the etcd side?

[2021-08-11 01:26] yanliang567 commented on #6986
3M entities(saying 128d) could be 1.5GB, which exceeds the max data size of rpc in miluvs (512M), but crashing is not acceptable indeed.

[2021-08-11 02:05] ThreadDao commented on #5993
Now index building does not hang and returns a timeout error. I will close the issue first.

[2021-08-11 02:05] #5993 closed

[2021-08-11 02:09] #6635 closed

[2021-08-11 02:14] #6304 closed

[2021-08-11 02:45] xige-16 commented on #7039
Is your sdk pymilvus or pymilvus-orm?

[2021-08-11 02:46] jaelgu commented on #7039
pymilvus-orm

[2021-08-11 03:14] xiaocai2333 commented on #6437
I can't reproduce it, and the log at this time no longer exists. The index type of 'HNSW' construction time is very slow. If you can reproduce it, please send me the latest log. @del-zhenwu

[2021-08-11 03:47] xige-16 commented on #7029
It seems that the flush process is not completed. Has the problem been fixed? @sunby

[2021-08-11 03:48] #6782 closed

[2021-08-11 03:49] #6801 closed

[2021-08-11 03:49] #6815 closed

[2021-08-11 03:49] #6820 closed

[2021-08-11 03:59] xige-16 commented on #7029
The issue has been fix. If you're in a hurry, you can use the lastest image first. @jingkl

[2021-08-11 06:18] del-zhenwu commented on #6417
still can be re-pro.
[code]
client logs:
https://argo-test.zilliz.cc/workflows/qa/benchmark-d9c8r?tab=workflow&nodeId=benchmark-d9c8r-3775476867&sidePanel=logs:benchmark-d9c8r-3775476867:main[2021-08-11 03:28:51,241] [    INFO] -  (locust.stats_logger:733)
[2021-08-11 03:28:51,242] [    INFO] - Ramping to 100 users at a rate of 2.00 per second (locust.runners:317)
[2021-08-11 03:28:51,242] [   DEB

[2021-08-11 06:24] #6858 closed

[2021-08-11 06:27] xiaocai2333 commented on #6906
This should be a bug about 'load'. From the log. there are two segemnts that failed to load. This bug may have been fixed, please retest it. @ss892714028

[2021-08-11 06:27] xiaocai2333 commented on #6906
/assign @ss892714028

[2021-08-11 07:22] godchen0212 opened #7043 "Missing memory vector check before retrive"
#### What would you like to be added:
Check whether vector data exists in memory before retrive.

#### Why is this needed:
Milvus loads all vector data into memory for brute force search before indexing. At this time, there is no need to download vector files from the remote to obtain vector data.

[2021-08-11 08:20] binbinlv opened #7046 "Distance is calculated wrong when specifying the data in partition0 as one vector parameter"
#### Steps/Code to reproduce:
[code]

#### Expected result:
Distance is calculated right

#### Actual results:
Data in partion0 is not used for distance calculation. Whenever specifying partition0 or not, it always use data in another partition as the data for distance computation.

(1) vectors_l = [[1, 2]],
vectors_1 (insert in partiton 0)
[[0.0843056881483154, 0.49324593831995744], [0.9919740420

[2021-08-11 08:27] binbinlv commented on #7046
The issue only exist when calculating distance including data in partiton 0. It is good in other created partitons or not specifying partition parameter(calculate collection)

[2021-08-11 08:28] #6826 closed

[2021-08-11 08:57] shanghaikid opened #7048 "Search Errror on Milvus 2.0 rc2"
[2021/08/11 08:50:31.414 +00:00] [ERROR] [query_collection.go:833] ["Search failed, C runtime error detected, error code = 1, error msg = Error in virtual milvus::knowhere::DatasetPtr milvus::knowhere::I"] [stack="github.com/milvus-io/milvus/internal/log.Error\n\t/go/src/github.com/milvus-io/milvus/internal/log/global.go:42\ngithub.com/milvus-io/milvus/internal/querynode.(*queryCollection).search\

[2021-08-11 09:35] ggordonhall opened #7049 "Potential memory leak in Milvus standalone"
Hi,

I'm running Milvus standalone on EKS which I deployed with the Milvus helm chart. The `milvus-standalone` pod steadily increases its memory use at a rate of 50Mb per hour. This happened over the course of several days until the node it was running on ran out of memory.

<img width="1349" alt="Screenshot 2021-08-10 at 12 11 11" src="https://user-images.githubusercontent.com/24595376/129003368-

[2021-08-11 10:00] xiaofan-luan commented on #7049
we've found similar issue and it probably fixed at pull request #6944 #7004, 2.0.0-rc4 is gonna to be released today, please check our new versions and see if it is reproducible

[2021-08-11 10:21] sunby opened #7052 "ExpireAllocation bug"
I found a bug when expiring allocations of segments. It leads to ignore some allocations and remaim the space which is actually expired.

[2021-08-11 10:24] cydrain commented on #7001
For sealed segment, the id of invalid hit is -1;
for growing segment, the id of invalid his is `default value for int64` which is 0.

Tow solutions to fix this issue:
1. change default value for int64 to -1
2. update this testcase to do search after segment sealed (flushed)

I prefer solution 2, and update this testcase to add `flush` before `search`, but this issue still exist (I still see growin

[2021-08-11 10:31] bigsheeper commented on #7001
Ok, I'll work on it. @cydrain

[2021-08-11 10:31] bigsheeper commented on #7001
/assign

[2021-08-11 10:35] xige-16 commented on #7048
same with issue #6727

[2021-08-11 11:13] del-zhenwu opened #7055 "Search with filter timeout on dataset sift-50m"
#### Steps/Code to reproduce:
test yaml:
[code]

[code]

#### Expected result:

#### Actual results:

https://argo-test.zilliz.cc/workflows/qa/benchmark-cluster-cron-np29b?tab=workflow&nodeId=benchmark-cluster-cron-np29b-502053805&sidePanel=logs:benchmark-cluster-cron-np29b-502053805:main
#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster): stan

[2021-08-11 11:29] yanliang567 opened #7056 "Memory consumed totally 3-4 times as data size"
#### Steps/Code to reproduce:
in tests20/python_client: run pytest test_e2e.py --host x.x.x.x after updating nb=100,000
or
1. deploy Milvus 2.0 cluster
    1.1 after deployment, Milvus consumes about 380MB memory totally.
2. insert 100,000 entities (about 50MB) into a collection
3. flush
4. load
5. search
6. make a sq8 index
7. query

#### Expected result:
memory consumed smoothly

#### Actual res

[2021-08-11 11:31] yanliang567 commented on #7056
there is a similar issue which focuses on querynode, #6745

[2021-08-11 12:16] congqixia opened #7058 "Querynode has produder leakage"
After smoke tests there are about 300 goroutine leaking at pulsar producer.

[2021-08-11 14:25] #6354 closed

[2021-08-12 01:11] yanliang567 commented on #6997
mark as critical as it blocks ci nightly: https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/95/pipeline/126

[2021-08-12 01:17] orange-jams commented on #6611
Nice! Today I'll try it.

[2021-08-12 01:25] yanliang567 commented on #7055
could be a dup to #6693

[2021-08-12 01:36] #6977 closed

[2021-08-12 01:56] xige-16 commented on #6987
The issue has been fixed by pr #6982

[2021-08-12 01:56] #6987 closed

[2021-08-12 02:12] #6437 closed

[2021-08-12 02:13] del-zhenwu commented on #6634
in regression

[2021-08-12 02:19] xiaofan-luan commented on #7013
/assign @XuanYang-cn

[2021-08-12 02:19] del-zhenwu commented on #6607
only on standalone test with rc4-version
https://argo-test.zilliz.cc/workflows/qa/benchmark-cluster-cron-1628712000?tab=workflow&nodeId=benchmark-cluster-cron-1628712000-266554542

[2021-08-12 02:20] xiaofan-luan commented on #7013
hi xuan, would you mind help Filip on this issue? see also 7015

[2021-08-12 02:20] del-zhenwu commented on #6319
duplicated with #6607

[2021-08-12 02:20] #6319 closed

[2021-08-12 02:20] xiaofan-luan commented on #7015
/assign @XuanYang-cn

[2021-08-12 02:22] #7023 closed

[2021-08-12 02:29] XuanYang-cn commented on #6955
Still working on it now

[2021-08-12 02:29] sunby opened #7060 "Add timetick checker"
We found that a segment is only assigned 50w but its capacity is 100w. The reason may be that datacoord does not receive timetick msg from datanode, so the allocations of this segment don't expire. So I want to add a checker to listen for this. If tt msg is not received for several minutes, we output a warning log.

[2021-08-12 02:31] del-zhenwu commented on #7055
re-produced with test yaml
[code]
which only do search
[code]

[2021-08-12 02:31] yanliang567 commented on #7048
the root cause is after sq8 index built, querynode would load index, thus client shall specify the metric_type in search params.
to fix this we should check the params by index type in proxy, which would be tracked in #6804

[2021-08-12 02:34] yanliang567 commented on #6727
related to: #6804

[2021-08-12 02:48] #6634 closed

[2021-08-12 02:49] XuanYang-cn commented on #7013
I'm trying to recurrent this issue

[2021-08-12 02:50] XuanYang-cn commented on #6495
/unassign @czs007

[2021-08-12 02:57] scsven opened #7062 "Update OWNERS files"
#### What would you like to be added:
Update the approvers in all OWNERS files, and these people will check each pull request and make sure it meets the standard.

#### Why is this needed:

[2021-08-12 03:58] congqixia commented on #7056
Currently invoking cgo functionality must do `data copy`, which means same data occupies twice memory in both golang and cpp side.
And decoding message and row-column conversion consumes same amount of memory as well.
That's the two main reasons cause 3~4 times memory consumption.
Maybe we should have some solution for this case.
@xige-16

[2021-08-12 04:32] #7001 closed

[2021-08-12 06:14] #6998 closed

[2021-08-12 06:50] binbinlv opened #7064 "Distance is calculated wrong for binary vector using TANIMOTO metric"
#### Steps/Code to reproduce:
[code]
#### Expected result:
for
b'\xc0':  1100 0000
b'\x00': 0000 0000

TANIMOTO distance should be: length of the same part:
6 / (8+8-6)

#### Actual results:
Now the distance is: 2 / (8 + 8 -2)
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): 7fc7623
- Deployment mode(standalone or cluster): standalone
- SDK version(e.g. pymilvus v2.0.0rc2):

[2021-08-12 06:53] congqixia commented on #7049
We have located that memory leakage rate is related to the number of working rocksmq consumer. According to @fishpenguin this might be caused by misusing MemKV in Rocksmq. And this shall be solved by a WIP pr.
Would you please track this one? @fishpenguin
/assign @fishpenguin

[2021-08-12 07:15] yanliang567 commented on #7022
could be related to #7032 and issue #6849

[2021-08-12 07:34] yanliang567 commented on #6849
this issue is caused by load hang, which was fixed.
close.

[2021-08-12 07:34] #6849 closed

[2021-08-12 07:35] yanliang567 commented on #7022
@bigsheeper mentioned that this issue was caused by node failed, which is different from #6849.

[2021-08-12 07:38] czs007 opened #7065 "Leakage of flowgrpah and tsafer in special cases"
Imagine that the SDK has the following usage scenarios, and each step is synchronous：
collection A has two partitions: partitionA, partitionB

step1 partitionA.load()
step2 A.load()
step3 A.release()

#### Expected result:
QueryNode should release all resources about collection A.

#### Actual results:
The FlowGraph and tSafter related to partitionA are still in memory and have not been released.

[2021-08-12 07:51] bigsheeper commented on #7001
Collection has been loaded in `init_collection_general`, in the meantime, flow graph in query node begins to watch DML channel of message stream. And if we load collection before, the second loading would do nothing in query node, the new data would still be consumed by flow graph(`streaming` in query node)， instead of loading from `historical`. @cydrain @DragonDriver

[2021-08-12 07:52] bigsheeper commented on #7001
/assign @cydrain

[2021-08-12 07:52] yanliang567 commented on #6374
this error looks like similar to #7022

[2021-08-12 08:04] yanliang567 commented on #5703
@del-zhenwu does this repro recently on latest build?

[2021-08-12 08:05] yanliang567 commented on #6237
not sure, but it might be related to #7022

[2021-08-12 08:07] yanliang567 commented on #5053
@del-zhenwu  does this repro recently on latest build? if not, lets close it.

[2021-08-12 08:12] ThreadDao opened #7069 "When the indexNode pod is frequently killed and pulled up, the index creation get stuck"
#### Steps/Code to reproduce:
After stopping continuous injection of fault to the indexNode pod, create index get stuck. From the log of the indexCoord, it has been dealing with pods that were pulled up during fault injection. So that it can't handle new indexing req.

1. update <code>ALL_CHAOS_YAMLS = 'chaos_indexnode*.yaml'</code> in <code>/milvus/tests20/python_client/chaos/constants.py</code>

[2021-08-12 08:16] #6990 closed

[2021-08-12 08:16] del-zhenwu commented on #5703
seems no-reproduced, close

[2021-08-12 08:16] #5703 closed

[2021-08-12 08:18] #5053 closed

[2021-08-12 08:26] binbinlv opened #7070 "Add new test cases for distance calculation"
#### Steps/Code to reproduce:

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-08-12 08:46] yhmo commented on #7000
Already fixed.

[2021-08-12 08:46] #7000 closed

[2021-08-12 08:51] #6984 closed

[2021-08-12 08:56] #7003 closed

[2021-08-12 09:02] #6951 closed

[2021-08-12 09:13] #5396 closed

[2021-08-12 09:19] xiaocai2333 opened #7073 "indexnode does not need to wait for indexcoord to start to complete"
#### What would you like to be added:
IndexNode does not depend on IndexCoord.

#### Why is this needed:
IndexNode does not need to wait for IndexCoord to start to complete.

[2021-08-12 09:24] yhmo commented on #6900
Due to some technical issues, the RC3 is delay over one week. We decide to skip RC3, and directly publish the RC4. The release work is on-going.

[2021-08-12 09:31] #6841 closed

[2021-08-12 09:31] #7043 closed

[2021-08-12 09:32] #6385 closed

[2021-08-12 09:41] yhmo commented on #6911
Due to some technical issues, RC3 is delay for one week. We decide skip the RC3, and directly publish the RC4.

[2021-08-12 09:49] yhmo commented on #6812
@genting It seems your are using milvus v1.x, not v2.0.
I guess your steps are:
1. create a collection by `create_collction()`
2. create index by `create_index()`
3. insert 42000 vectors
4. search

For v1.x, there are two ways to build index:
A. create_collection() -> create_index() -> insert()
B. create_collection() -> insert() -> create_index()

The A: specify index type and insert, milvus will