[2021-09-03 09:12] #7317 closed

[2021-09-03 09:15] #7410 closed

[2021-09-03 09:42] bigsheeper commented on #7022
Queynode OOM when loading collection.
`50 * 1000000 * 512 * 4 / 1024.0 / 1024.0 / 1024.0 = 95.37（GB）`，95GB > 60GB (memory).
So queynode should prevent to load collection if collection beyonds the limit of memory, see #7434
@wangting0128

[2021-09-03 09:44] yanliang567 commented on #7470
@shanghaikid what about wait for one or two minutes? could you please attach the logs

[2021-09-03 09:44] yanliang567 commented on #7470
cc @zhuwenxing

[2021-09-03 09:45] shanghaikid commented on #7470
no, it is about 15 sec.

[2021-09-03 09:49] xiaocai2333 opened #7474 "Improve unit test coverage for index comppponent."
#### What would you like to be added:
Improve unit test coverage for index comppponent.
#### Why is this needed:
As above.

[2021-09-03 09:49] xiaocai2333 commented on #7474
/assign @xiaocai2333

[2021-09-03 09:53] yanliang567 commented on #7466
@sunby is it a dup to #7195

[2021-09-03 09:57] yanliang567 commented on #7470
we need to update the message to make an user understand what is going on

[2021-09-03 10:16] yanliang567 commented on #7236
@LoveEachDay please help on this

[2021-09-03 10:18] congqixia commented on #7466
@yanliang567 we checked the log, these two issues are not the same. We suspected that that root cause was some meta error between RC2~RC5 hot fix. The error scene environment has been delete. Could you please try to reproduce this one?

[2021-09-03 10:29] scsven opened #7476 "Increase code coverage rate to 80%"
Increase the code coverage rate to 80%

[2021-09-03 10:49] #7156 closed

[2021-09-03 11:14] yanliang567 commented on #7466
@zhuwenxing could you please help to reproduce this issue?

[2021-09-03 11:23] zhuwenxing commented on #7466
:ok_hand:

[2021-09-04 01:54] yanliang567 commented on #7158
still repro on master-20210903-960741e
[code]
results:
[code]

[2021-09-04 01:54] yanliang567 commented on #7158
/unassign

[2021-09-04 04:42] #6853 closed

[2021-09-04 04:42] #5654 closed

[2021-09-04 06:05] xiaofan-luan commented on #6951
Anyone is welcomed to add comments on the roadmap page or directly discuessed under git issues.

[2021-09-04 08:18] ThreadDao commented on #7469
1. Add cases for query on non-primary fields
2. Add cases for query with `not in` expr

[2021-09-04 08:28] #6427 closed

[2021-09-04 08:41] ThreadDao commented on #7429
This issue is fixed, and I will close it first.
[code]

[2021-09-04 08:41] #7429 closed

[2021-09-05 02:42] SuoSiFire opened #7485 "Milvus V1.1.1. The number of WAL files continues to increase."
#### Steps/Code to reproduce:

I use milvus of v1.1.1 to deploy one write node and multiple read nodes. After a few months of normal use, it was suddenly discovered yesterday that the inserted feature could not be retrieved after a few hours. So I went to look at the file directory and found that more than a dozen wal files were not processed. Then I restarted the service. After a long time, the s

[2021-09-05 09:03] #6722 closed

[2021-09-05 09:14] coconutyao opened #7486 "repeated"

[2021-09-05 09:27] #7486 closed

[2021-09-05 09:39] muxiximu opened #7487 "Support vector search in multimedia time series such as video or audio sequences"
#### Is your feature request related to a problem? Please describe:
In our scenario, we need tell the timestamp, duration and duration percentage of the source video that overlaps with target video.

#### Describe the solution you'd like:
vectors(extract multiple frames per video, extract a single feature per frame) to vectors search with time series support in milvus.

#### Describe alternatives

[2021-09-05 11:38] kevinzezel commented on #7460
45MM

Error: <DescribeCollectionException: (code=1, message=proxy not healthy)>
Error: <DescribeCollectionException: (code=1, message=proxy not healthy)>
Exception in thread Thread-35:
Traceback (most recent call last):
  File "/usr/lib/python3.8/threading.py", line 932, in _bootstrap_inner
    self.run()
  File "/usr/lib/python3.8/threading.py", line 870, in run
    self._target(*self._args, **se

[2021-09-05 14:52] zhuwenxing commented on #7466
/assign @zhuwenxing

[2021-09-05 16:06] xiaofan-luan commented on #7487
can you define what kind of reads you want to operate on Milvus?
such as search vector similar to x vector and time between t1 and t2.
This may not be easy on vector search scenario

[2021-09-06 00:59] yanliang567 commented on #7460
@sunby is it a know issue of insert deadlock?

[2021-09-06 01:22] yanliang567 commented on #6954
/assign

[2021-09-06 01:23] yanliang567 commented on #6954
verify on master-20210903-960741e, close

[2021-09-06 01:23] #6954 closed

[2021-09-06 01:25] yanliang567 commented on #7392
close

[2021-09-06 01:25] #7392 closed

[2021-09-06 01:29] yanliang567 commented on #7103
verify and close

[2021-09-06 01:29] #7103 closed

[2021-09-06 01:37] yanliang567 commented on #7487
can we implement this by support timestamp data type in scalar field?

[2021-09-06 02:31] wangting0128 commented on #6237
Not recurring

[2021-09-06 02:31] #6237 closed

[2021-09-06 03:00] czs007 opened #7489 "Fix rootcoord unittest"
When asserting the DDL message in the DMChannel, the timetick message needs to be filtered out first.

[2021-09-06 03:00] zhuwenxing commented on #7466
I checked the RC2's docker-compose.yml, there are no volumes in content. So I am wondering how you upgrade RC2 to RC4? When RC4 upgrade to RC5-hotfix, I have not occurred this issue.

[2021-09-06 03:11] yanliang567 commented on #6374
/assign @wangting0128

[2021-09-06 03:11] shanghaikid commented on #7466
I don't remember, it has been too long.

[2021-09-06 03:21] yhmo commented on #7485
Could you describe your insert pattern? How many vectors per insert request? How many insert requests per minute? Dimension of the vectors?

[2021-09-06 03:33] SuoSiFire commented on #7485
I found that it may be that my delete operations are relatively large and I did not delete them in batches, which caused the wal processing speed to slow down. It looked better after I changed it.

I found this log in the debug log

[2021-09-05 17:56:40,158][DEBUG][SERVER][PrintTimeRecord][wal_thread] handle segment 1630140249199818000: Find uids and set deleted docs and bloom filter, append 0 off

[2021-09-06 03:35] SuoSiFire commented on #7485
But now I have a new problem. I tried to index a new collection, but he got stuck.

I can see in the debug log that the indexing request started, but it has not been successful.

It has been stuck for about 10 minutes.

[2021-09-06 03:47] sunby opened #7491 "Add log module unit tests"

[2021-09-06 03:47] sunby commented on #7491
/assign @sunby

[2021-09-06 03:52] #7489 closed

[2021-09-06 03:53] 785321021 opened #7493 "pin_mem_size 256MB, temp_mem_size 256MB, resource count 2"
#### Steps/Code to reproduce:
search top 50

#### Expected result:
Faiss assertion 'err__ == cudaSuccess' failed in void Faiss::gpu::runL2Norm(Faiss::gpu::Tensor<T, 2, true, IndexType>&, bool, Faiss::gpu::tensor<float, 1, true, IndexType>&, bool, cudaStrean_t) [with T = float; TVec = float4; Indextype = int; cudaStream_t = CUstream_st*] at gpu/impl/L2Norm.cu:292; details: CUDA error 209 not kernel

[2021-09-06 03:56] LoveEachDay opened #7494 "Nightly ci Pod crashed due to ephemeral storage limit"
#### Steps/Code to reproduce:
Run the nightly ci with the following code:
[code]
#### Expected result:
Expected the nightly ci pod runs normally until all the tests finished.

#### Actual results:
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Ot

[2021-09-06 03:57] yanliang567 commented on #7466
@shanghaikid @czhen-zilliz shall we close this issue for now, and reopen it if reproduced to you?

[2021-09-06 03:57] LoveEachDay commented on #7494
/assign @LoveEachDay

[2021-09-06 03:58] shanghaikid commented on #7466
Sure. Thanks.

[2021-09-06 04:03] SuoSiFire commented on #7485
I found this [issue](https://github.com/milvus-io/milvus/issues/4838), but the code version I used is v1.1.1, so I should bring this fix.

[2021-09-06 04:06] bigsheeper opened #7495 "Querynode addQueryChannel before watchDMLChannels"
#### Steps/Code to reproduce:
Querynode addQueryChannel before watchDMLChannels, and queryCollection would register empty tSafeWatcher, because there is no vChannels in collection before calling watchDMLChannels.

#### Expected result:
search passed

#### Actual results:
search timeout
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-7434/9/pipeline

#### Enviro

[2021-09-06 04:07] bigsheeper commented on #7495
/assign

[2021-09-06 06:34] sunby opened #7500 "Remove no neeeded stats watcher"

[2021-09-06 06:41] sunby commented on #7460
I am not sure. @kevinzezel Can you provide the proxy log file?

[2021-09-06 06:42] jaelgu commented on #7437
confirmed: not a bug, it happens due to change in benchmark scripts.

[2021-09-06 06:42] #7437 closed

[2021-09-06 06:52] ThreadDao commented on #7186
This issue is fixed, and I will close it first.
[code]

[2021-09-06 06:52] #7186 closed

[2021-09-06 07:08] #6889 closed

[2021-09-06 07:14] binbinlv commented on #6817
It occurs in nightly CI rencently, [standalone], so put it in RC6 to have a look again.

https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/122/

- milvus(build from source):  7c4b15e
- pymilvus: 2.0.0rc5.dev29

error="syncTimestamp Failed:rpc error: code = DeadlineExceeded
RootCoord Client grpc error"] [error="rpc error: code = DeadlineExceeded desc = context deadline exceeded"

[2021-09-06 07:53] binbinlv commented on #7300
Same panic occurs again on nightly cases: (standalone)
https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/129/

milvus:ccfb350
pymilvus: 2.0.0rc6.dev3

0.log.20210906-021807:

[code]

[2021-09-06 08:07] yanliang567 commented on #7242
similar to issue #6989.
@dzhyy could you please retry on latest Milvus and pymilvus?
/assign @dzhyy

[2021-09-06 08:29] jilieryuyi opened #7503 "query fail with timeout and unrecoverable"
#### Steps/Code to reproduce:

Insert and query simultaneously

#### Expected result:
Query normal return data

#### Actual results:
error detail：
[2021/09/06 07:30:20.440 +00:00] [WARN] [query_collection.go:857] ["Search failed, C runtime error detected, error code = 1, error msg = "]
[2021/09/06 07:30:20.440 +00:00] [DEBUG] [time_recorder.go:62] ["receiveQueryMsg 427533558836961435: operation do

[2021-09-06 08:30] xiaofan-luan commented on #7503
please change to english, this helps others who hit the samilar issue, thanks

[2021-09-06 08:35] jilieryuyi commented on #7503
collection with index：

err = c.client.CreateCollection(ctx, schema, 2) // only 1 shard
idx, err := entity.NewIndexIvfFlat(entity.L2, 32)
if err != nil {
return err
}
err = c.client.CreateIndex(ctx, collectionName, "vectors", idx, false)

[2021-09-06 08:37] binbinlv opened #7504 "Nightly cases failed because rootcoord disconnect with etcd"
#### Steps/Code to reproduce:
Run nightly CI:

From milvus server log, the following 4 tests seem failed for the same reason (rootcoord disconnect with etcd), need to investigate further why etcd is not available:

https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/128/
https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/127/
https://ci.milvus.io:18080/jenkins/job/

[2021-09-06 08:49] binbinlv commented on #7027
Run "test_insert_binary_multi_times" case for 100 times in local env, no errors.

And I will close it tomorrow morning if no same error occurs again in today's nightly cases.

[2021-09-06 09:12] shanghaikid opened #7506 "panic: Invalid argument: end key comes before start key"
This morning I tried to insert some data, everything was ok.

In the afternoon, I find the server is crashed.
I did nothing during the time.
Here is my log.

Server: milvusdb/milvus:v2.0.0-rc5-hotfix1-20210901-9e0b2cc

[2021/09/06 08:59:43.738 +00:00] [DEBUG] [rocksmq_retention.go:353] ["In expiredCleanUp: "] [topic=car_search_427467498275209217_0] [endID=0] [deletedAckedSize=0]
panic: Invalid arg

[2021-09-06 09:18] yanliang567 commented on #7506
/assign @fishpenguin

[2021-09-06 09:22] fishpenguin commented on #7506
This is a rocksmq retention bug, and already fixed in latest master branch and will be released in RC6.

[2021-09-06 09:31] #7506 closed

[2021-09-06 09:36] DragonDriver opened #7507 "Need a script to check if Apache license exists in go files"
#### What would you like to be added:

I want to add a script to check if Apache license exists in all go files. Meanwhile, using this script as a GitHub action would be better.

By the way, a script that automatically add milvus license to go files would also be very nice.

#### Why is this needed:

Decrease the time that developers add Apache license to newer added files.

[2021-09-06 09:38] shanghaikid commented on #7507
https://github.com/google/addlicense

[2021-09-06 11:06] #7494 closed

[2021-09-06 11:15] jilieryuyi commented on #7503
The error returned from the first call is： Proxy TaskCondition context Done

[2021-09-06 12:00] ThreadDao opened #7513 "Insert does not support string type"
#### Steps/Code to reproduce:
1. Create a collection with `[int64, string, float_vector]` fields
2. Failed to insert list data
[code]

#### Expected result:
Create collection successfully, insert data successfully

#### Actual results:
Create collection successfully, and failed to insert
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
  86afde4    Mon Sep  6 03:56:05 UTC 20

[2021-09-06 12:01] wz520bb commented on #7361
QPS 100 takes 260ms，It's also a long time

[2021-09-06 12:10] binbinlv opened #7514 "Enable test case after code fix"
What would you like to be added:

1 enable test case "test_insert_binary_multi_times " to verify issue 7027
2 Test case "test_search_different_index_invalid_params" does not need parameter combination "nq, dim" etc.

[2021-09-06 13:04] czs007 opened #7516 "Tso did not load last timestamp, maybe cause time backwards"
Tso should load the old timestamp in the etcd first and compare it with the current time during the initialization phase to determine the final initialization timestamp.

[2021-09-06 14:23] cydrain opened #7517 "Improve codecov for rootcoord"
#### What would you like to be added:
Improve codecov for rootcoord

#### Why is this needed:
Improve code quality

[2021-09-06 16:06] wangting0128 commented on #7022
Verify after repair

[2021-09-06 16:07] wangting0128 commented on #6374
following up

[2021-09-07 01:41] xiaocai2333 commented on #7513
/assign @czs007

[2021-09-07 02:33] ThreadDao opened #7521 "Does not support querying by bool field"
#### Steps/Code to reproduce:
1. create dataFrame with fields `[int64, float, float_vec, bool]`
2. construct collection from dataframe (create collection and insert)
3. flush and load
4. query with expr: `bool in [False]`
[code]

#### Expected result:
Query successfully

#### Actual results:
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
   86afde4   Mon Sep  6 03:56:05 UT

[2021-09-07 02:35] binbinlv commented on #7504
Same issue occurs again at nightly tests: [standalone]
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/130/artifacts

milvus: 42b687b
pymilvus: 2.0.0rc6.dev3

milvus log: artifacts-milvus-standalone-master-130-e2e-nightly-logs
0.log:

[code]

[2021-09-07 02:40] ThreadDao opened #7522 "Query output fields does not support bool field"
#### Steps/Code to reproduce:
1. create dataFrame with fields [int64, float, float_vec, bool]
2. construct collection from dataframe (create collection and insert)
3. flush and load
4. query with expr: `int64 in [0, 1]` and output all scala fields
[code]

#### Expected result:
Query result output int64, float and bool fields

#### Actual results:
[code]

#### Environment:
- Milvus version(e.g. v2.

[2021-09-07 02:59] binbinlv commented on #7338
Similar issue occur when running CI: (standalone)

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-7515/1/pipeline

milvus: 84092d1a3

[code]
[code]

Milvus Logs:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-ha-ci/detail/PR-7515/1/artifacts
artifacts-milvus-standalone-PR-7515-1-pymilvus-e2e-logs.tar.gz

[2021-09-07 03:13] binbinlv opened #7523 "Add "BIN_FLAT" index test for binary data"
What would you like to be added:

1 Add "BIN_FLAT" index scenario in test case "test_search_binary_jaccard_flat_index", "test_search_binary_hamming_flat_index", and "test_search_binary_tanimoto_flat_index"

2 Increase execution timeout for cluster.

[2021-09-07 03:16] #7517 closed

[2021-09-07 03:44] bigsheeper commented on #6726
/assign @yanliang567
need to verify after fixed

[2021-09-07 03:45] bigsheeper commented on #7022
#7434 have been merged
/assign @wangting0128

[2021-09-07 03:47] bigsheeper commented on #7022
#7434 have been merged

[2021-09-07 03:47] bigsheeper commented on #7022
/assign @wangting0128

[2021-09-07 03:55] yanliang567 commented on #6726
working on verification

[2021-09-07 03:59] jingkl commented on #7449
/assign @jingkl

[2021-09-07 04:14] timshen commented on #7027
@binbinlv   any update?

[2021-09-07 04:45] xige-16 commented on #7338
The first reason is that the benchmark will create a large number of growing segments, and each segment will only insert a few rows of data, but the growing segment will still pre-allocate the size of a chunk. If the vector is 128-dimensional, the pre-allocated space is about 16M, so memory will run out quickly.

[2021-09-07 04:48] xige-16 commented on #7338
The second reason is that the IDs and distance of the dataset in knowwhere are allocated through malloc, and there is no free IDs and distance after the growing segment is processed and searched, which leads to memory leaks.

[2021-09-07 05:05] binbinlv commented on #7027
Could not reproduce now, close it. Will reopen it if it occurs in the future.

[2021-09-07 05:05] #7027 closed

[2021-09-07 05:58] #7514 closed

[2021-09-07 06:00] yanliang567 commented on #6726
keep repro on master-20210907-b710335
[code]

[2021-09-07 06:00] yanliang567 commented on #6726
/unassign
/assign @bigsheeper

[2021-09-07 06:09] LoveEachDay opened #7528 "RootCoord failed to new MetaSnapshot due to timestamp go back"
#### Steps/Code to reproduce:
1. Install a milvus standalone cluster with helm chart: `helm install my-release milvus/milvus`
2. Create a collection, insert some data and make a query
3. Kill the milvus standalone pod, wait for the new pod to run
4. Check the milvus standalone pod log

#### Expected result:
The new milvus standalone pod runs normally.

#### Actual results:
[code]

#### Environment

[2021-09-07 06:10] LoveEachDay commented on #7528
/cc @czs007

[2021-09-07 06:22] LoveEachDay opened #7530 "RootCoord failed to new MetaSnapshot due to etcdserver compacted requeste revision"
#### Steps/Code to reproduce:
1. Install a milvus standalone cluster with helm chart:
    `helm install my-release milvus/milvus`
   and edit the etcd deployment to enable auto-compaction with two env:
   `ETCD_AUTO_COMPACTION_MODE=revision ETCD_AUTO_COMPACTION_RETENTION=1000`

2. Create a collection, insert some data and make a query
3. Kill the milvus standalone pod, wait for the new pod to run

[2021-09-07 06:23] wangting0128 commented on #7022
**recurrent**

argo task：benchmark-qnvlt

client log：
[code]

[2021-09-07 06:29] xige-16 commented on #7326
pr #7527 has fixed the memory leak when searching.

[2021-09-07 06:32] xige-16 commented on #6868
This issue no longer appears, if it does, I will open it again.

[2021-09-07 06:32] #6868 closed

[2021-09-07 06:33] yanliang567 commented on #7326
working on the verification
/assign
/unassign @xige-16

[2021-09-07 06:51] binbinlv opened #7532 "Pymilvus code error "self._kw.get": 'Milvus' object has no attribute '_kw'"
#### Steps/Code to reproduce:
1 Upgrade pymilvus to 2.0.0rc6.dev8  or higher:
2 run any test cases.

I think here "self._kw.get" is wrong in the following file. maybe "kw" should be "kwargs".

 File "/usr/local/lib/python3.6/site-packages/pymilvus/client/stub.py", line 137, in _wait_for_healthy
    _timeout_on_every_retry = self._kw.get("timeout", None)

#### Expected result:
No such error

#### A

[2021-09-07 07:00] shiyu22 opened #7533 "Doc issue: Chinese and English are different"
Chinese: https://milvus.io/cn/docs/v2.0.0/index.md#%E7%94%A8%E6%88%B7%E4%B8%BB%E5%8A%A8%E5%88%9B%E5%BB%BA%E7%B4%A2%E5%BC%95
English: https://milvus.io/docs/v2.0.0/index.md#Index-by-segment

The Chinese content is wrong, I think 2.0.0 does not have the `index_file_size` parameter. And the English do not have this part of the introduction.

[2021-09-07 07:21] #7532 closed

[2021-09-07 07:27] shiyu22 opened #7534 "Doc issue: parameters need to be updated"
First of all, Chinese and English are different. Chinese is called `dataservice.segment.size`, and English is `dataCoord.segment.size`, but the correct parameter should be updated to `datacoord.segment.maxSize`.

Chinese needs to be updated:
- [dataCoord.segment.size](https://milvus.io/cn/docs/v2.0.0/configuration_standalone-advanced.md#%E7%B3%BB%E7%BB%9F%E8%A1%8C%E4%B8%BA%E9%85%8D%E7%BD%AE)
- [da

[2021-09-07 07:32] congqixia opened #7535 "MqMsgStream Seek only first position"
See code below
https://github.com/milvus-io/milvus/blob/89815a64d7881cd7af30f51db586604fb4122e7d/internal/msgstream/mq_msgstream.go#L386-L419

Line 416 breaks the for loop and skip the remaining positions

[2021-09-07 07:35] #7523 closed

[2021-09-07 07:45] #7337 closed

[2021-09-07 07:55] zhuwenxing opened #7538 "Add github action workflow for deploy test"
#### What would you like to be added:
Add a workflow to test Milvus docker-compose deployment
#### Why is this needed:
Automate deployment tests

[2021-09-07 08:30] yhmo commented on #7503
This line indicated the search parameter is illegal:
Assert "(adapter->CheckSearch(conf, index_type, field_indexing->indexing->index_mode()))" at /go/src/github.com/milvus-io/milvus/internal/core/src/query/SearchOnSealed.cpp:99

Your index is IvfFlat, the CheckSearch() will check this:
1.  nprobe >= 1 and nprobe <= 65536
2. topk >= 1 and topk <= 16384

Could you show your code of calling the searc

[2021-09-07 08:35] #7535 closed

[2021-09-07 09:05] yhmo commented on #7503
For example, I input search parameter like this: search_params = {"metric_type": "L2", "params": {"nprobe": 0}}
The server will return the error which you encountered:
[code]

It return the error to me:
[code]

[2021-09-07 09:16] YiyunNi opened #7541 "Please add the instruction on how to develop Milvus on macOs."
#### What would you like to be added:

Please add the instruction on how to [develop Milvus on macOs](https://github.com/milvus-io/milvus-docs/blob/v2.0.0/site/en/getstarted/develop_macos.md) to this repo.

#### Why is this needed:
There is a doc DEVELOPMENT.md but lacks the instruction on how to develop on macOS.

[2021-09-07 09:17] yhmo commented on #7503
I download the rc5-hotfix1 to test, input invalid parameter nprobe=0. The sdk return error to me: "Error: <BaseException: (code=1, message=Search failed, C runtime error detected, error code = 1, error msg =
)>"

The server also can work after return this error. After I change the parameter to a valid value, it works well.

[2021-09-07 09:20] wangting0128 commented on #6374
No recurrence on commit 9e0b2cc

[2021-09-07 09:20] #6374 closed

[2021-09-07 09:22] yanliang567 commented on #7504
@godchen0212 could you please update the status for this issue , this is blocking rc6

[2021-09-07 09:27] yanliang567 commented on #7338
@wangting0128 please file a new issue for first reason in @xige-16 's comments above.

[2021-09-07 09:40] wangting0128 opened #7543 "[benchmark] create a large number of growing segments, memory will run out quickly"
#### Steps/Code to reproduce:
creating a large number of growing segments by
1. keeping inserting a small numbers(10) of entities
2. and keeping flush(get num_entities) frequently

#### Expected result:
Memory will not rise abnormally and overflow

#### Actual results:
memory run out quickly.

#### Analysis:
the growing segment will still pre-allocate the size of a chunk. If the vector is 128-dime

[2021-09-07 09:41] wangting0128 commented on #7338
New issues for tracking：https://github.com/milvus-io/milvus/issues/7543

[2021-09-07 09:46] ThreadDao opened #7544 "Query with random filter values gets incomplete results"
#### Steps/Code to reproduce:
The range of field `int64` is 0 to 1199. Query with expression `int64 in [0, 2, 4, 3]` gets incomplete results `[{'int64': 0}, {'int64': 2}, {'int64': 4}]`
[code]

#### Expected result:
`[{'int64': 0}, {'int64': 2}, {'int64': 4}, {'int64': 3}]`

#### Actual results:
Insert df:
[code]
Query result:
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):

[2021-09-07 09:47] congqixia opened #7545 "Unused and duplicated code in DataCoord"
There are some unused implementation in `DataCoord`
And `internal/distributed/datacoord/Server` and `internal/datacoord/Server` has duplicated code

[2021-09-07 09:52] LoveEachDay opened #7547 "Allow PR with kind/improvement label to merge without linking a issue"
#### What would you like to be added:
Allow PR with kind/improvement label to merge without linking a issue.

[2021-09-07 10:06] godchen0212 commented on #7504
It seems rather a system problem than an etcd problem

[2021-09-07 10:26] congqixia opened #7548 "Improve Datacoord test coverage in distributed package"
The `datacoord` component is not covered by unit tests

[2021-09-07 10:35] shiyu22 opened #7549 "CMake Error Could NOT find Boost when build Milvus2.0 from source"
#### Steps/Code to reproduce:
- [Build Milvus2.0 from source](https://github.com/milvus-io/milvus#to-start-developing-milvus)

#### Expected result:
Build successfully.

#### Actual results:
[code]

#### Environment:
- cmake3.21.2
- go1.17
- gcc7.5.0

#### Additional context:
I do install `boost_all-dev`, but still get an error that `CMake is not able to find Boost`. I also try to reinstall **cmak

[2021-09-07 10:46] cydrain commented on #7543
/assign

[2021-09-07 11:37] ThreadDao opened #7553 "Query with not in term expression and random filter values gets wrong results"
#### Steps/Code to reproduce:
The range of field int64 is 0 to 50. Query with expression int64 in random [10,..,49] gets wrong results.
[code]

#### Expected result:
[code]

#### Actual results:
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
  76f5264   Tue Sep  7 08:38:36 UTC 2021
- Deployment mode(standalone or cluster):
   cluster
- SDK version(e.g. pymilvus v2.0.0rc2):

[2021-09-07 12:10] ThreadDao commented on #6624
Now, querying with duplicated primary keys will return all hit entities. Such as insert data:
[code]
query with term expression: `int64 in [0, 0, 0]` will get all entities. Because the int64 field value of each entity is 0.

[2021-09-07 12:35] cymarechal commented on #7179
I had the same error message running cluster mode on k8s with Istio. Looks like Envoy proxy is blocking gRPC calls before etcd could even receive the request:
[code]
Please keep me posted if you find a solution.

[2021-09-07 13:29] godchen0212 commented on #7504
When I run the nightly tests locally. It crashes with tens of millions of goroutines. It may be the root cause. I will try again a few times.
<img width="1226" alt="Screen Shot 2021-09-07 at 21 14 44" src="https://user-images.githubusercontent.com/67679556/132351070-5685a79a-4bdf-4ebe-92cc-e487d694ae01.png">

[2021-09-08 00:09] filip-halt opened #7555 "expression works with search but error thrown on query"
#### Steps/Code to reproduce:

The expression works for searching but throws out a `not top level term` on queries.

Run this script, very basic example:

[code]

#### Expected result:

Be able to query based on the expression

#### Actual results:

Receive a `not top level term` error on the query but not on the search goes through with no error

#### Environment:
- Milvus version rc5-hotfix
- St

[2021-09-08 00:10] filip-halt commented on #7555
/assign @xiaofan-luan

[2021-09-08 02:07] #7547 closed

[2021-09-08 02:11] fishpenguin commented on #7555
/unassign  @xiaofan-luan
/assign @fishpenguin

[2021-09-08 02:14] yfq512 commented on #1700
Hi, I face the same bug with you
[code]
how do you solve it?

[2021-09-08 02:18] cydrain commented on #7210
After deep investigation, we think Arrow is not suitable for Milvus.
I described the detailed reason in MEP document:
wiki.lfaidata.foundation/display/MIL/MEP+13+--+Support+Apache+Arrow+As+In-Memory+Data+Format

[2021-09-08 02:19] cydrain commented on #7210
/close

[2021-09-08 02:19] #7210 closed

[2021-09-08 02:22] cydrain commented on #7056
/assign

[2021-09-08 02:25] yhmo opened #7556 "Ignore ci-passed tag when pull request doesn't trigger the ci"
Ignore ci-passed tag when pull request doesn't trigger the ci

[2021-09-08 02:30] yanliang567 commented on #7556
I think we shall add a rule to automatically add ci-passed tag if the pr **only** includes changes in *_test.go

[2021-09-08 03:17] binbinlv opened #7562 "Milvus crashed with fatal error throwing panic"
#### Steps/Code to reproduce:
Run nightly test cases: [standalone]
https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/131/

Logs:
artifacts-milvus-standalone-master-131-e2e-nightly-logs:

0.log

#### Expected result:
No panic

#### Actual results:
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): 76f5264
- Deployment mode(standalone or cluster): standalone
-

[2021-09-08 03:22] yhmo commented on #7485
Index time cost depends on how many vectors in this collection, and what the index parameter is. For example, nlist=128 and nlist=4096 time cost is totally different.

The #4838 is for not block an empty collection index if the background build index thread is working.  If your new collection is empty, but it stuck, that means the background build index thread is working for old collection.

[2021-09-08 03:30] DragonDriver commented on #7507
/assign

[2021-09-08 03:49] #7362 closed

[2021-09-08 03:55] bigsheeper opened #7564 "Add unittests for query node"
#### What would you like to be added:

#### Why is this needed:

[2021-09-08 03:56] czs007 commented on #7562
@bigsheeper  is working on it . Add logic to avoid crashes, instead return errors.

[2021-09-08 03:58] scsven commented on #7493
@785321021 `CUDA error 209` It seems related to a hardware problem. Please provide more information about your graphics card, the CUDA version, and the driver version.

[2021-09-08 04:02] binbinlv opened #7566 "Search could not be executed when filtering using bool field"
#### Steps/Code to reproduce:

[code]

#### Expected result:
Search succesfully

#### Actual results:
Assert:
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): latest
- Deployment mode(standalone or cluster): standalone
- SDK version(e.g. pymilvus v2.0.0rc2):
2.0.0rc6.dev11
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional conte

[2021-09-08 04:10] #7469 closed

[2021-09-08 04:53] xiaofan-luan commented on #6940
hit similar issue, need to invitigate on it

[2021-09-08 05:02] binbinlv opened #7568 "Add more search test cases about bool field filtering"
What would you like to be added:

Add search test scenario about more types of field filtering: bool

cover: #7566

[2021-09-08 05:30] #6887 closed

[2021-09-08 06:13] cydrain commented on #6940
this issue has been fixed by #7200

[2021-09-08 06:34] 785321021 commented on #7493
graphics card:
NVIDIA-SMI 465.27       Driver Version: 465.27       CUDA Version: 11.3
04:00.0 VGA compatible controller: ASPEED Technology, Inc. ASPEED Graphics Family (rev 41)
18:00.0 VGA compatible controller: NVIDIA Corporation Device 2204 (rev a1)
3b:00.0 VGA compatible controller: NVIDIA Corporation Device 2204 (rev a1)
86:00.0 VGA compatible controller: NVIDIA Corporation Device 2204 (rev a

[2021-09-08 06:49] scsven commented on #7493
@785321021 What is the model of your graphics card? Is it the RTX series?

[2021-09-08 06:50] #7491 closed

[2021-09-08 06:50] #7500 closed

[2021-09-08 07:00] #6690 closed

[2021-09-08 07:14] 785321021 commented on #7493
GPU 00000000:18:00.0
    Product Name                          : NVIDIA GeForce RTX 3090
    Product Brand                         : GeForce
    Display Mode                          : Disabled
    Display Active                        : Disabled
    Persistence Mode                      : Disabled
    MIG Mode
        Current                           : N/A
        Pending

[2021-09-08 07:16] 785321021 commented on #7493
@scsven

[2021-09-08 07:17] LocoRichard opened #7574 "[Document] Inappropriate headings"
To start using Milvus

&

To start developing Milvus

[2021-09-08 07:17] LocoRichard commented on #7574
/assign

[2021-09-08 07:24] xige-16 opened #7576 "Add removeDmChannels interface for querynode"
#### Is your feature request related to a problem? Please describe:
querynode should add removeDmChannels interface to unsubscribe some dmChannels.

#### Describe the solution you'd like:

#### Describe alternatives you've considered:

#### Additional context:

[2021-09-08 07:25] xige-16 commented on #7576
/assign @bigsheeper

[2021-09-08 07:28] xige-16 commented on #7576
duplication with #7315

[2021-09-08 07:28] #7576 closed

[2021-09-08 07:36] shiyu22 opened #7579 "Add the requirements when building from source"
When I build Milvus from source, there are no requirements, such as camke/go/gcc.

And I think the version of the requirements:
[code]
Right? And I can add a PR to note that.

[2021-09-08 08:07] #7556 closed

[2021-09-08 08:27] godchen0212 commented on #7504
Same as #7345

[2021-09-08 08:30] jilieryuyi commented on #7503
Today I encountered another error
![微信图片_20210908162757](https://user-images.githubusercontent.com/2398119/132474650-533f1f4d-a987-44d0-a395-38674851dd0e.png)
![微信图片_20210908162814](https://user-images.githubusercontent.com/2398119/132474654-1a234ded-6c4a-45b8-a165-d572cc92c416.png)

@yhmo

[2021-09-08 08:34] jilieryuyi commented on #7503
Entity Count

2,783,107   this time

[2021-09-08 08:36] ss892714028 opened #7586 "Information in Milvus readme is outdated"
#### What would you like to be added:
update the star number
![WeChatWorkScreenshot_a6e77ca3-1e83-4142-8c6e-fb2ccb4da857](https://user-images.githubusercontent.com/34635663/132475615-c801c27b-4511-4755-a503-e52beaf53f48.png)

#### Why is this needed:
Update the number of stars

[2021-09-08 08:52] jilieryuyi commented on #7503
restart , but unrecoverable

[2021-09-08 09:10] #7564 closed

[2021-09-08 09:31] DragonDriver commented on #7449
/assign @nameczz

[2021-09-08 09:39] mayunjie opened #7594 "create index failed"
#### Steps/Code to reproduce:
1、insert vector
2、create index

#### Expected result:
create success

#### Actual results:
1、low cpu load，nearly 1.0
2、create very slowly
3、uncomplete after 12 hour

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): 1.1.1
- Deployment mode(standalone or cluster): standalone
- SDK version(e.g. pymilvus v2.0.0rc2): Java v1.1.1
- OS(Ubuntu or CentOS): CentO

[2021-09-08 09:42] cydrain commented on #7543
After change size_per_chunk_ from 16M to 256K, run Milvus standalone locally, memory usage increases 2.5G in 24 minutes.

[2021-09-08 09:43] xiaofan-luan commented on #6813
working on it

[2021-09-08 09:51] #7439 closed

[2021-09-08 09:52] #6789 closed

[2021-09-08 10:01] jingkl opened #7597 "Guidelines for Test Framework document error"
Missing Image  here
![2](https://user-images.githubusercontent.com/34296482/132489373-0090a87b-c840-4085-966b-13d48ad3dab4.png)

[2021-09-08 10:06] jingkl opened #7598 "[Document] Correction of title error"
![3](https://user-images.githubusercontent.com/34296482/132490105-b7bb169f-c275-490f-9298-b6b72ec6899a.png)

need to be change Guidelines for Test Framework

[2021-09-08 10:10] czs007 commented on #7300
Probably found the reason.

in milvus/internal/util/rocksmq/server/rocksmq/rocksmq_impl.go we have following code in function Consume:
[code]
val 's type is  `Slice` which is define as follows in  github.com/tecbot/gorocksdb/slice.go
[code]
charToByte is defined in github.com/tecbot/gorocksdb/util.go
[code]
we can see than charToByte converts a *C.char to a byte slice. It just  encapsulates a low-

[2021-09-08 10:11] leidaxia opened #7600 "My k8s version is 1.12, but milvus only support. 1.14 or newest"
I want to deploy milvus on k8s, but my k8s version is 1.12,  but milvus only support 1.14 or newest,  I want to use it on Online,  I
cannot confirm the performance
https://milvus.io/cn/docs/v2.0.0/prerequisite-helm.md
![image](https://user-images.githubusercontent.com/20982126/132490911-fd5efebf-c42d-46bc-aa8f-87c981baca57.png)

[2021-09-08 10:11] shiyu22 commented on #7549
I can still reproduce it with the code.

[2021-09-08 10:21] jingkl commented on #7597
/assign @jingkl

[2021-09-08 10:21] jingkl commented on #7598
/assign @jingkl

[2021-09-08 10:30] XuanYang-cn opened #7602 "Ut action panic for timeout in rootcoord"
#### Steps/Code to reproduce:
https://github.com/milvus-io/milvus/pull/7589/checks?check_run_id=3543036456

row-log
https://pipelines.actions.githubusercontent.com/c6NryAz2qaRK4LQlCYQ0LjvW1gQAYdd7KMx8DEnmMHb4LaBm12/_apis/pipelines/1/runs/16469/signedlogcontent/3?urlExpires=2021-09-08T10%3A24%3A58.2541436Z&urlSigningMethod=HMACV1&urlSignature=ESO424bf7bZPrTmXPL2Gj3f%2F14owRNYVLpANME5e%2FNo%3D

####

[2021-09-08 10:32] congqixia commented on #7602
raw log uri expired. Re-run ut will expire the link

[2021-09-08 10:47] XuanYang-cn commented on #7602
[logs_16469.zip](https://github.com/milvus-io/milvus/files/7128217/logs_16469.zip)

[2021-09-08 10:58] zhuwenxing opened #7603 "Upgrade from rc5-hotfix1 to master-latest failed"
#### Steps/Code to reproduce:
* deploy milvus `v2.0.0-rc5-hotfix1` by `docker-compose up -d`
* insert data
* uninstall milvus by `docker-compose down` but keep volumes dir
* deploy milvus `master-20210908-50c677f` by `docker-compose up -d`

#### Expected result:
deploy sucess

#### Actual results:
containers like`milvus-standalone` exited
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2

[2021-09-08 12:29] kevinzezel commented on #7460
@sunby Where can i find the proxy log file?

[2021-09-08 12:41] kevinzezel commented on #7460
docker logs --tail 100 milvus-standalone

[code]

[2021-09-08 13:20] dinuthomas opened #7607 "DB file size increase drastically after a copy from milvus to another."
Hi,

Our architecture needs 2 milvus deployments and we have a requirement of creating the embeddings in one milvus (Milvus 1) ,  followed by an scp routine which will copy the entire /db and /wal folder from milvus 1 to another milvus ( milvus2). The serving will happen in Milvus 2.

It is observed that the db folder size is different and very high after this copy. We have observed that the bloom

[2021-09-08 13:31] #7485 closed

[2021-09-08 14:43] xiaofan-luan commented on #7603
/assign @cydrain

[2021-09-08 16:02] #7555 closed

[2021-09-09 01:56] cydrain commented on #7603
The panic is expected, it's introduced by PR #7323.
Before rc6, rootcoord creates random physical channels for each collection.
Since rc6, rootcoord applies for physical channels from msgstream pool.
This panic is because rc6 cannot recognize the physical names created by rc5-hotfix1.

[2021-09-09 02:01] fishpenguin commented on #7460
This is a bug of rocksmq retention, and already been fixed in latest master branch by [pr7403](https://github.com/milvus-io/milvus/pull/7403/files) This will be released in 2.0.0-RC6.

[2021-09-09 02:23] yanliang567 commented on #7603
@xiaofan-luan it sounds that data in rc5 would NOT be available after upgraded to rc6. any ideas?

/assign @xiaofan-luan

[2021-09-09 02:35] binbinlv commented on #7435
Same issue occurs again on the latest nightly:
https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/132/

milvus: c74c305
pymilvus: 2.0.0rc6.dev3

Milvus logs:
artifacts-milvus-distributed-master-132-e2e-nightly-logs:

Timeline:
[2021-09-08T18:25:48.939Z]: test hangs

Hangs test:  test_search_concurrent_multi_threads.
collection name:  search_collection_S2MkJqVU

[2021-09-09 02:36] binbinlv commented on #7435
@sunby so what is the next step? investigating why data node disconnecting with etcd?

[2021-09-09 02:39] yanliang567 commented on #7504
@binbinlv  please help to verify and close

[2021-09-09 02:39] yanliang567 commented on #7553
@ThreadDao  please help to verify and close

/assign @ThreadDao

[2021-09-09 02:45] binbinlv commented on #7504
OK

[2021-09-09 02:47] czs007 commented on #7219
Looking at the log, RootCoord believes that the proxy has been deactivated according to the lease_key in etcd. In fact, the proxy is still alive, but the proxy does not panic itself.

[2021-09-09 03:29] ThreadDao opened #7613 "Calling loading_progress with invalid partition names did not throw exceptions"
#### Steps/Code to reproduce:
[code]
[code]

#### Expected result:
Raise an exception

#### Actual results:
partition_names=1
[code]
partition_names=[1, "2",3]
[code]
partition_names=""
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
   3c2821e
   Built:     Wed Sep  8 13:52:17 UTC 2021
- Deployment mode(standalone or cluster):
  cluster
- SDK version(e.g. pymilvus v2.0.0rc

[2021-09-09 03:59] XuanYang-cn opened #7617 "Panic in rocksmq ut"
https://github.com/milvus-io/milvus/pull/7606/checks?check_run_id=3551470746

[logs_16506.zip](https://github.com/milvus-io/milvus/files/7133285/logs_16506.zip)

#### Steps/Code to reproduce:
[code]

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubun

[2021-09-09 04:18] wangting0128 commented on #7252
【**Occasionally**】
test yaml：
client-configmap: client-get-local50m-512
server-configmap: server-single-16c64m

argo task：benchmark-cluster-cron-1631131200

server deploy：
[code]

client log：
[code]

[2021-09-09 04:37] wangting0128 opened #7618 "[benchmark] [standalone] syncTimestamp Failed:Connect to rootcoord failed"
#### Steps/Code to reproduce:
【**Occasionally**】
test yaml：
client-configmap: client-get-local50m-512
server-configmap: server-single-16c64m

argo task：benchmark-cluster-cron-1631131200

#### Expected result:

#### Actual results:

server deploy：
[code]

client log：
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): 9e0b2cc
- Deployment mode(standalone or cluster): standalone

[2021-09-09 04:38] wangting0128 commented on #7618
#7252

[2021-09-09 04:42] wangting0128 opened #7619 "[benchmark][cluster] GetSegmentID failed: SegmentIDAllocator failRemainRequest unexpected error"
#### Steps/Code to reproduce:
【**Occasionally**】
test yaml：
client-configmap: client-search-sift50m-ivf-flat-2048
server-configmap: server-cluster-16c64m

argo task：benchmark-cluster-cron-1631131200

#### Expected result:

#### Actual results:
server deploy：
[code]

client log：
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): v2.0.0-rc5-hotfix1-20210901-9e0b2cc
- Deployment

[2021-09-09 04:42] wangting0128 commented on #7619
#6236

[2021-09-09 05:12] yanliang567 commented on #7300
/assign @binbinlv
Please help to doubel check

/unassign @czs007

[2021-09-09 05:18] yanliang567 commented on #7326
not repro on master master-20210908-3c2821e

[2021-09-09 05:18] #7326 closed

[2021-09-09 05:27] godchen0212 opened #7620 "Standalone oom when recover from existing storage."
#### Steps/Code to reproduce:
1. Run standalone and run pytest for some times (I ran it for about 3 hours)
2. Stop standalone
3. Start standalone with the same rocksmq path.

#### Expected result:
Start standalone successfully.

#### Actual results:
System memory usage is rising very fast and causes OOM eventually.

#### Environment:
- Milvus version(05464377):
- Deployment mode(standalone):
- SDK

[2021-09-09 05:34] godchen0212 commented on #7620
May be related to issue #7504

[2021-09-09 06:02] yanliang567 commented on #7618
@wangting0128  does it an OOM, as 512d-50M data size is about 100GB, which is exceeded 16c64m

[2021-09-09 06:05] XuanYang-cn commented on #7602
https://github.com/milvus-io/milvus/pull/7615/checks?check_run_id=3552100677 again
[Uploading logs_16527.zip…]()

[2021-09-09 06:32] #7538 closed

[2021-09-09 06:36] congqixia commented on #7602
FYI, found the case which hang:
[code]
Looks like producer creation blocked

[2021-09-09 06:36] xiaofan-luan commented on #7503
can you offer logs for further investigation? thanks

[2021-09-09 06:37] sunby opened #7624 "Improve datacoord and datanode's code style"

[2021-09-09 06:45] yanliang567 commented on #7619
/assign @godchen0212
could you please take a look whether it is related to #6236 and  #6350

[2021-09-09 06:47] XuanYang-cn commented on #7397
- [ ] Flush needs a retry

- [ ] Minio resources need to be take cared at the background

[2021-09-09 06:48] yanliang567 commented on #7619
set to urgent as it is blocking stability in insert.

[2021-09-09 06:56] godchen0212 opened #7629 "Standalone panic with send on closed channel"
#### Steps/Code to reproduce:
1. Start standalone
2. Run pytest nightly

#### Expected result:
Run successfully

#### Actual results:
Panic with error: send on closed channel

#### Environment:
- Milvus version(89358ad91):
- Deployment mode(standalone):
- SDK version(2.0.0rc6.dev3):
- OS(Ubuntu):
- CPU/Memory: Intel(R) Core(TM) i7-8700 CPU @ 3.20GHz 64GB
- GPU:
- Others:

#### Configuration file:

[2021-09-09 06:57] XuanYang-cn commented on #7617
/assign @fishpenguin

[2021-09-09 06:59] yanliang567 commented on #7321
@binbinlv does this issue repo recently?

[2021-09-09 07:05] binbinlv commented on #7321
This issue did not reproduce recently, and Nightly CI hangs issue is recorded in issue #7435, so I think this one could close first.

@yanliang567

[2021-09-09 07:22] godchen0212 commented on #7504
Now the issue blocking by issue #7620 and #7629.

[2021-09-09 07:22] zhuwenxing opened #7630 "Change deploy test trigger events"
#### What would you like to be added:
cancel push event trigger
#### Why is this needed:
It will cause action to be triggered frequently

[2021-09-09 07:24] congqixia commented on #7450
/assign

[2021-09-09 07:36] wangting0128 opened #7633 "[benchmark][standalone] milvus may hang after 12h testing"
#### Steps/Code to reproduce:
test yaml：
client-configmap: client-random-locust-10800
server-configmap: server-single-16c64m

argo task：benchmark-vjjw7

server deploy：
[code]

client log：
[code]

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): v2.0.0-rc5-hotfix1-20210901-9e0b2cc
- Deployment mode(standalone or cluster): standalone
- SDK

[2021-09-09 07:36] yanliang567 commented on #7321
yes please

[2021-09-09 07:37] czs007 commented on #7633
@czs007  is working on this

[2021-09-09 07:37] #7321 closed

[2021-09-09 08:02] #7630 closed

[2021-09-09 08:07] sunby commented on #7619
/assign

[2021-09-09 08:07] sunby commented on #7619
@wangting0128 please provide the proxy and datacoord log

[2021-09-09 08:10] wangting0128 commented on #7619
standalone, You need to find logs on kibana by pod name

[2021-09-09 08:10] sunby commented on #7619
/unassign
@godchen0212 is working on it

[2021-09-09 08:11] godchen0212 commented on #7619
The problem is caused by the low rate of fsync observed in prometheus. The fsync time is up to 2.5s.

[2021-09-09 08:14] #7574 closed

[2021-09-09 08:15] XuanYang-cn commented on #7015
### BackGround

 Facts:

- helm install Milvus cluster on EKS with 2 datanodes.
- Milvus 2.0.0rc2
- Pulsar standalone

SDK operation:

- Perform insert on a collection with 100k batches of 128-dimensional vectors.

Phenomenon:

- Unable to insert more than 5 million vectors (2.5 GB), pulsar will refuse service due to insufficient storage space.
- Pulsar's disk usage has not dropped.

Issue7015 [^1

[2021-09-09 08:15] XuanYang-cn commented on #7013
https://github.com/milvus-io/milvus/issues/7015#issuecomment-915865883

[2021-09-09 08:36] yhmo opened #7640 "Compile version is still 0.10.0"
When compile milvus 2.0 by "make all", the build output information is still 0.10.0

Building Milvus cpp library ...
~/git-go/milvus/cmake_build ~/git-go/milvus
cmake -DBUILD_UNIT_TEST=OFF -DCMAKE_INSTALL_PREFIX=/home/yhmo/git-go/milvus/scripts/../internal/core/output -DCMAKE_BUILD_TYPE=Release -DOpenBLAS_SOURCE=AUTO -DCMAKE_CUDA_COMPILER=/usr/local/cuda/bin/nvcc -DBUILD_COVERAGE=OFF -DMILVUS_DB_P

[2021-09-09 08:47] zhuwenxing opened #7641 "Directory name typo"
#### Steps/Code to reproduce:
path:  tests/benchmark/asserts

#### Expected result:
assets

#### Actual results:
asserts

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-09-09 08:49] czs007 opened #7642 "Fix unittest bug: Timeout caused by excessive use of resources"
Reduce the use of pulsar resources in root_coord_test, and close the resources in time after the test is completed.

[2021-09-09 08:53] czs007 commented on #7602
@czs007  is working on it

[2021-09-09 08:54] XuanYang-cn commented on #7602
/assign @czs007

[2021-09-09 09:19] zhuwenxing opened #7656 "Add deploy test for helm"
#### What would you like to be added:
Add deploy test for helm
#### Why is this needed:
To cover more deploy test scenarios and automate it

[2021-09-09 09:31] zhuwenxing opened #7660 "Enrich email notification content when deploy test failed"
#### What would you like to be added:
Enrich email notification content when deploy test failed
#### Why is this needed:
For now, email notification content only contains information about deploy mode and test task.
More information is required:
* Tested Milvus version
* Link refers to the failed case
* Failure reason if it can be get

[2021-09-09 09:35] yhmo commented on #7594
Create index thread is blocked. The root cause is still in investigation.
The following script can reproduce this issue:

import random
import time
import threading
import numpy as np
from milvus import Milvus, IndexType
from milvus.client.types import MetricType

SERVER_ADDR = "127.0.0.1"
SERVER_PORT = '19530'
COLLECTION_NAME = "TEST"
COLLECTION_DIMENSION = 16384
COLLECTION_PARAM = {'collection_n

[2021-09-09 09:39] #7602 closed

[2021-09-09 09:43] binbinlv opened #7663 "Need to update pymilvus version"
What would you like to be added:

Upgrade pymilvus version to the latest

[2021-09-09 09:45] yhmo commented on #7594
I set nlist=128, then it works well.
I guess the build index algorithm run into dead circle when the nlist is too large.

[2021-09-09 09:58] #7641 closed

[2021-09-09 10:08] #7603 closed

[2021-09-09 10:11] cydrain commented on #7603
This fix is only to let rc6 compatible with rc5.
After rc6 release, will revert this code change.

[2021-09-09 10:12] #7663 closed

[2021-09-09 10:14] LoveEachDay opened #7670 "DataCoord metric list_of_data_node is negative"
#### Steps/Code to reproduce:
1. Install a milvus cluster with helm chart: `helm install my-release milvus/milvus --set cluster.enabled=true --set metrics.serviceMonitor.enabled=true`
2. DataCoord restarted several times due to pulsar connection
3. Check `milvus_dataCoord_list_of_data_node` metric

#### Expected result:
Expected the number of data node is 1.

#### Actual results:
-3
![image](https

[2021-09-09 10:14] LoveEachDay commented on #7670
/assign @sunby

[2021-09-09 10:15] ThreadDao opened #7671 "More loading progress cases needed to be add"
#### Is your feature request related to a problem? Please describe:
Now no case for `utility.loading_progress` and `utility.wait_for_loading_complete`

#### Describe the solution you'd like:
1. Add cases to test `loading_progress`
2. Add cases to test 'wait_for_loading_complete'

#### Describe alternatives you've considered:

#### Additional context:

[2021-09-09 10:25] sunby commented on #7633
All tasks in log were completed and no more task was received by server. The client log is too few to locate the last operation client did.

[2021-09-09 11:34] zhuwenxing opened #7677 "Add README.md for deploy test action"
#### What would you like to be added:
Add README.md for deploy test action
#### Why is this needed:
It's a must item, and it can help users/developers know what it does and how it works, and how to use it.

[2021-09-09 12:56] #7586 closed

[2021-09-09 14:06] stefan-it commented on #7390
Hey guys, was this error fixed in RC5 :thinking:

I'm currently using the Milvus standalone with `milvusdb/milvus:v2.0.0-rc5-hotfix1-20210901-9e0b2cc` and I'm getting pretty much the same error! I'm using RC5 of `pymilvus`.

[2021-09-09 14:43] jingkl commented on #7503
index node log， [indexnode-error.log](https://github.com/milvus-io/milvus/files/7137474/indexnode-error.log)

[2021-09-10 00:49] JackLCL commented on #7594
@mayunjie
In "nlist = 4*sqrt(n)",  n is the number of vectors in a segment.

[2021-09-10 00:58] yanliang567 commented on #7390
@stefan-it it looks like a different issue. could you please file a new issue?

[2021-09-10 01:15] mayunjie commented on #7594
@JackLCL
i set index_file_size = 10G, so a segment should have 500 million vectors.
Should i set index_file_size a small num?  I think this maybe lead to too many segment created

[2021-09-10 01:20] JackLCL commented on #7594
When you set the index_file_size smaller, the number of segments does increase, but the amount of data in each segment decreases. I'm not sure how it affects the overall search performance. You can do an experiment to test it.

[2021-09-10 01:21] mayunjie commented on #7594
And I think the actual problem is why CPU load is always low when create index, either 128 or 4096 or 16384.
Is this a normal phenomenon?

[2021-09-10 01:31] yanliang567 commented on #7633
repro on cluster:
[code]
client:
benchmark-92gl8-1045039066

[2021-09-10 01:49] yhmo commented on #7594
This is my test result after running whole night:

[code]

[2021-09-10 01:52] mayunjie commented on #7594
@yhmo
you cpu load is ?

[2021-09-10 01:53] yhmo commented on #7594
CPU load is low.
I think the parallel algorithm is not optimized for binary IVF index in the search engine, faiss level.

[2021-09-10 01:55] mayunjie commented on #7594
Can this be optimized?

[2021-09-10 01:57] yhmo commented on #7594
I think currently no resource to do this.

[2021-09-10 02:18] XuanYang-cn commented on #6357
[code]

[2021-09-10 02:18] #6357 closed

[2021-09-10 02:19] XuanYang-cn opened #7684 "DataNode unit test coverage to 90%"

[2021-09-10 02:20] #7629 closed

[2021-09-10 02:22] #7620 closed

[2021-09-10 02:31] mayunjie commented on #7594
Has version2.0.0 optimized this?

[2021-09-10 02:36] #7671 closed

[2021-09-10 02:52] binbinlv commented on #7435
Same issue occurs on nightly:
https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/133/
milvus: 0546437
pymilvus: 2.0.0rc6.dev3

Milvus logs:
artifacts-milvus-distributed-master-133-e2e-nightly-logs:
proxy: 0.log.20210909-090541

Timeline:
[2021-09-09T08:42:36.209Z] testcases/test_search_20.py::TestCollectionSearch::test_search_multi_collections[5000-500-8-True-True] [tests hang]

H

[2021-09-10 03:03] yanliang567 opened #7690 "Memory consumption keeps high even after workload off for hours"
#### Steps/Code to reproduce:
1. deploy Milvus 2.0 cluster
2. insert 10M entities, index, load and keep search for a few mins

#### Expected result:
After workload off, memory consumption shall get down

#### Actual results:
Memory keeps high even after workload off for a few(8+) hours

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): master-20210908-3c2821e
- Deployment mode(standa

[2021-09-10 03:10] #7640 closed

[2021-09-10 03:21] congqixia opened #7694 "Avoid using zero value of enum as meaningful item"
See proto def
https://github.com/milvus-io/milvus/blob/5a303e7672d5f8b239250368f5bb4b0443327abc/internal/proto/common.proto#L1-L11
and
https://github.com/milvus-io/milvus/blob/ba9b1e88817085b13cabd034c758a2d7339ec4bd/internal/datacoord/cluster.go#L48-L51

Since Go does not has Null value for primitive type, default value will be set to zero value in case of failure, forgetting to set the value, et

[2021-09-10 03:52] zhuwenxing opened #7697 "Fix images path in README"
#### What would you like to be added:
Fix images path in README
#### Why is this needed:
Since we modified the dir name, so we also need to modify the path refers to this dir in README

[2021-09-10 04:30] lengyhua commented on #7275
I happened to get the same error, but the mysql url is identical. I wonder if there were something else caused this error in other way.

[2021-09-10 04:32] lengyhua commented on #7275
@yhmo

[2021-09-10 05:30] xiaofan-luan opened #7700 "Implement a restful API server for milvus"
#### What would you like to be added:

A restful API is an architectural style for an application to access and use data through http requests. The data can be used to GET,PUT,POST and DELTE data types, which refers to the reading, updating, creating and deleting of operations concerning resources.

Milvus 1.1 used to support restful API, we've also seen many other search engines such as elastic s

[2021-09-10 05:35] xiaofan-luan opened #7701 "Support Automatic partition creation"
#### What would you like to be added:
Search by partition is a very useful functionality for Milvus users. We noticed that many users create partitions by date and only search between a time period. However, it is not error prone and not convenient to create and load collection per day, many users require an automatic partition generation policy.

#### Why is this needed:
Define collection schema

[2021-09-10 05:42] xiaofan-luan opened #7702 "Milvus importer ()"
#### What would you like to be added:
Data could be stored in different formats at different locations.  Milvus importer is a side components for Milvus to parse various data formats, such as csv, JSON, parquet, arrow and even customized data formats.

The importer itself should be a distributed components that can scale horizontally and cover failure recovery,  it carries data from different stor

[2021-09-10 05:59] xiaofan-luan opened #7703 "Improve security of Milvus"
#### Is your feature request related to a problem? Please describe:
#7645 #5330 #5182 #6647

We have many security related issues, basically on three parts:
1)   Support ssl/tls between milvus sdk and server
2)  Support tls/ssl connection to etcd, database and storage
3)  Support Role-based access control

Data security is very important to milvus users,  we need to offer basic security options.

[2021-09-10 06:08] xiaofan-luan opened #7704 "Support User defined functions(UDF)"
#### Is your feature request related to a problem? Please describe:

A user-defined function (UDF) is a function provided by the user of a program or environment. If milvus has the ability to support UDF, user can hook read, write and index path to add user defined data processing such as data normalization,  data elimination and customized ranking policy.

#### Describe the solution you'd like:
W

[2021-09-10 06:14] xiaofan-luan opened #7706 "Compile && Run Milvus across multiple platforms"
#### What would you like to be added:

Milvus is designed to run at any language, any environment. However, due to some high performance lib dependencies, Milvus failed to compile and run on macOS and windows environments and for now only ubuntu and centos is supported

Please help us on compiling milvus and run on different runtime environments (any environment except for linux server counts, suc

[2021-09-10 06:17] #7697 closed

[2021-09-10 06:25] xiaofan-luan commented on #6907
duplicate with #6690

[2021-09-10 06:25] #6907 closed

[2021-09-10 06:29] godchen0212 commented on #7504
The above two problems may have solved the problem. But now it still will cause the server to be unusable due to the oom. It takes about 16 Gs (because the machine only has 32 Gs of memory, it needs to be used by other services). See this for details [nightly 135](https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/135/pipeline).
I will continue to track t

[2021-09-10 06:33] #6250 closed

[2021-09-10 06:36] #7462 closed

[2021-09-10 06:36] #6484 closed

[2021-09-10 07:08] yhmo opened #7713 "Implement C++ SDK for milvus"
**What would you like to be added:**
Create a C++ library so that C++ users can include the library into their project, to interact with milvus service.

**Why is this needed:**
Implement a C++ SDK for milvus v2.0

[2021-09-10 07:21] sunby commented on #7633
/assign

[2021-09-10 07:36] fishpenguin opened #7716 "Reset prefix length of rocksdb to FixedChannelNameLen + 1"
#### Why is this needed:

Prefix length of rocksmq store should be FixedChannelNameLen + 1.

[2021-09-10 07:37] binbinlv commented on #7300
From recently nightly after code fix, standalone tests ran 75% of tests, and this panic did not appear, and it failed because of another issue (OOM). And from the version before code fix, it always will fails at 30% percentage of the whole tests for this panic issue.

So it seems have a improvement after this code fix, remove urgent label.

And will close this issue if this panic will not occur af

[2021-09-10 07:38] cydrain opened #7718 "Optimize data transfer between GO and C++"
#### What would you like to be added:
Data is copied when transferred between Go and C++.
We can find a better way to save this memory copy.

#### Why is this needed:
Can reduce memory usage.

Please refer to:
https://studygolang.com/articles/2909

[2021-09-10 07:43] yanliang567 commented on #7619
not repo on 89358ad, remove urgent from rc6
will close it, if keep not-repo in the next few builds

[2021-09-10 07:52] binbinlv commented on #7504
@godchen0212

Yes, nightly 135 is the recent nightly cases for OOM.

And in the previous nightly tests (132, 117, 116),  they are failed for OOM too. Hope their logs could be a help for you.

[2021-09-10 07:55] binbinlv commented on #7504
@godchen0212
And there are any issues about this OOM problem? If no, I will create a new one for you to track this problem.

[2021-09-10 07:57] binbinlv commented on #7504
And for this issue ("rootcoord disconnnect with etcd" issue), it not occcur from the latest nightly cases after code   #7620 and #7629.

Considering this issue is not stable reproduced, so remove urgent label first, and will close if if it not shows in the several following nightly tests.

[2021-09-10 08:25] LocoRichard opened #7721 "[Doc] Image down in pytest readme"
Image down in pytest readme

[2021-09-10 08:25] LocoRichard commented on #7721
/assign

[2021-09-10 08:27] cxwen opened #7723 "Datanode failed to flush to MinIO because the object name contains a leading slash"
#### Steps/Code to reproduce:

Milvus is deployed and all components are ready. Then an error occurred when writing data to it. Finally, I checked minio and found no data.

[code]

#### Expected result:

#### Actual results:
Detailed datanode log:
[code]
#### Environment:
- Milvus version: v2.0.0-rc5-20210830-1c88c8b
- Deployment mode: cluster
- OS:  CentOS
- MinIO version: minio/minio:RELEASE.202

[2021-09-10 09:35] white-source opened #7731 "multi-thread concurrent search very slow"
vector data: 30w , 64dim vectors;
docker: milvus:1.1.0-cpu-d050721-5e559c
environment: 24c，64G
request_parameters: nq=50,topK=50; cpu_cache=10G

abtest result:

1.   ab -n10000  -c 1   qps=50;
Concurrency Level:      1
Time taken for tests:   219.009 seconds
Complete requests:      10000
Failed requests:        5
   (Connect: 0, Receive: 0, Length: 5, Exceptions: 0)
Write errors:           0
Total

[2021-09-10 09:41] #7721 closed

[2021-09-10 09:42] #7716 closed

[2021-09-10 09:47] white-source commented on #7361
yeah, I use java client ,  same problem ,  test one time  cost 20ms，but when concurrent is 50 ,that's amazing ,cost 1500~2000ms.

[2021-09-10 09:50] ThreadDao opened #7735 "Need to test utility drop collection"
#### What would you like to be added:
There are no cases to test utility drop collection

#### Why is this needed:
Because there is no, so need！

[2021-09-10 10:12] #7562 closed

[2021-09-10 10:13] shiyu22 commented on #7579
closed by #7696

[2021-09-10 10:13] #7579 closed

[2021-09-10 10:34] #7735 closed

[2021-09-10 10:39] yhmo opened #7741 "Insert 4096 dimensional vectors crash milvus"
#### Steps/Code to reproduce:
1. create a collection
2. insert 4096 dim vectors continually, each time insert 500 ~ 1000 vectors

milvus crashed

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):  RC5-hotfix1
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Oth

[2021-09-10 10:41] yhmo commented on #7741
This script can reproduce the issue:

[code]

[2021-09-10 10:54] XuanYang-cn opened #7742 "When pchannel consists of multiple vchannels, MsgPositions should also become multiple in one msgpack"
Because msgpacks contain pchannel information not vchannel information.

This may trigger bugs, need to take special care when changing p:v from  1:1 to  1:n

[2021-09-10 11:03] binbinlv opened #7743 "Behavior of test case "test_close_repeatedly" should be modified"
What would you like to be added:

Close closed connection will throw error, so should modify the behavior of the test case

[2021-09-10 11:26] #7743 closed

[2021-09-10 12:15] ThreadDao commented on #6098
After retesting the problem still exist.
1. milvus version
[code]
2. log
[code]
3. client
[code]

[2021-09-10 12:54] #7617 closed

[2021-09-11 02:20] jilieryuyi commented on #7503
Query operations always time out， When I keep writing for a while， about 5million entity vectors,  proxy log

2021/09/10 23:33:14.727 +00:00] [DEBUG] [task.go:1918] [Proxy] ["SearchTask PostExecute Loop exit caused by ctx.Done"=427632249087362238]
[2021/09/10 23:33:14.727 +00:00] [DEBUG] [task.go:1913] [WaitAndPostExecute] ["time cost"=9.163913708s]
[2021/09/10 23:33:14.727 +00:00] [DEBUG] [impl.g

[2021-09-11 02:22] jilieryuyi commented on #7503
query node log

[2021/09/11 02:22:09.832 +00:00] [DEBUG] [query_collection.go:358] ["query node::receiveQueryMsg: add to unsolvedMsg"] [collectionID=427628184426512385] [sm.GuaranteeTimestamp=2021/09/11 02:22:09.786 +00:00] [serviceTime=2021/09/10 15:37:55.886 +00:00] ["delta seconds"=10132] [msgID=427632249087362261] [msgType=search]
[2021/09/11 02:22:19.455 +00:00] [DEBUG] [query_collection.go:3

[2021-09-11 02:25] jilieryuyi commented on #7503
[2021/09/11 01:04:55.418 +00:00] [WARN] [util.go:93] ["we haven't received tt for 3.000000 minutes"]
[2021/09/11 01:07:55.419 +00:00] [WARN] [util.go:93] ["we haven't received tt for 3.000000 minutes"]
[2021/09/11 01:10:55.418 +00:00] [WARN] [util.go:93] ["we haven't received tt for 3.000000 minutes"]
[2021/09/11 01:13:55.418 +00:00] [WARN] [util.go:93] ["we haven't received tt for 3.000000 minute

[2021-09-11 02:28] jilieryuyi commented on #7503
[2021/09/11 02:27:37.773 +00:00] [DEBUG] [session_util.go:259] ["SessionUtil GetSessions"] [prefix=IndexNode] [resp="{\"header\":{\"cluster_id\":14841639068965178418,\"member_id\":10276657743932975437,\"revision\":58605,\"raft_term\":2},\"kvs\":[{\"key\":\"YnktZGV2L21ldGEvc2Vzc2lvbi9JbmRleE5vZGUtNg==\",\"create_revision\":18,\"mod_revision\":18,\"version\":1,\"value\":\"eyJTZXJ2ZXJJRCI6NiwiU2VydmV

[2021-09-11 02:29] jilieryuyi commented on #7503
01:52:34.579 [main-EventThread] INFO  org.apache.bookkeeper.mledger.impl.ManagedLedgerImpl - [public/default/persistent/search-0] Creating ledger, metadata: {component=[109, 97, 110, 97, 103, 101, 100, 45, 108, 101, 100, 103, 101, 114], pulsar/managed-ledger=[112, 117, 98, 108, 105, 99, 47, 100, 101, 102, 97, 117, 108, 116, 47, 112, 101, 114, 115, 105, 115, 116, 101, 110, 116, 47, 115, 101, 97, 11

[2021-09-11 02:31] jilieryuyi commented on #7503
etcd

{"level":"warn","ts":"2021-09-10T18:06:10.892Z","caller":"etcdserver/util.go:166","msg":"apply request took too long","took":"143.338479ms","expected-duration":"100ms","prefix":"read-only range ","request":"key:\"by-dev/meta/session/IndexNode\" range_end:\"by-dev/meta/session/IndexNodf\" ","response":"range_response_count:1 size:130"}
{"level":"info","ts":"2021-09-10T18:06:10.892Z","caller":

[2021-09-11 06:46] cydrain commented on #7543
#7635 is to support set segcore chunk_size via config file.

Will reduce chunk_size in another PR.

[2021-09-11 07:35] cydrain commented on #7240
Test search on an empty collection, get following response returned:
[code]

The response looks correct.

[2021-09-11 07:37] cydrain commented on #7240
/assign @xige-16

[2021-09-11 11:11] binbinlv opened #7765 "Search test cases with DSL fail for the variable conflict after search test cases merge"
#### Steps/Code to reproduce:
Run DSL search tests cases

The "default_nb" in the test cases of 1.0 and 2.0 is different.

And after search tests merge into one file, the "default_nb" in 1.0 cases are replaced by that of 2.0, which will leads id check for search cases.

So needs to unify them.

#### Expected result:
Test case run successfully

#### Actual results:
[code]

#### Environment:
- Milvu

[2021-09-11 15:38] #7765 closed

[2021-09-12 09:46] hadim commented on #3430
Is GCS still a middle priority here?

[2021-09-12 09:51] xiaofan-luan opened #7769 "Memory Leak on proxy task_scheduler"
#### Steps/Code to reproduce:
We've seen a  searchResultBufFlags array in proxy task scheduler.
It is never cleaned from the map so I guess there is a memory leak especially when search number is going up.

We need to check on how to fix it

#### Expected result:
Delete or clean it when necessary

[2021-09-12 09:56] xiaofan-luan opened #7770 "Race Condition inside PulsarClient at Datanode"
#### Steps/Code to reproduce:

    --- FAIL: TestDataNodeTtChannel/test_expire_allocation_after_receiving_tt_msg (0.20s)
        testing.go:1042: race detected during execution of test
    testing.go:1042: race detected during execution of test

#### Expected result:
     The test should be passed without any failures.

#### Actual results:
Detailed Race information is shown here:
   WARNING: DATA

[2021-09-12 09:58] xiaofan-luan commented on #862
similar to #7704, close for now

[2021-09-12 09:58] #862 closed

[2021-09-12 10:00] xiaofan-luan commented on #3690
already have a get index status interface, close for now

[2021-09-12 10:01] xiaofan-luan commented on #4328
this feature is under working

[2021-09-12 11:00] scipe commented on #3690
@xiaofan-luan how to do that api call in 1.x?

[2021-09-12 12:55] kevinzezel opened #7771 "Milvus stop searching with limit set to 1000"
Hi,

Pymilvus freeze and stop searching with IVF FLAT with nlist=16384, nprob=2 or 4 or 8 or 16 ... any and limit 1000.  it is necessary to restart jupyter notebook kernel or python script.

if the limit is set to values much less than 1000, works normally.

[code]

#### Environment:
Milvus version: v2.0.0-RC5
Deployment mode: standalone
SDK version: pymilvus v2.0.0rc4
OS: Ubuntu 18.04.1-64 Minima

[2021-09-12 13:15] xiaofan-luan commented on #7771
ehh, do you have any exceptions or server logs for further investigation?

[2021-09-12 13:16] xiaofan-luan commented on #3690
1.x don't have this support ~  most of the issues will be fixed on 2.x branch, but anyone is welcome to implement one on milvus 1.x, reopen it

[2021-09-12 13:17] xiaofan-luan commented on #4989
This is a interesting feature, let's see if more people are intersted

[2021-09-12 13:18] xiaofan-luan commented on #4669
We should has this feature by 2.1 release

[2021-09-13 01:54] xige-16 commented on #7240
pr #7244 has fixed the issue.

[2021-09-13 02:16] yanliang567 commented on #6798
this is a long-term enhancement, lets keep it

[2021-09-13 02:20] yanliang567 commented on #7771
@zhuwenxing could you please help to reproduce it on latest build?

[2021-09-13 02:23] zhuwenxing commented on #7771
👌

[2021-09-13 02:43] XuanYang-cn opened #7774 "No Available Query node result, filter reason Search failed, C runtime error detected"
#### Steps/Code to reproduce:
[code]

#### Expected result:

#### Actual results:
[code]

[code]

#### Environment:
- Milvus version: 759abd450ad3b76f6ffd723496b46532a3003d2b
- Deployment mode(standalone or cluster): cluster
- SDK: pymilvus 2.0.0rc6
- OS(Ubuntu or CentOS):  Ubuntu
- CPU/Memory:
- GPU:
- Others:

[2021-09-13 02:46] xiaofan-luan commented on #7774
Search failed, C runtime error detected, error code = 1, error msg = "" , this log looks weird, no error message shown up

[2021-09-13 02:48] XuanYang-cn commented on #7774
`: id 427688106875258547)` this is the error message, yet still very weird

[2021-09-13 02:54] binbinlv opened #7775 "[CI Blocked]Milvus server is unavailable during nightly tests with standalone deployment"
#### Steps/Code to reproduce:
Running nightly cases:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/140/pipeline/

#### Expected result:
All test cases PASS

#### Actual results:
Server is unavailable

FAIL time : about  2021-09-12T15:33:03.231Z
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):  619c439
- Deployment mode(standalo

[2021-09-13 03:00] xige-16 commented on #7774
/unassign
/assign @bigsheeper

[2021-09-13 03:23] shanghaikid opened #7778 "Insert 5w entities 24 times, but get 1,198,820 entities"
![image](https://user-images.githubusercontent.com/185051/133019287-a40cbfd5-3ed9-4c8a-8a31-a6e1fa99b142.png)

#### Steps/Code to reproduce:
1. start rc6
2. create a collection called `car_search2` with shema
[code]
3.  open milvus_cli(pymilvus_rc5)
   a. connect
   b. import vectors.csv -c car_search2
   c. repeat 24 times

#### Expected result:
get 120w entities

#### Actual results:
get 1,198,8

[2021-09-13 03:27] shanghaikid commented on #7778
If something wrong happened during inserting, what's the stratgy to  handle this.
1. remove inserted data ?
2. keep inserted data ?

[2021-09-13 03:31] yhmo commented on #7731
The milvus v1.x request execution machinery:
- Multi clients send parallel search requests to server, each client keep a rpc connection to server.
- Milvus server has a producer/consumer pipeline for search requests, we call it as request queue. Each rpc connection is a producer, they put search requests into the queue. There is only one consumer for the queue:  the database core.  The db core pro

[2021-09-13 03:37] yhmo commented on #7731
Assume client A, B, C send search request at the same time with different search parameter. Milvus db core takes the request of A to process,  then the other two requests will have to wait in the queue. After A request is finish, let say, it cost 50ms, the client A say:" Well, my request cost 50ms". Then db core takes the request of B to process, cost 50ms. Since the client already wait 50ms(for A

[2021-09-13 03:39] shanghaikid commented on #7774
Same issue here
[code]

[2021-09-13 03:45] yhmo commented on #7731
Milvus can combine small(with small nq) search requests into a larger(with larger nq) request to execute. This behavior can improve the QPS.
There is a hidden config in the server_config.yaml for search combine:
[code]
That means milvus will combine small request into a larger request with nq no more than 64. Assume three requests come in at same time, with nq=10, nq=15, nq=20, milvus will combine

[2021-09-13 03:46] bigsheeper commented on #7774
Segcore has two assertion functions named `Assert(expr)` and `AssertInfo(expr, info)` (core/src/exceptions/EasyAssert.h:55). If segcore uses `Assert` to check and failure is detected, no message would be returned to SDK(or even querynode). @xiaofan-luan @XuanYang-cn

I think we should use `AssertInfo` instead of `Assert` in any place of segcore. @fishpenguin

[2021-09-13 03:48] yanliang567 commented on #7775
blocking standalone ci nightly, set to urgent

[2021-09-13 03:52] cydrain commented on #7260
@wq1315 this issue still exist in rc6 ?

[2021-09-13 03:56] cydrain commented on #6662
If user want to get raw vector of search result, they can use Search to get id firstly, then use Query to get raw vector.

Please check following MEP for details:
https://wiki.lfaidata.foundation/display/MIL/MEP+6+--+Support+vector+output+fields+design

[2021-09-13 03:56] #6662 closed

[2021-09-13 06:02] yanliang567 commented on #7778
I think this is a known issue to us.
@congqixia could you please take a look?

[2021-09-13 06:06] #6086 closed

[2021-09-13 06:34] ThreadDao opened #7782 "Need to merge duplicate query cases"
#### What would you like to be added:
Merge duplicate query cases between `test_query.py` and `test_query_20.py`

#### Why is this needed:
No need to run these cases repeatedly on CI and Nightly

[2021-09-13 06:41] cydrain commented on #7165
now the exception is like following:
[code]

[2021-09-13 07:02] LoveEachDay commented on #7775
rootcoord disconnect with etcd, and the process exit.
Then the standalone process failed to restart due to issue #7528 and #7530.
For etcd seems work smoothly, and no requests for more than 10 seconds before session keepalive failed.
![image](https://user-images.githubusercontent.com/1573213/133038109-e1326d77-9a6f-4fab-bb67-709d309e1799.png)

etcd server log:
![image](https://user-images.githubus

[2021-09-13 07:09] congqixia opened #7788 "No ci-passed rules for go files changed with [skip ci]"
Adding or changing comment in go files with `[skip ci]` will not have `ci-passed` label

[2021-09-13 07:10] XuanYang-cn commented on #7774
A similar error occurs when building `IVF_PQ` without parsing `m`.

[code]

[code]

[2021-09-13 07:10] xiaocai2333 commented on #7158
/working on it

[2021-09-13 07:11] bigsheeper commented on #7774
I'v found the reason,
[code]
should be
[code]

Search plan doesn't have the param of `nprob`, and query node searched failed at `core/src/query/SearchOnSealed.cpp:88`, where a `Assert` function is called. We cannot get the direct causation from `Assert`. @fishpenguin

[2021-09-13 07:12] bigsheeper commented on #7774
/unassign
/assign @fishpenguin

[2021-09-13 07:17] congqixia opened #7789 "Storing context in struct is not recommended"
According to the golang official [blog](https://go.dev/blog/context-and-structs), storing context.Context in a struct is not recommended.

We shall remove ctx in the struct as soon as a replacement logic is implemented.

[2021-09-13 07:30] bigsheeper opened #7790 "Execution time of unittest is too long in query node"
#### Steps/Code to reproduce:
Execution time of unittest is more than 2 minutes in query node

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-09-13 07:41] yanliang567 commented on #7742
@xiaofan-luan please take a look

[2021-09-13 07:42] xealml commented on #7513
may have a time line?

[2021-09-13 07:46] xiaocai2333 commented on #7158
'num_entities' will call'flush' for the collection. So the 1200 rows of data inserted for the first time will be flushed, and the shard num defaults to 2, so the data will be written to 2 segments, each of which has about 600 rows of data. There is a setting that segments with less than 1024 rows of data will not be indexed, so the final indexed data is only 5000 rows.

It is recommended to delete

[2021-09-13 07:46] xiaocai2333 commented on #7158
/assign @yanliang567

[2021-09-13 08:12] xiaocai2333 commented on #7234
This is because an error occurred while reading data from minio.

[2021-09-13 08:12] congqixia opened #7798 "DropCollection timeout in Smoke CI"
#### Steps/Code to reproduce:

#### Expected result:
`CI passed`

#### Actual results:
`Drop collection timeout`

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): CI
- Deployment mode(standalone or cluster): CI
- SDK version(e.g. pymilvus v2.0.0rc2): CI
- OS(Ubuntu or CentOS): ubuntu
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:
https://ci.milvus

[2021-09-13 08:13] #7234 closed

[2021-09-13 08:30] binbinlv opened #7803 "Searched entity number is smaller than limit under multiple replica env"
#### Steps/Code to reproduce:
1 Deploy multiple replica env: proxy= 2, queryNode = 2, indexNode = 2, dataNode = 2
[code]

2 Run test case:
test_search_20.py::TestCollectionSearch::test_search_before_after_delete

3 Server logs:
[log.tar.zip](https://github.com/milvus-io/milvus/files/7152717/log.tar.zip)

#### Expected result:
limit(topK) searched is  equal with expected

#### Actual results:
limit

[2021-09-13 08:37] #7790 closed

[2021-09-13 08:44] yanliang567 commented on #7158
This would be confusing for users, any solutions?

[2021-09-13 08:59] bigsheeper opened #7806 "Unittests code coverage to 85%+ in query node"
#### Steps/Code to reproduce:

#### Expected result:
Unittests code coverage to 85%+ in query node

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-09-13 09:00] bigsheeper commented on #7806
/hold

[2021-09-13 09:05] kevinzezel commented on #7771
I updated to version rc6 and it worked perfectly. It seems to be something with the rc5 version.

Thanks in advance

[2021-09-13 09:06] kevinzezel commented on #7771
I couldn't find the error in the docker logs.

[2021-09-13 09:18] xiaocai2333 opened #7810 "Improve code quality for index component"
#### What would you like to be added:
The log in some places in the Milvus is not rich enough and needs to be enhanced.

#### Why is this needed:
As above.

[2021-09-13 09:19] xiaocai2333 commented on #7810
/assign

[2021-09-13 09:54] #7553 closed

[2021-09-13 10:42] yanliang567 commented on #7771
@kevinzezel do you mind closing this issue as it is working on rc6?

[2021-09-13 10:56] zhuwenxing opened #7823 "Set latest_tag as "master-latest" in deploy test"
#### What would you like to be added:
Set latest_tag as "master-latest"
#### Why is this needed:
Make the program more general

[2021-09-13 11:11] kevinzezel commented on #7771
Yes!! Thanks in advance

[2021-09-13 11:11] #7771 closed

[2021-09-13 11:12] godchen0212 opened #7827 "Add unrecovrable error in retry"
#### What would you like to be added:
Add unrecoverable error in retry.

#### Why is this needed:
Quick return if an error that's doesn't need to retry.

[2021-09-13 11:35] #7823 closed

[2021-09-13 12:10] #7677 closed

[2021-09-13 13:12] xiaofan-luan commented on #7742
@XuanYang-cn Why msg pack contains pchannel? it should contains only vchannel infomation?

[2021-09-13 13:13] #7357 closed

[2021-09-13 13:13] #7017 closed

[2021-09-13 13:14] xiaofan-luan commented on #6530
/assign @czs007

[2021-09-13 13:14] xiaofan-luan commented on #7769
/assign @xiaofan-luan

[2021-09-13 13:20] #7660 closed

[2021-09-13 13:25] scsven opened #7847 "Unit tests not running in pull request which title start with [skip ci]"
related PR: #7844

/cc @LoveEachDay

[2021-09-13 13:46] xiaofan-luan opened #7850 "Remove unnecessary variables in allocator"
#### What would you like to be added:
I've noticed that id allocator is referenced to some unused variables, remote it.
Also add some comments to it

#### Why is this needed:
Make the code tidy

[2021-09-13 14:54] #7165 closed

[2021-09-13 14:55] cydrain commented on #6238
/unassign

[2021-09-13 23:22] NotRyan opened #7854 "Add English version of README in tests directory"
#### What would you like to be added:
I would like to add an English version of the [README file in the tests directory. ](https://github.com/milvus-io/milvus/blob/4fb84142dbf56b9dba08bf1252280865b7d13887/tests/README.md)

#### Why is this needed:
Current instructions are all in Chinese.

[2021-09-14 00:56] yanliang567 commented on #7788
any changes in go files shall NOT skip ci, this is expected.
whats your expectation?

[2021-09-14 00:57] yanliang567 commented on #7782
@ThreadDao is it done ?

[2021-09-14 00:59] yanliang567 commented on #7798
@scsven  this is a CI failure, please take a look

[2021-09-14 01:09] yanliang567 commented on #7528
set to urgent for CI nightly blocked. related: #7775

[2021-09-14 01:09] yanliang567 commented on #7530
set to urgent for CI nightly blocked. related: #7775

[2021-09-14 01:15] yanliang567 commented on #7774
I think this error is caused by the search_params are not matched with the index_params, but the error msg is really confusing to users.

[2021-09-14 01:24] matrixji commented on #7549
Meet similar issue while compiling with centos8 with system boost, the reason is while building arrow, arrow using static versioned boost, so the arrow will lookup boost-system, boost-regex, boost-filesystem static library.

In centos8 the rpm `boost` only installs the shared library, After I install the rpm `boost-static` by dnf. the problem is fixed.

So, @shiyu22 you could check if your system

[2021-09-14 01:31] yanliang567 commented on #7613
functional issue, set to higher priority

[2021-09-14 01:32] congqixia commented on #7788
If that's the case, [skip ci] format shall not work when any go file has been changed.

[2021-09-14 01:32] yanliang567 commented on #7504
@binbinlv any updates?

[2021-09-14 01:33] yanliang567 commented on #7435
looks like not an issue any more? @binbinlv

[2021-09-14 01:36] yanliang567 commented on #7405
looks like an OOM for query node. does it still repo on rc6 @binbinlv , if yes, please set it to urgent, thx.

[2021-09-14 01:38] yanliang567 commented on #7397
any reproduce steps with actual result and expection?
any plan for rc7 or updates for now?
@XuanYang-cn

[2021-09-14 01:42] yanliang567 commented on #7348
multi-nodes is the priority for rc7, set to urgent

[2021-09-14 01:54] M-A-N-I-S-H-K commented on #3358
any update on this @scsven  @XuPeng-SH

[2021-09-14 01:57] M-A-N-I-S-H-K commented on #7299
@xiaofan-luan  how did you achieve HA with horizontal scaling of multiple shared nodes?

[2021-09-14 01:58] czs007 commented on #7528
@czs007  is working on it

[2021-09-14 02:06] congqixia commented on #7530
/unassign @sunby
/assign

[2021-09-14 02:06] xiaofan-luan commented on #3358
We are moving to v2.0, and HA is automatically supported thanks to K8s

[2021-09-14 02:10] xiaofan-luan commented on #7299
For now, once the node crash, all segment will be reassigned to alived worker nodes by coordinator.
If coordinator itself crashed, it will be replaced brought up by k8s.

This issues talks about another possibility, while we support two in memory copy for the same data, thus failover can happen without wait for segment reassignment. We will work on the reassignment on Milvus 2.1(Probably by the en

[2021-09-14 02:16] yanliang567 opened #7858 "Need to configure SIMD type"
#### What would you like to be added:
Need a way to configure which SIMD Milvus is running against.

#### Why is this needed:
1. for testing the specific SIMD set for Milvus 2.0

[2021-09-14 02:17] XuanYang-cn commented on #6495
/unassign
/assign @binbinlv

[2021-09-14 02:25] cydrain opened #7859 "Improve segcore code efficiency"
#### What would you like to be added:
segcore regards each field as a vector and set chunk_size for it.
For FloatVector and BinaryVector, chunk_size is set to 32768 by default (configurable);
but for timestamp and uid, chunk_size is set to 1, which cause 100000 rows data need be copied 100000 times. With chunk_size 32768, it can be done with 4 loops.

#### Why is this needed:
Improve code efficien

[2021-09-14 02:25] cydrain commented on #7859
/assign

[2021-09-14 02:41] dinuthomas commented on #7607
Hi, Is there any update?

[2021-09-14 02:42] binbinlv commented on #7775
Milvus becomes unavailable again during nightly tests: [standalone]
https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/141/

Fail time: about 2021-09-13T15:18:28.545Z

[2021-09-14 02:54] binbinlv commented on #7435
@yanliang567 Yes, from rc6, it is OK now from recent nightly tests ([135 ](https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/135/pipeline/
)-- #141), so close it.

[2021-09-14 02:54] #7435 closed

[2021-09-14 02:58] wangting0128 commented on #7633
The issue does not recur
version：60c11c8

[2021-09-14 02:58] #7633 closed

[2021-09-14 03:01] cydrain opened #7861 "Update segcore config framework"
#### What would you like to be added:
Port config framework from Milvus 1.x to segcore

#### Why is this needed:

[2021-09-14 03:01] cydrain commented on #7861
/assign

[2021-09-14 03:02] cydrain opened #7862 "Add segcore logger"
#### What would you like to be added:
segcore can only use std::cout to print, need add a logger system.

#### Why is this needed:

[2021-09-14 03:03] cydrain commented on #7862
/assign

[2021-09-14 03:10] wq1315 commented on #7260
@cydrain  I deploy the distributed version of milvus with kubectl , this issue still exist in rc6 . when I deploy the distributed version of milvus with docker-compose,I haven't found this problem.

[2021-09-14 03:10] wq1315 commented on #7260
@cydrain  I deploy the distributed version of milvus with kubectl , this issue still exist in rc6 . when I deploy the distributed version of milvus with docker-compose,I haven't found this problem.

[2021-09-14 03:12] wq1315 commented on #7260
@cydrain I deploy the distributed version of milvus with kubernetes , this issue still exist in rc6 . when I deploy the distributed version of milvus with docker-compose,I haven't found this problem.

[2021-09-14 03:15] wq1315 commented on #7260
@cydrain I deploy the distributed version of milvus with kubernetes , this issue still exist in rc6 . when I deploy the distributed version of milvus with docker-compose,I haven't found this problem yet.

[2021-09-14 03:19] binbinlv commented on #7300
Verified, and fixed in the latest several nightly tests.

Close it.

[2021-09-14 03:19] #7300 closed

[2021-09-14 03:20] wangting0128 opened #7864 "Adjust the coverage index of project and patch to 80%"
Adjust the coverage index of project and patch to 80%

[2021-09-14 03:25] binbinlv commented on #7504
From latest issue #7775, it seems fails because of "rootcoord disconnect with etcd, and the process exit." too.

So do not close it first.

@godchen0212  could you help to check whether these two issues are from the same rootcause?

[2021-09-14 03:28] binbinlv commented on #7405
This is not reproduced on rc6, so close it first, will reopen if it occurs again.

[2021-09-14 03:28] #7405 closed

[2021-09-14 03:30] binbinlv commented on #6495
Working on reproducing this issue.

[2021-09-14 03:51] jaelgu opened #7870 "When load() is in progress, `get_loading_progress` shows 0"
#### Steps/Code to reproduce:
1. Prepare: have a collection with data large enough so that load() will take a while
2. Case 1:
    a. **DON'T call `num_entities`**: Call `load()`
    b. **While load() is still in progress**: Call `get_loading_progress`
    result --> {'total_rows': 0, 'indexed_rows': 100000000}
    expect: total_rows = 100000000
3. Case 2:
    a. **DON'T call `num_entities`**: Cal

[2021-09-14 03:56] binbinlv opened #7871 "Update pymilvus version"
#### Steps/Code to reproduce:

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-09-14 03:56] DragonDriver commented on #7870
sorry, but the loading state of collection can be only 0 or 100. 0 means loading is in progress, 100 means loading done.

we will support loading progress soon in later versions.

/assign @xige-16

[2021-09-14 03:58] jaelgu commented on #7870
@xige-16 how about case2 mentioned above?

[2021-09-14 04:05] M-A-N-I-S-H-K commented on #3358
does that mean multiple write nodes can be created? @xiaofan-luan

[2021-09-14 04:13] M-A-N-I-S-H-K commented on #7299
is there a video regarding  complete understanding for how the milvus cluster works.
I did go through the documentation, however it's still kind of unclear to me. A video with explanation on how the cluster works on v2.0 setup as opposed to v1.0 would be of great help. @xiaofan-luan

[2021-09-14 05:15] #7871 closed

[2021-09-14 05:25] DragonDriver commented on #7870
`num_entities` will call `flush`and we will wait for `flush` done, seems that `flush` cost a lot of time.

[2021-09-14 05:36] xiaofan-luan commented on #7299
That is a good idea! Any other community offers similar video we can learn from?

[2021-09-14 05:40] xiaofan-luan commented on #3358
In 2.0 there is no more concepts like read or write. However we do separate.query node, data node and log storage can be scaled separately and cover failure coverage independently

[2021-09-14 05:41] xiaofan-luan commented on #7299
I thought that is a good example https://www.youtube.com/watch?v=dxrEHqMFUWI~

[2021-09-14 05:42] binbinlv opened #7878 "shorten long code statement"
#### Steps/Code to reproduce:

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-09-14 05:53] xiaofan-luan opened #7880 "Proxy SegIDAssigner pickCanDoFun print out too many trash infomation"
#### What would you like to be added:
![image](https://user-images.githubusercontent.com/83447078/133202347-8e80845f-c5ab-4a63-b165-4ec913664be7.png)

need to remove the log and limit its print frequency.

#### Why is this needed:
There are many unused information, brings trouble in problem investigation

[2021-09-14 06:06] binbinlv commented on #7006
From RC6, could not reproduce it in the recent tests, so close it first and will reopen it when it occurs again.

[2021-09-14 06:06] #7006 closed

[2021-09-14 06:27] #7878 closed

[2021-09-14 06:58] shiyu22 commented on #7549
Thanks @matrixji , I try to build and install boost with [static link](https://www.boost.org/doc/libs/1_67_0/more/getting_started/unix-variants.html#easy-build-and-install) on ubuntu, but I can also reproduce.

[2021-09-14 07:09] LoveEachDay commented on #7847
The ut is triggered by github action. Still don't know why the github action is not triggered.

[2021-09-14 07:16] 785321021 commented on #7493
@scsven
I install “NVIDIA Container Toolkit” Then, only 253m video memory is used during operation. If it exceeds 500m, there will be this error. The actual video memory is 24g. It's far from reaching the online level of the graphics card. I wonder if it's the docker container that limits the available video memory
（我中间安装了 NVIDIA Container Toolkit  然后运行过程中显存只使用了253M。超过500M就会有这个错误。实际显存有24G。远远没达到显卡上

[2021-09-14 07:44] shanghaikid commented on #7870
That makes no sense. why do you name  this function `get_loading_progress` if you don't provide any progress at all.

[2021-09-14 07:45] XuanYang-cn commented on #7770
There's a issue here https://github.com/apache/pulsar-client-go/issues/580

It seemed to be fixed on pulsar-client-go `0.6.0`, maybe we should considering upgrade our pulsar-client-go to `0.6.0 `

https://github.com/apache/pulsar-client-go/pull/535

[2021-09-14 07:48] scsven commented on #7493
@785321021 Hi, RTX 3090 is Ampere micro-architecture, with compute capability 8.6, which needs to compile with `sm_86`, but it not be contained in v0.10.0. The highest compute capability that has been supported is `sm_75`.
See this build script: https://github.com/milvus-io/milvus/blob/v0.10.0/core/src/index/thirdparty/faiss/build.sh#L2

[2021-09-14 08:08] yanliang567 commented on #7319
@binbinlv is it reproduced recently ?

/assign @binbinlv
/unassign @sunby

[2021-09-14 08:15] #7566 closed

[2021-09-14 08:18] matrixji commented on #7549
Since you are building & installing boost from the source, things will be more complex.
I suggest adding the below Debug flag, to check what happed during CMake find boost, and using `make | grep FindBoost`  for investigation.

[code]

[2021-09-14 08:31] binbinlv commented on #7319
This does not occur recently, close it first, will reopen it if it occurs again in the future.

[2021-09-14 08:31] #7319 closed

[2021-09-14 08:33] shiyu22 opened #7895 "The localStorage configuration is not easy to read"
The localStorage configuration in [milvus.yaml](https://github.com/milvus-io/milvus/blob/master/configs/milvus.yaml#L119) is hard to understand, can you rename it, such as `queryDataStorage`?

BTW, I added the comment to the yaml "Configure whether to store the vector and the local path when querying/searching in Querynode".

<img width="450" alt="截屏2021-09-14 16 24 01" src="https://user-images.gi

[2021-09-14 08:47] zhuwenxing opened #7898 "Set README_EN as default README"
#### What would you like to be added:
Set README_EN as default README
#### Why is this needed:
In the open-source project, README in English is always the first choice

[2021-09-14 09:06] bigsheeper commented on #6726
I'v verified this works on my local bare machine, but still repro on docker.
Currently, we use `gopsutil` (similar to free/top command in linux) to check the memory usage. However, even we set the memory limit on docker, `gopsutil` still shows the memory stats of host machine. It's none of the business of the util we use, it's a common problem on the system deployed on docker.

ref: https://faun.p

[2021-09-14 09:07] yanliang567 opened #7905 "one set of external dependent service shall support multipe milvus instances"
#### Is your feature request related to a problem? Please describe:
yes. I deployed one set of external dependent service: external-minio, external-pulsar and external-etcd, when deploying 2 Milvus instances that depends on the set of service, both Milvus services do not work as expected.

#### Describe the solution you'd like:

1. Multiple Milvus instances are able to run on the same set of exter

[2021-09-14 09:07] bigsheeper commented on #6726
/assign @yanliang567

[2021-09-14 09:17] white-source commented on #7731
Tanks
My problem is slovled.
Two step
1 user collection.load()
2 -e OMP_NUM_THREADS=11
the total command is below
sudo docker run -d --name milvus_cpu_1.1.0 \
-p 19530:19530 \
-p 19121:19121 \
-e OMP_NUM_THREADS=11 \
-v /home/$USER/milvus/db:/var/lib/milvus/db \
-v /home/$USER/milvus/conf:/var/lib/milvus/conf \
-v /home/$USER/milvus/logs:/var/lib/milvus/logs \
-v /home/$USER/milvus/wal:/var/lib/mi

[2021-09-14 09:17] #7731 closed

[2021-09-14 09:29] shiyu22 commented on #7549
<img width="930" alt="截屏2021-09-14 17 27 00" src="https://user-images.githubusercontent.com/53459423/133232644-f0f970f8-95c7-4d86-a61a-887ed9801641.png">

[2021-09-14 09:29] #7898 closed

[2021-09-14 09:32] binbinlv opened #7910 "Search result wrong when filtering with expression using non-zero bool field"
#### Steps/Code to reproduce:
[code]

#### Expected result:
0 == false, non-zero == true

#### Actual results:
Here if bool is non-zero, it returns the entities which the bool field is "false".
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): latest
- Deployment mode(standalone or cluster): standalone
- SDK version(e.g. pymilvus v2.0.0rc2):
pymilvus 2.0.0rc7.dev2
- OS(Ubuntu

[2021-09-14 09:38] XuanYang-cn commented on #6940
Reproduced on MacOS, investigating now

[2021-09-14 09:46] XuanYang-cn commented on #7372
I think the API behaviour is correct. PyMilvus APIs are stateless, thus dropping a non-exist index is allowed. ORM-style APIs have states, drop a non-exist index will raise errors.  @ThreadDao

[2021-09-14 11:01] ThreadDao commented on #7521
No fix.
[code]
[code]

[2021-09-14 11:25] lordofdou opened #7925 "Execute hello_milvus.py, got error message "server is not healthy, please try again later""
#### Steps/Code to reproduce:

1. create PVs
[code]

2.  follow the tutorial https://milvus.io/cn/docs/v2.0.0/install_cluster-docker.md, install by Helm in Kubernetes

[code]
the value.yaml is
[code]
3. recreated the PVC for pulsar
[code]

4. following above tutorial https://milvus.io/cn/docs/v2.0.0/example_code.md, get hello_milvus.py and modify `connections.connect(host='localhost', port='19530'

[2021-09-14 11:35] matrixji commented on #7549
Sorry for I've some local modify with my CMake. Pls, forget the way I've mentioned before.
Maybe could try with minimal CMakeLists.txt to see what happens, create `CMakeLists.txt` in an empty folder with the below content:

[code]

and using `cmake .` to see the output.

In my environment, it returns some lines like below:
[code]

Then we could see where CMake try to find and with what library nam

[2021-09-14 11:35] #7864 closed

[2021-09-14 12:02] fishpenguin commented on #7452
This needs to be added to 80% code coverage.

[2021-09-14 12:15] yanliang567 commented on #7925
@lordofdou could you please attach the proxy pod logs?

/assign @lordofdou

[2021-09-14 12:34] wangting0128 opened #7930 "[benchmark] [standalone] [UnexpectedError] bad optional access"
#### Steps/Code to reproduce:
argo task: benchmark-lqrk9

test yaml：
[code]

client log：
[code]

server deploy:
[code]

[client.log](https://github.com/milvus-io/milvus/files/7161899/client.log)

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu o

[2021-09-14 15:51] fcampagnexandr opened #7933 "terminate called after throwing an instance of 'std::invalid_argument'"
#### Steps/Code to reproduce:
Deployed latest milvus chart to K8s using:
helm install --kube-context REDACTED  embedding-store  milvus/milvus \
   --set cluster.enabled=true --set externalS3.enabled=false \
   --set minio.enabled=true \
   --set etcd.persistence.enabled=true  \
   --set pulsarStandalone.persistence.enabled=true  \
   --set log.persistence.enabled=true \
   --set ingress.enabled=fa

[2021-09-15 00:17] #7854 closed

[2021-09-15 00:29] NotRyan commented on #7933
Hi fcampagnexandr, thanks for opening an issue! I was able to replicate your problem, and I believe this is an issue stemming from the log PVC. We'll get to work on fixing that, but in the meantime you can get your cluster running by leaving off the `--set log.persistence.enabled=true` in your `helm install`.

Let me know if this does not work for you.

[2021-09-15 01:08] yanliang567 commented on #7933
/assign @fcampagnexandr

[2021-09-15 01:37] sloth2012 commented on #7594
Same issue with this

[2021-09-15 01:52] DragonDriver opened #7936 "Need a tool to parse the index binlog files"
#### What would you like to be added:

I want to add a tool to parse the index binlog files. This tool can get the meta information of index files.

#### Why is this needed:

Increase the readibility of index files. This tool can significantly help develpers and users to debug index-related issue.

[2021-09-15 01:53] DragonDriver commented on #7936
/assign @DragonDriver
/assign @xiaocai2333

[2021-09-15 01:56] xige-16 commented on #7222
I have tested repeated load and release, and the memory will stop rising after it reaches a certain level. You can test it again.

[2021-09-15 01:57] xige-16 commented on #7222
It may also be a problem with go's gc

[2021-09-15 02:05] xige-16 commented on #7742
Even if p:v is changed to 1:n, the msgpack of msgstream still contains the messages between two adjacent timetick msgs. Even if the flowgraph filters out some messages, the seek position is still valid.

[2021-09-15 02:07] #7806 closed

[2021-09-15 02:33] cydrain commented on #7861
In a cloud native system, configurations can be set via config file or env variable.
This proposal can let segcore parse configurations from config file, but cannot from env variable.
So we should let querynode parse configurations both from config file and env variable, then send to segcore.

Close this proposal.

[2021-09-15 02:33] #7861 closed

[2021-09-15 02:52] ThreadDao commented on #7372
So should similar behaviors of other interfaces be unified according to this behavior? like repeatedly connect? repeatedly drop collection? repeatedly load and release and so on...

[2021-09-15 03:19] congqixia opened #7945 "Implement a snapshot kv with suffix"
Related issue: #7530

Using etcd revision is not applicable for now. We needs to implement a `SnapshotKV` other than `metaSnapshot`

Here is the plan

- [x] implement a `SnapshotKV` using timestamp suffix
- [x] replace metaSnapshot with new implematiation

[2021-09-15 03:43] jaelgu opened #7949 "Call load() hangs when etcd has no enough space. How to estimate etcd space?"
1. Use Kubernetes to start Milvus Cluster with default values.yml
2. Insert sift100m data & create index (IVF_FLAT)
3. Call load()

Result:
Call load() hangs and etcd gets killed (it will keep trying to restart).
Checked with DevOps team that there's no enough space in etcd.

Question:
1. There is only etcd pvc size in current `values.yml`. Should etcd db quota size be added in `values.yml` as wel

[2021-09-15 04:18] congqixia commented on #7945
The first design was to add a "ts suffix" for a ts `save` operation like
[code]
But the API `MultiSaveAndRemoveWithPrefix` which removes all keys has the same prefix will ruin every ts records which means the ts functionality is not available after `RemoveWithPrefix`

The current workaround is to have a `snapshotPath` to store each ts value and to put a `tombstone` value as well when removing a ke

[2021-09-15 05:09] yanliang567 opened #7954 "need to get the SIMD type that Milvus is running against in GetMetrics"
#### What would you like to be added:
need to get the SIMD type that Milvus is running against in GetMetrics

#### Why is this needed:
need to recognize which SIMD type Milvus is running against

[2021-09-15 05:44] sicklife commented on #7503
I got the same issue, but no it seems nothing valuable in the index-node logs. only have logs very long (12 days) before

`
[root@k8s-master-01 ~]# k logs milvus-indexnode-69f484f7fc-rpnkz --tail 20 -f -n milvus
[2021/09/03 05:59:37.981 +00:00] [INFO] [grpclog.go:37] ["[core]Subchannel picks a new address \"milvus-etcd:2379\" to connect"]
[2021/09/03 05:59:37.981 +00:00] [INFO] [grpclog.go:37] ["[

[2021-09-15 06:21] XuanYang-cn commented on #7742
I have no idea, but the position of a msgpack DOES contain pchannel info now. DataNode has to convert it into vchannel.

[2021-09-15 06:26] XuanYang-cn commented on #7742
Seems right.

In this case, the startPositions and the endPositions  of a msgpack shouldn't be a slice, since it only contains 1 startposition and 1 endposition for the pchannel.

[2021-09-15 06:29] yhmo commented on #7127
Inactive and close.

[2021-09-15 06:29] #7127 closed

[2021-09-15 06:36] XuanYang-cn commented on #7742
To sum up:

Which one SHOULD msgpack contain?  pchannel info or vchannel info ?
- If its pchannel info (As now):
1. p:v = 1: n doesn't influence the correctness of the positions (@xige-16 )
2. startPosition and endPosition shouldn't be slice, since there are one startPos and one endPos for a msgPack of a pchannel (@XuanYang-cn )

- If its vchannel info: (@xiaofan-luan )
Pub and sub need to be re-i

[2021-09-15 06:42] XuanYang-cn commented on #7372
Good question

[2021-09-15 06:54] fishpenguin opened #7959 "Milvus standalone needs to add a policy to tell rocksmq to stop consume and retention"
#### Why is this needed:

When CloseRocksmq() is called, the rocksdb instance need to be closed, however meanwhile there may be some goroutines using the rocksdb instance.

[2021-09-15 07:18] XuanYang-cn commented on #7372
After discussing with @czs007, we made some consensus, and still have some questions to discuss.

To sum up:

@ThreadDao, You're right at the beginning. The behaviour of PyMilvus API and ORM-styled API should be the same.

The question is: **Which API to keep when meeting difference**?

It's still under discussion.

[2021-09-15 07:19] DragonDriver opened #7963 "Indexnode should initialize the knowhere configuration"
#### What would you like to be added:

I want to initialize the knowhere configuration when the indexnode starts.

#### Why is this needed:

Keep knowhere configurable.

[2021-09-15 07:20] DragonDriver commented on #7963
/assign

[2021-09-15 07:21] binbinlv opened #7964 "Milvus reports "syncTimeStamp Failed:state code = Abnormal" with low efficiency of etcd"
#### Steps/Code to reproduce:
Running nightly test cases: [cluster]
https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/142/

#### Expected result:
Tests run successfully

#### Actual results:
A lot of cases are failed because of the following error, and then milvus is unavailable reporting "server is not serving".

[code]

Timeline:
tests starting to fail: about 2021-09-14T15:42:4

[2021-09-15 07:24] XuanYang-cn commented on #7372
Moving this into 2.0.0-backlog

[2021-09-15 07:31] XuanYang-cn commented on #6748
It's not a bug, although it may seem pretty weird comparing to 1.x.

(2021.9.15) Now, when calling `load_collection`, querynode will load indexes exist at this moment

For the later-built indexes, even with the same index type and params, querynode WON'T load them.

**So after loading collection, indexes in the memory will stay UNCHANGED, until releasing and reloading next time**, no matter
the sa

[2021-09-15 07:31] yanliang567 commented on #7788
that's what we want.:)

[2021-09-15 07:50] yhmo opened #7965 "Support codecoverage for C++ code"
#### What would you like to be added:
Support codecoverage for C++ code

#### Why is this needed:
The following folder is C++ code:
/internal/core
/internal/storage/cwrapper
/internal/util/dablooms/cwrapper

[2021-09-15 08:07] #6748 closed

[2021-09-15 08:12] DragonDriver opened #7969 "Support to set max task number of task queue"
#### What would you like to be added:

I want to support set max task number of task queue.

#### Why is this needed:

Task queue can be configured more flexiably.

[2021-09-15 08:12] DragonDriver commented on #7969
/assign

[2021-09-15 08:39] wangting0128 commented on #7543
@xige-16
hi, when will the final plan for this be available?

[2021-09-15 09:03] XuanYang-cn opened #7977 "Ut action timeout panic"
#### Steps/Code to reproduce:

https://github.com/milvus-io/milvus/pull/7909/checks?check_run_id=3607219032

Possibly caused by this:

[code]

proxy_test.go
[code]

/assign @DragonDriver

[2021-09-15 09:06] XuanYang-cn commented on #7977
[code]

[2021-09-15 09:30] #7850 closed

[2021-09-15 09:30] #7880 closed

[2021-09-15 09:31] ThreadDao commented on #7782
@yanliang567 Not yet

[2021-09-15 09:31] #7452 closed

[2021-09-15 09:39] PeteWorkspaces opened #7989 "请问这个服务器配置是不是不能运行Milvus Docker CPU版本？"
Can not run Milvus CPU Version。

On My Test Server，I've Try to Run Docker18.03+Milvus0.8，But it does not work。Docker Logs something as below：
./start_server.sh: line 3:     8 Illegal instruction     (core dumped) ../bin/milvus_server -c ../conf/server_config.yaml -l ../conf/log_config.conf

And I've Change to Run Docker19.03+Milvus1.1.1，But it Still does not work，Docker Logs nothing error!。

Only

[2021-09-15 09:46] lordofdou commented on #7925
Here is the proxy pod logs
[code]

[2021-09-15 10:13] #7770 closed

[2021-09-15 10:14] JamCrash commented on #7466
I faced the same problem, is it solved now?

[2021-09-15 10:20] godchen0212 opened #7999 "Delete util performance directory"
#### What would you like to be added:
Delete util/performance directory.

#### Why is this needed:
This code is useless.

[2021-09-15 10:45] XuanYang-cn commented on #7741
## Why panic
[code]

2 ^ 28 = 2 ^ 14 + 4096 (dim) * 4 (float 32)

So we at most support the 2^14 = 16384 num of rows for 4096 dim vectors

## The real problem

Of course, we can just raise up the 2 ^ 28 to 2 ^ 32 or something, but this's not the real problem.

The problem is the size of 32000 numOfRows vectors varies largely depending on the **Dimension** of the vectors.

And vector dimension in [

[2021-09-15 10:48] yanliang567 commented on #7466
not reproduced on rc6, please try it @JamCrash

[2021-09-15 10:50] yanliang567 commented on #7741
@binbinlv could you please help to check why ci does not meet this issue? I believe we tested a scenario with max_dim

[2021-09-15 10:51] binbinlv commented on #7741
@yanliang567  OK, working on it.

[2021-09-15 11:00] wangting0128 opened #8001 "[benchmark] [standalone] StatusCode.DEADLINE_EXCEEDED when calling quey"
#### Steps/Code to reproduce:

argo task：benchmark-d5k5k

test yaml：
[code]

server deploy：
[code]

client logs：

[client.log](https://github.com/milvus-io/milvus/files/7169469/client.log)

`[2021-09-15 10:40:46,007] [   ERROR] - Error: <BaseException: (code=1, message=[UnexpectedError] bad optional access
`
[code]

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.

[2021-09-15 11:05] xige-16 commented on #7240
The problem no longer occurs, close this issue first.

[2021-09-15 11:05] #7240 closed

[2021-09-15 11:33] binbinlv commented on #7741
This case is triggered by two conditions:
1 big dim
2 insert N times ( Here N should be relatively larger):
[from my reproduce, milvus is restarted when inserting at 52nd time, 80th time, and 113rd time. And after 3 times' restart, then milvus is crashed and could not be connected showing "Fail connecting to server on"]

And in our CI/Nightly CI tests, "max_dim" insert scenario is only covered by

[2021-09-15 11:36] binbinlv opened #8003 "Add more parameter combination about dim for insert case"
What would you like to be added:
(1) add more dim value combination at case "test_insert_multi_times" in "test_insert_20.py" file.
(2) increase the insert times in this case.

[2021-09-15 12:01] JamCrash commented on #7466
but I can reproduced it in minikube, I do like this:
first helm install the server cluster, and do test, the test doing well,
then helm uninstall the server cluster, wait a second an restart it, then do the test, the problem above is reproduced stabilized

[2021-09-15 12:14] yanliang567 commented on #7466
that's a known,which is by default helm install does not persist the data inserted. to workaround it, you need to pull the latest milvus-helm repo and manually set the annotations for pulsar, etcd and minio

[2021-09-15 12:14] #7466 closed

[2021-09-15 12:55] xige-16 opened #8006 "Improve the code quality of querycoord"
#### What would you like to be added:
Improve the code quality of querycoord
#### Why is this needed:

[2021-09-15 12:55] xige-16 commented on #8006
/assign

[2021-09-15 14:42] fishpenguin opened #8015 "Add more comments in util"

[2021-09-15 15:29] #8015 closed

[2021-09-16 01:19] NotRyan opened #8022 "Typo in Developer Docs, Appendix A"
#### Steps/Code to reproduce:
In milvus/docs/developer_guides/appendix_a_basic_components.md, under section A.2.

#### Expected result:
"Registration"

#### Actual results:
"Registeration"

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Con

[2021-09-16 01:19] #8022 closed

[2021-09-16 01:20] NotRyan commented on #8022
Fixed by #8021

[2021-09-16 01:35] #7945 closed

[2021-09-16 01:36] congqixia commented on #7530
The fix PRs have been merge. Could you please verify whether this issue is solved? @yanliang567
/unassign
/assign @yanliang567

[2021-09-16 01:48] yanliang567 commented on #7530
@zhuwenxing please help to make a verificaton.

/assign @zhuwenxing
/unassign

[2021-09-16 01:54] #7460 closed

[2021-09-16 01:56] yanliang567 commented on #7964
/assign @scsven
/unassign @czs007

[2021-09-16 01:56] yanliang567 commented on #7613
/assign @scsven
/unassign @czs007

[2021-09-16 02:03] yanliang567 commented on #7222
remove urgent, if memory consumption keeps increasing without a limitation, lets reset to rugent

[2021-09-16 02:05] czs007 commented on #7343
Please try with the latest version

[2021-09-16 02:05] czs007 commented on #7348
Please try with the latest version

[2021-09-16 02:22] hande6688 opened #8034 "How to modify the storage path of the index library db, milvus is the default？"
Milvus just created the name of a collection and did not have the function of storing the index library path. It is inconvenient to find the location of the index library every time. Is there a solution?

[2021-09-16 02:29] JamCrash commented on #7466
I am using the latest repo already, but how to set the annotations?

[2021-09-16 02:37] binbinlv commented on #7343
OK, working on it.

[2021-09-16 02:38] bigsheeper commented on #7022
same reason as #6726

[2021-09-16 02:45] czs007 commented on #7503
@xige-16 PTAL

[2021-09-16 02:53] XuanYang-cn opened #8037 "segmentCheckPoints is not in use in insertbuffernode"
https://github.com/milvus-io/milvus/blob/5a3cd24ae17745f0f7150c56b495b129c60ac6cd/internal/datanode/flow_graph_insert_buffer_node.go#L69

[2021-09-16 02:53] yanliang567 commented on #7466
Please refer to the code below as an example:
` helm install my-release milvus/milvus --set cluster.enabled=true --set etcd.persistence.annotations."helm\.sh/resource-policy"=keep --set minio.persistence.annotations."helm\.sh/resource-policy"=keep --set pulsarStandalone.persistence.annotations."helm\.sh/resource-policy"=keep`

[2021-09-16 02:54] xige-16 commented on #7503
/assign @bigsheeper

[2021-09-16 02:59] yanliang567 commented on #7348
@binbinlv any chance to retry on latest build?
 /assign @binbinlv

[2021-09-16 03:12] yhmo opened #8041 "Reduce time cost of unittest"
#### What would you like to be added:
Reduce time cost of unittest

#### Why is this needed:

C++ unittest cost almost 10 minutes:
`190 tests from 33 test cases ran. (539231 ms total)`

These C++ unittest cases are slow:
`ConcurrentVector.TestMultithreads (18533 ms)`

These Go unittest cases are slow:
[code]

[2021-09-16 03:39] BUPTAnderson opened #8045 "Compile protocol buffer files error"
run **proto_gen_go.sh** script to regenerate go code for milvus **.proto** files failed.
#### Steps/Code to reproduce:
run **proto_gen_go.sh** script

#### Expected result:
regenerate go code successfully

#### Actual results:
compile failed with the following error:
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
  master branch

[2021-09-16 03:40] BUPTAnderson commented on #8045
assign @BUPTAnderson

[2021-09-16 03:46] sunby commented on #7775
Where can I find the etcd log?

[2021-09-16 03:47] sunby commented on #7775
Where can I find etcd log

[2021-09-16 03:49] BUPTAnderson commented on #8045
@XuanYang-cn Hi XuanYang, please review.

[2021-09-16 04:03] binbinlv commented on #7348
This panic has been recreated in benchmark tests:

Milvus log for benchmark could be found using "https://kibana-dev.zilliz.cc/app/discover"

panic: runtime error: index out of range [0] with length 0

![image](https://user-images.githubusercontent.com/83755740/133547408-226dafdc-4329-4bcd-8476-f30be6203f83.png)

configure:
benchmark-b8f6l-1-etcd-0                               1/1     Running   0

[2021-09-16 04:03] congqixia commented on #7503
Here is a small example to reproduce this issue.  `CreateIndex` and `Search` works fine for now. Did I misunderstand your problem? @xige-16 @jilieryuyi
[code]

[2021-09-16 04:16] scsven commented on #7613
/unassign
/assign @yhmo

[2021-09-16 04:17] scsven commented on #7964
/unassign
/assign @godchen0212

[2021-09-16 04:28] xiaofan-luan commented on #7742
I prefer the second solution, how much effort we will have to pay to change the filter channel part?
We should put vchannel info into each message and filter based on vchannel name

[2021-09-16 05:20] xiaofan-luan commented on #7989
please change the issue into english~ thanks, that may helps other people in the community

[2021-09-16 06:17] fishpenguin commented on #7910
Fixed by [pr7814](https://github.com/milvus-io/milvus/pull/7814).

[2021-09-16 06:20] fishpenguin commented on #7544
Fixed by [pr7557](https://github.com/milvus-io/milvus/pull/7557)

[2021-09-16 06:24] zhuwenxing commented on #7530
To trigger auto-compaction-mode needs thousands of insert operations, I would like  to make verification later if not urgent.

[2021-09-16 06:30] DragonDriver commented on #7803
/unassign
/assign @bigsheeper

[2021-09-16 06:38] fishpenguin commented on #7348
/assign @fishpenguin
/unassign @sunby

[2021-09-16 06:38] fishpenguin commented on #7348
I'm working on it.

[2021-09-16 06:51] DragonDriver commented on #7288
/assign

[2021-09-16 06:55] DragonDriver commented on #7288
Since all our components are based on grpc, so I also plan to implement health check api based on grpc.
In this way, https://github.com/grpc-ecosystem/grpc-health-probe tells us we should use a exec command to check if a pod is healthy. How do you think about this way? Is that a convinent way to deploy milvus on kubernetes?
@zwd1208

[2021-09-16 07:00] #7450 closed

[2021-09-16 07:02] XuanYang-cn commented on #7977
[code]

/assign @xiaocai2333

[2021-09-16 07:06] XuanYang-cn commented on #7977
/unassign @DragonDriver

[2021-09-16 07:11] zwd1208 commented on #7288
I think there is no difference between using the HTTP or GRPC for health check.
HTTP is much easier to access and metrics is already use 9091 http port, so health check can also use 9091 port

[2021-09-16 07:26] XuanYang-cn opened #8058 "DataNode improvements"
- [x] Flush Retry
- [x] Minio resourece cleaning goroutinue while flush failed but not update on etcd yet.
- [x] Flush fail won't lossing data anymore #7397
- [x] Auto flush thershold #7741
- [x] Code style improvement #7624
- [x] Flush async #8122
- [x] Ut coverage to 90% #7684

/assign
/kind improvement

[2021-09-16 07:32] yanliang567 commented on #7775
@LoveEachDay could you please help to send the etcd logs to @sunby

/assign @LoveEachDay

[2021-09-16 07:37] fishpenguin commented on #7348
/unassign @fishpenguin
/assign @congqixia

[2021-09-16 08:09] xige-16 opened #8062 "querynode should return error if setSegment failed druing loading segment"
#### Steps/Code to reproduce:
segment_loader.go:86 setSegments func should return err
[code]

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-09-16 08:10] xige-16 commented on #8062
/assign @bigsheeper

[2021-09-16 08:15] congqixia commented on #7343
Examined the logs. It says `rootcoord` disconnected with etcd:
[code]

[2021-09-16 08:18] dinuthomas commented on #7607
The issue is resolved.
It was due to different file formats of the partitions in the host system.

[2021-09-16 08:18] #7607 closed

[2021-09-16 08:23] godchen0212 commented on #7964
The lease expiration may be caused by network jitter. I will increase the ttl time first to alleviate this problem.

[2021-09-16 08:25] xiaocai2333 opened #8066 "Data Race when run proxy unittest about rootcoord"
When run proxy unittest, there is a bug about data race for rootcoord.
#### Steps/Code to reproduce:
```make test-go```
But it is occasionally.

#### Expected result:
Run unittest successfully.

#### Actual results:
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):  master
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS)

[2021-09-16 08:26] xiaocai2333 commented on #8066
/cc @DragonDriver

[2021-09-16 08:26] DragonDriver commented on #8066
/assign

[2021-09-16 08:36] zhuwenxing opened #8069 "Hangs on getting collection entities after NetworkChaos (partition) deleted"
#### Steps/Code to reproduce:
1. deploy a cluster milvus by helm accroding to the doc in milvus website (include port-forward)
2. run `hello_milvus.py`
3. inject network chaos (partition) for proxy pod
It means proxy pod can't communicate with other pods during injecting
4. run `hello_milvus.py`
5. delete network chaos
6. run `hello_milvus.py`
#### Expected result:
step 2 success
step 4 fail
step

[2021-09-16 08:37] binbinlv opened #8070 "Modify error message and update pymilvus"
#### Steps/Code to reproduce:

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-09-16 08:42] godchen0212 commented on #7964
The root problem is why the heartbeat with etcd is not maintained. The client log shows that it is disconnected from etcd, and the etcd server does not print any logs. I will run nightly with local env.

[2021-09-16 08:51] zhuwenxing opened #8076 "Add script to export logs for pods in k8s cluster"
#### What would you like to be added:
Add script to export logs for pods in k8s cluster
#### Why is this needed:
Exporting logs for all pods in milvus cluster one by one is tedious, so we can use a script to export by pod name prefix in one command.

[2021-09-16 08:51] congqixia commented on #8066
Ran into the same problem.
The root cause is when `ctx` timeout, the response wil be returned and next task will be put in to a task queue(which triggers a alloc  ts op). But the timeout-ed task is not finished and will try to reconnect the connection. @DragonDriver

[2021-09-16 08:53] yanliang567 commented on #6330
this is a feature that we are going to implement soon

[2021-09-16 08:56] binbinlv commented on #7910
@fishpenguin  hello, I think this issue could not fixed by pr7814.

Now the bool expression could be supported using "bool == True" or "bool == 1".

But if specifying "bool == 2" (non-zero), I think the behavior could be the same with "bool == 1", and now it is the same with "bool == 0" or "bool == False".

[2021-09-16 09:21] #8070 closed

[2021-09-16 09:22] DragonDriver opened #8083 "Data race of all components grpc client"
internal/distributed/datacoord/client/client.go

read/write data race on Client.grpcClient

Client.connect() will do write operation on Client.grpcClient (internal/distributed/datacoord/client/client.go 129),
other function (such as Flush) will read Client.grpcClient (internal/distributed/datacoord/client/client.go 187).

Solution:

Add a read/write lock to guard the Client.grpcClient. Same as htt

[2021-09-16 09:23] yanliang567 commented on #7774
need verification before close

[2021-09-16 09:25] DragonDriver opened #8085 "Data race of datanode grpc client"
internal/distributed/datanode/client/client.go

read/write data race on Client.grpc

Client.connect() will do write operation on Client.grpc (internal/distributed/datanode/client/client.go 110),
other function (such as Client.FlushSegments) will read Client.grpc (internal/distributed/datanode/client/client.go 168).

Solution:

Add a read/write lock to guard the Client.grpc. Same as https://github.

[2021-09-16 09:26] yanliang567 commented on #6727
duplicated to #7774

[2021-09-16 09:26] #6727 closed

[2021-09-16 09:28] #8085 closed

[2021-09-16 09:33] DragonDriver commented on #8083
/assign
/assign @xiaocai2333

[2021-09-16 09:41] binbinlv opened #8089 "Need add test cases for supporting bool expression"
What would you like to be added:

After expression supporting bool type, add test cases for them.

[2021-09-16 09:42] yanliang567 commented on #7774
on master-20210916-4814f9c with pymilvus-2.0.0rc7.dev4
`index_params = {"index_type": "IVF_SQ8", "params": {"nlist": 64}, "metric_type": "L2"}`
`search_params = {"params": {"nprob": 16}}      `            with a typo nprob**e**

[code]

[2021-09-16 10:14] xige-16 opened #8098 "Create Index fail when running ci tests"
create index timeout
#### Steps/Code to reproduce:
logs:
[artifacts-milvus-standalone-PR-8082-2-pymilvus-e2e-logs.tar.gz](https://github.com/milvus-io/milvus/files/7176890/artifacts-milvus-standalone-PR-8082-2-pymilvus-e2e-logs.tar.gz)

#### Expected result:
success

#### Actual results:

timeout

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or clust

[2021-09-16 10:14] xige-16 commented on #8098
/assign @czs007
/assign @xiaocai2333

[2021-09-16 10:32] JamCrash commented on #7466
I deployed the cluster in the above way, this time I got stuck in the searching step:
List collections...
['hello_milvus']

Create collection...

List collections...
['hello_milvus']

Get collection entities...
9000

Create index...

load collection...

Search...

[2021-09-16 10:34] JamCrash commented on #7466
helm install first time ..., test well ;
helm uninstall then helm install, test block

[2021-09-16 10:52] yanliang567 commented on #7466
@JamCrash Mmm...could you please file a new issue, we will investigate it

[2021-09-16 10:53] fcampagnexandr commented on #7933
Thanks, will try it.

[2021-09-16 10:53] #8076 closed

[2021-09-16 10:54] godchen0212 opened #8103 "Make init private"
#### What would you like to be added:
Make initFromEnv init
#### Why is this needed:
Avoiding developers call this method.

[2021-09-16 11:04] xige-16 opened #8105 "QueryCoord should only can be init once"
#### Steps/Code to reproduce:

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-09-16 11:04] xige-16 commented on #8105
/assign

[2021-09-16 11:42] JamCrash opened #8109 "Test block in searching step when redeploy cluster using helm"
#### Steps/Code to reproduce:
ENV: Ubuntu20.04,  python3.8,  pymilvus==2.0.0rc6 and the latest milvus chart

Steps:
1. First start a new minikube cluster
2. Install the cluster: helm install my-release milvus/milvus --set cluster.enabled=true --set etcd.persistence.annotations."helm\.sh/resource-policy"=keep --set minio.persistence.annotations."helm\.sh/resource-policy"=keep --set pulsarStandalone

[2021-09-16 11:44] JamCrash commented on #7466
I file a new issue for this problem： #8109

[2021-09-16 11:49] matrixji opened #8110 "Development toolchains support centos-8"
#### What would you like to be added: Toolchains setup for centos-8

#### Why is this needed: There should be some guys using centos8 as a daily development Linux, I'd like to share my setup scripts for compiling Milvus under centos-8.

[2021-09-16 11:54] xiaofan-luan commented on #8110
That would be great!
We do expect more info on compiling and run milvus on different enviorntment.

[2021-09-16 11:59] xiaofan-luan commented on #8034
Hi Hande, I was a little confused, did you want to change index storage path or index library path milvus relies on?

[2021-09-16 12:14] matrixji commented on #8110
Some other PRs ongoing has compiled and run with standalone success under windows/MSYS locally, but currently failed with hello-milvus. Seems support windows will be a long story.

[2021-09-16 13:51] piotr-jagiello opened #8113 "Very high memory usage when amount of data is bigger than cache_size"
After loading more data than configured cache_size, search requests cause very high memory usage, way higher than cache_size.

#### Steps/Code to reproduce:
Following code reproduces this result for me on a c5.9xlarge machine (72 GB of RAM).
cache_size:16GB
insert_buffer_size: 2GB
wal.enable: true
wal.buffer_size: 256MB

The following script creates a collection and an index (with index_file_size

[2021-09-16 15:31] jeffoverflow commented on #6424
To be resolved

[2021-09-16 15:31] jeffoverflow commented on #6424
To be resolved

[2021-09-17 01:32] congqixia commented on #7348
The fixing PR has been merge. Could you please verify panicking has been solved?? @binbinlv

[2021-09-17 02:11] yanliang567 commented on #7964
/assgin @sunby

[2021-09-17 02:12] yanliang567 commented on #7930
@wangting0128 please help to verify

[2021-09-17 02:13] yanliang567 commented on #7803
@bigsheeper any updates ?

[2021-09-17 02:16] yanliang567 commented on #7348
/assign @binbinlv
/unassign @congqixia

[2021-09-17 02:26] binbinlv commented on #7348
@congqixia  OK, working on it, thanks.

[2021-09-17 02:28] yhmo commented on #7613
The bug has been fix in pymilvus, please use the latest pymilvus to verify.
Once any partition name doesn't exist, the loading_progress() api will throw an exception: "partitionID of partitionName:xxx can not be found"

[2021-09-17 02:42] bigsheeper commented on #7803
find nothing from the log, I'm trying to repro

[2021-09-17 02:42] bigsheeper commented on #7803
find nothing from the log, I'm trying to repro

[2021-09-17 02:51] yanliang567 commented on #7613
@ThreadDao please help to verify it

[2021-09-17 03:26] bigsheeper commented on #7803
Repro on my localhost, after adding some logs I found that query nodes have been returned 1000 results to proxy, so I guess the global reducing causes this bug. @DragonDriver

[2021-09-17 03:26] bigsheeper commented on #7803
/assign @DragonDriver
/unassign

[2021-09-17 03:45] yanliang567 commented on #7543
after discussion, there is not a perfect solution right now... will have a completed fix in 2.0 GA

[2021-09-17 04:01] wangting0128 commented on #7930
【**recurrent**】

argo task：benchmark-9bh2v

server deploy：
image tag：master-20210916-9bbff86

[code]

client log：

[code]

[2021-09-17 04:22] congqixia opened #8122 "Proxy unit test hangs when grpc server graceful stop fails"
See ut:
https://github.com/milvus-io/milvus/pull/8025/checks?check_run_id=3627975243

[2021-09-17 04:32] scsven opened #8123 "Possible data race in the unit test of rootcoord"
#### Steps/Code to reproduce:
[code]

#### Explain

Since the `Stop` function is called, 5 goroutines that execute in the `Start` function will exit async. If the value of var `IDAllocator` is changed at this time, while a goroutine accesses it, it will cause a data race.

#### Related codes
[code]

/assign

[2021-09-17 04:37] #8123 closed

[2021-09-17 05:33] #8089 closed

[2021-09-17 06:38] binbinlv commented on #7504
Nightly cases failed for this issue again, so add the urgent label.

https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/144/ [Cluster]

rootcoord log:
0.log
[code]

[2021-09-17 06:52] yhmo commented on #7989
Typically, "Illegal instruction" error is caused by incompatible hardware. Most of x86 cpu with SSE4.2, AVX, AVX2, AVX512 instruction can run milvus.

From your description, your cpu can support sse4_2, theoretically it can meet the requirement.  Is it inter cpu?

I notice the error "shim reaped", it is related to docker. I am not sure how to solve this, you can refer this page:
https://github.com

[2021-09-17 07:35] JamCrash commented on #8109
有人麻

[2021-09-17 07:36] JamCrash commented on #8109
Is there anyone could reproduce this problem?

[2021-09-17 08:16] XuanYang-cn opened #8143 "Openblas built by Milvus is not installed properly"
Should be installed at someplace within the system search path.  Or the ${CMAKE_INSTALL_PREFIX}

I Will check on both ubuntu and centos to see if this problem is unique to centos.

[2021-09-17 08:21] #7432 closed

[2021-09-17 08:23] congqixia commented on #7530
@zhuwenxing we need to enable etcd auto compaction and just let milvus instance work for a while. `Rootcoord` will have 3 writes every 2 seconds.

[2021-09-17 08:25] yanliang567 commented on #8109
trying to reproduce it

[2021-09-17 08:25] #8037 closed

[2021-09-17 08:29] bigsheeper commented on #6337
/unassign
/assign @xiaocai2333

[2021-09-17 08:30] bigsheeper commented on #6413
/unassign
/assign @xiaocai2333

[2021-09-17 08:32] bigsheeper opened #8144 "Add releaseSegment interface for queryNode"
#### Is your feature request related to a problem? Please describe:
Add releaseSegment interface for queryNode

#### Describe the solution you'd like:

#### Describe alternatives you've considered:

#### Additional context:

[2021-09-17 09:11] yanliang567 commented on #8109
it repros to me as well, seems like a dup to #7313
pods after uninstall and reinstall:
[code]

[2021-09-17 09:12] yanliang567 commented on #8109
/unassign
/assign @XuanYang-cn

[2021-09-17 09:31] XuanYang-cn commented on #8122
/assign

[2021-09-17 09:39] bigsheeper opened #8154 "Cannot close querynode when loadCollection"
#### Steps/Code to reproduce:
run proxy unittest

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-09-17 09:51] congqixia commented on #8122
#8124 solves only the timeout. The wild grpc request is not handled.

[2021-09-17 10:29] mkurovski commented on #6722
/reopen

Still not working on M1 which is important to support due to more widespread adoption.

[2021-09-17 10:33] godchen0212 opened #8163 "Remove performanceTest"
#### What would you like to be added:
Remove performanceTest.
#### Why is this needed:
Useless code.

[2021-09-17 11:53] DragonDriver opened #8171 "Support created time and updated time in metrics info"
#### What would you like to be added:

I want to support created time and updated time in metrics info.

#### Why is this needed:

Help users to know the nodes information more clear.

[2021-09-17 12:56] XiaoConstantine opened #8175 "Duplicate entries in collection"
Background:
Continuously indexed documents to a collection, in order to avoid duplicates, for every batch inserted into milvus:
[code]

However, we are seeing non negligible results contain duplicates with the query ID itself.

Additional contexts/debugging did:

I found that when this log start to printing in the warning log, duplicate entries start to shown in the collection
[code]
Based on disc

[2021-09-17 15:53] louisliu83 opened #8176 "How to access the Milvus service by configuring HTTP address instead of ip and port in k8s cluster"
#### Is your feature request related to a problem? Please describe:

#### Describe the solution you'd like:

#### Describe alternatives you've considered:

#### Additional context:

[2021-09-18 01:28] dcboy opened #8179 "rc6 version cannot be automatically restored after it crashes in kubernetes cluster mode"
#### Steps/Code to reproduce:

1. helm install my-release milvus/milvus --set cluster.enabled=true
2. when all of pod is ready, use pymilvus connect proxy, that is success
3. use kubectl delete all pod in my-release include etcd, minio, pulsar

#### Expected result:

1. after all pod resume ready proxy service is health

#### Actual results:

2.  proxy connect fail with pymilvus

#### Environment:

[2021-09-18 01:28] LoveEachDay commented on #8176
which milvus version do you use?
For milvus 2.0, we only support grpc request for now.

[2021-09-18 01:32] louisliu83 commented on #8176
1.1

---Original---
From: ***@***.***&gt;
Date: Sat, Sep 18, 2021 09:29 AM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [milvus-io/milvus] How to access the Milvus service by configuring HTTP address instead of ip and port in k8s cluster (#8176)

which milvus version do you use?
 For milvus 2.0, we only support grpc request for now.

—
You are receiving this because you author

[2021-09-18 01:33] #7449 closed

[2021-09-18 01:40] xiaofan-luan commented on #8179
did you check all and cleaned up all persistent path?
I'm not sure if all the mounted dir will be removed when you delete the pod

[2021-09-18 01:44] yanliang567 commented on #8179
@dcboy Etcd is a core service for milvus, milvus will run into panic if etcd failed.  Etcd handles its node failure by themselves, it ought to provide stable service.

[2021-09-18 01:58] DragonDriver commented on #7803
working on this

[2021-09-18 02:03] #8062 closed

[2021-09-18 02:29] dcboy commented on #8179
only del pod, not delete pvc

[2021-09-18 02:42] yanliang567 commented on #8109
@XuanYang-cn could you please take look at this issue?
Search hangs for previous created collection, and it searches successfully if creating a new collection

[2021-09-18 02:43] #7859 closed

[2021-09-18 02:43] cydrain commented on #7858
/close

[2021-09-18 02:43] #7858 closed

[2021-09-18 02:44] godchen0212 commented on #7964
{"level":"info","ts":"2021-09-14T15:40:02.880Z","caller":"traceutil/trace.go:171","msg":"trace[1280641551] range","detail":"{range_begin:by-dev/meta/session/RootCoord; range_end:by-dev/meta/session/RootCoore; response_count:0; response_revision:98412; }","duration":"**10.352107658s**","start":"2021-09-14T15:39:52.528Z","end":"2021-09-14T15:40:02.880Z","steps":["trace[1280641551] 'agreement among r

[2021-09-18 02:47] yanliang567 commented on #7858
@DragonDriver could you help to implement the simd type info in GetMetrics API
 Related: #7954

[2021-09-18 02:48] xige-16 opened #8187 "ReleaseCollection request can't be send to querynode"
querycoord assign release collection request to node, but querynode can't recieve the release request
#### Steps/Code to reproduce:

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration f

[2021-09-18 02:48] dcboy commented on #8179
all step
`
➜  temp k get po
NAME                                            READY   STATUS    RESTARTS   AGE
my-release-etcd-0                               1/1     Running   0          76s
my-release-milvus-datacoord-cfd7dc58d-gc7wk     1/1     Running   0          76s
my-release-milvus-datanode-6bd5f9fc95-qvf49     1/1     Running   0          76s
my-release-milvus-indexcoord-5b5dbfc47f-z78nn

[2021-09-18 02:48] xige-16 commented on #8187
/assign

[2021-09-18 02:49] dcboy commented on #8179
pymilvus error msg

`
        {'API start': '2021-09-18 10:48:06.152666', 'RPC start': '2021-09-18 10:48:06.153141', 'RPC error': '2021-09-18 10:48:36.154393'}
2021-09-18 10:48:36,154 ｜ ERROR ｜ grpc_handler.py ｜ handler ｜ 75 ｜
Addr [127.0.0.1:19530] search_with_expression
RPC error: <_MultiThreadedRendezvous of RPC that terminated with:
        status = StatusCode.DEADLINE_EXCEEDED
        details

[2021-09-18 02:50] dcboy commented on #8179
log of etcd

`
Kubernetic Logo
Kubernetic

docker-desktop
default
Labels

Pods
/
my-release-etcd-0
my-release
Edit

Status
Specifications
View
Labels
Logs
Terminal
Ports
Events
Search...

Pod

Container

25 lines
[my-release-etcd-0 etcd]  {"level":"info","ts":"2021-09-18T02:37:47.225Z","caller":"membership/cluster.go:276","msg":"recovered/added member from store","cluster-id":"e7854b13505486f5","l

[2021-09-18 02:52] xige-16 commented on #8144
same with #7576

[2021-09-18 02:52] dcboy commented on #8179
log of proxy pod

[code]

[2021-09-18 02:55] #7930 closed

[2021-09-18 02:55] dcboy commented on #8179
log of datacrood

[code]

[2021-09-18 02:55] dcboy commented on #8179
log of datanode

[code]

[2021-09-18 02:57] dcboy commented on #8179
log of indexcoord

[code]

[2021-09-18 02:57] bigsheeper opened #8191 "Panic in proxy unittest caused by sending to closed tSafe watcher channel"
#### Steps/Code to reproduce:

#### Expected result:

#### Actual results:
https://github.com/milvus-io/milvus/pull/8086/checks?check_run_id=3638188205

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional con

[2021-09-18 02:57] dcboy commented on #8179
log of indexnode

[code]

[2021-09-18 03:00] dcboy commented on #8179
log of pulsar pod

[code]

[2021-09-18 03:00] DragonDriver commented on #7803
Proxy reduce algorithm caused this issue. I will fix this soon.

[2021-09-18 03:00] dcboy commented on #8179
log of querycoord

[code]

[2021-09-18 03:01] binbinlv commented on #7348
It did not occur through recreating, so close it.

[2021-09-18 03:01] #7348 closed

[2021-09-18 03:01] dcboy commented on #8179
log of querynode

[code]

[2021-09-18 03:01] dcboy commented on #8179
log of rootcoord

[code]

[2021-09-18 03:03] binbinlv commented on #6495
Could not reproduce, so close it first, will reopen it when it occurs in the future.

[2021-09-18 03:03] #6495 closed

[2021-09-18 03:03] #6607 closed

[2021-09-18 03:22] hande6688 commented on #8034
就是我们插入索引生成的索引文件

[2021-09-18 03:50] congqixia opened #8201 "Some important linters are not enabled"
Linters like gosec check important glitch code which are not enabled

We should enable linters step by step

related issue #7394

- [x] add gosec
- [x] add document about golangci-lint
- [ ] enable other linters if needed

[2021-09-18 03:51] yanliang567 commented on #8001
@czs007 any updates?
one of root cause could be the memory was not released completely when dropping a collection

[2021-09-18 06:26] cydrain commented on #7130
/assign

[2021-09-18 06:37] timshen commented on #7775
Any update here? @LoveEachDay @sunby

[2021-09-18 06:40] timshen commented on #7530
@zhuwenxing  is this verified?

[2021-09-18 06:42] zhuwenxing commented on #7530
Not yet. I will work on it right now

[2021-09-18 07:02] #8083 closed

[2021-09-18 07:22] jeffoverflow commented on #7394
`make lint`

[2021-09-18 07:22] jeffoverflow commented on #7394
`make lint`

[2021-09-18 07:37] jingkl opened #8214 "Minio's index file storage path needs improvement"
Our current index files are stored in the following directory,I think it would be better to store it in a directory like by-dev/indexes/
![2021918-153213](https://user-images.githubusercontent.com/34296482/133880512-79731e82-fe64-4a46-8fe6-f627296c5b37.png)

[2021-09-18 08:59] zhuwenxing commented on #7530
Verified. It works well in version `master-20210918-ccb57ba4b`

[2021-09-18 08:59] #7530 closed

[2021-09-18 09:01] zhuwenxing commented on #7528
Verified. It works well in version `master-20210918-ccb57ba4b`

[2021-09-18 09:01] #7528 closed

[2021-09-18 09:44] bigsheeper commented on #7495
would be fixed by #8050

[2021-09-18 10:03] #6855 closed

[2021-09-18 10:03] #6830 closed

[2021-09-18 10:03] #6964 closed

[2021-09-18 10:05] ThreadDao opened #8234 "The CI time cost of distributed third-party service is about 1.7 times that of standalone"
#### Steps/Code to reproduce:
1. Deploy cluster milvus with cluster etcd, minio and pulsar
2. Run CI cases (L0, L1)
[code]

3. Deploy cluster milvus with standalone etcd, minio and pulsar
4. Run CI cases
[code]

#### Expected result:
What do you think?

#### Actual results:
1. standalone pulsar, minio and etcd
[code]
2. cluster pulsar, minio and etcd
[code]

#### Environment:
- Milvus version(e.g.

[2021-09-18 11:03] #6812 closed

[2021-09-18 11:03] #6771 closed

[2021-09-18 11:03] #6733 closed

[2021-09-18 12:03] #7037 closed

[2021-09-18 12:03] #7039 closed

[2021-09-18 12:03] #7012 closed

[2021-09-18 12:04] #7007 closed

[2021-09-18 12:04] #7020 closed

[2021-09-19 04:29] #2328 closed

[2021-09-19 04:29] #2387 closed

[2021-09-19 04:29] #3821 closed

[2021-09-19 04:29] #5215 closed

[2021-09-19 04:29] #3335 closed

[2021-09-19 04:29] #3851 closed

[2021-09-19 04:29] #4225 closed

[2021-09-19 12:36] iamartyaa commented on #7507
/assign @iamartyaa

[2021-09-20 03:01] #4995 closed

[2021-09-20 03:01] #6412 closed

[2021-09-20 05:01] #6758 closed

[2021-09-20 05:01] #7089 closed

[2021-09-20 05:02] #7079 closed

[2021-09-20 06:40] #5149 closed

[2021-09-20 11:45] xiaofan-luan commented on #8179
Thanks for the very detailed log information provided, let us take a deep look into it

[2021-09-20 11:46] xiaofan-luan commented on #8176
please refer to restful api document https://github.com/milvus-io/milvus/tree/1.1/core/src/server/web_impl

[2021-09-20 12:15] xiaofan-luan commented on #8179
The logs is hard to tell but seems that getSegment failed with certain persistent info loss.
Need to reproduce on a local cluster and see why

[2021-09-20 20:06] XiaoConstantine commented on #8175
Closing turns out it's the issue from the data stream

[2021-09-20 20:06] #8175 closed

[2021-09-22 01:47] dcboy commented on #8179
how to reproduce? that is helm uninstall app? and install again ?

[2021-09-22 01:49] dcboy commented on #8179
continue to focus on solving the situation

[2021-09-22 01:57] ChenCongZhu2017 opened #8267 "soft lockup"
#### Steps/Code to reproduce:

![wecom-temp-87e09dd49c410fe326106609114ce3fc](https://user-images.githubusercontent.com/26135473/134271248-7e29b26f-dfd7-4ad2-bd61-fd4866698ffd.png)

#### Expected result:

#### Actual results:

#### Error log
[milvus-dmesg.log](https://github.com/milvus-io/milvus/files/7207226/milvus-dmesg.log)

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): milvus

[2021-09-22 02:10] 785321021 commented on #7493
I am Look forward to  milvus    support   NVIDIA   RTX 3090   and    NVIDIA Ampere A30

[2021-09-22 02:11] #7493 closed

[2021-09-22 02:14] #7862 closed

[2021-09-22 02:18] DragonDriver opened #8271 "A document about how proxy reduce the search results"
#### What would you like to be added:

I want to add a document to explain how proxy reduce the search results.

#### Why is this needed:

Help other develpers who is interested in search workflow of Milvus to know the reduce progress more clear.

[2021-09-22 02:20] DragonDriver commented on #7803
Already fixed. Appreciate your efforts for finding this issue. @binbinlv

[2021-09-22 02:20] binbinlv commented on #7343
Similar issue occurs at nightly case:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/147/pipeline/46

<BaseException: (code=1, message=syncTimeStamp Failed:state code = Initializing)

[2021-09-22 02:22] binbinlv commented on #7343
Similar issue occurs at nightly case:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/148/pipeline

[code]

[2021-09-22 02:22] DragonDriver commented on #8271
/assign

[2021-09-22 02:23] #7544 closed

[2021-09-22 02:26] DragonDriver opened #8274 "Remove task from task queue when the task timeouts"
#### What would you like to be added:

I want to remove task from task queue when the task timeouts.

#### Why is this needed:

Avoid data race when timeout cases occur.

/assign

[2021-09-22 02:26] binbinlv commented on #7803
@DragonDriver  OK,  I will verify it later, thanks for your great effort on fixing this.

[2021-09-22 02:29] DragonDriver commented on #8274
this issue may possibly fix #8066

[2021-09-22 02:40] DragonDriver opened #8275 "Remove useless debug message in indexbuilder"
#### What would you like to be added:

I want to emove useless debug message in indexbuilder.

#### Why is this needed:

Decrease the log size and clear the log message.

/assign

[2021-09-22 02:41] jaelgu commented on #7949
Actually load() hangs due to querynode is OOM (but no error is returned unless you check querynode log, and querynode is still "running").

The following changes get load() work with sift100m data:
- increase memory for querynode
- enable auto-compaction mode for etcd
- (increase pvc for etcd)

[2021-09-22 03:01] yanliang567 commented on #7905
@ThreadDao please help to verify after pr merged

[2021-09-22 03:07] xiaofan-luan commented on #7905
We are almost there, just need to fix some unit test issue

[2021-09-22 03:08] xiaofan-luan commented on #8179
Sure, I'm adding more logs in the path, @yanliang567 @zwd1208 any advice?

[2021-09-22 03:42] binbinlv commented on #7803
Verified, and fixed.

Milvus: b2e8ba7
pymilvus: 2.0.0rc7.dev11

[2021-09-22 03:42] #7803 closed

[2021-09-22 03:50] yanliang567 commented on #7504
@binbinlv can the related cased pass locally?

[2021-09-22 03:51] yanliang567 commented on #7964
@binbinlv can the related cases pass locally?

[2021-09-22 04:09] yhmo commented on #7594
No, 2.0 not optimize this. Currently for 2.0 the most important thing is stability issues.

[2021-09-22 04:18] yhmo commented on #8113
Build index task also can cost memory.
If you removed this line, how about the memory usage?
`m.create_index('test', milvus.IndexType.IVF_FLAT, {'nlist': 1024})`

[2021-09-22 04:27] congqixia commented on #7690
/assign
/unassign @sunby

[2021-09-22 05:33] #5182 closed

[2021-09-22 05:33] #5192 closed

[2021-09-22 05:33] #5193 closed

[2021-09-22 05:33] #5202 closed

[2021-09-22 05:33] #5258 closed

[2021-09-22 05:33] #5261 closed

[2021-09-22 05:33] #5263 closed

[2021-09-22 05:33] #5264 closed

[2021-09-22 05:33] #5265 closed

[2021-09-22 05:54] jaelgu commented on #8179
@dcboy Have you checked proxy logs that it says that proxy is healthy? As I know, although all pods show "running", it might not be true. You better wait a longer time and go into proxy logs to make sure that proxy is healthy and ready.

[2021-09-22 06:22] congqixia commented on #7690
@yanliang567 are collections released after workload?

[2021-09-22 06:22] yanliang567 commented on #8267
@ChenCongZhu2017 could you please add the steps to reproduce this issue? Also it would be helpful to address the issue if more info about the Milvus configurations. Thank you.

[2021-09-22 06:23] yanliang567 commented on #8267
/assign @ChenCongZhu2017

[2021-09-22 06:44] yanliang567 commented on #7504
reset priority for running passed locally

[2021-09-22 06:45] yanliang567 commented on #7964
reset priority for running passed locally

[2021-09-22 06:50] yanliang567 commented on #7690
collections were dropped.

[2021-09-22 06:53] #7788 closed

[2021-09-22 06:57] mayunjie commented on #7594
This is a very worse experience, Can you fix this issue after the stability issues

[2021-09-22 07:05] yanliang567 commented on #7925
@zwd1208 could you please help to check whether the configurations are correct for milvus

[2021-09-22 07:09] czs007 commented on #8001
@yanliang567
The reason is found. In the test code, all the data of the small collection is inserted into the large collection, and the large collection  will not drop until the last step. The large collection keeps creating growing Sgments, resulting in a surge in memory.

[2021-09-22 07:27] DragonDriver opened #8290 "Collection alias ut fail"
#### Steps/Code to reproduce:

https://github.com/milvus-io/milvus/pull/8215/checks?check_run_id=3671938039

#### Expected result:

Collection alias ut succeed.

#### Actual results:

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x30 pc=0x1bda792]

goroutine 890 [running]:
github.com/milvus-io/milvus/internal/distribu

[2021-09-22 07:27] DragonDriver commented on #8290
/assign

[2021-09-22 07:33] yhmo opened #8291 "Update git action to upload code coverage file"
#### What would you like to be added:
We use git action to upload code coverage file to codecov.io. But the upload api is deprecated and won't be supported on February 1, 2022. We need to update the api to V2.
Refer this page:
https://github.com/codecov/codecov-action

The api is used in milvus project:
.github/workflows/main.yaml

[2021-09-22 07:43] #7969 closed

[2021-09-22 08:10] #8290 closed

[2021-09-22 08:13] congqixia opened #8298 "Create Partition failed with error "create partition failed: partition name = 1970_01_01 already exists""
Create new partition existed in other collection

#### Expected result:
Create partition successful

#### Actual results:
Fail with error "create partition failed: partition name = 1970_01_01 already exists"

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): CI
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GP

[2021-09-22 08:50] #7963 closed

[2021-09-22 09:02] DragonDriver commented on #8275
/assign @xiaocai2333

[2021-09-22 09:36] yanliang567 commented on #7237
it was covered in collection search when inserting data in diff collections

[2021-09-22 09:36] #7237 closed

[2021-09-22 09:53] czs007 opened #8314 "Replace proto.MarshalTextString with proto.Marshal"
In the process of unMarshal using the String generated by proto.MarshalTextString, the target structure cannot add or delete fields compared to the original structure. In addition, the binary data generated by proto.Marshal can be partially unmarshaled.

[2021-09-22 09:54] cydrain commented on #8314
/assign

[2021-09-22 10:03] claireyuw opened #8319 "Update README banner"

[2021-09-22 10:03] claireyuw commented on #8319
/assign

[2021-09-22 10:33] #6364 closed

[2021-09-22 10:33] #6395 closed

[2021-09-22 10:33] #5530 closed

[2021-09-22 10:33] #5693 closed

[2021-09-22 10:33] #5420 closed

[2021-09-22 10:33] #5832 closed

[2021-09-22 10:33] #6164 closed

[2021-09-22 11:15] JamCrash commented on #8109
Does this problem solved?

[2021-09-22 11:24] ChenCongZhu2017 commented on #8267
No behavior except search.

[2021-09-22 11:52] XuanYang-cn opened #8336 "Master cannot compile"
[code]

[2021-09-22 11:52] XuanYang-cn commented on #8336
/assign

[2021-09-22 12:08] #8319 closed

[2021-09-22 12:19] XuanYang-cn commented on #8143
From tests, installed openblas can be successfully located on ubuntu-18.04 even without install.

[code]

[2021-09-22 12:19] XuanYang-cn commented on #8143
Next I'm going to check it on centOS 7 & 8

[2021-09-22 12:22] XuanYang-cn commented on #8143
Maybe rpath problem

[2021-09-22 12:31] #8336 closed

[2021-09-22 13:33] #6399 closed

[2021-09-22 14:06] dcboy commented on #8179
How long will wait？i had wait more then 10 mins，and pod already healthy ，but client couldn't connet to proxy
any suggestion？

[2021-09-23 01:56] #7613 closed

[2021-09-23 02:15] yanliang567 opened #8346 "GetMetrics sometimes returns less nodes if getting system_info"
#### Steps/Code to reproduce:
1. deploy Milvus cluster 2.o with 2 querynode + 2 datanode + 2 indexnode (there would be 11 nodes including proxy, rootcoord , querycoord, datacoord and indexcoord)
sys_info_req = ujson.dumps({"metric_type": "system_info"})
req = milvus_types.GetMetricsRequest(request=sys_info_req)
sys_info = handler._stub.GetMetrics(req, wait_for_ready=True, timeout=None)
prints(sys_

[2021-09-23 02:42] zhuwenxing opened #8353 "Milvus latest version(340f92a) restart(reinstall) failed by docker-compose"
#### Steps/Code to reproduce:
run github action [Deploy Test](https://github.com/milvus-io/milvus/actions/workflows/deploy-test.yaml)
The steps in reinstall script can be found in [deploy test README](https://github.com/milvus-io/milvus/blob/master/tests/python_client/deploy/README.md)
#### Expected result:
reinstall success

#### Actual results:
in the second deployment, when connect, raise excep

[2021-09-23 02:50] yanliang567 commented on #8353
data persistence blocked, urgent

[2021-09-23 02:55] #8275 closed

[2021-09-23 03:12] #6493 closed

[2021-09-23 03:12] #6488 closed

[2021-09-23 03:17] DragonDriver commented on #8346
cannot reproduce on my local pc.

A point should to be clear is that the metrics under current implementation is not accurate.

Maybe two reasons caused this issue:
1, according to our etcd-based service discovery mechanism, there are some delay between nodes went to be online and coordinator found the nodes;
2, we have cached the metrics of coordinator, the retention of cache is `5s`, metrics res

[2021-09-23 03:20] DragonDriver commented on #8346
Do you have any logs of query coordinator?
I wonder if query coordinator found two query nodes.

[2021-09-23 03:21] congqixia opened #8359 "Datanode does not quit after disconnect from etcd"
#### Steps/Code to reproduce:

#### Expected result:
DataNode quits if it disconnects from etcd

#### Actual results:
After disconnection, data node still exists

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): 11b7ba2
- Deployment mode(standalone or cluster): cluster
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration

[2021-09-23 03:27] XuanYang-cn commented on #8143
Somehow in `centos8`, there are 2 libopenblas.so.0, which's odd

[code]
One is found, the other not found

[code]

[2021-09-23 03:33] binbinlv opened #8360 "Nightly CI hangs for hours [cluster]"
#### Steps/Code to reproduce:
https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/151/

Timeline:

[2021-09-22T16:30:45.303Z] [gw4] [ 75%] FAILED testcases/test_search_20.py::TestCollectionSearch::test_search_multi_collections[3000-2-128-False-True]

[2021-09-23T01:01:12.215Z] [gw0] [ 75%] FAILED testcases/test_search_20.py::TestCollectionSearch::test_search_max_dim[2-False-True]

[2021-09-23 04:26] XuanYang-cn commented on #8143
the `openblas` target is wrong, it's been set into absolute path `target 'src/index/openblas_ep-prefix/src/openblas_ep/lib/libopenblas.so'`

[2021-09-23 05:12] #6524 closed

[2021-09-23 05:12] #6531 closed

[2021-09-23 05:12] #6578 closed

[2021-09-23 05:12] #6585 closed

[2021-09-23 05:12] #6609 closed

[2021-09-23 05:12] #6626 closed

[2021-09-23 05:12] #6659 closed

[2021-09-23 05:12] #6730 closed

[2021-09-23 05:12] #6963 closed

[2021-09-23 05:12] #7035 closed

[2021-09-23 05:12] #7040 closed

[2021-09-23 05:12] #4696 closed

[2021-09-23 05:12] #7029 closed

[2021-09-23 05:12] #4300 closed

[2021-09-23 05:12] #6498 closed

[2021-09-23 05:12] #6737 closed

[2021-09-23 05:12] #6329 closed

[2021-09-23 05:12] #5217 closed

[2021-09-23 05:12] #5183 closed

[2021-09-23 05:12] #5151 closed

[2021-09-23 05:12] #5857 closed

[2021-09-23 05:15] xiaofan-luan commented on #7905
To enable multi milvus cluster on single pulsar,etcd,minio
Check the following configuration

1. msg.chanNamePrefix.cluster : default value is by-dev
2. etcd.rootPath: default value is by-dev
3. minio.bucketname : default value is a-bucket

let me know if it could work or not @ThreadDao

[2021-09-23 05:34] binbinlv commented on #7343
It occurs in multiple replica env with cluster etcd, minio, pulsar:

[2021-09-23 05:23:22 - ERROR - ci_test]: (api_response) : <BaseException: (code=1, message=syncTimeStamp Failed:state code = Initializing)> (api_request.py:27)

Milvus: 340f92a
pymilvus: 2.0.0rc7.dev11

Log is too big to upload, and the env is kept now, please ask me when it is necessary.

[2021-09-23 06:09] sunby commented on #7343
thanks, I am working on it

[2021-09-23 06:09] jaelgu opened #8379 "Data can't be restored if etcd is re-installed"
Steps:
1. Install Milvus cluster using k8s
2. Create a collection & insert data & create index
3. Delete etcd pod (k8s will create a new etcd instantly)
4. Test following operations once all pods are ready:
     - connections.connect, list_collection, has_collection: ok
     - num_entities, index_progress, load, search: all fail with error <BaseException: (code=1, message=server is not serving)>

[2021-09-23 06:12] jaelgu commented on #8179
I just tested that after etcd gets re-installed, we can only create a new collection for new data. Previous data doesn't get restored properly. Issue submitted: https://github.com/milvus-io/milvus/issues/8379

[2021-09-23 06:15] #8001 closed

[2021-09-23 06:26] sunby commented on #7343
I find all coordinators are disconnected with etcd at about 10:38:36. Maybe it's still the problem about the connection with etcd. I will focus on this problem

[2021-09-23 06:29] #8359 closed

[2021-09-23 07:00] sicklife commented on #7503
I got some logs from datanode, maybe helpful

`
19T14:11:44.907205767Z [2021/09/19 14:11:44.907 +00:00] [DEBUG] [flow_graph_dd_node.go:145] ["ddNode add flushed segment"] [collectionID=427834603508334593] ["No. Segment"=0]
2021-09-19T14:11:44.907431169Z [2021/09/19 14:11:44.907 +00:00] [DEBUG] [flow_graph_dd_node.go:161] ["ddNode add unflushed segment"] [collectionID=427834603508334593] ["No. Segm

[2021-09-23 07:25] ThreadDao opened #8393 "Need to optmize some import"
#### What would you like to be added:
Using `import as` to avoid conflict

#### Why is this needed:
Using `import *` in python programs is considered a bad habit. The reason is:
1. Low code readability
2. Import all functions and classes may clash with other imports
3. ... and so on

[2021-09-23 07:36] DragonDriver commented on #8360
Seems that network problem caused this issue. RootCoord didn't receive any request since 16:27:38.
You can retry this and reopen this if this issue was reproduced again.

[2021-09-23 07:39] DragonDriver commented on #8360
/unassign
/assign @binbinlv

[2021-09-23 07:40] #7782 closed

[2021-09-23 07:48] scsven opened #8400 "syncTimestamp Failed:rpc error: code = Canceled desc = grpc: the client connection is closing"
#### Steps/Code to reproduce:

#### Expected result:

#### Actual results:
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/mi

[2021-09-23 07:49] congqixia opened #8401 "Etcd liveness check not applied with session util"
#### Expected result:
When disconnected from etcd, component should exit and wait to be restarted

#### Actual results:
Components are still alive even session expires

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): 99296e9
- Deployment mode(standalone or cluster): cluster

[2021-09-23 07:50] congqixia commented on #8401
Here is the list of components to fix
- [ ] querycoord
- [ ] quernode
- [ ] indexcoord
- [ ] indexnode

[2021-09-23 07:53] binbinlv opened #8402 "Lack of "timeout" parameter for some python sdk interfaces"
What would you like to be added:

Currently, not all sdk interface have timeout parameters, so if hangs occur at some steps in these interface without timeout, then the whole operation will hangs, so theoretically, I think every interface may needs timeout should have "timeout" parameters for set.

Interface examples:
num_entities()...

Possible issues:

#7435 #8360

[2021-09-23 07:54] binbinlv commented on #8360
OK，will close this first and reopen it if it occurs again.

And I think this also expose the timeout issue for sdk, so open an issue to track this #8402

[2021-09-23 08:03] #8122 closed

[2021-09-23 08:28] xaxys opened #8406 "Import arrow library to core"
#### What would you like to be added:
Import arrow library to core
#### Why is this needed:
I am refacting predicate executor now, and arrow library is required in core.
I found an arrow 2.0.0 version in cwrapper. It seems better to unify two arrow libraries.
#### Plan to do:
- Remove the static library arrow 2.0.0 originally built in cwrapper
- Build and import shared library arrow 5.0.0 in core

[2021-09-23 08:43] XuanYang-cn opened #8407 "Upgrade the minimum required CMake version to 3.18"
/kind improvement

[2021-09-23 08:53] #7076 closed

[2021-09-23 08:53] #6973 closed

[2021-09-23 08:53] #6953 closed

[2021-09-23 08:53] #6942 closed

[2021-09-23 08:53] #6912 closed

[2021-09-23 08:53] #6888 closed

[2021-09-23 08:53] #6876 closed

[2021-09-23 08:53] #6728 closed

[2021-09-23 08:53] #6979 closed

[2021-09-23 08:53] #6462 closed

[2021-09-23 08:53] #6382 closed

[2021-09-23 08:53] #6422 closed

[2021-09-23 08:53] #6355 closed

[2021-09-23 08:54] #6311 closed

[2021-09-23 08:54] #6273 closed

[2021-09-23 08:54] #6060 closed

[2021-09-23 08:54] #7129 closed

[2021-09-23 09:47] czs007 commented on #8353
I tried it on the local machine and found that if milvus is not fully started after reinstalling, and pymilvus is triggered to do the operation at this time, the phenomenon of ·severe is not healthy· will appear. After a while, pymilvus tries again, and there is no problem.
@zhuwenxing

[2021-09-23 10:22] xiaofan-luan opened #8419 "Move all configuration from channel.yaml to milvus.yaml"
#### What would you like to be added:
I would like to move configurations from channel.yaml to milvus.yaml

#### Why is this needed:
This makes user easier to understand and config for multiple cluster share the same storage system.

[2021-09-23 10:29] #8401 closed

[2021-09-23 10:53] yanliang567 commented on #5519
is it done now? @LoveEachDay

[2021-09-23 11:48] #6475 closed

[2021-09-23 13:47] ArkaprabhaChakraborty commented on #7713
/assign ``ArkaprabhaChakraborty

[2021-09-23 13:49] ArkaprabhaChakraborty commented on #7713
/assign ``@ArkaprabhaChakraborty

[2021-09-23 13:51] ArkaprabhaChakraborty commented on #7700
/assign ``@ArkaprabhaChakraborty

[2021-09-24 01:56] binbinlv commented on #8360
Nightly tests hang again, so reopen this issue: [standalone]

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/152/pipeline/46

[2021-09-24 02:00] JamCrash commented on #8109
Did this problem solved?

[2021-09-24 02:14] binbinlv commented on #8360
@godchen0212 could you please help to investigating this issue? Thanks.

[2021-09-24 02:49] jilieryuyi commented on #7503
Today I encountered this problem again, add some logs, hope it helps
![微信图片_20210924094832](https://user-images.githubusercontent.com/2398119/134606131-5e2d3350-eaee-4f9d-8593-ad5d949fa473.png)

![微信图片_20210924094912](https://user-images.githubusercontent.com/2398119/134606138-c9a66996-a4f8-4e56-8416-7aeacc9126ef.png)

query node exit, i try to restart, somoe error like this, and query always time

[2021-09-24 02:55] wangting0128 opened #8443 "[benchmark][cluster] failed to read parquet from buffer"
#### Steps/Code to reproduce:

argo task：benchmark-mjk99

test yaml:
[code]

server deployment：
[code]

client pod：**benchmark-mjk99-4199162162**

client log：
[code]

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): 57618ac
- Deployment mode(standalone or cluster): cluster
- SDK version(e.g. pymilvus v2.0.0rc2): 2.0.0rc7.dev4
- OS(Ubuntu

[2021-09-24 02:58] yanliang567 commented on #8443
/assign @congqixia

[2021-09-24 03:01] wangting0128 opened #8444 "[benchmark][cluster] querynode restart 176 times"
#### Steps/Code to reproduce:

argo task：benchmark-cluster-3rd-wvj9f

test yaml：
[code]

server ：
[code]

client pod：**benchmark-cluster-3rd-wvj9f-2661638233**

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): 2e160f5
- Deployment mode(standalone or cluster): cluster
- SDK version(e.g. pymilvus v2.0.0rc2): 2.0.0rc7.dev4
- OS(Ubuntu or Cen

[2021-09-24 03:12] wangting0128 opened #8445 "[benchmark][cluster] Two indexnodes did not do load balance"
#### Steps/Code to reproduce:

argo task：benchmark-mjk99

test yaml:
[code]

server deployment：
[code]

client pod：**benchmark-mjk99-4199162162**

#### Expected result:
Two nodes can be evenly distributed tasks

#### Actual results:
client：
It takes up to 2 hours to build an index with 100 million data
![image](https://user-images.githubusercontent.com/26307815/134612552-66374152-b64a-4c5f-b789-d2

[2021-09-24 03:14] congqixia commented on #8444
I found the error message below:
[code]
Which is return from minio.

I checked the time in pod benchmark-cluster-3rd-wvj9f-1-milvus-querynode-5957df578b-z2s4d. The time is about 30min behind other servers.
We need a method to fix pod date.

@yanliang567

[2021-09-24 03:16] xiaofan-luan opened #8447 "Unresolved request queue must has a limit"
#### Steps/Code to reproduce:
If the time tick is delayed, then current unresolved message queue will keep increasing and may cause Query node OOM and thus the service is never recovered.

#### Expected result:
we should limit queue size to specific number by a configuration.
Say queryNode.unresolvedmsg.size

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standal

[2021-09-24 03:17] xiaofan-luan commented on #8447
I'm working on this

[2021-09-24 03:35] congqixia opened #8451 "Sessionutil liveness check canceled but does not exit"
#### Steps/Code to reproduce:

#### Expected result:
After context canceled, the liveness check loop should quit

#### Actual results:
Liveness check continues to loop

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): 208f325
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

[2021-09-24 04:03] congqixia opened #8459 "Potential data race in datacoord"
#### Steps/Code to reproduce:

#### Expected result:
dataNodeTtLoop and SaveBinLogPath has no data race

#### Actual results:
Data Race occurred

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): 1434a5f
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Additional context:
https://pipelines.a

[2021-09-24 04:11] #6941 closed

[2021-09-24 04:11] #6236 closed

[2021-09-24 04:11] #6296 closed

[2021-09-24 04:47] #8451 closed

[2021-09-24 04:53] #8459 closed

[2021-09-24 05:14] yanliang567 commented on #7495
@bigsheeper any updates?

[2021-09-24 05:20] yanliang567 commented on #8444
@wangting0128 let's set ntp service and retry

[2021-09-24 05:21] yanliang567 commented on #8443
this could be caused by a data incompatibility issue, lets retry with latest build. @wangting0128

[2021-09-24 05:53] dcboy commented on #8179
thx for your test response detail

[2021-09-24 05:57] #7495 closed

[2021-09-24 05:58] ashish-patwal commented on #7507
/assign

[2021-09-24 06:00] ashish-patwal commented on #7507
Hey @DragonDriver , just wanted to ask should i add the shell script to github actions ,  as you mentioned in the issue ?

[2021-09-24 06:12] yanliang567 commented on #8445
/assign @bigsheeper

[2021-09-24 06:15] LoveEachDay commented on #5519
We've enabled auto compaction for etcd in docker-compose and helm charts.

[2021-09-24 06:15] #5519 closed

[2021-09-24 06:16] LoveEachDay commented on #6753
We've enabled auto compaction for etcd in docker-compose and helm charts.

[2021-09-24 06:16] #6753 closed

[2021-09-24 06:28] xiaocai2333 commented on #8445
/cc @xiaocai2333

[2021-09-24 07:25] DragonDriver opened #8477 "[doc] Update the documentation of binlog descriptor event format"
#### What would you like to be added:

I want to update the documentation of binlog descriptor event format.

#### Why is this needed:

Avoid misunderstanding of current documentation of binlog. Help other develpers know our storage design more clear.

/assign

[2021-09-24 07:27] DragonDriver commented on #8477
header:

[code]

data:
[code]

DescriptorEventDataFixPart:

[code]

[2021-09-24 07:44] #6103 closed

[2021-09-24 07:48] xiaocai2333 commented on #8445
The indexnode "benchmark-mjk99-1-milvus-indexnode-649b5f5698-r8v54" start failed, connect minio failed,  because the time of this pod is about 30min behind other servers.

[2021-09-24 07:49] #7168 closed

[2021-09-24 07:54] zhuwenxing opened #8482 "Add alias test cases"
#### What would you like to be added:
Add alias test cases
#### Why is this needed:
Alias feature is introduced into latest milvus

[2021-09-24 07:55] zhuwenxing commented on #8482
/assign @zhuwenxing

[2021-09-24 09:39] #8482 closed

[2021-09-24 10:05] congqixia opened #8499 "Unittest fail with panic: send on closed channel"
#### Expected result:
Unit test passed

#### Actual results:
Failed with panic

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:
https://pipelines.actions.githubusercontent.com/c6NryAz2qaRK4LQlCYQ

[2021-09-24 10:25] czs007 commented on #8353
I used the method provided by @zhuwenxing  to reproduce it again on the local machine. The logic of waiting for the proxy in the python SDK startup phase is to retry 10 times and sleep for 1 second each time. If the state of the proxy is always unhealthy, an exception will be thrown.

[2021-09-24 11:19] DragonDriver opened #8513 "Refactor the index file to binlog format"
#### What would you like to be added:

I want to refactor the index file to binlog format. By doing this, we can get a self-analysis binlog file of index.

#### Why is this needed:

By doing this, we can get a self-analysis binlog file of index. This file contains the all necessary parameters when build an index, such as collection id, index id, version and etc.

#### How?

As mentioned in https:/

[2021-09-24 11:19] DragonDriver commented on #8513
/assign

[2021-09-24 12:06] ThreadDao opened #8519 "Invalid collection case assertion"
#### Steps/Code to reproduce:
[code]

#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:

[2021-09-24 12:06] czs007 commented on #8353
please use latest pymilvus and retry @zhuwenxing

[2021-09-24 12:08] binbinlv opened #8521 "BaseException: (code=1, message=getSegmentsOfCollection, err:rpc error: code = Canceled desc = grpc: the client connection is closing)"
#### Steps/Code to reproduce:
Running L0 and L1 test cases on multiple replica env:
1 deploy multiple replica env:
                               --set proxy.replicas=2 \
                               --set queryNode.replicas=2 \
                               --set indexNode.replicas=2 \
                               --set dataNode.replicas=2 \
2 Running L0 and L1 test cases

Logs is too big to

[2021-09-25 00:58] yanliang567 commented on #8521
is it related to #8400 ?

[2021-09-25 00:59] yanliang567 commented on #8499
/assign @congqixia  would you like to fix this yourself

[2021-09-25 01:24] yanliang567 commented on #5124
keep it as this is a feature

[2021-09-25 02:17] zhuwenxing commented on #8353
In deploy test GitHub action and local test, it behaves normally, so this issue can be closed

[2021-09-25 02:17] #8353 closed

[2021-09-25 02:36] czs007 commented on #7495
@yanliang567

[2021-09-25 03:30] #6547 closed

[2021-09-25 08:53] czs007 opened #8538 "Replace ChannelID with ShardName in DML Request"
It is necessary to indicate that the messages  of DML type in the MessageStorage exactly comes from a certain VirutalChanel, and the VirtualChanenl and Shard are in a one-to-one correspondence.Therefore, it is important to replace the ChannelID with ShardName.

At the same time, we need to add a message header  for DML Request. The header only contains the MsgBase and an additional ShardName.Thus,

[2021-09-25 08:54] #6697 closed

[2021-09-25 09:54] #7173 closed

[2021-09-26 01:17] yanliang567 commented on #8444
/assign @wangting0128

[2021-09-26 01:18] yanliang567 commented on #8445
/assign @wangting0128
let's retry with ntp setup

[2021-09-26 01:35] #8477 closed

[2021-09-26 01:59] xiaocai2333 commented on #7977
/unassign
/assign @XuanYang-cn

[2021-09-26 02:28] binbinlv commented on #8360
Test cases hangs again at both standalone and cluster mode:

https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/153/

pymilvus==2.0.0rc7.dev11

standalone:

Timeline:
[code]

Cluster:
Timeline:

[code]

[2021-09-26 02:29] binbinlv commented on #8360
Test cases hangs again at cluster mode:
https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/154/

Timeline: hangs at the following time
[code]

[2021-09-26 02:30] binbinlv commented on #8360
Set this as urgent because it occurs several times continuously, and block Nightly CI tests.

[2021-09-26 02:36] wangting0128 opened #8551 "[benchmark][standalone] Cannot allocate memory"
#### Steps/Code to reproduce:
argo task: benchmark-xk2ml

test yaml:
[code]

server deployment:
[code]

client pod：benchmark-xk2ml-4171113511

client log：
[code]

[client.log](https://github.com/milvus-io/milvus/files/7230629/client.log)
#### Expected result:

#### Actual results:

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):
- Deployment mode(standalone or cluster): standalone

[2021-09-26 02:39] congqixia opened #8553 "Unittest Data Race in querynode/query_collection"
#### Steps/Code to reproduce:

#### Expected result:
Ut passes

#### Actual results:
Failed with Datarace

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): c5b71e8
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration file:

#### Additional context:
[code]

[2021-09-26 03:07] #8499 closed

[2021-09-26 03:17] bigsheeper commented on #8191
fixed by #8545

[2021-09-26 03:17] bigsheeper commented on #8191
fixed by #8545

[2021-09-26 03:17] #8191 closed

[2021-09-26 03:43] binbinlv commented on #8521
Maybe it is similar, but from the error message, it is a little different, so I open another issue to track this.

[2021-09-26 03:51] jilieryuyi opened #8563 "query node exit"
#### Steps/Code to reproduce:
write and read at the same time

#### Expected result:
work normal

#### Actual results:
exit

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): v2.0.0-RC6
- Deployment mode(standalone or cluster): docker-compose cluster
- SDK version(e.g. pymilvus v2.0.0rc2): golang v2.0.0-alpha.2
- OS(Ubuntu or CentOS): CentOS
- CPU/Memory: 40/128G
- GPU:
- Others:

##

[2021-09-26 04:23] congqixia opened #8566 "Deadlock in tsafe closing"
#### Steps/Code to reproduce:

#### Expected result:
Unit test passed

#### Actual results:
Unittest timeout with deadlock

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): c72f074
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Additional context:
https://github.com/milvus-io/milvus/runs/

[2021-09-26 04:37] #8553 closed

[2021-09-26 04:48] congqixia opened #8568 "Add Start position for each collection"
#### What would you like to be added:

- Add a mechanism to record start position for each collection
- `DataNode` start to watch channel with start position when the collection is newly created

#### Why is this needed:
- Milvus reuses message stream topics (known as pchan) for for newly incoming collections.
- Current max pchan number is 256.
- If the collection number if greater than 256, the 2

[2021-09-26 05:15] yanliang567 commented on #8400
it repros on master-20210925-9497ba5 with datanode crashed
`milvus-7ba5-datanode-7c6dd6b46b-kx6mk              1/1     Running     1          136m`

[2021-09-26 05:49] elfisworking opened #8572 "for search function adding a precision control"
#### What would you like to be added:

#### Why is this needed:

[2021-09-26 05:49] #8572 closed

[2021-09-26 05:55] elfisworking opened #8573 "For search function adding a precision control"
#### What would you like to be added:
for search function in pymilvus adding a parameter to implement a precision control , for example if parameter added "round_decimal" is 3 , the output will be 3.145 compared with current 3.14523432.
#### Why is this needed:
some precision is not necessary and in C++  float is 32bit while in python that is presented with 64bit. This difference would make precis

[2021-09-26 06:29] #8566 closed

[2021-09-26 07:20] yanliang567 commented on #8360
it repos on master-20210925-9497ba5 and running against non_ci env.
I saw the data node crashed once before CI test hang.
[datanode.crash.log](https://github.com/milvus-io/milvus/files/7230900/datanode.crash.log)
[datanode.crash.previous.log](https://github.com/milvus-io/milvus/files/7230902/datanode.crash.previous.log)

[2021-09-26 07:27] xiaofan-luan opened #8581 "Tsafe close is not elegant"
#### What would you like to be added:
I would like to change the way how tsafe exist, make the shutdown mechanism safer.

#### Why is this needed:
We will see many problems in the unit test such as resource leakage and dead lock

[2021-09-26 07:41] fishpenguin opened #8583 "Rocksmq has some memory leak"
[code]

[2021-09-26 07:55] congqixia commented on #8568
- [ ] Add MessageID for producer methods
- [ ] Add methods with MessageIDs in MessageStream
- [ ] Get and save/transfer message id when create collection
- [ ] Apply message id when watch new collection

[2021-09-26 08:07] bigsheeper commented on #8563
It seems not the full log of query node, missing the log of `querynode (1).log`, could you offer the full query node log?

[2021-09-26 08:48] DragonDriver commented on #7954
already implemented, feel free to try this new feature
/assign @yanliang567

[2021-09-26 08:49] #4812 closed

[2021-09-26 08:49] #8066 closed

[2021-09-26 08:50] #6254 closed

[2021-09-26 08:50] #6243 closed

[2021-09-26 08:50] #6362 closed

[2021-09-26 08:51] #6424 closed

[2021-09-26 08:52] yanliang567 commented on #7954
verified

[2021-09-26 08:52] #7954 closed

[2021-09-26 09:21] DragonDriver opened #8593 "Remove old time tick logic"
#### What would you like to be added:

I want to remove old time tick logic in proxy.

#### Why is this needed:

Clear the code.

[2021-09-26 09:21] DragonDriver commented on #8593
/assign

[2021-09-26 09:21] binbinlv commented on #7775
Set this non-urgent because the root cause is similar with that of #7504

[2021-09-26 09:49] #7193 closed

[2021-09-26 09:58] wuxiaomei92 opened #8599 "milvus import data throw error code=1, message=syncTimestamp Failed:rpc error: code = DeadlineExceeded desc = context deadline exceeded"
I import data with multithreading，when I import about 20 millons , throw the following error

[code]
the rootcoord auto restart，I can't find the error log.

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): v2.0.0-rc6-20210910-020f109
- Deployment mode(standalone or cluster): cluster
- SDK version(e.g. pymilvus v2.0.0rc2): pymilvus 2.0.0rc6

[2021-09-26 10:04] wuxiaomei92 commented on #8599
After import 20millions data, I run 'collection.num_entities'  to count number of entities，it cost long time(more than half an hour)

[2021-09-26 10:47] bigsheeper commented on #8563
also missing the full querycoord log, how many times have you restarted the query node?

[2021-09-26 11:31] godchen0212 opened #8612 "Make retry config private"
#### What would you like to be added:
Make retry config private.

#### Why is this needed:
No need to export Config to other package.

[2021-09-26 11:36] zhuwenxing opened #8614 "Can't use alias to create index"
#### Steps/Code to reproduce:
[code]

#### Expected result:
Create index successfully

#### Actual results:
Create index failed

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): master-20210926-8091e76
- Deployment mode(standalone or cluster): standalone
- SDK version(e.g. pymilvus v2.0.0rc2):2.0.0rc7.dev13
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Configuration f

[2021-09-26 12:55] #7741 closed

[2021-09-26 13:23] #6337 closed

[2021-09-26 13:39] xiaofan-luan opened #8624 "Add test for tsafe"
#### What would you like to be added:
add more test for tsafe

#### Why is this needed:
Important path of tsafe.go, such as close guard and removeRecord is not recovered.

[2021-09-26 14:26] matrixji commented on #7700
Typo in title, `restul` should be `restful`, maybe `RESTful` is more accuracy.

[2021-09-27 01:38] yanliang567 commented on #8599
@wuxiaomei92 could you please share the scripts of inserting data, we'd like to know how many entities and what dim we are talking about. Also it would be helpful if we know the CPU and memory resource you are running against.

[2021-09-27 01:41] yanliang567 commented on #8573
@elfisworking i think you are working on this issue

/assign @elfisworking

[2021-09-27 01:42] yanliang567 commented on #8563
@jilieryuyi  could you please help to provide the logs we need above?

/assign @jilieryuyi

[2021-09-27 01:45] yanliang567 commented on #8393
@ThreadDao i think you are working on this issue, please help to close if it was done.

/assign @ThreadDao

[2021-09-27 01:47] yanliang567 commented on #8406
@xaxys i think you are working on this issue.

/assign @xaxys

[2021-09-27 01:51] DaPenggg opened #8636 "etcdserver: mvcc: database space exceeded"
#### Steps/Code to reproduce:
I excuted the python code todo insert data at last night, but i see the milvus crash at the morning.

#### Expected result:
insert data ok.

#### Actual results:
goroutine 415 [running]:
github.com/milvus-io/milvus/internal/util/sessionutil.(*Session).Init(0xc007d9bc00, 0x2513ede, 0x9, 0xc01068c3f0, 0xf, 0x1, 0x1)
        /go/src/github.com/milvus-io/milvus/internal/u

[2021-09-27 01:56] zhuwenxing opened #8637 "Can‘t create same alias for a collection twice"
#### Steps/Code to reproduce:
[code]

#### Expected result:
In step 1 and step 2, the alias `a` is assigned to the same collection, in my opinion, the operation in step 2 should be allowed

#### Actual results:
Raise error
[code]

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):master-20210926-8091e76
- Deployment mode(standalone or cluster):standalone
- SDK version(e.g. pymilvus v2

[2021-09-27 01:56] zhuwenxing commented on #8637
/assign @yhmo

[2021-09-27 01:57] bigsheeper commented on #6900
@sunby PTAL
/assign @sunby
/unassign

[2021-09-27 01:57] wuxiaomei92 commented on #8599
[code]
I want to import 100 million entities with feature dimension is  512.

[2021-09-27 02:01] #8538 closed

[2021-09-27 02:06] congqixia opened #8640 "Add api description for types/types.go"
#### What would you like to be added:
Add detail constrain / description for component and api in types/types.go

#### Why is this needed:
types.go contains the global component behavior definition, which shall be finely defined and maintained.

[2021-09-27 02:17] binbinlv commented on #8360
It reproduced in latest nightly: [both standalone and cluster mode]

https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/155/

Timeline:
standalone:
[code]

cluster:
[code]

[2021-09-27 02:33] xiaocai2333 commented on #6606
Has this problem occurred yet？ @yanliang567

[2021-09-27 02:42] yanliang567 commented on #6606
not reproduce recently. close for now

[2021-09-27 02:42] #6606 closed

[2021-09-27 02:45] wuxiaomei92 commented on #8599
I conitue to import data，the datacoord shutdown，log as following：
[2021/09/27 02:34:33.683 +00:00] [DEBUG] [client.go:58] ["RootCoordClient GetSessions success"]
[2021/09/27 02:34:33.683 +00:00] [DEBUG] [client.go:102] ["RootCoordClient try reconnect "] [address=my-new-release-milvus-rootcoord:53100]
[2021/09/27 02:34:33.683 +00:00] [INFO] [grpclog.go:37] ["[core]parsed scheme: \"\""]
[2021/09/27

[2021-09-27 03:10] cydrain commented on #8640
/assign

[2021-09-27 03:16] xiaofan-luan commented on #8636
looks like the etcd data exceed quota. You might want to increate disk quota for now. Another issues is because milvus doesn't open etcd data cleaning for now, this will be solved in rc7

[2021-09-27 03:16] #8581 closed

[2021-09-27 03:16] #8419 closed

[2021-09-27 03:32] xiaofan-luan commented on #7905
we can work on verifying this

[2021-09-27 03:32] xiaofan-luan commented on #7905
@ThreadDao

[2021-09-27 04:04] xiaofan-luan commented on #7343
150 seems to be a different issue, I've see many memory leakage

[2021-09-27 04:56] xiaofan-luan opened #8656 "Task scheduler in QueryCoord should not retry task forever."
#### Steps/Code to reproduce:
load huge collection and the system hit OOM.

#### Expected result:
the load task should be failed with a exception,  system should be alive.

#### Actual results:
System keep retrying and failed, print the following the log
![image](https://user-images.githubusercontent.com/83447078/134847265-fc7225ef-06a6-4e6f-9000-dec3079c4ed3.png)

#### Advice
each task should has

[2021-09-27 05:12] xiaofan-luan commented on #7343
For 148 run, I doubt this is a etcd issue, we've also see the following. log

2021-09-19T15:42:09.605514782Z stdout F [2021/09/19 15:42:04.809 +00:00] [WARN] [timeticksync.go:262] ["rootcoord send tt to all channels too slowly"] [chanNum=56] [span=7271]

This usually means the system insert channel takes very long. I doubt there is a very long STW in the system

[2021-09-27 06:17] bigsheeper commented on #7503
/assign

[2021-09-27 06:17] bigsheeper commented on #8563
/assign

[2021-09-27 06:20] bigsheeper commented on #7503
same as #8563

[2021-09-27 06:23] congqixia commented on #8563
@yanliang567 log files already sent to @bigsheeper

[2021-09-27 06:27] #8407 closed

[2021-09-27 06:39] bigsheeper commented on #8563
From the log, I found there are too many segments are created. In milvus, a segment is created each time flush is called, and the minimum size of one segment is `DIM * 4 * 32768(see milvus/configs/advanced/query_node.yaml:segcore.chunkRows)` even though we only insert a few rows into segment. Query node OOM because load too many segments and beyond the memory limit, same as #6726.

[2021-09-27 07:14] XuanYang-cn opened #8668 "Milvus doesn't handles partition description now"
Originated here: https://github.com/milvus-io/pymilvus/issues/671#issuecomment-927263598

the gRPC proto lack a field for description. The proto is defined in this proto file: `milvus/internal/proto/milvus.proto`
[code]

We can see no "description" in the `CreatePartitionRequest`. Once the server receives this request, it stores the partition's information into ETCD so that the client can ask for

[2021-09-27 07:34] xiaocai2333 opened #8670 "[BUG] When removing the objects in minio, it is not really removed"
#### Steps/Code to reproduce:
1. Create Index
2. Drop Index

#### Expected result:
Remove the index files in minio.

#### Actual results:
The index files in minio are not removed.

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93): master
- Deployment mode(standalone or cluster):
- SDK version(e.g. pymilvus v2.0.0rc2):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Confi

[2021-09-27 07:50] hande6688 commented on #8034
@xiaofan-luan 改变索引库的存储路径

[2021-09-27 08:01] godchen0212 opened #8675 "Fix delete node ut error"
#### What would you like to be added:
Fix delete node ut error.
#### Why is this needed:

[2021-09-27 08:13] xiaofan-luan opened #8676 "Logs can not be printed out"
#### Steps/Code to reproduce:
IndexNode, DataNode, Proxy and QueryNode log lost since we changed the logger logic

#### Reason
We should init all log setups in Param.init.
However, due to #6813, we delayed log param init to session manager init. However the log init is before session manager, thus we lost the log output

#### Fix
Revert this logic for now, think deeply about how to handle this

[2021-09-27 08:20] #8670 closed

[2021-09-27 08:26] zhuwenxing opened #8679 "When using alias to drop the collection, SDK raise error with message about index"
#### Steps/Code to reproduce:
[code]

#### Expected result:
raise error `can't use the alias to drop a collection`

#### Actual results:
raise error `Error: <BaseException: (code=1, message=DescribeIndex failed, error = collection a not found)`

#### Environment:
- Milvus version(e.g. v2.0.0-RC2 or 8b23a93):master-20210926-8091e76
- Deployment mode(standalone or cluster):standalone
- SDK version(e

[2021-09-27 08:43] lsgrep commented on #8637
I think this is expected behavior.  @yhmo

[2021-09-27 09:01] gedw99 opened #8683 "Message broker using NATS ? Discussion"
#### Is your feature request related to a problem? Please describe:

https://milvus.io/docs/v2.0.0/architecture_overview.md shows kefka, which is a great system, but NATS Jetstream is a very good replacement and is 100% golang.

Good info here: https://docs.nats.io/compare-nats

NATS also does cluster replication using onyl nats, and also does message dedup now.

#### Describe the solution you'd l

[2021-09-27 09:09] XuanYang-cn opened #8684 "Flush after auto-flush will never finished caused by break"
https://github.com/milvus-io/milvus/blob/51151b7b95a47c8c54614dc3fd5eb4aa30d0f439/internal/datanode/flow_graph_insert_buffer_node.go#L275

/assign

[2021-09-27 09:16] DragonDriver commented on #8683
Yeah, in our architecture, we can configure the implementation of message broker later.

As you know, we use RocksDB as our message broker when deploying standalone milvus, instead we use Pulsar when deploying distributed milvus. RocksDB in milvus is compiled with milvus binary, and pulsar is also easy to deploy with documentation. Is there any issues when you deploy those two components?

We use

[2021-09-27 09:20] cxwen commented on #7723
[code]
Print out the log related to the minio key when save binlog, the key has a slash prefix.

For example:
[code]
But the key passed to the minio client when saving should be the following. After testing, it can be saved normally.
[code]

[Save method for MinIOKV](https://github.com/milvus-io/milvus/blob/v2.0.0-rc6/internal/kv/minio/minio_kv.go#L177)
[code]
The key argument of kv.minioClient.Pu

[2021-09-27 09:26] xiaofan-luan commented on #8683
Shouldn't be hard to combine milvus together with NATS, may need some refactor, wanna to give a try? @gedw99

[2021-09-27 09:42] ThreadDao opened #8691 "Flush does not get a response when multi milvus share the same pulsar cluster"
#### Steps/Code to reproduce:
1. Deploy external distributed etcd, minio and Pulsar
[code]
2. Deploy `milvus-one` with `etcd.rootPath=by-dev-a`, `minio.bucketName=a-bucket`, `chanNamePrefix.cluster=by-dev-a`
[code]
3. Deploy `milvus-two` with `etcd.rootPath=by-dev-b`, `minio.bucketName=b-bucket`, `chanNamePrefix.cluster=by-dev-b`
[code]
4. Run test_e2e.py on milvus-one and milvus-two

#### Expecte

[2021-09-27 10:22] gedw99 commented on #8683
@xiaofan-luan
I am swamped with work at the moment.

NATS is really easy BTW. Some tips:

1. You can embed a NATS server into the main code OR run a global cluster.

https://github.com/nats-io/nats-server

https://github.com/nats-io/nats-server/blob/main/server/jetstream_cluster.go

just add this flag to run it as a Jetstream cluster: https://github.com/nats-io/nats-server/blob/main/main.go#L54

S

[2021-09-27 10:26] gedw99 commented on #8683
BTW NATS Server aso supports Websockets and MQTT build it.

So you can build Web Apps that use NATS via the Websockets.

IOT devices can use the NATS protocol direct. There is no reliance on HTTP, so you can compile using tinygo onto almost any MCU based hardware and it will work.

SO with NATS you can run on global cluster, with web, IOT, Mobile, etc clients.

Its pretty cool...

[2021-09-27 10:53] wangting0128 opened #8702 "[benchmark][cluster] Panic but don't quit"
#### Steps/Code to reproduce:
error code：
`[2021/09/27 10:39:01.005 +00:00] [FATAL] [logutil.go:96] [panic] [recover="\"Failed to create consumer by-dev-datacoord-timetick-channel, error = All attempts results:\\nattempt #1:connection error\\nattempt #2:connection error\\nattempt #3:ServiceNotReady\\nattempt #4:ServiceNotReady\\nattempt #5:ServiceNotReady\\nattempt #6:ServiceNotReady\\nattempt #7: