[2022-11-18 03:37] binbinlv commented on #20701
@jingkl
And the test case should modified here to support this limit (dim >=32 for diskANN).

Thanks.

[2022-11-18 03:37] yanliang567 commented on #20502
manually call `flush`, the growing segments becomes index in a second, and the search latency keeps without any improvement.
please check one of segments `437427639710798269 `around 2022/11/17 11:30 UTC time. First it was growing, then it became indexed after i manually flush the collection
[code]

[2022-11-18 03:42] yanliang567 commented on #20502
one more thing we need to look into is that no auto compaction even there are many small segments:

[code]

[2022-11-18 03:44] #20584 closed

[2022-11-18 03:45] #20459 closed

[2022-11-18 03:46] #20445 closed

[2022-11-18 03:46] #20647 closed

[2022-11-18 03:46] #20228 closed

[2022-11-18 03:46] #20212 closed

[2022-11-18 03:47] #19955 closed

[2022-11-18 03:51] jingkl commented on #20701
pr：#20702

[2022-11-18 03:51] jingkl commented on #20701
This will fix the problem

[2022-11-18 03:57] NicoYuan1986 commented on #20595
Fixed for master branch. I will close the issue when it is fixed for 2.2.0 branch too.

[2022-11-18 03:59] yhmo opened #20703 "[Bug]: Incorrect search result of pymilvus example"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Start a milvus server(2.2)
Run this pymilvus example:  https://github.com/milvus-io/pymilvus/blob/master/examples/example.py

The example insert 10000 vectors into milvus, and then use the No.1 No.2 and No.3 vectors to search.

![Screenshot from 2022-11-18 11-44-33](h

[2022-11-18 04:01] elstic commented on #20634
### Environment
- Milvus version: 2.2.0-20221117-b4af8703
- Deployment mode(standalone or cluster):standalone
- SDK version(e.g. pymilvus v2.0.0rc2): 2.2.0.dev70

### Current Behavior
server-instance
fouram-stable-1668704400-3
server-configmap
server-single-8c32m
client-configmap
client-random-locust-insert-delete-search-filter-5h

server:
[code]

client log:
[code]

### Expected Behavior
No respo

[2022-11-18 04:08] elstic commented on #20634
### Environment
Milvus version: 2.2.0-20221117-b4af8703
Deployment mode(standalone or cluster):standalone
SDK version(e.g. pymilvus v2.0.0rc2): 2.2.0.dev70

### Current Behavior
server-instance
fouram-stable-1668704400-5
server-configmap
server-single-8c32m256d-diskann
client-configmap
client-random-locust-insert-delete-search-filter-diskann-5h

server:
[code]
client log:
[code]

### Expected Beha

[2022-11-18 06:16] yhmo commented on #20703
Same problem: https://github.com/milvus-io/milvus/discussions/20680

[2022-11-18 06:20] yanliang567 commented on #20703
/assign @jiaoew1991
/unassign

[2022-11-18 06:37] SimFG opened #20706 "[Enhancement]: Make the SyncSegment request idempotent in the datanode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Make the SyncSegment request idempotent in the datanode

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-11-18 06:54] smallcai03 opened #20708 "[Bug]Error: INSTALLATION FAILED with k8s 1.19.1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

k8s版本为1.19.1.   执行helm install my-release milvus/milvus ，
出现Error: INSTALLATION FAILED: unable to build kubernetes objects from release manifest: SchemaError(io.milvus.v1alpha1.MilvusCluster.spec.components.dataCoord.volumes): array should have exactly one sub-item 。

[2022-11-18 06:55] jaime0815 commented on #20627
libkafka maybe has a thread leak risk, the thread will not terminate immediately when the consumer close.

here is a code snippet about rd_kafka_destroy method in libkafka
[code]

[2022-11-18 06:57] yanliang567 commented on #20708
/assign @LoveEachDay
/unassign

[2022-11-18 06:58] smallcai03 commented on #20708
吼吼，知道了~~

[2022-11-18 06:59] elstic commented on #20627
argo : https://argo-workflows.zilliz.cc/workflows/qa/fouram-restart-server-hgvqb?tab=workflow&nodeId=fouram-restart-server-hgvqb-2893889471&nodePanelView=inputs-outputs
argo task: fouram-restart-server-hgvqb

reinstall image: 2.2.0-20221117-c65306bc

server-instance
fouram-tag-no-clean-z2mmt-1
server-configmap
server-cluster-8c64m-querynode2-kafka
client-configmap
client-random-locust-100m-hnsw-dd

[2022-11-18 07:15] soothing-rain commented on #20146
/assign

[2022-11-18 07:15] soothing-rain commented on #20145
/assign

[2022-11-18 07:16] soothing-rain opened #20710 "[Enhancement]: Fix fluctuating `StoredBinlogSize` metric."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Fix fluctuating (and perhaps inaccurate) StoredBinlogSize metric.

![image](https://user-images.githubusercontent.com/69466447/202643564-eb98bf47-db3b-44aa-9a6d-0a7696784964.png)

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-11-18 07:16] soothing-rain commented on #20710
/assign

[2022-11-18 07:19] mazitovs commented on #20687
Add @dmitry-r

[2022-11-18 07:21] yanliang567 commented on #20708
fixed? do you mind sharing your solution with the community.

[2022-11-18 07:27] jaime0815 commented on #20627
the consumer number is close to 4600 at 02:03, which means that a lot of threads have been created and destroyed before.
![image](https://user-images.githubusercontent.com/4024711/202644484-306a5822-b89e-45b4-9099-fa3c9756bb13.png)

[2022-11-18 07:31] jaime0815 commented on #20627
related to https://github.com/edenhill/librdkafka/issues/312

[2022-11-18 08:02] smallcai03 commented on #20708
不好意思，这是自动回复。。。
还没解决

caishuping
***@***.***

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "milvus-io/milvus"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年11月18日(星期五) 下午3:21
***@***.***&gt;;

[2022-11-18 08:57] dmitry-r commented on #20687
1. VECTOR_DIMENSION: int = 384, 60mln vectors in collection
2. Via docker compose with default config
3. Unfortunately, logs was lost

[2022-11-18 09:02] #20251 closed

[2022-11-18 09:04] #20406 closed

[2022-11-18 09:05] NicoYuan1986 commented on #20500
Fixed.

[2022-11-18 09:05] #20500 closed

[2022-11-18 09:06] NicoYuan1986 commented on #20580
Fixed.

[2022-11-18 09:06] #20580 closed

[2022-11-18 09:23] #20710 closed

[2022-11-18 09:51] soothing-rain opened #20715 "[Enhancement]: Implement missing DataCoord metrics."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Including segment_flush_duration, segment_compact_duration, compaction_load, num_compaction_tasks.

See https://github.com/milvus-io/milvus/blob/master/internal/metrics/datacoord_metrics.go#L108-L140 for more details.

### Why is this needed?

_No response_

### Anything else?

[2022-11-18 09:52] soothing-rain commented on #20715
/assign

[2022-11-18 09:56] wayblink commented on #20634
In a recent pr. param : datanode.flush.insertBufSize is renamed to datanode.segment.insertBufSize. But not updated in helm.
And the default value in code is zero. So it will be 0 in runtime. This will cause for each insert, datanode will write a new binlog, so binlog number in growing segment will keep growing. The meta data also grows very large, leads to etcd OOM crash finally.
![image](https://

[2022-11-18 11:47] Bennu-Li commented on #20708
Have you installed milvus-operator? Try to uninstall milvus-operator https://milvus.io/docs/v2.1.x/install_cluster-milvusoperator.md#Uninstall-Milvus-Operator.  And then install milvus again by milvus helm chart.
And It's better to upgrade your k8s version to 1.20+

[2022-11-18 12:03] SimFG commented on #20363
![LvKKS3i61z](https://user-images.githubusercontent.com/21985684/202700954-73efec83-4e6f-44a2-ae7f-3b6bfeffaa7f.jpg)

[2022-11-18 12:13] jaime0815 commented on #20363
job https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_kafka/detail/deploy_test_kafka/444/pipeline  flush hang, the reason is Kafka connection is not stable, time tick occurs lag.
![image](https://user-images.githubusercontent.com/4024711/202702384-7d7d5bf5-b7b5-4fd8-8a78-edf0b06085d8.png)

[2022-11-18 12:14] jaime0815 commented on #20363
https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_kafka_for_release/detail/deploy_test_kafka_for_release/407/pipeline/  job hang also is Kafka issue.

[2022-11-18 14:13] #18665 closed

[2022-11-18 14:14] #19618 closed

[2022-11-18 14:14] #19453 closed

[2022-11-18 14:14] #19297 closed

[2022-11-18 14:14] #19460 closed

[2022-11-18 14:16] #19723 closed

[2022-11-18 16:57] mausch commented on #17981
Still relevant, please reopen.

[2022-11-19 01:33] NicoYuan1986 opened #20720 "[Bug]: [Nightly]Milvus install failed in cluster-kafka pipeline"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus install failed in cluster-kafka pipeline.
[code]

### Expected Behavior

succeed

### Steps To Reproduce

The first time(two days ago): https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/193/pipeline/81

The second ti

[2022-11-19 01:39] NicoYuan1986 commented on #19386
The error appeared for both master and 2.2.0 branch yesterday.

milvus: 2.2.0(e7429f8)
pymilvus: 2.2.0.dev71

1. log: [artifacts-milvus-distributed-pulsar-nightly-6-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/2.2.0/6/artifact/artifacts-milvus-distributed-pulsar-nightly-6-pymilvus-e2e-logs.tar.gz)
2. collection name: utility_PMGOt6Un
3. FAILED timeline: [

[2022-11-19 01:41] NicoYuan1986 commented on #20701
Fixed.

[2022-11-19 01:41] #20701 closed

[2022-11-19 05:35] #19720 closed

[2022-11-20 03:26] #19721 closed

[2022-11-20 03:26] #19754 closed

[2022-11-20 03:26] #19622 closed

[2022-11-20 03:26] #19744 closed

[2022-11-20 03:26] #19769 closed

[2022-11-20 11:59] alexandervyatsu commented on #20534
This error occurs when building an index on a scalar field.
Everything works without an index.

[2022-11-20 19:32] #18968 closed

[2022-11-20 19:32] #19473 closed

[2022-11-20 19:32] #19763 closed

[2022-11-20 19:32] #19563 closed

[2022-11-20 19:32] #19778 closed

[2022-11-21 01:26] yanliang567 commented on #20720
/assign @Bennu-Li
please help to take a look.

/unassign

[2022-11-21 01:57] bigsheeper commented on #20163
should be fixed @yanliang567

[2022-11-21 02:16] #20685 closed

[2022-11-21 02:18] #20241 closed

[2022-11-21 02:19] #19957 closed

[2022-11-21 02:26] zhuwenxing commented on #20508
Error log:
[code]

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release/detail/chaos-test-for-release/1992/pipeline
log:
[artifacts-pulsar-pod-kill-1992-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/10052044/artifacts-pulsar-pod-kill-1992-server-logs.tar.gz)
[artifacts-pulsar-pod-kill-1992-pytest-logs.tar.gz](https://github.com/milvus-io/milvus

[2022-11-21 02:28] congqixia commented on #19853
Still WIP

[2022-11-21 02:31] zhuwenxing commented on #19951
chaos type: pod-kill image tag: 2.2.0-20221118-e7429f88 target pod: datanode
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release/detail/chaos-test-for-release/1988/pipeline
![image](https://user-images.githubusercontent.com/12268675/202950269-079d3f52-c1d2-4d7d-8566-b4c803333e6f.png)
In this step, release timeout.
log:
[artifacts-datanode-pod-kill-1988-server

[2022-11-21 02:33] zhuwenxing commented on #20661
chaos type: pod-kill image tag: 2.2.0-20221118-e7429f88 target pod: datanode
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release/detail/chaos-test-for-release/1988/pipeline
![image](https://user-images.githubusercontent.com/12268675/202950852-2b986708-0e22-4ba8-ad14-739776200f54.png)
log:
[artifacts-datanode-pod-kill-1988-server-logs (1).tar.gz](https://githu

[2022-11-21 02:36] jingkl opened #20723 "[Bug]: [benchmark][cluster] Milvus reinstall with same pvc, search , query raise an error"<_MultiThreadedRendezvous of RPC that terminated with: status = StatusCode.DEADLINE_EXCEEDED""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After restart
server-instance
fouram-tag-no-clean-p4l24-1
server-configmap
server-cluster-8c64m-querynode2
client-configmap
client-random-locust-100m-hnsw-ddl-r8-w2-12h-con
image:2.2.0-20221117-c65306bc
pymilvus: 2.2.0dev70

reinstall with  image 2.2.0-20221118-b494b5

[2022-11-21 02:47] Bennu-Li commented on #20720
/assign @binbinlv

[2022-11-21 02:57] jingkl commented on #20630
case_name
test_ivf_flat_search_standalone
image:2.2.0
pymilvus:2.2.0dev70

[code]
client log:

[code]

[2022-11-21 02:58] jaime0815 commented on #20720
/assign @jaime0815

[2022-11-21 03:00] john-h-luo commented on #20650
Hello, @akmalmasud96, https://milvus.io/docs/v2.2.x/eks.md has updates, I've tested it myself and I believe it will help you setup a Milvus cluster. If you encounter any issue please leave a comment to let me know.

[2022-11-21 03:07] yah01 commented on #20508
/assign @congqixia plz help,
The delta channel was added into the TsafeReplica, but then we can't find it later

[2022-11-21 03:08] yhmo commented on #20632
#20631 and #20653 have been merged. This bug has been fixed both on the master branch and 2.2 branch(not including v2.2.0)

[2022-11-21 03:08] #20632 closed

[2022-11-21 03:19] XuanYang-cn commented on #19853
#20166 was merged, and the next would be adding e2e testcases to cover these cases.

@binbinlv Please help with the e2e cases with @smellthemoon
/assign @binbinlv

[2022-11-21 03:20] czs007 commented on #20510
@zhuwenxing

Please try again , it may have been fixed in master branch.

[2022-11-21 03:29] yanliang567 commented on #20723
/assign @jiaoew1991
/unassign

[2022-11-21 03:38] wayblink commented on #20630
/assign @xige-16 please help to see this issue, thx~

[2022-11-21 03:52] soothing-rain opened #20729 "[Enhancement]: Reduce max # of fields to a value < 128"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Milvus stores segment metadata in Etcd, for example the key could look like:
[code]

In the case where there are too many fields in a single segment (Milvus supports up to 255 fields), saving metadata of a single segment can involve > `maxTxnOps` # of Etcd operations, which, i

[2022-11-21 04:44] zhuwenxing commented on #20510
Please link the fix PR!

[2022-11-21 04:46] zhuwenxing commented on #20510
It is not a stable reproduced issue, so it is hard to verifying

[2022-11-21 06:11] mazitovs commented on #20687
@yanliang567

`docker compose logs milvus --since='2022-11-21T03:49:33Z' --until='2022-11-21T03:57:23Z'`
[milvus.log](https://github.com/milvus-io/milvus/files/10053874/milvus.log)

[2022-11-21 07:41] smellthemoon opened #20735 "[Bug]: [UT] group checker test failed occasionally"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Failed with following error message
<img width="954" alt="1" src="https://user-images.githubusercontent.com/64083300/202992334-eab3f547-2e95-4f33-896a-e2758b04c26e.png">

### Expected Behavior

should pass

### Steps To Reproduce

_No response_

### Milvus Log

_No re

[2022-11-21 07:43] smellthemoon commented on #20735
/assign @smellthemoon

[2022-11-21 07:43] smellthemoon commented on #20735
/unassign @yanliang567

[2022-11-21 08:02] MrPresent-Han commented on #20510
This issue may be due to time gap between query operation towards query node and load segments operation on query node. As after_upgrade_test will trigger load collection and then send query and search test instantly without waiting at all. So it's possible that when query request arrived at the query node, the targeted segments haven't been loaded.
See images below, in which you can see that quer

[2022-11-21 08:05] congqixia commented on #20508
Parallel `Load` & `Release` segments caused this problem.
One release task make the segment count went zero and try to release flowgraph while another load segment came.
Load segment checked the collection meta and found delta channel still exists(release fg still in process)

[2022-11-21 08:20] XuanYang-cn commented on #20502
[code]
This patch to make sure segment cp moving forward stops the small segment's been compacted. Since we don't need segments checkpoints and don't flush stale segments now, it's save to remove these lines and enable compaction.
[code]

[2022-11-21 09:40] ndtreviv commented on #19879
The latest on this is that the person running it had a more serious error, which revealed there were disk issues. When they went to replace the disk with a new SSD they then realised that the existing disk was _not_ an SSD, but was in fact a magnetic drive.
Replacing with an SSD has solved all sorts of problems.

So, learning point for me: don't run milvus on anything less than an SSD.

[2022-11-21 09:40] #19879 closed

[2022-11-21 09:50] yanliang567 commented on #20687
@mazitovs Looking into the milvus.log attached above, it indicates that the search request was done in milvus in 228ms.
[code]
I guess it costs more in network or client side, could you please check that?

[2022-11-21 10:12] jiaoew1991 commented on #20008
/assign @longjiquan
/unassign

[2022-11-21 11:11] elstic opened #20745 "[Bug]: [Stability] ivf_sq8 index search, query, load delay increase"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

sift dataset 100m data, 128 dimensions, concurrent query, load, search, elevated result latency

server-instance
`fouram-tag-no-clean-z56jm-1`
server-configmap
`server-single-32c128m`
client-configmap
`client-random-locust-100m-ddl-r8-w2-con-60h`

query:
![image](http

[2022-11-21 11:16] shifengl opened #20746 "[Bug]: milvus shutdown when request concurrently larger than 20"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

i take request test to milvus. the request have covered with different collection(400+).
when concurrency request is smaller than 20（like 19）, the milvus server is normal.
when concurrency request is equal or larger than 20, the milvus server shutdown.

docker logs mi

[2022-11-21 11:27] jingkl opened #20747 "[Bug]: [Master]Milvus run testcase"test_compact_partition", assert the number of compaction.plans is inconsistent"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

testcase:  test compact partition
[code]

client log:

[code]
jenkins: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-20727/9/artifacts
log:
[artifacts-milvus-standalone-PR-20727-9-pymilvus-e2e-logs.tar.gz](https://github.com/mil

[2022-11-21 11:40] congqixia opened #20748 "[Enhancement]: Remove dependency of Etcd server for unit test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Use embed etcd server to remove dependency of Etcd server for unit test

### Why is this needed?

Unit tests may fail due to etcd failed to start in github workers

### Anything else?

_No response_

[2022-11-21 12:16] mazitovs commented on #20687
Yes, I agree, we will check. Thx

However what about that?

[2022-11-21 12:55] dzqoo commented on #20532
I have test the performance in latest version of milvus2.2.0 and still get bad performance as you see in the following:
1. query latency:
![image](https://user-images.githubusercontent.com/8862305/203059428-3546c67b-ed5b-42b7-b163-9c66468e79f6.png)
![image](https://user-images.githubusercontent.com/8862305/203059549-8478aad1-3c53-4574-ad0b-faf39b114e8f.png)
![image](https://user-images.githubuserc

[2022-11-21 13:06] #20720 closed

[2022-11-21 15:00] soothing-rain commented on #19823
fixed in both

[2022-11-21 15:03] bernarde01 opened #20752 "[Bug]: Cannot connect to Milvus server from a docker container"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I run Milvus in standalone mode on docker (by executing docker-compose on the default Milvus docker-compose.yml file, resulting in the three containers being created), I cannot connect to the Milvus server from a task running in another docker container on the sa

[2022-11-21 16:45] #20650 closed

[2022-11-22 00:22] filip-halt opened #20753 "[Bug]: Failure to insert data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When performing this codeblock:
[code]

The insert returns: `(insert count: 1000000, delete count: 0, upsert count: 0, timestamp: {self._timestamp}, success count: {self.succ_count}, err count: {self.err_count})` without throwing any errors. The insert performs imposs

[2022-11-22 01:33] yanliang567 commented on #20747
@jingkl is it on 2.2 branch or master?

[2022-11-22 01:36] yanliang567 commented on #20753
@filip-halt Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?
/assign @filip-halt

[2022-11-22 01:48] yanliang567 commented on #20746
/assign @yhmo
/unassign

[2022-11-22 02:00] NicoYuan1986 commented on #20247
Latest: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/2.2.0/9/pipeline/155

milvus: efa1cf7
pymilvus: 2.2.0.dev71

1. log: [artifacts-milvus-distributed-kafka-nightly-9-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/2.2.0/9/artifact/artifacts-milvus-distributed-kafka-nightly-9-pymilvus-e2e-logs.tar.gz)
2. collection

[2022-11-22 02:04] NicoYuan1986 commented on #19850
Latest: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/2.2.0/9/pipeline/155

milvus: efa1cf7
pymilvus: 2.2.0.dev71

1. log: [artifacts-milvus-distributed-kafka-nightly-9-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/2.2.0/9/artifact/artifacts-milvus-distributed-kafka-nightly-9-pymilvus-e2e-logs.tar.gz)
2. collection

[2022-11-22 02:22] NicoYuan1986 commented on #20595
Fixed.

[2022-11-22 02:22] #20595 closed

[2022-11-22 02:24] NicoYuan1986 commented on #19386
Fixed.

[2022-11-22 02:24] #19386 closed

[2022-11-22 02:29] wayblink commented on #20634
/close

[2022-11-22 02:29] #20634 closed

[2022-11-22 02:47] longjiquan commented on #20008
Close this since this issue has been fixed already.
/close

[2022-11-22 02:47] #20008 closed

[2022-11-22 02:57] shifengl commented on #20746
for more detail:  each request will create a random vector, and assign to one of 400 collection randomly.  when concurrency is up to 20, the server will shutdown.

[2022-11-22 03:04] devennavani opened #20756 "[Bug]: 2.1->2.2 migration fails due to incorrect Attu image tag"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The migration script (`deployments/migrate-meta/migrate.sh`) fails because it tries to use the milvusdb/milvus:v2.2.0 image tag to re-deploy Attu.

### Expected Behavior

There should be a special condition inside the `start_milvus_deploy` of the function in the scrip

[2022-11-22 03:07] hukang6677 commented on #19586
Our usage scenario is to deploy clusters on multiple servers，so docker-compose may unsuited

[2022-11-22 03:20] weiliu1031 commented on #19586
for now, milvus does not support change internal config items,  and work around method doesn't fit your case.

[2022-11-22 03:28] jiaoew1991 commented on #20703
/assign @XuanYang-cn
/unassign

[2022-11-22 03:38] XuanYang-cn commented on #20303
@zhuwenxing  Please `create_index` after `insert`, the segment might not be indexed when calling `compact()`(index tasks are queued at indexnode/indexcoord), so the plan number might be less than 2.

There're many other compaction cases called `create_index` before insert, which might fail in the future. Please help to change it. @zhuwenxing
[code]

/unassign
/assign @zhuwenxing

[2022-11-22 03:39] XuanYang-cn commented on #20747
The same as #20303

[2022-11-22 03:42] NicoYuan1986 opened #20758 "[Bug]: [Nightly]Query segment's amount is wrong when compact with the max time interval 60s"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Query segment's amount is wrong when compact with the max time interval 60s.
[code]

### Expected Behavior

PASS

### Steps To Reproduce

[code]

### Milvus Log

[artifacts-milvus-distributed-kafka-nightly-197-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/

[2022-11-22 03:55] XuanYang-cn commented on #20703
[code]

The first vector's `id==0`, and the expr requires `"id_field>0"`, so the first result won't be the NO.1 vector.

change `id_field>0` to `id_field>=0` will get the following:
Search result for 0th vector:
Top 0: (distance: 0.0, id: 0)
Top 1: (distance: 15.004575729370117, id: 5568)
Top 2: (distance: 15.679189682006836, id: 8573)

Search result for 1th vector:
Top 0: (distance: 0.0, id: 1)
T

[2022-11-22 05:04] elstic commented on #20634
@wayblink If you want to close an issue, please @ and notify the issue logger

[2022-11-22 05:05] elstic commented on #20634
After verification, the problem did not recur

[2022-11-22 05:48] bernarde01 commented on #20752
@yanliang567 I tested the Milvus server with curl <milvus server hostname>:9091/api/v1/health, and got the response:

{"status":"ok"}

I also connected successfully to the server from my localhost with:

connections.connect(
  alias="default",
  host=<milvus server hostname>,
  port=19530
)

So it looks like the Milvus server is healthy.

[2022-11-22 06:07] yanliang567 commented on #20752
Then I think we need to check the network between two docker containers.
@LoveEachDay  any suggestions?

/assgin @LoveEachDay

[2022-11-22 06:14] soothing-rain commented on #20753
@filip-halt Also can you provide the full testing script? Thanks.

[2022-11-22 06:50] LoveEachDay commented on #20752
@bernarde01 You can put the test client container into the `docker-compose.yml` as a new `service`, so that you can access milvus service using `standalone:19530`.

[2022-11-22 07:23] bernarde01 commented on #20752
Thanks @LoveEachDay
I added the test client container to the `docker-compose.yaml` file, and set the connect command to:
`connections.connect(
        alias="default",
        host='standalone',
        port=19530
    )`
I get the same timeout error:`pymilvus.exceptions.MilvusException: <MilvusException: (code=2, message=Fail connecting to server on standalone:19530. Timeout)>`

[2022-11-22 08:17] elstic opened #20761 "[Bug]: [benchmark][cluster] Milvus build ivf_sq8 index after search failed, raise an error"collection:sift_100m_128_l2 or partition:[] not loaded into memory when query)>'""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

server:
[code]

client log:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

Complete  client log：

[Uploading main-logs.txt.zip…]()

### Anything else?

client-random-locust-concurrent-replica2-search-100m-ddl
[cod

[2022-11-22 08:43] yanliang567 commented on #20532
<img width="934" alt="image" src="https://user-images.githubusercontent.com/82361606/203266123-4b6e76ca-7528-4408-9f14-8aee28ca540c.png">

<img width="931" alt="image" src="https://user-images.githubusercontent.com/82361606/203266740-c339a746-cea5-4871-b4f8-4215b8eea058.png">

<img width="931" alt="image" src="https://user-images.githubusercontent.com/82361606/203266192-4c897367-5fc9-4e70-83ed-7c8

[2022-11-22 08:53] elstic commented on #20761
#### Milvus datanode crash and build hnsw index after search failed, raise an error"collection:sift_100m_128_l2 or partition:[] not loaded into memory when search"

### Environment

[code]

### Current Behavior

[code]

server:
[code]

client log:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Milvus Log

Complete  client log：

### Anything else?

pod status:
![i

[2022-11-22 09:08] XuanYang-cn commented on #20703
/unassign
/assign @yhmo

[2022-11-22 09:10] smallcai03 commented on #20708
Thanks.
I have successfully installed by k8s 1.21.0.
but when I do this command.
&nbsp;&nbsp;kubectl get pods
the status is pending always,Unable to convert running.
how can i do ?

caishuping
***@***.***

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "milvus-i

[2022-11-22 11:42] bernarde01 commented on #20752
Turns out this is not a Milvus issue. The problem was caused by our corporate network, and the proxy requirement. In the dockerfile, I need to set the proxy settings to be able to pull images. However, this sets the proxy settings during builld and for the container. These proxy settings prevented communication between the containers. The fix was:

`
FROM python:3.9.12

# Set proxy
ENV https_proxy

[2022-11-22 12:43] #17193 closed

[2022-11-22 12:59] #20752 closed

[2022-11-22 14:31] yah01 opened #20765 "[Enhancement]: Query/Search performance suffers from coping & serializing & deserializing data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

The QueryNode needs to call segcore (written in C++) to query/search data by CGO, after reviewing this, I found that we can improve the performance significantly by:
- The query/search path copies column data multiple times which is not necessary
- The CGO interfaces use proto

[2022-11-22 14:32] yah01 commented on #20765
/assign

[2022-11-22 19:08] filip-halt commented on #20753
[milvus-log.tar.gz](https://github.com/milvus-io/milvus/files/10070332/milvus-log.tar.gz)

[code]

The data is the sift1m dataset.

[2022-11-22 19:09] filip-halt commented on #20753
[milvus-log.tar.gz](https://github.com/milvus-io/milvus/files/10070350/milvus-log.tar.gz)

[code]

The data is the sift1m dataset.

[2022-11-22 19:27] filip-halt commented on #20753
Turns out the issue is that I need to put a flush() call otherwise it hangs. Probably due to this update in 2.2 `No auto-flush is triggered by any SDK APIs such as num_entities(), create_index(), etc.`

[2022-11-23 01:05] yanliang567 commented on #20753
/assgin @soothing-rain
/unassign

[2022-11-23 01:08] yanliang567 commented on #19851
@TaQuangTu does this still reproduce for you on milvus 2.2?
@weiliu1031 any updates?

[2022-11-23 01:13] yanliang567 commented on #20761
/assign @jiaoew1991
/unassign

[2022-11-23 01:45] longjiquan opened #20766 "[Bug]: Binary vector with invalid metric type shouldn't be searched"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Binary vector with L2/IP can be searched but the distance is not right as expected.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-11-23 01:55] yanliang567 commented on #20756
@devennavani milvus v2.2.0 is the latest release, is there a problem for migration?
/assign @devennavani

[2022-11-23 01:56] yanliang567 commented on #20747
/assign @ThreadDao
please help to take a look whether we had fix it.

/unassign

[2022-11-23 01:58] yanliang567 commented on #20745
/assign @jiaoew1991
/unassign

[2022-11-23 01:59] longjiquan commented on #20766
![image](https://user-images.githubusercontent.com/31589260/203455987-3a2c383e-5748-4bd0-8d8e-a43569ff7435.png)

[2022-11-23 02:00] longjiquan commented on #20766
https://github.com/milvus-io/milvus/blob/45205da8f184f908f9cbf222f8ee3e0edb26cf72/internal/core/src/query/SearchBruteForce.cpp#L40

[2022-11-23 02:02] NicoYuan1986 commented on #20281
It hasn't happened recently.

[2022-11-23 02:02] yanliang567 commented on #20532
here are some offline updates from @dzqoo:
1. there is a varchar filed with max length 65535, which will be retrieved in search requests.
2. there are 2 more small collections with 400d-3m vectors earch, which also have the same varchar filed to be retrieved
3. exptected latency <100ms with 200 QPS total for 3 collections

[2022-11-23 02:12] TaQuangTu commented on #19851
We back to Milvus 1.x to serve our product but will spend time to research and apply Milvus 2.2. I will update later about this issue. Thank you, Milvus team. @weiliu1031 @yanliang567

[2022-11-23 02:13] yanliang567 commented on #20588
/assign @czs007
any updates?

[2022-11-23 02:13] #20703 closed

[2022-11-23 02:15] NicoYuan1986 commented on #20247
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/2.2.0/10/pipeline/187

milvus: 2.2.0(89bdb34)
pymilvus: 2.2.0.dev71

log: [artifacts-milvus-distributed-pulsar-nightly-10-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/2.2.0/10/artifact/artifacts-milvus-distributed-pulsar-nightly-10-pymilvus-e2e-logs.tar.gz)

[2022-11-23 02:18] NicoYuan1986 commented on #19740
Latest: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/2.2.0/10/pipeline/187
log: [artifacts-milvus-distributed-pulsar-nightly-10-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/2.2.0/10/artifact/artifacts-milvus-distributed-pulsar-nightly-10-pymilvus-e2e-logs.tar.gz)
error message:
[code]

[2022-11-23 02:19] yanliang567 commented on #20510
@MrPresent-Han if loading not completed, how search requests return success instead of return an error?

[2022-11-23 02:19] ruixiu opened #20768 "[Bug]: Milvus 2.2.0 cluster stopped and failed to recover after running for 43 hours"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

持续运行42小时后大部分服务容器提示从etcd断开然后重启，只有rootcoord、minio(这个不影响)、etcd未重启，导致milvus不可用，具体见下图：
![9ACF06E5-E302-4CFE-908F-368A422ED775](https://user-images.githubusercontent.com/9940354/203456974-efb04e45-ad38-4fd2-95cc-b2a65e66c05b.png)
发现milvus不可用后，通过docker logs milvus-proxy --ta

[2022-11-23 02:21] yanliang567 commented on #20508
@yah01 @congqixia any updates?

[2022-11-23 02:26] liliu-z commented on #20766
/assign @cydrain

[2022-11-23 02:31] yanliang567 commented on #20416
@jingkl does this issue reproduce ?

[2022-11-23 02:34] xiaofan-luan commented on #20768
Hi @ruixiu,

From the log your offered, root coord crashed because it can't broadcast timetick to pulsar.

[2022/11/22 21:32:24.955 +00:00] [ERROR] [rootcoord/dml_channels.go:235] ["Broadcast failed"] [error="message send timeout: TimeoutError"] [chanName=by-dev-rootcoord-dml_55] [stack="github.com/milvus-io/milvus/internal/rootcoord.(*dmlChannels).broadcast\n\t/go/src/github.com/milvus-io/milvus/

[2022-11-23 02:40] yanliang567 commented on #20768
/assign @ruixiu

[2022-11-23 02:47] ruixiu commented on #20768
The following parts are intercepted from the logs of the Pulsar（There should be a problem with zookeeper）:

21:31:55.666 [pulsar-io-18-1] INFO  org.apache.pulsar.broker.service.ServerCnx - [/172.19.0.8:42102][persistent://public/default/by-dev-rootcoord-dml_43] Creating producer. producerId=44
21:32:20.353 [pulsar-io-18-8] INFO  org.apache.pulsar.broker.service.AbstractDispatcherSingleActiveConsum

[2022-11-23 02:57] neiblegy opened #20769 "[Bug]: collection has not been loaded to memory or load failed while loading 50M-100M vectors"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. create cluster with milvus2.2.0-release
2. insert 50M 256-dim float vectors
3. build HNSW  index with params: ({ 'index_type': 'HNSW','metric_type': 'IP','params': {'M': 16, 'efConstruction':128}
})
4. load with 15 replicas

then error occurred:
`pymilvus.exception

[2022-11-23 02:58] yanliang567 commented on #20362
@jingkl does it repro recently?

[2022-11-23 03:08] congqixia commented on #20508
@yanliang567 #20736 just merged, cherry-picking to 2.2

[2022-11-23 03:18] ThreadDao opened #20771 "[Bug]: [ci] Standalone panic: runtime error: invalid memory address or nil pointer dereference"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

pr path: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-20757/3/artifacts
panic logs:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No res

[2022-11-23 03:26] xiaofan-luan commented on #20771
/assign @soothing-rain

[2022-11-23 03:37] yah01 commented on #20769
Hi @neiblegy, this error means the loading was canceled, since v2.2.0, we have added a default load timeout (10min), which cancels loading for a loading collection with **no any progress** update for 10min.
For short answer, you can just change `loadTimeoutSeconds` config to longer.

[2022-11-23 03:38] xiaofan-luan commented on #20768
Zookeeper is usually very stable, could you check your disk usage and make sure you still have enough space?

[2022-11-23 03:39] yah01 commented on #20769
We need to adjust the way we calculate the progress, for now, a segment would contribute to progress only if it was loaded in all replicas, but the loading tasks are added one-by-one replica, for large data and many replicas, it will take a long time to load a segment into all replicas

[2022-11-23 03:40] yah01 commented on #20769
/assign

[2022-11-23 03:45] ruixiu commented on #20768
Disk space is absolutely enough！
在2.1.0版本的时候未遇到过这个问题，升级到2.1.4之后出现过，再升级到2.2.0仍然存在。并且没有规律。

![2E31E5D7-A0BE-494C-88BC-FEAEAB7BAE82](https://user-images.githubusercontent.com/9940354/203465294-565fda04-86c9-424e-b05a-f30958af94a7.png)

[2022-11-23 03:45] xiaofan-luan commented on #20769
@neiblegy

You has to check if you have enough memory.
for  50M 256-dim * 12 replica you will need at least 500GB + memory

[2022-11-23 03:48] xiaofan-luan commented on #20769
bases on the memory your offered, I would say 1-2 replica is good enough

[2022-11-23 03:48] ruixiu commented on #20768
您可以看一下这张图，如果所有的milvus容器都能重启，也不会出现部分容器重启后milvus不可用的问题。
![203456974-efb04e45-ad38-4fd2-95cc-b2a65e66c05b](https://user-images.githubusercontent.com/9940354/203465771-3a047fae-ac78-45e4-bec4-f1d2412808b6.png)

[2022-11-23 03:57] MrPresent-Han commented on #20510
This issue is related to replica, query, balance, load/reduce, relatively complicated. I will upload a document illustrating this problem in more detail lately

[2022-11-23 03:59] yanliang567 commented on #20163
verified fixed on v2.2.0

[2022-11-23 04:00] jiaoew1991 commented on #20723
/assign @weiliu1031
/unassign
please look at this issue

[2022-11-23 04:03] yah01 commented on #20769
Will also add executor per QueryNode, to scale well

[2022-11-23 05:10] yanliang567 commented on #20769
/assign @neiblegy

[2022-11-23 05:12] xiaofan-luan commented on #20656
is this still a valid issue?

[2022-11-23 05:30] xiaofan-luan commented on #20768
@ruixiu how did you deploy the cluster? during 2.2 upgrade, we automatically backedup your etcd directory, that may cause your disk full.(Just a guess)

[2022-11-23 05:36] ruixiu commented on #20768
@xiaofan-luan 每次升级，我们都是清空所有向量数据、删除milvus volumes目录下的所有文件。然后单机执行docker-compose up -d
为了担心磁盘被写满，我们单独挂载了4T的硬盘用于支撑milvus

[2022-11-23 05:38] jaime0815 commented on #20247
load collection fail
[code]

[2022-11-23 05:45] ruixiu commented on #20768
另外，在早上使用attu发现milvus不能正常使用的时候，我逐个重启了没有自动重启的几个容器，顺序分别为：milvus-minio、milvus-etcd、milvus-rootcoord，在最后重启rootcoord之后，在attu中观察到自动load所有collection以后，milvus了恢复正常工作

[2022-11-23 05:49] yelusion2 opened #20773 "[Bug]: get loading process can not resturn load status"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

get loading process interface only return loading process,  its 0-100.
message GetLoadingProgressResponse {
  common.Status status = 1;
  int64 progress = 2;
}

when collection loaded return 100, how can i know this collection almost loaded or completely loaded ?
when

[2022-11-23 06:02] #20163 closed

[2022-11-23 06:03] yanliang567 commented on #20281
remove critical-urgent

[2022-11-23 06:06] xiaofan-luan commented on #20773
/assign @SimFG

[2022-11-23 06:09] yanliang567 commented on #20131
@liliu-z i think there is a fix in knowhere, when will it be integrated into milvus？

[2022-11-23 06:21] yanliang567 commented on #19519
helm charts were updated accordingly, so they will be applied in e2e tests without ut test impact.

[2022-11-23 06:21] #19519 closed

[2022-11-23 06:31] yanliang567 commented on #18828
@zhuwenxing any chance to verify the fix?

[2022-11-23 06:34] yanliang567 commented on #19042
the building index issue was fixed.
the other issues will be tracked in #20532

[2022-11-23 06:34] #19042 closed

[2022-11-23 06:34] jingkl commented on #19399
This currently has a load failure problem, see issue：#20630

[2022-11-23 06:36] jingkl commented on #19314
This issue does not appear at the moment, so close the issue first

[2022-11-23 06:36] #19314 closed

[2022-11-23 06:47] ThreadDao opened #20777 "[Bug]: Wrong index type description for go sdk index"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

go-sdk supported index type:
![image](https://user-images.githubusercontent.com/27288593/203486457-ba654433-de3d-4879-989f-f020cde4e6ff.png)

https://milvus.io/docs/v2.2.x/build_index.md

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

###

[2022-11-23 06:51] jingkl commented on #18318
This issue does not appear at the moment, so close the issue first

[2022-11-23 06:51] #18318 closed

[2022-11-23 06:52] yanliang567 commented on #20777
besides, the following 3 index types are not support any more in v2.2.0
![image](https://user-images.githubusercontent.com/82361606/203487329-584f7e9b-e901-44e0-9d20-cdbe7435f1fb.png)

/assign @AnthonyTsu1984

[2022-11-23 06:54] jingkl commented on #18327
This issue does not currently exist, so close issue first

[2022-11-23 06:54] #18327 closed

[2022-11-23 06:55] yanliang567 commented on #20773
/unassign

[2022-11-23 06:56] yanliang567 commented on #20773
please make sure all the changes are within milvus server, or you have to update it to all the sdk maintainers.

[2022-11-23 06:58] soothing-rain commented on #20661
@zhuwenxing Can you double check that Etcd pod kill issue in the main thread?

Should be fixed by https://github.com/milvus-io/milvus/pull/20655 and https://github.com/milvus-io/milvus/pull/20695 (cherry-pick)

[2022-11-23 07:04] mazitovs commented on #20687
@yanliang567 Any updates about question 2?

[2022-11-23 07:07] stringk245 commented on #18810
Collection()
collection.load()
collection.create_partition()
collection.search(**{"partition_names":["xx"]})

create_partition()  first,  then load  and  then search with the partition_name  will not happen

Collection()
collection.create_partition()
collection.load()
collection.search(**{"partition_names":["xx"]})

[2022-11-23 07:11] stringk245 commented on #18810
load first, then create_partition ,and then search with partition_name will happen :
Collection()
collection.load()
collection.create_partition()
collection.search(**{"partitions":["xx"]})

create_partition first, then load ,and then search with partition_name will not happen
Collection()
collection.create_partition()
collection.load()
collection.search(**{"partitions":["xx"]})

[2022-11-23 07:28] congqixia opened #20779 "[Bug]: e2e case test_search_with_diskann_and_more_index may fail randomly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

load may timeout sometimes

### Expected Behavior

e2e passes

### Steps To Reproduce

_No response_

### Milvus Log

[code]

### Anything else?

https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-20770/4/pipeline/

[2022-11-23 07:35] yah01 opened #20780 "[Bug]: DataCoord panics while updates metrics to unhealthy segment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-20697/9/pipeline/

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-11-23 07:35] yah01 commented on #20780
/assign
/unassign @yanliang567

[2022-11-23 07:37] #20780 closed

[2022-11-23 08:29] NicoYuan1986 opened #20786 "[Bug]: Create index diskann failed for 'Timeout >600.0s'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Create index diskann failed for 'Timeout >600.0s'.
[code]

### Expected Behavior

PASS

### Steps To Reproduce

_No response_

### Milvus Log

https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-20778/1/pipeline/142

### Anything else

[2022-11-23 08:34] jaime0815 opened #20787 "[Enhancement]: support lazy load meta into cache from catalog"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

1. unify to manage meta cache
2. use a lazy load style.

### Why is this needed?

1. Preload has a performance issue that directly affects recovery time  (I noticed preload will take approximately 70s+ for rootcoord when the collection number reaches around 4600).
2. There is

[2022-11-23 08:47] congqixia opened #20789 "[Bug]: e2e binary order is not stable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

case `test_search_binary_with_pagination` failed randomly

### Expected Behavior

Cases shall pass

### Steps To Reproduce

_No response_

### Milvus Log

[code]

### Anything else?
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-

[2022-11-23 08:53] yanliang567 commented on #20789
/assign @XuanYang-cn
the order of results are a bit different. please take a look

/uassign

[2022-11-23 09:09] jennyli-z opened #20790 "[Bug]: UT datacoord failed with Error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

failed ut
https://github.com/milvus-io/milvus/actions/runs/3529985134/jobs/5921504491
https://github.com/milvus-io/milvus/actions/runs/3528758443/jobs/5919187705

both failed at datacoord with different errors

### Expected Behavior

should pass

### Steps To Reproduc

[2022-11-23 09:51] yovelcohen opened #20792 "Query Coord/Node crashes on a daily basis when using external kafka and s3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

We've been running with milvus for a few weeks now. we've noticed that after some time (could be hours/days, inconsistent) the query coord/nodes start to crash.

the most notable errors we see in the logs are:
[code]
and the segmentID changes a lot. if I delete all no

[2022-11-23 10:03] NicoYuan1986 commented on #20607
Corresponding test cases have been modified. #20764

[2022-11-23 10:07] NicoYuan1986 commented on #20786
https://jenkins.milvus.io:18080/blue/rest/organizations/jenkins/pipelines/Milvus%20HA%20CI/branches/PR-20778/runs/3/nodes/34/steps/150/log/?start=0
twice

[2022-11-23 10:07] jaime0815 opened #20793 "[Bug]: Create disknn index timeout frequently"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-20751/10/pipeline/142

`test_create_index_with_diskann_normal ` occurs timeout frequently

the timeout is 1200s, but it seems not enough.

### Expected Behavior

_No response_

### S

[2022-11-23 10:08] cydrain commented on #20766
script to reproduce

[code]

[2022-11-23 10:10] XuanYang-cn commented on #20789
same as #20767

[2022-11-23 10:12] cydrain commented on #20766
run above script, sometimes we get empty search result
![Screenshot from 2022-11-23 18-10-47](https://user-images.githubusercontent.com/3992404/203520869-d6c6a1e2-712b-4328-adc0-6e067f847753.png)

sometimes, we get weird search result
![Screenshot from 2022-11-23 18-10-05](https://user-images.githubusercontent.com/3992404/203520969-355a3367-2357-426f-ade3-b68eb6a1c999.png)

[2022-11-23 10:36] cydrain commented on #20766
Let me explain this issue in detail:
1. why sometimes we see weird search result ?
## In this case, this BINARY_VECTOR's dim is 64, its real data length is 8 bytes.
     When we do search with metric type "L2", we regard each data row's length as "64 float" which is 256 bytes.
     So Milvus accesses out-of-bound memory, and calculate a weird L2 distance.
2. why sometimes we see empty search resul

[2022-11-23 10:40] lvmnn opened #20794 "[Bug]: search get stuck"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After restarting milvus, search is stuck. try to roll back the restart, cannot recover

we have 2 query node, Observation logs show that one query node is stuck in front of reduce。

Normal querynode log：
![image](https://user-images.githubusercontent.com/92595690/2035

[2022-11-23 10:41] XuanYang-cn commented on #20502
@yanliang567 Merged, please try again

[2022-11-23 10:44] soothing-rain commented on #20575
@MrPresent-Han can you also help with this? :)

/assign @MrPresent-Han

[2022-11-23 10:44] cydrain commented on #20766
/unassign
/assign @longjiquan

[2022-11-23 10:48] lvmnn commented on #20794
[milvus-log.tar.gz](https://github.com/milvus-io/milvus/files/10074742/milvus-log.tar.gz)

[2022-11-23 10:54] lvmnn commented on #20794
[bw_etcd_ALL.221123-185223.bak.gz](https://github.com/milvus-io/milvus/files/10074760/bw_etcd_ALL.221123-185223.bak.gz)

[2022-11-23 11:06] longjiquan commented on #20766
/unassign
/assign @cydrain

[2022-11-23 11:24] neiblegy commented on #20769
The resource we could supply is well enough, we have 400 cores + 5TB mem totally, and we need 100M vectors reach 2K QPS for query.
I change the loading timeout, but I have so slow loading speed

发件人: Xiaofan ***@***.***>
日期: 星期三, 2022年11月23日 11:45
收件人: milvus-io/milvus ***@***.***>
抄送: Ryan Gao ***@***.***>, Mention ***@***.***>
主题: Re: [milvus-io/milvus] [Bug]: collection has not been loaded to m

[2022-11-23 11:25] yanliang567 commented on #20792
@yovelcohen thanks for the issue. could you please upload all the log files?

[2022-11-23 11:26] yanliang567 commented on #20502
working on it

[2022-11-23 11:46] dzqoo opened #20795 "[Bug]: Search got stuck after I inserted 2 million into collection with 19 million vector."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I inserted 2 million data into milvus, my following search is got stuck. And I got following error from querycoor：
<img width="856" alt="62938a5a24857169f203c4b08b0e076" src="https://user-images.githubusercontent.com/8862305/203538046-f06d5e38-eb1c-47dd-9fa8-60f5

[2022-11-23 11:50] yanliang567 commented on #20795
/assign @congqixia

[2022-11-23 11:50] soothing-rain opened #20796 "[Bug]: Fix inaccurate `querynode_num` metric."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

<img width="451" alt="img_v2_9d30af36-269b-41e4-bc86-350805bad80g" src="https://user-images.githubusercontent.com/69466447/203539644-7251b347-b26c-487b-8746-733ce8c11145.png">

`querynode_num` metric seems unreasonably high when user only spun up 10 querynodes.

### E

[2022-11-23 12:06] neiblegy commented on #20769
Milvus seems do the retry loop with errors:
[2022/11/23 11:04:08.535 +00:00] [WARN] [storage/minio_chunk_manager.go:236] ["failed to stat object"] [path=stats_log/437543825052155869/437543825052155870/437543825058760097/100/437543825058760104] [error="The specified key does not exist."]
[2022/11/23 11:04:08.580 +00:00] [WARN] [storage/minio_chunk_manager.go:236] ["failed to stat object"] [path=sta

[2022-11-23 12:10] czs007 commented on #20766
Brute Force search is currently implemented in knowhere, and it is a good choice to handle this case in knowhere.
This case has been handled in segcore before. It's because this MEP(https://wiki.lfaidata.foundation/pages/viewpage.action?pageId=61964400) broke it again.

quick solution：
    You can roll back part of the previous code in segcore to solve this case.

  FYI @cydrain @liliu-z

[2022-11-23 12:12] yanliang567 commented on #20794
@lvmnn quick question, how long did you wait after milvus restart? I am asking because I want to make sure the collection completed reload after restart.

/assign @jiaoew1991

[2022-11-23 12:16] yanliang567 commented on #20790
/assign @jiaoew1991
/unassign

[2022-11-23 13:53] kingmbc commented on #19456
I had a similar issue. Could you give me more details on the below answer?
[code]

[2022-11-24 01:17] deer-code opened #20797 "[Bug]: Datanode crashes after manually calling flush"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

手动flush 导致datanode重启

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

[2022/11/20 05:00:42.500 +00:00] [INFO] [datanode/compaction_executor.go:94] ["end to execute compaction"] [planID=437497480244363266]
[2022/11/20 05:00:

[2022-11-24 01:41] yanliang567 commented on #20797
@deer-code Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?
Also could you please retry on Milvus 2.2.0, which was just released

/assign

[2022-11-24 01:45] yanliang567 commented on #19456
@kingmbc could you please file a new issue for your questions?

[2022-11-24 01:46] hukang6677 opened #20798 "[Bug]: fail to search or query on exisiting collection after upgrading from 2.1 to 2.2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

将milvus从2.1升级到2.2
从新加载之前的collection（vehicle_feature20220926），然后search/query 都失败。报超时异常
![image](https://user-images.githubusercontent.com/102129512/203675210-6db2055c-44f3-469a-81ce-4d5884737d4d.png)

### Expected Behavior

collection（vehicle_feature20220926）加载后能正常查询

[2022-11-24 01:52] yanliang567 commented on #20796
/assign @LoveEachDay
/unassign

[2022-11-24 01:57] yanliang567 commented on #20798
@hukang6677 did you run migrations before upgrading to 2.2.0? Please check the guide https://milvus.io/docs/v2.2.x/upgrade_milvus_cluster-helm.md for details if not. The other workaround is release the collection, drop the index, rebuild the index and reload the collection.

/assign @hukang6677

[2022-11-24 01:57] yanliang567 commented on #20792
/assign @yovelcohen

[2022-11-24 02:12] #19822 closed

[2022-11-24 02:12] #19805 closed

[2022-11-24 02:12] #19807 closed

[2022-11-24 02:12] #18995 closed

[2022-11-24 02:12] #19149 closed

[2022-11-24 02:14] jennyli-z opened #20801 "[Bug]: Docker for The meta migration image tag is wrong"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/93511422/203678959-58547e3c-0e29-4876-888a-9ad3aaf16bfc.png)

### Expected Behavior

should be
milvusdb/meta-migration:v2.2.0
 https://hub.docker.com/layers/milvusdb/meta-migration/v2.2.0/images/sha256-105827119413a14

[2022-11-24 02:21] hukang6677 commented on #20798
我对milvus集群做了下面的操作
对原2.1.1的milvus执行了helm uninstall my-release 操作，
然后重新安装了2.2.0（helm repo update  /  helm install my-release milvus/milvus）

[2022-11-24 02:22] hukang6677 commented on #20798
对原有 collection（vehicle_feature20220926）做了 rebuild the index and reload the collection.

[2022-11-24 02:26] NicoYuan1986 opened #20803 "[Bug]: [Nightly]Search failed with an unexpected error about DIAKANN"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search with DISKANN failed.
[code]

### Expected Behavior

PASS

### Steps To Reproduce

[code]

### Milvus Log

1. log: [artifacts-milvus-distributed-kafka-nightly-199-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/199/

[2022-11-24 02:54] yah01 commented on #20769
@neiblegy will this collection be finally loaded? The `NoSuckKey` error caused by compaction, v2.2.0 should be able to handle this, how long it takes to load after you changed the timeout?

[2022-11-24 02:55] Cheung7788 commented on #20769
@neiblegy

[2022-11-24 03:05] NicoYuan1986 opened #20805 "[Bug]: [Nightly]Create index timeout(1200s) with diskann"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Create index timeout(1200s) with diskann.
[code]

### Expected Behavior

pass

### Steps To Reproduce

https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/199/pipeline/187/

### Milvus Log

log: [artifacts-milvus-distributed-

[2022-11-24 03:08] MrPresent-Han commented on #20510
https://zilliverse.feishu.cn/docx/ABFYdIMnsoWLfNxFpARcQk2bnkc?from=from_copylink

[2022-11-24 03:10] yah01 commented on #20769
![image](https://user-images.githubusercontent.com/12216890/203685120-21c325ca-61ff-445b-b78c-b855ce777db4.png)
@neiblegy with [sizing tool](https://milvus.io/tools/sizing), it may be impossible to load 15 replicas with 1TB memory

[2022-11-24 03:21] soothing-rain commented on #20796
/unassign @LoveEachDay
/assign @yah01

[2022-11-24 03:26] neiblegy commented on #20769
No, it take so long time with loop retry log infomations, then I give up

发件人: yah01 ***@***.***>
日期: 星期四, 2022年11月24日 10:54
收件人: milvus-io/milvus ***@***.***>
抄送: Ryan Gao ***@***.***>, Mention ***@***.***>
主题: Re: [milvus-io/milvus] [Bug]: collection has not been loaded to memory or load failed while loading 50M-100M vectors (Issue #20769)

@neiblegy<https://github.com/neiblegy> will this collec

[2022-11-24 03:28] neiblegy commented on #20769
I have 5 machines, each physical machine have such resource: 80 cores + 1TB mem, so 5 machine have 400cores + 5TB mem
Each pod resource limit at 20 cores + 300GiB, I make 15 replicas with such resources

发件人: yah01 ***@***.***>
日期: 星期四, 2022年11月24日 11:10
收件人: milvus-io/milvus ***@***.***>
抄送: Ryan Gao ***@***.***>, Mention ***@***.***>
主题: Re: [milvus-io/milvus] [Bug]: collection has not been load

[2022-11-24 03:56] lvmnn commented on #20794
[milvus-log.tar.gz](https://github.com/milvus-io/milvus/files/10080703/milvus-log.tar.gz)
[bw_etcd_ALL.221124-115350.bak.gz](https://github.com/milvus-io/milvus/files/10080706/bw_etcd_ALL.221124-115350.bak.gz)

[2022-11-24 04:00] czs007 commented on #20588
Still investigating, but it's not currently my top priority.

The current main direction of investigation is to see if there is any difference in segment compaction during the two tests.
After all, the larger the segment size, the better the query performance.

[2022-11-24 04:02] yanliang567 commented on #20798
@hukang6677 did you drop the previous index? It seems that the collection failed to recognize the meta of index file.
[code]

[2022-11-24 05:21] hukang6677 commented on #20798
![image](https://user-images.githubusercontent.com/102129512/203700466-c13ff3d0-74a2-4668-875a-5d1d3b2dbca5.png)
![image](https://user-images.githubusercontent.com/102129512/203700495-7b50b760-8aa6-4636-bfd3-1cf6be269bd6.png)

[2022-11-24 05:50] czs007 commented on #20588
## Test1
[2022_11_12_test_recall_glove_hnsw_standalone_1.log](https://github.com/milvus-io/milvus/files/10018613/2022_11_12_test_recall_glove_hnsw_standalone_1.log)
### Milvus Server
After 01:19:47, the query is performed on 8 segments
[code]
After 02:03:53, the query is performed on 5 segments

[code]

The number of segments is reduced to 5 because of compaction:
segment(437335030685637324, 43733

[2022-11-24 05:51] yah01 commented on #20640
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-20806/1/pipeline/142

[2022-11-24 06:08] hukang6677 commented on #20798
重新创建索引会报 “Network Error”
![image](https://user-images.githubusercontent.com/102129512/203706842-4b93ac92-1b6b-42c2-9808-427778d9c87a.png)

[2022-11-24 07:15] MrPresent-Han commented on #20575
Ok, I will handle this

[2022-11-24 07:23] soothing-rain commented on #20575
related e2e failure on Nov 23rd:

https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-20776/9

[2022-11-24 07:39] ThreadDao commented on #20777
![image](https://user-images.githubusercontent.com/27288593/203721109-f1df4272-9412-47ac-a1f7-9b06591b1eeb.png)

Sorry to bother you again. Go SDK 2.2.0 no longer supports RNSG index, supports DISKANN index

[2022-11-24 07:42] ThreadDao commented on #19121
@czs007 assign you again

[2022-11-24 07:49] #20682 closed

[2022-11-24 07:49] #20706 closed

[2022-11-24 07:53] SunYusheng opened #20811 "[Bug]: inserted data disappeared after searching successfully for a new mins"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

when I insert some entities. everything is OK. and can do search operation. but just a few minutes later, all the entities dispeared. the entities count is zero.  collection schema info can still be readed. but the collection is totally empty !

### Expected Behavior

[2022-11-24 08:00] SimFG opened #20812 "[Bug]: fail to compile the project"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

In the `master` branch, fail to make the project after executing the `install_deps.sh` script

![image](https://user-images.githubusercontent.com/21985684/203725912-e169f45d-e50d-4c1a-9ae0-6c0776728e7e.png)

### Expected Behavior

_No response_

### Steps To Reproduce

[2022-11-24 08:01] SimFG commented on #20812
/assign @jiaoew1991

[2022-11-24 08:01] twocucao commented on #20769
I also encountered this after upgrade to 2.2.0

use this snippet before using collection (for example, after reloading my webapp , i execute this)

[code]

@neiblegy hope it helps

[2022-11-24 08:02] weiliu1031 commented on #20723
1. query coord side meet a minute-level timestamp lag, and when search/query task submit, it need to wait, until timestamp is serviceable.
2. for now, we found that the consumed timestamp on data node is already delayed.
![image](https://user-images.githubusercontent.com/108661493/203726146-6dcfac87-9934-44fc-9c92-edf07f47a41d.png)

and for the next,I will check for the timestamp delay reason.

[2022-11-24 08:08] XuanYang-cn commented on #16536
fixed at pymilvus==2.2.0, Feel free to reopen this if anything similar occurs again

[2022-11-24 08:08] #16536 closed

[2022-11-24 08:26] MrPresent-Han commented on #20510
This is an error incurred by improper removal of segments triggered by leader observer on querycoord, in which the next target of collection is not considered. This defect has been settled down by commit eaa5cfdcb5e9461d779d21b13d20e21389e26d2 on master branch. I add some log to trace load and remove action on querycoord for better debug process

[2022-11-24 08:35] ruixiu commented on #18976
有搞定吗？我也遇到这个问题了，一直都不行

[2022-11-24 09:25] weiliu1031 commented on #20723
for now, we found that root coord send tt to kafka which has a higher latency than expected(200ms).
![image](https://user-images.githubusercontent.com/108661493/203744339-aad78b86-6a09-4226-8782-1b137c07fff4.png)

[2022-11-24 09:31] ruixiu commented on #18976
刚刚搞定了：开启cluster模式，竟然需要把standalone.messageQueue设置为pulsar

[2022-11-24 10:04] SimFG commented on #20812
1. `cat ~/.conan/profiles/default`
![image](https://user-images.githubusercontent.com/21985684/203755415-19bec4d7-0c7b-4315-8433-22279c0f50a8.png)
[code]
2. `go env`
![image](https://user-images.githubusercontent.com/21985684/203755811-dd47165e-9bc2-4783-a0c0-b03b8762babf.png)

[2022-11-24 10:10] xiaofan-luan commented on #20607
can we close this issue for now?

[2022-11-24 10:11] xiaofan-luan commented on #20575
@MrPresent-Han
Any progress on it?

[2022-11-24 10:12] xiaofan-luan commented on #20543
/assign @binbinlv

[2022-11-24 10:16] xiaofan-luan commented on #20440
@czs007 any luck on this one?

[2022-11-24 10:22] xiaofan-luan commented on #19818
hi @yovelcohen , this might not be a issue in 2.2.0 because the in the new release we entirely refactor the querycoord.
If you could I would suggest to upgrade to 2.2 directly

[2022-11-24 10:24] xiaofan-luan commented on #19818
If the cluster still stucked for some reason, try to release the collection (if failed to force release with bird watcher) might help.

[2022-11-24 10:25] xiaofan-luan commented on #20415
/assign @haorenfsa
would you like to fix it?

[2022-11-24 10:26] xiaofan-luan commented on #20356
keep it open, will close if no response later

[2022-11-24 10:26] yovelcohen commented on #19818
Thanks for the response @xiaofan-luan , appreciate it.
we plan to upgrade to 2.2 but right now the migration from 2.1.2 did not work for us at all.

[2022-11-24 10:27] xiaofan-luan commented on #20340
close because of not active

[2022-11-24 10:27] #20340 closed

[2022-11-24 10:28] xiaofan-luan commented on #20363
@jaime0815 is this still a issue?

[2022-11-24 10:29] xiaofan-luan commented on #20259
@longjiquan so it's a won't fix?

[2022-11-24 10:29] xiaofan-luan commented on #20259
/assign @zhuwenxing

[2022-11-24 10:30] xiaofan-luan commented on #20259
if we could offer some more performance for index build speed of orignal HNSW that would be super helpful

[2022-11-24 10:44] yah01 opened #20815 "[Bug]: IndexNode panics if failed to create index"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[2022/11/24 18:26:41.593 +08:00] [WARN] [indexcgowrapper/helper.go:76] ["failed to create index, C Runtime Exception: [UnexpectedError] Error in knowhere::VecIndexPtr knowhere::VecIndexFactory::CreateVecIndex(const IndexType&, knowhere::IndexMode) at VecIndexFactory.c

[2022-11-24 10:44] yah01 commented on #20815
/assign

[2022-11-24 10:52] weiliu1031 commented on #20723
Conclusion:
the speed which data node consume from kafka is much more slower than query node. so data node will send older delete message to query node, and which cause query node delta channel's `tsafe` is minute-level behind dml channel. so when task submitted, it will wait for timestamp serviceable until timeout(60s)

root cause: kafka's read and write performance seems unstable

[2022-11-24 10:58] yanliang567 commented on #20811
@SunYusheng Could you please refer this [script](https://github.com/milvus-io/milvus/tree/master/deployments/export-log) to export the whole Milvus logs for investigation?

/assign

[2022-11-24 11:00] MrPresent-Han commented on #20575
trying to reproduce it locally

[2022-11-24 11:00] wayblink commented on #20343
/assign @zhuwenxing

[2022-11-24 11:05] yanliang567 commented on #20798
please try with this order:
1. release the collection
2. drop the index
3. build the index
4. load the collection

[2022-11-24 11:28] yah01 opened #20818 "[Bug]: After creating index, total indexed rows may be 0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-20816/1/pipeline

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-11-24 11:28] yah01 commented on #20818
/assign @xiaocai2333

[2022-11-24 11:31] SunYusheng commented on #20811
[standalone.zip](https://github.com/milvus-io/milvus/files/10084042/standalone.zip)
[etcd.zip](https://github.com/milvus-io/milvus/files/10084060/etcd.zip)
zipped logs

[2022-11-24 11:32] congqixia commented on #20795
Found one channel did not return search error:
`channel=by-verify-rootcoord-dml_24_437541159718619631v0`

[2022-11-24 11:44] jiaoew1991 opened #20819 "[Bug]: Compile proto files failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

`make generated-proto-go` failed

### Expected Behavior

compile correctly

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-11-24 11:47] soothing-rain commented on #18120
/unassign @wayblink

[2022-11-24 11:48] Cheung7788 commented on #20794
Use birdwatcher cmd " repair-channel --collection [collection_id] --run " fix this issue.
birdwatcher github link: https://github.com/milvus-io/birdwatcher/blob/main/README.md

[2022-11-24 11:57] soothing-rain commented on #18120
This turns out to be some we have to do.

My plan is to do this in two phases:

1) (P0) Not removing `NumOfRows` meta. But make sure DataCoord always store correct # of rows, and always pass correct segment # of rows to QueryCoord and IndexCoord. To do this, we re-calculate segments' # of rows before saving segmentInfo to Etcd & passing segmentInfo to other services.
2) (P2) Completely deprecate `

[2022-11-24 12:23] xiaofan-luan commented on #17107
@wangting0128 did we see the case concurrent insert causing entity count not match?

[2022-11-24 12:23] xiaofan-luan commented on #19675
@MrPresent-Han any progress on it?

[2022-11-24 12:24] #17809 closed

[2022-11-24 12:26] #18508 closed

[2022-11-24 12:26] #18523 closed

[2022-11-24 12:30] xiaofan-luan commented on #18605
should be done in 2.2 already.
We support collection level search/query/mutation latency

[2022-11-24 12:30] #18605 closed

[2022-11-24 12:30] xiaofan-luan commented on #18605
see #19686

[2022-11-24 12:38] #19829 closed

[2022-11-24 12:38] #18608 closed

[2022-11-24 12:38] #19655 closed

[2022-11-24 12:38] #19719 closed

[2022-11-24 12:38] #19761 closed

[2022-11-24 12:38] #19762 closed

[2022-11-24 12:59] S-Dragon0302 opened #20821 "[Bug]: indexnode ERROR with SIGILL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

2022-11-24 12:55:18,974 | INFO | default | [SEGCORE][N6milvus7storage17MinioChunkManagerE::MinioChunkManager][milvus] init MinioChunkManager with parameter[endpoint: '10.100.7.30:9000', access_key:'milvusminioadmin', access_value:'milvusminioadminpaswd', default_bucke

[2022-11-24 13:03] xiaofan-luan opened #20822 "[Bug]: Change default rpc limit to 64M"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Milvus didn't limit the receive RPC size, which can easily cause system OOM.

### Expected Behavior

Limit the rpc memory to 64M

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-11-24 13:05] #20272 closed

[2022-11-24 16:29] geroz opened #20823 "[Bug]: Upgrading to 2.2.0 breaks S3 access"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

We've been running milvus backed by S3. When we try to upgrade to 2.2.0, we get this error:

`{"level":"WARN","time":"2022/11/23 18:36:12.842 +00:00","caller":"storage/minio_chunk_manager.go:103","message":"failed to check blob bucket exist","bucket":"milvus-dev","err

[2022-11-24 22:06] yovelcohen commented on #16451
I've encountered it as well

[2022-11-25 01:22] hukang6677 commented on #20798
yes, I did it in that order

[2022-11-25 01:47] jiaoew1991 commented on #20819
In #19920 use Conan to manage dependency, so we do not download Protobuf source code anymore. but the original code needs the file ”google/protobuf/descriptor.proto" to compile proto files.
I think maintaining the descriptor.proto in milvus-proto's repo is better, we can compile the proto files in milvus-proto without any external dependencies.

[2022-11-25 02:14] haorenfsa commented on #20415
Fix in #20468, need review

[2022-11-25 02:42] XuanYang-cn commented on #20502
The search seemed to be a success with very low latency, actually, There's no search in QueryNode.
![image](https://user-images.githubusercontent.com/51370125/203889311-b4eded66-230b-4597-aa83-6dccd13db655.png)

![image](https://user-images.githubusercontent.com/51370125/203889216-4feaf48b-9b47-4445-99ae-e7e6b180531c.png)

Proxy thinks this collection is loaded, and QueryNode returns empty results

[2022-11-25 02:45] #20815 closed

[2022-11-25 02:50] yah01 commented on #20815
Adding nil-check at line 377 fixes this

[2022-11-25 03:15] xiaocai2333 commented on #20818
1. When the state of a segment is `flushing`, the flush operation is considered done.
2. But the interface `GetFlushedSegments` return flushed segments.
3. In this case, the segments state are `flushing`, so IndexCoord get flushed segments is empty.
4. So the `total_rows` is 0.

[2022-11-25 03:16] lvmnn commented on #20794
thx,Already solved

[2022-11-25 03:16] #20794 closed

[2022-11-25 03:59] XuanYang-cn commented on #20502
![image](https://user-images.githubusercontent.com/51370125/203898647-c7ca0f4a-0db2-46f6-a6e7-968542e7de33.png)

[2022-11-25 05:11] xiaofan-luan commented on #20823
seems to be a access issue, @LoveEachDay any idea on this?

[2022-11-25 05:12] xiaofan-luan commented on #20803
/assign @liliu-z
seems to be a aio issue

[2022-11-25 05:22] xiaofan-luan commented on #20821
Hi @S-Dragon0302
what is your hardware situation?
I find from other issue if your machine is old, then  you might need to enable CGO_CFLAGS="-D__BLST_PORTABLE__".
see https://github.com/filecoin-project/lotus/discussions/3917
Simd instruction might be another concern.

[2022-11-25 05:47] liliu-z commented on #20803
/assign @hhy3

[2022-11-25 06:29] #20793 closed

[2022-11-25 06:32] XuanYang-cn opened #20833 "[Enhancement]: Add ut for metastore rootcoord catalog to 90%"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

[code]

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-11-25 06:35] XuanYang-cn commented on #19289
Ready to close

[2022-11-25 06:35] #19289 closed

[2022-11-25 06:59] sunby commented on #20575
It is hard to reproduce. We can add some logs to trace the bug.

[2022-11-25 07:17] haorenfsa commented on #20415
/reopen

not solved in node sdk & attu

[2022-11-25 08:04] longjiquan opened #20835 "[Bug]: term filtering will be failed on indexed scalar field"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://github.com/milvus-io/milvus/blob/45205da8f184f908f9cbf222f8ee3e0edb26cf72/internal/core/src/query/visitors/ExecExprVisitor.cpp#L754-L816

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything e

[2022-11-25 08:05] longjiquan commented on #20835
This is the root cause of https://github.com/milvus-io/milvus/issues/20534

[2022-11-25 08:51] bigsheeper commented on #20656
no, it has been fixed

[2022-11-25 08:51] #20656 closed

[2022-11-25 08:53] xiaocai2333 opened #20839 "[Bug]: search test about pagination fail"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

fail job: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-20834/1/pipeline/

the results of search with params(`{"metric_type": "JACCARD", "params": {"nprobe": 10}, "offset": 10}, topk=10`)  are not equal the results of search wit

[2022-11-25 08:54] cydrain commented on #20766
With above fix, Milvus will report err when data type and metric type mis-match
![Screenshot from 2022-11-25 16-51-58](https://user-images.githubusercontent.com/3992404/203940371-468b44f9-8255-4bab-ae59-6294468a5d30.png)

[2022-11-25 08:56] xiaocai2333 commented on #20839
/assign @XuanYang-cn
/assign
/unassign @yanliang567

[2022-11-25 08:57] XuanYang-cn commented on #20839
dup to  #20767 and #20789
/unassign
/assign @xiaocai2333

[2022-11-25 09:06] xiaocai2333 commented on #20839
same as #20767
/close

[2022-11-25 09:06] #20839 closed

[2022-11-25 09:09] soothing-rain commented on #16451
I could see empty sealed segments in your case, this is a known issue in 2.1.4 but we haven't yet figured out where they came from.

[code]

One option is to use our birdwatcher tool (https://github.com/milvus-io/birdwatcher) to manually delete these bad segments:
![img_v2_7da2b620-d29d-4422-94be-6906f2dd5e0g](https://user-images.githubusercontent.com/69466447/203942856-cfb9c102-c7d5-4e3c-a523-558

[2022-11-25 09:18] hhy3 commented on #20803
It seems to be a bug or something in libaio and non-reproducible. This will be fixed later and libaio will later be replaced with iouring.

[2022-11-25 10:02] jiaoew1991 commented on #20790
/assign @XuanYang-cn
/unassign

[2022-11-25 10:02] jiaoew1991 commented on #20761
/assign @weiliu1031
/unassign

[2022-11-25 10:03] jiaoew1991 commented on #20745
/assign @congqixia
/unassign

[2022-11-25 10:04] jiaoew1991 commented on #19818
/assign @yah01

[2022-11-25 10:06] XuanYang-cn commented on #19500
#19985

[2022-11-25 10:08] jiaoew1991 commented on #19087
the root cause is quite like https://github.com/milvus-io/milvus/issues/20723, we can hold it until QueryNodeV2 is finished, it will remove DeltaChannel

[2022-11-25 10:09] jiaoew1991 commented on #19500
/unassign

[2022-11-25 11:20] yovelcohen commented on #16451
@soothing-rain does the clean-empty-segment command suppose to output something?

I ran that command, I also ran release-dropped-collection. now when I run a load collection command from pymilvus, it hangs. usually when the load hangs I used to see errors in query nodes.
Now I see this log in the query coord:
[code]
But I don't see a finish msg ever or any errors, also not in the nodes themselves.

[2022-11-25 11:27] XuanYang-cn opened #20841 "[Bug]: Search return empty results while querynode recovering"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/51370125/203959693-ebf83394-926f-40bd-840c-92ef0e19f91f.png)

### Expected Behavior

1. milvus master cluster 1 QN, 1 DN (`milvus run querynode &> querynode.log &`)
2. prepare a collection with 20 sealed segments, dim

[2022-11-25 14:06] #19699 closed

[2022-11-25 14:06] #19557 closed

[2022-11-25 14:06] #19315 closed

[2022-11-25 14:06] #19808 closed

[2022-11-25 14:35] janej2013 opened #20842 "[Bug]: collection ttl only happened after compact"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

using pymilvus==2.2.0
1. create collection with `properties={"collection.ttl.seconds": 60}`.
2. insert 100 vectors.
3. wait for 10mins, the 100 vectors still can be searched, and collection num_entites = 100.
4. insert 500,000 vectors.
5. grafana dashboard "Compaction

[2022-11-26 00:48] ruixiu commented on #20768
基本确定是我们用的存储有问题。用的虚拟存储池因为负责调度的内存资源不足导致etcd写的慢

[2022-11-26 00:48] #20768 closed

[2022-11-26 01:22] yanliang567 commented on #20842
@janej2013 yes, this is by design.
@xiaofan-luan any plans to create a doc to introduce the details about compaction and collection ttl?

/assign @janej2013  @xiaocai2333

[2022-11-26 01:23] yanliang567 commented on #20823
/assign @LoveEachDay

[2022-11-26 01:24] yanliang567 commented on #20822
/assign @xiaofan-luan
/unassign

[2022-11-26 04:36] xiaofan-luan commented on #20842
Yes Currently, ttl only happens on compaction.
There are two things to figure out:
1. should we have some guarantee? If certain percentage of the entity is expired, should we trigger a compaction automatically?
2. Do we want to filter out all the expired entities?
@janej2013 if you can share your scenario maybe we can do a bit more on TTL design

[2022-11-26 04:36] xiaofan-luan commented on #20842
/assign @janej2013

[2022-11-26 04:36] xiaofan-luan commented on #20842
/assign @jaime0815

[2022-11-26 08:46] #19896 closed

[2022-11-26 16:51] #19931 closed

[2022-11-26 16:51] #19940 closed

[2022-11-27 09:19] #19942 closed

[2022-11-27 09:21] #19610 closed

[2022-11-27 13:55] xiaofan-luan commented on #20795
/assign @longjiquan  pls take a look on it, thanks

[2022-11-27 13:57] xiaofan-luan commented on #20798
@hukang6677 is this an issue?
Looks like you are building index with one metric and search in another metrics.
could you offer your current test code?

[2022-11-27 14:00] xiaofan-luan commented on #20766
if user use binary vector metrics does that serve as expected?

[2022-11-27 14:02] xiaofan-luan commented on #20766
2. in current milvus 2.2, this is not gonna to happen, because load can not happen before index creation, could you double check that's the case? @cydrain

[2022-11-27 19:03] yovelcohen commented on #20792
also seeing a lot of:
cannot find segment 437643111909031938 in all flowgraphs now

[2022-11-28 01:01] yanliang567 commented on #19931
@shanghaikid is it still a problem for you?

[2022-11-28 01:26] yanliang567 commented on #20792
@yovelcohen a few quick questions:
1. If you don't have a release name, how did you install milvus, could you please share more details?
2. calc_distance is an independent function that you can copy it out of the pymilvus, that's not a problem.
3. Try to release the collection, drop the index, rebuild the index and reload the collection if you can not search after upgrading from 2.1.x to 2.2.0.
4.

[2022-11-28 01:42] shanghaikid commented on #19931
For now, I don't think so.

[2022-11-28 02:04] yanliang567 commented on #20259
I think the root cause is more about compaction: after upsert 20% data, many segments will be compacted

[2022-11-28 02:06] LoveEachDay commented on #20823
@geroz Could you provide the `minio` config section in the `configs/milvus.yaml`？ Do remove the `accessKeyID` and `secretAccessKey` config options.

[2022-11-28 02:08] congqixia commented on #20745
@elstic could you please provide the server information for this benchmark?
/assign @elstic

[2022-11-28 02:08] #20607 closed

[2022-11-28 02:20] #20819 closed

[2022-11-28 02:26] XuanYang-cn commented on #20841
See also #20502

[2022-11-28 02:27] zhuwenxing opened #20846 "[Bug]: Datanode panic after running some test cases when mq is Kafka"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Milvus Log

release name: kafka-standalone-reinstall-21

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_kafka_cron/detail/deploy_test_kaf

[2022-11-28 02:34] NicoYuan1986 opened #20848 "[Bug]: [Nightly]Load collection failed because there is no enough nodes to create replicas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Load collection failed because there is no enough nodes to create replicas.
[code]

### Expected Behavior

PASS

### Steps To Reproduce

https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/203/pipeline/187

### Milvus Log

1.

[2022-11-28 02:38] NicoYuan1986 commented on #20247
Latest: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/203/pipeline/187

milvus: f588a73
pymilvus: 2.3.0.dev15

1. log: [artifacts-milvus-distributed-pulsar-nightly-203-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/203/artifact/artifacts-milvus-distributed-pulsar-nightly-203-pymilvus-e2e-logs.tar.gz)
2

[2022-11-28 02:38] xiaocai2333 commented on #20786
[code]

It tasks more than 300s to build `DISKANN` for 1503 rows of data, It seems 600s is not enough for DISKANN index.
But on my local machine this takes about 1 minute.
[code]

May be we need to move `DISKANN` test cases to nightly, and give more resources.

[2022-11-28 02:40] wangting0128 commented on #17107
The stability of multi-threaded insertion is verified, but the number of data items after the insertion is not verified

[2022-11-28 02:40] zhuwenxing opened #20849 "[Bug]: Collection load failed after upgrading from 2.1.4 to master"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_cron/detail/deploy_test_cron/27/pipeline
log:
[artifacts-pulsar-standalone-upgr

[2022-11-28 02:45] XuanYang-cn commented on #17107
DataNode and DC changed a lot after this PR.

Let me try on 2.2 and master to check if reproducing.

[2022-11-28 02:46] NicoYuan1986 opened #20850 "[Bug]: [Nightly]Kafka runs much slowly than ever and will be killed over 6 hours"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Kafka runs much slowly than ever and will be killed over 6 hours.
[code]

### Expected Behavior

normal running

### Steps To Reproduce

https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/203/pipeline/136

### Milvus Log

[a

[2022-11-28 02:51] NicoYuan1986 commented on #20848
The error also occurs many times in 2.2 branch.
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/2.2.0/15/pipeline/155

[2022-11-28 03:10] zhuwenxing opened #20852 "[Bug]: Milvus server get stuck when running test cases after reinstallation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/12268675/204182190-03f11e2e-eedc-4abc-805c-7f3259bee7d4.png)

There is a significant time gap between the two test cases.

![image](https://user-images.githubusercontent.com/12268675/204182295-a7c6d483-fbff-4aa9-b7de-

[2022-11-28 03:15] yah01 commented on #20796
The QueryNode will be removed after balance done, but this task may hang for a very long time (known issue of v2.1). Fixed within v2.2.

[2022-11-28 03:15] jingkl opened #20853 "[Bug]: [benchmark][diskann]Milvus creates diskann indexes too slowly with 100w data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

deploy_config
fouramf-server-standalone-12c16m
case_params
fouramf-go-bench-diskann-pp
other_params
test_concurrent_locust_custom_parameters

server:

[code]

client log:

[code]

### Expected Behavior
fouramf-go-bench-diskann-pp:

[code]

### Steps To Reproduce

_No

[2022-11-28 03:22] yanliang567 commented on #20853
@jingkl  how long are we talking about here for "too slowly"?

[2022-11-28 03:24] yanliang567 commented on #20852
/assign @jiaoew1991
/unassign

[2022-11-28 03:26] yah01 commented on #19818
Hi @yovelcohen
If you are planning to upgrade, could tell what the problem is while migration?
or stay in v2.1, you could use [birdwatcher](https://github.com/milvus-io/birdwatcher) to force release the collection, this could help. Please make sure to follow these steps:
- Stop milvus, but keep at least etcd alive
- Run birdwatcher to connect to the etcd
- Run force-release command
- Restart milvu

[2022-11-28 03:27] XuanYang-cn commented on #17107
**Not reproducing in master**:
[code]

[2022-11-28 03:32] XuanYang-cn commented on #17107
**Not reproducing in 2.2.0 either**

[2022-11-28 03:52] XuanYang-cn commented on #17107
Cannot reproduce, closing now

[2022-11-28 03:52] #17107 closed

[2022-11-28 03:56] congqixia commented on #18946
/reopen

[2022-11-28 03:56] congqixia commented on #18946
/assign

[2022-11-28 03:57] congqixia commented on #20692
/assign

[2022-11-28 04:31] ysn2233 opened #20855 "[Bug]: Calling collection.load() hits service hang"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I called collection.load() then the milvus query service hang.  None operation can be made to this cluster. I check querycoord's log and put it below

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

[2022/11/28 04:11:00.457

[2022-11-28 06:12] xiaofan-luan opened #20856 "[Bug]: TestDeleteOperation not stable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

UT failed on master

<img width="931" alt="image" src="https://user-images.githubusercontent.com/83447078/204206332-f4c09730-4f99-4540-9e9e-ecdbe65d490b.png">

https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-20845/2/pipeline

###

[2022-11-28 06:12] #20796 closed

[2022-11-28 06:18] S-Dragon0302 commented on #20821
2022/11/28 06:15:42 maxprocs: Updating GOMAXPROCS=8: determined from CPU quota

    __  _________ _   ____  ______
   /  |/  /  _/ /| | / / / / / __/
  / /|_/ // // /_| |/ / /_/ /\ \
 /_/  /_/___/____/___/\____/___/

Welcome to use Milvus!
Version:   v2.2.0
Built:     Fri Nov 18 13:26:40 UTC 2022
GitCommit: e7429f88
GoVersion: go version go1.18.3 linux/amd64

open pid file: /run/milvus/indexnode.p

[2022-11-28 06:21] S-Dragon0302 commented on #20821
Deployment 2.1 is normal.
Deployment 2.2 is abnormal.

[2022-11-28 06:21] congqixia commented on #20856
See also #20575

[2022-11-28 06:22] S-Dragon0302 commented on #20821
the same batch of machines

[2022-11-28 06:23] cydrain commented on #20766
have tried 2 scenarioes:
1. create collection with field data type BINARY_VECTOR
    insert data with correct data type
    search with metric type "L2"
2. create collection with field data type FLOAT_VECTOR
    insert data with correct data type
    search with metric type "JACCARD"
in both scenarioes, search will get wrong result

With this fix, search will report error "Data type and metric typ

[2022-11-28 06:27] yah01 opened #20857 "[Bug]: [E2E] Check PKs of ANNS results for binary vectors fails due to the distances may be the same"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-20828/7/pipeline/
It's possible the distances to query vector of two binary vectors are the same, in results, the order of them is not determined, which causes the e2e test failure

[2022-11-28 06:27] cydrain commented on #20766
in milvus 2.2 and master branch, this issue can be reproduced with following steps:
1. create collection with field data type BINARY_VECTOR
2. insert data with correct data type
3. create index with correct metric type and index type
4. search with metric type "L2"

[2022-11-28 06:27] yah01 commented on #20857
/assign

[2022-11-28 06:35] xiaofan-luan commented on #20855
@ysn2233 could your offer details logs for the whole cluster?

Before check the log, you need to check if your have enough memory and the querycoord is working as expect. Load fail is usually caused by lack of memory

This is how you can get your log:

https://github.com/milvus-io/milvus/tree/dd7e309a295941647c4fa2c9e2a602f29b22388a/deployments/export-log

[2022-11-28 06:38] #20812 closed

[2022-11-28 06:51] jaime0815 commented on #20846
Kafka message may has not header information, so https://github.com/milvus-io/milvus/blob/dd7e309a295941647c4fa2c9e2a602f29b22388a/internal/mq/msgstream/mqwrapper/kafka/kafka_message.go#L26 potentially occurs panic because nil value

[2022-11-28 06:57] MrPresent-Han commented on #20575
One weird thing is that query_node checks all segments on one node, rather than the segments belonging to single shard, which is unnecessary from my perspective, as deleteIDs have been diverted according to hash result

![20221128-145358](https://user-images.githubusercontent.com/116052805/204213004-af5faf1e-779c-4fea-9946-2fa3a6361dcc.jpeg)

as shown in the image above, there is only two segments

[2022-11-28 07:37] congqixia commented on #20575
@MrPresent-Han actually I think that's some thing important. One delete message shall only apply in one shard. Even we check all the segment in the collection, the target segment's Bloom Filter shall match all delete id. However we found some entries is applied to the another segment.

[2022-11-28 07:45] MrPresent-Han commented on #20575
Because bloomFilter could only detect those 'definitely non-existed' items, Although some delete entries are applied to unrelated

[2022-11-28 07:48] ysn2233 commented on #20855
It is due to oom errors in querynodes, but I dont understand why the whole service is stucked. I restarted querycoord pod and then the service don't hang but oom errors still reported in querynodes.  I released all collections but the memory of pods didn't significantly decrease. It seems that memory in querynode have not been released. Maybe I should restarted all querynodes.

[2022-11-28 07:49] yanliang567 commented on #20850
/assign @jaime0815
/unassign

[2022-11-28 07:50] yanliang567 commented on #20849
/assign @soothing-rain
/unassign

[2022-11-28 07:51] ysn2233 commented on #20855
[2022/11/28 07:17:10.960 +00:00] [ERROR] [querynode/segment_loader.go:127] ["load failed, OOM if loaded"] [collectionID=437544712534425849] [segmentType=Sealed] ["loadSegmentRequest msgID"=246] [error="load segment failed, OOM if load, collectionID = 437544712534425849, maxSegmentSize = 401 MB, concurrency = 1, usedMemAfterLoad = 5764 MB, totalMem = 4096 MB, thresholdFactor = 0.900000"] [stack="gi

[2022-11-28 07:52] yanliang567 commented on #20848
@NicoYuan1986 how many replicas did you set in the testcase, and how many querynode did you configure in the deployment?

[2022-11-28 07:53] yanliang567 commented on #20818
/unassign

[2022-11-28 07:57] jingkl commented on #20853
Build index 100w data over 4 days without completion

[2022-11-28 07:58] ysn2233 commented on #20855
And indexnode reported this error, All collections actually hava an index but it says "there is no index on collection"

[2022/11/28 07:44:15.193 +00:00] [ERROR] [indexcoord/index_coord.go:506] ["IndexCoord get index state fail"] [collectionID=437591930874163549] [indexName=_default_idx] ["fail reason"="there is no index on collection: 437591930874163549 with the index name: _default_idx"] [stack=

[2022-11-28 07:59] JiehangXie commented on #20823
same to me, this is the milvus.yaml file and docker-compose file

milvus.yaml
`
minio:
  address: localhost
  port: 9000
  accessKeyID: pUFn4Hfcxxxxx
  secretAccessKey: qkNSvgYvD3Swb3BGEXvwimMOci11xxx
  useSSL: false
  bucketName: "milvus"
  rootPath: files
  useIAM: false
  cloudProvider: "aws"
  iamEndpoint: ""

`

docker-compose file
`
  standalone:
    container_name: milvus-standalone
    ima

[2022-11-28 08:05] NicoYuan1986 commented on #20848
querynode: 2
replicas:
proxy.replicas=2
queryNode.replicas=2
indexNode.replicas=2
dataNode.replicas=2

[2022-11-28 08:40] weiliu1031 commented on #20761
Background:  there is a collection sift_100m_128_l2, which will be automatically loaded when query coord restart。

Problems: after query coord restarts, it saw three query nodes here: A, B, C. and A for replica_1, B, C for replica_2. then when load segments in  sift_100m_128_l2. query node A down and no query node available in replica_1, so loading will never success.

need fix:
1. let this auto l

[2022-11-28 09:10] wayblink opened #20864 "[Bug]: Exclusive consumer is already connected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

lixiang POC:
datanode get `Exclusive consumer is already connected` and panic periodically

[2022/11/28 05:44:54.196 +00:00] [INFO] [datanode/channel_meta.go:289] ["begin to init pk bloom filter"] [segmentID=437614339352247087] ["stats bin logs"=1]
time="2022-11-28T05

[2022-11-28 09:34] yah01 commented on #20575
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-20861/3/pipeline

[2022-11-28 09:52] jaime0815 commented on #20627
this corner case will produce 5000-10000 collections when running 10-12h, it will rarely occur in a production scenario.  We will use the reuse msgstream strategy to resolve this issue in the future.

[2022-11-28 10:02] yah01 opened #20865 "[Bug]: Search with invalid params doesn't report proper error message, for DiskANN"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20HA%20CI/detail/PR-20861/2/pipeline/

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-11-28 10:02] yah01 commented on #20865
/assign @xige-16
/unassign @yanliang567

[2022-11-28 10:05] weiliu1031 commented on #20761
more discuss:
1. we should ensure collection loaded before restart, should also be loaded after collection, so recover collection progress should not timeout.
2. for this case, we should prevent query node down and never came back. then with enough resource, all collection should be loaded successfully

[2022-11-28 10:26] JohannesMessner opened #20867 "[Bug]: Loading progress shows error instead of 0% for not loaded partitions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When a collection is not loaded, calling `loading_progress()` on it raises
[code]
instead of returning 0%.

This seems to be a regression, I found this older bug report here: https://github.com/milvus-io/milvus/issues/18033, although I am not using multiple replicas.

[2022-11-28 10:27] LoveEachDay commented on #20823
@JiehangXie The `MINIO_ADDRESS` env is missing in the `standalone` section of the `docker-compose.yml` .
[code]

[2022-11-28 10:32] weiliu1031 commented on #20848
seems that diskANN cause query node panic
![image](https://user-images.githubusercontent.com/108661493/204255876-abe6ac6f-7a9e-403c-8a53-832097cd0302.png)

[2022-11-28 10:50] weiliu1031 commented on #20855
we need the whole service log for investigation, please export the milvus logs with  https://github.com/milvus-io/milvus/tree/dd7e309a295941647c4fa2c9e2a602f29b22388a/deployments/export-log

/assign @ysn2233

[2022-11-28 10:51] weiliu1031 commented on #20855
/assign @ysn2233

[2022-11-28 10:51] weiliu1031 commented on #20855
/assign @ysn2233

[2022-11-28 10:53] yanliang567 commented on #20848
/assign @weiliu1031
/unassign

[2022-11-28 10:54] yanliang567 commented on #20853
/assign @xiaocai2333
/unassign

[2022-11-28 11:00] weiliu1031 commented on #20849
![image](https://user-images.githubusercontent.com/108661493/204261544-59361fc0-d011-40f4-aa48-0e7c92ad492d.png)
collection has been release due to no index during upgrade. please check test case

[2022-11-28 11:00] weiliu1031 commented on #20849
/assign @zhuwenxing

[2022-11-28 11:04] xiaocai2333 commented on #20853
/assign @xige-16

[2022-11-28 11:08] xiaofan-luan commented on #20853
1. Does the index build gonna to finish anyway?
2. We need detailed measurement about how long does

[2022-11-28 11:17] eliassama opened #20868 "[Bug]: milvus cluster cannot use tsl connec etcd custer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

when i changed both etcd and pulsar to cluster mode, and etcd was connected using ssl, all the milvus services only showed what was on the image
![image](https://user-images.githubusercontent.com/79587688/204263561-13e38dc6-b4bd-446b-9fe3-c40f9b229ba6.png)
![image](ht

[2022-11-28 11:19] jiaoew1991 commented on #20868
/assign
/unassign @yanliang567

[2022-11-28 11:23] yanliang567 commented on #20867
/assign @XuanYang-cn
/unassign

[2022-11-28 11:23] ysn2233 commented on #20855
Sorry we have already manually restarted the pods and the scripts cant export those logs.

[2022-11-28 11:24] yanliang567 commented on #20864
/assign @wayblink
/unassign

[2022-11-28 11:50] aoiasd commented on #20075
Test on my Mac(4 Core), row count 1024*1024, data size 512MB
Search with nprobe 512, nlist 1024, nq=10000:
At 2.2.0 will use 220s.
At 2.1 will be more slow, use near 260s(Search after compaction complete, if not will use near 330s)

Search with nprobe 8, nlist 16, nq=10000
nprobe 8, nlist 16 same with  nprobe 512, nlist 1024, will search half of all data(256MB).
At 2.2.0 use 190s, and it can be su

[2022-11-28 11:59] xiaocai2333 commented on #20853
![image](https://user-images.githubusercontent.com/46207236/204271120-9ca132de-ed5f-46b1-a2ed-9eb10074e1d3.png)

It looks like indexing is ended early. but didn't return the current status. I will reproduce it locally with debug-level logs.

[2022-11-28 12:04] xiaocai2333 commented on #20853
BTW, the data looks like 2m.
![image](https://user-images.githubusercontent.com/46207236/204273439-f2b59f5a-fdec-48fd-94db-5a8d478277ba.png)

[2022-11-28 12:12] xiaocai2333 commented on #20853
sorry, It seems these data from two collections.

[2022-11-28 12:22] xige-16 commented on #20853
@jingkl  Does this test insert two collections?

[2022-11-28 12:27] JiehangXie commented on #20823
it doesnt work and cause a new error like the log below.
[err.log](https://github.com/milvus-io/milvus/files/10103678/err.log)

[2022-11-28 12:53] xige-16 commented on #20853
This test started from  2022-11-24 16:17

[2022-11-28 13:05] jaime0815 commented on #20850
[code]

[2022-11-28 13:07] jaime0815 commented on #20850
related to #20846

[2022-11-28 13:07] jaime0815 commented on #20850
/assign @NicoYuan1986

[2022-11-28 13:24] jaime0815 opened #20869 "[Bug]: load diskann io_getevents() failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

Latest: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/203/pipeline/187
milvus: https://github.com/milvus-io/milvus/commit/f588a73719378f532734143b72fcca383eed2eca
pymilvus: 2.3.0.dev15
log: [artifacts-milvus-dis

[2022-11-28 14:07] xiaofan-luan commented on #20864
The Exclusive consumer  may not be the root cause, we've seen the the dml channel watch keep timing out and datacoord trigger reassign, this cause the new channel assigned to new datanode

[2022-11-28 14:14] geroz commented on #20823
@LoveEachDay my `values.yaml`:
[code]
The key id and secret are provided via environment variables `MINIO_ACCESS_KEY` and `MINIO_SECRET_KEY`. As mentioned this config has been working fine with any image prior to 2.2.0.

[2022-11-28 20:11] devennavani commented on #19574
/reopen

[2022-11-29 01:05] jiaoew1991 commented on #19806
Finished

[2022-11-29 01:05] #19806 closed

[2022-11-29 01:25] JiehangXie commented on #20823
attempt #6:Get "http://127.0.0.1:9000/milvus/?location=": dial tcp 127.0.0.1:9000: connect: connection refused
attempt #7:Get "http://127.0.0.1:9000/milvus/?location=": dial tcp 127.0.0.1:9000: connect: connection refused
attempt #8:Get "http://127.0.0.1:9000/milvus/?location=": dial tcp 127.0.0.1:9000: connect: connection refused
attempt #9:Get "http://127.0.0.1:9000/milvus/?location=": dial tcp

[2022-11-29 01:32] yanliang567 commented on #19496
@czs007 this is a partition related issue that you may take care.

[2022-11-29 01:33] yanliang567 commented on #19574
@LoveEachDay any updates

[2022-11-29 01:34] yanliang567 commented on #20869
/assign @xige-16
/unassign

[2022-11-29 01:36] yanliang567 commented on #20850
@NicoYuan1986 please help to verify it

[2022-11-29 01:49] yanliang567 commented on #20855
/assign @weiliu1031

[2022-11-29 01:50] yanliang567 commented on #20857
/unassign

[2022-11-29 01:52] yanliang567 commented on #20821
/assign @jiaoew1991

[2022-11-29 01:55] xiaofan-luan commented on #20864
looks like loading BF is slow, causing watch dml channel fail

[2022-11-29 01:57] xiaofan-luan commented on #20864
![KY0vwgCcS5](https://user-images.githubusercontent.com/83447078/204419533-05960e0b-6264-4506-8e73-65d7fbad1f5c.jpg)

[2022-11-29 02:18] czs007 commented on #20821
@S-Dragon0302 hi.
How do you deploy milvus?  Compile from source code?
If so, please make sure to specify `disk_index=ON` when executing the `make` command to turn on the DISKANN.

[2022-11-29 02:19] jaime0815 commented on #20247
relate to #20869

[2022-11-29 02:26] weiliu1031 commented on #20848
same as https://github.com/milvus-io/milvus/issues/20869

[2022-11-29 02:30] czs007 opened #20871 "[Bug]: system panic when trying to create DISKANN index if disk_index is not enabled when compiling"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

system panic when trying to create DISKANN index if disk_index is not enabled when compiling.

[2022/11/29 10:25:18.145 +08:00] [INFO] [indexnode/task.go:359] ["disk index params are ready"] [buildID=437698859115092634] ["index params"="{\"beamwidth_ratio\":\"4.000000

[2022-11-29 02:33] NicoYuan1986 commented on #20803
Latest: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/204/pipeline/155

milvus: b5f178f
pymilvus: 2.3.0.dev15

1. log: [artifacts-milvus-distributed-kafka-nightly-204-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/204/artifact/artifacts-milvus-distributed-kafka-nightly-204-pymilvus-e2e-logs.tar.gz)
2.

[2022-11-29 02:34] czs007 commented on #19041
@jingkl can this be closed ?

[2022-11-29 02:36] xiaocai2333 commented on #20786
@xiaofan-luan

[2022-11-29 02:37] xige-16 commented on #20869
@liliu-z  please help

[2022-11-29 02:37] xige-16 commented on #20869
/assign @liliu-z

[2022-11-29 02:37] NicoYuan1986 commented on #20805
Latest: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/204/pipeline/155

milvus: b5f178f
pymilvus: 2.3.0.dev15

1. log: [artifacts-milvus-distributed-kafka-nightly-204-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/204/artifact/artifacts-milvus-distributed-kafka-nightly-204-pymilvus-e2e-logs.tar.gz)
2.

[2022-11-29 02:40] liliu-z commented on #20869
same as https://github.com/milvus-io/milvus/issues/20803 @hhy3

[2022-11-29 02:44] NicoYuan1986 commented on #20848
The error occurred many times yesterday.
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/204/pipeline/187
[artifacts-milvus-distributed-pulsar-nightly-204-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/204/artifact/artifacts-milvus-distributed-pulsar-nightly-204-pymilvus-e2e-logs.tar.gz)
maintain attenti

[2022-11-29 02:45] zhuwenxing opened #20873 "[Bug]: Standalone install failed due to panic of standalone pod when Mq is Kafka"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

[code]

### Expected Behavior

Install success

### Steps To Reproduce

_No response_

### Milvus Log

failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_kafka_cron/detail/deploy_test_kafka_cron/29/pipeline

log:
[artifacts-kafka-s

[2022-11-29 02:48] NicoYuan1986 commented on #20247
Keep occurring on 2.2 branch.
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/2.2.0/16/pipeline/155
[artifacts-milvus-distributed-kafka-nightly-16-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/2.2.0/16/artifact/artifacts-milvus-distributed-kafka-nightly-16-pymilvus-e2e-logs.tar.gz)

[2022-11-29 02:48] zhuwenxing commented on #20873
dup with https://github.com/milvus-io/milvus/issues/20846

[2022-11-29 02:48] #20873 closed

[2022-11-29 02:49] xige-16 commented on #20865
![7TeN9X1LH8](https://user-images.githubusercontent.com/20124155/204426450-5c453cbb-86b5-4b6f-8ca7-619c8d381194.png)

failed due to search timeout, It has nothing to do with the error message of invalid search param

[2022-11-29 02:49] xige-16 commented on #20865
@yah01
/unassign

[2022-11-29 02:50] zhuwenxing commented on #20846
Verified with image `master-20221128-b5f178f2`

[2022-11-29 02:50] xige-16 commented on #20865
/assign @yah01

[2022-11-29 02:50] NicoYuan1986 commented on #20850
Kafka won't be killed for timeout(6h) now.

[2022-11-29 02:50] #20850 closed

[2022-11-29 02:54] zhuwenxing commented on #20852
![image](https://user-images.githubusercontent.com/12268675/204427012-a0743952-8e6c-46d0-af2f-707f5473fd21.png)
![image](https://user-images.githubusercontent.com/12268675/204427094-4910f4bc-1d55-4add-ae3d-7641e75144b9.png)
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/deploy_test_cron/detail/deploy_test_cron/29/pipeline
log:
[artifacts-pulsar-standalone-reinstall-29-server-l

[2022-11-29 02:58] NicoYuan1986 commented on #19850
The error hasn't occurred for some time, so close it now.

[2022-11-29 02:58] #19850 closed

[2022-11-29 03:08] S-Dragon0302 commented on #20821
Not compiled.Is the way to pull the image

[2022-11-29 03:08] S-Dragon0302 commented on #20821
Not compiled.Is the way to pull the image

[2022-11-29 03:14] weiliu1031 commented on #20852
/assign @weiliu1031

[2022-11-29 03:34] xige-16 commented on #20821
V2.1  don't support diskann index. Please give more detailed hardware information, such as cpu and operating system version, It would be better if you can provide reproducible code.

[2022-11-29 03:35] zhuwenxing commented on #20660
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-kafka-for-release-cron/detail/chaos-test-kafka-for-release-cron/159/pipeline
log:
[artifacts-kafka-pod-kill-159-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/10109497/artifacts-kafka-pod-kill-159-server-logs.tar.gz)

[artifacts-kafka-pod-kill-159-pytest-logs.tar.gz](https://github.com/milvus-io/milvus/fi

[2022-11-29 03:39] zhuwenxing commented on #20660
It reproduced stably

[2022-11-29 03:42] #20846 closed

[2022-11-29 03:43] zhuwenxing commented on #20510
Not reproduced

[2022-11-29 03:43] #20510 closed

[2022-11-29 03:49] xige-16 commented on #20821
seem panic at DiskAnn lib
https://github.com/milvus-io/knowhere/blob/abb8e654bef92b4c6da745445c633daf14cec060/thirdparty/DiskANN/src/aux_utils.cpp#L935-L969

[2022-11-29 03:51] liliu-z commented on #20821
Only some file io and omp call there. Suggest to set log level to debug to provide more info

[2022-11-29 03:57] liliu-z commented on #20821
/assign @cqy123456

[2022-11-29 04:16] xiaofan-luan commented on #20867
Hi @JohannesMessner ,

This is kind of by design, we don't expect user to call loading_progress before load.
I thought there are some other API to check collection load states, if you want to know if a collection is loaded or not

[2022-11-29 04:16] xiaofan-luan commented on #20867
/assign @JohannesMessner

[2022-11-29 04:25] xiaofan-luan commented on #20855
from the log, your pod memory is only 4GB and by the watermark we set only 3.6G memory can be used.

since both jemlloac and golang reserved many memory, you probably won't see memory dropped to hundred MB even if you release the collection.

For each 4GB node, I though it is reasonable to hold 2m 128 dim data, how much data do you have in total? And we highly recommend to use querynode larger tha

[2022-11-29 04:28] xiaofan-luan commented on #20848
this is an urgent issue. put it to 2.2.1 because we hit many times

[2022-11-29 04:29] liliu-z commented on #20848
/assign @liliu-z

[2022-11-29 04:30] xiaofan-luan commented on #20841
so this is only a issue on master right?

[2022-11-29 04:32] xiaofan-luan commented on #20534
@longjiquan any update on those related issues?

[2022-11-29 04:45] S-Dragon0302 commented on #20821
Welcome to use Milvus!
Version: v2.2.0
Built: Fri Nov 18 13:26:40 UTC 2022
GitCommit: https://github.com/milvus-io/milvus/commit/e7429f88af2aefefe430863af9d90f96abc29b80
GoVersion: go version go1.18.3 linux/amd64

[2022-11-29 04:47] S-Dragon0302 commented on #20821
OS linux (amd64)
OS Image
CentOS Linux 7 (Core)
Kernel version
3.10.0-1160.31.1.el7.x86_64
Container runtime
docker://19.3.12
Kubelet version v1.18.15

[2022-11-29 05:49] #19961 closed

[2022-11-29 05:49] #19813 closed

[2022-11-29 05:49] #19717 closed

[2022-11-29 05:49] #19987 closed

[2022-11-29 05:49] #19990 closed

[2022-11-29 05:49] #19948 closed

[2022-11-29 06:02] zhuwenxing commented on #20663
chaos type: pod-kill image tag: 2.2.0-20221126-dd10e571 target pod: etcd
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release-cron/detail/chaos-test-for-release-cron/175/pipeline
log:

[artifacts-etcd-pod-kill-175-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/10110198/artifacts-etcd-pod-kill-175-server-logs.tar.gz)
[artifacts-etcd-pod-kill-175-

[2022-11-29 06:04] zhuwenxing commented on #20663
chaos type: pod-failure image tag: 2.2.0-20221126-dd10e571 target pod: pulsar
failed job: https://qa-jenkins.milvus.io/blue/organizations/jenkins/chaos-test-for-release-cron/detail/chaos-test-for-release-cron/183/pipeline
log:

[artifacts-pulsar-pod-failure-183-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/10110209/artifacts-pulsar-pod-failure-183-server-logs.tar.gz)
[artifacts-pul

[2022-11-29 06:07] yanliang567 commented on #20663
/assign @jiaoew1991
/unassign

[2022-11-29 06:14] xige-16 commented on #19041
/assign @jingkl  please verify

[2022-11-29 06:17] longjiquan commented on #20798
According to the log, you built index with metric type `L2`. So searching with `L2` is also required. @hukang6677

[2022-11-29 06:18] longjiquan commented on #20798
/assign @hukang6677

[2022-11-29 06:25] zhuwenxing commented on #20849
You can check the code https://github.com/milvus-io/milvus/blob/938c09679c8a414defcd667fb55ca7dc47c2c4cc/tests/python_client/deploy/scripts/action_after_upgrade.py#L9-L24

The things we did is creating the index, then load and search.

![image](https://user-images.githubusercontent.com/12268675/204454213-e7d5ff20-be61-474d-a247-3ec792ecbb1c.png)

[2022-11-29 06:30] longjiquan commented on #20259
Under this case, compaction is reasonable. Also the compacted but not indexed segments won't influence search/query. It will only influence the newly index task since indexnode has a sequence task model. By the way, why not scale the indexnodes if you really need to create index for more collections? @yanliang567

[2022-11-29 06:32] jaime0815 commented on #20247
querynode process exit with an unexpected signal when starting to search a segment, it seems occurs core dump within segcore or knowhere and there is no more log to troubleshoot this issue.

please help take a look at this diskann issue. @xige-16

[code]

[2022-11-29 06:33] XuanYang-cn commented on #20502
According to yanliang, the server/python is stuck after 12:00, investigating now.
![image](https://user-images.githubusercontent.com/51370125/204455931-236de680-7cfc-46c9-b221-d8714fecb772.png)

[2022-11-29 06:34] zhuwenxing commented on #20849
![image](https://user-images.githubusercontent.com/12268675/204456149-c9726395-08bd-4292-98b2-d31899415264.png)

This step also failed, so it is not about index

[2022-11-29 06:35] zhuwenxing commented on #20849
/unassign @zhuwenxing
/assign @weiliu1031

[2022-11-29 06:41] zhuwenxing commented on #20489
Verified in image `2.2.0-20221126-dd10e571`

[2022-11-29 06:41] #20489 closed

[2022-11-29 06:43] zhuwenxing commented on #20480
Not reproduced in 2.2.0-20221126-dd10e571

[2022-11-29 06:43] #20480 closed

[2022-11-29 06:49] XuanYang-cn commented on #20841
I just tested on 2.2.0 and it reproduced.

[2022-11-29 06:49] zhuwenxing commented on #19947
Verified in `master-20221128-b5f178f2`

[2022-11-29 06:49] #19947 closed

[2022-11-29 06:50] #18828 closed

[2022-11-29 06:51] #19429 closed

[2022-11-29 06:51] #19553 closed

[2022-11-29 06:51] #19658 closed

[2022-11-29 06:52] #19660 closed

[2022-11-29 06:52] #19696 closed

[2022-11-29 06:57] zhuwenxing commented on #20363
Not reproduced recently.

[2022-11-29 06:57] #20363 closed

[2022-11-29 06:57] zhuwenxing commented on #20363
Not reproduced recently.

[2022-11-29 06:58] jaime0815 opened #20878 "[Bug]: still continued generate load segment task after collection dropped"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

the collection `index_jnW0sDOC` is dropped at 20:11:16
[code]

but the load segment task continuously adds and removes because the collection meta can not be found.
[code]
query(nodeId=2) occur dump core at 20:10:56 and then a new querynode(nodeId=13) is started.

Lat

[2022-11-29 06:59] jaime0815 commented on #20247
related to #20878

[2022-11-29 07:00] xige-16 commented on #18644
/assign @jiaoew1991

[2022-11-29 07:00] elstic opened #20879 "[Bug]: [benchmark][standalone] Milvus search without small tables, search slows down"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server:
[code]

server-instance
fouram-tag-no-clean-m9sd9-1
server-configmap
server-single-32c128m
client-configmap
client-random-locust-100m-ddl-r8-w2-12h

grafana：
![image](https://user-images.githubusercontent.com/48523564/204455842-27500882-2a2c-4486-9a01-e4c8d377

[2022-11-29 07:05] ysn2233 commented on #20855
In that case we loaded a 16m collections with IVF_PQ index which caused oom. However now actutally the most significant problem is that the querynode behaved weird after oom.

We hit this issue again. I released all collections and the memory usage never decreases. There are 0 collections loaded in milvus but each querynode allocated 3G+ memory. Do you think it is possible to have memory leak or G

[2022-11-29 07:12] jaime0815 opened #20880 "[Bug]: UnexpectedError: local index path has been exist during loading diskann index"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/2.2.0/16/pipeline/155
[artifacts-milvus-distributed-kafka-nightly-16-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/2.2.0/16/artifac

[2022-11-29 07:13] jaime0815 commented on #20247
related to #20880

[2022-11-29 07:15] weiliu1031 commented on #20849
something wrong when consume from rocksmq
![image](https://user-images.githubusercontent.com/108661493/204463271-0fc4d58c-b4fe-4c8a-bcf6-d7e1513bd36e.png)

[2022-11-29 07:18] yah01 commented on #20871
#20861 fixes this

[2022-11-29 07:21] jaime0815 commented on #20247
relate to https://github.com/milvus-io/milvus/issues/20869

[2022-11-29 07:23] #20485 closed

[2022-11-29 07:24] jaime0815 commented on #20869
[code]

[2022-11-29 07:25] yanliang567 commented on #20879
/assign @jiaoew1991
/unassign

[2022-11-29 07:36] xige-16 commented on #20880
same with #20522

[2022-11-29 07:36] smellthemoon commented on #20849
/unassign @weiliu1031
/assign @smellthemoon

[2022-11-29 07:44] jaime0815 commented on #20878
/assign @jiaoew1991

[2022-11-29 07:57] weiliu1031 commented on #20855
about the memory usage after releasing all collections,  does it come from `query node pod` or `query node process in pod` ?

[2022-11-29 07:58] xige-16 commented on #20805
error info
[code]

[2022-11-29 08:17] JohannesMessner commented on #20867
@xiaofan-luan thanks for your response!
If there is a different API for this, then I could not find it it. Actually, that's why it was recommended to me to use `loading_progress()` in the first place. Could you maybe point me to this API?

Also, this was not the case in v2.1.3, and this changed behaviour is breaking our integration with Milvus. So I would argue that this is a bug (and the ticket I

[2022-11-29 08:41] xige-16 opened #20885 "[Bug]: Cannot find /milvus/internal/core/output/lib/libjemalloc.so"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When running milvus/script/start_cluster.sh, a warning comes out
[code]
And only tbbmalloc.so exists

### Expected Behavior

start milvus with jemalloc

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-11-29 08:41] xige-16 commented on #20885
/assign @jiaoew1991

[2022-11-29 08:41] xige-16 commented on #20885
/assign @jiaoew1991

[2022-11-29 08:45] #20857 closed

[2022-11-29 08:48] zhagnlu opened #20886 "[Enhancement]: reduce memory usage when using disk-ann index"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

when using disk-ann index, a huge memory peak usage happens. using some method to reduce memory usage

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-11-29 09:34] ysn2233 commented on #20855
They are almost the same

[2022-11-29 09:43] weiliu1031 commented on #20855
could you please export current milvus logs for us?  then we can check what happened here.

[2022-11-29 09:46] ysn2233 commented on #20855
which pods and how long duration do you need?

[2022-11-29 09:48] weiliu1031 commented on #20855
I prefer all pod logs and since last restart if possible

[2022-11-29 10:00] LoveEachDay commented on #20823
You'd login to the milvus standalone pod, check the `milvus.yaml` at path `/milvus/configs/milvus.yaml` .

[2022-11-29 10:15] xige-16 commented on #20805
@cqy123456  please help

[2022-11-29 10:17] xige-16 commented on #20805
same with #20869

[2022-11-29 10:20] xige-16 commented on #20805
/assign @liliu-z

[2022-11-29 10:25] ysn2233 commented on #20855
[milvus-log.tar.gz](https://github.com/milvus-io/milvus/files/10112083/milvus-log.tar.gz)

[2022-11-29 10:27] xige-16 commented on #20805
/assign @hhy3

[2022-11-29 10:43] weiliu1031 commented on #20855
![image](https://user-images.githubusercontent.com/108661493/204508163-e88885f7-b270-43a3-af99-5e69431a0763.png)

something wrong with logs:
1. query coord's log after 2022/11/29 03:21:53.823 miss
2. all three query node logs miss but some few gc log

[2022-11-29 10:47] ysn2233 commented on #20855
Do you need debug log? I filter out the debug log because it is too much.

[2022-11-29 10:52] weiliu1031 commented on #20855
yes, if it can't be uploaded, please send to my email wei.liu@zilliz.com

[2022-11-29 11:42] ysn2233 commented on #20855
mail sent

[2022-11-29 13:49] jingkl opened #20892 "[Bug]:[benchmark][diskann]Milvus search after creates diskann index ， increase concurrent cpu usage without increase"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

deploy_config
fouramf-server-cluster-12c8m
case_params
fouramf-go-bench-diskann
milvus_tag=v2.2.0

**The querynode's cpu is never full**

server：

[code]
querynode：
<img width="1381" alt="截屏2022-11-29 14 26 48" src="https://user-images.githubusercontent.com/34296482/2

[2022-11-29 14:00] jingkl opened #20893 "[Bug]: [benchmark][hnsw]Milvus search after creating Hnsw index, cpu not fully utilized"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

deploy_config
fouramf-server-cluster-32c8m
case_params
fouramf-go-bench-hnsw

Milvus server：

[code]

`Milvus increases concurrent cpu usage to remain around 25 cpu at all times`

querynode：

<img width="1379" alt="截屏2022-11-29 17 15 40" src="https://user-images.githu

[2022-11-29 14:06] roemchine commented on #15882
The same issue happens to me. I restarted the server and I cannot query again. I am using milvus 2.0.2 and I am having aroud 80M vectors. Here is my log file.
[out.txt.gz](https://github.com/milvus-io/milvus/files/10113734/out.txt.gz)

[2022-11-30 00:13] yanliang567 commented on #15882
@roemchine could you please retry on latest release Milvus 2.2.0, which fixed lots of issues. if it reproduced to you, please file a new issue and upload the full logs. Thanks.

[2022-11-30 01:51] yanliang567 commented on #20880
closed for dup

[2022-11-30 01:51] #20880 closed

[2022-11-30 02:36] weiliu1031 commented on #20855
ok

[2022-11-30 02:39] longjiquan opened #20895 "[Bug]: error log is too frequent and not necessary"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Many unnecessary logs are at error level.

### Expected Behavior

Many logs should not be at error level.

### Steps To Reproduce

_No response_

### Milvus Log

_No response_

### Anything else?

_No response_

[2022-11-30 02:40] NicoYuan1986 commented on #20805
Latest: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/205/pipeline/187

milvus: c6fc151
pymilvus: 2.3.0.dev15

1. log: [artifacts-milvus-distributed-pulsar-nightly-205-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/205/artifact/artifacts-milvus-distributed-pulsar-nightly-205-pymilvus-e2e-logs.tar.gz)
2

[2022-11-30 02:41] NicoYuan1986 commented on #20247
keep happening
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/205/pipeline/187

[2022-11-30 02:44] NicoYuan1986 commented on #20803
Latest: https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/205/pipeline/187

milvus: c6fc151
pymilvus: 2.3.0.dev15

1. log: [artifacts-milvus-distributed-pulsar-nightly-205-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/205/artifact/artifacts-milvus-distributed-pulsar-nightly-205-pymilvus-e2e-logs.tar.gz)
2

[2022-11-30 02:46] NicoYuan1986 commented on #20848
The error occurred many times yesterday.
https://jenkins.milvus.io:18080/blue/organizations/jenkins/Milvus%20Nightly%20CI/detail/master/205/pipeline/155
[artifacts-milvus-distributed-kafka-nightly-205-pymilvus-e2e-logs.tar.gz](https://jenkins.milvus.io:18080/job/Milvus%20Nightly%20CI/job/master/205/artifact/artifacts-milvus-distributed-kafka-nightly-205-pymilvus-e2e-logs.tar.gz)
error message:
[co

[2022-11-30 03:35] binbinlv commented on #20543
Fixed in official website doc(2.2.*, 2.1.* and 2.0.*)，and closed.

[2022-11-30 03:35] #20543 closed

[2022-11-30 03:37] yhmo commented on #20867
@JohannesMessner
Why you need to call `loading_progress(coll.name, using=conn_alias)` after `build_index(coll)`? Do you expect to check the index building progress? If yes, you can use the `utility.index_building_progress(collection_name, index_name='', using='default')` to check. This method returns a json object with key "indexed_rows" and "total_rows", if the value of "indexed_rows" is equal to

[2022-11-30 04:06] elstic opened #20898 "[Bug]: [benchmark][cluster] Milvus downtime upgrade load failed , raise error:"collection:sift_100m_128_l2 or partition:[] not loaded into memory when search""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
fouram-tag-no-clean-cbtcd-1
server-configmap
server-cluster-8c64m
client-configmap
client-random-locust-search-filter-100m-ddl

argo task: fouram-restart-server-n47jt

before upgrade: `2.2.0-20221126-dd10e571`
after upgrade:  `2.2.0-20221129-e2dd7a41`

[2022-11-30 04:20] yanliang567 commented on #20898
/assign @jiaoew1991
/unassign

[2022-11-30 05:51] #19865 closed

[2022-11-30 06:11] #20895 closed

[2022-11-30 06:42] #20865 closed

[2022-11-30 07:09] longjiquan commented on #20534
@alexandervyatsu thx for the very detailed information. This issue has already been fixed in #20840 in 2.2.0 branch, and this fix will be released in our `2.2.1` version. Maybe you can retry this later in `v2.2.1`, besides this, `v2.2.1` also resolved many issues, such as memory, performance, failure recovery and etc.

[2022-11-30 07:59] roemchine commented on #15882
@yanliang567 Thank you. I will check if it happens on Milvus 2.2.0 too

[2022-11-30 09:32] elstic opened #20906 "[Bug]: [docs] Milvus official website search document after 404"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I use the search bar on the milvus official website, the search results give a page 404

https://user-images.githubusercontent.com/48523564/204759265-3807f492-3939-4d55-8a83-e352e8be9e41.mov

### Expected Behavior

_No response_

### Steps To Reproduce

_No respo

[2022-11-30 09:38] shanghaikid commented on #20906
Just triggered and index rebuilding from algolia, hopefully it can be fixed soon.

[2022-11-30 10:15] JohannesMessner commented on #20867
No, I 'm just trying to check if a collection is or is not loaded into memory.

The code above is just a snippet for reproducibility, in our real application it is not always known if `load()` has been called before I make the call to `loading_progress()`, or if `loading_progress()` is called directly after index creation.

[Our app](https://github.com/docarray/docarray) (for the purposes of this

[2022-11-30 10:56] XuanYang-cn commented on #20841
/assign @yah01
Please help investigating.

[2022-11-30 11:37] yanliang567 commented on #20906
/unassign

[2022-11-30 12:05] xige-16 commented on #20871
verify pass

[2022-11-30 12:05] #20871 closed

[2022-11-30 12:11] xiaofan-luan commented on #20893
/assign @czs007

[2022-11-30 12:38] jaime0815 commented on #20247
#20869

[2022-11-30 12:53] xige-16 opened #20915 "[Enhancement]: Optimize the error message of creating disk index when dim<32"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

[2022-11-29 17:28:27 - ERROR - ci_test]: (api_response) : <MilvusException: (code=1, message=invalid index params: map[beamwidth_ratio:4.000000 dim:24 index_type:DISKANN max_degree:56 metric_type:L2 num_build_thread_ratio:1.000000 num_load_thread_ratio:8.000000 pq_code_budget_

[2022-11-30 15:05] shanghaikid commented on #20906
fixed

[2022-11-30 15:05] #20906 closed