[2022-03-11 10:47] jingkl opened #16026 "[Bug]: [benchmark][cluster] Milvus search 1b data ,raise error"StatusCode.DEADLINE_EXCEEDED, Deadline Exceeded""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
benchmark-tag-no-clean-xxkr5-1
server-configmap
server-cluster-8c64m-datanode2-indexnode4-querynode6
client-configmap
client-random-locust-search-84h-1b

server
[code]
client log:
[code]

### Expected Behavior

[code]

### Steps To Reproduce

[code]

#

[2022-03-11 16:28] jennyli-z commented on #16007
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/393/pipeline

[2022-03-11 22:39] radpet commented on #15882
@yanliang567 latest pymilvus 2.0.1

[2022-03-12 03:20] raynor08 commented on #3603
Bump on this question,  would be great to have Multi-vector search support.  @xiaofan-luan could you pls link the Multi-vector search support task here? definitely would love to learn more and see if we can contribute.

[2022-03-12 04:51] #15514 closed

[2022-03-12 04:52] xiaofan-luan commented on #15520
leave it open

[2022-03-12 12:31] xiaofan-luan commented on #15437
leave it open

[2022-03-12 12:31] xiaofan-luan commented on #15364
should be done since we update metrics

[2022-03-12 12:31] xiaofan-luan commented on #13516
leave it open

[2022-03-12 13:25] #16001 closed

[2022-03-12 13:26] #15999 closed

[2022-03-12 13:26] xiaofan-luan commented on #15998
@dariocurr thanks for the contribution, close the issue for now~

[2022-03-12 13:26] #15998 closed

[2022-03-12 13:34] xiaofan-luan commented on #15952
mark it as urgent, please help on investigating @bigsheeper

[2022-03-12 13:34] xiaofan-luan commented on #15952
/assign @bigsheeper

[2022-03-12 13:38] xiaofan-luan commented on #15866
@jaime0815 we will close this issue if don't want to fix it? anything we can do to retry when pulsar hit error?

[2022-03-12 13:38] xiaofan-luan commented on #15857
/assign @xiaocai2333

[2022-03-12 13:38] xiaofan-luan commented on #15852
close it with fix

[2022-03-12 13:38] #15852 closed

[2022-03-12 13:40] xiaofan-luan commented on #15782
same question here, should we retry or what?

[2022-03-12 13:43] xiaofan-luan commented on #15750
@zhoudayu123 does that help you on the issue?

[2022-03-13 13:56] xiaofan-luan commented on #15713
@zhuwenxing if this is not related to the panic we can probabaly only a another issue?

[2022-03-14 00:33] yanliang567 commented on #15882
@sunby could you please help to take a look at this issue?

[2022-03-14 00:36] yanliang567 commented on #15952
@binbinlv please pay attention to this issue, i think we should have covered this scenario.

[2022-03-14 01:12] #15991 closed

[2022-03-14 01:48] bigsheeper commented on #15996
/lgtm

[2022-03-14 01:50] #15996 closed

[2022-03-14 01:54] zhuwenxing commented on #15713
OK, I will close this issue, and open another one for this https://github.com/milvus-io/milvus/issues/15713#issuecomment-1058780074

[2022-03-14 01:54] #15713 closed

[2022-03-14 02:01] binbinlv commented on #15952
OK, we covered the scenario that creating indexes immediately after inserting data, will investigate the difference between the issue and our test scenario.

[2022-03-14 02:04] czs007 opened #16029 "[Enhancement]: Reduce the number of metrics to reduce memory"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I would like to reduce the number of metrics to reduce memory.

### Why is this needed?

Now, 3 million metrics will be reported every second. Too many metrics will cause the monitoring service to bear a lot of memory pressure.

### Anything else?

_No response_

[2022-03-14 02:25] sunby commented on #15882
@radpet It will be very helpful if you can provide the complete standalone log before the loading error.

[2022-03-14 02:27] binbinlv commented on #13045
Auto compaction slowly again in the following nightly tests:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/398/pipeline

1.log
[artifacts-milvus-standalone-master-398-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/398/artifact/artifacts-milvus-standalone-master-398-pymilvus-e2e-logs.tar.gz)

2 Test case

[2022-03-14 02:27] bigsheeper commented on #15713
may same as #15952

[2022-03-14 02:27] binbinlv commented on #13045
@xiaofan-luan @xige-16
so what is the new solution here?

[2022-03-14 02:28] bigsheeper commented on #15713
logs in cluster-03-04.log:

[code]

[2022-03-14 02:36] binbinlv commented on #15282
It occurs again in the following nightly tests:

1. https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/395/
(1) Logs:
[artifacts-milvus-standalone-master-395-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/395/artifact/artifacts-milvus-standalone-master-395-pymilvus-e2e-logs.tar.gz)

(2) case fail time:
[2022-03-12T15:19:04.176Z] [gw1]

[2022-03-14 02:54] hf185 opened #16033 "[Bug]: proxy not healthy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/43991218/158096056-22369244-69a9-43fe-ba04-46c93dd44809.png)

An exception occurred in the SDK :
[code]

### Expected Behavior

Back to normal

### Steps To Reproduce

[code]

### Anything else?

error logs:

[error.m

[2022-03-14 03:06] xiaofan-luan commented on #16033
hi @hf185 your datacoord is not up.
Please offer datacoord logs can we will take a investigation into it

[2022-03-14 03:06] xiaofan-luan commented on #16033
/assign @soothing-rain

[2022-03-14 03:09] hf185 commented on #16033
@xiaofan-luan

# querycoord

[code]

# datanode

[code]

# indexcoord

[code]

# indexnode

[code]

# proxy

[code]

# querycoord

[code]

# querynode

[code]

# rootcoord

[code]

[2022-03-14 03:40] hf185 commented on #16033
@xiaofan-luan @soothing-rain

[2022-03-14 04:00] xiaofan-luan commented on #13045
@xige-16 we should fix this by adding a lease on datacoord side to maintain data existence when compaction happened.

[2022-03-14 04:00] binbinlv commented on #15627
Similar issue occurs again:

1 Log:
[milvus-standalone-97-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/weekly-milvus-nightly-ci/job/weekly-milvus-ci-test/97/artifact/milvus-standalone-97-pymilvus-e2e-logs.tar.gz)

2 collection name: delete_AUBdpf9A

3 case fail time:
[2022-03-13T14:27:35.156Z] [gw4] [ 25%] FAILED testcases/test_delete.py::TestDeleteOperation::test_delete_sealed

[2022-03-14 04:06] binbinlv commented on #15785
Reproduced again in the following nightly:

1 log:
[milvus-distributed-89-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/weekly-milvus-nightly-ci/job/weekly-milvus-ci-test/89/artifact/milvus-distributed-89-pymilvus-e2e-logs.tar.gz)

2 Test case failed time: **at the beginning of the tests**
[2022-03-12T06:26:45.816Z] [gw0] [  0%] FAILED testcases/test_alias.py::TestAliasParamsInv

[2022-03-14 04:06] binbinlv commented on #15785
@soothing-rain

any progress of this issue? Thanks.

[2022-03-14 06:19] xiaofan-luan commented on #16033
the datacoord log you are actually offering querycoord log..
Please double check on it

[2022-03-14 06:22] hf185 commented on #16033
![1647238910(1)](https://user-images.githubusercontent.com/43991218/158116266-e0124303-5211-45b4-83c4-9c314029c3fd.jpg)
This is the datacoord log

[2022-03-14 06:23] soothing-rain commented on #15785
Not yet, as we were told it only happened once last time :)

Will take a look now that it has reproduced.

[2022-03-14 06:28] xiaofan-luan commented on #16033
<img width="1417" alt="image" src="https://user-images.githubusercontent.com/83447078/158116475-ae64fdc5-9186-4a59-b7db-a9ad806e37ee.png">

1. rootcoord is not start correctly, not sure the reason.
2. session unregister failed with a huge nodeinfo, this seems to be not really possible. Did you change any configurations?
It would be really helpful if you can upload full rootcoord and datacoord logs

[2022-03-14 06:33] xiaofan-luan commented on #16033
the error log is too short, we need more context to locate the problem

[2022-03-14 06:34] xiaofan-luan commented on #16033
datacoord and rootcoord should be well enough

[2022-03-14 06:37] hf185 commented on #16033
I have modified the etcd configuration in docker-compose.yml
1. - ETCD_AUTO_COMPACTION_RETENTION=10
2. - ETCD_QUOTA_BACKEND_BYTES=34359738368

[2022-03-14 06:37] binbinlv commented on #15627
@godchen0212
any progress of this issue? Thanks.

[2022-03-14 06:37] hf185 commented on #16033
[datacoord.log](https://github.com/milvus-io/milvus/files/8242266/datacoord.log)
[rootcoord.log](https://github.com/milvus-io/milvus/files/8242268/rootcoord.log)
@xiaofan-luan

[2022-03-14 06:46] hf185 commented on #16033
@xiaofan-luan
Please give me a solution as soon as possible, because this is an abnormality in our production. If it can't be solved, I can only re-fill the data, but this problem will still occur later, and it has been several times.

[2022-03-14 07:04] zhuwenxing commented on #16003
@kingzcheung
I tried to reproduce this with same steps in issue https://github.com/milvus-io/milvus/issues/15713, but it was not reproduced.

Can you open another issue for this `fail to search` and please attach the log?
/assign @kingzcheung

[2022-03-14 07:32] yhmo commented on #15835
The user has resolved it, not a bug, close it.

[2022-03-14 07:32] #15835 closed

[2022-03-14 08:54] xiaofan-luan commented on #16033
From the rootcoord log, etcd can not be connected and the datacoord log said that Etcd is super slow.

How large is the etcd data size?

If you leave etcd, minio and pulsar to use same sata disk that might be too much to serve heavy workload and case etcd can not serve request as expected. (sata disk only support 100 IOPs which is to small for etcd and pulsar)

[2022-03-14 08:54] xiaofan-luan commented on #16033
Server is keep crashing because it can not connect to etcd

[2022-03-14 08:56] hf185 commented on #16033
Vector data is around 30 million

[2022-03-14 09:01] xiaofan-luan commented on #16033
Should be related to vector size, but the etcd data size. It should be deployed here:
 volumes:
      - ${DOCKER_VOLUME_DIRECTORY:-.}/volumes/etcd:/etcd
How large is data stored in etcd?

[2022-03-14 09:02] xiaofan-luan commented on #16033
@soothing-rain we probably need to improve the etcdKv, current message I have no idea about what hugh KV is written into milvuse

[2022-03-14 09:02] hf185 commented on #16033
![image](https://user-images.githubusercontent.com/43991218/158139167-4ec11279-f36e-4b6c-8ad9-f890894428e2.png)

[2022-03-14 09:04] hf185 commented on #16033
So what kind of disk do we need to support it?

[2022-03-14 09:22] yanliang567 commented on #16033
@LoveEachDay any suggestions here for the disks?

[2022-03-14 09:24] jingkl opened #16041 "[Bug]: [benchmark][standalone]Milvus interface response times are getting slower"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
benchmark-tag-no-clean-s44mh-1
server-configmap
server-single-32c128m
client-configmap
client-random-locust-100m-ddl-r8-w2

1. Milvus 2.0.2 query average response time(ms)：
<img width="1364" alt="1" src="https://user-images.githubusercontent.com/342964

[2022-03-14 09:30] xiaofan-luan commented on #16033
As the recommendation, SATa 3.0 SSD is required. https://milvus.io/docs/v2.0.x/prerequisite-docker.md
In your case we find the etcd write size is huge, we are still investigating on the core reason

[2022-03-14 09:31] hf185 commented on #16033
Yes, we write about 1.5 million data a day

[2022-03-14 09:36] LoveEachDay commented on #16033
`ETCD_AUTO_COMPACTION_RETENTION` is too small for a production deployment, and `ETCD_QUOTA_BACKEND_BYTES` is too large. Our default setting is enough for 100 million vectors

And etcd require fast ssd disks, you can following the instructions [here](https://etcd.io/docs/v3.5/op-guide/hardware/#disks) to benchmark your disk.

Also check out `https://www.ibm.com/cloud/blog/using-fio-to-tell-whether-

[2022-03-14 09:37] soothing-rain commented on #16033
Hey @hf185 , upon offline discussion, it seems that your Etcd service got congested which had an impact on our services. We are looking at ways to help reduce the traffic on Etcd.

[2022-03-14 09:38] binbinlv commented on #15952
Reproduced the issue, and the exact scenario will raise this load error is:
1 create a collection with 2 partitions [ note: more than 1 partition is a must condition]
2 insert 100000 entities to each partition [ note: insert should more than 16M for each shard, small quantity will not report this error]
3 load

and the reproduced script is:
[code]

And the detail scenario comparisons are:
(1) inse

[2022-03-14 09:48] yanliang567 commented on #16041
It looks like a performance regression issue since 2.0, please fix it in 2.0.2 if possible. @xiaofan-luan

/assign @xiaofan-luan
/unassign

[2022-03-14 10:00] chensanle opened #16043 "[Bug]: uncontrolled memory growth"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I continue to do query operations, the memory grows uncontrollably.
dim: 768; index:ivf_pq; nlist: 4096; m:12; 1M rows
![image](https://user-images.githubusercontent.com/31087327/158149620-62d97ca8-25dd-4a32-9289-a8dad9585481.png)

### Expected Behavior

_No resp

[2022-03-14 10:08] hf185 commented on #16033
[etcd.zip](https://github.com/milvus-io/milvus/files/8243763/etcd.zip)

[2022-03-14 10:10] yanliang567 commented on #16043
@yhmo could u please help on this issue?

/assign @yhmo
/unassign

[2022-03-14 10:11] congqixia commented on #16025
@jingkl could you please provide the timeout value for scene_test operations?

[2022-03-14 10:16] hf185 commented on #16033
According to your reply just now, I guess if etcd was loaded slowly during the previous restart, which caused other services to fail to connect. I just restarted all other services except etcd, and it seems to be normal now.

[2022-03-14 10:26] congqixia commented on #16025
The `QueryCoord` and `IndexCoord` disconnected from etcd in the running process
[code]
So there was a lot of requested timeout and found querycoord missing:
[code]

[2022-03-14 10:27] congqixia commented on #16025
Another problem is both `QueryCoord` and `IndexCoord` was on Node9. I suspect there was some network issue. @jingkl @yanliang567

[2022-03-14 10:56] jennyli-z opened #16045 "[Bug]: [CI]DataNode Memory now is almost twice larger than the one on Mar.9"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

![image](https://user-images.githubusercontent.com/93511422/158158080-b5fd6358-8d9e-4474-ab03-9f9b491dc133.png)
![image](https://user-images.githubusercontent.com/93511422/158158687-854359c0-467b-47c9-ba2a-0410f20e6f37.png)

From the images above, we can see the memor

[2022-03-14 10:57] jennyli-z commented on #16045
/assign @sunby

[2022-03-14 11:14] jennyli-z commented on #16045
https://github.com/milvus-io/milvus/commit/531b4da24930fd88a9cace67800a215d4b4e2818
 Please double check this commit first as it is the only commit that does not have the metrics data to prove it with low memory on 2.0.2 release branch.

[2022-03-14 11:16] piggy2303 commented on #15952
I change to the older version
image: milvusdb/milvus:v2.0.0
and for loop to load it with 2000 entities
not facing with this error
@binbin12580

you should use docker-compose to deploying
😄 good luck

[2022-03-14 16:41] soothing-rain opened #16047 "[Bug]: Etcd are storing big key-value pairs, causing all etcd requests being slow."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When milvus starts, channels are assigned to data nodes.

Datacoord has Etcd store channel watch information as k-v pairs, where key = nodeID + channelName, value = an individual channel watch info:
https://github.com/milvus-io/milvus/blob/09b2c46b619ef554a538a508569b

[2022-03-14 17:02] W2Q3Q1 commented on #15824
Hello, we are facing the same problem. Is there any thing we can do ourselves to prevent that crash, like avoid doing some specific actions? Do we have to wait for the next version?

[2022-03-15 00:19] avsolatorio commented on #15824
I used the nightly build for now. :)

[2022-03-15 00:20] avsolatorio commented on #15824
I used the nightly build for now. :)

[2022-03-15 01:16] xiaofan-luan commented on #15824
Hey @avsolatorio ,does daily build works for you? We will soon release 2.0.2 once all known issues solved

[2022-03-15 01:19] xiaofan-luan commented on #16047
@sunby @congqixia
My suggestions is to move SegmentInfo out of vchannelinfo but only leave Segment ID.
We maintain another kv pair to store the relation between segment and SegmentInfo, any advices?

[2022-03-15 01:19] xiaofan-luan commented on #16047
/assign @soothing-rain

[2022-03-15 01:22] congqixia commented on #16047
@xiaofan-luan @soothing-rain we might trim the segment path part, but the position information is needed in datanode.

[2022-03-15 01:25] xiaofan-luan commented on #16047
My suggestion is to separate KV
VchannelInfo -> {
int64 collectionID = 1;
string channelName = 2;
internal.MsgPosition seek_position = 3;
repeated SegmentId unflushedSegments = 4;
repeated SegmentId flushedSegments = 5;
repeated SegmentId dropped_segments = 6;
}

and segment info is stored in another KV.
When write we can to txn if need to modify both kvs.

On Read we can do a join in memory

[2022-03-15 01:32] xiaofan-luan commented on #15952
Hi @piggy2303, we've fixed the issue in our daily build and soon on 2.0.2 release~ thanks for the patience

[2022-03-15 01:33] xiaofan-luan commented on #15555
leave it open

[2022-03-15 01:34] xiaofan-luan commented on #15555
many people are interested on this feature and we need a volunteer to take this

[2022-03-15 01:54] zhuwenxing opened #16048 "[Bug]: Search failed in the second deployment after restart and upgrade"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Search failed in the second deployment after restart and upgrade

### Expected Behavior

all functions work well after restart and upgrade

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-03-15 01:55] zhuwenxing commented on #16048
/assign @xige-16
Please take a look

[2022-03-15 01:56] yanliang567 commented on #16048
this is a data compatibility issue. set to critical

[2022-03-15 01:58] xiaofan-luan commented on #16048
/assign @DragonDriver please help on investigating

[2022-03-15 02:05] jennyli-z commented on #16045
this commit is safe as 2.0.2 nightly has no memory issue, but the master has
![image](https://user-images.githubusercontent.com/93511422/158291421-40b88033-7c50-4160-947c-e3c9d9d8ba31.png)
@yanliang567

[2022-03-15 02:11] yanliang567 commented on #16045
sounds like a regression issue on master only.

[2022-03-15 02:16] zhuwenxing opened #16049 "[Bug]: Load collection failed when running test_e2e.py after querynode pod recovered from pod kill"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Load collection failed when running test_e2e.py after querynode pod recovered from pod kill
[code]

### Expected Behavior

all test cases passed after pod kill chaos

### Steps To Reproduce

[code]

### Anything else?

failed job: https://github.com/milvus-io/milvus/r

[2022-03-15 02:19] XuanYang-cn commented on #15805
No reproducing lately

[2022-03-15 02:32] zhuwenxing commented on #16049
Etcd and standalone pod kill also have the same issue.
see: https://github.com/zhuwenxing/milvus/actions/runs/1982495043

[2022-03-15 02:40] soothing-rain commented on #16047
Yes, I don't think we need the whole VchannelInfo for a `channelwatch` store.

@congqixia How about we just replace VchannelInfo in `ChannelWatchInfo` with a simplified version including only collectionID and channelName, while keeping other VchannelInfo (used in datanode, flowgraph, etc.) untouched. How does that sound?

[2022-03-15 02:52] XuanYang-cn commented on #15653
`milvus-proto` has been updated, I think SDKs are able to start using `git submodule`.

[2022-03-15 03:32] xiaofan-luan commented on #16041
/assign @bigsheeper
see if the monitoring metrics can help us on locating the performance degrade issue?

[2022-03-15 04:24] LoveEachDay commented on #16025
From etcd log:
[code]

From querycoord log:
[code]
We can see the querycoord failed to renew the lease in etcd.

And from the grafana:
<img width="1211" alt="image" src="https://user-images.githubusercontent.com/1573213/158306032-e13c282b-7353-493f-a7ff-3111df7fd29d.png">
<img width="1202" alt="image" src="https://user-images.githubusercontent.com/1573213/158306081-272d07fb-293e-4ee5-8556-bc731913

[2022-03-15 05:42] jaime0815 commented on #15897
Getting index file paths when the index state is not finished, the index file lists will be empty, so there will need to add a precondition to check the index state before returning the index file paths

[2022-03-15 06:08] zhuwenxing commented on #16049
/assign @DragonDriver

Though the error in this issue is load failed, I think it may be related to the #16048

[2022-03-15 07:08] sunby commented on #16045
This issue is caused by unclosed channel in msgstream and flowgraph will hang. The memory used to insert rows can not be released. I will fix it in https://github.com/milvus-io/milvus/pull/16051

[2022-03-15 07:27] codersky commented on #14840
/reope

[2022-03-15 07:27] codersky commented on #14840
/reopen

[2022-03-15 07:28] codersky commented on #14840
we are working on some internal company legal review, will still work on it

[2022-03-15 08:52] xiaofan-luan opened #16055 "[Bug]: EtcdKV CompareAndSwap interface semantic is confused"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

etcdKV support compareAndSwap by value and version, if compare failed  it will throw NewCompareFailedError.

### Expected Behavior

1. compareAndSwap should support idempotent retry.
2. if version or value mismatch, should return true/false rather than direct return e

[2022-03-15 09:16] yanliang567 commented on #16033
it seems that restart is a workaround for this issue, remove from 2.0.2 and keep tracking in 2.1

[2022-03-15 09:32] xige-16 commented on #13045
releated with #15662

[2022-03-15 09:40] yhmo commented on #15653
Java SDK start to use the milvus-proto as submodule: https://github.com/milvus-io/milvus-sdk-java/pull/267

[2022-03-15 09:42] sunby commented on #16045
/unassign
/assign @jennyli-z

[2022-03-15 10:19] DragonDriver commented on #16049
[2022/03/14 18:53:02.186 +00:00] [DEBUG] [collection_replica.go:213] ["Successfully add collection "] [collectionID=0]

[2022-03-15 10:29] DragonDriver opened #16057 "[Bug]: LoadMetaInfo not set in load balance task"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://github.com/milvus-io/milvus/issues/16048
https://github.com/milvus-io/milvus/issues/16049

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-03-15 10:32] jingkl opened #16059 "[Enhancement]: update the testcase to 2.0.2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

 update all  the testcase to 2.0.2

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-03-15 11:53] jaime0815 commented on #15897
There is not a bug, but the error log is confusing.

[2022-03-15 12:10] DragonDriver commented on #16049
querynode down will cause querycoord to do load balance. In this case, querycoord will migrate all collections/partitions loaded into old querynode to newer querynode.

querycoord schedule the tasks sequencely, such as load collection, release collection and load balance. So if the load balance task can't be finished, the rest tasks in the queue will block. Here, the load request sent by the clien

[2022-03-15 12:14] jaime0815 commented on #15897
@xige-16 will take a look at this issue

[2022-03-15 12:17] DragonDriver commented on #16057
/assign

[2022-03-15 12:37] #16057 closed

[2022-03-15 12:50] DragonDriver commented on #16048
same as #16049

[2022-03-15 13:51] #16029 closed

[2022-03-15 14:02] soothing-rain commented on #15523
I think this is the same issue as: #15896

Taking @wangting0128 's last comment for example, standalone server "did not recover" here because it could not connect to etcd and MinIO:
![image](https://user-images.githubusercontent.com/69466447/158394515-80f11e1f-7378-4c37-a040-3a882f20ca22.png)
![image](https://user-images.githubusercontent.com/69466447/158394573-f62126db-10a6-49f9-b110-cd6386a4e65e

[2022-03-15 15:12] zhuwenxing commented on #16049
It still failed for querynode pod kill after #16060 merged.  see https://github.com/milvus-io/milvus/runs/5555468232?check_suite_focus=true

[2022-03-15 16:06] xiaofan-luan commented on #7703
keep it open

[2022-03-15 16:07] xiaofan-luan commented on #15532
keep it open

[2022-03-15 16:07] xiaofan-luan commented on #15415
see also https://github.com/milvus-io/milvus/issues/7703

[2022-03-15 19:22] avsolatorio commented on #15824
Hello @xiaofan-luan , yes it got fixed on the daily build. :)

Here's my milvus service, using the daily build with the fix.
[code]

Here's a screenshot showing the search working with 1M records inserted in the index.

<img width="1224" alt="image" src="https://user-images.githubusercontent.com/3009596/158454834-0b8f794e-016b-4887-97af-d4f43bf3ee51.png">

[2022-03-16 01:31] xiaofan-luan commented on #15952
should be fixed 16038

[2022-03-16 01:31] #15952 closed

[2022-03-16 01:34] xiaofan-luan commented on #15584
The memory increase seems to be ok with because the rocksmq cache size is 1GB.
So I guess for standalone this should be expected and other memory increase maybe related to other issues of proxy memory increase and coord memory increase

[2022-03-16 01:36] xiaofan-luan commented on #15583
duplicate with #16041

[2022-03-16 01:37] jennyli-z commented on #16045
![image](https://user-images.githubusercontent.com/93511422/158499415-15e697d4-0570-4f95-942f-89f45e897170.png)
Should be fixed already, I will close it.

[2022-03-16 01:37] #16045 closed

[2022-03-16 01:38] xiaofan-luan commented on #15583
might be no duplicated, but the reason of growing segment, keep it open

[2022-03-16 01:50] bigsheeper commented on #16041
I'll take a look

[2022-03-16 02:12] DragonDriver commented on #16048
/assign @zhuwenxing
/unassign

[2022-03-16 02:40] zhuwenxing commented on #16049
It reproduced Stably
https://github.com/zhuwenxing/milvus/runs/5563656216?check_suite_focus=true

[2022-03-16 02:41] DragonDriver commented on #16049
Apologize. I missed the rescheduled tasks.

I noticed that querynode has been killed many times. So querycoord was always trying the load balance task, if target querynode didn't response, the related task will be rescheduled and I forget to set the meta of rescheduled tasks.

[2022-03-16 02:43] DragonDriver commented on #16049
I will fix it in #16065 .

[2022-03-16 03:19] wangting0128 commented on #15658
argo task: benchmark-wh2n4

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-cluster-8c64m

client pod: benchmark-wh2n4-3443809388

server:
[code]

monitor:

<img width="1373" alt="截屏2022-03-16 11 18 45" src="https://user-images.githubusercontent.com/26307815/158509974-9263713e-cbd5-42d1-9b45-ab5e742e38bc.png">

<img width="1366" alt="截屏2022-03-16 11 19 18" s

[2022-03-16 03:48] czs007 commented on #15658
![image](https://user-images.githubusercontent.com/59249785/158512810-258a8744-069d-4fe3-ba57-6c34400cd899.png)

gorountine leak detected in RootCoord.

[2022-03-16 04:57] yah01 opened #16067 "[Bug]: Unit test case `test OOM` asserts an OOM error but got another error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

unit test case `test OOM` in `internal/querynode/task_test.go`, mocks a segment with many records, tries to cause OOM by this, but the `checkSegmentSize()` method only check the `SegmentSize` field of `SegmentLoadInfo`. The test case asserts an OOM error but passes be

[2022-03-16 04:57] yah01 commented on #16067
/assign

[2022-03-16 06:16] xiaojuan8 opened #16069 "[Bug]: large size data insertion leads to exception "Connection reset by peer""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Insert vectors of large size will cause "connection reset by peer"
my issue is posted in discussion ： https://github.com/milvus-io/milvus/discussions/16054

### Expected Behavior

When I insert vectors of size (<512M), "Connection reset by peer" error should not happe

[2022-03-16 06:33] yanliang567 commented on #16069
sounds like that the pulsar service is not working with such a heavy insert workload. could you please help to check the pulsar service? Also it would be helpful, if you could share the resource configuration(cpu, memory, disks) for pulsar and milvus pods, and pod logs as well.

/assign @xiaojuan8
/unassign

[2022-03-16 06:47] binbinlv commented on #12259
Fixed, and closed.

[2022-03-16 07:08] congqixia commented on #16025
Checked the timeout problem around "2022-03-11 09:22:00"
The `GetIndexState` arrived proxy:
[code]
Found Collection Name and ID *431748653359562753* mapping in Rootcoord():
[code]
And the timeout log was:
[code]
Browsed all the IndexCoord log around 09:20~09:22, there was a gap that no incoming request of GetIndexState:
![image](https://user-images.githubusercontent.com/84113973/158534923-7f904c95

[2022-03-16 07:30] jingkl commented on #16025
Ok，I will give feedback on this issue

[2022-03-16 08:37] #13876 closed

[2022-03-16 08:56] qiaoyuKs commented on #2202
where is the patch that fixed the bug, same problem with 1.1.1

[2022-03-16 09:19] jaylmilan commented on #3624
were you able to solve this by increasing memory limit? I am facing same gprc error. Thanks

[2022-03-16 09:25] sunby commented on #15658
@wangting0128 fixed.

[2022-03-16 09:25] sunby commented on #15658
/assign @wangting0128
/unassign

[2022-03-16 09:46] zhuwenxing commented on #16049
Verified and passed in version `a3a29fed `

[2022-03-16 09:46] #16049 closed

[2022-03-16 09:50] xiaojuan8 commented on #16069
CPU is: 32 core.
50Gi limit on mem, set in helms value.yml
Disk is mounted using local-pv, so there shouldnt be a limit, disk has 500G+ empty space per server

[2022-03-16 09:54] zhuwenxing commented on #16048
verified and passed in version `f3eeecf1 `

[2022-03-16 09:54] #16048 closed

[2022-03-16 09:56] zhuwenxing commented on #15966
One more failed job https://github.com/zhuwenxing/milvus/runs/5565687965?check_suite_focus=true

[2022-03-16 09:58] yangyongjx opened #16074 "[Bug]: cluster mode ,query node down"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I want to run the demo Lab Test 2: 100-Million-Scale Vector Similarity Search,but when I load the index,the query node died.

### Expected Behavior

I want to run the demo Lab Test 2: 100-Million-Scale Vector Similarity Search,but when I load the index,the query node

[2022-03-16 10:04] yanliang567 commented on #16074
@yangyongjx thank you for your issue. Could you please update the issue with English?
it sounds like the memory of querynode is not enough for loading the data.

/assign @yangyongjx
/unassign

[2022-03-16 10:12] yangyongjx commented on #16074
1:run the demo https://github.com/milvus-io/bootcamp/blob/master/benchmark_test/lab2_sift1b_100m.md
2:insert 41,500,000 records
3:load the index failed ,the querynode is down
4:try load again ,it notice "no online queryload to query“

[2022-03-16 10:14] yangyongjx commented on #16074
If the memory of querynode is not enough for loading the data ，I think it should not be down ,it should notice me the memory is not enough

[2022-03-16 10:14] #16059 closed

[2022-03-16 10:19] #15374 closed

[2022-03-16 10:29] jingkl commented on #15523
The current case is a stable recurrence with a filter ， you can try this case with a filter. Scenarios without filtering are run-throughs
[code]

[2022-03-16 10:32] yanliang567 commented on #16074
@yangyongjx could you please collect the querynode with 'kubectl logs --previous' to get the pod logs before crash?

[2022-03-16 10:51] WeiDong-Shi opened #16079 "[Bug]: milvus crashes when insert data with 10 processes x10 threads"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Environment

[code]

### Current Behavior

At present, I use 10 processes in the test. There are 10 threads in each process, and the number of data written by each thread is 10000. In the middle of the test, the mlivus node crashes.
We have also tested the smaller volume than this time and found the same probl

[2022-03-16 10:55] yangyongjx commented on #16074
[c4b896960558d38a0e09ad23ecbde5b258ce8918f580054ad9766a708866b83a-json.log](https://github.com/milvus-io/milvus/files/8261397/c4b896960558d38a0e09ad23ecbde5b258ce8918f580054ad9766a708866b83a-json.log)

[2022-03-16 10:55] Swd1993 commented on #16079
In addition, I execute 10 processes on two other servers, and there are not too many 5 processes on the server.

[2022-03-16 11:00] yanliang567 commented on #16074
looks like a known issue in 2.0.1, which was fixed in master.
Could you please retry with master daily build?
https://hub.docker.com/layers/milvusdb/milvus-dev/master-latest/images/sha256-081842fd010f59570f367a5bece63c7ab03674990805405db236ba68b9949322?context=explore

[2022-03-16 11:09] yanliang567 commented on #16079
@Swd1993 I don't think standalone would take so much heavy insert(10*10*10000 entities at a time), I don't know the dim of your data, but I still suggest you retry with milvus cluster. Moreover, if you do want to insert with big throughput, i suggest you customize the pulsar service with more resource and replicas.

[2022-03-16 12:10] xiaofan-luan commented on #7704
keep it open

[2022-03-16 12:12] yanliang567 commented on #16079
/assign @Swd1993
/unassign

[2022-03-16 13:06] yhmo commented on #16043
There is a "cache_size" in the server_config.yaml, by default it is 4GB. That means the memory usage will be controled around 4GB. The cache strategy is "LRU", that means the cache will grow until it hit the 4GB limit. So, if the milvus memory usage is steadily keep around the "cache_size", than it is as-designed.

[2022-03-16 13:10] congqixia commented on #15896
Reproduced in recent stable run:
![image](https://user-images.githubusercontent.com/84113973/158597034-ef0336e6-74c0-4249-a219-77364f4086a2.png)
https://kibana-dev.milvus.io/app/discover#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'2022-03-16T10:00:00.000Z',to:'2022-03-16T11:56:44.000Z'))&_a=(columns:!(log),filters:!(),index:ad1e1c50-c9d9-11eb-9e1a-b3dcad9693fd,interval:auto,qu

[2022-03-16 13:12] jaylmilan opened #16081 "[Bug]: Encountering grpc error while indexing."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Encountered grpc error while indexing.

2022-03-15 17:19:55,434 ｜ ERROR ｜ decorators.py ｜ handler ｜ 81 ｜ grpc RpcError: [get_index_state], <_MultiThreadedRendezvous: StatusCode.UNAVAILABLE, Socket closed>, <Time:{'RPC start': '2022-03-15 17:19:50.516033', 'gRPC error'

[2022-03-16 13:14] wangting0128 commented on #15896
argo task: fouram-no-clean-b6tj2

test yaml:
client-configmap:testing-config
server-configmap:server-single-32c128m

client pod: fouram-no-clean-b6tj2-4059441652

client log:
[code]

client config:
`{'locust_random_performance': {'collections': [{'collection_name': 'sift_10m_128_l2', 'ni_per': 50000, 'build_index': True, 'index_type': 'ivf_sq8', 'index_param': {'nlist': 2048}, 'task': {'types': [{

[2022-03-16 14:34] soothing-rain commented on #15896
As per discussion with @congqixia , it looking like there's segment fault on the Segcore or Knowhere side.

However since there's no stack trace, it is rather difficult to debug.

IMO we could either:
1. Add environment variable `export GOTRACEBACK=crash` before starting Milvus to print core dump files, that we can further investigate with GDB/LLDB. Or,
2. Try something like outputting symbols int

[2022-03-16 14:45] soothing-rain commented on #15523
Update:

Upon offline discussion with @LoveEachDay , it turns out the the services was shutting down when the workflow failed, in this case, standalone service found that Etcd & Minio were unreachable (k8s services are deleted before Pods are shut down, causing DNS to fail IMO).

Anyway, this means, as I mentioned in the previous comment, that the proxy's failure is not Milvus's fault. I'd say thi

[2022-03-17 01:23] yanliang567 commented on #15896
@soothing-rain if it were a knowhere issue, can we reproduce it in a lighter way within knowhere level?

[2022-03-17 01:36] xiaofan-luan commented on #16079
How much memory is there on your service?  I guess the crash is probably caused by OOM, you could check dmesg see if there is any message about OOM and also offer the log if there are any error message.

[2022-03-17 01:36] xiaofan-luan commented on #16079
In 2.1 we will introduce data import,  by then if would be much efficient to do bulk insertion

[2022-03-17 01:37] Folgerjun commented on #15897
@jaime0815 Hi, is this issue solved?

[2022-03-17 01:38] xiaofan-luan commented on #16074
We'll also release 2.0.2 soon to solve this issue

[2022-03-17 01:40] yanliang567 commented on #16081
@jaylmilan could you please share some reproduce code and milvus pod logs(especially for indexnode pod logs) for investigation?

/assign @jaylmilan
/unassign

[2022-03-17 01:40] yangyongjx commented on #16074
https://hub.docker.com/layers/milvusdb/milvus-dev/master-latest/images/sha256-081842fd010f59570f367a5bece63c7ab03674990805405db236ba68b9949322?context=explore

Failed to load image layers
An error occurred while loading this page: Failed to find image="sha256:081842fd010f59570f367a5bece63c7ab03674990805405db236ba68b9949322" in list of images for namespace="milvusdb", reponame="milvus-dev", tag="ma

[2022-03-17 01:40] xiaofan-luan opened #16082 "[Bug]: Remove etcd server metrics in milvus metrics"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

We've seen annoying metrics even if we didn't start embedded etcd server.

### Expected Behavior

We should remove these metrics if etcd server didn't start

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-03-17 01:50] LoveEachDay commented on #16074
https://hub.docker.com/r/milvusdb/milvus-dev/tags， choose the most recent image tag.
Use the specfic tag like `master-20220316-d65cf530`, instead of `master-latest`.

[2022-03-17 02:13] Folgerjun commented on #15897
The volume of requests for index files is very high, and response codes are mostly 4XX

![response-code](https://user-images.githubusercontent.com/24917694/158722748-e601b471-0b2a-4095-ad98-c4eab6d4efa8.png)

<img width="1255" alt="milvus-error" src="https://user-images.githubusercontent.com/24917694/158722786-3b12db51-b01e-4238-ae22-985627b88196.png">

[2022-03-17 02:16] jaime0815 commented on #15897
Nope， it is not a bug, only need to refine it.

[2022-03-17 02:19] jaime0815 commented on #15897
is there 4XX error code from client  response?

[2022-03-17 02:19] Swd1993 commented on #16079
I understand what you mean. I have also tested it in the cluster mode. There will be the same problem in the concurrent operation. Because my business needs continuous concurrent writes, I need to test our bottleneck to determine the hardware selection. At present, the node collapse will lead to the fault of our business. If the node does not collapse, I can also conduct direct supplementary recor

[2022-03-17 02:24] Swd1993 commented on #16079
My service memory is currently 32g. It is true that the memory will be full when writing. I don't know if there is not enough memory in the buffer to cause the node to crash. There is a great possibility of oom. I will continue to test and try to find the reason later.

[2022-03-17 02:29] Swd1993 commented on #16079
dim: 2048

[2022-03-17 02:46] Swd1993 commented on #16079
Yes, by oom. Do we have any good suggestions for such a situation?

[三 3月 16 18:26:26 2022] oom-kill:constraint=CONSTRAINT_NONE,nodemask=(null),cpuset=774c57ae415df4ec3da306b02ede301f11923a89b838f6299433b2b0e69f1e5b,mems_allowed=0,global_oom,task_memcg=/docker/774c57ae415df4ec3da306b02ede301f11923a89b838f6299433b2b0e69f1e5b,task=milvus,pid=4942,uid=0
[三 3月 16 18:26:26 2022] Out of memory: Killed p

[2022-03-17 03:11] XuanYang-cn commented on #15769
/assign

[2022-03-17 03:14] wangting0128 commented on #15658
argo task: benchmark-tag-no-clean-2gn2s

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-cluster-8c64m

client pod: benchmark-tag-no-clean-2gn2s-3813670370

server:
[code]

monitor:
<img width="1371" alt="截屏2022-03-17 11 13 25" src="https://user-images.githubusercontent.com/26307815/158729351-6ebcf2a7-fafd-409c-b265-42acb3d201d6.png">

<img width="1355" alt=

[2022-03-17 03:24] XuanYang-cn commented on #15769
"msgThroughputIn" : 43858.03222891093,
  "msgRateOut" : 100.90049394778086,
  "msgThroughputOut" : 131574.24410790624,

@fightingyuman  according to this RateOut and RateIn, the backlog size should become smaller and smaller. Could you inspect the search topic again with `./pulsar-admin topics stats "persistent://public/default/by-dev-search-0"` ?

This helps me to identify if there're any not clo

[2022-03-17 03:33] jingkl commented on #15896
server-instance
benchmark-tag-no-clean-pmtwc-1
server-configmap
server-single-32c128m
client-configmap
client-random-locust-100m-ddl-r8-w2

server

[code]
milvus tag：2.0.2-20220316-0594bf2e
client log：
[client_s_to.log.zip](https://github.com/milvus-io/milvus/files/8281189/client_s_to.log.zip)

[code]

[2022-03-17 03:41] XuanYang-cn commented on #15769
"waitingReadOp" : true,

according to pulsar https://pulsar.apache.org/docs/en/admin-api-topics/#get-internal-stats, all 3 subscriptions consumed all messages, waiting for new messages to publish.

[2022-03-17 03:42] yangyongjx commented on #16074
use the version,where exec load command,it will not crash,
but when I try to delete the record,the querynode crashed,and the Attu connect failed ,it notice timeout of 60000 ms exceeded
<img width="956" alt="milvus_attu_202203171140" src="https://user-images.githubusercontent.com/3679298/158732441-fb223c91-c66c-4f17-a86f-729ab4be7e09.PNG">

(base) brave@brave-MS-7B48:~/software/milvus/data/billion/

[2022-03-17 03:46] yangyongjx commented on #16074
+querynode logs
[Uploading querylog202203171144.txt…]()

[2022-03-17 03:56] xiaofan-luan commented on #16079
I would suggest to insert in 1000 batch with 10 concurrency and that should be working fine

[2022-03-17 03:57] xiaofan-luan commented on #16079
because 1w 2048 dim vectors will take around 150M memory

[2022-03-17 03:59] XuanYang-cn commented on #15769
"markDeletePosition" : "11:33",
"markDeletePosition" : "11:34",

Even though the curses' positions are at 384, they only asked messages before 11

Seems all subscriptions ackes are done out of order, the subscriptions seems to be jumping between ledgers. Looking into codes now.

[2022-03-17 04:01] WeiDong-Shi commented on #16079
can understand what you mean. In actual use, it may be written about 100 at a time, but under concurrent writing, may we have the same problem? At present, I can't start more processes, so I use more methods at a time. I want to know if our service can't write more at a time, Or is there any way to limit the number of concurrent Milvus

[2022-03-17 04:04] WeiDong-Shi commented on #16079
Finally, I hope that in the current situation, if our writing ability is not enough, will the interface reject the request instead of blocking the overflow of waiting memory. This is what I want to know. I need to know how to configure it.

[2022-03-17 06:02] yanliang567 commented on #16074
@yangyongjx   i guess you attached the wrong link for querynode logs

[2022-03-17 06:38] #15985 closed

[2022-03-17 06:55] letian-jiang opened #16085 "[Enhancement]: QueryNode invoke column-based insertion of segcore"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Currently, there are two versions (row-based and column-based) of insert messages in the message stream. At the producer side, the insert node in querynode flowgraph transforms column-based data into row-based data and then calls the function of inserting row-based data provid

[2022-03-17 07:00] soothing-rain commented on #15896
We still need to find out the entry point on C++ side. I have chatted with @LoveEachDay and figured out how to do core dump on our qa cluster. We can go from there.

Either me or @congqixia can further investigate this and #15523 , but we might need another 1-2 days.

[2022-03-17 07:51] zxcvjl opened #16087 "[Bug]:has not been loaded to memory or load failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

 I use pymilvus to query ,   when i use pymilvus to query collection
  it often appears:
pymilvus.client.exceptions.BaseException: <BaseException: (code=1, message=collection 431863486177345537 has not been loaded to memory or load failed)>

log:
[ERROR] [segment_allo

[2022-03-17 08:06] yangyongjx commented on #16074
[bc7f0646f4067e302e1280ca4a1e5587dd86da2e670a1008c27104c6d3a3f38a-json.log](https://github.com/milvus-io/milvus/files/8282521/bc7f0646f4067e302e1280ca4a1e5587dd86da2e670a1008c27104c6d3a3f38a-json.log)

update the log file.

[2022-03-17 08:21] chensanle commented on #16043
Thanks for your reply.
I probably understand. the Milvus cache_size is set to 50Gib.

[2022-03-17 08:37] lzhin opened #16089 "[Bug]: can not load new collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

when insert data, the computer crashes, and then can't load the new collection. The log in querynode is as follow:
![image](https://user-images.githubusercontent.com/17926066/158769916-fa867d6f-d7f6-40cf-8843-8d9b782904cc.png)

### Expected Behavior

_No response_

##

[2022-03-17 08:38] jingkl opened #16090 "[Enhancement]: Add the testcase of search with consistency level"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

 Add the testcase of search with consistency level

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-03-17 08:59] JackLCL commented on #16089
@lzhin
Your server version is 2.0.1. But your pymilvus version is 2.0.0rc8. Please upgrade your pymillvus version to 2.0.1 and try again.

[2022-03-17 09:05] XuanYang-cn commented on #15368
@ThreadDao is this still a problem now?

/unassign
/unassign @sunby
/assign @ThreadDao

[2022-03-17 09:12] lzhin commented on #16089
We have temporarily solved this problem by clearing etcd Minio and other data. Now it is normal.
Before we also click to release or delete at Attu, but the page stuck and cannot be deleted. If we encounter this problem again, we will try to upgrade pymilvus and delete the collection.
But the problem now is that once this happens, the new collection cannot be loaded and retrieved.

[2022-03-17 09:46] ss892714028 opened #16095 "[Feature]: Caching bitset for hybrid search"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

During a hybrid search, Milvus uses a bitset to filter vectors before computing distances. However, there is currently no mechanism for caching the generated bitset. I would like to propose to cache the bitset for future hybrid search with the sam

[2022-03-17 09:58] xiaofan-luan commented on #16095
We probably not need to cache on it but we will implement different kind of index on scalar data.
So far no evidence show that scalar filtering is slow, and we are waiting for some basic benchmark to make decision

[2022-03-17 10:06] XuanYang-cn opened #16097 "[Bug]: MacOS Code Checker action fails at downloading"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://github.com/milvus-io/milvus/runs/5583652369?check_suite_focus=true

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-03-17 10:32] yanliang567 commented on #16074
It seems that the pulsar service is broken
[code]
Could you please double check the pulsar service is running? please help to upload the pulsar logs if possible.

[2022-03-17 10:46] Folgerjun commented on #15897
I checked the access logs, not from client response. I guess the lots of requests from milvus self,  does milvus always keep scanning the index files? I don't know if that's the case.

From this, index files have too many requests

[2022-03-17 12:01] wangting0128 commented on #15658
argo task: benchmark-tag-4g6jg

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-cluster-8c64m

client pod: benchmark-tag-4g6jg-1479696586

image: master-20220316-d65cf53

server:
[code]

monitor:

<img width="1363" alt="截屏2022-03-17 20 01 20" src="https://user-images.githubusercontent.com/26307815/158804318-5ce0a076-f00e-4df4-a627-e53cc9d58c1c.png">

<img wi

[2022-03-17 12:09] pwichmann commented on #15952
Ni hao, @xiaofan-luan,

Is v2.0.2 available already?
I ran into the same issue with Milvus v2.0.1:

[code]

[2022-03-17 12:57] #15489 closed

[2022-03-17 12:57] #15184 closed

[2022-03-17 12:57] #15471 closed

[2022-03-17 12:57] #15473 closed

[2022-03-17 12:57] #15474 closed

[2022-03-17 12:57] #15460 closed

[2022-03-17 12:57] #15475 closed

[2022-03-17 13:21] letian-jiang commented on #16085
/assign

[2022-03-17 15:36] xiaolongjiangkolena commented on #1133
/reopen

[2022-03-17 15:37] xiaolongjiangkolena commented on #1133
do you happen to implement this?

[2022-03-17 15:43] xiaolongjiangkolena opened #16101 "[Feature]: The paging function"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

would be great if we can do pagination instead of only return topK result back.

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

_No response_

[2022-03-17 16:01] Victor-Future opened #16102 "[Bug]: The collection load failed before the collection's data was inserted！"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

The following error occurs when I try to load the data in the collection while the data in the collection is not fully inserted：
_RPC error: [wait_for_loading_collection], <BaseException: (code=1, message=collection 431862526189240321 has not been loaded to memory or

[2022-03-17 16:11] xiaofan-luan commented on #16102
duplicated and should be working on 2.0.2 or the current day build

[2022-03-17 16:13] xiaofan-luan commented on #16101
pagination is needed for query or range search, but might not be in KNN search.
What's the scenario you want to use paging? like the topk is really large?

[2022-03-17 16:16] xiaofan-luan commented on #1133
This is on our plan of Milvus 2.2, but not the milvus 1.x version. See our roadmap here https://wiki.lfaidata.foundation/display/MIL/Milvus+2.X+Roadmap+and+Time+schedule

[2022-03-17 16:19] xiaolongjiangkolena commented on #16101
our use case is we would like to use filter and vector search together. If we only restrict to topK, we will miss some result if filter itself can return larger than  topK result .

[2022-03-17 16:56] #15457 closed

[2022-03-18 01:56] #15490 closed

[2022-03-18 02:22] zhuwenxing commented on #15966
It reproduced in the local environment :http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/1726/pipeline

log:
[artifacts-rootcoord-pod-kill-1726-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8299374/artifacts-rootcoord-pod-kill-1726-server-logs.tar.gz)

[2022-03-18 04:43] yangyongjx commented on #16074
[pulsar202203181239.log](https://github.com/milvus-io/milvus/files/8301615/pulsar202203181239.log)
I have restart the service, so I am not sure whether the pulsar service is running ,and the attachement is the log which is include today.

[2022-03-18 04:48] #15499 closed

[2022-03-18 04:55] yangyongjx commented on #16074
And I try to reproduce the problem ,I insert a billion records again,( python main.py --collection ann_100m_sq8 --insert
)but the processed was hanged after insert 31,000,000 records. from the Attu dashboard,the querynode disappear,but from the docker view,querynode process is still running.
[7454860b7dcc3c7c03ad26ded52d586de326a97d4f02f1f5b2303d17f8f7a368-json.log](https://github.com/milvus-io/mi

[2022-03-18 04:58] yangyongjx commented on #16074
<img width="960" alt="mivlus202203181255" src="https://user-images.githubusercontent.com/3679298/158940236-2a820d5b-df92-43a1-a499-9ac07b3c50c5.PNG">
 the processed was hanged

[2022-03-18 04:59] yangyongjx commented on #16074
<img width="683" alt="mivlus202203181257" src="https://user-images.githubusercontent.com/3679298/158940327-7769c39c-8f1c-4038-a1ff-eda622c41313.PNG">
sorry，the last comment upload the error image,the processed was hanged ，

[2022-03-18 05:13] chunyuforka opened #16103 "[Bug]: milvus-datanode CrashLoopBackOff"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

## helm install milvus
[code]

### Expected Behavior

## All components can be booted up, but after a period of time an error will occur
### The following components are always down：
- milvus-datanode
- milvus-querycoord
- milvus-querynode

[code]
## milvus-datanode L

[2022-03-18 05:25] yangyongjx commented on #16074
[datacoord202203181315.log](https://github.com/milvus-io/milvus/files/8301792/datacoord202203181315.log)
[datanode202203181305.log](https://github.com/milvus-io/milvus/files/8301794/datanode202203181305.log)
[datanode202203181315.log](https://github.com/milvus-io/milvus/files/8301795/datanode202203181315.log)
[etcd202201381319.log](https://github.com/milvus-io/milvus/files/8301796/etcd202201381319

[2022-03-18 06:35] WeiDong-Shi commented on #16079
At present, I am using the cluster mode. The writing mode is 5 processes. There are 5 threads in each process. The number of data written by each thread is 1000, and the vector dimension is 2048. The test found that the data node still crashes.

[2022-03-18 07:00] WeiDong-Shi commented on #16079
Because the log cannot be uploaded, I sent it to you by email.

[2022-03-18 07:01] WeiDong-Shi commented on #16079
@xiaofan-luan
Because the log cannot be uploaded, I sent it to you by email.

[2022-03-18 07:32] #15504 closed

[2022-03-18 07:51] #16082 closed

[2022-03-18 08:52] yhmo commented on #16043
768 dim, 1M rows, data size is less than 4GB. No need to set 50GB. 4 ~ 6 GB is enough.

[2022-03-18 09:09] haorenfsa opened #16106 "[Bug]: Bucket rootPath config not working as expected when using AWS S3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

- Milvus version: v2.0.1
- Deployment mode(standalone or cluster): standalone
- Others: using external S3 storage from aws

config milvus's storage as:

[code]

### Current Behavior

The rootPath milvus uses in bucket is in fact `/yelusion-test001//0000001-milvus/in01-bdee1b970e4b2a20b3ab0659937/`

[2022-03-18 09:28] yanliang567 commented on #16087
looks like a dup to #15952, which was fixed now in master.

[2022-03-18 09:29] yanliang567 commented on #16087
@zxcvjl please check in next release, or use master daily build if you cannot wait

[2022-03-18 09:31] yanliang567 commented on #16089
looks like a dup to https://github.com/milvus-io/milvus/issues/15952, which was fixed now in master.

[2022-03-18 09:40] Teagum opened #16107 "[Bug]: Installation of Milvus offline fails because save_image.py does not download image"
### Is there an existing issue for this?

- [ ] I have searched the existing issues

### Environment

[code]

### Current Behavior

Installation of Milvus offline fails because `save_image.py` does not download images but exits without error status.

### Expected Behavior

File download should either complete, or abort with error status.

### Steps To Reproduce

[code]

### Anything else?

_No res

[2022-03-18 09:45] yanliang567 commented on #16106
sounds like a design change for AWS @xiaofan-luan

/assign @xiaofan-luan
/unassign

[2022-03-18 09:46] Teagum opened #16108 "[Bug]: requirements.py is missing requirement"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Step _3. Pull and save image_ of [Install Milvus Offline](https://milvus.io/docs/v2.0.x/install_offline-docker.md#Install-Milvus-Offline) fails because `requirements.txt` is missing requirement `pyyaml`.

### Expected Behavior

_No response_

### Steps To Reproduce

[

[2022-03-18 09:47] yanliang567 commented on #16107
@LoveEachDay could you please help on this issue?

/assign @LoveEachDay
/unassign

[2022-03-18 09:54] yanliang567 commented on #16103
i guess it was caused by no access to minio, while maybe we need a more specific error message for this case. @LoveEachDay  could you please help to double check the root cause?
/assign @LoveEachDay
/unassign

[2022-03-18 09:54] LoveEachDay commented on #16107
You can make the following checks:
1.  check whether docker is running
2. check your download `docker-compose.yml` is valid.

[2022-03-18 09:58] yanliang567 commented on #16102
@Victor-Future you can first collection.load() and then collection.insert().

[2022-03-18 09:59] yanliang567 commented on #16102
@Victor-Future also please retry with latest build. thanks.

/assign @Victor-Future
/unassign

[2022-03-18 09:59] lzhin commented on #16089
Ok, thank you very much!

[2022-03-18 09:59] #16089 closed

[2022-03-18 09:59] LoveEachDay commented on #16103
The error message: `server error: ConsumerBusy: Exclusive consumer is already connected" name=msfwt subscription=by-dev-dataNode-3132-431885383566360577 topic="persistent://public/default/by-dev-rootcoord-dml_8` is clear.
This is not minio related. It's about pulsar subscription. It seems we have an exclusive subscription but want multiple consumers under the same subscription.
/unassign

[2022-03-18 10:01] yanliang567 commented on #16103
@sunby please help on this issue.
/assign @sunby

[2022-03-18 10:06] yanliang567 commented on #16108
@Teagum sounds like a good first issue, are you interested in fixing it yourself :)

[2022-03-18 10:07] yanliang567 commented on #16108
please feel free to assign to yourself if anyone is interested. :)

[2022-03-18 10:38] Victor-Future commented on #16102
Ok, check the latest version and try again to see if this bug still exists

[2022-03-18 10:44] Victor-Future commented on #16102
@yanliang567  My question is similar to this one #15952, so let's test it out

[2022-03-18 10:54] jennyli-z commented on #16097
1. One reason is the action is in degraded performance make the network on action is not that stable
     https://www.githubstatus.com/history
3. Another reason is `https://ftp.wayne.edu/apache/thrift` is not able to download  thrift for  version 0.13.0

As rerun the action can make it passed, so I think we could close this issue for now. @yanliang567
![image](https://user-images.githubusercontent

[2022-03-18 10:54] jennyli-z commented on #16097
/assign @yanliang567
/unassign

[2022-03-18 11:01] soothing-rain commented on #15896
Hey here's some coredump info. Let me know if you guys need more.

[coredump_threadsapplyallbtfull.txt](https://github.com/milvus-io/milvus/files/8303850/coredump_threadsapplyallbtfull.txt)
[coredump_btfull.txt](https://github.com/milvus-io/milvus/files/8303852/coredump_btfull.txt)

[2022-03-18 11:37] Mercurialll opened #16111 "[Bug]: query by id on k8s is much slower than just in docker-container"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I conduct query-search by ID in standalone version just in docker-container -> I get speed around 10-50ms.
When I conduct query-search by ID in standalone version in k8s cluster -> I get speed around 200-400ms.

### Expected Behavior

I expected to get the same s

[2022-03-18 11:49] yanliang567 commented on #16111
@Mercurialll thank you for your issue and repro code. we will investigate it soon.

[2022-03-18 13:01] JackLCL commented on #15207
@nameczz If so, it would be nice to have a hint next to the result of count.

[2022-03-18 13:02] JackLCL commented on #12896
Any updates for this issue?

[2022-03-18 13:03] JackLCL commented on #11023
Any updates for this issue?

[2022-03-18 13:44] #15516 closed

[2022-03-18 14:20] letian-jiang commented on #11023
Sorry for the delay. Gonna work on this issue next week.

[2022-03-18 14:23] soothing-rain commented on #15523
Per offline discussion, considering it duplicate as #15896 for now.

[2022-03-18 15:00] ThreadDao opened #16114 "[Bug]: Create collection hangs and cannot create producer on topic with backlog quota exceeded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. deploy milvus cluster by operator, and all replicas are 1
2. Run the following script multiple times: create a collection and insert 10 million vectors in multiples.
However, during this period, the disk of the node was filled many times, causing many pods to be ev

[2022-03-18 16:43] ufuk23 opened #16115 "[Bug]: ID array size problem for the advanced search"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I search a vector using the advanced filter with 1M ids' like this "pk in =[1, 2, 3, ...]" it takes a long time. It's about 3-4 seconds for 100K ids' and 30 seconds for 1M ids'. It means the more id size, the more response time.

Why we need this case is we have

[2022-03-18 17:33] sugia commented on #15133
Hi, some more logs related to doing a query and crashing a query node:

[2022/03/18 17:29:14.778 +00:00] [DEBUG] [segment_loader.go:219] ["loading bloom filter..."]

[2022/03/18 17:29:14.793 +00:00] [DEBUG] [segment_loader.go:227] ["loading delta..."]

[2022/03/18 17:29:14.793 +00:00] [INFO] [segment_loader.go:479] ["there are no delta logs saved with segment"] [segmentID=431900801043005441]

pani

[2022-03-18 17:42] #15519 closed

[2022-03-18 17:42] #15521 closed

[2022-03-18 17:59] Teagum commented on #16108
Alright, @yanliang567 , I'll to that.

[2022-03-18 18:41] #16067 closed

[2022-03-19 00:43] yanliang567 commented on #16108
great, thx.
/assign @Teagum

[2022-03-19 01:50] xiaofan-luan commented on #15521
keep it open~

[2022-03-19 01:50] xiaofan-luan commented on #15519
keep it open~ We want to support it in the need future

[2022-03-19 01:51] xiaofan-luan commented on #15516
already implemented~

[2022-03-19 01:58] xiaofan-luan commented on #16111
hi @Mercurialll, what kind of persistent volume are u using while running on K8s cluster?
Guess this might be related to the pvc speed of k8s

[2022-03-19 02:01] xiaofan-luan commented on #15896
@cydrain any ideas? we need to fix this before 2.0.2 release

[2022-03-19 02:05] xiaofan-luan commented on #16115
Hi uf,
what is the search condition in solr?
If it's simply some inverted index on int or string milvus is gonna to support soon.
Actually we did not do too much performance optimization and the in operation will be simply optimized to a bunch of and operation,  which may cause very slow speed

[2022-03-19 02:05] xiaofan-luan commented on #16115
/assign @DragonDriver can you verify the current in operation physical plan and see what we can do?

[2022-03-19 02:05] xiaofan-luan commented on #16115
/assign @DragonDriver

[2022-03-19 02:06] xiaofan-luan commented on #16115
@yanliang567 attribute filtering should be considered soon after milvus 2.1 release I guess

[2022-03-19 02:07] xiaofan-luan commented on #15133
hi @bigsheeper please take a look on this~

[2022-03-19 04:24] xiaofan-luan opened #16116 "[Bug]: TestInsertLogInterator can not pass under macos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

=== RUN   TestInsertlogIterator/test_dispose
SIGABRT: abort
PC=0x7fff20377462 m=3 sigcode=0

### Expected Behavior

all ut should pass

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-03-19 08:10] yanliang567 commented on #16115
agree.

[2022-03-19 08:13] yanliang567 commented on #16114
/unassign

[2022-03-19 08:16] yanliang567 commented on #16114
@ThreadDao  about "However, during this period, the disk of the node was filled many times, causing many pods to be evicted and restarted.", is it a designed chaos by testcase or something wrong by accident?

[2022-03-19 09:39] #8668 closed

[2022-03-19 09:44] ufuk23 commented on #16115
If you can achieve the performance optimization for the "pk in" query, that will be great.

We show data with the Solr filter according to user permissions. And some users have admin permission, and they may search the whole data. I mean, it is a common scenario used in practice.

Perhaps we can use some extra fields on Milvus that already exist on Solr, but we don't want to do it. We want to use

[2022-03-19 10:26] #15612 closed

[2022-03-19 12:32] #15364 closed

[2022-03-19 12:43] Ceeton commented on #15364
Regards

[2022-03-19 13:46] haorenfsa commented on #13434
/reopen

[2022-03-19 13:58] ATUFO opened #16117 "[Bug]: Server can not be recovered after docker-compse restart"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I create a new service ,I can index and query data.  In the tests , I inserted 32 records .It's nothing wrong , but when I restart my server or exec `docker-compose restart    |     docker restart xxxx` ( in a word, restart the service), the search didn't work.

[2022-03-19 15:19] zhuwenxing commented on #16117
Hi, you can check the status of the Milvus container. Searching may cause querynode panic after the container is restarted, see https://github.com/milvus-io/milvus/issues/15713. But in the latest version, this issue should have been fixed.

[2022-03-19 17:37] #15505 closed

[2022-03-19 17:37] #15503 closed

[2022-03-20 01:07] ATUFO commented on #16117
The version I installed is v2.0.1 。 I have seen #15713 .After that , I updated milvus from v2.0.0 to v2.0.1 。But I have the same problem。

`there are too few available query nodes to balance`  means what? No querynods or at least one querynode exists?
[code]

[2022-03-20 02:03] xiaofan-luan commented on #16117
Usually this means:
1) memory is not enough for the querynode to load data
2) querynode is not healthy for some reason.

My suggestion is 1) check if you have enough memory to load data 2) if that's not the case, upload your log in querynode/querycoord and we will help you on investigation

[2022-03-20 02:05] xiaofan-luan commented on #15524
this may still b a issue so keep it open

[2022-03-20 06:50] k-for-code commented on #3250
I am facing a similar issue, I have raw data in CSV format which accounts for around 6.8GB, 3217379 vectors.
Each vector is of 440 float value length.
When i put these values in sizing tool, it shows
![image](https://user-images.githubusercontent.com/59497032/159151326-d0daa2d6-95f6-4aac-8c6d-b52792ff4e4a.png)
but on my system, it accounts for 136 GB, which is far far more than expected even if I

[2022-03-20 06:52] cydrain commented on #15896
@xiaofan-luan @yanliang567
From coredump backtrace, cannot find useful information why system panic.

For Milvus repo, knowhere code has no change since 2022/02/09 (#15491 separate knowhere from Milvus)
This issue is reported on 2022/03/06.
Can we test the daily build image before 2022/03/06 to find out from which day this issue is revealed ?

[2022-03-20 07:07] yanliang567 commented on #15896
if #15523 does duplicate to this one, then it first reproduced on master-20220209-767b13f

[2022-03-20 08:37] #15540 closed

[2022-03-20 08:37] #15308 closed

[2022-03-20 11:25] #15773 closed

[2022-03-20 11:25] #15970 closed

[2022-03-20 11:25] #15879 closed

[2022-03-20 13:11] #15449 closed

[2022-03-21 01:00] yanliang567 commented on #16117
@ATUFO you could also try with latest master build.

/assign @ATUFO
/unassign

[2022-03-21 01:02] yanliang567 commented on #16097
close for now

[2022-03-21 01:02] #16097 closed

[2022-03-21 02:25] bigsheeper commented on #15133
Hi，@sugia, this issue has been fixed, see #15713 ,  you can use the daily build or soon on 2.0.2 release

[2022-03-21 02:52] XuanYang-cn commented on #16114
@ThreadDao I need more information to identify what's reason for DataNode to fail for the first time:

1. What's the **total size** in GB of data you intend to insert, please add them all.
2. Which node consumes disks? Pulsar? DataNode?
3. What's the retentionInTime and retentionInSize configs of pulsar

[2022-03-21 03:00] XuanYang-cn commented on #16114
According to pulsar's log, the restarted DataNode subscribed with a different subscirpition name, especially `by-dev-dataNode-38-431891580976889857"`, which consumes nothing, causing all data stalled in backlog, causing no producers able to create or produce(timeout with 30s by default), which stuck the create collection part.

So there're 2 problems here:

1. Why DataNode restarts for the first t

[2022-03-21 03:10] XuanYang-cn commented on #16055
/assign
/unassign @xiaofan-luan

Let me take this

[2022-03-21 03:12] XuanYang-cn commented on #15986
Using rocksmq is just a work around, the underline problem is still there. So add this to backlog.

[2022-03-21 03:15] XuanYang-cn commented on #15368
Actually, this's still a problem, DN didn't control its Memory status now.

[2022-03-21 03:16] XuanYang-cn commented on #15368
/assign

[2022-03-21 03:29] LoveEachDay commented on #15751
Fixed at #16084

[2022-03-21 03:29] #15751 closed

[2022-03-21 04:26] yangyongjx opened #16119 "Lab Test 2: 100-Million-Scale Vector Similarity Search ,after the load the command,querynode crash[Bug]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

after exec the command python3 main.py --collection ann_100m_sq8 --load,the querynode crash

### Expected Behavior

load the data success
[logs202203211215.tar.gz](https://github.com/milvus-io/milvus/files/8313071/logs202203211215.tar.gz)

### Steps To Reproduce

[cod

[2022-03-21 04:35] ThreadDao commented on #16114
I did this experiment for the first time and didn't design it, it's just what happened in my experiment

[2022-03-21 05:01] yanliang567 commented on #16119
@congqixia could you please help on this issue?
/assign @congqixia
/unassign

[2022-03-21 05:09] congqixia commented on #16119
in querynode log, the "unexpected signal" is found:
[code]
Might be the same as #15896  @soothing-rain @cydrain

[2022-03-21 05:56] xiaofan-luan commented on #15593
@soothing-rain maybe 10 mins is well enough for the cache?

[2022-03-21 06:04] xiaofan-luan commented on #15282
promethus should be working for now

[2022-03-21 06:11] binbinlv commented on #15282
OK, will observe the following nightly, thanks.

[2022-03-21 06:41] ThreadDao commented on #16114
The reason the DataNode failed the first time was that I increased the disk fill causing the pod to be evicted and restarted
1. I intend to insert as much data as possible. There 6 collections:
[code]
2.  Which node consumes disk? I don't quite understand what you want to know
3. I didn't set retentionInTime and retentionInSize , it should be the default

[2022-03-21 06:46] ThreadDao commented on #16114
I think the reason for the DN restart is that out of disk pods are evicted and restarted. As for why the disk is not enough because I fill the disk (this is chaos experment)

[2022-03-21 06:47] ThreadDao commented on #16114
And I re-insert new data into the existed collection 'disk_3Y7MChs5', insert successfully but flush entities hangs

[2022-03-21 06:47] ThreadDao commented on #16114
I think the reason for the DN restart is that out of disk pods are evicted and restarted. As for why the disk is not enough because I fill the disk (this is chaos experment)

[2022-03-21 07:46] xqxq-2020 opened #16121 "[Bug]: cannot find collection but has it"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After I create a collection name 'icd',but i run my programe have a error:
![06a66176c5d99caa784d70bb6919094](https://user-images.githubusercontent.com/62696048/159221189-5d33389d-b448-4a5b-8931-e703ac5c2e75.png)

the dashboard have this collection:

![070c3b29704b35e

[2022-03-21 08:06] yy9991818 opened #16122 "[Bug]: milvus-stand-alone abnormal termination"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

when I do bootcamp (text_search_engine), milvus abnormal termination
![image](https://user-images.githubusercontent.com/46162118/159222990-710644e8-f1b1-4e57-85bb-dbf06be294aa.png)
![Uploading image.png…]()

### Expected Behavior

_No response_

### Steps To Reproduce

[2022-03-21 08:12] yanliang567 commented on #16121
@xqxq-2020 could you please retry with the latest release 2.0.1? If it reproduced for you, please help to upload the milvus pod logs for investigation?

/assign @xqxq-2020
/unassign

[2022-03-21 08:16] cydrain commented on #15896
reproduce configuration
[code]

[2022-03-21 08:18] yanliang567 commented on #16122
@yy9991818 it seems that the etcd service is offline, could you please make sure that the etcd is running?
/assign @yy9991818
/unassign

[2022-03-21 08:42] WeiDong-Shi opened #16123 "[Bug]: Memory usage exception during load"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

During the test, 100W pieces of data were written. The vector dimension was 2048. After loading, about 107 g of memory was used. The environment was clean and no other services were running.During the second test, the memory is used normally, and then try to reproduce

[2022-03-21 08:52] WeiDong-Shi commented on #16123
Add the log. The last log upload should have failed.
[Docker_Logs-2022.03.21-16:26:46.tar.gz](https://github.com/milvus-io/milvus/files/8314099/Docker_Logs-2022.03.21-16.26.46.tar.gz)

[2022-03-21 08:53] yanliang567 commented on #16123
one quick question:
did you build index before load collection? what is the index type and index params?

[2022-03-21 08:57] WeiDong-Shi commented on #16123
The data is not indexed or loaded before collection. After data is written, the index is created first and then loaded.
Index type: IVF_ FLAT
Index parameter: metric_ type:L2，nlist:128

[2022-03-21 08:58] WeiDong-Shi commented on #16123
The data is not indexed or loaded before collection. After data is written, the index is created first and then loaded.

[2022-03-21 08:58] yanliang567 commented on #16123
one more question:
before load collection, how much memory was used? when 107g memory was used, how much for querynode? and waht about the other nodes?

[2022-03-21 08:59] WeiDong-Shi commented on #16123
Before the collection, the environment was clean and the memory usage was less than 2G. After the test, the memory usage of the node was not checked.

[2022-03-21 09:02] WeiDong-Shi commented on #16123
The test with the problem is to write the data first, then build the index, and then load the data.

Index type: IVF_ FLAT

Index parameter: metric_ type:L2，nlist:128

[2022-03-21 09:36] yanliang567 opened #16126 "[Bug]: Query latency is not stable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

query response time is from 8ms to 800ms randomly.

### Expected Behavior

query is fast and stable

### Steps To Reproduce

[code]

### Anything else?

[code]

[2022-03-21 10:15] Teagum commented on #16107
I used `curl` to download the files instead of `wget`. The problem is that by default `curl` does not follow redirects but instead downloads the redirect notification.

So, be sure to add `-L` flag if you use `curl`:

    curl -L <URL> -o out_file

[2022-03-21 10:15] #16107 closed

[2022-03-21 10:49] nohack commented on #15558
Yeah, I would like to see some good first issues.

[2022-03-21 10:57] yanliang567 commented on #16111
@Mercurialll as xiaofan said above, I tested with 1 million 1024 dim data, the query latency is about 20ms averagely(but not stable enough #16126), but it does not make difference between deployment on k8s or docker-container. Could you please check again with the same persistent volume(for minio)?

/assign @Mercurialll
/unassign

[2022-03-21 11:10] cydrain commented on #16119
Hi @yangyongjx , can you attach your script here ?

[2022-03-21 11:13] yangyongjx commented on #16119
use this https://github.com/milvus-io/bootcamp/blob/master/benchmark_test/scripts/main.py script

[2022-03-21 11:32] xiaofan-luan commented on #16126
how large is the dataset? this might be related to the cache policy of chunkManager

[2022-03-21 11:35] yanliang567 commented on #16126
1024d one million vectors

[2022-03-21 11:36] xiaofan-luan commented on #15558
@nohack feel free to talk to me on slack if you have no targets yet or you can simply start from this issue?

[2022-03-21 12:57] DragonDriver opened #16128 "[Bug]: Index may be not loaded after compaction"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Steps to reproduce:
- create collection
- insert data
- flush
- create index
- compaction
- load

In this case, after compaction, rootcoord will notify indexcoord to create index for the new segment and save the index-build-related information to the meta table of roo

[2022-03-21 12:57] DragonDriver commented on #16128
/assign
/assign @xige-16

[2022-03-21 14:55] k-for-code opened #16130 "[Bug]: Embedding retreival stuck for more than 12 hours"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Tried to retrieve embedding using a milvus_id, thread execution started and kept on running for more than 12 hours had to kill the process.
No exception, errors, or logs made

[code]

### Expected Behavior

Should have returned something, at least an error, exception,

[2022-03-21 15:44] dariocurr opened #16132 "[Enhancement]: Get whole collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I would like to have a method to retrieve all the rows from a collection, something like `SELECT *` in `SQL`.

Currently I achieve this goal using the following boolean expression: `index != -1`, but I guess this is not the best way to to this.

### Why is this needed?

I have

[2022-03-21 20:48] nohack commented on #15558
@xiaofan-luan sure.will ping you.

[2022-03-22 01:15] yanliang567 commented on #16130
@k-for-code how much is the length of list_of_ids in expr?  did you load the collection successfully before query? could you please help to upload the milvus container log for investigation?
/assign @k-for-code
/unassign

[2022-03-22 01:20] yanliang567 commented on #16123
@WeiDong-Shi  one more question:
before load collection, how much memory was used? when 107g memory was used, how much for querynode? and waht about the other nodes?

[2022-03-22 01:53] byeong0 commented on #9689
I have the same problem. search doesn't work anymore.

milvusdb/milvus:v2.0.0
pymilvus : 2.0.1

query node logs

[code]

proxy logs
[code]

[2022-03-22 01:56] zhuwenxing commented on #15966
failed job: https://github.com/milvus-io/milvus/runs/5632714838?check_suite_focus=true
log: [logs-rootcoord](https://github.com/milvus-io/milvus/suites/5742511778/artifacts/190470467)

[2022-03-22 02:07] yy9991818 commented on #16122
yes, etcd is not working,  why?
![image](https://user-images.githubusercontent.com/46162118/159392738-51cca8d2-b6a6-4aa8-b613-49a930af61aa.png)

[2022-03-22 02:09] xqxq-2020 commented on #16121
What are the specific  2.0.1 versions like this:
![image](https://user-images.githubusercontent.com/62696048/159393293-5aa66aad-910c-4821-8260-672cb0d22790.png)

[2022-03-22 02:09] yy9991818 commented on #16122
yes, etcd is not working, why?
![image](https://user-images.githubusercontent.com/46162118/159393555-0068ef10-0484-41cc-b9e7-e62119b7e2bc.png)

[2022-03-22 02:14] yanliang567 commented on #16122
@LoveEachDay could you please help to check why etcd is not online?

[2022-03-22 02:14] zhuwenxing opened #16133 "[Bug]: Create index timeout after datacoord pod recovered from pod kill"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all tests passed

### Steps To Reproduce

[code]

### Anything else?

failed job: https://github.com/milvus-io/milvus/runs/5632714245?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/5742511778/artifacts/190470458

[2022-03-22 02:15] cydrain commented on #15896
This issue is likely to be caused by #14207

[2022-03-22 02:19] yanliang567 commented on #16121
image: milvusdb/milvus:v2.0.1

[2022-03-22 02:20] yanliang567 commented on #16121
BTW, in case you want to use a latest master build: https://hub.docker.com/r/milvusdb/milvus-dev/tags, choose the most recent image tag.
Use the specfic tag like master-20220316-d65cf530

[2022-03-22 02:45] LoveEachDay commented on #16122
@yy9991818 Could you provide the etcd container log using the following command: `docker logs milvus-etcd > etcd.log`? And upload the etcd log.

[2022-03-22 02:51] zhuwenxing opened #16134 "[Bug]: Flush performance degrade for the collection created during chaos after datacoord pod recovered from pod kill"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

**Get collection entities cost 15.4309 seconds**
[code]

### Expected Behavior

**Get collection entities cost 3.7377 seconds**
[code]

### Steps To Reproduce

[code]

### Anything else?

failed job: https://github.com/milvus-io/milvus/runs/5632714245?check_suite_focu

[2022-03-22 02:55] yanliang567 commented on #16134
@zhuwenxing does this performance degrade persist? I am asking because I want to make sure it is not because of the first time it flushes

[2022-03-22 03:18] XuanYang-cn commented on #16114
- The problem:
1. DC and DN crashed at the same time
2. DN's old subscriptions are unable to close by DC

- Temporary solution:
Unsubscribe DN's old subscription by hand.

- Real solution:
#15846

[2022-03-22 03:19] WeiDong-Shi commented on #16123
Before the collection, the environment was clean and the memory usage was less than 2G. After the test, the memory usage of the node was not checked.

[2022-03-22 03:22] DragonDriver opened #16135 "[Bug]: Segment info won't be recorded into meta if no indexes are created"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

Segment meta should be recorded into meta's `partID2SegID` discarding the index state.

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-03-22 03:22] DragonDriver commented on #16135
/assign @cydrain

[2022-03-22 03:23] WeiDong-Shi opened #16136 "[Bug]: About the problem that the pulsar node cannot start after expanding the disk after the disk is full."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

In yesterday's test, we found that when the disk is full, we try to expand the disk and restart the service. We found that the pulsar service cannot be started. The current data size is 6 million and the data dimension is 2048.
[Docker_Logs-2022.03.22-10:41:10.tar.gz]

[2022-03-22 03:28] xqxq-2020 commented on #16033
The same problem is encountered, but it does not work after restart. Do you have any friends to solve it?

dashboard:

![67d427e795a666996962014e2684835](https://user-images.githubusercontent.com/62696048/159402020-8aec7379-7a76-4d88-8372-1626b356572c.png)

server error:

![511a3da8bafe60940ad736171fcbcc8](https://user-images.githubusercontent.com/62696048/159402043-3cedf1f2-1bb2-4e39-81de-6601b28

[2022-03-22 03:32] soothing-rain commented on #16033
Hi, can you check your logs and see if you have the same problem as the author of this issue?

You may also post your logs here if you are not sure what is going on.

[2022-03-22 03:33] WeiDong-Shi commented on #16136
Sorry, we have found the problem. It's the problem of zookeeper. We've solved it.

[2022-03-22 03:33] #16136 closed

[2022-03-22 04:04] yy9991818 commented on #16122
I don't know why etcd log file is empty. so I attach log info as follows:

[centos7@localhost log]$ sudo docker logs milvus-etcd > etcd.log
{"level":"info","ts":1647865237.607328,"caller":"flags/flag.go:113","msg":"recognized and used environment variable","variable-name":"ETCD_AUTO_COMPACTION_MODE","variable-value":"revision"}
{"level":"info","ts":1647865237.6074347,"caller":"flags/flag.go:113","

[2022-03-22 04:15] cydrain commented on #16135
As discussed with @DragonDriver , partID2SegID is for rootcoord index only, it cannot guaranteed that partID2SegID contains all segments for all partitions.
And rootcoord only knows meta about collection and partition, it knows nothing about segment.
If need get info about segment, should ask datacoord.

[2022-03-22 04:16] cydrain commented on #16135
/close

[2022-03-22 04:16] #16135 closed

[2022-03-22 05:41] xqxq-2020 opened #16137 "[Bug]: v2.0.1 server is not healthy,"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After change to 2.0.1 server is also not healthy, please try again later

The same problem is encountered, but it also does not work after restart. Do you have any methods to solve it?

dashboard:

![f942272ae0f17841c687e8a0bee9347](https://user-images.githubuserconte

[2022-03-22 06:02] xiaofan-luan commented on #16137
this seems to be etcd log.
if you can offer full log of standaloen server that would be helpful.

v2.0.0-rc5-hotfix1 is not compatible with 2.0 ga version.

[2022-03-22 06:05] xiaofan-luan commented on #16132
Yep, we have this in plan but it's delayed due to lack of manpower.
We want to implement a iterator and iterate through the whole collection

[2022-03-22 06:07] xqxq-2020 commented on #16137
I used version is 2.0.1

[2022-03-22 06:21] xiaofan-luan commented on #15558
/assign @nohack

[2022-03-22 06:25] xiaofan-luan commented on #16137
please offer logs and we will take a look~

[2022-03-22 06:28] xqxq-2020 commented on #16137
[milvus-etcd.log](https://github.com/milvus-io/milvus/files/8321722/milvus-etcd.log)
[minio.log](https://github.com/milvus-io/milvus/files/8321724/minio.log)
[milvus.log](https://github.com/milvus-io/milvus/files/8321725/milvus.log)

here is logs

[2022-03-22 06:36] zhuwenxing commented on #16134
Not sure, need more tests. These collections all are created during the chaos and empty. But why does it matter if it was the first time it flushes?

[2022-03-22 06:42] zhuwenxing commented on #15966
failed pipelines:
* http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/1841/pipeline

[2022-03-22 06:53] Mercurialll commented on #16111
Hello @yanliang567 @xiaofan-luan
PV= gp3

I will try to check again and then I'll post the results here

[2022-03-22 07:16] hiwwx commented on #15133
I met a similar problem.
In my case, I insert multiple entities by the same pk, and I can search the entity after deleting. So I guess delete logical did not work well while it perform on multiple data with duplicate pk.

[2022-03-22 07:20] hiwwx commented on #15744
I met a similar problem.
In my case, I insert multiple entities by the same pk, and I can search the entity after deleting. So I guess delete logical did not work well while it perform on multiple data with duplicate pk.

[2022-03-22 07:53] bigsheeper commented on #15133
Hi, @hiwwx, we don't recommend to insert entities by the same pk for now.

[2022-03-22 08:01] xiaofan-luan commented on #16041
@bigsheeper any progress?

[2022-03-22 08:17] soothing-rain commented on #15896
any ideas where the root cause is then?

[2022-03-22 08:48] yanliang567 commented on #16137
@xige-16  does it the same issue with #14873? but this is about standalone.
/assign @xqxq-2020
/unassign

[2022-03-22 08:52] yanliang567 commented on #16133
@XuanYang-cn coud you please help on this issue?
/assign @XuanYang-cn
/unassign

[2022-03-22 08:53] cydrain commented on #15896
try daily build docker image one by one, from "milvusdb/milvus-dev:master-20220208-55cdc5aa", this issue can be reproduced steadily.

Attach 2 panic logs:
[50m_0208_55cd.panic.tar.gz](https://github.com/milvus-io/milvus/files/8322689/50m_0208_55cd.panic.tar.gz)
[50m_0208_55cd.panic2.tar.gz](https://github.com/milvus-io/milvus/files/8322691/50m_0208_55cd.panic2.tar.gz)

[2022-03-22 08:56] Resuip opened #16140 "[Bug]: After docker-compsoe restarting , "proxy not healthy"！"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Using docker-comose restarts the Milvus2.0.1 docker service , manually creat collection, calls the Java-api interface through Milvus-java-sdk to insert the official doc sample data , when the docker-compose service restarts, Milvus displays "proxy not healthy" for any

[2022-03-22 09:29] LoveEachDay commented on #16122
`{"level":"warn","ts":"2022-03-21T12:24:11.339Z","caller":"wal/wal.go:802","msg":"slow fdatasync","took":"1.636099903s","expected-duration":"1s"}`
Your disk is slow for etcd. And slow disk is bad for a stable etcd service.

You'd better try to deploy a milvus standalone with docker-compose in an ssd disk.

[2022-03-22 11:22] letian-jiang opened #16142 "[Enhancement]: Optimize channel/segment allocation policy of QueryCoord"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

The current allocation policy assigns tasks to querynodes by iteratively picking the node with the lightest load(watched channels, disk usage, etc). To achieve this, we re-sort the available nodes list in each iteration by their adjusted workload. This can be replaced by a pri

[2022-03-22 14:28] simon-fauconnier opened #16144 "[Bug]: Querynode crash when loading a large collection "invalid memory address or null pointer dereference"."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

# Issue

When I load a collection of more than 12.5M entities, the querynode crashes with a panic :

[code]

Full querynode log : [milvus-querynode-6d8fffd5c9-vjs6m.log](https://github.com/milvus-io/milvus/files/8324928/milvus-querynode-6d8fffd5c9-vjs6m.log)

Helm cha

[2022-03-22 15:44] xiaofan-luan commented on #16111
That's because ann-search is only in memory while query by id access disk.

There are two possible solutions:
1) load original vector into memory
2) for some of the indexes (if not IVFPQ or SQ), we can directly load vector from index.

if you are intersted please help us on optimizing query by id feature @Mercurialll , or we will leave it to 2.2 until we have enough hands on it

[2022-03-22 15:54] xiaofan-luan commented on #15744
emm,  thought that is a different issue though. We are not expected to insert same entity ids.
But for sure it should be doable to cleanup all entities with same id, we can open another issue for that

[2022-03-22 15:55] xiaofan-luan commented on #15744
/assign @xige-16 could you help on investigating the issue?

[2022-03-23 01:15] yanliang567 commented on #16144
sounds like a known issue in 2.0.1, which was fixed in master. Could you please retry with the master build or wait for 2.0.2 release?
/assign @simon-fauconnier
/unassign

[2022-03-23 01:21] zhuyaguang commented on #16144
me too ,when restart milvus ,load collection crash
<img width="996" alt="image" src="https://user-images.githubusercontent.com/8857976/159603107-a7f1427b-09be-40ca-921d-4ec2995c3913.png">

[2022-03-23 01:22] xqxq-2020 commented on #14873
Excuse me, where could i change imagePullPolicy set to "Always"?

[2022-03-23 01:56] LoveEachDay commented on #16007
Fix in milvus-io/milvus-helm#307, try use milvus-helm `3.0.12` version.

[2022-03-23 01:57] LoveEachDay commented on #16007
/unassign
/assign @jennyli-z

[2022-03-23 02:00] zhuwenxing opened #16145 "[Bug]: Create index raise error after all standalone pod recovered from pod kill"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Anything else?

failed job: https://github.com/milvus-io/milvus/runs/5649221140?check_suite_focus=true
log: [logs-allstandalone](https://github.com/milvus-io/milvus/suites/575830

[2022-03-23 02:08] zhuwenxing commented on #16133
failed again today
failed job:  https://github.com/milvus-io/milvus/runs/5649221490?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/5758309064/artifacts/191399582

[2022-03-23 02:22] zhuwenxing opened #16147 "[Bug]: Search raise error after docker-compose restart milvus"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Anything else?

failed job: https://github.com/milvus-io/milvus/runs/5650819759?check_suite_focus=true
log: https://github.com/milvus-io/milvus/suites/5759862209/artifacts/191477

[2022-03-23 02:34] jennyli-z commented on #16007
/unassign
/assign @LoveEachDay

https://github.com/milvus-io/milvus/pull/16146 install failed， wait for the new chart version.

[2022-03-23 03:44] jingkl opened #16150 "[Bug]: [benchmark][standalone] Milvus load collection failed, rasie an error "collection has not been loaded to memory or load failed""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

server-instance
benchmark-cluster-cron-1647896400-1
server-configmap
server-single-32c128m
client-configmap
client-get-local50m-512

server:
[code]

client log:
[code]

grafana：
<img width="1363" alt="截屏2022-03-23 11 41 35" src="https://user-images.githubusercontent.c

[2022-03-23 06:08] yanliang567 commented on #16150
@congqixia could you please take a look at this issue?

/assign @congqixia
/unassign

[2022-03-23 06:39] letian-jiang commented on #11023
Based on the semantic versioning, the client of pymilvus-2.0 should be compatible with milvus-2.0 regardless of their patch/rc version. Therefore, this issue seems to be more like an implementation bug. @JackLCL

If version checking is indeed necessary in milvus, I think we can add a version field (major/minor) for every request and response. Additionally, we add a new error code indicating versio

[2022-03-23 07:05] #15450 closed

[2022-03-23 07:05] #15404 closed

[2022-03-23 07:09] Mercurialll commented on #16111
I dont understand what do you mean, can you clarify pls:

Do you mean ` collection.load()` and then conduct query? - if so , I always load collections before querying.

I use IVF_FLAT, how can I get data by id ? - I thought that only one way exists to do it: load collection and then conduct `collection.query(expr="id in [MY_ID]", output_fields=['id', 'vector'], consistency_level=ConsistencyLevel.E

[2022-03-23 07:16] soothing-rain commented on #15585
/assign @Presburger

[2022-03-23 07:50] yanliang567 commented on #15651
right now it is not a real secure connection, still need some updates in code

[2022-03-23 07:52] sunby opened #16154 "[Feature]: Multiple memory replications implementation [QueryCoord Part]"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

none

### Describe the solution you'd like.

We will manage multiple relications of collections in memory. This issue is to track the modification in QueryCoord.

- [x] #16156
- [x] #16158
- [x] #16157
- [x] #16159
- [x] #16160
- [x] #16161

### D

[2022-03-23 08:21] simon-fauconnier commented on #16144
Thanks, do you have a release date for version 2.0.2 with the helm chart?

[2022-03-23 08:51] kingy123 commented on #15937
使用每批量10w条共10批数据，维度是128

[2022-03-23 09:00] sunby opened #16156 "Modify/Add proto structures"

[2022-03-23 09:00] sunby opened #16157 "Modify loading logic to support multiple replications"

[2022-03-23 09:00] sunby opened #16158 "Add new replica group interface"

[2022-03-23 09:00] sunby opened #16159 "Modify balance and handoff logic"

[2022-03-23 09:00] sunby opened #16160 "Add new interface to retrieve collection replications leaders"

[2022-03-23 09:01] XuanYang-cn commented on #15846
/assign

[2022-03-23 09:11] JackLCL commented on #16137
@xige-16
pls help to investigate this issue.

[2022-03-23 10:27] congqixia opened #16163 "[Bug]: QueryCoord Unit test has data race"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Data race detected in QueryCoord unit test
[code]

### Expected Behavior

Unit tests passes without data race.

### Steps To Reproduce

[code]

### Anything else?

https://github.com/milvus-io/milvus/runs/5658125083?check_suite_focus=true

[2022-03-23 10:45] DrBamba commented on #15823
Is this issue solved in 2.0.1? If not is there an expected estimation as for when will it be solved?

[2022-03-23 10:51] letian-jiang commented on #15823
Solved in 2.0.2

[2022-03-23 13:23] lrtz-v opened #16167 "[Bug]: create index failed, goroutine invalid memory address"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I built a collection with two fields: id and embeddings.
After 1M vectors were inserted, I called `create_index` function:
[code]
Then, I got failure, and the container log is here:
<img width="1408" alt="infoflow 2022-03-23 20-49-29" src="https://user-images.githubus

[2022-03-24 01:03] yanliang567 commented on #16167
@DragonDriver is this a known issue in 2.0.1 and was fixed already in master?

/assign @DragonDriver
/unassign

[2022-03-24 01:17] yanliang567 commented on #16147
@sunby could you please help on this issue, it is reported frequently recently in community.

/assign @sunby
/unassign

[2022-03-24 01:20] yanliang567 commented on #16145
@xiaocai2333 could you please help on this issue? it looks like a regression issue this week.

/assign @xiaocai2333
/unassign

[2022-03-24 01:51] xiaocai2333 commented on #16145
All right! I will check it.

[2022-03-24 02:32] congqixia commented on #16150
Like @bigsheeper found, the reason loading failed was out of memory:
![image](https://user-images.githubusercontent.com/84113973/159830332-be281b8e-dcd1-4c5b-9f8d-7bf33fb14631.png)

https://kibana-dev.milvus.io/app/discover#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'2022-03-22T19:00:00.000Z',to:'2022-03-22T19:11:00.000Z'))&_a=(columns:!(log),filters:!(),index:ad1e1c50-c9d9-11

[2022-03-24 02:33] xige-16 commented on #15744
If there is a duplicate pk in a segment, delete log will only match the first one, and the bitset generated during query is incorrect

https://github.com/milvus-io/milvus/blob/ca129d4308cc7221bb900b3722dea9b256e514f9/internal/core/src/segcore/ScalarIndex.cpp#L67

[2022-03-24 02:33] xiaofan-luan commented on #16167
think so, ,mark it as duplicated

[2022-03-24 02:59] xiaofan-luan commented on #16150
@yah01 @congqixia we need fallback concurrenty to 1 and retry?

[2022-03-24 03:14] congqixia commented on #16150
Make sense for this solution increases availability. What do you think? @yah01

[2022-03-24 03:23] zhuwenxing commented on #16147
failed job: https://github.com/zhuwenxing/milvus/runs/5666841651?check_suite_focus=true
log: https://github.com/zhuwenxing/milvus/suites/5775653160/artifacts/192383950

[2022-03-24 03:25] zhuwenxing commented on #16147
This does not 100% happen. In the Milvus origin repo, this action job passed, but in my fork repo, it failed.

[2022-03-24 03:38] xiaofan-luan commented on #15677
keep it posted, the progress happens on java SDK side

[2022-03-24 03:40] xiaofan-luan commented on #15744
will try to fix this in later version

[2022-03-24 04:13] #15560 closed

[2022-03-24 04:43] yah01 commented on #16150
@xiaofan-luan @congqixia it makes sense for a temp fix, This PR(#16061) will limit the concurrency level of the SegmentLoader, we can do more with it in the future.

[2022-03-24 05:57] Renekton opened #16173 "[Enhancement]: Milvus does not update entity count immediately after deleting a piece of data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Milvus does not update entity count immediately after deleting a piece of data .

I would like to suggest a feature like that the milvus can update entity count successfully when the user delete a piece of data.

### Why is this needed?

when user delete a piece of data, milvu

[2022-03-24 06:21] wangfeifans opened #16175 "[Bug]: milvus-pulsar-bookkeeper pod can't start."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

我们的数据量比较大，数亿张图片张量数据
从milvus单机版切换到集群版本以来，已经崩溃了三次，每次都是milvus-pulsar-bookkeeper -1这个节点出现问题
![3](https://user-images.githubusercontent.com/65521300/159854062-369d2a1e-5245-4ae0-9547-a61d3b77b6c8.png)
![2](https://user-images.githubusercontent.com/65521300/159854092-379938

[2022-03-24 06:23] cydrain commented on #15896
Run binary with code base (20220208-55cdc5aa) + fix (#16162)  5 times, cannot reproduce this panic any more.
This fix (#16162) should be fine.

[2022-03-24 06:28] cydrain opened #16176 "[Enhancement]: Reduce memory usage when load index"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

When load index, memory usage is tripled.
one for go side, one for index assemble, one for knowhere.
Need find some way to save memory usage.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-03-24 06:28] cydrain commented on #16176
/assign

[2022-03-24 06:58] cydrain opened #16177 "[Enhancement]: Check memory safe when pass from GO to C++"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

When GO send memory address to C++ using CGO unsafe.Pointer, we should guarantee that memory is copied in C side.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-03-24 06:58] cydrain commented on #16177
/assign

[2022-03-24 09:44] #16140 closed

[2022-03-24 10:08] yanliang567 commented on #16175
@wangfeifans Hi there, thank you for the issue. Could you please update the issue in English so that more people around the world could join this conversion.

/assign @wangfeifans
/unassign

[2022-03-24 10:44] yanliang567 commented on #15660
@binbinlv does this issue still repro

[2022-03-24 11:14] Tom-debugs commented on #16175
现在网页翻译这么方便，外国朋友应该不存在看不懂这个issue吧...

[2022-03-24 12:41] #15933 closed

[2022-03-24 13:01] jingkl opened #16183 "[Enhancement]: Modify the case about collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Modify the case about collection
Update pymilvus version

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-03-24 13:27] #15469 closed

[2022-03-24 13:27] #12465 closed

[2022-03-24 13:27] #14605 closed

[2022-03-24 13:28] #14775 closed

[2022-03-24 13:28] #15392 closed

[2022-03-24 13:28] #15418 closed

[2022-03-25 01:19] binbinlv commented on #15660
No, it just occurs once.

[2022-03-25 02:32] zhuwenxing commented on #16147
* failed job: https://github.com/milvus-io/milvus/runs/5682811757?check_suite_focus=true
search raise error when docker-compose down then docker-compose up

* failed job: https://github.com/milvus-io/milvus/runs/5682811757?check_suite_focus=true
search raise error when docker-compose restart

[2022-03-25 02:54] sunby commented on #16163
/lgtm

[2022-03-25 02:55] zhuwenxing commented on #16147
/assign @xige-16
Please help to take a look, it happened a lot recently

[2022-03-25 03:21] ThreadDao commented on #16114
I found out yesterday that dml_2 topics added a subscription from a new dataNode id-38. It is worth noting that the dataNode and dataCoord did not restart, but all pulsar bookkeeper pods restarted several times.
[code]
After i unscribe the "by-dev-dataNode-38-431906376226963457", flush not hangs.

[2022-03-25 03:45] #15592 closed

[2022-03-25 04:53] lijonnas opened #16191 "[Bug]: Datacoord node start failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

the datacoord log is the following:

here is the milvus config milvus.yaml:

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-03-25 06:13] LoveEachDay commented on #16191
[code]
According to the above log, seems milvus connect to external s3 failed. Could you check whether the access for external s3 is valid? You can use the `mc` tool to verify following the instructions [here](https://docs.min.io/docs/minio-client-complete-guide.html).

[2022-03-25 07:13] miche2020 opened #16193 "[Bug]: milvus-standalone exited with code 2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When i start docker compose with filled vectors volumes, I have an error milvus-standalone exited with code 2. When I delete volumes docker compose up starts correctly.
[log.txt](https://github.com/milvus-io/milvus/files/8348247/log.txt)
[docker-compose.txt](https://g

[2022-03-25 07:34] yanliang567 commented on #16193
@miche2020 checking the logs, I found it actually failed when trying to load the previous filled vectors into memory. It looks like known issue in 2.0.1, which was fixed in master. Could you please retry with master build or just waiting for 2.0.2 release. there would be a 2.0.2 release early next week.

/assign @miche2020
/unassign

[2022-03-25 07:44] miche2020 commented on #16193
Can i use milvus 2.0.0?

[2022-03-25 07:48] wangting0128 commented on #16041
pymilvus==2.0.2.dev5

[2022-03-25 07:57] yanliang567 commented on #16193
Mmm, if you don't mind the issues fixed in 2.0.1 and later.  But personally I suggest you use the latest one.

[2022-03-25 08:17] congqixia opened #16195 "[Enhancement]: Add grpc interface for replica Search/Query in QueryNode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add grpc interface for replica Search/Query in QueryNode

### Why is this needed?

Remove mq dependency in search/query procedure

### Anything else?

_No response_

[2022-03-25 08:18] wangting0128 opened #16196 "[Bug]: [benchmark]The response time of the concurrent test interface is longer than before"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Compared with the version after **master-20220222-ce9662c1** and the version before **master-20220218-d0110732**, the response time of the concurrent interface is longer than before。

current results：
<img width="1357" alt="截屏2022-03-25 16 16 49" src="https://user-ima

[2022-03-25 08:42] zhuwenxing commented on #16147
/assign @jaime0815

please help to take a look

[2022-03-25 09:24] yanliang567 commented on #15642
keep it open

[2022-03-25 11:33] xiaofan-luan commented on #16196
@wangting0128 do we figure out which pr cause the performance degrade?

[2022-03-25 11:35] xiaofan-luan commented on #15896
/assign @jingkl please help on check the fix

[2022-03-25 11:46] jingkl commented on #15896
I will verify the issue. If there is no problem, I will close the issue

[2022-03-25 11:54] jingkl commented on #16041
argo
benchmark-tag-no-clean-r6zxf-1
server-configmap
server-single-32c128m
client-configmap
client-random-locust-50m-ddl-r8-w2-new

This is the result of monitoring the interface for two hours of operation：
Milvus 2.0.2  query average response time(ms)：
<img width="1359" alt="截屏2022-03-25 19 49 07" src="https://user-images.githubusercontent.com/34296482/160115655-04cfc799-7184-4197-91b1-9554efa1c7

[2022-03-25 12:18] wangting0128 commented on #16196
It is initially determined that there is a problem with the image after February 22, because the image master-20220221-b435c422 on February 21 has no problem, and there is only this image on the February 21.

[2022-03-25 13:27] lijonnas commented on #16191
thanks for your response, I've updated the config, but I got a new error:

here is the external s3 config:

Is there any misconf in my config, how should I correct it?
Thanks in advanced!

[2022-03-25 13:45] lijonnas commented on #16191
Thanks for your response, I've updated the config, but I got a new error:

here is the external s3 config:

and the rootPath "milvus-dev" has already been created under the bucket
what I missed in my config, how should I correct it?
Thanks in advanced!

[2022-03-25 13:58] lijonnas commented on #16191
I'v fixed this issue, the address should be "cos.ap-shanghai.myqcloud.com" without the bucket name

[2022-03-26 06:22] arshikasoni commented on #15764
Can we do something like uploading the documents to an S3 bucket and perform milvus text search on the data that we have in S3?

[2022-03-26 12:39] k-for-code commented on #16130
the length was 1, but I was not loading the collection, I have modified the code. Thanks

[2022-03-26 12:39] #16130 closed

[2022-03-26 16:05] lijonnas commented on #15283
Hey guys, I meet the similar issue again, after I manually delete the querycoord node.

Here is the log, I'v met this issue several times before

[2022-03-27 02:17] zhuwenxing opened #16203 "[Bug]: Upgrade Milvus from v2.0.0 to master-20220325-205c92e5 failed due to panic of querynode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

standalone
[code]

cluster
[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Anything else?

failed job:
* https://github.com/milvus-io/milvus/runs/5697970994?check_suite_focus=true
* https://github.com/milvus-io/milvus/runs/569

[2022-03-27 02:30] yanliang567 commented on #16203
/assign @congqixia

@zhuwenxing could u please try whether it repro on 2.0.0 upgrade to 2.0.2？

[2022-03-27 02:57] zhuwenxing commented on #16203
working on it

[2022-03-27 03:35] zhuwenxing commented on #16203
It is OK for upgrading to 2.0.2.
Upgrading failed happened only in those two days.

[2022-03-27 13:08] kingzcheung commented on #16003
Sorry, I went to do something else.

I forgot the steps about going from import to search.

[2022-03-28 01:01] yanliang567 commented on #16191
close the issue as it was fixed

[2022-03-28 01:01] #16191 closed

[2022-03-28 01:15] yanliang567 commented on #9672
lets keep it

[2022-03-28 01:16] yanliang567 commented on #10609
@ThreadDao does it still repro

[2022-03-28 01:17] yanliang567 commented on #10735
keep it active

[2022-03-28 01:19] yanliang567 commented on #14862
@ThreadDao does this still repro

[2022-03-28 01:21] yanliang567 commented on #16203
@congqixia @xiaofan-luan sounds like a regression issue for master, please take a look at it. thanks

[2022-03-28 01:22] yanliang567 commented on #12682
lets keep it

[2022-03-28 01:24] yanliang567 commented on #15333
@xiaofan-luan any updates for this issue?

[2022-03-28 01:35] yanliang567 commented on #15608
@jingkl was it fixed?

[2022-03-28 01:46] binbinlv commented on #15282
Same error occurs in the following three nightly tests again:

1. https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/weekly-milvus-nightly-ci%2Fweekly-milvus-ci-test/detail/weekly-milvus-ci-test/121/pipeline

(1) log [standalone]
[milvus-standalone-121-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/weekly-milvus-nightly-ci/job/weekly-milvus-ci-test/121/artifact/milvus-

[2022-03-28 01:46] binbinlv commented on #15282
Change the priority to p0 for reproduction.

[2022-03-28 02:07] xiaofan-luan commented on #15764
Nope, you can't do that because Milvus didn't work for specific data types such as image or text, an embedding pipeline such as hugging face or Towhee is needed.

Even if milvus support text, it's just for the convenience of retrieval and keyword search

[2022-03-28 02:10] jingkl commented on #15608
I think fixed some log output in case there is no printed information when hung, subsequent verification did not appear such problems, if it appears again will open this issue again

[2022-03-28 02:11] jennyli-z opened #16205 "[Bug]: [Code Checker] failed on MinGW because of knowhere"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://github.com/milvus-io/milvus/runs/5703704852?check_suite_focus=true
build failed at m
[code]

### Expected Behavior

should not fail

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-03-28 02:12] jennyli-z commented on #16205
@matrixji could you please help on this issue as you are familiar with windows?

[2022-03-28 02:14] jennyli-z commented on #16205
/cc @matrixji

[2022-03-28 02:16] jennyli-z commented on #16205
/assign @matrixji

[2022-03-28 02:51] jingkl commented on #16150
Recurrence of such problems

Argo：
benchmark-cluster-cron-1648414800
server-configmap
server-single-32c128m
client-configmap
client-get-local50m-512

server：
[code]
milvus image：master-20220327-478f6ca
pymilvus version ：2.0.2.dev5
client log：

[code]
grafana：
<img width="1345" alt="截屏2022-03-28 10 50 59" src="https://user-images.githubusercontent.com/34296482/160318350-c540a459-b39c-422f-a608-9e60

[2022-03-28 02:55] progzgq opened #16208 "[Bug]: Inaccurate query results using ivf_flat index"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

the index params is:
+----+--------------+--------------+---------------+---------+
|    | Field Name   | Index Type   | Metric Type   |   Nlist |
+====+==============+==============+===============+=========+
|  0 | vector       | IVF_FLAT     | L2            |     5

[2022-03-28 02:55] #16090 closed

[2022-03-28 02:55] #16183 closed

[2022-03-28 03:01] xqxq-2020 opened #16209 "[Bug]: Search raise error proxy not healthy，but it was normal before"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

After I start up the 3 required images with docker-compose up -d, I find All services are normal.

But the dashboard show：
![image](https://user-images.githubusercontent.com/62696048/160316927-77f143a1-7fe1-455b-a0c7-6bc7ebddcfb2.png)

And start up the demo programe t

[2022-03-28 03:04] matrixji commented on #16205
Sure. I've noticed this PR for upgrading knowhere may break MinGW's CI, I have rebased the PR for [supporting knowhere under windows](https://github.com/milvus-io/knowhere/pull/68) days before, guys in charge of knowhere could check if this PR acceptable.

[2022-03-28 03:16] sunby commented on #15658
There's no memory leak in rootcoord and datacoord. The increasing memory space is new allocated collection and segment meta.

[2022-03-28 03:23] wangting0128 opened #16211 "[Bug]: [benchmark][cluster] CPU of datanode keep going up and not going down when doing stability test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task: benchmark-tag-no-clean-7btlw

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-cluster-8c64m

client pod: benchmark-tag-no-clean-7btlw-3672893248

server:
[code]

monitor:
<img width="1371" alt="截屏2022-03-28 11 21 54"

[2022-03-28 03:35] jennyli-z commented on #16205
/assign @cydrain
/assign @matrixji

[2022-03-28 06:06] yanliang567 commented on #16209
@xqxq-2020 the link of etcd.log is broken, could you please re-upload the log? Also could you please upload the log for milvus standalone pod?

/assign @xqxq-2020
/unassign

[2022-03-28 06:08] yanliang567 commented on #16208
@yhmo could you please help on this issue?

/assign @yhmo
/unassign

[2022-03-28 06:18] xqxq-2020 commented on #16209
[etcd.log](https://github.com/milvus-io/milvus/files/8360082/etcd.log)

milvus standalone pod logfile is so big，i cannot upload it

[2022-03-28 06:22] xqxq-2020 commented on #16209
[milvus-standalone.log](https://github.com/milvus-io/milvus/files/8360097/milvus-standalone.log)

Here is only part of the milvus standalone log

[2022-03-28 06:29] yanliang567 commented on #16209
what is persistent volume of etcd, it is suggested to use SSD for high performance. According to the etcd logs, it seems that it is too slow that rootcoord failed in registering.

[2022-03-28 06:35] xqxq-2020 commented on #16209
To verify whether there is a disk problem, I have restarted the two dockers except etcd, but this error is still reported.
And we are not using SSD disks at present, and have been purchasing. However, one problem is that I successfully passed the recommendation system project before, but now it is not working

[2022-03-28 06:42] yanliang567 commented on #16209
/assign @LoveEachDay
@LoveEachDay could you please take a look at this issue?

/unassign

[2022-03-28 07:14] xiaofan-luan commented on #13045
@xige-16  so what is the expected behaviour?

[2022-03-28 07:15] xiaofan-luan commented on #15523
close and wait for verification on #15896

[2022-03-28 07:17] xiaofan-luan commented on #15665
this is the expect behaviour since we no longer support two types of compaction?
/assign @ThreadDao

[2022-03-28 07:17] LoveEachDay commented on #16209
According to the milvus log:
[code]
milvus cannot find the registered `rootcoord` endpoint from etcd. You can login to the `etcd` container, then run the following command to verify whether key `by-dev/meta/session/rootcoord` exists.
[code]
If not, you can run `docker-compose down` to stop the standalone cluster and remove the `volumes` directory. After that, you can run `docker-compose up -d` to

[2022-03-28 07:18] xiaofan-luan commented on #15705
@DragonDriver any progress?

[2022-03-28 07:19] zhuwenxing opened #16220 "[Enhancement]: Add a wrapper to record the request information"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add a wrapper to record the request information

### Why is this needed?

* It is convenient to get the response time
* It is helpful to analyze Milvus behavior with accurate information, like which collection did what operation in what time and the time cost for this operatio

[2022-03-28 07:19] xiaofan-luan commented on #15765
pulsar backlog issues

[2022-03-28 07:21] xiaofan-luan commented on #15810
please check if you search parameter is same (especially for metric type)

[2022-03-28 07:21] #15810 closed

[2022-03-28 07:25] xiaofan-luan commented on #16047
@soothing-rain any progress on this one?

[2022-03-28 07:27] xiaofan-luan commented on #16003
similar to #16147

[2022-03-28 07:28] xiaofan-luan commented on #16003
duplicated and should be fixed on 2.0.2

[2022-03-28 07:28] #16003 closed

[2022-03-28 07:28] soothing-rain commented on #16047
Upon our last discussion, we have deprioritized this task and the new plan is to take a deep look at it and fix it in v2.1.x.

[2022-03-28 07:35] #16167 closed

[2022-03-28 07:46] xqxq-2020 commented on #16209
After I remove the volumes directory，and run docker-compose up -d to start the milvus service again.

It seems run sucuess:

![8910fe3c4d38ec986fe63705f0e90a5](https://user-images.githubusercontent.com/62696048/160350665-653eafce-1351-4093-951f-f2ff95360931.png)

[2022-03-28 07:47] xiaofan-luan commented on #16041
could be related to #16196

[2022-03-28 07:48] xqxq-2020 commented on #16209
It seems to be successful, but I want to know why there is a problem, delete the file directory and then restart

[2022-03-28 07:57] #15831 closed

[2022-03-28 08:00] jennyli-z opened #16222 "[Bug]: Build failed on Centos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-publish-images/detail/master/4067/pipeline
milvus build failed on centos
![image](https://user-images.githubusercontent.com/93511422/160353064-6f034193-49ba-4436-b7a2-eaec7609307a.png)
![image](https

[2022-03-28 08:12] jaime0815 commented on #16147
![image](https://user-images.githubusercontent.com/4024711/160354862-bf61d560-5f33-4724-8d8d-cdfda8767ac4.png)
found a lot of WARN about put kv  data into Etcd failed.

[2022-03-28 08:29] wangting0128 commented on #16196
**master-20220222-3eb074a9**
low interface latency
server:
[code]

**master-20220222-9a6ee617**
high interface latency
serevr:
[code]

[2022-03-28 08:32] jaime0815 commented on #16147
[code]
According to the ERROR log, it seems a local environmental issue, your Etcd has dirty data.

[2022-03-28 08:37] jaime0815 commented on #16147
![image](https://user-images.githubusercontent.com/4024711/160358714-1f3d2e13-1b45-48ab-8ad2-39d199887b33.png)

there is a different issue with the above one,  putting data into Etcd failed.

[2022-03-28 08:39] LoveEachDay commented on #16209
Because the data that the milvus standalone cluster are persisted in the `volumes` directory. When the docker container crashes, it will restart using the persisted volumes. And the `metadata` milvus cluster uses may be messed up during several docker restarts. So I suggest that you'd better first check the metadata in the etcd container. Removing the `volumes` directory gives the milvus standalon

[2022-03-28 08:40] LoveEachDay commented on #16209
/unassign
/assign @xqxq-2020

[2022-03-28 10:26] congqixia commented on #16150
Looks like there was some network issue
![image](https://user-images.githubusercontent.com/84113973/160379051-9bea73f6-0508-45e9-b739-518db08cab6e.png)

[2022-03-29 01:12] yanliang567 commented on #16222
seems that cydrain has fixed the issue, please check @jennyli-z
/assign @jennyli-z

/unassign

[2022-03-29 01:43] yanliang567 commented on #15736
still working on it.
/unstale

[2022-03-29 02:39] jennyli-z commented on #16222
https://github.com/milvus-io/milvus/pull/16247 revert already

[2022-03-29 02:40] jennyli-z commented on #16222
/assign @cydrain
/unassign

[2022-03-29 02:53] wangting0128 commented on #15523
argo task: benchmark-cluster-cron-1648501200

test yaml:
client-configmap:client-search-filter-sift50m-ivf-flat-2048,instanceId:5,server-configmap:server-single-16c64m

server image:master-20220328-11cea5a

client pod: benchmark-cluster-cron-1648501200-3165270873

client log:
[code]

server:
[code]

[2022-03-29 02:53] jingkl commented on #15896
Milvus version：2.0.2-20220324-8f4479a4
pymilvus：2.0.2dev9
No problems with the above Milvus version verification, so turn off the issue

[2022-03-29 02:53] #15896 closed

[2022-03-29 03:06] jingkl commented on #16150
Argo
benchmark-cluster-cron-1648501200
server-configmap
server-single-32c128m
client-configmap
client-get-local50m-512

server：
[code]

client log：
[code]
Milvus : master-20220328-11cea5a
pymilvus: pymilvus==2.0.2.dev5

[2022-03-29 03:09] xiaofan-luan commented on #16211
if data keeps increasing then compaction may take more cpus, which is as expect?

[2022-03-29 03:26] bigsheeper commented on #16041
could be fixed by #16216

[2022-03-29 03:28] sunby commented on #16196
/assign @sunby

[2022-03-29 04:07] congqixia commented on #16150
There was an OOM kill:
![image](https://user-images.githubusercontent.com/84113973/160531083-af8a761d-5928-42ae-a64a-e24ae35c7e80.png)
And then after restart, standalone cannot return to service, which is related to #15523

[2022-03-29 04:07] soothing-rain commented on #15523
There are two subproblems here.

1. Milvus standalone still crashes after fix #15896 was fixed, despite the fact that the situation was the same. This requires further investigation.
2. Milvus standalone is not responding after restart. I couldn't see many valuable logs, the only warning/error like logs were queryCoord complaining about too few nodes to balance.
![LgCewwVVe7](https://user-images.g

[2022-03-29 05:06] soothing-rain commented on #15523
Resource wise, the standalone server went OOM before killed.
![image](https://user-images.githubusercontent.com/69466447/160537126-e5a5cc98-52ac-455e-91b1-693959a028fa.png)
![image](https://user-images.githubusercontent.com/69466447/160537174-dbc733cd-1751-46c9-887f-0f01f4cbe643.png)

@congqixia Do you think this is the same as #16150 ?

[2022-03-29 05:35] xiaofan-luan commented on #15523
why do 16150 related to memory consumption?

[2022-03-29 05:39] xiaofan-luan commented on #15523
we can try to limit the concurrency to 1 or 2 and check.
So far it seems that seperate index by chunk is useless and requires double memory to load data.

[2022-03-29 05:40] soothing-rain commented on #15523
It appears that in #16150 loading failed because Milvus is out of memory. The pod got killed for OOM.

Same thing here in this issue, pod got killed for OOM.

[2022-03-29 07:21] fffyyy415 opened #16258 "[Bug]: can not connect milvus"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

first,i start etcd
etcd log:
![image](https://user-images.githubusercontent.com/68848476/160553992-58248f1a-ba17-4316-89fd-6c25feb29776.png)
next,i  start milvus
milvus log
![image](https://user-images.githubusercontent.com/68848476/160554194-cc6a1246-77c2-4f22-b155-d

[2022-03-29 07:45] cydrain commented on #16222
fixed, please check again @jennyli-z

[2022-03-29 07:53] yanliang567 commented on #16258
@LoveEachDay any ideas?
/assign @LoveEachDay
/unassign

[2022-03-29 08:23] cydrain commented on #16176
C -> GO
querynode/reduce.go:94   getHitsBlob()  C.GetHitsBlob

GO -> C
querynode/plan.go:67   createSearchPlanByExpr()  C.CreateSearchPlanByExpr
querynode/plan.go:105   parseSearchRequest()  C.ParsePlaceholderGroup
querynode/plan.go:147 createRetrievePlanByExpr()  C.CreateRetrievePlanByExpr

querynode/load_index_info.go:114   appendIndexData()  C.AppendIndexBinary

querynode/segment.go:509  segmen

[2022-03-29 08:23] cydrain commented on #16177
C -> GO
querynode/reduce.go:94 getHitsBlob() C.GetHitsBlob

GO -> C
querynode/plan.go:67 createSearchPlanByExpr() C.CreateSearchPlanByExpr
querynode/plan.go:105 parseSearchRequest() C.ParsePlaceholderGroup
querynode/plan.go:147 createRetrievePlanByExpr() C.CreateRetrievePlanByExpr

querynode/load_index_info.go:114 appendIndexData() C.AppendIndexBinary

querynode/segment.go:509 segmentInsert() C.In

[2022-03-29 08:24] #16220 closed

[2022-03-29 08:30] jennyli-z commented on #16222
verified https://ci.milvus.io:18080/jenkins/job/milvus-publish-images/job/master/4083/

[2022-03-29 08:35] jennyli-z commented on #16222
it fixed on master branch，  but the fix break the 2.0.2 branch
https://ci.milvus.io:18080/jenkins/job/milvus-publish-images/job/2.0.2/13/

[2022-03-29 09:46] chuongnvk54 commented on #4430
Hi  had similar problem when inserting string field please let me know when milvus version 2.1 will be released?

[2022-03-29 11:22] OndrejIT opened #16265 "[Bug]: milvus spamming console "no index params in Index file""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

`[DEBUG] [index_coord.go:598] ["IndexCoord GetIndexFilePaths "] [FilePaths="[{\"indexBuildID\":432126842052542466,\"index_file_paths\":[\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"

[2022-03-29 11:52] yanliang567 commented on #16265
@xiaocai2333 could you please take a look at this issue?

/assign @xiaocai2333
/unassign

[2022-03-29 14:26] jaime0815 opened #16272 "[Enhancement]: Remove AsConsumerWithPosition API from MsgStream interface"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Remove consumer API all about consuming from earliest position

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-03-29 15:07] ThreadDao commented on #16114
When I upgrade the existed Milvus cluster with the new image `master-20220329-e2e34507`, the datanode panic
[code]
[datanode.log](https://github.com/milvus-io/milvus/files/8372748/datanode.log)

[2022-03-29 15:50] xiaofan-luan commented on #16114
/assign @xige-16 #15993 seems to break the compatibility

[2022-03-29 15:52] cydrain opened #16275 "[Enhancement]: Re-organize directory core/src"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Under core/src, module dependencies are in chaos
[code]

Suggest to re-organize core/sre to following structure:
[code]

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-03-29 15:53] cydrain commented on #16275
/assign

[2022-03-29 15:56] xiaofan-luan commented on #16114
I

I will fix the issue, pleas open a saperate issue for me~

[2022-03-29 16:02] xiaofan-luan opened #16276 "[Bug]: Stats log support string break the compatibility"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I upgrade the existed Milvus cluster with the new image master-20220329-e2e34507, the datanode panic

1092 time="2022-03-29T14:40:47Z" level=info msg="[Reconnecting to broker in  102.765569ms]" consumerID=6 name=bwqwv subscription=by-dev-dataNode-95-4319063762269

[2022-03-30 02:03] binbinlv commented on #15282
Same error occurs in the following three nightly tests again:
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/429/pipeline/139

1 logs: [both standalone and cluster]
https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/429/artifacts

2 FAILED time:
(1) cluster:
[2022-03-29T15:08:10.833Z] [gw2] [ 24%] FAILED test

[2022-03-30 02:05] binbinlv commented on #15660
Close if for could not reproduce, and will reopen it if it occurs in the future.

[2022-03-30 02:05] #15660 closed

[2022-03-30 02:07] binbinlv commented on #15628
@congqixia @xige-16
How about the fix for this issue?

Thanks.

[2022-03-30 02:08] binbinlv commented on #15866
@jaime0815

How about this issue? If there is no fix plan, and considering it has not been reproduced for a period of time, I will close this issue, thanks.

[2022-03-30 02:15] xiaofan-luan commented on #16276
please verify for it ~ @ThreadDao

[2022-03-30 02:43] WeiDong-Shi opened #16281 "[Bug]: About the continuous increase of querynode memory."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Yesterday, we found that the memory usage of the query node is abnormal. At present, we use the official one million level 128 dimension data. When the data is loaded into the memory, we continue to search and write. The memory continues to grow and does not release.

[2022-03-30 02:58] XuanYang-cn commented on #16114
Yes, line 211 only supports Int64 as PK
[code]

[2022-03-30 03:23] ThreadDao opened #16283 "[Bug]: Datanode panics when upgrading image to version that supports string primary keys"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I upgrade the existed Milvus cluster with the new image master-20220329-e2e34507, the datanode panic
[code]
[datacoord.log](https://github.com/milvus-io/milvus/files/8376769/datacoord.log)

[datanode.log](https://github.com/milvus-io/milvus/files/8376768/datanode

[2022-03-30 03:24] ThreadDao commented on #16114
Done. #16283

[2022-03-30 03:25] cydrain opened #16284 "[Enhancement]: Move bench under unittest"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Move bench under unittest

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-03-30 03:38] LoveEachDay commented on #16258
Seems your milvus cannot contact etcd. Could you login the milvus container or pod, and run `nc -zv etcd 2379` to check the port connectivity?

[2022-03-30 03:55] #15623 closed

[2022-03-30 04:03] #16195 closed

[2022-03-30 05:17] czs007 opened #16286 "[Enhancement]: Use PK index to speed up bitmask generation during query in sealed segment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I would like to use the index of the primary key to speed up bitmask generation during query in sealed segment.

When doing a query,  for the expression "in [pk1, pk2, pk3... pkN]", the current implementation is to traverse all the data in the PrimaryField in the Segment, and

[2022-03-30 06:18] yanliang567 commented on #16281
@WeiDong-Shi besides search and insert, did you do anything frequently? e.g. load and release collection for many times?

/assign @WeiDong-Shi
/unassign

[2022-03-30 06:25] yanliang567 commented on #16281
One more question, which index type did you use, and what are index params?

[2022-03-30 06:25] zhuwenxing opened #16288 "[Bug]: [chaos]Flush hangs with a high probability after datacoord pod recovered from pod kill"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

from `2022/03/30 03:53:06.325 +00:00` to `2022/03/30 03:59:14.467 +00:00`, the output of log in proxy pod all are repeat segments
[code]

### Expected Behavior

all test cases in `verify_all_collections.py` can pass.

### Steps To Reproduce

[code]

### Anything else?

[2022-03-30 06:48] cydrain commented on #16284
/assign

[2022-03-30 07:08] WeiDong-Shi commented on #16281
Index Type: IVF_FLAT
Index Parameters: {"metric_type": "L2", "nlist": 2000}

[2022-03-30 07:10] WeiDong-Shi commented on #16281
Only query and insert, no other operations, only load once, and no multiple loading and release operations.

[2022-03-30 07:21] #16116 closed

[2022-03-30 08:15] dixingxing0 opened #16290 "[Bug]: Fail connecting to milvus server"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When i try to connect milvus, i get this error :
[code]

### Expected Behavior

Connect success without error.

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-03-30 08:28] XuanYang-cn commented on #16288
This issue is caused by this:

1. DataCoord & DataNode watched channel dml_1
2. BEFORE any inserts into **Seg1**, DataCoord crashed, the following inserts are still normal in DataNode. BUT, DataCoord knows nothing about the number of rows updated of **Seg1**.
3. DataCoord recovered AFTER insert is done, seek to the latest position of timetickchannel, still didn't know any updates about **Seg1**
5.

[2022-03-30 09:03] congqixia opened #16291 "[Feature]: Multiple memory replications implementation [QueryNode Part]"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

https://wiki.lfaidata.foundation/display/MIL/MEP+23+--+Multiple+memory+replication+design

### Task List

- [x]  Add grpc interface for Search & Query #16195
- [x]  Add ShardQueryService Implementation #16470
- [x]  Add ShardCluster implementation

[2022-03-30 09:12] yanliang567 commented on #16281
@czs007 could you please take a look at this issue?

/assign @czs007
/unassign

[2022-03-30 12:15] congqixia opened #16297 "[Bug]: tso Unit test fails randomly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Unit test fails randomly in github actions
[code]

### Expected Behavior

Unit test passes

### Steps To Reproduce

[code]

### Anything else?

https://github.com/milvus-io/milvus/runs/5752067568?check_suite_focus=true

[2022-03-30 12:33] XuanYang-cn opened #16298 "[Enhancement]: Memory Replica impl in Proxy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

- [x] Add GetShardLeader rpc in proto

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-03-30 12:34] XuanYang-cn commented on #16298
https://wiki.lfaidata.foundation/display/MIL/MEP+23+--+Multiple+memory+replication+design

[2022-03-30 12:52] letian-jiang opened #16300 "[Enhancement]: Add QueryShardService Implementation in QueryNode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add QueryShardService for shard-level search/query service in QueryNode
* [x] Add interface for `QueryShardService` and `QueryShard`
* [x] Add search/query implementation for shard follower
* [x] Add search/query implementation for shard leader

### Why is this needed?

Suppor

[2022-03-30 13:48] AlviseSembenico commented on #6686
/reopen
I am experiencing the same issue after restart of kubernetes. Version 2.0.1

[2022-03-30 14:15] XuanYang-cn opened #16304 "[Bug]: QueryCoord unittest timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

https://github.com/milvus-io/milvus/runs/5752094065?check_suite_focus=true

![image](https://user-images.githubusercontent.com/51370125/160856021-c1d8f01a-0632-444d-9c2b-ae197a12dff7.png)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

##

[2022-03-31 01:23] yanliang567 commented on #16290
@dixingxing0 how did you deploy the milvus? It is said that you are trying to connect via port 80, could you please share the configurations if there are any customized items?

/assign @dixingxing0
/unassign

[2022-03-31 02:08] binbinlv commented on #15282
Same error occurs in the following two nightly tests again:
1. https://ci.milvus.io:18080/jenkins/blue/organizations/jenkins/milvus-nightly-ci/detail/master/432/pipeline
(1) logs: standalone
[artifacts-milvus-standalone-master-432-pymilvus-e2e-logs.tar.gz](https://ci.milvus.io:18080/jenkins/job/milvus-nightly-ci/job/master/432/artifact/artifacts-milvus-standalone-master-432-pymilvus-e2e-logs.tar.g

[2022-03-31 02:10] zhuwenxing opened #16308 "[Bug]: [Chaos][minio]Load failed when verifying all collections after minio pod recovered from pod kill"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Anything else?

logs:
[artifacts-minio-pod-kill-2418-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8385361/artifacts-minio-pod-kill-2418-server-logs.tar.gz)

[2022-03-31 02:19] zhuwenxing commented on #15966
failed pipeline:
* http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/2416/pipeline
* [artifacts-rootcoord-pod-kill-2416-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8385393/artifacts-rootcoord-pod-kill-2416-server-logs.1.tar.gz)

[2022-03-31 02:53] zhuwenxing commented on #16203
It works well when upgrading to `master-20220330-ffa06c77`. Has any fix been done?

[2022-03-31 02:57] binbinlv opened #16310 "[Bug]: Update pymilvus version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Update pymilvus version

### Expected Behavior

Update pymilvus version

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-03-31 03:08] WeiDong-Shi commented on #16281
- Milvus version: milvus-dev:master-20220316-d65cf530
- Deployment mode(standalone or cluster):cluster
- SDK version(e.g. pymilvus v2.0.0rc2): 2.0.1
- OS(Ubuntu or CentOS): Ubuntu
- CPU/Memory: 16  Intel(R) Xeon(R) Platinum 8374C CPU @ 2.70GHz / 128 G
- GPU:
- Others:

[2022-03-31 03:14] jingkl commented on #16025
Milvus version：2.0.2-20220324-8f4479a4
pymilvus：2.0.2dev9
No problems with the above Milvus version verification, so turn off the issue

[2022-03-31 03:14] #16025 closed

[2022-03-31 03:15] ThreadDao commented on #16283
Repeat with #16276, close it !

[2022-03-31 03:15] #16283 closed

[2022-03-31 03:42] blue216 opened #16313 "[Bug]: errors occur in proxy node when I restart cluster"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When the test computer is restarted, i then restart the cluster ,something error occur in proxy node ,
later I canot  do  loading, search..

![1667F349-4375-49c6-93F0-6B901E09F82B](https://user-images.githubusercontent.com/6317368/160971879-14059c89-bafd-4454-ade3-a67

[2022-03-31 03:56] letian-jiang commented on #16300
/assign @letian-jiang

[2022-03-31 03:57] yanliang567 commented on #16313
@blue216 did you start all the milvus pods or any other pods? and how did you restart them? Generally, Milvus service will come back to healthy, after all the pods come back to running(it might take more seconds if there are some collections need to the loaded after restart)

/assign @blue216
/unassign

[2022-03-31 04:28] blue216 commented on #16313
I start the cluser with 'docker-compose up -d'

[2022-03-31 05:52] xiaofan-luan commented on #16313
usually it is due to some component unable to start.
Please upload detailed logs for further investigation

[2022-03-31 05:59] xiaofan-luan commented on #16281
I guess this probably the go garbage collector issue? The best way to handle this is setup a pod memory limit because so far go didn't support any gc configuration to control total memory usage

[2022-03-31 06:05] blue216 commented on #16313
proxy node lo
[proxy.log](https://github.com/milvus-io/milvus/files/8386407/proxy.log)
g

[2022-03-31 06:17] zhuwenxing commented on #16203
Does it have relation to the PR https://github.com/milvus-io/milvus/pull/16277? @xiaofan-luan
But in this issue, the panic happened in querynode.

[2022-03-31 07:02] StevenSama opened #16320 "[Bug]: Restart QueryNode,Cluster crash!"
### Is there an existing issue for this?

- [ ] I have searched the existing issues

### Environment

[code]

### Current Behavior

restart one of the querynodes and then found that etcd session list have delete that quernode info but when open attu found one bad record ,and the list collections crash.

![image](https://user-images.githubusercontent.com/6235700/160996200-be71f81a-3f97-4e3f-9aa1-2a

[2022-03-31 07:04] Writtic commented on #6162
/reopen

[2022-03-31 07:04] Writtic commented on #15372
/reopen

[2022-03-31 07:15] yanliang567 commented on #16320
looks like a milvus cli issue, @xiaofan-luan could you please find someone help on this issue?

/assign @xiaofan-luan
/unassign

[2022-03-31 07:44] binbinlv opened #16323 "[Bug]: index.drop() lacks of checking whether the index_name is existed of not"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

def drop(self, timeout=None, **kwargs):
        """
        Drop an index and its corresponding index files.
        :param timeout: An optional duration of time in seconds to allow for the RPC. When timeout
                        is set to None, client waits until s

[2022-03-31 07:46] DragonDriver commented on #16323
https://github.com/milvus-io/pymilvus/pull/930 will fix this.

[2022-03-31 08:13] StevenSama commented on #16320
I dont think so, collection cant load or release or query

[2022-03-31 09:23] xiaofan-luan commented on #16320
@StevenSama please offer steven

thought that might be the reason of pulsar backlog full~ can you grep any error related to pulsar back log?
if so you can use https://pulsar.apache.org/docs/en/pulsar-admin/ to cleanup backlog and it should be recovered

[2022-03-31 09:31] AlviseSembenico commented on #16147
Hi, I am having the same problem on K8S after a restart of the service if any collection was already loaded

[2022-03-31 09:33] #16286 closed

[2022-03-31 11:21] #15695 closed

[2022-03-31 11:21] #15679 closed

[2022-03-31 11:21] #15440 closed

[2022-03-31 11:22] #15538 closed

[2022-03-31 11:22] #15666 closed

[2022-03-31 11:22] #15661 closed

[2022-03-31 12:43] longjiquan opened #16330 "[Enhancement]: Search/query plan support string"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

I want to support string in our search/query plan. Include:
- Plan can handle string value;
- Plan parser in proxy can parse string-related operation, such as `Term`, `Compare`, `Range`, `PrefixMatch` and these combinations;
- Physical plan in segcore can execute the string-re

[2022-03-31 12:58] ThreadDao commented on #16276
I haven't reproduced the problem, so I think it's fixed for now

[2022-03-31 13:34] return200 commented on #15607
@zoujialong9012 朋友 怎么构建的 方便分享一下吗

[2022-03-31 14:44] xiaofan-luan commented on #15607
@return200 We are gonna to release Arm support soon!

[2022-04-01 01:28] yanliang567 commented on #16308
@soothing-rain could you please take a look at this issue?
/assign @soothing-rain
/unassign

[2022-04-01 01:54] xTerry opened #16333 "[Feature]: Hope to support arm CPU"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Because localization support is required during the implementation of the project, a large number of servers are arm architecture, so I hope arm can be supported in the next version. Thank you!

### Describe the solution you'd like.

_No response_

[2022-04-01 02:12] congqixia opened #16334 "[Bug]: Datacoord unsubscribe the vchannel instead of pchannel"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When unsubscribing the topic for DataNode, the datacoord uses the vchannel name instead of pchannel

### Expected Behavior

Use pchannel and datanode sub name.

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-04-01 02:14] zhuwenxing opened #16335 "[Bug]: [chaos][pulsar]Create index failed when verifying all collections after pulsar pod recovered from pod kill"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases failed

### Steps To Reproduce

[code]

### Anything else?
failed job: https://github.com/milvus-io/milvus/runs/5776536001?check_suite_focus=true

log:
https://github.com/milvus-io/milvus/suites/5883150109/artifacts/198875

[2022-04-01 02:30] zhuwenxing commented on #16288
It failed again in chaos nightly test
http://10.100.32.144:8080/blue/organizations/jenkins/chaos-test/detail/chaos-test/2441/pipeline

so set this issue as an urgent issue.

[2022-04-01 02:48] binbinlv commented on #15407
Keep open to be fixed.

[2022-04-01 03:25] #16334 closed

[2022-04-01 03:58] congqixia commented on #15724
This feature is under development. Let's keep this issue open.

[2022-04-01 06:35] skye95git opened #16343 "[Bug]: Index out of range"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. After I inserted a few million pieces of data into the collection at once (about 10GB), the search returned an error `Index out of range`. How many pieces of data can I insert at a time? How can I fix this error?
![image](https://user-images.githubusercontent.com/4

[2022-04-01 06:49] czs007 commented on #16211
This is the source and number of each groutine creation：(total goroutines 906)

github.com/apache/pulsar-client-go/pulsar.newPartitionProducer
:176
github.com/milvus-io/milvus/internal/util/flowgraph.(*nodeCtx).Start
:144
github.com/milvus-io/milvus/internal/datanode.newMergedTimeTickerSender
:72
github.com/apache/pulsar-client-go/pulsar.(*producer).runBackgroundPartitionDiscovery
:72
github.com/a

[2022-04-01 09:11] yanliang567 commented on #16343
1. generally, it is recommend not insert more than 256MB data in a single batch.
2. if the multiple indexes have the same index params, it would be okay.
@skye95git could you please upload the milvus log ?

/assign @skye95git
/unassign

[2022-04-01 09:48] StevenSama commented on #16320
I check it every time ,not the pulsar problem, pulsar space is enough and i set the policy to expire auto

[2022-04-01 09:49] StevenSama commented on #16320
I think the problem is the bad querynode info still in the server list ,it should be deleted

[2022-04-01 09:56] yanliang567 commented on #16335
@soothing-rain could you please help on this issue?

/assign @soothing-rain
/unassign

[2022-04-01 10:13] chuzhifeng opened #16345 "[Bug]: 服务启动后，不停的打日志消耗掉服务器所有内存"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[2022/04/01 09:46:51.032 +00:00] [DEBUG] [root_coord.go:1699] [DescribeSegment] [role=rootcoord] ["collection id"=432131636489879553] ["segment id"=432131637014167553] [msgID=0]
[2022/04/01 09:46:51.032 +00:00] [DEBUG] [services.go:616] ["received get flushed segments

[2022-04-01 10:51] skye95git commented on #16343
1. Does `in a single batch` means to execute `collection.insert(data)` once? If yes, 10 GB of data needs to be inserted multiple times.
2. I use the same index parameter, but I still get duplicate index errors after executing `collection.insert(data)` twice.
[code]
I only set the index parameter once and then insert it multiple times. Or do I need to set the index parameter for each insert?

[2022-04-01 10:52] skye95git commented on #16343
1. Does `in a single batch` means to execute `collection.insert(data)` once? If yes, 10 GB of data needs to be inserted multiple times.
2. I use the same index parameter, but I still get duplicate index errors after executing `collection.insert(data)` twice.
[code]
I only set the index parameter once and then insert it multiple times. Or do I need to set the index parameter for each insert?

[2022-04-01 10:57] yanliang567 commented on #16343
1. yes, for now you shall separate the 10GB data into many batches.  BTW, Milvus 2.1 is going to introduce a new feature that would import the data file into milvus directly. I believe this would be a great help to you.
2. No, you just need to set and build the index for one time.

@skye95git  Could you please retry with small batches when inserting?

[2022-04-01 11:03] #15648 closed

[2022-04-01 11:03] #15710 closed

[2022-04-01 11:03] #15703 closed

[2022-04-01 11:03] #15714 closed

[2022-04-01 12:28] return200 commented on #15607
@xiaofan-luan Thanks for your hard work! I'm looking forward to.

[2022-04-01 13:21] saiswagath opened #16349 "[Bug]: I am running into an issue, where I am trying to delete an entity from milvus. I am getting the following error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I created a collection that has 33000 entities. I want to delete a few entities on demand. Before I delete a particular entity, I check if that entity exists in the collection with **collection.query(expr=expr,consistency_level="Strong")** and once it returns list of

[2022-04-01 13:41] YaohangHan commented on #16345
there are two steps to solve the problem:
firstly,
limit max-size and  max-file on docker-compose.yaml when start the milvus service.

secondly,
limit logfilemaxSize on milvus config
https://milvus.io/cn/docs/v2.0.x/configure_log.md#logfilemaxSize

[2022-04-01 13:41] #16276 closed

[2022-04-01 13:47] yanliang567 commented on #16349
sounds like a known issue in 2.0.1. Could you please retry on master or 2.0.2(is going to release in one day or two)
/assign @saiswagath
/unassign

[2022-04-01 13:49] saiswagath commented on #16349
Thanks, @yanliang567, I will keep you posted once I try this out in 2.0.2 release.

[2022-04-01 13:56] xiaofan-luan opened #16351 "[Bug]: TimeTickSync logic msgstream reuse logic is weird"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

We have a refcnt of each msgstream, if refcnt == 0 then close the msgstream.

The problem is  closed stream should be no longer reused by AsProduder, which is really weird.

### Expected Behavior

don't close the stream but only wait for use.

### Steps To Reproduce

[2022-04-02 01:05] yanliang567 commented on #16349
maybe i made mistake. @ThreadDao  could you please help to reproduce this issue on master?

/assign @ThreadDao

[2022-04-02 02:22] #15371 closed

[2022-04-02 02:44] chuzhifeng commented on #16345
感谢大佬，这种方法可以的，但是服务docker部署后重复性的打上面的日志，这个问题正常的吗，你部署后也会不停的打这个日志？

[2022-04-02 03:02] wangting0128 opened #16353 "[Bug]: [benchmark][standalone] Concurrency stability test, Milvus standalone restarts and doesn't recover"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task: benchmark-tag-klql6

test yaml:
client-configmap:testing-scene-test2
server-configmap:server-single-8c32m

server:
[code]

client pod: benchmark-tag-klql6-1294085900

client log:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

[2022-04-02 03:22] #15717 closed

[2022-04-02 03:48] jingkl opened #16356 "[Bug]: [benchmark][cluster] Milvus search reports an error "StatusCode.DEADLINE_EXCEEDED""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo
benchmark-cron-1648828800
server-configmap
server-cluster-8c16m
client-configmap
client-acc-glove-ivf-flat

client log
[code]
server:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Anything else?

client-acc-glove-ivf-flat
[code

[2022-04-02 03:52] jingkl commented on #16356
This issue is the same as issue 16026, which reports the same error

[2022-04-02 03:59] jingkl commented on #16150
Argo
benchmark-cluster-cron-1648846800
server-configmap
server-single-32c128m
client-configmap
client-get-local50m-512

Milvus： master-20220401-5494f3c
pymilvus： pymilvus==2.0.2.dev5

server：
[code]

client log
[code]

[2022-04-02 05:09] #16351 closed

[2022-04-02 06:24] YaohangHan opened #16357 "[Bug]: Milvus standalone pod crashes and not able to recover"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

the docker container named 'milvus-standalone' closed accidently without manual operation.

1.other two containers 'milvus-minio' and 'milvus-etcd', run healthy.

2.docker restart milvus-standalone,  the container will close automatically after a few seconds.

3.when

[2022-04-02 06:35] yanliang567 commented on #16357
@YaohangHan Refer to the logs you attached, it seems that Milvus is building index, so does it the timestamp that it closed accidently? if not, could you please upload the full logs or the timestamp that around the close accident.

[2022-04-02 06:36] yanliang567 commented on #16345
close as comments above

[2022-04-02 06:37] #16345 closed

[2022-04-02 07:02] congqixia opened #16359 "[Enhancement]: Add ShardCluster implementation in QueryNode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add a ShardCluster mains the replica shard meta info and collaborate operations among them

### Why is this needed?

Related Feature #16291

### Anything else?

_No response_

[2022-04-02 07:26] bigsheeper opened #16361 "[Enhancement]: copy constructor of PlaceholderGroup is unnecessary"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

prevent memory copy

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-04-02 08:01] ThreadDao commented on #16114
I deploy a fresh cluster with image 'master-20220401-5494f3c', after datanode and datacoord restart 3 or 4 times because of chaos disk attack, some subscriptions of the offline datanodes were not successfully unsubscribed:
the dataNode 12 is offline
[code]

[2022-04-02 08:16] skye95git commented on #16343
Thanks, I have retry with small batches when inserting. It works.

[2022-04-02 08:33] XuanYang-cn commented on #16298
- [ ] implement query
- [ ] implement search

[2022-04-02 08:56] yanliang567 commented on #16343
great to hear that. I will close this issue then.

[2022-04-02 08:56] #16343 closed

[2022-04-02 09:08] ThreadDao opened #16364 "[Bug]: No new dml channel is created even if the number of channels is less than the dmlChannelNum"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Deploy milvus with default `rootCoord.dmlChannelNum: 256`
2. Create collection with **`shards_num=2`** and insert entities, and the existing collection is as follows:
[code]
3. The dml channel is also increasing as more collections are created. However, until dm_8,

[2022-04-02 09:22] WeiDong-Shi opened #16366 "[Bug]: Failed to load index file: DISK2CPU"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I created three containers, Milvus RO, Milvus RW and mishards. Data written through mishards can be written normally, but the query will report an error status (code = 1, message ='failed to load index file: disk2cpu: failed to load deleted docs from / var / lib / Mil

[2022-04-02 09:46] skye95git commented on #16343
Hi，When I insert a number of batches, the process breaks down:
[code]

[2022-04-02 09:48] andy263 commented on #16288
Is there any change to repair this manuall?

[2022-04-02 10:08] skye95git commented on #15538
1. For example, when I do text search, I calculate the `text` as a vector and insert it into collection. The `text` is metadata. Can Milvus store text in rocksdb?

2. How do you defined vector data, scalar data, and metadata?
<img width="681" alt="7de6675e6bdc3ec7f1a3405e21b0196" src="https://user-images.githubusercontent.com/41561936/161378333-810f6289-d279-4239-8791-5a6f1fed8b73.png">

[2022-04-02 10:19] yanliang567 commented on #16366
@yhmo could you please help on this issue>

/assign @yhmo
/unassign

[2022-04-02 10:26] WeiDong-Shi commented on #16366
This is my configuration. Please help me check if there are any errors.

[config.zip](https://github.com/milvus-io/milvus/files/8402301/config.zip)

[2022-04-02 10:49] WeiDong-Shi commented on #16366
This is my configuration file, which contains the startup script. You can use it to quickly reproduce my situation. At the same time, you have to help to see if there is a problem with my configuration.

[config.zip](https://github.com/milvus-io/milvus/files/8402331/config.zip)

[2022-04-02 10:53] skye95git commented on #16343
@yanliang567    I have another questions:

1. In the https://github.com/milvus-io/bootcamp/blob/master/solutions/text_search_engine/text_search_engine.ipynb, the results of the desired search are stored in `PostgreSQL`:
[code]

In the https://raw.githubusercontent.com/milvus-io/pymilvus/v2.0.1/examples/hello_milvus.py, the results of the desired search are stored in the `collection`:
[code]
In the

[2022-04-02 10:55] #10468 closed

[2022-04-02 12:13] ThreadDao commented on #16349
I'm sorry to say I can't reproduce your problem. Below is my script and output. Maybe you can take a look to provide more diff information. Please rest assured that my milvus image version and pymilvus version are the same as yours. The difference is that I deploy by milvus-operator instead of docker-compose. I guess deployment shouldn't be the problem.
[code]
[code]

[2022-04-03 10:12] #15629 closed

[2022-04-03 12:39] yah01 commented on #13264
/reopen

[2022-04-03 23:22] jaylmilan commented on #16357
I am having the same issue with the version 2.0.2. Milvus standalone pod gets exited when I run any command on  MILVUS_CLI like 1) MILVUS_CLI.create_collection, 2) MILVUS_CLI.load_data(collection_name)

The Milvus standalone pod is up and running after restarting the docker, but automatically gets exited when running anything on MILVUS_CLI

![image](https://user-images.githubusercontent.com/849938

[2022-04-04 01:17] letian-jiang opened #16375 "[Bug]: QueryCollection unit test retrieves no records"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

No records are retrieved in QueryCollection retrieve unit test
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-04-04 09:08] simon-fauconnier commented on #16144
Fixed in milvus 2.0.2 Thanks !

[2022-04-04 09:08] #16144 closed

[2022-04-04 11:32] xiaofan-luan commented on #15877
keep tracking for 2.2

[2022-04-04 11:33] xiaofan-luan commented on #15825
duplicate with #15877 15877

[2022-04-04 11:35] xiaofan-luan commented on #15439
Milvus 2.0.2 should be ready and let us know if you have any problem while upgrade~
Thanks for your patience @Peddle

[2022-04-04 11:36] xiaofan-luan commented on #16357
Seems to be a known issue, please upgrade to 2.0.2 and it should be solved

[2022-04-04 11:38] xiaofan-luan commented on #16357
Hi @jaylmilan, if you are using 2.0.2 you might hit a different issue~
Could you open another issue with detailed milvus log that would be really helpful

[2022-04-04 11:43] xiaofan-luan commented on #15867
keep tracking

[2022-04-04 12:16] jaylmilan opened #16381 "[Bug]: Milvus standalone pod gets exited"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. Docker container named 'milvus-standalone' closes during operations such as for ex., 1) MILVUS_CLI.create_collection, 2) MILVUS_CLI.load_data
2. other two containers 'milvus-minio' and 'milvus-etcd', run healthy.
3. Upon restarting docker, Milvus standalone pod is

[2022-04-04 12:51] xiaofan-luan commented on #16381
@jaylmilan thanks for the detailed bug report, we will work on it

[2022-04-04 12:51] xiaofan-luan commented on #16381
/assign @DragonDriver could you please take a look on it

[2022-04-04 13:07] #16375 closed

[2022-04-04 13:53] cydrain opened #16382 "[Enhancement]: Support Milvus run on Mac"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

By now, Milvus does not support build index on Mac, also not support search with index.
We should let Milvus support build index and search with index on Mac.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-04-04 13:53] cydrain commented on #16382
/assign

[2022-04-04 14:01] xiaofan-luan commented on #16117
Hi Alvise, could you try 2.0.2?

[2022-04-04 14:05] xiaofan-luan commented on #15937
looks like a pulsar issue, did you try to restart pulsar?

[2022-04-04 14:09] xiaofan-luan commented on #16123
if it's float, then it should take around 16g memory, @WeiDong-Shi did you find the reason yet?

[2022-04-04 18:12] saiswagath opened #16384 "[Bug]: Search comes back with empty result when trying to match a existing entity in collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I created a collection that has 33000 entities. Once the entities are successfully inserted, I tried to perform a search by picking one of the existing entities in the collection, but the search comes back with empty result.

Below is my code:

`embed = model.encode(q

[2022-04-04 22:08] airwindk commented on #5115
Hi it seems that the topk limit was reverted back to 16384 in milvus 2.0 - would it be possible to have this expanded to 1M as done in v1.1.1?

[2022-04-05 03:59] #15613 closed

[2022-04-05 03:59] #5218 closed

[2022-04-05 03:59] #15681 closed

[2022-04-05 11:00] haorenfsa commented on #16106
By reading minio's code, I found it's due to the bucket style auto detection of minio client. The minio client supports 2 kinds of bucket style:
1. by url: the client will access the bucket with endpoint `${bucket}.${endpoint}` at the path `/`
2. by path: the client will access the bucket with endpoint `${endpoint}` at the path `/${bucket}/`

The minio client decides which style to use by the give

[2022-04-05 16:41] steve-compass commented on #15133
Hi, a log regarding etcd node running out of space:
`{"level":"warn","ts":"2022-04-04T03:16:37.699Z","caller":"wal/repair.go:80","msg":"failed to copy","from":"/bitnami/etcd/data/member/wal/0000000000000147-0000000000043b21.wal.broken","to":"/bitnami/etcd/data/member/wal/0000000000000147-0000000000043b21.wal","error":"write /bitnami/etcd/data/member/wal/0000000000000147-0000000000043b21.wal.broken

[2022-04-05 22:00] nohack commented on #15558
How does persisting the milvus.yaml in etcd help while upgrades ? When you mean the config needs changes during upgrade, I assume the schema of the config or the keys getting changed ?
Even when we persist the config in etcd, if the config needs to be updated for an upgrade, it should be updated in etcd as well.That would also be the same with external file right ?

[2022-04-06 00:59] yanliang567 commented on #15133
...

@steve-compass sound like you are talking about a new issue, could you please file a new issue for it?

[2022-04-06 01:07] yanliang567 commented on #16384
sounds like a bug.
@binbinlv could you please verify whether it reproduce on master lastest?
/assign @binbinlv
/unassign

[2022-04-06 01:10] yanliang567 commented on #16349
@soothing-rain could you please help to check whether the error msg in logs is normal or not?
/assign @soothing-rain

[2022-04-06 01:12] yanliang567 commented on #16381
/assign @DragonDriver
/unassign

[2022-04-06 01:40] yanliang567 commented on #12598
/assign @cydrain

@cydrain  any plans for this issue

[2022-04-06 01:42] zhuwenxing opened #16389 "[Bug]: [chaos][standalone]Load failed when verifying all collections after standalone pod recovered from pod kill"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases all passed

### Steps To Reproduce

[code]

### Anything else?

log: [artifacts-standalone-pod-kill-2764-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8422884/artifacts-standalone-pod-kill-2764-server-logs.

[2022-04-06 02:19] yanliang567 commented on #16389
/assign @soothing-rain
@soothing-rain could you please hlep on this issue?

/unassign

[2022-04-06 02:33] wangting0128 commented on #15523
argo task: benchmark-cluster-cron-1649106000

test yaml:
client-configmap:client-search-filter-sift50m-ivf-flat-2048,instanceId:5,server-configmap:server-single-16c64m

client pod: benchmark-cluster-cron-1649106000-3716907143

client log:
[code]

server:
[code]

[2022-04-06 02:33] yhmo opened #16391 "[Feature]: Support higher topk value for search()"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Milvus 2.0 has a topk limit of 16,384. Some users have a particular use case that requires higher topk limits.
It would be great if it can be configurated to a higher value in some way.

https://app.slack.com/client/TM98LD8DQ/threads?cdn_fallback=

[2022-04-06 02:34] skye95git opened #16392 "pymilvus.client.exceptions.BaseException: <BaseException: (code=1, message=getSegmentID failed: SegmentIDAllocator failR emainRequest unexpected error)[Bug]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. When I insert a number of batches, the process breaks down:
[code]

2. In the https://github.com/milvus-io/bootcamp/blob/master/solutions/text_search_engine/text_search_engine.ipynb, the results of the desired search are stored in PostgreSQL:
[code]
In the https://

[2022-04-06 02:37] wangting0128 commented on #16150
argo task: benchmark-cluster-cron-1649192400

test yaml:
client-configmap:client-get-local50m-512,instanceId:1,server-configmap:server-single-32c128m

client pod: benchmark-cluster-cron-1649192400-2787668959

client log:
[code]

server:
[code]

monitor:
<img width="1371" alt="截屏2022-04-06 10 37 15" src="https://user-images.githubusercontent.com/26307815/161884756-0e34223d-319e-4c81-846f-fc053332ea

[2022-04-06 02:45] yanliang567 commented on #16392
1. sounds like you are asking about String DataType Support, which would be supported in Milvus 2.1 soon.
2. I think you can try when string dataType supported.
3. For now, you have to link a 3-rd part database for your text, either is okay I think.
4. vector data is an embedding vector, which is defined clear in milvus.io. https://milvus.io/docs/v2.0.x/overview.md#Embedding-vectors
5. scalar data

[2022-04-06 02:46] congqixia commented on #16150
@wangting0128 insufficient memory:
[code]

[2022-04-06 02:47] yanliang567 commented on #16392
@skye95git how big is your every insert batch? it is recommended that not bigger than 256MB for each insert batch.  Could u please retry with latest release v2.0.2?

/assign @skye95git
/unassign

[2022-04-06 03:33] WeiDong-Shi commented on #16123
This problem has not reappeared in the follow-up, and the reason has not been found yet.

[2022-04-06 03:49] wangting0128 opened #16394 "[Bug]: [benchmark][cluster]During the stability test, datacoord's CPU and memory kept going up, not down."
## [Bug]: [benchmark][cluster]CPU of rootcoord keep going up and not going down when doing stability test
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task: benchmark-tag-b8htt

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-cluster-8c64m

client pod: benchmark-tag-b

[2022-04-06 03:58] #16209 closed

[2022-04-06 04:27] 12304212 opened #16396 "[Bug] server hang while insert"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

InsertParam insertParam = InsertParam.newBuilder()
                .withCollectionName(collectionName)
                //.withPartitionName(partitionName)
                .withFields(fields)
                .build();
一次1000条进行insert

### Expected Behavior

[ERROR] [gl

[2022-04-06 05:25] xiaofan-luan commented on #16396
hi @12304212 ,please use issue with a meaningful title,  and also upgrade your serverside log as much as possible.
The log error seems to have nothing to do with insert hang.
What is the error message? and the proxy, datacoord, datanode log?

[2022-04-06 05:28] xiaofan-luan commented on #16384
if that's a bug, then it might be related to growing segment query

[2022-04-06 05:29] xiaofan-luan commented on #16391
No we don't want to support high TopK, instead we want to support range search instead

[2022-04-06 05:31] xiaofan-luan commented on #16364
I will take a look on this issue, thanks @ThreadDao

[2022-04-06 05:32] xiaofan-luan commented on #16333
Hi @Presburger, I know you are doing something related, assigned to you

[2022-04-06 05:32] xiaofan-luan commented on #16333
/assign @Presburger

[2022-04-06 05:48] yanliang567 commented on #16396
@12304212 please help to provide more info as suggested above

/assign @12304212
/unassign

[2022-04-06 06:04] binbinlv commented on #16384
OK, verifying.

[2022-04-06 07:05] binbinlv commented on #16384
Could not reproduce in either master-20220330-40fab914 and latest master build,
@saiswagath
could you please try 2.0.2 build or latest master build, and see if you could reproduce this issue on your side.

And if you could reproduce it in the 2.0.2 or latest master build, please upload the log of milvus at the same time, thanks very much.

My python script trying to reproduce this issue is:
[code]

[2022-04-06 07:08] DragonDriver commented on #16381
@jaylmilan hello, thx for the attention to Milvus community. Could you export the logs of milvus container? If the container was not been removed, you can get the logs by:
[code]
where `254c45d2b03f` is the container id of milvus.

[2022-04-06 07:15] soothing-rain commented on #16211
This is a leak caused by time.Tick function:
https://pkg.go.dev/time#Tick
https://github.com/golang/go/issues/17757

A quick fix was filed: https://github.com/milvus-io/milvus/pull/16346 and has resolved the issue:

![image](https://user-images.githubusercontent.com/69466447/161916645-b38758fa-679e-49a8-94ea-291ddfa4b1d8.png)

[2022-04-06 07:18] #16211 closed

[2022-04-06 07:19] wangting0128 commented on #16211
verify：benchmark-tag-b8htt

[2022-04-06 07:53] yanliang567 commented on #16137
@xqxq-2020 could you please retry with latest release v2.0.2 in a clear env.?

[2022-04-06 08:16] congqixia opened #16399 "[Bug]: master build failed due to conflicts prs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

build milvus failed

### Expected Behavior

succeed to build

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-04-06 08:22] wangting0128 opened #16401 "[Bug]: [benchmark][standalone] CPU of Milvus standalone keep going up and not going down"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task: benchmark-d4l42

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-single-32c128m

client pod: benchmark-d4l42-3286747703

server:
[code]

monitor:
<img width="1373" alt="截屏2022-04-06 16 21 16" src="https://user-images.

[2022-04-06 08:36] congqixia commented on #16356
From the proxy log([link](https://kibana-dev.milvus.io/app/discover#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'2022-03-31T16:00:00.000Z',to:now))&_a=(columns:!(log),filters:!(),index:ad1e1c50-c9d9-11eb-9e1a-b3dcad9693fd,interval:auto,query:(language:kuery,query:'kubernetes.pod_name.keyword%20:%20%22benchmark-cron-1648828800-5-milvus-proxy-778db6c9b9-ktrj5%22%20and%20log%20:%2

[2022-04-06 09:07] wangting0128 commented on #14077
verify：benchmark-d4l42

[2022-04-06 09:07] #14077 closed

[2022-04-06 09:10] wangting0128 commented on #15367
verify： benchmark-tag-b8htt

[2022-04-06 09:10] #15367 closed

[2022-04-06 09:12] wangting0128 commented on #16196
verify tasks：
benchmark-d4l42
benchmark-vt6nd

[2022-04-06 09:12] #16196 closed

[2022-04-06 09:40] skye95git commented on #16392
Thanks  for your reply! I look forward to Milvus 2.1.

[2022-04-06 09:42] skye95git commented on #16392
I tried again and the problem disappeared.

[2022-04-06 09:43] yanliang567 commented on #15658
@sunby but the collections were deleted soon after tested. So when do these memory release?

[2022-04-06 09:44] yanliang567 commented on #15584
@xiaofan-luan do you mean the root cause might be in proxy and coordinator ?

[2022-04-06 09:47] XuanYang-cn commented on #15807
let's keep tracking this issue

[2022-04-06 11:05] xiaofan-luan commented on #15584
What I mean is the rocksmq cache is set to 1G, so by design the standalone process should be take more than 1G cache + Mem store size(Hundred megabytes) + index + temp memory size. So it's very likely that the process will take more than 2GB memory size so I don't think it is a memory leakage.

[2022-04-06 11:06] xiaofan-luan commented on #15584
The overhead of querynode should take 1-2GB memory

[2022-04-06 11:16] xiaofan-luan commented on #16356
emm, why does it take so long to search? what is the data size?

[2022-04-06 11:26] jaylmilan commented on #16381
Here you Go. Thanks

x-special/nautilus-clipboard
copy
file:///home/stocktransform/Desktop/docker_logs

[2022-04-06 11:47] #16399 closed

[2022-04-06 12:57] soothing-rain commented on #15133
Hey you may try increasing ETCD_QUOTA_BACKEND_BYTES setting.

In the meanwhile, we are aware of that Etcd is consuming too much memory and we are looking at ways to resolve this in late Milvus 2.1 release or in Milvus 2.2.

[2022-04-06 14:48] nitinrohan19 commented on #16391
Hi @yhmo @xiaofan-luan can we just make it configurable so that we have the option to extend it whenever needed?

[2022-04-06 14:53] ThreadDao commented on #15665
Not the expected behavior. We are just merging the two types, my understanding is that the merged plan for both types is returned together. Please take a look at the specific @congqixia

[2022-04-06 14:56] ThreadDao commented on #14862
I have updated this test case. There is no such problem now, so I closed the issue

[2022-04-06 14:56] #14862 closed

[2022-04-07 02:23] WeiDong-Shi commented on #16366
I found the reason for this problem. It's my configuration problem. I didn't look at our architecture diagram by myself.

[2022-04-07 02:23] #16366 closed

[2022-04-07 02:29] jingkl commented on #16356
data size is 1183514

[2022-04-07 02:52] jingkl commented on #15806
keep it open

[2022-04-07 02:52] jingkl commented on #15874
keep it activate

[2022-04-07 03:10] soothing-rain commented on #16349
@saiswagath Don't worry about the logs. Those are not really errors.

We will decrease the log level of those logs. Thanks!

[2022-04-07 03:41] jiaminger opened #16411 "[Bug]: proxy not healthy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

When I do connection and create collection, <BaseException: (code=1, message=proxy not healthy)> happens, the error msg as follows:
RPC error: [has_collection], <BaseException: (code=1, message=proxy not healthy)>, <Time:{'RPC start': '2022-04-07 12:19:04.199833', 'RP

[2022-04-07 03:50] zhuwenxing opened #16412 "[Bug]: [chaos] Create index failed after etcd pod recovered from network latency chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

all test cases passed

### Steps To Reproduce

[code]

### Anything else?

log：
[artifacts-etcd-network-latency-2869-server-logs.tar.gz](https://github.com/milvus-io/milvus/files/8439473/artifacts-etcd-network-latency-2869-server-logs.1.

[2022-04-07 03:55] jiaminger commented on #16411
I can't find a solution, I use apt remove and apt install again. The problem is solved temporarily, I don't know why.

[2022-04-07 04:54] dixingxing0 commented on #16290
I think this issue should be closed, the port 80 is nginx port, we use nginx to proxy the milvus port as http port (which is not http port).

[2022-04-07 04:54] #16290 closed

[2022-04-07 05:36] yanliang567 commented on #16412
@DragonDriver could u please help in this issue?
/assign @DragonDriver
/unassign

[2022-04-07 06:48] wangting0128 opened #16413 "[Bug]: [benchmark][cluster] Minio crash and querynode restart, client connection raise error: proxy not healthy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task: benchmark-cluster-cron-1649278800

test yaml:
client-configmap:client-search-locust,instanceId:3,server-configmap:server-cluster-8c16m

client pod: benchmark-cluster-cron-1649278800-2687487343

client log:
[code]

server:
[code]

### Expected Behavior

_No

[2022-04-07 06:57] wangting0128 commented on #15924
argo task: benchmark-tag-wc7dl

test yaml:
client-configmap:client-random-locust-search-84h-1b
server-configmap:server-cluster-8c64m-datanode2-indexnode4-querynode6

client pod: benchmark-tag-wc7dl-3533326851

client log:
[code]

server:
[code]

[2022-04-07 07:08] OndrejIT commented on #15966
I have the same problem..

[2022-04-07 07:37] wangting0128 commented on #10079
lets keep it for tracking

[2022-04-07 09:10] keotic commented on #16208
Hi
Any updates on this issue?
For an assessment of Milvus it is important to know if there is a bug in the metric and distance calculations

[2022-04-07 09:19] #16392 closed

[2022-04-07 09:50] ThreadDao commented on #15744
I reproduced this issue in v2.0.1, v2.0.2 and  `master-20220407-e2eed6fd` versions with the follow script.
it's odd that if I query after delete, I get correct results for search after the new insert. @dkubatinI suggest you try adding a query operation after the delete or wait for the fixed version
[code]
I will add corresponding test cases `test_delete_insert_same_id_sealed` in `test_delete.py` f

[2022-04-07 10:18] ThreadDao opened #16417 "[Bug]: Getting empty results when querying with id that was deleted but inserted again"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

1. The test case in `test_delete.py`
[code]
2. The case running results. If you run the test case you will find that the test case will pass if and only if
 `to_query=True, to_flush=False`. I am desperate to know why.
[code]

### Expected Behavior

_No response_

###

[2022-04-07 10:28] xiaofan-luan commented on #15966
can you share how to reproduce and log for rootcoord, datacoord and datanode?

[2022-04-07 10:48] jingkl commented on #15593
Argo
benchmark-no-clean-mrg6t-1
server-configmap
server-cluster-dn2c10g-in8c32g-qn8c32g
client-configmap
pre2.0-client-locust-concurrent-search-sift1m-ivf-flat-2048-clientnum20

Milvus:master-20220407-e2eed6fd
pymilvus==2.1.0.dev18

<img width="1355" alt="截屏2022-04-07 18 45 25" src="https://user-images.githubusercontent.com/34296482/162182161-c1af861c-3912-44de-b594-6b1cfa4deb07.png">

Proxy memor

[2022-04-07 11:42] #12152 closed

[2022-04-07 11:42] #12701 closed

[2022-04-07 11:43] yanliang567 commented on #16417
@soothing-rain could u please take a look at this issue?

/assign @soothing-rain
/unassign

[2022-04-07 12:22] DragonDriver commented on #16381
@jaylmilan Apologies for the late reply, I've been busy with some features of Milvus. And sorry that I can't figure out why Milvus pod exited according to the logs you provided. The log indicates Milvus is healthy. Maybe you can try to dump the logs next time when Milvus exited, not when Milvus is healthy. thx.

[2022-04-07 13:30] #15793 closed

[2022-04-07 13:30] #15610 closed

[2022-04-07 13:59] cydrain commented on #16275
Move boost_bitset_ext to utils

[2022-04-08 02:46] wangting0128 opened #16423 "[Bug]: [benchmark][standalone] RpcError in the first search: _MultiThreadedRendezvous: StatusCode.DEADLINE_EXCEEDED, Deadline Exceeded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task: benchmark-cron-1649347200

### scene 1
test yaml:
client-configmap:client-acc-sift-ivf-flat,instanceId:1,server-configmap:server-single-8c16m

client pod: benchmark-cron-1649347200-1665149048

client log:
[code]

server:
[code]

### scene 2
test yaml: clien

[2022-04-08 02:52] wangting0128 commented on #16413
argo task: benchmark-cluster-cron-1649365200

test yaml: client-configmap:client-search-locust,instanceId:3,server-configmap:server-cluster-8c16m

server:
[code]

[2022-04-08 02:56] wangting0128 commented on #16423
argo task: benchmark-cluster-cron-1649365200

test yaml:
client-configmap:client-search-filter-sift50m-ivf-flat-2048,instanceId:5,server-configmap:server-single-16c64m

client pod: benchmark-cluster-cron-1649365200-2101369294

client log:
[code]

server:
[code]

[2022-04-08 03:33] cydrain commented on #16364
/assign

[2022-04-08 07:14] JackLCL opened #16425 "[Enhancement]: The issue template needs to add Milvus log."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

When a user reports a bug in an issue, in addition to "Environment", "Current Behavior", "Expected Behavior", and "Steps To Reproduce", a "Milvus log" needs to be added to the issue template.

![image](https://user-images.githubusercontent.com/53512883/162382819-86855bd6-7f67-

[2022-04-08 07:28] yanliang567 commented on #16425
Any one please feel free to assign to yourself if you are interested in fixing this issue.

[2022-04-08 07:29] wangting0128 opened #16426 "[Bug]: [benchmark][cluster] CreateCollection failed: send dd create collection req failed, error = message send timeout: TimeoutError"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task: benchmark-tag-kwrkj

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-cluster-8c64m

client pod: benchmark-tag-kwrkj-3572773167
client log file: locust_report_2022-04-06_868.log

**A few occasional errors in concurrent

[2022-04-08 07:33] wangting0128 opened #16427 "[Bug]: [benchmark][standalone] RpcError: _MultiThreadedRendezvous: StatusCode.DEADLINE_EXCEEDED, Deadline Exceeded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

argo task:  benchmark-tag-8fgt5

test yaml:
client-configmap:client-random-locust-100m-ddl-r8-w2
server-configmap:server-single-32c128m

client pod: benchmark-tag-8fgt5-4039138332
client log file: locust_report_2022-04-06_665.log

**A few occasional errors in concurre

[2022-04-08 07:35] yhmo opened #16428 "[Feature]: A sdk interface to check milvus server health status"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Need an interface in milvus sdk where I could check if the milvus service is ready to accept requests. RPC call is hanging because milvus appears to not be fully up yet. By the new interface I can pause client until Milvus is properly running.

##

[2022-04-08 07:45] jaime0815 opened #16429 "[Bug]: querynode retrieve core dump randomly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I am not sure it is related to dmlChannelNum configuration within milvus.yaml,  the following error will occur randomly when set to 4 and run e2e  tests.

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No resp

[2022-04-08 07:46] binbinlv opened #16430 "[Bug]: Test case “test_index_process_collection_indexing” should be modified to check the complete progress of index until specified timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Test case “test_index_process_collection_indexing” checks the index progress using "(0 < res['indexed_rows'] <= nb)" which would leads failure as 0

### Expected Behavior

Test case “test_index_process_collection_indexing” should be modified to check the complete prog

[2022-04-08 07:56] ThreadDao opened #16431 "[Bug]: [nightly] Case failed for index process assert"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Case `test_index_process_collection_indexing` failed https://ci.milvus.io:18080/jenkins/blue/rest/organizations/jenkins/pipelines/milvus-nightly-ci/branches/master/runs/448/nodes/62/steps/160/log/?start=0
[code]

### Expected Behavior

_No response_

### Steps To Repr

[2022-04-08 08:00] xiaofan-luan commented on #15939
keep it on track

[2022-04-08 08:02] ThreadDao commented on #16431
Repeat with #16430 , so close it.

[2022-04-08 08:02] #16431 closed

[2022-04-08 08:38] soothing-rain opened #16433 "[Bug]: Proxy unit tests should not be stateful."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Unit tests on proxy `go test -race -v ./internal/proxy` will persist states in Pulsar. As a result if the unit test succeed in creating a collection A but failed in dropping it. Collection A will then persist and will disrupt future unit test run (e.g. show collection

[2022-04-08 08:45] #15593 closed

[2022-04-08 08:46] jingkl commented on #15593
Need to add default configuration, already done

[2022-04-08 08:54] #15808 closed

[2022-04-08 09:54] #15038 closed

[2022-04-08 09:56] yanliang567 commented on #16427
/assign @sunby
@sunby could you please help to take a look at this issue?

/unassign

[2022-04-08 09:57] yanliang567 commented on #16426
@soothing-rain could you please help on this issue?

/assign @soothing-rain
/unassign

[2022-04-08 09:58] yanliang567 commented on #16413
/assign @congqixia
@congqixia could you please help to take a look at this issue

/unassign

[2022-04-08 10:36] huaihkiss opened #16437 "[Feature]: search_by_distance needs to return all data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

We retrieve all pictures whose distance is greater than a certain threshold according to the image features, but because the parameters in the api have a limited number, we cannot get all the pictures that exceed this threshold.
Is it possible to

[2022-04-08 12:06] cydrain opened #16440 "[Feature]: Enable to config index file slice size"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

When index serialization, index file is disassembled to multiple blocks, then write to disk or minio.
Each block's size is hard coded to 4M.
We'd better let this block size configurable.

### Describe the solution you'd like.

_No response_

### D

[2022-04-08 12:06] cydrain commented on #16440
/assign

[2022-04-08 14:19] #10754 closed

[2022-04-08 14:19] #14888 closed

[2022-04-08 14:19] #12176 closed

[2022-04-08 14:19] #12210 closed

[2022-04-08 14:20] #12585 closed

[2022-04-08 14:20] #12635 closed

[2022-04-08 14:20] #15833 closed

[2022-04-08 14:20] #7690 closed

[2022-04-08 17:14] #16440 closed

[2022-04-08 17:49] cydrain commented on #16364
need check whether it's caused by #16352

[2022-04-09 03:25] #12632 closed

[2022-04-09 04:44] cydrain commented on #16364
see many error logs like following:
[code]

[2022-04-09 05:25] #15609 closed

[2022-04-09 06:02] matrixji opened #16443 "[Bug]: MinGw CI Pipeline not stable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

Knowhere 1.1.2 was introduced, and CMake was refactored. The workaround for Knowhere+MinGw needs to be updated.

### Expected Behavior

N/A

### Steps To Reproduce

[code]

### Anything else?

_No response_

[2022-04-09 06:02] matrixji commented on #16443
/assign

[2022-04-09 06:03] matrixji commented on #16443
/unassign @yanliang567

[2022-04-09 08:46] xiaofan-luan commented on #16437
We are planning to support range search in next big release(2.2, targeting at July)
If anyone interested please take it, faiss itself already support range search

[2022-04-09 08:50] xiaofan-luan opened #16446 "[Feature]: Support share msgstream for different collections/partitions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

So far we create msgstream for each collection, this has following issues:
1) waste kafka/pulsar ios
2) longer recovery speed
3) can not support load partition one by one.

### Describe the solution you'd like.

My propose is to support share one

[2022-04-09 09:20] xiaofan-luan opened #16447 "[Bug]: Rename cache size to memory size"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

So far we have a parameter in querynode named cache size, and it is deprecated.

Actually it should be named as memory size, and this should set the actual memory limit of a querynode.

Memory size can be used as set estimated segment memory consu

[2022-04-09 09:25] xiaofan-luan commented on #15558
What we want to introduce is a dynamic config center.
For example, due to some reasons I changed timetick.interval from 100ms to 1s
On the next update I use the latest code, as well as the latest configuration, then the config change lost.
So persistent all customized configs into etcd help on that.
Another feature of the config center is to notify the config change dynamiclly(with some cmd line o

[2022-04-09 09:30] #15622 closed

[2022-04-09 12:57] #15848 closed

[2022-04-09 12:57] #15837 closed

[2022-04-09 15:49] xiaofan-luan opened #16448 "[Bug]: Remove duplicated TT send"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

seems that currently rootcoord sendTimeTick has done a meanigless tt send, no one is using root coord timetick channel
![0usING9xDz](https://user-images.githubusercontent.com/83447078/162581415-b04e03db-1faf-4f24-b79b-ad11f4b32f3a.png)

### Expected Behavior

tt is on

[2022-04-10 01:30] xiaofan-luan commented on #15873
keep tracking

[2022-04-10 03:11] #12478 closed

[2022-04-10 08:42] #15619 closed

[2022-04-10 08:43] houlang commented on #15711
我是蒋孝乐。已经收到您的来信，我会尽快回复。

[2022-04-10 11:35] #15871 closed

[2022-04-10 19:07] nohack commented on #15558
Just want to add few points

a) If a user edits some property as u said timetick.interval in milvus.yaml and when he upgrades milvus and during the upgrade if milvus overrides the users current milvus.yaml with a new config file altogether, then this could be an issue.But generally this is more dependent on how milvus handles upgrades and in an ideal case I think the users current config file shou

[2022-04-10 23:58] #15850 closed

[2022-04-11 01:57] zhuwenxing commented on #16145
Not reproduced yet, so remove the urgent label.

[2022-04-11 03:09] xiaofan-luan commented on #15558
1.Yep， My priority would be config in etcd > config in system environment>  config in yaml file > default config
2. postgresql.auto.conf is just like what I mentioned, since Milvus is a distributed system, a file may not be enough thus we use etcd.

Generally I guess you get what I mean, let me know if you have any other suggestion or question on it~

[2022-04-11 06:38] zhuwenxing opened #16450 "[Bug]: [chaos]Create index failed after some pod recovered from pod kill chaos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

[code]

### Expected Behavior

All test cases passed

### Steps To Reproduce

[code]

### Anything else?

failed job： https://github.com/zhuwenxing/milvus/runs/5963012983?check_suite_focus=true
log: https://github.com/zhuwenxing/milvus/suites/6065732931/artifacts/2095

[2022-04-11 06:55] zhuwenxing commented on #16450
This issue also happened if some other pod was killed. such as minio, etcd, proxy, querynode.

The failed jobs are listed as follow
* minio https://github.com/zhuwenxing/milvus/runs/5874136920?check_suite_focus=true
* querynode https://github.com/zhuwenxing/milvus/runs/5874136739?check_suite_focus=true
* standalone https://github.com/zhuwenxing/milvus/runs/5874136254?check_suite_focus=true
* proxy

[2022-04-11 07:03] #16430 closed

[2022-04-11 07:12] avsolatorio opened #16451 "[Bug]: [flush state] unflushed segment ids loop on restart and non-responsive to gRPC client"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Environment

[code]

### Current Behavior

I created six collections in my app, and it works well the first time the data are inserted into the index. However, when I restart the app, the application hangs. I checked Milvus, and I found that it seems to show the log below continuously repeatedly:

[code]

Even

[2022-04-11 07:19] zhuwenxing commented on #16288
This issue also happened if some other pod was killed, such as datacoord, datanode, rootcoord.
* datacoord
    *  https://github.com/milvus-io/milvus/runs/5839160678?check_suite_focus=true
    *  https://github.com/milvus-io/milvus/runs/5873998600?check_suite_focus=true
* datanode
    * https://github.com/milvus-io/milvus/runs/5863529570?check_suite_focus=true
    * https://github.com/milvus-io/mi